[2020-09-07 12:43] adamsitnik commented on #5152
I've sent a PR to improve the docs: https://github.com/dotnet/dotnet-api-docs/pull/4817

[2020-09-07 18:55] mairaw commented on #5160
Can you let us know what's the issue you're having with the tutorial?

[2020-09-07 18:57] mairaw commented on #5129
Can you let us know what issue you're having with installation?

[2020-09-07 18:58] mairaw commented on #5027
We have deployed a fix. Please let us know if you're still having issues.

[2020-09-07 18:58] #5027 closed

[2020-09-07 18:58] mairaw commented on #5082
We have deployed a fix. Please let us know if you're still having issues with the tutorial.

[2020-09-07 18:58] #5082 closed

[2020-09-07 18:59] mairaw commented on #5072
Can you share some screenshots of the command window and the browser window so we can try to see what's going on?

[2020-09-07 19:03] mairaw commented on #5031
I'm a bit confused since the tutorial doesn't use .net v4.5 and it's not about an IDE.

If this is an issue with Visual Studio, I'd recommend filing an issue at https://developercommunity.visualstudio.com/spaces/8/index.html.

[2020-09-07 19:04] mairaw commented on #5025
We deployed a fix to that page. Let us know if you're still having issues.

[2020-09-07 19:04] #5025 closed

[2020-09-07 19:05] mairaw commented on #5021
@blowdart is this something you can help with?

[2020-09-07 19:06] mairaw commented on #5019
@dagood @leecow can you help with this issue?

[2020-09-07 19:08] mairaw commented on #5011
I think we'd need more information to be able to help you. What do you have so far? Where exactly are you stuck on your code? Where do you need help?

[2020-09-07 19:08] mairaw commented on #4988
We have deployed a fix to that page. Please let us know if you're still having issues.

[2020-09-07 19:08] #4988 closed

[2020-09-07 19:09] mairaw commented on #4961
Did you cd into myApp folder as shown in the create step?
https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create

[2020-09-07 19:11] mairaw commented on #5001
Are you sure you have it installed? You can check on the install locations to see if the runtime/sdk is installed on your machine
https://docs.microsoft.com/en-us/dotnet/core/install/how-to-detect-installed-versions?pivots=os-windows#check-for-install-folders

[2020-09-07 19:14] mairaw commented on #4612
Are you still having issues or can this be closed?

[2020-09-07 19:19] mairaw commented on #4551
@Tratcher is this something you can help with?

[2020-09-07 19:20] mairaw commented on #4698
I'm assuming the issue was resolved, but please let us know otherwise.

[2020-09-07 19:20] #4698 closed

[2020-09-07 19:24] mairaw commented on #4166
Issue 3 is solved. Do we still want to do this for 1 and 2?

[2020-09-07 19:38] satoryosuke4 commented on #4612
Hello,

Yes, that work, now i can display the current time with the message Hello world.

Provenance : Courrier<https://go.microsoft.com/fwlink/?LinkId=550986> pour Windows 10

De : Maira Wenzel<mailto:notifications@github.com>
Envoyé le :lundi 7 septembre 2020 21:14
À : dotnet/core<mailto:core@noreply.github.com>
Cc : Sato Ryosuke<mailto:satoryosuke4@outlook.fr>; Author<mailto:author@noreply.gith

[2020-09-07 21:26] blowdart commented on #5021
No.

[2020-09-07 21:56] #4612 closed

[2020-09-07 21:56] mairaw commented on #4612
Great to hear!

[2020-09-07 22:12] Tratcher commented on #4551
When binding to localhost Kestrel will bind separately to IPv4 (127.0.0.1) and IPv6 (::1) and warn if one of them fails. The server should still work if at least one of them succeeds.
https://github.com/dotnet/aspnetcore/blob/a190fd34854542266956b1af980c19afacb95feb/src/Servers/Kestrel/Core/src/LocalhostListenOptions.cs#L39-L61

Your system may have IPv6 disabled, or something else may be using th

[2020-09-08 05:08] NourMH opened #5167 "'dotnet' is not recognized as an internal or external command, operable program or batch file."
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
'dotnet' is not recognized as an internal or external command,
operable program or batch file.

[2020-09-08 09:21] eiriktsarpalis commented on #5152
I think we can close this issue then?

[2020-09-08 09:26] 3222368840 opened #5168 "dotnet命令无法使用"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: linux

bash: /home/xdy/dotnet/dotnet：无法执行二进制文件: [可执行文件格式错误

[2020-09-08 09:27] adamsitnik commented on #5152
I would wait a day or two to hear back from @nvrnight

[2020-09-08 10:37] AdamRiddick commented on #5123
Other than IIS, there's nothing we know of that may be relying on ANCM.

On a machine where it succeeds, the VersionDatabase entry is:

`MSI (c) (3C:40) [11:11:44:794]: PROPERTY CHANGE: Adding VersionDatabase property. Its value is '400'.`

No errors are logged, but I am seeing some warnings with the RestartManager - Nothing we don't see on a server where the installation succeeds;

| Level | Sour

[2020-09-08 14:21] dagood commented on #5019
@tarekgh may be able to help.

[2020-09-08 16:55] tarekgh commented on #5019
@qyangaa this means the ICU library is not correctly installed on your system.

could you please send the output of the execution steps https://github.com/dotnet/core/blob/master/Documentation/build-and-install-rhel6-prerequisites.md?rgh-link-date=2020-08-04T23%3A33%3A28Z#troubleshooting?

[2020-09-08 17:20] omajid commented on #5158
I think it's a documentation bug. It should be clarifying that `Hidden` is a file attribute that's returned on Linux, but can't be set explicitly. That same page says:

(I am not sure the second sentence is correct, tbh, but I dont use macOS.)

"Hiding" files works by renaming the files on Linux. I am not sure how the `Hidden` attribute could be set without modifying the file name on Linux.

[2020-09-08 17:39] rbhanda opened #5170 ".NET Core September 2020 Update - 2.1.22 and 3.1.8"
[3.1.8 Release Notes](https://github.com/dotnet/core/blob/master/release-notes/3.1/3.1.8/3.1.8.md)
[3.1.8 Download](https://www.microsoft.com/net/download/dotnet-core/3.1)

[2.1.22 Release Notes](https://github.com/dotnet/core/blob/master/release-notes/2.1/2.1.22/2.1.22.md)
[2.1.22 Download](https://www.microsoft.com/net/download/dotnet-core/2.1)

**Blog posts**

[.NET Core](https://devblogs.micro

[2020-09-08 17:40] rbhanda commented on #5057
closing in favor of https://github.com/dotnet/core/issues/5170

[2020-09-08 17:40] #5057 closed

[2020-09-08 20:21] speed2048 commented on #5158
Shouldn't the runtime throw an notSupportedException regardless of what the documentation says?

[2020-09-08 21:56] #5133 closed

[2020-09-09 08:33] fwd079 commented on #5170
First link in [release notes](https://github.com/dotnet/core/blob/master/release-notes/3.1/3.1.8/3.1.8.md) (blog roundup) is a circular reference.

[2020-09-09 10:28] adamsitnik opened #5176 "The status of ARM32 support on Windows"
The 3.1 doc mentions that Windows ARM32 is supported:

https://github.com/dotnet/core/blob/master/release-notes/3.1/3.1-supported-os.md

The 5.0 doc mentions that it's no longer supported:

https://github.com/dotnet/core/blob/master/release-notes/5.0/5.0-supported-os.md#support-changes-from-net-core-31

But we are still producing an installer for it:

https://github.com/dotnet/installer

![obraz](

[2020-09-09 10:43] jehof commented on #5170
I´m missing the docker image **3.1.8-alpine**. Was there a change? We have always used the **xxx-alpine**-Image

[2020-09-09 11:52] Tridy opened #5177 "Linux Mint 20 is not supported by the .NET 5 Preview installer"
# Issue Title

Not possible to install .NET 5 Preview 8 on Linux Mint 20

# General

using the instructions on the page:
https://github.com/dotnet/core/blob/master/release-notes/5.0/preview/5.0.0-preview.8-install-instructions.md

and based on the information from the Supported OS:
https://github.com/dotnet/core/blob/master/release-notes/5.0/5.0-supported-os.md

Linux Mint is supported from the ve

[2020-09-09 12:23] KoromaruKoruko opened #5178 "System.Linq.Enumerable partial fake type???"
# General

I'm writing a TypeResolver for use in a AOT-security plugin system that would allow a .net DLL to be scanned for all references and call-tree's crawled. while making this i have came across an interesting thing that i would assume is a bug. The `System.Linq.Enumerable` type is a strange special type.
[code]

![image](https://user-images.githubusercontent.com/17232928/92597584-e7c30780-f

[2020-09-09 12:35] #5178 closed

[2020-09-09 12:35] KoromaruKoruko commented on #5178
nvm, i had miss took the Linq Library to be in mscorelib.dll

[2020-09-09 14:45] dagood commented on #5177
@leecow @rbhanda Can we add Mint detection to the script? I'd expect the Ubuntu deb packages to work on Mint.

/cc @dleeapho @MikeCodesDotNET

[2020-09-09 18:38] perlun commented on #4542
Again, bumped into this on Debian Buster and discovered this GitHub issue. With the packages from .NET Core 3.1 SDK installed, I get this exact error and can reproduce the error easily:

## Using `apt` - fails as above

[code]

## Using `dpkg` - works fine

If I instead switch to using `dpkg` instead of `apt` (which feels more natural with local packages IMHO), it works flawlessly:

[code]

If som

[2020-09-09 18:42] perlun commented on #4542
Update: I discovered the `--verbose-versions` flag in `apt`, which gives us this, shedding some further light on this weird, weird issue:

[code]

This almost feels like a bug in `apt-get` to me. If someone feels like it, it would make sense to report this to Debian upstream as well.

[2020-09-09 19:09] dagood commented on #4542
I don't think we can just do this: `dotnet-runtime-deps-5.0` depends on distro-provided library packages that need to be installed from the distro repositories for .NET to be able to run. My understanding is that `dpkg` would just complain, then you'd have to install all those packages manually and run the script again, or something like that.

This is interesting though, and maybe a hybrid/more c

[2020-09-09 19:46] perlun commented on #4542
Very good point. I agree, flawed logic on my behalf. :see_no_evil:

I looked a bit more now and here is the URL to the "official", released version of this package (coming from `packages.microsoft.com`):

[code]

Do note the MD5 checksum there at the end (`83005b6765f03ca8c6d07d9b01b3ad71`).

But if I check with the package being downloaded from this script:

[code]

...it's something completely d

[2020-09-09 19:55] #3873 closed

[2020-09-09 19:55] teo-tsirpanis commented on #5178
`Type.GetType` accepts an _assembly-qualified_ name, containing both the type's name and the assembly it resides.

You should write `Type.GetType(Enumerable_type.AssemblyWualifiedName)` instead, in the third line.

[2020-09-09 20:11] dleeapho commented on #4542
PTAL @rbhanda

[2020-09-09 22:21] carlossanlop commented on #3966
Tagging area owners @ajcvickers @cheenamalhotra @david-engel to help with this issue.

[2020-09-09 22:22] scalablecory commented on #3971
Looks like these pages were updated; thanks.

[2020-09-09 22:22] #3971 closed

[2020-09-09 22:23] carlossanlop commented on #3955
@BenVillalobos can this be closed, or should it be moved to MSBuild?

[2020-09-09 22:24] carlossanlop commented on #3911
Closing this issue since it has been answered.

[2020-09-09 22:24] #3911 closed

[2020-09-09 22:26] scalablecory commented on #3554
@KathleenDollard have we made any docs updates for this? Can this be closed?

[2020-09-09 22:27] scalablecory commented on #3854
Looks like this was answered; closing out.

[2020-09-09 22:27] #3854 closed

[2020-09-09 22:29] scalablecory commented on #3987
Hi @AlirezaAlipour, are you still having this issue? If so, can you please provide some project files that we can look at? Thanks.

CC @safern

[2020-09-09 22:30] carlossanlop commented on #4009
Answered. Closing.

[2020-09-09 22:30] #4009 closed

[2020-09-09 22:30] #4020 closed

[2020-09-09 22:30] carlossanlop commented on #4000
Closing due to lack of response.

[2020-09-09 22:30] #4000 closed

[2020-09-09 22:32] scalablecory commented on #4027
Seems like this might be a renamed type and a template that wasn't updated. Hopefully this is solved by now -- @Pilchie do you remember anything around this?

[2020-09-09 22:33] scalablecory commented on #2598
@dagood do we have someone else who can close the loop here?

[2020-09-09 22:36] scalablecory commented on #4040
@nefcanto are you still having this issue? If so, please provide a sample project. Thanks.

It looks like others have found this to be an issue with [stale files](https://github.com/dotnet/core/issues/1006#issuecomment-617429920).

[2020-09-09 22:36] carlossanlop commented on #4044
Go to Tools -> Options -> Debugging -> Symbols.
Make sure you have "Microsoft Symbol Servers" and NuGet.org Symbol Servers" checked, so the symbol files get downloaded.

[2020-09-09 22:38] carlossanlop commented on #4054
Translation:

Dupe of: https://github.com/dotnet/core/issues/3943

[2020-09-09 22:38] #4054 closed

[2020-09-09 22:40] scalablecory commented on #4094
I'm going to close this issue -- I don't think it makes sense for us to implement, for reasons given by @blowdart. Thanks.

[2020-09-09 22:40] #4094 closed

[2020-09-09 22:42] scalablecory commented on #4064
@mairaw this looks like an improvement we can make to our tutorials.

[2020-09-09 22:43] carlossanlop commented on #4104
Answered. An app cannot be created in that folder.

[2020-09-09 22:43] #4104 closed

[2020-09-09 22:43] scalablecory commented on #4103
Looks like you found a solution, closing.

[2020-09-09 22:43] #4103 closed

[2020-09-09 22:44] carlossanlop commented on #4071
Ping @shirhatti

[2020-09-09 22:45] carlossanlop commented on #4152
The tutorial seems to be correct now.

[2020-09-09 22:45] #4152 closed

[2020-09-09 22:46] scalablecory commented on #4154
@wli3 @dsplaisted can you help here? Thanks.

[2020-09-09 22:46] carlossanlop commented on #4160
No answer since January. Closing.

[2020-09-09 22:46] #4160 closed

[2020-09-09 22:48] scalablecory commented on #4157
@v-kyljon did @jaredpar's answer help you with this? Can we close? Thanks.

[2020-09-09 22:50] Pilchie commented on #4027
@danroth27 @SteveSandersonMS @mkArtakMSFT ?

[2020-09-09 22:50] scalablecory commented on #4183
When you bind to localhost, you can only connect via localhost addresses -- not addresses that are routable on your network. You should specify either "any" address or the IP specifically.

[2020-09-09 22:50] #4183 closed

[2020-09-09 22:51] scalablecory commented on #4201
Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-09-09 22:53] scalablecory commented on #4207
@jeffschwMSFT can you take a look at this?

[2020-09-09 22:54] scalablecory commented on #4031
@jashook @safern is this something you can help with? Thanks.

[2020-09-09 22:55] scalablecory commented on #4204
Glad you were able to solve this. Closing.

[2020-09-09 22:55] #4204 closed

[2020-09-09 22:55] scalablecory commented on #4222
Closing due to lack of response.

[2020-09-09 22:55] #4222 closed

[2020-09-09 22:57] scalablecory commented on #4214
@kingsleyfrancis were you able to resolve this? It looks like your dependencies were not updated to support netcoreapp2.2 and maybe you should try their .NET Standard versions instead.

[2020-09-09 22:59] scalablecory commented on #4228
Not processing a catch block makes sense here -- these errors are _fatal_ i.e. your program state is now invalid and a catch block can't reasonably do anything or be expected to still work.

Your workaround (launching a process to monitor your process) seems reasonable to me. @jeffschwMSFT do we have some other event logging or anything that would help here?

[2020-09-09 23:04] scalablecory commented on #4210
It looks like your app is still running (maybe CI?) while you're trying to build, so the build process can't replace files with new ones.

To close out the old build processes, you can run `dotnet build-server shutdown` as documented here: https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-build-server

[2020-09-09 23:04] danroth27 commented on #4027
Hi @toshiossada. Could you please try installing the latest .NET Core 3.1 SDK (version 3.1.400 or later) and see if that addresses the issue you're seeing?

[2020-09-09 23:06] scalablecory commented on #4235
It looks like there is little interest here in ~6 months, so I'm closing this.

[2020-09-09 23:06] #4235 closed

[2020-09-09 23:07] scalablecory commented on #4209
@ericstj seems like we should update this sample for 5.0. It still references 2.1.

[2020-09-09 23:10] carlossanlop commented on #3697
@dlevitan6623 seems to be answered.

[2020-09-09 23:10] #3697 closed

[2020-09-09 23:11] omajid commented on #4235
We, Red Hat, are also interested in some of this.

SPDX identifiers would just be perfect, but we also care about lower hanging fruit when it comes to licenses, such as https://github.com/dotnet/aspnetcore/issues/25076 and now-resolved issues like https://github.com/dotnet/runtime/issues/27111https://github.com/dotnet/runtime/issues/2540. Some repos, [such as vstest, even license components under

[2020-09-09 23:12] scalablecory commented on #4260
have you been able to resolve this? if not, can you please paste your model class in here? Thanks. CC @Pilchie

[2020-09-09 23:13] carlossanlop commented on #4271
@tommcdon @jashook can you please take a look?

[2020-09-09 23:14] scalablecory commented on #4048
@dagood has this been resolved? Thanks.

[2020-09-09 23:15] carlossanlop commented on #4093
@mateoatr did you get a chance to take a look?

[2020-09-09 23:16] carlossanlop commented on #4323
Please open an issue in the NuGet repo.

[2020-09-09 23:16] #4323 closed

[2020-09-09 23:18] scalablecory commented on #3402
@radical was this resolved?

[2020-09-09 23:19] scalablecory commented on #4336
CC @wli3 @dsplaisted

[2020-09-09 23:21] scalablecory commented on #4353
Seems like this might be either a temporary issue (network error etc.), or a misconfiguration of docker (no networking support) -- have you been able to resolve this?

CC @MichaelSimons

[2020-09-09 23:24] carlossanlop commented on #4346
There's this note before the example:

Area owners of System.Reflection.Emit should update the code example,  @steveharter @GrabYourPitchforks.

I'm moving this issue to dotnet-api-docs.

[2020-09-09 23:42] mairaw commented on #4064
@Rick-Anderson @scottaddie can you please take a look? Should we move this to the docs repo?

[2020-09-09 23:43] mairaw commented on #3554
Pinging @tdykstra too

[2020-09-09 23:49] ebonat commented on #4260
Yes and thank you!

Cheers

Ernest Bonat, Ph.D.
Senior Software Engineer
Senior Data Analyst

On Wed, Sep 9, 2020 at 4:12 PM Cory Nelson <notifications@github.com> wrote:

[2020-09-10 00:04] tommcdon commented on #4271
Thank you for the feedback.  UWP issues are tracked as Azure DevOps issue.  If you are running into .NET native issues, please see https://docs.microsoft.com/en-us/visualstudio/ide/feedback-options.

[2020-09-10 00:04] #4271 closed

[2020-09-10 00:55] ericstj commented on #5167
That would occur if you didn't successfully install the DotNET SDK or didn't launch a new command-prompt after installing.

Can you confirm that you installed the SDK successfully?  You can check for `C:\Program Files\dotnet\dotnet.exe` to confirm.

If not present, ensure you've run https://download.visualstudio.microsoft.com/download/pr/9706378b-f244-48a6-8cec-68a19a8b1678/1f90fd18eb892cbb0bf75d9

[2020-09-10 02:06] Rick-Anderson commented on #4064
YEs

[2020-09-10 04:16] #5041 closed

[2020-09-10 04:22] GrabYourPitchforks commented on #5021
@wstaelens Please clarify the problem you are encountering. Are you receiving a compiler error, a runtime exception, or something else? Take note that the particular ctor overload you are calling doesn't exist in .NET Core 3.1. You can choose from [one of the other available overloads](https://docs.microsoft.com/en-us/dotnet/api/system.security.principal.windowsidentity.-ctor?view=netcore-3.1) ins

[2020-09-10 04:23] GrabYourPitchforks commented on #5022
Please clarify the problem you're experiencing so that we can route the issue appropriately. Are you receiving a runtime exception? (If so, please provide the exception message and repro code.) Are you receiving no exception at runtime but still seeing incorrect behavior?

[2020-09-10 04:31] GrabYourPitchforks commented on #4820
This question involves Visual Studio / .NET Full Framework question and is out of scope for the dotnet/core repo. The best place to receive assistance for Visual Studio questions is the forum at https://developercommunity.visualstudio.com/. You can also file an issue directly from within Visual Studio by using the reporting mechanism described [here](https://docs.microsoft.com/en-us/visualstudio/i

[2020-09-10 04:31] #4820 closed

[2020-09-10 04:32] wli3 commented on #4154
You can move this issue to dotnet/sdk. I am not sure we should fix this. And if there is an easy fix. SDK uses MSBuild underneath, it makes a lot of things easier but it also makes some things hard to control. This behavior is how msbuild property flows.

[2020-09-10 04:33] GrabYourPitchforks commented on #4739
@purisha Can you please clarify the error you're receiving? Be sure to include your operating system version, __exact error message__, code sample, and anything else that is relevant.

[2020-09-10 04:33] #4709 closed

[2020-09-10 04:34] wli3 commented on #4336
Please move this issue to dotnet/sdk

[2020-09-10 04:36] jtorjo commented on #4271
@tommcdon I don't understand. It's useless for me to ask this question on the VS2019 app. Where I am I supposed to ask it, if not here?

[2020-09-10 06:31] florenzen opened #5179 ".NET 5 and Windows Embedded Standard 7 support"
# .NET 5 and Windows Embedded Standard 7 support

I would like to know if .NET 5 will officially supports Windows Embedded Standard 7. I know, the Windows 7 extended support period has ended a while ago but there are still appliances running on Windows Embedded Standard 7 that also receive (paid) support. We are working with this kind of system in an industrial context and are currently developing

[2020-09-10 09:50] #4260 closed

[2020-09-10 09:51] SteveSandersonMS commented on #4027
The type `RenderTreeBuilder` should be in the namespace `Microsoft.AspNetCore.Components.Rendering`, *not* `Microsoft.AspNetCore.Components.RenderTreeBuilder`. We moved it a really long time ago - before ASP.NET Core 3.0 shipped last November.

Since you're getting this error, it suggests you're trying to use some really old pre-3.0 preview versions of the framework libraries. So I agree that @dan

[2020-09-10 13:30] Gerappa92 opened #5180 "Charset and problem with ReadAsStringAsync"
# Charset and problem with ReadAsStringAsync

Problem with read a content from external API

# General

I'm developing application in .net core 2.2.
I use external API and I had a problem with reading a response content as a string.
In response in content headers i get ContentType like this: {application/json; **charset="utf-8"**} where the charset is cause of my problem.
When I'm trying to read a

[2020-09-10 13:34] kingsleyfrancis commented on #4214
@scalablecory Yeah had to upgrade the project to .netcore 3.1. Thanks

[2020-09-10 13:45] jfalameda opened #5181 "SSL error when updating to .NET core 3.1"
Hi,

We are using .NET core on an API gateway in combination with service fabric. As a result of upgrading .NET core from 2.0 to 3.1 https has stopped working.

This is an extra of a CURL call displaying the error:

[code]

It is an issue hard to reproduce. Could this be caused by an incompatibility with the service fabric listeners? I see that TSL1.3 has being enforced.

Any ideas?

Thanks,
José.

[2020-09-10 13:48] jfalameda opened #5182 "SSL errror when upgrading to .NET core 3.1"
Hi,

We are using .NET core on an API gateway in combination with service fabric. As a result of upgrading .NET core from 2.0 to 3.1 https has stopped working.

This is an extra of a CURL call displaying the error:

[code]

It is an issue hard to reproduce. Could this be caused by an incompatibility with the service fabric listeners? I see that TSL1.3 has being enforced.

Any ideas?

OS: Windows S

[2020-09-10 14:01] UserIsAmitHasan commented on #5114
Unable to publish .net 5 preview 8 Blazor Webassembly App (Asp.Net Core Hosted) . Nuget cannot resolve dependencies.

Error Message while publishing self contained app:
Failed to download package 'Microsoft.NETCore.App.Runtime.win-x86.5.0.0-preview.8.20407.11' from 'https://api.nuget.org/v3-flatcontainer/microsoft.netcore.app.runtime.win-x86/5.0.0-preview.8.20407.11/microsoft.netcore.app.runtime.w

[2020-09-10 14:39] dagood commented on #4048
It hasn't, as far as I know. Moving this to dotnet/aspnetcore as the installer mentioned is built there, and there's also https://github.com/dotnet/installer/issues/2453 tracking the same issue in dotnet/installer for the SDK installer.

[2020-09-10 14:44] dagood commented on #2598
Transferring to dotnet/installer to track the issue.

[2020-09-10 15:31] AlirezaAlipour commented on #3987
Thank @scalablecory very much, at the moment I'm using Xubuntu 20.04.1 and I have not experienced any problem with .NET Core SDK, unfortunately I can't say whether the problem still exists on Ubuntu 19.04 or not.

[2020-09-10 15:50] ericstj commented on #5163
@marcpopMSFT this looks like a problem with the template factoring in Visual Studio, can you help route?

[2020-09-10 15:57] shivanshsen7 commented on #5163
Repaired it via visual studio installer and it worked

Shivansh Sen
India

On Thu, Sep 10, 2020, 21:20 Eric StJohn <notifications@github.com> wrote:

[2020-09-10 17:09] marcpopMSFT commented on #5163
@shivanshsen7 thanks for confirming.  Tracking down install issues can be difficult.  @joeloff for visibility but I would close this unless we get more comments from other users indicating a more widespread problem.

[2020-09-10 17:58] tdykstra commented on #3554
I created an issue in the docs repo for the doc update.

[2020-09-10 18:00] ericstj commented on #4361
I bet the code coverage tools are just looking at the metadata.  The compiler generates a nested class in this case which [won't have that attribute on it](https://sharplab.io/#v2:C4LglgNgNAJiDUAfAAgJgIwFgBQyAMABMugHQAyYAdgI4DcOOaAzAQN44GcEdcDaxJACJgAhgHNKAewDOwMAGNpJAMKSYAUwCClERACe0sEoCiAD3kQArhoBiAJ0kBbVRtUA3dXfHqAuj07ILMQAbEQALASaAEaSlsAAFACU/mwpXARuInYEEEbABAC8BJTqAO5E6GHkeQA8xHgAfEn02OnpubIk

[2020-09-10 18:58] valdisiljuconoks commented on #1725
yeah! this solved problem in our case! thx

[2020-09-10 20:19] safern commented on #4031
@davidwrighton is this something your team can help with this?

[2020-09-10 21:13] svick commented on #4094
@alaskanrogue If you're talking about HTTPS, then that secures communication from the client machine to the server machine. But it doesn't prevent somebody with access to the client machine to get to that information.

If you're giving a binary to someone, you should assume that they can understand what exactly that binary can do. No amount of "encryption" (but it is more accurate to call it obfus

[2020-09-11 01:33] GrabYourPitchforks commented on #5181
Dupe of https://github.com/dotnet/core/issues/5182.

[2020-09-11 01:33] #5181 closed

[2020-09-11 01:35] GrabYourPitchforks commented on #5179
/cc @leecow @richlander who should have a definitive answer.

[2020-09-11 01:49] GrabYourPitchforks commented on #5147
`BinaryFormatter` usage is forbidden within ASP.NET 5.0+ applications by default. See https://aka.ms/binaryformatter and the [5.0 breaking change docs](https://docs.microsoft.com/en-us/dotnet/core/compatibility/3.1-5.0#binaryformatter-serialization-methods-are-obsolete-and-prohibited-in-aspnet-apps) for more information, including steps to re-enable this behavior via config.

The best course of ac

[2020-09-11 01:49] #5147 closed

[2020-09-11 03:17] AbelSaul opened #5183 "I can't run the following command"
I can't run this command, blank spaces appear when I put the $ sign in the password.

Before
Scaffold-DbContext "Server=tcp:iappserver.database.windows.net,1433;Initial Catalog=demo;Persist Security Info=False;User ID=demo;Password=demo$$240;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" Microsoft.EntityFrameworkCore.SqlServer -F

After
Scaffold-Db

[2020-09-11 04:04] GrabYourPitchforks commented on #5183
__\$__ represents a variable in Powershell, and if it appears in a string containing double-quotes like `"Hello, $Name!"` substitution will be performed during evaluation. Use single quotes instead of double quotes to avoid the substitution process and to treat embedded \$ characters as literals. See https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_quoting_r

[2020-09-11 04:04] GrabYourPitchforks commented on #5183
/cc @AndriySvyryd just in case he has anything to add.

[2020-09-11 04:47] SatishMHiremath opened #5184 "Docker Image Creation Issue in Windows 10"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/docker-image
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

C:\Users\UserName\workspace\ApplicationName\Application>docker image build -t appln .
Sending build context

[2020-09-11 05:11] jehof opened #5185 "alpine-image for ASP.NET Core 3.1.8 is missing"
We generally use the basic alpine-Image of ASP.NET CORE. But since 3.1.8 the tag **3.1.8-alpine** is missing. Is this intentional? What tag should be used instead?

This is the list of existing 3.1.8 tags, taken from https://mcrflowprodcentralus.data.mcr.microsoft.com/mcrprod/dotnet/core/aspnet?P1=1599802058&P2=1&P3=1&P4=d2h2d6ybZGX%2F3r038Ud6sHD%2FqKX3fLjrBil%2B%2BxkbHrk%3D&se=2020-09-11T05%3A27%

[2020-09-11 08:36] Timka654 opened #5186 "Creating directory on windows error"
This problem have in all code language on Windows, but on dotnet you can add solution for this

example
static void Main(string[] args)
{
    List<string> names = new List<string>()
    {
        "Alex",
        "Kate \\ ABBC"
    };

    string pc;

    foreach (var item in names)
    {
        pc = Path.Combine(Directory.GetCurrentDirectory(), item);
        Directory.CreateDirectory(pc);

[2020-09-11 08:37] jfalameda commented on #5182
I did some investigation and my previous HTTPS endpoint is returning plain HTTP. Below an extract of the code where the listeners are implemented in case it helps.

[code]

[2020-09-11 10:46] adamsitnik commented on #5152
I am closing due to lack of response from @nvrnight

@nvrnight if you can repro the problem using the app that I've provided or switching to `ArgumentList` does not help, please feel free to reopen the issue

[2020-09-11 10:46] #5152 closed

[2020-09-11 14:33] jfalameda commented on #5182
I found the cause. Inforcing the usage of TLSv1.2 solved the issue.

[code]

[2020-09-11 14:34] #5182 closed

[2020-09-11 15:04] safern commented on #3987
From reading the threads you included on the issue this is not an MSBuild or .NET Core SDK issue, it seems like this was an Ubuntu bug in the kernel that was exposing an error via MSBuild. Closing the issue, please feel free to re-open if you think this should be opened and investigated further.

[2020-09-11 15:04] #3987 closed

[2020-09-11 19:19] carlossanlop commented on #5176
@echesakovMSFT @kunalspathak @BruceForstall

[2020-09-11 19:21] carlossanlop commented on #5168
Translation:

@3222368840 On which step of the tutorial did you encounter this problem? Did you download the correct dotnet SDK version for your computer architecture?

[2020-09-11 19:26] carlossanlop commented on #5158
This is a known issue which we have open in dotnet/runtime: https://github.com/dotnet/runtime/issues/37301
We had a fix for it but had to back it out because it introduced a perf regression. We are working on addressing it again.
Closing this issue in favor of that one.

[2020-09-11 19:26] #5158 closed

[2020-09-11 20:21] davidwrighton commented on #4031
I'm not familiar with dotnet store, but @mangod9 can probably assign someone to research this.

[2020-09-11 20:34] BruceForstall commented on #5176
It's still useful to build it for our own internal testing/debugging purposes, as a proxy for Linux/arm32 testing (it's much easier for our dev workflow in some cases). I'm not sure we need the full installer for that, but we do need a dotnet/runtime build. So it might not be worth the effort to actively remove functionality that already basically works.

[2020-09-11 20:55] GrabYourPitchforks commented on #5176
Just to confirm - it sounds like we're producing a Win-arm32 build for testing purposes, but we __do not__ support production use of that runtime. Is my understanding correct?

[2020-09-11 21:11] BruceForstall commented on #5176
@GrabYourPitchforks I believe that statement is correct. I'll leave it to @richlander to confirm.

[2020-09-11 21:26] mangod9 commented on #4031
Yeah I can have someone investigate. @kosmakoff are there specific repro steps for this?

[2020-09-11 21:44] GrabYourPitchforks commented on #5176
Just to clarify, there are two separate questions being considered in this thread.

* __If my OS is Windows 10 arm32, can I deploy a .NET 5.0 app to it?__ Answer: no, per [this page](https://github.com/dotnet/core/blob/master/release-notes/5.0/5.0-supported-os.md#support-changes-from-net-core-31).

* __If my OS is Windows 10 arm64, can I deploy a .NET 5.0 arm32-based app to it, relying on the OS's

[2020-09-11 21:59] BruceForstall commented on #5176
The answer is also no: Windows arm32-on-arm64 requires a Windows arm32 runtime, and that is not supported.

[2020-09-12 01:06] magole opened #5188 "System.Net.Http.HttpRequestException is not marked as [Serializable]"
This issue is related to [this issue](https://github.com/dotnet/runtime/issues/16055).

Projects like [Orleans](https://dotnet.github.io/orleans/) require types and especially exceptions to be serializable. Most .NET Core exceptions are already marked as such.

The ask is to mark **HttpRequestException** as **[Serializable]** and add the requisite protected ctors.

[2020-09-12 07:00] kosmakoff commented on #4031
@mangod9 I've just tried those steps from the initial post, and they are still valid, i.e. `dotnet store` fails on them.

1. Have Ubuntu 18.04.3 LTS installed in WSL2 in Winows 10. On top of that there is a dotnet SDK version `3.1.100`.

2. Create the file named `store_broken.manifest` with following contents.

[code]

3. Execute the command:

`dotnet store --manifest ./store_broken.manifest --out

[2020-09-12 08:16] nefcanto commented on #4040
No I don't have it now, and I don't remember how it got solved.

[2020-09-12 16:16] #5136 closed

[2020-09-12 21:19] mairaw commented on #4040
So we'll close it since you got it resolved.

[2020-09-12 21:19] #4040 closed

[2020-09-12 22:09] joshudson opened #5189 "Support Trimming over a set of output binaries rather than just a single one"
# Issue Title

Support Trimming over a set of output binaries rather than just a single one

# General

Apologies if this is the wrong repo to file this feature request in. I kind of think this is a wide-scope issue.

We've been looking at different things when planning the migration from .net core 3.1 to .net core 5.

Our current build process publishes a bunch of different exe packages, then goe

[2020-09-13 11:59] Mohamed-Abubucker opened #5190 "Asp.net core web api hosted as windows service stucks at startup."
# Asp.net core web api hosted as windows service stucks at startup.

I have created an Asp.net core web api (with Reactjs) application and hosted as windows service. My Operating system is Windows 10 x64.  During the application startup, sometime it takes more time, so windows service is marked as not responding and failed to start.

# General

Asp.net core version: v3.1.1
Target Framework: v3.1
T

[2020-09-13 15:36] challengelogic opened #5191 "error converting YAML to JSON: yaml"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/deploy-microservice-tutorial/deploy
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Error on step: **kubectl apply -f deploy-myMicroservice.yaml**

Error output: C:\Users\Darren\myMicroservic

[2020-09-13 18:04] mairaw commented on #5191
@nishanil @shirhatti can you help here?

[2020-09-13 18:06] mairaw commented on #5184
@nishanil @shirhatti can you help with this issue?

[2020-09-13 18:06] mairaw commented on #5163
Closing for now, but we can reopen if we get more comments.

[2020-09-13 18:06] #5163 closed

[2020-09-13 18:07] mairaw commented on #5138
Forgot to paste the link to the article: https://docs.microsoft.com/en-us/dotnet/core/install/how-to-detect-installed-versions?pivots=os-linux

[2020-09-13 18:10] mairaw commented on #4959
So did you download the SDK as instructed in the install step? This article might help you determine that:
https://docs.microsoft.com/en-us/dotnet/core/install/how-to-detect-installed-versions?pivots=os-macos

[2020-09-13 18:11] mairaw commented on #4911
So if you turn off translation on the site you're running, then you don't get the error?

/cc @danroth27

[2020-09-13 18:13] mairaw commented on #4909
Thanks @danroth27. Closing this issue then. @madhunepal let us know if you were able to finish the tutorial now.

[2020-09-13 18:13] #4909 closed

[2020-09-13 18:13] #4908 closed

[2020-09-13 18:14] mairaw commented on #4905
Did you manage to complete the tutorial @shaungibson1?

[2020-09-13 18:15] mairaw commented on #4865
@nishanil @shirhatti can you help with this issue?

[2020-09-14 03:34] adegeo commented on #5179
All of the KB downloads seem to be missing.

[2020-09-14 05:42] shirhatti commented on #5184
Closing as a dupe of https://github.com/dotnet/core/issues/3798

tl;dr: It's an upstream docker issue with some known work-arounds

[2020-09-14 05:42] #5184 closed

[2020-09-14 05:43] shirhatti commented on #5191
@challengelogic Please share the contents of your `deploy-myMicroservice.yaml`?

[2020-09-14 06:12] Feanorek opened #5192 "File.Exists returns true, but File.Encrypt throws IOException: Element not found"
# File.Exists returns true, but File.Encrypt throws IOException: Element not found

Due to increased security criteria in my application I need to encrypt multiple files on startup. However, It seems to be impossible, and exception message does not indicate actual reason - on the contrary, it seems to be plain wrong.

# General
In `Program.cs` during application startup following method is called:

[2020-09-14 06:27] Saxomania opened #5193 "Not an real issue, i would prefer MSI instead of EXE"
isnt possible to provide MSI instead of EXE installer? Would make my life easier in deploying .net core...

[2020-09-14 07:49] challengelogic commented on #5191
Its identical to the one in the documentation step.

I managed to solve the issue by putting the original YAML code into a JSON converter, then updating the JSON side 9f code with my github location ID and then copying the newly created YAML file from the converter.

https://www.json2yaml.com/convert-yaml-to-json

I then pasted the new YAML code into VS Code and ran the command listed in the docum

[2020-09-14 07:51] shirhatti commented on #5191
Can you share the yaml that worked for you?

[2020-09-14 07:53] challengelogic commented on #5191
I will. I'll need to do the step again. Will send later

Sent from Samsung Mobile on O2

-------- Original message --------
From: Sourabh Shirhatti <notifications@github.com>
Date: 14/09/2020 08:51 (GMT+00:00)
To: dotnet/core <core@noreply.github.com>
Cc: Darren Pritchard <darren@theitcontractor.co.uk>, Mention <mention@noreply.github.com>
Subject: Re: [dotnet/core] error converting YAML to JSON:

[2020-09-14 09:05] preetipadalia opened #5194 "Unable to identify objects in UIAutomation"
# Issue Title

Unable to identify objects in UIAutomation

# General

.net core version: 3.1.302

We have migrated from net472 to .net core 3.1 recently. most of the things are working with UIAutomation but some objects which have spaces in name in actual are not identifiable.

Also, the scroll bar page down and page up button which are identifiable using Inspect and Microsoft accessibility tool a

[2020-09-14 10:53] rfinorf commented on #4911
Yes, in that case, it works fine.

[2020-09-14 10:59] CrazyAlex25 opened #5195 "System.IO.IOException: Syntax error in file name, folder name, or volume label"
System.IO.IOException: Syntax error in file name, folder name, or volume label

FileInfo or File.Open add base directory to fullpath.
Example: Directory = {C:\Users\User\Desktop\CApp1\CApp1\bin\Debug\netcoreapp3.1\‪C:\Windows}

[code]
![Безымянный](https://user-images.githubusercontent.com/1247023/93078045-d65c6f80-f69a-11ea-88c9-73e82d9a0f06.png)

[code]

[2020-09-14 11:34] CrazyAlex25 commented on #5195
I get same error in net core 3.1.8
[code]

![Безымянный](https://user-images.githubusercontent.com/1247023/93081060-b54a4d80-f69f-11ea-8997-b2631553b93c.png)

[2020-09-14 11:41] CrazyAlex25 commented on #5195
If i run on net framework 4.7.2 i get  System.NotSupportedException: "The given path format is not supported."
[code]

[2020-09-14 13:47] CrazyAlex25 commented on #5195
I rollback latests windows updates and update VC redist. And the problem is solved

[2020-09-14 13:48] #5195 closed

[2020-09-14 16:27] boroil030160 opened #5196 "app in start no open browser"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-09-14 16:38] Youssef1313 opened #5197 "Extra parenthesis in dotnet.microsoft.com code"
The footer in dotnet.microsoft.com has the following HTML:

[code]

There are extra parentheses after `id="someId"` and before the `>`

[2020-09-14 17:25] rbhanda opened #5200 ".NET 5 RC 1"
[Release Notes](https://github.com/dotnet/core/blob/master/release-notes/5.0/preview/5.0.0-rc.1.md)

Please report any issues you find with .NET 5, either responding to this issue, creating a new issue or creating a new issue in one of the following repos:

* [dotnet/aspnetcore](https://github.com/dotnet/aspnetcore/issues) - for ASP.NET Core questions
* [dotnet/efcore](https://github.com/dotnet/ef

[2020-09-14 17:29] martincostello opened #5202 "5.0 RC1 installer fails"
# 5.0 RC1 installer fails to install

Trying to install the .NET 5 RC1 x64 SDK from `https://download.visualstudio.microsoft.com/download/pr/4a5cbbd8-0dc0-4340-a5df-6b143c4057b8/d4529217f26acc908a5800d13744c189/dotnet-sdk-5.0.100-rc.1.20452.10-win-x64.exe
` fails - it appears that the MSI is not Authenticode signed.

If Smart Screen warnings are ignored, the installer fails with an error.

Screens

[2020-09-14 17:30] martincostello commented on #5202
Forgot screenshot of the missing _Digital Signatures_ tab:

![image](https://user-images.githubusercontent.com/1439341/93118526-580ec600-f6b8-11ea-8b5d-d09271713702.png)

[2020-09-14 17:31] martincostello commented on #5202
/cc @rbhanda

[2020-09-14 17:35] SalvadorSarpi commented on #5200
same as #5202.
i've had no problem with preview versions in the past, but rc1 sdk wont install on my windows dev machine (windows 10 pro, preview 8 installed and working).

![image](https://user-images.githubusercontent.com/12118077/93118776-2a655500-f697-11ea-9346-86c1c5eebea3.png)

[code]

[2020-09-14 17:38] rbhanda commented on #5200
Hi @SalvadorSarpi we are in the process of republishing the files. I will update the issue once it is resolved.

[2020-09-14 18:02] mairaw commented on #5197
Thanks @Youssef1313. I'll have to investigate this problem since that part of the code is generated by an internal tool.

[2020-09-14 18:15] ViktorHofer commented on #4361
The most popular cross-plat code coverage tool is [coverlet](https://github.com/coverlet-coverage/coverlet) which we also use in dotnet/runtime. This issue should probably be filed against them. cc @tonerdo @MarcoRossignoli

[2020-09-14 18:19] MarcoRossignoli commented on #4361
@AliRafiee1 are you using Coverlet?that scenario should be covered today, feel free to open an issue there if you need!

[2020-09-14 19:03] hayashida-katsutoshi opened #5205 "StreamReader.Read does not throw any exceptions when TCP/IP connection lost on Linux"
# StreamReader.Read does not throw any exception when TCP/IP connection lost on Ubuntu 20.04.

# General

When you use System.Net.Sockets.TcpListener and StreamReader.Read, the Read method generates System.IO.IOException on Windows 10, when network disconnection occurs. The error message is "Unable to read data from the transport connection: A socket operation was attempted to an unreachable netwo

[2020-09-14 20:16] rbhanda commented on #5200
Hi,
The files are updated on https://github.com/dotnet/core/blob/master/release-notes/5.0/preview/5.0.0-rc.1.md
We are in the process of updating them on [dot.net](https://dotnet.microsoft.com/download/dotnet/5.0)

[2020-09-14 20:19] martincostello commented on #5202
Resolved by #5206.

[2020-09-14 20:19] #5202 closed

[2020-09-14 20:28] SalvadorSarpi commented on #5200
working fine now!

[2020-09-14 20:51] #5154 closed

[2020-09-14 21:21] helios2052 commented on #5200
I noticed that in both my upgraded app and in the sample RC1 blazor-wasm hosted template (w/auth), it will startup and run ok the first time, but throws an exception on the next and subsequent startups w/debugging.

It seems like possibly this error only happens if you stop the app/browser by pressing "stop debugging" in visual studio and then re-launch. If you close the browser directly, visual s

[2020-09-14 22:25] NetMage commented on #5192
The error message is the Win32 error message from the Window API `EncryptFileW` function. It basically does the same as setting the encrypt attribute on the file. What happens if you check that manually in File Explorer?

[2020-09-14 22:57] captainsafia commented on #5200
@helios2052 Thanks for reporting this. It's a known issue with .NET 5 RC1. We migrated to a new debugging server that was set to use static port 9300. This issue will be fixed in RC2 ([ref](https://github.com/dotnet/runtime/pull/41715)).

In the meantime, I recommend ensuring that no process is running on port 9300 before starting debugging and killing it if so. .NET 5 RC2 will listen on a dynamic

[2020-09-14 23:02] rbhanda commented on #5200
https://github.com/dotnet/core/issues/5200#issuecomment-692361736

[2020-09-14 23:28] mairaw commented on #5197
The team is aware of the issue and should deploy a fix tomorrow.

[2020-09-15 02:53] srinivasjuluri1224 commented on #2473
Error response from daemon: Dockerfile parse error line 1: unknown instruction: <!DOCTYPE
I am receiving this error when I am building my docker image

[2020-09-15 03:02] srinivasjuluri1224 commented on #2473
perfect its working now

[2020-09-15 04:26] Feanorek commented on #5192
It fails with exactly same error message. Well, it seems it is not problem with .NET Core itself, but with OS Configuration. I will check it with Sysadmins. Thank you for help

[2020-09-15 04:26] #5192 closed

[2020-09-15 04:34] camerontbelt commented on #2448
Im adding my comment for posterity. The issue I had was that visual studio had put the .csproj file too deep in the path inside the Dockerfile

Ex.
`FROM mcr.microsoft.com/dotnet/core/aspnet:3.1-buster-slim AS base
WORKDIR /app
EXPOSE 80
EXPOSE 443

FROM mcr.microsoft.com/dotnet/core/sdk:3.1-buster AS build
WORKDIR /src
COPY ["**_MyApp_**/MyApp.csproj", "MyApp/"]
RUN dotnet restore "MyApp/MyApp.cs

[2020-09-15 07:31] nohwnd commented on #4361
@jakubch1 could you have a look, or delegate to someone who knows CC in our team please?

[2020-09-15 09:40] leonardder commented on #5013
Is this still in scope for .NET 5.0?

[2020-09-15 09:49] fhnaseer commented on #4361
@AliRafiee1 You can add CompilerGeneratedAttribute in the [runsettings ](https://docs.microsoft.com/en-us/visualstudio/test/customizing-code-coverage-analysis?view=vs-2019) to disable code coverage for lambda functions.
`<Attribute>^System\.Runtime\.CompilerServices\.CompilerGeneratedAttribute$</Attribute>`

Important Note: If you exclude the CompilerGeneratedAttribute attribute, code that uses la

[2020-09-15 12:06] jannavarro commented on #4584
@bugrakosen Good day. It seems issue has been closed without answer. I'm interested to know how you solved this?

[2020-09-15 12:26] suleymanoz commented on #5200
Hi,
We are using protobuf-net.grpc with http (not https). In preview 8, gRPC with http was working fine. After rc1 upgrade http does not work, but https works.

[2020-09-15 12:41] RebelionTheGrey commented on #5200
Have the same problem. Haven't checked https yet.

[2020-09-15 16:11] GrabYourPitchforks commented on #5176
Jan's got your back. :)
https://github.com/dotnet/runtime/issues/42231

[2020-09-15 16:25] TikiBill opened #5212 "CentOS 8 Update to 3.1.8 Causes netstandard2.1 Target Build Failure (with Workaround)"
# Issue

Upgrading from dotnet-sdk-3.1.7 to 3.1.8 causes any netstandard2.1 targeted builds to fail.

1) Upgrade (dnf update dotnet*)
2) dotnet new classlib
3) change target to netstandard2.1
4) build

[code]

# Fix

[code]

Now the build works.

A similar workaround is mentioned in https://github.com/dotnet/core/issues/4526#issuecomment-632341088 so perhaps this issue is a dup?

### Thanks!

(Als

[2020-09-15 17:14] RukeshB commented on #2794
same problem. i check path (the correct path is there) and also reopen command window too.
But it doesn't work

[2020-09-15 17:35] dagood commented on #5212
@TikiBill, could you try running `dnf list installed 'dotnet-*' 'netstandard-*' 'aspnetcore-*'`? For example, this is what I get with the packages installed that were built by CentOS:

[code]

I think you probably have mixed Microsoft-built and CentOS-built packages installed. This can be a problem around new updates with both repos installed at the same time.

Some more details at: https://github

[2020-09-15 18:59] danrtucker opened #5213 "dotnet run"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-09-15 19:02] mairaw commented on #5213
Can you provide more information about the issue you're having?

[2020-09-15 20:19] mariomastrodicasa commented on #766
I want to bring your attention on the project [JCOReflector](https://github.com/masesgroup/JCOReflector).
The project follows another approach to create the interoparability from  JVM (not only Java) to .NET (not only C#): the tool creates Java classes which exposes .NET classes (Framework/Core/5) in a Java fashion.
On opposite, execute JVM (Java) code from .NET (C#) is very simple thanks to the d

[2020-09-15 23:52] mateoatr commented on #4093
The aforementioned PR was merged for .NET 5 - not .NET Core 3.1 (my bad); so this is currently working. If necessary I can backport the PR to 3.1.

[2020-09-15 23:52] #4093 closed

[2020-09-15 23:57] mairaw commented on #4093
The tutorials on the dotnet.microsoft.com won't be upgraded until we reach .NET 6, since we'll keep using the LTS version.
Is that a common issue?

[2020-09-16 00:07] mateoatr commented on #4093
I don't know how common it is, I'd guess not too common. And, realistically, it only affects Unix, since ending a directory name with a period violates Windows' naming conventions.

[2020-09-16 02:39] AliRafiee commented on #4361
@fhnaseer is that an all or nothing setting? I don't want all the lambda's to be excluded, just some selected ones.

[2020-09-16 06:09] sujayar46 opened #5217 "error accured"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-09-16 07:16] mairaw commented on #5217
Can you tell us more about the error you got?

[2020-09-16 07:27] fhnaseer commented on #4361
@AliRafiee yes, it's an all or nothing setting. If you want to exclude only specific lambda's, then you need to identify those using compiler generated code and add those inside `<Functions>` tag in the runsettings file.

[2020-09-16 08:20] AdamRiddick commented on #5123
@joeloff If there any further diagnostics we can do to identify the problem here?

[2020-09-16 08:28] ahughf opened #5218 "InteropServices.COMException thrown when passing c# structure to c++"
I have a Java API that I want to access via c# code running on centos (Linux) running in the .Net-Core 3.1.100 version. Consequently I wish to pass a structure array from c# to native code responsible for launching the JVM and doing the java stuff. My problem was that the c# structure array would not get to the c++ code under certain circumstances. Here's the c# code:

[code]
and here is the c++ :

[2020-09-16 08:42] suleymanoz commented on #5200
Upgrading preview version for Grpc packages solved the problem.

[2020-09-16 13:57] jsedlak opened #5219 "System.Text.Json.JsonSerializer can serialize but not deserialize TimeSpan without custom converter"
# Issue Title

The System.Text.Json.JsonSerializer class is unable to deserialize a TimeSpan property, even though it can serialize it.

# General

Sample project demonstrating this issue is available here: https://github.com/jsedlak/TestTimeSpan

If you return a TimeSpan property in a WebApi, it is correctly serialized to JSON:

`[
    {
        "forecastLength": {
            "ticks": 3600000000

[2020-09-16 14:27] TikiBill commented on #5212
Thank you for the quick response.

Indeed the conflicting repositories caused the issue. I had a yet-to-be-updated VM and made the suggested configuration change (disabling the MS repo) and all went well. I've updated my ansible script (originally for CentOS 7) to not include the MS .NET repo.

Closing as user error.

Thanks again.

[2020-09-16 14:27] #5212 closed

[2020-09-16 15:44] Kiron73 opened #5220 "ner ls"
# Issue Title

Be as descriptive as you can with your title.

# General

Provide details on the problem you are experiencing including the .NET Core version, operating system version and anything else that is relevant.

Please provide a code sample for your issue if it is relevant, either inline, link to a gist (or similar) or add it as a zipped attachment.

For some issues, you will get a quicker

[2020-09-16 16:50] joeloff commented on #5123
@AdamRiddick no other thoughts, I'm adding someone from the ANCM side. Is it safe to assume that the set of machines where its failing is similarly configured?

You can temporarily skip updating ANCM by running the installer from the commandline using: ```<path_to_exe> OPT_NO_ANCM=1``` This should at least get the runtime updated if anything is missing.

@jkotalik any ideas what might cause ANCM t

[2020-09-16 17:00] jkotalik commented on #5123
This is the first time I've seen an issue where it is failing validation. Is there anything we can do to improve the logs from the ANCM installer to help identify the issue?

[2020-09-16 17:14] joeloff commented on #5123
Nope. @AdamRiddick already ran the MSI manually with full verbosity. InstallValidate only checks 2 things: disk costing results and whether there are any in-use files. The latter can fail silently if processes are not associated with a window (I posted the list earlier in the thread), in which case it won't get reported properly.

@AdamRiddick if you run ```REG QUERY "HKEY_LOCAL_MACHINE\SYSTEM\Cur

[2020-09-16 19:37] mairaw commented on #5220
Closing since there's no issue details. Please get back to us if you have more details @Kiron73.

[2020-09-16 19:37] #5220 closed

[2020-09-16 19:51] jfalameda commented on #5182
Correction, the issue was caused by using async await on the Liten method. I suppose, as this async await is not awaited on the parent it causes to initialize the SSL configuration only sometimes, I suppose when GetCertificate method responds quickly and before .NET initializes the listeners.

[2020-09-16 20:11] daemogar commented on #5200
When using the **WebAssemblyPrerendered** in a _Host page for rendering a Blazor app, Renders as expected on the server, but fails with the below error when trying to activate the WebAssembly client-side. I have tried using the **ServerPrerendered** and it fails even on the server now, and this app was working before the update to .NET 5 RC1. I following the instructions at the link (Blog Posted o

[2020-09-17 00:16] mairaw commented on #5197
Closing since the issue is gone now

![image](https://user-images.githubusercontent.com/12971179/93404899-56700a00-f840-11ea-8f21-82949937d81f.png)

[2020-09-17 00:16] #5197 closed

[2020-09-17 03:24] PH68 commented on #2790
esta acontecendo o mesmo comigo hj como resolver

[2020-09-17 03:49] mairaw commented on #2790
@PH68 isso acontece pq já tem um projeto no local onde vc está executando o comando.

Tem algumas opções diferentes:
- executar o comando num diretório diferente
- executar o comando adicionando a opção --force. Isso vai substituir o projeto existente

Avise se isso te ajudou!

[2020-09-17 03:54] PH68 commented on #2790
@mairaw consegui fazer um novo diretorio, é que é a segunda vez que faço isso pra mim é tudo muito novo, obrigado por responder ;)

[2020-09-17 03:55] PH68 commented on #2790
então@mairaw  como faço pra forçar a mudança??

[2020-09-17 05:05] Parul-gif opened #5222 "Regarding Running of .NET"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: windows

After following the whole process at last i am not able to run the following command 'dotnet run' in command prompt.
Following is the error message that I have received -

Couldn't find a project to run. Ensure a project exists in C:\Users\HP PAVILION, or pass the path to the projec

[2020-09-17 05:19] mairaw commented on #2790
Na primeira vez que executa, o comando é `dotnet new webApp -o myWebApp --no-https
cd myWebApp`

Se vc já executou uma vez e quer começar de novo, pode forçar a mudança adicionando `--force`
`dotnet new webApp -o myWebApp --no-https
cd myWebApp --force`

Esse artigo explica as opções:
https://docs.microsoft.com/pt-br/dotnet/core/tools/dotnet-new

[2020-09-17 06:09] mairaw commented on #5222
You have to run the dotnet run inside the directory where the project was created. Did you run the command `cd myApp` to enter the project directory?

[2020-09-17 12:30] jinudh opened #5223 "Error reference assemblies for .NETFramework,Version=v5.0 were not found"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: windows

Installed .net 5.0.100-rc.1.20452.10 SDK x64
installed VS 2019 16.7.3 ( before .net SDK install) . but when creating projects throug vs 2019 and cmd  getting following error on
dotnet run or dotnet build
I could see .net5 template in VS2019

C:\Program Files\dotnet\sdk\5.0.100-rc.1.

[2020-09-17 19:06] #5031 closed

[2020-09-17 19:06] #5072 closed

[2020-09-17 19:06] #5129 closed

[2020-09-17 19:06] #5160 closed

[2020-09-17 20:06] #5001 closed

[2020-09-17 20:06] #4961 closed

[2020-09-17 20:06] #5011 closed

[2020-09-17 21:52] wkrea opened #5224 "Dotnet webapi doesn't compile on fedora 32 podman"
# Dotnet webapi doesn't compile on fedora 32 podman

When I just try to compile a webapi project created from CLI, i'm getting this message:

Be as descriptive as you can with your title.

# General

I'm using podman online for testing purpose. I won't break my personal stable configuration on my OS; it just a simple test!!!, however not works like as [documentation says here!!!](https://docs.micr

[2020-09-17 22:32] omajid commented on #5224
This isn't a podman issue. It's a issue that happens because msbuild reads environment variables and uses those to initialize msbuild properties. The Fedora toolbox (Silverblue?) happens to define the environment variable `VERSION` with a value of `32 (Container Image)`. That breaks .NET because it doesn't know what to do with a space in this value.

To work around it, you can simply remove that e

[2020-09-17 23:15] carlossanlop commented on #5194
@RussKie is this something WinForms owns?

[2020-09-17 23:16] RussKie commented on #5194
We need more details to triage. UIA belongs to Windows, Windows Forms and WPF have own implementations on top of it.

[2020-09-18 02:29] ImmutableVector commented on #5223
I just struggled through this issue and was able to get past it by instead using the preview release for visual studio 16.8.0 Preview 3.0.

[2020-09-18 04:31] uopeydel opened #5225 ".NetCore SDK 3.1 Docker not support ENV LC_ALL and LANG (2.1 is support)"
# Issue Title

Those environment variables can't use in docker.
[code]
From base image **mcr.microsoft.com/dotnet/core/sdk:3.1**  previous I use 2.1 it work fine.

# Step 1

https://github.com/uopeydel/testdb

use this project step test is run command

docker build --pull --rm -f "dockerfile" -t testdb:latest "."

docker run  -d -p 1144:443/tcp -p 1188:80/tcp   testdb:latest

and go to url

 http:

[2020-09-18 06:44] preetipadalia commented on #5194
@RussKie Please let me know what details you would require to investigate it.

[2020-09-18 08:06] RussKie commented on #5194
To start with - what tech stack you are using - MFC, Windows Forms, WPF, something else? What runtime? What OS? Screenshots/error logs/memory dumps... anything that can be useful.

[2020-09-18 09:11] preetipadalia commented on #5194
We are automating windows Desktop applications using UIAutomation library. We were using net472 previously and now switched to .net core 3.1.

After the migration, most of the application objects were identifiable using UIA but few objects were not identifiable.
![Object issue](https://user-images.githubusercontent.com/36397242/93578108-89d6a400-f9ba-11ea-84a1-1b36b0a1403b.png)

In the above scree

[2020-09-18 13:37] hdu7 opened #5226 "Report compiler issue"
# Issue Title

Report a .net core compiler issue

# General

I have an object, and that object has an property GSMPortID, and I use 'if else' to update property GSMPortID, since the conversationChannel is not null, it should never run into the block of 'else,' but code run into 'else' block at the line of 356

![Capture](https://user-images.githubusercontent.com/67653788/93603767-76174780-f992-11e

[2020-09-18 14:17] hdu7 commented on #5226
Wrong executed. The 'else' should not be executed at all.

[2020-09-18 15:07] hdu7 commented on #5226
This might be caused by synchronous method mixed with asynchronous method. Even if that is the reason, it is still a bug to me.

[2020-09-18 15:41] mattcwebster commented on #4497
Im having same problem what the heck is wrong with this.  Running a nodejs socket server works perfectly fine and then throwing this error when in Azure linux container... wth is wrong with this!

[2020-09-18 15:42] mattcwebster commented on #4497
does Azure Web apps for containers have a github I think it's related to Azure containers not dotnet as im experiencing same error in nodejs

[2020-09-18 16:13] Dimension4 opened #5227 "Behavior for pointer equality depends on its declaring struct"
Coming from [this](https://stackoverflow.com/questions/63956533/unexpected-equality-tests-equalsa-a-evaluates-to-false) stackoverflow question, the equality of two pointers (e.g. `int*`) depends on the layout of the struct that declares said pointer. For example:

[code]

Here, two instances are equal, because `a` and `b` are compared with `memcmp` (bitwise comparison) which means that the address

[2020-09-18 16:27] #5227 closed

[2020-09-18 16:49] robertmclaws commented on #5120
Azure DevOps used to have a pool for the latest VS build, they need to bring that back. Also, they aren't even keeping the version on the existing instances current. The team needs to stay on top of this... I have projects that require both .NET Framework and .NET Core, and maintaining two different versions of my solution just to handle lack of effort on Microsoft's end costs my company money.

[2020-09-18 17:55] mairaw commented on #5223
We haven't upgraded the tutorials to use .NET 5 yet and we're still using the LTS version (.NET Core 3.1) on the install step.

@ImmutableVector is right. The minimum version for .NET 5 RC1 is VS 16.8 Preview 3.

[2020-09-18 17:55] #5223 closed

[2020-09-18 17:58] jinudh commented on #5223
Thanks

[2020-09-18 18:55] MaxMommersteeg commented on #5200
I recommend following SO answer for killing the process listening to the specific port (9300):
https://stackoverflow.com/a/39633428/1661209

[2020-09-18 20:25] perlun commented on #4542
Ping @rbhanda, any updates on this?

[2020-09-18 20:28] rbhanda commented on #4542
Are you still seeing this issue with .NET 5 RC 1 update?

[2020-09-18 21:04] timbze commented on #4542
Works for me now on .NET 5 RC 1

[2020-09-18 21:45] carlossanlop commented on #5225
@MichaelSimons any chance you could help with this issue?

[2020-09-18 21:49] carlossanlop commented on #4385
Can you describe your problem? It is not clear from the description.

[2020-09-18 21:53] carlossanlop commented on #3689
@saxenark did the answer given by @ducalai solve your problem?

[2020-09-18 21:53] carlossanlop commented on #4387
Any chance you can help with this issue, @MichaelSimons ?

[2020-09-19 04:57] perlun commented on #4542
@rbhanda Trying it now. (As a side note, the `dotnetcli.blob.core.windows.net` host is horribly slow btw, I get download speeds in the 2-3 Mbit/s range - would be great to get proper CDN acceleration on these builds as well.)

Anyway, looks much better on the new version (except for the notice at the end):

### Full install log

[code]

### An apt-get notice

(Notices are probably mostly harmless,

[2020-09-19 06:22] averyfreeman commented on #4360
I am in a similar situation, running dotnet-sdk 5.0.0-rc1 on Ubuntu 20.10 dev release which packages libicu67.  Ubuntu 20.10 is going to be released next month so it didn't seem that crazy.

I added the distro to the installer script (just copied and edited 20.04), Installer was hung on installing the packages due to unsatisfied resource libicu66 or . . . down to 53.

download libicu66 from pkgs.o

[2020-09-19 11:50] krisrajzlive opened #5228 "Can't run deployment"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/deploy-microservice-tutorial/deploy
Operating System: windows

kubectl apply -f deploy-myMicroService.yaml
error: error parsing deploy-myMicroService.yaml: error converting YAML to JSON: yaml: line 25: could not find expected ':'

[2020-09-19 14:56] qmgindi opened #5229 "Winforms IAccessible broken in .NET 5 RC 1"
AccessibleObjectFromPoint always returns error "invalid parameter".
AccessibleChildren returns VARIANTs with invalid vt = VT_UI4 (must be VT_I4).

Still work with .NET 5 preview 7.
Windows 10 64-bit.

[2020-09-19 23:41] #4353 closed

[2020-09-19 23:41] #4210 closed

[2020-09-19 23:41] #4201 closed

[2020-09-19 23:41] #4157 closed

[2020-09-20 00:08] krishnan-unni opened #5230 "dotnet build fails on solution with .net framework project while msbuild succeeds"
When I try to build a solution that contains a .Net Framework project which consumes a nuget package which is multi targeted, it fails to build with "dotnet build" command while it builds fine in visual studio or with command msbuild

I have a solution with 4 projects :

- _ProjectA_ (.Net standard class library) - root project
- _ProjectB_ (.Net standard class library) - references ProjectA , Cre

[2020-09-20 04:44] #5167 closed

[2020-09-20 04:44] #4739 closed

[2020-09-20 05:38] uopeydel commented on #5225
![image](https://user-images.githubusercontent.com/12793024/93695174-1362af00-fb3e-11ea-98ba-ed2aeea9627d.png)

I don't think it happen because docker , I tried run it on linux server it also show an error.

[2020-09-20 08:30] 2nyahack opened #5231 "2nyahack"
# Issue Title

Be as descriptive as you can with your title.

# General

Provide details on the problem you are experiencing including the .NET Core version, operating system version and anything else that is relevant.

Please provide a code sample for your issue if it is relevant, either inline, link to a gist (or similar) or add it as a zipped attachment.

For some issues, you will get a quicker

[2020-09-20 08:42] #5231 closed

[2020-09-20 14:53] janniksam opened #5232 "Plans to support Microsoft.Office.Interop.Word in .NET 5?"
So, our company builds an application, that is highly relying on / is tightly coupled to the `Microsoft.Office.Interop.Word` library right now to communicate with Word.

In a way you could say that we wrote a wrapping application around Word and use/control it to let our user edit custom forms / fill some content controls in that we use to generate other documents etc.

Our plans for the applicati

[2020-09-20 17:30] augaldecr opened #5233 "Blazor and Office 365 auth"
# Issue Title

Blazor rc1 and Office 365 auth doesn't work

# General

I just created the project Blazor Wasm with single org authentication and show the CORS error

[2020-09-20 18:15] Jacquers opened #5234 "Filter context not the same as method context (ActionExecutingContext)"
I'm using a filter in a common base class. I've recently come across an issue and traced it back to the context in the filter not being the same as the one in the method. This is very strange to me - is this a bug or is there something I don't understand? I would expect the ActionExecutingContext to be the same one that the method has access to? It's causing issues as I'm using part of the url to

[2020-09-20 18:27] Jacquers commented on #5234
I found the reason....

_traceId was declared as a static string. Removing the static fixed it :)

[2020-09-20 18:27] #5234 closed

[2020-09-21 03:11] RussKie commented on #5194
What tech stack you are using - Windows Forms or WPF?
How do you set UIA names, e.g. " Financial "?
Which UIAutomation library do you use?

[2020-09-21 06:06] preetipadalia commented on #5194
@RussKie The application was developed using Lansa technology.
We are not developing that application but automating it.

**csproj file entries:**
[code]

**UIAutomation Code:**
[code]

[2020-09-21 07:11] olowk commented on #5022
When opening an XPS file which is created from a V4 XPS printer driver we can't access the 'FixedDocumentSequenceReader' because it's null. Code below works perfect in full framework but doesn't in .net Core 3.1

 using(var strm = File.OpenRead("path to xps file"))
{
      var package = Package.Open(strm, FileMode.Open, FileAccess.Read);
      var inMemoryPackageName = string.Format("memorystream:

[2020-09-21 07:23] svick commented on #5022
@olowk I think you should open a new issue about that, instead of commenting on a closed one.

[2020-09-21 07:42] RussKie commented on #5194
@preetipadalia you're using the WPF stack - [System.Windows.Automation](https://docs.microsoft.com/dotnet/api/system.windows.automation). In Windows Forms we provide accessible objects.

@carlossanlop I think this would belong to WPF repo.
Tagging @fabiant3 @ryalanms.

@preetipadalia it would be great to have a repro project that could help to investigate your issue.

[2020-09-21 07:47] wstaelens commented on #5022
@svick I think it better should be reopened as @olowk  and I tested the same.

Due to covid we could not respond earlier and the bot closed the issue... 🥱

[2020-09-21 09:21] ShalokShalom opened #5235 "Snap"
# Why Snap?

Snap is a proprietary service, that is only accessible through the proprietary service from Canonical.

Since people who are using Linux, especially developers, are doing so since they love to embrace the open-source principles, does it sound weird to choose from *multiple* possible options *the only one* that is *specifically* non-free.

This seems contrary to the aim, to bring .Net

[2020-09-21 16:51] MichaelSimons commented on #4387
@dewanymca, I find it to be generally useful to make your Dockerfiles self-contained as much as possible.  What that means in this situation is that the restore should be performed within the Dockerfile.  Please see the [Managing NuGet Credentials in Docker Scenarios](https://github.com/dotnet/dotnet-docker/blob/master/documentation/scenarios/nuget-credentials.md) for guidance on how to do this wi

[2020-09-21 16:56] Sandra479 opened #5236 "Error building with docker"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/docker-image
Operating System: windows 10

I entered this command
docker build -t mymicroservice .

and got this error
error during connect: ................
The system cannot find the file specified. In the default deamon configuration on Windows, the docker client must be run elevated to connect. This error ma

[2020-09-21 17:55] GrabYourPitchforks commented on #5022
Thanks for the repro code! I'll transfer this to the WPF repo so that the appropriate area owners will get notification of the issue.

[2020-09-21 17:58] GrabYourPitchforks commented on #5196
Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-09-21 17:59] #5183 closed

[2020-09-21 18:01] mairaw commented on #5196
This seems related to https://github.com/dotnet/sdk/issues/9038

You have to manually open a browser to run the app and type http://localhost:5000 on the address bar. I'll see if I can make that more clear.

[2020-09-21 19:56] michaldobrodenka opened #5237 "Regression - NET5.0 RC1 returns empty MAC address for network interface on Linux ARM32"
I've noticed that my app is returning empty Mac adress info when running on Linux. So I made a small snippet to test the code, Network interfaces are returned just fine, but MAC address from Network interface is empty. On net5.0 rc.1 & win-x64 it works normally as well as with Net Core 3.1.8 on Linux ARM32 machine.

`using System;
using System.Linq;
using System.Net.NetworkInformation;
using Syste

[2020-09-21 20:03] #5168 closed

[2020-09-22 01:51] jamshedd opened #5238 "Theme: Enterprise and LTS"
.NET 6.0 will be a Long-Term Support (LTS) release. We see many enterprises prefer our LTS releases over Current releases for their longer support (relative to Current releases), they pick an LTS version so they don’t have to move forward every year. This is not very different from what we see with OS LTS versions – enterprise customers go from one LTS to the next and skip the in-between SAC relea

[2020-09-22 02:03] jamshedd opened #5239 ".NET 6.0 is a rock solid, stable, adoptable release"
This Experience consists of the following dependent User Stories:

[2020-09-22 02:05] jamshedd opened #5240 "Epic: Enterprises have a first class experience acquiring and deploying .NET 6.0"
User Stories under this Epic:

- [ ] [As an enterprise IT admin I have supported tools that help in the detection, deployment and cleanup of .NET Core installs at scale](https://github.com/dotnet/core/issues/5441)
- [x] [As a developer I am able to process release metadata for .NET Core updates easily so I can leverage this in my deployment process](https://github.com/dotnet/core/issues/5440)
- [

[2020-09-22 02:12] jamshedd opened #5241 "Enterprise users with air-gapped/private cloud environments can easily determine the latest .NET Core update they need, fetch it and use it for local deployment"
Multiple customers need a way to deploy their app along with the dependent Core runtime to private clouds. This is difficult for them today because the installers/bits are only available on the public CDN and public Azure blob storage. Also the tools, scripts and release metadata we offer today is designed to work with these public end points.  Each customer is working around this in a different w

[2020-09-22 02:24] GrabYourPitchforks commented on #5193
/cc @mmitche

[2020-09-22 03:50] lifuhua123 opened #5242 "Wpf app is released as a single file and cannot be run."
# Issue Title

Wpf app is released as a single file and cannot be run.

# General
When I use a single file to publish wpf, the compiled program cannot run.

[2020-09-22 03:54] lifuhua123 commented on #5242
I tried winform and wpf independent deployment scheme under .net 5 RC.1, winform can run successfully, but wpf cannot start.

[2020-09-22 05:12] mairaw commented on #5233
@danroth27 can you help? Should we transfer this to aspnetcore?

[2020-09-22 07:12] wstaelens commented on #5021
@GrabYourPitchforks yes that constructor doesn't work. It is code from Full .NET Framework.
We are looking on how you can impersonate WITHOUT a password in .NET Core 3.1, similar as we would do with the piece of code from the full .NET Framework.

From our understanding .NET Core 3.1 does NOT have a **working** solution to impersonate WITHOUT supplying a password.
(we are aware that this only work

[2020-09-22 07:58] bugrakosen commented on #4584
@jannavarro  I solved this another way. Saved images as blob to database is not a good way i think. Because it causes the database to slow down and the data retrieved from the database needs to deserialize. So i changed the save method for images. I saved images to file system then streaming with url(FileStreamResult) and file path(VirtualPathResult).

With that way you just need to do this;

[2020-09-22 12:49] estensen commented on #5170
Are there more detailed release notes somewhere? Specifically, I'm upgrading `Microsoft.Extensions.Http.Polly` from 3.1.2 to 3.1.8, but I can't find any release notes.
Nuget.org links to this release

[2020-09-22 14:41] mmitche commented on #5193
@Saxomania do you mean for the runtimes or the SDK? What advantages does the MSI bring for deployment?

fyi @KathleenDollard @marcpopMSFT

[2020-09-22 16:20] Saxomania commented on #5193
i can extract the productcode directly from the MSI file and do not have to install it via EXE first and then search the productcode in the uninstall section from regedit for both installations (x86 and x64)

we are using the desktop runtimes.

[2020-09-22 18:33] MichaelSimons commented on #5225
@uopeydel , If I am following correctly, you have encountered two different issues.  It would be helpful if you logged each problem as a separate issue.  This makes each issue more clear.  It also helps get the right people involved to diagnose and respond to each issue.

Step #1 - I would suggest debugging into this further.  What SQL query is being executed?  Does the query match the data schema

[2020-09-22 19:06] Gideon357 opened #5244 "Installation not working."
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: macos

I downloaded and installed the dotnet-sdk pkg, but upon running `dotnet` in a new zsh iTerm window, I get `zsh: command not found: dotnet`.

[2020-09-22 19:09] Gideon357 commented on #5244
I was able to fix this by symlinking dotnet into usr/bin. The installer should probably do this, as it seems to be a common problem (15+ SO questions, with a number of views).

[code]

[2020-09-22 20:40] mairaw commented on #5244
@leecow @dagood can you look at this issue?

[2020-09-22 20:54] dagood commented on #5244
Yeah, we're tracking making a change like this at https://github.com/dotnet/runtime/issues/3603. For a basic summary: today the installer relies on the built-in macOS utility `path_helper`, but it's easy to accidentally break this utility by using a bad bash profile (one that overrides `PATH` without incorporating its initial value), and `zsh` can even break it by default.

[2020-09-22 20:54] #5244 closed

[2020-09-22 20:54] lellid commented on #4600
I fully agree. Maintainability is also an issue here (see #5013). Additionally, self contained distributions have limitations (x86 / x64 flexibility, COM servers etc.).

If you are not willing to distribute .NET Core and .NET Core Desktop Runtime as a default part of Windows 10, then at least consider allowing a normal user (non-admin) to add these components manually.

[2020-09-22 21:04] GrabYourPitchforks commented on #5021
The `WindowsIdentity.Impersonate` method does not exist in .NET Core. Use the `WindowsIdentity.RunImpersonated` method instead. This method invokes a provided callback under the impersonation context of the supplied access token. There are some [code samples](https://docs.microsoft.com/en-us/dotnet/api/system.security.principal.windowsidentity.runimpersonated) showing how to call the API.

If you

[2020-09-23 01:36] Tumba-Fataki opened #5247 "Mon visual studio 16.7"
j'ai recement installé vs 2019 16.7.xxx, mais j'ai rencontre un probleme lors du debogage quand je vais deboguer une application Blazor sur laquelle je veux travailler. peux importe:
    --- Microsoft.AspNetCore est introuvable
  --- Microsoft.Json est introuvable
Je ne sais pas s'il faut les activer ou les installer. can some body help me?

[2020-09-23 01:53] ggjjj opened #5248 "SignData() from a generated private ECDsa/ RSA key"
I would like to use the `SignData()` API of [ECDsa](https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.ecdsa.signdata?view=netcore-3.1) and [RSA](https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.rsa.signdata?view=netcore-3.1) but would like to read the EC parameters and RSA parameters from a generated private key of my choice so that I can sign the dat

[2020-09-23 02:30] Tumba-Fataki opened #5249 "vs code 1.49.xxx, vs2019 16.7.xxx ne debogue pas chez moi"
C:\Users\NDOKI_YA_GENTIL-PC\CICalc\CICalc.csproj : error NU1101: Package Microsoft.AspNetCore.Components.WebAssembly introuvable. Aucun package associé à cet ID n'existe dans la ou les sources suivantes : Microsoft Visual Studio Offline Packages
C:\Users\NDOKI_YA_GENTIL-PC\CICalc\CICalc.csproj : error NU1101: Package Microsoft.AspNetCore.Components.WebAssembly.DevServer introuvable. Aucun package

[2020-09-23 03:31] uopeydel commented on #5225
1  The query when have no ENV config is this one >
![image](https://user-images.githubusercontent.com/12793024/93958650-21544200-fd81-11ea-96fb-5fc2292f9bc7.png)
May be it because of  **@** it lost while generate query when have ENV config. It doesn't relate with data schema because of when I run it without ENV config it generate and run correctly.

2 Actually, I don't want to use it in docker con

[2020-09-23 04:32] crozone commented on #5200
The latest .NET 5 host does not appear to be respecting `global.json`, at least on my Windows 10 install. Anyone else run into this?

https://github.com/dotnet/roslyn/issues/43782

[2020-09-23 06:01] jehof commented on #5185
Any news on this one? We want to update our production system to the latest bits and need your advice.

[2020-09-23 06:05] Laraib-Khalid opened #5250 "The system cannot find the path specified."
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-09-23 11:51] samsmithnz commented on #5120
I had a side conversation with Isaac, you can do this with two tasks. Putting the solution here for others who come here:

1. UseDotNet@2 to download the new SDK.
[code]

2. Use dotnet CLI, with self-contained and the runtime arguments.
[code]

You can also use the DotNetCoreCLI@2 task in Azure Piplines, for example:
[code]

[2020-09-23 12:45] LeviBickel opened #5251 "Windows Authorization works in debug on IIS Express but not in IIS server"
.NET Core SDK (reflecting any global.json):
 Version:   3.1.402
 Commit:    9b5de826fd

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.19041
 OS Platform: Windows
 RID:         win10-x64

I have been fighting what seems to be a configuration error or a bug in ASP.Net Core 3.1. I am attempting to take in a Windows Authentication user and check if this user is in an AD group that has

[2020-09-23 16:46] Laraib-Khalid opened #5252 "'dotnet' is not recognized as an internal or external command, operable program or batch file."
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-09-23 16:47] Laraib-Khalid commented on #5252
Severity	Code	Description	Project	File	Line	Suppression State
Error		Unable to locate the .NET Core SDK. Check that it is installed and that the version specified in global.json (if any) matches the installed version.	khuljasahitry.Android	C:\Users\Aslan\source\repos\khuljasahitry\khuljasahitry\khuljasahitry\khuljasahitry.csproj

[2020-09-23 17:07] mairaw commented on #5252
Is this error happening when you open the project in Visual Studio?

If so:

- Please run `dotnet --list-sdks` on the command line and let us know what are the results
- Which version of VS you're running

Thanks!

[2020-09-23 17:07] mairaw commented on #5250
Can you give us more information? Maybe a screenshot?

[2020-09-23 17:12] mairaw commented on #5247
Google translation:
I recently installed vs 2019 16.7.xxx, but I encountered a problem while debugging when I go to debug a Blazor application that I want to work on. does not matter:
--- Microsoft.AspNetCore could not be found
--- Microsoft.Json could not be found
I don't know whether to activate or install them.

@danroth27 can you help here?

[2020-09-23 18:17] danroth27 commented on #5247
What type of Blazor app is it? Blazor WebAssembly or Blazor Server?

[2020-09-23 19:00] #4905 closed

[2020-09-23 19:00] #4959 closed

[2020-09-23 19:00] #5138 closed

[2020-09-24 03:11] rmtpraveenkumar opened #5253 "unable to start program 'dotnet.exe'"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

While debugging .net core console application received "unable to start program 'dotnet.exe'. I am using Visual Studio 2017.
Please help in resolving this issue,

[2020-09-24 03:39] crozone opened #5254 "global.json is ignored unless the SDK version is an exact match for a currently installed SDK"
# Issue Title

`global.json` is ignored unless the SDK version is an exact match for a currently installed SDK.

# General

`global.json` SDK `version` and `rollForward` behaviour appears to be ignored if the `version` string is not an exact match for one of the .NET SDK versions currently installed on the machine. This has unintended consequences when building code on different machines with diff

[2020-09-24 04:33] mairaw commented on #5253
If you want to use Visual Studio for this tutorial, you need to install Visual Studio 2019 (v16.7)
The Community edition is free: https://visualstudio.microsoft.com/thank-you-downloading-visual-studio/?sku=Community&rel=16

And you can install multiple versions of Visual Studio on the same machine.

However, you don't really need Visual Studio to complete this tutorial.
Have you installed the SDK

[2020-09-24 08:36] AdamRiddick commented on #5123
@joeloff, Nothing seems to be IIS or ANCM related, there is only one operation pending. I've attached the output as you will know better than I if this is related.

[PendingRenameOperations.txt](https://github.com/dotnet/core/files/5274585/PendingRenameOperations.txt)

[2020-09-24 12:01] emmenlau opened #5255 "Building from NFS: The last access/last write time on file cannot be set"
I'm working with sources on an NFS mapped drive on Windows 10 2004. The drive is mapped with the Microsoft Windows NFSv3 client. User and group IDs are mapped to the correct Linux server user/group IDs. I can read and write from the drive without problems.

But when I try to build a .NET Core 3.1 project with dotnet 3.1.402, the build fails very early with error:
[code]

I can understand from the

[2020-09-24 13:39] Prasanna-CA opened #5256 ".NET was not installing in my system. showing error code 5100"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-09-24 13:40] Prasanna-CA commented on #5256
unable to download .net 4.7.2 in my pc, showing error code 5100

[2020-09-24 15:51] scalablecory commented on #5256
The tutorial link you've provided is for .NET Core, but your subsequent comment mentions .NET Framework.

Can you confirm this is a .NET Core issue, and provide more data? Console output/screenshots etc.

[2020-09-24 16:56] ap0llo opened #5258 "releases.json shows support phase different from releases-index.json"
I noticed that the `releases-index.json` at <https://dotnetcli.blob.core.windows.net/dotnet/release-metadata/releases-index.json> lists .NET Core 1.0 and 2.2 as EOL (which is correct I suppose):

[code]

However, for both releases, the referenced `releases.json` specifies a support phase of  `maintenance`

<https://dotnetcli.blob.core.windows.net/dotnet/release-metadata/1.0/releases.json>:
[code]

[2020-09-24 17:10] petepolyak opened #5259 "Error response from daemon: Cannot locate specified Dockerfile: Dockerfile"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/docker-file
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-09-24 17:12] petepolyak commented on #5259
File Structure:
Controllers			Properties			appsettings.Development.json	myMicroservice.csproj
DockerFile			Startup.cs			appsettings.json		myMicroservice.sln
Program.cs			WeatherForecast.cs		bin				obj

Dockerfile:
FROM mcr.microsoft.com/dotnet/core/sdk:3.1 AS build
WORKDIR /src
COPY myMicroservice.csproj .
RUN dotnet restore
COPY . .
RUN dotnet publish -c release -o /app

FROM mcr.microsoft.com/do

[2020-09-24 23:00] robertmclaws commented on #5120
Appreciate this, and it works great when you are building from the CLI. The problem is I don't think you folks are testing this in multi-Framework configurations. I have a solution that has BOTH .NET Framework and .NET Core projects, and the code above will not help in that situation because Visual Studio is doing the compiling. Using CLI tasks will not stop the MSBuild process from failing, which

[2020-09-25 05:55] reinux commented on #5200
.NET SDK 5.0.100-rc.1.20452.10 install had issues; now it refuses to uninstall -- or rather, it says immediately after pressing Uninstall that it's done uninstalling, other than let me reinstall, which also happens instantly.

Specifically, when I try to create a new F# project of any sort, `dotnet new` would give me an error saying that restore failed because it couldn't find `FSharp.Core 5.0.0`.

[2020-09-25 08:23] djs2014 opened #5260 "Switch expression returns null or the default value (0) for nullable Enum."
# Switch expression returns a null or Enum default value for nullable Enum.

OS: windows 10 and Linux Mint 20 Cinnamon - kernel 5.4.0-48-generic
SDK: .NET Core SDK (3.1.402)

# General

In example 1 the value of orientation is Orientation.North
[code]
In example 2 the value of orientation is null
[code]

[code]
Unit test:
[TestSwitch.zip](https://github.com/dotnet/core/files/5281442/TestSwitch.zip

[2020-09-25 15:10] mormonxyz commented on #4749
I was trying to install PowerShell and had the same issue (_ No usable version of libssl was found_).
I installed a package named **libssl47** (available on Void Linux's official repository) and **pwsh** works fine now.

[2020-09-25 15:24] svick commented on #5260
I believe this is the expected behavior. The `switch` expression is target-typed, but only when there isn't a best common type for the right-hand side expressions.

The best common type of `Orientation.East` and `default` is `Orientation`, so `default` becomes `default(Orientation)`.

The best common type of `default` doesn't exist, so target-typing is used and `default` becomes `default(Orientati

[2020-09-25 19:49] #5213 closed

[2020-09-26 07:13] jannavarro commented on #4584
Thank you @bugrakosen for the response. It well help in my initial investigation.. :)

[2020-09-26 07:34] MaximS commented on #5177
Easy manual fix: Open the script in text editor and replace line `*"Ubuntu 20.04"* | *"Focal"*` with `*"Ubuntu 20.04"* | *"Focal"* |  *"Mint 20"*)`

[2020-09-26 07:55] #5217 closed

[2020-09-26 15:23] tecxx commented on #5132
i could not reproduce this with .net5 RC1
will try some more but this can probably be considered as "fixed"

[2020-09-26 19:56] johndeoi opened #5262 "error code 0x800704b3 when performing initial download"
[Microsoft_.NET_Core_SDK_3.1.402_(x64)_20200926144052.log](https://github.com/dotnet/core/files/5287254/Microsoft_.NET_Core_SDK_3.1.402_.x64._20200926144052.log)

Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, c

[2020-09-27 01:48] rbhanda commented on #5258
@silvioguiso for investigation. I have updated both the files.

[2020-09-27 07:08] #5222 closed

[2020-09-27 07:29] Habibur-007 opened #5263 "dotnet problem"
C:\Users\Habibur Rahman>dotnet
'dotnet' is not recognized as an internal or external command,
operable program or batch file.

please give me a solution

[2020-09-27 09:21] Tridy commented on #5177
Yep, that'll do it.

It could be nice to have a command line option like "-f" for force or skip os check or similar. Or have a message that says, your os is such and such is not supported but do you want to install anyways?

[2020-09-27 10:00] TjoshgGaming123 opened #5264 "i have a error saying: A Project With a output type of Class Library Cannot be directly started"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-09-27 10:03] newshadowk opened #5265 ".net 5.0 rc1, grpc with http dose not work."
# Issue Title
[code]
not work in net5.0 rc1

# General
[code]

will have a exception

[2020-09-27 10:05] TjoshgGaming123 opened #5266 "i have a error saying: "A Project With a output type of Class Library Cannot be directly started. In order to debug this project, Add an executable to this solution which references to the library. Set the Executable Project as the startup project." I currently don't know how to fix this. Any help?? I was trying to create a "Hello World" program with .NET, here's the code: https://pastebin.com/JhBT69hK"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-09-27 11:02] andresianipar opened #5267 "I receive a Command 'dotnet' not found, but can be installed with error"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: Ubuntu 18.04.5 LTS

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
I followed the instructions on the link below:
1. https://dotnet.microsoft.com/learn/dotnet/hello-world-

[2020-09-27 16:54] Korporal opened #5268 "Question"
This is just a question.

Does .Net Core provide any classes that implement a "throttled" thread pool concept?

The use case is a situation where a very large number of short lived REST upsert calls are being made, we want to limit the number of concurrent requests to some defined value like 3 or 5 or whatever.

This is to avoid flooding the network with excessive traffic, restrict the network tra

[2020-09-27 19:07] svick commented on #5268
There is [`ConcurrentExclusiveSchedulerPair`](https://docs.microsoft.com/en-us/dotnet/api/system.threading.tasks.concurrentexclusiveschedulerpair?WT.mc_id=DOP-MVP-5002735), which can give you a `TaskScheduler` with a specified concurrency level:

[code]

But note that this limits the number of *threads* used, which may be different than the number of *tasks* that are executing, when some of them a

[2020-09-27 21:45] Taiizor opened #5269 ".NET 5 RC.1 - UITypeEditor Class"
https://docs.microsoft.com/en-us/dotnet/api/system.drawing.design.uitypeeditor?view=net-5.0

The UITypeEditor class is not used for NET5. They say it's supported, but I don't agree with that.
I can't use it in a library that used NET5.

Examples:
![image](https://user-images.githubusercontent.com/41683699/94376531-b9587f80-0123-11eb-9505-42d02b7e0713.png)
![image](https://user-images.githubusercon

[2020-09-27 22:10] svick commented on #5269
It works fine for me in a .Net 5.0 library whose csproj looks like this:

[code]

Can you share your csproj?

[2020-09-27 22:18] Taiizor commented on #5269
`<UseWindowsForms>true</UseWindowsForms>` It was fixed when I added the code :)

[2020-09-27 22:38] #5269 closed

[2020-09-27 23:42] Korporal commented on #5268
@svick - Many thanks for this info, great help, I'll delve into this and assess, much appreciated.

[2020-09-28 08:56] Anji8608 opened #5270 "help"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-09-28 09:22] preetipadalia commented on #5194
@RussKie I have created a sample Winform application and added vScroolBar control. With .net core "Page down" object is unidentifiable, but with net472 it's getting identified.

Thanks
Preeti

[2020-09-28 11:41] RussKie commented on #5194
Please raise an issue in dotnet/winforms repo with a sample.

From: preetipadalia <notifications@github.com>
Sent: Monday, September 28, 2020 7:22 PM
To: dotnet/core <core@noreply.github.com>
Cc: Igor Velikorossov <Igor.Velikorossov@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/core] Unable to identify objects in UIAutomation (#5194)

@RussKie<https://nam06.safelinks.pr

[2020-09-28 15:13] ddobric opened #5272 "Issue when creating and debugging self-contained single file"
Have created a simple application and published it as a self-contained single file.
Used following configuration in VS 2019 16.8.0 Preview 3.1:
![image](https://user-images.githubusercontent.com/1756871/94448331-0f243a80-01ab-11eb-8539-68e0f876dfdb.png)

When trying to debug (attach to process), getting the following error:

![image](https://user-images.githubusercontent.com/1756871/94448295-059ad

[2020-09-28 15:56] qboy21 opened #5273 "donet not recognized on windows server 2019 after installation"
<img width="346" alt="Screen Shot 2020-09-28 at 11 56 02 AM" src="https://user-images.githubusercontent.com/14353482/94456730-9d83c680-0181-11eb-9a51-32993d9cf4b5.png">
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error mess

[2020-09-28 22:39] #4385 closed

[2020-09-28 23:54] carlossanlop commented on #5270
Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-09-28 23:54] carlossanlop commented on #5263
Did you install the .NET SDK? Did you make sure to close and reopen the cmd window after installing the .NET SDK?

[2020-09-28 23:57] carlossanlop commented on #5273
The tutorial states that you need to close the cmd window after you install the SDK, so that the next time you open the cmd window, the environment variables are updated. Did you make sure to do that?

[2020-09-29 01:48] sumongogo opened #5274 "http://localhost:5000/"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-09-29 01:50] sumongogo commented on #5274
when i tried to browse http://localhost:5000/
I got error message that "this site can't be reached. local host refused to connect

[2020-09-29 02:39] newshadowk commented on #5265
update the Grpc.* packages to 2.32.0-pre1 or later.

[2020-09-29 02:39] #5265 closed

[2020-09-29 04:08] psmacchia opened #5275 "Span<T> and ReadOnlySpan<T> are tagged with System.ObsoleteAttribute in 5.0.0-rc.1.20451.14 (and before)"
In **C:\Program Files\dotnet\shared\Microsoft.NETCore.App\5.0.0-rc.1.20451.14\System.Private.CoreLib.dll** `Span<T>` and `ReadOnlySpan<T>` are tagged with `System.ObsoleteAttribute` the message is: **"Types with embedded references are not supported in this version of your compiler."**.

It looks like it is a compiler versioning issue when compiling _System.Private.CoreLib.dll_.

It looks like thi

[2020-09-29 05:19] mturczyn commented on #1962
Is it resolved? I just run into that issue...

[2020-09-29 08:53] svick commented on #5275
This is not some issue, it's expected. The attribute exists so that compilers not aware of `Span` limitations can't use it. But `Span`-aware compilers ignore it.

[2020-09-29 10:14] MattA48 opened #5276 "ConfigurationBinder.GetValue<T> can raise InvalidOperationException with non-nullable value types"
# Issue Title

ConfigurationBinder.GetValue fails when there is no value in the config data and the type is a non-nullable value (i.e. bool). This also fails when given a default value with an InvalidOperationException

# General

.Net Core v 3.1.301

Call made to
            bool test = config.GetValue<bool>("test");
or
            bool test = config.GetValue<bool>("test", false);

where config i

[2020-09-29 10:31] psmacchia commented on #5275
Ok thanks for the precision, this is helpful.

[2020-09-29 10:31] #5275 closed

[2020-09-29 16:32] sumongogo commented on #5274
when i tried to browse http://localhost:5000/
I got error message that "this site can't be reached. local host refused to connect
My windows version is Windows7

[2020-09-29 16:32] sumongogo commented on #5274
please help me

[2020-09-29 16:48] sumongogo opened #5277 "dotnet run gives error messages"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/modify
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-09-29 17:10] mairaw commented on #5274
Are you running the project?

[2020-09-29 17:42] roshanbudhathoki opened #5278 "Package Downgrade error with mysql 8.0.21 nuget package while publishing for linux-x64"
# Package Downgrade error with mysql 8.0.21 nuget package while publishing for linux-x64

With .netcore 3.1 runtime when I try to publish application for linux-x64 runtime it shows package downgrade error.

[code]
[code]
[code]
[code]
[code]
[code]

[2020-09-29 18:04] fwd079 commented on #5170
@rbhanda are you listening to people here?

[2020-09-29 18:08] rbhanda commented on #5170
@fwd079 circular reference is by design. This is done so that people can access release notes or blogs from either place

[2020-09-29 18:12] rbhanda commented on #5170
@estensen https://www.nuget.org/packages/Microsoft.Extensions.Http.Polly/3.1.8 will this help?

[2020-09-29 18:13] Youssef1313 opened #5279 "Duplicate links in dotnet.microsoft.com"
- Click **All Microsoft** in the top-right corner in https://dotnet.microsoft.com/
- Links for **Microsoft HoloLens** and **Mixed Reality** are **different** but redirects to the **same page**.

Also, consider avoiding localization for links when possible.

cc: @mairaw
Feel free if you want to move this issue to the internal (private) repository.

[2020-09-29 19:05] MichaelSimons commented on #5170
@jehof - the recommendation is to use the `3.1.8-alpine3.12` tag.  See https://github.com/dotnet/dotnet-docker/issues/2188 for more details.

[2020-09-29 19:09] mairaw commented on #5279
Thanks for the feedback @Youssef1313. I'll keep this one open until the issue is fixed or I hear back from the team responsible for that menu.

[2020-09-29 22:06] #5273 closed

[2020-09-29 22:06] qboy21 commented on #5273
thank you. resolved.

[2020-09-30 06:48] Mohamed-Abubucker commented on #5190
Hi,

Anyone could help me regarding this?

[2020-09-30 06:50] koliyo commented on #4031
Same problem here with the official `mcr.microsoft.com/dotnet/core/sdk:3.1` docker image. I am using `--runtime linux-x64`

[2020-09-30 06:56] estensen commented on #5170
@rbhanda no? There's no changelog there

[2020-09-30 09:48] Tumba-Fataki commented on #5247
Web Assembly j'ai visual studio 2019 v.16.7.3

ca renvoit:

Processing post-creation actions...
Running 'dotnet restore' on BlazChat\BlazChat.sln...
  Identification des projets à restaurer...
C:\Users\NDOKI_YA_GENTIL-PC\BlazChat\Client\BlazChat.Client.csproj : error NU1101: Package Microsoft.AspNetCore.Components.WebAssembly introuvable. Aucun package associé à cet ID n'existe dans la ou les sour

[2020-09-30 09:49] Tumba-Fataki commented on #5247
J'ai le meme probleme

[2020-09-30 14:15] ilyoniss commented on #4371
any updates..? I have the same issues.

[2020-09-30 14:28] mars-boy commented on #4371
Check if u have added Microsoft.Extensions.Hosting.Windowsservices package

[2020-09-30 16:06] pmout commented on #5200
This work for me
Use:
netstat -ano | findstr ":9300.*LISTENING"
To get "PID" from process that are using port 9300
Taskkill /PID "PID" /F
Run app again.

[2020-09-30 17:39] VWilcox2000 opened #5282 "Opening Stream Writer on file named CON.* exception should be informative."
Opening Stream Writer on file named CON.* exception should be informative.

Be as descriptive as you can with your title.

Using .net 5.0.0-rc.1.20452.2

Opening file with StreamWriter named CON.cs causes an inappropriate not supported exception.

The code involved:

        using (StreamWriter writer = new StreamWriter(
          targetFile, // (targetFile = ""C:\\src\\ ... \\CON.cs"")

[2020-09-30 22:46] danmosemsft commented on #5260
@jaredpar can you pleae either close, or move to csharp-lang? I don't have rights to do so.

[2020-09-30 22:47] danmosemsft commented on #5262
@johndeoi that means ERROR_NO_NET_OR_BAD_PATH "The network path was either typed incorrectly, does not exist, or the network provider is not currently available."

If you try again, does it work?

[2020-09-30 22:50] danmosemsft commented on #5267
@rbhanda  can you help?

[2020-09-30 22:51] danmosemsft commented on #5277
@sumongogo can you give more info - what error messages? thanks!

[2020-09-30 22:53] danmosemsft commented on #5266
Hi @TjoshgGaming123 how did you create the project? If on the command line, was it with "dotnet new console -o MyApp" as in the link above? If in Visual Studio, you need to choose the "application" rather than "class library" template.

[2020-09-30 22:53] danmosemsft commented on #5264
duplicate of #5266

[2020-09-30 22:53] #5264 closed

[2020-09-30 22:54] danmosemsft commented on #5235
cc @leecow @rbhanda for that feedback

@ShalokShalom what distro are you using?

[2020-09-30 23:04] omajid commented on #5235
Speaking as a Fedora developer, I am not sure .NET (Core) is suitable for Flatpak on Linux. I spoke to some Flatpak developers and Flatpak is all about running graphical applications. That's not a use case supported by .NET (Core) on Linux really. The Flatpak developers suggested that if we want to develop/deploy server-like applications, containers (docke/podman) are a better fit than Flatpak.

[2020-09-30 23:30] gouaic opened #5283 "Dotnet."
# Issue Title

Be as descriptive as you can with your title.

# General

Provide details on the problem you are experiencing including the .NET Core version, operating system version and anything else that is relevant.

Please provide a code sample for your issue if it is relevant, either inline, link to a gist (or similar) or add it as a zipped attachment.

For some issues, you will get a quicker

[2020-09-30 23:32] rbhanda commented on #5267
You are trying to install .NET Core using Package Manager.
I followed the commands as mentioned in the [docs](https://docs.microsoft.com/en-us/dotnet/core/install/linux-ubuntu)

`wget https://packages.microsoft.com/config/ubuntu/20.04/packages-microsoft-prod.deb -O packages-microsoft-prod.deb`
`sudo dpkg -i packages-microsoft-prod.deb`
`sudo apt-get update; \
  sudo apt-get install -y apt-transpor

[2020-09-30 23:34] mairaw commented on #5283
Please provide information about the issue or the question that you have @gouaic.

[2020-09-30 23:34] #5283 closed

[2020-10-01 00:37] andresianipar commented on #5267
The links and instructions you have described are exactly what I have followed and mentioned in my first comment. Am I missing something?

[2020-10-01 00:38] andresianipar commented on #5267
The links and instructions that you have described are exactly what I have followed and mentioned in my first comment. Am I missing something?

[2020-10-01 01:15] ilyoniss commented on #4371
Problems that service is starting, but Backgroudservice and task ExecuteAsyinc is starting but only performs only one loop cycle.

[2020-10-01 02:22] ilyoniss opened #5284 "System.SByte[] increasing number of instances in memory, causing memory leak."
# System.SByte[] increasing number of instances in memory, causing memory leak.

.NET Core 3.1.8 Project created from Workers Process template (empty base project). When performing long running, causing memory leaking.
Memory profiler detected the number of instances are growing and could not utilized by GC.
Increasing number of primitive type growing faster than can be utilized by GC.

# System.S

[2020-10-01 03:19] preetipadalia commented on #5194
Closing as it raised in wpf repo.

[2020-10-01 03:20] #5194 closed

[2020-10-01 06:27] ShalokShalom commented on #5235
KaOS

[2020-10-01 06:45] trivli opened #5285 "Error when creating Docker Image from microsoft tutorial"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/docker-image
Operating System: windows 10.0.18363

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Output:
C:\Users\til\myMircoservice>docker build -t mymicroservice .
[+] Building 0.7s (9/14)
 =>

[2020-10-01 09:37] AdamRiddick commented on #5123
@joeloff @jkotalik What route can we take with this? This is preventing us from getting updated to 3.1

[2020-10-01 13:19] hingyeoh opened #5286 "Hello,World"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-10-01 13:23] andresianipar commented on #5267
Okay now I've installed the SDK from Snap based on this [subarticle](https://docs.microsoft.com/en-us/dotnet/core/install/linux-ubuntu#snap), then I type `dotnet --info` and get:
[code]
I can now run dotnet commands from terminal. Next I installed the C# extension for VS Code then encountered this problem:
[code]
What am I missing here? Please help. I'm only one step away from starting coding

[2020-10-01 13:24] mahmoud-abdeltawab opened #5287 "Run your app In your command prompt, run the following command:"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-10-01 13:24] andresianipar commented on #5267
Okay now I've installed the SDK from Snap based on this [subarticle](https://docs.microsoft.com/en-us/dotnet/core/install/linux-ubuntu#snap), then I type `dotnet --info` and get:
[code]
I can now run dotnet commands from terminal. Next I installed the C# extension for VS Code then encountered this problem:
[code]
What am I missing here? Please help. I'm only one step away from starting coding

[2020-10-01 13:28] andresianipar commented on #5267
@rbhanda

[2020-10-01 13:29] mahmoud-abdeltawab commented on #5287
win 10 64 os
![image](https://user-images.githubusercontent.com/72207961/94815507-e3978f00-03fa-11eb-9041-11d29ddc4f25.png)

[2020-10-01 13:30] mahmoud-abdeltawab commented on #5287
Help me !!

[2020-10-01 13:37] andresianipar commented on #5267
@rbhanda

[2020-10-01 13:43] mahmoud-abdeltawab opened #5288 "@page @model IndexModel @{ ViewData["Title"] = "Home page"; } <div class="text-center"> <h1>Hello, world!</h1> <p>The time on the server is @DateTime.Now</p> </div>"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/modify
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-10-01 14:08] mahmoud-abdeltawab opened #5289 "Open Pages/Index.cshtml in any text editor and replace all of the code with the following, then save the file."
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/modify
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-10-01 14:09] mahmoud-abdeltawab commented on #5289
![Uploading image.png…]()

[2020-10-01 14:10] mahmoud-abdeltawab commented on #5289
Refresh the browser to see the change:

[2020-10-01 14:16] tig opened #5290 "Terminal.Gui (gui.cs) apps via EXE in WSL don't get all keystrokes"
# Issue Title

Try running any standalone Terminal.gui app under under WSL via the .exe built by `dotnet build`. Arrow keys and other keys do not work. Some shortcut keys (e.g. CTRL Q don't).

This may apply to Linux in general, but I only have tested via WSL.

# General

- Setup WSL2 with Debian or Ubuntu (I've tried both).
- Install .NET Core 5
- git clone https://github.com/migueldeicaza/gui.cs

[2020-10-01 16:47] #4925 closed

[2020-10-01 16:56] rbhanda opened #5291 "Fedora 31 reaches end of life in Nov 2020"
### Repos team to update:

- [ ] Remove installers for the outdated distro

- [x] Stop building Official Docker™ images

- [ ]  Remove build support

- [ ]  Remove test assets

### Infrastructure Team Accountabilities/Deliverables:

- [ ]  Notification to NetCore Engineering Partners

- [ ]  Remove the outdated version from the hardware pool

### Release Team

- [x]  Send Notification to every tea

[2020-10-01 17:11] rbhanda opened #5292 "Alpine 3.9 reaches end of life on Nov 01 2020"
### Repos team to update:

- [ ] Remove installers for the outdated distro

- [x] Stop building Official Docker™ images

- [ ]  Remove build support

- [ ]  Remove test assets

### Infrastructure Team Accountabilities/Deliverables:

- [ ]  Notification to NetCore Engineering Partners

- [ ]  Remove the outdated version from the hardware pool

### Release Team

- [x]  Send Notification to every tea

[2020-10-01 19:44] mairaw commented on #5289
I can't see the error you're having @mahmoud-abdeltawab. Can you try to upload the screenshot one more time?

[2020-10-01 19:45] mairaw commented on #5288
What is the problem you're having @mahmoud-abdeltawab?

[2020-10-01 19:46] mairaw commented on #5287
So the app is running. Did you try to open a browser and navigate to http://localhost:500?

[2020-10-01 19:47] mairaw commented on #5286
Can you give us more information about the issue you're having with the tutorial?

[2020-10-01 21:36] omajid opened #5293 "How do the Known Issues entries work?"
.NET 5 has a list of known issues: https://github.com/dotnet/core/blob/master/release-notes/5.0/5.0-known-issues.md

I don't quite understand how the items on that work and when they are considered "resolved".

If there's a known issue listed under Preview 1, for example, does that mean that issue affects Preview 1 and later? Or does mean that it only affects Preview 1 and has been resolved in the

[2020-10-01 21:37] omajid commented on #5293
cc @dleeapho @leecow @rbhanda

[2020-10-01 23:24] uopeydel commented on #5225
Any idea? @carlossanlop @MichaelSimons

[2020-10-02 13:00] nu8 opened #5294 "Recommend .Net Runtime over Desktop Runtime"
I created a simple project:

[code]

then build:

[code]

then run:

[code]

My concern is not the error, but the suggestion. If you follow the URL, it takes
you here:

https://dotnet.microsoft.com/download/dotnet-core/thank-you/runtime-desktop-5.0.0-rc.1-windows-x64-installer

which is a 52 MB file. However for this simple program, the Desktop Runtime is
not needed. The .NET Runtime will work:

h

[2020-10-02 13:58] andresianipar commented on #5267
Stack Overflow answers help! Since I installed .NET from Snap, I've had to launch VS Code with this command:

`MSBuildSDKsPath="/snap/dotnet-sdk/98/sdk/$(dotnet --version)/Sdks" code`

Will .NET 5.0 GA come with full support for Ubuntu? Means there is no need for a workaround like this

[2020-10-02 14:09] andresianipar commented on #5267
Stack Overflow answers help! Since I installed .NET from Snap, I've had to launch VS Code with this command:

`MSBuildSDKsPath="/snap/dotnet-sdk/98/sdk/$(dotnet --version)/Sdks" code`

Will .NET 5.0 GA come with full support for Ubuntu? Means no need for a workaround like this anymore

[2020-10-02 14:54] TristanKnox commented on #2794
Same here, I have uninstalled the SDK and reinstalled, set the path to C:\Program Files\dotnet and reopened cmd but still nothing

[2020-10-02 15:55] mairaw commented on #5294
That’s a good point about the runtime page. I have a change in progress for the website that would include that. I’ll try to prioritize its completion.

But the interesting thing is that when you install the SDK, the runtime is also installed.
Can you paste the output of `dotnet info`?

[2020-10-02 16:28] nu8 commented on #5294
@mairaw thanks for fast response.

In my case - I use the SDK Binary rather than the Installer:

https://dotnet.microsoft.com/download/dotnet/5.0

I have always been hesitant about developing with C#, because of the Runtime requirement. However recently I have been giving it a try. But it important to me that I consider the burden this puts on any users of my programs. So with that in mind, I thin

[2020-10-02 17:17] dazinator commented on #5200
I am having an issue where the following javascript file is now giving "404 not found" in the browser, after upgrading to RC1:

[code]

Where can I find this file, is it sourced from some nuget package somewhere? How does it get incorporated into the project?

[2020-10-02 17:19] captainsafia commented on #5200
@dazinator Can you open an issue at https://github.com/dotnet/aspnetcore?

[2020-10-02 17:26] dazinator commented on #5200
@captainsafia - After an almost an hour looking around, it has suddenly starting working.. must have been some weird caching issue going on. I had tried disabling cache in the chrome network tab and that hadn't fixed it initially, but it seems to be working now! Sorry about that!

[2020-10-02 22:59] simonz130 commented on #4512
I just tried to build docker image on macos from the following:
[code]

and get an error:

[code]

Building locally on macos succeeds. Any clues?

[2020-10-03 03:52] manishramola opened #5296 "cant install .net framework"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're [experiencing.](url) Include your operating system version, exact error message, code sample, and anything else that is relevant.]

[2020-10-03 06:30] mairaw commented on #5296
This tutorial is not about.net framework. Which version of Windows are you on and which version are you trying to install?

[2020-10-03 07:46] moiza261 opened #5297 "How to install NET .SDK"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-10-03 07:50] mairaw commented on #5297
You just need to click the button to download the file and click on it to execute it when it finishes downloading. Then just follow the prompts! Let us know if it works or if you run into any issues.

[2020-10-03 07:58] moiza261 opened #5298 "Failed to load the dill form"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-10-03 12:24] moiza261 commented on #5297
my problem is not solved

[2020-10-03 12:28] moiza261 commented on #5297
my problem is not solved

[2020-10-03 13:25] heartacker opened #5299 "how to publish specific platform wpf APP WITH specific nuget package"
# Issue Title

Be as descriptive as you can with your title.

# General
my app has different reference with different platform. and i can build and debug using VS2019, but i can't publish it using dotnet cli `dotnet publish`

that is csproj file
[code]

my cli cmd:
[code]
![image](https://user-images.githubusercontent.com/1876302/94992800-efcc4980-05be-11eb-89e0-7cc8a9497f61.png)

[2020-10-03 18:01] #5250 closed

[2020-10-03 18:01] #5252 closed

[2020-10-03 20:20] bacmodung opened #5300 "tuitiu"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/edit
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-10-03 20:48] mairaw commented on #5300
Please provide more information about the issue you’re having @bacmodung

[2020-10-04 05:11] #5253 closed

[2020-10-04 13:28] BradLockhart opened #5301 "Blazor wasm hosted - Container Orchestrator Support (Docker Compose) - Error: The target process exited without raising a CoreCLR started event. Ensure that the target process is configured to use .NET Core. This may be expected if the target process did not run on .NET Core."
**SDK:** 5.0.100-rc.1.20452.10
**Runtime:** 5.0.0-rc.1.20451.14
**Visual Studio** 2019 (v16.8.0, Preview 3.2)

After initialising a Blazor WebAssembly App with the "ASP.NET Core hosted" configuration selected,  the following projects are created -
BlazorApp1.Client
BlazorApp1.Server
BlazorApp1.Shared

Having Docker Desktop running and configured for Linux Containers, right clicking and selecting A

[2020-10-04 14:24] NISARG100 opened #5302 "Error In VS Code"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

My PC specs ..,
32-bit Windows 7 Ultimate

![Error](https://user-images.githubusercontent.com/72347021/95018079-e3a

[2020-10-04 16:16] #5256 closed

[2020-10-05 06:48] wstaelens commented on #5021
maybe the issue is related: https://github.com/dotnet/runtime/issues/29935#issuecomment-702713276

[2020-10-05 08:43] jmp75 commented on #5019
@tarekgh  If I may; I encountered the very same problem, using  Debian 11 (currently the 'testing' version). This is following installation instructions as close as possible, using "snap"  as per the [debian dotnet install doc](https://docs.microsoft.com/en-us/dotnet/core/install/linux-debian). I would have preferred using debian packages but this does not yet work for Debian 11 (actually, complai

[2020-10-05 09:39] Robsay commented on #4616
@mslot Perfect, your fix worked for me as well

[2020-10-05 10:12] jaime-rivas commented on #5232
Interested too!

[2020-10-05 10:20] JoFrMueller opened #5303 "Ugly log level prefixes under CentOS 8"
# Issue Title

CentOS 8 logs escaped log level prefixes in a strange way.

# General

## Dotnet core and operating system versions

[code]

## Weird behaviour

Default log messages do look quite confusing around the log level output. Seems like quite strangely formatted/escaped characters.

[code]

# Expected behaviour

* Default log messages should look *"normal"*.
* No further configuration of l

[2020-10-05 13:00] tmds commented on #5303
@JoFrMueller I think this is the same issue as https://github.com/dotnet/runtime/issues/37421 and it will be better with .NET 5: when an ASP.NET application runs under a redirected environment it will no longer output ANSI color codes by default.

[2020-10-05 15:26] BrettButcher commented on #5200
Is there an approximate timeline for RC2, I would have thought fairly imminent? Holding on a breaking issue.
Thanks.

[2020-10-05 15:29] rbhanda commented on #5200
Hi @BrettButcher RC2 is expected to be released on 13th October 2020

[2020-10-05 17:35] scalablecory commented on #5302
Have you tried installing the prerequisites from the link there?

[2020-10-05 17:38] leecow commented on #5293
The idea is that individual entries are evaluated for subsequent releases and, when fixed, decorated with "Resolved in Preview X" with a link to the appropriate commit.

@rbhanda - let's make sure the teams review past known issues before the RC2 release so that the document is current and useful.

[2020-10-05 17:40] scalablecory commented on #5303
@JoFrMueller can you please try with .NET 5? Thanks.

[2020-10-05 18:15] omajid commented on #5293
@leecow Thanks. Does that mean [this line](https://github.com/dotnet/core/pull/5198/files#r498477129 ) should be added back?

[2020-10-05 18:46] mairaw commented on #5302
Also, can you try running this same command on a command prompt window outside VS Code to see if you'd get the same error message?

[2020-10-05 18:49] mairaw commented on #5298
Can you please provide more information about the error you're getting? Perhaps attach a screenshot to see what's going on?

[2020-10-05 18:53] leecow commented on #5293
Yes, I think so. Digging through the changelog for resolved issues isn't a great experience and the Known Issues doc should be an easily understood historical record.

[2020-10-05 20:58] tarekgh commented on #5019
@qyangaa @jmp75 could you please follow the issue https://github.com/dotnet/runtime/issues/43052 which is tracking fixing same issue (I guess)?

[2020-10-05 21:01] dagood commented on #5019
https://github.com/dotnet/runtime/issues/43052 is specifically about this:

The rest of the comment seems to be about an issue with the .NET Snap, which I'm not very familiar with.

[2020-10-05 21:07] tarekgh commented on #5019
Do you know who can help with it?

CC @safern

[2020-10-06 01:52] kher7760 opened #5304 "i not run"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-10-06 01:53] #5304 closed

[2020-10-06 01:53] kher7760 opened #5305 "i not run"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-10-06 01:55] kher7760 commented on #5305
Couldn't find a project to run. Ensure a project exists in C:\Windows\system32, or pass the path to the project using --project.

[2020-10-06 01:55] kher7760 commented on #5305
Couldn't find a project to run. Ensure a project exists in C:\Windows\system32, or pass the path to the project using --project.

[2020-10-06 01:56] #5305 closed

[2020-10-06 06:04] jmp75 commented on #5019
I got an installation working with the ICU working after noticing [that reply](https://github.com/dotnet/source-build/issues/782#issuecomment-700835197) and prior discussions. I thought at first read what was referred to was compilation from source but this is not and much simpler a process, so may be worth expanding here. This refers to the [Manual Install](https://docs.microsoft.com/en-us/dotnet

[2020-10-06 11:03] gregpakes commented on #5123
@joeloff @jkotalik Sorry to chase - but this is a significant issue for us and really holds us back from using .Net Core.

Do you have any suggestions?

[2020-10-06 11:27] MMW-RobinTaba opened #5306 "Couldn't create Hyperlinks when working with MS.Office.Interop.Excel using .Net Core"
Specs:
- WPF Solution working under .NET Core 3.1 with VS2019.

Since moving to .NET Core, i cannot fully use the MS.Office.Interop dll-s. When i try to create a Hyperlink in an Excel Cell, it always gives me that Error:

![image](https://user-images.githubusercontent.com/69900041/95195767-4c09b600-07d7-11eb-98ed-a98cebd9f87f.png)

Does anybody know a solution for that Issue?

[2020-10-06 13:01] dinonovak opened #5307 "Unable to dotnet run app on Mac, runs in Visual Studio 2019"
I am using macOS Catalina 10.15.7
.net core SDK installed is:

`.NET Core SDK (reflecting any global.json):
 Version:   3.1.402
 Commit:    9b5de826fd

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.15
 OS Platform: Darwin
 RID:         osx.10.15-x64
 Base Path:   /usr/local/share/dotnet/sdk/3.1.402/

Host (useful for support):
  Version: 3.1.8
  Commit:  9c1330dedd`

I have a Blazor

[2020-10-06 13:23] clairyone opened #5308 "Trying to install and run .NET"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

I heve downloaded both
32-bit download & 64- bit but nothing works, Do I have to do something else? I have windows 10
I attached a photo, question> Is that correct? Where is the command line?
![Στιγμιότυπο οθόνης (128)](https://user-images.githubusercontent.com/72437546/95207167

[2020-10-06 13:57] dagood commented on #5019
As long as you have some version of the libicu binaries installed ([from version 50 to 255 currently](https://github.com/dotnet/runtime/blob/ee20c571b3079b77382cbeae537b37a744b1b469/src/libraries/Native/Unix/System.Globalization.Native/pal_icushim.c#L169-L171)), .NET Core will find it and use it. The Debian package is just more restrictive because it has a list of specific package dependencies rat

[2020-10-06 15:40] jkotalik commented on #5123
One idea would be to fully stop was before installing the hosting bundle.
[code]

Besides that, I'm personally not sure.

[2020-10-06 17:05] Mizux commented on #5017
FYI while Ubuntu 20.10 is due for release on October 22, 2020.
ref: https://www.omgubuntu.co.uk/2020/05/ubuntu-20-10-release-features

You can already found docker image on DockerHub...

my test:
[code]

[code]

[2020-10-06 19:08] jehof commented on #5185
Solution is https://github.com/dotnet/core/issues/5170#issuecomment-700920940

[2020-10-06 19:08] #5185 closed

[2020-10-06 19:26] mairaw commented on #5308
The tutorials are actually using .NET Core, not .NET Framework. .NET Core is our newer product.

For opening the command prompt:
- Press the Windows logo key on the taskbar ![image](https://user-images.githubusercontent.com/12971179/95250454-fa5d2d80-07ce-11eb-9f4d-53b1c77293ae.png)
- Type command and click on the command prompt app
![image](https://user-images.githubusercontent.com/12971179/95250

[2020-10-06 19:59] #5021 closed

[2020-10-06 20:36] MReeds opened #5309 "dotnet command not found"
Problem encountered on https://dotnet.microsoft.com/install
Operating System: windows

Installed .NET 64-bit SDK and opened new terminal to execute "dotnet" but received not found. I've tried researching other ways but can't seem to find great resources

[2020-10-06 22:32] gregpakes commented on #5123
@jkotalik That is something that we really want to avoid, it creates significant issues with the automated upgrade for us.

Would this not be considered a bug that we can raise somewhere?

[2020-10-07 00:24] bachi206 opened #5310 "Issue in getting timezone info when hosted in Linux"
Below method is giving TimeZoneInfo when we hosted in windows but it is failing to give timezone infor  when we hosted in Linux

TimeZoneInfo.FindSystemTimeZoneById("Pacific Standard Time")

Error:  **The time zone ID 'Pacific Standard Time' was not found on the local computer**

[2020-10-07 00:51] omajid commented on #5310
Does https://devblogs.microsoft.com/dotnet/cross-platform-time-zones-with-net-core/ address some of your concerns?

[2020-10-07 06:48] mairaw commented on #5309
Did you open a new command prompt to execute the command after the installation was done?

You might want to check if the SDK was properly installed:
https://docs.microsoft.com/en-us/dotnet/core/install/how-to-detect-installed-versions?pivots=os-windows#check-for-install-folders

[2020-10-07 07:50] anaya-upadhyay opened #5311 "Build Error using .net5"
# Build Error: [The reference assemblies for .NETFramework,Version=v5.0 were not found]

I created a .Net Core Console Application.
It gives me build error as "The reference assemblies for .NETFramework,Version=v5.0 were not found".

- I've already installed .NET 5.0 SDK (v5.0.100-rc.1).
- I've got VS2019 v16.7.5

![image](https://user-images.githubusercontent.com/16795691/95302619-eb937b00-08a1-1

[2020-10-07 08:15] nicfo13 opened #5312 ".net install error"
Problem encountered on https://dotnet.microsoft.com/install
Operating System: windows 10

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
copied log, no idea how to fix this

[code]

[2020-10-07 08:25] mairaw commented on #5311
The minimum version for using .NET 5 RC1 with Visual Studio is version 16.8 Preview 3.
https://dotnet.microsoft.com/download/dotnet/5.0

Let us know if you see the same issues using that version.

[2020-10-07 08:31] anaya-upadhyay commented on #5311
@mairaw Thank you for the quick reply. My bad I didn't look for the version of VS.

Can I use .net 5 via Visual Studio Code?

[2020-10-07 08:38] #5311 closed

[2020-10-07 12:24] StefanOssendorf commented on #5200
Hello,

where should I put false CA1416 warnings in projects with `net5.0-windows`?

We are using the `ManagementBaseObject` from the `System.Management` package v 5.0.0-rc.1.20451.14.
Project-file:
[code]
`Warning	CA1416	'ManagementBaseObject.this[string].set' is supported on 'windows'`.

[2020-10-08 01:09] DTMENNIS opened #5313 "why has Microsoft gotten so lazy that we have to do all this ourselves I am not a coder nor do I know anyone who is even able to help with this stuff"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-10-08 01:13] mairaw commented on #5313
How did you end up in this tutorial @DTMENNIS? This tutorial is supposed to be for people wanting to learn how to develop.

I'm trying to figure out if in some tool or process we're sending people to this page when we shouldn't.

[2020-10-08 03:15] realJohnLock opened #5314 "core3.1 update to 5.0rc1 musl-x86_64.so.1: bad ELF interpreter"
# core3.1 update to 5.0rc1 musl-x86_64.so.1: bad ELF interpreter

When I update core3.1 to 5.0rc1 there are some error happend:
$ dotnet
-bash: /public/home/Skleac_wj_01/program/dotnet/5.0rc1/dotnet: /lib/ld-musl-x86_64.so.1: bad ELF interpreter: No such file or directory

I am sure in the core3.1 is ok. How could I fixed this.

[2020-10-08 04:31] dagood commented on #5314
I have a few questions:

* How did you install 5.0 rc1?
  * (What page did you go to, what file did you download, what method did you use to update, etc.)
* What OS are you running?
  * If it isn't something "ordinary" like Ubuntu, do you know if it uses *glibc*, or *musl*?

[2020-10-08 06:55] oliverjanik opened #5315 "Let's have System.Diagnostics.Activity implement IDisposable"
Hello, it seems to me the `System.Diagnostics.Activity` is the way forward to implement OpenTelemetry standard and lot's of components in the ecosystem are converging on this standard.

I want to create new Activities (to get separate SpanId within a Trace) and the article here: https://devblogs.microsoft.com/aspnet/improvements-in-net-core-3-0-for-troubleshooting-and-monitoring-distributed-apps

[2020-10-08 09:48] realJohnLock commented on #5314
The OS which I am running is the RedHat 7.2, The C standard library is glibc, we don't install the musl at all, I don't know why dotnet link to the musl.
I am trying to install the .net 5rc1 to my university cluster, I am not the root user, so I cann't install .net5 with RPM file.   I installed the .net5 as follow,
(1) I download the binary file dotnet-sdk-5.0.100-rc.1.20452.10-linux-musl-x64.tar.

[2020-10-08 09:53] fkoech opened #5316 "dotnet bash: dotnet: command not found"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/install
Operating System: linux

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-10-08 09:57] clairyone commented on #5308
Thank you, i found the Windows 10 through Windows logo key+R

[2020-10-08 09:58] 87Alex opened #5317 "The "View code" command does not work for files with a custom extensions"
**#The "View Code" command does not work for files with custom extensions

I have two solutions: one with a .NET Core 3.1 project and the second one with a Framework v4.7.2 project. Both projects have the XMLFileAAA.wersd file added as follows:

[code]

When I execute the View Code command in the XMLFileAAA.wersd file, it has no effect in the .NET Core project and successfully opens the Text Edito

[2020-10-08 13:53] dagood commented on #5314
This file is for musl:

Instead, you should download the file for glibc:

You didn't mention where you got this file, but my theory is you got it from https://dotnet.microsoft.com/download/dotnet/5.0, specifically here:

![image](https://user-images.githubusercontent.com/12819531/95467105-b0955400-0942-11eb-9742-16a8fd6abc9b.png)

But that's actually the `x64 Alpine` link, which uses musl:

![imag

[2020-10-08 14:14] mgochmuradov opened #5318 "Combining functions will crash application without any exception"
# Issue Title

Combining functions will crash the application without any error. Even surrounding with try-catch will not help.

# General

In an application, I have the ability to specify filters for data being processed. It is working fine when I have just one filter, but when there are multiple filters combined with `||` operator, the application (asp.net core 3.1) just stop debugging without a

[2020-10-08 15:29] dagood commented on #5318
When I run your code, I get `Stack overflow.`. I think this line isn't doing what you think:

[code]

The lambda captures the *variable* `filterFunction`, not its value, so the result recurses infinitely. Changing it to this fixes it for me:

[code]

[2020-10-08 15:48] scalablecory commented on #5318
Looks like @dagood figured it out; closing the issue.

[2020-10-08 15:48] #5318 closed

[2020-10-08 16:10] RajaniCode opened #5319 "C# 9.0 Overridden virtual function cannot return a covariant derived type that contains the overridden function"
#  C# 9.0 Covariant return types - Overridden virtual function - TypeLoadException

# Description

C# 9.0 Overridden virtual function works fine when the return type is a covariant derived type, however it fails when the return type is a covariant derived type that contains the overridden function.

# Code Snippet
`using System;

class A
{
    public virtual A VirtualMethodA() => new();
}

class B

[2020-10-08 21:05] samgithub opened #5320 "This example does not work when you publish/run in WSL 2"
My target platform is a linux-64, so I am pre-publishing the microservice using
Step 1:  **dotnet publish -c Release -o publish -r linux-x64**

Then I create an image using
**docker build -t microservice -f Dockerfile .**

Then create a container within WSL **Ubunto** 20.0.4

**docker run -it --rm -p 3000:80 --name microservicecontainer microserviceI**

Problem : I cannot access the service from a

[2020-10-08 22:15] vvaezian commented on #930
For me the path of created openssl-libs was different. So I had to find it first (as suggested by wfurt)
[code]

[2020-10-08 23:33] Andromedazs opened #5322 ".net core"

[2020-10-08 23:34] #5322 closed

[2020-10-08 23:58] #5263 closed

[2020-10-08 23:58] #5270 closed

[2020-10-09 00:08] realJohnLock commented on #5314
Thank you dagood. The net5 works now. No doubt I had blundered.

[2020-10-09 01:19] Germs2004 opened #5323 "ExecutionEngineException after GC.Collect when using global hook"
# Issue Title

Reproducible crash caused by garbage collection after installing a global keyboard hook.

# General

The crash is reproducible every time.  I created a whole new project to demo the problem.  Here's how it works:

1) Run the .Net Core 3.1 desktop app.
2) It adds a global keyboard hook using Windows API
3) The hook works fine and you can press lots of keys, no problem.
4) Garbage col

[2020-10-09 03:46] dagood commented on #5314
Cool, thanks for confirming. 🙂 Hopefully we'll get the UI clarified soon.

[2020-10-09 03:46] #5314 closed

[2020-10-09 07:36] chenyulue opened #5326 "targets(59, 5): error MSB6004 in Ubuntu emulator in termux"
I installed Ubuntu 20.04 LTS in termux, and manually installed `dotnet` according to the ![instructions](https://dotnet.microsoft.com/download/dotnet-core/thank-you/sdk-3.1.100-preview3-linux-arm64-binaries).

When I ran `dotnet`, everything was OK. However, when I created a console app with `dotnet new console -o myApp` and ran it with `dotnet run`, an error happened:

Why this happens?

[2020-10-09 12:59] IanKemp commented on #897
Please refer to https://docs.microsoft.com/en-us/visualstudio/debugger/jit-optimization-and-debugging#limitations-of-the-suppress-jit-optimization-option

tl;dr you also need to add the environment variable `COMPlus_ReadyToRun=0`.

[2020-10-09 17:20] #5274 closed

[2020-10-09 18:09] zinov opened #5328 "Including ApiController attribute results on an Unsupported Media Type"
Web Api project, .net core version: 3.1

My API didn't have the ApiController attribute and I was including it as part of the new changes to integrate later with swagger.
**Problem**:
All my get request were working before normally with my Endpoint. After including the attribute I got an UnsupportedMediaType error.

My original API controller looks like this:

`    [Authorize]
    [Route("api/tena

[2020-10-09 19:29] 4nTrax commented on #5200
For everyone interested I done a simple workaround.

1.  Create a new ".bat" file and paste the following:
`for /f "tokens=5" %%a in ('netstat -aon ^| find ":9300" ^| find "LISTENING"') do taskkill /f /pid %%a`
This will find the PID of the process currently using port 9300 and kills it.

1.  With the file saved add the following lines to your Blazor `program.cs`, right at the start of the class:

[2020-10-09 19:47] ariel- commented on #5200
Since 5.0 RC 1, I noticed that projects with a project reference will copy the dll to both the output folder and to a `ref` subfolder.
Minimum repro:
[code]

Open the .sln, add both projects to solution, and add a project reference to MyApp (referencing MyLib). Build.
There is now a "MyLib.dll" under net5.0 folder and a "MyLib.dll" under net5.0\ref.

[2020-10-09 20:19] Roneri75 opened #5329 "CipherMode.CFB does not Encrypt the same in .NET 5.0 RC1 as in .NET 4.7"
When using CipherMode.CFB as Mode in the System.Security.Cryptography.TripleDES to Encrypt e.g. a password you don't get the same encryption string back in .NET 5.0 RC1 as you get in .NET 4.7.
We have used code like this since .net 4.5 and it's worked exactly the same since, i should work exactly the same in .NET 5.0 as in 4.x or all apps using this for e.g. saving password encrypted will stop wor

[2020-10-09 21:37] hernandgr commented on #4964
I had the same issue in one of my pipelines and I just realized that it happens when I was using Ubuntu as image.

I created a [public repository on Azure DevOps](https://dev.azure.com/hernandgr/VersionNumberTest) with a web app and a couple of basic pipelines using Windows and Ubuntu that can show you the difference in the published artifacts.

![image](https://user-images.githubusercontent.com/2

[2020-10-09 22:19] dasMulli commented on #4964
Yes, this feature is only supported when building with windows as this uses APIs available in windows to modify the .exe file - https://github.com/dotnet/runtime/blob/0fa26b3b1452d11f131ebdb1f389bbf1a1c75faa/src/installer/managed/Microsoft.NET.HostModel/ResourceUpdater.cs#L177
/cc

[2020-10-10 03:54] LiuHui66 opened #5330 "Cannot send data if the connection is not in the 'Connected' State."
Cannot send data if the connection is not in the 'Connected' State.

Unable to update UI

[2020-10-10 05:20] riddletom76 commented on #5313
@mairaw I think the issue is related to the fact that whenever a new dotnet core app is created, by default it has the hello world and people visit the page with an expectation to get a tutorial, whereas all they get is the instruction to create and run the app which is confusing for people just starting out with dotnet.

[2020-10-10 05:29] riddletom76 commented on #5328
@zinov in the Get request from the client are you explicitly sending a body, usually by convention the Get requests do not have a body the content is read from the URI, but in case you want to send something explicitly from the request body you need to specify in the Method in as to read it from Body.

[2020-10-10 14:00] ModernRonin opened #5331 "PropertyInfos for inherited properties retrieved from reflection and retrieved from Expressions do not equal"
# Actual Behavior
`PropertyInfo` defines an equality operator and normally when applied to two instances pointing at the same property this operator returns true.
However, when one instance is gotten via reflection and the other from a member expression and the target property is inherited, then the operator returns false.

# Expected Behavior
The operator should return true in this case, too.

#

[2020-10-10 14:03] ModernRonin commented on #5331
moving this to the runtime repo, sorry

[2020-10-10 14:03] #5331 closed

[2020-10-10 14:12] zinov commented on #5328
No, GET request should not pass a body. Semantically it doesn't make sense, even if the http protocol allows it, the body should be ignored. Just POST, PUT and PATCH should use the body, but in that case is a Content-Type header what you need to pass.
The Dto I am passing here binds the parameters from the querystring by default. But for this example is not relevant, you can remove it and still yo

[2020-10-10 23:38] #5277 closed

[2020-10-11 19:51] #5286 closed

[2020-10-11 19:51] #5287 closed

[2020-10-11 19:51] #5288 closed

[2020-10-11 19:51] #5289 closed

[2020-10-11 21:34] justj1979 opened #5332 "Change Directory did not work. Did not create directory"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/create
Operating System: windows

Getting ready...
Couldn't find an installed template that matches the input, searching online for one that does...
Usage: new [options]

Options:
  -h, --help          Displays help for this command.
  -l, --list          Lists templates containing the specified name. If no name

[2020-10-12 02:01] jamshedd commented on #5239
This was a test issue created for documentation (screenshot) purposes, closing it out.

[2020-10-12 02:01] #5239 closed

[2020-10-12 02:20] jamshedd opened #5333 "Epic: Enterprises get first-class support when using .NET 6.0 on Linux"
User Stories under this Epic:

- [ ] [Support engineers have complete and up to date playbooks so they can deliver effective .NET diagnostic support to users on Linux](https://github.com/dotnet/core/issues/5452)
- [ ] [Support engineers have a good understanding of the diagnostics tools available so they can deliver effective diagnostic support to users on Linux](https://github.com/dotnet/core/iss

[2020-10-12 07:00] kontacthimanshu opened #5334 "In memory cache not setting items in the cache"
# In memory cache not setting items in the cache

I am trying to use in-memory cache in my .Net Core 3.1/ASP.Net Core based MVC solution but the cache would never set the item in cache. I am planning to host application out of process.

Here is my Startup.cs file:

[code]
Here is my Program.cs file:

[code]

Here is the code I am using to set the cache entry:

[code]

[2020-10-12 12:03] davidfowl commented on #5334
The cache API is pretty strange, you need to dispose the cache entry to add it to the cache. Change this line:

[code]

To add a using

[code]

[2020-10-12 14:14] kontacthimanshu commented on #5334
It works like a charm! Thanks David!!

[2020-10-12 14:14] #5334 closed

[2020-10-12 15:10] richlander commented on #5017
FYI: We only publish container images for Ubuntu LTS releases.

[2020-10-12 17:52] shirhatti commented on #4071
The doc has since been updated.

[2020-10-12 17:52] #4071 closed

[2020-10-12 19:50] isness opened #5335 "Getting the bundle executable location in single file app."
When running an appliaction that was produced as a single file, the actual executable runs from user's TMP folder. The problem is that `System.Reflection.Assembly.GetExecutingAssembly().Location` returns the location inside the user's TMP folder.
I need to get the location of the original bundle that the application was extracted from.
How do I accomplish this?

[2020-10-12 19:50] scalablecory commented on #5332
It looks like you entered "--https" rather than "--no-https". Can you make sure you've typed it exactly as it's shown in the tutorial and check back?

[2020-10-12 21:15] dagood commented on #5319
I think you ran into this bug: https://github.com/dotnet/runtime/issues/41571. It looks like a PR was merged to fix this in 5.0 rc2.

[2020-10-12 21:39] mairaw commented on #5330
@LiuHui66 can you provide more information about this bug? Where are you seeing this?

[2020-10-12 21:42] mairaw commented on #5326
@dagood can you help here?

[2020-10-12 21:42] mairaw commented on #5320
Where are you seeing this example @samgithub?

[2020-10-12 21:45] mairaw commented on #5316
Did you open a new prompt/terminal as instructed in the tutorial?

[2020-10-13 00:49] dagood commented on #5326
Maybe @rainersigwald can help?

Something that stands out is the old link here:

3.1.100-preview3 is pretty old, it might be worth trying 3.1.402 or 3.1.108 from https://dotnet.microsoft.com/download/dotnet-core/3.1.

[2020-10-13 01:36] chenyulue commented on #5326
I have tried the 3.1.402, and the same problem still happens.

[2020-10-13 07:16] #5296 closed

[2020-10-13 07:44] Mizux commented on #5017
To avoid any ambiguity, I don't want any container image, I only need an **Ubuntu 20.10** `dotnet-sdk-3.1` feed so I can integrate it in our Google OR-Tools docker container to provide our .Net native prebuilt binaries...
ref: https://github.com/google/or-tools/blob/stable/tools/docker/ubuntu-20.10.Dockerfile

The simplify Dockerfile above is just a way to reproduce the error and what I'm looking

[2020-10-13 09:32] harshendra181 opened #5336 "getting 404 error while browsing /WeatherForecast URL"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

This localhost page can’t be foundNo webpage was found for the web address: http://localhost:5000/WeatherForecast
HTT

[2020-10-13 09:48] jhunexjun commented on #3342
Answer is just move the Dockerfile to where your `.sln` project is, which your `.dockerignore` is also located.

[2020-10-13 11:42] Paula368 opened #5337 "Cannot download .netframework"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

I received a 'dotnet' is not recognized as an internal or external command error.  I have used a new command promp

[2020-10-13 11:51] #5337 closed

[2020-10-13 12:51] Fireant456 opened #5338 "Linux dotnet publish fails to add metadata to exe"
Although my csproj contains the values to add to the file metadata, running dotnet publish on CentOS 7 Linux fails to apply metadata without any errors...
[code]

When I build on Windows 10 it applies the metadata as expected.

On both OSes I use the following publish command...
`dotnet publish -r win-x64 -c Release /p:PublishSingleFile=true`

[2020-10-13 14:52] cos702003 opened #5339 "webAPP is deprecated?"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/install
Operating System: windows

The tutorial says to create a new webApp, but the webApp function is deprecated it looks like. It suggests using "dotnet new mvc --auth Individual" or "dotnet new web" to create the project now.

[2020-10-13 15:52] #3708 closed

[2020-10-13 16:04] mairaw commented on #5339
@danroth27 can you comment on that?

[2020-10-13 16:08] mairaw commented on #5337
The right place to download the .NET Framework would be at https://dotnet.microsoft.com/download/dotnet-framework.

If you want to let us know how you ended up in the tutorial instead, that would help us to improve the experience for our users.

[2020-10-13 16:13] samgithub commented on #5320
Its the example at

https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/intro

[2020-10-13 16:15] mairaw commented on #5336
And do you have the project running? That is, did you type `dotnet run`?

[2020-10-13 16:20] danroth27 commented on #5339
`dotnet new webapp` isn't deprecated and is still the recommended way to create an ASP.NET Core web app project based on Razor ages. `dotnet new mvc` is how you'd create an ASP.NET Core MVC based project, which is also fully supported.

@cos702003 Where are you seeing that `dotnet new webapp` is deprecated? Maybe we have some incorrect docs someplace?

[2020-10-13 16:23] mairaw commented on #5320
Adding @shirhatti and @nishanil to help here

We do offer Linux versions of the tutorials too - just click on the Linux tab:
https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/intro?initial-os=linux

And then we also have a deployment one:
https://dotnet.microsoft.com/learn/aspnet/deploy-microservice-tutorial/intro?initial-os=linux

Does that help?

[2020-10-13 17:36] martincostello opened #5342 "5.0/releases.json is malformed"
The JSON in [`5.0/releases.json`](https://github.com/dotnet/core/blob/21f817261f29fc4622fe3048b9ead6fc6f909308/release-notes/5.0/releases.json) is malformed and does not parse as valid (checked using [jsonlint](https://jsonlint.com/)).

The file appears to have been truncated when the 5.0 RC2 content was added by #5340.

[code]

/cc @rbhanda

[2020-10-13 18:00] rbhanda commented on #5342
Resolved by https://github.com/dotnet/core/pull/5343

[2020-10-13 18:00] #5342 closed

[2020-10-13 18:13] rbhanda opened #5345 ".NET 5 RC 2"
[Release Notes](https://github.com/dotnet/core/blob/master/release-notes/5.0/preview/5.0.0-rc.2.md)

Please report any issues you find with .NET 5, either responding to this issue, creating a new issue or creating a new issue in one of the following repos:

* [dotnet/aspnetcore](https://github.com/dotnet/aspnetcore/issues) - for ASP.NET Core questions
* [dotnet/efcore](https://github.com/dotnet/ef

[2020-10-13 18:22] rbhanda commented on #5200
Closing in favor of https://github.com/dotnet/core/issues/5345

[2020-10-13 18:22] #5200 closed

[2020-10-13 18:26] rbhanda opened #5347 ".NET Core October 2020 Update - 2.1.23 and 3.1.9"
[3.1.9 Release Notes](https://github.com/dotnet/core/blob/master/release-notes/3.1/3.1.9/3.1.9.md)
[3.1.9 Download](https://www.microsoft.com/net/download/dotnet-core/3.1)

[2.1.23 Release Notes](https://github.com/dotnet/core/blob/master/release-notes/2.1/2.1.23/2.1.23.md)
[2.1.23 Download](https://www.microsoft.com/net/download/dotnet-core/2.1)

**Blog posts**

[.NET Core](https://devblogs.micro

[2020-10-13 18:27] rbhanda commented on #5170
Closing in favor of https://github.com/dotnet/core/issues/5347

[2020-10-13 18:27] #5170 closed

[2020-10-13 19:57] reinux commented on #5345
[This problem](https://github.com/dotnet/core/issues/5200#issuecomment-698735855) persists on my machine with RC2 (RC1 uninstalled).

Even just using .fsx, with preview language features enabled, I get a slew of errors:

[2020-10-13 20:28] rbhanda opened #5350 "OPENSuse Digest verification failed for file 'netstandard-targeting-pack-2.1.0-x64.rpm'"
Unable to install 3.1.9 on Open SUSE 15 with following error message:

[code]

[2020-10-13 20:48] mairaw commented on #5345
Tagging @cartermp and @KathleenDollard

[2020-10-13 21:30] #5300 closed

[2020-10-13 21:50] rbhanda commented on #5350
Package upload was successful to packages.microsoft.com. The issue is now resolved

[2020-10-13 21:50] #5350 closed

[2020-10-13 23:22] shalaan66 opened #5351 "I could not run .Net in my computer"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-10-13 23:35] mairaw commented on #5351
What error message are you getting @shalaan66?

[2020-10-13 23:39] mairaw commented on #5338
win-x64 is a Windows identifier. If you're running on Linux and you want to specify a Linux runtime, then you should use the appropriate RID listed at https://docs.microsoft.com/dotnet/core/rid-catalog. Probably linux-x64 would be the right one for your machine.

[2020-10-13 23:40] shalaan66 commented on #5351
Please, find attached the Screenshot

On Wed, 14 Oct 2020 at 00:36, Maira Wenzel <notifications@github.com> wrote:

[2020-10-13 23:41] mairaw commented on #5351
GitHub doesn't allow you to add screenshot via e-mail replies. When you can, can you come to the web UI to attach the screenshot?

[2020-10-13 23:44] shalaan66 commented on #5351
<img width="566" alt="Screenshot 2020-10-14 at 00 38 11" src="https://user-images.githubusercontent.com/72838711/95927354-64209d00-0db6-11eb-865a-bec64519bb3f.png">

[2020-10-13 23:51] mairaw commented on #5351
So, the command is printing the options as expected. Have you tried creating the app already?

[2020-10-13 23:57] shalaan66 commented on #5351
Not yet

Sent from my iPhone

[2020-10-14 00:26] rbhanda opened #5352 "Unable to install .NET 5 RC2, .NET Core 2.1, .NET Core 3.1 on Ubuntu 20.10"
While trying to install 5.0 RC 2 on Ubuntu 20.10 I am running into this error. Can someone help me resolve this issue

I am following the steps mentioned in our release notes for this.

[code]

[2020-10-14 00:27] rbhanda commented on #5017
https://github.com/dotnet/core/issues/5352

[2020-10-14 00:44] chenyulue commented on #5326
@rainersigwald You can download the binary log [here](https://github.com/chenyulue/resource-data/blob/master/msbuild.binlog).

[2020-10-14 02:10] pkts94 opened #5353 "aspnetcore-targeting-pack-3.1 File Unexpected Size"
# File has unexpected size

Trying to install ubuntu 18.04 aspnetcore-targeting-pack-3.1.  Receiving file size mismatch:
File has unexpected size (951058 != 950516). Mirror sync in progress?

Checking https://packages.microsoft.com/repos/microsoft-ubuntu-xenial-prod/pool/main/a/aspnetcore-targeting-pack-3.1/ shows the file size as 950516.  Where's the 951058 pulling from?

Issue has been occurring

[2020-10-14 04:05] dagood commented on #5353
Why are you using the `microsoft-ubuntu-xenial-prod` repo? I haven't heard of this one before. (Xenial isn't Ubuntu 18.04, either.)

Have you tried following the directions at https://docs.microsoft.com/en-us/dotnet/core/install/linux-ubuntu#1804- ?

[2020-10-14 04:13] dagood commented on #5353
Ah, it looks like `microsoft-ubuntu-xenial-prod` was used in old instructions, sorry about that. Interesting that it seems to be getting recent updates.

@rbhanda @leecow @NikolaMilosavljevic can you see if this can be fixed up?

[2020-10-14 04:31] rbhanda commented on #5353
https://packages.microsoft.com/ubuntu/18.04/prod/pool/main/a/aspnetcore-targeting-pack-3.1/ has the latest bits. I am curious how `microsoft-ubuntu-xenial-prod` got updated in the first place as we do nothing there to my knowledge. I will look into how we can update it.

[2020-10-14 04:49] pkts94 commented on #5353
Sorry - this is all somewhat new to me.  In looking at our build logs I see a "Failed to fetch .....aspnetcore-targeting-pack-3.1/aspnetcore-targeting-pack-3.1.8.deb  File has unexpected size (951058 != 950516). Mirror sync in progress?".  When I googled the `aspnetcore-targeting-pack-3.1.8.deb` I ended up (incorrectly I think) at the xenial-prod link above.

I'll have to touch base with my suppor

[2020-10-14 09:24] lotfi1008 opened #5355 "Error in add to.net core Console"
# Issue Title
when i want to add web service . visual stodio can view Interface and methods with warning
# Warning
There was an error verifying some XML Schemas generated during export:
Elements with the same name and in the same scope must have the same type.
There was an error verifying some XML Schemas generated during export:
Type 'http://schemas.datacontract.org/2004/07/System:IntPtr' is not

[2020-10-14 09:30] AdamRiddick commented on #5123
@joeloff @jkotalik We've came to a position where we have had to take the approach of fully stopping WAS before installing the bundle on the server that we were using to try and resolve this issue.

This did work, and 3.1.5 is now installed, however this is a significant issue for us as we use an automated upgrade process and we can't rely on that stopping and starting the WAS without issue on so

[2020-10-14 10:53] Paula368 commented on #5337
Dear Maria

Thank you for getting back to me.  I was told by work IT Heldesk to google .NETFramework and download it from the website which I did and is how I got onto the tutorial.  Once I downloaded it I then got the error message when I went to the command prompt > dotnet.  That said, today I have not done anything except retried to upload the original files/programme that was requesting the .N

[2020-10-14 11:59] tyler-shuhnicki opened #5356 ".NET 5 RC2 / Oracle.ManagedDataAccess.Core cannot initialize"
Hi there,

Our team has been migrating our application from .NET framework 4.8 to .NET 5. We started when .NET 5 was on preview 4. Recently, only one of our team members upgraded to RC1, and now RC2. We use Oracle.ManagedDataAccess.Core (v.2.19.90) to connect Dapper to our Oracle databases, and both of these release candidates have thrown the error posted below. The application continues to work f

[2020-10-14 12:08] pkts94 commented on #5353
Can someone check the metadata for the aspnetcore-targeting-pack-3.1.8.deb?  Is it possible the metadata is specifying file size of 951058 when the actual file size is 950516?

[2020-10-14 14:15] budcribar opened #5357 "Microsoft.Azure.Documents.Client not supported in RC2"
# Issue Title

Microsoft.Azure.Documents.Client not supported in RC2

# General

I am trying to access an Azure CMOS database from webassembly and getting the runtime error

"Unhandled exception rendering component: System.Security.Cryptography.Algorithms is not supported on this platform."

Missing this functionality limits the usefulness of Blazor since I cannot write directly into my Cosmos dat

[2020-10-14 14:22] dagood commented on #5353
Why are you linking to that NuGet package? I don't see the connection to the Debian package repos or `aspnetcore-targeting-pack-3.1`.

If you have your own mirror set up, yes, you should take a look at that, and consider changing it to use the currently documented repos at https://docs.microsoft.com/en-us/dotnet/core/install/linux-ubuntu#1804- , which are working. (Or at least confirm where your r

[2020-10-14 14:38] pkts94 commented on #5353
That xenial was a red herring - ignore it.  Here's what I was told from our end:

this would be the direct path, without mirror:
https://packages.microsoft.com/ubuntu/18.04/prod/pool/main/a/aspnetcore-targeting-pack-3.1/aspnetcore-targeting-pack-3.1.8.deb

now, this file isn't the problem necessarily. ubuntu uses the InRelease file from:
https://packages.microsoft.com/ubuntu/18.04/prod/dists/bioni

[2020-10-14 14:38] ZacharyPatten commented on #5345
_Sorry if this should be posted elsewhere..._

I've been seeing an issue in both Release Candidate 1 and 2 **_(so it is not specific to rc2)_** with Blazor Webassembly Projects. It appears like the `dotnet` executable is hanging after I stop debugging. So I can debug once, but successive times I get the following error:
[code]
![image](https://user-images.githubusercontent.com/3385986/96003199-fac

[2020-10-14 14:40] samgithub commented on #5320
Since VS is cross-platform and allows publishing to different targets, an example would greatly help.
Thanks

[2020-10-14 14:58] joeloff commented on #5123
@AdamRiddick, I'm not very familiar with WAS, but is it possible there are lingering processes that are maybe not recycled. From the logs it's extremely likely processes are triggering potential locks/renames. If these processes are parented under WAS it would seem better to shut those down, rather than the full service. (From what I've read processes can be orphaned, e,g. to aid debugging, etc.)

[2020-10-14 15:14] dagood commented on #5353
Thanks for finding the info. I'm not able to reproduce this from here (the install works fine for me from a fresh 18.04 Docker container), but a cause for this problem in the past has been the underlying service corrupting its globally distributed mirrors.

Can you run `wget https://packages.microsoft.com/ubuntu/18.04/prod/pool/main/a/aspnetcore-targeting-pack-3.1/aspnetcore-targeting-pack-3.1.8.d

[2020-10-14 15:32] pkts94 commented on #5353
I cannot b/c I don't have access to the environment that's actually building the packages.  I could ask our support team if they can do it.  However, someone just informed me our builds seem to be working again now and I was able to confirm.  So, not sure where the issue was, but it appears to have resolved.  So maybe whatever mirror we're hitting got the updates?
Thanks for the feedback/help on t

[2020-10-14 15:44] #5353 closed

[2020-10-14 15:54] dagood commented on #5353
Ah, cool, no problem. 🙂 I assumed you had confirmed the deb/Release-file mismatch without the proxy/mirror and could try out the command on that machine. In any case, should have a clearer path to gather the diagnostic info next time, if this pops up again.

[2020-10-14 16:02] dagood commented on #5352
This is an ordinary failure that is resolved by adding support for the distro. I imagine https://github.com/dotnet/core/issues/5017 tracks this? (But it's missing an explicit checkbox?)

Ubuntu 20.10 has `libicu67`.

/cc @NikolaMilosavljevic @dleeapho

[2020-10-14 16:06] dagood commented on #5017
Missing .NET Core 2.1?

[2020-10-14 16:08] rbhanda commented on #5017
Updated the issue with 2.1 as well. I am able to install both on Ubuntu 20.10

[2020-10-14 16:15] dagood commented on #5017
Neither 3.1 or 2.1 works for me using the package repository, for the same underlying reason installing 5.0-rc2 via `.deb` doesn't work.

[2020-10-14 16:27] rbhanda commented on #5017
@jamshedd FYI.

[2020-10-14 16:37] mairaw commented on #5320
@shirhatti @nishanil can you help on this issue?

[2020-10-14 17:02] #5016 closed

[2020-10-14 17:35] leecow commented on #5352
Correct, the upshot is that we'll need updated runtime-deps for 2.1, 3.1 and 5.0.

[2020-10-14 18:00] nishanil commented on #5320
hey @samgithub ! I followed the exact steps listed on that the page and was able to run it inside WSL. See this: https://1drv.ms/u/s!AupZwrZ-sEsggZw9dmMeGjgZe7oG-Q?e=Dfn1ru

[2020-10-14 18:22] nishanil commented on #5320
I added some log info for you.
![image](https://user-images.githubusercontent.com/3107766/96029227-fb015e00-0e77-11eb-9a48-f0c85d6e3a43.png)
Try executing the exact steps listed in the page https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/intro?initial-os=linux first. Then compare the code with yours to see what you were doing wrong,

[2020-10-14 18:38] samgithub commented on #5320
Are you creating a LINUX IMAGE?  That's what I'm talking about. The Windows
image works. Its the publish to linux-x64 and Use a container from it that
does not work.

On Wed, Oct 14, 2020, 2:23 PM Nish Anil <notifications@github.com> wrote:

[2020-10-14 19:05] nishanil commented on #5320
Yes, it is a Linux image. See the OS Version.

[2020-10-14 19:43] RajaniCode commented on #5319
C# 9.0 Overridden virtual function works fine when the return type is a covariant derived type that contains the overridden function in dotnet version 5.0.100-rc.2.20479.15.

`using System;

class A
{
    public virtual A VirtualMethodA() => new();
}

class B : A
{
    // C# 9.0 Covariant return types
    /*
     C# 9.0 Overridden virtual function can return a type derived from the return type dec

[2020-10-14 19:43] #5319 closed

[2020-10-14 22:08] carlossanlop commented on #5357
@bartonjs could this be an issue in System.Security itself?
@KrzysztofCwalina if this is an Azure issue, do you know who can take a look?

[2020-10-14 22:11] carlossanlop commented on #5356
Can you please reach out to the owners of `Oracle.ManagedDataAccess` first? This is not an API we own. They can then reach out to us if necessary.

[2020-10-14 22:11] #5356 closed

[2020-10-14 22:14] carlossanlop commented on #5355
@mconnew @StephenBonikowsky @HongGit this seems related to SvcUtil. Do you know who can help with this?

[2020-10-14 22:24] scalablecory commented on #5335
This was resolved with a new API in .NET 6 here: https://github.com/dotnet/runtime/issues/40862

A workaround for older .NET versions is to call `Process.GetCurrentProcess().MainModule.FileName`.

[2020-10-14 22:24] #5335 closed

[2020-10-14 22:26] carlossanlop commented on #5317
This is a Visual Studio issue. Can you please report it here? https://developercommunity.visualstudio.com/spaces/8/index.html

[2020-10-14 22:26] #5317 closed

[2020-10-14 22:27] carlossanlop commented on #5312
@dagood can you please take a look?

[2020-10-14 22:34] carlossanlop commented on #5306
@AaronRobinsonMSFT would you be the best person to answer Office Interop questions?

[2020-10-14 22:39] carlossanlop commented on #5290
Seems to be a specific issue with that repo. @migueldeicaza feel free to reopen and transfer this issue to your repo.

[2020-10-14 22:43] carlossanlop commented on #5285
@shirhatti can you please take a look?

[2020-10-14 22:45] carlossanlop commented on #5278
@rrelyea is this something you could help with?

[2020-10-14 22:47] carlossanlop commented on #5266
Try doing what the error message is suggesting:
[code]

[2020-10-14 22:47] #5266 closed

[2020-10-14 22:48] carlossanlop commented on #5259
@shirhatti can you please help?

[2020-10-14 22:49] carlossanlop commented on #5258
@rbhanda closing since it's resolved. Feel free to reopen if needed.

[2020-10-14 22:49] #5258 closed

[2020-10-14 22:51] carlossanlop commented on #5249
Can you verify that you have the necessary package sources? It seems you are only looking in Offline Packages.

[2020-10-14 22:55] carlossanlop commented on #5236
@shirhatti can you please help?

[2020-10-14 22:55] carlossanlop commented on #5232
@AaronRobinsonMSFT can you please help?

[2020-10-14 22:57] carlossanlop commented on #5230
@joperezr could you help with this?

[2020-10-14 22:58] carlossanlop commented on #5228
@shirhatti can you please help?

[2020-10-14 23:02] carlossanlop commented on #5224
Since @omajid 's answer resolves the issue, I'm closing this.

[2020-10-14 23:02] #5224 closed

[2020-10-14 23:04] joperezr commented on #5230
@krishnan-unni thanks for logging this. Can you repro locally on a clean environment if you try to do dotnet build? Sounds like the issue in your case is something related with Restore, since the first time you build after clearing out obj seems like it is failing as well but the second time works out fine. If you could, clean bin and obj directory and then perform a build like:
`dotnet build your

[2020-10-15 07:18] rajeev-roy opened #5358 "504 Gateway error after creating AKS cluster"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/deploy-microservice-tutorial/deploy
Operating System: windows

I have followed the tutorial to deploy docker container to AKS, deployment succeed but I am unable to access deployed service . it's showing 504 Gateway timeout error while accessing service using external IP address.
i am not sure how to resolve this issue.

Provide deta

[2020-10-15 08:09] borjabolcina opened #5359 "How to get info for specific culture formats when <InvariantGlobalization> true is used?"
# How to get info for specific culture formats when set InvariantGlobalization true is used?

.NET 5.0.100-preview.7.20366.6 WINDOWS
We need to parse dates and numbers from input strings that along specify the culture to parse in.
But we are running the API with <InvariantGlobalization> true  setting and we always get Invariant format example MM/dd/yyyy
for CultureInfo.CreateSpecificCulture("de-DE

[2020-10-15 10:37] quzefeng opened #5360 "Net5 RC2/GetPhysicalAddress"
# Issue Title

Net5 RC2/GetPhysicalAddress Not Get PhysicalAddress In Ubuntu18.04

# General

The function of obtaining the physical network card address is normal on windows, but the physical address of the network card cannot be obtained on ubuntu18.04. Please help to find out the reason;

![QQ截图20201015183515](https://user-images.githubusercontent.com/17823304/96112558-65b4a700-0f15-11eb-8897-3

[2020-10-15 10:37] quzefeng commented on #5360
![123](https://user-images.githubusercontent.com/17823304/96112618-811fb200-0f15-11eb-9a6b-022918d9cb4d.png)

[2020-10-15 10:40] quzefeng commented on #5360
The functions above windows are normal. This is a normal screenshot
![888](https://user-images.githubusercontent.com/17823304/96112862-de1b6800-0f15-11eb-98c4-dd3c48939ead.png)

[2020-10-15 13:22] omajid commented on #5360
Duplicate of https://github.com/dotnet/runtime/issues/42870 ?

[2020-10-15 13:41] SimileoluwaExpert opened #5361 "Deploying ASP.NET Core 2.1 from Git with Kudu fails due to PDB file locked."
This issue is similar to https://github.com/dotnet/corefx/pull/38291#.
The issue was fixed in ASP.NET Core 2.2.
This is to request a backport to 2.1.

[2020-10-15 14:53] AdamRiddick commented on #5123
Hi @joeloff, thanks.

We noticed those warnings in the logs, however we also saw them occurring on servers where the .net core hosting bundle did install without any issues, though I suppose this would imply a race condition - even though the user executing the setup still does not have the required permission it doesn't matter in this situation as no locks are being held ....

We **may** be able

[2020-10-15 16:14] joshcomley opened #5362 "RC2 won't compile large collections of large files"
[RoslynBug.zip](https://github.com/dotnet/core/files/5386300/RoslynBug.zip)

I'm not sure if this is the correct place to post this, but as of RC2 of .NET5 Roslyn seems to struggle to handle large files.

Attached is a sample project stuffed with dummy data.

Steps to recreate:

1 - Download attached ZIP file
2 - Run `dotnet build`

In the root is a `global.json.txt` which if you rename to `global

[2020-10-15 16:27] joeloff commented on #5123
Thanks @AdamRiddick, it's a long shot given that it's not causing issues on the other machine. I think I forgot to ask previously, but have you tried deploying the hosting bundle with the /norestart option?

@jkotalik can you provide more details on what the CAs do when ANCM is being installed? I was looking at the InstallExecute table and noticed the following:

![image](https://user-images.githu

[2020-10-15 18:08] #5302 closed

[2020-10-15 18:08] #5303 closed

[2020-10-15 19:08] #5298 closed

[2020-10-15 20:42] jessyhoule commented on #5120
I'm in the same boat as @robertmclaws.  We have a mixed framework solution, in preparation for the .NET 5 release.

[2020-10-15 21:14] adegeo opened #5364 "Install script fails trying to download release/5.0.1xx"
Using the install script to install the latest 5.0 release is suddenly failing. Using this command line:

[code]

Results in this file trying to download and it doesn't exist: https://dotnetcli.azureedge.net/dotnet/Sdk/5.0.100-rtm.20515.10/dotnet-sdk-5.0.100-rtm.20515.10-win-x64.zip

[2020-10-15 22:06] Fireant456 commented on #5338
I am running the compiled code on Windows, not Linux. I did attempt to change that option on the compile command but that did not help with the metadata.

[2020-10-15 22:29] bradygaster opened #5366 "Theme: Meeting Developer Expectations"
.NET 5 introduced more incremental improvements for applications to realize faster startup times and smaller exe sizes using single file and app trimming. As we look ahead on how we continue to make .NET a compelling platform for developers to build their modern apps on, we will continue to evolve the platform by building on top of what .NET 5 has brought to the ecosystem.

Epics under this theme:

[2020-10-15 22:53] bradygaster opened #5367 "Epic: Enable Power Platform Scenarios with HTTP APIs"
Since November 2019, we’ve done significant work to improve the overall end-to-end experience for developers who need to extend PowerApps (or any other Power Platform resource). The goals of this multi-organization partnership spanning DevDiv, Azure, and Power Platform, have been to enable the following application development scenario:

1. A citizen developer needs to build a business app using P

[2020-10-15 23:02] dagood commented on #5364
@marcpopMSFT @dsplaisted @mmitche could this be caused by stabilization vs. how the install script finds latest in the channel?
https://github.com/dotnet/installer/pull/8806
https://dev.azure.com/dnceng/internal/_build/results?buildId=854361&view=results

[2020-10-15 23:02] bradygaster opened #5368 "Epic: HTTP API Testing Tools"
As the investments we make into building out HTTP APIs for use in the Power Platform take shape, an interesting by-product is that we’re hearing from more developers that they need a way to call their APIs from clients hosted somewhere else. Consider the following scenarios in which developers are building HTTP APIs for use by either Azure or Power Platform clients:

1. A developer needs to create

[2020-10-15 23:11] dagood commented on #5312
@joeloff or @NikolaMilosavljevic may be able to help.

@nicfo13 do you have more logs in your temp directory that you can share? For example, I get `Microsoft_.NET_Core_SDK_3.1.403_(x64)_20201015180732.log` with the latest SDK installer, and a bunch of files that start with  `Microsoft_.NET_Core_SDK_3.1.403_(x64)_20201015180732` for each component being installed. There may be more info about what

[2020-10-15 23:52] dsplaisted commented on #5364
@donJoseLuis

[2020-10-16 00:37] joeloff commented on #5312
1603 is a general error. We need the actual MSI logs. They should be in %temp%. This is the one we want

Microsoft_.NET_Core_SDK_3.1.402_(x64)_20201007041135_000_dotnet_runtime_3.1.8_win_x64.msi.log

[2020-10-16 02:56] quzefeng commented on #5360
**Thank you very much for your reply;**
I have checked the problem in the connection you gave, his problem may be that he detected the network card name wrong, and all did not get the mac address of the network card;
Mine is to traverse all the network cards, and then print the network card address, but the network card address is not displayed;
The version of my .net5 is: 5.0.100-rc.2.20479.15
@o

[2020-10-16 03:48] BRAND-H opened #5373 "Having trouble in Ubuntu 18.04 installing dotnet (156011 != 155826)"
I've built my container multiple times this evening, all built fine, and this **just** now started failing, nothing's changed.

-----------------------

Get:1 https://packages.microsoft.com/ubuntu/18.04/prod bionic InRelease [4003 B]
Get:2 https://packages.microsoft.com/ubuntu/18.04/prod bionic/main amd64 Packages [156 kB]
Err:2 https://packages.microsoft.com/ubuntu/18.04/prod bionic/main amd64 Pa

[2020-10-16 03:51] acezen commented on #4864
@dagood  the  https://packages.microsoft.com/ubuntu/18.04/prod/dists/bionic/main/binary-amd64/Packages.bz2  File has unexpected size happens again in ubuntu 18.04 when ```apt-get update```:

   Hashes of expected file:
    - Filesize:141252 [weak]
    - SHA512:dffbaf15f537ae643df110b279248993b2828e99352dff51a5df9648cf39531ffb7022ec2f0d9e553287c9889addcb5e734d9df95f749c456db04fd328a67ef4
    - SHA2

[2020-10-16 04:02] rbhanda commented on #4864
Thanks for reporting, I will follow up on this and keep you posted. Is this an issue with both .NET Core 2.1 and 3.1?

[2020-10-16 05:10] mohansiddegowda opened #5371 "pyodbc packages failing due to ODBC connection"
# ODBC packages having issue

ODBC drivers are not downloaded entirely and it says missing index files and error's out causing odbc not to work.

Below is the path we use for downloading packages

By the update date, looks it was code was updated recently.
![MicrosoftTeams-image](https://user-images.githubusercontent.com/27874467/96215569-fa35fe00-0f43-11eb-876f-8824c6416fb2.png)

https://packages

[2020-10-16 05:16] sindbach opened #5372 "Ubuntu 20.04 .NET Core install failure: File has unexpected size: https://packages.microsoft.com/repos/microsoft-ubuntu-focal-prod/dists/focal"
# Issue Title

It appears the checksums in the InRelease file have not been updated after a release.
Related to issue [#4167](https://github.com/dotnet/core/issues/4167)

# General

Happens for dotnet-sdk-3.1 and dotnet-sdk-2.2 on ubuntu 18.04 and ubuntu 20.04

Info for Ubuntu 20.04 / dotnet-sdk-3.1
[code]

Info for Ubuntu 18.04 / dotnet-sdk-2.2

[code]

[2020-10-16 05:17] kthouz commented on #4179
This is happening to me as well in a docker deployment. From what I can see, there was a new release file `created at: Tue, 13 Oct 2020 22:37:20 +0000` . Would this be the reason?

[code]

[2020-10-16 05:19] dagood commented on #5373
Thanks for reporting this--I've moved the issue to dotnet/core for slightly more visibility while we work on getting it fixed.

Note to others: I've confirmed this error shows up for me too on a fresh Docker container. After setting up the Ubuntu 18.04 feed based on https://docs.microsoft.com/en-us/dotnet/core/install/linux-ubuntu#1804- and running `apt update`, it shows up. This is affecting the

[2020-10-16 05:28] dagood commented on #4864
It looks like the new outage was also reported at https://github.com/dotnet/core/issues/5373. It affects the entire 18.04 feed, not specific .NET packages.

I'm going to close this issue as resolved: https://github.com/dotnet/core/issues/5373 tracks the new 18.04 outage, so check there for the latest info.

[2020-10-16 05:31] rbhanda commented on #5373
As per our team there is a service updating repos. It should be resolved once that is done. Meanwhile I am following up on this issue and keep everyone updated with changes.

[2020-10-16 05:36] dagood commented on #5372
This is probably related to the repository outage on Ubuntu 18.04: https://github.com/dotnet/core/issues/5373.

I checked the 20.04 feed at https://docs.microsoft.com/en-us/dotnet/core/install/linux-ubuntu#2004- (not quite the one you have, though?) and it's also getting the error:

[code]

@rbhanda

[2020-10-16 05:44] sindbach commented on #5372
Thanks @dagood
I'm just following your comment on #4167 to open an issue when encountering this issue. Hopefully these issues show whomever prioritises the work to solve this. Just reading the history of the issue alone I could feel the pain for the .NET core team.

This is been happening too long (~8 months?) for such a crucial part with no work around.

[2020-10-16 05:47] halvorhm commented on #5373
I have to ask @dagood, I've seen this problem several times, and you always fix it or bring it to the right people 🙏. But could the team maybe review its tests or something so we see less of this size mismatch problem in the future? Again, thanks for the great communication!

[2020-10-16 05:49] dagood commented on #5372
Absolutely, thanks for filing. I actually didn't realize this outage was happening on 20.04 too before you posted this. (Slightly edited the title to add that. We might want to merge the issues later on to track all of the current outage on https://github.com/dotnet/core/issues/5373.)

[2020-10-16 05:52] sindbach commented on #5372
You're right the reference of `focal` isn't too obvious to indicate 20.04. I should have included the 20.04 for clarity on the title. Thanks for the edit.

[2020-10-16 06:03] dagood commented on #5373
Thanks for the kind words. 😄 There's some more info about our communication with the team that hosts packages.microsoft.com to help them improve the reliability of the service at https://github.com/dotnet/core/issues/4167, which is slow but still ongoing. They deployed some improvements earlier this year which has seemed to make release-day outages happen less often (we used to have one basically

[2020-10-16 06:14] rbhanda commented on #5373
The services are now restored, the issue should be resolved now.

[2020-10-16 06:18] halvorhm commented on #5373
Works here as well, thanks!

[2020-10-16 06:23] dagood commented on #5372
This is working for me now, the fix for 18.04 (https://github.com/dotnet/core/issues/5373#issuecomment-709827172) seems to have worked for 20.04 as well. Thanks @rbhanda for driving comms with the packages.microsoft.com team!

@sindbach can you confirm it's working for you too?

[2020-10-16 06:27] sindbach commented on #5372
Works now for Ubuntu 20.04 dotnet-sdk-3.1 , thanks @dagood !

[2020-10-16 08:28] AndreyMarten opened #5374 "Touch scrolling stops working in the main window if a separate window is shown on loading in a separate thread"
# Touch scrolling stops working in the main window if a separate window is shown on loading in a separate thread

If we show a separate window with some additional details (a kind of Splash Screen) on loading in a separate thread, touch scrolling stops working in the main window. This issue occurs only in WPF NET Core. When we use the same code in WPF .NET Framework everything operates correctly.

[2020-10-16 15:10] #5372 closed

[2020-10-16 16:28] sam-wheat opened #5375 "Exception thrown: 'System.IO.IOException' in System.Net.Security.dll"
From output window in VS:

	Exception thrown: 'System.IO.IOException' in System.Net.Security.dll
	Exception thrown: 'System.IO.IOException' in System.Net.Security.dll
	Exception thrown: 'System.IO.IOException' in System.Private.CoreLib.dll
	Exception thrown: 'System.IO.IOException' in System.Private.CoreLib.dll
	Exception thrown: 'System.IO.IOException' in System.Private.CoreLib.dll
	Exception thr

[2020-10-16 18:16] speed2048 opened #5376 "Grpc.net working with Xamarin.Forms"
I am developing a project that uses xamarin.forms with grpc on a Mac ( getting ready for .net Maui ) and I am getting  exception errors (DebugException="System.MissingMethodException: Method not found: System.Buffers.IBufferWriter`1<byte> Grpc.Core.SerializationContext.GetBufferWriter()).

So I did some digging and found out that Xamarin.Forms does not work with grpc.net at this time.

https://doc

[2020-10-16 20:48] Fireant456 commented on #5338
@mairaw don't know if you subscribe to the issues you respond in. Pinging so that you can see I responded :)

[2020-10-16 21:30] rbhanda commented on #5373
Closing this since the issue is resolved.

[2020-10-16 21:30] #5373 closed

[2020-10-16 21:46] rnugent3 opened #5378 "Installing .NET"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: macos

Hello. I have installed .NET following the protocol, run "~$ dotnet" in the terminal, and see "command not found"

[2020-10-16 21:47] #5378 closed

[2020-10-16 21:48] rnugent3 commented on #5378
I figured out my silly problem. Oops!

[2020-10-17 02:36] reinux commented on #5345
I'm becoming more convinced that this is more of a problem with the SDK installer.

Steps:

- Uninstall all versions of .NET Core and VS
- Install SDK 5.0.100-rc.2 using the x64 MSI
- dotnet new console (C# project)
- dotnet run
- dotnet build

Output:

[2020-10-17 06:32] svdevendra opened #5379 "dotnet : The term 'dotnet' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is correct and try again."
I encountered issue when tried to run "dotnet new console" command.

**System details:**
Operating System:  Windows 10 Pro, Version: 1909: , 64 bit operating system.

**Error details are given below.**

At line:1 char:1
+ dotnet new console
+ ~~~~~~
    + CategoryInfo          : ObjectNotFound: (dotnet:String) [], CommandNotFoundException
    + FullyQualifiedErrorId : **CommandNotFoundException**

[2020-10-17 06:45] batcoder619 opened #5380 "Error when running Docker build"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/docker-image
Operating System: windows

Facing below error when running the docker build command. I am running the command within the project folder where the ".dockerfile" resides

`unable to prepare context: unable to evaluate symlinks in Dockerfile path: CreateFile C:\<path>\MyMicroservice\Dockerfile: The sys

[2020-10-17 07:39] #5309 closed

[2020-10-17 09:32] svick commented on #5359
As I understand it, you can't. The Globalization Invariant Mode is meant for the cases where you don't need to do culture-dependent operations. But you do, so you should disable that mode. For more details, have a look at [the documentation](https://github.com/dotnet/runtime/blob/master/docs/design/features/globalization-invariant-mode.md).

[2020-10-17 11:08] reinux commented on #5345
Repairing the .NET 5 RC2 SDK fails. Here's the log file.
[Microsoft_.NET_SDK_5.0.100-rc.2.20479.15_(x64)_20201017040650.log](https://github.com/dotnet/core/files/5395516/Microsoft_.NET_SDK_5.0.100-rc.2.20479.15_.x64._20201017040650.log)

[2020-10-17 18:53] theolivenbaum opened #5381 "Reduce List<object> allocations by passing the initial array"
Not sure if this is the right repository, or if still relevant as I could not find the source code of EventSource here.

Some minor improvement I noticed while benchmarking allocations on our code, I think could be traced to [the call to Add on the list in this line](https://github.com/microsoft/referencesource/blob/08b84d13e81cfdbd769a557b368539aac6a9cb30/mscorlib/system/diagnostics/eventing/even

[2020-10-17 19:24] defney opened #5382 "I ran into an error failed to dial gRPC: unable to upgrade to h2c, received 500"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/docker-image
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-10-17 19:44] defney commented on #5382
I ran into errors failed to dial gRPC: unable to upgrade to h2c, received 500

[2020-10-18 01:56] #5313 closed

[2020-10-18 04:55] Dnp1996 opened #5383 "Command prompt dotnet information issue"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-10-18 09:06] elisabethBremen opened #5384 ""Build your first Blazor app" issue"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/create
Operating System: windows 10-2004 built 19041.572)

the commande __dotnet new blazorserver -o BlazorApp --no-https__ provides the following red error's text : __Couldn't find an installed template that matches the input, searching online for one that does...__
After the usage indications of _new_, the following

[2020-10-18 10:37] elisabethBremen commented on #5384
solution : the computer needs to host a local ASP.NET Core server. My apologies.

[2020-10-18 10:37] #5384 closed

[2020-10-19 08:34] Yuvaraja06 opened #5385 "Issue while connection through proxy to Web socket on linux arm"
# Issue Title
While using Proxy for connecting to Web Socket. Its working fine on Windows but on linux there is exception.

# General
 **environment variable: libSystem.Net.Security.Native: cannot open shared object file: No such file or directory**

Unable to connect to the remote server
---> System.Net.WebSockets.WebSocketException (0x80004005): Unable to connect to the remote server
---> System

[2020-10-19 08:55] xinchen520 opened #5386 "This code does not run as expected when the code optimization is on"
[code]

# General

The above code should print "Done". When the code is compiled with code optimization on, it seems the execution will never reach `Console.WriteLine("Done")`. I run the program on netcore 3.1. If I add some statements that is non-trivial inside the while statment, the program runs correctly. I also tried to run the program compiled with optimization on mono, and it runs correctly

[2020-10-19 09:37] johnnyfasching opened #5387 "Blazor wasm msal throws CORS Error on static hostes website"
# Blazor wasm msal throws CORS Error on static hostes website

Changing our Blazor project from .net standard 2.1 to .net 5 works fine for local development. When publishing the project to our blob storage we ran into the problem, that we always get the cors policy error:

`Access to fetch at 'https://login.microsoftonline.com/common/oauth2/v2.0/token' from origin 'https://nbs-web-dev.azureedge.ne

[2020-10-19 09:43] #5387 closed

[2020-10-19 12:32] alexandrlagun1 opened #5388 "Dont work linux Postgres connection on net core"
When i try connection on postgres server in ubuntu 18.4, throw exception.
My connection string: "Server=10.0.0.10;Port=5432;Database=UIGMI5;User id=postgres;password=P@ssw0rd"

Unhandled exception. Npgsql.PostgresException (0x80004005): 28000: � pg_hba.conf ��� ������ ��� ���������� "10.0.0.117", ������������ "postgres", ���� "UIGMI5", SSL ����.
   at Npgsql.NpgsqlConnector.<>c__DisplayClass160_0.

[2020-10-19 15:43] Domon87 opened #5389 "Request Cookie Key is truncated if contains @ (at character)"
# Issue Title

Request Cookie Key is truncated if contains @ (at character)

# General

In Request.Cookies i get all the cookies but the key is truncated if contains @ character.
For example, **MDL_testcookie@default.it** cookie name is truncated in **default.it** .

My workaround for this issue is for now to access the Cookie list using Request.Headers["Cookie"] and check the cookie string manual

[2020-10-19 15:43] campbep opened #5390 "Issue with standard steps"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/run
Operating System: Ubuntu 10.04 focal

dotnet run
Process terminated. Couldn't find a valid ICU package installed on the system. Set the configuration flag System.Globalization.Invariant to true if you want to run with no globalization support.
   at System.Environment.FailFast(System.String)
   at System.Globaliza

[2020-10-19 16:19] dhananjaypverma opened #5391 "Unable to connect to the server: dial tcp [::1]:8080: connectex: No connection could be made because the target machine actively refused it."
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/deploy-microservice-tutorial/deploy
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-10-19 17:17] dhananjaypverma opened #5392 "deploy to azure is not working. no where got the dashboard"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/deploy-microservice-tutorial/deploy
Operating System: linux

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-10-19 21:14] agniveshadhikari opened #5393 "How to construct X509Certificate2 from pem contents?"
I have a pem file contents as a string:
[code]
I want to construct an X509Certificate2 object from this. How do I do this?

### General
Right now my code looks like this
[code]
However, in this form, I get this exception `Cannot find the requested object` on the third line in the above snippet.

I dug around a little bit and it seems some people had luck with stripping the `-----END CERTIFICATE---

[2020-10-19 21:27] bartonjs commented on #5393
The .NET 5 method `X509Certificate2.CreateFromPemFile` will find the first certificate and match it to the private key (if the key matches something other than the first certificate the method will fail). Or the .NET 5 method `X509Certificate2Collection.ImportFromPemFile` will read all of the certificates, and disregard the key object.  To do both, you probably want

[code]

Though if you just wan