[2021-09-13 20:12] mairaw commented on #6680
Can you give us more details about the issue you're having?

[2021-09-13 20:13] mairaw commented on #6679
@shirhatti @nishanil can you help with this?

[2021-09-13 20:15] mairaw commented on #6671
I'm not sure if I follow. Can you give more details about what you're trying to achieve or what problems you're having? The tutorial listed above is for people trying to learn how to code using .NET. Is that what you're after?

[2021-09-13 22:30] gabrielmaldi opened #6681 "error NETSDK1096 with PublishReadyToRun"
### Description

When building with `PublishReadyToRun=true` for Linux, using Docker in a macOS host, the process fails with:

Steps to reproduce:

1. `mkdir r2r-test`
2. `cd r2r-test`
3. `dotnet new webapi`
4. `touch Dockerfile`
5. `docker build .`
6. 💥

- Dockerfile:
[code]

- Output:
[code]

If I set `PublishReadyToRun` to `false`, the build succeeds:
[code]

### Configuration

[code]
[code]
[c

[2021-09-14 01:55] EzequielYa opened #6682 "> The same way it is applied on nicknames."
[•••]

_Publicación original de @EzequielYa en https://github.com/prawnsalad/KiwiIRC/issues/834#issuecomment-918728476_

[2021-09-14 01:57] EzequielYa commented on #6682
<ezequiel198>

[2021-09-14 02:04] mairaw commented on #6682
Can you clarify what this is about?

[2021-09-14 02:51] ngocan0905 opened #6683 "'dotnet' is not recognized as an internal or external command"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-09-14 02:55] ngocan0905 commented on #6683
i've a problem " 'dotnet' is not recognized as an internal or external command,
operable program or batch file."

[2021-09-14 03:07] mairaw commented on #6683
Did you open a new command prompt after installing the .NET SDK?

[2021-09-14 08:15] nietras commented on #3048
Just a note that the following "hack" worked for me. That is, if .NET Core/5+ then use `NativeLibrary.Load` directly to load `fusion.dll` from fixed full paths in static constructor before calling P/Invoke as mentioned above. We need this to interact with third party library that can change version and is only available in GAC.

[code]

[2021-09-14 17:13] IRONMAN-clone opened #6684 "Issue"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

So, I installed 3 different version of .DOTNET sdk's still nothing happens when I try to run my C# code so Can I get a fix ?

[2021-09-14 17:24] mairaw commented on #6684
This might be the same problem as issue #5962

Check the output of where.exe dotnet and if your system is x64 and the x86 path returns first, please follow the steps highlighted on that issue to fix the problem.

Let us know if that helps.

[2021-09-14 18:07] kalaskarsanket opened #6687 ".NET September 2021 Update - .NET 5.0.10 and .NET Core 3.1.19"
Release Notes
[5.0.10](https://github.com/dotnet/core/blob/main/release-notes/5.0/5.0.10/5.0.10.md)
[3.1.19](https://github.com/dotnet/core/blob/main/release-notes/3.1/3.1.19/3.1.19.md)

Please report any issues you find either by responding to this issue, creating a new issue or creating a new issue in one of the following repos:

* [dotnet/aspnetcore](https://github.com/dotnet/aspnetcore/issues)

[2021-09-14 18:07] kalaskarsanket opened #6688 ".NET 6 RC1"
[Release Notes](https://github.com/dotnet/core/blob/main/release-notes/6.0/preview/6.0.0-preview.7.md)

Please report any issues you find with .NET 6, either responding to this issue, creating a new issue or creating a new issue in one of the following repos:

* [dotnet/aspnetcore](https://github.com/dotnet/aspnetcore/issues) - for ASP.NET Core questions
* [dotnet/efcore](https://github.com/dotnet

[2021-09-14 18:37] rbhanda commented on #6554
closing in favor of https://github.com/dotnet/core/issues/6688

[2021-09-14 18:37] #6554 closed

[2021-09-14 18:38] rbhanda commented on #6553
closing in favor of https://github.com/dotnet/core/issues/6687

[2021-09-14 18:38] #6553 closed

[2021-09-14 18:39] buvinghausen commented on #6688
The only thing I've noticed thus far is when I turned on ImplicitUsings I get a Microsoft.NET.Sdk project is a CS0234 error.

Error	CS0234	The type or namespace name 'Http' does not exist in the namespace 'System.Net' (are you missing an assembly reference?)

![image](https://user-images.githubusercontent.com/1130210/133314826-4b415901-9512-4296-b6ea-4d7b30ce3d70.png)

[2021-09-14 18:40] vSakun commented on #4332
I tried change user:
I logged into the operating system(Windows) as a different user.
I run in CMD 'msbuild .....' and this is working.
But I don't know haw changed the agent service's user.
How you changed the agent service's user?

[2021-09-14 18:51] jooheazy commented on #4332
You can gon run > services.msc, search for the Jenkins service name and click with right button and go to the properties. Go to the logon tab and set user and password agent.

[2021-09-14 18:53] jonathanpeppers commented on #6688
I think they renamed `@(Import)` to `@(Using)`, you might try:
[code]

[2021-09-14 19:02] buvinghausen commented on #6688
@jonathanpeppers thanks for the info unfortunately it still yields the CS0234 error in the build output but when I navigate to the GlobalUsings.g.cs the red squiggly is no longer underneath the global using global::System.Net.Http; line.

[2021-09-14 19:14] yamachu commented on #6688
Although it is not directly related to core, I could not find the Feedback destination, so I will write it here.

I noticed when I downloaded rc.1, is the `Latest release date` intended?

https://dotnet.microsoft.com/download/dotnet/6.0

![image](https://user-images.githubusercontent.com/1955233/133319357-13caac3c-e54d-4957-9e21-b5ce036f0418.png)

[2021-09-14 19:30] kalaskarsanket commented on #6688
@yamachu Thanks for letting us know, we are working on date issue and should be corrected soon.

[2021-09-15 01:27] hqyaimer opened #6694 "Termux build failed"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: termux

root@localhost:/home/yuwei/project/myApp# dotnet run
/root/dotnet/sdk/3.1.413/Roslyn/Microsoft.CSharp.Core.targets(70,5): error MSB6004: The specified task executable location "/data/data/com.termux/files/usr/libexec/proot/loader" is invalid. [/home/yuwei/project/myApp/myApp.csproj]

[2021-09-15 01:37] #6694 closed

[2021-09-15 02:26] #6664 closed

[2021-09-15 03:43] vignesh123007 opened #6695 "error in creating app"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-09-15 03:43] vignesh123007 commented on #6695
Template "ASP.NET Core Web App" could not be created.
Access to the path 'C:\Program Files\Microsoft SDKs\Azure\.NET SDK\v2.9\myWebApp' is denied

[2021-09-15 03:44] vignesh123007 opened #6696 "Template "ASP.NET Core Web App" could not be created."
Template "ASP.NET Core Web App" could not be created.
Access to the path 'C:\Program Files\Microsoft SDKs\Azure\.NET SDK\v2.9\myWebApp' is denied

_Originally posted by @vignesh123007 in https://github.com/dotnet/core/issues/6695#issuecomment-919674521_

[2021-09-15 03:49] vignesh123007 opened #6697 "error in creating app"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-09-15 06:01] vignesh123007 opened #6698 "i got an issue in running the application after editing the code"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/modify
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-09-15 06:09] GGAlanSmithee commented on #6683
TLDR: The dotnet.exe executable is missing when installing the dotnet SDK using the official windows installer

I am experiencing the same issue. To add to this conversation here are some things that I have tried and noticed:

1. I've installed the SDK using the official downloadlink [here](https://dotnet.microsoft.com/download/dotnet/5.0)
2. After downloading and installing the SDK, I made sure t

[2021-09-15 06:58] bairog commented on #5567
@timheuer @jamshedd @mairaw **.NET 6.0-rc1** was released yesterday and is [“go live”](https://devblogs.microsoft.com/dotnet/announcing-net-6-release-candidate-1/)
So there should be an IDE with the same license type - but as I can see yesterday's [**VS 2022-preview4**](https://devblogs.microsoft.com/visualstudio/visual-studio-2022-preview-4-is-now-available/) is still in preview.
**VS 2019 16.11.

[2021-09-15 08:15] MarcelMichau commented on #6688
Hi there!

Not sure exactly where to post this, as it's more related to Azure App Service than .NET 6 specifically, but could anyone provide some information/timelines on when the .NET 6 RC1 runtime might be rolled out to App Service?

It seems like the App Service instances are still on Preview 7 at the moment, at least in the North Europe region.

Thanks very much!

[2021-09-15 08:29] qcjxberin opened #6699 "The cshtml prompt in the base class does not exist"
The cshtml prompt in the base class does not exist

[2021-09-15 08:38] vSakun commented on #4332
Is there a way to get rid of this error without changing the user under which the agent is running?

[2021-09-15 08:40] RichardD2 commented on #6687
Are there no details with the release notes? There's a link to a blog post, but that just links back to the release notes.

[2021-09-15 10:05] vSakun commented on #4332
If I am changing user for the Jenkins service, I am losing all settings Jenkins.

[2021-09-15 12:23] jzabroski commented on #4332
Try cleaning completely out the build server repository directory so that no cached files are present.
Then try restoring the whole solution using dotnet.exe
Then do the rest of the dotnet.exe lifecycle but specify --no-restore in each of those steps, to avoid triggering ResolvePackageAssets.

Basically, if you look at my original repro, you'll see in step 2, I am not using dotnet.exe.  That is th

[2021-09-15 14:08] timheuer commented on #5567
This is correct the runtime platforms now have a go-live license. The tools are still in preview as you note and this is very common given platforms lock down a bit before giving tools some more time to finish support for final runtime APIs, scenarios, packages, naming, etc. We are still finishing VS features for .NET 6 around areas like hot reload, editor support for new C# 10 Lang features, and

[2021-09-15 15:01] tannergooding commented on #6698
Closing as duplicate of #6697, #6696, and #6695

[2021-09-15 15:01] #6698 closed

[2021-09-15 15:01] tannergooding commented on #6697
Closing as duplicate of #6698, #6696, and #6695

[2021-09-15 15:01] #6697 closed

[2021-09-15 15:01] tannergooding commented on #6696
Closing as duplicate of #6698, #6697, and #6695

[2021-09-15 15:01] #6696 closed

[2021-09-15 15:03] tannergooding commented on #6699
Could you please provide more details about your issue so that this can be properly triaged?

Ideally, there would be some concrete reproduction steps indicating how you encountered your issue so that we can validate it on our end.

[2021-09-15 15:05] tannergooding commented on #6695
Could you try creating the project in a folder that isn't under `C:\Program Files`? This is likely a permissions issue which is covered under **Got an error?** at the bottom of the tutorial page you linked.

[2021-09-15 15:10] vcsjones opened #6700 "Running a .NET 5 project on macOS M1 with .NET 6 leads to confusing error message"
Steps to reproduce:

1. Install .NET 6 RC1 on an M1 Mac with the ARM64 architecture. Make sure there are no previous installs of .NET.

[code]

2. Try to run a .NET application that targets .NET 5 with `dotnet run` You'll get output that looks like:

[code]

I would expect to see a better error message, either indicating that .NET 5 is not installed, or that an available SDK/runtime is not availab

[2021-09-15 17:33] Rabadash8820 commented on #6569
sdfg

[2021-09-15 18:12] davideC22 opened #6701 "i have this problem with the installation"
despite having installed everything correctly I get this problem
[ It was not possible to find any installed .NET Core SDKs
  Did you mean to run .NET Core SDK commands? Install a .NET Core SDK from:
      https://aka.ms/dotnet-download]

[2021-09-15 19:04] executeautomation commented on #5962
Thank you so much for the help, it worked !

[2021-09-15 19:45] mairaw commented on #6701
Are you on Windows? This might be the same problem as issue #5962

Check the output of where.exe dotnet and if your system is x64 and the x86 path returns first, please follow the steps highlighted on that issue to fix the problem.

Let us know if that helps.

[2021-09-15 19:55] #6666 closed

[2021-09-15 20:46] teo-tsirpanis commented on #6069
@jamshedd yesterday, after this month's update, I realized that the 5.0.2xx and 3.1.1xx installations on my machine are redundant and uninstalled them, but today Windows Update decided to bring them back. FWIW on my machine there is also Visual Studio Enterprise 2019 16.11.3, and Visual Studio 2022 Preview 4.

[2021-09-15 20:50] teo-tsirpanis commented on #6688
Installing RC 1 removes Preview 7 from the installed programs list, but not the actual files. When I installed Preview 7 again, it completed very quickly, indicating that nothing was done. When I tried to remove it manually, it completed very quickly again, and the files remained.

[2021-09-15 21:18] jwillbrandt commented on #6652
I managed to solve this, the issue was being caused by zscaler intercepting the ssl traffic on my machine. The fix involves  exporting the zscaler root certificate and then importing it into the docker image.

I added the following lines to the dockerfile just before the dotnet restore command:
COPY zscaler.crt /usr/local/share/ca-certificates/zscaler.crt
RUN chmod 664 /usr/local/share/ca-certific

[2021-09-15 21:18] #6652 closed

[2021-09-16 00:56] qcjxberin commented on #6699
The base project has cshtml, and the local project is the cshtml file, if it is not packaged into the dll, an error will be reported when it runs.

[2021-09-16 03:12] jamshedd commented on #6069
@teo-tsirpanis, would you be up for trying this again? Remove the old/redundant versions you don't want, reboot, and then share with me the output of:

dotnet.exe --list-runtimes
dotnet.exe --list-sdks

Then do a scan on Microsoft Update (Check for Updates), install whatever is offered, and then run the above commands again.

[2021-09-16 06:14] Arunima-98 opened #6703 "i cant add counter in home page"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/add
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-09-16 08:51] vSakun commented on #4332
I changed the agent service's user. And moved files Jenkins from profile folder 'old user' to 'new user'- This is working.
Thank you!

[2021-09-16 10:51] teo-tsirpanis commented on #6069
ΟΚ, this is my list after the removal:

[code]

I will reboot my machine, run WU and update this message soon.

[2021-09-16 12:39] qcjxberin commented on #6699
Who can help to take a look, this has affected the normal work and use

[2021-09-16 12:48] qcjxberin commented on #6699
@tannergooding

[2021-09-16 12:50] EzequielYa commented on #6699
[dotnet/core]

Obtener Outlook para iOS<https://aka.ms/o0ukef>
________________________________
De: qcjxberin ***@***.***>
Enviado: Thursday, September 16, 2021 5:49:02 AM
Para: dotnet/core ***@***.***>
Cc: Subscribed ***@***.***>
Asunto: Re: [dotnet/core] The cshtml prompt in the base class does not exist (#6699)

@tannergooding<https://github.com/tannergooding>

—
You are receiving this because

[2021-09-16 13:00] qcjxberin commented on #6699
This is?

[2021-09-16 13:45] tannergooding commented on #6699
@qcjxberin, this still needs additional information so someone on this side can take a look.

Ideally you would provide a series of steps such as:

As best as I can discern, you're having some issue with a cshtml file not being packaged into the project output, but under what circumstances that is happening isn't clear and so its not clear if this is an issue with the SDK, with the ASP.NET tooling

[2021-09-16 13:52] tannergooding commented on #6703
Can you please provide additional details such as what happens when you add `<Counter />` to your home page and what you expected to happen?

Ideally you would provide a series of steps such as:

This makes it very easy for anyone reading the issue to reproduce the same issue and understand the context of what's happening.

[2021-09-16 14:40] dralley commented on #6381
@rbhanda What is the correct place to file issues with repositories located at https://packages.microsoft.com/?

Specifically, I have noticed some issues with https://packages.microsoft.com/rhel/8/prod/, but I have not been able to find the correct venue to report them.

[2021-09-16 14:57] rbhanda commented on #6381
Hello @dralley as of now we do not have a repository for  https://packages.microsoft.com/ on GitHub. Until we have one, if you are facing any issues, I recommend to create them on https://github.com/dotnet/core/issues

[2021-09-16 16:01] RealDotNetDave opened #6705 "Add Description to the ExcludeFromCodeCoverage Attribute"
Please add a Reason or Description property to this attribute. If a class, method etc. is marked to not be included in code coverage, it should be documented so the next reviewer that see it, sometimes years later, understand why the code does not need to be covered.

[2021-09-16 17:45] dralley opened #6706 "Problem with https://packages.microsoft.com/rhel/8/prod/"
I understand this isn't really related to dotnet/core, but I was [told](https://github.com/dotnet/core/issues/6381#issuecomment-920978055) to file the issue here because no public issue tracker exists for packages.microsoft.com.

### Description

The repository at  https://packages.microsoft.com/rhel/8/prod/ contains multiple different instances of the same package NEVRA (the name-epoch-version-re

[2021-09-16 17:53] dralley commented on #6706
Likewise with the `mssql-zulu-jre` packages, it looks like the package was built twice and the file simply renamed, rather than changing the "release" metadata in the specfile.  This means that both packages think they are "mssql-zulu-jre-11.31.10-1.x86_64"

[2021-09-16 18:09] mairaw commented on #6705
Hey @RealDotNetDave, isn't the [Justification](https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.codeanalysis.excludefromcodecoverageattribute.justification?view=net-5.0) property what you're looking for? It was added in .NET 5 it seems.

[2021-09-16 18:29] dralley commented on #6706
@rbhanda ^

[2021-09-16 19:00] mairaw commented on #6687
@RichardD2 The blog post has links to the improvements in the different areas.

[2021-09-16 19:01] kalaskarsanket commented on #6687
@RichardD2 - are you looking for changes in 3.1.19 ? as replied on [blogpost ](https://devblogs.microsoft.com/dotnet/september-2021-updates/#comment-10484) we have added 3.1.19 changes in additional improvements section and same has been updated on [release notes](https://devblogs.microsoft.com/dotnet/september-2021-updates/#comment-10484).

[2021-09-16 19:13] paulcastro1 commented on #6558
hello i can not upload specific ios files on here

[2021-09-16 19:32] ravindrabhartiya commented on #6706
Thanks for reporting this issue. PMC engineering team is taking a look at it right now.

[2021-09-16 20:01] AroglDarthu commented on #6688
We've ran into a similar problem as the one described here: https://github.com/dotnet/msbuild/issues/6389
[code]

Although https://github/dotnet/msbuild/issues is not in your list above, I am wondering if these are related. Does it need a separate fix in any of the other repos, or do we just have to be patient and wait for a future `net6.0-rc`?

[2021-09-16 20:28] jamshedd commented on #6069
Do you have VS also installed on this machine? If so can you tell me what versions of VS (including update levels) are installed?

[2021-09-16 20:34] teo-tsirpanis commented on #6069
There are Visual Studio Enterprise 2019 16.11.3, and Visual Studio 2022 Preview 4.

[2021-09-16 23:03] ravindrabhartiya commented on #6706
@dralley teams are cleaning up the duplicate packages.

[2021-09-16 23:51] diamondknife opened #6708 "Blazor installation issue?"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

I just installed Blazor and typed the following command at the prompt:   dotnet new

This is what shows up, there is no

[2021-09-16 23:56] WeihanLi commented on #6688
When I use the implicit using with multiple level `Directory.Build.props` in my project, it seemed not to work as expected,
project structure, there's reproducing commit for the issue: <https://github.com/WeihanLi/dotnet-httpie/tree/0ee81bd3bcafa07391392340eaa01726ee8ff75c>

![image](https://user-images.githubusercontent.com/7604648/133702848-d1557864-ff05-4668-83b7-d94e8a2d319f.png)

The global u

[2021-09-17 00:27] diamondknife commented on #6708
Where is the Blazor server template?

[2021-09-17 00:28] qcjxberin commented on #6699
@tannergooding Our same project, the problem occurred after upgrading from preview7 to rc1.

[2021-09-17 00:30] qcjxberin commented on #6699
After rolling back on other computers that have not been upgraded, it is normal to use, and the preview7 that we deploy in the official environment is normal. If you use rc1 directly, the same error is reported.

[2021-09-17 01:24] mairaw commented on #6708
Can you paste the output of `dotnet --info`? What happens if you try to run the full command `dotnet new blazorserver -o BlazorApp --no-https`?

[2021-09-17 01:32] mairaw commented on #6699
Adding @danroth27

[2021-09-17 01:56] dralley commented on #6706
Looks like this issue is fixed now, thank you.

[2021-09-17 01:56] #6706 closed

[2021-09-17 04:44] diamondknife commented on #6708
C:\Users\Maurizio Rossetto\BlazorApp>dotnet --info
.NET SDK (reflecting any global.json):
 Version:   6.0.100-preview.6.21355.2
 Commit:    7f8e0d76c0

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.19042
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\6.0.100-preview.6.21355.2\

Host (useful for support):
  Version: 6.0.0-preview.6.21352.12

[2021-09-17 04:45] diamondknife commented on #6708
Everything is working now I think. This is what I get when I run:
dotnet new blazorserver -o BlazorApp --no-https

C:\Users\Maurizio Rossetto\BlazorApp>dotnet new blazorserver -o BlazorApp --no-https
The template "Blazor Server App" was created successfully.
This template contains technologies from parties other than Microsoft, see https://aka.ms/aspnetcore/6.0-third-party-notices for details.

Pr

[2021-09-17 06:06] marco-filho opened #6709 "About the default keyword"
It's really simple, and I'm not even completely sure is an issue at all.

Say I write
`class Item { int id; }`
`var item = new Item();`
`var toComparison = item.GetType().GetProperties()[0].GetValue(item)`
`toComparison == default`
The output from this boolean operator will be `false`.

I've notice while debugging that the type from `toComparison` appears as being `object{int}` instead of the `int

[2021-09-17 09:22] zettry1 opened #6710 "Create new project on mac OS by cli"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/create
Operating System: macos

After running commad: dotnet new webApp -o myWebApp it throws error.
[code]

[2021-09-17 11:06] RichardD2 commented on #6687
@mairaw The links were added after I posted this. :)

@kalaskarsanket: Thanks for adding that. So if I'm reading it correctly, the only change for 3.1.19 was adding RIDs for Debian and Alpine?

[2021-09-17 13:35] #6708 closed

[2021-09-17 13:49] donhuvy opened #6711 "Comparing version wrongly: .NET 6.0.100-rc.1.21458.32 can not become later version of 6.0.0-preview.4.21253.5"
problem at here

[code]
See https://stackoverflow.com/questions/69224394/how-to-fix-problem-target-framework-is-disabled

I have a Blazor project, I came back to coding after about 4 months. File `foo.Client.csproj`

[code]

and

[code]

How to fix problem Target framework is disabled?

[![enter image description here][1]][1]

[![enter image description here][2]][2]

So strange, latest version .NE

[2021-09-17 14:18] svick commented on #6709
It's not clear to me what exactly are you trying to achieve, so I don't know what would be the best approach for you, but here are some possibilities:

1. Use `default(int)` instead of just `default` and also use `Equals()` instead of `==`: `Equals(toComparison, default(int))`.
2. Same as above, but use `0`, since that is the value of `default` of `int`.
3. Change the type of the variable  to `int

[2021-09-17 14:22] #6711 closed

[2021-09-17 15:02] marco-filho commented on #6709
I should've mentioned that `item` is a generic type and that I'm iterating through its properties, so I can't predetermine `default` specifically for `int`.
But this

worked like a charm. Thanks!

[2021-09-17 15:36] danroth27 commented on #6699
Hi @qcjxberin. To help us investigate this issue, could you please provide a GitHub repo with a minimal project that reproduces the problem?

[2021-09-18 00:29] rogierhofboer commented on #4446
Same issue for rc1 6.0.100-rc.1.21458.32 snap.
The fix of @nikonthethird works. but you'll need to replace dotnet-sdk_67.snap with  dotnet-sdk_142.snap
tip: the number to use is shown in the error message ;)

Thanks for this fix @nikonthethird !
Could someone please re-open this issue until a permanent fix is available?

[2021-09-18 06:58] qcjxberin opened #6713 "Unhandled exception. System.IO.DirectoryNotFoundException: .nuget\packages\dg.signalr\2.2.2021.918-beta09\staticwebassets\"
Unhandled exception. System.IO.DirectoryNotFoundException: C:\Users\berin\.nuget\packages\dg.signalr\2.2.2021.918-beta09\staticwebassets\
   at Microsoft.Extensions.FileProviders.PhysicalFileProvider..ctor(String root, ExclusionFilters filters)
   at Microsoft.Extensions.FileProviders.PhysicalFileProvider..ctor(String root)
   at Microsoft.AspNetCore.Hosting.StaticWebAssets.StaticWebAssetsLoader.<

[2021-09-18 07:18] melvin54241 opened #6714 "i can execute the first command however the next comand fails"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-09-18 08:55] qcjxberin commented on #6699
After I reinstalled the latest version of vs2020, it is now possible.

[2021-09-18 08:57] #6699 closed

[2021-09-18 09:20] qcjxberin commented on #6699
<ImplicitUsings>enable</ImplicitUsings>
The problem may appear on this one.

[2021-09-18 10:34] mairaw commented on #6714
What is the error message you’re getting?

[2021-09-18 13:29] mishaknazevfreelance opened #6715 "I have a problem while creating a project in c#"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows 10

Good day. I ran into a problem while creating a project in c#. I downloaded the dotnet from the tutorial from Microsoft (version 5.0.401). When I paste this command (dotnet new console -o myApp) into the command line, then I get an error (1 screenshot). How do I fix this?
![Sc

[2021-09-18 16:08] OwlCris opened #6717 "Problema com .NET"
![Screenshot_1](https://user-images.githubusercontent.com/90977947/133895192-9ebe49e4-286f-44ee-8ded-fb9de39f9e9e.png)
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/edit
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-09-18 16:14] OwlCris commented on #6717
Boa tarde. Estou aprendendo como se usa o .NET para estudos. Segui exatamente tudo o que o tutorial explicou, mas quando chegou nesta parte de acrescentar dia e hora, apareceu este problema de erros no Program.cs. Eu tenho o SO Windows 10, fiz a instalação do .NET conforme descrito e mesmo assim este erro persiste. Já testei no Visual Studio também e não deu certo o dotnet run e a falha é sempre a

[2021-09-18 16:14] #6717 closed

[2021-09-19 09:09] vSakun commented on #4332
I changed the agent service's user. And moved files Jenkins from profile folder 'old user' to 'new user'- This is working.
Thank you!

[2021-09-20 04:05] yilmazbingo commented on #5267
i have the same issue.  I think I had added the wrong path in the e first place

installed the script:

[code]

I added env variable

       export PATH=$PATH:/home/tesla/.dotnet

I tested the version

              $ dotnet --version
                5.0.207

[2021-09-20 09:19] teottin commented on #5860
There is currently a hash mismatch with the package servicefabric_sdkcommon_1.4.2.deb
https://packages.microsoft.com/ubuntu/18.04/prod/pool/main/s/servicefabricsdkcommon/servicefabric_sdkcommon_1.4.2.deb: md5 hash mismatch "fa8ef8b014dab9409464f20238e8c67f" != "cf389033d5f91dceb7afe362511876e7"

I downloaded the file manually and checked the hash against the one in the Packages file and there is i

[2021-09-20 11:01] alberto-chiesa commented on #5713
First of all, thanks @JamesNK  for raising this point.

I have a major concern, however: .NET Framework is still going to be a requirement in a lot of enterprise environments for a long time (at least, relatively to the pace the .NET versions are moving currently), and OS version requirements should also be taken into account.

AFAICT, the only way we are going to have anything gRPC related workin

[2021-09-20 11:45] w00w00w opened #6719 "help"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-09-20 13:07] Lahiru-Malshan opened #6720 "DotNet error"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-09-20 14:10] Lahiru-Malshan opened #6721 "DOTNET error"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
It shows like following;
Creating this template will make changes to existing files:
  Overwrite   ./myApp.csproj

[2021-09-20 18:26] terrajobst opened #6722 "Replacing explicit read access for external contributors with team membership"
We're moving away from using individual permissions to our repos in favor of teams. In the past, we've given external contributors explicit read access, for two reasons:

1. To assign them issues they would like to work on
2. To give them access to CI logs in Azure DevOps pipelines

The first one is no longer necessary as GitHub has made a change that allows anyone to be assigned an issue so long

[2021-09-20 18:40] terrajobst commented on #6722
Oh oh. Looks like GitHub only highlights some of the users. I hope the tagging registers at least for their notifications 😄

[2021-09-20 18:47] Gnbrkm41 commented on #6722
You hope so, it didn't 😂

[2021-09-20 19:27] terrajobst commented on #6722
TIL that GitHub has a maximum number of users that can be tagged.

[2021-09-20 19:27] terrajobst commented on #6722
@Dmitry-Matveev @dnickless @dnikolovv @Drawaes @eanova @edgardqsn @ektrah @Ermiar @Etrimus @felipepessoto @fiercekittenz @fiigii @filipnavara @FireAlkazar @Foxtrek64 @FransBouma @fredeil @fredrikhr @FSou1 @garfbradaz @Gnbrkm41 @gokarnm @golf1052 @gpcastro @grant-d @GurliGebis @hughbe @i3arnon @iamatinkerer @iarna @igor-susic @ilya-bin @IvanKishchenko @ivlevkonstantin @Jaedson33 @JamieMagee @jaredc

[2021-09-20 19:27] terrajobst commented on #6722
@johnnyRose @JonHanna @JosephHill @jp2masa @jpelcis @jswolf19 @justinvp @jwood803 @kamonson @kant2002 @kassemsandarusi @kbaladurin @Keboo @kellypleahy @KennethLundberg @kevingosse @khellang @KostaVlev @laurentkempe @LDSpits @leotsarev @lkts @LTMenezes @luigiberrettini @lukmatyja @lunchin @m08pvv-zz @madelson @madsiberian @magedfarag @majidrafigh @manofstick @mareklinka @Marusyk @mbrameld @mccbraxt

[2021-09-20 19:28] terrajobst commented on #6722
@nbarbettini @Newrad0603 @nietras @noamyogev84 @obelink @odyth @ofirmakmal @olholder @PandaMagnus @patryk9200 @Paxxi @pdeligia @peltco @PetiaVladova @pgolebiowski @pjbgf @pkulikov @poizan42 @Pothulapati @ProgressGitHubBuildUser @ptoonen @qtxasjo @Redouane64 @remcoros @rionmonster @rjxby @rmaloo @robert-matusewicz @robosek @satano @sgaliamov @shmuelie @Smartis2812 @snickler @sparraguerra @sputier @

[2021-09-20 19:28] terrajobst commented on #6722
@tintoy @TMiNus @TomServo3k @tpetrina @tuespetre @tumtumtum @TylerBrinkley @Vertygo @ViIvanov @vladimir-kazakov @vtbassmatt @weitzhandler @weltkante @wilka @willdean @WinCPP @Wraith2 @yaakov-h @yevgeniyredko @ykravtsov @YoupHulsebos @Youssef1313 @yvanin @zakaluka @zaytsev-victor

[2021-09-20 19:36] AraHaan commented on #6722
I did get the notification.

[2021-09-20 19:37] pgolebiowski commented on #6722
I got some invitation and then right after another one that the invitation was canceled xd

[2021-09-20 19:39] Clockwork-Muse commented on #6722
Because you're one of the first ones in the list (like I was), so you fit in the limit.

[2021-09-20 19:40] JaedsonBarbosa commented on #6722
I received the invitation, but it was on my old account that I no longer use. 😅

[2021-09-20 19:41] m08pvv commented on #6722
Same story.

[2021-09-20 19:44] AraHaan commented on #6722
Yep mine was canceled about 2 minutes ago 😢.

[2021-09-20 19:47] pgolebiowski commented on #6722
So sad, I thought that Microsoft liked me

[2021-09-20 19:48] AraHaan commented on #6722
They will probably redo the invitations soon.

[2021-09-20 20:40] terrajobst commented on #6722
Oh sorry. I've sent the invites from my account. The problem is that we use a just-in-time mechanism that only temporarily promotes us to org owners. Sadly, whenever an org owner gets demoted to a regular member, GitHub "helpfully" cancels all their prending invitations. I've sent the invitations out from a bot account now.

[2021-09-20 21:10] #6680 closed

[2021-09-21 01:58] eanova commented on #6722
Hi Immo, can you send the invite to @ErhanAtesoglu?  Thanks!

From: Immo Landwerth ***@***.***>
Sent: Monday, September 20, 2021 1:41 PM
To: dotnet/core ***@***.***>
Cc: Erhan Atesoglu ***@***.***>; Mention ***@***.***>
Subject: Re: [dotnet/core] Replacing explicit read access for external contributors with team membership (#6722)

Oh sorry. I've sent the invites from my account. The problem is th

[2021-09-21 02:22] #6682 closed

[2021-09-21 03:22] #6683 closed

[2021-09-21 03:32] terrajobst commented on #6722
Sounds good. I've canceled the invitation to @eanova and sent a new one fore @ErhanAtesoglu. HTH

[2021-09-21 03:51] najeebanwer opened #6723 "Ubuntu 21.04 - dotnet will not start without sudo"
### Description
I have dotnet_sdk 5.0.401 installed as a snap on Ubuntu 21.04. Typing the command "dotnet" gives the following error:
![image](https://user-images.githubusercontent.com/34123660/134108418-4d0ee667-b263-48f4-8d6b-e9205a00eaed.png)
In previous versions, this has worked without requiring elevated privileges.

### Configuration

![image](https://user-images.githubusercontent.com/341236

[2021-09-21 05:30] Chubrock opened #6724 "cd myApp Error"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows 21H1

Hi,
 at CMD line I receive the following path error after install.

C:\Users\Rene Cortes>cd myApp
The system cannot find the path specified.

my path is C:\Program Files\dotnet

thx,

[2021-09-21 06:05] avdv commented on #6687
Hi.

Looking at the release page for the September .NET 5 Release, there are two:

 1. https://github.com/dotnet/core/blob/main/release-notes/5.0/5.0.10/5.0.10.md
 2. https://github.com/dotnet/core/blob/main/release-notes/5.0/5.0.10/5.0.207.md

According to the first page, it contains ".NET 5.0.401 SDK", whereas the second one is ".NET SDK 5.0.207".

What's the difference? :confused:

[2021-09-21 08:17] CreeperKong opened #6768 "Give a complete option of download link in release notes"
Some of the links are missing compared to official website.

![image](https://user-images.githubusercontent.com/28486081/134136359-46fb7a9f-bb69-4110-98cf-3bbcb6defe02.png)
![image](https://user-images.githubusercontent.com/28486081/134136413-935ea7cf-ac9e-429d-8866-15dbd6f6281e.png)

[2021-09-21 10:08] sorin-bolos commented on #2842
I have the same security issue. Need to use `System.Text.RegularExpressions` version `4.3.1` instead of the default `4.3.0`. I refernced the System.Text.RegularExpressions nuget version 4.3.1. After publishing to a folder I see no `System.Text.RegularExpressions.dll` copied, but in the `.deps.json` file all references to this assembly have swithced to `4.3.1`.
What does this mean? Does the `Micros

[2021-09-21 13:08] YarikProkop777 commented on #2842
I have the same issue. Please help us with it.

[2021-09-21 16:20] AraHaan commented on #6722
I actually prefer this team membership part instead because then we can contribute to a lot more than just what we normally would be able to do if say we were not members. I do like that we can now look at things that has issues (like things that might cause flaky CI builds, or pressing issues within things like the winforms designer for example to help pinpoint the real issue that normal users li

[2021-09-21 16:44] tannergooding commented on #6720
Closing as duplicate of https://github.com/dotnet/core/issues/6721

[2021-09-21 16:44] #6720 closed

[2021-09-21 16:45] tannergooding commented on #6719
Can you please provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-09-21 16:48] tannergooding commented on #6713
Can you please provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Just the exception message doesn't give enough details for us to triage or reproduce the issue.

[2021-09-21 16:51] tannergooding commented on #6721
Can you please provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Its not clear what issue you're encountering. Is it that you're trying to run `dotnet new console -o myApp` and you get that output?

[2021-09-21 17:04] Pilchie commented on #2842
Please file a new issue at https://github.com/dotnet/runtime.  People often don't see comments on issues that have been closed for years.

[2021-09-21 17:24] #6684 closed

[2021-09-21 18:55] kalaskarsanket commented on #6687
@avdv the difference is in which Visual Studio version they have been inserted SDK5.0.401 is inserted in vs-version: 16.11.3 and SDK 5.0.207 in 16.9.11. You can find all the information in [releases.json](https://github.com/dotnet/core/blob/822cbe9287e1d85379554a313d8e8347d26ba151/release-notes/5.0/releases.json#L107 )

[2021-09-21 20:54] avdv commented on #6687
Thanks @kalaskarsanket! So basically there's no functional difference and usually it's nothing one should care about, only if you see version 5.0.207 does not mean it's older / buggier than 5.0.401 since these are equivalent... ?!

[2021-09-22 08:00] Klarashirt opened #6727 "Klarashirt Store"
Klarashirt is a clothing store at Detroit, United States, it's established in 2018 by Tommy Jone. We print and sell t-shirt, hoodie, sweatshirt, mug, custom apparel printing product with Direct To Garment(DTG) printing.
Adress: 4070 Cortland St, Detroit, MI 48204
Phone: +1 313-826-2568
Website: [](https://klarashirt.com)
Email: klarashirt99@gmail.com
About Us
Being established in 2018 by Tommy Jon

[2021-09-22 09:15] Lahiru-Malshan commented on #6721
Hi! Thanks for replying me.
I tried to do as this link says:.NET Tutorial | Hello World in 5 minutes
(microsoft.com)
<https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create>,
but it wasn't successful. It shows up an error like the attachment shows.
[image: DOTNET_ERROR.png]

On Tue, 21 Sept 2021 at 22:21, Tanner Gooding ***@***.***>
wrote:

[2021-09-22 09:16] Lahiru-Malshan commented on #6721
Hi! Thanks for replying to my problem. I'm on Windows 11 PRO 64 bit.[image:
DOTNET_ERROR.png]
I tried to do as this link says:.NET Tutorial | Hello World in 5 minutes
(microsoft.com)
<https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create>,
but it wasn't successful. It shows up an error like the attachment shows.

On Tue, 21 Sept 2021 at 22:21, Tanner Gooding ***@***.***>
wrote:

[2021-09-22 13:33] raymenliu opened #6728 "dotnet install from aarch64"
### Description

after installed run  "dotnet --info"  found error message.
### Configuration

### Regression?

### Other information

Unhandled exception. System.UnauthorizedAccessException: Access to the path '/proc/stat' is denied.
 ---> System.IO.IOException: Permission denied
   --- End of inner exception stack trace ---
   at Interop.ThrowExceptionForIoErrno(ErrorInfo errorInfo, String path,

[2021-09-22 14:18] #6727 closed

[2021-09-22 15:44] mrbuilder687 opened #6729 "didnt work"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

after installing a .NET on my pc, i ran "dotnet new console" command in VS, but it said " It was not possible to f

[2021-09-22 15:48] #6695 closed

[2021-09-22 19:54] #6701 closed

[2021-09-23 00:22] mbutu1 opened #6731 "Error"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-09-23 00:22] #6731 closed

[2021-09-23 11:43] murbanowicz commented on #6688
The snap version which is recommended to be used on Linux for preview/rc is still broken for this version.
It is impossible to install .NET 6 without the pain on Linux at the moment.
On Fedora we are hitting: `cannot snap-exec: cannot exec "/var/lib/snapd/snap/dotnet-sdk/142/snap/command-chain/snapcraft-runner": permission denied` for whole .NET 6 release chain since few months.
I still cannot get

[2021-09-23 14:12] #6703 closed

[2021-09-23 16:50] av00000 opened #6732 "dotnet: The term 'dotnet' is not recognized as the name of a cmdlet, Visual Studio Code"
dotnet: The term 'dotnet' is not recognized as the name of a cmdlet,
function, script file, or executable program. Check if you wrote
the name correctly or, if you included a path, verify that
that path is correct and please try again.
Online: 1 Character: 1
+ dotnet
+ ~~~~~~
     + CategoryInfo: ObjectNotFound: (dotnet: String) [], CommandNo
    tFoundException
     + FullyQualifiedErrorId: Comma

[2021-09-24 09:20] leXorNet commented on #6688
Hi,
While plain net6.0 (rc1) works fine for me, I'm having real issues when adding the MacOS workload.
Build times for a simple "hello world" goes from ~1 sec to ~10 sec and breakpoints stop working (VS-Mac 2019).
Also, I can't get a two project setup to work (console-project that depends on a lib-project), when one or both is targeting macos. A sample solution for this would be appreciated :) Ple

[2021-09-24 10:02] L00pZBreak3r opened #6733 "Failed to create CoreCLR, HRESULT: 0x80004005"
7.0.100, 6.0.100-rtm, 6.0.100-RC2.
Even without any NET SDK installed, I get
_Failed to create CoreCLR, HRESULT: 0x80004005_

**windowsdesktop-runtime-5.0.10-win-x64** is installed, so **dotnet.exe** should work somehow. However, **dotnet.exe --help** gives
_Failed to create CoreCLR, HRESULT: 0x80004005_

Unfortunately, Google finds nothing useful on _Failed to create CoreCLR, HRESULT: 0x80004005_

[2021-09-24 13:43] papafe opened #6734 "CS0121 Compilation error with .NET 6 and delegates"
### Description

I am not sure why I am seeing a CS0121 in the following code snippet taken from a Console application:

[code]

I would expect that both methods `M1` and `M2` would be treated in the same way, given that `Action` and `MyDelegate` have the same signature.

### Configuration

Problem is present in .NET 6.0.0-rc.1, but not in .NET 6.0.100-preview.7.21379.14

[2021-09-24 14:12] Raph-T opened #6735 "provided code does not appear"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/modify
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Once I run the code the page says this site cannot be reached.

[2021-09-24 14:25] kyratolnai11 opened #6736 "Issue with turotial"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/run
Operating System: windows

I am trying to run the code dotnet watch run, and the following messages appears in red 👍 Could not find a MSBuild project file in 'C:\Users\Kira'. Specify which project to use with the --project option

[2021-09-24 14:25] #6736 closed

[2021-09-24 19:58] abarberenaCPDS opened #6737 "Include .NET 5 - Supported OS versions matrix"
### Description

I'd like to suggest to improve the documentation and include the supported OS versions in the documentation page.

The matrix can be found in
- [https://github.com/dotnet/core/blob/main/release-notes/5.0/5.0-supported-os.md](https://github.com/dotnet/core/blob/main/release-notes/5.0/5.0-supported-os.md)

The following website should include the matrix
- [https://dotnet.microsoft.c

[2021-09-25 10:47] #6714 closed

[2021-09-25 16:12] kcee1 commented on #5044
Please I am having this same issue with visual studio 2019. I created a .net core project and it refuse to build. Please which nugget package did you install

[2021-09-26 00:57] kushwah94 opened #6739 "4.8 framework not insttal"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-09-26 00:57] #6739 closed

[2021-09-26 00:58] kushwah94 commented on #6739
4.8 framework blocking system

[2021-09-26 00:58] kushwah94 opened #6740 "4.8 framework blocking system"
### Description

### Configuration

### Regression?

### Other information

[2021-09-26 04:21] Phatkone commented on #6381
I know this thread is old but I am still seeing this issue with 20.04

`Ign:6 https://packages.microsoft.com/config/ubuntu/20.04/prod focal InRelease
Err:7 https://packages.microsoft.com/config/ubuntu/20.04/prod focal Release
  404  Not Found [IP: 40.65.182.21 443]
Reading package lists... Done
E: The repository 'https://packages.microsoft.com/config/ubuntu/20.04/prod focal Release' does not have

[2021-09-26 16:41] shadbin4012 opened #6742 "#6741"
#6741

_Originally posted by @shadbin4012 in https://github.com/dotnet/core/issues/6741#issuecomment-927334458_

[2021-09-26 16:42] #6742 closed

[2021-09-27 06:06] GGAlanSmithee commented on #6683
@mairaw this issue was auto closed, but please see my response, or should I open a new issue instead?

[2021-09-27 11:02] franzzua opened #6743 "Dictionary concurrency behaviour"
### Description

When many threads are trying to add values with different keys in one dictionary at same time, sometimes it throws exception, but sometimes it inserts not all values.

### Configuration

* .NET 5
* Windows 10
* x64

### Other information

[code]
If exception have not been throwed, `dict` contains just 4 keys, or maybe 8 keys, but not 10.

### Expected behaviour
Throwing an excepti

[2021-09-27 11:28] svick commented on #6743
I suspect that making sure `Dictionary` always throws when you're incorrectly using it from multiple threads would be hard and it would make performance worse for the case when it's correctly used non-concurrently. So I don't think it would be worth it, just to make diagnosing these kinds of bugs easier.

Note that the documentation for `Dictionary` says that it's not thread-safe for writing, but

[2021-09-27 13:14] yogeshgitika opened #6744 "'dotnet' is not recognized as an internal or external command, operable program or batch file."
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Error :

'dotnet' is not recognized as an internal or external command,
operable program or batch file.

[2021-09-27 17:15] dagood commented on #5860
@teottin, can you please file a new issue for that package and/or report the problem to whoever pointed you at that package?

[2021-09-27 22:12] mairaw commented on #6744
Hi @yogeshgitika! Did you install the SDK? If so, did you open a new command prompt after the installation?

[2021-09-28 01:04] mairaw commented on #6683
The issue was auto closed because the issue opener didn't respond. It's better to open a new issue since your case might be different than theirs.

[2021-09-28 01:13] mairaw commented on #6739
You can download .NET Framework 4.8 from https://dotnet.microsoft.com/download/dotnet-framework/net48

But certain operating systems like Windows 10 already have .NET Framework installed.

[2021-09-28 01:14] mairaw commented on #5044
@kcee1 please open a new issue with more details about error message, version, etc.

[2021-09-28 01:21] mairaw commented on #6735
Did the project run at least once or not at all? Did the project build alright? Any error messages when you run `dotnet watch run`?

[2021-09-28 01:22] mairaw commented on #6734
@jaredpar can you take a look at this? Should I move this somewhere else?

[2021-09-28 01:26] mairaw commented on #6733
@marcpopMSFT you were originally helping @L00pZBreak3r on this issue. Do you need more info?

[2021-09-28 01:38] mairaw commented on #6735
Were there any errors on the console? Maybe try starting over and see if you have the same problem. One thing to pay attention to on Windows is to make sure you're editing the cshtml file and not the cshtml.cs file (sometimes the extension is hidden and users end up editing the wrong one and run into issues). Please let me know what errors you see.

[2021-09-28 03:16] paulcastro1 opened #6746 "bash: react-native: command not found"
trying to run a command in react-native keep getting this message" bash: react-native: command not found" can someone with mobile app development help

[2021-09-28 03:20] paulcastro1 commented on #6677
Delete and select  install the Api package

[2021-09-28 03:45] batwenachiket opened #6747 "scriptcs : The term 'scriptcs' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is correct and try again. At line:1 char:1 + scriptcs "c:\Users\Nachiket\myApp\Program.cs" + ~~~~~~~~ + CategoryInfo : ObjectNotFound: (scriptcs:String) [], CommandNotFoundException + FullyQualifiedErrorId : CommandNotFoundException"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-09-28 04:29] DilharaPeiris opened #6748 "Install Operating System: macos"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-09-28 08:09] waf commented on #6734
This also affects applications that use NLog's ILogger interface, which [has both delegate and generic overloads](https://nlog-project.org/documentation/v4.0.0/html/T_NLog_ILogger.htm).

[2021-09-28 09:54] nirinchev commented on #6734
We're hitting this with NUnit assertions which suffer from the same issue.

[2021-09-28 10:26] dasMulli commented on #6734
These might have been fixed by https://github.com/dotnet/roslyn/pull/56341, see linked issues on that PR. /cc @cston

[2021-09-28 13:48] #6558 closed

[2021-09-28 15:42] jkotas commented on #6570
.NET 6 RC2 has API breaking changes. For example, the APIs for Json source generators have changed (#59042). The binaries compiled against .NET 6 RC1 are not supported on .NET 6 RC2.

[2021-09-28 16:44] tannergooding commented on #6748
Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Ideally you would provide a series of steps such as:

This makes it very easy for anyone reading the issue to reproduce the same issue and understand the context of what's happening.

[2021-09-28 16:46] mairaw commented on #6747
What command did you type to get this error @batwenachiket?

[2021-09-28 16:50] tannergooding commented on #6746
Could you please provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Ideally you would provide a series of steps such as:

This makes it very easy for anyone reading the issue to reproduce the same issue and understand the context of what's happening.

[2021-09-28 16:55] geetmenon opened #6749 "Why does Microsoft.Data.SqlClient.SNI.dll get published under runtimes folder?"
I have a .net core 5 library project (using VS2019) for my data layer which includes the following nuget packages:
Microsoft.EntityFrameworkCore.SqlServer" Version="5.0.8"
Microsoft.EntityFrameworkCore.Tools" Version="5.0.8"

When I build/publish my solution, I notice a "runtimes" folder with the following files underneath:
win-x64\native\Microsoft.Data.SqlClient.SNI.dll
win\lib\netcoreapp3.1\Micr

[2021-09-28 17:01] ajcvickers commented on #6749
Note: this was already addressed here: https://github.com/dotnet/efcore/issues/26175. Further discussion should go to [dotnet/SqlClient](https://github.com/dotnet/SqlClient).

[2021-09-28 17:35] Raph-T commented on #6735
I was indeed modifying the .cs file in visual  studio. The other one I
could only use notepad ++, is this the one ?

On Mon., Sep. 27, 2021, 21:38 Maira Wenzel, ***@***.***>
wrote:

[2021-09-28 17:37] geetmenon commented on #6749
This issue is not really addressed. Until Microsoft.Data.SqlClient is made fully managed,  dotnet core should include this native library ( just like  .Net Framework includes this native library) so as not break our existing build&deployment scripts.

[2021-09-28 17:38] #6719 closed

[2021-09-28 17:38] #6713 closed

[2021-09-28 17:39] ajcvickers commented on #6749
@geetmenon .NET Core does not work like this. It is not a monolithic framework. You are supposed to pull the parts you need into your application and deploy them with your application.

[2021-09-28 17:53] mairaw commented on #6735
Attachments don't work if you reply via e-mail, only via GitHub UI on their site.

The tutorial asks you to edit the cshtml page, not the cs page.

[2021-09-28 18:07] Raph-T commented on #6735
All is well

Thank you for your help Maira

On Tue., Sep. 28, 2021, 13:53 Maira Wenzel, ***@***.***>
wrote:

[2021-09-28 18:41] mairaw commented on #6735
It seems you're good now so closing the issue.

[2021-09-28 18:41] #6735 closed

[2021-09-28 22:34] marcpopMSFT commented on #6733
If dotnet.exe doesn't work, I'd route to @vitek-karas as possibly the runtime is not working. This isn't an arm64 windows machine by any chance is it?

[2021-09-28 22:52] #6278 closed

[2021-09-29 00:38] UserVandy opened #6750 "Windows10pr0"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: linux

Provide details about the problem you're experiencing. Includwindowe your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-09-29 00:42] #3441 closed

[2021-09-29 00:45] mairaw commented on #6750
Please provide more information about the issue so we can try to help you!

[2021-09-29 00:46] mairaw commented on #6732
Did you install the SDK? And if so, did you open a new command prompt or PowerShell window after the installation?

[2021-09-29 00:47] mairaw commented on #6729
This might be the same problem as issue #5962

Check the output of where.exe dotnet and if your system is x64 and the x86 path returns first, please follow the steps highlighted on that issue to fix the problem.

Let us know if that helps.

[2021-09-29 00:49] mairaw commented on #6728
@dsplaisted can you help with this? Should this issue be moved to a different repo?

[2021-09-29 01:01] azureskydiver commented on #3441
Go ahead close. I'll likely open a similar question about .NET 6.

[2021-09-29 01:02] dsplaisted commented on #6728
@raymenliu What Operating System are you running on?

@dotnet/platform-deps-team @jeffschwMSFT @agocke Can you route this?  It looks like a failure in getting Process.StartTime.

[2021-09-29 01:35] csharpfritz commented on #5468
@bobtabor in the last week or two @shanselman and I have discussed building some curriculum for this.  Let's discuss.

Additionally, with the improvements to intellisense, we can place A tags in descriptions.  Let's consider placing links to docs.microsoft.com for each class we manage. This way all .NET tools can provide reference to the official docs.

[2021-09-29 08:00] L00pZBreak3r commented on #6733
No, it's mundane x64.

[2021-09-29 08:28] vitek-karas commented on #6733
Just to be sure (but I don't expect this to do much):
[code]

This should produce `host.txt` with lot of detailed tracing. Please note that the file may contain information about the machine, local paths and env. variables. Make sure you're OK to share it first. I think the interesting part will be the few lines around the failure (should be near the end of the file).

From your post it seems you

[2021-09-29 10:41] karelz commented on #6570
We added API on `System.Net.Uri` (new constructor overloads and `UriCreationOptions`) to enable customers process Uris transparently, without normalization/canonicalization of path and query - https://github.com/dotnet/runtime/pull/59173

[2021-09-29 10:43] karelz commented on #6570
.NET 6 RC2 brings WinHttpHandler support for TLS 1.3 on Windows 11 - https://github.com/dotnet/runtime/issues/58587

[2021-09-29 12:13] svdHero commented on #4964
Are there any plans to change this in the foreseeable future? I would not like to change my build environment just to be able to set the executable's version number. However, this is an important feature, because Windows users only check the EXE file for versioning when tech support requests come in.

[2021-09-30 03:00] hamarb123 commented on #5651
Hi, I'm trying to understand why `libobjc.dylib` is included in https://github.com/dotnet/core/blob/main/release-notes/6.0/runtime-deps.json since according to https://github.com/dotnet/runtime/pull/49555#discussion_r708226918, inherent components of the OS aren't listed in that file. Please correct me if I'm wrong in my assumption or interpretation, thanks.

[2021-09-30 12:15] MarkLynch-puzzel opened #6752 "FileInfo.DirectoryName return invalid information on MacOS"
### Description

The problem is on the FileInfo object returns an invalid path string when the DirectoryName property is called.

[code]
this will output **/Users/ml/Projects/example/file:/Users/ml/Projects/example/bin/Debug/netcoreapp3.1**

If you then try to use the directory string to say iterate the other files in the directory
foreach(var file in Directory.GetFiles(fi.DirectoryName)){}
this c

[2021-09-30 12:56] padhumailin opened #6753 "Error "No client ssl certificate found in the request." when communicating WCF service from .net core 3.1 application"
I'm trying to access the WCF service from my . net core application.
WCF service has basichttpbinding and with https enabled. i'm attaching signed client certificate to authorize the request.

while sending the request to server, the error log in server is logged as "No client ssl certificate found in the request".
please see the below client code to access the WCF service.

### Description

### C

[2021-09-30 13:07] mthalman commented on #5651
Yes, that could be removed.

[2021-09-30 19:49] mnicolaides opened #6754 "Stopping and starting .NET 5 Windows service randomly causes a error entry in the Event Viewer"
### Description
I've created a .NET 5 Windows service based on [https://docs.microsoft.com/en-us/dotnet/core/extensions/windows-service](https://docs.microsoft.com/en-us/dotnet/core/extensions/windows-service) (did not used the single-file self-contained output). The service is created/started/stopped all via servicer controller.

After a number of stop, wait 10 seconds, start attempts (could be u

[2021-10-01 05:33] Ghyath-Serhal commented on #6665
Actually I solved it in the way mentioned below. Check it, it might help you.
[](https://bartwullems.blogspot.com/2021/03/kubernetes-reload-your-aspnet-core.html)
[](https://github.com/fbeltrao/ConfigMapFileProvider)

[2021-10-01 07:24] JurjenBiewenga commented on #6733
Hi,

We had a very similar problem after updating the SDK to preview 7 and running one of our .net standard 2 projects which uses the FlatSharp Compiler (compile time flatbuffer compilation). Updating the runtime to .NET Core 2.1 Runtime (v2.1.30) seems to have fixed it.

We also tried to use `COREHOST_TRACE` to get a log file however it appears that no log file was created.

[2021-10-01 10:52] vitek-karas commented on #6733
@JurjenBiewenga the `COREHOST_TRACEFILE` setting is only available on .NET Core 3.1 and higher. The `COREHOST_TRACE=1` should still work on .NET Core 2.1, but it write all of the diag info into `stderr`.

How did you run a .NET Standard 2 project? (what was the TFM in the project file?, are you building an application project file, or some other way? How do you run it?)

[2021-10-01 11:00] JurjenBiewenga commented on #6733
@vitek-karas Unfortunately we also did not see any console output with `COREHOST_TRACE=1`.
We were running a solution with some projects (console applications) targetting .net 6(net6.0) and some (class libraries) targetting .net standard 2 (netstandard2.0), The .net standard 2 project has a dependency on FlatSharp.Compiler, it calls their compiler on the FlatBuffer Schema (FBS) files in the projec

[2021-10-01 11:11] vitek-karas commented on #6733
@JurjenBiewenga thanks for the response. Sorry, I probably screwed up the commands. On Linux/macOS it probably needs to be `export COREHOST_TRACE=1`. (I was trying this on Windows, sorry for the wrong command).

[2021-10-01 11:15] JurjenBiewenga commented on #6733
Ah makes sense, unfortunately I don't have a repro at the moment. Could try to recreate one next week.

[2021-10-01 12:18] nmoreaud opened #6755 "Directory.GetFiles is very slow on linux with NFS share"
`Directory.GetFiles`, `Directory.EnumerateFiles`, `DirectoryInfo.GetFiles`and `DirectoryInfo.EnumerateFiles` are pretty slow at listing files of my NFS shared directory. I guess that these functions internally retrieve files metadata (access time, etc) which is not mandatory and slows down considerably the process.
Is there any workaround?

For comparison:
[code]

Environment: dotnet 5.0.207, dock

[2021-10-01 13:04] nmoreaud commented on #6755
Here is an `ls` wrapper that we can use until the problem is fixed.
The program runs in 0.53s.

[code]

[2021-10-01 14:32] atkonline opened #6756 "decimal numbers that end in {n}0.5 do not round to nearest upper bound whole number"
### Description
I believe I found a bug
100.5 -> I would expect to round to 101 when using decimal.Round(num) function - except it does not.
89.5 -> rounds to 90
90.5 -> rounds to 90
etc.

### code example

using System;
using System.Collections.Generic;
using FluentAssertions;
using RevalDefenceTool.Extensions;
using Xunit;

namespace RevalDefenceTool.Tests.Extensions
{
    public class DecimalEx

[2021-10-01 14:36] ufcpp commented on #6756
see [`ToEven`](https://docs.microsoft.com/en-us/dotnet/api/system.midpointrounding?view=net-5.0)

[2021-10-01 18:15] leecow commented on #6737
A link to the appropriate matrix makes sense and will connect the dots. The alternative is to move the matrix into the docs. Either route is fine as long as the information is maintained in a single location.

[2021-10-01 18:44] cadnza opened #6757 "This version of Microsoft.MacCatalyst requires the MacCatalyst 15.0 SDK (shipped with Xcode 13.0)."
### Description

When following [Microsoft's .NET MAUI app tutorial with the .NET CLI](https://docs.microsoft.com/en-us/dotnet/maui/get-started/first-app?pivots=dotnet-cli), `dotnet build` fails to find the MacCatalyst 15.0 SDK that should be included in my Xcode 13.0 installation:

`dotnet build -t:Run -f net6.0-maccatalyst`

[code]

### Configuration

`dotnet --list-sdks`

[code]

`dotnet --list

[2021-10-01 19:37] stephenweaver opened #6758 "RemoteCertificateValidationCallback can not detect some incomplete certificate chains"
### Description

It appears that `RemoteCertificateValidationCallback` (tested with `SslStream` and `HttpWebRequest` ) incorrectly validates certificates with Chain issues (ex. https://incomplete-chain.badssl.com).  The code I'm attempting to write validates certificates, similar to what this tool is doing https://www.sslshopper.com/ssl-checker.html.

There does not appear to be a way to detect th

[2021-10-01 21:23] vitek-karas commented on #6733
Today I found that if the `System.Private.CoreLib.dll` is missing the runtime fails like this.
Can you please check that in `C:\Program Files\dotnet\shared\Microsoft.NETCore.App\<version>` there is a file called `System.Private.CoreLib.dll` ?
(It could be a corrupted install for example).

If I delete the file, `dotnet --help` fails with the same failure as above.

[2021-10-02 00:52] bibble235 commented on #4446
@nikonthethird Thanks for the help with this.

[2021-10-02 07:17] LeMinhNam opened #6759 "dotnet run error"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: macos

When I take command line: dotnet --version
Then receive the error:  "Unhandled exception. System.DllNotFoundException: Unable to load shared library 'System.Native' or one of its dependencies.". Can you help me, please?

[2021-10-02 09:55] Nefarion opened #6833 "Types derived from MarshalByRefObject need a workaround to work when compiled for x64 runtimes"
# The Problem:
A call to a class derived from `MarshalByRefObject`, created with `AppDomain.CreateInstanceFromAndUnwrap()` threw a `FileNotFoundException` because it tried to load the referenced Assemblies in the original, not the newly created `AppDomain`.

# This was my situation:
I have a type derived from `MarshalByRefObject`, that has simple Log methods on it. (references Serilog.dll)
[code]

[2021-10-03 04:23] mann3ify opened #6760 "Doesn't have Program.cs file"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

I can't find the necessary code to write "Hello World!" on the myApp folder.

[2021-10-03 13:11] mcDandy opened #6761 "Cannot open DDS file created by gimp"
### Description
I discovered that .net should be able to open dds files. I tested it with file I created and I cannot open the file.

steps to reproduce
1 unzip the file
2 create project and paste code snippet into it (and add usings)
3 run program and open unzipped file
4 messange box from catch should appear

### Configuration
. net version 6.0.100-rc.1.21463.6 (also tested .net 5.0.0 runtime wi

[2021-10-03 20:49] mario-galindo commented on #6595
This save my life, thanks!

[2021-10-04 04:53] maverickwoo commented on #6723
I run into the same problem also on Ubuntu 20.04. It seems there may be some packaging problem with the snap of dotnet-sdk 5.0.401 (140). This is a show-stopper.

1. [Major] The permission of `/snap/dotnet-sdk/140/snap/` is `700` on my test VM. This explains why rev 140 regresses to require sudo. (I have checked that the corresponding permission is `755` in 5.0.202 (120)).
2. [Minor] Why is there

[2021-10-04 04:59] maverickwoo commented on #6723
This and https://github.com/dotnet/core/issues/4446 seem related. Cross-linking.

[2021-10-04 08:06] tmds commented on #6665
@Ghyath-Serhal great that you found a solution.

The issue is fixed in .NET 6 by https://github.com/dotnet/runtime/pull/55664.

[2021-10-04 15:54] CarnaViire commented on #6760
What commands did you execute and in what order?
Where and how do you look for Program.cs file?

[2021-10-04 16:34] CarnaViire commented on #6756
That's right, [Math.Round(double)](https://docs.microsoft.com/en-us/dotnet/api/system.math.round?view=net-5.0#System_Math_Round_System_Double_) and similar APIs use [MidpointRounding.ToEven](https://docs.microsoft.com/en-us/dotnet/api/system.midpointrounding?view=net-5.0#System_MidpointRounding_ToEven) by default. You can use an overload to specify another value of MidpointRounding if required.
Cl

[2021-10-04 16:34] #6756 closed

[2021-10-04 16:41] CarnaViire commented on #6757
@Redth this seems to be a MAUI issue. Could you please help me transfer it to [dotnet/maui](https://github.com/dotnet/maui) repo?

[2021-10-04 19:43] mairaw commented on #6760
But have you found the myApp folder? Which files are inside that folder? Program.cs should be one of them.

[2021-10-04 19:45] mairaw commented on #6665
It seems that a solution was found and a fix is coming, so closing the issue. Let me know if I missed anything.

[2021-10-04 19:45] #6665 closed

[2021-10-04 19:56] mairaw commented on #6723
@leecow can you look at this?

[2021-10-04 23:09] #6744 closed

[2021-10-04 23:23] juwens commented on #6411
I guess that is the glorious future, every small tool takes up 150+MB for users to Download and install.
The insane thing about this is, that parallel installations of different .Net version (3, 5, 6, 7) would be super easy for MS via Windows Update.
Or the alternative, MSIX packages/appxmanifest (which is encouraged a lot by MS) can specify dependencies, so you could create a framework dependent

[2021-10-04 23:34] juwens commented on #6411
@terrajobst this is very disappointing.
As a SW company, I need to explain to every customer, please install .Net, if you don’t want one or more 200MB LOB apps. Small Helper or Admin or CLI  tool 200MB. Which would be 5MB or less in classic  .Net Framework.
Either my app is self contained and will get no security updates for the framework from the OS.
Or I need to explain and discuss with every cu

[2021-10-04 23:43] terrajobst commented on #6411
If you're building an enterprise app, the expectation is that you don't go self-contained but rather let your IT department roll out machine-wide .NET installations. In contrast to .NET Framework, these are fully side-by-side so you can have as many versions as you need to support your set of applications.

Self-contained is the preferred case for ISVs (such as TurboTax or Visual Studio). We know

[2021-10-05 00:30] juwens commented on #6411
Thanks a lot for the answer and the invitation.
I will let your answer sink in and write to you later.

In generell, we are creating an App wich provides “self service” Installation of packaged company LOB apps/msix packages, installed with user rights, no elevated privileges. Roughly similar to an enterprise MS Store, but much! simpler and with customer specific features.
Also similar to the Visu

[2021-10-05 01:50] mairaw commented on #6759
Duplicate of #6630

[2021-10-05 01:50] #6759 closed

[2021-10-05 01:51] mairaw commented on #6630
@leecow who can help with this macOS issue? Another user just reported the same problem 3 days ago.

[2021-10-05 01:52] mairaw commented on #6630
@macakmujo @LeMinhNam what version of macOS are you running?

[2021-10-05 01:59] mairaw commented on #6737
Tagging @adegeo to see what he thinks.

[2021-10-05 08:35] macakmujo commented on #6630
My Mac in from 2017 out of support I am not at home at the moment

Sent from my iPhone

[2021-10-05 14:03] vinothannavul opened #6764 "v0n00ne@m-c02f606jml87 ~ % dotnet zsh: command not found: dotnet"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-10-05 14:04] vinothannavul commented on #6764
v0n00ne@m-c02f606jml87 ~ % dotnet
zsh: command not found: dotnet

[2021-10-05 15:06] CarnaViire commented on #6764
Hi @vinothannavul! Did you install the SDK? If so, did you open a new command prompt after the installation?

[2021-10-05 15:45] mohdali commented on #333
Hi, is there an update on this? I'm looking for a similar scenario.

[2021-10-05 17:24] #6746 closed

[2021-10-05 17:24] #6747 closed

[2021-10-05 17:24] #6748 closed

[2021-10-05 18:26] Gurzuf76 opened #6765 "Blazor"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/create
Operating System: windows 10

After entering command "dotnet new blazorserver -o BlazorApp --no-https" to install Blazor I got following error message:
No templates matched the input template name: blazorserver.

[2021-10-05 18:40] CarnaViire commented on #6765
Hi @Gurzuf76!
Could you please execute
`dotnet --info`
and copy the output?
And also the output of
`dotnet new --list`

[2021-10-05 19:06] Gurzuf76 commented on #6765
Hi Natalia, thank you for your quick response! I’m using Github the  first time and not sure if this is a right way to response to an GitHub email.

C:\Program Files (x86)\Microsoft Visual Studio\2017\Community>dotnet

Usage: dotnet [options]
Usage: dotnet [path-to-application]

Options:
  -h|--help         Display help.
  --info            Display .NET Core information.
  --list-sdks       Displa

[2021-10-05 20:02] fiversen-1234 opened #6766 "dotnet run of simple 'hello world' runs into error - first try"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/edit
Operating System: linux

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Run the simple  'hello world' program runs into:
dotnet run
/home/shell/wedding/dotnet/sdk/5.0.401/Roslyn/Microsoft.CSh

[2021-10-05 22:13] mairaw commented on #6765
This is the right way @Gurzuf76 but we need the output of running `dotnet --info` and `dotnet new --list`. Can you send that?

[2021-10-05 22:16] Arcalise08 opened #6767 "Docker Compose V2 Compatibility"
Forgive me if this isnt the right place to report this. But I'm not exactly sure where it should be reported. Recently docker-desktop has pushed Docker-Compose V2 as the default version. It appears any dotnet 6 project will not debug with V2 on. Upon turning compose back to V1 everything works normally once again.

Is this expected or is there another option for fixing this.

[2021-10-05 22:46] adegeo commented on #6737
The matrix information is pretty much already in the docs, it's the standard install articles:

https://docs.microsoft.com/en-us/dotnet/core/install/linux
https://docs.microsoft.com/en-us/dotnet/core/install/windows?tabs=net50
https://docs.microsoft.com/en-us/dotnet/core/install/macos

[2021-10-05 23:06] Gurzuf76 commented on #6765
C:\Program Files (x86)\Microsoft Visual Studio\2017\Community>dotnet --info
.NET Core SDK (reflecting any global.json):
 Version:   2.2.109
 Commit:    586f23c400

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.19042
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.2.109\

Host (useful for support):
  Version: 2.2.7
  Commit:  b1e29ae826

.NE

[2021-10-06 01:27] #6729 closed

[2021-10-06 01:27] #6732 closed

[2021-10-06 01:27] #6750 closed

[2021-10-06 04:19] mairaw commented on #6765
In order for the tutorial to work, you need to install the SDK that we show there (.NET 5). The one you have installed (.NET Core 2.1) doesn’t contain the templates for Blazor.

[2021-10-06 04:19] #6765 closed

[2021-10-06 06:21] JurjenBiewenga commented on #6733
I managed to reproduce the issue, sending you an email with the trace logs. Where do I check for  `System.Private.CoreLib.dll` on osx?

[2021-10-06 07:26] macakmujo commented on #6630
MAC OS SIERRA
10.12.6

On Tue, Oct 5, 2021 at 11:21 PM Maira Wenzel ***@***.***>
wrote:

[2021-10-06 09:53] fiversen-1234 commented on #6766
wedding@kudu:~$ dotnet --info
.NET SDK (reflecting any global.json):
 Version:   5.0.401
 Commit:    4bef5f3dbf

Runtime Environment:
 OS Name:     debian
 OS Version:  9
 OS Platform: Linux
 RID:         debian.9-x64
 Base Path:   /home/shell/wedding/dotnet/sdk/5.0.401/

Host (useful for support):
  Version: 5.0.10
  Commit:  e1825b4928

.NET SDKs installed:
  5.0.401 [/home/shell/wedding/dotnet/

[2021-10-06 10:08] fiversen-1234 commented on #6766
this works.
thanks a lot.
..
frank i.

[2021-10-06 10:45] vitek-karas commented on #6766
I'm just curious: So `dotnet build` and running the app directly works, but `dotnet run` fails (repeatedly)?

[2021-10-06 11:06] fiversen-1234 commented on #6766
You are right - it runs one time.
Now I have the situation as before.

I start again:
dotnet new console --output sample1

...
wedding@kudu:~/sample1$ dotnet build
Microsoft (R) Build Engine version 16.11.0+0538acc04 for .NET
Copyright (C) Microsoft Corporation. All rights reserved.

  Determining projects to restore...
  All projects are up-to-date for restore.
/home/shell/wedding/dotnet/sdk/5.0.

[2021-10-06 12:24] fiversen-1234 commented on #6766
Build 'hello world' on my local linux - it works.
Then I copy it to the server.
The program runs.

On the server - I want to rebuild it.

Then I got a lot of errors:
wedding@kudu:~/websites/public_html/myApp$ dotnet build
Microsoft (R) Build Engine version 16.11.0+0538acc04 for .NET
Copyright (C) Microsoft Corporation. All rights reserved.

Unhandled exception. Microsoft.Build.Shared.InternalError

[2021-10-06 12:33] vitek-karas commented on #6766
To me this looks like some OS limits on the server. I'm no Linux expert, maybe @janvorli would know something more.
I assume this is not running in container, right?

[2021-10-06 16:28] khush161996 opened #6770 "how to open Pages/Index.cshtml"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/modify
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-10-06 17:41] Akanshasingh09 opened #6771 "~$ : The term '~$' is not recognized as the name of a cmdlet,"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
~$ : The term '~$' is not recognized as the name of a cmdlet,
function, script file, or operable program. Check the

[2021-10-06 17:44] mairaw commented on #6771
You should only type `dotnet` without ~$

Let us know if this helps.

[2021-10-06 17:45] Akanshasingh09 commented on #6771
dotnet : The term 'dotnet' is not recognized as the name of a cmdlet,
function, script file, or operable program. Check the spelling of the
name, or if a path was included, verify that the path is correct and
try again.
At line:1 char:1
+ dotnet
+ ~~~~~~
    + CategoryInfo          : ObjectNotFound: (dotnet:String) [], Comm
   andNotFoundException
    + FullyQualifiedErrorId : CommandNotFoundExcep

[2021-10-06 17:49] Akanshasingh09 commented on #6771
help me I'm not able to install dotnet

[2021-10-06 20:39] mohamedibrahim007 opened #6772 "not reloading"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/modify
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
i try to run the dot net run command but the edited code would not appear on the browser but the original one will

[2021-10-07 04:26] bairog opened #6773 ".NET 6 GA development on Windows 7 SP1 with ESU developer PCs"
Hello.
For today developers [can build and debug](https://github.com/dotnet/core/issues/5567#issuecomment-919752024) **.NET 6.0-rc1** applications (at least console, WinForms and WPF) with Visual Studio 2019.
Hope Microsoft will leave this option unchanged also for .NET 6.0 GA.
But nevertheless the main (the only?) development tool for .NET 6.0 GA Microsoft supposes to be Visual Studio 2022.
Accor

[2021-10-07 13:59] asfa846 opened #6774 "cant creat app"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
 already download and install .net sdk, but this what shown in command prompt,
 "Could not execute because the appli

[2021-10-07 19:17] bairog commented on #6773
I've already reported at https://developercommunity.visualstudio.com/t/Visual-Studio-2022:-suppot-for-Windows-S/1540175 . Almost 2 weeks woth no even a comment there. Just supposed a chance to have a feedback here (maybe some of VS Team Staff can read this issue and provide some comments)..

[2021-10-07 23:27] patlevin commented on #6069
I have have the same problem as @teo-tsirpanis - WU keeps installing .NET Core 2.1 and 3.1.
None of those SDKs are installed with Visual Studio (v16.11.4).

[2021-10-08 00:54] danroth27 commented on #6772
I agree that the first thing to check is that the code file changes were actually saved.

Note also that if you run your app using `dotnet watch` instead of `dotnet run` your app should rebuild and restart automatically as you save changes and the automatically refresh in the browser.

[2021-10-08 04:11] #6773 closed

[2021-10-08 13:19] layomia commented on #6570
For additional info on the motivation and mitigation for the JSON src-gen changes, see the breaking change doc - https://docs.microsoft.com/en-us/dotnet/core/compatibility/serialization/6.0/json-source-gen-api-refactor?branch=pr-en-us-26222 and original issue https://github.com/dotnet/docs/issues/26200.

[2021-10-08 16:04] dagood commented on #5860
Not as far as I know (unfortunately). In my experience, the team that maintains packages.microsoft.com defers a **lot** of responsibility onto the individual product teams that push packages into it. However, I don't work in this area anymore--the best way to get your issue routed correctly is to file a new issue. The team wasn't able to repro the original issue in this thread (even though I was a

[2021-10-09 00:48] JakeTheDev0000 opened #6777 "dotnet new console"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

When I type 'dotnet new console' it says:
'
  It was not possible to find any installed .NET Core SDKs
  Did you mean to run .NET Core SDK commands? Install a .NET Core SDK from:
      https://aka.ms/dotnet-download
'
and I already have the .NET Core SDK installed

[2021-10-09 01:18] mairaw commented on #6777
This might be the same problem as issue #5962

Check the output of `where.exe dotnet` and if your system is x64 and the x86 path returns first, please follow the steps highlighted on that issue to fix the problem.

Let us know if that helps.

[2021-10-09 05:17] necoc-yaotl commented on #4202
The most likely reason is conformance with [NIST SP 800-38D](https://nvlpubs.nist.gov/nistpubs/Legacy/SP/nistspecialpublication800-38d.pdf), section 5.2.1.1:

promote interoperability, efficiency, and simplicity of design.

[2021-10-09 11:20] Dhyan1001 opened #6778 ".NET issue"

[2021-10-09 11:27] #6778 closed, assigned to nobody

[2021-10-09 13:01] rodriguezarmando445 opened #6779 "I ran into an issue"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: linux

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-10-10 17:39] rahul2696 opened #6780 "'dotnet' is not recognized as an internal or external command, operable program or batch file."
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

'dotnet' is not recognized as an internal or external command,
operable program or batch file.

[2021-10-11 12:27] CarnaViire commented on #6780
Hi @rahul2696! Have you installed .NET SDK beforehand? If so, have you opened a new command prompt afterwards?

[2021-10-11 12:39] CarnaViire commented on #4178
cc @gomathip02 @vatsan-madhavan @Pilchie

[2021-10-11 18:49] WaqasRazaJafri opened #6784 "'net5.0' is not a valid value for -f (Framework)."
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/create
Operating System: windows

error received:

'net5.0' is not a valid value for -f (Framework).

[2021-10-11 19:04] nodachi67 opened #6785 "need help plus im new"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/intro
Operating System: windows

i got the dotnet is not recognized as an internal or external command error on visual studio code and need help fixing it

[2021-10-11 20:05] mairaw commented on #6785
And how about on command prompt? do you get the same error message? Did the SDK install successfully?

[2021-10-11 20:06] mairaw commented on #6784
What SDK do you have installed? Can you show the output of `dotnet --info`?

[2021-10-11 21:42] Devrdz0625 opened #6786 "dotnet"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample,
Could not execute because the application was not found or a compatible .NET SDK is not installed.
Possible reasons for this include:
  * You intended

[2021-10-11 22:02] #6768 closed, assigned to rbhanda

[2021-10-11 22:25] Devrdz0625 commented on #6786
Necesito mas ayuda, no entiendo mucho respecto a ese problema

[2021-10-11 22:49] Devrdz0625 commented on #6786
@mairaw

[2021-10-11 22:51] mairaw commented on #6786
Puedes teclear `where dotnet` y pegar la salida de ese comando?

[2021-10-12 00:07] mairaw commented on #6658
Did you open a new command prompt after installing the SDK? Can you paste the output of `dotnet --info` and `where.exe dotnet`?

[2021-10-12 05:01] NTS7560 opened #6789 "Can't add component"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/add
Operating System: windows

I added the component in Index.razor file also refreshed the browser but it didn't make any change.

[2021-10-12 05:58] WaqasRazaJafri commented on #6784
@mairaw

.NET Core SDK (reflecting any global.json):
 Version:   3.1.407
 Commit:    d3244d0e44

Thank you

[2021-10-12 08:48] ST-dev28 opened #6790 "Error"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

I got error: Failed to spawn 'dotnet --info'

[2021-10-12 16:13] kelxshady opened #6792 "dotnet"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-10-12 16:36] kalaskarsanket opened #6794 ".NET October 2021 Update - .NET 5.0.11 and .NET Core 3.1.20"
Release Notes
[5.0.11](https://github.com/dotnet/core/blob/main/release-notes/5.0/5.0.11/5.0.11.md)
[3.1.20](https://github.com/dotnet/core/blob/main/release-notes/3.1/3.1.20/3.1.20.md)

Please report any issues you find either by responding to this issue, creating a new issue or creating a new issue in one of the following repos:

* [dotnet/aspnetcore](https://github.com/dotnet/aspnetcore/issues)

[2021-10-12 16:39] kalaskarsanket opened #6795 ".NET 6 RC2"
[Release Notes](https://github.com/dotnet/core/blob/main/release-notes/6.0/preview/6.0.0-rc.2.md)

Please report any issues you find with .NET 6, either responding to this issue, creating a new issue or creating a new issue in one of the following repos:

* [dotnet/aspnetcore](https://github.com/dotnet/aspnetcore/issues) - for ASP.NET Core questions
* [dotnet/efcore](https://github.com/dotnet/efco

[2021-10-12 17:17] #6688 closed

[2021-10-12 17:18] rbhanda commented on #6687
closing in favor of https://github.com/dotnet/core/issues/6794

[2021-10-12 17:18] #6687 closed

[2021-10-12 18:19] JoHenri opened #6799 "Problem getting dotnet to run"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
Running Win10 on Dell Precision 3530 laptop.  Installed .Net 4.8 and it said setup was successful.  But when I type

[2021-10-12 20:07] #6792 closed, assigned to nobody

[2021-10-12 20:12] #6799 closed, assigned to nobody

[2021-10-12 22:02] mairaw commented on #6786
El resultado parece indicar que el SDK no se ha instalado.
¿Puede asegurarse de tener instalado el SDK? El botón de descarga se muestra en la página de instalación https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/install

[2021-10-12 22:20] mairaw commented on #6799
Are you trying to follow the tutorial and learn how to code, or are you trying to install .NET Framework 4.8?

[2021-10-12 23:25] Devrdz0625 commented on #6786
@mairaw Ya me dejo utilizarlo, encerio muchas gracias!!!

[2021-10-13 05:19] moled123cfd opened #6802 "falla tecnica"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-10-13 07:24] ianjoneill commented on #6628
I take it this ticket indicates why my Windows 11 machine didn't get a .NET Core update via Windows Update yesterday (2021-10-12), but my Windows 10 machine did when manually checking for updates?

[2021-10-13 07:40] murbanowicz commented on #6795
Snap is still broken on Fedora:
[code]

[2021-10-13 10:51] asinyagin commented on #4446
I have got the same issue with `latest/stable` `5.0.402`. Thanks to @nikonthethird for the workaround!

[2021-10-13 12:03] JoHenri commented on #6799
The first page I went to said it recommended 4.8 so that's what I
downloaded and installed.  Then I went to the tutorial.  I did not realize
that the tutorial required 5.0.  I have written lots of C code.  I'd like
to learn C# but cannot acquire Visual Studio so wanted to try through
.NET.

On Tue, Oct 12, 2021 at 6:20 PM Maira Wenzel ***@***.***>
wrote:

[2021-10-13 18:05] #6770 closed

[2021-10-13 18:18] chuanqisun commented on #4446
Had same issue. Switching to `latest/edge` works.

Diagnostics
[code]

Just want to point out, the `latest/edge` channel (5.0.202) is actually older than `latest/stable` (5.0.402), so this is a regression, and there is a high risk that the workaround will stop working as soon as `latest/edge` channel gets a version bump. It would be nice if @nikonthethird could re-open this issue so the dotnet tea

[2021-10-13 18:38] mairaw commented on #6790
Unfortunately email replies don't let you add attachments to the issue. Can you share via GitHub UI?

[2021-10-14 11:44] geokal opened #6803 "Unable to resolve 'Swashbuckle.AspNetCore (>= 5.6.3)' for 'net5.0'"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/run
Operating System: windows
net 5.0 SDK installed version:

`$ dotnet --info
.NET SDK (reflecting any global.json):
 Version:   5.0.402
 Commit:    e9d3381880

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.19043
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet

[2021-10-14 13:39] whistlerek commented on #6795
After upgrading from .Net 5 to .Net 6 RC2, Windows authentication no longer works. I also tried created new project from template (ASP.NET Core Web App) with Windows Authentication, this doesn't work when launched it shows “Hello, !”. When do the same with .Net 5 it starts with “Hello, MyDomain\Marcin!”

[2021-10-14 14:53] steveharter commented on #6803
See also https://github.com/dotnet/core/issues/6193#issuecomment-827395026 for cases where the nuget package sources may not be defined.

[2021-10-14 18:20] #6774 closed

[2021-10-14 19:05] rougemeilland opened #6805 "Disk files larger than 4GB may not be read properly"
### Description

1.  Open the disk file for writing using ``System.IO.FileStream``.
1.  Seek at a position ``0x100000000 ( == 1L << 32)`` or more from the beginning of the file.
1.  Write the data.
1.  Close the disk file.
1.  Open the disk file for reading  using ``System.IO.FileStream``.
1.  Seek in the same position as 2.
1. Read data of the same size as the data written in 3.

+ Expected resul

[2021-10-14 19:18] #6803 closed

[2021-10-14 21:32] mairaw commented on #6772
Let us know if any of this helped @mohamedibrahim007!

[2021-10-14 23:07] mairaw commented on #4757
Tagging @dleeapho

[2021-10-15 07:12] Flash27 opened #6807 "'dotnet' is not recognized as an internal or external command error"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-10-15 12:29] alirezanet opened #6808 "suggesting to remove (CS8514 An expression tree may not contain a switch expression.) limitation."
Hello, (this is a suggestion, not a bug report)

I suggest consider supporting switch statements in the expression body in C#.
for example, this code is valid:
[code]
but this is not valid:
[code]
Error: `CS8514 An expression tree may not contain a switch expression.

In a lot of libraries, we use expressions and it could be really useful if we could use switch statements instead of conditional op

[2021-10-15 18:47] #6771 closed

[2021-10-16 01:57] #6777 closed

[2021-10-16 13:33] L00pZBreak3r commented on #6733
Is it possible to debug the CoreCLR initialization process? Maybe it would show something helpful.
The last lines in my host.txt are:

Property FX_DEPS_FILE = C:\Program Files\dotnet\shared\Microsoft.NETCore.App\7.0.0-alpha.1.21480.1\Microsoft.NETCore.App.deps.json
Property TRUSTED_PLATFORM_ASSEMBLIES = C:\Program Files\dotnet\shared\Microsoft.NETCore.App\7.0.0-alpha.1.21480.1\System.IO.UnmanagedM

[2021-10-17 00:43] The-Malik-of-Codes opened #6810 "A little issue pls kindly help"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
![Screenshot 2021-10-17 014307](https://user-images.githubusercontent.com/78323874/137605696-3f5cef6f-5b5a-4956-928

[2021-10-17 15:33] ewan86 opened #6811 "Segmentation fault"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/create
Operating System: linux

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Pop OS 21.04, .net installed using snap packages.

Running dotnet new blazorserver -o BlazorApp --no-https

gives the erro

[2021-10-18 05:02] adibfarrasy opened #6812 "Program doesn't output 'Hello World!' in terminal after sending the command 'dotnet run'"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: linux

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-10-18 05:06] #6812 closed

[2021-10-18 12:49] L00pZBreak3r commented on #6733
Obviously something in my Windows prevents CoreCLR from working properly. Unfortunately, I have no idea how to detect _that something_ .

[2021-10-18 13:13] #6780 closed

[2021-10-18 19:41] MarvM3 opened #6817 "Build error on '@model IndexModel' statement"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/modify
Operating System: windows

In index.cshtml, the '@model IndexModel' statement causes the following build error:

Building...
c:\Users\ichin\source\repos\myWebApp\obj\Debug\net5.0\Razor\index.cshtml.g.cs(49,71): error CS0246: The type or namespace name 'IndexModel' could not be found (are you missing a usin

[2021-10-18 20:06] MarvM3 commented on #6817
Greetings,

I figured out what I did wrong. For the tutorial, I created my own index.cshtml file rather than using the one already created inititally within the project.

It works great!

Thank You and sorry to bother you...

[2021-10-18 20:17] #6784 closed, assigned to nobody

[2021-10-18 20:17] #6785 closed, assigned to nobody

[2021-10-18 21:02] #6817 closed

[2021-10-19 00:18] #6658 closed

[2021-10-19 07:02] rrgsindore opened #6821 "Build Failed"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-10-19 07:14] MarcoGriep88 commented on #6811
Same issue trying to create new maui project on manjaro

Opting out telemetry did not work for me: https://github.com/dotnet/runtime/issues/17443#issuecomment-299793545
Guess my issue could be rolling release of openssl library: OpenSSL 1.1.1l

[2021-10-19 22:42] #6790 closed, assigned to nobody

[2021-10-19 23:44] #6789 closed

[2021-10-20 03:51] bairog commented on #6773
@timheuer  Sorry for bother you once more but there is still no any reaction from VS team at https://developercommunity.visualstudio.com/t/Visual-Studio-2022:-suppot-for-Windows-S/1540175 .
Another 5 business days have passed but that topic is completely ignored by VS team members. Very disappointing.
Could you please give me a some VS team member contact so that I will be able to write him direct

[2021-10-20 12:33] selcukoxtrk57 opened #6826 "ASP.NET.core"
using tanımlanmadı hatası veriyor

[2021-10-20 14:19] #6826 closed

[2021-10-20 17:40] steveharter commented on #6662
Closing as duplicate.

[2021-10-20 17:41] steveharter commented on #6657
Closing as no information.

[2021-10-20 17:41] #6511 closed

[2021-10-21 02:07] hunggo opened #6827 "lỗi khi chạy chương trình lần đầu"
hệ điêu hành win 10, đã cài visual studio code, dotnet 5.0.402. khi tôi chạy chương trình thì hệ thống báo lỗi "'scriptcs' is not recognized as an internal or external command, operable program or batch file." tôi không biết phải khắc phục và làm cách nào để xử lý

[2021-10-21 12:15] tmds opened #6830 "wget gives certificate error for dotnet.microsoft.com"
On Fedora 34:

[code]

cc @leecow

[2021-10-21 19:21] steveharter commented on #6676
@eduardarn did the stackoverflow link help?

[2021-10-21 19:31] steveharter commented on #6668
Closing as duplicate of https://github.com/dotnet/diagnostics/issues/1059

[2021-10-21 19:34] westernsquad opened #6831 "no SDKs were found"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-10-21 19:40] Arcalise08 commented on #6767
Ahh also it seems this is already been reported and being worked on. If youre seeing this issue heres the response from them.

https://github.com/microsoft/DockerTools/issues/310

[2021-10-21 20:07] steveharter commented on #6407
Should this be closed?

[2021-10-21 20:18] steveharter commented on #6721
From this is appears you are trying to create a new project in a directory where there already a project. Try creating a new directory and from that run `dotnet new console -o myApp`.

Please re-open if this doesn't address the issue.

[2021-10-21 20:18] #6721 closed

[2021-10-21 20:30] steveharter commented on #6831
Was the SDK installed? The tutorial has links to install either 32- or 64-bit.

[2021-10-21 20:35] steveharter commented on #6772
Closing; please re-open if the issue still exists after ensuring the changes were saved. Thanks.

[2021-10-21 20:35] #6772 closed, assigned to nobody

[2021-10-21 20:37] #6810 closed, assigned to nobody

[2021-10-21 20:50] rgphys opened #6832 "Unable to Find MDK"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Every time I run the dotnet command, it throws me an error saying that it's unable to find a MDK, however if I open the directory the MDK is installed in, type in CMD from there(doesn't work if I navigate to it through the CD command), it works correctly.

[2021-10-21 20:51] CrazeXD commented on #6832
![image](https://user-images.githubusercontent.com/90533906/138354777-bed8f63d-7163-4af3-bbb1-9d7d7e92c658.png)

[2021-10-21 20:57] steveharter commented on #6832
Can you try `dotnet --list-sdks`? If no SDKs are reported back, the SDK wasn't installed successfully.

Also try opening a new command prompt to ensure the PATH environment variable is properly set.

[2021-10-21 23:01] CrazeXD commented on #6832
I got it to work, here were the steps I took.
I completely uninstalled the SDK instead of just clicking repair I guess I'm stupid i dont know why I didn't do it before. I reinstalled and now it is able to find the SDK.
However now, when I run `dotnet build` it say's it cant find any projects, even though I am in the directory. I tried it with the --project as well, then it just throws
![image](htt

[2021-10-21 23:11] #6832 closed, assigned to nobody

[2021-10-21 23:15] mairaw commented on #6830
We had a similar thread before where we couldn't determine why dot.net wasn't working. @ChrisSfanos helped with this before for the dot.net redirection service.

Do you also have issues if you use the dotnet.microsoft.com URL?

[2021-10-21 23:24] mairaw commented on #6830
Tagging @terrimorton as well

[2021-10-22 00:06] ChrisSfanos commented on #6830
So we just did an ECR and rotated the certificates.  Do we have a mismatch somewhere?  Is the older cert still in use on FrontDoor?

[2021-10-22 01:24] dagood commented on #6830
Here's what I get:

[code]

[2021-10-22 03:20] ChrisSfanos commented on #6830
Thanks - I checked and that certificate is the latest one (rotated into place on 10/7).

When I visit dotnet.microsoft.com in the browser, that is also the certificate I get the full path is valid.  So I admit I'm not sure what is going on in this case yet

[2021-10-22 15:14] #6833 closed, assigned to nobody

[2021-10-22 19:32] #6807 closed, assigned to nobody

[2021-10-23 00:47] SylvainLebel opened #6835 "Error when trying to run myWebApp"
Problem encountered when exec dotnet watch run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

C:\Users\059674CA8\.DotNetDev\myWebApp>dotnet watch run
watch : Started
Génération...
C:\Users\059674CA8\.DotNetDev\myWebApp\Pages\Error.cshtml.cs(14,18): error

[2021-10-23 10:10] dawido98 opened #6836 "dotnet error"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

I try to create new console or whatever and i write dotnet new console but theres an error saying "It was not possi

[2021-10-23 13:25] kandyajith opened #6837 "-bash: dotnet: command not found"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

I still get
-bash: dotnet: command not found

[2021-10-23 21:01] ZEO12 opened #6838 "the command following not working for me dotnet new console -o myApp the app don t want to run"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-10-25 12:49] MalikAzhar opened #6841 "Hi team"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-10-25 13:16] nagilum opened #6842 "Package 404 and signature error while installing dotnet-sdk-5.0 and aspnetcore-runtime-5.0"
### Description

Trying to install .NET 5 SDK on Ubuntu 16.04 using the guide found here: https://docs.microsoft.com/en-us/dotnet/core/install/linux-ubuntu#1604-

Running the first set of commands to update the packages goes fine. Everything installs ok. I'm also able to install the `dotnet-runtime-5.0`, but not the `aspnetcore-runtime-5.0` or the `dotnet-sdk-5.0`.

When I run the following comman

[2021-10-26 01:32] #6841 closed, assigned to nobody

[2021-10-26 07:17] #6842 closed, assigned to nobody

[2021-10-26 07:28] Jayakumar09 opened #6843 "donet:myapp create new directory"
Problem encountered on dotnet while create a new directory on windows 10 .
C:\Windows\System32>dotnet new console -o myApp. This command output is:
**Template "Console Application" could not be created.
Access to the path 'C:\Windows\System32\myApp' is denied.**

[2021-10-26 16:30] #6843 closed, assigned to nobody

[2021-10-26 19:19] K0NSTANT1N3 opened #6844 "dotnet is not installing"
###  Hello

Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: linux

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

My wish is to use **_VS Code_** as **_C#_** editor for Unity. For this I need to install **_dotnet_**  p

[2021-10-27 09:21] S3BSama opened #6846 "hcsshim::PrepareLayer - failed failed in Win32: Incorrect function. (0x1)"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/docker-image#
Operating System: windows

Hello,

I was follwing the tutorial ".NET Tutorial - Your First Microservice" and at the step "Create Docker image"
face this error :  **hcsshim::PrepareLayer - failed failed in Win32: Incorrect function. (0x1)**

`C:\Users\****\MyMicroservice>docker build -t mymicroservi

[2021-10-28 11:37] Debysonbg opened #6848 "hostfxr.dll could not be loaded"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows
Failed to load the dll from [C:\Program Files (x86)\dotnet\host\fxr\5.0.11\hostfxr.dll], HRESULT: 0x800700C1
The library hostfxr.dll was found, but loading it from C:\Program Files (x86)\dotnet\host\fxr\5.0.11\hostfxr.dll failed
  - Installing .NET prerequisites might help resolv

[2021-10-28 17:43] Madazahatter666 opened #6849 "when i run the first Command it says in red creating this template will make changes to existing files"
when i run dotnet new console -o myApp ir pops up in red and says :                  Creating this template will make changes to existing files:                                   Overwrite ./myApp.csproj
Overwrite   ./Program.cs
Rerun the command and pass --force to accept and create

I have no idea what any of that means also what I'm trying to do is get  .NET working so i can use my ps4 controll

[2021-10-28 21:03] #6831 closed, assigned to nobody

[2021-10-29 14:35] FrancescoT98 opened #6851 "I get an "error with code 1""
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/run
Operating System: windows

I was just following the instructions and then, when it was supposed to finish the app, i get this message:

"watch : Exited with error code 1
watch : Waiting for a file to change before restarting dotnet..."

Over this message, there's another one that tells me that compilation could no

[2021-10-29 18:00] yea-80y commented on #6794
Hi, Im trying to install .Net but have been getting the following error message. The step by step has pointed me here to share:

Err:1 http://deb.debian.org/debian-security buster/updates/main arm64 apt-transport-https all 1.8.2.1
  404  Not Found [IP: 199.232.174.132 80]
E: Failed to fetch http://deb.debian.org/debian-security/pool/updates/main/a/apt/apt-transport-https_1.8.2.1_all.deb  404  Not

[2021-10-29 18:55] vitek-karas commented on #6848
What program are you trying to run?

The URL points to trying to run `dotnet --info` - is that the command which is failing for you?

[2021-10-29 19:39] mairaw commented on #6849
Can you paste a screenshot of the pop up you're getting as well?

[2021-10-29 20:49] leecow commented on #4446
It appears this permissions issue related to the automatic `dotnet` alias registered with the Snap. I look further into that with the Snapcraft folks. In the meantime, I have been able to work around this on 18.04, 20.04 (21.04 is segfaulting so something additional is happening there), Fedora 33 and OpenSUSE by sym linking the current Snap install dotnet with `sudo ln -s /snap/dotnet-sdk/current/

[2021-10-30 00:11] soft1197 opened #6852 "im having using the free checking printing"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

'dotnet' is not recognized as an internal or external command,
operable program or batch file. on window 7,  <  do

[2021-10-30 08:22] zezba9000 commented on #4446
Flatpak is a much better system as MS can host the repository while Snap you can't.
If Snap keeps breaking... might consider that. Flatpak was also better setup for permission issues I believe.

[2021-10-30 09:45] Sweta7 opened #6853 "dyld: lazy symbol binding failed: Symbol not found: ____chkstk_darwin Referenced from: /usr/local/share/dotnet/dotnet (which was built for Mac OS X 10.15) Expected in: /usr/lib/libSystem.B.dylib"
The problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: macos version 10.13.6

I have recently installed .net5 and trying to write a HelloWorld program. But when I run the program it's throwing me below error message. When I run a similar HelloWorld program on .Net4, runs without any error.

error message - dyld: lazy symbol binding failed: S

[2021-10-30 13:09] sharpninja opened #6854 "Unclear what should happen. Changing a property of an object in a collection doesn't change equality of comparing parent records."
### Description

While doing some edge case research on records, I found an inconsistent behavior with the Equals method.

Scenario:

A record contains a collection of data.  If any values inside the collection change, there is no effect on the Equals comparison of two instances of the record.

[code]

In this case I would expect output to be

[code]

Actual output is

[code]

### Configuration

.

[2021-10-30 15:38] 0xStuart commented on #2778
Please please reopen this.  RISC-V is going to be everywhere.

Look at this https://twitter.com/SipeedIO/status/1443486484112183298?s=20

[2021-10-30 17:20] svick commented on #6854
This is behaving exactly as it should, for several reasons:

1. The `with` operator creates a shallow copy of the record. This means the two records in the example *share* the same instance of `List<ClassNode>` and so any modification to the list of `record2` is reflected in the list of `record1`. (Because it's the same list). One way to see that is by printing `record1.Children[0].I`.
2. The auto

[2021-10-31 04:39] thanhanhhao06 opened #6855 "How to fix dotnet"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-10-31 11:56] ghuntley commented on #505
Back in 2014, .NET was open-sourced. It’s now 2021, this issue was opened in 2017. Last week the .NET SDK had code ripped out of it by a CVP to sell more Visual Studio licenses.

It's time to increase the heat and awareness of this GitHub issue - the singular thing that stands in the way of .NET completing its transition to an open programming language.

Introducing https://isdotnetopen.com/

[2021-10-31 12:07] diliboy88 opened #6856 "the namespace 'myApp' already contains a definition for 'Program'"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-11-01 14:00] subakyat571 opened #6857 "the code dotnet is not working"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-11-01 15:20] simonjstanford opened #6859 "Shared OutputPath for whole solution is causing build failure"
Hi,

Please try the attached example and try to rebuild the whole solution. I'm getting three errors - missing runtimeconfig.dev.json, deps.json and  runtimeconfig.json files.

It contains two projects, one referencing the other. The issue seems to be that both projects are set to use the same OutputPath and both have an OutputType of `Exe`.

[code]

[OutputPathTest.zip](https://github.com/dotnet/

[2021-11-01 20:03] srini85 commented on #5713
I am also keen to know what is the minimum version of windows server required here.

[2021-11-02 00:32] mairaw commented on #6857
Did you install the SDK as instructed? If so, did you open a new command prompt after the installation?

[2021-11-02 00:33] mairaw commented on #6856
You probably ran the command twice and dotnet is telling you that it already exists. You can either pass --force to overwrite the existing project, or delete the folder and start over. Let us know if this helps.

[2021-11-02 00:33] mairaw commented on #6855
What do you mean how to fix dotnet? What is the error you're getting?

[2021-11-02 00:35] mairaw commented on #6852
This tutorial is for you to learn how to code. Is this really what you intended? Can you better describe the issue?

[2021-11-02 00:35] mairaw commented on #6851
Can you show what are the errors that caused the compilation not to be done?

[2021-11-02 00:38] mairaw commented on #6853
@leecow @dagood can you help with this?

[2021-11-02 00:39] mairaw commented on #6675
Did you install the SDK? If so, did you open a new command prompt after the installation?

[2021-11-02 00:40] mairaw commented on #5003
It's inside the Pages directory. Does that help?

[2021-11-02 00:40] mairaw commented on #4979
Can you help with this @shirhatti @nishanil?

[2021-11-02 00:41] mairaw commented on #5005
Did you install the SDK? If so, did you open a new command prompt after the installation?

[2021-11-02 00:42] mairaw commented on #4969
It seems this has been answered. Closing.

[2021-11-02 00:42] #4969 closed

[2021-11-02 02:40] #6838 closed

[2021-11-02 05:03] dagood commented on #6853
My first thought was that 10.13 is an old version, and maybe .NET 5 doesn't support it anymore. But, .NET 5 does support macOS 10.13, according to https://docs.microsoft.com/en-us/dotnet/core/install/macos#supported-releases, so that's not the problem.

I would transfer this to dotnet/runtime to get the right people to look at this.

[2021-11-02 11:26] francofgp commented on #505
IMO this will be a key feature for a truly open platform

[2021-11-02 13:44] eerhardt commented on #6794
@yea-80y - are you still having issues? If so, can you open a new issue at https://github.com/dotnet/installer/issues with the above information, and what you did to get the error? That would be the best way to get help.

[2021-11-02 13:52] eerhardt commented on #6854
cc @333fred @agocke @jcouv

[2021-11-02 15:20] 333fred commented on #6854
As svick said, this is behaving as intended. The only thing the record can do is trust what the collection says for equality, and List doesn't do value equality. If you need that, you need to either write the `bool Equals(RecordNode other)` member by hand, or wrap the list in a custom type that will do equality by value instead of by reference for the collection.

[2021-11-02 15:20] #6854 closed

[2021-11-02 17:32] JoeRobich commented on #6844
@eerhardt You are right that this issue usually indicated that the dotnet folder isn't part of the PATH environment variable. The C# extension and OmniSharp don't perform any path probing and simply rely on it being available.

[2021-11-02 17:53] javidizadi commented on #4446
i used a symbolic link and worked!
` sudo ln -s /snap/dotnet-sdk/current ~/.dotnet `
` mv ~/current ~/.dotnet `
and i export the new path as DOTNET_ROOT
` export DOTNET_ROOT=/home/<username>/.dotnet `

[2021-11-02 18:00] kouvel commented on #6733
@L00pZBreak3r, the issue has been identified and will be fixed soon (roughly a few weeks) in Windows 11 insider builds. It is not clear at the moment that Windows 11 RTM will be fixed, given that the processor is not supported by Windows 11, we'll try to update the thread once there's a decision there.

[2021-11-02 19:06] #6837 closed

[2021-11-02 19:06] #6836 closed

[2021-11-02 19:50] muneerah1418 opened #6860 "The system cannot find the path specified."
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-11-02 19:53] L00pZBreak3r commented on #6733
@kouvel, it's just amazing! Frankly speaking, I never expected that any change would be made because of this case of an anonymous user's inconvenience. It has almost never happened before. So, it's just great news! Thank you!

[2021-11-02 20:13] mairaw commented on #6860
Can you provide more information about the issue? When do you get this error?

[2021-11-02 20:43] muneerah1418 commented on #6860
The template "ASP.NET Core Web App" was created successfully.
This template contains technologies from parties other than Microsoft, see https://aka.ms/aspnetcore/5.0-third-party-notices for details.

Processing post-creation actions...
Running 'dotnet restore' on myWebApp3\myWebApp3.csproj...
  Determining projects to restore...
  Restored C:\Users\admin\myWebApp3\myWebApp3.csproj (in 682 ms).

[2021-11-02 20:54] eerhardt commented on #6860
It looks like you were successful. What was the error you got? I'm not seeing it in your above posts.

[2021-11-03 09:57] muneerah1418 opened #6861 "C:\Users\admin>dotnet new webApp -o myWebApp --no-https Failed to load the dll from [C:\Program Files (x86)\dotnet\shared\Microsoft.NETCore.App\6.0.0-rc.2.21480.5\hostpolicy.dll], HRESULT: 0x800700C1 An error occurred while loading required library hostpolicy.dll from [C:\Program Files (x86)\dotnet\shared\Microsoft.NETCore.App\6.0.0-rc.2.21480.5]"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-11-03 10:30] muneerah1418 opened #6862 "Failed to load the dll from [C:\Program Files (x86)\dotnet\shared\Microsoft.NETCore.App\6.0.0-rc.2.21480.5\hostpolicy.dll], HRESULT: 0x800700C1 An error occurred while loading required library hostpolicy.dll from [C:\Program Files (x86)\dotnet\shared\Microsoft.NETCore.App\6.0.0-rc.2.21480.5]"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-11-03 10:31] muneerah1418 commented on #6862
Failed to load the dll from [C:\Program Files (x86)\dotnet\shared\Microsoft.NETCore.App\6.0.0-rc.2.21480.5\hostpolicy.dll], HRESULT: 0x800700C1
An error occurred while loading required library hostpolicy.dll from [C:\Program Files (x86)\dotnet\shared\Microsoft.NETCore.App\6.0.0-rc.2.21480.5]

[2021-11-03 11:35] stakira opened #6863 "AppHost requires macOS 10.15 while .net core 3.1 claims to support macOS 10.13+"
### Description

1. End receives a error "You can't use this version of the application <appname> with this version of macos. You have macOS 10.14.6. The application requires macOS 10.15 or later." when installing app from dmg.
2. https://github.com/dotnet/core/blob/main/release-notes/3.1/3.1-supported-os.md claims dotnet core supports 10.13+
3. After looking around for a while. I found that `otoo

[2021-11-03 13:54] newmember0 opened #6864 "The <#text> element under the <Project> element is not recognized. Compilation failed. Fix the compile errors and run again."
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-11-03 13:59] muneerah1418 opened #6865 "Failed to load the dll from [C:\Program Files (x86)\dotnet\shared\Microsoft.NETCore.App\6.0.0-rc.2.21480.5\hostpolicy.dll], HRESULT: 0x800700C1 An error occurred while loading required library hostpolicy.dll from [C:\Program Files (x86)\dotnet\shared\Microsoft.NETCore.App\6.0.0-rc.2.21480.5]"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-11-03 13:59] muneerah1418 commented on #6865
Failed to load the dll from [C:\Program Files (x86)\dotnet\shared\Microsoft.NETCore.App\6.0.0-rc.2.21480.5\hostpolicy.dll], HRESULT: 0x800700C1
An error occurred while loading required library hostpolicy.dll from [C:\Program Files (x86)\dotnet\shared\Microsoft.NETCore.App\6.0.0-rc.2.21480.5]

[2021-11-03 16:19] #6846 closed

[2021-11-03 16:53] eerhardt commented on #6865
Duplicate of #6861.

[2021-11-03 16:53] #6865 closed

[2021-11-03 16:53] eerhardt commented on #6862
Duplicate of #6861.

[2021-11-03 16:53] #6862 closed

[2021-11-03 16:54] eerhardt commented on #6861
What version of windows are you using?

@vitek-karas @agocke - are there steps to diagnosing these kinds of issues? Does the VC runtime need to be installed?

[2021-11-03 17:06] eerhardt commented on #6863
cc @agocke @vitek-karas

[2021-11-03 17:07] eerhardt commented on #6864
Can you add the contents of your `.csproj` file is? It looks like it has been corrupted.

Try deleting the `.csproj` file and the `Program.cs` file and re-run the `dotnet new console` command again.

[2021-11-03 18:28] vitek-karas commented on #6861
On OSes below Win 10 there are prereqs which must be installed. The full error should actually point this out and include a URL to the docs. Here's the relevant doc: https://docs.microsoft.com/en-us/dotnet/core/install/windows?tabs=net50#additional-deps

Since this is looking for 32bit hostpolicy - I think this might be some problem with the project/setup. Something like 64bit dotnet trying to run

[2021-11-03 18:39] vitek-karas commented on #6861
I'm not familiar with that bug - do you have specifics?
@joeloff for windows installer details.

[2021-11-03 18:45] joeloff commented on #6861
There's no real detection logic other than opening a prompt and running SET PATH to look at the contents and determine whether the x86 path is first. We've made some changes that will become available in the next servicing releases, but the only fix for now is to edit the PATH variable if it's swapped.

[2021-11-03 19:54] mairaw commented on #6861
@adegeo have we documented the path issue on docs already? I know we discussed it in the past, but I'd like to point to a more official location rather than stack overflow. I'm adding that as a verification step on our activation tutorials.

[2021-11-03 22:10] danyagluhov35 opened #6867 "watch"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-11-03 22:29] danyagluhov35 opened #6868 "Не удалось найти файл проекта MsBuild"
Следовал строго инструкциям на сайте https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/run
После того как дошел до главы "Запустите ваше приложение" или на английском "Run your app" выскакивает вот такая вот ошибка:
![image](https://user-images.githubusercontent.com/76007580/140206595-32b94ec8-a239-4fa6-aa4b-43d3c9720192.png)
Не подскажите мне, что делать?

[2021-11-03 22:50] eerhardt commented on #6867
Hi @danyagluhov35 - can you provide details about the problem you are experiencing? Which step did you take? What was the error message? etc.

[2021-11-03 22:52] eerhardt commented on #6868
@danyagluhov35 - did you run both commands in the `Create your app` section?

[code]

AND

[code]

`dotnet watch run` needs to be run from inside the folder that contains the `myWebApp.csproj` file.

[2021-11-03 22:58] danyagluhov35 commented on #6868
Oh, it helped, thank you.  I've been neglectful :(

[2021-11-03 22:58] #6868 closed

[2021-11-04 00:20] XxRedBlackxX opened #6869 "The build failed. Fix the build errors and run again."
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run#
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

The build failed. Fix the build errors and run again.

Error above occurs when trying to run the console app tutorial

[2021-11-04 03:45] mairaw commented on #6869
What build errors did you have?

[2021-11-04 04:04] mnye commented on #5713
As per https://docs.microsoft.com/en-gb/aspnet/core/grpc/netstandard?view=aspnetcore-5.0 I think this version of windows is not a general release (yet) but I'm still not sure how to opt-in to it.  I just fully updated my workstation and WinHttpHandler still is not working for me, so for me it unfortunately isn't a solution for .NET Framework at the moment.

![image](https://user-images.githubuserc

[2021-11-04 08:47] andergoros commented on #6459
Same!!!

[2021-11-04 15:30] atrauzzi commented on #505
This needs to happen right away.

 - https://atrauzzi.github.io/its-time-for-net-to-leave-home
 - https://twitter.com/alextrauzzi/status/1456275237457170435

[2021-11-04 16:59] vintzl commented on #505
I think it is pretty obvious that Microsoft considers not all developers the same way.

There is first class Windows developer, and the "others", using buggy vscode, and so (and the joke on MacOS).

Take a look at these other issues/discussions (and my comments):
- https://github.com/OmniSharp/omnisharp-vscode/issues/4204
- https://github.com/OmniSharp/omnisharp-vscode/issues/1794
- https://github

[2021-11-04 17:36] kekekeks commented on #505
Been happily using Rider for 5 years already, don't know what you are talking about. Everything works way better and faster than with any Visual Studio.

[2021-11-04 17:41] kekekeks commented on #505
BTW, `ICorDebug` APIs work perfectly fine for both macOS and Linux and are completely open source. It's just vscode protocol debugging _bridge_ which is formerly a component of the full Visual Studio that's closed source. If anyone is _actually_ interested in getting an OSS implementation of debugging _bridge_, you can get [netcoredbg from Samsung](https://github.com/Samsung/netcoredbg) which uses

[2021-11-04 18:16] atrauzzi commented on #505
Developing with Rider on Linux is honestly quite nice and doesn't feel at all second rate.  I think Microsoft made tremendous progress - amidst worrying mistakes - in the last several years.

It's just that recently the frequency of concerning moves has increased and there are still some core shifts that really need to happen to make their commitment iron-clad.

[2021-11-04 18:23] #6849 closed

[2021-11-04 18:28] vintzl commented on #505
Already written, I do not trust JetBrains.
Take a look at this:
- https://www.nytimes.com/2021/01/06/us/politics/russia-cyber-hack.html

[2021-11-04 18:37] kekekeks commented on #505
If you don't like existing solutions, you can update netcoredbg to suite your needs and make a PR or create a fork.

Demanding someone to give you stuff for free is not how OSS works.

[2021-11-04 18:45] vintzl commented on #505
You wrong. Read me again, and again if needed.

[Here](https://github.com/dotnet/core/issues/505#issuecomment-961236776), I do not only mention one issue, but 4 others.

Don't be fooled. The problem does NOT ONLY concern the debugger.

**There is a deeper issue: Microsoft behavior's and its false claims about opensource.** And the issue with the debugger is one of these manifestations

[2021-11-04 19:16] jbogard commented on #505
@vintzl FYI, the CEO of JetBrains responded to that article:

https://twitter.com/mshafirov/status/1420405388462153733

[2021-11-04 19:41] kekekeks commented on #505
@vintzl

I still don't see how not doing _something immediately and for free_ contradicts with commitment to opensource and how that falsifies those claims about opensource. Open source does not mean charity and open source developers are not your personal slaves. Did someone refuse to merge a Linux-specific fix or PR? IIRC, it's only the case for WPF repo (which is _Windows_ presentation foundati

[2021-11-04 19:43] vintzl commented on #505
@jbogard LOL

**Feel free to trust anyone who you want**, but sorry, **I trust much more REUTERS,  New York Times and the Wall Street Journal claiming that JetBrains is under investigation**, than Maxim Shafirov…

Anyway, we are not here to talk about JetBrains, but about issues with Microsoft. So please, no more off topic about JetBrains.

[2021-11-04 19:50] vintzl commented on #505
@kekekeks again you wrong.

With all due respect, I have no more time to devote to you. Feel free to [read my previous post](https://github.com/dotnet/core/issues/505#issuecomment-961236776), and read my comments.

I will just write this: you seem to not understand the [**opensource philosophy**](https://en.wikipedia.org/wiki/Open_source), **like Microsoft**.

[2021-11-04 20:46] jflynn12 opened #6870 "Problem With Blazor Tutorial"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/create
Operating System: windows  11

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

C:\Users\John-PC>dotnet new blazorserver -o BlazorApp --no-https
Creating this template will make changes to existin

[2021-11-04 21:29] eerhardt commented on #6870
It looks like you have already run this command. It is complaining that the files already exist.

To fix this, you can either:

1. Delete the folder `C:\Users\John-PC\BlazorApp` and run the command again
2. Run the command again, but change `-o BlazorApp` to `-o BlazorApp2`, which will put it in a different folder.
3. Run the command again, but also pass `--force` at the end, which will overwrite

[2021-11-05 14:36] adegeo commented on #6446
@omajid I've been getting all of the Linux articles ready for .NET 6. I'm also updating all of the tables of OS releases, including Fedora 35. Question on 35, 34, 33. How long do you think the lag will be for .NET 6 to show up in the Fedora package managers after its released?

[2021-11-05 15:09] omajid commented on #6446
It's unlikely to be added to Fedora 33. Fedora 33 will end of life in less than a month.

I would Fedora 34 and later will get it expect within a month or so, but maybe longer. I am the primary developer and I am currently swamped with other .NET 6 work :(

[2021-11-05 16:58] ralfbalzer opened #6872 "TypeLoadException: The generic type '<>A{00000004}`3' was used with an invalid instantiation in assembly 'kktsxund.iql, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null'."
When I upgrade Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation from 6.0.0-rc.1.21452.15  to 6.0.0-rc.2.21480.10, I am encountering the above error when I am starting the app.

It is a MVC app with Blazor server side integrated.
Any idea what could cause this? The assembly name does not make any sense to me.

[2021-11-05 18:07] adegeo commented on #6446
Ok. Good to know. I'll change the the forthcoming docs to have a note that it's not available in the main package manager yet and to use manual install/snap for now.

Thanks!

[2021-11-05 18:17] Rutix commented on #505
@vintzl None of the issues you linked have been closed as they are not going to fix it, there has even been messages on them trying to analyze the problems. That stuff sometimes gets less priority is a given since people have no unlimited capacity to work on everything. The thing you are trying now is to force what you are thinking is important on the whole community. This issue already explained

[2021-11-05 18:18] jflynn12 opened #6873 "Problem With Blazor Tutoral"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/add
Operating System: windows 11

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

I am trying the Add A Component step and getting an Internal Sever error. Here is how I changed Index.razor. I must have

[2021-11-05 19:08] XxRedBlackxX commented on #6869
Alot of SDK errors along with the error mentioned above. Ill try to attach a screenshot.

[2021-11-05 19:09] vintzl commented on #505
I have never wrote this, nor insinuate this. **It is your wrong and false interpretation**.

What a joke. Some project do, **in proportion**, better with less resource. One of them? I would cite [Uno Platform](https://platform.uno/).

[Microsoft passes Apple to become the world’s most valuable company](https://www.cnbc.com/2021/10/29/microsoft-passes-apple-to-become-the-worlds-most-valuable-compan

[2021-11-05 19:11] mairaw commented on #6873
The code looks correct. @danroth27 what would you suggest here?

[2021-11-05 19:12] mairaw commented on #6869
Either a copy of the entire error message or a screenshot would be great!

[2021-11-05 20:09] giggio commented on #505
Please try to keep this discussion constructive and short. If this keeps up this thread will end up being locked to maintainers as "too heated". I'm not a maintainer and I also don't want it locked. If you need to have a heated conversation, please take it elsewhere, like reddit.

[2021-11-05 20:29] danroth27 commented on #6873
Hi @jflynn12 An Internal Server Error indicates something went wrong on the server.  Typically the error will show up in the console output of the running app, so check there for details on the error so that we can help troubleshoot.

Did you maybe accidentally run the app a second time while it was already running? That would result in a port conflict error.

[2021-11-05 21:28] jflynn12 commented on #6873
This is what showed up on the console output.

An unhandled exception occurred while processing the request.

InvalidOperationException: The following routes are ambiguous:
'/' in 'BlazorApp.Pages.Index'
'/' in 'BlazorApp.Pages.Index'

Microsoft.AspNetCore.Components.RouteTableFactory.RouteComparison(RouteEntry x, RouteEntry y)

InvalidOperationException: Failed to compare two elements in the arra

[2021-11-06 00:23] danroth27 commented on #6873
@jflynn12 That error means you somehow ended up with two pages with the same route. Do you have multiple .razor files with `@page "/"` in your project?

[2021-11-06 05:54] sachithsujeewa opened #6875 "Docker daemon not starting on windows after installing it"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/docker-image
Operating System: windows

It gives me an error
This error may indicate that the docker daemon is not running.: Post "http://%2F%2F.%2Fpipe%2Fdocker_engine/v1.24/build?buildargs=%7B%7D&cachefrom=%5B%5D&cgroupparent=&cpuperiod=0&cpuquota=0&cpusetcpus=&cpusetmems=&cpushares=0&dockerfile=Dockerfile&lab

[2021-11-06 12:19] thefringeninja commented on #4446
@leecow's solution worked for Arch as well. Thanks!

[2021-11-06 14:54] jflynn12 commented on #6873
Yes. This was my fault. I was copying more than just the highlighted code when I clicked on “copy” at the upper right corner of the code example.

Thanks

From: Daniel Roth ***@***.***>
Sent: Friday, November 5, 2021 8:24 PM
To: dotnet/core ***@***.***>
Cc: jflynn12 ***@***.***>; Mention ***@***.***>
Subject: Re: [dotnet/core] Problem With Blazor Tutoral (Issue #6873)

@jflynn12 <https://github.co

[2021-11-06 14:55] danroth27 commented on #6873
Awesome, I'm glad you got it working! Thanks for trying out Blazor!

[2021-11-06 22:58] Opwekking commented on #6459
Well same problem here. For a few days now. Failing installation.
![image](https://user-images.githubusercontent.com/44204840/140626179-2386645d-a0bd-4640-9fb3-4d47417f33a8.png)
Ending in an error (sorry, it's Dutch):
![image](https://user-images.githubusercontent.com/44204840/140626199-2c400519-fe34-4c8b-b712-b17105c1d987.png)

|

[2021-11-07 00:39] EngineerJack commented on #6459
Ha, now I understand. I've been trying for the last week or so to get my Windows updates to work. And after essentially teaching myself how to do it all manually, I finally realize this is a known issue.

This has stressed me the hell out. But I'm glad to find out that I'm not missing those 3 essential updates.

[2021-11-07 14:11] MynamesRuben opened #6876 "Creating this template will make changes to existing files: Overwrite ./myApp.csproj Overwrite ./Program.cs Rerun the command and pass --force to accept and create."
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-11-07 20:25] mairaw commented on #6876
This means you already created the project once.

There are a couple of ways to go about it:
- You can simply continue the tutorial
- You can delete the myApp folder and start over
- You can pass the `--force` option

[2021-11-07 20:30] #6873 closed

[2021-11-08 00:54] tdriver commented on #5962
Yes!  That fixed it!

[2021-11-08 04:21] arv5510 opened #6877 "Problem installing .NET"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-11-08 04:23] arv5510 opened #6878 "Problem installing .NET"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-11-08 06:38] jespersh commented on #6069
It also seems when WSUS is behind the herd then it starts providing failed updates:

![image](https://user-images.githubusercontent.com/1004198/140695054-ee50c6ff-6199-4935-af87-bbed45b03753.png)
And another 11 off screen

[code]

[2021-11-08 09:55] rust0806 opened #6879 "it say somthing is missing"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-11-08 15:30] kalaskarsanket opened #6881 ".NET 6 GA"
[Release Notes](https://github.com/dotnet/core/blob/main/release-notes/6.0/6.0.0/6.0.0.md)

Please report any issues you find with .NET 6, either responding to this issue, creating a new issue or creating a new issue in one of the following repos:

* [dotnet/aspnetcore](https://github.com/dotnet/aspnetcore/issues) - for ASP.NET Core questions
* [dotnet/efcore](https://github.com/dotnet/efcore/issu

[2021-11-08 15:31] rbhanda commented on #6795
closing in favor of https://github.com/dotnet/core/issues/6881

[2021-11-08 15:31] #6795 closed

[2021-11-08 15:53] eerhardt commented on #6876
@mairaw - this seems to be a very common problem with the tutorials. In the past 2 weeks I have seen it reported at least 4 times. Is there something we can change on the tutorial to help here?

[2021-11-08 15:54] eerhardt commented on #6877
@arv5510 - can you provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant?

[2021-11-08 15:55] eerhardt commented on #6878
Closing as duplicate of #6877.

[2021-11-08 15:56] eerhardt commented on #6879
@rust0806 - Can you provide more details about the problem? What is the exact error message you are seeing?

[2021-11-08 16:13] kalaskarsanket opened #6884 ".NET November 2021 Update - .NET 5.0.12 and .NET Core 3.1.21"
Release Notes
[5.0.12](https://github.com/dotnet/core/blob/main/release-notes/5.0/5.0.12/5.0.12.md)
[3.1.21](https://github.com/dotnet/core/blob/main/release-notes/3.1/3.1.21/3.1.21.md)

Please report any issues you find either by responding to this issue, creating a new issue or creating a new issue in one of the following repos:

* [dotnet/aspnetcore](https://github.com/dotnet/aspnetcore/issues)

[2021-11-08 16:16] kalaskarsanket commented on #6794
Closing as created new issue dotnet/issue #6884

[2021-11-08 16:16] #6794 closed, assigned to nobody

[2021-11-08 17:08] DavidVanPluto opened #6886 "Update text"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/run#
Operating System: windows

The text: In your command prompt, run the following command: 'dotnet watch'

should be updated to read 'dotnet watch run'

[2021-11-08 20:15] lesio999 opened #6888 "dotnet publish does not include any of dependencies referenced in project"
### Description
dotnet publish does not include any of dependencies referenced in C# project marked with <OutputType>Exe</OutputType>.

dotnet publish is executed with -o -c, -p:ParentMSBuildToolsPath and --no-restore option on that given project file

### Configuration
version of .NET: 6.0 GA (btw: the issue was found in RC)
OS: windows
architecture: x64

### Regression?

the same code worked (in

[2021-11-08 20:43] #4446 closed

[2021-11-08 21:28] eerhardt commented on #6886
@mairaw @pranavkm - thoughts? Should the command be updated to `dotnet watch run`?

[2021-11-08 21:30] pranavkm commented on #6886
@DavidVanPluto could you list the results of running `dotnet --info`? Starting in .NET 6, `dotnet watch` is an alias for `dotnet watch run`, so I would expect it to work if you're using the 6.0 SDK that was released today: https://get.dot.net

[2021-11-08 21:57] mairaw commented on #6876
I can add in the Got an error section for now.

[2021-11-08 21:58] mairaw commented on #6875
Some issues that folks run into are specific Docker issues. @shirhatti @nishanil can you help here?

[2021-11-08 22:38] mairaw commented on #6886
We made changes to the tutorial this morning but the first step is to install .NET 6 SDK.

There are a couple of ways we can go about this: /cc @danroth27
1. We explicitly call out the version on the install page
2. We add a step to verify you're running on the latest/expected SDK
3. On the create step, we add the framework option so if you don't have 6 installed, you get an error

Maybe step 1 is

[2021-11-08 23:45] PeterDraex opened #6889 "Can't find any installed SDKs after update to .NET 6"
### Description

I've updated Visual Studio to 17.1.0 Preview 1.0, and I assume with that, my .NET version was updated to stable version of .NET 6 (previously, I had Release Candidate installed). Now, I can't run any dotnet sdk commands like `dotnet new tool-manifest`. It shows me the following error:
[code]

When I run `dotnet --list-sdks`, the command gives no output.
When I run `where dotnet`,

[2021-11-09 00:29] mairaw commented on #6889
You're probably hitting this known issue: https://github.com/dotnet/core/blob/main/release-notes/6.0/known-issues.md#2-upgrade-of-visual-studio-or-net-sdk-from-earlier-builds-can-result-in-a-bad-path-configuration-on-windows

Check the output of `where.exe dotnet` and if your system is x64 and the x86 path returns first, please follow the steps at https://github.com/dotnet/core/issues/5962#issueco

[2021-11-09 01:14] #5005 closed

[2021-11-09 01:14] #5003 closed

[2021-11-09 01:14] #6675 closed

[2021-11-09 01:14] #6851 closed

[2021-11-09 01:14] #6852 closed

[2021-11-09 01:14] #6855 closed

[2021-11-09 01:14] #6857 closed

[2021-11-09 06:42] bbhxwl opened #6893 "Vs2022 official version 17.0.0 asp.net core 6 MVC, unable to jump to the controller in the view"
Vs2022 official version 17.0.0 asp.net core 6 MVC, unable to jump to the controller in the view

2019 right click the view to jump to the controller. In addition, when writing an HTML page, the keyword class = in 2022 will not automatically double quote. 2019 is OK.

[2021-11-09 06:49] bbhxwl commented on #6881
Vs2022 official version 17.0.0 asp.net core 6 MVC, unable to jump to the controller in the view

2019 right click the view to jump to the controller. In addition, when writing an HTML page, the keyword class = in 2022 will not automatically double quote. 2019 is OK.

[2021-11-09 07:18] PeterDraex commented on #6889
Thanks @mairaw. Yes the issue was with PATH and it works now!
Btw can I ask what's the difference between running `where dotnet` and `where.exe dotnet`? The first one prints no output, while the second one works correctly.

[2021-11-09 09:43] Henr1k80 opened #6894 "TimeSeparator has changed from : to . for da-DK in .NET 5+"
### Description
The time separator has changed from : to . for da-DK in .NET 5 and 6

System.Globalization.CultureInfo.GetCultureInfo("da-DK").DateTimeFormat.TimeSeparator
is : for .NET Framework and .NET Core 3.1, as expected
https://dotnetfiddle.net/wPaJI1

it is . for .NET 5 & 6
https://dotnetfiddle.net/3fLj9J

[2021-11-09 10:00] Henr1k80 commented on #6894
It looks like it is related to https://github.com/dotnet/runtime/issues/46033
ICU for da has `timeSeparator{"."}`
https://github.com/unicode-org/icu/blob/main/icu4c/source/data/locales/da.txt
Is it a bug in the ICU then?

[2021-11-09 10:25] Henr1k80 commented on #6894
I have created an ICU bug https://unicode-org.atlassian.net/browse/ICU-21828

[2021-11-09 11:08] bairog commented on #5567
@timheuer @jamshedd @mairaw
[VS 2022](https://devblogs.microsoft.com/visualstudio/visual-studio-2022-now-available/) and [.NET 6.0](https://devblogs.microsoft.com/dotnet/announcing-net-6/) were released yesterday. According to [.NET 6.0 Known Issues](https://github.com/dotnet/core/blob/main/release-notes/6.0/known-issues.md) docs

Could you clarify what exactly does phrase _You can use the .net 6

[2021-11-09 12:04] PatrickHofman opened #6895 "CryptoStream doesn't fill entire buffer on reading since .NET 6"
We are currently testing the .NET 6 release. One problem we notices is that the `CryptoStream` doesn't always read/fill the entire buffer.

Some code to illustrate the problem (I have removed the actual values since they are production values, these can be supplied on request through a secure channel):

[code]

As in the comments in the code, `int count = binaryReader.Read(headerRestBuffer, 0, pos

[2021-11-09 12:24] svick commented on #6895
This is [a documented breaking change in .Net 6](https://docs.microsoft.com/en-us/dotnet/core/compatibility/core-libraries/6.0/partial-byte-reads-in-streams?WT.mc_id=DOP-MVP-5002735).

[2021-11-09 12:39] PatrickHofman commented on #6895
Thanks. That clarifies all. Should a link to that documentation be included [here](https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.cryptostream?view=net-5.0)?

[2021-11-09 13:43] edubsi opened #6896 ".Net 6 string interpolation for Int32 using a format specifier"
### Description
Some tests regarding the string interpolation for an int were failing after the project upgrade to net6.0

A minimal reproducible example of the Test would be

        [Fact]
        public void StringInterpolation()
        {
            const int utf32 = 129412;
            var result = $"\\x{{{utf32:x8}}}";
            Assert.Equal("\\x{0001f984}", result);
        }

 The test

[2021-11-09 14:23] svick commented on #6896
This is related to previous discussion at https://github.com/dotnet/csharplang/discussions/4361.

In short, prior to .Net Core 3.0, both the compiler (when parsing interpolated strings) and the runtime (when parsing format strings passed to `string.Format`) interpreted `}}}` "incorrectly" and this is still the documented behavior (see https://github.com/dotnet/docs/issues/22156). In .Net Core 3.0,

[2021-11-09 16:29] #6844 closed, assigned to nobody

[2021-11-09 16:29] #6848 closed

[2021-11-09 17:47] RehanSaeed opened #6897 "Use of JsonSerializerContext Can Cause CS1591"
### Description

Using `JsonSerializerContext` can cause a `CS1591` "Missing XML comment" error on the generated code.

[code]

### Configuration

.NET SDK 6.0.100

### Other information

See also:

- https://github.com/dotnet/roslyn/issues/12702

[2021-11-09 18:51] mairaw commented on #6889
It seems the command where (without the .exe) is aliased to Where-Object in PowerShell (https://superuser.com/a/677731)

Since your issue is now fixed, I'll close this issue.

[2021-11-09 18:51] #6889 closed

[2021-11-09 21:39] #6860 closed

[2021-11-09 21:54] stevehawken opened #6900 "dotnet command not found after upgrade to 5.0.403"
### Description

When updating to 5.0.403 on CentOS 7, in my case from 5.0.402 it is removing the link from /usr/bin causing the dotnet command to no longer be found. This happened in production but can replicate locally too. Update was done through yum.

bash: dotnet: command not found...

Workaround: Call dotnet directly from install location /usr/share/dotnet/dotnet or recreate the link from /u

[2021-11-10 01:40] #6766 closed

[2021-11-10 03:12] hrai commented on #6381
I'm on `Ubuntu Impish 20.10`.

The command given at https://docs.microsoft.com/en-us/dotnet/core/install/linux-ubuntu#2110- refers to `20.10`

![image](https://user-images.githubusercontent.com/4055444/141042632-6392ae6c-1cb6-420c-934a-56cfb0883472.png)

But when I go to https://packages.microsoft.com/config/ubuntu/, there's no `20.10`

![image](https://user-images.githubusercontent.com/4055444/14

[2021-11-10 03:24] timheuer commented on #5567
If you target net5.0 or lower you can use the .NET 6 SDK to still build them and target.

[2021-11-10 04:42] An-nima commented on #6411
My suggestion is to provide an interface by the official. When the detection program needs to use a certain .Net version, it will prompt to install .Net core like the previous prompt to install .Net framework. Users only need to click allow to install, which will save a lot of time and do not need to explain a lot to users.

[2021-11-10 07:26] Nefarion commented on #6833
I still think it would be good to mention somewhere in the docs that **ALL** remoting samples using MarshalByRef (in their current form) do not work for .net48 x64 projects , and require the virtual keyword on members.

I agree that it is an implementation detail, but it is a detail that breaks functionality/samples unexpectedly.

The explanation @jkotas added is great, but without in-depth knowle

[2021-11-10 08:26] jkotas commented on #6833
Where are these samples?

[2021-11-10 08:51] Nefarion commented on #6833
These are the ones i found immediately:
https://docs.microsoft.com/en-us/dotnet/api/system.marshalbyrefobject?view=netframework-4.8#examples
https://docs.microsoft.com/en-us/dotnet/api/system.appdomain.createinstanceandunwrap?view=netframework-4.8 (the example for the first overload is the same as in the previous link)

[2021-11-10 09:17] tmds commented on #5682
@danmoseley @richlander is there a document that list the contributors for .NET 6 release?

[2021-11-10 09:51] jkotas commented on #6833
The sample works just fine as is.

The virtual keyword would be only needed if the sample is split into multiple assemblies, and the code made fragile assumptions about when and whether runtime loads static dependencies.

[2021-11-10 10:17] scrouchman-livedrive commented on #6884
Has anything changed with the package install on centos? Our new hosts that get 3.1.21 do not have a symlink in /usr/bin/dotnet whereas our older hosts with 3.1.20 do have that symlink

[2021-11-10 12:16] jantzenc commented on #6884
I came here with the same question left by scrouchman-livedrive.  I have found no mention of this in the release, but the symlink has moved to /usr/local/bin/dotnet.

[2021-11-10 15:42] shrinidhi111 commented on #6411
Initially ported our Windows services from .Net to GoLang. Now in the process of porting our server-side from Spring Boot to GoLang.

At the client end, we found that its much easier to create binaries for all Windows OS-Architecture combinations with very little effort. No runtime. No additional installations like the corresponding Windows updates (you'll be surprised how many of our customers st

[2021-11-10 16:17] Yanz-dotcom commented on #6884
[Uploading core-6.0.0.zip…]()

[2021-11-10 16:36] danmoseley commented on #5682
@tmds I do not know of one, but it would be easy to create one (a list of github handles at least). I already did the query in order to get the number of contributors and contributions for the launch events.

do you think this would be valuable, until someone works on thanks.dot.net? we could add it as a markdown to this repo. cc @richlander

[2021-11-10 17:45] vanashimko commented on #6884
Encountered an issue with self-contained publish with **rhel.6-x64** RID. There are no **3.1.21** versions for `Microsoft.NETCore.App.Runtime.rhel.6-x64` and `Microsoft.NETCore.App.Host.rhel.6-x64` packages and it cause build failure:

[code]

[2021-11-10 17:51] #6861 closed

[2021-11-10 17:51] #6864 closed

[2021-11-10 19:05] tmds commented on #5682
For the previous releases there is also a contributor-list.md that is published as part of the core release-notes (https://github.com/dotnet/core/tree/main/release-notes).

It's a nice way to give visibility to the contributors of an open-source project.

[2021-11-10 19:16] danmoseley commented on #5682
I didn't actually realize that (and I agree). @rbhanda @leecow were you planning on generating another? If not I can give it a shot.

my inclination is to --
* omit the count of PR's (as it doesn't correlate well with impact)
* continue to include both Microsoft and community folks on an equal basis

is that reasonable?

[2021-11-10 19:33] danmoseley commented on #6895
@PatrickHofman not a bad idea -- do you want to offer a PR that tweaks that doc? (edit button on top right of that page)

[2021-11-10 19:51] mairaw commented on #5682
I have a PR ready to update https://dotnet.microsoft.com/thanks

[2021-11-10 21:15] leecow commented on #6900
@NikolaMilosavljevic as I don't recall which rpm is supposed to establish the simlink.

[2021-11-10 22:44] rudakovskiy opened #6902 ".NET6 exception on Linq queries with EntityFramework 5"
Trying to use Microsoft.EntityFrameworkCore.Design 5.0.2 and Microsoft.EntityFrameworkCore.SqlServer 5.0.2
with .NET6. Getting this exception on all Linq queries (ToList(), FirstOrDefault(),  etc.):

System.TypeInitializationException: The type initializer for 'Microsoft.EntityFrameworkCore.Query.QueryableMethods' threw an exception.

[code]

[code]

After updating these packages to version 6.0.0

[2021-11-10 22:48] rudakovskiy commented on #6900
Seems like location was changed from /user/local/shared/dotnet/x86/dotnet to  /user/local/shared/dotnet/dotnet in new version. So, u should double check this and recreate `ln` in /usr/local//bin.

`sudo ln -s /usr/local/share/dotnet/dotnet /usr/local/bin/`

Correct me if I am wrong, but I had this problem:)

[2021-11-10 22:51] mairaw commented on #6381
@hrai it would be great if you open feedback for the doc in question. There's a feedback button on the bottom of the page. /cc @adegeo

[2021-11-10 23:05] #6867 closed

[2021-11-11 05:10] Ktomo1995s opened #6903 "(dotnet-sdk-6.0.100-osx-x64) cannot be installed"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: macos

I installed  cannot be installed, but when I enter (dotnet), it outputs (zsh: command not found: dotnet).
Please tell me how to solve the problem.

[2021-11-11 10:12] michael-schaller opened #6904 "Hash mismatch for `debian-strech` file `dotnet-sdk-5.0.202-x64.deb` on packages.microsoft.com"
Our mirror-in of the `microsoft-debian-stretch-prod` repo on packages.microsoft.com fails with a hash mismatch of the `pool/main/d/dotnet-sdk-5.0/dotnet-sdk-5.0.202-x64.deb` file. This issue started some time between 2021-11-09 00:02:30 UTC and 2021-11-10 06:16:10 UTC.

I'm opening a bug here as I have no clue where else to report this issue. It would be great if packages.microsoft.com would conta

[2021-11-11 10:16] PatrickHofman commented on #6895
@danmoseley Done in https://github.com/dotnet/dotnet-api-docs/pull/7379.

[2021-11-11 13:01] danmoseley commented on #6895
Thanks @PatrickHofman !

[2021-11-11 13:04] #6895 closed

[2021-11-11 14:37] DavidPesta opened #6905 "Console.WriteLine no longer outputs to the screen on Ubuntu 20.04 after upgrading to .NET version 6.0"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: linux

I am inside of the MyApp directory. Upon typing "dotnet run" and pressing the enter key, a brief pause responds with the command prompt without displaying "Hello, World!"

Operating system is Ubuntu 20.04 LTS (Focal Fossa)

I noticed this problem with my other console programs after I

[2021-11-11 16:58] mairaw commented on #6903
So did you manage to install the SDK or not? And what is your macOS version?

Here are some topics that perhaps might help you:
https://docs.microsoft.com/dotnet/core/install/how-to-detect-installed-versions?pivots=os-macos
https://docs.microsoft.com/dotnet/core/install/macos

[2021-11-11 16:59] mairaw commented on #6905
@dagood @leecow can you help with this issue on Ubuntu?

[2021-11-11 17:08] piskovvx opened #6906 "error trying to run dotnet watch"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

dotnet watch command  threw this error:

Hmmm… can't reach this pageIt looks like the webpage at https://localhost:7246/ mi

[2021-11-11 17:34] dagood commented on #6905
It works for me on 20.04. Some more info that comes to mind that *could* help diagnose:

* What is the output of `dotnet --info`?
* Does changing the `TargetFramework` to `net5.0` make your project start working again, with no other changes to the project/environment/command?
* Do you get any output if you run `dotnet bin/Debug/net6.0/MyApp.dll` directly?

Transferring to dotnet/runtime for more i

[2021-11-11 18:26] mikeKuester opened #6907 "Azure DevOps Pipeline doesn't support .NET 6? (VS2019 on windows-latest pool)"
### Description
I upgraded my project from .NET 5 to .NET 6 and wanted to execute a "build, test and publish" pipeline on Azure DevOps. That fails because the hosted agent does not support .NET 6 by default.
[code]

I added an UseDotNet task in order to install the .NET 6 SDK which works, but that the build task failed ...

[code]
telling me, that Visual Studio 2019 does not support .NET 6.

[code

[2021-11-11 18:42] mairaw commented on #6907
@richlander who would know about what's supported on the latest images?

I am using vmImage: windows-2022 on my pipeline with .NET 6 SDK and that works for me. I haven't tried with windows-latest yet to see if it would work for me as well. I can give it a try and report back.

[2021-11-11 19:15] mikeKuester commented on #6907
@mairaw Thank you, if I switch to `windows-2022` the build process starts (and fails later with `NETSDK1152: Found multiple publish output files with the same relative path`). With that host I can also remove the UseDotNet task.

It would be fine, if the `windows-latest` would always work with the actual .NET version ;)

[2021-11-11 19:16] mairaw commented on #6907
I'm trying to find the owner for this so we can have a definitive answer.

[2021-11-11 19:17] lipnitsk commented on #3016
@leecow why was this closed if the issue is still not resolved?

[2021-11-11 19:27] winseros commented on #4878
I also can't uninstall the SDK after I have uninstalled the Visual Studio:
![image](https://user-images.githubusercontent.com/6763540/141356815-88ea87e3-c856-42dc-946a-1d034f70b501.png)

The image says "Use Visual Studio installer" but I upgraded the Visual Studio to 2022 and no longer have 2019 installation.

[2021-11-11 19:36] joeloff commented on #4878
That is just a placeholder for when VS installs the SDK, it doesn't actually install anything. That entry appears quite old as it's 3.0.100 which shipped with 16.4. It's possible it got orphaned during an upgrade somehow, but I'd need to see the all the relevant VS logs to piece it together.

You can try running this: `reg query HKLM\SOFTWARE\Microsoft\Windows\currentversion\uninstall /s /d /f "fr

[2021-11-11 22:27] #6870 closed

[2021-11-11 23:43] Anipik opened #6908 "Api reviewer does not support new language features which leads to errors in our api-diff"
We currently use a version of asmdiff (api reviewer) to generate api-diffs. This tool depends on cci and is not able to catch the new language features like nint or RequiresPreviewFeatures

It might be a good idea to move api -reviewer from cci to roslyn as handling issues due to these features is not scalable.

cc @tannergooding @ericstj @safern

[2021-11-12 00:54] Micah2345 opened #6909 ".net wont start"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-11-12 01:03] cnmade commented on #505
+1 ， Dear Microsoft, would you please kind to release the Debug library for Apache license or BSD license?
Who does not need a debug library.

It must have, like water,  like air.

No anyone can live without it .

[2021-11-12 03:11] hrai commented on #6095
I had to run `where.exe dotnet`

[2021-11-12 04:41] Varorbc opened #6910 "Drop "Core""
There are still many words ".Net Core" in documents, and ".Net" should be used instead

[2021-11-12 07:23] 616b2f commented on #505
As other stated you could use just the debugger from Samsung (https://github.com/Samsung/netcoredbg) it works flawlessly (at least with neovim + nvim-dap plugin, but it should be compatible because they use the same Protocol DAP )

[2021-11-12 12:31] RyantheLeon commented on #6907
That'd be great. The UseDotNet task worked for me, but I'd much rather define that I'm using .net 6 in one place (within the project, not also in the pipeline) and for everything else to reference that.

[2021-11-12 13:57] dasMulli commented on #6907
VS 2019 (windows) does not support .NET 6, for example as per the [downloads page of the .NET 6 SDK](https://dotnet.microsoft.com/download/dotnet/6.0):

How are you building your applicaton? If you use the `- task: DotNetCoreCLI@2` tasks to build your app, you should be fine on the `windows-latest` image. If you use the visual studio build tasks, they will not work (as windows-latest is still VS20

[2021-11-12 14:11] leecow commented on #3016
@lipnitsk, the issue is owned and will be resolved by a different team and is tracked within their backlog which is not in a public forum.

[2021-11-12 14:40] atrauzzi commented on #505
@616b2f That's really outside of the scope of what's being intended with this question.

The practical concern is that Microsoft shouldn't be in the habit of hoarding told for a supposedly open platform. Everyone knows Jetbrains and Samsung have alternatives...

[2021-11-12 15:40] mikeKuester commented on #6907
Ok, I found this page now [Microsoft-hosted agents](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops&tabs=yaml) with the installed software on the different hosts.

- Windows Server 2022 with Visual Studio 2022 --> windows-2022
- Windows Server 2019 with Visual Studio 2019 --> windows-latest OR windows-2019

 **I didn't expect, that the "windows-latest" is no

[2021-11-12 16:10] winseros commented on #4878
[code]

[code]

![image](https://user-images.githubusercontent.com/6763540/141497958-707de486-c135-47d5-aab1-7af4d8106b26.png)

And the SDK is still in place.

[2021-11-12 16:50] 616b2f commented on #505
@atrauzzi jetbrains is not a real alternative because of they proprietary license, but from Samsung is open source and under MIT license. And why is it important who build the open source debugger? When there is a good open source alternative that works the same who cares that Microsoft has a closed source one? Don't get me wrong, I think it's important to show Microsoft that we would like to have

[2021-11-12 16:51] selinacarreto opened #6911 "The build failed"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/edit
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
[Document.txt](https://github.com/dotnet/core/files/7529118/Document.txt)

[2021-11-12 16:53] mikeKuester commented on #6907
Setting `vsTestVersion: '16.0'` doesn't help.  I open an [issue at microsoft/azure-pipelines-tasks](https://github.com/microsoft/azure-pipelines-tasks/issues/15499) for that.

[2021-11-12 16:55] atrauzzi commented on #505
@616b2f - Right, but that's not the point of thist github ticket now is it?

This ticket is specifically here to talk about opening it up.  Not about alternatives.  Everyone knows about the alternatives.  This is here to manifest the desire to see Microsoft do the right thing.

The title for the question you're answering is _"Is there a free alternative to the Microsoft .NET debugger?"_
The title

[2021-11-12 17:03] Rutix commented on #505
@atrauzzi but the original reason for the question to reconsider the licensing was because there wasn't an alternative. That isn't true anymore so in that sense I understand where @616b2f is coming from.

[2021-11-12 17:06] atrauzzi commented on #505
An alternative showing up doesn't change that Microsoft missed the opportunity to come out on the right side of this from the start.

[2021-11-12 17:28] joeloff commented on #4878
Place { } around the GUID, otherwise it might be interpreted as a filename instead.

[2021-11-12 17:35] mairaw commented on #6911
What is your SDK version? Can you share what is the output of `dotnet --info`?

[2021-11-12 17:37] mairaw commented on #6910
We've been trying to clear up, although in some cases using .NET Core is still applicable. Do you have any examples? Are you referring to this repo, the dot.net website, docs?

[2021-11-12 18:06] TeresaBherself opened #6912 "problem about the downloading .NET on MAC"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: macos

After installing the .NET and open a new terminal, "dotnet" is still a command not found.

[2021-11-12 18:07] mairaw commented on #6095
Thanks @hrai. I've updated my comment here. I've changed my suggestion on recent issues to where.exe dotnet so it works on both command prompt and PowerShell.

[2021-11-12 18:09] mairaw commented on #6912
See if you can find dotnet installed manually on your machine:
https://docs.microsoft.com/en-us/dotnet/core/install/how-to-detect-installed-versions?pivots=os-macos

[2021-11-12 18:10] mairaw commented on #6909
Won't start how? Do you get an error message?

[2021-11-12 18:11] TeresaBherself commented on #6912
Thank you !!

[2021-11-12 18:23] dasMulli commented on #6907
Good to hear about your progress! personally I‘m mostly using the DotNetCLI task as well to run tests and publish result (works for SDK-based test projects)

[2021-11-12 19:07] winseros commented on #4878
Worked this way, thanks a lot!

[code]

[2021-11-12 19:50] #6869 closed

[2021-11-13 09:11] FreshmanChina opened #6913 "how to install .net 6 in centos 8?"
how to install .net 6 in centos 8 please?
 "*CentOS 8 will reach an early End Of Life (EOL) on December 31st, 2021. For more information, see the official CentOS Linux EOL page. Because of this, .NET 6 won't be supported on CentOS Linux 8."
[https://docs.microsoft.com/en-us/dotnet/core/install/linux-centos#centos-8-](https://docs.microsoft.com/en-us/dotnet/core/install/linux-centos#centos-8-)

[2021-11-13 09:29] deadmann opened #6914 "Method with Params, changes receiving data types"
When I use params in a method, the receiver method receive a list of data, that's what we all know and works fine.
The issue is when I send Nullable data, like long? x to the param, if it is null, it remain null of gods known what type, and if I send 5, I get 5 of type long (Non nullable)... the data change its type when it reaches the calling method... and I'm not sure if we had it in .Net Framwo

[2021-11-13 11:29] maedeh1199 opened #6915 "'dotnet' is not recognized as an internal or external command, operable program or batch file."
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-11-13 11:33] #6915 closed

[2021-11-14 04:16] arman-g commented on #2802
Because it has too many limitations like it was motioned. Here is one simple limitation below, you can only specify one **DefaultIgnoreCondition** globally. Is this a limitation? of course.

Can you do this?
[code]
Nope, why not? they do not contradict and have many used cases.

Why have this limitation if they simply could make the **JsonIgnoreCondition** Enum marked with [Flag] attribute so it c

[2021-11-14 08:21] 1021ky commented on #6912
Hi!.
I had the same thing. and this issue helped me.

It would be great if we could find to [dotnet installed manually on your machine](
https://docs.microsoft.com/en-us/dotnet/core/install/how-to-detect-installed-versions?pivots=os-macos)
on [tutoriaul > Got an error?](https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install#Gotanerror).

[2021-11-14 10:06] vinshah opened #6916 "Build failed with NETSDK1177 error"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/run
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

MacBook-Pro Productservice $ dotnet run
Building...
/usr/local/share/dotnet/sdk/6.0.100/Sdks/Microsoft.NET.Sdk/targets/

[2021-11-14 19:16] voronoipotato commented on #505
As always one's sight exceeds their grasp. I suppose their loss is our gain given that they've decided to make the situation zero sum. Ironically the people hurt the most in this situation are the people paying for visual studio, since they won't be able to leverage or use their tools when working with people who aren't paying.

[2021-11-14 20:35] #6876 closed

[2021-11-15 00:47] Varorbc commented on #6910
I made a simple fix. If there is no problem, I can open a pull request, there may be more "Core" to be dropped

[2021-11-15 06:05] tinmac opened #6917 "Windows.Storage and Windows.Web.Http unavailable after upgrade to .net 6"
WinUi 3 in Desktop project running net5.0-windows10.0.19041.0 working.

After upgrading to .net 6, build fails

- Windows.Storage
- Windows.Web.Http

![image](https://user-images.githubusercontent.com/6616946/141729192-ffd07c71-338e-4c1f-a01b-e507a928fee8.png)

![image](https://user-images.githubusercontent.com/6616946/141729281-9dd9a73c-034a-4355-903d-08e1bf00e9ad.png)

![image](https://user-imag

[2021-11-15 08:45] datvm opened #6918 "IntelliSense confused by Action<> overloads"
### Description

I was trying to create a Windows Service in .NET 6 following [this documentation](https://docs.microsoft.com/en-us/dotnet/core/extensions/windows-service).

I want to read the settings from `appsettings.json` so I added the following code:

[code]

As you can see, IntelliSense seems to recognize there is `Configuration` property in `services` (instance of `IServiceCollection` inst

[2021-11-15 09:07] tmds commented on #5682
I don't mind this number. It's common to see it on contributions lists.
Even if it does not reflect the impact, it is well defined what the number represents.

For the contributor-list that gets published in the https://github.com/dotnet/core/tree/main/release-notes, definitely.

For the Thank you website, my preference is also to include both (https://github.com/dotnet/website-thanks-data/issues/

[2021-11-15 09:14] Be3y4uu-K0T commented on #6903
I'm facing the same problem. And I just downloaded for `Arm64 download` on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install.

Operating System: macOS Monterey 12.0.1
MacBook Air (M1, 2020)

[2021-11-15 10:48] eiriktsarpalis commented on #6913
The CentOS distribution is being discontinued, and as such new releases of .NET won't be supporting it. cc @Thraka @leecow

[2021-11-15 10:48] #6913 closed

[2021-11-15 10:59] eiriktsarpalis commented on #6914
You mean this behavior?
[code]
This is by design, information on nullable types is lost when upcasting to `object`. I can't provide any recommendations here because I don't know `CheckIfOnlyOneItemHasValue` is meant to do. If I wrote it like the name suggests it would look like
[code]
But that clearly doesn't suffer from the problem you're describing.

[2021-11-15 11:00] eiriktsarpalis commented on #6916
cc @mairaw

[2021-11-15 11:05] FreshmanChina commented on #6913
Thank you!

[2021-11-15 11:10] eiriktsarpalis commented on #6917
Hi @tinmac, UWP issues are tracked via Visual Studio dev community. If you are running into .NET native issues, please use https://docs.microsoft.com/en-us/visualstudio/ide/feedback-options.

[2021-11-15 11:10] #6917 closed

[2021-11-15 11:11] eiriktsarpalis commented on #6918
cc @mairaw

[2021-11-15 12:34] Ktomo1995s commented on #6903
thank you for your reply.
I'm using MacBookPro(M1 Pro).
Installation of (SDK6), (SDK5), and (Core3.1) is completed.

The reason I'm asking this question is that I got the error [The .NET Core SDK cannot be located. .NET Core] when I was using VSCode.

[2021-11-15 12:37] Ktomo1995s commented on #6903
But VS Code is working fine now.
Is it necessary to install SDK?

[2021-11-15 14:30] SymbioticKilla commented on #5567
There is a problem with NET Analyzers in VS2019 + NET 6.0 SDK is installed:
![image](https://user-images.githubusercontent.com/59652865/141798851-d5e7c461-21c4-434b-83cb-6d40ac04c2d1.png)

Warning	CS8032	An instance of analyzer Microsoft.CodeAnalysis.MakeFieldReadonly.MakeFieldReadonlyDiagnosticAnalyzer cannot be created from C:\Program Files\dotnet\sdk\6.0.100\Sdks\Microsoft.NET.Sdk\codestyle\cs\

[2021-11-15 15:51] #6875 closed

[2021-11-15 15:52] lesio999 opened #6919 ""dotnet publish" not exposing all dependencies to publish folder"
### Description
"dotnet publish" not exposing all dependencies to publish folder.
it happens in both case, when the publish is done via publish profile as well as via direct dotnet poblish command.

pubxml content
<Project ToolsVersion="Current" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <PublishProvider>Fi

[2021-11-15 15:58] omajid commented on #6913
FWIW, .NET 6 is available as a part of RHEL 8 repositories, so it's possible that the CentOS 8 maintainers will build .NET 6 and include it too, when they update CentOS to match the RHEL 8.5 release.

[2021-11-15 16:51] #6879 closed

[2021-11-15 16:51] #6877 closed

[2021-11-15 22:47] jakauppila commented on #6900
I encountered this as well.

From what I can tell, it would appear that `dotnet-host` changed this behavior from `5.0.12-1` to `6.0.0-1`.

`yum install dotnet-host-5.0.12-1`
[code]

`yum install dotnet-host-6.0.0-1`
[code]

[2021-11-15 22:54] #6886 closed

[2021-11-16 00:24] xantari commented on #1725
None of the resolutions here solved this issue for me when upgrading from .NET Core 5 web app to .NET Core 6. Only happens if you run the app in IIS mode, and works just fine in Kestrel mode. No idea what the fix is... May be a .NET Core 6 issue, but not sure.

[2021-11-16 00:49] adegeo commented on #6381
To close the loop, this was updated in the doc: using the 21.04 repository is the current guidance.

[2021-11-16 05:22] mairaw commented on #5567
@SymbioticKilla is your project targeting .NET 6 or earlier versions? If targeting .NET 6, you need to use Visual Studio 2022. But typically, VS issues should be reported through Help > Send Feedback > Report a Problem to help us triage issues better.

[2021-11-16 05:24] mairaw commented on #6918
This is not related to the tutorials but instead it's an IntelliSense issue. @jaredpar @terrajobst would you know who can help with this?

[2021-11-16 05:27] mairaw commented on #6916
Seems duplicate of https://github.com/dotnet/sdk/issues/22201. @dsplaisted can you take a look?

[2021-11-16 05:28] mairaw commented on #6912
That's a good idea @1021ky.

[2021-11-16 05:31] mairaw commented on #6903
Are you being able to follow the tutorial now @Ktomo1995s? The SDK (or the .NET Coding Pack for VS Code) is necessary for you to create .NET applications.

[2021-11-16 05:59] SymbioticKilla commented on #5567
Hi @mairaw,

thank you for reply. No, the projects target .NET Core 3.1. The problem shows up after installing SDK 6.0.
I will try to report the issue.

[2021-11-16 10:26] faust2199 commented on #6881
"dotnet" command hangs on my RHEL 7 x64 system. Even simple commands like "dotnet --version" or "dotnet --info" don't work.

Details:
dotnet-sdk: https://download.visualstudio.microsoft.com/download/pr/17b6759f-1af0-41bc-ab12-209ba0377779/e8d02195dbf1434b940e0f05ae086453/dotnet-sdk-6.0.100-linux-x64.tar.gz
Installation method: manual extraction
Kernel: 3.10.0-1160.31.1.el7.x86_64
Distro: RHEL 7

I

[2021-11-16 12:55] eiriktsarpalis commented on #6918
@datvm would it be possible to share a repo with instructions on how to reproduce the issue? We can try to take a look.

[2021-11-16 13:27] equirev73 opened #6921 "A type with name does not exist"
### Description

Hi. I am using Visual Studio 2022 with NET 6.0. I created a blazor wasm solution with three projects. Added a model on Shared project. Then when I try to add a controller to the server project using scaffolding I get an error message "Type does not exist".

In Server project, over "Controllers" folder > Add > Controller > API > Controller API with accions ...

### Configuration
Wi

[2021-11-16 13:36] tmds commented on #6881
@faust2199 I cannot reproduce it in a RHEL7 VM. Can you create an issue for it in the https://github.com/dotnet/runtime/ repo?

[2021-11-16 13:37] erossini opened #6922 "Blazor and .NET6 creates an error: EntrypointInvoker in assembly Microsoft.AspNetCore.Components.WebAssembly"
I have my simple project with Blazor. I updated the project from .NET5 to .NET6. I deploy to the production environment using `Web Deploy`. On the production server, I am getting this error

![image](https://user-images.githubusercontent.com/9497415/141995243-d209457e-d0a8-469a-ac49-b30e1bada24d.png)

The configuration of Web Deploy is

![image](https://user-images.githubusercontent.com/9497415/14

[2021-11-16 14:23] LeifOttar opened #6923 "dotnet"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

dotnet is not recognized as an internal or external command, operable program or batch file

[2021-11-16 14:23] #6923 closed

[2021-11-16 15:14] hammonswz opened #6924 "Command not found"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-11-16 15:41] timheuer commented on #5567
@SymbioticKilla please report through VS Feedback and send me the link of the issue you reported...I'll route it accordingly.

[2021-11-16 15:41] Erexo opened #6925 "Garbage collection method is not manageable by environment variables in .net 6"
### Describe the bug
[Documentation](https://docs.microsoft.com/en-us/dotnet/core/run-time-config/garbage-collector#workstation-vs-server) mentions that user is able to change the default Server garbage collection to Workstation garbage collection via either `COMPlus_gcServer` (pre .net6) or `DOTNET_gcServer` (in .net6) Environment variable.
It was working (the COMPlus env) in .net5, but after pro

[2021-11-16 16:47] EnricoTirotta commented on #6903
Some issue here with .Net SDK standalone installation.
I try on my new **MacBook Air M1 2020**. **Monterey OS**.

_home@Air-di-Enrico ~ % dotnet
zsh: command not found: dotnet_

Spotlight didn't find any folder _dotnet/sdk_ or something else. I manually search for dotnet, there isn't on HD.

I installed Visual Studio Preview 3 for Mac, with .Net 6. This fix the issue

home@Air-di-Enrico ~ % dotnet

[2021-11-16 17:32] steveharter commented on #2802
Note that `JsonIgnoreCondition.WhenWritingDefault` implies `WhenWritingNull` for reference types. The default value for a reference type is `null`.

[2021-11-16 20:12] diliboy88 commented on #6856
thanks

[2021-11-16 20:19] #6856 closed

[2021-11-16 20:29] mairaw commented on #6924
So did you manage to install the SDK or not? And what is your macOS version?

Here are some topics that perhaps might help you:
https://docs.microsoft.com/dotnet/core/install/how-to-detect-installed-versions?pivots=os-macos
https://docs.microsoft.com/dotnet/core/install/macos

[2021-11-16 21:33] dommnk opened #6926 "Blazor template app CS0103 error"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/add
Operating System: Windows 10
Visual Studio v16.11.1
.Net SDK 6.0.100 installed

I have come to an issue while trying to create new project using Blazor template in Visual Studio 2019. After creating new Blazor project using template Blazor Server App I get an error at every line which includes '@' mark such as in

[2021-11-16 21:40] dsplaisted commented on #6916
@vitek-karas @mateoatr @agocke for triage

[2021-11-16 21:50] mairaw commented on #6926
Can you run `dotnet --list-sdks`?  Also, the tutorial has now been updated to use .NET 6 SDK, which would require Visual Studio 2022.

[2021-11-16 21:52] dommnk commented on #6926
This is the outcome of this command
![image](https://user-images.githubusercontent.com/73101500/142071733-291d7b80-6d84-400a-9ffe-ab4807e01a76.png)

Also the problem occured before version 2022 was available

[2021-11-17 00:22] pranabsikder opened #6927 "dotnet run"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-11-17 00:22] pranabsikder commented on #6927
dotnet run

[2021-11-17 00:22] pranabsikder commented on #6927
dotnet run

[2021-11-17 02:02] johndrosa opened #6928 "Errors from 'Object' folder"
.NET: v6.0.1
VS Code: v1.62.2
Extensions: C# v1.23.16 | .NET install Tool for Extension Authors v1.4.0 | NuGet Package Manager GUI for VSCode v1.1.9

I ran `dotnet new console -o newApp` via command prompt
From VSCode I open a terminal and run `dotnet run`
The code runs as expected, but VSCode also shows 22 Problems and I cannot find any information to clear them

![image](https://user-images.gith

[2021-11-17 03:16] hamarb123 opened #6929 "Is "release-notes/releases-index.json" supported for automatic download?"
Hi, just wondering if the json files listed in `release-notes/releases-index.json` (and `release-notes/releases-index.json` itself using the link https://raw.githubusercontent.com/dotnet/core/main/release-notes/releases-index.json) are supported for downloading .NET Runtime installer programmatically. I know there is the install-script, but I was looking for something that actually installs it glo

[2021-11-17 03:18] hamarb123 commented on #6929
Just to clarify, what I'm trying to achieve is some sort of function that can download the .NET Runtime or Desktop Runtime installer for x64, x86, and arm64 on Windows and macOS, as an exe or pkg. It should automatically get the latest installer for any given .NET / .NET Core version (ie. 1.0, 1.1, 2.0, 2.1, 2.2, 3.0, 3.1, 5.0, 6.0).

[2021-11-17 03:33] datvm commented on #6918
@eiriktsarpalis Hi, just create a new project with Worker template and you have the problem immediately in `Program.cs` file:

![image](https://user-images.githubusercontent.com/6388546/142129725-3244b2d9-860d-4f7f-ac03-fae549c56084.png)

[Github Repo](https://github.com/datvm/DemoIntelliSenseProblem) if you still need it.

[2021-11-17 03:57] johndrosa commented on #6928
I was provided the following document [https://github.com/dotnet/cli-lab/releases](url) to download the `.msi` tool for uninstalling .NET sdk and runtimes.
I ran `dotnet-core-uninstall remove --all-but-latest --sdk` and removed the following sdks

![image](https://user-images.githubusercontent.com/38889348/142131728-d93ddcf5-3dc0-4da2-b3f1-a4b0ccb0cdb4.png)

Once those were removed, I restarted VS

[2021-11-17 04:11] mairaw commented on #6927
Can you please explain what issues you’re having?

[2021-11-17 04:16] mairaw commented on #6929
Can you comment on that @rbhanda?

[2021-11-17 05:14] mairaw commented on #6926
.NET 6 has had a requirement for VS 2022 Previews for a while now.

But I'm curious if you still have this issue or not. Are you running .NET 6 on VS 2019 or not? It's not going to work if so.

[2021-11-17 08:24] SymbioticKilla commented on #5567
@timheuer  Thank you! https://developercommunity.visualstudio.com/t/VS2019--Installation-of-SDK-60-produce/1585314?space=8&q=vs2019+3.1&stateGroup=active

[2021-11-17 08:31] isen-ng opened #6930 "[macos] x64 binary is now installed in `/usr/local/share/dotnet/x64/dotnet`"
### Description

Recently dotnet-core for macos got support for arm64 versions. With this new support, I noticed that the x64 versions of the new packages now install the `dotnet` executable at `/usr/local/share/dotnet/x64/dotnet`, instead of `/usr/local/share/dotnet/dotnet`.

The executable for arm64 versions are still installed at the old location, `/usr/local/share/dotnet/dotnet`. Only the x64

[2021-11-17 09:32] dommnk commented on #6926
Well I did install .NET 6 Yesterday, so until yesterday I have been using .NET 5. Following your advice I installed VS 2022 and you are right, everything works fine now. I am really happy and appreciate your help since I couldn't find any helpful info about this issue on the internet. Thank you so much.

[2021-11-17 12:30] svick commented on #6930
Yes, this is an intended change made so that x64 and ARM versions of .Net can live together. See [the *x64 emulation model* document on dotnet/designs](https://github.com/dotnet/designs/blob/main/accepted/2021/x64-emulation-on-arm64/x64-emulation.md) for more details.

[2021-11-17 12:39] schovan commented on #6907
I fixed it adding this to xaml file:

[code]

[2021-11-17 12:42] mikeKuester commented on #6907
But you don't use VSBuild or VSTest Task, do you?

[2021-11-17 12:43] RyantheLeon commented on #6907
I agree that this works, and I'm grateful for it. It'd also be nice to have a more permanent fix. This won't work if there's a .net 6.1, or when .net 7 comes out.

[2021-11-17 12:46] schovan commented on #6907
I use `DotNetCoreCLI@2`.

[2021-11-17 15:18] Master-Oliveira opened #6931 "HttpClient PutAsync/PostAsync with big payload works on .Net472 but not in .NetCore5"
### Description

I have a very simple code to send a Put to an REST Api (Api developed in .NetCore) and published in Azure as an AppService.

The code works with small payloads (json up to around 70k) but if the payload starts to become bigger than that, the problem starts to appear (in .Net5 only).

This exact same code works perfectly in .Net4.7.2 but in .NetCore5 it throws an error. One importa

[2021-11-17 15:28] mairaw commented on #6930
@richlander anything to add here or can this be closed?

[2021-11-17 15:35] KarthiSekar24 opened #6932 "Not Able to Navigate Custom URL using GetUriWithQueryParameter"
**Bug Description:**

I need to create a new URI based on the custom path value. But it is not able to achieve from my end.

**Replication Steps:**

[code]
In the above sample it navigate to `https://localhost:7141/?value=3`

But i need to Navigate a value using custom path
[code]
 **Expected Result:**  `https://localhost:7141/counter?value=3`
**Actual Result:** `counterhttps://localhost:7141/?val

[2021-11-17 15:50] mairaw commented on #6903
@marcpopMSFT can you check this issue?

[2021-11-17 17:35] marcpopMSFT commented on #6903
Did the customer install the arm64 or the x64 version of the SDK? If I were guessing based on the details of not finding it, I'd guess x64 which no longer sets itself on the path by default and installs to an alternative location.  See more details here: https://github.com/dotnet/sdk/issues/22380

CC @richlander

[2021-11-17 18:04] ericstj commented on #6903
Assuming this is an M1 machine.  Check that `/usr/local/share/dotnet/dotnet` exists.  If it doesn't install the ARM64 SDK.   `dotnet` may be missing if an `x64` runtime or SDK is installed on a machine which previously had an unsupported `x64` version of `dotnet`.

This could also happen if you install x64 SDK instead of arm64.  Be sure you're downloading and installing the `arm64` pkg.  You may n

[2021-11-17 18:24] EnricoTirotta commented on #6903
@ericstj  You're right. The automatic recommended package on Website is wrong for M1 machines.
I didn't check if there were multiple versions, I thought the download for the current computer was correct.

[2021-11-17 19:19] mairaw commented on #6903
@richlander and I were discussing about the page detecting the right OS but there seems to be some issues about user-agent info on M1 machines. A quick workaround would be to offer both x64 and Arm64 on that page until we can figure out if we can show just one.

@adegeo do we cover this scenario on the install docs for macOS as @ericstj described above with the location changes for M1?

[2021-11-17 19:47] vitek-karas commented on #6916
@VSadov

[2021-11-17 19:52] rremove opened #6933 ".net mac error"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: macos

I tried to install dotnet 6.0 over 3 times and each time after i finished the insalling when i open the terminal and i type "dotnet" it said "zsh: command not found: dotnet" .I tried to install dotnet 5.0 too but it gave me the same error.The installing location was Macintosh HD.

[2021-11-17 20:09] leejmonagan opened #6934 "Sdks aren't working on Windows 11"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

When I run the command to list the sdks none show, but when I look at the directory the files are where they're sup

[2021-11-17 20:25] mairaw commented on #6934
You might be hitting this known issue if you have VS installed as well: https://github.com/dotnet/core/blob/main/release-notes/6.0/known-issues.md#2-upgrade-of-visual-studio-or-net-sdk-from-earlier-builds-can-result-in-a-bad-path-configuration-on-windows

Anyway, check the output of `where.exe dotnet` and if your system is x64 and the x86 path returns first, please follow the steps at [#5962 (comm

[2021-11-17 20:29] mairaw commented on #6928
@dsplaisted is there anything with the SDKs that could be causing these errors? The only thing I could think here is that there was a global.json on the directory tree somewhere setting the version to a lower version given the `dotnet --info` command was not ran on the project directory on the screenshot above.

[2021-11-17 20:52] leejmonagan commented on #6934
Wow.

Thank you.  First I’ve ever reported an issue.  Love the fast response.

It worked.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: Maira ***@***.***>
Sent: Wednesday, November 17, 2021 3:25 PM
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [dotnet/core] Sdks aren't working on Windows 11 (Issue #6934)

You might be hitting this known issue if

[2021-11-17 21:14] mairaw commented on #6934
Great to hear!

[2021-11-17 21:14] #6934 closed

[2021-11-17 21:20] dsplaisted commented on #6928
Yes, it sounds like it might be something with global.json.  Not sure though.

@DustinCampbell to route as appropriate.

[2021-11-17 22:57] ElectricHavoc commented on #6928
I was helping him troubleshoot this. We checked dotnet --info, everything pointed to 6. The command line was totally fine. If there was any global json, it could have been only in something omnisharp picked up. We tried installing vscode-insiders for a clean start (same issue). Tried a lot of things, then recommended he clean up because I saw an older sdk from the --info output.

If I were a betti

[2021-11-17 23:12] SusLes commented on #6904
@leecow @vseanreesermsft

[2021-11-17 23:21] mairaw commented on #6926
Happy to heart that! I'm going to close the issue then. But please let us know if you are still having other issues that I might be missing.