[2020-04-07 23:29] bartonjs commented on #4533
When the member after `?.` evaluates to a value type, the evaluated type of the `?.` expression is a Nullable wrapper over that type, because the `?.` operator is just a syntactic shortcut for  `a?.B()` becomes `(a != null ? a.B() : null)`.

In your case, it expands to

[code]

but the if-expression isn't a valid boolean expression (it's an expression that evaluates to `Nullable<bool>`, aka `bool?

[2020-04-07 23:34] carlossanlop commented on #4536
Translation:

@boroil can you provide more information? What were you trying to do?

[2020-04-07 23:36] dagood commented on #4526
Yep, here: https://github.com/dotnet/core/issues/3868. It's kind of the opposite: the package wasn't uninstalled correctly, so removing the folder is a workaround that lets the SDK download a replacement from nuget.org.

@seunsaber if you can tell us what Linux distro you're using and how you installed .NET Core (package manager?) we can probably confirm you're hitting the same problem.

[2020-04-07 23:37] carlossanlop commented on #4535
Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-04-07 23:38] carlossanlop commented on #4510
Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-04-07 23:40] mairaw commented on #4449
Did you install the SDK @uuc110? If so, have you tried closing and reopening the terminal window?

[2020-04-07 23:41] mairaw commented on #4429
@shirhatti can you help with this one?

[2020-04-07 23:41] carlossanlop commented on #4507
The first screenshot seems to be a crash in Visual Studio. Please report it following these steps:
https://developercommunity.visualstudio.com/content/problem/post.html?space=8

The second issue seems to be caused because the necessary packages were not installed. Did you install the developer pack as suggested?

[2020-04-07 23:42] mairaw commented on #4416
Can you paste a screenshot of the steps you have done in the console window?

[2020-04-08 00:02] bartonjs commented on #4533
(Closing since there's not a product bug here, just nuance of a C# language feature)

[2020-04-08 00:02] #4533 closed

[2020-04-08 00:16] rugero3 commented on #4507
Hello,
Effectively, the first picture is a crash of visual Studio After some
updates, the problem got solved.

However, another problem came along after those updates. Something like
Hyper V is blocking the emulator when I try to debug my code.

I've looked for some documentations about the issue, but none of them gave
me the right answer. Could you please guide exactly to fix the problem ?

Thank

[2020-04-08 00:35] Samprash commented on #3550
I am facing the same issue. Has anyone got this resolved? Please help!

[2020-04-08 00:42] uncvrd commented on #3550
For those still dealing with this issue, we were able to overcome this problem by changing our image to Ubuntu Bionic.

[2020-04-08 01:15] gnsharans commented on #4508
Thank you for your response

On Wed, 8 Apr 2020, 00:12 Maira Wenzel, <notifications@github.com> wrote:

[2020-04-08 02:11] Ukieman opened #4537 "'dotnet' is not recognized as an internal or external command error"
I was trying to confirm if my system has .NET Framework 4.8 installed. I used the 'dotnet' command but this may wrong approach as I got this command from a page that was discussing installation of .NET SDK (64 bit).

I have looked at the Registry Editor subkey: HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\NET Framework Setup\NDP. The installed versions are listed under the NDP subkey. And found "Release

[2020-04-08 02:36] RahmanM opened #4538 ".Net Core 3.1 binding doesn't work??"
Hi there,

I just created a OOB WEB API project with .net core 3.1, Visual Studio 2019, Windows 10. Somehow the FromQuery doesn't seem be working. The OOB WeatherForecastController with extra actions attached.

1) - This works -> https://localhost:44332/weatherforecast
2) - Doesn't work -> https://localhost:44332/weatherforecast?top=5 (doesn't work even if I add public IEnumerable<WeatherForecast>

[2020-04-08 08:47] indyhicks opened #4539 "Template "ASP.NET Core Web App" could not be created. Access to the path 'C:\WINDOWS\system32\myWebApp' is denied."
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-04-08 08:48] indyhicks commented on #4539
Access to the path "is denied"
Template "ASP.NET Core Web App" could not be created.
Access to the path 'C:\WINDOWS\system32\myWebApp' is denied.

[2020-04-08 08:55] indyhicks commented on #4539
OS: Windows 10

[2020-04-08 09:04] DanielAyo opened #4540 "Update releases-index.json to include version 3.1.3"
# General

We have a build that monitors updates to the dotnet core releases JSON feed but it does not show 3.1.3 as the latest release for dotnet core 3.1

https://dotnetcli.blob.core.windows.net/dotnet/release-metadata/releases-index.json

[2020-04-08 09:51] delanym commented on #4485
@MichaelSimons

Before running dotnet restore, copy the attached csproj file:
`dkr cp ./webapps_webinterfacewebapp/src/main/cs/MvcWebFront/MvcWebFront.csproj fda3f4b9b68a:/`

[MvcWebFront.csproj.txt](https://github.com/dotnet/core/files/4449643/MvcWebFront.csproj.txt)

[2020-04-08 10:38] XeonFX commented on #4538
For example you can write just one Get function with nullable parameters.
[code]

[2020-04-08 10:42] dukelangcen opened #4541 "dotnet.exe - System Error"
The prorgramme can't start because
api-ms-win-crt-runtime-|1-1-0.dll
is missing from your computer. Try reinstalling the program to fix this problem.

[2020-04-08 10:56] RahmanM commented on #4538
Sorry, would like to know why it is not working. According to docs it should work. And I have used it that way in the past.

[2020-04-08 11:33] Arkasian opened #4542 "Script tries to downagrade .NET Standard 2.1"
# Issue Title

Script tries to downgrade .NET Standard but it fails.

# General
Your instalator script fails when trying to install packages on deb-based distro - Mint 19.4.
You missed there __--allow-downgrades__, so it can downagrade to older .NET Standard package of version 2.1.
As far as I remember .NET 3.1 was able to use .NET Standard 2.2 so why are you downgrading to 2.1 on .NET 5?
[Preview

[2020-04-08 12:03] XeonFX commented on #4538
You need to read more about how routing works. First the route matching happen then query parameters are passed.

This doesn't work because you pass query _?top=5_ to this method.
`
[HttpGet]
public IEnumerable<WeatherForecast> Get()
`

This doesn't work because you used comma instead of slash.
`[HttpGet("{top},{cold}")] -> [HttpGet("{top}/{cold}")]`
And again query _?top=5&cold=false_ is passed t

[2020-04-08 12:35] RahmanM commented on #4538
Thanks that slash was the solution!

[2020-04-08 12:35] #4538 closed

[2020-04-08 12:38] XeonFX commented on #4538
You can write it this way to use all routes and query parameters at same time like:
with query parameters:
`/weatherforecast?top=5&cold=true`
with route:
`/weatherforecast/5/true`
or mixed:
`/weatherforecast/5?cold=true`
[code]

[2020-04-08 13:09] XeonFX commented on #4541
This could happen when you create self-contained application with windows runtime and don't have all files that start with `api-ms-*` in your executable directory.

[2020-04-08 14:11] dagood commented on #4542
.NET Standard 2.1 is the latest version, and .NET Standard 2.2 shouldn't exist. If 2.2 did exist, it would actually install side-by-side with 2.1 and not cause any conflict, because they have different package names, `netstandard-targeting-pack-2.1` and `netstandard-targeting-pack-2.2`. I think what's actually happening for you is a difference between the version of `netstandard-targeting-pack-2.1

[2020-04-08 14:39] AnukulSharma commented on #3075
Whether or not we can have DotNetCore preview and release framework versions alongside each other.
The normal DotNetCore framework behavior is for the preview version to be removed when we install the release version.
Do we have any way to achieve mentioned scenario, If yes Can anyone provide me steps for how to get the 2 versions installed alongside each other.
While installing dotnet-hosting-3.0

[2020-04-08 15:25] RupenAnjaria commented on #2448
@princeo911 yes, that worked, also we have to move Dockerfile to the root. So the problem boil downs to that if we generate doclerfile using Visual Studio (Right click on project -> Add -> Docker support) then we **manually** have to copy the file to the root.

Ideally, Visual Studio team should fix it.

[2020-04-08 15:28] WhitWaldo opened #4544 "Expand on caller information"
That said, I just learned about the utility of the various caller information attributes as described at [https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/caller-information](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/caller-information). These are great,  but I often have a number of classes that implement an interface and thus all use the s

[2020-04-08 16:24] leecow commented on #4520
Only .NET Core is supported on ARM devices. Downloads for the SDK or Runtime binary archives (tar.gz) can be found at https://dotnet.microsoft.com/download/dotnet-core/3.1 (ARM32 for Pi 3 and ARM64 for Pi4). Instructions for installing using the tar.gz file are in the latest [Install Instructions](https://github.com/dotnet/core/blob/master/release-notes/3.1/3.1.3/3.1.3-install-instructions.md#inst

[2020-04-08 16:32] leecow commented on #4537
`dotnet` is a .NET Core command, not Framework so that won't do what you want. The regkey you found does indicate 4.8 so seems like you're good to go? You should also see an entry in the Programs Control Panel.

[2020-04-08 16:43] shirhatti commented on #4429
As I best understand from your error message, it looks like you're encountering this-https://success.docker.com/article/docker-for-windows-fails-with-a-daemon-not-running-message

If you don't have success with this, I'd recommend asking in the Docker for Windows forum where you'd probably have better luck- https://forums.docker.com/c/docker-desktop-for-windows

[2020-04-08 16:43] #4429 closed

[2020-04-08 16:46] #4544 closed

[2020-04-08 16:46] leecow commented on #4544
Issue moved to [dotnet/runtime #34695](https://github.com/dotnet/runtime/issues/34695) via [**ZenHub**](https://www.zenhub.com/)

[2020-04-08 18:14] carlossanlop commented on #4507
Can you please share the exact error message?

[2020-04-08 18:30] carlossanlop commented on #4287
@ms0713 is it possible that one of these conditions is not met and VS doesn't know what to launch?
`<PropertyGroup Condition=" '$(OS)' == 'Windows_NT' and 'TargetFrameworkIdentifier' == '.NETCoreApp' and '$(SelfContained)' != 'true'">`

[2020-04-08 18:31] carlossanlop commented on #4319
@leecow

[2020-04-08 18:31] carlossanlop commented on #4359
No response in 20 days. Closing. @sheen1 feel free to reopen if you have an answer.

[2020-04-08 18:34] carlossanlop commented on #4491
@wli3 @dsplaisted would you be the best people to help with this?

[2020-04-08 18:34] carlossanlop commented on #4502
Answered above, closing. If you have any follow-up questions, feel free to reopen.

[2020-04-08 18:34] #4502 closed

[2020-04-08 18:35] carlossanlop commented on #4522
The tutorial instructions specify that any cmd windows need to be closed and reopened. This is most likely the culprit. Closing.

[2020-04-08 18:35] #4522 closed

[2020-04-08 18:37] carlossanlop commented on #4509
No response in 4 days. Closing.

[2020-04-08 18:37] #4509 closed

[2020-04-08 18:37] carlossanlop commented on #4511
No response in 4 days. Closing.

[2020-04-08 18:37] #4511 closed

[2020-04-08 18:37] carlossanlop commented on #4037
No response in 2 weeks. Closing.

[2020-04-08 18:37] #4037 closed

[2020-04-08 18:38] carlossanlop commented on #4456
No response in two weeks. Closing.

[2020-04-08 18:38] #4456 closed

[2020-04-08 18:39] carlossanlop commented on #4434
The description above is most likely the reason for this error. Closing. Please reopen if you have additional questions.

[2020-04-08 18:39] #4434 closed

[2020-04-08 18:40] carlossanlop commented on #4078
No answer since Jan 7. Closing.

[2020-04-08 18:40] #4078 closed

[2020-04-08 18:40] dsplaisted commented on #4491
@amirmou That is very strange.  What do the contents of sample1.csproj look like?

Could you also run `dotnet restore -bl` to create a binary log and share that?  Be aware that this will include information from your machine such as environment variables, paths, etc.  See here for more info: http://aka.ms/binlog

[2020-04-08 18:44] carlossanlop commented on #4483
@JayMD5981 I suspect you're using Notepad. So try saving the file enclosing the name with double quotes:

"file.html"

That way the extension will be respected, instead of adding the default extension "txt".

Since there was no response in 7 days, I'm closing this.

[2020-04-08 18:44] #4483 closed

[2020-04-08 18:49] carlossanlop commented on #4416
Related: https://github.com/dotnet/core/issues/4541

[2020-04-08 18:54] rugero3 commented on #4507
Yes, of course. The message is :

CPU acceleration status: GVM is not installed on this machine
More info on configuring VM acceleration on Windows:
https://developer.android.com/studio/run/emulator-acceleration#vm-windows
If you are using an Intel CPU: please check that virtualization is enabled
in the BIOS and that HAXM is installed and usable.
Note: if Hyper-V or Credential Guard is enabled, th

[2020-04-08 19:11] JayMD5981 commented on #4483
Hello Mr. Lopez

Thank you, you can close off.

Thank you.

Enjoy your day.

Jay Moodley.

Cell:  083 277 1289

From: Carlos Sanchez Lopez [mailto:notifications@github.com]
Sent: Wednesday, April 08, 2020 20:45
To: dotnet/core <core@noreply.github.com>
Cc: JayMD5981 <moodley@mweb.co.za>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/core] Cannot "Save" .txt file as a ".html" file (#448

[2020-04-08 20:24] jlgpjong commented on #4531
got it fix by restarting the pc and redo installation dotnet3.1

[2020-04-08 20:24] #4531 closed

[2020-04-08 20:48] leecow commented on #4319
About the only thing I can think of is to clear out the nuget cache (/home/fabian/.nuget and /tmp/NuGetScratch. It will be rebuilt on your next build or `dotnet restore`.

[2020-04-09 03:17] w4mmp commented on #4520
Hello,

To address this and other responses.   The application is a .Net Core application with Microsoft.Windows.Compatibility installed so that I have access to .Net Framework API.   This works on Windows but does not on Linux ARM.

The question is:  Will  .Net Core support .Net Framework on Linux in the future?

Regards,

Ron Patton

[2020-04-09 07:22] componentspace opened #4546 "Add AES-GCM support to EncryptedXml"
Shibboleth now defaults to AES-GCM for XML encryption (https://wiki.shibboleth.net/confluence/display/IDP4/GCMEncryption) and a number of other platforms include this support.

The System.Security.Cryptography.Xml.EncryptedXml class supports 3DES and AES-CBC for data encryption but not AES-GCM. I would like to see this support added.

[2020-04-09 17:40] amirmou commented on #4491
[sample1.zip](https://github.com/dotnet/core/files/4457774/sample1.zip)

[2020-04-09 17:43] mharrisn opened #4547 "JWT Bearer Tokens Fail with IDX20803 in 3.1.x on macOS 10.15.4"
# Issue Title

I recently upgraded a .Net 2.1 Web API Project to 3.1 and the API now throws an error every time I attempt to make a call with an Authorization header.

# General

While inspecting the debug console there is a fairly common pattern.  This issue did not exist using .Net core 2.x on Mac OS. It appears to not be an issue when run on windows. When the API request is initiated, these exc

[2020-04-09 19:33] rainersigwald commented on #4404
@gp2-gp2 I'll add MSBump to the list of failing tasks: microsoft/msbuild#5202

[2020-04-09 20:54] scalablecory commented on #4541
Please ensure you have the dependencies listed at https://docs.microsoft.com/en-us/dotnet/core/install/dependencies?tabs=netcore31&pivots=os-windows installed

[2020-04-09 22:07] Gauravsinghania54 opened #4548 "Issues with dotnet command"
I installed a Asp.net core on my mac after that I typed dotnet in terminal but it didnt worked??
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-04-09 22:15] hemantwithu opened #4549 "Throwing error when trying to start the container"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/docker-image
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

It was not possible to find any installed .NET Core SDKs

Did you mean to run .NET Core SDK commands? Install

[2020-04-10 03:13] orassr commented on #3798
And that was my welcome error with Docker :/
I can't even tell if it is a issue with my solution or it's coming from docker - windows.

`Severity	Code	Description	Project	File	Line	Suppression State
Error	CTC1014	Docker command failed with exit code 1.
hcsshim::PrepareLayer - failed failed in Win32: Incorrect function. (0x1)`

[2020-04-10 04:05] acnicholls commented on #4519
installing the libicu63 for debian10 package worked.  Thanks @scalablecory

[2020-04-10 04:16] jasader opened #4550 "dotnet did not work"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

I started Microsoft.NET Core SDK 3.1.201 and installed it in
my PC, and in Command Prompt, enter dotnet, but no responses. nothing happen.
Would you teach me what to do?

Using Windows 10 PC(Lenovo)
Path: C:\Program Files\dotnet\sdk\3.1.201\cs\dotnet.resources.dll
No error messa

[2020-04-10 04:45] uthandaraja commented on #4099
Please provide update or solution on this issue.

[2020-04-10 05:06] GrabYourPitchforks commented on #4548
Please provide information about the exact error message you're seeing.

[2020-04-10 05:08] davidfowl commented on #4548
Try restarting the terminal after installing

[2020-04-10 05:09] Gauravsinghania54 commented on #4548
issue solved

Thank you

On Fri, Apr 10, 2020 at 12:08 AM David Fowler <notifications@github.com>
wrote:

[2020-04-10 05:48] dvdmatt opened #4551 "Server permission requirements not documented"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/run
Operating System: linux

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Running through the tutorial everything was fine until I tried to launch the app.  Nothing showed up.
I turned off the f

[2020-04-10 06:24] leotsarev commented on #4500
List of fixed in 5.0 GitHub issues contains a lot of 'wontfix'. It's not very convenient to browse

[2020-04-10 14:17] kingsjakal opened #4552 "The template was not created"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

D:\SampleMicroservice>dotnet new webapi -0 myMicroservice --no-https
Getting ready...
Couldn't find an installed t

[2020-04-10 14:20] kingsjakal commented on #4552
My mistake i have added as -0 (zero) instead of o

[2020-04-10 14:20] #4552 closed

[2020-04-10 20:15] isolin opened #4553 "MathF.Round produces misleading exception"
[code]

produces an `ArgumentOutOfRange` exception stating
[code]
This is a wrong statement (actually it applies to `double`), since `private const int maxRoundingDigits = 6;`

It would be great to fix the exception message to avoid confusion when rounding with `MathF`.

[2020-04-10 21:04] carlossanlop commented on #4550
Did you close and reopen the command line window after installing the SDK? It's one of the steps in the tutorial.

[2020-04-10 23:07] ggonsalva opened #4554 "Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run Operating System: windows"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-04-11 07:04] MadukaDeAbrew opened #4556 "Why http://localhost:5000 didn't open with google chrome."
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-04-11 12:13] seunsaber commented on #4526
Hi guys, thanks for the replies. I had to reinstall the SDk. Maybe I did something wrong during the original installation. All is well now, thanks.

[2020-04-11 12:13] #4526 closed

[2020-04-11 15:03] heartacker opened #4557 "fail to load `hostfxr.dll`"
# Issue Title

using vscode debuging dotnetcore project

# General
-------------------------------------------------------------------
You may only use the Microsoft .NET Core Debugger (vsdbg) with
Visual Studio Code, Visual Studio or Visual Studio for Mac software
to help you develop and test your applications.
-------------------------------------------------------------------
Failed to load the

[2020-04-11 15:55] AlphaComposite opened #4558 "Build error with .NET Core 5 Preview 2 using Visual Studio for Mac"
Getting this error when trying to build using Visual Studio for Mac (macOS Catalina - latest version). Yes, the .NET 5 Preview 2 SDK is installed. As a relevant aside, the same project builds and runs while using JetBrains Rider.

![image](https://user-images.githubusercontent.com/25360554/79048261-7d674780-7be1-11ea-9b43-6c376fa81230.png)

[2020-04-11 19:46] Ukieman commented on #4537
Thanks for your response.  If you have time I'd like to know why 4.8 shows
in registry but not in my Programs Control Panel.

On Wed, Apr 8, 2020 at 9:32 AM Lee Coward <notifications@github.com> wrote:

[2020-04-11 21:27] GrabYourPitchforks commented on #4556
Provide details about the problem you're experiencing. Include the exact error message, code sample, and anything else that is relevant.

[2020-04-11 21:27] GrabYourPitchforks commented on #4554
Provide details about the problem you're experiencing. Include the exact error message, code sample, and anything else that is relevant.

[2020-04-12 02:08] #4359 closed

[2020-04-12 02:09] mairaw commented on #4166
I don't have permissions on this repo but I'd love to get the auto closing bot here for case #3 (The user doesn't respond when asked for details.)

[2020-04-12 02:11] mairaw commented on #3246
@shirhatti can you look at this issue?

[2020-04-12 02:13] mairaw commented on #3798
@shirhatti can you help with this?

[2020-04-12 02:14] mairaw commented on #3824
@shirhatti can you help?

[2020-04-12 02:15] mairaw commented on #3827
Did you make sure you were running the command inside the myWebApp directory @hmm0920?

[2020-04-12 02:16] mairaw commented on #3840
@shirhatti can you look at this one?

[2020-04-12 02:23] mairaw commented on #3923
Hi @saravanan1981!

What is the version of Windows you're running?
You might need to install some additional dependencies as described in https://docs.microsoft.com/en-us/dotnet/core/install/dependencies.

@leecow @Thraka the error message is very similar to the one described in the section Windows 7 / Vista / 8.1 / Server 2008 R2, not quite the same.

There, the filename is api-ms-win-crt-runtime

[2020-04-12 02:24] mairaw commented on #3983
@shirhatti can you help here?

[2020-04-12 02:26] mairaw commented on #3992
@Nelsonh123 did you try to open a new command prompt after you installed the SDK as detailed in the instructions?

[2020-04-12 02:30] mairaw commented on #4004
It seems you don't have the latest SDK installed. Can you `dotnet --info` to see if you're running version 3.1 @jonasatadesso?

[2020-04-12 02:31] mairaw commented on #4028
@FAYENUWO-maker what is the issue you're having? We'll need more details in order to help you.

[2020-04-12 02:34] mairaw commented on #4030
That is not expected. Can you confirm what version of the .NET Core SDK you're running? You can type dotnet --info to see that.
Thanks!

[2020-04-12 02:35] mairaw commented on #4055
Duplicate of #3824

[2020-04-12 02:35] #4055 closed

[2020-04-12 02:37] mairaw commented on #4066
We'll need a bit more information to help you.
Can you confirm what version of the .NET Core SDK you have installed? You can do that by typing `dotnet --info`.

[2020-04-12 02:39] mairaw commented on #4067
Hi @Hazeez-ur-Rehman! Can you share what your code looks like after you've modified it? It seems it had some issues in the modified code since it ran ok the first time.

[2020-04-12 02:42] mairaw commented on #4101
Did you try opening a new console window @NILOY5493? Also, did you confirm that you're running a 32-bit Windows?

[2020-04-12 02:43] mairaw commented on #4558
@jongalloway can you help with this?

[2020-04-12 02:46] mairaw commented on #4557
What version of Windows are you running @heartacker? You might have to install some additional dependencies depending on your version: https://docs.microsoft.com/en-us/dotnet/core/install/dependencies?tabs=netcore31&pivots=os-windows#windows-7--vista--81--server-2008-r2

[2020-04-12 02:52] heartacker commented on #4557
hi, i am using windows 10 version 2004(build 19041.173)

[2020-04-12 02:57] orassr commented on #3877
That worked for me, thank you so much!

[2020-04-12 08:16] Wagnerp opened #4559 "Build error when using .NET 5"
Hi,

I'm receiving the following error while building a application for Windows: **error NETSDK1045: The current .NET SDK does not support targeting .NET Core 5.0. Either target .NET Core 3.1 or lower, or use a version of the .NET SDK that supports .NET Core 5.0.**

Is there anyway of resolving this?

[2020-04-12 08:45] svick commented on #4559
Are you sure you are using .Net SDK 5.0 Preview? What does `dotnet --info` print for you?

[2020-04-12 08:54] Wagnerp commented on #4559
Hi @svick, yes I've installed 5.0.0-preview.2.2016.6 (x86 & x64)

![Annotation 2020-04-12 095110](https://user-images.githubusercontent.com/949607/79064760-9801f500-7ca3-11ea-8015-1226149a171b.png)

[2020-04-12 09:05] svick commented on #4559
Is it possible that you have a global.json somewhere in the directory structure above your project? You can check that by running `dotnet --info` in your project's directory.

Also, are you building from the command line or using Visual Studio? If it's Visual Studio, I believe VS 16.6 Preview is required. Are you using that?

[2020-04-12 09:19] Wagnerp commented on #4559
Both yes I'm using VS 16.6 Preview & building the project & making NuGet packages via cmd. I do have the stable release of Visual Studio 16.5 installed, which I don't use. Could that be interfering? Here's the info from the directory structure.

![Capture](https://user-images.githubusercontent.com/949607/79065247-eb297700-7ca6-11ea-8064-f2a7244833b7.PNG)

[2020-04-12 09:27] bilalmalik777 opened #4560 "dotnet core 3.1 updating issue"
I have updated my dotnet core portal from 2.2 to 3.1 and facing the following error on the landing page

I even updated the Microsoft.ApplicationInsights.AspNetCore to the latest version.
Please help me to solve this issue
![image](https://user-images.githubusercontent.com/23011613/79065438-d3022980-7c9f-11ea-884d-a496039daf7a.png)

[2020-04-12 09:44] svick commented on #4559
Then I'm stumped, sorry. Hopefully, someone else will be able to help you.

[2020-04-12 09:49] Wagnerp commented on #4559
@svick No problem, thanks anyway!

[2020-04-12 10:58] jonasatadesso commented on #4004
According to dotnet –info I’m running this:

Version:   3.1.101
Commit:    b377529961

IT Dienstleistungen fuer die Zeit der Krise
https://www.adesso.de/de/impulse/it-dienstleistungen-fuer-die-zeit-der-krise/index.jsp?pk_campaign=IT_Dienstleistungen_fuer_die_Zeit_der_Krise&pk_source=Signatur&pk_medium=Banner

-------------------------------------------------------

--------------------------------

[2020-04-12 11:45] utsabshrestha commented on #2001
### So here is the solution, if you are working on linux
while running the **dotnet run** if you stop the server  using **ctr + z** then it _Ctrl+z_ sends the SIGTSTP (Signal Tty SToP) signal to the foreground job but don't actually stop the running kestrel server, so you have to mannualy end the process of the kestrel server.
**SOLLUTION**  Only use **ctr + c** to stop the kestrel server, actuall

[2020-04-12 11:46] utsabshrestha commented on #948
### So here is the solution, if you are working on linux
while running the **dotnet run** if you stop the server  using **ctr + z** then it _Ctrl+z_ sends the SIGTSTP (Signal Tty SToP) signal to the foreground job but don't actually stop the running kestrel server, so you have to mannualy end the process of the kestrel server.
**SOLLUTION**  Only use **ctr + c** to stop the kestrel server, actuall

[2020-04-12 11:51] utsabshrestha commented on #4038
### So here is the solution, if you are working on linux
while running the **dotnet run** if you stop the server  using **ctr + z** then it _Ctrl+z_ sends the SIGTSTP (Signal Tty SToP) signal to the foreground job but don't actually stop the running kestrel server, so you have to mannualy end the process of the kestrel server.
**SOLLUTION**  Only use **ctr + c** to stop the kestrel server, actuall

[2020-04-12 15:36] flatrick opened #4561 "Path.GetFullPath() doesn't throw exception with malformed paths"
# General

I was trying to write a function to validate that a pathway was even remotely correctly supplied before trying to create the folder-structure, and I noticed that no matter what I did, it never threw the **NotSupportedException** that I was expecting, it wasn't until I tested the same code in .Net Framework 4.7.2 that it behaved as expected.

For example, with .Net Core 3.1.201, it doesn

[2020-04-13 00:16] ispysoftware opened #4563 "icmp ping broken on osx under su account"
icmp ping broken on osx under su account

# General

in a dotnet core app calling ping works if not running under the super user account. If you run it as root it fails with operation not supported errors.

using dotnet core v3.1.201 on OSX Mojave

sample app provided. Output:

seans-Mac-mini:Agent sean$ dotnet testping.dll
found 192.168.15.1
found 192.168.15.7
found 192.168.15.0
found 192.168.15.

[2020-04-13 02:18] jasonliaocn opened #4564 "System.Speech.Synthesis.SpeechSynthesizer not implemented in core?"
I'm trying to migrate some of the Wpf application from .net framework to .net core, then I cannot find a replacement of the System.Speech.Synthesis.SpeechSynthesizer which exists in the System.Speech.dll.
And the [msdn docs](https://docs.microsoft.com/en-us/dotnet/api/system.speech.synthesis.speechsynthesizer?view=netframework-4.8) says not supported in .net core.
Is this removed or how can we use

[2020-04-13 02:38] be5invis commented on #3765
@dagood
WiX added ARM64 support in version 3.14.
ref: wixtoolset/issues#5558 (comment)

[2020-04-13 11:59] dgroh opened #4565 "AuthenticationException in SignalR client Hub in .netcore 3.1"
# Issue Title

AuthenticationException in SignalR client Hub in .netcore 3.1

# General

Basically I have an WPF client based on .netcore 3.1 (SignalR client) which receives notification from a SignalR Hub. The hub is hosted on our server and the WPF runs on users local machine. Locally everything works fine.

When the WPF App tries to connect to the Hub I get the following error message:

Below i

[2020-04-13 15:39] habouva commented on #3240
help please i migrate from 2.2 to 3.1 and same problem i have

[2020-04-13 16:15] mairaw commented on #4495
Please see this comment from @shirhatti on the PR:
https://github.com/dotnet/website/pull/1875#issuecomment-611069647

The default template (without the --no-https flag):

- Requires a dev certificate for https
- Will redirect from http to https

Given that the dev cert experience doesn't work on Linux, I think it was a conscious choice not to change the tutorial. If we want to change, I'd only do

[2020-04-13 16:41] irlcatgirl commented on #4495
I disagree. We shouldn’t encourage a security anti-practice on Linux because “it’s too hard for developers”, we can provide instructions to create and trust the dev cert or find a way to streamline the process. I’d argue for the first, if you’re using a Linux desktop you’re a poweruser and will have to put on a little more effort to get things working. This is a valuable learning opportunity for d

[2020-04-13 16:48] leecow commented on #3923
afaik, the timezone dll is also installed by the 2015 crt installer so yes, we could add this error to the docs and point to the same solution. If the 2015 crt is already installed, a repair could be tried.

[2020-04-13 16:55] pspgo opened #4566 "Can't run web application"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/run
Operating System: linux

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant:

Hello,
When i use the command "dotnet run" after successfully creating the folder using "dotnet new webApp -o myWebApp -

[2020-04-13 17:15] vanros opened #4567 "Impersonation"
I need to do a impersonation in a .net core app, but this app will run on a linux container.

in windows a use like that
[DllImport("advapi32.dll", SetLastError = true, CharSet = CharSet.Unicode)]

I could not find any solution for this problem.

[2020-04-13 17:19] Pilchie commented on #4495
As I understand it, part of the problem is that there is no standard way to trust the dev cert on Linux.  It's different for each distro.

[2020-04-13 17:23] irlcatgirl commented on #4495
The ASP team can only provide general guidance. We can’t possibly support every Linux distribution and should focus on the most popular ones.

[2020-04-13 17:32] Tratcher commented on #4495
It makes sense to start with the Windows tutorial where the dev cert experience is the best. We can use that to gather feedback about the change.

I don't see how that's a problem, this is transparent to users.

[2020-04-13 18:00] #4566 closed

[2020-04-13 18:02] armitagemderivitec opened #4568 "Mixed C#/Swig/C++ debugging in vscode"
Initially filed on https://github.com/microsoft/vscode-cpptools/issues/5292 and referred here by @pieandcakes.

- OS and Version: OSX Remote SSH Connection to Amazon Linux 2 (RHEL7 equivalent)
- VS Code Version: 1.44.0
- Dotnet Runtime: 2.2.8
- C/C++ Extension Version: 0.27.0
- Swig 4.0.1
- GCC Version: 9.2
- GDB Version: 8.3
- Other extensions you installed (and if the issue persists after disabl

[2020-04-13 18:15] RobbieZA commented on #4520
I have the same issue.
I have a Raspberry Pi 4b running Ubuntu 19.10 ARM64 vesion:
  No LSB modules are available.
  Distributor ID:	Ubuntu
  Description:	Ubuntu 19.10
  Release:	19.10
  Codename:	eoan

I am wanting to host the sample Blazor site and have followed all the instructions (https://docs.microsoft.com/en-us/dotnet/core/install/linux-package-manager-ubuntu-1910#troubleshoot-the-package-m

[2020-04-13 22:42] scalablecory commented on #4567
I don't know if Linux has the same level of impersonation support. `seteuid` is process-wide, for instance. @wfurt  do you know?

[2020-04-13 22:44] dicksonkimeu commented on #4280
How can install .NET 3.1.1 on ubuntu and not 3.1.2 ? Becasuse 3.1.2 has breaking changes

[2020-04-14 01:55] Danieladu opened #4570 ".net core string operator does not execute with the excepted result"
# Issue Title

.net core string operator does not execute with the excepted result

# General
SDK: .net core 3.1
Environment: ubuntu 18/04

Code:
[code]
Result:
[code]

[2020-04-14 02:54] wfurt commented on #4567
Could you be little bit more specific @vanros? But I don't think Unix has same concept as Windows and I feel "Impersonation" may mean something very specific.

cc: @davidsh

[2020-04-14 03:32] benaadams commented on #4570
It's the `StringComparison.CurrentCulture` that gets used on Linux; if you change to `Ordinal` or use a `char` parameter rather than a `string` one you should get the results you are expecting:
[code]

@GrabYourPitchforks @tarekgh

[2020-04-14 05:54] bilalmalik777 opened #4571 "authorization"
# Issue Title

Be as descriptive as you can with your title.

# General

Provide details on the problem you are experiencing including the .NET Core version, operating system version and anything else that is relevant.

Please provide a code sample for your issue if it is relevant, either inline, link to a gist (or similar) or add it as a zipped attachment.

For some issues, you will get a quicker

[2020-04-14 06:36] pweissenbacher opened #4572 "System.Drawing: Image.Save() changes color of image"
# Issue Title

When saving a BMP image file as JPEG, using System.Drawing.Image.Save() changes colors of resulting image.
Specifically: Cyan colors (#2ce7b2) become magenta (#b22be7).

# General

Bug can be reproduced using following code (test image can be found in attached ZIP archive):

[test_small.zip](https://github.com/dotnet/core/files/4473260/test_small.zip)

[code]

# Environment

We trie

[2020-04-14 06:49] pweissenbacher commented on #4572
Probably related to:
https://github.com/dotnet/core/issues/4099

[2020-04-14 07:13] svick commented on #4280
@dicksonkimeu Based on a [couple](https://stackoverflow.com/a/18888235/41071) of [Stack Exchange answers](https://askubuntu.com/a/190964/5308), you can do the following:

1. `sudo apt update` to refresh the list of available versions
2. `apt policy dotnet-runtime-3.1` to see the available package versions.
3. `sudo apt install dotnet-runtime-3.1=3.1.1-1` to install the desired version of the packa

[2020-04-14 09:13] Danieladu commented on #4570
Cool, it works.

[2020-04-14 13:19] brockallen commented on #4495
There are lots of great tools for developers to create their own certs, e.g.: https://github.com/FiloSottile/mkcert. Perhaps mention this one (or another of your vetting).

[2020-04-14 15:58] tarekgh commented on #4570
@benaadams thanks for your reply.
@Danieladu let's know if you have any more questions.

[2020-04-14 15:58] #4570 closed

[2020-04-14 17:13] danmosemsft commented on #4568
You mention you're trying to implement a debugging feature. What specific assistance are you looking for? Do you believe there is a bug in the CoreCLR debugging infrastructure? It's difficult based on this info to guess at where the issue might be.

[2020-04-14 17:14] danmosemsft commented on #4541
@dukelangcen can you confirm that you have all dependencies? Have you tried repairing your .NET Core SDK? Did you publish the app as self contained -- if so is this file in the output publish folder?

[2020-04-14 17:22] armitagemderivitec commented on #4568
Hi @danmosemsft, I initially posted this on the vscode-cpptools repo and they directed me here. Based on the log attached it would seem that the CoreCLR is generating SIGTRAP signals from libcoreclr.so when in debug mode that ultimately crash the application and then the debug session. Whether this is a bug or intended behaviour is beyond my current knowledge of the code base I'm afraid.

I manage

[2020-04-14 17:25] armitagemderivitec commented on #4568
The stack trace in the call stack image is probably of most use if your trying to tie the problem to the code base.

[2020-04-14 17:28] GrabYourPitchforks commented on #4565
From the exception text:

Please double-check that your web server's SSL certificate is valid.

[2020-04-14 17:30] GrabYourPitchforks commented on #4524
Closing due to no response.

[2020-04-14 17:30] #4524 closed

[2020-04-14 17:30] GrabYourPitchforks commented on #4516
Closing due to no response.

[2020-04-14 17:30] #4516 closed

[2020-04-14 17:30] GrabYourPitchforks commented on #4498
Closing due to no response.

[2020-04-14 17:30] #4498 closed

[2020-04-14 17:30] GrabYourPitchforks commented on #4536
Closing due to no response.

[2020-04-14 17:30] #4536 closed

[2020-04-14 17:31] GrabYourPitchforks commented on #4535
Closing due to no response.

[2020-04-14 17:31] #4535 closed

[2020-04-14 17:31] GrabYourPitchforks commented on #4510
Closing due to no response.

[2020-04-14 17:31] #4510 closed

[2020-04-14 17:33] GrabYourPitchforks commented on #4570
Related: https://github.com/dotnet/roslyn-analyzers/issues/2581

[2020-04-14 17:36] danmosemsft commented on #4568
@armitagemderivitec thanks that helps. I'll move this to the place where libcoreclr.so is owned.

[2020-04-14 18:51] michalzubkowicz opened #4573 "Ensure that 'npm' is installed and can be found in one of the PATH directories"
# ClientApp is not starting when node is not installed system wide.

[code]
# General
It occurred on, but problem probably exists on every distrubution
Linux Mint 19.3
.NET Core 3.1

.NET Core is taking system wide $PATH env variable not users.  My current user $PATH value is slightly diffrent that one reported by exception details.

It should take $PATH variable of current user.  It's very import

[2020-04-14 19:12] omajid commented on #4573
(This isn't an official response or anything. I am most a bystander, not too different from you, in this case.)

Can you explain a little bit more about this issue? What is your "current user $PATH"? What is the "system wide $PATH"? If you start a new terminal, what is the output of `echo $PATH`? What does running `bash -c 'echo $PATH'` say? And finally, if you run your original `dotnet` command (

[2020-04-14 19:22] michalzubkowicz commented on #4573
My system wide path is:
`/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin:/home/user/.dotnet/tools`
It's taken from /etc/profile.d, and this path is reported by exception.

My users path is (just a excerpt):
`/home/user/.go/bin:/usr/local/go/bin:/home/user/.nvs/default/bin:/home/user/.nvs/default/bin:`
So it's slightly diffrent (it has my user's pa

[2020-04-14 19:28] omajid commented on #4573
Thanks.

In my understanding, there isn't really a user vs system path. There's just one value of the environment variable that a program sees. So if you are setting your `$PATH` correctly, dotnet should be using that; it can't be seeing some other value of the environment variable `PATH` from elsewhere.

So, please help me make sense of this.

When you have a terminal, what does `echo $PATH` say?

[2020-04-14 19:43] michalzubkowicz commented on #4573
I've checked it again and it seems to be Rider's issue, it doesn't take into account PATH changes in user's profile. I'll report to them then.
Thanks!

[2020-04-14 19:43] #4573 closed

[2020-04-14 20:16] carlossanlop commented on #4515
No response in a week. Closing.

[2020-04-14 20:16] #4515 closed

[2020-04-14 21:07] dgroh commented on #4565
Although this might be an issue, I wanted to bypass the SSL. I tested with Fiddler and Postman disabling SSL and the endpoint could be hit. I also got an response from Fiddle. So, how can I disable bypass SSL validation in .netcore 3.1?

I tried this: https://stackoverflow.com/questions/42712844/ignore-bad-certificate-net-core but it didn't help

[2020-04-14 21:59] Dubcoder opened #4574 "dotnet does not work"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/install
Operating System: windows

I followed all the instructions on the page but the dotnet command did not work.
It gave the error 'dotnet' is not recognized as an internal or external command,
operable program or batch file.

[2020-04-15 02:25] Cloudmersive commented on #3318
Why is an issue that isn't fixed closed?

[2020-04-15 04:55] sweetjessyx opened #4575 "dot-net issues"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-04-15 05:23] Navneet1983 commented on #4026
In Addition to this issue.
I have got the same issue when i was having the  .dll and .lib both  the reference in my CLI .netcore project.
but when i have referenced only  static lib .lib of native c++ , i was not the issue.

please help me proceed further.

[2020-04-15 06:09] srihakar opened #4576 "Error while creating consol App"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Hi, when I try to create new console App on my PC, I get below attached error. Could anyone please suggest which account need permission on mentioned folder

.
![ConsoleApp creation issue](https://user-images.githubusercontent.com/63511294/79303830-c8d26c00-7ee7-11ea-974f-968fe1c

[2020-04-15 06:11] srihakar commented on #4576
I changed the folder to local rather "System32" to resolve the issue. Thanks

[2020-04-15 06:11] #4576 closed

[2020-04-15 11:34] KamranShahid opened #4577 "What could be the best way to expose soap base endpoint in .net core background application"
I have a .net core background service application (in .net core 3.1) where I were running some HttpListeners for receiving callbacks getting some callbacks responses. Now one of the client needed a soap base end point as callback.
Please guide me for the best possible way

[2020-04-15 15:23] davidsh commented on #4567
@vanros Can you please post more information about your scenario? Are you asking about impersonation/delegation for an HTTP server request?

[2020-04-15 16:53] Ksa1ksa2ksa100 opened #4578 "https://dotnet.microsoft.com/learn/ml-dotnet/get-started-tutorial/intro"
# Issue Title

Be as descriptive as you can with your title.

# General

Provide details on the problem you are experiencing including the .NET Core version, operating system version and anything else that is relevant.

Please provide a code sample for your issue if it is relevant, either inline, link to a gist (or similar) or add it as a zipped attachment.

For some issues, you will get a quicker

[2020-04-15 16:54] #4578 closed

[2020-04-15 18:14] scalablecory commented on #4577
A lot of SOAP is fairly easy to parse yourself; you might try using XLinq to get at the relevant data.

@StephenBonikowsky @mconnew do you have any recommendations for exposing SOAP APIs?

[2020-04-15 18:15] scalablecory commented on #4575
Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-04-15 18:16] scalablecory commented on #4574
Have you restarted your console windows after installing? PATH variables need to get updated.

[2020-04-15 18:17] scalablecory commented on #4560
@Pilchie @anurse any ideas about this?

[2020-04-15 18:43] Dubcoder commented on #4574
Yes I did, but it still didn't work.

[2020-04-15 18:51] 2ndwolf opened #4579 "Paletted transparent png to 32bit bmp is lossy"
I have made a transparent png with 255 blue as its transparency color in Photoshop. It is a white square and my background is black, I transform it programmatically like so:
[code]
Then I take the raw data, send it through server, turn every pixel to a uint32 then decode that again into bytes (I have to because I'm using a peculiar extension).

I never ran into any problem following that procedure

[2020-04-15 19:14] 2ndwolf commented on #4579
Never mind, I ran other tests and it doesn't seem to be an issue on .NET's side.
Terribly sorry.

[2020-04-15 19:14] #4579 closed

[2020-04-16 05:57] KamranShahid commented on #4577
I am asking about exposing soap base service. like WCF service in .net core. I have a third party standard soap wsdl which i need to implement for my callbacks

[2020-04-16 09:08] Arkasian commented on #4542
Sorry, dont have an output, didnt have it at the time of writing the issue either, because I closed terminal just after the fact. There was nothing more than what I showed, just standard log for every installation of .NET Core, and then it printed out what I showed.
I had installed there .NET Core 2.2.402 SDK and compatible runtime.
dotnet-sdk-2.2, aspnet-runtime-2.2 dotnet-runtime-2.2 and those a

[2020-04-16 09:45] Mousaka commented on #4512
Got something similar =(
[code]
Works to build locally but not in docker

[2020-04-16 09:59] luismanuelmontoro commented on #4512
try to change from this version: 3.1-alpine3.10  to this version 3.1.100-alpine  if you are using alpine

[2020-04-16 10:29] kuklanski opened #4580 "Default compilation includes in .NET Core projects - reading embedded resources"
According to https://docs.microsoft.com/pl-pl/dotnet/core/tools/csproj, .resx files don't need to be marked explicitly as embedded resource - complier will imply that fact.

But basing on that behaviour, I can not read embedded resource using

`assembly.GetManifestResourceNames()`

How can I handle that scenario?

Net Core Version: 2.2

[2020-04-16 11:16] #4580 closed

[2020-04-16 11:42] Mousaka commented on #4512
That worked!!

Such a weird problem though... Some of my colleagues did not need to change from 3.1-alpine to  3.1.100-alpine but at least 2 of them get the same problem.

Thanks @luismanuelmontoro !

[2020-04-16 13:20] RomanHubyak commented on #4462
It turned out that .net directory is created without any permissions for other users/apps. That's why it fails.

[2020-04-16 18:44] mconnew commented on #4577
@scalablecory, have you checked out [CoreWCF](https://github.com/CoreWCF/CoreWCF)?

[2020-04-16 19:18] KamranShahid commented on #4577
No. One more problem in using soapcore i faced that the thirda party wsdl (which i need to implement) is on soap1.2. so for that i have to support wshttpbinding. but running it in soapcore is giving me platform not supported exception.
Will try this with CoreWCF tomorrow.
Thanks

[2020-04-16 20:59] Pilchie commented on #4560
@davidfowl - do you have any ideas here?

[2020-04-16 21:22] davidfowl commented on #4560
@bilalmalik777 what changes did you make to the application?

[2020-04-16 23:12] mconnew commented on #4577
NetHttpBinding uses SOAP 1.2.  You don't need WSHttpBinding for that.

[2020-04-17 05:54] KamranShahid commented on #4577
then don't know how to get rid of the error as mentioned at https://github.com/DigDes/SoapCore/issues/457

[2020-04-17 10:53] KamranShahid opened #4581 "How to respond some form parameters after processing request from HttpListenerContext"
I am working with an Httplistenr which request I am processing via HttpListenerContext.
Previously I was just sending an Ok http response with out any content, now I need to respond with a couple of parameters like Field1 = A, Field2 = B.
I have set the response.ContentType to application/x-www-form-urlencoded, but I don't know how to add the response values to the response.
My current method is

[2020-04-17 14:14] shirhatti commented on #4077
[code]

@ldotreed It's really hard to read your logs because of the formatting, but it looks your `deploy-myMicroservice.yaml` is malformed and missing the `ASPNETCORE_URLS` environment variable

[2020-04-17 15:24] abhiphirke opened #4582 "How to: COM with C++ Client and .Net Server ?"
I am currrently stuck up while using `.Net Core 3.1` component from a `Vanilla C++ Client`.
The issue I am facing is **_how to make the Events Sink work_**.

My questions are:

1. If `ComSourceInterfaces` is obsolete, **what is the best and new way to do this?**

2. Everything in the code below works pretty well with C++ client, except Event Sink: With the above code, my C++ client can successfull

[2020-04-17 15:52] Arkasian opened #4583 "Trying to use WebSockets as SignalR transport via WWW Proxy"
# Issue Title
Trying to use WebSockets as SignalR transport via WWW Proxy

# General
Technical info at the beginning:
**OS**: Debian 10 "buster" (upgrade from Debian 9, kernel 4.19)
**SDK**: .NET Core SDK 3.1.100 is used to build.
**Runtime**: .NET Core Runtime 3.1.1 is used to deploy an app.
**WWW Proxy**: Apache 2.4.25
**SignalR** of version 2.4.1.

So my issue is: I want to use WS as a transpor

[2020-04-17 16:14] BrennanConroy commented on #4583
Your client is using ASP.NET SignalR which is not compatible with ASP.NET Core SignalR.
https://docs.microsoft.com/aspnet/core/signalr/version-differences?view=aspnetcore-3.1

[2020-04-17 16:34] Arkasian commented on #4583
No, it is ASP.NET Core SignalR, just a shortcut. I know it is not compatible, if it is not compatible one it won't even work for SSE or LP and for those two it works perfectly fine.

[2020-04-17 16:46] BrennanConroy commented on #4583
Well 2.4.1 is **not** a version of ASP.NET Core SignalR which is why your issue was confusing.

Moving on assuming you're using ASP.NET Core SignalR on both the client and server. Have you enabled websockets in your proxy?

[2020-04-17 19:47] dgroh commented on #4565
The issue was indeed the server certificate. It was expired. I would be very interested still to know how to bypass an invalid certificate.

[2020-04-17 19:47] #4565 closed

[2020-04-18 01:44] bugrakosen opened #4584 ".Net Core 3.1 Web API for video streaming from MySQL database"
I've already searched on google how to stream videos with ASP.NET Core 3 but I only find websites explaining it for ASP.NET Core 2 and making it with URL (e.g. http://anthonygiretti.com/2018/01/16/streaming-video-asynchronously-in-asp-net-core-2-with-web-api/) . I also searched range requests and SignalR.

I save my videos in type of LongBlob in MySql Database. When request comes to API i'll pull

[2020-04-18 08:32] KamranShahid commented on #4577
CoreWCF is way behing soapcore. ( https://github.com/CoreWCF/CoreWCF/issues/128)
My problem in soapcore is i have to integrate quite complex wsdl which it self have inner wsdla nd number of reference xsd's with simple and complex types.
I have logged the issue at https://github.com/DigDes/SoapCore/issues/461
Haven't find anything else other then soapcore and CoreWCF

[2020-04-18 21:42] LimaBravoSix opened #4586 "'dotnet' is not recognized as an internal or external command"
I am on a MacBook Air running Catalina OS 10.15.4.  When I open the Terminal and submit the ~$ dotnet, the terminal returns -bash: ~$: command not found.  Any suggestions?

[2020-04-19 02:32] ccifra opened #4587 "Loaded Assemblies cannot be deleted after AssemblyLoadContext is garbage collected"
# Loaded Assemblies cannot be deleted after AssemblyLoadContext is garbage collected

# General

I would like to load assemblies in a custom AssemblyLoadContext to reflect on the types in the assembly.  It is important that after reflection I can unload the assembly so that it can be modified.  My expectation is that after an AssemblyLoadContext is garbage collected the loaded assembly should be a

[2020-04-19 09:50] kedare opened #4588 "Cannot install .NET Core on Ubuntu 20.04 (missing dependency)"
Following the standard intrucstion, .NET core 3.1 cannot be installed on Ubuntu 20.04 because of a missing dependency.

After doing some investigation, it is because it depends on versions of libicu that are not available on this version of Ubuntu :

[code]

This version of Ubuntu only provides libicu66 (which is not declared as a dependency)
https://packages.ubuntu.com/search?suite=focal&keywords

[2020-04-19 16:08] dagood commented on #4588
We don't quite have packages ready for Ubuntu 20.04 on the package repository. Check out https://github.com/dotnet/core/issues/4360 for more info including a workaround.

I want to point out, though, there are no "standard" instructions for 20.04 yet--the page hasn't been created: https://github.com/dotnet/docs/issues/17638.

[2020-04-19 16:08] dagood commented on #4588
Duplicate of https://github.com/dotnet/core/issues/4360

[2020-04-19 16:08] #4588 closed

[2020-04-19 17:28] #4584 closed

[2020-04-19 18:03] emamcoder opened #4589 "Unable to add migration in the project"
# Unable to add migration

I am using the dotNet Stander Library project version 2.1 (Visual Studio For Mac-Community 8.5.3 built 16 ), in that, I have added a package for EF 3.1.3. When I am trying to add the package for migration, getting error as mentioned below.

# NuGet Package Manager Console command which I have tried.
PM> dotnet add package Microsoft.EntityFrameworkCore.Tools.DotNet
  Writ

[2020-04-19 18:13] asafgo opened #4590 "'ILoggingBuilder' does not contain a definition for 'AddEventLog'"
I am trying to use AddEventLog for Worker Service on ASP.NET Core 3.1.3 I have installed NuGet Microsoft.Extensions.Logging.EventLog

Problem is I am getting the error 'ILoggingBuilder' does not contain a definition for 'AddEventLog'

Here is my code:

`public static IHostBuilder CreateHostBuilder(string[] args) =>
Host.CreateDefaultBuilder(args)
.UseWindowsService()
    .ConfigureLogging((context

[2020-04-19 21:16] mairaw commented on #4589
@JeremyLikness @ajcvickers can you please take a look at this EF issue?

[2020-04-19 21:46] mairaw commented on #4586
Have you tried closing and opening the terminal window?

https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install

[2020-04-19 22:03] ajcvickers commented on #4589
@emamcoder `Microsoft.EntityFrameworkCore.Tools.DotNet` has been obsolete since EF Core 2.1. Don't use this package.

[2020-04-19 22:05] mairaw commented on #4589
@ajcvickers is it possible to add a description to the package page about that?

[2020-04-20 07:10] georgiosd opened #4591 "Connecting to server using SSL certificate in MacOS fails with code that success on Windows"
Hey folks

I am using an SSL certificate to connect to RavenDB (doesn't seem like the issue is specific to RavenDB though).

The code is very simple as far as the certificate handling goes
[code]
This code works correctly on Windows, but fails on latest MacOS with the following exception - you can ignore the first couple of lines which are part of RavenDB's stack:

[code]

I am happy to help creat

[2020-04-20 08:59] ParamOza opened #4592 "Unable to install dotnet-sdk-3.1 on Raspberry Pi running Ubuntu 18.04.4 LTS"
While trying to install the dotnet SDK onto my RasPi, I keep getting a 404 on the Microsoft Ubuntu packages repo. I can see the dotnet-sdk-3.1 package when I run `apt search dotnet-sdk` but I keep getting a "Unable to locate package dotnet-sdk-3.1" error when I try to run `sudo apt-get install dotnet-sdk-3.1`. Here is exactly what happens:

`ubuntu@ubuntu:~$ sudo apt-get install dotnet-sdk-3.1
Rea

[2020-04-20 11:09] Grace-Hepsiba opened #4593 "C:\Users\Grace>dotnet new console -o myApp Creating this template will make changes to existing files: Overwrite myApp.csproj Overwrite Program.cs Rerun the command and pass --force to accept and create."
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-04-20 14:40] asafgo commented on #4590
Nees to add "using Microsoft.Extensions.Logging;", it is wired that VS 2019 does not recognize the need for  "using Microsoft.Extensions.Logging" at "Show potential fixes" (CTRL + .);

[2020-04-20 15:54] ajcvickers commented on #4589
@mairaw We will look into making this package officially obsolete. Last time I looked into it, the process required seemed to outweigh the value of doing it, but things may have got easier.

[2020-04-20 16:21] Raijinz opened #4594 ""console" template is missing"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: macos

This is my first issue in GitHub, so I will try to cover the problem as much as I could.

I installed .NET Core SDK 3.1, as the tutorial says, and "dotnet" command works fine.
Until I enter "dotnet new console", and it says "Couldn't find an installed template that matches the inpu

[2020-04-20 17:29] Raijinz commented on #4594
I tried to downgrade .NET Core SDK to 3.1.103 and it worked as intended.
I will use this older version instead. Close the issue now.

dotnet --info
.NET Core SDK (reflecting any global.json):
 Version:   3.1.103
 Commit:    6f74c4a1dd

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.15
 OS Platform: Darwin
 RID:         osx.10.15-x64
 Base Path:   /usr/local/share/dotnet/sdk/3.1.103/

[2020-04-20 17:37] DragonZX opened #4595 "Installation .Net Core on Debian 11 32-bit"
I have an production gaming server using Debian 11 (Bullseye) i386 (steamcmd and some issues reasons), In that case I need to compile one of tools using .Net Core 3.1 for it. Unfortunatly I haven't found any microsoft repository for it or any compilation instructions.

[2020-04-20 18:25] dagood commented on #4595
To my knowledge Microsoft doesn't support .NET Core on linux-x86, but there is a thread over at https://github.com/dotnet/source-build/issues/1235 where some people are trying to build the SDK from source, and https://github.com/dotnet/runtime/issues/7335 for just the runtime.

[2020-04-20 18:27] Raijinz commented on #4594
I dug around and found out that I run "dotnet new console -o myApp" inside an integrated terminal of VSCode, not a regular terminal, which gives the error:
Unable to locate the specified template content, the template cache may be corrupted. Try running 'dotnet new --debug:reinit' to fix the issue.
I ran the command and the templates are all gone, which starts this issue.

Now I'm back to v3.1.201

[2020-04-20 18:41] carlossanlop commented on #4491
ping @dsplaisted

[2020-04-20 18:50] dsplaisted commented on #4491
@amirmou There's nothing special in the project file, so this is probably something in your environment.  I think I'd need a [binlog](http://aka.ms/binlog) to be able to investigate what's going on.

[2020-04-20 20:48] carlossanlop commented on #4574
If you installed the SDK correctly, the executable should now be found in `C:\Program Files\dotnet\dotnet.exe`. Can you verify the file is there?

[2020-04-20 22:20] Bruno2049 commented on #2746
@amirvenus that solve the problem, thanks

[2020-04-21 06:57] bilalmalik777 commented on #4560
@davidfowl  i just update the application by following the online tutorials.
make the required changes to upgrade the application like
update the program.cs,startup.cs and also upgraded all the nuget packages.
that's all. i also did the same for API project which is working perfectly

[2020-04-21 07:01] davidfowl commented on #4560
It sounds like something might be missing. Is there a call to AddApplicationInsights in the broken application?

[2020-04-21 07:08] bilalmalik777 commented on #4560
No there is no call to **AddApplicationInsights**

[2020-04-21 07:16] davidfowl commented on #4560
That’s likely the bug? What was working before in the old app with application insights and what  did you change?

It’s likely there was some small step missing.

[2020-04-21 07:25] bilalmalik777 commented on #4560
Alright give some time today i will again try to upgrade the same code in different branch then I will update regarding issue

[2020-04-21 10:47] scalablecory commented on #4593
This indicates you've already created a "myApp" project. You can choose a different project name, force the overwriting of those files, or delete the original directory and re-run.

[2020-04-21 10:47] #4593 closed

[2020-04-21 10:47] scalablecory commented on #4592
@dagood @leecow

[2020-04-21 15:03] dagood commented on #4592
The Raspberry Pi runs on the ARM architecture, not x64, so you need to follow these instructions ([source](https://docs.microsoft.com/en-us/dotnet/core/install/linux-package-manager-ubuntu-1804)) to install using binaries instead of using the apt feed:

[2020-04-21 15:11] dagood commented on #4592
We are looking at creating deb packages for ARM and ARM64, tracked here:
https://github.com/dotnet/runtime/issues/3263
https://github.com/dotnet/runtime/issues/3298
Until then, you have to use the alternatives.

[2020-04-21 15:11] #4592 closed

[2020-04-21 16:36] emamcoder commented on #4589
@ajcvickers As I mentioned the details about the framework and IDE I used.
Could you suggest to me how I can create a migration for it or any URL which I can refer to and move forward with my development work?

[2020-04-21 16:41] ajcvickers commented on #4589
@emamcoder Migrations documentation is here: https://docs.microsoft.com/en-us/ef/core/managing-schemas/migrations/?tabs=dotnet-core-cli

[2020-04-21 17:52] emamcoder commented on #4589
@ajcvickers As per the provided reference document I have tried and I am hitting below error.
PM> dotnet ef migrations add InitialCreate
No project was found. Change the current working directory or use the --project option.
PM>

I referred to [this](https://github.com/dotnet/EntityFramework.Docs/issues/737) for the solution and tried the steps but no luck.

[2020-04-21 17:57] ajcvickers commented on #4589
@emamcoder If you're following the documentation and it is not working, then please file an issue on the [EF docs repo](https://github.com/dotnet/EntityFramework.Docs) and include reference to the documentation and detailed information about where and how it failed as you followed the instructions.

[2020-04-21 19:18] mairaw commented on #4595
The supported versions and architectures are listed at https://docs.microsoft.com/en-us/dotnet/core/install/dependencies?tabs=netcore31&pivots=os-linux

/cc @leecow

[2020-04-21 21:43] PersyJack commented on #1006
I only deleted obj/bin folders and that fixed it

[2020-04-21 23:56] jonmiller1 opened #4596 "Directory.GetFiles Linux Case Sensitive"
I'm using .NET 3.1.3 on Linux, specifically Raspbian.  As an old windows .net programmer I expect search for files with Directory.GetFiles or File.Exists for the case not to matter.  Since Windows doesn't allow you to have two files with the same name but different cases.  Linux does allow this and it creates problems.  I need a way to do a case insensitive File.Exists or at least a case insensiti

[2020-04-22 02:33] max-favilli opened #4597 "distributedcache using SQL - Execution Timeout Expired."
We have been using SQL server distributed cache for few days and it does regularly stop working generating the exception reported at the bottom of this issue description.

Which is produced by the simple `SetAsync` call:
[code]

I have logged the size of the bytes being saved and are in the range 30/50 Mbytes.
The server is lab machine I am currently using for this purpose only and network and ser

[2020-04-22 08:07] KamranShahid opened #4598 "+ sign is changing into \u002B using JsonSerializer.Serialize"
I have a .net core 3.1 application where through out System.Text.Json
I have couple of properties of string in my object which when ever there is + character it changes to  \u002B during serialization.
Same thing working fine with newtonsoft.

[code]

[2020-04-22 08:21] StanlyLife opened #4599 "Bug? ConfigureApplicationCookie does not work when cookie.name = x"
# ConfigureApplicationCookie does not work when cookie.name = x

I have had an issue with authenticating my login, and i finally figured out that my cookie was not beeing applied when i had set

[code]

however, when using:

[code]

it works fine, i'm thinking this is a bug or am i wrong?

[2020-04-22 08:22] bilalmalik777 commented on #4560
please go through changes, i made to upgrade the program.cs and startup.cs and let me know if need to make more changes or something is missing

        public class Program

        {
        public static void Main(string[] args)
        {
            CreateHostBuilder(args).Build().Run();
        }

        public static IHostBuilder CreateHostBuilder(string[] args) =>
            Host.CreateDe

[2020-04-22 10:43] BieleckiLtd opened #4600 "Include the .NET Core runtime as default Windows 10 component"
Windows 10 May 2019 Update (all editions)  includes the most recent .NET Framework 4.8 as an OS component, and it is installed by default.

In the corporate environment it is a great hurdle to convince IT to install anything that is not included in the default installation package. To enable framework-dependent deployment please include the .NET Core and .NET Core Desktop Runtime and as Windows 10

[2020-04-22 12:09] rajibdutta-oracle commented on #3798
Getting the error.
Sending build context to Docker daemon  3.248GB
Step 1/16 : FROM mcr.microsoft.com/windows/servercore:ltsc2019
 ---> fdf6432edbdc
Step 2/16 : LABEL maintainer sumit.x.kumar@oracle.com
 ---> Running in 278d34409243
hcsshim::PrepareLayer - failed failed in Win32: Incorrect function. (0x1)

I don't have dropbox or any other mentioned software here.

 fltmc output

Filter Name

[2020-04-22 16:12] fixinggunsinair opened #4601 "[Proposal] Consider building and distributing dotnet using official distribution package sources"
For now, Microsoft is using it's own 3rdparty repositories, located at packages.microsoft.com. While dotnet is an open source project under MIT license, dotnet distributed like a proprietary 3rdparty blob without source code available (from OSS point of view).

And even more, I can't find .src.rpm packages on packages.microsoft.com repositories, that means the build steps required to produce this

[2020-04-22 17:45] dagood commented on #4601
You'll be pleased to hear that we've been working on this for a while, with the source-build project: https://github.com/dotnet/source-build. In fact, .NET Core is shipping as a distro package in **Fedora 32**: https://docs.fedoraproject.org/en-US/fedora/f32/release-notes/developers/Development_Dotnet/. 😄 We have been shipping a source-built .NET Core in RHEL for a while now, as well, and it's in

[2020-04-22 18:23] emamcoder commented on #4589
issue resolved.

[2020-04-22 18:23] #4589 closed

[2020-04-22 18:37] patriquefostere opened #4602 "Learn ASP.NET hello-world-tutorial/modify error when following editing instruction."
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/modify
Operating System: windows 10

The problem is with the editing: "Open Pages/Index.cshtml in any text editor and replace all of the code with the following, then save the file."

I get a whole load of red errors:

**C:\Users\Surface\myWebApp>dotnet run
Pages\Index.cshtml.cs(2,8): error CS1002: ; expected [C:

[2020-04-22 18:58] omajid commented on #4601
@fixinggunsinair If you want to get more involved in .NET Core on Fedora, please feel free to join the .NET SIG: https://fedoraproject.org/wiki/SIGs/DotNet

I had a couple of thoughts, though:

Could you clarify what this means? I have been looking at OpenJDK as a sort of role model of what .NET could be. What sort of issues do you see in Java on Linux that we should try and stay away from?

Unfor

[2020-04-22 21:28] omidasghari1381 opened #4603 "the program can not start because api-ms-win-crt-runtime-|1-1-0.dll"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-04-22 21:56] fixinggunsinair commented on #4601
@dagood Glad to hear you thought about it even before I found out what it's already packaged as RPM. Now I feel kind of... uninformed %). You should definitely update the documentation on the microsoft.com to reflect that.

You can close the issue or keep it until you consider it's done and ready, if you want. So it would be visible for people like me.

Well, nothing stops you from using an intern

[2020-04-22 22:02] fixinggunsinair commented on #4601
Now I need to find out do PowerShell team follows you in that way or should I create another issue for them. Because I care about them too to become integrated. %)

[2020-04-23 06:42] rawalsagar opened #4604 "dotnet not accepting arguments"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/edit
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
Created "Hello World" program in Program.cs file, but console doesn't read ("The current time is " + DateTime.Now); ar

[2020-04-23 06:59] mairaw commented on #4604
Can you paste your entire source code in program.cs? Also, how are you trying to run the program? Maybe paste a screenshot of the code running so we can try to help. Thanks!

[2020-04-23 07:13] mairaw commented on #4004
Thanks @jonasatadesso. I'm wondering if this was due to the Dockerfile being outdated on the site. That has been fixed on the site back in January.

So, I believe the issue was fixed.

[2020-04-23 07:13] #4004 closed

[2020-04-23 14:41] #4587 closed

[2020-04-23 15:02] MrPaul3 opened #4605 "cannot run "dotnet new console""
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

C:\Users\Rick\Documents\VSCodeNetCoreTest> dotnet new console -o myApp
  It was not possible to find any installed

[2020-04-23 15:21] shirhatti commented on #3798
Looking at the linked issues, as I understand it there are two separate issues in play. Both of these are external to dotnet and are tracked on their appropriate repos. The two issues are:

1. Specifying `--storage-opts` via docker run or in the `daemon.json` causes docker builds to fail on Windows 10 version 1903 and newer
2. Using a callback-based filter file system driver causes docker builds t

[2020-04-23 15:26] dagood commented on #4601
We're looking at ways to do this and have some ideas, but I'm curious what you saw to get the specific conclusions you arrived at. Source-build does have some docs, the most straightforward being https://docs.microsoft.com/en-us/dotnet/core/distribution-packaging, but https://docs.microsoft.com/en-us/dotnet/core/install/linux-package-manager-rhel8 does point at RHEL 8 having .NET Core in the distr

[2020-04-23 16:40] rbhanda opened #4607 ".NET 5 Preview 3"
[Release Notes](https://github.com/dotnet/core/blob/master/release-notes/5.0/preview/5.0.0-preview.3.md)

Please report any issues you find with .NET 5, either responding to this issue, creating a new issue or creating a new issue in one of the following repos:

* [aspnet/Home](https://github.com/aspnet/Home) - for ASP.NET Core questions
* [aspnet/EntityFrameworkCore](https://github.com/dotnet/efc

[2020-04-23 16:46] meriturva commented on #4422
Actually seems that version 3.1.201 is not present, only version 3.1.103.
am i correct?

[2020-04-23 16:57] TobiasNils commented on #4605
Got the same Problem on Linux Fedora 32 after successfully installing `dotnet-sdk-3.1`.
__Solved__ it by:
1. Looking up the directory the packages _should_ be installed in using `dotnet --info`:
   _Output excerpt_:
[code]

[2020-04-23 17:11] omajid commented on #4605
@TobiasNils something funny is going on here.

Did you install from the Microsoft repository? Fedora 32 includes .NET Core 3.1 in the main Fedora repositories. Installing `dotnet-sdk-3.1` using just the plain Fedora repositories should get you everything you need.

So that's the Fedora package. It installs to `/usr/lib64/dotnet`.

That installs the bits built by Microsoft next to the bits built by

[2020-04-23 17:18] TobiasNils commented on #4605
Good point, thanks for that. I had been following [this guide](https://docs.microsoft.com/en-us/dotnet/core/install/linux-package-manager-fedora31). Installed the microsoft repo and then effectively with installing `dotnet-sdk-3.1` I got "everything" but the sdk (also, no templates).

I just setup a new toolbox and went right to installing dotnet-sdk-3.1 and everything works :)
Thanks again!

[2020-04-23 17:47] mairaw commented on #4605
@MrPaul3 can you please paste the output of `dotnet --info`? I'm wondering if you just installed the runtime but not the SDK.

[2020-04-23 17:48] #4500 closed

[2020-04-23 17:50] mairaw commented on #4594
Reopening this for now to see if we're tracking this problem anywhere

[2020-04-23 17:58] TobiasNils commented on #4605
EDIT: I don't know if this is the right place anymore, but in the toolbox container, `dotnet run` throws this error:

[code]
In the normal fedora shell everything works when installing from the fedora repositories.

[2020-04-23 18:01] dagood commented on #4605
@TobiasNils you might be hitting hitting https://github.com/dotnet/core/issues/3909. MSBuild passes all env vars in as MSBuild properties, and NuGet doesn't take kindly to a `version` env var being set.

[2020-04-23 18:11] genifycom opened #4608 "Compiler directive for current method name"
# Issue Title
Could we please have a compiler directive for the current method?

# General
Questions about how to print out the current method name date back to the beginning of dotnet core. These "solutions" usually require reflection or CompilerServices like CallerMemberName

e.g.
string method = $"{System.Reflection.MethodBase.GetCurrentMethod().DeclaringType.FullName}.{System.Reflection.Method

[2020-04-23 18:34] omajid commented on #4605
We have hit this in Fedora before too: https://pagure.io/dotnet-sig/dotnet-3-0/issue/9. Please feel free to describe how reading in all env vars (including `VERSION`) and initializing msbuild properties with them is a bad idea at https://github.com/microsoft/msbuild/issues/2713

[2020-04-23 18:35] yokovaski commented on #4360
Any news on this?

[2020-04-23 19:16] leecow commented on #4360
@NikolaMilosavljevic for an update

[2020-04-23 20:09] NikolaMilosavljevic commented on #4360
All PRs were completed a month ago. There are upcoming servicing releases for 2.1 and 3.1 and 5.0 preview.

5.0: https://github.com/dotnet/runtime/pull/34079
3.1: https://github.com/dotnet/core-setup/pull/9015
2.1: https://github.com/dotnet/core-setup/pull/9016

All these changes added support for libicu65 and libicu66.

[2020-04-23 21:14] wshaddix commented on #4360
When I run the following i get the error that the dotnet-sdk-3.1 package is not found. Am I doing something wrong? Running pop_os 20.04 (based on ubuntu 20.04)

[code]
gives the error

[code]

[2020-04-23 21:27] Fredrik81 commented on #4360
There are no dotnet packages yet for 20.04 in the repository.

[2020-04-23 21:46] wshaddix commented on #4360
Is there an ETA on the packages being put in the repository?

[2020-04-23 23:10] MaroHer opened #4609 "I installed the SDK of .NET but it doesn´t seem to recognise it"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/install
Operating System: windows

The installation went really fast like, not even 2 seconds. But it doesn't recognise de dotnet command.

[2020-04-23 23:54] scalablecory commented on #4609
Have you restarted your console windows? Path variables are updated that need to be refreshed.

[2020-04-23 23:56] scalablecory commented on #4608
This issue was moved to dotnet/csharplang#3389

[2020-04-23 23:56] #4608 closed

[2020-04-23 23:58] scalablecory commented on #4603
Please make sure you've installed all the [required dependencies](https://docs.microsoft.com/en-us/dotnet/core/install/dependencies?tabs=netcore31&pivots=os-windows). The Windows 7/8 section has what you need.

[2020-04-24 00:02] scalablecory commented on #4603
@dagood @mairaw this is a somewhat common issue we see. Good opportunity to improve installer or tutorial.

[2020-04-24 00:48] mairaw commented on #4603
Good point @scalablecory! I'll add this to the tutorials.

[2020-04-24 00:52] mairaw commented on #4603
@omidasghari1381 can you confirm which version of Windows you have? The tutorials are missing some required dependencies for certain operating systems.
Please check at https://docs.microsoft.com/en-us/dotnet/core/install/dependencies?tabs=netcore31&pivots=os-windows#windows-7--vista--81--server-2008-r2

[2020-04-24 01:29] mairaw commented on #4559
Unfortunately, I can't repro this issue @Wagnerp.

Just downloaded your project and checked out that branch and build went fine:
![image](https://user-images.githubusercontent.com/12971179/80165386-3dfd0b80-8590-11ea-9fbe-0373c2407eba.png)

I have the same version as you:
![image](https://user-images.githubusercontent.com/12971179/80165457-5d943400-8590-11ea-8be3-24dae331e7dc.png)

Maybe try insta

[2020-04-24 03:16] rodrigoreis commented on #4360
Please provide this packages.

[2020-04-24 03:41] phillip-haydon commented on #4360
I used the 18.04 source on 20.04 with the help from this tweet:

https://twitter.com/sinclairinat0r/status/1237201767198273536

wget http://mirrors.edge.kernel.org/ubuntu/pool/main/i/icu/libicu63_63.2-2_amd64.deb
sudo dpkg -i libicu63_63.2-2_amd64.deb

Then installed .NET Core normally.

[2020-04-24 06:15] lewisgauss commented on #4419
Any update or tip from someone?

[2020-04-24 06:34] FDonald opened #4611 "location path not recognized by AspNetCoreModuleV2"
# Issue Title

404 when set location path security

# General
I am developing a net core 3.1 web application. One of authentication schemes is Certificate, so I want to protect a page with client certificate authentication. This is Web.config IIS configuration (Obviously i set <section name="access" overrideModeDefault="Allow" in solution applicationHostConfig ):

[code]
Application starts success

[2020-04-24 06:58] TobiasNils commented on #4605
It was indeed the `VERSION=32 (Container Image)` env var set in toolbox, where I had installed the the microsoft repo. Deleting the toolbox and setting up a new one did not clean this up.
`unset VERSION` inside the (new) toolbox did.
Thanks so much!

[2020-04-24 07:09] Wagnerp commented on #4559
Hi @mairaw

Thanks, I'll check out preview 3 and will let you know what happens.

[2020-04-24 07:33] Wagnerp commented on #4559
Hi @mairaw

I have tried but it doesn't output any binaries. I use `build.cmd` & `build.prj`, which works fine with .NET Core 3.1 but not with .NET 5, even though I have it as a targeted framework.

[2020-04-24 07:47] mairaw commented on #4559
@rainersigwald is this something you can help with?

[2020-04-24 09:35] satoryosuke4 opened #4612 "Issue for running an app"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Hello, my OS is Win 10,
the error message after, input dotnet run is :

Program.cs(5,11): error CS0101: L'espace de no

[2020-04-24 10:56] da9l opened #4613 "'Dotnet tool restore' does not work correctly when NUGET_PACKAGES (global-packages) is set to an alternative location"
# Issue Title

'dotnet tool restore' does not work correctly when NUGET_PACKAGES (global-packages) is set to an alternative location.

### Description

If you set NUGET_PACKAGES to an alternate folder. "D:\cache" on a build agent for instance,
[code]

will fail with $lastexitcode=1 and
`Run "dotnet tool restore" to make the "paket" command available.`

The same error happens for at least two other

[2020-04-24 10:57] sreenivasan1227 opened #4614 "can't run .NET in cmb"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-04-24 11:14] abhisheksubbu commented on #4360
phillip-haydon approach worked perfectly in Ubuntu 20.04

[2020-04-24 12:21] fixinggunsinair commented on #4601
@dagood

Never saw it until this issue. It's somelike deep in documentation and Google never showed me this page. I'm a simple man and when I need install instructions, I just google `dotnet fedora install`. Not the `dotnet fedora distribution package` (but it shows same results) or `build instructions`. And the first result I got, was:

Or even Fedora 30 link. But it's all the same instructions.

[2020-04-24 14:25] DenSmoke commented on #4360
My ASP.NET Core 3.1 apps use 100% CPU on Ubuntu 20.04 when first network action occurs

[2020-04-24 14:28] magicdawn commented on #2001
why make this simple thing so complicated ???
why not just provide a `server.listen(port)`  API, so not the framework don't need to care other stuffs. and in user land code, we can do the config stuff or hard code a port here

[2020-04-24 15:22] omajid commented on #4601
I filed https://github.com/dotnet/docs/issues/18038 to track that.

[2020-04-24 20:30] scalablecory commented on #4614
Have you restarted your command line windows? Environment variables are updated when you install, and need to be refreshed manually by restarting them.

[2020-04-24 20:41] mairaw commented on #4612
Can you paste the content of your cs file here? Maybe there's something wrong with the code.

Also, if you could take a screenshot of your file structure in the myApp folder.

Thanks!

[2020-04-24 21:58] satoryosuke4 commented on #4612
Hello,

Thanks for the answer, this is the content of Program.cs

using System;

namespace myApp
{
    class Program
    {
        static void Main(string[] args)
        {
            Console.WriteLine("Hello World!");
            Console.WriteLine("The current time is " + DateTime.Now);
        }
    }
}

And, the attached Screenshot of myApp
[cid:image004.png@01D61A94.2D6739B0]

Provenance :

[

[2020-04-24 23:20] mairaw commented on #4612
The code looks correct. Screenshots cannot be sent via e-mail responses. You'd need to come to the GitHub UI to attach your image.

The other option would be to start over on a new directory and see if this would work.

[2020-04-24 23:47] vinceshere commented on #4360
Still receiving an error, even after follow the new instructions page: https://docs.microsoft.com/en-us/dotnet/core/install/linux-package-manager-ubuntu-2004

Ubuntu 20.04 LTS

The step bellow works normally:
`
wget https://packages.microsoft.com/config/ubuntu/20.04/packages-microsoft-prod.deb -O packages-microsoft-prod.deb
sudo dpkg -i packages-microsoft-prod.deb
`

This command return the error

[2020-04-25 03:52] hkommineni opened #4615 "az aks create needed --node-vm-size <value> for westus region"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/deploy-microservice-tutorial/azure-resources
Operating System: windows

Below command worked after recieved default value is not supported for westus region.
az aks create --resource-group myMicroserviceResources --name myMicroserviceCluster --node-count 1 --enable-addons http_application_routing --node-vm-size Standard_D2s_v3 --gene

[2020-04-25 05:16] satoryosuke4 commented on #4612
![myApp 24_04_2020 23_56_42](https://user-images.githubusercontent.com/64251401/80271855-a5b47300-86c4-11ea-9bae-8dce3de3d326.png)

[2020-04-25 05:38] satoryosuke4 commented on #4612
That's work. Thank you again.

[2020-04-25 10:40] mslot opened #4616 "Install dotnet-sdk-3.1 on WSL with Ubuntu 20.04 tells me "Unable to correct problems, you have held broken packages""
have followed this documentation to try to install dotnet sdk 3.1 on WSL (Ubuntu 20.04): https://docs.microsoft.com/en-us/dotnet/core/install/linux-package-manager-ubuntu-2004. I get an error saying I have broken packages.

I am on

On wsl 1 (I think, when running wsl -v or wsl --version in a powershell, it gives me nothing.). My Windows information is:

1. version is 10.0.18363 Build 18363
2. OS

[2020-04-25 11:03] mslot commented on #4616
After manually finding libicu here http://ftp.us.debian.org/debian/pool/main/i/icu/, and fetching this version: libicu57_57.1-6+deb9u4_amd64.deb and installing it, apt now installs dotnet-sdk-3.1.

Steps:
1. wget http://ftp.us.debian.org/debian/pool/main/i/icu/libicu57_57.1-6+deb9u4_amd64.deb
2. sudo dpkg -i libicu57_57.1-6+deb9u4_amd64.deb
3. sudo apt install dotnet-sdk-3.1

[code]
I actually fir

[2020-04-25 11:14] Wagnerp commented on #4559
Hi @mairaw

I think that I've figured out the issue.

1) I've got both the stable & preview versions of Visual Studio installed
2) I don't think it likes to build if you don't have Visual Studio installed in the default `C:\Program Files (x86)\Microsoft Visual Studio\2019` directory (I always install my applications in a separate partition)

Hope this helps!

[2020-04-25 11:30] Ziriax opened #4617 "Add some of Intel ISPC methods to System.Numerics.Vector?"
# Issue Title

Although we now have SIMD Intrinsics in .NET Core 3 (great!), I feel life would be easier for many developers if some of the functions found in Intel's ISPC SIMD compiler would be added to `System.Numerics.Vector`.

# General

The [Intel® Implicit SPMD Program Compiler](https://ispc.github.io/ispc.html) shows that it is possible to have a very generic C-like library interface for do

[2020-04-25 12:42] DimitriPapadopoulos commented on #4360
Please also update the release notes, add support for Ubuntu 20.04:
https://github.com/dotnet/core/blob/master/release-notes/3.1/3.1-supported-os.md

[2020-04-25 14:33] AllwinSamuelJeba opened #4618 "Unable to install .NET Core 3.1 SDK into Ubuntu 20.04 LTS"
# Issue Title

Unable to install the .NET Core 3.1 SDK into Ubuntu 20.04

cooljeba@Blue:~/Projects/ConsoleTest$ sudo apt-get install dotnet-sdk-3.1
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: **Unable to locate package dotnet-sdk-3.1**
E: Couldn't find any package by glob 'dotnet-sdk-3.1'
E: Couldn't find any package by regex 'dotnet-sdk-3.1'

# Gene

[2020-04-25 16:32] omajid commented on #4618
Duplicate of #4360

[2020-04-25 17:37] mairaw commented on #4616
@leecow can you take a look at this issue?

[2020-04-25 17:38] #4618 closed

[2020-04-25 17:42] mairaw commented on #4603
@scalablecory @carlossanlop I made some changes to the install step of the tutorials.
Let's see if it will make a difference.

[2020-04-25 18:22] dagood commented on #4360
No .NET packages have been published to the Ubuntu 20.04 Microsoft repository yet, let alone packages that support 20.04. 😕 For now, you'll need to keep using the 19.10 feed with one of the workarounds above: installing the old libicu dependency manually, faking the libicu dependency to force the newer one to work, or using an alternative install method.

@Thraka, should we take down https://docs.

[2020-04-25 18:22] dagood commented on #4616
We don't have packages published yet that support 20.04, there are some workarounds in https://github.com/dotnet/core/issues/4360.

[2020-04-25 18:22] dagood commented on #4616
Duplicate of https://github.com/dotnet/core/issues/4360

[2020-04-25 18:22] #4616 closed

[2020-04-25 20:42] jonstelly opened #4619 "Running multiple "dotnet watch" with dependency overlap periodically fails"
I've got a dotnet core solution with several class libraries, an asp.net core web app project and a background worker project that share dependencies to the class libraries.  During development I fire up a `dotnet watch run` for both projects.  All of my development is currently on Windows.

When I modify a file in a dependency project both watches start builds at almost the same time and fairly o

[2020-04-25 20:43] jonstelly commented on #4619
Oops, this belongs in the SDK repo, moving it.

[2020-04-25 20:43] #4619 closed

[2020-04-26 01:16] kpm commented on #4360
I tried the 19.10 instructions as a workaround but I get "some packages could not be installed".

[code]

[2020-04-26 05:22] JairAguirre opened #4620 "Invalid input switch: -0 ConsoleApp4"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-04-26 05:23] JairAguirre commented on #4620
i have this problem while i was creating the file of type console

[2020-04-26 08:13] ranieuwe commented on #4360
Just ran into the same trap and followed the docs. Resulted in me doubting my system. I think the docs as they are right now are very confusing or at least deserve a NOTE on them with a slight preference towards a note with a link to this issue.

[2020-04-26 08:20] mohammadmoghadam70 opened #4621 "MySql Connection Not Closed in docker linux"
Hi
i use mysql Connection in asp.net core 2.2 and open connection Successfully but when send close connection the connection not close
i dont have any idea

[2020-04-26 10:43] vanshika1009 opened #4622 "Program.cs"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

I am facing an error "Access denied" if trying to open the file

[2020-04-26 13:17] Fredrik81 commented on #4360
Just release it already :-D

[2020-04-26 13:28] DenSmoke commented on #4360
I am agree with @Fredrik81. Such a shame that MS couldn't release packages for Ubuntu 20.04 which is LTS version

[2020-04-26 15:43] omajid commented on #4620
This input switch is a lowercase letter "O" (`-o`, short for `--output`), not the number 0 (`-0`). I think you might be typing the number 0, incorrectly.

[2020-04-26 17:36] #4554 closed

[2020-04-26 17:36] #4550 closed

[2020-04-26 18:15] AlexandreDonovan commented on #4360
Worked for me thanks !

[2020-04-27 01:48] SixOThree commented on #4360
AlexandreDonovan's two lines worked for me.

[2020-04-27 07:27] BrianXS commented on #4360
AlexandreDonovan didn't work for me what I did was:

- downloading the x64 package, and decompressed it at $HOME/dotnet
`mkdir -p $HOME/dotnet && tar zxf dotnet-sdk-3.1.201-linux-x64.tar.gz -C $HOME/dotnet`

- and added the following lines to the .bashrc file at $HOME
[code]

- restarted the terminal, and it worked.

https://dotnet.microsoft.com/download/dotnet-core/3.1

[2020-04-27 08:58] scegg opened #4623 "No way to stop HttpListener from GetContext"
In dotnet core 3.1.201 with Windows 10 x64, after GetContext() is called from another thread, there is no way to stop it.

To test it, create a console app, and type these code:

[code]

After listener.Stop and Abort called, thread.Join will still be blocked.

[2020-04-27 10:40] EricPing opened #4624 "Deploy to remote IIS Failed"
Hello all:

I have encountered a problem while using dotnet cli to deploy my app.

This is my deploy command

[code]

This is my failed message

and this is my `Deploy.pubxml`

[code]

I have googled it, repaired dotnet core & WebDeploy 3.6, but not work.

I don't know how to solve this problem, please help! Thank you very much!

[2020-04-27 12:16] naouaro commented on #2746
On macOS Catalina, VSCode  1.44.2

nuget -> "runtime.osx.10.10-x64.CoreCompat.System.Drawing" fixed the problem

[2020-04-27 14:36] rainersigwald commented on #4559
@Wagnerp https://github.com/Krypton-Suite/Standard-Toolkit/blob/dot-net-5/build.cmd tries to find and invoke MSBuild.exe from a variety of locations (all in `programfiles(x86)`). Which one is selected in your case? If you build from the command line using `dotnet build` do you get the same problems?

[2020-04-27 15:05] Wagnerp commented on #4559
Hi @rainersigwald

I use VS Community, but I installed my environment on another partition, not `C:\Program Files (x86`. The `dotnet build` command does work, but it doesn't output any binaries. I have tested the build system does work on a VM (to eliminate the possibility of the batch file having a issue). I can verify that everything does work, providing that you install everything to their defa

[2020-04-27 16:00] rainersigwald commented on #4559
What is the exact command you're entering, and what is its output?

[2020-04-27 16:27] Wagnerp commented on #4559
I use `build.cmd` and it should output binaries to a `Bin` directory in the root folder.

[2020-04-27 16:29] darkdragon-001 commented on #4360
The toolchain for Ubuntu 20.10 _Groovy Gorilla_ [will be ready this week](https://discourse.ubuntu.com/t/groovy-gorilla-release-schedule/15531). So when you add it to your CI directly, maybe it will be on time for the next release :wink:

[2020-04-27 16:45] kiru84 opened #4625 "Not able to run docker https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/run-docker"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/run-docker
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

OS. Windows 10

C:\Personal\Training\Micro Services\myMicroservice>docker run -it --rm -p 3000:80 --name mymic

[2020-04-27 16:55] #4625 closed

[2020-04-27 16:55] kiru84 commented on #4625
creating the file .dockerignore is solved my issue.

[2020-04-27 17:28] scalablecory commented on #4622
What directory are you trying to create a project in?

[2020-04-27 17:34] scalablecory commented on #4624
@wli3 @dsplaisted @Pilchie any ideas here?

[2020-04-27 17:37] scalablecory commented on #4621
You might be describing connection pooling, but without more info it's impossible to be certain. MysqlConnection is not an in-box type; you will want to file a support issue with whichever product you're using as they will have more in-depth knowledge.

[2020-04-27 17:53] mairaw commented on #4620
@JairAguirre have you tried running the command with the letter o instead of zero to see if the problem goes away?

[2020-04-27 17:53] Pilchie commented on #4624
Not sure.  Also tagging @vijayrkn though.

[2020-04-27 17:59] mairaw commented on #4539
The system32 folder is a protected path on Windows. Can you try changing the path to something else?
Typically, when you open a new command prompt, it will open on the users path.

[2020-04-27 18:02] mairaw commented on #4435
You don't need to mess with those folders. Did you find the Index.cshtml file to modify and run `dotnet run` again?

[2020-04-27 18:06] vijayrkn commented on #4624
Can you confirm if you have the MSDeploy V3 installed (default installation path is here - C:\Program Files\IIS\Microsoft Web Deploy V3)

[2020-04-27 19:24] JairAguirre commented on #4620
Thanks!! that was the problem : D

[2020-04-27 19:25] JairAguirre commented on #4620
Thanks !
the problem goes away :D

[2020-04-27 19:49] mairaw commented on #4620
Awesome! So closing this issue.

[2020-04-27 19:49] #4620 closed

[2020-04-27 23:59] EricPing commented on #4624
Dear @vijayrkn:

Yes I have the MSDeploy V3 installed in `C:\Program Files\IIS\Microsoft Web Deploy V3`

![image](https://user-images.githubusercontent.com/5001805/80432173-00003e80-8926-11ea-9e0f-f353d3e87ad7.png)

[2020-04-28 00:03] EricPing commented on #4624
Dear @vijayrkn:
Yes I have the MSDeploy V3 installed in `C:\Program Files\IIS\Microsoft Web Deploy V3`.

And I can use Visual Studio to Deploy, but command not work.

![image](https://user-images.githubusercontent.com/5001805/80432173-00003e80-8926-11ea-9e0f-f353d3e87ad7.png)

[2020-04-28 00:11] vijayrkn commented on #4624
Just noticed that you have set UseMsDeployExe to false. You need to set this to true if you are using dotnet publish. This is because the msdeploy dll does not target .NET Core.
`    <UseMSDeployExe>false</UseMSDeployExe>`

Alternatively, you can use msbuild (full framework) to run the publish & this will be able to use the msdeploy apis directly.

`msbuild WebApplication.csproj /p:DeployOnBuild=t

[2020-04-28 00:20] EricPing commented on #4624
Dear @vijayrkn:

Thanks for your reply.

I set the `UseMSDeployExe` to `true` and run the command

[code]
and get the result `System.MissingMethodException Method not found 'Void Microsoft.Web.Deployment.Tracing.WebDeployEventWriter.EventWriteVerbose(System.String, System.String, System.String)`

![image](https://user-images.githubusercontent.com/5001805/80433198-dd235980-8928-11ea-9561-92a80ac6cf

[2020-04-28 00:20] RachelThevenard opened #4626 "error CS0234"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: windows

C:\Users\Admin\myApp>dotnet run
node_modules\selenium-webdriver\lib\test\data\Page.aspx.cs(4,40): error CS0234: The type or namespace name 'UI' does not exist in the namespace 'System.Web' (are you missing an assembly reference?) [C:\Users\Admin\myApp\myApp.csproj]

The build failed

[2020-04-28 00:30] RachelThevenard commented on #4626
Fixed my own issue by changing directory to Desktop instead of User.... Idk why it worked.

[2020-04-28 00:32] vijayrkn commented on #4624
Just tried this on a sample app and the command seems to be working fine

[code]

Alternatively, tried the msbuild equivalent and that also works:

`msbuild /p:DeployOnBuild=true /p:publishProfile=msdeploy /p:IsGetPasswordEnabled=true`

Can you try running this outside the powershell? MsDeploy has had issues inside powershell in the past.

[2020-04-28 00:49] EricPing commented on #4624
Dear @vijayrkn

I created a sample project and run two command using cmd.exe:

1. `dotnet publish /p:publishProfile=msdeploy /p:IsGetPasswordEnabled=true`
It's not worked because without `MsDeployServiceUrl` and `DeployIisAppPath`
So I changed it into
[code]
And it still returned he result `System.MissingMethodException Method not found 'Void Microsoft.Web.Deployment.Tracing.WebDeployEventWriter.E

[2020-04-28 01:05] EricPing commented on #4624
Dear @vijayrkn

After I uninstall Web Deploy and re-install Web Deploy 4.0 by this link

https://developercommunity.visualstudio.com/solutions/330444/view.html

and it's worked!! But I don't know why.  Maybe it's because I have VS 2013 and VS 2019 on my computer...

Thanks for all your reply and help!! Thank you very much

[2020-04-28 01:07] vijayrkn commented on #4624
Glad to know reinstall fixed the issue.

[2020-04-28 02:05] vijayrkn commented on #4624
@EricPing - And by the way this property is only used if you have used VS to publish and a user file with encrypted password is present. otherwise you need to pass the password to the command.

`IsGetPasswordEnabled`

[2020-04-28 02:05] #4624 closed

[2020-04-28 11:35] svick commented on #4596
That functionality already exists, you can use [the overload of `Directory.GetFiles()` accepting `EnumerationOptions`](https://docs.microsoft.com/en-us/dotnet/api/system.io.directory.getfiles?view=netcore-3.1#System_IO_Directory_GetFiles_System_String_System_String_System_IO_EnumerationOptions_) to specify case insensitive search:

[code]

[2020-04-28 14:56] bangugmark01 opened #4627 "Attempted to update project that is not loaded!"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/edit
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-04-28 17:05] scalablecory commented on #4627
Can you please provide more detail? It's not clear what the issue is here, but it seems related to your editor.

[2020-04-28 17:09] scalablecory commented on #4626
It looks like you're missing a reference or setting an incorrect SDK type in your project file.

The tutorial you linked does not involve System.Web.UI; are you sure you linked the correct one?

[2020-04-28 17:36] scalablecory commented on #4600
Our recommendation here is to create self-contained applications and not depend on the .NET Core runtime being installed separately.

You could also have IT manage updates to the .NET Core runtime as they would any other application.

[2020-04-28 17:52] scalablecory commented on #4556
Closing due to lack of response; please reopen if you can provide more detail.

[2020-04-28 17:52] #4556 closed

[2020-04-28 17:53] scalablecory commented on #4548
Thanks for following up.

[2020-04-29 03:01] futsystems opened #4628 "ControllerNameAttribute have not change ControllerName in ControllerModel"
Asp.net Core 3.1
use Microsoft.AspNetCore.Mvc.Versioning 4.1

[code]

the routing is  intoweatherforecast/action1

but in asp.net core 2.x the routing is "/controller1/action1"

i think the default convention has not take ControllerName into Route Value.

so i wrote the a new Convention
[code]
then routing is working as excepted.

i do not know   it is a issue or i am  misunderstanding.

thanks.

[2020-04-29 06:02] eusebiu commented on #4122
I get this for 19.10 installing dotnet core SDK 3.1 on Linux Mint 19.10 on sudo apt-get update:
Err:14 https://packages.microsoft.com/ubuntu/19.10/prod bionic Release
  404  Not Found [IP: 13.81.215.193 443]
Err:15 https://packages.microsoft.com/ubuntu/19.04/prod bionic Release
  404  Not Found [IP: 13.81.215.193 443]

[2020-04-29 12:54] isnullxbh commented on #4360
I had used this installation scripts: https://dotnet.microsoft.com/download/dotnet-core/scripts
All works fine.

`dotnet --version`

`lsb_release -a`

[2020-04-29 16:39] Agazoth opened #4629 "SecureStringToBSTR + PtrToStringAuto not working on Ubuntu 20.04"
# Issue Title

When running SecureStringToBSTR and after that running PtrToStringAuto only first letter is returned

# General
.NET Core SDK (reflecting any global.json):
 Version:   3.1.201
 Commit:    b1768b4ae7

Runtime Environment:
 OS Name:     ubuntu
 OS Version:  20.04
 OS Platform: Linux
 RID:         linux-x64
 Base Path:   /usr/share/dotnet/sdk/3.1.201/

Host (useful for support):
  Vers

[2020-04-29 17:30] zdavidlnx commented on #4605
Same problem here, just after update to Fedora 32.
With Fedora 30/31 I installed MS packages and all works perfect, after upgrade to F32 stop working.
dotnet --info output is:

[2020-04-29 18:19] omajid commented on #4605
Speaking as a fedora maintainer: I am sure we will. We do this for other compilers and runtimes like Clang, GCC, OpenJDK, Python and Ruby. I don't see why .NET Core will be an exception.

Thanks, but this wouldn't been possible without the help of all the amazing dotnet maintainers/developers on github here, especially the https://github.com/dotnet/source-build/ folks.

[2020-04-29 18:28] zohozer commented on #4360
$ sudo snap install --classic dotnet-sdk

[2020-04-29 18:29] zohozer commented on #4360
dotnet-sdk 3.1.201 from Microsoft .NET Core (dotnetcore✓) installed

[2020-04-29 18:33] gotsalyuk commented on #4360
$ sudo snap install dotnet-sdk --channel=3.1.2
$ sudo snap alias dotnet-sdk.dotnet dotnet

[2020-04-29 18:33] zohozer commented on #4360
$ dotnet-sdk.dotnet --info
.NET Core SDK (reflecting any global.json):
 Version:   3.1.201
 Commit:    b1768b4ae7

Runtime Environment:
 OS Name:     ubuntu
 OS Version:  20.04
 OS Platform: Linux
 RID:         linux-x64
 Base Path:   /snap/dotnet-sdk/69/sdk/3.1.201/

Host (useful for support):
  Version: 3.1.3
  Commit:  4a9f85e9f8

.NET Core SDKs installed:
  3.1.201 [/snap/dotnet-sdk/69/sdk]

.

[2020-04-29 18:36] pvchandu commented on #2000
Hi @filippobottega, can  you please provide your changed code. I am running into the same issue, and cannot figure out the fix. Thank you very much.

[2020-04-29 18:36] zohozer commented on #4360
Thank you for this.

[2020-04-29 18:37] DimitriPapadopoulos commented on #4360
@zohozer Snap problems actually led me here:
https://forum.snapcraft.io/t/webdev-on-20-04-dotnet-sdk-and-node-woes/16894

[2020-04-29 18:48] gotsalyuk commented on #4360
if 'dotnet run' does not work start using 'dotnet bin/Debug/netcoreapp3.1/yourapp.dll'

[2020-04-29 18:52] sardul3 opened #4630 "Installation error"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install#
Operating System: macos

On mac, installing the SDK is not enough. In addition to the installation, following command needs to be run: `ln -s /usr/local/share/dotnet/dotnet /usr/local/bin/`

[2020-04-29 19:49] dagood commented on #4630
This can come up when the macOS utility `path_helper` isn't working properly due to a nonstandard shell being used, bad bash profile, or bad bashrc. More info at https://github.com/dotnet/runtime/issues/3603. Creating a symlink yourself seems like a reasonable workaround.

[2020-04-29 22:47] scalablecory commented on #4629
What you're seeing is a mismatch of string encodings.

A `BSTR` is a length-prefixed UTF-16 string. This type is used for COM interop on Windows, so you probably want to look for something else when using Linux.

`PtrToStringAuto` expects a null-terminated string in the platform's default encoding (UTF-16 on Windows, UTF-8 on Linux). It will not know how to interpret a `BSTR`.

For reference, you

[2020-04-29 22:50] filippobottega commented on #2000
Hi @pvchandu , I don't have any code, I have only changed the project type of the library that I need to reference in T4 model. If you have the source code of the library, you have to create a new project in Visual Studio using Standard Library and you have to copy your code into this new project.

![image](https://user-images.githubusercontent.com/2587684/80654408-77e07d00-8a7c-11ea-9fa3-1f56fd3b

[2020-04-29 23:48] mss128 opened #4631 "555"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-04-30 00:10] leopignataro commented on #2746
This, too, solved by problem on an Azure App Service running on Linux, thank you @eduardoluizm

Two questions, tough:

* Why install `apt-utils`?
* How big of a performance hit will this cause (especially considering the `apt-get update`)?

And perhaps the biggest question of all: is this a .NET Core bug or what? I see a huge variety of platform-specific solutions on this thread, but are we really

[2020-04-30 00:40] sunqiong1972 opened #4632 "Client browser: ERR_CONNECTION_REFUSED"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/run

Host: Virtual Machine, linux(CentOS 7), no browser, IP: 192.168.1.199
Client: Notebook PC, Windows 10, Edge and Chrome, IP: 192.168.1.xxx

Detail:
Client browser -> http://192.168.1.199:5000 -> ERR_CONNECTION_REFUSED

Solution:
Host -> /....../Properties/launchSettings.json -> "applicationUrl": "http://192.1

[2020-04-30 07:01] delanym commented on #4485
Any luck here? I can't create a reliable build system because dotnet restore pretends to succeed.

[2020-04-30 09:29] programatta commented on #4360
@gotsalyuk I solve this problem here:
https://github.com/dotnet/core/issues/2186#issuecomment-472629489

Thanks for your indications!

[2020-04-30 13:24] zdavidlnx commented on #4605
Wonderfull to hear that!! And yes, thanks too to dotnet team.

[2020-04-30 19:14] developomp commented on #4360
@NikolaMilosavljevic can we have any updates for when the package will be ready for ubuntu 20.04
It's March already and we're starting to feel a bit frustrated

[2020-04-30 20:57] holtalanm commented on #4557
I just started getting this, as well.

It _was_ working just fine.

OS:  Microsoft Windows 10 Pro
Version: 10.0.18363 Build 18363

[2020-05-01 09:21] Surendra45 opened #4633 "localhost:5000 not opening"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-05-01 16:25] melicaster commented on #4360
May... It's May... 😂

[2020-05-01 16:44] rbhanda commented on #4360
We are working on it and these will be available with our next update.

[2020-05-01 17:45] KhArtNJava opened #4634 "Can't run compiled .Net Core 3.1 application on Ubuntu host"
# Can't run compiled .Net Core application on Ubuntu host

I have 2 mini-PCs, both with linux-arm.

The first host - is TV box with S912 CPU corelec installed on it.

The second host - Raspberry Pi 4 Model b with freshly Ubuntu Server + lubuntu-desktop installation.

The code of .Net Core 3.1 app is simplest template of C# console app:

[code]
The C# .Net Core Console app compiled in MS VS 2019 wi

[2020-05-01 17:52] benaadams commented on #4634
/cc @richlander

[2020-05-01 20:26] carlossanlop commented on #4485
Per @MichaelSimons suggestion, pinging @rrelyea from the nuget team to help.

[2020-05-01 20:33] rrelyea commented on #4485
Perhaps related to: https://github.com/Microsoft/msbuild/issues/1603

If that doesn’t help, please engage with team in issues at nuget/home

[2020-05-01 20:38] KhArtNJava commented on #4634
Solved by changing build target to `ubuntu-arm64`:
[code]

With this config compiled app works fine on Raspberry Pi 4 Model 4 with installed Ubuntu Server.

[2020-05-01 20:38] #4634 closed

[2020-05-01 21:33] briansas opened #4635 "the build has failed"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-05-01 21:34] briansas commented on #4635
Program.cs(12,18): error CS0101: The namespace 'myWebApp' already contains a definition for 'Program' [C:\Users\MSI Gebruiker\myWebApp\myWebApp\myWebApp\myWebApp\myWebApp.csproj]
Startup.cs(13,18): error CS0101: The namespace 'myWebApp' already contains a definition for 'Startup' [C:\Users\MSI Gebruiker\myWebApp\myWebApp\myWebApp\myWebApp\myWebApp.csproj]
Pages\Error.cshtml.cs(13,18): error CS0101

[2020-05-01 22:23] KhArtNJava opened #4636 "Can't publish app for linux-arm64 or ubuntu-arm64"
Steps to produce:

- Create a project from Windows Forms App (.Net core) template in visualstudio 2019 with .Net Core 5.0 or with .Net Core 3.1 .
- Click on build -> publish
- Change deployment mode to: Self-contained
- Change target framework to: linux-arm64 or ubuntu-arm64

Actual result: the screen display this error:
![image](https://user-images.githubusercontent.com/757085/80839464-f61b5b80-8

[2020-05-01 22:30] mairaw commented on #4635
There might be something wrong with your project since you seem to have many subdirectories called myWebApp. Maybe delete these folders and start over?

[2020-05-02 08:52] delanym commented on #4485
I will do that. However, lets not confuse the issue here. This dotnet application returns 0 even though packages failed to download. If it was getting packages from nuget directly, or a faulty mirror, or some custom proxy, it shouldn't matter. This is a basic requirement and its not working!

The option to **--ignore-failed-sources** is not actually an option, its the default behaviour. It should

[2020-05-02 15:14] togabrennan commented on #4360
@rbhanda any ETA on this? The instructions were up on the docs and then taken down again. Getting frustrated that this is still an issue on May 2.

[2020-05-03 02:13] photharlay opened #4637 "dotnet sdk unable"
# Issue Title

Be as descriptive as you can with your title.
Unable to locate package dotnet-sdk-3.1
# General

Provide details on the problem you are experiencing including the .NET Core version, operating system version and anything else that is relevant.

Please provide a code sample for your issue if it is relevant, either inline, link to a gist (or similar) or add it as a zipped attachment.

[2020-05-03 02:21] danipoma commented on #4360
Just to extend on post from @BrianXS on how to install binary of [.NET Core](https://dotnet.microsoft.com/download/dotnet-core/3.1), which is already on Microsoft website.

[code]

This way dotnet tool works well on linux when you are using it in terminal, however when you try to use it in vscode (C# extension), then in debug/run step comes an error.

`The terminal shell path "dotnet" is a directo

[2020-05-03 07:46] svick commented on #4637
See https://github.com/dotnet/core/issues/4360. There are no official packages for Ubuntu 20.04 yet, though if you want, you can try the workarounds mentioned in that issue.

[2020-05-03 12:31] revoltez commented on #1918
what's the alternative , all my work is used using `ECDsaCng` !!

[2020-05-03 14:51] jeffpignataro commented on #4360
As a workaround, you can use the Eoan repository to get the missing package libicu-63.
`
sudo apt-add-repository 'deb http://archive.ubuntu.com/ubuntu/ eoan main restricted'
sudo apt-get update
sudo apt-get install dotnet-sdk-3.1
`

[2020-05-03 15:37] tareksharbak commented on #4500
I'm facing an issue while trying to connect to Cosmos DB from an ASP.NET 5.0 project.

Using the latest Microsoft.Azure.Cosmos library v3.8.0, and .NET 5.0, I get the following error
"The remote certificate is invalid according to the validation procedure."

This error only occurs when running inside a docker container (Linux), it happens in both Docker for Windows with Linux containers or inside

[2020-05-03 15:49] Dutchglory commented on #4616
---

first  option worked for me..!!  **NICE!!!!!**  :)  :)

[2020-05-03 16:36] Dutchglory commented on #4588
solution here: https://github.com/dotnet/core/issues/4616#issuecomment-619361732

[2020-05-03 17:23] bartonjs commented on #1918
@revoltez Use `ECDsa.Create()` and the `ECDsa` base class.  Unless you're doing named key interop work, which is only available on Windows, the base class can do everything.

[2020-05-03 19:14] mairaw commented on #4500
@tareksharbak is this happening with Preview 3? Because this issue is now closed and #4607 is the active one.

[2020-05-03 19:16] mairaw commented on #4637
Duplicate of #4360

[2020-05-03 19:16] #4637 closed

[2020-05-03 19:42] tareksharbak commented on #4500
I've just updated to Preview 3 and yes, it still happens. I'll post it in the new issue. Thank you

[2020-05-03 19:44] tareksharbak commented on #4607
I'm facing an issue while trying to connect to Cosmos DB from an ASP.NET 5.0 project.

Using the latest Microsoft.Azure.Cosmos library v3.8.0, and .NET 5.0, I get the following error
"The remote certificate is invalid according to the validation procedure."

This error only occurs when running inside a docker container (Linux), it happens in both Docker for Windows with Linux containers or inside

[2020-05-03 20:45] ahmed6262445 opened #4638 "dotnet tools like "ef" not working."
# Issue Title

When using the "dotnet ef" command or any other dotnet tool command the following error is diaplayed

(https://user-images.githubusercontent.com/57043614/80925402-e12bfd00-8da8-11ea-8031-509888f5df6a.png)

Note:
Downloaded the dotnet core package from snap.
Ubuntu 20.04

[2020-05-04 00:26] WoofahRayetDev commented on #4616
@mslot Your fix worked perfectly. Thank you!

[2020-05-04 04:15] SonoranBrian opened #4639 "Getting source IP behind proxy"
I have a .Net Core application running in a docker container as my backend service. Clients connect to the backend through HAProxy -> Kestrel -> .Net Core Service

I'm trying to capture the user's IP address, but am unable to get the true client IP.

startup.cs
`C#
app.UseForwardedHeaders(new ForwardedHeadersOptions
            {
                ForwardedHeaders = ForwardedHeaders.XForwardedFor |

[2020-05-04 06:37] F-Unction opened #4640 "Can not install on Ubuntu20.04!"
When i try to install it
[code]
`dotnet-runtime-3.1` depends on `dotnet-runtime-deps-3.1`
`dotnet-runtime-deps-3.1` depends on `libicu63`
But there is no libicu63 in Ubuntu20.04, only libicu66

[2020-05-04 09:19] jeanpoelie commented on #2448
As an extension, I than ran into not being able to run the project in visual studio anymore, so I solved it with the following link:
https://stackoverflow.com/questions/58469964/no-dockerfile-could-be-found-please-make-sure-you-have-a-dockerfile-called-doc

tl;dr I added the following to the project file.
<DockerfileContext>.</DockerfileContext>
    <DockerfileFile>..\Dockerfile</DockerfileFile>

[2020-05-04 09:37] nielshenriksen commented on #4640
I have same problem - It can be that 3.1 is not ready for 20.04 yet

[2020-05-04 10:11] svick commented on #4640
See https://github.com/dotnet/core/issues/4360. There are no official packages for Ubuntu 20.04 yet, though if you want, you can try the workarounds mentioned in that issue.

[2020-05-04 14:04] alberts2 opened #4641 "System::ReadOnlySpan deprecated warning using C++/CLI"
Using System::ReadOnlySpan in a  C++/CLI library targeting .Net Core 3.1.201
`	bool XmlReader::LoadXml(const wchar_t* path)
	{
		return Reader->LoadXml(System::ReadOnlySpan<System::Char>((void*)path, wcslen(path)));
	}`
gives the following compilation warnings.
`1>------ Build started: Project: LibCave.Wrapper, Configuration: Debug Win32 ------
1>XmlReader.cpp
1>F:\source\repos\LibCave\LibCave.Wra

[2020-05-04 15:09] leecow commented on #4360
Hey folks, 20.04 packages are expected to be available 5/12.

[2020-05-04 16:02] phillip-haydon commented on #4360
Hmmm really dropped the ball for support on this. There has been plenty of time to ready support for .net core on 20.04 but didn’t action it until well after the release.

[2020-05-04 16:44] scalablecory commented on #4639
@anurse @Pilchie

[2020-05-04 16:44] scalablecory commented on #4638
@dagood

[2020-05-04 16:46] scalablecory commented on #4633
Can you please provide the console log when you run the server?

[2020-05-04 16:51] scalablecory commented on #4636
Windows Forms and WPF are currently Windows-only libraries, so a publish failure is expected.

However, we can at least try to make the error message in VS more useful. CC @wli3 @dsplaisted @RussKie @gomathip02

[2020-05-04 16:53] scalablecory commented on #4632
Thanks. I think the tutorial assumes you are running the server on the same machine as the client. I'm not sure if we want to over-complicate the tutorial by accounting for every "advanced" situation, but maybe something can be done. @mairaw

[2020-05-04 16:53] scalablecory commented on #4631
Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-05-04 17:05] dsplaisted commented on #4636
@vijayrkn I think the publish error dialog should surface the error you get from build:

[2020-05-04 17:11] dagood commented on #4638
It looks like you'll want to use this workaround due to this open issue with Snaps: https://github.com/dotnet/runtime/issues/3203#issuecomment-398841315

[2020-05-04 17:39] mairaw commented on #3827
Closing due to the lack of response.

[2020-05-04 17:39] #3827 closed

[2020-05-04 17:41] mairaw commented on #3923
Closing due to the lack of response.

[2020-05-04 17:41] #3923 closed

[2020-05-04 17:42] mairaw commented on #3992
Closing due to the lack of response.

[2020-05-04 17:42] #3992 closed

[2020-05-04 17:42] mairaw commented on #4028
Closing due to the lack of response.

[2020-05-04 17:42] #4028 closed

[2020-05-04 17:42] mairaw commented on #4030
Closing due to the lack of response.

[2020-05-04 17:42] #4030 closed

[2020-05-04 17:43] mairaw commented on #4066
Closing due to the lack of response.

[2020-05-04 17:43] #4066 closed

[2020-05-04 17:43] mairaw commented on #4067
Closing due to the lack of response.

[2020-05-04 17:43] #4067 closed

[2020-05-04 17:44] mairaw commented on #4101
Closing due to the lack of response.

[2020-05-04 17:44] #4101 closed

[2020-05-04 17:44] mairaw commented on #4287
Closing due to the lack of response.

[2020-05-04 17:44] #4287 closed

[2020-05-04 17:45] mairaw commented on #4319
Did you try that @tukafab?

[2020-05-04 17:53] Surendra45 commented on #4633
Hi,Sorry for the trouble,but I actually worked it out. I made a mistake but
finally I rectified it.

On Mon, 4 May 2020, 22:17 Cory Nelson, <notifications@github.com> wrote:

[2020-05-04 17:54] antoineazar commented on #4486
I have the same issue

[2020-05-04 19:06] mairaw commented on #4349
Closing due to the lack of response.

[2020-05-04 19:06] #4349 closed

[2020-05-04 19:07] mairaw commented on #4416
Closing due to the lack of response.

[2020-05-04 19:07] #4416 closed

[2020-05-04 19:07] mairaw commented on #4449
Closing due to the lack of response.

[2020-05-04 19:07] #4449 closed

[2020-05-04 19:11] mairaw commented on #4640
Duplicate of #4360

[2020-05-04 19:11] #4640 closed

[2020-05-04 20:50] #3059 closed

[2020-05-04 22:15] mairaw commented on #4586
Closing due to the lack of response.

[2020-05-04 22:15] #4586 closed

[2020-05-04 22:17] mairaw commented on #4575
Closing due to the lack of response.

[2020-05-04 22:17] #4575 closed

[2020-05-04 22:18] mairaw commented on #4567
Closing due to the lack of response.

[2020-05-04 22:18] #4567 closed

[2020-05-05 01:10] mockjv opened #4644 "Concurrent Execution of Single Executable on Linux Fails"
# Execution of a single executable (e.g., /p:PublishSingleFile=true) by multiple users on Linux results in an extraction failure.

# General

I first came across this while testing my build against CentOS 7, but I suspect this isn't limited to just CentOS 7.  Upon first execution, it appears the application files are extracted to /var/tmp/.net/<assembly name>/<potentially random string>

The permi

[2020-05-05 03:39] omajid commented on #4644
In the Fedora builds of .NET Core 3.1, we work around this issue by setting an environment variable to change the extraction directory to a per-user directory:

    export DOTNET_BUNDLE_EXTRACT_BASE_DIR=$HOME/.cache/dotnet_bundle_extract

See also https://github.com/dotnet/runtime/issues/35221

[2020-05-05 04:06] mockjv commented on #4644
Yea, I saw the potential work around but I also tend to agree with your [comment](https://github.com/dotnet/runtime/pull/2329#issuecomment-616797844) on (dotnet/runtime#35221)[https://github.com/dotnet/runtime/issues/35221] that it should potentially default to something less error-prone (at a minimum a reasonable fallback vs. the catastrophic failure).

For my particular case, knowing that the cu

[2020-05-05 10:50] ahmed6262445 commented on #4638
Sir, first of all thank you for replying. Look the thing is "dotnet" and every other thing is working just fine only when I try to tools like "ef" or "codegenerator" the above given error shows up.
Thank you.

[2020-05-05 11:01] markus27183 opened #4645 "Cannot target .NET 5 in new project or any project"
I want to try to target .NET 5 in a C# console app.  But the highest .NET core I can target is 3.1.

My version of Visual Studio is 16.5.4, when I check updates it says I'm at the latest update.

Your web page says I need 16.6 preview, but the MSVS installer link doesn't give any way to update to 16.6.

I have installed the SDK, .NET 5 and ASP .NET 5 packages, ran them, restarted, re-opened MSVS,

[2020-05-05 11:15] svick commented on #4645
You can't update from VS 16.5 to VS 16.6 preview, the preview installs side-by-side with the release version. If you go to https://visualstudio.microsoft.com/vs/preview/, download the preview installer from there and run it, does that work?

Alternatively, you could directly use .Net 5 preview without VS from the command line (possibly through VS Code).

[2020-05-05 11:43] tadejstropniktastro commented on #3877
I had to use the following command to start the build:

`docker build .`

[2020-05-05 11:46] TadejTastro commented on #3877
I had to use the following command to start the build:

`docker build .`

[2020-05-05 13:28] classifieds-dev opened #4646 "PublishSingleFile Failure Must Specify Host Binary"
Hello, I'm working on a .NET 3.1 serverless application and am hoping to significantly reduce the size of the program uploaded to aws lambda using PublishSingleFile. I have been successful in using all the other optimization features such as;  publish ready to run and trimming. However, when publish single file is enabled on both my local host (run time identifier = osx.10.13-x64) and remote gitla

[2020-05-05 14:18] jyizheng opened #4647 "Error trying https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/edit"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: linux

Program.cs(10,56): error CS0103: The name 'DataTime' does not exist in the current context [/home/xxx/dotnet/myApp/myApp.csproj]

The build failed. Please fix the build errors and run again.

[2020-05-05 14:49] svick commented on #4647
This looks like you made a typo: it's <code>Dat<b>e</b>Time</code>, not <code>Dat<b>a</b>Time</code>.

[2020-05-05 17:36] michalbilinski commented on #4280
I experience exactly the same issuet on Ubuntu 20.04. Does anyone know a fix for this?

[2020-05-05 18:08] svick commented on #4280
@michalbilinski See https://github.com/dotnet/core/issues/4360. Ubuntu 20.04 is currently not supported, packages for it should be available on 12 May. In the meantime, you can try the workarounds mentioned in that issue.

[2020-05-05 18:32] byroniac commented on #4360
The alias didn't work for with C# in the snap versions of VS Code and VS Code Insiders, so I wound up making a symbolic link in /usr/local/bin directly to the dotnet executable. Surprised that worked, but glad. See [my comment](https://github.com/dotnet/docs/issues/18255#issuecomment-623937823)

[2020-05-05 18:32] leecow commented on #4607
@anurse - any guidance here?

[2020-05-05 18:33] anurse commented on #4607
Looks more like @karelz ’s team. It’s HttpClient and SslStream on the stack :)

[2020-05-05 18:47] karelz commented on #4607
@tareksharbak this is weird. Would you mind to file a separate new issue in dotnet/runtime repo to get to the bottom of this?
Is there any chance you could try to isolate the repro into something we can try? Alternatively @wfurt should be able to suggest some logging to understand more of it.
Thanks!

[2020-05-05 18:49] michalbilinski commented on #4280
You are right, thanks!

[2020-05-05 19:08] wfurt commented on #4607
Probably missing root CA files or access to them. I would suggest to create separate issue with specific details.

[2020-05-05 19:38] Shumeras opened #4648 "Documentation/functionality issue concerning "AssemblyBuilder" and "AssemblyBuilderAccess""
# Issue Title

Documentation/functionality issue concerning "AssemblyBuilder" and "AssemblyBuilderAccess"

# General

 .NET Core version: .NET Core 3.1
Operating system version: Windows 10 Pro, Version 1909

I've encountered an issue trying to run the code provided in .NET Core 3.1 documentation (https://docs.microsoft.com/en-us/dotnet/api/system.reflection.emit.assemblybuilder?view=netcore-3.1#ex

[2020-05-05 20:03] gfs opened #4649 "X509Certificate2.Import hangs on some .der files"
# Issue Title

Calling `X509Certificate2.Import(string Filename)` or `X509Certificate2.Import(byte[] FileContents)` with certain .der files hangs and never returns.

# General

.Net Core 3.1.201
Mac OS 10.15.4

Here's the line of code that it is hanging on: https://github.com/microsoft/AttackSurfaceAnalyzer/blob/7e77e4d81a344f26ee474155bedcd57330046441/Lib/Collectors/FileSystemCollector.cs#L109

Y

[2020-05-05 21:35] maxdelemos commented on #4360
Thank you for this.

[2020-05-05 21:56] ethancarroll opened #4650 "Hash sum mismatch installing dotnet-sdk-3.1 on Ubuntu 16.04 X64"
I Followed the directions on [https://docs.microsoft.com/en-us/dotnet/core/install/linux-package-manager-ubuntu-1604](https://docs.microsoft.com/en-us/dotnet/core/install/linux-package-manager-ubuntu-1604)

I tried this several times over the past few days with the same result. Here's the console output:

[code]

[2020-05-05 22:21] Hphipps commented on #3830
Having the same issue on net core 3.1

[2020-05-06 00:12] tareksharbak commented on #4607
I opened a new issue here with more details and a clearer repro steps Issue [https://github.com/dotnet/runtime/issues/35874](35874)

[2020-05-06 00:14] tareksharbak commented on #4607
I opened a new issue here with more details and a clearer repro steps Issue [Issue 35874](https://github.com/dotnet/runtime/issues/35874)

[2020-05-06 03:43] irac-ding commented on #3989
I have find the same issue.

[2020-05-06 04:55] irac-ding commented on #3989
any response ??

[2020-05-06 06:50] irac-ding opened #4651 "【Terrible memory leak】 in dotnet core v3.1/3.0 Process.Start execute shell command"
Please Pay Attention !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
System: Ubuntu 18.04 / CentOS 7.6 / SUSE 15
SDK: 3.1.100

ex:

var psi = new ProcessStartInfo("dotnet");
psi.RedirectStandardOutput = true;

psi.Arguments = $"--version";
using (var proc = Process.Start(psi))
{
    var output = proc.StandardOutput.ReadToEnd();
    var version = output.Trim();

    if (!proc.HasExited)
    {

[2020-05-06 06:56] irac-ding commented on #4651
https://github.com/dotnet/core/issues/3989 has found the issue which over passed over half year?
There is no response. This is almost unacceptable !!!

[2020-05-06 07:04] GrabYourPitchforks commented on #4651
Please keep discussion in the original issue.

[2020-05-06 07:04] #4651 closed

[2020-05-06 07:05] irac-ding commented on #3989
Please Pay Attention !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
System: CentOS 7.2
SDK: 3.1.201

ex:
class Program
{
static void Main(string[] args)
{
Console.WriteLine("Press any key to continue");
Console.ReadLine();
while (1 == 1)
{
List stdout = RunTaskAndReturnStdout("dotnet", $"--version");
}
}
}

public static List RunTaskAndReturnStdout(string fileName, string arguments, string wor

[2020-05-06 08:44] szszoke commented on #4557
I am facing the same issue. It seems to be randomly come and go.

I am using Windows 10 Pro 1903 Build 18362.778

The path for `hostfxr.dll` is the same except for the Windows username.

[2020-05-06 09:41] evan-choi commented on #4258
![image](https://user-images.githubusercontent.com/9690415/81163096-2cbcf180-8fc9-11ea-9b66-c54e278cbaed.png)

[2020-05-06 14:33] swinterrowd-usbr opened #4652 "Microservice Demo Not Working. Build failure"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/docker-image
Operating System: windows

C:\Users\swinterrowd\myMicroservice>docker build -t mymicroservice .
error during connect: Post http://%2F%2F.%2Fpipe%2Fdocker_engine/v1.40/build?buildargs=%7B%7D&cachefrom=%5B%5D&cgroupparent=&cpuperiod=0&cpuquota=0&cpusetcpus=&cpusetmems=&cpushares=0&dockerfile=Dockerfil

[2020-05-06 21:26] philippun1 commented on #4360
snap version does not work either on Ubuntu 20.04. To reproduce just create a new dotnet core console app with:
[code]
It will fail with:
[code]

[2020-05-06 21:42] byroniac commented on #4360
Please see my comment [here](https://github.com/dotnet/docs/issues/18255#issuecomment-623937823) because you can set the environment variable DOTNET_SYSTEM_GLOBALIZATION_INVARIANT as a tempory workaround.

[2020-05-07 05:34] nealcoles opened #4653 "Null reference exception calling XmlSerialiser (works in net framework)"
I have been trying to move some code from framework to core 3.1 and I'm seeing a null reference exception calling new XmlSerialiser(Type) on net core 3.1 that does not occur on net framework. The code supports many legacy projects are therefore it compiles and runs in net frameworks from 4.5 - 4.8.

I have isolated the problem in the following code example.

`using System.Xml.Serialization;

names

[2020-05-07 05:39] irac-ding commented on #4453
[Memory Leak]
System: CentOS 7.2
SDK: 3.1.201

ex:
class Program
{
static void Main(string[] args)
{
Console.WriteLine("Press any key to continue");
Console.ReadLine();
while (1 == 1)
{
List stdout = RunTaskAndReturnStdout("dotnet", $"--version");
}
}
}

public static List RunTaskAndReturnStdout(string fileName, string arguments, string workingDirectory = "")
{
List ret = new List();
try
{
using (

[2020-05-07 06:57] dborovsky commented on #4404
@gp2-gp2  Must I set this environment variable in project or for Operation System?

[2020-05-07 06:59] gp2-gp2 commented on #4404
Hi @dborovsky at Operation System level, at least that's what works for me both in Windows and Ubuntu.

[2020-05-07 09:41] iHackFX commented on #4360
Temporary solution for me:
1. Download - https://dot.net/v1/dotnet-install.sh
2. Run in terminal:
`bash ./dotnet-install.sh --channel 3.1 --install-dir ~/cli
sudo mkdir /usr/share/dotnet
sudo mv ~/cli/* /usr/share/dotnet/
sudo ln -s /usr/share/dotnet/dotnet /usr/bin/dotnet`

[2020-05-07 10:25] hemalatayavarna opened #4654 "cannot recognise"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

C:\Users\Hemalatha_Yavarna>dotnet
'dotnet' is not recognized as an internal or external command,
operable program or batch file.

[2020-05-07 15:49] stuartleeks commented on #4360
Any update on this? Not having this additionally blocks PowerShell on Ubuntu 20.04: https://github.com/PowerShell/PowerShell/issues/12594

[2020-05-07 17:29] mairaw commented on #4633
Thank you for getting back to us. I'm glad it's working now.

[2020-05-07 17:29] #4633 closed

[2020-05-07 18:10] AnthonyMastrean commented on #4557
Same!

Windows 10 Pro 1909
Visual Studio Code 1.44.2
.NET Core SDK 3.1.101

[code]

[2020-05-07 18:19] AnthonyMastrean commented on #4557
I disabled the Live Share extension and reloaded and the debugger works now...

[2020-05-07 18:52] FeodorFitsner commented on #4360
This is how you can install PowerShell 7.0 on Ubuntu 20.04:

[code]

[2020-05-07 20:03] gmarokov opened #4655 "Cannot install .NET Core SDK 2.1 on Fedora 32"
# Cannot install .NET Core SDK 2.1 on Fedora 21

# General

Upgrading from Fedora 31 to 32 `dotnet` stopped working giving the following error:
[code]
Package seems to be installed:
[code]
`dotnet-sdk-3.1` was successfully installed and running indeed:

[code]
Also tried to remove package and install it again, but that didn't changed anything.

[2020-05-07 20:22] omajid commented on #4655
I think I know why this happens.

Fedora 32 includes .NET Core 3.1 in the default repositories. You can `dnf install dotnet-sdk-3.1` and it will work out of the box.

On Fedora 31, you had installed the .NET Core 2.1 packages, using the Microsoft repository.

When you upgraded, all the .NET Core packages were upgraded. Now you have a mix of packages. the packages with `.fc32` are from the Fedora r

[2020-05-07 23:40] Mohammad1-dot opened #4657 "dotnet run"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-05-07 23:41] Cooksauce opened #4658 "Debugger crash when trying to access an EntityFrameworkCore Proxy"
The EF Core & VS for Mac teams have determined this to be a dotnet Core runtime issue.

See issue (_includes repro_) reported in microsoft/dotnet [1159](https://github.com/microsoft/dotnet/issues/1159)

[2020-05-07 23:59] mairaw commented on #4657
Hi @Mohammad1-dot! Can you give us more information about what issues you were experiencing?

[2020-05-08 04:40] scalablecory commented on #4654
Have you restarted any open command prompts? Environment variables have been updated as part of the install and need to be refreshed.

[2020-05-08 08:53] EMARAJA opened #4660 "dot net"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: linux

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-05-08 09:07] AlenPelin commented on #4479
Same issue with different windows container

[2020-05-08 10:09] sharmaarjun1228 opened #4661 "arjun"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-05-08 11:30] cossth commented on #4616
@mslot  Works fine! +1

[2020-05-08 17:21] karelz commented on #4333
Fixed by #4403

[2020-05-08 17:21] #4333 closed

[2020-05-08 17:22] karelz commented on #4164
Fixed by #4403

[2020-05-08 17:22] #4164 closed

[2020-05-08 20:05] Keshavjps28 opened #4663 "Getting Error while adding Console.WriteLine("Hello World!"); Console.WriteLine("The current time is " + DateTime.Now);"
Program.cs(13,9): error CS0116: A namespace cannot directly contain members such as fields or methods [/Users/keshavsingh/myApp/myApp.csproj]
Program.cs(13,19): error CS1031: Type expected [/Users/keshavsingh/myApp/myApp.csproj]
Program.cs(13,19): error CS8124: Tuple must contain at least two elements. [/Users/keshavsingh/myApp/myApp.csproj]
Program.cs(13,19): error CS1026: ) expected [/Users/kesh

[2020-05-08 20:12] svick commented on #4663
I get these errors when I follow [this tutorial](https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/edit), but then I place the two lines at the very end of the file. But you're supposed to edit the code inside the `Main` method, so that it looks like this:

[code]

I wonder if the tutorial could make this clearer.

[2020-05-09 00:51] mairaw commented on #4660
Hi @EMARAJA, can you please provide more details about the issue you're having with the the tutorial?

[2020-05-09 05:09] Plasma commented on #4639
I'm tackling this myself, its a bit of a confusing mess -- try changing `ForwardLimit` to `null` (no limit) or increase to the number of valid hops in your proxy setup (eg try 3 or 4 or 5).

This has been very confusing because testing locally worked (even when I faked x-forwared-for) but once in production it still kept resolving to the proxy IP, even when it was just the one hop (1 proxy).

Bump

[2020-05-09 06:48] 3ronco commented on #505
Not long ago i just started to develop a little faith in the change of microsoft. Then there was this _telemetry_ thing in _Visual Code_, now it's the debugger not playing nicely with others. This is so disappointing.

Dear people at microsoft,
i don't care what kind of license problems you got at all. You will do well anyway but you simply can't and won't decide what editor i'm using but you may

[2020-05-09 07:38] avimehenwal commented on #4360
I think packages for ubuntu 20.04 still have some dependency problem and this is the easiest solution which works. Superthanks @jeffpignataro :+1:

[2020-05-09 21:00] #4663 closed

[2020-05-10 03:43] KrishnaManju commented on #3739
Hi, I am getting the same problem in my machine. Could you please help me the steps you followed to fix this problem. Thanks in advance

[2020-05-10 03:43] KrishnaManju commented on #3739
@beefsteak  am getting the same problem in my machine. Could you please help me the steps you followed to fix this problem. Thanks in advance

[2020-05-10 09:12] gmarokov commented on #4655
@omajid thanks for the quick reply! As I needed 2.1 for the current project went with option 2 without any problems. Many thanks again :)

[2020-05-10 09:12] #4655 closed

[2020-05-10 09:44] scalablecory commented on #4661
Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-05-10 09:53] scalablecory commented on #4652
@swinterrowd-usbr, can you verify that you running an elevated command prompt as the error message suggests?

[2020-05-10 09:54] scalablecory commented on #4650
@dagood @leecow

[2020-05-10 13:29] superbonaci opened #4664 "Can't install PowerShell on Ubuntu 20.04"
PowerShell depends on this project to work on Ubuntu 20.04:
Issue: https://github.com/PowerShell/PowerShell/issues/12594

[2020-05-10 13:36] svick commented on #4664
This is a duplicate of https://github.com/dotnet/core/issues/4360. The official packages for Ubuntu 20.04 should be released on 12 May.

[2020-05-10 13:53] vishwah13 opened #4665 "cant find index/page.cdhtml file"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/modify
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-05-10 16:15] superbonaci commented on #4360
Thanks

[2020-05-10 16:16] superbonaci commented on #4664
Thanks

[2020-05-10 17:43] SpiraMira opened #4666 "angular-devkit progress shows many "fail: Microsoft.AspNetCore.SpaServices[0]" errors"
Latest `dotnet new angular` generates projects with these build/run issues when
angular-devkit/build-angular progress option is set to true as in:

`      "architect": {
        "build": {
          "builder": "@angular-devkit/build-angular:browser",
          "options": {
            "progress": true,`

Streaming Errors look like this:

`fail: Microsoft.AspNetCore.SpaServices[0]
      <s> [webpac

[2020-05-10 19:24] dagood commented on #4650
@NikolaMilosavljevic

[2020-05-10 19:43] nareshkathi opened #4667 "Not able to get client device name"
I am not able to get the client device name either from Request/HttpContext. Below is the sample code i am using,

 IPAddress ClientIP = IPAddress.Parse(IHttpContextAccessor.HttpContext.Connection.RemoteIpAddress.ToString());
IPHostEntry GetIPHost = Dns.GetHostEntry(ClientIP);
var clientDeviceName = GetIPHost?.HostName?.ToString()?.Split('.')?.ToList()?.FirstOrDefault();

I was able to get client

[2020-05-11 05:03] xtqqczze opened #4668 "Windows Server 2012 support in .NET 5"
The [supported OS release notes for .NET 5.0](https://github.com/dotnet/core/blob/master/release-notes/5.0/5.0-supported-os.md) state the minimum Windows Server version is **2012 R2**+, however the prior version **2012** does not reach end-of-life until 2023-10-10 (https://support.microsoft.com/en-us/lifecycle/search/1163)

Considering Windows 7 is still listed as a supported OS, is there a partic

[2020-05-11 17:51] NikolaMilosavljevic commented on #4650
@ethancarroll I could not reproduce this issue using your steps with default server or server mirror specified in your command output - 40.118.250.56.

Can you run the following command and copy the complete output?

`wget https://packages.microsoft.com/ubuntu/16.04/prod/pool/main/d/dotnet-runtime-3.1/dotnet-runtime-3.1.3-x64.deb`

[2020-05-11 21:09] ommeirelles opened #4669 "MacOS System.Net.HttpListenerResponse disposed error."
# Issue Title

I'm trying to run a HttpListener to respond to some http requests. The code bellow once executed on Windows it works, but running the same code on my MacOs I got this error.
[code]

# General
### dotnet core info;
[code]

Example of code within the probleml.###

[code]
### MacOs Config
[code]

[2020-05-11 22:47] Artur-Cavalcante commented on #4360
Working..Thanks.

[2020-05-11 23:10] xtqqczze commented on #4668
Visual Studio 2019 is a requirement to build .NET 5.0, and the last version to support Windows Server 2012 was Visual Studio 2015.

https://docs.microsoft.com/en-us/visualstudio/releases/2019/system-requirements#visual-studio-2019-system-requirements

[2020-05-11 23:45] carlossanlop commented on #4479
ping @shirhatti , can you help with this?

[2020-05-12 01:43] AlenPelin commented on #4479
In my case rebooting machine, manually removing all containers and rebooting again  helped to resolve the issue

[2020-05-12 02:44] zoujia commented on #4616
Works for me on Win10 WSL~~👍

[2020-05-12 08:33] ErikGrav opened #4670 "stand alone and selfcontained, after a while; must install .net core 3.1?"
![IMG_3115](https://user-images.githubusercontent.com/17234673/81659715-42537080-943a-11ea-9310-7553bea0191c.jpg)

Build:
.net core 3.1, asp.net core 3.1.3.
Deployment mode: Self-Contained
Target Runtime Win-x64
RedyToRun, single file.

User: win 10 x64, 1903, 18362.788

I am out of ideas of what is wrong.
it should not need to have .net core runtime installed. ( as far as I understand it)
It runs

[2020-05-12 10:58] alabrashJr commented on #2186
[Derviş Kayımbaşıoğlu's](https://stackoverflow.com/a/54065983/4696048) solution is also working.

[2020-05-12 12:05] xrkolovos commented on #4360
any news?

[2020-05-12 12:16] developomp commented on #4360
Hopefully we'll have it tomorrow
I mean, time zones are a thing so... ¯\_(ツ)_/¯

[2020-05-12 14:46] tenderloin420 commented on #2448
For me, this ended up being a casing issue for a reference to a project file in my Dockerfile.

[2020-05-12 15:26] rbhanda commented on #4360
We are in the process of publishing them right now. We will update as soon as the publishing and testing is complete

[2020-05-12 15:33] scalablecory commented on #4668
It does seem like we should either support 2012 or drop support for 7.

@dagood @richlander @terrajobst do we have some cleanup to do here? have we finalized our OS support list for .NET 5?

[2020-05-12 15:59] dagood commented on #4668
@NikolaMilosavljevic @leecow @dleeapho

[2020-05-12 18:20] dagood commented on #4670
Single-file .NET Core 3.1 apps self-extract into a temporary folder then run from that location--I wonder if your users are getting this issue because specific files are being deleted from the temp folder in a way that makes the host think installing the runtime is the right solution, so it prompts?

Searching dotnet/runtime shows some potentially related issues: https://github.com/dotnet/runtime/

[2020-05-12 19:10] chrisevans9629 commented on #3830
Same here

[2020-05-12 19:57] swaroop-sridhar commented on #4670
@ErikGrav I think the problem here is that the files extracted into the temp-directory are partially cleaned up -- causing the application to crash because of missing files. However, it is surprising that temp-files are cleaned up after a week on Windows.

Anyway, this problem will be fixed in the upcoming servicing release .net core 3.1.4.
In the meantime, users can set DOTNET_BUNDLE_EXTRACT_BASE

[2020-05-12 19:57] #4670 closed

[2020-05-12 21:55] TheAngryByrd commented on #4542
I just had the same issue crop up on TravisCI: https://travis-ci.org/github/demystifyfp/FsToolkit.ErrorHandling/builds/686310362

My current `.travis.yml` file:

[code]

[2020-05-12 22:11] togabrennan commented on #4360
Any update? It's nearly 5/13.

[2020-05-12 22:24] asfernandes commented on #4360
The runtime seems to be available already. The sdk has some dependency problems.

[2020-05-12 22:56] rbhanda opened #4675 ".NET Core May 2020 Update - 2.1.18, 3.1.4 and 3.1.300 SDK"
[Release Notes](https://github.com/dotnet/core/blob/master/release-notes/3.1/3.1.4/3.1.300-sdk.md)

[3.1.4 Release Notes](https://github.com/dotnet/core/blob/master/release-notes/3.1/3.1.4/3.1.4.md)
[3.1.4 Download](https://www.microsoft.com/net/download/dotnet-core/3.1)

[2.1.18 Release Notes](https://github.com/dotnet/core/blob/master/release-notes/2.1/2.1.18/2.1.18.md)
[2.1.18 Download](https:/

[2020-05-12 23:11] rbhanda commented on #4360
This should be available now

[2020-05-13 00:18] ctcoulter commented on #4360
was able to install through apt. thanks!

[2020-05-13 00:48] rbhanda commented on #4453
Closed in favor of https://github.com/dotnet/core/issues/4675

[2020-05-13 00:48] #4453 closed

[2020-05-13 00:57] babelshift commented on #4675
The release date on the [3.1 README](https://github.com/dotnet/core/blob/master/release-notes/3.1/README.md) shows as 3/24, but I assume it should be 5/12?

[2020-05-13 01:06] mairaw commented on #3184
Closing older announcement issues.

[2020-05-13 01:06] #3184 closed

[2020-05-13 01:07] mairaw commented on #3304
Closing older announcement issues.

[2020-05-13 01:07] #3304 closed

[2020-05-13 01:09] mairaw commented on #3380
Closing older announcement issues.

[2020-05-13 01:09] #3380 closed

[2020-05-13 01:10] mairaw commented on #4405
Closing older announcement issues.

[2020-05-13 01:10] #4405 closed

[2020-05-13 01:11] mairaw commented on #3809
Closing older announcement issues.

[2020-05-13 01:11] #3809 closed

[2020-05-13 01:13] mairaw commented on #3744
Closing older announcement issues.

[2020-05-13 01:13] #3744 closed

[2020-05-13 01:16] mairaw commented on #4665
Thanks for your feedback @vishwah13! We plan on adding more context to these steps.
The file should be inside the myWebApp folder where you created your project.

[2020-05-13 01:24] mairaw commented on #3848
Closing older announcement issues.

[2020-05-13 01:24] #3848 closed

[2020-05-13 01:29] #4360 closed

[2020-05-13 01:30] mairaw commented on #4675
Thanks @babelshift. I've opened #4678 for @rbhanda to review.

[2020-05-13 01:39] byroniac commented on #4360
Is the website going to be updated soon to reflect this? 19.10 is still listed as the latest for me.
[Ubuntu 19.10 Package Manager - Install .NET Core](https://docs.microsoft.com/en-us/dotnet/core/install/linux-package-manager-ubuntu-1910)

[2020-05-13 01:55] leecow commented on #4360
@byroniac - we'll get the docs updated to reflect the availability of 20.04.

cc @mairaw and @Thraka

[2020-05-13 07:07] merschformann commented on #4360
Installing via these steps worked great for me:

[code]

However, I **first** had to run the following. I guess I needed to clean up previous attempts.

[code]

[2020-05-13 09:26] kzhimel opened #4679 "sdk"
# Issue Title

Be as descriptive as you can with your title.

# General

Provide details on the problem you are experiencing including the .NET Core version, operating system version and anything else that is relevant.

Please provide a code sample for your issue if it is relevant, either inline, link to a gist (or similar) or add it as a zipped attachment.

For some issues, you will get a quicker

[2020-05-13 11:33] arvindrajachourasiya opened #4680 "What are the scenarios Main method getting called in Worker Service after installing it"
# Issue Title

What are the scenarios Main method getting called in Worker Service after installing it in Windows/Linux machine

# General
I am working on .NET Core "Worker Service" project to implement service for Windows & Linux machine.

Service reading data from external config.xml file like credentials/urls. I want to add interval time too in config file so that in future if I want change sch

[2020-05-13 12:05] Indigo744 commented on #1541
I stumble upon this thread after scouring the web for information on how to keep the .Net Core runtime updated with the latest security patch, hoping that it was just an oversight from my part and that MS did actually offered a solution to this really important problem.

Suffice to say that after reading the whole thread (and other similar ones), I am **not** impressed, sadly, and I wish we knew i

[2020-05-13 14:03] lennybacon commented on #1541
Source: https://dotnet.microsoft.com/platform/support/policy/

So here is my summary for now:
- The runtime will be patched with hotfixes
- The patching itself is up to you

I would really like to see an **opt-in** way of installing the latest patches automatically.

@terrajobst to the rescue?

[2020-05-13 14:10] hdvoice123 commented on #4258
I'd also like to know this. It seems really weird and I just spent way too much time on this.

[2020-05-13 14:47] ckruegerkpmg commented on #1541
@lennybacon :
The question is: who is "you".

I think "you" means the developer of product X that is using .NET Core.
Result: I'm as the administrator of the system (admin of the windows server) that uses product X can't patch .NET Core.

[2020-05-13 16:06] erikpotanin95 opened #4681 "WEBAPP"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-05-13 17:38] superbonaci commented on #4360
@merschformann isn't there any repository so dependencies are met automatically?

[2020-05-13 17:52] byroniac commented on #4360
If you look at the comment right above yours, I did the same thing, and it provides a repository, at least for Ubuntu (I can't speak for other distros as I have not tried anything else, but I know that Fedora 32 has them built in, for which I am very grateful to Microsoft and IBM/RedHat).

[2020-05-13 18:35] SpiraMira commented on #4666
resubmitted in dotnet aspnetcore #21793

[2020-05-13 18:35] #4666 closed

[2020-05-13 20:34] lennybacon commented on #1541
`you != Microsoft`

you could be:
- A developer who compiles a new version of a product against the patched SDK.
  - If self contained that's it
  - If not self contained the machine where the software will run needs an update to its runtime.
- An administrator who updates the .NET runtime on the machine where a product runs.
  - If it is a patch or minor update (`{major}.{minor}.{patch}`) it will

[2020-05-13 21:11] Mizux commented on #4360
see here for the list of officially supported platforms: https://docs.microsoft.com/en-us/dotnet/core/install/linux-package-manager-ubuntu-1910

Page for Ubuntu 20.04 is not yet available and tracked by https://github.com/dotnet/docs/issues/17638

[2020-05-13 23:15] scalablecory commented on #4681
Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-05-13 23:17] scalablecory commented on #4679
Hi @kzhimel, can you please fill out the info requested? This is not actionable.

[2020-05-14 00:08] mairaw commented on #4632
Correct, this tutorial is meant to be run locally. Have you tried following the steps as described in the tutorial @sunqiong1972?

[2020-05-14 00:19] ESharawy99 commented on #4360
@Mizux  yo estoy programando en ubuntu 20.04 LTS , use lo que dijo @merschformann aunque no este en la pagina de Microsoft si funciona, espero hagas la prueba, ademas en el caso de que existan actualizaciones lo único que debemos hacer es actualizarlo y ya.
![Captura de pantalla de 2020-05-13 19-19-09](https://user-images.githubusercontent.com/63360679/81878774-a6675900-954e-11ea-8c87-455c4ea78148

[2020-05-14 00:24] ESharawy99 commented on #4360
@Mizux si funciona el proceso de instalación que da @merschformann , entiendo que no esta en la pagina oficial de Microsoft pero si funciona, en el caso de que hubiera alguna actualización podemos hacerla y ya.
Adjunto una imagen demostrando que corre asp.net en Ubuntu 20.04 LTS, por obvias razones no estoy amostrando el nombre de la empresa.
![Captura de pantalla de 2020-05-13 19-19-09](https://u

[2020-05-14 00:34] mairaw commented on #4360
You can see the draft of the changes at https://github.com/dotnet/docs/pull/18160/files

[2020-05-14 00:36] byroniac commented on #4360
I want to thank every who works at Microsoft on this for their efforts on this, as they are much appreciated and not enough credit is given.

[2020-05-14 00:48] mairaw commented on #4435
Closing due to the lack of feedback.

[2020-05-14 00:48] #4435 closed

[2020-05-14 00:48] mairaw commented on #4541
Closing due to the lack of response.

[2020-05-14 00:48] #4541 closed

[2020-05-14 00:49] mairaw commented on #4603
Closing given the tutorials and docs were updated.

[2020-05-14 00:49] #4603 closed

[2020-05-14 00:50] mairaw commented on #4604
Closing due to the lack of response after two weeks or more.

[2020-05-14 00:50] #4604 closed

[2020-05-14 00:51] mairaw commented on #4627
Closing due to the lack of response after two weeks or more.

[2020-05-14 00:51] #4627 closed

[2020-05-14 00:54] mairaw commented on #4621
Closing due to the lack of response after two weeks or more.

[2020-05-14 00:54] #4621 closed

[2020-05-14 00:54] mairaw commented on #4626
Closing due to the lack of response after two weeks or more.

[2020-05-14 00:54] #4626 closed

[2020-05-14 00:59] mairaw commented on #4520
@joperezr can you help with questions re. setup on Raspberry PI?

@w4mmp the Microsoft.Windows.Compatibility package contains a lot of APIs that are Windows only. It's meant to make it easier to port your .NET Framework into .NET Core. More info can be found at https://docs.microsoft.com/en-us/dotnet/core/porting/windows-compat-pack.

But to answer your question, .NET Core won't support .NET Frame

[2020-05-14 01:00] mairaw commented on #4622
Closing due to the lack of response after two weeks or more.

[2020-05-14 01:00] #4622 closed

[2020-05-14 01:06] mairaw commented on #4605
The issue went to a different tangent it seems. I imagine that the Fedora issues are way different than that same error message on Windows.

I'd be inclined to close this issue since we never heard back from the original author of the thread.
@dagood do we still need a tracking issue for Fedora or does the docs issue cover this?

[2020-05-14 01:07] mairaw commented on #4491
Closing due to the lack of response after two weeks or more.

[2020-05-14 01:07] #4491 closed

[2020-05-14 01:07] mairaw commented on #4609
Closing due to the lack of response after two weeks or more.

[2020-05-14 01:07] #4609 closed

[2020-05-14 01:09] mairaw commented on #4664
Duplicate of #4360

[2020-05-14 01:09] #4664 closed

[2020-05-14 01:10] mairaw commented on #4664
Docs updates are in progress. You can see a draft at https://github.com/dotnet/docs/pull/18160/files

[2020-05-14 01:25] mairaw commented on #3572
I'm wondering if this issue can be closed? It seems @rbhanda has updated that page last March.

[2020-05-14 01:26] mairaw commented on #3582
@rrelyea friendly ping on this issue. Should we transfer this to dotnet/sdk or nuget/home?

[2020-05-14 01:28] rrelyea commented on #3582
Nuget/home for this and any nuget commands.
We own restore, pack and anything after “nuget”

[2020-05-14 01:31] mairaw commented on #3585
Can this be closed @leecow?

[2020-05-14 01:36] mairaw commented on #3430
Closing given 3.0 has reached end of line. If the UWP upgrade is still an issue, do you mind opening a new issue on the repo? Thanks.

[2020-05-14 01:36] #3430 closed

[2020-05-14 01:38] mairaw commented on #4658
@JeremyLikness @ajcvickers can you take a look at this issue? Should we move this to another repo?

[2020-05-14 01:39] mairaw commented on #4647
Closing since @svick's suggestion should fix the problem. Let us know if that's not the case.

[2020-05-14 01:39] #4647 closed

[2020-05-14 01:43] mairaw commented on #4630
Is this something we should mention at https://docs.microsoft.com/en-us/dotnet/core/install/sdk?pivots=os-macos @dagood? /cc @Thraka

[2020-05-14 01:44] joperezr commented on #4520
Hello @w4mmp as @mairaw points out .NET Framework is not supported on Linux, although many .NET Framework applications are able to run in Linux using Mono. That said, what you really want is to move to .Net Core, since it does support Linux, does support arm architecture (inclidding Raspberry Pi devices) and supports most of the API that .Net Framework has plus many more. All that said, as @scalab

[2020-05-14 01:53] joperezr commented on #4520
@RobbieZA not sure how you downloaded dotnet on your Pi but it sounds like you probably didn’t add the path where you installed it to the PATH.

Can you try these instructions instead?
[code]

[2020-05-14 01:56] joperezr commented on #4520
@RobbieZA also do note that as I suggested to @w4mmp you can do the development in Windows if you prefer and then just deploy into the raspberry pi once your app is ready by deploying a self-contained app. This way you won’t need to install the sdk on the raspberry pi itself. I usually recommend this as the processors on most PCBs are not very powerful so usually developing on them is slower.

[2020-05-14 01:56] mairaw commented on #4594
@KathleenDollard are you aware of issues with the SDK inside VS Code? Should I transfer this to the SDK repo?

[2020-05-14 02:33] mairaw commented on #4445
Olá @joaopaulot! Como o @igoventura falou, o melhor seria consultar a documentação do Docker para entender o formato e a sintaxe usada (https://docs.docker.com/engine/reference/builder/). E obrigada @igoventura por fornecer um tutorial detalhado no seu gist.

Como não acho que os tutoriais deveriam explicar cada linha passo a passo, eu vou fechar esse issue.

[2020-05-14 02:33] #4445 closed

[2020-05-14 02:41] mairaw commented on #4636
Should this issue be transferred somewhere @dsplaisted @vijayrkn?

[2020-05-14 02:43] mairaw commented on #4615
Duplicate of #4111

[2020-05-14 02:43] #4615 closed

[2020-05-14 02:44] mairaw commented on #4645
@svick is correct. You need a separate install of the VS preview version. Closing this issue.

[2020-05-14 02:44] #4645 closed

[2020-05-14 02:53] w4mmp commented on #4520
Hello,
Thanks for the info but I need to address one aspect of this.   I have a heavy investment in my .net framework application.  Which is why I approached the subject of .net core and framework running on the Raspberry Pi.  The application consists of many thousand lines of C#,  framework code.   I have ported the application to .net core (under Windows) with the framework extensions as an exer

[2020-05-14 03:05] joperezr commented on #4520
I might be misunderstanding here, but I believe your feedback is very specific towards support for wpf and winforms to run in Linux, not really .Net Framework, as .Net Core already supports most of the Apis in .Net Framework (plus much more) and it also comes with special shims that will allow you to load .NET Framework assemblies into a .Net Core application. For wpf and winforms case, unfortunat

[2020-05-14 03:14] mairaw commented on #4520
Also, not sure if you've tried running the .NET Portability Analyzer to see how much your current project is compatible with .NET Core and what are the problematic APIs:
https://docs.microsoft.com/en-us/dotnet/standard/analyzers/portability-analyzer

This would give you an idea of the effort to port.

[2020-05-14 03:15] vijayrkn commented on #4636
Ideally it should be reported in the developer community so that this vs issue can be tracked in the right place.

[2020-05-14 03:45] dagood commented on #4630
It does seem like a good idea to document it, but I'm not actually sure if I've seen that page before with macOS selected. I'd expect entry points at https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install and https://dotnet.microsoft.com/download/dotnet-core/thank-you/sdk-3.1.202-macos-x64-installer, not sure how to end up there otherwise.

[2020-05-14 03:57] w4mmp commented on #4520
Hi joperezr,
Decouple the GUI?  It is already decoupled.   The overall architecture of the application is a true client/sever.  All processing occurs in back end servers.  The GUI is there only to handle the user interface.  Communications between the GUI and the servers is via UDP.  The back end servers have already been ported to the Raspberry Pi.  So at the moment,  the servers are running on t

[2020-05-14 04:03] dagood commented on #4605
Agreed on both counts. The Fedora 32 issue is unrelated to the Windows problem in the original post, and without more info there isn't anything we can do there.

For the Fedora 32 problem, https://github.com/dotnet/docs/issues/18347 has a link back to this thread as an example of a thing we should help with in the Microsoft Fedora 32 docs, and I don't see anything else in this thread that needs mo

[2020-05-14 04:03] #4605 closed

[2020-05-14 05:08] jensechu commented on #4605
Just piping in that I am also running into this on Ubuntu 16.04.4 x64. I don't have a global env variable `VERSION` set.

```/usr/share/dotnet/sdk/2.1.806/NuGet.targets(123,5): error : 'N/A' is not a valid version string. [/root/NadekoBot/src/NadekoBot/NadekoBot.csproj]```

dotnet info:

[code]

[2020-05-14 05:21] dagood commented on #4605
@jensechu can you please get a binlog (http://aka.ms/binlog, so we can diagnose) and open a new issue? More info on that in https://github.com/dotnet/core/issues/4491, which we unfortunately couldn't follow up on because we didn't get diagnostic info. It was similar: NuGet version issue, but `unset version` didn't help.

[2020-05-14 05:25] jensechu commented on #4605
@dagood Sure! I will do this when I wake up tomorrow, sorry. 😄

[2020-05-14 06:44] ckruegerkpmg commented on #1541
**It's a little bit unrealistic that an administrator scans all harddrives to find self contained .net apps and modify them manually.**

I've created the following app ,Net core console app, targeting core framework 3.0
`
using System;

namespace ConsoleApp
{
    class Program
    {
        static void Main(string[] args)
        {
            Console.WriteLine("Version: {0}", Environment.Version.

[2020-05-14 08:09] lennybacon commented on #1541
- self contained: Recompile and redeploy
- NOT self contained: Update runtime and edit `{app}.runtimeconfig.json`

[2020-05-14 08:11] ckruegerkpmg commented on #1541
And that is meaning for a self contained app I as an administrator can't patch the runtime, only the developer can. -> very very bad

[2020-05-14 08:19] RheaAyase commented on #3585
This topic in regards to .NET 5 should be discussed...

[2020-05-14 09:05] Plasma commented on #4675
I'm a bit lost how we update to this, a NuGet package update still shows `RuntimeInformation.FrameworkDescription` as 3.1.3 even though some pages did update.

Thank you

[2020-05-14 10:57] tjmoore commented on #1541
Admins going through editing runtimeconfig.json is a non-starter.

Self-contained apps recompile & redeploy is going to result in a lot of out of date unpatched apps. From experience a lot of customers don't update their apps, even if they have prompts to do so.

Auto updating is on option, but in server environments this may not be possible and in some enterprise environments the servers are isol

[2020-05-14 11:44] ernstscheithauer commented on #1541
@ckruegerkpmg
In Self-Contained apps the .NET Core libraries are handled the same as every other 3rd party lib and the application itself. No one is patching all the included (open source) libs and nobody is patching the .NET Core libs themselfes, other than the developer itself. As the developer opted for this packaging option, he is the one responsible for the entire package. In this case admins

[2020-05-14 12:42] ckruegerkpmg commented on #1541
The .Net Core framework is not any library but the foundation.
I would argue that when you watch the history of .net framework classic and especially the introduction of something like UseStrongCrypto it's a bad idea to treat the framework like a common lib.
In an ideal world every developer would patch every problem right away, in reality it won't happen and even if the developer is patching the

[2020-05-14 13:29] maxild commented on #4481
I know this issue have come up before, and I know the issue is documented [here](https://github.com/dotnet/core/blob/master/Documentation/build-and-install-rhel6-prerequisites.md)

Can someone explain why I get the above error when running a self-contained (cross-compiled) package on linux

[code]

But when I build the same codebase (with the same sdk/runtime)

[code]

my application works fine (a

[2020-05-14 20:15] ajcvickers commented on #4658
@mairaw The customer has been trying to get a response from the debugger team. They already filed in on VS, which got routed to EF. They then filed on microsoft/dotnet since it isn't an EF issue. I started an internal thread earlier in the week on why that repo is not triaged, but it hasn't gone anywhere yet. What we really need is some guidance on how to report debugger issues.

[2020-05-15 05:28] MagicAndre1981 commented on #4675
What is fixed in the following packages?

_System.Collections.Immutable 1.7.1
System.IO.Pipelines 4.7.2
System.Reflection.Metadata 1.8.1
System.Text.Encoding.CodePages 4.7.1
System.Threading.Channels 4.7.1_

Normally I see them listed under [Packages updated in this release](https://github.com/dotnet/core/blob/master/release-notes/2.1/2.1.18/2.1.18.md#packages-updated-in-this-release), but not thi

[2020-05-15 05:46] RobbieZA commented on #4520
Thank you for the info, I have done a clean install of Ubuntu 20.04 64-bit. I will run as stand alone, do you recommend running on LAMP or MGINX. The plan is to test having many API calls from multiple users (around 100) and SQLlite?

[2020-05-15 07:07] jeroen-mostert commented on #4607
Something I couldn't glean from the release notes or the initial announcement of .NET  5: is there an intent to supply a migration path in VS for existing Framework projects which will "just work" for most cases? Right now we only have things like the portability analyzer, the unsupported `dotnet try-convert` and plenty of guides on how to manually tackle conversion, but then Core isn't yet the On

[2020-05-15 11:32] mohan023 commented on #3342
You need to remove existing dockerfile and add new one using visual studio-->right click project->add new-> docker support.
There is a problem in project path defined in dockerfile.

[2020-05-15 13:57] WannaSeeTheThread opened #4684 "i copy-pasted what i was told to and saved it in Notepad++ then ran it but it gave me this:Program.cs(10,27): error CS1519: Invalid token '(' in class, struct, or interface member declaration [C:\Users\Jen\myApp\myApp.csproj] Program.cs(10,28): error CS1031: Type expected [C:\Users\Jen\myApp\myApp.csproj] Program.cs(10,28): error CS8124: Tuple must contain at least two elements. [C:\Users\Jen\myApp\myApp.csproj] Program.cs(10,28): error CS1026: ) expected [C:\Users\Jen\myApp\myApp.csproj] Program.cs(10,28): error CS1519: Invalid token '"The current time is "' in class, struct, or interface member declaration [C:\Users\Jen\myApp\myApp.csproj] Program.cs(10,65): error CS1519: Invalid token ')' in class, struct, or interface member declaration [C:\Users\Jen\myApp\myApp.csproj]"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/edit
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-05-15 16:27] danm-de commented on #3582
We switched from _Azure DevOp_ to another software months ago. Problem solved, thanks.

[2020-05-15 16:27] #3582 closed

[2020-05-15 17:00] randykroeger commented on #2000
I had the same error.  However, my projects are setup as dual build (i.e. both net471 and .netcore20).  This is a common library, so referencing a project is problematic in two ways: 1. it is a common project used across multiple applications 2. if you create a branch to make changes, you now have to update the projects that reference this project in a completely different location just test.

Res

[2020-05-15 18:25] w4mmp commented on #4520
73,
Ron / W4MMP

On 5/15/2020 01:47, Robbie wrote:

[2020-05-16 02:44] itodirel opened #4685 "System.Uri cannot parse $ sign in paths"
# Issue Title

System.Uri cannot parse trailing $ sign in paths

# General

We want to store and load data from WSL2 rootfs projection, which is exposed into Windows as "\\\wsl$", we use this UNC path internally, to construct and manipulate the path. However, System.Uri cannot parse "\\\wsl$" and throws a format exception.

[2020-05-16 04:00] Decimation commented on #3830
Same problem here

[2020-05-16 05:21] #4665 closed

[2020-05-16 05:56] GrabYourPitchforks commented on #4684
Can you please provide the entirety of your Program.cs file here?

[2020-05-16 05:56] #4660 closed

[2020-05-16 05:56] #4657 closed

[2020-05-16 05:57] #4661 closed

[2020-05-16 06:46] swaroop-sridhar commented on #3830
@Hphipps  @chrisevans9629  This problem should be fixed for apps built with SDK in the 3.1.4 release. Thanks.

[2020-05-16 07:38] KoromaruKoruko opened #4686 "Compiler Prediction Error"
# General
Version : 3.1
VisualStudio: 2019 16.5.4

[code]
is the same as
[code]

the above snippet works with no issue but the first one will throw a compile error stating that Y would not be set by the if-statements return.

this has no real implications with this example as using && is by far much better then using ? : but as it stands it is an error in the compilers ability to predict and as su

[2020-05-16 08:27] o1vanova commented on #4684
Probably not all code was copied or previous code was deleted. You should check that all brackets are closed.

[2020-05-16 10:46] endian02 opened #4687 "Where did the UTF8Encoding class go in dotnet 3.1?"
# Issue Title

Where did the UTF8Encoding class go in dotnet 3.1?

# General

I tried yesterday to upgrade one of my projects from dotnet 3.0 to 3.1, by changing in the .csproj file from 3.0 to 3.1.

It now fails to build from Visual Studio Community 2019 as it's missing the UTF8Encoding class (see below for full error message).

I have tried everything I could think of, adding a reference to the

[2020-05-16 15:40] svick commented on #4687
Could you share that minimal library project that doesn't build? I tried the following and it works for me in VS 2019 version 16.5.4:

.csproj:

[code]

.cs:

[code]

[2020-05-16 16:52] endian02 commented on #4687
.csproj:

`<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <TargetFramework>netcoreapp3.1</TargetFramework>
  </PropertyGroup>

</Project>
`

.cs
`using System;
using System.IO;
using System.Text;

namespace ClassLibrary1
{
  public class Class1
  {
    UTF8Encoding encoder = new UTF8Encoding(true, true);
  }
}
`

[2020-05-16 16:55] endian02 commented on #4687
I see that the xml code was destroyed in upload however. Please let me know how to send it if you can't read it...

[2020-05-16 17:14] svick commented on #4687
@endian02 You should enclose code in triple backticks (` ``` `), e.g.:

[code]

This shows as:

[code]

[2020-05-16 17:28] svick commented on #4687
@endian02 When I tried your code (I was able to get the destroyed XML), it still compiled fine for me, which means there is likely something different between out computers. What exact version of VS are you using? (You can see that in Help → About.) And what versions of the .Net Core SDK do you have? (You can see that by running `dotnet --info` from the command line in the folder with your code.)

[2020-05-16 18:10] endian02 commented on #4687
Microsoft Visual Studio Community 2019
Version 16.5.5

$ dotnet --info
.NET Core SDK (reflecting any global.json):
 Version:   3.1.202
 Commit:    6ea70c8dca

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.18362
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\3.1.202\

Host (useful for support):
  Version: 3.1.4
  Commit:  0c2e69caa6

.NET Cor

[2020-05-16 18:39] svick commented on #4687
Ok, that warning was useful: I was able to reproduce the error, if I deleted the file C:\Program Files\dotnet\packs\Microsoft.NETCore.App.Ref\3.1.0\ref\netcoreapp3.1\System.Text.Encoding.Extensions.dll from my computer. I think this means that your installation of .Net Core got somehow corrupted.

Can you [download the installer for .Net Core 3.1 SDK](https://dotnet.microsoft.com/download) and run

[2020-05-16 20:22] endian02 commented on #4687
Thanks! This helped! Now it builds again!

[2020-05-17 05:09] TAIGERMOS opened #4689 "vsCode problem"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
<img width="1680" alt="屏幕快照 2020-05-17 下午1 03 41" src="https://user-images.githubusercontent.com/54896690/82136335-76b29c

[2020-05-17 05:31] rajsharma-dev opened #4690 "This site can’t provide a secure connection"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/run
Operating System: windows

Getting this error when running myWebApp at https://localhost:5000/
This site can’t provide a secure connection
localhost sent an invalid response.
Try running Windows Network Diagnostics.
ERR_SSL_PROTOCOL_ERROR

[2020-05-17 07:12] svick commented on #4689
I think you've found a bug in `dotnet run`: it doesn't work when your path contains a directory that ends with a period (in your case, `taigermos.`). I can reproduce it on Ubuntu:

[code]

Can you try running the tutorial in another directory, that's not under your home directory?

[2020-05-17 10:06] GodPhwng commented on #4360
[code]
error
`E: Unmet dependencies. Try 'apt --fix-broken install' with no packages (or specify a solution).`

[code]

[2020-05-17 10:17] superbonaci commented on #4360
In order to be able to install `donet-sdk-3.1` you must have set up some third party repository, because I can't install it. Maybe that's what is causing broken dependencies on your system
[code]

[2020-05-17 12:02] Imputes opened #4693 "how to debug dotnet core project by dotnet command?"
I want to debug dotnet core and asp.net core projects in terminal, including C#, F#
But I did not find that dotnet instruction provides debug flag.
By the way, I don't want to use VS and vscode.
You won’t tell me that you ca n’t debug dotnet core, right?

[2020-05-17 13:47] Ceron12 opened #4694 "Raspbian ARM 64 .../dotnet/dotnet: No such file or directory"
# General
Problem encountered after installing dotnet SDK 3.1 (arm64) on my raspberry pi.
Running dotnet results in No such file or directory

![image](https://user-images.githubusercontent.com/40286633/82148535-ed0dc980-9854-11ea-844c-b2ce75898144.png)

# Software Versions
- os: raspbian
- uname -a: Linux rpi1 4.19.97-v8+ #1294 SMP PREEMPT Thu Jan 30 13:27:08 GMT 2020 aarch64 GNU/Linux
- .net ins

[2020-05-17 15:07] svick commented on #4694
This looks like your `PATH` is not set correctly. Did you run the `export PATH=$PATH:$HOME/dotnet` command in the current terminal session? See the "tip" in [this article](https://docs.microsoft.com/en-us/dotnet/core/install/runtime?pivots=os-linux#download-and-manually-install-1) for more details.

[2020-05-17 15:16] Ceron12 commented on #4694
@svick I did and after printing the path variable I get the following result:
![image](https://user-images.githubusercontent.com/40286633/82152507-010bf800-9862-11ea-9b10-1243f7b19d53.png)

[2020-05-17 18:22] mairaw commented on #4694
@leecow @joperezr can you help with this?

[2020-05-17 21:31] chandi1988 opened #4695 "h"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-05-17 22:13] GrabYourPitchforks commented on #4695
Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-05-17 22:15] #4687 closed

[2020-05-17 22:35] dagood commented on #4694
The error message seems a little strange to me:

[code]

If `PATH` were wrong, wouldn't it say something like: `bash: dotnet: command not found`?

And if it were the wrong arch, something like `bash: /home/pi/dotnet/dotnet: cannot execute binary file: Exec format error`?

I've got to wonder: what happens when you run the arm64 binary with its fully qualified path, so `PATH` isn't a factor? Is ther

[2020-05-17 22:38] dagood commented on #4694
Oh, it does appear to be a quirk of running something that's been cross-compiled (`dotnet` is) on RPi, when something about the arch doesn't match up. https://unix.stackexchange.com/q/101429 has some more info and steps to diagnose.

[2020-05-17 23:46] Ceron12 commented on #4694
@dagood Thanks for the fast response.

I tried to execute the following debug steps form your stackexchange link:
![image](https://user-images.githubusercontent.com/40286633/82162721-f6278680-98a6-11ea-9eb8-9c262a9d633c.png)

From what I read it is a mismatch between the architectures but that’s about all that I was able to do.
I tried to compile the SDK native on the pi but that failed due to the

[2020-05-18 00:25] dagood commented on #4694
The ".NET SDK" is not the dotnet/sdk repository, it's the product of a bunch of dotnet repos flowing into each other. Building dotnet/sdk downloads a prebuilt `dotnet` host, among other things: the same binaries you're trying to use now. It may be possible to build the .NET SDK from source using the orchestration infra in dotnet/source-build (some work was recently done to have it build on an arm6

[2020-05-18 00:31] dagood commented on #4694
Silly me, I should have looked up instructions specific to .NET Core on linux-arm64 first. There's some very useful info out there about this exact scenario:
* https://gist.github.com/richlander/467813274cea8abc624553ee72b28213
* https://edi.wang/post/2019/9/29/setup-net-core-30-runtime-and-sdk-on-raspberry-pi-4

[2020-05-18 05:32] NotLazy commented on #3830
@swaroop-sridhar how do we publish with 3.1.4?

[2020-05-18 06:06] MagicAndre1981 commented on #4675
looks like they got updated because of [this pull request](https://github.com/dotnet/corefx/pull/42901) as I can see [in this version change](https://github.com/dotnet/corefx/pull/42901/files#diff-b995179dea2777d95e411456d77dafe8R5) but this PR is not listed in [the milestone](https://github.com/dotnet/corefx/pulls?q=milestone%3A3.1.4+label%3Aservicing-approved)

Now that I know what is changed I

[2020-05-18 06:55] heartacker opened #4696 "WPF APP WITH C++/CLR launch failed"
# Issue Title

hi i am using wpf app, and it invokes c++/clr dll .
i can  startup this app within my dev environment;
and  i publish to my partners ,it doesn't work.
![Snipaste_2020-05-18_14-41-00](https://user-images.githubusercontent.com/1876302/82182678-34f52500-9917-11ea-8af2-31e44a538b7e.png)

my partners' pc had installed  netcore 3.1.202 in win7 or win 10.
What else do I need to install to

[2020-05-18 06:58] swaroop-sridhar commented on #3830
@NotLazy  Please install the 3.1.4 SDK from https://dotnet.microsoft.com/download/dotnet-core
Then build the app using this SDK. Thanks.

[2020-05-18 07:38] BH4EHN opened #4697 "Any offical method to mirror packages.microsoft.com ?"
# Issue Title

Is there any methods to mirror the .NET Core packages source (packages.microsoft.com) ?

# General

I have a isolated environment without internet access but sometimes need .NET Core SDK and runtime.
Searched in the docs but not found anything about mirroring the offical package source.
Of cource I can use `wget --mirror` command to crawl the whole site, but I'm still looking for be

[2020-05-18 09:39] Ceron12 commented on #4694
Sadly, I’m not able to switch over to ubuntu or any other distro due to k3s not being compatible. Therefore, I’ll use the 32bit version. Thanks a lot for your help.

[2020-05-18 09:39] #4694 closed

[2020-05-18 12:23] infohaseeb opened #4698 "dotnet not recognize in cmd"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
![Annotation 2020-05-18 172230](https://user-images.githubusercontent.com/52865550/82212582-34b35480-992c-11ea-8312

[2020-05-18 13:55] dagood commented on #4697
There is no official method, but we're tracking maintaining our own tarball of applicable packages to use for this kind of thing at https://github.com/dotnet/core/issues/4379.

[2020-05-18 14:09] BH4EHN commented on #4697
@dagood Thanks, I will try it when this come to .NET Core 3. And I still want to know is it ok to mirror the entire site with wget?

[2020-05-18 15:23] dagood commented on #4697
This isn't an official way to mirror the repo, but that's all I really know. If you're concerned about licensing, I asked @leecow at https://github.com/dotnet/core/issues/2882#issuecomment-584310461 with no response yet. As far as getting blocked (abuse detection or whatnot) it seems unlikely to me but something we might be able to ask the team that hosts this service.
/cc @NikolaMilosavljevic @Mi

[2020-05-18 17:35] wdnijdam opened #4699 "System.Runtime.CompilerServices.Unsafe 4.0.6.0 published in debug mode"
System.Runtime.CompilerServices.Unsafe, Version=4.0.6.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a: has debug flags Default, IgnoreSymbolStoreSequencePoints
--

It should be published as a Release branch to prevent debuggers to be kicked in production environments.

Please create a new package in Release mode.

[2020-05-18 18:46] mdowais opened #4701 "Application Wide - Global Unhandled Exception in .Net Core"
I am using Middlewares to handle exceptions in the ASP.Net Core Web App.

But I am not able to handle Application Wide - Unhanled Exception, there is no Http Context available for the middleware pipelines to handle.

Say I Create a Task which runs on the background, how do i catch exception in side them?

I am not able to Catch Exceptions using  appdomain.unhandledexception as done in .net framwor

[2020-05-19 03:52] mairaw commented on #4698
It actually is recognizing. You typed dotnet and the command help appeared.

Did you try to continue the tutorial @haseebse?

[2020-05-19 07:10] lullen opened #4702 "Dotnet run start many processes"
I have previously always started my services using Visual Studio but have been wanting to use vscode instead and since I always start 4 services the built-in runner hasn't worked that well for me so I created a small powershell script that starts up the services, either in watch or in normal run mode ( my reasoning was to use a little bit less memory but haven't seen any big difference ).

So thes

[2020-05-19 09:41] MatthiasBergen opened #4703 "Installing of aspnetcore-runtime-3.0-3.0.3-1.x86_64 failed on SLES 12 SP4"
Hi,

I am trying to install dotnet-sdk-3.0 on one of our customer systems that run on SLES 12 SP4. All dependencies are given however step 8/9 of the installing script fails every time with the following error:

despite the problem with signature verification failed, I can't run my dotnet webapi in that case.

Any suggestions?

[2020-05-19 15:01] rbhanda opened #4706 ".NET 5 Preview 3"
[Release Notes](https://github.com/dotnet/core/blob/master/release-notes/5.0/preview/5.0.0-preview.4.md)

Please report any issues you find with .NET 5, either responding to this issue, creating a new issue or creating a new issue in one of the following repos:

* [aspnet/Home](https://github.com/aspnet/Home) - for ASP.NET Core questions
* [aspnet/EntityFrameworkCore](https://github.com/dotnet/efc

[2020-05-19 17:04] SCLDGit opened #4709 "Storing keys on non-Windows platforms"
# Issue Title

Question about how to store keys on non-Windows platforms

# General

While migrating some encryption code to be cross-platform capable, we're encountering some issues in instances where we would use the key store to retrieve RSA keys for use with AES encryption.

The important methods in question:

`
public void GenerateNewAsymmetricRsaKeyPair(string p_keyStoreContainerName)
{

[2020-05-19 19:06] lxbarbosa commented on #3447
@kofifus
Same here, just happenned:

[code]

[2020-05-19 19:34] mthalman commented on #4278
This issue looks to be resolved.

[2020-05-19 19:34] #4278 closed

[2020-05-19 20:08] leecow commented on #2882
@nakarnam - can you check if the packages.microsoft.com owners have specific policy guidance for this question?

[2020-05-19 21:36] renanosoriorosa opened #4712 "Error 42P07 in Migration exist database pgSQL"
I'm having trouble migrating to an existing database,

This is my Error:

Image in VS2017:
![erro-contaminacao](https://user-images.githubusercontent.com/26662697/82380535-fd61a800-99fe-11ea-99f1-e1691b8e2f07.png)

The problem occurs with the entity 'Contaminacao' and 'Contaminacao_Regra', where 'Contaminacao_Regra' has two 'Contamination' fk. Look:

'Contaminacao'

[code]
Contaminacao_Regra

[cod

[2020-05-19 22:34] bartonjs commented on #4709
Not really.  The closest is just key import/export.  E.g.

[code]

and

[code]

Usually the keys are just saved in a location where only the relevant user(s) have read permission, and they're loaded from files.  I don't know if it's a **best** practice, but it's probably the normal one :smile:.

[2020-05-20 06:04] MagicAndre1981 commented on #4675
@rbhanda thaks for updating the release notes, now [I see that the packages are part of 3.1.4 release](https://github.com/dotnet/core/blob/master/release-notes/3.1/3.1.4/3.1.4.md#packages-updated-in-this-release)

[2020-05-20 07:49] TKT2016 opened #4713 ".net core missing many methods"
# .net core missing many methods

.net core missing many methods.These are very important.

# General
**AppDomain**
missing method
DefineDynamicAssembly(AssemblyName name, AssemblyBuilderAccess access);

**AssemblyBuilder**
missing
DefineDynamicModule(string name, string fileName, bool emitSymbolInfo);
SetEntryPoint(MethodInfo entryMethod, PEFileKinds fileKind);
Save(string assemblyFileName);

**M

[2020-05-20 09:58] NotLazy commented on #3830
@swaroop-sridhar Do i install 3.1.300?

[2020-05-20 10:17] Jasdo opened #4714 "Using UI Automation without installing Desktop Runtime"
Hi,
We need to use UI automation, and in order to run this code (just a simple example):

[code]

we need to reference _Microsoft.WindowsDesktop.App.Wpf_:
[code]

This requires to install [Desktop Runtime](https://dotnet.microsoft.com/download/dotnet-core/thank-you/runtime-desktop-3.1.1-windows-x64-installer) on the machine.

Regardless of the reason, is there a way to use UI automation without ha

[2020-05-20 10:55] svick commented on #4714
You could [publish your app as self-contained](https://docs.microsoft.com/en-us/dotnet/core/deploying/). That way, the Desktop Runtime won't have to be installed on the target machine, because it will be deployed along with the app. Though this also significantly increases the size of the app. For your trivial example, the increase is from 180 kB to 150 MB.

If that's a problem for you, you could

[2020-05-20 11:36] snithyanantham opened #4715 "Github Actions - asp net core docker image COPY failed: stat /var/lib/docker/tmp/docker-builder982586077/*.csproj: no such file or directory"
# Issue Title

Github Actions to build docker image for asp.net core 3.1 WEBAPI COPY failed.

I tried multiple times with absolute and relative path but COPY fails every time

`##[error]Somthing went wrong building your image. Error: Command failed: (cd src/Services/Core/MyFamilyManager.API/; docker build . --file Dockerfile --tag registry.heroku.com/***/web)
COPY failed: stat /var/lib/docker/tmp/

[2020-05-20 11:52] haseebse commented on #4698
YUP

[2020-05-20 12:37] andrzejpindor commented on #4285
Hi folks, same situtation for 3.1.300

[2020-05-20 14:02] donkos opened #4716 "Console Application could not be created. Access to the path ... is denied. I believe there is a console command to grant access to this path?"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-05-20 15:48] benaadams opened #4717 "dotnet/core issue templates"
dotnet/runtime has a good set of choices and repository redirection when raising an issue; however https://github.com/dotnet/core doesn't and its called "Home repository for .NET Core" a lot of people open issues there, but they don't get that much attention.

It should probably mimic runtime and redirect people to the correct place when opening an issue?

/cc @richlander

[2020-05-20 17:13] bmsjarbas commented on #4512
Hi folks, I got this problem here too. In my case that just happens when using macOS and Docker for Mac. While I tried the same but using a linux machine, then all that worked fine. Not even necessary to change the version.

[2020-05-20 19:29] hellgrenj commented on #4512
The same happened for me just now. With the same error message. The build worked a couple of days ago but its not working now. The Nuget package(s) exist and dotnet restore works outside of docker.
when i revert to 3.1.100-buster or 3.1.100-alpine it works.

[2020-05-21 07:29] suman5488 opened #4718 "Unable to load netstandard2.1 assembly using import-module"
I have created a sample function app with the latest .netcoreapp3.1 and when I try to do import-module I am facing this below issue. I think System. Runtime DLL missing in netstandrad2.1.

Import-Module : Could not load file or assembly 'System.Runtime, Version=4.2.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The
system cannot find the file specified.

I have

[2020-05-21 09:25] emmenlau opened #4719 "Update 3.4.1 breaks building Apache Thrift (permission issue?) on Ubuntu 18.04"
I've been using dotnet on Ubuntu Linux 18.04 x86_64 (installed as in https://docs.microsoft.com/en-us/dotnet/core/install/linux-package-manager-ubuntu-1804) for almost a year successfully to build https://github.com/apache/thrift. Yesterday I've installed system updates (which may have included an update of `dotnet`). Usually I install updates at least once every one or two months.

Since today, t

[2020-05-21 09:41] watersb commented on #4706
Windows SmartScreen is blocking my installation of .NET 5 preview 4 SDK.
`0x80070659 Forbidden by system policy.`

5.0.100-preview.1.20155.7-win-x64 installed ok.

[zipped installation logfile](https://github.com/dotnet/core/files/4661678/sdk5p4.zip)

[2020-05-21 09:59] AshwaniYadav72 opened #4720 "I am facing an issue while creating a web app directory in system32?"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-05-21 11:11] MarcusWichelmann opened #4721 "Add immutable replacements for IPEndPoint, IPAddress and such"
Classes like `IPEndPoint` and `IPAddress` are very useful classes to represent address and endpoint information in applications. But these classes are mutable which makes it very hard to use them inside of immutable classes.

Example for such an immutable class (which is in fact mutable because `IPAddress` is mutable):
[code]
Or imagine a `ConnectParameters` object which stores parameters for crea