[2021-03-09 18:24] #5932 closed

[2021-03-09 18:48] sharkk121 commented on #6035
https://dotnet.microsoft.com/download/dotnet/5.0 says v5.0.4 released on 2021-09-03, which is not consistent with the date format of previous releases

[2021-03-09 18:50] rbhanda commented on #6035
Hi @sharkk121 https://github.com/dotnet/core/pull/6040 is created to resolve this issue.

[2021-03-09 19:26] mairaw commented on #6033
Because it's dependent on when .NET 6 actually releases, we don't have a firm date EOL daye. We were trying to see if we can at least add month and year to the 5.0 release.

[2021-03-09 20:27] adegeo commented on #5992
We should have this information in the docs. Also, considering the release-notes for each version is pretty comprehensive: https://github.com/dotnet/core/tree/main/release-notes/5.0 I think this should also be documented in those places.

[2021-03-09 20:55] martyspiewak commented on #6035
https://dotnet.microsoft.com/download/dotnet/5.0 says v5.0.3 was released on 2021-03-02, which is really the date that SDK v5.0.200 was released, but v5.0.3 was originally released with SDK v5.0.103 [on 2021-02-09](https://github.com/dotnet/core/blob/7b972d2c0a53500caa72de0bb49d83d7aaf93aab/release-notes/5.0/releases.json#L11).

Is there a way to get separate release dates for runtime versions and

[2021-03-09 21:27] rbhanda commented on #6035
Thanks for letting us know @martyspiewak . Adding @leecow and @mairaw
It seems there is no good way for us right now to be able to differentiate the different dates between 5.0.200 SDK and .NET 5.0.3 releases

[2021-03-09 21:48] leecow commented on #6035
There's not a way to differentiate the dates in a release combination like this at the movement. The release metadata  ([releases.json](https://dotnetcli.blob.core.windows.net/dotnet/release-metadata/5.0/releases.json)) which drives the site and a bunch of other things was created before the notion of shipping an SDK separate from a "full" release identified under the Runtime version "umbrella" wa

[2021-03-10 01:08] danmoseley commented on #6012
@danielmeza shall we close this issue now? I think it would be good to have such discussion in the Tmds.DBus repo.

[2021-03-10 11:31] antonfirsov commented on #6033
I assume then it can be updated sometime later after the decision has been made? Is there any way to label this issue so it's not lost? Or should we just close it for now?

[2021-03-10 14:18] count-source opened #6047 "Running The File"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/run
Operating System: linux

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Exited with error code 134
watch : Waiting for a file to change before restarting dotnet

[2021-03-10 14:47] count-source commented on #6047
Was there i can install Visual Studio Community with blue Logo on my linux
system......i have noted the other does not have  all the features

On Wed, Mar 10, 2021 at 5:35 PM Anton Firszov <notifications@github.com>
wrote:

[2021-03-10 17:01] #6014 closed

[2021-03-10 17:09] cgountanis commented on #6035
After installing no net5.0 projects load?

[2021-03-10 17:23] Pilchie commented on #6047
@pranavkm - do you know what the `dotnet watch` error above means?

[2021-03-10 17:47] pranavkm commented on #6047
There's a reference to this from the compiler crashing (https://github.com/dotnet/sdk/issues/9454) which could happen as part of the `dotnet run` that launch invokes.

@count-source can you include all of your console output from running `dotnet watch run`?. Thanks!

[2021-03-10 18:02] count-source commented on #6047
No, I don't.

On Wed, Mar 10, 2021 at 8:23 PM Kevin Pilch <notifications@github.com>
wrote:

[2021-03-10 18:27] count-source commented on #6047
Was there way i can install the Visual Studio Community with the Purple log on my Linux System i have noted they differ......

[2021-03-10 18:28] count-source commented on #6047
i'm Forced to use Rider IDE

[2021-03-10 18:57] count-source commented on #6047
_that's not so good  i will have to migrate to windows

[2021-03-10 21:16] #6015 closed

[2021-03-10 21:43] jwefers opened #6049 "Data Annotations on parameters for use with records"
C# 9 brought us records:
[code]

Now i would like to use these with for example EF Core (or Json annotations, whatever):
[code]

But i cant, because
[code]

Forcing me to write
[code]

Could this be tackled sensibly to allow us to write more concise code?

[2021-03-10 21:50] ajcvickers commented on #6049
@mairaw No, this is a C# limitation.

[2021-03-10 21:52] mairaw commented on #6049
@MadsTorgersen @jaredpar do you have anything about this on the C# repo already?

[2021-03-11 13:57] Reddd18 opened #6051 "Please help me"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows
Im don't know how to run the program.
Please help :)

[2021-03-11 15:06] antonfirsov commented on #6051
The next tutorial step explains how to run the program:
https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run

Does this help, or are you stuck with something else?

[2021-03-11 16:12] jeffrimko opened #6052 "Segmentation fault on Linux using Release configuration started after upgrading to .NET Core 5"
### Description
I'm investigating an issue that started on a proprietary application after upgrading to .NET Core 5. The issue only occurs on Linux (linux-x64) when using the Release configuration; when running on Windows both Debug and Release work without issue and Debug seems to work without issue on Linux. I've traced the issue back to a method similar to the following:

[code]

Strangely, whe

[2021-03-11 17:20] Tandolf opened #6054 "Checksum for packages-microsoft-prod.deb"
WHen installing core on a linux machine instructions tell us to download `packages-microsoft-prod.deb` and run to install gbg key and apt-repository.

I have not been able to locate any published checksum for this debian package. I would like to be able to verify my downloads, so is there any possibility to be able to find this information.

[2021-03-11 17:47] kitMP commented on #5634
New version of "MySQL.Data.EntityFrameworkCore" is now named as "MySql.EntityFrameworkCore" [nuget](https://www.nuget.org/packages/MySql.EntityFrameworkCore/). This issue is solved in it.

[2021-03-11 18:48] rbhanda opened #6057 ".NET 6 Preview 2"
[Release Notes](https://github.com/dotnet/core/blob/master/release-notes/6.0/preview/6.0.0-preview.2.md)

Please report any issues you find with .NET 6, either responding to this issue, creating a new issue or creating a new issue in one of the following repos:

* [dotnet/aspnetcore](https://github.com/dotnet/aspnetcore/issues) - for ASP.NET Core questions
* [dotnet/efcore](https://github.com/dotn

[2021-03-11 18:49] rbhanda commented on #5967
Closing in favor of https://github.com/dotnet/core/issues/6057

[2021-03-11 18:49] #5967 closed

[2021-03-11 19:28] leecow commented on #6048
@mairaw, I'm going to add Linux *.zip files to the release process and releases.json files but there's no need to surface them on the marketing site. *tar.gz files are still fine for that. The change will be live for the April releases.

cc @rbhanda

[2021-03-11 19:48] leecow commented on #6048
@timmydo, I'm noticing that the Runtime does not produce *linux-x64.zips for 3.1, 5.0 or 6.0. Is it sufficient for your needs to pick up only the SDK linux zips?

[2021-03-11 20:14] mairaw commented on #6048
sounds good @leecow. Thanks for the heads up.

[2021-03-11 20:31] mairaw commented on #6054
@leecow @dagood can you help with this?

[2021-03-11 20:58] mairaw commented on #6033
I do have some ongoing PRs for the website to test this, so I don't think it will be forgotten.

[2021-03-11 20:58] dagood commented on #6054
@NikolaMilosavljevic @MichaelSimons @dleeapho

I think this would be a reasonable thing to ask the packages.microsoft.com team to do. .NET can't really maintain checksums for these setup packages, because the packages.microsoft.com team may release a new version at any time. (Unfortunately, packages.microsoft.com has no public point of contact, so we have to relay requests like this.)

[2021-03-11 21:04] omajid commented on #6033
Thanks!

Just to clear up any confusion: my original bug report isn't about the website: it's about the `releases-index.json` file maintained in this repo.

[2021-03-11 22:12] mairaw commented on #6033
Correct @omajid. But any changes to the releases-index.json file impacts the website because those files are the source of truth for our download pages.

[2021-03-11 22:31] Tandolf commented on #6054
im terribly sorry it ended up here, but as you said, there is no point of contact for the team that maintains the `packages.microsoft.com` so this was my best bet.

I would be very thankful if you could relay this request to perhaps their product owner if possible.

[2021-03-11 22:51] dagood commented on #6054
Oh, yep, I meant to direct the first part of my comment at the people I pinged (that I think they should ask packages.microsoft.com to help), but I wasn't very clear about it, sorry. This repo is the right place for this kind of request (IMO). Thanks for raising it.

[2021-03-11 23:24] Cooperdale commented on #2001
This may happen when you're running Multiple Startup Projects.
You have to check that the single projects are not running on the same engine, such as IIS Express.

Let's say you have 2 projects running, if both are starting on IIS Express they'll both use port 5001 and the second to start will be blocked by the first.

To check, select every single project you need to run. After selecting each pro

[2021-03-12 00:41] fabiosimedo opened #6061 "dotnet não reconhecido"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-03-12 00:51] mairaw commented on #6061
@fabiosimedo vc instalou o SDK como diz no tutorial? E vc fechou o command prompt e abriu um novo depois da instalação?

[2021-03-12 04:20] timmydo commented on #6048
@leecow that's fine--our pipeline is only using the SDKs (and getting the runtime bits from them). thanks

[2021-03-12 05:47] mq00fc opened #6062 "Regarding the question of whether to add regionalized languages in .net6.0"
Is there any plan to add a description plan for class libraries that include Japanese/Korean/Chinese in .net 5.0 or 6.0?
Thanks!
![8_ VP1 JR2_1FOKR49{P@GV](https://user-images.githubusercontent.com/50408721/110898048-7e48b200-8339-11eb-838c-55a03b6a84e3.png)

[2021-03-12 14:43] danielmeza commented on #6012
@danmoseley  yes

[2021-03-12 14:50] #6012 closed

[2021-03-12 15:29] redcatH commented on #5510
super
Reduce EF Core application startup time via compiled models

[2021-03-12 15:34] #6047 closed

[2021-03-12 18:31] LewisWong commented on #5949
Hi @mairaw

Just to follow up on this issue, is this being looked at?

[2021-03-12 20:48] mairaw commented on #5949
The team hasn't engaged here yet. I'd need @HongGit's help to find the right owner.

[2021-03-12 21:26] NikolaMilosavljevic commented on #6054
I've reached out to the owners of `packages.microsoft.com`. I will update this issue when I get more info.

[2021-03-13 07:04] sklau228 opened #6063 "Docker Build Error response from daemon: i/o timeout"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/docker-image
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-03-13 07:10] sklau228 commented on #6063
OS : Windows 10 Pro
Installed and reinstalled Docker still not working. Was running the tutorial and stopped and then try to build docker for the sample following the instruction in your webpage and got the error above

[2021-03-13 19:33] wiz0u commented on #3283
Hello
After adding a manual reference to C:\Program Files\dotnet\packs\Microsoft.WindowsDesktop.App.Ref\5.0.0\ref\net5.0\UIAutomationClient.dll into my .NET 5.0 WinForms project (as suggested by @vatsan-madhavan), it solved my compilation issue for System.Windows.Automation classes (thanks!)

However, I've got this warning below (but the project builds ok). Any idea how to fix that?
[code]

[2021-03-14 12:13] HKunogi opened #6066 "C++/CLI targeting .net core (.net 6)"
When trying to make a new c++/cli project to target .net core instead of .net framework, or when changing an existing project to target it, it gives error when applying the setting. I've tried all different possible configurations on the project and it keeps on the same problem, I just cannot target the .net core on it.
![image](https://user-images.githubusercontent.com/1687701/111067976-1a291800-

[2021-03-14 15:17] LifeIsStrange commented on #2508
This library might help https://github.com/Const-me/ComLightInterop
But yeah official Linux support should be prioritarized

[2021-03-14 17:20] fabiosimedo commented on #6061
Sim, mas reparei só depois que meu notebook tem arquitetura 32bits e precisaria de mais pacotes pra instalação
________________________________
De: Maira Wenzel ***@***.***>
Enviado: sexta-feira, 12 de março de 2021 00:51
Para: dotnet/core ***@***.***>
Cc: Fabio Simedo ***@***.***>; Mention ***@***.***>
Assunto: Re: [dotnet/core] dotnet não reconhecido (#6061)

@fabiosimedo<https://github.com/fabi

[2021-03-14 22:23] mairaw commented on #6061
Qual versão do Windows você está usando? Instalou as outras dependências?

[2021-03-15 16:05] santhiyaelangovan97 opened #6067 "Dot Net installation"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
[bug.docx](https://github.com/dotnet/core/files/6142765/bug.docx)

[2021-03-15 16:06] #6067 closed

[2021-03-15 16:47] antonfirsov commented on #6063
Assigning to area owners: @shirhatti @nishanil

[2021-03-15 16:48] antonfirsov commented on #6066
@jkoritzinsky can you help with this?

[2021-03-15 16:55] jkoritzinsky commented on #6066
Does this occur with any .NET project or just C++/CLI?

[2021-03-15 17:18] richlander commented on #5889
.NET 6 Preview 2 was released: https://devblogs.microsoft.com/dotnet/announcing-net-6-preview-2/

[2021-03-15 17:18] #5889 closed

[2021-03-15 21:08] santiagofigueroa commented on #4038
Hi I am experiencing the same Issue on mine, I am running Linux centos server 7 , using core 3.1. can you give more details of how you manage to see the process as when I run mine  it just not there.
Here it is in more detail.
Start:
System.IO.IOException: Failed to bind to address http://127.0.0.1:5000: address already in use.
 ---> Microsoft.AspNetCore.Connections.AddressInUseException: Address

[2021-03-15 22:40] HKunogi commented on #6066
This only happens when i try building an C++/CLI using netcore, if i use net framework it goes fine, and if i try to use c# it also goes fine.

[2021-03-16 00:13] jkoritzinsky commented on #6066
I'm not sure why the correct MSBuild files aren't being included.

@wli3 can you tag the C++ project system on this issue so they can take a look?

[2021-03-16 01:00] fuchanghao opened #6069 "Windows update keeps install .NET Runtime & SDK even I deleted them"
### Description

I already switched to .NET 5 with Visual Studio 16.9.

But windows update still installs the .NET Core 2 runtimes also the old .NET 5 SDK 5.0.104.

[![6rnDbT.png](https://s3.ax1x.com/2021/03/15/6rnDbT.png)](https://imgtu.com/i/6rnDbT)

if I delete them, windows update will re-install them when I check for updates.

[![6rnsVU.png](https://s3.ax1x.com/2021/03/15/6rnsVU.png)](https:/

[2021-03-16 01:29] mairaw commented on #6069
This is how Microsoft Update (MU) works at the moment. More details at https://devblogs.microsoft.com/dotnet/net-core-updates-coming-to-microsoft-update/

Tagging @jamshedd to see if there are any plans on changing this for MU.

[2021-03-16 02:34] jamshedd commented on #6069
.NET Core updates are offered via MU only if you have a previous patch for the same Core version already installed. Make sure you remove all 2.1 versions from Add-Remove Programs  and also remove the 2.1 components in Visual Studio, after that MU will not offer 2.1 updates.

[2021-03-16 06:29] fuchanghao commented on #6069
I'm sure I don't have .NET Core 2.1 installed.

[![6s0ZAe.png](https://s3.ax1x.com/2021/03/16/6s0ZAe.png)](https://imgtu.com/i/6s0ZAe)

Maybe the reason of the problem?

After I updated to visual studio to 16.9 which seems I switched to ".NET 5 SDK v5.0.201"

But I found that there's still folder  "C:\Program Files\dotnet\sdk\5.0.103" with many files in it.

So the old .NET 5 SDK doesn't fully rem

[2021-03-16 14:51] matthewbluezyoncom commented on #6057
https://github.com/dotnet/sdk/issues/16378

[2021-03-16 15:02] renato04 commented on #3911
Hello! Folks!

Now we have a tool to help us.

[https://dotnet.microsoft.com/platform/upgrade-assistant](url)

Thank you all!

[2021-03-16 15:09] neogenz commented on #4616
Saved my day ! thanks @mslot

[2021-03-16 17:06] jamshedd commented on #6069
Sorry I thought the issue was about .NET Core 2.1 being left behind, I now realize you're talking about .NET 5.0.103 being left behind when .NET 5.0.201 is installed. This is by design - the 103 and 201 SDKs are different "bands" and the 201 SDK does not update the 103 band, it installs side by side. If you do not want the 103 band you can remove it from Add-Remove Programs and as long as VS has a

[2021-03-16 17:06] #6028 closed

[2021-03-16 18:23] sinand99 commented on #5423
Microsoft should calm down on this cross-platfrom craziness. I don't want stupid bloated web controls on my desktop. Those belong to the browser only.

[2021-03-17 01:43] fuchanghao commented on #6069
I have removed those files but seems it still not work.

Checked with dotnet command there's what I have installed.

[![66kk8I.png](https://s3.ax1x.com/2021/03/17/66kk8I.png)](https://imgtu.com/i/66kk8I)

[2021-03-17 01:49] jamshedd commented on #6069
Sorry it is not clear to me what is not working. The screenshot shows you no longer have 5.0.103 installed or any version of .NET Core 2.1 installed after you uninstalled, which looks as expected to me. Could you elaborate on what you expect to see instead?

[2021-03-17 10:29] anas1441 opened #6070 "not recognise"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

i have install the dotnet sdk file but when i run into my command promtpt it keep telling that itis not recognise

[2021-03-17 11:26] yury-fedorov opened #6071 ""dotnet test" duration is broken with .NET 6 Preview 2"
Running on mac OS and .NET 6 Preview 2:
`time dotnet test `
I get:

The reported by dotnet test duration is 11 h 18 m while it was running for 47 seconds.

[2021-03-17 16:10] adegeo commented on #5687
@rbhanda should I update the docs install page now?

[2021-03-17 16:46] petemidg32 commented on #5423
@Luiz-Monad Have you not heard of Ooui ? That is a .net core library that lets you add (say) a .net core mvc project into a mobile app alongside the ios and android projects, and then just run the app targeting this project into a browser.
I have tried doing this using instructions available online and found it not a smooth process: I had to remove the button style I was using (via a static resour

[2021-03-17 17:32] mairaw commented on #6070
Did you close and open a new command prompt after installing the SDK?

[2021-03-17 17:42] rbhanda commented on #5687
Hi @adegeo , yes. Please go ahead and update our install page for Alpine 3.13

[2021-03-17 20:19] danmoseley commented on #5966
I think this is answered.

[2021-03-17 20:19] #5966 closed

[2021-03-18 01:02] JustALaptopUser opened #6072 "The C# extension is still downloading packages"
So when I got on Vs Code I started my program and it said:

The C# extension is still downloading packages. Please see progress in the output window below.

Under the text it said the 2 things:

Open launch.json and cancel

[2021-03-18 01:22] mairaw commented on #6072
Would this be an issue with the Omnisharp extension @cartermp @shanselman?

@JustALaptopUser can you please paste a screenshot of what you're seeing so it's easier for us to try to help you?

[2021-03-18 11:52] MartyIX commented on #5787
Does anybody know about a possible workaround until this is fixed?

[2021-03-18 15:17] danmoseley commented on #5787
@MartyIX I don't think we know enough about the problem. Did you try the workaround that @bartonjs suggested, which did not work for @ycrumeyrolle? Assuming so, could you please set the environment variables I mention above and get more info?

[2021-03-18 16:05] #6051 closed

[2021-03-18 16:21] 77922118 opened #6073 "Issue .NET SDK Installation"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

terminal cd myApp
then, "No such file or directory"
OS: MacOS

Please help

[2021-03-18 17:03] rbhanda commented on #6010
Closed in favor of https://github.com/dotnet/core/issues/6035

[2021-03-18 17:03] #6010 closed

[2021-03-18 18:18] MaplLeaf opened #6074 "Need Help .NET not working"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

I just installed VS Code and .NET and I can't run it. It says
" It was not possible to find any installed .NET Core SDKs
  Did you mean to run .NET Core SDK commands? Install a .NET Core SDK from:
      https://aka.ms/dotnet-download"
      I've tried reinstalling too and it didn

[2021-03-18 21:10] mairaw commented on #6074
Can you paste the output of running the command `where dotnet`?

[2021-03-18 23:03] MaplLeaf commented on #6074
this is what it says: C:\Program Files (x86)\dotnet\dotnet.exe
C:\Program Files\dotnet\dotnet.exe

[2021-03-18 23:06] cartermp commented on #6072
Yes, this would be an issue that goes here: https://github.com/OmniSharp/omnisharp-vscode

@JustALaptopUser can you file an issue in the linked repo with some diagnsotic info?

[2021-03-18 23:06] #6072 closed

[2021-03-18 23:15] mairaw commented on #6074
So it seems you ran into the same issue as I explained here:
https://github.com/dotnet/core/issues/5962#issuecomment-780084535

Can you let me know if that helps to solve your issue? I'm assuming you have a x64 machine and that's why this isn't working. But please let me know otherwise.

[2021-03-18 23:16] mairaw commented on #6073
Did you run the previous command to create the project first? `dotnet new console -o myApp`

What was the output of that?

[2021-03-18 23:25] MaplLeaf commented on #6074
It Worked! Thanks for helping me.

[2021-03-18 23:28] #6074 closed

[2021-03-19 01:29] 77922118 commented on #6073
Yes

On Thu, 18 Mar 2021 at 7:17 PM Maira Wenzel ***@***.***>
wrote:

[2021-03-19 02:22] mairaw commented on #6073
And what was the output of the command?

If you run the `ls` command, does it list the directory?

[2021-03-19 02:25] 77922118 commented on #6073
Yes, it did in fact

On Thu, 18 Mar 2021 at 10:22 PM Maira Wenzel ***@***.***>
wrote:

[2021-03-19 02:36] mairaw commented on #6073
So I don't understand how you can't do `cd myApp`. Can you paste a screenshot?

[2021-03-19 02:48] 77922118 commented on #6073
Of course I did, I’m stuck on one of the last steps...let me explain them
to you tomorrow so I can tell you about it from a better perspective.

;)

Regards! 😀

On Thu, 18 Mar 2021 at 10:36 PM Maira Wenzel ***@***.***>
wrote:

[2021-03-19 04:11] aahm-ami opened #6075 "aahm-ami:revert-823-brew_list_info_parse_fix"
### Description

### Configuration

### Regression?

### Other information

[2021-03-19 06:21] asijoshi commented on #1842
I was facing a similar issue with the Nessus security scan reporting the previous versions having vulnerabilities.

To resolve this, I installed the updated version of .Net Core SDK i.e.  .Net Core SDK 2.1.522
and uninstalled .Net Core SDK 2.1.202.

Good luck.

The vulnerabilities were remediated and not reported in the next scan report.

[2021-03-19 17:26] layomia commented on #6075
@aahm-ami please provide more info about the issue you're facing and we can take a look.

[2021-03-19 17:26] #6075 closed

[2021-03-19 23:14] wli3 commented on #6066
@olgaark

[2021-03-19 23:36] olgaark commented on #6066
Apparently, Microsoft.NET.ILLink.targets are using a property for the task location which is not defined in vcxproj, which imports common msbuild props/targets, but not c# ones. Run msbuild /pp on a c# project to see where this property is defined.

[2021-03-20 02:51] illmo opened #6076 "-bash: cd: myApp: No such file or directory"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-03-20 03:41] wli3 commented on #6066
@agocke

[2021-03-20 05:03] mjl38 opened #6077 "Port already in use"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/run
Operating System: linux

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Port is already in use by process "dotnet". If I kill the process it automatically starts again.
Error message:
at Microsoft.

[2021-03-20 08:38] HppZ commented on #2883
so when will UWP be supported by .NET 5.0 or 6.0?

[2021-03-20 12:49] viv718918 commented on #5466
[]()

[2021-03-21 19:46] AKIIIIIL opened #6078 "Error while RUN"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: windows 64 bit

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
![dot net error](https://user-images.githubusercontent.com/81112379/111918631-50c0de80-8a86-11eb-8482-664af09959

[2021-03-21 21:11] adnanjalloh opened #6079 "Redirect to new route OnActionExecuting method MVC .NET CORE 5"
### Description
I have an issue that the request redirected too many times and I just want to go to new redirect route, so how can I prevent that or is there something that I am not aware of?

this my code

    public class AuthController : Controller
    {
        public override void OnActionExecuting(ActionExecutingContext filterContext)
        {

            base.OnActionExecuting(filterConte

[2021-03-21 21:50] #6079 closed

[2021-03-21 23:14] #6061 closed

[2021-03-22 13:56] frankwwu opened #6080 "tuple binding"
### Description

### Configuration

### Regression?

### Other information

[2021-03-22 14:12] #6080 closed

[2021-03-22 19:59] jessicazaparolli opened #6081 "Não consigo continuar a instalação após digitar Program.cs."
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-03-22 20:11] jessicazaparolli opened #6082 "Problema na execução do App"
C:\Users\Jessica\myApp>Hello World
'Hello' não é reconhecido como um comando interno
ou externo, um programa operável ou um arquivo em lotes.

C:\Users\Jessica\myApp>

[2021-03-22 21:03] ltouro commented on #6082
Hi Jessica,

The command you typed is not valid. The executable for .NET is called "**dotnet**". You can start trying with the below command to make sure everything is installed:
[code]

[2021-03-22 22:28] mairaw commented on #6081
Duplicate of #6082

[2021-03-22 22:28] #6081 closed

[2021-03-22 22:31] mairaw commented on #6082
@jessicazaparolli pelo visto vc está tentando seguir o tutorial https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial.

Até onde vc conseguiu seguir? Você conseguiu instalar o SDK e o comando `dotnet` funcionou?

O programa vai escrever Hello World na tela quando a execução for completada com sucesso. Nos dê mais detalhes para tentarmos te ajudar.

[2021-03-22 22:34] mairaw commented on #4153
Since then, we have updated the tutorial and the YAML file, so closing this.

Let us know if you're still having issues following this tutorial.

[2021-03-22 22:34] #4153 closed

[2021-03-22 22:38] mairaw commented on #6077
@danroth27 @Pilchie can you help here?

[2021-03-22 22:51] mairaw commented on #6078
Can you show what are the contents of that directory @AKIIIIIL?

Your Program.cs looks correct. This is what my `myApp` folder looks like:
![image](https://user-images.githubusercontent.com/12971179/112068066-671e7700-8b26-11eb-837b-7ebdb57f1024.png)

[2021-03-22 23:26] Pilchie commented on #6077
@pranavkm any ideas?  Looks like maybe you ran a new mvc app first and it's still running.

@mjl38 what process did you kill above? The `dotnet watch` one?  It looks like you've got another app still running on your system maybe from another tutorial or command?

[2021-03-23 00:18] mairaw commented on #6076
The command is `cd myApp` with no colon in between. Was that what you typed?

[2021-03-23 01:22] mairaw commented on #6073
Any updates?

[2021-03-23 02:11] 77922118 commented on #6073
Hello Maura! Not yet...I ll tell you within two days

On Mon, 22 Mar 2021 at 9:22 PM Maira Wenzel ***@***.***>
wrote:

[2021-03-23 03:34] mjl38 commented on #6077
Thank you all for answering.
Yes I probably tried another example application some weeks ago, but I think I rebooted my PC when I had the problem and still could not use port 5000 after that.
Strangely enough it now all seems to be working fine and I no longer have more than one "dotnet" running when I run the sample app.
Doing a "netstat -tulpn" would show several dotnet services running. The onl

[2021-03-23 03:34] #6077 closed

[2021-03-23 04:49] mburbea opened #6083 "Please consider updating the .NET missing error prompt to include the version needed"
### Description
I have been testing updating a wpf application from framework to .NET 5, mainly as an experiment to see what would be better, and also because .net is now on MU. I sent this out to a few less tech savvy testers, who were greeted by a prompt that says:

This prompt lead to confusion as they thought they already had .net.
I think at minimum the version should be mentioned that the mi

[2021-03-23 10:25] Polymathical commented on #5510
Inner loop. smh. The terminology gets more embarrassing each... outer loop.

[2021-03-23 15:24] RainbowJeremy opened #6084 "didnt download properly"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-03-23 16:27] ruchinmunjal commented on #5959
if you are still struggling with this, try opening the yaml file in VS Code. Make sure you have the formatting correct. I got this error because the formatting in my yaml file was not correct. You can use the inbuilt auto formatting of VS Code to format the yaml file. Save the changes and try running the command again. Below screenshot on how it should look. Notice line 1 as `---` which is require

[2021-03-23 18:19] mairaw commented on #6084
Can you give more information about what's happening?

[2021-03-23 18:29] mairaw commented on #6083
Thanks for the feedback @mburbea. @richlander and I were discussing last week about the design of the https://dotnet.microsoft.com/download/dotnet/5.0/runtime page. When we know what download the user needs, we should display only that specific download first.

Related internal issue: https://github.com/dotnet/website/issues/2798

So the prompt didn't show the version like this?
![image](https://u

[2021-03-23 18:56] mburbea commented on #6083
![Attach43992_20210321_204819](https://user-images.githubusercontent.com/213233/112202490-d314e400-8be7-11eb-8a6c-c95021902713.jpg)

This is what the prompt showed the user. Sorry, I don't have a higher quality image. I don't have access to a PC without .net.

[2021-03-23 19:06] mairaw commented on #6083
That's a good repro. Thanks @mburbea.

[2021-03-23 19:10] RainbowJeremy commented on #6084
It’s fine, my bad

On Tue 23 Mar 2021 at 18:19, Maira Wenzel ***@***.***> wrote:

[2021-03-23 20:09] #6084 closed

[2021-03-23 21:55] jagreen03 opened #6085 "Doesn't work on android"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/edit
Operating System: linux

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-03-23 22:30] mairaw commented on #6085
Do you have Linux running on Android? Can you give me more information about what's not working?

[2021-03-23 22:51] ivan2007 commented on #2085
Add `<UseWindowsForms>true</UseWindowsForms>` in your project file

[2021-03-24 03:06] john5000 commented on #2034
For anyone stumbling upon this.

I had the same problem.  `printTicket.Stapling = Stapling.StapleTopLeft;` would not work.  Worked for some printers, but not for the Canon using their Canon Generic Plus driver (the main one used on their printers).  The .GetPrinterCapabilities show no staple option available.  Yet from other apps you could control the stapling, such as from Word.

I found that `pr

[2021-03-24 12:37] patillaxmi123 commented on #1322
i am also facing the same issue when i try to call the .net core 3.0 api to windows workflow foundation.
getting following issue.
BadImageFormatException: Could not load file or assembly 'System.Activities, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'. Reference assemblies should not be loaded for execution. They can only be loaded in the Reflection-only loader context. (0x80

[2021-03-24 17:38] #6070 closed

[2021-03-24 18:17] Divechatofik opened #6087 "dll problem"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-03-24 19:44] beyond-kernel opened #6088 "Error when trying to run the command docker build"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/docker-image
Operating System: windows 10

When I tried to run the tutorial step by step, the prompt returned an error when I ran the run step for the docker build -t docker command.

Error:
**rpc error: code = Internal desc = stream terminated by RST_STREAM with error code: PROTOCOL_ERROR**

Dockerfile:

FROM m

[2021-03-24 23:04] mairaw commented on #6088
@nishanil @shirhatti can you help with this issue?

[2021-03-24 23:14] mairaw commented on #6087
Can you provide more details about the problem you're having? What dll problem?

[2021-03-25 02:29] benaadams commented on #5890
## .NET Libraries: System.Runtime.InteropServices - CollectionsMarshal.GetValueRef
[dotnet/runtime#49388](https://github.com/dotnet/runtime/pull/49388)

Updating `struct` values in dictionaries currently can be expensive as it requires a dictionary lookup and a copy to stack of the `struct`; then after changing the `struct` it needs to be assigned to the dictionary key again resulting in another l

[2021-03-25 02:51] benaadams commented on #5890
## Faster interface checking and casting
[dotnet/runtime#49257](https://github.com/dotnet/runtime/pull/49257)

One of the advantages of more parts of the .NET VM moving from C++ to managed C# is its easier to contribute to,
this includes interface casting.

.NET 6 Preview 3 includes a 16% - 38% performance boost for interface casting; this is particularly useful for C#'s pattern matching to and be

[2021-03-25 10:22] denisenko93 opened #6089 "Linq SelectMany yield return"
Allow use of yield return in lambda functions.

Example:

[code]
Does not works:

[code]
Only methods, operators and accessors could contain 'yield' statement

Works:

[code]

[2021-03-25 14:28] LiranBinshtok opened #6090 "Endless tree with System.IO.Directory.GetFiles"
### Description
when using Directory.GetFiles ( with all directories ) on a folder that contains sub folder and one of each holds a symbolic link
to the parent folder, the result will be an endless tree.

run this at terminal:
mkdir ~/test
mkdir ~/test/test1
mkdir ~/test/test1/test2
ln -s ~/test ~/test/test1/test2

then run this code:

`namespace Tests
{
    class Program
    {
        static void

[2021-03-25 14:43] danmoseley commented on #5890
Thanks for adding these @benaadams !

[2021-03-25 17:48] jamshedd commented on #5435
The work is not funded at this point, this will likely move to 7.0.

[2021-03-25 18:12] mairaw commented on #6089
@jaredpar @MadsTorgersen can you help? Should this be transferred somewhere?

[2021-03-25 19:09] FireEater64 commented on #5989
Sorry to bump this again, but I notice that SDK 3.1.13 was [just published](https://dotnet.microsoft.com/download/dotnet/3.1), again with no RHEL6 binaries . Is the conclusion that RHEL6 is now completely unsupported for new releases? It would be good to get some configuration either way.

[2021-03-25 20:11] sannanify commented on #4371
Hi I am having the same issue that my worker service doesn't seems to be working after installation. Does anyone of you know how you have fixed this issue. Please I need an urgent response on this one.

Thank you.

[2021-03-25 20:12] sannanify commented on #4371
It is working when I run the .exe file manually but when I install it in services.msc it doesn't seems to be working even though the status shows that the worker service is in "running" state.

[2021-03-25 20:53] hsupe commented on #1240
My scenario was .NET Core  3.1, Newtonsoft Json, and a custom middleware to change the response body. The solution described at https://stackoverflow.com/a/62882787/3142593  worked for me.

[2021-03-26 05:29] stackzzcryp3c opened #6091 "Evolution"
**<\Run.install/>
**<system.access>
**<access.hardware>
**<default.access>

**{### (POWER,MONEY,PRECISION)

* *<Listen. Focus. Embrace. Empower. Evolve.**
*
*
*
*
* ILLUSTRATED BY:PATRICK R GUERRERO
*
*  These are key fundamentals to a Healthy, Peaceful, Term also know As "Life." If you can open your mind, to the words of the wise, you can Evolve oneself conscious creating Inner Value. Through pos

[2021-03-26 06:55] #6091 closed

[2021-03-26 10:13] prasadraju82 opened #6092 "On executing docker build -t mymicroservice . command no image is being created."
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/docker-image
Operating System: windows

After executing docker build -t mymicroservice . command in windows. It returned with the following message.
_Sending build context to Docker daemon  17.41kB
Step 1/10 : FROM mcr.microsoft.com/dotnet/sdk:5.0 AS build
5.0: Pulling from dotnet/sdk
no matching manifest for wi

[2021-03-26 16:10] JulieLeeMSFT commented on #5890
## CodeGen

### Community contributions
- @nathan-moore Remove bounds checks with tests against length https://github.com/dotnet/runtime/pull/40180
- @SingleAccretion Span bounds check elision with top-level range check nodes removal https://github.com/dotnet/runtime/pull/49271

### Dynamic PGO https://github.com/dotnet/runtime/issues/43618
- JIT: profile updates for return merges and tail calls

[2021-03-26 16:44] jamesmontemagno commented on #6088
So the issue here is "echo . > Dockerfile" actually puts an invalid character :(

Delete that file and create a new one and then open and copy it in.

[2021-03-26 16:45] jamesmontemagno commented on #6092
So the issue here is "echo . > Dockerfile" actually puts an invalid character :(

Delete that file and create a new one and then open and copy it in.

[2021-03-26 16:51] jamesmontemagno commented on #6088
additionally, if you have .NET Core 6 installed you will need to chagne the images to 6.0

[2021-03-26 19:25] beyond-kernel commented on #6088
That's work when i change the version of my .NET framework in the Dockerfile, thanks @jamesmontemagno

[2021-03-26 19:25] #6088 closed

[2021-03-26 19:28] jobullen opened #6093 "release.json for 5.0.4 is missing reference to SDK 5.0.104"
### Description

release.json for 5.0.4 is missing reference to SDK 5.0.104

### Configuration

NA

### Regression?

Up to date until 102.
### Other information

[2021-03-26 22:16] jamesmontemagno commented on #6088
I just updated the tutorial to specify .NET 5 as the version to create. This was a good find :)

[2021-03-26 23:17] mairaw commented on #6092
I'm closing this since the tutorial has been updated to fix this. But let us know if you're still having issues.

[2021-03-26 23:17] #6092 closed

[2021-03-27 09:19] josteink commented on #5850
It Seems like `System.Security.Cryptography.Native.OpenSsl` has some issues on Ubuntu 21.04, as seen when trying to launch PowerShell:

https://github.com/PowerShell/PowerShell/issues/15101#issuecomment-808687551

[2021-03-27 14:14] synapsys11 opened #6094 "space is required?"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/modify
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

This is the problem:  Notice I missed a space between get; and set;  The space is not required in C#, but it is here!  W

[2021-03-27 18:22] Saibamen commented on #5463
Could you please add some more info in ticket description?

[2021-03-28 05:57] JohnGuih opened #6095 "It was not possible to find any installed .NET Core SDKs"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/create
Operating System: windows 10

I trying to do the tutorial but i am getting stuck when i use the command "dotnet new webApp -o myWebApp --no-https" the terminal send me this:
"It was not possible to find any installed .NET Core SDKs
Did you mean to run .NET Core SDK commands? Install a .NET Core SDK from:
h

[2021-03-28 11:33] pa035 opened #6096 ".NET Tutorial - Your First Microservice - runtime error"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/intro/run-docker
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

I received the following error when running this command
docker run -it --rm -p 3000:80 --name mymicrose

[2021-03-28 22:52] jaredpar commented on #6089
This can be transferred to dotnet/csharplang but it's going to be likely resolved as a duplicate / "by design" there. This was an explicit decision by the language design team and it's been re-confirmed several times in the recent past.

[2021-03-29 01:22] mairaw commented on #6096
It seems that you're trying to use the 3.1 SDK somehow.

Can you paste the contents of your Dockerfile?

The one from the tutorial is supposed to be using 5.0 SDK:
[code]

[2021-03-29 01:30] mairaw commented on #6095
Hi @JohnGuih, can you paste the output of running the command `where dotnet`?

If your system is x64 and the output returns the following:
C:\Program Files (x86)\dotnet\dotnet.exe
C:\Program Files\dotnet\dotnet.exe

You might be able to fix that as explained here: https://github.com/dotnet/core/issues/5962#issuecomment-780084535

[2021-03-29 11:00] navya39345 opened #6097 "The .NET Framework 4.7.2 redistributable does not apply to this operating system. Please download the .NET Framework 4.7.2 for your operating system from the <A HREF="http://go.microsoft.com/fwlink/?LinkId=863273">Microsoft Download Center</A>."
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-03-29 16:45] mairaw commented on #6097
Hi @navya39345,
Can you provide a little bit more information about the issue you're having?
What version of Windows do you have?

I'm also curious on how you ended up in the  Hello World tutorial. I wanna make sure that people looking to download .NET Framework, don't end up there.

[2021-03-29 17:12] leecow opened #6098 "What's new in .NET 6 Preview 4"
# What's new in .NET 6 Preview 4

This issue is for teams to highlight work for the community that will release .NET 6 Preview 4.

To add content, use a new conversation entry. The entry should include the team name and feature title as the first line as shown in the template below.

[code]
Preview 1: https://github.com/dotnet/core/issues/5853
Preview 2: https://github.com/dotnet/core/issues/5889

[2021-03-29 17:12] leecow opened #6099 "What's new in .NET 6 Preview 5"
# What's new in .NET 6 Preview 5

This issue is for teams to highlight work for the community that will release .NET 6 Preview 5.

To add content, use a new conversation entry. The entry should include the team name and feature title as the first line as shown in the template below.

[code]
Preview 1: https://github.com/dotnet/core/issues/5853
Preview 2: https://github.com/dotnet/core/issues/5889

[2021-03-29 17:15] dotMorten commented on #5423
My main issue with client app dev support, is that we've lost the ability to have a webrequest cache in .NET Core that we had "built in" in .NET Framework. This can significantly slow down repeated web-requests in a client app that will often check back on URLs for for instance status updates or fresh data, but not taking advantage of cache-control and etag headers, causing increased network data-

[2021-03-29 23:11] #6082 closed

[2021-03-29 23:38] JohnGuih commented on #6095
Thank you for your help

C:\Users\User>where dotnet
C:\Program Files (x86)\dotnet\dotnet.exe
C:\Program Files\dotnet\dotnet.exe

[2021-03-29 23:40] mairaw commented on #6095
That seems like the same issue then. Your machine is x64, correct?

If so, try the steps at https://github.com/dotnet/core/issues/5962#issuecomment-780084535.

Let me know if that works.

[2021-03-30 01:14] #6078 closed

[2021-03-30 03:14] #6073 closed

[2021-03-30 09:19] ahmetkaratas34 opened #6102 "net framerork"
hi, i am using windows 2019 server and i want to install net framework 1.1. I think it's giving an error because it's incompatible. Is there any way I can set it up?

[2021-03-30 13:17] bhavadharanish opened #6103 "how i can insert the progrm.cs in dotnet"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-03-30 21:32] loic-sharma opened #6105 "Is Linux Mint support dropped from .NET 6?"
.NET 5.0 supports Linux Mint: https://github.com/dotnet/core/blob/8fa18840f8da2771e6bc09abe2c22d2f2f63062b/release-notes/5.0/5.0-supported-os.md#linux

.NET 6.0 support does not include Linux Mint: https://github.com/dotnet/core/blob/8fa18840f8da2771e6bc09abe2c22d2f2f63062b/release-notes/6.0/6.0-supported-os.md#linux

However, the `Support changes from .NET 5.0` section is empty: https://github.co

[2021-03-30 22:19] mairaw commented on #6105
Tagging @leecow

[2021-03-30 22:20] mairaw commented on #6103
You don't insert Program.cs. The command creates that file for you in the myApp directory. The page is only showing its contents.

Does that help?

[2021-03-30 22:57] #6085 closed

[2021-03-31 00:19] Jozkee commented on #6102
Can you share more details about which error you are facing?

[2021-03-31 00:37] Jozkee commented on #6102
.NET framework 1.1 is unsupported on Windows Server 2008 R2 or higher.
https://docs.microsoft.com/en-us/troubleshoot/windows-client/deployment/dotnet-framework-1dot1-not-supported

You may consider install a supported version of .NET in your server e.g: .NET 5.

[2021-03-31 01:23] Elson-KaiDong opened #6107 "Exited with error code 1"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/run
Operating System: windows
watch : Exited with error code 1
watch : waiting for a file to change before restarting dotnet . . .

[2021-03-31 06:34] icejd opened #6108 "Questions about AddMemoryFont"
我将字体包放入资源文件中,以避免安装字体,如下面的代码,Windows运行是正常且完美的,并且Windows也没有安装对应的字体,但是在Linux下,他似乎并不生效,显示出来的字体无论如何只有一种,而且不是资源中的任何一个,似乎只是默认字体,我只有将字体文件放入 "/usr/share/fonts/micro/" 下面,才有效果,但是我并不想这样作,为何在Linux下,资源中的的字体不会生效呢?

`
System.Drawing.Text.PrivateFontCollection pfc = new System.Drawing.Text.PrivateFontCollection();
pfc.AddMemoryFont(ResourcesHelper.GetResFontPtr(Properties.Resources.elephant), Properties.Resources

[2021-03-31 08:42] ahmetkaratas34 commented on #6102
The program I use only works with 1.1. Since 3.5 and 4.7 are installed in Server 2019, older versions cannot be installed. When I remove it, the server manager becomes unavailable.

[2021-03-31 20:46] mkb137 opened #6110 ""x""
### Description

### Configuration

### Regression?

### Other information

[2021-03-31 20:47] #6110 closed

[2021-03-31 20:53] marchicman opened #6111 "The framework 'Microsoft.NETCore.App', version '2.2.0' was not found"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/run
Operating System: linux

**Problem:**
run _dotnet watch run_

I get:

_It was not possible to find any compatible framework version
The framework 'Microsoft.NETCore.App', version '2.2.0' was not found.
  - The following frameworks were found:
      5.0.4 at [/usr/share/dotnet/shared/Microsoft.NETCore.App]_

_

[2021-03-31 20:58] mkb137 opened #6112 "String.StartsWith( "\0" ) always returns true."
### Description
Expected:
[code]
Actual:
[code]

e.g.:
[code]
Also with multiples of null:
e.g.:
[code]
### Configuration

Basic console app, .net 5.0.

Problem doesn't exist on .netstandard3.0.

### Regression?
Code:
[code]

.net 5.0:
[code]
output:
[code]

.net 3.1:
[code]
output:
[code]

### Other information

[2021-03-31 23:22] #6087 closed

[2021-04-01 04:24] paramjeetSP commented on #5510
Great Efforts.

[2021-04-01 16:47] kumarsril opened #6113 "when I type docket --version in command prompt I get the following error "docker is not recognized as internal or external command"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/install-docker
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-04-01 17:48] kumarsril opened #6114 "The System Cannot find Dockerfile while creating a Microservice"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/docker-file
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-04-02 12:08] divyesh1995 opened #6115 "Error in Hello word (Edit your code) segment"
![Screenshot (19)](https://user-images.githubusercontent.com/33441245/113414157-f3a81f80-93d9-11eb-9e88-f466beb4f47f.png)

Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/modify
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is rel

[2021-04-02 14:50] thisclubhouse-is-weird commented on #1926
sus

[2021-04-02 17:25] mairaw commented on #6115
Can you make sure you edited the Index.cshtml file and not the Index.cshtml.cs file? Sometimes, Windows will hide the file extension.

So, in the example below the Index.cshtml file is the first one and not the second.
![image](https://user-images.githubusercontent.com/12971179/108442395-d0e7f000-720b-11eb-8059-ff4d4e181304.png)

Let me know if that helps.

[2021-04-02 20:19] Joshua-Vedane opened #6116 "dotnet run command failed with error"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Followed the guide and ran 'dotnet run' while in the correct folder. The console returned the following error message:

[2021-04-03 19:28] snlinfo2 opened #6117 "HOW TO RUN HELLO WORLD IN VS CODE USING C SHARP"
![csharp hello world1 image](https://user-images.githubusercontent.com/39646808/113489173-99cb5680-94ba-11eb-843f-57889389053b.png)
I CAN'T RUN THE CODE IN SCREENSHOT. I NEED HELP - I AM USING VS CODE 2019, WINDOWS10 ON SURFACE PRO4
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experi

[2021-04-03 19:56] razamemn1234 opened #6118 "open ssh error type and just show git password"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-04-03 20:12] knilecrack commented on #6117
Press f5?

[2021-04-04 08:43] sglee opened #6119 "HTTP Error 500.24 - Internal Server Error"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-04-04 15:04] NO0ne-17 opened #6120 ".net The path to an application .dll file to execute."
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-04-04 21:50] jtmerch opened #6121 "Assigned PublicIP is returning "The server is taking too long to respond.""
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/deploy-microservice-tutorial/deploy
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Hello, I went through the weatherforecast tutorial found on your Deploy a .Net Microservice page.  I do the

[2021-04-04 23:22] richlander commented on #6105
Great question @loic-sharma. The short version is that I'm hoping we change (only to improve) our Linux distro support story in .NET 6. Let's just hold on this one until that lands.

In short, the plan is to do two things:

- Orient support on distro families.
- Establish support tiers, along the following lines:
  - Tier 1: Directly tested by .NET Team (AKA, this is the distro we test for the fam

[2021-04-05 01:35] #6096 closed

[2021-04-05 03:30] snlinfo2 commented on #6117
SEE THE ERROR MESSAGE POPUP

[2021-04-05 14:18] GeeWee commented on #5596
If anyone finds this post later and is struggling to install dotnet 5.0, it might be because you have the microsoft repository available. The package is available in the "updates" repository even though it might not be visible if you run e.g. `dnf list all "*dotnet-sdk*"`

If you set the priority of the microsoft repo to e.g. 100 in e.g. `/etc/yum.repos.d/microsoft.repo` it should work, or you can

[2021-04-05 17:04] #6097 closed

[2021-04-05 19:00] Jozkee commented on #6121
cc @Pilchie

[2021-04-05 19:04] Jozkee commented on #6117
Looks to me as a configuration error; cc @filipw since he might know more about what's the issue.

[2021-04-05 19:06] Pilchie commented on #6121
@davidfowl @shirhatti - any ideas here?

[2021-04-05 19:06] mairaw commented on #6121
Tagging @shirhatti and @nishanil for help here

[2021-04-05 19:11] mairaw commented on #6117
What happens if you run from the command-line like we show in the tutorial without using the VS Code debugger? Just trying to pinpoint the problem.

[2021-04-05 19:21] Jozkee commented on #6120
Can you please provide more info. Is this error displayed when you type `dotnet` in the cmd?
cc @wli3 @dsplaisted

[2021-04-05 19:26] Jozkee commented on #6119
Have you tried this https://forums.asp.net/t/2094251.aspx?HTTP+Error+500+24+Internal+Server+Error?
cc @Pilchie

[2021-04-05 19:28] Jozkee commented on #6118
Could you please elaborate when are you getting this error? The tutorial you are referring to is never using git.

[2021-04-05 19:59] mairaw commented on #6114
Can you help here @shirhatti @nishanil?

It would be great if you could include screenshots @kumarsril

[2021-04-05 20:00] mairaw commented on #6113
Did you try to run this on a new command prompt?

[2021-04-05 20:13] Pilchie commented on #6119
Also take a look at https://docs.microsoft.com/aspnet/core/host-and-deploy/iis/.  @jkotalik - I don't see 500.24 in the trouble shooting there.  Do you have any ideas?

[2021-04-05 20:25] jkotalik commented on #6119
That's an IIS error (not an error from ANCM).

Looks like you may have a setting in your applicationhost.config that is invalid.

[2021-04-05 20:48] kumarsril commented on #6113
Hi Maria,

Thanks. I got this resolved by running in anew command prompt as
elevated user - Admin. Thanks again
Srikumar

On Mon, Apr 5, 2021 at 3:00 PM Maira Wenzel ***@***.***>
wrote:

[2021-04-05 21:17] danmoseley commented on #5491
@billwert @DrewScoggins @davidwrighton will our microbenchmark data continue to be gathered on pre-PGO bits, or on PGOized bits? My assumption is the former, because (1) PGO may introduce unexpected "regressions" and "improvements" when training data is updated, which would hide real regressions (2) PGO is not designed to improve microbenchmarks, in general. cc @stephentoub

[2021-04-05 21:25] Jozkee commented on #6111
cc @wli3 @dsplaisted.

[2021-04-05 21:29] Jozkee commented on #6102
@wli3 @dsplaisted @danmoseley is there any guidance that you may suggest for this case?

[2021-04-05 21:31] #6113 closed

[2021-04-05 21:34] Jozkee commented on #6107
Thanks for reporting, can you provide more details about what you are specifically doing that triggers this error? Do you hit it consistently?

cc @wli3 @dsplaisted

[2021-04-05 21:37] mairaw commented on #6107
Tagging @danroth27  as well

[2021-04-05 21:44] danroth27 commented on #6107
Adding @pranavkm as well.

[2021-04-05 21:45] mairaw commented on #6111
Can you paste the contents of myWebApp.csproj here @marchicman? I'm trying to understand why the project is trying to use .NET Core 2.2 instead of .NET 5?

[2021-04-05 22:12] shirhatti commented on #6121
Try looking at the output of  `kubectl describe pod <pod-id>`. My naïve guess is you have an auth issue where your cluster doesn't have access to your registry.

[2021-04-05 22:56] jtmerch commented on #6121
Thanks, I went thru the steps of adding my registry ID when I created the
cluster (jn Powershell).  What other steps would I need to take to ensure
that my cluater has access?

Joe

On Mon, Apr 5, 2021, 6:12 PM Sourabh Shirhatti ***@***.***>
wrote:

[2021-04-05 23:52] danmoseley commented on #6102
@ahmetkaratas34 as @Jozkee noted,  .NET Framework 1.1 is not supported any more: https://docs.microsoft.com/en-us/lifecycle/faq/dotnet-framework

You have two options
1. continue to use your app on a version of Windows on which you can successfully install .NET Framework 1.1. If you continue to use .NET Framework 1.1 you should be aware that it is not supported, so eg., it will not receive securit

[2021-04-05 23:52] #6102 closed

[2021-04-06 00:11] #6095 closed

[2021-04-06 00:36] shirhatti commented on #6121
Assuming it is an auth issue, try this- https://docs.microsoft.com/en-us/azure/aks/cluster-container-registry-integration#configure-acr-integration-for-existing-aks-clusters

I would recommend running `kubectl describe pod <pod-id>` first to ascertain if that's really the issue here

[2021-04-06 01:14] davidortinau commented on #5890
## .NET MAUI

### Community Contributions

* [Switch Entry and Editor from EditText to AppCompatEditText](https://github.com/dotnet/maui/pull/493)
* [maui-check dotnet CLI tool](https://github.com/Redth/dotnet-maui-check)

![image](https://user-images.githubusercontent.com/41873/113644345-2bb59980-964a-11eb-838a-cbfde28899fd.png)

* [Port font to Editor](https://github.com/dotnet/maui/pull/503)
*

[2021-04-06 01:50] NlMay opened #6123 "Program running memory is higher and higher, GC is not big, working set memory is large"
### Description
There are many requests per second, gc0, GC1, GC2 are all small. It's just that the working set keeps growing,What causes this?

### Configuration
CentOS Linux release 7.8.2003 (Core)
.NETCore 5.0

### Regression?

### Other information
Line chart：
![image](https://user-images.githubusercontent.com/57248456/113647182-e9797000-96bc-11eb-94d6-418bd91204ee.png)
Using global dotnet cou

[2021-04-06 03:31] Aidan-Bielenberg opened #6124 "Tutorial error code 1"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/run
Operating System: Linux (ubuntu)

I followed the instructions on the tutorial page and when I get about to running it, it returns this:
[code]

I looked up the error code and it says it is because of a failure due to an application error.

[2021-04-06 04:05] RheaAyase commented on #5596
That is very well know and documented. One should **NEVER** combine packages from different sources. Bad idea.

[2021-04-06 04:18] mahbubulhaque00 opened #6125 "Could not find a MSBuild project file in 'C:\Users\User'. Specify which project to use with the --project option."
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-04-06 05:47] marchicman commented on #6111
Hi @mairaw here is my csproj file:

`<Project Sdk="Microsoft.NET.Sdk.Web">

  <PropertyGroup>
    <TargetFramework>net5.0</TargetFramework>
  </PropertyGroup>

</Project>
`

dotnet run works, dotnet watch run no

[2021-04-06 10:38] uffebjorklund opened #6126 "dotnet 5 single file extracts files into a temporary folder"
### Description

On windows we distribute our application as a single file executable. We have been doing this since dotnet core 3.1 and we had a lot of issues when doing this since the file actually was extracted to a temp folder which caused all kinds of trouble.

In dotnet core 5 the documentation says
[code]
This is not true... I am running our application on a win2019 server (clean install),

[2021-04-06 13:43] jtmerch commented on #6121
Thanks shirhatti.  I followed all the steps in the provided link (everything but a used my dockerhub repository that was already created).  And I still get the same error:

NAME                                                             READY   STATUS             RESTARTS   AGE
microservicedemo-deploy-55f6bcdf77-4xxd9   0/1     ImagePullBackOff   0          55s

[2021-04-06 14:35] tmds opened #6127 "ThirdPartyNotices for self-contained applications?"
.NET comes with a `ThirdPartyNotices.txt` file.

 When I publish a self-contained application it doesn't include a `ThirdPartyNotices.txt` file.

Should it include one, or is it not needed here?

cc @leecow @omajid

[2021-04-06 16:28] rbhanda opened #6129 ".NET April 2021 Update - .NET 5.0.5, .NET Core 3.1.14 and .NET Core 2.1.27"
Release Notes
[5.0.5](https://github.com/dotnet/core/blob/master/release-notes/5.0/5.0.5/5.0.5.md)
[3.1.14](https://github.com/dotnet/core/blob/master/release-notes/3.1/3.1.14/3.1.14.md)
[2.1.27](https://github.com/dotnet/core/blob/master/release-notes/2.1/2.1.27/2.1.27.md)

Please report any issues you find with .NET 5.0.5 either responding to this issue, creating a new issue or creating a new is

[2021-04-06 17:45] DrewScoggins commented on #5491
My understanding is that when you do a normal release build you get PGO data applied. This is the pattern that we follow. I know that we do not use the JIT PGO opt-out currently. I know that in the past we have been able to see the signs of stale PGO data in microbenchmark numbers, but I will admit I am not an expert in this space.

[2021-04-06 17:57] rbhanda commented on #6035
Closing in favor of https://github.com/dotnet/core/issues/6129

[2021-04-06 17:57] #6035 closed

[2021-04-06 18:30] danmoseley commented on #5491
I see. I am interested in others' thoughts
Cc @jeffschwMSFT @AndyAyersMS

In my mind it is a non goal for micro benchmarks results to closely track customer experience but rather the goal is to reliably and promptly detect regressions caused by changes in the implementation, by keeping as many other factors constant as possible. Perhaps I'm thinking about it wrongly.

[2021-04-06 18:35] jeffschwMSFT commented on #5491
I would expect to use our previous release as a means to detect regression.

[2021-04-06 18:37] danmoseley commented on #5491
I was talking about day to day measurements, but good point: it's probably inevitable that any GA  baseline is PGO bits.

[2021-04-06 18:40] jeffschwMSFT commented on #5491
Even for day to day, I would only measure our shipping scenario (eg. pgo) and then compare to previous release for regression/improvement.

[2021-04-06 18:43] AndyAyersMS commented on #5491
Ideally we'd track both PGO and non-PGO performance anywhere we care to make measurements. This accomplishes a few things:
* makes it easier to spot PGO-only regressions/improvements during triage
* if aggregated, gives us an overall figure of merit for the impact of PGO (which, if stable, can also be used to detect stale PGO)

For local benchmarking disabling PGO may give more reliable results (a

[2021-04-06 18:51] danmoseley commented on #5491
Sounds good. We should maybe document the PGO disable flag in our perf workflow if we don't already.
Cc @adamsitnik

[2021-04-06 20:31] Jozkee commented on #6125
Are you running `dotnet watch run` on the directory that contains your csproj or passing it with `-p`?
cc @wli3 @dsplaisted

[2021-04-06 20:38] Jozkee commented on #6124
cc @wli3 @dsplaisted

[2021-04-06 20:59] mairaw commented on #6124
I'll close this as a duplicate of #6107 given this is about running dotnet watch run with our activation tutorials

[2021-04-06 20:59] #6124 closed

[2021-04-06 21:00] mairaw commented on #6107
Just closed #6124 as a duplicate of this one, even though that was on a Linux machine.

[2021-04-06 21:03] mairaw commented on #6125
As stated in https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/create, you need to change directory running `cd myWebApp`. Did you do that @mahbubulhaque00 before running the `dotnet  watch run` command?

[2021-04-06 21:06] mairaw commented on #6111
Humm interesting. Tagging @pranavkm and @danroth27 for another issue around dotnet watch run.

[2021-04-06 21:48] snlinfo2 commented on #6117
Find below what happened when ran of cmd:
![run hello world in cmd](https://user-images.githubusercontent.com/39646808/113782469-26c81700-972a-11eb-9062-ce4cfe205d29.png)

[2021-04-06 22:28] mairaw commented on #6117
Thanks. So it's working from the CLI. Thanks for confirming @snlinfo2.

[2021-04-06 22:37] danroth27 commented on #6111
Might be a Linux specific issue with `dotnet watch`.

[2021-04-06 23:13] #6103 closed

[2021-04-07 00:44] rbhanda opened #6133 "Alpine 3.10 reaches end of life on May 01 2021"
### Repos team to update:

- [ ] Remove installers for the outdated distro

- [ ] Stop building Official Docker™ images

- [ ]  Remove build support

- [ ]  Remove test assets

### Infrastructure Team Accountabilities/Deliverables:

- [ ]  Notification to NetCore Engineering Partners

- [ ]  Remove the outdated version from the hardware pool

### Release Team

- [ ]  Send Notification to every tea

[2021-04-07 05:21] marchicman commented on #6111
I installed the sdk from AUR ( Arch User Repository ) the repository of the community not the Arch official one, maybe it's due to some problems in the build of the package. I'll try to investigate in the AUR forums

[2021-04-07 11:09] GeeWee opened #6134 "Cannot run dotnet watch on Fedora 33 after upgrading to dotnet 5.0"
### Description
For some reason the .NET that is bundled with Fedora does not work properly. I wasn't sure whether to report it here or not, but seeing as #5596 was tracked here, I figured this might be as well.

It seems like all the commands from "bundled tools" do not work, but the "regular" commands do.

E.g. `dotnet run` and `dotnet build` work fine, but other commands do not:

[code]
The com

[2021-04-07 14:33] omajid commented on #6134
Thanks for reporting this!

This was a mistake on our part.

We are tracking the fix here: https://github.com/dotnet/source-build/issues/2109

We are also looking at ways to make sure we test for this (via [gating tests in Fedora](https://src.fedoraproject.org/rpms/dotnet5.0/c/2eade32a3739a78fda898b0a23c5596d96c5e74d?branch=rawhide)) and block updates if tests fails.

[2021-04-07 19:16] billwert commented on #5491
This is not true. The vast majority of the code we run through microbenchmark testing with BDN is library code, which is all precompiled and would have PGO applied. We would need to build the product in a release configuration without PGO applied to effectively test it in this manner.

[2021-04-07 19:21] billwert commented on #5491
Perf measurements on non-PGO builds in general are of questionable value to me. For scenario (startup, size, etc) we count on PGO to fix pages and improve page density. Unoptimized binaries are also going to be somewhat more random day over day as code is added and removed, which can lead to unexplained changes in the non-PGO trend. This decreases the usefulness.

For microbenchmark style testing,

[2021-04-07 21:27] AndyAyersMS commented on #5491
That would be true if we measured BDN perf with TC disabled. But when TC is on, we will only ever be measuring the perf of jitted code.

Block arrangement yes, splitting, not yet -- though it is opportunistic for 6.0  (but not likely, I would guess).

Despite what I wrote above, I agree with that, for non-BDN scenarios. Especially so if we have some independent measure of "work" like instructions

[2021-04-07 21:33] AndyAyersMS commented on #5491
Not to muddy the waters any further,  but it would also be nice to start measuring dynamic PGO perf on a regular basis. I do this on a somewhat ad-hoc basis currently for parts of TechEmpower.

So I'd suggest:
* frequent, dense collection of perf for the default case: static PGO. Triaged regularly. (we do this already)
* infrequent, sparse collection of perf for dynamic PGO. Triaged less regularly

[2021-04-07 21:33] billwert commented on #5491
This is something I didn't appreciate. My belief was that R2R would be used even if TC was on, and R2R would be the best code we could make. That of course changes things.

[2021-04-07 21:48] Omcsesz opened #6135 "DataGrid ItemsSource unexpected behavior"
Hello, Team!

I would like to report the following issue:
when I add a new item to a List, then I set it to be the ItemSource, this results in putting the two entries beside each other:
![DataGridUnexpectedBehavior](https://user-images.githubusercontent.com/1839739/113763476-02fcd500-971a-11eb-84c3-736bbd703699.jpg)

[WpfApp1.zip](https://github.com/dotnet/sdk/files/6266869/WpfApp1.zip)

Is this n

[2021-04-08 00:45] fuchanghao commented on #6129
Can't get ".NET Desktop Runtime 5.0.5"  by windows update and My Visual Studio 16.9 still install ".NET SDK 5.0.201"

[2021-04-08 12:01] onurolker commented on #5375
I'm getting the same error and im working .Net 5.0 but my call stack section is empty. Do you have a suggestion?

[2021-04-08 18:28] christianwinters1989 opened #6140 "The Debug Executable"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

The debug executable
'C:\Users\xxxxxx.xxxxx\myApp\bin\Debug\net5.0\myApp.exe' specified in the 'myApp' debug profile does not exist.

[2021-04-08 20:16] rbhanda opened #6141 ".NET 6 Preview 3"
[Release Notes](https://github.com/dotnet/core/blob/master/release-notes/6.0/preview/6.0.0-preview.3.md)

Please report any issues you find with .NET 6, either responding to this issue, creating a new issue or creating a new issue in one of the following repos:

* [dotnet/aspnetcore](https://github.com/dotnet/aspnetcore/issues) - for ASP.NET Core questions
* [dotnet/efcore](https://github.com/dotn

[2021-04-08 20:16] rbhanda commented on #6057
closing in favor of https://github.com/dotnet/core/issues/6141

[2021-04-08 20:16] #6057 closed

[2021-04-08 20:40] knilecrack commented on #6117
Can you post configuration from launch.json ?

[2021-04-08 23:54] QHQuach commented on #6129
I am getting below unit test execution error both in Visual Studio IDE 2019 (16.9.3) and command line through vstest.console.exe (16.9.1). This happens even after installing the latest .NET 5.0.5 (5.0.202 SDK). Any idea?

I even tried to debug into the Newtonsoft 13.0.1 but only to find the constructor just quits and throws the exception. The module runs fine during runtime.

The failing unit test

[2021-04-09 05:16] Jozkee commented on #6140
cc @mairaw.

[2021-04-09 05:22] Jozkee commented on #5375
@unurolker this is an old and closed issue, if you think you are hitting a similar problem could you please create a new issue **detailing** what you are doing and what's the behavior that you expect.

[2021-04-09 07:30] mingtong opened #6144 "How many previews will .NET 6 have before release?"
I am developing ASP.NET Core and WPF on Windows, I want to know when is the proper time to migrate to .NET 6 from .NET 5?
Yes, I am asking is it stable enough to do early development?

[2021-04-09 09:25] tmds commented on #6127
cc @terrajobst

[2021-04-09 11:15] xinruyu103 opened #6145 "hi"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-04-09 17:20] Jozkee commented on #6144
It will have 7 previews, and 2 release candidates after preview 7.

I would say yes, it is a good idea to start using .NET 6 for new development, cc @leecow since he might know better about any guidelines for this.

[2021-04-09 17:21] Jozkee commented on #6145
Hi :)

[2021-04-09 17:21] #6145 closed

[2021-04-09 17:21] #6115 closed

[2021-04-09 18:00] lluatehwachs opened #6146 "Touch stops working after showing a Window in a separate thread while the application is starting"
### Description

.NET core 3.1 WPF application, showing a window in a separate thread when the application is starting, touch events stop firing.

### Configuration
.NET core 3.1. WPF.
Windows 10 Pro.
Any architecture.
.NET framework works fine.

### Regression?
.NET framework works fine.
### Other information
Project is attached.
App.xaml.cs
 public partial class App : Application
    {
        p

[2021-04-09 18:55] Jozkee commented on #6146
@gomathip02 @vatsan-madhavan should we transfer this to [dotnet/wpf](https://github.com/dotnet/wpf)?

[2021-04-09 22:29] leecow commented on #6144
The answer to when you should begin adopting really depends on what you're doing. We want folks to begin using Previews as early as possible so that we can hear feedback early enough to use before the final release.

Previews are inherently more unstable than the final release, though we work hard to ensure core functionality is as solid as possible. When we do find something that could present a

[2021-04-10 02:23] lrdickson opened #6147 "Certificate issues with brand new project"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: Arch Linux

I was attempting to follow the tutorial to create a dotnet project using the cli and got the following error message:

[code]
`

[2021-04-10 09:32] SergeyBorisov opened #6148 "error during connect: In the default daemon configuration on Windows, the docker client must be run with elevated privileges to connect.: Post http://%2F%2F.%2Fpipe%2Fdocker_engine/v1.24/build?buildargs=%7B%7D&cachefrom=%5B%5D&cgroupparent=&cpuperiod=0&cpuquota=0&cpusetcpus=&cpusetmems=&cpushares=0&dockerfile=Dockerfile&labels=%7B%7D&memory=0&memswap=0&networkmode=default&rm=1&shmsize=0&t=mymicroservice&target=&ulimits=null&version=1: open //./pipe/docker_engine: The system cannot find the file specified."
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/docker-image
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-04-11 05:06] amir4z opened #6149 "br4a"
### Description

### Configuration

### Regression?

### Other information

[2021-04-11 05:21] amir4z opened #6150 "General bug report"
### Description

### Configuration

### Regression?

### Other information

[2021-04-11 06:15] MDmitriy777 opened #6151 "CHIP WINDOWS XP"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-04-11 07:46] wocar commented on #5510
THIS IS GREAT. THANK YOU!!!

[2021-04-11 11:39] RTodorov commented on #4921
Since this issue is still open and I just came across it, the solution in my case was to add `Newtonsoft.Json` as a direct dependency to my project. The error I was getting was the exact same error as @simplicbe. I didn't have `Newtonsoft.Json` as a direct dependency, I simply added the latest version and the error was gone.

[2021-04-11 11:42] simplicbe commented on #4921
@RTodorov in my cast this was not helping either. But thanks for you comment.

[2021-04-12 04:16] xaker1267 opened #6153 "After migrate to .NET 5 from .NET Core 2.1 occasionally Request.Form is empty"
After migrate to .NET 5, the following problem appeared:
999 of 1000 request come with:
httpContext.Request.Form filled with values
Content-Length: 34
context.Request.Body.Length: 34

But 1 of 1000 request comes with such parameters:
httpContext.Request.Form is empty
Content-Length: 34
context.Request.Body.Length: 0

This affects completely random requests.

Maybe the error is related to
context.R

[2021-04-12 06:38] kawanami-nsd opened #6154 "Unable to receive authorization header in asp.net core API application"
I am creating the following program.

client
[code]

api server
[code]

I updated the version of dotnet core used in the application from 2.2.6 to 3.1.10.

It works fine in an environment where dotnet-hosting 2.2.6 is installed.

If you install dotnet-hosting 3.1.10 in an environment where the program is working without problems, the program will not work.

Has the method of specifying the authori

[2021-04-12 06:51] swiftinitdotcom opened #6155 "new mobile app(flutter or xamarin or mauimui...)"
We urgently want to develop small new mobile app(flutter or xamarin or mauimui...) Xamarin is going away it seems with forms changes so is flutter better as of now?

### Description

### Configuration

### Regression?

### Other information

[2021-04-12 06:59] bella2793 opened #6156 "NET 5 returns wrong DateTimeFormat.FirstDayOfWeek"
Can somebody tell me how to get the right value from DateTimeFormat.FirstDayOfWeek when using NET5?

The culture I'm investigating on is "en-AU".

https://dotnetfiddle.net/v0RAV4 (.NET 4.7.2) vs https://dotnetfiddle.net/FYV8OW (NET 5).

The correct value is Monday. Why does NET5 return Sunday? How can I fix this behaviour?

[2021-04-12 08:16] bolat opened #6157 "no Startup.cs created upon creating a new Blazor WebAssembly project"
no Startup.cs created upon creating a new Blazor WebAssembly project. Why is that and what to do?

[2021-04-12 14:22] yaseminates opened #6158 "Can't run .NET Core for C#"
Nevermind, fixed it. However I don't know how to delete this so if anyone knows, that would be helpful.

[2021-04-12 16:31] #6150 closed

[2021-04-12 16:31] #6149 closed

[2021-04-12 16:55] Jozkee commented on #6147
Does this error also shows when you run `dotnet restore`?
cc @rrelyea @nkolev92

[2021-04-12 16:57] nkolev92 commented on #6147
You can dup it to https://github.com/NuGet/Home/issues/10712, the pinned issue in the https://github.com/NuGet/Home/issues repo.

[2021-04-12 16:59] Jozkee commented on #6148
Looks similar to https://stackoverflow.com/q/40459280/4231460.
@MichaelSimons, I am not very familiar with docker, could you please verify if this is the same issue as the StackOverflow's post that I linked?

[2021-04-12 17:02] Jozkee commented on #6151
Can you provide more details, what's the issue you are facing?

[2021-04-12 18:33] mairaw commented on #6148
Hey @SergeyBorisov, please check issue #6018 that has a couple of things for you to try and some recommendations.

[2021-04-12 18:33] #6148 closed

[2021-04-12 19:21] #6120 closed

[2021-04-12 20:21] #6119 closed

[2021-04-12 20:21] #6114 closed

[2021-04-12 20:21] #6118 closed

[2021-04-12 21:05] mairaw commented on #6158
I'll just close it. Glad to hear you fixed the issue.

[2021-04-12 21:05] #6158 closed

[2021-04-12 21:11] mairaw commented on #6155
@davidortinau @jamesmontemagno can you help? I don't have permissions to transfer this to dotnet/maui it seems.

[2021-04-12 21:23] mairaw commented on #6140
Can you provide more information about this? The tutorial doesn't tell you to search for the executable, it just runs the app with the CLI commands. Are you getting any error messages?

[2021-04-12 21:33] mairaw commented on #6147
@richlander last comment on that issue is that the latest .NET 5 build resolves that. Is that accurate?

@lrdickson can you paste the output of `dotnet --info`?

[2021-04-13 07:17] BrettGFleischer opened #6159 "Unable to run .NET 5.0 service as a different user"
### Description

I am trying to get an ASP.NET 5.0 service to run as a different user (by using `shift`+`right click` and selecting *Run as different user*) because of a DCOM requirement, but I am unable to do so and simply receive an error (seen within *Other information* section below).

I am aware that this is a very general error about a process exiting, therefore, I generated a small sample t

[2021-04-13 18:57] rbhanda opened #6161 "Snap Running .NET Core 2.1/3.1, .NET 5.0 applications on Ubuntu 20.10 or 20.04"
The error while running sudo snap install dotnet-sdk --channel 3.1/stable --classic on Ubuntu 20.04 or Ubuntu 20.10
[code]

[2021-04-13 20:24] majorimi opened #6162 "It seems .NET 5 tries to precompile expressions when params available even if usage is conditional (IF)"
I have a very weird NullReference exception when I try to use a Func passed into an Expressions in a generic method. It might sound complicated try to explain...

I want to achieve an "universal" security check method. Which should filter out `IQueryable<T>` returned from EF Core for some users. E.g. Admins should see full result but Guests should see only entities which are belongs to the given "

[2021-04-13 21:19] #6125 closed

[2021-04-13 22:11] mairaw commented on #6162
@jaredpar can you help here?

[2021-04-14 05:03] jamesmontemagno commented on #6155
.NET MAUI is the evolution of Xamarin.Forms and expands to building cross-platform native iOS, Android, macOS, and Windows apps from a shared single code base.

Xamarin.iOS, Xamarin.Android, and Xamarin.Mac are being upgraded to .NET 6 and are being renamed to iOS for .NET, Android  for .NET, and Mac for .NET.

All project can be upgraded directly to .NET 6 or to .NET MAUI if you are already doing

[2021-04-14 05:03] #6155 closed

[2021-04-14 05:05] swiftinitdotcom commented on #6155
I mean can we start right now(from today) and build production ready single version UI for android and iphone nicely(not 2 versions...)

[2021-04-14 05:08] jamesmontemagno commented on #6155
Yes, that is exactly what you can do with Xamarin.Forms today :)

https://docs.microsoft.com/en-us/xamarin/xamarin-forms/

[2021-04-14 08:51] XieJJ99 commented on #6129
Version 3.1.14 is missing in the release json: [https://dotnetcli.blob.core.windows.net/dotnet/release-metadata/3.1/releases.json] .

[2021-04-14 13:17] LevYas commented on #3689
I want to point at the inconsistency of how the parameters applied: I tried to specify
[code]
In my \PublishProfiles\FolderProfile.pubxml, it works only for the project you publish, not for references.
I tried to do as @ducalai suggested - added publish parameters `/p:DebugType=None /p:DebugSymbols=false` and it worked for references too.

[2021-04-14 13:42] rbhanda commented on #6129
Hello @XieJJ99 releases.json is updated for 3.1

[2021-04-14 14:29] ukashanoor opened #6163 "System.net.mail.SmtpClient fails to send mail from server having NTLM authentication"
.Net Core version: 3.1
Server: Linux(Ubuntu 18.04 LTS)

**Issue**

Our use case is to send Email to customers using SMTP server. This SMTP server is configured with NTLM as authentication mechanism. When we make use of default "System.net.mail.SmtpClient" package in .NetCore, it fails to even create a successful connection.
And hence the email sending fails on the Linux server with .NetCore build.

[2021-04-14 19:47] danmoseley commented on #6048
@leecow is this resolved now - can we close?

[2021-04-14 20:20] lbphp commented on #4038
@samgithub  @santiagofigueroa How did you solve the problem?
I am having the same issue. 2 dotnet applications on my Ubuntu, binding on different ports.
The second process fails with the `"address already in use"` error, no matter what port i use for the second process

[2021-04-15 04:37] kalaime opened #6164 "please assist with this error"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial//create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
C:\Users\Admin>dotnet new webApp -o myWebApp --no-https
Creating this template will make changes to existing files:

[2021-04-15 10:23] sps014 commented on #5890
@leecow Since Dotnet 6 preview 3 is already released this issue can be closed.

[2021-04-15 14:52] mairaw commented on #6164
The command is telling you a project with the same name already exists. Have you ran the command before?

There are a couple of options here. If you don't need that project, you can delete the myWebApp folder and start over.

Let me know if this helps.

[2021-04-15 23:03] leecow commented on #6048
Yes, looks like the issue is resolved.

[2021-04-15 23:03] #6048 closed

[2021-04-16 06:46] jpyogesh opened #6167 ".net 4.5 is not a valid value for -f"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-04-16 09:48] swapnajeetgonchoudhury opened #6168 "Unable to install Docker"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/install-docker
Operating System: windows.

I am trying to install the docker as instructed by the guide in my machine(WIndows 10- 64 bit) however i was unable to do so as the installer was throwing error "Docker Desktop requires the Server service to be enabled."

![Capture](https://user-images.githubusercontent

[2021-04-16 11:30] smagul opened #6169 "Docker can't RUN dotnet restore command."
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/docker-image#
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

![image](https://user-images.githubusercontent.com/7121468/115018200-6684c080-9ed9-11eb-9efe-48ca15893d74.p

[2021-04-16 15:54] eerhardt commented on #6098
## .NET Libraries: Extensions Enhancements (WIP)

### Hosting
* https://github.com/dotnet/runtime/issues/43637
* https://github.com/dotnet/runtime/issues/35991
* https://github.com/dotnet/runtime/issues/36017

In previous versions, when a BackgroundService threw an exception, the exception was lost and the service appeared to hang. .NET 6 has fixed this by logging the exception and stopping the Ho

[2021-04-16 20:59] marcwittke commented on #6111
I am stumbling upon this on Fedora when running `dotnet dev-certs`

[code]

[code]

[2021-04-17 02:06] swiftinitdotcom commented on #6155
You mean if we want to build 40 native mobile app forms we do not have to build 80 forms(40 for ios and 40 for android)? Please confirm nd I will start right away!

[2021-04-17 02:41] vinics91 commented on #4426
I have the same problem.

[2021-04-17 14:21] KevinCathcart commented on #6127
This is certainly fair, some of the third party notices for the runtime and/or BCL will almost certainly be applicable in

On the other hand, this is also tricky. There is no system for including the notices from third party NuGet packages used in your application, so automatically generating such a file may be misleading.

There are issues with manually generating the files too. It is basically i

[2021-04-17 16:12] igho4j opened #6171 "error MSB4236: The SDK 'Microsoft.NET.Sdk' specified could not be found."
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/modify
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

This simple project ran on my windows 10 but when I copied it to windows server 2016 to run, it gave the above erro

[2021-04-17 16:40] igho4j commented on #6171
This simple project ran on my windows 10 but when I copied it to windows server 2016 to run, it gave the above error even after I carried out the same .net core and run time installations

[2021-04-17 16:49] Biz-Co commented on #5123
Install does not complete, update has installed a dark theme
There is a square in the middle of the install dialog. click on it (hides check box) then the install button becomes active!
Press button and problem solved

[2021-04-17 17:03] mairaw commented on #6171
Can you run the command `dotnet --info` on the Windows Server machine to make sure you have the SDK installed.

Another command I'd ask you to run is `where.exe dotnet` so I can confirm something as well.

[2021-04-17 17:35] avikdutta111191 opened #6172 "watch : Exited with error code 134"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/run
Operating System: linux

**$ dotnet watch run**
watch : Started
Process terminated. Couldn't find a valid ICU package installed on the system. Set the configuration flag System.Globalization.Invariant to true if you want to run with no globalization support.
   at System.Environment.FailFast(System.String)

[2021-04-17 23:30] mairaw commented on #5890
Preview 3 was released: https://devblogs.microsoft.com/dotnet/announcing-net-6-preview-3/

[2021-04-17 23:30] #5890 closed

[2021-04-17 23:32] mairaw commented on #6169
@shirhatti @nishanil can you help?

[2021-04-17 23:35] mairaw commented on #6168
See if this thread on Stack Overflow helps:
https://stackoverflow.com/questions/60326173/docker-installation-on-windows-10

If not, I'd try to open an issue on the Docker repo: https://github.com/docker/for-win

[2021-04-17 23:35] #6168 closed

[2021-04-17 23:39] mairaw commented on #6172
Seems a duplicate of #5019

@tarekgh can you help?

[2021-04-17 23:41] mairaw commented on #6167
That's correct. The supported values can be found at https://docs.microsoft.com/en-us/dotnet/standard/frameworks#supported-target-frameworks.

.NET Framework 4.5 is a different product. Maybe you can tell me what you were looking for so I can better help?

[2021-04-18 06:15] Emily12Jus opened #6173 ""Edit your code tutorial" multiple errors."
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/modify
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Hi I am using windows 10, trying to complete the 'edit your code' tutorial section, i keep getting multiple errors

[2021-04-18 06:29] #6173 closed

[2021-04-18 22:59] tarekgh commented on #6172
@avikdutta111191 what Linux distro you are using? and did you install ICU on this distro?

[2021-04-19 07:42] oddk opened #6174 "C:\Users\oddkj\MyMicroservice>docker push mattisvollen2021/mymicroservice The push refers to repository [docker.io/mattisvollen2021/mymicroservice] 56abcb8bf8e4: Preparing df2baa174a8d: Preparing 7dc39ee34889: Preparing 96282ef47aa7: Preparing 82099e0891ed: Preparing 3cf53a68ca2f: Waiting 7e718b9c0c8c: Waiting denied: requested access to the resource is denied"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/deploy-microservice-tutorial/docker-hub
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-04-19 07:46] oddk commented on #6174
Regards,

Odd K.

[2021-04-19 07:46] #6174 closed

[2021-04-19 11:39] avikdutta111191 commented on #6172
ubuntu 20.04lts

Fixed it by adding

<PropertyGroup>
<InvariantGlobalization>true</InvariantGlobalization>
</PropertyGroup>

On Mon, Apr 19, 2021 at 1:59 AM Tarek Mahmoud Sayed <
***@***.***> wrote:

[2021-04-19 11:40] avikdutta111191 commented on #6172
**ubuntu 20.04lts**

Fixed it by adding
[code]

[2021-04-19 14:31] genifycom opened #6175 "DotNet 5 adding a controller breaks swagger"
Adding a new Controller to a base DotNet 5 project causes Swagger to show "Failed to load API definition".

Add a new Controller e.g. TestController with

    [ApiController]
    [Route("[controller]")]
    public class TestController : ControllerBase
    {
        public IActionResult Index()
        {
            return Ok();
        }
    }

run the application and see "Fetch error undefined /s

[2021-04-19 16:04] tarekgh commented on #6172
@avikdutta111191 enabling the Invariant mode as you did is going to limit the globalization support in your app. I think the right fix for you is to install `ICU` library there.

[2021-04-19 17:06] AbhishekAnand2 opened #6176 "I've Encountered an issue"
![Screenshot 2021-04-19 223537](https://user-images.githubusercontent.com/79047834/115275642-af4dab00-a15f-11eb-8afc-5843401acbf4.png)
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else th

[2021-04-19 17:22] jchintor opened #6177 "Installing .NET5.05 failed"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

I installed new .NET 5.0.5.  A  successful installation message appeared.

![Microsoft Windows Desktop Runtime - 5

[2021-04-19 18:02] #6151 closed

[2021-04-19 19:07] mairaw commented on #6177
Hi @jchintor! Your screenshot shows that you installed the Windows Desktop Runtime, not the SDK.

You need to install the SDK in order to create and run the tutorial as described in the install step:
https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install

Clicking on the **Download .NET SDK** button should download the proper version. If you're still having issues after doing this,

[2021-04-19 19:40] Fredylon opened #6178 "aaaaa"

[2021-04-19 21:20] #6178 closed

[2021-04-19 22:14] #6140 closed

[2021-04-20 03:53] MistahWrite opened #6179 "webApp"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/run
Operating System: windows 10 VS Code

PS C:\Users\Chad\Documents\.NET\HelloWorld> dotnet watch run
watch : Started
C:\Users\Chad\Documents\.NET\HelloWorld\obj\Debug\net5.0\.NETCoreApp,Version=v5.0.AssemblyAttributes.cs(4,12): error CS0579: Duplicate 'global::System.Runtime.Versioning.TargetFrameworkAttribute'

[2021-04-20 05:49] agocke commented on #6098
# Single-file Publishing Improvements

**Static Analysis**

Analyzers for single-file publishing were added in .NET 5 to warn about `Assembly.Location` and a few other APIs which behave differently in single-file bundles.

For .NET 6 Preview 4 we've improved the analysis to allow for custom warnings. If you have an API which doesn't work in single-file publishing you can now mark it with the `[Req

[2021-04-20 13:18] bairog commented on #5567
@JacquelineWiddis @madskristensen  Visual Studio 2022 [is announced](https://devblogs.microsoft.com/visualstudio/visual-studio-2022/) and it is stated that

Does .NET 6 development will be available **exclusively** in Visual Studio 2022 or it will be also possibe in latest versions of Visual Studio 2019?
What about plans for .NET 7?

[2021-04-20 20:52] mairaw commented on #6179
I'm wondering if you have distinct projects under that C:\Users\Chad\Documents.NET\HelloWorld path?

If you created the app using the command `dotnet new webApp -o myWebApp --no-https`, the name of your csproj file should be myWebApp.
Maybe start over on a new location?

[2021-04-20 22:16] Thomas-apk opened #6180 "076606"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-04-20 22:21] #6180 closed

[2021-04-21 03:49] chaos-ui commented on #6179
yes starting over too

[2021-04-21 08:51] VladislavMorozov opened #6182 "asp .net 5 can't return json with 404 status code"
I use .net 5.0.202 with system.text,json.
I have exception handler
![image](https://user-images.githubusercontent.com/31768904/115525544-dd360b00-a297-11eb-9bed-4b44dc9b2c94.png)
With processing errors.
![image](https://user-images.githubusercontent.com/31768904/115525067-6e58b200-a297-11eb-919e-04d6b3cfc1a2.png)

(failed)net::ERR_INCOMPLETE_CHUNKED_ENCODING

![image](https://user-images.githubuse

[2021-04-21 08:51] VladislavMorozov commented on #6182
Other http codes (4xx) return a valid json

[2021-04-21 09:12] VladislavMorozov commented on #6182
test project
[WebApplication1.zip](https://github.com/dotnet/core/files/6349605/WebApplication1.zip)

[2021-04-21 23:08] mairaw commented on #6176
Are you just trying to run the project created by the `dotnet new webApp -o myWebApp --no-https` command or did you modify the project? And what if you type `dotnet run`? Does it also present the same errors?

/cc @danroth27 @rainersigwald

[2021-04-21 23:12] jamesmontemagno commented on #6155
Nope, your UI is shared between iOS, Android, and Windows. With .NET MAUI it will also be shared with macOS as well.

so if you have 40 pages in your app it will be 40 total and they are shared.

[2021-04-21 23:24] mairaw commented on #6094
I was able to run the app without a space between get; and set;

@danroth27 do you know anything about this?

[2021-04-21 23:26] mairaw commented on #5609
Can you provide more information or a screenshot of the error?

[2021-04-21 23:28] danroth27 commented on #6094
I've never seen this before. The space definitely shouldn't be required even in a .razor file.

[2021-04-21 23:33] John-Codes commented on #5609
Best regards I don’t even remember this issue anymore 😂 have a nice day.

On Wed, Apr 21, 2021 at 7:26 PM Maira Wenzel ***@***.***>
wrote:

[2021-04-21 23:58] mairaw commented on #5609
Apologies for taking so long to reply.

[2021-04-21 23:58] #5609 closed

[2021-04-21 23:59] mairaw commented on #6094
@synapsys11 maybe paste the contents of your Counter.razor file and the confusing error message you're getting so we can try to help you.

[2021-04-22 00:00] John-Codes commented on #5609
No worries better late than never.

On Wed, Apr 21, 2021 at 7:58 PM Maira Wenzel ***@***.***>
wrote:

[2021-04-22 03:34] ghost opened #6186 "Unrecognized Command"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-04-22 03:44] mairaw commented on #6186
Did you open a new command prompt after installing the SDK?

[2021-04-22 11:56] anatolii-bohdanov commented on #3798
Any updates on this topic? This issue still exists.

[2021-04-22 12:37] JoshEales commented on #4636
Any updates on this issue?

[2021-04-22 12:38] Sam-Dvorack commented on #4636
Hi, can I build WinForms application for and publish it for Linux or Not?

[2021-04-22 12:40] bgline23 commented on #4636
Hi. With the designer released for .net core in  Visual Studio 2019 version 16.6. Can I now publish for Linux?

[2021-04-22 13:58] rainersigwald commented on #6176
This sounds like dotnet/msbuild#6253/dotnet/roslyn#52467 which is a crash in error handling. If you can share more detailed steps to reproduce the problem, we might be able to get past the crash and find the underlying problem.

[2021-04-22 14:07] jborut commented on #3798
Also asking for an update. Is there a general workaround?

[2021-04-22 15:19] eiriktsarpalis commented on #6098
## System.Text.Json: IAsyncEnumerable Serialization Support https://github.com/dotnet/runtime/issues/1570

System.Text.Json now supports serializing `IAsyncEnumerable<T>` values as JSON arrays:
[code]
Note that IAsyncEnumerable values are only supported using the asynchronous serialization methods. Attempting to serialize using the sync methods will result in a `NotSupportedException` being thrown

[2021-04-22 15:29] #6164 closed

[2021-04-22 16:47] avikdutta111191 commented on #6172
Which package do i need to  install for  ICU library .

On Mon, Apr 19, 2021 at 7:04 PM Tarek Mahmoud Sayed <
***@***.***> wrote:

[2021-04-22 16:54] tarekgh commented on #6172
try the command:

[code]

[2021-04-22 20:20] eiriktsarpalis commented on #6098
## .NET Libraries: new LINQ APIs https://github.com/dotnet/runtime/issues/47231

This preview includes a number of new LINQ APIs that have been requested and contributed by the community.

### Adding Enumerable support for `Index` and `Range` parameters

The `Enumerable.ElementAt` method now accepts indices from the end of the enumerable:
[code]

We have also added an `Enumerable.Take` overload th

[2021-04-23 12:59] viperiiyt opened #6187 "got erroe during set up :("
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-04-23 13:16] JayNg17x commented on #5379
@vitek-karas  Hi, I run the `dotnet run` fews seconds ago, it worked but for the second run, it does not work anymore even that I installed dotnet in C:\Program Files\dotnet .

[2021-04-23 13:37] alvinseville7cf opened #6188 "Unexpected behaviour after Resharper Comamnd Line tools installation on Ubuntu 20.04 LTS WSL"
### Description
`dotnet tool run jb.exe` and `dotnet tool run jb` fail with the following errors respectively:
[code]
 after global NET Core tool installation as written [here](https://www.jetbrains.com/help/resharper/ReSharper_Command_Line_Tools.html#install-and-use-resharper-command-line-tools-as-net-core-tools).

### Configuration
`dotnet tool list -g` outputs:
[code]

I use .NET 5:
[code]
on U

[2021-04-23 14:17] vitek-karas commented on #5379
@JayNg17x Please open a new issue and provide more detail, things like:
* Which OS, version of .NET
* What commands did you run
* What is the error you get

[2021-04-23 23:11] mairaw commented on #6187
Can you provide more information about the error you're getting?

[2021-04-24 01:34] agocke commented on #6098
# IL Trimming

## Warnings enabled by default

You could previously access trim warnings, which tell you about places where trimming may remove code that's used at runtime, by setting `<SuppressTrimAnalysisWarnings>` to `false`. We've now annotated large portions of NetCoreApp and are enabling warnings by default. You can find an intro on resolving trim warnings at https://github.com/mono/linker/b

[2021-04-24 18:14] #6171 closed

[2021-04-24 18:24] munna8099 opened #6189 "unable to run the application"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-04-24 18:25] munna8099 commented on #6189
C:\Users\liveininfracon\myApp>dotnet run
C:\Users\liveininfracon\myApp\Program.cs(5,11): error CS0101: The namespace 'myApp' already contains a definition for 'Program' [C:\Users\liveininfracon\myApp\myApp.csproj]
C:\Users\liveininfracon\myApp\Program.cs(7,21): error CS0111: Type 'Program' already defines a member called 'Main' with the same parameter types [C:\Users\liveininfracon\myApp\myApp.csp

[2021-04-24 18:32] munna8099 opened #6190 "im unable to run the appliation"
C:\Users\liveininfracon>dotnet new console -o myApp
Creating this template will make changes to existing files:
  Overwrite   myApp.csproj
  Overwrite   Program.cs

Rerun the command and pass --force to accept and create.

[2021-04-24 23:25] mairaw commented on #6190
This command is telling you that there's already a project with the same name. You have a couple of options like:
- You can pass the --force option as the command is telling you like `dotnet new console -o myApp --force`. This will overwrite the files listed there.
- Delete the myApp folder and start over
- Create the project in a different location

Let us know how that goes.

[2021-04-24 23:26] mairaw commented on #6189
Can you show you what files you have in your project and what your Program.cs file looks like?

[2021-04-25 00:09] lc9er opened #6191 "Unable to build or create new F# project w/.Net 5.0.5"
### Description

Building an existing project, or even creating a new one fails.
[code]
Running the command fails to create the project with the error: "error NU1100: Unable to resolve 'FSharp.Core (>= 5.0.0)' for 'net5.0'"

This was the first version of the .NET 5* SDK installed on this machine.

### Configuration

.NET SDK 5.0.5
Win 10 v2004 Build 19041.928
x64 arch

### Regression?
Uninstalling

[2021-04-25 00:20] #6167 closed

[2021-04-25 00:52] mairaw commented on #6191
@cartermp can you take a look? I can't repro this with SDK 5.0.202

[2021-04-25 01:46] lrdickson commented on #6147
It turns out that the issue was caused by a certification issue with the Arch Linux dotnet package.

I was able to get around the issue by installing the Arch Linux dotnet-runtime-bin.

[2021-04-25 15:28] MarkusEicher opened #6192 "Error when trying to create a microservice during a tutorial"
![Error](https://user-images.githubusercontent.com/83175378/115999143-f538c200-a5ea-11eb-9d5c-6d9404db6c40.PNG)
![DotNet-Info](https://user-images.githubusercontent.com/83175378/115999219-40eb6b80-a5eb-11eb-83ee-27c20d2ef92c.PNG)

Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/intro/create
Operating System: windows

Provide details about the problem you're e

[2021-04-26 06:04] henry-js opened #6193 "dotnet add package error in 5.0.202"
### Description
1. Installed dotnet on a clean installation of Win 10. Cloned github repository and ran `dotnet restore`. Failed with error NU1100.
2. Created a new project with `dotnet new razor`
3. Ran` dotnet add package Microsoft.EntityFrameworkCore`
4. Output:
[code]
5. Same issue attempting to add any Nuget package reference

### Configuration

.NET: 5.0.202
OS: Windows 10 19042.928
Arch: x6

[2021-04-26 08:07] deanchalk commented on #6141
Unable to create a WinUI desktop project after installing the .NEt 6 preview

![image](https://user-images.githubusercontent.com/11065294/116049913-c9f7b680-a66e-11eb-9e7b-c04fd85ce45e.png)

[2021-04-26 15:01] denissoloviy opened #6194 "Wrong NuGet package version is selected during docker build dotnet core 3.1 web app"
### Description

Sometimes after the docker image is built and the container is created requests fail in runtime with an error:
`System.IO.FileNotFoundException: Could not load file or assembly 'System.Data.SqlClient, Version=4.6.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. The system cannot find the file specified.`

The issue is that the application uses two NuGet packages and both of

[2021-04-26 16:36] mairaw commented on #6193
This might be a duplicate of https://github.com/dotnet/sdk/issues/16720 where the error was caused by special characters in the path (the # character). Maybe try creating the project on a path without the # to see if the issue goes away?

[2021-04-26 16:47] mairaw commented on #6192
From what I read on forums, this issue seems to be related to NuGet package sources.
Can you check the file `%appdata%\NuGet\NuGet.Config` and see if it has the package source configured it correctly?
Similar to https://stackoverflow.com/questions/62102318/hello-world-dotnet-core-example-not-working

[2021-04-26 18:12] mangod9 commented on #6098
# PublishReadyToRun now uses crossgen2 by default

As we continue the journey of enabling crossgen2 to replace crossgen, we have now enabled crossgen2 to be used by default when publishing ReadyToRun images in preview4. It also supports generating composite images which needs to be enabled explicitly however. Here are some of the setting which can be toggled:

[code]

[2021-04-26 19:47] corey7754 opened #6195 "Debugging"
### Description

### Configuration

### Regression?

### Other information

[2021-04-26 19:56] #6177 closed

[2021-04-26 20:01] MarkusEicher commented on #6192
Hi Maira

Thanks a lot! Great work. That was the problem. After setting the path to the default NuGet Repo, the build was successful. Your link was helpful and lead me to the Microsoft docs page [https://docs.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior](url) explaining it further. Have a great day and greetz from old Switzerland to California.

[2021-04-26 20:01] #6192 closed

[2021-04-26 20:05] mairaw commented on #6192
Great to hear! 🌞

[2021-04-26 20:07] #6195 closed

[2021-04-27 03:04] NaraBBQ opened #6197 "receive a 'dotnet' is not recognized as an internal or external command error"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/intro?sdk-installed=true
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-04-27 06:05] alpensturm commented on #5156
We have a large scale Outlook VSTO PlugIn that we need to migrate from .NET4 and Win Forms to .NET 5/6, so updating or porting the VSTO tools  to .NET 5/6 is a much needed feature for us, we have no viable alternatives and would greatly appreciate this move forward! Thanks, cheers!

[2021-04-27 06:15] henry-js commented on #6193
Output from latest attempt with no special characters:
![image](https://user-images.githubusercontent.com/79054685/116193985-1e12a180-a728-11eb-8b7e-67fb82438f94.png)

And my .csproj is the default from `dotnet new web`

[code]

[2021-04-27 06:46] odidev opened #6198 "Unable to build aarch64 wheel"
Hi Team,
I am trying to test Dotnetcore2 on ARM64 architecture but it seems there are **no wheels available for arm64** and **no 'pyproject.toml' or ‘setup.py’** file available to install/build it through source code.

Also, I am not sure which CI is being used here to test as it is not mentioned anywhere in the ReadMe document.

May I know how you are building and testing the wheels?

[2021-04-27 07:49] mairaw commented on #6193
Can you check the file %appdata%\NuGet\NuGet.Config and see if it has the package source configured it correctly?
Similar to what is explained here for a different issue https://stackoverflow.com/questions/62102318/hello-world-dotnet-core-example-not-working

You can also try to specify the source option as a workaround similar to what is explained at https://github.com/domaindrivendev/Swashbuckle

[2021-04-27 08:15] azarevichvl opened #6199 "The LicenseProvider class method GetLicense in .NET 5 is never called in design time"
Hello Team,

I am trying to port an application to .NET 5.0. I noticed that LicenseProvider class behaves differently than in .Net Framework. Method GetLicense is never called in "designtime" usage mode so I can not call method "SetSavedLicenseKey" of license context and save license key during build.

I didn't find any information about behavior changes in LicenseProvider class so I expect it can

[2021-04-27 10:16] JulieLeeMSFT commented on #6098
## CodeGen
### Community contributions
@SingleAccretion:
- Do not fold away double negation if the tree is a CSE candidate https://github.com/dotnet/runtime/pull/50373
- Handle casts done via helpers and fold overflow operations in value numbering https://github.com/dotnet/runtime/pull/50450
- Remove must-init requirement for GS Cookies https://github.com/dotnet/runtime/pull/50702
- Do not confuse

[2021-04-27 20:59] #6179 closed

[2021-04-27 22:29] henry-js commented on #6193
That fixed it thanks. My nuget.config was:

[code]
Running `dotnet nuget add source https://api.nuget.org/v3/index.json -n nuget.org` fixed it for me.
Any ideas why this happened?

[2021-04-27 22:58] mairaw commented on #6193
Glad to hear the workaround worked.

@rrelyea @nkolev92 can you help here? I'm not sure why the nuget.config could have no sources configured.

[2021-04-27 23:00] nkolev92 commented on #6193
@henry-js

Did you install chocolatey by any chance?

https://github.com/chocolatey/choco/issues/2233

[2021-04-28 01:08] corey7754 opened #6200 "Pay"

[2021-04-28 01:55] #6200 closed

[2021-04-28 05:17] richlander commented on #6147
@lrdickson -- can you point me to the Arch Linux dotnet-runtime package?

[2021-04-28 05:18] richlander commented on #6147
I found it already.

[2021-04-28 05:34] richlander opened #6201 "Who is using .NET on Arch or Manjaro? Is the experience good?"
I'm an Arch and Manjaro user. I was wondering if anyone else was using .NET on Arch family distros. If so, please tell me about your experience or at least provide an upvote. I want to know if there is anything more we can do for Arch family users. Please pass on this request to other .NET users on Arch family distros.

FYI: Here's a post about using .NET on Manjaro: https://devblogs.microsoft.com

[2021-04-28 05:35] richlander commented on #6147
To continue my spam on this thread, we've been wondering if there are a significant number of Arch users (for .NET) and if we should provide better/more support. Thoughts? Can you answer @ https://github.com/dotnet/core/issues/6201

[2021-04-28 08:47] henry-js commented on #6193
I did yes, looks like that explains it

[2021-04-28 09:00] moataz2009 commented on #3739
I have the same problem... i solved it where i find the problem in appsettings.json ... i forgot to add comma ... now all is working fine

[2021-04-28 14:33] #6193 closed

[2021-04-28 14:47] omajid commented on #6201
cc @alucryd @ettolrach @laktak

[2021-04-28 15:24] sethsc opened #6202 "dotnet-hosting-3.1.8-win.exe uses unsigned WIX installer components"
### Description
During execution of dotnet-hosting-3.1.8-win.exe, unsigned wix installer related components are executed on Windows.  In an organization where windows defender application control is used to block unsigned applications (or rather only allow signed binaries), the installer will fail.  Ideally 3rd party components would be signed by MSFT as a third party component or better yet wix c

[2021-04-28 17:08] laktak commented on #6201
The dotnet packages were outdated for a few months but the installation via AUR worked without a hitch. Still, it would be nice if Arch was an officially supported platform to avoid such issues in the future.

Other than that I encountered no problems.

[2021-04-28 17:30] ettolrach commented on #6201
Yeah, in the official repos the -sdk, -runtime, and -host packages were stuck on .NET Core 3 instead of .NET 5 for over half a year. They said that this was because they had troubles getting it to compile correctly, but there was an AUR package which did support .NET 5 called dotnet-sdk-bin. I'm not sure what the issue was since I wasn't interested in helping, but nevertheless, the package was upd

[2021-04-28 17:35] alucryd commented on #6201
Not exactly a heavy user as I don't write C#, so my use case is just running emby and so far I had zero issues.

There are various reasons why packages are often out of date:
* the build process breaks with almost every release and requires new patches to work, this is a 1h build even on a beefy build machine, so on a good day I have maybe 4 attempts at getting it to build
* not all releases are t

[2021-04-28 18:21] Gr3q commented on #6201
@richlander Thanks for the email, yes I'm the maintainer of the AUR packages.

I can confirm what @alucryd wrote, packaging the AUR package is very easy, I just have to make sure files end up at the right places (so no issues there).

Similarly I wanted to use Jellyfin - a fork of Emby - on my Arm64 Arch install and contribute to it. Based on the engagement, votes and how fast they flag my package

[2021-04-28 19:49] richlander commented on #6201
We have a new project for source build that that is oriented on making it (A) much easier/cheaper to ingest and build .NET from source, and (B) to release updates on our schedule. I've asked the folks who work on that project to engage on this issue. We're having a similar conversation with the Alpine Linux folks. We've also worked with the Red Hat and Fedora folks for a long time. It might be use

[2021-04-28 20:00] crummel commented on #6201
@alucryd @gr3q Hi, I'm that source-build guy!  Do you have some specific asks on making it easier for package maintainers to build?  Like Rich says, we do have some work in progress that should help out a lot with each release needing in-depth work (https://github.com/dotnet/source-build/issues/1510), but if there's something quick we can do in the meantime I can definitely bring it up.  I checked

[2021-04-28 20:32] ParminderSingh0191 commented on #6169
@smagul You can try with following in the command line run
`docker network ls`
and then try using one of the network id to build a docker image
`docker build --network=<networkid> -t mymicroservice .`

[2021-04-28 20:50] OkilSaber opened #6203 "Error when creating new blazorwasm project"
Problem encountered  when creating new blazorwasm project
Operating System: windows 19042.928
Sdk and runtimes versions:
![image](https://user-images.githubusercontent.com/54351241/116470812-31cb1e80-a874-11eb-8fc4-0bf4e28b4bc4.png)

Here is what happens:
![image](https://user-images.githubusercontent.com/54351241/116470887-490a0c00-a874-11eb-9399-596e8c82309d.png)
and when I try to do a ``dotnet

[2021-04-28 21:10] alucryd commented on #6201
@crummel Thanks for chiming in as well.

You are correct, these are the remaining issues (which are standard due to our rolling nature, so no worries there). The last version was fairly painless all things considered, well apart from that nasty nuget certificate situation. The various RID issues seems to have finally died down, and the ICU 68 patches have been merged so I was able to remove those.

[2021-04-28 21:26] mguinness commented on #5634
Pomelo [version 5.0](https://www.nuget.org/packages/Pomelo.EntityFrameworkCore.MySql/) is also now available.  @a-patel Since both Oracle and Pomelo providers support 5.0 you can close this issue.

[2021-04-28 21:27] mairaw commented on #6203
I have helped a couple of folks on the last few days with error NU1100. In those cases, the `%appdata%\NuGet\NuGet.Config` file didn't have the package source configured it correctly.
Similar to what is explained here for a different issue https://stackoverflow.com/questions/62102318/hello-world-dotnet-core-example-not-working

So, can you make sure it lists https://api.nuget.org/v3/index.json as

[2021-04-28 21:29] medmedin2014 commented on #6201
The official open source "code" package can't install C# extension, and it's only possible with visual-studio-code-bin from AUR.

[2021-04-28 21:35] thirdrock09 opened #6204 "Error running dotnet tutorial"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

'dotnet' is not recognized as an internal or external command error,

[2021-04-28 21:35] medmedin2014 commented on #6201
The most wanted wish by every Linux user is to write and execute WPF/WinForm apps on Linux :) , dotnet core is open source but not totally free because all GUI libraries are still locked and restricted by Microsoft to only Windows.

[2021-04-28 21:37] mairaw commented on #6204
Have you closed and started a new command prompt after installing .NET?

[2021-04-28 21:39] mairaw commented on #6197
Have you closed and started a new command prompt after installing .NET? Or where are you running the command from?

[2021-04-28 23:31] richlander commented on #6201
I appreciate the sentiment, but I don't quite share the same world view. WPF and Windows Forms are built on top of Windows (as you know). It would be a major project to make them work on Linux. All of the code for WPF and Windows Forms is open source up to the point of what we consider the Windows platform. I think it's fair for Microsoft to say "we're not signing up for porting these projects to

[2021-04-28 23:36] richlander commented on #6201
@alucryd -- that sounds great. Is there any sort of data you can share with us that helps us quantify that? That will help motivate increasing our support / collaboration.

[2021-04-29 00:03] #6176 closed

[2021-04-29 00:03] #6094 closed

[2021-04-29 01:02] mj061203 commented on #5379
Hi, I'm facing the same problem, and I'm trying to understand how to fix it.
I couldn't seem to know how to 'check' or 'add' to a 'path'.
Such as 'then your PATH should point to the install location (typically in C:\Program Files\dotnet)' this. I don't know how to do it :(
Can anyone tell me how to do these 'Path' things?

[2021-04-29 02:50] joemumu opened #6205 "Template "Console Application" could not be created."
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

I'm not sure how get permissions properly to make a new folder in system32 directory. Is it possible to go up one t

[2021-04-29 03:33] mairaw commented on #5379
Here’s an explanation of adding to the path:
https://github.com/dotnet/sdk/issues/7428#issuecomment-270423072

[2021-04-29 03:37] mairaw commented on #6205
You shouldn’t create your project under the system32 folder. If command prompt opens that location by default, you can use the `cd` command (which means change directory) to go to another location. `cd ..` for example will go up one level.

Let us know if that helps!

[2021-04-29 03:58] bnainar commented on #6201
What about asking in r/linux? It has a much bigger base, and you'll get more responses

[2021-04-29 04:05] joemumu commented on #6205
Yes thank you. That did help. You were right, that is the default location, (I’ve always wondered why that was)  I went to users folder, which as you know, gives permission to anyone to do just about anything. I have continued the lesson.
alex

From: Maira Wenzel ***@***.***>
Sent: Wednesday, April 28, 2021 10:38 PM
To: dotnet/core ***@***.***>
Cc: joemumu ***@***.***>; Author ***@***.***>
Subject

[2021-04-29 04:12] #6186 closed

[2021-04-29 04:50] mairaw commented on #6205
Awesome to hear. I’ll close the issue then.

[2021-04-29 04:50] #6205 closed

[2021-04-29 05:05] smagul commented on #6169
Error response from daemon: network mode <networkid> not supported by buildkit

[2021-04-29 05:06] richlander commented on #6201
Sure. That's a great idea for a second round. I wanted to start with a particular distro family that I knew was underserved.

[2021-04-29 06:46] alucryd commented on #6201
@richlander We don't collect any data so getting accurate numbers is somewhat difficult, we do however have a package statistics tool that users can install, but it is entirely optional and not many people know about it. Still, around 12% of pkgstats contributors have the dotnet-runtime installed: https://pkgstats.archlinux.de/packages#query=dotnet

And if you have a look at the AUR, the bin packa

[2021-04-29 06:51] hartmark commented on #6201
I'm a full time developer on .net platform on Windows. I have only Linux machines at home, so I wanted to try out writing a simple webapi for some hobby project. I haven't had much time to work on it but the skeleton service was up and running in five minutes.

[2021-04-29 07:27] Gr3q commented on #6201
The only enumeration of users I have is the number of upvotes on [this thread](https://www.reddit.com/r/archlinux/comments/cx64r5/the_state_of_net_core_on_arch/) 1 year ago, which more or less means at least 200 people were dissatisfied of the state of the packages at that time. _(Side note: basically I took ownership of the packages then and updated them based on this post, credit to u/Saancreed)

[2021-04-29 07:47] laktak commented on #6201
One issue I remembered: `dotnet new` still creates `\r\n` on Linux. This has been partially fixed.

[2021-04-29 08:09] mj061203 commented on #5379
Wow! Never thought there would be an answer in just a few hours!
Thanks a lot

[2021-04-29 09:37] tmds commented on #6127
@leecow @terrajobst can someone that knows about this stuff chime in?

@KevinCathcart where do you see this?

[2021-04-29 09:41] tmds commented on #5682
@spboyer feel free to close this issue when you know it is solved.

[2021-04-29 11:32] medmedin2014 commented on #6201
So this is the chance to completely free dotnet core from Microsoft and Windows (if it's truly free) and create new cross platform GUI library (which I think will never be achieved due to money poured on dotnet core devs by Microsoft), the low level layers of dotnet core are already stable and run well on Linux what is needed is just GUI top layer that runs on top of it, the pretext of being depen

[2021-04-29 11:53] Gr3q commented on #6201
@medmedin2014 This is not, it is a discussion about how to support dotnet/core better on Arch based distros (and public interest for it).

If you want official Linux support for a GUI library, a better place raising your concerns should be [here](https://github.com/dotnet/maui) and here https://github.com/dotnet/maui/discussions/339

[2021-04-29 13:48] FlavioCFOliveira opened #6206 "Tests on strings fails inside docker container"
I'm using dotnet core and running a couple os tests on customized string extensions inside a docker container and it fail always, but it works well on a windows machine.

i've tryed to enforce the portuguese culture but it does not work, what am i missing here?

As example, i'm trying to remove diacritics from a string using as follows:

[code]

Here is the test example (NUnit)
[code]

Here is the

[2021-04-29 16:52] genifycom opened #6207 "RelativePath in runtimeconfig.json"
### Description

dotnet publish is indicating the following

publish: C:\Program Files\dotnet\sdk\5.0.202\Sdks\Microsoft.NET.Sdk.BlazorWebAssembly\targets\Microsoft.NET.Sdk.BlazorWebAssembly.Current.targets(617,5): error MSB4096: The item "C:\Dev\Projects\AWSBlazor\AWSBlazor\Client\bin\Release\net5.0\AWSBlazor.Client.runtimeconfig.json" in item list "AllPublishItemsFullPathWithTargetPath" does not

[2021-04-29 19:52] Coda17 opened #6208 "Expression.Equal does not consistently use operator =="
### Description

When creating a binary expression with `Expression.Equal` where one side is a class (`SomeClass`) that inherits from a class that implements `operator ==(SomeType, SomeType)`, I would expect the expression to compare using `operator ==`. This differs from the behavior if `SomeClass` were to implement `operator ==` itself, where it does use `operator ==`.

Example:
[code]

### Conf

[2021-04-29 20:27] danmoseley commented on #5682
@spboyer do you have an idea of the time frame to do the rollup view? Specifically do you plan to enable anything like this for previews -- so eg for Preview 6 we could have a page for everyone that contributed since 5.0 GA up to that point?

if not I guess this can wait until 6.0 GA

[2021-04-29 20:44] spboyer commented on #5682
I endorse the idea here. There is some UI work to determine the best way to present it all. @mairaw

[2021-04-30 00:35] richlander commented on #6201
@laktak -- If you could, could you file an issue at dotnet/sdk on the line-ending issue? I've seen that mentioned by others.

[2021-04-30 12:02] classicaL814 opened #6209 "when i try to access my programs get error om asp.net"
Problem encountered on my com puter running win 10 64 bit pro i cannot change my user credentials asp.net machine wants a password which I have no idea. The error I get when i run different programs asp.net shows up and wants a password
this happens on a number of programs

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sampl

[2021-04-30 15:00] adamsitnik commented on #6098
## .NET Libraries: Developers using FileStream find it to be high performance and robust

As noticed by @benaadams and other Community members in https://github.com/dotnet/runtime/issues/40359, `FileStream` had a lot of place for the improvements.

We have recognized that and decided to rewrite `FileStream` in .NET 6, with the main focus on Windows (the 20 years younger Unix implementation was alr

[2021-04-30 16:12] Whitestarlines opened #6210 "I can't use C# in Visual Studio Code"
I tried as many tutorials as I could, to use VSCode for c# programming, but none of them are working. If I type in 'dotnet' in CMD once I am done downloading the dotnet-sdk files, it says ''dotnet' is not recognized as an internal or external command,
operable program or batch file.' and if I type in, 'dotnet new console', in VSCodes terminal, it says, 'dotnet : The term 'dotnet' is not recognized

[2021-04-30 19:06] GabrPXT opened #6211 "When I used the command "dotnet run" the code was not run."
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: linux

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

I speak Portuguese if I have an error or something meaningless in my speech was the Translator. When I used the command

[2021-04-30 19:32] KevinCathcart commented on #6127
That is issue dotnet/runtime#51436.  That code is part of the Ready2Run functionality. It only impacts people who modify and distribute the crossgen tool, so it is not nearly as big an issue as it sounds.

[2021-04-30 20:10] kyle-rader commented on #3943
Is it expected that this issue is still present for the dotnet 5.0.202 binaries on OSX 11.3 ?

[2021-04-30 22:36] mairaw commented on #6211
Oi @GabrPXT!

Você pode anexar um printscreen da sua tela aqui? E o comando dotnet executou direitinho depois da instalação? E você tentou rodar o comando de novo para ver se acontecia a mesma coisa?

[2021-04-30 23:10] croban opened #6212 "Extending Razor Views in ASP.NET Core 5.0"
I'm trying to make an base class derivated from RazorPage

`public abstract class BaseRazorPage<TModel> : RazorPage<TModel>`

unfortunately I'm getting compilation error when I use it inside cshtml in combination with helpers

**Error CS1963: An expression tree may not contain a dynamic operation (12, 30)**

[code]

Basically, Html.HiddenFor can not resolve the strong type from `RazorPage<TModel>`

[2021-04-30 23:45] JavidShoaei commented on #2186
I had the same problem on `alpine` and fixed it by installing the `icu` package:

`apk add icu`

[2021-05-01 00:19] #6187 closed

[2021-05-01 10:49] OkilSaber commented on #6203
I in fact have chocolatey installed.
I ran the command `dotnet nuget add source https://api.nuget.org/v3/index.json` and now everything works perfectly! Thank you for your help!

[2021-05-01 10:49] #6203 closed

[2021-05-01 11:54] Candy-sakura opened #6213 "Cannot run dotnet"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows 10

'dotnet' is not recognized as an internal or external command error... :(

I installed "dotnetfx35" and "dotnet-sdk-5.0.202-win-x64"....

[2021-05-01 14:19] #6213 closed

[2021-05-01 16:45] giubine opened #6214 "problem"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
![porjuh](https://user-images.githubusercontent.com/80356797/116788977-ecc90700-aa82-11eb-9944-25662654ee32.png)
![

[2021-05-01 16:45] #6214 closed

[2021-05-01 23:11] bschaatsbergen commented on #4360
My Debian bootstrapper, you can take an example from here for installing the dotnet sdk and runtime: https://gist.githubusercontent.com/bschaatsbergen/99c1b1d096cf6e9cce812b291855b6a6/raw/7e474efc78e48e2728dd7aacad8bff908f53f4de/bootstrap.sh

[2021-05-01 23:55] #6189 closed

[2021-05-01 23:55] #6190 closed

[2021-05-02 05:35] simpleZed commented on #6189
Can .net run natively on tizen?

[2021-05-02 14:50] KevinCathcart commented on #6212
The HTML helper is not part of the base class. Instead it is injected as if you had written
`@inject IHtmlHelper<TModel> Html` at the top of the page. Whenever `TModel` is used in the page, it will get substituted for whatever you specify with `@model`, but if you specify nothing, then `dynamic` is used.

So I'd suggest doing this instead:
[code]
By using TModel in the inherits line, it will autom

[2021-05-02 16:12] Korporal commented on #4350
Can you explain why we need an OS? Why can't the CLR just be run without the OS?

[2021-05-02 23:38] DuaneBrinson opened #6215 "Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/run"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/run
Operating System: windows

Windows 10 Pro (version 10.0.19041.928) - no error message - ran tutorial unmodified

![IMAGE - MyWebApp - unmodified](https://user-images.githubusercontent.com/80736139/116831523-d1cec380-ab64-11eb-94cf-4f3e11fc5b59.PNG)

[2021-05-03 07:15] laktak commented on #6201
There is this issue from 2017 already: https://github.com/dotnet/templating/issues/1248

[2021-05-03 13:14] gustav3d commented on #6201
I'm using  Kestrel with systemD integration to host GRPC on  Manjaro.
I'm very satisfied with the systemD integration.

The lag of weeks to months  between .NET releases and its availability in any of the formal Manjaro repos is my only concern.

[2021-05-03 14:52] croban commented on #6212
@KevinCathcart yes that solved my problems thanks! ;)

[2021-05-03 15:14] eriawan opened #6216 "VS version supported is incorrect in current .NET 6.0 release notes"
Looking at these lines in the 6.0 release note:

https://github.com/dotnet/core/blob/2a095bfab19f2014e161ce3c770851069ff7e6ad/release-notes/6.0/releases.json#L135-L144

It says VS 2019 Latest preview. Currently (on March and on this April) latest VS 2019 preview version is 16.10. Is this preview version correct? To me it seems incorrect, because VS 2019 has no preview version of 16.9.

[2021-05-03 18:08] Coda17 commented on #6161
It appears that one of the temporary NuGet files is locked by another process. Have you tried restarting your computer and then trying again (without opening any other applications so it doesn't get locked again)?

[2021-05-03 18:17] Ali-haxxan opened #6217 "commands no working with ubuntu terminal"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/edit
Operating System: linux

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-05-04 00:27] KleberTomazi commented on #6210
Make sure that "C:\Program Files\dotnet" is part of the "path" system environment variable. If not, after adding, the problem should be resolved. :)

[2021-05-04 00:28] KleberTomazi commented on #6204
Make sure that "C:\Program Files\dotnet" is part of the "path" system environment variable. If not, after adding, the problem should be resolved. :)

[2021-05-04 00:46] mairaw commented on #6217
What error message you're seeing?

[2021-05-04 00:51] mairaw commented on #6216
@rbhanda @leecow please verify VS version for .NET 6 preview releases

[2021-05-04 00:52] mairaw commented on #6212
Looks like issue has been resolved so closing it.

[2021-05-04 00:52] #6212 closed

[2021-05-04 00:57] mairaw commented on #6215
Can you run the command `dotnet --info` on the myWebApp folder so we can see which SDK version are you using? This seems like an old template.

/cc @danroth27

[2021-05-04 00:59] mairaw commented on #6189
@simpleZed I'd recommend that you open a new issue since your question is not related to the original issue

[2021-05-04 01:00] mairaw commented on #6214
Espero que o seu problema tenha sido resolvido. Se você ainda tiver dúvidas, é só nos falar.

[2021-05-04 01:09] mairaw commented on #6203
Great to hear!

[2021-05-04 04:03] mairaw commented on #6208
@jaredpar can you take a look at this issue and help redirect if you're not the right person for it?

[2021-05-04 04:16] mairaw commented on #6209
Which asp.net programs are you referring to? Can you perhaps share some screenshots?

[2021-05-04 04:27] DuaneBrinson commented on #6215
Maria,

When I ran the dotnet --info command, I got ...

.NET Core SDK (reflecting any global.json):
 Version:   2.1.523
 Commit:    c294f2cbe4

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.19041
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.523\

Host (useful for support):
  Version: 2.1.27
  Commit:  37d16c2b4d

.NET Core SDKs instal

[2021-05-04 04:43] mairaw commented on #6215
Yeah, that's definitely an old template then. There are a couple of things that might be going on. If you know you have installed .NET 5 SDK and you're running on an x64 machine, you might be running into the same problem I described here: https://github.com/dotnet/core/issues/5962#issuecomment-780079522

Give that a try and let me know. After fixing the environment variable, you should be able to

[2021-05-04 05:00] Ali-haxxan commented on #6217
Mairaw commands are not correct have a look on Microsoft websites. I was looking for how to handle with .jason file during development projects using C# language.

[2021-05-04 09:36] Gavin-Williams opened #6218 "Architecture mismatch error"
I'm getting the following error message...

MSB3270	There was a mismatch between the processor architecture of the project being built "AMD64" and the processor architecture of the reference "D:\Project ... \bin\Debug\net5.0-windows10.0.18362\Framework.dll", "x86" ... C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\MSBuild\Current\Bin\Microsoft.Common.CurrentVersion.targets	2182

[2021-05-04 14:25] mairaw commented on #6217
That is a Microsoft site and the commands are correct to create a basic hello world app.  After you get that program working, you can change the code to handle json files.
Can you paste more information of what’s not working? Maybe the code that you tried or the command that didn’t work?

[2021-05-04 15:27] sahaaditya62 opened #6219 "dotnet build always throwing error"
### Description

### Configuration

### Regression?

### Other information

[2021-05-04 15:28] sahaaditya62 commented on #6219
dotnet build
Microsoft (R) Build Engine version 16.9.0+57a23d249 for .NET
Copyright (C) Microsoft Corporation. All rights reserved.

  Determining projects to restore...
  All projects are up-to-date for restore.
/usr/share/dotnet/sdk/5.0.202/Sdks/Microsoft.NET.Sdk/targets/Microsoft.NET.Sdk.FrameworkReferenceResolution.targets(326,5): error MSB4018: The "ResolveTargetingPackAssets" task failed une

[2021-05-04 17:12] rbhanda commented on #6216
https://github.com/dotnet/core/pull/6220

[2021-05-04 17:27] eriawan commented on #6216
@mairaw

It's been fixed by #6220
Close this now, thanks @rbhanda 🙂

[2021-05-04 17:27] #6216 closed

[2021-05-04 17:46] mary-perret-1986 commented on #6201
Manjaro user here, so far so good. Just had some annoying issues with Visual Studio Code + C# / F# plugins and since then I've stopped using them altogether and now rely on Rider instead for all my .NET-related devs.

[2021-05-04 20:48] Firres opened #6221 "Microsoft .NET SDK 5.0.202 Setup Failed"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant. While downloading dotnet-sdk-5.0.202-win-x64 file, I received a 0x800704b3 error. Stating the network path was eith

[2021-05-04 23:39] mukthiarahamad opened #6223 "Error while running docker build - sample grpc application"
I have created a sample Grpc project with docker support and I am trying to create run the build command but the build command fails with below error.

docker build -t final . --progress=plain
#1 [internal] load build definition from Dockerfile
#1 sha256:b8ff9a930a5fd9cd27fd5e8814f79a8985978b84b4683d8b399aac266d1b29f6
#1 transferring dockerfile: 988B 0.0s done
#1 DONE 0.1s

#2 [internal] load .doc

[2021-05-05 14:51] tssanikop opened #6224 "Trusted Root Certificates Store"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

OS: Windows 10
Trying to get a basic PWA working using Blazor and I get Adding the certificate to the trusted root certific

[2021-05-05 19:46] loic-sharma commented on #5472
Currently customers need to pick the right architecture to download the .NET SDK:

![image](https://user-images.githubusercontent.com/737941/117199600-3aa18000-ad9f-11eb-85f2-47004c4fa537.png)

I imagine that many students and newbies don't know which architecture they use, or how to find out. Things I would consider:

* Remove the architectures from the downloads page. Ideally the .NET SDK instal

[2021-05-05 21:01] mairaw commented on #5472
I can't comment on the SDK auto-magically doing things for customers but I'm happy to work on website improvements to make the experience better. I've been thinking about the ordering since we added Arm64 recently, so I can definitely implement that chance on the website. It feels that the architecture picking guidance would be something I could link to docs /cc @leecow @rbhanda @adegeo

[2021-05-05 21:43] adegeo commented on #5472
We don't cover this in the article because we assume it's handled via the website choice the user makes when downloading .NET.

[2021-05-05 21:43] #6204 closed

[2021-05-05 21:43] #6197 closed

[2021-05-06 01:16] ricardoalcaraz commented on #6201
Hello arch linux user here. Dotnet is awesome. I remember my original install being slightly painful because there was a small burden of knowledge but thankfully we have the arch wiki. I did a clean re-install of dotnet today from the official repos and it is finally up to date🙌🙌.

It would be nice if a dotnet had a package group or metapackage in the repos. I find myself always needing the aspnet

[2021-05-06 02:52] Porco1987 commented on #6111
Here is the similar issue with `dotnet ef`, https://github.com/skoruba/IdentityServer4.Admin/issues/810#issue-824529661

[2021-05-06 06:37] alucryd commented on #6201
That can be done, we just don't like introducing groups for so few packages when optdeps are perfectly fine. That I'll add in the next release. I'll keep it in mind.

Not sure where you got that, we have the whole 3.1 stack: https://archlinux.org/packages/?q=dotnet-runtime-3.1
Also, you could always use AUR if we didn't. Admittedly 3.1 will probably be dropped when 3.1 packages like emby move to 5

[2021-05-06 07:58] Gr3q commented on #6201
The 3.1 AUR packages got hit by a deletion request and were removed when the official ones released (which is I'm a bit sad about because I kept them around for ARM architectures), so only the official ones can be used for 3.1

[2021-05-06 08:34] alucryd commented on #6201
@Gr3q Were they the -bin variant? I'm suprised they were deleted, -bin variants should always be allowed as an alternative to packages built from source, even if they are in the official repos :/

[2021-05-06 17:30] joperezr commented on #6194
Thanks for logging the issue @denissoloviy! Do you happen to have some logs or something to look at for the restore? I assume that somwhere in the build of the docker image, you are running `dotnet restore` on the project since it is the one in charge of generating the deps file, and that one seems to be pointing to the right higher version, but looks like for some reason that isn't the one gettin

[2021-05-06 17:38] joperezr commented on #6198
Hello @odidev  thanks for logging your issue. Is there a reason why you want to install dotnet core via wheels/python? My suggestion would be to check out our main download page: https://get.dot.net where you can find the links to all install packages for all of the supported archs as well as some instructions on how to install using package managers for some Linux distros. Also, I would suggest t

[2021-05-06 18:07] Netzeband opened #6225 "dotnet test for solution with --output option leads to MSB3026"
Hello

I hope this is the right repository, if not, please tell me where to report this error.
I ported a project from .NET Core 3.1 to .NET 5, however since then I cannot run anymore `dotnet test <solution-file>.sln --output .tmp` to test all unit-tests from all projects in this solution. When I try, then I get random warnings MSB3026 about files, which could not be copied, because another proces

[2021-05-06 20:47] joperezr commented on #6202
Hello @sethsc thanks for logging this issue. I'm not 100% sure where the installer gets built, but I'll go ahead and move this to the ASP.NET repo for now since that is the primary use case of the installer (hosting web apps on a server) so they may know where would the fix need to go.

[2021-05-06 20:49] joperezr commented on #6207
thanks for logging the issue @genifycom. Could you share a binlog of your publish call so that we can better investigate what might be going on? To produce one, just run `dotnet publish /bl` from the command line. Or actually better yet, if you could provide a minimal repro project that would be even better.

[2021-05-06 20:52] joperezr commented on #6210
Thanks for logging your issue @Whitestarlines. Here are some good instructions on how to get VSCode setup for c# development: https://code.visualstudio.com/docs/languages/csharp

Given this was a question and I believe that the link I sent and the the comment from @KleberTomazi should resolve this, I'll go ahead and close this issue for now for bookkeeping purposes but if you have any additional f

[2021-05-06 20:52] #6210 closed

[2021-05-06 20:55] joperezr commented on #6223
Hello @mukthiarahamad thanks for logging your issue. From the error it seems to be that you were just hitting a network issue when trying to download the base image for the 3.1 sdk, but that seems to be working for me now. Could you try again to see if this is now fixed?

[2021-05-06 23:40] hybroadcom commented on #3798
Why Microsoft put this as a get-started sample in their Docker site? Kind of humiliating themselves. Never saw anyone provided getting-started but it doesn't work

[2021-05-07 03:20] James869-lab opened #6226 "Asp.net MSbuild issues"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-05-07 09:36] snikeguo commented on #6066
up up.

[2021-05-07 09:39] ace90210 opened #6227 "SetMinThreads not working"
The ThreadPool.SetMinThreads(x, y) is not working in my .NET Core 3.1 solution. I have tested in the main program start up and using the immediate window to confirm this.

Expected:
When ThreadPool.SetMinThreads(x, y) is called and returns true (confirming it succeeded), the min worker threads and completion port threads should be set to x and y accordingly.

Actual:
ThreadPool.SetMinThreads(x, y)

[2021-05-07 12:03] Vhostymr commented on #5917
I had this same issue as well, but the proposed fix above worked for me as well. Seems there is an issue with the SDK installer but the binaries are fine.

[2021-05-07 13:17] ace90210 commented on #6227
Never mind i found the issue, hidden in the large project file i missed a line setting the threads explicitly which must overwrite any in code settings.

I will close the issue as its not a bug but the documentation could do with a note about this to avoid confusion in future. I assume from this that its impossible to set the min thread count so anything else if the project file defines the value

[2021-05-07 13:17] #6227 closed

[2021-05-07 16:42] mairaw commented on #6226
Can you provide more information? Any error message?

[2021-05-07 17:12] kewlpack opened #6228 "Cannot get Ubuntu 20.04 from Microsoft Store"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/docker-file
Operating System: windows

Trying to get Docker for Windows installed. It said I needed WLS 2.0 and a Linux Kernel installation. I followed the links which indicated I need to install a flavor of Linux from the Microsoft Store. I chose the latest Ubuntu install (20.04 as of now). When I clicked on In

[2021-05-07 17:19] alexrosenfeld10 opened #6229 "Potential memory leak in the Service Point Manager"
### Description

Signs point to a memory leak in the Service Point Manager when the `CheckCertificateRevocationList` property is set to `true` and there is an expired cert

### Configuration

`netcoreapp3.1`, `net5.0`

### Regression?

Not sure, maybe?

### Other information

On April 12th I and @tdg5 noticed many services that we work on and maintain started using orders of magnitude more memory,

[2021-05-07 17:21] alexrosenfeld10 commented on #6229
Also, it's worth nothing that this seems to be an unmanaged memory leak. We only ran into the problem when setting `CORECLR_ENABLE_PROFILING=1`.

[2021-05-07 17:44] mairaw commented on #6228
@leecow @shirhatti do you have any suggestions on where @kewlpack could get help with this question? This is about getting Docker installation working, which is outside of our product.

[2021-05-07 18:04] agocke commented on #6066
This was probably fixed by https://github.com/dotnet/sdk/issues/16725

@HKunogi Can you try pulling a copy of the Preview 4 SDK from https://github.com/dotnet/installer and try your scenario again? Preview 4 should be available very soon.

@olgaark It looks like the root cause is the SDK targets are imported, but not the props. https://github.com/dotnet/sdk/issues/16725#issuecomment-813456887 Is t

[2021-05-07 18:27] omajid commented on #6134
This should be fixed now. Please let us know if you are still seeing this.

[2021-05-07 19:52] olgaark commented on #6066
VC projects are importing what SDK people told us to import, I don't know the reason. If we need to import more, just let us know.

[2021-05-07 20:17] leecow commented on #6228
Unfortunately I have not played around with WSL and Docker but understand it's not as straightforward as we might like.

[2021-05-07 23:03] #6211 closed

[2021-05-08 02:21] srxqds commented on #6144
hi, I found there are so many tests not passed https://github.com/dotnet/runtime/projects/48, will there be fixed at last?
the .net5 has 8 previews, why .net6 only 7 previews?

[2021-05-08 08:37] MichaelVoelkel opened #6231 "Version 5.0.202 of the .NET Core SDK requires at least version 16.8.0 of MSBuild"
I am working on macOS Catalina (bigSur crashes too many devices and takes up too much memory for my 16GB RAM setup).

Now, I downloaded latest .net 5 framework because it seems to be needed for Platform Uno. Now, it whines that it needs 16.8 of msbuild (why does it need to be THAT up-to date?)

However, on macOS, I learnt that I should install msbuild via mono framework BUT the latest mono framewo

[2021-05-08 09:31] Akmo790 opened #6232 "failed to solve with frontend dockerfile.v0: failed to create LLB definition: dockerfile parse error line 1: unknown instruction: ��FROM"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/intro/docker-file
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-05-08 09:43] #6232 closed

[2021-05-08 13:21] bcramer48 opened #6233 "donet not running"
Target: Install ML.NET framework
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows
error: c:\>donet
_'donet' is not recognized as an internal or external command, operable program or batch file._
OS: Win 10; installation of   dotnet-sdk-5.0.202-win-x64 **Ok**;  dotnet-sdk-3.1.408-win-x64 **OK**;
Environment var.: C:\Program File

[2021-05-08 13:56] bcramer48 commented on #6233
Complementary information to the 'donet' issue: Although the environment variable path was set I get the message as follows;
C:\Program Files>cd donet
_The system cannot find the path specified._

[2021-05-09 18:13] cobaltsoftware opened #6235 "Running the console app"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: windows

using Powershell ISE in Admin mode, I get this:

dotnet : System.ComponentModel.Win32Exception (5): Access is denied.
At line:1 char:1
+ dotnet run
+ ~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (System.Componen...cess is denied.
   :String) [], RemoteException
    + Fully

[2021-05-09 23:08] xpiejk001 opened #6236 "said it was dangeruss"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-05-10 04:25] corey7754 opened #6237 "Bugs"
### Description

### Configuration

### Regression?

### Other information

[2021-05-10 04:26] corey7754 commented on #6237
Run

[2021-05-10 08:07] namomm opened #6239 "HTTP Error 500.30 - ANCM In-Process Start Failure"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-05-10 11:24] deathchurch commented on #5013
@jamshedd is there any news on when the Hosting Bundle will be included with WU?

[2021-05-10 14:14] hansgschossmann opened #6240 "Alpine base image update"
### Description

My security scanner reported known vulnerabilities in container mcr.microsoft.com/dotnet/runtime:3.1-alpine (which is based on Alpine 3.13):

CVE-2021-28831' affecting Alpine:v3.13:busybox (1.32.1-r3)
CVE-2021-30139' affecting Alpine:v3.13:apk-tools (2.12.1-r0)

Are you going to update the base image anytime soon?

[2021-05-10 17:10] Margareth539 opened #6242 "Ninguna plantilla coincidió con el nombre de la plantilla de entrada: MyMicroservice."
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
Al intentar navegar hasta el nuevo microservicio no se encuentra en la ni en línea o en el equipo estos son los pas

[2021-05-10 17:12] wli3 commented on #6066
C++/CLI does not support nuget restore yet. So any props and target require that to work will not be imported. You can try to add that to part of the import (search for '$(Language)' != 'C++') and then test. If it works you start to include that props or targets.

[2021-05-10 19:10] #6237 closed

[2021-05-10 19:25] mairaw commented on #6231
@rainersigwald can you help with this issue?

[2021-05-10 22:48] adegeo commented on #5851
@jorgio-castello  @omajid I'll get the docs updated!

[2021-05-10 22:54] rbhanda commented on #5851
Thanks @adegeo . We will also have to update the docs for Ubuntu 21.04

[2021-05-11 00:34] GrabYourPitchforks commented on #6235
/cc @wli3 @dsplaisted

[2021-05-11 00:36] GrabYourPitchforks commented on #6242
/cc @Pilchie

Auto-translation follows.

[code]

[2021-05-11 04:40] #6209 closed

[2021-05-11 05:40] #6215 closed

[2021-05-11 07:15] karisa537 opened #6243 "C:\Users\USER\myWebApp>cd myWebApp The system cannot find the path specified."
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-05-11 10:42] ElvenSpellmaker commented on #6095
For those who stumble upon this and are trying to get a Web App in a container working, for me you need to set the `WEBSITES_ENABLE_APP_SERVICE_STORAGE` to false, else it obliterates your `/home/site/wwwroot` directory.

https://github.com/Azure/azure-cli/issues/16738#issuecomment-838229398

[2021-05-11 13:10] bcramer48 commented on #6233
The typo was 'donet' instead of 'do*t*net'. All started to work after
correction.
Thanks for asking.
Regards

Am Mo., 10. Mai 2021 um 12:23 Uhr schrieb Maira Wenzel <
***@***.***>:

[2021-05-11 14:56] binate-lab opened #6245 "Dotnet sdk for 3.1 and 5.202 installation"
Hi,
1/Here is the message I receive in powershell: dotnet --list-sdks
Could not execute because the application was not found or a compatible .NET SDK is not installed.
Possible reasons for this include:
  * You intended to execute a .NET program:
      The application 'new' does not exist.
  * You intended to execute a .NET SDK command:
      It was not possible to find any installed .NET SDKs.

[2021-05-11 15:09] MichaelSimons commented on #6240
@hansgschossmann, are you certain that you have pulled the most recent mcr.microsoft.com/dotnet/runtime:3.1-alpine image?  I just pulled the most recent version (mcr.microsoft.com/dotnet/runtime@sha256:ae7732edfc8923ec3a86d7096b7754c74be942a958d8c150c89d853ad6ca3165) and it contains newer package versions than what you mention.  In reading the CVEs, they appear patched in the most recent .NET imag

[2021-05-11 16:45] rbhanda opened #6247 ".NET May 2021 Update - .NET 5.0.6, .NET Core 3.1.15 and .NET Core 2.1.28"
Release Notes
[5.0.6](https://github.com/dotnet/core/blob/master/release-notes/5.0/5.0.6/5.0.6.md)
[3.1.15](https://github.com/dotnet/core/blob/master/release-notes/3.1/3.1.15/3.1.15.md)
[2.1.28](https://github.com/dotnet/core/blob/master/release-notes/2.1/2.1.28/2.1.28.md)

Please report any issues you find either by responding to this issue, creating a new issue or creating a new issue in one of

[2021-05-11 17:00] rbhanda commented on #6129
closing in favor of https://github.com/dotnet/core/issues/6247

[2021-05-11 17:00] #6129 closed

[2021-05-11 17:02] #6233 closed

[2021-05-11 22:20] KalleOlaviNiemitalo commented on #6247
The download page <https://dotnet.microsoft.com/download/dotnet/2.1> says:

Should that be Visual Studio 2019 (v16.2) instead, like in SDK 2.1.815?

[2021-05-11 22:30] leecow commented on #6247
Yes, this should be 16.2. Looks like it's correct in https://github.com/dotnet/core/blob/main/release-notes/2.1/releases.json. @mairaw can you have a look?

[2021-05-11 22:33] rbhanda commented on #6247
I found the problem. https://github.com/dotnet/core/pull/6252 to fix the VS version issue

[2021-05-11 22:40] ossie01-ui opened #6253 "watch : Exited with error code 139"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/run
Operating System: linux

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-05-11 23:18] #6225 closed

[2021-05-12 02:28] YakobuDoesCode opened #6254 "DotNet problems with running console template"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

I have tried using dot net to open a dotnet new console template script on visual studio and whenever I do it it s

[2021-05-12 02:40] mairaw commented on #6254
Are you trying to run from Visual Studio or Visual Studio Code?
And what if you type the command directly on a command prompt window?

Try restarting the app to see if the error goes away.

[2021-05-12 07:57] FRazban opened #6256 "Error MSB3971: The reference assemblies for ".NETFramework,Version=v5.0" were not found. You might be using an older .NET SDK to target .NET 5.0 or higher. Update Visual Studio and/or your .NET SDK. (MSB3971)"
/Applications/Visual Studio.app/Contents/Resources/lib/monodevelop/bin/MSBuild/Current/bin/Microsoft.Common.CurrentVersion.targets(3,3): Error MSB3971: The reference assemblies for ".NETFramework,Version=v5.0" were not found. You might be using an older .NET SDK to target .NET 5.0 or higher. Update Visual Studio and/or your .NET SDK. (MSB3971)

I am using visual studio for mac and my version is up

[2021-05-12 08:16] #5998 closed

[2021-05-12 09:20] KalleOlaviNiemitalo commented on #6247
TLDR: I got NU1403 errors after the May 2021 updates, but clearing `%USERPROFILE%\.nuget\packages` fixed them.

After installing:

- .NET SDK 5.0.203 (x64)
- .NET Core SDK 2.1.524 (x64)
- Visual Studio Build Tools 2017 version 15.9.36, including .NET Core build tools

I got errors like the following when building a C# project:

- error NU1403: Package content hash validation failed for Microsoft.N

[2021-05-12 10:01] albertoanto96 opened #6257 "Slow HTTP performance with .Net Core 3.1 when compiled for Linux"
## Description
We are running multiple parallel HTTP requests using HttpClient and we are seeing some performance issues. See the set of tests performed below.

The server is running an NGINX listening on port 80 on an Ubuntu Server 18.04 in Azure.
We have used different clients to discard any client-related issue.
The clients used are:
- Laptop: Windows 10 1909, 8 Cores, 32 GB of RAM
- Ubuntu Ser

[2021-05-12 15:07] KalleOlaviNiemitalo commented on #6247
I tried `nuget.exe verify -signatures` with NuGet 5.9.1.11, on `C:\Program Files\dotnet\sdk\NuGetFallbackFolder\microsoft.netcore.targets\1.1.0\microsoft.netcore.targets.1.1.0.nupkg` at the build server, and got the same error as in <https://github.com/NuGet/Home/issues/7414>:

[code]

So, I think the sha512 mismatch is a red herring.

[2021-05-12 19:20] noelia05 opened #6259 "problema de instalación microsoft net"
Necesito instalar controladores de una impresora y me pide  descargar microsoft.net cuando descargo me pone error 12180

[2021-05-12 22:32] GrabYourPitchforks commented on #6259
Hi @noelia05. You need to contact your printer manufacturer for support. This forum is for .NET Core and .NET 5+, which is not the product used by your printer.

[2021-05-12 22:32] #6259 closed

[2021-05-12 22:35] GrabYourPitchforks commented on #6256
/cc @rainersigwald - can you assist?

[2021-05-12 22:55] mairaw commented on #6256
What SDK version and VS for Mac version are you running?
Make sure you have the minimum version required for the SDK version:
https://dotnet.microsoft.com/download/dotnet/5.0

[2021-05-13 01:54] giubine commented on #6214
Não foi

Em seg, 3 de mai de 2021 22:00, Maira Wenzel ***@***.***>
escreveu:

[2021-05-13 02:05] mairaw commented on #6214
Você ainda não conseguiu executar o comando dotnet? Você instalou o SDK?

[2021-05-13 04:49] vadi2 commented on #4480
See https://github.com/dotnet/runtime/issues/43716.

[2021-05-13 04:49] #4480 closed

[2021-05-13 05:33] vadi2 opened #6260 "How to set application icon on Windows?"
Using .NET 5 and `<OutputType>WinExe</OutputType>`, how can one set the application icon of the generated `.exe`?

[2021-05-13 15:27] rainersigwald commented on #6256
In addition to Maira's questions, do you have a `global.json` file in your repo? If so can you share its contents?

[2021-05-13 18:54] prateekchawla opened #6262 "Package Microsoft.Azure.Functions.Worker 1.2.0 is not compatible with net50"
### Description

Building a .net project on a worker node.  with .net sdk 5 installed &  Azure Functions Core Tools installed
### Configuration

**Error**
`error NU1202: Package Microsoft.Azure.Functions.Worker 1.2.0 is not compatible with net50 (.NETFramework,Version=v5.0). Package Microsoft.Azure.Functions.Worker 1.2.0 supports: net5.0 (.NETCoreApp,Version=v5.0`

 **Proj file looks like this**

[2021-05-13 20:30] mattjohnsonpint commented on #6098
## .NET Libraries: Enhanced Date, Time and Time Zone support (https://github.com/dotnet/runtime/issues/45318)

(Blog post pending Preview 4 GA)

### New `DateOnly` and `TimeOnly` structs (https://github.com/dotnet/runtime/issues/49036)
- Complement existing date/time types (`DateTime`, `DateTimeOffset`, `TimeSpan`, `TimeZoneInfo`).
- In `System` namespace, shipped in CoreLib, just like the others.

[2021-05-13 21:47] mairaw commented on #6262
@rrelyea can you help with this issue? Should we move this to NuGet?

[2021-05-13 21:53] steveharter commented on #6098
## System.Text.Json: Writable DOM Feature

For additional background see https://github.com/dotnet/designs/blob/main/accepted/2020/serializer/WriteableDomAndDynamic.md

This adds a writeable DOM feature to `System.Text.Json`. It is expected many `System.Text.Json` consumers will use this feature for various reasons:
- As a lightweight alternative to the serializer for cases when compilation of POC

[2021-05-13 22:35] #6198 closed

[2021-05-13 22:35] #6194 closed

[2021-05-14 06:10] OoLunar opened #6263 "Stray semicolon above namespace keyword causes warning CS7022 and unexpected exit"
### Description
Expected behavior:
Either compiler error to be thrown or for everything to run as expected without a sudden exit.

Actual behavior:
Having a stray semicolon above the namespace keyword causes CS7022. A reproducable example is below:
[code]
This can be placed in any C# file, and the runtime warning will occur, causing the program to suddenly exit with code 0. Opening up the debugger

[2021-05-14 08:27] vitek-karas commented on #6260
Add `<ApplicationIcon>App.ico</ApplicationIcon>` to your project file.

[2021-05-14 16:13] GF-Huang opened #6264 ".NET ���߻��ռ��÷����ݣ��������Ǹ���������顣����"
Extension started for VS Code Stable.
creating client for 'Untitled-1.dib'
creating client for '*DOTNET-INTERACTIVE-NOTEBOOK-SERIALIZATION*'
Error acquiring dotnet-interactive tool: Error: Invalid argument not valid semver ('��ӭʹ�� .NET 5.0!
---------------------
SDK �汾: 5.0.203

ң��
---------
.NET ���߻��ռ��÷����ݣ��������Ǹ���������顣���� Microsoft �ռ������������������ͨ��ʹ��ϲ���� shell �� DOTNET_CLI

[2021-05-14 17:00] #6226 closed

[2021-05-14 19:00] #6134 closed

[2021-05-14 19:07] orbitofdeceit opened #6266 "Editing Index.razor file does not trigger a reload"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/add
Operating System: macos

Editing Index.razor file does not trigger a reload from Watch on Safari or Chrome when using 'dotnet run watch'

MacOS 11.3.1 (20E241)

Safari Version 14.1 (16611.1.21.161.6)

Version 90.0.4430.212 (Official Build) (x86_64)

[2021-05-14 21:00] mairaw commented on #6264
@jonsequitur can you transfer this to the try repo? It's not letting me.

[2021-05-14 21:36] genifycom commented on #6207
I have more information on this issue.

Using DotNet Core SDK version (specified in global.json) { "sdk": { "version": "5.0.202" } }

I get the following:

Processing CloudFormation resource AspNetCoreFunction
Initiate packaging of . for resource AspNetCoreFunction
Building Docker image for C:\Dev\Projects\AWSBlazor\AWSBlazor\AWSBlazorServerApp\.
Creating image tag from project: awsblazorserverapp

[2021-05-14 21:39] mairaw commented on #6260
I believe this has been answered, so closing.

[2021-05-14 21:39] #6260 closed

[2021-05-14 21:41] mairaw commented on #6263
@jaredpar can you help route this? Is this something we could catch at compile time?

[2021-05-15 04:59] vadi2 commented on #6260
While this helped with the explorer view, the icon used by the window manager and the task bar is not correct -

![image](https://user-images.githubusercontent.com/110988/118348512-2271f380-b54b-11eb-84f3-6bc30f28213e.png)

Is there a trick to this?

[2021-05-15 23:16] aamar77 opened #6268 "amar"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-05-16 00:27] jose8789 commented on #6141
I had the same problem but when I installed  Microsoft Visual Studio Community 2019 Preview
Version 16.10.0 Preview 3.0, it said that I had to install package
  <ItemGroup>
    <PackageReference Include="Microsoft.Windows.CsWinRT" Version="1.2.5" />
  </ItemGroup>
Now it compiles and restore but when I try to run it gives others error saying that some com class are not registered or implemented

[2021-05-16 14:43] alvinseville7cf opened #6269 "Why Directory.EnumerateFiles doesn't support globs like in Bash?"
Hello! This is a question rather than an issue. Why Directory.EnumerateFiles doesn't support globs like in [Bash](https://www.gnu.org/software/bash/manual/bash.html#Pattern-Matching)? Is it planned to be improved in the future?

[2021-05-16 17:33] alucryd commented on #6201
FYI, latest releases are up in the arch repos. 5.0 built just fine without any change, 3.1 didn't build when bootstrapped with our own build, had to keep bootstrapping with an official build.

[2021-05-16 20:54] richlander commented on #6268
Can you provide more details about what happened? This isn't enough information to act on.

[2021-05-16 21:03] ZeR9111 opened #6270 "The program does not open"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

My system is Windows 7 Ultimate 64 bit. I downloaded the program. When I click to open the application, the screen comes up but it disappears immediately. I have tried everything I can try but it hasn't improved. I would be glad if you could help. Thanks.

[2021-05-17 03:03] simpleZed commented on #6270
Is there any Console.ReadLine();

[2021-05-17 06:18] gyankov opened #6271 "Expression.Equal with DynamicList seems to return only the first matches"
### Description

Building an expression with Expression.Equal to filter a DynamicList only returns the first match

### Configuration

Below you will find a sample where the issue can be reproduced:

- [sample]( https://progresssoftware-my.sharepoint.com/:u:/g/personal/gyankov_progress_com/Eb5vR8b5OmlDlzkRfyNM-iABCoQYnIFiQ4oJFTol1LPc-A?e=913y5k)

### Other information

The above sample contains a

[2021-05-17 08:37] vitek-karas commented on #6260
This icon comes from the window itself. It depends which UI stack you're using to create the window. For example for WinForms it can be done like this: https://stackoverflow.com/a/18736559/327203

[2021-05-17 10:32] LymWm opened #6272 "The dotnet command cannot be executed"
Why can't I execute my dotnet command? The SDK is installed successfully. Version 3.1 and 5.0 are the same. The error message is “This program cannot be started because ‘api-ms-win-crt-runtime|1-1-0.dll’ is missing from your computer”

The server version is Windows Server 2012 R2

[2021-05-17 10:34] LymWm commented on #6272
The processor model is  Intel Xeon Bronze 3204

[2021-05-17 10:37] LymWm commented on #6272
After a long time, I tried to copy the prompt DLL file to the server from the development notebook C: Windows system 32. Finally, the error message changed to “Unable to locate program input point_ invalid_ parameter_ noinfo_ Noreturn can be found in the dynamic link library (DLL) C: \program files\dotnet\dotnet.exe”

[2021-05-17 12:13] tommcq commented on #5156
This is vital to maintain compatibility with partner companies and partner projects who are targeting .NET5/6, counting on the VSTO developer/integration company(s) to be compatible with their codebase.

This is a huge issue here;
the subject of time consuming workarounds;
the perception of "legacy" provider;
and a significant cost impact for all concerned.

[2021-05-17 14:19] ChahatKumar commented on #1322
@seriouz  Hey , i am trying to use winforms for .net Core console app.
Is there any documentation for the same that it is not possible  for .NET CORE

The same referencing and code works smooth on .NET FRAMEWORK

[2021-05-17 14:22] seriouz commented on #1322
@ChahatKumar  Try it with dotnet 5.

[2021-05-17 16:25] hez2010 commented on #6117
![image](https://user-images.githubusercontent.com/14960345/118523197-7d843000-b76f-11eb-8f46-c803164848ff.png)

You specified an invalid path for the executable in `.vscode/launch.json`.

[2021-05-17 16:40] ChahatKumar commented on #1322
Thanks ! I tried using this but I find that a dotnet 5 console app cannot produce both the form and console window ?right?

[2021-05-17 17:16] seriouz commented on #1322
No i don't think you can run a console app as WinForms app. Why do you need a console app in the first place?

[2021-05-17 17:22] ChahatKumar commented on #1322
I basically have a libarary written as a console app  which I plan to release.
But for collection of user data I need a contest frok the user for the same for which I was planning to add a form.

Altho this is possible in a. . Net Framework console app, but I am unsure since a similar procedure didn't work for. NET CORE

My whole library is written in. NET CORE

[2021-05-17 17:31] seriouz commented on #1322
Try this in your csproj. It should keep the console window open of a winforms app.

[code]

[2021-05-17 18:12] ChahatKumar commented on #1322
Hi , it did works .. Thanks !
But now giving an error that a dll is not connected ..

Just wanted to cofirm one thing -> for dll's like System.Windows.Forms -> i referenced them using my internal program files where they are present and added path in .csproj

If i add through COM  reference , it gives error and doesn't load  ( in case of .net Core app)

I wasnt able to find document for winforms i

[2021-05-17 19:38] seriouz commented on #1322
Yes, reference the Packages in your .csproj. Dlls you have to reference like this:

[code]

[2021-05-17 19:40] ChahatKumar commented on #1322
Thanks a lot 👍

[2021-05-17 19:58] #6236 closed

[2021-05-17 21:19] hansgschossmann commented on #6240
Closing, since i have not seen it in the latest build pipeline runs anymore.

[2021-05-17 21:19] #6240 closed

[2021-05-17 21:22] mairaw commented on #6272
You need to install some additional dependencies on Windows Server 2012 R2:
https://docs.microsoft.com/en-us/dotnet/core/install/windows?tabs=net50#additional-deps

[2021-05-17 21:26] mairaw commented on #6270
For Windows 7, you need to install the SDK and some additional dependencies as well:
https://docs.microsoft.com/en-us/dotnet/core/install/windows?pivots=os-windows&tabs=net50#additional-deps

Have you done that? Which screen disappears? Maybe try sending a screenshot of the problem or where you're clicking that is not working.

[2021-05-17 22:19] GrabYourPitchforks commented on #6242
@Margareth539 Please let us know if Maira's comment at https://github.com/dotnet/core/issues/6242#issuecomment-837611141 resolved the issue for you. Thanks!

[2021-05-17 22:20] GrabYourPitchforks commented on #6272
@LymWm Please let us know if Maira's suggestion at https://github.com/dotnet/core/issues/6272#issuecomment-842649972 resolves the problem for you. Thanks!

[2021-05-17 22:31] GrabYourPitchforks commented on #6262
/cc @rrelyea @nkolev92 - I agree with Maira and think this issue should be transferred to NuGet.

[2021-05-17 23:02] nkolev92 commented on #6262
You can move this to NuGet.

Based on the stack trace though, I'm fairly confident it's an old tooling version that's being used.

.NET 5 is only supported with NuGet.exe 5.8, VS 16.8, .NET 5.0.100 SDK and later.

[2021-05-17 23:51] BazInTheAZ opened #6274 ".NET 5 TLS 1.3 AuthenticationException"
### Description

[code]

Throws:
{"An error occurred while sending the request."} | System.Net.Http.HttpRequestException
-> {"The read operation failed, see inner exception."} | System.Exception {System.IO.IOException}
--> {"Authentication failed, see inner exception."} | System.Exception {System.Security.Authentication.AuthenticationException}
---> {"The message received was unexpected or badly f

[2021-05-18 00:12] mairaw commented on #6262
This issue was moved to NuGet/Home#10875

[2021-05-18 00:12] #6262 closed

[2021-05-18 01:12] #6221 closed

[2021-05-18 01:16] LymWm commented on #6272
An exception occurred when attempting to install "https://docs.microsoft.com/en-us/dotnet/core/install/windows?tabs=net50#additional-deps", the error message was ambiguous, and the error number was: 0x80240017 The error message is: No error is specified

[2021-05-18 01:18] LymWm commented on #6272
[dd_vcredist_amd64_20210518085622.log](https://github.com/dotnet/core/files/6497686/dd_vcredist_amd64_20210518085622.log)
This is a log file

[2021-05-18 01:44] guru012345 opened #6275 "i am trying to download . net framework 4.8 . but did not installed in my windows 10"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-05-18 03:46] ByboyCn opened #6276 "dotnet netstandard2.1 ECDiffieHellman Error in linux"
os centos7 x64
sdk dotnet core3.1.409
error code:
[code]
error in:
The specified curve '1.3.132.0.33' or its parameters are not valid for this platform.
but I didn't ask him on win10 x64

[2021-05-18 07:57] LennyBEL opened #6277 "Ubuntu 20.04 Install Failure via apt-get: File has unexpected size"
I get the following error when trying to install .NET Runtime 5.0 on Ubuntu 20.04, error occurs on apt-get update

E: Failed to fetch https://packages.microsoft.com/ubuntu/20.04/prod/dists/focal/main/binary-amd64/Packages.bz2  File has unexpected size (73402 != 73160). Mirror sync in progress? [IP: 40.114.136.21 443]
   Hashes of expected file:
    - Filesize:73160 [weak]
    - SHA512:782bf0315c8d

[2021-05-18 08:02] savarex commented on #6277
Same here, both Debian 10 and Ubuntu 20.04

[2021-05-18 08:04] MulticolorWorld commented on #6277
Same. My env is Ubuntu 20.04 (Github Actions runs-on)

Err:20 https://packages.microsoft.com/ubuntu/20.04/prod focal/main amd64 Packages
  File has unexpected size (73402 != 73160). Mirror sync in progress? [IP: 13.90.21.104 443]
  Hashes of expected file:
   - Filesize:73160 [weak]
   - SHA512:782bf0315c8de4314049e599009430053b75a5015491b3d383b09239fcf31857d52bac3399cef8e813f7b2131dce09b03eaf89d7

[2021-05-18 08:04] machaven commented on #6277
Same issue building our docker images

[2021-05-18 08:22] vavuthu commented on #6277
we have been hit with same issue. looks like packages are updated on 17-May-2021 17:59

[code]

[2021-05-18 08:36] drewmoore commented on #6277
It looks like this has been fixed at this time.

[2021-05-18 08:48] LennyBEL commented on #6277
Looks like the issue has been fixed. It works for again for me.

[2021-05-18 08:50] #6277 closed

[2021-05-18 09:51] GeorgeFlorian opened #6278 "`It was not possible to find any installed .NET SDKs` and lots of other OmniSharp errors"
### Issue
`Console.ReadLine();` reads input forever.
OmniSharp: `It was not possible to find any installed .NET SDKs`.

### System Info
- Linux Mint 20.1
- Visual Studio Code 1.56.2

### Description
I've installed .NET SDK following this instructions: https://docs.microsoft.com/en-us/dotnet/core/install/linux-snap
[code]

I've then went and made a simple C# program:
[code]
VSC terminal outputs:
[c

[2021-05-18 13:15] kzu commented on #4446
I'm on 5.0.100-preview.3.20216.6 (installed via `sudo snap install `) and it has this issue.

[code]

Error on run:

[code]

Also, the "horrid fix" steps didn't fix it. Ended up with the same error after the reboot 😢

[2021-05-18 14:09] rodia opened #6279 "Segmentation fault error"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: linux

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-05-18 15:23] bartonjs commented on #6276
Curve support is provided by the OS.  It appears that CentOS 7 doesn't support the curve you want, you'll have to use a different distro (or a different build of OpenSSL).

[2021-05-18 19:01] #6243 closed

[2021-05-18 20:13] mcallaghan-geotab commented on #2186
It looks like, since Ubuntu 20.04, I see two workarounds:

1) https://github.com/dotnet/core/issues/2186#issuecomment-671105420
[code]

2) https://github.com/dotnet/core/issues/2186#issuecomment-726708332
[code]

--
but what is the SOLUTION here? - we can't have users installing .NET core on the latest Ubuntu LTS with missing dependencies.

[2021-05-18 23:08] #6253 closed

[2021-05-19 01:30] mairaw commented on #6279
Hi @rodia! Can you please provide a screenshot or the exact error message you're getting and when?

[2021-05-19 03:21] #6254 closed

[2021-05-19 08:00] ByboyCn commented on #6276
3Q update openssl

[2021-05-19 08:35] ByboyCn commented on #6276
I have found a problem. When I need to share the public key of ecdh with others, I use the code ecdh. Publickey. Tobytearray (), and a annoying prompt appears: operation is not supported on this platform
The tag location is:
System.Security.Cryptography.ECDiffieHellmanImplementation.ECDiffieHellmanOpenSslPublicKey.ToByteArray()
@bartonjs

[2021-05-19 09:54] dacococonut1910 opened #6280 "i am having trouble"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

[2021-05-19 10:50] GeorgeFlorian commented on #6278
Nothing ? I've seen this issue a ton of times on this repo and still no fix has been found.

[2021-05-19 11:47] nash2k opened #6281 "DotNetCore.1.0.0.RC2-VS2015Tools.Preview1.exe file missing"
Hi,

I'm trying to download this file (DotNetCore.1.0.0.RC2-VS2015Tools.Preview1.exe) listed in _.NET Core Runtime and SDK download archive_ as it is required for uninstalling this version. It's going 404 on me, is there any way to get this file?
Also, would be nice to update the URL in the mentioned doc.

Best,
Nenad

[2021-05-19 16:01] bartonjs commented on #6276
instead of `ecdh.PublicKey.ToByteArray()`, use `ecdh.ExportSubjectPublicKeyInfo()`

[2021-05-19 16:58] wfurt commented on #6274
The Windows build seems pretty old. There were several important fixes in Insider Preview builds. They also do not need the registry and TLS 1.3 is enabled by default e.g. is ready for real use.
I did check on build 21376 and it works fine. So any fix is likely to come from Windows update.

[2021-05-19 17:05] wfurt commented on #6274
https://docs.microsoft.com/en-us/windows/win32/secauthn/protocols-in-tls-ssl--schannel-ssp-

20H2 is explicitly listed as not supported.

[2021-05-19 17:23] BazInTheAZ commented on #6274
Ah, understood.  Thank you, @wfurt.

[2021-05-19 17:23] #6274 closed

[2021-05-19 20:35] rodia commented on #6279
![Screenshot-segmentation-fault-error](https://user-images.githubusercontent.com/1838648/118880489-eaa6db00-b8bf-11eb-81a3-12f7396c5335.png)

here is it, my current ubuntu version is 21.04

[2021-05-19 21:59] takekazuomi commented on #5713
Current Grpc.Net.Client .NET Framework support is limited to Windows 10 Build 19622 or later. This is very strict and we can't use Grpc.Net.Client with App Service and .NET Framework. Will the Build restrictions be removed?

[2021-05-19 22:04] rodia commented on #6279
Thanks you for your time but I already have solved my issue. I used this instructions https://docs.microsoft.com/en-us/dotnet/core/install/linux-ubuntu#apt-troubleshooting instead snap manager

[2021-05-19 22:07] JamesNK commented on #5713
The short answer is no, a minimum version of Windows will always be required.

The long answer is gRPC requires HTTP/2. .NET Framework doesn't have built-in support for HTTP/2. WinHTTP, a HTTP client build into Windows, provides HTTP/2 for Grpc.Net.Client on .NET Framework. Features needed to be added to WinHTTP and they are only available on newer versions of Windows.

[2021-05-19 22:35] takekazuomi commented on #5713
It's painful that grpc-dotnet can't be used with App Service. For the time being, I use Grpc.Core for the .NET Framework. I expect the App Service Windows OS to be updated before Grpc.Core is deprecated.

[2021-05-19 23:26] #6256 closed

[2021-05-19 23:38] mairaw commented on #6279
Thanks for letting us know!

[2021-05-19 23:38] #6279 closed

[2021-05-20 02:36] mairaw commented on #6280
Can you please provide details about the problem you're experiencing? Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-05-20 05:55] masry946 opened #6282 "dotnet' is not recognized as an internal or external command"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-05-20 08:07] shantanu-joshi opened #6283 "While writing the command dotnet new console I am getting an error like this "It was not possible to find any installed .NET Core SDKs Did you mean to run .NET Core SDK commands? Install a .NET Core SDK from:""
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-05-20 09:40] martincostello opened #6284 "Bug in dot.net website on support policy page"
I was looking at the [.NET Core and .NET 5 Support Policy](https://dotnet.microsoft.com/platform/support/policy/dotnet-core) page and noticed it had a strange title:

![image](https://user-images.githubusercontent.com/1439341/118955816-f5f91580-b956-11eb-92d0-1ebe9eae8645.png)

Looking at the page source, seems there's a bug in the page rendering:

![image](https://user-images.githubusercontent.co

[2021-05-20 13:32] mairaw commented on #6282
Did you close and open a new terminal after installation?

[2021-05-20 15:24] binate-lab commented on #6245
Hi Maira
Excuses me for my silence

Command you suggested

PS C:\Users\oles> dotnet --info and where.exe dotnet

here is what I received:

Host (useful for support):
  Version: 5.0.5
  Commit:  2f740adc14

.NET SDKs installed:
  No SDKs were found.

.NET runtimes installed:
  Microsoft.AspNetCore.App 3.1.14 [C:\Program Files (x86)\dotnet\shared\Microsoft.AspNetCore.App]
  Microsoft.AspNetCore.App

[2021-05-20 21:41] mohamed11agwa opened #6286 ".net sdk setup"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is releva![Screenshot (33)](https://user-images.githubusercontent.com/50014415/119052396-d26cb400-b9c4-11eb-8d82-6405f978b4e3.pn

[2021-05-20 22:41] mairaw commented on #6245
And what is the output of `where.exe dotnet`?

[2021-05-21 05:51] safena97 opened #6287 "i have Problem"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-05-21 10:30] AnkHansen commented on #5150
Closing this.
After some time away from this I have now a working setup.

Ended up with targeting .Net4.8 and .Net 5.0

1. Assemblies depending on System.Web or other non .Net5.0 ported bits are kepts as .Net 4.8 assemblies, on old-style csproj files. So no conversions here. In this block is our existing Windows application and legacy webservcices. They also require some win only parts. The only t

[2021-05-21 10:30] #5150 closed

[2021-05-21 12:00] ddoffy opened #6288 "az aks create ---.. ."
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/deploy-microservice-tutorial/azure-resources
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

The operation is not permitted for namespace 'Microsoft.ContainerService'. List of permitted provide

[2021-05-21 16:40] binate-lab commented on #6245
Hi  Maira

Here is the output of where.exe dotnet

PS C:\Users\oles> where.exe dotnet

C:\Program Files (x86)\dotnet\dotnet.exe
C:\Program Files\dotnet\dotnet.exe

Thanks

________________________________
De : Maira Wenzel ***@***.***>
Envoyé : jeudi 20 mai 2021 22:41
À : dotnet/core ***@***.***>
Cc : binate-lab ***@***.***>; Author ***@***.***>
Objet : Re: [dotnet/core] Dotnet sdk for 3.1 and 5.2

[2021-05-21 20:35] mairaw commented on #6245
And your machine is a Windows x64, correct?

If so, the following instructions should help you to make this work:
https://github.com/dotnet/core/issues/5962#issuecomment-780084535

[2021-05-21 21:43] GrabYourPitchforks commented on #6288
Please provide more information about the problem you're experiencing, including the exact commands entered at the terminal window. Thanks!

[2021-05-21 21:43] GrabYourPitchforks commented on #6287
Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-05-21 21:47] GrabYourPitchforks commented on #6284
@terrajobst @richlander I'm not quite sure how to route this - can you assist? Per the issue description, there's some stray text in the file backing https://dotnet.microsoft.com/platform/support/policy/dotnet-core, and this stray text should be removed.

[2021-05-21 21:49] GrabYourPitchforks commented on #6283
Possible duplicate of https://github.com/dotnet/core/issues/5962. Review the discussion at that issue and see if the resolution steps detailed there work for you. If they don't, please respond back here and we'll try to assist further. Thanks!

[2021-05-21 21:54] GrabYourPitchforks commented on #6281
@leecow The page in question is https://github.com/dotnet/core/blob/main/release-notes/download-archive.md, where the download links at the bottom of the page are 404ing. Can you restore these files or update these links?

[2021-05-21 21:56] GrabYourPitchforks commented on #6278
/cc @wli3 @dsplaisted looks like an SDK installation issue, can you handle?

[2021-05-21 21:58] #6276 closed

[2021-05-21 21:59] GrabYourPitchforks commented on #6275
Please provide details about what exact steps you're taking, any files you're downloading (along with URLs), and the exact error messages you're seeing. Also please provide the operating system version you're using: you can get this information by running the `winver` command.

[2021-05-21 22:03] wli3 commented on #6278
@dsplaisted this is fixed right?

[2021-05-21 22:07] GrabYourPitchforks commented on #6272
Error 0x80240017 is "WU_E_NOT_APPLICABLE - Operation was not performed because there are no applicable updates."

[2021-05-21 22:11] GrabYourPitchforks commented on #6278
If you confirm that it's fixed then let us know what version of VS Code contains / will contain the fix and feel free to close this issue. Thanks! :)

[2021-05-21 22:19] dsplaisted commented on #6278
This was fixed for Visual Studio.  I'm not sure how the MSBuild SDK resolver that VS Code or Omnisharp uses gets updated.

@DustinCampbell Do you know what the process for this is?  The resolver needs to be updated to include the changes from dotnet/sdk#17329 (and prior changes, such as dotnet/sdk#16414).

[2021-05-22 08:06] Vishalport opened #6289 ".NET runing issue"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/edit
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-05-22 11:51] davidbuckleyni opened #6290 "Razor view engine ingoring custom ThemeableViewLocationExpander"
### Description
When Implementation of  ThemeableViewLocationExpander in .net 5  debugging is not going into the said file and it looks like the razor view engine is being ignored.

1. Implement a ThemeableViewLocationExpander
2. Create a ExpandViewLocations & PopulateValues according to docs.
3. Inject it in the di using
     services.Configure<RazorViewEngineOptions>(
     options => { options.V

[2021-05-22 13:35] davidbuckleyni commented on #6290
I have found my bug but how can i ensure that I can inject the theme name i was doing.
    public IActionResult Index()
    {
            return View(ThemeViewExtensions.GetViewPath(@"Home","Index"));
      }
    }
Which was doing this

     public static string GetViewPath(string controller,string action, string themeName = "Default")
        {

            ViewResult result = new ViewResult();

[2021-05-22 17:28] mairaw commented on #6289
Can you give us more details of what the issue is?

[2021-05-22 17:33] jamshedd commented on #5013
@deathchurch, I do not have an update to share on the hosting bundle. I do want to share something else though - the hosting bundle is just a wrapper around 3 other installers - the .NET Core Runtime, ASP.NET Core Runtime, and the ASP.NET Core Module (ANCM) for IIS. The first 2 (.NET Core runtime and ASP.NET Core runtime) are already individually deployable via MU (including if you deployed the ho

[2021-05-22 21:04] vishalkuamr commented on #6289
fixed the problem

[2021-05-23 16:08] mephitisdeux commented on #6201
Arch user here. I use VSCode and C# for working on an FNA project.

Official support would be nice, as the mono and related packages have been broken and out-of-date for some time now, making it unable to build or run any C# projects.

[2021-05-24 06:36] komirineni opened #6291 "docker run error"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/run-docker
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

this command : docker run -it --rm -p 3000:80 --name mymicroservicecontainer mymicroservice
getting error as b

[2021-05-24 08:22] #6291 closed

[2021-05-24 08:23] komirineni commented on #6291
it worked after I have changed the port number 3000 with another available port ex: 4449

[2021-05-24 14:29] rainersigwald commented on #6278
@dsplaisted I think it's defined here: https://github.com/OmniSharp/omnisharp-roslyn/blob/a13040712d02fa10bfb6c5847011bfc251de712d/tools/packages.config#L17

@JoeRobich, think we can update that? @dsplaisted, will 6.0.100-preview4 be sufficient? It looks like OmniSharp uses .NET SDK as a version source of truth rather than VS.