[2018-10-19 22:06] mjrousos opened #2011 "`dotnet build` fails to build XAML string resources"
In a .NET Core (3.0.100-alpha1-009689) WPF project, the following XAML file builds fine with MSBuild but fails to build with `dotnet build`:

[code]

`dotnet build` gives this error:

[code]

[2018-10-20 11:47] lokisisland opened #2012 "Segmentation fault on Ubuntu 18.04 after a couple of hours running console application"
I am having a problem with an application which has been running on Windows for months with no issue which I'm now running on Linux. I run the application via the command line (it is a console app) and after a couple of hours (the time varies, up to around four hours), the app dies.

In the system logs I have the following:

`dotnet[26179]: segfault at 7f4b5ee8cc80 ip 00007f4bf55147b6 sp 00007f4b7

[2018-10-20 16:54] karelz commented on #2012
Analhyzing crash dump on Linux is similar to analyzis on Windows - except that you need to use different tools: https://github.com/dotnet/coreclr/blob/master/Documentation/building/debugging-instructions.md#debugging-coreclr-on-linux

Collect the dump, get the callstack (ideally from multiple segfaults), then try to guess where the problem is.

FYI: Just the fact that an app worked in one environm

[2018-10-20 17:01] karelz commented on #2011
@ericstj @danmosemsft is that something in BCL or WPF?

[2018-10-20 18:31] danmosemsft commented on #2011
Maybe one of the TypeConverter work items we already have. @ericstj

[2018-10-20 19:55] drauch opened #2013 "CharUnicodeInfo.GetUnicodeCategory reports wrong categories"
The character `0x1C90` represents the `GEORGIAN MTAVRULI CAPITAL LETTER AN` and is according to the official Unicode documentation part of the general category `Lu` ("Letter, uppercase").

This is the entry from the official Unicode 11.0 database:

    1C90;GEORGIAN MTAVRULI CAPITAL LETTER AN;Lu;0;L;;;;;N;;;;10D0;

However, the following .NET code:

    char.GetUnicodeCategory('\x1C90')
    // or

[2018-10-20 20:04] drauch commented on #2013
Hmm, I've got the problem pointed out at https://stackoverflow.com/questions/52909494/why-does-char-getunicodecategory-report-wrong-categories -> your Unicode version is stuck at 5.0, even for .NET Core. That's a pity. I can guess why you don't want to update the information for `char.GetUnicodeCategory()` for backward compatibility. But `CharUnicodeInfo` has been introduced to return the most up-

[2018-10-21 16:54] diverdan92 commented on #2009
@ericstj - can you help triage?

[2018-10-21 17:04] diverdan92 commented on #2010
@Pilchie - can you take a look?

[2018-10-21 18:11] Pilchie commented on #2010
This happens because the solution explorer doesn't know what name/path to display the file under the project folder with the `Link` metadata.  Adding `Link="XamlResources.xaml"` to the `<Page>` element makes it show up.

@lifengl I wonder if we could consider a default for Link metadata if it doesn't appear in the file?  Also @dsplaisted and @nguerrera and @davkean.

[2018-10-21 19:10] dsplaisted commented on #2010
Yes, we should consider adding `Page` to the item types that get automatic Link metadata, either in the WPF SDK or just by default.  This issue can be moved to dotnet/cli or dotnet/sdk.

(I would move it myself but the issue mover I normally use seems to be broken).

[2018-10-21 22:28] Pilchie commented on #2010
Same here (with https://github-issue-mover.appspot.com/). 😦

[code]

Anyone know who owns that issue mover?

[2018-10-22 14:09] jran-dasa commented on #1367
@jamespettigrew it doesn't look like the Yocto notes ever got updated..
Could you possibly provide the bbappend that solved this issue? I cannot get it to work.

[2018-10-22 14:15] EduBic opened #2015 ".NET core 2.1.1 - System.DllNotFoundException with CoolProp Shared Library on Ubuntu 18.04"
I have a .NET project written in C# that has a dependency with the CoolProp library (available here https://github.com/CoolProp/CoolProp). It calls the CoolProp functions using PInvoke.

Unluckily I have to run this program in a linux environment (precisely the AWS lambda env https://docs.aws.amazon.com/en_us/lambda/latest/dg/current-supported-versions.html).

For now, I want to execute it with .N

[2018-10-22 16:11] ericstj commented on #2011
That doesn't sound right, I'll see about a repro.

[2018-10-22 16:30] karelz commented on #2013
@tarekgh does it belong into CoreFX repo? Or is it easy to answer here? (GH issue mover is broken, so taking lazy approach before moving it manually)

[2018-10-22 16:33] ericstj commented on #2009
This is a WPF issue.  I think @rladuca is looking at this.

[2018-10-22 16:36] tarekgh commented on #2013
@drauch

.Net core is using Unicode 10 and we didn't moved to 11 yet. We can try to update that in .Net Core 3.0  as needed.

This is not true.

We don't provide any comparability switch.

I'll move this issue to corefx

[2018-10-22 16:36] tarekgh commented on #2013
Issue moved to [dotnet/corefx #32951](https://github.com/dotnet/corefx/issues/32951) via [**ZenHub**](https://www.zenhub.com/)

[2018-10-22 17:19] karelz commented on #1963
@EngKhaled91 this looks like OS loader error. Unless you can reproduce it on another (Win8.1) machine, I think it is likely caused by bad installation (either OS or .NET Core itself).
You can either reinstall/repair .NET Core SDK and OS, or you can try to debug the problem in debugger on your machine to see what goes wrong (start with getting call stack for the error). Note that debugging OS loade

[2018-10-22 17:19] #1963 closed

[2018-10-22 17:25] #2002 closed, assigned to nobody

[2018-10-22 17:30] ericstj commented on #2011
Here's a repro:
[rd.zip](https://github.com/dotnet/core/files/2502355/rd.zip)

Found the problem.  XamlTypeMapper is comparing *runtime type* to *reference type* here:
https://referencesource.microsoft.com/#PresentationBuildTasks/Framework/System/Windows/Markup/BamlMapTable.cs,150

The passed in parameters will refer to the reference location but the `probeType` will come from an actual type objec

[2018-10-22 17:35] karelz commented on #2008
Which OS do you run on?
It seems like there are no available ports on the system. Can you check the OS stats at the point of failure? Can you check your container configuration?
Once it happens (after few hours) - does it happen once / all the time / most of the time?

[2018-10-22 17:40] karelz commented on #1993
Are you able to reproduce it with latest VS? If yes, it would be great to submit bug report via Send Feedback from within VS with the steps (or via https://developercommunity.visualstudio.com).
Closing here per suggestion above.

[2018-10-22 17:40] #1993 closed

[2018-10-22 17:41] karelz commented on #1968
@brianrob were you able to find anything? Do you plan to take any further action?

[2018-10-22 17:42] rladuca commented on #2009
@0xd4d There is a fix coming down the pipe for this soon.  We weren't getting the CompositeFont files including in the installer for the SDK.

For now, you can copy the desktop versions from either:
- "%SYSTEMROOT%\Microsoft.NET\Framework\v4.0.30319\WPF"
- "%SYSTEMROOT%\Microsoft.NET\Framework\v4.0.30319\WPF\Fonts"

Put them into the shared Microsoft.DesktopUI.App SDK folder that .NET Core is load

[2018-10-22 17:43] karelz commented on #1823
@jeffschwMSFT is there any update on the approximate timeline/plans?
Do we need this tracking work item?

[2018-10-22 17:48] jran-dasa commented on #1367
@karelz Thank you for the information. Then it is even more strange that Yocto is throwing errors. I'm using a freshly downloaded 2.1.5

[2018-10-22 17:54] karelz commented on #1367
I think it is still build-time dependency as we have opt-out from the new networking stack to use libcurl.

[2018-10-22 17:54] wfurt commented on #1367
not necessarily. libcul is still build and runtime dependency. Even if 2.1 has default http handler implemented in c#, the old handler is still part of distribution.

However, to get it you need to target 2.1 in your project files. Simply using new runtime is not sufficient.

[2018-10-22 19:10] jeffschwMSFT commented on #1823
This will align with .NET Core 3.0 timeframe.

[2018-10-22 19:33] brianrob commented on #1968
I was able to gather some information, but need to go through it and figure out what next steps look like.  Also need to triage this against other performance areas/goals.  It's good to see that there is interest here though, and that will help.

Let's leave this issue open and use it to track further progress here.

[2018-10-22 21:45] Spongman commented on #730
i'm seeing this error in a 4.7.2 project.

[code]

[2018-10-22 22:50] karelz commented on #730
@Spongman it seems you are trying to load reference assembly at runtime. Reference assemblies contain only shape of types, but not code, that's why it fails.
Usually this is a result of some forceful copying of reference assemblies into project output.
Best option is to stop doing that.
If you think it is a bug in tooling, please create simple repro steps (ideally starting from new project) and we

[2018-10-22 23:40] jamespettigrew commented on #1367
@jran-dasa
I created the following patch for curl 7.54.1 and then modified the curl recipe so that the patch would be applied before curl gets compiled by Yocto.

[code]

If this doesn't make any sense or you need more help let me know!

[2018-10-23 02:23] jobou363 opened #2016 ".Net core 2.2 web app gives an error 503 when run on an azure web app service"
# Issue Title
.Net core 2.2 web app gives an unclear error 503 when we access the site in the azure web app

# General
I created a web app in azure to host my new .net app.

I created a new project ASP.NET Core Web Application by selecting a web application MVC from the template in visual studio preview (15.9.0) and i have selected .net core ASP.NET Core 2.2 ( SDK 2.2.100-preview3-009430). When I

[2018-10-23 05:52] jran-dasa commented on #1367
@jamespettigrew Thank you very much.
I finally got it working.

The patch did not do it all on its own, but when I also added
`EXTRA_OECONF += "--enable-versioned-symbols" `
into Curl bbappend, I could finally build the rootfs without errors.

[2018-10-23 05:55] saurabhnachankar opened #2017 "New classes doesn't not compile on dotnet core sdk 2.2-preview-2"
# New classes doesn't not compile on dotnet core sdk 2.2-preview-2

I changed the CSPROJ file to SDK 2.2 version. It restored successfully. But it is not accepting new changes and runs the old complied code.

[2018-10-23 05:56] jamespettigrew commented on #1367
Forgot about that part, sorry!

Glad you got it working!

[2018-10-23 06:10] gstrit commented on #2008
Sorry my mistake I found the issue. The service sent a stream as a response and I did not close it.

[2018-10-23 06:10] #2008 closed

[2018-10-23 07:31] saurabhnachankar opened #2018 "Dapper seems incompatible with .Net core SDK 2.2"
Dapper is not able to map SQL Query columns to class properties.

`I hereby wrote the problem on dapper source code for reference :`

[Not able to map to properties in dotnet core 2.2](https://github.com/StackExchange/Dapper/issues/1147#issue-372837414)

Dapper version : 1.50.5
.Net core SDK version : 2.2
Visual studio code version : 1.28.2

[2018-10-23 12:03] vtortola opened #2019 "Inspecting the managed heap in a dotnet core application in Linux"
Hi there,

I want to inspect the memory of an application that is consuming more memory than expected and do a simple `!dupmheap` to try to figure out which are the type of objects that are piling up.

Please check this self-contained example. It will create a docker image with all the tools already installed, then creates a dotnet core 2.1 application that runs in a continuous loop printing messa

[2018-10-23 12:53] wgutierrezr commented on #1114
Still having this issue with ASP.Net Core 2.1.5 and NetStandard 2.0.

**Error	NU1201	Project EMS.Service is not compatible with netstandard2.0 (.NETStandard,Version=v2.0). Project EMS.Service supports: netcoreapp2.1 (.NETCoreApp,Version=v2.1)	EMS.UIService	C:\Projects\EMS2\EMS\EMS.UIService\EMS.UIService.csproj**

Please someone can help in solving this issue?
reference: https://github.com/ianbusk

[2018-10-23 15:56] karelz commented on #1114
@wgutierrezr it seems you're trying to use .NET Core project as .NET Standard project. That is not going to work. .NET Core can depend on .NET Standard, but not the other way around.

[2018-10-23 16:02] karelz commented on #2019
@mikem8361 @noahfalk @tommcdon can you please help here?

[2018-10-23 16:09] karelz commented on #2015
Is the libCoolProp deployed next to the executable from where you execute the app?

cc @janvorli @wfurt

[2018-10-23 16:17] karelz commented on #2016
@jobou363 just to clarify I understand your suggestion:
You would like to see a clear error when you deploy into Azure Web App a 64-bit app when only 32-bit apps are supported by the Azure Web App. Is that correct summary?

[2018-10-23 16:19] karelz commented on #2017
@saurabhnachankar did you try to clean your project to delete old compiled binaries?
Did you double-check that all projects are correctly updated to the 2.2 SDK?
Do you get same problem with brand new project?
Did you compare brand new project with your existing one to double-check it is correctly udpated?

[2018-10-23 16:46] karelz commented on #2018
Let's wait for analysis on Dapper repo first - if it is a regression caused by .NET Core, we will need information which API regressed, then ideally filed in CoreFX repo.
Given that nearly nothing changed in .NET Core 2.2 against 2.1.x in lower-layers of .NET Core (most changes were in ASP.NET Core layer above), I am curious if this is indeed a regression caused by .NET Core.

[2018-10-23 16:46] #2018 closed

[2018-10-23 19:58] mikem8361 commented on #2019
You need to be supervisor to attach with lldb.  `sudo -E lldb-3.9`

[2018-10-23 20:05] karelz commented on #2015
Does it create 'build' directory on Windows as well?
The DLL must be next to it - so either your project somehow marks it as dependency (IMO likely), or due to some magic it ends up in the right place.

As it seems to be answered, closing.

[2018-10-23 20:05] #2015 closed

[2018-10-23 21:43] mikem8361 commented on #2019
I'm not sure what is going on.  I'll have to follow your repo steps which it may be a while before I can get to it.  This looks like a lldb setup/install/configuration problem more than a .NET Core or SOS problem, but I do want to document helpful with lldb itself.

[2018-10-23 23:18] vtortola commented on #2019
Thanks for looking into this.

It is indeed strange. And the problem may boil down to the `microsoft/dotnet` image itself. For example, despite of all flags and capabilities indicated, still cannot do things like these:

[code]
I am doing some investigation, although my knowledge as developer in Linux is pretty much none, but it does not seem to be easy to fix reading things like this : https://co

[2018-10-23 23:40] mikem8361 commented on #2019
It may be the microsoft/dotnet:2.1-sdk docker images you are starting with and then it something we (.NET Core) need to look at.

[2018-10-24 05:09] jobou363 commented on #2016
@karelz Yes.

[2018-10-24 10:01] EduBic commented on #2015
Yes! If I change the path in `[DllImport("path")]` to `"../../../libCoolProp.so"` the program executed with `dotnet run` works.

Thank you karelz.

In **Windows** the build process is the same, `dotnet run` create two folders `bin` and `obj` but the lib.dll file is not inside those directories.
How .NET core in Windows 10 automatically finds the path of CoolProp.dll remains unknown.

[2018-10-24 15:19] karelz commented on #2016
That sounds like a reasonable enhancement. Not sure if it is part of VS tooling, or Azure Web App service itsself - @Eilon do you know where to route it?

[2018-10-24 16:29] karelz commented on #2015
@EduBic I find it fairly suspicious that Windows would load DLL from another directory on its own, unless it is part of WinSxS cache - i.e. installed globally.
Can you check under debugger where the DLL is loaded from?

[2018-10-24 16:30] Eilon commented on #2016
@vijayrkn - should we move this bug to the https://github.com/aspnet/websdk repo? Or is there a better home for it?

[2018-10-24 17:25] florianislitzer opened #2020 "Using System.Net.Sockets on Linux"
I develop an application which uses a .Net Framework v4.6.1-compiled library to connect to a payment terminal over udp sockets. If I debug or publish it on Windows everything works fine, when publishing to Linux and running it as root I get the following error:

I tried to change firewall settings, checked the Linux kernel security settings, changed the file permissons, but everthing without succe

[2018-10-24 20:43] wfurt commented on #2020
run the app under ```strace -f -s 20 -e trace=%network dotnet foo.dll```
That will show you what is happening.
Note that you need root privilege to use ports bellow 1024.
Check if you have SELinux enabled in enforcing mode.
If so, policy there may need to be adjusted.

[2018-10-25 07:51] florianislitzer commented on #2020
Using strace i found the following error:

[2018-10-25 09:30] lokisisland commented on #2012
Thank you for the debugging advice. I have narrowed the error I'm seeing down to a hardware fault; it is happening at random times throughout the life of the program. I have confirmed this by running MemTest which has shown many memory errors.

Thank you again!

[2018-10-25 09:30] #2012 closed

[2018-10-25 15:35] Lakritzator commented on #1995
@vatsan-madhavan I'm hesitant to ask, but what is the status on this? Is there anything ) can do, or some kind of workaround? It's no problem if you guys need more time, I am asking so I know where to put my priorities.

For the time being I disabled Mahapps Themes, those trigger the glowbehavior, but the UI is missing some stuff and I am not sure if this is due to the theming or a general UI prob

[2018-10-25 17:15] vijayrkn commented on #2016
This is a VS request. The right place for this feature request would be https://developercommunity.visualstudio.com/spaces/8/index.html.

From VS -> Help -> Send Feedback -> Provide a Suggestion.

[2018-10-25 17:27] #2016 closed, assigned to nobody

[2018-10-25 18:14] nelsontkq commented on #505
How would you recommend they monetize Visual Studio if they make free the only reason anybody still uses Visual Studio?

[2018-10-25 18:49] wfurt commented on #2020
That is good clue.
Are you setting SocketOptionName.Broadcast on the socket?
(https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.socketoptionname?view=netcore-2.1)
Sending broadcast is restricted operation on Linux.

https://stackoverflow.com/questions/16217958/why-do-we-need-socketoptions-so-broadcast-to-enable-broadcast

You should be able to see same problem with running ```echo foo

[2018-10-25 18:53] ericstj commented on #1995
Yeah, coresdk is still on a build that's 8 days old: https://github.com/dotnet/core-sdk/blob/b4fe871ab87f6ddc4561efcc3e510a9b529ad5ce/build/DependencyVersions.props#L41  @livarcocc  / @nguerrera / @dsplaisted would be the ones to ask if we can have them pick up a new one (and see about automating that codeflow).

[2018-10-25 19:20] Lakritzator commented on #1995
@ericstj thanks for the update, not a big problem.
But it does give bring up the question on how we are supposed to know what changes are in what build?

[2018-10-25 20:12] EduBic commented on #2015
I don't know how to debug it using only the console.
After the creation of a console project I run the following commands:
`dotnet publish`
`dotnet run`

I noticed that in Visual Studio 2017 the program doesn't run, it crashes with DllNotFoundException. I have to set `Copy to Output Directory` to **Copy Always** for the `CoolProp.dll` file. In this case the file .dll is copied inside the `bin/debu

[2018-10-25 20:13] nguerrera commented on #1995
I'll be inserting the most recent bits later this afternoon.

[2018-10-25 22:59] nguerrera commented on #1995
The insertion has been delayed until tomorrow morning in order to pick up another fix and save some effort while they are still manual. I will post a link to a build when it's done.

[2018-10-25 23:09] karelz commented on #2015
You can attach debugger (VS or windbg) to running process, or use other tools (like ProcessExplorer) to see loaded DLLs into a process.
Or you can launch the command line under a ddbugger.

[2018-10-25 23:52] KathleenDollard commented on #1962
@wli3 @livarcocc

[2018-10-26 08:55] memark commented on #2004
I've run into an issue. Have the CORS values returned by preflight requests been changed?

Preview 2 gives

Preview 3 gives

Given that * is not very well supported, parts of my application is now broken.

[2018-10-26 11:50] ogazioglu opened #2023 "The empty for loop takes longer time than non-emtpy one"
I have Intel Core i7-6700K CPU @ 4GHz.
Created a console application using .net core 2.0 and wrote below:
[code]
Executed multiple times and the result is same: between 500-600 ms. Then deleted line `a++;` and executed again multiple times. All results increased to the range between 1100-1200 ms. But if I process 10 times in single execution and calculate averages, the avg results are good, the pr

[2018-10-26 14:06] huzeyfecoskun opened #2024 "Core SDK Installition fails on ubuntu 18.04.1"
# Issue Title

Core SDK Installition fails on ubuntu 18.04.1

# General

Core SDK installition fails on ubuntu

![issue](https://user-images.githubusercontent.com/673053/47571548-78f19500-d941-11e8-879e-3b3456d1d0bf.png)

[2018-10-26 15:42] scherenhaenden commented on #505
"How would you recommend they monetize Visual Studio" I never recommended to do that or not to do that...
Apple asks for money for everything... and I pay the things I have to pay... without a word... this is not about "paying"... this is about the huge manipulation. you see, Apple never said "We love Open Source"...

[2018-10-26 15:49] muratg commented on #2004
@javiercn could you take a look at the CORS behavior change above?

[2018-10-26 16:08] javiercn commented on #2004
@muratg Yes. We fixed this to make it spec compliant a few days ago, but seems that clients don’t support * very well.

@pranavkm we should just reflect the request headers here when all are allowed.

[2018-10-26 16:19] svick commented on #2023
Microbenchmarking is notoriously hard to do right, because there are many things that can influence the microbenchmark, that are not relevant to real code.

I tried using [BenchmarkDotNet](https://benchmarkdotnet.org/) (a library to do microbenchmarking right) to reproduce your results. My code:

[code]

My results:

[code]

|   Method |     Mean |    Error |   StdDev |
|--------- |---------:|----

[2018-10-26 16:40] wli3 commented on #1962
This issue was moved to dotnet/cli#10241

[2018-10-26 16:42] wli3 commented on #1962
I removed this issue to CLI. You can close this issue.

[2018-10-26 16:43] #1962 closed

[2018-10-26 16:48] pranavkm commented on #2004
@memark what browser \ OS are you using?

[2018-10-26 16:54] Rutix commented on #505
And again. Saying you love open-source doesn't mean you have to open source
everything. But like others said in this thread, it's kind of irrelevant.
We would just like a yes or no answer.

On Fri, Oct 26, 2018, 17:43 scherenhaenden <notifications@github.com> wrote:

[2018-10-26 18:01] EduBic commented on #2015
I tried with ProcessExplorer and the `CoolProp.dll` is correctly loaded from the project directory (`CoolProp-dotnet-core`).

![immagine](https://user-images.githubusercontent.com/13170564/47584146-aea27800-d959-11e8-962f-ad6b9534356b.png)

[2018-10-26 18:57] karelz commented on #2015
Was it maybe the current folder at the time dotnet was invoked? That would make some sense ...

[2018-10-26 21:55] karelz commented on #1926
@Thraka do you get the same failure with .NET Core 2.1? (2.0 is out of support)
2.1 should not have that dependency of Runtime.

[2018-10-27 00:09] karelz commented on #2024
@rakeshsinghranchi @dleeapho @livarcocc can you advise where to route this issue?

[2018-10-27 00:28] rakeshsinghranchi commented on #2024
This issue was moved to dotnet/core-setup#4707

[2018-10-27 00:28] #2024 closed

[2018-10-27 07:57] EduBic commented on #2015
Yes, if I run the command `dotnet run --project .\CoolProp-dotnet-core\` from the parent directory I got the `DllNotFoundException`.

So in _Windows 10_ the dynamic linker search the lib also in the path where `dotnet run` is called, this is **not** done in _Ubuntu 18_.

[2018-10-27 12:07] Lakritzator commented on #1995
I updated to 3.0.100-alpha1-009706 and the bug seems to be solved!!!!
The example [project ](https://github.com/Lakritzator/RenderThreadFailure) doesn't crash, and my bigger project also works.

From my point if view, where there is nothing more to do, you can close this issue.

[2018-10-27 14:28] nguerrera commented on #1995
Great, glad the update worked, and sorry for the delay and the difficulty of determining when a fix will land in a build.

[2018-10-27 14:28] #1995 closed

[2018-10-27 15:42] karelz commented on #2015
Sounds like that. And that would be OS difference, not something .NET has impact on.

[2018-10-27 15:56] florianislitzer commented on #2020
The socket is generated by the library, which means that I cannot set SocketOptionName to Broadcast
Is there a way to start the application with a flag which allows broadcasts?

[2018-10-28 11:06] armand1m commented on #1822
I manually downloaded libicu60 from this url https://packages.ubuntu.com/bionic/amd64/libicu60/download

then ran `sudo apt install dotnet-sdk-2.1` and it worked.

[2018-10-28 19:14] EdLichtman opened #2025 "Cannot run DotNet Core app on Windows using Linux Docker Containers"
When switching from Windows to Linux containers, I am unable to run a fresh DotNet core application.

I switched docker to Linux containers so that I can replicate the behavior of Cloud-hosting. I tried to create a fresh Asp.Net core 2.1 application. My operating system build is 17134.345. Every time I run I receive this error message:

Did you mean to run dotnet SDK commands? Please install dotne

[2018-10-28 22:10] svick commented on #2025
I don't know about the volume sharing issue (if there is one), but the first error message implies that you're trying to run a .Net Core SDK command when you only have the .Net Core Runtime installed.

What are the commands that you're running? What Docker image are you using? Can you share your Dockerfile?

[2018-10-28 22:54] EdLichtman commented on #2025
Hello,

Here is the entire solution, having pulled it straight from a new project.
[ThrowawaySol2.zip](https://github.com/dotnet/core/files/2523300/ThrowawaySol2.zip)

[2018-10-28 23:04] EdLichtman commented on #2025
Well this is odd I guess restarting my computer fixed this particular error. However I build this solution to try and get a dotnet core application running in a docker container on digital ocean and I'm still unable to resolve host from my other application.

The symptom is: I run the program and see this output:

docker ps --filter "status=running" --filter "name=dockercompose4513464889098130869_

[2018-10-29 09:47] XbbLeon opened #2026 "When can Asp.Net Core support linux-Arm64?"
I saw the .Net Core 2.2 preview 3 has pubished last week.but Asp.Net Core still doesn‘t support Arm64.
So I want know when the .Net Core 2.2 stable version release,if it support linux-arm64?
If not,when can Asp.Net Core work on linux-Arm64?
Thank you !

[2018-10-29 13:29] memark commented on #2004
@pranavkm We have seen the problem described above on

Microsoft Edge
Version 42.17134.1.0
OS: Windows 10 Pro, version 1803, build 17134.345

Internet Explorer 11
Version 11.345.17.134.0
OS: Windows 10 Pro, version 1803, build 17134.345

Google Chrome
Version 69.0.3497.100 (Official Build) (64-bit)
OS: MacOS Mojave (10.14)

Safari
Version 12.0 (14606.1.36.1.9)
OS: MacOS Mojave (10.14)

Firefox
Ver

[2018-10-29 13:52] gokhanabatay opened #2027 "Deserialize binary[] to ISet<T> wrong Internal HashCode has been stored"
[InternalHashCodeIssue.zip](https://github.com/dotnet/core/files/2527021/InternalHashCodeIssue.zip)

Hi,
I have an issue that demonstrates above sample, I try to explain as I can.

When I serialized ISet<T> to binary[], than Deserialize to ISet<T>, before T's Dictionary property has been setted T.GetHashCode is called and stored which is returned wrong(missing) hash code.

If I can override hash c

[2018-10-29 15:18] jenyckee commented on #2001
Okay, but what is the solution?

[2018-10-29 15:24] karelz commented on #2001
@jenyckee did you check the primary issue?

[2018-10-29 15:28] karelz commented on #2026
I don't think we announced any official plans/timelines for arm64 Linux support yet.
cc @leecow @vivmishra to confirm

[2018-10-29 16:05] karelz commented on #2025
I would recommend to check documentation here: https://github.com/dotnet/dotnet-docker
cc @MichaelSimons if he has more targeted advice ...

[2018-10-29 16:13] karelz commented on #2027
Please post the code demonstrating the problem you're hitting directly here (the ZIP file is corrupted).

Note: AFAIK hash codes are randomized intentionally to NOT be stable across processes (to avoid security issues). If you need to persist hash codes, you need to create your own mechanism.

[2018-10-29 16:16] Thraka commented on #1926
@karelz Yes sorry, this is core 2.1 I **believe** this is a libcurl4 vs 3 problem. I basically cannot install the .net core package via `apt-get install` as it fails with a package conflict. It won't tell me what package is conflicting. I'm not a linux guru so it's taken me some time to try and figure out what is going on.

[2018-10-29 16:30] karelz commented on #1926
cc @wfurt to comment on the libcurl4 vs. 3.

[2018-10-29 16:39] rmkerr commented on #1994
The regression test added for this change has been consistently failing on the Windows.10.Amd64.Core leg in the daily CI runs. Here's the output from the latest failure.

Message :
[code]
Stack Trace :
[code]

[2018-10-29 16:40] karelz commented on #2020
My understanding was that you need to turn OFF the broadcast.
We do not have overrides like that, it would create giant mess. The library needs to be updated and ported to Linux.

[2018-10-29 16:58] leecow commented on #1926
@Thraka , the system components are installed by the dotnet-runtime-deps-2.1 package. If you try installing that directly, we should see exactly what library is causing the trouble.

`sudo apt install dotent-runtime-deps-2.1`

[2018-10-29 17:00] karelz commented on #1994
@rmkerr can you please open bug in CoreFX repo? I don't think we should track test failures here in Core. It is more for incoming issues without clear home. Thanks!

[2018-10-29 17:00] #1994 closed

[2018-10-29 17:06] karelz commented on #2026
Here's latest official information about arm64: https://github.com/dotnet/announcements/issues/82

[2018-10-29 17:45] svick commented on #2027
@karelz The attached ZIP file can't be opened in Windows Explorer, because it actually seems to be a mislabeled RAR file. I could open it fine in 7-Zip.

I think there is indeed an issue here: the deserialized `HashSet<T>` is no longer consistent, in that `set.Contains(set.Single())` returns `false`, even though `GetHashCode` and `Equals` of the contained value are implemented correctly.

As far a

[2018-10-29 18:31] wfurt commented on #2020
I'm not aware of any global flag.  But that does not need to be done at creation.
You can do it any time after - just before the send.

[2018-10-29 18:44] florianislitzer commented on #2020
@wfurt so there isnt any way without a library update?

[2018-10-29 20:08] #2026 closed

[2018-10-29 20:54] gokhanabatay commented on #2027
Sorry for the wrong file format, I edited the project file you can download it again.

Also @svick sample is the short(very good) story of what i really try.

[2018-10-29 22:40] alexzaytsev-newsroomly opened #2029 "Auto install global tools with a csproj"
# Issue Title

Can we auto install global tools with a csproj

# General

Previously, under DotNetCliToolReference tag, if new developers would checkout the project, they only needed to run `dotnet restore` to make the commands available.
If there are a few tools in a project, this was a very easy and natural operation.

Is there some way for us to make it easy for developers to automatically get

[2018-10-29 22:58] karelz commented on #2029
@KathleenDollard @wli3 @livarcocc should it go to CLI repo?

[2018-10-29 23:09] livarcocc commented on #2029
We have a feature coming for .NET Core 3.0 called local tools, where your repo can specify a tool manifest file and then, once you run `dotnet tool restore` (@wli3 can confirm the exact gesture and provide more info), your tools will be available in your repo.

[2018-10-29 23:09] #2029 closed

[2018-10-30 01:31] JacobHenner commented on #505
This would be helpful. At least add a provision allowing users of the unbranded vscode to use the debugger...

[2018-10-30 02:43] fredericDelaporte commented on #2027
@gokhanabatay has initially reported this on NHibernate side (nhibernate/nhibernate-core#1888, ongoing PR nhibernate/nhibernate-core#1891), since this issue affects NHibernate second level cache. (When the kind of classes shown in @svick cleaned-up code example are used with a cache provider using binary serialization on them.)

The trouble also occurs with dictionaries (`Dictionary<TKey, TValue>`

[2018-10-30 05:23] mwikstrom opened #2030 "Hash code of string is broken in .NET Core 2.1, but works in 2.0"
I recently upgraded one of my projects from .NET Core 2.0 to .NET Core 2.1. After doing so several of my tests started to fail.

After narrowing this down I've found that in .NET Core 2.1 it is not possible to compute the hash code of a string using a culture aware comparer with the string sort compare option.

I've created a test that reproduce my problem:
[code]
I've tested it on a couple of fra

[2018-10-30 07:43] olmobrutall opened #2031 "Set clientDomain in SmtpClient"
The old implementation of SmtpClient (https://referencesource.microsoft.com/#system/net/System/Net/mail/SmtpClient.cs) was able to use the clientDomain from configuration `MailConfiguration.Smtp.Network.ClientDomain;`

[code]

solving problems like this one: https://stackoverflow.com/questions/37410598/fqdn-with-smtpclient-in-powershell

But in the .Net Core implementation https://github.com/dotne

[2018-10-30 08:09] MarcoRossignoli commented on #2031
Maybe better move issue to https://github.com/dotnet/corefx

[2018-10-30 08:32] olmobrutall commented on #2031
Sorry, moved to https://github.com/dotnet/corefx/issues/33123

[2018-10-30 08:32] #2031 closed

[2018-10-30 16:00] Thraka commented on #1926
@leecow I installed that, and it worked. But when I try to install the SDK, it still fails

[code]
I listed the packages and it says it's installed:

[code]

[2018-10-30 16:14] karelz commented on #1926
@Thraka you are still trying to install the out-of-support SDK for .NET Core 2.0 (the version 2.1.202) - see [2.0.9 release notes](https://github.com/dotnet/core/blob/master/release-notes/2.0/2.0.9.md) or [2.0 versions table](https://github.com/dotnet/core/tree/master/release-notes/2.0#net-core-20-releases---out-of-support).

Install 2.1.5 + its SDK 2.1.403: see [2.1.5 release notes](https://githu

[2018-10-30 16:36] leecow commented on #1926
More specifically, run `sudo apt install dotnet-sdk-2.1` and you should be golden. This will install the latest version of the 2.1 SDK.

[2018-10-30 16:36] Thraka commented on #1926
@karelz @leecow uhghhghghgahahrrrr Thanks... google search must have pulled me into the 2.0 install instructions page because and because of the version of the sdk showing 2.1 I just didn't notice the page title said 2.0 ...

This versioning is confusing 😄

[2018-10-31 01:21] karelz commented on #2030
This issue was moved to dotnet/corefx#33154

[2018-10-31 01:21] #2030 closed

[2018-10-31 04:48] richimori commented on #2000
@BasPaap  Have you found any work around for this issue?

[2018-10-31 10:05] bitbonk opened #2032 "support for MFC in WPF applications running on .NET Core 3.0"
We have some very large WPF applications that still use quite a lot of MFC through C++/CLI and mixed mode assemblies. Since .NET Core 3.0 will [support mixed mode assemblies](https://github.com/dotnet/coreclr/issues/18013), it would be great if this scenario is also officially supported in 3.0

Are you planning to support this in 3.0?

[2018-10-31 10:56] ivaylo5ev opened #2033 "Cannot resolve type/namespace conflict"
# Cannot resolve type/namespace conflict

I have a C# class library project that uses the dotnet sdk and targets netstandard2.0
The project references two libraries : `Foo.dll` and `Foo.Bar.dll` , both targeting netstandard2.0 among other framework versions in their respective nuget packages.

- `Foo.dll` defines a public class `Bar` under the `Foo` namespace, thus we have `Foo.Bar, Foo` as the as

[2018-10-31 12:43] Darrenwcox opened #2034 "printTicket - Stapling not working"
I am trying to get Stapling to work using a PrintTicket.

Like this:  https://stackoverflow.com/questions/48450487/print-pdf-in-c-sharp-with-staples

My printer supports stapling (since I can hit the print dialog, choose staping, and it staples).

However, using this code:

[code]

Does NOT make the "Stapling.StapleTopLeft" option work on the print ticket.

This must be a bug, and need to figure t

[2018-10-31 15:41] KathleenDollard commented on #2033
This is an error from the C# compiler. I believe it is expected behavior.

Did you try this (no using)

[code]

[2018-10-31 15:47] karelz commented on #2034
Do you have troubles on .NET Framework or .NET Core? (did you try both?)
Do you have same problems in other environments? (different printer, different machine)

[2018-10-31 15:50] karelz commented on #2033
Argh, I mixed up namespace aliasing with assembly aliasing which happens over command line arguments to C#, sorry.

[2018-10-31 15:51] karelz commented on #2033
Assuming this is purely C# compiler thing, I would expect the same result to be on .NET Framework and on .NET Core.
If you target netstandard20 or something else should not matter as soon as you have the same C# compiler version (which may be tricky).
Can you please confirm that @ivaylo5ev

[2018-10-31 16:06] ivaylo5ev commented on #2033
@KathleenDollard -  yes, I tried using the fully-quallified name of the attribute type as well without success.

@karelz - I receive the error from building from visual studio as well, which may be using the .NET framework compiler. I have a question -- if I invoke the msbuild.exe process (from VS developer tools console, will it use the framework compiler even when the target framework is set to

[2018-10-31 16:34] karelz commented on #2033
Definitely create minimal repro. Create .NET Framework console app and try it there. Without .NET Standard. The less specialization, the better.
If it repros everywhere, then it is not .NET Core specific, but rather question for "How to do this in C#" and we can route it.

[2018-10-31 16:41] ivaylo5ev commented on #2033
@karelz Thanks for the feedback. I will link to the repo project soon.

[2018-10-31 16:53] wfurt commented on #2020
What API do you have available? You can try to find the socket object via reflection and make the call as needed.

[2018-10-31 17:00] Darrenwcox commented on #2034
On the dot NET Framework but I would assume it would happen on the core as
well.

On Wed, Oct 31, 2018, 11:56 AM Karel Zikmund <notifications@github.com>
wrote:

[2018-10-31 17:02] Darrenwcox commented on #2034
And also I've tried it on Windows 7 and Windows 10 but I only have the one
printer that can do stapling. I assume this problem is happening other
people since other people have reported it on stack overflow.

On Wed, Oct 31, 2018, 12:59 PM Darren Cox <darrencox7777@gmail.com> wrote:

[2018-10-31 17:23] ivaylo5ev commented on #2033
[Here](https://github.com/ivaylo5ev/csharp-namespace-resolution-issue) it is. The solution contains 3 projects - the two libraries with overlapping naming, that targetting `netsdandard2.0` and a console application targeting `netcoreapp2.1`.

[2018-10-31 17:48] ryalanms commented on #2011
This has been fixed, and the change is in 10/27/18 and later builds.  Please verify and close when you get a chance.  Thanks.

Tested ```dotnet build``` and ```dotnet run``` on 3.0.100-alpha1-009708:
[code]

[code]

[2018-10-31 18:32] BasPaap commented on #2000
@richimori I haven't found a workaround, unfortunately. I reported the problem via the Visual Studio feedback tool where it has been Triaged, but no further updates. You can vote on it here if you like: https://developercommunity.visualstudio.com/content/problem/358905/filenotfoundexception-systemruntime-version4210-wh.html

[2018-10-31 19:04] karelz commented on #2033
@ivaylo5ev are you able to reproduce it when targeting .NET Framework? (not .NET Core or .NET Standard involved)

[2018-10-31 19:10] karelz commented on #2034
We do not track .NET Framework bugs on GitHub. You can either contact Microsoft support or use VS Developer Community portal for that - see details: https://github.com/dotnet/core/blob/master/README.md#getting-help

[2018-10-31 19:10] #2034 closed

[2018-10-31 20:08] nguerrera commented on #2033
This would reproduce in a traditional project as well. It is behaving by design.

You can do this in SDK-style projects as well. You need to set Aliases metadata on the ProjectReference.

Here is a change to your repro that shows how to do that: https://github.com/nguerrera/csharp-namespace-resolution-issue/commit/571ae9db3d43b28e9d7b619a78eaf57076062a62

[2018-10-31 21:41] karelz commented on #2033
Thanks @nguerrera a lot!
Given the info above, I think this is resolved, so closing. Let me know if I missed anything.

[2018-10-31 21:41] #2033 closed

[2018-10-31 21:41] morganbr commented on #2032
.NET Core 3.0 will support C++/CLI on Windows. I don't know much about MFC or how that interacts though.

[2018-11-01 08:13] ivaylo5ev commented on #2033
@karelz , @nguerrera Thanks! I did not know how to do that aliasing with the new SDK. Could you also tell me whether I can alias package references (the MSBuild ones) in the same manner? In my real use case I am referencing the libraries as nuget packages.

On a separate note, as I am using paket for managing my dependencies. It does seem to support library aliasing per documentation, but it does

[2018-11-01 14:53] mjrousos commented on #2011
I've confirmed this issue is fixed. Thanks @ryalanms!

[2018-11-02 07:10] sgf commented on #858
turn back the wheel of history

[2018-11-02 10:47] SYNTAXDZ commented on #1822
that worked for me, thanks

[2018-11-03 03:50] jerryno6 commented on #1822
thanbks @SYNTAXDZ , follow your suggestion, it said that

after that, I installed libicu55,
`sudo add-apt-repository "deb http://security.ubuntu.com/ubuntu xenial-security main"
    sudo apt-get update
    sudo apt-get install libicu55
 `

and then install net core

Now, I had dotnet core running on Ubuntu Server 18.04.1

[2018-11-03 11:44] linghuchong123 opened #2035 "how to make the identity area globalization and locallization in .net core mvc project?? I'm angry(=_=)!!!!"
# Issue Title
how to make the identity area globalization and locallization in .net core mvc project?? I'm angry(=_=)!!!!

[2018-11-03 11:54] linghuchong123 commented on #2035
and it's cumbersome that creating resource file for per view, I created more than 50 resource files, am I too stupid or .net core are too young????

[2018-11-03 21:50] EdLichtman commented on #2025
Thank you very much. Since it appeared to be a case of solving it by turning off and on again, I will close this issue.

[2018-11-03 21:50] #2025 closed

[2018-11-04 14:58] NaelsonBR commented on #802
up, my website is slow connect sql in linux ubuntu, have fix?

[2018-11-05 09:50] Gvo87 commented on #200
maybe this will help
http://tattoocoder.com/asp-net-core-getting-clean-with-soap/

[2018-11-05 15:51] liuweizzuie opened #2036 "How to transfer an amr stream to aac stream?"
# How do I transfer an amr stream to aac stream?

I'm using netcore 2.0 for centos with my company's webapi service, it is some kind of IM system. however I come across an request.

our users send messages , TXT, IMAGE, VOICE, short VIDEO, etc,  to Platform A.

our service read the messages from the APIs provided by Platform A, and transport them to Platform B.
while the messages from users of Pla

[2018-11-05 17:11] karelz commented on #2036
This is beyond scope of this repo, closing.
I think your best option is to ask on StackOverflow or other kind of forums.
Or maybe you will be lucky and someone will notice it here and answer ...

[2018-11-05 17:11] #2036 closed

[2018-11-05 21:16] TrieBr opened #2037 "ECDsa.Create Fails on Ubuntu, works on Windows"
# General

I'm trying to read a PEM encoded private key (.p8 file) and use it to encrypt a JWT token to communicate with apple APNS servers. At first, I had the problem described here: #1918 (Not implemented on non-windows platforms).

The comments mention, using `ECDsa.Create()` since it is implemented, so I tried that. I implemented the following code, which works fine on Windows (10 x64). Howev

[2018-11-05 22:35] rladuca commented on #2009
@diverdan92 I just checked the latest installer and this fix is available.

[2018-11-05 22:36] bartonjs commented on #2037
Given that I have no idea what Bouncy Castle is doing, the best thing I can recommend:

* Generate a new throwaway key.
* Provide the Pkcs8 for it.
* Print (hex, preferably) what you're putting in Q.X, Q.Y, and D after having read that particular key.

Since the array lengths seem to be valid, my only real guess is a Big/Little-Endian encoding problem, but I might get more insight with data in fro

[2018-11-06 00:06] karelz commented on #2009
Closing as solved.

[2018-11-06 00:06] #2009 closed

[2018-11-06 01:42] bartonjs commented on #2037
`D = 9F9BD156374FB78F3D69EFF10DEF8C296EC4F03EACA42F4257130D0CE9316FCD` (looks correct).

Q.X in the file says: `C995C0C4DD52077EA5FFD4BBBD3F8D251ACCC19B55B3957B8F8F1D0B1DA70502`

Q.Y in the file says: `741A1B88D26B12F57BC0D7D09FE9FC51FDD13747A2B972F16ED69950BCD79E82`

In a moment of inspiration I searched the Q.X value.  You're getting G.X from Bouncy Castle (G being the curve generator point), no

[2018-11-06 06:13] furoraest commented on #2037
I stuck with similar problem a while ago. Workable solution was not to touch anything from Bouncy libraries... or completely use Bouncy
In my case one part was on hardware (smart card) so i implemented everything in Bouncy.NET at the end...

[2018-11-06 12:56] jsantosh14 commented on #1114
Am using visual studio 2017 (v15.8.7) I download azure web job sdk(https://github.com/Azure/azure-webjobs-sdk) src code and tried to build I am getting this error

Severity	Code	Description	Project	File	Line	Suppression State
Error	NU1202	Package System.Text.Encoding 4.3.0 is not compatible with netcoreapp2.1 (.NETCoreApp,Version=v2.1). Package System.Text.Encoding 4.3.0 supports:
  - portable-net

[2018-11-06 13:38] iga1976 opened #2038 "error MSB4030: "1" is an invalid value for the "Optimize" parameter of the "Csc" task."
Hello,
Please clarify what *fix* or change I need to apply for the following.

Ubuntu 16.04 xenial x86_64

I have installed the following

ii  dotnet-host                                2.1.5-1                                      amd64        Microsoft .NET Core Host - 2.1.5
ii  dotnet-hostfxr-2.0.9                       2.0.9-1                                      amd64        Microsoft .NET Cor

[2018-11-06 14:15] svick commented on #2038
I can reproduce the error message when I set the environment variable `Optimize` to `1`:

[code]

Is it possible that you have the environment variable `Optimize` set? What does `echo $Optimize` print?

[2018-11-06 14:19] iga1976 commented on #2038
tony@ubuntu1604:~/sandbox/tsm/tdp/agents/sqlonlinux/mssqlsmoapp$ echo $Optimize

tony@ubuntu1604:~/sandbox/tsm/tdp/agents/sqlonlinux/mssqlsmoapp$

[2018-11-06 14:33] iga1976 commented on #2038
Actually i have an OPTIMIZE env var.
tony@ubuntu1604:~/sandbox/tsm/tdp/agents/sqlonlinux/mssqlsmoapp$ echo $OPTIMIZE
1
If i open a new terminal and make sure i dont have that OPTIMIZE the dotnet publish completes OK w/o error. Inside the diag build log it shows Optimize = true

I have to mention that it works nice on Suse but not on Ubuntu.
It looks specific to dotnet core on Ubuntu 16.04 xenial.

[2018-11-06 16:04] mbuchok opened #2039 "App_Offline - Linux/Apache"
# Issue Title

app_offline equivalent for Linux/Apache

# General

Perhaps I'm still a little new to Linux, but is there an app_offline equivalent for dotnet core hosted in a Linux environment... specifically using CentOS and Apache?

[2018-11-06 16:58] karelz commented on #2039
What is app_offline? Is it ASP.NET concept? Like this one: https://stackoverflow.com/questions/1153449/asp-net-2-0-how-to-use-app-offline-htm

[2018-11-06 17:01] karelz commented on #2038
Did you try to set `OPTIMIZE` to `true`? Does that work on Ubuntu?

[2018-11-06 17:05] karelz commented on #1114
Looks like different problem than the one originally reported here.

I don't think you need the package - its content is part of the platform (System.Runtime) in .NET Core 2.0+: https://apisof.net/catalog/System.Text.Encoding
Just don't include it and it should be fine.

[2018-11-06 17:21] mbuchok commented on #2039
Yes, just like that concept ... but doesn't work in a Linux environment since it appears to relate strictly to IIS.

[2018-11-06 17:36] TrieBr commented on #2037
@furoraest Unfortunately I'm using other libraries that require native .NET key material, and .NET does not support reading keys from PEM encoded files (as far as I know), which is why I needed BouncyCastle.

@bartonjs

Thanks for the insight. I think you are spot on. Windows must be ignoring my (incorrect) coordinates I set on Q, if D is set. Unix implementations simply fail.

For anyone else tha

[2018-11-06 18:21] bartonjs commented on #2037
netcoreapp30 has this functionality :smile: https://github.com/dotnet/corefx/issues/20414.

The Apple implementation doesn't have access to a point multiplier, only "import this PKCS8"; so the least common denominator is probably to make the Windows implementation reject the import of bad parameters, even if CNG allowed it (or see if there's a "make sure this makes sense" flag).

Moved the meat of

[2018-11-06 18:21] #2037 closed

[2018-11-06 19:20] jsantosh14 commented on #1114
@karelz I cloned the repo from github and just built it. that's an official azure sdk. I didn't add/modify anything.

[2018-11-07 07:39] foureighteen commented on #2004
I ran into an issue caused by misconfiguration. According to this documentation https://docs.microsoft.com/en-us/aspnet/core/security/authentication/cookie?tabs=aspnetcore2x&view=aspnetcore-2.2, _Cookie.Expiration_ is obsolete. Yet I got no warnings or errors when I used _Cookie.Expiration_ instead of _ExpireTimeSpan_ in ASP.NET Core 2.2 Preview 3.

[2018-11-07 08:19] bimonsubio1984 commented on #1577
You can use a custom made port of the library named Ported.VisualBasic:
No any warranties on code correctness after porting, just use on your own risk.

Imports Ported.VisualBasic
Strings.Left(S), etc.

More details:
https://github.com/dotnet/corefx/issues/31181#issuecomment-436422404

You can find a compiled assembly here:
https://github.com/bimonsubio1984/CommonCore/releases/download/First/Porte

[2018-11-07 16:47] muratg commented on #2004
@javiercn @pranavkm could one of you guy create a bug under aspnet/cors for this issue?

[2018-11-07 17:02] javiercn commented on #2004
@muratg I believe we already fixed this

[2018-11-07 19:05] rgelb opened #2040 "Running an ASP.NET Core website on Raspberry PI eventually crashes"
# Running an ASP.NET Core website on Raspberry PI 2 eventually crashes

I published a relatively simple (as far as server side processing) site onto my Raspberry Pi.  It ran for about 2 days, then I got the following error:

*** Error in `./ValueYourHome': double free or corruption (fasttop): 0x4fe51b60 ***
Aborted

Not sure where on the system I could find further information on this error.  Don'

[2018-11-07 22:51] matkoch commented on #1986
@leecow ping ^^^^

[2018-11-07 23:09] leecow commented on #1986
Sorry @matkoch was on a bit of vacation and missed this. Yes, this is 2 trips 1) the latest channel-version from releases-index.json which would point you to the correct releases.json for picking up the latest release.

[2018-11-08 03:17] mailfcly opened #2041 "Accessing resource strings from external assembly always returns default strings instead of string based on culture info."
# Issue Title

Accessing resource strings from external assembly always returns default strings instead of string based on culture info.

# Code in ClassLibrary2.dll
* add Resources.resx
* add Resources.en.resx
[code]

# Code in MainApp.exe
[code]

# Expected result
output text from Resources.en.resx

# Actual result
output text from Resources.resx

[2018-11-08 07:04] dasMulli commented on #1986
@leecow could you also have a look at my comment earlier? esp the question: given an SDK version number (e.g. 2.1.400), how do I get to the download URLs?

[2018-11-08 10:09] cesna opened #2042 "dotnet crashing with segmentation fault in libcoreclr.so"
# Dotnet app is crashing on high load with Segmentation fault from libcoreclr.so;

The application is handling http requests via Kestrel + Libuv. Kestrel limits are: MaxConcurrentConnections: 1500, AllowSynchronousIO: true, Libuv thread count: 16. On higher load app is crashing with seg fault.

Backtrace of crash dump # 1:

[code]
Backtrace of crash dump # 2:

[code]
System properties:

[code]

[2018-11-08 14:12] jenyckee commented on #2001
Yes

[2018-11-08 16:01] thedon-chris commented on #1822
This worked for me on Ubuntu Server 18.04.1!

Thanks!

[2018-11-08 16:33] leecow commented on #1986
@dasMulli - got it. Put that on my mental todo list yesterday while doing something completely different :-)

A possible solution is to include the latest SDK version in release-index.json. Since 'latest-release' == latest runtime version, an sdk field would communicate the latest SDK which carries that runtime.

How does that strike you?

On a slightly different topic, I think a security release

[2018-11-08 18:58] dasMulli commented on #1986
@leecow the problem is that any mapping between an SDK version and download URLs needs history of the SDKs which is being deprecated as part of this issue.

Having only the "latest for runtime" doesn't help.

The current azure pipeline tasks for the .NET Core tools installer tasks rely on releases.json to give download URLs for **any valid SDK version number** that has been released in the past. T

[2018-11-08 19:12] pmadusud opened #2043 "Unable to connect to HTTPS endpoint through WebProxy"
# Unable to connect to HTTPS endpoint through WebProxy

I am unable to connect to an https endpoint from behind the enterprise firewall. I get the below error.
"Only the 'http' scheme is allowed for proxies"

# General

I have created a Azure Function Core App which uses .NET Core 2.1 and functions runtime v2. The code tries to get data from a https endpoint. During debugging I am not able to conn

[2018-11-08 21:30] leecow commented on #1986
Yep, I understand. The index is just a lightweight entry for discovery. The channel releases.json files would have all of the history and details (including download url) to cover what you describe.

[2018-11-08 22:29] rido-min opened #2044 "PresentationFramework not found in SelfContainedDeployments"
# PresentationFramework not found in SelfContainedDeployments

1 - Create WPF app `dotnet new wpf`
2 - Create a Publishing Profile with Self Contained and a RID:
[code]
After publish, the output exe does nothing, but running `dotnet myapp.dll` returns

[code]

I also reviewed the folder, and PresentationFramework.dll is not there.

I'm running:

[code]

[2018-11-08 22:45] nguerrera commented on #2044
This issue was moved to dotnet/sdk#2654

[2018-11-08 22:45] #2044 closed

[2018-11-08 23:44] dasMulli commented on #1986
@leecow I don't see 2.1.400 in there.

2.1.2 runtime was released with 2.1.302
Then a 2.1.400 was released, again for the 2.1.2 runtime
Then a 2.1.3 runtime was released along a 2.1.401 SDK

We'd need download URLs for all 3 of these SDKs.
Currently, only 2 (2.1.302, 2.1.401) are provided.

[2018-11-09 00:57] jerryno6 commented on #1822
@thedon-chris : we are discussing this in
[](https://github.com/dotnet/core-setup/issues/4724#issuecomment-437053420)

I think you should follow this.

[2018-11-09 02:23] John0King opened #2045 "Could WPF on .net core have `Program.Main`?"
AFAIK  `App.Xaml` hide the entry-point in WPF .
Could the template of WPF  always has the `Program.Main` entry-point ?

[code]

this will let developer know  how Xaml app start, and customize app start easily (control start as command line app or UI app).

[2018-11-09 04:10] dbegg35 commented on #1822
Thanks for the information in that thread, it to helped resolve my issue.  The issue appears to have happened when I upgrade from 16.04 to 18.04.  My dotnet core package version was still pointing at Xenial instead of Bionic.  I tried completely removing the dotnet core Xenial package and installing the Bionic version but it did not work. I ended up manually editing my /etc/apt/sources.list.d/mspr

[2018-11-09 05:20] rakeshsinghranchi commented on #1822
cc @leecow . Thanks @dbegg35 for sharing the reproducible step.

[2018-11-09 13:31] anhmiuhv commented on #2001
This also happens to me

[2018-11-09 22:45] sirblenheim commented on #2043
What URL are you using for the proxy address? The error seems to indicate that you are trying to use a proxy over the HTTPs protocol.

[2018-11-10 04:56] dannyjacosta opened #2046 ".Net Core not enforcing implementation of members in a Class C inherited from Interface A through Interface B"
# .Net Core not enforcing implementation of members in a Class C inherited from Interface A through Interface B

# General
I'm seeking some guidance with the following issue.
I have an Interface A with a method A.DoSomething
I have another interface B with a method B.DoSomethingElse. B Inherits from A
I have a class C that inherits from interface B
[code]
If I have the above code in .NET Standard

[2018-11-10 13:30] reevelau commented on #2001
I had the same issue on a dotnet generate web project recently. But I can fix the issue by editing `Properties\launchSettings.json` to modify the `applicationUrl` in your app config.

From this
[code]
to this
[code]

I suspect it could be an issue of the dotnet boilerplate project "ASP.NET Core Web API".

[2018-11-10 14:14] svick commented on #2046
I created a brand new .Net Core 2.1 application in VS 15.8.9 with the following code:

[code]

And I got the expected error:

Is it possible that something else is going on on your side, like you editing a file that isn't part of the project? If not, could you provide exact steps to reproduce the problem?

[2018-11-10 23:34] mmacneil opened #2047 ""Official" Abbreviation"
# "Official" Abbreviation for .NET Core & ASP.NET Core

Sorry if this doesn't belong here or is a waste of time but I'm just wondering if there is an abbreviation/acronym to represent *dotnet core* sensibly and by extension *asp.net core*.

I find repeatedly typing and speaking the names to be wordy - maybe it's just me.

I think `dnx` for *dotnet core* is ideal, but it was the name of the related

[2018-11-11 00:04] kjsingh commented on #2047
dnc and anc? 😃

[2018-11-11 02:42] memoryfraction opened #2048 "Apply to add Priority Queue to .Net Core"
Apply to add Priority Queue to .Net Core

# General
Priority Queue is a useful data structure. Some one may explain that SortedSet can handle similar scenarios. Problem is, sometimes, users  need to add duplicate items.

So, I apply to add Priority Queue to .NET CORE.

Thanks

[2018-11-11 11:43] dannyjacosta commented on #2046
@svick, Indeed it might have been something on my side. I get the expected error after rebooting my machine. I spent hours struggling with this issue and the one things that I had not done was rebooting. Thank you for your time.

[2018-11-11 11:43] #2046 closed

[2018-11-11 11:44] dannyjacosta commented on #2046
This not an issue. It was something on my side.

[2018-11-12 03:08] leecow commented on #1986
I'm thinking through the case where we have an updated toolset which contains an existing runtime.

2.1.500 will be shipping with an updated runtime (2.1.6) so that will be a 'normal' case.

[2018-11-12 07:33] nbgucer commented on #1522
If the following methods does not help, you could try following the documentation for Ubuntu 18.04 down below:

https://github.com/dotnet/core/blob/master/release-notes/download-archives/2.1.0-download.md#ubuntu-1804

[2018-11-12 08:39] jenyckee commented on #2001
@reevelau This doesn't help for

[2018-11-12 19:12] karelz commented on #2048
Duplicate of https://github.com/dotnet/corefx/issues/574

[2018-11-12 19:12] #2048 closed

[2018-11-12 19:14] karelz commented on #2047
We do not have official abbreviations beyond ".NET Core" and "ASP.NET Core" ... the names are already short enough.
I have seen on few occasions DNC being used for DotNetCore (in file names), but it was VERY confusing to me and others IMO. It is NOT something I would recommend to use a lot.

[2018-11-12 19:14] #2047 closed

[2018-11-12 19:16] karelz commented on #2045
@John0King is that something that exists on WPF for .NET Framework?
BTW: This repo tracks only work for porting WPF to .NET Core. We are not set up yet to track feature requests that are beyond parity with WPF on .NET Framework.

cc @fabiant3 @diverdan92

[2018-11-12 19:19] karelz commented on #2043
HTTPS proxies are not supported on .NET. The support in the industry is not wide-spread either (it just started appear in last couple of years).

However, it is NOT the same thing as connecting **to HTTPS endpoint via HTTP proxy** (which is IMO the primary problem you want to solve). That is totally valid scenario, fully supported and should be working.
Can you please double-check that you can use

[2018-11-12 19:29] karelz commented on #2032
@diverdan92 @fabiant3 any insights about MFC support in WPF?

[2018-11-12 19:34] wfurt commented on #2040
https://github.com/dotnet/coreclr/issues/18486 ???

[2018-11-12 19:37] karelz commented on #2040
That one was fixed in 2.1.5: https://github.com/dotnet/coreclr/issues/18486#issuecomment-428402126 ... @rgelb can you please try that version? (and check that you used earlier 2.1 version?) Thanks!

Thanks @wfurt!

[2018-11-12 19:47] karelz commented on #1889
What does the line do?
Do we still need to update any docs?

[2018-11-12 19:52] karelz commented on #2001
See https://github.com/dotnet/core/issues/948#issuecomment-336284252 ... unless the right team knows about the problem and understands the root-cause, they can't provide solutions.

[2018-11-12 20:07] diverdan92 commented on #2032
@jeffschwMSFT - do you know?

[2018-11-12 20:11] jeffschwMSFT commented on #2032
I am not aware of any explicit product decision around MFC usage.  @bitbonk can you share a sample of what you have been doing on .NET Framework WPF + MFC?  We can take a look.  If it is WIndows only and C++/CLI I would expect it would align with our C++/CLI work.

[2018-11-12 22:32] pmadusud commented on #2043
The URL provided for the proxy address is the proxy server address along with port. For example. <Proxy Server name>:port. As you can see above, I am not trying to connect to proxy server over https portal.

[2018-11-12 22:37] pmadusud commented on #2043
Karelz, as mentioned in my above comment, I am not using a https Proxy. The proxy address is just the server name & port. Using this proxy server, I am connecting to a https end point. Please let me know if I am missing something here. Also, let me know if you would need any more information.

[2018-11-12 22:51] karelz commented on #2043
That is a bit suspicious. Can you please double check that? Because the error you're quoting is reported only if you use HTTPS URL for the proxy itself:
https://github.com/dotnet/corefx/blob/a10890f4ffe0fadf090c922578ba0e606ebdd16c/src/System.Net.Http/src/Resources/Strings.resx#L375-L377
https://github.com/dotnet/corefx/blob/449190d7c873b56337ba6a7f2d9b53f5232ad16d/src/System.Net.Http/src/System/N

[2018-11-13 01:12] tarekgh commented on #2041
CC @sdmaclea

@mailfcly are you using net core in your project? I just want to confirm.

If this is the case, @jeffschwMSFT mentioned, satellite assemblies will not be found with LoadFrom... you need to subscribe to the resolve event to find them.

[2018-11-13 05:03] rgelb commented on #2040
I believe it was some version of .NET Core 2.1.x.  I don't remember exactly the version that was installed during the build/publish cycle.  And I am not clear as to how to interrrogate this information from the binaries deployed on the raspberry pi.

The distro is Raspbian, which comes with the Raspberry.  The version is "Raspbian GNU/Linux 8 (jessie)".  Based on wiki [page](https://en.wikipedia.o

[2018-11-13 05:06] rgelb commented on #2040
@karelz I'll give it a shot and report if the problem recurs.

[2018-11-13 06:35] seamusic commented on #1774
[root@Lennon-CentOS ~]# yum install dotnet-sdk-2.1
Loaded plugins: fastestmirror
Loading mirror speeds from cached hostfile
Resolving Dependencies
--> Running transaction check
---> Package dotnet-sdk-2.1.x86_64 0:2.1.403-1 will be installed
--> Processing Dependency: dotnet-runtime-2.1 >= 2.1.5 for package: dotnet-sdk-2.1-2.1.403-1.x86_64
--> Processing Dependency: aspnetcore-runtime-2.1 >= 2.1.5

[2018-11-13 09:11] jenyckee commented on #2001
@karelz That's very unfortunate, what kind of information do you need in order to understand the root-cause?

[2018-11-13 10:56] mantzouranisc commented on #1774
Following the instructions here:
https://www.microsoft.com/net/download/linux-package-manager/centos/runtime-current
I ran:
sudo rpm -Uvh https://packages.microsoft.com/config/rhel/7/packages-microsoft-prod.rpm

And then:
sudo yum install aspnetcore-runtime-2.1.x86_64

I get:
[code]

[2018-11-13 14:47] iga1976 commented on #2038
I unset the OPTIMIZE .
OPTIMIZE= dotnet publish ...
that way it calls dotnet w/o OPTIMIZE set at all. Other idea ?

[2018-11-13 16:26] mattmon1 opened #2050 "Running dotnet on Alpine Linux yields errors loading libstdc++ and libgcc"
I'm trying to run a .NET Core 2.1 console application on an Alpine Linux (3.8.1) VM that's hosted by W10 HyperV. Just reaching out to the community to see if you can provide some guidance for getting up and running. Unfortunately, I'm experiencing some issues when I run dotnet from the Alpine Linux console.

For the Alpine Linux install, I followed [this](https://wiki.alpinelinux.org/wiki/Install_

[2018-11-13 16:29] karelz commented on #2038
@iga1976 with OPTIMIZE unset, do you still see the issue?
If you do, you can either track down where it comes from (from the logs), or you can try it on a brand new machine/VM from scratch. It seems like your machine is misconfigured or something.

[2018-11-13 16:37] mattmon1 commented on #2050
Sorry, a correction... it typed that I ran apt.... which should read that I ran apk

[2018-11-13 17:17] karelz commented on #2050
@wfurt @leecow any suggestions? I don't see libstd or libgcc in list of prereqs for Alpine or other distro: https://docs.microsoft.com/en-us/dotnet/core/linux-prerequisites?tabs=netcore21#install-net-core-for-supported-alpine-linux-versions-64-bit

cc @bartonjs

[2018-11-13 17:20] leecow commented on #2050
@janvorli to help puzzle out the sys dependency issue.

[2018-11-13 17:22] tarekgh commented on #2041
@mailfcly I assigned this one to you. could you please have a look why the satellite assembly didn't get loaded?

[2018-11-13 17:22] karelz commented on #1774
@leecow looks like 3 people hit the same issue ... any idea?

[2018-11-13 17:24] karelz commented on #1774
BTW: It would be best to file a separate issue as the latest error seems to be 2.1.6 specific. It would be great to confirm distro as well.
If anyone creates it, please link it here. Thanks!

[2018-11-13 17:26] omajid commented on #1774
@karelz It looks like aspnetcore-runtime 2.1.6 has landed in yum repos but the dependency dotnet-runtime 2.1.6 hasn't. dotnet-runtime 2.1.5 is found, but that's not sufficient for aspnetcore-runime 2.1.6. That's causing the error in both the logs above.

[2018-11-13 17:29] karelz commented on #1774
@omajid thanks for expalnation (still Linux newb here) - @leecow who can help to fix it? Looks like we forgot to publish all the right packages ...

[2018-11-13 17:31] tpardhu561 opened #2052 "dotnet build fails with "MSB3030 unable to copy dll because it was not found""
# dotnet build fails with "MSB3030 unable to copy dll because it was not found"

# issue

I'm trying to build with .Net core 2.1.302 on a Windows node thru Jenkins.

steps to reproduce the issue:
`dotnet build
`
`E:\apps\dotnet-v2.1.3\sdk\2.1.302\Microsoft.Common.CurrentVersion.targets(4172,5): error MSB3030: Could not copy the file "obj\Debug\netstandard2.0\Expression.dll" because it was not foun

[2018-11-13 17:31] tarekgh commented on #2041
Sorry, I  meant to assign it to @sdmaclea

[2018-11-13 17:37] leecow commented on #1774
We're in the middle of release 2.1.6 and looks like part of the publish didn't happen. Looking into it.

[2018-11-13 17:40] karelz commented on #2052
What is Expression.dll? Is it part of your app?
Are all prereqs installed on the Jenkins machine?
Are you able to reproduce the same on brand new VM (without Jenkins)?

[2018-11-13 17:43] karelz commented on #1470
@richlander ping again ...

[2018-11-13 17:43] leecow opened #2053 ".NET Core 2.1.6"
# November 2018 .NET Updates

The following .NET updates were released in November 2018. This issue will be updated if there are any additional releases during the month.

## .NET Core

* [.NET Core November 2018 (2.1.6 and SDK 2.1.500) Update release notes](https://github.com/dotnet/core/blob/master/release-notes/2.1/2.1.6/2.1.6.md)

A [discussion issue](https://github.com/dotnet/core/issues/2053

[2018-11-13 17:51] tpardhu561 commented on #2052
@karelz Expression.dll is part of our app and will be generated during the build process.
Yes, all the prereqs were installed on Jenkins machine and I'm able to build other apps.
I tried but unable to reproduce the issue. I see this issue only when built thru a pipeline in Jenkins but works fine with a freestyle job in Jenkins.

As per logs, I get an error message that the DLL was not found but in

[2018-11-13 17:56] karelz commented on #2052
@tpardhu561 in that case I would suggest to involve some developers to help you out debug the build. It seems like the DLL is referenced at the moment it was not build yet. Maybe there is bug in parallelism of build and how projects depend on each other.

[2018-11-13 17:58] karelz commented on #1973
Superseded by newer release 2.1.6 - see #2053

[2018-11-13 17:58] #1973 closed

[2018-11-13 18:15] tpardhu561 commented on #2052
@karelz I'm trying to get app Developer to discuss.

[2018-11-13 18:49] karelz commented on #2020
Answered - there is no magic solution, just potential hacks or update of the library.
Closing.

[2018-11-13 18:49] #2020 closed

[2018-11-13 18:51] karelz commented on #2027
@ViktorHofer can you please help me route it? Is it something we want to move to CoreFX and fix?

[2018-11-13 19:13] yaakov-h commented on #2053
@leecow the October link is broken in the related Announcements issue.

[2018-11-13 19:43] karelz commented on #2053
@yaakov-h thanks! Fixed.

[2018-11-13 20:02] ViktorHofer commented on #2027
Thanks @svick. Took a quick look. The cause is that OnDeserialization is called before OnDeserialization is called on the Parameters Dictionary<,>.

A more general issue description: The hash code computation of stored (n-deep) childs is wrong it the child defers its deserialization logic, i.e. with IDeserializationCallback.OnDeserialization.

For a possible solution I would need to dig deeper. Fo

[2018-11-13 20:03] ViktorHofer commented on #2027
@karelz I'm not an admin here, can you please move it? Thanks.

[2018-11-13 20:08] #2027 closed

[2018-11-13 20:08] karelz commented on #2027
Issue moved to [dotnet/corefx #33470](https://github.com/dotnet/corefx/issues/33470) via [**ZenHub**](https://www.zenhub.com/)

[2018-11-13 20:31] wfurt commented on #2050
try `apk add libstdc++`. That is normally part of OS so it is not listed as extra prerequisite.

[2018-11-13 20:49] leecow commented on #1774
Confirmed 2.1.6 / SDK 2.1.500 now working on CentOS 7.

[2018-11-13 21:24] mattmon1 commented on #2050
Tried apk add liststdc++

I can find the package with a search but Alpine shell returns 'unsatisfiable constraint' when I try to install the package

![apk add liststdc 2018-11-13_15-21-40](https://user-images.githubusercontent.com/35613928/48443917-30671380-e758-11e8-8223-bd6c76d3a548.png)

[2018-11-13 21:29] mattmon1 commented on #2050
fwiw, here's a list of the installed packages. It's pretty much the Alpine Linux default set since the only 2 package install's i tried failed per my earlier comments.

![apk info 2018-11-13_15-28-02](https://user-images.githubusercontent.com/35613928/48444229-f21e2400-e758-11e8-98dd-1b5440825ce3.png)

[2018-11-13 21:30] mattmon1 commented on #2050
and i mistyped - I did add the hvtools package

[2018-11-13 21:43] wfurt commented on #2050
mistyped what? You should not need version when adding package and it is `libstdc++` not `liststdc++`

[code]

[2018-11-13 22:36] mattmon1 commented on #2050
Mistyped "the only 2 package install's i tried failed per my earlier comments." - i did install hvtools.

Running:
apk add liststdc++
apk add libgcc

without version numbers worked. Now, when I run dotnet, i get the expected usage output.

![dotnet good 2018-11-13_16-21-50](https://user-images.githubusercontent.com/35613928/48447439-7ffe0d00-e761-11e8-9c0e-211396761ed2.png)

For .NET Core 2.1.2 to

[2018-11-13 22:40] wfurt commented on #2050
note that `apk add libgcc` should not be needed. That should be pulled in as dependency for libstdc++
do we plan Alpine specific instructions @leecow ?

[2018-11-13 22:40] #2050 closed

[2018-11-13 22:51] leecow commented on #2050
Yep, do need to add Alpine steps to the docs.

[2018-11-14 00:11] karelz commented on #1938
Replaced by Preview3 - see #2004

[2018-11-14 00:11] #1938 closed

[2018-11-14 00:15] karelz commented on #2019
Any update? What are the next steps?

[2018-11-14 01:09] karelz commented on #1983
Not necessary anymore, closing. If there is spike in discussion in future, we can reopen.

[2018-11-14 01:09] #1983 closed

[2018-11-14 01:57] noahfalk commented on #2019
Adding @tommcdon
@mikem8361 sounded like it was on his todo list to look into but he is on vacation right now so there wouldn't be an update from him for a while.

[2018-11-14 03:19] liuweizzuie opened #2055 "The Uri string is too long (netcore2.0)"
hello  there,
I'm back again.

I hate to write the params in url, but some evil servers require me to.

here's the server's doc:
[code]

it's really, really evil to upload a file with urlencoded.

I wondered if  I can put the stream in the http body, but the server returned 400 and say the content is empty.

I don't have other choice but to put the file in the url.

![image](https://user-images.gi

[2018-11-14 03:39] liuweizzuie commented on #2055
I find the solution in [StackOverflow](https://stackoverflow.com/questions/38440631/httpclient-the-uri-string-is-too-long).

because I build a StreamContent, It can't work. then I build a StringContent, it works fine.

thanks.

[2018-11-14 03:39] #2055 closed

[2018-11-14 13:47] vlapenkov opened #2056 "The specified framework 'Microsoft.AspNetCore.App', version '2.1.4' was not found."
#  Dotnet core Framework 2.1.4 is installed on Windows but can't run

# General

dotnet .\WebAppCore.dll error
It was not possible to find any compatible framework version
The specified framework 'Microsoft.AspNetCore.App', version '2.1.4' was not found.
- Check application dependencies and target a framework version installed at:
    \
 - Alternatively, install the framework version '2.1.4'.

PS

[2018-11-14 13:50] vlapenkov commented on #2056
Here is .csproj file
<Project Sdk="Microsoft.NET.Sdk.Web">

  <PropertyGroup>
    <TypeScriptCompileBlocked>true</TypeScriptCompileBlocked>
  </PropertyGroup>
  <PropertyGroup>
    <TargetFramework>netcoreapp2.1</TargetFramework>
  </PropertyGroup>

  <PropertyGroup>
    <UserSecretsId>aspnet-WebAppCore-6516f79b-cb7c-43cd-b942-286829c40402</UserSecretsId>
    <DockerTargetOS>Windows</DockerTargetO

[2018-11-14 14:51] NN--- commented on #2032
@morganbr Is it official statement ?
I didn't see any blogpost about this

[2018-11-14 16:03] karelz commented on #2032
C++/CLI is official. MFC support depends on what is expected.

[2018-11-14 17:03] karelz commented on #2056
Are you able to reproduce the same problem on brand new machine/VM?

[2018-11-14 17:04] karelz commented on #2056
Does it fail for newly created project (with manually added dependencies) as well or is it specific to your larger project?
If you can repro with newly created project, can you please share your steps? Thanks!

[2018-11-14 17:06] karelz commented on #2056
Can you please post entire `dotnet --info` output? Does it have this entry?
`Microsoft.AspNetCore.App 2.1.4 [C:\Program Files\dotnet\shared\Microsoft.AspNetCore.App]`

[2018-11-14 17:16] Eilon commented on #2056
Projects should generally not reference `Microsoft.AspNetCore.App` with a specific version:

[code]

But instead they should leave off the version and the SDK will choose the appropriate version:

[code]

But, if you think you have 2.1.4 installed, that should still work...

More info on the package version can be found in the migration doc: https://docs.microsoft.com/en-us/aspnet/core/migration/2

[2018-11-14 17:23] jarz commented on #2053
I'm unable to restore an internal NuGet package from Azure DevOps Artifacts with SDK 2.1.500, but SDK 2.1.403 works. Should I create an issue here or in another repo?

[2018-11-14 17:29] karelz commented on #2053
@jarz it does not seem to be related to 2.1.6, so not on this issue.
Try to narrow down what triggers the problem - is it your environment? (Azure DevOps Artifacts - whatever that is) Or is it reproducible under some circumstances everywhere? If it is not specific problem of the environment, then this repo is a good start.

[2018-11-14 17:55] jarz opened #2057 "Unable to dotnet restore from a private VSTS feed w/ SDK 2.1.500"
# Unable to dotnet restore from a private VSTS feed

In Azure DevOps (VSTS) I'm unable to use the latest SDK (2.1.500) to build my project, as it relies upon a package in my private feed. However, if I use SDK 2.1.403 the build succeeds.

I see a `401 Unauthorized` in the log. My account has the _Package Management_ license assigned (and it'd be a `402 Payment Required` if I didn't).

I use the .N

[2018-11-14 18:06] karelz commented on #2057
What is the Azure DevOps environment? Are you able to reproduce it in isolation / locally?
Is there any proxy set up there?

If you don't know the answer or if you are unable to isolate the repro to local environment, I would suggest to contact Azure DevOps support first.

[2018-11-14 18:18] karelz commented on #2043
I don't think we support PAC files in URL for proxy. What is the inner exception in the second case?
Can you grab the exception in the first case? What is the callstack? Can you try to debug into CoreFX itself?

cc @davidsh

[2018-11-14 18:25] Eilon opened #2058 "Unable to debug"
_From @h0730303779 on Tuesday, 13 November 2018 03:03:24_

### Describe the bug
Unable Debug ConsoleApp    String exceeds 20W  on  dotnetcore  !!!

### To Reproduce
Steps to reproduce the behavior:
1. Net Core 2.1
2. Run this code
            var  s = '**'; //Please enter the 20W string
            Console.WriteLine(s.Length);
            Console.ReadLine();
3.
4. See images
5.No problem for Same

[2018-11-14 18:30] karelz commented on #2058
@h0730303779 what is "20W" string? Can you please post full compilable repro?
What does it mean it is unable to debug? (I don't understand the non-English text in your screenshot)

[2018-11-14 18:34] davidsh commented on #2043
If the URI is provided like the below
Address = new Uri($"servername:port")
then i get the error "Only the 'http' scheme is allowed for proxies".

It is invalid to specify a proxy using just the "servername:port" format.  That is not a valid URI since it doesn't have a scheme.  You must specify it as "http://servername:port"

The error that you're getting is an incorrect error message, unfortunate

[2018-11-14 18:35] davidsh commented on #2043
Also, can you try an experiment?  If you change this from 'POST' to 'GET' does it work?

[2018-11-14 18:37] vcsjones opened #2059 "Missing 2.1.403 SDK"
For a while we've had this in our Travis builds for installing the 2.1.403 SDK prior to test execution.

[code]

That has worked for months until recently, which seems to coincide with the 2.1.500 SDK release. At ~10:30 AM EST, this resulted in a 404.

![image](https://user-images.githubusercontent.com/361677/48504269-5355fe00-e812-11e8-9ca5-a4fabc1b9a3d.png)

<strike>Is this expected behavior?</s

[2018-11-14 18:39] karelz commented on #2059
@leecow can you please take a look? Or recommend someone to take a look?

[2018-11-14 18:53] jarz commented on #2057
`dotnet restore` works fine locally.

Considering the build works if I use 2.1.403 instead of 2.1.500, there must be a breaking change somewhere...

[2018-11-14 18:55] serdam55 opened #2060 "Cannot run .net core console app on linux with supervisor"
I have created a console application which have a menu that allow me to navigate between the menu items. I handle the navigation logic in this method:

[code]

[here](https://pastebin.com/SpkmCBnq) the full class.

Now on windows all works well, but when I run this application on my linux server with supervisor I get:

The stacktrace display:

[code]

After some searching I discovered that this pr

[2018-11-14 18:58] karelz commented on #2057
Possibly (there could be some misconfiguration which just "happened to work by accident").
The key is narrowing down what triggers the problem. Without that information it is not actionable :(

[2018-11-14 19:00] karelz commented on #2060
Is it possible that the "linux supervisor" (whatever that is) redirects console, leading to the problem?
cc @wfurt

[2018-11-14 19:33] leecow commented on #2059
Everything looks fine on the Azure storage - https://dotnetcli.azureedge.net/dotnet/Sdk/2.1.403/dotnet-sdk-2.1.403-linux-x64.tar.gz downloads the file as expected.

[2018-11-14 19:33] #2059 closed

[2018-11-14 19:33] pmadusud commented on #2043
By changing the Uri as http://servername:port, i am able to get the proper response. Thanks for the tip.

I would like to know if there is some way of having an equivalent of <defaultproxy> in .NET Framework in .NET Core. This is to have a better solution to deal with Local Enterprise proxy which will not be a scenario when it is deployed in Azure Functions. Any inputs on this?

[2018-11-14 19:36] davidsh commented on #2043
What "equivalent" are you referring to?  I don't understand.

[2018-11-14 19:45] pmadusud commented on #2043
oops.. sorry... <defaultproxy> setting in App.config which is available in ,NET Framework. Is there an equivalent of that in .NET Core.

[2018-11-14 19:52] davidsh commented on #2043
Currently there are no default config files (app.config/web.config) for .NET Core apps that are similar to .NET Framework.  So, it will not be possible to map this concept directly.

There is generalized support for configuration such as that provided by ASP.NET for example:
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/index?view=aspnetcore-2.1

There are also configurat

[2018-11-14 20:00] pmadusud commented on #2043
@davidsh thanks for this. I did try to use http.proxy setting in Visual Studio Code. However, .NET Core doesn't seem to use that setting. I guess that is the one which you referred in the above note about Windows .NET core doesn't support environment variable like http_proxy. Please correct me if I am wrong.

[2018-11-14 20:35] pmadusud commented on #2043
@davidsh thanks. However, it doesn't seem to use the standard IE setting. I get a 407 proxy authentication error. I am using the latest release of Visual Studio Code for development.

[2018-11-14 20:41] davidsh commented on #2043
How are you passing in credentials to the proxy?  If you using the "default system" proxy, then the HTTP stack will read the proxy settings from IE settings.  But you are required to tell HttpClient to use some credentials to pass to the proxy.  In the case of the "default system" proxy, you need to write code like this:

[code]

I'm assuming in the example above that your enterprise networking to

[2018-11-14 21:44] pmadusud commented on #2043
I have tried both the options below.
**Option 1**
[code]
**Option 2**
`HttpClient client = new HttpClient();`

Both the options either returns the below error or in some cases 407 Proxy Authentication error.
`A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond`

I am a

[2018-11-14 21:52] davidsh commented on #2043
HttpClient client = new HttpClient();

This option will never work because you are not specifying credentials for the proxy at all.  So, if the default system proxy requires credentials, you will always get a 407.

Let's start with collecting some information.

* What version of Windows OS are you running?  Please open up a CMD.EXE window and type "ver".
* What version of .NET Core are using?  Typ

[2018-11-14 21:58] wfurt commented on #2060
most certainly. In order for some console functions to work you need to TTY -> controlling terminal.
That is normally created by login or sshd and it will associate it with your session. That will not work if your stdin is not terminal.
ssh for example has -t to force pseudo-terminal allocation for cases when it is needed. Your supervisor app may need to do something similar. I'm not sure at this

[2018-11-14 22:30] omajid commented on #2060
I just answered this on stackoverflow: https://stackoverflow.com/a/53309571/3561275.

Aside from what @wfurt said, I don't even understand what the goal is here. An application can't be both interactive for users and a system deamon. These are two opposite design goals.

[2018-11-14 22:37] Eilon commented on #2058
Here's what I got:

Though I don't know what 20W is either.

[2018-11-14 22:47] karelz commented on #2059
Any idea what caused the hiccup @leecow? Something we can watch for / avoid in future? Maybe caused by our 2.1.6 release? Or is it just mystery?

[2018-11-14 23:13] pmadusud commented on #2043
Responses for the questions...

`What version of Windows OS are you running? Please open up a CMD.EXE window and type "ver".`
Microsoft Windows [Version 6.1.7601]
`What version of .NET Core are using? Type "dotnet --info" from a CMD.EXE window.`
**.NET Core SDK (reflecting any global.json):**
 Version:   2.1.403
 Commit:    04e15494b6
**Runtime Environment:**
 OS Name:     Windows
 OS Version:  6.

[2018-11-14 23:18] davidsh commented on #2043
Thank you for the information.

What happens if you change the IE settings so that instead of specifying "Use automatic configuration script", you instead type the name of the server and the port number into the "Use a proxy server for your LAN" section.  Then uncheck the "Use automatic configuration script" and check the "Use a proxy server for LAN" checkbox.

In all cases, make sure you use the

[2018-11-14 23:18] davidsh commented on #2043
Also, are you able to do a Wireshark trace as well?

[2018-11-15 00:33] julre commented on #2032
@karelz
Does that mean it will be possible to use .NET standard and .NET core assemblies from C++/CLI? It would bei awesome to use libraries like Microsoft.Extensions.Logging   in our C++/CLI code!

[2018-11-15 00:35] karelz commented on #2032
It means that C++/CLI assemblies (targeting .NET Core) will be able to run on .NET Core.

[2018-11-15 02:03] h0730303779 commented on #2058
sorry   .  200,000 string length

[2018-11-15 02:15] h0730303779 commented on #2058
hello   variable  's'  Arbitrary length string 200,000 Above

[2018-11-15 02:15] h0730303779 commented on #2058
hello   variable  's'  Arbitrary length string 200,000 Above

[2018-11-15 02:39] h0730303779 commented on #2058
![image](https://user-images.githubusercontent.com/16299810/48526448-a6878980-e8c2-11e8-84b3-992482c6ee03.png)

sorry , My English is poor

[2018-11-15 04:41] vcsjones commented on #2059
@leecow This was for 2.1.403 though, not 2.1.500.

[2018-11-15 07:37] serdam55 commented on #2060
Thanks all you guys for the answers. I saw your answer @omajid and I'll try to explain you what the application does:
Essentially the app is a web crawler so it must run 24h on the server, initially the application worked in this way then I decided to create a menu which I can use for interactive with the app and this works as well.
The problem right now is that I need to run the crawler as a syst

[2018-11-15 07:39] cesna commented on #2042
@karelz thanks for your answer. Yes, I am using interop with unmanaged code lib, but I tested with same lib managed code version, and app still crashes. Another lib in my app, that possibly is using interop is Microsoft.Data.Sqlite, but probably this is not the cause, because it is called only a few times on app start and is not used in HTTP requests processing. I am using a few physical servers,

[2018-11-15 08:23] bitbonk commented on #2032
I can't share the whole application because it is too big, but this is basically what we do:

Our root application are (have now become) regular C# WPF application projects. In `System.Windows.Application.OnStartup` we call in to a mixed mode (C++/CLI) to initialize MFC (using a ref class `MfcInitializer`).

_`MyApp.cpp` in the mixed mode assembly_:
[code]

Our application has an extensibility mod

[2018-11-15 09:49] vlapenkov commented on #2056
It solved when i installed runtime and hosting bundle from https://www.microsoft.com/net/download/dotnet-core/2.1
I hadn't runtime yet

[2018-11-15 09:49] #2056 closed

[2018-11-15 12:03] 0xd4d commented on #2058
This is a known Roslyn bug: https://github.com/dotnet/roslyn/issues/20118

A workaround is to split the string into many smaller strings, eg.:

[code]

[2018-11-15 12:13] h0730303779 commented on #2058
thank you for your reply
I will put it in the database in the production environment.

[2018-11-15 12:32] omajid commented on #2060
I think we agree that this is not a bug in .NET Core.

This should work. Personally, I would add a separate flag like `--daemon` or `--non-interactive` that gets passed by the `.service` file to make this explicit.

Is this command supposed to configure the crawler? Or just to start it if the crawler is not running?

If it's the first, then it might be worth looking into to having this console app

[2018-11-15 12:55] serdam55 commented on #2060
@omajid

The flag passed can be read in the main method? I never used a similar thing, could you please show a little example, I'll be grateful.

The service that I have already have `Restart=always`, I just need to check if the crawler is running, this is the daemon configuration:

[code]

I can actually use the logic of the flags, but is possible display in the `journalctl` only the log of a spe

[2018-11-15 12:57] tomeo opened #2061 "Linked files in Resource-files don't seem to work on Linux hosts or in Docker"
I am on Windows 10 (10.0.17134 N/A Build 17134) and dotnet Version: 2.1.5, Commit:  290303f510.

I have published a small git repository which details my problem
https://github.com/tomeo/dotnet-core-resource-files-example

In essence I am trying to grab the contents from a JSON-file which I have placed in a Resource file. This works fine when I run dotnet on Windows. However as soon as I run my ap

[2018-11-15 14:39] Yanal-Yves opened #2062 "Broken link in .net core download page for 2.1.6 release notes"
Hello,

At writting time when I go to https://www.microsoft.com/net/download/dotnet-core/2.1 and click on "Release notes" link of .net core 2.1.6, link is broken.
It points to https://www.microsoft.com/net/download/dotnet-core/2.1 instead of https://github.com/dotnet/core/blob/master/release-notes/2.1/2.1.6/2.1.6.md

Could you fix the link ?

[2018-11-15 15:08] g0dsCookie opened #2063 "Paths with umlauts incorrectly parsed/reported by System.Uri"
# Paths with umlauts incorrectly parsed/reported by System.Uri

# General

As described by the title, paths with umlauts (ä, ö, ü) are incorrectly parsed/reported by System.Uri resulting in an invalid path. For example the path "/üri" will result in an Uri like "file:///%C3%BCri/üri" (note the unescaped /üri at the end).

Inspecting the Uri object with my debugger:
AbsolutePath: "/%C3%BCri"
Absolu

[2018-11-15 15:15] g0dsCookie commented on #2063
Also DOS-like and UNC Paths are treated correctly on windows.

c:\üri -> file:///c:/üri
//computer/üri -> file://computer/üri

[2018-11-15 16:18] karelz commented on #2042
You have now 2 options - either investigate the dumps and hope to spot some pattern / sign, or create a small repro and then debug that.

[2018-11-15 19:35] karelz commented on #2063
@g0dsCookie let's not mix multiple problems in the same issue. I don't think Windows paths are recognized in Uri on Linux. That is IMO by design - @rmkerr can confirm.

Regarding your original report: Can you please clarify (please edit the top post) what is the actual result on each platform and what is expected.

[2018-11-15 19:56] pmadusud commented on #2043
I still get the same issue if I explicitly provide the proxy address in LAN Settings. Please note, I am not able to remove the configuration script setting as it is controlled by corporate admin.

[2018-11-16 05:13] KevinRansom opened #2064 "Incompatability between desktop and coreclr for Generic Array Enumeration"
Enumerator fails to throw when calling current after MoveNext returns false

repro:
This code throws on the NETFramework and the coreclr doesn't
[code]
Produces this output on NET Framework: (Note the exception is thrown)
[code]

and this output on the Coreclr: Note it produces [3,3] when MoveNext returns false
[code]

[2018-11-16 05:14] KevinRansom commented on #2064
cc/ @jkotas

[2018-11-16 06:48] jemmfi commented on #2057
I have the same problem. "dotnet restore" fails, if my .NET Core Tool Installers installs Core SDK 2.1.500 (this is in Azure DevOps / cloud).

When I change the Code SDK version to  2.1.403, the same pipeline works with no other changes. This happens in two different build pipelines that I have tried. However, nuget.org -packages are restored normally.

The error with 2.1.500:
2018-11-16T05:21:02.

[2018-11-16 07:36] g0dsCookie commented on #2063
Actually paths like "C:\üri" and "\\localhost\üri" are correctly parsed on Linux with .NET Core.

I updated my original report. Hope it's clearer now. It seems like there's a problem when parsing UTF-8/Unicode characters which causes the path to be doubled for every UTF-8 character encountered.

[2018-11-16 07:37] tiayi opened #2065 "How to edit Post-build script which can support windows & Linux"
# General

I have a aspnetcore project need copy some files to other folder after build, post-build script is best idea.
Example:
`xcopy $(OutDir)Mocks\* $(ProjectDir)\Mocks\ /Y /D /R /S`

But it just work on windows.

Does it support cross-platform?

My build environment is in docker, docker image `microsoft/dotnet:2.1.500-sdk`.

[2018-11-16 14:47] megafinz commented on #2053
Seems like after update to 2.1.6 our CI silently stopped running unit tests with the following message:
[code]

CI pulled the following docker image when tests stopped working (it was on November 13th):
[code]

Previous image doesn't seem to have this behavior, tests worked fine:
[code]

[2018-11-16 19:42] karelz commented on #2053
@megafinz is that output from msbuild? Are you able to track down what triggers it?
@nguerrera @dsplaisted can you please help route it?

[2018-11-16 19:46] karelz commented on #2065
I think msbuild has copy-file options. Can you use that?
Otherwise you will have to have specific Linux vs. Windows copy code.

@nguerrera @dsplaisted any insights?

[2018-11-16 19:57] karelz commented on #2062
Confirmed.
@leecow @vivmishra do you know how to fix that page? Does it live in some private repo?

[2018-11-16 19:59] karelz commented on #2060
Not a bug, closing.

[2018-11-16 19:59] #2060 closed

[2018-11-16 19:59] karelz commented on #2058
Duplicate of https://github.com/dotnet/roslyn/issues/20118

[2018-11-16 19:59] #2058 closed

[2018-11-16 20:00] karelz commented on #1470
@richlander ping again again ...

[2018-11-16 20:02] karelz commented on #2041
@sdmaclea should we move the bug to CoreCLR? I see you have a fix there ...

[2018-11-16 20:03] karelz commented on #2052
@tpardhu561 by prereqs I meant - .NET Core SDK and all other things your project needs.

[2018-11-16 20:09] dsplaisted commented on #2053
@megafinz Can you file an issue in https://github.com/microsoft/vstest with as much information as possible?

[2018-11-16 20:09] karelz commented on #2040
@rgelb did you get chance to give it a try?

[2018-11-16 20:16] karelz commented on #2061
Related code:

https://github.com/tomeo/dotnet-core-resource-files-example/blob/master/ResourceFilesExample/Resource.Designer.cs#L66-L71
[code]

https://github.com/tomeo/dotnet-core-resource-files-example/blob/master/ResourceFilesExample/Resource.resx#L120-L123
[code]

@tarekgh @ViktorHofer can you please help me route it? Is System.Windows.Forms available on Linux?

[2018-11-16 20:18] dsplaisted commented on #2065
@tiayi You can do this with the MSBuild `Copy` task in a target.  Something like this:

[code]

[2018-11-16 20:22] joeaudette commented on #2053
fyi, broken link for release notes here: https://www.microsoft.com/net/download

[2018-11-16 20:57] leecow commented on #2062
It's a private repo and Vivek has checked in a fix. Should be live soon.

[2018-11-16 20:58] vivmishra commented on #2062
Pushed out the fix.

[2018-11-16 20:58] #2062 closed

[2018-11-16 21:38] tarekgh commented on #2061
@nguerrera is this related to Microsoft/msbuild#2221?

[2018-11-16 23:14] rgelb commented on #2040
@karelz Yes, it's running on it now.  It hasn't failed so far.  I've compiled with 2.1.403 SDK and 2.1.5 runtime. I think it's safe to shut this issue down.

[2018-11-17 00:35] tarekgh commented on #2061
https://github.com/dotnet/corefx/issues/12565

[2018-11-17 01:38] tiayi commented on #2065
Oh, that's helpful. Thank you.

[2018-11-17 01:40] karelz commented on #2065
Seems to be answered, closing.

[2018-11-17 01:40] #2065 closed

[2018-11-17 20:18] dcpartners opened #2066 "Issue on add-migration in this current bridging class (many-to-many)"
# Issue Title

An issue on add-migration in this current bridging class (many-to-many)

# General

Platform:
.Net Core 2.1
Ms SQL Server

Currently, we have this model - HostApplicationUser and it's bridging for Many-To-Many between Host and ApplicationUser (extended from IdentityUser) model  relationship:

[code]

And in our, ApplicationDBContext we modified the protected override void OnModelCre

[2018-11-17 21:52] sergey-m-pega opened #2067 "Service with HTTPS endpoint and response compression locks up serving large files"
# Issue Title

Service with HTTPS endpoint and response compression locks up serving large files.

# General

Just sign up with Github so that I can report the issue. Luckily I was able to isolate it to the smallest repro solution, which mimics our application setup.

Self hosted test service uses .NET Core v2.1.6 on Windows 10 x64 (and VS 2017 v15.9.1). Test client is a .NET 4.6.1 console applica

[2018-11-17 21:59] IvanFarkas opened #2068 "How do I run .NET Core on i686 architecture?"
# How do I run .NET Core on i686 architecture?

I have the following hardware:
[code]

It is an i686 Intel Celeron N2807 processor in [GB-BXBT-2807](https://www.gigabyte.com/Mini-PcBarebone/GB-BXBT-2807-rev-10#ov)

What version of .NET Core 2.1 and 2.2 preview do I need for this architecture, please?

[2018-11-17 22:40] karelz commented on #2068
It is Intel Celeron processor, so either x86 or amd64 should work. Did you try it?

[2018-11-17 22:42] karelz commented on #2066
Which APIs to do you use? Is it database? EntityFramework? Something entirely else?

[2018-11-18 04:37] dcpartners commented on #2066
@karelz Updated already.

[2018-11-18 20:33] Bambofy commented on #1774
Still getting this error on Centos 6.10 (Final)
[code]

[2018-11-19 00:48] piurass commented on #907
The solution that I found for this problem is to find out the package and donwgrade its version for the version sugested during compilation.
After downgrade the package, clean solution and reopen project, it compiled fine.

[2018-11-19 13:34] megafinz commented on #2053
@karelz @dsplaisted I was trying to find a repro but had no luck. I believe new version of SDK ignores unit test project that have no `IsTestProject` property set to `true`. This property is set either explicitly in project file or by referencing `Microsoft.NET.Test.Sdk` package (which we do reference actually). I discovered that if this package is not present on disk when tests are run, then the

[2018-11-19 15:57] sdmaclea commented on #2041
I opened dotnet/coreclr#20979 to address this inconvenience.

I will post a work-around here then close this issue.

[2018-11-19 16:04] sdmaclea commented on #2041
@mailfcly The current releases require adding a resolve handler.  As mentioned above.  This is sample code that worked for me based on @jeffschwMSFT's suggestion.

[code]
This issue belongs in the coreclr repo.  Closing here as dotnet/coreclr#20979 is opened to address the long term fix.

[2018-11-19 16:04] #2041 closed

[2018-11-19 17:05] bartonjs commented on #2068
I think `i686` is a 32-bit Intel architecture.  .NET Core on Linux is only supported for amd64 and arm32.  (https://github.com/dotnet/core/blob/master/release-notes/2.1/2.1-supported-os.md).

https://github.com/dotnet/coreclr/issues/9265 is the best open issue I could find dealing with the subject of x86.

[2018-11-19 19:08] DanJ210 commented on #742
I could ask @blowdart something @Petermarcu it would help to know this. The IT department is telling me to use .Net instead of .Net Core because .Net is given security updates through WSUS while .Net Core is not. I'm still going to use Core and update manually but is that pretty much the case for enterprise? Should enterprise not use Core? If I'm away on vacation or gone then someone would have to

[2018-11-19 19:08] tpardhu561 commented on #2052
We didn't knew what was the exact root cause but Rebuilding the project files and Solution file resolved our issue.

Thank you

[2018-11-19 19:08] #2052 closed

[2018-11-19 19:19] karelz commented on #742
I think it is covered by #1541 - @shawnro can comment on further progress in the space ...

[2018-11-19 19:30] shawnro commented on #742
CC @leecow, @dleeapho.  We are actively thinking about these types of enterprise scenarios for .NET Core and how best to keep things updated and secure

[2018-11-19 19:33] karelz commented on #1774
2.1 supports only CentOS 7+: https://github.com/dotnet/core/blob/master/release-notes/2.1/2.1-supported-os.md#linux
You versions (CentOS 6.10) is not supported.

[2018-11-19 20:09] dleeapho commented on #742
@DanJ210 for now the best place to track our thinking around servicing .NET Core for Windows clients is #1541 as @karelz mentioned.

[2018-11-19 23:59] ajcvickers commented on #2066
@karelz For future reference this is [EF Core](https://github.com/aspnet/EntityFrameworkCore), but this issue is actually specifically about use of EF Core by [ASP.NET Core Identity](https://github.com/aspnet/Identity)

@dcpartners There is [a guide to customizing the Identity model in the docs](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/customize-identity-model?view=aspn

[2018-11-19 23:59] #2066 closed

[2018-11-20 07:28] eerokosk opened #2069 "System.Globalization.CultureInfo (fi-FI or sv-SE) differs inside Docker container and Windows"
# System.Globalization.CultureInfo (fi-FI and sv-SE) differs inside Docker container and Windows

CultureInfo object instances for fi-FI and sv-SE are containing different values between operating systems which are causing portability problems when you are moving your application to the Docker world.

Especially CultureInfo.NumberFormat.NegativeSign causes problems when you are trying to parse neg

[2018-11-20 09:17] martinsuchan commented on #1623
Same breaking change is happening in UWP apps after updating to Microsoft.NETCore.UniversalWindowsPlatform NuGet 6.2.0+
![48697530-1eb4be80-ebe5-11e8-8e3a-d1bca379fc4d](https://user-images.githubusercontent.com/3041397/48763384-7a4a7f00-ecad-11e8-8af4-8b3427b57047.png)

[2018-11-20 12:32] gpomykala opened #2070 "type inference in optimized netcore2.1 code differs from all other targets"
Platform: Windows  / Linux

runtime: dotnet 2.1.403

code optimization enabled

The code:

[code]

Actual outcome:
guilty == 255

Most likely (firstByte << 8) is inferred as byte with compile time optimization enabled,  and guilty is evalueated as (0 | 0xff)

It works as expected without code optimization in netcore2.1. All other targets: net462, mono, netcore2.0 produce expected result

[2018-11-20 13:16] Bodmoor opened #2071 "Breakpoints are not hit when a source file contains a line of > 65536 columns."
# Breakpoints are not hit when a source file contains a line of > 65536 columns.

# General information

version: .NET core 2.1.500
OS: windows 10 pro
Visual studio 2017 Community 15.9.0

I have created a project where the test input parameter was very long. > 800k characters. When testing, the breakpoints in my project were not hit anymore.

## Issue

When I gradually reduced the number of charac

[2018-11-20 14:55] 0xd4d commented on #2071
https://github.com/dotnet/roslyn/issues/20118

https://github.com/dotnet/core/issues/2058

[2018-11-20 15:09] 0xd4d commented on #2070
This is a jitter bug and doesn't repro with .NET Core 3.0.

[2018-11-20 19:45] JaredShaver commented on #1541
@shawnro @richlander Is managing .NET Core patches through WSUS/SCCM in the roadmap?  As an enterprise admin with responsibility for ~100,000+ PC/servers I don't want to have to reinvent the wheel.  We already have lots of infrastructure/knowledge/processes invested in WSUS/SCCM for patching and compliance monitoring.

[2018-11-20 20:32] gpomykala commented on #2070
Hello,
Thanks for a quick reply. I appreciate that it's already fixed in netcore30. It seems like the only affected target is netcore2.1 - the same code was confirmed to work fine on .net up to 4.6.2, mono 4/5 an netcore2.0.
Can it be fixed as part of netcore2.1 service release?
Cheers,
Greg

[2018-11-21 05:11] wuxubiao opened #2072 "SqlConnection.Open throws an InvalidOperationException"
# SqlConnection throw an Exceoption by calling open Method

When I add this configuration to the project.csproj,whether the value is true or false

[code]

[code]

InvalidOperationException: Internal connection fatal error.
[code]

[2018-11-21 18:48] tarekgh commented on #2061
@nguerrera could you please answer the question https://github.com/dotnet/core/issues/2061#issuecomment-439537179? thank you!

[2018-11-22 12:30] vladogl opened #2073 "Authorize jwt"
# Authorize with jwt allways 'Authorization was successful.'

When trying to auhorize with jwt it is allways successful even when there is no token
dotnet version 2.1.500
ubuntu 18.04

[2018-11-22 12:51] #2073 closed

[2018-11-22 18:54] davidsh commented on #2043
@pmadusud Were you able to take additional traces?  Otherwise, we will unable to diagnose further.  Thank you.

[2018-11-23 14:19] mjharper84 commented on #1725
I got this issue when publishing a single razor file (layout) I won't make that mistake again! Remove additional files at destination fixed it for me

[2018-11-23 14:21] mysim1 commented on #1889
The above enabled me to successfully install [.NET Core 2.1 run-time](https://www.microsoft.com/net/download/linux-package-manager/ubuntu18-04/runtime-2.1.2).

[2018-11-23 15:53] vtortola commented on #2019
Hi there, any update on this? :) Thanks

[2018-11-25 12:09] abdu292 commented on #1803
@AhmedMKamal Hi, how did you solve this? I have the same issue after publishing the app on to the server.

[2018-11-26 02:36] AhmedMKamal commented on #1803
@DwiYI  @abdu292 check `outputPath` at `angular.json` and `spa.Options.SourcePath` at `Startup` class.

**Example:**
[code]
[code]
my problem was that when i run the build command the `Angular` app moved to `ClientApp/dist/dist` instead of `ClientApp/dist`

[2018-11-26 04:53] karelz commented on #2072
@tarekgh any advice here?
cc @keeratsingh @AfsanehR @David-Engel

[2018-11-26 04:56] karelz commented on #2070
@0xd4d do you know which bug it is?
cc @jkotas @RussKeldorph

[2018-11-26 04:59] karelz commented on #2071
Duplicate of https://github.com/dotnet/roslyn/issues/20118

Thanks @0xd4d for finding the dupe!

[2018-11-26 04:59] #2071 closed

[2018-11-26 05:00] karelz commented on #2071
Thanks @0xd4d for finding the dupe!

[2018-11-26 05:00] jkotas commented on #2070
@AndyAyersMS Does it ring a bell?

[2018-11-26 05:04] karelz commented on #1623
@martinsuchan that should be separate bug. Is it a compiler error or "just a warning"?
@HollyAM @MattWhilden where do you track UWP bugs?

[2018-11-26 08:17] AndyAyersMS commented on #2070
Seems like it could be dotnet/coreclr#18238.

[2018-11-26 08:33] DwiYI commented on #1803
i have solved the issue. I am using kestrel to serve content from asp .net core.
my issue is write wrong path (working directory) in kestrel service.

`[Service]`
`WorkingDirectory=/var/www/helloapp`
`ExecStart=/usr/bin/dotnet /var/www/helloapp/helloapp.dll`

[2018-11-26 09:10] martinsuchan commented on #1623
It's a change of struct signature. Added private fields now prohibit usage of just `Size size;` for initialization.
It's discussed in more detail here: https://github.com/Microsoft/dotnet/issues/927

[2018-11-26 11:11] chillfire commented on #1725
Hi, I am having the same issue.

dotnet --info shows me:

[code]

In csproj:
[code]

I can run the project perfectly from vstudio, however when I use dotnet publish (locally) and then run it from the "publish" folder I get:

 _The view 'Index' was not found. Searched locations: /Views/Home/Index.cshtml, /Views/Shared/Index.cshtml, /Pages/Shared/Index.cshtml_

There is a xxxxx.PrecompiledViews.dll

[2018-11-26 13:33] ajbozdar commented on #1400
Yesterday, I ran into exactly this same problem on Lubuntu 18.10. I'll use keys according to @QuAzI later today. Let's see how it goes.

[2018-11-26 13:51] furkanhb opened #2074 "MailMessage Subject encoding does not work if an attachment added"
# MailMessage Subject encoding does not work if an attachment added

When I add an attachment to MailMessage object and subject contains unicode characters such as "İ", mail subject text encoding does not work. No problem, if no attachment is added

Ex: When i set Subject property as
"20 İstanbul" 		mail subject is "20 Ä°stanbul"
"20 İstanbul ş" 	mail subject is "20 Ä°stanbul ÅŸ"
"20 İstanbul şş"

[2018-11-26 15:52] vankampenp commented on #1725
@chillfire that looks like a different type of issue.

[2018-11-26 16:57] tarekgh commented on #2072
SQL team need to take a look to know why the connection is failed. the issue here is not clear to me why this is failed.

[2018-11-26 17:15] abdu292 commented on #1803
Thanks a lot @AhmedMKamal  & @DwiYI

[2018-11-26 17:20] keeratsingh commented on #2072
@wuxubiao By the initial looks of the issue it seems quite similar to an existing issue #[29147](https://github.com/dotnet/corefx/issues/29147).
As per the discussions it seems like SqlClient currently doesn't support running with the `Globalization Invariant Mode`. The [workaround](https://github.com/dotnet/corefx/issues/29147#issuecomment-399375323) is to install the package `icu-libs` and set `

[2018-11-26 17:29] karelz commented on #2070
@AndyAyersMS what is our position on backporting it to 2.1 servicing? Do we need more upvotes / impact clarification?

[2018-11-26 17:30] tarekgh commented on #2069
Yes, net core depends on the underlying OS for the globalization data. this is by design. in general, apps shouldn't assume the globalization data never change or even be consistent between OS's and even different versions of the same OS.

[2018-11-26 17:30] #2069 closed

[2018-11-26 17:33] karelz commented on #2040
Duplicate of https://github.com/dotnet/coreclr/issues/18486

[2018-11-26 17:33] #2040 closed

[2018-11-26 17:40] karelz commented on #2072
Yes, either close it as dupe of existing CoreFX issue, or move it to CoreFX. Does it exist in CoreFX already?

[2018-11-26 17:45] keeratsingh commented on #2072
#[29147](https://github.com/dotnet/corefx/issues/29147) already exists in CoreFX, however before I move/mark issue(#2072) as duplicate, I need more information form the user. I will proceed accordingly once I have the required information.

[2018-11-26 17:56] karelz commented on #2072
In such case it is up to you if you want to track it here and then dupe it/move it, or move it right away to clarify in CoreFX.

[2018-11-26 18:01] karelz commented on #1623
Ah ok, so that one is primary and we do not need another UWP tracking bug, is that correct?

[2018-11-26 18:11] mikem8361 commented on #2019
This issue looks like a dup of https://github.com/dotnet/diagnostics/issues/79 which I have added some comments. If these are the same issue, then this one should be closed.

I haven't tried creating/using the docker image yet which I hope to do this week.

[2018-11-26 18:53] sergey-m-pega commented on #2067
Our product's client is is locked in to .NET and server to .NET Core so I'm not sure chasing different test conditions is practical in this case. FTR, test case is already attached with this submission.

[2018-11-26 19:03] karelz commented on #2067
@sergey-b-berezin chasing where the bug is is however useful for routing to the right team - is it client side or server side?
Is it a new problem or long existing problem?

The "tests" above will answer that.

[2018-11-26 19:15] sergey-m-pega commented on #2067
Our client used to use HttpClient but once problems cropped up we switched to "older" WebClient hoping it'd help. It didn't. Everything I tested points at .NET Core server being the issue but I've been wrong before.

Sorry but I don't have the bandwidth to iron out all test permutations you mentioned. That's why I put together an isolated test case, which demonstrates a specific problem, which oth

[2018-11-26 20:13] AndyAyersMS commented on #2070
I need to confirm this and look at what we did for a fix.

The bar for 2.1 is pretty high. So yes, it would be helpful to know more about the impact of this issue.

[2018-11-26 20:59] AndyAyersMS commented on #2070
The actual issue was dotnet/coreclr#18235.

I've verified that porting the fix for this (from dotnet/coreclr#18627) resolves this issue.

[2018-11-26 21:28] pgolebiowski opened #2075 "Error when trying to`dotnet run` and using the latest build of .NET Core 3.0 preview"
## Steps to reproduce

1. Go to the page with [daily builds of .NET Core 3.0](https://github.com/dotnet/core-sdk/blob/master/README.md#installers-and-binaries).
2. Download the macOS installer for *Master (3.0.x Runtime)*.
3. Install.
4. Check `dotnet` version and info:

[code]

5. Create a new console application:

[code]

which by default contains:

[code]

6. Hit `dotnet run`.

## Error

[code]

[2018-11-26 21:44] AndyAyersMS commented on #2070
Also reported as dotnet/coreclr#20439.

@gpomykala can you say more about the impact this bug has on your usage of Core 2.1?

[2018-11-27 07:51] wuxubiao commented on #2072
install icu,it work

[2018-11-27 10:21] PeterJD opened #2077 "is not compatible with netcoreapp"
Hi

Having spent many hours trying to sort this issue out, this is what I have tried so for

A few days earlier this project which i had down loaded from GitHub functioned correctly with no errors,
These errors are not just occuring in this project alone, but all projects I downloaded.

Un-installed netcoreapp2.1

Still had same error reported

Twice repaired VS 2017

Ref 1 - 2

clear all  NuGet c

[2018-11-27 11:37] freworr opened #2078 "Unstable performance calling SOAP service"
# WSDL added as a connected service

We have ported an ASP .NET MVC 5 API to a .NET Core 2.1 API and we are experiencing some performance issues with the generated proxy class of a WSDL added as a connected service (added as a service reference in ASP .NET). We are running the APIs side-by-side until we have ported all of our clients to the new API. Both APIs are running as an app service on Azure

[2018-11-27 12:30] Sathyaish opened #2079 "Please increase the time-out for downloads within the dotnet-install.ps1 script from 10 minutes to 30 minutes"
# Increase in the download time-out limit from 10 to 30 minutes

A few days ago, I was trying to set up the source code for MS Build on my machine so I could play with it, but the build process for setting up the code on my machine kept failing. I finally figured that one of the problems why it was failing was that it was running a Powershell script named `dotnet-install.ps1` which was downloaded

[2018-11-27 12:32] PeterJD commented on #2077
May have solved these errors, all reference needed to be removed nuget cache cleaned
then re-assign reference seems to have revolved my issue.
But the question is why?
Might be
Nuget manager needs improving

[2018-11-27 12:33] Sathyaish commented on #2079
It appears that the right project to post this issue to is the CLI team, so please ignore this. I am re-posting this in the Issues section of the CLI repo.

[2018-11-27 14:37] gpomykala commented on #2070
@AndyAyersMS The impact is that the language fundamentals that are taken for granted suddenly return unexpected results. There are workarounds once the impacted user figures out what is happening, but it may go unnoticed in a so-so tested system (why would someone test the correctness of CLR?).
My app had been patched with a workaround therefore it is not a blocker for me anymore - if that was you

[2018-11-27 15:06] ionepaul commented on #2004
hi, i know that [#1144 ](https://github.com/aspnet/KestrelHttpServer/issues/1144) issue regarding the kestrel server not allowing invalid characters in headers was fixed in .NET Core 2.2.0-preview2 and it was working fine, but it seems that in .NET Core 2.2.0-preview3 the invalid characters are not accepted anymore and kestrel throws 400 like before.

Does anyone encountered this issue or know any

[2018-11-27 16:08] onovotny opened #2080 "[.NET Core 3][VB.NET][WPF] error BC30149: Class 'Application' must implement 'Sub InitializeComponent()' for interface 'IComponentConnector'."
When building a WPF application using VB.NET on .NET Core 3, you get the following error

`obj\Debug\net462\Application.g.vb(45,16): error BC30149: Class 'Application' must implement 'Sub InitializeComponent()' for interface 'IComponentConnector'.`

This is due to VB.NET applications using `Application.xaml` as the `ApplicationDefinition` item by default, instead of `App.xaml` like C#.

The workar

[2018-11-27 16:49] AndyAyersMS commented on #2070
@gpomykala thanks.

[2018-11-27 17:08] sergey-m-pega commented on #2067
Tried it with HttpClient last night with the same outcome. I built a test client similar to .NET 4.6.1 one included in the test submission, but one built as .NET Core console app instead, with the same logic using HttpClient. So just as I suspected everything points at the server side.

[2018-11-27 17:10] karelz commented on #2077
Are you able to reproduce the same problem on more than 1 machine?
Did you try to chop off parts of the project to create small repro that you could share with us?

[2018-11-27 17:13] karelz commented on #2079
Duplicate of https://github.com/dotnet/cli/issues/10396

[2018-11-27 17:13] #2079 closed

[2018-11-27 17:49] keeratsingh commented on #2072
Duplicate of #[29147](https://github.com/dotnet/corefx/issues/29147). Closing issue.

[2018-11-27 17:49] #2072 closed

[2018-11-27 17:50] karelz commented on #2072
@keeratsingh I updated your above message - this way GH recognizes it as duplicate - see https://github.com/dotnet/core/issues/2072#event-1990313873

[2018-11-27 18:01] onovotny opened #2081 ".NET Core 3 implicit reference for WinRT"
.NET Core 3 on the Windows Desktop can support Windows Runtime types. There should probably be an implicit reference to make this easier, controlled by a `UseWindowsRuntime` property.

If true, it should define/default some properties:
- `TargetPlatformVersion`
- `TargetPlatformMinVersion`

And it should import something like the following:
[code]

Or the appropriate System.Runtime.WindowsRuntime

[2018-11-27 18:09] karelz commented on #2004
@ionepaul it would be best to take the discussion on the bug you linked - @muratg @Eilon @Tratcher can you please take a look?

[2018-11-27 18:13] karelz commented on #2080
cc @diverdan92 @fabiant3 @vatsan-madhavan

[2018-11-27 18:17] karelz commented on #2078
@Lxiamail @mconnew can you please help route it to the right place?

[2018-11-27 18:18] karelz commented on #2081
@nguerrera @dsplaisted can you please help route it?
cc @diverdan92

[2018-11-27 18:19] vatsan-madhavan commented on #2080
This is related to https://github.com/dotnet/cli/issues/10106. We should consider updating the default logic in the SDK for VB.NET to incorporate Application.xaml as the default for Preview 2.

cc @dotnet/wpf-developers

[2018-11-27 18:30] jeffschwMSFT commented on #2081
.NET Core WinRT will be delivered via nuget packages.  The inbox/template experience is still being designed.

cc @Pilchie @rido-min

[2018-11-27 18:37] richlander commented on #2081
@jeffschwMSFT The delivery and the UX are logically separate, right?

I like the general idea that @onovotny is proposing. It aligns with what we are doing with WPF and WinForms.

[2018-11-27 18:37] Pilchie commented on #2081
Also adding @DustinCampbell

[2018-11-27 18:41] jeffschwMSFT commented on #2081
Generally, but we are trying to move away from nuget restore as a means to deliver the default template experience.  So there is a connection.

[2018-11-27 18:58] karelz commented on #2075
@nguerrera @dsplaisted can you please help route this issue?

[2018-11-27 19:07] rido-min commented on #2081
There are some caveats with Oren's proposal, since it requires the SDK to be installed and also will block retargeting experiences (that also connects the delivery with the UX).

This is why we are proposing NuGet packages that can be delivered independently from the SDK, and also allows to declare dependencies to System.Runtime assemblies.

[2018-11-27 19:11] onovotny commented on #2081
Whatever the UX/delivery mechanism is, I think there's value in having a single switch to opt-in to the configuration, even with some default values.

What I do in the MSBuild.Sdk.Extras is default TPV to the current and TPMV to n-3 (15063 currently). All can be overridden by the csproj, they're just defaults. I hope some kind of default can be achieved for WinRT too.

Thanks!

[2018-11-27 19:38] nguerrera commented on #2080
I expected the following to work, but it does not:

[code]

So there are two issues here:

1. Default application definition for VB doesn't match VB tradition
2. If you opt out of EnableApplicationDefinition, but not EnabledDefaultPageItems, you have to remove your own ApplicationDefinition from pages yourself.

[2018-11-27 19:51] nguerrera commented on #2080
I think this is a simpler workaround if you're going to paste it into your project and not a targets file trying to light-up on Application.xaml  presence and different values of EnableDefaultApplicationDefinition.

[code]

It is basically what I expected to work + the Page remove as a workaround for bug (2).

I wonder if it's worth making the targets have different defaults for VB or C#. Another

[2018-11-27 19:54] PeterJD commented on #2077
Hi Karel Zikmund
Not able to reproduce on other PC, my thinking on this subject is more to do with references being corrupted in some way, may be nuget is failingto re-attach (restore) references correctly.
Just Solved the issue
WOW what triggered that memory, Zip files will report path or file is to long; so not able to zip the file
Moved solution to root directory C:\
Only reported one error
Err

[2018-11-27 19:54] nguerrera commented on #2080
I wonder if it's worth making the targets have different defaults for VB or C#. Another solution would be for default to try App.xaml first and fall back Application.xaml (based on existence), irrespective of language. That feels less surprising to me. If I were porting something from VB to C# or vice versa, I'd get very confused otherwise.

[2018-11-27 20:06] karelz commented on #2077
I still don't understand what exactly happened. Can you distill a repro? Maybe there is something we can improve ...

[2018-11-27 20:19] vatsan-madhavan commented on #2080
I like the idea of treating both App.xaml and Application.xaml as default candidates for ApplicationDefinition.

[2018-11-27 21:16] PeterJD commented on #2077
Hi
Yes will do all you need to do is create a number of sub-directories, place solution in last sub-directories.Increase sub-directories until references fail
I will send my directory structure tomorrow
C:\sub-directories\sub2\sub3\sub4\sub5\sub6\sub7\solution.sln
Peter

    On Tuesday, 27 November 2018, 20:07:26 GMT, Karel Zikmund <notifications@github.com> wrote:

I still don't understand what e

[2018-11-27 21:46] karelz commented on #2077
If you can narrow it down to a small repro and info how long the directory have to be, that would be very helpful.

[2018-11-27 22:06] Lxiamail commented on #2078
@freworr This issue seems similar as https://github.com/dotnet/wcf/issues/3272. Can you try putting AppContext.SetSwitch("System.Net.Http.UseSocketsHttpHandler", false); at the start. That way we can narrow down if this is a problem with the new SocketsHttpHandler implementation or if it's an issue somewhere in WCF.

[2018-11-28 07:07] freworr commented on #2078
Thank you for the reply. It looks promising after load testing. We will try it out for a day or two and see if the performance will improve. @Lxiamail We will let you know if the switch improved the performance.

[2018-11-28 09:14] PeterJD commented on #2077
Look in the error messages I sent you the directory  are listed there

    On Tuesday, 27 November 2018, 21:47:17 GMT, Karel Zikmund <notifications@github.com> wrote:

If you can narrow it down to a small repro and info how long the directory have to be, that would be very helpful.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute t

[2018-11-28 09:46] justinushermawan opened #2082 ".NET Core 2.1 Roslyn cannot find System.Decimal in assemblies"
I'm using **Roslyn** to compile my class in runtime to `assembly` output. I've added my needed assemblies into metadata references as below:

[code]
And my CSharp syntax tree:

[code]
And when I use my `dll` file in **another project**, I got an error when I create an instance of `Model`, the error is located on my `decimal` property which is `amount`. Omnisharp shows me:

`The type 'Decimal' is d

[2018-11-28 09:47] GanesanRengasamy opened #2083 "NU1605: Detected package downgrade: Xamarin.Forms from 3.3.0.912540 to 2.5.0.280555. Reference the package directly from the project to select a different version. App3.Android -> App3 -> Xamarin.Forms (>= 3.3.0.912540)"
Hi All,

I have tried to downgrade the Xamarin.Forms NuGet package in the Xamarin NetStandard project. But I have faced the below issue.

NU1605: Detected package downgrade: Xamarin.Forms from 3.3.0.912540 to 2.5.0.280555. Reference the package directly from the project to select a different version.
 App3.Android -> App3 -> Xamarin.Forms (>= 3.3.0.912540)

NU1605: Detected package downgrade: Xama

[2018-11-28 19:13] karelz commented on #2082
@jaredpar can you please help me route this issue? It looks like Roslyn specific.

[2018-11-28 19:18] karelz commented on #2043
@pmadusud any update?

[2018-11-28 19:23] karelz commented on #2077
I am not sure which error message you mean. Can you please point me to the exact one, that will be extremelly helpful.

[2018-11-28 20:24] pmadusud commented on #2043
@davidsh and @karelz, sorry I have been away and I have not yet managed to get any logs yet. Also, the current IT environment doesn't allow me to install software, I will check if I can provide Wireshark traces. However, if not, is there any other way we can resolve this?

[2018-11-28 20:44] mjrousos opened #2085 "WindowsFormHost not usable from WPF XAML"
# WindowsFormHost not usable from WPF XAML

XAML using the `WindowsFormHost` control does not build in .NET Core 3 WPF apps. For example, the following XAML builds for .NET Framework but not for .NET Core 3:

[code]

@ericstj has pointed out that this is probably because our WindowsFormsIntegration reference assembly is missing necessary XMLNS attributes.

@nguerrera has suggested a work-around (w

[2018-11-28 21:03] karelz commented on #2043
The only other way would be to debug through the code on your machine ... that is, however, rather involved.

[2018-11-28 21:35] DustinCampbell commented on #2080
I agree. Supporting both `App.xaml` and `Application.xaml` for both languages seems sensible.

[2018-11-28 21:36] PeterJD commented on #2077
Hi
Yes will do all you need to do is create a number of sub-directories, place solution in last sub-directories.Increase sub-directories until references fail
I will send my directory structure tomorrow
C:\sub-directories\sub2\sub3\sub4\sub5\sub6\sub7\solution.sln
Peter

On 27 Nov 2018, at 20:07, Karel Zikmund <notifications@github.com> wrote:

I still don't understand what exactly happened. Can y

[2018-11-28 22:51] justinushermawan commented on #2082
If I don't reference that DLL, I'd get an error that ask me to reference it because System.Decimal could not be found. What should I do?

[2018-11-28 22:53] jaredpar commented on #2082
What is the exact error and the full list of DLLs that are referenced? Should also include where you are referencing them from.

It's much trickier to do this on CoreCLR than Desktop.  Have to be careful to reference the correct reference DLLs. Referencing the runtime ones, or mixing the two, will lead to a lot of issues.

[2018-11-28 23:10] justinushermawan commented on #2082
I simplified the case. I have 2 netcore projects, The first one is where Roslyn generates my Model class (contains 'string', 'int', and 'decimal' properties) into a DLL file by using FileStream approach (not MemoryStream). The metadatareference[] assemblies linked are:
'System.Runtime
System.Private.CoreLib
and typeof(MyCurrentClass).Assembly.Location'
If I run this one, it works and produces the

[2018-11-28 23:12] jaredpar commented on #2082
Mentioned this in my first response though: don't reference System.Private.Corelib. It's not supported and if it works it's an accidental success.

[2018-11-28 23:15] justinushermawan commented on #2082
But, it asks me to reference it by giving me an error if I don't reference it. I even add that reference because of the error.

[2018-11-28 23:21] jaredpar commented on #2082
It asks you to give that reference because you're providing other runtime libraries instead of reference libraries. As I mentioned in my earlier comment:

The latter part will likely point to the runtime directory which is the source of the problem.

[2018-11-28 23:54] justinushermawan commented on #2082
I put the latter part because I need to inherit a class from MyProject.dll, how can I achieve that?

[2018-11-29 00:20] karelz commented on #2082
@justinushermawan run HelloWorld compilation in VS. Enable verbose msbuild logs, check the args it passes to Roslyn - you will see it uses reference assemblies, none of which is called System.Private.Corelib.
Reference assemblies is where types live at compile time. At runtime many of those type-forward to implementation assemblies (like System.Private.Corelib).
You should never see an app or libr

[2018-11-29 01:04] justinushermawan commented on #2082
@karelz I've removed those implementation assemblies in my metadatareference, now I got the following errors on runtime:

[code]

Note that the `Record` class is located in my parent project.
How to handle it?

[2018-11-29 01:57] karelz commented on #2082
Is that HelloWorld app? Did you try to mimic what VS does with the references?

[2018-11-29 02:40] justinushermawan commented on #2082
Yes, I tried with 2 simple projects, the one that produced the DLL of simple class, and the second one that using the DLL, it still doesn't work.

[2018-11-29 02:55] karelz commented on #2082
ok, can you share full repro for the HelloWorld-style repro?

[2018-11-29 03:10] justinushermawan commented on #2082
Sure, https://github.com/justinushermawan/roslyn-test

[2018-11-29 03:17] karelz commented on #2082
This is wrong:
https://github.com/justinushermawan/roslyn-test/blob/master/Core/Program.cs#L28

You're using implementation DLL (the one you're running on), not reference assemblies as you should.

[2018-11-29 03:21] justinushermawan commented on #2082
What should I change it with? I tried netstandard.dll, still not working.

[2018-11-29 03:37] justinushermawan commented on #2082
I've compiled in VS, where can I find the reference assemblies directory?
SS:
![1](https://user-images.githubusercontent.com/13159271/49197761-b921b880-f3c2-11e8-8806-057d0d10ec25.png)

[2018-11-29 03:43] justinushermawan commented on #2082
These one?
![2](https://user-images.githubusercontent.com/13159271/49197965-9e9c0f00-f3c3-11e8-919a-4665ec1281b8.png)

[2018-11-29 05:09] justinushermawan commented on #2082
It works when I use:
[code]

Is it the right way?

[2018-11-29 05:39] dasMulli commented on #2082
I believe the "absolutely right" way would be to make use of compilation context preservation.

1. In your csproj, set
[code]
2. Add package reference to `Microsoft.Extensions.DependencyModel`:
[code]
3. Use `DependencyContext` to get compilation references:
[code]

[2018-11-29 05:59] justinushermawan commented on #2082
@dasMulli Yeah, it works. Thank you.

Would you please explain my code mistakes?

[2018-11-29 06:15] dasMulli commented on #2082
Not a mistake, there's just an awful lot of things that can go wrong and you'd need detailed information about how either compilation or the layering of runtime DLLs work.

`PreserveCompilationContext` makes sure that your `.deps.json` contains the references that your app has during compilation. When you build your app, the compile-time assemblies come from the `Microsoft.NETCore.App` NuGet packa

[2018-11-29 07:11] justinushermawan commented on #2082
Does `PreserveCompilationContext` make my build time slower? And if I don't set it to `true`, can't DependencyContext work?

[2018-11-29 07:14] dasMulli commented on #2082
May be a bit, but it shouldn't matter.

Nope, it will throw exceptions. And you'll be missing the dlls once published.

[2018-11-29 07:16] justinushermawan commented on #2082
Oh I see. Thanks in advance for your help.

[2018-11-29 07:16] #2082 closed

[2018-11-29 10:06] TheBoneJarmer opened #2086 "App crashes after calling glfwCreateWindow"
So, for a couple of days now I am stuck with a very annoying issue. I started with OpenGL a while ago and this week I decided to start creating my own engine. Now, I need to add that I done it before, back in 2017 using the .NET Framework. And back than, everything worked like a charm. But this year I switched to .NET Core and I decided to rewrite my engine. So because of all my hard work last yea

[2018-11-29 10:21] apobekiaris opened #2087 "where to get .NET core 3"
There are projects here already using .NET Core 3. Where they get it? I couldn't discover a download url

[2018-11-29 10:59] lindexi commented on #2087
[dotnet/core-setup: Installer packages for the .NET Core runtime and libraries](https://github.com/dotnet/core-setup#daily-builds )

[2018-11-29 11:13] pehsa opened #2088 "ReactOS Support"
Is there any chance to support the ReactOS?

The ReactOS will be a good alternative to Windows if the newer dotNet will be available.

[2018-11-29 16:35] ionepaul commented on #2004
hi @Tratcher, just opened [#4318](https://github.com/aspnet/AspNetCore/issues/4318) with all the details, it seems that is happening both for preview2 and preview3 only when running behind IIS.

[2018-11-29 17:46] karelz commented on #2087
Also linked from README.md of this repo: https://github.com/dotnet/core/#net-core-releases-and-daily-builds

[2018-11-29 17:46] #2087 closed

[2018-11-29 18:06] karelz commented on #2086
You might be just lucky on .NET Framework, that it corrupted memory which is not used later on.

Does it happen all the time?
Are you able to identify who and how corrupts the memory? (triple-check the PInvoke signature, get it under debugger, etc.)
Time Travel Debugger is great tool to debug these things - get a recording of the failure and then just set data breakpoints and "go back". It require

[2018-11-29 18:10] tristanbarcelon opened #2090 "Inconsistent field/property names in the releases.json file"
# Issue

The releases.json file for 1.0, 1.1, and 2.1 have inconsistent field/property names which causes errors when specific properties are accessed in code such as powershell. From one release record to another, there will be some sdk records that will have a version property while others will have version-sdk.

Take for example this releases.json file for [1.1](https://raw.githubusercontent.co

[2018-11-29 18:43] karelz commented on #2083
@rrelyea can you please help route this issue?

[2018-11-29 18:45] karelz commented on #2042
Not actionable, closing.
If you find more details and pin point the problem and it turns out to be in .NET Core, feel free to reopen.

[2018-11-29 18:45] #2042 closed

[2018-11-29 19:35] karelz commented on #2070
Duplicate of https://github.com/dotnet/coreclr/issues/18235

[2018-11-29 19:35] #2070 closed

[2018-11-29 19:36] karelz commented on #2078
Duplicate of https://github.com/dotnet/wcf/issues/3272

[2018-11-29 19:36] #2078 closed

[2018-11-29 22:33] ericstj commented on #2085
Fix for this has been checked into WPF yesterday, leaving this open until fix makes it to the SDK

[2018-11-29 22:36] ericstj commented on #2085
We were missing the XMLNS attribute for `System.Windows.Controls.Ribbon` and `System.Windows.Documents.DocumentStructures` as well which were fixed in the same commit.

[2018-11-30 09:45] GanesanRengasamy commented on #2083
@rrelyea  Could you please suggest me to resolve this issue?

[2018-11-30 19:04] rrelyea commented on #2083
also, we have warning/error documentation that may help explain ways to address: https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings/nu1605

[2018-11-30 19:05] Redth commented on #2083
https://github.com/xamarin/xamarin.forms would be a good place to post the issue, and hopefully provide a bit more info/context around the errors, but it sounds like you may need to add something like this to your project(s):

[code]

[2018-11-30 19:42] MohammadHamdyGhanem opened #2093 "Update WinForms WebBrowser Control in .NET Core 3.0"
Since WinForms is moving to .NET Core 3.0, I hope you upgrade the WebBrowser control to use the IE version installed on the user PC. The current WebBrowser control uses IE 7 and causes many problems. There is a workaround to solve this, but doing it in the user's PC needs permissions. See this topic for more details:
https://stackoverflow.com/questions/17922308/use-latest-version-of-internet-explo

[2018-11-30 20:50] karelz commented on #2083
@GanesanRengasamy can you please post your question on the recommended Xamarin repo?

Thanks @rrelyea for your advice!

[2018-11-30 20:50] #2083 closed

[2018-12-01 03:11] tarekgh commented on #2061
@rainersigwald this issue is the same https://github.com/Microsoft/msbuild/issues/2221, right? do you know when this will be fixed in msbuild?

[2018-12-01 04:52] ryancdotnet opened #2092 "Implement this new switch statement syntax sugar"
# A New Syntax to Switch

The switch statement is ready for a syntactical sugar overhaul. Or at least, an alternative for those who prefer one. And .NET is a prime candidate to be a leader in this arena.

# My suggested new syntax
[code]

Compare this to the current switch syntax:
[code]

While my first example showing the new syntax is more lines, it is, in my opinion, cleaner, easier to read, us

[2018-12-01 13:30] NaelsonBR commented on #802
@karelz Sorry... I did not pay attention in title.

[2018-12-01 17:05] karelz commented on #2092
Please move the issue to https://github.com/dotnet/csharplang repo.

Personally, I don't think it makes sense to add multiple syntaxes to achieve the same thing. But I am not C# designer, so I let them make the final call.
Also note that addition of each feature creates complexity and interaction with other features.

[2018-12-01 17:05] #2092 closed

[2018-12-01 17:08] karelz commented on #2061
Duplicate of https://github.com/Microsoft/msbuild/issues/2221

[2018-12-01 17:08] karelz commented on #2061
FYI: See the syntax above which GitHub recognizes for duplicates ;) (unfortunately any other comment in that post will break it :()

[2018-12-01 19:19] tarekgh commented on #2061
CC @maryamariyan

[2018-12-02 00:06] Robert-Laverick opened #2094 "Crash while debugging writing to large array (AccessViolationException)"
# General

With .net Core 2.1 (and I think the same is happening with 2.2 preview 3) when I try to write to a large array with a debugger attached the program crashes with a AccessViolcationException

Sample Program:
[code]

I'm just creating a large 2D array and filling it with double.MinValue; (This is my minimum test case I'm doing more in my real app)

Just open this in Visual Studio, run with

[2018-12-02 04:55] ryancdotnet commented on #2092
Thanks all! Moved to csharplang!

[2018-12-03 17:33] aberbegall opened #2095 "Is there support for appsettings.JSON transforms? similar to XML config file transformations"
# Issue Title
I'm not able to make the content of appsettings.json from Nuget package to be transformed in .NET Core project.

# General
I generate a Nuget package (.NET Standard library) which contains a default appsettings.json.
If I try to add that package to my .NET Core App the file content is being replace instead of transformed or merged.

With .NET FW I was able to use web.config transform

[2018-12-03 19:47] TrevorFradsham commented on #1240
I had the same problem, so thanks @tharmachandran for the Json options statement. Fixed the problem for me

[2018-12-04 11:51] no1melman opened #2096 "DllNotFoundException with incorrect dll name"
# Issue Title

DllNotFound Exception trying to load a dylib, the exception shows `dlopen` with incorrect library name.

I don't know if this is the write place for this, but it is using .NET Core on MacOS (see .NET core information below)

See this [issue](https://github.com/confluentinc/confluent-kafka-dotnet/issues/688) for repro. I ended up cloning the project and running the consumer example (

[2018-12-04 16:24] vivmishra opened #2098 ".NET Core 2.2.0"
# .NET Core 2.2.0

[Release Notes](https://github.com/dotnet/core/blob/master/release-notes/2.2/2.2.0/2.2.0.md)
[Download 2.2.0](https://github.com/dotnet/core/blob/master/release-notes/2.2/2.2.0/2.2.0-download.md)

Please report any issues you find with 2.2.0, either responding to this issue, creating a new issue or creating a new issue in one of the following repos:

* [aspnet/Home](https://gith

[2018-12-04 16:25] vivmishra opened #2099 ".NET Core 3.0.0 Preview 1"
.NET Core 3.0.0 Preview 1

[Release Notes](https://github.com/dotnet/core/blob/master/release-notes/3.0/preview/3.0.0-preview1.md)
[Download](https://github.com/dotnet/core/blob/master/release-notes/3.0/preview/3.0.0-preview1-download.md)
[Blog post](https://blogs.msdn.microsoft.com/dotnet/2018/12/04/announcing-net-core-3-preview-1-and-open-sourcing-windows-desktop-frameworks/)

Please report any

[2018-12-04 17:57] JanVargovsky commented on #2099
Isn't "dotnet/winforms" supposed to target to "https://github.com/dotnet/winforms/issues" instead of "https://github.com/dotnet/core/issues". Same for wpf?

[2018-12-04 17:57] Eilon commented on #2067
Taking a look now... (Was on vacation last week, sorry for the delay.)

[2018-12-04 17:59] sergey-m-pega commented on #2067
Understood. Thanks. It's a delicate balance between annoying someone and asking for help. :)

[2018-12-04 18:07] Eilon commented on #2067
OK this is possibly a duplicate of https://github.com/aspnet/BasicMiddleware/issues/247, which we plan to fix in ASP.NET Core 3.0.

If you can get a dump of the ASP.NET Core process while it's hung, then you can open up the dump in VS and see where the thread stacks are. If the stacks look like the ones in https://github.com/aspnet/BasicMiddleware/issues/247, then it is the same issue. If the stac

[2018-12-04 18:08] Eilon commented on #2067
Tagging @Tratcher here.

[2018-12-04 18:15] sergey-m-pega commented on #2067
Will try to collect a dump. Assuming it's the same issue, are there any workarounds exist for this issue in the mean time, short of disabling the response compression entirely? Thanks.

[2018-12-04 18:18] Eilon commented on #2067
@Tratcher - what workarounds do you know of?

[2018-12-04 18:38] Tratcher commented on #2067
Let's confirm the stack traces before getting deep into the mitigations.

[2018-12-04 20:43] logwlogw opened #2103 "HttpClient Unhandled Exception, Centos 7, .NET CORE 2.2"
# HttpClient Unhandled Exception

An error even in try catch with

1. ONLY with one site indianetzone.com
2. win10 - works
3. AppContext.SetSwitch ("System.Net.Http.UseSocketsHttpHandler", false); - works

What could be a problem, thank you.

# Simple Code
------------
using System;
using System.Net.Http;
using System.Threading.Tasks;

namespace ConsoleApp18
{
    class Program
    {
        stati

[2018-12-04 21:44] sergey-m-pega commented on #2067
Is there post that describes on how to collect it so that it's in the format you expect it to be? Thanks.

[2018-12-04 23:00] Tratcher commented on #2067
Using task manager is the easiest, if you have direct access to the machine.
https://blogs.msdn.microsoft.com/debugger/2009/12/30/what-is-a-dump-and-how-do-i-create-one/

[2018-12-05 00:13] Robert-Laverick commented on #2094
Tested against today's final release of .net core 2.2.0, confirmed still same behaviour.

To be specific the presented code crashes with an AccessViolationException if compiled without optimisations enabled.

[2018-12-05 01:37] rido-min commented on #2045
@John0King you can always use your custom entry point to start a WPF app:

1. Remove the StartupUri from App.xaml
2. Add the next Program.cs file

[code]
3. Change the project startup in your csproj
[code]

Is this a request to change the default template?

[2018-12-05 01:52] karelz commented on #2004
Closing in favor of #2098 (RTW release)

[2018-12-05 01:52] #2004 closed

[2018-12-05 01:53] karelz commented on #2093
Duplicate of https://github.com/dotnet/winforms/issues/117

[2018-12-05 01:53] #2093 closed

[2018-12-05 06:33] MiyamuraMiyako opened #2104 "How to reference COM in Net Core 3.0"
# Issue Title
How to reference COM in Net Core 3.0

# General
 Below code can not work:
[code]

dotnet build return error:
[code]

[2018-12-05 07:25] chawyehsu opened #2105 "Why there are different SDK 2.2 binaries packages between two download links"
**dotnet-sdk-2.2.100-win-x64.zip**:

**dotnet-sdk-2.2.100-win-x86.zip**:

[2018-12-05 10:31] MiyamuraMiyako commented on #2104
@dasMulli I run `msbuild -r`, but seems not use netcore3.0 sdk to build:

[code]

[2018-12-05 11:52] logwlogw commented on #2103
**For WebAPI, Example**

using System;
using System.Net.Http;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Mvc;

namespace AllSubmitterServer.Api
{
    [Route("api/[controller]")]
    [ApiController]
    public class CrachController : ControllerBase
    {
        private readonly IHttpClientFactory _httpClientFactory;

        public CrachController(IHttpClientFactory httpClientFactory

[2018-12-05 13:38] no1melman commented on #2096
So the only thing left that is relevant here is the `dlopen(liblibrdkafka, 1): image not found`

[2018-12-05 14:24] comfyneet opened #2106 "Remove support status for Ubuntu 14.04 in .NET Core 2.2"
The [2.2 release note](https://github.com/dotnet/core/blob/master/release-notes/2.2/2.2-supported-os.md#linux) state that .NET Core 2.2 supports Ubuntu 14.04, which is not true. [Rich Lander said](https://blogs.msdn.microsoft.com/dotnet/2018/12/04/announcing-net-core-2-2/):

Please put Ubuntu 14.04 to [Out of support OS versions](https://github.com/dotnet/core/blob/master/release-notes/2.2/2.2-sup

[2018-12-05 15:00] benzhi2011 opened #2107 "IUrlHelper behave strange for new version of .net core 2.2"
IUrlHelper behave strange for new version of .net core 2.2

Helper method that is working for all early version
[code]
about one line of code return the Url of the executing MVC controller, in my case here it should return DNS + /Login/SSO and this code has been working for .core 1.1 and 2.1

After I updated to 2.2 this  serviceUrl return DNS + /Contact/SSO when I call it from Login controller met

[2018-12-05 15:23] rainersigwald commented on #2104
@AaronRobinsonMSFT is driving referencing-COM-from-Core. No full plan yet, but we're meeting today to talk about one.

[2018-12-05 15:43] nguerrera commented on #2104
This is due to https://blogs.msdn.microsoft.com/dotnet/2018/11/13/net-core-tooling-update-for-visual-studio-2017-version-15-9/

It is recommended to use Visual Studio 2019 Preview 1 with .NET Core 3.0 Preview 1.

[2018-12-05 16:05] stefanov-stefan opened #2108 "Incorrect documentation in linker-instructions.md"
There is email address listed at the end of this article: https://github.com/dotnet/core/blob/master/samples/linker-instructions.md which no longer seems to be working.

[2018-12-05 16:11] stefanov-stefan opened #2109 "win-x64 publish with Core3 Preview and VS2019 results in ""CheckEmbeddedRootDescriptor" task was not given a value for the required parameter "AssemblyPath"""
I have been trying to publish a plain dotnet new winforms app by following the steps [here]([url](https://github.com/dotnet/core/blob/master/samples/linker-instructions.md)), but I end up with error: error MSB4044: The "CheckEmbeddedRootDescriptor" task was not given a value for the required parameter "AssemblyPath".

See attached image for the whole process.

I am running VS2019 Preview and have

[2018-12-05 16:40] jonstelly commented on #2099
I feel like I'm missing something, the release notes for preview 1 don't seem to have any detail about what's included in the preview and what's not, or how to access the new stuff.  Previous preview releases of dotnet core have been accompanied by at least a blog post laying out what's included, is such a blog post imminent for 3.0 preview 1?

For instance, in the original announcement for .net c

[2018-12-05 16:57] AaronRobinsonMSFT commented on #2104
@MiyamuraMiyako Thanks for trying out this feature! You can find a sample with some details [here](https://github.com/dotnet/samples/tree/master/core/extensions/ExcelDemo).

[2018-12-05 16:59] AaronRobinsonMSFT commented on #2104
@jeffschwMSFT Anything special you want to do with this issue?

[2018-12-05 17:01] jeffschwMSFT commented on #2104
Let's mark this issue as a 3.0 scenario.  As we get further in the design, we may be able to implement it as suggested, but we also may need to enable the scenario in a slightly different way.

[2018-12-05 17:01] jeffschwMSFT commented on #2104
@AaronRobinsonMSFT we should move this issue to coreclr, or link it to an existing issue.

[2018-12-05 17:09] AaronRobinsonMSFT commented on #2104
@rainersigwald Is this the correct repo to add an issue about making a COMReference in `dotnet-sdk`?

[2018-12-05 17:32] rainersigwald commented on #2104
I think most of the work for supporting `COMReference` would be in MSBuild so I'd file at https://github.com/Microsoft/msbuild/issues.

[2018-12-05 17:38] Rand-Random commented on #2099
@karelz
Seems like we have different understanding about Release Notes, you seem to understand a "Note about a Release" which the linked page is, since the only Information I get there is that a release happened.

I understand, just as @jonstelly is implying, that the Release Notes, contain Information whats inside the release, what are the changes, what are the highlights and as you mentioned wha

[2018-12-05 18:36] sergey-m-pega commented on #2067
Thanks. Collected 2 dumps, 1 for dotnet.exe and 1 for test client executable via

procdump.exe -ma <XXX.exe> <XXX.dmp>

Let me know if you'd like me to re-run it with different parameters.

Those dump files even zipped are quite large. Where would you suggest posting them for you? Thanks.

[2018-12-05 18:44] Tratcher commented on #2067
You can open them yourself in Visual Studio and look at the Threads window to see what callstacks are blocked. Do you see any that resemble those at https://github.com/aspnet/BasicMiddleware/issues/247?

[2018-12-05 19:07] sergey-m-pega commented on #2067
I'm not sure how to get that stack trace from dump file tbhwy as I'm not seeing it there. I've trued loading dump file in VS and selecting debug with mixed to see just the regular type stack trace, not even remotely similar to the structure of the above referenced issue.

[2018-12-05 19:12] Tratcher commented on #2067
What stack traces do you see in the dotnet.exe dump then?

[2018-12-05 20:56] sergey-m-pega commented on #2067
ntdll.dll!00007ffbbe38aa54()
KERNELBASE.dll!00007ffbba8a6099()
[Managed to Native Transition]
System.Private.CoreLib.dll!System.Threading.ManualResetEventSlim.Wait(-1, )
System.Private.CoreLib.dll!System.Threading.Tasks.Task.SpinThenBlockingWait(, )
System.Private.CoreLib.dll!System.Threading.Tasks.Task.InternalWaitCore(, )
System.Private.CoreLib.dll!System.Runtime.CompilerServices.TaskAwaiter.Han

[2018-12-05 21:57] Tratcher commented on #2067
That's the Main thread, it's expected to be blocked. What about the others?

[2018-12-05 22:02] sergey-m-pega commented on #2067
Right, that's why I said earlier that it looks nothing like the other issue stack trace. Dump file handling is something I am not familiar with well enough so I'm not sure how to get the other threads info for you. Please advise. Thanks.

[2018-12-05 22:08] Kajirinn opened #2111 "An assembly specified in the application dependencies manifest (....deps.js on) was not found"
This is my first time using a raspberry pi and I'm trying to get a Discord bot using discord.net to work on said pi. I've followed a few tutorials and got a quick "Hello World!" working using .net core. However, upon trying the same thing: Writing the app in visual studio, sharing the netcoreapp2.0 using ssh I'm getting this errror;

[code]

This sounds fairly logical as I've installed a nuget pac

[2018-12-05 22:18] Tratcher commented on #2067
It's under Debug -> Windows -> Threads. Look under the Location column to see the stack trace for each threads.
See https://docs.microsoft.com/en-us/visualstudio/debugger/get-started-debugging-multithreaded-apps?view=vs-2017

[2018-12-05 22:35] sergey-m-pega commented on #2067
Yeah, I totally forgot that I could look at thread's stack trace there. Never mind... What I was saying earlier was largely related to having dump file only on hand and getting stack trace from that as oppose to attaching to running process.

In any case, I suspect one of ".NET Core ThreadPool" threads is the one you are interested in (sorry, don't how to prevent long line wrapping):

`.NET Core T

[2018-12-05 22:46] Tratcher commented on #2067
Yes, that's the issue...
[code]

How many threads did you have stuck in a callstack like that? It shouldn't be completely frozen, just slow while it waits for the client to drain data. If you have more threads stuck than the threadpool limit then you might have a problem. Raising the threadpool limit can help mitigate this but not eliminate it.

[2018-12-05 22:55] sergey-m-pega commented on #2067
The above stack trace you pointed out looks similar to one from the other issue.

Only one like that that I could see. It gets completely stuck with no CPU on the box and client side eventually timing out. Yeah, I did read about raising thread pool thread limit but if it doesn't fix it permanently we just can't take a chance on it locking up in production.

[2018-12-05 23:14] sergey-m-pega commented on #2067
Back to my earlier question please. Are there any workarounds exist til Core 3.0 is released? I assume (future) patch for it is not in 2.2. Thanks.

[2018-12-05 23:27] sidravi opened #2112 "Latest ILLink.Task is failing for osx-x64 Runtime Identifier"
When I do `dotnet publish -c release -r osx-x64` after adding ILLink.Tasks nuget package version 0.1.5-preview-1841731, it fails with the following error:
`C:\Program Files\dotnet\sdk\2.1.500\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.CrossGen.targets(72,5): error NETSDK1016: Unable to find resolved path for '...\.nuget\packages\runtime.osx-x64.microsoft.netcore.app\2.1.6\runtimes\osx-x64\native

[2018-12-05 23:47] Tratcher commented on #2067
Raising the threadpool limit is the first thing to try.
Disabling compression over HTTPs is the next best option.

[2018-12-06 02:06] Symbai opened #2113 ".NET Core 3.0 - WPF, the type 'x:Static' was not found"
Trying to port an existing WPF app to .NET Core 3.0 using VS 2019 Preview. I created a new WPF project using .NET core then imported my existing files, so far everything is fine. But some XML files have errors about:

`XLS0414	The type 'x:Static' was not found. Verify that you are not missing an assembly reference and that all referenced assemblies have been built.`

Where x is being defined as:

[2018-12-06 02:54] feipeng8848 commented on #2099
can't run winform project on manjaro:
[code]

[2018-12-06 04:09] MiyamuraMiyako commented on #2104
It seems that my issue has caused a lot of discussion.
@AaronRobinsonMSFT Thanks, I will try it and keep track of this feature.

[2018-12-06 04:15] eltiare commented on #2043
I'm getting this error when trying to connect to Crawlera. Their proxies use HTTPS. :(

[2018-12-06 05:15] John0King commented on #2045
I simply want  `App.Xaml` not generate the Entry-point , just put the Entry-point in ` App.Xmal.cs`

[2018-12-06 07:29] LindaLawton commented on #2099
@feipeng8848

No you cant use Windows forms on Linux.

[2018-12-06 07:48] logwlogw commented on #2103
https://github.com/dotnet/corefx/issues/33857

[2018-12-06 07:48] #2103 closed

[2018-12-06 09:16] agoni1212 opened #2114 "Fails to install DotNetCore 3.0 Windows Server Hosting with Error 0x80070570"
# Issue Title

Fails to install DotNetCore 3.0 Windows Server Hosting with Error 0x80070570

# General

I download the installer on three computer separately , and all failed with the error 0x80070570
OS: Windows Server 2012 R2 Datacenter
      WIndows server 2016 Datacenter
      Windows 10

the log as follows

[0658:06FC][2018-12-06T17:09:39]i001: Burn v3.11.1.2318, Windows v10.0 (Build 14393: S

[2018-12-06 11:21] akaylh opened #2115 "How to get number of connections in asp.net core"
I Want to get number of connections  in asp.net core.

[2018-12-06 14:05] Kajirinn commented on #2111
I figured out that you have to install nuget yourself. After I installed nuget and attempted to download Discord.NET I got this error:

[code]

No clue what's wrong..

[2018-12-06 14:07] TheRealEdwardCullen commented on #2098
Docker image uses file: "https://dotnetcli.blob.core.windows.net/dotnet/Sdk/2.2.100/dotnet-sdk-2.2.100-win-x64.zip" which is "2.2.100-rtm-009602"

Official release is "2.2.100-rtm-009607".

Normally, these files are synchronised, so I can get the hash from the release announcement.

Raised with dotnet-docker as [#855](https://github.com/dotnet/dotnet-docker/issues/855)

[2018-12-06 14:34] TheRealEdwardCullen commented on #2098
#2105

[2018-12-06 15:57] sergey-m-pega commented on #2067
If raising that limit is guaranteed to fix it then I'd go for it. The last thing we want is to run into occasional production lock ups, which I suspect is something that could still happen being dependent on server's load. So that leaves us with the same option we've already implemented - disabling response compression entirely. That's a far from ideal solution though.

[2018-12-06 16:25] Tratcher commented on #2067
The only guaranteed fix requires API and language changes in 3.0 (IAsyncDispose).

Your case is certainly the most severe we've seen, likely because HTTPS compression is off by default and most people use IIS's compression module instead.

[2018-12-06 18:50] tpluscode commented on #1675
This should not be closed. If I have a project targetting net core 2.0, paket mustn't install packages versions which require a newer version.

[2018-12-06 18:53] AlexSapple commented on #2098
Hi, after updating my Rest API project to .net core2.2, all the get requests failed with 415 status. After a long headache, it seems that anything that doesn't include a content type header fails - however, surely a GET in REST wouldn't ever include a content type (as there is no request body at all??). Is this behaviour expected? (something in WEBAPI changed?? or something to to with the work aro

[2018-12-06 18:56] vivmishra commented on #2113
cc: @vatsan-madhavan ; @amit-kabra

[2018-12-06 20:11] justinmchase commented on #43
More relevant news:
https://blogs.windows.com/windowsexperience/2018/12/06/microsoft-edge-making-the-web-better-through-more-open-source-collaboration/

This may have an affect on the technology used for non .net Windows Store Apps.

[2018-12-06 23:31] shpsyte opened #2117 "Install on Linux Mint"
# Install .net Core on Linux

I'm trying to install the .Net Core packages, but I have an issue and I do not know how to solve it.

I follow the steps on this page, but I get the below error: https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/sdk-2.1.202

jose@Jose-Desk:~$ sudo apt-get install dotnet-sdk-2.1
Reading package lists... Done
Building dependency tree
Reading state

[2018-12-06 23:58] shpsyte commented on #2117
https://i.stack.imgur.com/3sHQs.png

[2018-12-06 23:58] shpsyte commented on #2117
[output](https://i.stack.imgur.com/3sHQs.png)

[2018-12-06 23:58] shpsyte commented on #2117
![output](https://i.stack.imgur.com/3sHQs.png)[1]

[2018-12-07 00:06] vivmishra opened #2119 ".NET Core December Update - 2.2.200-preview and 2.1.600-preview SDK"
* .NET Core SDK 2.1.600-preview-009426
  [Release Notes](https://github.com/dotnet/core/blob/master/release-notes/2.1/Preview/2.1.600-preview.md)
  [Download 2.1.600-preview](https://github.com/dotnet/core/blob/master/release-notes/2.1/Preview/2.1.600-preview-download.md)

* .NET Core SDK 2.2.200-preview-009648
  [Release Notes](https://github.com/dotnet/core/blob/master/release-notes/2.2/preview/

[2018-12-07 00:35] akaylh commented on #2119
.NET Core SDK 2.2.200-preview-009648 Release Notes is 404.

[2018-12-07 03:49] vivmishra commented on #2099
Cc @natemcmaster ; @shirhatti for 3.0 hosting bundle setup issue.

[2018-12-07 10:34] pgolebiowski commented on #2075
Hey guys, do you have an idea for how to proceed? @karelz @nguerrera @dsplaisted

[2018-12-07 12:31] shpsyte commented on #1522
Work for me !

[2018-12-07 14:09] shpsyte commented on #2117
I found the solution, first install using root. If you use Unbutun 18.04 you also need to add this script beforehand:

wget -qO- https://packages.microsoft.com/keys/microsoft.asc | gpg --dearmor > microsoft.asc.gpg
sudo mv microsoft.asc.gpg /etc/apt/trusted.gpg.d/
wget -q https://packages.microsoft.com/config/ubuntu/18.04/prod.list
sudo mv prod.list /etc/apt/sources.list.d/microsoft-prod.list

add

[2018-12-07 14:09] #2117 closed

[2018-12-07 15:57] Symbai commented on #2113
I'm closing this as problem is being addressed in WPF repo https://github.com/dotnet/wpf/issues/117#

[2018-12-07 15:57] #2113 closed

[2018-12-07 16:15] jansokoly opened #2120 ".NET Core 2.2 deployment to Azure App Service"
After every stable .NET Core release, it's pain to figure out if the deployment of that version to App Service has finished. The only way (at least I know of) being - deploy upgraded app and see if it runs or breaks.

https://github.com/Azure/app-service-announcements seemed like the place to look for that info for some time, but it looks neglected at the moment. They do remind everybody not to cr

[2018-12-07 16:58] sergey-m-pega commented on #2067
We'll wait til 3.0 to revisit it then. Thanks for your help.

[2018-12-07 17:23] shirhatti commented on #2099
@vivmishra Filed a separate issue to track that

[2018-12-07 18:31] vivmishra commented on #2098
CC @muratg ; @Eilon for question from @AlexSapple

[2018-12-07 18:52] vivmishra commented on #2098
@KamranShahid : Sorry for the inconvenience, you can install .NET Core 2.2 using the installer package from the [download page](https://dotnet.microsoft.com/download/dotnet-core/2.2) and use it with VS 2017. .NET Core 2.2 will show in the project options as a target when you install the 2.2 SDK.

[2018-12-07 21:39] #2075 closed

[2018-12-07 21:39] dsplaisted commented on #2075
Issue moved to [dotnet/cli #10450](https://github.com/dotnet/cli/issues/10450) via [**ZenHub**](https://www.zenhub.com/)

[2018-12-07 22:14] muratg commented on #2098
@mkArtakMSFT @rynowak  @pranavkm

Could you take a look at @AlexSapple's question above? Related to ProblemDetails feature?

[2018-12-07 22:17] xoofx opened #2122 ".NET Core 3.0.0 Preview 1 very slow on ARM64"
Hey,
So I'm testing ..NET Core 3.0.0 Preview 1 on a debian/buster ARM64 and running a simple HelloWorld with dotnet takes more than 1 seconds while running the exact same program with mono takes 0.15s

Is there any known performance issue when running on ARM64?

Output of `dotnet --info`:

[code]

[2018-12-07 22:19] rynowak commented on #2098
@AlexSapple  - this is the explanation for what changed https://github.com/aspnet/AspNetCore/issues/4396

[2018-12-08 00:09] taori opened #2124 "I did not manage to convert an old project to netcore3 for wpf yet."
I originally posted my problem [here](https://developercommunity.visualstudio.com/content/problem/400819/converting-net40-wpf-project-to-netcore3-issues.html) with screenshots, but got sent to post it here.

Essentially my csharp files are being mentioned in the error list, saying how they contain an error at the root level of the resx file. This is rather odd.

Is there something i need to keep i

[2018-12-08 01:15] dasMulli commented on #2124
Are you building from inside VS or using the `dotnet` CLI?
if you're using the CLI, could you try to rebuild your project using `msbuild -t:Rebuild` from the VS 2019 developer command prompt?
some resx related features still only work from the "full framework MSBuild" shipped with VS

[2018-12-08 01:32] karelz commented on #2124
@taori are you able to track it down to a standalone repro?
This seems to be specific to your project ...

[2018-12-08 01:33] karelz commented on #2122
@brianrob @billwert do we have some insights into perf on ARM64?

[2018-12-08 01:34] karelz commented on #2120
@DamianEdwards @glennc @Eilon is it something you can follow up on or route?

[2018-12-08 01:35] taori commented on #2124
@dasMulli building from within VS 2019 preview

now i got it to execute but it won't start properly. Not sure why the error messages are gone now. Yesterday i cleaned, rebooted and they still would not go away...

I got this when starting from VS:
Das Programm "[5096] Desktop.exe" wurde mit Code -532462766 (0xe0434352) beendet.
Das Programm "[5096] Desktop.exe: Programmablaufverfolgung" wurde mit

[2018-12-08 01:35] karelz commented on #2108
@RussKeldorph can you please help route it to the right team? cc @BruceForstall

[2018-12-08 01:39] taori commented on #2124
Ok - i guess this explains why this is such an edgecase - i am referencing a .net40 class library which contains a xaml file. While i can obviously move that around, i guess that is still worth knowing, in case other ppl use user controls from an external project?

[2018-12-08 01:40] karelz commented on #2111
@rrelyea any idea where to route it?

[2018-12-08 01:42] karelz commented on #2114
@rakeshsinghranchi can you please help?

[2018-12-08 01:42] karelz commented on #2115
Number of incomming or outgoing connections?
It sounds more like a task for monitoring tool, or OS tool

[2018-12-08 01:45] karelz commented on #2106
@leecow @vivmishra can you confirm and make the change please?

[2018-12-08 01:51] taori commented on #2124
@karelz  Interesting. That error does not happen if i strip down a sample to the bare essentials. Program just starts fine in isolation without errors.

[2018-12-08 02:14] taori commented on #2124
I have removed the Xaml file - This revealed the actual reason(one of them? still progressing) the application won't launch properly:

![image](https://user-images.githubusercontent.com/5545184/49680658-4a65ee80-fa97-11e8-9676-0e97611fb8aa.png)

[2018-12-08 02:40] karelz commented on #2124
Weird, why would that happen? Can you get callstack? (in textual form please)
cc @bartonjs

[2018-12-08 02:40] taori commented on #2124
This i experienced in the process of upgrading this:

- At some point of the application there is a Process.Start(filepath) to a log file if all other logging attempts fail, which threw the following exception
[code]

- There was a reference to another project, which was set to application as well, which prevented the application from executing properly.
- Removing that reference + saving the proj

[2018-12-08 02:43] taori commented on #2124
@karelz the original code was
`var desCrypto = (DESCryptoServiceProvider)DES.Create()`
which after turning it into
`var desCrypto = new DESCryptoServiceProvider()`
worked fine - i guess the API simply changed, so that isn't an issue anymore.

[2018-12-08 02:59] RussKeldorph commented on #2108
@sbomer @jeffschwMSFT

[2018-12-08 03:02] taori commented on #2124
Oh well. After doing a little bit of research it looks like i won't be the only one who will be blocked by the OleDb dependency. I wish ppl stopped using excel + access instead of real databases. Thanks for the support though. Feel free to close this once you are done picking up the feedback i guess (if you're interested in it, that is. Just thought i'd try preview1 on this legacy application to f

[2018-12-08 06:02] akaylh commented on #2115
I found it :https://stackoverflow.com/questions/49798923/total-hit-visitor-counter-in-asp-net-core-mvc-application, May solve my problem。

Thanks @karelz

[2018-12-08 06:03] #2115 closed

[2018-12-08 07:46] KamranShahid commented on #2098
My point is Visual Studio 2017 should have option to update as when we have releases of 2.1.0 til 2.1.6 rather then doing separate sdk download

[2018-12-08 08:46] rakeshsinghranchi commented on #2114
cc @joeloff
This is an ASP.NET setup where the setup payload is either corrupted or incomplete.

https://github.com/wixtoolset/issues/issues/5716

[2018-12-08 13:11] rrelyea commented on #2111
Generally, this is how this kind of thing works:

Put a packagereference in you csproj
Dotnet build
   This will do an implicit restore, and put any packagereference sand their transitive dependencies into the global package folder on the dev box. This also builds a deps.json file in the bin dir.

Dotnet publish
    This is probably necessary to take all the binaries from the dev machine and creat

[2018-12-08 18:42] taori commented on #2124
one `<AutoGenerateBindingRedirects>true</AutoGenerateBindingRedirects>` later:

[code]

[2018-12-09 00:32] Kajirinn commented on #2111
Right, so all I had to do was publish it; that indeed fixed it. Sorry for that; thanks for your time!

[2018-12-09 00:32] #2111 closed

[2018-12-09 04:16] philtimmes commented on #2088
LOL... Never heard of ReactOS, have you been living under a rock?

[2018-12-10 01:11] andreslon opened #2125 "NetCore 2.2 Angular template does not publish to Azure"
NetCore 2.2 Angular template does not work to publish in Azure

Steps:

1. Create a netcore 2.2 angular template project.
2. Give right click in the project--> Publish
3. Publish with any azure profile
4. Launch the browser with the published app

You can see in the browser:
"The page cannot be displayed because an internal server error has occurred."

The Angular versión is not problem, I tried w

[2018-12-10 01:57] agoni1212 commented on #2114
[#4510](https://github.com/aspnet/AspNetCore/issues/4510)

already fixed by the MS team

thanks

[2018-12-10 01:57] #2114 closed

[2018-12-10 02:05] johnmelodyme commented on #948
So silly that I am, I commanded "killall" in my ssh terminal , and now I have to reset all. The issues raised here kind of helpful tho..

[2018-12-10 02:08] karelz commented on #2067
Closing as there is nothing actionable left here. Let me know if I overlooked something.

[2018-12-10 02:08] #2067 closed

[2018-12-10 04:19] johnmelodyme commented on #2001
Still can't

[2018-12-10 10:37] cocoke commented on #2125
I'm facing the same problem 😞

[2018-12-10 10:52] arnvanhoutte commented on #2125
I had the same problem on our local server. We had to upgrade the ASP.NET Core hosting bundle to fix it: https://dotnet.microsoft.com/download/thank-you/dotnet-runtime-2.2.0-windows-hosting-bundle-installer

[2018-12-10 10:59] juancrl commented on #930
Perfect also in my case. The folder was different, as stated :

sudo yum install rpm-build
wget https://github.com/dotnet/core/files/2186067/openssl-libs-ami.spec.txt
rpmbuild --bb openssl-libs-ami.spec.txt
sudo rpm -i /root/rpmbuild/RPMS/x86_64/openssl-libs-1.0.0-0.x86_64.rpm
sudo yum install -y powershell

[2018-12-10 13:09] fdbva commented on #2125
I had the same problem even with the `Self-Contained` deploy option. Shouldn't this option not require something external?

[2018-12-10 13:58] krajek commented on #2125
I got the same error message when I upgraded my app from 2.1 to 2.2. The error happens only on AppService deployment, locally everything works fine.

If I manually change `AspNetCoreModuleV2` to `AspNetCoreModule` in `web.config` it starts working again.

[2018-12-10 14:42] MarcoRossignoli commented on #2125
Same issue. Confirm @krajek trick.

[2018-12-10 14:50] arviedelgado commented on #2099
@LindaLawton

For Visual Studio 2017, you may have to enable Visual Studio to use "preview" versions of .NET Core.

Tools > Options... > Projects and Solutions > .NET Core > Tick "Use previews of the .NET Core SDK" > OK

This works with Visual Studio Community 2017 v15.9.3 to solve the "Project file is incomplete. Expected imports are missing. " popup when reloading  the project.

Once you loaded

[2018-12-10 14:50] arnvanhoutte commented on #2125
@AitroSoftware  Adding `<AspNetCoreHostingModel>InProcess</AspNetCoreHostingModel>`  the Javascript SPA services. https://github.com/aspnet/JavaScriptServices/issues/1786

[2018-12-10 14:54] MartinZikmund commented on #2125
After long digging, I fixed this by installing the .NET Core 2.2 Runtime extension on Azure (which supports the new `AspNetCoreModuleV2`) - go to your app service, select **Extensions** in the left pane and then find the .NET Core 2.2. Runtime in the list and install it.

[2018-12-10 15:02] cocoke commented on #2125
This is working, thanks a lot 😃

[2018-12-10 15:30] AitroSoftware commented on #2125
@MartinZikmund

This has worked for me

[2018-12-10 15:58] ccifra opened #2126 "FileFormatException is in WindowsBase and System.IO.Packaging"
# FileFormatException is in WindowsBase and System.IO.Packaging

I am working on porting a WPF application to .NET Core.  The projects reference the Microsoft.Windows.Compatibility nuget to bring in types that I need.  I am running into issues with FileFormatException.  When I use it I get a build error that FileFormatException is defined in WindowsBase and System.IO.Packaging.

# General

I am se

[2018-12-10 16:37] marquesoftware commented on #2078
Did you notice any significant improvement when disabling SocketsHttpHandler? Because I did tests enabling and disabling and did not get better.

[2018-12-10 17:00] Eilon commented on #2107
This issue was moved to aspnet/AspNetCore#4549

[2018-12-10 17:01] #2107 closed

[2018-12-10 17:03] Eilon commented on #2120
@muratg - any thoughts on this?

[2018-12-10 17:04] karelz commented on #2120
I already got the right team on internal email thread, thanks for help @Eilon @muratg!

[2018-12-10 17:20] karelz commented on #2126
@danmosemsft @vatsan-madhavan @rladuca any idea what's going on here? Is the type currently defined in 2 places?
The CoreFX version hints that it is typeforwarded from WindowsBase:
https://github.com/dotnet/corefx/blob/a10890f4ffe0fadf090c922578ba0e606ebdd16c/src/System.IO.Packaging/src/System/IO/Packaging/FileFormatException.cs#L15-L19

However, I wonder how WPF dependency on compat pack works ..

[2018-12-10 17:33] krajek commented on #2125
Extension worked for me to(x86 version). Thanks a lot, @MartinZikmund.

Very unfortunate that the migration guide does not mention it (https://docs.microsoft.com/en-us/aspnet/core/migration/21-to-22?view=aspnetcore-2.2&tabs=visual-studio) :-(.

[2018-12-10 17:41] yamac-kurtulus opened #2127 "How to set up redirect uri for oauth authorization using on docker when running containers behind IIS reverse proxy"
Hello everyone,

We are building a web application with dotnet core running inside docker containers. We have put the app behind IIS on WS2016 which is used as reverse proxy. The requests incoming to our URL (let's call it www.myurl.com) are forwarded to the related docker container using the container name as the hostname with the help of url rewrite module(in our case, let's call it "web"). This

[2018-12-10 17:52] rladuca commented on #2126
As of right now, all of System.IO.Packaging exists both in the compat pack and in WindowsBase.  We haven't done the work to remove it from WindowsBase, we have a work item for that already.

[2018-12-10 17:59] danmosemsft commented on #2126
You plan to remove it from WindowsBase? The S.IO.Packaging that is in CoreFX today is only a subset.

This is tracked here, but not currently scheduled: https://github.com/dotnet/corefx/issues/29959

[2018-12-10 18:09] rladuca commented on #2126
@danmosemsft When I say we have a work item, that work item is not scheduled for the immediate future, but we recognize that we need to do work to clean up the duplicates.  As that work gets completed that duplicate list will grow.  It's best to wait and do it all in one go, but I don't have any easy solution for developers in the short term.

[2018-12-10 18:13] danmosemsft commented on #2126
Yep, I just wanted to clarify that this was not correct:

[2018-12-10 18:15] danmosemsft commented on #2126
Meanwhile a possible workaround could be to remove the reference on S.IO.Packaging - you are probably getting that implicitly through referencing the Compatibility pack, which is a meta package. You could remove that and explicitly reference the packages you want (excluding S.IO.Packaging)

[2018-12-10 18:30] rladuca commented on #2126
@danmosemsft Yes, you could do that, but how does that interact with publishing?  Most WPF applications on .NET Core (that we've seen) tend to publish self-contained.  Maybe there is some extra workaround we can add there, but I don't have the requisite knowledge to know how to fix that with VS publish.

[2018-12-10 20:30] andreslon commented on #2125
How do you changed the web.config, if this does not exists in the net core project?

[2018-12-10 21:04] MartinZikmund commented on #2125
I think the problems have to do win what is mentioned in the [ASP.NET Core 2.2 announcement post](https://blogs.msdn.microsoft.com/webdev/2018/12/04/asp-net-core-2-2-available-today/):

<PropertyGroup>
    <TargetFramework>netcoreapp2.2</TargetFramework>
    <AspNetCoreModuleName>AspNetCoreModule</AspNetCoreModuleName>
    <AspNetCoreHostingModel>OutOfProcess</AspNetCoreHostingModel>
</PropertyGro

[2018-12-11 03:18] fugaku commented on #2098
I can no longer find `HttpContentFormDataExtensions` in `System.Net.Http`

Is it moved somewhere?

[2018-12-11 03:37] tellarin commented on #1939
Just as a note that may be useful to others...
Making sure nuget version is 4.3.0+ solved it for us.

[2018-12-11 07:46] viktors-telle commented on #2125
I have installed x64 extension and it helped. Also I have added the following two lines to the .csproj file:
[code]

[2018-12-11 08:57] stefanov-stefan commented on #2108
Yep I had, and i logged it as issue: https://github.com/dotnet/winforms/issues/210

Thanks.

[2018-12-11 09:51] AitroSoftware commented on #2125
@MartinZikmund
Thanks
I figured it had to be something to do with 2.2 not being available in certain regions, but I couldn't find the announcement anywhere

Can confirm that adding the following two lines to the .csproj file has worked
[code]

[2018-12-11 11:06] kameleon71 opened #2129 ".Net Core 2.2 memory leak"
Hello guys,
I found memory leak when I sent files to API using IFormFile interface.
With version 2.1 everything is ok.

Simple example:
Content-type: multipart/form-data

# controller
[code]
# viewmodel
[code]

# process dotnet.exe
![image](https://user-images.githubusercontent.com/45788355/49796161-3ee72180-fd3c-11e8-8128-18d81b9b8ad6.png)

[2018-12-11 11:15] benaadams commented on #2129
Might want to file it here: https://github.com/aspnet/AspNetCore

[2018-12-11 11:42] kameleon71 commented on #2129
Ok, you're right.

[2018-12-11 11:42] #2129 closed

[2018-12-11 15:45] SkinnySackboy opened #2130 "Issues compiling after installing SDK 2.2"
Hi,

Having already been using .NET Core 2.0 and 2.1 in production already, earlier this week we decided to start upgrading to .NET Core 2.2. On our machines (i.e. in Visual Studio), so far so good - we installed the SDK without having modified any projects and everything still works as it always used to.

On our TeamCity agents, we decided to do the same as we have in the past, i.e. to install th

[2018-12-11 16:41] muratg commented on #2098
@MeiChin-Tsai Was there any change in 2.2 to cause any memory usage increase in @tomap's scenario above?

[2018-12-11 17:30] karelz commented on #2098
@fugaku why do you think it is gone? See https://apisof.net/catalog/System.Net.Http.HttpContentFormDataExtensions - it should be in System.Net.Http.Formatting.dll, is that not the case?

[2018-12-11 17:33] karelz commented on #2130
.NET Core is side-by-side. You need to either upgrade your project to latest version (netcoreapp2.2), or keep appropriate version installed (netcoreapp2.1 in your case).

[2018-12-11 17:38] SkinnySackboy commented on #2130
The thing is we did keep the old SDK that was previously working installed - the thing that caused our projects to start failing is the additional installation of the .NET Core 2.2 SDK. We didn't uninstall the previous SDKs.

For sure upgrading the projects fixes this problem as I tried it, but unfortunately I cannot force all other teams to upgrade simultaneously. Despite having both SDKs install

[2018-12-11 17:41] karelz commented on #2130
Installing additional SDK should not break build of your previously-building apps. That is weird.
Are you able to reproduce it with HelloWorld app? Or is it specific to your project?
Does it repro on more than 1 machine?
If we have a repro, we can take a look ...

cc @nguerrera @dsplaisted

[2018-12-11 18:55] leecow opened #2131 "3.0/releases.json missing root element"
{
  "channel-version": "3.0",
  "latest-release": "3.0.0-preview1",
  "latest-release-date":"2018-12-04",
  "support-phase": "preview",
  "eol-date": "",
  "lifecycle-policy": "https://www.microsoft.com/net/support/policy",
  "releases":
  [
   ...
  ]
}

[2018-12-11 19:04] Terricide opened #2132 "MAC Mojave Accessibility apis"
# Issue Title

I'm not sure if this is a mac os issue or just the way .net core works on mac osx mojave. But essentially I'm using the api example here "https://forums.xamarin.com/discussion/21965/binding-accessibility-api-axisprocesstrustedwithoptions" to try and add my .net core application to accessibility because I've written a remote control application that needs to be able to send keyboard/

[2018-12-11 19:34] karelz commented on #2132
I am confused: If you're using Xamarin APIs, how come you run on .NET Core? That should not be possible AFAIK.

[2018-12-11 20:07] vivmishra opened #2134 ".NET Core December Update - 2.2.101 and 2.1.502 SDK"
* .NET Core SDK 2.1.502
  [Release Notes](https://github.com/dotnet/core/blob/master/release-notes/2.1/2.1.502-SDK/2.1.502.md)
  [Download 2.1.502](https://github.com/dotnet/core/blob/master/release-notes/2.1/2.1.502-SDK/2.1.502-download.md)

* .NET Core SDK 2.2.101
  [Release Notes](https://github.com/dotnet/core/blob/master/release-notes/2.2/2.2.101-SDK/2.2.101.md)
  [Download 2.2.101](https://g

[2018-12-11 20:37] SkinnySackboy commented on #2130
This is indeed happening with all our projects previously targeting netcoreapp2.1 and on each machine where we installed the 2.2 SDK. Tomorrow I will create a test project to reproduce the issue.

On the runtime side we have had zero issues installing things side-by-side, so this is only an issue at compile time outside of Visual Studio.

[2018-12-11 20:50] vivmishra commented on #2131
Fixed by #2135

[2018-12-11 20:50] #2131 closed

[2018-12-11 20:57] Terricide commented on #2132
Well I am using a port of MonoMac to the .net standard.

https://www.youtube.com/watch?v=edgosMqgcBc

I'm only using it for a few apis and it has been working well for what I've needed. It's been working well until mojave started locking things down.

[2018-12-11 20:57] Terricide commented on #2132
https://www.nuget.org/packages/MonoMac.NetStandard

[2018-12-11 21:16] Nothing-Works commented on #2134
@vivmishra Hi I just updated to Visual Studio 2017 version 15.9.4 and I just got .NET Core SDK 2.1.502 no .NET Core SDK 2.2.101 is this the expected version?

According to this [Release Notes](https://github.com/dotnet/core/blob/master/release-notes/2.2/2.2.101-SDK/2.2.101.md) I should have .NET Core SDK 2.2.101 as well right?

[2018-12-11 22:54] vivmishra commented on #2134
@Nothing-Works, thanks for pointing out the mistake -- rel note is updated.
2.2.101 is not yet included in any released VS version.

[2018-12-12 00:50] sc-starman opened #2136 "UserManager.CreateAsync(...) throws error after upgrade to .netcore 2.2"
I have updated my project to .netcore 2.2 from 2.1 and struggling this issue for hours until I've found this.

Exception Message:
`"Value cannot be null.\r\nParameter name: key"`
Stack-trace:
[code]

**Consider**:
-I've extended IdentiyUser and IdentityRole classes.
-Extra Packages: Microsoft.EntityFrameworkCore.Proxies, Microsoft.EntityFrameworkCore.SqlServer

[2018-12-12 01:30] jarz commented on #2136
The exception is thrown inside EntityFrameworkCore code.

Are you able to see where EF Core is throwing this in your application code? I'm thinking you're missing configuration in your `OnModelCreating` (or equivalent) method to denote the identity property/column for a class.

[2018-12-12 03:36] mrsquish commented on #2134
Here I was thinking this was just me!

Mind you, even after installing SDK 2.1.502 I can't seem to update the Nuget packages to 2.1.5? Or am I completely barking up the wrong tree.

[2018-12-12 06:53] donma commented on #2120
got the same problem  T.T.

[2018-12-12 06:56] UweKeim commented on #2134
Did **IIS in-process hosting** make it into 2.2 [as stated here](https://github.com/aspnet/AspNetCore/issues/3794#issuecomment-435473758)?

[2018-12-12 07:41] Rutix commented on #2134
@UweKeim yes it did. See also https://blogs.msdn.microsoft.com/webdev/2018/12/04/asp-net-core-2-2-available-today/

[2018-12-12 08:14] johnmelodyme opened #2137 "Issue: 'Exception has occurred: CLR/System.Net.Sockets.SocketException'"
I am planning of deploy my API to my server and error happen.

My source:

[code]
![sdfgj](https://user-images.githubusercontent.com/44691957/49858885-18ef7900-fe31-11e8-89e3-1892e57d7bd6.png)

The error after I run it in ssh and visual.

[code]

With screenshot attached:
Any idea? Because I am not so familiar with C#.
btw , I'm ubuntu 18 user

[2018-12-12 08:53] riezebosch commented on #2090
Really having a hard time to get the auto-update of chocolatey packages working. Each and every release of every version seems to have a different format.

[2018-12-12 11:07] DenKn opened #2138 "How to use AddTypeActivatedCheck for HealthChecks."
# General
 Microsoft.NETCore.App 2.2.0
 Windows 10

I have class.

[code]

If in my service I use such code
[code]
and call _http://localhost/health_ I get **Internal server error**.

But if I use the code below and call _http://localhost/health_  it works correctly.
[code]
What's problem?

[2018-12-12 13:56] SkinnySackboy commented on #2130
@karelz Today we did some more investigation and realised that this problem had absolutely nothing to do with the code itself. We create a brand new solution in Visual Studio, containing a single project targeting netcoreapp2.1 with no code inside it.

After multiple tests, we realised that it was succeeding/failing depending on which versions of the 2.1.x SDK was installed on a machine. Here's wh

[2018-12-12 14:08] tristanbarcelon commented on #2090
Hi @riezebosch, I did get some traction on this though at the expense of ignoring ones that cause issues. I'm also thinking that some of the values are incorrect. Try this cmdlet to see if it works out for you. Feel free to use it and provide comments.

[Get-AvailableDotnetCoreReleaseFile.txt](https://github.com/dotnet/core/files/2672172/Get-AvailableDotnetCoreReleaseFile.txt)

[2018-12-12 14:38] nguerrera commented on #2130
Indeed, but `dotnet build` will use latest SDK unless you have a global.json file specifying an older version.

This isn't exactly the case. Latest SDK can _build_ projects targeting older versions of .NET Core. To _run_ the output (if framework-dependent), you need the older runtimes installed. That can either be through having the full older SDK installed SxS or only the older runtime.

It shoul

[2018-12-12 14:38] nguerrera commented on #2130
This issue was moved to dotnet/cli#10466

[2018-12-12 14:38] #2130 closed

[2018-12-12 14:41] tristanbarcelon opened #2139 "Inconsistent/incorrect value provided for release-version in the 2.1 releases.json file"
# Issue Title
A change to 2.1 releases.json yesterday bucked the convention for releases.

# General

I wrote a script for enumerating dotnetcore assets by version and type (sdk, runtime, hosting bundle) and it produced an uncharacteristic value for runtime version that is not consistent with previous releases. This  only seems to affect [releases.json for 2.1](https://github.com/dotnet/core/blob/

[2018-12-12 14:49] tristanbarcelon commented on #2134
Could this 2.1.502 update of the SDK introduced an inconsistent pattern with the 2.1 releases.json file? I posted the [issue](https://github.com/dotnet/core/issues/2139) here. Having analyzed the releases.json files for prior releases, this 2.1.502 sdk entry would have previously ended up in the sdk field of the 2.1.6 release instead of having its own release entry. Can we get some clarification p

[2018-12-12 15:25] leecow opened #2140 "3.0 osx-gs names are incorrect in the v2 json"
Should be `dotnet-sdk-osx-gs-x64.pkg` and `dotnet-sdk-3.0.100-preview-009812-osx-gs-x64.pkg`.

[code]

[2018-12-12 15:36] leecow commented on #2090
Thanks for the feedback and patience as we polish these up.

The release-version is giving me a bit of a fit. As you noticed this week, we do sometimes have an SDK release which carries a previously released runtime. With this scenario in mind, what should latest-release and release-version mean? I did add latest-runtime and latest-sdk to the top element as well as runtime-version to the sdk to en

[2018-12-12 15:38] leecow commented on #2139
Thanks @tristanbarcelon . I left a longer reply in the other issue. As mentioned there it is possible to have an SDK release which includes previously released runtimes. Discussion in https://github.com/dotnet/core/issues/2134 to work through solutions.

cc @vivmishra

[2018-12-12 15:43] leecow commented on #2090
@tristanbarcelon - I'm going to make a pass through the releases.json files and clean up the field inconsistencies this morning.

[2018-12-12 16:05] tristanbarcelon commented on #2090
Thanks @leecow @vivmishra for looking into this issue. I believe @riezebosch might also be helped by cleanup of releases.json. Would it help if you publish some kind of a schema or structure intent for release.json files so we can parse them successfully in the future? I like the idea of having a release index for each major.minor since the Microsoft's support status coincides with them. Parsing 1

[2018-12-12 16:50] dcb99 commented on #2098
I had a similar issue, and it was resolved after making sure the program key in launch.json configurations referenced netcoreapp2.2 and not netcoreapp2.1

[2018-12-12 17:11] karelz commented on #2137
@tmds @wfurt can you please help here?

[2018-12-12 17:14] karelz commented on #2136
For EntityFrameworkCore feedback, please use https://github.com/aspnet/EntityFrameworkCore

[2018-12-12 17:14] #2136 closed

[2018-12-12 17:15] wfurt commented on #2137
Does it happen only when running in visual studio @johnmelodyme? Check that you don't have another copy running in background.

[2018-12-12 17:23] riezebosch commented on #2090
@tristanbarcelon As far as I know the `releases.json` [is deprecated](https://github.com/dotnetcore-chocolatey/dotnetcore-chocolateypackages/issues/33#issuecomment-426345660) and will be removed in the (near) future.

[2018-12-12 18:00] karelz commented on #2132
Can you provide minimal repro without using that library?
It will help to filter out if it is indeed problem in the platform, or problem in the library itself.

[2018-12-12 18:02] tristanbarcelon commented on #2090
@riezebosch are you referring to the version specific releases.json? I believe that's what they are moving to (referred to as v2)[https://github.com/dotnet/core/pull/1960]. They are indeed retiring [v1 releases.json](https://github.com/dotnet/core/blob/master/release-notes/releases.json) which contains all the releases. I distinctly recall install-dotnet.ps1 using it, but that too may change once

[2018-12-12 18:22] tristanbarcelon commented on #2090
@leecow and @vivmishra  I also noticed the addition of runtimeidentifier [rid](https://docs.microsoft.com/en-us/dotnet/core/rid-catalog) field in the newer files entries. Will this be backfilled for prior releases? Is files.name intended to be a version-agnostic file name pattern? That's what I used it for at least when I wanted to search for an executable (exe) version of sdk or runtime or hostin

[2018-12-12 18:30] karelz commented on #2120
Per offline discussion, it will be announced once the roll out is finished.
@shirhatti answered similar question on the blog post: https://blogs.msdn.microsoft.com/dotnet/2018/12/04/announcing-net-core-2-2/ (see discussion comments)

I am not sure if Azure App Service team plans to do just a blog post, or post on https://github.com/Azure/app-service-announcements. I let that decision and its commu

[2018-12-12 18:30] #2120 closed

[2018-12-12 20:11] jeffschwMSFT commented on #2108
The address is active again.  Sorry for the inconvience.

[2018-12-12 20:11] #2108 closed

[2018-12-13 01:34] johnmelodyme commented on #2137
No sir, there's nothing running in the background.

[2018-12-13 01:57] johnmelodyme commented on #2137
@karelz (More info)

First when I deploy the API to the localhost:5001, all work fine until I put everything together in the server. I did `dotnet publish` the project. before this I `sudo scp - r` the (all files) relevant project to the server's `/home` . `dotnet build && dotnet run`, and all work fine. I  came to mind that that wasn't a good idea for uploading all files without compounding it. T

[2018-12-13 03:16] xinschen opened #2143 "Centos7.3 Cannot get required symbol EC_KEY_set_public_key_affine_coordinates from libssl"
Centos7.3 Cannot get required symbol EC_KEY_set_public_key_affine_coordinates from libssl
openssl info
OpenSSL 1.0.2k-fips  26 Jan 2017

Referenced to ”https://github.com/dotnet/core/issues/1930" and Upgrade openssl to version 1.1.0g，but did not solve

dotnet --info
![image](https://user-images.githubusercontent.com/26127685/49913316-2e63b200-fec8-11e8-95d3-31c34a84949e.png)

dotnet new  -h
![imag

[2018-12-13 07:19] johnmelodyme commented on #2137
I'm sorry my bad. I didn't see there's something after the `{` tag.

[2018-12-13 08:46] tmds commented on #2137
@johnmelodyme an example:

Create a web webapplication
[code]
Publish it:
[code]
Copy the publish folder to your server (`/tmp/myserver` represents a folder on the server):
[code]
On the server:
[code]

* you mustn't use `dotnet run` on your server, that command is for development.
* use the `ASPNETCORE_URLS` environment variable to configure the binding address

[2018-12-13 09:15] johnmelodyme commented on #2137
Thanks for the help sir.

[2018-12-13 09:15] johnmelodyme commented on #2137
@tmds thanks for the tutorial sir.

[2018-12-13 09:36] johnmelodyme commented on #2137
![11111](https://user-images.githubusercontent.com/44691957/49929473-836deb00-fefd-11e8-976c-3d6ae8cceee8.png)

It worked sir, but my supervisor, accidentally did something to my script.

[code]

[2018-12-13 09:42] tmds commented on #2137
Great!

Take some time to learn to understand the IDE and compiler. Start from a working version and see when it starts to fail. Version control can be helpful to help you keep track of things that work.

Can you close the issue?

[2018-12-13 09:43] Depechie commented on #43
Just as reference, there is actually a cross platform effort based on UWP XAML outside of Microsoft: https://platform.uno/
If you still like XAML as UI markup, this lib works very wel... ( web, desktop and mobile )

[2018-12-13 09:43] johnmelodyme commented on #2137
Sure.

[2018-12-13 09:44] #2137 closed

[2018-12-13 10:42] tristanbarcelon commented on #2134
@leecow I looked over the shape of 2.0's releases.json and it's missing latest-runtime and latest-sdk fields. Granted its maintenance status is EOL, would it hurt to show these two fields across all releases so we don't have to code for missing fields/exceptions when parsing the json file?