[2019-07-10 15:23] leecow commented on #2980
dotnet-install is driven by values in a few different `latest.version` files. I missed updating that for 3.0-preview6.

@vivmishra - could you update https://dotnetcli.blob.core.windows.net/dotnet/Sdk/3.0/latest.version to

3.0.100-preview6-012264
99151dfa08364242d93c861568abaf044e134d8c

[2019-07-10 15:55] xaocel opened #3016 "No ipv6 on packages.microsoft.com"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/centos/sdk-current
Operating System: Linux CentOS / Oracle - x64

packages.microsoft.com has no ipv6?

[2019-07-10 16:40] AndreyAkinshin commented on #2540
Here is a help article which explains the problem, lists all incompatible configurations, and shows possible ways to resolve the problem: https://rider-support.jetbrains.com/hc/en-us/articles/360004180039

@ststeiger in Rider, you should get a notification which redirects you to this article.

[2019-07-10 18:40] vivmishra commented on #2980
Following has been updated:
https://dotnetcli.blob.core.windows.net/dotnet/Sdk/3.0/latest.version

[2019-07-10 18:44] alarco-l commented on #2980
Thanks a lot, I’m closing the issue.

[2019-07-10 19:13] JSkimming commented on #2775
The .NET SDK releases 2.1.701 & 2.2.301 are now available and contain the fixes.

[2019-07-11 02:24] terrajobst commented on #2883
@svengeance

We hear you -- and truth to be told -- many on our team are also ambivalent about the naming, for the reasons you presented. Let me try to make an argument in favor of the ".NET 5" branding.

.NET, as most technologies that are about 20 years old, have a lot of heritage. Both in product design decisions as well as in product naming and editions. I like to believe that we did reasonabl

[2019-07-11 02:48] terrajobst commented on #2955
I'll take a look

[2019-07-11 07:23] knocte commented on #2540
What's 2019.1.1 and 2019.2?

Are you saying that mono version 6.x doesn't have this bug? If yes, can you try with packages instead of building from source? In https://github.com/NuGet/Home/issues/7956#issuecomment-503055465 we determined that this is caused by the version of nuget being bundled.

[2019-07-11 07:33] bizzbizz opened #3017 "Environment.UserInteractive does not work as expected"
# `Environment.UserInteractive` returns true in WindowsService

We have a console application which can be run either as a console application or a windows service. There is a `if (Environment.UserInteractive)` statement in it which used to work as expected in netfx471 and older, but when we ported to dotnet core it always returns true.

I tried to test it outside of VisualStudio and I manually st

[2019-07-11 07:43] AndreyAkinshin commented on #2540
@knocte

It's versions of [Rider](https://www.jetbrains.com/rider/). In Rider 2019.2, we significantly improved our diagnostics: once you hit this problem, Rider will notify you about it and tell you how to fix it. Rider 2019.1 also knows how to detect this problem, but it doesn't cover all the possible misconfiguration cases.

Actually, it's not a bug, it's an incompatible configuration. Mono 5.x

[2019-07-11 07:52] knocte commented on #2540
I disagree. Even if you identified what dotnetCore versions are compatible with what mono versions, it's not acceptable that both versions that are considered stable at this moment are incompatible (preview being incompatible with stable would be more understandable).

[2019-07-11 08:59] 0xd4d commented on #3017
See this issue https://github.com/dotnet/coreclr/issues/25595

[2019-07-11 09:35] ststeiger commented on #2540
@AndreyAkinshin:
Hmm, that was too soon.
Built mono 6 from source, mono --version shows 6.5, but the problem persists.

I've now also entirely removed the HtmlAgilityPack nuget package, and added it as netstandard 2.0 project, but the problem persists now. Hmmm, somehow, it seems like the project file is screwed up now.

[2019-07-11 09:41] wicaodian opened #3018 "The term 'dotnet' is not recognized as the name of a cmdlet, function, script file, or operable program."
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-07-11 10:07] ststeiger commented on #2540
@AndreyAkinshin:
Ah, got it, autodetect is only detecting msbuild in /usr/lib, and not not /usr/local/lib.

Why can this setting not be set on a per-project base ?
Is msbuild building per solution or per project ?

[2019-07-11 10:18] hatanesan opened #3019 "unity"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-07-11 10:25] sesamefly opened #3020 "System.PlatformNotSupportedException","Message":"'CspParameters' requires Windows Cryptographic API (CAPI), which is not available on this platform."
# Issue Title

System.PlatformNotSupportedException","Message":"'CspParameters' requires Windows Cryptographic API (CAPI), which is not available on this platform.

# Enviroment
Centos 7,Docker ，.Net Core 2.1
# General
cause the error code is :"  RSACryptoServiceProvider RSA = new RSACryptoServiceProvider(bitLen, CspParameters);".

The Code is :
[code]

[2019-07-11 11:06] sesamefly commented on #3020
I find a similar [issue ](https://github.com/docusign/docusign-csharp-client/issues/214),so close this.

[2019-07-11 11:25] sesamefly commented on #3020
Oh,It's not a question.

[2019-07-11 14:06] lesha-m commented on #2952
I did everything including restarting the computer. I had to to find instructions on stack overflow and add dotnet to path manually in order to get it to work. According to the same stackoverflow article failure to add dotnet to path is a well-known bug.

[2019-07-11 15:05] dude202 opened #3021 "core 3.0 preview 6 broke COM Interop usage, compiles but raises System.TypeLoadException "The signature is incorrect" on runtime"
Core 3.0 test project references and uses COM component.
Preview 5 does function without problems. Proven by uninstalling Preview 6 and installing Preview 5 without any Project/Code changes.

[2019-07-11 15:21] bartonjs commented on #3020
If you're not naming your keys to persist them there's no point in using the CspParameters key creation.  Your code could just be

[code]

`CspParameters` is about directly interacting with the Windows crypto libraries, which are only available on Windows.

If you're strongly typed as RSACryptoServiceProvider (which is generally a bad idea, it's the most limited of the RSA types) you can just elim

[2019-07-11 15:39] AyeChan1309 opened #3022 "'myApp' is not recognized as an internal or external command, operable program or batch file."
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-07-11 16:51] glennc commented on #2992
What URI did you try to browse to? That message typically means that your request made it to ASP.NET but the route didn't match any routes. So I would double check that the route on your controller matches the request you are sending. If you show the controller and URI you sent I might be able to see a problem.

[2019-07-11 17:18] carlossanlop commented on #3000
@rowanmiller 's team owns these tutorials.

[2019-07-11 17:18] glennc commented on #2983
No, you want to copy the publish output into your runtime image. The publish layer comes from build and then runs the publish command. Is your Dockerfile missing the publish layer?

[code]

[2019-07-11 17:19] carlossanlop commented on #3005
@rowanmiller 's team owns these tutorials.

[2019-07-11 17:20] carlossanlop commented on #3022
Hi @AyeChan1309, can you provide more details about your problem?

[2019-07-11 17:22] carlossanlop commented on #3021
Hey @ericstj would you be the best person to help with this issue? If not, can you help redirect it?

[2019-07-11 17:25] carlossanlop commented on #3019
@hatanesan  can you please provide more details about your problem?

[2019-07-11 17:26] carlossanlop commented on #3018
@wicaodian can you provide more details about your problem?
Judging by the title, you probably didn't close and reopen the terminal window after installing dotnet. You need to do this so the environment variables get updated.

[2019-07-11 17:33] carlossanlop commented on #3017
According to the code, we always return `true`: [corefx/src/Common/src/CoreLib/System/Environment.cs#L129](https://github.com/dotnet/corefx/blob/c1d441f293f2370b76a246d5bd541de379851393/src/Common/src/CoreLib/System/Environment.cs#L129)

This line was introduced 3 years ago: https://github.com/dotnet/corefx/commit/fe5f4fbebc9e85c8e512a273567719dca15ac764

@stephentoub @jkotas could you please help

[2019-07-11 17:37] carlossanlop commented on #3016
@rowanmiller is this page owned by your team?

[2019-07-11 17:38] stephentoub commented on #3017
@carlossanlop, see dotnet/coreclr#25595.

[2019-07-11 17:39] stephentoub commented on #3017
Closing as dup of dotnet/coreclr#25595.

[2019-07-11 17:39] #3017 closed

[2019-07-11 17:44] carlossanlop commented on #2999
@rowanmiller 's team owns this dotnet tutorial.

[2019-07-11 17:46] rowanmiller commented on #3016
@leecow @dagood any thoughts on this one?

[2019-07-11 19:42] ericstj commented on #3021
@AaronRobinsonMSFT @jeffschwMSFT does this sound familiar?  @dude202 can you elaborate on the repro scenario?

[2019-07-11 19:47] AaronRobinsonMSFT commented on #3021
@JeremyKuhne recently fixed a preview 6 regression with https://github.com/dotnet/winforms/pull/1254

We would need a repro to determine exactly what the issue is though.

[2019-07-11 20:33] pyliakm opened #3023 "System.ArgumentException: Cannot remove this column, because it is a part of the constraint Constraint1 on the table . at System.Data.DataColumnCollection.CanRemove"
# Issue Title

System.ArgumentException: Cannot remove this column, because it is a part of the constraint Constraint1 on the table .    at System.Data.DataColumnCollection.CanRemove

# General
**.Net core 2.2**
**Windows 10 Version 1803**
Stack trace:
   at System.Data.DataColumnCollection.CanRemove(DataColumn column, Boolean fThrowException)
   at System.Data.DataColumnCollection.BaseRemove(Data

[2019-07-11 20:44] richlander commented on #2983
Here is a simpler version of the Dockerfile that I prefer. Give it a try and see if it works better.

[code]

[2019-07-11 20:57] richlander commented on #2992
This happened to me, too, when I used the 3.0 SDK (because the URLs are different). Can you share which .NET Core SDK you are using (`dotnet --version`)?

[2019-07-11 21:53] dagood commented on #3016
The Linux package repo is maintained by a different team. @leecow may know how to ask them this question.

[2019-07-12 02:34] sesamefly commented on #3020
@bartonjs  Thank you very much !

[2019-07-12 02:34] #3020 closed

[2019-07-12 06:11] shivanan opened #3024 "string.Compare("a","A",true) doesn't work as expected on Linux"
# string.Compare("a","A",true) doesn't work as expected on Linux

When I use `string.Compare("a","A",true)` I expect the value to be `0`.
This is true on macOS and Windows but apparently not on Linux?

# General

I'm using .NET Core 2.1 but I also found the same issue in a test app written against .NET Core 2.2.

I used the following program to test:

[code]

Here's the output on macOS:
[code]

He

[2019-07-12 06:50] winnieryl opened #3025 "dotnet-install.sh does not download correct version on RHEL 6 workstation"
# Issue Title

dotnet-install.sh does not download correct version on RHEL 6 workstation

# General

https://dot.net/v1/dotnet-install.sh
this script, at line 151, it does not consider RHEL 6 Workstation, when I run this on rhel6 workstation, it downloads the wrong version fo dotnet runtime.

[2019-07-12 07:38] loveubabe opened #3026 "e"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/install
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-07-12 10:31] YumingLin commented on #1165
has anyone tried this? I got no luck trying to get it running on my wrt32x running openwrt-18.06. I think it is libc based instead of glibc.

[2019-07-12 12:43] yuthan opened #3027 "Error when tried installing .net core SDK on redhat"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/rhel/sdk-2.1.300
Operating System: Linux RHEL - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
this commands ran success
yum install rh-dotnet21 -y
when i tried run this command
scl enable rh-do

[2019-07-12 13:38] harish0139 opened #3028 "Problem at the time of using cmd to run dotnet command"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/install
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, co
![Captureqq](https://user-images.githubusercontent.com/52827586/61132121-5d7ee800-a4d8-11e9-9fc4-a96691dc238d.PNG) how to solve this problem
de sample, and

[2019-07-12 15:45] LiuyangRY commented on #2992
The version of SDK I used is 2.2.300. And I build the image of microservice successfully after reinstalling the lastest version of docker. I suggest you try to install the lastest version of docker as well, it should solve this problem.

[2019-07-12 15:55] LiuyangRY commented on #2992
Sorry, I don't know what the URI I tried to browse to, I just config the dockerfile and build it, this problem occured when the docker trying to pull the ASP.NET image.

[2019-07-12 16:32] carlossanlop commented on #2992
@rowanmiller 's team owns this tutorial and might be able to help.

[2019-07-12 16:50] carlossanlop opened #3029 "Should linux-prereqs.md have a 3.0 column?"
When someone wants to download the SDK for Linux from a link like this one (Preview 6 in this case):

https://dotnet.microsoft.com/download/thank-you/dotnet-sdk-3.0.100-preview6-linux-x64-binaries

The "Step 1" section has a hyperlink that points to this table:

https://github.com/dotnet/core/blob/master/Documentation/linux-prereqs.md

But there's no 3.0 column in that table. @leecow should these

[2019-07-12 16:55] furesoft opened #3030 "how can i port .net core to my own os?"
im currently working on a c# based os with the cosmosos toolkit. i want to add the ability to run .net core applications. is that possible?

[2019-07-12 17:10] omajid commented on #3030
Have you seen https://github.com/dotnet/source-build/blob/master/Documentation/boostrap-new-os.md ?

[2019-07-12 17:41] Veldora-HollowSoul opened #3031 "The dotnet application fails to start"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

When I launch the dotnet application in C:\Program Files\dotnet\dotnet the application does not start.

[2019-07-12 18:01] mazharwhite commented on #2957
i followed the setup for setting up when i ran the command nothing was created in the directory i was running the command also tried changing the directory file but alas still facing the same issue

[2019-07-12 21:11] olandese opened #3032 "DangerousAcceptAnyServerCertificateValidator delegated not working on Ubuntu 18.04"
# Issue Title

DangerousAcceptAnyServerCertificateValidator is ignored on Ubuntu 18.04 with .Net Core 2.2.301

# General

See my blog post https://blog.olandese.nl/2019/07/12/solve-system-threading-tasks-taskcanceledexception-the-operation-was-canceled-on-ubuntu-18-04-in-net-core-2-2/

[2019-07-13 01:34] fuliufuliu opened #3033 "Need openssl-libs"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: Linux CentOS / Oracle - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
![image](https://user-images.githubusercontent.com/10778586/61165310-4fb97900-a551-11e9-99d1-0

[2019-07-13 01:36] fuliufuliu commented on #3033
![image](https://user-images.githubusercontent.com/10778586/61165339-b8a0f100-a551-11e9-8b30-a480d99a0f75.png)

[2019-07-13 01:50] fuliufuliu commented on #3033
Oh，Red Hot ？？ I  tried again，and still got an error:
![image](https://user-images.githubusercontent.com/10778586/61165483-a1630300-a553-11e9-9998-1af4b2d739aa.png)

[2019-07-13 04:00] Stiles-Micaiah commented on #2953
@carlossanlop Hey sorry for the delay. i Dont remember exactly how i did it but i either restarted or reinstalled ubuntu and just kept doing the steps given on the site over and over and eventually it let me install.

[2019-07-14 00:15] carlossanlop commented on #2953
Okay, thanks for the clarification. I'll close the post as resolved.

[2019-07-14 00:15] #2953 closed

[2019-07-14 01:35] alsfyani opened #3035 "https://m.facebook.com/%D8%A7%D9%84%D9%88%D8%A7%D9%81%D9%8A%D9%A1-2330731280282635/?msite_modal=composer&notif_t=aymt_upsell_tip&notif_id=1562910438659207&ref=m_notif&refid=48"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: Linux RHEL - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-07-14 01:36] alsfyani commented on #3035
https://www.facebook.com/profile.php?id=100005030236147

[2019-07-14 03:08] khuslen opened #3036 "Version 2.2.301 does not support Q#"
.NET Core version: 2.2.301
OS: macOS Sierra 10.12.6 and Windows 10 Pro 1803

On my macOS, I just installed .NET core from [here](https://dotnet.microsoft.com/download). `dotnet --version` shows versions 2.2.301.

Running `dotnet new --help` does not show Q# in the list of languages. Running this same command on a Windows laptop with version 2.2.101 shows Q# (as well as C#, F#, and VB). Upgrading m

[2019-07-14 04:49] davidfowl commented on #3036
Q# was never included with .NET Core. What did you see before and did you install another SDK (like this https://www.microsoft.com/en-us/quantum/development-kit)

[2019-07-14 07:49] bahmansh opened #3037 "Collection model binding in mvc and upload file using ajax (dotnet core 3.preview-6)"
I have one form with some fields and one collection of another fields that contains some input files.

So I need to post form using ajax and bind data collection to class (Model) in server side.

My main issue is that files of sub collections will pass null.

My file is type of IFormFile and posted data is (form data of browser network):

![image](https://user-images.githubusercontent.com/19801131

[2019-07-14 09:59] jaggedjagged commented on #2927
Thanks a lot!
I was on vacation. Now the installation worked without this error.

[2019-07-14 13:28] chergey opened #3038 "no winforms template on 3.0.100-preview6 linux"
# Issue Title

No winforms template on 3.0.100-preview6 linux

# General

1. Download https://dotnet.microsoft.com/download/thank-you/dotnet-sdk-3.0.100-preview6-linux-x64-binaries.
2. Run dotnet new winforms

**Expected**
Winforms project is generated.
**Actual**
No templates matched the input template name: winforms.
OS: Ubuntu 19.04, x64

[2019-07-14 14:29] rajeet opened #3039 "issue with installing .net sdk"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-07-14 17:49] InDebt opened #3040 "Memory leak on unix systems using dynamic code compilation"
# Memory leak on unix systems using dynamic code compilation
# General

I am experiencing a rather strange behaviour that caused me hours of debugging to nail it down to the dynamic code generation.

If I compile a piece of code using the rosyln compiler from within C# everything runs well on windows. When I add the `MetaDataReferences` the assemblies are loaded into memory, the assemblie is compi

[2019-07-14 22:57] mateusz-dot opened #3041 "Package runtime update"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/centos/runtime-2.2.6
Operating System: Linux CentOS / Oracle - x64

I tired to update my runtime from 2.2.5 to 2.2.6 on linux, but after executing:
`sudo yum install aspnetcore-runtime-2.2`
I got response:
`Package aspnetcore-runtime-2.2-2.2.5-1.x86_64 already installed and latest version
`

[2019-07-15 02:05] AlseinX commented on #3038
WinForms and WPF are Windows only.

[2019-07-15 05:01] AlseinX opened #3042 "When will preview7 and the first RC come out?"
The roadmap says RC will come out in July, but is there a bit more detailed time based on the current progress? Or is there a problem that would put it off?

[2019-07-15 08:00] kbeaugrand opened #3043 "System.ValueTuple nuget changed without chaning its version ?"
# Issue Title
Nuget package for System.ValueTuple seems to be changed, since there is no update for it.

# General

I'm using System.ValueTuple since more than one year.
Since I'm working with a Nexus repository I'm not getting packages directly from Nuget.org repository but caching packages by this server.
After regarding created dates from my nexus repository and nuget.org it seems that those on

[2019-07-15 08:33] chergey commented on #3038
@AlseinX
Netcore 3 Preview 5 has it on Linux.

[2019-07-15 11:38] Patrick-Spiegel opened #3044 "Errors I stumbled accross while playing with .net core 3.0 and Visual Studio 2019 for the first time"
# General

version: .net core 3.0-preview 6 on Windows 10, Service Fabric 6.4

What I tried was basicly upgrading a service fabric project from .NET 2.2 to 3.0. When I tried to upgrade the asp.net core references to .net 3.0 compatible ones then the references couldn't be added to a library project anymore. Reloading the solution in a new windows resulted first in a loading loop. After downgrading

[2019-07-15 11:48] EKanadily commented on #3042
only 15 days is remaining in July.
OK i admit i myself can't wait too because  i think RC is a good time to start learning the framework. happy waiting.

[2019-07-15 12:02] christophedemey commented on #2963
Hi :)

[2019-07-15 13:46] AndreyAkinshin commented on #2540
@ststeiger

It's strange. I guess we have to improve the autodetect logic. Could you please tell me what kind of Linux do you use?

In Rider, you can save this settings per solution (personal or team-shared) or per machine:
<img width="1091" alt="image" src="https://user-images.githubusercontent.com/2259237/61220735-99f05500-a71f-11e9-83ab-c424323b5326.png">

We do not support per-project MSBuild

[2019-07-15 15:21] 0xd4d commented on #3043
The sha1 of 4.5.0 matches your cached sha1 so it's just the 'last updated' column that got updated.

`f001a074be6f5c3a20940e88ac46f7c97a010d57 *system.valuetuple.4.5.0.nupkg`

[2019-07-15 15:32] ststeiger commented on #2540
@AndreyAkinshin:

kUbuntu, 19.04 (disco dingo)

It might have something todo with that /usr/lib/mono/msbuild contains subfolders like 15.0
while /usr/local/lib/mono/msbuild only contains subfolder "current", no version number.

That is, assuming Rider's autodetect lists folders and expects numbers to auto-detect.

[2019-07-15 15:40] AndreyAkinshin commented on #2540
@ststeiger thanks for the feedback! I created the corresponding issue: https://youtrack.jetbrains.com/issue/RIDER-30143

[2019-07-15 16:10] dagood commented on #3038
This is an intended change, see https://github.com/dotnet/cli/issues/11425 for more info.

[2019-07-15 16:10] #3038 closed

[2019-07-15 16:47] DarknessGuard opened #3045 "Dotnet error"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-07-15 17:01] Orji-QA commented on #2794
dotnet' is not recognized as an internal or external command,
operable program or batch file.
I have similar issues, How can check my computer file? and what steps would I use to add python to my path?

[2019-07-15 17:01] kbeaugrand commented on #3043
Hoo,

Sorry I didn't check it.

Thank you for the update.

[2019-07-15 17:01] #3043 closed

[2019-07-15 17:45] Norfolgx opened #3046 "Unable to install dotnet-sdk-2.1"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/centos/sdk-2.1.4
Operating System: Linux CentOS / Oracle - x64

I get the following error:

Error: Package: dotnet-runtime-2.0.5-2.0.5-1.x86_64 (packages-microsoft-com-prod)
           Requires: openssl-libs

Currently unable to install openssl-libs, is there a ms supported way of downloading that package?

[2019-07-15 19:23] leecow commented on #3046
What are the exact distro and version number you are running?

According to [centos.pkgs.org](https://centos.pkgs.org/7/centos-updates-x86_64/openssl-libs-1.0.2k-16.el7_6.1.x86_64.rpm.html), openssl-libs is available in the CentOS repos. You will need to make sure that you have the appropriate repo registered on your system.

[2019-07-15 19:26] leecow commented on #3045
Not enough information to be able to help.

[2019-07-15 19:26] #3045 closed

[2019-07-15 19:28] leecow commented on #3035
Please add details on what you are seeing and reopen this issue.

[2019-07-15 19:28] #3035 closed

[2019-07-15 19:30] leecow commented on #3033
What distro and version are you running?

[2019-07-15 19:32] leecow commented on #3009
@monikadrone please update this issue and re-open if you're still having troubles.

[2019-07-15 19:32] #3009 closed

[2019-07-15 19:35] leecow commented on #3042
We were expecting to have it out tomorrow but ran into an issue in the final round of validation which reset the candidate build. The new target is next week.

[2019-07-15 21:33] mkArtakMSFT commented on #3037
@bahmansh this is an ASP.NET Core MVC issue. Please file a new issue in https://github.com/aspnet/aspnetcore repo and we'll handle it there.

[2019-07-15 21:45] andez2000 opened #3047 "Build 3.0.100-preview6-012264 missing Microsoft.WebApplication.targets"
# Missing targets Microsoft.WebApplication.targets error when using MSBuild and Roslyn to iterate through documents in a web project

This was working for the same dotnet core project I wrote that targets either dotnet2.2 or 3.0 when I had __3.0.100-preview5-011568__ installed.  Having just installed __3.0.100-preview6-012264__, the following error is displayed:

[code]

No code changes were made

[2019-07-15 23:09] pmachapman commented on #3007
I tried to update to 2.2.6 using the instructions on https://dotnet.microsoft.com/download/linux-package-manager/centos/runtime-2.2.6 or `yum upgrade`, but I only receive the message "Package aspnetcore-runtime-2.2-2.2.5-1.x86_64 already installed and latest version". Will 2.2.6 be published to the repository, or am I doing something wrong?

[2019-07-16 01:09] leecow commented on #3007
I've confirmed that 2.2.6 is available and offered correctly. It's possible the repo cache on your machine is not getting updated. You could try `yum update` to see if that forces an update. A heavier hammer is to delete the cache entirely so that it is rebuilt. This should be found at`/var/cache/yum/x86_64/7/packages-microsoft-com-prod`.

[2019-07-16 01:35] pmachapman commented on #3007
`yum update` did the trick. Thanks - that is the first time I've had a problem like that!

[2019-07-16 07:10] Lindsey1986 opened #3048 "P/Invoke Fusion.dll works in .NET Framework, but not in .NET Core"
# P/Invoke Fusion.dll works in .NET Framework, but not in .NET Core

# General

I have an app that uses P/Invoke to call functions inside of `Fusion.dll` to enumerate .NET Framework assemblies in the Global Assembly Cache.

**It works just fine when I target `net472` but - the exact same code - does not work when I target `netcoreapp2.2`**:

[code]

## Error Message

The error message I get (in .N

[2019-07-16 07:12] #3037 closed

[2019-07-16 16:55] svengeance commented on #2883
I appreciate your guys' feedback, with all the thought and honesty that went into the responses. I hadn't fully considered what it would be like to the **new** end-users -- in essence, we are abstracting away the complexity of understanding the differences between Core and Framework, and condensing it down to _Latest Version = Good_ sort of deal.

I guess the big shtick here, for me personally, is

[2019-07-16 17:24] kameko commented on #2883
I think the biggest issue with the naming is the fact that "just .NET (5)" can be confused with .NET Framework. Has it ever been considered to rename Framework? Maybe .NET Classic? Or do you think that would have the opposite effect of posts from years ago using ".NET" referring to Framework and people assuming they meant .NET 5 and not .NET Classic because of no mention of the word Classic (or wh

[2019-07-16 20:52] leecow commented on #3046
Closing for now. Please re-open if you can provide additional info.

[2019-07-16 20:52] #3046 closed

[2019-07-16 20:52] #3042 closed

[2019-07-16 20:53] leecow commented on #3031
Please re-open with specific details on what you are doing and any errors you see.

[2019-07-16 20:53] #3031 closed

[2019-07-16 20:54] leecow commented on #3039
Please re-open with specific details on what OS you're running, what you are doing and what errors you are seeing.

[2019-07-16 20:54] #3039 closed

[2019-07-16 20:57] drchilds commented on #2883
I personally think @terrajobst 's post above would make an excellent blog post, just to get that message to a wider audience.

[2019-07-16 21:02] leecow commented on #3029
Thanks @carlossanlop - the list should be the same as for 2.2 so I replicated that column.

[2019-07-16 21:02] #3029 closed

[2019-07-16 21:03] leecow commented on #3041
I have confirmed that the CentOS repo is up to date. Try running `yum update` to refresh your local repo catalog then try again. Please re-open if you're still having troubles.

[2019-07-16 21:03] #3041 closed

[2019-07-16 21:05] leecow commented on #3027
Have you configured the Software Collection per the [Red Hat getting started guidance](https://access.redhat.com/documentation/en-us/net_core/2.1/html/getting_started_guide/gs_install_dotnet#install_register_rehel)?

[2019-07-16 21:05] carlossanlop commented on #3029
Awesome, thanks!

[2019-07-16 21:06] #3026 closed

[2019-07-16 21:11] leecow commented on #3025
@johnbeisner - thoughts?

[2019-07-16 21:19] leecow commented on #3024
@tarekgh - any ideas?

[2019-07-16 21:20] leecow commented on #3022
Closing because of actionable details. Please re-open if you're still having troubles and can provide information on your project.

[2019-07-16 21:20] #3022 closed

[2019-07-16 21:21] leecow commented on #3014
I've confirmed that all is well with the 18.04 repo. Can you run `apt-get update` and `apt search dotnet-sdk-2.2` and let me know what you see?

[2019-07-16 21:22] leecow commented on #3003
19.04 repo confirmed OK. If you're still having trouble, please re-open with details around what you have tried and any error messages you are seeing.

[2019-07-16 21:22] #3003 closed

[2019-07-16 21:24] leecow commented on #3018
If you're still having trouble, please re-open this issue with details on your OS, specifics on what you are doing when the error is seen.

[2019-07-16 21:24] #3018 closed

[2019-07-16 21:24] leecow commented on #2995
Closing due to lack of response from OP.

[2019-07-16 21:24] #2995 closed

[2019-07-16 21:25] leecow commented on #2994
Closing due to lack of response from OP.

[2019-07-16 21:25] #2994 closed

[2019-07-16 21:25] leecow commented on #2991
Closing due to lack of response from OP.

[2019-07-16 21:25] #2991 closed

[2019-07-16 21:30] tarekgh commented on #3024
Yes this behavior is expected for "C" locale. You need to change the locale to something different. e.g.

[code]

We have changed this behavior in 3.0 though.

[2019-07-16 21:33] leecow commented on #2993
I assume that you have registered packages.microsoft.com? Steps are listed below if you need them. Can you try `sudo apt-get update && apt search dotnet-sdk-2.2`? You should see 2.2.301 if everything is set up correctly.

[code]

[2019-07-16 21:41] leecow commented on #2996
Debian 10 repo is up and running though not yet added to the documentation. Follow the instructions at https://dotnet.microsoft.com/download/linux-package-manager/debian9/sdk-current replacing 'debian/9' with 'debian/10'.

[2019-07-16 21:44] #2984 closed

[2019-07-16 21:51] leecow commented on #2964
Closing due to inactivity from OP. Feel free to re-open if you're still having trouble.

[2019-07-16 21:51] #2964 closed

[2019-07-16 21:51] leecow commented on #2971
Closing due to inactivity from OP. Feel free to re-open if you're still having trouble.

[2019-07-16 21:51] #2971 closed

[2019-07-16 21:52] leecow commented on #2968
Closing due to inactivity from OP. Feel free to re-open if you're still having trouble.

[2019-07-16 21:52] #2968 closed

[2019-07-16 21:52] leecow commented on #2966
Closing due to inactivity from OP. Feel free to re-open if you're still having trouble.

[2019-07-16 21:52] #2966 closed

[2019-07-16 21:53] leecow commented on #2965
Closing due to inactivity from OP. Feel free to re-open if you're still having trouble.

[2019-07-16 21:53] #2965 closed

[2019-07-16 21:53] leecow commented on #2961
Closing due to inactivity from OP. Feel free to re-open if you're still having trouble.

[2019-07-16 21:53] #2961 closed

[2019-07-16 21:57] leecow commented on #2957
@mazharwhite - Are you still having troubles? What OS are you on? I presume you're referring to these commands?

[code]

[2019-07-16 21:59] leecow commented on #2952
Yes, we have that issues logged and are looking into the proper update to the Mac installer to avoid this intermittent issue.

@KathleenDollard @johnbeisner

[2019-07-16 21:59] #2952 closed

[2019-07-16 22:01] leecow commented on #2947
Closing due to inactivity from the OP. Feel free to re-open if you're still having trouble.

[2019-07-16 22:01] #2947 closed

[2019-07-16 22:02] leecow commented on #2945
Closing due to inactivity from OP. Feel free to re-open if you're still having trouble.

[2019-07-16 22:02] #2945 closed

[2019-07-16 22:02] leecow commented on #2941
Closing due to inactivity from OP. Feel free to re-open if you're still having trouble.

[2019-07-16 22:02] #2941 closed

[2019-07-16 22:02] leecow commented on #2942
Closing due to inactivity from OP. Feel free to re-open if you're still having trouble.

[2019-07-16 22:02] #2942 closed

[2019-07-16 22:28] leecow commented on #2934
I've updated all repos to include 2.2.107 to unblock anyone having difficulty with MonoDevelop. Should be available in an hour or so after the repo indexes update.

[2019-07-16 22:36] tarekgh commented on #3024
I am closing his issue. You may refer to https://github.com/dotnet/corefx/issues/32250 for more info.

[2019-07-16 22:36] #3024 closed

[2019-07-17 07:42] Hondo2019 commented on #2566
Hi! Just had the chance to install preview 6, everything seems to work now! It means something has been fixed?

[2019-07-17 07:45] bobthenoobmanneedshelp opened #3050 "please help me"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

I tried to download .Net because visual studios was asking for it and i downloaded it but it says it cannot be located and visual studios also says that there are some projects having trouble loading

[2019-07-17 10:34] cortex93 commented on #3007
Is it normal latest releases on https://github.com/dotnet/core/blob/master/release-notes/releases.json are from april ?

[2019-07-17 12:57] #2963 closed

[2019-07-17 15:22] Yuri-01 opened #3051 "Package "https://packages.microsoft.com/config/debian/10/packages-microsoft-prod.deb" wrong."
Hi.

Please, edit file "/etc/apt/sources.list.d/microsoft-prod.list" in package "https://packages.microsoft.com/config/debian/10/packages-microsoft-prod.deb".

(i.e., replace **xenial** in this file to **buster**)

[2019-07-17 19:22] vivmishra commented on #3007
Yes, that json has been deprecated. See related issue https://github.com/dotnet/announcements/issues/87

It also has details on what to use going forward.

Cc: @leecow

[2019-07-17 21:10] idaviddesmet commented on #2880
I also experienced the same issue and as adviced, downgrading to 2.2.204 fixed it for both the docker image and Linux agent.

[2019-07-17 21:18] leecow commented on #3051
I have let the owning team know about the issue.

[2019-07-17 21:19] leecow commented on #3050
Can you provide details on your system (os version), version of Visual Studio and exact steps you did to install?

[2019-07-17 21:20] leecow commented on #3033
Closing due to inactivity from OP. Feel free to re-open with additional details if you're still having troubles.

[2019-07-17 21:20] #3033 closed

[2019-07-17 21:24] leecow commented on #3040
@agocke and @Maoni0 - PTAL?

[2019-07-17 21:24] Yuri-01 commented on #3051
Hi, Lee.

Thank you.
(i hope this issue will be fixed).

[2019-07-17 21:31] Maoni0 commented on #3040
since `GC.Collect();` is already called I would let @agocke take the first look.

[2019-07-17 22:11] leecow commented on #3051
https://packages.microsoft.com/config/debian/10/prod.list has been updated. They're still working on the deb.

[2019-07-17 22:50] idaviddesmet commented on #2880
It seems to be related to #2775, executing the tests with verbosity argument outputs some tests results on my side rather than hanging at the beginning.

[code]

[2019-07-18 01:52] leecow commented on #3051
Confirmed that https://packages.microsoft.com/config/debian/10/packages-microsoft-prod.deb has also been updated.

[2019-07-18 01:52] #3051 closed

[2019-07-18 02:23] PhoenixKing13 opened #3052 "Problem installing on Pop!_OS 19.04"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu19-04/sdk-2.2.108
Operating System: Linux Pop!_OS 19.04 - x64

I tried to download and install the latest version of dotnet core on a fresh install of Pop!_OS 19.04. Previously I had successfully install dotnet core on pop 18.04 following the Ubuntu instructions, however after updating to 19.04 I encountered a

[2019-07-18 03:26] gorums commented on #1675
this is happening to me with 2.2. Any idea why?

[code]

[2019-07-18 03:37] Yuri-01 commented on #3051
Thank you.

[2019-07-18 04:03] Preylien commented on #3052
Just ran into this issue. I am also on POP_OS! 19.04

[2019-07-18 04:56] nashangg opened #3053 "System.ObjectDisposedException when posting stream content by HttpClient"
# System.ObjectDisposedException when posting stream content by HttpClient
Hello,

I have an API that receives stream content, and I wrote a piece of code to post stream to it:
[code]
The exception is:

While, the code worked perfectly with .net framework.

As a try, I changed the code to:
[code]
Then it worked without any exception!

The difference I only know is the memory stream object changed

[2019-07-18 04:59] matt-richardson opened #3054 "RHEL6 SDK binary for 2.2.108 is invalid"
# General

Looking at the [download page for dotnet 2.2](https://dotnet.microsoft.com/download/dotnet-core/2.2), the RHEL6 link for 2.2.108 links to https://download.visualstudio.microsoft.com/download/pr/b695e443-9289-4eea-ae29-00c08b05eeeb/12467d1530b3c2db11291227f15eb3f4/dotnet-sdk-2.2.108-rhel.6-x64.tar.gz, which is 10meg... Much smaller than the 150+meg sizes of the previous ones.

Opening it

[2019-07-18 06:35] nashangg commented on #3053
Updates:

I found it's nothing to do with a non-resizable or resizable memory stream, size is the key.
I compressed the stream then everything goes fine.

[2019-07-18 09:25] DasSurabhi opened #3055 "Not able to run REST API"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-07-18 09:26] DasSurabhi commented on #3055
I want to run TabMigrate REST API for this I have installed Github and Visual Studio Code.

[2019-07-18 10:13] renecl commented on #2886
No I  don't see the issue and more after I change in de global.json:

"version" : "2.2.300"

[2019-07-18 11:48] killruana commented on #3052
Same here with ubuntu 19.04

[2019-07-18 12:57] rathinamshanmugam opened #3056 "My web api not running in container"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-microservice-tutorial/run-docker
Operating System: windows

 I am using windows docker tool box
My web api not running as per steps
http://localhost:3000/api/values
http://172.17.0.3:3000/api/values
http://192.168.99.100:3000  - docker running ip address
I have attached file for docker inspect and image name

Please help to solve

[2019-07-18 16:24] rowanmiller commented on #2992
This is due to a change in the default site that is generated by `dotnet new webapi`.

The URL to visit now is http://localhost:5000/WeatherForecast

@richlander is working on updating the tutorial. I'm closing this issue out as we have a central work item tracking the updates.

[2019-07-18 16:24] #2992 closed

[2019-07-18 16:27] rowanmiller commented on #3000
Closing this one out, as the change mentioned by @MichaelSimons should mean this is no longer an issue.

@parveen-kumar-1 feel free to respond back if the latest instructions don't resolve the issue for you.

[2019-07-18 16:27] #3000 closed

[2019-07-18 18:43] kingboyk commented on #2883
I wouldn't expect this to affect Microsoft's thinking of course, but this naming scheme will lead to chaos on Stack Overflow where we currently have `.net` and `.net-core` tags for the legacy framework and Core respectively.

[2019-07-18 19:11] terrajobst commented on #2883
Once we decided where we land with naming, we'll probably do that. Until then, it's probably best to keep that conversation for folks that are used to consuming information from a firehose, i.e. you folks on GitHub :-)

[2019-07-18 21:36] PhoenixKing13 commented on #3052
Taken today @ 3:30 pm
![Screenshot from 2019-07-18 15-35-08](https://user-images.githubusercontent.com/32967490/61493786-af5cbd80-a971-11e9-8922-d54a30ccbb14.png)

[2019-07-18 21:46] PhoenixKing13 commented on #3007
https://github.com/dotnet/core/issues/3052#issue-469540013
This bug seems to be happening for both Ubuntu and Pop!_OS 19.04 users.

[2019-07-18 21:59] idaviddesmet commented on #2880
Updating to SDK [2.2.301](https://github.com/dotnet/cli/releases/tag/v2.2.301) (released 9 days ago) fixed the issue. I also updated to VSTest [16.1.1](https://github.com/Microsoft/vstest-docs/blob/master/docs/releases.md#1611)

[2019-07-19 00:44] PhoenixKing13 commented on #3052
The dotnet core team has resolved the issue. Here is the [link](https://github.com/dotnet/core-setup/issues/7274#issue-470006881)

[2019-07-19 00:44] #3052 closed

[2019-07-19 04:03] alsfyani commented on #3035
https://m.facebook.com/٪D8٪A7٪D9٪84٪D9٪88٪D8٪A7٪D9٪81٪D9٪8A٪D9٪A1-2330731280282635/؟msite_modal=composer¬if_t=aymt_upsell_tip¬if_id=1562910438659207&ref= m_notif & refid = 48

[2019-07-19 07:38] omriman12 opened #3058 "MySql.Data.EntityFrameworkCore - MySQL SELECT command denied to user"
I am running this simple query

SELECT * FROM db_a4b20a_reales.properties_residental;

It's working when using MySql.Data.MySqlClient, seems like the problem is with the MySql.Data.EntityFrameworkCore(8.0.16) connector

The error i am facing when using EFCore is:
SELECT command denied to user 'a4b20a_reales'@'{the server ip...}' for table 'properties_residental'

This is my connection str server=.

[2019-07-19 13:03] pvdstel commented on #2859
Any updates on this?

[2019-07-19 16:50] richlander opened #3059 ".NET Core master branches have switched to "5.0""
# .NET Core master branches have switched to "5.0"

Various .NET Core repos have switched their `master` branches to "5.0", and will use 3.x branches for 3.0 and 3.1 projects. This is very similar to how we approached 2.x and 3.0 projects. As context, `master` branches produced 3.0 builds for the entire period of the 2.2 project.

At present, this change is only relevant if you contribute to .NET

[2019-07-19 18:26] boMeX opened #3060 "Error during the build process"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-07-19 21:48] omajid opened #3061 "Add cgroup v2 support to .NET Core"
The Linux kernel includes a feature called "cgroup" (or "cgroups"). This allows managing - specially limiting - resources (cpu, memory, etc) for a collection of processes. This is one of the underlying technology pieces used by projects like docker, podman, kubernetes and systemd to limit various resources for processes.

The first version of cgroup has a number of design issues and a redesign, cg

[2019-07-19 23:50] mdjaniga opened #3062 "NetCore App 2.1.12 produces Case-insensitive *.deps.json file for case sensitive operating systems"
I maintain my production build environment within a docker container.  This env uses 2.1.12.

Application is named Jobe.  Builds from this environment produce a deps.json file with an application target application dll in all lower case, "jobe.dll".  The actual DLL is "Jobe.dll".  I encounter a runtime error when jobe.dll is not found.

My local environment is env uses 2.1.4.  In this env using th

[2019-07-20 00:13] carlossanlop commented on #2899
Closing due to inactivity. @sgokul95 feel free to reopen if you need more help.

[2019-07-20 00:13] #2899 closed

[2019-07-20 00:15] carlossanlop commented on #2916
This issue seems to be resolved, so I'm closing it. @groogiam if you need more assistance, feel free to create a new issue, we'll be happy to help.

[2019-07-20 00:15] #2916 closed

[2019-07-20 00:16] carlossanlop commented on #2930
Thanks @Evangelink, I'll close the issue. @davkean feel free to reopen it if you want to add more information.

[2019-07-20 00:16] #2930 closed

[2019-07-20 00:25] carlossanlop commented on #2936
I'm closing this issue due to inactivity, it seems to be addressed. @alexander-miglis feel free to create a new issue if you need more help.

[2019-07-20 00:25] #2936 closed

[2019-07-20 00:26] carlossanlop commented on #2949
Closing due to inactivity. @MPorto1994 feel free to create a new issue if you have any more questions.

[2019-07-20 00:26] #2949 closed

[2019-07-20 02:24] rynowak commented on #2779
Closing due to lack of response. If you're still having problems please open a new issue on the templating repo.

[2019-07-20 02:24] #2779 closed

[2019-07-20 06:15] karelz commented on #2933
@Anipik can you please take a look? Should we move it to CoreFX?

[2019-07-20 06:15] karelz commented on #2933
@singhkamall are you able to reproduce it in HelloWorld-style app? (console app ideally)

[2019-07-20 06:16] Anipik commented on #2933
sure i will take a look

[2019-07-20 06:18] Anipik commented on #2933
@singhkamall can you tell me the version of .net core you are running on ?

[2019-07-20 07:28] fberasategui commented on #604
@richlander any news on this?

We are very (very) fond of XRM (now Power Platform), and with all the performance improvements and the direction MS seems to be taking on the .NET/.NET Core dichotomy, it would seem that by staying on the "desktop" framework version we are staying "behind".

Examples of typical use cases for XRM SDK on .NET Core are:
  - ASP.NET Core Web App on Azure consuming XRM da

[2019-07-20 09:14] marcusturewicz commented on #3059
Great news Rich! Really looking forward to using .NET 5.

Given the name "Core" will be dropped in 5 onwards, what is the story for the repositories/target frameworks etc? Will we have `dotnet/fx`, `dotnet/clr`, `dotnet/sdk` etc? Will it be `netapp5.0`?

[2019-07-20 10:08] Khinsanwai opened #3063 "problem"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/install
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-07-20 14:01] rhythmnewt commented on #3059
@marcusturewicz where did you see the “core” will be dropped from 5 onwards?

[2019-07-20 15:40] richlander commented on #3059
@stephentoub is currently thinking about that topic. It is unlikely that we’ll rename existing repos. He is thinking about going the “mono repo” route (in this case “mono” means “monolithic”). Some things would be worse with the mono repo approach, but many things would be better like building a feature that requires runtimes and framework changes.

[2019-07-20 20:46] rktaylor opened #3064 "SDK installer produced binary that doesn't do anything"
# Issue Title

SDK installer successfully installed a binary at `/usr/local/share/dotnet`, but it does nothing when executed.

# General

I'm following this tutorial: https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install

I clicked "Download" and ran the installer (environment: macOS Mojave 10.14.3). A binary showed up where it said it would, but running it produces no output. Fur

[2019-07-20 20:48] rktaylor commented on #3064
I'm an idiot. Binary was actually at `/usr/local/share/dotnet/dotnet`. I was trying to execute a directory 🙄

[2019-07-20 20:48] #3064 closed

[2019-07-20 21:08] singhkamall commented on #2933
@karelz Yes, I can reproduce it in console app also.

[2019-07-20 21:14] singhkamall commented on #2933
@Anipik Its .NET Core 2.2

[2019-07-20 22:07] vasantbala opened #3065 "problem updating dotcore repositories"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/sdk-current
Operating System: Linux Ubuntu 18.04 - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

sudo apt-get install apt-transport-https
Reading package lists... Done
Building dep

[2019-07-20 22:12] #3065 closed

[2019-07-20 22:12] vasantbala commented on #3065
ran sudo apt-get update and it solved the problem

[2019-07-21 00:49] Anipik commented on #2933
'System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089'.

This type is not available in .Net Core 2.2 and is only available 3.0 preview 4 and upwards

[2019-07-21 04:50] marcusturewicz commented on #3059
Agreed. It will also be easier for the community to contribute to a mono repo since the majority of the modules are housed together, and folks can see everything happening in the one place.

[2019-07-21 16:54] Kool-Koder opened #3066 "Can't run test app in Kali Linux .NET Core"
I have followed some documentation online and installed the relevant files. Not sure why the test app can't run on Linux.

May I also know where should I set this `export PATH=$PATH:$HOME/dotnet` so I don't have to rerun it everytime? Thank you!

https://github.com/dotnet/core/issues/2590

[code]

[2019-07-21 17:03] Kool-Koder commented on #3066
Hmm I think it was missing some dependencies just now. It is fixed.

[2019-07-21 17:03] #3066 closed

[2019-07-21 17:32] Kool-Koder opened #3067 "Add nuget packages to exported DLL files"
I have tested this with 2 types of project. 1 that is uncompiled and 1 that has been compiled to a dll. When I try to add to the uncompiled project, it works and I can run it. However in the folder with dll, as it can't detect any project, it refuses to download the nuget package. Is there anyway to circumvent this? Thank you very much!

[code]

[code]

[2019-07-21 18:41] maxnorth opened #3068 "Support documentation inconsistent with official support policy"
# Issue Title

Support documentation inconsistent with official support policy

# General

The documentation in this repo [describing support lifecycle](https://github.com/dotnet/core/blob/e2f22a7106860c0e5dc98bb36dc648a779944ad5/microsoft-support.md#long-term-support-lts-releases) says that LTS releases are supported for one of two periods, 1) three years total, or 2) one year after the next LTS

[2019-07-21 23:54] singhkamall commented on #2933
Any work around for .NET Core 2.2?
When will .NET Core 3.0 stable version will be releasing?

[2019-07-22 13:31] Anipik commented on #2933
cc @ericstj @danmosemsft

Release of 3.0 GA is expected in Sept.

[2019-07-22 17:22] Anipik commented on #2933
@singhkamall On a secondary look at the exact type name. This type  ```System.Diagnostics.Eventing.EventDescriptor```  is not present on .NET core 3.0.
 I will check why we didn't ported this api when we ported the other eventing apis.
But for the time being, you wont be able to use this api on .NET core.

[2019-07-22 17:33] Anipik commented on #2933
Created a new issue in corefx to track why we didn't port these apis in dotnet core. https://github.com/dotnet/corefx/issues/39670

[2019-07-22 17:33] #2933 closed

[2019-07-22 18:31] carlossanlop commented on #3068
@leecow @richlander can you please take a look?

[2019-07-22 18:40] carlossanlop commented on #3067
@livarcocc @nguerrera is this something you guys can help with? Or should we send it to someone else?

[2019-07-22 18:41] carlossanlop commented on #3063
Can you please share details of your problem?

[2019-07-22 18:42] livarcocc commented on #3067
The add package command is for editing project files. It modifies the project by adding a package reference to it.

This behavior seems entirely by design.

[2019-07-22 18:44] carlossanlop commented on #3060
Can you please tell us what was the problem you encountered?

[2019-07-22 18:47] carlossanlop commented on #3061
Thank you for the details, @omajid and for fixing issue dotnet/corefx#39633. Based on this, I will move this issue to the corefx repo, for better tracking and higher visibility.

[2019-07-22 18:48] carlossanlop commented on #3062
@dsplaisted do you know who would be the most appropriate person to look into this?

[2019-07-22 18:49] carlossanlop commented on #3058
@divega do you know who would be the best person to look into this? Is this a bug we should transfer to another repo?

[2019-07-22 18:52] carlossanlop commented on #3056
@rowanmiller can you please look into this?
CC @MichaelSimons in case he detects something wrong in the Docker file.

[2019-07-22 18:52] carlossanlop commented on #3055
@DasSurabhi can you provide more information? What exactly was the problem you encountered?

[2019-07-22 19:20] MichaelSimons commented on #3056
`Docker ToolBox` is a legacy solution as noted at the top of the [installation instructions](https://docs.docker.com/toolbox/toolbox_install_windows/).  Is it possible for you to run through the tutorial with [Docker Desktop for Windows](https://docs.docker.com/docker-for-windows/)?

[2019-07-22 19:22] divega commented on #3058
MySql.Data.* are from Oracle. I seriously doubt there is anything at the EF Core layer because EF Core doesn’t handle auth concerns: it just delegates them to the underlying ADO.NET provider (unless this particular EF Core provider for MySQL is doing something very unusual).

@omriman12 I see you mentioned it doesn’t repro using the ADO.NET provider but have you tried doing it with the ADO.NET pro

[2019-07-22 19:49] carlossanlop commented on #3054
@rowanmiller the first link is a dotnet.microsoft.com page. Do you know who can take a look into this?

[2019-07-22 19:51] carlossanlop commented on #3053
@nashangg thank you for providing the details. Are you still encountering a problem so we can help you, or can we mark this issue as resolved?

[2019-07-22 19:58] joperezr commented on #3048
.NET Core can do P/Invokes just as .NET Framework, but the Probing path that we use to find assemblies is different. In order for that to work, Fusion.dll would need to be part of the probing path for core, Have you tried having Fusion.dll copy-pasted right next to your app?

[2019-07-22 20:05] carlossanlop commented on #3040
@leecow @agocke @Maoni0 should we transfer this bug to another repo for better tracking and higher visibility?

[2019-07-22 20:29] carlossanlop commented on #3023
@divega is this something your team could help with? If not, do you know who could take a look?

[2019-07-22 20:30] carlossanlop commented on #3028
After installing dotnet, did you make sure to close the command line window and reopening it again, as stated in the tutorial? It's an important step to ensure the environment variables get updated in the command line window.,

[2019-07-22 20:43] nguerrera commented on #3067
@Kool-Koder Can you provide more info about what you are trying to accomplish

How did you get the second error? Is this when trying to run app call "OSPJ New"? How was that app published and deployed?

[2019-07-22 21:18] rowanmiller commented on #3054
@leecow this is the RHEL 6 binaries for the 2.2.108 runtime. Are you the right person to look at this?

[2019-07-22 21:43] Lindsey1986 commented on #3048
Thank you for following-up @joperezr. It works if I use the full path of `Fusion.dll`, so I'm sure if I would to put ` Fusion.dll`  inside my apps folder, it would work too (provided I copy any dependencies it has, if any)

[code]

My issue now is how to make this work properly:
* How do I determine the correct path of `Fusion.dll` as location may differ at least for x86/x64?
* Once I know the pat

[2019-07-22 21:47] agocke commented on #3040
I'll try to take a look at this today.

[2019-07-22 21:53] joperezr commented on #3048
The ideal case is that you should ship all your native dependencies along with your app. I'm not familiar with Fusion.dll, but if it is possible to get it as a NuGet dependency, that would be great so you can package that with your app and not requiring fusion.dll to be installed somewhere in the machine.

[2019-07-22 21:59] Lindsey1986 commented on #3048
@joperezr `Fusion.dll` is part of the .NET Framework... I don't think it would be possible to ship it with my app. I have to check if the .NET Framework is installed on the machine, if it is is, I know it has Global Assembly Cache there...

[2019-07-22 23:13] NimaVibeVans opened #3069 "Unable to instal .net core on raspbian buster lite"
# Issue Title

Ran through script commands however ran into the same issue on all attempts including corrections when installing .netcore: $sudo apt-get install dotnet-sdk-2.2

E: Unable to locate package dotnet-sdk-2.2
E: Couldn't find any package by glob 'dotnet-sdk-2.2'
E: Couldn't find any package by regex 'dotnet-sdk-2.2'

# General

HW:
raspberry pi 3B

OS:
Raspbian Buster Lite
Minimal image

[2019-07-22 23:18] divega commented on #3023
Although I don't have enough data to identify this as the direct root cause of the exception, SQL Server spatial types are known not to support .NET Core. So it is possible that this is a duplicate of https://github.com/dotnet/SqlClient/issues/30.

[2019-07-22 23:51] agocke commented on #3040
I just ran this on my CentOS machine and it looks like the resident memory is ~50MB, so about what you expect. It's got a 3GB virtual memory reservation, but this is a 64-bit machine, so that's fine.

[2019-07-22 23:55] agocke commented on #3040
Also, the version of Microsoft.CodeAnalysis I was using is 3.3.0 and the info is:

[code]

[2019-07-23 00:01] agocke commented on #3040
Ah, never mind, I had artificially limited the number of DLL references I was using. When I up the number to everyingthing in the runtime directory I can repro the problem. I suspect something is holding onto a metadata reference.

[2019-07-23 02:44] nashangg commented on #3053
@carlossanlop As I'm not facing new problems, I close this issue now.

[2019-07-23 02:44] #3053 closed

[2019-07-23 05:38] AhmadChaker opened #3070 "Cross platform single file executable compilation"
I've been testing out single file self-contained executable functionality in .NET core 3.0 preview 6.
I've been using the following command:
dotnet publish -r win-x64 -c Release /p:PublishSingleFile=true /p:PublishTrimmed=true

Is it possible to run the command above on windows with an osx-x64 switch to get a self-contained MAC executable?

[2019-07-23 05:51] harish0139 commented on #3028
Please provide step by step instructions to set environmental variables.

Happy to hear from you soon.

On Tue, Jul 23, 2019, 2:02 AM Carlos Sanchez Lopez <notifications@github.com>
wrote:

[2019-07-23 10:07] chethan-marideva opened #3071 "Docker build fails"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-microservice-tutorial/docker-image
Operating System: windows 10

![image](https://user-images.githubusercontent.com/18300756/61703674-b7e13980-ad5f-11e9-9de0-e90b9d6fc13f.png)

The docker daemon is running
![image](https://user-images.githubusercontent.com/18300756/61704006-684f3d80-ad60-11e9-87c0-099facd8b07d.png)

[2019-07-23 12:18] Boskim0n0 opened #3072 "HttpListener access denied on windows docker"
# HttpListener throws an access denied exception on windows dockers

- .Net Core version: 3.00-preview6-27804-01
- SO: Windows 10
- Docker version: 18.09.2 build 6247962

Hi

Im doing my first proof of concept on dockers an netcore so we may move all of our infraestructure into dockers with netcore. I was trying to build a simple http listener that would return a _hello world_ message. I create th

[2019-07-23 12:20] Boskim0n0 commented on #3071
this happens to me sometimes. I restart the hyper-V virtual machine management service and restart dockers and works. Not sure why.

[2019-07-23 12:52] benaadams commented on #3072
Need to give permissions for HttpListener to listen to the port/url?
[code]
https://docs.microsoft.com/en-us/dotnet/framework/wcf/feature-details/configuring-http-and-https

[2019-07-23 12:58] Boskim0n0 commented on #3072
I've done it also and isnt working too.

[2019-07-23 15:45] rowanmiller commented on #2999
Tutorial has been updated to include instructions for adding a `.dockerignore` file.

@SimonHeffer feel free to reply back here if this doesn't solve your issue.

[2019-07-23 15:45] #2999 closed

[2019-07-23 15:48] rowanmiller commented on #3005
We think this is most likely the cause. The tutorial has been updated to include a suggested min version of Docker.

@LiuyangRY feel free to reply back here if this doesn't solve your issue.

[2019-07-23 15:48] #3005 closed

[2019-07-23 16:46] vivmishra opened #3075 ".NET Core 3.0.0 Preview 7"
[Release Notes](https://github.com/dotnet/core/blob/master/release-notes/3.0/preview/3.0.0-preview7.md)
[Download](https://github.com/dotnet/core/blob/master/release-notes/3.0/preview/3.0.0-preview7-download.md)

**Blog posts** (live after 10 am PST on 7/23/2019)

[.NET Core](https://devblogs.microsoft.com/dotnet/announcing-net-core-3-0-preview-7/)
[ASP.NET Core](https://devblogs.microsoft.com/asp

[2019-07-23 18:11] agocke commented on #3040
Nope, actually that's not it. Looking at the process in LLDB I can't see any GC roots to metadata. @Maoni0 Do you have any advice on narrowing down the problem?

[2019-07-23 18:13] agocke commented on #3040
Btw I modified the original code slightly, instead of GC.Collect I did

[code]

[2019-07-23 18:47] GSPP commented on #3059
What is worse with a mono repo?

[2019-07-23 19:31] mounirzz4 opened #3076 "failed to laod file"
my command was a dotnet new webapp  -o mywebapp --no-https and it tells me that it failed to load the DLL from the file and it tells me to install .net core prerequisites

[2019-07-23 20:03] Maoni0 commented on #3040
I presume after you did the WaitForPending/Collect you are still seeing the same amount of memory usage.
can you tell me how you are looking for GC roots? the sos !gcroot command or something else?

[2019-07-23 20:12] agocke commented on #3040
I just did `dumpheap` and did some back of the napkin math that adding all the live objects would be in the 10s of MB, not hundreds of MB range

[2019-07-23 20:17] Maoni0 commented on #3040
not sure what that means. if you are already doing WaitForPending/Collect what !dumpheap shows is all live. how did you determine what objects are live?

[2019-07-23 20:22] agocke commented on #3040
Sorry, I think I explained badly: the problem I'm seeing is that there aren't a lot of live objects (in the 10s of MB range) but the resident memory set of the process is in the hundreds of MBs.

I'm not sure if there's anything Roslyn could be doing that would cause this. Is it possible the GC is freeing the memory but not returning the reserved pages to the system?

[2019-07-23 21:32] Maoni0 commented on #3040
GC doesn't necessary return all the memory occupied by dead objects to the system - if it's in the gen0 range we will keep memory there because you will be allocating in it right away. this is perfectly normal. GC does not know that you will not be allocating anymore.

if you mean the following -
on the same machine
the amount reported by !dumpheap is the same
but there are significant different a

[2019-07-23 21:44] Rubemlrm opened #3077 "[Documentation] Outdated Fedora versions references on package install"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/fedora28/sdk-2.2.301
Operating System: Linux Fedora 28 - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

In the documentation there are references to Fedora 27 and 28 when both of those versions

[2019-07-24 00:11] siwiak commented on #3019
He probably used provided link and didn't think of adding more details.
I suspect I have exactly the same problem here: dotnet not visible from cmd nor from VisualStudio
on Win64.
I had to reboot and install again, then it worked. Just if someone else from Unity comes to search for answers.

[2019-07-24 02:36] niltor opened #3079 "What's next version after preview7?"
# What's next version after preview7?  preview 8  or  RC?

I believe that  many programer want to learn or try netcore with RC version ,and now `preview 7`  was available, in roadmap, we knew that `RC` will be released on `july`.
 **So  will it be on time?**

[2019-07-24 03:15] Penergy opened #3080 "Does .NET Core support Raspberry Pi 4?"
I have seen the instructions for .Net Core on RPi 2 and RPi 3 from this link.
https://github.com/dotnet/core/blob/master/samples/RaspberryPiInstructions.md

I want to know whether .Net Core has the plan to support RPi 4. Because we are going to use RPi 4 later.

[2019-07-24 04:01] lednhatkhanh commented on #1202
![image](https://user-images.githubusercontent.com/9303093/61764104-2f67a500-ae02-11e9-96ed-158cec56d348.png)

I now have 2 folders after trying to update dotnet core 3.0 preview7, so if I keep installing newer version of dotnet core then there will be more folders until the disk is full?

[2019-07-24 04:05] lednhatkhanh opened #3081 "Mac: installing newer version doesn’t remove the old one"
So I’ve updated `dotnet core 3.0` to preview7 and still see the old version doesn'
t get cleaned while running `dotnet --info`:

![image](https://user-images.githubusercontent.com/9303093/61764263-c5033480-ae02-11e9-99d5-677225936610.png)

Also, there is no uninstaller for mac, so what should I do to clean the old version, I don't want my disk to be full just by updating the dotnet.

Thank you.

[2019-07-24 04:45] maxi2009 opened #3082 "dotnet error"
C:\Users\Maximiliano>dotnet new console -o Myapp
Failed to load the dll from [C:\Program Files\dotnet\host\fxr\2.2.6\hostfxr.dll], HRESULT: 0x80070057
The library hostfxr.dll was found, but loading it from C:\Program Files\dotnet\host\fxr\2.2.6\hostfxr.dll failed
  - Installing .NET Core prerequisites might help resolve this problem.
     https://go.microsoft.com/fwlink/?LinkID=798306&clcid=0x409

[2019-07-24 06:29] chrfin commented on #2944
@janvorli Just tried preview 7 with the same result :-(

[2019-07-24 09:28] peter-bull opened #3083 "Child node "2" exited prematurely / StackOverflow Exception on Build"
# Issue Title

Child node "2" exited prematurely / StackOverflow Exception on Build with .NET Core 3.0 Preview 7 when referencing a WPF Class Library Project from an ASP.NET Core 3.0 Project

# General

I have a project which has a shared Class Library Project that uses the Windows Desktop SDK, this library which is used by a WPF Desktop Project (to offer desktop based ui but with functionality in

[2019-07-24 09:58] hiyadav opened #3084 "new `SDKS` property in releases.json for channel 2.2"
I saw that 'sdks' property was recently introduced in channel 2.2 releases.json. This property contained an array of sdk objects as part of the same release.

This lead to customers being broken in Use .Net Core task, which used to look at the sdk property of the release object to find the url for sdk download. As only one sdk 2.2.301 was exposed in sdk object, while 2 other sdk's were only presen

[2019-07-24 09:58] hiyadav opened #3114 "new `SDKS` property in releases.json for channel 2.2"
I saw that 'sdks' property was recently introduced in channel 2.2 releases.json. This property contained an array of sdk objects as part of the same release.

This lead to customers being broken in Use .Net Core task, which used to look at the sdk property of the release object to find the url for sdk download. As only one sdk 2.2.301 was exposed in sdk object, while 2 other sdk's were only presen

[2019-07-24 10:46] konstantinosDMS opened #3085 "Problem with pagination"
Take a look to this code:

`

      app.UseMvc(routes =>{ routes.MapRoute( name: "pagination", template:

      "Products/Page{page}",defaults: new { controller = "Product", action = "List" });

       routes.MapRoute(name:"default",template: "{controller=Product}/{action=List}/{id?}");

     /*routes.MapRoute( name: "default",template: "{controller=Home}/{action=Index}/{id?}");  */ });
`
`     na

[2019-07-24 12:30] maghis commented on #2880
I think this can be closed, do you agree?

[2019-07-24 12:41] idaviddesmet commented on #2880
Yes, I agree!

[2019-07-24 14:40] richardmccavery opened #3086 "Missing assemblies ????"
System.Drawing.dll is missing dependencies in .netcore 3.0 preview 7.

![Preview7Deps](https://user-images.githubusercontent.com/53267677/61802674-c8111b80-ae28-11e9-9647-c1193d79dd65.png)

# General

Trying to build an application which previously compiled perfectly with Preview 6.

Compilation complains that a reference to System.Drawing.Common.dll is required, however this appears to be missing

[2019-07-24 14:53] konstantinosDMS commented on #3085
Resolved.

[2019-07-24 14:53] #3085 closed

[2019-07-24 15:51] mswilson4040 commented on #2304
@BeigeBadger's solution worked for me. Couldn't get any 2.x version to work but 2.2.104 worked for whatever reason. According to the documentation, I should have been able to do 2.2.x or even 2.x but neither worked.

[2019-07-24 16:35] kjjghfhfjgv opened #3087 "E: Unmet dependencies. Try 'apt --fix-broken install' with no packages (or specify a solution)."
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/sdk-2.2.108
Operating System: Linux Ubuntu 18.04 - x64

sudo apt-get install -y gpg
Reading package lists... Done
Building dependency tree
Reading state information... Done
gpg is already the newest version (2.2.4-1ubuntu1.2).
You might want to run 'apt --fix-broken install' to correct these.
The followi

[2019-07-24 17:10] Anipik commented on #2933
@singhkamall just to let you know we wont be adding eventDescriptor types in .net core as they are older functionality of writing code. You should be using eventsources to do writing.

[2019-07-24 17:16] SFC-Sarge commented on #3075
WPF Application
MainWindowxaml:
<Window x:Class="WpfApp33.MainWindow"
        xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
        xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"
        xmlns:d="http://schemas.microsoft.com/expression/blend/2008"
        xmlns:mc="http://schemas.openxmlformats.org/markup-compatibility/2006"
        xmlns:local="clr-namespace:WpfApp33"

[2019-07-24 17:45] singhkamall commented on #2933
@Anipik Appreciate the update.

I am not working with `EventDescriptor` directly but I'm using `RunspaceFactory` and looking at stack trace it seems like eventDescriptor is used in its constructor. Does it means `System.Management.Automation.Runspaces.RunspaceFactory` is also not supported?

Not sure how else I can execute commands for automation of Exchange Online without it. Any idea in regards

[2019-07-24 18:01] Revan654 commented on #3086
There seems to be an issue with certain reference not being detected Correctly(Even if the File Exists). I'm also seeing some other reference not showing up(System.Windows Forms) is not showing up for me. Even though it exist in the SDK Folder. I guess best thing to do atm is to manually add the reference/Assembly until there is a fix.

System.Drawing.Common Can be Downloaded(Which is What my VS D

[2019-07-24 18:12] agocke commented on #3040
@Maoni0 Unfortunately I don't have Windows and Linux installed on the exact same machine, but the machines are very similar and I see that on Windows this program produces an active working set of only 24 MB instead of ~290MB resident set in Linux. One thing to note is that System.Reflection.Metadata does some tricky stuff with native memory allocation and finalizers (https://github.com/dotnet/cor

[2019-07-24 18:27] 0xd4d commented on #3086
Those files are in some other directories, see eg. `C:\Program Files\dotnet\packs\Microsoft.WindowsDesktop.App.Ref\3.0.0-preview7-27912-14\ref\netcoreapp3.0`. I don't know why `Microsoft.NETCore.App.Ref` has refs to the higher level WPF/WinForms pack.

[2019-07-24 19:26] vivmishra commented on #2859
Superseded by Preview 7 - #3075

[2019-07-24 19:26] #2859 closed

[2019-07-24 19:27] vivmishra commented on #3075
@vatsan-madhavan  @amit-kabra for WPF issue.

[2019-07-24 20:04] vatsan-madhavan commented on #3075
@SFC-Sarge, What version of the SDK are you building against? Can you post a full project (zip) that we can use to repro. @jkoritzinsky, @jeffschwMSFT  this looks like a ReadyToRun related problem.

[2019-07-24 20:09] SFC-Sarge commented on #3075
.Net Core 3, Preview 7

Tried under VS Code and VS Enterprise 2019 16.3 Preview 1.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Vatsan Madhavan <notifications@github.com>
Sent: Wednesday, July 24, 2019 4:05:42 PM
To: dotnet/core <core@noreply.github.com>
Cc: Danny McNaught <sfcsarge@outlook.com>; Mention <mention@noreply.git

[2019-07-24 20:11] BlazorDotCA opened #3089 "Visual studio blazor templates preview 7 - client side and full stack both show same descriptions"
With the latest preview version of visual studio (16.3 Preview 1) - if you create a new Blazor project from the "File -- New" then it shows 3 different Blazor templates to choose from but 2 of them show the exact same description. The 2nd and 3rd  ones say "Blazor WebAssembly App" and they have the same description that says "A project template for creating a Blazor app that runs on WebAssembly. T

[2019-07-24 20:12] SFC-Sarge commented on #3075
Removed the     <PublishReadyToRun>true</PublishReadyToRun> line from the project and the file size got smaller but had the same result with control on form exe does not launch remove control exe launches.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Danny McNaught
Sent: Wednesday, July 24, 2019 4:09:22 PM
To: dotnet/core <r

[2019-07-24 20:14] SFC-Sarge commented on #3075
Note: This is a new VS Enterprise 2019 WPF/Net Core project using only MS supplied controls. No third party controls are used. Tried Button, Checkbox, TextBlock all with the same results.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Danny McNaught
Sent: Wednesday, July 24, 2019 4:11:58 PM
To: dotnet/core <reply@reply.github.

[2019-07-24 20:17] SFC-Sarge commented on #3075
Further note: I even tried repairing VS Enterprise 2019 16.3 Preview 1, not change to solution results, Builds fine, Publishes fine, creates the Single Exe but if a control is added then it does not launch, remove the control and it launches.  Strange.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Danny McNaught
Sent: Wednesd

[2019-07-24 20:25] SFC-Sarge commented on #3075
Here is the project I am trying.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Danny McNaught
Sent: Wednesday, July 24, 2019 4:17:51 PM
To: dotnet/core <reply@reply.github.com>; dotnet/core <core@noreply.github.com>
Cc: Mention <mention@noreply.github.com>
Subject: RE: [dotnet/core] .NET Core 3.0.0 Preview 7 (#3075)

Further

[2019-07-24 20:29] vatsan-madhavan commented on #3075
@SFC-Sarge if you had an attachment, it didn't come through via email. Would you mind attaching it in GitHub directly?

I have a suspicion that this is related to https://github.com/dotnet/wpf/issues/634 and some (or most) WPF apps may not be usable as ReadyToRun in Preview7. I'll let @jkoritzinsky or @jeffschwMSFT  chime in.

[2019-07-24 20:37] jeffschwMSFT commented on #3075
cc @fadimounir

[2019-07-24 22:20] SFC-Sarge commented on #3075
Ok just got home and will connect and send after I eat.

Danny McNaught
United States Postal Service Network Operations Portfolio Support
·   System Architecture and Integration.
·   Senior Application Developer in C# Visual Studio Enterprise 2017/2019, SharePoint 2016, Office 2016/2019, Office 365, Windows Forms, Windows Presentation Foundation, Xamarin forAndroid, Universal Windows Platform, Win

[2019-07-24 23:22] SFC-Sarge commented on #3075
Note: I validated this only happens in WPF, Windows Forms works correctly.
[WpfApp33.zip](https://github.com/dotnet/core/files/3429058/WpfApp33.zip)

[2019-07-24 23:36] ericstj commented on #2933
Looks like that assembly comes from Powershell and is implemented here: https://github.com/PowerShell/PowerShell/blob/bd6fdae73520931f0d27a29d6290e18761772141/src/System.Management.Automation/engine/hostifaces/ConnectionFactory.cs#L17  Maybe follow up with powershell team?  I think they have a version of that library that works on .NETCore. @SteveL-MSFT

[2019-07-24 23:41] fadimounir commented on #3075
Hmm... that's odd. I can actually run the app with the button control, with PublishTrimmed, PublishReadyToRun and PublishSingleFile. The app doesn't crash, and I can see the button.
Using Preview 7 bits (3.0.100-preview7-012717).

@SFC-Sarge What version of the SDK were you using?

[2019-07-24 23:45] SFC-Sarge commented on #3075
With <PublishReadyToRun>true</PublishReadyToRun> in project file I get the following Warnings:

2>WpfApp33 -> D:\Workspaces\Training\WpfApp33\WpfApp33\bin\X64\Release\netcoreapp3.0\win-x64\publish\
========== Build: 1 succeeded, 0 failed, 0 up-to-date, 0 skipped ==========
========== Publish: 1 succeeded, 0 failed, 0 skipped ==========

[2019-07-24 23:45] SFC-Sarge commented on #3075
The version I have install is: dotnet-sdk-3.0.100-preview7-012821-win-x64.exe gotten from the download page for SDK.

[2019-07-24 23:54] SFC-Sarge commented on #3075
But: when I publish I get: JITPath "C:\Users\danny.mcnaught\.nuget\packages\microsoft.netcore.app.runtime.win-x64\**3.0.0-preview7-27912-14**

That version must come with 16.3 Preview 1 installed this morning.

[2019-07-24 23:59] SFC-Sarge commented on #3075
With Project file containing: <PublishReadyToRun>true</PublishReadyToRun> and <PublishReadyToRunShowWarnings>true</PublishReadyToRunShowWarnings> I get:
warining like:
`Could not load type 'System.Transactions.Transaction' from assembly 'System.Private.Xml, Version=4.0.1.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'. while resolving 0x1000162 - System.Transactions.Transaction.`
and others i

[2019-07-25 00:00] fadimounir commented on #3075
I was able to repro the issue with the Preview 8 bits. This issue is caused by enabling the PublishTrimmed switch, not ReadyToRun. Interestingly, I wasn't able to start the app even without the button with the trimming.

cc @sbomer

[2019-07-25 00:04] fadimounir commented on #3075
Could be related to https://github.com/mono/linker/issues/628

[2019-07-25 00:07] SFC-Sarge commented on #3075
Removing PublishTrimmed>true</PublishTrimmed> I was able to launch the exe with and without a button control added to the form. So it depends on what SDK version you have installed.

[2019-07-25 00:07] vatsan-madhavan commented on #3075
@fadimounir, I can't repro it with 3.0.100-preview7-012821.

I'm was able to repro a crash with Preview8 bits (3.0.100-preview8-013417).

[code]

[2019-07-25 00:16] SFC-Sarge commented on #3075
Note: even though without PublishTrimmed>true the button control is not enabled or clickable.

[2019-07-25 00:25] SFC-Sarge commented on #3075
Nothing I do enables the button on run. design mode shows it enabled but after the exe launches it is grayed out.

[2019-07-25 00:30] fadimounir commented on #3075
I see these exceptions when PublishTrimmed is enabled. Without it, I'm not seeing any of these exceptions.

Not sure what the issue is here. I can see that too on my end. @vatsan-madhavan ?

[2019-07-25 00:38] vatsan-madhavan commented on #3075
So far I'm unable to repro the button-is-disabled problem...

![uJj4VFcar3](https://user-images.githubusercontent.com/20246435/61837461-c00da780-ae39-11e9-8a23-4e522a80db11.gif)

[2019-07-25 00:45] SFC-Sarge commented on #3075
![Grayed out button](https://user-images.githubusercontent.com/40568693/61837658-d3c60780-ae53-11e9-8edf-b617f7f1b805.png)

Do not have video but here is a picture.

[2019-07-25 00:48] SFC-Sarge commented on #3075
This is my xaml content:
[code]

[2019-07-25 00:50] SFC-Sarge commented on #3075
Here is the complete xaml:
[code]

[2019-07-25 00:51] SFC-Sarge commented on #3075
found it how did that happen?
[code]

[2019-07-25 00:53] SFC-Sarge commented on #3075
That that fixed that issue: Sorry.

[2019-07-25 00:55] SFC-Sarge commented on #3075
Well I am on the East Coast and time for bed. Thanks and looking forward to a fix and also the designer for Windows Forms since I use Windows Forms under WinPE to provision company workstations. I want to move the provisioning application from .Net Framework 4.7.2 to .Net Core under WinPE.

[2019-07-25 02:44] nathan-alden-hp opened #3090 "Recommended approach to adding assembly search directories when using AssemblyLoadContext.LoadFromAssemblyPath?"
I'm running .NET Core 3.0 preview 7. Referencing this issue for somewhat related context: https://github.com/dotnet/core/issues/290.

I am writing a plugin architecture using a .NET Core 3.0 WPF application and .NET Standard 2.0 class libraries for the plugins. In my architecture, the main application loads plugins from a user-configured directory. The code uses `AssemblyLoadContext.LoadFromAssemb

[2019-07-25 03:47] hell425 opened #3092 "How to support higher Android APIs without upgrading unity"
How to support higher Android APIs without upgrading unity，
The current project content is relatively large, and I don't want to upgrade now.

Regards

[2019-07-25 04:12] caobo171 opened #3093 "No package aspnetcore-runtime-2.1.0-1 available."
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/centos/runtime-2.1.0
Operating System: Linux CentOSx64

I see "No package aspnetcore-runtime-2.1.0-1 available."
when I run "yum install aspnetcore-runtime-2.1.0-1"

How can I fix it ?

[2019-07-25 07:16] StefanOssendorf commented on #3075
We got the problem that our solution does not build with preview 7. The build crahses with either a "Stack overflow" output or "MSBuild processes die".
For more information see https://github.com/dotnet/cli/issues/11986

[2019-07-25 09:51] Nirmal4G commented on #3059
Git VFS to the rescue, folks!

[2019-07-25 09:53] Doggie52 commented on #759
What's most confusing is that executable files appear outside of the `publish` folder, so you're led to believe those are the ones you need to run and that `publish` simply contains the libraries. I don't quite see why anything executable should appear outside of `publish` if `dotnet publish` has been invoked...

[2019-07-25 09:55] Nukepayload2 opened #3094 "When will "Supports VB ##.#" be included in the .NET Core release information?"
I can see many useful VB runtime members and windows desktop related VB templates have been ported to .NET Core 3.0 . But VB is still not listed in the [release information page](https://dotnet.microsoft.com/download/dotnet-core/3.0) . I want to know when can we see "Supports VB 16.0-preview" in the release information.

[2019-07-25 12:40] SFC-Sarge commented on #3075
Even though my small test Windows Forms Application works fine, my 15 project solution does not. The build completes and the single exe is created but does not run.  The EXE created is 169MB
dotnet-sdk-3.0.100-preview7-012821-win-x64.exe
microsoft.netcore.app.runtime.win-x643.0.0-preview7-27912-14
Visual Studio 2019 Enterprise 16.3 Preview 1
[VSEnterpriseInfo.docx](https://github.com/dotnet/core/f

[2019-07-25 12:46] SFC-Sarge commented on #3075
@vatsan-madhavan
I would like to try your fixed Preview8 where can I get it so I can test the fix on the Windows Forms Project referenced above.

[2019-07-25 15:05] nathan-alden-hp commented on #3090
Possible answer to my question (although it really shouldn't require this much code): https://samcragg.wordpress.com/2017/06/30/resolving-assemblies-in-net-core/

[2019-07-25 15:25] judyanndixon commented on #3075
I just installed the preview and I was expected to see both Blazor Server and Blazor Client templates to select from when creating a new project in VS2019Preview 16.3.  I am only seeing the Blazor Server App template.  However when I do the dotnet new --list command I see 4 blazor type templates with the following short names: blazorserverside, blazorhosted, blazorlib, and blazor.  Can the templat

[2019-07-25 16:01] cadesalaberry opened #3095 "Cannot use System.Windows.Forms in preview7"
# Cannot use `System.Windows.Forms` in `3.0-preview7`

When upgrading from 3.0 preview6 to 3.0-preview7 I get stuck with:

[code]

# General

I realised that the error was coming from the version of dotnet Core after uninstalling ALL available SDKs but the `3.0-preview6` version. I then executed `dotnet --version` and realised it was still using `3.0-preview7` which made no sense.

[2019-07-25 17:02] SteveL-MSFT commented on #2933
@singhkamall, please try https://www.nuget.org/packages/Microsoft.PowerShell.SDK which is .NET Core compatible.

[2019-07-25 17:13] suprak commented on #3007
Not sure if this the right place to ask, but when will the hosted agent pools owned by Azure Pipelines in DevOps be updated with the latest sdk/runtimes?

We have "component governanace alerts" we want to address, but none of the build environments yet have the latest runtimes.

I'm assuming this will cover it, but when is "later in July"?

[2019-07-25 18:04] nathan-alden-hp commented on #3090
I have yet to find success with the blog article I posted above. Unfortunately, I get to this line:
[code]
and it doesn't find a matching runtime library. I compared the contents of the `"libraries"` property in my plugin assembly's `.deps.json` file and `RuntimeLibraries` is missing `System.Management` while `MyProject.Plugin.deps.json` has it.

`RuntimeLibraries`:
[code]
`MyProject.Plugin.deps.j

[2019-07-25 18:15] Revan654 commented on #3095
There a few ref that's not being added to the SDK package with Preview 7. Even though the files do exist in the SDK folder, It looks like the manifest file is creating the issue. It went from 50 in Preview 6 to 40 in Preview 7.

System.Drawing is another one not Showing up as Comment in following Thread: https://github.com/dotnet/core/issues/3090 .

You can add the file in manually for the time be

[2019-07-25 18:18] nathan-alden-hp commented on #3095
@Revan654 How is this issue related to my issue? I'm very curious. My issue is specifically about loading assemblies at runtime and the resolver not finding one of the assembly's dependencies.

[2019-07-25 18:26] nathan-alden-hp commented on #3090
I identified a race condition in my code that was causing this issue caused by attempting to load several plugins. In the above blog's code, the author attaches an event handler to `AssemblyLoadContext.Resolving`, but his code assumes only one assembly will be loaded. Calling the author's code several times results in multiple event handlers being attached to `AssemblyLoadContext.Resolving`, thus

[2019-07-25 18:26] #3090 closed

[2019-07-25 18:28] nathan-alden-hp commented on #3095
@Revan654 I have since closed my issue as I discovered a race condition in my code. I am running into a separate issue now, but I don't think it's directly related to either of our issues:

[2019-07-25 18:55] LeeDumond commented on #3083
I can verify, I am having the identical issue on Preview 7. Worked on Preview 6 with no problem.

[2019-07-25 20:57] vivmishra commented on #3075
@danroth27

[2019-07-25 22:13] jakehockey10 opened #3096 "this version is no longer found"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu19-04/sdk-2.2.203
Operating System: Linux Ubuntu 19.04 - x64

I receive the following message when I try any of the 3 approaches mentioned on the page above: `E: Version '2.2.203-1' for 'dotnet-sdk-2.2' was not found`

[2019-07-25 22:14] Edik1012 opened #3097 "My Live"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/rhel/sdk-2.2.108
Operating System: Linux RHEL - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-07-25 22:20] FengTianShi commented on #505
a

[2019-07-25 23:20] vivmishra commented on #3007
The deployment is expected to complete by 7/29.

[2019-07-26 01:57] Benknightdark opened #3098 ""Microsoft.AspNetCore.Mvc.ViewFeatures.Internal" can not find in dotnet core 3.0.0-preview7-27912-14"
After I upgrade my dotnet core 2.2 MVC  application to 3.0.0-preview7-27912-14, my custom razor html extesion can not find   "Microsoft.AspNetCore.Mvc.ViewFeatures.Internal".

![image](https://user-images.githubusercontent.com/5799487/61920145-29510000-af8b-11e9-9f0d-7e954c654f5a.png)

And, after "Microsoft.AspNetCore.Mvc.ViewFeatures.Internal" can not find , here is some function I can not use ,

[2019-07-26 03:43] TraceLD commented on #2746
Use `4.6.0-preview7.19362.9` version of System.Drawing.Common like so:
`<PackageReference Include="System.Drawing.Common" Version="4.6.0-preview7.19362.9" />`  to fix the issue.

[2019-07-26 04:41] danroth27 commented on #3075
@judyannidixon Could you please confirm that you have installed the latest Visual Studio *Preview* (16.3 Preview 1) from https://visualstudio.com/preview?

[2019-07-26 05:48] stevennyman commented on #3075
Is Visual Basic .NET support included in this version? I remember reading somewhere that it wasn't available in previous previews.

[2019-07-26 07:07] piiov commented on #3075
Build a WPF Core app with the latest preview 3.0.100-preview7-012821.
when using system.windows.forms the build failed.

Severity	Code	Description	Project	File	Line	Suppression State
Error	MC1000	Unknown build error, 'Could not find assembly 'System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089'. Either explicitly load this assembly using a method such as LoadFro

[2019-07-26 07:19] techiedesu commented on #2996
[code]
Perfectly works! Thanks!

[2019-07-26 07:19] #2996 closed

[2019-07-26 08:05] spencercw opened #3099 "dotnet-diagnostic sockets lingering after crash"
.NET Core version: 3.0.0-preview7-27912-14 Linux

My target is an arm64 embedded platform, but I am seeing the same behaviour on my x64 dev machine.

The runtime is leaving these diagnostic sockets with names like `dotnet-diagnostic-28148-23379390-socket` under /tmp if the process exits with an unhandled exception. If the process is repeatedly crashing in this way then these sockets pile up, using

[2019-07-26 08:14] cadesalaberry commented on #3095
Hey, I think you were trying to reference https://github.com/dotnet/core/issues/3086.

For now I will stick on `3.0-preview6` until a more complete release is published.

[2019-07-26 08:46] rtssrl opened #3100 "Wrong package aspnetcore-runtime-2.2 on SLES 12.x"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/sles/runtime-current
Operating System: Linux SLES 12.4 - x64
Dotnet core 2.2.6

Following instructions, got package aspnetcore-runtime-2.2.6-rh.rhel.7-x64.rpm installed (it looks like a redhat 7 package)
dotnet core doesn't works (Microsoft.AspNetCore.App not present)

Downloaded http://packages.microsoft.com/sles/1

[2019-07-26 10:50] SFC-Sarge commented on #3075
Yes: Note: The Net Core Team was able to reproduce the issue and is working on it.

Microsoft Visual Studio Enterprise 2019 Preview
Version 16.3.0 Preview 1.0
VisualStudio.16.Preview/16.3.0-pre.1.0+29123.89
Microsoft .NET Framework
Version 4.8.03745

Installed Version: Enterprise

Architecture Diagrams and Analysis Tools   00433-90100-63537-AA870
Microsoft Architecture Diagrams and Analysis Tools

[2019-07-26 11:01] SFC-Sarge commented on #3075
Note: Also for small single project Windows Forms Applications this does not happen but for WPF or multi-project Windows solutions it does.  My 15 project Windows forms solution has this problem, and any WPF project large or small has the problem. It is a Net Core 3 Preview 7 and 8 issue the Net Core Team was able to repo and working on. Thanks for your help.

Sent from Mail<https://go.microsoft.c

[2019-07-26 12:18] judyanndixon commented on #3075
@danroth27 Yep that is the one I have installed.  BTW I learned that after picking the Blazor Server App template and then configuring the Project Name, Location, and Solution, I finally get the option to select Blazor Server App, Blazor (Asp.Net Core hosted), and Blazor (client-side).  It wasn't what I expect I expected but it did work for me so far.  So I'm all good now.

[2019-07-26 16:48] vatsan-madhavan commented on #3075
@SFC-Sarge Latest Preview8 bits are available at https://github.com/dotnet/core-sdk. Please watch https://github.com/dotnet/wpf/issues/1385 & https://github.com/mono/linker/pull/675 - we working on a bug-fix that will allow Trimmed WPF applications in Preview 8 to work without crashes. /cc @sbomer, @jeffschwMSFT, @marek-safar
/cc @grubioe, @rladuca

[2019-07-26 16:51] vatsan-madhavan commented on #3075
@piiov, I've opened https://github.com/dotnet/wpf/issues/1404 to track your issue.
/cc @grubioe, @ryalanms

[2019-07-26 19:07] vintzl commented on #505
Why Microsoft stay silent?

[2019-07-26 20:08] Revan654 commented on #3095
@nathan-alden-hp Copy function grabbed the wrong link. Not sure why FireFox copy function breaks at times.

@cadesalaberry Yes, that would be the correct link.

Seems going have to wait for Preview 8. It looks like MS is behind with there Releases. We were suppose to be getting RC Build this month, so far nothing.

There are other internal functions that don't work correctly as well. This is the r

[2019-07-26 21:50] brainode opened #3101 "NullReferenceException in Hello World DateTime."
# Issue Title
I have OpenSUSE Tumbleweed with Version 2.2.401 and Commit 729b316c13.

When i trying to run Hello World sample:
[code]
I've got an error:
[code]
What's wrong?

[2019-07-27 03:40] shrouk123 opened #3102 "i can't open the program"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-07-27 04:27] #3014 closed

[2019-07-27 04:28] loneshark99 commented on #3014
works now. no issue.

[2019-07-28 08:28] dotnetshadow opened #3103 "Httpcontext tempdata .net core 3.0 preview 7"
When using kestrel `dotnet run` I get a tempdata / httpcontext exception, yet if I use IISExpress it seems to work after upgrading to asp.net core 3.0 preview7

I'm just wondering if I'm missing something?
The project is NToastNotify, samples application WebApplication1

Issue outlined here
https://github.com/nabinked/NToastNotify/issues/79

[2019-07-28 09:02] activeAntz opened #3104 "How to viewed SSRS Report with .NET Core ?"
I want to make use of the Reporting Services **ReportViewer** control in a .NET Core webAPI. I can't find the good solution for displaying SSRS reports, So how it's implement with .Net core ?

[2019-07-28 10:48] #3104 closed

[2019-07-28 12:35] SFC-Sarge commented on #3075
@vatsan-madhavan
In an attempt to determine why my Windows Forms Application does not launch I created a subset test application that only has. see attached WindowsFormsApp18.zip.

- Microsoft.Extensions.Logging
- System.Management
- System.Management.Automation

When System.Management.Automation is added the application does not launch. Remove it and the application launches.
To test launch a cmd

[2019-07-28 16:05] wuyuimac opened #3105 "Build Error VS2019 for Mac 8.2 'The "ResolvePackageAssets" task failed unexpectedly.'"
# Issue Title

Build Error VS2019 for Mac 8.2 'The "ResolvePackageAssets" task failed unexpectedly.'

# General

/usr/local/share/dotnet/sdk/2.1.701/Sdks/Microsoft.NET.Sdk/targets/Microsoft.PackageDependencyResolution.targets(198,5): error MSB4018: “ResolvePackageAssets”task failed unexpectedly.。
/usr/local/share/dotnet/sdk/2.1.701/Sdks/Microsoft.NET.Sdk/targets/Microsoft.PackageDependencyResoluti

[2019-07-28 19:13] kingotu opened #3106 ".NET"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

C:\Users\benotu> .NET --info
'.NET' is not recognized as an internal or external command,
operable program or bat

[2019-07-28 19:44] josephmoresena commented on #3106
.NET? Shouldn't be "dotnet"?

[2019-07-28 20:48] kdarodker commented on #2794
This was my issue. I used an existing Command window.

Thanks Karelz

[2019-07-28 20:57] danmosemsft commented on #3106
Yep, @kingotu you should type "dotnet --info"

I'm going to close this, please reactivate if it's not resolved

[2019-07-28 20:57] #3106 closed

[2019-07-28 21:06] danmosemsft commented on #3105
@tarekgh can you see how this could happen? most of the code in mono here is corefx. I think it is
[code]
Maybe misconfigured time zones on the machine? Should this move to mono repo?

[2019-07-28 22:14] kingotu commented on #3106
Thank you very much for your support and I have been able to activate it

[2019-07-28 22:29] danmosemsft commented on #3101
I am unable to repro with this dockerfile (on docker for windows)
[code]
This has the same commit 729b316c13.

Do you have any more details about the environment? Can you try 3.0 instead? https://dotnet.microsoft.com/download/dotnet-core/3.0

[2019-07-28 22:31] danmosemsft commented on #3103
Can you please move this issue to ASP.NET? https://github.com/aspnet/AspNetCore

[2019-07-28 22:31] #3103 closed

[2019-07-28 22:31] danmosemsft commented on #3102
Can you give more details?

[2019-07-28 22:32] danmosemsft commented on #3094
@leecow @KathleenDollard this is feedback on what's on https://dotnet.microsoft.com/download/dotnet-core/3.0 page

[2019-07-28 22:33] danmosemsft commented on #3087
Hello. Did you try what was suggested? Are you still blocked?

[2019-07-28 22:34] danmosemsft commented on #3083
When you get `Child node "2" exited prematurely` there will be text pointing to a log file in your temp folder. Can you please include the content of that?

[2019-07-28 22:35] danmosemsft commented on #3083
Also could you please reopen in https://github.com/microsoft/msbuild   and close this?

[2019-07-28 22:36] danmosemsft commented on #3077
@leecow it looks like https://dotnet.microsoft.com/download/linux-package-manager/fedora28/sdk-2.2.301 needs an update. Is that your page?

[2019-07-28 22:36] danmosemsft commented on #3080
@joperezr can answer that

[2019-07-28 22:38] danmosemsft commented on #3086
@ericstj was there a known change here?

[2019-07-28 22:43] tarekgh commented on #3105
The only logical reason here is the machine using up-normal time zone settings which has Utc offset less/more than 14 hours.

https://github.com/dotnet/coreclr/blob/ac84ed3ce0bfecb74def2d3f86100c4ee5e323aa/src/System.Private.CoreLib/shared/System/DateTimeOffset.cs#L74

https://en.wikipedia.org/wiki/List_of_UTC_time_offsets
https://en.wikipedia.org/wiki/Time_zone
[code]

@wuyuimac could you send th

[2019-07-29 00:00] dcuccia commented on #3075
Hi! On .Net Core 3.0 Preview 7, VS 16.3 Preview 1.

My only error for my WPF project is below (a similar WinForms project that depends on the same assemblies is building and running fine). I have no explicit dependencies on mscorlib, but possibly an implicit one via a 3rd party dependency. Is this a forwarding issue specific to WPF? If so, how to resolve? Thanks!!

Error	MC1000	Unknown build error

[2019-07-29 02:36] wuyuimac commented on #3105
jamesdeMacBook-Pro:~ james$ date
Mon Jul 29 10:34:21 PST 2019
jamesdeMacBook-Pro:~ james$ date -R
Mon, 29 Jul 2019 10:35:06 +0800

[2019-07-29 04:28] ebizupnorth opened #3107 ".NET Core 3.0 Preview 7 - PictureBox.LoadAsync throws an exception. "Operation is not supported on this platform.""
[code]
The following code throws an Exception "Operation is not supported on this platform." on .NET Core 3.0 Preview 7. The picture loads fine when using .NET Framework 4.8

Form1.Designer.cs
[code]
Form1.resx
[code]

Form1.cs
[code]

[2019-07-29 08:02] peter-bull commented on #3083
I'll

[2019-07-29 08:02] #3083 closed

[2019-07-29 09:19] ravikumar-singi opened #3108 "Error parsing reference: "mcr.microsoft.com/dotnet/core/sdk:2.2 AS build""
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-microservice-tutorial/docker-image
Operating System: windows 10

docker build -t mymicroservice .
Sending build context to Docker daemon 14.34 kB
Step 1/10 : FROM mcr.microsoft.com/dotnet/core/sdk:2.2 AS build
Error parsing reference: "mcr.microsoft.com/dotnet/core/sdk:2.2 AS build" is not a valid repository/tag: invalid referenc

[2019-07-29 09:36] traffichero commented on #3105
I have exactly the same issue - here's my info

mortens-mbp:~ morten$ date
Mon Jul 29 17:34:24 PST 2019
mortens-mbp:~ morten$ date -R
Mon, 29 Jul 2019 17:34:26 +0800

[2019-07-29 10:08] karelz commented on #2512
1.5 months no response, closing.

[2019-07-29 10:08] #2512 closed

[2019-07-29 10:09] karelz commented on #2850
3 weeks no response, closing. Feel free to reopen if there is more info available.

[2019-07-29 10:09] #2850 closed

[2019-07-29 10:09] karelz commented on #2856
3 weeks no response, not enough details available, closing. Feel free to reopen if there is more info.

[2019-07-29 10:09] #2856 closed

[2019-07-29 10:10] karelz commented on #2870
3 weeks no response, closing. Feel free to reopen if there is more info.

[2019-07-29 10:10] #2870 closed

[2019-07-29 10:10] karelz commented on #2874
5 weeks no response, closing. Feel free to reopen if there is more info available. Thanks!

[2019-07-29 10:10] #2874 closed

[2019-07-29 10:11] karelz commented on #2879
6 weeks no response, closing. Feel free to reopen if there is more info available. Thanks!

[2019-07-29 10:11] #2879 closed

[2019-07-29 10:13] lzpong opened #3109 "Requires: openssl-libs"
Linux version 2.6.32-696.16.1.el6.x86_64 (mockbuild@c1bl.rdu2.centos.org) (gcc version 4.4.7 20120313 (Red Hat 4.4.7-18) (GCC) ) #1 SMP Wed Nov 15 16:51:15 UTC 2017

[code]

[2019-07-29 11:33] karelz commented on #2978
3 weeks no response, closing. Feel free to reopen if there is more info available. Thanks!

[2019-07-29 11:33] #2978 closed

[2019-07-29 11:33] karelz commented on #2969
3 weeks no response, closing. Feel free to reopen if there is more info available. Thanks!

[2019-07-29 11:33] #2969 closed

[2019-07-29 11:34] karelz commented on #2957
2 weeks no response, closing. Feel free to reopen if there is more info available. Thanks!

[2019-07-29 11:34] #2957 closed

[2019-07-29 11:34] karelz commented on #2884
3 weeks no response, closing. Feel free to reopen if there is more info available. Thanks!

[2019-07-29 11:34] #2884 closed

[2019-07-29 11:34] karelz commented on #2881
1 month no response, closing. Feel free to reopen if there is more info available. Thanks!

[2019-07-29 11:34] #2881 closed

[2019-07-29 11:36] karelz commented on #2883
I don't think there is much left to discuss here. Closing.
If I misunderstood and we see value in having the issue and discussion open, please let me know and I will reopen. Thanks!

[2019-07-29 11:36] #2883 closed

[2019-07-29 11:37] karelz commented on #2986
3 weeks no response, closing. Feel free to reopen if there is more info available. Thanks!

[2019-07-29 11:37] #2986 closed

[2019-07-29 11:37] karelz commented on #2983
2.5 weeks no response, closing. Feel free to reopen if there is more info available. Thanks!

[2019-07-29 11:37] #2983 closed

[2019-07-29 11:38] karelz commented on #2972
@MichaelSimons ping? (3 weeks no response)

[2019-07-29 11:39] karelz commented on #2970
I don't think we have localized help. @mairaw do you know more or can you please route it?

[2019-07-29 11:43] karelz commented on #2958
Can you try Preview 7?
Did you try to compile the app? Note that the docs / IntelliSense can be missing.
@ericstj any pointers?

[2019-07-29 11:44] karelz commented on #2721
@RheaAyase can we close now? Or are we still tracking some additional work?

[2019-07-29 11:45] karelz commented on #3063
1 week no response, closing. Feel free to reopen if there is more info available. Thanks!

[2019-07-29 11:45] #3063 closed

[2019-07-29 11:45] karelz commented on #3060
1 week no response, closing. Feel free to reopen if there is more info available. Thanks!

[2019-07-29 11:45] #3060 closed

[2019-07-29 11:45] karelz commented on #3055
1 week no response, closing. Feel free to reopen if there is more info available. Thanks!

[2019-07-29 11:45] #3055 closed

[2019-07-29 11:46] karelz commented on #3050
1.5 week no response, closing. Feel free to reopen if there is more info available. Thanks!

[2019-07-29 11:46] #3050 closed

[2019-07-29 11:47] karelz commented on #3028
@harish0139 the steps are part of the tutorial. Please follow all steps, including closing the open command line after install.

[2019-07-29 11:48] karelz commented on #3027
2 weeks no response, closing. Feel free to reopen if there is more info available. Thanks!

[2019-07-29 11:48] #3027 closed

[2019-07-29 11:50] karelz commented on #3019
Thanks for info. Unclear if it is real problem with .NET Core, or with Unity. Closing as there is no action to be taken.

[2019-07-29 11:50] #3019 closed

[2019-07-29 11:50] karelz commented on #2993
2 weeks no response, closing. Feel free to reopen if there is more info available. Thanks!

[2019-07-29 11:50] #2993 closed

[2019-07-29 11:51] karelz commented on #2989
@dagood is there any action item left here?

[2019-07-29 11:53] karelz commented on #3030
Answered, closing.

[2019-07-29 11:53] #3030 closed

[2019-07-29 11:53] karelz commented on #3016
@leecow ping?

[2019-07-29 11:54] karelz commented on #3079
Preview 7 was released in July: see #3075

[2019-07-29 11:54] #3079 closed

[2019-07-29 12:42] RengarsRice commented on #2958
it's there now if I add  <UseWindowsForms>true</UseWindowsForms> into the csproj file
feel free to close the issue

I have a question though, why is this class tied into windows forms?
cheers
Joe

[2019-07-29 12:42] #2958 closed

[2019-07-29 12:52] RheaAyase commented on #2721
Hi @karelz, I don't think that there is more work to be done, unless y'all want to somehow resolve the confusing inconsistency between the different SDK versions :/

(I know that this should be resolved in the future versions. Can't wait the day!)

[2019-07-29 12:53] SFC-Sarge commented on #3075
@vatsan-madhavan
Further Note: If I run the sample I provided from Visual Studio (Release Mode) I get the following Log if all methods are enabled/not remarked out.
![PowerShellFailed Log](https://user-images.githubusercontent.com/40568693/62049623-a4115980-b1dd-11e9-92d3-83a354bfe567.png)

It only fails to launch when creating SingleExe file and trying to launch the SingleExe.  Note: I have inclu

[2019-07-29 13:21] kylepeters commented on #2972
for @MichaelSimmons - FYI - I am not a good contact for Docker related issues for sure.  As far as my issue goes, it was a wash - I gave up.  I don't really need Docker - I just wanted to learn more about it, and what I learned is that is gets complicated.

[2019-07-29 13:39] SFC-Sarge commented on #3075
@vatsan-madhavan @danroth27
Added exception handling to get the errors under debug mode:
[_MyLog_2019729_093546_pid4788.log](https://github.com/dotnet/core/files/3442499/_MyLog_2019729_093546_pid4788.log)

[code]

[2019-07-29 13:41] SFC-Sarge commented on #3075
Adding @vivmishra

[2019-07-29 13:48] SFC-Sarge commented on #3075
@vivmishra @vatsan-madhavan @danroth27
System.Management.Automation (7.0.0-preview.2) shows Microsoft.Management.Infrastructure (1.0.0) included:
![Microsoft Management Infrastructure1 0 0](https://user-images.githubusercontent.com/40568693/62053629-040bfe00-b1e6-11e9-9d45-bc11c842f8f3.png)

[2019-07-29 14:07] JimSmith99 opened #3110 ".Net core 2.2 api not properly deployed on kestrel/nginx"
Probably same problem as here: https://github.com/dotnet/core/issues/948

My setup:
//Program.cs
[code]
//launchSettings.json
` "applicationUrl": "https://localhost:6980",`

//parts of yml:
[code]

After deploy, the old api is served, though I see new dll in www folder.
only way I have found how to solve this is:
1. sudo netstat -plnt
2. sudo kill -9 [pid from running sudo netstat -plnt]
3. Refres

[2019-07-29 14:16] MichaelSimons commented on #2972
I'm sorry for not responding sooner, I didn't see this issue.  This doesn't look like an issue specific to the tutorial, rather it is a general Docker for Windows issue.  I found this [issue](https://github.com/docker/for-win/issues/573) which has a number of people reporting a similar problem.  A couple suggestions I saw:

1. Ensure you are not running Docker with Experimental features enabled.
2

[2019-07-29 14:36] SFC-Sarge commented on #3075
@vivmishra  @vatsan-madhavan @danroth27
Note: if I manually add the Microsoft.Management.Infrastructure (1.0.0) nuget package VS 16.3 preview1 is not happy. And still throws exception under debug mode.
[_MyLog_2019729_103546_pid20984.log](https://github.com/dotnet/core/files/3442757/_MyLog_2019729_103546_pid20984.log)

![VS Manaully Add infrastructure1 0 0](https://user-images.githubusercontent.co

[2019-07-29 15:13] dagood commented on #2989
No, without more info from @mic3ael there isn't anything that can be done about this issue. If it's from the AUR as we suspect, the workaround seems likely to work, or an issue needs to be filed in the AUR for the person maintaining the Arch package to address.

[2019-07-29 15:13] #2989 closed

[2019-07-29 15:17] dagood commented on #3077
This is a known problem--there's a larger discussion/decision that needs to happen about keeping the distro list up to date: https://github.com/dotnet/core/issues/2576.

I would expect the "F27" feed to work for F30. We don't actually produce packages that are specific to F30--they're the same RPMs. @Rubemlrm, did you hit any installation problems, or is this only for the doc problem?

[2019-07-29 15:29] icistrate commented on #3007
First of all, sorry to ask here, maybe is the wrong place.
I cannot find 2.1.508 SDK (LTS) deployed on Azure App Service for quite a while now. Why would that be the reason?

[2019-07-29 16:27] joperezr commented on #3080
hello @Penergy, thanks for logging the issue. Yes, .NET Core does run on Raspberry Pi 4.

In case your project involves controlling sensors or devices attached to the Raspberry Pi 4 using the GPIO header pins, head down to our new https://github.com/dotnet/iot repo where we are developing a .NET Standard 2.0 library that will support communication protocols (GPIO, SPI, I2C, PWM) with those pins in

[2019-07-29 16:45] dagood commented on #2731
The repo owners have set up some monitoring and alerting to catch this. My impression is that the system is too complex for pre-publish testing to actually catch these things, so this is probably the best we can hope for right now. (The owners automatically knowing there's a problem rather than us having to ping them.) There are continuing conversations about how to improve the service.

[2019-07-29 16:45] #2731 closed

[2019-07-29 17:15] sbomer commented on #3075
@SFC-Sarge, I wasn't able to reproduce this issue with the project you shared above. However the error you're getting looks like it could be caused by the linker (https://aka.ms/dotnet-illink). You could try publishing without `PublishTrimmed`, or you could try adding the following to your project:
[code]
If your error only shows up with `PublishTrimmed`, could you please file a new issue at https

[2019-07-29 17:26] Fyb3roptik commented on #2952
So you release a product knowing there is an issue, yet dont put it into the documentation? Awesome job there guys

[2019-07-29 17:50] vatsan-madhavan commented on #3075
@dcuccia, I've opened https://github.com/dotnet/wpf/issues/1451 to track this - please follow updates there.

/cc @ryalanms Can you take a look?
/cc @grubioe

[2019-07-29 17:56] SFC-Sarge commented on #3075
@sbomer @vatsan-madhavan @vivmishra
I am publishing using the files located in the ..WindowsFormsApp18\WindowsFormsApp18\Properties\PublishProfiles\FolderProfile1.pubxml
Using Visual Studio Enterprise 2019 16.3 Preview 1.
[code]
for the released version and for debug version:
..WindowsFormsApp18\WindowsFormsApp18\Properties\PublishProfiles\FolderProfile2.pubxml
[code]
The error I see in the log fi

[2019-07-29 17:57] ebizupnorth commented on #3107
Workaround:
[code]

[2019-07-29 17:58] SFC-Sarge commented on #3075
@sbomer @vatsan-madhavan @vivmishra
In Release/Debug mode from Visual Studio 2019 I look at the log file created by the application located at c:\temp
Publish mode just does not run/launch.

[2019-07-29 18:22] leecow commented on #2880
Closing per comments above.

[2019-07-29 18:22] #2880 closed

[2019-07-29 18:26] leecow commented on #3097
We'll need to understand the details of what you're seeing. Feel free to re-open this issue with those details if you're still having troubles.

[2019-07-29 18:26] #3097 closed

[2019-07-29 19:29] michaelscofieldk opened #3112 "error encountered"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: windows

after i typed in dotnet run in my terminal, it shows this   Couldn't find a project to run. Ensure a project exists in C:\Users\okunola michael\Desktop\C#, or pass the path to the project using --project.

Operating system version: 64bit

error message: Couldn't find a project to ru

[2019-07-29 20:01] svdemir opened #3113 "gRpc error "stream removed""
# gRpc error "stream removed"

# General

Hi i am vscode netCore 3.0p7 use. grpc create template and project run.
client apps  "stream removed"  I get the error.

![grpcError](https://user-images.githubusercontent.com/28478219/62078156-9b0f9f00-b254-11e9-9e1e-b333b83b271b.JPG)

I think there's a problem with the template.

because netCore30p7 does not manually get the error in the console applicat

[2019-07-29 20:03] tarekgh commented on #3105
@danmosemsft this may be interesting to Mono to look at as the failing scenario is using PST time zone which cannot report UTC offset more/less 14 hours. Does mono using our TimeZoneInfo implementation? or they are using their own implementation?

I am asking because if they are using their own implementation, would be nice to check what it returns as Utc offset when using PST and using Min DateTi

[2019-07-29 20:54] leecow commented on #3016
Sent the team email. Hopefully they will chime in soon.

[2019-07-29 20:58] leecow commented on #3114
Yes, the SDKs collection is here to stay. Releases will need to model multiple SDKs for quite some time and this is the least breaking method we could think of. The vs-support field in the sdks collection can be used to determine which SDK is appropriate for a given VS version.

[2019-07-29 21:00] genifycom opened #3115 "ASP.NET Core 2.1 SCD will not start"
# Issue Title
ASP.NET Core 2.1 SCD will not start

# General
I have not struck this before. I built a win10-x64 SCD which works fine on developer machines but will not run on a production machine. The executable just returns to the command line with no message. Nothing in event log either.

How can I debug this on the client production machine?
The first line of Main is a Trace.WriteLine which doe

[2019-07-29 22:11] sbomer commented on #3075
@SFC-Sarge, thanks for the additional details. Looks like this is related to `PublishTrimmed`/`PublishReadyToRun`/`PublishSingleFile`. I believe you're hitting the problem described in https://stackoverflow.com/questions/56352672/running-powershell-from-net-core-could-not-load-file-or-assembly-microsoft-ma - try using a non-portable RID as suggested in the first answer on that thread. There are a

[2019-07-29 22:57] SFC-Sarge commented on #3075
@sbomer
Thanks I will look at those.

[2019-07-29 23:00] SFC-Sarge commented on #3075
@sbomer
Thanks for opening the ticket on the PowerShell site.

[2019-07-29 23:33] SFC-Sarge commented on #3075
@sbomer
Tried the non-portable RID like it stated but would not publish:
Error reported:
[code]
![Non-PID](https://user-images.githubusercontent.com/40568693/62089541-63dec500-b237-11e9-9a29-7add72df181e.png)

Only changed the debug version of FolderProfile2.pubxml
[code]

[2019-07-29 23:38] danmosemsft commented on #3105
The code in the stack above is ours (`.../external/corefx/src/...`) so I"m guessing ours (?)

@traffichero are you able to build a simple hello world app on the command line for Mono? Perhaps we can try providing code that just does `return DateTimeOffset.FromFileTime(0);` as in this repro and that will make it simpler to investigate.

[2019-07-29 23:46] tarekgh commented on #3105
I am not sure if mono include the TimeZoneInfo*.cs files in their build or not. likely yes but I am not sure.

This is a good idea to try on mono stack on that failing machine.

[2019-07-30 01:16] #2721 closed

[2019-07-30 02:17] lzpong commented on #3109
2.2 not support centos 6.x, need centos 7.x

[2019-07-30 02:17] #3109 closed

[2019-07-30 04:58] hsb0307 commented on #2202
缺少数字证书：

microsoft root certificate authority 2010

microsoft root certificate authority 2011

解决办法：

一、先安装数字证书；

找一台正常装了VS2015的电脑，Win+R打开运行，输入certmgr.msc，打开证书管理界面。我们从自己电脑导出一个，我的win7 系统。

导出及导入步骤如下：

1.开始→运行→certmgr.msc

2，展开：证书→受信任的根证书颁发机构→证书

3.右击展开菜单，所有任务→导入

4.剩下的，就是选择你下载好的cer文件，然后无限下一步了。

二、证书安装成功以后，安装Microsoft Visual C++ 2015 Redistributable

下载地址：https://www.microsoft.com/en-us/download/det

[2019-07-30 06:39] Rutix commented on #505
@vintzl Microsoft gave a reaction in https://github.com/OmniSharp/omnisharp-vscode/issues/1431#issuecomment-297578930 .  This item is kinda old and no one of Microsoft was tagged in this issue so I don't think any will receive notifications. Maybe @gregg-miskelly knows who can react on this issue once and for all :).

[2019-07-30 08:33] Rubemlrm commented on #3077
@dagood it's working without any problem, this is a doc problem only.
Thanks

[2019-07-30 08:52] vishipayyallore opened #3116 "launchSettings.json having reference to "/api/values" instead of "WeatherForecast" in .Net Core 3.0 Preview 7"
# Issue Title
launchSettings.json having reference to "/api/values" instead of "WeatherForecast" in .Net Core 3.0 Preview 7

# General
I  am creating Web API project using .Net Core 3.0 Preview 7 using Visual Studio 2019. When I launch it was showing the url "http://machinename:port/api/values" and display not reachable.

When I looked into the Controllers folders I found that it does not have Val

[2019-07-30 09:00] vishipayyallore commented on #3116
Sorry I found the issue under Known Issue in this URL
https://github.com/dotnet/core/blob/master/release-notes/3.0/preview/3.0.0-preview-known-issues.md.

[2019-07-30 09:00] #3116 closed

[2019-07-30 09:20] codec-abc opened #3117 "CopyToPublishDirectory not working on F# projects"
# CopyToPublishDirectory not working on F# project

Hi,

I experienced a difference in the command CopyToPublishDirectory between C# and F# project.

Here is what I do with C#:
[code]

edit console.csproj to this:
[code]

then
[code]

At this point in `.\bin\Release\netcoreapp2.2\publish` I find my `app.yaml` file. But, if I do something similar with F# it doesn't work. For clarity with the same p

[2019-07-30 09:25] codec-abc commented on #3117
Update: My bad, the tag for F# should be ```<None Include="app.yaml">``` and not ```<None Update="app.yaml">```

I found this rather confusing and imho it would be better if name were the same between the 2 projects but this is not a bug.

Sorry for issue guys.

[2019-07-30 09:25] #3117 closed

[2019-07-30 10:47] SFC-Sarge commented on #3075
@sbomer @vivmishra @vatsan-madhavan
I looked at the installed version of Microsoft.Management.Infrastructure 1.0.0 on my developer machine the picture shows that has a win10-64 not win-64. Tried renaming to win-64 but did not make a difference.  I believe this is why Microsoft.Management.Infrastructure cannot be found.  I did try and use win10-64 in my publish xml but still could not find Microsof

[2019-07-30 12:50] cwe1ss opened #3118 "release-metadata/2.2/releases.json does not contain 2.2.401 SDK"
I'm unable to install the 2.2.401 SDK using the DevOps "UseDotNet" task. Not sure if that task is using the wrong releases-index.json (related to #3114 ?) or if this is a bug in the json files here.

The DevOps UseDotNet task [gets the release info](https://github.com/microsoft/azure-pipelines-tasks/blob/9002e807e472a2f7ee77fadbba3bbff7cd6eadde/Tasks/UseDotNetV2/versionfetcher.ts#L292) from https:

[2019-07-30 13:35] alexms2001 opened #3119 "publishing from cmd line looses embedded resource"
Publishing from cmd line looses embedded resource

Binary published from within Visual Studio extracts embedded resource correctly; publishing thru "dotnet publish" command DOES NOT.

Sample project is attached, test results:

/***    TextResource when the app is published by PublishReleaseX64ExeDotNetPublished.cmd command:
//      (embedded text file contents is not extracted at all)
C:\...ceTest

[2019-07-30 13:43] MichaelL79 opened #3120 "BitArray.CopyTo(Array, int) seems broken"
# BitArray.CopyTo(Array, int) seems broken

When using BitArray.CopyTo() in .NET Core 3 it seems the bits are always copied to the last position of the provided array.

# General

My setup is a .NetStandard 2 class library with a method that contains a BitArray.CopyTo(Array, int). If I use this library from within a WPF application using .Net 4.7.2 everything works as expected. When I use the exac

[2019-07-30 15:21] dagood commented on #3077
Thanks for confirming! I've updated the title of https://github.com/dotnet/core/issues/2576  and moved the comment about Fedora to the top to make it a little more visible, and I'm going to close this issue as a duplicate.

[2019-07-30 15:22] dagood commented on #3077
Duplicate of #2576

[2019-07-30 15:22] #3077 closed

[2019-07-30 16:07] kehoej opened #3121 "In .NET Core 3.0 Preview 7 ResXResourceReader class is unavailable"
In .NET Core 3.0 Preview 7 ResXResourceReader class is unavailable.  The documentation states that it is available, but it is not.

https://docs.microsoft.com/en-us/dotnet/api/system.resources.resxresourcereader?view=netcore-3.0

[2019-07-30 17:09] jpfreyen commented on #2721
@RheaAyase, yes, if the inconsistencey between the different SDK versions could be resolved sometime that would be great

[2019-07-30 17:28] sbomer commented on #3075
@SFC-Sarge here's what I'm seeing. Starting with the last solution you shared,
- Changing the RID in `WindowsFormsApp18.csproj` to `win7-x64` gets around the problem with `Microsoft.Management.Infrastructure` during the build (Debug/Release), but hits a similar issue with `Microsoft.PowerShell.Commands` missing.
- Adding a package reference to `Microsoft.PowerShell.SDK` fixes that issue (this is w

[2019-07-30 18:11] SFC-Sarge commented on #3075
@sbomer
Thanks I will give it a try tonight. Leaving the office for the day.

[2019-07-30 20:17] leecow commented on #3118
Sorry about that. https://dotnetcli.blob.core.windows.net/dotnet/release-metadata/2.2/releases.json has been updated to include 2.2.401.

cc @vivmishra

[2019-07-30 20:17] #3118 closed

[2019-07-30 20:47] #3114 closed

[2019-07-30 20:50] leecow commented on #3081
Thanks, @lednhatkhanh. We're doing two things to help with this. 1) We're in the process of creating a tool which will help with the cleanup of previous installations and will hopefully have that available soon. 2) We will be redesigning the Mac installers for a later release (probably early next year) which will automatically remove the previous version as part of the installation proces.

[2019-07-30 21:46] Ciantic commented on #1632
In Debian Buster you also need few dependencies, at minimum dotnet SDK requires libicu63 and libssl1.1, rest is there but I didn't need them yet.

You can see the steps easilly from docker file I cooked up:

[code]

[2019-07-30 23:06] KathleenDollard commented on #2952
This issue is now included in the Known Issues for .NET Core 3.0 https://github.com/dotnet/core/blob/master/release-notes/3.0/preview/3.0.0-preview-known-issues.md

We hope to solve this soon, but as we are working on it, this indicates how people who encounter this problem can work around it.

[2019-07-30 23:38] robertbaker opened #3124 "Add support for ClearLinux"
# Add support for ClearLinux

# General

ClearLinux is gaining popularity as it's the most performant modern linux distro to date.

In order for PowerShell to add support for ClearLinux, .netcore must add support.

[2019-07-31 01:12] AlseinX commented on #3079
So why is this issue closed?
Everyone is looking forward to it.
Is the RC put off?
@karelz

[2019-07-31 01:35] AlseinX opened #3125 "Again the question on when the first Release Candidate will come out"
As explained in #3079 which is questionably closed without being answered.

The roadmap tells that both preview7 and the first RC will come out in July 2019.
Does it mean that RC1 is based on preview7?

But, when will RC1 come out? It is scheduled in July but it is the last day of July today.
And what will preview8 be? The daily build tells that there is a preview9.

Does it mean that RC1 is put o

[2019-07-31 02:31] phuongmychi opened #3126 "not run"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
![image](https://user-images.githubusercontent.com/20487309/62179190-d655bf00-b375-11e9-9cca-94526c8ec683.png)

[2019-07-31 03:39] dagood commented on #3125
This caught my eye, and I found that the 3.0 preview 7 blog post has similar questions in the comments, with answers: https://devblogs.microsoft.com/dotnet/announcing-net-core-3-0-preview-7/

From the blog post itself, this is the part that I would *think* is the RC implication people are wanting to see, however I'll admit I'm not sure what RC fully meant for .NET Core releases:

Hope that helps.

[2019-07-31 04:03] jerrychoubear commented on #2202
Had a similar situation while mine error file was sfx_x86.cab,
and resolved using @hsb0307 's reply.

When I ran```certmgr.msc``` on my no-internet-connection Windows Server 2008 R2 Standard sp1,
there was only _microsoft root certificate authority 2010_ but **no** _microsoft root certificate authority 2011_.

So I exported it from my VS2017-installed laptop, imported to that server, ran the insta

[2019-07-31 04:58] cwe1ss commented on #3118
Thank you very much @leecow for the quick fix!

[2019-07-31 06:10] danroth27 commented on #3075
@judyanndixon Ah, yeah, that's a known bug in this version of VS. The top level Blazor entry in the New Project Dialog is being updated to be generic for both Blazor Server Apps and Blazor WebAssembly Apps in the next preview update. Sorry about the confusion!

[2019-07-31 06:12] lindexi commented on #3126
Could you use `dotnet restore` to restore it?

[2019-07-31 06:24] AlseinX commented on #3125
So `RC` is cancelled and `preview` keeps being used before GA comes out, even though supported in production?
And yet another confusing thing is, why is the daily build preview9, 2 versions ahead of the released version?
My guess is that preview8 is archived without tested or documented?

[2019-07-31 07:01] pdhermann-bws opened #3127 "dotnet core 2.2 dev ssl cert no longer work with firefox error SEC_ERROR_UNKNOWN_CRITICAL_EXTENSION"
# Issue Title

System:
Windows 10 64 Bit Version 10.0.15063
Dotnet Core SDK 2.2.108
Visual Studio 2017 Pro 15.9.14
Visual Studio Code v 1.36.1

Steps to reproduce:

i created a new dotnet core ssl dev cert with
dotnet dev-certs https --trust
A new SSL Certificate was created and trusted
After starting the dotnet core app i opened firefox dev 69.0b4 (64-Bit)
And navigate to https://localhost:5001/s

[2019-07-31 09:52] adyazp opened #3128 "Error dotnet new (2.2.401)"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/create
Operating System: Linux Ubuntu 18.04 - x64

dotnet --version
2.2.401

when I exec this command
dotnet new mvc -o myApp

Template "ASP.NET Core Web App (Model-View-Controller)" could not be created.
Object reference not set to an instance of an object.

I have tried
sudo rm -rf ~/.templateengine/
dotnet

[2019-07-31 12:25] SFC-Sarge commented on #3075
@sbomer
Still not working in Debug mode non-published See new attached sample and log result.  New error though so I will also open and issue [https://github.com/PowerShell/PowerShell](https://github.com/PowerShell/PowerShell).
[WindowsFormsApp18.zip](https://github.com/dotnet/core/files/3451756/WindowsFormsApp18.zip)
[VSSolutionDebugTest_2019731_080800_pid20116.log](https://github.com/dotnet/core

[2019-07-31 14:06] SFC-Sarge commented on #3075
@sbomer @vivmishra @vatsan-madhavan
Adding the PowerShell.SDK v7.0.0-preview.2 fixed the issue for Release/Debug but not publish.

That fixes Release/Debug Mode from Visual Studio 2019 but publish using either `<RuntimeIdentifier>win7-x64</RuntimeIdentifier>` or `<RuntimeIdentifier>win10-x64</RuntimeIdentifier>` in csproj and pub.xml files get this error during publish:
I will return to Net Core T

[2019-07-31 14:17] SFC-Sarge commented on #3075
@sbomer @vivmishra @vatsan-madhavan
Here is the update solution that works for Release/debug but not Publish to SingleExe and returns the error in the above comment. The attached log file show that PowerShell now works in Release/debug mode.
[VSSolutionDebugTest_2019731_093812_pid47268.log](https://github.com/dotnet/core/files/3452254/VSSolutionDebugTest_2019731_093812_pid47268.log)

[WindowsForms

[2019-07-31 14:21] SFC-Sarge commented on #3075
@sbomer @vivmishra @vatsan-madhavan
That project also launches and works from the `D:\Workspaces\Training\WindowsFormsApp18\WindowsFormsApp18\bin\x64\Release\netcoreapp3.0\win10-x64 `folder. Since the publish fails not publish folder is created.

[2019-07-31 14:21] steskalja opened #3130 "Native Python Support"
Native Python Support

Will future dotnet releases have native python support? Maybe by baking in ironpython3 in to dotnet core?

[2019-07-31 14:35] dagood commented on #3125
My reading of the comments is that RC is no longer used to describe .NET Core releases, but preview 7 fits the old RC expectations. What are you looking for in an RC release that isn't provided in preview 7?

Preview 8 is currently stabilizing for release. I'm guessing you're looking at SDK daily builds--those repos have a separate branch for preview 9 to continue dev work while 8 stabilizes.

[2019-07-31 14:57] esmatullahmohabat opened #3131 "how to use .net core in visual studio 2013"
# Issue Title

Be as descriptive as you can with your title.

# General

Provide details on the problem you are experiencing including the .NET Core version, operating system version and anything else that is relevant.

Please provide a code sample for your issue if it is relevant, either inline, link to a gist (or similar) or add it as a zipped attachment.

For some issues, you will get a quicker

[2019-07-31 15:01] Jargon64 commented on #3007
I am very much looking forward to this as well.

[2019-07-31 15:05] ghuntley commented on #3131
You don't/can't. Consider VS2019 or VS2017 or vscode.

[2019-07-31 16:59] mikeTWC1984 opened #3132 "System.IO.FileStream"
# Issue Title

System.IO.FileStream - ctor with FileSystemRights is missing in  .net core

# General

This topic is mainly about IKVM. IKVM works nicely converting java 8 jars to regular .net assemblies, but project stopped in 2015.  I was playing around with IKVM and .netcore (2.2) I was able to load those assemblies, and even instantiate some objects. When  trying somewhat more practical (web cl

[2019-07-31 17:22] leecow commented on #3132
Transferring to the corefx repo.

[2019-07-31 17:30] leecow commented on #3128
Are you able to do a simple console app? `dotnet new console -o myConsole`

[2019-07-31 17:31] leecow commented on #3127
Adding a few folks who may be able to help - @livarcocc @bradygaster

[2019-07-31 17:36] leecow commented on #3125
Davis is correct - we simply are not "branding" releases as RC any longer. When we feel the quality has attained a sufficient level to warrant more critical usage, we communicate the "go live" status and will iterate there until GA. Preview 8 is in the final stabilization stages now and is expected to be released in a few weeks. This is all coming together in the release/3.0.100-preview8 branch of

[2019-07-31 17:48] blowdart commented on #3127
This falls under aspnet tooling. The source is at https://github.com/aspnet/AspNetCore/blob/master/src/Shared/CertificateGeneration/CertificateManager.cs

This error is thrown when a cert has a critical extension Firefox doesn't understand. Odd that it suddenly stopped between versions.

The only things we appear to be marking as critical is the constraint extension, which limits what the self sig

[2019-07-31 17:52] leecow commented on #3124
Thanks for the request. We regularly evaluate what's available and, as you can imagine, the landscape of distros is large and ever-shifting.

I did a quick test using a ClearLinux the official Docker image and basic functionality seems to work fine. That's not a support statement, just a note that you should be able to begin experimenting with .NET Core. To install, either use the [linux tar.gz di

[2019-07-31 17:56] leecow commented on #3112
Can you confirm that you are in the same directory as your test project?

[2019-07-31 17:57] leecow commented on #3102
Closing due to lack of info from the OP. Feel free to re-open with additional details if you're still having troubles.

[2019-07-31 17:57] #3102 closed

[2019-07-31 18:06] carlossanlop commented on #2842
@Pilchie can your team please take a look, as suggested by Rob?

[2019-07-31 18:16] carlossanlop commented on #3025
@johnbeisner can you please take a look? (2 weeks no response)

[2019-07-31 18:17] #3028 closed

[2019-07-31 18:18] carlossanlop commented on #3036
3 weeks no response. @khuslen please feel free to reopen the issue if you can provide the info requested. We'll be happy to help.

[2019-07-31 18:18] #3036 closed

[2019-07-31 18:21] mairaw commented on #2970
Not yet @karelz, but we're working on enabling that. Not sure if for 3.0 or a later release at this point.

/cc @ahsonkhan @safern @JasonCard @carlossanlop

[2019-07-31 18:21] Pilchie commented on #2842
Looping in @livarcocc because this is a publishing question.  Also note that `System.Text.RegularExpressions` is only transitively included by the Asp.NET metapackage - it's actually included by `Microsoft.NETCore.App`.

[2019-07-31 18:22] carlossanlop commented on #2970
Should we tranfer this issue to the dotnet-api-docs repo, @mairaw?

[2019-07-31 18:26] carlossanlop commented on #3047
@livarcocc @nguerrera is this something your team should look into?

[2019-07-31 18:28] carlossanlop commented on #3044
Based on that sentence, is this an issue the ASP.NET team can help with, @Pilchie ? If not, let me know so I can find the right owner.

[2019-07-31 18:32] carlossanlop commented on #3069
@NimaVibeVans did you add the dotnet repository before attempting to install the package?

[2019-07-31 18:34] carlossanlop commented on #3070
@livarcocc @nguerrera are you the best contacts to help with this question?

[2019-07-31 18:35] carlossanlop commented on #3071
@MichaelSimons would you mind assisting with this question?

[2019-07-31 18:35] carlossanlop commented on #3072
@MichaelSimons would you mind taking a look at this question?

[2019-07-31 18:37] carlossanlop commented on #3076
Did you make sure to close and reopen the command line window after installing dotnet? The environment variables need to get updated, but if you had a CLI open while installing, they won't get updated.

[2019-07-31 18:39] ericstj commented on #2958
It's tied to WindowsForms because that's where it is implemented: https://docs.microsoft.com/en-us/dotnet/api/system.resources.resxresourcereader?view=netframework-4.8

Namespace: System.Resources
Assembly: System.Windows.Forms.dll

There's been discussion in the past of moving the type down, but in its current form its rather coupled to WindowsForms and other technolgies (TypeConverter, BinaryFor

[2019-07-31 18:40] carlossanlop commented on #3089
Can you please report this issue from the "Send Feedback" option within Visual Studio?

[2019-07-31 18:40] carlossanlop commented on #3089
Closing as it's not a dotnet related issue.

[2019-07-31 18:40] #3089 closed

[2019-07-31 18:46] carlossanlop commented on #3092
Can you please ask this question in a Xamarin repo? I suspect the best place to get an answer would be https://github.com/xamarin/xamarin-android

[2019-07-31 18:47] carlossanlop commented on #3093
Hi @caobo171, did you make sure to register the repository as the instructions explained?

[2019-07-31 18:48] carlossanlop commented on #3096
Hi @jakehockey10 , did you make sure to add the key and repository before attempting to install? What does autocomplete give you as results when you type "sudo apt-get install dotnet-" and then the tab key?

[2019-07-31 18:49] carlossanlop commented on #3098
@Pilchie is this something you can help with?

[2019-07-31 18:52] johnbeisner commented on #3025
@carlossanlop
This issue was addressed. Issue: https://github.com/dotnet/cli/issues/11940

[2019-07-31 18:53] leecow commented on #3100
Errant packages have been removed from the sles repo.

[2019-07-31 18:53] #3100 closed

[2019-07-31 18:53] johnbeisner commented on #3025
@leecow
Can you close this as a duplicate issue - I do not have permission.

[2019-07-31 18:54] leecow commented on #3025
Duplicate of dotnet/cli#11940.

[2019-07-31 18:54] #3025 closed

[2019-07-31 18:54] carlossanlop commented on #3099
Hi @spencercw, can you please provide a code sample so we can help you further?

[2019-07-31 19:06] carlossanlop commented on #3107
Thank you @ebizupnorth for the detailed report. I will transfer your issue to the winforms repo.

[2019-07-31 19:06] carlossanlop commented on #3107
This issue was moved to dotnet/winforms#1548

[2019-07-31 19:06] #3107 closed

[2019-07-31 19:07] NimaVibeVans commented on #3069
Hi Carlos,

Thank you for responding. Yes, I was able to resolve the issue.

Regards,
Nima

[2019-07-31 19:09] carlossanlop commented on #3108
@MichaelSimons would you mind helping figure this issue out?

[2019-07-31 19:10] carlossanlop commented on #3110
@Pilchie is this something for your team to help figure out?

[2019-07-31 19:11] livarcocc commented on #3070
Yes. Cross-publishing is supported.

[2019-07-31 19:13] livarcocc commented on #3047
That target is not support by the .NET Core SDK. It ships with VS and is used for old style web projects.

To use that, you need to use full framework msbuild (msbuild.exe).

[2019-07-31 19:17] omajid commented on #3098
Sounds like https://github.com/aspnet/AspNetCore/issues/4932

[2019-07-31 19:17] livarcocc commented on #2842
I believe you can simply reference the package directly in your project. If the version is newer than what the framework has, we will use that.

[2019-07-31 19:24] karelz commented on #3079
Preview 7 is RC. It is go-live license. Check the release details.

[2019-07-31 19:27] nguerrera commented on #3047
You would need the locator to pick a Visual Studio installation, and not a .NET Core SDK installation.

This is maybe better discussed at https://github.com/microsoft/msbuildlocator

cc @rainersigwald

[2019-07-31 19:51] MichaelSimons commented on #3072
@Boskim0n0 - with `nanoserver` based images, the default user is `ContainerUser`.  Given the `Access is denied` message, have you tried running as `ContainerAdministrator`?  In case you are unfamiliar with specifying the user, you can use the `user` Docker run arg - `docker run --user ContainerAdministrator...`

[2019-07-31 19:54] MichaelSimons commented on #3108
@ravikumar-singi - can you share the output from running `docker version`?  Given this error, I suspect that you may be running an older version of Docker which doesn't support [multi-staged builds](https://docs.docker.com/develop/develop-images/multistage-build/).  Support was added in 17.05.

[2019-07-31 20:34] carlossanlop commented on #3115
@Pilchie can you assist with this issue?

[2019-07-31 20:39] carlossanlop commented on #3119
@livarcocc @nguerrera would you be the best contacts to help with this issue using "dotnet publish"?

[2019-07-31 20:41] carlossanlop commented on #3120
Hello @MichaelL79 , thanks for reporting this.
Since this is a potential issue in our libraries, I will transfer it to the dotnet/corefx repo for higher visibility.

[2019-07-31 20:45] carlossanlop commented on #3121
@kehoej can you please provide a code example? It will help us assist you better.

[2019-07-31 20:47] carlossanlop commented on #3130
@terrajobst @richlander @leecow any of you know the answer for this?

[2019-07-31 20:48] carlossanlop commented on #3131
Closing as this has been answered.

[2019-07-31 20:48] #3131 closed

[2019-07-31 20:58] kehoej commented on #3121
I found it, I was looking in Microsoft.NET.Sdk and not Microsoft.NET.Sdk.WindowsDesktop

[2019-07-31 20:58] #3121 closed

[2019-07-31 20:59] dasMulli commented on #3119
This is likely a dupe of https://github.com/microsoft/msbuild/issues/2221 - only the 3.0 SDK on netcoreapp3.0 can deal with non-string resources. Meanwhile only the "full" msbuild.exe can embed files.

[2019-07-31 21:10] MichaelSimons commented on #3071
This looks to be a general Windows Container issue rather than something related to the .NET images themselves.  A better place to get help would be on the [windows containers forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=windowscontainers).

[2019-07-31 22:26] Pilchie commented on #3115
@anurse any ideas?

[2019-07-31 22:27] Pilchie commented on #3110
@anurse

[2019-07-31 22:27] Pilchie commented on #3098
@rynowak

[2019-07-31 22:36] rynowak commented on #3098
We answered the same question here: https://github.com/aspnet/AspNetCore/issues/12643#issuecomment-515702458

[2019-07-31 23:06] alexms2001 commented on #3119
@carlossanlop: not sure I understand your comment. The whole point is in publishing vs msbuild, One side of my comparison is exactly "dotnet publish".
@dasMulli As for "string" vs "non-string" resources - the problem in .NET Core 2.2 is that it does not treat not "non-string" but files that have an extension different from ".txt" (?!). Yes, file name EXTENSION, of all things, determines whether th

[2019-07-31 23:37] anurse commented on #3115
Nothing immediate comes to mind. Does a `Console.WriteLine` at the start of `Main` get executed? If not, it sounds like an issue in the lower level of the stack (the host or runtime).

Could be a publishing issue maybe. @genifycom can you share a runnable sample that reproduces the problem (at least on your client machine, even if it doesn't repro on other machines) so we can see the full context?

[2019-07-31 23:40] Pilchie commented on #3044
@jjmew this looks like a project system issue to me.

[2019-07-31 23:41] anurse commented on #3110
The only steps you showed are publishing the new app to the directory. What takes care of shutting down the old version and starting up the new instance?

[2019-08-01 02:58] adyazp commented on #3128
yes I can build simple console app

On Thu, 1 Aug 2019 at 00.31 Lee Coward <notifications@github.com> wrote:

[2019-08-01 03:18] yuanrui commented on #3075
Can not load designer in vs 2019 16.2
Error message:
文件中的类都不能进行设计，因此未能为该文件显示设计器。设计器检查出文件中有以下类: Form1 --- 无法设计基类“System.Void”。 | 文件中的类都不能进行设计，因此未能为该文件显示设计器。设计器检查出文件中有以下类: Form1 --- 无法设计基类“System.Void”。
-- | --
文件中的类都不能进行设计，因此未能为该文件显示设计器。设计器检查出文件中有以下类: Form1 --- 无法设计基类“System.Void”。

在  System.ComponentModel.Design.Serialization.CodeDomDesignerLoader.EnsureDocument(IDesignerSerializationManager  man

[2019-08-01 06:32] eso2 opened #3133 "this code does not work with me"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/modify
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-08-01 08:54] Boskim0n0 commented on #3072
@MichaelSimons i changed the user of the container and it worked. Thanks!

[2019-08-01 08:54] #3072 closed

[2019-08-01 09:03] zz1231118 opened #3134 "HttpListenerRequestUriBuilder.GetPath throw IndexOutOfRangeException"
# Issue HttpListenerRequestUriBuilder.GetPath throw IndexOutOfRangeException
.net core
System.Net.HttpListener

# General
AppDomain: UnhandledException:System.IndexOutOfRangeException: Index was outside the bounds of the array.
   at System.Net.HttpListenerRequestUriBuilder.GetPath(String uriString)
   at System.Net.HttpListenerRequestUriBuilder.BuildRequestUriUsingRawPath()
   at System.Net.HttpL

[2019-08-01 09:37] InDebt commented on #3040
If I can provide any further information regarding this issue let me know.
Though it seems agocke has experienced the same issues we got on unix systems with the same unexplainable memory consumption.

[2019-08-01 10:03] spencercw commented on #3099
Hi @carlossanlop, more info below as requested. Thanks.

Program.cs:
[code]
maybe-crash.csproj:
[code]
SDK/runtime info:
[code]
Build:
[code]
I start out with no diagnostic sockets:
[code]
If I run without crashing then no diagnostic sockets are left behind -- this is good:
[code]
However, if the app crashes then a new diagnostic socket is left behind every time the app runs:
[code]

[2019-08-01 10:22] barshalamixaane opened #3135 "Not showing version even dotnet is installed"
Hi, I am having following issue though i have installed dotnet. please help me.
![Screenshot from 2019-08-01 16-04-33](https://user-images.githubusercontent.com/33709071/62285819-2320bf00-b476-11e9-9515-5feb651d98fd.png)

[2019-08-01 10:45] dasMulli commented on #3135
Did you try opening an new terminal?

[2019-08-01 11:58] AnReZa opened #3136 "OperationContext.Current is null"
I'm providing a WCF service in my .net core project via *SoapCore*. In one of the methods, I want to access the SOAP envelope header info. To test that, I've added the following code:

[code]

However, in this case, the OperationContext.Current attribute is always `null`. What do I need to change in order to make that work?

[2019-08-01 12:29] SFC-Sarge commented on #3075
@sbomer @vivmishra @vatsan-madhavan
I know someone marked as resolved but I guest the reason is that the singleExe issue is considered the linking issue and will be resolved in Preview 8 for both WPF and WindowsForms, correct?

[2019-08-01 12:44] SFC-Sarge commented on #3075
@sbomer @vivmishra @vatsan-madhavan
I still have the question for Microsoft: different nuget packages install and each require/support a different `<RuntimeIdentifier>` how does that work? i.e. another MS nuget package likes win-64 but others MS nuget packages requires `win7-64` or `win10-64` and does not have `win-64`. Does that mean you cannot use the two packages together and if so, is there no

[2019-08-01 15:37] jjmew commented on #3044
This issue was moved to dotnet/project-system#5237

[2019-08-01 17:14] vatsan-madhavan commented on #3075
@richlander, do you want to address this?

[2019-08-01 17:27] carlossanlop commented on #3099
Thank you for your detailed answer, @spencercw . This issue seems to be related to CoreCLR, so I will transfer it to that repo where they can help you further.
CC @sywhang

[2019-08-01 17:29] carlossanlop commented on #3134
@zz1231118 , can you provide a code example so we can better understand your problem?

[2019-08-01 17:30] carlossanlop commented on #3133
Please provide more details about your problem so we can help you.

[2019-08-01 21:13] Maoni0 commented on #3040
do we know the GC heap consumption at this point? if we can have the following after you did Collect/Pending:
!dumpheap -stat
and that shows a significant difference on linux than on windows that'd already be a culprit.
if that's similar we'd want to check how much GC's committing (though not the same as in WS it gives us a clue) which would require to look at some GC datastructures so we'd need s

[2019-08-01 21:36] mairaw commented on #2970
I think this belongs here because we need to check-in the generated IntelliSense files into the product but it's up to you.

[2019-08-01 21:41] SFC-Sarge commented on #3075
@vivmishra @sbomer @vatsan-madhavan
I now tried the same project with the following settings then tried running the SingleExe and checked the Event Log: The Event Log returned Error, so it still looks like a PowerShell Issue or linker missing a PowerShell File.

[WindowsFormsApp18.deps.zip](https://github.com/dotnet/core/files/3458754/WindowsFormsApp18.deps.zip)

Note: The non-SingleExe file:

`D:

[2019-08-01 22:13] SFC-Sarge commented on #3075
@vivmishra @sbomer @vatsan-madhavan
Reported this to the PowerShell Team as well.

[WindowsFormsApp18.deps.zip](https://github.com/dotnet/core/files/3458844/WindowsFormsApp18.deps.zip)

Added the Microsoft.PowerShell.Native nuget package to the project but still get the same Event Log Error:

[code]

[code]
[code]

[2019-08-01 22:22] nathan-alden-hp opened #3137 "Error attempting to create app package using Windows Application Package project type (desktop bridge)"
# Issue Title

A build error is returned attempting to build a Windows Application Package project.

# Tool Versions

Visual Studio Enterprise 2019 Preview 16.3.0 Preview 1.0
.NET Core 3.0.100-preview7-012821

# General

I'm not sure if this issue is with Visual Studio, MSBuild, or .NET Core, so I'm posting here.

I've recently been testing out creating a so-called "desktop bridge" project for a W

[2019-08-02 02:47] WinderBless commented on #2746
i meet the same error, after i updata System.Drawing.Common to 4.6.0-preview it`s okay~~

[2019-08-02 09:14] SteveTeece commented on #2654
I'm getting
[code]

[2019-08-02 09:18] nvcken commented on #1060
@sinapis have you try this https://medium.com/@zaccharles/making-net-aws-lambda-functions-start-10x-faster-using-lambdanative-8e53d6f12c9c

[2019-08-02 09:24] nvcken commented on #1968
This could helpful https://medium.com/@zaccharles/making-net-aws-lambda-functions-start-10x-faster-using-lambdanative-8e53d6f12c9c

[2019-08-02 09:35] hakimio commented on #1968
@nvcken this was already mentioned by seanfisher above. Anyway, it's using CoreRT which is not production ready and will not be since MS doesn't see any point continuing it's development.

[2019-08-02 11:26] varghesep opened #3138 "Authorization problem with myget.org in .NET CORE 3.0.100-preview7-012821"
# Authorization problem with myget.org in .NET CORE 3.0.100-preview7-012821

When I run the command ```dotnet watch run```, I get the following error:

[code]

# General

I can still build the application in ```Visual Stduio 2019``` and run it, not from command line due to the above error. I cleared the NuGet cache from the ```Visual Studio 2019``` which did not help. I ran the API install command

[2019-08-02 12:10] onny opened #3139 "File conflict with /usr/bin/host in dotnet-runtime"
Hey,
I was packaging dotnet runtime prebuild binaries for Linux and had an issue with file conflicts. The dotnet binary is looking for the fxr folder in /usr/bin/host/fxr. The problem is, that /usr/bin/host is also a typical tool commonly installed via. the package bind-tools.
[code]
Is it possible to configure a different runtime path?

Best regards,
Jonas

[2019-08-02 14:22] omajid commented on #3139
Hi! I am one of the packagers working on packaging .NET Core for Fedora and RHEL. I have not seen this error before. I do have both `dotnet` and `/usr/bin/host` (`bind-utils` in Fedora) installed. Can you please share more details about what you are doing?

In particular:

- What version of .NET Core is this?
- Where are you extracting the files?
- What is /usr/bin/dotnet? Is it a real file or a s

[2019-08-02 15:46] onny commented on #3139
@omajid
thanks for the replay. here is my package build file: https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=dotnet-runtime-bin
this might be a good hint to place the dotnet binary into /usr/share/dotnet-runtime and symlink it to /usr/bin ... so the working directory should be /usr/share/dotnet-runtime. i'll give that a try later

[2019-08-02 15:54] ahmadrijalh opened #3140 "'dotnet' is not recognized as an internal or external command"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-08-02 15:57] omajid commented on #3139
Yup, that should fix it: you dont want to split up anything out of the main `dotnet` directory. Otherwise everything will break. The `dotnet` binary mostly looks next to itself to find things.

On Fedora, we install everything to `/usr/lib64/dotnet`. `/usr/bin/dotnet` is just a symlink to `/usr/lib64/dotnet/dotnet`.

https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=dotnet-core-preview does i

[2019-08-02 17:31] Pilchie commented on #3098
Closing, as this is answered.

[2019-08-02 17:31] #3098 closed

[2019-08-02 18:36] jimbergstrom opened #3141 "RPM url in CentOS install instructions returns 404"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/centos/sdk-current
Operating System: Linux CentOS / Oracle - x64

## Steps to reproduce

Following the install instructions on https://dotnet.microsoft.com/download/linux-package-manager/centos/sdk-current

1.  Try to install the RPM from https://packages.microsoft.com/config/rhel/7/packages-microsoft-prod.rpm

## E

[2019-08-02 18:58] webtop opened #3142 "Resource not found"
Trying to install dependencies on CentOS 7 x64, yielded the following:

Retrieving https://packages.microsoft.com/config/rhel/7/packages-microsoft-prod.rpm
curl: (22) The requested URL returned error: 404 Not Found
error: skipping https://packages.microsoft.com/config/rhel/7/packages-microsoft-prod.rpm - transfer failed

[2019-08-02 19:00] kupokev commented on #3141
Adding to the above, if you navigate to https://packages.microsoft.com/config/rhel/7/ in a browser then you can see the rpm package in the directory. However, if you click on the rpm to download it, it pops up an error stating the file is not found.

![image](https://user-images.githubusercontent.com/15756436/62392735-cf71ac80-b52d-11e9-9b68-2c6ca0c90828.png)

[2019-08-02 19:01] webtop commented on #3142
Looking at the site for that URL, this is available:
https://packages.microsoft.com/config/rhel/7/packages-microsoft-prod.rpm

Did the RPM change and the docs just not updated?

The doc I was doing this from is: https://dotnet.microsoft.com/download/linux-package-manager/centos/runtime-current

[2019-08-02 19:03] webtop commented on #3142
Here: https://packages.microsoft.com/config/rhel/7/ it shows, but clicking on it goes to a 404.

[2019-08-02 19:04] webtop commented on #3142
Interestingly, going up one more level to https://packages.microsoft.com/config/rhel/7.4/ shows that there is the package and it does download.

[2019-08-02 19:08] jceddy commented on #3142
I came here to report the same issue.

[2019-08-02 19:09] dagood commented on #3141
@leecow, do you know if the Linux repository team is aware of this? (Regardless which repo the docs should point to, this seems to be an obvious bug.)

[2019-08-02 19:13] webtop commented on #3142
Unfortunately the 7.4 repo has no aspnetcore packages, but changes to the 7.3 folder does.
I think installing this RPM will yield the expected results: https://packages.microsoft.com/rhel/7.3/prod/packages-microsoft-prod-1.0-1.el7.noarch.rpm

[2019-08-02 19:14] dagood commented on #3142
In https://github.com/dotnet/core/issues/3141 it's pointed out there's a CentOS one that might be better for these instructions to use: https://packages.microsoft.com/config/centos/7/packages-microsoft-prod.rpm

[2019-08-02 19:14] dagood commented on #3142
Duplicate of https://github.com/dotnet/core/issues/3141

[2019-08-02 19:14] #3142 closed

[2019-08-02 19:30] leecow commented on #3141
I haven't seen any mail on the issue so will send up a flare now.

[2019-08-02 21:20] dagood commented on #3141
This is fixed now, thanks @leecow for pinging them.

About the CentOS instructions pointing to the RHEL 7 RPM, https://github.com/dotnet/core/issues/2576 is tracking the general issue of how closely we should map instructions to individual package repositories. So far, we've tended to reuse package repositories between distros and releases as long as they're compatible.

[2019-08-02 21:20] #3141 closed

[2019-08-03 08:09] zz1231118 commented on #3134
var httpListener = new HttpListener();
httpListener.Prefixes.Add("xxx");
httpListener.Start();
httpListener.BeginGetContext(new AsyncCallback(ProcessAccept), null);

Then the program crashes and it is difficult to reimplement the exception.

**os:**
CentOS release 6.9 (Final)
Kernel \r on an \m

**.netcore**
Host (useful for support):
  Version: 2.2.2
  Commit:  a4fd7b2c84

.NET Core SDKs installe

[2019-08-03 09:51] Kool-Koder commented on #3067
Hi, sorry for the late reply. I published using Visual Studio 2019, and set the configuration to release. I believe what is happening is the 3rd party NUGET packages such as AWS is not being exported together with the project and as such this error is happening. Thank you for your help.

[2019-08-03 12:17] nguerrera commented on #3067
Can you provide a complete set of repro steps?

What does the csproj file look like?

Which menu options exactly did you use in VS 2019 to publish?

How did you get the app files get to /root/Desktop/OSPJ/netcoreapp2.2 on what I presume is a different Linux machine or container?

[2019-08-03 12:25] nguerrera commented on #3067
In case this is what you tried, for .NET Core 2.x, you cannot simply build and copy the bin\ folder to another machine. Build will only copy enough files to develop on the current machine. You need to use Publish to copy all the NuGet dependencies.

[2019-08-03 12:49] InDebt commented on #3040
I added the modifications agocke mentioned and ran the same project on my machine on windows 10 with 25mb memory load.

This would be the output of `DumpHeap -stat`
[code]
![grafik](https://user-images.githubusercontent.com/1821006/62412092-d536c300-b5fd-11e9-90af-a44e5ed53ca7.png)

I also ran it on my Ubuntu 18.04 with 365mb res memory and 3.5 gb virtual memory.

[code]

![grafik](https://user-im

[2019-08-03 14:15] database007 opened #3143 "Starting dotnet for the firsttime"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/install
Operating System: windows

i typed in the command
dotnet

on my command prompt but it shows that the cmd is invalid, what should i do. tahnks

[2019-08-03 14:59] EmperorAtlantis commented on #2970
Depends on me? Is there anything I can do for you?

[2019-08-03 16:48] FlyingWraptor commented on #3143
Invalid? As in not found or this:
![image](https://user-images.githubusercontent.com/38633741/62414688-299e6a80-b61f-11e9-862b-65b060e557a5.png)

The bottom of the install page says:

So did you try that?

[2019-08-03 18:04] karelz commented on #2970
@mairaw which repos does it affect? Just CoreFX? Or more?

[2019-08-03 21:19] honorarac opened #3144 "Linux 32"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/rhel/runtime-current
Operating System: Linux RHEL - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-08-03 21:22] honorarac opened #3145 "Brane"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/rhel/runtime-current
Operating System: Linux RHEL - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-08-04 01:46] gidongh opened #3146 "gidonDN"
# Issue Title

Be as descriptive as you can with your title.

# General

Provide details on the problem you are experiencing including the .NET Core version, operating system version and anything else that is relevant.

Please provide a code sample for your issue if it is relevant, either inline, link to a gist (or similar) or add it as a zipped attachment.

For some issues, you will get a quicker

[2019-08-04 01:46] #3146 closed

[2019-08-04 01:47] gidongh commented on #3146
can not. recall the program

[2019-08-04 13:39] raju145 opened #3147 "not able to run .net program"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-08-04 20:32] binish opened #3148 "dotnet restore fails on mac (core 3 preview 7)"
# dotnet restore fails on macOS ( Sierra 10.12.6)

dotnet new react -au Individual  => failes
dotnet restore => fails

dyld: lazy symbol binding failed: Symbol not found: _utimensat
  Referenced from: /usr/local/share/dotnet/shared/Microsoft.NETCore.App/3.0.0-preview7-27912-14/System.Native.dylib
  Expected in: /usr/lib/libSystem.B.dylib

dyld: Symbol not found: _utimensat
  Referenced from: /usr/

[2019-08-04 23:54] bhanu3509 opened #3149 "Problem while running my first web app"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/run
Operating System: Linux Debian 9 - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-08-05 03:28] winnieryl opened #3150 ".NET runtime package on rhel6 fails to run"
# Issue Title

.NET runtime package on rhel6 fails to run dll with ICU error

# General

When I run a program using .NET runtime, it throws an exception:
FailFast:
Couldn't find a valid ICU package installed on the system. Set the configuration flag System.Globalization.Invariant to true if you want to run with no globalization support.

   at System.Environment.FailFast(System.String)
   at Syste

[2019-08-05 10:59] itrofimow commented on #3040
I believe i am hitting either the same issue or something close to it.

My application is dockerized and limited to 1gb of RAM and it just sits there (at 1 Gb) with GC only freeing like 20-30Mbs every time.
sos's dumpheap tells there are only like 10-20Mb of RAM used and there is a lot of `System.Reflection.Emit` stuff in the top
![image](https://user-images.githubusercontent.com/10709593/62459914

[2019-08-05 11:15] #3139 closed

[2019-08-05 11:26] SFC-Sarge commented on #3075
Link to PowerShell Issue reported.
[https://github.com/PowerShell/PowerShell/issues/10266#issuecomment-517395826](https://github.com/PowerShell/PowerShell/issues/10266#issuecomment-517395826)

[2019-08-05 13:42] Boskim0n0 commented on #3140
Did u installed the SDK? Can u check ur environment variables and see if there is an entry in the path with something like **C:\Program Files\dotnet\**?

[2019-08-05 13:44] Boskim0n0 commented on #3143
Did u installed the SDK? Can u check ur environment variables and see if there is an entry in the path with something like C:\Program Files\dotnet?

[2019-08-05 14:49] nathan-alden-hp commented on #3137
FWIW, I was able to use a combination of `makeappx.exe` and `signtool.exe` to bypass this issue. That makes me think it's a problem with the Visual Studio tooling.

[2019-08-05 21:03] mairaw commented on #2970
I don't know where the packages are created but I imagine it would also impact other repos like winforms, etc.

[2019-08-05 23:02] Maoni0 commented on #3040
@andy-ms could you please take a look? off the top of my head, we can check the gen0 budget - perhaps our OS layer behave differently on Linux and Windows and gave us different values for gen0 budget. should be easy to check with symbols.

[2019-08-06 04:58] barshalamixaane commented on #3135
yes I tried but its not solving the problem. Do you have any new idea? If so please help me.

[2019-08-06 05:04] patllola opened #3151 "dotnet is not available in internal or external memory"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-08-06 11:32] cantelek opened #3152 "ASP."
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/run
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
![errors](https://user-images.githubusercontent.com/23206352/62536598-065e0000-b857-11e9-82b7-e7c66dfdfd87.jpg)

[2019-08-06 13:20] riker09 commented on #2880
Upgrading to v2.2.301 has fixed the issue for me as well. 👍

[2019-08-06 18:41] peterhuene commented on #2471
@tkstanczak I just wanted to follow-up and see if any of your other users have run into this issue (and whether or not we'd be able to trace the host's loading of dependencies with `COREHOST_TRACE`).  I haven't been able to reproduce the problem myself and the publish output I've inspected from your builds have seemed correct, thus I can't explain why the occasional user runs into a dependency loa

[2019-08-06 19:20] andy-ms commented on #3040
OK, I"ll take a look.

[2019-08-06 20:18] itrofimow commented on #3040
We downgraded runtime to 2.2.2 with no success.
Futher investigations show that some `reflection.emit` stuff seems to be leaking indeed (regression after 2h of full load on production) and there always is `Newtonsoft.Json` somewhere up the GCRoot's stack of leaking objects.
I found a couple of issues related to Newtonsoft.Json 12.0.+ and memory leaks (https://github.com/JamesNK/Newtonsoft.Json/iss

[2019-08-06 20:31] Prio777 opened #3153 "The build failed on Win10"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
C:\Users\Prio\myApp>dotnet run
R_C.cs(2,9): error CS0116: A namespace cannot directly contain members such as fields o

[2019-08-06 23:07] carlossanlop commented on #3153
Hi @prio777, the error message is telling you that you have syntax errors in your code. Have you addressed them?

[2019-08-06 23:07] carlossanlop commented on #3151
What error did you encounter?

[2019-08-06 23:08] carlossanlop commented on #3150
@tarekgh do you know what causes this error?

[2019-08-06 23:08] carlossanlop commented on #3149
What error did you encounter?

[2019-08-06 23:09] carlossanlop commented on #3152
@cantelek, the error message is letting you know that you have syntax errors. Have you addressed them?

[2019-08-06 23:10] carlossanlop commented on #3147
What error did you encounter?

[2019-08-06 23:10] carlossanlop commented on #3145
What error did you encounter?

[2019-08-06 23:10] carlossanlop commented on #3144
What error did you encounter?

[2019-08-06 23:11] carlossanlop commented on #3143
You probably had a command line window open when you were installing dotnet. You need to close the window and reopen it so the environment variables get updated and you can execute "dotnet". Have you tried that?

[2019-08-06 23:12] carlossanlop commented on #3140
Did you close and reopen the CLI window after installing dotnet?

[2019-08-07 05:34] BogdanovKirill commented on #3134
Same issue on our production.

**env:**
Docker container

**os:**
Amazon Linux AMI 2018.03.e x86_64 ECS HVM GP2

**.netcore**
.net core 2.2 (runtime)

[2019-08-07 06:32] m4masood opened #3154 "Trying to connect to TLS 1.2 enabled Sql Server from .Net Core client"
Hi,

I have got a client (container application) in .net core and trying to connect to TLS 1.2 enabled Sql server.

When the Sql server was not configured the client can talk to database but after enabling TLS 1.2 it started throwing below error:

Error: The connection is broken and recovery is not possible.  The client driver attempted to recover the connection one or more times and all attempts

[2019-08-07 06:38] dagood commented on #3135
When installing via snap, the command has a namespace and is called `dotnet-sdk.dotnet` by default. You can alias it to `dotnet` using `sudo snap alias dotnet-sdk.dotnet dotnet`. More info here (and on other versions' download markdown files): https://github.com/dotnet/core/blob/a71496fbae20d49d3d79b14fb029d0323a26d793/release-notes/2.2/2.2.6/2.2.401-sdk-download.md#install-using-snap

[2019-08-07 06:39] dagood commented on #3135
Duplicate of https://github.com/dotnet/core/issues/2692

[2019-08-07 06:39] #3135 closed

[2019-08-07 07:36] vinu03-sudo opened #3155 "error type " failed to load dll form""
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-08-07 07:51] TEBOTSO opened #3156 "can't find program.cs while trying to run dotnet"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/edit
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-08-07 08:01] TEBOTSO opened #3157 "cant run dotnet"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/edit
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-08-07 16:35] tarekgh commented on #3150
Yes it is required to have ICU package installed to run on all .NET Core versions.

We have invariant mode can be enabled which will not require ICU https://github.com/dotnet/corefx/blob/a10890f4ffe0fadf090c922578ba0e606ebdd16c/Documentation/architecture/globalization-invariant-mode.md but I wouldn't recommend to enable it except if you really don't care about Globalization support.

[2019-08-07 16:35] #3150 closed

[2019-08-07 18:34] carlossanlop commented on #3157
Not enough information. Can you describe your problem?

[2019-08-07 18:35] carlossanlop commented on #3156
Not enough information. Please provide more details about the problem you're encountering. From which folder did you run the dotnet command?

[2019-08-07 18:36] carlossanlop commented on #3155
Not enough information. What were you trying to do? In what step did you encounter the problem?

[2019-08-07 18:38] carlossanlop commented on #3154
@divega is this something where you or someone in your team can provide some help?

[2019-08-07 18:41] carlossanlop commented on #3071
Thanks @MichaelSimons, I'll close the issue since it seems to be external.

[2019-08-07 18:41] #3071 closed

[2019-08-07 18:42] carlossanlop commented on #3112
1 week old with no followup from creator. Closing.

[2019-08-07 18:42] #3112 closed

[2019-08-07 18:42] carlossanlop commented on #3096
2 weeks old with no response. Closing.

[2019-08-07 18:42] #3096 closed

[2019-08-07 18:43] carlossanlop commented on #3093
1 week old with no response. Closing.

[2019-08-07 18:43] #3093 closed

[2019-08-07 18:43] divega commented on #3154
This rather for someone from the SqlClient team to respond. Cc @david-engel @cheenamalhotra. I am not familiar with TLS support in SqlClient. Is this enabled in either System.Data.SqlClient or Microsoft.Data.SqlClient?

[2019-08-07 18:43] carlossanlop commented on #3087
1 week old with no followup. Closing.

[2019-08-07 18:43] #3087 closed

[2019-08-07 18:43] carlossanlop commented on #3076
1 week old with no followup. Closing.

[2019-08-07 18:43] #3076 closed

[2019-08-07 18:48] WilbertE opened #3158 "Method not captured correctly in production"
Method not captured correctly

I've created an .Net core 2.2 web api and published it to an IIS 8.5 webserver.
We've also created an iOS app that communicates with the api and there is some very strange behaviour:

- When the app makes a valid request it does get the right answer from the api
- When the app makes _exactly_ the same request within a couple of minutes, it returns a 405 'Method not a

[2019-08-07 22:26] WilbertE commented on #3158
After searching whole evening this might have to do with `AlomFire` https://github.com/Alamofire/Alamofire/issues?utf8=%E2%9C%93&q=is%3Aisue+405

[2019-08-08 03:03] srdmnc commented on #3105
Any solution to this issue?

[2019-08-08 04:02] danmosemsft commented on #3105
Hopefully @tarekgh can help engage with Mono folks.

[2019-08-08 05:27] srdmnc commented on #3105
@danmosemsft  This issue has also been raised [here](https://github.com/dotnet/sdk/issues/2251#issuecomment-389951448) before.

By the way, I'm using VS 2019 Mac (for XF development)
System Time: UTC+8

[2019-08-08 06:26] srdmnc commented on #3105
This [solution](https://developercommunity.visualstudio.com/content/problem/607287/vs-for-mac-2019-broke-with-netcore-22107-sdk.html) fixed my problem.

[2019-08-08 07:34] jakamp commented on #1968
Have anyone tried .NET Core 3.0 Preview R2R on AWS Lambdas yet?

It seems possible already:
https://aws.amazon.com/blogs/developer/announcing-amazon-lambda-runtimesupport/

[2019-08-08 08:18] Garderoben opened #3162 "HttpClient cant authenticate when site is published Blazor Core hosted .Net 3.0 Preview7"
# Issue Title

HttpClient cant authenticate with Bearer when site is published and running in IIS works fine from visual studio.

# General

Maybe im missing something new but i tried the token thats given from both my machine and the publised server in Postman and it works. But from the application it throws "Response status code does not indicate success: 401 (Unauthorized)."

This code was work

[2019-08-08 08:22] vineetpatidar opened #3163 "dotnet quit unexpectedly on mac"
I have run my existing web app which run successfully on windows machine
But when i run on mac machine quit unexpectedly

Here is error log

Process:               dotnet [1887]
Path:                  /usr/local/share/dotnet/dotnet
Identifier:            dotnet
Version:               0
Code Type:             X86-64 (Native)
Parent Process:        vsdbg-ui [1886]
Responsible:           dotnet [1887

[2019-08-08 09:18] Garderoben commented on #3158
Hmm wonder if its same problem or related to what i have.

https://github.com/dotnet/core/issues/3162

[2019-08-08 09:38] SeppPenner commented on #3125
Seems like vacation is canceled for all of you 😅

[2019-08-08 10:07] itrofimow commented on #3040
With Newtonsoft.Json 12.0.2
![before](https://user-images.githubusercontent.com/10709593/62694303-bf017c00-b9dc-11e9-8f93-d592232f723c.PNG)
With Newtonsoft.Json 11.0.2 (and a couple of changes for code to compile)
![after](https://user-images.githubusercontent.com/10709593/62694319-c7f24d80-b9dc-11e9-9ef2-9cc4b0a0a6b6.PNG)

(App is limited to 1Gb of RAM)

There's still a lot of reflection topping

[2019-08-08 14:33] IanMercer commented on #1240
For anyone else landing here from a search on this issue:

One reason this can happen is if an error happens while serializing the object to JSON. For example a field marked as required that is not present in the data can cause this. The output simply stops and no exception is reported in this case.

Check that you can serialize the json object using `JSonConvert.SerializeObject()` before returnin

[2019-08-08 15:35] Scobiform opened #3164 "Website not reachable after change to 3.0.100-preview7-012821"
The debug message for listening on localhost:5001 is not there - so I guess after the change to the newest NET Core 3.0 Preview something broke?

How to investigate? What changed for the IIS Express Server?

Exception thrown: 'System.ArgumentNullException' in System.Private.CoreLib.dll

[2019-08-08 15:47] tarekgh commented on #3105
@JeremyKuhne I suggested to change the Systsem.IO behavior for the missing files to have the time stamp of Linux epoch and not DateTime.MinValue https://github.com/dotnet/corefx/issues/29820#issuecomment-403320018 is there a chance to do that in 3.0?

@srdmnc what time zone you had in your machine when the problem occurred?

@wuyuimac if you try changing the time zone to something else, would it w

[2019-08-08 15:48] Pilchie commented on #3115
Closing due to lack of response.  @genifycom if this is still an issue, can you reply with some of the info that @anurse asked for?

[2019-08-08 15:48] #3115 closed

[2019-08-08 16:16] Pilchie commented on #3110
Closing due to no response.  @JimSmith99 let us know if this is still an issue for you and the answer to @anurse's question.

[2019-08-08 16:16] #3110 closed

[2019-08-08 16:58] hannahmneal commented on #3163
I am also having this issue. I can

[2019-08-08 18:17] danmosemsft commented on #3163
Thanks for the report. Please track at https://github.com/dotnet/coreclr/issues/26084

[2019-08-08 18:17] #3163 closed

[2019-08-08 20:22] lambdageek commented on #3105
This is mono/mono#15887.  The fix for mono 2019-02 (aka Mono 6.0 - used by VS for Mac 8.2) was done in our fork of corefx in mono/corefx#316 which was picked up by mono/mono#15960 and  merged as commit https://github.com/mono/mono/commit/6fa465240f20d68f680f26a26089f5e5e62780dd. Packages of **Mono 6.0.0.320 or later** should have the fix.

[2019-08-08 20:24] tarekgh commented on #3105
closing per @lambdageek comment.

[2019-08-08 20:24] #3105 closed

[2019-08-08 21:52] danmosemsft commented on #3105
Thanks - I should have seen that Mono dupe.

[2019-08-08 21:54] danmosemsft commented on #2294
@zsd4yr do you know where license compiler comes from ? I assume we have a .NET Core version. I know it's very Winforms focused.

[2019-08-09 00:27] srdmnc commented on #3105
@tarekgh  Asia/Manila (but even if I change the time-zone the error persist).

[2019-08-09 05:07] VINITPANDEY opened #3165 "installation probleam"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/sdk-current
Operating System: Linux Ubuntu 18.04 - x64

mono-devel : Depends: ca-certificates-mono (= 6.0.0.319-0xamarin1+ubuntu1804b1) but 5.18.1.28-0xamarin5+ubuntu1804b1 is to be installed
E: Unmet dependencies. Try 'apt --fix-broken install' with no packages (or specify a solution).

[2019-08-09 10:03] Rutix opened #3166 "releases.json isn't up to date"
# releases.json isn't up to date

The json file located here: https://github.com/dotnet/core/blob/master/release-notes/releases.json (and where the .NET Core SDK Installer build task points to) doesn't seem to be up to date. I am missing a lot of runtimes in there. Some I have checked are 2.1.10, 2.1.11, 2.1.12 (and also the SDKs are missing for example 2.1.801). Is this file still being updated?

[2019-08-09 11:02] svick commented on #3166
That file is no longer being updated and instead you should be using https://github.com/dotnet/core/blob/master/release-notes/releases-index.json together with version-specific releases.json (e.g. https://github.com/dotnet/core/blob/master/release-notes/2.1/releases.json). See https://github.com/dotnet/announcements/issues/87 for more details.

Though that announcement also says that the old relea

[2019-08-09 12:32] Rutix commented on #3166
@svick ahhh! I totally missed that announcement. I also see now that they updated the azure-pipelines task to point to releases-index.json instead. That they haven't removed it yet is a bit confusing though but good to know I shouldn't look at it anymore!

[2019-08-09 19:24] RadioCaroline commented on #3165
https://github.com/mono/monodevelop/issues/8356#issuecomment-519926539

[2019-08-09 19:37] suprak commented on #3007
@vivmishra It's now been several weeks past 7/29 and I'm still not seeing the images updated.
Any update on when this will happen?

[2019-08-09 20:28] leecow commented on #3166
Sorry for the confusion! Obsoleted files (json and csv) have been removed.

[2019-08-09 20:28] #3166 closed

[2019-08-09 21:35] vivmishra commented on #3007
Sorry, my comment was about  .NET Core deployment to Azure App Service. I am not sure who handles the ask you made.

[2019-08-09 22:09] zsd4yr commented on #2294
I am completely unfamiliar -- you mean this? https://docs.microsoft.com/en-us/dotnet/framework/tools/lc-exe-license-compiler it is a part of VS

After a brief talk with @Tanya-Solyanik , it is not surprising at all to us that a tool using a library which is not supported on Core would not work in VS when run on a multi-targeted project. This is the scenario, correct? I do not think we have a large

[2019-08-09 23:03] danmosemsft commented on #2294
I see. Feel free to close. You might check with @OliaG what the story is for lc.exe though. I belivee it's been commonly requested for Core and as I mentioned often comes up in a winforms context.

[2019-08-10 03:47] AgieAja opened #3169 "command not found"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: macos high siera version 10.13.6

after install dotnet-sdk-2.2.401-osx-gs-x64.pkg,i open terminal,and run command dotnet,i got command not found

[2019-08-11 16:59] dehghani-mehdi opened #3170 "[v3.x] Is there any way to find out what dlls are included in final exe file?"
First of all thanks for v3.0, ability to generate single exe is huge feature, at least for me.

I used following command to generate single exe file for my project:
`dotnet publish -r win-x64 -c Release /p:PublishSingleFile=true /p:PublishTrimmed=true`

In following folder I got 321 dlls, ~80MB _and one exe file, less than 200KB and some other files_
`\bin\Release\netcoreapp3.0\win-x64`

The size

[2019-08-11 18:43] sarbjee opened #3171 "hii everyone am new on GitHub and fresher programming learner and i installed visual stdio code on my mac book pro and i also installed c# and want to make make application in .net anyone please guide me how i can install .net core sdk i already tryed but i dnot how i can check its installed or hows its work"
# Issue Title

Be as descriptive as you can with your title.

# General

Provide details on the problem you are experiencing including the .NET Core version, operating system version and anything else that is relevant.

Please provide a code sample for your issue if it is relevant, either inline, link to a gist (or similar) or add it as a zipped attachment.

For some issues, you will get a quicker

[2019-08-11 20:00] RobertWang commented on #3169
so do i

+1

[2019-08-11 21:15] AgieAja commented on #3169
thanks,this solved

[2019-08-11 21:15] #3169 closed

[2019-08-12 03:33] scalablecory commented on #3171
what have you tried so far? how doesn't it work?

[2019-08-12 09:27] Lily721 opened #3172 "dotnet msbuild lost resource files in .Net Core 3.0 Preview 7"
Hi,

I got a WPF .net core project, and I found out the resources in output dll is different between right click 'Build' button on Visual Studio and use command line 'dotnet msbuild ***.csproj'. Please try my attached sample. You'll see there's three images under resources folder, and I'd like to pack it to resources, so I added following code to RESX file:

`
  <data name="error" type="System.Res

[2019-08-12 16:46] Scobiform commented on #3164
Edit: the Server startup was blocked by services -

[2019-08-12 16:46] #3164 closed

[2019-08-12 17:55] carlossanlop commented on #3143
Closing this issue due to 1 week of inactivity.

[2019-08-12 17:55] #3143 closed

[2019-08-12 18:00] Jaguar-515 commented on #3171
In the title, you said that you were on a Macbook.
This article should help check if .NET Core is installed on your Macbook: http://osxdaily.com/2015/05/25/list-all-applications-mac-os-x/

[2019-08-12 18:03] carlossanlop commented on #3158
Hey @Pilchie is this something the ASP.NET team can help with?

[2019-08-12 18:04] carlossanlop commented on #3162
@Pilchie is this something your team can help with?

[2019-08-12 18:05] carlossanlop commented on #3165
@VINITPANDEY did the link provided by @RadioCaroline help fix your issue?

[2019-08-12 18:09] carlossanlop commented on #3170
@nguerrera @livarcocc can you help with this issue?

[2019-08-12 18:15] nguerrera commented on #3170
PublishTrimmed=true will determine all of the dlls that are kept after trimming. PublishSingleFile=true will just put them into a single file.

So if you Publish with just PublishSingleFile=true, you can see which dlls are being kept in the publish folder. Make sure to clean the publish folder between publishes when switching these options as it will otherwise leave files from the previous option

[2019-08-12 18:19] carlossanlop commented on #3172
Thanks for reporting this issue, @Lily721 . I am transferring it to the wpf repo, where they will be able to help you with your problem.

[2019-08-12 18:21] carlossanlop commented on #3172
This issue was moved to dotnet/wpf#1603

[2019-08-12 18:21] #3172 closed

[2019-08-12 18:55] sarbjee commented on #3171
I am trying to create console application CSC(c sharp compiler) command is not found, what it means I successfully installed  .net core SDKs .

[2019-08-12 19:00] WilbertE commented on #3158
The iOS developer fixed it in the Alomfire lib. Didnt had to do with dotnet.

[2019-08-12 19:43] Jaguar-515 commented on #3171
The csc (C# complier) command is included with the Developer Command Prompt for Visual Studio. Maybe check this article out? https://docs.microsoft.com/en-us/dotnet/framework/tools/developer-command-prompt-for-vs

[2019-08-12 20:01] MikeKenyon opened #3173 "2.2.401"
[Releases.json](https://github.com/dotnet/core/blob/master/release-notes/releases.json) gets used by automated tools (in particular Azure DevOps) to enable targeting SDKs and versions.

There are pressing security faults requiring an update to account for [CVE-2019-1075](https://nvd.nist.gov/vuln/detail/CVE-2019-1075).  Please add these versions so we can force build systems to pull the latest com

[2019-08-12 21:30] carlossanlop commented on #3158
Thanks for letting us know, @WilbertE . I will closed the issue as it seems to be resolved.

[2019-08-12 21:30] #3158 closed

[2019-08-12 21:37] carlossanlop commented on #2972
2 weeks of inactivity. Closing issue. Feel free to ping us @kylepeters if you'd like to ask additional questions.

[2019-08-12 21:37] #2972 closed

[2019-08-12 21:42] carlossanlop commented on #2571
@joperezr @ericstj is this something you could look into?
Also mentioning @divega since the problem is happening in the System.Data namespace.
Note: a duplicate issue was also opened in the dotnet/standard repo, so feel free to close one of them: https://github.com/dotnet/standard/issues/1149

[2019-08-12 21:44] carlossanlop commented on #2542
@KathleenDollard @leecow is this issue still actionable or can we close it as resolved?

[2019-08-12 21:47] carlossanlop commented on #3125
@leecow @dagood is this issue still actionable or should we consider it answered so we can close it?

[2019-08-12 21:53] carlossanlop commented on #3113
@dagood @livarcocc @nguerrera do you know who can help with this?

[2019-08-12 21:53] carlossanlop commented on #3108
Closing as non-actionable due to 12 days of inactivity.

[2019-08-12 21:53] #3108 closed

[2019-08-12 21:54] #3092 closed

[2019-08-12 21:55] carlossanlop commented on #3081
@leecow is this still actionable or can we consider it answered and close it?

[2019-08-12 21:56] carlossanlop commented on #3080
The question was answered 14 days ago so I'm closing it as resolved. @Penergy feel free to ping us to reopen it if you have additional questions.

[2019-08-12 21:56] #3080 closed

[2019-08-12 21:57] carlossanlop commented on #3070
12 days of inactivity and question has been answered. Closing.

[2019-08-12 21:57] #3070 closed

[2019-08-12 21:57] #3069 closed

[2019-08-12 21:58] carlossanlop commented on #3068
21 days with no answer, pinging @leecow @richlander

[2019-08-12 21:59] carlossanlop commented on #3067
Closing due to +2 weeks of inactivity. @Kool-Koder ping us if you can provide answers for @nguerrera 's questions. We'll be happy to continue helping you.

[2019-08-12 21:59] #3067 closed

[2019-08-12 22:00] carlossanlop commented on #3058
21 days of inactivity, question seems to be resolved. Closing.

[2019-08-12 22:00] #3058 closed

[2019-08-12 22:05] joperezr commented on #2571
@yyjdelete Does your ConsoleApp5.csproj have a `PackageReference`? If not try adding the following to that project which should fix this issue:
[code]

After that, do a `msbuild CnosoleApp5.csproj /t:Restore` and `msbuild ConsoleApp5.csproj /t:rebuild` and you should see the right dependencies flowing and placed correctly. If that's not the case, ping me and I can help.

[2019-08-12 22:12] joperezr commented on #2571
This blog post contains more info on this problem and the resolution I provided above: https://www.hanselman.com/blog/ReferencingNETStandardAssembliesFromBothNETCoreAndNETFramework.aspx

[2019-08-12 22:54] dagood commented on #3125
An answer from @AlseinX to this question could spark some more discussion:

But it's been a while, and the primary question is answered. Closing.

[2019-08-12 22:54] #3125 closed

[2019-08-12 22:56] dagood commented on #3113
A quick search suggests this has to do with ASP.NET Core.

@svdemir, I'd suggest copying the text as text rather than posting a screenshot--makes it searchable, and much more readable.

[2019-08-12 22:59] dagood commented on #3173
The checked-in JSON file is obsolete: https://github.com/dotnet/announcements/issues/87. It's going to be removed very soon: https://github.com/dotnet/core/pull/3168.

/cc @leecow

[2019-08-12 23:55] sbomer commented on #3170
I think you mean "if you Publish with just PublishTrimmed=true".

[2019-08-13 00:04] nguerrera commented on #3170
Yes, edited.

[2019-08-13 00:42] yyjdelete commented on #2571
@joperezr It's not the case.
And still the same after added `<RestoreProjectStyle>PackageReference</RestoreProjectStyle>`.

net472 app
|- netstandard2.0 only library
  |- an multi target library(like dapper or your self build library, which reference nothing for net472 and System.Data.SqlClient/System.Data.Common for ns2)

So you get `System.Data.SqlClient(ns2.0)` in your ns2.0 only library with r

[2019-08-13 00:44] 15134803783 commented on #3171
I am new coder.

[2019-08-13 02:59] AlseinX opened #3175 "native library export"
# Issue Title

Be as descriptive as you can with your title.

# General

Provide details on the problem you are experiencing including the .NET Core version, operating system version and anything else that is relevant.

Please provide a code sample for your issue if it is relevant, either inline, link to a gist (or similar) or add it as a zipped attachment.

For some issues, you will get a quicker

[2019-08-13 09:40] kzish opened #3176 "Running two dotnet core apps on the same iis server kills the session of the other app"
When running two dot net core apps on the same iis server loggin into one app kills the session of the other app,

I have tried:
1) deploying both in process and out of process
2) placing them in the same app pool
3) placing them in different app pool

[2019-08-13 10:18] athinboy opened #3177 "DefineDynamicAssembly"
# Issue Title

What about   AssemblyName has to be unique when invoke   AssemblyBuilder.DefineDynamicAssembly ?

# General

Now there is a error:
CS7069: Reference to type ****** claims it is defined in '****', but could not be found

[2019-08-13 10:20] athinboy commented on #3177
[https://developercommunity.visualstudio.com/storage/temp/87898-vs.png](url)

[2019-08-13 10:20] athinboy commented on #3177
https://developercommunity.visualstudio.com/storage/temp/87898-vs.png

[2019-08-13 11:07] FWorren opened #3178 "Azure scale out and IHostedService"
What happens when adding singleton IHostedServices to DI when scaling out the app service to multiple instances in Azure? Will all new instances initiate a new hosted service each? Or will the hosted service run as a shared single process between the app instances?

[2019-08-13 13:08] ltouro commented on #3178
I think DI is local to the process. The WebJobs SDK, which plays nicely with App Service, has features to enable singleton feature for multi-process env. It uses a Storage Account to keep track (locks) of running processes

[2019-08-13 14:28] dehghani-mehdi commented on #3170
@nguerrera thank you for your great answer, now inside `publish` directory, I have my exe file and 240 dll files (~61MB) and also `refs` folder, contains 160 dll files (~5MB), what is `refs` doing here?

And another question, all I got in publish folder (`.dll`, `.pdb`, `.md`, `.json`) will be included in the final exe file? (when using `PublishSingleFile=true`), if so, is there any way to drop th

[2019-08-13 14:47] dehghani-mehdi opened #3179 "[Q] Is there any plain to reduce final exe file, compare to other languages, e.g Go?"
Hi,

_Thank you for dot net core, specially v3._

The final output of dot net core app, e.g hello-world, is really big, _[for hello world is currently 23MB](https://github.com/mono/linker/blob/master/src/ILLink.Tasks/README.md)_, is there any plain to reduce the size?

For example the final exe of [hugo](https://github.com/gohugoio/hugo) is ~35MB, it contains huge list of features, I think same ap

[2019-08-13 14:57] HughGrovesArup opened #3180 "Errors after publish"
I have a solution containg three projects, two netstandard2.0 class libraries, and a netcoreapp2.2 testing library.

Before publishing I had no problems in my workspace (as reported by VS Code / omnisharp). After publishing a MyTestLibrary.Program.cs file is created in MyTestLibrary > obj > release > netcoreapp2.2.

The contents of this file are:

[code]

And now omnisharp throws a lot of frustrat

[2019-08-13 15:27] HughGrovesArup commented on #3180
For anyone else having this issue you can configure omnisharp to ignore the problem folders which resolved my issue https://github.com/OmniSharp/omnisharp-roslyn/wiki/Configuration-Options#file-options

[2019-08-13 15:27] #3180 closed

[2019-08-13 15:29] MikeKenyon commented on #3173
Thank you for the information!!!!!!!

________________________________
From: Davis Goodin <notifications@github.com>
Sent: Monday, August 12, 2019 5:00 PM
To: dotnet/core <core@noreply.github.com>
Cc: MikeKenyon <kiltsarebreezy@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [dotnet/core] 2.2.401 (#3173)

The checked-in JSON file is obsolete: dotnet/announcements#87<https://nam02.saf

[2019-08-13 15:32] MikeKenyon commented on #3173
Hi,

Looking at this, it's looking like the schedule is have removed it 5 months ago.  Given that there's a medium-level security hole in Core that is being blocked in many automated builds because this isn't done and the old file isn't being kept up, is there a schedule on when one of these is going to happen?

Mike

________________________________
From: Davis Goodin <notifications@github.com>
S

[2019-08-13 15:37] joperezr commented on #2571
Can you share an binlog of your build so that we can investigate a bit more? to produce a binlog run the following command on a developer command prompt: `msbuild yourSolution.sln /t:rebuild /bl` which will generate a msbuild.binlog file. Paste that here so that we can take a look and figure out what is wrong.

[2019-08-13 16:08] sandord opened #3181 ".NET Core 3.0 Preview 7 SDK install completes within a second but does nothing"
I'm on Windows 10 Pro 1903. I had .NET Core 3.0 Preview 7 SDK installed but I had a problem with the (`ef`) tool being stuck on version 2.2 and it didn't want to update nor uninstall. So I decided to uninstall the 3.0 Preview 7 SDK.

Now I'm having the problem that I can't install it again. The installer says the installation is succesful after only doing a second of work and nothing happens reall