[2019-03-27 21:31] leecow commented on #2505
@terrajobst @danmosemsft

[2019-03-27 21:32] leecow commented on #2493
Did you use the installer? Type `path` at the command prompt and see if `C:\Program Files\dotnet\` is included in the list.

[2019-03-27 21:32] leecow commented on #2494
Can you share the output of `cat /etc/os-release`? Here's what I see on a fresh image ...

[code]

[2019-03-27 21:34] leecow commented on #2502
I'm sure we'll need quite a bit more info to be able to help. Also, 2.0 is out of support so you should strongly consider moving to 2.1 (LTS) or 2.2.

@dougbu @Eilon

[2019-03-27 21:46] leecow commented on #2503
We have been shipping Linux ARM64 binaries since [2.1.0](https://dotnet.microsoft.com/download/dotnet-core/2.1). @MichaelSimons for info on ARM64 images.

[2019-03-27 21:49] Eilon commented on #2502
@salahrzzaz if you can share an app on GitHub that reproduces this issue, plus tell us the exact error(s) and logs, we can take a look.

[2019-03-27 21:51] halter73 commented on #2411
A quick search of "An attempt was made to access a socket in a way forbidden by its access permissions" brings up [this technet answer](
https://social.technet.microsoft.com/Forums/windows/en-US/e0cc1b3e-2c63-451a-abc8-8e1e66a23287/an-attempt-was-made-to-access-a-socket-in-a-way-forbidden-by-its-access-permissions?forum=w7itpronetworking&prof=required) which recommends the following:

@AndyFVesper

[2019-03-27 21:53] leecow commented on #2497
Do you want to run the 3.0 Preview or a production release? How did you install and remove the Preview?

Our recommendation for Previews is to use our [Snap installer](https://github.com/dotnet/core/blob/master/release-notes/3.0/preview/3.0.0-preview3-download.md).

[2019-03-27 21:56] halter73 commented on #2411
You could also try running `netstat -a -b` to make sure no other processes are using port 5000. If that were the case, I would expect an AddressInUseException.

[2019-03-27 22:16] MichaelSimons commented on #2503
See the [.NET Core Runtime ARM64 Status](https://github.com/dotnet/announcements/issues/82) for details.

[2019-03-27 22:17] leecow commented on #2412
Confirmed - @dougbu @Eilon

[2019-03-27 22:24] leecow commented on #2512
So you're trying to build the CLI (git clone https://github.com/dotnet/cli.git)?

[2019-03-27 23:31] Alkaris commented on #2512
Trying to build core and the cli

[2019-03-28 00:06] RobSeder commented on #2486
## Workaround

I'm OP for this issue. I just worked around it. Using the troubleshooting from the previous Ubuntu version worked:

I did the `--purge` and the `-i` again and everything worked.

I didn't close this issue because it's still present, but above is a workaround.

[2019-03-28 00:25] vindicatorr opened #2514 "ResourceManager Fails With Underscore_ In The BaseName"
# General
Version:
Arch Linux dotnet 2.2.3+105 = dotnet --version 2.2.105
[resourceManager.tar.gz](https://github.com/dotnet/core/files/3015719/resourceManager.tar.gz)

I was trying to go through https://docs.microsoft.com/en-us/dotnet/api/system.resources.resourcemanager?view=netcore-2.2 (saved as a pdf) to experiment with localization... It did NOT go well.

I swore I had things right and tried

[2019-03-28 01:35] xqrzd commented on #2505
Windows services are supported in .NET Core currently, just pull in the nuget package System.ServiceProcess.ServiceController. There's also Microsoft.Extensions.Hosting.WindowsServices, that you can use to run the new .NET generic host as a windows service.

[2019-03-28 01:59] ndkk opened #2515 "Command 'scl' not found"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: Linux RHEL - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

====================================================
root@ubuntu:~# uname -a
Linux ubuntu 4.18.0-15-gene

[2019-03-28 02:24] danmosemsft commented on #2505
The answer above is correct. Please reopen if you have difficulty (or in the dotnet/corefx repo(

[2019-03-28 02:43] #2505 closed

[2019-03-28 02:44] ndkk commented on #2515
sorry, I made a mistake for choosing os (ubuntu 18.04).
Now I made it.

[2019-03-28 04:16] NicolasDorier commented on #2503
Ok so if I understand, support for ARM64 has been done in 2.1 but is not maintained, which is why no docker image are provided.

[2019-03-28 04:16] #2503 closed

[2019-03-28 07:01] ashilshah commented on #2493
Got it.... Thanks.... My Bad, I was just looking till Program Files only.

[2019-03-28 08:39] anlarini commented on #2492
I’m really not sure how to use this but I’m dying to learn. What exactly is a repository and where are these commands and/or repos activated? In the url ??

[2019-03-28 08:55] mastbit opened #2516 "Unable to locate package dotnet-sdk-2.2 E: Couldn't find any package by glob 'dotnet-sdk-2.2' E: Couldn't find any package by regex 'dotnet-sdk-2.2'"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu16-04/sdk-current
Operating System: Linux Ubuntu 16.04 - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-03-28 13:21] MichaelSimons commented on #2503
That is correct for the most part except instead of saying `2.1 but is not maintained` I would classify it as `community supported`.  Regardless, waiting for 3.0 when it is officially supported is what most customers want.

[2019-03-28 13:50] AndyFVesper commented on #2411
@halter73 Yes, I disabled Norton and tried again, with the same result.
netstat -a -b reports, in part:
  TCP    0.0.0.0:5000           sardines:0             LISTENING
 Can not obtain ownership information
  TCP    0.0.0.0:5001           sardines:0             LISTENING
  EventLog
 [svchost.exe]
  TCP    0.0.0.0:5002           sardines:0             LISTENING
  Schedule
 [svchost.exe]
  TCP    0.

[2019-03-28 15:50] leecow commented on #2516
We'll need detailed information on how you attempted to install. Feel free to re-open this issue when that info is available.

[2019-03-28 15:50] #2516 closed

[2019-03-28 15:51] #2515 closed

[2019-03-28 15:53] leecow commented on #2512
@livarcocc @nguerrera for ideas.

[2019-03-28 16:40] livarcocc commented on #2512
Which distro are you trying to build for? Which command are you using to build?

[2019-03-28 18:49] halter73 commented on #2411
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel?view=aspnetcore-2.2#endpoint-configuration

[2019-03-28 21:19] acesnik opened #2517 "dotnet installation on WSL ubuntu 14.04 doesn't work"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu14-04/sdk-current
Operating System: Linux Ubuntu 14.04 - x64

Hi there, I'm running Windows 10 Education (version 1809) with WSL and Ubuntu enabled. I'm trying to install dotnet in that environment, and I'm running into trouble using the above script from Microsoft, as well as less official scripts from Stack

[2019-03-28 21:21] acesnik commented on #2517
The goal here is to run a C# module using snakemake within the ubuntu environment. I can't really do that without dotnet installed.

[2019-03-28 21:38] Eilon commented on #2412
@danroth27 - can you take a look?

[2019-03-28 21:41] acesnik opened #2518 "Request: conda package for `dotnet` executable"
Installation of mono using the conda package manager is easy (https://anaconda.org/conda-forge/mono). But there doesn't appear to be a dotnet package in conda. This would make using C# dotnetcore projects in analysis pipelines easier.

[2019-03-28 22:44] terieyenike opened #2519 "The path to an application .dll file to execute."
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: macos

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-03-28 22:50] glennc commented on #2480
@amercehic Did you run the command to create the resource group first? `az group create --name myMicroserviceResources --location <location>`

[2019-03-28 23:14] danroth27 commented on #2412
This is expected with .NET Core 3.0. Starting with .NET Core 3.0 we no longer enable runtime compilation of pages or views by default: https://github.com/aspnet/Announcements/issues/343. You can add back runtime compilation support by adding the appropriate package. Once we ship .NET Core 3.0 we will need to update this content.

@rowanmiller

[2019-03-28 23:14] #2412 closed

[2019-03-28 23:36] nkev commented on #2412
I expect a lot of people will be unhappy about that default development experience.

[2019-03-28 23:44] nkev commented on #2412
Anyway, tutorial still needs to be edited:

![image](https://user-images.githubusercontent.com/5410916/55199760-39d8b000-520f-11e9-952f-2410463cee69.png)

It needs to say, "Save the file, stop the app, recompile the app and run it again to see the change" :)

[2019-03-28 23:45] danroth27 commented on #2412
@nkev Right, the tutorial steps are currently written for 2.2, which the latest shipped version. Once we ship 3.0 later this year will look at updating this content.

[2019-03-29 00:24] oliverjanik commented on #897
What's the status on Go To Definition that downloads the sources ? Where is that feature tracked?

Resharper has had for a decade.  It's extremely useful to be able to peek inside a method you're calling to get a clarification on assumption. I feel like i'm flying blind without this.

[2019-03-29 00:27] Pilchie commented on #897
@sharwell / @jinujoseph I believe you have an issue for that on https://github.com/dotnet/roslyn ?

[2019-03-29 00:28] oliverjanik opened #2520 "Net Core documentation should link to source code"
When I go to eg: https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.builder.mvcapplicationbuilderextensions.usemvcwithdefaultroute?view=aspnetcore-2.2

it would be *very* handy to be able to quickly navigate to the source code of that particular class/method on github at a specific release tag.

Apologies if this is not the right repo.

[2019-03-29 00:33] oliverjanik commented on #897
I found the issue: https://github.com/dotnet/roslyn/issues/24349 seems there's very little progress, unfortunately. At least the outlined steps are exactly what's needed.

[2019-03-29 01:03] karelz commented on #2520
@mairaw is it something the docs team did consider?

[2019-03-29 01:04] karelz commented on #2520
docs repo is probably better place ...

[2019-03-29 01:07] karelz commented on #2519
Not enough info. If you have detailed description, please paste it here.
Also, try new donwload / another machine if you can.

[2019-03-29 01:07] #2519 closed

[2019-03-29 01:09] karelz commented on #2518
What is conda package manager?
@leecow is it anything on our roadmap?

[2019-03-29 01:10] karelz commented on #2517
@leecow any thoughts?

[2019-03-29 01:15] Alkaris commented on #2512
Trying to compile on Linux for the dotnet cli

[2019-03-29 01:15] karelz commented on #2492
@anlarini are you familiar with GitHub and its workflows? What exactly is the problem you encountered?

[2019-03-29 01:17] karelz commented on #2493
I assume this is answered then. Closing

[2019-03-29 01:17] #2493 closed

[2019-03-29 01:28] acesnik commented on #2518
It's a package, dependency and environment management for any language—Python, R, Ruby, Lua, Scala, Java, JavaScript, C/ C++, C#, FORTRAN. https://conda.io/en/latest/#

It's used a lot in bioinformatics, at the very least.

[2019-03-29 01:33] karelz commented on #2518
Why should we support it over other package managers? https://en.wikipedia.org/wiki/List_of_software_package_management_systems

[2019-03-29 01:42] mairaw commented on #2520
Yeah, this was discussed at https://github.com/MicrosoftDocs/feedback/issues/433

Here's the response from the engineering team:
https://github.com/MicrosoftDocs/feedback/issues/433#issuecomment-411228539

[2019-03-29 01:43] #2520 closed

[2019-03-29 01:45] acesnik commented on #2518
I can't speak to its utility over other package managers, but it's frequently used in data science, so it would allow tools written in C# against .NET Core to be used like any other python/C++/java program in our pipelines.

[2019-03-29 02:48] jinujoseph commented on #897
@oliverjanik, yes thatz the right tracking bug, do you mind upvoting the issue (if you have not already)
Hopefully we will take a look at it soon.

[2019-03-29 03:42] livarcocc commented on #2512
Which kind of linux are you build for? What command are you using to try and build the cli?

[2019-03-29 03:52] Alkaris commented on #2512
Linux Mint 19.1, and I'm just using the scripts that come in the git repo the `./build.sh` and tried using `./run-build.sh`

[2019-03-29 05:10] m1l commented on #1995
This issue has been plaguing all my WPF software since .NET 4.x. Is it possible to apply the solution to WPF?

[2019-03-29 10:00] salahrzzaz commented on #2502
ok I will share app code and logs but last error come before service crash timeout exception with mongo database

[2019-03-29 10:07] saxenark commented on #2508
@richlander, @karelz
I am waiting for some direction on how to port my .net framework code which uses C++/CLI to .net core on Linux. Let me know if I can provide any additional inputs

[2019-03-29 11:16] karelz commented on #1995
@m1l I believe this was specific to .NET Core. I recommend to raise the question with details (like repro) on WPF repo.

[2019-03-29 11:21] karelz commented on #2512
Is it final & released version of Linux? I don't see it in supported OS matrix: https://github.com/dotnet/core/blob/master/release-notes/3.0/3.0-supported-os.md
cc @leecow

[2019-03-29 13:18] mabead commented on #1968
I recently tried to optimize (or at least analyze) the cold start of .NET Core / ASP.NET Core lambda but I had to come to the sad conclusion that we have to expect at least 3 seconds of cold start for an ASP.NET Core lambda with 256 MB of RAM. As said by others, tiered compilation did not help significantly. Look [here](https://medium.com/@beaudry.maxime/the-sad-truth-about-aws-lambda-cold-starts-

[2019-03-29 13:56] Alkaris commented on #2512
it's right there on that list, Linux Mint.

[2019-03-29 14:17] karelz commented on #2512
@Alkaris sorry, I meant version 19+. The matrix has "just" version 18.

[2019-03-29 14:29] kasman007 opened #2521 "Installing .net core 2.2 on Kali Linux"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/debian9/sdk-current
Operating System: Linux Debian 9 - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

The following packages have unmet dependencies:
 dotnet-sdk-2.2 : Depends: aspnetcore-runti

[2019-03-29 15:00] karelz commented on #2521
@dagood can you pelase help here?

[2019-03-29 15:11] dagood commented on #2521
Sure. Kali Linux isn't a supported distro, but there are ways to get this to work--see https://github.com/dotnet/core/issues/2392:

[2019-03-29 15:25] karelz commented on #2521
Closing as addressed then.
THanks @dagood!

[2019-03-29 15:25] #2521 closed

[2019-03-29 16:35] leecow commented on #2518
An interesting idea but not something that's on our roadmap. This would be a great opportunity for a community solution, which is how we are included in Homebrew.

[2019-03-29 16:49] Alkaris commented on #2512
there isn't much difference between LM 19 and LM 18, it uses Bionic Beaver as it's base packages which is Ubuntu 18.04's main packages, while LM19's main package sources is Tessa, it always gets previous package sources of previous versions they were based on.

[2019-03-29 17:00] leecow commented on #2517
I don't see 14.04 on the Store any longer so can't test this directly. Can you run the following? This will tell us exactly which dependency is not being found.

`sudo apt install dotnet-runtime-deps-2.2`

[2019-03-29 17:03] leecow commented on #2512
@karelz @livarcocc  I would expect Linux Mint 19 to be functionally identical to 18.04.

[2019-03-29 17:06] dgxhubbard opened #2522 "Support WCF server in .net core"
I am asking that the .net core team add WCF server support to .net core. I have been looking for the last year and half for this support and checked out the alternatives. The latest I have reviewed is grpc dotnet, which hail back to the days of creating messages in the early 90s. I don't want to provide the message structures to define an rpc. I want to hand the interface and let the software figu

[2019-03-29 18:36] karelz commented on #2522
gRPC is the officially supported RPC solution on .NET Core (or will be soon in 3.0 time frame).

@glennc do we have official answer for WCF server yet?

[2019-03-29 18:36] karelz commented on #2522
Duplicate of https://github.com/dotnet/wcf/issues/1200

[2019-03-29 18:36] #2522 closed

[2019-03-29 18:37] karelz commented on #2518
Seems to be answered, closing.

[2019-03-29 18:37] #2518 closed

[2019-03-29 18:55] livarcocc commented on #2512
@Alkaris can you share test logs and build logs with us for us to further investigate what is going on? Just the errors you showed above is not really enough information for us to understand what is going on.

[2019-03-29 18:56] dgxhubbard commented on #2522
I realize this is a duplicate of [dotnet/wcf#1200](https://github.com/dotnet/wcf/issues/1200) but the question of some simplified replacement for server side wcf should not be closed. I have opened a similar question of grpc [grpc-dotnet](https://github.com/grpc/grpc-dotnet/issues/189). RPC is a ground up rebuild and really not a good one. Trying to find some middle ground to make porting easier w

[2019-03-29 19:07] dgxhubbard commented on #2522
As a note saying that grpc dotnet is not a good solution is not a comment on the developers of grpc dotnet. They were given a task of building grpc on .net. I question the choice of grpc as the solution to the problem. Given some way of taking an interface and creating a proxy and a service endpoint purely in code is what I would like as the solution. Using the WCF API is one approach that minimiz

[2019-03-29 23:05] acesnik commented on #2517
![image](https://user-images.githubusercontent.com/16342951/55266903-88507380-523c-11e9-8a6d-7a995beaad29.png)

[2019-03-29 23:26] kasman007 commented on #2521
Thank you. Appreciate it!

On Fri, Mar 29, 2019 at 11:27 AM Karel Zikmund <notifications@github.com>
wrote:

[2019-03-30 03:13] Alkaris commented on #2512
Created a Gist of the output, too big to post it all here.

https://gist.github.com/Alkaris/ab1132d105403193cea39cabc2a51a77

[2019-03-30 07:37] rsmmukesh opened #2523 "Controller not hitting and request pending , no response from server"
**Controller not hitting and request pending , no response from server**

Please check the below application.

Run the application you will get home page, i have placed a file uploader and submit button in form. and i have index post method in home controller. submit the form without selecting the file. then controller not hitting and request pending for long time. No result coming back from serve

[2019-03-30 16:24] genifycom opened #2524 "Publish is frequently getting Access denied to different files"
# Issue Title
dotnet publish is getting access to the path denied on different files each time it is run

# General
During a
dotnet publish -c Release -r win-x64
the publish is failing due to access to the path denied. The specific file changes each time dotnet publish is run. This project has a main asp.net application that references 7 class libraries in separate projects. All projects are set t

[2019-03-30 16:27] genifycom commented on #2524
This one is also very common (i.e. failed to write to csproj.FileListAbsolute.txt). Diagnostics provides no additional information.

C:\Program Files\dotnet\sdk\2.2.105\Microsoft.Common.CurrentVersion.targets(5106,5): error MSB3491: Could not write lines to file "obj\Release\netcoreapp2.1\win-x64\BVTagging.csproj.FileListAbsolute.txt". The process cannot access the file '...\BVTagging\obj\Release\

[2019-03-30 16:39] genifycom opened #2525 "dotnet publish is picking up other projects dotnet framework"
# Issue Title

dotnet publish fails to publish to 2.1 with faulty reference to 2.2

# General

I am publishing a project to AWS Lambda that requires netcoreapp2.1
The csproj that is being published (BVTagging) uses <TargetFramework>netcoreapp2.1</TargetFramework> as does all of its referenced class libraries.

In the same solution is a standalone project (BVSynchronizationLocalService) that uses <

[2019-03-30 17:07] karelz commented on #2525
Is it specific to AWS Lambda publishing or general publish command?
Are you able to reproduce it in minimal repro? I.e. simple solution with 2 HelloWorld projects targetting 2.1 and 2.2.
I assume as a temporary workaround you can have 2 different solutions ...

[2019-03-30 17:13] karelz commented on #2524
Is it a problem specific to your solution, or are you able to reproduce it on small solution / repro as well?

Antiviruses are often known to lock files, can you check if that is the case for you? Windows tool to check is e.g. Process Monitor: https://docs.microsoft.com/en-us/sysinternals/downloads/procmon

[2019-03-30 17:13] SvenjaReissaus commented on #2494
I am having the same issue here, there's a higher version of libicu already installed:
`$ zypper install libicu`
[code]
Made a clean install of openSUSE Leap 15.0:
`$ cat /etc/os-release`
[code]
And the repository search:
`$ zypper search libicu`
[code]

[2019-03-30 17:15] genifycom commented on #2524
Thanks karlz. Not running any anti virus. Standard Windows development environment. I will try to reproduce on something smaller. But this is getting critical to production.

This one is also very common:

... publish: C:\Program Files\dotnet\sdk\2.2.105\Microsoft.Common.CurrentVersion.targets(2110,5): warning MSB3088: Could not read state file "obj\Debug\netcoreapp2.1\BVData.csprojAssemblyReferen

[2019-03-30 17:17] karelz commented on #2523
Can you try to minimize the repro - find out which part breaks, follow tutorials (does HelloWorld work for you?) and check your machine setup (doe it fail on brand new VM or another machine?)

[2019-03-30 17:19] karelz commented on #2524
@genifycom try a small HelloWorld. If that works, chop off pieces of your projects to find out what triggers it.
Try it on brand new VM to see if it is one machine problem, or general problem with your solution.

If it is critical for your production, then I recommend to try lots of things in parallel to narrow down what is the problem.

[2019-03-30 17:24] karelz commented on #2494
@tarekgh @janvorli any thoughts or advice?

[2019-03-30 17:33] karelz commented on #2164
@JeremyKuhne what is your suggestion? Should we file CoreFX issue to improve it?

[2019-03-30 17:36] karelz commented on #2226
Agreed, we need to be comparing same amount of work on both systems. Otherwise, it is not a bug, but likely by design difference in workload.

[2019-03-30 17:37] karelz commented on #2283
@jeffschwMSFT can someone please check it out?

[2019-03-30 17:39] karelz commented on #2324
@ahmedowsky any udpate?
If you don't have time now, that is ok. I would suggest to close the issue, until there is additional actionable information, then we can reopen it again.
What do you think?

[2019-03-30 17:46] karelz commented on #2332
@ahmedowsky it seems that @omajid is waiting on your response here - or did I miss something?

[2019-03-30 18:04] karelz commented on #2357
What's the next step here?
cc @tarekgh @janvorli

[2019-03-30 18:06] karelz commented on #2382
Closing as not actionable.
If you have additional details, feel free to reopen.

[2019-03-30 18:06] #2382 closed

[2019-03-30 18:07] genifycom commented on #2525
Hi karelz thanks for the response. I can reproduce this in dotnet publish outside of AWS publish so yes it seems to be a dotnet publish issue. My current workaround is to unload the 2.2 project to publish so I can workaround this one.

[2019-03-30 18:07] karelz commented on #2385
Not actionable, no response - closing. If you have more details later, feel free to reopen

[2019-03-30 18:07] #2385 closed

[2019-03-30 18:08] karelz commented on #2374
@richlander @martinwoodward @terrajobst @leecow ping again ... almost 4 weeks no response ...

[2019-03-30 18:09] karelz commented on #2417
No additional info, not actionable, closing. Feel free to reopen if there is more info.

[2019-03-30 18:09] #2417 closed

[2019-03-30 18:11] karelz commented on #2420
@PhantomXL did you get a chance to try it?

[2019-03-30 18:12] karelz commented on #2425
Not enough info, not actionable, closing. Feel free to reop when you have additional details.

[2019-03-30 18:12] #2425 closed

[2019-03-30 18:12] karelz commented on #2472
Not enough info, not actionable, closing. Feel free to reopen when there is more details available ...

[2019-03-30 18:12] #2472 closed

[2019-03-30 18:14] karelz commented on #2477
Not actionable, not enough info. Feel free to reopen when there is additional info available. Thanks!

[2019-03-30 18:14] #2477 closed

[2019-03-30 18:14] karelz commented on #2486
So what is the next step here? What has to change where?
cc @dagood

[2019-03-30 18:19] karelz commented on #2512
@nguerrera can you please help while @livarcocc is on vacation?

[2019-03-30 18:21] karelz commented on #2496
@rakesh4951 what is the command you run?
Did you check your OS? Did you try another (brand new) VM to avoid firewall and other VM-setup-specific problems?

[2019-03-30 18:23] karelz commented on #2491
[Translation](https://www.bing.com/translator?ref=TThis&&text=%D0%9D%D0%B5%D0%BE%D0%B1%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0%D0%BD%D0%BD%D0%BE%D0%B5%20%D0%B8%D1%81%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5%20%D1%82%D0%B8%D0%BF%D0%B0%20%22System.BadImageFormatException%22%20%D0%B2%20%D0%9D%D0%B5%D0%B8%D0%B7%D0%B2%D0%B5%D1%81%D1%82%D0%BD%D1%8B%D0%B9%20%D0%BC%D0%BE%D0%B4%D1%83%D0%BB%D1%8C.%0ACoul

[2019-03-30 18:24] karelz commented on #2491
@1devill it looks like corrupted install, or something. Can you please try on another machine/VM?
Or just create new application and try that one.

[2019-03-30 18:28] karelz commented on #2487
@nguerrera can you please help me route this problem?

[2019-03-30 18:30] karelz commented on #2483
@DweeberlyLoom how did you install the SDK?
Is it maybe some weird machine setup? Can you try it on clean VM/another machine to see if it is one machine problem or general problem? Thanks!

[2019-03-30 18:30] karelz commented on #2483
cc @dagood

[2019-03-30 18:31] karelz commented on #2476
@tarekgh do you know how to send/report the bug to Windows?

[2019-03-30 18:32] rsmmukesh commented on #2523
Hi, the attached is the smallest application
. it has only one controller and 1 action.. "hello world" is working fine and all other things are working. but the situation is.. when i have file uploader in the form and trying to bind to modal the request not hitting the controller and no response from server .. browser keep loading always.

please download the attached file and run the application.

[2019-03-30 18:33] karelz commented on #2473
OK, seems to be user error. Closing. Let us know if that is not the case.

[2019-03-30 18:33] #2473 closed

[2019-03-30 18:34] karelz commented on #2471
@peterhuene can you please help here? What is the next step?

[2019-03-30 18:34] rsmmukesh commented on #2523
The problem is not only in .net core asp. in .net core web api also not working  in same case.
i have checked in multiple machines.

[2019-03-30 18:36] karelz commented on #2263
Closing as Preview 3 shipped - see #2389

[2019-03-30 18:36] #2263 closed

[2019-03-30 18:37] karelz commented on #2119
Closing as newer updates shipped - see #2304 and #2432

[2019-03-30 18:37] #2119 closed

[2019-03-30 18:37] karelz commented on #2304
Closing as newer updates shipped - see #2432

[2019-03-30 18:37] #2304 closed

[2019-03-30 18:38] karelz commented on #1986
Closing as it seems to be in place by now.

[2019-03-30 18:38] #1986 closed

[2019-03-30 18:39] karelz commented on #2460
Seems to be answered above. Closing.

[2019-03-30 18:39] #2460 closed

[2019-03-30 18:41] karelz commented on #2461
Is there still a problem to resolve in VS 2019 for Mac? Or does the last reply mean there is a way to resolve it?
cc @mhutch

[2019-03-30 18:43] karelz commented on #2502
@salahrzzaz try to create repro with least external dependencies - if the problem is Mongo database itself (or some library for interop with it), this may not be the right place to report the problem ...

[2019-03-30 18:43] karelz commented on #2511
@leecow @dagood any thoughts?

[2019-03-30 18:45] karelz commented on #2513
That is by design at the moment - https://apisof.net/catalog/System.Web.UI.DataVisualization.Charting
@Eilon any thoughts on future addition of the namespace into .NET Core? Is there ASP.NET issue tracking its addition?

[2019-03-30 18:46] karelz commented on #2513
cc @terrajobst

[2019-03-30 18:47] karelz commented on #2514
@tarekgh @krwq can you please help here? (or point to best routing place?) Thanks!

[2019-03-30 18:48] karelz commented on #2448
Do you have a small repro we could try?

@leecow @dagood any idea where/how to route it?

[2019-03-30 18:49] karelz commented on #2443
@nguerrera any idea where to route it?

[2019-03-30 18:51] karelz commented on #2416
@dagood @tarekgh can you help route it please? Is it dupe of the other libicu57 problems I have seen here?

[2019-03-30 18:51] karelz commented on #2383
Not acitonable, not enough info, closing. Feel free to reopen once there is more details ...

[2019-03-30 18:51] #2383 closed

[2019-03-30 18:53] karelz commented on #2525
OK, can you create and share a minimal repro then please?

[2019-03-30 19:06] peterhuene commented on #2471
I'm unable to reproduce the problem on my Arch system.  The contents of the linked zip look correct; `createdump` is present.  I'm able to run the `Nethermind.Runner` apphost without issue.

I don't see anything leaping out to me as incorrect in the deps file.

@tkstanczak do we have any additional information from the user?

[2019-03-30 19:14] JordanPritt commented on #2461
I'm experiencing the same issue. Unless you completely remove the core 3.0 preview SDK, all .NET core projects stop building on either version of VS for Mac.

[2019-03-30 20:00] SvenjaReissaus commented on #2494
Perhaps this workaround from https://github.com/dotnet/core-setup/issues/4413#issuecomment-417505779 is one you could take a look at. I didn't tried it, as I installed ignoring the warning (yet it does not seems to break nor print warnings) but I'll give it a try.

`$ dotnet --info`
[code]

[2019-03-30 20:46] sergiotapia commented on #2460
So what is the solution here?

[2019-03-30 20:53] oliverkane opened #2526 "Linux Ubuntu 19.04 support"
Linux Ubuntu 19.04 beta is out.  Consider this a request to add this as an option for package sources, instructions how to wander into the unsupported world, or a reminder to add that option after it comes out of beta.

[2019-03-30 21:28] PhantomXL commented on #2420
I tried on a different machine, but I didn't get a chance to try a VM yet. I encountered the same problem.
________________________________
Από: Karel Zikmund <notifications@github.com>
Στάλθηκε: Σάββατο, 30 Μαρτίου 2019 8:12 μμ
Προς: dotnet/core
Κοιν.: PhantomX; Mention
Θέμα: Re: [dotnet/core] dotnet run error in powershell, after .NET SDK installation. (#2420)

@PhantomXL<https://github.com/Phan

[2019-03-30 21:59] karelz commented on #2526
I don't think it makes sense to track each missing OS in this repo. Ubuntu is supported, latest version will be also supported once it is released.
Cc @leecow

[2019-03-30 21:59] #2526 closed

[2019-03-30 22:02] karelz commented on #2420
If you can reproduce on multiple machines, can you please share here EXACT steps you're doing?

[2019-03-30 22:48] PhantomXL commented on #2420
Once I get the chance, I'll send some screenshots.
________________________________
From: Karel Zikmund <notifications@github.com>
Sent: Sunday, March 31, 2019 12:03:16 AM
To: dotnet/core
Cc: PhantomX; Mention
Subject: Re: [dotnet/core] dotnet run error in powershell, after .NET SDK installation. (#2420)

If you can reproduce on multiple machines, can you please share here EXACT steps you're doing

[2019-03-31 00:01] aaronmbos commented on #2461
I'm no longer receiving the same error that I started this issue with.  I'm now seeing the error below when I try to build.
Error: The version of the .NET Core SDK currently installed (/usr/local/share/dotnet/sdk/3.0.100-preview3-010431/Sdks) is not supported and continuing to use it may result in a broken tooling experience.

[2019-03-31 00:03] karelz commented on #2420
Commands and results will be better - they are also searchable 😉

[2019-03-31 00:05] karelz commented on #2461
@JordanPritt any idea why is your experience different from @aaronmbos ?

[2019-03-31 05:20] NextTurn commented on #2374
;)

[2019-03-31 09:39] PhantomXL commented on #2420
Ok. Fair enough.

Αποκτήστε το Outlook για Android<https://aka.ms/ghei36>

________________________________
From: Karel Zikmund <notifications@github.com>
Sent: Sunday, March 31, 2019 2:04:03 AM
To: dotnet/core
Cc: PhantomX; Mention
Subject: Re: [dotnet/core] dotnet run error in powershell, after .NET SDK installation. (#2420)

Commands and results will be better - they are also searchable 😉

—
Yo

[2019-03-31 09:40] PhantomXL commented on #2420
Ok. Fair enough.

From: Karel Zikmund <notifications@github.com>
Sent: Sunday, March 31, 2019 12:04:03 AM
To: dotnet/core
Cc: PhantomX; Mention
Subject: Re: [dotnet/core] dotnet run error in powershell, after .NET SDK installation. (#2420)

Commands and results will be better - they are also searchable 😉
—
You are receiving this because you were mentioned.
Reply to this email directly, view it on

[2019-03-31 12:20] Spelt commented on #1541
@richlander

Hi,

It is almost a year since I started this thread.  Is there any progress on the matter?

Sincerely,
Edward

[2019-03-31 16:25] tarekgh commented on #2476
I have reported the issue to Windows team.

@yanbu0 if you want to track the issue with Windows team, please report it through Windows 10, you can just click the search on the task bar and then type "Feedback Hub" and then open it and report the issue.

per that, I am going to close this issue here as there is no action from .NET side.

[2019-03-31 16:25] #2476 closed

[2019-03-31 16:42] tarekgh commented on #2416
CC @rakeshsinghranchi may help here I think. should such issues be moved to core-setup repo?

[2019-03-31 16:44] tarekgh commented on #2357
CC @rakeshsinghranchi

[2019-03-31 16:49] tarekgh commented on #2494
CC @rakeshsinghranchi

Why we have hard dependency on ICU 52? if the system already have any more recent version of ICU, we should be ok. it looks the package dependency should get fixed.

[2019-03-31 19:22] FireTao1 opened #2527 "MyStart"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/rhel/sdk-current
Operating System: Linux RHEL - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-03-31 20:27] karelz commented on #2527
What's the problem you're facing?

[2019-03-31 22:56] karelz commented on #2494
@tarekgh note that @rakeshsinghranchi's responsibilities in the space were transfered to @dagood

[2019-03-31 22:57] karelz commented on #2357
cc @dagood instead of @rakeshsinghranchi

[2019-03-31 22:58] karelz commented on #2416
cc @dagood instead of @rakeshsinghranchi (the ownership was transfered in January)

[2019-03-31 23:01] mhutch commented on #2461
See https://github.com/dotnet/core/issues/2460#issuecomment-476713465

[2019-03-31 23:11] JordanPritt commented on #2461
@karelz I’m not certain what you’re asking. Could you elaborate please? Thanks

[2019-04-01 00:13] tarekgh commented on #2494
thanks @karelz for the info. @dagood may help then here. should this be moved to core-setup?

[2019-04-01 01:02] karelz commented on #2461
@JordanPritt it is unclear if there is anything left to address and if everyone is seeing the same problems.

[2019-04-01 01:04] karelz commented on #2461
Duplicate of #2460

[2019-04-01 01:04] #2461 closed

[2019-04-01 04:08] Eilon commented on #2513
Most of what's in that namespace are ASP.NET Web Forms control, so even if they were available in .NET Core, you couldn't use them in ASP.NET Core because there's no Web Forms. But someone could try building some new components based on the existing charting rendering logic. Not a trivial task.

[2019-04-01 05:54] rsmmukesh commented on #2523
Hi,
I have simplified the solution. Please check. Controller not hitting after click submit button without selecting any file in file browser.

[WebApplication2.zip](https://github.com/dotnet/core/files/3027914/WebApplication2.zip)

[2019-04-01 06:40] rajeshwai opened #2528 "how to open INdex.cshtml file"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/modify
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-04-01 06:54] Dresel commented on #2442
Using Microsoft.Build 16.0.452 only works when running on .NET Core 3.0, not with .NET Core 2.2 (for this I still have to use 15.9.20). Is this by design?

[2019-04-01 09:09] Rymix commented on #2528
You can open this file with any text editor.
But use Visual studio.

[2019-04-01 13:34] alextran261297 opened #2529 "pleaseeeee"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-04-01 13:40] rainersigwald commented on #2442
@Dresel You can support both if you use MSBuildLocator.

[2019-04-01 13:51] vignatov commented on #2460
I guess there is no solution. Only wait for the next MSBuild update and uninstall preview 3 till then if you need to compile.

[2019-04-01 13:55] justintoth commented on #2513
Right, the charts could just spit out html strings instead of rendering as ASP.NET Web Forms controls.

[2019-04-01 14:27] Trolldemorted opened #2530 "CancelKeyPress handler confuses shells (cmd.exe, powershell, and bash)"
Let's consider this brief demo:

[code]
As you can see, the Program is waiting for the cancel event, stating that it does not want to be shut down, waiting one second, printing "Main finished" and exiting.

I would expect the output to be:
[code]
But it is:
[code]
Unfortunately the shells (I tested bash, cmd.exe and powershell) print the CWD (for the next command) before the program has actually f

[2019-04-01 15:01] dagood commented on #2486
@rowanmiller Can you put the instructions on every page that uses a package that may have been affected by the bug in https://github.com/dotnet/core/issues/2149 causing the repo lists not to be installed correctly? I didn't realize these instructions were specifically on the Ubuntu 18.04 page.

/cc @mbearup

[2019-04-01 15:19] TheresaPinter opened #2531 "I can't seem to find this file: Pages/Index.cshtml on Windows PC"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/modify
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-04-01 15:20] karelz commented on #2529
What's the problem you're facing?
Closing for now, feel free to reopen when there's more info. Thanks!

[2019-04-01 15:20] #2529 closed

[2019-04-01 15:21] dagood commented on #2483
Moving to the dotnet/cli repo because `Microsoft.DotNet.Configurer.FileSentinel` lives there, and I think the people with the most context will see it there.

So far, this does look like an unusual permissions issue: `System.UnauthorizedAccessException: Access to the path 'C:\Users\dweeb\.dotnet\2.2.105.toolpath.sentinel' is denied.`

[2019-04-01 15:21] #2483 closed

[2019-04-01 15:21] dagood commented on #2483
Issue moved to [dotnet/cli #11049](https://github.com/dotnet/cli/issues/11049) via [**ZenHub**](https://www.zenhub.com/)

[2019-04-01 15:25] karelz commented on #2531
Does it happen for every new project? On multiple machines/VMs?

[2019-04-01 15:29] dagood commented on #2511
Thanks @omajid! We should take this change. To get to this page, the user specifically clicks a runtime setup link, so they should see how to install the runtime package. The URLs are unique (there may have been some nuance if the links went to the same page):

https://dotnet.microsoft.com/download/linux-package-manager/rhel/runtime-2.2.3
https://dotnet.microsoft.com/download/linux-package-manager

[2019-04-01 15:40] dagood commented on #2448
It looks like this is a generic error that happens when the file isn't found: https://stackoverflow.com/q/32997269.

Is it possible the Dockerfile is in a different directory from `myMicroservice.csproj`? From reading the instructions it looks like it might be easy to miss this step and accidentally create the Dockerfile in a different place:

/cc @MichaelSimons

[2019-04-01 15:46] sergiotapia commented on #2460
Thank you, just asking for would be travellers falling onto this Github issue. This issue should probably not be closed as it's not really fixed?

[2019-04-01 15:46] karelz commented on #2528
Or just go to the web site if you want to see the content of the file.

[2019-04-01 15:46] #2528 closed

[2019-04-01 15:54] karelz commented on #2460
@sergiotapia please follow up with @mrward where to file the issue fo VS for Mac.

[2019-04-01 15:56] karelz commented on #2513
That sounds like a good idea for separate project. Likely outside of the scope of ASP.NET.
Either way, closing here as this is not the right place to track it.

[2019-04-01 15:56] #2513 closed

[2019-04-01 16:08] dagood commented on #2381
@leecow Do you think it would be reasonable to add a tip for this situation on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu14-04/runtime-2.2.3? (Is there a bar for putting known external issues like this on that page?)

[2019-04-01 16:13] dagood commented on #2357
Original poster's issue didn't have enough info to follow up on--closing as stale.

Thanks all for the input! To sum up:
* cjvalenzuela's tip to use `sudo apt-get update && sudo apt-get upgrade` (https://github.com/dotnet/core/issues/2381) may have fixed it, but we don't know. I've asked Lee in that thread if we can add something to the install page to inform people about this issue.
* SuperTal3's

[2019-04-01 16:13] #2357 closed

[2019-04-01 16:24] jeffschwMSFT commented on #2283
@mkSanalogic can you give a exact set of steps that used to work?  For instance, when running <insert exact version> I can Assembly.Load(File.ReadAllBytes(<exact path of assembly>).    The reason the load of System.*.dll from the version direction fails is that those assemblies contain R2R images and are not valid to load in this way (the check is here: https://github.com/dotnet/coreclr/blob/maste

[2019-04-01 16:28] Trolldemorted commented on #2530
I have created an issue at the dotnet cli repo because we noticed the issue happens only with `dotnet run`.

[2019-04-01 16:28] #2530 closed

[2019-04-01 16:32] dagood commented on #2416
Unfortunately Parrot Security OS is not an [officially supported 2.2 distro](https://github.com/dotnet/core/blob/master/release-notes/2.2/2.2-supported-os.md).

Some background: the libicu dependency is particularly tricky, because different distros have different versions of ICU available in their repositories. We produce `runtime-deps` packages for supported distros that includes the libicu depe

[2019-04-01 16:32] #2416 closed

[2019-04-01 16:41] #2494 closed

[2019-04-01 16:41] dagood commented on #2494
Issue moved to [dotnet/core-setup #5628](https://github.com/dotnet/core-setup/issues/5628) via [**ZenHub**](https://www.zenhub.com/)

[2019-04-01 16:49] tarekgh commented on #2514
@vindicatorr

The way to create the right resources for different cultures was the first way you have tried which is, you create a file with the form  {FileName}.{CultureName}.extension. for example in your case hello.fr-FR.restext. Note, the culture name has ```-``` and not ```_```.

When you have this form of naming and you embed in csproj file like

[code]

The build process will understand you

[2019-04-01 16:49] #2514 closed

[2019-04-01 16:56] leecow commented on #2381
The bar is generally to address issues with multiple reports so I think we can just keep an eye on this one.

[2019-04-01 16:57] leecow commented on #2526
Yep, we'll add it the list closer to release.

[2019-04-01 17:54] vitek-karas commented on #2283
Based on your comments it worked on .NET Framework (4.2.* I assume).
Did it ever worked for you on .NET Core?

`Assembly.Load(byte[])` doesn't support loading native image assemblies (in .NET Framework these were called NGENed). In fact there's no way in the runtime (that I know of) to load native image assemblies from memory - the file format relies on the OS loader to perform relocations, which

[2019-04-01 18:14] ljupko123 commented on #2523
Are you using hitting request while in debugging mode or without debugging? From my personal experience, sometimes it can get stuck while debugging. Try to run your program without debugging and post comment here.

[2019-04-01 18:19] rsmmukesh commented on #2523
Hi,
without debugging also it is not working. i think it is data binding issue in .net core.
please try the application i have uploaded.
just run the application then you will understand everything ..

[2019-04-01 18:23] rsmmukesh commented on #2523
Hi,
without debugging also it is not working. i think it is data binding issue in .net core.
please try the application i have uploaded.
just run the application then you will understand everything ..

[2019-04-01 18:23] rsmmukesh commented on #2523
Sorry wrongly close button clicked.

[2019-04-01 18:25] ljupko123 commented on #2411
@AndyFVesper On all my machines i tested port 5000 and it just work fine, so problem is on your machine side. If any program using same port, you can't bind it to work with kestrel or IIS. Your log from netstat is
netstat -a -b reports, in part:
TCP 0.0.0.0:5000 sardines:0 LISTENING
Can not obtain ownership information
TCP 0.0.0.0:5001 sardines:0 LISTENING

seems to be already in use.

 Try:
1. Us

[2019-04-01 18:28] rsmmukesh commented on #2523
i have checked in .net core and .net core api. controller not hitting and no response from server.  please download and  check the attached application.. just 5 min needed

[2019-04-01 19:09] vindicatorr commented on #2514
That clears it up completely.
I neglected to notice before when trying the "en-US" way, using the dash, that the obj and bin folders DID show the satellite dlls being created in their relative culture folders.

I see another way I could have figured out those resources were in fact being included when I thought they weren't by:
[code]
This can also help let a person know how it is named for use in

[2019-04-01 21:23] karelz commented on #2523
I don't know what you mean by "_i have checked in .net core and .net core api_"

[2019-04-01 21:59] Eilon commented on #2531
Did you start the tutorial at the first step? https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/create

Running `dotnet new ...` should create all those files.

[2019-04-01 23:44] AndyFVesper commented on #2411
Process Hacker claims that port 5000 is being listened to by wininit.exe (both TCP and TCP6).
ports 5001 through 5007 are being listened to by svchost, spoolsv, svchost, mqsvc, lsass, and services.

[2019-04-02 00:04] TheresaPinter commented on #2531
I am new to this and just going through the tutorial : https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/modify

Everything has been successful up to the 'edit your code' part.

I tried to find the file on my computer by following the path made in the command prompt however I cannot find it. I then tried to open Notepad++ and save it as a file but I can't even save it as a .cshtml

[2019-04-02 00:06] TheresaPinter commented on #2531
![ComnputerSpecs](https://user-images.githubusercontent.com/38198947/55367149-9a8b1580-54b9-11e9-8b66-bfd042114f86.png)

[2019-04-02 00:06] TheresaPinter commented on #2531
sorry I didn't mean to close this..

[2019-04-02 02:37] rsmmukesh commented on #2523
Actually im created a .net core web api application for server side needs. when im working on it i got this issue. so i have checked the same scenario in .net core mvc application.  i got the same issue there also.

[2019-04-02 08:56] ljupko123 commented on #2411
@AndyFVesper  https://www.mcbsys.com/blog/2014/10/wininit-exe-stealing-port-5000/ this is for you.

[2019-04-02 09:22] ljupko123 commented on #2523
@rsmmukesh  You are really wasting  our time.  First you need to learn fundamentals of ASP CORE and if you have problem based on your code, try to find solution on internet first.
Second this repo is for framework development not for your practice in programming.
Solution for you is to learn basic folder structure in MVC and you will notice you miss something.

your from should look like this

@us

[2019-04-02 09:29] ljupko123 commented on #2523
[WebApplication2.zip](https://github.com/dotnet/core/files/3033225/WebApplication2.zip)

[2019-04-02 10:31] rsmmukesh commented on #2523
@ljupko123 , Actually you are wasting my time, already 3 days wasted . Have you find out why the controller not hitting and server not responding? your answer is another way of doing.
Have you tested the application you send me?
i suggest you please learn fundamentals of ASP CORE before answering. it is not mandatory to specify model in the view. we can have plain html code and naming of the contr

[2019-04-02 10:46] rsmmukesh commented on #2523
image is not binding properly into the model . class inside class is the problem.

[2019-04-02 11:03] rsmmukesh commented on #2523
product- variant[0] - image[0]
                                 - image[1]
                variant[1] - image[0]
                                 - image[1]
this is the real time scenario

[2019-04-02 14:47] AndyFVesper commented on #2411
@ljupko123 That did the trick for me, 5000 thanks! Now back to learning about dotnet.

[2019-04-02 14:47] #2411 closed

[2019-04-02 15:32] Eilon commented on #2531
Hi @TheresaPinter , do you know in which folder you ran the `dotnet new` command? If you navigate to that folder in Explorer, do you see the various files it created? (Various CSHTML files, JSON files, CS files, etc.)

[2019-04-02 16:10] karelz commented on #2523
Let's try to be civil to each other. I don't think we need accusations of wasted time, etc..

Just to set expectations: GitHub is not a support channel, we do not have SLAs for answering any issues, and some questions might be unanswered for a long time / forever.

I am not ASP.NET expert and this question here is sadly a bit confusing to me - it does not describe clearly to me what is problem, wh

[2019-04-02 16:54] rsmmukesh commented on #2523
i really sorry to disturb you. i have posted the issue because i stuck in my application.

i will say it in simple.
i have a image file selection in my page and save button... when i click save button the selected file data should get in server side in order to save that file to folder.
but in my case the selected file data is not getting in server side to save in the folder.

Normal case if we us

[2019-04-02 17:21] luth3rmilla opened #2532 "Hi, I can't find the program.cs"
# Issue Title
Hi, I can't find the program.cs
Be as descriptive as you can with your title.

# General

Provide details on the problem you are experiencing including the .NET Core version, operating system version and anything else that is relevant.

Please provide a code sample for your issue if it is relevant, either inline, link to a gist (or similar) or add it as a zipped attachment.

For some

[2019-04-02 17:24] Eilon commented on #2523
Hi @rsmmukesh , I think at this point it would be best to post a new issue to https://github.com/aspnet/AspNetCore/issues with complete details on how to reproduce this issue. Please include a full application and steps to reproduce. Thank you!

[2019-04-02 17:24] #2523 closed

[2019-04-02 18:10] ljupko123 commented on #2523
@karelz  You are right let be civil, I did not want to be rude i just pointed as throwing time for nothing about framework issues. This kind of questions  should be asked on stack overflow and not here. If it is a framework issue its ok to post here.

@rsmmukesh  for the next time when you post an issue make sure to provide valuable details like you just said in comment "My application is a mobile

[2019-04-02 18:14] ljupko123 commented on #2411
I'm glad I helped.

[2019-04-02 18:42] rsmmukesh commented on #2523
No, base is normal class, inside the class i have generic.
AModal is same as Product
BModel is same as product variants

im trying to save a single product.
but it can have multiple variants and each variants can have multiple images.

other things are working as expected.  but the variant image browsing is the problem.
controller will not hit and browser keep loading.
if i remove the file browse

[2019-04-02 18:46] rsmmukesh commented on #2523
@Eilon ... thanks.. i will open the issue there.

[2019-04-02 18:57] karelz commented on #2532
Did you follow some tutorial? What did you run / install exactly? Which OS?

[2019-04-02 19:09] karelz commented on #2523
I assumed that this is .NET Core problem. If it is .NET Framework problem, then it does NOT belong here, nor to aspnet/AspNetCore repo - @rsmmukesh is that the case?

[2019-04-02 22:09] tatiana-scda opened #2533 "dotnet error when try to run webapi and stop working on macOS"
# Issue Title

dotnet error when try to run and stop working on macOS

# General

I can't run **any api template** on macOS.

While running with **VS** I get:

System.InvalidOperationException: "Unable to configure HTTPS endpoint. No server certificate was specified, and the default developer certificate could not be found.\r\nTo generate a developer certificate run 'dotnet dev-certs https'. To tr

[2019-04-03 01:32] TheresaPinter commented on #2531
Sorry, am I understanding you correctly: I am looking for this file in a web browser?

[2019-04-03 01:36] TheresaPinter commented on #2531
I only receive a google search.

Here is an image of what I see on my computer:
![dotnet_Files](https://user-images.githubusercontent.com/38198947/55446821-4d797300-558f-11e9-9768-b70a991c7bb7.png)

[2019-04-03 01:38] TheresaPinter commented on #2531
I only receive a google search.

Here is an image of what I see on my computer:
![dotnet_Files](https://user-images.githubusercontent.com/38198947/55446902-98938600-558f-11e9-9106-8309b6607851.png)

[2019-04-03 02:04] saxenark commented on #2508
what do I need to do get a quick response?

[2019-04-03 03:51] karelz commented on #2508
Not sure if you're going to get quick response from @richlander
I have no idea what are our plans in the space sadly.

[2019-04-03 07:13] rsmmukesh commented on #2523
I don't know where is the issue. You people can only identify the issue easily because you have the source code. from my side controller is not hitting.

Controller not hitting and no response from server, Browser keep loading .

To reproduce the issue, just download the attached application, then run the application. then you will get home page, it contains a text box and file uploader. Just clic

[2019-04-03 15:52] tkstanczak commented on #2471
@peterhuene, I have not received the details, I asked the user now once again to send the distro details, we will inform you if there is anybody else reporting this - if no update here for the next couple of days or so then we can close and I will be able to create a new issue and reference this one if it ever reoccurs

unfortunately we were not able to reproduce it on any of our systems neither

[2019-04-03 15:56] peterhuene commented on #2471
Thanks, @tkstanczak! If we do get more details from your user, I will immediately investigate.

[2019-04-03 16:07] sansjunk commented on #2294
@karelz Can you please reopen this?

[2019-04-03 16:27] Eilon commented on #2531
@TheresaPinter sorry I meant a file on your computer.

When you ran the `dotnet new .....` command at a Command Prompt, it created several folders and files for the project on your hard drive.

It might be easiest to start from scratch:
1. Open a command prompt window and navigate to some folder (e.g. `c:\projects`)
1. Run the `dotnet new .....` command per the tutorial
1. Run `start .` (note the

[2019-04-03 16:41] karelz commented on #2523
@rsmmukesh I think you misunderstood my question above - I was asking if you are running on .NET Framework or on .NET Core. Can you please answer that?

BTW: Given that I know nothing about ASP.NET, running the app in 1 minute is not going to tell me anything. If it is bug in your code, I won't be able to tell.

[2019-04-03 17:08] rsmmukesh commented on #2523
On .net core only

[2019-04-03 18:29] leecow commented on #2517
The 14.04 version of runtime-deps has a dependency on libicu52, not 60. I suspect that you're pointed at the 18.04 repository rather than 14.04. Can you check check the contents of the .list file in /etc/apt/sources.list.d/? There should be something like `microsoft.prod.list`. If so, `cat /etc/apt/sources.list.d/microsoft.prod.list` will print the contents.

Repo definition for 14.04 is `deb [arc

[2019-04-03 19:18] rsmmukesh commented on #2523
do anyone check this issue?

[2019-04-03 21:45] MasiahX commented on #431
I am also facing this issue. How was it resolved?

[2019-04-03 23:54] gizmohd opened #2536 "Snap Installer"
# Issue Title

Unable to install SDK 3.0 on an ARM64 device using snap.

# General
Ran the command:

sudo snap install dotnet-sdk --beta --classic

got response:

error: snap "dotnet-sdk" is not available on beta for this architecture (arm64)
       but exists on other architectures (amd64).

Hardware:   Nvidia Jetson Nano

[2019-04-04 00:02] karelz commented on #431
@MasiahX please try to download again to avoid corrupted install situation. Ideally try on more than 1 machine / VM if you can.
If you have a repro with our latest supported version (either .NET Core 2.2 or .NET Core 3.0 Preview), please file a new issue. Thanks!

[2019-04-04 00:08] karelz commented on #2523
No - see above: https://github.com/dotnet/core/issues/2523#issuecomment-479105974

[2019-04-04 03:43] knocte commented on #2460
The title of the issue should be tweaked, because it doesn't affect just .NET Core 3 anymore. I just reproduced it when my CI build pulled dotnet 2.1.602-1 (instead of 2.1.505-1 which was working fine yesterday). In my case the error is:

[code]

I thought 2.1 was considered stable? Or is that 2.0? I'm confused.

[2019-04-04 03:59] acesnik commented on #2517
Looks like that's correct! Both shells (18.04 and 14.04) are pointed at 18.04.

![image](https://user-images.githubusercontent.com/16342951/55528876-cb786f80-569e-11e9-9c6a-9c2a07f78d83.png)

[2019-04-04 09:55] shaun-rostami commented on #2448
Any update on this? I am running into the same error.

I have the Dockerfile, myMicroService.csproj and the other files in the 'myMicroservice' folder.

[2019-04-04 12:05] lytico commented on #2460
same here with dotnet 2.1.602-1
and linux ubuntu 18.04

[2019-04-04 12:47] sewol2405 opened #2537 "Declaring minor version for dotnet-sdk-2.2"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/debian9/sdk-2.2.101
Operating System: Linux Debian 9 - x64

While apt was updating my machine, I realized, that dotnet SDK was updated from 2.2.101 to 2.2.105. For my infrastructure its not possible to upgrade the application for now(Docker usage). Is there any way to specify the "2.2.**101**" version for apt?

Than

[2019-04-04 14:25] saxenark opened #2538 ".Net core hosting sample on Centos 7"
Hi,

I am trying a sample for .NET core 2.2 hosting based on the samples provided for CoreClrHost. The sample program provided by MS works on my setup.

However, when I build my own, I am running into some issues and getting core dump. I can't figure out what mistake I am doing.

I have attached a small independent repro sample. What mistake am I doing?

Thanks,

[2019-04-04 14:26] saxenark commented on #2538
Attaching a small repro sample

[Bootstrap.zip](https://github.com/dotnet/core/files/3043912/Bootstrap.zip)

[2019-04-04 14:35] dagood commented on #2448
This issue is waiting on more info from the opener. But from your comment, the extra capital in `myMicroService.csproj` might be the issue. I can't tell for sure without seeing your Dockerfile--it's possible you accounted for this. The tutorial and the Dockerfile in this issue description use `myMicroservice.csproj`.

Normally on Windows case doesn't matter, but Docker by default runs containers i

[2019-04-04 14:59] leecow commented on #2517
Alright, you can either edit the 14.04 copy manually to get it pointed at `14.04/prod trusty main` or run the following:

[code]

[2019-04-04 15:01] leecow commented on #2527
We need some details around what you're trying and any errors you're seeing. Feel free to re-open this issue when the extra information is available.

[2019-04-04 15:01] #2527 closed

[2019-04-04 15:01] leecow commented on #2532
We need some details around what you're trying and any errors you're seeing. Feel free to re-open this issue when the extra information is available.

[2019-04-04 15:01] #2532 closed

[2019-04-04 15:04] leecow commented on #2533
Hi @tatiana-scda - can you provide a basic repo to ensure that we're looking at the same thing that you are?

[2019-04-04 15:16] leecow commented on #2537
@sewol2405 - you can see specific available versions with `apt-cache madison dotnet-sdk-2.2`. To install, use `apt-get install dotnet-sdk-2.2=2.2.101-1`

Keep in mind that this will also install the older runtime files which means you will be missing any security updates which have been released. You can install the updated runtimes separately with apt install `aspnetcore-runtime-2.2` (or if you d

[2019-04-04 17:44] kieronlanning opened #2539 ".NET Core SDK 2.2.202 missing from Docker and releases.csv"
.NET Core SDK 2.2.202 is missing from releases.csv and Docker images.

https://github.com/dotnet/core/blob/master/release-notes/releases.csv

When will it be updated and uploaded?

[2019-04-04 19:30] anarsen commented on #2480
@amercehic Also, have you selected the correct subscription?

You can find out through `az account show`.

[2019-04-04 19:43] dagood commented on #2448
I tried out the tutorial on my machine with Docker freshly installed to confirm what I'm thinking. The tutorial works when I follow the steps, but if I rename `myMicroservice.csproj` => `myMicroService.csproj` I hit the same error, so it does seem like the case is probably the problem:

[code]

Hopefully this solves the issue for you @shaun-rostami, let me know if you're still having problems when

[2019-04-04 20:21] leecow commented on #2539
v1 releases.json and release.csv are deprecated and will no longer be maintained. https://github.com/dotnet/announcements/issues/87.

@MichaelSimons for the Docker plan

[2019-04-04 20:42] shaun-rostami commented on #2448
@dagood Sorry am I missing something here? I'm not following what you have done exactly. What you renamed the file to is identical to the original name (even the case). I followed the steps in the tutorial and here is the Dockerfile.

`FROM microsoft/dotnet:2.2-aspnetcore-runtime AS base`
`WORKDIR /app`

`FROM microsoft/dotnet:2.2-sdk AS build`
`WORKDIR /src`
`COPY myMicroservice.csproj myMicroser

[2019-04-04 20:46] shaun-rostami commented on #2448
Thanks @dagood! Yes the capital S in myMicroService.csproj was the problem.

[2019-04-04 20:48] dagood commented on #2448
Awesome, thanks for confirming. 😄 (I could have been been clearer that what I was doing was simulating the error, and doing the opposite is what would fix your problem, sorry about that.)

[2019-04-04 21:10] alvaroemmanuel commented on #2460
Same here with current dotnet 2.2.202 on MacOS Mojave 10.14.4 with Mono 5.18.1.3

[2019-04-04 21:18] lytico commented on #2460
my theory:
Its a problem if monodevelop is installed on the same machine - maybe even mono, or some 4.0 Nuget.Packaging elsewhere
and they have updated NuGet.Packaging to  Version=5.0.0.4, as seen in the traces
and, as known, monodevelop (aka visual studio mac) works with version 4.x.x
so somethere in the system msbuild finds the version 4.x.x. from monodevelop and ... bang!

[2019-04-04 21:26] lytico commented on #2460
nothing worked on my system after the .net core - update last night
even the projects **targeting the mono / .net framework** didn't compile any more - all with the same error.
i completely removed all .net-core runtimes, sdks etc.,  deleted the directories manually (of course, uninstalling the .net core stuff left some slack everywhere), did:  nuget locals all -clear
removed all references to .ne

[2019-04-04 21:44] lytico opened #2540 "Build error GenerateDepFiles with .net core 2.1.602"
# Issue Title
after update to .net core 2.1.602, the following error occurs:

[code]
nothing worked on my system after the .net core - update last night
even the **projects targeting the mono / .net framework dont't't compile any more** - all with the same error.
i completely removed all .net-core runtimes, sdks etc., deleted the directories manually (of course, uninstalling the .net core stuff le

[2019-04-04 21:52] lytico commented on #2540
detailed:
``
/usr/lib/mono/msbuild/15.0/bin/Roslyn/csc.exe /noconfig /unsafe- /checked- /nowarn:1701,1702,1701,1702,2008 /nostdlib+ /errorreport:prompt /warn:4 /define:TRACE;DEBUG;NETSTANDARD;NETSTANDARD2_0 /errorendlocation /preferreduilang:en-US /reference:/home/user/.nuget/packages/netstandard.library/2.0.3/build/netstandard2.0/ref/Microsoft.Win32.Primitives.dll /reference:/home/user/.nuget/pac

[2019-04-04 21:56] lytico commented on #2460
@alvaroemmanuel, @knocte
continue here:
https://github.com/dotnet/core/issues/2540

[2019-04-04 21:58] alvaroemmanuel commented on #2540
Same here with current dotnet 2.2.202 on MacOS Mojave 10.14.4 with Mono 5.18.1.3

[2019-04-04 22:47] alvaroemmanuel commented on #2540
UPDATE: Downgraded net core from 2.2.202 to 2.2.104 and build started working again.

This seems to confirm the issue is directly caused by the latest dotnet update and not VS.

[2019-04-04 22:54] lytico commented on #2540
@alvaroemmanuel  i agree with you.
if an update of one product destroys the functionality of another product, then one can't blame the destroyed product.
next update, and no mono stuff is running any more, or what?

[2019-04-05 00:49] AlbasterGaster opened #2541 "api-ms-win-crt-runtime-l1-1-0.dll missing"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows
OS version: Windows 7 Ultimate
error:  when trying dotnet command prompt this error pops up: api-ms-win-crt-runtime-l1-1-0.dll is missing. I'm unable to continue the tutorial without the missing script.

[2019-04-05 00:51] karelz commented on #2541
@dagood is it a known issue?

[2019-04-05 00:55] dagood commented on #2541
Yes, this happens when necessary updates aren't installed for Windows 7.

@AlbasterGaster, take a look at https://docs.microsoft.com/en-us/dotnet/core/windows-prerequisites?tabs=netcore2x#net-core-dependencies for help on setting up your machine.

[2019-04-05 00:55] #2541 closed

[2019-04-05 01:02] AlbasterGaster commented on #2541
turns out the computer never had updates installed. 11 updates in total, It's going to take awhile. I will reinstall when it finishes. Thank you for your time gentlemen.

[2019-04-05 01:20] karelz commented on #2540
I am a bit confused. Can someone please clarify with reasonable amount of detail - what happens after what?
What breaks after what kind of update? Is there a small repro? (HelloWorld style app ideally)
That will help us identify where to route it.

cc @mhutch

[2019-04-05 01:25] karelz commented on #2448
Seems addressed, closing.

[2019-04-05 01:25] #2448 closed

[2019-04-05 01:29] karelz commented on #2460
@lytico the issue was closed because I thought the problem was answered - the scenario was unsupported. Nobody pushed back.
If you think there is a problem still existing, I recommend to describe clearly what is broken when (ideally calmly, exclamation marks won't help) - the new issue #2540 is still confusing and does not quite help me understand what exactly is broken in which situation, etc. Cl

[2019-04-05 01:44] lytico commented on #2540
Sorry, no hello world possible.
I'll try:
You have a system. lets say a Linux Ubuntu 18.04 ( or ... MacOS Mojave 10.14.4, etc etc)
You have mono installed (latest available version for the system, eg. Mono 5.18.1.3)
You have monodevelop (aka Visual Studio Mac), eg. Version 7.7 (build 1869)
You have a project, doesn't matter what type:
    eg. old-style <TargetFrameworkVersion>v4.7.1</TargetFramewo

[2019-04-05 02:25] LukePulverenti commented on #2253
@karelz I have an app with a large number of users affected by this. Any Dlna media app will be affected by this. A back-port would be much appreciated. Thanks.

[2019-04-05 02:40] lytico commented on #2460
@karelz yes, i see, you closed the issue before the problems raised with .dotnetcore 2.1 and 2.2 too.
sorry for the exclamation marks

but its a really showstopper:

if you build projects with mono

and install dotnetcore 2.1.602

then you can't build projects any more

cause of this error

[2019-04-05 04:22] msarm commented on #431
I've the same issue on mac OS seirra :-(

[2019-04-05 04:30] saxenark commented on #2538
I have resolved the issue, which was due to an uninitialized variable. My bad, apologies to anyone who started looking into this.

[2019-04-05 04:30] #2538 closed

[2019-04-05 07:23] kieronlanning commented on #2539
@leecow Ah yes, I didn't realise it had changed in the Azure Pipeline task:

Could not fetch download information for version 2.2.202. Please check if the version specified is correct. You can refer the link for supported versions => https://github.com/dotnet/core/blob/master/release-notes/releases.json.

@MichaelSimons Is there an ETA for getting Docker images available?

[2019-04-05 07:39] mkSanalogic commented on #2283
You can get all the answers to these questions from comments I already made before.

@jeffschwMSFT You say loading libraries this way is not valid, but why does it work in .NET Framework and why did it work in earlier versions of .NET CORE 2.1 as well? Doesn't quite add up for me.

@vitek-karas Yes, it works flawlessly in .NET Framework. You could try yourself easily within seconds - I provided a

[2019-04-05 08:19] vitek-karas commented on #2283
I did try this myself (thanks a lot for the code snippet, that helps) before posting my questions. The thing is I never made it work on .NET Core, it simply doesn't accept native images (which is currently by design).

The reason it works on .NET Framework is that the assembly is pure IL, because the native assembly is a separate file. I'm only assuming this, since without knowing which exact file

[2019-04-05 08:35] gthvidsten opened #2542 "2.2.202-SDK not available in Visual Studio 2017"
.NET Core 2.2 is not available as a "Target framework" in Visual Studio 2017 (15.9.11) after installing the 2.2.202-SDK (x86/x64).

After installing the 2.2.101-SDK, however, "Target framework" correctly displays ".NET Core 2.2" as an option.

[2019-04-05 09:05] dasMulli commented on #2542
The 2.2.2xx train only works with VS 2019 (same as 2.1.6xx only works in VS 2019 and 2.1.5xx in VS 2017).

Did you have a 2.2.1xx installed previously? Some users seem to have upgrade issues with vs - https://github.com/dotnet/sdk/issues/3076

[2019-04-05 09:26] adamauckland commented on #2539
This also broke my CI pipeline, not sure what to do about it.

[2019-04-05 10:32] gthvidsten commented on #2542
I did not have 2.2.1 installed previously.
What is so special about 2.2.2xx that it won't work in VS 2017?

[2019-04-05 11:07] dasMulli commented on #2542
It is based on a new major version of MSBuild - 16.0 - which ships in VS 2019. The SDK selection inside of VS only selects SDKs with a compatible MSBuild version, which is 15.* in VS 2017, regardless of whether or not it would actually work anyway.

[2019-04-05 11:16] dasMulli commented on #2542
I do agree that the versioning scheme is confusing regarding to which VS versions work with which SDK version..

Maybe the download pages - https://dotnet.microsoft.com/download/dotnet-core/2.2 - could be updated to reflect which VS versions they work with?.. Some do read "included in VS 16.0" for example but that doesn't say what you need for which version to be able to target which .NET Core run

[2019-04-05 15:09] nvankesteren commented on #2540
I have the same problem. Had a Xamarin.Forms project in VS2017 for Mac. Updated to the latest .NET Core 2.2.202 last week, but I failed to check if it compiled. Yesterday I installed VS2019 for Mac and I get the same error.

So I decided to create a new project based on the Xamarin.Forms template project. That throws the same error. So hopefully you can repro that...

[2019-04-05 16:05] leecow commented on #2539
@kieronlanning - can you let me know where you saw this error? Needs to be updated to the new json location.

[2019-04-05 16:07] leecow commented on #2542
Thanks @dasMulli, @rowanmiller and I are looking at ways to make the VS compatibility visible and clear.

[2019-04-05 16:47] tomkerkhove commented on #2542
Is there a reason why this fails with dotnet CLI as well? Or is this unrelated?

[2019-04-05 16:48] tomkerkhove commented on #2542
That explains why my Azure DevOps build are failing with VS2017 agent.

[2019-04-05 17:01] karelz commented on #2253
@LukePulverenti did you validate your problem is indeed the same root cause and is fixed in .NET Core 3.0? (and that it is not just same symptom)
There seems to be enough +1s to justify backport, we just need to be sure it is the right fix ... first step would be to validate on 3.0. Then we can cherry pick and ask for private validation on 2.2/2.1 build.

[2019-04-05 17:41] peterhuene commented on #2542
@dasMulli FYI, @leecow is working up updating the downloads page to call out the compatibility more clearly so that there is less confusion in this area.

[2019-04-05 17:42] peterhuene commented on #2542
Oh sorry, had this issue open and it was stale. I didn't see Lee already replied :)

[2019-04-05 17:58] antonioortizpola commented on #2253
It is becoming really frustrating, my our code with 2.1 has a memory leak, we fixed with 2.2, but we cannot update our servers because of this, I really do not want to update to 3, since is not prod ready yet, and the migration is not so straightforward.

@karelz i will try to update my project and let you know. The problem is that I would need to update to 3 and publish to prod, since this error

[2019-04-05 18:09] karelz commented on #2253
@antonioortizpola understood. I was hoping someone has a "repro" in environment where trying out and deploying 3.0 for a few days would be ok.
Alternatively, if someone is capable to build private version out of 2.2/2.1 servicing branch with the cherrypicked fix, that would be preferred even for us. It is just a bit more involved on the prep side.

[2019-04-05 18:35] dasMulli commented on #2542
Another dup: https://github.com/aspnet/AspNetCore.Docs/issues/11844 - migrating 2.1 to 2.2 page now is somehow busted because it basically says / conveys "Make sure you have VS 2017 15.9.4 or greater and get a 2.2 SDK" pointing to that download page.

[2019-04-05 19:28] daveyostcom opened #2543 "apt-get update not working after setting up apt-get to get dotnet?"
Following instructions on the [.NET Tutorial - Hello World in 10 minutes](https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install), I chose "Debian 9 - x64" from the menu. This step doesn't appear to have gone well:
[code]

This step was definitely a problem:
[code]

[2019-04-05 22:01] igorgiovannini commented on #2540
Same problem here...
macOS 10.14.4, .NET Core SDK: 2.2.202

[2019-04-05 23:47] daveyostcom commented on #2543
Oh. I guess this approach doesn't work for armv7?

[2019-04-06 07:31] kieronlanning commented on #2539
@leecow It was in an Azure DevOps YAML Pipeline task - DockerCompose@0 - where there is a multistage build happening against the image `microsoft/dotnet:2.2-sdk`.

[code]

[2019-04-06 08:28] zero-down2018 commented on #2471
grep avx /proc/cpuinfo gave out following:

flags           : fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov          pat pse36 clflush dts acpi mmx fxsr sse sse2 ss ht tm pbe syscall nx rdtscp lm c         onstant_tsc arch_perfmon pebs bts rep_good nopl xtopology nonstop_tsc cpuid aper         fmperf pni pclmulqdq dtes64 monitor ds_cpl vmx smx est tm2 ssse3 cx16 xtpr pdcm

[2019-04-06 09:58] MarcCoquand opened #2545 "Installing dotnet-sdk-2.2 on Fedora 29 does not show up when listing all sdks"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/fedora28/sdk-2.2.102
Operating System: Linux Fedora 29 - x64

Hello,

I tried installing dotnet-sdk-2.2 the recommended method but when running
[code]
No sdk shows up, indicating that either it's not installed or not found. The install seems to indicate that it was installed correctly

[code]

EDIT: The sdk is also

[2019-04-06 10:25] MarcCoquand commented on #2545
Ok the error was that I had attempted to install dotnet using the copr repo: https://copr.fedorainfracloud.org/coprs/g/dotnet-sig/dotnet/ .

However that contained an outdated version, so I attempted to install it the official way. When installing the official way I ran into the problem that it was still pulling some packages from the old repository.

When I uninstalled the dotnet stuff and tried

[2019-04-06 12:12] gulando commented on #2460
I am using Ubuntu 18.04 and Jet Brains Rider.
My dot net version is 2.2.202
When I am trying to build my project I get same error related with  "ResolvePackageDependencies" task failed unexpectedly.

[2019-04-07 01:54] leechuyem opened #2546 "Microsoft.Build.Exceptions.InvalidProjectFileException: The SDK 'Microsoft.NET.Sdk.Web' specified could not be found."
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/create
Operating System: Linux Ubuntu 18.10 - x64

OmniSharp.MSBuild.ProjectManager
        Attempted to update project that is not loaded:

[2019-04-07 03:25] jnm2 commented on #888
I'm just starting to look into this myself, and it looks like the SkiaSharp library can generate PDFs.

https://docs.microsoft.com/en-us/dotnet/api/SkiaSharp.SKDocument.CreatePdf
https://www.nuget.org/packages/SkiaSharp
https://github.com/mono/SkiaSharp

[2019-04-07 03:25] karelz commented on #2546
Can you try it on another machine or VM? It looks like incomplete steps (eg paths not set) or corrupted install

[2019-04-07 05:12] leechuyem commented on #2546
Turns out, I needed to link omisharp to the sdk.
I've fixed it by adding an omisharp.json file to the project folder.

[2019-04-07 12:39] guylando commented on #888
@jnm2 the pdf abilities of SkiaSharp as far as I understand are more for exporting images into pdf and not for normal pdf textual documents creation. And the documentation and examples online is very poor. It is not made for pdf's and do not provide the desired abilities as well as libraries like pdfsharp which specialize in pdf.

[2019-04-07 16:47] jnm2 commented on #888
@guylando If that's the case, it's a pointlessly missed opportunity that could easily be addressed in the future. I haven't had time to try it yet, but that's certainly not what I would expect.

[2019-04-07 17:46] lesomnus opened #2547 "IsAssignableFrom returns false on published dll"
# `IsAssignableFrom` returns _false_ on published dll

I currently see this [plugin example](https://docs.microsoft.com/en-us/dotnet/core/tutorials/creating-app-with-plugin-support).
IsAssignableFrom returns true when I run the project using `dotnet run` in the workspace but it returns _false_ when I publishing the solution and run it.

The publish and run command is below
[code]

I replaced all p

[2019-04-07 20:37] ab4d opened #2548 "Problem with WPF's Slider style (and a few thoughts on porting DX11 rendering engine to Core3)"
# Issue Title

WPF's Slider control is not correctly rendered - probably because of a problem with its style.

# General

If the following xaml is used to define the slider:
        <Slider Minimum="0" Maximum="5" Value="4" IsSnapToTickEnabled="True" TickFrequency="1" TickPlacement="BottomRight"
                Width="100" HorizontalAlignment="Left" VerticalAlignment="Top" />

Then the shown slide

[2019-04-07 23:45] jnm2 commented on #888
@guylando I'm getting nice vectors and text out of it so for with a simple sample. This is what I expected because the drawing commands provide the information to generate the PDF properly.

I'm sure Skia does some advanced things that aren't representable in a PDF except as raster graphics. The documentation for the `dpi` parameter of `CreatePdf` says, "The DPI (pixels-per-inch) at which features

[2019-04-08 01:49] tkstanczak commented on #2471
@zero-down2018, I think the CPU is not relevant here (it was relevant for another issue). We would need the Linux distribution information and ingo whethere there were any .NET Core SDKs installed on the machine manually (by running dotnet —info and dotnet —version)

[2019-04-08 13:07] kishorkabadi commented on #2452
Ok.
What about other characters like '.','-' in date format string when converting date is specific format.
How can convert dates in any format as independent of system setting and IIS Globalization...

[2019-04-08 13:42] svick commented on #2452
This is explained in [the next section of the same document](https://docs.microsoft.com/en-us/dotnet/standard/base-types/custom-date-and-time-format-strings#Literals) (note that the `|` in the table should be `\`, see https://github.com/dotnet/docs/pull/11723). Specifically, the characters `.` and `-` don't have to be enclosed in single quotes, since they are not reserved characters.

[2019-04-08 14:58] nvankesteren commented on #2540
Yes, that fixed it for my template project and regular project as well.

[2019-04-08 16:34] c234234 opened #2549 "error"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/modify
Operating System: windows

In what folder do I find Pages/Index.cshtml

[2019-04-08 16:41] karelz commented on #2549
@c234234 as the previous step "Create your app" hints: `Pages` directory is in the app directory you created.

[2019-04-08 16:41] #2549 closed

[2019-04-08 16:55] MichaelSimons commented on #2539
Docker images were available same day as the release - https://github.com/dotnet/dotnet-docker/pull/1029.

@kieronlanning - did you re-pull to ensure you have the latest image?

[code]

[2019-04-08 17:11] kieronlanning commented on #2539
@MichaelSimons That's very strange. They're not showing here: https://hub.docker.com/_/microsoft-dotnet-core-sdk/

Latest is 2.2.105, and if I try and build (global.json and Docker) both fail that they can't find that version.

[2019-04-08 17:40] Eilon commented on #2480
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-04-08 17:40] #2480 closed

[2019-04-08 17:40] Eilon commented on #2502
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-04-08 17:40] #2502 closed

[2019-04-08 17:45] #2546 closed

[2019-04-08 19:04] lytico commented on #2540
same problem with rider on ubuntu 18.04

[2019-04-08 19:09] lytico commented on #2540
seems this error is discussed here too:
https://github.com/NuGet/Home/issues/7956

[2019-04-08 19:18] Bartolomeus-649 opened #2550 "Can't find extension methods"
# Unable to use extension method

### This does not work
[code]

### But this works
[code]

### Build error
`error CS1061: 'HttpClient' does not contain a definition for 'PostJsonAsync' and no accessible extension method 'PostJsonAsync' accepting a first argument of type 'HttpClient' could be found (are you missing a using directive or an assembly reference?)`

### The project file
[code]
## Gener

[2019-04-08 20:58] MichaelSimons commented on #2539
@kieronlanning - FYI - the issue with Docker Hub being out of date has been resolved.

I'm not following what you mean by the following, can you explain?

[2019-04-08 21:06] guylando commented on #888
@jnm2 It might be possible but I mean we try to avoid using things which we will be of the few who use it for the use-case and will have a lot of overhead over using some popular library for the use-case and I get the feeling that SkiaSharp is not popular for this use case. The basic google search shows that the pdf related code of SkiaSharp is mostly dealing with drawing on canvas. So yes you can

[2019-04-08 21:13] jnm2 commented on #888
@guylando SkiaSharp has BeginPage/EndPage and lets you set PDF metadata. It's pretty high level, nothing like if you wrote a PDF generator yourself. I do understand that it's not a PDF-centric library; we still need something that can manipulate PDFs. But for folks looking to generate, this may be one of the easiest options depending on your use cas.

[2019-04-08 21:27] guylando commented on #888
@jnm2 Thanks, I will check this out when I get to the conversion to net core (which will be a must when asp.net 3 is out since it only supports net core from what I understood).
The apis we use in pdfsharp are:
1. Set document title
2. AddPage
3. AddSection
4. AddParagraph including the ability to declare space after and space before (in cm or similar)
5. AddImage
6. AddText
7. fonts, font sizes,

[2019-04-08 21:29] guylando commented on #888
@jnm2 Note however that pdfsharp already has some net standard ports as written in the final comments here https://github.com/empira/PDFsharp/issues/6

[2019-04-08 21:47] kieronlanning commented on #2539
@MichaelSimons Thanks for updating Docker, builds are now working.

Sorry - I mis-quoted myself. We had the .NET Core Install YAML Pipeline Task and it _was_ failing to find the 2.2.202 SDK. When we changed it back to 2.2.105, it worked.

When we ran it on a public hosted agent, it worked. On a private one it failed. This was repeatable until Monday evening (yesterday), and it's now finding it - z

[2019-04-08 22:30] Eilon commented on #2531
Hi @TheresaPinter , were you able to get this working?

[2019-04-09 00:26] leecow commented on #2543
Correct, this is X64 only at the moment. Getting the package repo set up for ARM support is on the list tentatively for the 3.0 release later this year. In the meantime, you can install using the tar.gz file as detailed in the [linux setup](https://github.com/dotnet/core/blob/master/Documentation/linux-setup.md) doc.

[2019-04-09 00:26] #2543 closed

[2019-04-09 00:48] deninzane opened #2551 ".NET"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-04-09 03:18] karelz commented on #2551
No info about problem, closing.

[2019-04-09 03:18] #2551 closed

[2019-04-09 05:26] mkSanalogic commented on #2283
Hmm. I cannot get it to work with any windows dll either.

I do not remember which exact dlls I tried when I ran my tests, but I presume it must've been some of our own dlls, since (a) I could be sure they were indeed x86 or x64 and (b) that's what I intended to use the functionality for in the first place. I do not want to read versioning information from any random dll, I just wanted to read tha

[2019-04-09 06:32] rsmmukesh commented on #2523
Hi,
@karelz , Thanks for the support. It is actually a bug in 2.2 version. They are fixed in 3.0 preview.

[2019-04-09 07:09] vitek-karas commented on #2283
If all you need is to read metadata from the assembly, then the better choice is `MetadataLoadContext`. Some details can be found [here](https://docs.microsoft.com/en-us/dotnet/core/whats-new/dotnet-core-3-0#type-metadataloadcontext). It's a netstandard2.0 package, so it should work even on 2.2, but I haven't tried myself. It actually might work with even native image assemblies since it's not loa

[2019-04-09 11:02] amatobuononato opened #2552 "4NG7GD5TCYR2"
# Issue Title

Be as descriptive as you can with your title.

# General

Provide details on the problem you are experiencing including the .NET Core version, operating system version and anything else that is relevant.

Please provide a code sample for your issue if it is relevant, either inline, link to a gist (or similar) or add it as a zipped attachment.

For some issues, you will get a quicker

[2019-04-09 11:07] ryanrazer opened #2553 "OmniSharp Failed to load project file - .net Ubuntu"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-10/sdk-current
Operating System: Linux Ubuntu 18.10 - x64

My issue:

"**Some projects have trouble loading. Please review the output for more details.**"
Gives me:
_[info]: OmniSharp.MSBuild.ProjectManager
        Loading project: /home/ryan/Programiranje/C#/test/test.csproj
[warn]: OmniSharp.MSBuild.Proje

[2019-04-09 11:40] ryanrazer commented on #2553
On a further note i checked the path of .net and found there is no tools folder as path suggestes:
_PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin:/home/ryan/.dotnet/tools_

![Screenshot from 2019-04-09 13-39-48](https://user-images.githubusercontent.com/35896955/55797558-0dede200-5acd-11e9-8237-1b057c48466a.png)

[2019-04-09 11:56] dasMulli commented on #2553
Duplicate of https://github.com/OmniSharp/omnisharp-vscode/issues/2965 ?

Try the 2.2.105 which should be compatible with the MSBuild / tooling version that OmniSharp uses at the moment.

[2019-04-09 16:42] karelz commented on #2552
No content, closing.

[2019-04-09 16:42] #2552 closed

[2019-04-09 19:07] leecow opened #2555 ".NET Core April Update - 2.1.10 and 2.2.4"
Included fixes address security issues detailed in the release notes.

## .NET Core

If you are a Visual Studio customer, please read the note included in the Release Notes regarding which SDK is supported by your version of Visual Studio.

* **.NET Core 2.1.10 and .NET Core SDK 2.1.506**
  [Release Notes](https://github.com/dotnet/core/blob/master/release-notes/2.1/2.1.10/2.1.10.md)
  [Download 2

[2019-04-09 20:03] upixsoul opened #2557 "why certificates are null using .NET Core 2 but it works just fine with .NET Framework 4.6.2?"
# Issue Title

certificates are null using .NET Core 2

# General

I have been doing some test migrating .NET Framework 4.6.2 apps to .NET Core 2. I noticed that this particular app, a monitoring http is not working fine with Net Core 2. Can you please help me to verify what is happening?

`static void Main(string[] args)`
`{`
`            try`
`            {`
`                HttpWebRequest myhtt

[2019-04-09 20:04] ryanrazer commented on #2149
Thanks for that, you saved my day right there!

[2019-04-09 20:24] #2545 closed

[2019-04-09 20:25] leecow commented on #2557
@nguerrera @dougbu @anurse

[2019-04-09 20:29] anurse commented on #2557
@leecow This doesn't look ASP.NET related to me, it's referencing WebRequest. It looks like a corefx issue.

[2019-04-09 20:40] leecow commented on #2557
@karelz

[2019-04-09 20:46] Yanal-Yves opened #2558 "Unable to install aspnet core 2.2 on CentOS 7"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/centos/runtime-current
Operating System: Linux CentOS / Oracle - x64

I just started a new official CentOS 7 VM on AWS EC2  and run the following command

[code]

The last command generates the following error, any idea what should I do to install aspnet core 2.2 on CentOS7?

[code]

[2019-04-09 21:11] dhuyvett opened #2559 "Unable to install aspnet core 2.1 on CentOS 7"
Trying to install aspnetcore 2.1 on a clean centos image as per: https://dotnet.microsoft.com/download/linux-package-manager/centos/runtime-2.1.10

`# rpm -Uvh https://packages.microsoft.com/config/rhel/7/packages-microsoft-prod.rpm`
 succeeds

`# yum update`
 succeeds

`# yum install aspnetcore-runtime-2.1`
 fails

[code]

Tried : `yum --enablerepo=packages-microsoft-com-prod clean metadata`
  no

[2019-04-09 21:11] TheresaPinter commented on #2531
I think I am going to circle back around to this in about a week or so. I
am just reviewing C# language. Thanks for checking in.

On Mon, Apr 8, 2019 at 6:31 PM Eilon Lipton <notifications@github.com>
wrote:

--

[2019-04-09 21:22] dhuyvett commented on #2559
possibly related and possibly a separate issue: yum update on a centos 7 system with 2.1.9 installed also fails:

[code]

[2019-04-09 21:23] Eilon commented on #2531
@TheresaPinter got it. I'll close this issue for now but if you hit a new issue while doing the tutorial, please file an issue at https://github.com/aspnet/AspNetCore.Docs (if you suspect an issue with the tutorial itself), or https://github.com/aspnet/AspNetCore (if you suspect it's an issue with ASP.NET Core). Thanks!

[2019-04-09 21:23] #2531 closed

[2019-04-09 21:51] Nothing-Works commented on #2555
@leecow  Hi I am Mac user, just went to the [download page](https://dotnet.microsoft.com/download/dotnet-core/2.2) and I am wondering why mac does not have 2.2.203 only 2.2.106?

I am quite new to .Net Core, does it mean that as long as it's 2.2.4, the SDK version does not matter?

[2019-04-10 01:10] 15092368540 opened #2560 "Core 3.0 预览版编译的 WinForm 程序在没有安装 Runtime 并配置的系统上无法运行"
我希望 Core 编译的 WinForm 程序只要与依赖的 dll 文件同处于同一目录中就可以正常运行，而无需安装和配置 Runtime，即便是在 Win PE 上也可以运行

[2019-04-10 01:45] PranksterHalcyon opened #2561 ".NET SDK problem (0xc000007b)"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Whenever I type dotnet on cmd to make sure everything is installed correctly, this error (0xc000007b) pops up stating the application was unable to start correctly.

Hope you can accommodate me!
![image](https://user-images.githubusercontent.com/49463587/55845641-92555a80-5af7-1

[2019-04-10 02:03] karelz commented on #2561
Given that it is the first report I see of this type, I would guess corrupted install or machine. Try different machine or VM.

[2019-04-10 02:11] karelz commented on #2560
Please use English. We do not scale to translate from various languages ourselves.

Translation:
I want the Core-compiled WinForm program to work as long as it is in the same directory as the dependent DLL files without having to install and configure Runtime, even on Win PE

[2019-04-10 02:12] karelz commented on #2560
Self-contained applications should enable that.
Not sure if WinPE is supported though - there may be some important OS components missing there.

[2019-04-10 02:12] #2560 closed

[2019-04-10 02:26] fafairuz commented on #2559
Having the same issue.

But I can install dotnet-sdk-2.1.4 just fine. Something wrong in the rpm spec?

[2019-04-10 04:02] cuibty commented on #2559
+1

[2019-04-10 04:37] chenli118 commented on #2558
Package                  Arch    Version    Repository                    Size
================================================================================
Installing:
 dotnet-sdk-2.2           x86_64  2.2.203-1  packages-microsoft-com-prod  114 M
Installing for dependencies:
 aspnetcore-runtime-2.2   x86_64  2.2.4-1    packages-microsoft-com-prod   30 M
 dotnet-host              x86_64  2.2.4

[2019-04-10 04:47] tristanbarcelon opened #2563 "Recent dotnetcore 2.1, 2.2 release.json structure change broke the ability to predictably parse sdk, windows hosting, and runtime files"
Hi @leecow, it seems there was a recent structural change to the release manifest files for [dotnetcore 2.1](https://dotnetcli.blob.core.windows.net/dotnet/release-metadata/2.1/releases.json) and [dotnetcore 2.2](https://dotnetcli.blob.core.windows.net/dotnet/release-metadata/2.2/releases.json) and it appears to have broken my extraction logic for pulling either sdk, windowshosting, or runtime fil

[2019-04-10 05:39] abowen commented on #2559
Side note, if it helps anyone else that is dependent on this in AWS.

For our deployment, we were installing .NET core to a Linux AMI.

Until this is fixed, we are using AMI : amzn2-ami-hvm-2.0.20180622.1-x86_64-gp2-dotnetcore-2018.12.12

[2019-04-10 07:01] spATLASti opened #2564 "The "Create Feedback" button does not work in Safari 12.1 on macOS 10.14.4"
# Issue Title
The "Create Feedback" button does not work in Safari 12.1 on macOS 10.14.4

# General

1. Coming from https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
2. When clicking "I ran into an issue"
3. The "Create Feedback" button does not work in Safari 12.1 on macOS 10.14.4

[2019-04-10 07:12] Yanal-Yves commented on #2558
I am now having the same error as @chenli118 now.

Any idea?

[2019-04-10 07:59] michalhainc commented on #2559
+1

[2019-04-10 08:08] fschlaef commented on #2555
@leecow be advised, the "Blog Post" link in https://github.com/dotnet/core/blob/master/release-notes/2.2/2.2.4/2.2.4.md#changes-in-224 forwards to

https://devblogs.microsoft.com/dotnet/net-core-march-2019/

Should be :

https://devblogs.microsoft.com/dotnet/net-core-april-2019-updates-2-1-10-and-2-2-4/

[2019-04-10 08:27] SjoerdWesterhof commented on #1781
@leecow @karelz
Hi Guys. So i got the intention from @leecow answer that MS is working on some automatic update mechanism for .NET core for Patch updates. I can't find a github issue regarding this feature however.

So can i conclude for now that:
- There currently is no automatic update feature for patch versions of the .NET core SDK?
- The best ways around this is some custom parsing of the http

[2019-04-10 08:33] blackside2000 opened #2565 "When I try to install he can add the key (Doesnt find KeyServer) and dont download the List."
Problem encountered on "Ubuntu .Net Installation Tutorial"
Operating System: Linux Ubuntu 18.04 - x64

I copy and paste the commands correctly and try many different solutions but the issue happens, the terminal says that he doesnt find the key server and the List file is not found making unable to install .Net on Ubuntu. This happens with some apps too.

[2019-04-10 08:54] Hondo2019 opened #2566 "CollectibleAssembly / AddApplicationPart => IISExpress crash"
I got myself the latest .net core 3 preview and tested the new CollectibleAssembly thing.

I am loading an assembly containing a controller and add it as applicationpart using mvcBuilder.AddApplicationPart.

When I use 'isCollectible=false', everything works as expected, controllers actions can be browsed.
Using 'isCollectible=true' makes iisexpress crash after reloading the page couple of times.

[2019-04-10 09:10] Hondo2019 commented on #2566
IISExpress exit code is 0x80000003

[2019-04-10 10:02] jsrgjcy commented on #2558
+1

[2019-04-10 10:21] roikra commented on #2558
Also facing the same issue.

Transaction Summary
========================================================================
Install  1 Package (+6 Dependent packages)

Total size: 179 M
Installed size: 196 M
Is this ok [y/d/N]: y
Downloading packages:

Package dotnet-runtime-2.2.4-x64.rpm is not signed

[2019-04-10 10:22] jaykrell opened #2567 "libicu55 dependencies conflicts with libcicu60 used by others"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/sdk-current#ubuntu18-04-issue
Operating System: Linux Ubuntu 18.04 - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-04-10 10:45] Rwing commented on #2558
+1

[2019-04-10 11:13] lcals commented on #2558
+1

[2019-04-10 11:48] sudheerforu opened #2568 "No package rh-dotnet22 available"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/rhel/runtime-2.2.4
Operating System: Linux RHEL - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-04-10 11:49] sudheerforu commented on #2568
[micloud@blrvslalm0026 ~]$ sudo yum install rh-dotnet22 -y
Loaded plugins: product-id, subscription-manager
https://cdn.redhat.com/content/beta/rhel/server/7/x86_64/rt/os/repodata/repomd.xml: [Errno 14] HTTPS Error 403 - Forbidden
Trying other mirror.
To address this issue please refer to the below knowledge base article

https://access.redhat.com/solutions/69319

If above article doesn't help to

[2019-04-10 12:32] Ruberoid commented on #2558
`sudo yum -y install aspnetcore-runtime-2.2 --nogpgcheck`

[2019-04-10 12:51] luto commented on #2558
Installing software without signatures is a bad idea, because you cannot trust that the packages actually came from the dotnet team. Signatures are enforced in the default `microsoft-prod.repo` for a reason. Please do not skip them.

[2019-04-10 13:21] kedf commented on #2559
+1

[2019-04-10 15:28] lionzhou1981 commented on #2559
+1

[2019-04-10 15:30] karelz commented on #2559
@dagood can you please take a look or route it?
Looks serious

cc @omajid @tmds

[2019-04-10 15:31] karelz commented on #2558
Is it similar to #2559? @dagood
cc @omajid @tmds

[2019-04-10 15:34] karelz commented on #2568
@dagood @leecow
@omajid @tmds

[2019-04-10 15:36] dagood commented on #2559
I asked @leecow about this (https://github.com/dotnet/core-setup/issues/5759) and the RPMs weren't signed correctly for this release. @vivmishra is working on fixing it.

[2019-04-10 15:37] dagood commented on #2558
Looks like it to me. 😞 Copying from there to keep people in the loop:

[2019-04-10 15:38] karelz commented on #2567
Looks similar to #1822 -- @dagood?
cc @omajid @tmds @tarekgh

[2019-04-10 15:39] karelz commented on #2558
Duplicate of https://github.com/dotnet/core-setup/issues/5759

[2019-04-10 15:39] #2558 closed

[2019-04-10 15:39] karelz commented on #2559
Duplicate of https://github.com/dotnet/core-setup/issues/5759

[2019-04-10 15:39] #2559 closed

[2019-04-10 15:41] karelz commented on #2566
@Hondo2019 do you have a repro? Are you able to reproduce on another machine?
Did you try to minimize the repro? Can you please share it?

@janvorli to comment ...

[2019-04-10 15:43] omajid commented on #2568
@sudheerforu Can you install any other packages? Does `sudo yum install coreutils` work? If not, I would suggest contacting Red Hat support to figure out what is configured incorrectly with your installation.

[2019-04-10 15:43] karelz commented on #2565
@blackside2000 can you please post exact steps you did and what was the result?
Did you get the same problems on more than 1 machine / VM?

[2019-04-10 15:45] karelz commented on #1781
I think some of it is covered in #1541 - @dleeapho is driving the effort AFAIK

[2019-04-10 15:45] tmds commented on #2568
https://access.redhat.com/solutions/69319

@sudheerforu have you done this?

[2019-04-10 15:47] karelz commented on #2555
@fschlaef thanks! Fixed: https://github.com/dotnet/core/commit/1b3b626848613320599f945d70a8583dff3ccac1#diff-3fe8fb440ad10bde0667d99db10fa9ce ... in future, feel free to submit PR with the fix ;)

[2019-04-10 15:49] karelz commented on #2564
@leecow @mairaw do you know where is the web site functionality tracking?

[2019-04-10 15:55] dagood commented on #2567
No, this looks related to the unfortunate version-specific `libicuXX` dependency in our Debian packages.

The Ubuntu 18.04 `dotnet-runtime-deps-2.2` package *should* depend on `libicu60`, so this conflict doesn't make sense. I have a writeup of this issue at https://github.com/dotnet/core-setup/issues/4247#issuecomment-480553725 for some more info how how this could be caused. (Basically: unclean

[2019-04-10 16:02] karelz commented on #2567
@dagood should we move it to core-setup? Or is it too early?

[2019-04-10 16:04] sudheerforu commented on #2568
I am able to install other software’s using yum

Regards
Sudheer T

________________________________
From: Omair Majid <notifications@github.com>
Sent: Wednesday, April 10, 2019 9:15:05 PM
To: dotnet/core
Cc: sudheerforu; Mention
Subject: Re: [dotnet/core] No package rh-dotnet22 available (#2568)

@sudheerforu<https://github.com/sudheerforu> Can you install any other packages? Does sudo yum instal

[2019-04-10 16:05] sudheerforu commented on #2568
Yes I have done that but no luck

Regards
Sudheer T

________________________________
From: Tom Deseyn <notifications@github.com>
Sent: Wednesday, April 10, 2019 9:16:17 PM
To: dotnet/core
Cc: sudheerforu; Mention
Subject: Re: [dotnet/core] No package rh-dotnet22 available (#2568)

To address this issue please refer to the below knowledge base article
https://access.redhat.com/solutions/69319

@su

[2019-04-10 16:23] dagood commented on #2567
Good point, moving.

[2019-04-10 16:23] #2567 closed

[2019-04-10 16:23] dagood commented on #2567
Issue moved to [dotnet/core-setup #5780](https://github.com/dotnet/core-setup/issues/5780) via [**ZenHub**](https://www.zenhub.com/)

[2019-04-10 16:23] dagood commented on #2567
Moved to https://github.com/dotnet/core-setup/issues/5780.

[2019-04-10 16:32] omajid commented on #2568
@sudheerforu Have you tried doing all the steps on https://access.redhat.com/documentation/en-us/net_core/2.2/html/getting_started_guide/gs_install_dotnet#install_register_rehel? Does that work?

[2019-04-10 18:33] mattzink commented on #2555
Which SDK do I install if I used both VS 2017 and 2019?

[2019-04-10 20:26] leecow commented on #2555
@mattzink - We're going to add some decorations to the download site to help with that information. In the meantime, details are in the release notes. Short answer: 2.1.506 or 2.2.106 for 2017 and 2.1.603 or 2.2.203 for 2019.

[2019-04-10 20:50] leecow commented on #2563
Hi @tristanbarcelon - Sorry for the confusion here. We're busy working on a way to simplify matters but that will take some time.

The current nature of the SDK is that we can and will have multiple versions which include different toolsets supporting different versions of Visual Studio. The month we have ...

- SDK 2.1.105 and 2.2.106 with Runtime 2.1.10 and 2.2.4 respectively. For use with Visua

[2019-04-10 21:01] leecow commented on #1781
@SjoerdWesterhof - determining if, how and when to automatically update is an ongoing conversation. As you rightly note, the beginnings are detection and the releases-index.json and releases.json files are ready for use. I have prototyped a cross-plat library or using the data which @dleeapho 's team will be looking at soon-ish to hopefully make something broadly available. This would happen in th

[2019-04-10 21:06] leecow commented on #2564
@rowanmiller

I tried this on my system (also Safari 12.1 / macOS 10.14.4) and it worked fine.

[2019-04-10 21:09] benster1 opened #2569 "-bash: dotnet: command not found"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/install
Operating System: macos

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
after runing dotnet new webApp -o myWebApp --no-https  I get  -bash: dotnet: command not found
dotnet sdk alread

[2019-04-10 21:11] rowanmiller commented on #2564
@spATLASti Is it the `Leave feedback` button that you are talking about? If so, was the issue that nothing happened when you clicked it?

![image](https://user-images.githubusercontent.com/4741851/55913876-8f5f7600-5b9a-11e9-93cf-3b95021fd1d1.png)

[2019-04-10 21:51] leecow commented on #2569
The installer should have added the dotnet install location to your path. Could you run the following in a terminal window and see if any dotnet entries are shown?

`echo $PATH | grep dotnet`

[2019-04-10 23:17] mattzink commented on #2555
@leecow Sorry, I probably wasn't clear. I need to use **both** VS 2017 and 2019 depending on the project. Should I install both 2.2.106 and 2.2.203 SDKs?

[2019-04-11 02:31] karelz commented on #2497
No response for 2 weeks, closing. Feel free to reopen if you have more details. Thanks!

[2019-04-11 02:31] #2497 closed

[2019-04-11 02:32] karelz commented on #2496
No response, closing. Feel free to reopen when there's more info. Thanks!

[2019-04-11 02:32] #2496 closed

[2019-04-11 02:32] karelz commented on #2491
No response, closing. Feel free to reopen when there's more info. Thanks!

[2019-04-11 02:32] #2491 closed

[2019-04-11 02:33] karelz commented on #2486
@rowanmiller ping?

[2019-04-11 02:33] karelz commented on #2420
Gentle ping

[2019-04-11 02:34] karelz commented on #2332
No response, closing. Feel free to reopen when there's more info. Thanks!

[2019-04-11 02:34] #2332 closed

[2019-04-11 02:34] karelz commented on #2324
No response, closing. Feel free to reopen when there's more info. Thanks!

[2019-04-11 02:34] #2324 closed

[2019-04-11 02:35] karelz commented on #2226
No response, closing. Feel free to reopen when there's more actionable info as asked above. Thanks!

[2019-04-11 02:35] #2226 closed

[2019-04-11 02:35] karelz commented on #2164
@JeremyKuhne ping?

[2019-04-11 02:36] karelz commented on #2533
No response, closing. Feel free to reopen when there's more info. Thanks!

[2019-04-11 02:36] #2533 closed

[2019-04-11 02:36] karelz commented on #2525
No response, closing. Feel free to reopen when there's more info. Thanks!

[2019-04-11 02:36] #2525 closed

[2019-04-11 02:36] karelz commented on #2524
No response, closing. Feel free to reopen when there's more info. Thanks!

[2019-04-11 02:36] #2524 closed

[2019-04-11 02:37] karelz commented on #2512
@nguerrera ping?

[2019-04-11 02:37] karelz commented on #2510
No response, closing. Feel free to reopen when there's more info. Thanks!

[2019-04-11 02:37] #2510 closed

[2019-04-11 02:37] karelz commented on #2507
No response, closing. Feel free to reopen when there's more info. Thanks!

[2019-04-11 02:37] #2507 closed

[2019-04-11 02:37] karelz commented on #2506
No response, closing. Feel free to reopen when there's more info. Thanks!

[2019-04-11 02:37] #2506 closed

[2019-04-11 02:44] chenli118 commented on #2558
Fixed .change /etc/yum.repos.d/microsoftxxx.repos  gpgcheck=0

[2019-04-11 03:36] yyjdelete opened #2571 "Reference transitive not working when app and libs has different targetFramework"
Maybe two issues, and not sure where to report it(microsoft/msbuild, dotnet/sdk, dotnet/corefx, dotnet/standard; dotnet/project-system, visualstudio; etc?), so copy it from dotnet/sdk#3103.

# Issue Title

Reference transitive not working when app and lib has different targetFramework, and the lib use an transitive reference from special targetFramework of an multi-targetFramework PackageReference

[2019-04-11 05:40] cremor commented on #2542
@peterhuene @leecow
Please also make sure that the "main" download page https://dotnet.microsoft.com/download clearifies this and offers downloads for both VS2017 and VS2019. Right now you can only download the VS2019 compatible .NET Core from there

[2019-04-11 06:14] sudheerforu commented on #2568
I have performed all the issues given in the above link and it worked,Thank you all.

[2019-04-11 06:14] #2568 closed

[2019-04-11 06:57] Hondo2019 commented on #2566
I did not succeed creating a repro yet, it seems to work in a simple scenario. I will keep trying.
Does the IISExpress exit code indicate anything?

[2019-04-11 07:01] spATLASti commented on #2564
Exactly.

[2019-04-11 07:53] fschlaef commented on #2555
I'll add another question : I accidentally downloaded and installed 2.2.203 but I use Visual Studio 2017, however everything seems to be working just fine.

Can I keep it like this or should I install 2.2.106 instead ?
What are the differences between the two versions ?

[2019-04-11 08:06] vRITHNER opened #2572 ""HTTP Error 500.30 - ANCM In-Process Start Failure" with Microsoft.AspNetCore.App on Azure"
# Issue Title
"HTTP Error 500.30 - ANCM In-Process Start Failure" with Microsoft.AspNetCore.App on Azure

# General
Hi,
I recently learned you'll remove soon

.
To anticipate this move, I replaced in my solution the package in all projects with

Now, both projects (AspNet Core 2.2 Web + AspNet Core 2.2 WebApi work in localhost both in IISExpress or Dotnet.exe

When I re-deploy the same projects on

[2019-04-11 10:31] batsword opened #2573 "not use anymore!!!!!!"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/centos/sdk-2.1.300
Operating System: Linux CentOS / Oracle - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

----------------------------------------------------------------
rpm -Uvh https://pac

[2019-04-11 10:39] anviljdp2 opened #2574 "How do I add a line and then save "Program.cs" in Notepad and then in "Command Prompt" run "dotnet run" again?"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/edit
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

How do I add a line and then save "Program.cs" in Notepad and then run "dotnet run" again? My "Program.cs" ended up

[2019-04-11 12:17] ufalak opened #2575 "Unable to find a stable package System.Data.SqlClient with version (>= 4.6.1)"
Unable to find a stable package System.Data.SqlClient with version (>= 4.6.1)

When i tried to pull the package i get the error
Unable to find a stable package System.Data.SqlClient with version (>= 4.6.1)

[2019-04-11 12:45] RehanSaeed commented on #915
Is this project dead? The latest [NuGet package](https://dotnet.myget.org/feed/dotnet-core/package/nuget/ILLink.Tasks) was from 2018 and there has been no recent news (that I can find).

[2019-04-11 13:26] farlock85 commented on #2283
Since the last update I'm running into the same issue, except the odd thing is that our app runs fine for a few days doing the exact same operations and then suddenly this:

[code]

Which is just this code:
[code]

The `fileName.dll` comes from a dynamically compiled assembly.

When I restart the app pool, it works fine again, with the exact same assemblies.

[2019-04-11 13:32] vitek-karas commented on #2283
@farlock85 By "the same issue" you mean that your code starts to fail with `Bad IL Format` exceptions?
Would it be possible to change the code to catch this exception and save the file someplace so that we can try to repro the problem?

The fact that it works fine for several days and then fails feels more like some kind of robustness issue, some kind of leak or something similar. But it's really

[2019-04-11 13:40] farlock85 commented on #2283
@vitek-karas sorry that's correct yes, I only posted the first 2 lines of the stacktrace.
` System.BadImageFormatException: Bad IL format.` is the exception.

I'm digging a bit more into it because I actually cache the loaded DLL's and try to use them afterwards, so now trying to pinpoint where the issue exactly occurs.

[2019-04-11 14:40] dagood opened #2576 "Update Linux package repository install instructions: reference EOL distro versions"
Originally: *Update openSUSE Leap install instructions: references EOL 42.2 version*

I noticed that Fedora 27 and Fedora 28 share the "27" feed, and 27 is actually EOL too, so that's in a similar situation. This should go all the way up to Fedora 30 now.

---

From https://github.com/dotnet/core-setup/issues/5662#issuecomment-482006340:

Currently the download page looks (in part) like this:

<im

[2019-04-11 14:50] nprokopic commented on #2555
@fschlaef It seemed to be working for me as well on my dev machine (version `2.2.202`), but on Team City I've got MSBuild compatibility error like [this](https://stackoverflow.com/questions/55420731/msbuild-fails-for-net-core-sdk-version-2-2-202):

Then found this `2.2.1XX` (for VS 2017) vs `2.2.2XX` (for VS 2019) difference and went with `2.2.1XX` train.

[2019-04-11 15:23] sbomer commented on #915
@RehanSaeed the current package has many issues because the extension points it uses to hook into the SDK have drifted (see https://github.com/dotnet/sdk/issues/2583). We are reworking the experience with what will hopefully be a longer-term solution, and the plan is for it to be a part of the SDK. You can follow the work going on at https://github.com/mono/linker if you're interested. Stay tuned

[2019-04-11 17:02] rowanmiller commented on #2564
Thanks for confirming. There are occasions when the system we use for in-site feedback isn't loaded and we should handle this more gracefully. I've opened an issue to fix this in our internal bug tracker for the website.

[2019-04-11 17:02] #2564 closed

[2019-04-11 17:09] rowanmiller commented on #2486
@dagood @leecow can you let me know which distros the instructions should be displayed for?

At the moment we display this for Ubuntu 18.04

![image](https://user-images.githubusercontent.com/4741851/55976585-97262580-5c41-11e9-9b40-80af71bc3a8f.png)

And this for Ubuntu 16.04 and 14.04

![image](https://user-images.githubusercontent.com/4741851/55976617-ae651300-5c41-11e9-8b5e-80e1297e4bb5.png)

[2019-04-11 17:11] rowanmiller commented on #2576
Does this just require updating the instructions, or are changes needed to make packages available on the relevant feeds first?

[2019-04-11 17:18] dagood commented on #2576
@leecow and @vivmishra are probably able to answer that question.

(Some more context from the core-setup issue: individual 42.3 and 15 (.0?) feeds do already exist (https://packages.microsoft.com/config/opensuse/) but I don't know what's on them so I'm not sure what should be linked to.)

[2019-04-11 17:23] Huck commented on #2540
Been having the exact same issue for a week now on Ubuntu 18.04. Is there any fix in sight?  downgraded to 105 for now but we can't stay on a stale version for ever.

Does anybody have a solution?  thanks

[2019-04-11 17:31] timmyreilly commented on #2542
This is very silly. It took us two hours to find this issue. Mostly because this isn't the first time this sort of issue has happened:
This is the type of clutter that already exists for similar issues:
![image](https://user-images.githubusercontent.com/8118355/55978574-ef125b80-5c44-11e9-8545-e0d5b33879a6.png)

This was the stackoverflow post that finally helped: https://stackoverflow.com/a/55535

[2019-04-11 17:49] dagood commented on #2486
<details><summary>It's missing for Ubuntu 18.10 (where it was hit in this issue)</summary>

https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-10/sdk-2.2.105

<img alt="18.10" src="https://user-images.githubusercontent.com/12819531/55978793-48cf5180-5c56-11e9-85f8-27726f3c83f3.png">

</details>

@mbearup have any thoughts on this? Is there any point where this notice doesn't have

[2019-04-11 18:18] JeremyKuhne commented on #2164
I don't think there is anything more we can do here. We need to lock. If a better locking feature in Unix shows up in the future we can certainly look into it.

[2019-04-11 18:18] #2164 closed

[2019-04-11 18:48] leecow commented on #2555
@mattzink  and @nprokopic - It looks like VS on Windows has a bit of a safety buffer for this issue in most cases though, as pointed out, there are some scenarios where MSBuild compat will come up.

@fschlaef - the key differences are lower level tooling updates; compilers, MSBuild and NuGet being the key components.

[2019-04-11 18:50] leecow commented on #2573
Could let us know the exact message you see when attempting to install?

[2019-04-11 19:16] leecow commented on #2576
I've been reluctant to chase the repo versioning when installers and dependencies are compatible across distro versions. Looking at this again to develop a plan/process for maintenance.

[2019-04-12 03:09] rosdi commented on #2542
I have Visual Studio 2019 version 16.0.1 and .NET SDK 2.2.203, but still the .NET Core 2.2 is not displayed in Target Framework.

I posted a question here:
https://stackoverflow.com/questions/55643900/visual-studio-2019-does-not-display-net-core-2-2-in-target-framework-dropdown

[2019-04-12 03:26] ferdeli commented on #2542
Why VS? I got this issue on my local too, and I am using windows and I do have VS 2017. But what will happen if I use Linux, like Ubuntu? I think the build engine for .NET Core should be self-contained, no need to check what I have installed. Sorry if I misunderstand this, and please correct me if I am wrong. Thanks.

[2019-04-12 03:43] rosdi commented on #2542
Meh.. this is embarassing. I had global.json file in my project root folder that specifies .NET Core 2.1 ... that's why Visual Studio refused to show 2.2 Target Framework.

Deleting this file solves my problem immediately.

[2019-04-12 05:26] leung85 opened #2577 "IL Linker fail with webapi porject (linux-arm) docker"
I create a simple webapi project by vs2019 and try to docker build with linux-arm.
It build fail with IL Linker  but can be build success without it.
Is  IL Linker not support arm/webproject yet?

Dockerfile:
[code]

Output:
[code]

[2019-04-12 05:45] batsword commented on #2573
i have used docker replace that way

[2019-04-12 05:51] batsword commented on #2573
yum install aspnetcore-runtime-2.1
or
yum install aspnetcore-runtime-2.2

ehco back:
loaded plugins:fastestmirror
`
`
`
No package aspnetcore-runtime-2.1  available.
Error:Nothing to do

@leecow

[2019-04-12 06:05] spATLASti commented on #2564
Thank you all for the work!

[2019-04-12 07:30] dnickless commented on #2575
I am seeing the same error message when trying to install v2.1.0 of the Microsoft.Windows.Compatibility NuGet into a .NET Standard 2.0 project.

[2019-04-12 08:38] jitendriyag2 commented on #1943
I am having same issue while using Service Bus service

[2019-04-12 08:43] jitendriyag2 commented on #1943
My Issue was fixed by replacing nuget package from Windows.Azure.ServiceBus (.Net FW) to Microsoft.Azure.ServiceBus(.Net Standard)

[2019-04-12 10:00] Eevoo commented on #2542
This was the fix for why I was suddenly unable to load / reload my project. VS 2017 kept throwing error  : Project file is incomplete. Expected imports are missing.

I guess that's what I get for running a chocolately update all -y without checking for breaking changes!

[2019-04-12 12:06] siemoppe opened #2578 "installing Flash drive driver"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-04-12 13:55] nataliaheliova opened #2579 "XSD Validation throws an exception when self-closing tag used"
I came across an issue in .NET Core 2.1 when validating an XML containing self-closing tag.

I have a model with property Value of generic type T:

[code]
The corresponding XSD Schema snippet:

[code]

Both the model and schema are part of a project targeting .NET Standard 2.0.

Then I created test project targeting .NET Core 2.1 and .NET Framework 4.6.1 where I am trying to validate (and deserial

[2019-04-12 14:02] imranulhaq opened #2580 ""the following packages have unmet dependencies" error when installing dotnetcore on ubuntu 18.04"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-10/sdk-current
Operating System: Linux Ubuntu 18.10 - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

I get the following error on the last command.
------------------------------------

[2019-04-12 14:54] karelz commented on #2580
@leecow @dagood is it known issue?

[2019-04-12 15:01] karelz commented on #2578
Unclear what the problem is, or if there is any. Closing. Feel free to reopen with additional details ...

[2019-04-12 15:01] #2578 closed

[2019-04-12 15:06] dagood commented on #2580
The steps work for me in a fresh ubuntu:18.10 Docker container. The most common reason for this to happen is that a mismatching Microsoft package repository is being used, like Ubuntu 16.04's and the old package depends on a libicu that no longer exists.

@imranulhaq Can you run these commands and post the output to help diagnose?

[code]

[2019-04-12 15:53] imranulhaq commented on #2580
There was some version mismatch issue. I was creating the latest ubuntu image (18.04) and was trying to add dotnet core with commands that were not correct for this version. Kindly refer to the below URL for getting the correct commands according to the docker OS.
https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/sdk-current#ubuntu18-04-issue

Thank you @dagood  for your prom

[2019-04-12 15:56] karelz commented on #2580
@imranulhaq is your question answered now? Or do you still need help? (sorry it is not clear to me from your reply ...)

[2019-04-12 16:00] imranulhaq commented on #2580
@karelz yeah my issue is solved now. I posted the link so that anyone else facing the same issue can use it to get the correct versions. Again much appreciated for such prompt feedback

[2019-04-12 16:03] dagood commented on #2580
Thanks for confirming, closing as resolved. 🙂

[2019-04-12 16:03] #2580 closed

[2019-04-12 16:36] leecow commented on #2573
It seems like packages.microsoft.com isn't registered correctly. Could you run `rpm -Uvh https://packages.microsoft.com/config/rhel/7/packages-microsoft-prod.rpm` again? You should see output similar to the following.

[code]

Then a search for the package ...

[code]

[2019-04-12 20:17] leecow commented on #2574
`dotnet run` will rebuild the app if any changes are detected. Can you expand on "dotnet run did not run"? Was there an error? Did it run without your code change? Did it do nothing?

[2019-04-12 20:17] leecow commented on #2569
Closing this up. If you have additional info, feel free to re-open.

[2019-04-12 20:17] #2569 closed

[2019-04-13 01:33] batsword commented on #2573
rpm -Uvh https://packages.microsoft.com/config/rhel/7/packages-microsoft-prod.rpm
sudo yum update
this work
but next step:
sudo yum install dotnet-sdk-2.1
it also tips :
No package aspnetcore-runtime-2.1 available.
Error:Nothing to do

[2019-04-13 01:35] batsword commented on #2573
yum search aspnetcore-runtime-2.1

i will try this.
later echo the result~3q

[2019-04-13 09:11] #2573 closed

[2019-04-13 10:52] wangzhiliangcn opened #2582 "install .net core 2.2 on centos"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/centos/sdk-current
Operating System: Linux CentOS / Oracle - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

When i install .net core 2.2.2 on centos 64, there is a Error:
Error downloading pack

[2019-04-13 13:13] #2582 closed

[2019-04-13 15:58] rsocol commented on #2563
@leecow, your comment is more confusing. I think you meant to wrote that this month (April 2019) we have:
- SDK 2.1.506 and 2.2.106 with Runtime 2.1.10 and 2.2.4 respectively. For use with Visual Studio 2017 and VS for Mac.
- SDK 2.1.603 and 2.2.203 with Runtime 2.1.10 and 2.2.4 respectively For use with Visual Studio 2019.

[2019-04-13 16:26] HenrikBach1 opened #2583 "Problem encountered on installation of DotNet on Linux Fedora 29 - x64"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: Linux Fedora 28 - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

I followed your above installation guide.

When I tested my `dotnet` installation in a new terminal

[2019-04-13 16:32] leecow commented on #2563
@rsocol - thanks for catching that .. fixed!

[2019-04-13 18:03] dagood commented on #2583
Moving to Core-Setup, this could be a problem with the `dotnet-host` package.

[2019-04-13 18:03] dagood commented on #2583
Issue moved to [dotnet/core-setup #5832](https://github.com/dotnet/core-setup/issues/5832) via [**ZenHub**](https://www.zenhub.com/)

[2019-04-13 18:03] #2583 closed

[2019-04-14 04:22] antonioortizpola commented on #2253
Ok, after some hard work I could update to Core 3, I was exited since our project is a GRPC Server, and I tried the Grpc Template. Sadly **after just around 8 hours working, we hit the same issue**.

The project is very simple, it just receives the grpc request and make a http call or a WSDL call to an external service, this services has various response times, from 200 milliseconds to timeouts af

[2019-04-14 07:29] siemoppe commented on #2578
I  have an Acer Aspire E 17 running under Windows 8.1, that cannot run a card reader 3.0. I updated all my drivers, but that did not help.

[2019-04-14 07:32] siemoppe commented on #2578
Oh yes,if I plug the device in, I shows on Windows explorer,but I can't open it.

[2019-04-14 08:01] karelz commented on #2578
How is that related to .NET Core?

[2019-04-14 08:04] siemoppe commented on #2578
don't know what you means(?)

[2019-04-14 09:15] Bradleyay opened #2584 "System.Runtime.CompilerServices.IAsyncStateMachine (Linux)"
## System.Runtime.CompilerServices.IAsyncStateMachine

# General

When I try to test out my dot net program on a Linux Server (Ubuntu 18.04), I receive this error out of no where. I don't know what's causing it and how I can fix it. Help would be highly appreciated, I've been trying to figure out what causes this error for days.

**SDK Version:** 2.2.105

[code]

If this is the wrong repository to

[2019-04-14 13:14] ddobric opened #2585 "Access Violation when working with huge arrays"
I'm working on some ML project and have a "huge" array:

`var x = new int[4096, 250000];`

I utilize array withing following UnitTest running in .NET Core 2.1

[code]

Method **_GetRow2_** is implemented in **_netstandard2.0_** library:
[code]

Test fails inside of method GetRow, while trying to access

![image](https://user-images.githubusercontent.com/1756871/56093334-b9c97000-5ec7-11e9-816f-c8a

[2019-04-14 15:23] tristanbarcelon commented on #2563
Hi @leecow, given the updated structure, do you have suggestions on how I could show releases based on the "type" of release. Before these recent changes, I was able to show only windows hosting, runtime, or sdk packages by taking advantage of patterns in the release manifest:

- whenever a release was an sdk release, an individual release would have an sdk property
- whenever a release was a runt

[2019-04-14 17:20] karelz commented on #2578
Same here. What is your question about? This is .NET Core GitHub repo.
If you don't know what .NET Core is, then you are in the wrong place.

[2019-04-14 17:32] NextTurn commented on #2374
This site is now redirected to dotnet.microsoft.com

https://github.com/dotnet/dotnet.github.io/commit/8f2b06ac65d7da9cd46d230390179cc98cf456b5

[2019-04-14 17:33] NextTurn commented on #2374
Closing as unneeded.

[2019-04-14 17:33] #2374 closed

[2019-04-14 17:42] NextTurn commented on #2550
`using Microsoft.AspNetCore.Components;`

[2019-04-14 20:18] Bartolomeus-649 commented on #2550
yes, I have that using.
But, it started working now after I updated VS 2019 to v 16.1.0 preview 1.0.
Also in this new version there is a suggestion to add the using, which I didn't get in the previous version.

So consider this resolved as of VS 2019 to v 16.1.0 preview 1.0.

[2019-04-14 20:18] #2550 closed

[2019-04-14 20:50] filtration commented on #2526
Hi, @leecow

Any eta on when 19.04 will be added?

Regards.

[2019-04-14 23:20] dancojocaru2000 commented on #2096
Hello! I have a similar issue.

I have a library called `libATESTAT_dtdb.dylib` on macOS.
If I use this name, the error I get is `dlopen(liblibATESTAT_dtdb.dylib.dylib, 1): image not found"`

If I try different combinations, whenever I add `lib` at the beginning, it gets doubled. Whenever I add `.dylib` at the end, it gets doubled. However, if I just import `ATESTAT_dtdb`, it doesn't add `lib` nor

[2019-04-15 05:18] daerogami commented on #2540
Same issue. Using Linux Mint 19.1
Tried using Monodevelop, VSCode and MSBuild from the CLI. Same issue everytime with both core 2.1 and 2.2 versions from apt repo

Not even sure how to get to the older build versions mentioned above.

[2019-04-15 06:36] Danie-Brink commented on #2575
Same problem here on .NET Core 2.1

[2019-04-15 13:38] mattiasw2 commented on #1400
I just failed, installed on a prestine Ubuntu 18.04.2 on DigitalOcean. Below you see everything I tried to do.

[code]

[2019-04-15 14:43] bartonjs commented on #1400
@mattiasw2 Looks like you used the feed for 16.04 instead of 18.04 on the `wget` step.

[2019-04-15 15:15] mattiasw2 commented on #1400
Yes, you are right!

[2019-04-15 15:30] dlutz52 commented on #2575
Same problem here using .NET Core 2.2

[2019-04-15 16:11] karelz commented on #2575
What are the minimal steps to reproduce? (some HelloWorld-style repro)

[2019-04-15 16:22] dlutz52 commented on #2575
Create .NET Core console app for .NET Core 2.2 using VS 2017 15.9.9
Use Package Manager console:
     Install-Package Microsoft.Windows.Compatibility -Version 2.1.0
Get error:
Install-Package : NU1103: Unable to find a stable package System.Data.SqlClient with version (>= 4.6.1)
  - Found 32 version(s) in nuget.org [ Nearest version: 4.7.0-preview.18571.3 ]
  - Found 3 version(s) in Microsoft Visu

[2019-04-15 16:27] dlutz52 commented on #2575
Plus this, if it is of any help at all:
![image](https://user-images.githubusercontent.com/10506538/56149143-bc2bd880-5f60-11e9-93f4-54a7694b96b2.png)

[2019-04-15 17:49] abelykh0 commented on #2575
Same issue exists in Visual Studio 2019 16.0.1, .Net Core SDK 2.2.202 (x64)

[2019-04-15 18:13] sapleu commented on #2253
Having the same issue on microsoft/dotnet:2.2-runtime-deps using ElasticSearch NEST 5.6.6. Very annoying issue. Can't go back to 2.1 since invested a lot of time upgrading from 2.1 to 2.2. Upgrade to 3.0 Preview is not an option.

+1 to include this fix into next 2.2 release.

[2019-04-15 18:15] antonioortizpola commented on #2253
@sapleu do not update to 3 to fix this problem, as https://github.com/dotnet/core/issues/2253#issuecomment-482918706 states, this still happens in Core 3

[2019-04-15 18:38] jamesBrosnahan opened #2587 "Typo using command to create ne project outputs excessive information"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: Linux Ubuntu 18.04 - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Typo using command outputs excessive information:
dotnet new consle -o myApp

[code]
The dotnet c

[2019-04-15 19:21] leecow commented on #2526
There are a couple things to do first.

1) build the 19.04 dependencies installer (https://github.com/dotnet/core-setup/issues/5852)
2) Have the packages.microsoft.com owners spin up a 19.04 repo. I've submitted this request but don't have an eta yet.

[2019-04-15 19:54] welkie commented on #2486
Just chiming in to mention this affected me on 18.10 as well. I never thought to look at the 18.04 instructions to see that workaround with the purge command. Some output for my system (before I ran the workaround):

[code]

[2019-04-15 21:00] dhuyvett commented on #2555
The download link for aspnetcore on linux-x86 is broken
`https://dotnet.microsoft.com/download/dotnet-core/2.1` ->
`https://dotnet.microsoft.com/download/thank-you/dotnet-runtime-2.1.10-linux-x64-asp.net-core-runtime-binaries` ->
`https://download.visualstudio.microsoft.com/download/pr/5967af9f-21d4-4b2f-a166-52af457d02aa/713e9a0f3753cf79171594bbdb92ad89/aspnetcore-runtime-2.1.10-linux-x64.tar.gz`

[2019-04-15 21:58] joshfree commented on #2587
Issue moved to the dotnet/cli repo @ https://github.com/dotnet/cli/issues/11162

[2019-04-15 21:58] #2587 closed

[2019-04-16 01:10] grantwinney commented on #2575
Most likely related: https://github.com/dotnet/corefx/issues/36902

[2019-04-16 10:21] AHero11 opened #2589 "WPF multiple ShowDialogs"
# General

with DotNetCore 3 Preview 3:
In a console-application starting a simple modal "Hello world" WPF dialog with "ShowDialog();" works fine. But after it closes, starting the same view again with ShowDialog does absolutely nothing: no view, no runtimeerror, no nothing - the programm just ignores it,

Example:
        private void Application_Startup(object sender, StartupEventArgs e)

[2019-04-16 15:50] joshfree commented on #2517
Hi @acesnik it looks like @leecow has helped resolve the issue and that there's no further assistance needed at this point.  I'm closing the issue; feel free to reopen and provide more details if there's anything else.  Thanks

[2019-04-16 15:50] #2517 closed

[2019-04-16 17:31] idzireit opened #2590 "command line install of dotnet-sdk error on Kali"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: Linux Debian 9 - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

The following packages have unmet dependencies:
 dotnet-sdk-2.2 : Depends: aspnetcore-runtime-2.2 (>

[2019-04-16 17:39] karelz commented on #2590
@dagood is it known problem?

[2019-04-16 18:05] dagood commented on #2590
Yeah, copying from https://github.com/dotnet/core/issues/2521:

Kali Linux isn't a supported distro, but there are ways to get this to work--see https://github.com/dotnet/core/issues/2392:

[2019-04-16 18:05] #2590 closed

[2019-04-16 23:14] karelz commented on #2512
@nguerrera ping again please?

[2019-04-17 00:46] acesnik commented on #2517
Okay, thanks!

[2019-04-17 01:03] pgkrishnan205 opened #2591 "error during dotnet core 2.2 installation on Ubuntu:"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/runtime-2.2.0
Operating System: Linux Ubuntu 18.04 - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

I get following error during dotnet core 2.2 installation on Ubuntu:
------------

[2019-04-17 02:51] tristanbarcelon commented on #2563
Hi @leecow , I was able to work around the issues I was seeing after rewriting the query and ignore/sidestep the anomalies found above so I'll close the issue for the moment. If anybody's interested in the script, please PM me and I can share.

[2019-04-17 02:52] tristanbarcelon commented on #2563
Oops, pressed the wrong button. closing it now.

[2019-04-17 02:52] #2563 closed

[2019-04-17 06:15] t5603395 opened #2592 "Installing required dependencies failed"
Title original: 注册微软键,注册产品库,并安装所需的依赖项 出现错误

Translated:
[code]

Original:
[code]

[2019-04-17 09:51] SabotageAndi commented on #2213
Any news on this?

[2019-04-17 15:11] karelz commented on #2213
@richlander ping?

[2019-04-17 15:17] dagood commented on #2591
This is likely a failure to find dependencies. What is the output when you try
`apt-get install dotnet-runtime-deps-2.2`?

[2019-04-17 15:50] upixsoul commented on #2557
Who may we contact?

[2019-04-17 15:53] leecow commented on #2563
Thanks @tristanbarcelon! See the PR for fixes to some of the anomalies and some explanations for those not being changed.

With respect to your queries, my idea behind the design is the releases-index acts as a semaphore for any changes. Monitoring that for updates to latest runtime and sdk should point to the right info.

[2019-04-17 15:57] leecow commented on #2592
Sounds like a possible internet access issue from the terminal. Can you use a browser to view https://packages.microsoft.com/config/rhel/7/?

[2019-04-17 15:58] leecow commented on #2574
Closing because thread has gone quiet. Please re-open if you have additional information.

[2019-04-17 15:58] #2574 closed

[2019-04-17 16:00] leecow commented on #2561
Closing as the thread has gone quiet. Please re-open if there is you are still having trouble and have additional information to provide.

[2019-04-17 16:00] #2561 closed

[2019-04-17 16:21] leecow commented on #2555
@dhuyvett - I just tried all of the 2.1 asp links and things seem to be working ok now. Try again?

[2019-04-17 16:29] dhuyvett commented on #2555
@leecow : confirmed that it is working now.

[2019-04-17 17:02] brennfoster commented on #2473
Sorry for not getting back to this sooner.

I typed out the content found here: https://dotnet.microsoft.com/learn/web/aspnet-microservice-tutorial/docker-file into the dockerfile and I'm still getting this error. I did this using VS Code and again using Notepad++. I shouldn't have copied any illegal characters doing this.

[2019-04-17 17:06] brennfoster commented on #2473
Here's some screenshots of the error and my docker version.

![image](https://user-images.githubusercontent.com/419283/56306798-abb26400-6100-11e9-80ec-5c51c4ed98f4.png)

![image](https://user-images.githubusercontent.com/419283/56306816-bb31ad00-6100-11e9-945d-e0972935bce0.png)

[2019-04-17 17:08] gortok commented on #2473
You're definitely getting a byte-order mark being put into that file.  You need to check the encoding of the file in Notepad++ and make sure "Encode in UTF-8 with BOM" is not selected. I would change the encoding of the file to "ANSI" and try again.  I copied the same code and typed it in manually and did not get a byte-order mark, so it's likely to be a setting on your PC that's doing this.

[2019-04-17 17:10] brennfoster commented on #2473
Okay, switching encoding to "ANSI" worked. Thank you!

[2019-04-17 17:52] leecow commented on #2584
@Bradleyay - can you provide a minimal repro so we can get a better sense of where the throw is happening?

[2019-04-18 00:31] tristanbarcelon commented on #2563
Thanks @leecow, would you be able to accept any PRs involving updates to a sha value? The query I'm writing is basically an automatic download/install tool and it would be nice if sha512 values were always present so the tool can detect if the locally cached version is valid and to retry if sha values do not match.

[2019-04-18 00:37] leecow commented on #2563
@tristanbarcelon - yes, I could accept a PR to correct a sha. Thanks again!

[2019-04-18 01:49] KathleenDollard commented on #2542
@ferdeli You can read more here: https://github.com/dotnet/announcements/issues/108

This is a problem with tools that carry their own copy of MSBuild or other tools. Tools like VS that have MSBuild 15 can't use SDKs with MSBuild 16 because we don't support forward compatibility. MSBuild is the proxy we use for compatibility of the entire toolset.

[2019-04-18 07:23] JanOonk opened #2594 "Ubuntu 18.04 - x64 dotnet runtime installation fails on Raspberry Pi 3 armhf"
I installed ubuntu-18.04.2-preinstalled-server-armhf+raspi3.img on my Raspberry Pi 3+
I followed the **Ubuntu 18.04 - x64** instructions at https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/runtime-2.1.10

Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/runtime-2.1.10
Operating System: Linux Ubuntu 18.04 - x64

Below instructions

[2019-04-18 07:48] narcis-pv opened #2595 "Dependent assembly not found when using target manifest file (FDD)"
# Local runtime store not used in probing path
Assembly not found in the local runtime store on Windows when using target manifest files. Using COREHOST_TRACE, the runtime **is not** probing store path: `C:\Program Files\dotnet\store`

[code]
# General

Project published using manifest file declared in `Project.cspro`j as following:

`<TargetManifestFiles>artifact.xml</TargetManifestFiles>`

Manif

[2019-04-18 09:58] narcis-pv commented on #2595
I've also created a repo for reproduction. You can find it [here](https://github.com/narcis-pv/dotnet-core-target-manifest-bug)

[2019-04-18 10:51] JanOonk commented on #2594
Above was for armhf. I also tried the same steps for a clean ubuntu-18.04.2-preinstalled-server-arm64+raspi3.img

[2019-04-18 11:06] mcurko opened #2596 "INPUT tag helper for DateTime (.NET Core 3)"
INPUT tag helper for DateTime data type generates INPUT element of type "datetime-local". This element type has bad browser support and it often doesn't work.

EXAMPLE
Data deinition (from the data model):

[code]

Razor view:

`<input asp-for="LastProcessedDateTime" class="form-control" readonly />`

Generated HTML:

`<input class="form-control" readonly="" type="datetime-local" data-val="true" d

[2019-04-18 14:54] dagood commented on #2594
You can't use x64 installation instructions on arm, the other approaches on https://dotnet.microsoft.com/download/dotnet-core/2.1 specifically labeled ARM32 and ARM64 should work better for you.

[2019-04-18 14:54] #2594 closed

[2019-04-18 15:42] dagood commented on #2594
There are also some instructions specific to Raspberry Pi here that will probably be useful: https://github.com/dotnet/core/blob/master/samples/RaspberryPiInstructions.md

[2019-04-18 16:00] NextTurn opened #2598 "Update .NET Core Windows installer URLInfoAbout"
Since https://dotnet.github.io is obsolete, the **support link** and **help link** should be updated, which could be seen in Windows Control Panel --> Uninstall a program.

**URLInfoAbout** is the name of the registry value.

[2019-04-18 16:03] karelz commented on #2598
@richlander @KathleenDollard can you please confirm it is obsolete and help track the updates if it is?
Thanks!

[2019-04-18 18:59] samacintyre opened #2600 "When installing an older program the installer instructed me to download .NET 2.2. I did that several times and each time I received the same message so I was never able to install my program. I even restarted the computer but that did not make any difference."
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-04-18 19:10] samacintyre commented on #2600
I am using Window 10 on a new 64-bit PC (OptiPlex 7050. This program has installed on many other computers with the same OS.

[2019-04-18 19:10] #2600 closed

[2019-04-18 19:36] Con351 opened #2601 "When I put in dotnet run, it doesn't return Hello World!"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: windows

I'm using .net core 3.0 preview 3, and the issue was that it couldn't find a project to run, however in Microsoft's own tutorial, it says it should already contain, and run, Hello World.

[2019-04-18 20:18] rrudduck commented on #2253
We just got hit by this as well. It's very rare, but I'm (somewhat) glad to see it's a know issue.

[2019-04-18 20:35] timmyreilly commented on #2542
If there was some way of clarifying to developers what environment variables need to be set, how we should configure our path, where our SDK should reside, how we should generate .csproj files, which tool we should be using with each version, and how we should manage upgrading/working between dotnet core versions would be sweet. The number of 'variables' to a local build environment configuration

[2019-04-18 21:45] leecow commented on #2601
You do need to create a new project to run. See https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create.

[2019-04-18 21:45] #2601 closed

[2019-04-18 22:05] vivmishra opened #2603 ".NET Core 3.0.0 Preview 4"
[Release Notes](https://github.com/dotnet/core/blob/master/release-notes/3.0/preview/3.0.0-preview4.md)
[Download](https://github.com/dotnet/core/blob/master/release-notes/3.0/preview/3.0.0-preview4-download.md)
[Blog post](https://devblogs.microsoft.com/dotnet/announcing-net-core-3-preview-4/)

Please report any issues you find with 3.0.0 Preview 4, either responding to this issue, creating a new

[2019-04-19 00:12] karelz commented on #2389
Superseeded by Preview 4 - see #2603

[2019-04-19 00:12] #2389 closed

[2019-04-19 00:15] sethvikas opened #2604 "Error while creating an AKS(Azure Kubernetes Service) cluster in the resource group"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-deploy-microservice-tutorial/azure-resources
Operating System: Windows 10 (version 1809)

I was trying to run the example from above URL to deploy a microservice to Azure. I was able to create the resource group successfully using the command 'az group create --name VikasTestMicroserviceResources --location westus'. The next was

[2019-04-19 00:17] karelz commented on #2592
Looks like network error, not product problem. Closing. Feel free to reopen if there is more evidence it is indeed product problem.
BTW: Please use English (at least via automated translations), thanks!

[2019-04-19 00:17] #2592 closed

[2019-04-19 05:48] vinaychandra opened #2605 "Using range operator causes InvalidProgramException"
# Issue Title

Using range operator causes InvalidProgramException in the latest dotnet core preview

# General

Donet Core Version: 3 Preview 4
Visual Studio: 16.0.2

Running an MsTest v2 that targets netcore3.0 which tests another netcore3.0 library that uses the new range operator causes an `InvalidProgramException`

Example code used in the library:
`var index = query[0..^1] + (char)(query[^1]

[2019-04-19 06:56] karelz commented on #2605
@jaredpar @GrabYourPitchforks @terrajobst @gotheap who would be best person to take a look?

[2019-04-19 07:00] GrabYourPitchforks commented on #2605
Can you provide an IL dump of the offending method, or perhaps create a minimal repro and send us a link so that we can manually inspect the resulting DLL? This would allow us to see if the issue is with the compiler generating bad IL or with the runtime misinterpreting good IL.

[2019-04-19 12:38] manish13oct opened #2607 "Windows Compatibility Pack"
# Issue Title

Cross-platform support in .Net Core "Windows Compatibility Pack" for active directory authentication

# General

Today .Net Core "Windows Compatibility Pack" only support Windows platform for active directory authentication.

I wanted to know, if Microsoft has any plan to provide cross-platform support in "Windows Compatibility Pack" for active directory authentication.

[2019-04-19 13:29] rbrugnollo commented on #2253
Got hit by this issue 2 days ago as well. It doesn't happen very often but as soon as first 'Address already in use' shows up, we can't make any other calls until the system is restarted.

[2019-04-19 15:42] vinaychandra commented on #2605
I am attaching the issue zip folder. These contain the built directories as well to figure out if there is any issue with my VS installation as well.

There is exactly one file in library and one in tests. Running the test fails with the `InvalidProgramException`. Uncommenting the marked line in the library executes the program as expected.

[issue.zip](https://github.com/dotnet/core/files/3098558

[2019-04-19 15:43] kristopher opened #2608 "Failed to fetch https://packages.microsoft.com/ubuntu/14.04/prod/dists/trusty/main/binary-amd64/Packages Hash Sum mismatch"
Failed to fetch https://packages.microsoft.com/ubuntu/14.04/prod/dists/trusty/main/binary-amd64/Packages  Hash Sum mismatch

Occurs after installing this package and running apt-get update.
https://packages.microsoft.com/config/ubuntu/14.04/packages-microsoft-prod.deb

Started getting that error this morning while running chef. Did the same runs yesterday without issue. Not sure if something in th

[2019-04-19 16:38] KathleenDollard commented on #2598
@johnbeisner do you know where this link is defined?

[2019-04-19 17:41] terrajobst commented on #2605
@agocke, could you take a look to see if the C# compiler emitted incorrect IL?

[2019-04-19 21:10] Telavian opened #2609 "Firewall exceptions don't apply when running through dotnet command"
I originally filled this issue at StackOverflow [here](https://stackoverflow.com/questions/55766545/is-it-possible-to-add-firewall-exceptions-to-a-net-core-application) however I think it makes more sense to be here also.

I have some .net core microservices that I am deploying to remote machines through [nomad](https://www.nomadproject.io/). At startup each service gets a dynamic port and uses th

[2019-04-19 21:17] phantomkingx opened #2610 "blazor.server.js fails to negotiate with server 500 error"
Using vanilla blazor template

3.0.100-preview5-011475 (issue does not exist in preview4)

[code]

[2019-04-19 21:25] cyberjaws opened #2611 "MongoDB Driver Exception in Preview 4"
I installed .NET Core Preview 4, startup my app, and received this exception. This is a .NET Core Console Application that is referencing an object in a .NET Standard Library. The types all appear appear in the debugger however the mongo driver throws this exception.

I moved back to .NET Core Preview 3, recompiled, and there is no issue.

[code]

[2019-04-19 21:57] karelz commented on #2607
Which API is that? Do you mean System.DirectoryServices namespace? Or something else?

[2019-04-19 22:00] karelz commented on #2253
Still waiting for someone to have an environment where it happens with some frequence (aka production repro) and who can try to deploy private patch out of 2.1 or 2.1 branch.
Do we have someone like that? Without that this issue is sadly blocked ...

[2019-04-19 22:22] karelz commented on #2610
cc @ahsonkhan @GrabYourPitchforks @joshfree

[2019-04-19 22:25] karelz commented on #2609
Is it limitation of the firewall that is not able to find process based on DLL name? (that's what the program is I assume)
Maybe I am missing something ...
What would you suggest that dotnet should change?

Can you just hack it and rename DLL to EXE - will that make it work?

[2019-04-19 22:27] karelz commented on #2611
Are you able to compare working and non-working repro side by side to figure out what changed between those 2?
We need to narrow down which API behavior change in .NET Core caused the misbehaior. It is also possibility (albeit small) that it is a bug in the library, or elsewhere ...

[2019-04-19 22:33] Telavian commented on #2609
That is a good idea to try the rename. I honestly didn't think of that however I doubt it would work.

I think in a developers mind dotnet xyz.dll runs the program xyz which should obey all "program" rules like firewall exceptions. Since xyz is the program in this case.

However it seems that in reality dotnet.exe is run takes the IL in xyz.dll and executes that. This all makes sense however what

[2019-04-19 22:35] antfusa opened #2612 "Can't Install Dot Net Core on Ubuntu 19.04"
![Screenshot from 2019-04-19 18-34-06](https://user-images.githubusercontent.com/38739462/56446645-d43d8800-62d1-11e9-9500-3b8a165f9632.png)
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-10/sdk-current
Operating System: Linux Ubuntu 18.10 - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error m

[2019-04-19 22:35] antfusa commented on #2612
I know this says 18.04 in the terminal but its the closet thing listed

[2019-04-19 22:41] karelz commented on #2612
Duplicate of #2526

[2019-04-19 22:41] #2612 closed

[2019-04-19 22:43] karelz commented on #2609
Then register the firewall for dotnet.exe as it is the main EXE.
I don't think .NET should know anything about firewalls, etc.

[2019-04-19 22:45] ahsonkhan commented on #2610
@BrennanConroy, @natemcmaster - can you please help do the initial triage here if this is an issue at the SignalR layer?

https://github.com/aspnet/AspNetCore/blob/9212f4a3df81ed28707d56e1b339f334fa48eb36/src/SignalR/common/Http.Connections.Common/src/NegotiateProtocol.cs#L37

[2019-04-19 22:48] Telavian commented on #2609
Registering dotnet.exe in the firewall is a massive security hole.
I do agree that dotnet.exe shouldn't know about the firewall however maybe the firewall should know about dotnet.

Seems like there is not clear cut answer to this.
However suggesting .net core be run via dotnet.exe and firewall exceptions be limited to the application instead of port means network access is highly limited.

[2019-04-19 22:49] BrennanConroy commented on #2610
Looks like a dupe of https://github.com/aspnet/AspNetCore/issues/9574

[2019-04-19 23:07] karelz commented on #2609
How does Java work in this case with this firewall? I bet they ran into similar problems ... or any other runtime using runner.exe.

[2019-04-19 23:07] karelz commented on #2610
Duplicate of https://github.com/aspnet/AspNetCore/issues/9574

[2019-04-19 23:07] #2610 closed

[2019-04-19 23:27] Telavian commented on #2609
Good question. I can investigate.

[2019-04-19 23:37] Telavian commented on #2609
It appears they have the same issue which makes sense.
Firewall should allow finer grain permissions especially when you have an app runner however that would probably be a mess.

Limiting it to exe makes it clear and easy however it limits the portability of dynamic network enabled .net core application.

Anyways thanks for trying to understand this.

[2019-04-19 23:37] #2609 closed

[2019-04-20 01:38] ryno1234 commented on #2288
@rrelyea, is your comment about https://github.com/NuGet/Home/issues/5954 related to capabilities of Nuget 5.0p3 or an alternative solution regardless of 5.0p3?

I have tried to implement https://github.com/NuGet/Home/issues/5954 but the solution provided does not seem to work for our situation and are looking for insight and / or other solutions. Any more info on 5.0p3 that could help us?

[2019-04-20 07:14] hattricks98 opened #2613 "Problem encountered on installation of DotNet on Linuxmint Tessa 19"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: Linux Ubuntu 18.04 - x64

I'm not able to install it on my linux mint Tessa => 19.

`sudo apt-get install -y gpg`
Reading package lists... Done
Building dependency tree
Reading state information... Done
You might want to run 'apt --fix-broken install' to correct these.
The following pack

[2019-04-20 11:58] ispysoftware opened #2614 ".net native compiler exception"
When building a UWP project for release mode (.net native) i'm getting an internal compiler exception.

"Severity	Code	Description	Project	File	Line	Suppression State
Error		Internal compiler error: Object reference not set to an instance of an object.	App1	C:\Users\sean\.nuget\packages\microsoft.net.native.compiler\2.2.3\tools\Microsoft.NetNative.targets	801
"
I've logged a report but am getting

[2019-04-20 12:09] ebekker commented on #2611
I think [this](https://github.com/mongodb/mongo-csharp-driver/blob/v2.8.x/src/MongoDB.Bson/Serialization/BsonClassMap.cs#L40) be the problem.

[2019-04-20 12:43] ebekker commented on #2611
MongoDB driver needs a reference to [`System.Runtime.Serialization.Formatters`](https://www.nuget.org/packages/System.Runtime.Serialization.Formatters/).

[2019-04-20 12:56] mostafa-tag commented on #2611
I faced the same exception after upgrading to .net 3.0 preview 4 , it was working fine with preview 3

[2019-04-20 13:09] usayme opened #2615 "Unable to install Dot.Net Core 2.2 on Ubuntu 19.04"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: Linux Ubuntu 18.10 - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-04-20 19:06] belst commented on #2615
Probably because Ubuntu 19.04 does not provide `libssl-1.0` anymore.

[2019-04-21 14:02] yairyog commented on #2608
Seeing the same issue since yesterday

[2019-04-21 16:06] sindhuindurthi opened #2616 "This site can’t be reached localhost refused to connect."
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/run
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-04-21 18:41] karelz commented on #2616
@sindhuindurthi can you please check your firewall settings, etc.?
That is usually what is causing these kind of troubles.
Another option is to try it out on fresh new VM where firewall settings are not present yet.
Let us know how it goes!

[2019-04-21 18:42] karelz commented on #2608
@dagood is it known problem? cc @leecow

Which version are you installing? .NET Core 2.1 / 2.2 / 3.0 Preview 4?

[2019-04-21 20:05] EvgenSav commented on #2611
I've the same issue on 3.0 preview 4. Is there any solution?

[2019-04-22 00:31] raaraya commented on #2591
Got similar problems in my installation on Ubuntu 19.04, however it seems that I am not the only one with problems on Ubuntu.
[code]

And when trying to get the other dependencies:
[code]
[code]

But couldn't install such dependencies in the end:
[code]
[code]

[2019-04-22 00:43] raaraya commented on #2591
On the other hand I also found that I have `libssl1.1` installed, however `libssl1.0.2` is not and cannot be located in the Ubuntu 19.04 repositories.

[code]

[2019-04-22 00:58] pgkrishnan205 commented on #2591
Hello, Thanks for your reply on this.

I got it fixed by running apt --fix-broken install, it is all good now.

[2019-04-22 00:58] #2591 closed

[2019-04-22 02:09] raaraya commented on #2615
Same here, still looking at what can I do about it.
[code]

[2019-04-22 02:55] seanfisher commented on #1968
I would love to see this as well. My use case is to use a .NET Lambda as a backend for Alexa skills, which (like the Slack example) has a time limit from the Alexa service (8 seconds) for a request, plus a noticeable impact on users if the response is long.

I recently found a method from Zac Charles called [LambdaNative](https://medium.com/@zaccharles/making-net-aws-lambda-functions-start-10x-fas

[2019-04-22 09:35] levhaikin commented on #2608
same here.
trying to install .net core 2.2

[2019-04-22 10:16] manish13oct commented on #2607
Yes, I am talking about System.DirectoryServices namespace.

[2019-04-22 10:32] ismail opened #2617 "dotnet tool broken with 3.0-preview4 on openSUSE Tumbleweed"
This works with preview3, hence it's a regression:

[code]

Looking at the backtrace, this might be due to ICU, here is the details of ICU packages installed:

[code]

[2019-04-22 11:38] mostafa-tag commented on #2611
a fix was done but not yet merged to the master branch nor branch 2.8
https://github.com/mongodb/mongo-csharp-driver/pull/372

[2019-04-22 13:53] gortok opened #2618 "Questions / Concerns over .NET Core Desktop Deployments"
# General

With the [advent of Winforms support in .NET Core 3.0](https://devblogs.microsoft.com/dotnet/net-core-3-and-support-for-windows-desktop-applications/), there are now three deployment models, "Self Contained", "App Local" and "Computer wide".

I'll define them as I understand them, and would love any corrections to this:

Self Contained: .NET Core is bundled with the application being de

[2019-04-22 14:03] gortok commented on #2618
There exists a cottage industry of applications that scan the local system for out of date libraries and frameworks. (One such example is Tanium.  I saw another in my travels last week but cannot remember its name).  How will Self-Contained Deployments affect this industry?  Will there be API hooks where each SCD registers itself with the OS to allow for scanning? OR will these scanning applicatio

[2019-04-22 14:17] dagood commented on #2591
@pgkrishnan205 Awesome, thanks for posting back. Reading the output in the original issue again, it wasn't actually quite the situation I thought it was... glad you were able to resolve it.

@raaraya 19.04 is a different issue, it's known not to work right now. It looks like the "main" issue is https://github.com/dotnet/core/issues/2526. (I expect 19.04 to work with the next servicing release.)

[2019-04-22 14:48] karelz commented on #2618
Related to #1541?

[2019-04-22 14:49] karelz commented on #2618
@richlander can you please help route it? (ot let me know who else can help with it, thanks!)
cc @dleeapho @shawnro @leecow

[2019-04-22 15:26] dagood commented on #2608
It certainly looks like the 14.04 Microsoft repo is broken. People are unable to get Powershell with the same error: https://github.com/PowerShell/PowerShell/issues/9424. It's also easy to repro in Docker.

Doc link for reference: https://dotnet.microsoft.com/download/linux-package-manager/ubuntu14-04/sdk-current. You don't even get as far as picking which SDK to install so 2.1 vs. 2.2 etc. doesn'

[2019-04-22 15:52] karelz commented on #2611
Looks like external problem, with solution. Closing.

[2019-04-22 15:52] #2611 closed

[2019-04-22 15:54] karelz commented on #2617
@tarekgh @dagood can you please help route it? Is it a known problem?

[2019-04-22 15:56] karelz commented on #2607
Duplicate of https://github.com/dotnet/corefx/issues/24843

[2019-04-22 15:59] karelz commented on #2615
Duplicate of https://github.com/dotnet/core/issues/2526

[2019-04-22 15:59] #2615 closed

[2019-04-22 16:01] karelz commented on #2614
@MattWhilden can you please help to route it to the appropriate feedback channel? Thanks!

[2019-04-22 16:03] tarekgh commented on #2617
I'll try to look. Is there any more data here can help? like debugger dump or more info about the running environment (e.g. what is the locale on the failed machine)?

@dagood if we have a machine or image I can use to check that would be helpful if you point me to that. thanks.

CC @krwq

[2019-04-22 16:04] karelz commented on #2613
Is it supported distro? @leecow @dagood

[2019-04-22 16:09] JIA-LYU opened #2619 "Any plans to add support on Gentoo?"
Do you have any plans to add support on Gentoo?

[2019-04-22 16:16] matthid commented on #2555
It seems like this is not yet available on the ubuntu feed:

[code]

Is there always a delay? Is there a `.deb` available somewhere to install it manually?

[2019-04-22 17:35] dagood commented on #2617
No repro with a from scratch install from tarball on a `opensuse/tumbleweed` container. 😕

[code]

[code]

I think it's reasonable to try to repro on that base container if we can get more info, though.

[2019-04-22 18:18] justinboswell commented on #2608
Also seeing the same issue, installing .NET Core 2.2 during ```apt-get update```

[2019-04-22 18:28] tianamimix opened #2621 "Dotnet error: the application failed to start correctly (0xc000007b)"
![dotnet erreur](https://user-images.githubusercontent.com/36265829/56524518-33113480-6552-11e9-9f67-d4546d703727.png)
**Bing translator:**
Hello, when I run dotnet, the following message appears: the application failed to start correctly (0xc000007b).
I would want to install the MySql. data connector package for Visual Studio 2012 and this error crashes me.

**Original title:** Erreur dotnet : L'

[2019-04-22 18:33] dagood commented on #2608
I've reached out to the Microsoft repository admins via email about this issue, will update here with more info.

[2019-04-22 18:35] dagood commented on #2613
It is (https://github.com/dotnet/core/blob/master/release-notes/2.2/2.2-supported-os.md#linux). I'm not sure how you're supposed to install based on the dropdown in the tutorial, but it would make sense to me if the Ubuntu 19.04 packages will work on Linux Mint 19. Ubuntu 19.04 package availability is discussed in https://github.com/dotnet/core/issues/2526.

@hattricks98, In the meantime, you shou

[2019-04-22 18:35] #2613 closed

[2019-04-22 18:56] ismail commented on #2617
Locale is C.UTF-8, if you need more information you have to let me know :-)

[2019-04-22 18:58] karelz commented on #2621
@tianamimix please post questions and replies in English. At least translated via translators. We do not have capability to reply in other languages.

Did you try to run HelloWorld?
Which installation steps did you follow?

[2019-04-22 19:03] dagood commented on #2617
Apologies, I see now that looks pretty passive aggressive. I was just expressing my hope that @tarekgh can think of more things to ask about to get to the bottom of this. 🙂 I don't know enough about this area to know what other stuff to gather.

[2019-04-22 19:05] tarekgh commented on #2617
@ismail @dagood  what you have sent both is very useful. I'll try to look more here. Thanks for your help.

[2019-04-22 19:22] tarekgh commented on #2617
I can repro this now.

[2019-04-22 19:22] tarekgh commented on #2617
Issue moved to [dotnet/corefx #37098](https://github.com/dotnet/corefx/issues/37098) via [**ZenHub**](https://www.zenhub.com/)

[2019-04-22 19:22] #2617 closed

[2019-04-22 19:55] tianamimix commented on #2621
After installing dotnet-sdk-2.2.203-win-gs-x64.exe, I run dotnet and I have
error : the application failed to start correctly (0xc000007b).
The same problem when I try run HelloWorld.

Best!

Le lun. 22 avr. 2019 à 21:59, Karel Zikmund <notifications@github.com> a
écrit :

--
*Mamitiana Rabemananjara*
IT Expert
Monitoring des Médias

[2019-04-22 20:04] bonesoul commented on #2608
same here.

[2019-04-22 20:06] federico-caldas-tdn opened #2622 "Cannot install dotnet-sdk-2.2 on Debian - Raspberry Pie"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/debian9/sdk-current
Operating System: Linux Debian 9 - x64

Followed instructions as in https://dotnet.microsoft.com/download/linux-package-manager/debian9/sdk-current

On last step, when trying to install dotnet sdk I get the following error

`pi@raspberrypi:~ $ sudo apt-get install dotnet-sdk-2.2
Reading package l

[2019-04-22 20:17] karelz commented on #2621
OK, that is helpful context, thank you!
Can you try it on a clean VM? That should work.
I wonder if you have either corrupted installation (or download), or what else happened on your machine.

cc @dagood

[2019-04-22 20:20] karelz commented on #2622
@dagood any thoughts? cc @richlander

[2019-04-22 20:22] karelz commented on #2619
@leecow @richlander might know the answer ...

[2019-04-22 20:34] dagood commented on #2622
Raspberry Pi uses an ARM architecture--the x64 instructions on that page won't work for it. You can find Linux ARM32/ARM64 SDK download links at https://dotnet.microsoft.com/download.

[2019-04-22 20:34] #2622 closed

[2019-04-22 21:15] dagood commented on #2621
A couple ideas:

* Does your copy of `dotnet-sdk-2.2.203-win-gs-x64.exe` match the SHA512 checksum?
  https://dotnetcli.blob.core.windows.net/dotnet/checksums/2.2.203-sdk-sha.txt
  `8286860182B7AF6259AA9F28BD58A64B6EB92AFE3F8E6A9BC8DD15793F2A94DD06FABF60B22B9A786461F0BB27982B55184890C8409BC2BDDD5E3C1A02DDBB52`
* Try running `dotnet-sdk-2.2.203-win-gs-x64.exe` again and choose the `Repair` option,

[2019-04-22 22:07] kristopher commented on #2608
I also thought it was very coincidental that is started a few days before 14.04 goes EOL

[2019-04-22 22:18] dagood commented on #2608
The Microsoft repo admins are looking into it, no status yet.

`ubuntu-distro-info` tells me it's EOL 5 days ago, FWIW (but I wouldn't expect it to affect this):

[code]

[2019-04-22 23:25] luisa2011 opened #2623 "Downloading"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Cannot download:
https://download.visualstudio.microsoft.com/download/pr/b5b2c515-9909-4912-9631-b5b8adeaac1f/e44d9456a5ffb5d325f361f3babc67c0/dotnet-sdk-2.2.203-win-gs-x64.exe

[2019-04-22 23:32] luisa2011 opened #2624 "Trying to downoad .NET on my computer"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-04-23 00:33] dagood commented on #2608
They fixed it! I confirmed in an `ubuntu:14.04` container. Thanks for filing the issue.

[2019-04-23 00:48] MattWhilden commented on #2614
Well that's certainly a curious one. The crash is super early as we're booting up the analysis engine. Curiously this crash is not present in the 1.7 version of tools. I didn't play around enough to understand if we've generated anything sensible. It's a bit odd I know but if you change the UWP app minsdk to anything before 16299 you'll be able to build with 1.7 and not the typical 2.X you get out

[2019-04-23 01:19] ispysoftware commented on #2614
Yes, it's crashing in a few places in the ffmpeg bindings. This is the first one i managed to isolate. I'm hoping the root cause is the same. Unfortunately for our project we can't use the earlier SDK.

[2019-04-23 04:31] AutodidacticStar opened #2625 "error running dotnet"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

I get this message:
Thrown:
ReferenceError: dotnet is not defined

[2019-04-23 11:38] gotsalyuk commented on #2615
I have the same problem

[2019-04-23 12:04] #2595 closed

[2019-04-23 12:05] narcis-pv commented on #2595
Thanks to @vitek-karas for [pointing out](https://github.com/dotnet/cli/issues/11223#issuecomment-485764948) that the store was usign the wrong tfm nuimber `netcoreapp2.0` instead of `netcoreapp2.2`

[2019-04-23 12:25] p6345uk commented on #2618
@gortok @karelz

Quick related question.

I am using IIS to host My .net core app and when i install this i have to update, i have to update both the runtime and the hosting bundle. i cant seem to find an independent hosting bundle.

In this situation the Self contained option seem totally pointless.

Also from experience this required a reboot once its installed (Lets you know after you have inst

[2019-04-23 13:00] fMichaleczek opened #2626 "ARM Processor requirement for .NET Core on Linux ARM"
There is an issue on PowerShell Core repo with a Linux Debian ARM32  [Illegal instruction](https://github.com/PowerShell/PowerShell/issues/9436)

I found in the documentation that .Net Core is compatible on ARMv7 with ARM32 starting dotnet core 2.x

The current issue is about a Marvel Armada 370.

Do you support ALL ARM v7+ processor implementation without exception ?
If not, have you got a list o

[2019-04-23 15:59] gertd opened #2627 "Install dotnet 2.2 on Ubuntu 19.04 missing dependencies"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-10/sdk-current
Operating System: Linux Ubuntu 18.10 - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Install of SDK fails with
 dotnet-sdk-2.2 : Depends: aspnetcore-runtime-2.2 (>= 2.2

[2019-04-23 16:17] sname opened #2628 "dependencies issues linux ubuntu 18.04"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/runtime-current
Operating System: Linux Ubuntu 18.04 - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

-------------------------------------------------------------------------------

[2019-04-23 16:38] karelz commented on #2615
@gotsalyuk did you check the dupe?

[2019-04-23 17:41] richlander commented on #2618
We are consider putting a .NET Core framework package in the Windows Store. If we did that, it would be updated every patch tuesday, such that apps that had a dependency on the framework package would always be up to date. There would be a framework package for each .NET Core version, like 3.0 and 3.1, such that applications would not be automatically updated to a new version. Such a plan would on

[2019-04-23 18:36] rowanmiller commented on #2576
Any action required on the website now, or should we leave the instructions as-is for the moment?

[2019-04-23 18:37] MattWhilden commented on #2614
Some good news! Given a compiler update isn't likely for a while and due to where the crash is happening I have what may be a reasonable workaround.

As above, the compiler is crashing very early. While poking around a bit more it turns out that the phase that is having issues is attempting to determine which types in your application will need information available at runtime to facilitate Reflec

[2019-04-23 18:43] dagood commented on #2576
It sounds like we're waiting on @leecow to figure out the way to handle this.

[2019-04-23 18:58] jlrogee commented on #2627
Hi, this is my solution
`wget -q https://packages.microsoft.com/config/ubuntu/18.10/packages-microsoft-prod.deb`
`sudo mv prod.list /etc/apt/sources.list.d/microsoft-prod.list`
`sudo gedit /etc/apt/sources.list.d/microsoft-prod.list`
and change in string
`deb [arch=amd64] https://packages.microsoft.com/ubuntu/19.04/prod **xenial** main`
to
`deb [arch=amd64] https://packages.microsoft.com/ubuntu/19

[2019-04-23 19:57] mezzo9 commented on #2526
Any solutions?
How can one install dotnet core on Ubuntu 19.04?

[2019-04-23 23:26] ispysoftware commented on #2614
Yes that did help thank you. The types the compiler is failing on are :

[code]

[2019-04-23 23:32] MattWhilden commented on #2614
Lovely. I'll add that info to the issue we're using to track getting a real fix. That's likely later this summer but shipping schedules are **way** above my pay grade.

Certainly let us know if you have other issues and thanks for the concise bug report!!

[2019-04-24 00:44] stevepentland commented on #2526
@mezzo9 until the actual Ubuntu repositories are added, you can download the prebuilt binaries from [here](https://dotnet.microsoft.com/download/dotnet-core/2.2) and add them to your path. There should be instructions when you click the link for your particular platform.

[2019-04-24 02:14] thiagoabreu commented on #2540
Try: `sudo apt install dotnet-sdk-2.2=2.2.105-1`

[2019-04-24 03:54] ShaZeh opened #2629 ".NetCore 2.2 not using ViewFeature or IRazorCompiledItemprovider"
.NetCore 2.2 not using ViewFeature or IRazorCompiledItemprovider

I recently made a custom IApplicationFeature for ControllerFeature which is added after adding MVC to the services 👍

[code]

While this appear to work fine for the ControllerFeature, .net core seems to ignore any changes made in in the ViewFeature or RazorCompiledItemProvider.

When using the ViewFeature provider, the code execute

[2019-04-24 05:44] Dresel commented on #2442
Sorry I wasn't able to look earlier into this. Maybe I'm doing something wrong but I wasn't able to use ProjectCollection.LoadProject with .NET Core 2.2 when using Microsoft.Build 16.0.452, even with MSBuildLocator - am I doing something wrong? This is basically what I'm doing

    public class Program
    {
        private static void Main(string[] args)
        {
            RegisterMSBuild();

[2019-04-24 07:52] zhusheping opened #2630 "unable to get cpuid by ManagementObjectSearcher"
I wan't get cpuid in a console app with core3.0 preview with

[code]
And exception throwed:Cannot marshal 'parameter #3': Cannot marshal a string by-value with the [Out] attribute.

[2019-04-24 09:18] jcr111 opened #2631 "macosx install pc"
# command "dotnet" after install says :"  command not found

Macos Mojave 10.14.3
install successfully completed with "dotnet-sdk-3.0.100-preview4-011223-osx-x64.pkg"

[2019-04-24 09:30] minhhieugma opened #2632 "Lack 3.0.100-preview4 in releases.json"
# Issue Title

Could not fetch download information for version 3.0.100-preview4 in Devops CI

![image](https://user-images.githubusercontent.com/9654744/56648875-489b7100-66ae-11e9-8388-85b3257a6891.png)

[2019-04-24 10:09] soumyagupta123 opened #2633 "where can i find the program.cs file so that i can edit it"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/edit
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-04-24 11:09] MarioLung commented on #2623
same here

[2019-04-24 12:09] ggobbe opened #2634 "Missing packages for Fedora 29/30"
# Missing packages for Fedora 29/30

If one wants to install `dotnet-sdk` or `dotnet-runtime` on Fedora, the most recent version of Fedora supported is *28*, although it uses the Fedora *27* repo. cf. https://dotnet.microsoft.com/download/linux-package-manager/fedora28/sdk-current

By browsing https://packages.microsoft.com it appears that the repos for Fedora *29* and *30* are there, but both are

[2019-04-24 13:56] gotsalyuk commented on #2615
@karelz No, I installed through a snap-in to call `$>dotnet-sdk.dotnet`

[2019-04-24 14:09] karelz commented on #2615
No idea what that is (sorry, not a Linux expert). Your symptom is same as in the dupe - check that out.

[2019-04-24 14:17] karelz commented on #2623
Are you able to donwload the link directly? (it works for me)

@leecow @dagood can you please take a look?

[2019-04-24 15:00] dagood commented on #2623
It works for me too (clicking the button on the getting started site, as well as direct). Initial guess would be a CDN issue, but I don't know how to follow up on that.

@vivmishra any ideas?

[2019-04-24 15:02] dagood commented on #2624
I'm guessing this is a duplicate of https://github.com/dotnet/core/issues/2623 filed accidentally. We're looking into the problem there, thanks for reporting it.

[2019-04-24 15:02] #2624 closed

[2019-04-24 15:16] dagood commented on #2631
Did you try to run `dotnet` in an existing terminal, or did you open a new one?

The "getting started" tutorial has this tip: https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install. It might be useful to follow along with that with your 3.0 SDK.

If you open a new terminal and still have this problem, the next thing I think we should check is:

[code]

[2019-04-24 15:19] jcr111 commented on #2631
Hi,

Thanks for your quick answer which solve my issue.

I effectively ran the dotnet command in an already opened terminal…

Best regards

JCR

Le 24 avr. 2019 à 17:17, Davis Goodin <notifications@github.com> a écrit :

Did you try to run dotnet in an existing terminal, or did you open a new one?

The "getting started" tutorial has this tip: https://dotnet.microsoft.com/learn/dotnet/hello-world-t

[2019-04-24 15:22] dagood commented on #2627
Duplicate of https://github.com/dotnet/core/issues/2526, we don't have packages for 19.04 quite yet.

[2019-04-24 15:22] #2627 closed

[2019-04-24 15:23] dagood commented on #2631
Good to hear! No problem. 😄

[2019-04-24 15:23] #2631 closed

[2019-04-24 15:25] karelz commented on #2624
Duplicate of #2623

[2019-04-24 15:26] karelz commented on #2624
@dagood FYI: See how the text above recognized the duplicate via GH functionality ;) ... it just has to be its own reply ...

[2019-04-24 15:31] dagood commented on #2624
Based on the docs I thought it would detect it from my comment (and I assumed that it wasn't detected because I wasn't a repo admin or something like that). Thanks for the info. 👍

[2019-04-24 15:50] dagood commented on #2628
Odd... `libssl1.0.0` and `libicu60` are normally available for Ubuntu 18.04.

* Have you disabled any package repos?
* Are you running a different distro and following the 18.04 instructions because they seem to be the closest?

This is where they should be coming from, in a typical install:

[code]

[2019-04-24 16:15] dagood commented on #2634
openSUSE is in a similar situation, at https://github.com/dotnet/core/issues/2576. I agree the current way this is set up is confusing.

The packages in the 27 repository are intended to work with any supported Fedora release. It is *possible* to publish packages for every supported release, but our release process doesn't make that particularly easy so we've been using the earliest that it works

[2019-04-24 16:15] dagood commented on #2634
Duplicate of #2576

[2019-04-24 16:15] #2634 closed

[2019-04-24 16:19] karelz commented on #2633
Which commands / steps did you run?
Do you know where the project was created?
Did you try to search for the file?
Which OS are you on?

[2019-04-24 16:22] karelz commented on #2632
@minhhieugma I would recommend to copy paste text instead of screenshot picture. Text in pictures is not searchable.

@dagood is it a known issue? cc @leecow

[2019-04-24 16:26] karelz commented on #2630
I assume it is `System.Management` problem? @Anipik can you please help?

[2019-04-24 16:28] ggobbe commented on #2634
Thanks for details, it makes more sense.
I'll be waiting for a proper solution then.

[2019-04-24 16:35] karelz commented on #2614
Seems to be addressed. Let's close it here as this is not the right place to track .NET Native issues anyway ;)

[2019-04-24 16:35] #2614 closed

[2019-04-24 17:04] dagood commented on #2632
I'm not familiar with releases.json updates. Maybe @vivmishra?

[2019-04-24 18:18] vivmishra commented on #2623
Same here, I could download this successfully -- maybe it was a temporary issue.

@luisa2011 if you continue to see this then I'll get CDN folks involved to see if they can track it down.

[2019-04-24 18:29] vivmishra commented on #2632
Release Metadata that has the CDN path is at: https://dotnetcli.blob.core.windows.net/dotnet/release-metadata/3.0/releases.json

If you are directly downloading from the Azure blob then the path is as per following:
https://dotnetcli.blob.core.windows.net/dotnet/Sdk/**3.0.100-preview4-011223/dotnet-sdk-3.0.100-preview4-011223-linux-x64.tar.gz**

@minhhieugma where are you picking up the paths from

[2019-04-24 18:52] dagood commented on #2632
It looks like the AzDO task uses an old static URL pointing at the deprecated GitHub releases json:

https://github.com/Microsoft/azure-pipelines-tasks/blob/e239620b93b1d2c6339893cc86b0d51d6bf2ee88/Tasks/DotNetCoreInstallerV0/releasesfetcher.ts#L148

[code]

Deprecation announcement: https://github.com/dotnet/core/issues/1986.

I would move, but the AzDO task repo has an extensive issue template t

[2019-04-24 19:24] rainersigwald commented on #2442
@Dresel can you please open a new bug on MSBuild with the full repro? Note that I tried your repo and got this in the initial build before running, so I think some changes may have gotten lost:

[code]

[2019-04-24 20:01] Eilon commented on #2629
@javiercn / @pranavkm - any ideas on this? Should we move this issue to AspNetCore?

[2019-04-24 20:22] praeclarum opened #2635 "Cannot install on Ubuntu 14.04: premature member 'control.tar.xz' before 'control.tar.gz'"
# Issue Title

I am following the instructions from: https://dotnet.microsoft.com/download/linux-package-manager/ubuntu14-04/runtime-2.2.4

But it fails to install:

[code]

[2019-04-24 20:33] omajid commented on #2635
Looks like a duplicate of https://github.com/dotnet/core/issues/2381

A `sudo apt-get update && sudo apt-get upgrade` before `sudo apt-get install aspnetcore-runtime-2.2` should fix things.

[2019-04-24 20:38] praeclarum commented on #2635
@omajid Thank you!

[2019-04-24 20:38] #2635 closed

[2019-04-24 21:33] Half-Shot commented on #2628
I wonder if @sname meant 19.04, because that is the issue I am seeing: Ubuntu 19.04 now includes *only* `libssl1.1.0` and `libicu64`

[2019-04-24 21:45] dagood commented on #2628
If so, this is a duplicate of https://github.com/dotnet/core/issues/2526. My understanding is it's `libssl1.1`/`libicu63`, not `libssl1.1.0`/`libicu64`, though.

[2019-04-24 23:01] dagood commented on #2632
Closing: I filed https://github.com/Microsoft/azure-pipelines-tasks/issues/10213 to get the process rolling on a fix.

[2019-04-24 23:01] #2632 closed

[2019-04-25 01:30] attababy commented on #2460
Same Issue on ubuntu 18.04, dotnet core version 2.3.203

[2019-04-25 02:33] pranavkm commented on #2629
Yes please

[2019-04-25 04:09] paciook opened #2636 "New problem installing dotnet core on Ubuntu 18.10"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-10/sdk-current
Operating System: Linux Ubuntu 18.10 - x64

The following packages have unmet dependencies:
 dotnet-sdk-2.2 : Depends: aspnetcore-runtime-2.2 (>= 2.2.4) but it is not going to be installed
                  Depends: dotnet-runtime-2.2 (>= 2.2.4) but it is not going to be installed
E: Unable t

[2019-04-25 13:22] Sopcce commented on #2001
on CentOS 7 ，I had the same issue on a dotnet generate web project recently.
![image](https://user-images.githubusercontent.com/12589684/56738244-c9d23100-679e-11e9-9dc7-746e9503bcaf.png)
![image](https://user-images.githubusercontent.com/12589684/56738511-5bda3980-679f-11e9-94ff-e4ebc4ded35c.png)

[code]
I do not know ,try other way
[#948](https://github.com/dotnet/core/issues/948) not help me.

[2019-04-25 15:50] Eilon commented on #2629
This issue was moved to aspnet/AspNetCore#9748

[2019-04-25 15:50] #2629 closed

[2019-04-25 18:12] thangduo opened #2637 "Fatal error in IL Linker. Unhandled Exception: Mono.Cecil.AssemblyResolutionException: Failed to resolve assembly: 'System.Private.ServiceModel, Version=4.5.0.3, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'"
# Issue Title

I am getting a fatal error in IL Linker.

Unhandled Exception: Mono.Cecil.AssemblyResolutionException: Failed to resolve assembly: 'System.Private.ServiceModel, Version=4.5.0.3, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'

# General

Using .NET Core 3.0 Preview SDK release for Mac to build a new Blazor hello world web application. The application uses System.ServiceModel.Http

[2019-04-25 19:57] Anipik commented on #2630
Yeah i will take a look

[2019-04-25 20:37] Anipik commented on #2630
i tried it with the master branch as well core3.0 preview, i am not able to repro the bug.
Its the printing the processor id as ```BFEBFBFF000406F1```

can you give more context on the failure or about the machine where you are running this code ?

[2019-04-25 21:25] karelz commented on #2001
@Sopcce please do not comment on close issues. We rarely monitor them.
I would suggest to file a new issue with details - it would be good to summarize what EXACTLY you tried that did not help you. The issues are now too long and too messy to make heads and tails clearly. Thanks!

[2019-04-25 21:27] karelz commented on #2636
@dagood I wonder if we should keep one issue opened with clear description and dupe everything against it ...

[2019-04-25 21:48] dagood commented on #2636
@paciook, can you run these diagnosis steps and share the results?

[code]

---

@karelz, there isn't enough info to know what this is quite yet. If it happens to be an attempt to use 18.10 packages on 19.04, then maybe we should open https://github.com/dotnet/core/issues/2526?

What I picture when I think of a dupe target for this is an issue with some diagnosis steps, but there's nothing we coul

[2019-04-25 21:50] karelz commented on #2636
self-diagnosing doc sounds like a great idea. We can even link it from issue template.
Can you create one?

[2019-04-26 02:24] Raamyy opened #2640 "ASP Hello world - webApp is not a template"
Problem encountered on [Asp Hello World](https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/create)
Operating System: windows

When I type **_dotnet new webApp -o myWebApp --no-https_** in the cmd  It says: **No templates matched the input template name: webApp.**

My Dotnet version is **2.1.102**

How to solve it ?
Thanks

[2019-04-26 03:02] zhusheping commented on #2630
It was throwed when  new a ManagementObjectSearcher. The StackTrace :
  at System.StubHelpers.StubHelpers.ThrowInteropParamException(Int32 resID, Int32 paramIdx)
   at System.Management.ManagementPath.GetWbemPath(IWbemPath wbemPath)
   at System.Management.ManagementPath.GetWbemPath()
   at System.Management.ManagementPath.get_Path()
   at System.Management.ManagementScope.set_prvpath(ManagementPa

[2019-04-26 04:05] Michaelwan777 opened #2641 "Fail to save child records by using EF Core 2.2.4 after upgrading .Net Core from 2.1.5 to 2.2.4"
Fail to save child records

Hi! My project is developed by using .Net Core 2.1.5. Recently, I upgraded my project to 2.2.4. After the upgrading, searching performance becomes faster, which is nice. However, I realized that it failed to save multiple child records completely. It can only save the last record of multiple child records(There is no such serious case in 2.1.5) I'm still investigating t

[2019-04-26 09:07] ljgstudy commented on #2625
did you open the NEW command prompt to test _dotnet_ command?

[2019-04-26 11:14] SimonD123 opened #2642 "Dot Net"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: windows

In the CMD.exe the code is
C:\users\user>
instead of
C:\users\user\

so it will not run.

[2019-04-26 12:57] FelipeBaum opened #2643 "Problemas pacote dotnet-sdk-2.2"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: Linux Debian 9 - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

**Translated text:**
[code]

**Original text:**
[code]

[2019-04-26 14:47] dagood commented on #2636
Yeah, filed https://github.com/dotnet/core-setup/issues/6116 to track that. Will give it a shot when time permits.

When you press "I ran into an issue" in the "Getting Started" docs, it passes a description through the URL that doesn't seem tied to this repo's template, so there's probably something to change on the doc site side of things too once we have something. (It actually seems good for i

[2019-04-26 15:08] ajcvickers commented on #2641
@Michaelwan777 This looks like an EF issue, so I moved it to https://github.com/aspnet/EntityFrameworkCore/issues/15507

[2019-04-26 15:08] #2641 closed

[2019-04-26 16:10] duartemolha opened #2644 "Instructions for ubuntu18.10 don't work on 19.04 ... please update"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: Linux Ubuntu 18.10 - x64
udo apt-get install dotnet-sdk-2.2
[sudo] password for user:
Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages could not be installed. This may mean that you have
requested an impossible situation or if you are

[2019-04-26 19:45] dagood commented on #2644
Duplicate of #2526

[2019-04-26 19:45] #2644 closed

[2019-04-26 19:57] DarkWanderer commented on #1133
Not sure if this is still actual, but launching dotnet core under systemd
[code]
produces a rather unhelpful error as of right now:
`Failed to initialize CoreCLR, HRESULT: 0x80004005`

Fedora 29, dotnet version 2.2.106 installed from sig

[2019-04-26 22:43] ikonezg opened #2645 "Core3 EF Migration Issue"
# Issue Title

Can't do Add-Migration InitMigration . I'm getting 'Unable to create an object DataContex'

# General

It was just empty DbContex class.

[2019-04-27 01:40] bradygaster opened #2646 "dotnet-sdk.2.2 package not found"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/debian9/sdk-current
Operating System: Linux Debian 9 - x64

I tried the commands from the Debian distro on my Raspberry PI tonight and got errors saying the dotnet-sdk-2.2 package couldn't be found. Specific errors below:

[code]

[2019-04-27 03:17] karelz commented on #2645
@ikonezg can you please raise it on EF Core repo? https://github.com/aspnet/EntityFrameworkCore
I assume `Add-Migration` and `InitMigration` are some dotnet commands specific to EFCore?

[2019-04-27 03:17] #2645 closed

[2019-04-27 14:39] cup opened #2647 "static linking"
I can create **hello.exe** like this:

[code]

However **hello.dll** is also created. I would prefer a single binary. Is this
possible? With C and C++ you can pass **-static** to the compiler but it is not
clear in this case.

[2019-04-27 18:37] karelz commented on #2647
Duplicate of https://github.com/dotnet/coreclr/issues/20287

[2019-04-27 18:37] #2647 closed

[2019-04-27 18:39] karelz commented on #2646
Isn't Raspberry PI arm? Using x64 won't work ...
cc @dagood @richlander

[2019-04-27 18:40] karelz commented on #2642
I don't understand what you mean. The prefix `C:\users\user>` is just cmd prompt, not something you need to type. What am I missing?

[2019-04-27 18:43] karelz commented on #2643
Duplicate of #2646

[2019-04-27 18:43] #2643 closed

[2019-04-27 18:44] karelz commented on #2643
@FelipeBaum please use English in your reports in future (at least through machine translators), we do not scale to communicate in additional languages. Thank you!

[2019-04-27 18:51] karelz commented on #2420
No response in 4 weeks, closing. Feel free to reopen when there is actionable info again. Thanks!

[2019-04-27 18:51] #2420 closed

[2019-04-27 18:52] karelz commented on #2283
Any update? If there is not actionable info, I recommend to close the issue until there is, then reopen again. Thanks!

[2019-04-27 18:52] #2283 closed

[2019-04-27 18:53] karelz commented on #2283
(oh, and I accidentally closed it now, sorry - anyway, we can reopen if there's something actionable, let us know)

[2019-04-27 18:53] karelz commented on #2565
No response in 2+ weeks, not actionable, closing. Feel free to reopen when there is actionable info. Thanks!

[2019-04-27 18:53] #2565 closed

[2019-04-27 18:54] karelz commented on #2584
No response for 1 week, closing. Feel free to reopen once there is actionable info. Thanks!

[2019-04-27 18:54] #2584 closed

[2019-04-27 18:55] farlock85 commented on #2283
@karelz unfortunately I haven't been able to reproduce or isolate the issue, it seems time bound (memory perhaps) so for now we had to write an exception handler around it which re-compiles the DLL's from scratch when the error occurs.