[2017-06-19 16:23] mlorbetske commented on #698
This issue was moved to dotnet/templating#965

[2017-06-19 16:23] #698 closed

[2017-06-20 01:30] gu3st commented on #677
Hi:

Attached is a crash log that I'm seeing in High Sierra.  It appears to occur when Crypto is attempted in High Sierra.

[dotnet_2017-06-19-182626_Gu3sts.crash.txt](https://github.com/dotnet/core/files/1086753/dotnet_2017-06-19-182626_Gu3sts.crash.txt)

[2017-06-20 04:12] wfurt commented on #677
core 1.1. has known problem @gu3st .  Can you  reproduce it with 2.0 preview? @bartonjs submitted fix for 1.0 and 1.1 and it is in testing right now. There is no pre-built binary yet AFAIK.

[2017-06-20 04:41] gu3st commented on #677
I tried with 2.0, but my project doesn't seem to compile in 2.0. I haven't spent a lot of time to investigate into running it in 2.0 quite yet.

[2017-06-20 05:45] brendandburns commented on #649
fwiw, I still see this on:

[code]

Latest debian stretch (now the stable release)

[2017-06-20 14:36] eerhardt commented on #649
@brendandburns  - did you install `libssl1.0.2` that @bartonjs [recommends above](https://github.com/dotnet/core/issues/649#issuecomment-301111400)?

[2017-06-20 22:51] Petermarcu commented on #697
Hi @CampsiteHelper , can you help clarify what you are seeing and what you would expect instead?
/cc @rrelyea @livarcocc

[2017-06-21 02:46] Liturgist opened #699 "Regex POSIX character classes"
Is there any work going to support POSIX character classes? [:digit:][:alnum:][:space:] etc.

[2017-06-21 03:48] eerhardt commented on #699
@Liturgist - I assume you are referring to http://www.regular-expressions.info/posixbrackets.html, ex. `[:alpha:]`, `[:digit:]`, etc

I don't think there is any work currently going on to support these (or at least I haven't heard of any).  The full .NET Framework didn't support these classes.

https://stackoverflow.com/questions/9643717/why-cant-i-match-posix-character-classes

According to https

[2017-06-21 04:27] brendandburns commented on #649
[code]

It appears to be the right version. Happy to help with further debugging, let me know what you need me to do.

[2017-06-21 04:33] brendandburns commented on #649
Ah, I dug around a little more. I had a stray `/usr/lib/x86_64-linux-gnu/libssl.so.1.0.0` sitting around on my system (Jessie to Stretch upgrade)

Not sure why that was there, but moving it out of the way (adding `.old`) fixed things.

Thanks.

[2017-06-21 04:42] Petermarcu commented on #649
Great to hear you found it @Bartonjs should we open an issue to see if we can be more resilient here?

[2017-06-21 10:10] Ponant opened #700 ".Net Core 2.0.0-preview1-final Nuget cannot be installed on .Net Standard 2.0 class library"
I have a class library created with VS 2017 and .Net Core Preview 1 and targeting .Net Standard 2.0 and it has the following NuGets in addition to the standard library
[code]
Both cannot be upgraded to ` .Net Core 2.0.0-preview1-final` and I receive as VS output
`Package Microsoft.AspNetCore.Antiforgery 2.0.0-preview1-final is not compatible with netstandard2.0 (.NETStandard,Version=v2.0). Package

[2017-06-21 10:26] Ponant commented on #640
question vs issue https://github.com/dotnet/core/issues/700

[2017-06-21 15:04] bartonjs commented on #649
@Petermarcu If it's badly pervasive, maybe?  libcrypto.so.1.0.0 (and libssl.so.1.0.0) is the name recommended by OpenSSL.  Debian is deviating from that recommendation and naming it libcrypto.so.1.0.2.  Preferring Debian's name above OpenSSL's recommended name on Ubuntu seems weird.

Though, I guess that we could assert that libcrypto and libssl need the same SONAME version fragment and we load th

[2017-06-21 15:48] karelz commented on #699
Moved to https://github.com/dotnet/corefx/issues/21305

[2017-06-21 15:48] #699 closed

[2017-06-21 16:26] Petermarcu commented on #700
This is because in Preview1 of ASP.NET Core 2.0, didn't support .NET Standard because it used API's that weren't available. In Preview2, I believe it will.

/cc @davidfowl @DamianEdwards

[2017-06-21 16:27] Petermarcu commented on #696
@TFTomSun it looks like it works now. Can you please reopen if you still have a problem?

[2017-06-21 16:27] #696 closed

[2017-06-21 16:28] Petermarcu commented on #695
@Eilon @barrytang @mlorbetske can you take a look at suggest which repo may be the best place to move this issue?

[2017-06-21 16:30] Petermarcu commented on #693
Its probably best to open this issue on the https://github.com/aspnet/mvc

@Eilon

[2017-06-21 16:30] Petermarcu commented on #689
@Eilon do you know who could help here?

[2017-06-21 16:32] Petermarcu commented on #686
@richlander @leecow do you want to add a rel note for preview 1 at this point? If not, we should just close this as fixed in Preview 2.

[2017-06-21 16:50] leecow commented on #686
Post the relevant text for Preview 1 and I can amend those notes.

[2017-06-21 16:52] Petermarcu commented on #686
@ericstj , can you give @leecow the exact text that should be in the rel note?

[2017-06-21 17:03] ukphillips commented on #689
This should be able to get you in the right direction. https://www.strathweb.com/2016/12/accessing-httpcontext-outside-of-framework-components-in-asp-net-core/

[2017-06-21 18:51] ericstj commented on #686
"When referencing a NETStandard2.0 library from a .NETFramework application you must add a reference to the NETStandard.Library.NETFramework package to the .NETFramework project."

[2017-06-21 20:29] Liturgist commented on #699
Sorry. When I could not find my post, it appears that I happened into another group. I honestly do not know the best group to address this. Thank you for closing this one.

[2017-06-21 20:49] karelz commented on #699
@Liturgist no worries, we can route.

[2017-06-22 09:29] sillyousu commented on #640
Is `dotnet core 2.0 preview2 SDK Linux x64` available now?

I found latest Linux x64 release is `preview 1`:
https://dotnetcli.blob.core.windows.net/dotnet/Sdk/release/2.0.0/dotnet-sdk-latest-linux-x64.tar.gz

[2017-06-22 19:53] Eilon commented on #689
That linked blog post has the answer. However, in general we don't recommend using that pattern at all. Any component that needs to know the current HttpContext needs to have the HttpContext passed to it - the same as you would do for any other piece of data that the component needs.

[2017-06-22 19:54] Eilon commented on #695
This issue was moved to aspnet/Scaffolding#522

[2017-06-22 19:54] #695 closed

[2017-06-22 19:54] Eilon commented on #693
This issue was moved to aspnet/Mvc#6435

[2017-06-22 19:54] #693 closed

[2017-06-24 12:14] weiwangda2014 commented on #607
@WeihanLi we are same problem.i have no time that i am busy.  you can show detail problem to them.

[2017-06-24 22:01] TFTomSun commented on #447
Are you planning to create docker images for Raspbian?

[2017-06-24 22:02] TFTomSun commented on #696
Works. thx.

[2017-06-25 01:33] Petermarcu commented on #447
@TFTomSun, I believe it's being looked into.

/cc @richlander @MichaelSimons

[2017-06-26 09:46] libsamek commented on #640
I have installed version `2.0.0-preview1-005977`, I'm looking at the API reference and dependencies in Visual Studio and there are a couple of namespace missing. One example, System.DirectoryServices.

Will this be added into the final release or do I have to do something to "enable" it?

[2017-06-26 13:32] MichaelSimons commented on #447
@TFTomSun, Yes, .NET Core Docker images that can be used on RaspberryPis are actively being worked on.  [This](https://github.com/dotnet/dotnet-docker/issues/223) is the issue tracking the work.

[2017-06-26 14:20] kengey opened #701 "Unable to start Kestrel on Linux (Raspbian raspberry pi 3)"
After following the steps described on: [link](https://github.com/dotnet/core/blob/master/samples/RaspberryPiInstructions.md) I was unable to start my ASP.NET-CORE webapplication. I had the following error:
[code]

It seems that libuv is missing and needs to be installed using the steps described over here: [link](https://gist.github.com/magohl/029efefbf15527b5f10d)
:

_You're missing the installa

[2017-06-26 14:31] Petermarcu commented on #701
You shouldn't need to install libuv for ASP.NET Core on .NET Core. It should be with the app if you are doing self-contained. Are you publishing the app as described [here](https://github.com/dotnet/core/blob/master/samples/RaspberryPiInstructions.md)?

[2017-06-26 14:33] kengey commented on #701
Hi @Petermarcu , yes, I followed those steps.

[2017-06-26 14:36] Petermarcu commented on #701
What version of the .NET Core are you using? `dotnet --version`?

[2017-06-26 14:37] kengey commented on #701
[code]

[2017-06-26 14:42] Petermarcu commented on #701
Ok, can you installed all the prereq packages that are listed [here](https://github.com/dotnet/core/blob/master/Documentation/prereqs.md) under Ubuntu?

Do you see libuv in your published output? Make sure you are using the output under a `publish` folder. like `./bin/Debug/netcoreapp2.0/linux-arm/publish`.

[2017-06-26 14:46] kengey commented on #701
@Petermarcu , I've installed all packages by doing
`sudo apt-get install libunwind8 libunwind8-dev gettext libicu-dev liblttng-ust-dev libcurl4-openssl-dev libssl-dev uuid-dev unzip`

My output is not containing libuv, only:
![image](https://user-images.githubusercontent.com/5702720/27545005-02a5d4b0-5a8f-11e7-8048-19e4c7ee39c5.png)

[2017-06-26 14:53] Petermarcu commented on #701
Looking closer at your project, it looks like you are referencing a whole bunch of .NET Core 1.X nuget packages from ASP.NET. That's my guess as to why this is happening.

If you directly add a reference to [this](https://www.nuget.org/packages/Libuv/1.10.0-preview1-22040) does it get libuv in the output?

Since your project is targeting netcoreapp2.0. I think you should switch to referencing ASP.

[2017-06-26 15:05] kengey commented on #701
Creating and publishing a new project from command line is corretly outputting libuv.
Referencing the pointed libuv nuget package from my project is trouble, but that is all related to having these 1.X references.
Anyhow, I think it is clear that this is related to me having initially created a .Net Core 1.1 project and then switching to 2.0.

[2017-06-26 15:08] Petermarcu commented on #701
Yeah, that all sounds right.

@DamianEdwards @Eilon, should we do something to make it more obvious that they need to upgrade their ASP.NET packages when upgrading to netcoreapp2.0?

[2017-06-26 15:10] kengey commented on #701
please also notice that VS2017 is not showing .NET core 2.0 as a selectable Target Framework.
![image](https://user-images.githubusercontent.com/5702720/27546189-5bc4b25c-5a92-11e7-9a38-0685cc3a7368.png)
But I understand this is an entirely different issue non related to this one.

[2017-06-26 15:13] Petermarcu commented on #701
You have to have the latest preview of Visual Studio installed to see 2.0 in the that dropdown. https://www.visualstudio.com/vs/preview/

[2017-06-26 15:56] karelz commented on #640
DirectoryServices and Drawing won't be part of .NET Core 2.0 release, but they will ship as independent packages built on top of .NET Core / .NET Standard during summer, so around the same time (as we promised at Build conference).
You can dogfood early builds of DirectoryServices - see https://github.com/dotnet/corefx/issues/20951 and https://github.com/dotnet/corefx/issues/2089 for details, but

[2017-06-27 07:46] petertsu opened #702 "File.GetCreationTime returns 01/01/0001 2:20:00 on ubuntu"
Hi ,
Seems like File.GetCreationTime returns invalid date once running on ubuntu .
I am tring to run very simple example.
`using System;
using System.IO;

namespace ConsoleApp1
{
    class Program
    {
        static void Main(string[] args)
        {
            string str = "test.txt";

            File.WriteAllText(str, "foo");

            var dt = File.GetCreationTime(str);

            Cons

[2017-06-27 13:19] stephentoub commented on #702
Linux doesn't have a creation time for files.

[2017-06-27 13:24] tannergooding commented on #702
Some file systems store the creation time (ext4 does, iirc), but it is not directly accessible.

Would returning the last modification time be reasonable here?  It seems to be as close as you can get to creation time for all file systems, and (imp) is better than returning 1/1/0001

[2017-06-27 13:34] stephentoub commented on #702
That's basically what we do starting in 2.0.

[2017-06-27 13:54] Petermarcu commented on #702
Yes, this is addressed in a better way in 2.0.

[2017-06-27 13:54] #702 closed

[2017-06-27 21:01] conterio commented on #604
Is there any  around this?

[2017-06-28 02:48] olivd commented on #681
Just an FYI as it looks like you deleted the issue I was having.

It seems like the issue was due to a version discrepancy in our
dependencies in our csproj files on referenced projects, after getting the
latest versions across all our csproj files the unit tests are running
without any issues on all platforms.

Cheers,

*Oliver D'Alton* Software Development Team Lead

*T: *02 9694 0397 *F: *02 96

[2017-06-28 06:33] leecow commented on #686
Thanks @ericstj - is there an issue number which I could also reference or is this just a configuration heads-up?

[2017-06-28 15:57] ericstj commented on #686
That's just work that hadn't been completed at the time we shipped Preview1.  You could reference https://github.com/dotnet/sdk/issues/1267 if you'd like.  There are probably earlier issues that were tracking the work prior to preview1, but this is the one I opened to represent the final form.

[2017-06-28 17:12] leecow opened #711 ".NET Core Preview 2"
.NET Core 2.0.0 Preview 2 is available.

You can read about .NET Core 2.0.0 Preview 2 in the [release notes](https://github.com/dotnet/core/blob/master/release-notes/2.0/2.0.0-preview2.md) and [.NET blog announcement](https://blogs.msdn.microsoft.com/dotnet/2017/06/28/announcing-net-core-2-0-preview-2/).

Please report any issues you find with .NET Core 2.0.0 Preview 2 here, either responding to t

[2017-06-28 17:24] mehtanilay10 opened #712 "No executable found matching command "dotnet-ef" even after adding CLI"
I want to Migrate my Database with Models. I am using EF Core 2.0 Preview.

[code]

### Packahe & Tools
I am already added all CLI and PM but still got error!

[code]

### Further technical details
[code]

[2017-06-28 17:38] mehtanilay10 commented on #712
It work perfectly from CMD but in VS 2017 15.3 it gives that error.

[2017-06-28 20:49] Petermarcu commented on #712
@rowanmiller where is the best place to track this?

[2017-06-28 20:50] Petermarcu commented on #701
I'm going to close this as it is resolved. Cause was not using ASP.NET Core 2.0 packages.

[2017-06-28 20:50] #701 closed

[2017-06-28 21:24] Ponant commented on #700
@Petermarcu , I think it is still not in preview 2...

[2017-06-28 21:26] JeffreyMcBride commented on #711
dotnet --version
     dotnet --info
     dotnet --diagnostics
All work fine
     dotnet -v
     dotnet -i
     dotnet -d
All return Unknown option even though help indicates
     -v|--version
     -i|--info
     -d|--diagnostics

[2017-06-28 22:06] Petermarcu commented on #700
In Preview2 ASP.NET moved back to .NET Standard. I'm not sure if there were specific libraries that couldn't. @DamianEdwards do you know?

[2017-06-28 22:06] Petermarcu commented on #711
@livarcocc , can you take a look?

[2017-06-29 00:48] olivd commented on #681
Oh cool, I couldn't find this earlier. No worries I will close it now

[2017-06-29 00:48] #681 closed

[2017-06-29 01:11] tarekgh opened #716 "Suggestion: Partner with SlickEdit"
@clrjunkie commented on [Tue Jun 27 2017](https://github.com/dotnet/corefx/issues/21615)

I recently evaluated the SlickEdit code editor and was totally blown by its speed and feature-set.

I installed it inside a VM running Ubuntu Desktop with 4GB ram/2 proc and honestly I couldn't sense a VM environment in any way.

I highly recommend the team reach out and discuss .NET Core support. It would be

[2017-06-29 01:12] tarekgh commented on #716
I moved  it to the core repo.

[2017-06-29 01:12] mehtanilay10 commented on #712
Create a new ASP.Net Core 2.0vproject using VS 2017 15.3
And add above packages from Nuget. And add CLI library,
After adding CLI, i can use ```dotnet ef``` from CMD however in VS to give an error.

[2017-06-29 04:00] Petermarcu commented on #599
I'm going to close this because we need more info. Please reopen if you have more info you can share. Thanks!

[2017-06-29 06:18] Ponant commented on #700
https://apisof.net/catalog/Microsoft.AspNetCore.Antiforgery.Internal

[2017-06-29 10:25] Ponant commented on #700
`Antigforgery 2.0.0-preview2-final` does not recognize yet `Microsoft.AspNetCore.Antiforgery.Internal.CryptographyAlgorithms`

[2017-06-29 15:06] danwalmsley commented on #711
Since trying the preview2 building my project I get:

[code]

I am referencing some .net 4.5 project and nugets, which has worked on preview 1, but now there is some asset fallback.

How do I make this work again?

[2017-06-29 15:07] Petermarcu commented on #711
@rrelyea Can you give guidance on PTF and ATF?

[2017-06-29 15:15] MaximoTrinidad opened #717 ".NET Core 2.0 Preview 2 won't install in Ubuntu 16.04.2"
Thanks for your interest in .NET Core.

Please note that this repo (dotnet/core) is not for filing product issues. Here are some repos where you can file an issue:
 * dotnet/cli - for CLI tools and questions
 * dotnet/corefx - for API issues and questions
 * dotnet/coreclr - for runtime issues
* nuget/home - for NuGet questions and issues

I have follow both installation instructions in GitHub and

[2017-06-29 15:19] Petermarcu commented on #717
If you remove Preview1, perhaps it will get rid of the problem? `dotnet-dev-2.0.0-preview1-005977`

/cc @livarcocc it looks like we're installing the same thing to the same location and getting a conflict.

[2017-06-29 15:22] MaximoTrinidad commented on #717
Thanks @Petermarcu!  I'll give it a try and see if uninstalling the previous version will clear the issue.
:)

[2017-06-29 15:25] Petermarcu commented on #717
Thanks @MaximoTrinidad let us know.

[2017-06-29 15:30] MaximoTrinidad commented on #717
HURRAY!!! @Petermarcu

Someone need to add this additional step in the instruction:

1. remove previous version:
[code]
2. Then, install the latest one:
[code]

I got it loaded now.

![dotnet_fix_2017-06-29_11-01-01](https://user-images.githubusercontent.com/19892435/27695949-50724b84-5cbe-11e7-8fa4-66dcc59db83e.jpg)

Thanks for the tip!

[2017-06-29 15:31] Petermarcu commented on #717
Glad to hear it! I've copied this issue to the dotnet/cli repo because you definitely shouldnt have had to uninstall preview1. I'm going to close this issue here now. Thanks for reporting it!

[2017-06-29 15:31] #717 closed

[2017-06-29 15:44] Petermarcu commented on #717
@richlander @leecow can we get a note on the instructions that Preview1 of the sdk needs to be uninstalled?

[2017-06-29 15:48] danwalmsley commented on #711
@Petermarcu ah I removed all <PackageTargetFallbacks> in my project and it started to work again.

[2017-06-29 16:25] leecow commented on #717
Notes added to the download page, known issues doc and made the requirement more obvious on the Preview getting started page.

[2017-06-29 17:01] Petermarcu commented on #711
@JeffreyMcBride , I have opened an issue in dotnet/cli to track your issue and mentioned you in it. Thanks.

[2017-06-29 17:46] MaximoTrinidad commented on #717
@Petermarcu!!  Awesome!  Thanks again.
:)

[2017-06-29 18:14] rrelyea commented on #711
@danwalmsley -
We have since improved that error to:
PackageTargetFallback is deprecated. Replace PackageTargetFallback references with AssetTargetFallback in the project environment.

More details...PackageTargetFallback worked like imports did in Project.json.
The teams have realized that our implementation of that wasn't ideal.
In order to not break old projects/packages -- we created AssetTarg

[2017-06-30 00:50] MaximoTrinidad opened #721 ".NET Core 2.0 Preview 2 Installation "Waits" at end of install in Ubuntu 16.04.2"
Thanks for your interest in .NET Core.

Please note that this repo (dotnet/core) is not for filing product issues. Here are some repos where you can file an issue:
 * dotnet/cli - for CLI tools and questions
 * dotnet/corefx - for API issues and questions
 * dotnet/coreclr - for runtime issues
* nuget/home - for NuGet questions and issues

Just an FYI as I'm rolling out .NET 2.0 Core Preview 2 on

[2017-06-30 00:53] Petermarcu commented on #721
@livarcocc , this looks like it's due to adding the "first run" experience to the installer.

[2017-06-30 00:56] Petermarcu commented on #721
@MaximoTrinidad , Thanks for reporting this. I opened it in the dotnet/cli repo and tagged you there so it can be followed up on. I'm going to close it here.

[2017-06-30 00:56] #721 closed

[2017-06-30 02:11] rowanmiller commented on #712
Adding @divega and @ajcvickers who now own EF

[2017-06-30 03:02] divega commented on #712
@bricelam does this ring any bells? Does it look to you like a possible issue in EF Core? If it is, we can move it there.

[2017-06-30 03:07] mehtanilay10 commented on #712
I am previously posted issue on EF Core.
https://github.com/aspnet/EntityFramework/issues/8996#issuecomment-311734955
But @bricelam told it follow up with CLI.
Now issue is for PMC only not CMD.

[2017-06-30 03:12] livarcocc commented on #712
This only happens from VS? From the command line migration succeeds?

[2017-06-30 03:15] bricelam commented on #712
@mehtanilay10 I thought the issue was resolved--you need to `cd` to the project directory before running `dotnet ef`.

[2017-06-30 03:36] mehtanilay10 commented on #712
Thanks @bricelam It works. I think that if i am selecting project from PMC's dropdown then it will automatically switch to that directory.

[2017-06-30 03:36] #712 closed

[2017-06-30 05:44] cmaslen commented on #711
Not sure if this is the right place since this looks more like a VS issue but the following doesn't work after preview 2:

- Create ASP.NET Core Web project in VS 15.3.0 Preview 3.
- This defaults to targeting .NET Core 1.1.
- Open project properties and change project to target .NET Core 2.0

Building the project results in a bunch of package downgrade errors:
error NU1605: Detected package downg

[2017-06-30 07:22] Petermarcu commented on #711
Yeah, migration from asp.net core 1.X to 2.0 isn't as simple as just changing the target framework. @Damianedwards are there any docs that tell people what to do. This issue may be better on the aspnet/home repo.

[2017-06-30 07:27] divega commented on #712
@mehtanilay10 I agree that would be nice. I am not sure changing the behavior of the PMC would be safe, but in any case https://github.com/NuGet/Home/ is a good place to provide that feedback.

[2017-06-30 13:24] MaximoTrinidad commented on #721
@Petermarcu, Thanks for the update!
:)

[2017-06-30 18:42] xPaw commented on #649
@brendandburns Oh wow, thanks for the solution! I was hitting segfaults with latest preview on Debian 9, and this fixed it.

[2017-06-30 21:10] Petermarcu commented on #700
I don't know much about those packages. @DamianEdwards do you?

[2017-06-30 21:31] DamianEdwards commented on #711
The migration docs for ASP.NET Core are in progress and will be done by the time we ship 2.0.0 RTW.

[2017-07-02 03:51] richlander commented on #716
I would suggest SlickEdit users reach out to the developers of that product to ask for .NET support. That is even better than me (for example) reaching out. We would be happy to partner with SlickEdit at the point that they want to move forward.

The best place for SlickEdit to look is [OmniSharp](https://github.com/omnisharp). That is what VS Code uses.

[2017-07-02 04:02] richlander commented on #697
Please file a new issue with more info. It is fine to file it here.

[2017-07-02 04:02] #697 closed

[2017-07-02 04:04] richlander commented on #689
Please continue the conversation on the aspnet/home repo if you need more information. Thanks.

[2017-07-02 04:04] #689 closed

[2017-07-02 04:05] richlander commented on #716
Closing. No specific action for the team to take now. Happy to chat later.

[2017-07-02 04:10] richlander commented on #686
@terrajobst - can you create announcements at dotnet/announcement for the following changes:

- The creation of this NuGet package and the associated scenarios.
- The removal of NETStandard.Library as NuGet dependencies.

These are pretty unrelated topics but contribute to the same scenario. I am sure folks would appreciate more info on both.

[2017-07-02 04:15] richlander commented on #674
Can you share either your Dockerfile or share how you have mounted volumes?

[2017-07-02 04:24] richlander commented on #672
Is this list distro dependent? I assume so.

[2017-07-02 04:26] richlander commented on #671
How is this diff than #672?

Is this about local resolution and #671 is the specific versions?

Send me a sample with some notes and I can write this up.

[2017-07-02 04:40] richlander commented on #663
Our instructions on this are not good. I was able to build CoreCLR on my Pi on raspbian but I sadly wasn't able to produce reliable instructions. I did a bunch of hacking to get it to work and then ran out of time to make the reliable instructions.

On a more positive note, we have a much more systematic build project that will be released soon. @ellismg any timeframe on that?

@ellismg should we

[2017-07-02 05:03] richlander commented on #647
@lilpug can you share your simple example? Something odd is happening. We create projects with dependencies all the time and they work. There must be something unique at play.

[2017-07-02 05:16] richlander commented on #664
@treeicnliu can you share the before and after of the return value in both cases.

Can you share how this property is set in both cases? https://docs.microsoft.com/en-us/dotnet/api/system.net.webclient.encoding?view=netcore-2.0#System_Net_WebClient_Encoding

[2017-07-02 05:18] richlander commented on #625
Still occuring?

[2017-07-02 05:26] richlander commented on #619
Your scenario isn't well supported. We didn't have good support for xproj / csproj interop in VS 2015. And we don't support xproj in VS 2017 where the interop between various .NET project types is much better because everything is based on msbuild.

Closing because this experience isn't going to get better. Best plan is to move to VS 2017 to get the experience I believe you are looking for.

[2017-07-02 05:26] #619 closed

[2017-07-02 05:28] richlander commented on #610
Can you share which .NET Core version you were attempting to use?

[2017-07-02 05:30] richlander commented on #609
Closing due to lack of activity. Please try again in aspnet/home as Peter suggests.

[2017-07-02 05:30] #609 closed

[2017-07-02 05:33] richlander commented on #576
Check out the new platform support @ https://blogs.msdn.microsoft.com/dotnet/2017/06/28/announcing-net-core-2-0-preview-2/

You should be good now.

[2017-07-02 05:33] #576 closed

[2017-07-02 06:50] yupingyong opened #723 ".Net Core 2.0 preview-2 issues deployed to IIS"
.Net Core 2.0 preview-2 installed in windows server 2016 Windows Server Hosting IIS does not appear AspNetCoreModule module

[2017-07-02 12:33] clrjunkie commented on #716
Reached out:

https://community.slickedit.com/index.php/topic,15336.0.html

[2017-07-02 15:23] Petermarcu commented on #723
I think there is something called the asp.net core hosting bundle that you need to install.

[2017-07-02 15:24] Petermarcu commented on #723
@DamianEdwards do you know where the link to that is?

[2017-07-02 15:26] Petermarcu commented on #610
This looks like 2.0. There is a hotfix for the OS that is required for the uCRT to be present. Can you make sure the OS is up to date? Was it a fresh install of the OS?

[2017-07-02 15:28] Petermarcu commented on #610
I believe this is the link https://support.microsoft.com/en-us/help/2999226/update-for-universal-c-runtime-in-windows

[2017-07-02 15:31] Petermarcu commented on #672
Yes, it is. I just hit this problem again last night trying to get the deps installed on Raspbian.

[2017-07-02 15:33] Petermarcu commented on #671
They are related. This one is about how to copy them app local. First step is install them for your distro. Then copy the right things out of them for app local. We may even want to script both of these...

[2017-07-02 15:34] yupingyong commented on #723
@Petermarcu
thank you for your reply.
I installed the following files:
1.AspNetCore.2.0.0-Preview2.RuntimePackageStore_x64.exe
2.DotNetCore.2.0.0-Preview2-WindowsHosting.exe
3.dotnet-runtime-2.0.0-preview2-25407-01-win-x64.exe
Whether there are other packages that need to be installed.

[2017-07-02 15:36] Petermarcu commented on #723
#2 in your list looks like the one I'm thinking of. @DamianEdwards would know if that's the right one or if there is another issue here.

[2017-07-02 20:38] WillooWisp commented on #711
Running a self-contained netcoreapp2.0 preview 2 on arm (RPI2) gives me this exception now matter what I do or what references I try to update.
Could not load file or assembly 'System.Private.ServiceModel, Version=4.1.2.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. The system cannot find the file specified.

[2017-07-02 22:49] Petermarcu commented on #711
@WillooWisp , can you share your project? Are you referencing WCF? The trick will be figuring out which assembly you are pulling in that has that references to that assembly.

[2017-07-03 16:30] ed-ilyin commented on #711
after I have upgraded from preview1 `dotnet restore` and `dotnet fable yarn-run split-server` takes minutes before anything appear on screen

[2017-07-03 18:19] dsyme commented on #711
I also have one Windows 10 machine where "dotnet restore" hangs indefinitely with the latest preview installed.  It works on my other Windows 10 machine.  I have no idea why it hangs - it seems a network request is just timing out indefinitely.  No proxy involved. I tried resetting my firewall settings but that didn't seem to help.

[2017-07-03 18:22] Petermarcu commented on #711
@rrelyea for the dotnet restore issue.

[2017-07-03 19:43] WillooWisp commented on #711
@Petermarcu I cannot share the project, but I can try to reproduce it, my guess is that it might be due to referencing the Microsoft.AspNet.WebApi.Core 5.2.3, but I have tried the Microsoft.AspNet.WebApi.Client 5.2.4-alpha1-170629 as well without any difference. It is only a problem on arm, not on windows.

[2017-07-03 20:36] WillooWisp commented on #711
@Petermarcu No that was a wrong guess from my side, removed the WebApi.Client dependency and commented out all code related to that. Still get:  Could not load file or assembly 'System.Private.ServiceModel, Version=4.1.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. The system cannot find the file specified.

[2017-07-03 20:57] richlander opened #724 "dotnet restore hangs indefinitely"
See:

- https://github.com/dotnet/core/issues/711#issuecomment-312688873
- https://github.com/dotnet/core/issues/711#issuecomment-312708156

/cc @rrelyea

[2017-07-03 20:58] richlander commented on #711
I moved the `dotnet restore` issue to #724. Let's discuss there.

[2017-07-03 21:01] richlander opened #725 "Docs for AssetTargetFallback"
We need docs for AssetTargetFallback, both generally and migrating from PackageTargetFallback .

See: https://github.com/dotnet/core/issues/711#issuecomment-312051242

[2017-07-03 21:02] richlander opened #726 "Migrating ASP.NET Core 1.1 apps -> ASP.NET Core 2.0"
We need docs for this.

See: https://github.com/dotnet/core/issues/711#issuecomment-312377310

[2017-07-03 21:14] richlander commented on #664
@treeicnliu can you share a repro? I'm not quite sure what to test based on your description.

[2017-07-03 21:22] richlander commented on #647
I tried this in VS 2017 15.2. I was not able to repo the issue. I've attached my sample.
[aspnetcorewithdependencies.zip](https://github.com/dotnet/core/files/1120571/aspnetcorewithdependencies.zip)

Tell me if you can repro with that or how my sample is different from your case.

[2017-07-03 21:25] richlander commented on #640
Closing this issue given that we've shipped a newer preview. Thanks for all the feedback.

Please move to [.NET Core 2.0 Preview 2](https://github.com/dotnet/core/issues/711) and provide feedback for the new release.

[2017-07-03 21:25] #640 closed

[2017-07-03 21:25] richlander commented on #622
Looks like this release was quite quiet. Closing this issue.

[2017-07-03 21:25] #622 closed

[2017-07-03 21:27] WillooWisp commented on #711
@Petermarcu I finally nailed it down to this line of code, throw new CommunicationException. When referencing CommunicationException in the code I get the "Could not load file or assembly 'System.Private.ServiceModel, Version=4.1.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'" when running the console app, otherwise not.

[2017-07-03 21:27] danroth27 commented on #723
@yupingyong Could you please provide more details on the steps you performed and the error you are seeing?

[2017-07-03 21:31] richlander commented on #610
Does that work for you @fahad198 ?

[2017-07-03 21:33] richlander commented on #607
Can one of you provide specific instructions? I read that the team is stuck moving forward without them.

@weiwangda2014  @taadis  @WeihanLi

[2017-07-03 21:49] davidfowl commented on #700
@Ponant do you have a minimal repro that you can post to GitHub?

[2017-07-03 22:22] richlander commented on #604
Sorry for the delay! I just sent a message to the CRM team.

[2017-07-03 22:24] richlander commented on #596
I just tried this is .NET Core 2.0 Preview 2 and it works like you want.

[2017-07-03 22:24] #596 closed

[2017-07-03 22:26] richlander commented on #595
Your code compiles and runs with .NET Core 2.0 Preview 2.

[2017-07-03 22:26] #595 closed

[2017-07-03 22:27] richlander commented on #589
Is this still an issue?

[2017-07-03 22:28] richlander commented on #588
Is this still an issue?

[2017-07-03 22:29] richlander commented on #579
Good q! @mairaw, all known issues are recorded in the .NET Core release notes. We shouldn't use the link above for anything anymore.

@leecow Can you retire the cli known issues page?

[2017-07-03 22:33] richlander commented on #594
@lianggx can you share a sample?

[2017-07-03 22:34] #575 closed

[2017-07-03 22:38] #571 closed

[2017-07-03 22:38] #566 closed

[2017-07-03 22:39] richlander commented on #565
If you install the latest 1.x SDK, you will get both 1.0.x and 1.1.x runtime versions. We recommend that you use .NET Core 1.1. It will have the same support timeframe as .NET Core 1.0.

[2017-07-03 22:39] #565 closed

[2017-07-03 22:40] richlander commented on #563
Is this still an issue? Do you have any projects you can share?

[2017-07-03 22:42] richlander commented on #558
I expect more will happen in this space after .NET Core 2.0 ships.

I'm not seeing anything immediately actionable in this issue. Closing.

[2017-07-03 22:42] #558 closed

[2017-07-03 22:43] #553 closed

[2017-07-03 22:44] richlander commented on #549
I'm not sure what you are asking for. This works today.

See: https://github.com/dotnet/core/blob/master/samples/RaspberryPiInstructions.md

[2017-07-03 22:44] #546 closed

[2017-07-03 22:45] MathiasKowoll commented on #724
I looked that while having many libs in the folder wwwroot\lib dotnet restore takes a while to restore the files, If I remove that folder it restores immediately.

This happens with al dotnet commands. CLI and Visual Studio 2017 Preview 3

[2017-07-03 22:46] richlander commented on #532
Closing. .NET Core 1.0.5 and 1.1.2 have now shipped.

See #622

[2017-07-03 22:46] #532 closed

[2017-07-03 22:46] #519 closed

[2017-07-03 22:49] richlander commented on #333
This is now stale. Feel free to restart the conversation at dotnet/wcf.

[2017-07-03 22:49] #333 closed

[2017-07-03 22:54] kharlamov commented on #588
Besides the weeork around I provided, yes this is still a problem

[2017-07-03 23:11] tannergooding commented on #483
@richlander, was this ported elsewhere?

[2017-07-04 00:48] malachib commented on #649
Experienced this issue, but pulling down the newest (preview 2 2.0 SDK) seems to fix it nicely

[2017-07-04 01:56] WeihanLi commented on #607
Sorry for not replying in time @richlander . The problem is as follows:
There's a option named `[add] --> [add view]`  in ` views`  folder's context menu,I added a view this way and typed in some Chinese characters, and when I reopen the view just created,there's a encoding problem.
Just as follows:
![encoding_problem](https://user-images.githubusercontent.com/7604648/27812084-c04a4734-609e-11e7-9

[2017-07-04 03:19] richlander commented on #606
See: https://github.com/dotnet/core/pull/727

[2017-07-04 03:21] richlander commented on #483
No. I shouldn't have closed this.

[2017-07-04 03:23] richlander commented on #588
@terrajobst @weshaggard it looks like we still need to do something.

[2017-07-04 03:27] mlorbetske commented on #607
Based on the information from @WeihanLi, I'll move this to the scaffolding repo.

[2017-07-04 03:27] mlorbetske commented on #607
This issue was moved to aspnet/Scaffolding#539

[2017-07-04 03:27] #607 closed

[2017-07-04 03:30] richlander commented on #607
Thanks @mlorbetske!

[2017-07-04 04:15] rmunn commented on #711
https://github.com/dotnet/cli/issues/6286 (which is ultimately caused by https://github.com/NuGet/Home/issues/4424 according to the comments in that thread) appears to not be fixed yet in preview2: I was able to reproduce that bug in https://github.com/TheAngryByrd/MiniScaffold/issues/19. See https://github.com/NuGet/Home/issues/4424#issuecomment-307315106 for specific version details of when that

[2017-07-04 04:31] richlander commented on #711
@livarcocc the comment by @rmunn seems like something we should get into preview3 ASAP. Yes?

[2017-07-04 05:02] Ponant commented on #700
@davidfowl , I need to strip out my project; give me some time.

[2017-07-04 05:17] Ponant commented on #700
@davidfowl , see class1, CryptographyAlgorithms is not recognized.
https://github.com/Ponant/AntiforgeryCryptoInternalCore20Preview2

[2017-07-04 05:25] davidfowl commented on #700
@Ponant Where's the project that fails? Can you write some instructions on how to reproduce the problem?

[2017-07-04 05:27] Ponant commented on #700
If you open the project and goto class1.cs, you should see the CultureCryptoService class that CryptographyAlgorithms "does not exist in the current context". Whereas I installed the preview 2 antiforgery nuget.

[2017-07-04 05:29] Ponant commented on #700
![antiforgerypreview2cryptobug](https://user-images.githubusercontent.com/19961806/27816212-754b0408-608a-11e7-8cc2-3b1b12c8aff4.PNG)

[2017-07-04 05:33] davidfowl commented on #700
@Ponant the project you put on github doesn't have any package references:

https://github.com/Ponant/AntiforgeryCryptoInternalCore20Preview2/blob/100d00de42077180be7a7afc1d1526321ddc0991/AntiforgeryCryptoInternalCore20Preview2/AntiforgeryCryptoInternalCore20Preview2/AntiforgeryCryptoInternalCore20Preview2.csproj

I'm still not clear on what you're expecting. Did you mean to add some package refer

[2017-07-04 05:35] Ponant commented on #700
OH that is strange, probably an upload issue. Here is my csproj on my desktop

[code]

[2017-07-04 05:41] Ponant commented on #700
@davidfowl , to answer your question, what I expect is CryptographyAlgorithms.cs to be public.
https://raw.githubusercontent.com/aspnet/Antiforgery/master/src/Microsoft.AspNetCore.Antiforgery/Internal/CryptographyAlgorithms.cs

[2017-07-04 05:43] davidfowl commented on #700
That type isn't in the preview2 version of the `Microsoft.AspNetCore.Antiforgery` package. That's why it's not resolving.

It was in 1.1.x -
 https://github.com/aspnet/Antiforgery/tree/rel/1.1.0/src/Microsoft.AspNetCore.Antiforgery/Internal

It's missing from preview2 - https://github.com/aspnet/Antiforgery/tree/rel/2.0.0-preview2/src/Microsoft.AspNetCore.Antiforgery/Internal

It's back in dev - h

[2017-07-04 05:51] Ponant commented on #700
Are they expected to be in 2.0? thanks

[2017-07-04 05:51] #700 closed

[2017-07-04 05:53] davidfowl commented on #700
@Ponant you might be better off calling `SHA256.Create()`

[2017-07-04 22:22] dsyme commented on #724
I put a full process dump of a hung dotnet.exe here: https://1drv.ms/u/s!Aq5gXOPBI5HdiroRLPy1hDY3yK80kQ

[code]

[2017-07-04 23:05] dsyme commented on #724
I eventually realised that I had a very large number of files in the subdirectories under the ``c:\misc`` in which I was running "dotnet".  The c:\misc directory itself contained just the results of a ``dotnet new``. The subdirectories included Git repos and much more - 20,000 files and 1.6GB

Now, it's my belief that the presence of these files shouldn't have caused problems for a simple ``dotnet

[2017-07-05 08:22] kierenj opened #730 "Referencing netstandard1.6 package in .NET 4.6.1"
This issue is about a reference resolution/loading error.  It seemed to me that it's not `cli` related because I'm not using the .NET Core tools, not `corefx` related because it doesn't relate to a particular API, and not `coreclr` because that seems too low-level.. but I'm not sure so please educate me if I'm in the wrong place - thanks :)

`dotnet` version  1.2.0-beta-001297-00
VS 2017 version 1

[2017-07-05 09:25] akarimovbytewerk opened #731 "Could not load file or assembly System.Net.Http in NET Core 2.0.0-preview2-25407-01"
Hello, I'm facing with a problem:
[code]
when trying to interact with HttpClient inside net core library, which is loaded as dynamic library with AssemblyLoader
[code]

Library source:
[code]

[2017-07-05 14:13] TingluoHuang opened #732 "NET Core 2.0 no longer support redhat 7.2 and OSX 10.11"
Hi,

From the [netcore 2.0 support OS doc](https://github.com/dotnet/core/blob/master/roadmap.md#net-core-20---supported-os-versions), looks like Redhat only support 7.3+, OSX only support 10.12+.
While in netcore 1.0, Redhat support 7.2 and OSX support 10.11.

I would like to know what's the motivation for no longer support those OS version in netcore 2.0, this makes adopt net core 2.0 a little b

[2017-07-05 15:09] Petermarcu commented on #730
The. Net Core 2.0 sdk is what delivers the msbuild tasks that enable netstandard 2.0 to work correctly in .net framework projects. Can you try installing that?

[2017-07-05 15:16] kierenj commented on #730
I certainly can, although I'm not using .NET Core 2.0 or netstandard2.0.  Will report back in a moment, thank you

[2017-07-05 15:22] kierenj commented on #730
Thanks for the suggestion, unfortunately I get the same error.  Any advice around how to approach this would be very much appreciated.

[2017-07-05 15:34] Petermarcu commented on #730
@ericstj

[2017-07-05 15:42] kierenj commented on #730
Ah, interesting.  Targeting .netstandard1.6 on a new, blank NuGet package, with no references, it too references System.Runtime, 4.1.0.0 according to ILSpy.  So I guess the issue isn't with the NuGet package, but the way I'm consuming it.. ?

[2017-07-05 15:46] ericstj commented on #588
Can you clarify which MSBuild you are using to do this?

[2017-07-05 15:55] kharlamov commented on #588
@rjschmertz could you look into what version the build servers are using.

[2017-07-05 16:17] ericstj commented on #730
NET461 used to be `netstandard1.4` but the latest version of NuGet remapped that to `netstandard2.0`.  It looks like you're using that new version of NuGet with the old packages.

The older packages (like the System.Runtime 4.3.0 package) have a mismatch when installed on .NET 4.6.1.  This is because they have a version of their library for net461 that matches the version that was in the netstanda

[2017-07-05 16:29] livarcocc commented on #711
@mlorbetske I wonder if this is actually an issue in dotnet new. Since it happens during dotnet new when instantiating the template. Mike, can you take a look?

[2017-07-05 16:31] RJSchmertz commented on #588
devbuild01 says 4.6.1590.0 when running `.\MSBuild.exe -version` from the latest version folder, `\%windir%\Microsoft.NET\Framework\v4.0.30319`

[2017-07-05 16:44] ericstj commented on #588
That's the MSBuild that's built into the desktop framework.  I wouldn't recommend using that to build new projects, it's missing quite a lot of fixes, and will be substantially different than the MSBuild used by VS 2015.  I could give you workarounds to make that old MSBuild work but that's just treating the symptoms and you could have more issues crop up in the future.

I believe the MSBuild team

[2017-07-05 17:13] kharlamov commented on #588
That works, dev ops can roll that out to the build servers. Thank you Eric.

[2017-07-05 18:04] leecow commented on #579
@richlander @mairaw - seems like we could remove https://github.com/dotnet/core/tree/master/cli entirely?

[2017-07-05 19:36] mlorbetske commented on #711
@livarcocc reading through the comments, there seems to be a variety of things being discussed - which thing is happening while instantiating templates?

[2017-07-05 20:28] richlander commented on #711
@mlorbetske I assume @livarcocc is referriung to https://github.com/dotnet/core/issues/711#issuecomment-312776555. Same as https://github.com/dotnet/cli/issues/6286.

[2017-07-05 20:30] richlander commented on #579
Ya. Are all of those known issues captured in our 1.0 preview 2 known issues? We might just copy that whole file beside the 1.0 preview 2 release notes and link from it. yes?

[2017-07-05 20:31] #588 closed

[2017-07-05 20:48] richlander commented on #732
On macOS, we only support the latest versions. We consider macOS to be a developer OS and believe that adoption of new apple OSes is very quick.

@Petermarcu can comment on the Red Hat support.

This also sometimes happens because we need to take a dependency on a new API in order to implement a scenario.

[2017-07-05 21:05] Petermarcu commented on #732
For OSX from a techincal angle, we moved to depend on the Apple Crypto stack to remove the OpenSSL dependency we had. The Apple Crypto libraries we needed to do this were introduces in 10.12.

Our lifecycle policy stated that we would only support the latest servicing level of each distro that is out when we shipped. That is what led to moving support on Linux from 7.2 to 7.3. We're considering mo

[2017-07-06 06:39] kierenj commented on #730
Adding that project property fixed that issue, thanks.  This may not be the same issue, but I do now also get:

`Could not load file or assembly 'System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference. (Exception from HRESULT: 0x80131040)`

(via `[TypeInitializa

[2017-07-06 13:59] kierenj commented on #730
On this new one, is it this - https://github.com/dotnet/corefx/issues/9846 - that I'm hitting?  I'm not sure what the appropriate workaround would be if so, can anyone advise please?

[2017-07-06 15:31] fobaz opened #733 "Failed to initialize CoreCLR, HRESULT: 0x80004005 when starting on CentOS 7.3"
Latest Visual Studio (2017  version 15.2 (26430.14)),
Windows 10 x64
Server CentOS 7.3 x64
Netcore 1.1.2

Developing the app on Windows, it runs fine on Windows. When trying to run the published release build on Linux, it throws this error: Failed to initialize CoreCLR, HRESULT: 0x80004005.

Creation of a new app on Linux and running it works, but I want to build on Windows and host on Linux serve

[2017-07-06 15:33] Petermarcu commented on #733
How are you running the app and what commands are you using to build it? Are you using `dotnet publish`?

[2017-07-06 15:45] fobaz commented on #733
Was using Visual Studio publish, now tried `dotnet publish` with no difference.
Running with `dotnet /var/www/api/bin/appname.dll`
Tried  adding `--fx-version 1.1.2` but didn't make a difference.

[2017-07-06 16:03] fobaz commented on #733
Yes, I have installed all the dependencies. There is also another app (runtime version 1.1.0) running fine on the server. Just tried right now downgrading this app to 1.1.0, but it did not make a difference. Maybe there is some way to debug to find out what is causing the error?

[2017-07-06 16:06] Petermarcu commented on #733
@gkhanna79 @steveharter isn't there a switch to enable verbose output that will help figure out what it's looking for?

[2017-07-06 16:07] Petermarcu commented on #733
Do you have 1.1.2 installed on the linux machine or use 1.1.0?

[2017-07-06 16:17] fobaz commented on #733
There is `/opt/dotnet/shared/Microsoft.NETCore.App/1.1.2` directory, so I guess it's installed. Otherwise, I think, it would throw an error when ran with `--fx-version 1.1.2`

[2017-07-06 16:42] Drapondur opened #735 "ResourceManager in .NET core does not fallback to unspecfic resource when using an unlocalized culture"
Version: .NET Core App 1.1
OS Windows 7 (German)
Assembly System.Resources.ResourceManager, Version=4.0.0.0
from %userprofile%\.nuget\packages\system.resources.resourcemanager\4.3.0\ref\netstandard1.0\System.Resources.ResourceManager.dll

I have a simple Resource named TestRes.resx plus three culture specific resources TestRes.de.resx, TestRes.en.resx and TestRes.it.resx.
There is one single key n

[2017-07-06 16:44] Drapondur commented on #735
Sorry for not having mentioned the .NET Core version in the title!

[2017-07-06 16:56] steveharter commented on #733
To capture verbose output:
`export COREHOST_TRACE=1`

[2017-07-06 19:28] fobaz commented on #733
There are some skips like this:

I think, they're normal, considering that similar output is in the working app.

The ending of the output:

On the working app, instead of the failure there is a line like this:

I can't see anything wrong... The installed packages in app:

- Pomelo.EntityFrameworkCore.MySql    {1.1.2}
- Microsoft.AspNetCore                {1.1.2}
- Microsoft.EntityFrameworkCore

[2017-07-06 21:12] steveharter commented on #733
From the output, it looks like it is finding the 1.1.2 directory.

Have you tried Centos 7.1? I'm asking as this is what we're testing on.

Did you try a simple "Hello World" assembly (no extra dependencies)? If this still fails, we can try debugging using gdb or I can try a local repro.

[2017-07-06 21:45] mlorbetske commented on #711
@livarcocc created https://github.com/dotnet/templating/issues/1028 for the dotnet new file permissions issue

[2017-07-06 22:21] fobaz commented on #733
Simple Console app which only prints out "Hello world", created and compiled using VS works fine, however, new WebAPI project fails with the same error. Tried creating new WebAPI project on the server, using `dotnet new webapi`, but got a few errors when tried to run it:

and etc.

Maybe upgrading the project to netcore 2 preview would help, as it supports RHEL 7.3? After all, will have to do that

[2017-07-07 00:18] fobaz commented on #733
After upgradint to netcore 2.0 preview 2, it works, so I guess netcore 1.1.2 doesn't support Centos 7.3 and netcore 2.0 does.

Thanks for the help.

[2017-07-07 00:18] #733 closed

[2017-07-07 06:15] kierenj commented on #730
@ericstj please forgive me for being forward, but this is blocking me for a big new project and has eaten a fair amount of my time.  I realise there's no SLA or anything here, but if you are able to recommend any course of action at all - even something time-consuming - I'd be very grateful indeed.

[2017-07-07 07:20] Petermarcu commented on #730
@ericstj isn't available right now. @terrajobst or @weshaggard may have some insight to give before @ericstj is back online.

I know System.net.http has been a challenge.

[2017-07-07 07:23] kierenj commented on #730
Thanks, since then I've had the idea to recreate the project from scratch (since it was initially a copy-paste job into VS2017, then I updated VS2017, then fiddled with the above), so I'm trying that in the meantime.

[2017-07-07 07:39] Petermarcu commented on #701
I'm going to close this now because I don't think there is anything more to be done.

[2017-07-07 07:40] Petermarcu commented on #735
@tarekgh can you take a look? Should we reopen this is corefx?

[2017-07-07 07:41] Petermarcu commented on #732
@leecow how do you want to track this discussion?

[2017-07-07 07:43] Petermarcu commented on #725
@richlander @rrelyea should this be moved to either the nuget or docs repo to track it?

[2017-07-07 07:43] Petermarcu commented on #724
@rrelyea should this get moved to the nuget repo to get tracked?

[2017-07-07 07:44] Petermarcu commented on #723
@yupingyong, any more details you can provide to @danroth27 so we can dig deeper?

[2017-07-07 07:50] Petermarcu commented on #663
I saw this error with @Chrisboh today as well. In his case, the issue was that the version of the runtime the SDK was assuming didn't match the version of the runtime that was actually installed.

Your strace log says the sdk is expecting 2.0.0-preview1-002111-00. Is that folder present and do you have the runtime you built there?

[2017-07-07 07:51] Petermarcu commented on #600
@russellhadley any ideas here?

[2017-07-07 09:01] Lanayx commented on #724
I got the same issue. For me the problem was that new _dotnet restore_ ignores disabledPackageSources configuration in NuGet.Config, and I had some of them unreachable. Removing these sources helped.

[2017-07-07 13:49] richlander commented on #732
@Petermarcu are you specifically referring to the lifecycle policy part?

[2017-07-07 13:53] richlander commented on #724
@Petermarcu I was going to make @ https://github.com/NuGet/NuGet.Client but issues are not enabled.

[2017-07-07 14:24] kierenj commented on #730
I've been rebuilding the project from scratch.  Still a very similar mix of problems.  I've added the project property not NETStandard.Library.NETFramework package resolved.

I added a binding redirect for Http, which solved that error this time (no roslyn compiler issue) - but am finally left with the System.Runtime error again,  I then double-clicked the build warning around multiple reference v

[2017-07-07 15:16] TingluoHuang commented on #732
Thanks for the explanation.
Today our [vsts-agent](https://github.com/microsoft/vsts-agent) produces 5 self-contained packages for different platforms. `win7-x64, ubuntu16-x64, ubuntu14-x64, osx10.11-x64, redhat7.2-x64`

We consider adopt netcore 2.0 since it will support on more OS and i can just build Linux-x64 for all linux flavors.

I guess if we still want to support customers to use vsts-age

[2017-07-07 15:23] Petermarcu commented on #732
@richlander, yes, and the rhel7.2 decision for 2.0

[2017-07-07 15:24] Petermarcu commented on #724
@richlander you make it on the nuget/home repo

[2017-07-07 15:45] tarekgh commented on #735
@Drapondur I'll take a look. I'll move the issue to corefx repo too.

[2017-07-07 15:45] #735 closed

[2017-07-07 15:45] tarekgh commented on #735
Issue moved to [dotnet/corefx #21983](https://github.com/dotnet/corefx/issues/21983) via [**ZenHub**](https://www.zenhub.com/)

[2017-07-07 15:46] yupingyong commented on #723
@danroth27  @Petermarcu
Thank you for your reply.
I provide my server installation environment information, whether it helps to find the problem.
1. System version: Windows Server 2016 Datacenter Chinese version
2.IIS Version: 10.0.14393.0
Steps:
1. Remove the original 1.1.2 version of Windows Server Hosting and 1.1.2 version of the Runtime
2. Start installing the following three files
    A) .Asp

[2017-07-07 16:24] Petermarcu commented on #730
@dsplaisted also in case he has any ideas.

[2017-07-07 18:00] forki commented on #724
Same issue here: https://github.com/fable-compiler/Fable/issues/1042

[2017-07-07 18:22] rrelyea commented on #724
Working on creating NuGet/home issues ... will link when created.

[2017-07-07 18:24] rrelyea commented on #724
@dsyme  - in dotnet cli v1 previews, we used to walk all the sub directories. I had thought we changed that when we switched to make restore recursive (across project references) by defeault. do you have the same problem if you do a "dotnet restore --no-dependencies" in that same directory?

[2017-07-07 18:25] rrelyea commented on #724
@MathiasKowoll - can you please give me repro steps for your problem (full details), and how you avoided it.

[2017-07-07 18:34] rrelyea commented on #724
@forki - I am unable to repro.
after you have done dotnet new, a restore should have already been completed.
when you do a build, it will also do a restore, if it deems that one is necessary.
Can you please file an issue in NuGet/Home about the issue you are seeing, with repro steps (including setup steps if necessary?

[2017-07-07 18:49] MathiasKowoll commented on #724
@rrelyea create mvc app with individual authentication.

replace bower.sjon with the following.

{
  "name": "ItsomaxCms",
  "private": true,
  "dependencies": {
    "jquery": "^3.2.1",
    "jquery-ui": "1.12.1",
    "bootstrap": "^3.3.7",
    "font-awesome": "4.3.0",
    "jquery-validation": "1.16.0",
    "jquery-validation-unobtrusive": "3.2.6",
    "datatables.net": "^1.10.15",
    "datatables.

[2017-07-07 18:51] forki commented on #724
@rrelyea thanks for looking into this. I notified the original author of the issue. We have multiple people reporting this on the fable gitter chat. I assume it's related to node_modules and dotnet restore iterating long time over it

[2017-07-07 19:24] forki commented on #724
Seems that things worked with preview1 see https://github.com/fable-compiler/Fable/issues/1042

[2017-07-07 19:45] mairaw commented on #579
Sounds good. Should we also add the link to each Known Issues file from [here](https://github.com/dotnet/core/tree/master/release-notes)?

[2017-07-07 19:51] mairaw commented on #579
also, is there a place where you have the full OS support matrix? We do link to this [one](https://github.com/dotnet/core/blob/master/release-notes/1.1/1.1.md) but then for 2.0, only macOS 10.12 is supported not 10.11 correct?

[2017-07-07 20:13] leecow commented on #579
Moved to https://github.com/dotnet/core/blob/master/release-notes/1.0/cli-known-issues.md and looks like all issues are captured in the 1.0 known issues doc.

Complete OS matrix per Core version is at https://github.com/dotnet/core/blob/master/roadmap.md.

[2017-07-08 14:02] Rovastar opened #737 "IIS interaction"
Finally (/sadly) I have to start using .NET core now to host stuff. Been following it for many years but like many others in the IIS support community have been keeping at arms length and seeing how your little project pans out.

Are there any plans for proper IIS interaction for asp.net core stuff?

GUI stuff, similar information/diagnostic tools, WPI install components, etc. Stuff that over the

[2017-07-08 14:31] Petermarcu commented on #737
This is probably a question best asked on the aspnet/home repo. Do you want to open another issue there?

[2017-07-08 14:48] Rovastar commented on #737
Ummh I will but why is this the wrong place. Is this not the place for the asp.net core?

Confused as to 2 projects that have a similar description.......
Can you explain the difference?

[2017-07-08 14:52] Petermarcu commented on #737
Because that's where issues specific to asp.net are tracked and monitored. See the filing specific issues section of the readme. https://github.com/dotnet/core/blob/master/README.md

[2017-07-08 15:56] Rovastar commented on #737
I have asked over there. I have read the readme still doesn't not explain the difference between what question should be asked where.
I am asking about .net core.
The readme first line is:
"The dotnet/core repository is a good starting point for .NET Core."

[2017-07-08 16:18] Petermarcu commented on #737
@RichLander we should improve the readme so it's easier to know that for asp.net/website specific issues, aspnet/home is the best place to ask questions.

[2017-07-08 16:33] svick commented on #737
@Rovastar

I don't think you are. .Net Core does not know anything about IIS. ASP.NET Core does (see [aspnet/AspNetCoreModule](https://github.com/aspnet/AspNetCoreModule) and [aspnet/IISIntegration](https://github.com/aspnet/IISIntegration)).

I think this distinction is nothing new: .Net Framework also does not know anything about IIS, ASP.NET does.

[2017-07-09 10:21] egilh commented on #711
Encountering error when trying to install  Setting up dotnet-sdk-2.0.0-preview2-006497 on a Ubuntu 16.04 based machine having fish installed as default shell:
`$ sudo apt install dotnet-sdk-2.0.0-preview2-006497
Reading package lists... Done
Building dependency tree
Reading state information... Done
Starting pkgProblemResolver with broken count: 0
Starting 2 pkgProblemResolver with broken count: 0

[2017-07-09 11:33] Rovastar commented on #737
Yes the are differences. Finding them is a tricky. I suppose I considered this to be the master project and asp.net to be a sub project of it.
Often .net and asp.net for a decade or more have been mostly interchangeable. Erroneous maybe but for the majority of people out there you will here them used interchangeably.

And .net might not know about IIS but IIS knows about both .net and asp.net.

An

[2017-07-09 20:41] jpcarrascal commented on #599
I have exactly the same problem.
I am running OS X El Capitan (10.11.6).
dotnet --version output is 1.0.4.
I tried both the installer and running the binary from the tar.gz and the result is the same. The only difference is that in the former case I also get a "dotnet quit unexpectedly" window.
I'd appreciate any help.
Thanks!

JP

[2017-07-10 03:41] richlander commented on #599
/cc @livarcocc

[2017-07-10 04:08] richlander opened #739 "sudo apt install fails when fish shell is default"
Encountering error when trying to install Setting up dotnet-sdk-2.0.0-preview2-006497 on a Ubuntu 16.04 based machine having fish installed as default shell.

See: https://github.com/dotnet/core/issues/711#issuecomment-313911366

/cc @livarcocc @egilh

[2017-07-10 04:09] richlander commented on #711
Thanks @egilh. I moved your issue to #739. Please mail me at rlander@ms. I some additional questions to ask.

[2017-07-10 08:21] kierenj commented on #730
I've now made all of the nuget packages under my control target net451 too (as well as netstandard1.6).  I get the same error - currently `Could not load file or assembly 'System.ComponentModel.Annotations' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference. (Exception from HRESULT: 0x80131040)`, with `Calling assembly : (Unknown).` with a

[2017-07-10 08:43] kierenj commented on #730
Sorry for the comment spam.  It's moved on and I can be more specific:

I'm using Windsor for DI in the .NET project and it's reflecting over the NuGet package's classes.

` System.Reflection.RuntimeAssembly.GetExportedTypes(RuntimeAssembly assembly, ObjectHandleOnStack retTypes) +0` in the stack trace is throwing `Could not load file or assembly 'System.ComponentModel.Annotations, Version=4.1.0.0

[2017-07-10 15:11] omajid commented on #739
Dupe of https://github.com/dotnet/core-setup/issues/2613?

[2017-07-10 20:04] weshaggard commented on #730
@kierenj there is a lot of issues called out in this thread so it is kind of hard to follow. Can you post a sample project demonstrating your issue somewhere and I will help diagnose it and get to the bottom of the issue.

[2017-07-10 20:45] kierenj commented on #730
@weshaggard thanks, I'd like to help get to the bottom of this. It's tricky because the code is confidential.   I guess a repro would involve creating two solutions and publishing a public NuGet package from one, setting up the same references in the other.  It might take me a while to find the time for that, but of course I understand the value of it.

The only issue I'm currently experiencing is

[2017-07-10 21:13] weshaggard commented on #730
There are a lot of moving parts so it is hard to say what the real issue is just from your description.

[code]

That to me says you are deploying the wrong version of this library. It looks like it is deploying the reference assembly instead of the implementation assembly. That assembly should not even need to be deployed as it ships inbox on .NET Framework.  If I were to guess the issue with Sys

[2017-07-10 21:28] kierenj commented on #730
Ok I understand, thanks.  The package is not locally built, it's built on travis-ci (linux/.net core/mono) and pushed to a private MyGet feed.  Looking in the nuget package and nuspec, neither target directly references System.ComponentModel at all, there's no mention of it and no binaries in the package.  (Only) the netstandard16 dll itself references System.ComponentModel 4.1.0.0.  I don't under

[2017-07-10 23:58] davkean commented on #724
This issue was moved to NuGet/Home#5583

[2017-07-10 23:58] #724 closed

[2017-07-10 23:59] davkean commented on #724
Moving this to NuGet for now, @rrelyea it seems NuGet is involved in this, if this ends up not being the case - feel free to move it a product-based repo.

[2017-07-11 05:59] forki commented on #724
@davkean The same thing happens for dotnet build. It's probably more an issue with dotnet cli than nuget

[2017-07-11 10:20] kierenj commented on #730
Yipee, I found a fairly minimal-case repro!

https://github.com/kierenj/dotnet-core-issue-730-repro

The folder structure is a little funky - I created a solution called `whatever.sln` and of course that created a subfolder called `whatever.sln`.  Either way, the case should be solid.

A breakdown:

1. NuGet package, targeting `netstandard1.6`
2. References `<PackageReference Include="Microsoft.As

[2017-07-11 14:16] akarimovbytewerk commented on #731
Found a temporary solution in https://github.com/Particular/Workshop.Microservices/issues/64

[2017-07-11 14:16] #731 closed

[2017-07-11 14:24] akarimovbytewerk commented on #731
And duplicate dotnet/corefx#11639

[2017-07-11 14:40] akarimovbytewerk commented on #731
The final solution is using the following code:
[code]
instead of
[code]

[2017-07-11 15:43] 0807Jpatel opened #740 "SerialPort on Linux"
# SerialPort on Linux

I installed https://www.nuget.org/packages/SerialPortStreamCore/  and it seems to work fine on windows but but publish program gives error when ran on linux.

# Error Details

Unhandled Exception: System.DllNotFoundException: Unable to load DLL 'libnserial.so.1': The specified module could not be found.
(Exception from HRESULT: 0x8007007E)
   at RJCP.IO.Ports.Native.Unix.Ser

[2017-07-11 15:48] ctaggart commented on #724
I'm not sure where to log the bug with Azure App Services, cc @suwatch & @davidebbo.

Since [2.0.0-preview2-006497 was rolled out on Friday](https://github.com/fable-compiler/Fable/issues/1042), our builds using Azure Kudu have gone from 5 minutes to 50 minutes. The last 5 minute build was using 2.0.0-preview1-005977.

[2017-07-11 15:57] gortok commented on #732
My concern is primarily for large enterprises that don't upgrade quickly.  ASP.NET Core *is* being used in scenarios where the customer has a months long process to upgrade their minor versions.  For 'the cloud' this isn't a problem; but there are still self-hosted infrastructure places where it's important not to lose support so quickly.

Is ASP.NET Core just meant for the public 'cloud', or is i

[2017-07-11 16:08] pjanotti commented on #740
Hi @0807Jpatel  this nuget is not part of `dotnet/corefx`. Its owner is @jaime-olivares. Currently `dotnet/corefx` generates a nuget, still in preview, for [`System.IO.Ports`](https://www.nuget.org/packages/System.IO.Ports) but for now only for windows.

[2017-07-11 16:11] pjanotti commented on #740
@0807Jpatel I am going to close the issue but feel free to continue the conversation here if you still have any questions.

[2017-07-11 16:11] #740 closed

[2017-07-11 16:18] 0807Jpatel commented on #740
@pjanotti Hey so is there a way for me to communicate with ports on linux for .net core? preview or stable.
Thank You

[2017-07-11 16:47] vcsjones commented on #732
For what it's worth, I am a *pro*ponent of this model. It's easy to understand and predict, and often follows what other platforms and technology stacks are doing.

[2017-07-11 16:55] Petermarcu commented on #740
Looks like people have been successful using the library you referenced. You could try opening an issue on the github site for that library https://github.com/jcurl/SerialPortStream if you have questions about it.

It looks like that package doesn't come with the native binary. You are going to need it in order to get it to work. See the instructions on that projects readme for Linux and how to co

[2017-07-11 20:13] 0807Jpatel commented on #740
@Petermarcu  I was able to use SerialPortStream and get it working on .dotnet preview for linux.
steps to follow: clone SerialPortStream, cd into dll/serialunix and Run following commands
`# cmake && make && make install`
This might give you
[code]
**Ignore it**.
Now Copy the generated libnserial.so.1.1 to project folder and rename it to libnserial.so.1 this should do the trick.  If you the ports

[2017-07-11 20:15] forki commented on #724
@ctaggart it's by design to increase your azure bill ;-)

[2017-07-11 21:26] Petermarcu commented on #740
Awesome. Great to hear it worked! I may use this for a personal project as well. Hope it works on ARM :)

[2017-07-12 00:40] weshaggard commented on #730
In your web project install the "System.ComponentModel.Annotations" "4.3.0" nuget package, which should automatically cause your web.config to update to add the following binding redirect.

[code]

And also cause System.ComponentModel.Annotations.dll to be copied to your bin folder. Once that happens your web project works.

Let me know if that didn't fix your main project.

[2017-07-12 04:37] richlander commented on #604
I'd love to learn a bit more about what you plan to do with .NET Core and CRM. Please (anyone) send mail to rlander@ms. I'm collecting scenarios so that we can have better insight on using these two products together.

[2017-07-12 05:28] richlander commented on #724
@ctaggart Do you have access to logs for kudo build? If you did, we'd appreciate seeing them to help diagnose the issue. Send to rlander@ms.

[2017-07-12 05:38] richlander commented on #732
ASP.NET Core is intended for both cloud and on-prem.

The main thing we want to avoid is supporting an operating system version that we know will go out of service while a given .NET Core release is in service. For example, if [Ubuntu 16.10](https://wiki.ubuntu.com/Releases) will go out of service 12 months into a .NET Core release, we'd rather not support it from the start. We don't want to have

[2017-07-12 07:06] forki commented on #724
@richlander @ctaggart  in the linked issues the root cause is analysed as gobbling going rogue in restore and build. Workaround `dotnet restore /p:EnableDefaultItems=false`

[2017-07-12 07:18] kierenj commented on #730
Thanks, that fixed it!  I'm unblocked and very happy, gives me a couple of days to pull a demo together for our client on Friday. :)
Should either the tooling or I added that as an explicit dependency on NuGet?

[2017-07-12 16:15] Rovastar opened #741 "Lack of description for the dotnet.exe"
not sure where to post this so posting in multiple locations.

Can we have a description for the dotnet.exe (for Windows)?
Currently it just shows up in Task Manger when running with no description and just displaying the exe name "dotnet"
A more meaningful description would be useful mentioning that this is the Core version and probably the version number in there.
".NET Core runtime" or somethin

[2017-07-12 16:33] Rovastar opened #742 "Security Updating for .net core under Windows."
Are there any plans to integrate the security into Windows Update?

I need to rewrite my security and compliance procedures for now adding (asp).net core (Under windows) and with asp.net x.x it was included in Windows Update.

If there are no plans at this time. What is the best way of being informed of security updates with this.

I subscribe to the Microsoft security bulletins but I didn't see a

[2017-07-12 16:33] ctaggart commented on #724
Thanks @forki, that dropped the build time down to 15 minutes. Fable is taking up about 11 minutes though, which is much longer than it was before even with the attempted workaround on that line too:

[code]

[2017-07-12 16:35] forki commented on #724
yes that's exactly the same thing. somehow all dotnet commands are broken now.

[2017-07-12 16:59] weshaggard commented on #730
I think somewhere along the lines when if you installed the nuget packages via the UI it should have pulled this dependency, if you manually edited the packages.config file that might be why it didn't show up.

Future tooling will help flow these dependencies better. If you are able to it would be good to switch away from packages.config based projects and instead use the newer PackageReference it

[2017-07-12 16:59] #730 closed

[2017-07-12 17:04] kierenj commented on #730
Thanks.  Just to make sure we're not missing a bug - I didn't edit packages.config, I used the VS2017 UI.
It's also a .NET 4.6.1 consuming project - not .NET standard/dotnet tooling.
With that in mind, should it have happened automatically?

[2017-07-12 17:25] weshaggard commented on #730
Honestly I'm not entirely sure.

@emgarten any ideas why System.ComponentModel.Annotations package isn't correctly installed when installing https://www.nuget.org/packages/Repro110717.MainPackage/ into a net461 packages.config based project? It is in the package closure from https://www.nuget.org/packages/Microsoft.AspNetCore.Mvc.DataAnnotations/1.1.2. Perhaps there is some issue around the instal

[2017-07-12 17:52] ctaggart commented on #724
@richlander Diagnostics for our internal company dashboard build are in your inbox. I built it using Fable and the builds auto-deploy using Azure Kudu. We are really looking forward to a stable dotnet 2. Let me know if I can assist further.

[2017-07-12 18:14] 0807Jpatel commented on #740
@Petermarcu  I was able to get it running on Ubuntu Mate arm for Raspberry Pi 3, so you should be able to.

[2017-07-12 20:20] Petermarcu commented on #740
Sweet!

[2017-07-12 20:31] Petermarcu commented on #741
Closing as this is already filed in the right place: https://github.com/dotnet/core-setup/issues/2817

[2017-07-12 20:31] #741 closed

[2017-07-13 03:54] TAGC commented on #711
After installing this version of .NET Core, my downgrade warnings have become errors. I'm _forced_ to rely on an older version of AspNetCore.JsonPatch due to aspnet/JsonPatch#59. I know from testing that my application works fine even with this downgrade. Is there a way to turn the errors back to warnings again so that I can successfully run `dotnet restore`?

[2017-07-13 04:06] Petermarcu commented on #711
@TAGC. Can you open an issue on Nuget/home?

[2017-07-13 06:13] subek opened #745 "Packages restore failed"
# Package restore

Package restore failed in asp.net core 1.1
Note : i am referencing my project to

Recently i upgraded my project from asp.net core 1.0 to 1.1 and it works fine on my old laptop by i switched the project to fresh new laptop ,Installed visual studio 15 .here is the configuration of the VS 15
![image](https://user-images.githubusercontent.com/6284686/28152554-dcb815c6-67c0-11e7-812

[2017-07-13 14:52] cartermp commented on #724
Can we open this up on the CLI since this isn't a NuGet bug?

[2017-07-13 16:07] cartermp commented on #724
cc @livarcocc

[2017-07-13 21:02] Nate-Wilkins commented on #600
This would be fantastic! I've wanted an easier way to do this from .NET for so long.

[2017-07-13 22:54] davkean commented on #724
It's not a CLI bug either, let @emgarten figure out the cause or then it will either be against SDK or MSBuild.

[2017-07-13 23:30] davkean commented on #724
@dsplaisted is going to investigate this.

[2017-07-14 05:59] WillooWisp commented on #711
I am able to build and run our ported .NET Core 2.0 app with CLI tools, dotnet build and publish. It is not possible in latest preview of Visual Studio 2017 with latest updates however. I get different build errors. Is this a know issue or something you want to investigate further?

[2017-07-14 07:03] LGinC opened #746 ".net core 2.0 previewer 2 can not find in Visual Studio"
# Issue Title
System : Windows10 1703
IDE : VisualStudio 2017

I have installed .net core 2.0 previewer 2 sdk and runtime, and I can use it in cmd or powershell, but I can't find it in VisualStudio2017.(when I create a console app, I try to modify framework from .net coreApp 1.0 to .net coreApp 2.0, but I can not find it)

[2017-07-14 11:34] PeterPanSuperStar opened #747 "sqldependency cache support in net core 2.0?"
Will be or not?

[2017-07-14 13:25] richlander commented on #747
Thoughts @corivera @terrajobst ?

[2017-07-14 13:26] richlander commented on #746
Please install Visual Studio 2017 15.3. Link is here: https://blogs.msdn.microsoft.com/dotnet/2017/06/28/announcing-net-core-2-0-preview-2/. Tell me if that doesn't work.

[2017-07-14 13:28] richlander commented on #711
@WillooWisp can you provide more insight into what is happening? Please file a new issue here and include the errors that you are seeing.

[2017-07-14 13:29] richlander commented on #739
It does look like a dupe. Closing this one.

[2017-07-14 13:30] #739 closed

[2017-07-14 13:35] karelz commented on #747
Would it be more appropriate to move it to CoreFX repo?
cc @divega

[2017-07-14 14:00] 0807Jpatel commented on #232
@Petermarcu @BenjaminAbt   can you update RaspberryPiInstructions.md  since console .net core apps don't generate .exe  but .dll

[2017-07-14 15:01] Petermarcu commented on #232
@0807JPatel the way the instructions are written, you will get an exe you can just run.

[2017-07-14 16:29] divega commented on #747
@karelz it is a SqlClient feature, so I think yes.

[2017-07-14 16:58] terrajobst commented on #747
It looks like it's already included:

https://github.com/dotnet/corefx/blob/master/src/System.Data.SqlClient/src/System/Data/SqlClient/SqlDependency.cs

[2017-07-14 19:54] divega commented on #747
Cool it seems @corivera added it post 2.0.

[2017-07-15 02:45] richlander commented on #747
So, can we close this, then?

[2017-07-15 16:49] divega commented on #747
@richlander Yes. I didn't close it myself because I don't know what exact state (e.g. labels and milestone) you guys would use in this repo.

[2017-07-15 17:13] richlander commented on #747
If this issue is covered in the corefx repo, we can close here.

For new product requests, we use the appropriate repo. For bugs, I prefer to keep this bug open for customer tracking even if we create an engineering bug in the appropriate repo. That's the basic model.

[2017-07-15 17:52] LGinC commented on #746
thank you, but I just add the .net core previewer 2 sdks's path to user environment variable

[2017-07-15 17:53] #746 closed

[2017-07-15 17:56] LGinC opened #748 "How to use json"
.net core 2.0 previewer 2
How can I parse a string to a json? I can't find the APIs.oh...Maybe I need find nuget packet.

[2017-07-15 17:58] karelz commented on #748
Try [JSon.NET](https://www.nuget.org/packages/Newtonsoft.Json/) NuGet package. It is widely used. There is also built-in JSon API for certain specific scenarios.

[2017-07-15 18:12] richlander commented on #746
Sure. You can do that, too.

[2017-07-16 04:20] VenkateshSrini opened #749 "what is the finalized release date for .NET core 2.0"
Hi,
I just see the date of release .NET core 2.0 as q3 and q3 has already started. Can we have the final date on which it will be released.

[2017-07-16 04:39] rubberduck203 commented on #679
So, this [completely burnt me this week](https://github.com/libgit2/libgit2sharp/issues/1472), and I ended up referring to the Dockerfiles as well. What makes this *really* bad is that you might not even get an indication of what's wrong if you have libicu and libunwind installed, but not some of the other dependencies.

I ended up blindly installing all of the dependencies in the docker, but it w

[2017-07-16 05:48] richlander commented on #749
We haven't shared the date yet but it is still safely within Q3. We like to be conservative to allow for something going wrong w/o disappointing folks on a promised date.

If anyone is trying to coordinate product launches based on our schedule, _please_ reach out to me directly at rlander@ms and we can chat a bit more on the phone.

[2017-07-16 13:57] VenkateshSrini commented on #749
@richlander ,
We are expecting a quite a few migration projects. if you could share me your email then I can drop you a note from live id.

[2017-07-17 03:08] LGinC commented on #748
thank you

[2017-07-17 03:08] #748 closed

[2017-07-17 03:11] LGinC opened #750 "How to use Self-contained deployment with third-party dependencies, linux x64"
How to write the csproj file?
[code]
what should I add to the RuntimeIdentifiers?   linux-x64? Ubuntu-14.04-x64?

[2017-07-17 03:50] Petermarcu commented on #750
For .NET Core 1.X, you need to use the specific Linux identifier. Is Ubuntu 14.04 the target OS? If so, ubuntu.14.04-x64 is the identifier. You can see the full list of identifiers [here](https://github.com/dotnet/corefx/blob/release/1.1.0/pkg/Microsoft.NETCore.Platforms/runtime.json).

[2017-07-17 06:23] LGinC commented on #750
@Petermarcu oh...For .NET Core 2.0 Previewer 2 .................................

[2017-07-17 06:43] angelsix opened #751 "Cross-platform installer for desktop apps?"
Once we have a .Net Core console application ready to deploy (so one that I will install into the users PATH so it can be called inside any command line, what is the "modern" best way to install it?

Now we are looking at cross-platform, Wix is not really the ideal option and that would only cover Windows. So... have you guys thought about and already solved this problem? I'm sure you have as dotn

[2017-07-17 07:44] #750 closed

[2017-07-17 07:57] WillooWisp commented on #711
@richlander I nailed it down to this: Unable to build .NET Core 2.0 app in Visual Studio 2017 (latest preview) when referencing the one and only NuGet package "Microsoft.AspNetCore.All".  Referencing the individual packages as in .NET Core 1.1 works though.

Errors:
error CS0234: The type or namespace name 'Mvc' does not exist in the namespace 'Microsoft.AspNetCore' (are you missing an assembly re

[2017-07-17 12:10] manikandanm1757 opened #752 "ASP.NET Core 2.0 Preview not installed properly in Ubuntu 16.4 LTS"
# Packages missing error while installing ASP.NET Core 2.0 Preview in Ubuntu machine

I Have tried to install ASP.NET Core pre-release version of Core2.0. While installing I have facing an error with packages.
[Please refer the image link](https://ibb.co/jarZZa)

Please provide the details to overcome this issue

[2017-07-17 14:35] Petermarcu commented on #750
You need to be netcoreapp2.0 then in your TargetFramework. Make sure you have the 2.0 sdk installed and then you can use linux-x64.

[2017-07-17 14:40] Petermarcu commented on #751
You really have to create one for Windows, one for Osx and at least one for Linux depending on the distros. The only way we've found to try and get closer to a single one is to take a dependency on a cross platform scripting language and detecting the os, and delivering the right bits through it. Is your app all .net code? No native dependencies? Are you assuming something has already installed .n

[2017-07-17 14:50] angelsix commented on #751
I have multiple apps but the one I'm thinking right now it's pure .Net Core

Ok so another question what installers does the .Net Core SDK use on each platform?

[2017-07-17 14:58] svick commented on #752
The errors say that your machine failed to connect to several repositories. Are you sure the machine is properly connected to the internet?

[2017-07-17 15:15] manikandanm1757 commented on #752
Some of the links can be opened in the browser but failed to load in the terminal.

[2017-07-17 21:22] Petermarcu commented on #751
We make zip's/tar.gz's available everywhere. On Windows we use Windows Installer, on OSX we use PKG's, and on Linux we use the distros package manger. You can see a good example of the offerings in this table. https://github.com/dotnet/core-setup/blob/master/README.md

[2017-07-18 02:29] LGinC commented on #752
@manikandanm1757 just try more times

[2017-07-18 04:45] richlander commented on #752
Like @svick suggests, this doesn't seem specific to .NET Core. Sorry, but you need to figure out what is going on with your machine first and then we can look at specific .NET Core issues. Your situation is much broader.

[2017-07-18 04:45] #752 closed

[2017-07-18 04:49] richlander commented on #751
Each operating system has its own way of doing things. AFAIK, there is nothing like what you want. Each of MSI, PKG and apt-get (for example) are very different from one another. No one set out to make a cross-platform desktop installer easy to build.

Closing this issue since this is well outside the scope of .NET Core and @Petermarcu has given good guidance.

[2017-07-18 04:49] #751 closed

[2017-07-18 06:35] Sam00061 opened #754 "Always get garbled text from sub-process"
I always get garbled text after read output from sub-process, Who can help me?

I had tried `Console.OutputEncoding = Encoding.UTF8;` and `System.Text.Encoding.RegisterProvider(System.Text.CodePagesEncodingProvider.Instance);` , but they all no helpful.

[2017-07-18 10:41] svick commented on #754
Could you provide a short example code that reproduces the issue? What OS are you using? And what version of .Net Core?

[2017-07-18 13:59] DavoBR opened #755 "Multiple errors compiling with SDK 2.0"
i am trying to deploy my project to azure website, using deployments options with bitbucket

this is the log output of "Running deployment command..." task.

[log.txt](https://github.com/dotnet/core/files/1156057/log.txt)

i think that is about azure is using sdk 2.0 but the project need sdk 1.1

[2017-07-18 14:06] LGinC opened #756 "How to use C lib in .NET Core 2.0?"
system: Ubuntu 14.04 x64
I have a Header file(.h) and a share object(.so), how can I use it in my .net core app.

[2017-07-18 14:21] LGinC commented on #756
or How to complete Inter-Process Communication

[2017-07-18 14:27] svick commented on #755
I think this could happen if you didn't run `dotnet restore` before building the project. How exactly are you deploying your project? And can you share your csproj file?

[2017-07-18 15:06] leilasoriano opened #757 ".NET Core plus Angular 2: receiving null on file parameter"
Hi,

I'm using .NETCore 1.1 and Angular 2. My code is below:

NET Core Web API backend

[code]

Angular front

Service:
[code]

Component:

[code]
Html:

[code]

I'm receiving always value null on controller method. I tried several solutions, but nothing works for me.

Thanks in advance!

[2017-07-18 17:41] Petermarcu commented on #756
@yizhang82 to point to docs on interop with native binaries and IPC.

[2017-07-18 19:04] DavoBR commented on #755
there it is

`<Project Sdk="Microsoft.NET.Sdk.Web">

  <PropertyGroup Label="Globals">

  </PropertyGroup>

  <PropertyGroup>
    <TargetFramework>net452</TargetFramework>
    <RuntimeIdentifier>win7-x86</RuntimeIdentifier>
  </PropertyGroup>

  <PropertyGroup>
    <UserSecretsId>aspnet-CorePanel-f4d80286-a681-45fd-b535-74b3f2b9f604</UserSecretsId>
  </PropertyGroup>

  <ItemGroup>
    <PackageRef

[2017-07-18 19:53] mellinoe commented on #756
.NET Core supports [PInvoke](https://msdn.microsoft.com/en-us/library/aa288468(v=vs.71).aspx), just like the .NET Framework. Define "static extern" functions with a compatible signature in your C# code.

[code]
(for example)

There are a variety of ways to do IPC; the same options exist in .NET as in other programming languages. [Pipes](https://docs.microsoft.com/en-us/dotnet/standard/io/pipe-oper

[2017-07-19 03:06] VenkateshSrini commented on #749
@richlander,

I see that as per this link https://www.youtube.com/watch?v=WfFbFhD4q6A the release is planned on September 18 to 20th. Are those the mile stone dates or will it be available before that

[2017-07-19 03:11] Petermarcu commented on #749
The best option to discuss the details would be to take @richlander up on his offer to discuss via email as rlander at microsoft dot com.

[2017-07-19 06:14] forki commented on #724
There is another proposed workaround https://github.com/NuGet/Home/issues/5583#issuecomment-316227772

[2017-07-19 08:54] Sam00061 commented on #754
Example code:
[code]

Result:
[code]
Os Info:
[code]
Culture :
[code]

Thank you very much!

[2017-07-19 10:03] mizbrodin opened #758 "Can't run code analysis using MSBuild for .NET Core 2.0 / .NET Standard 2.0 projects"
Hello,

I'm using Visual Studio Enterprise 2017 Preview Version 15.3.0 Preview 4.0 (VisualStudio.15.Preview/15.3.0-pre.4.0+26711.1)

When I try to run code analysis using MSBuild for any .NET Core 2.0 or .NET Standard 2.0 projects using a command like this:

`msbuild  /p:RunCodeAnalysis=true netcore2ClassLibrary1.csproj`

I'm getting the following errors:

Is this an expected behaviour? If yes, is

[2017-07-19 12:34] chikehenderson commented on #467
I'm on old 32 bit hardware using debian 8, trying to get SOMETHING to run..

[2017-07-19 13:55] #757 closed

[2017-07-19 14:10] mattcanty opened #759 "Assembly specified not found when running self-contained console application"
# General

- **.Net Core Version** netcoreapp1.1
- **Runtime Identifier** win81-x64
- **Target Operating System** Windows Server 2012 R2

# Code
## Program.cs
[code]
## MyProject.csproj
[code]

# Steps
1. `dotnet restore`
2. `dotnet publish -c release -r win81-x64`
3. Copy contents of _.\bin\Release\netcoreapp1.1\win81-x64_ to server (Windows Server 2012 R2)
3. On server execute `MyProject.exe` us

[2017-07-19 14:15] mattcanty commented on #759
Wow. That must be a record for the time taken to resolve an issue myself after raising an issue. I've been looking at this for several hours. But just glanced at the _.\publish_ directory and saw _MyProject.exe_ in there.

Needless to say. The resolution is to either:

1. Execute `.\publish\MyProject.exe` on the server.

or

2. Publish the _publish_ folder.

I would like to point out that the _pub

[2017-07-19 16:19] Petermarcu commented on #759
Yes, discovery of where the published output goes has been a but of a pain point.

[2017-07-19 16:23] Petermarcu commented on #467
We don't have an official build of x86 (32-bit) Linux.

[2017-07-19 16:32] chikehenderson commented on #467
Ahhrghh!! ok do you have any suggestions.. or seen any workarounds by any
chance...

On Wed, Jul 19, 2017 at 4:23 PM, Peter Marcu <notifications@github.com>
wrote:

[2017-07-19 16:43] #759 closed

[2017-07-19 18:43] RealDotNetDave opened #760 "Visual Studio and .NET Core 2 Preview"
I have installed the .NET Core 2 Preview SDK and Runtime. When I open Visual Studio, I don't see an option to select the preview as the framework type.

Any ideas?
David

[2017-07-19 20:12] chikehenderson commented on #467
Sounds interesting..

On Wed, Jul 19, 2017 at 4:36 PM, Peter Marcu <notifications@github.com>
wrote:

[2017-07-19 20:40] Petermarcu commented on #467
@janvorli may also be able to give advice.

[2017-07-19 20:54] chikehenderson commented on #467
Sure

On Wed, Jul 19, 2017 at 8:40 PM, Peter Marcu <notifications@github.com>
wrote:

[2017-07-19 22:47] richlander commented on #760
Are you using Visual Studio 2017 15.3 Preview?

Link here: https://blogs.msdn.microsoft.com/dotnet/2017/06/28/announcing-net-core-2-0-preview-2/

[2017-07-19 23:00] kevcunnane commented on #677
We've found an issue using SqlClient with High Sierra. See https://github.com/dotnet/corefx/issues/22453 for the bug report. It's a simple repro and seems like it may be related to the SSL issues you reported to Apple?

[2017-07-19 23:13] TingluoHuang commented on #732
Few other thoughts/questions:
       Dotnet core has 2 parts, `SDK` and `Runtime`, `SDK` is for write a dotnet core app, and `Runtime` is for run the dotnet core portable app (not self-contained). Is the dropped support on OSX 10.11 in 2.0 only for `SDK` or it's for both `SDK` and `Runtime`?

If the support only dropped for `SDK`, i am fine with it, since it make sense say if you want to develop d

[2017-07-20 00:27] Petermarcu commented on #732
Note there is also a difference between Microsoft support and where the binaries will run. Microsoft has a support policy but taking RHEL 7.2 for example, Microsoft is only supporting RHEL 7.3 but the binaries should run just fine on RHEL 7.2.

As Jeremy said, for the OSX case, we actually had to take a new dependency only available in OSX 10.12.

[2017-07-20 01:40] TingluoHuang commented on #732
Sorry about what i said about node never drop OS support. :D
Well Vista is OS that released more than 10 years ago, however OSX 10.11 was only 3 years before. So the customer impact are different.

[2017-07-20 01:46] TingluoHuang commented on #732
Another part that always bother me is all the prereq dotnet runtime needs per platform. like libuv/libcurl/openssl, etc. Is it possible to make dotnet runtime just like node, xcopy the runtime package, then `dotnet myapp`?

[2017-07-20 09:46] Erlite opened #762 "InvalidDataException on Debian 6.0 but not on Windows 10"
Heya,

I use a package, CoreRCON, which allows me to connect to Source Game Servers to remotely send console commands. On start, my app creates the connections to the servers, and stores them for later. The problem is, one of the rcon server connection throws a `System.IO.InvalidDataException` on my Debian server, but testing on my Windows PC, no error is thrown. Trying to catch the exception in a

[2017-07-20 14:57] RealDotNetDave commented on #760
No, did not realize that was the only version it worked in. I'll check it out.

[2017-07-20 20:04] Petermarcu commented on #732
It is possible. We'll produce a document on how to create a fully self contained application. @janvorli was working on that.

[2017-07-20 20:08] TingluoHuang commented on #732
@Petermarcu cool, glad to hear that. will the doc to fully self contained app works for netcore 1.1 or it's only for 2.0?

[2017-07-20 20:21] Petermarcu commented on #732
Its 2.0. We did work in the loader to support it. In essence, depending on your distro, you can copy the dependencies into your app in a certain folder and they will be loaded from there instead of looking for it from the package manager. Ideally someone in the community can help contribute the scripts to use for each distro to pick up the right stuff.

[2017-07-21 03:45] silverf1re opened #765 "Can not run .net core 2.0 console app Raspberry Pi"
I have followed this guid https://github.com/dotnet/core/blob/master/samples/RaspberryPiInstructions.md for linux and windows IoT and both throw

Unhandled Exception: System.BadImageFormatException: Could not load file or assembly '/home/pi/crypto/publish/ConsoleApp2.dll'. An attempt was made to load a program with an incorrect format.

No dependencies just default hello world.

[2017-07-21 04:01] Petermarcu commented on #765
Usually that's because the wrong publish folder is being copied. Make sure you are under the linux-arm folder and all the way down to the publish folde4 under there for linux. Win-arm for windows.

[2017-07-21 04:07] silverf1re commented on #765
Yep that is the correct folder. Could it have to do with what command tool i use to compile? here is the folder structure i deployed ..\Documents\Visual Studio 2017\Projects\ConsoleApp3\bin\x64\Debug\netcoreapp2.0\linux-arm\publish\
the x64 bothers me. What command line tools is everyone using? Any other Ideas?

[2017-07-21 04:56] swgillespie commented on #732
@TingluoHuang NodeJS also depends on libuv (originally created for it) and openssl.

[2017-07-21 15:36] svick commented on #762
I think this is a bug in CoreRCON. It assumes that [its `TCPPacketReceived` method](https://github.com/ScottKaye/CoreRCON/blob/0686557/src/CoreRCON/RCON.cs#L131) will be called for every "packet". But TCP is a stream-based protocol, it does not really have packets (or rather, it uses packets only as an implementation detail), you can't assume that the buffer you receive contains exactly the inform

[2017-07-21 15:51] silverf1re commented on #765
Someone in another thread said I should be using the normal command prompt to create/compile however that doesnt recognize dotnet as a valid command. I have been using cross tools x86_64 visual studio command prompt 2017 perview 15.3.

[2017-07-23 01:22] mokeyish commented on #758
@mizbrodin I have this problem, too，but I think you can use jetbrains rider instead。did you solved the problem？

[2017-07-23 16:22] jeremylindsayni commented on #447
If anyone is still hitting problems getting a C# app deployed and working on Raspbian, I wrote a post about my experiences, and how I managed it - [https://jeremylindsayni.wordpress.com/2017/07/23/running-a-net-core-2-app-on-raspbian-jessie-and-deploying-to-the-pi-with-cake/](https://jeremylindsayni.wordpress.com/2017/07/23/running-a-net-core-2-app-on-raspbian-jessie-and-deploying-to-the-pi-with-c

[2017-07-24 03:33] heartlocker opened #766 "C# and Java interoperability"
I want to call java method in c# code and also invoke c# dll in java code.
The environment is Ubuntu 16.10 x64. The c# code is build in .net core 2.0 p1.
Which is the best way to implement?
I try to use c++ as a wrapper.  Is the .net core lack of managed c?

[2017-07-24 04:04] davidfowl commented on #766
I believe the only way to do this today would be to use C/C++ as a bridge between the 2 languages. Also be careful as you need to make sure GC references are tracked between the 2 runtimes (if you pass GC handles back and forth). I believe Xamarin Android does this today but I don't know the details.

@migueldeicaza this seems up your alley?

/cc @jkotas for ideas

[2017-07-24 07:59] karelz commented on #766
Would IKVM.NET help? http://www.ikvm.net/

[2017-07-24 08:42] MeetOct commented on #594
i found this in docker images(microsoft/dotnet:1.1.2-runtime) when i used  EPPlus.Core
[code]

[2017-07-24 10:07] mizbrodin commented on #758
@mokeyish I don't have a solution for this problem yet.
Our company doesn't have a license for JetBrains Rider and, at the moment, I don't know anything about this IDE and its build tools. We have Visual Studio Enterprise licenses as part of our MSDN Subscription and I'd prefer to be able to use MSBuild for running code analysis in our CI build configuration as we do it for other projects.

[2017-07-24 15:34] GuruprasadYellappaK opened #767 "C# Extension failed to install the debugger package"
C# Extension failed to install the debugger package

I am trying to debug .NET core C# code in VS code But getting the below Error.
I have already installed c# Extensions for VS code.

C# Extension failed to install the debugger package

Kindly suggest.

Thanks.

Regards,
Guruprasad

[2017-07-24 16:18] GuruprasadYellappaK commented on #767
I have Reinstalled the C# Extension and after having the below Error. Please help.

Updating C# dependencies...
Platform: win32, x86_64

Downloading package 'OmniSharp (.NET 4.6 / x64)' 	Retrying from 'https://omnisharpdownload.blob.core.windows.net/ext/omnisharp-win-x64-1.21.0.zip' Downloading package '.NET Core Debugger (Windows / x64)' 	Retrying from 'https://vsdebugger.blob.core.windows.net/co

[2017-07-24 16:41] heartlocker commented on #766
@karelz  ` IKVM.NET` is base on ` Mono` and the ` .NET Framework`. Is it possible for me to use it between java and .net core lib? Or you mean that I can do a migration job to change IKVM to` .net Core`?

[2017-07-24 16:45] GreenRidingHood commented on #649
I had the same problem, and solution for me was
adding dotnet before "-o hwapp"  (dotnet -o hwapp)
and now working

[2017-07-24 17:05] omajid commented on #766
[The End of IKVM.NET](http://weblog.ikvm.net/2017/04/21/TheEndOfIKVMNET.aspx)

[2017-07-24 21:49] sturlath opened #768 "Can´t publish .net core to azure from VS2017"
We have a .net core api app (created in VS15 but ported to VS17).

After we ported it we managed to publish the app to azure just fine.

But when we tried again last week we just **can´t publish the app** from VS17.

![image](https://user-images.githubusercontent.com/2386572/28502210-ed8e41da-6fdc-11e7-8b15-db176d455c26.png)

But there is **just one** error and it tells us nothing. We have search

[2017-07-25 06:15] heartlocker commented on #766
It seems like I would have a really hard damn time.
 @omajid

[2017-07-25 06:30] Petermarcu commented on #754
@tarekgh , any ideas?

[2017-07-25 06:44] heartlocker opened #769 "How to get PhysicalMemory"
As the .NET Core project could run on Windows, Linux and Mac OS. Is it possible for me to get the PhysicalMemory size of the running machine on these three OS. Just like in .NET framework, by using `Microsoft.VisualBasic.Devices.ComputerInfo` to get the Physical Memory information of the windows machine

[2017-07-25 11:38] dheijl commented on #766
It's quite easy calling Java using Pinvoke and a plain C-wrapper as a go-between that uses JNI to load the JVM and to expose  functions that call into Java using JNI. You would have to deal with the restrictions of the JNI though (data types). I've done this in Delphi to call Java. Perhaps there are better possibilities than JNI nowadays, as I haven't used Java for many years. Calling a C# dll fro

[2017-07-25 16:39] tarekgh commented on #754
@Sam00061 I think the problem here is the Console window is not displaying the text properly when you do

[code]
This is likely a Windows console issue.

To know if this is the case, instead of writing the text to the console, try to write it to a file and then share the file.

CC @bitcrazed

[2017-07-25 17:08] Petermarcu commented on #732
@janvorli can you point to the doc you are writing here?

[2017-07-25 17:14] Petermarcu commented on #765
The `x64` bothers me too. The exception is also the one you get when you are trying to use x64 bits on arm. When I publish my sample app, the contents end up here `IotSample\bin\Debug\netcoreapp2.0\linux-arm\publish`.

Did you install the .NET Core 2.0 SDK? That should add `dotnet.exe` to your path.

[2017-07-26 01:15] LGinC commented on #756
@mellinoe oh....struct, for example, I define a struct named "struct CameraInfo" in server.h,  how can I use it,
and I communicate with another process by shared memory....how to do it

[2017-07-26 02:20] silverf1re commented on #765
Yes I have installed .net core 2.0 preview 2 SDK. So when you build your app you are using the normal windows command line, not any of the visual studio command line tools correct? If that is the case Ill install the sdk on my other computer and try it there. Looking forward to your response and thanks for the help so far.

[2017-07-26 03:07] Petermarcu commented on #765
Correct. Just a plain command prompt.

[2017-07-26 03:21] silverf1re commented on #765
reinstalled the sdk and it works. Not sure what was wrong, thanks for your time i appreciate it. Looking forward to .net core development.

[2017-07-26 03:21] #765 closed

[2017-07-26 03:22] Sam00061 commented on #754
Sample Code and Result:
[https://github.com/Sam00061/SomeLittleExampleCode](https://github.com/Sam00061/SomeLittleExampleCode)

[2017-07-26 03:43] Petermarcu commented on #765
Glad to hear you are off and coding now!

[2017-07-26 05:49] MicFang opened #772 "usually appears Unable to connect to any of the specified MySQL hosts In Linux Centos"
# Issue Title

usually appears Unable to connect to any of the specified MySQL hosts In Linux Centos

# General

Written in the .net core interface, mysql on Windows, speaking, reading and writing are normal, and pressure test is fine for 1000 times. But to deploy on Linux centos, visit once or twice is an error,appears Unable to connect to any of the specified MySQL hosts.And not network reasons,

[2017-07-26 06:20] MicFang commented on #772
my mysql drive:
MySqlConnector or MySql.Data.Core

[2017-07-26 08:55] MicFang commented on #772
Update:
I have resolved the problem ;
thank you!

[2017-07-26 09:25] rmunn commented on #711
I don't know if this should be reported here or not, since it might simple be a PEBKAC issue. But I've been getting what appears to be the same error as https://github.com/OmniSharp/omnisharp-vscode/issues/1495#issuecomment-302751595:

I have SDK version `2.0.0-preview2-006497` installed, but the project I'm running was written to work with .NET Core 1.0.4 according to its README. This is surprisi

[2017-07-26 17:30] Petermarcu commented on #769
@AlexGhiondea , should this issue be moved to CoreFX to make an API proposal?

[2017-07-26 17:36] AlexGhiondea commented on #769
@Petermarcu yes -- I will move it.

[2017-07-26 20:17] AlexGhiondea commented on #769
Issue moved to [dotnet/corefx #22660](https://github.com/dotnet/corefx/issues/22660) via [**ZenHub**](https://www.zenhub.com/)

[2017-07-26 20:17] #769 closed

[2017-07-26 23:46] tarekgh commented on #754
I'll take a closer look. thanks for sharing the project and the output file.

[2017-07-27 01:35] tarekgh commented on #754
The problem here is you doing

[code]

which will change the encoding of the current console window from Big5 950 codepage to UTF8. Then when getting the redirected output text from the child process and try to render it, Windows console is not handling UTF8 correctly which display garbled text. I am aware of Windows team already working on fixing console with UTF8 encoding.

To fix your issue, do

[2017-07-27 16:34] JamieKeeling opened #777 "Unable to load DLL 'Combase.dll'"
My service has been migrated to CSPROJ / .NET Core 1.1 and I am unable to get past the early initialization phase:

![combase](https://user-images.githubusercontent.com/7165035/28681344-12cd5208-72f1-11e7-8ea6-1685a929cf64.png)

The .CSPROJ for the executing instance doesn't appear to contain anything that would need to touch Combase.dll

[code]

**_Note: EXPN.Core refer to internal .NET Standard

[2017-07-27 18:51] JamieKeeling commented on #777
Potential duplicate of https://github.com/dotnet/cli/issues/6699

Not sure on what the end resolution was at this point.

[2017-07-27 19:42] aldass commented on #767
@GuruprasadYellappaK try the steps in [this link](https://github.com/OmniSharp/omnisharp-vscode/issues/1028#issuecomment-268663994).

[2017-07-27 22:17] tarekgh commented on #754
@Sam00061 I am closing this issue as there is nothing need to be done in the framework side but feel free to send any question or if you need any help. Thanks.

[2017-07-27 22:17] #754 closed

[2017-07-28 01:56] Sam00061 commented on #754
Update:
Remove `Console.OutputEncoding = Encoding.UTF8;` not work.

[2017-07-28 03:55] tarekgh commented on #754
Did you have

[code]

in your app initialization when you removed

[code]

And, did you recycle the console Window before you run the app?

Also, could you please go to the console windows properties and send me the value of "Current code page" listed there?

[2017-07-28 07:35] ll01 opened #779 "Problem encoding "EUC-JP""
# Issue Title
When trying  to get the encoder for EUC-JP it crashes
# General
The exception is

`Exception has occurred: CLR/System.ArgumentException
An unhandled exception of type 'System.ArgumentException' occurred in System.Private.CoreLib.dll: ''EUC-JP' is not a supported encoding name. For information on defining a custom encoding, see the documentation for the Encoding.RegisterProvider metho

[2017-07-28 13:19] Sam00061 commented on #754
I didn't use
` System.Text.Encoding.RegisterProvider(System.Text.CodePagesEncodingProvider.Instance)`

I always restart console.

Ths codepage console used is named:
950   (ANSI/OEM - 繁體中文 Big5) (文字)

[2017-07-28 15:57] tarekgh commented on #754
I have tried the same code on zh-TW machine with using

[code]

and it is producing the correct text

[code]

I removed the line

[code]

[2017-07-28 16:28] Sam00061 commented on #754
Also get the correct text now, thank you very much.

[2017-07-30 01:43] ZhijiaCHEN commented on #767
@aldass Great! This guides works for me. Thanks!

[2017-07-30 10:54] commonsuppliz commented on #766
@heartlocker , @karelz
I am trying to init IKVM.net for rhino engine under donetcore 2.0 preview 2
Following Exception is thown to initalize  'System.ArgIterator'.
========================
Context Init failedSystem.TypeInitializationException: The type initializer for 'org.mozilla.javascript.Context' threw an exception. ---> System.TypeInitializationException: The type initializer for 'org.mozilla

[2017-07-30 11:00] commonsuppliz commented on #766
IKVM.NET seems to work only under full .net framework or mono. dotnetcore still missing some api to allow ikvm.net to run...

[2017-07-31 08:12] tianmaoyu opened #782 "# HttpClient Coding problem"
# HttpClient Coding problem
Problems with Chinese Fonts

# General
[code]

result string:
[code]
[code]

[EDIT] Changed code formatting for readability by @karelz

[2017-07-31 08:15] tianmaoyu commented on #782
[code]

[2017-07-31 08:16] tianmaoyu commented on #782
[code]

[2017-07-31 10:48] GuruprasadYellappaK commented on #767
@aldass  Thank you for the help.

I have downloaded and placed the same in the below folder. and when I am facing the below issue when I reopen the VS code,
.vscode\extensions\ms-vscode.csharp-1.11.0\debugger
.vscode\extensions\ms-vscode.csharp-1.11.0\bin\omnisharp

Updating C# dependencies...
Platform: win32, x86_64

Skipping package 'OmniSharp (.NET 4.6 / x64)' (already downloaded).
Downloading

[2017-07-31 11:51] GuruprasadYellappaK commented on #767
Microsoft Windows [Version 6.1.7601]
Copyright (c) 2009 Microsoft Corporation.  All rights reserved.

D:\TECHNOLOGY\Coresample1>dotnet --info
.NET Command Line Tools (1.0.4)
Herewith I am adding the information.
Product Information:
 Version:            1.0.4
 Commit SHA-1 hash:  af1e6684fd

Runtime Environment:
 OS Name:     Windows
 OS Version:  6.1.7601
 OS Platform: Windows
 RID:         win7-

[2017-07-31 13:17] bartread commented on #711
I'm brand new to .NET Core and wanted to try experimenting with ASP.NET Core 2.0. I'm following this tutorial here:

https://docs.microsoft.com/en-us/aspnet/core/tutorials/web-api-vsc

I realise this is probably aimed at 1.x but the problem I'm running into is weird. Basically I can create the app fine and have no problem debugging it, but every URL I browse to returns a 404. For example, the foll

[2017-07-31 13:27] bartread commented on #711
The issue seems to be that the controllers just aren't hooked up. For example, I created a simple catch-all controller to return a 429 regardless of the URL that is used, but what I still invariably get back is a 404:

[code]

[2017-07-31 13:45] bartread commented on #711
Sorry, false alarm.

That whole controllers in the obj folder thing got me deeply suspicious so I went and created another test project. This time the _Controllers_ folder was in the project root folder so I can only imagine I somehow managed to inadvertently drag it into the _obj_ folder in VS Code. Whatever, definitely a PEBKAC.

[2017-07-31 17:03] tianmaoyu commented on #782
I want to encode the Content.header with UTF-8 and calculate the length instead of using DefaultHttpEncoding (Encoding.GetEncoding (28591)).
The source code is: System.Net.Http.HttpRuleParser
[code]

[2017-08-01 05:14] maltium opened #783 "HttpClient throws WinHttpException"
# HttpClient throws WinHttpException

HttpClient GetAsync(...) fails with the inner exception message `The server returned an invalid or unrecognized response` when requesting https://www.cryptopia.co.nz/api/GetMarkets.

# General

When I retargeted to the .NET 4.5 framework I got a more detailed message `The server committed a protocol violation. Section=ResponseHeader Detail=CR must be followed

[2017-08-01 10:16] LGinC commented on #756
Only serialize to JSON or XML？

[2017-08-01 19:29] mellinoe commented on #756
If you want to directly share objects in memory, you need to be very careful about the physical layout of your structures. This means that you should use the appropriate fixed-size types, packing directives, etc. on the native side to ensure that their shape is well-defined and predictable. On the C# side, you need to match the structure shape exactly, using the same-sized shapes, as well as `Layo

[2017-08-02 10:03] dpjain opened #784 "WPF support in .net core 2.0"
Is there any support for WPF application in .Net Core 2.0 or is it on roadmap?

If no, then what is the other option to make WPF application cross platform?

**Main purpose:**
To make existing WPF application as cross platform(especially for Linux).

[2017-08-02 14:35] Tragetaschen opened #785 "dotnetcli.azureedge.net is painfully slow"
I'm regularly compiling the .NET core projects for CoreCLR, CoreFX and core-setup for Yocto Linux. Today I was wondering why after 10 minutes, the `init-tools.sh` script from CoreFX was still running. It turns out, that the download speed from `dotnetcli.azureedge.net` is only something around 200 kiB/s and the dotnet-dev package has over 100 MiB:

[code]

My feeling is that things have turned wor

[2017-08-02 15:43] Petermarcu commented on #785
I've sent an email to our infrastructure team to see if they can figure out whats going on.

[2017-08-02 16:42] chcosta commented on #785
I'll make sure we are tracking this internally and get someone investigating this.  Thanks for reporting this potential problem.

[2017-08-02 17:39] jcagme commented on #785
@Tragetaschen thanks for reporting.

When checking our CDN I found some latency spikes from 9PM to 7AM PST. This is when you ran init-tools.sh and tried downloading the package. I tried on my end a hour back and the package was downloaded in no time.

Also, there was am Azure network infra outage in the Asia-Pacific region. This might also affect the download time.

Are you still experiencing the

[2017-08-02 22:39] leecow commented on #768
@morrisjoe - can you take a look a the above?

[2017-08-03 01:05] morrisjoe commented on #768
@sturlath can you please try if this repro with .NET Core SDK 2.0 or not? You can install from the daily build location at https://github.com/dotnet/cli/tree/release/2.0.0

[2017-08-03 06:49] baiyunchen opened #786 "PreBuildEvent Use Macros Parameter On Linux Is Not Working Properly"
.NET Core version:***2.0.0-preview2-006497***
operating system:***CentOS***
When I use PreBuildEvent to execute some commands, the path in Macros does not seem to work properly in Linux.
My command is: `dotnet  $(SolutionDir)tools/copyfiles/CopyFiles.dll  "$(SolutionDir)src/Infrastructures/DbScript" "*.config" "Configuration/Data"`

It can work in Windows VS, but in Linux will be thrown
[code]
I t

[2017-08-03 07:45] Tragetaschen commented on #785
I just realized I forgot to mention my connection type: It's a German T-Online VDSL with 100MBit/s downstream. I can regularly get to 11 MiB/s download speeds.

I tested it just now with mixed results. The speed varies between the full 11MiBs and sometimes goes down to 1 MiB/s during just one download. I had one run (starting at 07:41:12 UTC) that resulted in an average of 979KiB/s going to as low

[2017-08-03 15:28] TAGC commented on #711
When I try to publish a .NET Core 2.0 project as a standalone application targeting the win7-x64 runtime, I get the following error trying to execute it (`<project>/bin/Release/netcoreapp2.0/win7-x64/publish/product.exe`):

[code]

I'm developing this on a 64-bit Windows 7 machine and it works fine trying to run it in Visual Studio. There's another executable version of it in the directory right a

[2017-08-03 15:34] Petermarcu commented on #711
can you try `win-x64` instead of `win7-x64`?

[2017-08-03 15:40] TAGC commented on #711
@Petermarcu Thanks, that works. Will win10-x64 still work for Windows 10, or do I need to change that too?

[2017-08-03 15:44] Petermarcu commented on #711
Honestly, it should have worked with `win7-x64` and there is probably a bug there somewhere but in 2.0 we're really encouraging people just to use `win-x64`.

[2017-08-03 15:49] TAGC commented on #711
@Petermarcu Where are you encouraging people to make that switch? All the docs I've seen (like [this](https://docs.microsoft.com/en-us/dotnet/core/rid-catalog)) reference RIDs like win7-x64, win10-x64, etc.

I can't actually find reference to "win-x64" anywhere. Is it safe to assume that I can use `win-x64` for versions of the app targeting 64-bit Windows 10 too?

[2017-08-03 16:38] jcagme commented on #785
I see there was again a rise in latency that began at 2:57AM UTC today and looks like it started getting better at 12PM UTC. I've opened an Azure support ticket to get some help on their side to get things squared out. As soon as I hear back from them I update this issue.

[2017-08-03 16:39] Petermarcu commented on #711
@richlander @mairaw, we need to make sure the docs are updated for 2.0 to make sure people know that they should basically be using `win-x64`, `linux-x64`, and `osx-x64` for everything by default.

@TAGC , yes, for apps targeting any version of Windows that .NET Core 2.0 supports, you should be able to publish one application using `win-x64` and it should run on all the versions.

[2017-08-03 16:54] TAGC commented on #711
That should simplify my deployment. Nice.

[2017-08-03 17:03] Petermarcu commented on #711
Yes, that is the hope ;)

[2017-08-03 21:16] n9 commented on #74
@czesiu Maybe ask in a new issue.

[2017-08-04 01:22] heartlocker commented on #766
Hi guys, I finally achieved this by using JNI to call c++ and use c++ to host a coreclr . It works.

[2017-08-04 02:46] davidfowl commented on #766
@heartlocker you should post a sample. I'm sure there are others that would appreciate it.

[2017-08-04 07:05] thomaswolff opened #787 "Referencing a .NET Standard class library from a .NET Core Web App fails during runtime"
# Summary
Referencing a .NET Standard 1.4 or 1.6 class library from a .NET Core 1.1 Web App or a .NET Standard 2.0 class library from a .NET Core 2.0 Web App fails at runtime.

For the .NET Core 1.1 Web App and .NET Standard 1.4 and 1.6 class libraries I've used Visual Studio 2017 Enterprise version 15.2 (26430.15). For the .NET Core 2.0 Web App and the .NET Standard 2.0 class library I've used Vi

[2017-08-04 07:39] Knusan commented on #787
Having a similar problem, only running on windows 10.

[2017-08-04 10:16] snikeguo commented on #784
@dpjain https://github.com/AvaloniaUI/Avalonia      look it!

[2017-08-04 12:01] nzcoward commented on #723
You can add it manually into the pipeline: Go into the modules feature in IIS for the server, and Configured Native Modules. You will see AspNetCoreModule in the list. You can add it there.

However, even adding it, I still see the dreaded 502.5 error on both standalone and framework dependent apps. Now, the version it is referencing, after removing all .netcore 1.x installations from my machine i

[2017-08-04 12:49] nzcoward opened #788 ".netcore 2.0 Preview 2 IIS Deployment Error 502.5"
I am unable to run a web application built in .netcore 2.0 preview 2 in IIS.

I did post a comment in #723 , however I have decided that the issue is different, as I am able to find the AspNetCoreModule after installing the Windows Hosting for .netcore 2.0 preview 2.

I am able to run the application just using Kestrel, so it appears to simply be the reverse proxy provided by the module.

I have d

[2017-08-04 14:08] nzcoward commented on #788
And after removing and then manually installing the 2.x SDKs, my projects no longer opened. Had to do a complete repair on VS 2017 to get the right things installed, and even then, not everything was installed properly.

Going back to PHP at this rate sounds like the best way to get my sanity back!

[2017-08-04 14:30] Petermarcu commented on #788
@DamianEdwards

[2017-08-04 14:44] Petermarcu commented on #787
@weshaggard @DamianEdwards

[2017-08-04 14:57] Petermarcu commented on #786
Thanks for the report. I've moved this to https://github.com/Microsoft/msbuild/issues/2397

[2017-08-04 14:57] #786 closed

[2017-08-04 15:00] jiemon opened #789 "Exception when serialize class contains Dictionary and DateTimeOffset via DataContractSerializer"
I try serialize via DataContractSerializer simple class by example:
[code]
Serialization code:
[code]

But on line "ser.WriteObject(memoryStream, test)" I get exception:

Is this bug in DataContractSerializer?

[2017-08-04 15:01] Petermarcu commented on #784
@snikeguo gave a good example of a project that is trying to go after that.

WPF and other desktop UI stacks are out of scope right now in the .NET Core Roadmap:
https://github.com/dotnet/core/issues/43

[2017-08-04 15:01] #784 closed

[2017-08-04 15:03] Petermarcu commented on #789
@zhenlan @ViktorHofer @danmosemsft

[2017-08-04 15:08] ViktorHofer commented on #789
It's not related to binary serialization with BinaryFormatter.

[2017-08-04 15:08] Petermarcu commented on #777
@yizhang82 any ideas?

[2017-08-04 15:09] Petermarcu commented on #783
@davidsh any advice here?

[2017-08-04 15:10] Petermarcu commented on #779
@tarekgh any advice?

[2017-08-04 15:12] Petermarcu commented on #789
@zhenlan Any thoughts?

[2017-08-04 15:17] Petermarcu commented on #745
It looks like you are still using the unreleased version of everything from late 2015. I would strongly recommend that you upgrade to the supported SDK and tooling. Is there a reason you can't upgrade to the supported .NET Core tooling?

[2017-08-04 15:18] Petermarcu commented on #732
Give this a try. Feedback is welcome on the doc. https://github.com/dotnet/core/blob/master/Documentation/self-contained-linux-apps.md

[2017-08-04 15:19] Petermarcu commented on #732
I'm going to close this issue for now. If there are issues using the instructions, we should open a new issue.

[2017-08-04 15:19] #732 closed

[2017-08-04 15:20] Petermarcu commented on #737
I think this issue has concluded here. Closing.

[2017-08-04 15:20] #737 closed

[2017-08-04 15:56] tarekgh commented on #779
Please try to reference the library System.Text.Encoding.CodePages and then add the following line in your app initialization code:

[code]

That is what the exception message suggested and may look at the link https://msdn.microsoft.com/en-us/library/mt643899(v=vs.110).aspx#Remarks for more info.

[2017-08-04 15:56] #779 closed

[2017-08-04 16:06] weshaggard commented on #787
For some reason it looks like your ClassLibrary is not getting deployed. Can you verify if it exists on disk?

[2017-08-04 16:35] davidsh commented on #783
I just tried this myself using .NET Framework 4.7 on a Windows 10 Version 1703 machine.

I don't see any error.  It works fine:

[code]

[2017-08-04 16:37] Petermarcu commented on #783
@davidsh how about on .NET Core 2.0?

[2017-08-04 16:39] zhenlan commented on #789
+ @shmao

[2017-08-04 16:48] davidsh commented on #783
I also run a quick test building a netcoreapp on the GitHub CoreFx master branch and it also had no errors.

[2017-08-04 16:53] maltium commented on #783
I can confirm it's working correctly now. During last week it was failing intermittently, but then early Sunday and the next few days it started failing 100%. These few days it's working normally.

Unfortunately I don't have control over that endpoint. What would be useful information to keep in case I manage to reproduce it again?

[2017-08-04 16:59] davidsh commented on #783
Capturing Wireshark traces would be useful.

[2017-08-04 17:14] #745 closed

[2017-08-04 17:43] subek commented on #745
@Petermarcu  Thanks for the reply man.. i finally was able to solve the issue but not with the latest version but the version i did the update was ..
Microsoft .Net Core 1.0.1 -SDK 1.0.0 Preview 2- 003131
Microsoft .Net Core 1.0.1 -VS 2015 Tooling Preview 2
and this worked for me.

[2017-08-04 17:48] shmao commented on #789
Issue moved to [dotnet/corefx #22965](https://github.com/dotnet/corefx/issues/22965) via [**ZenHub**](https://www.zenhub.com/)

[2017-08-04 17:48] #789 closed

[2017-08-04 18:11] Petermarcu commented on #745
Glad to hear it worked for you.

[2017-08-04 18:16] Petermarcu commented on #447
I'm going to close this issue now because as far as I know, everything is working on Raspbian for .NET Core 2.0. If there are specific issues, we should open a new issue to track them. Thanks to all who contributed to this issue and helped get things moving!

[2017-08-04 18:16] #447 closed

[2017-08-04 18:19] Petermarcu commented on #483
@richlander , we should probably get this moved into a product repo where it can get tracked as real work.

On a side note, there is a pretty cool community project that solves some of this: https://github.com/faniereynders/dotnet-sdk-helpers

[2017-08-04 18:57] danroth27 commented on #723
@yupingyong We generated the required web.config file to add the ASP.NET Core Module to your app when you run `dotnet publish`. Can you confirm that you have run `dotnet publish` on your app and that the web.config file is present in the publish output?

[2017-08-04 19:39] jcagme commented on #785
@Tragetaschen Azure support guys have asked to ask you to run the same wget command but with -S -O NUL (wget -S -O NUL [URL]) so we get more details on the request. Also, are you using some sort of VPN? In your logs 93.184.221.200 is located in Central US and not in Germany.

Please post the output here so I can send it to the support folks.

[2017-08-04 19:53] yizhang82 commented on #777
I've cc @AlfredoMS in https://github.com/dotnet/cli/issues/6699

[2017-08-04 21:09] thomaswolff commented on #787
@weshaggard Yes, the ClassLibrary.dll file is on disk. The two projects are in separate solutions, so after building the .NET Standard library, I added a reference to it in the web project by browsing for the dll.

[2017-08-04 22:54] weshaggard commented on #787
OK perhaps the issue isn't that file being missing then perhaps it is one of its dependencies. When you reference it as a raw binary the tooling doesn't do anything pull in any missing dependencies that might be needed.

Can you try loading the ClassLibrary in the same solution and do a ProjectReference to it and see if the same issue occurs? You could also take a look at the dependencies and try

[2017-08-05 08:45] nzcoward commented on #788
Ok - so I am not aware of anything changing, but it seems to have resolved itself as of this morning.

I had given up, and went back to a WebApi2 project instead, which was easy to get up and running. I came to the conclusion that IIS itself was fine - so on a whim, I thought that I would try once more (I still had a single hair on my head, what could go wrong?)

Both Stand Alone and Framework Dep

[2017-08-05 10:47] nzcoward commented on #788
Actually, I think I may have discovered it... I thought I had made a change that still resulted in the 502.5, but I have just deployed another app this morning, and it had the 502.5 error, except that I was able to resolve it:

I had the application deployed to a folder, and had set up a virtual directory against the parent - path-wise it was a child folder also. Leaving it as a virtual directory,

[2017-08-05 15:40] MovGP0 commented on #768
I have exactly the same issue. Also created a new project and get the exact same error.

[2017-08-07 07:05] thomaswolff commented on #787
@weshaggard The only dependencies the class library has is the NETStandard.Library under the SDK section.

![image](https://user-images.githubusercontent.com/1502337/29015605-eed83e9c-7b4e-11e7-8f33-7e6141389dff.png)

I tried adding the NETStandard.Library in the web project, but this didn't solve the problem. I still got a runtime error accessing the "About" page.

After removing the NETStandard.

[2017-08-07 07:59] TAGC commented on #711
.NET Core 2.0 Docker images are based on Debian Stretch, which uses a slightly newer (but still ancient) version of NuGet - v2.8.7.0 as opposed to v2.8.1.0. Somewhere between these two releases, a bug was introduced that broke `nuget sources update` (see NuGet/Home#5707 for further details).

I recently updated one of my ASP.NET Core projects to target `netcoreapp2.0`. This meant that I needed to

[2017-08-07 11:07] Tragetaschen commented on #785
@jcagme The IPv4 address is the one from `dotnetcli.azureedge.net` as well as the IPv6 address:
[code]
As you can see, wget chooses the IPv6 connection

Here's the output with the additional parameters: It again started with the full bandwidth and then broke down to below 600 KiB/s. I've taken the liberty to replace `NUL` by `/dev/null`

[code]

[2017-08-07 11:11] Tragetaschen commented on #785
Bingo:

When I force wget to use IPv4 with a `-4` parameter, the download is always fast. Only running via IPv6 is slow (without parameter or `-6`). I've checked back and forth and the correlation is very, very high.

[code]

[2017-08-07 13:42] Tragetaschen commented on #785
I had reported a similar bandwidth problem against the Visual Studio 2017 installer. The behavior there is extremely comparable to this issue:

https://developercommunity.visualstudio.com/content/problem/88440/the-installer-doesnt-use-the-available-download-ba.html

[2017-08-07 15:16] jcagme commented on #785
Interesting. I don't know where the VS installer is hosted but it might be related. I'll pass all your report information to the Azure support folks.

Thanks for the detailed information!

[2017-08-07 18:56] jcagme commented on #785
@Tragetaschen Azure Support found that the content is being served from Verizon's POP server cache so they've opened a ticket on them. I'll keep this issue up to date as they update the ticket.

[2017-08-08 00:01] weshaggard commented on #787
This still feels like some missing dependency. Can you diff the set of files that are in your output in the working and non-working case and see what is different?

[2017-08-08 00:53] jcagme commented on #785
@Tragetaschen Verizon support just replied and asked if you could copy-paste the following and after waiting some time provide the output of the page please. The URL is: http://wpc.366F4.kappacdn.net/002DCC/nc/headers.html?url=http://wpc.366F4.kappacdn.net/crossdomain.xml&req=HEAD

[2017-08-08 07:41] Tragetaschen commented on #785
Hmm, there's a slight problem: On my Linux (server) box with wget, there's no way to run the JavaScript embedded on `headers.html`. I've instead put the URL into Edge on my Windows box. Below is the Select-All+Copy from the page as well as an image.

[code]
![image](https://user-images.githubusercontent.com/1947968/29061190-19f6101c-7c1d-11e7-9c09-176210e50449.png)

[2017-08-08 12:57] GudjonGunnlaugsson commented on #768
@morrisjoe I'm a coworker of @sturlath been trying to get the publish to work while he is on vacation. In the CLI the publish works fine and maybe my solution would be to upload the files myself to azure. But the Visual studio publish still brings the same error as before.
Because the CLI works i figured i would try to setup an auto build deploy on check in. Still working on that.

[2017-08-08 17:53] jcagme commented on #785
Thanks, details have been shared with Verizon support.

[2017-08-09 16:20] Tragetaschen commented on #785
Just as a point of interest: I disabled IPv6 on Windows and then ran the Visual Studio installer. This gave me back the full download bandwidth.

[2017-08-09 19:17] rdzidziguri commented on #749
guys the funny staff here is that just few hours ago NET Standard 2.0 was officially released, but it reqs VIS 2017.3 preview and will only work with NET CORE 2.0 which we still have no idea when MS is going to release so maybe MS will end up with something that google did with Angular when they skipped V3 and released V4? :) MS please sync staff. we are having hard time following all this distrib

[2017-08-09 19:19] madhav5589 commented on #571
@Petermarcu Thanks. I followed the doc from [here](https://docs.microsoft.com/en-us/dotnet/core/deploying/deploy-with-vs) for simple SCD console application. After publishing the app, when I try to run the published app.dll inside WinPE, it shows an error that

 in the command prompt.
I thought that SCD project contains the .net core library files and dependent dll files with it. Any thoughts?

[2017-08-09 19:35] jcagme commented on #785
Good to know there are workarounds this problem!

Verizon folks reported they haven't found an issue neither their tests nor with the data you have provided and asked that if you are still hitting this issue if you could kindly provide the output of running mtr against the CDN url. With this we can pinpoint if and where there might be an slow hop in the middle or something. For more information ab

[2017-08-09 21:09] rogersachan opened #795 "Support for Fedora 25 and 26 (23 and 24 are now EOL)"
# Issue Title

Fedora 23 and 24 have now reached EOL, so having support for 25 or 26 is a priority.

# General

As of yesterday, Fedora 24 hit EOL (https://fedoramagazine.org/fedora-24-eol/) . This means we no longer support any in-date version of Fedora. Hopefully this will be fixed soon.

[2017-08-09 21:17] takazm opened #796 "Aspnet core preview 2 build fails when restoring packages"
Aspnet core 2.0 build fails using vsts but builds successfully on local machine. During the build i get the following:

2017-08-09T21:02:23.8120816Z     Package Microsoft.AspNetCore 2.0.0-preview2-final is not compatible with netcoreapp2.0 (.NETCoreApp,Version=v2.0). Package Microsoft.AspNetCore 2.0.0-preview2-final supports: netstandard2.0 (.NETStandard,Version=v2.0)
2017-08-09T21:02:23.8120816Z

[2017-08-09 22:42] mellinoe commented on #571
@madhav5589 If you have a self-contained deployment, then you don't need to invoke it with `dotnet`. You should have an actual executable file ("myappname.exe") in the published output that you can run directly.

[2017-08-09 23:04] leecow opened #798 ".NET Core Supported OS Lifecycle Policy"
# .NET Core Supported OS Lifecycle Policy

## Summary

.NET Core is supported on a range of operating systems and versions. Each platform has distinct Lifecycles defined by the parent organization. .NET Core support will take these Lifecycle schedules into account when adding or removing versions from the supported list.

## Details

When an OS which is part of the .NET Core supported set releases

[2017-08-09 23:52] madhav5589 commented on #571
@mellinoe I was using `<OutputType>Exe</OutputType>` in the project file with RunTimeIdentifier as "Any". Since I am trying to run it in WinPE, is there specific RID dedicated for that? RID catalog reference: [click here](https://docs.microsoft.com/en-us/dotnet/core/rid-catalog)

[2017-08-10 01:09] mellinoe commented on #571
@madhav5589 Disclaimer: I don't know much about WinPE, and as far as I know it's an untested scenario.

If you are using a self-contained deployment (which I think makes sense in this case), then you need to choose a specific, concrete RID. In this case, I would try "win7-x64". The output of this should include coreclr.dll, "myapp.dll", and "myapp.exe", as well as a bunch of other miscellaneous fi

[2017-08-10 01:25] John0King commented on #798
what's the meaning of  `Out of support` in the document ,  Can do run  or  just not officially support.
I'm kind warry about win7 after 2020

[2017-08-10 05:12] richlander commented on #798
It means no more free security or quality updates for that version of the product. The installers will still exist as-is.

There is no code in the product that says:

[code]

This makes no comment about OS support, from Microsoft or otherwise. That's outside our wheelhouse.

[2017-08-10 05:17] rogersachan commented on #795
Possibly related to: https://github.com/dotnet/announcements/issues/26

[2017-08-10 06:34] #795 closed

[2017-08-10 06:54] John0King commented on #798
what about new version of  dotnet core ?  Does that mean the new version of dotnet core can no install or run on those OS.  For me I really worry about win7 after 2020 and it still have lots of users 。 Linux is free but windows not.   there are  lots of win xp  users after 2014  and that almost kill .Net (  in China it does  )  ,
 .net is the first language that do not support xp.
I really hope .n

[2017-08-10 06:58] digitalray opened #800 "Error installing dotnet core on AWS Linux using dotnet.bootstrap.py"
# General

When trying to install: https://github.com/dotnet/core/blob/master/tools/dotnet-bootstrap/dotnet.bootstrap.py on AWS Linux instance with OS: Amazon Linux AMI release 2017.03 (AMI ID: amzn-ami-hvm-2017.03.1.20170623-x86_64-gp2 (ami-327f5352)), I am getting the following:

** ROVER FORCED SETTINGS CHANGE: DEV MODE 'ON'
** ROVER will skip all git commands.
** ROVER requires the deletion of

[2017-08-10 07:51] Tragetaschen commented on #785
Yes, still hitting. I tried it first thing this morning and immediately got an average of <1Mb/s with lows in the 400 kb/s range.

Here's some mtr output:
[code]
There's a rather high packet loss percentage, but these don't happen continuously but in bursts.

[2017-08-10 07:53] Tragetaschen commented on #785
The bursts also appear in the IPv4 version:

[code]

[2017-08-10 08:12] richlander commented on #798
Ah, I understand your point now. Sorry I missed it initially.

The policy is clear ... that we will only provide free support for "in support OSes".

What actually works in practice is something different. As you suggest, if there are a lot of users on a given out-of-support operating system version, we may choose to keep tests in place for an extended period to avoid breaking users.

[2017-08-10 09:28] troncomputers commented on #711
How to upgrade from 2.0-preview1-final to 2.0-preview2-final?
Latest runtime & sdk installed with latest VS2017 15.3 preview 7.0
[code]

[2017-08-10 16:59] jcagme commented on #785
Thanks. I've sent this output to the Verizon folks.

Just as a side question, this happens in all your machines, all under the same network connection? Have you tried different network/machines?

[2017-08-10 20:50] omajid commented on #800
Can you try with this patch: https://gist.github.com/omajid/90ebbd58cc54473d2a295c261451c166 ?

[2017-08-10 21:00] mairaw commented on #711
@Petermarcu, @weshaggard has created an issue for us to add that: https://github.com/dotnet/docs/issues/2843 but I'm still working on CLI updates. I'll include you on a thread about this offline.

[2017-08-11 02:55] digitalray commented on #800
Thanks. That fixed the original error. But now I get the following:

************************************************ERROR LOG START*******************************************************
ERROR: An error occured in /home/ec2-user/dotnet/amzn.2017.03-x64-dotnet/src/coreclr/Tools/dotnetcli/dotnet /home/ec2-user/dotnet/amzn.2017.03-x64-dotnet/src/coreclr/Tools/run 2. Check 2 logs under /home/ec2-user

[2017-08-11 07:48] LorenzMichels commented on #422
Hi, I get the same message. Because I want to follow some book tutorials, I want to work with VS2015 and .NET core 1.0.1. Therefore I need to install .NET Core 1.0.1 VS 2015 Tooling Preview 2, but it shows the error "IIS Express 8.0 or higher is not installed". I am on Windows 10. How can I fix this?

[2017-08-11 10:15] treeicnliu commented on #664
[test.docx](https://github.com/dotnet/core/files/1217516/test.docx)

@richlander , i want to dowdload data from the url(with fixed signature) in .net web proj ,it doesn't work since the url has changed(broke the signature),but worked in console proj.  see the file test.docx i uploaded.

[2017-08-11 10:33] TAGC commented on #711
@troncomputers I think having a `global.json` file in the solution directory with this content helps:

[code]

If you run `dotnet --version` in the terminal with the solution folder as its working directory, you should see: `2.0.0-preview2-006497`.

[2017-08-11 11:50] JamieKeeling commented on #777
Discussed and resolved in https://github.com/dotnet/cli/issues/6699

[2017-08-11 11:50] #777 closed

[2017-08-11 12:07] gorsand opened #802 "Toooooo slow interacting with MS sql server under Ubuntu 16.04 (both using EF or SQLDataReader)"
# Issue Title

Toooooo slow interacting with MS sql server under Ubuntu 16.04 (either by EF or SQLDataReader)

# General

I have a web API application on dotnet under Core 2.0, Ubuntu 16.04, and an MS SQL server as data storage (totally < 1Gb of data there). Core i5 with 8 GB memory laptop, SSD 120 GB. Both the app and the server run on same machine (localhost).

Under windows the same code requir

[2017-08-11 13:16] milla opened #803 ".net core 2.0 preview app w/ Docker problem in linux"
.net core 2.0 preview app w/ Docker problem in linux

# Details

I just upgraded our project from netcoreapp1.1 to netcoreapp2.0, in which run in Docker, built by VSTS private Linux build agent. Yet I got this error in build agent.

[code]

Does this mean now .net core 2.0 app w/ docket is not supported when built in Linux?

[2017-08-11 16:38] zhili1208 opened #804 ".Net Core SDK docker image still use nuget 2.x which has setting issue"
From https://github.com/NuGet/Home/issues/5707 @TAGC

Nuget 2.x is installed in .Net Core SDK docker image, need to upgrade to nuget 4.x to avoid setting issue.

[2017-08-11 20:29] jcagme commented on #785
Looks like Verizon still is not finding anything noticeable from the traces and asked if you could share your public IP so they can run an inverse MTR. Feel free to send it to my profile email. Also, I was thinking in adding you to the ongoing email thread with them so the link is "direct" and I am not playing a proxy role :)

[2017-08-11 21:56] drakoumel opened #805 "Multipart form data body is 0"
# Issue Title

The body of the receiving controller action of a multipart form data request is 0

# General

So in short, I have two applications the FE and the API.
From the FE a user needs to upload a big file thus we use the code provided https://docs.microsoft.com/en-us/aspnet/core/mvc/models/file-uploads

Ajax -> FE -> API.
The Ajax to FE works fine, but the FE to API send 0 body length. Alth

[2017-08-12 07:54] Ataden commented on #802
I confirm such an issue. On Windows EF Core and SQL library work great but on Linux they are way too slow. It is almost imposible to use them on Linux at all.

[2017-08-12 08:06] ayurjev commented on #802
I noticed the same slow performance while I was trying to use Core 2.0 on MacOS...
It had been taking 40-50 seconds to execute simple query....

[2017-08-12 12:29] jogibear9988 commented on #798
What about Linux on ARM? (for example RPI)

[2017-08-12 15:49] JeffreyMcBride commented on #711
@Petermarcu, is there an appropriate place to post VS2017 Preview issues related to .NET Core 2 Preview in addition to the normal in-app "Report a Problem..." system?  Thanks.

[2017-08-12 19:44] mguinness commented on #749
@rdzidziguri Most likely .NET Core 2.0 release will be announced September 19-21 at DEVintersection Europe.  [Save the date](http://www.dotnetconf.net/?utm_source=dotnet&utm_medium=web&utm_campaign=NETConfSaveDate) and follow .NET Conf.

[2017-08-13 02:50] milla commented on #803
Close this, as tried further and verified this is not an issue.

[2017-08-13 02:50] #803 closed

[2017-08-13 03:06] Petermarcu commented on #711
That is a good place to report. If its clear which layer of the stack the problem is in, filing it in the matching repo can also work but it requires more knowledge of how the product is built. Reporting more details here can also work and we can help route.

[2017-08-13 09:21] emiliano84 commented on #749
@mguinness Why wait for more than a month if everything looks ready? hopefully they're waiting just for the RTM of VS 15.3 that hopefully will come before :)

[2017-08-13 14:46] JeffreyMcBride commented on #711
@Petermarcu Thanks.  Quick version, I can provide more detail if appropriate.  VS2017 appears not to use dotnet publish for its publishing process.  When I publish a web app using a win10-x64 RID SCD profile with VS2017 15.3 P7, no EXE is produced to start Kestrel in lieu of dotnet run.  But dotnet publish --runtime win10-x64 does produce <ProjectName>.exe, and it can start the app fine.

[2017-08-13 14:51] Petermarcu commented on #711
@barrytang @livarcocc can you help look into issues with Publish from VS?

[2017-08-13 15:28] JeffreyMcBride commented on #711
@Petermarcu FYI, I ran a class last week using ASP.NET Core 2 preview 2.  Almost everything was fine!
3 issues:
1) .exe publish issue above
2) IsolatedScopes=true did not append the extra logging info with
         ` using (_logger.BeginScope("Message to append")) { // code and logging statements }`
3) Installing controller scaffolding creates an error then a warning:
         Error: Microsoft.Vis

[2017-08-14 07:51] Tragetaschen commented on #785
If Verizon is fine with that (I'm not the one with the contract) I'm perfectly fine with it. However:

This morning, nothing reproduces. Everything is as fast as it should be.

[2017-08-14 11:09] milla opened #807 "Error when running "docker run" .net core 2.0 preview project in linux"
I'm upgrading our project to .net core 2.0 preview now.

Our project now uses .net core 2.0 preview, in Docker container, pushed to Microsoft azure container service with orchestration of kubernetes.

Package being used in project:
`<PackageReference Include="Microsoft.AspNetCore.All" Version="2.0.0-preview2-final" />`

dotnet runtime in (VSTS) build agent machine,
[code]

SDKs installed in the ma

[2017-08-14 14:21] varnav commented on #807
Looks like microsoft/dotnet:2.0.0-runtime-jessie now contains 2.0 RTM, since today.

[2017-08-14 15:50] leecow opened #812 ".NET Core 2.0"
.NET Core 2.0.0 is available.

You can read about .NET Core 2.0.0 in the [release notes](https://github.com/dotnet/core/blob/master/release-notes/2.0/2.0.0.md) and [.NET blog announcement](https://blogs.msdn.microsoft.com/dotnet/2017/08/14/announcing-net-core-2-0/).

Please report any issues you find with .NET Core 2.0.0 here, either responding to this issue or creating a new issue.

Please note t

[2017-08-14 19:14] IssueWorld opened #825 "Runtime Performance Linux, Mac, Windows"
I created a simple asp.net core webapi application using .net core 2.0 preview 2. It is almost the generated sample project generated by the dotnet wepapi command. All this simple applications does is to return a list of 1.000.000 instances. Those 1 million instances are fix and only generated once.

SAMPLE CODE USED

[code]

Windows 7: 3,8 seconds (Native Machine) - GOOD
Results on Windows 7 usin

[2017-08-14 19:16] IssueWorld commented on #825
sorry for the bad text format :(

[2017-08-14 19:58] benaadams commented on #825
Most of the time seems to be in `time_starttransfer` on the linux versions?

[2017-08-14 20:02] mguinness commented on #749
@emiliano84 LOL, they must've heard you, see [release notes](https://github.com/dotnet/core/blob/master/release-notes/2.0/2.0.0.md).

[2017-08-14 20:12] IssueWorld commented on #825
Just make a little measurement on OSX Sierra 10.12.6
This time i was using the official release of .net core 2.0.
The result of 4,4 seconds is GOOD.

       remote_ip:  192.168.178.5
           local_ip:  192.168.178.5
        num_connect:  1
      num_redirects:  0
    time_namelookup:  0,004189 Seconds
       time_connect:  0,004691 Seconds
    time_appconnect:  0,000000 Seconds
     time_pretra

[2017-08-14 20:38] JeffJacobson opened #829 "Publish dotnet core SDK to Chocolatey"
Publish the .NET Core 2.0 SDK to Chocolatey repository.

Responding to [blog](https://blogs.msdn.microsoft.com/dotnet/2017/08/14/announcing-net-core-2-0/) comment by @richlander

[2017-08-14 21:08] rdzidziguri commented on #749
Ha ha guys they listened to us finally Microsoft started reading what users are writing and taking actions on that. Wow good surprise from MS.

[2017-08-14 21:12] jcagme commented on #785
I'd check tomorrow and see whether the slow behavior repros or not and then we can decide if we want to follow up or close this issue.

[2017-08-14 21:48] barrytang commented on #422
@LorenzMichels, VS 2015 tooling is in Preview. VS 2017 15.3 is now released and supports both 1.x and 2.0.

[2017-08-14 22:03] rdzidziguri opened #831 "Package ref version issue"
Just update to the latest net core and runtime and SDK and VS version to 2017.3 as well and created NET Standard class library. but as soon as i Expand dependencies node i was surprised to see it still references NET Core 1.1.0 package. Is there something i am missing and is this normal as i was expecting to see 2.0 version there for NET Core.

[code]

This brings to another issue like if I update

[2017-08-14 22:36] IssueWorld commented on #825
I made one more test using Windows Server 2012 R2 Standard, 4 GB RAM, 2 Cores, hosted within VMWare Workstation 12 Pro. Within this test I was using the official release 2.0.0. Still GOOD.

$ curl -w "@curl-format.txt" -s http://192.168.178.117:5000/api/print -o /dev/null
          remote_ip:  192.168.178.117
           local_ip:  192.168.178.120
        num_connect:  1
      num_redirects:  0

[2017-08-15 00:34] richlander commented on #798
@jogibear9988 See https://github.com/dotnet/announcements/issues/29.

[2017-08-15 00:39] nicksav commented on #812
Guys where is AddJwtBearerAuthentication now?

[2017-08-15 00:42] blowdart commented on #812
@nicksav see https://github.com/aspnet/Announcements/issues/262

[2017-08-15 00:49] wuzzeb commented on #812
The checksums file doesn't seem to be updated properly:

The page https://github.com/dotnet/core/blob/master/release-notes/download-archives/2.0.0-download.md
correctly links to the new combined linux runtime `dotnet-runtime-2.0-linux-x64.tar.gz` but when
you open the runtime checksum file also linked from the same page (https://dotnetcli.blob.core.windows.net/dotnet/checksums/2.0.0-runtime-sha.tx

[2017-08-15 01:05] nicksav commented on #812
@blackdwarf  Thanks. That works.

Also not able to Deploy to Azure Web App in Australia.
CGI error
This error occurs when a CGI application does not return a valid set of HTTP headers, or when a proxy or gateway was unable to send the request to a parent gateway. You may need to get a network trace or contact the proxy server administrator, if it is not a CGI problem.

[2017-08-15 01:08] omajid commented on #825
@tmds this looks like something you were looking into recently.

[2017-08-15 01:40] barrytang commented on #711
I believe the publish issue is a .NET Core CLI issue. @livarcocc is currently on vacation. @nguerrera, are you right guy to take a look on Livar's absence? Adding @MattGertz as well.

@prafullbhosale, can you take a look at the Scaffolding issue above? Adding @mlorbetske as well.

[2017-08-15 01:50] nguerrera commented on #711
@barrytang Happy to help however I can. The description of the publish issue mentions things working on the command line but not with VS: https://github.com/dotnet/core/issues/711#issuecomment-322046436. Is there a way to get the msbuild invocation that VS uses when publishing. I would like to understand how it might be different from the dotnet publish command that is working.

[2017-08-15 02:16] barrytang commented on #711
Sorry, I missed that. @vijayrkn, can you take a look?

[2017-08-15 02:17] zenixgrace commented on #812
hello ,

is the net core 2.0 can use vs 2015 for ide?
now i'm still using net core 1.1 and vs 2015 for the ide.

if I want to upgrade to 2.0, is it necessary to install vs 2017 for the ide?

[2017-08-15 02:39] nicksav commented on #812
@zenixgrace Yes

[2017-08-15 03:01] prafullbhosale commented on #711
Error: Microsoft.VisualStudio.Web.CodeGeneration.Design package targeting v2.0.0 (final release)

This should no longer be happening as the 2.0.0 version of the package is available on NuGet.org.

[2017-08-15 04:16] VenkateshSrini commented on #749
Since .NET core 2.0 .NET standard 2.0 are released. I'm closing this issue

[2017-08-15 04:16] #749 closed

[2017-08-15 04:33] vijayrkn commented on #711
@JeffreyMcBride I just tried publishing a netcoreapp2.0 (empty web app) with win10-x64 rid from VS & it created an exe in the publish output folder. This is the sample project that I tried- https://github.com/vijayrkn-test/netcoreapp20_win10_x64/blob/master/WebApplication1/WebApplication1.csproj

Would it be possible to provide a sample project where publish from VS is not working correctly? I wou

[2017-08-15 05:48] zenixgrace commented on #812
@nicksav is that any reason why they have to force using vs 2017 ?
is it have a break compability issued with vs 2015?

[2017-08-15 05:51] nicksav commented on #812
@zenixgrace not sure, I know for sure that to be able to use .Net Core 2 preview we forced to install VS2017 Preview 15.3. I am testing new VS and it looks really good. Just need to make Azure to work and I am happy Customer:)

[2017-08-15 05:55] zenixgrace commented on #812
@nicksav the installer for vs 2017 so HUGE :(

[2017-08-15 08:04] sillyousu commented on #711
visual studio freeze (~15 seconds) when
1. switch git branch
2.  add/remove file/dir from solution resource manager

project size: 1000 cs file

dotnet --info:
[code]
visual studio version:
[code]

[2017-08-15 08:35] IssueWorld commented on #825
On Windows Server 2016 Core (2 GB RAM, 4 Cores) running within VMware Workstation i get the following:

[code]

[2017-08-15 08:41] emiliano84 commented on #812
@zenixgrace nahh it's smaller (and faster) than 2015, of course depends on how much stuff you need to install :)

[2017-08-15 08:42] emiliano84 commented on #749
@mguinness yeah I thought so... LOL

[2017-08-15 08:48] Tragetaschen commented on #785
Still wonderful. Also, downloading/installing VS 15.3 was a real pleasure.

I'm rather curious what happened, but I wouldn't want to consume more of your time than I already have. Let's just assume this here resulted is someone finding some faulty/misconfigured hardware somewhere and close the issue.

Thanks for all your time and effort!

[2017-08-15 08:48] #785 closed

[2017-08-15 09:39] zenixgrace commented on #812
@emiliano84  maybe, i get wrong installer, because i try to make it offline installer

[2017-08-15 10:41] darewreck54 opened #833 "How do you dependency inject the ILoggerFactory in .net core 2.x"
Problem:

With asp.net core 1.x, you are able to dependency inject the ILoggerFactory into the controller via Startup::Configure:

[code]

However, with 2.x the ILoggerFactory is no longer passed as a param to Configure.  It's not clear to me how you would DI the ILoggerFactory into your classes without this param.

Thanks,
Derek

[2017-08-15 11:50] benaadams commented on #833
Add it as a param to `Configure` and it will pick up that you need it and inject it (i.e. use the same signature for `Configure` you were using before)

[2017-08-15 11:55] Dave3of5 opened #835 "UseWebListener Fails with .Net Core 2.0"
Note sure if this is a problem with .Net Core 2.0 or my setup but if I do the following:

dotnet new react
npm install
dotnet add package Microsoft.AspNetCore.Server.WebListener
dotnet add package Microsoft.Net.Http.Server

change Program.cs to:

[code]

dotnet run

I get the following error:

This is following the documentation here: https://docs.microsoft.com/en-us/aspnet/core/security/authentic

[2017-08-15 13:33] markmcdowell commented on #812
Thanks for the update guys, we've been waiting to use this!

I ran into this issue pretty much straight away though: https://github.com/dotnet/corefx/issues/18406
Would be nice to have this listed somewhere, took me an hour to find I had to add a nuget package!

[2017-08-15 13:53] rowanG077 opened #836 "Unable to set socket options on websockets."
The current API surface of .NET core doesn't expose the underlying TCPSocket so there is no way to set socket options.

My specific use cases requires me to disable naggle algorithm. If I don't there are stalls that make it unuseable in my application.

I would really like it if we could either access the underlying TCP socket object or allow us to set the socket options in some way.

Currently I

[2017-08-15 14:00] #836 closed

[2017-08-15 15:35] crmckenzie commented on #829
I'd love to see this as a standard part of the release pipeline. Yay!

[2017-08-15 16:33] toddpmain commented on #812
Where is System.IO.Packaging in netcore 2.0?

[2017-08-15 16:41] ChristopherRobinSuperStar commented on #747
Core 2.0 is released, but how to use SqlDependency now? I can't find it in ResponseCache attribute parameters.

[2017-08-15 17:01] pardhumeduri opened #838 "System.Web is not available on Core 2.0"
we are using VS2017 15.3 preview 7 and while referring the .Netframework 4.5.1 dll / nuget package in core 2.0 application  , we are getting "System.IO.FileNotFoundException: 'Could not load file or assembly 'System.Web.Services, Version=4.0.0.0, "

old application was using .net framework 4.5.1 which is a class library and has System.Web.Services name space for manage soap exceptions.

Kindly hel

[2017-08-15 17:46] steji113 opened #839 ".NET Core 2.1 Roadmap Update"
# Roadmap Update
I know .NET Core 2.0 was just released, but it might be helpful for contributors to have an idea of what the roadmap for .NET Core 2.1 is looking like. Is this something that can be updated [here](https://github.com/dotnet/core/blob/master/roadmap.md)?

Thanks!

[2017-08-15 17:47] JeffreyMcBride commented on #711
@vijayrkn Please find a solution with 3 projects, an Empty Web App, Web API, and Web App (MVC) at this location:
https://github.com/JeffreyMcBride/ASPNETCore2PreviewTemplates

These are unmodified project templates created using VS2017 15.3 Preview 7.  I left the bin, obj, and wwwroot/lib folders as is so its a bit big.  But wanted you to see the output from the publish I did on each of the 3 proj

[2017-08-15 18:29] vijayrkn commented on #711
The publish profiles were missing the RuntimeIdentifier which was causing the issue:

Can you please add this to all the publish profiles?
[code]
https://github.com/JeffreyMcBride/ASPNETCore2PreviewTemplates/blob/master/01%20Empty/Properties/PublishProfiles/FolderProfile.pubxml

https://github.com/JeffreyMcBride/ASPNETCore2PreviewTemplates/blob/master/02%20Web%20API/Properties/PublishProfiles/Fold

[2017-08-15 18:45] corivera commented on #747
@ChristopherRobinSuperStar Query notification features will be in 2.1.

[2017-08-15 18:48] ChristopherRobinSuperStar commented on #747
https://github.com/corivera  Thank you!

[2017-08-15 18:55] kamcma opened #840 "Publish .NET Core SDK to Homebrew"
Publish the .NET Core 2.0 SDK to Homebrew repository.

Responding to [blog](https://blogs.msdn.microsoft.com/dotnet/2017/08/14/announcing-net-core-2-0/) comment by @richlander

[2017-08-15 20:53] leecow commented on #812
Thanks @wuzzeb - missing entries have been added to the checksum files.

[2017-08-15 20:54] leecow commented on #812
@nicksav - Azure App Services deployment is complete so should be good to go in all regions.

[2017-08-15 21:51] richlander commented on #839
I am working on it. I wanted to have this done for release day, but couldn't quite manage it. Definitely agree. Will post here when it is done. It will be more minimal at first and then grow.

[2017-08-16 01:12] JeffreyMcBride commented on #711
@vijayrkn  Interesting results.  Before I changed anything, I checked the Publish Profile Dialog Box | Settings options, and it showed that the profile was set to use win10-x64 as the RID, even though as you pointed out, there is no <RuntimeIdentifier>win10-x64</RuntimeIdentifier> in the PUBXML.  See link for image:
https://github.com/JeffreyMcBride/ASPNETCore2PreviewTemplates/blob/master/PublishP

[2017-08-16 01:50] Damon227 commented on #812
.Net Core Library cann't reference .Net Standard Library？

[2017-08-16 03:38] steji113 commented on #839
No worries, just wanted to check in and see what was cookin' so to speak.

[2017-08-16 05:22] vijayrkn commented on #711
This is the expected behavior. We don't write the RuntimeIndentifer to the pubxml if it is already present in the csproj. The pubxml automatically gets all the properties from the csproj since pubxml is an msbuild file.

From the description of the issue, It looks like there is still an issue here with the publish settings RID dropdown that it is not writing the RID to the pubxml unless a value is

[2017-08-16 06:12] scullinan commented on #829
+1 for chocolatey

[2017-08-16 07:40] Monns opened #843 "System.Net.Mail SmtpClient Nonsupport Implicit SSL"
System.Net.Mail不能使用EnableSsl指定465端口发送邮件的bug，.NET Framework中就有这个问题，到了core，这个问题依然存在。。希望能解决。

[EDIT] [Bing translation to English](https://www.bing.com/translator/?ref=TThis&IG=8F25B4387C9D4ECF9E1C04E8E7105279&IID=SERP.5407&&text=System.Net.Mail%E4%B8%8D%E8%83%BD%E4%BD%BF%E7%94%A8EnableSsl%E6%8C%87%E5%AE%9A465%E7%AB%AF%E5%8F%A3%E5%8F%91%E9%80%81%E9%82%AE%E4%BB%B6%E7%9A%84bug%EF%BC%8C.NET%20Framework%

[2017-08-16 08:10] savkris opened #844 ".Net Core :HttpClient fails with : The server returned an invalid or unrecognized response on every request"
**HttpClient fails with: The server returned an invalid or unrecognized response**

# General
By requesting an API endpoint that, the first call succeeded but never again. The page loads on any browser otherwise.
Using Fiddler to inspect to try and find out what is going on: I am getting this response back with 200 Status code and data loaded as XML:

I am running on:

Here is the simple code :
[c

[2017-08-16 09:48] GuruprasadYellappaK commented on #767
Hi,

Kindly suggest, I could't able to fix the debug issue.
Thanks in Advance.

Regards,
Guruprasad

[2017-08-16 10:35] ehouarn-perret commented on #829
+1 for chocolatey

[2017-08-16 10:55] milla commented on #807
Thanks, I've upgraded to 2.0. Now it works. Closing this case.

[2017-08-16 10:55] #807 closed

[2017-08-16 12:15] ThuCommix opened #845 "XslCompiledTransform BadImageFormatException - Bad Method Token"
# XslCompiledTransform BadImageFormatException

When using XslCompiledTransform.Transform the framework throws a BadImageFormatException - Bad Method Token. It works fine with the full framework.

# General

I'm using the newest dot net core sdk available in combination with Visual Studio 2017.3 and Windows10.

Steps to reproduce:

1. Adjust the directories in the attached project to point to the

[2017-08-16 12:25] tmds commented on #825
The repro code is not re-using the `list` across request.

[code]

outputs

[code]

The reproduces on Fedora 25 using .NET Core 2.0.

[2017-08-16 12:35] tmds commented on #825
Replacing `Guid.NewGuid()` with `Guid.Empty` makes it work fast.

[2017-08-16 13:08] rohitshrivastava04 opened #846 ".Net Core 1.1.2 LTS"
# Understanding Support for LTS

I am a little bit confused to understand the end of support date for .Net Core 1.0.5. A few days back 1.1.2 was Current before the release of 2.0. Now, this has become LTS, I believe this will change the end of support date for 1.0.5 which was LTS before.

Does this release mean end of support for 1.0.5 will be 12 months from November 16, 2016 which is what is ment

[2017-08-16 13:42] gortok commented on #840
I don't have a full understanding of what's involved; but as I understand Homebrew, couldn't anyone create a homebrew installer for .NET Core?

[2017-08-16 14:23] JeffreyMcBride commented on #711
@vijayrkn Thanks for taking the time to troubleshoot it with me and giving me some more insight into the inner workings of VS Publish.

Question if I may?  Is VS using `dotnet publish` behind the scenes?  Based on our findings, I'm thinking the difference between it not working in VS and the same project producing an EXE using dotnet publish is that I did not provide it a profile but instead speci

[2017-08-16 14:51] onyxmaster opened #848 ".NET Core 2.0 MSI"
Hi,

Is there an MSI version of .NET Core 2.0 (SDK or, preferably, WindowsHosting) available?
If not -- why not? Many (legacy) distribution systems still use MSI as the primary (and sometimes only) method of distribution. I understand that we can build MSI ourselves from the provided ZIP archives, but maybe you should consider adding MSI builds to the official distribution.

Thank you.

[2017-08-16 14:55] msd90 opened #849 "Specified SDK Version not found on .Net 2.0 on cli"
Installed .Net Core 2.0 with the Ubuntu commands given. Typed `dotnet --version`.

Here is the output:
`The specified SDK version [1.0.0-rc4-004771] from global.json [/home/stonedge1/Projects/dotNet Core/aspnetprjs/ConferenceBarrel/global.json] not found; install specified SDK version
Did you mean to run dotnet SDK commands? Please install dotnet SDK from:
  http://go.microsoft.com/fwlink/?LinkID=

[2017-08-16 15:03] maikebing opened #850 "Dotnet.exe like jave.exe, is a freak. Can I compile executable files like a native executable file?"
Dotnet.exe, like jave.exe, is a freak. Can I compile executable files like a native executable file?

Just like the original.Net compiled executable file, or as a native application compiled by VC？

[2017-08-16 15:06] msd90 commented on #849
moved to [/core-setup](https://github.com/dotnet/core-setup/issues/3061)

[2017-08-16 15:06] #849 closed

[2017-08-16 15:37] beforan commented on #829
+1 for chocolatey

[2017-08-16 15:42] EdouardM commented on #829
+1 for chocolatey

[2017-08-16 16:04] IssueWorld commented on #825
@tmds Thanx. So its "only" a little problem with the NewGuid function. Hopefully it ca be fixed in a future release.

[2017-08-16 17:04] DaveSlinn opened #851 "HashAlgorithm.Create(string) throwing PlatformNotSupportedException on Windows 10 (.NET Core 2.0)"
According to the [docs](https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.hashalgorithm.create?view=netcore-2.0#System_Security_Cryptography_HashAlgorithm_Create_System_String_), this operation should be supported in .NET core 2.0 but when I do a simple console app to test, I get the following:

![image](https://user-images.githubusercontent.com/18301427/29375338-dc693750-82

[2017-08-16 17:08] bartonjs commented on #851
Duplicate of https://github.com/dotnet/corefx/issues/22626.

You need to either use `(HashAlgorithm)CryptoConfig.CreateFromName(algName)` or (preferred) just use what you want, e.g. `MD5.Create()`.

[2017-08-16 17:08] #851 closed

[2017-08-16 17:22] DaveSlinn commented on #851
Then the docs need to be updated to reflect this.  It is confusing when the docs indicate something should work when in fact, it doesn't.

[2017-08-16 17:25] omajid commented on #846
@leecow The updated table at https://www.microsoft.com/net/core/support is causing confusion. It is pretty obvious to me that 1.0.x and 1.1.x will EOL on the same date but the table doesnt clarify that.

[2017-08-16 17:33] bartonjs commented on #851
@mairaw Do we have a plan for incorporating the PlatformNotSupported details in Core into the docs?  And all of the other soft-deprecations that we're going to add to an analyzer pack?

[2017-08-16 19:33] benaadams commented on #825
@IssueWorld you should raise and issue in https://github.com/dotnet/coreclr about NewGuid being slow on the platforms you have noticed it on.

[2017-08-16 19:39] ThuCommix commented on #850
.exe does not have any meaning to other systems like MacOS or Linux, so why bother?

[2017-08-16 20:52] srpeterson commented on #796
I just tried building on VSTS and have exactly the same problem. Builds just fine locally with VS 2017.3, but the "Restore" build step on VSTS  fails. I'm using the  'Hosted VS2017' agent queue and the 'Version 2.* (preview)'  (the only one available)in the restore step.

I will also attach my .csproj file
[csprojproject.txt](https://github.com/dotnet/core/files/1229480/csprojproject.txt)

[2017-08-17 01:16] Petermarcu commented on #848
The exe installations that are offered for .NET Core and the Windows Hosting Bundle are based on MSI's but they are chained together using a boostrapper exe. Are you looking for something with a .msi extension and you can't use the .exe's that have msi's in them? Like this one? https://aka.ms/dotnet-sdk-2.0.0-win-gs-x64

[2017-08-17 01:49] vijayrkn commented on #711
VS does not call 'dotnet publish' directly, but uses the same set of targets that 'dotnet publish' uses. VS publish and dotnet publish should behave the same when the same set of parameters are passed to it.

In this case, a specific runtime property was passed to 'dotnet publish' from commandline but from VS this property was not passed

Both are fine. You can pass the properties directly to 'dot

[2017-08-17 01:58] leecow commented on #846
@rohit21agrawal - sorry for the confusion and I'll try to come up with a way to represent this on the support site. Basically we're going to maintain both as LTS until a 2.0 LTS is declared which will then start the 1 year end of life countdown for both.

One thing to clarify. The lifecycle dates begin with the first release in the band and it is not reset by subsequent patch releases.

[2017-08-17 02:12] omajid commented on #846
Uhh.... So 2.0.0 isn't the start of an LTS train? The 2.0 series will be declared LTS with some future patch update? We shouldn't start the countdown for 1.x EOL?

[2017-08-17 02:39] jcapellman commented on #839
I was just looking as well, excited to see what is in store.

[2017-08-17 02:43] leecow commented on #846
Correct, 2.0 has not been declared LTS yet. See the [2.0 release notes](https://github.com/dotnet/core/blob/master/release-notes/2.0/2.0.0.md#support) and the Support Lifecycle section of the [2.0 blog announcement](https://blogs.msdn.microsoft.com/dotnet/2017/08/14/announcing-net-core-2-0/).

[2017-08-17 02:52] leecow commented on #846
@omajid and @rohitshrivastava04 - could you have a look at the note I added after the table on https://www.microsoft.com/net/core/support and let me know it helps clarify?

[2017-08-17 08:06] marcusts opened #854 "Command-line DotNet commands not found under Windows 10"
I followed all f the installation instructions, but am not able to run command such as:

$ dotnet new lib -o mylibrary

ETC., ETC.

Shall I add a path to my environment?  It would be ideal if you made this more clear.

[2017-08-17 08:09] marcusts opened #855 "Not able to create a project containing app.xaml using Dot Net Standard 2.0"
I have installed all of the components, and can indeed create new projects using Dot Ne Standard and compile them.

*However* I am not allowed to create a *solution based on Dot Net Standard 2.0.   Only single class libraries. Is this as intended?  If so, could you state it as a headline in your blogs and announcements?

Normal users want to create a solution using this new technology.  So we want

[2017-08-17 08:32] onyxmaster commented on #848
To be most specific, I need the [WindowsHosting](https://github.com/dotnet/core/blob/master/release-notes/download-archives/2.0.0-download.md#windows-server-hosting) that could be installed as an MSI package. Certain tools (like Puppet or Amazon Elastic Beanstalk) that bring systems to a desired state are picky about what is considered a "package" and often use the MSI product ID to check if it sh

[2017-08-17 09:30] nil4 commented on #848
@onyxmaster https://github.com/dotnet/core/blob/master/release-notes/download-archives/2.0.0-download.md#windows-server-hosting

[2017-08-17 09:50] chrbaeu opened #856 "Strange generic expressions type check behavior"
The following code prints with netcoreapp1.0 and net461:
[code]
And  with netcoreapp2.0:
[code]
I think netcoreapp2.0 should show the same results as the other.
[code]

[2017-08-17 09:57] onyxmaster commented on #848
@nil4 I do not understand what do you mean. You copied the same link I provided. It does not contain the WindowsHosting package in MSI form.

[2017-08-17 10:00] TimoBohl opened #857 "Running Core 2.0 Self-Containing App on Linux fails"
# Running a Net Core 2.0 Self-Containing App on Linux fails

Running a published self-containing app on linux results in an error regarding the assemblys manifest.
Worked well with Core 1.1.

# Investigations so far and how to reproduce

I recently converted a Net Core app 1.1 which worked fine to Net Core 2.0 and ran into an issue after publish and run at linux.
I am using Linux Pepermint8 and Ub

[2017-08-17 10:15] ShrenikOne commented on #758
Hi All, We are facing similar issue. Any workaround or solution, Also I additional observation, while compile with "netstandard2.0" as "TargetFramework", generated assembly Platform Target coming as Unknown while with "netstandard1.4" its coming as "Windows Runtime".

[2017-08-17 10:33] nil4 commented on #848
@onyxmaster apologies, I did not notice that the download link points to an exe file and not an MSI.  I see now what you mean.

[2017-08-17 11:13] svick commented on #854
If you successfully followed the installation instructions, then `dotnet` will be added to the PATH automatically, you shouldn't need to do anything else.

What is the error you're getting? What instructions did you follow? Did you restart your command line? Which command line are you using?

[2017-08-17 11:38] onematchfox commented on #857
I have also run into a similar issue which may be related whilst building a self-contained app for target framework ubuntu.16.04-x64 which previously worked fine with 1.1.

`Unhandled Exception: System.IO.FileLoadException: Could not load file or assembly 'System.Runtime.Extensions, Version=4.2.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. The located assembly's manifest definition does

[2017-08-17 12:04] ghd258 opened #858 ".NET Core 3.0 Roadmap Update,I hope to support web form cross platform"
I hope to support web form cross platform, in China, a lot of net programmers to Java, I hope the rapid development of net

[2017-08-17 12:08] ghd258 commented on #858
The latter will add to those API, and with those enhancements, the general release date, with these, I can plan whether the project will soon .Net core 2

[2017-08-17 12:18] Pierl0 commented on #796
I've got the same issue.
Build on local VS2017.3 on my desktop. I've update my azure build agent on VS2017.3, with Netcore2.0 SDK, but it failed each

I attach my csproj file. [csproj.txt](https://github.com/dotnet/core/files/1231207/issueAspCore2.txt)

[2017-08-17 12:23] svick commented on #855
What would be the advantage of making the library that contains app.xaml a .Net Standard library? I don't think you would be able to to use that app.xaml from e.g. an ASP.NET Core application, so I think making that library a .Net Framework library (not even a PCL) makes sense.

Or am I missing something?

[2017-08-17 12:23] benaadams commented on #858
Do you want aspnet 3.0 roadmap? You may want to raise issue in https://github.com/aspnet/Home

You may also want to look at [Introduction to Razor Pages in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/mvc/razor-pages/index) and tutorial [Getting started with Razor Pages in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/razor-pages-start)

[2017-08-17 12:44] Petermarcu commented on #848
You can use the exe and it will install a set of msi's. They have product codes that could be used to detect and maintain successful installation.

[2017-08-17 12:58] ghd258 commented on #858
aspx Pages in ASP.NET Core
Can support the current web from ASPX page and the current controls

[2017-08-17 12:59] ghd258 commented on #858
Can support the  Web from controls

[2017-08-17 13:02] benaadams commented on #858
/cc @csharpfritz

[2017-08-17 13:03] onyxmaster commented on #848
Unfortunately, they can't be installed with "msiexec /i <package>" or via WindowsInstaller.Installer COM object. Well, I have a workaround mentioned above, so if you do not feel like this should be changed, go ahead and close the issue. Thank you for considering the options.

[2017-08-17 13:13] ghd258 commented on #858
Can support the ASP.NET  server control

[2017-08-17 13:13] svick commented on #856
As far as I can tell, the reason for this is that `predicate.GetType().GetGenericTypeDefinition()` returns the internal type [`Expression1<T>`](https://github.com/dotnet/corefx/blob/43f78840284de81bfd1b5fe4deceedf95c673cf8/src/System.Linq.Expressions/src/System/Linq/Expressions/LambdaExpression.cs#L358), which inherits from `Expression<T>` and was introduced as an optimization in https://github.co

[2017-08-17 13:21] csharpfritz commented on #858
While I love this idea, and it's something that I think could benefit the AspNetCore platform by migrating the webforms programming model to it, it's a very hard task.

Web forms is intertwined with IIS and will require a lot of work to disconnect the two so that it could be plugged in to the pipeline.

[2017-08-17 13:26] ghd258 commented on #858
System.Web.UI
System.Web.UI.Adapters
System.Web.UI.HtmlControls
System.Web.UI.WebControls.Adapters
System.Web.UI.WebControls.WebParts
System.Web.UI.WebControls;
Do you support these API?

[2017-08-17 13:37] stephentoub commented on #856
cc: @bartdesmet, @VSadov

[2017-08-17 14:11] TimoBohl commented on #857
Removing the include of Microsoft.AspNetCore.All resolved it for me too.
Thank you!

Supposing that there is a reference issue in the metapackage since this was recommended in the migration description here [Migrating from ASP.NET Core 1.x to ASP.NET Core 2.0](https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/).

[2017-08-17 14:11] #857 closed

[2017-08-17 14:18] omajid commented on #846
Thanks Lee. That addresses my immediate concern.

[2017-08-17 14:19] dlaporte40 commented on #835
Hi,
WebListener has been replace by HttpSys for ASP.NET Core 2.0
See : https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/httpsys
Regards

[2017-08-17 14:29] ghd258 commented on #858
Do you support these
AntiXss
patterns & practices–Enterprise Library
patterns & practices -Unity

[2017-08-17 15:20] Dave3of5 commented on #835
@dlaporte40 I seemed to miss that in the documentation lol thanks !

[2017-08-17 15:20] #835 closed

[2017-08-17 15:56] #846 closed

[2017-08-17 15:59] leecow commented on #804
@MichaelSimons @richlander @kendrahavens to have a look.

[2017-08-17 15:59] leecow commented on #845
Moving issue to corefx repo

[2017-08-17 16:00] #845 closed

[2017-08-17 16:00] leecow commented on #845
Issue moved to [dotnet/corefx #23343](https://github.com/dotnet/corefx/issues/23343) via [**ZenHub**](https://www.zenhub.com/)

[2017-08-17 17:14] MichaelSimons commented on #804
@zhili1208 - can provide details about which version of the the SDK docker image you are using?  Which version of the SDK does it include?

[code]

[2017-08-17 17:19] zhili1208 commented on #804
@TAGC Could you provide the details about your docker image SDK?

[2017-08-17 17:34] mirind4 commented on #796
I've got the same issue.  Build is fine locally with VS 2017.3. It seems that I am not alone, hopefully soon we find a solution for that. I attach my  [csproj.txt](https://github.com/dotnet/core/files/1232125/csproj.txt)

[2017-08-17 17:39] TAGC commented on #804
`microsoft/dotnet-2.0-sdk`, same as @MichaelSimons. However, Michael is using `dotnet nuget` (which is 4.3.0.5 as he shows). My understanding is that this is a stripped down version of NuGet that doesn't allow me to do things like updating local feeds or setting API keys, etc (it's not displayed under `dotnet nuget --help`.

If you try `apt-get update && apt-get install -y nuget && nuget`, you sho

[2017-08-17 17:44] rosieks commented on #796
I have the same problem - try to update NuGet to version 4.3 on build machine.

[2017-08-17 17:54] rosieks opened #860 "You must add a reference to assembly netstandard, Version=2.0.0.0"
Hi,
I have created new asp.net core application that's based on .NET Framework 4.6.1 and it doesn't build on my build server. Below is error message that I receive:

    Error CS0012: The type 'Object' is defined in an assembly that is not referenced. You must add a reference to assembly 'netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'.

What should I do to solve th

[2017-08-17 18:03] svick commented on #804
@TAGC I believe that's the version of nuget that comes from [Debian Stretch repository](https://packages.debian.org/stretch/nuget), which is based on mono.

I think nothing can be done about that in the Docker image, because it doesn't come from the Docker image.

[2017-08-17 18:10] MichaelSimons commented on #804
Agreed with @svick - this is not an issue with the .NET Core Docker image.

[2017-08-17 19:03] TAGC commented on #804
Yeah, I'm aware and agree with you. This is something that the Debian Stretch maintainers would need to resolve I guess. I was hoping with NuGet/Home#5707 that the NuGet team would have a way of contacting (or even be the same people as) the people maintaining this package, or else have an alternative they can suggest.

At the moment it's not too much of an issue for me - I'm maintaining a `NuGet.

[2017-08-17 19:25] haf opened #862 ".Net Core 2.0's NetStandard.Library targets-file breaks xbuild"
# General

When .Net Core 2.0 was released, it seems to include a non-xbuild compatible .Targets file.

We've been debugging this issue here https://github.com/fsprojects/Paket/issues/2616 – and it's indeed the targets-file of .Net Core that is the problem.

Could you please fix your package an unbreak me?

[2017-08-17 19:42] tomlazelle commented on #829
+1 for chocolatey

[2017-08-17 19:44] MichaelSimons commented on #804
@TAGC, Are you alright with closing this issue?

[2017-08-17 20:11] mairaw commented on #851
Yes, we need to add the PlatformNotSupported details. It has been in my mental backlog for a while. I've opened an issue to track this: https://github.com/dotnet/docs/issues/2934

Can you provide more info on the soft deprecations @bartonjs? We can include warnings or remarks about those. But I'll need more details.

[2017-08-17 20:17] bartonjs commented on #851
https://github.com/dotnet/corefx/wiki/ApiCompat is one place that we have a lot of the data.  In addition to being in the PNSE section up top it's in the deprecated section at the bottom: https://github.com/dotnet/corefx/wiki/ApiCompat#systemsecuritycryptographyhashalgorithmcreatestring

[2017-08-17 20:30] TAGC commented on #804
Yeah, I guess so.

[2017-08-17 20:31] #804 closed

[2017-08-17 21:25] marcusts commented on #855
I am a client-sever guy, hence the nature of my request.  I am not a web developer.

[2017-08-17 21:27] marcusts commented on #854
I am a client-server programmer working with Visual Studio 15.3 in Windows 1.  I did indeed follow all of the instructions . The name is not known when typing it from a command line, so there is no path to that executable.

[2017-08-18 00:04] colinbowern commented on #854
I am seeing this as well - Windows 10 x64. Looking at the install logs in temp there is no indication of path variable change. I do see the Environment parameter in the Wix source however:

https://github.com/dotnet/core-setup/blob/6887ab556bc8302390782711dcdd75b75e769cf5/src/pkg/packaging/windows/host/host.wxs

Any way to unpack the installer executable to get at the MSI or pass along verbose log

[2017-08-18 00:16] ghd258 commented on #839
Enterprise Library ，Unity and AntiXss support net core?

[2017-08-18 01:57] samcov commented on #860
I have a 100% .net core 2.0 project, originally 1.1, and I'm getting something similar.

Error	CS0012	The type 'DbConnection' is defined in an assembly that is not referenced. You must add a reference to assembly 'netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'.

[2017-08-18 02:08] samcov commented on #860
I just noticed that switching to 2.0 didn't upgrade the csproj, it looks like this,

`<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <TargetFramework>netstandard2.0</TargetFramework>
    <AssemblyName>IvcCoreDataLayer</AssemblyName>
    <PackageId>IvcCoreDataLayer</PackageId>
    <NetStandardImplicitPackageVersion>1.6.1</NetStandardImplicitPackageVersion>
    <PackageTargetFallback>$(Pac

[2017-08-18 02:22] qqbuby commented on #860
hi @rosieks

I have a similar problem, and I remove the `RuntimeFrameworkVersion`, and the problem was fixed.

Try to remove `<RuntimeFrameworkVersion>1.1.1</RuntimeFrameworkVersion>` or `<NetStandardImplicitPackageVersion` section in the `csproj`.

[2017-08-18 06:36] rosieks commented on #860
I have that problem for project that target version 2.0 from beginning.

[2017-08-18 06:57] samcov commented on #860
@qqbuby - I didn't see your response, so I just replaced the old version with 2.0.0 and everything worked.

However, if what you said is true, maybe those sections are no longer needed, but if there, must target the correct version.

Either way, people upgrading will likely be confused because the process misses those things.

[2017-08-18 07:22] rosieks commented on #860
It looks like build server just lack Visual Studio 15.3

[2017-08-18 07:22] #860 closed

[2017-08-18 07:50] heartlocker commented on #766
The basic code for core CLR host;
https://github.com/dotnet/coreclr/tree/master/src/coreclr/hosts/unixcoreruncommon

For Java invoke C#:
https://github.com/heartlocker/JavaCallCSharp

For C# invoke Java:
https://github.com/heartlocker/CSharpCallJava

[2017-08-18 07:50] #766 closed

[2017-08-18 08:55] patoncrispy commented on #796
I had this problem and had to modify my build configuration. I answered a similar question with my solution on Stack Overflow: https://stackoverflow.com/questions/45717283/vsts-build-packages-failed-to-restore-unable-to-resolve-netstandard-library/45739237#45739237.

[2017-08-18 12:22] mrward opened #864 "Visual Studio for Mac .NET Core 2.0 issues are out of date"
# Visual Studio for Mac .NET Core 2.0 issues are no longer true with VS for Mac 7.1

[Known issues for .NET Core 2.0 document](https://github.com/dotnet/core/blob/master/release-notes/2.0/2.0.0-known-issues.md) has a couple of references to Visual Studio for Mac which are out of date:

[code]

Visual Studio for Mac 7.1 (build 1297) is now stable and supports .NET Core 2.0 RTM.

[code]

The above s

[2017-08-18 13:35] jsheetzati commented on #796
Awesome, that worked for us too.  Thanks @patoncrispy

[2017-08-18 18:08] mdesenfants commented on #796
@patoncrispy Worked for us as well!

[2017-08-18 18:46] orobert91 opened #865 "EntityFrameworkCore.InMemory 2.0.0 is broken (entities not returned when using 'Include()')"
I upgraded my  .NET Core project from 1.1 to 2.0 and found most of my unit tests that use the in-memory database broken. When Include is used in a very simple LINQ query, the database does not return the entity as it is supposed to.

[code]

In case you can't spot the problem right away, let me know if you wish me to provide you a sample project for repro

[2017-08-18 18:53] orobert91 commented on #865
Closing the issue, just saw a duplicate issue here:
https://github.com/aspnet/EntityFrameworkCore/issues/9470

[2017-08-18 18:53] #865 closed

[2017-08-18 20:46] Sebazzz commented on #850
If you want to distribute a direct executable binary to your end users, you may use [self-contained deployment](https://docs.microsoft.com/en-us/dotnet/core/deploying/#self-contained-deployments-scd).

[2017-08-18 23:50] srpeterson commented on #796
Yep! Worked also for me!

[2017-08-18 23:57] ghd258 commented on #858
Razor Pages support ASP.Net server controls or have server controls?
The MVC programming model to his advantage, but there are also disadvantages, page data and logic processing mainly by JS control, C# is only to the front-end data transfer function, the C# instead of weakening, the enhanced JS and web; from ASPX, aspx.cs aspx.cs played this way with powerful back-end processing capabilities of C

[2017-08-18 23:57] ghd258 opened #866 "Razor Pages support ASP.Net server controls or have server controls?"
The MVC programming model to his advantage, but there are also disadvantages, page data and logic processing mainly by JS control, C# is only to the front-end data transfer function, the C# instead of weakening, the enhanced JS and web; from ASPX, aspx.cs aspx.cs played this way with powerful back-end processing capabilities of C#, not only can provide data, but also can process the front interfac

[2017-08-19 00:49] davidfowl commented on #866
This has nothing to do with .net core. On top of that, adding the same comment to multiple issues is bad form, please avoid that.

[2017-08-19 00:49] #866 closed

[2017-08-19 02:15] Jimmy062006 opened #867 "# PrivateMemorySize64"

[2017-08-19 09:00] takazm commented on #796
Works, Thanks

[2017-08-19 09:00] #796 closed

[2017-08-19 09:04] amugox commented on #787
I am having the same issue here

[2017-08-19 09:04] patoncrispy commented on #796
No problem! I just wish these things were better documented, or at least, more visible.

[2017-08-19 20:48] mafalarz opened #869 "<NoWarn>NU1701</NoWarn> ignored on project reference"
<NoWarn>NU1701</NoWarn> ignored on project reference

Despite adding the` <NoWarn>NU1701</NoWarn>` on all my project reference like this:
[code]
I still get the warning message

Also on publishing Nugget and adding <`NoWarn>NU1701</NoWarn` to my nugget package:

[code]
I keep getting warning:

I think this is because my nugget has a reference to a project reference of my solution like this:
![imag

[2017-08-20 09:54] grokky1 commented on #860
I have the same problem. The upgrade guide does not cover this problem.

I am not using `RuntimeFrameworkVersion` or `NetStandardImplicitPackageVersion`. I hope someone from the dotnet team will address this problem.

[2017-08-20 15:02] Centaur commented on #854
This also happens on Mac OS.

[2017-08-20 19:55] antonellil opened #871 ".NET Core 2.0 Kestrel Garbage Collection Concern"
All,

I am using .NET Core 2.0 in a Docker container via the microsoft/dotnet:2.0-sdk image on a Digital Ocean droplet running Docker 1.12.3 on Ubuntu 16.04, with 2GB of RAM and 2 CPUs.

Below is the memory timeline I am seeing from the past 6 hours, with around 120 users accessing the site in those 6 hours.
![image](https://user-images.githubusercontent.com/978968/29497915-2df18cf8-85bf-11e7-9aec

[2017-08-20 22:01] stanuku opened #872 "dotnet run for Core 2.0 crashes on Mac crashes (System.IO.FileSystem conflict)"
Steps:

- Installed .NET Core 2.0 SDK for MAC. (MacBook Pro 2017)
- dotnet --version outputs 2.0.0
- Created new mvc app using `dotnet new mvc -o sample20`
- cd sample20
- dotnet build successful
- dotnet run CRASHES!

[code]

[2017-08-21 01:43] Luis-DdlFG opened #873 "Updating to .NET Core 2.0 - EntityFramework not recognized"
Hello,

I have failed on updating my project to the version 2.0 following the guide from microsoft (https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/)

Updated csproj:

[code]

Note: I never had the reference to `<TargetFramework>net###</TargetFramework>` but I added it according to the manual

Errors showing up include:

_The type or name of the 'EntityFrameworkCore' namespace does

[2017-08-21 03:18] antonellil commented on #871
Update:
![image](https://user-images.githubusercontent.com/978968/29502399-c4182e1a-85fd-11e7-88d1-9fa376dc726c.png)

Seems to have leveled off and is GC'ing correctly. But still very interesting behavior that would be good to get to the bottom of

[2017-08-21 06:08] myloveCc opened #874 "Rsa ToXmlString is not supported on .NET Core 2.0"
# rsa.ToXmlString(true) is not supported on .NET Core 2.0

[code]

[2017-08-21 06:26] gregbradley opened #875 ".NET Core 2.0 new Razor project on Windows 8.1 build fails with error CS1646 in _ViewStart.cshtml"
After installing DotNet Core 2.0.0 on a Windows 8.1 machine and creating a new Razor project (dotnet new razor) the project fails to build. Have tried also creating the project using Visual Studio 2017 with the same result. Also tried on another Windows 8.1 machine with the same result.

Build FAILED.

Pages\_ViewStart.cshtml(1,1): error CS1646: Keyword, identifier, or string expected after verbat

[2017-08-21 07:16] antonellil commented on #871
And.... it seems to have begun rising yet again. Definitely concerning.

![image](https://user-images.githubusercontent.com/978968/29507655-120e16a4-861f-11e7-9d49-07e67e4b5eb4.png)

[2017-08-21 12:34] saharM opened #876 "System.PlatformNotSupportedException: 'Registry is not supported on this platform.'"
## Steps to reproduce:

In Visual Studio 2017 version 15.3.0, in a .NET Core 2.0 Class library I install this Nuget package:

    <PackageReference Include="Microsoft.Win32.Registry" Version="4.4.0" />

I write a simple method that uses RegistryKey class like this:

        internal static bool ReadRegistry()
        {
            bool ret = false;
            RegistryKey sampleDir = Registry.Curr

[2017-08-21 13:22] bartonjs commented on #874
Yep.  In .NET Framework networking, XML, and cryptography all live in one library (mscorlib).  In .NET Core they're in three separate libraries, and making this method work requires a circle:

* XML needs networking, because (even though we discourage it) DTDs can initiate downloads.
* Networking needs cryptography because TLS/https have X.509 certificates.
* Cryptography needs XML for ToXmlString

[2017-08-21 16:25] wfurt commented on #872
Are you sure you have all prerequisites and no older dotnet versions lingering around?
Also what is you OS version. You did not provide any details about that.

[2017-08-21 17:34] lawrencejohnston opened #877 "Referencing .NETStandard,Version1.3 NuGet library depending on System.ComponentModel.TypeConverter from .NET 4.7"
When I reference the NuGet package SharpSnmpLib version 9.2.2 from a .NET 4.7 app it fails during execution with:

[code]

It seems like this may have something to do with to the .NETStandard,Version1.3 dependency on the System.ComponentModel.TypeConverter NuGet package.

This seems like it could be related to #730 but I'm not sure.

One workaround I found based on a suggestion from @weshaggard in

[2017-08-21 18:05] JRBonnema commented on #831
Strange that nobody has apparently looked at this yet. I get the same mistake when creating a Net standard class library. It must be a problem that doesn't affect most people.  When I compile I see lots of warnings like the one below. Apparently something has gone wrong downloading the .NET Core 2.0 SDK. The Dll's are apparently kept at different locations and not are all the same, some ones conta

[2017-08-21 18:32] weshaggard commented on #877
I suspect you might be hitting https://github.com/dotnet/sdk/issues/901. Can you try the workarounds listed in that issue?

[2017-08-21 19:03] lawrencejohnston commented on #877
@weshaggard

Thanks for your help.

I just tried the workarounds (`<RestoreProjectStyle>PackageReference</RestoreProjectStyle>`
and
`<AutoGenerateBindingRedirects>true</AutoGenerateBindingRedirects>` and re-adding the nuget reference) and I'm still getting the same issue.

I've [uploaded my test project](https://github.com/lawrencejohnston/DependencyIssue) to make it easy to see what's going on.

[2017-08-21 21:06] ratidzidziguri commented on #831
@JRBonnema  Do u mean i need to clean some cache on my local machine? could you please provide more info on how to test what u suggest?

[2017-08-21 21:40] #867 closed

[2017-08-21 22:53] #747 closed

[2017-08-22 00:21] halter73 commented on #871
@antonellil In case you're not seeing the back references, I want to point out that this might be caused by an issue reading cgroup limits described in dotnet/coreclr#13489

[2017-08-22 01:29] myloveCc commented on #874
### This feature is not difficult, and I have been achieved in my project。

[code]

[2017-08-22 05:43] grokky1 commented on #833
@darewreck54 @benaadams Would it not be better to inject it into the `Startup` constructor itself. Since logging is now setup in  `Program`, so I assume it's available via constructor injection.

I suppose you could even do `public Startup(ILogger<Startup>` logger) { ... }` if you need to perform logging during startup.

[2017-08-22 11:01] lifeofguenter opened #879 "confusing versioning?"
https://github.com/dotnet/core/blob/master/release-notes/download-archives/1.1.2-download.md

* why is the SDK versioned on 1.04 but the runtime 1.1.2?
* is it safe to run production apps with the SDK dotnet-cli?

[2017-08-22 11:48] daviatorstorm opened #880 "Still old value in roadmap table"
Update
![image](https://user-images.githubusercontent.com/4057612/29564056-de2bf254-8748-11e7-92dc-966dfaf7ccaa.png)

[2017-08-22 13:54] omajid commented on #879
See https://github.com/dotnet/cli/issues/3773 for more on the confusion between runtime and sdk versions. The good news is that for 2.0, the confusion should mostly be gone. 2.0 has consistency between sdk and runtime versions.

[2017-08-22 16:38] #864 closed

[2017-08-22 16:39] NETESudarshan commented on #872
@wfurt:

Isn't side by side the whole point? I've 1.1 lingering around on my Mac.

MacBook Pro 2017 comes with latest OS. (Sierra)

[2017-08-22 16:42] stanuku commented on #872
@wfurt:

Isn't side by side the whole point? I've 1.1 lingering around on my Mac.

MacBook Pro 2017 comes with latest OS. (Sierra)

[2017-08-22 16:44] karelz commented on #880
PR is here: #882

[2017-08-22 16:45] karelz commented on #879
Seems to be answered, closing.

[2017-08-22 16:45] #879 closed

[2017-08-22 16:54] karelz commented on #862
@weshaggard @ericstj can you comment please?

[2017-08-22 17:01] karelz commented on #843
@Priya91 can you please comment?

[2017-08-22 17:04] karelz commented on #844
You are using preview1 bits. Do you get the same error on RTM bits (released on 8/14)?
If you can, please post code which has chance to compile - `CronwBetClient` above is not part of Framework. Thanks!

[2017-08-22 17:05] karelz commented on #833
Looks like ASP.NET specific discussion. I would suggest to move it to https://github.com/aspnet repos.

[2017-08-22 17:07] karelz commented on #838
System.Web is not part of .NET Core: https://apisof.net/catalog/System.Web.Services

[2017-08-22 17:10] karelz commented on #783
Seems to be resolved. Closing

[2017-08-22 17:10] #783 closed

[2017-08-22 18:16] wfurt commented on #872
It is possible to have both, one just needs to be careful not to mix them.
I repeated your steps on 10.12.5 and I don't see any crash.
I assume you used the pkg installer in both cases, right?

You can run:
dotnet build  -v d| grep System.IO.FileSystem

That will produce more verbod=se output and it would show you where the System.IO.FileSystem is coming from.

You can also try to publish standalo

[2017-08-22 19:42] ericstj commented on #862
I took a look at the referenced issue.  It looks to me like a problem in mono's MSBuild project evaluation : https://github.com/fsprojects/Paket/issues/2616#issuecomment-322746371.

Something about the syntax we use in our targets file is causing mono to null ref.  None of our code is running here nor are we using invalid syntax, I suspect it's just a bug in xbuild.  /cc @akoeplinger

If I had to

[2017-08-22 20:36] atifmir opened #884 "# Microsoft.Composition warning comes when using dotnetcore 2.0 : How best to resolve/restore the correct version for dotnetcore 2.0"
# Microsoft.Composition warning comes when using dotnetcore 2.0

NU1701	Package 'Microsoft.Composition 1.0.27' was restored using '.NETFramework,Version=v4.6.1' instead of the project target framework '.NETCoreApp,Version=v2.0'. This package may not be fully compatible with your project.
# General
# Microsoft.Composition warning comes when using dotnetcore 2.0

NU1701	Package 'Microsoft.Compositio