[2018-06-05 12:55] eebomarsi commented on #1657
They also broke previous working versions. We have a CI process that was successfully installing dotnet 2.1.104 on Linux 7.4. The 2.1.104 package is still available, but the dependencies bumped to dotnet-runtime-deps-2.1.0-rc1 which fails.

**Log from May 2018:**
yum install -y dotnet-sdk-2.1.104.x86_64
Installed:
  dotnet-sdk-2.1.104.x86_64 0:2.1.104-1

Dependency Installed:
  aspnetcore-store-2.

[2018-06-05 13:06] martincostello opened #1660 "Behavioral Change Between SocketsHttpHandler and WinHttpHandler with HTTP method names"
# Behavioral Change Between SocketsHttpHandler and WinHttpHandler with HTTP method names

A behaviour change between using `WinHttpHandler` (the 2.0 default) and `SocketsHttpHandler` (the new 2.1 default) with `HttpClient` when making HTTP requests with a user-specified HTTP method string that is lower-case that may cause HTTP requests to be rejected as invalid.

# General

I help maintain an ASP.

[2018-06-05 13:17] MarcoRossignoli commented on #1660
maybe open issue on https://github.com/dotnet/corefx

[2018-06-05 13:19] martincostello commented on #1660
Sorry, that's where I thought I was already because I saw core in the URL 🤦‍♂️

[2018-06-05 13:21] martincostello commented on #1660
Moved to dotnet/corefx#30143.

[2018-06-05 13:21] #1660 closed

[2018-06-05 14:51] spartanetsru commented on #1657
Try to manually install dotnet-host-2.1.0 first and then install SDK or runtime you needed.

aspnetcore-runtime-2.1 for Ubuntu:
`apt-get install dotnet-host-2.1.0 aspnetcore-runtime-2.1`

dotnet-sdk-2.1 for Centos:
`yum install dotnet-host-2.1.0 dotnet-sdk-2.1`

[2018-06-05 14:54] mrichards3 commented on #1614
This page doesn't have instructions or package links for .NET Core 2.1 in the "Install .NET Core for supported Red Hat Enterprise Linux (RHEL) versions" section:
https://docs.microsoft.com/en-us/dotnet/core/linux-prerequisites?tabs=netcore2x#install-net-core-for-supported-red-hat-enterprise-linux-rhel-versions

Are the RHEL packages still being finalized for .NET Core 2.1?

[2018-06-05 15:16] KevinKibler commented on #1614
It looks like the release candidate files were removed and replaced by the official release files. The yum package for dotnet-sdk-2.1.0 should be updated to download the new files.

[code]

[2018-06-05 15:24] AreYouQQ commented on #1657
I have same problems
 spartanetsru 's  solution is OK,Thanks

[2018-06-05 15:33] tmds commented on #1614
@mrichards3 rpms for RHEL should be available this week. We'll update those instructions once they are available.

[2018-06-05 16:09] murrayju commented on #1614
To add to what @KevinKibler said, it looks like the dependency tree still refers to some of the rc files that were deleted. You can reproduce this easily with docker:
[code]
Here is the relevant bit of output:
[code]

[2018-06-05 16:44] jeff-powell opened #1661 "Installing dotnet sdk 2.1 via yum fails due to 404"
# Issue Title
Installing dotnet sdk 2.1 via yum fails due to 404

# General
Our build process uses the following command to install our environments, but is now failing:
`yum install -y dotnet-sdk-2.1`

And here's the error we are getting.
`Downloading packages:`
`https://packages.microsoft.com/yumrepos/microsoft-rhel7.3-prod/dotnet-host-2.1.0-rc1-x64.rpm`
`[Errno 14] HTTPS Error 404 - Not Found.

[2018-06-05 16:47] brianrob commented on #1647
Gotcha.  Thanks @doyouevensunbro!  Thanks for the feedback!

[2018-06-05 16:47] #1647 closed

[2018-06-05 16:49] spartanetsru commented on #1661
Try this [solution](https://github.com/dotnet/core/issues/1657#issuecomment-394739490)

[2018-06-05 17:10] jeff-powell commented on #1661
It looks that resolves the issue.  Thanks @spartanetsru

[2018-06-05 17:21] eebomarsi commented on #1657
Thanks @spartanetsru . Your Centos fix works.

[2018-06-05 18:11] dasMulli commented on #1659
cc @pranavkm @rynowak looks like https://github.com/aspnet/Razor/pull/2272/files didn't catch that `'$(GenerateAssemblyVersionAttribute)' == 'true'` will still evaluate to false because the SDK targets only define those individual properties when `GenerateAssemblyInfo` is set to true (see [SDK targets](https://github.com/dotnet/sdk/blob/50ddfbb91be94d068514e8f4b0ce1052156364a0/src/Tasks/Microsoft.

[2018-06-05 19:18] pranavkm commented on #1659
Yes. The Sdk does pick up the side-effects of `GenerateAssemblyInfo` correctly. But you see the build warning \ error since it's no longer adding a version to the assembly. If you were to add the shared AssemblyInfo to the list of files added to Razor compilation, things build:

[code]

[2018-06-05 20:29] stephenetyler commented on #1614
I'm getting the same error downloading a previous release using
sudo yum install dotnet-runtime-2.0.7

Can someone fix this please?  and maybe a test should be written for this...

[2018-06-05 20:31] leecow commented on #1661
Clean up of the prod repo is now complete (removed pre-release 2.1 host). [package manager] refresh|update should resolve this issue.

[2018-06-05 20:31] #1661 closed

[2018-06-05 20:32] leecow commented on #1657
Clean up of the prod repo is now complete (removed pre-release 2.1 host). [package manager] refresh|update should resolve this issue.

[2018-06-05 20:32] #1657 closed

[2018-06-05 20:33] leecow commented on #1620
Clean up of the prod repo is now complete (removed pre-release 2.1 host). [package manager] refresh|update should resolve this issue.

[2018-06-05 20:34] #1632 closed

[2018-06-05 20:57] bording commented on #1620
@leecow I'm still seeing the following on Ubuntu 18.04:

[code]

[2018-06-05 21:00] johndesp commented on #1614
I am getting the same issue as well, with any flavor of 2.1.x

thanks

[2018-06-05 21:02] leecow commented on #1620
Confirmed ... back to AzLinux admins I go ....

[2018-06-05 21:11] tmds commented on #1576
This was explained here: https://github.com/dotnet/cli/issues/9375#issuecomment-393843956.
This issue can be closed.

[2018-06-05 22:04] gnjack commented on #1614
Also having the same issue with missing `dotnet-host-2.1.0_rc1` and `dotnet-runtime-deps-2.1.0-rc1` packages.

You can work around it by explicitly installing version `2.1.0-1` of `dotnet-host` before installing the main sdk / runtime package. For example `yum install dotnet-host-2.1.0-1 dotnet-sdk-2.1`

Probably related to work being done in #1620 :

[2018-06-05 22:15] gnjack commented on #1620
This might be the cause of `dotnet-sdk-2.1` / `aspnetcore-runtime-2.1` failing to install from https://packages.microsoft.com/rhel/7/prod/ - reported by several users in #1614

`dotnet-host-2.1.0-rc1` is still referenced in repodata and chosen as a dependency to install, but the package itself is missing:
[code]

[2018-06-05 22:40] omajid commented on #1620
@gnjack Does a `yum clean all` help?

[2018-06-05 23:53] eman1986 commented on #1400
I was unable to install 2.1 on ubuntu 18.04

curious to know why on earth the prep portion has 6 steps whereas every other ubuntu version only has 2?

[2018-06-06 00:00] Voltir commented on #1400
Also can't install on 18.04

[2018-06-06 00:03] gnjack commented on #1620
@omajid Unfortunately no. These are also fresh docker containers.

I believe anything with a dependency of `dotnet-host >= 2.1.0` will actually match `dotnet-host.x86_64 2.1.0_rc1-1` as version '2.1.0_rc1' is considered greater than '2.1.0' by yum.
[code]

You can see the rc versions are still being advertised in the primary.xml metadata in https://packages.microsoft.com/rhel/7/prod/repodata/
[cod

[2018-06-06 02:32] gilbertoalexsantos commented on #1553
Happening with me as well.

The environment is the same as that of @JoiGud

[2018-06-06 03:51] erwan-joly commented on #1623
![screen shot 2018-06-06 at 3 21 59 pm](https://user-images.githubusercontent.com/35202750/41016077-5ff90bce-69a1-11e8-8612-c4e1f55464bb.png)
interesting thing was that different struct had a different behavior before i got a breaking change too on this but really easy to fix just add a default value

[2018-06-06 06:04] mareklinka commented on #1659
I added the `RazorCompile` property on our shared project and now we can compile without issues. Thanks!

Just out of curiosity, is this the expected behavior or will this change in a future version?

[2018-06-06 07:47] mkc-xuliangjie opened #1662 "创建.NET 控制台应用程序 疑问"
问题：

使用.NET core 2.0 创建 控制台应用程序 疑问

描述：
1.创建.net core 2.0控制台应用程序，解决方案命名为MSFRAM.Console，运行程序
显示错误如下：
错误	CS0234	命名空间“MSFRAM.Console”中不存在类型或命名空间名“WriteLine”(是否缺少程序集引用?)	MSFRAM.Console	D:\测试代码\MSFRAM.Console\MSFRAM.Console\Program.cs

using System;

namespace MSFRAM.Console
{
    class Program
    {
        static void Main(string[] args)
        {
            Console.WriteLine("Hello World!");

[2018-06-06 07:51] VladislavAntonyuk commented on #1623
It had made to avoid possible null reference exception

[2018-06-06 09:07] smokedog2 commented on #1662
Console是关键字，不允许作为程序的命名空间

[2018-06-06 15:20] animeshb commented on #1632
Thank you for pointing me toward new place for tracking releases. I think I could create a better script now.

[2018-06-06 15:53] joseclament commented on #1622
I have a web job built on netcoreapp2.1 console application, targeting the win10-x64 and getting the  "Unhandled Exception: System.BadImageFormatException: Could not load file or assembly exception".
I haven't had any issue with locally. Deployed using the visual studio directly to the app service. Any thoughts?

[2018-06-06 16:01] jlwSL opened #1663 "Function erroneously returns null when compiled in release mode"
I've discovered a bug that causes a function to return null even if every possible return value is non-null. The issue does not happen if the project is compiled in debug mode. Please see the code attached that reproduces this issue.

[code]
The code above prints True.

For your information, my system details are below:

[code]

I can also reproduce the issue on Windows with a slightly older SDK a

[2018-06-06 16:09] leecow commented on #1620
@gnjack and @bording - I *think* things are cleaned up at this point. Did a check on 18.04 and Fedora and both look good. Holler if you see something else.

[2018-06-06 16:29] bording commented on #1620
I've just checked Ubuntu 18.04, 16.04, and Debian 9, and everything looks good for those.

[2018-06-06 16:31] gnjack commented on #1620
@leecow Odd, still not working here against `centos:7.4.170` I'm afraid.

Here's an example Dockerfile to reproduce, using the exact steps from [Install .NET Core 2.1 Runtime (v2.1.0) on Linux CentOS / Oracle](https://www.microsoft.com/net/download/linux-package-manager/centos/runtime-2.1.0) :
[code]

[code]

[2018-06-06 16:40] leecow commented on #1620
Metadata for the /rhel/7/ repo needs a kick of some kind. Back to the admins ...

Workaround is still to explicitly `yum install -y dotnet-host-2.1.0` first.

[2018-06-06 17:39] pranavkm commented on #1659
I'd think this is expected behavior - with RazorCompileOnBuild or RazorPublishOnBuild enabled, you're effectively getting two binaries per project - one for the app and one for Razor views. They compile different sets of files but we want to share meaningful properties, like versions, between the two assemblies. Our thought was that turning off assembly info for the main one should also disable it

[2018-06-06 17:43] mareklinka commented on #1659
Fair enough. Thanks for the clarification, if we can think of something, we'll file it.

[2018-06-06 17:49] leecow commented on #1656
Issue moved to [dotnet/cli #9425](https://github.com/dotnet/cli/issues/9425) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-06 17:49] #1656 closed

[2018-06-06 18:11] leecow commented on #1663
I ran your code on Mac, Fedora 28 and a clean CentOS 7 image and all return `false`. Going to move this to the CoreFX to start.

[2018-06-06 18:11] #1663 closed

[2018-06-06 18:11] leecow commented on #1663
Issue moved to [dotnet/corefx #30173](https://github.com/dotnet/corefx/issues/30173) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-06 18:12] leecow commented on #1662
If Google Translate is to be believed, I think this can be closed.

[2018-06-06 18:12] #1662 closed

[2018-06-06 18:17] leecow commented on #1614
@mrichards3 - yes, the RHEL release is still being finalized. Talked with the Red Hat folks yesterday and they're on track to release next week.

[2018-06-06 18:18] #1659 closed

[2018-06-06 18:27] #1634 closed

[2018-06-06 18:27] leecow commented on #1634
Issue moved to [dotnet/cli #9426](https://github.com/dotnet/cli/issues/9426) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-06 18:28] weshaggard commented on #1644
I used a UI version of our tools which don't understand this concept, we did add support with https://github.com/dotnet/buildtools/pull/1849. I will use a commandline version to update the diff. Thanks for pointing out @jnm2

[2018-06-06 18:34] leecow commented on #1643
Looks like this was resolved by the round of repo metadata updates that finished yesterday.

[2018-06-06 18:34] #1643 closed

[2018-06-06 19:55] leecow commented on #1595
The 2.0.8 release was a little different in that the ASP assets were updated and versioned but the .NET Core Runtime components had no changes so were not rebuilt with the matching version. This turns out to have been a mistake. Going forward, there will alway be a full version update across ASP Core and .NET Core when either side has an update which results in a new patch version.

[2018-06-06 19:55] #1595 closed

[2018-06-06 20:37] damageboy opened #1665 "Ubuntu packaging violates debian rules"
# Issue Title

As I'm trying to create local mirrors for both ubntu 14.04 and 18.04 I'm encountering issues with how MS maintains its ubuntu mirrors

# General

According to [this page](https://www.aptly.info/doc/feature/duplicate/) which links to the debian [documentation on repository format](https://wiki.debian.org/DebianRepository/Format?action=show&redirect=RepositoryFormat) the following has

[2018-06-06 21:08] leecow commented on #1620
rhel/7/ repodata has been regenerated and my CentOS test passed. @gnjack, let me know if things look good from your end.

[2018-06-06 21:13] leecow commented on #1665
@damageboy - to make sure I understand, the issue isn't necessarily the packaging, but the representation on the repo, right?

[2018-06-06 21:17] damageboy commented on #1665
It's literally the filenames. If you take a look in the repo itself, some filenames have a distro component in them, some don't.

It is technicaly ok to have the same filename twice, served for different distros, as long as it is the same file content.

[2018-06-06 21:32] #1581 closed

[2018-06-06 21:33] noahfalk commented on #1622
@joseclament - Are you aware of any .NET profiler or monitoring agent being used in your deployment environment? If not we should probably a open a new issue because there would be a decent chance that the root cause for you will be unrelated to the root cause here.

[2018-06-06 21:50] gnjack commented on #1620
Thanks @leecow - all fixed here!

[2018-06-06 22:19] #1620 closed

[2018-06-06 22:21] leecow commented on #1665
I don't know how much governance we have around submissions to the repos at this point but have included Matt so they are aware. Do let me know if there is any trouble with the .NET Core files as that is what I can directly do something about ;-)

[2018-06-06 22:29] leecow commented on #1598
Names are definitely hard to get right. .NET Core can be thought of as the overarching umbrella brand for .NET Core, ASP.NET Core and Entity Framework Core. Core is the lightweight, cross platform stack, whereas .NET Framework (ie Desktop) is Windows-only. https://docs.microsoft.com/en-us/dotnet/standard/choosing-core-framework-server details a number of the differences.

[2018-06-07 00:46] #1644 closed

[2018-06-07 04:48] damageboy commented on #1665
Hmm, I see, I guess this is a wider issue...

Maybe as a rolling solution for this we could start with fixing up the bionic repo which is pretty much only dotnet at this moment:

On my local repo, I downloaded the microsoft file and renamed them like this (by adding an `-1804` suffix):

[code]

This was enough to untangle the situation as far as I was concerned...

[2018-06-07 05:47] tristan957 opened #1667 "Installing through snap fails to create symlink"
I tried to run the `dotnet` tool. Ended having to call it like this:

[code]

[2018-06-07 05:54] tristan957 opened #1668 "dotnet restore fails"
These are the errors I received after running `dotnet-sdk.dotnet restore`:

[code]

This was after I ran `dotnet-sdk.dotnet new reactredux`

[2018-06-07 06:14] rajames429 opened #1669 "NET Core Version Issues"
I am running Windows 10 Pro and I am attempting to complete the 'Microservices hosted in Docker' (command-line based) tutorial located at:
https://docs.microsoft.com/en-us/dotnet/csharp/tutorials/microservices

When I entered 'dotnet restore' I get an error -- warn : The folder ... does not contain a project to restore.
When I entered 'dotnet run'  I get an error -- error DOTNET1017: Project file

[2018-06-07 06:28] daemnin commented on #1636
Sorry for the late reply, the code where this issue happen can't be shared due to a privacy agreement with the company I work for. In my spare time I've been trying to reproduce this issue in a project that could be shared but no luck so far, the original project has many components and the error thrown by the azure portal's diagnostic tool doesn't help as much to identify the exact component that

[2018-06-07 08:28] joseclament commented on #1622
@noahfalk , I am using AppInsight to push the logs, other than no profiling or tooling.
Let me know if I need to open a new issue.

[2018-06-07 10:45] JoiGud commented on #1553
Just ran `dotnet restore`.  Now when I do `dotnet run` I get the same high CPU load. But when I kill that process and do `dotnet run` again (without changing anything) it behaves normally, with low CPU load.

[2018-06-07 10:48] JoiGud commented on #1553
I have a colleague beside me, with almost and identical setup, same OS version, same SDK. He does not get these high CPU loads.

Will report back if we find anything else 😄

[2018-06-07 11:16] svick commented on #1669
It seems the `yo aspnet` generator is significantly outdated. Nobody should be using prerelease versions of .Net Core tools 1.0 anymore. There is already an issue about updating the tutorial (https://github.com/dotnet/docs/issues/5700), but in the meantime, what I think you should do is:

1. Use `dotnet new web` to create the application.
2. Copy the Dockerfile from the tutorial to your applicatio

[2018-06-07 14:32] nil4 commented on #1622
@noahfalk I am seeing a similar issue using the [AppDynamics .NET Core profiler agent](https://docs.appdynamics.com/display/PRO44/Install+the+.NET+Core+Microservices+Agent+for+Windows) on a netcoreapp2.1 application and .NET Core SDK 2.1.300.

When the application starts, the following exception is thrown:

[code]

[2018-06-07 14:49] joseclament commented on #1622
@noahfalk  and @nil4 , I got the bottom of the problem. It took couple of days to get the bottom of the issue and made me bit nuts. I was able to dig and find this link: https://tutel.me/c/programming/questions/42726350/how+to+change+azure+app+service+to+64bit

Your core should be built on x86 version even if the deploying server(Azure) is based on 64 bit architecture. Because the 64 bit .NET core

[2018-06-07 15:33] nil4 commented on #1622
I am not using Azure. The error occurs on my local PC when launching the application, with IIS Express, under the VS debugger, regardless of whether IIS Express 64-bit or 32-bit is selected.

The application starts up correctly if I remove the AppDynamics.Agent.Windows NuGet package, or set `CORECLR_ENABLE_PROFILING` environment variable to `0` in my Web.config (disabling the profiler).

[2018-06-07 15:36] tmds commented on #1614
The RHEL rpms are available, you can install and use .NET Core 2.1 as follows:
[code]
RHEL container images (and documentation) are expected in 1 to 2 weeks.

[2018-06-07 16:14] mangod3 commented on #1622
is it possible for you to capture a full native stack of the exception. That might help with identifying if you are hitting the same issue or something different.

[2018-06-07 16:41] nil4 commented on #1622
@noahfalk  Here are the steps to reproduce the issue I see. In a command prompt, run:

[code]
Open the project in Visual Studio, and build it once.

A number of files brought by the AppDynamics package show up under the project, including `Repro1622.AppDynamicsConfig.json`. Edit this file and replace its content with:

[code]

These values are not important, they just need to be different than the

[2018-06-07 20:11] noahfalk opened #1670 "Investigate: can we improve docs or diagnostics when 64 bit .NET Core app fails on Azure App Service"
This issue is forked from #1622 where @joseclament reported that he was getting an unexplained BadImageFormatException. The limitation from Azure App Service is by design, but perhaps we could offer better guidance in docs or diagnostic error messages so that developers will more quickly discover the right path forward. Thanks @joseclament for raising the issue!

[2018-06-07 20:17] noahfalk commented on #1622
@joseclament - Glad you were able to get the bottom of it and very appreciated that you came back to post your findings in case others hit the same issue in the future! Indeed it looks like your issue had a similar symptom but different root cause than the other ones here. I created #1670 to track any further work there.

@nil4 - Thanks for the repro! Let me try repro your issue so we can figure o

[2018-06-07 22:21] leecow commented on #1668
Hi @tristan957 - This is an issue on a few distros that I haven't gotten to the bottom of yet. Let me shake some bushes around here and figure out what conditions can lead to the errors.

[2018-06-07 22:28] tristan957 commented on #1668
Sorry if this is a duplicate. Thanks for the response. Let me know if I can provide you with any information

[2018-06-07 23:15] leecow commented on #1668
Don't know yet if it's related but found this - https://github.com/dotnet/corefx/issues/29942

[2018-06-08 08:29] nil4 commented on #1622
@noahfalk glad I could help, and thank you for the update, much appreciated! I am a customer, and have opened an AppDynamics support ticket about this; will update it shortly with a link to this issue.

[2018-06-08 09:57] #1497 closed

[2018-06-08 10:01] JaneConan opened #1672 "Plan to develop a management tool similar to IIS on Linux?"
We can see that IIS on window has been able to host dotnetcore applications, but Linux can only rely on Kestrel. Do you have a development plan for Web service management tools of Linux?

[2018-06-08 16:02] CarlosOnline commented on #1276
Any status on a fix?

[2018-06-08 17:14] leecow commented on #1672
Adding a few ASP folks that may have insight - cc @danroth27 @glennc

[2018-06-08 19:23] mpiroc opened #1673 "<ProjectAssetsFile> path is broken on Bash for Windows (blocks building NuGet packages)"
# Issue Title

`<ProjectAssetsFile>` path is broken on Bash for Windows (blocks building NuGet packages)

# General

`dotnet --version`: `2.1.300`

My project builds properly on both vanilla Windows and Linux. However, the build fails on Bash for Windows:

`/usr/share/dotnet/sdk/2.1.300/Sdks/Microsoft.NET.Sdk/targets/Microsoft.PackageDependencyResolution.targets(198,5): error : Assets file '/mnt/c

[2018-06-08 20:02] mpiroc commented on #1673
Here's a minimal repro. Build from Bash for Windows using `dotnet build` or `dotnet build ./BuildRepro.sln`.

[BuildRepro.zip](https://github.com/dotnet/core/files/2085867/BuildRepro.zip)

[2018-06-08 20:21] mpiroc commented on #1673
Weird: I've suddenly stopped seeing this error, both in my original project and in the repro project that I attached. Not sure why. Closing, will re-open if I encounter this again.

[2018-06-08 20:21] #1673 closed

[2018-06-09 00:04] bcisnero commented on #1670
Probably a fast solution to this will be to add a note in the document explaining just what are the Azure limitations and the the workaround at this point because and this is going to change at some point in the future.

[2018-06-09 01:11] fatih905 opened #1674 "Nuget packages restore failed (Yellow triangle)"
This my error message,  help me pls.

'C:\Users\erol_\source\repos\WebApplication38\WebApplication38\obj\project.assets.json' not found. Run a NuGet package restore to generate this file.	WebApplication38	C:\Program Files\dotnet\sdk\2.1.300\Sdks\Microsoft.NET.Sdk\targets\Microsoft.PackageDependencyResolution.targets	198

[2018-06-09 01:32] sbsw commented on #1114
I just found this thread via Google search.  I have VS 2017, version 15.7.3.  NuGet is version 4.6.0.  If I create a new ASP.Net Core app (either an API or a Web App), the template gives me Microsoft.AspNetCore.All v2.0.8.  In either project, on either of two computers (with identical VS versions), when I ask NuGet to upgrade to 2.1.0, it says:

[2018-06-09 04:16] sbsw opened #1675 "Package Microsoft.AspNetCore.All 2.1.0 is not compatible with netcoreapp2.0"
# Package Microsoft.AspNetCore.All 2.1.0 is not compatible with netcoreapp2.0

# General

I have VS 2017, version 15.7.3. NuGet is version 4.6.0. If I create a new ASP.Net Core app (either an API or a Web App), the template gives me **Microsoft.AspNetCore.All** v2.0.8. In either project, on either of two computers (with identical VS versions), when I ask NuGet to upgrade Microsoft.AspNetCore.All t

[2018-06-09 04:29] benaadams commented on #1675
The Microsoft.AspNetCore.All meta package is 159 dlls and uses the local runtime cache (which is installed with 2.1) so I believe this is intentional.

OTOH you should be able to use the individual packages directly on netcoreapp2.0 and net47x as they are netstandard2.0

[2018-06-09 05:33] sbsw commented on #1675
Thank you so much for the quick reply!

Uh....  can you translate that to "here's what you need to do to fix it"?  The meta package is, presumably, the preferred way for customers like me to get all of the Asp.Net Core goodness.  I don't understand how "it doesn't work" can be intentional behavior.

Is there a workaround that involves, for example, uninstalling the meta package and then installing

[2018-06-09 05:33] #1675 closed

[2018-06-09 10:01] benaadams commented on #1675
Install the new version of the SDK? https://www.microsoft.com/net/download/ .NET Core  2.1 SDK v2.1.300

That should also update the templates for any new projects you create.

For existing projects (upgarde) in their `.csproj` files change
[code]
To
[code]

More detailed instructions are provided here: https://docs.microsoft.com/en-us/aspnet/core/migration/20_21?view=aspnetcore-2.1

HTH

[2018-06-09 10:54] edwardsky opened #1676 "dotnet.exe, версия: 2.1.26515.5 crash on ntdll.dll"
# Issue Title
Name error app: dotnet.exe, version: 2.1.26515.5, time stamp: 0x5afb4a19
Fail module name: ntdll.dll, version: 10.0.17134.1, time stamp: 0x207580e2
Code exception: 0xc0000409
Err: 0x000000000008aa2f
Error app path: C:\Program Files\dotnet\dotnet.exe
Error module path: C:\WINDOWS\SYSTEM32\ntdll.dll
ID report: 3f7f4a99-c8ee-4cb0-8d6d-3880638e65ee
[code]

[2018-06-09 11:26] Jacquers commented on #1114
It will probably be fixed with the next VS update.

[2018-06-09 12:32] alentor opened #1677 "Can't add new migration using startup project with netCore2.1"
# Issue Title
 Can't add new migration using startup project with netCore2.1 getting null on connection string param

# General
Example:
In the following repository I'm using a startup project to initiate a connection string to a dbContext.
it's working with 2.0  but not with netCore2.1, code base is the same only the target framework and libraries have changed to 2.1

https://github.com/alentor/B

[2018-06-09 13:32] parthsha commented on #1553
I am experiencing the same issue on Mac OS X 10.13.4 but the strange thing is I don't have VS Code open nor am I trying to compile any code using terminal. Is anyone else experiencing something like this?

[2018-06-09 13:52] JoiGud commented on #1553
I usually end up having `top -o cpu` open in some terminal window and then killing off that one `dotnet` process that spikes with `kill -9 proc_id` (where `proc_id` stands for the process id of the dotnet process).

[2018-06-09 15:07] sbsw commented on #1675
Aha!  Yes, I had installed the updated SDK, but it never occurred to me to try to create a fresh, new project from the templates.  That does, indeed, create a core 2.1 project.

And, FYI, I had previously posted this same question as a reply to [a different GitHub issue](https://github.com/dotnet/core/issues/1114#issuecomment-395961757) dealing with this same problem.  I got a reply saying that th

[2018-06-10 07:12] skvsree commented on #1553
Hi, this issue is observed in Jetbrains Rider as well, seems to have started after 2.1 upgrade.  Below is the dotnet --info.  This has made environment completely unusable.
[code]

[2018-06-10 18:30] ColorTwist commented on #1675
Thanks, downloading NET Core 2.1 SDK v2.1.300 helped after some struggle .
I just hope i did the right thing using the new Core stuff...

[2018-06-11 02:17] SharperC opened #1678 ".Net Core and Native dll's always throw BadImageFormat"
# BadImageFormatException, everytime...

After a LOT of times trying to load native code or rather call a native method using `DllImport`, I'm reporting this as a issue, because it seems like there is no solution.

## So what did I try?

First of all, I tried the way it works with .Net Framework, what of course didn't work.
I searched in the Internet for solutions but i only found the same problem

[2018-06-11 05:33] alentor commented on #1677
Please close the issue, as I have resolved it.

According to bricelam's stackoverflow [thread ](https://stackoverflow.com/questions/45995931/does-ef-core-migrations-call-startup-configure-on-add-migration)

I have moved my dbContext initialization to Program.Main() and now it's working!

[2018-06-11 05:42] tukzer opened #1679 "how to get filename of embedded resource of an dll(assembly"
# Issue Title

I'm working on a project where i'm trying to involve a plugin system on aspnetcore2.0 , i want to load views and controllers in seperated assemblies dynamically, thus, load static files in assembly using relative path.  I implemented a EmbeddedResourceFileProvider based on IFileProvider, but failed to load resource file names.

# General
I use code like below to find all the resourc

[2018-06-11 07:04] MarcoRossignoli commented on #1677
If I'm not mistaken if you create an issue you can close it by yourself with "Close issue" button
![closeissue](https://user-images.githubusercontent.com/7894084/41216869-58559fdc-6d56-11e8-941c-e63ebff85b5e.png)
.

[2018-06-11 07:51] #1677 closed

[2018-06-11 08:35] SjoerdWesterhof commented on #1598
It could be that it is not .NET Core that is not properly named, but some other components that use the Core name.

For me choosing a .NET Core project template for a console app and then be able to target net471 or something is just not intuitive any more. I guess it's the project file and build tooling that is Core about it, but the name is not giving intention.

Running ASP.NET of EF Core on ne

[2018-06-11 08:47] ds-ms opened #1680 "Release versions not consistent between CSV and JSON"
I'm a contributor of  `Microsoft/vsts-tasks` repository. We have a `Dotnet Core Installer` task to aid the users to install a specific version of dotnet Runtime/SDK. For helping the user to figure out the versions, we added https://github.com/dotnet/core/blob/master/release-notes/releases.csv to our help text.

We are facing some issues, because of some mismatches in the .csv file. Here's a GitHub

[2018-06-11 09:33] sabiland opened #1681 "ASP.NET Core 2.1, quite random 404 - NotFound ?"
# After updating to ASP.NET Core 2.1, random 404 - NotFound

## **EDIT: It seems I did not properly upgrade to NET Core 2.1.**

After I upgraded our companies site to ASP.NET Core 2.1 (via VisualStudio Nuget update packages), we get some strange-random behaviour.
Sometimes (it seems quite randomly) the call to the route (**it doesn't matter which route, it happens on all of them** returns 404 - No

[2018-06-11 09:49] ds-ms commented on #1680
![image](https://user-images.githubusercontent.com/25762922/41224663-a55b6bde-6d8a-11e8-9942-60526c8ae202.png)
Also, there's a space in a couple of URLs which doesn't allow us to consume this value straight way i.e. leads to a 400 error. Could you do a sanity check on the values in this CSV?

[2018-06-11 10:37] markusschaber commented on #1678
In my experience, the main reason for this exception is when you try to load a 32-bit DLL into a 64 Bit process, or the other way round.

Mismatch between x86/ARM could also be.

Note that sometimes, .NET core on Windows runs in an unexpected CPU architecture, as some tools (e. G. Visual Studio, xUnit etc.) tend to ignore the target CPU architecture defined in the project, and just run the code in

[2018-06-11 10:53] dasMulli commented on #1678
for `dotnet` it will use the version of `dotnet.exe` that's in the path - either the 32bit or 64bit `dotnet.exe` host.
There will be some changes that will allow patching the csproj to allow `dotnet run` to switch architectures (when launching a sub-process) but until then, it's a bit of a pain - https://github.com/dotnet/sdk/issues/1905

[2018-06-11 12:49] danmosemsft commented on #1598
@richlander thoughts?

[2018-06-11 14:02] SharperC commented on #1678
@markusschaber I know that you mean, but i tried both using a 32bit and a 64bit for c++ and dotnet, and yes a already noticed that dotnet tends to totaly ignore if you set the assembly in vs to 32 bit

[2018-06-11 16:16] cculver opened #1682 "$(PROJECTDIR) Set Incorrectly in .NET Core Projects"
I began investigating problems with EF migrations which led me down a diagnostic path that eventually led to me discovering that PROJECTDIR is not set correctly on any .net core projects. Entity Framework depends on PROJECTDIR to resolve its depsfile, so this seems to be breaking some things. I'm not sure if this is specific to my machine, but I have reproduced it across different .NET core projec

[2018-06-11 19:27] leecow commented on #1682
@livarcocc

[2018-06-11 19:27] leecow commented on #1681
@natemcmaster @muratg

[2018-06-11 19:28] leecow commented on #1680
@preetikr

[2018-06-11 19:29] leecow commented on #1679
@natemcmaster @danmosemsft

[2018-06-11 19:44] natemcmaster commented on #1681
@sabiland can you produce more detailed logging? There isn't enough information here for us to identify the issue.

You can elevate the logging level to "Debug" by changing your appsettings.Production.json file.

[code]

You will also need to configure IIS to put these logs somewhere writable. See https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/aspnet-core-module?view=aspnetcore-2.1#l

[2018-06-11 19:47] danmosemsft commented on #1679
Issue moved to [dotnet/corefx #30287](https://github.com/dotnet/corefx/issues/30287) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-11 19:47] #1679 closed

[2018-06-11 19:49] natemcmaster commented on #1679
This is a known limitation for ASP.NET Core 2.0 and older. In ASP.NET Core 2.1, @javiercn wrote a new file provider which will better map embedded resources back to file names. [`Microsoft.Extensions.FileProviders.ManifestEmbeddedFileProvider`.](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.fileproviders.manifestembeddedfileprovider?view=aspnetcore-2.1)

cc @javiercn - do we hav

[2018-06-11 19:54] javiercn commented on #1679
@natemcmaster I'm not sure if this is covered as part of the razor in class libraries topic.

[2018-06-11 20:00] natemcmaster commented on #1679
Ok, let's use https://github.com/aspnet/Docs/issues/6988 to get this feature document.

[2018-06-11 20:06] danmosemsft commented on #1679
Should this remain closed then (and the corefx one)?

[2018-06-11 20:15] natemcmaster commented on #1679
Yes, I don't think this is an actual issue for corefx. IIUC the problem @tukzer is asking about is how to map from embedded resource name back to the original file path that produced this resource. This is not possible using vanilla .NET runtime and SDK bits. You have to capture this mapping at compile time, which is what @javiercn implemented in the new ManifestEmbeddedFileProvider API.

[2018-06-11 20:30] cculver opened #1683 "Visual Studio support for Gitlab Registry"
I've been toying around with using an onsite Gitlab instance to host a registry for Docker images for .NET Core 2.1 projects, but I'm having great difficulty using the publish feature in Visual Studio 15.7.3. It seems the publish feature has been designed to work with only two registries: Azure and Docker Hub, despite the "Custom" selection. It could certainly be that I'm not doing this right, or

[2018-06-11 21:08] livarcocc commented on #1682
Adding @bricelam to comment on the EF issue.

Adding @Pilchie to comment on the ProjectDir issue. I don't believe the SDK sets it.

[2018-06-11 21:23] pereiraarun opened #1684 "Setting Authorization header on an HttpClient instance does not work in .NET Core 2.1"
Testing on .NET Core 2.1 (by setting Target Framework 2.1), the following code results in a 403 Forbidden since the header is not set correctly.
Header is set using the following method:

    client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Token", "9ac..b87b20");
    var result = client.GetStringAsync("/api/ipam/prefixes/").Result;

Moving back to .NET Core 2.0 (by sett

[2018-06-11 22:25] brockallen commented on #1684
Are you sure the scheme is correct? Normally it should be "Bearer" (not "Token") if you're doing an OAuth2 style client.

[2018-06-11 22:47] bricelam commented on #1682
EF Core has used `$(ProjectDir)` since the beginning. This is the first issue I've seen reported on it.

[2018-06-12 00:39] cculver commented on #1682
Anyone know where I can find code that sets $(ProjectDir) or is that closed source? Might be worth trying to chase on my machine in case it's me.

[2018-06-12 03:36] HP-dufeng opened #1685 "asp.net core 2.1 System.Net.Sockets.SocketException"
#System.Net.Sockets.SocketException

I use visual studio 2017 create a asp.net core 2.1 site use empty template, then start with debug, Occasionally the following errors:
[code]

[2018-06-12 04:38] Sauedy commented on #1675
Thank you!

[2018-06-12 04:39] Sauedy commented on #1675
Worked for me, thank you!

[2018-06-12 05:03] CrystalWindSnake opened #1686 "Dotnet Core 2.1 Run error in centos 7"
# Dotnet Core 2.1 run error in centos 7
Dotnet core console program build in **Window10** didn't work on the **Centos**. But If i use the command line to compile in the **CentOS** system, it can run normally.

## Exception
Exception is:
[code]

## Configure
 vs2017 publish  configure is:
[code]

I also tried to use  centos-x64 and centos.7-x64 in RuntimeIdentifier.but still can't work.

Thanks All

[2018-06-12 09:02] iga1976 opened #1687 "SUSE dotnet 2.0.3 Description: Infinite recursion during resource lookup within System.Private.CoreLib."
SUSE dotnet 2.0.3 Description: Infinite recursion during resource lookup within System.Private.CoreLib. This may be a bug in System.Private.CoreLib, or potentially in certain extensibility points such as assembly resolve events or CultureInfo names. Resource name: ArgumentNull_Generic
https://github.com/dotnet/corefx/issues/30208

[2018-06-12 13:27] cculver commented on #1682
I found another reference to this problem on SO. https://stackoverflow.com/questions/43656260/projectdir-prebuild-event-macro-incorrect/43656609
This contains a workaround (https://github.com/dotnet/project-system/issues/1569#issuecomment-289939906). Do you suggest I go this route for EF .NET Core-based projects until this is remedied?

[2018-06-12 17:53] kmanev073 opened #1688 ".NET Core 2.1 RSA Disposal and JWT"
# Unable To Dispose RSA Key before JWT creation.
# General
Hi guys!
Today I updated my project to .NET Core 2.1 and I ran into some issues which I think should be fixed. Basically I have an API that generates JWT tokens igned with RSA. That **was** my code:
[code]
Basically, created my RSAs in usings statements, used them and they were auto disposed. Now after upgrading to 2.1 this code was broken

[2018-06-12 17:59] dasMulli commented on #1682
@cculver are you using `dotnet ef` tooling that runs into errors or are you trying to invoke `dotnet ef` commands from pre/post-build events?

VS 2017 15.3 changed the project system to make MSBuild targets instead of changing the legacy build event properties.

Can you share a project that reproduces the error? Or just a binary log (`dotnet build -bl`, then (zip for GitHub) and upload the msbuild

[2018-06-12 18:01] dasMulli commented on #1682
About the source code: https://github.com/Microsoft/msbuild/blob/4972ebc6d2b81c5e967cd3260943a95c8e5eb4be/src/Tasks/Microsoft.Common.CurrentVersion.targets#L291

[2018-06-12 18:18] bartonjs commented on #1688
Seems like it would be due to a change in JwtSecurityTokenHandler.  Nothing in corefx changed how disposability worked.

So, probably https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/?  (I don't know if we can move items from here to there)

[2018-06-12 19:09] kmanev073 commented on #1688
Should I close the issue and post it there?

[2018-06-12 22:42] pereiraarun commented on #1684
The code works as posted in .Net Core 2.0. The code is used for https://netbox.readthedocs.io/en/latest/api/authentication/

`  $ curl -H "Authorization: Token d2f763479f703d80de0ec15254237bc651f9cdc0" -H "Accept: application/json; indent=4" http://localhost/api/dcim/sites/`
` {`
`     "count": 10,`
`     "next": null,`
`     "previous": null,`
`     "results": [...]`
  `}`

[2018-06-13 02:04] cculver commented on #1682
@dasMulli, I believe that I may have confused the explanation of my problem (that EF is unable to locate a depsfile) by providing an example that demonstrates the issue easier than providing debug files (the macro part). I am including an image of this macro part just to put an end to the question of what I'm seeing here, but please know that I am not trying to actually use the pre-/post-build mac

[2018-06-13 02:10] Petermarcu commented on #1688
That's probably the best option. I'm going to close this here and let you open the new one there.

[2018-06-13 02:10] #1688 closed

[2018-06-13 02:13] Petermarcu commented on #1686
Have you tried building on centos to see if you get different behavior? Trying to narrow down where the problem may be.

[2018-06-13 02:42] #1682 closed

[2018-06-13 02:44] cculver commented on #1682
I think I resolved the issue and it was machine-specific. There's no problem here. I will reopen if it reoccurs. Thanks for your time.

[2018-06-13 03:12] Petermarcu commented on #1687
Issue moved to [dotnet/coreclr #18446](https://github.com/dotnet/coreclr/issues/18446) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-13 03:14] #1685 closed

[2018-06-13 03:14] Petermarcu commented on #1685
Issue moved to [dotnet/corefx #30348](https://github.com/dotnet/corefx/issues/30348) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-13 03:14] Petermarcu commented on #1684
Issue moved to [dotnet/corefx #30349](https://github.com/dotnet/corefx/issues/30349) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-13 03:14] #1684 closed

[2018-06-13 03:16] Petermarcu commented on #1678
Issue moved to [dotnet/coreclr #18447](https://github.com/dotnet/coreclr/issues/18447) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-13 03:16] #1678 closed

[2018-06-13 03:16] #1674 closed

[2018-06-13 03:16] Petermarcu commented on #1674
Issue moved to [dotnet/cli #9476](https://github.com/dotnet/cli/issues/9476) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-13 03:19] Petermarcu commented on #1622
Issue moved to [dotnet/coreclr #18448](https://github.com/dotnet/coreclr/issues/18448) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-13 03:19] #1622 closed

[2018-06-13 03:27] Petermarcu commented on #1598
I think there are very rational arguments here for what we might have done in hindsight but rebranding at this point is not likely to happen.

[2018-06-13 03:30] Petermarcu commented on #1669
I'd also just remove the 1.0 preview from your machine and delete your global.json unless you have a strong reason for it.

[2018-06-13 03:32] Petermarcu commented on #1668
@leecow should we move this to the nuget repo to track it to start?

[2018-06-13 03:39] #1665 closed

[2018-06-13 03:39] Petermarcu commented on #1665
Issue moved to [dotnet/core-setup #4228](https://github.com/dotnet/core-setup/issues/4228) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-13 03:42] Petermarcu commented on #1598
@DamianEdwards

[2018-06-13 03:44] Petermarcu commented on #1577
@jaredpar

[2018-06-13 03:45] #1572 closed

[2018-06-13 03:45] Petermarcu commented on #1572
Issue moved to [dotnet/coreclr #18449](https://github.com/dotnet/coreclr/issues/18449) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-13 03:46] Petermarcu commented on #1593
Let us know if @dasMulli 's advice doesn't solve your problem.  Closing for now.

[2018-06-13 03:46] #1593 closed

[2018-06-13 04:00] edwardsky commented on #1676
Yes. This bug regularly, but i don't know how get more details. VS 2017 debbuger cant see exceprion becose my corefx console app closed! I have error in application log event on Windows. And as you see this error with dotnet.exe and ntdll.dll. May be you can help me correct my c# code, and error will be fixed.
1. My core app is WebServer on TcpListner
2. I use SslStream with AuthAsServer option an

[2018-06-13 04:10] edwardsky commented on #1676
In general, this mistake made me very sad. Since I did not have time to start writing my code, I already got a full stop of the code. Of course, you can make a script that will check whether dotnet mycode.dll has stopped and start the service again. This is very sad. The databases will not be closed as needed, and the reception from other clients will cease. I even thought about throwing C # and s

[2018-06-13 04:14] edwardsky commented on #1676
You need to use NTdll more gently, so as not to crash the main start of the program dotnet.ehe. As after such a serious flight I can generally rely on your coolest cross platform environment. If it can be put so quickly on the shoulder blades. Although I did not write anything loadable yet

[2018-06-13 07:51] sabiland commented on #1681
Ok I have found the issue - the problem was with my csproj settings.

After I removed **all** Microsoft.* PackageReferences and added only this one:

`<PackageReference Include="Microsoft.AspNetCore.App" />`

Everything started working as expected! :)

[2018-06-13 12:21] CrystalWindSnake commented on #1686
@Petermarcu Thank you for follow up my question。
I tried the following operation today。
1，Create a console program using commands，and it work on windows.
[code]

2,Copy the debug folder directly to the centos system，and cd to debug folder and run using commands
[code]

3,The following error message appears
[code]

According to my understanding, he should be able to work。This problem bothers me for

[2018-06-13 13:16] iga1976 commented on #1687
Peter, let me know if i can collect some trace and some core dump files.
Are the core dumps useful in this case? SLES 12 SP2 x86_64

[2018-06-13 13:32] PSUPing opened #1689 "Alpine Linux Docker error when running .NET 2.1 - Error relocating /app/app-name/libcoreclr.so: gCurrentThreadInfo: symbol not found"
# Issue Title

Alpine Linux Docker error when running .NET Core 2.1 - Error relocating /app/app-name/libcoreclr.so: gCurrentThreadInfo: symbol not found

# General

I created a Dockerfile to build and run a .NET Core 2.1 project using the new Alpine Linux images. When trying to run I get the following error:

[code]

Below is my csproj file

[code]

Below is the Dockerfile I'm using to build and r

[2018-06-13 14:15] natemcmaster commented on #1681
Glad you found a fix.

[2018-06-13 14:15] #1681 closed

[2018-06-13 14:45] pablocastillaquintas opened #1690 "Local to UTC conversion fails when adding hours"
.NETCore 2.1
Windows 10
Local: UTC+1 Madrid / Spain.

@Javi-Molina and I have been playing with local to utc stuff today. The thing is that we see a bug in local to utc conversion. The day when the offset changes it doesn't behave as expected. For example:
Adding one hour to  "2017-10-29T01:00:00+02:00" takes you in local to "2017-10-29T02:00:00+01:00" which is wrong, it should go to  "2017-10-29T

[2018-06-13 15:32] Petermarcu commented on #1686
It looks like the problem is that you aren't publishing the application. The exception is a little misleading so this may not be it. Try 'dotnet publish' and using the contents of the publish folder on the other machine. If you have OS specific dependencies, you will need to 'dotnet publish -r linux-x64'.

[2018-06-13 15:35] Petermarcu commented on #1687
Let's use the issue I created in the coreclr repo to dig deeper. Yes, getting a dump when the problem occurs would be helpful or a sample that repros the problem.

[2018-06-13 15:43] Petermarcu commented on #1689
Here is my first guess. You are publishing the application as self-contained but trying to launch it on a shared framework. What happens if your final command is just to launch the executable itself and not try to launch it through the dotnet shared host?

[2018-06-13 15:50] Petermarcu commented on #1690
Issue moved to [dotnet/corefx #30357](https://github.com/dotnet/corefx/issues/30357) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-13 15:50] #1690 closed

[2018-06-13 16:02] Petermarcu commented on #1680
I made a PR that should address what you found. Feel free to submit PR's for things like this. Especially the spaces problem is probably faster for everyone if you just submit a PR :) Thanks for reporting this.

[2018-06-13 16:58] PSUPing commented on #1689
I looked through the build settings in VS and have a compile target of "Executable" and checked the "Do not reference mscorlib.dll". When doing `dotnet publish` in my Dockerfile i'm purposely avoiding the `--self-contained` flag. The app is an ASP.NET application (microservice). However, this error seemed to be with the dotnet CLR rather than something having to do with ASP.NET which is why I post

[2018-06-13 17:07] leecow commented on #1669
Closing this as it's gone quiet. Please re-open if you're still having issues.

[2018-06-13 17:07] #1669 closed

[2018-06-13 18:01] PSUPing commented on #1689
I didn't realize that about `-r`. I've tried a couple different variants now.

Using the following two publish commands: `dotnet publish -c Release -r linux-x64 --self-contained=false -o out` or `dotnet publish -c Release -o out` I get the following error when running `dotnet app-name.dll`:

[code]

I tried changing the publish command to `dotnet publish -c Release -r linux-x64 -o out`. I also cha

[2018-06-13 18:06] PSUPing commented on #1689
Just hit me when I posted the last comment I need to use the aspnetcore image. Closing as this was not a real thing.

[2018-06-13 18:06] #1689 closed

[2018-06-13 20:54] HenryDeveloper opened #1692 "[Error] DotNet Core 2.1 The given key was not present in the dictionary."
KeyNotFoundException: The given key was not present in the dictionary.

Hi everyone,

I have a problem when upgrade from netcore 2.0 to 2.1.

I have a webproject (not NetCore) but it use libraries of AspNet Core, so when i try to start the project all good but when the iServiceCollection call the function AddMvc() i am getting the keynotfoundexception and this just happen when i installed of new v

[2018-06-13 21:01] Petermarcu commented on #1667
Issue moved to [dotnet/core-setup #4230](https://github.com/dotnet/core-setup/issues/4230) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-13 21:01] #1667 closed

[2018-06-13 22:20] samconn commented on #897
Confirming the 3rd option that @gregg-miskelly recommends ...

I was having trouble stepping into the Identity UserManager.GetUserAsync() method. I nuked my local symbols as described by @vancem, restarted VS17 and compiled the project (this may not be required), and then created a new breakpoint by simply entering the name "GetUserAsync" (no quotes).

When I ran the project it took ***forever***

[2018-06-14 03:49] ds-ms commented on #1680
Appreciate the fix, will raise it myself from next time :)
Also, what is the expected source of truth here? Do you want the customers to rely on Releases.JSON or Releases.CSV for figuring out the new versions?

[2018-06-14 13:04] allistoncarlos commented on #1593
I'm having the same problem, with one difference... I just created my app on macOS and it works fine with Docker. Then I cloned the code on a production server running Debian, docker-compose up and then this error occurs... Maybe there's a problem involving Linux's filesystem and Release mode?

[2018-06-14 13:45] LeonidasFettikus opened #1693 ""Unable to resolve service for type" error when injecting IHostedService in another IHostedService"
Hi guys,

I am trying to inject an instance of `IHostedService `into another `IHostedService `but I always get the above error when Run() is called in my Program.cs.

Basically, I have two services:

[code]

[code]

HostedService implements IHostedService:

[code]

This is how I inject these services in my Startup.cs class:

[code]

However, every time I run the application, I get an error that Ca

[2018-06-14 16:00] Petermarcu commented on #1693
@muratg can you move this to the ASP.NET repo?

[2018-06-14 16:01] Petermarcu commented on #1692
@muratg can you move this to the ASP.NET repo?

[2018-06-14 16:02] Petermarcu commented on #1686
were you able to try a published application?

[2018-06-14 16:04] Petermarcu commented on #1683
@mlorbetske what is the best place for this issue to go to get tracked?

[2018-06-14 16:05] Petermarcu commented on #1680
@leecow I assume you intend these files to be the source of truth?

[2018-06-14 16:09] Petermarcu commented on #1676
@muratg can you have someone help take a look?

[2018-06-14 16:10] Petermarcu commented on #1672
@muratg can you move this to ASP.NET's repo for the conversation?

[2018-06-14 16:15] leecow commented on #1680
The json should be considered the source of truth.

[2018-06-14 16:15] #1680 closed

[2018-06-14 16:32] #1672 closed

[2018-06-14 16:32] muratg commented on #1672
https://github.com/aspnet/Home/issues/3226

[2018-06-14 16:37] muratg commented on #1676
@edwardsky could you please share your repro code on a GitHub repo?

Also, what do you mean by "WebServer on TcpListener"? Are you using Kestrel?

[2018-06-14 16:38] muratg commented on #1692
@mkartakmsft can you take a look please?

[2018-06-14 16:41] muratg commented on #1693
@LeonidasFettikus could you please raise your question on StackOverflow? Or if you think there's an issue, please file a bug report on https://github.com/aspnet/home/ Thanks.

[2018-06-14 16:43] mlorbetske commented on #1683
This issue was moved to aspnet/websdk#365

[2018-06-14 16:43] #1683 closed

[2018-06-14 16:48] edwardsky commented on #1676
@muratg No, i wrote it itself by using TcpListener class and SslStream on TcpClient  iin ThreadPool.QueueUserWorkItem. I cant share my code. Becouse it is not open source. But i can send  sources in your email.

[2018-06-14 16:51] Petermarcu commented on #1676
@karelz

[2018-06-14 16:57] muratg commented on #1676
@edwardsky Can you create a simple app that reproduces the problem and share it on GitHub then? That way more people can take a look to understand what the issue may be.

[2018-06-14 17:09] karelz commented on #1676
Agreed, I think we need an isolated minimal repro to make heads and tails of it.
Alternatively, you can collect a dump (either OS settings, or by running it under windbg) and check the callstack there (VS is capable of opening dumps). There is a small chance it could help to point out the problem, but a minimal repro might be needed anyway.

[2018-06-14 17:29] jagindia opened #1694 ".net core 2.0 angular default app IIS deploy to server failing with 502.3 error"
I am using Visual studio 2017  default angular app.
I have also installed DotNetCore.2.0.8-WindowsHosting.exe on local machine as well as remote server.

Information at https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/?view=aspnetcore-2.1&tabs=aspnetcore2x is really not clear enough for beginners. Am I supposed to change BuildWebHost methos?

My BuildWebhost code  -

`  public stat

[2018-06-14 17:39] edwardsky commented on #1676
@muratg Ok! I make new clean project may be this happens again, but not sure if it get an error again)

[2018-06-14 17:56] edwardsky commented on #1676
@muratg @karelz I again repeated the application's bug in the new project, check my project that there might crash the program. This repo https://github.com/edwardsky/dotnetntdllbug.
my os is https://yadi.sk/i/ugKl7roj3XtNuJ

[2018-06-14 17:58] leecow commented on #1655
@joeloff - can you confirm the work on your side is done? If so, I'll close this issue.

[2018-06-14 18:06] edwardsky commented on #1676
@karelz i dont use tool windbg and cant get stack trace( What i need to do step by step, or maybe some instruction for how i can record this information

[2018-06-14 18:10] joeloff commented on #1655
We haven't done this yet. We have a setup meeting later today to discuss

[2018-06-14 18:21] muratg commented on #1676
@edwardsky

I think this is your problem:

[code]

You're trying to create an infinite number of WaitCallbacks.

@karelz may talk about the right pattern to use here instead.

[2018-06-14 18:29] edwardsky commented on #1676
@muratg I will be very happy if the desired pattern solves my problem. But why is it just closing? Why there is no exception that can be processed and continue working? Okay, I nakosyachil but how do I continue to catch my bugs?

[2018-06-14 21:22] Brian-Perkins commented on #1561
This should be resolved in Insider Build [17692](https://blogs.windows.com/windowsexperience/2018/06/14/announcing-windows-10-insider-preview-build-17692) - WSL specific release notes [here](https://github.com/MicrosoftDocs/WSL/releases/tag/17692) if you are on the Insider track. There is no fix yet for the RS4 release -- I will update when that changes.

[2018-06-14 21:33] snickler commented on #1561
I know what I'm trying out when I get home tonight. Thanks for digging into this. I'll let you know if I happen to run into anything.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Brian-Perkins <notifications@github.com>
Sent: Thursday, June 14, 2018 5:23:33 PM
To: dotnet/core
Cc: Jeremy Sinclair; Author
Subject: Re: [dotnet/core] Illegal Instruction when

[2018-06-14 22:49] joeloff commented on #1655
@muratg and I chatted. We're going to get this in the next patch for 2.1 and 2.2 will have the fix as well.

[2018-06-15 04:06] ddrsql commented on #1553
I also encountered the same problem.
Four dotnet servers do the load, and the CPU usage is high at the same time.
Then adjust the two services to do a regular restart dotnet, the other two services did not do a regular restart and other phenomena to reproduce.

[code]
![top](https://user-images.githubusercontent.com/29722085/41449088-93dcb8a4-7091-11e8-9042-9f2a09ea4c00.png)

[code]
![height](http

[2018-06-15 08:41] LeonidasFettikus commented on #1693
@muratg ok will do.

[2018-06-15 11:51] CrystalWindSnake commented on #1686
@Petermarcu So sad,it don't work.I have a question about the release and published.My program is just a very simple “Hello World” Console,Why did it have to published?

[2018-06-15 12:20] CrystalWindSnake commented on #1686
@Petermarcu  I create a new project on windows use the 'dotnet new console' this time.and published use 'dotnet publish -r linux-x64 --self-contained=false'.and then i copy to the 'microsoft/dotnet' docker's image and 'dotnet xxx.dll' run it.but it still the same problem.is that my windows system problem?
 thank you and have a nice weekend

[2018-06-16 08:07] TheProxyRE opened #1695 "DotNet Core 2.0 Thread.Start issue"
# Issue Title

Single thread instance cannot be executed twice

# General

Ok so issue here is that single thread instance cannot be executed twice even if first execution was completed (This works fine in Framework)

And when i was trying to debug Execute method doesn't execute at second .Start();

Here is example code:
[code]

[2018-06-16 08:43] RyanFarrah opened #1696 "SSL connection could not be etablished"
### System
OS : Ubuntu 16.04 x86_64
.Net Core : 2.1.3

### Problem

I meet an error that says

### Details

It occurs several times and in mulitple context in my project.

I follow this tutorial : https://docs.microsoft.com/fr-fr/dotnet/csharp/tutorials/console-webapiclient.

It occurs when i tried to put
`   <ItemGroup>
      <PackageReference Include="System.Runtime.Serialization.Json" Version="

[2018-06-16 08:43] mikedn commented on #1695
This doesn't work in the .NET Framework either. It's also stated in the [documentation](https://msdn.microsoft.com/en-us/library/6x4c42hc(v=vs.110).aspx):

[2018-06-17 08:48] eguzelkucuk commented on #1590
We did it the same way, but it does not work in .net core 2.1

[2018-06-17 19:23] khoshroomahdi opened #1697 "Add PrintControler for UWP"
# Issue Title

Be as descriptive as you can with your title.

# General

Provide details on the problem you are experiencing including the .NET Core version, operating system version and anything else that is relevant.

Please provide a code sample for your issue if it is relevant, either inline, link to a gist (or similar) or add it as a zipped attachment.

For some issues, you will get a quicker

[2018-06-17 19:23] khoshroomahdi opened #1698 "Add DisplyMode property to set for NavigationViwe"
# Issue Title

Be as descriptive as you can with your title.

# General

Provide details on the problem you are experiencing including the .NET Core version, operating system version and anything else that is relevant.

Please provide a code sample for your issue if it is relevant, either inline, link to a gist (or similar) or add it as a zipped attachment.

For some issues, you will get a quicker

[2018-06-17 21:13] sguryev commented on #1594
I had the same issue and had to update NODE and NPM and use standalone instead of bundled with VS2017.

This URL can help you with understanding the NPM and NODE kitchen for WIN https://github.com/npm/npm/wiki/Troubleshooting

[2018-06-18 00:59] DoubleCouponDay opened #1699 "sqlconnection is not available in .net core 2.1"
![image](https://user-images.githubusercontent.com/7555725/41513984-78cd40ae-72e6-11e8-962f-b7f612fc0a17.png)

![image](https://user-images.githubusercontent.com/7555725/41513987-807a22b8-72e6-11e8-980f-77c56a6fcc5c.png)

It is also missing when using the `system.data.sqlclient` namespace from nuget.
why is this?

[2018-06-18 01:14] justinmchase commented on #43
I just want to point out that Microsoft just acquired Electron through
their purchase of GitHub. So now they do have an xplat ui system. I predict
we'll see that grow in importance.

On Sun, Jun 17, 2018, 12:26 PM Dave Jellison <notifications@github.com>
wrote:

[2018-06-18 01:28] mwpowellhtx commented on #43
@justinmchase The acquisition isn't done yet; they have through the end of the year for all their ducks to fall in a row, or something like that.

[2018-06-18 01:52] svick commented on #1699
When I add a reference to the System.Data.SqlClient package, `SqlConnection` compiles for me on both .Net Core 2.0 and 2.1. Do you have an example (including .csproj) where it doesn't?

If the issue is only in the documentation, the it should be reported at [the dotnet/docs repo](https://github.com/dotnet/docs).

[2018-06-18 07:29] dasMulli commented on #1655
The windows hosting bundle installer for 2.1.1 at https://github.com/dotnet/versions/tree/7a833dddfddc27f2074b755b94234a25b9757637/build-info/dotnet/product/cli/release/2.1 installs the 2.1.1 asp.net core shared frameworks side-by-side with 2.1.0.
So it appears the ref counting behavior only affected moving from rc to rtm.

[2018-06-18 08:22] ashemedai opened #1700 "DotNetCore WindowsHosting URLs give 404s for 1.1.7 and 2.0.6"
I hope I got the correct repository to file this.

We run automated OS builds that use the WindowsHosting.exe files to install the appropriate .NET Core runtimes.

This morning we noticed that our builds were failing. `DotNetCore.1.0.10_1.1.7-WindowsHosting.exe` and `DotNetCore.2.0.6-1-WindowsHosting.exe` are available and get downloaded, but their pointed to URLs `https://dotnetcli.azureedge.net/

[2018-06-18 09:09] bishal-pdMSFT opened #1701 "Failing to download dotnet core packages from https://dotnetcli.azureedge.net/dotnet"
Getting 404 error while trying to download any dotnet SDK/runtime version. i.e. for runtime version 2.0.7 from https://dotnetcli.azureedge.net/dotnet/Runtime/2.0.7/dotnet-win-x64.2.0.7.zip, I get this error: Error: Unexpected HTTP response: **404**.

[2018-06-18 09:11] bishal-pdMSFT commented on #1701
Same error for https://dotnetcli.blob.core.windows.net/dotnet/Runtime/2.0.7/dotnet-runtime-2.0.7-win-x64.zip

[2018-06-18 09:30] periyasamyt opened #1702 "System.TypeLoadException: 'Could not load type 'System.Runtime.Remoting.Messaging.ILogicalThreadAffinative' from assembly 'mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089'.'"
I have created a web API project in .Net core. when I included some assemblies developed in .Net Framework 4.0, I am getting following error. Please help me with this.

System.TypeLoadException: 'Could not load type 'System.Runtime.Remoting.Messaging.ILogicalThreadAffinative' from assembly 'mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089'.'

[2018-06-18 10:16] ashemedai commented on #1701
See also #1700

[2018-06-18 10:18] ashemedai commented on #1700
See also dotnet/core-setup#4245

[2018-06-18 15:55] leecow commented on #1701
Something happed with the azure account which has been corrected. Should be good to go now.

[2018-06-18 15:55] #1701 closed

[2018-06-18 15:55] leecow commented on #1700
Something happed with the azure account which has been corrected. Should be good to go now.

[2018-06-18 15:55] #1700 closed

[2018-06-18 18:06] edwardsky commented on #1676
Good-bye guys. I turn to C ++ development and this solution is no longer necessary to me! Very much disappointed in dotnet. I do not see any further development of myself as a developer in C #.

[2018-06-18 18:06] #1676 closed

[2018-06-18 18:09] atotalnoob opened #1704 "Spaces in file path doesn't work"
# Issue Title

Spaces in file path doesn't work

# General
Dotnet version: 2.1.201
OS: Windows 10 build 17134.112
Using Visual Studio 2017 Enterprise version 15.7.1

Please provide a code sample for your issue if it is relevant, either inline, link to a gist (or similar) or add it as a zipped attachment.

Using System.IO.File.ReadAllText(), when loading a file path that has a space in it throws Sy

[2018-06-18 18:14] karelz commented on #1676
@edwardsky sorry to hear that.
I expect that you will soon notice that C++ requires exactly same knowledge (and even deeper) - you need to know how to get exceptions info (StackOverflow, corruptions, etc.) as I suggested above (i.e. windbg / other debugger knowledge).
I wish you good luck!

[2018-06-18 18:33] edwardsky commented on #1676
@karelz I know that I need more knowledge, although it stopped me and started programming in C ++. But now I know for sure that this is my new path. Thank you for your wish. I wish you and your product luck and prosperity

[2018-06-18 18:35] #1704 closed

[2018-06-18 18:35] atotalnoob commented on #1704
TL;DR I'm dumb

[2018-06-18 21:39] gayan1991 opened #1706 "Is the table controller supported?"
In previoud .net core environments, azure mobile sync services were not supported and because of that table controllers were replaced by api controllers?

With the .net core 3.0 coming up, are table controller sync services supported with the new .net core standard?

[2018-06-19 07:19] mhsan1 commented on #1427
Does anybody find a fix for this? I am having the same error with Ubuntu 17.10 and dotnet-runtime-2.0.7

[2018-06-19 08:43] paulallington opened #1707 "Microsoft.Extensions.DependencyModel 2.1.1 is missing from nuget"
All other libraries I can see (am using) have upgraded to 2.1.1 in nuget, but Microsoft.Extensions.DependencyModel appears to not have happened, even though other libraries have dependencies on it.  Is there a timeline on this?

[2018-06-19 09:45] nicojs commented on #1689
Thanks @Petermarcu ! You're remark about `linux-musl-x64` saved my skin! I kept getting this error: `No such file or directory`. As in:

[code]

For anyone else facing this issue: build for `linux-musl-x64` instead of `linux-x64`

[2018-06-19 12:32] albertofustinoni opened #1708 "System.memory nuget package causing .net native fail"
I'm attempting to use the `System.Memory` nuget package for `Span<T>` support in my UWP app.
Unfortunately, while everything works in debug, compiling in release mode using the .net native toolchain fails with the following error message:

[code]

The project I'm working on is open source and available [here](https://github.com/Aftnet/RetriX).

[2018-06-19 17:00] panost commented on #1590
It appears that is no longer used and yet is registered in [AddRazorViewEngineServices](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Razor/DependencyInjection/MvcRazorMvcCoreBuilderExtensions.cs#L208) as a singleton. I suggest you open an issue in https://github.com/aspnet/Razor/issues or
https://github.com/aspnet/Mvc

[2018-06-19 18:00] DamianEdwards commented on #1707
Which packages are claiming a dependency on `Microsoft.Extensions.DependencyModel` 2.1.1?

[2018-06-19 22:33] WinthorpeCross opened #1711 "ModelBinding error with boolean values"
I have a potential problem with the ModelBinder in my ASP.NET Core  2.0 project.  I have the following 'Index' controller action:
[code]
The SortFilterIndexOptions are four parameters defined in the following class:

[code]
These enable the user to filter a paged index page using checkbox toggle buttons.

Everything works until I change 'ShowAll' bool member to TRUE and then try to navigate to a d

[2018-06-20 07:33] poteb commented on #1707
Could this be the reason, that my ASP.NET Core 2.1 API crashes if I update Microsoft.AspNetCore.All from 2.1.0 to 2.1.1? It doesn't even give me an error, the application never starts up, the debugger just stops. There is nothing in the event log.

[2018-06-20 07:45] garethrampton commented on #1707
@poteb Have you installed the 2.1.301 SDK/runtime?

It appears the 2.1.1 packages get released on nuget well in advance of the SDK/runtime required to actually use them becomes readily available!

[2018-06-20 08:26] poteb opened #1712 "ASP.NET Core 2.1 Web API wont start with Microsoft.AspNetCore.All 2.1.1"
ASP.NET Core 2.1 Web API wont start with Microsoft.AspNetCore.All 2.1.1

I'm debugging my Web API from VS 2017 (15.7.1) and it's working with Microsoft.AspNetCore.All 2.1.0.
But if I update Microsoft.AspNetCore.All to 2.1.1 it wont start up. It doesn't even give me an exception, the console window flashes briefly and then the debugger detaches. Downgrading to 2.1.0 fixes this. No help in Windows e

[2018-06-20 08:35] PoppyPham commented on #944
@tkggusraqk you save my day, the drawback of Microsoft is when we face common issue, many post on internet related to many version of .NET, products, and choose the right one suit with your problems is too hard.

[2018-06-20 09:46] kieronlanning commented on #1707
@DamianEdwards Is there a plan to release the SDK et al for 2.1.1 anytime soon?

Or maybe pull the 2.1.1 package from NuGet until those bites are released?

[2018-06-20 11:39] albertofustinoni commented on #1708
Tested a bit more, it seems it works if I set the minimum required UWP SDK to 16299.
Unfortunately as I'm targeting phones too I need to keep 15063 as the baseline.

[2018-06-20 12:56] TingluoHuang opened #1713 "Confusion on ARM support matrix"
# Title

There are several different docs about dotnet core around ARM support but they are conflict to each others.

# General

- The following link: https://docs.microsoft.com/en-us/dotnet/core/linux-prerequisites?tabs=netcore2x#supported-linux-versions shows `NET Core 2.1 is supported on the following Linux 64-bit (x86_64 or amd64) distributions/versions`, I guess the doc want to tells me dotne

[2018-06-20 14:57] DamianEdwards commented on #1707
Unfortunately the SDK download has got caught up in an issue getting it posted to the download center. We're working to resolve it. We don't have a mechanism for removing packages from NuGet so this is just an unfortunate situation right now.

Please note, for ASP.NET Core projects targeting `netcoreapp2.1` you **don't need to specify a version number for the Microsoft.AspNetCore.App package refer

[2018-06-20 15:22] kieronlanning commented on #1707
I guess the issue is that project, like libraries, don't reference that NuGet package. They'll reference the individual packages. And even if they did, because they don't havce the `Microsoft.NET.Sdk.Web` target, they'll still have the reference.

This is especially true of projects that have gone through an upgrade cycle of updating/ upgrading from .NET Core 1.x.

This obviously isn't a show-stop

[2018-06-20 16:01] DamianEdwards commented on #1707
Understood, and this is exactly why we made this change in 2.1, as folks have been suffering this issue in some form since 1.0. We're thinking about ways we can make it more obvious in a future update (perhaps emit a build warning if the version is present).

[2018-06-20 16:40] snickler commented on #1561
I will mark this issue as fixed, but I'm opening another issue that I've discovered while trying to use it.

[2018-06-20 16:40] #1561 closed

[2018-06-20 17:00] eopeter opened #1714 "IConfigurationBuilder Does not Contain .AddAzureKeyVault in 2.1"
.AddAzureKeyVault was working in dotnet core 2.0 but not recognized in 2.1. I am using Microsoft.Extention.Configuration

[code]

[2018-06-20 17:07] eopeter commented on #1711
Is it possible you have two ShowAll input name in your form?

[2018-06-20 19:03] SeanErvinson opened #1715 "Error MB2014 Microsoft.PackageDependencyResolution"
Having trouble building or running on the latest version of dotnet.

[code]
What I have done:
-Remove entire dotnet core
-Clean install of dotnet core on Ubuntu 18.04.
-dotnet new console
-both dotnet build and dotnet run resulted in this error

<a href="http://i.imgur.com/n1Vs4u5.png">
  <img src="http://imgur.com/n1Vs4u5l.png" />
</a>

- also tried with an ASP.Net Core app same result

[2018-06-20 20:01] WinthorpeCross commented on #1711
No, just one.  I have since refactored all the code but I have retrieved the original markup:

[code]

[2018-06-20 23:41] snickler opened #1717 "csc.dll code 139 error when building project on .NET Core 2.1.300 Ubuntu 18.04 ARM64 (WSL)"
# csc.dll code 139 error when building project on .NET Core 2.1.300 Ubuntu 18.04 ARM64 (WSL)

I created a new project using `dotnet new console` then attempted `dotnet build`, while using the .NET Core 2.1.300 SDK for Linux ARM64

## Binary Information:

Downloaded Ubuntu 18.04 from here https://www.microsoft.com/store/productId/9N9TNGVNDL3Q

Downloaded .NET Core 2.1 Linux ARM64 from https://downl

[2018-06-21 02:08] leecow commented on #1712
cc @muratg

[2018-06-21 02:12] leecow commented on #1712
Moving to ASPNET repo - https://github.com/aspnet/Home/issues/3245

[2018-06-21 02:12] #1712 closed

[2018-06-21 02:15] #1715 closed

[2018-06-21 02:15] leecow commented on #1715
Issue moved to [dotnet/cli #9526](https://github.com/dotnet/cli/issues/9526) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-21 02:18] leecow commented on #1698
Currently there's no UI stack in .NET Core. Lots of work in this area has been added to the roadmap for future releases.

[2018-06-21 02:18] #1698 closed

[2018-06-21 02:20] leecow commented on #1711
Issue moved to https://github.com/aspnet/Home/issues/3246

[2018-06-21 02:20] #1711 closed

[2018-06-21 02:28] leecow commented on #1694
Issue moved to https://github.com/aspnet/Home/issues/3248

[2018-06-21 02:28] #1694 closed

[2018-06-21 02:36] DamianEdwards commented on #1706
I think this is a question best asked of the Azure Mobile Services team. @paulbatum is that you these days?

[2018-06-21 02:37] leecow commented on #1713
The currently supported ARM targets are detailed in the [2.1-supported-os](https://github.com/dotnet/core/blob/master/release-notes/2.1/2.1-supported-os.md) document.  ARM32 on Debian and Ubuntu are the supported platforms at the moment.

We have begun building ARM64 runtime and SDK. These are in the experimental stages right now. The same is true for the Win ARM builds.

@richlander for additiona

[2018-06-21 02:38] #1699 closed

[2018-06-21 02:38] leecow commented on #1699
Issue moved to [dotnet/docs #6069](https://github.com/dotnet/docs/issues/6069) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-21 02:46] leecow commented on #1696
cc @muratg

If it's the same problem, there may be an issue with the SocketsHttpsHandler in that sample. Have a look at the workarounds detailed in https://blogs.msdn.microsoft.com/dotnet/2018/04/11/announcing-net-core-2-1-preview-2/.

[2018-06-21 02:58] leecow commented on #1668
Chasing another issue has lead me to a possible solution for this one ;-) Looks like this is related to the switch to SocketsHttpHandler (see the [2.1 Preview 2 blog post](https://blogs.msdn.microsoft.com/dotnet/2018/04/11/announcing-net-core-2-1-preview-2/)).

@tristan957 - I was able to get restore working on my Solus box by first running `export DOTNET_SYSTEM_NET_HTTP_USESOCKETSHTTPHANDLER=0`.

[2018-06-21 04:06] TingluoHuang commented on #1713
Should we update all docs to make them consist?

[2018-06-21 05:43] fontmaniac opened #1718 "BrotliStream crashes trying to decompress ~2000000 int32 array"
# Issue Title

BrotliStream in Decompress Mode crashes when trying to decompress large-ish array. We originally encountered the problem when working with binary data (~40Mb when compressed), here is a minimal example with just 2000000 int32 array of random values.
Exceptions thrown in this example vary between "Unable to read beyond the end of the stream." and "Decoder ran into invalid data.", dep

[2018-06-21 13:47] tristan957 commented on #1668
Interesting. Is there something special about Solus that I should bring up to my distro maintainers, or is this solely a `.NET Core` issue? Would I experience this issue on other distros?

[2018-06-21 19:40] leecow opened #1719 ".NET Core 2.1.1"
# .NET Core 2.1.1

[Release Notes](https://github.com/dotnet/core/blob/master/release-notes/2.1/2.1.1.md)
[Download 2.1.1](https://github.com/dotnet/core/blob/master/release-notes/download-archives/2.1.1-download.md)

Please report any issues you find with 2.1.1, either responding to this issue, creating a new issue or creating a new issue in one of the following repos:

* [aspnet/Home](https://gi

[2018-06-21 19:56] leecow commented on #1713
Where needed, yes.

* https://docs.microsoft.com/en-us/dotnet/core/linux-prerequisites?tabs=netcore2x#supported-linux-versions says nothing about ARM so needs to have current info added. @JRAlexander
* https://github.com/dotnet/core/blob/master/release-notes/2.1/2.1-supported-os.md#linux is current and correct?
* https://github.com/dotnet/core/blob/master/release-notes/2.1/2.1-supported-os.md#linu

[2018-06-21 19:58] leecow commented on #1668
I think it may have more to do with Ubuntu Core which is the root of the Snap environment where snaps really run. Still need to poke around a bit more.

[2018-06-21 20:11] TingluoHuang commented on #1713
I assume your are reference to  https://docs.microsoft.com/en-us/dotnet/core/rid-catalog#using-rids for `should be thought as as API documentation and is not a statement of support.`

[2018-06-21 20:22] kieronlanning commented on #1707
It looks like https://www.microsoft.com/net/download/ now has the latest bits available.

[2018-06-21 20:41] #1718 closed

[2018-06-21 20:41] Petermarcu commented on #1718
Issue moved to [dotnet/corefx #30584](https://github.com/dotnet/corefx/issues/30584) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-21 20:43] Petermarcu commented on #1714
@muratg should this get moved to an ASP.NET repo to track?

[2018-06-21 20:46] Petermarcu commented on #1707
With the release now completely uploaded and available, is this still an issue?

[2018-06-21 20:47] Petermarcu commented on #1708
@nattress do you have a place where .Net Native issues are tracked? We could move this to corefx.

[2018-06-21 21:00] kieronlanning commented on #1707
I guess that's for @paulallington as the issue owner...?

For me, the release has solved local build issues. Now it's down to build servers and App Services.

[2018-06-21 21:03] poteb commented on #1707
I can confirm, that the problem is solved after installing SDK 2.1.301.

[2018-06-21 22:54] Petermarcu commented on #1707
ok, I'm going to close this. We can reopen if issue still persist.

[2018-06-21 22:54] #1707 closed

[2018-06-21 22:56] tristan957 commented on #1668
No rush. If you need me to test things on my end, let me know

[2018-06-21 23:59] nattress commented on #1708
@Petermarcu Not on Github. corefx would probably be a good place for this question.

@albertofustinoni `Span<T>` support was only recently added for UWP apps. It is unfortunately not available pre-16299 so if you want to keep 15063, you'll be unable to use `Span<T>`. You'd have to roll forward to version 6.1.5 of the Microsoft.NETCore.UniversalWindowsPlatform package in your app project.

[2018-06-22 00:08] Petermarcu commented on #1708
Ok, I think that answers the question though. I'm going to close this issue here as the solution is to move to a newer version and we don't plan to bring it to older versions.

[2018-06-22 00:08] #1708 closed

[2018-06-22 00:35] albertofustinoni commented on #1708
@nattress This doesn’t make sense to me: System.Memory is .net standard 1.1 (check Nugget) and UWP pre Fall Creators Update supports up to 1.4.

How can it not be compatible, especially when UWP debug builds work perfectly and other netstandard 1.4 assemblies I have that reference it work fine too?

[2018-06-22 00:53] nattress commented on #1708
@albertofustinoni Unfortunately a feature like Span<T> is not just implemented in the library layer. It requires runtime support. In UWP debug mode, the CoreCLR runtime is used to run your app. It has Span support. When you deploy your app in release mode, the .NET Native ahead-of-time (AOT) compiler is used. This compiler had Span support added later than CoreCLR. As a result the newer version is

[2018-06-22 02:10] eman1986 commented on #1400
@QuAzI post was the ticket, they need to replace the instructions to that as that worked perfectly

[2018-06-22 02:38] leecow commented on #1614
Closing this issue now that 2.1.1 is released.

[2018-06-22 02:38] #1614 closed

[2018-06-22 07:27] thohng opened #1720 "Question: explicit runtime to 2.1.1 and got Microsoft.NETCore.Targets downgrade from 2.1.0 to 2.0.0"
Could someone provide advise that is it need to specify the runtime version to `2.1.1`
`<RuntimeFrameworkVersion>2.1.1</RuntimeFrameworkVersion>`

After we upgrade to AspNetCore App `2.1.1` from `2.1.0` everything look good.
`<PackageReference Include="Microsoft.AspNetCore.App" Version="2.1.1" />`

When I explicit specify runtime version `2.1.1`, and see the `Microsoft.NETCore.Targets` downgrade t

[2018-06-22 07:34] dasMulli commented on #1720
There shouldn't be any need to specify any runtime framework versions, or versions of the asp.net core shared framework.
When a patch update is installed on a server / machine that you run on, 2.1.1 will be used automatically. The tooling will choose appropriate NuGet package versions to use during the build. This may not need to be patch update versions since the app will use the newest patch ver

[2018-06-22 07:42] thohng commented on #1720
Thank you @dasMulli !

[2018-06-22 07:42] #1720 closed

[2018-06-22 09:22] albertofustinoni commented on #1708
@nattress Ok now that makes sense. Thank you for your explanation.
It’s just very saddening to see Windows 10 mobile die like this.

[2018-06-22 13:58] ViktorHofer commented on #1697
UWP feature suggestion should be filled at dev.windows.com. For this specific request there's already an item: https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/6185763-allow-direct-printing-without-modern-ui-print-dial

[2018-06-22 13:58] #1697 closed

[2018-06-22 14:49] leecow commented on #1696
@RyanFarrah - let me know if setting the environment variable resolves the error for you.

`export DOTNET_SYSTEM_NET_HTTP_USESOCKETSHTTPHANDLER=0`

[2018-06-22 14:58] leecow commented on #1695
Closing - thanks @mikedn !

[2018-06-22 14:58] #1695 closed

[2018-06-22 14:59] #1693 closed

[2018-06-22 14:59] #1668 closed

[2018-06-22 14:59] leecow commented on #1668
Issue moved to [dotnet/core-setup #4295](https://github.com/dotnet/core-setup/issues/4295) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-22 15:02] leecow commented on #1590
Tracked by https://github.com/aspnet/Razor/issues/2422

[2018-06-22 15:02] #1590 closed

[2018-06-22 15:06] leecow commented on #1713
Yes, sorry about that!

[2018-06-22 15:07] leecow commented on #1655
@joeloff - is there a github issue we can reference then close this one?

[2018-06-22 15:08] leecow commented on #1548
Closing as this hasn't popped up anywhere else.

[2018-06-22 15:08] #1548 closed

[2018-06-22 15:23] leecow commented on #1554
Implementing support for a given OS version, no matter the vendor, has a number of associated costs. Those costs are considered alongside customer feedback and other data that point to where customers either are, or will be soon. The line has has to be drawn somewhere and it was generally decided to begin with what was in active support by the various OS owners (Apple, Linuxes and Windows) at the

[2018-06-22 15:23] #1554 closed

[2018-06-22 15:34] leecow commented on #1555
Closing as the conversation has gone quiet. Please re-open if there are still issues. The latest (as of this post) 2.0 Hosting installer can be downloaded from https://www.microsoft.com/net/download/dotnet-core/runtime-2.0.8

[2018-06-22 15:34] #1555 closed

[2018-06-22 15:37] leecow commented on #1553
@rainersigwald , @AndyGerlicher - does this look related to https://github.com/Microsoft/msbuild/pull/2384?

[2018-06-22 15:41] leecow commented on #1235
Closing as it looks like the conversation was continued with the Azure folks.

[2018-06-22 15:41] #1235 closed

[2018-06-22 15:42] #1190 closed

[2018-06-22 15:42] leecow commented on #1190
Issue moved to [dotnet/core-setup #4296](https://github.com/dotnet/core-setup/issues/4296) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-22 15:46] leecow commented on #1403
Lots of updates to https://www.microsoft.com/net/download which included making the server hosting bundles more discoverable.

[2018-06-22 15:46] #1403 closed

[2018-06-22 15:47] leecow commented on #1422
Closing as 2.1 GA (and 2.1.1) has released.

[2018-06-22 15:47] #1422 closed

[2018-06-22 15:49] leecow commented on #1341
Closing as subsequent updates have been released.

[2018-06-22 15:49] #1341 closed

[2018-06-22 15:50] #1387 closed

[2018-06-22 15:53] leecow commented on #1060
Lots of performance work went into 2.1 and we're not resting on our laurels. Closing this conversation as it has gone quiet. Definitely open another if needed.

[2018-06-22 15:53] #1060 closed

[2018-06-22 16:10] leecow commented on #1655
Issue is now tracking in the hosting bundle repo.

[2018-06-22 16:10] #1655 closed

[2018-06-22 16:14] leecow commented on #1636
Thanks @daemnin - will keep this open for a time then.

[2018-06-22 16:15] leecow commented on #1598
Seems like this can be closed.

[2018-06-22 16:15] #1598 closed

[2018-06-22 16:37] rainersigwald commented on #1553
I'd be very surprised if it was; that caused production of many threads within msbuild processes but they were short-lived and didn't consume CPU at a particularly high rate. In addition, several of these reports use pre-2.1.300 SDKs, where MSBuild processes were not long-lived. There could be a bug that keeps the processes alive and spinning, but I'm not aware of one.

I'd be very curious to know

[2018-06-22 16:48] poke commented on #1655
@leecow Can you link the new issue?

[2018-06-22 16:52] ant1987pro commented on #1719
Running the Program.cs in debug mode.

**Goal:** reach every breakpoint
**Issue:** debugger does not step into the bbb()
**Question:** why? the size of the string in the bbb() is the same as the size of the string in ccc() yet debugger fails to step in only into bbb(); it runs as expected other then that.
**Extra:**
1) Versions
\dotnet\sdk\1.1.5
\dotnet\sdk\1.1.7
\dotnet\sdk\1.1.8
\dotnet\sdk\1.1.

[2018-06-22 17:30] muratg commented on #1714
@pakrym could you take a look and move to Logging repo acordingly please?

[2018-06-22 17:34] leecow commented on #1655
@poke - it's aspnet/WindowsHostingBundle#22. Unfortunately the repo is private.

[2018-06-22 17:46] dasMulli commented on #1655
![sad panda](https://files.gamebanana.com/img/ico/sprays/sadpanda.gif)

But I'm glad to see that the issue is tracked and being worked on. Thanks @leecow and @joeloff!

[2018-06-22 19:59] ellern opened #1721 "Deploying ASP.NET Core from git with kudu fails because of locked pdb file"
I got a couple of web apps running .NET Core 2.1.0 on different Azure service plans running on Windows.

Lately I've started getting a file locked error when deploying from git on Azure. Almost every single time I push, it errors out telling me the file (Site.Views.pdb) is in use. Restart app, redeploy works every time, but it's annoying. I found out if I push two changes within a short timespan t

[2018-06-22 22:57] leecow commented on #1721
@muratg, please take a look.

[2018-06-22 22:59] muratg commented on #1721
@pakrym could you take a look? Thanks.

[2018-06-23 18:57] mattnewell commented on #1696
@leecow - I'm trying to work up a repro, but I thought I would share that we are also seeing a similar issue in the field that *is* resolved by setting `DOTNET_SYSTEM_NET_HTTP_USESOCKETSHTTPHANDLER=false`.

In our case we're on Windows 2016, and SDK 2.1.300. Exception snippet:
[code]
In this case, we're trying to connect to a host with a very limited set of cipher suites. Maybe a factor? I'll dig

[2018-06-24 23:29] James2397 commented on #1060
Could we get a comparison between the different .Net Core versions to see if their is an improvement  instead of just closing the issue? This issue is still a concern to a lot of people.

[2018-06-25 06:59] thucnguyen77 commented on #1692
Hi,

I got the same error in my existing API.

What I did was just to install .NET Core SDK version 2.1.300.

I have neither upgraded my existing code to .NET, nor made any reference to .NET Core 2.1 libraries.

I am trying to make it work "side-by-side" as advertised, using the global.json file, not still not succeed yet.

Has anyone been able to get over it?

[2018-06-25 08:57] khoshroomahdi opened #1724 "Add advance math class"
# Issue Title
Please add a library like math.net to. Net core
Be as descriptive as you can with your title.

# General

Provide details on the problem you are experiencing including the .NET Core version, operating system version and anything else that is relevant.

Please provide a code sample for your issue if it is relevant, either inline, link to a gist (or similar) or add it as a zipped attac

[2018-06-25 10:31] edwardsky commented on #1676
@karelz Hello, ill setup WinDbg Preview and run dotnet w param myproject.dll. In loadel dll I found CryptoPro CSP dll, and this dll write to system log many errors. I'll uninstall this program. And no more crashes!

[2018-06-25 11:11] nefcanto opened #1725 "Cannot find compilation library location for package 'Microsoft.NETCore.App'"
I've upgraded from .NET Core 2.0 to 2.1.1.

I built my project and now I'm getting this error:

I don't know what other information should I provide. Please guide me in providing more info on this issue.

It's such a frustrating experience. Upgrading backward compatible version in [Semantic Versioning ](https://semver.org/)shouldn't break things. I wish you had versioned this release as .NET Core

[2018-06-25 14:21] Melfi11 opened #1726 "Targeting .NET Core 2.1 - Startup error for new Aurelia WebApp - JsonReaderException: Unexpected character encountered while parsing value: <. Path '', line 0, position 0."
# Targeting .NET Core 2.1 - Startup error for new Aurelia WebApp
**JsonReaderException: Unexpected character encountered while parsing value: <. Path '', line 0, position 0.**

- Operating System: Windows 10
- .NET Core SDK Versions: 2.1.201 / 2.1.301
- VS2017 / VS Code
- NPM: 6.1.0
- Node: 8.11.3

I´m not sure if this issue is related to .NET Core 2.1 but I will try to get some information.

I se

[2018-06-25 15:07] leecow commented on #1696
@muratg

[2018-06-25 15:33] Scandal-UK commented on #1630
Anyone want to update the Linux section on this document??
https://github.com/dotnet/core/blob/master/release-notes/download-archives/2.1.1-download.md

[2018-06-25 15:39] dasMulli commented on #1726
To be clear, the repro steps are cloning the repo, `npm install` and `dotnet run`? if I remove the `app.Run(…)` thing from the startup the app kind of works..
btw in 2.1, you should remove the `Version="…"` attribute from the package reference to `Microsoft.AspNetCore.All` and `.App`. The tooling will choose an appropriate version.

[2018-06-25 16:18] pakrym commented on #1714
This issue was moved to aspnet/Configuration#851

[2018-06-25 16:18] #1714 closed

[2018-06-25 16:28] muratg commented on #1692
@thucnguyen77 @HenryDeveloper Could you guys share some code that reproduces this issue please?  A simple app with the problem on a GitHub repo would be ideal!  Thanks.

[2018-06-25 16:48] muratg commented on #1696
@Tratcher @halter73 could you guys take a look?

[2018-06-25 17:15] leecow commented on #1725
@nefcanto , can you include output from `dotnet --info` so we can see a bit of your environment?

@dsplaisted

[2018-06-25 17:17] leecow commented on #1584
@janvorli @danmosemsft

[2018-06-25 17:28] nefcanto commented on #1725
Yeah, sure.

![capture2](https://user-images.githubusercontent.com/12782347/41865620-e4657ef8-78c2-11e8-9e5a-d0bca1c3c2e0.PNG)

[2018-06-25 17:47] mattnewell commented on #1696
FYI -- I did spend a number of hours tying to repro this. I can force the exception 100% of the time, but only in an expected scenario. Consider a host that supports *only* TLS 1.0. If I set the following registry value, the exception above is thrown. Duh.
[code]

If I then set `DOTNET_SYSTEM_NET_HTTP_USESOCKETSHTTPHANDLER=false`, I get a different inner exception, given the different underlying i

[2018-06-25 18:08] halter73 commented on #1696
I don't think I've seen this particular issue before. @mattnewell what kind of server are you trying to? Is it running ASP.NET Core 2.1.x?

[2018-06-25 18:11] mattnewell commented on #1696
The _client_ is Core 2.1.300.
The server is some "random" host on the internet, for all intents. For my particular test I was using NGINX configured to only support TLS 1.0.

[2018-06-25 19:01] dsplaisted commented on #1725
@nefcanto It looks like there may be something wrong with your .NET Core SDK installation.  Instead of the error message at the beginning of the output of `dotnet --info`, you should be seeing something like this:

[code]

Do you have this file on your machine? `C:\Program Files\dotnet\sdk\2.1.301\runtimes\win\lib\netcoreapp2.0\System.Text.Encoding.CodePages.dll`

Can you try repairing (or uninsta

[2018-06-25 19:15] Tratcher commented on #1696
The No Errors example never awaits stringTask, so it would never observe an error that was thrown asynchronous.

What's the full exception and stack trace?

If it's broken by adding a single dependency then it's likely that your dependency graph is trying to pull in two conflicting versions of something.

[2018-06-26 06:08] Melfi11 commented on #1726
Yes that´s correct!
Do you have a difference to my operating system settings? (Node.js or something else!?)

Thanks for information - I removed the version for package Microsoft.AspNetCore.All.

[2018-06-26 09:09] nefcanto commented on #1725
I uninstalled all runtimes and SDKs installed on my machine from previous versions and including the current version. And then reinstalled the SDK. Here is a screenshot of the SDK:

![capture2](https://user-images.githubusercontent.com/12782347/41901454-2e091a64-7946-11e8-9b2b-8762c75e8c15.PNG)

But the problem is that now I can't build my applications. It complains that:

[2018-06-26 09:22] nefcanto commented on #1725
Well I restarted my PC, and now project is built. But again back to the original problem, I see:

[2018-06-26 12:56] wdmeeste1 opened #1728 "The type 'RazorViewAttribute' exists in both 'Microsoft.AspNetCore.Mvc.Razor, Version=2.1.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60' and 'Microsoft.AspNetCore.Mvc.Razor, Version=2.1.1.0, Culture=neutral, PublicKeyToken=adb9793829ddae60"
We recently updated to version 2.1.0 of aspnet core.

Everything works fine but when we run our app and than change something in the cshtml file, that we are viewing in the browser, we are getting the following error:

[code]

Rerunning the app resolves the problem but when adapting the file again the error appears. Is this a bug in core 2.1.0?

PS: Running app in ubuntu 16.04 (tested it on 2 diff

[2018-06-26 15:26] kapouille opened #1729 "HttpClient.Timeout appears not to be enforced. Dotnet 2.0"
Running on docker image: `microsoft/dotnet:2.0.0-runtime-jessie`
No modification on the image aside from running the compiled dll and setting a few environment variables.

I have this piece of code:
[code]

It occasionally generates log entries similar to this:

How is that even possible?
Is there anything I'm missing in the HttpClient's setup?
What should I be looking out for?

Thanks!

[2018-06-26 17:03] leecow commented on #1729
@muratg

[2018-06-26 17:04] leecow commented on #1728
Moved to https://github.com/aspnet/Home/issues/3268

[2018-06-26 17:04] #1728 closed

[2018-06-26 17:06] leecow commented on #1724
Issue moved to [dotnet/corefx #30671](https://github.com/dotnet/corefx/issues/30671) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-26 17:06] #1724 closed

[2018-06-26 17:09] leecow commented on #1721
Moved to https://github.com/aspnet/Home/issues/3269

[2018-06-26 17:09] #1721 closed

[2018-06-26 17:18] retifrav opened #1731 "No AccountController and ManageController from auth Individual template"
# No AccountController and ManageController from auth Individual template

Template

[code]

no longer provides `AccountController` and `ManageController`.

## Description

With host version 2.0.5 this template generates those controllers and with host version 2.1.0 it does not. See the listings below.

### Host 2.0.5

[code]

Folder structure after `dotnet new mvc --auth Individual`:

[code]

###

[2018-06-26 17:48] dsplaisted commented on #1725
OK, sorry this is still not working for you.

Do you get the failure if you create a new project from a template?

Can you enable more detailed output to provide more details about the failure?

Can you share a binary log of your build?  You can create a binary log by building with the `-bl` parameter, it will then create a file called msbuild.binlog.  That file is very useful for debugging build

[2018-06-26 19:56] leecow commented on #1731
Moved to ASP.

[2018-06-26 19:56] #1731 closed

[2018-06-26 20:05] lucasgalone opened #1732 "InvalidOperationException: Unable to resolve service for type 'support_it.Domain.Interfaces.Services.ISaleService' while attempting to activate 'support_it.Web.Controllers.PdvController'."
# Issue Title

InvalidOperationException: Unable to resolve service for type 'support_it.Domain.Interfaces.Services.ISaleService' while attempting to activate 'support_it.Web.Controllers.PdvController'.

# General

[code]

[2018-06-26 20:40] muratg commented on #1729
cc @karelz

[2018-06-26 23:15] senwen commented on #1427
Ditto for us on 16.04

[2018-06-27 01:58] karelz commented on #1729
@kapouille do you see the same problems on 2.1? We have brand new networking stack there, written on top of sockets.
If it doesn't work there, we would be interested to dig in.

[2018-06-27 02:01] karelz commented on #1676
Looks like a bug in CryptoPro CSP. Happy to hear you were able to resolve your problem.
When other buggy DLLs inject themselves through OS and do harm, there is not much we can do about it :(

[2018-06-27 07:42] wdmeeste1 commented on #1728
Updating all the Microsoft.* nuget packages from 2.1.0 to 2.1.1 seems to fix the problem:

`
<PackageReference Include="Microsoft.AspNetCore.App" Version="2.1.1" />
<PackageReference Include="Microsoft.Extensions.Configuration.EnvironmentVariables" Version="2.1.1" />
<PackageReference Include="Microsoft.Extensions.Configuration.Json" Version="2.1.1" />
<PackageReference Include="Microsoft.Extensio

[2018-06-27 10:06] jordevorstenbosch commented on #1553
I'm running into this issue as well, however I'd like to add that it happens when adding packages as well. Not just when using dotnet run. Process stays open after completing it's task and remains at 100+% CPU Usage.
[code]

@rainersigwald @leecow if I can provide any additional information let me know.

[2018-06-27 10:56] arokoyo commented on #1713
I know one day I will write a matrix code

[2018-06-27 19:37] paulbatum commented on #1706
Nope its not me. The appropriate place for this question is https://github.com/Azure/azure-mobile-apps-net-server - I would move it there.

[2018-06-28 02:55] XbbLeon opened #1734 "When i can new webapi and restore successfully on Arm64?"
Hello,last week i got dotnet-sdk-latest-linux-arm64.tar.gz from https://github.com/dotnet/cli/blob/master/README.md#installers-and-binaries ,
it can new and restore console,classlib and xunit etc. but when i new a webapi project ,it restore failure:
/root/lab/webapi/webapi.csproj : error NU1102: Unable to find package Microsoft.AspNetCore.App with version (>= 2.2.0-preview1-34355)
/root/lab/webapi

[2018-06-28 13:50] JoiGud commented on #1553
If I do `ps aux | grep dotnet` then the following is one of the dotnet processes that spikes the CPU:
`/usr/local/share/dotnet/dotnet /usr/local/share/dotnet/sdk/2.1.300/Roslyn/bincore/VBCSCompiler.dll -pipename:myusername.F.a8YGquYlqf7WJOhYvGN0wdSxo`

[2018-06-28 14:07] shpsyte opened #1735 "System.Data.SqlClient 4.4.3 is not compatible with netcoreapp 2.0"
# System.Data.SqlClient 4.4.3 is not compatible with netcoreapp 2.0

Hi, after install .net core 2.1, I just Create WebApp using .net Core 2.0.8 and I get this error.

# General

I Know if downgrade to .net core 2.0.3 I resolve this, but why this happens ?

.Net Core 2.0.8
![capturar](https://user-images.githubusercontent.com/3891610/42039291-6d2058b0-7ac3-11e8-814e-ac50cd8eab8f.PNG)

[2018-06-28 14:07] renatoprogramer opened #1736 "BUG view Edit"
When I edit my view of an error this started with an automatic update already upgraded to the 2.1.1 Ai of the error of Pomelo, the incredible that started out of nowhere this is pitiful a minimal upgrade screwing with everything this way is better to program in PHP even.

![image](https://user-images.githubusercontent.com/15394508/42039315-78ad8a36-7ac3-11e8-9d01-3ff7464491e2.png)

[2018-06-28 14:12] svick commented on #1736
This seems to be a duplicate of https://github.com/aspnet/Mvc/issues/7969.

[2018-06-28 15:24] rainersigwald commented on #1553
@JoiGud Yes, that's exactly the kind of thing I'm looking for.

**If you're seeing this can you share all of `ps aux | grep dotnet`?** There are a few different build server processes that could be going wrong, so we need to figure out which one(s) are misbehaving to figure out the root cause.

[2018-06-28 16:12] Petermarcu commented on #1734
@natemcmaster @muratg Do you know what is blocking this today? There is an SDK available and I would have expected that it could find the packages.

[2018-06-28 16:15] natemcmaster commented on #1734
ASP.NET Core is not supported on linux-arm64 yet, only arm32. See https://github.com/aspnet/Universe/issues/1117.

Side note: I don't think the 2.2 builds of the SDK have started consuming 2.2 runtime bits.

[2018-06-28 16:44] muratg commented on #1734
cc @Eilon

[2018-06-28 17:58] delasteve commented on #1553
@rainersigwald

`ps aux | grep dotnet` returns
[code]

Other info that may or may not be useful:

`brew cask info dotnet-sdk`
[code]

`dotnet --info`
[code]

[2018-06-28 18:01] rainersigwald commented on #1553
Ok, that looks like at least two instances where it's the Roslyn compiler server that seems to be doing surprising work when it should be idle. @jaredpar can you help route?

[2018-06-28 23:20] jaredpar commented on #1553
Looks like a duplicate of https://github.com/dotnet/roslyn/issues/24137

Problem is a combination of a long user name, a long temp path ends up causing us to spin on named pipe creation APIs.

[2018-06-29 03:46] Jaryllan opened #1738 ".NET Core performance few times slower compared to .NET Framework for Read & Write to File using BinaryFormatter with Mutex"
**Hardware specification**
Windows Server 2016 Standard
.NET Core 2.1
4 Cores
12 GB RAM

I noticed that the performance for .NET Core is much worst than .NET Framework when i want to achieve thread synchronization while read and write to a file. The following code snippet demonstrate what I want to achieve. Which is at any one time only 1 thread can read the file, change the value and write it bac

[2018-06-29 06:49] PavelMekhnin opened #1739 "Cant login to rabbitmq through RestClient on 2.1.1"
After I updated project to 2.1.1 my restClient stoped login to rabbit - Unauthorized.
![image](https://user-images.githubusercontent.com/5836560/42077474-477395c4-7ba3-11e8-9b02-0d04c56764a7.png)
But if I'm trying login with browser - evething works fine

[2018-06-29 07:17] XbbLeon commented on #1734
@natemcmaster Now,I can use  "dotnet publish -r linux-arm64" to publish a web api project(targetframework is netcoreapp2.1) on Windows and it can run on a fedora system which cpu is arm64,but I can't restore and build webapi project on the fedora os,so i want know do you have any plans for it ?

And where can I find the "dotnet-sdk-latest-linux-arm64.tar.gz“ again？Thx!

[2018-06-29 07:35] Jaryllan commented on #1738
Moved to https://github.com/dotnet/corefx/issues/30752

[2018-06-29 07:35] #1738 closed

[2018-06-29 08:55] jordevorstenbosch commented on #1553
@rainersigwald make that three

`/usr/local/share/dotnet/dotnet /usr/local/share/dotnet/sdk/2.1.301/Roslyn/bincore/VBCSCompiler.dll -pipename:<username>.7GIKntv7I38xTHU3BEqdv09i4`

@jaredpar could be my username is 17 characters long.

[2018-06-29 12:02] VSDekar opened #1740 "Please include deleting ASP.NET Core Runtime in Uninstaller"
We had huge problems with dotnet core SDK 2.1.301 so we went back to 2.1.300. But the uninstaller did not delete the ASP.NET Core runtime.

Because the runtime was still there after we uninstalled 2.1.301 we got some very strange problems.

So my expectation is, that everything that an installer installs on the system will be deleted by the uninstaller. I had to delete manually the folder in `C:\P

[2018-06-29 14:28] DerAlbertCom opened #1741 "dotnet tool install have trouble installing when an private feed is in nuget.config"
# Issue Title

dotnet tool install  -g foobar  does not install any tool if private nuget feed is in the nuget.config which requires authentication.

# General

I tried 'dotnet tool install -g sourcelink', and have in the the global nuget.config the company nuget feed from vsts.

[code]

If i comment out the private feed out in then nuget.config, then the tool get's installed.

nuget restore has n

[2018-06-29 15:33] natemcmaster commented on #1734
@XbbLeon see the download links here: https://www.microsoft.com/net/download/linux

[2018-06-29 15:43] #1741 closed

[2018-06-29 15:43] leecow commented on #1741
Issue moved to [dotnet/cli #9586](https://github.com/dotnet/cli/issues/9586) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-29 15:44] leecow commented on #1740
@JunTaoLuo - can you have a look and move this issue to the right repo?

[2018-06-29 21:42] JunTaoLuo commented on #1740
This issue was moved to aspnet/SetupSharedFramework#10

[2018-06-29 21:42] #1740 closed

[2018-06-29 22:14] JunTaoLuo commented on #1740
Moved the issue again to https://github.com/aspnet/Home/issues/3286 since it's easier to discuss this in a public repo.

[2018-06-30 04:43] alchermd opened #1743 "Ubuntu 16.04 - The "ResolvePackageAssets" task failed unexpectedly."
Hello! This is my first time trying dotnet on my Ubuntu machine. What I did was:

[code]

... which is basically what this [guide](https://www.microsoft.com/net/learn/get-started/linux/ubuntu16-04) said.The `dotnet run` command spit out this error message:

[code]

Google didn't return a relevant search result (at least for Ubuntu). Any help?

[2018-06-30 05:13] alchermd commented on #1743
https://github.com/dotnet/sdk/issues/2251#issuecomment-389951448 found this workaround.

[2018-06-30 05:15] alchermd commented on #1743
Apparently, there's some issue with my exact timezone `Asia/Manila`. I changed it to a nearby timezone `Asia/Singapore` and it fixed the issue.

[2018-06-30 05:15] #1743 closed

[2018-06-30 10:18] RhavoX opened #1744 "*** Error in `dotnet': double free or corruption (fasttop): 0x74918920 ***"
# Issue Title

After running a background service on Raspberry Pi for about a week this is the crash message I've been given.

*** Error in `dotnet': double free or corruption (fasttop): 0x74918920 ***

No other information was given.

# General
Occured on latest Raspbian Stretch

Dotnet version:
  Version: 2.1.1
  Commit:  6985b9f684

[2018-06-30 21:46] ipavlu opened #1745 ".NET Core on Oracle Enterprise Linux 5/6?"
Hi,

I have not found any info about a possibility to run a version of .Net Core on the Oracle Enterprise Linux 5 or 6.

At the minimum I expected OEL6/CentOS6 to be supported when Red Hat Enterprise Linux 6 is supported by the .Net Core 2.1.

Can somebody shed some light what are the issues, if some binary built on RHEL5/6/7 would work on OEL5/6/7 ?

Thanks a lot.

[2018-06-30 22:16] Petermarcu commented on #1745
There is RHEL 6 support and give that Oracle Linux 6 is purported to be compatible with that, these are the instructions I would use to get it working on Oracle Linux 6. https://github.com/dotnet/core/blob/master/Documentation/build-and-install-rhel6-prerequisites.md

[2018-07-01 17:24] zinov opened #1746 "Attempt to update Microsoft.AspNetCore.App from 2.1.0 to 2.1.1 fails everytime"
Attempt to update Microsoft.AspNetCore.App from 2.1.0 to 2.1.1 fails everytime

**I have an App that is compiling with Microsoft.AspNetCore.App in 2.1.0, trying to update it to 2.1.1 through Manage Nuget Package always fails, even if I update the version directly from the csproj too.**

Apart from this question, If I try to make an update on my csproj manually to any version and let's say the Visu

[2018-07-01 17:31] granthoff1107 opened #1747 "Background services which require HTTP Context"
**EDIT Summary**

I have a background service, which requires a DBContext, my DbContext is dependent on the HTTPContext, which is out of scope when requested from the Background Service.  How can I capture and moq the HTTPContext, so my user claims will carry over to the background service?

I'm writing a hosted service to queue pushing messages from my Hubs in Signalr.  My Background.

    public

[2018-07-01 20:49] EnricoReich commented on #1746
A few days ago I had the same problem and that turned out to be a problem with SDK v2.1.300.
Installing SDK version 2.1.301 fixed it for me.

[2018-07-02 00:20] zinov commented on #1746
It worked for me

[2018-07-02 02:09] pix3lize commented on #1553
@jaredpar I'm having a similar issue. I have long username 20characters with space in between probably something that can back up @jordevorstenbosch theory. Thanks

[2018-07-02 08:21] XbbLeon commented on #1734
@natemcmaster OK! I get "dotnet-sdk-2.1.301-linux-arm64.tar.gz" from the link you told me, and I can new a console project and restore successfully,but when I build it ,I get failure:
/opt/sdk/2.1.301/Roslyn/Microsoft.CSharp.Core.targets(52,5): error MSB6006: "csc.dll" exited with code 139. [/root/lab/demo/demo.csproj]
What can I do to resolve it?

And why this sdk doesn't contain asp.net runtime?

[2018-07-02 16:05] natemcmaster commented on #1734
ASP.NET Core is not supported on linux-arm64 yet, only arm32. See aspnet/Universe#1117.

I'm not sure why csc.dll fails on Linux ARM64. Someone from @dotnet/roslyn might know.

[2018-07-02 16:08] tannergooding commented on #1734
@dotnet/roslyn-compiler (specifically @agocke / @jaredpar) might be a better tag 😄

[2018-07-02 16:10] Petermarcu commented on #1734
Its usually because one of the dependencies is missing. If you run `strace` you may get a hint for what so is trying to load and missing.

[2018-07-02 16:15] JoiGud commented on #1553
Sorry for not answering sooner, was on vacation. It seems that it's always the `VBCSCompiler.dll` that has the high CPU load. My username is 17 characters long. Interesting.

[2018-07-02 16:31] jaredpar commented on #1553
Sounds like this is definitely a dupe of the roslyn issue then. I think we may have to implement the hueristic around pipe name limits in our code. Short term you can disable this via `UseSharedCompilation = false` either as an explicit build property or an environment variable.

[2018-07-02 16:37] vancem commented on #897
I wanted to add that it is also possible (and pretty easy)( to debug through the framework if you use Visual Studio Code instead of Visual Studio.   This is how you would do it on Linux for example (It also works on Windows).

See See https://github.com/OmniSharp/omnisharp-vscode/wiki/Debugging-into-the-.NET-Framework-itself for instructions on setting VSCode launch settings to make this work.

If

[2018-07-02 17:03] JoiGud commented on #1553
I tried @mikeharder 's workaround that he mentioned here (roslyn issue): https://github.com/dotnet/roslyn/issues/24137
and it seems to solve the issue.

[2018-07-02 20:47] hervit0 commented on #946
Hi there,

I've encountered the same issue, and indeed, having special characters (`é` in my case) in the path of the `fsproj` is lead to this problem.

I'm running under .NET Core 2.1.4.

[2018-07-03 01:19] XbbLeon commented on #1734
OK.,get it ! Thank you.
I want ro konw where can I download the latest daily-build sdk instead of the stable version .
Good luck.

[2018-07-03 02:48] leecow commented on #1747
@danmosemsft to help route.

[2018-07-03 02:49] leecow commented on #1744
I'm sure we'll need more information. @RussKeldorph to help with the right questions.

[2018-07-03 03:48] granthoff1107 commented on #1747
To clarify.  I’m going to start to shy away from depending on httpcontextaccessor.  In my other dependencies, and start abstracting the pieces that I need,

e.g my DbContext in the future will only depend on a new dependency which contains my claims, and I’ll pass the user based dependency into my backgroundtaskqueue.

However, this is not a viable option at all times. In my case it can be done, b

[2018-07-03 03:53] davidfowl commented on #1747
Don’t write services that depend on the http context that need to be used in background threads. That won’t work. If you need state then you’ll need to copy it from the request and pass it to the background thread.

[2018-07-03 03:59] granthoff1107 commented on #1747
@davidfowl, I’m aware of that now and am changing my architecture.  But it would be nice if there was a built in way to mock the httpcontext, not everyone will be aware of this when designing their application, and it could cause a large rewrite for systems bigger than mine.

Maybe we can also update the documentation to mention, to not be dependent on httpcontext

[2018-07-03 13:16] road42 commented on #1726
@Melfi11 It seems, that the internal call to node is intercepted somehow.
Try to disable your proxy if there is one.

[2018-07-03 13:47] Melfi11 commented on #1726
Thanks a lot @road42 - without the proxy settings I can run the application. But why it´s been crashing with active proxy? Targetting .NET Core 2.0 it works well!?

[2018-07-03 14:43] macman11 opened #1748 "this is test"
atc# Issue Title

Be as descriptive as you can with your title.

# General

Provide details on the problem you are experiencing including the .NET Core version, operating system version and anything else that is relevant.

Please provide a code sample for your issue if it is relevant, either inline, link to a gist (or similar) or add it as a zipped attachment.

For some issues, you will get a quic

[2018-07-03 14:43] macman11 commented on #1748
cti

[2018-07-03 15:06] road42 commented on #1726
I‘ve had a look on the source and the extension seems to use the default HttpClient without any new factory methods or something like that.

[2018-07-03 15:52] natemcmaster commented on #1734
You can get daily builds here: https://github.com/dotnet/core/blob/master/daily-builds.md

[2018-07-03 18:43] orassr opened #1750 "Question : Disable HTTPS for development"
I set the baseUrl to http://localhost:5000  - NO HTTPS
but the request at the browser shows :
Request URL: https://localhost:5001/api/auth/login
how can avoid HTTPS at development time temporary?

[2018-07-03 18:46] blowdart commented on #1750
This issue was moved to aspnet/Home#3293

[2018-07-03 18:46] #1750 closed

[2018-07-03 20:42] RussKeldorph commented on #1744
@RhavoX

There's not much we can do without more information--preferably instructions to reproduce the crash.

Can you provide a callstack when the crash happens at least?

Is this a regression from a previous .NET Core version, or is 2.1.1 the first build you've tried?

Others may have better advice and/or questions.

@jkotas @janvorli @dotnet/dotnet-diag

[2018-07-03 20:48] jkotas commented on #1744
This is duplicate of https://github.com/dotnet/coreclr/issues/18486. The memory corruption at this calllstack has been reported by multiple people. We were not able to get to the bottom of it yet.

[2018-07-03 20:48] #1744 closed

[2018-07-04 01:45] XbbLeon commented on #1734
I get the sdk , thank you very much!
There is another question: As you speak ,  ASP.NET Core is not supported on linux-arm64 yet ,  but I can use "dotnet publish -r linux-arm64" to publish a web api project(targetframework is netcoreapp2.1) on Windows and it can run on a fedora system which cpu is arm64 , but I can't restore and build webapi project on the fedora os .
so why it can run successfull

[2018-07-04 05:37] parthakbari opened #1751 "how to add assembly info to PrecompiledViews dll generated by dot net core 2.0"
# how to add assembly info to PrecompiledViews dll generated by dot net core 2.0

# General

views in my .net core 2.0 project is getting generated in PrecompiledViews dll..

How to add the assembly info to this dll, information such as company name, copyrights etc..

Tried to some tag in project file but didn't work

      `<PropertyGroup Label="Assembly">
           <AssemblyName>HegicMvc_Poc.Pr

[2018-07-04 06:34] Melfi11 commented on #1726
It seems to work with following Main():

`public static void Main(string[] args) {
            AppContext.SetSwitch("System.Net.Http.UseSocketsHttpHandler", false);
            CreateWebHostBuilder(args).Build().Run();
        }`

Unfortunately it was neccessary to use a upper case "U" at "UseSocketsHttpHandler".

[2018-07-04 06:36] road42 commented on #1726
The "u" hast to be uppercase

[code]
See: [source](https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/HttpClientHandler.cs#L17-L37)

[2018-07-04 06:38] dasMulli commented on #1726
@stephentoub @karelz could one of you maybe help direct this issue? are there known issues with proxies and the new handler?

[2018-07-04 07:17] Sivasekare opened #1752 "Reference Issue: System.Web.Services"
Hello,

Below is the error message im getting when trying to run my ASP.Net Core app that references System.Web.Services.dll.  Please help me to address the same.

System.BadImageFormatException
  HResult=0x80131058
  Message=Could not load file or assembly 'System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. Reference assemblies should not be loaded for execut

[2018-07-04 10:00] Tony427 opened #1753 "Is there any real world web site running dotnet core with unix-like os?"
Hello guys.

Is there any well-known real world web site using dotnet core on RHEL or other unix-like OS ?
Just have to convince the clients to believe that dotnet core is mature enough using linux os.

thx!

[2018-07-04 13:08] stephentoub commented on #1726
Fixed:
https://github.com/dotnet/corefx/issues/30330
https://github.com/dotnet/corefx/issues/30166

Not yet fixed:
https://github.com/dotnet/corefx/issues/30327

cc: @davidsh

[2018-07-04 13:46] Segment22 commented on #1178
Error still exists. Changing App URL in project properties corrupts .vs\config\applicationhost.config file.

[code]

[2018-07-04 15:14] grantwar opened #1754 "NetCoreApp2.1 using SDK 2.1.1 package downgrade to 2.1.0"
# Service Fabric Service using SDK 2.1.1 has an associated test core 2.1 project which is showing up as using SDK 2.1.0, won't allow me to upgrade via nuget (Blocked by project).
# Build Error

# Issue
I'm unable to get my solution to build due to an issue with a unit test project which references my service project forcing a package downgrade of my service project from 2.1.1 down to 2.1.0
No wher

[2018-07-04 19:31] manuelcardoso commented on #1753
Well… I heard that there is a (internal) real world web application who manages customer support flow and reports of a well-known swedish group.
ASP.NET Core WebApp with WebApi also on a Ubuntu OS

[2018-07-05 04:15] agr commented on #1754
Seeing the same in my project with xUnit when specifying runtime when building. Repro:

[code]

[code]

Produces the following output:

[code]

Just `dotnet build` seems to work, but if any runtime is specified it fails. I tried `any`, `win`, `win-x64`, `linux-x64`. Same happens both in Linux and Windows. It worked fine in `2.1.300`.

[2018-07-05 12:45] jordevorstenbosch commented on #1553
Been using the solution @JoiGud talks about for a few days now, can confirm that it works for me as well.

[2018-07-05 12:52] dcb99 opened #1756 "After migrating from .NET Core 2.0 to 2.1, any new routes return a page not found, and any changes to existing methods are not recognized"
I recently upgraded an MVC .net core 2.0 app to 2.1. Existing methods in controllers return data/views just fine, but any new methods or routes, or any changes to existing methods are not recognized. New routes return a page not found error, and methods don't cause any changes in data or behavior.  I made all the changes outlined [here](https://docs.microsoft.com/en-us/aspnet/core/migration/20_21?

[2018-07-05 13:42] #1756 closed

[2018-07-06 01:52] wq807319473 opened #1758 "dotnet core on arm-linux . How to distinguish between armel and armhf."
1.    dotnet publish -r linux-arm         The content of the publish is  about armel or about armhf ?
2.    On command,  How to distinguish that ?

AND ,          When will arm64 be released ?

[2018-07-06 02:54] Petermarcu commented on #1758
There are no concrete dates for arm64 although it is being worked on. linux-arm is armhf. I don't think there are armel builds available but I may be wrong. @RussKeldorph @jkotas in case they know more.

[2018-07-06 04:37] jkotas commented on #1758
Samsung has been publishing armel packages for Tizen: https://www.nuget.org/packages/runtime.tizen.4.0.0-armel.Microsoft.NETCore.App/

cc @alpencolt @gbalykov

[2018-07-06 14:49] #1748 closed

[2018-07-06 15:09] shpsyte commented on #1735
Someone ?

[2018-07-06 17:05] rrelyea commented on #1754
This probably requires a fix in the templates or the SDK? (SDK team?)

MVC wants 2.1.1 of NetCoreApp
Unit test projects wants 2.1.0 of NetCoreApp.

Normally, this is a NuGet warning, but SDK projects have turned NU1605 into an error on purpose (Warning as Error).

[2018-07-06 17:22] rrelyea commented on #1754
My guess is that this should be closed, in favor of the following info I got from @dsplaisted in email:

This is part of a class of issues we have.  If a RID is specified, and the project is an Exe, then by default we’ll use the latest patch of Microsoft.NETCore.App.  We run into issues when you reference a project that uses the latest patch from one that doesn’t.

Other related issues:
https://gi

[2018-07-06 17:59] leecow commented on #1753
I can't provide details but can acknowledge large .NET Core investments on Linux by the likes of American Express, General Motors, Barclays, Morgan Stanley, Walmart and others.

[2018-07-06 22:04] gruckion commented on #1594
Yup download node and install it. Then go into Tools Options and then Exyernal Web. There you can add a reference to use node in c:\program files\node (assuming default install location). With this done RESTART VISUAL STUDIO. Then open the PM console (Type PM in search) and type node -v you want version 8 or so..

[2018-07-07 09:59] omersiar opened #1759 "Wrong version is being downloaded"
Hello

From this page : https://www.microsoft.com/net/download/all
Clicking to download version 2.0.8 runtime
https://www.microsoft.com/net/download/thank-you/dotnet-runtime-2.0.8-windows-x64-installer
Downloads this file:
https://download.microsoft.com/download/E/F/7/EF7302FE-4F84-4529-9E3A-893450F76501/dotnet-runtime-2.0.7-win-x64.exe

[2018-07-07 10:02] omersiar commented on #1759
Sorry to bother. Silly me

[2018-07-07 10:02] #1759 closed

[2018-07-08 12:14] yyjdelete opened #1760 "SslStream's handshake broken with Win10(17711 Insider)?"
# Issue Title
I know here is not the best place to report this issue, but I can't found an place to report the problem in feedback center with only dotnet reproduce case.(iexplore seems work well with tls12 disabled).
Set the server's enabledSslProtocols to `Tls|Tls12`, and the client to `Tls|Tls11`, and see the handshake failure with invaild flags.
[code]

# General

Provide details on the proble

[2018-07-08 23:17] tekrat opened #1761 "dotnet core in Chromium Native Client"
# .NET Core on Chromium Native Client

Is there a planned to the NaCI / Chromium Native Client?

# General

I want to run .NET Core applications on my ChromeBook.  Porting this to Native Client would open every platform that runs Chrome.

[2018-07-09 08:01] evo01 commented on #1481
I did some more testing around this issue and the temporary work around seems to be not to use named arugments.  If you leave the named arguments off, and use the following property instead, you can custom attributes in a dynamic type.

[code]

`var attributes = dynamicType.CustomAttributes.ToList(); // WORKS`

`Assert.AreEqual(1, attributes.Count); // WORKS`

This does not work:

[code]

[2018-07-09 13:15] devkws opened #1762 "Feature Request: FindSystemTimeZoneById enhancement"
It would be nice if .netcore could remove the idiosyncrasies of running code on windows vs linux by adding methods which would handle conversions for the developer.

As an example: TimeZoneInfo.FindSystemTimeZoneById("Eastern Standard Time") fails on linux.
Because of this we must build extensions to handle conversions so the app runs on both windows and linux.

example of workaround:
[code]

[2018-07-09 16:17] kenleese commented on #1762
https://github.com/dotnet/corefx/issues/11897

[2018-07-09 18:16] devkws commented on #1762
I see that this is a duplicate, closing

[2018-07-09 18:16] #1762 closed

[2018-07-09 21:02] Petermarcu commented on #1761
@danroth27

[2018-07-09 21:03] #1760 closed

[2018-07-09 21:03] Petermarcu commented on #1760
Issue moved to [dotnet/corefx #30924](https://github.com/dotnet/corefx/issues/30924) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-09 21:05] Petermarcu commented on #1758
Looks like the answer then is to use `linux-arm` for armhf and `tizen-arm` for armel for now. I'm going to close this issue. Let us know if you have other questions.

[2018-07-09 21:05] #1758 closed

[2018-07-09 21:06] #1754 closed

[2018-07-09 21:06] Petermarcu commented on #1754
Issue moved to [dotnet/cli #9624](https://github.com/dotnet/cli/issues/9624) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-09 21:09] Petermarcu commented on #1752
Looks like your application is getting a reference assembly that you are trying to load and execute? @muratg @Eilon , can someone help provide guidance here?

[2018-07-09 21:09] Petermarcu commented on #1751
@Eilon @muratg

[2018-07-09 21:10] Petermarcu commented on #1747
@davidfowl is the best place to open up a request like that in the aspnet/home repo?

[2018-07-09 21:12] Petermarcu commented on #1736
This was addressed here: https://github.com/aspnet/Mvc/issues/7969

[2018-07-09 21:12] #1736 closed

[2018-07-09 21:46] Eilon commented on #1751
@pranavkm can you move this issue to the appropriate repo and answer it?

I believe the short answer is: by default the precompiled views assembly will use the same metadata as the app's metadata, though there might also be a way to customize it beyond that.

[2018-07-09 21:47] Eilon commented on #1752
@Sivasekare can you provide more info on your app, such as the contents of the CSPROJ file? Or perhaps upload your app to GitHub so we can take a look?

[2018-07-09 22:51] pranavkm commented on #1751
This issue was moved to aspnet/Mvc#8044

[2018-07-09 22:51] #1751 closed

[2018-07-09 23:17] Petermarcu commented on #1746
@Eilon as FYI

I'm going to close this for now. Let us know if using the 2.1.301 or higher SDK doesn't fix this for you.

[2018-07-09 23:17] #1746 closed

[2018-07-10 00:01] danroth27 commented on #1761
I believe NaCl has been largely deprecated in favor of WebAssembly. We are working on bringing [.NET to WebAssembly via Mono](http://www.mono-project.com/news/2017/08/09/hello-webassembly/, which is the basis for the [Blazor](https://blazor.net) experimental project.

[2018-07-10 00:01] #1761 closed

[2018-07-10 02:31] davidfowl commented on #1747
aspnet/Docs

[2018-07-10 15:48] mickaelistria commented on #1696
I get the same issue with dotnet core 2.1.300, extracted from the zip, on Fedora 28.
The issue manifests itself simply with a `dotnet restore`.
[code]
If I set `DOTNET_SYSTEM_NET_HTTP_USESOCKETSHTTPHANDLER=false`, things work better
[code]

[2018-07-10 16:28] vsundaralingam opened #1763 "SqlConnection open method hangs connecting to SQL Server 2005 when running the core app on linux box"
I am using .NET Core 2.1 and System.Data.SqlClient 4.5.1 to connect to SQL Server 2005. It works great on a windows machine but running the same app in Linux machine just hangs indefinitely in  connection.Open() line.

Here is the linux server and .NET CORE info:

.NET Core SDK (reflecting any global.json):
 Version:   2.1.301
 Commit:    59524873d6

Runtime Environment:
 OS Name:     debian
 OS V

[2018-07-10 17:31] leecow opened #1765 ".NET Core July Update - 2.1.2"
#.NET Core July Update - 2.1.2

[Release Notes](https://github.com/dotnet/core/blob/master/release-notes/2.1/2.1.2.md)
[Download 2.1.2](https://github.com/dotnet/core/blob/master/release-notes/download-archives/2.1.2-download.md)

Included fixes address [CVE-2018-8356: .NET Core Security Feature Bypass Vulnerability](https://github.com/dotnet/announcements/issues/73)

Please report any issues you

[2018-07-10 17:33] leecow opened #1766 ".NET Core July Update - 2.0.9"
#.NET Core July Update - 2.0.9

[Release Notes](https://github.com/dotnet/core/blob/master/release-notes/2.0/2.0.9.md)
[Download 2.0.9](https://github.com/dotnet/core/blob/master/release-notes/download-archives/2.0.9-download.md)

Included fixes address [CVE-2018-8356: .NET Core Security Feature Bypass Vulnerability](https://github.com/dotnet/announcements/issues/73)

Please report any issues you

[2018-07-10 17:34] leecow opened #1767 ".NET Core July Update - 1.1.9"
# .NET Core July Update - 1.1.9

[Release Notes](https://github.com/dotnet/core/blob/master/release-notes/1.1/1.1.9.md)
[Download 1.1.9](https://github.com/dotnet/core/blob/master/release-notes/download-archives/1.1.9-download.md)

Included fixes address [CVE-2018-8356: .NET Core Security Feature Bypass Vulnerability](https://github.com/dotnet/announcements/issues/73)

Please report any issues you

[2018-07-10 17:36] leecow opened #1768 ".NET Core July Update - 1.0.12"
# .NET Core July Update - 1.0.12

[Release Notes](https://github.com/dotnet/core/blob/master/release-notes/1.0/1.0.12.md)
[Download 1.0.12](https://github.com/dotnet/core/blob/master/release-notes/download-archives/1.0.12-download.md)

Included fixes address [CVE-2018-8356: .NET Core Security Feature Bypass Vulnerability](https://github.com/dotnet/announcements/issues/73)

Please report any issues

[2018-07-10 19:41] davisgreg1 commented on #948
This same thing happened to me. I went into inspect mode at http://localhost:5000 and went into the Application tab, and clicked Clear Site Data at the bottom. Hope this works for you.

[2018-07-10 20:37] #1384 closed

[2018-07-10 20:37] Petermarcu commented on #1384
Issue moved to [dotnet/cli #9637](https://github.com/dotnet/cli/issues/9637) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-10 20:38] Petermarcu commented on #1719
Closing in favor of https://github.com/dotnet/core/issues/1765

[2018-07-10 20:38] #1719 closed

[2018-07-10 20:38] Petermarcu commented on #1520
Closing in favor of the latest updates: https://github.com/dotnet/core/issues/1765

[2018-07-10 20:38] #1520 closed

[2018-07-10 20:40] #1763 closed

[2018-07-10 20:40] Petermarcu commented on #1763
Issue moved to [dotnet/corefx #30961](https://github.com/dotnet/corefx/issues/30961) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-10 20:41] Petermarcu commented on #1726
Moving to corefx

[2018-07-10 20:41] #1726 closed

[2018-07-10 20:41] Petermarcu commented on #1726
Issue moved to [dotnet/corefx #30962](https://github.com/dotnet/corefx/issues/30962) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-10 20:42] #1576 closed

[2018-07-10 20:44] #1584 closed

[2018-07-10 20:44] Petermarcu commented on #1584
Issue moved to [dotnet/coreclr #18856](https://github.com/dotnet/coreclr/issues/18856) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-10 20:45] #1577 closed

[2018-07-10 20:45] Petermarcu commented on #1577
Issue moved to [dotnet/corefx #30963](https://github.com/dotnet/corefx/issues/30963) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-10 20:46] #1553 closed

[2018-07-10 20:46] Petermarcu commented on #1553
Issue moved to [dotnet/cli #9638](https://github.com/dotnet/cli/issues/9638) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-10 20:47] Petermarcu commented on #1562
@terrajobst

[2018-07-10 21:00] terrajobst commented on #1562
Are you only using the MSBuild assembly for this type? In that case, you should replace it with the standard `KeyValuePair<string, string>` or `ValueTuple<string, string>`.

[2018-07-10 23:51] shmellyorc commented on #1753
I am running dotnet core standard 2.1 on a ubuntu 18.10 server using an async tcp game server. its not "asp.net" but it has been running for months with over 25-50 ppl daily. no issues yet.

[2018-07-11 06:51] luqq opened #1769 "Debug symbols link in 2.1.2 download release notes looks wrong"
In
https://github.com/dotnet/core/blob/master/release-notes/download-archives/2.1.2-download.md
Debug symbols for:
Shared Framework:
https://download.microsoft.com/download/1/f/7/1f7755c5-934d-4638-b89f-1f4ffa5afe89/coreclr-2.1-preview1-symbols.zip
and Runtime:
https://download.microsoft.com/download/1/f/7/1f7755c5-934d-4638-b89f-1f4ffa5afe89/corefx-2.1-preview1-symbols.zip

[2018-07-11 07:19] Petermarcu commented on #1769
@dagood do you know what the appropriate links are?

[2018-07-11 08:51] Scandal-UK commented on #1765
On CentOS running ```yum update``` fails with the following error.

[code]

[2018-07-11 09:17] dinjonya opened #1770 "can not install dotnet-sdk-2.1 on centos7.2"
on centos7.2
sudo yum install dotnet-sdk-2.1
install need compat-openssl10
who can help me

[2018-07-11 09:34] mvanbaak opened #1771 "Unable to install dotnet-sdk-2.1 on Centos"
Unable to install dotnet-sdk-2.1 because of missing dependency

See commands and output below.
The problem is with the dotnet-runtime-deps-2.1 package. dotnet-runtime-2.1 depends on version 2.1.2 or newer, but only 2.1.1 is available:

[code]

[2018-07-11 10:53] jchannon commented on #930
Installing Net Core 2.1 on Amazon Linux still seems to be an issue :(

[2018-07-11 11:01] dncAdmin opened #1772 "vs2017 new project shows wrong version of .net core 2.1.2"
After installing .net core SDK 2.1.302 with Runtime 2.1.2 ,

vs2017 15.7.5 -> new project -> asp.net core project still shows the version of 2.1.1 and 2.1.0 in the Nuget and SDK dependence.

it should be 2.1.2

![image](https://user-images.githubusercontent.com/38060128/42567756-57f52f2c-853d-11e8-85d9-0169e173af07.png)

PC:

Win10

[2018-07-11 11:04] dncAdmin commented on #1765
vs2017 17.5 new project shows wrong version of .net core 2.1.2

After installing .net core SDK 2.1.302 with Runtime 2.1.2 ,

vs2017 17.5 -> new project -> asp.net core project still shows the version of 2.1.1 and 2.1.0 in the Nuget and SDK dependence.

it should be 2.1.2

![Uploading image.png…]()

PC:

Win10

[2018-07-11 12:00] leodip opened #1773 "Can't "yum update" on Centos"
When I try to "yum update" on Centos, I get the output below.

(...)
[code]

My "dotnet --info" is:

[code]

Can anyone help me?

Thanks

[2018-07-11 13:10] nhuthan opened #1774 "Error when install dotnet-sdk-2.1 on centos 7"
I get this error:
[code]
Please help

[2018-07-11 14:50] wfurt commented on #930
What base OS do you use and what .Net package? Did you check that everything works using tar distro? I'm trying to figure out if this is pure packaging issue or if there are really missing dependencies.

[2018-07-11 14:54] jchannon commented on #930
I did `sudo rpm -Uvh https://packages.microsoft.com/config/rhel/7/packages-microsoft-prod.rpm and yum update and yum install dotnet-sdk-2.1`

Output is below:

[code]

[2018-07-11 15:01] dagood commented on #1769
I don't. /cc @leecow @SusLes (+Padmasri, but I don't know the alias)

The correct links should be CoreCLR, CoreFX, and Core-Setup, like [2.1.1](https://github.com/dotnet/core/blob/master/release-notes/download-archives/2.1.1-download.md).

[2018-07-11 15:49] kdubau opened #1775 "release.json is incorrect for sdk 2.1.302"
This line here: https://github.com/dotnet/core/blob/master/release-notes/releases.json#L25 - from all previous releases, and other files, this line should be only the file name, not a full path.

It is causing issues on macOS when using the DotNetCoreInstaller task (https://github.com/Microsoft/vsts-tasks/tree/b7244f9d952f36690fcb7792b56fd7d9e3eaf58e/Tasks/DotNetCoreInstallerV0):

[2018-07-11 16:02] wfurt commented on #930
cc: @tmds. seems like  it cannot find dotnet-runtime-deps-2.1 -2.1.2

[2018-07-11 16:37] tmds commented on #930
@wfurt, @jchannon is installing from Microsoft feed. Are those packages missing?

[2018-07-11 16:45] jchannon commented on #930
just followed the instructions here https://www.microsoft.com/net/download/linux-package-manager/centos/sdk-current

[2018-07-11 16:50] Scandal-UK commented on #1773
They haven't properly released 2.1.2 on YUM. I'm sure they will fix it soon...

https://github.com/dotnet/core/issues/1765

[2018-07-11 17:01] fulte004 opened #1776 "Using ILoggerFactory.AddEventLog() + ILogger.LogInformation() produces Windows Event entries with "the message resource is present but the message is not found in the string/message table" messages | missing EventLogMessages.dll message file"
Following documentation found at [https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-2.1#log-category](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-2.1#log-category), I configured my ASP.NET Core 2.1 MVC app as follows:

[code]
Note that it is using a static class to provide direct reference to the ILogger object reference.

I'm

[2018-07-11 17:09] leecow commented on #930
Looks like the updated runtime-deps and sdk didn't make the upload. Checking into this now.

[2018-07-11 17:21] leecow commented on #930
Alrighty, sorry about that. Give it another whirl now.

[2018-07-11 18:36] #1747 closed

[2018-07-11 18:37] Eilon commented on #1583
This issue was moved to aspnet/Mvc#8054

[2018-07-11 18:37] #1583 closed

[2018-07-11 18:41] Eilon commented on #1233
I'm pretty sure that the Authorize attribute is designed to work with the rest of ASP.NET Core's security/auth system. It might be possible to use it in other ways, but that is probably outside of the scope of supported scenarios. If you still have issues with this, please log a new issue at https://github.com/aspnet/Security/issues

[2018-07-11 18:41] #1233 closed

[2018-07-11 18:42] Eilon commented on #1696
@Petermarcu this issue appears to be related to errors in the client, not the server (the server isn't ASP.NET Core).

[2018-07-11 18:45] Eilon commented on #1732
@lucasgalone there is not enough information to reproduce this issue. It likely means that the required service `ISaleService` was not registered in the DI container. Please note that services need to be registered *as the interface* and not the concrete type. For example, registering the `SaleService` implementation as the `SaleService` service type wouldn't work - it needs to be registered at th

[2018-07-11 18:45] #1732 closed

[2018-07-11 18:45] Eilon commented on #1739
@Petermarcu this doesn't seem related to ASP.NET Core directly.

@PavelMekhnin - can you provide more info about the problem, such as your code, or other project info?

[2018-07-11 18:51] Eilon commented on #1594
This issue was moved to aspnet/JavaScriptServices#1718

[2018-07-11 18:51] #1594 closed

[2018-07-11 19:00] Eilon commented on #1254
@Petermarcu - this seems unlikely to be related to ASP.NET Core because the package in question is not even in ASP.NET Core's package graph.

Also, I wasn't able to reproduce this on my machine, so this might be fixed in newer builds anyway.

[2018-07-11 19:17] daemnin commented on #1636
At this point I haven't been able to replicate this issue, so I'm closing it, if I manage to consistently recreate it I will reopen including a minimal repository

[2018-07-11 19:17] #1636 closed

[2018-07-11 19:33] jchannon commented on #930
A bit better but now says runtime needs openssl-libs.

I added yum install openssl-libs but it says "No package openssl-libs
available."

On 11 July 2018 at 18:21, Lee Coward <notifications@github.com> wrote:

[2018-07-11 20:15] wfurt commented on #930
That goes back to original issue. AMI Linux names packages different than RedHat. Now, assuming you have correct openssl 1.0.x installed you can try following trick:

[openssl-libs-ami.spec.txt](https://github.com/dotnet/core/files/2186067/openssl-libs-ami.spec.txt)

Download attached spec file.

`rpmbuild --bb  openssl-libs-ami.spec.txt`
That should produce empty openssl-libs in  /root/rpmbuild/R

[2018-07-12 01:19] nhuthan commented on #1774
I tried today and everything installed successful on CentOS 7.4
I run `yum -y install deltarpm unzip zlib gettext libunwind libicu libcurl-devel openssl-devel libicu-devel` before install dotnet sdk.

[2018-07-12 03:44] gayan1991 commented on #1706
@paulbatum Have you moved this issue to Azure Mobile apps or should I create new issue over there?

[2018-07-12 08:45] mvanbaak commented on #1771
This issue has been resolved.

[2018-07-12 08:45] #1771 closed

[2018-07-12 08:49] mo-norant commented on #1675
Worked for me Thanks

[2018-07-12 11:41] gitorrin opened #1778 "[SDK 2.1.300] Command 'dotnet publish' fails for projects with GeneratePackageOnBuild=true"
Command 'dotnet publish' fails for projects publishing with GeneratePackageOnBuild=true.
TargetFramework is netcoreapp2.0.

`<PropertyGroup>
    <TargetFramework>netcoreapp2.0</TargetFramework>
    <GeneratePackageOnBuild>true</GeneratePackageOnBuild>
  </PropertyGroup>`

This used to work with the previous SDK version 2.1.101.
The error it generates is:
"C:\Program Files\dotnet\sdk\2.1.300\Sdks\M

[2018-07-12 11:52] dasMulli commented on #1778
Do you have ay steps to reproduce? what project type is affected? I couldn't reproduce with a couple of configurations I thought you could have.

[2018-07-12 12:34] gitorrin commented on #1778
Sorry, apparently I haven't added enough details. Thank you for reacting so fast.

1. Create new VS solution.
2. Add new Net Core project (ClassLibrary1), type class library (make sure csproj shows TargetFramework =netcoreapp2.0)
3. Set the project property GeneratePackageOnBuild=true (csproj)

csproj file content:
`<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <TargetFramework>netcoreap

[2018-07-12 13:14] dasMulli commented on #1778
Thanks, can repro now. the important part to the repro is that no `dotnet build` etc. have been called before.

[2018-07-12 13:14] softlion opened #1779 "ubuntu 16, sdk 2.1 still in rc1 ?"
Hi, i followed the instructions to install .net core SDK 2.1 on ubuntu 16 using apt-get (SDK 2.0 was already installed).

It seems only the 2.1 rc1 is available, not the 2.1 final. Any schedule / thoughts ?

[2018-07-12 13:18] dasMulli commented on #1778
@nguerrera the problem here is that the new `--no-build` option for publish is interfering with the existing NuGet logic for `GeneratePackageOnBuild` which has logic to not trigger a build again while packing.

In essence, both pieces of logic use `$(NoBuild)` for this 😱

[2018-07-12 13:21] dasMulli commented on #1778
@gitorrin you are right, this is a regression in 2.1.3xx. The workaround is to explicitly build (`dotnet build`) before publishing.

[2018-07-12 13:36] gitorrin commented on #1778
Thanks for looking into this, @dasMulli.

[2018-07-12 15:30] MarcoTheFirst commented on #1464
I totally agree. There are enough indications that a method is async:

1. Return type is Task / Task<>
2. Code completion presents an awaitable hint
3. the IDE will warn you by underlining in green
4. Compiler will present a warning when task is not awaited.

Using the Async suffix only makes sense if your API offers the same functionality in both flavors:

[code]

For any other use case, using th

[2018-07-12 16:05] #1769 closed

[2018-07-12 16:13] Jcouls29 opened #1781 "Question: Automatic Patch Updates for .NET Core"
# Automatic Patch Updates for .NET Core

This isn't really an issue so much as a question. Our group here is attempting to start moving to .NET Core for our web applications. However, IT has some concerns about patching and automatic updates to .NET Core over time. The nice thing about the .NET Framework is that new versions are installed via Windows Updates, and for them, we only have to schedule

[2018-07-12 17:52] jjxtra opened #1783 "Unable to run self contained on 64 bit Red Hat"
I am running Red Hat 64 bit. I get the following error when running self-contained x64 Linux builds:
[code]

This is with latest .NET core as of July 12, 2018 (2.1.302). I am running in Virtual Box. This build works fine on Ubuntu Server 64 bit.

Here is CPU info:

[code]

Please advise...

[2018-07-12 20:14] Petermarcu commented on #1781
@richlander @dleeapho

[2018-07-12 20:20] Petermarcu commented on #1254
@weshaggard is this a corefx issue?

[2018-07-12 20:21] Petermarcu commented on #1696
Issue moved to [dotnet/corefx #31034](https://github.com/dotnet/corefx/issues/31034) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-12 20:21] #1696 closed

[2018-07-12 20:22] Petermarcu commented on #1783
How did you publish your application?

[2018-07-12 20:32] jjxtra commented on #1783
Visual Studio
![publishscreenshot](https://user-images.githubusercontent.com/1271832/42657727-5ca770ea-85e0-11e8-8127-d7612642bafe.png)
. Same published binary works fine on Ubuntu Server. Screenshot attached.

[2018-07-12 21:32] weshaggard commented on #1254
I suspect this is because of the older toolset that doesn't support conflict resolution. @ivan-vargas please update your .NET SDK and try again I believe this will not be any issue for you.

[2018-07-12 21:32] #1254 closed

[2018-07-12 21:34] Petermarcu commented on #1783
Is this Redhat 7.2 or higher?

[2018-07-12 21:36] Petermarcu commented on #1778
Issue moved to [dotnet/cli #9656](https://github.com/dotnet/cli/issues/9656) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-12 21:38] Petermarcu commented on #1779
You followed the instructions here?: https://www.microsoft.com/net/download/linux-package-manager/ubuntu16-04/sdk-current

Is this Ubuntu 16.04 or 16.10?

[2018-07-12 21:43] Petermarcu commented on #1775
Talked to @leecow and there was a challenge with releasing some of the content to the normal place so the ones with url's are the ones in different locations.

[2018-07-12 21:46] Petermarcu commented on #1734
The answer is that while its not supported, there are ways to get it working. The full end to end experience hasn't been completed and we haven't been able to extensively test the product on arm64 which is why its not a complete product or something we officially support yet.

[2018-07-12 21:46] #1734 closed

[2018-07-12 21:47] Petermarcu commented on #1706
@gayan1991 go ahead and move the issue over there. I'll close it here for now.

[2018-07-12 21:47] #1706 closed

[2018-07-12 21:48] #1670 closed

[2018-07-12 21:48] Petermarcu commented on #1670
Issue moved to [dotnet/coreclr #18894](https://github.com/dotnet/coreclr/issues/18894) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-12 21:50] Petermarcu commented on #1713
Does this leave this where there is just the need to have the docs updated as mentioned above?

https://docs.microsoft.com/en-us/dotnet/core/linux-prerequisites?tabs=netcore2x#supported-linux-versions says nothing about ARM so needs to have current info added. @JRAlexander

[2018-07-12 21:52] Petermarcu commented on #1739
@PavelMekhnin can you also let us know what you updated from? For example, were you on 2.1.0 and went to 2.1.1 or were you on 1.0 and moved to 2.1.1?

[2018-07-12 21:52] Petermarcu commented on #1573
I'm going to close this now. The coreclr issue mentioned above is the best place to track progress and ask questions

[2018-07-12 21:52] #1573 closed

[2018-07-12 21:55] Petermarcu commented on #1541
@richlander do you need this issue open to track this or can it just be closed and referenced from where you are tracking it?

[2018-07-12 21:56] Petermarcu commented on #1563
Issue moved to [dotnet/corefx #31036](https://github.com/dotnet/corefx/issues/31036) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-12 21:56] #1563 closed

[2018-07-12 21:57] Petermarcu commented on #1535
@barrytang @Pilchie can you help with this one? Where should the issue get tracked?

[2018-07-12 21:57] jjxtra commented on #1783
Yes.

[code]

[2018-07-12 21:58] Petermarcu commented on #1562
@abhisheksaxena741 I'm going to close this now based on the guidance given by @terrajobst . Let us know if that wont work and we can discuss further if needed.

[2018-07-12 21:58] #1562 closed

[2018-07-12 22:00] Petermarcu commented on #1527
@Alissonerdx I'm not sure this is the right forum for that conversation. I'm going to close this issue now.

[2018-07-12 22:00] #1527 closed

[2018-07-12 22:01] #1515 closed

[2018-07-12 22:01] Petermarcu commented on #1515
Issue moved to [dotnet/corefx #31037](https://github.com/dotnet/corefx/issues/31037) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-12 22:02] Petermarcu commented on #1506
Closing this now as .NET Core 2.1 has released.

[2018-07-12 22:02] #1506 closed

[2018-07-12 22:03] #1499 closed

[2018-07-12 22:03] Petermarcu commented on #1499
Issue moved to [dotnet/cli #9657](https://github.com/dotnet/cli/issues/9657) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-12 22:03] Petermarcu commented on #1449
@richlander @jaredpar anything else left to track here?

[2018-07-12 22:07] Petermarcu commented on #1783
Looks like it should have worked just like it did on Ubuntu. @janvorli @jkotas @jeffschwMSFT @steveharter  any ideas?

[2018-07-12 22:09] jjxtra commented on #1783
I don't know if it makes a difference, but I am running in VirtualBox on a threadripper 1950x CPU. Perhaps it is new enough to not quite be supported?

[2018-07-12 22:14] Petermarcu commented on #1783
Adding @RussKeldorph

[2018-07-12 22:18] Petermarcu commented on #1133
@janvorli Did this get fixed in .NET Core 2.1?

[2018-07-12 22:20] Petermarcu commented on #1251
@weshaggard any thoughts? @TerraVenil is this still a problem for you?

[2018-07-12 22:32] jjxtra commented on #1783
It's also worth noting that I can run ``` /usr/bin/dotnet MyApp.dll ``` and it works fine.

[2018-07-12 22:37] jjxtra commented on #1781
Just throwing my hat in the ring for self-contained deployment. Not sure if this is an option for you, or if your application will get deployed and updated regularly, but it could work. Now if you have dozens or hundreds of .NET core applications on each server, then this will not be size friendly until the corert linker gets fully finished and working.

[2018-07-13 05:19] PavelMekhnin commented on #1739
@Petermarcu I updated from 2.0.6 to 2.1.1 and it broked. I'm sure it's bacouse of update.
how I send request before and its worked:
`var ub = new UriBuilder(managementUri)
                {
                    UserName = rabbitMqConfig.User,
                    Password = rabbitMqConfig.Password
                };

                var client = new RestClient(ub.Uri);
                try

[2018-07-13 06:33] softlion commented on #1779
Yes following the instructions leads to Net core 2.0 install only. 16.04

[2018-07-13 07:16] saurabhlogward opened #1784 "Suggestion: Dotnet core project template to support Grpc with DI and additional middle-wares"
# Issue Title
dotnet core has some basic template to work with MVC based web api's. These template supports many things like DI and support for various middle-wares. But no template as such to support Grpc along with DI and middle-wares.

# General

My Development Environment:
dotnet core 2.1.301
ubuntu 16.04

What I am trying to do is to leverage the web api template to use the Grpc, in order to

[2018-07-13 09:01] TerraVenil commented on #1251
After migration to netstandard2.0 issue dissapeared.

[2018-07-13 14:08] Jcouls29 commented on #1781
@jjxtra That's always an option. And I've tossed that around. Obviously, the size issue is concerning, but at least we can patch things. We'd have to set up a better deployment story on our end but it is possible.

Maybe I'm missing something about .NET Core. I know that 1.0, 1.1 are compatible and 2.0+ is. But let's say you have 2.0.0 installed with an application referencing it, if you install 2

[2018-07-13 14:35] jjxtra commented on #1781
As far as I am aware it will use highest compatible version unless you
specify an explicit version in the csproj.

-- Jeff

On Fri, Jul 13, 2018 at 8:08 AM Jcouls29 <notifications@github.com> wrote:

[2018-07-13 14:40] dleeapho commented on #1781
@Jcouls29 have you considered containerizing your apps with Docker (in this case, using containers as a means to ease deployment and update-- not necessarily as microservices)? @richlander recently blogged about it: https://blogs.msdn.microsoft.com/dotnet/2018/06/18/staying-up-to-date-with-net-container-images/

[2018-07-13 14:41] steveharter commented on #1783
@jjxtra some thoughts
1) Verify the permission of your executable. Compare with `/opt/rh/rh-dotnet21/root/usr/bin/dotnet`
2) Verify you have the correct executable. Run `file <myapp>` to see if it reports back a valid executable file and as x86-64. Compare that with `file /opt/rh/rh-dotnet21/root/usr/bin/dotnet`
3) Run `strace` on your executable and report back the output

[2018-07-13 15:05] BJMdotNET opened #1785 "Incorrect link on https://github.com/dotnet/core/blob/master/release-notes/download-archive.md"
On the page https://github.com/dotnet/core/blob/master/release-notes/download-archive.md , in ".NET Core 2.0", the ""download" link of "2018/05/08 | 2.0.7 with SDK 2.1.200" is broken. Links to https://github.com/dotnet/core/blob/master/release-notes/download-archives/2.1.200-sdk-download but this gives a 404.

[2018-07-13 15:46] Eilon commented on #1776
This issue was moved to aspnet/Logging#858

[2018-07-13 15:46] #1776 closed

[2018-07-13 15:50] Eilon commented on #1566
This issue was moved to aspnet/Home#3328

[2018-07-13 15:50] #1566 closed

[2018-07-13 15:54] Eilon commented on #1529
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-07-13 15:54] #1529 closed

[2018-07-13 15:57] Eilon commented on #1514
This issue was moved to aspnet/Home#3329

[2018-07-13 15:57] #1514 closed

[2018-07-13 15:58] Eilon commented on #1194
This issue was moved to madskristensen/BundlerMinifier#373

[2018-07-13 15:58] #1194 closed

[2018-07-13 16:08] Tankatronic commented on #1178
Also seeing this issue even when running as a local site outside of visual studio. Path is null but PathBase is not. I did try to delete my .vs folder but that did not resolve it.

[2018-07-13 16:11] Petermarcu commented on #1126
Since there hasn't been any further conversation here, I'm going to close this now. If there are follow ups, please open an issue in http://www.github.com/dotnet/source-build

[2018-07-13 16:11] #1126 closed

[2018-07-13 16:12] #1773 closed

[2018-07-13 16:12] Petermarcu commented on #1773
Issue moved to [dotnet/core-setup #4365](https://github.com/dotnet/core-setup/issues/4365) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-13 16:13] Petermarcu commented on #1785
@leecow

[2018-07-13 16:16] Petermarcu commented on #1785
Fixed with https://github.com/dotnet/core/commit/aedc86a1963cafd6228a455c3880a02ab25d8901

[2018-07-13 16:16] #1785 closed

[2018-07-13 16:18] Petermarcu commented on #1494
@glennc where is the best place for @patelmiral81 to follow all the work we're doing for microservices?

[2018-07-13 16:18] Pilchie commented on #1535
This is a NuGet issue with packages.config, not related to .NET Core at all.  Adding @rrelyea

[2018-07-13 16:18] Petermarcu commented on #1735
Issue moved to [dotnet/corefx #31052](https://github.com/dotnet/corefx/issues/31052) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-13 16:18] #1735 closed

[2018-07-13 16:23] #1251 closed

[2018-07-13 16:28] Petermarcu commented on #1488
Looks like this can be closed now.

[2018-07-13 16:28] #1488 closed

[2018-07-13 16:30] Petermarcu commented on #1501
Issue moved to [dotnet/cli #9659](https://github.com/dotnet/cli/issues/9659) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-13 16:30] #1501 closed

[2018-07-13 16:32] Petermarcu commented on #1489
Looks like the original request here was answered so I'm going to close this now. If there are follow ups, please open new issues specific to those.

[2018-07-13 16:32] #1489 closed

[2018-07-13 16:33] Petermarcu commented on #1247
I'm going to close this here and let it be tracked by dotnet/sdk#1539

[2018-07-13 16:33] #1247 closed

[2018-07-13 16:34] Petermarcu commented on #1393
Closing since we took the PR a while ago.

[2018-07-13 16:34] #1393 closed

[2018-07-13 16:42] rrelyea commented on #1535
Yes, this is a known limitation of projects which use packages.config (nuget v1) to manage their dependencies.
Moving that project to PackageReference (nuget v4) will avoid that problem.

Please engage with the nuget team at github.com/nuget/home as needed.

[2018-07-13 16:48] Petermarcu commented on #1535
Ok, I'm going to close this issue here. @darewreck54 go ahead and follow up in github.com/nuget/home to dig in.

[2018-07-13 16:48] #1535 closed

[2018-07-13 16:49] davidfowl commented on #1784
Google's GPRC server doesn't integrate with DI, nor does it have a middleware pipeline (AFAIK). We haven't done enough work yet in this area to give a definitive answer but I can tell you the current thinking (at least my thinking).
- We're working on HTTP2 support right now in Kestrel
- Support GRPC as a feature within MVC itself

The sample has a bunch of problems but to your point there is no g

[2018-07-13 16:57] leecow commented on #1779
Everything looks ok from the repo so something is keeping your local package list from updating. Have you tried `apt-get clean` to reset the caches?

Output from a test on a clean Docker container.

[code]

[2018-07-13 16:57] Petermarcu commented on #1493
Hi @emanueleleoni are you still hitting this? This usually happens because the folder that is copied to the raspberry pi isn't the published folder and is missing some stuff.

[2018-07-13 17:03] saurabhlogward commented on #1784
So if someone want to work with dotnet core with grpc framework, then they have to cook their own project structure(like the one in the link)?
Any suggestions ?
When will the points you mentioned about http2 support and grpc as a feature available ?

[2018-07-13 17:10] leecow commented on #1770
Strange, we had not seen that issue on CentOS before. There are a couple options - 1) update the CentOS to the latest (7.4 I think) which should remove the dependency or 2) since I don't see the package on the default centos feeds, download the compat-openssl10 rpm (possibly from https://pkgs.org/download/compat-openssl10) and install.

/cc @omajid for other ideas.

[2018-07-13 17:15] davidfowl commented on #1784
You'd probably host the GRPC server side by side with the main server instead of replacing it since it doesn't compose very well. For middleware, you'd have to use whatever google provided. Basically, the GRPC support that exists today from Google is a different framework that doesn't integrate at all. I'm not sure integrating it is trivial without design changes to their stack but I haven't looke

[2018-07-13 17:41] glennc commented on #1494
@patelmiral81 Specifically for CF stuff checkout out Steeltoe (https://github.com/SteelToeOSS). It's sponsored by Pivotal with the goal of bringing all the CF stuff you are used to into .NET. They are .NET Foundation members and we've talked a bunch of times about making .NET better for them to extend in this direction.

For the env vars, we support retrieving and overriding config values from env

[2018-07-13 17:42] omajid commented on #1770
`compat-openssl10`? That almost sounds like a Fedora package. Are you sure this is CentOS? Where did you get the package from? What does `yum info dotnet-sdk-2.1` say?

[2018-07-13 17:51] GearsAD commented on #1494
+1
In .Net core automatic vcap binding would be really neat. For cloudfoundry we wrote our own and it has led to a herd of issues.

[2018-07-13 18:31] glennc commented on #1494
Looks like the Steeltoe config provider binds VCAP variables to config data: http://steeltoe.io/docs/steeltoe-configuration/#1-0-cloud-foundry-provider

That seems like the right place for it, a package built by a team closest to CF supporting the CF features like VCAP. Did you expect something more than just getting the data or was there something stopping you from using Steeltoe that we should t

[2018-07-13 18:47] GearsAD commented on #1494
At least for my comment, its more about discoverability. I have a todo to take a look at it, much appreciated for the reference.

[2018-07-13 22:17] davidsh commented on #1739
@PavelMekhnin what OS are you using? Windows?  Linux?

[2018-07-14 05:34] softlion commented on #1779
Thank you for your time. I see dotnet-sdk-2.1/xenial 2.1.302-1 amd64 in your listing. I'm asking my team expert.

[2018-07-14 13:52] patelmiral81 commented on #1494
Thank you Glenn and Petermarcu. Yes steeltoe is there but I was little concern about roadmap and support of that project as I was not seeing much activities in past. But now since you (MS) are advocating it I believe its safe to use that for production applications.
Idea here was to bring awareness and I think we all agree that .net core need to bridge some gaps. Steeltoe is perfect framework to m

[2018-07-15 03:01] SteveL-MSFT opened #1786 "Links for debug symbols of 2.1.2 release don't work"
On page https://github.com/dotnet/core/blob/master/release-notes/download-archives/2.1.2-sdk-download.md the links to the debug symbols fail to download.  Getting an invalid response error.  Both the Shared Framework and Runtime links fail.

[2018-07-15 09:32] drk-mtr opened #1787 "Link for "Download the latest .NET Core SDK" on the main page Readme.md is broken"
# Issue Title

Link for "Download the latest .NET Core SDK" on the main page Readme.md (URL https://github.com/dotnet/core/blob/master/release-notes/download-archives/2.1.302-download.md) is broken

# General

Thanks to the dotnet core team for a brilliant product / ecosystem. One issue is that I often find versioning difficult i.e. it's hard to find a "single source of truth" that will tell me wh

[2018-07-15 13:06] llinyu opened #1788 "Link for download 32-bit Linux ARM "Runtime Binaries" is "SDK Binaries""
# .NET Core 2.1.2 Download link error

Link for download 32-bit Linux ARM "Runtime Binaries" is "SDK Binaries".

[2018-07-15 13:57] HNeukermans commented on #1114
installing vs 15.7.5 fixed my problem

[2018-07-15 14:44] jjxtra commented on #1783
```chmod +x``` fixed it! That's awesome. Wish the error message was more clear, but that is not a dotnet issue. I am not an expert Linux user apparently either. Thanks so much for the suggestion.

[2018-07-15 14:44] #1783 closed

[2018-07-16 06:32] PavelMekhnin commented on #1739
@davidsh Linux
@karelz yes, before it  worked with just uriBuilder and cridensionals
[code]

[2018-07-16 07:17] vineetmimrot opened #1790 "releases.json file has invalid entry for sdk-mac-x64"
https://github.com/Microsoft/vsts-tasks/issues/7731

Because of the [recent commit](https://github.com/dotnet/core/commit/2f2194c11cff7248c57f2f0938f3570b807e0ba5#diff-134da986ed7a3f87e53f741ec8db93c2) in releases.json file, VSTS DotNetCore Installer Task is failing. We have raised the [Pull request](https://github.com/dotnet/core/pull/1789), can you please merge it on priority.

[2018-07-16 14:49] shaulbehr opened #1791 "Character encoding errors with .NET Core on Linux"
This has been driving me batty for days, and I've finally got it down to a simple, reproducible issue.

I have a NUnit test project, which is .NET Core 2.1. It references a library (let's call it "Core") which is .NET Standard 2.0.

In my test project:
[code]
and in the `Core` project in the `StringUtilities` class:
[code]
Both classes have defined a list of special characters:
[code]
In a Windows

[2018-07-16 15:24] vellozzi opened #1792 "The links on the release page for this repo are often broken"
# Issue Title
The links on the release page for this repo are often broken.

# General
The links to the repo tags in many releases on https://github.com/dotnet/core/releases are broken.
We use this page to find the tags of the repos that we need to build together.

- Is there somewhere more reliable that we can find the combination of repo tags we need to build for each SDK release?
- Can you do a

[2018-07-16 15:28] VitaliiNikitchyn opened #1793 "Missing support of T4 Template in ASP NET CORE MVC project"
# Missing support of T4 Template in ASP NET CORE MVC project

There is no possibility to add "Text Template" from Add -> New Item -> ...  In ASP NET CORE MVS project

Does T4 Templating supports by .NET Core ?

[2018-07-16 15:53] Eilon commented on #1494
Hi all, I'm closing this issue because I think answers were provided to the question. If people have additional ASP.NET Core specific questions, please log them at https://github.com/aspnet/Home. Thanks!

[2018-07-16 15:53] #1494 closed

[2018-07-16 16:19] Eilon commented on #1784
Closing this issue because there are no current plans to implement these suggestions. If you have further thoughts, please log an issue in the ASP.NET Core Templating repo: https://github.com/aspnet/Templating/. Thanks!

[2018-07-16 16:19] #1784 closed

[2018-07-16 16:22] Eilon commented on #1753
@DamianEdwards / @jongalloway / @shanselman - do we have any public-facing list of sites running ASP.NET Core, especially on Linux? Maybe some whitepapers? I did a few searches and couldn't find anything.

[2018-07-16 16:54] davidsh commented on #1739
.NET Core 2.0 on Linux used CurlHandler as the HTTP stack.  CurlHandler supported embedded username/password in the URL with formats such as:

[code]

.NET Core 2.1 on Linux uses SocketsHttpHandler.  SocketsHttpHandler is following a stricter security model where embedded username/password is ignored in the URL.

In general, the recommendation is to use place username/password in the HttpClientHan

[2018-07-16 17:02] danmosemsft commented on #1786
@dleeapho do you know who owns this? Powershell folks need it to do profiling for us.

[2018-07-16 18:00] karelz commented on #1739
Sounds like by design then. @PavelMekhnin is it ok to close? Or do you think the workaround is not acceptable?

[2018-07-16 18:20] leecow commented on #1556
Link mentioned in this issue is updated.

[2018-07-16 18:21] dleeapho commented on #1786
@leecow , @dagood PTAL.

[2018-07-16 18:22] leecow commented on #1792
Went through cli, core, coreclr, corefx and coresetup releases back to 1.1.8 and corrected links. Hopefully I didn't miss anything.

[2018-07-16 18:22] #1792 closed

[2018-07-16 18:25] leecow commented on #1790
The current entry is a workaround until an issue with https://download.microsoft.com can be resolved. Hopefully that issue will be addressed in the next day or so, then the releases.json can be updated. There is a breaking change coming to the json file in which the entire url will be included in the file metadata. Have a look at https://github.com/dotnet/core/blob/master/release-notes/releases-v2

[2018-07-16 18:30] #1788 closed

[2018-07-16 18:35] leecow commented on #1787
Thanks @drk-mtr - fixed. We're working on some structural and content updates which we hope will help.

[2018-07-16 18:35] #1787 closed

[2018-07-16 18:43] #1786 closed

[2018-07-16 18:47] leecow commented on #1774
@nhuthan did it install 2.1.2 or 2.1.1? `dotnet --info` will report everything that's installed.

[2018-07-16 19:31] #1790 closed

[2018-07-16 19:33] leecow commented on #1775
Fixed by https://github.com/dotnet/core/pull/1789

@kdubau - There is a significant (ie, breaking) change coming to the metadata format probably with the August release.. Have a look at https://github.com/dotnet/core/blob/master/release-notes/releases-v2.json.

[2018-07-16 19:33] #1775 closed

[2018-07-16 19:33] #1779 closed

[2018-07-16 19:35] leecow commented on #1765
@mrbigtities and @Scandal-UK - let me know if you're still having issues with CentOS installs.

[2018-07-16 19:41] leecow commented on #1781
@Jcouls29 - This is a topic we're definitely talking about. Today, you could do work on your side to keep monitor our release metadata file for updates. The current version is [here](https://github.com/dotnet/core/blob/master/release-notes/releases.json) and a draft of a major update (going live with the August release) is [here](https://github.com/dotnet/core/blob/master/release-notes/releases-v2

[2018-07-16 19:43] leecow commented on #1793
@natemcmaster / @Eilon

[2018-07-16 20:15] Eilon commented on #1793
Hi @VitaliiNikitchyn , there is no direct T4 support in runtime in ASP.NET Core MVC. If you're looking for T4 support in Visual Studio, please use the [Report a Problem](https://developercommunity.visualstudio.com/) tool in VS.

If you encounter a problem with Visual Studio, we want to know about it so that we can diagnose and fix it. By using the Report a Problem tool, you can collect detailed in

[2018-07-16 20:15] #1793 closed

[2018-07-16 20:32] VitaliiNikitchyn commented on #1793
Thanks for your response, Eilon

One more question:
You told that "There is no direct T4 support in runtime in ASP.NET Core MVC"
Is there another way to include T4 in this kind of ptoject ?

The probleme is that I have a code generation module written in T4. The module was created as a part of .NET Framework MVC project. Now I would like to port my project from .NET Framework to .Net Core and I wa

[2018-07-16 20:51] Eilon commented on #1793
@VitaliiNikitchyn sorry not that I'm aware of. All I meant was that in theory someone could write support for it, but there isn't anything built-in.

[2018-07-16 21:01] danmosemsft commented on #1786
@SteveL-MSFT good to go?

[2018-07-16 21:05] Eilon commented on #1752
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-07-16 21:05] #1752 closed

[2018-07-16 21:11] SteveL-MSFT commented on #1786
@danmosemsft thanks for following up on this, just tried a link and worked.  Thanks.

[2018-07-17 01:23] Jcouls29 commented on #1781
@dleeapho I have personally thought about docker (and did some basic prototypes for some of our software), but that's a hard sell to a small enterprise IT group. Too much of a learning curve to do it any time soon. But I will start to introduce it to get feedback. Getting them to consider .NET Core from .NET Framework 4.5 has been a hard sell up to this point...

@leecow This could work, at least

[2018-07-17 01:31] nhuthan commented on #1774
Here is dotnet info:
[code]
I run `yum install dotnet-sdk-2.1`

[2018-07-17 03:31] #1739 closed

[2018-07-17 08:57] beylkhanovdamir commented on #1765
@leecow why VS v.15.7.5 does not comprise the .net core sdk 2.1.2 already on board? I went to the [ms website](https://www.microsoft.com/net/download/dotnet-core/2.1) to download the latest .net core sdk and only then my problem was gone

[2018-07-17 13:48] piecho1991 opened #1796 "Problem with building URLs with Areas in .NET Core 2.1"
I have problem with URL-s in ASP.NET Core 2.1 Web Application.

I have used code like below:
[code]

and Razor is generating wrong URL not like `http://example.com/Area/Controller/List` but `http://example.com/Controller/List?area=Area`.

My routes configuration:
[code]

[2018-07-17 14:39] kdubau commented on #1775
@leecow thanks for the information, I've opened a issues for the vsts-tasks team to track the upcoming change: https://github.com/Microsoft/vsts-tasks/issues/7754

[2018-07-17 18:46] Eilon commented on #1796
This issue was moved to aspnet/Routing#623

[2018-07-17 18:46] #1796 closed

[2018-07-17 21:29] lukepuplett commented on #1464
Thanks for your answer.

For accuracy, number one isn't quite right, the compiler works by looking for an awaitable type, which is any type that has `TaskAwaiter GetAwaiter()` on it.

[2018-07-18 10:11] JaneConan opened #1797 "netcore home directory not accessible"
When I runing web project on linux , the console show this error.
dotnet sdk 2.1.302

[2018-07-18 11:37] tamasVajda opened #1798 "System.IO.IOException in Kestrel (.net core 2.1.300) on Windows"
We use .net core app with hosted Kestrel web server. During Some requests Kestrel throw the following exception at the end of the corresponding request:

The server tries to provide a file to the client like the following example:

On client site we use System.Net.Http.HttpClient without redefining Default request header, and PostAsync to sending the get request to the server.

If the connection w

[2018-07-18 15:34] UserNotExist12 opened #1799 "<dotnet publish> raise an error when the project path contains chinese chars"
# Issue Title

<dotnet publish> raise an error when the project path contains chinese chars.

# General

It says the deps.json file does not exist.

F:\code\我的Demo>dotnet publish -c Release -v minimal -o .\Publish .\Demo.WebApi\Demo.WebApi.csproj
  Restore completed in 18.18 ms for F:\code\我的Demo\Demo.WebApi\Demo.WebApi.csproj.
用于 .NET Core 的 Microsoft (R) 生成引擎版本 15.4.8.50001
版权所有(C) Microsoft Cor

[2018-07-19 02:11] #1799 closed

[2018-07-19 04:37] FIVIL opened #1802 "P2P networking using TCP"
Hi, i was wondering if it is possible to do P2P networking and TCP NAT traversal  using .net core(not asp.net core but .net core console app) so i did some search and i come across https://blogs.msdn.microsoft.com/ncl/2009/07/27/end-to-end-connectivity-with-nat-traversal/ in MSDN but this is about .net framework and not .net core so can i use same approach in .net core as well and also i couldnt f

[2018-07-19 14:41] AhmedMKamal opened #1803 "System.InvalidOperationException: The SPA default page middleware could not return the default page '/index.html' because it was not found, and no other middleware handled the request"
I got this error when I tried to run a released app

Command used to publish `dotnet publish --configuration Release`

Result:
[code]
dotnet version 2.1.302
OS Ubuntu 18.04 LTS

[2018-07-19 14:56] rquackenbush opened #1804 ".NET Core application consumes 100% CPU on a core inside a Docker container"
# What we're seeing:
- In a relatively simple .NET Core 2.1 application, with no hard-loops, we're seeing 100% utilization on a processor core
- This is running in a Docker container on a raspberry pi.
- This happens at some random point, usually after the code has been up for a number of days. This has made reproducing / isolating the issue difficult.

# What kind of debug tools are available?
Ho

[2018-07-19 16:04] AhmedMKamal commented on #1803
Ok, it was about coping the ClientApp file please close this issue.

[2018-07-19 16:04] #1803 closed

[2018-07-19 19:31] leecow commented on #1781
Hey @Jcouls29 , yes, this file will be regularly maintained. In fact, all of the download and Core versioning information presented on https://www.microsoft.com/net/ is driven from the current version of this file. Also, it will likely become a hub for some update monitoring features we've been thinking about.

[2018-07-20 02:01] JaneConan commented on #1797
Sorry, I'm in a bit of a hurry. This is the case, we publish the Web application to the Linux arm64,

the direct use of the dotnet instructions to run,

When runing to insert data, console prompts

[Netcore home directory is inaccessible: Insufficient permissions!]

Could it be that the Wwwroot folder does not give permissions?

[2018-07-20 11:41] youssefabidi commented on #897
I followed the instructions (Unchecked "Enable Just My Code", checked "Microsoft Symbol Servers" and checked ""Enable Source Link support"), but still can't step into ASP.NET Core source code because symbols are not loaded.

Here is the "Symbol Load Information" from the Modules window (empty lines were removed and personal information was redacted):

[code]

Further information:
- I'm using Visua

[2018-07-20 13:08] rquackenbush commented on #1804
This appears to be related to: https://github.com/dotnet/coreclr/issues/18486

And debugging is hampered by: https://github.com/dotnet/coreclr/issues/18889

[2018-07-20 13:36] zynioz opened #1805 "Centos 7 afer installation mod_ssl WebRequest to https stop working"
# Issue Title
Centos 7 afer installation mod_ssl WebRequest to https stop working

# General
**Dotnet --info**
 OS Name:     centos
 OS Version:  7
 OS Platform: Linux
 RID:         centos.7-x64
 Base Path:   /usr/share/dotnet/sdk/2.1.302/

Host (useful for support):
  Version: 2.1.2
  Commit:  811c3ce6c0

.NET Core SDKs installed:
  2.1.302 [/usr/share/dotnet/sdk]

.NET Core runtimes installed:

[2018-07-20 13:44] #1804 closed

[2018-07-20 14:51] bartonjs commented on #1805
This is/was https://github.com/dotnet/corefx/issues/29942, it will be fixed in .NET Core 2.1.3.

In /etc/ssl/certs (assuming that's the path on CentOS) there's either a file that you don't have permission to read, or it's a symlink to a file you don't have permission to read, or it's a broken symlink.

[2018-07-20 14:51] #1805 closed

[2018-07-20 16:22] vancem commented on #897
@youssefabidi  I was able to reproduce your issue about 1/2 hour ago.    When trying to investigate it however the problem went away, and everything seems to work properly.
[code]
I conclude from this that there was a intermittent failure with the msdl server but it has been fixed.

Please try it again.

[2018-07-20 17:10] IgorXq opened #1806 ""Could not copy" error when the project reference is shared"
# Issue Title

"Could not copy" error when the project reference is shared between several projects

# General

Suppose that two projects of  the solution share one reference.

 <ProjectReference Include="..\........src\SomeSharedLibrary.csproj"  />

The first project  (the service) is running in console window with **dotnet run** , the other app is the client for this service and runs (_usually,

[2018-07-20 23:50] youssefabidi commented on #897
Yes, I confirm that it works now. The symbols are loaded and I can step into .NET Core and ASP.NET Core source code with no problem (most of it anyway, because of https://github.com/dotnet/buildtools/issues/1896).

I didn't think it was an intermittent issue because of the HTTP_STATUS_NOT_FOUND error. Anyway, I'm glad that it the issue fixed now: being able to step into framework source code is an

[2018-07-23 04:53] ds-ms opened #1807 "2.2.100-preview1-009009 not found in releases.json"
@leecow Please check out this issue: https://github.com/Microsoft/vsts-tasks/issues/7792
This issue is related to DotnetCoreInstaller VSTS task, where we use the releases.json for downloading.

[2018-07-23 05:30] andrewb273 opened #1808 "Any plan to add Microsoft.SqlServer.Replication?"
# Issue Title

Add `Microsoft.SqlServer.Replication` (Microsoft.SqlServer.Rmo.dll)

# General

We host SQL server in an enterprise environment where database servers are taking offline randomly. Currently we have a master DB server which is replicated to a number of slave servers. If the master DB server goes down, then we manually promote one of the slaves to master, along with updating the confi

[2018-07-23 13:37] leecow commented on #1807
At this time, the releases.json file only tracks releases meant for broader public consumption (eg public previews, release candidates and ga releases). We're looking into ways to better enable consumption of daily builds but it likely won't be in this file or its replacements.

[2018-07-23 15:01] vancem commented on #897
@youssefabidi : like you I was also led astray by the HTTP_STATUS_NOT_FOUND.    Like you I assumed that the most common kind of intermittent error would be simply a timeout (the service is simply not responding).   A HTTP_STATUS_NOT_FOUND implies that the service tried but failed to find something.  I am assuming there was some service glitch with the service that a human probably found and fixed

[2018-07-23 18:00] joshfree commented on #1322
Closing this old issue.  Feel free to re-open this with more information.

[2018-07-23 18:00] #1322 closed

[2018-07-23 18:01] joshfree commented on #1388
Closing this old issue.  Please feel free to re-open this issue with more details.

[2018-07-23 18:01] #1388 closed

[2018-07-23 18:07] joshfree commented on #1441
Closing old issue.  Please feel free to re-open with more details.

[2018-07-23 18:07] #1441 closed

[2018-07-23 18:15] joshfree commented on #1464
Hey Folks,
I've moved this discussion to the dotnet/corefx repo where Framework Design Guidelines and API discussions occur - as you're more likely to get engagement there.  For more details on the CoreFX API and FDG see http://aka.ms/api-review

The new issue is https://github.com/dotnet/corefx/issues/31275

[2018-07-23 18:15] #1464 closed

[2018-07-23 18:22] joshfree commented on #1276
Hi Folks,
I've moved this issue to the dotnet/corefx repo where the Windows Compatibility Pack lives.

The new issue is https://github.com/dotnet/corefx/issues/31276

[2018-07-23 18:22] #1276 closed

[2018-07-23 18:38] joshfree commented on #1791
Hi @shaulbehr, I've moved this issue to dotnet/corefx where System.Globalization and the libicu dependency for unicode casing and coalescing support for linux lives.

The new issue is https://github.com/dotnet/corefx/issues/31278

[2018-07-23 18:38] #1791 closed

[2018-07-23 18:40] joshfree commented on #1492
Closing this old issue.  Please feel free to reactivate with more details.

[2018-07-23 18:40] #1492 closed

[2018-07-23 18:46] joshfree commented on #1481
Hi @faib920, I've moved this issue to dotnet/corefx where System.Reflection lives.  The new issue tracking this is https://github.com/dotnet/corefx/issues/31279.  Thanks

[2018-07-23 18:46] #1481 closed

[2018-07-23 19:46] Styxxy commented on #758
I came across the same problem when having a solution mixed with .NET Full (non-SDK style projects) and .NET  Standard projects (SDK style projects).

I fixed it by adding following _custom_ target at the end of the project (I actually created a shared targets file which I imports in each SDK style project):

[code]

If you want code analysis, you can include the (nuget) package Microsoft.CodeAnal

[2018-07-24 02:33] #1807 closed

[2018-07-24 02:36] leecow commented on #1797
Would it be possible to give a detailed example of your configuration, or even better, a sample project. As it is, I don't think there's enough information for us to go on to try and help.

[2018-07-24 02:45] leecow opened #1809 "Fix runtime-only installation instructions in release notes"
See https://github.com/dotnet/core-setup/issues/4378#issuecomment-407199648

Update the existing 2.1.2 page and the generator template.

cc @vivmishra @SusLes

[2018-07-24 06:12] tker opened #1812 "UnderstandingJwtBearerOptions RequireHttpsMetadata functionality"
We would  like some help understanding the functionality set by the JwtBearerOptions RequireHttpsMetadata boolean option.

[The documentation](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.authentication.jwtbearer.jwtbeareroptions.requirehttpsmetadata?view=aspnetcore-2.1) for this option is somewhat sparse, and I have been unable to find a more complete description.

While the d

[2018-07-24 11:03] ficnar opened #1813 "X509Certicate2 error open pfx file without password on Mac OSX"
### X509Certicate2 error open pfx file without password on Mac OSX

Creating a X509Certificate2 instance from a byte array from pfx/p12 file that not secure by password, throw exception:

Interop+AppleCrypto+AppleCommonCryptoCryptographicException: MAC verification failed during PKCS12 import (wrong password?)
   at Interop.AppleCrypto.X509ImportCertificate(Byte[] bytes, X509ContentType contentTyp

[2018-07-24 16:41] joshfree commented on #1813
Hi @ficnar, I've moved this issue to the dotnet/corefx repo where System.Security.Cryptography lives.  The new issue is https://github.com/dotnet/corefx/issues/31328.  Thanks

[2018-07-24 16:41] #1813 closed

[2018-07-24 16:46] joshfree commented on #1725
Thanks for posting your solution @nefcanto.

@dsplaisted @leecow do we need to update any docs / FAQs for this?  Is this issue safe to close now?

[2018-07-24 16:48] joshfree commented on #1493
Closing out this old issue with no recent response.  Please feel free to reactivate with more information.  Thanks

[2018-07-24 16:48] #1493 closed

[2018-07-24 17:18] Eilon commented on #1753
I'm closing this issue because it is somewhat off topic for this forum. If you do have further ASP.NET Core questions, please post them at https://github.com/aspnet/Home. Thanks!

[2018-07-24 17:18] #1753 closed

[2018-07-24 18:43] dsplaisted commented on #1725
Unfortunately it's still no clear what the root cause was here.  So I wouldn't update docs unless we understand what's going on.  But since @nefcanto was able to get things working, I think we can close the issue.

[2018-07-24 18:43] #1725 closed

[2018-07-24 19:07] joshfree commented on #1812
@Eilon could you help route this?

[2018-07-24 19:20] Eilon commented on #1812
This issue was moved to aspnet/Security#1825

[2018-07-24 19:20] #1812 closed

[2018-07-24 19:50] joshfree commented on #1770
Closing this old issue which needs more info.  Please feel free to reactivate with more details.  Thanks

[2018-07-24 19:50] #1770 closed

[2018-07-24 19:53] joshfree commented on #1806
@dsplaisted @nguerrera

[2018-07-24 19:56] joshfree commented on #1495
This issue was moved to dotnet/corefx#31336

[2018-07-24 19:56] #1495 closed

[2018-07-24 20:00] joshfree commented on #1480
@dsplaisted

[2018-07-25 00:53] #1797 closed

[2018-07-25 06:29] RenshuozZ opened #1815 ".net core sdk 2.1.302 conflict with hosting 2.1.2"
# Issue .net core sdk 2.1.302  conflict with hosting 2.1.2

i install sdk 2.1.302 in instead of 2.1.2
but when i deploy the web api project to my machine
it is error 502.5

  An assembly specified in the application dependencies manifest (THTOC.Code.WebApi.deps.json) was not found:
    package: 'Microsoft.ApplicationInsights.AspNetCore', version: '2.1.1'
    path: 'lib/netstandard1.6/Microsoft.App

[2018-07-25 15:09] hovchik opened #1816 "How to resolve dependency hell"
# Dependency Hell

Hi, i have a solution with different projects ( I mean .net Framework / .net core / .net standard)

and often i adding plugins written by .net core with new DLL libraries.

after that i got many conflicts with dll versions.

[2018-07-25 21:51] jfborie opened #1817 "dotnet-sdk-2.1.302 missing https://apt-mo.trafficmanager.net/repos/dotnet-release/"
# Issue Title

Couldn't find any package by glob 'dotnet-sdk-2.1.302'

# General
https://apt-mo.trafficmanager.net/repos/dotnet-release/dists/xenial/main/binary-amd64/Packages

is missing dotnet-sdk-2.1.302 who is incharge of updating this?

[2018-07-25 22:41] omajid commented on #1817
The .NET Core apt feeds are no longer hosted on apt-mo.trafficmanager.net. They are instead hosted on packages.microsoft.com.

Please see https://www.microsoft.com/net/download/linux-package-manager/ubuntu16-04/sdk-2.1.302 for steps on how to enable the repository and install the packages.

[2018-07-25 23:15] joshfree commented on #1808
This issue was moved to dotnet/corefx#31377

[2018-07-25 23:15] #1808 closed

[2018-07-26 00:18] leecow commented on #1817
Omair is correct. You'll need to update you /etc/apt/sources.list.d/[dotnetrepo].list to point to `deb [arch=amd64] https://packages.microsoft.com/ubuntu/16.04/prod xenial main`

[2018-07-26 00:54] joshfree commented on #1772
This issue was moved to dotnet/project-system#3791

[2018-07-26 00:54] #1772 closed

[2018-07-26 09:19] fskroes opened #1818 "Dotnet quit unexpectedly, Xamarin unit test"
When running Unit tests for Xamarin, I run into the following issue.

![screen shot 2018-07-26 at 11 16 57](https://user-images.githubusercontent.com/10432545/43253597-9eae200c-90c5-11e8-9edf-9a4bc395abab.png)

Does anyone has the same problem?

<details>

#---------- LOG ----------#
Process:               dotnet [1263]
Path:                  /usr/local/share/dotnet/dotnet
Identifier:            d

[2018-07-26 12:56] jfborie commented on #1817
Thank you

[2018-07-26 12:56] #1817 closed

[2018-07-26 13:23] jfborie commented on #1817
Went to fast to close it. I do once he
RUN apt-get install -y dotnet-sdk-2.1
in Package file it says
-------------------------
Package: dotnet-sdk-2.1
Priority: standard
Section: devel
Installed-Size: 222988
Maintainer: Microsoft <dotnetcore@microsoft.com>
Architecture: amd64
Version: 2.1.302-1
Depends: libc6 (>= 2.4), libgcc1 (>= 1:4.1.1), libstdc++6 (>= 4.8), dotnet-runtime-2.1 (>= 2.1.2), aspne

[2018-07-26 14:04] gronlund013 opened #1819 "http call using CommFactory gives HttpRequestException but the exact same code works in .net framework"
# Issue Title
https call using WebClient.UploadData gives HttpRequestException but the exact same code works in .net framework

# General
Application is a web api (.net core 2.1) application that uses a call to
[code]
to fetch information from external site.

I am trying to get licensing information from a licensing vendor and their code-sample works (.net framework 3.5) but my .net core code that

[2018-07-26 16:39] leecow commented on #1765
@beylkhanovdamir - The update cycles into VS are a bit different. The 2.1 runtime and supporting SDK will be in VS 15.8 (and already in the Previews which VS has been releasing).

[2018-07-26 16:41] leecow commented on #1774
Looks like 2.1.2 is installing OK. Closing the issue.

[2018-07-26 16:41] #1774 closed

[2018-07-26 20:34] Eilon commented on #1815
@JunTaoLuo / @natemcmaster - any ideas on this? Likely an ASP.NET Core issue?

[2018-07-26 21:18] natemcmaster commented on #1815
This happens because ASP.NET Core 2.0 apps do not run on .NET Core 2.1, and the 2.1.302 SDK only installs .NET Core 2.1 **runtime**. The 2.1.2 SDK installed .NET Core 2.0 **runtime**.

@RenshuoZz you can find .NET Core 2.0 runtime installers here: https://www.microsoft.com/net/download/dotnet-core/2.0

[2018-07-26 21:27] #1480 closed, assigned to nobody

[2018-07-26 21:33] dsplaisted commented on #1806
This issue was moved to dotnet/cli#9742

[2018-07-26 21:33] #1806 closed

[2018-07-26 21:51] leandro-fernandez opened #1820 "Self-contained publish failing with error NU1605: Detected package downgrade: Microsoft.NETCore.App from 2.1.2 to 2.1.0"
# Self-contained publish failing in .net core sdk 2.1.302 with `error NU1605 : Detected package downgrade: Microsoft.NETCore.App from 2.1.2 to 2.1.0`

# Description

After I migrated from .netcoreapp2.0 to .netcoreapp2.1, I am getting a `error NU1605: Detected package downgrade: Microsoft.NETCore.App from 2.1.2 to 2.1.0` when running `dotnet publish` with the `-r` option.

snapshot
![image](https:

[2018-07-26 22:11] marek-safar commented on #1818
Could you provide more information about what tests you are actually running and how did you compile them?

[2018-07-27 01:04] RenshuoZz commented on #1815
@natemcmaster    i installed 2.1.302 sdk and installed 2.1 runtime it is conflict , and dotnet command can't run  , when i uninstall 2.1 runtime(x84) and retain 2.1 runtime(x64), it run normally

[2018-07-27 02:15] JunTaoLuo commented on #1815
Can you share your .csproj? I suspect you are referencing `Microsoft.AspNetCore.All` with a version of `2.0.*`. This is the only way the runtime is looking for runtime assets in the runtime store as listed in the aspnetcore-store manifests. Since you have the 2.1 runtime installed, you should update your metapackage reference so that your app runs on the 2.1 runtime (by changing the existing refer

[2018-07-27 02:43] RenshuozZ commented on #1815
<Project Sdk="Microsoft.NET.Sdk.Web">

  <PropertyGroup>
    <TargetFramework>netcoreapp2.1</TargetFramework>
  </PropertyGroup>

  <PropertyGroup Condition="'$(Configuration)|$(Platform)'=='Debug|AnyCPU'">
    <DocumentationFile>Documents\THTOC.Code.WebApi.xml</DocumentationFile>
  </PropertyGroup>

  <ItemGroup>
    <Folder Include="Controllers\" />
    <Folder Include="wwwroot\" />
    <Folder

[2018-07-27 02:44] RenshuozZ commented on #1815
<Project Sdk="Microsoft.NET.Sdk.Web">

  <PropertyGroup>
    <TargetFramework>netcoreapp2.1</TargetFramework>
  </PropertyGroup>

  <PropertyGroup Condition="'$(Configuration)|$(Platform)'=='Debug|AnyCPU'">
    <DocumentationFile>Documents\THTOC.Code.WebApi.xml</DocumentationFile>
  </PropertyGroup>

  <ItemGroup>
    <Folder Include="Controllers\" />
    <Folder Include="wwwroot\" />
    <Folder

[2018-07-27 02:45] RenshuozZ commented on #1815
![image](https://user-images.githubusercontent.com/11639841/43298793-1dde1d5e-918a-11e8-8b86-8fd18c21e108.png)
@JunTaoLuo

[2018-07-27 02:54] JunTaoLuo commented on #1815
That's strange, you don't have any references to `Microsoft.AspNetCore.All` with a version of 2.0.*. As far as I can tell, this project should be able to publish and run correctly assuming you have the 2.1 runtime on the target machine. The host should not try to load anything from the runtime store. Are you still seeing the same `An assembly specified in the application dependencies manifest (THT

[2018-07-27 03:11] RenshuozZ commented on #1815
![image](https://user-images.githubusercontent.com/11639841/43299636-89acd20c-918d-11e8-8682-9aaa33ca5e6e.png)
@JunTaoLuo   it not only delpoyment aslo error during build  when i install runtime 2.1.2 (i hava  installed sdk 2.1.302 ) , i try to uninstall runtime(x86) and  it work  and deployment success

[2018-07-27 08:43] gronlund013 commented on #1819
Actually posted this yesterday but my sample didnt use .net calls, now fixed sample and re-opened

[2018-07-27 08:51] fskroes commented on #1818
Hi Marek-safar,

I will provide you with some more information. I'm running test for Xamarin with ReactiveUI NUGet package. For example I have the following test.

[code]

My ViewModel could look like this:
[code]

I'm running the test in Jetbrains Rider 2018.1.3 version.
When running this test, I will be getting the error that is displayed above.

[2018-07-27 08:57] atpyatt commented on #1692
The solution here: https://github.com/aspnet/Home/issues/3132#issuecomment-388082725 fixed this problem for me.

[2018-07-27 14:02] kaansengul commented on #1725
I also encountered the same problem when I first migrated from 2.0 to 2.1.

Be sure you checked the "Publish > Settings > File Publish Options > Remove additional files at destination" option (if you publishing manually). I think some files is breaking the whole application.

Now same problem happens when I publish a single *.cshtml file even I've tried the csproj editions.

[2018-07-27 18:31] joshfree commented on #1820
@weshaggard

[2018-07-27 18:33] Petermarcu commented on #1820
One of the packages you are referencing is likely pulling in a lower version of a package. @DamianEdwards have you seen this?

[2018-07-27 18:40] weshaggard commented on #1820
Based on the error screenshot it looks like a couple of your test projects are directly referencing 2.1.0 of the runtime either via a direct PackageReference or via overriding the RuntimeFrameworkVersion. Can you provide a pointer to your Rubicon.ReversProxy.Tests.Common.csproj?

[2018-07-27 18:45] natemcmaster commented on #1815
It sounds like you have run into multiple problems. At this point, it's unclear to me which issue you are running into.

Are you still getting `An assembly specified in the application dependencies manifest (THTOC.Code.WebApi.deps.json) was not found` with a project that targets ASP.NET Core 2.1?

If not, I would recommend we close this one and open a new issue with details about the issues you ar