[2022-01-25 02:54] Loophole62ndFF commented on #6998
I've encountered this same problem, and the <private> solution - whatever that mystery tag is supposed to mean - seems to fix the problem.  I now have 64 project files with multiple references in each one, that have to be hand-edited to work around this issue.

[2022-01-25 03:02] AshrCode commented on #7133
Yes, this is still happening. And no, there's no other error before the docker phase. It works perfectly fine if I change it to Net5 instead of Net6.

[2022-01-25 03:34] Loophole62ndFF commented on #6998
As an alternative work-around, editing the csproj files to set:
<PropertyGroup>
	<UseCommonOutputDirectory>true</UseCommonOutputDirectory>
</PropertyGroup>

also seems to solve the problem, without requiring the "Copy Local" to be set at all.

[2022-01-25 06:18] richlander commented on #7131
We had a first sync on these today. I'll share plans when we get a bit further.

I asked if anyone wanted to defend multi-level-lookup. No one did. It feels so sad and abandoned. So sad.

[2022-01-25 06:25] #7120 closed

[2022-01-25 08:50] dazinator commented on #7131
- How much of an improvemrnt are we talking about?
- How much of a detraction if AVX2 isn't available?

- is there any justification to keep SSE2 as an allowed target and make AVX2 a new default. So if need be, a developer has the power? Just thinking that for the desktop consumer market where home users may be running Winforms / WPF & in future - MAUI apps on decades old pc's perhaps removal of t

[2022-01-25 08:54] intraspeciespredator161 opened #7142 "macos"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/install
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2022-01-25 16:04] richlander commented on #7131
We're still working on the numbers (improvements and regressions). You are right that this feature is motivated by cloud infra. One options is to make this change for Windows Arm64, Linux Arm64/x64 and macOS Arm64 only, and leave Windows x86/x64, and macOS x64 as-is. That would skirt most of the risk, although it would be unfortunate if our Windows x64 cloud build was unimproved. All topics to wor

[2022-01-25 17:47] tannergooding commented on #7131
To be clear, SSE2 support isn't being removed.

Effectively all of the binaries we ship in the BCL are "pre-jitted" for a given baseline. This means on a typical application startup, these methods do not have to be jitted they can just be used "as-is". If they are executed more than ~30 times then [Tiered Compilation](https://docs.microsoft.com/en-us/dotnet/core/run-time-config/compilation) will k

[2022-01-25 18:36] joeloff commented on #7131
@richlander for the PATH issue, because it's set through the host the fix in .NET 7 may not be sufficient unless we have the same change in 3.1, 5.0, 6.0.

Or we should just be very clear that if you only have .NET 7, you'll be fine, but once you mix previous versions, the issue can still surface.

[2022-01-25 18:54] normj commented on #7131
@richlander That is interesting debate to put .NET in the native Go/Rust trajectory by default. Would that make AOT being mainstream an eventual goal for .NET. If the goal that is to make .NET a native platform should R2R also be done by default in .NET 7?

[2022-01-25 19:21] LittleLittleCloud commented on #6907
Hitting the same issue here as well

[2022-01-25 20:43] arun-subramanian-1 commented on #2043
with .net core 6.0 I am getting same error from the exception it appears to be thrown probably from here.
https://github.com/dotnet/runtime/blob/main/src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPoolManager.cs#L409

`IsSupportedProxyScheme` checks for socks & http. so does this mean .net core doesnt support https proxy servers ?

[2022-01-25 20:51] karelz commented on #2043
HTTPS proxy is not supported in .NET / .NET Core yet: https://github.com/dotnet/runtime/issues/31113

[2022-01-25 20:57] janvanveldhuizen commented on #7087
How did you solve this?
In my case ```Pacman -Sy dotnet-runtime``` didnt help

[2022-01-25 21:15] jssmotta commented on #7131
I'd like an x64 to perform well as the x86 runtime does.
Even in Windows 11, the x86 runtime is faster than the x64.
This would not be true, but sadly is, even in WinForms ou ASP.NET Core apps, the x86 is twice faster, and I'll note complain about the difference of memory, that it's his x64 nature, but processing. Even in top hardware or not the x86 is better.

[2022-01-25 22:37] bartonjs commented on #7133
@MichaelSimons Is this sort of docker/build failure something you happen to know off the top of your head, or can otherwise assist with?

[2022-01-25 22:38] bartonjs commented on #7142
Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2022-01-25 23:37] #7124 closed

[2022-01-26 00:06] danmoseley commented on #7131
@jssmotta what version of .NET are you using? @davidfowl is this expected for ASP.NET?

[2022-01-26 00:12] richlander commented on #7131
Yes and no. My motivation isn't oriented around AOT. Instead, I see that the defaults are not really a coherent personality. To some degree, I don't really care whether the defaults are node-like or go-like, as long as they strongly point in one direction and it is easy to switch. If I look at the broad set of investments we've made (and expect to make) and what we are asked for, they are much mor

[2022-01-26 00:22] jssmotta commented on #7131
But this behavior is the same since .NET Framework 4.x!
Let me tell you, I too deployed an app with ASP.NET AJAX using C# 10 (advocati.net - ask me a user and pwd if you like to try), and it makes a huge difference, about 500% faster. When running in the x86 bin was ok, but when I deployed the same code in x64 bin the site goes down. I conduct this test directly in production, with kind support fr

[2022-01-26 00:29] samsp-msft commented on #7131
How are these users deploying to Linux? Is it manually or via a publish action in Visual Studio?

I am assuming that when building with an implicit RID, we'll have the same output directory structure as for explicit RID, so you get something like bin/debug/net7.0/win10-x64, so it would pretty clear what the app has been built for.

[2022-01-26 00:29] wfurt commented on #6985
https://github.com/dotnet/runtime/pull/64304 pending for 6.0 and https://github.com/dotnet/corefx/pull/43129 for 3.1

[2022-01-26 00:44] jssmotta commented on #7131
Hello, I make the correct build for each scenario, as you ask for 'bin/debug/net6.0/win10-x64' and x86. And my apps do not target Linux and I even know how to make such tests. So I bet this could be an issue in Microsoft OS or intrinsic of the architecture of .NET since .NET 4.x to .NET 5, .NET 6. I did not say before, but .NET 5 had this same slow behavior on the x64 bin.

[2022-01-26 00:56] MichaelSimons commented on #7133
Sorry this doesn't look familiar to me.  The error makes me suspect docker versus .NET.  @AshrCode - are you using the latest docker version?

[2022-01-26 01:18] richlander commented on #7131
This is the one scenario that would be made worse by the proposal. One option we're playing with is leaving ASP.NET Core as portable by default and make it easy to switch. The other idea is to make all app-types RID-specific by default and make the ASP.NET Core publish profile experience portable by default.

Do your apps use publish profiles? Or just `dotnet publish`?

[2022-01-26 01:30] normj commented on #7131
@samsp-msft I know our AWS tooling for VS right now does a portable publish that can be used for deploying to either Windows or Linux AWS Elastic Beanstalk environments (WebApp hosting without containers). There is no reason we can't update that code to be RID aware for the target deployment.

Our tooling for Lambda (Serverless functions) has always created deployment bundles using the RID for all

[2022-01-26 01:57] normj commented on #7131
@richlander That will be interesting challenge to explain why generic console is RID specific but ASP.NET Core is portable. Aren't a lot of the scenarios you are talking about for the new client side targets like Maui which already have platform specific TFW. Would that work to be RID specific if the TFW is platform specific. The exception I can think to that is Blazor WASM but I assume you could

[2022-01-26 03:01] elinor-fung commented on #7106
## Interop: P/Invoke source generation

https://github.com/dotnet/runtime/issues/60212
https://github.com/dotnet/runtime/issues/60595

We integrated the p/invoke source generator that was prototyped in .NET 6 into dotnet/runtime and have been converting the runtime libraries to use it. This means the converted p/invokes are AOT-compatible and no longer require an IL stub to be generated at runtime

[2022-01-26 03:27] zigpot commented on #4446
Seems like this problem persists across all .NET 6.0 versions.
❌ latest/stable:    6.0.101
✅ latest/edge:      5.0.202
❌ lts/stable:       6.0.101
❌ 6.0/stable:       6.0.101
❌ 6.0/beta:         6.0.100-rc.2.21505.57 2021-10-12 (145)
✅ 5.0/stable:       5.0.404
✅ 3.1/stable:       3.1.416
❌ 2.1/stable:       2.1.818

[2022-01-26 03:55] richlander commented on #7131
That's where we started since we only had web and console. Also, that was before containers became big, where portability is (for the most part) adds unnecessary cost.  So, yes, that's what I'm pushing to change. The platform won't change. I just consider portability to be a more advanced scenario that people should opt into.

This may be a stretch, but this isn't really "knobs with tradeoffs". Fo

[2022-01-26 04:26] richlander commented on #7131
Ah, I couldn't find this doc earlier (and convinced myself I hadn't written it). It provides more insight into my thinking. https://github.com/dotnet/designs/blob/main/accepted/2021/architecture-targeting.md

[2022-01-26 04:30] zigpot opened #7143 "Running dotnet run on a console app has no output"
I followed this tutorial https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/run
Operating System: Debian GNU/Linux 11 (bullseye) amd64

![image](https://user-images.githubusercontent.com/16068753/151103757-45604346-93de-4796-8a06-ca7ccb66f814.png)

As can be seen, running:

inside the project didn't output anything.

here is _Program.cs_:
[code]

and _MyApp.csproj_:
[code]
How ca

[2022-01-26 08:37] AshrCode commented on #7133
@MichaelSimons , Yes I am using the latest version of docker.

[2022-01-26 08:55] adammazinga commented on #7087
At the time, I rolled back to dotnet 5
![dotnetfix](https://user-images.githubusercontent.com/29223938/151132082-92240332-7c08-480c-89a9-912ad579d048.png)
And it worked fine for me.
You can however install your dotnet version 6 using this script [here](https://dotnet.microsoft.com/download/dotnet/scripts/v1/dotnet-install.sh
).

[2022-01-26 16:05] rsescalante commented on #7125
Hello Anthony,

Thanks for your reply.  Using bootstrap 4.3 is what I did to fix the issue.  Nevertheless it is a workaround, the behavior of Virtualize won't let us use the new bootstrap version under this conditions.

[2022-01-26 21:13] #7128 closed

[2022-01-26 22:13] #7127 closed

[2022-01-26 22:43] arnoprincestonpan commented on #5962
![dotnet_problem](https://user-images.githubusercontent.com/97076594/151259513-cb311596-c83f-4c74-9ddd-6aeaf3d17219.JPG)
I have no idea. Why it still doesn't work. It can clearly find it. But when I use dotnet it doesn't work.

[2022-01-26 23:39] mairaw commented on #5962
Did you follow the steps outlined in https://github.com/dotnet/core/issues/5962#issuecomment-780084535 to change the path order? That could be the solution.

[2022-01-26 23:43] arnoprincestonpan commented on #5962
I think I got it. I am not sure if I should have reversed the Move up. Because I had a x64 version SDK. What I did was my x86 path is still on top of the x64. So I just installed the x86 version and it worked.

Don't know if that was the intension but this helped. So for those of you out there, try installing the x86 or vice versa. Thanks Mairaw!

[2022-01-27 00:00] Mudassirak opened #7144 "i am starting to learn .net"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

when I try to create my app it gives the below error.
C:\WINDOWS\system32>dotnet new console -o MyApp

Could

[2022-01-27 00:16] sipi41 commented on #7144
1) Dont work in your system32 folder, that's a system folder, you don't need to be in a system folder to create a .net app.
2) Before using dotnet, please use the following command: "dotnet --version", if you see an error, dotnet is not installed and you should download it from https://dotnet.microsoft.com/en-us/download then try again.

good luck!

[2022-01-27 00:38] SammyDeAztlan commented on #5962
I love u my amigo <333

[2022-01-27 00:51] dazinator commented on #7131
@richlander
A quote from your doc linked above:

I humbly accept your challenge.
Give me 5 years worth of investment. I'll give you a rid called `all` that outputs a portable file in the form of a zip. The zip can be extracted to any platform. Inside is the application built for each `rid`. Click on the right executable for your platform.

- [x] portable
- [x] self contained
- [ ] desirable

Perha

[2022-01-27 00:53] richlander commented on #7131
Yes.

[2022-01-27 01:06] mairaw commented on #5962
It depends on the version of your machine @arnoprincestonpan. You should check your machine properties and match the system type. Whatever is your machine's type, that version should be on top. Mine for example is x64, so x64 needs to be on top.

![image](https://user-images.githubusercontent.com/12971179/151272747-65e747f1-5ff8-4353-b088-ea8cacd06f55.png)

[2022-01-27 01:19] dazinator commented on #7131
Does `client` include console apps? A big benefit for `console` apps is ease of distribution. This often trumps performance concerns for variety of reasons. If I want my console app to run on any If our Azure DevOps agents for example, I can publish a single artifact with the portable binaries and every agent can download that same artifact and use it in an identical way via `dotnet [path to dll]`

[2022-01-27 02:39] richlander commented on #7131
I meant desktop/mobile client.

You are right on console. I also use that experience. The only conversation on the table is whether that will be the default vs opt-in. It definitely won't be taken away. In any case, I still have to write-up a plan that works through all the workflows. I'm writing a different spec at the moment, but will do that next.

[2022-01-27 03:55] mairaw commented on #7144
Did you install the SDK @Mudassirak? If so, you might be encountering the issue explained at https://github.com/dotnet/core/issues/5962

Let us know if this helps.

[2022-01-27 04:51] mairaw commented on #6998
Can you confirm if this only happens when you build the project inside VS or if it also happens with the dotnet CLI command `dotnet build`?

[2022-01-27 08:13] ceana8 opened #7145 "dotnet run"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/run
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant
<img width="1440" alt="Screenshot 2022-01-27 at 02 08 17" src="https://user-images.githubusercontent.com/89811997/15

[2022-01-27 13:22] Joelius300 commented on #6201
Not a heavy user but I never ran into any issues until https://github.com/dotnet/runtime/issues/62554.

[2022-01-27 15:58] goforgold commented on #6913
![image](https://user-images.githubusercontent.com/1727061/151395395-d6c6fff4-24b7-487f-87e2-909731690c69.png)

CentOS 8 Stream is very much supported. Is there a way to install the .NET 6 on CentOS 8?

[2022-01-27 16:59] eiriktsarpalis commented on #7106
## New APIs in System.Text.Json

System.Text.Json ships with a couple of minor quality-of-life enhancements:

* https://github.com/dotnet/runtime/pull/61434: developers now have access to the default `JsonSerializerOptions` singleton used internally by System.Text.Json.
* https://github.com/dotnet/runtime/pull/61608: add a `JsonWriterOptions.MaxDepth` property and ensure this value flows from the

[2022-01-27 17:56] johnwc commented on #6913
Since Centos, Alma, Rocky, etc... are red hat(Enterprise Linux) binary compatible, why not just produce a Enterprise Linux install?

The .net that comes via the red hat repos is usually not always at the current released version. We need a repo that we can install from for Enterprise Linux compliant distros that contains current released version. Especially when there is security updates.

[2022-01-27 17:56] omajid commented on #6913
In general, .NET packages are included with CentOS Stream 8 (eg, `sudo dnf isntall dotnet-sdk-3.1` should work out of the box)

We have been having some trouble with .NET 6, though. The CentOS 8 maintainers pinged me a few weeks ago about a bug building .NET 6 on CentOS 8, and I couldn't reproduce it. I *just* narrowed it down to https://github.com/dotnet/source-build/issues/2731 and we are still

[2022-01-27 19:17] amep-lotus opened #7146 "dotnet new console -o MyApp"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2022-01-27 19:18] amep-lotus commented on #7146
Could not execute because the application was not found or a compatible .NET SDK is not installed.
Possible reasons for this include:
  * You intended to execute a .NET program:
      The application 'new' does not exist.
  * You intended to execute a .NET SDK command:
      It was not possible to find any installed .NET SDKs.
      Install a .NET SDK from:
        https://aka.ms/dotnet-download

[2022-01-27 19:31] mairaw commented on #7146
Have you installed the SDK and started a new command prompt window? You could be running into this path issue: https://github.com/dotnet/core/issues/5962

The solution is explained there.

Let us know if this helps.

[2022-01-27 22:33] D8G opened #7147 "Root Element is missing?"
When I started coding 3 days ago, I tried to run my code. It doesn't work when I input "dotnet run" in the terminal because it says that the root element is missing. I tried uninstalling and installing the SDK download, but that doesn't work. Any suggestions?

[2022-01-28 00:15] bartonjs commented on #7145
@ceana8 You appear to be missing the `cd MyApp` which is the second instruction on the previous (create) tutorial:  https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/create

[2022-01-28 00:32] mairaw commented on #7145
Let us know if the tip from @bartonjs helps you to continue

[2022-01-28 14:08] lambdageek commented on #7106
## Mono: Hot Reload

dotnet/runtime#57365

dotnet/runtime#63513 The following edits are now allowed in C# hot reload for Blazor WebAssembly and .NET for iOS and Android:
* Adding `static` lambdas to existing methods
* Adding lambdas that capture `this` to existing methods that already have at least one lambda that captures `this`
* Adding new instance or`static` non-`virtual` methods to existing c

[2022-01-28 14:39] NabilBouazzaoui opened #7148 "I have this issue with asp.net run in the back-end"
unhandled exception occurred while processing the request.
InvalidOperationException: The SPA default page middleware could not return the default page '/index.html' because it was not found, and no other middleware handled the request.
Microsoft.AspNetCore.SpaServices.SpaDefaultPageMiddleware+<>c__DisplayClass0_0.<Attach>b__1(HttpContext context, Func<Task> next)

Stack Query Cookies Headers Rout

[2022-01-28 19:23] Prinsn commented on #6907
While I agree to an extent, I want to counter with the fact that this implicitly codifies the notion that Developers and DevOps should not be distinct from one another, and that Developers need to know _literally everything_ to do _literally anything_, which is a death spiral.

I'm running into this upgrading to .NET 6 when I've literally never had to interact with this aspect of Azure DevOps for

[2022-01-28 19:39] SiamIslam077 opened #7149 "dotnet run dosen't work"
`Problem` encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
``
C:\Users\siams>dotnet run
Couldn't find a project to run. Ensure a project exists in C:\Users\siams, or pass

[2022-01-28 19:43] Zeracrack opened #7150 "No se donde en donde se descargo"
No se donde se descargo el paint.net me ayudan

[2022-01-28 19:47] mairaw commented on #7149
You probably missed one of the commands on the previous page. You need to first do `cd myApp` to enter the project directory.

Can you try that and then let us know if this works?

[2022-01-28 19:49] mairaw commented on #6907
I'd suggest that you start a discussion on the https://github.com/actions/virtual-environments repo about this. This is not something the .NET team controls it.

[2022-01-28 21:16] rhyous opened #7151 "Ability to"
### Description

This is a bit of an enhancement request and not a bug per se.

With Generics, there is no way to:

1. Put a constraint on T to enforce it is a primitive.

```where T : Primitive```

2. Put a constraint on T to enforce that it is a number type: byte, int16, int32, int 64, float, dubble, etc.

```where T: Number```

### A possible simple resolution
This could be solved with interfac

[2022-01-29 13:08] kmldpsng commented on #7147
Hi @D8G

I believe you don't need to use the command "run". You just need to provide the filename after "Dotnet", like:

`dotnet myapp.dll`

You should be able to run without any issue. However, if the issue still persists please share the complete version of dotnet you are using.
You can refer the document:
[https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-run](url)

Thanks

[2022-01-29 21:23] areyes2022 opened #7152 "Missing Program.cs file from MyApp"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/edit
Operating System: Windows 10 Home

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
I'm unable to find Program.cs file from MyApp folder to complete the Edit your Code step. Did I miss any

[2022-01-30 01:21] mairaw commented on #7152
It's right there

![image](https://user-images.githubusercontent.com/12971179/151683118-e4b83b85-1ee1-4919-a6cb-8571594df3c4.png)

Windows hides the file extension depending on your system is configured. Let us know if this helps.

[2022-01-30 18:50] Vukan55 opened #7153 "help"
hello,i downloaded fantome,when i want to openit i need .net,when i downloaded .net this happened,also i have 64 bit pc
![слика_2022-01-30_195018](https://user-images.githubusercontent.com/98709133/151713174-867d243e-c21c-4a3a-8a56-363457d2f081.png)
help me pls @microsoftCSE

[2022-01-30 20:40] areyes2022 commented on #7152
Thank you! I appreciate the help.

Sent from my iPhone

[2022-01-30 23:04] Vinigas commented on #7153
Let's begin by naming Issues correctly. Naming issue "help" is unhelpful, spammy and disrespectful. Don't act entitled.

Second, send detailed machine hardware configuration including OS version.

[2022-01-30 23:57] mairaw commented on #7152
Closing the issue. But let us know if you run into any other issues.

[2022-01-30 23:57] #7152 closed

[2022-01-31 09:20] JosiahBoldt opened #7154 "Problem with .NET"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/install
Operating System: macos

Hey, currently running a late 2020 silicon M1 MBP. I do not have XCode installed. I think I successfully installed .NET, but when i tried to run `dotnet` in my terminal, I got this error:

`zsh: command not found: dotnet`

I saw on Stack Overflow someone suggested using brew

[2022-01-31 11:51] mihauck commented on #7121
Hi @lsstreet,

im facing the same problem with the SUSE Manager as a repository server.

`2022/01/30 12:00:05 +02:00 ERROR: Download failed: https://packages.microsoft.com/sles/15/prod/dotnet-sdk-5.0.202-x64.rpm - Target file isn't valid. Checksum should be 6d9d4e5f2d50367aee889237fd29af87f95c95abbda0549dd9e318daa0c89a55 (sha256).. Retrying...`

I think there is a problem with the package in  r [#

[2022-01-31 14:35] jonathansear commented on #7154
Hi there.
Mentioned in #7113
"Your dotnet SDK installation might not finished successfully. Please download the SDK by clicking on the `Download .NET SDK (64-bit)` button and then run/install it on your machine. If this step was successful you might need to restart your terminal, close and reopen the terminal and run `dotnet` command again, please let us know if that helps."

[2022-01-31 16:41] #7150 closed

[2022-01-31 16:48] bartonjs commented on #7151
An INumber interface shipped as part of a .NET 6 Side-by-Side preview.  Instead of just decoration it uses the new runtime and language feature of static abstracts on interfaces, which means it already provides the (Try)Parse.  https://devblogs.microsoft.com/dotnet/preview-features-in-net-6-generic-math/

As for IPrimitive... you'd have to define a primitive.  If you mean the built-in numeric type

[2022-01-31 16:50] bartonjs commented on #7153
cc @NikolaMilosavljevic

[2022-01-31 16:52] bartonjs commented on #7154
If you believe you installed .NET from the .NET download site, you may want to try closing the terminal and reopening it.  The installer installs .NET to a place not normally in the path, then registers it in the path; but `zsh` (and most other shells) doesn't look for that kind of change once it's running.

[2022-01-31 16:53] bartonjs commented on #7154
If that doesn't work, please let us know where you got the .NET installer, and anything else that feels relevant.

[2022-01-31 16:57] bartonjs commented on #7147
Off the top of my head it sounds like your .csproj is corrupt.  It should be an XML file that has Project as the root element.  Usually it's pretty slim, like

[code]

though probably with a newer TargetFramework value.

If you've correupted your project file you can create a new project with `dotnet new`, and the same project kind (e.g. `dotnet new console`) in a clean directory, then copy the pr

[2022-01-31 17:24] evan-boissonnot commented on #6604
How can i figure out about new features from dotnet 7 ?

[2022-01-31 19:13] Xeevis commented on #4446
It appears to be problem with snap alias. Just unalias the snap and symlink the binary instead.
[code]
You should then be able to call `dotnet --list-sdks` without root permission.

[2022-01-31 19:59] ggariepy opened #7155 "Deployment did not work."
Problem encountered on https://dotnet.microsoft.com/en-us/learn/aspnet/deploy-microservice-tutorial/deploy
Operating System: windows

kubectl get service mymicroservice --watch  command provides the following display:

NAME             TYPE           CLUSTER-IP    EXTERNAL-IP    PORT(S)        AGE
mymicroservice   LoadBalancer   10.0.98.143   104.42.13.58   80:31176/TCP   24m

...but navigating to

[2022-01-31 22:12] #7136 closed

[2022-01-31 23:12] #7138 closed

[2022-01-31 23:12] #7140 closed

[2022-01-31 23:12] #7126 closed

[2022-01-31 23:12] #7135 closed

[2022-01-31 23:54] terrajobst commented on #6604
Check out themesof.net, specifically https://themesof.net/roadmap?product=.NET&release=7.0

[2022-02-01 00:11] safern commented on #7106
## System.Drawing.Common: Unix support dropped

Based on the .NET 6 announcement made in: https://docs.microsoft.com/en-us/dotnet/core/compatibility/core-libraries/6.0/system-drawing-common-windows-only

We removed support for that switch in 7.0-preview1: https://github.com/dotnet/runtime/pull/64084

[2022-02-01 02:56] mairaw commented on #7155
I can open that URL just fine @ggariepy

[2022-02-01 03:48] RizzKid1 opened #7156 ""Error CS8802: Only one compilation unit" running .NET tutorial"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
C:\Users\mt15k\MyApp>dotnet run
C:\Users\mt15k\MyApp\Program.cs(2,1): error CS8802: Only one compilation unit can

[2022-02-01 04:11] mairaw commented on #7156
What are the contents of your `MyApp` directory? The `dotnet new console -o MyApp` command should have only created one .cs file called Program.cs with the following content:

[code]

Did you change anything in the project?

[2022-02-01 04:20] RizzKid1 commented on #7156
C:\Users\mt15k\MyApp>dir

Volume in drive C is OS

Volume Serial Number is C4BD-2029

Directory of C:\Users\mt15k\MyApp

01/31/2022  10:31 PM    <DIR>          .

01/31/2022  10:23 PM    <DIR>          ..

01/31/2022  10:28 PM    <DIR>          bin

01/31/2022  10:27 PM    <DIR>          myapp

01/31/2022  10:31 PM               249 MyApp.csproj

01/31/2022  10:28 PM    <DIR>          obj

01/31/2

[2022-02-01 04:34] mairaw commented on #7156
You seem to have another myapp directory inside this project. Maybe delete everything and try again? Or just delete that internal myapp folder? If you ran the command inside the MyApp folder, it would create another Program.cs file causing this issue.

[2022-02-01 04:43] RizzKid1 commented on #7156
Deleted it all, started over, and it works. Thanks for the quick help.

From: Maira Wenzel ***@***.***>
Sent: Monday, January 31, 2022 11:34 PM
To: dotnet/core ***@***.***>
Cc: RizzKid1 ***@***.***>; Author ***@***.***>
Subject: Re: [dotnet/core] "Error CS8802: Only one compilation unit" running .NET tutorial (Issue #7156)

You seem to have another myapp directory inside this project. Maybe delete

[2022-02-01 04:47] mairaw commented on #7156
Glad to hear. Closing the issue then.

[2022-02-01 04:47] #7156 closed

[2022-02-01 09:53] joostvz commented on #6976
@wf-soft FWIW: I was able to fix this error by building my .NET 6 app with the following runtime identifier: "win7-x64". It doesn't add the api-ms-win-core-winrt-l1-1-0.dll to the output folder, but it does add several other api-ms-win-core-xxx-l1-1-0 dll's.

[2022-02-01 15:08] Amartain commented on #4446
It still doesn't work... with the 6th version of .net - tried changing the alias however the snap libraries don't look like that for me. @Xeevis

[2022-02-01 15:09] ggariepy commented on #7155
It "started working" for me this morning.  There must have been a crazy delay in the startup of the software.  Thank you, @mairaw for taking a moment to look into this for me.

[2022-02-01 15:09] #7155 closed

[2022-02-01 15:18] Joren-Thijs-KasparSolutions commented on #6733
I faced the same issue today on Ubuntu after recently upgrading from Win10 to Win11.

What fixed it for me was removing my existing dotnet install `sudo apt remove --purge dotnet-*` and reinstalling following the [docs](https://docs.microsoft.com/en-us/dotnet/core/install/linux-ubuntu#2110-)

[2022-02-01 19:09] NikolaMilosavljevic commented on #7153
@Vukan55 it seems that you attempted to install arm64 .NET on x64 machine. Correct installer can be found here: https://dotnet.microsoft.com/en-us/download/dotnet/6.0 Please select x64 Windows installer from the "SDK 6.0.101" table.

[2022-02-01 20:56] XFactors8 opened #7157 ".net issue"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/install
Operating System: macos monterey version 12.1 m1 max
"zsh: command not found: dotnet"

[2022-02-01 21:16] mairaw commented on #7157
Which version of the SDK did you install? For M1, the correct one would be Arm64.

[2022-02-01 21:19] mairaw commented on #7153
Can you let us know if the issue is fixed after you install the correct version?

[2022-02-01 22:03] kodkuce commented on #505
Like wtf i just wanted to make a simple net core web api, i pressed debug and BAM error you need to use VSCode from Microsoft, lol like whats the point of open sourcing VSCode if you have to use closed binary blobbed one.  Literally i am now in mood to learn rust or C++ or whatever Microsoft will newer change i guess i can only cry on Mono grave

[2022-02-01 22:40] #7142 closed

[2022-02-01 23:06] XFactors8 commented on #7157
i tried both. none of them is working should i add it in the PATH?

[2022-02-02 07:32] arnaudov commented on #3176
Was there any resolution of this issue? I'm experiencing the same issue when I'm starting two different .net core apps from visual studio in same solution

[2022-02-02 17:02] RayWangQvQ opened #7239 "AzureFeed 'dotnetcli.azureedge.net/dotnet' in dotnet-install script was too slow in China"
As dotnet/install-scripts#236 , I tried to install sdk with version 5.0.404, it was slow too. So I guss, it is not about `latest.version`.

Here are the cmds:

[code]

The script showed their download urls(sdk v5.0 and v6.0):

[code]

Here is my speed in browser:

![image](https://user-images.githubusercontent.com/31154238/152197573-366b5fb2-abff-4dce-b9bd-8b687d23246d.png)

For current situation,

[2022-02-02 21:52] rhornjr opened #7159 "Linq ArgumentException When the Values Change"
The below code fails with this exception:
System.ArgumentException: At least one object must implement IComparable.

However, if you change this line...
calendarDurations.Add(30);
... to use this...
calendarDurations.Add(14);
... it works.

So it appears the order, or a specfic number matters. This was done on dotnetfiddle.net with .NET 4.7.2 and .NET 6.

[code]

Stack trace:
Unhandled exception.

[2022-02-02 22:01] #7159 closed

[2022-02-02 22:01] rhornjr commented on #7159
Figured it out.

[2022-02-02 22:26] INGCRENGIFO commented on #7154
same error

[2022-02-03 04:24] #7144 closed

[2022-02-03 05:27] #6998 closed

[2022-02-03 10:02] jeffhandley commented on #6976
Thanks for sharing that solution, @joostvz. @wf-soft, can you test that solution out for your scenario too?

[2022-02-03 17:01] boburshoh01 opened #7160 "Can't use dotnet new"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/create
Operating System: linux

The problem is that I can't create new File with dotnet new.

![Screenshot from 2022-02-03 21-52-15](https://user-images.githubusercontent.com/61194246/152391246-7df6bfa8-414d-4648-ae95-fa62e57c3d5b.png)

[2022-02-03 19:41] #7146 closed

[2022-02-03 22:24] rbhanda commented on #7121
Thanks a lot for reporting this issue. We found the problem and deleted the offending file from packages.microsoft.com. This should be resolved now

[2022-02-03 22:40] #7121 closed

[2022-02-03 22:53] leecow commented on #7033
This should be fixed now.

[2022-02-03 22:53] #7033 closed

[2022-02-04 00:46] #7145 closed

[2022-02-04 04:04] antman2 commented on #2001
The op's error message is very frustrating for people trying to debug ASP.NET web apps under Docker as well.

No matter which port number/s you choose to use in `ASPNETCORE_URLS` the same error message gets thrown in the debugger quoting the newly chosen port number/s. For example, using Visual Studio Code...

#### .vscode/launch.json
[code]

#### .vscode/tasks.json
[code]

Since we're in the cont

[2022-02-04 07:42] #7157 closed

[2022-02-04 13:57] #5646 closed

[2022-02-04 15:39] gurutcr opened #7161 ".Net Core 3.1 - Incorrect matching of endpoint template"
It looks like the endpoint pattern is matching greedy instead of going down to the next best match. I can also see that it totally ignores the attribute routing specified on the controller action. Please see the code snippets below.

**startup.cs**
[code]

**TestController.cs**
[code]

**Currently  loaded page's URL.**

`http://localhost:5000/hr/776cfe52-d39a-411d-88f3-c97e6895eb63/Test/1d3843a4-7

[2022-02-04 19:36] greenEkatherine commented on #7160
The error message says that .NET SDK is not found. Installation of this might not finished successfully. Please try to install it from the link mentioned in the error message https://aka.ms/dotnet-download After that you need to restart terminal and try again. Please let us know if it helps

[2022-02-04 20:03] same66 opened #7162 "لايستجيب"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/edit
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2022-02-04 20:04] same66 commented on #7162
لايستجيب التتبيت     برنمج تشغيل  الستلايت

[2022-02-04 20:09] #7149 closed

[2022-02-05 00:52] gabrielbergoc commented on #7154
I ran into the same issue, but on Windows 10.
Downloaded from this link: https://dotnet.microsoft.com/en-us/download/dotnet/thank-you/sdk-6.0.101-windows-x64-installer

[2022-02-05 08:19] sinfere commented on #6976
I meet the same problem, while I can resolve it by uncheck the option "Produce single file"
But any solutions when option "Produce single file" checked?

[2022-02-05 08:21] sinfere commented on #6976
![image](https://user-images.githubusercontent.com/1476105/152634348-894f725d-262a-40b9-a9b0-702eb6d6c473.png)

[2022-02-05 08:22] kwamealpha4098 opened #7163 "INSTALLING"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2022-02-05 19:16] Anolla opened #7164 "When trying to build and start a .net app, it doesn't open, chrome gives me "This site can’t be reached" localhost refused to connect or "This site can’t be reached" the connection was reset"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/aspnet/hello-world-tutorial/run
Operating System: windows

[2022-02-06 07:22] Anolla commented on #7164
Fixed following the second answer
https://stackoverflow.com/questions/37352603/localhost-refused-to-connect-error-in-visual-studio

[2022-02-06 07:22] #7164 closed

[2022-02-06 11:06] Fasunle opened #7165 "No templates matched the input template name: blazorserver."
Problem encountered on https://dotnet.microsoft.com/en-us/learn/aspnet/blazor-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

`
dotnet new blazorserver -o BlazorApp --no-https
`
No templates matched the input template name: blazorserver.

[2022-02-07 02:05] rosgori commented on #7112
Yes! This is a little bit worrying. This happens when I want to run a small project in .NET 6 or .NET 5. This message is:

[code]

And that appears when I use the command `dotnet watch run` or `dotnet run`.  Also when I try to run from the folder `bin/Debug/My-proyecto`, another message appears: `Violación de segmento ('core' generado)`, which translates to English (if I am not mistaken) as `Core

[2022-02-07 10:11] greenEkatherine commented on #7162
Is it an error message? Could you please try to translate it in English? I cannot find anything relevant

[2022-02-07 10:14] greenEkatherine commented on #7163
Could you please details about the problem you're experiencing?

[2022-02-07 10:34] greenEkatherine commented on #7165
It looks like you don't have `blazorserver` template. Please make sure that you have the latest .NET SDK https://dotnet.microsoft.com/en-us/learn/aspnet/blazor-tutorial/install

[2022-02-07 11:00] songcengiz opened #7166 "dotnet command problem"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
![Net Core](https://user-images.githubusercontent.com/97028285/152774922-2f09cfd5-f278-4513-b83c-91b64f098cf8

[2022-02-07 16:53] kordow opened #7167 "have installed .Net 5.0.0 but ds4 windows still appears warning to install .Net 5.0.0 how to overcome this?"
have installed .Net 5.0.0 but ds4 windows still appears warning to install .Net 5.0.0 how to overcome this?

[2022-02-07 17:11] #7154 closed

[2022-02-07 17:11] #7147 closed

[2022-02-07 18:48] mairaw commented on #7167
What is the error message you're seeing? Our runtime download page is a bit confusing at the moment, so maybe you just need a different download.

[2022-02-07 18:54] mairaw commented on #7119
That seems like a problem with Unity that we wouldn't be able to help. Maybe try https://answers.unity.com/index.html?

[2022-02-07 18:55] mairaw commented on #7115
How did you install the SDK on Linux then?

[2022-02-07 19:39] zezba9000 commented on #7115
@mairaw For me I haven't tried installing in a while but think I used the install script or another manual method at the time.
./dotnet-install.sh -c Current

If you look here others have been finding the issues with Snap & work arounds: https://github.com/dotnet/core/issues/4446#issuecomment-1026116914

[2022-02-07 19:58] mairaw commented on #7115
Yeah I've seen multiple issues with snap installs unfortunately.

[2022-02-07 20:53] bradmennengaHK opened #7168 "microservice-tutorial docker-image"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/aspnet/microservice-tutorial/docker-image
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

https://dotnet.microsoft.com/en-us/learn/aspnet/microservice-tutorial/docker-image

docker build -t my

[2022-02-07 22:31] Quedak opened #7169 "dotnet watch requires an addional parameter run"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/aspnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2022-02-07 23:59] adegeo commented on #6861
@mairaw this got lost in my inbox. I did update the doc with some info about this kind of issue with ARM processors. How prevalent is this issue? I thought you wouldn't want both x32 and x64 on the same machine anyhow?

[2022-02-08 13:16] greenEkatherine commented on #7169
Could you please provide an example?

[2022-02-08 13:19] greenEkatherine commented on #7166
Could you please confirm that current user has an access to the `.dotnet` folder?

[2022-02-08 14:05] greenEkatherine commented on #7162
Sorry, we cannot identify the issue, closing.

[2022-02-08 14:05] #7162 closed

[2022-02-08 15:56] Quedak commented on #7169
you can try it here
https://dotnet.microsoft.com/en-us/learn/aspnet/hello-world-tutorial/run

you need to use dotnet watch run (not just dotnet watch); and it seems it is something that is required for this particular tutorial (Link above).

[2022-02-08 16:25] INGCRENGIFO opened #7170 "zsh: command not found: dotnet (arm)"
### Description

Problem encountered on https://dotnet.microsoft.com/download/dotnet/thank-you/sdk-6.0.101-macos-arm64-installer
Operating System: macOS Monterey

https://dotnet.microsoft.com/download/dotnet/thank-you/sdk-6.0.101-macos-arm64-installer
successful installation
open iterm (zsh) dotnet

`zsh: command not found: dotnet`

"without rosetta"

[2022-02-08 16:26] greenEkatherine commented on #7169
I tried, it worked for me without `run`. @mairaw could you please help?

[2022-02-08 17:30] Quedak commented on #7169
not working for me... if I just dotnet watch in the MyWebApp folder nothing is happening... it maybe tells DotNet to watch the application folder for changes, but it is not starting the application. I have to say dotnet watch run - then the application is started and my default browser is opened with the application... then I can make a change to the application and see that it is being rebuilt an

[2022-02-08 18:09] dcwhittaker opened #7172 ".NET February 2022 Update - .NET 6.0.2, .NET 5.0.14"
Release Notes
[6.0.2](https://github.com/dotnet/core/blob/main/release-notes/6.0/6.0.2/6.0.2.md)
[5.0.14](https://github.com/dotnet/core/blob/main/release-notes/5.0/5.0.14/5.0.14.md)

Please report any issues you find either by responding to this issue, creating a new issue or creating a new issue in one of the following repos:

* [dotnet/aspnetcore](https://github.com/dotnet/aspnetcore/issues) -

[2022-02-08 18:32] songcengiz commented on #7166
Could you please confirm that current user has an access to the .dotnet folder?
No. an empty folder opens

[2022-02-08 19:00] davidremus opened #7174 ".NET Core RedirectToAction method fails when passing param"
Hello,

[2022-02-08 19:58] dezsiszabi commented on #7044
Same issue with `2022-02 .NET 6.0.2 Security Update for x64 Client (KB5011094)` via Windows Update.

[2022-02-08 20:04] dezsiszabi commented on #7172
The same issue happens with this release when trying to update via Windows Update:
- https://github.com/dotnet/core/issues/7062
- https://github.com/dotnet/core/issues/7044

Manually downloading and installing works.

[2022-02-08 20:05] mairaw commented on #7169
I need to update the tutorial to make it clear that you need .NET 6 SDK for the tutorial to work. The install step points to .NET 6 SDK download, but it's not clearly called out.

[2022-02-08 20:05] rbhanda commented on #7044
hi @dezsiszabi can you please share the logs with us. You can send them to rbhanda@microsoft.com

[code]

[2022-02-08 20:11] dezsiszabi commented on #7044
Hi @rbhanda

I sent the requested logs in email (hopefully mail won't be bounced back as size is around 10MB)

[2022-02-08 20:34] #7153 closed

[2022-02-08 20:36] rosgori commented on #7112
Same problem with `dotnet` version 6.0.102.

[2022-02-08 21:24] danroth27 commented on #7112
Is it possible you're building from/to a protected directory?

[2022-02-08 22:08] mthalman commented on #7106
## Reverted Console Formatter Change in ASP.NET Core Container Images

In .NET 6, the `Logging__Console__FormatterName` environment variable was [explicitly set to `Json`](https://github.com/dotnet/dotnet-docker/issues/3274) in the `aspnet` container images. Based on usability issues and [your feedback](https://github.com/dotnet/dotnet-docker/issues/2725), we've reverted this change in .NET 7.

Th

[2022-02-09 01:51] catninjaOG opened #7175 "I just want to run simple code and this happened"
![image_2022-02-08_205018](https://user-images.githubusercontent.com/54153400/153106542-e6ea4981-369b-4261-9f33-829815875632.png)
![image_2022-02-08_205058](https://user-images.githubusercontent.com/54153400/153106599-9b243938-153d-4397-9013-30a24f6473e9.png)
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide detail

[2022-02-09 02:39] mairaw commented on #7175
You might have created a new MyApp project inside that folder and so `dotnet run` doesn't know which Program.cs to choose.
Can you check what are the contents of your MyApp folder and share your findings?

You can also delete everything and start over and see if that helps.

[2022-02-09 02:58] rosgori commented on #7112
The solution is weird, I don't know why. I have installed `dotnet` through `snap` and it was working fine, no problem there. Suddenly on February when I tried to run some projects, it didn't work, it showed `watch : Exited with error code 139`. I tried two possible solutions: the first one, I downloaded the binaries from [here](https://dotnet.microsoft.com/en-us/download/dotnet/6.0) and I used the

[2022-02-09 08:49] Rand-Random commented on #7044
Here we go again, same error with 6.0.2 update. :(

[2022-02-09 09:01] greenEkatherine commented on #7166
@mairaw could you please have a look?

[2022-02-09 16:59] rbhanda commented on #7036
closed in favor of https://github.com/dotnet/core/issues/7172

[2022-02-09 18:01] greenEkatherine commented on #7170
It looks like an issue with symlink, please try to set it up manually:
`ln -s /usr/local/share/dotnet/x64/dotnet /usr/local/bin/`
Please let us know if it helps.

[2022-02-09 19:14] suprak commented on #7172
After updating to SDK 6.0.102 we are seeing that our WPF app compiles references the following,

However with SDK 6.0.101 (previous) references,

The difference means that our app will not launch for folks on the 6.0.1 runtime (they must update to 6.0.2).

Is this expected behavior?

[2022-02-09 19:24] mairaw commented on #7166
I think we'd need something that understands setup issues here @greenEkatherine. @leecow can you help?

[2022-02-09 19:32] leecow commented on #7172
@marcpopMSFT - any ideas on https://github.com/dotnet/core/issues/7172#issuecomment-1034105137?

[2022-02-10 00:51] rbhanda commented on #7038
@wfurt if we have not started adding the RID, we should target to get those in as soon as possible for the April Release

[2022-02-10 01:32] rbhanda opened #7176 "Issue building with Windows Desktop 6.0.2"
We are aware of an issue where some customers are unable to run Windows Forms apps built against 6.0.2. This appears as a result of Windows Desktop servicing ref packs in 6.0.2.

This was reported on https://github.com/dotnet/winforms/issues/6663 (Windows Forms) and in https://github.com/dotnet/core/issues/7172#issuecomment-1034105137 (WPF). We are working on a fix for this and will update this th

[2022-02-10 01:48] INGCRENGIFO commented on #7170
@greenEkatherine I solved it doing what do you say

`sudo ln -s /usr/local/share/dotnet/dotnet /usr/local/bin`

It's strange, will I have that error if I update at some point?

[2022-02-10 02:03] catninjaOG commented on #7175
Idk how to comment on this site I think this is how you do it but yes deleting and redoing it did work, thanks

[2022-02-10 02:35] #7175 closed

[2022-02-10 03:27] abuwahid16 opened #7177 "Macbook Air (M1), installed dotnet-sdk-6.0.102-osx-x64.pkg but dotnet command gives error "zsh: command not found: dotnet" on terminal"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/aspnet/hello-world-tutorial/install
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2022-02-10 03:28] #7177 closed

[2022-02-10 03:28] abuwahid16 commented on #7177
Never mind, closing and opening the terminal resolved this issue.

[2022-02-10 04:26] Ntsgp opened #7178 "Report issue"
### Description

### Configuration

### Regression?

### Other information

[2022-02-10 08:41] greenEkatherine commented on #7170
I'm not sure, might it change the path? Maybe only if /x64/ will add.

[2022-02-10 08:53] greenEkatherine commented on #7178
No details about issue, closing.

[2022-02-10 08:53] #7178 closed

[2022-02-10 21:36] INGCRENGIFO commented on #7170
x64 does not exist, since I have installed the version for arm (mac m1)

[2022-02-11 02:18] RandyLarson commented on #4964
This is super disappointing if absolutely true. `dotnet` can produce a Windows exe in all detail except a version number? This seems like a trivial oversight. I am glad that I found this thread after an hour of reproducing what has been said above:

I am using the `-p:Version=a.b.c.d` mechanism in an attempt to apply a version within our Jenkins pipeline.

* versioning when targeting EXE output on

[2022-02-11 05:09] thesatyammishra opened #7179 "The term 'msbuild' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is correct and try again."
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2022-02-11 10:26] greenEkatherine commented on #7170
Ah, sorry, got it. I don't know then, you may ask in the thread https://github.com/dotnet/sdk/issues/22910. I'm closing this issue as a duplicate.

[2022-02-11 10:26] #7170 closed

[2022-02-11 10:33] greenEkatherine commented on #7179
After what command did you get this error? That tutorial doesn't have explicit calls of `msbuild`.

[2022-02-11 14:01] tomhoad opened #7180 "`dotnet watch` vs. `dotnet watch run`"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/aspnet/hello-world-tutorial/run
Operating System: windows

`dotnet watch` didn't work. `dotnet watch run` did.

[2022-02-11 15:10] mairaw commented on #7180
You need .NET 6 SDK for that command to work. I’ll clarify that in the tutorial.

[2022-02-11 17:40] RandyLarson commented on #4964
@svdHero - Since my last post I have not found anything regarding stamping the `.exe`. The thing that does work is the stamping of this given version onto `.dll`s. This is the route we took, as `dotnet` will emit a corresponding `.dll` for the `.exe` (e.g., `foo.dll` and `foo.exe` are both output files). Since the version is stamped correctly to the `.dll`, I've updated our code to use the `.dll`

[2022-02-11 17:43] joperezr commented on #7106
# Introducing the new Regex Source Generator

https://github.com/dotnet/runtime/issues/44676

Ever wished you had all of the great benefits that come from having a specialized Regex engine that is optimized for your particular pattern, without having to pay the costs of building this engine at runtime? We are excited to announce the new Regex Source Generator which is included in Preview 1. It bri

[2022-02-11 17:48] philfontaine commented on #7176
FYI, the workaround needs to be added to **all** the projects that use WPF/WinForms, not just the one being built.

[2022-02-11 20:29] #7160 closed

[2022-02-11 21:00] Dkirkwo1 opened #7181 "no Hello World output"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2022-02-11 21:02] Dkirkwo1 commented on #7181
Ran dotnet run, got no "Hello, World" response.

[2022-02-11 21:15] mairaw commented on #7181
So what did you get instead? Can you please share more details? Maybe a screenshot?

[2022-02-13 03:47] danmoseley commented on #7044
I don't know the cause, but installing 6.0.2 manually from https://dotnet.microsoft.com/en-us/download/dotnet/6.0 succeeded for me, then running Windows Update again cleared the error.

[2022-02-14 03:49] RiadAmin opened #7182 "i am working with unity and every time i execute the code"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2022-02-14 03:50] RiadAmin opened #7183 "i am working with unity and every time i execute the code a message comes in the terminal that Couldn't find a project to run. Ensure a project exists in C:\Users\User, or pass the path to the project using --project"
help?

[2022-02-14 03:51] #7182 closed

[2022-02-14 09:47] pmeems commented on #7176
I found this workaround from https://github.com/dotnet/winforms/issues/6663.
I was having that issue in a Github Action for my 'x86 build and run unit test' only.
My x64 version had no issues.
After adding the suggested lines to my project, my unit tests (which uses some methods from my WinForm project) are working again.

[2022-02-14 10:49] #7163 closed

[2022-02-14 10:49] #7165 closed

[2022-02-14 12:29] greenEkatherine commented on #7183
You don't have project file in unity project, right? But you should have build assemblies. In that case try to open folder with you assemblies and run it with `dotnet myapp.dll` (example from here https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-run?tabs=netcore2x).

Please let us know if it helps.

[2022-02-14 16:49] iw4p opened #7184 "Self-contained library to .so or .dylib"
Hello,
Is it possible to do self-contained with a library? I want to load .dll files and use them on other platforms or other languages.
And as it  I can't use Publish single file option for libraries.
Is there any way I can load .dll self-contained or have it on another OS with another format like .so or .dylib?

[2022-02-14 17:19] ebeltran1981 opened #7185 "SQL Connection w/Kerberos - Linux Ubuntu - Error Code 139"
### Description

I'm upgrading an app from .NET 5 to 6. Our SQL servers supports Kerberos. In Windows and macOS the .NET 6 upgraded app works fine, but in Linux Ubuntu 20.04 the `dotnet watch run` shows: `watch : Exited with error code 139` when the app tries to execute a query against the SQL server.

The connection string I am using is this:

`"Server=our-sql-server.com;Database=our-db;MultipleA

[2022-02-14 18:54] #7167 closed

[2022-02-14 19:53] #7115 closed

[2022-02-15 05:15] wfurt commented on #7038
ok. I'll take look @rbhanda.

[2022-02-15 05:46] RussKie commented on #7176
@ebussa  [arm64 packages](https://www.nuget.org/packages/Microsoft.WindowsDesktop.App.Runtime.win-arm64/) are also at 0. This likely an indication of very niche market for these platforms. Developers and end users generally gets these packs with .NET SDK or .NET runtime downloads, and NuGets probably get downloaded by CI/CD pipelines.
In either case your question is orthogonal to the issue discuss

[2022-02-15 08:06] MarcoHandl opened #7186 "ERR_SSL_PROTOCOL_ERROR on Running tutorial"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/aspnet/blazor-tutorial/run
Operating System: windows 10

First with  the "dotnet watch" comand I just get the explanation of the comand, nothing is starting.
When I try "dotnet watch run" something happens, but with an ERR_SSL_PROTOCOL_ERROR (Connection to this side is not safe, localhost sends a invalid answer) in my Browserwindow.

[2022-02-15 08:38] Rand-Random commented on #7044
@joeloff Sorry, for the late reply.
Here the requested log:
[WindowsUpdate.log](https://github.com/dotnet/core/files/8067254/WindowsUpdate.log)

Feel free to delete my comment after you got what you need, to "hide" potential private information.

[2022-02-15 10:53] VijayashanthiGajula opened #7187 "."
.

[2022-02-15 10:55] #7187 closed

[2022-02-15 11:55] ebussa commented on #7176
I believe this error is related to the issue so I'll share it here. I have a WPF app that should compile to a single file but fails with the error "error netsdk1112: the runtime pack for microsoft.windowsdesktop.app.runtime.win-x86 was not downloaded." I have restoration of missing packages enabled during the build.

[2022-02-15 16:44] joeloff commented on #7044
Thanks @Rand-Random

[2022-02-15 17:55] ajhiggins421 commented on #7106
I am reading this as there is no plans to continue attempts to make forms cross-platform, or anything that relies on system.drawing? What was the point of Microsoft taking over the open-source initiatives to make .NET cross-platform, shut down Net Framework by merging in Core only to decide to drop the cross platform support?

[2022-02-15 18:09] teo-tsirpanis commented on #7106
Hello @ajhiggins421, there has never been the plan to make Windows Forms cross-platform; even after it got ported to modern .NET it remains a Windows-only technology. The first link of the post you quoted gives more details about [why `System.Drawing.Common` became Windows-only](https://docs.microsoft.com/en-us/dotnet/core/compatibility/core-libraries/6.0/system-drawing-common-windows-only#reason-

[2022-02-15 18:38] danmoseley commented on #7106
Correct, Windows Forms and System.Drawing are essentially Windows tech, as they're wrappers over Windows tech. For cross platform UI, you should take a look at [MAUI](https://devblogs.microsoft.com/dotnet/introducing-net-multi-platform-app-ui) which is being built for that purpose.

[2022-02-15 18:47] KPixel commented on #7106
Specifically, [Microsoft.Maui.Graphics](https://github.com/dotnet/Microsoft.Maui.Graphics) is the cross-platform graphics library of the future.

[2022-02-15 21:44] kiwiant commented on #7044
My Windows Updates were clear until just now immediately after upgrading to Visual Studio 17.1.

[2022-02-15 22:08] Rand-Random commented on #7044
@kiwiant most likely because 17.1 manually installed the 6.0.2, which is the recommended workaround to get rid of the error in windows update

[2022-02-15 23:07] danmoseley commented on #7044
Right, updating VS is apparently another option.

[2022-02-15 23:19] kiwiant commented on #7044
Just to be clear this error only popped up after upgrading Visual Studio from 7.0 to 7.1 (ie, this upgrade caused the error to show rather than fix it).

[2022-02-16 02:25] KaiqueRoc opened #7191 "versao nao compativel"
dotnet nao e compativl com meu mac versao **10.12.6 **

[2022-02-16 02:25] qwxoz opened #7192 "ran into Template "Console Application" could not be created"
Template "Console App" could not be created.
Failed to create template.
Details: Access to the path 'C:\Program Files\dotnet\MyApp' is denied.

[2022-02-16 02:26] qwxoz commented on #7192
how do i fix this email me at jared.christy@yahoo.com thanks

[2022-02-16 02:26] #7192 closed

[2022-02-16 02:27] qwxoz opened #7193 "how to fix this error"
Template "Console App" could not be created.
Failed to create template.
Details: Access to the path 'C:\Program Files\dotnet\MyApp' is denied.
email me at jared.christy@yahoo.com on how to fix

[2022-02-16 03:16] ebeltran1981 commented on #7185
Issue already reported in SqlClient project.

https://github.com/dotnet/SqlClient/issues/1390

[2022-02-16 03:16] #7185 closed

[2022-02-16 03:18] mairaw commented on #7191
Correto. As versões suportadas estão documentadas no seguinte link:
https://docs.microsoft.com/dotnet/core/install/macos

A versão mínima é 10.15.

[2022-02-16 03:18] #7191 closed

[2022-02-16 08:53] Rand-Random commented on #7044
@kiwiant ah, sorry misunderstood you, I thought you meant the windows update immediately cleared after the update to 17.1

I wouldn’t know if the update would cause the issue or not I am on the preview channel so already had 17.1 preview when .net 6.0.2 got released

@joeloff am I free to go and apply the workaround or do you want me to stay on the error in case you need more info?

[2022-02-16 09:40] joeloff commented on #7044
No, please go ahead and patch your system. You should be able to just install the standalone SDK directly or update VS - the latter is probably the better route to take.

Here's a breakdown of the root cause.

In 17.1 Preview 2, we shipped a preview of SDK 6.0.200 along with the 6.0.1 runtimes. VS included a newer copy of some of the workload manifest installers compared to what was in the standal

[2022-02-16 10:07] Rand-Random commented on #7044
@joeloff

Updated from 17.1 preview (latest - was it 6?) to 17.2 preview 1, restarted the PC but Windows Update still shows the error.
![image](https://user-images.githubusercontent.com/9868626/154241685-c71151dc-dab2-42fd-9788-d349d7e300a4.png)

So, should I go install the standalone SDK or do you want info/logs?
`dotnet --info` doesn't show that I have a 6.0.2 preview installed.

![image](https:

[2022-02-16 10:31] twenzel commented on #7172
6.0.2 breaks our web application build with error `CS2015 'xy.png' is a binary file instead of a text file` .
https://developercommunity.visualstudio.com/t/NET-SDK-60200-breaks-build-due-to-CS2/1667603?ref=native&refTime=1645007418972&refUserId=91f26041-a17a-4035-a156-3704387e57e3

[2022-02-16 11:14] madhub commented on #5434
Should also provide guidance on selecting **Workstation** or **Server GC** on constrained environments

[2022-02-16 11:17] madhub commented on #5485
Also good default GC for constrained environment , today by default asp.net core apps select Server GC, it is issue for constrained environment.

[2022-02-16 13:47] #4027 closed

[2022-02-16 17:25] Ghad1ee2r3 opened #7196 "dotnet is not recognized as an internal or external command or batch file in Windows 10"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2022-02-16 17:43] tarekgh commented on #7193
There is not enough information here to try to help you. From the error, looks you have created your app inside the dotnet folder which you may not have permission to access there. Try to create your app in some other accessible place in your file system.

[2022-02-16 17:43] #7193 closed

[2022-02-16 17:46] tarekgh commented on #7184
Can you just package these DLLs in a nuget package and reference it in your library?

[2022-02-16 19:25] CarlosRFAraujo opened #7197 "symbol __pthread_key_create version GLIBC_2.2.5 not defined in file libpthread.so.0 with link time reference"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/run
Operating System: linux

relocation error: /home/carlos/Documentos/Estudos/Javascript/recode/CSharp/olaMundo/bin/Debug/net6.0/olaMundo: symbol __pthread_key_create version GLIBC_2.2.5 not defined in file libpthread.so.0 with link time reference

[2022-02-16 20:28] iw4p commented on #7184
I think it'd be still .dll via Nuget package manager.
I'm looking for something to self-contained .dll s (library) to use and load on another OS, Like what Xamarin does with .dll files, it allows to load and use .dll files on other OSs natively, but via C#.

[2022-02-16 20:37] alexispolakMURAL opened #7226 ".NET 5 in Surface Hub devices"

[2022-02-16 20:39] tarekgh commented on #7184
@jkotas any thoughts around this question?

[2022-02-16 21:03] ajhiggins421 commented on #7106
Sorry for the confusion but AFIAK Microsoft does to support Maui on Linux. See: [.NET MAUI Layouts Revamped, Developers Question Lack of Linux](https://visualstudiomagazine.com/articles/2021/08/19/maui-preview-7.asp). Additionally, It is not removal of `System.Drawing` that draws my concern but that by removing the library it indicates there are no plans to provide Linux desktop support at all, ev

[2022-02-16 21:53] vitek-karas commented on #7184
@MichalStrehovsky might also know

[2022-02-16 23:28] danmoseley commented on #7106
cc @davidortinau

[2022-02-17 00:01] menees commented on #7176
This workaround isn't working for my [MegaBuild](https://github.com/menees/MegaBuild) solution's [.exe project](https://github.com/menees/MegaBuild/blob/master/src/MegaBuild/MegaBuild.csproj). When I comment out the `<UseWpf>` property and comment out the few lines that require WPF in MainForm.cs, then it works. But when UseWpf is true, then I get these errors in the diagnostics MSBuild output:

[

[2022-02-17 00:03] RussKie commented on #7176
@menees have you tried https://github.com/dotnet/winforms/issues/6663#issuecomment-1034371295?

[2022-02-17 00:08] mairaw commented on #7196
Did you install the SDK? If so, did you close the prompt window and start a new one after installation?

[2022-02-17 00:44] mairaw commented on #7193
Try creating your project on a different folder @qwxoz.

[2022-02-17 01:02] MichalStrehovsky commented on #7184
If you want to build .so/.dylib/.dll files with C# that can be consumed from other non-.NET languages, you might want to look into https://github.com/AaronRobinsonMSFT/DNNE.

If you _also_ want these to be fully self-contained and single file, you should look at NativeAOT: https://github.com/dotnet/samples/tree/main/core/nativeaot and the NativeLibrary sample.

[2022-02-17 07:28] #7184 closed

[2022-02-17 07:43] SMHodges commented on #7044
So what's the solution supposed to be? Installing the update from https://dotnet.microsoft.com/en-us/download/dotnet/6.0 does nothing to clear the error for me.

[2022-02-17 09:44] olaldenoh commented on #6971
Hi @mairaw I am having a similar issue. I have downloaded and installed .NET Core 3.1 SDK x64, then restarted my computer and the error keeps appearing when I try to run MaxQuant. Any ideas? Thanks!

[2022-02-17 12:00] ZeyadTarekk opened #7198 "Error in installing .net on ubuntu"
I'm trying to install .net 6.0
on Linux ubuntu x64

this error appears
The repository 'http://ppa.launchpad.net/octave/stable/ubuntu focal Release' does not have a Release file.

[2022-02-17 12:41] menees commented on #7176
Thanks, @RussKie! That worked! In addition to global.json, I added the following step to my GitHub [build.yml](https://github.com/menees/MegaBuild/blob/master/.github/workflows/build.yml) workflow to make sure it will keep building successfully even when GitHub updates their [windows-2022](https://github.com/actions/virtual-environments/blob/main/images/win/Windows2022-Readme.md#net-core-sdk) imag

[2022-02-17 13:29] andreas-soroko opened #7199 "switch expression returns double on int, long, float condition"
### Description

We came across a behaviour that we would classify as bug.
If you use a switch expression (with condition on int, long, float) in a function that returns an object all values have as return type double.
As soon as another types (like string, decimal) are present, everything works as expected.

I didn't found any information about that if this is an expected behaviour or not, so if

[2022-02-17 14:31] victorsand opened #7200 ".NET application suddenly takes several minutes to start"
I started getting problems with extremely slow application startup for my .NET applications suddenly. I absolutely cannot figure it out and need suggestions on how to troubleshoot this.

**Symptoms**

 - After `dotnet run`, an application that usually takes a few seconds (at most) to start suddenly takes 5-10 minutes to start.
 - After starting, queries don't work due to HTTP auth timeouts

**Appl

[2022-02-17 17:51] rbhanda opened #7203 ".NET 7.0 Preview 1"
[Release Notes](https://github.com/dotnet/core/blob/main/release-notes/7.0/preview/7.0.0-preview.1.md)

Please report any issues you find with [.NET 7 Preview 1](https://devblogs.microsoft.com/dotnet/announcing-net-7-preview-1/), either responding to this issue, creating a new issue or creating a new issue in one of the following repos:

* [dotnet/aspnetcore](https://github.com/dotnet/aspnetcore/i

[2022-02-17 20:22] Lagunajack opened #7208 "Problem installing dotnet-sdk-6.0.200-win-arm64.exe"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/install
Operating System: windows

When installing Microsoft.NET SDK 6.0.600  the setup failed. Message: The installation package is not supported by the processor type.
The processor is AMD Ryzen 5 3400G with Radeon Vega Graphics       3.70 GHz with 16GBYTES.

[2022-02-18 00:08] mairaw commented on #7197
How did you install the .NET SDK? I've seen cases where people ran into this issue when installed via snap

[2022-02-18 00:14] mairaw commented on #7208
You probably want to install the 64-bit version. To confirm:
- Click on the search icon on the Windows taskbar
- Type something like Device specifications
- Open the system settings window

You should get a window that will have many system settings. Confirm the system type. Mine for example says the following:
System type	64-bit operating system, x64-based processor

[2022-02-18 08:12] #7200 closed

[2022-02-18 08:12] victorsand commented on #7200
Turns out the logging itself is the culprit. Investigating further, but this issue is obsolete.

[2022-02-18 11:04] #7179 closed

[2022-02-18 14:03] zigpot commented on #4446
This problem is fixed with version 7.0.0 in case anyone doesn't mind upgrading from 6.0

[2022-02-18 15:19] ebussa commented on #7176
~~I believe this error is related to the issue so I'll share it here. I have a WPF app that should compile to a single file but fails with the error "error netsdk1112: the runtime pack for microsoft.windowsdesktop.app.runtime.win-x86 was not downloaded." I have restoration of missing packages enabled during the build.~~

@RussKie I now think the error above is caused by these errors:

XamlC error

[2022-02-18 16:39] snickler commented on #7208
Use the Download .NET SDK (64-bit) link. You accidentally clicked on the Arm64 download.

![image](https://user-images.githubusercontent.com/4016293/154724674-2e0e079d-d33e-4668-a5ad-387fa1bdd07e.png)

[2022-02-18 16:39] joeloff commented on #7044
Thank you for the updater. I'm still working on the repro and talking to a few other teams that handle the publishing of the updates.

[2022-02-18 16:40] Ghad1ee2r3 commented on #7196
yes I installed and setup SDK
![image](https://user-images.githubusercontent.com/52378925/154724795-99a55e13-077d-463c-aae3-ef7c655f51fa.png)

[2022-02-18 16:53] snickler opened #7213 "Unable to download .NET 7 Preview 1 SDK using install scripts"
### Description

Currently unable to download .NET 7 Preview 1 SDK using the install-dotnet scripts. It seems as if the downloads aren't available from the Azure location. This directly affects the use of the setup-dotnet GitHub Action to pull in .NET 7 Preview 1 in CI builds. My examples are running from windows arm64, but it also affects windows x64.

Interestingly, the .NET 7 daily SDK builds D

[2022-02-18 18:34] dhedey commented on #7172
For the benefit of others searching here for a configuration error / breaking change new in dotnet 6.0.2, I've reported this issue: https://github.com/dotnet/runtime/issues/61577#issuecomment-1044959384

Environment variable configuration set up with a prefix containing `__` no longer matches to environment variables with that prefix. I've added a suggested workaround in the above linked comment.

[2022-02-18 20:19] Ghad1ee2r3 commented on #7196
I closed prompt windows and start a new one. when I try to create a project, display to me message that informs me, it seems like I did not install but actually, I did.
![image](https://user-images.githubusercontent.com/52378925/154755260-ccfbb8d9-09e8-45d9-99ca-586ee3781456.png)

[2022-02-18 20:27] andreas-soroko commented on #7199
https://github.com/dotnet/roslyn/issues/59651

[2022-02-18 20:27] #7199 closed

[2022-02-18 21:26] #7181 closed

[2022-02-18 21:33] Rand-Random commented on #7044
@joeloff
If I am not mistaken, I found the files you are asking for
[log.zip](https://github.com/dotnet/core/files/8100526/log.zip)

Once again feel free to delete the comment, after you have what you need.

[2022-02-18 21:35] RussKie commented on #7176
If this is WPF related, please raise an issue in dotnet/wpf repo.

You can also build with /bl flag to generate a binlog, and use MSBuild Structured Log Viewer tool to investigate what assemblies are referenced,  and see where it's failing.
________________________________
From: Edward Bussa ***@***.***>
Sent: Saturday, 19 February 2022 2:20 AM
To: dotnet/core ***@***.***>
Cc: Igor Velikorossov **

[2022-02-18 21:41] joeloff commented on #7044
will do, thank you

[2022-02-19 07:27] hangacs opened #7215 "Generate proper symbol name when use C# keywords as variable name."
Souce generator will generate wrong code and cause compile error when use C# keywords like @class @event as variable name. This appear to [CommunityToolkit](https://github.com/CommunityToolkit/dotnet/blob/081377955682164b86ed6fb5e56eec45b2409cd1/CommunityToolkit.Mvvm.SourceGenerators/ComponentModel/ObservablePropertyGenerator.Execute.cs#L46) `string fieldName = fieldSymbol.Name;`. `Name` will igno

[2022-02-19 07:38] hangacs commented on #7215
Currently the only way to get proper symbol name I found is to use `symble.ToDisplayParts().Last()`.

[2022-02-19 08:00] YuliiaKovalova commented on #7213
Hello @snickler,

Thank you for reaching us. Could you run the command `"install-dotnet.ps1 -Version 7.0.100-preview.1.22110.4"` with `"-Verbose"` argument at the end and share a full log? It will give us more information for further investigation.

[2022-02-19 13:52] gph75 opened #7216 "[.NET Tutorial]: Tutorial: Get started with ASP.NET Core"
### URL

https://docs.microsoft.com/en-us/aspnet/core/getting-started/?view=aspnetcore-6.0&tabs=linux

### Operating system

Linux

### More information about your system

Ubuntu 20.04.4 LTS
x64

### Description

I'm facing this error message when trying to perform **dotnet watch run** in the Run the App section of the tutorial

watch : Started
Building...

watch : Exited with error code 139
watch

[2022-02-19 14:17] cicorias commented on #7044
This is still occurring now with 6.0.2 even after running the SDK for 6.0.2 which installed "ok" -- reboot and Windows Update is showing below, and `dotnet --list-sdks` shows installed.

0x80070643 KB5011094

<img width="676" alt="image" src="https://user-images.githubusercontent.com/1080406/154804538-ac9888dc-7702-4ce6-9748-46cddb5d3177.png">

<img width="331" alt="image" src="https://user-images

[2022-02-19 22:02] snickler commented on #7213
Hi @YuliiaKovalova - I think I figured it out, and it was the output of the .NET 7 Preview 2 that gave me the hint. It looks as if the dotnet-install script used for the setup-dotnet GitHub Actions is using an older version that doesn't fall back to using https://dotnetbuilds.azureedge.net if it can't find the package. I went to a computer that was running an older version from Aug 2020 and notice

[2022-02-19 22:38] snickler commented on #7213
From a Twitter conversation I had, I realized that this is an issue with the SDK not being available from `dotnetcli.azureedge.net` endpoint on the outside, which the updated script including the `dotnetbuilds.azureeedge.net/public` feed "fixes".

The Ubuntu hosted runner is able to pull it down properly
[code]

But externally, the install link says the blob doesn't exist. This matches what I was

[2022-02-20 02:43] joeloff commented on #7044
Thank @cicorias I'm looking into the detection authoring. The NET 6.0.2 Update is actually a very broad classification and what's called the parent bundle and encapsulates all the various installers for the 6.0.2 release (the SDK, separate runtimes for .NET, Desktop, ASP.NET). It's possible something else is triggering an offering.

@Rand-Random I've been able to correlate some of the IDs in the l

[2022-02-20 14:52] Williams-Dan commented on #7197
I seem to be having the same or at least similar issue following https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-web-api?view=aspnetcore-6.0&tabs=visual-studio-code

Getting the error when running the aspnet-codegenerator on the step for scaffolding a controller:

`/home/dan/.dotnet/tools/dotnet-aspnet-codegenerator: relocation error: /home/dan/.dotnet/tools/dotnet-aspnet-codegenerato

[2022-02-20 15:53] cicorias commented on #7044
@joeloff  installing the 6.0.102 SDK worked in terms of getting Windows update to no longer offer it

<img width="757" alt="image" src="https://user-images.githubusercontent.com/1080406/154851403-41511b08-2af9-4054-bea1-82305619cbc7.png">

[2022-02-20 16:31] OronDF343 commented on #7131
I am also concerned about this proposed change. Here are my thoughts on it:
* In the CLI, I think that the current defaults should not be changed, as stated by others above. Maybe, if the behavior was not explicitly specified in the arguments, an informational message could be shown to let the developer know about RID-specific targeting.
* In VS, I think that the problem could be solved with bette

[2022-02-20 16:47] Ghad1ee2r3 commented on #7196
this issue happen because when I was check where dotnet  in cdm display to me x86 path returns first,while my system is x64 . so I  fix the issue  by follow this steps :
[](https://user-images.githubusercontent.com/12971179/108114587-d697d700-704d-11eb-924f-f00fcbcf5c18.png)image
Click on the Environment Variables button
![image](https://user-images.githubusercontent.com/52378925/154853648-3f4204c

[2022-02-20 16:48] #7196 closed

[2022-02-20 21:30] mehmetkeles03 opened #7217 "visual studio"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/run
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2022-02-20 22:39] harunpehlivan opened #7218 "core"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2022-02-21 05:05] HavenDV opened #7219 "dotnet build support for projects with Source Generators where .Net Standard 1.0 library used in generation-time"
### Description

This is a very specific problem. MSBuild 17.0 and dotnet build 6.0.200 is not able to build a library with a source generator that has a generation time dependency as a .Net Standard 1.0 library (and therefore contains .Net Standard 1.0 dependencies in the analyzers/dotnet/cs folder). MSBuild 17.2 preview successfully builds it. I don't know in which version exactly MSBuild solved

[2022-02-21 10:15] Rand-Random commented on #7044
Can also verify installing 6.0.102 stops windows update from offering 6.0.2.

[2022-02-21 11:12] Mike-OxHuge commented on #4446
Had the same issue on Ubuntu.
Removed snap and installed as apt. Works like a charm.

Replace 5.0 with desired version :)
[code]

And now `dotnet --version` gives me correct output, without `sudo`. Hallelujah
https://stackoverflow.com/questions/69842779/permision-denied-for-dotnet

[2022-02-21 12:22] hsuingram opened #7220 "dotnet run empty"
I follow this official document (https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/run) and run the main file which called Program.cs, but there is nothing happened. It should show " Hello, World! ".
![Screenshot from 2022-02-21 20-18-32](https://user-images.githubusercontent.com/92967217/154954114-16cd313b-986f-48a6-9fbf-2e3a35e449fd.png)
Operating System: Ubuntu 20.04
How coul

[2022-02-21 13:15] #7183 closed

[2022-02-22 03:06] carlossanlop commented on #5513
This is not a bug. It means you installed dotnet, but had a command line open before it got installed. You need to close and reopen the command line window so the environment variables get updated.

No es un bug de dotnet. Este error significa que instalaste dotnet, pero tenías una ventana de línea de comandos abierta cuando estabas instalándolo. Necesitas cerrar y reabrir la ventana de línea de c

[2022-02-22 03:40] RussKie commented on #6683
I just experienced the same issue on a VM attempting to install [6.0.200](https://dotnet.microsoft.com/en-us/download/dotnet/thank-you/sdk-6.0.200-windows-x64-installer) - `dotnet.exe` is missing
![image](https://user-images.githubusercontent.com/4403806/155058845-85d52f21-271a-4a92-9c1e-edfc05399ded.png)

[2022-02-22 14:12] snickler commented on #7213
Closing, since my issue was due to old dotnet-install scripts + the PR was merged for updating the setup-dotnet GH Actions task.

[2022-02-22 14:12] #7213 closed

[2022-02-22 14:56] schamal2205 opened #7221 "Error "View Index.cshtml not found" and also .html caused by missing Packages in Buildtree"
### Description
Since few Days ago, after updating our application to .net 6.0.2 all views where missing in the DLLs under AspNetCoreGeneratedDocument.
After bit of researching we figured out that the following error could cause the error.
[code]
So after that we have added the following to all projects containing .cshtml and .html files and everything worked as expected again:
[code]

Was there a

[2022-02-22 15:00] jackmusick commented on #7109
I'm seeing the same thing. I've ran the dotnet-core-uninstall tool, removed everything 3.* and 5.* from Programs. Here's what I'm seeing from both the x86 and x64 dotnet tool:

![image](https://user-images.githubusercontent.com/6733569/155157983-946d0d5b-6df0-4ecb-b989-5ad2c020f72b.png)

Likewise, this is what dotnet-core-uninstall reports:

![image](https://user-images.githubusercontent.com/67335

[2022-02-22 15:08] 18214091046 opened #7222 "我在Linux上安装dotnet，一直报错"
我在Linux上安装dotnet，一直报错

[2022-02-22 17:29] tarekgh commented on #7215
CC @jaredpar

[2022-02-22 17:34] tarekgh commented on #7218
@harunpehlivan we need more details about what is failing for you and what is your environment.

[2022-02-22 17:51] tarekgh commented on #7219
CC @rainersigwald

[2022-02-22 17:54] tarekgh commented on #7220
do you have the following line in the `Program.cs` file?

[code]

[2022-02-22 17:56] tarekgh commented on #7222
The translation of this is `I install dotnet on Linux and keep getting an error` but there is not enough information to help investigating this.

[2022-02-22 17:56] #7222 closed

[2022-02-22 20:53] jaredpar commented on #7215
The API behavior here is "By Design". The name of the symbol here is the name modulo the `@`. The `@` is just not a part of the name, it's a signal to the compiler on how to treat the name that follows. Code that emits names and needs to be conscious of emitting keywords and escape them appropriately.

@333fred this is the second generator issue where we don't have a good API for encoding namse wi

[2022-02-22 20:53] #7215 closed

[2022-02-22 21:29] johncrim commented on #3487
For anyone coming up against similar issues to those documented above, .NET Core has a great story for forward compatibility, and it's documented.

[.NET's roll-forward support allows using newer frameworks with libraries linked to older frameworks](https://docs.microsoft.com/en-us/dotnet/core/versions/selection#framework-dependent-apps-roll-forward).

The workaround for build errors like:
[code]

[2022-02-23 04:02] mqentar opened #7223 "fix"
### Description

### Configuration

### Regression?

### Other information

[2022-02-23 04:08] jamshedd commented on #7109
@csnellgrove1 can you please take a look to see what's going on?

[2022-02-23 04:09] jzabroski commented on #3487
@johncrim That does not always work, as is the case when the Microsoft DI HostBuilder pattern changed from 2.0 to 3.1.  So, while it is possible in theory, it is not always proven in practice.

If your issue is that you are using a 2.1 global tool with a newer version of the framework, ideally you install a local tool instead that is specific to your solution and you download the SDK your solution

[2022-02-23 11:50] StanlsSlav opened #7224 "Broken Link"
Hello, dotnet team!

The link on *.NET 7* from [core/release-notes/7.0/README.md](../tree/main/release-notes/7.0/README.md) is missing a hypen between preview and 1

https://devblogs.microsoft.com/dotnet/announcing-net-7-preview1/

[2022-02-23 15:47] csnellgrove1 commented on #7109
Yep I can take a look.  @jackmusick can you please use the log collection tool to send me the logs so I can see why offering is triggering for you?

Here are the steps for collecting setup logs:

  1.  Download collect.exe tool, by navigating to http://aka.ms/vscollect
  2.  Open admin command prompt and run this tool – it will create a ZIP file with setup logs in %TEMP%
  3.  Get the windowsupdat

[2022-02-23 15:51] markrendle commented on #7106
@ajhiggins421 If you look at the [Supported Platforms specifically for Microsoft.Maui.Graphics](https://github.com/dotnet/Microsoft.Maui.Graphics#supported-platforms) you'll see that it does support Linux via an abstraction over [SkiaSharp](https://github.com/mono/SkiaSharp). While the complete MAUI platform does not target Linux (yet?), there's no sign of them dropping Linux support from the Grap

[2022-02-23 16:07] jackmusick commented on #7109
I have the vscollect logs, but I don't recognize "Get-WindowsLog" as a valid command (or see anything on Google the references a module to install to use it). The email address is also hidden in your comment.

[2022-02-23 16:15] hez2010 commented on #7106
Flutter is using Skia to draw controls manually, while MAUI is more about wrapping the platform native controls and abstracting them in a cross-platform way, which can provide much better performance, accessibility and integration.
Windows, macOS, Android and iOS, all of them have their own unified native graphic interface, but I don't think Linux has such an interface to provide those controls ac

[2022-02-23 16:43] csnellgrove1 commented on #7109
Oops sorry about that, it’s Get-WindowsUpdateLog and the email address is charitys at microsoft dotcom

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Jack Musick ***@***.***>
Sent: Wednesday, February 23, 2022 8:07:36 AM
To: dotnet/core ***@***.***>
Cc: Charity Snellgrove ***@***.***>; Mention ***@***.***>
Subject: Re: [dotnet/core] KB5009193 and KB5009194 force

[2022-02-23 16:47] jackmusick commented on #7109
Sent. Thank you!

[2022-02-23 18:09] DelWoodcock commented on #7044
Updated VS2022 Preview to 17.2 preview 1 and I get the following error, retried a couple of times.
![image](https://user-images.githubusercontent.com/43828181/155380327-689b0efd-fc70-4956-958e-cbdc3a1b785b.png)

[2022-02-23 18:32] johncrim commented on #3487
@jzabroski  - certainly it's more reliable to use a framework version that the library was compiled against. As long as the newer versions of the framework are backward compatible with regard to the APIs being used, it will work. That's a big if, but .NET is generally pretty backward compatible.

To your point, I would be hesitant to use roll forward support in my own code base in production code

[2022-02-23 18:49] DelWoodcock commented on #7044
Manually downloading and installing it fixed the issue, thanks.

[2022-02-23 19:46] bozyurt21 opened #7225 "when I enter the command in terminal it return comand not found even though I have resently download the file"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/aspnet/hello-world-tutorial/install
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2022-02-24 01:07] tarekgh commented on #7224
@kalaskarsanket could you please have a look at this one?

[2022-02-24 01:10] tarekgh commented on #7223
@mqentar what exactly you are trying to report here?

[2022-02-24 01:10] #7223 closed

[2022-02-24 02:38] kalaskarsanket commented on #7224
I have created the PR (https://github.com/dotnet/core/pull/7227) and will merge the same. Thanks for notifying :-)

[2022-02-24 02:38] #7224 closed

[2022-02-24 03:06] jzabroski commented on #3487
@johncrim  Well, I hope your env variable for DOTNET_ROLL_FORWARD is inside a kubernetes pod / docker image so that no other apps see it... it will bite you one day.  The alternative is to set a runtime config json so that you set the roll forward there.

But, you may just want to read the porting guide for going from Wyam to Statiq: https://www.statiq.dev/web/porting-from-wyam

[2022-02-24 11:04] EnricoZamperlin opened #7228 "Hello World Issues"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

  It was not possible to find any installed .NET Core SDKs
  Did you mean to run .NET Core SDK commands? Inst

[2022-02-24 17:18] bjimmar opened #7229 "Syntax Error"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/aspnet/hello-world-tutorial/modify
Operating System: macos

I copied and paste the code from text editor and when I run my  app it says that I have a few syntax errors. I have coped and paste the error I received is below.

[2022-02-24 17:20] bjimmar commented on #7229
watch : Hot reload enabled. For a list of supported edits, see https://aka.ms/dotnet/hot-reload. Press "Ctrl + R" to restart.
watch : Building...
  Determining projects to restore...
  All projects are up-to-date for restore.
/Users/brandijimmar/MyWebApp/Pages/Index.cshtml.cs(2,8): error CS1003: Syntax error, ',' expected [/Users/brandijimmar/MyWebApp/MyWebApp.csproj]
/Users/brandijimmar/MyWebApp/

[2022-02-25 00:29] ptr727 commented on #7044
metoo, happened with 6.0.100, went away after manually installing sdk, error is back after installing vs 17.2.0 preview 1.
[code]

[2022-02-25 01:13] #7208 closed

[2022-02-25 07:09] Rand-Random commented on #7044
You need to install 6.0.102 sdk

[2022-02-25 07:29] rahulnfc opened #7230 "showing zsh: command not found: dotnet"
Operating System: macOS

I have just installed the dotnet in my MacBook Air

showing zsh: command not found: dotnet

[2022-02-25 13:35] BenBouck opened #7231 "error in code"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/aspnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

The tutorial tells to use `dotnet watch` to start the application, instead of `dotnet watch run`

[2022-02-25 17:22] ptr727 commented on #7044
I just uninstall 6.0.101, no need to keep old SDK versions around.

[2022-02-25 17:48] mairaw commented on #7231
I need to change the tutorial to be more clear that it needs .NET 6 SDK in order for it to work as written. So, you can use `dotnet watch run` if you're using .NET 5 or download .NET 6 SDK for the tutorial to work as-is.

[2022-02-25 17:48] #7231 closed

[2022-02-25 17:49] mairaw commented on #7229
You might have edited the .cs file instead of the .cshtml one. Windows might hide the file extension.
Maybe start over again and make sure you're editing the cshtml file and not the .cs one?

[2022-02-25 17:56] mairaw commented on #7228
It might be an issue with PATH.

Check the output of the `where.exe dotnet` command and if your system is x64 and the x86 path returns first, please follow the steps at https://github.com/dotnet/core/issues/5962#issuecomment-780084535 to fix the issue

Let us know if this helps.

[2022-02-25 17:56] mairaw commented on #7225
It might be an issue with PATH.

Check the output of the where.exe dotnet command and if your system is x64 and the x86 path returns first, please follow the steps at https://github.com/dotnet/core/issues/5962#issuecomment-780084535 to fix the issue

Let us know if this helps.

[2022-02-25 23:56] bjimmar commented on #7229
Going to give that a try, I work on a Mac and I know a lot of times things can look a little different. Thank you for your help

[2022-02-26 12:53] GF-Huang opened #7233 "Terrible implementation of EmailAddressAttribute screwed up my database."
https://source.dot.net/#System.ComponentModel.Annotations/System/ComponentModel/DataAnnotations/EmailAddressAttribute.cs,c3ae85dfd8a9f58c

# Are you serious???

![image](https://user-images.githubusercontent.com/4510984/155844017-07d05a44-8988-4c0f-9a7f-cd5f30e836e5.png)

# Look what inserted to my database.

![image](https://user-images.githubusercontent.com/4510984/155844062-38f7507b-a3a4-4e90-a

[2022-02-26 14:08] mthalman commented on #5651
Here's an example of an external system requiring knowledge of .NET dependencies across a wide range of platforms: https://github.com/microsoft/azure-pipelines-agent/blob/76d798f063189671a88f9b9f79d15ec5e9639867/src/Misc/layoutbin/installdependencies.sh

[2022-02-26 18:02] gifhuppp opened #7234 "ข้อผิดพลาดในการคอมไพล์!"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2022-02-26 20:31] mairaw commented on #7234
Please let us know what kind of compilation error you're getting so we can try to help.

[2022-02-26 21:47] RolfSchroeder opened #7235 "Meine erste APP. Wie mache ich die?"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2022-02-26 21:49] RolfSchroeder commented on #7235
syntax für App
Hallo World funktioniert nicht. Ich habe keine App.

[2022-02-26 21:56] RolfSchroeder commented on #7235
![image](https://user-images.githubusercontent.com/15377498/155860364-34b2b132-827c-4f24-80e8-3c9c20a978d6.png)
![image](https://user-images.githubusercontent.com/15377498/155860374-30bbb94c-d109-4449-b3e3-cea8c82d3168.png)

[2022-02-27 03:26] billzayy opened #7236 "Can't run "dotnet" command on Terminal"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/install
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2022-02-28 10:33] ChrisBurgdorff commented on #7197
Same thing happened to me.
I uninstalled the snap:
`sudo snap remove dotnet`

Then, I installed via apt-get:

`mkdir ~/src && cd ~/src
wget https://packages.microsoft.com/config/ubuntu/21.04/packages-microsoft-prod.deb -O packages-microsoft-prod.deb
sudo dpkg -i packages-microsoft-prod.deb
rm packages-microsoft-prod.deb`

`sudo apt-get update; \
sudo apt-get install -y apt-transport-https && \
sud

[2022-02-28 19:19] mairaw commented on #7236
What error message do you get?

[2022-02-28 19:25] mairaw commented on #7235
Can you run the `dir` command so we can see what's on your directory?

Google translate: Können Sie den Befehl 'dir' ausführen, damit wir sehen können, was sich in Ihrem Verzeichnis befindet?

[2022-02-28 19:28] mohitsinghal271 opened #7237 "not able solve it"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Could not execute because the application was not found or a compatible .NET SDK is not installed.
Possible r

[2022-02-28 19:40] mairaw commented on #7237
It might be an issue with PATH.

Check the output of the `where.exe dotnet` command and if your system is x64 and the x86 path returns first, please follow the steps at https://github.com/dotnet/core/issues/5962#issuecomment-780084535 to fix the issue

Let us know if this helps.

[2022-02-28 19:44] mairaw commented on #7229
Oh right, you're on a Mac. But still, make sure you're editing the right file.
There will be two:
- Index.cshtml
- Index.cshtml.cs

[2022-02-28 19:45] mairaw commented on #7230
Are you on a M1 machine? Which version of the SDK did you install?

[2022-02-28 19:47] mairaw commented on #7217
It's not clear what issue is here. Can you please provide more information?

[2022-02-28 19:51] mairaw commented on #7220
Also, how did you install the SDK?

[2022-02-28 20:58] sfc-gh-cconner opened #7238 "Getting Failed to fetch https://packages.microsoft.com/debian/11 for last few hours"
### Description

Unable to download dotnet on Debian.  Been getting the following for a few hours:

Err:9 https://packages.microsoft.com/debian/11/prod bullseye/main amd64 Packages
  File has unexpected size (37339 != 37648). Mirror sync in progress? [IP: 13.93.224.173 443]
  Hashes of expected file:
   - Filesize:37648 [weak]
   - SHA512:4d8ef6385226d9327527f0af7cc19d466e1a05d02ae6368681f87bdea40

[2022-02-28 21:24] SethKitchen commented on #7238
Same!

[2022-02-28 22:44] sdunham commented on #7238
Same, glad to see it's not just me!

[2022-02-28 22:52] rbhanda commented on #7238
Thanks for reporting this. Adding @leecow. We are investigating this

[2022-02-28 23:09] leecow commented on #7238
Definitely looks like an issue. Sent a not to the azlinux team.

[2022-02-28 23:37] leecow commented on #7238
Bullseye should be good to go now.

[code]

[2022-02-28 23:37] #7238 closed

[2022-03-01 00:33] bartonjs commented on #7235
Wie haben Sie diese Verzeichnis gemacht?  (`dotnet new -o MyApp` oder etwas anderes?)

Wenn Sie `dotnet new` ausgeführt haben, sollten zwei Dateien sein: MyApp.csproj und Program.cs.  Haben Sie diese Dateien in diesem Verzeichnis? (Dass ist auch Mairas Fragen).

(Entschuldigen Sie, bitte, ob meine Deutsch schlecht ist.  Ich habe nur seit eine paar Monaten Deutsch gelernt.)

[2022-03-01 00:43] billzayy commented on #7236
After i installed dotnet 6.0 and try to run "dotnet". My terminal give me a message like this :
`zsh: command not found: dotnet`

[2022-03-01 09:59] shrirang10 opened #7240 "program not run"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/run
Operating System: windows

C:\Users\Shrirang\MyApp>dotnet run
C:\Users\Shrirang\MyApp\Program.cs(2,1): error CS8802: Only one compilation unit can have top-level statements. [C:\Users\Shrirang\MyApp\MyApp.csproj]

The build failed. Fix the build errors and run again.

Provide details about the problem y

[2022-03-01 14:25] RolfSchroeder commented on #7235
Yes i can do <dir>. What shell I do?

[2022-03-01 14:37] sfc-gh-cconner commented on #7238
Thanks, much better now!

On Mon, Feb 28, 2022 at 6:37 PM Lee Coward ***@***.***> wrote:

--
--
Chris Conner
Principal Cloud Support Engineer

MOBILE  +1
<https://www.snowflake.com/wp-content/uploads/2019/04/tel+15555555512>859
475 6907
EMAIL  ***@***.*** ***@***.***>

Snowflake Inc.

[2022-03-01 16:08] TT-talhatariq opened #7241 "Error in running dotnet command"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/aspnet/hello-world-tutorial/install
Operating System: windows

I Got the error of "'dotnet' is not recognized as an internal or external command,
operable program or batch file." in command prompt.

[2022-03-01 18:32] carlossanlop commented on #7240
Hi @shrirang10 - If you search for the error message you get a very detailed explanation of the root cause of the error: https://docs.microsoft.com/en-us/dotnet/csharp/fundamentals/program-structure/top-level-statements

Closing since it's answered in the linked documentation.

[2022-03-01 18:32] #7240 closed

[2022-03-01 18:36] carlossanlop commented on #7241
Hello @TT-talhatariq - This error shows up if you install dotnet while you have a command line window open. You need to close the window and open it again so the environment variables get refreshed and the dotnet executable can be found. This is well described at the bottom of the link you provided: https://dotnet.microsoft.com/en-us/learn/aspnet/hello-world-tutorial/install

Closing since it has

[2022-03-01 18:36] #7241 closed

[2022-03-01 18:39] carlossanlop commented on #7236
@billzayy this error shows up if you try to run dotnet on a terminal window that was open while you were installing the SDK in another terminal window, or via the UI. You need to close the terminal window and open a new one to ensure the environment variables are refreshed with the location of the dotnet executable.

@mairaw maybe the tutorial should describe the error message users would see in m

[2022-03-01 20:13] Mahgadgi opened #7242 "Mahgadgi-patch-1"
### Description

### Configuration

### Regression?

### Other information

[2022-03-01 20:16] mairaw commented on #7242
Closing since issue template is empty.

[2022-03-01 20:16] #7242 closed

[2022-03-01 20:18] mairaw commented on #7236
That's a good idea @carlossanlop. So the `'dotnet' is not recognized as an internal or external command` is only for Windows machines?

[2022-03-01 23:35] mairaw commented on #7240
The problem here is that you created a new project inside the MyApp folder. You should only run the dotnet new command once. You can either delete the internal MyApp folder or delete everything and start over.

[2022-03-02 00:37] billzayy commented on #7236
@carlossanlop thanks for your support ! but can i ask what is the different between .NET SDK x64 & .NET SDK Arm64 ? Because after i tried to install a x64 version and still didn't run on MacOS. But i installed Arm64 version and it run now.

[2022-03-02 01:28] billzayy commented on #7236
Oh, i get this! Thanks for your support @mairaw & @carlossanlop. My problem is solved !

[2022-03-02 03:25] tilkinsc opened #7243 ".NET 6.0-windows: functions who initialize class scope fields throw warnings of not being initialized when exiting constructor when nullable=enable"
### Description
functions who initialize class scope fields throw warnings of not being initialized when exiting constructor when nullable=enable inside the csproj

program.cs
[code]

### Configuration
project.csproj
[code]
Issue does not persist when Nullable turned off

### Regression?
No idea if regression. New dotnet user.

### Other information
dotnet watch run
[code]

Issue probably does not

[2022-03-02 10:59] mot256 commented on #7112
We were debugging an issue where our .NET containers (linux) sometimes exit with 139 errors and I later found that if the .NET app (which runs as the entrypoint to the container) throws an unhandled exception (same as in @rosgori's [comment](https://github.com/dotnet/core/issues/7112#issuecomment-1031000223)), then the container consistently has an exit code of 139.
What is even more confusing is

[2022-03-02 17:25] GGdollar opened #7244 "Asp.net installation"
Template "ASP.NET Core Web App" could not be created.
Failed to create template.
Details: Access to the path 'C:\WINDOWS\system32\MyWebApp' is denied.
![Capture](https://user-images.githubusercontent.com/100737647/156414853-7a473e32-3087-4958-b0cc-cf94a29f121a.PNG)
![Capture](https://user-images.githubusercontent.com/100737647/156414893-640e974f-4394-4252-8345-07899416056b.PNG)

[2022-03-02 17:38] laxmanrapolu commented on #7172
With 5.0.14 update our project ran into below error. 5.0.13 is working fine. We don't see deps.json file in 5.0.14 folder anymore.
Cannot use file stream for [C:\Program Files\dotnet\shared\Microsoft.NETCore.App\5.0.14\Microsoft.NETCore.App.deps.json]: No such file or directory Error initializing the dependency resolver: A fatal error was encountered, missing dependencies manifest at: C:\Program F

[2022-03-02 18:24] RayWangQvQ commented on #7239
reopen

[2022-03-02 18:41] Iakuro-wc commented on #7186
I'm getting the same error, not really sure what's going on.

[2022-03-02 18:50] Iakuro-wc commented on #7186
I deleted the BlazorApp folder and recreated it, without the "--no-https" in the command line, and it worked.
Try it out and see if it works for you too.

[2022-03-02 20:01] carlossanlop opened #7245 "[.NET Tutorial]:"
### URL

https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/install

### Operating system

macOS/Linux

### More information about your system

_No response_

### Description

@mairaw - We need the tutorial to show the error messages users would get in macOS and Linux if the `dotnet` command is not found. Right now, we only have the Windows error message there.

### dotnet --info

[2022-03-02 20:01] carlossanlop commented on #7236
That is correct, @mairaw . I opened a new issue to track this request. https://github.com/dotnet/core/issues/7245

We can close this now since it has been solved.

[2022-03-02 20:01] #7236 closed

[2022-03-02 20:08] mairaw commented on #7239
@rbhanda who should look into this?

[2022-03-02 20:49] rbhanda commented on #7239
Hi @mairaw this doesn't look like something we control. As @bekir-ozturk  mentioned, this is not related to the install scripts.

[2022-03-02 21:02] mairaw commented on #7239
But who owns the hosting site?

[2022-03-02 21:22] mairaw commented on #7243
@jaredpar can you help with this issue?

[2022-03-02 21:51] joperezr commented on #7107
_**Note: This feature has been present since Preview 1 but didn't make it to the Preview 1 blog post, so copying the content here again in order to get it into Preview 2 blog.**_

# Introducing the new Regex Source Generator

https://github.com/dotnet/runtime/issues/44676

Ever wished you had all of the great benefits that come from having a specialized Regex engine that is optimized for your part

[2022-03-03 00:38] JulieLeeMSFT commented on #7107
## CodeGen
### Community PRs (Many thanks to JIT community contributors!!)
#### From @sandreenko
- https://github.com/dotnet/runtime/pull/64506
#### From @SingleAccretion
- https://github.com/dotnet/runtime/pull/63100
- https://github.com/dotnet/runtime/pull/63251
- https://github.com/dotnet/runtime/pull/63268
- https://github.com/dotnet/runtime/pull/63447
- https://github.com/dotnet/runtime/pull/

[2022-03-03 02:44] Ammar4372 opened #7246 "The terminal process failed to launch: Path to shell executable "C:\Users\HP\MyApp\dotnet" does not exist."
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/edit
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2022-03-03 06:36] mohamedabaza2015 opened #7247 "asp.net error"
i write this command but not work >aspnet to see it all working well

If you receive a 'dotnet' is not recognized as an internal or external command error,

[2022-03-03 06:37] #7247 closed

[2022-03-03 12:15] sumanthamaravathi opened #7248 "not supporting these file"
Problem encountered
<img width="960" alt="Screenshot 2022-03-03 17 42 39" src="https://user-images.githubusercontent.com/100846537/156562859-596a5359-26ca-416d-99ef-7a08ffde6b5d.png">
 on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error me

[2022-03-03 13:21] dave-yotta opened #7249 "dotnet tool restore --interactive hangs forever"
### Description

Running `dotnet tool restore --interactive` does not prompt for user input with the azure artifacts credential provider while `dotnet restore --interactive` does.  Is there an issue with interactive mode on `dotnet tool restore`?
[code]

### Configuration
[code]
### Regression?

### Other information

[2022-03-03 13:52] szein-fsd opened #7250 "Error when execute command dotnet watch Exited with error code -2147450751"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/aspnet/blazor-tutorial/run
Operating System: windows

dotnet watch --info
watch : Started
.NET SDK (gemäß "global.json"):
 Version:   5.0.404
 Commit:    72c68b830a

Laufzeitumgebung:
 OS Name:     Windows
 OS Version:  10.0.19042
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\5.0.404\

Host (u

[2022-03-03 14:07] szein-fsd commented on #7250
I ran `dotnet watch run` command which did run eventually.

[2022-03-03 14:07] #7250 closed

[2022-03-03 14:23] szein-fsd commented on #7250
FWIW the main reason was that i should have installed .NET 6.0 SDK  before i start blazoring😁

[2022-03-03 18:39] maryamariyan commented on #7107
In preview 2 we fixed the following logging source generator failures with various syntax issues:

- [x] https://github.com/dotnet/runtime/issues/64310
- [x] https://github.com/dotnet/runtime/issues/62644
- [x] https://github.com/dotnet/runtime/issues/60968
- [x] https://github.com/dotnet/runtime/issues/61814
- [x] https://github.com/dotnet/runtime/issues/58550

[2022-03-03 19:10] terrajobst commented on #7235
Nach der Installation koennen sie jede Kommandozeile benutzen (regulaeres cmd.exe oder PowerShell).

Damit das Programm funktioniert, muessen sie es zuerste erzeugen:

1. Erstellen Sie ein Verzeichnis (`mkdir HalloWelt`)
2. Wechseln Sie in das Verzeichnis (`cd HalloWelt`)
3. Erstellen Sie die Applikation mittels `dotnet new console`
4. Jetzt koennen Sie es mittels `dotnet run` ausfuehren

Hat das

[2022-03-04 00:26] tarekgh commented on #7107
## Observability

- https://github.com/dotnet/runtime/issues/63648

[code]

[2022-03-04 00:29] tarekgh commented on #7108
## Observability

- https://github.com/dotnet/runtime/pull/65530

[code]

[2022-03-04 01:31] AngelosP commented on #7107
The PR for blog post; will remain open until Monday 3/14 noon (PST)
[Create dotnet-7-preview-2.md · Pull Request #784 · microsoft/dotnet-blog (github.com)](https://github.com/microsoft/dotnet-blog/pull/784)

The plan is to work on the content in the PR until noon (PST) on Monday 3/14. After that the content will be copied over to the blog and we can make any last minute changes if needed there.

[2022-03-04 01:59] mairaw commented on #7248
The screenshot shows that you typed the command `donet` instead of `dotnet`. Please try again with the proper command name and let us know if it's still not working. Also, make sure you opened a new command prompt window after installation.

[2022-03-04 02:00] mairaw commented on #7246
Are you running this on VS Code?

[2022-03-04 04:12] jaredpar commented on #7243
@jcouv @RikkiGibson

[2022-03-04 13:44] dvolochx commented on #5347
Hello. I'm trying to build a project for Net Core 3.1.9 on Linux, but I get the following message:

The current .NET SDK does not support targeting .NET Core 3.1.9.

Can you tell me what I have to install?

[2022-03-04 15:02] CapTearow commented on #4446
This is still an issue with snap and even on the 7.0 version on my side.

I use Solus so I don't have a native version on the repo so "install as apt" is not a solution on my side.

[2022-03-04 18:24] #7225 closed

[2022-03-04 18:24] #7228 closed

[2022-03-04 19:14] xgnxs opened #7252 "Could not load file or assembly NuGet.DependencyResolver.Core"
### Description

`dotnet new console -o MyApp` fails at "Determining projects to restore..." step with:
[code]

Running `dotnet restore` fails with the same error.

### Configuration

.NET version: 6.0.200
OS: Windows 11 Pro - build 22000.527
Architecture: x64 (x86?) Ryzen 9 5950x
Powershell version 7.2.1

### Other information

.NET was originally installed on this machine yesterday via Visual St

[2022-03-04 19:28] RikkiGibson commented on #7243
Perhaps here? https://github.com/dotnet/docs/blob/main/docs/csharp/nullable-references.md#known-pitfalls
Or here? https://github.com/dotnet/docs/blob/main/docs/csharp/whats-new/tutorials/nullable-reference-types.md#build-the-survey-with-nullable-and-non-nullable-reference-types

@mairaw if there's a specific place that seems right to call out how to resolve the scenario in this issue, please let u

[2022-03-04 20:17] JoKatzer opened #7253 "net core"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/edit
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2022-03-04 22:25] tomaszmalik commented on #7176
You should use **Directory.Build.targets**, otherwise it would not override default reference.

Directory.Build.targets content:
[code]

[2022-03-04 22:38] mairaw commented on #7253
What is the error message you're seeing or what's the issue?

[2022-03-04 22:51] mairaw commented on #7243
Not sure @RikkiGibson. Adding @BillWagner for guidance

[2022-03-04 22:54] coinzdude commented on #6907
This in fact works very well. Thank you for sharing it! Do you mind sharing how you were able to get to this file? We've tried applying sections of this into the "GUI" pipeline process but can't get it to work. Yet this file works very well for .net core 6.

[2022-03-05 03:51] tilkinsc commented on #7243
Dont get me wrong. I like Nullable and I understand it. I just thing it's dumb for the language not to detect the resolution of class fields by following calls made inside the constructor.

[2022-03-05 12:37] gamer-undefeated opened #7254 "dotnet not able to run even after following correct procedures from official MS document"
![Screenshot from 2022-03-05 18-06-13](https://user-images.githubusercontent.com/87656219/156883276-5227f231-c244-4484-b3e4-12ee41f2e3d8.png)
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/run
Operating System: linux

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anyth

[2022-03-05 21:07] #7234 closed

[2022-03-06 04:11] EurusZhang opened #7255 ".NET SDK error NETSDK1177: 无法对 Apphost 进行签名"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/run
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

euruszhang@Eurus-MBP-2021 C# % dotnet

Usage: dotnet [options]
Usage: dotnet [path-to-application]

Options:
  -h|

[2022-03-06 14:52] jaredpar commented on #7243
@tilkinsc understand that view point. However the C# compiler though does not do any type of cross method analysis: true for this feature and any other. The cost of adding such analysis is very high and not something that was under consideration for this feature.

[2022-03-06 16:07] tilkinsc commented on #7243
I guess the solution for me would just be careful and use the nullable override.

[2022-03-06 18:31] RikkiGibson commented on #7243
A solution which I meant to link here was to put MemberNotNullAttribute on your helper method. I would try that or adding assertions to your constructor before trying turning off nullable.

[2022-03-07 19:57] #7220 closed

[2022-03-07 19:57] #7217 closed

[2022-03-07 19:57] #7218 closed

[2022-03-07 19:57] #7230 closed

[2022-03-07 19:57] #7229 closed

[2022-03-07 19:57] #7237 closed

[2022-03-07 21:03] rainersigwald commented on #7219
It looks like it's actually Roslyn that's failing to load this assembly, since the error is prefixed with `CSC`.

[2022-03-07 21:37] RikkiGibson commented on #7243
Reopening to track updating the documentation appropriately.

[2022-03-08 06:01] #7243 closed

[2022-03-08 09:44] Ratnesh9910 opened #7256 "'Console.WriteLine' is not recognized as an internal or external command, operable program or batch file."
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/edit
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2022-03-08 15:01] BillWagner commented on #7243
Rather than reopen this, I created dotnet/docs#28531 to address the docs issue.

[2022-03-08 17:55] oladele1440 opened #7258 "Could not find a MSBuild project file in 'C:\Users\olade\Desktop\MyWebApp'. Specify which project to use with the --project option."
Problem encountered on https://dotnet.microsoft.com/en-us/learn/aspnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2022-03-08 18:10] #7172 closed

[2022-03-08 18:17] dcwhittaker opened #7259 ".NET March 2022 Update - .NET 6.0.3, .NET 5.0.15, and .NET Core 3.1.23"
Release Notes
[6.0.3](https://github.com/dotnet/core/blob/main/release-notes/6.0/6.0.3/6.0.3.md)
[5.0.15](https://github.com/dotnet/core/blob/main/release-notes/5.0/5.0.15/5.0.15.md)
[3.1.23](https://github.com/dotnet/core/blob/main/release-notes/3.0/3.1.23/3.1.23.md)

Please report any issues you find either by responding to this issue, creating a new issue or creating a new issue in one of the f

[2022-03-08 20:29] seantleonard commented on #7044
6.0.3 installs from Windows update smoothly :) Thanks for getting this working out of the box!

[2022-03-08 20:32] joeloff commented on #7044
@seantleonard You're welcome. Glad to hear it's working for you.

[2022-03-08 21:24] mairaw commented on #7258
What are the contents of your MyWebApp directory?

[2022-03-08 21:26] mairaw commented on #7254
How did you install dotnet? Did you use snap or some other method?

[2022-03-08 21:41] baronfel commented on #7107
# SDK Improvements

## `dotnet new` syntax and tab-completion

https://github.com/dotnet/templating/issues/2191

For 7.0.100-preview2, the `dotnet new` command has been given a more consistent and intuitive interface for many of the subcommands that users already use. In addition, support for tab-completion of template options and arguments has been massively updated, now giving rapid feedback on

[2022-03-09 12:13] frankyuan commented on #7259
Hi team, after upgrading to 6.0.3, I got an error `Cannot access a disposed object. Object name: 'ConfigurationManager'.` in `var app = builder.Build();`. May I know what change I should do? Thanks. I tried to downgrade to 6.0.2 and it worked fine.

[2022-03-09 13:14] ecuise opened #7262 "[![Lint Code Base](https://github.com/dotnet/core/actions/workflows/super-linter.yml/badge.svg)](https://github.com/dotnet/core/actions/workflows/super-linter.yml)"
### Description

### Configuration

### Regression?

### Other information

[2022-03-09 14:05] SaraMatthews opened #7263 "Macbook pro doesnt recognise my .net download. Did it 3/4 times so far."
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/install
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
When I am using VS code it doesn't let me debug because it says .net is not connected. I am a student and this

[2022-03-09 15:01] philip-reed commented on #7259
Also having the same issue as @frankyuan
Not sure where the most appropriate place to log the issue is.

[2022-03-09 15:37] philip-reed commented on #7259
@frankyuan I don't suppose you are using [Convey](https://convey-stack.github.io/documentation/CQRS/)?
My initial investigations are marking that as prime suspect in my app.

[2022-03-09 16:25] philip-reed commented on #7259
Repro solution here:

https://github.com/philip-reed/40614

![image](https://user-images.githubusercontent.com/7798175/157484995-cd57fd56-6eab-4fe8-bbe9-f59d6dd45a0f.png)

[2022-03-09 18:16] AraHaan commented on #7044
![image](https://user-images.githubusercontent.com/15173749/157505236-cebe7864-c54d-49f5-af68-f482a162a659.png)

[2022-03-09 18:53] joeloff commented on #7044
@AraHaan is it still offering the 6.0.2 update? You should be getting the 6.0.3 offering at this point.

[2022-03-09 18:59] AraHaan commented on #7044
It is still yes.

[2022-03-09 19:21] arthurrump opened #7264 "[releases.json] "17.2 latest preview" is not a valid version number"
With this months releases the 6.0/releases.json file now include "17.2 latest preview" in the `vs-version` field, but this is obviously not a valid version number. Previously this field has always had valid version numbers. It seems that the customary way to do this is to have "17.2" in the `vs-version` field and specify preview status using the `vs-support` field.

[2022-03-09 19:40] mairaw commented on #7264
@rbhanda @dcwhittaker can you please check this issue?

[2022-03-09 19:44] mairaw commented on #7262
Where you trying to report that the action was not working? I think I fixed the settings now.

[2022-03-09 19:50] rbhanda commented on #7264
https://github.com/dotnet/core/pull/7265 to fix this

[2022-03-09 20:30] joeloff commented on #7044
When you say 6.0.2, did you only install the runtime or did you install the 6.0.102 SDK. Updates are branded under the runtime version, but could include one or more SDK that's associated with the release.

[2022-03-09 20:50] bc3 commented on #7259
Also having the same issue since 8/3/2022 on our build servers:

   OneTimeSetUp: System.ObjectDisposedException : Cannot access a disposed object.
Object name: 'ConfigurationManager'.

It is an integrationtest that is bootstrapping our api using the WebApplicationFactory class

[2022-03-09 20:54] #7264 closed

[2022-03-09 20:59] arthurrump commented on #7264
Thanks for the quick fix! Just a note that https://dotnetcli.blob.core.windows.net/dotnet/release-metadata/6.0/releases.json still has the old one, but I'm not sure if that just takes some time to update or that some buttons still have to be pressed.

[2022-03-09 21:14] rbhanda commented on #7264
https://dotnetcli.blob.core.windows.net/dotnet/release-metadata/6.0/releases.json is also updated
FYI @dcwhittaker

[2022-03-09 23:01] AraHaan commented on #7044
The SDK installers for x86 and x64.

[2022-03-09 23:56] leecow commented on #7259
@Pilchie @dougbu , can you take a look at the above reports?

[2022-03-10 00:48] dougbu commented on #7259
Highlighting @BrennanConroy's workaround:

[code]

[2022-03-10 00:49] BrennanConroy commented on #7259
That workaround is very specific to the Convey usage, not everyone who is hitting this issue is using Convey.

[2022-03-10 01:18] frankyuan commented on #7259
Yes, we don't use Convey.

[2022-03-10 01:25] Pilchie commented on #7259
@rafikiassumani-msft can you take a look here?

[2022-03-10 01:26] Pilchie commented on #7259
@rafikiassumani-msft - possibly related to https://github.com/dotnet/runtime/pull/63816?

[2022-03-10 04:30] markiservera opened #7266 ".Netcore 3.1 Error using PasswordDeriveBytes.CryptDeriveKey"
### Description
I'm currently porting an ASP.NET app (.NET 4.8) to ASP.NET Core MVC (3.1)

[code]
this code is used to encrypt something on the url but when used on .net core mvc its returns an error, the new app is using docker.

`PlatformNotSupportedException:'CryptDeriveKey' requires Windows Cryptiographic API`

Is there any workaround or fix for this?

### Configuration

### Regression?

### O

[2022-03-10 04:33] BrennanConroy commented on #7259
There is a change coming in 6.0.4 that fixes at least one case of this issue. If other folks like @frankyuan and @bc3 could provide minimal repro apps so we can make sure we cover everything that would be helpful.

Let's continue the discussion at https://github.com/dotnet/aspnetcore/issues/40614

[2022-03-10 05:19] csMACnz opened #7267 "version api used by dotnet-install-script returns SDK version 6.0.103 instead of 6.0.201"
### Description

The endpoints used by the [dotnet-install-script](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-install-script) is returning version 6.0.103 as the latest instead of 6.0.201 as expected. Are my expectations wrong, or did this get updated to the wrong new version (I see both versions were released yesterday?)

Steps to reproduce:
* Go to url `https://dotnetcli.blob.core

[2022-03-10 05:19] PhantomGamers commented on #7044
I was getting the error with 6.0.2 so I successfully installed the update manually, however I am getting the error again now with 6.0.3
![image](https://user-images.githubusercontent.com/844685/157594742-281e0661-4501-4da2-89ef-6345785eb832.png)

[2022-03-10 05:22] csMACnz commented on #7267
I was reading this value for some upgrade automation scripts.
As a workaround I've managed to point it at the publicly readable [/release-notes/6.0/releases.json](https://raw.githubusercontent.com/dotnet/core/main/release-notes/6.0/releases.json) file to parse out the 6.0.201 value as expected.

[2022-03-10 07:10] rafikiassumani-msft commented on #7259
@Pilchie after looking at the exception that's being thrown when adding Convey, it appears that `ReferenceCountedProviderManager` class was introduced in https://github.com/dotnet/runtime/pull/63816 to fix the configurations locking issue. I suspect this might happen in other scenarios where configurations need to be synchronized. @bc3 can you provide a minimum repro with `WebApplicationFactory `?

[2022-03-10 08:32] milesbuckton commented on #7044
I am also getting the same error for 6.0.3:
![image](https://user-images.githubusercontent.com/37063023/157620465-5c0c3584-a582-41e2-852e-b3de9b9b0b2b.png)

[2022-03-10 09:39] philip-reed commented on #7259
Yes, this seems to work around the issue in my repro app.

[2022-03-10 12:10] Rand-Random commented on #7044
I am have a different issue, hope it is okay, to post it here.
I did get the latest Windows Update offered, and it got installed correctly according to Windows Update.

![image](https://user-images.githubusercontent.com/9868626/157658784-a8a2b319-de9a-4d97-8187-ec3056d71653.png)
Hope the german User Intrace is understandable.

But out of curiosity I looked into "dotnet --info" and the version 6.0.

[2022-03-10 12:22] jespersh commented on #7044
@Rand-Random
Could you check the x86 dotnet? I see it there, but not in x64 which it claims it installed:

[code]

Seems like it only installed the x86 version for 6.0.3?
I marked the lines from this update cycle with `>>>`

![image](https://user-images.githubusercontent.com/1004198/157660378-cc74c7b6-c8f0-44d1-b018-79a665962ef4.png)

[2022-03-10 12:36] taspeotis commented on #7044
Hello team,

I would expect someone would have ensured _the security updates_ could be installed every time. I realise Windows and .NET are both big and complicated products and patching them is non-trivial and I don't expect perfection with every patch but this is happened for 6.0.1 and 6.0.2 and now 6.03 and it happens with the .NET Core 3 and .NET 5 patches and well ... you'd think there's enou

[2022-03-10 13:04] redseujac75 opened #7268 "After updating to .Net 6.0.3 through VS2022 Tooltips in WPF immediately vanish"
### Description
All Tooltips in C#, WPF project developed in VS 2022 Community .Net 6.0.2, vanish immediately after appearing. This happens with all controls (buttons, text boxes ...) with a tooltip. This problem appeared after updating to .Net 6.0.3. It wasn't there with previous .Net 6 versions.

### Configuration

* Which version of .NET is the code running on? .NET 6.0.3
* What OS and version,

[2022-03-10 13:25] Rand-Random commented on #7044
@jespersh
Yes, I do find 6.0.3 as x86

![image](https://user-images.githubusercontent.com/9868626/157670663-eba81c7f-8256-45c5-8d27-c8ad9924418d.png)

[2022-03-10 13:28] Rand-Random commented on #7268
IMHO, a better place to report this issue would be
https://github.com/dotnet/wpf

[2022-03-10 13:44] redseujac75 commented on #7268
But it is obviously a .NET 6.0.3 issue, not appearing in former versions of .NET 6 .NET 5.

[2022-03-10 16:19] emannuelrossano opened #7269 "erro na instalação dotnet"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2022-03-10 16:35] PhantomGamers commented on #7044
@jespersh ah according to `dotnet --info` the 6.0.3 runtime is installed but I only have the 6.0.201 SDK installed

[2022-03-10 16:35] AndriasP opened #7270 "".NET Core SDK with version '6.0.103' is already installed." But unable to find it"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/install
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

I have tried for a few hours now to get going with F# on this mac, for a "Functional Programming" course I hav

[2022-03-10 16:48] Rand-Random commented on #7268
IMHO it is obvious a WPF issue with the runtime .NET 6.0.3.
WPF received those changes, in the .net 6.0.3 runtime
https://github.com/dotnet/wpf/issues?q=milestone%3A6.0.3+is%3Aclosed+label%3Aservicing-approved+

.net 6.0.3 has many flavors and the "base" .net 6.0.3 should have no influence how WPF displays its tooltip, eg. ASP.net core 6.0.3 wouldn't have a need for how wpf handles it tooltips.

[2022-03-10 16:51] Rand-Random commented on #7268
Some other user reported your issue here:
https://github.com/dotnet/wpf/pull/6063#issuecomment-1064069083

[2022-03-10 16:55] AraHaan commented on #7044
The 201 SDK is 6.0.3 I think.

[2022-03-10 17:17] Rand-Random commented on #7044
@PhantomGamers

That is to be expected as you can see here:
https://dotnet.microsoft.com/en-us/download/dotnet/6.0

Runtime Version and SDK Version are different.
They are even different between Visual Studio Versions.
Visual Studio 17.0.x uses SDK 6.0.103 but Visual Studio 17,1.x uses SDK 6.0.201.

But atleast your windows update did something as x64.
My x64 dotnet -info did nothing
- no runtime

[2022-03-10 17:54] redseujac75 commented on #7268
I guess you are right. Thanks for the links to other similar user reports.

Update: the issue only occurs when I set the display scale to 125% or more.

[2022-03-11 00:35] mairaw commented on #7269
Você pode dar mais detalhes sobre esse erro de instalação? Qual a mensagem de erro que você está vendo?

[2022-03-11 00:36] mairaw commented on #7270
Which version did you try to install? Are you on a M1 Mac?

[2022-03-11 00:39] mairaw commented on #7267
@adiaaida I think you were looking into this today, no? I can repro the behavior above

[2022-03-11 00:40] mairaw commented on #7263
Which version did you install? And are you on a M1 Mac?

[2022-03-11 00:46] mairaw commented on #7267
Also tagging @rbhanda and @dcwhittaker

[2022-03-11 01:15] adiaaida commented on #7267
This should have been fixed as of ~3pm today.

[2022-03-11 01:48] dcwhittaker commented on #7267
Latest.version is updated.

[2022-03-11 02:26] #7246 closed

[2022-03-11 02:26] #7248 closed

[2022-03-11 02:31] csMACnz commented on #7267
Great, I can see that is updated now 👍

[2022-03-11 03:26] SaraMatthews commented on #7263
Hi Maira.

Yes I am using a M1 Mac.

Sent from my iPhone

On 11 Mar 2022, at 00:40, Maira Wenzel ***@***.***> wrote:

﻿

Which version did you install? And are you on a M1 Mac?

—
Reply to this email directly, view it on GitHub<https://github.com/dotnet/core/issues/7263#issuecomment-1064656283>, or unsubscribe<https://github.com/notifications/unsubscribe-auth/AYEDF6RR2TEOFLBJTJMNOPLU7KJBDANCNFSM5Q

[2022-03-11 03:43] mairaw commented on #7263
Can you click on the Arm64 download link? You might have downloaded the 64-bit version. We’re working on updates to the site to detect your machine automatically. But I’ll probably add a note as well.

[2022-03-11 03:47] SaraMatthews commented on #7263
Hi Maira. I eventually downloaded 64arm. Can you send me links for M1 macs used for coding please? I’m having a hard time studying for my course and could really do with some concise clear instructions on how to use the best IDE for my laptop. Thank-you so much!!

Sent from my iPhone

On 11 Mar 2022, at 03:43, Maira Wenzel ***@***.***> wrote:

﻿

Can you click on the Arm64 download link? You might

[2022-03-11 08:26] bc3 commented on #7259
@rafikiassumani-msft , i finally got around to reproduce the bug. I got a solution with integration test ready for you to test the issue

for us the issue was throw eventually by this code:

`services.AddApplicationInsightsKubernetesEnricher();`

it is an extension method from package: `Microsoft.ApplicationInsights.Kubernetes` from repo https://github.com/microsoft/ApplicationInsights-Kubernetes

[2022-03-11 09:55] AndriasP commented on #7270
I tried to install the recommended version on the website. .NET 6.0

Yes i am on a M1 mac. Here is the info
<img width="555" alt="image" src="https://user-images.githubusercontent.com/80765602/157844447-ba8c2fd4-ba8e-45a8-b425-003681f88664.png">

[2022-03-11 09:58] AndriasP commented on #7270
I tried to install the arm64 version and that was found immediately by the system :)

[2022-03-11 10:58] milesbuckton commented on #7044
Hi @jespersh, `dotnet --info` does show that it is installed:

![image](https://user-images.githubusercontent.com/37063023/157854428-642b5858-c504-4770-8938-2741de21eb35.png)

[2022-03-11 11:30] Rand-Random commented on #7044
@milesbuckton
If I had to guess, you need to manually install the 6.0.200 sdk to get rid of your windows update message.
https://dotnet.microsoft.com/en-us/download/dotnet/thank-you/sdk-6.0.200-windows-x64-installer

Very basic explanation, of how I understand the problem
Windows Update seems to want everything, even older SDK version, but fails to deliver,

[2022-03-11 17:15] BrennanConroy commented on #7259
Looks like the Kubernetes issue was fixed back in August https://github.com/microsoft/ApplicationInsights-Kubernetes/pull/237. Update your app to version 2.0.2 to fix it.

And it's the same root cause as all the other repros on this thread. Building the service provider early and then disposing it.

[2022-03-11 17:28] rafikiassumani-msft commented on #7259
I will lock conversation on this announcement. Let's continue the discussion at https://github.com/dotnet/aspnetcore/issues/40614.

[2022-03-11 19:33] AngelosP commented on #7107
Added it to the draft of the blog post

[2022-03-11 19:37] EhabBen10 commented on #5746
Hello guys
I have the same problem, but my RPI does not seem to find sudo dnf,  hopefully someone can clarify :)

[2022-03-11 19:50] AngelosP commented on #7107
Added it to the draft of the blog post

[2022-03-11 20:37] AngelosP commented on #7107
Added it to the draft of the blog post

[2022-03-11 20:38] AngelosP commented on #7107
Added it to the draft of the blog post

[2022-03-11 20:41] AngelosP commented on #7107
Added it to the draft of the blog post

[2022-03-11 21:26] carlossanlop commented on #7270
That's good to hear, @AndriasP. Seems the issue got solved for you.

But I still wonder why the script was unable to detect that the machine required an ARM64 version to get installed.

this is the second issue I see reporting a similar trouble (see https://github.com/dotnet/core/issues/7263). I'll transfer this to the https://github.com/dotnet/install-scripts repo so the issue gets investigated f

[2022-03-11 21:29] carlossanlop commented on #7270
Couldn't transfer, but I opened an issue: https://github.com/dotnet/install-scripts/issues/263

[2022-03-11 21:29] #7270 closed

[2022-03-11 21:30] carlossanlop commented on #7263
I reported this issue in the install-scripts repo since it's at least the 2nd time I see that ARM64 is not being installed in M1 machines: https://github.com/dotnet/install-scripts/issues/263

[2022-03-11 21:31] carlossanlop commented on #7263
@SaraMatthews the ARM64 SDK installer can be found here: https://dotnet.microsoft.com/en-us/download/dotnet/thank-you/sdk-6.0.103-macos-arm64-installer

[2022-03-11 21:31] #7263 closed

[2022-03-11 23:15] #7253 closed

[2022-03-11 23:30] FindingNemoRas opened #7272 "Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/install"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

C:\>dotnet
'dotnet' is not recognized as an internal or external command,
operable program or batch file
[Mi

[2022-03-11 23:56] FindingNemoRas commented on #7272
Good day, I am in desperate need of assistance. I am running about 25 miners at my facility and have a suspicion that someone is tampering with the hashrates. So i am doing a lot of reading etc to try and catch up with the ever changing world of technology and services etc. I have read something about the SSL and the port that is not secure so i am trying to get to the root of the problem but also

[2022-03-12 02:06] mairaw commented on #7272
It's not clear what the issue is and not sure what .NET has to do with crypto mining.

Are you trying to learn how to code?

For now I'm closing the issue, unless we get more information from you.

[2022-03-12 02:06] #7272 closed

[2022-03-12 02:07] mairaw commented on #7267
I still see 103 for https://dotnetcli.azureedge.net/dotnet/Sdk/6.0/latest.version. Is it expected?

[2022-03-12 03:22] ilovefoofoo opened #7273 "Error"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/aspnet/hello-world-tutorial/install
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
It says "zsh: command not found: dotnet", how do I fix?

[2022-03-12 03:34] ilovefoofoo commented on #7273
I have tried setting up manually and it will say permission denied

[2022-03-12 08:02] robe861Milt opened #7274 "error CS1022: Type or namespace definition, or end-of-file expected"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/edit
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2022-03-12 18:53] dcwhittaker commented on #7267
@mairaw - when I open the link I see 6.0.201...

[2022-03-13 01:53] lonix1 commented on #948
`kill -9` works but is a last resort.

Does kestrel respond to any of the other kill signals?

[2022-03-13 11:02] nifesimii commented on #6256
I have the same issue everytime i run dotnet build even though my sdk is set to the right location.
`Ademoyes-MacBook-Air:MvcMovie ademoyeoluwanifesimi$ dotnet build
Microsoft (R) Build Engine version 16.7.2+b60ddb6f4 for .NET
Copyright (C) Microsoft Corporation. All rights reserved.

  Determining projects to restore...
  Restored /Users/ademoyeoluwanifesimi/Projects/MvcMovie/MvcMovie/MvcMovie.cs

[2022-03-13 12:29] jenniferyau opened #7275 "Permission Denied: dotnet"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/intro?sdk-installed=true
Operating System: macos

when i installed the application, and import command dotnet, it shows permission denied.
what should i do ?

[2022-03-14 06:59] agocke commented on #7107
# NativeAOT Update

We previously announced that we're [moving the NativeAOT project](https://github.com/dotnet/runtime/issues/61231) out of experimental status and into mainline development in .NET 7. Over the past few months we've been heads down doing the coding to move NativeAOT out of the experimental [dotnet/runtimelab repo](https://github.com/dotnet/runtimelab) and into the [dotnet/runtime]

[2022-03-14 07:24] milesbuckton commented on #7044
@Rand-Random, you're a genius - thank you! Your solution worked for me! 😄 I uninstalled 6.0.201, then installed 6.0.103, 6.0.200, and 6.0.201 again. Now Windows Update is satisfied. See below:

![image](https://user-images.githubusercontent.com/37063023/158123907-ad30f60d-feaa-482c-b17e-591ba19fb6f5.png)

[2022-03-14 07:31] AraHaan commented on #7044
Sadly for me that is not an option as 6.0.2xx or so is part of Visual Studio and so uninstalling it might break the IDE.

[2022-03-14 08:44] #7275 closed

[2022-03-14 09:39] milesbuckton commented on #7044
Hi @AraHaan, I never uninstalled `Microsoft .NET SDK 6.0.201 (x64) from Visual Studio`, only the standard one `Microsoft .NET SDK 6.0.201 (x64)`. It appears both can coexist. See below:

![image](https://user-images.githubusercontent.com/37063023/158145386-090bbcc3-c0c1-449c-b99f-2ddb2ceef736.png)

[2022-03-14 10:53] Ryanokal opened #7276 "Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/create"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/create
Operating System: linux

Hello I am using parrot os 4.11 and I have installed the dotnet 6.0 using the binaries and experienced an error while creating a new console application

dotnet new console -o MyApp -f net6.0
Getting ready...
Couldn't find an installed template that matches the input, searchi

[2022-03-14 11:10] futunal opened #7277 "Failure install asp.net core"
I keep get this error message "zsh: command not found: dotnet" every time I opened terminal to check if it is installed, how can I solve this problem and install it?

[2022-03-14 15:15] rainersigwald commented on #6256
@nifesimii Looks like you are running .NET Core SDK `3.1.416`, which did not understand how to target .NET 5.0+, and the error message is accurate.

How are you setting this?

[2022-03-14 18:49] asaaqdx opened #7278 "ط9ططططط"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2022-03-14 19:06] mairaw commented on #7276
How did you install the SDK?

You could still try to run the tutorial if you remove the -f option, but not everything would match. The templates have changed drastically in .NET 6.

[2022-03-14 19:08] mairaw commented on #7274
In which file are you getting this error? Can you show its contents so we can try to help you?

This error usually shows up when the .cs file has some issue like missing closing brackets.

[2022-03-14 19:09] mairaw commented on #7273
What sort of Mac do you have? Are you on a M1 chip? And which version did you try to install?

[2022-03-14 22:59] JeremyLikness commented on #7107
Adding NativeAOT update now...

[2022-03-14 23:22] fabio160781 opened #7280 ".NET5 Compatibility with windows Embedded and IOT"
Hello,
I am a developer and my product has currently been converted from .NET Framework 4.8 to .NET5. I haven't been able yet to test it on Windows IoT and Embedded versions and I've been trying to find compatibility information but it seems to me this information is not public yet. Can someone please send me the list of compabible/non-compatible OS versions vs .NET5 please? Where can I find that

[2022-03-15 00:16] robe861Milt opened #7281 "Could not find a MSBuild project file in 'C:\Users\HP'. Specify which project to use with the --project option."
Problem encountered on https://dotnet.microsoft.com/en-us/learn/aspnet/hello-world-tutorial/modify
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2022-03-15 06:22] Ryanokal commented on #7276
I installed the SDK using the linux binaries. Parrot OS is not accepting the terminal commands given for debian or ubuntu by microsoft

I have tried without the -f option but still getting the same error

[2022-03-15 06:30] Ryanokal commented on #7276
I installed the SDK using the binaries because the terminal commands given for Debian are bringing the following error
sudo apt-get update; \
  sudo apt-get install -y apt-transport-https && \
  sudo apt-get update && \
  sudo apt-get install -y dotnet-sdk-6.0
Hit:1 http://packages.microsoft.com/repos/code stable InRelease
Hit:2 https://dl.google.com/linux/chrome/deb stable InRelease
Hit:3 https:/

[2022-03-15 14:17] vaguepromise opened #7282 "2022-03 6.0.3 update only patches AspNetCore.App of the hosting bundle..?"
We have a system where both .NET Core 5.0 and .NET Core 6.0 co-exist and were installed from the downloadable hosting bundle. We're approving the security updates, via WSUS, each month for both 5.x and 6.x on this system, however seem to find the patching behaviour is different, and I'm unsure if this is by design.

The .NET 5.x security update appears to patch both AspNetCore.App and NETCore.App

[2022-03-15 17:24] dcwhittaker opened #7284 ".NET 7.0 Preview 2"
[Release Notes](https://github.com/dotnet/core/blob/main/release-notes/7.0/preview/7.0.0-preview.2.md)

Please report any issues you find with [.NET 7 Preview 2](https://devblogs.microsoft.com/dotnet/announcing-dotnet-7-preview-2/), either responding to this issue, creating a new issue or creating a new issue in one of the following repos:

* [dotnet/aspnetcore](https://github.com/dotnet/aspnetcor

[2022-03-15 17:25] dcwhittaker commented on #7203
Closing issue in favor of https://github.com/dotnet/core/issues/7284

[2022-03-15 17:25] #7203 closed, assigned to nobody

[2022-03-15 20:09] snieking opened #7286 "Error Installing dotnet-sdk-6.0 on Ubuntu (GitHub actions)"
### Description

Getting errors installing dotnet-sdk-6.0 on Ubuntu

[code]

This was working fine earlier today and I haven't touched the GitHub Action pipeline which executes this.

[2022-03-15 20:32] evanpurkhiser commented on #7286
https://github.com/getsentry/sentry/pull/32641 downgrading to ubuntu 18.04 for us seems to have helped for now

[2022-03-15 20:35] AdemCatamak opened #7287 "Unexpected Linq (Except Method) Behaviour"
### Description

When operating with a list of value objects (int, string, record, etc.), after using the Except method, resulting list contains distinct values.

Test Case:

- Create list of int which are not unique : 1, 2, 2, 3, 4
- Give an empty list to Except method
- Expected result is the initial list. However resulting list only contains distinct values : 1, 2, 3, 4

[code]

### Configurati

[2022-03-15 21:29] gbhand commented on #7286
Same issue here but occurs when running `sudo apt update`.

At least in my case using the solution from [the last time this issue happened](https://github.community/t/ubuntu-latest-apt-repository-list-issues/17182/10) has been successful. Looking forward to a more permanent fix.

[2022-03-15 22:12] #7254 closed

[2022-03-15 22:12] #7256 closed

[2022-03-15 22:12] #7258 closed

[2022-03-16 06:22] mohummedibrahim commented on #7284
The link to the blog post doesn't seem to be correct.
![image](https://user-images.githubusercontent.com/10384613/158528971-eae6901d-ea9f-4460-9cad-8a17dc0cb047.png)

[2022-03-16 12:27] holwon commented on #7091
I have the same problem as you, but I found a solution.
This is because our computer does not have an HTTPS certificate installed.
You can try this code in terminal.
[code]

[2022-03-16 16:01] RolfSchroeder commented on #7235
Deregulierte Märkte sind Ursache für Preistreiberei.
http://gemeindevertreter.nordc.de/page/2/

[2022-03-16 16:10] janseris commented on #6584
What is the solution for this for developers? I have a server application running on Linux and I need to know what replaces System.Drawing for .NET 6 and later. I read in the documentatino that

So now developers will use multiple libraries and .NET will have no standard image manipulation API at all?
Which one of these is the right one?
So now when people will want to learn .NET image manipulatio

[2022-03-16 16:30] danmoseley commented on #6584
@mattleibow can you confirm that SkiaSharp is fully supported by Microsoft?

Also, I have generally thought of SkiaSharp as client focused, and something like ImageSharp better for servers. Is it reasonable to use SkiaSharp on the server side? I know that unlike ImageSharp, it has some native dependencies.

[2022-03-16 18:44] mairaw commented on #7020
Tutorial was changed to indicate versions.

[2022-03-16 18:44] #7020 closed

[2022-03-16 19:31] dcwhittaker commented on #7284
@mohummedibrahim - the links should be live.

[2022-03-16 20:41] #7262 closed

[2022-03-16 23:00] tarekgh commented on #7108
## System.Composition.Hosting

Providing APIs to allow adding a single object instance to the [System.Composition.Hosting container](https://docs.microsoft.com/en-us/dotnet/api/system.composition.hosting.containerconfiguration?view=dotnet-plat-ext-6.0). Similar to the functionality provided in the legacy interfaces [System.ComponentModel.Composition.Hosting](https://docs.microsoft.com/en-us/dotnet

[2022-03-17 04:04] shiva753 opened #7289 "Docker Build Failed"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/aspnet/microservice-tutorial/docker-image
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[+] Building 0.0s (1/2)
 => ERROR [internal] load build definition from Dockerfile                 0.0s

[2022-03-17 04:50] #7289 closed

[2022-03-17 04:52] shiva753 commented on #7289
Fixed needed to execute the program from MyMicroService directory and there is a difference in Docker file, need to name the solution as in directory which created another issue but both of them are resolved.

[2022-03-17 10:06] hankskorpio opened #7290 "Inconsistent 6.0.3 Update distributed trough KB 5012417"
### Description
Automatic update of .NET 6.0.2 to 6.0.3 produces inconsistent environment

### Environment:
Edition	Windows 10 Pro
Version	21H1
Installed on	‎2/‎11/‎2022
OS build	19043.1586
Experience	Windows Feature Experience Pack 120.2212.4170.0

.NET 6.0.2 Hosting bundle installed

![image](https://user-images.githubusercontent.com/45772324/158785062-ba4c500a-7b53-468e-b5c7-bd73ae3253f7.png)

[2022-03-17 12:44] hez2010 commented on #7239
![image](https://user-images.githubusercontent.com/14960345/158810787-7931003f-a789-4f63-a981-675f22b87e19.png)

I'm also located in China but cannot reproduce your issue. This may be a networking issue of your ISP (aliyun).

[2022-03-17 13:41] rzikm commented on #7290
@NikolaMilosavljevic can you please take a look?

[2022-03-17 13:42] rzikm commented on #7287
Moving to dotnet/runtime repo

[2022-03-17 13:46] rzikm commented on #7282
Seems to be duplicate of #7290.

[2022-03-17 13:46] #7282 closed

[2022-03-17 13:49] rzikm commented on #7281
Can you please share the exact command line you are trying to execute?
Note that the command must be run in a directory with the .sln or .csproj file.

[2022-03-17 13:52] rzikm commented on #7280
Maybe @NikolaMilosavljevic knows, or if not, can you please point to the right person whom to ask?

[2022-03-17 15:57] joeloff commented on #7290
@hankskorpio can you run `Get-WindowsUpdateLog` from powershell and attach the log. It will create a file called WindowsUpdate.log on your desktop.

@csnellgrove1-zz as an FYI. I manually installed 6.0.2 and then 6.0.3 and it seems to correctly upgrade. From the user's description it seems like it MU might be detecting and offering the wrong bundle.. Once we have the logs we should be able to conf

[2022-03-17 15:57] #7290 closed

[2022-03-17 15:57] joeloff commented on #7290
Sorry, meant to comment, not close.

[2022-03-17 18:02] juanp3053 commented on #7176
@RussKie Hello,
It doesn't seem to be WPF related to me, I have a .NET 5 MVC App (.NET Identity project) that I upgraded to .NET 6 and when I try to build I get the following errors only when using the dotnet 6.0.2+ SDK, it all goes away if I force the project to compile on
< 6.0.102 SDK. I can rollback to .NET 5 without doing any changes to my project and all the building issues go away instantly

[2022-03-17 19:01] NikolaMilosavljevic commented on #7280
@rbhanda , @leecow , is there a .NET 5 support page that would list supported and/or unsupported Windows versions?

[2022-03-17 19:22] joeloff commented on #7290
@hankskorpio can you confirm whether you have IIS enabled and whether ANCM was installed from the hosting bundle. You can look for `SOFTWARE\Classes\Installer\Dependencies\IIS_AspNetCore_Module_V2,x64`

Also, can you run the VS log collection tool. It will gather additional data from the installations on the machine. The link to the tool is here: https://www.microsoft.com/en-ca/download/details.as

[2022-03-17 19:36] mairaw commented on #7280
This page has information about supported Windows versions: https://docs.microsoft.com/en-us/dotnet/core/install/windows?tabs=net60#supported-releases

[2022-03-17 19:58] juanp3053 commented on #1593
@allistoncarlos I know a long time has passed since this happened to you but I am experiencing a similar situation, it runs perfectly while debugging but then it throws the same errors mentioned after publishing in kubernetes, did you ever figure out your issue?

[2022-03-17 21:02] genifycom commented on #7051
Hi Jeff,

After further investigation, the issue is when you use:

<PublishTrimmed>true</PublishTrimmed>

If you add that to your test project csproj, it will trigger the error.

System.TypeInitializationException: 'The type initializer for 'System.Management.ManagementPath' threw an exception.'
NotSupportedException: Built-in COM has been disabled via a feature switch. See https://aka.ms/dotnet-i

[2022-03-18 02:08] angelochu7 commented on #6144
I visited this page because I tried to google "Why there are so many previews in .net 6?".
I am very confused by this preview thing in .net 6 and Xamarin MAUI preview 14,15 whatever. As a developer, I just want to focus on using a product which is stable enough and not confused by the update of .net version number like .net 4, .net 5, .net 6 or whatever.

[2022-03-18 02:25] mairaw commented on #6144
Closing this issue since .NET 6 already released. .NET 6 had 7 preview releases and two release candidate releases before the final release in November.

The preview releases are meant to give developers a chance to try out the product before it's final. Right now, .NET MAUI is in preview as well as .NET 7.
You don't need to use any of the preview releases. You can always head to https://dotnet.mi

[2022-03-18 02:25] #6144 closed

[2022-03-18 02:53] angelochu7 commented on #6144
Thanks a lot mairaw for your prompt reply. It's clear now that I can ignore all the preview thing and updates about preview as I have already seen a lot or too much on the youtube.
By the way, the rapid change of updated .net version just make a simple person like me gone crazy.

[2022-03-18 03:00] mairaw commented on #6144
Our product is now set to release every November:
https://dotnet.microsoft.com/platform/support/policy#dotnet-core

Upgrade from one version to the next should be straightforward. But you can adopt one LTS release (.NET 6, for example) and they are supported for 3 years.

[2022-03-18 05:30] hendy3271 opened #7291 ""Segmentation fault (core dumped)" when running "dotnet new console -o MyApp -f net6.0" on Fedora 35"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/create
Operating System: linux

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2022-03-18 07:01] master0luc opened #7292 "Inconsitent Behavior of service configuration on Windows and on Linux"
### Description
During Orleans Silo configuration in UseOrleans, section of "Orleans" settings is not visible on Linux, but visible on Windows:
public static IHostBuilder CreateHostBuilder(string[] args) =>
	Host.CreateDefaultBuilder(args)
...
		.UseOrleans((context, siloBuilder) => {
		         // HERE CONFIG IS BEEN USING
			BuildSiloHost(context, siloBuilder);
		})
		.ConfigureWebHostDefaults(w

[2022-03-18 07:05] master0luc opened #7293 "Inconsistent behavior in treating paths in Evolve.Evolve() on Windows and Linux"
### Description
Passing roots in this way :
[code]
On  Windows works as if it was "./db"
but on Linux just as it is, e.g. "db"

### Configuration
Net 5.0.15 on Windows
mcr.microsoft.com/dotnet/aspnet:5.0 on Linux

[2022-03-18 07:41] rzikm commented on #7291
@dsplaisted Can you please take a look?

[2022-03-18 07:48] hendy3271 commented on #7291
I removed the snap version and installed the dnf package and the issue went away.

[2022-03-18 07:52] rzikm commented on #7292
Looks like problem in Orleans or Hosting/Configuration extensions packages. Maybe @Pilchie, can you please take over?

[2022-03-18 07:54] rzikm commented on #7293
Hi, I am not entirely sure what the issue is about, can you please share a full minimal reproducible code example which triggers the error?

[2022-03-18 08:13] hankskorpio commented on #7290
@joeloff : IIS is not installed on that machine and the registry entry is not present.
BUT the same behavior happens on machines with IIS Installed. I can restore a machine with IIS to show you exactly the same steps and results, but... would it be supposed to work even without IIS using Kestrel?

In attachment the "collectInfo.txt" retrieved by VSLogCollectiontool

[CollectInfo.zip](https://githu

[2022-03-18 13:03] master0luc commented on #7293
migration scripts are diposed in  **"{ProjectFolder}\db\migrations\*.sq;"**
  This task is invoked on statrup:
[code]

[2022-03-18 13:25] lzfcarneiro opened #7294 "Problema na página de do EXe"
Prezados,

A página não está carregando.

Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2022-03-18 13:50] omajid commented on #7291
Thanks for updating us. The [.NET installation instructions for Fedora](https://docs.microsoft.com/en-us/dotnet/core/install/linux-fedora) suggest using `dnf`; that's the main installation path we test and try to support. Can you help us understand what document (or something else?) recommended using snap on Fedora to install .NET?

[2022-03-18 14:26] #7269 closed

[2022-03-18 20:50] dsplaisted commented on #7291
@omajid I would guess it was via the first bulleted link on this page: https://docs.microsoft.com/en-us/dotnet/core/install/linux-fedora

[2022-03-18 20:59] omajid commented on #7291
Ah. Thanks, @dsplaisted!

@adegeo Have you seen other instances of this issue where users are mis-directed because they see alternative options like  snap first in the installation doc (and miss/skip the recommendation of using the standard package manager)? Do you think it's worth re-ordering the content on https://docs.microsoft.com/en-us/dotnet/core/install/linux-fedora so that we cover dnf fir

[2022-03-18 21:22] mairaw commented on #7294
Qual página não está carregando? Você pode dar mais detalhes sobre o problema que você está encontrando?

[2022-03-18 21:27] mairaw commented on #7292
@bradygaster @ReubenBond can you help with this?

[2022-03-18 22:04] allistoncarlos commented on #1593
For what I remember, I think it was some problem with my web host's system. I asked them for help, and they configured it correctly. In my case, I was using macOS for development, and Linux for production

[2022-03-18 22:19] ReubenBond commented on #7292
Would you mind elaborating, @master0luc? I don't quite understand.

I don't see any code which is attempting to access an "Orleans" section in configuration, or subsequently use that section.

[2022-03-18 22:29] hendy3271 commented on #7291
I had read the whole thing and selected snap because it was suggested that
it gave the opportunity to access preview versions, if necessary, which
made me feel that it would be better maintained. I was wrong with that
assumption in hindsight.

On Sat, 19 Mar 2022, 7:59 am Omair Majid, ***@***.***> wrote:

[2022-03-18 22:58] Ark-kun opened #7295 "Installers are a complete mess"
I have not been using .Net for ~4 years. So, the only .Net installations are coming from Windows Update (and maybe couple of VS 2019 updates).
Recently, Windows update started failing to install updates for .Net Core 3 and 5 and I started looking.

I's a complete mess.
There are 15+ versions installed.
Many have lost their installers in package Cache. (Remember I did not touch .Net for 4 years. It

[2022-03-18 23:31] nonsensation commented on #7284
The release notes on .NET 7 preview 2 says the C# extension supports .NET 7

When installing .net7p2, VSCode however cannot find references to the core libraries as System or even Object.

I have googled and searched for this and on the omnisharp repo, however this is the only place that mentions support for .net7p2 on VSCode

I try to install .net7p1 and see what happens

[2022-03-19 04:01] DaniloOPinheiro opened #7296 "Unhandled exception"
### Description

System.BadImageFormatException: An attempt was made to load a program with an incorrect format.
 (0x8007000B)
[1]    25941 abort (core dumped)  dotnet --info

### Configuration

### Regression?

### Other information

[2022-03-19 13:21] RayWangQvQ commented on #7239
Are you using VPN or other similar magical things?

I don't think it is aliyun cloud's problem, because it is also slow when I download it in my local PC. As the picture in my first comment, it is my local browser(Edge), and the problem remains.

[2022-03-19 13:56] hez2010 commented on #7239
No.

[2022-03-19 14:43] master0luc commented on #7292
Hello @ReubenBond, Below there is a working example, where I put commentary
[code]

[2022-03-19 14:54] master0luc opened #7297 "TrimEnd works strangely"
Hello, I am not sure, is it a bug or just a feature:
[code]
result
[code]
so I see here unpredictable begavior of TrimEnd.
May be I am wrong.

[2022-03-19 16:57] ReubenBond commented on #7292
I wonder if this is because Linux is case-sensitive - is the file named `appsettings.development.json` or `appsettings.Development.json` or something else?

I doubt this is an issue with Orleans, since it doesn't touch config in any way - the host builder context is plumbed straight through.

[2022-03-19 17:46] master0luc commented on #7292
I dubt it, because on Linux only appsettings.json is been using.
And I solved this problem like this:
[code]
But I have got an idea, may be this is because of the difference in the base folder of looking, perhaps:
In second variant I added explicit BasePath
			**.SetBasePath(appFolder)**
but in the previous case I Lost it...
But again, this is an inconsistent behavior on Win and Linux...
I suppose

[2022-03-19 18:15] ReubenBond commented on #7292
Why is the code to add `appsettings.json` inside the `ConfigureWebHostDefaults` and not directly on the `HostBuilder`?

Additionally, you are calling `Host.CreateDefaultBuilder()`, which automatically adds `appsettings.json`: https://github.com/dotnet/runtime/blob/c9252d5ade0cd48fbd3a92565e43b412400da5e1/src/libraries/Microsoft.Extensions.Hosting/src/HostingHostBuilderExtensions.cs#L188

[2022-03-19 18:56] master0luc commented on #7292
so, You are perfectly rigth, according docs appsettings should be loaded, but actually they are not:
after removing this block and my hack
[code]
we have this
[code]
and after that _orleansSection  is null on Linux
but not null on Windows

[2022-03-19 19:24] master0luc commented on #7292
But, If config has got path from
[code]
this is strange

[2022-03-19 19:31] master0luc commented on #7292
Problem ,perhaps, is laying there:
Directory.GetCurrentDirectory() != AppDomain.CurrentDomain.BaseDirectory

[2022-03-19 20:27] master0luc commented on #7292
Problem is there:
.UseContentRoot(Directory.GetCurrentDirectory())
but
Directory.GetCurrentDirectory() !=  AppDomain.CurrentDomain.BaseDirectory
so
.UseContentRoot( AppDomain.CurrentDomain.BaseDirectory)
works perfectly
and the root of this proble is:
dotnet {parentFolder}/{folderProject}/project.dll
so
Directory.GetCurrentDirectory()  => shows {parentFolder}/
but
AppDomain.CurrentDomain.BaseDirec

[2022-03-19 21:55] ReubenBond commented on #7292
I'll leave you to it, since the cause seems to be clear now and it's unrelated to Orleans.

[2022-03-20 14:07] master0luc commented on #7292
Thanks

[2022-03-20 21:31] mairaw commented on #7296
Can you share more information about this issue? What source code where you using to get that exception? What is the issue you're trying to solve?

[2022-03-21 01:23] hurdu69 opened #7298 "dotnet: command not found"
I am using Linux Mint 20.03 Cinnamon x64.
I installed dotnet using the following line of code: `curl -sSL https://dot.net/v1/dotnet-install.sh | bash /dev/stdin --channel Current`
When I type 'dotnet' in the shell, it says: dotnet: command not found

I creates an alias in .bashrc, like this: `alias dotnet='cd ~/.dotnet;./dotnet'`
It is working when I type dotnet. I creates a console project called

[2022-03-21 01:59] RutchilynGo opened #7299 "Issue solve, thanks"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/aspnet/hello-world-tutorial/modify
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[code]

got an error in my command prompt

[2022-03-21 05:20] TheRealDeLorian opened #7300 "Parameter Problem in Tutorial"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/aspnet/blazor-tutorial/modify
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

When I copied the code a red squiggly line under [Parameter] appeared saying "The type or namespace name 'Paramete

[2022-03-21 08:14] rzikm commented on #7293
@ajcvickers Can you please take a look?

[2022-03-21 08:33] rzikm commented on #7295
@NikolaMilosavljevic Can you please take a look?

[2022-03-21 08:37] ajcvickers commented on #7293
@rzikm What is `Evolve`? What is it supposed to do in this case?

[2022-03-21 08:51] rzikm commented on #7293
Sorry, my bad, I thought it was something from EF. It actually looks like it is a 3rd party library https://github.com/lecaillon/Evolve.

@master0luc Can you confirm? If that is the case than you need to file an issue in the library's repository.

[2022-03-21 08:58] rzikm commented on #7298
Your alias is changing your working directory. If not done automatically, you should make sure the `dotnet` binary is in `PATH` by adding `export PATH=$PATH:~/.dotnet` to your bashrc

[2022-03-21 09:04] rzikm commented on #7299
Can you please share the command prompt you are trying to run and the output (error message) of the command?

[2022-03-21 09:11] rzikm commented on #7300
@mairaw Can you please help? Maybe the tutorials are missing adding some `using` directive.

[2022-03-21 09:19] vaguepromise commented on #7290
Hi. I'd opened a duplicate of this ticket last week which has now been closed but figure I can contribute.

I have been able to reproduce this problem on both a Windows Server 2012 R2 machine with IIS installed, and a Windows Server 2019 machine without IIS installed... combing the Windows Update logs doesn't seem to show any errors so appears the package is installing correctly.. so doesn't appea

[2022-03-21 11:08] master0luc commented on #7293
O my, You are right.
My fault,  Sorry for my carelessness about this issue

[2022-03-21 12:19] rzikm commented on #7293
no problem, I will close this issue. If you have any other questions, feel free to reopen it or file a new one.

[2022-03-21 12:19] #7293 closed

[2022-03-21 12:39] juanp3053 commented on #1593
@allistoncarlos If you don't mind me asking, who did you ask for help? Docker?

[2022-03-21 15:15] alex-jitbit commented on #3752
In my case it was VPN I had ON. Disabling the VPN solved the issue

[2022-03-21 15:19] dasMulli commented on #1593
@juanp3053 do you have a dockerfile / repro info? This issue was for asp.net core 2.1 and the architecture for views - esp. pre-compilation for deployment - changed quite a bit

[2022-03-21 16:05] juanp3053 commented on #1593
@dasMulli
Yes! I'm sorry I didn't add this information before. It is a weird situation, I have no issues when my MVC project is in .NET 5, as soon as I upgrade to .NET 6 (I do change the docker file to use the 6.0 libraries) the same exception starts coming up, only when deployed to the AKS cluster (Linux), so debugging with IIS works just fine (Windows), I might have to change my project so that

[2022-03-21 19:39] #7273 closed

[2022-03-21 19:39] #7274 closed

[2022-03-21 19:39] #7277 closed

[2022-03-21 21:52] mairaw commented on #7300
@TheRealDeLorian can you paste the contents of the files you modified to see if they match what we have on the site?

[2022-03-21 22:45] Moosemorals commented on #6054
@NikolaMilosavljevic I guess you haven't got any more info yet?

[2022-03-22 03:51] zaizola opened #7302 "donet run error"
i run dotnet run in vscode on mac and show error like
System.ArgumentOutOfRangeException: startIndex cannot be larger than length of string. (Parameter 'startIndex')
   at System.String.Substring(Int32 startIndex, Int32 length)
   at System.String.Substring(Int32 startIndex)
   at Microsoft.DotNet.Tools.Run.RunCommand.TryGetTargetArchitecture(String runtimeIdentifier, Nullable`1& targetArchitectur

[2022-03-22 07:01] TheRealDeLorian commented on #7300
​Here is the code inside my pages/Counter.razor file

@page ​"​/counter​"

 ​<​PageTitle​>Counter</​PageTitle​>

 ​<​h1​>Counter</​h1​>

 ​<​p​>Current count: ​@currentCount​</​p​>

 ​<​button​ ​class​=​"​btn btn-primary​"​ ​@onclick​=​"​IncrementCount​"​>Click me</​button​>

 ​@code​ ​{
 ​    ​private​ ​int​ ​currentCount​ ​=​ ​0​;

 ​    [​Parameter​]
 ​    ​public​ ​int​ ​IncrementBy​ ​{​ ​get​

[2022-03-22 08:53] sheilapolichetti opened #7303 "After creating the BlazorApp directory and it is created succesfully, when I try to run the command cd BlazorApp it says cd: no such file or directory: BlazorApp. What went wrong?"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/aspnet/blazor-tutorial/create
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2022-03-22 12:03] rzikm commented on #7302
Can you please share the exact command line which produces this error? Also, the output of `dotnet --info` will be helpful to identify the issue.

[2022-03-22 12:11] rzikm commented on #7303
Are you sure you spelled the name correctly in the `dotnet new` command? You can list all files+directories in the current dir using `ls` command or by checking with MacOS equivalent of File Explorer.

[2022-03-22 12:29] dasMulli commented on #1593
So I assume this does not happen with the default templates but when using the views of a product like IdentityServer?

I used to debug running AKS k8s containers by adding vsdbg to the containers - (https://twitter.com/dasmulli/status/1326821395221925890). That might help you as well. (attach can be done in VSCode, not in VS)
![image](https://user-images.githubusercontent.com/6129250/159482066-6e

[2022-03-22 20:37] seth-seikosoft commented on #6201
for the most part I think it's been really nice working with it.  I did use vscode when I first switched but the debugging with dotnet is horrible.  My company now uses Rider (jetbrains) and it's been great to work with that.

I have recently ran into an issue where I tried to upgrade all my dotnet packages to .Net 6.0 and it throws an error on the "Building dotnet-core-bin... \n ERROR: PKGBUILD d

[2022-03-22 21:41] omajid commented on #6201
Sounds like a packaging issue with AUR? Maybe @alucryd has an idea?

[2022-03-23 00:08] mairaw commented on #7303
Can you confirm you used the command from the tutorial?
`dotnet new blazorserver -o BlazorApp --no-https -f net6.0`

Did you get any error messages after you ran that command? If not, what do you see in the directory you're trying to run the `cd` command if you run the `ls` command as @rzikm suggested?

[2022-03-23 00:52] mairaw commented on #7276
@leecow can you look at this? @Ryanokal is on Parrot, but not sure if it's supported or not given it's based on Debian.

[2022-03-23 07:30] Gr3q commented on #6201
@seth-seikosoft Try to delete your build cache first. `dotnet-core-bin` provides `netstandard-targeting-pack-bin` for a while now instead of depending on the one built by @alucryd in case their versions go out of sync (should not make a difference, but still).

Just make sure you have `netstandard-targeting-pack-bin` installed instead of `netstandard-targeting-pack`. If you can't build `dotnet-cor

[2022-03-23 13:45] #7300 closed

[2022-03-23 14:13] AbdiwahabMohamed opened #7305 "dotnet: The term 'dotnet' is not recognized as a name of a cmdlet,"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2022-03-23 14:14] AbdiwahabMohamed commented on #7305
dotnet: The term 'dotnet' is not recognized as a name of a cmdlet,

[2022-03-23 14:14] AbdiwahabMohamed commented on #7305
dotnet: The term 'dotnet' is not recognized as a name of a cmdlet,

[2022-03-23 14:51] durandt commented on #5441
Hi,

What is the commit/progress status for this user story?
I am a little bit surprised by the lack of engagement from the community on this feature.

Updates for the .NET SDKs and runtimes seem to be rolled out on a monthly basis (kinda patch-Tuesday) and the [March 8th update](https://devblogs.microsoft.com/dotnet/march-2022-updates/) fixes two remote code execution vulnerabilities. That is whe

[2022-03-23 14:57] AraHaan commented on #5441
Why not have dotnet sdk check have an optional option named ``--force-update`` where then it would uninstall the old sdk and runtimes for you and install the new ones (based on the os that is running it, it might need to require sudo access)

[2022-03-23 15:01] AraHaan commented on #5441
However there is a danger for such a tool that uninstalls older runtimes/sdks for another version and that is regressions. Currently I been facing for a while now the inability to run my winforms program which starts as hidden to check a few startup things and then display the form.

[2022-03-23 15:12] seth-seikosoft commented on #6201
@Gr3q hey hey that did it.... didn't realize that there was a cached version of the dotnet-core-bin that was the culprit in hanging things up.  Thank you very much for that suggestion!

[2022-03-23 15:39] leecow commented on #7276
Looks like you're using the Ubuntu 20.10 repository rather than Debian -

First thing I would try is setting that to whatever upstream Debian version is closest to your Parrot version. Links to setup instructions for 9, 10 and 11 are available [here](https://docs.microsoft.com/en-us/dotnet/core/install/linux?WT.mc_id=dotnet-35129-website#debian).

[2022-03-23 18:36] MichaelSimons commented on #7038
@rbhanda - What is the status of this?  If there are pending product changes that have not gone into April servicing, we will not be able to claim support on release day.

[2022-03-23 19:08] rbhanda commented on #7038
We have already pushed last two updates to Ubuntu 22.04. We are ready to announce the added distro as supported with the April release. @dcwhittaker FYI for the April blog post

[2022-03-23 20:06] MichaelSimons commented on #7038
Thanks for the update.  There is the one unresolved Arm32 issue @mthalman found which is linked here.  It's something to consider noting in any announcements.

[2022-03-23 22:20] utrenic opened #7306 "dotnet new console -o MyApp"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/create
Operating System: macos
[code]

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

when I run:
[code]
from a terminal, I got nothing.

How long does it take for me to create files in MyAp

[2022-03-23 23:00] mairaw commented on #7300
So weird! I'm glad it's working now.

[2022-03-23 23:46] davis4atuc opened #7308 "IIS cannot load aspnetcore.dll"
This application was running in IIS fine yesterday targeting Core 3.1.

Updated SDK to version 3.1.417 and installed hosting bundle 3.1.23.

when attempting to debug in VS2019 latest version I am receiving error:
_The target process exited without raising a CoreCLR started event. Ensure that the target process is configured to use .NET Core. This may be expected if the target process did not run o

[2022-03-24 00:49] Pro70Crazy opened #7309 "dotnet didn' create a MyWebApp Directory"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/aspnet/hello-world-tutorial/create
Operating System: linux

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

i was running `dotnet new webapp -o MyWebApp --no-https -f net6.0`. But the result is not coming. It shows no e

[2022-03-24 02:04] chunlinWJB opened #7310 "Environment variables"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/aspnet/blazor-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2022-03-24 02:06] chunlinWJB commented on #7310
dotnet-watch:

  Environment variables:

   DOTNET_USE_POLLING_FILE_WATCHER
   When set to '1' or 'true', dotnet-watch will poll the file system for
   changes. This is required for some file systems, such as network shares,
   Docker mounted volumes, and other virtual file systems.

   DOTNET_WATCH
   dotnet-watch sets this variable to '1' on all child processes launched.

   DOTNET_WATCH_ITERATI

[2022-03-24 05:40] Euclidite opened #7311 "HttpClient SendAsync leaks when posting ByteArrayContent from a delegate"
### Description

My scenario:
* I have 1000's of small files that need to be individually uploaded to a REST endpoint
* If I loaded them all up into memory and upload them -> no issue
* Unfortunately, they're provided individually to be by an external producer and I have that producer fire off an event when the file is read for upload
* I have found uploading from the delegate creates a memory lea

[2022-03-24 07:06] durandt commented on #5441
Then you need to have another tool to be able to _install_ dotnet. I would say it is better to have one tool to both install and update, whether it's a standalone .exe or powershell script.

[2022-03-24 09:06] AraHaan commented on #5441
But in this case cant ``dotnet`` install ``dotnet then? 😄

[2022-03-24 09:46] meetanubhav commented on #5634
System.TypeLoadException: 'Method 'Create' in type 'MySql.Data.EntityFrameworkCore.Query.Internal.MySQLSqlTranslatingExpressionVisitorFactory' from assembly 'MySql.Data.EntityFrameworkCore, Version=8.0.22.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d' does not have an implementation

Same issue faced here also.

[2022-03-24 09:50] hankskorpio commented on #7290
Hi, I don't want to be pushy but ... any news about this issue? I'm a little worried about the deployment of our applications .

[2022-03-24 12:35] rzikm commented on #7306
Can you please be more specific about "I got nothing?", does the command finish without creating the directory, or does the command freeze?

[2022-03-24 12:47] rzikm commented on #7310
I don't understand what the issue is for, are you getting an error when trying to run the `dotnet watch` command? If so, can you verify that you are running the command inside the project folder?

[2022-03-24 12:53] utrenic commented on #7306
I change the shell to zsh and it works now.

Sent from my iPhone

[2022-03-24 13:44] rzikm commented on #7306
I will close the issue then, if you encounter any more problems, you can create another issue

[2022-03-24 13:44] #7306 closed

[2022-03-24 13:54] rzikm commented on #7309
Can you please elaborate? Does the command finish with an error code, or does it run indefinitely without any progress?

[2022-03-24 14:01] #7281 closed

[2022-03-24 14:17] davis4atuc commented on #7308
@rzikm @jeffschwMSFT @Pilchie

A full Repair/reinstall of VS2019 seems to have fixed the issue, not sure what went wrong with the latest update

[2022-03-24 14:48] rzikm commented on #7308
Very well, I will close the issue now, feel free to reopen it if the problem resurfaces

[2022-03-24 16:21] renatamandelman opened #7312 "Istalled the .net 6 SKD but does not work"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/install
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

I installed the .net 6 skd in my M1 mac, but always show me the error zsh: command not found: dotnet

[2022-03-24 16:37] rzikm commented on #7312
Have you restarted the terminal session? Also, if you installed the SDK using the `dotnet-install.sh` script, you need to manually add the installed directory to your `PATH`

[2022-03-24 17:12] Pilchie commented on #7308
@wtgodbe - does this match anything you're aware of with the hosting bundle that a repair would fix?

[2022-03-24 18:11] donaldsonk commented on #7290
We are having this issue as well at our organization.  In our case one of our apps broke because the hosting bundle was not installed form the update package and that is a dependency for the app.  We opened a case with MS to see if they can help identify what is happening.

[2022-03-24 18:18] mguinness commented on #5634
[MySql.Data.EntityFrameworkCore](https://www.nuget.org/packages/MySql.Data.EntityFrameworkCore/) is deprecated you should try [MySql.EntityFrameworkCore](https://www.nuget.org/packages/MySql.EntityFrameworkCore/) instead.

[2022-03-24 18:19] donaldsonk commented on #7290
We are having this issue as well at our organization.  We noticed it specifically with the 6.0.3 update.  In our case one of our apps broke because the hosting bundle was not installed form the update package and that is a dependency for that app.  We opened a case with MS to see if they can help identify what is happening.

[2022-03-25 00:39] jamshedd commented on #5441
We expect to have a tool we can ship as a preview in the .NET 7 timeframe. We're alpha testing this tool internally at the moment.

Meanwhile have you looked at the .NET install scripts: https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-install-script?msclkid=a381bfa7abd311ecba2892a6149268ae

These run off the same data file (releases.json) as the internal tool and may help in the short te

[2022-03-25 01:58] mairaw commented on #7312
Also make sure you install the Arm64 version if it's a M1 Mac.

[2022-03-25 02:14] mairaw commented on #7310
I think this is something else. Are you sure you typed `dotnet watch` without the hyphen?

@danroth27 could any old tooling cause this?

[2022-03-25 09:55] lijiandesigner opened #7314 "在资源组中创建 AKS 群集"
(BadRequest) The VM size of AgentPoolProfile:nodepool1 is not allowed in your subscription in location 'westus'.  For more details, please visit https://aka.ms/cpu-quota
Code: BadRequest
Message: The VM size of AgentPoolProfile:nodepool1 is not allowed in your subscription in location 'westus'.  For more details, please visit https://aka.ms/cpu-quota

[2022-03-25 10:30] rzikm commented on #7314
Can you elaborate on what is the issue? What are you trying to accomplish? The error message and the link seem to explain why the action you are attempting is not possible.

[2022-03-25 15:14] mahdignb commented on #5634
If you are trying to update-database using migration and you are getting these error try to use [pomelo ](https://www.nuget.org/packages/Pomelo.EntityFrameworkCore.MySql/) entity framework package and remove MySql.EntityFrameworkCore for using this package.I am not sure that you need to delete  MySql.Data for that or not.

[2022-03-25 19:22] farzadfaraji20 opened #7315 "the appllcation was unable to start correctiy (0xc000007d) Click ok to close the"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2022-03-25 19:22] farzadfaraji20 commented on #7315
[the appllcation was unable to start correctiy (0xc000007d) Click ok to close the](https://www.google.com/search?sxsrf=APq-WBsbyRCgVNdspjUXRDL9LpKdDaUpMQ:1648235972223&q=the+appllcation+was+unable+to+start+correctiy+(0xc000007d)+Click+ok+to+close+the+applicatio+%D8%A7%D8%B1%D9%88%D8%B1&nfpr=1&sa=X&ved=2ahUKEwjdlIW9_eH2AhV4SPEDHS1xCEoQvgUoAXoECAIQNA)

[2022-03-25 19:23] farzadfaraji20 opened #7316 "the appllcation was unable to start correctiy (0xc000007d) Click ok to close the"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2022-03-25 19:24] farzadfaraji20 opened #7317 "the appllcation was unable to start correctiy (0xc000007d) Click ok to close the"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2022-03-25 19:26] farzadfaraji20 commented on #7317
the appllcation was unable to start correctiy (0xc000007d) Click ok to close the]application

[2022-03-25 19:26] #7317 closed

[2022-03-25 21:17] mairaw commented on #7316
Closing as dupe

Duplicate of #7315

[2022-03-25 21:17] #7316 closed

[2022-03-25 21:19] mairaw commented on #7315
Are you trying to learn how to code or are you trying to run a program and getting this error message @farzadfaraji20? Can you give us a bit more detail on how you're getting this?

[2022-03-25 21:36] meetanubhav commented on #5634
Thank you for the reference will do try. Hopefully it would make the work easier.

[2022-03-25 21:39] #7294 closed

[2022-03-26 01:43] BEEDELLROKEJULIANLOCKHART commented on #6830
Is addition of '--no-check-certificate' to the script too insecure to be feasible?

[2022-03-26 01:55] BEEDELLROKEJULIANLOCKHART commented on #6830
More appears to be occuring than merely this. How are you managing to compile PowerShell?

wget --no-check-certificate https://dotnet.microsoft.com/download/dotnet-core/scripts/v1
--2022-03-26 01:53:03--  https://dotnet.microsoft.com/download/dotnet-core/scripts/v1
Resolving dotnet.microsoft.com (dotnet.microsoft.com)... 13.107.246.64, 13.107.213.64, 2620:1ec:bdf::64, ...
Connecting to dotnet.micr

[2022-03-26 20:04] oyvost commented on #6907
'task: NuGetCommand@2',  sometimes finds an old cached version of NuGet. Try to add 'task: NuGetToolInstaller@1' before this task.

[2022-03-27 09:58] vjraitila commented on #6069
I have the same problem. I only have runtimes for .NET Core 3 and 6 installed. I also removed all traces of Visual Studio.

[code]

Windows Update is still forcing an unsupported .NET Core 2 (+ corresponding ASP.NET Core) runtime on my machine through the following update:

How can I troubleshoot this? What makes WU think said update should be applied?

[2022-03-27 11:41] L-sagar303 opened #7318 "'dotnet' is not recognized as an internal or external command, operable program or batch file."
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2022-03-27 12:54] Starkiller0310 opened #7319 "Dotnet is not a recognized program"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

I installed dotnet but It shows it is not a recognized internal or external command

[2022-03-27 19:03] BEEDELLROKEJULIANLOCKHART commented on #6830
This prevents compilation of PowerShell.

[2022-03-27 21:53] #7296 closed

[2022-03-28 04:28] vijay-a-nikam opened #7320 "zsh: command not found: dotnet"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/install
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

zsh: command not found: dotnet

[2022-03-28 06:45] rzikm commented on #7320
Hi, have you opened a new terminal session after installing dotnet SDK? The session needs to pick up the updated PATH variable.

[2022-03-28 06:52] rzikm commented on #7319
Where do you get the error message? Is it after you try to run `dotnet` in powershell prompt? If so, did you open a fresh powershell window after installation?

[2022-03-28 06:52] rzikm commented on #7318
Where do you get the error message? Is it after you try to run dotnet in powershell prompt? If so, did you open a fresh powershell window after installation?

[2022-03-28 07:57] rzikm commented on #7038
The arm32 issue is being fixed by https://github.com/dotnet/runtime/67145 for .NET 6.0, There are currently no plans to backport the fix to older releases (.NET 5 is near EOL, .NET Core 3.1 does not officially support OpenSSL 3.0). If you have any concerns, feel free to raise them in https://github.com/dotnet/runtime/issues/66310.

[2022-03-28 08:13] rzikm commented on #7038
@rbhanda note that in the current state (i.e. without the fix in https://github.com/dotnet/runtime/pull/67145), .NET is pretty much unusable on arm32 Ubuntu 22.04 (or any 32-bit platform with OpenSSL 3.0), as even the build commands `dotnet restore` may not work, just something to keep in mind for the blog post.

[2022-03-28 10:04] #7299 closed

[2022-03-28 10:19] idkwhattonames opened #7321 ".NET is not currently working for me"
If i go into Visual Studio Code and type in: dotnet new console an then press enter it says:

dotnet : The term 'dotnet' is not recognized as the name of a cmdlet, function, script file, or
operable program. Check the spelling of the name, or if a path was included, verify that the
path is correct and try again.
At line:1 char:1
+ dotnet new console
+ ~~~~~~
    + CategoryInfo          : ObjectNot

[2022-03-28 10:28] rzikm commented on #7321
Hi, did you try this right after you installed .NET? You need to open a fresh PowerShell session (or restart VS Code) in order for it to pick up the updated `PATH` environment variable.

[2022-03-28 12:30] lokeshvp2000 opened #7322 "not able to install in windows 10"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2022-03-28 12:55] rzikm commented on #7322
Can you provide more information about what issues occurred during the installation process? What is the error message that is being reported? What .NET version are you trying to install?

[2022-03-28 13:20] tmds commented on #6830
Yes, this is a no-go. When you add this, you can't consider anything that happens next to be secure/trusted.

[2022-03-28 14:45] omajid commented on #7038
Is installing OpenSSL 1.x an option on Ubuntu 22.04? .NET Core 3.1 (and newer) will work against that even on arm32, right? Could that be documented as a workaround?

[2022-03-28 15:19] rzikm commented on #7038
Unfortunately, @omajid, we prioritize OpenSSL 3.0 when looking for a suitable library version, so the workaround would have to somehow make sure that dotnet does not see OpenSSL 3.0 libs.

[2022-03-28 17:05] rzio commented on #6830
Update from the OneOCSP side: Due to a new CAB forum requirement, OneOCSP will switch the algorithm to SHA-256 by 2022-5-31.

[2022-03-28 19:56] davis4atuc commented on #7308
@wtgodbe  yeah i can grab those logs, where is this temp folder typically?

[2022-03-28 19:57] davis4atuc commented on #7308
@wtgodbe  yeah i can grab those logs, where is this temp folder typically?

[2022-03-28 20:03] wtgodbe commented on #7308
@davis4atuc you can open the windows start menu & search `%temp%` to find where it is located on your machine.

[2022-03-28 20:08] mairaw commented on #7276
@Ryanokal did you see Lee's comment? Can you make sure you're installing using Debians intructions? Let us know how that goes.

[2022-03-28 20:09] mairaw commented on #7235
@terrajobst the comments here seem unrelated to the problem. Can you double check?

[2022-03-28 20:12] mairaw commented on #7180
Tutorial has been updated.

[2022-03-28 20:12] #7180 closed

[2022-03-28 20:12] mairaw commented on #7169
Tutorial has been updated.

[2022-03-28 20:12] #7169 closed

[2022-03-28 20:15] mairaw commented on #6947
How are you getting that error message? Are you trying to install a different software?

Windows 10 already comes with .NET Framework 4.8, so you won't be able to install 4.7.2.

[2022-03-28 20:18] mairaw commented on #6969
It might be an issue with your NuGet sources.
Can you check the file %appdata%\NuGet\NuGet.Config and see if it has the package source configured it correctly?

[2022-03-28 21:52] bradmoulder commented on #4964
Bump. Are there any updates here?

[2022-03-28 22:48] johnboy93 opened #7325 "Hi this is john"
if i did download Rockstar got Appliation Error (0xc000007b) i dont get it if i might update my laptop thin it should work

[2022-03-28 23:01] terrajobst commented on #7235
Seems nonsensical. I suggest we close this issue.

@RolfSchroeder Ihre Kommentare sehen sehr nach Spam aus. Falls Sie weiterhin in dieser Art und Weise kommentieren, werden Sie blockiert.

[2022-03-28 23:01] #7235 closed

[2022-03-28 23:05] price111 opened #7326 "dotnet new console -o MyApp -f net6.0"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/dotnet/hello-world-tutorial/edit
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2022-03-28 23:05] #7326 closed

[2022-03-28 23:46] leecow commented on #7166
What was used for the install? Anything interesting about the OS environment? Looks like Windows but there are plenty of options there.  What is the dotnet-tools directory and does the user have appropriate permissions to the directory?