[2015-01-22 15:19] ReverseBlade opened #2 "Make use of Code Contracts where ever applicable"
I wonder the reason why while the code contracts are part of BCL and it is a research project of Microsoft, only some of the API makes use of it. This this is effectively preventing making use of code contracts for the end consumers as well.
I would appreciate at least if you can make use of Code Contracts on the public surface API.

[2015-01-29 14:09] cnblogs-dudu opened #3 "update .NET Compiler Platform ("Roslyn") link"
update .NET Compiler Platform ("Roslyn") link from https://roslyn.codeplex.com/ to https://github.com/dotnet/roslyn

[2015-01-30 08:45] lurongkai commented on #3
duplicate with #1

[2015-01-30 08:55] #3 closed

[2015-03-26 05:32] MattWhilden opened #5 "Update text?"
@terrajobst ... Maybe scan the front page and give it a quick update?

[2015-03-26 05:33] MattWhilden commented on #2
@ReverseBlade you'll get a better answer from folks over at dotnet/corefx. I'll close this out and presume you'll follow up there.

[2015-03-26 05:33] #2 closed

[2015-04-14 11:48] VaniKulkarni opened #7 "Test"

[2015-07-17 21:35] BethMassi opened #11 "Link to getting started docs"
When you search for ".net core" on Google, this is repo the first hit. It would be good to add a link in the readme to help people get started.

- What is .NET Core?: http://dotnet.github.io/core/
- Get Started with .NET Core: http://dotnet.github.io/core/getting-started/

@richlander @blackdwarf what do you think?

[2015-07-17 22:06] blackdwarf commented on #11
+1 to that, sounds like a great idea.

[2015-07-17 23:50] #11 closed

[2015-07-23 21:42] cartermp opened #13 "Page needs clarity for people brand-new to .NET Core"
Listing the issues here on a per-section basis.

## Get Started

What is .NET Core? link leads to another landing page, not something that tells me what .NET Core is.

## .NET Core Platform

Text here references BCL - a newcomer to .NET probably doesn't understand the acronym (I didn't until I looked it up online)

## License

This section describes multiple licenses, so the plural form should pro

[2015-08-01 04:33] jameswalkoski commented on #13
Related:
The **.NET Core Contributor Info** links on this page are broken: https://github.com/dotnet/corefx/wiki
Project priorities: https://github.com/dotnet/coreclr/blob/master/Documentation/project-priorities.md
Contribution guidelines: https://github.com/dotnet/corefx/blob/master/Documentation/contributing.md

[2015-08-24 04:48] singlewind opened #14 "How to alias a package?"
Previously, when we have a same namespace class sits in different dll files we can use extern alias to distinguish them.

I don't know how to deal with nuget package in project.json file.

An example will be

Severity	Code	Description	Project	File	Line
Error	CS0433	The type 'HMACSHA1' exists in both 'System.Security.Cryptography.Algorithms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f

[2015-08-28 21:40] Petermarcu commented on #13
@cartermp, I took a stab at making these updates. The only one I could find better wording for was the relationship between .NET Core and .NET Framework. I'll keep thinking about how to explain that better.

[2015-08-29 16:22] cartermp commented on #13
(It's interesting reading this now that I'm no longer new to the team/project)

@BethMassi 's [blog post about understanding .NET](http://blogs.msdn.com/b/bethmassi/archive/2015/02/25/understanding-net-2015.aspx) was very helpful to me in terms of understanding what things looked like for the last release.  Perhaps a similar sort of diagram would suit this section well?

[2015-10-02 14:28] khoroshevj opened #18 "decimal GetHashCode() returns different values, but Equals is true"
[code]

return false only if precision of one of values is 12 and the precision contains only trailing zeros and significant part is the 25 000 000 000 ^ (2 * n)

[2015-10-02 14:31] #18 closed

[2015-10-14 09:32] #14 closed

[2015-10-28 17:25] terrajobst commented on #5
@MattWhilden is there still anything to do? I think @richlander already did that.

[2015-10-28 17:25] #5 closed

[2015-10-28 17:25] #7 closed

[2015-10-28 21:10] MattWhilden commented on #5
Looks great. Thanks!

[2015-11-12 07:56] voltagex commented on #11
And now ironically I think it's this page that's causing a search "dnvm hello world" to link to a page that doesn't exist any more. (https://dotnet.github.io/core/getting-started/ instead of https://dotnet.github.io/getting-started/)

[2015-11-14 10:41] fancyfanta opened #20 "Multiple inheritance in C#"
I want to use multiple inheritance, is there a way to use it directly without jumping in garden?
If not, why does .net not support it?

[2015-11-17 18:21] VladRocks commented on #20
.net doesn't support multiple inheritance to avoid the "deadly diamond of death". Use interfaces.

[2015-11-18 21:27] joshpearce opened #24 "FX Dependencies Not Found in OSX"
I downloaded and installed on El Capitan the Mac package, located here, https://get.asp.net.

Then I checked out this sample:
https://github.com/aspnet/Home/tree/dev/samples/1.0.0-rc1-final/HelloMvc

Then I ran:

I got these errors:
[code]

[2015-11-18 22:38] joshpearce commented on #24
I will try that. When I install CoreCLR, the aliases are blank. I don't know how to run dmvm use with a blank alias. Is there a way

[2015-11-18 22:46] joshpearce commented on #24
With Mono I get:

[code]

[2015-11-19 11:00] joshpearce commented on #24
Using Mono results in successful dependency resolution and building. Thanks!

[2015-11-19 11:38] #20 closed

[2015-11-20 18:12] condemil commented on #24
I have completely the same issue with 1.0.0-rc1-final-coreclr docker image

    root@30c3fc651aaa:/app# dnu list
    Microsoft .NET Development Utility CoreClr-x64-1.0.0-rc1-16202

    Listing dependencies for app (/app/project.json)

    [Target framework DNX,Version=v4.5.1 (dnx451)]

    Framework references:
      fx/Microsoft.CSharp  - Unresolved
      fx/System  - Unresolved
      fx/System.C

[2015-11-20 19:35] condemil commented on #24
I removed `dnx451` framework from `project.json` file. After that `dnu restore` process completed successfully on `coreclr` docker image.

[2015-11-21 06:16] moozzyk commented on #24
Yeah, you can't build for mono/dnx451 with CoreClr.

[2015-11-21 06:16] #24 closed

[2015-11-21 09:41] hunter-xue opened #26 "The content on get start page cannot work."
I tried to install .net core and run hello world follow the get start page, but either Mac OSX or Ubuntu cannot work.
Get start page URL: http://dotnet.github.io/getting-started/
My Mac OS version is Capitan EI and Ubuntu is 14.04 LTS.

Alway get error when I run "dotnet run" like below:
[on MAC OS]
Unhandled Exception: System.IO.FileNotFoundException: Could not load file or assembly 'System.Conso

[2015-11-21 13:42] StefanKert commented on #26
You need to replace the dependencies section of the given project.json file with following json:

	"dependencies": {
		"System.Console": "4.0.0-beta-*",
		"System.IO": "4.0.10-beta-*",
		"System.Runtime": "4.0.21-beta-*"
	}

System.Console depends on System.IO so you need to get this package to get it running. Same problem exists for Windows and for Linux. Maybe this has something to do with Nuget

[2015-11-22 00:18] hunter-xue commented on #26
Many thanks for you reply. Ubuntu is working well with upon settings, but still get the same error on MAC OSX EI Capitan 10.11.1
I guess maybe there are something wrong with nuget, but I don't know what happened.

[project.json on MAC OSX]
"dependencies": {
    "System.Console": "4.0.0-beta-*",
    "System.IO": "4.0.10-beta-*",
    "System.Runtime": "4.0.21-beta-*"
}
[Error msg]
/Users/xuehaitao/C

[2015-11-22 03:14] dlech commented on #26
I came across this issue because I am getting the same errors on OSX 10.11.

One difference I noticed between "System.Console": "4.0.0-beta-23019" and later versions are that the later versions are missing `lib/DNXCore50/*`. Also beta-23019 has `ref/dotnet/` whereas the later versions have `ref/dotnet5.1`.

[2015-11-22 07:14] StefanKert commented on #26
Hey there,

from this line in your error message:

Microsoft.NETCore.Runtime.CoreCLR 1.0.1-beta-23516 expected System.IO 4.0.11-beta-23516 but got 4.0.10-beta-23109

I expect you have some troubles with conflicting references between the packages. I really cannot test this on a MAC, but I tested it on a Win 10 and it worked fine.
If you use this dependencies it should work for you. Just replace th

[2015-11-22 18:39] dlech commented on #26
I'm still getting an error with those dependecies and dnxcore50.

[code]

Is there a way to turn on more verbose output, like `DNX_TRACE=1` in ASP.NET 5?

[2015-11-22 23:14] hunter-xue commented on #26
Looks like we run into a compatibility issue on MAC OS 10.11.1

[2015-11-22 23:14] blackdwarf commented on #26
The project.json are now updated for all samples. However, I can repro the issue with System.Console on OS X as well. Will log an issue at dotnet/cli to actually solve this.

[2015-11-23 22:27] jgowdy commented on #26
I have this exact same issue on Ubuntu.  The version of System.IO seems to be bumped to 4.0.11, which breaks the dotnet init sample project.json, but even when I fix that, it gives me:

Unhandled Exception: System.IO.FileNotFoundException: Could not load file or assembly 'System.Console, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system canno

[2015-11-23 23:01] blackdwarf commented on #26
@jgowdy I don't follow, the samples' project.json System.IO is set to 4.0.11-beta-23516. So, did you try the old clone, by any chance?

Also, the System.Console thing is something more in depth, but I see you already mentioned it in dotnet/cli#291 so that's good.

[2015-11-23 23:04] jgowdy commented on #26
I originally tried with the "dotnet init" version which seems to still be the old one pointed to 4.0.10-beta-*.  Then I modified to have the 4.0.11-beta-23516 version for System.IO, which got me past that problem, but I'm stuck at the Could not load file or assembly issue.

dnx run works, despite the fact that dotnet run doesn't work, and dotnet compile generates an executable that throws the same

[2015-11-24 19:28] avoxm opened #31 ""Get started" is not working as expected on OSX"
I followed all the steps describer in http://dotnet.github.io/getting-started/ for OSX

And here what I see in console after running "dotnet run"

**Unhandled Exception: System.IO.FileNotFoundException: Could not load file or assembly 'System.Console, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.**

[2015-11-25 09:02] ZClive opened #32 "Cannot be installed alongside mono"
The executable `/usr/bin/resgen` tend to be used by both `dotnet` and `mono-devel` package in ubuntu. So it is unable to install `dotnet` if you have `mono` already installed.

Maybe consider using another name for it, like `dotnet-resgen`, or to utilize the `update-alternative` command in ubuntu to provide different `resgen` as user configured.

[2015-11-25 12:27] akoeplinger commented on #32
See https://github.com/dotnet/cli/issues/313

[2015-11-27 00:23] zmLGBBM commented on #32
@akoeplinger Great, thanks.

[2015-11-28 14:45] qnnnnez commented on #31
I got that too with Ubuntu.

[2015-12-02 14:54] jakubsuchybio opened #33 "Is it possible to get native compilation of FSharp ConsoleApp?"
So I successfully native compiled some C# code on ubuntu. And I am wondering.. Is it possible for FSharp?
First I got some code from VS2015 on my Win10 for default ConsoleApp in F#. Removed all unnecessary dependencies. It needed only FSharp.Core, so i found its version on nuget.org and then
I tried this code:
Program.fs:
[code]
with
project.json
[code]
But when trying 'dotnet compile --native' I

[2015-12-02 16:03] jkotas commented on #33
cc @piotrpMSFT

FSharp is not supported by `dotnet` yet, but it is in the [roadmap](https://github.com/dotnet/cli/issues/45)

[2015-12-04 17:12] SesticM opened #34 ".NET Core native compilation fails with "No such file or directory""
Steps to reproduce the problem:

[code]
outputs `Hello World!`

But when running a native compilation:

[code]
generates:
[code]

Could please someone help with this? Are there any relevant compilation logs generated? Am I doing something wrong?

[2015-12-04 17:43] jkotas commented on #34
This is dup of #436. It is problem with stale bits or packaging - hello world works fine on Ubuntu in CoreRT CI.

[2015-12-04 18:02] smartbitnl commented on #34
Try this before you compile native, it worked for me.

[code]
Then I can run the binary `bin/Debug/dnxcore50/native/myapp` in the latest ubuntu-image and outputs `Hello World!`. If I run `bin/Debug/dnxcore50/myapp`in this same ubuntu I get `failed to locate CLR files` (as expected). This also runs fine in the ubuntu image although the binary is larger:
[code]

Still wondering where the relevant co

[2015-12-04 18:32] SesticM commented on #34
Thank you [smartbitnl](https://github.com/smartbitnl), worked like a charm!

[2015-12-04 18:51] #34 closed

[2015-12-08 00:03] jgowdy opened #36 "Native compiled app fails on System.Globalization.NumberFormatInfo.CurrentInfo"
I'm not sure if native compile is supposed to work yet or not, but I figured I'd try it and open an issue since I ran into something.  This is a simple compute N digits of pi app.

Ubuntu 14.04.3 LTS
Microsoft .NET Development Utility CoreClr-x64-1.0.0-rc1-16048
dotnet 1.0.16776.1449511470-1

[code]

Source code:
[code]
(Source of pi function http://stackoverflow.com/a/11679007/251002)

Not sure i

[2015-12-08 17:38] alexeycalinovski opened #37 "Running on OpenSUSE 13.2"
I have successfully ran a console and ASP.NET 5 app using DNX coreclr on Ubuntu, but I am not able to do so on Opensuse 13.2 x64. I followed this tutorial : http://dotnet.github.io/docs/getting-started/installing/installing-core-linux.html .
I am trying to run a simple hello world as in the tutorial but the commands **dnu** and **dnx** do not do anything, they run and exit immediately.
The output

[2015-12-08 17:42] moozzyk commented on #37
export DNX_TRACE=1 to see what is happening. Most likely you don't have libicu or the one you have is no the one coreclr was linked against.

[2015-12-08 17:46] moozzyk commented on #37
One thing to add - we have not tested dnx on SuSe and SuSe is not officially supported so if things work it's great but they may not work.

[2015-12-08 17:48] alexeycalinovski commented on #37
I understand that, but I hope it will work .. or I can contribute by finding why it doesn't :) . Anyway, the export helped in getting this :

    Loaded module: dnx.coreclr.so
    Found export: CallApplicationMain

    Unhandled Exception:
         Cannot print exception string because Exception.ToString() failed.
     Aborted

[2015-12-08 18:07] moozzyk commented on #37
The error you get you are missing libicu. See #3059 for more details.

[2015-12-09 15:26] alexeycalinovski commented on #37
I got over that part by using your suggestion. I now have this other error, when I issue dnu restore:

	Information: [LoaderContainer]: Load unmanaged library name=System.Net.Http.Native
	----------
	System.TypeInitializationException: The type initializer for 'System.Net.Http.CurlHandler' threw an exception. ---> System.TypeInitializationException: The type initializer for 'libcurl' threw an exce

[2015-12-09 17:18] alexeycalinovski commented on #37
Also, I intended to add more nuget feeds but I can't find NuGet.config file, as described [here](https://github.com/aspnet/Home/wiki/Configuring-the-feed-used-by-dnu-to-restore-packages) and because of [#3550](https://github.com/dotnet/corefx/issues/3550).

[2015-12-10 03:34] moozzyk commented on #37
Are you sure you have libcurl and libssl installed (as per https://docs.asp.net/en/latest/getting-started/installing-on-linux.html)?
 For restore you can use the `-s <FEED>` parameter to use a specific feed. You can use multiple `-s` if you want to restore from multiple feeds. I guess you could just create a NuGet.config file if it is missing.
You can also use `dnu feeds list` to see what the effe

[2015-12-10 09:46] alexeycalinovski commented on #37
curl --version
	curl 7.42.1 (x86_64-suse-linux-gnu) libcurl/7.42.1 OpenSSL/1.0.1k zlib/1.2.8 libidn/1.31 libssh2/1.5.0

[2015-12-10 12:46] Draqun opened #38 "Problem with installing .NET core on Windows 7 x32 on VM"
Hi.
I have huge problem with .NET Core. when i run dnvm it throw me a lot of errors. I don't have any ideas waht to do with that. I had all patches from windows update, system is a few days after install. I have here only Java, Jenkins and FF.

Some ideas.

I will be appreciated for any help.
Best regards.
[code]

[2015-12-10 18:22] moozzyk commented on #38
You seem to be hitting this: https://github.com/aspnet/dnvm/issues/301. I think the runtime was actually installed despite the error but native images were not generated. Either try installing without ntive images or move to Powershell 3 or later.

[2015-12-11 07:52] Draqun commented on #38
Thank you very much. Installation  Windows Management Framework 4.0 from https://www.microsoft.com/en-us/download/details.aspx?id=40855 solved the problem.

I close this issue.

[2015-12-11 07:52] #38 closed

[2015-12-14 14:08] #37 closed

[2015-12-14 14:27] alexeycalinovski opened #39 "System.Net.Http.CurlException: Peer certificate cannot be authenticated with given CA certificates"
I have managed to install and run *dnu restore* on openSUSE 13.2 as detailed in [#37](https://github.com/dotnet/core/issues/37). The problem is that I am getting the following error whenever I try and run the above command :

    System.Net.Http.HttpRequestException: An error occurred while sending the request. --->    System.Net.Http.CurlException: Peer certificate cannot be authenticated with gi

[2015-12-15 09:17] #39 closed

[2015-12-16 08:02] biaotang opened #40 "dotnet run the helloworld comes a error"
Hello,   I tried to install .net core and run hello world follow the get start page, but  cannot work on ubuntu14.0.4 .

Get start page URL: http://dotnet.github.io/getting-started/

Microsoft .NET Development Utility CoreClr-x64-1.0.0-rc1-16048

  CACHE https://api.nuget.org/v3/index.json
Restoring packages for /home/zero/dotnet/core/samples/helloworld/project.json
  GET https://api.nuget.org/v3-

[2015-12-16 12:59] elliotrodriguez opened #41 "Hello World under standard user fails with Ubuntu/GNOME"
I don't know if the Getting Started steps are implied to be run as root (they don't appear to be because the installation steps specify sudo), but I get a variety of permissions errors when attempting to run `dotnet run` as a standard non-root user under Ubuntu with GNOME. It looks like Hello World is trying to access hidden directories.

It started with my .gvfs from my HOME directory and, after

[2015-12-16 20:07] ochowie commented on #40
I am getting the same issue running on Ubuntu 15.04.

[2015-12-17 06:24] biaotang commented on #40
I restore ubuntu14.04,  and find that it works. Compare  the steps , i find that  in mint17  excute  "dotnet  restore"  , the dependence was just been load  but not install.

Microsoft .NET Development Utility CoreClr-x64-1.0.0-rc1-16048

  GET https://api.nuget.org/v3/index.json
  OK https://api.nuget.org/v3/index.json 830ms
Restoring packages for /home/zero/core/samples/helloworld/project.json

[2015-12-21 01:27] biaotang commented on #40
“dotnet restore --runtime ubuntu.14.04-x64”  may  helps .   refer to  https://github.com/dotnet/cli/blob/master/src/Microsoft.DotNet.ProjectModel/RuntimeIdentifier.cs

[2015-12-21 01:28] #40 closed

[2015-12-24 15:52] rohitshrivastava04 opened #42 "dnx hangs in docker container"
I am trying to build docker container with dev build of dotnet coreclr following is my docker file

    FROM debian:jessie

    ENV DNX_VERSION 1.0.0-rc2-16351
    ENV DNX_USER_HOME /opt/DNX_BRANCH
    #Currently the CLR packages don't have runtime ids to handle debian:jessie but
    #we are making sure that the dependencies are the right versions and are opting for
    #the smaller base image. So

[2015-12-24 16:17] rohitshrivastava04 commented on #42
Opened it in coreclr, i guess that is the right place.

[2015-12-24 16:17] #42 closed

[2015-12-26 03:29] hunter-xue commented on #31
I ran into the same issue:
Unhandled Exception: System.IO.FileNotFoundException: Could not load file or assembly 'System.Console, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.

[2015-12-26 20:15] WHK102 opened #43 "Window example?"
There is an example to create a form.

    using System;
    using System.ComponentModel;
    using System.Data;
    using System.Drawing;
    using System.Text;
    using System.Threading.Tasks;
    using System.Windows.Forms;

    namespace DemoApplication
    {
        public class Program
        {
            public static void Main(string[] args)
            {
                Application.Ena

[2016-01-01 17:32] rjcobain commented on #31
`dotnet compile --native` outputs a working executable

[2016-01-02 17:40] nteague22 commented on #13
I know personally that the teams on some sub projects to the dotnet oss push have strong pythonic backgrounds, and the new direction seems to emulate a lot of aspects of the pyenv philosophy. Perhaps that would be a good angle to reference/allude to

[2016-01-04 21:01] roncain commented on #39
@iamjasonp -- can you add any info regarding the WCF issues showing this same error?
/cc @alexeycalinovski

[2016-01-05 11:43] iamjasonp commented on #39
We've been seeing this in WCF Core when running tests. The errors look like the following:

[code]

We're investigating this on our end. I've tried to import the root CA cert for the WCF Bridge (test) component but so far it hasn't resolved the issue

[2016-01-06 04:20] knarfalingus opened #45 "Issue with Getting Started instructions with Ubuntu 14.04.3"
When using the instructions from https://dotnet.github.io/getting-started/, attempts to compile HelloWeb (https://github.com/davidfowl/dotnetcli-aspnet5/tree/master/HelloWeb), yield the error Microsoft.NETCore.Platforms could not be resolved (attached).

I have gotten this sample to compile and run when manually installing the new CLI via installer from https://github.com/dotnet/cli , installing l

[2016-01-06 20:22] xameeramir opened #46 "How to port to .NET core?"
I was looking for possibilities for porting some web projects from [Windows](https://www.microsoft.com/en-in/windows) [.NET framework](https://www.microsoft.com/net) to [Ubuntu linux](http://www.ubuntu.com/) using [open source .NET core](https://github.com/dotnet)

After a lot of struggle with [Mono](http://www.mono-project.com/), which I have almost gave up. I was looking at [.NET core](https://d

[2016-01-06 21:09] bleroy commented on #46
Hi. Yes, lots of people have ported their code to Core. Since you seem to be working on a web app, you should look at ASP.NET 5 and MVC 6, which are the web platforms built on .NET Core. There will definitely be problems to overcome, as not everything that is available with .NET Framework is available on .NET Core. The API port tool can help you assess this by evaluating your current code for comp

[2016-01-06 21:09] #46 closed

[2016-01-07 18:06] justinmchase commented on #31
:+1:

After installation steps to reproduce on osx:
[code]

[2016-01-07 18:21] justinmchase commented on #43
Basically those missing dependencies are actually missing. You can see what is in the repo here:

http://www.nuget.org/packages?q=Windows.Forms

Also, I don't think they're going to be porting Windows forms to this new system. I don't know if anything has been announced but I would imagine that some team in microsoft is working on it secretly right now.

[2016-01-11 06:56] GerhardKreuzer opened #47 "WEC2013 on ARM7"
Hi,

any Chance to see .net core on ARM 7 Controllers, running WEC2013?

With best regards

Gerhard

[2016-01-20 09:18] eliashdezr opened #48 "VS2015 Class Library?"
When trying to add a new project to an existing solution, I cannot see .NET Core as an option.

Is there any template for this in the works? Or any information how to add a new project manually using the CLI? Can't find anything on the documentation.

[2016-01-20 20:06] leena-v opened #49 "Not Able to find the feature Add Service Reference"
Hi,

I created a new solution on the new Visual Studio 2015 and created a dll Library(Package).
When I try to add a reference to a webservice(wsdl), I am unable to add  the service reference the right click on the references only has the following options:
1) Add Reference
2) Add Connected Service
3) ManageNuget Package
4) Restore Packages
Has anyone faced the same issue?
Is there anyway to config

[2016-01-20 21:10] roncain commented on #49
Hi @leena-v .  A blog describing this up-coming feature is at http://blogs.msdn.com/b/webdev/archive/2015/12/15/wcf-connected-service-visual-studio-extension-preview-for-asp-net-5-projects.aspx .  Give it a try and let us know how it works for you.

The best place currently to file bugs or ask questions about this feature is https://github.com/dotnet/wcf.  I'd like to close this particular issue i

[2016-01-20 21:10] #49 closed

[2016-01-20 21:43] leena-v commented on #49
@roncain Thanks for your quick response. Could you please suggest which is the best way to add a third party wsdl api reference to a .net core dll? is this feature available?

[2016-01-20 23:37] misnor opened #50 "Unable to run HelloWorld Sample - Windows"
Following the straight forward instructions at http://dotnet.github.io/getting-started/, I am unable to get Hello World running, as it crashes on dotnet restore (see screenshot).

I've attached a ZIP with the code that is generated on dotnet new.

Am I missing something obvious?

![dotnetcoreerror](https://cloud.githubusercontent.com/assets/4564734/12466688/a4e70138-bfac-11e5-88a2-196dd8da40ab.png

[2016-01-21 00:06] misnor commented on #50
Additional Information:

OS: Windows 10 Pro
Visual C++ Redistributable for Visual Studio 2015 is installed

[2016-01-21 00:25] saurabh500 commented on #50
@misnor I faced a similar problem and found that Dotnet CLI should be installed at a path which doesn't have spaces in it.
Are you installing in C:\Program Files\dotnet ?

[2016-01-21 00:46] misnor commented on #50
@saurabh500 , thank you for the quick reply. You are spot on with the cause of the issue. Default installation path is C:\Program Files\dotnet, a reinstall to C:\dotnet and dotnet restore works as expected.

Thank you!

[2016-01-21 00:46] #50 closed

[2016-01-21 14:12] roncain commented on #49
Hi @leena-v -- I've moved this discussion to the new issue you opened at https://github.com/dotnet/wcf/issues/728 so we can discuss it in the right repo.

[2016-01-21 16:52] mlacouture commented on #49
Hi  @leena-v, I'm assuming you mean a service reference when you refer to 'a third party wsdl api reference', if this is the case using the WCF Connected Service extension Ron pointed at previously is the way to go.

[2016-01-22 13:48] Annih opened #51 "Default destination folder for Windows MSI is incompatible"
Hello,

Default installation path for the official MSI is `C:\Program Files\dotnet\`, but it seems that dotnet core doesn't like space in its path - see #50.

Because of that, following the [Getting started guide](http://dotnet.github.io/getting-started/) lead to this obscure error message:

I think we should either fix the crash reported in #50, or change the default path to something else.

Rega

[2016-01-22 18:24] mairaw commented on #51
@blackdwarf You mentioned someone was working on a fix for this, correct?

[2016-01-22 19:30] blackdwarf commented on #51
@mairaw yup.

[2016-01-25 01:26] richardszalay opened #53 "Is the dotnet5.4 TFM forward compatible with RC2?"
If I were to release a new version of a library with support for the dotnet5.4 moniker, will it be consumable from a project that targets .NET Core 1.0 RC2 (specifically a netstandard TFM) ,or will I need to explicitly release a new version that targets netstandardX?

(I realise these monikers aren't actually equivalent, its more about maintaining support for .NET Core)

[2016-01-25 07:23] richardszalay commented on #53
Answered here (tldr: "yes"):

http://stackoverflow.com/questions/34983390/is-the-dotnet5-4-tfm-forward-compatible-to-rc2

https://github.com/NuGet/Home/issues/1691

[2016-01-25 08:29] davidfowl commented on #53
Unfortunately, that's the wrong answer :smile: . dotnet5.x will not work with netstandard1.x. To work around this, you'll need to specify an imports statement:

[code]

[2016-01-25 10:08] richardszalay commented on #53
Is that syntax valid for RC1 or just RC2?

If RC2, does that mean that there's no way to publish a net-core-targetting-pcl package in RC1 that can be consumed by an RC2 project without releasing a new version?

If RC1, ignore that second part.

[2016-01-25 12:44] davidfowl commented on #53
RC2, part of the move is unifying `dnu restore` and `nuget restore`. DNU will be gone by the time RC2 ships. NuGet currently supports "imports" but not DNU, here's an example https://github.com/dotnet/cli/blob/master/src/Microsoft.DotNet.ProjectModel.Workspaces/project.json#L14. in RC2, we're adding support to make this an array so you can specify multiple overrides. https://github.com/NuGet/Home/

[2016-01-25 22:56] richardszalay commented on #53
Just to clarify, the purpose of importing dotnet5.x would be to support consuming an RC2 library from RC1, correct? (Otherwise I'm failing to understand why I would include it)

[2016-01-26 04:09] scionwest opened #54 "Will DbConnection use a interface?"
I've started building out a little ORM project for .Net Core and noticed that the DbConnection did not have any interfaces that I can wrap my providers behind. Is this something in the roadmap? If not, what is the expectation for unit testing, fakes by inheritance and what was the reasoning behind making this change from how .Net worked?

I tried looking for some documentation or issues related to

[2016-01-26 04:15] scionwest commented on #54
Asked this in the wrong repository.

[2016-01-26 04:15] #54 closed

[2016-01-26 11:27] Annih commented on #51
Seems to be fixed in `1.0.1.001091 dev` but I couldn't find the commit that fixed this

[2016-01-26 11:27] #51 closed

[2016-01-27 18:53] rcabreu opened #55 "Run of 'dotnet restore' fails with sample application created by 'dotnet new'"
After creating a new app by running ```dotnet new``` and consequently running ```dotnet restore```, the console spits out this error:

info : Running restore with 16 concurrent jobs.
info : Restoring packages for /home/kojak_/test/project.json...
info :   NotFound https://api.nuget.org/v3-flatcontainer/netstandard.library/index.json 779ms
info :   NotFound https://api.nuget.org/v3-flatcontainer/ne

[2016-01-28 10:51] richardszalay commented on #53
Closing. Based on conversations in  linked issues, my "edit" assumption is correct.

[2016-01-28 10:51] #53 closed

[2016-01-30 00:12] pjustino commented on #26
Hi,

I'm also having problems with the dotnet restore on ubuntu.14.04-x64.

The error is the following:

info : Installing System.IO 4.0.11-beta-23516.
error: System.Console 4.0.0-beta-23516 provides a compile-time reference assembly for System.Console on DNXCore,Version=v5.0, but there is no run-time assembly compatible with ubuntu.14.04-x64.
error: System.Text.Encoding 4.0.0 provides a compile-t

[2016-01-30 00:17] brthor commented on #26
@pjustino Please try using the project.json provided by `dotnet new`

Those dependencies are very old

[2016-01-30 00:30] pjustino commented on #26
Hi @brthor ,

Thanks for the help. I created a new sample with the project.json provided and I still got an error restoring the packages:

warn : Dependency specified was NETStandard.Library (>= 1.0.0-rc2-23727) but ended up with NETStandard.Library 1.0.0-rc3-23720.
warn : Dependency specified was NETStandard.Library (>= 1.0.0-rc2-23727) but ended up with NETStandard.Library 1.0.0-rc3-23720.
error

[2016-01-30 00:32] brthor commented on #26
@pjustino Can you give this a try:
`dotnet restore -s https://myget.org/f/dotnet-core-rel`

[2016-01-30 00:46] pjustino commented on #26
It restored the dependencies with success, but when I tried to run (dotnet run) it gave me the following error:

Could not resolve coreclr path

Here is my nuget.config file:
﻿<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>

    <clear />
    <add key="dotnet-core" value="https://www.myget.org/F/dotnet-core/api/v3/index.json" />
    <add key="api.nuget.org" value="https:/

[2016-01-30 00:46] brthor commented on #26
@pjustino How did you install the cli?

[2016-01-30 00:47] pjustino commented on #26
with the command:

sudo apt-get install dotnet-nightly

[2016-01-30 00:52] blackdwarf commented on #26
Seems like something is messed up with the deb package. It is installed in `/usr/share/dotnet-nightly` so @pjustino can you try to do `export DOTNET_HOME=/usr/share/dotnet-nightly` and see if it fixes it?

[2016-01-30 00:53] brthor commented on #26
Just gave this a try on the latest version and was not able to repro.

If you do `apt-cache policy dotnet-nightly` which version do you have installed?

[2016-01-30 00:54] brthor commented on #26
@blackdwarf there is a symlink in place `/usr/share/dotnet -> /usr/share/dotnet-nightly` in the latest version which should not require that environment variable to be set.

[2016-01-30 00:57] pjustino commented on #26
Hi @blackdwarf  it worked.

@brthor  the version I have installed is:
dotnet-nightly:
  Installed: 1.0.1.001172-1
  Candidate: 1.0.1.001174-1

Thanks for the help

[2016-01-30 01:00] blackdwarf commented on #26
@pjustino can you try to purge dotnet-nighly and then reinstall, remove the var and see if it repros still?

[2016-01-30 01:06] brthor commented on #26
What version of Ubuntu are you on?

[2016-01-30 01:06] pjustino commented on #26
@brthor   the sim link is not set properly is a regular folder

@blackdwarf  now it gives an error retrieving the deb package:

Err http://apt-mo.trafficmanager.net/repos/dotnet/ trusty/main dotnet-nightly amd64 1.0.1.001174-1
  404  Not Found
E: Falhou obter http://apt-mo.trafficmanager.net/repos/dotnet/pool/main/d/dotnet-nightly/dotnet-nightly_1.0.1.001174-1_amd64.deb  404  Not Found

Is the pac

[2016-01-30 01:08] pjustino commented on #26
Linux Mint 17 Qiana

[2016-01-30 01:21] brthor commented on #26
The package is syncing across mirrors in that 404. I am working on getting this issue fixed.

We don't currently support Linux Mint. For the moment the DOTNET_HOME workaround is the way to go. I'll have to take a look at this later.

For the package, you can keep trying or install a previous version like
`sudo apt-get install dotnet-nightly=1.0.1.001172-1`

[2016-01-30 01:44] pjustino commented on #26
@brthor  I finally managed to get the package.

I solved by creating myself the symbolic link with this command:

sudo ln -s /usr/share/dotnet-nightly/ dotnet

Thanks for your help, it helped alot.
Cheers

[2016-01-30 21:15] blackdwarf commented on #26
@pjustino seems like this is resolved. I will close the issue; if you find this repros again, please reopen.

[2016-01-30 21:15] #26 closed

[2016-01-31 21:04] alex4998 commented on #14
Why the issue was closed? Was it resolved? How?

[2016-02-06 19:26] knarfalingus commented on #45
Started over Feb 6 and not getting now, so probably a transient issue. Closing.

[2016-02-06 19:26] #45 closed

[2016-02-24 20:10] kika123 commented on #47
Windows 10 IoT Core runs on the NT kernel and supports .NET Core
CE is near-abandonned now

[2016-02-24 20:19] GerhardKreuzer commented on #47
Ok, but I have to use an ARMA5D3 MCU which is op-code compatible to ARMV7, as I found out. So is Win IOT running on that MCU or not? Is .net core running on that MCU or not?

With best regards

Gerhard

[2016-02-25 08:44] kika123 commented on #47
Do that MCU have a GIC(Cortex-A7,A9,A12,A15,A17 have one, but not the Cortex-A8)?
And does it have NEON?
If yes for both, then Windows IoT is relatively easy to run on the hardware

[2016-02-25 08:49] kika123 commented on #47
to clarify, you can run IoT on MCUs without NEON, but MS doesn't make interrupt controllers HAL extensions public

[2016-02-25 08:53] GerhardKreuzer commented on #47
.. so there is no NEON on that chip. So what does this mean? I have to use SPI interface in slave mode and some serial lines.

With best regards

Gerhard

Von: Mohamed MEDIOUNI [mailto:notifications@github.com]
Gesendet: Donnerstag, 25. Februar 2016 09:50
An: dotnet/core
Cc: GerhardKreuzer
Betreff: Re: [core] WEC2013 on ARM7 (#47)

to clarify, you can run IoT on MCUs without NEON, but MS doesn't m

[2016-02-25 08:58] GerhardKreuzer commented on #47
.. for what GIC stands for? Searched the manual, no hit …

Von: Mohamed MEDIOUNI [mailto:notifications@github.com]
Gesendet: Donnerstag, 25. Februar 2016 09:45
An: dotnet/core
Cc: GerhardKreuzer
Betreff: Re: [core] WEC2013 on ARM7 (#47)

Do that MCU have a GIC(Cortex-A7,A9,A12,A15,A17 have one, but not the Cortex-A8)?
And does it have NEON?
If yes for both, then Windows IoT is relatively easy to r

[2016-02-25 08:59] kika123 commented on #47
GIC => Generic Interrupt Controller

[2016-02-25 09:00] kika123 commented on #47
no NEON means that you are screwed, as your core will only be able to run MinWin Windows 7 builds, that no one here is allowed to share(too strong NDAs)

[2016-02-25 09:13] kika123 commented on #47
sorry about the typo, I meant GIC, not NEON for  to clarify, you can run IoT on MCUs without NEON, but MS doesn't make interrupt controllers HAL extensions public
newer Windows builds are compiled with NEON, which is an instruction set extension

[2016-02-25 12:21] xielongjiang opened #56 "Can not find runtime target for framework 'DNXCore,Version=v5.0' and RID's 'win10-x64, win81-x64, win8-x64, win7-x64'. Possible causes"
I use 'dotnet restore' in the following error：
log  : Restoring packages for D:\core\samples\dotnetbot\project.json...
error: Unable to resolve NETStandard.Library (>= 1.0.0-rc2-23704) for DNXCore,Version=v5.0.
info : Committing restore...
log  : Restore failed in 312ms.
Errors in D:\core\samples\dotnetbot\project.json
    Unable to resolve NETStandard.Library (>= 1.0.0-rc2-23704) for DNXCore,Vers

[2016-02-26 23:25] TJSoftware opened #57 "System.AddIn (plugin) support with .Net core"
I am curious if there is expected to be support for System.AddIn (in whatever namespace) for .Net core?  I took a look at http://packagesearch.azurewebsites.net/ and did not find a match and I was not able to find any namespaces that looked like they are *.AddIn in this repo and a few others.  I might not be looking in the right place.  If so would you please direct me to the correct place.  Altho

[2016-03-01 20:20] psibernetic commented on #48
Right now the templates are under the Web subsection.

[2016-03-02 16:10] Petermarcu commented on #48
These templates are definitely in the works and as @psibernetic mentioned, they are currently under web. @Pilchie, can you confirm we're moving these to a more central location?

[2016-03-02 17:45] Pilchie commented on #48
There will be a new ".NET Core" node that will include a "Console application (.NET Core)" template and a "Class Library (.NET Core)" template, instead of the "Console Application (package)" and "Class Library (package)" templates that are currently under Web.

I forget where we landed on also showing a web template under .NET Core.  @cartermp do you know?

cc @rchande

[2016-03-02 17:54] cartermp commented on #48
Yup, we're going to have the ASP.NET web template under the ".NET Core" node.  When opened from there, the One ASP.NET dialog will only show ASP.NET Core templates.

@sayedihashimi have we landed on the name of the ASP.NET template under the .NET Core node being "ASP.NET Core Web Application"?

[2016-03-04 20:40] joshcomley commented on #14
@alex4998 did you figure this out?

[2016-03-06 00:08] singlewind commented on #14
In .NET Core, use "same dll" with multiple version is allowed. because the dll files are no longer sit in bin folder together. It has been referenced as a package. The problem I referenced previously, it was caused by break changes of interface. Somehow, the referenced version hasn't been updated to reflect the changes. For example, we have referenced a package System.Security.Cryptography.Algorit

[2016-03-06 04:00] alex4998 commented on #14
I understand that but it does not explain how to use aliases with referenced assemblies of the referenced package. Once again, my situation is this. I reference Google Drive API v2 package which has a lot of dependencies and one of those dependencies have exactly the same class name which results in a bunch of compiler errors because of the naming collision. Let’s say I have a namespace MyApplicat

[2016-03-06 22:14] singlewind commented on #14
You always can use "using" to alias a namespace. In our source code, on the top using statements section, add "using my = MyApplication.Library", then you can use "my.TaskEx" just like how .NET works before.

[2016-03-07 03:54] alex4998 commented on #14
Right. It works as a workaround but ideally, of course, I’d like to be able to change aliases on the dependency assemblies. Simply because in this case I don’t need to change a single line in the code. With using aliases I at least need to change all the usings and change the lines referring those usings.

Thanks anyway,

Alex

From: Yue Zhou [mailto:notifications@github.com]
Sent: Sunday, March 6

[2016-03-11 09:08] aschweiz opened #59 "Getting Started not working on OS X 10.11.3"
Hi all,

I get an exception when trying to run 'dotnet restore':

$ mkdir hwapp
$ cd hwapp
$ dotnet new
Created new C# project in /Users/asr/hwapp.
$ dotnet restore
log  : Restoring packages for /Users/asr/hwapp/project.json...
error: The type initializer for 'Crypto' threw an exception.
error:   Unable to load DLL 'System.Security.Cryptography.Native': The specified module could not be found.
err

[2016-03-11 14:41] bartonjs commented on #59
Just as a quick guess, you might need to install OpenSSL (1.0.1 or 1.0.2): https://github.com/dotnet/coreclr/blob/master/Documentation/building/osx-instructions.md#openssl

[2016-03-14 15:50] CreativeManix commented on #56
I do have same issue

[2016-03-15 19:07] mms- commented on #57
System.Addin seems to be forgotten by the .Net team perhaps because it's only mean for larger projects, though it's still just as relevant, even in the new .Net Core/UWP env. With nothing to replace it, and with .Net Remoting going away, it may finally be time to update it. Why not release it on Nuget? With PCL implementation to allow UWP/Net core usage.

[2016-03-15 21:31] TJSoftware commented on #57
I did ask in a few chat rooms (gitter, jabbr) about this.  Pinpoint Towers thought that David Fowler might be working on something along these lines.  Outside of that I have not heard of anything concrete.

[2016-03-16 02:35] anguoyang opened #60 "how to convert command line generated project.json into vs project"
Hi, how to convert command line generated project.json into vs project and open it in visual studio?

I would like to develop in windows/vs, and then dotnet run it on ubuntu or docker.thanks

[2016-03-16 03:15] livarcocc commented on #60
@anguoyang Just open the project.json file directly in VS. VS will generate an xproj file for it.

[2016-03-16 07:23] seanshpark commented on #60
@livarcocc , wow, I was also looking something like this.

[2016-03-16 12:20] anguoyang commented on #60
@livarcocc when I opened the json file in VS, it acted as common editor as notepad, no relevant project files created.

[2016-03-16 12:41] seanshpark commented on #60
@anguoyang , try with "File" > "Open" > "Project/Solution..."

[2016-03-16 13:35] anguoyang commented on #60
@seanshpark  Thanks a lot, it worked!!!

[2016-03-17 00:35] anguoyang commented on #60
Kang sa mi da! @seanshpark , it could be opened and compiled successfully in VS, however, it could not be run due to "there is no command in project.json, so it could not be startup"?

[2016-03-17 01:02] seanshpark commented on #60
@anguoyang , "chun man e yo~", for me, I've copied the output DLL, say "output.dll" file to my Linux(Ubuntu 14.04) and ran with
```./corerun output.dll```
where required DLLs exist in the same directory, just for testing.

[2016-03-17 01:38] seanshpark commented on #60
If you can't find the DLL, right click on the "Project" and select "Properties". In the left "Build" tab, check on the "Product outputs on build".  You can see the DLL in "../artifacts/bin/..../Debug/dnxcore50/" folder.

[2016-03-17 13:08] PanosSakkos opened #61 "Add BigInteger(string value) in System.Numerics"
Hello,

I would like to initialize BigInteger instances with string values, like I'm used to from java.

1. Would you accept such an addition to the Framework?
2. In case you would, which project should I fork in order to create the patch?

Thank you in advance,
:panos

[2016-03-17 13:19] stephentoub commented on #61
Like this?
https://msdn.microsoft.com/en-us/library/dd268231(v=vs.110).aspx

[2016-03-17 13:48] PanosSakkos commented on #61
Yes! :+1:

I found it a few moments ago and I was about to close my issue :smile:

[2016-03-17 13:48] #61 closed

[2016-03-18 00:38] anguoyang commented on #60
굿 모닝 @seanshpark , I would like to build and run/debug it within visual studio, the IDE is powerful for debugging, after that, I will copy it into ubuntu to run it. My problem is, I could not run/debug the project in visual studio.

[2016-03-18 01:19] seanshpark commented on #60
@anguoyang , hello. I had the same problem. I'm not sure but please try adding this in `project.json`.
[code]
`start` string will appear in the `debug go` button on the toolbar. You can give anything if you want :)

One more thing. When I open the `project.json` file in the IDE, there appears an URL on top of the window: `http://json.schemastore.org/project` . If you open this link, it shows the s

[2016-03-18 16:50] SMASH1337 commented on #56
Same issue here

[2016-03-18 16:52] SMASH1337 commented on #56
One issue you have is there's errors in your restore.

[2016-03-20 07:29] puryfury opened #62 "Unable to resolve project when path contains non-english character..."
I'm testing my test project on mac(El Capitan).
when my project path contains CJK asian character,
I can't run local web server.

[code]

should I change english character only path for resolve this problem?
I hope to run and test asp.net project in any path may contains asian characters. o_o

[2016-03-21 23:28] AndrewBarfield opened #63 "Ubuntu 15.10 Errors during 'dotnet restore'"
Am I actually asking M$ for Linux help? Dear God help me...

I get a series of "features" when issuing a 'dotnet restore' command on version 15.10:

`drew@drew-ubuntu:~/hwapp$ dotnet restore
log  : Restoring packages for /home/drew/hwapp/project.json...
error: Microsoft.Win32.Primitives 4.0.1-rc2-23811 provides a compile-time reference assembly for Microsoft.Win32.Primitives on DNXCore,Version=v5.

[2016-03-24 01:50] seanshpark commented on #63
Could https://github.com/dotnet/cli/issues/1179 do some help?

[2016-03-24 14:38] AndrewBarfield commented on #63
Thank you! I'll look into it.

[2016-03-30 02:38] tiomke commented on #56
maybe you choose the wrong NuGet Feeds, the default Feed don't have NETStandard.Library yet.

try
[code]
or write a NuGet.Config file adding the `myget` feed into it.
[code]

[2016-04-04 17:42] jrwren commented on #41
Steps to reproduce:

Start a fresh ubuntu 14.04 instance.

    sudo apt-key adv --keyserver apt-mo.trafficmanager.net --recv-keys 417A0893
    echo "deb [arch=amd64] http://apt-mo.trafficmanager.net/repos/dotnet/ trusty main" > sudo tee /etc/apt/sources.list.d/dotnetdev.list
    sudo apt-get update
    sudo apt-get install --no-install-recommends dotnet
    mkdir a
    cd a
    dotnet new
    dotn

[2016-04-09 08:28] Lewiscowles1986 commented on #32
please close the issue if it's done

[2016-04-09 08:29] Lewiscowles1986 commented on #48
any ETA on .NET core stable, and the VS2015 tools for .NET core projects?

[2016-04-09 11:28] #32 closed

[2016-04-11 20:54] sayedihashimi commented on #48
@Lewiscowles1986 we don't have a date, we are still working through it. Not trying to be secretive, just don't have any info to share currently.

[2016-04-14 17:50] nagamanikandank opened #66 "Sample Hello world code not running"
Sample Hello world code not running. The error I get is
error NU1001: The dependency NETStandard.Library >= 1.0.0-rc2-23704 could not be resolved. Any of you have solved this?

[2016-04-17 00:59] zerkms commented on #66
Yep, the same here for ubuntu 14.04:

[code]

[2016-04-19 07:03] czhj opened #67 "dotnet new does not work on Ubuntu"
Failed to load /usr/share/dotnet/bin/libcoreclr.so, error: /usr/share/dotnet/bin/libcoreclr.so: cannot enable executable stack as shared object requires: Invalid argument
Failed to bind to coreclr

[2016-04-19 08:44] tonysneed opened #68 "Remote Debugging with Docker?"
Does .NET Core supports remote debugging? I seem to recall a part of Scott Hanselman's Build demo where he used the VS Tools for Docker to remote debug into a Docker container. But I can't remember if the container was running .NET Core. I'd be grateful for any information on this.

I cross-posted my question [here](https://github.com/OmniSharp/omnisharp-vscode/issues/220) on the omnisharp-vscode

[2016-04-19 08:48] diryboy commented on #68
He demonstrated a time zone issue, it's C# code running on Linux.

[2016-04-19 08:56] tonysneed commented on #68
Yes, I thought it was a nice motivation for developing apps with source code mapped to a Docker container volume.  I'm just trying to piece together the debugging story.

[2016-04-21 09:31] galich commented on #67
same trouble here

[2016-04-22 18:15] fpawel opened #69 ""dotnet restore" error"
Is it expected that Net Core would generate the following error after typing `dotnet restore` on Windows 7?
[code]
[code]
project.json:
[code]
The firewall is disabled

[2016-04-25 03:44] fpawel commented on #69
sorry, it seems the reinstalling of `dotnet` helps

[2016-04-25 03:44] #69 closed

[2016-04-25 15:33] bitbonk commented on #57
@davidfowl once promised a blog post about it. But it seems it never happened. https://twitter.com/davidfowl/status/703475472592572416

[2016-04-26 13:05] TiFix commented on #56
After dotnet restore, i try to run dotnet run and get this error:
Can not find runtime target for framework 'DNXCore,Version=v5.0' and RID's 'win7-x64'. Possible causes:
1. Project is not restored or restore failed - run `dotnet restore`
2. Project is not targeting `runable` framework (`netstandardapp*` or `net*`)

[2016-04-26 13:54] TiFix commented on #56
My problem was solved: problem is when vmware or virtualpc network adapters are activated in system. Disabling helps.

[2016-05-04 10:20] AleksanderGondek opened #70 "VS2015 not compatible with Dotnet CLI"
Hi,
I do apologize in advance, if this is not the place for posting this issue but I am having really hard time dealing with it and understanding why is it happening.

I cannot make VS2015 work with ``dotnet cli`` - I would like to edit and test may dotnet-core project using VS2015 and then have the ability to compile & run it using dotnet cli. However all my attempts to make it so were not succes

[2016-05-05 13:39] joelmartinez commented on #68
@tonysneed I too am trying to piece together a nice dev workflow for working with docker ... would you care to share your _Dockerfile_ that shows how to map the container volume?

Aside from the question, also wanted to comment so that I get notifications for this issue :)

[2016-05-05 13:58] tonysneed commented on #68
Cool, yes happy to share. I have nice demo of using dotnet-watch with Docker: https://github.com/tonysneed/Demo.DotNetWatchDocker

It would be cool to be able to attach a debugger and set breakpoints. :)

[2016-05-07 10:08] palutz opened #71 "dotnet restore for f# missing reference"
#Hi,
I tried to create a F# project on Mac OsX Yosemite with the latest .Net Core.

The creation works fine, but when I tried to run the restore, I'm getting everytime an error:

This is the verbose log of the restore command:og  : Restoring packages for

I don't know if this is the reason why also the compile (run) is not working after.

Regards,
Stefano

[2016-05-10 11:02] dasMulli commented on #71
Your version of the CLI is quite old. It should work with a new one from here: https://github.com/dotnet/cli

[2016-05-10 16:42] DonSchenck commented on #41
I have this same issue; In my case, IPv6 is the preferred address lookup, and it's hanging. I moved IPv4 ahead of IPv6 in the precedence by adding the line

`precedence ::ffff:0:0/96 100`

in the file /etc/gai.conf

[2016-05-11 01:43] TigerLeep commented on #67
I have the same problem.  I'm trying to use dot net core un Windows Subsystem for Linux on the latest Windows Insiders Preview (14332), so I'm not sure if this is a WSL or Ubuntu issue.

[2016-05-11 16:59] Hochman85 opened #73 "UWP app store submission fails due to certification after 3rd party library integration"
Hi,

- I have got an app which is already on the store (for QA) and I am trying to submit an update for after integrating a 3rd party voip library.
- Submission failed due to certification problem caused by the 3rd party library apparently (please see attached screenshot)

![store rejecting voip lib](https://cloud.githubusercontent.com/assets/5698730/15189337/03846a9e-17a2-11e6-80d8-bc38d1c66d4f.J

[2016-05-11 17:39] jkotas commented on #73
cc @MattWhilden

[2016-05-11 18:09] MattWhilden commented on #73
Not all Windows APIs are available for UWP applications. You'll need to get a version of the VOIP library that targets the UWP APIs.

This repo isn't well suited for this issue so I'm going to close out this issue. Please feel free to follow up with me in email at dotnetnative@microsoft.com if you need more information or clarification. Happy to help.

[2016-05-11 18:09] #73 closed

[2016-05-11 18:13] czesiu opened #74 "Is there a way to play audio file using CoreCLR?"
Like in title. How can I play audio file using CoreCLR?
Are there plans for support cross-platform audio playing in the future?

[2016-05-12 04:06] kekyo commented on #67
14342 same problem too.

[2016-05-12 09:06] Hochman85 commented on #73
@MattWhilden
Hi Matt, the VOIP library we have integrated is **definitely** a **UWP** one. Apart from the email address provided, could you please suggest another repo (e.g. MSBuild / store / packaging related) so I can move this issue?
If the reason of closing this issue was the fact that it did not target UWP could you please re-open it? If it was the repo scope then that'd make sense.
Thanks.

[2016-05-12 18:28] MattWhilden commented on #73
Hmmm. GetDefaultAudioCaptureId does appear to be in the Win10 surface area. Perhaps this is a bug in the Cert tools?

Unfortunately, the vast majority of the UWP stack (compiler, cert tools, etc) aren't available on GitHub so there's no good public repo for those issues. I'm happy to get you connected with the right folks if you shoot me a mail at the above address.

[2016-05-12 21:53] palutz commented on #71
This is the version provided with the "official package" got directly from the "Getting started" page on the official site.
https://dotnet.github.io/getting-started/#/macosx
Which one is the latest version and how can I get it, pls?

[2016-05-12 22:18] dasMulli commented on #71
The Readme.md on the cli github repo should be fine. The current os x link is: [https://dotnetcli.blob.core.windows.net/dotnet/beta/Installers/Latest/dotnet-dev-osx-x64.latest.pkg](https://dotnetcli.blob.core.windows.net/dotnet/beta/Installers/Latest/dotnet-dev-osx-x64.latest.pkg)

[2016-05-13 10:26] Hochman85 commented on #73
Thanks Matt - already sent you an email and I think we got our first conversation (just going through the emails now as we speak). I really appreciate!

[2016-05-13 20:12] AlexChesser commented on #74
Hey @czesiu it's an interesting question and I have to admit that I don't know the answer, but I did a bit of hunting to find out, and I suspect that answer is "no for now, probably in future". Though I'd also suspect that even the "no" might be supported by a third party somewhere.

If you look at the stack overflow answers for "how do I play sound with C#" you see people talking about the System

[2016-05-15 22:53] palutz commented on #71
The result is exactly the same. Didn't change anything and didn't update anything, at least with the version number (maybe it wasn't updated).
Which version do you have on your Mac?

[2016-05-16 10:08] dasMulli commented on #71
You'll need to remove the old one before.. it's a known bug with the installer (location of the `dotnet` executable was changed and an entries in `/etc/paths.d/dotnet` are not removed). If you installed globally (default afaik), you can `sudo rm -rf /usr/local/share/dotnet` and run the installer again.

[2016-05-16 16:17] vyurchenko commented on #67
build 14342 same problem

[2016-05-16 17:59] ryanelian opened #77 "How to run published console app?"
Let's say I have a hello world application named helloworld.

I ran `dotnet restore` then `dotnet publish`. This appears:

[code]

In the folder I have:
[code]

Looks compiled to me but doesn't seem to be an `exe` file.

How to run this? Or is there a special compilation flag that outputs executable?

Thanks in advance!

[2016-05-16 21:34] Genbox opened #81 "Clarify platform support"
I've been searching and tried asking around, but no one seem to have the answer as to what versions of Windows is supported. I know the latest versions are supported (8.1, 10), but what about Windows XP and Vista? Some software companies still have to officially support Windows XP/Vista even if they are not officially supported by MS.

If they are not officially supported, would the .NET core fram

[2016-05-16 21:42] Genbox opened #82 "Carify .NET native support"
You could build native applications in RC1, even if only very simple applications worked. Could you please clarify what the status of the native support is, and what the roadmap is? The [High Level Engineering Plan](https://github.com/dotnet/corert/blob/master/Documentation/high-level-engineering-plan.md) over at CoreRT has not changed for 7 months.

Any time estimate on when we can expect .NET Co

[2016-05-16 21:52] aL3891 commented on #81
It's windows 7+ as far as I know. I don't think even self contained will work on lower windows versions because the dependencies to windows 7+ are in the coreclr/jit

[2016-05-17 01:54] mellinoe commented on #74
Right now, there's no "high-level" API for audio playback. If you are adventurous, you can try things like [OpenTK](https://github.com/opentk/opentk), which expose lower-level OpenAL functionality. This will be much more difficult than something ready-to-go like System.Media.SoundPlayer, but will be cross-platform and much more flexible.

Disclaimer: I've never tried to use the OpenAL functionalit

[2016-05-17 05:53] panyanming opened #86 ".NET Core SDK 1.0 Preview 1 安装失败"
我通过[官网](https://www.microsoft.com/net/core#windows)下载了【DotNetCore.1.0.0.RC2-VS2015Tools.Preview1.exe】，一直不能安装成功。错误日志如下：
[1C7C:0734][2016-05-17T13:30:08]i001: Burn v3.10.2.2516, Windows v10.0 (Build 10240: Service Pack 0), path: C:\Users\panya\AppData\Local\Temp\{AB19B4D4-6D3A-4875-A302-9D6BC4E014B1}\.cr\DotNetCore.1.0.0.RC2-VS2015Tools.Preview1.exe
[1C7C:0734][2016-05-17T13:30:08]i000: Initializing

[2016-05-17 08:04] oaiey commented on #77
dotnet run path/to/helloworld.dll

Your published project looks like a portable application which does not have a native bootstrapped like a shell script or a executable.

[2016-05-17 08:41] mikes-gh opened #88 ""Microsoft.NETCore.Platforms": "1.0.1-*" What is it for"
I have been follwowing nightlys  -> RC2 so I have been following all the changes to project json etc.

One thing that still escapes me.

"Microsoft.NETCore.Platforms": "1.0.1-*"  dependency.  What is it for?

[2016-05-17 08:56] ryanelian commented on #77
Heya. Thanks for responding but that doesn't seem to be working.

![dotnet](https://cloud.githubusercontent.com/assets/8892187/15316566/cd4091d8-1c47-11e6-89b6-3a293f0500f4.PNG)

Yeah I'm curious about that too. I wonder if there's a way to generate the console app as executable.

[2016-05-17 09:03] VeselovAndrey opened #89 "Using .NET Core Libary from .NET Framework App"
Is there any way to use .NET Core Library from .NET Console App in same solution.

Example:
1) Create .NET Core Library project, add some class to test. Set frameworks to
`"frameworks": {
  "net45": { },
  "netstandard1.5": {  "imports": "dnxcore50"  }
}`

2) Create .NET45 console app in same project.
3) Try to reference library from console app. It's ok.
4) Try to use class from library in consol

[2016-05-17 09:29] caserzer opened #90 "install .net core preview 1 HDInsight linux cluster"
I trying to install .net core preview 1 on Linux cluster headnode
after running the script, it report install success. but when I run the dotnet --version it says:
WARNING:root:could not open file '/etc/apt/sources.list.d/HDP.list'

[2016-05-17 11:35] Petermarcu commented on #77
You can also run dotnet <path to dll>.  A portable app can run on any os and depends on the shared framework for the target platform being there. Currently, the way to get an executable app is to standalone and specify the target runtime ID in project.json. Remove, type: Platform from the netcore.app package reference and add a runtimes section with the right values such as win7-x64.

[2016-05-17 11:38] Petermarcu commented on #89
Yes, this experience is not rounded out yet in the tooling. As xproj gets aligned with csproj in future previews, this experience will start working.

[2016-05-17 11:42] Petermarcu commented on #90
Do other dotnet commands work? Which script did you run?

[2016-05-17 15:09] caserzer commented on #90
curl -sSL https://raw.githubusercontent.com/dotnet/cli/rel/1.0.0/scripts/obtain/dotnet-install.sh | bash /dev/stdin --version 1.0.0-preview1-002702 --install-dir ~/dotnet
before that I install libunwind8 & gettext

[2016-05-17 16:22] HellBrick commented on #89
The functionality to reference .NET Core projects from the full framework projects was the most important thing I was waiting for in RC2, ever since it was announced at one of asp.net community stand-ups. If you consider a scenario of porting parts of a large solution to .NET Core, this is definitely a blocker: you can't really port ~100 projects simultaneously, and you can't do it gradually if th

[2016-05-17 17:04] AleksanderGondek commented on #70
RC2 and release of .NET Core Tooling Preview 1 for Visual Studio 2015 has fixed everything.

[2016-05-17 17:04] #70 closed

[2016-05-17 18:20] ryanelian commented on #77
Oh wow that worked. Thanks Peter! Managed to spit out the executable by using this `project.json` (for those who are wondering as well):

[code]

Managed to dig out abit about project.json [here](https://docs.nuget.org/consume/projectjson-format).

Any idea how to do that against the previously compiled helloworld.dll using the command line? I'm still curious about this one.

Also, since the .NET

[2016-05-17 19:21] aL3891 commented on #77
You mean convert a previously compiled portable app into a standalone one? I don't think that's possible, at least not with the current version of the tooling

[2016-05-17 19:40] ryanelian commented on #77
Nonono, I meant running the .dll itself. I can't seem to run the compiled binary with `dotnet` (it command line simply says `Object reference not set to an instance of an object`. (See screenshot)

[2016-05-17 19:46] Genbox commented on #81
Spun up a couple of VMs to test the new RC2 release. Windows XP and Vista is not supported it seems. Native builds does not work either.

@aL3891 can't imagine any dependencies for a particular OS version in the JIT, but the CLR could have some hard dependencies. For now, people will have to stick with Mono for full Windows support it seems.

[2016-05-17 20:08] HellBrick opened #91 "Roslyn analyzers + code fixes don't work properly in VS when installed into .NET Core project via a nuget package"
*(I can't seem to find a repo for raising VS .NET Core tooling issues, so if there's a more appropriate place for this, please tell and I'll be glad to repost it there.)*

Here's what happens when a nuget package that contains Roslyn analyzers + code fixes is installed into a .NET Core project via `install-package $(AnalyzerPackage)`:

1. Analyzer package is added to `References > .NETStandard` no

[2016-05-17 20:45] aL3891 commented on #77
I see, that should work.. if the app is compiled as portable it should run anywhere dotnet is installed. (shouldn't net a null reference error anyway) i'd file a bug on the cli repo

Regarding you edit, did you mean to run on the rc3 bits?

[2016-05-17 21:25] ryanelian commented on #77
Regarding the edit, yes I meant to run on RC3 bits. Just purely curiosity. Do you know how to do it?

[2016-05-18 00:18] yyjdelete opened #92 "No RC2 SDK found with VS 15 Preview2?"
No RC2 SDK found with VS 15 Preview2?

[2016-05-18 04:03] ojosdegris opened #93 "Installation with official package fails on OS X 10.11.1"
Installation freezes like that.  Prior to starting install I've run [uninstall script](https://raw.githubusercontent.com/dotnet/cli/rel/1.0.0/scripts/obtain/uninstall/dotnet-uninstall-pkgs.sh) provided

<img width="730" alt="screen shot 2016-05-18 at 12 00 53 am" src="https://cloud.githubusercontent.com/assets/579795/15347051/c989a61c-1c8b-11e6-9ab1-b0fe25db73be.png">

[2016-05-18 04:03] ojosdegris commented on #93
Was this right repo to report it ?

[2016-05-18 06:08] AustinWinstanley opened #94 "RC2 causes unicode issue in Chrome"
It works fine in Edge and Firefox.

Every page in Chrome is messed up with the unicode character `&#65279;` being inserted at the top causing the `<head>` content to be inserted in the body. It happens on all pages. Tested first on an upgraded site and then on a default web project created through Visual Studio.

![untitled](https://cloud.githubusercontent.com/assets/4576933/15349022/00095a44-1c95

[2016-05-18 06:22] davidfowl commented on #94
This looks like it might be a kestrel issue. Please file a bug on https://github.com/aspnet/KestrelHttpServer

[2016-05-18 06:43] AustinWinstanley commented on #94
Even with the other bug filed, I wanted to update this one just in case.

Running through the command line does not have the problem.

`dotnet restore`
`dotnet run`

![untitled](https://cloud.githubusercontent.com/assets/4576933/15349636/d7ddbf92-1c99-11e6-8702-5d720906ed1f.png)

[2016-05-18 09:13] aL3891 commented on #77
ok :)
You need to add the right myget feeds to nuget.config so for example:

    <configuration>
      <packageSources>
        <add key="coreFx" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
        <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
      </packageSources>
    </configuration>

[2016-05-18 12:57] rweads0520 commented on #67
Being promoted as a feature for developers, I was surprised that getting dotnet working wasn't one of the first priorities. Building and testing .NET Core for Ubuntu seemed like one of the best reasons for doing WSL/Ubuntu. Hope this gets addressed soon.

[2016-05-18 12:58] caserzer commented on #90
Sorry , I found I used the wrong script , I should use the ubuntu script

[2016-05-18 12:58] #90 closed

[2016-05-18 15:01] TigerLeep commented on #67
I think that by "being promoted as a feature for developers", Microsoft
meant it was providing access to standard Linux developer tools (like grep,
sed, tail, nano, etc.) for use when doing development under Windows.  That
being said, I would still love it if the Windows Subsystem for Linux could
get the point that it could be used for more than just bringing native
Linux developers tools to Windo

[2016-05-18 16:46] yhhno commented on #86
me，too   helpe

[2016-05-18 22:22] palutz commented on #71
I actually did it.
Anyhow, installing the new (just released) version solved all.
I used the uninstall script provided and the new installer.
Now the F# project is compiling and running.
Nice!

[2016-05-18 22:22] #71 closed

[2016-05-19 03:31] peixushang opened #96 ".NetCore RC2 can not run with portable class library"
I create a portable class library with targeting to .NetStandrad 1.5 profie, then I have a .net core rc2 console application which reference the portable class library, when I run the .net core console application, it throws a FileNotFoundException which saids can not load the portable library. You can reproduce this issue with the attached project. I wonder if it is a bug of .net core rc2? becaus

[2016-05-19 04:45] Eilon commented on #94
Closing this issue, as it was moved to the aspnet org.

[2016-05-19 04:45] #94 closed

[2016-05-19 10:04] sravan1022 opened #97 "error: Project <name> does not have a lock file"
I am new to the .NET core and working on the TodoApi tutorial but in the middle i found the error that "project TodoApi does not have a lock file". Anyone help me to resolve this.

[2016-05-19 16:46] livarcocc commented on #97
run dotnet restore on your project.

[2016-05-19 16:55] BenHall opened #98 "Ubuntu + Dotnet 1.0.0-preview1-002702 = 100% CPU loop"
On a fresh Ubuntu 14.04 installation, running `dotnet` causes 100% CPU load.

It looks like the process becomes zombied and is unstoppable.

Version: `Ubuntu 14.04.2 LTS` running on `4.2.0-23-generic`

[2016-05-19 17:18] Villason opened #99 "error: Error reading 'x\project.json' at line 5 column 26 : Package dependencies must specify a version range."
`"HtmlAgilityPack": "1.4.9"`

Fails on that line. I am just migrating for .net cli.

[2016-05-20 02:51] yhhno commented on #86
我的解决了，  因为是网络原因。。

  是我用了 翻墙工具的原因，，翻墙工具没有正常退出
解决方法： 打开翻墙工具，退出 ，然后再安装就可以了

[2016-05-20 02:51] yhhno commented on #86
@panyanming  给你提供下参考

[2016-05-20 03:07] yizhang82 commented on #86
[1C7C:09B4][2016-05-17T13:30:21]e000: Error 0x80072efd: Failed to send request to URL: https://download.microsoft.com/download/4/6/1/46116DFF-29F9-4FF8-94BF-F9BE05BE263B/packages/aspnetcoremodule_x64_en_rc2_14.msi, trying to process HTTP status code anyway.
@yhhno @panyanming 从日志上看确实是网络问题 ：） 翻墙工具请谨慎使用 :)

[2016-05-20 05:35] vivekmishra-sft opened #100 "Modified Hello world sample shows strange behavior"
I simply followed the steps given at [https://www.microsoft.com/net/core#windows] after installing dotnet core on Windows 7 sp1 system.

Here is the complete modified program:

[code]

It compiled correctly and when I run it with "dotnet run" command, it writes "Hello world!" and waits for the user input without showing the message first which is strange behavior.

The same program when i run on .

[2016-05-20 10:50] SebastianStehle opened #101 "Using DotnetCore Class Libraries in Multi Target Scenario"
I have some problems to understand the portable class libraries and the new .NET Core System (RC2). My goal is to manage my code base in multiple solutions and to target Windows10, ASP.NET Core and .NET 4.6.1. Depending on the project, the targets might be different, e.g. my Utils Library with some methods like Guard.NotNull should target all three platforms. A MongoDB helper library must target A

[2016-05-20 11:34] SebastianLang commented on #89
+1 This is very important. I currently reference the produced .dll file in my add in projects and others which cannot and will not be ported to .NET Core. This is a key scenario for me.

[2016-05-20 22:05] mrts opened #102 ""How to run the samples?" is misleading"
`samples/README.md` contains the following instructions:

----

* *Compile and run using the following commands*
   * *dotnet restore*
   * *dotnet build*
    * *./bin/Debug/[framework]/[binary name]*

---

When I launch the `microsoft/dotnet:latest` Docker container, clone this repository and run `dotnet restore` and `dotnet build` in `samples/helloworld`, then I get the following tree in `bin`:

[2016-05-20 23:00] mrts commented on #102
I figured it out - `dotnet bin/Debug/netcoreapp1.0/hello_world.dll` works well. Will send a patch to update docs.

[2016-05-20 23:12] mrts commented on #102
However, neither `dotnet path/to/netcoreapp1.0/application.dll` nor `cd path/to/netcoreapp1.0; dotnet application.dll` work with console apps that reference other DLLs, resulting in the following coredump:

[code]

[2016-05-20 23:24] mrts commented on #102
The correct way to run the console apps that reference other DLLs seems to be

[code]

Should I update the merge request accordingly?

[2016-05-21 18:38] m-ghaoui opened #104 "Instructions for CentOS should use ~/bin"
The instructions on https://www.microsoft.com/net/core#centos say:

[code]

In My Humble Opinion, I don't think it's wise to link a global `/usr/local/bin` to point to an executable in a user's home directory. This can cause problems on a multi-user system.

I think the instructions should be:

[code]

[2016-05-21 21:18] blackdwarf commented on #59
What @bartonjs  said is true. This is covered in the getting started. Also, that is a very old build and you should use the RC2 bits. The instructions are on: http://go.microsoft.com/fwlink/?LinkID=798306&clcid=0x409

[2016-05-21 21:18] #59 closed

[2016-05-21 21:23] blackdwarf commented on #102
@mrts thanks for catching this and fixing the README.md. I've merged your PR.

For the second thing, the samples in this repo are simple and don't have any P2P references, so the second issue referenced above and the fix is not really needed here. There are other docs on dotnet.github.io/docs/ that cover these.

With this, I will go ahead and close this issue as it was resolved by your PR.

[2016-05-21 21:23] #102 closed

[2016-05-21 21:24] blackdwarf commented on #100
@vivekmishra-sft this is strange? Can you please open an issue for this on the dotnet/cli repo and close this one? Thanks!

[2016-05-22 17:13] xabikos commented on #88
I am also curious about this as it is used in cli samples repository on [project.json](https://github.com/aspnet/cli-samples/blob/master/HelloWebFull/project.json) of the example for the full .net framework

[2016-05-23 05:02] gulshan commented on #77
To run a published dll-
    dotnet app.dll
Don't use "dotnet run".

[2016-05-23 05:39] vivekmishra-sft commented on #100
@blackdwarf I am closing this issue here and opening the new one as told by you. Thanks

[2016-05-23 05:39] #100 closed

[2016-05-23 11:38] nothrow opened #105 "Build time resolution does not work"
On RC2, attached code compiles.

[code]

[code]

But on running:

`Unhandled Exception: System.MissingMethodException: Method not found: 'System.Threading.Tasks.Task"1<System.Net.NetworkInformation.PingReply> System.Net.NetworkInformation.Ping.SendPingAsync(System.Net.IPAddress)'.   at Program.Main(String[] args)`.

I would expect the compilation to fail.

[2016-05-24 02:44] Chrisboh opened #106 "Incorrect documentation for dot.net and Debian"
Today I did the following steps and could not install dotnet cli.

1. Bring up a stock Azure image for Debian 82
2. Tried to do step 1 from this URL https://www.microsoft.com/net/core#debian

It looks like you have to have libunwind and gettext before you can run the curl command.  I was able to get myself unblocked but only after following the developer guide for the corefx repo.

[2016-05-24 02:46] Chrisboh opened #107 "No place on dot.net to provide feedback and issues"
After running into an issue trying to follow the directions setting up Debian I was unsure where I could file an issue.  I had to walk down the hall and find a coworker who told me to file the issues here.  We should have somewhere on the page a link that will allow the user to file issues or provide some form of feedback on how their experience went.

[2016-05-24 05:25] blackdwarf commented on #106
@Chrisboh The script is supposed to tell you what to install. Did the script not print out the lines on the dependencies that were missing?

[2016-05-24 05:35] blackdwarf commented on #107
@Chrisboh there are at least several ways to provide feedback:

1. CLI repo
2. Community channel
3. Gitter CLI channel
4. ASP.NET Core repos
5. This repo

All of these are known to people who are interacting with our product. I'm not sure that providing more info would be super useful, but I will let @shanselman comment, since he owns that page.

[2016-05-24 15:36] styfle commented on #67
@TigerLeep In a [demo video](https://blogs.windows.com/buildingapps/2016/03/30/run-bash-on-ubuntu-on-windows/) by Microsoft, they specifically show a ruby app being developed using the WSL/Ubuntu. It seems like if they support ruby development, they should also support .NET Core development.

[2016-05-24 16:26] AlexChesser commented on #107
@blackdwarf what about two new CLI commands for feedback?

     dotnet :)        -- send positive feedback
     dotnet :(        -- send negative feedback (includes system and diagnostic profile)

The user experience could plug into whatever internal systems you've got set up for feedback around VS Code and the like (that little smiley face button)

![image](https://cloud.githubusercontent.com/ass

[2016-05-24 17:11] Chrisboh commented on #106
It told me it was missing libunwind and gettext.  What it didn't tell me was that I need to specify libunwind8 to apt-get in order for it to work.

On a whole though I think its a bad experience to have someone to hit errors for dependencies that we know about.  We should either install them for them or tell them up front.

[2016-05-24 17:32] blackdwarf commented on #106
@Chrisboh there is a document on the dependencies in the CLI repo. We can't install it because that would make the script have to be run under `sudo` and we don't want it. The number there is maybe problematic, but you can search the apt-get repos for libunwind and see which version is there (which is 8).

Ideally, by RTM time, we would/will have native packages for all of these, so it would insta

[2016-05-24 18:02] Chrisboh commented on #107
When you say they are known are you meaning they can go click on the community tab and maybe find the right place to ask their question?  My first instinct was to click on a support or feedback link.  I don't think it would hurt if we had an extra call out that says something like the following.

Need help?  Click here! <- and have the link take you to the specific place we want the user to go to

[2016-05-24 21:07] Chrisboh commented on #106
@blackdwarf it is a terrible experience that we know the user is very likely to hit an error message out of box.  What I don't understand is I already have to `sudo apt-get curl` as step 1 why can't we add libunwind8 and gettext to the end of that command and make it a better user experience?

[2016-05-25 09:16] #97 closed

[2016-05-25 14:43] dumbledad commented on #99
I've just updated the tools in Visual Studio and am getting the same error on most of my 'dependencies' rows in the project.json file. What's the fix?

[2016-05-25 15:12] daviatorstorm opened #108 "dotnet command build and run."
When i trying to migrate aspnet dnx project to netcoreapp1.0 some packages not supported in dotnet core makes input "Object is not set to an instanse of object". But no "Wrong package in project.json file [blabla.bla:"1.1.0"]" or something like this is not shown so i do not know where exect problem is.

[2016-05-25 20:33] zygimantas opened #109 "DnxInvisibleFolder and DnxInvisibleContent"
I am not sure if this is a tooling or Core issue, but:

DnxInvisibleFolder and DnxInvisibleContent are still valid options in .xproj file.

[code]

hides file.txt from VS2015 Solution Explorer.

Should not these tags be renamed to DotNet* ?

---

.NET Command Line Tools (1.0.0-preview1-002702)

Product Information:
 Version:     1.0.0-preview1-002702
 Commit Sha:  6cde21225e

Runtime Environment:

[2016-05-26 06:00] ststeiger opened #110 "Installer installs x86-64 version on ARMv7 Ubuntu Chromebook"
The install-script is buggy.

If I go to:
https://www.microsoft.com/net/core#debian

It says I should do this:
curl -sSL https://raw.githubusercontent.com/dotnet/cli/rel/1.0.0-preview1/scripts/obtain/dotnet-install.sh | bash /dev/stdin --version 1.0.0-preview1-002702 --install-dir ~/dotnet

However, when I do that, I get:
(trusty)root@localhost:~# dotnet
bash: /usr/local/bin/dotnet: cannot execute

[2016-05-26 11:38] ryanelian commented on #77
Oh wow. That's unexpected. Maybe someone ought to make that clearer in the docs. Thanks!

[2016-05-26 11:38] #77 closed

[2016-05-26 13:10] #36 closed

[2016-05-26 14:42] Villason commented on #99
Replace "Regan.Lib": "" by "Regan.Lib": "1.0.0-*"

On Wed, May 25, 2016 at 4:43 PM, Tim Regan <notifications@github.com> wrote:

[2016-05-26 14:44] Villason commented on #99
I close the issue as the fix is my last comment.

[2016-05-26 14:44] #99 closed

[2016-05-27 16:25] wmccullough opened #111 "TypeBuilder does not contain a definition for 'CreateType'..."
Hello,

I am attempting to port a project to dotnetcore, and I'm running into trouble. I previously relied upon TypeBuilder.CreateType, but I cannot seem to find it anymore. Has it been moved to another library, or is there perhaps another way to accomplish what this method used to do?

[2016-05-27 18:05] wmccullough commented on #111
Found the answer in dotnet/coreclr#22

Use typeBuilder.CreateTypeInfo() instead.

[2016-05-27 18:07] #111 closed

[2016-05-29 18:41] jkristia commented on #77
@ryanelian, agree - it would be good if it was mentioned  right in 'dotnet --help'. I spend a bit of time this morning Bing'ing how to get my console app running on OSX from the publish folder

[2016-05-29 22:29] mairaw commented on #77
@ryanelian and @jkristia, I've created the following issue on the core-docs repo to improve discoverability of this information:
https://github.com/dotnet/core-docs/issues/473

[2016-05-31 15:36] DonSchenck opened #112 "Instructions for CentOS fail when inside Dockerfile"
When running the CentOS instruction inside a Dockerfile, and using docker build, the install script DOES download, but then bombs with

`dotnet_install: Error: curl is required to download dotnet. Install curl to proceed.`

Note that curl IS present. I suspect the issue revolves around the curl command being executed inside the install script is missing backticks.

[2016-06-01 13:00] Ronan-Farrell opened #114 "Broken Link"
On this page:
https://github.com/dotnet/core/blob/master/roadmap.md

Link to: ".NET Core Tools/CLI" under technology roadmaps brings me to a 404 page.

[2016-06-01 19:32] gulbanana commented on #101
UAP implements a subset of netstandard, not the whole thing. there must be some code in ClassLibrary1 or CodicePlastico which uses apis unavailable in uwp

[2016-06-03 18:59] CodeObsess opened #117 "dotnet build hangs in docker container"
I am using docker version 1.11.1  UBUNTU 14.04. VM=VMWareplayer
dotnet restores starts for my aspnet core rc2 application but it hangs after restoring packages.

[2016-06-04 17:25] zorbasolutions opened #118 ".NET Core SDK for Windows installer doesn't honor custom location"
1. Download and run DotNetCore.1.0.0.RC2-SDK.Preview1-x64.exe
2. Click options and enter the path for e.g. c:\.NetCoreSDK-1.0.0-RC2
3. Click Install and installer will put files under c:\program files\dotnet and NOT in c:\.NetCoreSDK-1.0.0-RC2

[2016-06-04 17:41] wmsmitty commented on #89
BTW, you will get the same behavior by creating a Net Core Console application.

1) Create a net core console application project.
2) Create a net core library project.
3) Reference the core library project in your project.json file at the root of the net core console app.
4) Now try referencing the library project with a simple using statement.  Not happening; can't reference it and the intellise

[2016-06-04 19:22] swaletzko commented on #89
This is also important for those who want to write components like Powershell commands that can't be compiled as Net Core assemblies but need to reference Net Core assemblies to re-use business logic.

[2016-06-07 14:22] MikeJoyce19 commented on #92
Are you getting a message upon opening that solution that you have an incompatible dotnet sdk version?

If so, I had to uninstall the existing dotnet.exe after installing the new sdk version.  Both versions were on PATH and I believe the earlier version was taking precedence

[2016-06-08 19:45] DonSchenck commented on #117
What does your Dockerfile look like?

[2016-06-11 00:22] NVentimiglia opened #119 "Websockets"
Are websockets supported ? I tried to utilize this feature and I failed with a not supported error.

[code]

- Note the IsWebSocketRequest is always false, even when using the ws proticol.
- Is this feature even implemented ?

[2016-06-11 01:00] NVentimiglia commented on #119
Solved, I needed to import

[2016-06-11 01:00] #119 closed

[2016-06-11 09:35] jchannon commented on #63
I also see this behaviour

[2016-06-11 17:24] erikzhang commented on #89
Agree with @HellBrick , I'm waiting for this functionality every day.

[2016-06-12 12:39] reddobowen opened #120 "The £ symbol doesn't render correctly when passed in from configuration"
I am currently making a Web API via ASP.Net Core. I tried passing in a connection string from a ConfigurationFile using the Configuration["Data:ConnectionString"]) approach, as part of the DBConext.

I struggled to understand why the user could not be authenticated against the SQL Database. Upon closer inspection, it appears as though the £ symbol is not rendered correctly from the configuration f

[2016-06-12 12:49] #120 closed

[2016-06-12 12:50] reddobowen commented on #120
Submitted this in the wrong repository, now opened in ASP.NET core at https://github.com/aspnet/Home/issues/1567

[2016-06-12 18:46] svick opened #121 "Just-In-Time debugger does not work for .Net Core"
When I create a .Net Core RC2 application that crashes and run it on Windows 10 with .NET Core Tooling Preview 1 for VS2015 installed, the Just-In-Time debugger window is shown, but trying to use it does not let me debug the .Net Core application.

This might be related to the fact that debugging in VS without project with Debugger Type set to Auto does not work either.

1. `dotnet new`

2. Change

[2016-06-13 12:44] Zerq opened #122 "Visual studio 2015 .netcore rc2 auto generation error (minor issue)"
If i create a MVC project and i try generating a missing class based on an existing class in say the models folder then it does get the right name space but end up in the application root folder instead of the espected subfolder where the file i generated it with is  located..

[2016-06-13 17:23] jonfasking opened #123 "Major Performance Difference"
I'm seeing a significant performance difference across OS's on one of my core projects. It consists of socket connections with Kafka, and databases that talk with Orient. When running on Windows, I'm able to process ~15K msgs/minute between Kafka and Orient. The exact same code (literally x copied) over to OSX is only able to run ~1K msgs/minute between the two.

Details:
Both boxes are on the sam

[2016-06-13 17:54] stephentoub commented on #123
cc: @ericeil

[2016-06-13 18:25] jonfasking commented on #123
Just to confirm, I deployed the code to a linux box, and I saw the same results. Back to back tests consistently reveal drastically different numbers between windows OS and linux OS.

[2016-06-13 18:49] ericeil commented on #123
@jonfasking, can you collect a perf trace on Linux?  Instructions are here: https://github.com/dotnet/coreclr/blob/master/Documentation/project-docs/linux-performance-tracing.md

[2016-06-13 19:09] gitmaheshk opened #125 "Can a .net core rc2 class library project access app.config settings?"
Is it possible to read app settings defined in the app.config in a .net core 1.0 class library project? In the asp.net core web project the settings/custom sections are read correctly from the config however they are not accessible when referred from a test class library project.

Prior to the upgrade and in a rc1 class library proj the app.config sections were being read however that is not the c

[2016-06-13 20:30] jonfasking commented on #123
[sampletrace2.trace.zip](https://github.com/dotnet/core/files/312666/sampletrace2.trace.zip)

I'm trying to make heads or tails of this but I'm not getting anywhere, haha.

[2016-06-14 14:34] emailtowalter opened #126 "logger. logInformation() parameter index issue"
Hi... logger.log...() fundtion behaves strangely.

logger.loginformation("{1} test {0}", "a", "b");

I would expect the result to be "b test a", but the result is "a test b". It happens to all log functions.

Is it right?

[2016-06-14 19:09] CodeObsess commented on #117
I run the dotnet build and restore and then copy the directory by using the copy command in Dockerfile. The technique works flawlessly.

[2016-06-14 20:27] ericeil commented on #123
I'm having trouble finding much specific information about the actual dotNET process in that trace.  However, it does look like, at least in terms of CPU usage, the "bro" process is using much more CPU than the dotNET process.  There is also a Java process using a little more CPU.  Perhaps those are useful clues.

[2016-06-14 20:35] ericeil commented on #123
@vancem, @brianrob, any chance one of you could help us make more sense of this trace?

[2016-06-14 23:04] svick commented on #126
I'm assuming you're talking about ASP.NET Core Logging.

In that case, I believe this behavior is correct. The format string is not standard .Net format string (which is used e.g. in `string.Format` or `Console.WriteLine`). It's a custom string format, where you're supposed to name the values you're logging. For example:

[code]

So, what your code does is to confusingly name the first logged valu

[2016-06-15 14:16] emailtowalter commented on #126
thanks. Just tested, and it still does not work

    string a = "a";
    string b = "b";
    logger.LogCritical("{b} like {a}", a, b);

result: a like b

thought?

[2016-06-15 14:57] svick commented on #126
Naming the values is not for reordering, it's for recording the names in advanced loggers.

[2016-06-15 15:26] mairaw commented on #126
Maybe this could explained here: https://docs.asp.net/en/latest/fundamentals/logging.html
@danroth27?

[2016-06-15 16:34] danroth27 commented on #126
I believe it already is explained:

[2016-06-15 17:29] mairaw commented on #126
Thanks @danroth27. Had trouble reading on my phone this morning. So, the function is behaving as expected and the behavior is documented. I think this issue can be closed then, @emailtowalter.

[2016-06-15 18:11] vancem commented on #123
First if you look at the CPU STacks you see that all the activity is in the first 6 seconds.    I am assuming that is expected.   It also looks like you are not CPU bound (most CPU time is spend in the idle process, you have an 8 proc system and are only using at most half of your available CPU).   The 'bro' and 'java' processes are fairly active, but the dotnet process consumes CPU in the start (

[2016-06-15 19:12] jtsoftware opened #127 "Missing creation of StringComparer for other languages"
I'm trying to retarget a portable C# library for .Net core 1.0.

I used to do something like this to get a string comparer for a different language, once I obtained a CultureInfo object for the language (via a delegate set by the caller):
IComparer<T> comparer = (IComparer<T>)StringComparer.Create(cultureInfo, caseInsensitive);

.Net Core currently seems to only support it for the current culture

[2016-06-15 20:34] svick commented on #127
If you want to propose adding new API to .Net Core, I believe you should follow [the API Review Process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) by posting this to [the corefx repo](https://github.com/dotnet/corefx).

[2016-06-15 21:18] emailtowalter commented on #126
Thanks for the help. I will close this one.

[2016-06-15 21:18] #126 closed

[2016-06-16 21:14] jabolx opened #128 "Visual Studio 2015 Professional - missing class icon on WinForms project"
Hello,

I have a very strange issue with .NET Core 1.0.0 RC2-VS2015Tools.Preview version. Every time I install it in Visual Studio 2015 Professional and I want to do something inside a WinForms project all the partial classes icons in Solution Explorer are gone (the ones you see after expanding a Form in Solution Explorer). This way I can't anymore access the code under the form - the only way is

[2016-06-20 06:02] vincentshow opened #130 "does dotnet core support server-side wcf?"
i want to build a cross-platfom app that contains wcf services which can be found and referenced by others using dotnet core, but i just found there was only a client-oriented wcf repo https://github.com/dotnet/wcf. can i add server-side wcf in dotnet core? and is there any example or tutorial show how to do this?  any suggection will be appreciate

[2016-06-20 06:11] vincentshow commented on #130
i dont know which repo is suitable for getting help between dotnet/wcf and dotnet/core, so i create this issue both here and wcf #https://github.com/dotnet/wcf/issues/1310

[2016-06-20 08:08] zhenlan commented on #130
Hi @vincentshow, [dotnet/wcf](https://github.com/dotnet/wcf) is the right repo for any questions regarding WCF. As you have been aware of, WCF is only supported for the client side currently on .NET Core. The only way to build a WCF service is by using WCF in full .NET Framework at this point.

However, we are very interested to understand your scenarios where WCF server side is required on .NET C

[2016-06-21 00:55] vincentshow commented on #130
thanks a lot, i've put my story in #https://github.com/dotnet/wcf/issues/1200

[2016-06-21 01:17] zhenlan commented on #130
Thanks for the feedback @vincentshow. I am closing this issue now.

[2016-06-21 01:17] #130 closed

[2016-06-21 19:47] MarkPieszak opened #133 "VS 2015 not installing dependencies - rc2 - Windows 7"
Running a project the node_modules folder is showing things are installed (I even did an `npm i` as well), but VS thinks they aren't installed.

![image](https://cloud.githubusercontent.com/assets/2574412/16243885/5d4d889a-37c7-11e6-96c2-34de53b04bb8.png)

Also when running the project, it throws internal server errors for the same reason (saying things aren't installed)

![image](https://cloud.gi

[2016-06-21 22:37] TheBeardedLlama opened #134 "Tests are grouped under the "No Traits" section in the Test Explorer even though the class has a [Trait] attribute"
Cross posting from xunit/xunit#889

I have set up my controller tests for a .net core web api xproj.

I have a `TraitAttribute` on the class, but it's not showing up in the *Test Explorer* in VS.

My `dependencies` have `"dotnet-test-xunit": "1.0.0-*"` and `"xunit": "2.2.0-*"` and the test runner is set up as `"testRunner": "xunit"`.

Have I hit a bug or am I doing something wrong? I'm hoping I'm

[2016-06-22 07:03] neyromant commented on #133
I have the same problem on Win7 x64, VS 2015. There was after an upgrade to RC2

[2016-06-22 08:18] MarkPieszak commented on #133
Oh really, yeah strangely it's actually making the whole project not able to run (throws that error that the package isn't installed). Very bizarre, doesn't happen on MAC of course.

[2016-06-22 14:49] khionu opened #136 "Compilation Symbols ignored?"
[You can see here](https://i.lithi.io/KUdQ.jpg) that the Compilation Symbols seem to be ignored. Furthermore, I can't locate the Build Configurations for this project in the actual project directory.

[2016-06-23 03:51] hismichael opened #139 "Missing Classes in System.Reflection.Emit"
I've found the following classes are missing in package System.Reflection.Emit:

System.Reflection.Emit:

- DynamicMethod

- ILGenerator

System

- Delegate.CreateDelegate method also no longer exists

[2016-06-23 06:44] neyromant commented on #139
DynamicMethod located in "System.Reflection.Emit.Lightweight" package.
ILGenerator located in "System.Reflection.Emit.ILGeneration" package

[2016-06-24 02:40] hismichael commented on #139
Okay. Yes I see they are there now. Thanks!

[2016-06-24 02:41] #139 closed

[2016-06-24 10:13] #127 closed

[2016-06-24 17:20] neyromant opened #140 "Problem install .Net Core on Raspberry Pi Model B"
I tried to install .Net Core on my Raspberry Pi Model B device with OS "Raspbian Jessie Lite".
I used the installation instructions here: https://www.microsoft.com/net/core#debian
I had a problem with a missing library libunwind:

[code]

I tried to find it alone, but I could not.

[code]

This device model (Raspberry Pi Model B) is not supported?

[2016-06-24 17:28] svick commented on #140
I believe the package name for libunwind is [libunwind8](https://packages.debian.org/jessie/libunwind8).

[2016-06-24 17:50] atuzovic opened #141 "Showing classes from indirectly referenced packages in .NET Core - broken "facade""
This question has spurred decent amount of interest on StackOverflow, but I didn't get any answer to it, so I will submit it as an issue here. I am not sure if this is related to .NET Core or to Visual Studio itself, but nevertheless I would appreciate help on this.

[Link to original SO post](http://stackoverflow.com/questions/37963523/showing-classes-from-indirectly-referenced-packages-in-net-co

[2016-06-24 18:04] neyromant commented on #140
@svick Thank you!

But I have another problem:

[code]

What is the problem ?

[2016-06-24 18:12] svick commented on #140
That's the same error as https://github.com/dotnet/cli/issues/3197: it fails, because there are no binaries for ARM.

I think if you want to use .Net Core on that machine, you will need to build and publish your code on another machine and then copy it to the Pi.

[2016-06-25 15:30] axtens commented on #97
In my case that makes no difference whatsoever

[code]
And the project.json says

[code]

Not happy

[2016-06-25 16:46] svick commented on #97
@axtens I think that means you have the directory `C:\Users\Bruce\Documents\Projects\Work\Resources\packages` configured as package source in your `C:\Users\Bruce\AppData\Roaming\NuGet\NuGet.Config`, but that directory does not exist.

Either remove or disable that source (by manually editing `NuGet.Config` or from VS) or create that directory.

[2016-06-25 22:42] #114 closed

[2016-06-27 09:36] WG-Com opened #153 "how to build a osx/linux bin file , not .dll ?"
close it

[2016-06-27 10:26] #153 closed

[2016-06-27 15:15] saf-itpro opened #154 "ASP.NET Core App project missing Models folder when selecting Windows Authentication mode"
When we create ASP.NET Core RC2 project using either `ASP.NET Core Web Application (.NET Core)` or `ASP.NET Core Web Application (.NET Framework)` template and select Windows Authentication mode the project does not create `Models folder` as shown [here](http://i.stack.imgur.com/TWS6Q.png). Why is that? If we select other authentication modes it does create the Models folder. We checked even in pr

[2016-06-27 16:08] WG-Com opened #156 "OSX NamedPipeClientStream.get_NumberOfServerInstances() PlatformNotSupportedException"
error:
[code]

document :
https://docs.microsoft.com/en-us/dotnet/core/api/system.io.pipes.namedpipeclientstream#System_IO_Pipes_NamedPipeClientStream_NumberOfServerInstances

[code]

[code]

[2016-06-27 16:58] stephentoub commented on #156
Yes, it isn't supported on Unix.

[2016-06-27 18:27] aochagavia opened #158 "Links broken on readme.md"
Two links in the readme no longer point to a valid address (see below). I assume that the website of .NET Core has been redesigned because of the 1.0 release.

[2016-06-28 00:09] #156 closed

[2016-06-28 03:11] lukywong opened #169 "com.apple.installer.pagecontroller error -1."
I have installed rc2, when i get latest package `.NET Core SDK Installer
(Preview 2)` to install, but gets the error
[code]
my system is OSX EI Captain 10.11.5

[2016-06-28 04:33] sivabudh opened #170 "Cannot `dotnet run` F# project on Mac OS X (macOS)"
I installed DotNet 1.0 released yesterday using this dmg.

`dotnet-dev-osx-x64.1.0.0-preview2-003121.dmg`

I then created an F# project:

[code]
Then, when it came time to run it, I got this error:
[code]

Sadly, I didn't get the "Hello World!" =(

[2016-06-28 04:57] dvogel opened #171 "Segfault on debian stretch"
On debian stretch, I get a segfault when I try to run `dotnet restore`:

[code]

I get the same result when I put the project directory in my home directory.

[2016-06-28 05:43] jolson88 commented on #170
This is the case for me on Ubuntu as well :(.

[2016-06-28 07:39] alberts opened #172 "Segfault on Fedora 23"
Followed instructions at https://www.microsoft.com/net/core#fedora

[code]

[2016-06-28 08:06] onecentlin opened #173 "Mac OS: Unhandled Exception: System.TypeInitializationException"
I installed .NET Core 1.0  official installer released yesterday using this pkg (https://go.microsoft.com/fwlink/?LinkID=809124).
dotnet-dev-osx-x64.1.0.0-preview2-003121.pkg

Version: 1.0.0-preview2-003121

<img width="764" alt="screenshot 2016-06-28 10 19 55" src="https://cloud.githubusercontent.com/assets/7122270/16408124/c230d2da-3d49-11e6-80c8-d4ba9260a507.png">

[2016-06-28 10:11] WG-Com opened #174 "System.Diagnostics.Process() no result"
CentOS 7:
[code]

[code]

[2016-06-28 10:17] erikzhang commented on #89
it still doesn't work in RTM, and really disappoint me.

[2016-06-28 11:00] lw-schick commented on #174
you miss Console.WriteLine(output) - or?

[2016-06-28 12:22] svick commented on #173
According to https://github.com/dotnet/cli/issues/1161, this happens when you don't have openssl installed. Did you follow [the guide](https://www.microsoft.com/net/core#macos), especially the "Install pre-requisites" step?

[2016-06-28 13:07] jrwren commented on #174
`/usr/bin` is a directory, not an executable. `whoami` is an executable which might be in that directory (I don't know centos well enough to say).

    $ /usr/bin/whoami

Is a command run without arguments.

Change `proc.StartInfo.FileName = "/usr/bin";` to `proc.StartInfo.FileName = "/usr/bin/whoami";` and delete the line with `proc.StartInfo.Arguments` assignment.

[2016-06-28 13:11] mattcdavis1 commented on #77
can someone point me to where i can get a list of all the options for runtimes?  I'm trying to publish an executable for mac os but i'm not sure what i should be putting as a value in the `runtimes` json field.  Right now when i run publish i'm just getting a folder with the same files listed in the first comment.

[2016-06-28 13:11] onecentlin commented on #173
Yes, I did have openssl installed.

It was working in 1.0.0.preview1-002702.

[code]

[2016-06-28 13:26] svick commented on #77
@mattcdavis1 See [Runtime Identifier catalog in the documentation](https://docs.microsoft.com/en-us/dotnet/articles/core/rid-catalog#using-rids).

[2016-06-28 14:01] mattcdavis1 commented on #77
@svick - thanks!  based on that article - i've created a json file that [looks like this](https://gist.github.com/mattcdavis1/d9270f90c9fc21be42a7234c3539973c).  However when i run `dotnet publish` i'm still not seeing a mac executable file.  Am i missing something (right now the app is just a "Hello World" single line app)?

[2016-06-28 14:07] gguimaraesbr commented on #173
+1
![screen shot 2016-06-28 at 10 47 49 am](https://cloud.githubusercontent.com/assets/66819/16418497/77177264-3d20-11e6-9fe7-315e835aa4f0.png)

[2016-06-28 14:11] svick commented on #77
@mattcdavis1 Based on [this article](https://docs.microsoft.com/en-us/dotnet/articles/core/app-types#self-contained-application), you also need to remove the `"type": "platform"` line from your project.json.

[2016-06-28 14:24] mattcdavis1 commented on #77
yep - that worked.  thanks!

[2016-06-28 15:01] hickford opened #176 "List of .NET Core compatible NuGet packages"
Most the packages on https://www.nuget.org/packages appear to be incompatible with .NET Core:

    Package Microsoft.Net.Http 2.2.29 is not compatible with netcoreapp1.0 (.NETCoreApp,Version=v1.0).
    One or more packages are incompatible with .NETCoreApp,Version=v1.0.

Is there a list anywhere of which NuGet packages *are* compatible with .NET Core? I'd like to think about what I could build.

[2016-06-28 15:02] hickford commented on #176
See also https://github.com/NuGet/NuGetGallery/issues/3098

[2016-06-28 15:23] bartonjs commented on #173
@onecentlin @gguimaraesbr assuming you used Homebrew to install OpenSSL, it seems like you have only run one of the two commands.

If you run `brew link --force openssl` that should fix your problem.

The preview1 build could accidentally function without the link step, but we changed the library linking method for RTM (which is in the preview2 build of the sdk tools) to support loading copies fro

[2016-06-28 15:54] onecentlin commented on #173
@bartonjs  Thank you. This works!!
I did link openssl before while developing with RC2.

After executing the command, now it works perfectly.
[code]

[2016-06-28 15:57] ascarter commented on #173
@onecentlin can you run `which openssl`? I followed the instructions for `brew link` but it still is using 0.9.8 (system openssl) for me. Curious to see what path yours has since it works.

[2016-06-28 16:03] onecentlin commented on #173
@ascarter This is my openssl version and path.

[code]

[2016-06-28 16:50] bartonjs commented on #173
@ascarter It's possible to have the `/usr/bin/openssl` version as a higher precedent in your path. The important part is whether `libcrypto.1.0.0.dylib` is on the library loader path.  If you use Homebrew and `brew link`, then it'll be in `/usr/local/lib/`.  `$HOME/lib/` and `/usr/lib/` are also acceptable locations (by default),   (https://developer.apple.com/library/mac/documentation/DeveloperTo

[2016-06-28 16:52] gguimaraesbr opened #177 ".NET Core tools telemetry must be opt in"
We must avoid unwanted data sharing giving users the ability to consciously agree to collect and share usage data.

[2016-06-28 16:53] mikeho commented on #173
Is there a particular reason why brew's version of OpenSSL is recommended (or required)?

I  am using MacPorts for all of my package management, and I can confirm that I am using the latest version of OpenSSL:

`$ which openssl
/opt/local/bin/openssl
$ openssl version
OpenSSL 1.0.2h  3 May 2016`

The opt-releated paths are set up correctly in my PATH settings and show up first (which is the defaul

[2016-06-28 16:54] gguimaraesbr commented on #173
Thanks @bartonjs Symlinking the library did the trick.

[2016-06-28 16:59] bartonjs commented on #173
@mikeho $PATH is only for execution, and the openssl utility isn't actually used.  What we need is libcrypto.1.0.0.dylib and libssl.1.0.0.dylib; and they need to be in a standard rpath probing location, which is any of `$HOME/lib`, `/usr/local/lib/`, `/usr/lib/`, or the current directory.

Or you can try altering the DYLD_LIBRARY_PATH environment variable to include /opt/local/lib (which is where

[2016-06-28 17:01] ascarter commented on #173
@bartonjs Thanks - I think you are exactly right. I install homebrew in `/opt/homebrew` to keep it isolated and I think that's precisely why I don't see the paths the same. I can make it work out.

[2016-06-28 17:02] mikeho commented on #173
@bartonjs looks like our messages got crossed over the wire.

I actually did go ahead and symlink the macports version of `libcrypto.1.0.0.dylib` and `libssl.1.0.0.dylib` into `/usr/local/lib`, but I'm still getting the same error/issue.

[2016-06-28 17:06] bartonjs commented on #173
@mikeho Intriguing. I don't suppose you can give me a primer on making my machine look like yours?  (Like, how to get/use MacPorts, what options you've used (if applicable) and manual symlink commands you've done to try to remediate).

[2016-06-28 17:07] mikeho commented on #173
@bartonjs never mind.  I had actually used a non-version named file (`libssl.dylib` and `libcrypto.dylib` instead of `libssl.1.0.0.dylib` and `libcrypto.1.0.0.dylib`).

Adding the version numbers in the names fixed it.

Thanks for your help!

[2016-06-28 17:11] bartonjs commented on #173
@mikeho Oh, good, I was concerned that the rules had somehow changed out from under me :smile:.

Glad it's working for you now!

[2016-06-28 17:59] bartonjs commented on #173
Okay, by my re-scan everyone who has chimed in has attained success; so I'm going to give a quick closing summary and close the issue:

# Resolution Summary

The `dotnet` utility (or, rather, the cryptographic subsystems within the framework libraries) requires libcrypto.1.0.0.dylib (and libssl.1.0.0.dylib) to be present in a standard rpath location, e.g. `/usr/local/lib/`.

### Homebrew users usi

[2016-06-28 17:59] #173 closed

[2016-06-28 18:32] rogersachan opened #178 ".NET Core is now available in Nitrous quickstarts! This allows more users to try out C# on Linux, albeit without highlighting."
https://github.com/rogersachan/DotNet-Core

[![Nitrous Quickstart](https://nitrous-image-icons.s3.amazonaws.com/quickstart.svg)](https://www.nitrous.io/quickstart?repo=https://github.com/rogersachan/dotnetquickstart)

Linux users on .NET Core can now demo and use console applications and websites via Nitrous.io . This allows direct demos of .NET Core all set up and gives them dozens of hours of us

[2016-06-28 23:46] #174 closed

[2016-06-29 05:50] liushuping opened #179 "links in core/cli/README.md are broken"
links in core/cli/README.md are broken.

[2016-06-29 09:27] Thorium opened #180 "Visual Studio 2015 on .NET Core: F# needs to be able to change the file order"
File order is significant in the F# language project.
The Visual Studio .NET can do it for normal .NET projects.
But on .NET Core, project.json, the Visual Studio is not able to change the file order.

[2016-06-29 09:29] jonstoneman opened #181 ".net standard library with dylib - DllNotFoundException"
I previously posted this [on Stack Overflow](http://stackoverflow.com/questions/38013434/net-standard-library-with-dylib-dllnotfoundexception) but that's had no responses and I think there is a fair chance it's a problem with .Net Core or the .Net Core documentation.

I'm using .Net Core 1.0.

I have a dylib (`libextern.dylib`) that I've created which contains the following:

    int extern_test()

[2016-06-29 09:31] Thorium opened #182 "Visual Studio 2015 on .NET Core: Find the references?"
When I do a project on .NET Core, I should be able to find the references as it seems all the .NET Core libraries are not in by default (like reflection libraries). So how can I find all the needed NuGet references to be able to compile my code?

I'm using an F# source code.

[2016-06-29 09:41] Thorium opened #183 "project.json has C# in the icon file even on F# projects"
project.json has C# in the icon (also in Visual Studio) file even on F# projects.

icons should be language-agnostic.

[2016-06-29 12:54] plioi opened #184 "Referencing a DLL"
I'm currently blocked from migrating a project to .NET Core due to my need to have an xproj/project.json project reference a DLL directly. The DLL is made by a third party and is not available as a NuGet package. In the past, we could reference another project in the same solution, a NuGet package, or a DLL. The third option seems to have been removed.

Other traffic from before the .NET Core RTM

[2016-06-29 13:00] svick commented on #182
VS includes the "Add Package" code fix. So, if you have some code that uses a type from a package that's not referenced, activate the code fix (start using <kbd>Ctrl</kbd>+<kbd>.</kbd> or clicking the light bulb), restore packages and your code should work.

As an alternative, you could also use https://packagesearch.azurewebsites.net/.

[2016-06-29 13:33] Thorium commented on #182
Thanks for the link, however Visual studio help works only on C# project, not helping me with the existing F# code.

[2016-06-29 13:38] akoeplinger commented on #184
".NET framework assemblies" in this case means the BCL, like System.dll etc.

The NuGet docs show how to create a package from a dll: https://docs.nuget.org/create/creating-and-publishing-a-package. You can put that nuget package in a local folder and use that as a feed: https://docs.nuget.org/create/hosting-your-own-nuget-feeds

[2016-06-29 14:07] svick commented on #182
Sorry, somehow I missed that part.

[2016-06-29 15:22] plioi commented on #184
Thanks, @akoeplinger. This approach worked. To ensure the project works well for people who clone from scratch, I also included a nuget.config in the root of the project which defines the relative path to the local package source:

[code]

I believe this issue can be closed now.

[2016-06-29 15:28] CoreyKaylor commented on #184
In this scenario would dotnet pack create a nuget dependency for something only available on your local filesystem feed?

[2016-06-29 15:53] cartermp commented on #182
Hey @Thorium, the link to https://packagesearch.azurewebsites.net from @svick is currently the best way to find which .NET package contains a given API when writing F# code.

Reflection was initially changed significantly in .NET Core.  The APIs are changing back to their original surface, but for the time being you can use the [ApiPort tool](https://github.com/Microsoft/dotnet-apiport/blob/master

[2016-06-29 18:19] yizhang82 commented on #181
@schellap Could this be a problem with the host?

[2016-06-29 18:40] schellap commented on #181
@jonstoneman, would you be able to share the entry for this "MyLibrary" in your deps.json file in your app base?

I'm suspecting an instance of https://github.com/dotnet/core-setup/issues/194

[2016-06-29 18:41] schellap commented on #181
Sorry, I would need the "type" in the "libraries" section for this library.

[2016-06-29 20:07] brthor commented on #181
@jonstoneman try changing `packOptions` to `publishOptions`

Like this:
[code]

Not entirely sure this will work but packOptions seems wrong.
After doing this do a `dotnet publish` and take a look at the output directory to see if the `.dylib` file was binplaced correctly.

@cartermp The documentation @jonstoneman is referencing appears incorrect for project.jsons attempting to reference a native

[2016-06-29 20:09] brthor commented on #181
@cartermp Specifically
[code]

Should packOptions here be perhaps `buildOptions` or `publishOptions`

@jonstoneman There is some additional info for these option types in the original announcement here:
https://github.com/aspnet/Announcements/issues/175

[2016-06-29 23:42] cartermp commented on #181
@ajaybhargavb Which would be the correct place to list a native dependency?  What I had documented is now broken with the project.json changes.

[2016-06-29 23:47] ajaybhargavb commented on #181
If the `dll` need to be copied to the output directory so that it is used when building, then it needs to be included in `copyToOutput` in `buildOptions`.
[code]

[2016-06-30 00:47] cartermp commented on #181
@ajaybhargavb I see.  Looking at the [Libuv](https://github.com/aspnet/libuv-package/blob/dev/src/Libuv/project.json) `packOptions` is being used, but this is specifically for packaging it as a NuGet package.  Is that still valid?

Is there a doc or matrix of valid configurations for placing files under sections?  Specifically:

* Put your native `.dll` dependency under `buildOptions` in these way

[2016-06-30 01:08] svick commented on #177
There's already a discussion about this here: https://github.com/dotnet/cli/issues/3093.

[2016-06-30 02:53] JoshClose opened #185 "PDB files not matching DLLs"
If this is the wrong repository to put this in, please let me know which I should use instead.

The pdb files that are being generated seem to not match the dlls they were built for.

I'm using this command to build.

`dotnet pack src\CsvHelper --configuration release --output NuGet`

Users are reporting this

SYMCHK: CsvHelper.dll FAILED - CsvHelper.pdb mismatched or not found

They are having is

[2016-06-30 04:16] gabrielcs opened #186 "Generating DLLs in different folders breaks VS Enterprise Architecture"
It appears the layer diagram feature under the Architecture menu on Visual Studio Enterprise expects all DLLs to be available under the `bin/` folder of each project after compilation. However, with .NET Core they seem to be generated under other folders, for example `bin/Debug/netcoreapp1.0/` or `bin/Debug/netstandard1.6/`. See [screenshot]
(https://www.dropbox.com/s/f14kcz8ty3nax3m/dll-error.png

[2016-06-30 09:20] gregkalapos commented on #170
This is already addressed in:
https://github.com/dotnet/cli/issues/3705
and something was even merged from here:
https://github.com/Microsoft/visualfsharp/pull/1290

I guess the platform is not relevant, since the dependencies are wrong.

This bug also prevents me to work with F# on RTM...

[2016-06-30 11:24] akoeplinger commented on #185
Your problem is likely this: https://github.com/JoshClose/CsvHelper/blob/316f62dce451dd428eb95d4997a8f29245920d5e/src/CsvHelper/project.json#L17

This means that the PDBs will be created in the new Portable PDB format which works cross platform. It seems TFS doesn't understand this format yet.

You could try switching to `"debugType": "full"` but this only works on Windows.

[2016-06-30 11:48] Applebit opened #187 "Can't able to use frameworklibrary of .NET 4.5.2."
![screenshot from 2016-06-30 17-19-35](https://cloud.githubusercontent.com/assets/11220070/16487211/f1a258e2-3ee6-11e6-8313-5e561a573d01.png)
Here is my project.json file

{
  "version": "1.0.0-*",
  "buildOptions": {
    "debugType": "portable",
    "emitEntryPoint": true
  },
  "dependencies": {},
  "frameworks": {
    "netcoreapp1.0": {
      "dependencies": {
        "Microsoft.NETCore.App": {

[2016-06-30 12:52] gguimaraesbr commented on #177
@svick Should I close this one?

[2016-06-30 14:38] svick commented on #187
I can't reproduce this. When I try to run your code, the only errors I get are:

Program.cs(48,2): error CS0246: The type or namespace name 'HandleProcessCorruptedStateExceptions' could not be found (are you missing a using directive or an assembly reference?)

These errors seem valid, since that attribute does not seem to be exposed in .Net Core.

[2016-06-30 14:57] Applebit commented on #187
OK just comment HandleProcessCorruptedStateExceptions. You will be easily able to produce.

[2016-06-30 15:17] svick commented on #177
@gguimaraesbr Yeah, I think there is no reason to have two separate issues.

[2016-06-30 15:27] gguimaraesbr commented on #177
Closing because there is another issue regarding this theme: https://github.com/dotnet/cli/issues/3093

[2016-06-30 15:27] #177 closed

[2016-06-30 15:41] svick commented on #187
Ok, after doing that, I get the same errors as you do. Some of those errors can be fixed by adding `"System.Security.Cryptography.Csp": "4.0.0"` as a dependency. But it seems `RijndaelManaged` and `RSACryptoServiceProvider.FromXmlString` do not exist in .Net Core, so your code won't run under .Net Core.

[2016-06-30 15:53] jonstoneman commented on #181
@schellap:  MyApp.deps.json contains:

[code]

[2016-06-30 15:55] jonstoneman commented on #181
@brthor: I can't use `dotnet publish` with a library

[2016-06-30 16:04] jonstoneman commented on #181
@ajaybhargavb: `copyToOutput` resulted in the `dylib` being copied into the output directory of the library project but I still get the `DllNotFoundException` when calling the test method from the app.

[2016-06-30 16:05] jonstoneman commented on #181
I've put example code here: https://github.com/jonstoneman/nativelibrepro

The `master` branch has the dylib in the MyApp project and works.

The `feature/packaged_lib` branch demonstrates the problem.

[2016-06-30 17:28] brthor commented on #181
@jonstoneman I didn't realize this was a library project.

I think you are hitting this issue: https://github.com/dotnet/cli/issues/2902

To make this work you'll need to do a dotnet pack on that library (also going back to packOptions in your project.json). Then target the output `nupkg` with the consuming app rather than the project.

You can do this by using `dotnet restore -f C:\Directory\Wher

[2016-06-30 17:36] Applebit commented on #187
Ok glad that you helped me.

Thanks for confirmation.

[2016-06-30 21:55] psibernetic opened #190 "Resharper: Intellisense partially broken in Visual Studio 2015 on Preview2 Tooling"
I have this issue on 3 separate machines, all Visual Studio 2015 Update 3, Tooling installed, Resharper latest.

http://stackoverflow.com/questions/38133604/how-to-fix-partial-intellisense-for-dotnetcore-rtm-in-visual-studio-2015

[2016-06-30 22:00] psibernetic commented on #190
This is a Resharper bug, I finally found how to suspend it. Leaving this here as a FYI.

[2016-07-01 00:21] BingyuLiu opened #191 "I can't find the ConvertAll() in Array class. How can I convert an object to array in .net core?"
I can't find the ConvertAll() in Array class.
How can I convert an object to array in .net core? Thanks.

[2016-07-01 00:23] svick commented on #191
`Array.ConvertAll` converts one array into another by invoking a delegate on each member.

You can achieve the same result by using `source.Select(converter).ToArray()`.

[2016-07-01 01:02] myhlivecom opened #192 ".NET Core SDK for Windows Installation Path Problem"
The .NET Core SDK for Windows installer
[https://go.microsoft.com/fwlink/?LinkID=809122](url)
has an option to set installation path other than C:\Program Files\dotnet.
Unfortunately, the installer always installs it to C:\Program Files\dotnet even if you change the installation path option.
Please fix it if it is a bug.

[2016-07-01 05:48] fujihara opened #193 "String IndexOf method return different results on mac an windows"
IndexOf method of string class is returning different results on macOs and Windows.

This issue started after .NET Core release update.

[code]

On Windows machine it always print:
`OK`

On Mac it prints:
`BAD`

I fixed my code passing a char to IndexOf instead string:
``if (str.IndexOf('\n') >= 0) ``

But would be better if both platform to work consistently.

Thanks

[2016-07-01 06:03] Petermarcu commented on #193
Thanks for reporting this issue. Do you mind filing it in the http://github.com/dotnet/coreclr repo? The code lives there: https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/String.cs#L2378

[2016-07-01 06:06] Petermarcu commented on #192
@piotrpMSFT , Can you take a look at this and get this issue files in the repo where the bug exists? core-setup or cli?

[2016-07-01 06:08] Petermarcu commented on #140
Correct. .NET Core 1.0 doesn't have ARM support. It is in the roadmap and we have many community members working with us on adding ARM support so I hope we'll have something soon.

[2016-07-01 06:08] #140 closed

[2016-07-01 06:10] Petermarcu commented on #133
@barrytang , This looks like an issue with the VS bits. Those issues are tracked internal to Microsoft. @barrytang can you let folks know if this is still an issue in newer builds and when it may be addressed?

[2016-07-01 06:11] fujihara commented on #193
Sure, thanks for tip.

[2016-07-01 06:11] #193 closed

[2016-07-01 06:41] #187 closed

[2016-07-01 08:37] lyptt opened #194 "CSProj project format"
Hi there. I read recently that .NET Core is moving to using the CSProj project format, but I can't seem to find a mention of that in any of the roadmaps / other .NET Core docs as it currently stands.

Is this still going ahead? Or can we rely on the project.json format to stick around?

[2016-07-01 08:41] jonstoneman commented on #181
Thanks @brthor - that does work!  I had previously tried that but using a `NuGet.config` file instead of `dotnet restore -f`.  The `NuGet.config` seemed to be working (`MyLibrary` appeared in `~/.nuget/packages`) so I guess I must have had something else different without realising.

Is there any way of getting this working with project references?  I found this [aspnet/dnx sample]( https://github

[2016-07-01 08:48] MarkPieszak commented on #133
I'm currently on holiday, but I believe it might of been a rc2 issue, unable to try if it works with the RTM (I'm guessing it's fixed in that one)

[2016-07-01 11:38] svick commented on #194
The [roadmap](https://github.com/dotnet/core/blob/master/roadmap.md) says that among features planned for 1.1 is:

[2016-07-01 11:47] lyptt commented on #194
Ah cool, thanks for confirming!

[2016-07-01 11:47] #194 closed

[2016-07-01 13:00] rdghickman commented on #190
Try using Resharper 2016.2 EAP 6, this fixed the issue for me.

[2016-07-01 15:31] blackdwarf commented on #31
Given that things changed significantly between the time when this issue was opened and now, I'm going to close this issue. For any issues with the command line .NET Core tools, please file issues on the dotnet/cli repo.

[2016-07-01 15:31] #31 closed

[2016-07-01 15:40] blackdwarf commented on #33
@jakubsuchybio F# is now available to be installed as a per-project extension using the .NET Core command line tools. You use the `dotnet new -l fsharp` to get a simple F# console application with the Preview 2 of the tools. With this, I will close this issue.

If you have more questions and/or comments, please file issues on dotnet/cli repo.

[2016-07-01 15:40] #33 closed

[2016-07-01 15:41] blackdwarf commented on #41
Hm, this is strange. I was not able to repro this on Linux Mint or on Ubuntu 14.04. I will close down this issue, but if this behavior still repros, can you please open up a new issue in the dotnet/cli repo? Thanks!

[2016-07-01 15:41] #41 closed

[2016-07-01 15:48] blackdwarf commented on #55
@rcabreu I cannot repro this on Linux Mint 17.3 using the Preview 2 bits of the tooling that were release on 27th of June. I think the problem where was missing feed configuration in the NuGet.config file.

With the above, I will close this issue. If it still persists for you, please open an issue on the dotnet/cli repo so we can investigate. Thanks!

[2016-07-01 15:48] #55 closed

[2016-07-01 15:52] blackdwarf commented on #60
This issue is dealing with DNX tooling which has been deprecated as of RC2 of .NET Core. With that I will close this issue. You can use the [DNX migration guide](https://docs.microsoft.com/en-us/dotnet/articles/core/migrating-from-dnx) to migrate DNX-based projects to RTM projects. RTM was released on 27th of June.

With this, I will close this issue. If you run into any problems with using .NET C

[2016-07-01 15:52] #60 closed

[2016-07-01 15:53] blackdwarf commented on #62
I believe this has been fixed in the latest tooling. Please try the latest tooling from https://dot.net/core. If the problem persists in the latest, please file an issue on the dotnet/cli repo. Thanks!

[2016-07-01 15:53] #62 closed

[2016-07-01 15:55] blackdwarf commented on #66
The issue here is that for dev builds you need to have a feed configured to restore from that has the packages. https://github.com/dotnet/core/blob/master/cli/known-issues.md#on-dev-builds-of-the-tools-restoring-default-project-from-dotnet-new-fails has all of the details.

With that, I will close this issue. If you have more questions/problems, please file issues on dotnet/cli.

[2016-07-01 15:55] #66 closed

[2016-07-01 16:07] blackdwarf commented on #81
All of the information on supported OS-es can be found in https://github.com/dotnet/core/blob/master/roadmap.md#technology-roadmaps. With that, I will close this issue.

[2016-07-01 16:07] #81 closed

[2016-07-01 16:17] blackdwarf commented on #104
@m-ghaoui we have changed the instructions for CentOS to now install in `/opt` and symlink info `/usr/local/bin`. Does that work?

[2016-07-01 16:18] blackdwarf commented on #93
@ojosdegris the right repo is dotnet/cli. If the issue still persists, can you please file it over there and close this one? Thanks!

[2016-07-01 16:39] blackdwarf commented on #91
@sayedihashimi where is the best place to file VS-related issues of this kind?

[2016-07-01 16:47] sayedihashimi commented on #91
@blackdwarf let's start with https://github.com/dotnet/roslyn-project-system/issues the team can move it if that's not the right spot.

[2016-07-01 16:50] blackdwarf commented on #191
@BingyuLiu in addition, https://docs.microsoft.com/en-us/dotnet/core/api/index contains the .NET Core API reference documentation.

With this and @svick answer, I will close this issue.

[2016-07-01 16:50] #191 closed

[2016-07-01 18:55] svick commented on #171
The only supported version of Debian is 8.2, so the error might be caused by that.

[2016-07-01 18:57] blackdwarf commented on #182
With the responses above, I think that the issue can be closed. For any API questions/issues, please file an issue on dotnet/corefx and for command line tooling file an issue on dotnet/cli.

[2016-07-01 18:57] #182 closed

[2016-07-01 19:01] blackdwarf commented on #184
@CoreyKaylor `dotnet pack` will create a nupkg of the project you point it to. It will create a nuspec for any dependencies that exist in the project it is packing. It is on the packager to make sure those are in an accessible place so that the consumer can reach them.

I will close this issue as per @plioi comment above.

[2016-07-01 19:01] #184 closed

[2016-07-01 19:01] blackdwarf commented on #180
@cartermp can you comment on this?

[2016-07-01 19:04] blackdwarf commented on #170
@cartermp can you share what the fix is here? This seems to be a known issue with wrong dependencies for F# projects that crept into Preview 2 release of the tooling.

[2016-07-01 19:44] cartermp commented on #180
Yep.  The project system in VS for project.json-based projects does not support file order.  You need to specify this in the project.json file itself, under `buildOptions`.

[2016-07-01 20:06] CoreyKaylor commented on #184
@blackdwarf I'm aware of how `dotnet pack` works, but thanks. I was more trying to call out that the original statement of "is not available as a nuget package" and this workaround now creates a new problem that also needs to be worked around by managing your own nuspec when the tooling should handle all of those details for you. I'm glad it works for his needs though.

[2016-07-01 20:48] Thorium commented on #180
Is the plugin open source? Shouldn't be so hard to add the Visual Studio file order to come from buildOptions instead of alphabetical order?

[2016-07-01 21:32] piotrpMSFT commented on #192
This is a known UI issue. The installer should not be exposing this option. The installation path for the installers on Windows is fixed, like on other OSs.

[2016-07-01 21:34] piotrpMSFT commented on #192
Duplicate of https://github.com/dotnet/cli/issues/3568

[2016-07-01 21:34] #192 closed

[2016-07-02 04:47] ForNeVeR commented on #170
@blackdwarf try to create new project. The bug I think was fixed yesterday; I was able to compile and run F# project generated by `dotnet new -l F#` (because new packages were published).

[2016-07-02 05:26] jaredthirsk commented on #89
+1 This was the very first thing I tried to do in .NET Core and it doesn't work.  This might (scare people away (but hopefully not) if they think it can't be done.  It may at least slow down adoption of .NET Core.

[2016-07-02 09:47] crescent7272 opened #196 "How to develop android app using .net core"
I couldn't met **any sample code** of android or ios app using **.net core** or .net core 1.0. At least can we know how to develop android app using .net core. Do we have to make connection with **Xamarin**, if so, how ? Unless this documentation, there will be no mean of being cross-platform because we cannot use it without a guide. Thanks in advance.

[2016-07-02 11:10] #196 closed

[2016-07-02 15:05] cunning-pony commented on #93
Hi, actually it goes away with 1.0 release. Closing it.

[2016-07-02 15:07] ojosdegris commented on #93
Actually it goes away with 1.0 release. Closing it.

[2016-07-02 15:07] #93 closed

[2016-07-02 15:57] mcepl commented on #172
Please, do it, and then regenerate the backtrace.

[2016-07-02 16:09] sivabudh commented on #170
@ForNeVeR thanks for updating us. It works now. Closing the ticket. =)

[2016-07-02 16:09] #170 closed

[2016-07-02 18:58] leecow opened #197 "Proposal: Release API references"
@richlander @bleroy @terrajobst @ericstj

Github is unable to render larger files and the complete .NET Core 1.0.0 set is beyond the current limit. This is a proposal to add the following to the [Release Notes content structure](https://github.com/dotnet/core/tree/master/release-notes/1.0).

[code]

This will provide a clean entry point with links to API details. The 1.0.0 api directory would cont

[2016-07-02 21:28] svick commented on #158
Both links work for me, though the first one is now just a redirect to the second one. Where should the first link point? To https://docs.microsoft.com/en-us/dotnet/articles/core/index? Or https://www.microsoft.com/net/core/platform?

[2016-07-02 21:59] Seany84 opened #198 "Error creating new .NET core project in Visual Studio"
I downloaded and installed Visual Studio Update 3 and .NET Core 1.0 for Visual Studio.
I restarted my machine as instructed by the prompts.
Anytime I try to create any of the .NET core projects from VS I get the error dialog:

Here is the last few nodes from my ActivityLog:

[code]
</activity>

[2016-07-03 01:36] mairaw commented on #158
/cc @leecow @richlander
We should also fix the reference to OSX.

[2016-07-03 02:34] cartermp commented on #180
There isn't a plugin that I'm aware of.  If you're referring to the *existing* project system in Visual Studio, then no, I do not believe that is open source.

[2016-07-03 02:54] mayuanyang commented on #89
I kinda think that it a must to have feature, i just want to do a simple project reference and expecting it should be available from my ASP.NET Core project

[2016-07-03 03:22] songqiang0521 opened #199 "Error when displaying strings in Chinese"
here is the c# code

`cs`
using System;
namespace ConsoleApplication
{
    public class Program
    {
        public static void Main(string[] args)
        {
            Console.WriteLine("Hello NETCore");
            Console.WriteLine("你好  NETCore");
            Console.ReadLine();
        }
    }
}

**But the output is:**
Hello NETCore
浣犲ソ NETCore

- When I redirect the output to a txt file(net

[2016-07-03 04:41] #179 closed

[2016-07-03 10:40] songqiang0521 commented on #199
after adding [CodePagesEncodingProvider](https://msdn.microsoft.com/zh-cn/library/system.text.codepagesencodingprovider.instance(v=vs.110).aspx) as a dependency,everything is ok.

[2016-07-03 10:40] #199 closed

[2016-07-04 07:25] BogalooDev commented on #198
Hi,

I had same the issue on Visual Studio 2015 with Update 3. Failed to create .NET Core projects. In my case I updated VS and after that installed .NET Core tooling. Check here:  https://lnkd.in/dqsHmcE

[2016-07-04 16:00] jeff881208 opened #200 "Could we still use wsdl command to generate proxy class to call soap ?"
Hi ,
In .net Framework ,we can use wsdl command to generate proxy class to call soap .
Now Could we still use wsdl command to generate proxy class to call soap in .net Core ?

Thanks

Jeff Du

[2016-07-04 20:24] Seany84 commented on #198
When I added the XML node as described in the article:
[code]
It allowed me to create the project and it populates the solution explorer with files, however Visual Studio hangs and I need to kill it via Task Manager.

When I viewed the ActvityLog.xml it said that the DLL was missing:

[code]

This is a list of the files in **C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\Extension

[2016-07-04 20:30] m-ghaoui commented on #104
Looks good to me!

[2016-07-04 20:30] #104 closed

[2016-07-04 21:42] fansgit opened #201 "release build possibly with optimization"
`dotnet 1.0.0-preview2-003121` on Linux

[code]

Will `dotnet build` produce release build possibly with optimization in the future?

[2016-07-04 21:56] svick commented on #201
If you run `dotnet help build`, you'll notice that it has a parameter that specifies configuration. You can use the default configuration called `release` to enable optimizations: `dotnet build -c release`.

[2016-07-04 22:04] fansgit commented on #201
I did but below was too concise to grasp. Thanks anyway for your info.

`  -c|--configuration <CONFIGURATION>  Configuration under which to build`

[2016-07-04 22:04] #201 closed

[2016-07-05 00:44] AlyssaDaemon opened #202 "Crypto DllNotFoundException on OSX v. 1.0.0-preview2"
I am running OS X El Capitan, I installed dotnet from the installer (as well as the latest openssl via homebrew). However, it seems I am missing the DLL for the Crypto package. Could this be tied to having the mono runtime installed? (I've already linked openssl libs with brew)

[code]

[2016-07-05 05:35] bartonjs commented on #202
@AlyssaDaemon Did you do `brew link --force openssl`?  In particular, you're looking for /usr/local/lib/libcrypto.1.0.0.dylib.  (See https://github.com/dotnet/core/issues/173#issuecomment-229130612)

[2016-07-05 11:13] dumbledad opened #203 "JSON properties swapped to lower case"
I've just swapped our project from ASP .Net Core 1.0.0-rc2-final to 1.0.0. Our website and client have stopped working because of the capitalization of JSON properties. For example, this line of JavaScript now fails

    for (var i = 0; i < collection.Items.length; i++){

because the controller now calls the array"items" instead of "Items". I have made no changes beyond installing the updated pack

[2016-07-05 16:16] dumbledad opened #204 "Swapping from ASP .Net Core 1.0.0-rc2-final to 1.0.0 causes published site to fail with CGI errors"
I've just upgraded my ASP project from ASP .Net Core 1.0.0-rc2-final to 1.0.0. There were two issues that were not handled by the Nuget Package Manager.

Firstly

    "Microsoft.NETCore.App": {
      "version": "1.0.0-rc2-3002702",
      "type": "platform"
    },

was updated to just

    "Microsoft.NETCore.App": "1.0.0",

which failed to compile and so I changed that to

    "Microsoft.NETCore.Ap

[2016-07-05 16:31] AlyssaDaemon commented on #202
As I said in the beginning, **yes, I did do** `brew link --force openssl` before trying this. /usr/local/lib/libcrypto.1.0.0.dylib *does* exist on my system.
[code]

[2016-07-05 16:42] svick commented on #204
Does your application work locally?

[2016-07-05 17:05] blackdwarf commented on #91
Thanks @sayedihashimi. @HellBrick can you please move this issue to the above mentioned repo and close this one? Thanks!

[2016-07-05 17:16] sayedihashimi commented on #91
@blackdwarf I went ahead and created https://github.com/dotnet/roslyn-project-system/issues/285 to replace this. Going forward please create the issue yourself  (or ask the OP to do so) with the following info.

- URL to original issue
- Github ID of the OP

[2016-07-05 17:16] #91 closed

[2016-07-05 18:21] bartonjs commented on #202
@AlyssaDaemon Sorry, just had to check; sort of like the IT question "have you tried turning it off and on again?".

I can't think of any reason why the presence of Mono would affect loading that library.  It needs

* libcrypto.1.0.0.dylib, from rpath
* libssl.1.0.0.dylib, from rpath
* /usr/lib/libc++.1.dylib
* /usr/lib/libSystem.B.dylib

The first two dependencies should be met by brew install/li

[2016-07-05 19:47] dumbledad commented on #204
It does. Works fine locally. No deployment errors reported during publishing. It's just when I go to the published site on Azure I see the CGI error reported

[2016-07-05 19:50] Petermarcu commented on #204
@Eilon

[2016-07-05 19:53] Petermarcu commented on #198
@barrytang @Pilchie

[2016-07-05 19:56] AlyssaDaemon commented on #202
Sorry that I came off a bit cross, thank you for helping me. I have been thinking about reinstalling El Capitan anyway, so perhaps that might fix things. I checked my symlinks, and my environment variables and they seemingly checkout (well $DYLD_FALLBACK_LIBRARY_PATH was defined and had mono's libs defined, but even unsetting it didn't help). See you on the other side as it were.

[code]

[2016-07-05 22:15] Eilon commented on #204
@Tratcher is this something gone wrong in AspNetCoreModule?

[2016-07-05 22:24] alberts commented on #172
[code]

[2016-07-05 22:39] livarcocc commented on #172
@ericstj

[2016-07-05 22:45] Tratcher commented on #204
Usually it's an environmental/config problem causing the application to crash on start. Check the events (in the portal?) and enable logs (stdoutLogEnabled="true") in web.config. See https://github.com/aspnet/Docs/issues/1358

[2016-07-06 08:43] dumbledad commented on #204
I've set `stdoutLogEnabled="true"` in the `web.config` file and redeployed. I cannot see where to get the events from. I'll keep looking.

[2016-07-06 09:18] dumbledad commented on #204
Found the logs. In that Azure Portal console I needed `../../LogFiles/eventlog.xml` That's full of entries like this:

    <Event>
        <System>
            <Provider Name="IIS AspNetCore Module"/>
            <EventID>1000</EventID>
            <Level>0</Level>
            <Task>0</Task>
            <Keywords>Keywords</Keywords>
            <TimeCreated SystemTime="2016-07-06T08:55:16Z"/>

[2016-07-06 09:38] svick opened #205 "DllNotFoundException: System.Native when executing RuntimeInformation.IsOSPlatform on mono"
I'm trying to run a basic ASP.NET Core application on Ubuntu 16.04 using mono 4.2.1 and .Net Core 1.0:

1. `mkdir webapp`, `cd webapp`, `dotnet new -t web`
2. in project.json, remove Microsoft.NETCore.App from dependencies, change frameworks to: `"net451": { }`, remove prepublish from scripts
3. `dotnet restore`, `dotnet publish`
4. `mono bin/Debug/net451/ubuntu.16.04-x64/publish/webapp.exe`

At t

[2016-07-06 10:19] svick commented on #205
Note: I didn't use `dotnet run` at first, because that encounters a [a different bug](https://bugzilla.xamarin.com/show_bug.cgi?id=41233). But the workaround for that (use `dotnet run -c Release`) throws the same `DllNotFoundException` as above.

[2016-07-06 10:31] dumbledad commented on #204
I'm wrong there, the web.config files are not the same (I was confused by there being two web.config files in each deployment). In RC2 the `%VARIABLE%` are replaced with values, in 1.0 they are not. Has something changed there? Is this still the correct entry in the `project.json` file?

    "scripts": {
      "postpublish": [ "dotnet publish-iis --publish-folder %publish:OutputPath% --framework %

[2016-07-06 16:25] dumbledad commented on #204
Fixed: http://stackoverflow.com/a/38228793/575530

[2016-07-06 16:25] #204 closed

[2016-07-06 23:16] linvi opened #206 "Portable Class Library and .NET Core"
Hello,

I am the developer of Tweetinvi which is a Portable Class Library compatible with a very wide range of devices. I would like to ensure that Tweetinvi can work with .NET Core projects.

I would like to do so by keeping the PCL. Is it possible? If yes, which PCL target should I use?
If I use `ASP.NET Core 1.0` target, it won't work with **.NET Core Console** projects.

With **.NET Core Class

[2016-07-07 00:34] wpostma opened #207 "OpenSUSE Leap 42.1 and Tumbleweed - dotnet crash "failed to initialize" hresult 0x80131500"
Following the instructions provided on the get .net site, with the ICU and libunwind installed, dotnet is crashing:

wpostma@warrenspc:~> dotnet version
Failed to initialize CoreCLR, HRESULT: 0x80131500

Tried this on both Tumbleweed (a very bleeding edge) and stable OpenSuse Leap 42.1.
Both are x86_64 architecture.

I will gather more information if I can but I can't find the documentation on how

[2016-07-07 01:17] wpostma commented on #207
I'm going to try to build from sources on OpenSuse Tumbleweed. Haven't found a readme.

But I did find a repo that is necessary in order to get some of the rare dependencies like LTTNG-UST-DEVEL.

http://software.opensuse.org/download.html?project=home%3Admacvicar%3Adotnet&package=lttng-ust

OpenSuse dependency/tool fetch "zypper install lttng-ust-devel" will work after adding the above repo.
lttn

[2016-07-07 01:18] wpostma commented on #206
I'm curious about this as well.   I was thinking of moving projects I would build to be project.json based and to use multi targeting so that I could build a PCL ,and a native .net core package, and a full .net framework, all from a single set of sources without a pile of different .csprojs for this very reason.

http://stackoverflow.com/questions/38206209/create-a-single-source-project-with-full-

[2016-07-07 01:23] wpostma commented on #207
I have asked this question and will self answer it on stack overflow if I can figure out what the recommended way to diagnose startup crashes is going to be on dotnet tool crashes, on Linux.

Since Linux dependency hell will be a common theme now that Linux support has shipped, this is going to be fun.

http://stackoverflow.com/questions/38235855/when-dotnet-tool-wont-start-up-failed-to-initialize

[2016-07-07 01:44] reader-man opened #208 "XAML on .net core"
Hi,
Thanks a lot on the huge work done in .Net Core 1.0, and its features.

It would be great to have a XAML to rule them all (to rule the desktop of all OSs), that benefits from any GPU/CPU on that system, and to be a the defecto desktop UI development, that is more powerful than both old .Net XAML, and Xamarin XAML, and that draws its own shapes, not a layer above current UI frameworks in each p

[2016-07-07 01:45] linvi commented on #206
Thank you for the link I will take a look at this.

[2016-07-07 07:20] yajore opened #209 "'sudo apt-get install dotnet-dev-1.0.0-preview2-003121' fail"
下列软件包有未满足的依赖关系：
 dotnet-dev-1.0.0-preview2-003121 : 依赖: dotnet-sharedframework-microsoft.netcore.app-1.0.0 但是它将不会被安装
E: 无法修正错误，因为您要求某些软件包保持现状，就是它们破坏了软件包间的依赖关系

[2016-07-07 15:57] swaletzko commented on #89
This is getting ridiculous. I have linked code files all over my solution because I can't reference my own projects from my Powershell or MS Unit Test projects if I also want to reference them from my ASP.NET Core project. Which of course I do want to do, this is pretty standard and I've always done it in the past, obviously. Feels like we're taking huge steps backwards here.

[2016-07-07 16:44] dsplaisted commented on #89
Here is an answer on Stack Overflow from @onovotny on [How to reference a .NET Core class library from a .NET 4.6 project](https://stackoverflow.com/questions/37902451/how-can-i-make-a-net-core-class-library-and-reference-it-from-a-net-4-6-projec/37907973#37907973).

Basically, you can create a Portable Class Library, which will be a .csproj, and retarget it to .NET Standard.  You will be able to

[2016-07-07 20:35] swaletzko commented on #89
Thanks for posting this link. I just tried it, and as far as I can tell (maybe I'm doing something wrong), it doesn't solve the problem. Or at least it doesn't solve my problem.

While it DOES let you reference the project from both xproj and csproj projects, those projects still have to be based on .NET Core or else the reference fails (for obvious reasons) with a "current project's target is not

[2016-07-07 20:35] MisterJames opened #213 "CLI-Created Web Projects All have the Same Project ID For User Secrets"
It seems that all projects - even on different machines - are using this same GUID when created from the CLI: `0799fe3e-6eaf-4c5f-b40e-7c6bfd5dfa9a`, resulting in a shared set of user secrets. The userSecretsId for all project.json files created is `aspnet-WebApplication-0799fe3e-6eaf-4c5f-b40e-7c6bfd5dfa9a`.

These projects are created with `dotnet new -t web`.

[2016-07-07 21:26] svick commented on #207
I believe the problem is that the only supported version of OpenSUSE is 13.2.

[2016-07-07 23:59] dsplaisted commented on #89
@swaletzko Probably what is happening is that the .NET Core library is targeting a higher version of .NET Standard than works with the version of .NET Framework you are targeting.  Target a lower version of .NET Standard with the .NET Core library and your .NET Framework projects should be able to reference it.

See the ".NET Platforms Support" table in the [.NET Standard Library documentation](ht

[2016-07-08 01:33] swaletzko commented on #89
I was about to respond to tell you that I had already double-checked the versions when I tested this (I did), and so that couldn't possibly be the problem.

Thankfully, before I did that I went ahead and triple-checked - and you are absolutely correct. Somehow I had mixed up the target version numbers of my projects in my head and the referencing library WAS older than the .NET Core library I was

[2016-07-08 18:06] swaletzko commented on #89
Sorry, I need a little more help here. After much wrangling I finally got all of my projects upgraded to the proper versions of whatever frameworks they use and they can all reference each other and all is well.

Except for my ASP.NET project, which is using framework "dnx461", and when I reference my other projects that use the "netstandard1.4" framework I get a "Project does not support framewor

[2016-07-08 18:11] dankellett opened #214 "AddJsonFile throws invalid directory name when optional is true"
`var builder = new Microsoft.Extensions.Configuration.ConfigurationBuilder()`
`.SetBasePath(env.ContentRootPath)`
`.AddJsonFile(@"C:/myDirectory/mySub/appsettings.json", optional: true)`

When adding a configuration file during app startup, the above code will throw an exception if the "C:/myDirectory/mySub/" does not exist. Since this is set as an optional file, the directory should not need to e

[2016-07-08 18:38] svick commented on #89
@swaletzko You shouldn't be using `dnx461`, use `net461` instead.

[2016-07-08 18:46] svick commented on #214
`AddJsonFile` is in the [aspnet/Configuration](https://github.com/aspnet/Configuration) repository. I think you should report this issue there and close it here.

[2016-07-08 20:15] kovalikp opened #215 "GetBuiltProjectOutputGroup task ignores outputName (SDK rc2)"
`GetBuiltProjectOutputGroup` task (from c:\Program Files (x86)\MSBuild\Microsoft\VisualStudio\v14.0\DotNet\Microsoft.DotNet.Tasks.dll assembly) ignores `outputName` defined in `project.json`. This means that, any build system that uses `BuiltProjectOutputGroup` target to collect output of the project, will not be able to find result assembly.
**tested on:**
.NET Core SDK for Windows-rc2
**example:

[2016-07-08 20:25] dankellett commented on #214
Thanks, will do.

[2016-07-08 20:25] #214 closed

[2016-07-08 21:03] swaletzko commented on #89
Thanks, @svick but using "net461" has the same result: "[my referenced netstandard1.4 project] does not support framework DNX, Version=v4.6.1".

[2016-07-10 01:26] bitslasher commented on #77
First off, I'd like to say thank you to you guys for all this information.  It really helped me out.  Secondly, however, after reading this, I felt really sad in the pit of my stomach that this is so convoluted.  This seems like a real mess.  It feels like we've went backwards somehow.

[2016-07-10 07:14] davidfowl commented on #77
It's not very clean. We're looking at moving to a model where you always develop portable apps but you can choose to deploy standalone at publish time.

[2016-07-10 15:24] AlyssaDaemon commented on #202
I am sorry, I forgot to report what happened. Indeed reinstalling OS X fixed the issue. Sorry to trouble you all.

[2016-07-10 15:24] #202 closed

[2016-07-11 12:45] KirilRusev commented on #206
We are migrating a project to version 1.0. and can test if you have something in the pipeline.

[2016-07-11 13:07] linvi commented on #206
I am not sure what you mean. Are you saying that you are currently migrating PCL into compatible version 1.0 .NET Core library or that you have access to some kind of new PCL target for .NET Core 1.0?

[2016-07-11 16:54] brthor commented on #181
Unfortunately due to the linked bug above I don't believe this will currently work for P2P references.

an alternative to doing this, each time you update your library project:
[code]

is to version your library higher with each change, by putting this in your library project.json : `"version": "1.0.0-*"`

Then using `dotnet pack --version-suffix 000X ../src/MyLibrary` where X increases with each

[2016-07-11 21:56] cdaringe opened #217 "developer communication channel availability"
hi all:

do we have a good irc/slack/gitter/chat-thing/whatever for devs to hang out, ask Qs, and bounce ideas off of each other?

if not, should/can we start one?  for instance [atom puts a link to their chat channel](https://github.com/atom/atom) right on the repo README.md, which is helpful.

it would be really great to have a go-to place for learning where the docs just aren't quite enough.  i

[2016-07-11 22:28] Seany84 commented on #198
@Petermarcu @barrytang @Pilchie Does anyone have any idea how I could attempt to fix this or is there anything I can provide you with?

[2016-07-11 23:02] akoeplinger commented on #217
There are gitter channels for each of the main repos: https://gitter.im/dotnet/corefx, https://gitter.im/dotnet/coreclr,https://gitter.im/dotnet/cli (those are mentioned in the READMEs)

Additionally there **a lot** of people in the ASP.NET/.NET Core community Slack: http://tattoocoder.com/aspnet-slack-sign-up 😄

[2016-07-12 00:42] balachir commented on #198
@Seany84 we had other reports of similar issues -- see [here ](https://github.com/aspnet/Tooling/issues/515) and [here](https://github.com/aspnet/Home/issues/1455#issuecomment-229146688). This was due to an issue in Visual Studio 2015 Update 3 setup that sometimes caused stale entries in the devenv.exe.config file.

Can you try the following workaround:
1. Close Visual Studio
2. Delete the C:\User

[2016-07-12 03:48] cdaringe commented on #217
Thanks!

[2016-07-12 03:48] #217 closed

[2016-07-12 08:02] fogzot commented on #171
I think the segfault is related to the kernel version: "dotnet new" (when populating the initial cache) and "dotnet restore" segfault on Debian 8.2 if running on newer kernels (tested with 4.5 and 4.6) but work with the original 3.16.

[2016-07-12 11:32] FZ14 opened #218 "CoreCLR crash in SLES 11 SP3"
Hi!
I try to install dotnet core in SUSE Linux Enterprise Server 11 SP3.

After installing dependencies I have an error, when I try execute command:
`dotnet --version`
or
`dotnet new`

### Failed to initialize CoreCLR, HRESULT: 0x80131500.

[DotnetCoreVersionTrace.txt](https://github.com/dotnet/core/files/359189/DotnetCoreVersionTrace.txt)

For install I use instruction from https://www.microsoft.

[2016-07-12 14:43] MatthewR opened #219 "NETCore with MSTest Framework cannot find references"
Created a new Solution, then added an ASP.NET Core Web Application (NETCoreApp, v1.0)
Created a test folder
Created a .NET Core Class library (for test projects) (NETStandard v1.6)
Installed MS Test packages (MS Test and the test Runner).
The whole project compiles, and I can see my basic tests fine.
I added a reference from my website to the test assembly, and put a using statement at the front o

[2016-07-12 20:07] SoonDead opened #220 "Tools for VS '15"
VS '15 cannot open ASP.NET Core 1.0 projects yet since it installs with either the VS2015 Update 3 or the .NET Core 1.0 for Visual Studio.

`Microsoft.DotNet.Web.targets` is missing so the project cannot be opened.

[2016-07-12 20:31] SerhiiS-in6k opened #221 "Can I Porting .NET project to .NET Core and use dll dependency from .NET 4"
Hi. I was looking for possibilities for porting small project from Windows .NET framework to Ubuntu(linux) using  .NET Core. But the project has dependency from other much bigger .NET 4 project. Can I just add reference to the .NET 4 dll dependency. Thanks.

[2016-07-12 21:02] Seany84 commented on #198
@balachir I have tried this exact step several times and still have the exact same error when trying to create a new .NET core project.

I have attached the ProcessMonitor output for the devenv.exe process while I ran the /setup command and also up to when I tried to create a new .NET core project (including the error dialog).

[
[Logfile.zip](https://github.com/dotnet/core/files/360270/Logfile.zi

[2016-07-12 21:44] mellinoe commented on #221
No, that is not supported. You will need to port the dependency as well, and that will involve working around types and methods that the dependency uses that are not available in .NET Core.

[2016-07-13 14:47] SerhiiS-in6k commented on #221
@mellinoe Thank you for your quick reply. I have analyzed dependency in .NET 4 projects. And I found that project uses native C method. Can I Do something like:
[code]
in the .NET Core

[2016-07-13 16:54] swgillespie commented on #221
@SerhiiS-in6k yes, platform invoking like that is supported on .NET Core.

[2016-07-13 17:05] joshfree commented on #43
There are no plans to bring application platforms (winforms, wpf, etc) to .NET Core at this time.  Closing out this issue.  Thank you.

[2016-07-13 17:05] #43 closed

[2016-07-13 17:09] joshfree commented on #48
Closing now that .NET Core 1.0 has shipped.  Instructions can be found at http://dot.net/core.

[2016-07-13 17:09] #48 closed

[2016-07-13 17:11] joshfree commented on #56
Closing this old issue.  Please feel free to reactivate if there is still a problem.

Instructions are available at http://dot.net/core

[2016-07-13 17:11] #56 closed

[2016-07-13 17:12] joshfree commented on #57
This request is being tracked in the corefx repo @ https://github.com/dotnet/corefx/issues/6920

[2016-07-13 17:12] #57 closed

[2016-07-13 17:13] gkhanna79 commented on #47
@richlander can comment on the overall platform support roadmap for .NET Core but supporting WinCE is not on the cards for now.

[2016-07-13 17:15] joshfree commented on #63
Hi @AndrewBarfield, Ubuntu 15.10 isn't one of the .NET Core 1.0 supported platforms (Ubuntu 14.04 LTS and 16.04 LTS are supported) https://github.com/dotnet/core/blob/master/release-notes/1.0/1.0.0.md#rtm-platform-support.

More information is available at http://dot.net/core.

If you are running into issues feel free to reactivate this or create a new issue in https://github.com/dotnet/corefx.  T

[2016-07-13 17:15] #63 closed

[2016-07-13 17:22] joshfree commented on #67
Hi folks,
The .NET Core 1.0 platform support matrix is available @ https://github.com/dotnet/core/blob/master/release-notes/1.0/1.0.0.md#rtm-platform-support.

https://github.com/dotnet/core/blob/master/release-notes/1.0/1.0.0-known-issues.md#bash-on-ubuntu-on-windows
Bash on Windows (WSL) is not yet supported by .NET Core 1.0.  Attempting to run applications in the WSL environment can experience

[2016-07-13 17:22] #67 closed

[2016-07-13 17:23] #74 closed

[2016-07-13 17:32] joshfree commented on #88
It's the package that contains the runtime identifiers (RIDs) for the supported platforms -

https://docs.microsoft.com/en-us/dotnet/articles/core/rid-catalog

https://github.com/dotnet/core/blob/master/release-notes/1.0/1.0.0.md#rtm-platform-support

https://github.com/dotnet/corefx/blob/master/pkg/Microsoft.NETCore.Platforms/runtime.json

[2016-07-13 17:32] #88 closed

[2016-07-13 17:35] joshfree commented on #98
Hi @BenHall does this still occur with .NET Core 1.0 / .NET Core 1.0 SDK Preview 2?

[2016-07-13 17:36] BenHall commented on #98
Ah, no it doesn't. Turned out to be an AUFS bug.

[2016-07-13 17:36] #98 closed

[2016-07-13 18:03] jan-johansson-mr opened #222 "Creating class libraries in .NET Core"
Hi,

By using the (CLI) command **_dotnet new -t lib_**, I've got a skeleton code for a class library, and that's really nice. However, I really don't know how to let another project consume the library that I've created. I've tested to create NuGet package, (CLI) command _**dotnet pack**_, and edit _**NuGet.config**_ file to add a local repository. But it didn't work for me. I've been searching f

[2016-07-13 18:04] wpostma commented on #207
I also tried installing ICU 53  libs (built from source) and I still get the dotnet: symbol lookup error: /opt/dotnet/shared/Microsoft.NETCore.App/1.0.0/System.Globalization.Native.so: undefined symbol: uloc_getDefault_53_1

I believe it's dying pretty early in startup.  I'll keep updating this issue if I figure out how to get it to work.

I've tried building dotnet coreclr, dotnet corefx, and dot

[2016-07-13 19:11] czesiu commented on #74
I did own research and I found following libraries/solutions:
- [BASS.NET](http://bass.radio42.com/) - .NET wrapper (P/Invoke) for multiplatform un4seen [BASS](http://www.un4seen.com/bass.html) audio library
- [ManagedBass](https://github.com/ManagedBass/ManagedBass) - also wrapper for BASS audio library, but with non restrictive license as BASS.NET. Additionallyall P/Invoke part is in PCL library

[2016-07-13 20:17] BingyuLiu opened #223 "I can't find following method in .net core."
Hi dotnet core  team,

I am trying to migrate my code  to .net core which is based on .net framework, but following methods/Class are not supported in .net core.

version: 1.0.0-preview2-003121

1. System.DirectoryServices
2. System.Runtime.Remoting
3. System.Runtime.Remoting.Messaging
4. System.Security.Principal.WindowsImpersonationContext
5. System.Type.IsGenericType

Thanks,
John Liu

[2016-07-13 20:54] #86 closed

[2016-07-13 20:55] yizhang82 commented on #86
Closing - it's a case of bad proxy in their network environment.

[2016-07-13 21:21] mairaw commented on #223
Have you tried following the process documented here: https://docs.microsoft.com/en-us/dotnet/articles/core/porting/index?

[2016-07-13 22:20] svick commented on #222
Could you describe what did you do and how did it fail?

[2016-07-14 00:11] mellinoe commented on #221
Yep, PInvokes work fine. Keep in mind that any native dependency you have needs to be available on all of the platforms you intend to run on. If you only intend on running on Windows, there's no problem, but do keep in mind that any native code used will limit your flexibility.

[2016-07-14 03:53] jan-johansson-mr commented on #222
Hi,

First step was to create skeleton code, via _**dotnet new -t lib**_. This creates a class library project template, with a default file name _**Library.cs**_ (my directory, folder, name is _**mylib**_) In this case, I'm trying to understand the tool chain, so next step is simply to build the artifact via _**dotnet restore**_ and _**dotnet build**_.

The produced artifact is default configured

[2016-07-14 09:17] tonidy commented on #97
I think the error message should be describe solution (explicit or with link)

"project TodoApi does not have a lock file. Please run "dotnet restore" or see http://link-to.solution"

Need to google it to find the right solution :smile:

[2016-07-14 13:23] SerhiiS-in6k commented on #221
Thanks, guys. Today I tried use Pinvokes and it works fine. I also tried to use Pinvokes in Ubuntu it also works and it's very cool because my project uses a lot native call. But I can't find 'System.Security.Permissions' in NET Core
`
PermissionSetAttribute(SecurityAction.LinkDemand, Name = "FullTrust")] or
 [EnvironmentPermission(SecurityAction.LinkDemand, Unrestricted = true)], ''
`
Do you know

[2016-07-14 13:49] mjrousos commented on #221
Those permission attributes are related to CAS, which is gone in .NET Core, so you shouldn't need them. .NET Core doesn't enforce security restrictions the way the old .NET Framework (sort of) did. Instead, if resources need to be protected, it's expected to be done at the OS level via ACLs or some similar mechanism.

So, it should be fine to just remove those attributes.

[2016-07-14 16:14] tzwlai commented on #68
Looks like @gregg-miskelly has already answered this question in OmniSharp/omnisharp-vscode#220.

[2016-07-14 16:14] #68 closed

[2016-07-14 16:48] narenkv opened #224 "Issues while referencing .Net 4.5.1 class libraries"
I was trying out to refer class libraries .net framework 4.5.1 in Core 1.0 latest 2016 release.

in the project.json "imports": [ "dnxcore50", "net451" ,"net452"] is been taken care and the following gets added as dependencies in project.json

"Core.Framework.Testing": { "target": "project" },

I see no errors in the references but in the class file , I cant access the namespace like using Core.Fr

[2016-07-14 18:06] Petermarcu commented on #222
Hi @jan-johansson-mr,

I haven't tried it with creating a NuGet package the way you are trying to do it. I was able to get it working without it by creating this folder structure:

ProjectRoot
|__ src
____|__ app
________|__ Program.cs
________|__ project.json
____|__ library
________|__ Library.cs
________|__ project.json

- Run `dotnet new -t lib` in the library folder and `dotnet new` in the ap

[2016-07-14 18:43] rogersachan commented on #178
lack of interest = closed issue

[2016-07-14 18:43] #178 closed

[2016-07-14 19:10] jan-johansson-mr commented on #222
Hi Peter,

Thanks for your description, it does indeed work!

I want to use assembly (or assemblies) (dll) in my projects. I've not found any clear way to do that (it's easy in VS). However, by following what I wrote earlier today, it does actually work (using dll)! As you know, there is no NuGet utility on native Linux, but as far as I understand it _**dotnet restore**_ does some lifting with the

[2016-07-14 19:14] Petermarcu commented on #222
Yeah, I look forward to the next rev of the tooling. I hope a lot of things will get easier.

[2016-07-14 19:14] #222 closed

[2016-07-15 01:22] blackdwarf commented on #220
Hi, can you please open an issue on the dotnet/cli repo and we will make sure that it gets redirected where needed? Thanks!

[2016-07-15 01:22] #220 closed

[2016-07-15 01:26] blackdwarf commented on #218
@FZ14 can you please open this issue on dotnet/cli? Thanks!

[2016-07-15 01:26] #218 closed

[2016-07-15 01:34] blackdwarf commented on #213
@MisterJames there is already an issue in the CLI repo tracking this in dotnet/cli#3617. Will close this one as a duplicate.

[2016-07-15 01:34] #213 closed

[2016-07-15 01:36] blackdwarf commented on #13
@cartermp can we close this one? Or move it to dotnet/core-docs?

[2016-07-15 01:40] blackdwarf commented on #82
@richlander can you please comment on the overall roadmap for CoreRT?

[2016-07-15 01:42] blackdwarf commented on #89
@swaletzko with that, I will close this issue since it seems the problem has been fixed.

[2016-07-15 01:42] #89 closed

[2016-07-15 01:44] blackdwarf commented on #92
@yyjdelete in general, if you wish to use RC2 bits and newer, you need to uninstall any older (pre-RC2) bits you have on the machine. This guidance can also be found on the [Getting Started page](https://microsoft.net/core/).

With this, I will close this issue. In the future, please open these kinds of issues on dotnet/cli repo.  Thanks!

[2016-07-15 01:44] #92 closed

[2016-07-15 01:55] blackdwarf commented on #101
@SebastianStehle can you please open this issue on dotnet/corefx repo? It seems like a better place than here. I

[2016-07-15 01:58] blackdwarf commented on #118
@zorbasolutions does this repro with the RTM installers you can download from https://dot.net/core?

[2016-07-15 01:58] blackdwarf commented on #121
@svick does this repro with the Preview 2 tooling?

[2016-07-15 01:59] blackdwarf commented on #128
@jabolx this is weird. Is this reproing with the RTM bits you can get from https://dot.net/core?

[2016-07-15 02:05] blackdwarf commented on #172
@alberts which kernel are you running? Is this issue still reproing?

[2016-07-15 02:07] blackdwarf commented on #171
I believe that this issue is tracked on dotnet/dotnet-docker#61. It has to do with a bug that is present when using 4.6.x kernel.

I will close this issue as a duplicate of that other one. If you believe this was in error, please reopen this issue on dotnet/cli.

[2016-07-15 02:07] #171 closed

[2016-07-15 02:11] blackdwarf commented on #180
@cartermp @Thorium can we close this issue?

[2016-07-15 02:12] blackdwarf commented on #181
@jonstoneman is the workaround provided by @brthor working for you? If so, can we close this issue?

[2016-07-15 02:27] cartermp commented on #180
Let's close it out.  This is something that's being looked at with the new project system.  File ordering is a requirement for F# there, anyways.

[2016-07-15 02:28] cartermp commented on #13
Let's go ahead and close it for now, since we have docs on this.

[2016-07-15 05:37] jabolx commented on #128
Hello,

Yes I tried both with VS2015 Update 2 and Update 3. Also have all the required Redistributables for Visual C++. More details about my issue you can find under link to VS forums. One of the users also reproduced it.

[https://social.msdn.microsoft.com/Forums/vstudio/en-US/88310535-5013-4304-bd2b-c58b54d5d678/visual-studio-2012-is-missing-a-winforms-partial-class-in-solution-explorer?forum=v

[2016-07-15 08:23] SerhiiS-in6k commented on #221
Hi. Thanks all, your answer is very helpful for me. I almost port project to Net Core. But have some error:
1) Can I remove Clonable interface;
2) How can I replace these lines:
[code]
Thanks.

[2016-07-15 08:45] markrendle opened #226 "Alpine Linux (for Docker images)"
Support for Alpine Linux has been mentioned in the past on various repositories. It's desirable because the [Docker image for Alpine](https://hub.docker.com/_/alpine/) is under 5MB in size, compared to over 100MB for Debian 8, which is the current base for the `dotnet` images. Docker are looking to migrate all their official library images to Alpine.

The blocker for .NET Core has been the availab

[2016-07-15 09:24] jonstoneman commented on #181
@blackdwarf The workaround works but is no faster than what I was already doing and actually less convenient.  I still need to call `dotnet restore -f ../src/MyLibrary/bin/Debug` but I also need to increment the `--version-suffix`.  With my method I can just rerun the same commands (which I have all on one line so can just up arrow and enter).

In any case, using package references is still a pret

[2016-07-15 12:12] erikzhang commented on #89
I don't think the problem has been fixed since I can't reference xproj in csproj directly.
And it seems the PCL doesn't support netstandard1.6. If you retargeting your PCL project to netstandard1.6, you will get this message:`Predefined type 'System.Object' is not defined or imported`

[2016-07-15 13:48] mjrousos commented on #221
* Yes, the ICloneable interface can be removed - it's not used by the .NET Core Framework. If you need cloning functionality, you can still keep the methods you've implemented (or provide your own ICloneable interface if it's useful to your apps).
* ManualResetEvent.Close can be replaced with ManualResetEvent.Dispose.
* For Attribute.IsDefined, use the System.Reflection.CustomAttributeExtensions.I

[2016-07-15 13:53] zorbasolutions commented on #118
Yes, same results. From the page you sent me, I downloaded https://go.microsoft.com/fwlink/?LinkID=809122 which is version Preview 2. I clicked on options and changed the directory to C:\mydotnet

Installer ran just fine but after install is complete my c:\mydotnet is still Empty.

Thanks,

On Thu, 14 Jul 2016 18:58:43 -0700
 Zlatko Knezevic <notifications@github.com> wrote:

[2016-07-15 14:53] mairaw commented on #118
I remember seeing this issue reported before and the answer was that custom paths would be disabled in the future but can't remember where I saw this. @ericstj do you know anything about this?

[2016-07-15 14:57] ericstj commented on #118
Just use the ZIP if you want this.  https://github.com/dotnet/cli/issues/3568

[2016-07-15 15:34] svick commented on #224
Using `"imports"` lets you specify that something is compatible, even when it's not. And this is exactly what happens: `net451` is not compatible with .Net Core, you can't use a .Net Framework 4.5.1 library from a .Net Core application.

[2016-07-15 17:47] adrua commented on #56
hi,

are you update  to .NET Core 1.0 for Visual Studio?.
Please change your frameworks list in 'Project.json' by

  "frameworks": {
    "netcoreapp1.0": {
      "dependencies": {
        "Microsoft.NETCore.App": {
          "type": "platform",
          "version": "1.0.0"
        }
      },
      "imports": "dnxcore50"
    }
  },

rebuild your application

Good luck

[2016-07-15 18:32] zorbasolutions commented on #118
Fine, Zip can work but please remove the option from the installer msi. It is confusing to any user if it doesn't work.

On Fri, 15 Jul 2016 07:57:45 -0700
 Eric StJohn <notifications@github.com> wrote:

[2016-07-15 18:35] ericstj commented on #118
Yep, I believe the linked issue is tracking the removal.

[2016-07-15 18:38] Petermarcu commented on #118
Closing this issue as its tracked in the repo where the fix needs to be.

[2016-07-15 18:38] #118 closed

[2016-07-15 19:30] amicalrahul commented on #198
I am also facing the same issue. I have installed VS2015 update 2.
I tried to follow the above steps but strangely the below directory is empty
C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\Extensions\Microsoft\DotNet

Even there is no dnx folder at below path
*:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\Extensions\Microsoft\Web Tools\DNX *

I've run RC1 instal

[2016-07-16 03:01] blackdwarf commented on #190
Will close this one as it seems to be solved.

[2016-07-16 03:01] #190 closed

[2016-07-16 03:39] blackdwarf commented on #181
@jonstoneman I will actually close this one since we have dotnet/cli#2902. It is preferable to keep the product issues in the actual product repos.

[2016-07-16 03:39] #181 closed

[2016-07-16 03:39] #180 closed

[2016-07-16 03:51] blackdwarf commented on #224
@svick's explanation is correct. `imports` is used mostly for restore-time compatibility, not for build and/or run time compat.

With this, I will close this issue. @narenkv if you believe this is in error, please open a new issue on dotnet/cli repo. Thanks!

[2016-07-16 03:51] #224 closed

[2016-07-16 04:08] blackdwarf commented on #112
@DonSchenck is this still reproing with the install script from `rel/1.0.0-preview2` from the dotnet/cli repo?

If so, could you please file a bug on the dotnet/cli repo and close this one, since this issue should be tracked over there for fixing? Thanks!

[2016-07-16 04:23] blackdwarf commented on #107
@Chrisboh yes, and that information is available. If you are having trouble with installing the CLI tools, I would imagine you would go to the dotnet/cli gitter channel/repo to file that issue. It is a potential product issue after all. 😃 However, I have filed an issue on the respective repo to fix the community page to add the information.

With this, will close this issue.

[2016-07-16 04:23] #107 closed

[2016-07-16 04:35] blackdwarf commented on #96
@peixushang I cannot repro this with `1.0.0-preview2-003121` version of the CLI tooling. Both projects restore and build and run properly.

Will close this issue with the above. If the issue still repros for you, please open up a new issue on dotnet/cli repo. Thanks!

[2016-07-16 04:35] #96 closed

[2016-07-16 04:38] blackdwarf commented on #106
@Chrisboh we have changed the instructions for Debian for RTM/Preview 2 bits. I've also added an issue to track adding a `sudo` mode to the the install script so it can perform the installation of dependencies: dotnet/cli#3637.

With this, I will close this issue.

[2016-07-16 04:38] #106 closed

[2016-07-16 15:29] jskeet opened #227 "Updated apt packages cause Ubuntu instructions to fail"
I first noticed this on Travis, e.g.
https://travis-ci.org/nodatime/nodatime/builds/145115426

Now having run `sudo apt-get update` and `sudo apt-get upgrade` on local Linux boxed (Ubuntu 14.04 and Ubuntu 16.04) I get the same problem.

Running `dotnet restore` gives an error of:

[code]

It looks like this happened between 2016-07-15T15:30:00Z (my last successful Noda Time build) and 2016-07-16T1

[2016-07-16 15:35] jskeet commented on #227
Attempted to work around this:

[code]

Oops.

[2016-07-16 16:10] jisbert commented on #227
I have the same error message related to libhostfxr. In my case, after a fresh installation on Ubuntu 14.04.

[2016-07-16 17:42] narenkv commented on #224
i happen to see a thread , https://github.com/dotnet/cli/issues/3199#issue-156249706

They claim that you can refer a .Net 4.5.1 from a Core Application, Could you please throw some light here please

/Naren

[2016-07-16 17:50] svick commented on #224
@narenkv That question is using ASP.NET Core and .Net Core CLI (the `dotnet` command), but the application is targeting .Net Framework, not .Net Core. You can use .Net Framework libraries from such application. (Yes, it's confusing.)

[2016-07-16 19:40] danielcor commented on #227
I am also seeing the same issue...    Got a brand new laptop running Mint 17.2, did an apt-get upgrade, and then install dot net, as well as Code.

Getting the exact same message when I type "dotnet new".

[2016-07-16 19:44] vtomasr5 commented on #227
I'm experimenting the same issue on Ubuntu 16.04 64bits.
Quick fix is downgrade to the previous version:
`$apt-get install dotnet-host=1.0.2-beta-000566-00-1`

[2016-07-16 21:47] jplebre commented on #227
+1 for the exact same error on Travis CI.
@vtomasr5 did that fix the issue?

[2016-07-17 01:36] juanram commented on #227
I think that web page for Ubuntu / Linux Mint install is not up to date.

1 - Please remove any previous versions of .NET Core from your system (as told on web page...)

2 - Download and install latest version from repository (using browser)

From URL:
     https://apt-mo.trafficmanager.net/repos/dotnet/pool/main/d/dotnet-dev-1.0.0-preview3-003203/
Download and install:
     dotnet-sdk-ubuntu.16.0

[2016-07-17 07:01] jfaquinojr commented on #227
@juanram the link seems to be for ubuntu 16.04, I am on ubuntu 14.04 (Mint 17.3) so when I try to install it it says "Dependency is not satisfiable: libstdc++6..."

so I went ahead with

` sudo apt-get install dotnet-hostfxr-1.0.2`

and that fixed it.

[code]

Thanks all.

[2016-07-17 07:11] jskeet commented on #227
@juanram: There's a broader point here though - even if preview3 *is* ready and available (which surprises me anyway), releasing a subset of packages which breaks anyone who has installed preview2 is a really bad idea. Ideally (IMO) anyone explicitly installing preview2 would keep preview2 anyway, but if that's not possible, the update shouldn't break them. I suspect the problem is that *some* pac

[2016-07-17 07:38] vtomasr5 commented on #227
@jplebre It dit because it was the only package that was updated from the repo. I was using `dotnet-hostfxr-1.0.1` so I updated manually `sudo apt-get install dotnet-hostfxr-1.0.2-beta-000583-00` and it solved the problem indeed.

The version (i.e. 000583-00-1) has to be the same
dotnet-host-1.0.2-beta-000583-00-1
dotnet-hostfxr_1.0.2-beta-000583-00-1

It seems to be a dependencies/packaging probl

[2016-07-17 08:32] aleks-sidorenko commented on #227
Got the same problem on Ubuntu 16.04 and
`sudo apt-get install dotnet-hostfxr-1.0.2`
fixed the problem for me too!

[2016-07-17 08:41] aleks-sidorenko commented on #208
It would be good to have really xplat XAML based UI for .NET Core, but Xamarin is definitely the way to go in xplat UI development for .NET.
However, all MS's UI xplat products for now are Javascript based: Visual Studio Code, Skype for Linux etc.
Maybe they don't believe in XAML?

[2016-07-17 09:16] juanram commented on #227
@jskeet: I agree with you. Ideally, if you do a .deb package correctly, it will satisfy all dependencies (or, at least, warn about any unresolved dependency) so I think something was not done right: maybe they missed something.
By the way, when I installed preview 3 (with GDebi), it said on the Description that it was Microsoft .NET Core 1.0.0 - SDK Preview 2 ...

@jfaquinojr:
Linux Mint 17 is bas

[2016-07-17 10:53] jplebre commented on #227
So, @aleks-sidorenko  solution worked for me, if you are stuck with travis
`install:
# Install .net using linux CLI commands
  - sudo sh -c 'echo "deb [arch=amd64] https://apt-mo.trafficmanager.net/repos/dotnet/ trusty main" > /etc/apt/sources.list.d/dotnetdev.list'
  - sudo apt-key adv --keyserver apt-mo.trafficmanager.net --recv-keys 417A0893
  - sudo apt-get update
  - sudo apt-get -qq install

[2016-07-17 12:35] juanram commented on #227
Yeah, it seems that version 1.0.1 of:
    libhostfxr.so
doesn't have the functions:
    hostfxr_load
    hostfxr_unload

so I removed 'previous' version (dotnet-dev-1.0.0-preview3-003203) with the script, and then
    sudo apt-get autoremove
    sudo apt-get autoclean

just to clean all, and then I reinstalled dot-net-dev-1.0.0-preview2-003121 as jplebre tells:

    sudo apt-get install dotnet-dev

[2016-07-17 13:03] narenkv commented on #224
Hope some one posts a sample soon in github

[2016-07-17 21:26] sb421 opened #228 "Building Console App on Windows, Deploying to Ubuntu 14.04"
I am building a console app on Windows using VS2015 with .NetCore Tools.

How do I port this app to Linux?

I am able to build and run this app in VS using the .Net Core project.

I ran dotnet publish and copied the files over to Linux.  Do I need to manually fix up the one of the json config files?  Is there a way to automate this?

Thanks

[2016-07-17 22:00] svick commented on #228
If it's a [portable application](https://docs.microsoft.com/en-us/dotnet/articles/core/app-types#portable-applications), using `dotnet publish` and then running it with `dotnet yourapp.dll` should just work.

If it's a [self-contained application](https://docs.microsoft.com/en-us/dotnet/articles/core/app-types#self-contained-application), with the right runtime specified, then using `dotnet publis

[2016-07-17 22:18] sb421 commented on #228
Is is a portable application.  With I run it with dotnet my.dll it says run with Visual Studio

![image](https://cloud.githubusercontent.com/assets/20506001/16903382/8babbc10-4c4a-11e6-82a0-6aed25435868.png)

Here is my project json:
{
  "version": "1.0.0-*",
  "buildOptions": {
    "emitEntryPoint": true
  },

  "dependencies": {
    "Microsoft.NETCore.App": {
      "type": "platform",
      "ver

[2016-07-17 23:02] Petermarcu commented on #228
Did you try "dotnet App.dll"?

[2016-07-17 23:10] sb421 commented on #228
Nevermind, it is working.

[2016-07-17 23:10] #228 closed

[2016-07-18 13:16] hanpari opened #229 "What is .NET Core link not working"
On the main page there are two links:

# Get Started

    If you're new to .NET Core and have 10 minutes to try it, start here:

        What is .NET Core?
        Get Started with .NET Core on Windows, OSX and Linux

Both leads here:
https://www.microsoft.com/net/core#windows

**I suppose the first one is incorrect. At least it is not explaining what is .NET Core**

[2016-07-19 06:27] OskarKlintrot commented on #140
So it works to run an ASP.NET Core app on Raspberry Pi but not building the source code?

[2016-07-19 16:34] PAStheLoD commented on #172
Hello!

This seems to be the same null pointer reference I got. (I ran `dotnet new` a few times and managed to get a .NET stacktrace.)

Ubuntu xenial, kernel:  4.7.0-999-generic #201606292202 SMP Thu Jun 30 02:04:20 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

dotnet --version: 1.0.0-preview2-003121

[code]

End of a strace trace (maybe you're interested):

[code]

Sadly GDB gives no interesting hints

[2016-07-19 16:49] neyromant commented on #140
@OskarKlintrot, I'm not imagine how to do it.
For example, on another computer I'm doing:
[code]
As a result, I get app.dll file.
How to run it on Raspberry, if вotnet does not work?

dotnet run app.dll?
[code]
Note: On raspberн not installed mono. I want to run the .net core programs without mono.

[2016-07-19 17:14] mellinoe commented on #172
Unfortunately, I think this is the problem. There's a known issue with kernel versions > 4.6 which can result in a seg-fault similar to the one you're seeing. We already have a fix for the issue, but current builds of the product haven't shipped with it yet. We should have a new version that fixes the issue soon, but until then there's not really a workaround that I know of (other than a different

[2016-07-19 18:20] PAStheLoD commented on #172
Thanks for the blazing fast response!

Using `COMPlus_INTERNAL_ThreadSuspendInjection=0 dotnet new` works as expected.

[2016-07-19 19:56] blackdwarf commented on #227
Ongoing development activity pushed a package to that feed which was incompatible with released versions of dotnet. Sorry about this. In order to resolve this, we've created a new feed called "dotnet-release" that will contain **only the stable bits**. It is recommended that you start using this feed in your CI scripts or on your dev machines. The getting started instructions on https://dot.net/co

[2016-07-19 20:54] blackdwarf commented on #133
@MarkPieszak is there any update on this?

[2016-07-19 20:57] neyromant commented on #133
@blackdwarf , I upgraded to the RTM , but the problem has not disappeared . It does not interfere with the work , but the label and warning icon confused me.

[2016-07-19 21:10] blackdwarf commented on #229
This is fixed by #225 .

[2016-07-19 21:10] #229 closed

[2016-07-19 21:12] blackdwarf commented on #219
@MatthewR can you share your project.json?

[2016-07-19 21:25] mellinoe commented on #172
Great, sorry about the inconvenience. A new version with the bug fixed should be available before too long.

[2016-07-19 21:29] blackdwarf commented on #172
@PAStheLoD given @mellinoe answer, I will close this issue. If you feel it was in error, please reopen.

[2016-07-19 21:29] #172 closed

[2016-07-19 21:31] blackdwarf commented on #13
I will close this one as we have the docs.

[2016-07-19 21:31] #13 closed

[2016-07-19 21:31] blackdwarf commented on #108
@daviatorstorm is this still reproing with the latest tools/bits?

[2016-07-19 21:32] MarkPieszak commented on #133
I'm still experiencing this with RTM as well, but read something today that potentially this might be linked with using `nvm` or some type of node version manager. I'm going to try removing the nvm and uninstalling/reinstalling node, and giving it another shot. I'll get back to you in the morning! @blackdwarf

In my case it won't let the project run since dotnet thinks the packages aren't installe

[2016-07-19 21:44] paulopez78 opened #230 "brew link --force openssl not working"
Hello,
When installing  [.net core](https://www.microsoft.com/net/core#macos) you have to install the openssl dependency but when trying to link with `brew link --force openssl` is not working, I've got that error:
`Linking /usr/local/Cellar/openssl/1.0.2h_1...
Error: Could not symlink share/man/man5/config.5ssl
/usr/local/share/man/man5 is not writable.`

I've found a solution just executing that

[2016-07-19 21:45] richlander commented on #208
There are a couple projects to look at:

- [Xamarin.Forms](https://www.xamarin.com/forms), also raised above.
- [AvaloniaUI](https://github.com/AvaloniaUI)

I don't think that this is quite right. There is no xplat Xaml UI stack for those teams to use. As one of the projects above supports both mobile and desktop, then that may change.

Closing, since the .NET Core team doesn't have any plans for

[2016-07-19 21:45] #208 closed

[2016-07-19 23:01] jskeet commented on #227
@blackdwarf: That's great, thanks very much. I can certainly confirm that's fixed the Noda Time build :)

[2016-07-19 23:46] blackdwarf commented on #227
@jskeet the pleasure is all mine. :)

[2016-07-19 23:55] blackdwarf commented on #223
@BingyuLiu is this issue resloved?

[2016-07-20 03:22] ryanelian opened #231 "Allow "Add Reference" to .NET Core class library that uses .NET Framework from a traditional class library"
First of all, I would like to say that I love how .NET Core projects can automatically manage package dependencies. Brilliant.

Hence I began developing projects using ASP.NET MVC Core, albeit still using the full .NET 4.5 instead of .NET Core due to various reasons. So my class libraries `project.json` often ended up like this:

[code]

Which is great and works beautifully in MVC Core land. Howev

[2016-07-20 10:04] yajiya commented on #227
@jskeet  How to set up .net core in production env. I just searched and found how to set up .net core sdk on ubuntu. IMO, for production env,  sdk is a little over weight.

[2016-07-20 11:00] MatthewR commented on #219
Just rebooted into that environment, and the system did some updates and it worked. Sorry for the fals post :$

[2016-07-20 11:00] #219 closed

[2016-07-20 12:06] jskeet commented on #227
@yajiya: That's really a question unrelated to this issue, to be honest.

[2016-07-20 12:33] svick commented on #121
@blackdwarf Yes, it still behaves exactly the same: Debugger Type: Auto does not seem to recognize that the application is using .Net Core.

[2016-07-20 13:34] blackdwarf commented on #227
@jskeet would it be OK if we closed this issue? Seems like the core underlying issue has been addressed.

@yajiya if you are thinking about how to run apps in production, we have guidance on that: https://docs.microsoft.com/en-us/dotnet/articles/core/deploying/index.

[2016-07-20 13:36] blackdwarf commented on #121
@svick all right, this seems like a problem. @gregg-miskelly do you know where we can file this issue to be more visible?

[2016-07-20 13:54] jskeet commented on #227
Yup, will close the issue now.

[2016-07-20 13:54] #227 closed

[2016-07-20 17:27] gregg-miskelly commented on #121
@blackdwarf I would suggest porting this to coreclr. Fixing this would require work from both the coreclr team and the VS debugger team.

[2016-07-20 17:29] gregg-miskelly commented on #121
/cc @tzwlai @caslan

[2016-07-20 18:01] blackdwarf commented on #230
@paulopez78 I'm of a split mind on this. On one hand, I agree with you that people will get confused by this error (which comes from the way El Capitan changes permissions on `/usr` directory) and that they would benefit from gettting this on the getting started page. On the other hand, this is not a clear tooling/.NET problem but `brew` problem. This means that we would have to match any brew kno

[2016-07-20 18:12] blackdwarf commented on #209
@yajore this issue has been opened on the dotnet/cli repo at dotnet/cli#3855. Closing this one as a duplicate. Please refer to the other issue.

[2016-07-20 18:12] #209 closed

[2016-07-20 22:55] mrmeek commented on #207
wpostma, this issue might be relevant: https://github.com/dotnet/cli/issues/2018

[2016-07-21 03:17] panyanming commented on #86
@yizhang82 @yhhno
是代理造成的原因，我开了一个翻墙软件，那个软件不稳定，把软件关了就正常安装了

[2016-07-21 03:47] blackdwarf commented on #198
@Seany84 this seems to be related to VS tooling and https://github.com/aspnet/tooling/issues seems like the correct place for it. I will close this one, can you please open it (if it still repros) on the repo I linked to? Thanks!

[2016-07-21 03:47] #198 closed

[2016-07-21 03:57] blackdwarf commented on #186
@gabrielcs the behavior is by design for the .net core tooling. However, seems like there are some problems here. Can you please move this issue to https://github.com/aspnet/tooling/issues and we will triage it appropriately from there? I will close this one. Thanks!

[2016-07-21 03:57] #186 closed

[2016-07-21 03:58] blackdwarf commented on #176
@hickford the NuGet/NuGetGallery seems like a much better place for this issue. Closing this one in favor of NuGet/NuGetGallery#3098.

[2016-07-21 03:58] #176 closed

[2016-07-21 04:00] blackdwarf commented on #183
@Thorium can you please move this issue to https://github.com/aspnet/tooling/issues? It seems like a much better place for this issue. I will close this one. Thanks!

[2016-07-21 04:00] #183 closed

[2016-07-21 04:01] blackdwarf commented on #169
@lukywong can you please move this issue to dotnet/cli if it still repros? This is a much better place for it. Thanks!

[2016-07-21 04:01] #169 closed

[2016-07-21 04:03] blackdwarf commented on #128
@jabolx ok, so it seems this is a problem. Can you file this issue on https://github.com/aspnet/tooling/issues so that proper people can look and triage it? Thanks! I will close this one.

[2016-07-21 04:03] #128 closed

[2016-07-21 04:04] blackdwarf commented on #223
Seems like this issue is not reproing anymore. Closing. If you still need help, please reopen.

[2016-07-21 04:04] #223 closed

[2016-07-21 04:05] blackdwarf commented on #158
This is now fixed.

[2016-07-21 04:05] #158 closed

[2016-07-21 04:06] blackdwarf commented on #105
@nothrow seems strange. Can you please move this issue, if it still repros, to the dotnet/cli repo? Thanks!

[2016-07-21 04:06] #105 closed

[2016-07-21 04:07] blackdwarf commented on #121
@svick can you please move this issue to dotnet/coreclr and closing this one? Thanks!

[2016-07-21 04:08] blackdwarf commented on #133
@MarkPieszak if it is still reproing, can you please move this issue to https://github.com/aspnet/tooling/issues and close this one? That repo is a much better home for it. Thanks!

[2016-07-21 04:08] blackdwarf commented on #154
@saf-itpro if this issue still repros, please open it on https://github.com/aspnet/tooling/issues. I will close this one. Thanks!

[2016-07-21 04:08] #154 closed

[2016-07-21 04:19] blackdwarf commented on #207
Thanks @mrmeek the issue you linked to seems like the same one. I will close this one as a duplicate of that one and that one also has the solution.

[2016-07-21 04:19] #207 closed

[2016-07-21 04:22] blackdwarf commented on #112
@DonSchenck since there is no reply here, I will close this issue. If this still repros, please open an issue on the dotnet/cli repo. Thanks!

[2016-07-21 04:22] #112 closed

[2016-07-21 04:58] blackdwarf commented on #185
@JoshClose does @akoeplinger response solve the problem?

[2016-07-21 05:02] JoshClose commented on #185
Yes! At least for the non-portable builds. Not sure about the portable ones, but it sounds like TFS needs to be updated for those.

[2016-07-21 05:02] #185 closed

[2016-07-21 07:23] alfeosilvestro opened #232 "Is there any documentations to install .Net Core on Windows IoT Core?"
Hi,

I am a developer and I am so excited about .Net Core release.

I would like to try it on Windows IoT Core. Since it is ARM based processor, I would like to check if current release supports IoT Core and if it is supported, is there any documentations that I can refer to?

Thanks!

[2016-07-21 08:45] paulopez78 commented on #230
@blackdwarf I agree with you it's a `brew` issue but it's the recommended way to install the dependencies in the home page for macusers. I really want to help to make dotnetcore better for macusers as in my company we're working with that setup. From my point of view I'd like to have that warning or workaround just after or before the workaround for `oh-my-zsh`, if not at least some link pointing

[2016-07-21 11:28] svick commented on #121
Added some more information, and split into https://github.com/dotnet/coreclr/issues/6380 and https://github.com/dotnet/coreclr/issues/6381.

[2016-07-21 11:28] #121 closed

[2016-07-21 12:17] MarkPieszak commented on #133
Not a problem! I'll update today if it fixes the issue as well. Thanks again Zlatko.

[2016-07-21 12:17] #133 closed

[2016-07-21 13:56] blackdwarf commented on #215
@kovalikp I believe this will be solved once we fully migrate over to msbuild in the tooling. You can read the ["Changes to project.json" blog post](https://blogs.msdn.microsoft.com/dotnet/2016/05/23/changes-to-project-json/) for more context. I will close this issue. If you feel it is still needed, can you please open it up on dotnet/cli repo? Thanks!

[2016-07-21 13:56] #215 closed

[2016-07-21 14:10] blackdwarf commented on #110
@ststeiger interesting. If this still repros, can you please file this issue in dotnet/cli? Thanks!

[2016-07-21 16:59] JoshClose commented on #185
What is the case with `"degutType": "portable"`? Will TFS support this soon?

[2016-07-21 17:35] blackdwarf commented on #230
OK, so I think that adding this to the known issues section and will be updating the site with the warning and the link. I think this is a better solution.

[2016-07-21 17:47] blackdwarf commented on #230
This is now added to the known issues: https://github.com/dotnet/core/blob/master/cli/known-issues.md#problems-using-brew-to-link-openssl-after-uprading.

[2016-07-21 20:36] DonSchenck commented on #112
Sorry I'm overwhelmed. Close it. Thanks.

[2016-07-21 23:05] leedhi opened #233 "MSI Silent Install"
Hi...  are there plans (or already something available) to make an MSI with silent install options for windows installations? The EXE currently doesn't support installing silently. I know I could use the ZIP package and add the location to the PATH. But I was hoping there was something a bit more elegant.

[2016-07-21 23:10] paulopez78 commented on #230
Thanks @blackdwarf  for the update, from my side the issue is closed.

[2016-07-21 23:10] #230 closed

[2016-07-22 08:36] OskarKlintrot commented on #140
@neyromant: Neither do I. I really hoped ASP.NET Core would work without Mono on RPi.

[2016-07-22 18:19] blackdwarf commented on #108
Closing this due to the lack of activity.

[2016-07-22 18:19] #108 closed

[2016-07-22 18:21] blackdwarf commented on #109
@zygimantas with the move to csproj, this will become a non-issue, so I'm going to close this one. If you feel this is in error, please reopen.

[2016-07-22 18:21] #109 closed

[2016-07-22 18:22] blackdwarf commented on #117
@CodeObsess I'm not sure what the problem is here based on your description. If this is still reproing for you, can you please open an issue on the dotnet/cli repo? I will close this one. Thanks!

[2016-07-22 18:22] #117 closed

[2016-07-22 18:23] blackdwarf commented on #206
@cartermp can you weigh in here? I believe the target to be used for .NET Core libraries is `netstandard1.6`.

[2016-07-22 18:58] blackdwarf commented on #136
@khionu this will be mitigated with move to msbuild and csproj. I will close this one. If you feel that this was in error, please open this issue on aspnet/tooling. Thanks!

[2016-07-22 18:58] #136 closed

[2016-07-22 20:40] cartermp commented on #206
Yep, `netstandard1.6` should be the one you try to use.

[2016-07-22 23:03] glennc commented on #226
See this issue: https://github.com/dotnet/coreclr/issues/917

[2016-07-23 03:27] jeff881208 commented on #200
No one answer this issue . So sad ? Do you have  some plan about this ?

Thanks
Jeff Du

[2016-07-23 03:28] jeff881208 commented on #200
No one answer this issue . So sad . Do you have some plan about this ?

Thanks
Jeff Du

[2016-07-23 06:03] #110 closed

[2016-07-23 06:06] blackdwarf commented on #231
@ryanelian can you please open a new issue on aspnet/tooling and close this one? That repo will be a better place for this issue. Thanks!

[2016-07-23 06:07] blackdwarf commented on #233
@leedhi can you please open this issue on dotnet/cli and close this one? That repo is a much better place for this issue.

[2016-07-23 06:09] blackdwarf commented on #232
/cc @richlander @leecow to comment on the ARM support.

[2016-07-23 06:12] blackdwarf commented on #221
I believe that with the above comments all of the questions in this issue have been addressed, so I'm going to close it. If you believe it was in error, please reopen.