[2020-10-19 22:54] cathysull opened #5395 "Epic: Deliver on the remaining .NET Core customer promises from .NET 5"
_This is a draft/proposed Epic and not committed for .NET 6.0 yet._

# Why
In .NET 5, many factors contributed to the fact that some features were developed in one area, and were not always supported across the entire stack or for all workloads. While many of these features are dialable, investing in finishing these promises will both help .NET developers to better adopt these platform features as

[2020-10-19 23:26] cathysull opened #5396 "Epic: Path to migrate an app from Framework to .NET 6.0 is well understood and streamlined"
The team has just released (on 2/25) a Preview of a tool to help developers migrate their .NET Framework apps to .NET 5.

Take a look at the tool here (and share your thoughts and feedback in that repo).

https://github.com/dotnet/upgrade-assistant

# User Stories

- [ ] As a developer, I get compile time diagnostics for unsupported APIs https://github.com/dotnet/runtime/issues/47228

[2020-10-20 00:01] samsp-msft opened #5397 "Theme: .NET is recognized as a compelling framework for building cloud native apps"
Today, .NET is seen as a stack for enterprises building LOB applications. “.NET is for people who work at banks” is not uncommon feedback in our customer interviews. We plan to change that by building great fundamentals and investing in OSS ecosystems that give us a platform to reach new customer bases. At the same time our existing enterprise customers want to become more Cloud Native, and we nee

[2020-10-20 13:23] MarkTMcp opened #5399 "Validator.TryValidateObject failed"
Under RC2 the following exception is raised trying to validate an instance of an EF entity:
Either ErrorMessageString or ErrorMessageResourceName must be set, but not both.
This worked correctly in RC1
`            try
            {
                var validationResults = new List<ValidationResult>();
                if (!Validator.TryValidateObject(Task, new ValidationContext(Task), validationRes

[2020-10-20 17:01] GlenCooper opened #5400 "Problem trying to install dotnet on armv7l using snap"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: linux

[code]

I'm giving up.  I'm tired.  Any suggestions here would be appreciated.

[2020-10-20 19:06] mairaw commented on #5399
@JeremyLikness @ajcvickers would this be your area?

[2020-10-20 19:09] ajcvickers commented on #5399
@mairaw This isn't related to EF. It could be related to the validation change that @pranavkm made for Blazer. /cc @mkArtakMSFT

[2020-10-20 19:30] scalablecory commented on #5391
Can you provide more info? What did you run that caused the exception?

Note that ::1 will only connect to a service in docker if you're using ::1 specifically *inside* the docker image.

[2020-10-20 19:33] scalablecory commented on #5393
Looks like Jeremy answered; closing.

[2020-10-20 19:33] #5393 closed

[2020-10-20 19:34] scalablecory commented on #5383
Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-10-20 21:22] Hardcore-fs opened #5402 "it DOES NOT deploy correct path on osx reliably"
after running install ,the files are in teh location expected

but issuing the "dotnet" command at a teminal

$dotnet
bash: dotnet: command not found

[2020-10-20 22:56] GlenCooper commented on #5351
Wish my failed install got that far.  Looks like your dotnet install is working.

[2020-10-20 23:19] ahoirg opened #5403 ".net core 3.1 doesnt work 32bit Linux OS"
I installed Lubuntu 16.04 LTS 32bit on virtual machine. Package manager installs are only supported on the x64 architecture. Therefore, i followed the manual installation steps.

I downloaded the version for ARM32 since it is on a 32 bit operating system. Calling "dotnet" from the console failed.
bash: /home/ali/dotnet/dotnet: cannot execute binary file: Exec format error

Is there any way I can u

[2020-10-21 07:10] mairaw commented on #5351
What's the problem you're having @GlenCooper? Do you want to open a new issue with the details so we can sort that out?
What OS, error message, etc?

And @shalaan66 let me know if you managed to continue the tutorial since your installation seems good from what I can see.

[2020-10-21 11:03] GlenCooper commented on #5351
@mairaw https://github.com/dotnet/core/issues/5400

[2020-10-21 11:26] jsandv opened #5404 ".NET 5 RC2 WPF self-contained, single exe publish fails if its using assets from another .net 5 wpf project"
When referring to a UserControl from another .net core 3.1 wpf project, the main project publish is successful.

When referring to a UserControl from another .net 5 wpf project, the main project publish fails, and outputs:

_Could not copy the file "..\singlefilehost.exe" because it was not found._

Main project csproj:
[code]

[2020-10-21 15:28] mairaw commented on #5400
@dagood @leecow can you help?

[2020-10-21 15:34] rbhanda commented on #5345
@joeloff Can you help here with .NET 5 RC2 SDK installation failure?

[2020-10-21 15:51] joeloff commented on #5345
@reinux can you try deleting this file: C:\ProgramData\Package Cache\{35392F9B-1C64-368F-BBE1-CDFD0B381B94}v5.0.0.0\AspNetCoreSharedFramework-x64.msi

Then run repair again

[2020-10-21 16:08] dagood commented on #5400
@GlenCooper which instructions were you following? It looks like you didn't end up entering this command for the `dotnet` alias:

[code]

From e.g. https://docs.microsoft.com/en-us/dotnet/core/install/linux-ubuntu#snap

However this error suggests that for some reason `dotnet` is pointing to something, just something wrong:

[code]

One non-obvious reason for "not found" is that the file could exi

[2020-10-21 16:13] rbhanda commented on #5400
From the instructions in [release notes](https://github.com/dotnet/core/blob/master/release-notes/3.1/3.1.9/3.1.9-install-instructions.md#install-using-snap) you should try to install .NET Core using snap by running:

`sudo snap install dotnet-sdk --channel 3.1/stable --classic`
 and
`sudo snap alias dotnet-sdk.dotnet dotnet`

[2020-10-21 18:22] waldimen commented on #5345
Installed snap version of .NET 5 RC2 SDK on Kubuntu 20.04. When I try to run dotnet-sdk.dotnet build for a new console application I get MSB3644 error about not finding .NETFramework,Version=v5.0 references.

Also the error message is in polish language, can I set it to English without changing language for the whole desktop ?

[2020-10-21 18:59] svick commented on #5345
@waldimen That's the error you get when you try to compile a .Net 5.0 project using an older SDK. Did you follow [the guide](https://github.com/dotnet/core/blob/master/release-notes/5.0/preview/5.0.0-rc.2-install-instructions.md#install-using-snap) and ran `sudo snap alias dotnet-sdk.dotnet dotnet`?

[2020-10-21 19:06] waldimen commented on #5345
@svick I resolved it, it was caused by variable MSBuildSDKsPath set to net 3.1

[2020-10-21 20:59] NikolaMilosavljevic commented on #5400
@GlenCooper it seems that you are installing armv7l which is not supported as a Snap. I'll work with @rbhanda to clarify why it's showing as supported on Snap site.

You can try installing on armv7l using the options listed here: https://docs.microsoft.com/en-us/dotnet/core/install/linux-ubuntu#manual-install

[2020-10-21 22:24] carlossanlop commented on #5403
There is no 32 bit installer for Linux
https://dotnet.microsoft.com/download/dotnet-core/3.1
https://dotnet.microsoft.com/download/dotnet/5.0

32 bit is not the same as ARM32, those are two different architectures.

@dagood what is the recommended thing to do here? I suspect it is to instead install Lubuntu in 64 bit.

[2020-10-21 22:58] carlossanlop commented on #5402
Did you close and reopen the command line terminal after installation?

[2020-10-22 01:38] HymanZHAN commented on #5212
@dagood Sorry to comment on a closed issue, but I am curious if there'are conflicts between Fedora/CentOS-built ones and Microsoft-built ones, how can I use the one built by Microsoft? I am asking because the Fedora one is still on 3.1.108 which does not come with WASM templates OOB and I want to use the latest 3.1.403. Thanks!

[2020-10-22 02:43] justj1979 opened #5405 "build errors"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/run
Operating System: windows
[code]

[2020-10-22 02:44] justj1979 commented on #5405
I have no idea how to fix this.  I have tried uninstalling the application and reloading it.  But that did not work.

[2020-10-22 11:46] Hardcore-fs commented on #5402
Yep.....
I found it !!!!!!
it is how you deal with adding the path to the bash script..., sometimes it completely fails to append the script
so of course it cannot work., nothing to do with the terminal...
after manually modifying the script it is fixed...

I strongly suspect it is down to "GPG suite" on mac ,since that's the last entry on the bash script

[2020-10-22 14:41] omajid commented on #5212
One way to do that is to exclude (aka disable) these packages from the Fedora repo. Then you can install them using the Microsoft repo or through a manual tarball.

Adding this line under `[fedora]` and `[updates]` in `/etc/yum.repos.d/fedora.repo` and `/etc/yum.repos.d/fedora-updates.repo` should do the trick:

[code]

Here's what the files look like on my end after making this change:

`/etc/yum

[2020-10-22 15:06] rgwood commented on #5396
A story suggestion for this epic (or a related one?): **Office VSTO add-ins can be ported to .NET 5/6**. Until this is possible many enterprise devs will remain stuck on Framework.

[2020-10-22 15:41] dagood commented on #5403
I don't know of a recommendation here, unfortunately--`linux-x86` is simply not supported. I think https://github.com/dotnet/runtime/issues/7335 is the central issue tracking adding it in the future.

(If it helps clear things up: ARM32 is a weirdly Microsoft-specific way to say `armhf`. Linux distros tend to say `armhf` or just ARM when they're talking about that processor architecture.)

[2020-10-22 15:41] #5403 closed

[2020-10-22 17:09] HymanZHAN commented on #5212
@omajid Thanks! I will give it a try.

[2020-10-22 18:16] mbendtsen opened #5406 "HttpClient first request is slow everytime a new instance is created"
# HttpClient first request is slow everytime a new instance is created

There is a difference in how `HttpClient` works in net48 and netcoreapp3.1.

**NET48:**
The first request takes around 2 sec and all new request is below 40 ms. If a new instance of `HttpClient` is created, request is still 40 ms.

**NETCOREAPP3.1**
The first request takes around 2 sec, and all new request is below 40 ms. If a

[2020-10-22 18:34] carlossanlop commented on #5402
Thanks for taking a deeper look, @Hardcore-fs

@wli3 @dsplaisted is this something we should look into on our side?

[2020-10-22 18:34] mbendtsen commented on #5406
Please delete this, I made a mistake. Seems like it is the server that has an issue

[2020-10-22 18:57] dsplaisted commented on #5402
Was this installed via the dotnet-install script?  If so, then we should move the issue to https://github.com/dotnet/install-scripts

[2020-10-22 19:01] mbendtsen commented on #5406
I found out, that is only an issue when calling Couchbase Server.

[2020-10-22 20:07] jcddcjjcd opened #5407 "net5.0 System.Windows.Forms.ListView no longer displays LargeIcon"
Sample code below works with a ListView in dotnet 4.8 and netcore3.1 but not in netcore5.0

The form the for code below is simply a button and a ListView displaying in LargeIcon mode:

using System;
using System.Collections.Generic;
using System.ComponentModel;
using System.Data;
using System.Diagnostics;
using System.Drawing;
using System.IO;
using System.Linq;
using System.Text;
using System.Thr

[2020-10-22 20:07] #5332 closed

[2020-10-22 20:38] glennc opened #5408 "Provide an API experience that scales down well and is easier to learn"
Title: Provide an API experience that scales down well and is easier to learn

ASP.NET Core does not provide a smooth way to scale an API down. We provide MVC which has lots of features, but also lots of concepts to learn. We want to provide experiences for building APIs that can start simpler, with a clearer getting started experience, and can smoothly progress to controllers if desired.

Our res

[2020-10-22 21:46] daz10000 opened #5409 "PublishSingleFile results in executble that can't decode"
# Issue Title

A binary that previously published happily in 5.0-R1 now publishes a binary that can't decompress.  I am moderately confident that it's a behaviour change between RC1 and RC2  (see later comments - I did manage to get a hello world reproduction of the problem)

# General

we are using single file publishing to produce an executable from an F# .net core app that is consumed by the en

[2020-10-22 21:54] daz10000 commented on #5409
As as addendum, copying `clrcompression.dll` along with the "single file" executable helps it get further - it complaints next that `clrjit.dll` is missing, then when that is supplied `coreclr.dll`.  Copying over all of these finally gets a running "standalone" binary

[code]

For what it's worth, this is the header for the project file,  I think the settings are all fine

[code]

[2020-10-22 22:01] daz10000 commented on #5409
In an empty folder (e.g. tmp) run

`dotnet new console -lang F#`

Publish as a singlefile, self contained binary

` dotnet publish -c Release --self-contained true -p:PublishTrimmed=true -p:PublishSingleFile=true -r win-x64`

Copy the "standalone binary" into a new test folder

[code]

Here is the full transcript in git bash

[code]

And for reference, installed versions

[code]

[2020-10-22 22:12] #5316 closed

[2020-10-22 22:12] #5330 closed

[2020-10-22 22:19] daz10000 commented on #5409
Final comment - I went back to 3.1.403 to get this shipped to customer and the publish folder contains just an exe file,  whereas publishing with RC2 was leaving the extra dlls separate, so I assumed RC2 somehow isn't taking the singlefile part seriously and leaving some dlls outside the package.

[2020-10-22 22:38] terrajobst opened #5410 "Epic: Make sure .NET is continuously improved"
### Summary

We'll use this epic to collect bottom-up improvements coming from the engineering team.

### User Stories

User Stories under this Epic:

- [ ] [Title of the linked User Story](hyperlink to the User Story issue).

[2020-10-22 23:45] Hardcore-fs commented on #5402
it was installed by downloading the MS installer from the web site.
But i also think their 3.X installer suffers the SAME problem.

because i tried that first & it worked on some machines, but not others
then i tried the 5.x and the same result...

[2020-10-23 03:24] bradygaster opened #5411 "As an HTTP API developer using Open API to enable code-generated clients, my APIs include an opinionated to ensure operationId attributes are created for each Web API controller method"
# Issue Title

Be as descriptive as you can with your title.

# General

Provide details on the problem you are experiencing including the .NET Core version, operating system version and anything else that is relevant.

Please provide a code sample for your issue if it is relevant, either inline, link to a gist (or similar) or add it as a zipped attachment.

For some issues, you will get a quicker

[2020-10-23 05:11] danaeellaprogramiz opened #5412 "The commands does not work"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/create
Operating System: Windows

The commands in the command prompt does not work

[2020-10-23 05:18] zeracorona commented on #5412
I'm really interested in learning ASP, so I would love answers to this issue

[2020-10-23 05:28] zeracorona commented on #5412
I can't find the myWebApp directory

[2020-10-23 05:42] serensk opened #5413 "dot net beginners"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/modify
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-10-23 05:47] zeracorona opened #5414 "C++ questions"
I don't know which IDE to install. Is it Visual Studio I should use? And what are the options I should set in the beginning? Also, I hear a voice from my computer that says "nothingness is surrounded", I think it's kinda annoyin.

[2020-10-23 09:48] mbendtsen commented on #5406
There is one difference: Couchbase returns `Cache-Control=no-store, must-revalidate, no-cache` in response headers. Does this impact how `HttpClient` does connection pooling?

[2020-10-23 16:03] antonGritsenko commented on #5021
It just doesn't work in the .net core 3.x. Super simple example:

[code]

Reference: System.Security.Principal.Windows 4.7.0

This raise exception:
[code]

Weird things: the `userName` variable is correct. If remove the `Console.WriteLine` then no exception.
Similar exception if replace `Console` to `Debug`:
[code]

[2020-10-23 16:31] #5336 closed

[2020-10-23 16:31] #5191 closed

[2020-10-23 16:57] SirUppyPancakes commented on #4600
Yeah 200mb+ deployments are flat out unacceptable in my opinion, especially if you're distributing multiple independent apps. Coming over to WPF on NET Core from NET Framework, I have to say that knowing that my pretty much 100% of my users are going to be running into the new "you need to install NET Core to run this app", as opposed to before where only the offline users or those who didn't run

[2020-10-23 18:40] vitek-karas commented on #5189
The trimming tool - called "illink" (from mono/linker repo) can technically do this (there could be bugs, this is not something we test), the problem is that it needs a large and correct set of inputs on the command line. That's what the trimming support in SDK does and that is definitely not able to handle that scenario. More generally - SDK is simply not able to handle situation like the one you

[2020-10-23 18:40] terrajobst opened #5415 "Theme: Grow the .NET ecosystem through increased Quality, Confidence, and Support"
### Summary

There is a [.NET Foundation sponsored working group](https://github.com/dotnet-foundation/ecosystem-growth) that tries to figure out what should be done here. The problem statement from our perspective [is here](https://github.com/microsoft/dotnet/blob/master/docs/ecosystem-issues.md).

### Epics

Epics under this Theme:

- [ ] [Developers have access to guidance & tools that supports

[2020-10-23 18:42] vitek-karas commented on #5412
Can you please provide a bit more detail?
* What version of .NET Core you installed (you can run `dotnet --info` to get that information)
* What is the exact error you get
* Do you follow the example or did you do something slightly different

[2020-10-23 18:43] vitek-karas commented on #5413
Please provide the information mentioned in the issue template (it's actually in your issue above), without it it's impossible for us to tell what's wrong.

[2020-10-23 18:51] vitek-karas commented on #5409
In .NET 5 the single-file publish may produce more than one file and it's by design. See the expected behavior described here: https://github.com/dotnet/designs/blob/main/accepted/2020/single-file/design.md#user-experience

In 3.1 single-file is basically just a self-extracting executable - it writes everything into temp and runs from there. As such for the running app nothing really changes (ever

[2020-10-23 18:52] GrabYourPitchforks commented on #5021
@antonGritsenko Please open a new issue for this if you're experiencing a problem here. Though I suspect in your case it has to do with that files like _System.Runtime.Extensions.dll_ are sitting in a local folder and ACLed to your local user account, and _testuser@mydomain.local_ doesn't have read access to the folder containing these libraries.

[2020-10-23 19:02] vitek-karas commented on #5386
I tried this on both 3.1 and 5. On 3.1 I can repro the problem. On 5 (5.0.100-rc.2.20479.15) it works as expected.
I built the app in Debug configuration (works everywhere) and then in Release configuration (works on 5, doesn't work on 3.1). On 3.1 I actually see the app hang sometimes.

@AndyAyersMS does this seem like something we fixed in 5?

[2020-10-23 19:04] vitek-karas commented on #5379
Installing just VS Code does not install .NET Core. Please go to https://dotnet.microsoft.com/download and install the .NET Core SDK and then it should work.

If you did install .NET Core SDK already, then your PATH should point to the install location (typically in C:\Program Files\dotnet).

[2020-10-23 19:08] AndyAyersMS commented on #5386
At first glance, it does not look familiar. Let me dig a bit deeper.

[2020-10-23 19:13] vitek-karas commented on #5338
This is a known problem - no Win32 resources will be added to the executable if built on non-Windows platform.

[2020-10-23 19:24] mairaw commented on #5338
@vitek-karas is this by design or is there another issue capturing that?

[2020-10-23 19:51] AndyAyersMS commented on #5386
The 3.0 codegen for the while loop is clearly wrong
[code]
Looks like the proximate issue comes from CSE, though this CSE was set up by hoisting. Perhaps a problem with value numbering and/or ssa memory states?

In 5.0 codegen is ok:
[code]
@briansull does this look familiar to you?

[2020-10-23 19:56] daz10000 commented on #5409
Thanks - appreciate the explanation.  Did this change between RC1 and RC2?  I swear we successfully deployed a single file executable off RC1 a couple of weeks agao?  The whole single file experience has been pretty bumpy.  It's super useful - we support a lot of users who want a simple artifact they can use (and that means an actual single file single file).  We were burned by the older 3.1 extra

[2020-10-23 20:33] vitek-karas commented on #5409
I know the name of the feature is wrong (it's actually unlikely we will ever be able to do true single-file for all apps, without extraction, it's just too hard) - unfortunately we're stuck with it (renaming would be even worse I think).

We did fix quite a few issues around the self-extract in 3.1.4 - try to get the latest 3.1 SDK and rebuild your app with it. It's not perfect, but it's better. O

[2020-10-23 20:43] vitek-karas commented on #5338
There is an issue - I just can't find it right now :sad:

[2020-10-23 20:45] vitek-karas commented on #5338
Finally found it - at least one (there are many copies of this, I'm trying to consolidate): https://github.com/dotnet/runtime/issues/3828

[2020-10-23 21:21] mairaw commented on #5338
Thanks @vitek-karas. So closing this one as a duplicate.

[2020-10-23 21:21] #5338 closed

[2020-10-23 22:06] zeracorona commented on #5412
I want to learn C++ instead :)

[2020-10-23 22:09] zeracorona commented on #5414
I closed my Facebook account, there just seem to be a lot of problems with it. I have a psychosis, but I love programming. The voices has been really weird today :(

[2020-10-23 22:11] zeracorona commented on #5414
I have installed Visual Studio Community 2019, but the voices talk so weird since I began reading the book

[2020-10-23 22:16] vitek-karas commented on #5412
Hope you like it. We'll be happy to see you whenever you decide to give .NET a second try.

[2020-10-23 23:03] zeracorona commented on #5414
I have a lot of problems with police, programming my game. I also want to make a text editor with C++ support, a calendar and a browser. The voice I talked about earlier I hear all the time when I call to mom, and it's since I began studying C++

[2020-10-23 23:13] mairaw commented on #5412
You have to run the commands one after the other @zeracorona. I've been thinking if we should split them into two separate sections to make it easier. Would that make it easier to understand?

[2020-10-23 23:14] zeracorona commented on #5412
Version 3.1.403, seems kinda low

The error I get is in step 2 of the ASP.NET introduction to installing, the files are created but I can't find Pages/cshtml

[2020-10-23 23:15] mairaw commented on #5414
We can't help with the voices but hopefully this tutorial on the C++ docs will help you to get started: https://docs.microsoft.com/en-us/cpp/build/vscpp-step-0-installation?view=vs-2019

[2020-10-23 23:15] #5414 closed

[2020-10-23 23:25] mairaw commented on #5412
You can see at https://dotnet.microsoft.com/download/dotnet-core/3.1 that 3.1.403 is the latest SDK version, so that's correct.

They should be inside the myWebApp folder. Did you cd into the directory? You mentioned in the other issue that you installed Visual Studio, you could open the project in VS to better see it.

[2020-10-24 00:11] antonGritsenko commented on #5021
@GrabYourPitchforks its definitely not the case: this test user can run this app from same location. I found workaround: you have to load assembly with calling method before the impersonation, so this will work:

[code]
May be author had the same issue. I will play around of this and if I will find more I will create a new issue

[2020-10-24 01:32] zeracorona commented on #5412
Yes

[2020-10-24 02:49] zeracorona commented on #5412
The voices stopped when I quit mailing registrator.vast@polisen.se

[2020-10-24 02:49] zeracorona commented on #5412
But I still want to learn ASP.NET

[2020-10-24 07:14] yb101 opened #5417 "Unable to run dotnet core in AWS ARM based instance (e.g. A1, C6g)"
# Issue Title

Unable to run dotnet core in AWS ARM based instance (e.g. A1, C6g)

# General

I was trying to run ".NET Core 3.1 SDK (v3.1.403) - Linux ARM64 Binaries" in AWS ARM based instance, e.g. A1, C6g. But get below error msg. Does anyone else experience it? Is there a resolution?

[ec2-user@ip-172-31-27-186 dotnet_3]$ ./dotnet -h
Process terminated. Couldn't find a valid ICU package instal

[2020-10-24 07:16] yb101 commented on #5417
To add EC2 AMI name

 amzn2-ami-hvm-2.0.20200917.0-arm64-gp2

[2020-10-24 07:40] yb101 commented on #5417
Oh. I found the way. Should add below

 "configProperties": {
      "System.Globalization.Invariant": true
    }

to sdk/3.1.403/dotnet.runtimeconfig.json file.
To make final content like:

{
  "runtimeOptions": {
    "tfm": "netcoreapp3.1",
    "framework": {
      "name": "Microsoft.NETCore.App",
      "version": "3.1.9"
    },
    "configProperties": {
      "System.Globalization.Invariant": tr

[2020-10-24 09:56] favill42 commented on #5278
I’m also experiencing this issue when using the latest version of the driver in a C# AWS Lambda Application.

[2020-10-24 10:32] AdioleDivine opened #5418 "Command prompt dotnet information issue needs-more-info"
# Issue Title

Be as descriptive as you can with your title.

# General

Provide details on the problem you are experiencing including the .NET Core version, operating system version and anything else that is relevant.

Please provide a code sample for your issue if it is relevant, either inline, link to a gist (or similar) or add it as a zipped attachment.

For some issues, you will get a quicker

[2020-10-25 05:24] dehghani-mehdi opened #5419 "[v5] Size of self-contained output for HelloWorld app is 52MB, is that the goal of v5?"
[code]

I just see https://devblogs.microsoft.com/dotnet/app-trimming-in-net-5/, seems like there is more options to consider, I'll try them and will report here if there was any issue.

[2020-10-25 05:33] #5419 closed

[2020-10-25 09:22] GlenCooper commented on #5400
Thank you everyone, especially @NikolaMilosavljevic.  I can confirm that the box I was trying to set this up on was a 32bit ARM (specifically: ODROID HC2 : Home Cloud Two, by 3DMakerWorld, Inc., https://www.amazon.com/dp/B0794DG2WF/ref=cm_sw_em_r_mt_dp_BbuLFbPV3X0TX?_encoding=UTF8&psc=1).

I downloaded the ARM32 binary manually and no longer have the errors:

[code]

[2020-10-25 09:22] #5400 closed

[2020-10-25 12:23] OmidID opened #5420 "app.Map is broken in .Net 5 RC2 (Blazor)"
app.Map is broken in .Net 5 RC2 (Blazor)

Update from RC1 to RC2 and find out the app.Map is getting confused. I have a MVC application and for admin panel I using blazor.

[code]

The URL `/manager/_framework/blazor.webassembly.js` return the fallback view. Then I update my fallback view without `/manager` in the script tag ( `<script src="/_framework/blazor.webassembly.js"></script>` ) and then

[2020-10-25 12:31] #5420 closed

[2020-10-25 13:39] misaz opened #5421 "Support installing dotnet runtime and SDK using package manager on non-x64 systems."
Is possible make dotnet-runtime and dotnet-sdk packages (deb) availaible for non-x64 architectures like arm64 and armhf?

According to https://docs.microsoft.com/en-us/dotnet/core/install/linux-debian (or the same page for Ubuntu), there are restriction

What is reason for that restriction? Is possible to make dotnet availabile for install on non-x64 systems? Repositories looks like they supports

[2020-10-25 17:33] dagood commented on #5421
It is possible, it's just a matter of development time now. ARM64 is tracked by https://github.com/dotnet/runtime/issues/3298, and armhf ("ARM32") is tracked by https://github.com/dotnet/runtime/issues/3263.

[2020-10-25 17:34] dagood commented on #5421
Closing: this is covered by https://github.com/dotnet/runtime/issues/3298 / https://github.com/dotnet/runtime/issues/3263.

[2020-10-25 17:34] #5421 closed

[2020-10-25 17:54] daz10000 commented on #5409
Thanks! - will do and appreciate the thoughtful replies.  I understand the challenges.  The "singe file" support in the 3 series has been really useful for shipping artifacts to customers, even with all the imperfections.  Thanks for all the hard work.

[2020-10-25 17:54] #5409 closed

[2020-10-26 17:04] leecow opened #5422 ".NET Release PMs can easily and reliably publish Linux installers to packages.microsoft.com"
# As a .NET Release PM, I can easily and reliably publish Linux installers to packages.microsoft.com so that the installers are available at release publishing time to customers.

## Summary

Currently, Linux installer publishing is accomplished using manually executed scripts to drive the repoclient client tool (maintained by CSD). The repoclient and associated ingestion system continues to have

[2020-10-26 18:08] maddymontaquila opened #5423 "Theme: .NET has a great client app development experience"
### Summary

With .NET 6, we want to bring mobile developers forward to a unified .NET development experience and enable developers investing today in web and client development experiences to bring those investments to the desktop. In .NET 6, we will be integrating Xamarin into the .NET SDK, bringing support for the latest project system, BCL, and Target Framework Monikers to align with the rest

[2020-10-26 21:29] glennc opened #5424 ".NET developers can use common Cloud Native OSS"
There are many OSS libraries that commonly appear when building modern Cloud Native applications. The [CNCF Landscape](https://landscape.cncf.io/) is one view of that, but other libraries are commonly used as well.

As part of making sure that .NET is seen as suitable for Cloud Native applications we should spend some amount of effort in making sure that when a .NET developer reaches for common li

[2020-10-26 23:08] doug62 commented on #4584
I'm also looking for something like this - i have a background service that updates a bitmap - i wish to stream that to subscribers.

[2020-10-27 00:49] mairaw commented on #5418
Can you provide more information @AdioleDivine? I don't really understand what this issue is about just with the title.

[2020-10-27 00:57] mairaw commented on #5379
Let us know if you have or not the SDK already installed.

[2020-10-27 01:13] mairaw commented on #5392
@nishanil @shirhatti can you help with this issue?

[2020-10-27 03:30] djluck opened #5425 "libcoreclr.so!EventPipeInternal::GetNextEvent high CPU use"
# Issue Title
When using `EventListener` over prolonged periods of time, CPU consumption slowly climbs until majority of CPU time is spent forwarding events.

# General

.NET core version: v3.1.3
OS: Docker on linux (base image= `mcr.microsoft.com/dotnet/core/aspnet:3.1.3-bionic`)

When using the [prometheus-net.DotNetRuntime](https://github.com/djluck/prometheus-net.DotNetRuntime) package to capt

[2020-10-27 04:17] shirhatti commented on #5392
@dhananjaypverma

[2020-10-27 10:46] AdamRiddick commented on #5123
Hi @joeloff, we did try with /norestart but to no avail.

[2020-10-27 11:07] tmds commented on #3989
A leak in `Process.Start` was fixed in .NET Core 3.1.7: https://github.com/dotnet/corefx/pull/42941, https://github.com/dotnet/runtime/issues/36661.

[2020-10-27 13:19] mdisg commented on #3989
I verified the fix with a quick test using .NET Core 3.1.9 using the sample code. The memory leak is no gone.

[2020-10-27 13:36] ThomasBoettcherHolschen commented on #3989
Thanks a lot! Great news!

[2020-10-27 13:36] rickge opened #5426 "IPv4InterfaceStatistics OutputQueueLength in Linux seems to be a maximum size rather than current output length"
I'm using dotnet core in Linux (version 3.1.9) with the following code:
[code]
The value for output queue length is always 1000 when this code runs on Ubuntu 19.04, but is typically 0 when run in Windows. I'm guessing the output queue length in Linux isn't the current queue fill size as the property description indicates when running in Linux?

[2020-10-27 13:49] BranigansLaw opened #5427 ".NET 5 Blazor Server App ObjectResult "Accept" header not being respected"
# Issue Title

I'm creating a controller in a .NET 5 Blazor Server App, and the OkObjectResult I'm returning from my controller is always returning JSON, even when I set Accepts: application/xml.

# General

.NET Core Version:  5.0.0-rc.2.20475.17
Visual Studio Version: 16.8.0 Preview 5.0
Windows Version: 10.0.19041 Build 19041

I have just started a new Blazor Server App and I'm running into issu

[2020-10-27 13:55] BranigansLaw commented on #5427
I figured out the issue right after posting. If I return a defined object:
[code]

instead of an anonymous object
[code]

Everything works as expected.

[2020-10-27 13:55] #5427 closed

[2020-10-27 16:41] mrhuo opened #5428 "ServiceHub.DataWarehouseHost.exe has a memory leak bug"
# Issue Title

`ServiceHub.DataWarehouseHost.exe` has a memory leak bug

# General

When I debug a dotnet program, the ServiceHub.DataWarehouseHost.exe taking up more and more memory.

[code]

Now it takes **3.6gb** memory. It's seems a BUG.
But when I restart vs the problem gone.

-------
Adding after some minutes, but I do nothing...

[code]
**3.7gb**

-------
Adding after some minutes

[code]
*

[2020-10-27 17:10] danmosemsft commented on #5410
@carlossanlop yup, you can add a checkbox for it above then it will link up in https://dotnetepics.azurewebsites.net/

[2020-10-27 17:53] rbhanda opened #5429 "Add support for Ubuntu 16.04"
This issue is add support for .NET 5 on  Ubuntu 16.04

### Product and Test updates
- [x] [All teams] Do a compatibility check for the product with the new OS
- [x] [CoreCLR/CoreFX] Runtime / RID Support update
- [x] [Infra] Ensure that the correct Docker images used by teams are built in the dotnet-buildtools-prereqs (if applicable)
- [x] [Infra] Replace docker tags used in builds across repos an

[2020-10-27 17:56] ltouro commented on #5367
**disseminate async request-reply pattern**

A common scenario for APIs is to have async operations.

In order to ease the use of such APIs, Power Automate allows the usage of a simple "async request-reply" pattern, which consists using 202 response codes along with a Location header. (see https://docs.microsoft.com/en-us/azure/architecture/patterns/async-request-reply)

From personal experience,

[2020-10-27 18:05] hollalooloo opened #5430 "sdk not running"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/install
Operating System: macos

when typing the ~$dotnet on the terminal it tells me: command not found.

[2020-10-27 18:19] dradendavis1 opened #5431 "Unauthorized"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

I am trying to run dotnet on my MacBook Pro running Mac OS 10.15.7 and every time I have tried to create a project my

[2020-10-27 18:34] robertmclaws commented on #5120
Is there any solution for this yet, or are there no other solutions for mixed-solution projects until after the .NET 5 release.

[2020-10-27 19:22] cetindogu opened #5432 "net5.0 Helloworld Project Azure Devops Server Pipeline Fails at VSBuild Step doesn't have a target for 'net5.0'. Ensure that restore has run and that you have included 'net5.0' in the TargetFrameworks for your project."
# Issue Title

net5.0 Helloworld Project Azure Devops Server Pipeline Fails at VSBuild Step

Check Raw Log
[rawLog.txt](https://github.com/dotnet/core/files/5447613/rawLog.txt)

# General
Create a new Hello World project that targers net.5.0
my csproj file:
<Project Sdk="Microsoft.NET.Sdk.Web">
	<PropertyGroup>
		<TargetFramework>net5.0</TargetFramework>
		<UserSecretsId>61109b12-7a86-463a-ab37-60

[2020-10-27 19:27] enusbaum commented on #5404
I'm receiving the same error while trying to Publish targeting .Net 5 RC2 (publishes fine using Core 3.1)

Repo: https://github.com/enusbaum/MBBSEmu

[code]

[2020-10-27 19:31] Alex-ley commented on #5156
Some clarity on this would be very useful.

[2020-10-27 19:32] mairaw commented on #5432
Seems a duplicate of #5120 which was closed by design by @sfoslund

[2020-10-27 21:56] #5368 closed

[2020-10-27 21:56] bradygaster commented on #5368
Closed as this was moved to another planning forum

[2020-10-27 22:23] glennc opened #5433 ".NET Applications work well on container-based platforms"
Container-based platforms such as Kubernetes are going to be increasingly important places for .NET developers to run code, we need to ensure that .NET applications run well with the unique or different constraints that these environments provide.

[2020-10-27 22:25] glennc opened #5434 ".NET apps work well in constrained environments"
Customers deploying to Kubernetes are generally going to want to apply memory and CPU constraints to their apps. This provides safety mechanisms for apps with memory leaks or bugs that cause runaway CPU and also helps ensure a minimum amount of density on a cluster. We want to be able to provide guidance on what those memory limits should be as well as reduce our memory consumption if possible. Pe

[2020-10-27 22:27] jamshedd opened #5435 "Epic: .NET Core is supported in air-gapped environments/private clouds"
User Stories under this Epic:

 [Title of the linked User Story](hyperlink to the User Story issue).

[2020-10-27 22:30] jamshedd opened #5436 "Epic: Linux package support is reliable and complete"
User Stories under this Epic:
- [ ] [As a developer I can use a package manager to fetch/update Previews from a feed so I don’t have to do this manually](https://github.com/dotnet/core/issues/5445)
- [ ] [As an ARM64 user I can use a package manager to fetch/update packages from a feed so I don’t have to do this manually](https://github.com/dotnet/core/issues/5446)
- [ ] [As a .NET Release PM, I c

[2020-10-27 22:33] jamshedd opened #5437 ".NET Core can be reliably built from Source"
User Stories under this Epic:

- [ ] [Arcade powered source build - finish what we started](https://github.com/dotnet/core/issues/5448)
- [ ] [As a developer using Debian (and downstream repos like Ubuntu) I can use a native feed/AppStream to get .NET Core](https://github.com/dotnet/core/issues/5449)
- [ ] [As a developer I can easily build on the desktop, either the whole product or parts of the

[2020-10-27 22:34] glennc opened #5438 ".NET apps in containers have good startup and steady-state performance"
Take advantage of the immutable nature of container images and target modern hardware to produce more optimized assets.

- Take advantage of modern SIMD instructions (AVX2 instead of SSE2) in ready-to-run images. We are comfortable with this because all containers are likely to be running on newer hardware and OS versions.
- Use our Version Bubbles ideas to allow ready-to-run images to be more opt

[2020-10-27 22:44] glennc opened #5439 "Reduce runtime container size"
- In previous versions of .NET we introduced globalization invariant mode, and turned it on in our Alpine containers. This mode removes a large native dependency (ICU) but changes some behaviors that might be surprising to some customers. We want to find a plan to improve invariant mode enough that we are comfortable making it the default, removing the large dependency from our images.
WASM has si

[2020-10-27 22:53] jamshedd opened #5440 "Developers can easily parse release metadata for .NET Core updates for use in their deployment process"
The goal of this one is the make available the source for an api that will parse releases.json.  The format of that file can be confusing to read for customers and we've gotten many requests for guidance or tooling around it so customers could build their own tooling based on the values in that file.

- [x] Update based on feedback from api review
- [x] Final review and signoff with PM team
- [x]

[2020-10-27 22:56] jamshedd opened #5441 "Enterprise IT admins can use well-supported tools that help them detection, deploy and cleanup .NET Core installs at scale"
The goal here is to gather feedback based on internal testing and then make a tool available externally for early customer feedback during this timeframe.

- [x] Continue testing on internal machines
- [x] Investigate logs from internal testing
- [x] Fix issues found from logs

---

- [x] Identify any remaining changes needed to the logic/command line
- [x] Prepare alpha package for release
- [x]

[2020-10-27 22:57] jamshedd opened #5442 "Developers can examine the source for the detection and deployment tool in order to use similar patterns"
The goal of this one is to make the tool from #5441 available open source. #5441 must be completed first.

- [ ] Make updates to tooling based on feedback collected from customers
- [ ] Final command line review with PMs and signoff
- [ ] Run compliance scanning on source and fix issues
- [ ] Make source available

[2020-10-27 23:02] glennc opened #5443 ".NET can effectively scale with orchestrator configurations"
In 3.0 we added support for [CPU and memory limits](https://github.com/dotnet/designs/blob/main/accepted/2019/support-for-memory-limits.md) so that we would honor constraints that an orchestrator imposed. That support works well, but there are few options to change the way .NET behaves when put in a constrained environment. I.e. choosing to optimize for density, throughput, or latency depending on

[2020-10-27 23:02] jamshedd opened #5444 "Developers of an service deployed to an air-gapped environment can rely on .NET Core installers being available there"
Multiple customers need a way to deploy their app along with the dependent Core runtime to private clouds. This is difficult for them today because the installers/bits are only available on the public CDN and public Azure blob storage. Also the tools, scripts and release metadata we offer today is designed to work with these public end points. Each customer is working around this in a different wa

[2020-10-27 23:08] jamshedd opened #5445 "As a developer I can use a package manager to fetch/update Previews from a feed so I don’t have to do this manually"

[2020-10-27 23:10] jamshedd opened #5446 "As an ARM64 user I can use a package manager to fetch/update packages from a feed so I don’t have to do this manually"

[2020-10-27 23:11] jamshedd opened #5447 "As an Alpine Linux user I can use a package manager to fetch/update packages from a feed so I don’t have to do this manually"

[2020-10-27 23:14] jamshedd opened #5448 "Arcade powered source build - finish what we started"
See: https://github.com/dotnet/source-build/issues/1510

[2020-10-27 23:15] jamshedd opened #5449 "As a developer using Debian (and downstream repos like Ubuntu) I can use a native feed/AppStream to get .NET Core"

[2020-10-27 23:18] jamshedd opened #5450 "Developers can easily build locally from source all or part of .NET 6 on Windows, Linux, and Mac"

[2020-10-28 01:13] jamshedd opened #5452 "Support engineers have complete and up to date playbooks for Linux so they can deliver effective support to users on Linux"

[2020-10-28 01:14] jamshedd opened #5453 "Support engineers have a good understanding of the diagnostics tools available so they can deliver effective .NET diagnostic support to Linux users"

[2020-10-28 01:15] jamshedd opened #5454 "Support engineers have sufficient hands on time/experience with Linux to effectively support customers using Linux"

[2020-10-28 01:16] jamshedd opened #5455 "Members of the .NET Core team have resources to review experiences for Linux developers so they can deliver the right experiences"

[2020-10-28 01:18] jamshedd opened #5456 "Support engineers have a solid understanding of .NET Core Linux distro support so they can effectively communicate that to customers"

[2020-10-28 01:19] jamshedd opened #5457 "As a .NET developer I know if/when .NET Core will be supported on the distro I use"

[2020-10-28 01:20] #5457 closed

[2020-10-28 02:15] irac-ding commented on #3989
How to install 3.1.9 intCentOS 7 ?

[2020-10-28 07:45] rupeshmca7 opened #5458 "found error on dotnet run command"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

C:\Users\rupess\.nuget\packages\microsoft.aspnetcore.blazor.build\0.7.0\targets\RazorCompilation.targets(184,5): error :

[2020-10-28 16:01] msingh1dm698 opened #5459 "Unable to create Blazor App"
Hi,

I am trying to create a server-side blazor app but it shows me blank screen and create button is disable too.

Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/create
Operating System: windows

![image](https://user-images.githubusercontent.com/73603261/97462479-258df500-1915-11eb-8cb1-42d466b5c32f.png)

[2020-10-28 17:26] rconard opened #5460 "User Story: .NET 6 developers building desktop applications need to package and update their applications for multiple platform targets"
### Summary

Desktop applications on .NET 6 introduce additional OS platforms to support with the inclusion of Xamarin and Blazor Desktop in the runtime. This will require a packaging pipeline that supports all Xamarin 6 and Blazor Desktop desktop targets.

[2020-10-28 17:26] rconard opened #5461 "User Story: .NET 6 desktop application developers need to manage their build pipelines, versions, telemetry, and channels for their releases"
### Summary

It is difficult to manage the release of installers and updaters across platforms, architectures, and channels. Many large development teams have built cloud systems to manage their releases, and this service would provide these same tools to all desktop developers.

[2020-10-28 17:27] rconard opened #5462 "Epic: Desktop developers can package, distribute, release, and update their applications to multiple desktop platforms and architectures"
### Summary

.NET 6 is introducing multiple new targets including Xamarin 6 and the possibility for Blazor client applications. As these applications will offer deployment scenarios on platforms and architectures that are not currently supported for client applications, we will expand our deployment tooling to cover these scenarios.

### User Stories

User Stories under this Epic:

- [ ] [Xamarin

[2020-10-28 18:29] jamshedd opened #5463 "As a .NET container image user I have a clear accounting of vulnerabilities across the layers of my base-image"

[2020-10-28 20:52] omajid commented on #5426
You are correct: this seems to be a bug in .NET Core.

The [documentation for `IPv4InterfaceStatistics.OutputQueueLength`](https://docs.microsoft.com/en-us/dotnet/api/system.net.networkinformation.ipv4interfacestatistics.outputqueuelength?view=netcore-3.1) says:

But the [implementation returns the transmit queue length](https://github.com/dotnet/corefx/blob/1b5b5f0bf030bf7250c3258c140fa9e4214325c

[2020-10-28 21:58] carlossanlop commented on #5458
What command did you run that caused this error?

[2020-10-28 21:58] carlossanlop commented on #5459
@Pilchie do you know what could cause this?

[2020-10-28 22:05] carlossanlop commented on #5432
The error is:

[2020-10-28 22:06] carlossanlop commented on #5431
What was the command you executed that caused this error to show up?

[2020-10-28 22:06] carlossanlop commented on #5430
Did you close and reopen the command line window after installing the SDK?

[2020-10-28 22:08] carlossanlop commented on #5428
@mrhuo can you please open a bug in the Visual Studio Developer Community website? https://developercommunity.visualstudio.com/spaces/61/net.html

[2020-10-28 22:08] #5428 closed

[2020-10-28 22:09] carlossanlop commented on #5418
Not descriptive enough. Closing.

[2020-10-28 22:09] #5418 closed

[2020-10-28 22:10] Pilchie commented on #5459
@vijayrkn @phenning

[2020-10-28 22:11] carlossanlop commented on #5417
Have you tried installing ICU for your specific Linux distro?

[2020-10-28 22:12] carlossanlop commented on #5411
Should this issue be in the ASP.NET repo?

[2020-10-28 22:14] carlossanlop commented on #5405
Could you try reinstalling Xamarin or remove that package source from your nuget configuration?

[2020-10-28 22:16] carlossanlop commented on #5390
Have you tried installing the ICU package for Ubuntu?

[2020-10-28 22:18] carlossanlop commented on #5388
We don't own `NpgsqlConnection`. Please open an issue in the appropriate place to log bugs for that database manager.

[2020-10-28 22:18] #5388 closed

[2020-10-28 22:18] vijayrkn commented on #5459
If you temporarily rename this folder `%userprofile%\.templateengine` & re-start VS does it work?

[2020-10-28 22:18] #5383 closed

[2020-10-28 22:19] carlossanlop commented on #5382
@shirhatti can you please take a look?

[2020-10-28 22:20] carlossanlop commented on #5380
@shirhatti can you please take a look?

[2020-10-28 22:22] carlossanlop commented on #5376
Can you please open an issue in the grpc repo?

[2020-10-28 22:22] #5376 closed

[2020-10-28 22:25] carlossanlop commented on #5375
Could you look in here: https://docs.microsoft.com/en-us/visualstudio/debugger/how-to-use-the-call-stack-window?view=vs-2019

and see if any of the suggested options to see callstack can help you?

[2020-10-28 22:26] carlossanlop commented on #5371
@dagood is this something you could help with?

[2020-10-28 22:28] carlossanlop commented on #5359
@GrabYourPitchforks can you please help with this?

[2020-10-28 22:28] carlossanlop commented on #5358
@shirhatti can you please help?

[2020-10-28 22:29] carlossanlop commented on #5357
Ping @bartonjs @KrzysztofCwalina

[2020-10-28 22:34] carlossanlop commented on #5267
This issue seems to be resolved.

@rbhanda can you answer the last question and close this issue?

[2020-10-28 22:35] carlossanlop commented on #5230
Closing due to lack of response.

[2020-10-28 22:35] #5230 closed

[2020-10-28 22:39] carlossanlop commented on #5193
@mmitche can you please follow up?

[2020-10-28 22:43] carlossanlop commented on #5189
@joshudson does @vitek-karas reply answer your question?

[2020-10-28 22:43] dagood commented on #5371
Based on timing (13 days ago), this was probably related to a packages.microsoft.com outage that also hit the Ubuntu 18.04 and 20.04 repos: https://github.com/dotnet/core/issues/5373. We aren't involved with any `msodbcsql17` package, but it seems to share the same underlying services as the .NET packages.

That outage was resolved within about a day. @mohansiddegowda, can you try again?

(Side no

[2020-10-28 22:44] carlossanlop commented on #5177
@leecow do we have an official fix for this?

[2020-10-28 22:45] carlossanlop commented on #5164
Title translation: The specified network name is no longer available

[2020-10-28 22:46] carlossanlop commented on #5157
@lilhamad  Is this related to the Docker microservice tutorials?

[2020-10-28 22:47] carlossanlop commented on #5156
@AaronRobinsonMSFT is this something you could help answer? (Office Interop)

[2020-10-28 22:49] carlossanlop commented on #5155
It looks like you had restore issues and deleting the folder helped. Closing since it's resolved.

[2020-10-28 22:49] #5155 closed

[2020-10-28 22:51] carlossanlop commented on #5150
@richlander @terrajobst do we have any guidance on how to perform migration?

[2020-10-28 22:53] carlossanlop commented on #5141
UWP issues are tracked as Azure DevOps issue. If you are running into .NET native issues, please see https://docs.microsoft.com/en-us/visualstudio/ide/feedback-options.

[2020-10-28 22:53] #5141 closed

[2020-10-28 22:53] carlossanlop commented on #5140
Closing since it's been answered.

[2020-10-28 22:53] #5140 closed

[2020-10-28 22:56] carlossanlop commented on #5137
@AaronRobinsonMSFT this does not seem to be directly related to Office Interop but maybe you know who can help with this?

[2020-10-28 22:56] carlossanlop commented on #5132
Thanks for testing in RC1.

[2020-10-28 22:56] #5132 closed

[2020-10-28 22:59] rbhanda commented on #5177
Mint 20 has been added as a supported OS for .NET 5 Preview install script.

[2020-10-28 22:59] somaya819811221 opened #5464 "Try to open a new command prompt"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-10-28 23:01] carlossanlop commented on #5088
Seems to be answered. Closing.

[2020-10-28 23:01] #5088 closed

[2020-10-28 23:21] shanselman opened #5465 ".NET appeals to net-new developers, students, and new technologists"
### Summary

Regardless of whether a net-new customer is an existing developer or a student, the fact is that they are missing the context of the last 15+ years of .NET developers. They expect a clean, streamlined experience, clear docs, tidy folders, and quick inner- and outer-loops.

### Epics

Epics under this Theme:

- [ ] [CompSci 100-200 level classes can be taught entirely in .NET Notebooks

[2020-10-28 23:26] shanselman opened #5466 "CompSci 100-200 level classes can be taught entirely in .NET Notebooks in VS Code"
### Summary

Anyone can get started in CompSci 100-200 level classes taught entirely in .NET Notebooks in VS Code ‘fast’. An entire curriculum for early in career could be taught entirely with notebooks. e.g.  data structures, algorithms, language features.

### User Stories

User Stories under this Epic:

- [ ] [.NET Interactive supports the basic requirements for notebook-based learning tasks](h

[2020-10-28 23:27] shanselman opened #5467 "Necessary tools are easy to find, install, and immediately get started."
### Summary

A .NET Education pack offers one installer to get everything a professor or student needs. e.g. VS Code, .NET SDK, Git, C# Extension, Notebooks.

### User Stories

User Stories under this Epic:

- [ ] [Title of the linked User Story](hyperlink to the User Story issue).

[2020-10-28 23:29] shanselman opened #5468 "Documentation provides a rich set of reference and tutorial-based content to learn task-based learning"
### Summary

Devs can find videos, rich sample apps, and interesting blogs all over the internet, not just on Microsoft sites. Student-focused samples.

### User Stories

User Stories under this Epic:

- [ ] [Title of the linked User Story](hyperlink to the User Story issue).

[2020-10-28 23:30] cartermp opened #5469 "New developers don't have to rationalize legacy .NET vs. modern .NET in Visual Studio"
### Summary

New developers getting started with .NET in Visual Studio are faced with having to consider .NET Core and .NET Framework project types. Rationalizing the two is a complex topic that beginners shouldn't have to do.

Instead, new developers should always be guided down the path to modern .NET projects when using Visual Studio.

By default in VS Community, new project templates for .NET

[2020-10-28 23:30] shanselman opened #5470 "Next-step tasks are easy to discover and intuitive"
### Summary

Using libraries and other .NET ecosystem components is easy and discoverable relative to their starting point.

### User Stories

User Stories under this Epic:

- [ ] [Title of the linked User Story](hyperlink to the User Story issue).

[2020-10-28 23:32] cartermp opened #5471 "New developers can easily deploy their apps/libraries"
### Summary

When a new developer has finished building their first app and wants to deploy it, the choices available to them are easy to understand and their app can be augmented to support the environment they wish to deploy to. This includes things like easily adding a file for CI/CD (e.g., GitHub actions), files to make their project better to collaborate with (e.g. `.gitignore`, `.editorconfi

[2020-10-28 23:33] shanselman opened #5472 "Developers can be successful creating their first project using tools"
### Summary

Reduce cognitive overload of all options in CLI/VS in ‘new’ experiences

### User Stories

User Stories under this Epic:

- [ ] [Title of the linked User Story](hyperlink to the User Story issue).

[2020-10-28 23:33] cartermp opened #5473 "New developers can learn .NET by building, running and debugging Simple Apps"
### Summary

Simple Apps are .NET apps with the following properties:

* C# files that are top-level programs / F# scripts
* Modern language features that emphasize less code to accomplish a task are emphasized
* No project file required
* Loadable by all .NET tooling (CLI, VSCode, Visual Studio)
* Output executable is a single binary that is next to the source file in the user's directory

A Simp

[2020-10-28 23:35] shanselman opened #5474 "Conceptual Computer Science learning in .NET is more interactive and easier to acquire."
### Summary

Documentation for CompSci can delivered as ipynb notebooks on GitHub. One can git clone a whole semester and begin immediately.

### User Stories

User Stories under this Epic:

- [ ] [Title of the linked User Story](hyperlink to the User Story issue).

[2020-10-29 00:26] #5177 closed

[2020-10-29 01:57] joshudson commented on #5189
I have been looking at it. Seeing that the tool itself actually has been vectorized gives some hope there's a way to invoke it to get the job done. I've been investigating alternatives, and well there's some annoying snags no matter where I turn.

Example: https://stackoverflow.com/questions/64581054/how-do-i-get-the-name-of-the-current-executable-in-c-net-5-edition?noredirect=1#comment114192846_6

[2020-10-29 03:07] leaderanalytics commented on #5375
@carlossanlop Thanks I set the debugger to break on .net exceptions and I was able to get the stack trace.

[2020-10-29 03:33] AaronRobinsonMSFT commented on #5156
The best person to discuss our plans for VSTO is @richlander.

[2020-10-29 04:53] GrabYourPitchforks commented on #5359
@svick's earlier comment is correct and provides links to more info. The solution is to disable the invariant globalization mode if the app requires access to culture-specific behavior. I'll close this issue for now, but if I missed something please feel free to reopen. Thanks!

[2020-10-29 04:53] #5359 closed

[2020-10-29 09:08] AaronRobinsonMSFT commented on #5137
@EuroEager2008 This almost sounds like a bitness issue. Thank you for the solution with the reproduction in it. It looks as though the 32-bit version of the runtime was desired - was the 32-bit version of .NET 5.0 also installed? Typically only the 64-bit versions are installed with Visual Studio so we should verify that. Next it would be good to verify the `*.comhost.dll` is also the correct bitn

[2020-10-29 09:25] AaronRobinsonMSFT commented on #5137
@EuroEager2008 @elinor-fung pointed out that an issue did exist in some of the later previews regarding `comhost` scenarios. That fix didn't make it into Preview 8 - https://github.com/dotnet/runtime/pull/40022. The fix in in later RC1 and later.

[2020-10-29 12:50] hahyes opened #5475 "Passing arguments by running self-contained app on Debian"
Hi there,

I built self-contained .NET Core console app for Debian 10 (using `dotnet build` command), but I wanna pass some arguments for Main method, `./myapp --value` like this.

Sadly, in `string[] args` there is nothing, no matter what I will write after path of executive file. On Windows 10 program has all string values I'm writing after executive file.

I'm using .NET Core 3.1 (latest versio

[2020-10-29 13:09] mrhuo commented on #5428
ok, thx

[2020-10-29 15:31] sgronblo opened #5476 "dotnet quit unexpectedly"
# Issue Title

Runtime exception in my own program incorrectly identified as a dotnet crash

# General

If I run a simple program that throws any runtime exception using `dotnet run`. It will be detected as a dotnet crash and a dialog saying "dotnet quit unexpectedly" giving me the offer to send a crash report to Apple.

dotnet --version: 3.1.403
OS: macOS Catalina 10.15.7

Simple reproduction:

[

[2020-10-29 16:11] cartermp opened #5477 "New users aren't confused by having to think about .NET Framework and non-.NET Framework when installing VS"
### Summary

New users using VS Community shouldn't be faced with the problem of having to understand what .NET Framework and .NET 6 are. They should only have to know about .NET.

### Details

Setup authoring in the VS Installer for .NET workloads should emphasize ".NET", not ".NET Framework" and ".NET 6". Some options:

* Mark all .NET Framework components as "legacy" when using VS Community
* H

[2020-10-29 16:16] cartermp opened #5478 "New users on VS Community will only be able to create modern .NET projects by default"
### Summary

As a new user using **VS Community**, I want to only create modern .NET project types so that I'm not confused by the difference between .NET Core and .NET Framework.

As a new user using VS Community who must use .NET Framework, I want to still be able to load any older project types if that is required of me.

### Specifics

Reiteration: This is for **VS Community only**. VS Pro, En

[2020-10-29 16:23] cartermp opened #5479 "New .NET developers can easily add second-level files to their codebases"
### Summary

Describe a specific user story experience. Use the format:

As a [user looking to publish my first app], I want to [easily add necessary configuration files] so that [things like CI/CD "just work"].

[2020-10-29 16:37] cartermp opened #5480 ""dotnet new" has a simple and predictable flow for new users"
### Summary

Describe a specific user story experience. Use the format:

As a [new user using the command line], I want to [create a new .NET App without being overwhelmed by choices] so that [I can minimize my choices before writing code].

[2020-10-29 16:42] cartermp opened #5481 "New developers can create a Simple .NET App from the command line"
### Summary

Describe a specific user story experience. Use the format:

As a [new users], I want to [create my first app that is just source code] so that [I can focus on code and not be overwhelmed by the notion of project files].

[2020-10-29 16:47] cartermp opened #5482 "Modern C# is emphasized for newcomers"
### Summary

Describe a specific user story experience. Use the format:

As a [new developer], I want to [ensure I'm learning the latest and greatest ways to write C# code] so that [I am familiar with how to write "modern" .NET code].

[2020-10-29 16:48] Mizux commented on #5017
FYI `ubuntu:rolling` has been bumped to Ubuntu 20.10, hope you'll fix your `libicu` usage ASAP...
ref: https://hub.docker.com/_/ubuntu

[2020-10-29 16:56] cartermp opened #5483 "C# Simple Apps have a natural grow-up path when developers want to expand their app's capabilities"
### Summary

Describe a specific user story experience. Use the format:

As a [user who is familiar with C# after starting out], I want to ["grow" my Simple App without starting over] so that [I can add more capabilities like packages, projects, etc. without having to copy/paste and delete my work].”

[2020-10-29 17:05] cartermp opened #5484 "The output of a C# Simple App is easy and intuitive to find"
### Summary

Describe a specific user story experience. Use the format:

As a [new developer], I want to [easily find the output of my Simple App] so that [I can run my app without wondering where the artifact is and how to start it].

[2020-10-29 17:06] EuroEager2008 commented on #5137
Now I got 5.0.100-rc.2.20479.15 and still exactly same behavior (nothing is actually registered when regsvr32 of the .Net 5 targeted comhost.dll

[2020-10-29 17:10] richlander opened #5485 ".NET has good defaults for running in containers"
People expect that the default behavior of .NET (or any container platform) is good in the general case. To a large degree, the conversation we had in [Environment.ProcessorCount incorrect reporting in containers in 3.1](https://github.com/dotnet/runtime/issues/622) was about that, and we chose to bias default product behavior for the general case.

The assumption at this point is that .NET has go

[2020-10-29 17:16] CBrauer opened #5486 "Error in JasonSerializer"
I am getting an error in JasonSerializer.

I'm trying to convert my Windows Desktop App to .NET 5.0.  My old code to serialize  some data was declared deprecated.
My attempt to convert this code to a .NET 5.0 version gives me a runtime error;

My Visual Studio screen at run time is:
![image](https://user-images.githubusercontent.com/1317234/97608365-7c580500-19cf-11eb-843f-b012702ccebe.png)

I hop

[2020-10-29 17:28] Linuxer-master opened #5487 "~ >>> dotnet [127] zsh: correct 'dotnet' to 'done' [nyae]? n zsh: command not found: dotnet ~ >>> [127]"
Problem encountered on https://dotnet.microsoft.com/learn/languages/fsharp-hello-world-tutorial/install
Operating System: linux

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-10-29 17:30] richlander opened #5488 "A customer can give hints about what to optimize for, relatively simple configuration i.e. single broad switch"
.NET offers both [high-level](https://docs.microsoft.com/dotnet/core/run-time-config/garbage-collector#workstation-vs-server) and [low-level](https://twitter.com/Nick_Craver/status/1189685719897460739) configuration knobs, but nothing in-between or that describes intent. In the cloud world, people are typically either concerned about controlling cost or maximizing performance. We aspire for .NET d

[2020-10-29 17:31] rbhanda commented on #5352
.NET 5 can be install n 20.10 using the [install script ](https://aka.ms/install-dotnet-preview)
For 2.1 and 3.1 installation, in order to satisfy deb package dependency, please run
`wget http://archive.ubuntu.com/ubuntu/pool/main/i/icu/libicu66_66.1-2ubuntu2_amd64.deb`
`dpkg -i libicu66_66.1-2ubuntu2_amd64.deb`

[2020-10-29 17:47] dagood commented on #5352
Note that the install script has been changed to **include** the workaround of installing `libicu66` from the downloaded deb. This means you may end up with both `libicu66` and `libicu67` installed on your machine. I don't think this makes .NET behave worse, but it may be unexpected and confusing if you go to clean up later.

I believe a cleaner workaround is to use `equivs` to make a "fake" `libi

[2020-10-29 18:25] jyeagle commented on #1962
I also just ran into this!

[2020-10-29 18:43] bradygaster commented on #5411
adding @mkArtakMSFT and @pranavkm to see if it should be.

[2020-10-29 19:39] elinor-fung commented on #5137
@EuroEager2008 could you check on the bitness questions that @AaronRobinsonMSFT had?

Thanks for the repro. I pulled it down and was able to build and successfully register the server in it after retargeting to net5.0 (I'm using 5.0.100-rc.2.20479.15), so there must be something different in what I'm doing or my environment.

It would also be helpful to collect some logs from `comhost` when it is

[2020-10-29 19:57] EuroEager2008 commented on #5137
Bitness was ok.
I think I found out:
Compiled just fine as before, not able to register.
Had a look around in the files and found that preview 8 was mentioned in *.runtimeconfig.json, no idea of how to get rid of it so I deleted the whole bin and object folder, but then I couldn't compile.
Searching around and found this: https://developercommunity2.visualstudio.com/t/shNETsh-shCoresh-Console-App-

[2020-10-29 20:12] richlander opened #5490 "A customer can determine what configuration they need from a running app"
We expect that most .NET users set their containers with higher values than they want, and then progressively and iteratively decrease CPU and memory values to satisfy cost goals. This is a fine approach, but are likely more data-oriented, and reliable ways to get to more optimum values more quickly.

There are two primary (complementary) approaches to this:

- Ensure that valuable metrics are exp

[2020-10-29 21:19] richlander opened #5491 "Theme: Improve startup and throughput using runtime execution information (PGO)"
[Profile guided optimization](https://en.wikipedia.org/wiki/Profile-guided_optimization) is a standard feature of many development platforms. We would like to make it a standard feature of .NET. It is already a feature of .NET in that the platform is PGO-optimized, but it doesn't extend beyond that. PGO for .NET is a multi-release journey, with the goal of significantly improved startup and throug

[2020-10-29 21:36] richlander opened #5492 "Developers can use PGO collection tools to collect PGO data from apps in a variety of scenarios"
Apps are developed and deployed in a wider spectrum of environments today:

- For dev: local machine (the traditional option), [GitHub codespaces](https://github.com/features/codespaces), CI/CD servers.
- For deployment: on-prem servers (the traditional option), cloud VMs, and cloud container-orchestrators.

It is important that PGO data collection tools work on all of them (in the fullness of tim

[2020-10-29 21:47] JamesNK opened #5493 "gRPC apps can make resilient API calls with client retry support"
Automatically retrying some failed API calls (i.e. connection failure, transient server error) is a common task in apps. Polly is an OSS library often used to support retries with RESTful APIs. Unfortunately Polly doesn't work with gRPC.

There is a gRPC specification for retrying failed calls - https://github.com/grpc/proposal/blob/master/A6-client-retries.md

The spec is implemented by the two f

[2020-10-29 21:57] richlander opened #5494 "Developers can progressively optimize their .NET apps at runtime, using dynamic PGO data"
[Tiered compilation](https://devblogs.microsoft.com/dotnet/tiered-compilation-preview-in-net-core-2-1/) is an important codegen related feature in the runtime. It has two primary challenges: it bases re-jit decisions on a single metric, and always generates the same tier 1 code.

Using PGO data, we can improve tiered compilation in the following ways:

- Target methods for re-jitting that are more

[2020-10-29 22:02] JamesNK opened #5495 "gRPC apps in Kubernetes scale correctly using gRPC client-side load balancing"
Some load balancers don't work effectively with gRPC. L4 (transport) load balancers operate at a connection level, by distributing TCP connections across endpoints. Because gRPC calls happen on a single connection, all load gets sent to one server.

An example of this issue is Kubernetes. If a pod has multiple replicas, the gRPC connection will be made to one pod replica, and all calls will go to

[2020-10-29 22:24] marek-safar commented on #5439
We have done the work on slimming ICU in 5.0 version and got fully functional version (https://github.com/dotnet/icu) down to about 3 MB compressed

[2020-10-29 22:29] richlander commented on #5439
Nice. We'll have to figure out how to use that in containers.

[2020-10-29 23:32] elinor-fung commented on #5137
Glad things are working after moving to the newer version.

I know the [.NET 5.0 download page](https://dotnet.microsoft.com/download/dotnet/5.0) lists the version for Visual Studio support for each release.

I'm not sure if there are Visual Studio release notes around this - @marcpopMSFT would you know?

[2020-10-30 06:56] daisyberry commented on #2001
thanks to you'll!. the problem is your https request is insecure all you need do is go to your web browser and click on the advance button then click continue, or check for a running project on your terminal stop it and the run it again  thank you

[2020-10-30 08:34] hahyes commented on #5475
I did some investigation, trying to reproduce problem but I can't. On new test project passing arguments works fine. Problem still occurs on my old one.

I forgot to mention, but project mentioned in yesterday post was earlier converted from .NET Framework 4.8. Maybe that's the issue here?

[2020-10-30 13:39] snap254 opened #5496 "certificate issues on centos 7"
# Issue Title

Getting Certificate issues trying to install dotnet core 3.1 to centos 7

# General

[code]

[2020-10-30 14:55] Dhyones-silva opened #5497 "C:\Users\une04>cd myWebApp O sistema não pode encontrar o camin"
Bom dia, eu tive esse pequeno problema

C:\Users\une04>cd myWebApp
O sistema não pode encontrar o caminho especificado.

C:\Users\une04>cd
C:\Users\une04

C:\Users\une04>cd myWebApp
O sistema não pode encontrar o caminho especificado.

C:\Users\une04>

Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/create
Operating System: windows

Provide details about the p

[2020-10-30 15:14] Dhyones-silva commented on #5497
olá, problema resolvido

[2020-10-30 19:52] #5391 closed

[2020-10-30 20:18] dagood commented on #5487
From this bit, it sounds like you weren't able to successfully install .NET:

Can you paste the logs and exact install commands you used, so we can help figure out what went wrong?

[2020-10-30 21:18] cetindogu commented on #5486
Have you tried System.Text.Json ?

[2020-10-30 21:34] jarz commented on #5466
It'd be probably an epic in itself, but building an open-source CS curriculum might be what it takes to get people interested in .NET over Java (my first CS language), JS, or Python.

I'm gonna sound like a total marketer goon but... what's the elevator pitch for C# over Java or Python?

[2020-10-30 23:33] marcpopMSFT commented on #5137
We updated the .NET SDK installer to mention that it requires 16.8 (see below). I do not believe this was included in any release notes for VS or .NET though I can add it to the .NET 5 release notes if that would help.
![image](https://user-images.githubusercontent.com/12663534/97764941-83fdd380-1acd-11eb-8230-5d30abe736fa.png)

[2020-10-31 01:10] mairaw commented on #5497
Que bom. Fechando o issue então.

[2020-10-31 01:10] #5497 closed

[2020-10-31 07:58] #5351 closed

[2020-10-31 08:41] terrajobst commented on #5493
What epic should this be listed under?

[2020-10-31 09:37] jesmanto opened #5499 "Unable to create a new project"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

I typed `dotnet new console -o myApp` and I got an error that says
**Template "Console Application" could not be cr

[2020-10-31 09:38] jesmanto commented on #5499
I changed the title of the issue

[2020-10-31 15:57] CBrauer commented on #5486
I don't understand your comment.  I am obviously using "JsonSerializer".  As you can see, that's where the runtime error is coming from.

[2020-10-31 18:06] xtqqczze commented on #4894
It would also be good to clarify support for Windows Server 2012, which does not reach [end-of-life](https://docs.microsoft.com/en-us/lifecycle/products/windows-server-2012) until 2023-10-10 and is currently excluded for support in .NET 5.0, see #4668.

[2020-10-31 18:39] jamshedd commented on #4894
@xtqqczze there is no plan to change our support position on Windows Server 2012. A newer version in the same server family is available in the form of Server 2012 R2, the expectation is that the newer R2 version is used in order to be in a supported state. While both Server 2012 and Windows 7 are still in use the decisions for the two platforms were made independently given the usage of the two p

[2020-10-31 18:43] xtqqczze commented on #4668
Closing as per @jamshedd comment in https://github.com/dotnet/core/issues/4894#issuecomment-719971773:

[2020-10-31 18:43] #4668 closed

[2020-10-31 18:54] Raviuppa commented on #4668
Agree with @jamshedd . In addition [Windows Server 2012 R2](https://github.com/dotnet/core/blob/master/release-notes/3.1/3.1-supported-os.md#windows) is the minimal Windows Server version supported for .NET Core 3.1.  Reverting that for vNext of 3.1 is not an option and ideal. Also, VS 2019 Update 8 is the minimum VS version that supports .NET 5 Development on Windows and for that VS version (16.8

[2020-10-31 21:36] cetindogu commented on #5486
ok. change the type

[2020-11-01 00:34] gargleblaster opened #5501 "No templates matched the input template name: blazorserver."
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

I got this in red:
No templates matched the input template name: blazorserver.

I would think there's some kind of updat

[2020-11-01 11:01] aarthi1984 opened #5502 "'dotnet' is not recognized as an internal or external command, operable program or batch file. error"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-11-01 11:02] #5502 closed

[2020-11-01 16:47] Entomy commented on #5017
[code]

Looks like the package is up, but in a broken state.

[2020-11-01 20:47] alwilton opened #5504 "Setting Console.Title in Hosted Windows Service Crashes App"
On a windows hosted app (running as a service) I have the following Program.cs code

[code]
If I uncomment the Console.Title line the service will not start showing an application event error of
`The process was terminated due to an unhandled exception. Exception Info: System.IO.IOException: The handle is invalid. at System.ConsolePal.set_Title(String value) at System.Console.set_Title(String valu

[2020-11-01 21:38] bizzarre71 opened #5505 "sdk windows 10 64"
I can't download it, section errror

[2020-11-02 04:26] masa77736 opened #5506 "a"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-11-02 05:15] Loamashitu opened #5507 "error during connect: Post http://%2F%2F.%2Fpipe%2Fdocker_engine/v1.40/build?"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/docker-image
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

error during connect: Post http://%2F%2F.%2Fpipe%2Fdocker_engine/v1.40/build?buildargs=%7B%7D&cachefrom=%5B%

[2020-11-02 05:16] Loamashitu commented on #5507
I use Docker version 19.03.13, build 4484c46d9d

[2020-11-02 05:33] windax opened #5508 "c"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/docker-image
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-11-02 06:51] mdisg commented on #3989
@irac-ding you download the latest version from here https://dotnet.microsoft.com/download/dotnet-core/3.1

[2020-11-02 10:58] vitek-karas commented on #5189
The command line stuff is unfortunate in your scenario, but it's basically "by design". The `GetCommandLineArgs` doesn't actually return the command line from the "OS", it returns the command line for the .NET app:
* It's been like this for a while (so unlikely to change as it could break too many apps)
* I can only guess, but it was probably done so that the app doesn't see much of a difference b

[2020-11-02 15:38] rbhanda commented on #5017
@Entomy thanks a lot for letting us know.  This is a known issue and a workaround has been posted on https://github.com/dotnet/core/issues/5352. Hope this helps

[2020-11-02 19:22] dagood commented on #5450
I'm trying to understand a little better what this story tracks.
* My initial interpretation of "on the desktop" is shaky. I believe the intent is along the lines of "on my machine".
* "The product" from the source-build point of view is the .NET SDK, but this isn't clear IMO unless you already know what source-build is.
* Is the focus on "easily"? Or are there more significant gaps in the experie

[2020-11-02 19:47] svdevendra commented on #5379
Hi @vitek-karas and @mairaw
Thank you so much for your reply. My issue resolved after adding the path into the environment variable.

[2020-11-02 20:41] vitek-karas commented on #5379
Glad to hear it works for you.

[2020-11-02 20:41] #5379 closed

[2020-11-02 22:13] adegeo commented on #5352
What should the messaging in the docs be related to this? Add section for 20.10 and note that the package manager is currently broken and to use the manual install and pre?post? running the script, get the dependency with
[code]

??

[2020-11-02 22:25] #4894 closed

[2020-11-02 22:27] BrennanConroy opened #6196 "[EPIC] Rate limiting"
- [ ] Resource limit API design https://github.com/dotnet/aspnetcore/issues/32030
- [ ] Redis based Resource Limiter shipped in aspnetcore
- [ ] Limits in Kestrel https://github.com/dotnet/aspnetcore/issues/32033
  - [ ] Existing rate limits
  - [ ] Concurrency and rate limits for connections
- [ ] Limiter Middleware https://github.com/dotnet/aspnetcore/issues/32032
- [ ] Uses in BCL types https:/

[2020-11-02 22:36] DamianEdwards opened #5510 "Improve inner-loop performance for .NET developers"
### Summary
Inner-loop performance is critical to providing the developer experiences that are increasingly expected/demanded by developers. How fast developers can make code changes and see the resulting impact in their apps is directly proportional to how productive they can be.

When using other platforms, many of the common inner-loop operations are faster, sometimes dramatically so, than the

[2020-11-02 22:49] DamianEdwards opened #5511 "Improve and modernize the launch/debug/update loop for .NET projects"
### Summary
The launch, debug, and EnC (Edit and continue) features that exist today, offer developers a way to run their application during the inner-loop along with potentially debugging and even changing their code and have those changes applied to their running application. There are a number of potential opportunities to improve this set of experiences to further their ability to become a mor

[2020-11-02 23:30] dagood commented on #5352
This is the expected behavior with the current delay-heavy release process (https://github.com/dotnet/runtime/issues/35672) so I don't think "broken" is the right word. Packages that support Ubuntu 20.10 are not available, but if you manually acquire that old `libicu66` package, you can then use the .NET packages that support Ubuntu 20.04 on Ubuntu 20.10.

Using `equivs` takes more lines to do, bu

[2020-11-02 23:34] dagood commented on #5352
With the manual install you don't need the out-of-distro `libicu66` via `wget`, you can just use the distro-provided `libicu67`. This is part of normal dependency setup so I don't think it needs to be any more detailed than usual.

Package repo installs are better than manual installs, so it would be nice to see an official workaround letting you install from the repo rather than only pointing to

[2020-11-03 02:50] antonio-jose20 opened #5512 "dotnet"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-11-03 02:52] antonio-jose20 opened #5513 "dotnet" no se reconoce como un comando interno o externo, programa o archivo por lotes ejecutable."
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-11-03 02:52] antonio-jose20 commented on #5513
dotnet" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.

[2020-11-03 07:09] abhishekrohokale opened #5514 "not giving time in output"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/edit
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-11-03 07:10] #5514 closed

[2020-11-03 08:56] fengyinyong opened #5515 "COPY failed: CreateFile \\?\C:\ProgramData\Docker\tmp\docker-builder701316953\obj\Docker\publish: The system cannot find the path specified."
I created a asp.netmvc  project via vs2019,  it is based on .netframework4.8,and I add a dockerfile . But I can build a image successful.

my project:
![image](https://user-images.githubusercontent.com/68414905/97965344-2df29e00-1df5-11eb-8879-4709729d74f7.png)

the error message when run docker build:
![image](https://user-images.githubusercontent.com/68414905/97965414-48c51280-1df5-11eb-85fa-92c

[2020-11-03 12:28] squalsoft commented on #5510
This is really very critical. From day to day i have pain with slow builds compared to Go compilation.

[2020-11-03 17:34] tanekim77 commented on #5345
![image](https://user-images.githubusercontent.com/20119808/98020368-ec4ffc00-1dd0-11eb-961c-1e0208efab8f.png)
Debugging using .net RC5 => blazorwebassembly causes the following error

[2020-11-03 20:32] carlossanlop commented on #5137
It seems this has been answered so I'll close the issue.
@marcpopMSFT if you can mention this in the release notes, that would be great.

[2020-11-03 20:32] #5137 closed

[2020-11-03 20:41] danmosemsft commented on #5424
Next step here is on @glennc who will continue customer development/research.

@ajcvickers do you want to create a User Story for any research into possible GraphQL work, and parent under this?

[2020-11-03 20:46] danmosemsft commented on #5495
@JamesNK as this is parented by a Theme, perhaps it should be an Epic (or be under a gRPC epic)

[2020-11-03 20:47] danmosemsft commented on #5495
Same parent as https://github.com/dotnet/core/issues/5493 perhaps.

[2020-11-03 23:38] danmosemsft commented on #5493
@JamesNK any requirements on the client networking stack here?

[2020-11-03 23:38] danmosemsft commented on #5495
@JamesNK any requirements on the client networking stack here?

[2020-11-04 09:43] GameBot15 opened #5518 "Peroblem"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-11-04 14:31] unseriousdk commented on #5515
Try to move "Dockerfile" to where your .sln and .dockerignore files are. Also build docker from this location.

[2020-11-04 18:36] lnaie commented on #4326
I'm getting this error:
[code]
when running ```docker pull mcr.microsoft.com/dotnet/core/aspnet:3.1-buster-slim``` on a win10 pro v1909 running in a vm:

My docker engine is ```v19.03.13```.
VS 2019 is updated to:
[code]

[2020-11-04 22:09] MMWPF opened #5519 "Windows 10 2016, LTSB support in .net core"
# Does .net core runtime supported in win 10 2016, LTSB?

I am trying to run aspnetcore grpc service and got IO exception. I was wondering if there is a limit on .net core os, windows 10 build number ?

[2020-11-04 22:13] JamesNK commented on #5493
It was under cloud native. @richlander removed it. What was the reason behind that?

[2020-11-04 22:15] JamesNK commented on #5493
Maybe. I will need to do some investigation then talk to client team

[2020-11-04 22:19] danmosemsft commented on #5493
OK, please let us know if there are. cc @karelz

[2020-11-04 22:26] JamesNK commented on #5495
I'm pretty sure there will be. Post 5.0 release I'll talk to @karelz about it

[2020-11-04 22:54] mairaw commented on #5518
Please provide the requested information so we can understand the problem that you're having.

[2020-11-04 23:57] SotoMonge opened #5520 ".Net can't run"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/run
Operating System: macos

**_The build failed. Fix the build errors and run again._**

dyld: lazy symbol binding failed: Symbol not found: _utimensat
  Referenced from: /usr/local/share/dotnet/shared/Microsoft.NETCore.App/3.1.9/System.Native.dylib
  Expected in: /usr/lib/libSystem.B.dylib

dyld: Symbol not fou

[2020-11-05 00:26] mairaw commented on #5520
What is your version of macOS?

[2020-11-05 03:05] jamshedd commented on #5450
@dagood, you're right I did mean on my machine when I said on my desktop :) Desktop can mean different things in different contexts so machine is less ambiguous.

[2020-11-05 03:09] scalablecory commented on #5512
Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-11-05 05:49] lalkakaal opened #5521 "api-ms-win-crt-runtime|1-1-0.dll"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-11-05 07:16] fengyinyong commented on #5515
@unseriousdk
I put the three file in the same location, and build the image,But it still does not work.
![image](https://user-images.githubusercontent.com/68414905/98209268-98cce200-1f79-11eb-9813-7b2a7731654e.png)

[2020-11-05 10:34] crystal-lz opened #5522 "Why does this code have different results on different OS"
[code]

[2020-11-05 12:19] ralfhempfling opened #5523 "Error with 'WORKDIR' command"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/docker-image
Operating System: windows 10 pro

Docker version 19.03.13, build 4484c46d9d

when executing 'docker build -t  mymicroservice .' I get the following error (see also image below):

hcsshim::PrepareLayer - failed failed in Win32: Incorrect function. (0x1)

![docker_build_issue](https://user-images.gith

[2020-11-05 16:40] Malphabetagama opened #5524 "error or issue running dotnet cmd"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

command prompt message
*******

Usage: dotnet [options]
Usage: dotnet [path-to-application]

Options:
  -h|--help

[2020-11-05 17:09] marek-safar commented on #5410
I think this issue should be moved to dotnet/runtime

[2020-11-05 19:54] mairaw commented on #5524
That looks like the expected result. Have you continued the tutorial @Malphabetagama?

[2020-11-05 20:47] #5413 closed

[2020-11-05 21:14] TylerNielsen commented on #5278
I got this same error with 8.0.22. I downgraded MySql.Data to 8.0.15 (previous version) and it resolved the issue.

[2020-11-06 01:04] janmionez opened #5525 "There seem to be no Program.cs in my installed Visual Basic. What to do?"
Problem encountered on https://dotnet.micro
![Capture](https://user-images.githubusercontent.com/74028980/98313510-f95a2e80-200e-11eb-8000-bdda5f74de66.PNG)
soft.com/learn/dotnet/hello-world-tutorial/create#
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-11-06 01:29] mairaw commented on #5525
You should have another directory under the one you're currently in called myApp (the -o option creates a new subfolder). You can use any kind of code editor or text editor to open the Program.cs to continue the tutorial.

Please let us know if that helps.

[2020-11-06 01:30] mairaw commented on #5525
Also, this tutorial will use C# instead of Visual Basic. Let us know if you need any help finding some Visual Basic tutorials.

[2020-11-06 01:46] danmosemsft commented on #5367
@bradygaster can you set engineering owner(s)? Is this all on ASP.NET?

[2020-11-06 02:27] ASolomatin commented on #5319
Hi. I still can reproduce TypeLoadException with generics:
[code]
Error:
[code]

[2020-11-06 08:05] idhamrpg opened #5527 "System Error"
The program can't start because api-msi-win-crt-runtime-|1-1-0.dll is issing form your computer. Try reinstalling the program to fix this problem.

[2020-11-06 08:24] mairaw commented on #5527
It’s not clear when you get this problem but it seems this is related to missing dependencies:
https://docs.microsoft.com/dotnet/core/install/windows?tabs=netcore31#additional-deps

If that’s not it, give us more information like OS, version, etc. so we can help you.

[2020-11-06 08:34] mairaw commented on #5521
Which version of Windows do you have? In order to complete the tutorial, you need to install the dependencies too if you’re on an older version of Windows

https://docs.microsoft.com/dotnet/core/install/windows?tabs=netcore31#additional-deps

[2020-11-06 08:37] mairaw commented on #5506
Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-11-06 08:38] mairaw commented on #5505
Which method of installation are you using and which version? Please provide more information so we can try to help you.

[2020-11-06 08:38] mairaw commented on #5508
Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-11-06 08:41] mairaw commented on #5501
Can you type `dotnet --info` and let us know what is the information returned?

[2020-11-06 08:43] mairaw commented on #5499
Please navigate to a different directory. You won’t have permissions to create a project under c:\windows\system32.

Let us know if that worked!

[2020-11-06 08:44] mairaw commented on #5488
This one seems to be missing some labels @richlander

[2020-11-06 08:48] mairaw commented on #5523
Can you help here @nishanil @shirhatti?

[2020-11-06 08:49] mairaw commented on #5507
Can you help here @nishanil @shirhatti?

[2020-11-06 08:52] mairaw commented on #5476
Can you check this @cartermp?

[2020-11-06 08:54] mairaw commented on #5475
How are you running the project? Is there a small repro for this?

[2020-11-06 08:55] mairaw commented on #5464
Is your issue that you don’t know how to open a new command prompt? Just trying to understand the problem better.

[2020-11-06 09:27] jesmanto commented on #5499
It worked. Thanks

[2020-11-06 09:35] simplicbe commented on #4921
We are getting this issue also very ofter at the moment. We deploy from Azure DevOps. @leszek95b could you find a solution?

In our case

[code]

[2020-11-06 10:14] leszek95b commented on #4921
Hi @simplicbe, I'm still stuck with this issue. Most probably it's caused by a fact that my docker containers running dotnet code are on virtual machines based on VMWare.

Looking at your exception i can see that your problem is different than mine. In your case its related to manifest (I suspect issues with dotnet publish command), in my case it's randomly missing file in filesystem.

[2020-11-06 10:17] simplicbe commented on #4921
@leszek95b the curious problem here is, that it is a different file when compiling and deploying the same code. That's why I thought this might be related.

[2020-11-06 10:38] mairaw commented on #5499
Awesome!

[2020-11-06 10:38] #5499 closed

[2020-11-06 15:46] cartermp commented on #5476
This one isn't specific to F#, as you'll see the same behavior in a C# app that just throws an exception. Might be good to start with the cli/sdk cc @marcpopMSFT

[2020-11-06 16:59] terrajobst opened #5528 "User Story: As a package author, I can use #if to perform version checks"
Today, projects automatically define `#if` symbols based on the friendly TFM representation. This includes both versionless- as well as version-specific symbols. For .NET 6, we plan to add `XXX_OR_GREATER` variants that are accumulative in nature:

TFM                 | Existing | New
--------------------|----------|--------------------------------------------
`net5.0`            | `NET5_0` | `NET

[2020-11-06 17:01] terrajobst opened #5529 "Epic: Developers have access to guidance & tools that supports them in building cross-platform packages"
We need to make it easier to multi-target across operating systems and architectures, which also includes better support for RID-based multi-targeting.

### User Stories

- [ ] As a package author, I can use #if to perform version checks dotnet/sdk#14540
- [x] Completion should support preprocessor symbols https://github.com/dotnet/roslyn/issues/49694
- [ ] Package authors can multi-target between

[2020-11-06 18:52] omajid commented on #5528
This snippet is very confusing to me:

[code]

It seems `NETCOREAPP3_1_OR_GREATER` means ".NET Core 3.1 or .NET 5 but not .NET 6"? This seems very strange. .NET 6 is ".NET Core 3.1 or later" from how I am looking at it.

I would have expected it to be written like this, so the highest version check comes first.

[code]

[2020-11-06 18:58] terrajobst commented on #5528
You're totally correct. The order in my if-statements is totally wrong.

![](https://media4.giphy.com/media/xT5LMzIK1AdZJ4cYW4/giphy.gif)

[2020-11-06 19:00] terrajobst commented on #5528
@omajid You may want to read the spec now and leave feedback there.

[2020-11-06 19:01] carlossanlop commented on #5513
Hola @antonio-jose20 , te aseguraste de cerrar y reabrir las ventanas de línea de comando que tuvieras abiertas, después de que instalaste el SDK? Si no las cierras, las variables de entorno no se van a actualizar.

[2020-11-06 19:02] carlossanlop commented on #5515
@MichaelSimons any chance you could help with this issue?

[2020-11-06 19:03] carlossanlop commented on #5522
@GrabYourPitchforks I think you may have some context on this question. Can you please help?

[2020-11-06 19:03] carlossanlop commented on #5496
@dagood can you help with this?

[2020-11-06 19:05] carlossanlop commented on #5488
@terrajobst @richlander is this an Epic or a User Story?

[2020-11-06 19:06] omajid commented on #5528
From a quick look, the new spec looks good. Thanks for fixing it so quickly!

[2020-11-06 19:07] carlossanlop commented on #5431
No replies in 9 days. Closing.

[2020-11-06 19:07] #5431 closed

[2020-11-06 19:08] carlossanlop commented on #5430
No replies in 9 days. Closing.

[2020-11-06 19:08] #5430 closed

[2020-11-06 19:08] carlossanlop commented on #5417
No reply in 9 days. Closing.

[2020-11-06 19:08] #5417 closed

[2020-11-06 19:09] carlossanlop commented on #5405
No reply in 9 days. Closing.

[2020-11-06 19:09] #5405 closed

[2020-11-06 19:10] carlossanlop commented on #5402
@dsplaisted I'll move it to that repo so we don't lose track of a potential bug.

[2020-11-06 19:11] carlossanlop commented on #5402
This issue was moved to dotnet/install-scripts#100

[2020-11-06 19:12] carlossanlop commented on #5390
No reply in 9 days. Closing.

[2020-11-06 19:12] #5390 closed

[2020-11-06 19:13] carlossanlop commented on #5371
No reply in 9 days. I suppose the outage is gone, we haven't heard any more about this. Closing.

[2020-11-06 19:13] #5371 closed

[2020-11-06 19:13] carlossanlop commented on #5380
Ping @shirhatti

[2020-11-06 19:13] carlossanlop commented on #5382
Ping @shirhatti

[2020-11-06 19:13] carlossanlop commented on #5358
Ping @shirhatti

[2020-11-06 19:14] carlossanlop commented on #5357
Ping @bartonjs @KrzysztofCwalina

[2020-11-06 19:14] terrajobst commented on #5488
Based on structure I'd assume user-story. @richlander, feel free to change this.

[2020-11-06 19:15] carlossanlop commented on #5358
Ping @shirhatti

[2020-11-06 19:21] carlossanlop commented on #5267
Ping again @rbhanda

[2020-11-06 19:22] carlossanlop commented on #5176
I believe this has been answered.

[2020-11-06 19:22] #5176 closed

[2020-11-06 19:23] carlossanlop commented on #5156
Ping @richlander

[2020-11-06 19:24] carlossanlop commented on #5123
Ping @joeloff

[2020-11-06 19:28] carlossanlop commented on #5081
@mikem8361 is this something you can help with?

[2020-11-06 19:31] rbhanda commented on #5267
It looks like the original issue https://github.com/dotnet/sdk/issues/10403 is still open.  I will follow up on this and let you know if this is resolved

[2020-11-06 19:33] carlossanlop commented on #5077
@Banyc if you can find a way to simplify the repro to a minimal one, that would be great.

What OS are you running this in?

Since this is in a loop, I wonder if the issue is because of a race condition - the code is expecting to move or copy much faster than the OS can handle it. AFAIK, there is no guarantee the OS will perform the requested task exactly when you make the call, it may be queued.

[2020-11-06 19:35] #5044 closed

[2020-11-06 19:38] dagood commented on #5496
@snap254 can you please link the instructions you're following and the exact commands you ran?
I just want to make sure we don't make any assumptions. 🙂

The installation instructions at https://docs.microsoft.com/en-us/dotnet/core/install/linux-centos#centos-7- work fine for me right now in a fresh environment.

/cc @NikolaMilosavljevic @leecow

[2020-11-06 19:39] carlossanlop commented on #5054
Since this happened after a VS upgrade, my suggestion is that you report this issue to them: https://developercommunity.visualstudio.com/content/problem/post.html?space=8

[2020-11-06 19:39] #5054 closed

[2020-11-06 19:41] carlossanlop commented on #5074
@mairaw do you own the vs code tutorial, or do you know who can help?

[2020-11-06 19:44] carlossanlop commented on #5070
@PokeArsenalist I'll go ahead and close it since there's an external issue opened to track this problem too.

If you can share a binlog as suggested by @dsplaisted , that would give us a chance to continue investigating. Let us know and we can reopen if you decide to do so.

[2020-11-06 19:44] #5070 closed

[2020-11-06 19:45] carlossanlop commented on #5060
@wli3 @dsplaisted is this something you can help with?

@guijoe are you still facing this problem?

[2020-11-06 19:48] dsplaisted commented on #5060
If you can [provide a binlog](https://aka.ms/binlog) for a build of the project, that would probably enable us to figure out why you are getting this error.

[2020-11-06 19:51] carlossanlop commented on #5278
Ping @rrelyea

@roshanbudhathoki @TylerNielsen @favill42 Can you please share the contents of your csproj? Can you print the output of `dotnet --info`?

[2020-11-06 20:43] rrelyea commented on #5278
When i try to repro with:
[code]

and a global.json of:
[code]

and run:
`dotnet publish -r linux-x86`

i see no errors or warnings.

What is wrong with my repro steps?

[2020-11-06 20:48] mikem8361 commented on #5081
This isn't exactly my area, but it looks like you are doing a pinvoke (DllImport) I assume. Is the function you are pinvoking to "my_symbol_name".  Is that symbol an "extern C" public symbol?

[2020-11-06 21:33] mairaw commented on #5074
Nope - I only own things under dotnet.microsoft.com. @tdykstra owns that doc.

[2020-11-06 21:53] tdykstra commented on #5074
This is a web (ASP.NET Core) issue -- @Rick-Anderson

[2020-11-06 22:03] mairaw commented on #5074
The OP mentioned this article: https://docs.microsoft.com/en-us/dotnet/core/tutorials/with-visual-studio-code

[2020-11-06 22:17] marcpopMSFT commented on #5476
@wli3 is this specific to how dotnet run works on mac?

[2020-11-06 22:29] Rick-Anderson commented on #5074
For Visual Studio, use the [Report a Problem](https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio) gesture or [Suggest a Feature](https://docs.microsoft.com/visualstudio/ide/suggest-a-feature?view=vs-2019) gesture within VS, which open internal issues for the VS team.

[2020-11-07 08:51] MakVish opened #5531 "Playing sound file in C#- using Visual Studio Mac 2019"
Is there a way to play a sound file or beep sound in mac while coding using C#? I have tried Console.Beep which doesn't work. I have also tried Systems.Sounds but negative. I know all of this works in Windows and it's just a one line code. However, it seems quite difficult in Mac. Is there a simpler way to play any sound file? I have seen some answers mentioning Xamarin.Mac but I don't know how to

[2020-11-07 08:56] Banyc commented on #5077
I was running it on Windows. Since it was too long ago, I am not currently engaged in this issue. By the way, as in the other issue I have raised, they said `WebClient` is not recommended.

[2020-11-07 13:18] dilaraozirmak commented on #3739
I had the same issue on .net core 3.1 console app.

I was working on Development environment. And my  ConfigurationBuilder was as follows:
`var configuration = new ConfigurationBuilder()
                .SetBasePath(Directory.GetCurrentDirectory())
                .AddJsonFile("appsettings.json")
                .AddJsonFile($"appsettings.{environment}.json", true, true)
                .Build();`

[2020-11-07 15:59] Malphabetagama commented on #5524
yes I have begun Thanks a Bunch mairaw 👍

[2020-11-07 19:36] mairaw commented on #5524
Awesome! I plan to add the expected output to make the tutorial a bit more clear. Let us know if you run into other issues.

[2020-11-07 19:36] #5524 closed

[2020-11-07 22:21] #5458 closed

[2020-11-07 23:21] #5157 closed

[2020-11-08 12:46] ClimberBear opened #5532 "GetCultureInfo for Spanish report invalid list separator"
# Issue Title

GetCultureInfo for Spanish report invalid list separator (report "." instead of ";")

# General

The standard list separator for Spanish in Spain is the semi-colon, as you can see, e.g., exporting Excel files in CSV format.

But, if you execute
CultureInfo.GetCultureInfo("es-ES").TextInfo.ListSeparator
you get "."

My SDK is: 3.1.403 [/usr/local/share/dotnet/sdk] running in MacOS Ca

[2020-11-08 23:09] Trolldemorted commented on #5345
I did that, but I am still unable to select .net5 in VS, and if I edit the .csproj VS refuses to build (MSB3644). Running dotnet build directly works like a charm, though. I am running VS 16.7.7, and the installer did not nag me about pending updates so far.

[2020-11-08 23:49] mairaw commented on #5345
@Trolldemorted .NET 5 RC 2 requires Visual Studio 2019 (v16.8, Preview 4)

https://dotnet.microsoft.com/download/dotnet/5.0

[2020-11-09 00:43] kingbasiir opened #5533 "Blazor Server App could not be created"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your

OS: Window 10 PRO

I want to run this:

`dotnet new blazorserver -o BlazorApp --no-https`

ERROR:
Template "Blazor Server App" could not be created.
Access to the path 'C:\Windows\System32\BlazorApp' is denied.

![im

[2020-11-09 01:08] GrabYourPitchforks commented on #5522
Dupe of https://github.com/dotnet/runtime/issues/43736.

In a nutshell, the overload of `string.IndexOf` that's being called is performing a _culture-sensitive_ check, when an _ordinal_ check is intended.

There are two suggested workarounds:

1. If you're searching for a single char (e.g., `'\n'`), change the code from `strText.IndexOf("\n")` to `strText.IndexOf('\n')` instead. Searching for sing

[2020-11-09 01:08] #5522 closed

[2020-11-09 01:43] mairaw commented on #5533
@kingbasiir make sure you're not running this command on the `C:\windows\system32` path. Change your directory and that should work as expected.

[2020-11-09 01:43] #5533 closed

[2020-11-09 03:55] ms0713 commented on #5081
Issue is resolved. Thanks to everyone for putting your valuable efforts.

Issue was resolved by bundling all .so files in single package(linking them together).

[2020-11-09 04:16] mairaw commented on #5081
Thanks for letting us know. Closing the issue.

[2020-11-09 04:16] #5081 closed

[2020-11-09 15:28] jvymazal opened #5534 ""dotnet -h" throwing segfault"
# Issue Title
The following commands produce the segfault:
[code]

The following commands do not produce a segfault:
[code]

# General
Currently I am on MacOS Big Sur - 11.0 Beta (20A5395g)
I tried completely removing any dotnet from machine and reinstalling fresh new version via installer downloaded from [MS website](https://dotnet.microsoft.com/download/dotnet-core/thank-you/sdk-3.1.403-macos-x6

[2020-11-09 15:34] jvymazal commented on #5534
While searching for solutions I found [this SE post](https://unix.stackexchange.com/questions/600223/dotnet-help-segmentation-fault-core-dumped) with exactly the same problem (unfortunately without any useful info), and also https://github.com/dotnet/sdk/issues/6422 and #963 which are a bit similar but are both old issues so I started this as new one. Thanks for any pointers.

[2020-11-09 17:35] brebor opened #5535 ".NET 5 | Visual Studio "Trimming" Feature should be editable from project properties."
.NET 5 has a feature that is configurable via the Visual Studio .proj file called Trimming. This feature currently requires the developer to go into the .proj file and edit it manually. This should be configurable via the Project Settings UI Dialogs. A simple checkbox to turn it on or off would be best in my opinion. Any time you have to manually configure the project file, you open yourself up to

[2020-11-09 17:39] brebor opened #5536 ".NET 5 | Visual Studio | Single File application should be the default."
In .NET 5 there is a new feature of single file applications.
This has been needed for over 20 years. I believe this should be the default behavior going forward, not an option. By making this the default there are many benefits to the developer.
1. Smaller app footprint.
2. Easier publishing of the app.
3. App has all its dependencies within its footprint.
4. No additional bloat added to the app

[2020-11-09 19:14] mairaw commented on #5536
@KathleenDollard @richlander can you comment?

[2020-11-09 20:43] #5487 closed

[2020-11-09 20:48] carlossanlop commented on #5077
Ok thanks, @Banyc. I'll close the issue.

[2020-11-09 20:48] #5077 closed

[2020-11-10 05:31] jainudi48 commented on #5536
I second on Brett's suggestion here. This was much needed feature to ease the developers' lives. And now when it's introduced, it's as an option. Can we make it a default configuration?

[2020-11-10 06:05] danaeellaprogramiz commented on #5414
I think they are teddybears. It freaks me out

[2020-11-10 07:28] danaeellaprogramiz commented on #5414
It's working

[2020-11-10 07:49] jvymazal commented on #5534
Today I tried updating my mac to 11.0.1 Beta (20B5022a), unfortunately no change in the behavior above.

[2020-11-10 07:57] jvymazal commented on #5347
Hello, it is more likely problem on my machine however maybe you can extract some corner-case issue from it, currently dotnet 3.1.9 is dumping core on its own: #5534

[2020-11-10 10:07] bozturkMSFT commented on #5402
@carlossanlop Why was this moved? This seems to be about installers, not about install scripts.

[2020-11-10 10:41] dt-fastec opened #5539 "Does the dotnet SDK version have to match the package versions?"
Hi,

I have a question regarding the NuGet package versions and the dotnet SDK version.
If I update a PackageReference (e.g. Microsoft.Extensions.Logging.Abstractions) in my project from 3.1.9 to version 3.1.10, do I also have to update the dotnet SDK to 3.1.10 on my build machine at the same time?

[2020-11-10 11:22] niconico49 opened #5540 "Issues for Razor tag form with action and @onsubmit together"
# Issue Title
Issues for Razor tag form with action and @onsubmit together

# General
With the classic form tag like the follow:

<form action="http:\\www.microsoft.com" method="post" @onsubmit="@(() => { })">
    <button type="submit">Click Me!</button>
</form>

when the button is clicked the event (or in this case the lambda event) referenced by the @onsubmit server attribute is correctly interc

[2020-11-10 12:47] NitroSisui opened #5541 "unable to open Pages/index.cshtml in notepad ++"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/modify
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

i have saved the code in index in c->
![image](https://user-images.githubusercontent.com/74229185/98675889-da49fc80

[2020-11-10 15:18] MatthewLymer commented on #5541
Not really sure what the problem is, aside from the extension should be `cshtml` instead of `html`.

This also doesn't seem to be an issue w/ .NET Core.

[2020-11-10 15:20] levytenthije opened #5544 "cant do anything"
i get this and i dont know to fix it i have it installed It was not possible to find any installed .NET Core SDKs
  Did you mean to run .NET Core SDK commands? Install a .NET Core SDK from:
      https://aka.ms/dotnet-download

Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experienci

[2020-11-10 15:21] MatthewLymer commented on #5510
I notice this quite a bit when doing TDD, add one line of code, wait 30 seconds for it to compile and validate my test.  I guess this would apply to the first two epics.

[2020-11-10 15:32] rbhanda opened #5545 ".NET 5"
[Release Notes](https://github.com/dotnet/core/blob/master/release-notes/5.0/5.0.0/5.0.0.md)

Please report any issues you find with .NET 5, either responding to this issue, creating a new issue or creating a new issue in one of the following repos:

* [dotnet/aspnetcore](https://github.com/dotnet/aspnetcore/issues) - for ASP.NET Core questions
* [dotnet/efcore](https://github.com/dotnet/efcore/is

[2020-11-10 15:35] teo-tsirpanis commented on #5481
Related: dotnet/sdk#12328.

[2020-11-10 15:39] rbhanda opened #5546 ".NET Core November 2020 Update - 3.1.10"
[3.1.10 Release Notes](https://github.com/dotnet/core/blob/master/release-notes/3.1/3.1.10/3.1.10.md)
[3.1.10 Download](https://www.microsoft.com/net/download/dotnet-core/3.1)

**Blog posts**

[.NET Core](https://devblogs.microsoft.com/dotnet/net-core-November-2020/)

Please report any issues you find with 3.1.10, either responding to this issue, creating a new issue or creating a new issue in one

[2020-11-10 15:40] rbhanda commented on #5347
Closing in favor of https://github.com/dotnet/core/issues/5546

[2020-11-10 15:40] #5347 closed

[2020-11-10 15:41] rbhanda commented on #5345
Closing in favor of https://github.com/dotnet/core/issues/5545

[2020-11-10 15:41] #5345 closed

[2020-11-10 15:59] dagood opened #5549 "Ubuntu 20.10 Linux package repo doesn't work: "E: The repository 'https://packages.microsoft.com/ubuntu/20.10/prod xenial Release' does not have a Release file.""
Repro command using Docker:

[code]

This gives me:

[code]

https://packages.microsoft.com/config/ubuntu/20.10/packages-microsoft-prod.deb seems to have bad contents. 20.10 is not `xenial`--that's 16.04. 20.10 is `groovy`. The setup package should point to https://packages.microsoft.com/ubuntu/20.10/prod/dists/groovy/.

This prevents me from installing anything using the 20.10 feed.

As a workaro

[2020-11-10 16:07] leecow commented on #5549
You can alternately use the prod.list file, which is correct. For example:

[code]

[2020-11-10 17:14] LeandroRezendeCoutinho opened #5553 "NET 5 > dotnet new not working on OpenSuse Tumbleweed"
# NET 5 dotnet new not working on OpenSuse Tumbleweed

# General

Just installed on OpenSuse and try

dotnet new mvc -o MvcMovie

![image](https://user-images.githubusercontent.com/12284806/98707566-f046c580-235e-11eb-943d-887a03fc17c3.png)

[2020-11-10 17:51] tzickel opened #5554 "HttpListener is slower on reused connections than new connections"
# Issue Title

HttpListener is slower (*2 - *3 in microbenchmarks) on reused connections (i.e. HTTP keep-alive) than new TCP socket connections.

# General

Ubuntu 18.04, .NET Core 5.0.100 + 2.1.811

Run this code:
[code]

And test it with something like this (requires python and requests, i.e. pip install --user requests):
[code]

I would think that reusing a connection should be on-par or faster

[2020-11-10 19:18] JensMagnus opened #5556 "Using DI to determine the provider when using the constructor"
I'm trying to find a good way of doing this. Rather than typing a whole lot, let me demonstrate what I'm trying to accomplish.

Goal

[code]

Then when I want to use this service I will inject it into another service specifying which "provider" to use:

[code]

And even allowing me to inject multiple instances

[code]
#1 Attempt

[code]
which would be used as `var service = new SomeService<Concret

[2020-11-10 19:20] deinman commented on #4879
With the M1 chip being announced today is there any additional information available?

[2020-11-10 19:58] Nihlus opened #5558 "Newlines in WarningsAsErrors and NoWarn elements cause ILLink to fail"
# General

.NET SDK Version: 5.0.100

When attempting to publish a project with `PublishTrimmed` enabled, the `WarningsAsErrors` and `NoWarn` properties must not contain newlines; if they do, the project will fail to publish with the given error:

[code]

If the newlines are removed, and the entire value string is on one line, everything works as expected. A sample project has been attached. Set `

[2020-11-10 21:03] Kaelum opened #5559 "Linux Support"
Linux Support

If we have an application that works perfectly fine on Windows Server, but we run into some serious issues when running that exact same application under the same loading conditions on a Linux distribution that is not listed on the [Install .NET Core on Linux](https://docs.microsoft.com/en-us/dotnet/core/install/linux) page, do we have the full support of Microsoft to make it work?

[2020-11-10 21:09] f135ta opened #5560 "Your naming convention for Nuget Packages is beyond belief"
I'm using SignalR - I've updated to Net5.. Which - of the 30000000 packages am I supposed to use?

[2020-11-10 21:56] BrennanConroy commented on #5560
SignalR on the client or server side? If you're on the server side there is no package as SignalR is in the aspnetcore shared framework.

For client side you use https://www.nuget.org/packages/Microsoft.AspNetCore.SignalR.Client/

[2020-11-10 22:54] mairaw commented on #5559
Which distribution are you using? Tagging @leecow to give the official answer here

[2020-11-10 23:49] Kaelum commented on #5559
We're using AWS Linux for now, but if it's not supported, we need to switch to one that is.  We're running into Heartbeat issues, along with many others, and there are thousands of threads available.

[2020-11-11 00:38] egorpavlikhin opened #5564 "SEC_ERROR_INADEQUATE_KEY_USAGE in Firefox after update to .Net 5"
# Dev SSL certificates invalid after update to .Net 5

Just upgraded a web API project from .net 3.1 (core) to .net 5 and now opening a default path in a browser fails with a certificate error:
Firefox: SEC_ERROR_INADEQUATE_KEY_USAGE

# General

I am running Windows 10.0.18363 Build 18363
I've ran ` dotnet dev-certs https --clean` and then ` dotnet dev-certs https --trust` but that didn't help.

[2020-11-11 02:40] josago97 opened #5565 ".NET 5 Simplified Parameter Null Validation"
Visual Studio does not recognize the operator.

![image](https://user-images.githubusercontent.com/26380095/98758616-7e5a9480-23cf-11eb-97b0-79f0f2149ccc.png)

[2020-11-11 03:40] LukeStephen commented on #4879
Just ordered the new macbook pro with apple silicone, cant wait to develop .NET Core using Visual Studio Code

[2020-11-11 03:52] shiayoung opened #5566 "The thread is queued disorderly when using netcore 3.1 in debug mode in VS."
# Issue Title

Same as tiitle.
## .netcore 3.1(.netcore 2.x not tested)
Start new debug instance in vs studio: Not expected.
Debug Build:  no problem.
Release Build: no problem.

## .NET Framework 4.7.1(other version not tested).
Start new debug instance in vs studio: no problem.
Debug Build:  no problem.
Release Build: no problem.

# Reproduction
The runnable code is here:
[code]
The desired outp

[2020-11-11 05:44] bairog opened #5567 "Visual Studio 2019 and ability to build/debug a project that will target .NET 6 REL"
**UPDATE**
For today latest Visual Studio 2019 (**16.11.x**) doesn't **officially** support .NET 6 development. Possible workround is [described here](https://github.com/dotnet/core/issues/5567#issuecomment-1097797519).
As .NET 5.0 reaches EOL in 05.2022 and .NET Core 3.1 - in 12.2022 ([.Net Core Lifecycle](https://dotnet.microsoft.com/en-us/platform/support/policy/dotnet-core)) so Visual Studio 2

[2020-11-11 06:28] JhetM opened #5568 "open send voice record call record to my google drive"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/edit
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-11-11 08:17] bopin2020 commented on #5545
Anyone already had some same problems?  I tested .NET5 WPF on the linux system, but there was a big problem that I wanna why I used .NET5  to create a WPF project, as a result, I cat *csproj file <TargetFramework> contained "netcoreapp3.0". I need your help,please.
![image](https://user-images.githubusercontent.com/49940777/98786682-64ee3280-2439-11eb-872b-321c737a7ff2.png)

[2020-11-11 08:51] yyjdelete opened #5569 "Download page of dotnet core 3.1 runtime is linked to net5.0"
# Issue Title

Download page of dotnet core 3.1 runtime also link to net5.0

# General
Find  `Download xxx Runtime` from
https://dotnet.microsoft.com/download

For 3.1, get
https://dotnet.microsoft.com/download/dotnet-core/current/runtime
And for 5.0, get
https://dotnet.microsoft.com/download/dotnet/current/runtime

but both link to `.NET 5.0 Runtime` download page

[2020-11-11 08:53] yyjdelete commented on #5546
#5569
The download page of netcore 3.1 from https://dotnet.microsoft.com/download is linked to net5.0

[2020-11-11 10:11] danaeellaprogramiz commented on #5414
&*

[2020-11-11 10:12] danaeellaprogramiz commented on #5414
You don't need to create window oriented programs, because the game will pause automatically

[2020-11-11 10:35] josepvg commented on #5423
Ok, now we will be able to compile Blazor to native apps?!?. I must admit I'm getting a bit lost in this multiplatform development world. I'm currently using Xamarin for my mobile development. But now if I understand this correctly we have 3 options:
1. Xamarin (android/ios/uwp).
2. Platform UNO ( android/ios/uwp/wasm/windows/macos)
3. Blazor (wasm.... android/ios/uwp)

I get the feeling that all

[2020-11-11 10:50] danaeellaprogramiz commented on #5414
It was the Police

[2020-11-11 10:57] mparvanov opened #5571 "Nuget restore fails when there is an unavailable package source in %appdata%\nuget\nuget.config"
### Bug report
With .NET 5 official version, in case there is a local feed configured to point to unavailable location, the restore fails wothout taking into account the next valid feeds. This behavior is not observed with .NET 5 RC2, where the unavailable feed is ignored and the nugets are restored successfully from the next feeds on the chain.

### Reproduction of the problem
Consider the follow

[2020-11-11 12:10] deathchurch commented on #5013
Is there any further update to this now .NET Core 5 has been released?

[2020-11-11 15:24] tyler-shuhnicki opened #5573 "Loading an assembly from Byte[]"
# Background
Hello! Our web application follows a "plug-in" architecture. We have different modules throughout the website that are unique enough to warrant their own projects inside of our solution. At the start of the application, our 'main' application loads the compiled DLLs. Currently, we are in the process of migrating our application to the cloud and moving toward a micro service architectu

[2020-11-11 15:32] kakins opened #5574 "Failed to fetch https://packages.microsoft.com/ubuntu/18.04/mssql-server-2019/dists/bionic/main/binary-amd64/Packages.bz2 File has unexpected size"
# Issue Title
 Failed to fetch https://packages.microsoft.com/ubuntu/18.04/mssql-server-2019/dists/bionic/main/binary-amd64/Packages.bz2  File has unexpected size

# General
This task started failing yesterday afternoon.  It had worked every time before then.

Powershell command, running in ADO pipeline
[code]

yml
[code]

Output:
[code]

[2020-11-11 15:35] kakins commented on #5574
I hope this is the right repo to post this issue.  I saw a similar issue posted last year in this repo, so I figured it could be related.

[2020-11-11 15:51] mgholam opened #5575 "Release build optimize property not working"
# Release build optimize property not working
Given the following project file:
[code]
When I enter the following command :
[code]
The output is not optimized, and only when I set the `<Optimize>true</Optimize>` in the debug configuration section does it work, which defeats the purpose of configurations.

# Extra info
[code]

[2020-11-11 16:10] #4520 closed

[2020-11-11 16:53] dagood commented on #5569
@mairaw @richlander

This might be related to 5.0 kinda oddly showing up on both https://dotnet.microsoft.com/download/dotnet-core vs. https://dotnet.microsoft.com/download/dotnet ?

@yyjdelete in case you haven't found it yet and you're looking for them, you can still get the 3.1 .NET Core installers at: https://dotnet.microsoft.com/download/dotnet-core/3.1

[2020-11-11 18:22] soumyamahunt commented on #5120
Since .NET 5 is released now, is there any ETA on when this will be fixed??

[2020-11-11 19:09] leonardder commented on #5013
I'm also looking forward to an update on this, as our company is in the
process of deciding how to deal with .NET updates in the near and
distant future.

[2020-11-11 19:24] jamshedd commented on #4600
.NET Core is not a component of Windows, and there is no plan to move in that direction. Making .NET Core a component of Windows would mean .NET Core would be the same as .NET Framework including the very high compat bar which can sometimes prevent us from making changes or adding features as fast as we'd like to. If you really need .NET bits to be part of the shipping Windows OS then I'd recommen

[2020-11-11 19:24] #4600 closed

[2020-11-11 19:35] jamshedd commented on #5013
I wanted to share an update on this. We just shipped .NET 5.0 yesterday. As I mentioned earlier we're working on adding support for deploying updates for .NET Core 2.1, 3.1, and 5.0 via Microsoft Update. You're probably familiar with our "patch Tuesday" release cycle, we ship updates on the second Tuesday of each month, we plan to ship the first patch for .NET 5.0 on patch Tuesday i.e. 12/8, and i

[2020-11-11 20:47] nietras commented on #3048
I am running into the same issue here for .NET 5.0, I have a `.net5.0-windows` application that needs to load a specific assembly from the GAC, to do that we need to query the cache via the above mentioned method:
[code]
If the probing path is the issue how I can I modify that to work?

[2020-11-11 21:17] tapika opened #5577 "Mechanism to checksum assembly-compilation to determine if it has changed or not"
It should be possible to calculate hash or checksum over compiled assembly, so same input files would produce the same checksum.

This is useful to identify whether assembly has changed or not - and act upon that - for example execute correspondent tests or release nuget package.

Doing something like this was attempted in several ways - for example using ildasm:

1) https://www.codeproject.com/Ar

[2020-11-11 21:24] bradygaster commented on #5367
cc @mkArtakMSFT - the only .NET team item here would be a small set of updates [but ones with significantly positive impact to Open API fidelity] to the Web API template and potentially the scaffolders. Between @mkArtakMSFT and @vijayrkn we're covered.

[2020-11-11 22:38] mglgmz commented on #5553
on Debian `dotnet new` does not list any templates. and If I try to do for example: `dotnet new console -o "Miguel"` it errors out

[2020-11-11 23:42] #5518 closed

[2020-11-12 00:45] #5520 closed

[2020-11-12 01:07] wli3 commented on #5476
Nothing special on mac or dotnet run. We spin up a process to run the application just built. I'll ask runtime team to see if this is expected.

[2020-11-12 01:07] wli3 commented on #5476
Issue moved to [dotnet/runtime #44567](https://github.com/dotnet/runtime/issues/44567) via [**ZenHub**](https://www.zenhub.com/)

[2020-11-12 01:07] #5476 closed

[2020-11-12 01:27] carlossanlop commented on #3048
So Fusion.dll is a .NET Framework sub-system responsible for locating and loading assemblies. We probably have APIs in .NET 5.0 that can achieve the same results.
@GrabYourPitchforks @steveharter is this something that falls in the System.Reflection area that you could help with?

[2020-11-12 02:09] GrabYourPitchforks commented on #3048
Use [`NativeLibary.Load(string)`](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.nativelibrary.load?view=net-5.0#System_Runtime_InteropServices_NativeLibrary_Load_System_String_), passing in the full path ("c:\blahblah\mymodule.dll") to the DLL you wish to load. Do this _before_ attempting to p/invoke into the DLL. Once the unmanaged DLL is loaded in-process, any future

[2020-11-12 03:06] mingtong opened #5581 "Windows Server 2012 R2 to build .NET 5 with WinRT API?"
# How to set TFMs on Windows Server 2012 R2?

https://blogs.windows.com/windowsdeveloper/2020/11/10/announcing-c-winrt-version-1-0-with-the-net-5-ga-release/
In the above article said the following are supported(only?) to enable WinRT API
net5.0-windows10.0.17763.0 (Windows 10, version 1809)
net5.0-windows10.0.18362.0 (Windows 10, version 1903)
net5.0-windows10.0.19041.0 (Windows 10, version 2004)

[2020-11-12 03:45] #5512 closed

[2020-11-12 04:57] mairaw commented on #5476
FYI @wli3 we can transfer issues natively between same-org repos using the GitHub UI.

[2020-11-12 05:12] motowilliams opened #5582 "dependadotnet cli help"
` dependadotnet /?` or `dependadotnet --help` should show the usage text. Instead of tried to append that string to the current (execution) directory.

[2020-11-12 05:57] muhammad2k18 commented on #5574
Getting the same issue trying to install mssql server on ubuntu 20.04.1 x64
![Screenshot from 2020-11-12 10-56-59](https://user-images.githubusercontent.com/36593756/98901576-d1b70a80-24d5-11eb-8ff9-4a3e8a7c3ecc.png)

[2020-11-12 05:57] Anduin2017 opened #5583 "Why don't `IQueryable<T>` implement `IAsyncEnumerable<T>` ?"
# Issue Title

Why don't `IQueryable<T>` implement `IAsyncEnumerable<T>` ?

# General

Since `IQueryable<T>` is an interface which represents something that you can query from and get data. For example: In EF-Core, you can use `IQueryable.ToListAsync()` to get all items from a database.

So usually, this interface is with IO operations. Also not very fast and shall be waited. But it implements int

[2020-11-12 06:45] pengweiqhca opened #5584 "dotnet-runtimeinfo exception on wsl1"
[code]

[2020-11-12 08:16] Darknox-nl commented on #5574
Same issue here at ubuntu 18.04.3. I thought I was doing something wrong because I am installing SQL Server on Linux for the first time.

`
Get:7 https://packages.microsoft.com/ubuntu/18.04/mssql-server-2019 bionic/main amd64 Packages [13.4 kB]
Err:7 https://packages.microsoft.com/ubuntu/18.04/mssql-server-2019 bionic/main amd64 Packages
  File has unexpected size (13511 != 13352). Mirror sync in

[2020-11-12 08:20] KiranHyd commented on #5156
@richlander Can you please answer this ?

[2020-11-12 08:29] ernstscheithauer commented on #5156
https://developercommunity.visualstudio.com/idea/757925/please-port-visual-studio-tools-for-office-vsto-to.html

+1 from me for implementing this

[2020-11-12 08:29] Darknox-nl commented on #5574
The packages from https://packages.microsoft.com/ubuntu/18.04/mssql-server-2019/dists/bionic/ have received an update on 10-Nov-2020 23:39. The update is probably related to our issues.

[2020-11-12 10:18] dave-yotta opened #5585 "AssemblyLoadContext.Unload silently fails to unload Assemblies, leaking filehandles"
# Issue Title

The `Unload` method does not free any assemblies returned from `LoadFromStream` that are still referenced somewhere.

# General

netcoreapp3.1

[code]

Symptom is visible in unreleased file handles - example repro here: https://github.com/dave-yotta/roslyn-assemblyunload

It might make sense for this to be expected behaviour, but I certainly didn't expect it!  At least can there be

[2020-11-12 12:55] AlexSrizhevskiy opened #5586 "error NETSDK1073: The FrameworkReference 'Microsoft.NETCore.App' was not recognized"
# error NETSDK1073: The FrameworkReference 'Microsoft.NETCore.App' was not recognized
Error during build sln on Azure agent:
"/Users/runner/work/1/s/App.sln" (default target) (1) ->
"/Users/runner/work/1/s/Templates/Tests.UI.csproj" (default target) (50) ->
/Library/Frameworks/Mono.framework/Versions/6.12.0/lib/mono/msbuild/Current/bin/Sdks/Microsoft.NET.Sdk/targets/Microsoft.NET.Sdk.FrameworkRefe

[2020-11-12 13:31] redymc opened #5587 "Currency format fails in .NET 5.0"
# Currency format fails in .NET 5.0

I am using currency format in my Blazor Server-Side application and I have faced an issue, after migrated to .NET 5.0.

The '¤' symbol appears, instead of the current culture's currency symbol (currently I am using german culture). In .NET Core 3.1 there was no problem.

**.NET Core 3.1 result:**
![result3 1](https://user-images.githubusercontent.com/55623342/9

[2020-11-12 14:44] zieba88 opened #5588 "Issue syncing repo from https://packages.microsoft.com/centos/7/prod/"
Not sure if this is the correct place to file a ticket but I am having an issue syncing the repository found at  https://packages.microsoft.com/centos/7/prod/ locally.

error that I am getting is:

Malformed repository: metadata is missing for some packages in filelists.xml and
in other.xml

Seems to be related to an issue on the repo side, usually a duplicate package.

If this isn't the correct p

[2020-11-12 15:20] loremipsumpy commented on #5574
Same issue at Ubuntu-server 20.04.1 LTS
`Get:7 https://packages.microsoft.com/ubuntu/18.04/mssql-server-2019 bionic/main armhf Packages [2,713 B]
Err:7 https://packages.microsoft.com/ubuntu/18.04/mssql-server-2019 bionic/main armhf Packages
  File has unexpected size (2887 != 2713). Mirror sync in progress? [IP: 13.90.56.68 443]
  Hashes of expected file:
   - Filesize:2713 [weak]
   - SHA512:6b55

[2020-11-12 16:08] PathogenDavid commented on #5585
Unloading an `AssemblyLoadContext` is more of a request for future unload than a command for immediate unload. The runtime won't actually unload the assemblies if they're still in use. (And having them be accessible via your `LoadedAssemblies` constitutes as "in use".)

As noted on [the documentation](https://docs.microsoft.com/en-us/dotnet/standard/assembly/unloadability), unloading doesn't happe

[2020-11-12 16:22] kubaporebski commented on #5574
Not only you have a problem. I am also affected, and [this guy also](https://askubuntu.com/questions/1291397/cant-install-mssql-server-in-ubuntu-20-04).

[2020-11-12 18:34] kakins commented on #5574
A colleague at work pointed me to a workaround to use offline installation rather than utilizing the package repository:

Changed this:
[code]
To this:
[code]

[2020-11-12 18:39] GrabYourPitchforks commented on #3048
I'm closing this issue because I believe the question has been answered. Please reopen the issue if further discussion is needed. Thanks!

[2020-11-12 18:39] #3048 closed

[2020-11-12 18:41] GrabYourPitchforks commented on #5587
Duplicate of https://github.com/dotnet/runtime/issues/38308. Please see that issue for resolution (use "de-DE" instead of "de").

[2020-11-12 18:41] #5587 closed

[2020-11-12 19:10] thirstyape commented on #5574
As far as I can tell this is not a new occurrence [#3221](https://github.com/dotnet/core/issues/3221). There are also other issues linked within that issue.

@dagood Any comments? Not sure if this is something you are involved in, just saw you were on several of the other issues.

[2020-11-12 19:22] richlander commented on #5156
We don't have a plan for this yet, but we are looking into it and have discussed it initially with Office.. I have nothing to share yet. It's a good question.

[2020-11-12 19:57] dagood commented on #5574
This is kind of an odd situation because what you're seeing is an outage of this repository, specific to `mssql`:
`https://packages.microsoft.com/ubuntu/18.04/mssql-server-2019`
and .NET uses this repository instead, which is currently working fine (but only has .NET packages, not `mssql-server`):
`https://packages.microsoft.com/ubuntu/18.04/prod`

(For background, these are both using the same un

[2020-11-12 20:07] viralmodi opened #5589 "How to build .NET Core based App for ARM architecture"
We currently own a .NET Core based App. We would like to make it work on ARM platform as well. Is there some documentation which can help understand how to go about achieving that?

[2020-11-12 20:07] SeunBest opened #5590 "Docker run error"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/run-docker
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

### In Command Prompt
C:\Users\hp\myMicroservice>https://aka.ms/dotnet-core-applaunch?framework=Microsoft.AspN

[2020-11-12 20:45] kakins commented on #5574
@dagood Thanks a lot for the response!  Sadly I don't believe I know of any contacts in Azure or elsewhere related to this repository.  I'll try to see what I can find though.

[2020-11-12 21:26] mairaw commented on #5590
Can you please clarify some things @SeunBest? Why are you pasting a link in command prompt instead of running the commands that are in the tutorial?

For the error on git bash, this post on Stack Overflow might help:
https://stackoverflow.com/questions/48623005/docker-error-the-input-device-is-not-a-tty-if-you-are-using-mintty-try-prefi

But I'd first try actually running the `docker run` commmand

[2020-11-12 21:27] mairaw commented on #5584
Is this something you can help with @richlander?

[2020-11-12 21:28] mairaw commented on #5568
Can you please clarify what's the issue? I don't understand how the issue title is related to the tutorial.

[2020-11-12 21:32] mairaw commented on #5544
Can you run the command `dotnet --info` and let us know the output? It seems that you only downloaded the runtime but not the SDK. Did you use the download button from the page? It should download the right product.

[2020-11-12 21:34] mairaw commented on #5541
We're going to try to make improvements to the tutorial to make this a bit more clear.

But under the myWebApp folder that was created for the app, you should see a sub-directory called Pages and inside there a file called Index.cshtml.

Let me know if that helps!

/cc @danroth27

[2020-11-12 21:35] mairaw commented on #5382
Perhaps @nishanil can help

[2020-11-12 21:51] robertmclaws commented on #5120
I have a solution for this before the Azure DevOps team deploys a new version within the next 2 weeks. Here's how it works:

![image](https://user-images.githubusercontent.com/1657085/98999547-fc20bc00-2505-11eb-90c4-26973d202ff4.png)

**Task 1:** Install the .NET 5.0 SDK.
**Task 2:** Install the VS2019 Build tools through Chocolatey (the Choco runtime does not need to be installed, it's already o

[2020-11-12 21:57] stesvis opened #5591 "Check if it's a new session or a timeout"
Hello, I am using the latest version of .net core and I can't find a way to determine if it's a new session or an expired session.
I am doing this:
[code]

and then I added:
[code]

It works fine, because after 30 sec of inactivity i am redirected to the LogIn page.
BUT, in the LogIn page, how can I find out if the page is loaded by a new session or by a timed out session?

Basically, how can I de

[2020-11-12 22:34] adegeo commented on #5018
@rbhanda Hey there. According to @lukexuan .NET 5 isn't showing up in the fedora feeds.

@lukexuan what version of fedora are you using?

[2020-11-12 22:40] LukeXuan commented on #5018
I'm using Fedora 33. This is what I see from `dnf search dotnet --refresh`:
[code]
The packages without the version suffix are also for `3.1`, as demonstrated by `dnf info dotnet`:
[code]

[2020-11-12 22:45] rbhanda commented on #5018
If you follow the instructions on [release notes](https://github.com/dotnet/core/blob/master/release-notes/5.0/5.0.0/5.0.0-install-instructions.md#install-using-a-package-manager) are you still installing 3.1.109 instead of .NET 5?
I can see that .NET 5 is available on package feed at https://packages.microsoft.com/fedora/33/prod/

[2020-11-12 22:50] adegeo commented on #5018
@rbhanda is this a case of the "default" feeds? Fedora 32 had Core 3.1 in the default feed (no instructions given to include a microsoft specific package feed), is it not available in the default feed for 33?

[2020-11-12 22:51] omajid commented on #5018
https://www.reddit.com/r/Fedora/comments/jt0zvf/how_to_get_net_5_sdk_in_fedora_33/ has a similar issue.

It seems like the Microsoft documentation says "use the Fedora packages" which is a good idea, except when the Fedora packages are not ready yet - basically what happened with 5.0 :disappointed:

In that case, perhaps the docs can point to https://packages.microsoft.com/fedora/33/prod/ as the a

[2020-11-12 22:53] LukeXuan commented on #5018
The instructions on release notes doesn't ask me to add Microsoft's repo into `yum.repos.d`, where instructions for older fedora versions are included.

I'm fine adding Microsoft's repo config, since the `updates` repo maintained by [donet-sig](https://fedoraproject.org/wiki/SIGs/DotNet) might lag behind Microsoft's release to some degree. However, I believe it should be clearly documented on dotn

[2020-11-12 23:03] adegeo commented on #5018
@omajid Is this the same case with RHEL?

@lukexuan @rbhanda I'm updating the docs via dotnet/docs#21526

[2020-11-12 23:08] omajid commented on #5018
Pretty much. RHEL 8 has .NET 5 packages, except they are old (5.0 Preview 8 right now). RHEL 7 doesn't have any .NET 5 packages. It's the same underlying issue  as Fedora since they all use the same source (https://github.com/dotnet/source-build) as the mechanism for building .NET (Core) packages.

If customers want to use .NET 5 *right now* on CentOS, Fedora or RHEL, they should probably get it f

[2020-11-12 23:14] adegeo commented on #5018
Thanks I'll update these too

[2020-11-12 23:22] dagood commented on #5574
The packages.microsoft.com team has run a republish to fix this, can you try it again now to confirm?

[2020-11-12 23:34] logicethos commented on #2778
RISC-V is gaining popularity.
Allwinner & Alibaba are launching a new  RISC-V-based SoC. https://www.techradar.com/uk/news/here-comes-the-most-formidable-rival-to-the-raspberry-pi-yet
There is the OpenTitan project, backed by Google, Western Digital, and others.
FPGA's are getting cheaper, and more accessible, which can run RISC-V.

[2020-11-12 23:46] thirstyape commented on #5574
@dagood Looks to be working now, thank you for the help

[2020-11-13 00:11] richlander commented on #5584
Interesting. I can update the tool to make it more resilient to this case. Thanks for the report!

[2020-11-13 00:12] richlander commented on #5582
Good call. Feel free to contribute it, or I will add it in a few days.

[2020-11-13 00:12] gewarren commented on #4064
This issue was moved to dotnet/AspNetCore.Docs#20551

[2020-11-13 00:12] #4064 closed

[2020-11-13 00:33] dagood commented on #5574
Thanks for checking. 🙂 Closing as resolved.

[2020-11-13 00:33] #5574 closed

[2020-11-13 00:50] richlander commented on #5584
Try version [1.0.3](https://www.nuget.org/packages/dotnet-runtimeinfo/1.0.3) of the tool. I tested in on WSL1 and it works now.

Fixed in #5592.

[2020-11-13 02:00] #5525 closed

[2020-11-13 04:19] chawyehsu opened #5593 ".NET 5 windowsdesktop-runtime installers are not accessible"
Following URLs are not accessible:

- https://dotnetcli.blob.core.windows.net/dotnet/Runtime/5.0.0/windowsdesktop-runtime-5.0.0-win-x64.exe
- https://dotnetcli.blob.core.windows.net/dotnet/Runtime/5.0.0/windowsdesktop-runtime-5.0.0-win-x86.exe

ref.: https://github.com/chawyehsu/dorado/issues/221

From https://dotnetcli.blob.core.windows.net/dotnet/checksums/5.0.0-sha.txt we can find checksums for

[2020-11-13 09:05] #5459 closed

[2020-11-13 09:05] #5464 closed

[2020-11-13 09:05] #5475 closed

[2020-11-13 09:05] #5501 closed

[2020-11-13 09:05] #5505 closed

[2020-11-13 09:05] #5508 closed

[2020-11-13 09:05] #5506 closed

[2020-11-13 09:05] #5521 closed

[2020-11-13 09:05] #5527 closed

[2020-11-13 09:22] kblood opened #5594 "SQLConnection GetSchema with PublishTrimmed not working"
# Issue Title

GetSchema stops working when I publish my .Net Core 3.1 app with the single file and trimmed option.

# General

When using this code I am getting an error. The exception says: "Column requires a valid DataType."

Code example:
`var sqlConnection = new SqlConnection(_connectionString);
string[] restrictions = new string[4] { null, dbSchema, dataTable.TableName, null };
DataTable dat

[2020-11-13 09:42] dave-yotta commented on #5585
Ok - should I move this issue across?

It does imply that `Assembly` references within the `AssemblyLoadContext` will not stop the unload, however that's not what I see here. I don't see any drop in file handles and have tested for a minute, stacking up 2000 file handles.  This could just be waiting for a GC; I could test by calling the GC after the `AssemblyLoadContext` is out of scope, perhaps t

[2020-11-13 10:41] #5584 closed

[2020-11-13 10:58] johanskoldekrans opened #5595 "Setting CultureInfo in Startup gives unicode negativesign instead of normal ascii"
`var ci = new CultureInfo("sv-SE") {DateTimeFormat = {ShortDatePattern = "yyyy-MM-dd"} };

            app.UseRequestLocalization(
                new RequestLocalizationOptions()
                {
                    SupportedCultures = new List<CultureInfo> { ci },
                    SupportedUICultures = new List<CultureInfo> { ci },
                    DefaultRequestCulture = new RequestCultu

[2020-11-13 10:59] johanskoldekrans commented on #5595
The behaviour has changed but I dont know why and the longer negative sign means something different.

[2020-11-13 11:02] dan-vasilov commented on #5156
Please consider open sourcing VSTO, I think many of us will be eager to help with porting it to .NET 5 and newer versions.

[2020-11-13 11:17] petrsvihlik commented on #2186
adding `<RuntimeHostConfigurationOption Include="System.Globalization.Invariant" Value="true" />` to the csproj worked for me

[2020-11-13 11:47] mdschweda commented on #5564
Same here

Win 10 19041.630
Firefox 82.0.3

One of those steps fixed it for me:

* `about:config` → `security.enterprise_roots.enabled` = `true`
* Deleting all localhost certificates from
  * Firefox (Options → View Certificates → Servers / People
  * Windows certificate store (current user & local machine)
* Restarting Firefox
* `dotnet dev-certs https --trust`

[2020-11-13 11:54] RheaAyase opened #5596 ".NET 5 is missing in RHEL (CentOS) & Fedora"
## .NET 5 is missing in RHEL & Fedora

~~As of today we are unable to build .NET 5 on Linux.~~

This is an FYI ticket, a reference, and I will update it when we get some bits and pieces released.

#### Current state for 5.0.0

- [x] Fedora RPMs built
- [x] RHEL7 RPMs built
- [x] RHEL8 RPMs built
- [x] UBI8 Containers built
- [x] Documentation published
- [x] GA Announcement published

#### 5.0.1 ?

[2020-11-13 12:12] RheaAyase commented on #5545
These announcements are very misleading. .NET 5 is not "source-buildable" yet and therefor not available in many distributions. The checkmarks should be only partial.

And Fedora 30 and 31 shouldn't be in the list at all.

[2020-11-13 12:21] SeunBest commented on #5590
Thank you so much Maria, pasting the link in the command was a mistake, but when I ran the commands in the tutorial, it also didn't work and complained of a missing sdk... I was able to fix this by changing the sdk and asp.net versions in the Dockerfile from 5.0 which was stated in the tutorial to 3.1 which the command prompt complained was missing and I was able to run the docker image... So, it

[2020-11-13 12:45] bopin2020 commented on #5545
Yes! .NET5 cross platforms, but WPF not. "These announcements are very misleading" I am backing you absolutely!   I spent two days to figure it out if WPF could run on the linux system. I really need a UI project that can run on linux and finally I chose Avalonia.

[2020-11-13 14:19] RheaAyase commented on #5545
You can look into Avalonia if you haven't found one yet.

[2020-11-13 14:32] logicethos opened #5597 "RISC-V / FPGA Support"
RISC-V is gaining ground, as an opensource alternative to ARM.
AllWinnder with Alibaba's backing, are about to launch a low cost SOC, based on RISC-V
This will open the door to low cost IoT, on open hardware.
Google, Western Digital, Segate and others are backing OpenTitan. Open source security on RISC-V.
RISC-V can run on FPGA's.
FPGA's opens .NET to a whole new world of performance.

[2020-11-13 14:44] RheaAyase commented on #5545
Anyway my point is more about the way you get to install .NET 5 - it is not available in most Linux distributions like this checklist would lead you to believe. To take an example closest to me, Fedora. Fedora has dotnet 3.1 in its core repositories and Microsoft now refers to that as means of installing it via simply using Fedora's own package manager `dnf install dotnet` (or specifically `dnf in

[2020-11-13 15:03] mgholam commented on #5575
Found the answer, the `ProjectConfigurationPlatforms` in the `.sln` file should build `Release` for `Release` not `Debug`:
[code]

[2020-11-13 15:03] #5575 closed

[2020-11-13 18:03] virzak commented on #5120
@robertmclaws thanks so much.
Could you post the yaml output please for relevant tasks?

[2020-11-13 18:07] masters3d commented on #5545
I did not see the below features in the release notes for dotnet 5. Are they moved donet 6?

[2020-11-13 18:32] AkodoShado opened #5599 "call oracle function put returned value in first parameter"
.net core 3.1 nuget: Oracle.ManagedDataAccess.Core 2.19.91

Oracle function:

[code]
.net core code:

[code]
The result is that the returned value is putted into the **first parameter** (param1) and not into the returnValue. Why?
It's look like a bug.

[2020-11-13 18:40] #5599 closed

[2020-11-13 18:41] AkodoShado commented on #5599
I will report it to Oracle.ManagedDataAccess.Core

[2020-11-13 19:09] #5513 closed

[2020-11-13 21:09] robertmclaws commented on #5120
This is what I used for [SimpleMessageBus](https://github.com/cloudnimble/simplemessagebus):

[code]

[2020-11-13 22:32] mairaw commented on #5545
@richlander @davidortinau @brunoborges can you comment on the questions from @masters3d?

[2020-11-13 22:37] mairaw commented on #4166
Ping @dagood @carlossanlop

[2020-11-13 22:46] mairaw commented on #4391
It might be something specific to the offer you're using @xmg2019
https://social.msdn.microsoft.com/Forums/en-US/56f860c5-ab0a-4b63-a967-bdcec0a326ed/the-operation-is-not-permitted-for-namespace?forum=ssdsgetstarted

Let us know if this helps.

[2020-11-13 22:52] tebeco commented on #2980
hello @leecow

Do you know if this is a supported scenario ?

If so, do you know when this will be automated ?
![image](https://user-images.githubusercontent.com/2266487/99128444-16908d80-260b-11eb-8f2b-2ddea9ad4d23.png)

It sees impossible today to use `latest` or `channel` to get the `5.0.x` SDK
I would very much love having this CDN updated with the release of the SDK (like docker image for exa

[2020-11-13 22:54] PureKrome commented on #2980
I would have assumed @leecow that CDN updating is all part of the release cycle when a new version is shipped?

[2020-11-13 22:59] Wolfeitz opened #5601 ".net 5 hosted blazor app gets 401 error"
# New Blazor app gets 401 error when accessing the WeatherData API

# General
.Net 5

Create a new Blazor project in VS 2019

- .NET 5.0
- Blazor WebAssembly App
- Authentication
Work or School Accounts
select your domain
Check in Read Directory Data
- ASP.NET Core hosted

Once created, try logging in.  I assume you will get an error that no token was found.
Go into azure portal, registrations, an

[2020-11-13 23:29] mairaw commented on #2980
@tebeco probably a new issue at https://github.com/dotnet/install-scripts/issues would be better

[2020-11-13 23:31] tebeco commented on #2980
Do think it would be a good idea to migrate the issue with history ?
because this would loose info about the fact that this issue is a long known and spanning since July 2019

[2020-11-14 01:25] bopin2020 commented on #5545
It help me a lot. Thank you very much!

[2020-11-14 01:59] carlossanlop commented on #4166
We definitely need to get issues with unmodified templates to be automatically closed (no. 2). I vote we do that one.

Maybe no. 1 can have a bad title, but a good description. Unless they did not modify the template, then it should fall into the no. 2 category.

[2020-11-14 02:16] #5060 closed

[2020-11-14 02:37] mairaw commented on #2980
@bozturkMSFT what do you think?

[2020-11-14 02:42] mairaw commented on #5593
@leecow @rbhanda can you help here?

[2020-11-14 04:30] tgckpg opened #5602 "When publish settings are set to produce single file in .Net 5, ConfigurationManager will not be able to save"
# Application will attempt to save an invalid file name with `<Unknown>.config`

[code]

# General
This is using `ConfigurationManager.OpenExeConfiguration( ConfigurationUserLevel.None )`

[2020-11-14 07:34] jaybo commented on #5120
I tried all of the steps posted by @robertmclaws but got an error in the Build task:

[code]

Nothing else seemed to fail.  The one item I'm confused about is whether to use:

[code]

[2020-11-14 13:38] Lynxy commented on #649
Thanks @willvitorino, I was able to solve my seg fault error, 3 years later! As strange as it sounds, opting out of telemetry stopped the crashes.
`echo 'export DOTNET_CLI_TELEMETRY_OPTOUT=1' > /root/.bashrc`

[2020-11-14 17:55] robertmclaws commented on #5120
@jaybo Yeah that isn't the problem. There are more build variables you need to remap where to look for the .targets files. Working on getting my 30-project build working... once I have it then I'll update my post above with more details.

Thanks!

[2020-11-14 18:47] amagrath opened #5603 "dotnet test command reports much higher duration on completion"
When:

dotnet test

completes, the duration is much higher than expected. For example, one of our test projects takes around 1 minutes 30 seconds to complete.

Typical output of dotnet test for this project is:

Duration: 14 m 34 s

Repeated runs result in similar high values.

[2020-11-15 05:56] robertmclaws commented on #5120
I updated [this comment](https://github.com/dotnet/core/issues/5120#issuecomment-726362230) with additional build variables that I discovered you need to add in order to make this work. NOTE: I did not add those variables to the YAML, you will need to do that yourself (I don't use YAML).

HTH!

[2020-11-15 10:06] sbchong opened #5604 "dotnet core socket error in Linux"

[2020-11-15 11:01] idanmoalem commented on #4449
still dosent work @mairaw

[2020-11-15 11:42] SuryaGithub1996 opened #5605 "Can't create an app"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
Showing below error 👎
It was not possible to find any installed .NET Core SDKs
  Did you mean to run .NET Core SDK c

[2020-11-15 12:26] KamranShahid opened #5606 "anyway i can stop getting .net core 5.0 packages in nuget package update for my .net core 3.1 application"
anyway i can stop getting .net core 5.0 packages in nuget package update for my .net core 3.1 application.
I have some .net core console application (which runs as windows service in windows while systemd service in linux) and some web api application of runtime 3.1
In package manager update i am keep getting
following is sample update for my console application
![image](https://user-images.github

[2020-11-15 15:23] oliverw opened #5607 "EntityFramework: Method GetColumnName obsolete after migrating from .NET Core 3.1 to .NET 5"
# Issue Title

After migrating from .NET Core 3.1 to .NET 5 the reference to GetColumnName is marked as obsolete and not being very familiar with EF internals I'm struggling to migrate the line in question to .NET 5.

# General

[code]

[2020-11-15 17:03] public-void-code commented on #5120
I am managing to build and create an artifact for my asp.net (.net 5) project using this yaml.
I am a yaml noob still so it is mostly copy paste from built in templates and I took the `Use .NET Core sdk 5.x` task from [robertmclaws](https://github.com/dotnet/core/issues/5120#issuecomment-727036843)
But it is working so far without the extra visual studio stuff.
[code]

[2020-11-15 18:01] snap254 commented on #5496
We found a good reason for the issue in the end: the clocks on the machines were not accurate with global time. After working on getting them synchronized fully, the certificate problems went away.

[2020-11-15 18:01] #5496 closed

[2020-11-15 19:40] rogueco commented on #4360
This worked for me - Brilliant. Thanks.

[2020-11-15 22:27] kakins commented on #5574
@dagood   Thank you!

[2020-11-15 23:08] zelihaarduclu opened #5608 ". NET"
![Ekran Görüntüsü (183)](https://user-images.githubusercontent.com/61326828/99199302-cc441380-27a6-11eb-9b3a-0f0ea013447f.png)
bir web sitesini dahi calıstıramıyorum. Bu sorun hakkında ne yapmalıyım. .NET'i daha once bir cok kez indirdim onardım ama hala hata alıyorum.Bana yardımcı olurmusunuz.

[2020-11-16 00:12] ericsampson commented on #5395
One that I'd really love to see included is this C#10 proposal:
https://github.com/dotnet/csharplang/issues/3630

If this isn't the right place to include it under, please LMK! Thanks : )

[2020-11-16 04:07] robertmclaws commented on #5120
@public-void-code Yes, that is the standard way to build .NET 5 apps, and it works because your project appears to be a pure .NET 5 app. As I mentioned, if you are doing any kind of mixed Framework configuration in the .sln, that will not work, and you will have to use my solution until they push another VM image within the next week.

[2020-11-16 11:48] public-void-code commented on #5120
@robertmclaws Ahh I see. Thanks anyway for the use net5 task that I was missing anyway.

[2020-11-16 14:21] Noodlefu commented on #5602
Can confirm. The following code produces the error:
`string key = "Key";
string value = "Value";
var configFile = ConfigurationManager.OpenExeConfiguration(ConfigurationUserLevel.None);
var settings = configFile.AppSettings.Settings;
if (settings[key] == null)
{
	settings.Add(key, value);
}
else
{
	settings[key].Value = value;
}

configFile.Save(ConfigurationSaveMode.Modified);
ConfigurationManage

[2020-11-16 15:10] nishanil commented on #5382
@carlossanlop I haven't seen this error before. Based on the internet search results it looks like it happens due to the mismatch of the target OS specified in docker image and the container OS. Can you try resetting Docker and creating a new project? I will also verify these steps from my side.

[2020-11-16 15:27] nishanil commented on #5507
It looks like Docker isn't running. Can you verify it by running by the following command `docker run hello-world` on a command prompt?  If not, try the suggestions mentioned [here](https://stackoverflow.com/questions/52946810/error-during-connect-get-http-2f2f-2fpipe2fdocker-engine-v1-38-info).

[2020-11-16 15:33] nishanil commented on #5523
It looks like an issue with the configured custom storage location in Docker. I am not sure. Can you try the suggestions made in this thread https://github.com/moby/moby/issues/36831 ?

[2020-11-16 17:17] John-Codes opened #5609 "Mac can't find project ASP.NET Core on the terminal"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/create
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2020-11-16 17:27] carlossanlop commented on #5382
@nishanil The request is for @defney, who reported the issue.

[2020-11-16 17:40] nishanil commented on #5382
Oops! Thanks.

[2020-11-16 17:45] Lechus commented on #2448
Will it be fixed at all?

[2020-11-16 18:31] mkArtakMSFT commented on #5510
Updated the link for the `Hot reload for Blazor components` link.

[2020-11-16 18:42] Pilchie commented on #5493
@glennc should this be parented somewhere in the Cloud Native Theme?

[2020-11-16 19:33] danmosemsft commented on #5397
@glennc I added the Metrics story.

[2020-11-16 21:43] #5515 closed

[2020-11-16 21:49] JulieLeeMSFT commented on #5494
dotnet/runtime/issues/43618 summarizes Dynamic PGO work plan.

[2020-11-16 22:16] NikolaMilosavljevic commented on #5549
This issue was fixed today by the team that owns repositories at https://packages.microsoft.com.

I've verified that all .NET installation steps work as expected. .NET Core 3.1 and .NET 5.0 can be properly installed on Ubuntu 20.10.

[2020-11-16 22:54] carlossanlop commented on #5382
@defney I'll mark this issue as `needs-more-info`. It will get auto-closed if we don't get a reply in the next week.

[2020-11-17 05:41] brunoborges commented on #5545
I'm not aware of what sort of Java interoperability exists in .NET.

[2020-11-17 06:12] GrabYourPitchforks commented on #5608
Translation from Turkish:

[2020-11-17 06:30] loooljp opened #5612 "NET教程-10分钟之内的Hello World"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Creating this template will make changes to existing files:
  Overwrite   myApp.csproj
  Overwrite   Program.cs

Re

[2020-11-17 06:33] loooljp opened #5613 "i need help!!!!!!!!!!!!!!"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

i have a problem  this: C:\Users\Administrator>dotnet new console -o myApp
Creating this template will make changes

[2020-11-17 07:18] lokinfey commented on #4879
Any road map about that ? I think MSFT need to add .NET 6 preview  asap ,  I need this to build MAUI in my new apple silicon mbp

[2020-11-17 07:24] jovnas opened #5614 "dotnet publish does not copy all files."
It seems `dotnet publish` is doing something strange when publishing into a folder that already contains the application to be published.
If the folder is empty all the files are copied, but when I try to publish again, the "extra files" (in this case sni.dll and TextFile1.txt) are not copied.
Below is the output from `dotnet publish --verbosity normal` and as you can see, the first time, it copie

[2020-11-17 09:12] kblood commented on #3447
This worked for me as well. My problem was not just the trimmed option, but being unable to use the "produce single file" option at all. In this project I was using the webclient and not the SQLClient... but I have had the problem with the trimmed option as well in a project that uses the SQL client. I will try adding this Nuget to that project as well and see if that helps.

[2020-11-17 09:41] xiaoyuvax opened #5615 "Publishing .net5 winform app gets "Invalid input specification: Found multiple entries with the same BundleRelativePath""
# Publishing .net5 winform app to single file gets  "Found multiple entries with the same BundleRelativePath"

Seen while publishing  with options of:
.net5
self-contained
win-x64
single file
ReadyToRun

... can't get a clue where multiple entries are, not a hint.

Console output:
15> “GenerateBundle” task failed unexpectedly.
15>System.ArgumentException: Invalid input specification: Found multipl

[2020-11-17 09:46] xiaoyuvax opened #5616 "[WINFORM] Form size inflated while compiled with .net core,why?"
# Form size inflated while compiled with .net core,why?

When run a winform app which source was designed under .net framework in .net core environment, all form size inflated proportionally, with Size properties unchanged, why?

[2020-11-17 09:58] xiaoyuvax opened #5617 ".Net5 SslStream throws OpenSslCryptographicException: error:14094416:SSL routines:ssl3_read_bytes:sslv3 alert certificate unknown"
# SslStream throws OpenSslCryptographicException: error:14094416:SSL routines:ssl3_read_bytes:sslv3 alert certificate unknown

I wrote a simple http server with SslStream which works fine under .net core 3.1, but throws this OpenSslCryptographicException since i've upgraded to .net5.

`  public SslProtocols AllowedSslProtocols { get; set; } = SslProtocols.Tls13 | SslProtocols.Tls12 | SslProtocols.

[2020-11-17 12:06] nishanil commented on #5382
We tested this - all the steps work fine on macOS with .NET 5 SDKs installed.

[2020-11-17 13:27] #5382 closed

[2020-11-17 13:28] defney commented on #5382
Thank you for your help !

[2020-11-17 16:12] mairaw commented on #5545
@brunoborges FYI this statement was included when we introduced .NET 5
https://devblogs.microsoft.com/dotnet/introducing-net-5/
I can’t remember if we ever mentioned in subsequent posts what would happen to that feature. Was it just cut?

[2020-11-17 16:27] bartonjs commented on #5617
Are you perhaps using a DSA server certificate (integer DSA, not ECDSA)?  In 5.0 our default supported ciphersuites changed (https://docs.microsoft.com/en-us/dotnet/core/compatibility/cryptography#default-tls-cipher-suites-for-net-on-linux) and only RSA and ECDSA-based server identity certificates are supported with this default list.

[2020-11-17 16:33] richlander commented on #4879
Plan:

- Support .NET Core 3.1 and .NET 5.0 within Rosetta 2 (x64 emulation).
- Support .NET 6.0 with both Rosetta 2 and native architecture (M1).

Tracking issue for M1 enablement: https://github.com/dotnet/runtime/issues/43313. I asked for a tracking issue for Rosetta 2.

[2020-11-17 17:06] #5549 closed

[2020-11-17 17:32] wallymathieu commented on #5196
I've seen this happen when you have a visual studio start debugging the project and the startup takes to long.

[2020-11-17 18:13] Kaelum commented on #5559
@mairaw @leecow can we get an official response on this?  We have an open issue https://github.com/dotnet/aspnetcore/issues/26955 which is turned out to be significantly larger that what we originally thought, and we can't move forward until we know what is, and isn't, supported.

[2020-11-17 18:44] tyler-shuhnicki opened #5618 ".NET 5 / Unable to find views when published and hosted on IIS"
Hello,

Our team is working on a .NET MVC application. Our project has a 'plug-in' architecture, where we load .DLLs from project files. Our solution has about a dozen projects inside of it, which the 'main' application simply loads and runs. Each project is compiled with a folder containing its local views and .DLL. When this program is ran through IIS Express, the site works as expected. When th

[2020-11-17 19:17] #5618 closed

[2020-11-17 19:17] tyler-shuhnicki commented on #5618
Issue was resolved. A separate .DLL unrelated to the views was the problem.

[2020-11-17 20:46] Mizux commented on #5549
cross link:
https://github.com/dotnet/core/issues/5017
https://github.com/dotnet/core/issues/5352

[2020-11-17 20:48] Mizux commented on #5352
Fixed ? see https://github.com/dotnet/core/issues/5549#issuecomment-728362949

[2020-11-17 20:51] Mizux commented on #5017
Seems fixed today !
ref: https://github.com/dotnet/core/issues/5549#issuecomment-728362949

EDIT: Tested using my Dockerfile above

[2020-11-17 20:55] dagood commented on #5017
New packages were pushed for 5.0 and 3.1 to support Ubuntu 20.10, but not 2.1.

(`dotnet-sdk-2.1` still fails to install because `dotnet-runtime-deps-2.1` isn't compatible with Ubuntu 20.10. More info and workarounds at https://github.com/dotnet/core/issues/5352.)

[2020-11-17 20:57] dagood commented on #5352
Not quite, only some versions. https://github.com/dotnet/core/issues/5017#issuecomment-729208437:

[2020-11-17 22:07] CBrauer opened #5619 "Windows Forms App (.NET) .NET5.0 SkiaSharp throws Attempted to read or write protected memory"
# Issue
I have built a Windows Forms App (.NET) using .NET 5.0 rc2 and SkiaSharp. It is throwing the error: “Message=Attempted to read or write protected memory. This is often an indication that other memory is corrupt.”

# General

I have put my reproducible solution on GitHub at: https://github.com/CBrauer/TestSkia
I hope you guys can use this complete solution to fix the error.

# Environment
M

[2020-11-17 22:24] ParsaBaha opened #5620 "It was not possible to find any compatible framework version"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/run-docker
Operating System: linux

Hello,

When im trying to run:
`docker run -it --rm -p 3000:80 --name mymicroservicecontainer mymicroservice`

I get this Error Message:
[code]
I installed .NET SDK and Docker Engine correctly. I also reinstalled both of them.

Output when I use `dotnet --info`:

[code]

In ad

[2020-11-17 22:34] leecow commented on #5559
For unsupported distros, work can be on a best-effort basis. Certainly, the case is strengthened if an issue can also be reproduced on a supported distro. Part of the challenge is the debugging environments for developers to investigate issues. The environments provided by our infrastructure teams will, not surprisingly, only match our supported os platform list.

Another option is for the communi

[2020-11-17 22:35] mairaw commented on #5620
Hi @ParsaBaha! The tutorial was updated to .NET 5 SDK. Can you try installing .NET 5 SDK instead?
Given that Linux is manually installed, I'll try to make it more clear on the install step which version of the SDK you'd need to install.

[2020-11-17 22:40] mairaw commented on #5613
This happens when you already ran the command and a project already exists at the destination.
Either delete the myApp folder under C:\Users\Administrator to start over or add the --force parameter to overwrite the files on that folder:
`dotnet new console -o myApp --force`

[2020-11-17 22:40] #5613 closed

[2020-11-17 22:40] leecow commented on #5593
The location for WindowsDesktop artifacts is different for 5.0.

https://dotnetcli.blob.core.windows.net/dotnet/WindowsDesktop/5.0.0/windowsdesktop-runtime-5.0.0-win-x64.exe
https://dotnetcli.blob.core.windows.net/dotnet/WindowsDesktop/5.0.0/windowsdesktop-runtime-5.0.0-win-x86.exe

[2020-11-17 22:40] #5593 closed

[2020-11-17 22:40] mairaw commented on #5612
Duplicate of #5613

[2020-11-17 22:40] #5612 closed

[2020-11-17 22:46] ParsaBaha commented on #5620
Hello,
first of all thank you for your help, but it seems like this does not fix my problem. I get the same exact error msg.
`dotnet --info` output:

[code]

[2020-11-17 22:53] JerrettDavis opened #5621 "ModelBinding behavior for class using a TypeConverter appears to be inconsistent between Controller and ControllerBase"
# ModelBinding behavior for class using a TypeConverter appears to be inconsistent between Controller and ControllerBase

# General

## Version: 5.0.0

I have 2 projects, one is a traditional MVC application and the other is a WebAPI project with an Angular frontend. Both projects have near identical packages, and both `startup.cs` and `program.cs` are more or less identical. For all intents and p

[2020-11-17 23:41] Korporal opened #5622 "Suggestion - Convey the status of key modifiers at the time a program is started."
# Convey the status of key modifiers in effect, at the time a program is started.

# Problem Statement

When a console application is started by a user using a keyboard and a terminal/console shell, the system allows the application to obtain the command line arguments that may be present.

It does not however allow the application to determine if `Shift, Ctrl or Alt `were being pressed at the sam

[2020-11-18 00:07] ParsaBaha commented on #5620
Thank you very much, it does work now!

[2020-11-18 00:07] #5620 closed

[2020-11-18 01:41] loooljp commented on #5613
thank you very much!  I‘ll try

[2020-11-18 03:13] xiaoyuvax commented on #5617
I used a RSA 1024bits public Key for the server certificate , according to your comment, RSA is still supported?
Sslstreams from later requests can still be established after every initial connection throwing this certificate unknown exception, i guess it was thrown in the initial negotiation process, and openssl allowed it pass somehow,as suggests my certificate survived the certificate check som

[2020-11-18 04:29] colbayit commented on #4347
No, it is purely related with .so files in Linux environment, like docker created for Linux. For me also having the same issue unable to connect with .so files

[2020-11-18 08:40] andreichuk opened #5623 ".NET 5 is missing in SLES 15"
There are no .NET 5 packages available for SLES 15
[https://packages.microsoft.com/sles/15/prod/](https://packages.microsoft.com/sles/15/prod/)

[2020-11-18 09:07] jonmartinsolaas commented on #5549
Remember to update https://docs.microsoft.com/en-us/dotnet/core/install/linux-ubuntu

[2020-11-18 14:11] omajid commented on #5623
https://docs.microsoft.com/en-us/dotnet/core/install/linux#sles says SLES 15 is supported. And https://docs.microsoft.com/en-us/dotnet/core/install/linux-sles says that the packages should be available.

[2020-11-18 14:12] omajid commented on #5623
cc @leecow

[2020-11-18 15:04] mubeda commented on #5278
Same problem here while trying to publish under .net 5.

`
dotnet publish -r linux-x64 --self-contained true /p:PublishSingleFile=false
`
`
 error NU1605: xxxx-> MySql.Data 8.0.22 -> SSH.NET 2016.1.0 -> System.Net.Sockets 4.1.0 -> runtime.unix.System.Net.Sockets 4.3.0 -> System.Threading.ThreadPool (>= 4.3.0)
`

[2020-11-18 15:44] dagood commented on #5623
https://github.com/dotnet/core/issues/5545 also mentions .NET 5 on SLES 15 feeds. @rbhanda

[2020-11-18 15:49] DHopkins opened #5626 "Side by side unresolved"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
No matter what I do I cannot install .NET SDK (64-bit) as the same box keeps appearing regarding the Side by side

[2020-11-18 16:18] rbhanda commented on #5623
I have uploaded the packages to sles15. This should take around 30 minutes to reflect on the feed at https://packages.microsoft.com/sles/15/prod/

[2020-11-18 17:35] karljohan12 commented on #5278
@mubeda try downgrading to 8.0.21 in csproj

[2020-11-18 17:54] eghsr opened #5627 "MSB6004 The specified task executable location "C:\Program Files\dotnet\dotnet" is invalid. Blazor"
# Issue Title

Getting error MSB6004 after updating to VS 16.8.1 and creating a new blazor server app using .NET 5

# General

Not much to add. Just a brand new default SSB project. Have tried creating multiple new SSB projects and get same error.

[2020-11-18 18:03] Retik opened #5628 "Path.Combine does not throw ArgumentException on invalid characters"
According to the docs, Path.Combine is supposed to throw an ArgumentException if **_path1 or path2 contains one or more of the invalid characters defined in GetInvalidPathChars()._**
https://docs.microsoft.com/en-us/dotnet/api/system.io.path.combine?view=net-5.0#System_IO_Path_Combine_System_String_System_String_

This is not currently happening on either .Net Core 3.1 or .Net 5.

Code:
[code]

Ou

[2020-11-18 18:16] HamidTheGeek commented on #5545
I just update to `.NET 5` and I see this false positive for the result could be null.
![image](https://user-images.githubusercontent.com/33150399/99570615-1bb65980-29ca-11eb-9220-2abacf5bcabd.png)
As you can see the property is there and the result cannot be null.

[2020-11-18 18:41] eghsr commented on #5627
more info. the dotnet cli works when run from that folder. it is version 5.0.100
i tried doing a visual studio installer repair. it ran to completion, but still have same error

[2020-11-18 22:15] johnvcoleman opened #5629 "Debugger crash on macOS (M1)"
I'm not sure this is where I need to put this or if you guys are even entertaining bugs for the M1 yet, but here goes...

# Repro steps

Debugging the default console "hello world" project in VSCode results in an apparent crash of the debugger:

[code]

Debug Console output:

[code]

Running the dll from the command line in a terminal window is successful:

[code]

Crash is reproducible, happens e

[2020-11-18 22:43] mdx0111 opened #5630 "Unable to build website target netcoreapp3.1 after upgrading to .net 5"
# Issue Title

Unable to build website target netcoreapp3.1 after installing .net 5

# General
I have an asp.net project that's targeting .net core 3.1. I'm unable to build this project after installing .net 5 on my Fedora 33.

Please see below my `dotnet --info` output:

.NET SDK (reflecting any global.json):
 Version:   5.0.100
 Commit:    5044b93829

Runtime Environment:
 OS Name:     fedora
 O

[2020-11-18 22:59] mdx0111 commented on #5630
After adding global.json with the following content:
[code]

I'm getting the following error:

`
/usr/share/dotnet/sdk/5.0.100/Sdks/Microsoft.NET.Sdk/targets/Microsoft.NET.TargetFrameworkInference.targets(55,5): error MSB4186: Invalid static method invocation syntax: "[MSBuild]::GetTargetFrameworkVersion('$(TargetFramework)', 2)". Method '[MSBuild]::GetTargetFrameworkVersion' not found. Static met

[2020-11-18 23:11] mdx0111 commented on #5630
Restarting VS Code and building the projects within the solution one by one seems to have fixed the second error message but still unable to build it without global.json file.

[2020-11-18 23:24] richlander commented on #4879
Rosetta 2 tracking issue: https://github.com/dotnet/runtime/issues/44897

[2020-11-19 04:24] RobotGizmo opened #5631 ""dotnet publish" is missing dependency files"
Using .NET 5 and "dotnet publish" the resulting published folder is missing most of the required dependency files. This is the command I'm using:

`dotnet publish "MyProject.csproj" --configuration "Release" --runtime "win-x64" --self-contained true --output "C:\PublishFolder" -p:PublishReadyToRun=true -p:PublishSingleFile=false -p:PublishTrimmed=false`

To repro this issue create a new .NET 5 Win

[2020-11-19 05:17] #5604 closed

[2020-11-19 06:17] #5571 closed

[2020-11-19 09:46] AdamRiddick commented on #5123
@joeloff @jkotalik Any update?

[2020-11-19 11:05] OfirD1 opened #5632 "Add a note about the need to set BuildKit to false when building myMicroservice Docker image"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/docker-image
Operating System: Windows 10

When running:
`docker build -t mymicroservice .`

I got the error message:
[code]

[This StackOverflow answer](https://stackoverflow.com/a/64466563/3002584) solved the problem, instructing to set BuildKit to `false`.

Please add a note about this requirement in the tuto

[2020-11-19 11:11] eLPe21 commented on #5596
Is my problem related? On Mac:
`dotnet publish -r centos.7-x64 -o ../out /p:PublishSingleFile=true /p:DebugType=None;`

On Centos 7:
[code]

Everything works ok when I target netcoreapp3.1

[2020-11-19 13:00] ExLuzZziVo commented on #5615
Same error, but with options:
.net core 3.1
win-x86
self-contained
R2R

[2020-11-19 14:15] omajid commented on #5596
From a quick look, I don't think so (but maybe I am wrong). Can you please report this as a separate issue?

[2020-11-19 14:52] migueldeicaza commented on #5290
Not sure why that would be an issue with gui.cs - this looks like a difference in behavior when dotnet runs the code.

[2020-11-19 17:40] Jidongang commented on #5629
Having the same problem. try run without debug

[2020-11-19 18:33] mairaw commented on #5632
Thanks @OfirD1. Let me investigate if this has changed on the last few days since I've tested the tutorial almost two weeks ago.

[2020-11-19 18:54] mairaw commented on #5608
What is the error you're seeing @zelihaarduclu? Your site looks fine on the screenshot.

[2020-11-19 18:56] mairaw commented on #5605
Did you click on the Download SDK button on the install step? If so, can you show the results of running `dotnet --info` on the command prompt?

[2020-11-19 18:57] jkotas commented on #5597
Duplicate of https://github.com/dotnet/runtime/issues/36748 and https://github.com/dotnet/runtime/issues/12546

[2020-11-19 18:57] #5597 closed

[2020-11-19 18:58] natewalz opened #5633 "cmd window freezes when running dotnet for tutorial"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

After installing .NET 5 SDK I run cmd.exe and dotnet runs. Once I attempt to run >'dotnet new console -o myApp', the cmd window freezes and will not let me run any other commands. Just a blinkin gcursor right below my previous command. I have attempted to close cmd and restart, I

[2020-11-19 19:01] vitek-karas commented on #5535
Trimming apps is a publish feature, which has its own settings UI: https://docs.microsoft.com/en-us/dotnet/core/deploying/trim-self-contained#trim-your-app---visual-studio

[2020-11-19 19:02] #5633 closed

[2020-11-19 19:32] a-patel opened #5634 "MySql.Data.EntityFrameworkCore code is breaking in .NET 5.0"
System.TypeLoadException: 'Method 'Create' in type 'MySql.Data.EntityFrameworkCore.Query.Internal.MySQLSqlTranslatingExpressionVisitorFactory' from assembly 'MySql.Data.EntityFrameworkCore, Version=8.0.22.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d' does not have an implementation.'

[2020-11-19 19:43] rbhanda commented on #5623
This should be resolved, closing this issue.

[2020-11-19 19:43] #5623 closed

[2020-11-19 19:54] joeloff commented on #5123
There is one other option that we can maybe explore. I'll need to get a repro for this issue first. Essentially it would change the upgrade behavior of ANCM. MSIs can control when the old version of the product is removed when doing an upgrade. Removing the old MSI first and then installing the new version provides the greatest flexibility because it supports the widest set of changes between two

[2020-11-19 22:04] #5544 closed

[2020-11-19 22:04] #5568 closed

[2020-11-20 00:38] srxqds commented on #5510
will it add support jit reload on monovm?

[2020-11-20 10:23] bohdan-krasyuk opened #5635 "Unable to build F# project via Visual Studio 2019"
Unable to build F# project via Visual Studio 2019

## My stuff:
Visual Studio 2019 (16.8.2)

from dotnet --info

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.19041
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\5.0.100\

.NET SDKs installed:
  2.2.207 [C:\Program Files\dotnet\sdk]
  3.1.102 [C:\Program Files\dotnet\sdk]
  5.0.100 [C:\Progra

[2020-11-20 10:35] viralmodi commented on #5589
This clarified a bunch of things for me: https://github.com/dotnet/standard/issues/1780

[2020-11-20 10:42] GhostNetCCC opened #5636 "error"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

PS C:\Windows\system32> dotnet
dotnet : The term 'dotnet' is not recognized as the name of a cmdlet, function, scr

[2020-11-20 11:45] igoventura commented on #5636
Have You installed dotnet on your machine?

[2020-11-20 14:07] Runaho opened #5637 "HttpContext.Connection.RemoteIpAddress gives a different response after a while. .NET Core 3.1"
# General
Hello, I need to check the user's ip address over and over again.
When I start to ask for an IP address, sometimes it gives a different IP address and continues to give it the old IP address again.

My first question is What does the Remote Ip Address method actually give? I could not find this value.
My second question is why this RemoteIpAddress method gives different responses to some

[2020-11-20 14:20] Runaho commented on #5637
I opened it in the wrong place. i am carrying to : https://github.com/dotnet/aspnetcore

[2020-11-20 14:20] #5637 closed

[2020-11-20 16:29] mairaw commented on #5636
Also, have you opened a new command prompt after the installation?

[2020-11-20 16:31] mairaw commented on #5635
@cartermp can you help here?

[2020-11-20 20:31] terrajobst commented on #5440
@joeloff I assume we're done with API reviews, right?

[2020-11-20 21:08] joeloff commented on #5440
@terrajobst For now I think so. I'm working on getting it added to the deployment repo. @KathleenDollard and I chatted. We'll lit it simmer for a few months and look at the feedback and then do more revisions/changes, probably in the new year.

[2020-11-20 23:19] #4391 closed

[2020-11-21 12:26] vilogp commented on #5634
Hello, I’m having the same issue, have you managed to resolve it?

[2020-11-21 12:53] a-patel commented on #5634
@vilogp  Not yet.

[2020-11-21 13:59] Adrian93Box commented on #2083
I am having a similar issue too and I need a solution. I'm guessing you guys want to move his question because no one here knows the answer? Has it been resolved elsewhere?

[2020-11-21 19:53] RobertBouillon opened #5640 "Deprecate the async API and replace it with CLR abstractions for threading"
# Overview
The current [asynchronous programming model](https://docs.microsoft.com/en-us/dotnet/csharp/async) is unnecessary because __all__ code written in .NET is asynchronous by nature of running on a multi-threaded operating system. If we don't require [explicit language support](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/async/) for executing on a system-managed

[2020-11-21 20:21] lrslima commented on #5634
Same error here

[2020-11-21 23:37] robwgreenjr commented on #5634
Setting the version for Microsoft.EntityFrameworkCore and Microsoft.EntityFrameworkCore.Design to 3.1.10 and doing a rebuild, can be used as a work around.

[2020-11-22 01:47] vsfeedback opened #5641 "Make 2.1 as default Target Framework"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/919081/make-21-as-default-target-framework.html)._

---
Hi,

Please make the 2.1 .NET Standared as default Target Framework as all new packages are targeting the 2.1 version

Thanks,
[Jassim] (https://www.emiratesangels.org)

---
### Original Comments

#### Feedback Bot on 2/1

[2020-11-22 01:49] vsfeedback opened #5642 "When doing the weekly servicing update, actually upgrade .Net Core, rather than installing another ~460Mb of Framework"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/370910/when-doing-the-weekly-servicing-update-actually-up.html)._

---
<p>It seems that on installing any update to Visual Studio, a new .Net Core SDK is installed, typically weighing in at about ~460Mb.</p><p>This quickly accumulates into a large amount of diskspace consumed,

[2020-11-22 02:08] jamshedd commented on #5642
Responded on the Dev Community site: https://developercommunity.visualstudio.com/content/idea/370910/when-doing-the-weekly-servicing-update-actually-up.html

[2020-11-22 02:08] #5642 closed

[2020-11-22 02:09] jamshedd commented on #5641
@KathleenDollard, do you have suggestions on where this should go?

[2020-11-22 11:11] webczat commented on #5465
uhm my experience is specifically that csharp docs are actually a bit messy. Tutorials just cover the very beginning (helloworld), then go into more specific "how to do X" things, but if you want to learn the actual language then the concept/reference docs are a bit confusing. like topics duplicated on concepts and programming guide, or sometimes cross linked, or some things shown only in concepts

[2020-11-22 11:40] svick commented on #5640
I feel like you're looking at `async`-`await` as something that's new, and assuming that there's a lot of investment (both personal and corporate) in regular threading infrastructure, but almost none in `async`-`await`. That might have been true in 2012, but it's 2020 now and the world is full of `async`-`await` code.

I think there is pretty much zero chance that such a massive breaking change wo

[2020-11-22 14:13] efinder2 commented on #5549
Same for the german version: https://docs.microsoft.com/de-de/dotnet/core/install/linux-ubuntu

[2020-11-22 14:23] valik-tut opened #5643 "Debugging an xslt application doesn't work with .net core"
Debugging an xslt application doesn't work with .net

Debugging xslt doesn't work for me if i use .net core. Generated modules system.xml.xsl.compiledquery are not build with debug information. Debugging with .net framework works, and symbols for system.xml.xsl.compiledquery can be loaded. Code is similar with example in documentation. https://docs.microsoft.com/en-us/visualstudio/xml-tools/debugg

[2020-11-22 21:33] maikoly1 commented on #5634
Same issue her tried installing Pomelo on v 5.0 no success.

[2020-11-23 03:32] dashenxian opened #5644 "System.Text.Json.JsonSerializer.Deserialize<T>() Deserated “\r” report errors"
# Issue Title
When I use  System.Text.Json.JsonSerializer.Deserialize<T>()  Deserialize string, if the string contains a "\r", an error is reported like this:System.Text.Json.JsonException:“'0x0D' is invalid within a JSON string. The string should be correctly escaped.
![image](https://user-images.githubusercontent.com/18696614/99927200-698ee100-2d7f-11eb-8023-c35fdb6d137d.png)

# General

.NET Co

[2020-11-23 03:41] dashenxian commented on #5644
It seems that the wrong repository was sent

[2020-11-23 03:41] #5644 closed

[2020-11-23 09:07] SpiritBob commented on #402
I'm confused - isn't Interop currently supported for all three platforms? Windows is certainly supported right now in .NET Core?

[2020-11-23 09:19] fabsenet opened #5645 "German translation in dotnet hosting package 5.0 wrong"
![grafik](https://user-images.githubusercontent.com/2065705/99945526-0ef08780-2d75-11eb-89fa-3eb95832c896.png)

"Die Installation wurde erfolgreich" is not a real german sentence. It should bei either "Die Installation war erfolgreich" or "Die Installation wurde erfolgreich abgeschlossen"

it is the officialt dotnet-hosting-5.0.0-win.exe file downloaded last week.

[2020-11-23 15:57] mthalman opened #5646 "Describe platform dependencies"
### Summary

Provides a uniform description of all platform dependencies for .NET.  This is the basis for all of the other user stories in this [epic](https://github.com/dotnet/core/issues/5651).  It collects the dependency data into a machine-readable format that serves as the complete database for reasoning about .NET's dependencies.

### Goal

.NET contributors can describe the product's platfo

[2020-11-23 15:57] mthalman opened #5647 "Client library for reading native dependency data"
### Summary

Workflows to automate the updating of documentation or package references (e.g. installer packages, Dockerfiles) would benefit by consuming a client library that is capable of reading the underlying dependencies description. It would also aid the development of any tooling to manage the dependencies.

### Goal

.NET contributors can programmatically transform or consume native depende

[2020-11-23 15:57] mthalman opened #5648 "Native dependency change detection"
### Summary

Detecting dependency changes when they are first made to source code allows us to capture right away when such changes are being introduced.  This allows a workflow which can potentially block incompatible changes (see https://github.com/dotnet/runtime/issues/38755) or provide a developer experience whereby they can easily update the native dependency data so that the dependency is ap

[2020-11-23 15:58] mthalman opened #5649 "Website to browse native dependency data"
### Summary

A website allows developers to answer their dependency questions themselves in an interactive manner. This can provide a higher level of detail than what might be contained in documentation.  This could support scenarios like finding the native dependencies of a specific NuGet package, finding all components that require a specific package, or finding the specific required package ver

[2020-11-23 15:58] mthalman opened #5650 "Global tool for discovering an app's native dependencies"
### Summary

A .NET project is where the dependencies become calculable.  By running a tool against a project, and using the collected native dependency data, it is possible to definitively output the list of native dependencies that project requires.  This greatly reduces the friction required to gather this information when compared to either the trial-and-error method of running the app and see

[2020-11-23 15:59] mthalman opened #5651 "Manage .NET's native dependencies"
### Situation
There are a set of .NET-related customer workflows that require the use of native libraries contained within the operating system.  These are divided into two categories:
* Execution of a .NET process: Runtime components defer some of their logic to native libraries. Examples include ICU libraries for globalization support, GNU C Library, and others.
* Building .NET from source code:

[2020-11-23 20:11] Possibility454 opened #5652 "error BC30456: 'Form1' is not a member of 'WinFormsApp'"
# Issue Title

When changing the projects startup object to a form that isnt Form1, you get this error:
error BC30456: 'Form1' is not a member of 'WinFormsApp'

# General

Create a project, such as VB WinForms Application with .Net 5. Rename the default Form1 to something else such as FormMain. Change the startup object to FormMain. Try running the application, you get the error. The auto-generate

[2020-11-23 21:07] dleeapho commented on #5651
/cc @shawnro

[2020-11-23 21:13] maxgolov commented on #3323
Just want to mention that the `SetDefaultDllDirectories(LOAD_LIBRARY_SEARCH_DEFAULT_DIRS)` [turns off the search in the standard search path](https://docs.microsoft.com/en-us/windows/win32/api/libloaderapi/nf-libloaderapi-loadlibraryexa). So any mixed managed-native assemblies that load native libraries would not work with other framework libraries that require the PATH-based lookup, e.g. https://

[2020-11-23 23:41] rlktradewright opened #5653 "<probing privatePath="..." /> doesn't work in .Net 5.0"
In .Net 4, probing during assembly loading could be influenced by use of the '<probing>' element in the `<app>.exe.config` file. The `privatePath` attribute contained list of subfolders that would be searched during probing. An example from one of my apps is:

[code]

In this example, the `TradeWright.TradeBuild.ComInterop` subfolder contains a number (69 to be precise) of COM interop libraries pr

[2020-11-23 23:59] rlktradewright opened #5654 "ActiveX support in .Net 5 Windows Forms designer?"
The Windows Forms designer for .Net 5 appears to be brain-dead with regard to ActiveX controls.

I have not succeeded in getting any ActiveX controls working in the Toolbox. The 'Choose items' dialog says:

_'The following controls were successfully added to the toolbox but are not enabled in the active designer. .... Make sure the controls to add are compatible with the current designer and .Net

[2020-11-24 02:47] xiaoyuvax commented on #5615
i don't have problem with net core 3.1, how so?

[2020-11-24 03:32] xiaoyuvax commented on #5615
I found this problem was caused by that i put both .net core project and .net 5 project in the same project folder. Separating 'em to different project folders solved this problem.

[2020-11-24 04:29] 6rashmijoshi commented on #5223
i am facing this issue plz help me

C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\MSBuild\Current\Bin\Microsoft.Common.CurrentVersion.targets(1175,5): Error: The reference assemblies for .NETFramework,Version=v5.0 were not found. To resolve this, install the Developer Pack (SDK/Targeting Pack) for this framework version or retarget your application. You can download .NET Framework

[2020-11-24 05:26] Fares-Steen commented on #4879
I tested it.
I could run it but no debugging.

[2020-11-24 06:25] jadenrogers commented on #4419
Same here , did you solve this? @lewisgauss

[2020-11-24 07:13] Flaminel opened #5655 ".NET Core/5 IConfiguration does not work on Ubuntu 20.10 x64 on Raspberry Pi 4 4GB"
I've had multiple apps installed on my ```32 bit Raspbian``` for the past 11 months or so with no problems to run them at all. Recently, I wanted to experiment with MongoDB and I needed a ```64 bit OS``` version to get the latest build, so I decided to go with ```Ubuntu Desktop 20.10 x64``` with ```ARM64``` architecture. After installing Ubuntu, I tried starting one of my apps to see if all is wel