[2019-02-13 15:58] martincostello commented on #2307
Thanks @leecow - I don't have a strong opinion regarding the `rid` being empty, I was just looking at it to be reactive to the change if it wasn't a mistake.

If the original assumptions our automation solution made were correct and this was just an unfortunate mistake, then I guess I can just remove the changes I made to work around this earlier today.

[2019-02-13 16:39] bartonjs commented on #1632
@ltworf That will be fixed in the next release of .NET Core 2.1 and .NET Core 2.2 (https://github.com/dotnet/corefx/pull/34443)

[2019-02-13 21:52] #2307 closed

[2019-02-14 00:11] leecow commented on #2304
@muratg and @joeloff - can you look at @PolitovArtyom 's issue above (https://github.com/dotnet/core/issues/2304#issuecomment-463154664)?

[2019-02-14 00:24] leecow commented on #2304
@kieronlanning - I see it in line 5 of the csv? If you're referring to the exe installer, those have not typically been included in the csv (though I see a few releases where they snuck in).

@vivmishra

[2019-02-14 00:27] kieronlanning commented on #2304
@leecow Interesting, when I set my project to 2.2.104, the .NET Core SDK Installer fails:

[code]

[2019-02-14 00:33] leecow commented on #2292
Sorry for the inconvenience. There are times where moving .NET Core forward also means new work in Visual Studio which is not practical to port to a previous release. At times like that, we have to bring the VS and .NET Core Previews along mostly in parallel.

Have you tried to recover you VS2017 state by uninstalling any 3.0 previews using the Remove Programs control panel?

@Andrew-MSFT

[2019-02-14 00:38] leecow commented on #2291
Adding a few folks to try and tease out some information - @danmosemsft @davidsh @rmkerr @mconnew

[2019-02-14 00:42] leecow commented on #2282
Hi @jjpepper , We don't have any subscription channels beyond what is already provided by Visual Studio. I'm surprised that Visual Studio is not prompting you for .NET Core updates as the functionality for included versions (eg VS2017 has 1.0, 1.1 and 2.1) is definitely there.

We do have a metadata endpoint which many are starting to monitor for update notification. You can find this at https://d

[2019-02-14 00:47] davidsh commented on #2291
@ericstj @joperezr Can you help explain how this works?  It is "binding" magic that makes sure that the "inbox" System.Net.Http.dll is used instead of NuGet version.  Note that in this case, "inbox" refers to a version of System.Net.Http.dll from Microsoft.NETCore.App instead of using the one from System.Net.Http NuGet package.  Note also that in the .NET Framework case, this is "binding" magic as

[2019-02-14 00:51] leecow commented on #2258
@muratg - can you have a look and redirect if necessary?

[2019-02-14 00:59] leecow commented on #2247
@gortok is pointing in the right direction. You're code will need to deal with a platforms file share access idioms, eg, clear unc on Windows or smb / cfs on Linux. I believe I have seen libraries available to help on Linux, or you can programmatically mount/unmount the shares.

[2019-02-14 00:59] #2247 closed

[2019-02-14 00:59] #2242 closed

[2019-02-14 01:22] leecow commented on #2304
I suspect the Azure folks have not finished their deployment yet.

[2019-02-14 01:27] muratg commented on #2258
cc @mkartakmsft, @danroth27

[2019-02-14 01:28] muratg commented on #2304
@PolitovArtyom we are tracking that issue here: https://github.com/aspnet/AspNetCore/issues/7546

[2019-02-14 01:33] drowhunter commented on #2258
Just to be clear, in order to work around this issue, I had to go into the Request.Forms Items and select the first value from the `RememberConsent` Array.  And Grab the value for UserCode myself.

Something is not right with the PageModelBinder or something

[2019-02-14 04:33] danroth27 commented on #2258
This issue was moved to aspnet/AspNetCore#7560

[2019-02-14 04:33] #2258 closed

[2019-02-14 08:03] kieronlanning commented on #2304
@leecow Is there a way to track the coordination between the various places - Azure AppServices, Azure Blob Deployments, GitHub's releases.csv etc?

A means to track it would also help in situations like this too. We would have checked a tracker, and just waited rather than commenting here...win/ win!

We've been waiting for 2.2.2 for several months as it solves a problem with the `HttpContextAcce

[2019-02-14 08:41] tmds commented on #2291
The sdk ends up with a number of possible assemblies and then picks what it considers the best.
Each assembly is turned into a:
[code]
and the code https://github.com/dotnet/sdk/tree/master/src/Tasks/Common/ConflictResolution picks the proper assembly based on the type, assemblyversion, etc.

If you look in the `yourapp.deps.json` file you can follow the breadcrumbs to System.Net.Http 4.3.0: `Micr

[2019-02-14 09:00] kieronlanning commented on #2304
@leecow Looks like it's a problem with naming. It's referenced here: https://github.com/Microsoft/azure-pipelines-tasks/issues/9366

[2019-02-14 09:01] bschapendonk commented on #2304
@leecow

Regarding the fix for the Azure DevOps .NET Core Tool Installer, according to https://github.com/Microsoft/azure-pipelines-tasks/issues/9366#issuecomment-456711057 only the error message is improved.

So instead  of a `Cannot read property 'trim' of undefined` we now get a `The specified version's download links are not correctly formed in the supported versions document`.

[2019-02-14 09:03] idormenco opened #2311 "Can't catch System.Security.Authentication.AuthenticationException"
## Can't catch System.Security.Authentication.AuthenticationException

## Description

We have a .Net Core 2.1 Web Api application and we connect to a WSDL over HTTPS (we use a certificate to authentificate) and some day certificate expired and no response from Web Api and no errors in logs.

[code]

and channel class
[code]

[2019-02-14 09:20] simonferquel opened #2312 "Introduce Http over arbitrary streams"
# Summary

This issue is about contributing back support for HTTP over arbitrary streams (named pipe, unix socket, ...) that we use internally for Docker Desktop to .net core libraries.

# Context

I am part of the team building Docker Desktop, and we are in the process of refactoring it to share as much code as possible between Mac and Windows. To align with the company practices, we are using go

[2019-02-14 14:56] bitbonk commented on #2032
Any update on this? I suppose at some point before the release of 3.0 you'd need to make a somewhat official statement. cc @onovotny

[2019-02-14 15:43] leecow commented on #2304
Thanks @bschapendonk ... looks like this my fault :-/ Resolved 2.2.2 field names with https://github.com/dotnet/core/pull/2313.

[2019-02-14 15:49] leecow commented on #2312
@Eilon and @muratg for possible input on the server-side question.

[2019-02-14 15:50] kieronlanning commented on #2304
@leecow Amazing work, thanks! All our builds working a-ok now! Cheers!

[2019-02-14 15:57] jeffschwMSFT commented on #2032
Our C++/CLI support is coming along.  We hope to have it in an upcoming preview.  There are a number of moving parts with the compilers/libraries shipping in an upcoming VS 2019 release and the runtime support coming in an upcoming .NET Core 3.0 Preview.  I do not have a firm date at this point, though all seems on track for a .NET Core 3.0 ship.

[2019-02-14 17:21] muratg commented on #2312
+ @davidfowl for his opinions here.

[2019-02-14 17:59] Eilon commented on #2312
And cc @DamianEdwards

[2019-02-14 18:26] joperezr commented on #2291
When you are building your project we have a confict resolution task that runs as part of the build, which will look at all of the assemblies that are referenced, and look for conflicts and pick the right winners of each conflict. When referencing the System.Net.Http NuGet package, the contents of it will conflict with the ones that we see inbox. There are several different things we take into con

[2019-02-14 18:44] bitbonk commented on #2032
@jeffschwMSFT
C++/CLI support is one thing and it is great to know that it is coming along. But what about the *MFC* support (which this issues is about).

The developer in me kind of hopes that MFC will not be supported (so I have arguments to get rid of the old stuff) but my boss may think differently. 🤷🏻‍♂️

[2019-02-14 18:47] davidfowl commented on #2312
You can already do this on the server side with Kestrel, the custom transport. We already have support today via libuv for named pipes/unix sockets. We could add this support natively to the socket transport or write a named pipe transport.

[2019-02-14 18:52] riezebosch opened #2314 "Recommended version number scheme for SDK?"
For maintainting the [dotnetcore-chocolateypackages](https://github.com/dotnetcore-chocolatey/dotnetcore-chocolateypackages) I want to add `3.0-preview` but I'm not sure what version for the SDK currently is recommended.

The SDK version from the [releases.json](https://raw.githubusercontent.com/dotnet/core/master/release-notes/3.0/releases.json) is not `semver` and the `latest-release` tend to be

[2019-02-14 19:20] jeffschwMSFT commented on #2032
Adding @cmckinsey

[2019-02-14 19:33] simonferquel commented on #2312
That is actually really interesting. I will have a look at it.
Does Kestrel still run on .net Framework full btw? (Asking for docker desktop)

[2019-02-14 19:34] simonferquel commented on #2312
I guess I should only focus on the client side then

[2019-02-14 19:40] muratg commented on #2312
Kestrel 2.x is supported on .NET Framework ("full framework").
Kestrel 3.x will be only on .NET Core.

[2019-02-14 22:31] null7238 opened #2316 "Missing .NET core 3.0 preview 2 from release list"
https://github.com/dotnet/core/blob/master/release-notes/releases.csv

Does not contain a version number for .NET core 3.0 preview 2. Trying to run a build agent on azure devops with not much success because I don't know the right version number.

[2019-02-15 02:11] #2316 closed

[2019-02-15 02:22] leecow commented on #2314
We're in the process of standing up release branches which would make sense for you to follow. For the sdk, picking up the latest from release/3.0.1xx should do the trick.

@livarcocc to confirm.

[2019-02-15 07:58] tmds commented on #2291
At some point the SDK also trims away assemblies which are part of the 'shared framework'. Is this part of conflict resolution?

Could an assembly from a nuget package 'override' a shared framework assembly if it as a higher assembly version?

Can you give some more info on the version numbers used? System.Net.Http has a version number for the NuGet package. In that NuGet package there are a numbe

[2019-02-15 09:02] lrnstlt opened #2318 "Incorrect cast from Int16 to Int32, Int64 in netcoreapp3.0"
# Incorrect cast from Int16 to Int32, Int64 in netcoreapp3.0

# Program
[code]
# Output
`dotnet run -c Release -f netcoreapp2.2` outputs:
[code]

`dotnet run -c Release -f netcoreapp3.0` outputs:
[code]

[2019-02-15 11:04] riezebosch commented on #2314
Got it. But what about the `aspnetcore-runtime` and `windows-hosting`?  Should it be `3.0.0-preview2`? Because there are already multiple `3.0.0-preview` releases that only differ in last part (which doesn't fit into `semver`).

[2019-02-15 15:25] 0xd4d commented on #2318
This should be moved to https://github.com/dotnet/coreclr

.NET Core 2.2:

[code]

.NET Core 3.0:

[code]

[2019-02-15 17:42] vellozzi opened #2319 "Please add download archive for 1.0.14 or include RHEL on main download page"
# Please add download archive for 1.0.14 or include RHEL on main download page

Can you add a download archive for 1.0.14 to https://github.com/dotnet/core/tree/master/release-notes/download-archives ?

The GitHub download archives include RHEL builds but the regular download page doesn't.  I'm really looking for the RHEL download.  So if you could add that to https://dotnet.microsoft.com/download

[2019-02-15 18:06] joperezr commented on #2291
Yes, one of the things considered during a conflict is whether or not an assembly is part of the shared framework, and this will take into effect in case all the other higher priority comparisons between both assemblies were inconclusive (meaning they had the same Assembly Version for example)

I believe so, but I'm not 100% sure on this as I believe the SDK does have a hammer for a specific set o

[2019-02-15 21:04] oleg-v commented on #2149
worked for me

[2019-02-16 06:41] ghhv commented on #2188
I can confirm I had the same issue after upgrading from 2.1 to 2.2. I think it's a bug.

And I can confirm it's known about and some sort of fix coming here - https://github.com/aspnet/Docs/issues/9865

Although this is from December 2018 and it's still a problem in Core 2.2.2.

Your fix above works but provides a slightly different path (webroot) to the original code - seems the correct variable

[2019-02-16 09:50] mikedn commented on #2318
Yes, this is a bug in the JIT intrinsic implementation of `BinaryPrimitives.ReverseEndianness(short)`. Since the return type is `short` the JIT should have automatically inserted a cast to `int` to preserve the IL semantics.

[2019-02-16 13:03] IanKemp commented on #2304
Why was `Mvc.Formatters.Json.JsonInputFormatter` moved to `Mvc.NewtonsoftJson.NewtonsoftJsonInputFormatter.cs`?

[2019-02-16 17:12] developedby opened #2321 "When missing prerequisites on Linux, error message points to Windows Prerequisites"
Trying to run a .net core app on Linux while missing prerequisites gives me the message

"- Installing .NET Core prerequisites might help resolve this problem.
     http://go.microsoft.com/fwlink/?LinkID=798306&clcid=0x409"

Which points to Windows prerequisites instead of Linux ŕerequisites

[2019-02-16 18:35] ddobric opened #2322 "Enexpected AccessViolationException when reading from array."
I have an array of size 4096, 250000 = 1024000000 = 0x3d090000.
Unfortunately accessing of row with index 2147 fails with  **AccessViolationException**.

[code]

[code]

When executing the code above , following exception is thrown:

![image](https://user-images.githubusercontent.com/1756871/52903619-6f59a900-3220-11e9-841e-3bb74f3ac95d.png)

![image](https://user-images.githubusercontent.com/1756

[2019-02-16 20:56] henkmollema opened #2323 "Slow build times with .NET Core SDK 3.0 preview2"
I'm experiencing very slow build times (20+) seconds when building (clean) projects with the .NET Core 3.0 preview2 SDK.

Repro steps:
1. `dotnet new console`
2. `dotnet build`

Incremental builds are fast as expected. After `dotnet clean` they're slow. This happens for all kind of projects, console, ASP.NET Core, Razor Components, etc.

Example with performance output:

[code]

As you can see the

[2019-02-17 08:42] karelz commented on #2319
@leecow can you please help here?

[2019-02-17 08:56] karelz commented on #2323
Are you able to reproduce it on more than 1 machine?
Are you able to reproduce it on more than 1 project? (what about some dummy HelloWorld?)

[2019-02-17 08:57] karelz commented on #2322
Duplicate of #2094

[2019-02-17 08:57] #2322 closed

[2019-02-17 09:00] karelz commented on #2290
@vinothkhanna are you seeing the problem on more than one machine? (to avoid corrupted install or something)
Did you try to debug the problem, or isolate a repro? (minimal repro would be ideal)

[2019-02-17 09:01] karelz commented on #2302
@jaydeept what kind of Form? Is it WinForms application?

[2019-02-17 09:03] karelz commented on #2308
@juniormayhe aren't the blog posts sufficient? Or TechEmpower benchmarks?
The problem is that everyone uses different benchmarks, or cares about different things, so it is EXTREMELLY hard to provide anything super-useful.

cc @adamsitnik @billwert @brianrob

[2019-02-17 09:07] karelz commented on #2311
Are you able to reproduce it in standalone HelloWorld app? Or is it specific to ASP.NET environment?

cc @bartonjs

[2019-02-17 09:08] karelz commented on #2312
For client-side we can discuss with @geoffkizer @davidsh @wfurt @rmkerr @caesar1995 @stephentoub

[2019-02-17 09:10] karelz commented on #2321
@nguerrera @livarcocc can you please help me route it?

[2019-02-17 09:12] karelz commented on #2288
@nguerrera @dsplaisted do you know where to route this question / bug report? Is it by design?

[2019-02-17 09:13] karelz commented on #2284
.NET Core 2.0 is not supported as of 2018/10.
Did you try to use supported .NET Core version?
Are you able to reproduce the same problem locally? (outside of Azure DevOps)
I assume that no, in which case: Did you try to contact Azure DevOps support?

[2019-02-17 09:15] karelz commented on #2283
Not always. If you did something unsupported, it may have been actually broken on purpose as a bug fix.

Can you post a minimal repro (HelloWorld style) we can try on our end?

[2019-02-17 09:16] karelz commented on #2282
Seems to be answered. If you have troubles with VS, please file feedback via VS bug reporting tool. Thanks!

[2019-02-17 09:16] #2282 closed

[2019-02-17 09:19] karelz commented on #2275
You will need to narrow it down, get a callstack to figure out what's going on.
First step: Make sure it happens on more than 1 machine (to avoid HW / bad install problems).

[2019-02-17 09:20] karelz commented on #2299
@wfurt any idea?

[2019-02-17 09:21] karelz commented on #2298
Which .NET Core version do you use?
cc @dotnet/ncl

[2019-02-17 09:24] karelz commented on #2295
No response in 9 days, closing.
Feel free to reopen when there is a small repro for EF team to try out. Thanks!

[2019-02-17 09:24] #2295 closed

[2019-02-17 09:30] karelz commented on #2259
@nguerrera @livarcocc is it part of VS or where would you suggest to route it?

[2019-02-17 09:30] karelz commented on #2215
No repro available, closing.
If there is a repro available, feel free to reopen.

[2019-02-17 09:30] #2215 closed

[2019-02-17 10:17] stephentoub commented on #2312
On the client side, I see a few approaches:
1. You can do what you're already doing and write a custom HttpMessageHandler. That lets consumers use the HttpClient APIs over your custom handler/transport implementation, but as you say requires also implementing all of the HTTP logic.
2. Add an API like SocketsHttpHandler.ConnectCallback that's a `Func<Uri, Cancellation token, ValueTask<Stream>>` whi

[2019-02-17 10:42] henkmollema commented on #2323
I'm unable to test it on another machine today. I'll let you know tomorrow.

Yes, it repros with every project I create using .NET Core 3.0. Using .NET Core 2.2 the build times are fast as expected.

[2019-02-17 11:23] henkmollema commented on #2323
Building apps with Razor views/pages takes 40+ seconds (twice as much) and hangs twice at loading Roslyn. Once for compiling C# code and once for compiling the Razor views.

[2019-02-17 13:32] henkmollema commented on #2323
@karelz update: I've been able to reproduce this issue on another machine. The issue occurs when I'm using a user account with a space in the username (e.g. `henk mollema`). The problem goes away when I change to another account (on the same machine) *without* a space in the username (e.g. `henk`).

[2019-02-17 15:11] ahmedowsky opened #2324 "rpm dependency problems after visual studio update"
I am developing a dotnet core 2.0 app, a web api to be specific. It was running on a x86_64 centos7 machine. Before i perform an update for Visual Studio's new version (i don't know how old my latest version was), i was able to build rpm packages on the linux machine i just mentioned and i was able to install them with a 'libc.so.6' dependency.

'libc.so.6' dependency was not my choice, i didn't e

[2019-02-17 15:20] henkmollema commented on #2323
Removing the whitespace from my username resolved the issue.

[2019-02-17 16:14] nguerrera commented on #2288
@nkolev92 @rrelyea  I am not familiar with this NuGet feature. Is this something that happens with packages.config, but not PackageReference? Should we move this to NuGet/Home?

[2019-02-17 16:30] nguerrera commented on #2259
This is the expected behavior. For framework-dependent apps, you usually do not want to specify a patch version. The reason is that if you upgrade to a patch before a hoster (web app)/customer (client app) then your app will not launch on their machines. Nevertheless, framework-dependent apps will use the latest patch available automatically at runtime via roll-forward. So you get the security ben

[2019-02-17 16:32] nguerrera commented on #2288
cc @vijayrkn as I think there is some support for web.config transforms in web sdk.

[2019-02-17 16:50] vijayrkn commented on #2288
Yes, Running the transform is only supported with packages.config. This feature is not available with PackageReference. Both NuGet and Websdk uses the same Xml document transformation technology.

https://www.nuget.org/packages/Microsoft.Web.Xdt/

You can use the Xdt to run your own transforms. This specific issue should go to NuGet/Home

[2019-02-17 16:53] nguerrera commented on #2321
@vitek-karas This comes from the host. Any thoughts on how to diagnose further:

https://github.com/dotnet/core-setup/blob/1d95ece515edbbad0ef8f8980424d3e3bce49cb2/src/corehost/corehost.cpp#L301-L303
https://github.com/dotnet/core-setup/blob/1d95ece515edbbad0ef8f8980424d3e3bce49cb2/src/corehost/corehost.cpp#L414-L416

@developedby Which version of the .NET Core are you using? Can you provide dotne

[2019-02-17 16:58] vinothkhanna commented on #2290
@karelz My entire organization is facing this issue. All applications with .NET Core > 2.1 are not working. Am working with Microsoft team on this, though they are mostly Network team, just wanted to post the issue in .NET Core forum as well. If I use microsoft/aspnetcore image with 2.0 it works. Btw, to your question, all the repos are facing this issue.

[2019-02-17 18:09] HalidCisse commented on #1803
Solved it by adding :
`new WebHostBuilder()
                .UseContentRoot(Path.GetDirectoryName(Assembly.GetExecutingAssembly().Location))`

[2019-02-17 18:18] gittadesushil commented on #2288
@vijayrkn ok can I tranform the xml with package reference then? Where can I write the logic to tranform the xml using xdt? considering that NuGet doesn't support the tranformation in package reference. I am using package reference.

[2019-02-17 20:26] wfurt commented on #2299
There were few cases when things moved between corefx and coreclr and you would get strange errors when caught in wrong snapshot. That would not explain why other platforms would work. I assume you build in same tree? When cross-compiling or changing target OS or ARCH, make sure you clean whole build tree.
If you still have issue please post exact steps and perhaps bit of logs so we can try to rep

[2019-02-17 20:46] rrelyea commented on #2288
Nuget 5.0p3 just shipped support for making build assets transitive.
Using targets, it is possible to do xdt transforms.

May have example if you work with us at nuget/home

[2019-02-17 21:05] vitek-karas commented on #2321
This experience has been fixed in dotnet/core-setup#5030. Before the change we had only one fwlink which pointed to a page describing how to do Hello World. This change modifies the host to use 3 different link depending on the platform. The first link was "reused" to now point to the Windows prereqs.

The Linuq prereqs are described in  https://docs.microsoft.com/en-us/dotnet/core/linux-prerequis

[2019-02-17 21:07] rrelyea commented on #2288
See https://github.com/NuGet/Home/issues/5954

[2019-02-17 21:43] nguerrera commented on #2321
Why was a link reused? It seems like the existing link should go to a page with links to the 3 more specific cases, which should each have new links.

Is that why Linux users of existing versions are now getting pointed to a Windows specific page?

[2019-02-17 21:53] nguerrera commented on #2321
I see that now, but I missed it myself this morning. It also doesn't show at all when browsing on a mobile broswer so I had to return to a computer to check. I think a more prominent link to the other platforms would be helpful if we're now directing users of existing versions of .NET Core on non-Windows to the Windows page.

Another place I went looking was from the installation instructions for

[2019-02-18 03:39] bachowny opened #2325 "Problems marshalling strings on linux platform"
We are using dotnet version 2.4.1 in our automated tests which we perform on both Windows and Linux (Centos 7), however there is a failure in our tests but only on Linux and I'm trying to work out whether the problem is in a particular 3rd party native DLL or in dotnet.

There is a certain string that we are checking which contains the following characters:
`A.P. MÖLLER - MAERSK B`

We read this s

[2019-02-18 04:03] karelz commented on #2325
Either create minimal repro without any 3rd party library, or get it under debugger and see what the native side has vs. what you're recieving in .NET layer.

[2019-02-18 04:07] karelz commented on #2288
OK, closing as dupe of https://github.com/NuGet/Home/issues/5954
If it is incorrect, please file a new issue on NuGet/Home where it seems to belong. Or let me know if I missed something. Thanks!

[2019-02-18 04:07] #2288 closed

[2019-02-18 04:11] karelz commented on #2290
FYI: I meant repro - isolated small app reproducing the problem ...

Closing as it is being followed up on by support.
If there are more people hitting this problem, we can reopen and look into it deeper. Thanks for your report!

[2019-02-18 04:11] #2290 closed

[2019-02-18 04:12] bachowny commented on #2325
I have created the following minimal repro:

`using System;
using System.Runtime.InteropServices;

namespace ConsoleApp2
{
  class Program
  {
    static void Main(string[] args)
    {
      IntPtr lPtr = Marshal.AllocHGlobal(2);

      Marshal.WriteByte(lPtr, 0, 0xD6);
      Marshal.WriteByte(lPtr, 1, 0x00);

      string lStr = Marshal.PtrToStringAnsi(lPtr);
      Console.WriteLine("Native land

[2019-02-18 04:15] karelz commented on #2325
I believe that Unicode processing is OS specific - @tarekgh can you please comment?

[2019-02-18 04:17] karelz commented on #2323
@livarcocc @nguerrera can you please help route it?

[2019-02-18 04:20] livarcocc commented on #2323
@jaredpar to comment. I believe this issue is actually on roslyn and the vbcscompiler.

[2019-02-18 04:22] davidfowl commented on #2323
cc @rynowak @pranavkm

[2019-02-18 04:24] nguerrera commented on #2323
Duplicate of https://github.com/dotnet/roslyn/issues/33452

[2019-02-18 04:25] #2323 closed

[2019-02-18 04:31] karelz commented on #758
@MelbourneDeveloper I recommend to ask on the https://github.com/dotnet/roslyn-analyzers repo
Regarding VS for Mac - that's a good question, I'd ask them on their feedback channel.

[2019-02-18 04:33] karelz commented on #2294
Do you have exact steps to reproduce it? What is LicenseCompiler and where do I find it and how do I run it?
Ideally provide steps starting with clean latest VS + latest .NET Core installed on machine. Thanks!

[2019-02-18 04:35] karelz commented on #2294
Actually looking at the details, it seems the app.library tries to load a reference assembly for execution: `Reference assemblies should not be loaded for execution. They can only be loaded in the Reflection-only loader context`
Who owns the library / app Acme? Is that Microsoft product?

[2019-02-18 04:40] MelbourneDeveloper commented on #758
@karelz yep, that's already been asked here:
https://github.com/dotnet/roslyn-analyzers/issues/2026

[2019-02-18 04:42] karelz commented on #758
@MelbourneDeveloper ok, so you should be all set then, right?

[2019-02-18 04:49] tarekgh commented on #2325
@bachowny I believe this operation depends on the default codepage on your system. On Windows I believe the default code page in your system is 1252 which has the code point 0xD6 as "Ö". But on Linux you can have different codepage (which is most of the time is Utf8). decoding 0xD6 using UTF8 will result invalid character (or 0xFFFD)

First, you want to know what encoding of the bytes you are rece

[2019-02-18 04:52] MelbourneDeveloper commented on #758
@karelz when they answer the question, yeah.

[2019-02-18 05:01] bachowny commented on #2325
Thanks very much for the insight @tarekgh

Is there a straightforward way to read out a null-terminated set of bytes using `Marshal` or would I have to do that by hand?

I will definitely give it a try tomorrow (I'm just leaving now) and report back if I have a solution.

[2019-02-18 05:03] karelz commented on #758
@MelbourneDeveloper understood - my point is that the discussion over here is "finished" and all is properly routed / addressed. If not, please let me know.

[2019-02-18 05:06] karelz commented on #2325
Isn't 0 byte allowed part of a Unicode character? That would make it impossible without interpretting the characters properly ...

[2019-02-18 05:07] MelbourneDeveloper commented on #758
@karelz , I understand that there is a path from migrating from the FxCop tool, to the Roslyn Analyzer NuGet package. Basically, it's not finished, and it's not completely integrated in to Visual Studio, but for now, people have some level of code rules. The issue is already closed, so I don't think there's anything to be said for this particular question.

[2019-02-18 08:00] simonferquel commented on #2312
I think option 2 is indeed the best option. I will open a PR doing that. Thanks!

[2019-02-18 08:54] idormenco commented on #2311
Hi @karelz ,
I created an repo an d i was able to reproduce this using a plane console app
https://github.com/idormenco/dotNetCoreSystem.Security.Authentication.AuthenticationException
you will need a pfx certificate that is not valid for specified WCF service.

Thaks,
Ion

[2019-02-18 08:58] jjpepper commented on #2282
Are you saying that visual studio is updating you for .NET Core updates?

This helps a great deal.

[2019-02-18 11:04] stephentoub commented on #2312
Thanks, but API will need to be agreed upon first.
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md

[2019-02-18 11:06] simonferquel commented on #2312
Sure, I will do it (maintaining the code in my own fork while the design is discussed).

[2019-02-18 14:02] siriak commented on #2275
@OliverDjur , I had similar issue and found this thread as I was looking for solution. As it turned out, the problem was that in my application multiple threads used one hash algorithm simultaneously (I mean object of type https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.hashalgorithm?view=netframework-4.7.2). After I changed it to ThreadLocal<HashAlgorithm> (https://docs.m

[2019-02-18 16:01] leecow commented on #2319
@vivmishra

[2019-02-18 19:54] pedasmith commented on #860
I just solved a similar problem when I imported a VS2015 UWP C# app into VS2019 and added the UWP Community toolkit. The solution (apart from my other dinking around) was to set the C# compiler from from "MOST RECENT" (which may have told it to use c# 8.0 (beta) and instead forced the project to compile using C# 7.0

[2019-02-18 20:29] bachowny commented on #2325
@karelz Probably, but I know this is actually an ANSI string coming from a C interface, so even if I end up truncating the string I'll only be mishandling things in the same way the 3rd party will mishandle it.

[2019-02-18 21:02] bachowny commented on #2325
I've put together the following improved program which does operate correctly on Linux but I have further questions about it...

[code]

[2019-02-18 21:05] bachowny commented on #2325
@tarekgh So now the question I have is about this `CodePagesEncodingProvider`, for which I had to add a NuGet package and will have to work out how to make that work on the AWS instances we spin up to run these tests.

My question is simply is there another way to get this encoding? It seems that whatever is being used to parse the XML file that contains this string was already using the correct e

[2019-02-18 21:45] bachowny commented on #2325
@tarekgh OK so kind of answering my own question here but this works just as well:

[code]

So now the question is, what is `Marshal.PtrToStringAnsi` doing to interfere with this seemingly straightforward operation? If I do

[code]

then the output is the same on both Windows and Linux. So it seems to me that `PtrToStringAnsi` is the thing that is getting this wrong.

[2019-02-18 22:10] omajid commented on #2324
Let's see if we can break this problem down into smaller problems.

Just for the record, can you show us the output of /etc/os-release ?

Can you tell us a bit more? What is this RPM? What does the spec file look like? How are you building the rpm? Can you reproduce this issue with a simple console project built by the RPM?

Does that mean you are building the .NET Core project on your Windows mac

[2019-02-18 22:18] bachowny commented on #2325
Sorry for the constant barrage of comments on this issue but for posterity this is now solved for me, and here is the slightly improved code.

[code]

[2019-02-18 22:55] ahmedowsky commented on #2324
Sure

/etc/os-release output:

VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:centos:centos:7"
HOME_URL="https://www.centos.org/"
BUG_REPORT_URL="https://bugs.centos.org/"
CENTOS_MANTISBT_PROJECT="CentOS-7"
CENTOS_MANTISBT_PROJECT_VERSION="7"
REDHAT_SUPPORT_PRODUCT="centos"
REDHAT_SUPPORT_PRODUCT_VERSION="7

[2019-02-19 00:52] tarekgh commented on #2325
It looks to me for your scenario you'll just need to use the ISO-8859-1 encoding, which you can use without using Encoding.RegisterProvider(CodePagesEncodingProvider.Instance); at all. so you can just do

[code]

Your way casting the byte to a char may be acceptable if you don't care about the code point ranges 0~0x20 and 0x80~0x9F. I believe the ISO encodign would be more desirable to use.

Let m

[2019-02-19 05:30] ahmedowsky commented on #2324
Well i thought you might want to know about this
deplist command output has some interesting lines;

dependency: /bin/bash
   provider: bash.x86_64 4.2.46-31.el7
  dependency: /bin/sh
   provider: bash.x86_64 4.2.46-31.el7
  dependency: libc.so.6
   provider: glibc.i686 2.17-260.el7_6.3
  dependency: libc.so.6()(64bit)
   provider: glibc.x86_64 2.17-260.el7_6.3
  dependency: libc.so.6(GLIBC_2.0)

[2019-02-19 11:26] simonferquel commented on #2312
CoreFX issue opened here: https://github.com/dotnet/corefx/issues/35404

[2019-02-19 11:33] sansjunk commented on #2294
[LicenseCompiler](https://docs.microsoft.com/en-us/dotnet/framework/tools/lc-exe-license-compiler) is a .NET Framework tool. In order to provision a runtime license it loads and inspects the assembly being built. This is where the issue shows up.

[2019-02-19 11:59] jaydeept commented on #2302
Yes, inside WindowsApplication, Windows Form.

[2019-02-19 14:58] simonferquel commented on #2312
@davidfowl just played a bit with libuv transport. I managed to use the ListenSocketPath method to create a namedpipe, but any request fails with:
[code]

[2019-02-19 15:02] simonferquel commented on #2312
I'll try to make a symetric issue/PR in SocketStream transport to fix that (and without having to rely on libuv)

[2019-02-19 15:20] vellozzi commented on #2319
I found the RHEL build here: https://github.com/dotnet/core/blob/master/release-notes/1.0/1.0.14/1.0.14-download.md

[2019-02-19 15:20] #2319 closed

[2019-02-19 15:58] mgolois opened #2327 "Unable to build .net core projects in Visual Studio"
I'm not sure what happened, but some some reasons any solutions with ..net core, .net standard projects are not building any more. No errors are throwns, just
`========== Rebuild All: 0 succeeded, 2 failed, 0 skipped ==========`

I updated visual Studio to the latest version `15.9.7` and updated dot .net core SDK, current version `2.2.104`.
I have cleaned the projects, deleted bin/obj, and vs fold

[2019-02-19 15:59] davidfowl commented on #2312
@simonferquel Yes I don't think the libuv transport supports named pipes (it needs some tweaks) but it does support unix sockets. We'd need to write another transport for the stream based support. File an issue on https://github.com/aspnet/aspnetcore

[2019-02-19 16:27] TomekDex opened #2328 "dotnet new -i '{path}' 2.1.504 vs 2.2.104"
Hello
Are there any differences between the templates for these dotnet versions?

After upgrading to 2.2.104, this command stopped working.

It prints everything in the same way as in the previous version and doesn't add any templates to the list

[2019-02-19 16:29] simonferquel commented on #2312
@davidfowl the extension model for kestrel allows to do this in a separate package. should it live within the main kestrel code base then?

[2019-02-19 16:55] davidfowl commented on #2312
@simonferquel Ah I would start with a separate package for now but still file the issue because we've likely going to add unix socket support to the socket transport. Named pipes is less likely at least for this release.

[2019-02-19 17:48] Eilon commented on #2297
@mammadkoma OK so this issue is resolved?

[2019-02-19 18:37] vsspt opened #2329 ".net Core 3.0 Preview 2 - [406: Not Acceptable]"
I build an Web API using Microsoft 2.2, based on Microsoft Documentation.
Everything was working as expected.

After updating to .net Core 3.0 Preview 2, all endpoints are returning [406: Not Acceptable].

There is something missing, but so far i wasn't able to understand what is missing. The following code its the same as on .net core 2.2.

**Program.cs**

[code]

**Startup.cs**

[code]

**XXXCon

[2019-02-19 23:22] doomchild opened #2330 "Error when building in .NET Core 3.0 Preview 2 (CS0531, Interface Members Cannot Have A Definition)"
# Issue Title

Features listed in the .NET Core 3 Preview blog posts do not appear to work.

# General

`dotnet --version` returns `3.0.100-preview-010184`.  I'm running on MacOS Mojave (10.14.3).

I'm just trying to play around with some of the new features in .NET Core 3 (in this case, default interface implementations), but when I go to build, I get compiler errors.

Here is the code I'm attemp

[2019-02-20 11:44] mammadkoma commented on #2297
Yes

[2019-02-20 16:08] DanJ210 opened #2331 ".Net Core 2.2 Auth AzureAD Startup Generated Code is Complete?"
Generated startup code is very light and when I try it in other .Net Core 2.2 MVC Web Applications it doesn't work. I'm trying to find documentation on this small snippet of code but the .Net Core documentation is on 2.0 and doesn't talk about what's going on in 2.2, [.Net Core Documentation](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/azure-active-directory/?view=aspnetco

[2019-02-20 21:23] #2297 closed

[2019-02-21 14:01] andrewwebber commented on #2186
I have just experienced this issue when trying to run a **self contained** dotnet core application on CoreOS Container Linux, without a Docker container.

E.g.
[code]

For me this means that self contained publish output still has some dependencies which might need clarification.

[2019-02-21 14:37] ahmedowsky commented on #2324
I got updates about this. Yesterday i created a new WebApi project (dotnet core 2.2) and the simplest spec file for it, built a rpm and tested that. Installation was successful, there were no such dependency problems. Then i noticed that project references were different between this test project & the one i faced dependency issues with.

Long story short, i changed target framework & references o

[2019-02-21 14:58] ahmedowsky opened #2332 "Project version texts causing rpm builds fail with 'Unknown tag: x.x.x.x' (x are version numbers)"
I am facing this issue since our first rpm package i've built.

I am building a .NET Core project on my Windows machine, and then copying the built project onto the CentOS machine and then wrapping it up in an RPM.

I have a spec file which kind'a automates rpm builds. To specify rpm's version info, this spec file reads my dll's version (file version). I set this version information using "project

[2019-02-21 20:55] rholsman opened #2333 "HostBuilder ConfigureAppAConfiguration setup is overwritten with default implementation"
HostBuilder ConfigureAppAConfiguration setup is overwritten with default implementation

When developing an application tar getting .NET Core 2.2, if a user creates a host builder and and uses the ConfigureAppConfiguration method and submits a delegate function as an argument; after the scope of the delegate has ended the default implementation for configuration is applied and seems to override th

[2019-02-21 22:26] montella1507 commented on #2292
@leecow  Well i could not remove Visual Studio via "Visual studio installer" it gets bugged after days when i install Visual studio - it is funny, official Visual studio tools cannot detect an installation it installed itself several days ago. It show the location where it is installed actually .. with message "not found".

So i hads to use some king of "clean remove" utility to clean windows regi

[2019-02-21 22:27] omajid commented on #2324
Is there any way you can try and extend your new WebApi project - say by adding those nuget references - until it produces the errors you are seeing in your main project? A way to reproduce the issue would be nice.

That tells RPM to not generate `-debuginfo` packages. It sounds like RPM is aborting the build because it sees that your package has no unmanaged/native (aka c/c++) debug information -

[2019-02-22 04:48] karelz commented on #2311
Why does it need WCF service? Is it related to WCF?

[2019-02-22 06:32] mkSanalogic commented on #2283
Well, what unsupported operation did I conduct?
Also, what exactly do you want me to provide additional to what's already there?
Just paste the function into any program of your own and run it, providing the path to a .net assembly.
Might have to be a x64 assembly, I'm not 100% sure on that.

[2019-02-22 12:37] beppe9000 opened #2334 "Alternative to ediditing nuget.config https://github.com/dotnet/core/blob/master/samples/linker-instructions.md"
Should the following command be added as a faster way to try out the linker ?
`dotnet add package ILLink.Tasks -s https://dotnet.myget.org/F/dotnet-core/api/v3/index.json -v 0.1.5-preview-1841731`

Possibly in a way that does not require to specify the full version :)

[2019-02-22 17:44] dougbu commented on #2304
@IanKemp moving the Json.NET dependencies is an intentional breaking change in the 3.0 preview releases. This and related changes were announced in aspnet/Announcements#325.

[2019-02-22 18:03] leecow commented on #2314
All components should be picking up the *-preview{n}-{buildnumber} scheme.

[2019-02-22 18:06] #2292 closed

[2019-02-22 19:28] riezebosch commented on #2314
But the {buildnumber} part is breaking semver and the *-preview part seems not unique.

[2019-02-22 21:16] #2259 closed

[2019-02-22 23:51] doomchild commented on #2263
I'm confused as to where I should report this problem, as it seems to span a couple of different things.  I've been trying to play with some C# 8 features (in particular default methods on interfaces), but all of trying to build always results in the standard "interface members cannot have a definition" error.  I've already made a report at https://github.com/dotnet/core/issues/2330, but I've sinc

[2019-02-23 03:46] jake-brandt commented on #2149
Hi folks, this issue is happening for me now as well:

- Docker on macOS with a base image of Ubuntu 18.04
- Previously worked while the image layer with .NET Core 2.2 SDK was still cached
- Went in to the Dockerfile to include a few more items in the apt-get install command; and I'm here at this issue now.

Tried [https://www.ntweekly.com/2018/12/25/install-net-core-2-2-on-ubuntu-18-04-linux/](ht

[2019-02-23 04:01] jake-brandt commented on #2149
I ran into a very similar issue this evening - appeared to be this specific issue; but was ultimately my own mistake. I was updating a Dockerfile built with Ubuntu 18.04 and previously had the following (which worked):

[code]

Replaced it with a larger, multiline list, which broke it:

[code]

Muscle memory added those two ampersands when they should NOT have been there! So I can say that dotnet-

[2019-02-23 11:02] PWrGitHub194238 commented on #2330
I firmly believe the issue is that the default interface member feature is just not implemented yet (see [GitHub note](https://github.com/dotnet/csharplang/blob/master/proposals/default-interface-methods.md) about this C#8.0 proposal).

[2019-02-23 16:04] Magn3s1um commented on #2263
I have a netstandard2.0 serialization library that I want to convert to use the new UTF8Json reader.

I have visual studio 2019 preview installed, and the sdk / hosting bundle installed as well on windows 10 16299.  The migration to 2019 was easy, and the project builds correctly, but I do not know what to change the runtime identifier to migrate this.  What are the runtime identifiers for these n

[2019-02-23 16:23] doomchild commented on #2330
That's really frustrating, because the blog posts have made it appear that all of the proposed C# 8.0 features are present to some degree in the previews.

[2019-02-23 18:31] AlexAtNet commented on #2330
According to the [preview 1](https://github.com/dotnet/core/blob/master/release-notes/3.0/preview/3.0.0-preview1.md) release notes, support for the default implementation of interface members is added.

[2019-02-23 20:32] RDunkley opened #2337 "Environment.CommandLine Removes Quotation Marks"
I ran the following code in a .NET Framework 4.6.1 Console App:

[code]

It is based on the [Environment.CommandLine example](https://docs.microsoft.com/en-us/dotnet/api/system.environment.commandline?view=netframework-4.7.2.).

I passed the following command arguments:
`-i="t,est1","te,st2","tes,t3"`

It outputs the following (as expected):
`"...\Test.exe" -i="t,est1","te,st2","tes,t3"`

If I run

[2019-02-23 23:09] RDunkley commented on #2337
Looks like this is already logged in [dotnet/corefx Issue #29014](https://github.com/dotnet/corefx/issues/29014).

[2019-02-23 23:09] #2337 closed

[2019-02-24 22:00] shravan2x opened #2338 "Identifying cause of program exit"
This question was previously posted on SO. I'm cross-posting it here since it might call for runtime improvements too.

.NET Core version: 2.1.6
OS: Ubuntu Server 16.04 LTS

I have a console application written in C# targeting .NET Core for Linux. I'm facing a bug where rarely the application would just exit for seemingly no reason. I'm also unsure if this is an issue with the runtime itself or a

[2019-02-25 11:23] kp2017 commented on #2338
You could try running the framework code locally and check for exceptions?

[2019-02-25 17:00] vsspt commented on #2329
I'm sorry to insist, but we are being held by this issue, can anyone take a look?

[2019-02-25 17:24] shravan2x commented on #2338
I don't believe that will be helpful since the `UnhandledExceptionTrapper` is already registered. When called, it should log to a file, but it doesn't get called at all.

[2019-02-26 01:21] nicholashoule opened #2342 "Ubuntu 16.04 APT Writing more data than expected (365941 > 364110)"
# Ubuntu 16.04 APT Writing more data than expected (365941 > 364110)

# General

[code]

**Index of /ubuntu/16.04/prod/dists/xenial/**
[code]

**Steps to Reproduce:**

1. docker run -it --rm ubuntu:16.04
2. apt-get update
3. apt-get install -y apt-transport-https curl wget
4. apt-get upgrade -y
5. wget -q 'https://packages.microsoft.com/config/ubuntu/16.04/packages-microsoft-prod.deb'
6. dpkg -i p

[2019-02-26 17:59] nicholashoule commented on #2342
This issue appears to be resolved.

[2019-02-26 17:59] #2342 closed

[2019-02-27 00:33] karelz commented on #2338
@shravan2x you need to collect dump and examine what has happened. That should be the same as for other runtimes / applications on Linux (inlc. C/C++ apps).
Some exception in .NET cannot be caught (e.g. AV, StackOverflow, etc.)

[2019-02-27 00:33] #2338 closed

[2019-02-27 01:10] karelz commented on #2328
@livarcocc @nguerrera can you please help route the question?

[2019-02-27 01:12] karelz commented on #2327
Did you try to repair VS? (to avoid corrupted install) ... Or reinstall of VS?
Does it happen only on one machine?
Does it happen for other project types (e.g. .NET Framework)

[2019-02-27 01:13] karelz commented on #2302
Which Preview version?

[2019-02-27 03:24] livarcocc commented on #2328
@vijayrkn @mlorbetske

[2019-02-27 03:51] karelz commented on #2334
Does the command above work? If it does, maybe we should update the doc @sbomer thoughts?

[2019-02-27 03:56] karelz commented on #2124
@taori what is the remaining problem here? Do you have isolated minimal repro we can look at?

[2019-02-27 03:58] karelz commented on #2330
@jaredpar should the C# feature be part of Preview 2?

[2019-02-27 04:01] karelz commented on #2332
I don't quite understand what is the problem - it seems that you cannot edit fields in package properties inside Visual Studio. Is that correct?
Does it happen on more than 1 machine?
Did you try latest VS build?

[2019-02-27 04:04] karelz commented on #2324
Are you able to reproduce same problem on more than one machine?
Can you please post clear simple repro steps? (minimal text please, just facts - long stories are hard to read and comprehend)

[2019-02-27 04:05] karelz commented on #2308
No response, closing

[2019-02-27 04:05] #2308 closed

[2019-02-27 04:07] karelz commented on #2227
Not actionable, closing. If you have minimal repro and evidence it fails on more than 1 machine, feel free to reopen.

[2019-02-27 04:07] #2227 closed

[2019-02-27 04:07] karelz commented on #2228
Not enough info, closing

[2019-02-27 04:07] #2228 closed

[2019-02-27 04:08] karelz commented on #2275
Not actionable, not enough info at this moment, closing.

[2019-02-27 04:08] #2275 closed

[2019-02-27 04:14] karelz commented on #2283
Are you saying that the code above fails on EVERY assembly? (you seem to be unsure if it has to be x64 or not)
Did you try it on built-in assemblies? (e.g. System.dll)
Did you try it on more than 1 machine?
Which .NET Core version did you try? (try latest too just in case)

[2019-02-27 04:14] karelz commented on #2284
Not actionable, closing.

[2019-02-27 04:14] #2284 closed

[2019-02-27 04:15] karelz commented on #2294
OK< how can I reproduce it locally?
Can you please try to create minimal repro?

[2019-02-27 04:16] karelz commented on #2213
@richlander ping

[2019-02-27 04:16] karelz commented on #2164
What's the next step here?
Can we close it?

[2019-02-27 04:18] karelz commented on #2226
@adamsitnik @brianrob @billwert can you please help here?

[2019-02-27 04:18] karelz commented on #2143
@bartonjs ping

[2019-02-27 04:19] karelz commented on #2291
@ericstj ping?

[2019-02-27 04:20] karelz commented on #2299
Not actionable, closing.

[2019-02-27 04:20] #2299 closed

[2019-02-27 04:59] karelz commented on #2314
Why is the {buildnumber} part breaking semver? It seems complaint to me according to: https://semver.org/#spec-item-9

That said, I don't think we claimed we follow semver, although it would be nice ...

[2019-02-27 04:59] karelz commented on #2325
Seems to be answered.

[2019-02-27 04:59] #2325 closed

[2019-02-27 05:02] bachowny commented on #2325
@karelz I was waiting to see if someone knew why on Linux PtrToStringAnsi doesn't correctly handle ANSI characters even when the character code is identical on Linux and Windows.

[2019-02-27 05:26] ahmedowsky commented on #2324
@karelz i know you are not reading, but @omajid does (thankfully). i'll provide more info about this issue soon but i already lost some serious time while trying to fix the problem so i need to keep working on what i was doing before that issue, for now. But i still am interested about the reason of that problem.

By then, i would appreciate if you would stay away from the issues i've opened if yo

[2019-02-27 05:32] ahmedowsky commented on #2332
@karelz i know you don't like reading, it's hard or whatever but, can you at least read the title?
Your question is really so irrelevant, so absurd.
Details (including examples) are below the title.
**Those properties, are making, my rpm builds, to fail, if i use my keybord, to write, those version numbers.**

[2019-02-27 05:41] karelz commented on #2332
@ahmedowsky no need to get angry here ... I am just trying to help you here. Personal attacks won't speed things up.

The fact is I never heard about rpm builds. The title may be self-explanatory for you, but sadly it is not clear to me. And while I read all your text, it was not clear to me either. Otherwise I would not ask the questions above.

For example, it is still not clear to me if you are

[2019-02-27 05:58] karelz commented on #2324
@ahmedowsky I understand you may be frustrated by me not understanding, my appologies if I somehow caused that.
I'd just ask for a bit of perspective: Imagine for a second being in my role - trying to help people move issues forward, route them to the right places, dealing often times with dozens random issues per day. Many of them need quite a lot of back-and-forth for routing and some are not cl

[2019-02-27 06:01] karelz commented on #2325
I assumed that was answered by @tarekgh's response. Wasn't it?

[2019-02-27 06:13] ahmedowsky commented on #2332
I'm sorry, i really am. I didn't mean to upset you. I was assuming that someone commenting under this issue would know about rpm builds.

I can edit package inputs over VS no problem there. I can build the project, no problem there. Published dll's are also has the right version information on them. All cool on windows / VS part.

Here's a step-by-step example

* open a dotnet core console app / w

[2019-02-27 06:27] karelz commented on #2332
Thanks for the steps! That will (hopefully) help me help you! ;)

Why did you say "usually"? Is it intermittent? (as in repeating builds sometime fail) Or is it just random if the problem will be hit or not and once it is, then it is persistent? How often does it happen? (in either case)
Is the error the one from title? "Unknown tag: x.x.x.x' (x are version numbers)" ... so in this case it would b

[2019-02-27 06:29] karelz commented on #2332
BTW: I updated your steps to add numbers and bad/good case titles for easier references during further discussion.

[2019-02-27 06:41] ahmedowsky commented on #2332
Random, if it's a fail, it always fails, doesn't matter how many times i repeat rpm build process after that

Quite often, i just prefer copy-paste-ing approach all the time

Yes, rpm build error will be "Unknown tag: 1.1.1.1" in this case

Watching your teammates faces right after explaining this situation is also funny

I'm not sure about that. All i do is reading the dll's version information.

[2019-02-27 06:51] ahmedowsky commented on #2324
@karelz sorry, no, i'm frustrated by the issue itself. You are right. Please accept my apologies.

I understand you guys want some clear instructions to reproduce this issue but it might not be possible. Project is complex, spec file (rpm) is complex, +confidentiality.

@omajid is waiting for more details from me but i don't have enough time right now. Problem is not resolved, not properly at leas

[2019-02-27 08:08] tmds commented on #2164
Locking files is indeed a mess on Linux.
The OS doesn't check the permissions on read/write, and everything is left over to the applications. So non .NET Core applications won't respect the FileShare unless they are using the same APIs.
Maybe we can add an envvar that disables the locking.

@Nanook Maybe your NAS logs give some hint about why the locking is taking so long.

[2019-02-27 11:13] beppe9000 commented on #2334
So it seems... My problem is that I found no way to specify the latest version like this `0.1.*`.

[code]
Also, while we are at it... Is there a way to get a single statically linked exe file with this, or some other way?

[2019-02-27 13:31] aboldarev opened #2343 "Exception System.ObjectDisposedException: Safe handle has been closed after unsuccessfully NTAccount.Translate"
# Exception System.ObjectDisposedException: Safe handle has been closed  after unsuccessfully unsuccessfully NTAccount.Translate

An unsuccessfully  call  (new NTAccount("DOMAIN_NOT_EXISTS\Role").Translate(typeof(SecurityIdentifier));
 cause next calls to throw exception System.ObjectDisposedException: Safe handle has been closed
# General

 I'm  using a System.Security.Principal.Windows (4.5.1),

[2019-02-27 15:26] bcbeatty opened #2344 "Are BinaryFormatter Serialization dotnet core and framework compatible?"
# Are BinaryFormatter Serialization dotnet core and framework compatible?
I have 2 programs, one written in .Net Framework 4.7.x and another app that is dot net core 2.x

Program 1, written in .Net Framework. takes a Dataset and using BinaryFormatter writes it to a database field as a byte[].

Program 2, written in dot net core, then takes that record and attempts to Deserialize the field using Bi

[2019-02-27 16:13] martinstenhoff opened #2345 "Incorrect field names in releases.json for version 1.1.12"
I'm unsure whether the [releases.json](https://raw.githubusercontent.com/dotnet/core/master/release-notes/releases.json) file is supposed to adhere to a specific json schema, but at least it appears there are tools out there expecting the field names to be consistent across versions.

For example the Azure Pipeline Task _.Net Core SDK Installer_ fails to install version 1.1.12 of the DotNet Core S

[2019-02-27 16:41] omajid commented on #2332
An error of the type `Unknown tag: Foo` generally means `rpmbuild` thinks the file contains this line:

`Foo:  Bar `

As a test, I did:

    %define assemblyFileVersion %(echo -e '1.\\n2.3\n4')
    Version: %{assemblyFileVersion}

And the rpmbuild error is:

    error: line 6: Unknown tag: 2.3n4

So, I can't help but wonder what `assemblyFileVersion` actually evaluates to. Can you print it out in

[2019-02-27 17:21] WriterOfCode commented on #1675
When I build on my local computer I have no problem. However when I use the azure pipe line the following error occurs.

Package Microsoft.Extensions.Primitives 2.1.6 is not compatible with netcoreapp2.1
Any suggestions?

[2019-02-27 17:23] jaredpar commented on #2330
@AlexAtNet

Yes but that's referring to the runtime support for the feature. That must necessarily come first. The C# compiler support is still in progress. The target for completion is .NET Core Preview 4 at the moment. But based on scheduling it may be in Preview 5.

[2019-02-27 17:23] #2330 closed

[2019-02-27 18:16] sbomer commented on #2334
Thanks for the suggestion @beppe9000! It's definitely an alternative for folks who don't want to edit the NuGet.config. I'd prefer to keep recommending adding the source to NuGet.config for now, since passing it on the command line will cause future project restores to fail if the package is somehow removed from the cache (if I'm not mistaken). These instructions will need to be updated soon anywa

[2019-02-27 18:16] #2334 closed

[2019-02-27 18:29] beppe9000 commented on #2334
Ok.

Thanks, they look promising. It's nice to see dotnet starting to follow the path of 2009-era RealBasic/Xojo

[2019-02-27 19:18] joshfree commented on #2344
This issue was moved to dotnet/corefx#35629

[2019-02-27 19:18] #2344 closed

[2019-02-27 19:19] joshfree commented on #2343
This issue was moved to dotnet/corefx#35630

[2019-02-27 19:20] #2343 closed

[2019-02-27 19:49] brianrob commented on #2226
Yes, I'm doing a bit of profiling and will reply back with what I find.

[2019-02-27 21:08] AlexAtNet commented on #2330
@jaredpar Thank you for clarification.

[2019-02-27 21:34] #2345 closed

[2019-02-27 22:51] brianrob commented on #2226
I did a quick comparison between Windows and Linux and I found that Linux was much more CPU bound and progressed much slower.  I took a couple of 5 second traces to see what the differences were, and on Linux, the big difference is that there is pretty heavy contention on a spin lock in the allocator:

![image](https://user-images.githubusercontent.com/6210322/53525941-cd478580-3a97-11e9-9a88-c551

[2019-02-28 00:20] mlorbetske commented on #2328
This issue was moved to dotnet/templating#1773

[2019-02-28 00:20] #2328 closed

[2019-02-28 02:41] blurhkh commented on #2253
I experimenced  this problem since yesterday,everything using socket throw "System.Net.Sockets.SocketException: Address already in use". Like Mysql connection, redis, httpclient.

[2019-02-28 08:53] Kirides commented on #2253
@antoinne85 this is a common mistake, people do regarding `HttpClient` and one of the reasons why `IHttpClientFactory` was added in DotNet Core 2.1. (another being singleton HttpClients not respecting DNS changes by default)

See https://docs.microsoft.com/en-us/dotnet/standard/microservices-architecture/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests

[2019-02-28 13:33] mgolois commented on #2327
@karelz, I'm going to try VS repair.
Yes it happens on one machine, the same project works well on other computer.
I can run other .NET Framework projects with no problem, the issue is just with .net core and .net standard projects.
I'll try VS repair later tonight after work and see.

[2019-02-28 16:05] riezebosch commented on #2314
My point is that translating the version from the `releases.json` into something that is unique and [supported by chocolatey](https://github.com/chocolatey/choco/issues/1610) is or might be a problem. It seems to work now for creating packages but I'm not sure yet if it can be published in that format.

[code]

[2019-02-28 16:43] SoukainaHyn opened #2347 "docker-file"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-microservice-tutorial/docker-file
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-02-28 16:52] omajid commented on #2143
AFAIK, no current stable/public release of .NET Core supports OpenSSL 1.1. So when `openssl version -a` says `OpenSSL 1.1.1a` or when `ldd` says `libssl.so.1.1`, that's not very helpful for fixing this issue.

We want to know what `rpm -q openssl` and `rpm -q openssl-libs`. If that says "1.1", we need to remove those packages and install (actually downgrade to) OpenSSL 1.0 on CentOS. An `strace do

[2019-02-28 18:27] leecow commented on #2347
@SoukainaHyn - could you elaborate on what you're seeing?

[2019-02-28 18:32] leecow commented on #2314
I would think that's OK.

We're in the process of finishing up Preview 3 (hopefully out Tuesday) and the SDK version will look like `3.0.100-preview3-010402` (not finale, just an example from the current build).

[2019-02-28 19:49] divinebovine opened #2348 "VsDbg SourceLink Null Reference Exception"
# Issue Title

When trying to use sourcelink with vscode, a null reference exception is thrown by vsdbg

Sometimes clearing all nuget locals and restarting vscode will prevent this error, but not always.

# General

OS: Windows 10.0.17134 Build 17134
dotnet version: 2.2.104

[2019-02-28 21:07] jostroff opened #2349 "Problem installing for Mac OS 10.10.5"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: macos

It just stated that "there was a problem" downloading version dotnet-sdk-2.2.104 for the Mac OS 10.10.5. It didn't say what the problem was, however.

[2019-02-28 23:50] bachowny commented on #2325
@tarekgh recommended a different encoding that could be used in his workaround. My question was why the ANSI encoding is not correct on Linux and why simply marshalling the character values (which is what one would expect ANSI marshalling to do) gives a different answer to the built in function.

Both platforms agree on the character code for the character in question and it is the same value as f

[2019-03-01 00:47] tarekgh commented on #2325
@bachowny PtrToStringAnsi is simply calling the String constructor with the SByte* you are passing. The string constructor is simply converting the bytes to Unicode values using the system code page. on Linux we always use Utf8 as system code page for all bytes conversions. So, this is by design on Linux.

[2019-03-01 02:52] CalvinFengDatacom opened #2350 "DevOps build Error CS1703: Multiple assemblies with equivalent identity have been imported: System.Runtime.Serialization.Primitives.dll"
# Error CS1703: Multiple assemblies with equivalent identity have been imported: System.Runtime.Serialization.Primitives.dll

I have a C# .Net project was running on .Net framework 4.6, but as required, we upgraded to 4.6.1. Then I can build successfully locally, but once I deploy my changes to VSTS, I got this issue from the build of DevOps. I'm using the latest version of VS, 2017 15.9.7

# Here

[2019-03-01 02:58] #2350 closed

[2019-03-01 02:59] CalvinFengDatacom commented on #2350
Closed as it related to .Net Framework not .Net core

[2019-03-01 11:55] sebcam commented on #2329
You have to install the nuget package `Microsoft.AspNetCore.Mvc.NewtonsoftJson`

In your startup.cs file, add the JsonFormatter like this :
` services.AddMvc().AddNewtonsoftJson().SetCompatibilityVersion(CompatibilityVersion.Version_3_0);`

[2019-03-01 12:25] riezebosch commented on #2314
Okay, it looks like it's possible: https://chocolatey.org/packages/dotnetcore-runtime.install/3.0.0-preview-27324-5 😄

[2019-03-01 13:00] #2314 closed

[2019-03-01 13:47] tamasVajda opened #2352 "Problem with Assembly.LoadFile and Activator.CreateInstance in .net core 2.2"
Problem with Assembly.LoadFile and Activator.CreateInstance

.net core version: 2.2
dll to load: .net framework 2.0

We tried to implement a kind of dependency injection in .net standard what could use out client from .net framework side and our server from .net core 2.0.

The location of class described in json configuration file, like following:

[code]

our Factory class implemented in .net sta

[2019-03-01 13:50] vsspt commented on #2329
Thank you very much, its working now.

[2019-03-01 13:50] #2329 closed

[2019-03-01 15:21] prasadmamidi7 opened #2353 "Need help how to consume websocket based java service in dotnet core"
# Issue Title

Need to consume web socket based java  web service in dot net core

# General
I am looking for documentation or sample which will explain how to consume a web socket based java web service  in dotnet core **without full .Net Framework dependency**

[2019-03-01 16:09] VipSaran opened #2354 "dotnet-sdk-2.2.104-win-gs-x64 --> Error 0x80070570: Failed to extract all files from container, erf: 1:4:0"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

The log shold hold sufficient info for debugging:
[Microsoft_.NET_Core_SDK_2.2.104_(x64)_20190301170243.log](https://github.com/dotnet/core/files/2920179/Microsoft_.NET_Core_SDK_2.2.104_.x64._20190301170243.log)

[2019-03-01 18:00] brunocapu opened #2355 "C14N transform not omitting xml default namespace"
# Bad C14N

The [XmlDsigC14NTransform](https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.xml.xmldsigc14ntransform.-ctor?f1url=https%3A%2F%2Fmsdn.microsoft.com%2Fquery%2Fdev15.query%3FappId%3DDev15IDEF1%26l%3DEN-US%26k%3Dk(System.Security.Cryptography.Xml.XmlDsigC14NTransform.%2523ctor)%3Bk(DevLang-csharp)%26rd%3Dtrue&view=netcore-2.2) (and other Transforms) class does not om

[2019-03-01 19:08] jherby2k opened #2356 "RibbonButton throws exception (WPF)"
# Issue Title

When adding a Ribbon control to a new .NET Core 3.0 (preview 2) WPF app. It works fine until I add a RibbonButton - those seem to throw an exception.

[code]

I'm running Visual Studio 2019 preview 4.0 on a Windows 10 1809 machine.

# General

[code]

[2019-03-01 19:09] jherby2k commented on #2356
Reopening in the correct place.

[2019-03-01 19:09] #2356 closed

[2019-03-01 19:48] brunocapu commented on #2355
**Moved with new information to: https://github.com/dotnet/corefx/issues/35702**

[2019-03-01 19:48] #2355 closed

[2019-03-02 00:21] taori commented on #2124
@karelz
now i'm getting this when attempting to execute dotnet run:

![grafik](https://user-images.githubusercontent.com/5545184/53673690-67225480-3c89-11e9-9fc5-6906c691ab4d.png)

[2019-03-02 00:51] irreverencieux opened #2357 "Error while installing .net core 2.2"
# Issue Title

I was following the procedure but ran into an error...

sudo apt-get install aspnetcore-runtime-2.2
Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages could not be installed. This may mean that you have
requested an impossible situation or if you are using the unstable
distribution that some required packages have not yet been crea

[2019-03-02 03:48] karelz commented on #2356
Duplicate of https://github.com/dotnet/wpf/issues/397

[2019-03-02 15:30] karelz commented on #2353
.NET Core and .NET Framework have the same APIs.
It does not matter if the WebSocket server is implemented in Java or .NET, or something else - the client code won't be affected by that.
Doing quick internet search pops a few examples: https://www.bing.com/search?q=.NET+WebSocket+example

BTW: In general, docs repo https://github.com/dotnet/docs is better place for filing documentation issues.

I

[2019-03-02 15:30] #2353 closed

[2019-03-02 15:44] karelz commented on #2149
@dagood any plans with this issue? There is no update for 1 week.
Is there some real problem hiding here? (disclaimer: I didn't read it all)
Should we move it to other repo?

[2019-03-02 15:49] karelz commented on #2327
If it is problem only on one machine, I would recommend to fix it there - by repairing / reinstalling.
It is likely some setup / environmental issue. Tracking down such problem is super-costly for everyone involved.
If you find the root-cause, or if you have evidence of repro on other machines, then we can follow up. Thanks and good luck!

[2019-03-02 15:49] #2327 closed

[2019-03-02 15:52] karelz commented on #2348
This may be better suited for https://github.com/dotnet/sourcelink repo ... can you please check to see if it was reported there and if not, ask there?
Thanks!

[2019-03-02 15:52] #2348 closed

[2019-03-02 15:53] karelz commented on #2349
Is it persistent problem?
Did you check your network connection?
Are you able to try it on more than 1 machine to see if it is something environmental?

[2019-03-02 15:55] karelz commented on #2352
Can you post a minimal .NET Core repro? Something we can copy-paste into VS, run and see the problem?
cc @steveharter @joshfree

[2019-03-02 15:56] karelz commented on #2354
@VipSaran I don't understand what is your question or ask here. Can you please clarify?

[2019-03-02 15:58] karelz commented on #2357
Which distro did you try?
Does it happen on clean VM as well?

@dagood can you please help here?

[2019-03-02 16:47] leecow commented on #2357
@irreverencieux - could you run `sudo apt-get install dotnet-runtime-deps-2.2`? This should tell us exactly which system dependency is unable to be installed.

[2019-03-02 17:08] leecow commented on #2354
Very odd - looks like the installer is blowing up because it can't find any of the internal msi's

[code]
I successfully installed using the link from the hello world page so the installer is working as expected. @VipSaran - could you try downloading and installing again? Here's the download [link](https://dotnet.microsoft.com/download/thank-you/dotnet-sdk-2.2.104-windows-x64-installer).

[2019-03-02 17:09] leecow commented on #2347
Feel free to re-open with additional details,.

[2019-03-02 17:09] #2347 closed

[2019-03-02 17:10] Emmagrabergs opened #2361 "can not register"
Problem encountered on https://dotnet.microsoft.com/learn/machinelearning-ai/ml-dotnet-get-started-tutorial/install
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant..

[2019-03-02 17:14] VipSaran commented on #2354
Yes. Even though the installer was completely downloaded it could not reference some of required files. Hence I opened the issue as something that should be of interest.

Re-download solved the problem.

Thanks.

[2019-03-02 17:27] leecow commented on #2361
Moving to the ML repo. @Emmagrabergs - chances are they will need additional details on what you were doing and the errors you see.

[2019-03-02 17:27] #2361 closed

[2019-03-02 17:27] leecow commented on #2361
Issue moved to [dotnet/machinelearning #2823](https://github.com/dotnet/machinelearning/issues/2823) via [**ZenHub**](https://www.zenhub.com/)

[2019-03-02 23:28] dagood opened #2362 "Help correct Microsoft Linux package feed after in-place distro upgrade"
@dagood, @rowanmiller  -  folks who upgrade their distro in-place (eg 16.04 -> 18.04) after first setting up .NET Core will hit the problem and not necessarily return to https://dotnet.microsoft.com/download/linux-package-manager/. Likely something that we can add to be of help though.

_Originally posted by @leecow in https://github.com/dotnet/core/issues/2149#issuecomment-461133693_

[2019-03-02 23:45] dagood commented on #2149
The original problem seems to be fixed, workarounds are published on the download page, and we don't seem to have enough info to investigate any of the new problems being reported. I'm closing this issue.

@leecow I split out https://github.com/dotnet/core/issues/2362 to track/discuss how we can help correct the Microsoft package feed after an in-place distro upgrade.

---

If anyone runs into thi

[2019-03-02 23:45] #2149 closed

[2019-03-02 23:56] yilmazdurmaz opened #2363 "wpf compiles but wont run"
# Issue Title

wpf compiles but wont run

# General

actually, the problem is solvable IF you are connected to the internet, after spending some time, searching and trying things.

solution: install "Microsoft_Visual_C_Redistributable_2015"

# Remaining problem

I work mostly offline with local packages with other core versions, required nugets downloaded on a separate machine. only console by the

[2019-03-03 00:22] epetutsc opened #2364 "CS0656: Missing compiler required member (.Net Core 3.0 Preview 2, Visual Studio 2019 Preview)"
# error CS0656: Missing compiler required member (.Net Core 3.0 Preview 2, Visual Studio 2019 Preview)

C# 8 features not working : Index, Range

IDE: Visual Studio Enterprise 2019  Preview, Version 16.0.0 Preview 4.0
OS: Windows 10 (x64)
.Net Core 3.0: SDK 3.0.100-preview-010184

## csproj file
[code]
## Class1.cs
[code]

## Command Line
`dotnet build` works; build in Visual Studio is not working

[2019-03-03 02:57] karelz commented on #2363
Duplicate of https://github.com/dotnet/wpf/issues/37

[2019-03-03 02:57] #2363 closed

[2019-03-03 03:44] simonbzhou opened #2365 "This site can’t be reached"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/run
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-03-03 05:56] karelz commented on #2365
Do you mean localhost? In that case it is likely firewall problem on your side.
Try another machine/VM, or check your network settings.

[2019-03-03 06:01] karelz commented on #2364
@jaredpar can you please help route it to the right repo?

[2019-03-03 06:02] karelz commented on #2362
@dagood who should do what and where? (sorry I don't quite get it from the description)

[2019-03-03 06:11] huanlin commented on #2149
@dagood , I've tried everything I found and no luck.
Not sure if the following information helpful for investigation:

[code]

[2019-03-03 10:04] asemalpha opened #2366 "No executable found matching command "dotent-newconsole""
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relev
![cmd error](https://user-images.githubusercontent.com/48081535/53693677-20754d00-3da4-11e9-84e2-8089c923300b.png)
ant.

[2019-03-03 16:24] UweKeim opened #2368 "Please stop asking whether I want to cancel when clicking "Close""
Back in the 1990s and 2000s, when I click cancel in a setup executable, it asked me whether I want to cancel.

Luckily, this annoying behavior is mostly gone.

Unfortunately, not in the Microsoft .NET Core 2.2.2 Windows Server Hosting setup.

### Steps

1. [Download the setup from here](https://dotnet.microsoft.com/download/thank-you/dotnet-runtime-2.2.2-windows-hosting-bundle-installer).

1. Star

[2019-03-03 16:29] KexyBiscuit commented on #2366
The command is `dotnet new console -o myApp`, there's a whitespace between `new` and `console`.

[2019-03-03 20:31] bachowny commented on #2325
@tarekgh OK thanks, I understand now why there's a discrepancy. I can only assume there's some reason why this must be done and why PtrToStringAnsi is _not actually ANSI_ on Linux. We can now close this issue.

[2019-03-03 20:32] s2p16 opened #2369 "Kali GNU/Linux Rolling 2019.1 failed to install dotnet core sdk 2.2"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/debian9/sdk-current
Operating System: Linux kali 4.19.0-kali3-amd64 #1 SMP Debian 4.19.20-1kali1 (2019-02-14) x86_64 GNU/Linux

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

After following instruc

[2019-03-03 21:57] mukhtar0 opened #2370 "Https://www.facebook.com/hodan.mahmud.50"
# Issue Title

Be as descriptive as you can with your title.

# General

Provide details on the problem you are experiencing including the .NET Core version, operating system version and anything else that is relevant.

Please provide a code sample for your issue if it is relevant, either inline, link to a gist (or similar) or add it as a zipped attachment.

For some issues, you will get a quicker

[2019-03-04 06:43] karelz commented on #2370
No bug description. Probably created by mistake @mukhtar0?

[2019-03-04 06:43] #2370 closed

[2019-03-04 06:44] karelz commented on #2366
Thanks @KexyBiscuit for catching that.
Closing as resolved.

[2019-03-04 06:44] #2366 closed

[2019-03-04 06:46] karelz commented on #2369
@dagood @omajid @leecow is it a known problem?

[2019-03-04 06:49] karelz commented on #2149
@huanlin please file a new issue with all info he asked for - see above. Thanks!

[2019-03-04 07:43] lindexi commented on #1322
I start up my application that throw BadImageFormatException

System.BadImageFormatException: 未能加载文件或程序集“System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089”或它的某一个依赖项。该模块应包含一个程序集清单。
文件名:“System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089”

[2019-03-04 07:48] epetutsc commented on #2364
Duplicate of [roslyn/#33748](https://github.com/dotnet/roslyn/issues/33748)

[2019-03-04 07:56] #2364 closed

[2019-03-04 08:34] robinleeping opened #2371 "Installation issue"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-03-04 09:36] tamasVajda commented on #2352
For code axample see the following repository:
https://github.com/tamasVajda/ClassLoadTest.git

[2019-03-04 16:05] dagood commented on #2362
I'm not sure if we know the exact action yet--here's the things I see to investigate:

@leecow, maybe you have ideas related to this:

@mbearup also mentioned that we might [be able to programmatically determine the feed](https://github.com/dotnet/core/issues/2149#issuecomment-460322735), which I think would address the issue if doable. (Look further into this?)

Maybe there's a better place to tr

[2019-03-04 16:48] dagood commented on #2369
I think we'd need to specifically support Kali to make this work by default. The version of libicu available on certain distros varies a lot, and at least in the `kalilinux/kali-linux-docker` image, Kali has `libicu60` and `libicu63` available in its default repos.

See [dotnet-runtime-deps-debian_config_debian.9-x64.json](https://github.com/dotnet/core-setup/blob/75f03d69c9c1ef5d5fb6122770a375c4f

[2019-03-04 17:14] karelz commented on #2369
Should we move it to core-setup repo?
cc @krwq @tarekgh as FYI

[2019-03-04 17:17] karelz commented on #2371
Not enough info to make it actionable. Please provide detailed steps, OS info and symptoms. Try to donwload again or try another machine/VM.

[2019-03-04 17:17] #2371 closed

[2019-03-04 17:22] #2369 closed

[2019-03-04 17:22] dagood commented on #2369
Issue moved to [dotnet/core-setup #5320](https://github.com/dotnet/core-setup/issues/5320) via [**ZenHub**](https://www.zenhub.com/)

[2019-03-04 18:10] leecow commented on #2362
@dagood - Part of the mitigation I'm thinking of would be a note on the [linux installer pages](https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/sdk-current) calling out the issue and adding a section to [linux-setup](https://github.com/dotnet/core/blob/master/Documentation/linux-setup.md) detailing the various ways to fix up prod.list.

Detecting the correct repo and potent

[2019-03-04 20:18] Eilon commented on #2333
This issue was moved to aspnet/AspNetCore#8179

[2019-03-04 20:18] #2333 closed

[2019-03-04 20:19] Eilon commented on #2331
This issue was moved to aspnet/AspNetCore#8180

[2019-03-04 20:19] #2331 closed

[2019-03-04 22:00] rowanmiller commented on #2362
On the [Linux install pages](https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/sdk-current) I guess we should call out the issue on the non-18.04 versions in the hopes that some folks remember it when they hit the issue and come back.

What operation would someone be doing when they encounter the issue after upgrading? Running a command with `dotnet`?

[2019-03-04 22:53] dagood commented on #2362
Impact, I think:
* Unable to install a new .NET Core package after a distro upgrade.
* Unable to get patch updates for installed .NET Core packages after a distro upgrade.

How I understand it, this is the easiest way to hit `Unable to locate package dotnet-sdk-2.2` via distro upgrade:

1. On Ubuntu 16.04, install .NET Core 2.1.
2. Upgrade distro in place to Ubuntu 18.04.
3. Try to install .NET Co

[2019-03-04 23:57] joshfree commented on #2352
This issue was moved to dotnet/corefx#35771

[2019-03-04 23:57] #2352 closed

[2019-03-05 00:37] splatteredbits opened #2373 "Add target framework moniker to releases.json file"
# Issue Title

Add target framework moniker to releases.json file.

# General

We have a provisioning process that creates new .NET Core apps for our developers. By default, we target the latest .NET Core version at the LTS support level. As part of this process, we create a .csproj file and need to set its `TargetFramework` property. It would be nice if the releases.json file had a property for t

[2019-03-05 08:51] NextTurn opened #2374 "Dead repo - dotnet/dotnet.github.io"
No one is maintaining dotnet/dotnet.github.io?

[2019-03-05 09:11] shamexln opened #2375 "Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-microservice-tutorial/docker-image"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-microservice-tutorial/docker-image
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

I got error as below:
[code]

And I check services on windows services. There is no Docker for Windows

[2019-03-05 11:29] mkSanalogic commented on #2283
*sigh*

For your entertainment:
I was using the latest 2.1 dotnet CORE version.
Trying it on System assemblies yields the same result, it seems to be impossible to use this functionality (Assembly.Load from a byte[]) on ANY x64 dll in dotnet CORE.
x32 dlls seem to work just fine, though (!)
Updating to dotnet CORE 2.2 changed the error message text, but it's still the same error underlying error c

[2019-03-05 13:14] mgolois commented on #2327
@karelz - I tried VS repair that did not solve it. However, I realize that my .net core/.netstandard projects build fine in visual studio only if I run it as admin. This is happening only on my computer, not sure what's happening... anyway, I can run the projects now

[2019-03-05 15:54] Kirbybu1 opened #2376 "dotnet tutorial problem"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows 7

Error message: "The program can't start becauseapi-ms-win-crt-runtime-|1-1-1.dll is missing from your computer.  Try reinstalling the program to fix this problem"

[2019-03-05 16:04] karelz commented on #2376
@dagood @leecow is it a known issue?

[2019-03-05 16:10] karelz commented on #2327
@mgolois interesting. If you find out more, let us know. Otherwise I suggest to ignore it as one-machine environmental problem (aka costly to track down :().

[2019-03-05 16:12] karelz commented on #2283
Are you running 32-bit or 64-bit app?
If 64-bit app fails to load x64 System assembly, that would be a concern.

[2019-03-05 16:16] karelz commented on #2375
@MichaelSimons @leecow @richlander can you please help route the problem?

[2019-03-05 16:18] karelz commented on #2374
Looks like that @richlander @martinwoodward @terrajobst @leecow can you please help there?

[2019-03-05 16:32] nil4 opened #2378 "Installer and release notes for SDK 2.2.200"
Steps to reproduce:

1. Install Visual Studio 2019 RC.
2. Run `dotnet --info`:

[code]
3. Look for SDK 2.2.**200** at [.NET Core 2.2 downloads](https://dotnet.microsoft.com/download/dotnet-core/2.2), and discover that SDK 2.2.**104** is the latest published version.

Where are the release notes and downloads for SDK 2.2.200?

[2019-03-05 16:38] nil4 commented on #2378
Similarly, VS 2019 RC installs SDK 2.1.**600**, while version 2.1.**504** is the latest documented at [.NET Core 2.1 downloads](https://dotnet.microsoft.com/download/dotnet-core/2.1).

[2019-03-05 16:39] dagood commented on #2376
This is interesting. For `api-ms-win-crt-runtime-l1-1-0.dll`, this issue is known to be missing prereqs: https://github.com/dotnet/core-setup/issues/4388. I can't find any record of `api-ms-win-crt-runtime-|1-1-1.dll`.

@Kirbybu1 can you please:
* Check if you made a typo, if you typed this up manually? The `|` rather than `l` makes me think that's possible.
* Make sure you have the updates listed

[2019-03-05 17:11] leecow commented on #2375
@Eilon @danroth27

[2019-03-05 17:13] leecow commented on #2374
Looks like it's now an entry point to docs.microsoft.com?

[2019-03-05 17:34] Kirbybu1 commented on #2376
![dotneterror](https://user-images.githubusercontent.com/39200622/53824872-f4dc9900-3f42-11e9-8bdb-28a9dcb5b013.jpg)

Checking the updates now.

[2019-03-05 17:57] Eilon commented on #2375
@glennc - do you know about this article?

[2019-03-05 18:13] dagood commented on #2376
Thanks! That is the 1-1-0 version with the known fix. I'm going to go ahead and close this issue because the cause is well-known, but please do let me know if following those instructions doesn't work.

To pass along a tip, pressing Control-C while a dialog box is focused should copy all the text inside it. Then you can paste it somewhere, rather than typing it up manually. It's really too bad Win

[2019-03-05 18:13] #2376 closed

[2019-03-05 18:20] grenadin commented on #2365
Maybe occur from "https://localhost:5000" that types in tutorial  try to change it to http://localhost:5000/ instead. Cut s from https:

[2019-03-05 18:20] glennc commented on #2375
@shamexln this look like something wrong with Docker on the machine. Does `docker run hello-world` work on the commandline?

[2019-03-05 22:30] leecow commented on #2378
Apologies for being slow getting the repo release pages up. We'll do a full release of 2.1.6xx and 2.2.2xx when VS 2019 is GA. In the meantime, you can install using the dotnet-install script.Links for usage can be seen on the release pages:

https://github.com/dotnet/cli/releases/tag/v2.2.200
https://github.com/dotnet/cli/releases/tag/v2.1.600

[2019-03-05 22:30] #2378 closed

[2019-03-05 22:37] DanJ210 commented on #2331
@Eilon why was this closed?

[2019-03-05 22:45] Eilon commented on #2331
I moved it to the ASP.NET org: https://github.com/aspnet/AspNetCore/issues/8180

[2019-03-05 23:02] rowanmiller commented on #2365
There was a mistake in the instructions on this one (as @grenadin pointed out). Issue is now fixed.

[2019-03-05 23:02] #2365 closed

[2019-03-06 01:08] shamexln commented on #2375
@glennc I tried it There is also error message as below
C:\Users\tester\myMicroservice>docker run hello-world
##############################
docker: error during connect: Post http://%2F%2F.%2Fpipe%2Fdocker_engine/v1.39/containers/create: open //./pipe/docker_engine: The system cannot find the file specified. In the default daemon configuration on Windows, the docker client must be run elevated to

[2019-03-06 01:08] cjvalenzuela opened #2381 "Cannot install .NET Core 2.2 on Ubuntu 14.04"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu14-04/sdk-current
Operating System: Linux Ubuntu 14.04

I'm getting an exception (**dpkg-deb: error: archive '/var/cache/apt/archives/aspnetcore-runtime-2.2_2.2.2-1_amd64.deb' has premature member 'control.tar.xz' before 'control.tar.gz', giving up**) when running "**apt-get install dotnet-sdk-2.2**"

c.valenz

[2019-03-06 01:28] omajid commented on #2381
I think this is a bug in Ubuntu 14.04. Have you tried upgrading `dpkg` itself?

- https://bugs.launchpad.net/ubuntu/+source/dpkg/+bug/1730627
- https://askubuntu.com/questions/1065231/dpkg-deb-error-archive-has-premature-member-control-tar-xz-before-contr/1065237#1065237 suggests upgrading
- https://github.com/travis-ci/travis-ci/issues/9361#issuecomment-408431262

[2019-03-06 04:17] cjvalenzuela commented on #2381
Thanks @omajid! Indeed, `dpkg` needed to be upgraded

`sudo apt-get update && sudo apt-get upgrade`  did the trick.

[2019-03-06 04:17] #2381 closed

[2019-03-06 04:39] cjvalenzuela commented on #2357
I had that same issue: https://github.com/dotnet/core/issues/2381

`sudo apt-get update && sudo apt-get upgrade` the re-run, that did the trick. From https://askubuntu.com/questions/1065231/dpkg-deb-error-archive-has-premature-member-control-tar-xz-before-contr/1065237#1065237

[2019-03-06 06:49] mkSanalogic commented on #2283
I said to in my previous comment, I tried both variants.
dotnet Framework loads x64 DLLs no matter whether you target x86 or x64.
dotnet CORE will load x32 DLLs no matter what, x64 DLLs fail with this error in both scenarios.

[2019-03-06 07:58] EvilBeaver commented on #2253
Same problem with NEST elasticsearch client on Linux under Core 2.2. Backporting fix to 2.2 would be nice

[2019-03-06 09:53] shamexln commented on #2375
yes.I ran it on windows commandline

?取 Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Glenn Condron <notifications@github.com>
Sent: Wednesday, March 6, 2019 2:21:24 AM
To: dotnet/core
Cc: shamexln; Mention
Subject: Re: [dotnet/core] Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-microservice-tutorial/docker-image (#2375)

@shamexln<https:

[2019-03-06 09:54] xinyuefu opened #2382 "Could not load file or assembly 'Leadtools.Kernel.Codecs.DLL' or one of its dependencies. The specified module could not be found."
hi everyone,
  today I met a trouble,when I run the source,page hints leadtools porblem.
The program has 50 warnings,no error,and there is leadtools.kernel.codecs.dll in bin folder.
here are the warnings:
重大度レベル	コード	説明	プロジェクト	ファイル	行	抑制状態
警告	BC42304	XML ドキュメント解析エラー: XML 終了要素の前には、一致する開始要素が必要です。 XML コメントは無視されます。	bizdock	C:\Bizdockfile\bizdock\Common\clsLog\cDefLog.vb	991	アクティブ
警告	BC42304	XML ドキュメント解析

[2019-03-06 09:55] xinyuefu commented on #2382
the page hints:

FileNotFoundException: Could not load file or assembly 'Leadtools.Kernel.Codecs.DLL' or one of its dependencies. The specified module could not be found.]
--

[2019-03-06 11:11] simonziegler opened #2383 "Question: using CSharpCodeProvider from dot net standard"
Hi,

I'm testing code generation and testing from a .netstandard library, specifically the App project from a Razor Compnents solution. This is running VS 2019 Preview 4.

I get an exception of "Operation is not supported on this platform." when I call an instance of CSharpCodeProvider.CompileAssemblyFromSource.

Does this mean that System.CodeDom is not supported for .netstandard, or am I perhaps

[2019-03-06 12:48] deastr opened #2384 "Referencing a legacy library which uses System.Web"
I have .NET Core 1.1 app which targets net452 that I'm trying to upgrade to .NET Core 2.1 but I'm having a problem with a library which uses System.Web. Here's the structure:

[code]

Here's my problem:

[code]

`System.Web.Configuration.VirtualDirectoryMapping` is used by a code in `LegacyLibraryA`.

Since I can't seem to be able to add System.Web.dll directly as a reference to CoreApp, any ideas

[2019-03-06 14:11] DanJ210 commented on #2331
Oh excuse me, thank you.

[2019-03-06 16:33] gethang opened #2385 "An error occurred while writing the output file:"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant

CSC : error CS8104: An error occurred while writing the output file: System.IO.IOException: Incorrect function [C:\Use

[2019-03-06 17:29] sabhi27 opened #2386 "program.cs"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/edit
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

where is program.cs file is stored ?

[2019-03-06 17:31] #2386 closed

[2019-03-06 17:48] ptdel commented on #930
[code]

[2019-03-06 17:51] glennc commented on #2375
@shamexln Right, that means there is something wrong with the Docker for Windows installation on your machine, Docker itself is not working regardless of what you are trying to do. Which is a bit outside the scope of what we can help you with in the .NET repo. All I can suggest is the Docker troubleshooting guide (https://docs.docker.com/docker-for-windows/troubleshoot/), Stackoverflow, and other

[2019-03-06 17:51] #2375 closed

[2019-03-06 19:04] vivmishra opened #2389 ".NET Core 3.0.0 Preview 3"
.NET Core 3.0.0 Preview 3

[Release Notes](https://github.com/dotnet/core/blob/master/release-notes/3.0/preview/3.0.0-preview3.md)
[Download](https://github.com/dotnet/core/blob/master/release-notes/3.0/preview/3.0.0-preview3-download.md)
[Blog post](https://devblogs.microsoft.com/dotnet/announcing-net-core-3-preview-3/)

Please report any issues you find with 3.0.0 Preview 3, either responding to

[2019-03-06 20:53] BeigeBadger commented on #2304
I am trying to use Azure DevOp's .NET Core SDK Installer step to install version 2.2.2 but I am running into an error with the download links/blobs not existing anymore.

Output:

`
##[section]Starting: Use .NET Core sdk 2.2.2
...
Task         : .NET Core SDK Installer
Description  : Acquires a specific version of the .NET Core SDK from internet or the local cache and adds it to the PATH. Use this

[2019-03-06 22:25] Eyad-Mohammed-Osama opened #2392 "Cannot install .Net core on Kali Linux 2018.2 because of G-Lib critical error"
Good day for everyone.
I Was following the instructions on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/sdk-current to do manual installation on a machine running **Kali Linux 2018.2** (I was following instructions for Ubuntu 18.04)

On that link , there was a set of commands to run in terminal:

[code]
However , after running `sudo apt-get update` i get the following er

[2019-03-06 22:27] shamexln commented on #2375
got with thanks.

获取 Outlook for iOS<https://aka.ms/o0ukef>
________________________________
发件人: Glenn Condron <notifications@github.com>
发送时间: Thursday, March 7, 2019 1:52:44 AM
收件人: dotnet/core
抄送: shamexln; Mention
主题: Re: [dotnet/core] Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-microservice-tutorial/docker-image (#2375)

@shamexln<https://github.com/shamexln> Right,

[2019-03-06 23:36] leecow commented on #2392
Kali is not an officially supported distro and this is likely a subtle system dependency difference.

Couple of things you can try that may work.

1) install using the tar.gz instead of apt-get,
2) install using dotnet-install.sh,
3) install using our Snap.

Option 3 would be my first recommendation to try. Each of these methods are detailed in our [Linux Setup](https://github.com/dotnet/core/blob

[2019-03-07 08:44] jitendradayma opened #2394 "Dll missing"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

window 7 , message it shows is "The program can't start because api-ms-win-crt-runtime-l1-1-0.dll is missing from

[2019-03-07 15:35] dangerousHobo opened #2395 "Failure to download product key"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: Linux Ubuntu 16.04

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Following the steps in the link above for Ubuntu 16.04, I'm unable to download/register the product ke

[2019-03-07 17:27] tigersoldier opened #2396 "Unable to install SDK 2.2 on Debian testing"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/debian9/sdk-2.2.104
Operating System: Linux Debian 9

This is caused by `dotnet-runtime-deps-2.2` depending on `libssl1.0.2` and `libicu57`.  Only `libssl1.1` and `libicu63` are available.

[2019-03-07 20:13] Red6Porkins opened #2399 "AspNetCoreModuleV2 IIS In Process hosting adding server header"
# Issue Title
AspNetCoreModuleV2 In Process hosting adding server header

# General
After upgrading a few projects to net core 2.2, I've noticed that the server header is being added in on all responses. We are hosting on IIS 10 using the new InProcess method. The exact header being added is "server: Microsoft-IIS/10.0" . I have verified that this is not being added by the HttpResponse headers opt

[2019-03-07 20:57] leecow commented on #2396
Confirmed that libssl1.0.2 and libicu57 are available in default Debian 9 archives and confirmed by searching https://packages.debian.org/stretch/. Do an `apt search libicu57` to see if your archive config can find the needed versions. If not, you'll need to figure out what archive to register. As an example, here's what I have on the container I just tested:

[code]

[2019-03-07 20:59] #2396 closed

[2019-03-07 21:03] leecow commented on #2395
Confirmed that `https://packages.microsoft.com/config/ubuntu/16.04/packages-microsoft-prod.deb` exists and downloads as expected. Give it another go? Alternatively, just click on the following to download: https://packages.microsoft.com/config/ubuntu/16.04/packages-microsoft-prod.deb

[2019-03-07 21:03] #2395 closed

[2019-03-08 06:23] mariappandct opened #2404 "Problem during dotnet install under Ubuntu 18"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: Linux Ubuntu 18.04

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-03-08 07:56] mariappandct opened #2405 "Error while run"
ASP.NET Core
------------
Successfully installed the ASP.NET Core HTTPS Development Certificate.
To trust the certificate run 'dotnet dev-certs https --trust' (Windows and macOS only). For establishing trust on other platforms refer to the platform specific documentation.
For more information on configuring HTTPS see https://go.microsoft.com/fwlink/?linkid=848054.
/usr/share/dotnet/sdk/2.2.104/NuG

[2019-03-08 13:50] huanlin commented on #2149
Got it. However, I found installing ASP.NET Core 3 on my Ubuntu 18.04 is quite easy. So I decide to play with ASP.NET Core 3, rather than struggle with .NET Core 2.x.
Thanks

[2019-03-08 14:30] kashfshah opened #2406 "Can't install on Debian Buster"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/debian9/sdk-current
Operating System: Linux Debian sid (Debian unstable - Debian 10, Buster)
[code]
**Description:**

Apparently the installer depends on an old version of libicu.  Currently depends on libicu57 and doesn't accept libicu63 as satisfying the dependency.  Workaround may be similar to https://github.com

[2019-03-08 15:44] dagood commented on #2149
Interesting, looking at the gist you linked, @huanlin, you're on Ubuntu 18.04 ARM64. That would explain why the package manager isn't working for you, it only applies to x64. I didn't even think to ask about arch before, sorry about that.

Check out the table on https://dotnet.microsoft.com/download?initial-os=linux: package manager instructions are only available for `x64`, but you can see there

[2019-03-08 15:55] muntyan opened #2407 "Bug with FieldOffset and marshaling by value"
Attached is a repro for where a struct with Explicit layout and FieldOffsets modeling a C union gets marshaled as garbage to C through p/invoke. I haven't tried to figure out what exactly breaks it, but the sample should be simple enough.

C code is like this:

struct Repro
{
    int discriminator;
    union
    {
        int integer;
        void* pointer;
        char* string;
    };
};

void co

[2019-03-08 16:58] Eilon commented on #2399
@shirhatti / @Tratcher - is this an ANCM thing or an IIS thing?

[2019-03-08 18:07] AndyFVesper opened #2411 ".NET Core 3.0.0 Preview 3 problem with socket 5000; hello world tutorial"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/run
Operating System: windows

dotnet new webApp -o helloWorldWeb --no-https
cd helloWorldWeb
dotnet run
info: Microsoft.AspNetCore.DataProtection.KeyManagement.XmlKeyManager[0]
      User profile is available. Using 'C:\Users\andy\AppData\Local\ASP.NET\DataProtection-Keys' as key repository and Windows DPAPI

[2019-03-08 18:39] leecow commented on #2404
Closing due to insufficient information. Need information on what you're doing and what you see. Feel free to re-open after the issue has been updated.

[2019-03-08 18:39] #2404 closed

[2019-03-08 18:52] leecow commented on #2406
Debian 10 is not yet supported by .NET Core. When we do add support, it will likely be to 2.1 (the LTS channel) and 3.0.

[2019-03-08 18:52] #2406 closed

[2019-03-08 20:10] Eyad-Mohammed-Osama commented on #2392
@leecow Thanks for your reply
I've downloaded the .NET SDK , decompressed the `.tar.gz` archive , `export`ed dotnet executable into `PATH` , this seems to be working fine for me.

Now all i have to do is to find a way to make the change on `PATH` variable permanent .

[2019-03-08 20:28] leecow commented on #2392
I should have included that option and is basically the manual version of using dotnet-isntall.sh.

Regarding the path, you can either add an EXPORT to your .bashrc to append PATH or you can create a symlink in /usr/bin. Either route should work fine.

[2019-03-08 20:29] #2392 closed

[2019-03-09 01:08] shirhatti commented on #2399
This is an IIS thing.

You can remove by adding this to your `web.config`. This works on versions of Windows Server, version 1709 and newer.

[code]

[2019-03-09 01:08] #2399 closed

[2019-03-09 03:57] karelz commented on #2411
Try to disable Norton, firewalls and other things. It should work.

[2019-03-09 04:27] NextTurn commented on #2374
It's a website itself instead of a redirect link.

[2019-03-09 07:12] nkev opened #2412 "Modify step does not work on Core 3.0.100-preview3-010431"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/modify
Operating System: macos

When I replace the contents of the /Pages/Index.html and save it. Then when I refresh the page in the browser, it does not update. I have to restart the webapp to see the change. This is on Mac VS-Code with `Core 3.0.100-preview3-010431 `

[2019-03-09 07:13] nkev commented on #2411
On Core 3, I think the port is 5001, `https://localhost:5001/`

[2019-03-09 08:24] maajidqureshi opened #2413 "dotnet"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-03-09 10:09] huanlin commented on #2149
@dagood , Thank you for your reply.
My bad. I don't even aware that I'm using a ARM64 machine, which is a NAS device running docker.
And I don't know how you can tell it's ARM64 from my message.
Anyway, according to your suggestion, I found something useful from this document: [Installing .NET Core 3.0 on Linux ARM64](https://gist.github.com/richlander/467813274cea8abc624553ee72b28213).
Eventually

[2019-03-09 10:57] loviji opened #2414 "Getting NU1101 error When installing dotnetsay global tool"
# ERROR NU1101 when installing global tools

 Using command

`dotnet tool install --global dotnetsay --version 2.1.4 --configfile NuGet.Config`

get an error in NU1101.

**My NugetConfig File Configuration**
[code]
# dotnetcore envirement
PS C:\> dotnet --info
Пакет SDK для .NET Core (отражающий любой global.json):
 Version:   2.2.104
 Commit:    73f036d4ac

Среда выполнения:
 OS Name:     Windows

[2019-03-09 18:15] karelz commented on #2414
@KathleenDollard is it something you can help with please?

[2019-03-09 18:19] karelz commented on #2149
You can use .NET Core 3.0 previews to install ARM64, that should get you going.

[2019-03-09 19:11] huanlin commented on #2149
Yes, true. I've already done that. I'd say it's quite easy and happy.
Thanks :)

[2019-03-09 20:18] SuperTal3 opened #2416 "The following packages have unmet dependencies error"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: Linux Debian 9 (Parrot Security OS v 4.5.1)
Every time I try to install dotnet-sdk-2.2 using sudo apt-get install dotnet-sdk-2.2, or sudo apt install dotnet-sdk-2.2, I get this error.
`The following packages have unmet dependencies:
 dotnet-sdk-2.2 : Depends: aspnetcore-runtime-2.2 (>= 2

[2019-03-09 20:21] SuperTal3 commented on #2357
Possibly its the libicu57 package that won't install.  Thats what happens to me.  I have the same error on this thread.
[code]

[2019-03-09 20:26] SuperTal3 commented on #2357
You could try using snap to install the beta.

[2019-03-10 07:03] dineshpandiyan opened #2417 "C:\Program Files\dotnet\sdk\2.2.104\NuGet.targets(499,5): error : Unable to obtain lock file access on 'C:\Windows\TEMP\NuGetScratch\lock'"
C:\Program Files\dotnet\sdk\2.2.104\NuGet.targets(499,5): error : Unable to obtain lock file access on 'C:\Windows\TEMP\NuGetScratch\lock'
for operations on 'C:\Users\Home\AppData\Roaming\NuGet\NuGet.Config'. This may mean that a different user or administator is holding this lock and that this process does not have permission to access it. If no other process is currently performing an operation

[2019-03-10 07:04] dineshpandiyan commented on #2417
Kindly help me on this pls...

[2019-03-10 08:27] karelz commented on #2413
There is no problem description, symptoms, or anything actionable ... if you have a problem, please describe it and we will try to help.

[2019-03-10 08:27] #2413 closed

[2019-03-10 16:00] KathleenDollard commented on #2414
@loviji Do you need to specify the nuget.config? You are specifying the default, which you normally need to do when there is a nuget.config for your project that blocks the standard feed. If you can try this from a directory that does not contain a nuget.config, that may unblock you while we look at this.

@wli3 Any ideas? Is there an issue with NuGet.config (the file looks fine, it matches a samp

[2019-03-10 16:42] dreamerNcoder opened #2418 "core 2.2 SDK installation fails on ubuntu 18.04.2"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/sdk-current
Operating System: Linux Ubuntu 18.04.2

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Some packages could not be installed. This may mean that you have
requested an impossib

[2019-03-10 20:12] mrange opened #2419 "Struct type overhead higher than expected for small numerical vectors"
# Struct type overhead higher than expected for small numerical vectors

## General

I am running dotnet 3.0 preview on Windows 10:

[code]

My CPU is: `Intel(R) Core(TM) i5-3570K CPU @ 3.40GHz`

(so it doesn't have FMA support but do support AVX).

I have been messing around with the new intrinsics support i in dotnet core 3.0 quite a lot and had some success with it. I want to write Raymarcher u

[2019-03-10 20:21] benaadams commented on #2419
/cc @tannergooding

[2019-03-10 23:32] PhantomXL opened #2420 "dotnet run error in powershell, after .NET SDK installation."
OS Version : Windows Home 10.0.17763
Issue : Installed .NET SDK 2.2 and followed the tutorial contained in https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create . I encountered the following error, after executing the `dotnet run` command. **Couldn't find a project to run. Ensure a project exists in C:\WINDOWS\system32, or pass the path to the project using --project.**

[2019-03-11 02:13] wli3 commented on #2414
activepackagesource is [deprecated](https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file#activepackagesource)

You need to change it to the following

[code]

[2019-03-11 05:40] Eilon commented on #2411
@halter73 / @shirhatti - any idea on this?

[2019-03-11 06:17] shirhatti commented on #2411
I've seen this error manifest before when there's a conflicting port reservation via Http.Sys.
@AndyFVesper Perhaps you have a conflicting IIS binding?

[2019-03-11 12:17] BasPaap commented on #2000
Why, exactly, does this work? From the redirect, it looks like it's telling the runtime to use System.Runtime 4.0.0.0 instead of 4.2.1.0, but why can it find 4.0.0.0 and not 4.2.1.0?

[2019-03-11 12:49] AndyFVesper commented on #2411
Disconnected from outside world and disabled Norton, but it still fails the same way.

[2019-03-11 12:55] AndyFVesper commented on #2411
3.0.100-preview3-010431
I have been following the ASP.NET tutorial and haven't changed any code.

[2019-03-11 13:12] AndyFVesper commented on #2411
@shirhatti How should I check for a conflict? Would http.sys be in its own process? I don't see any process with that name.

[2019-03-11 14:45] Elrashid commented on #2418
https://github.com/dotnet/core-setup/issues/4247

sudo apt-get autoremove dotnet-host

sudo rm -rf /usr/share/dotnet/

wget http://mirrors.kernel.org/ubuntu/pool/main/i/icu/libicu60_60.2-6ubuntu1_amd64.deb

sudo dpkg -i libicu60_60.2-6ubuntu1_amd64.deb

sudo apt-get install dotnet-sdk-2.2

[2019-03-11 14:46] Elrashid commented on #2416
https://github.com/dotnet/core-setup/issues/4247

sudo apt-get autoremove dotnet-host

sudo rm -rf /usr/share/dotnet/

wget http://mirrors.kernel.org/ubuntu/pool/main/i/icu/libicu60_60.2-6ubuntu1_amd64.deb

sudo dpkg -i libicu60_60.2-6ubuntu1_amd64.deb

sudo apt-get install dotnet-sdk-2.2

[2019-03-11 15:40] Palpatineli commented on #2396
I'm having the same issue. I think what tigersoldier was saying was that debian testing (not stretch) has libraries with versions too high for the installation. The solution, beside compiling the packages ourselves, is to see if the dependencies requirement could be relaxed to allow these new libs, or provide a .run file to install own dependencies.

[2019-03-11 16:45] rexyque opened #2421 "Foreach enumeration assigning value to two elements at the same time"
# Foreach enumeration assigning value to two elements at the same time

I'm using dotnet core 2.1.6 on Windows 10 and I just spent an hour figuring out this weird bug within a foreach loop. My project uses Entity Framework Core to connect to a database, and I was working on a method to convert a complex word document into the database entries needed to store it properly. Part of this task is creat

[2019-03-11 16:53] mhectorgato opened #2422 "RaspberryPi 3"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/debian9/runtime-2.2.2
Operating System: Linux Debian 9

Am trying to run my 2.2 dll on my pi. When I run it I get

---

When I followed instructions in the above link, I get:

I've also tried to use: aspnetcore-runtime-2.2 with the same result
---
Linux raspberrypi 4.14.69-v7+ #1141 SMP Mon Sep 10 15:26:29 BST 2018

[2019-03-11 17:34] tannergooding commented on #2419
CC. @CarolEidt, @AndyAyersMS

Is this already covered under the "First Class Struct" work? This basically looks like a case where the JIT isn't realizing that the `V3` struct is just a convenience wrapper and that the fields could be treated as locals for the the lifetime of the function.

[2019-03-11 19:35] halter73 commented on #2411
The following might show the conflict:

[code]

[2019-03-11 19:51] SuperTal3 commented on #2416
It still fails...  It shows this error now.
`Some packages could not be installed. This may mean that you have
requested an impossible situation or if you are using the unstable
distribution that some required packages have not yet been created
or been moved out of Incoming.
The following information may help to resolve the situation:

The following packages have unmet dependencies:
 dotnet-sdk-2.

[2019-03-11 20:14] SuperTal3 commented on #2416
I've found the best way is to install via snap.  It doesn't throw errors and ends up working fine that way.

[2019-03-11 21:01] ptdel opened #2423 "dotnet amazon linux builds broken"
[code]
for whatever reason this chose today to start hanging forever during deployments.  I don't see an actual %clean step in the rpm spec.

_Originally posted by @ptdel in https://github.com/dotnet/core/issues/930#issuecomment-470206637_

[2019-03-11 21:06] AndyFVesper commented on #2411
@halter73
Nothing with "5000" or "http.sys" or "kestrel"

URL Reservations:
-----------------

    Reserved URL            : http://*:5357/
        User: BUILTIN\Users
            Listen: Yes
            Delegate: No
        User: NT AUTHORITY\LOCAL SERVICE
            Listen: Yes
            Delegate: No
            SDDL: D:(A;;GX;;;BU)(A;;GX;;;LS)

    Reserved URL            : http://+:80/Tempo

[2019-03-12 00:55] SuperTal3 commented on #2357
It's libicu57 that won't install.

[2019-03-12 03:53] AndyAyersMS commented on #2419
Hmm, I would have expected all the `V3` locals to be promoted and that should have eliminated all the copying. Let me take a closer look.

[2019-03-12 05:02] AndyAyersMS commented on #2419
We do fully promote, but certain promoted temps are blocked from enregistration, and this causes the odd looking store / reload blocks:
[code]
Not sure yet why these temps are blocked and not others.

[2019-03-12 05:36] AndyAyersMS commented on #2419
Looks like all the blocked cases are from the various `new`s that get inlined. Perhaps the local address visitor should more aggressively simplify....
[code]
would like to see that last tree just collapse to an assignment of locals.

cc @mikedn who I think has looked at something like this.

[2019-03-12 05:39] Uchiha-Peng commented on #2202
I encountered the same problem, but it was solved. Because your computer needs to connect to Microsoft to register a signature when installing the .NET Core environment, you must ensure that your computer is connected to the external network, otherwise this error will occur.

[2019-03-12 07:01] sishen2 opened #2425 ".Net Core 3 preview2 dot work"
use  .Net Core 3 preview2  publish
![image](https://user-images.githubusercontent.com/16297734/54180768-62ef0600-44d7-11e9-9655-e9dd9bc7aa24.png)

[2019-03-12 07:53] mikedn commented on #2419
This looks like a `fgMorphCopyBlock` issue, it managed to produce a non-block copy but not before marking the variable as DNER. I'll take a look later today.

Yes, it can also be done in `LocalAddressVistor` but so far I've been hesitant about adding this kind of stuff to it, pending further investigation and decision regarding moving struct promotion out of it.

And then there's probably the main

[2019-03-12 09:40] mattmartin1021 opened #2426 "making the hello world app ran into issues"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-03-12 09:41] #2426 closed

[2019-03-12 10:50] picrap opened #2427 "Support for Synology"
Hi,

are there plans to support Synology NAS?
Currently, a Mono packet is available, this make me think that .NET Core could be ported there.
Another positive point is that DSM (Synology OS) is Linux-based, so porting to this platform could probably be done with big problems.

Thanks.

[2019-03-12 11:32] ehhnwidex opened #2428 "Dotnet tool restore search wrong paths on ubuntu"
# Dotnet tool restore search windows pathes on Ubuntu

# General

When trying to restore a local dotnet tool from \.config\dotnet-tools.json on an ubuntu debian 16.04, by running the command:

dotnet.exe tool restore

the dotnet tool will search for a dotnet-tools.json in the following directories, instead of relative pathes from your current position to the root folder.

Cannot find any manifests

[2019-03-12 15:59] Laoguoguo opened #2429 "输入dotnet命令之后就没有任何反应，按CTRL+C也没有反应"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/install
Operating System: Linux Ubuntu 18.04

输入dotnet命令之后就没有任何反应，按CTRL+C也没有反应

[2019-03-12 16:52] HamdaouiJ opened #2430 "Dot NET EXE"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Error Message
The program cant start because api-ms-win-crt-runtime-l1-1-0.dll is missing from your computer. Try reinstalling the program to fix this problem.

[2019-03-12 17:12] AndyAyersMS commented on #2419
Seems roughly like we just need to call `fgMorphBlockOperand` earlier in `fgMorphCopyBlock`, then we'll fall into the reg struct exemption from DNER.

[2019-03-12 17:12] vivmishra opened #2432 ".NET Core March Update - 1.0.15, 1.1.12, 2.1.9 and 2.2.3"
Included fixes address security issues detailed in the release notes.

## .NET Core

* **.NET Core 1.0.15 and .NET Core SDK 1.1.13**
  [Release Notes](https://github.com/dotnet/core/blob/master/release-notes/1.0/1.0.15/1.0.15.md)
  [Download 1.0](https://dotnet.microsoft.com/download/dotnet-core/1.0)

* **.NET Core 1.1.12 and .NET Core SDK 1.1.13**
  [Release Notes](https://github.com/dotnet/core/

[2019-03-12 17:16] mikedn commented on #2419
Not sure yet, it looks more like an `fgMorphOneAsgBlockOp` issue to me. It doesn't quite recognize SIMD assignments.

[2019-03-12 17:30] omajid commented on #2432
There's a typo in title, I think. Should be March, right?

[2019-03-12 17:37] mikedn commented on #2419
And it turns out that it's not enough to do this in `LocalAddressVisitor` (which is trivial). Even if it generates
[code]
`fgMorphCopyBlock` still makes V74 DNER. So we need to fix it anyway. Oh well.

[2019-03-12 17:38] onovotny commented on #2432
The announce post lists 2.2.1, not 2.2.3 as the version.

[2019-03-12 17:44] ctyar commented on #2432
The SDK versions are also wrong.

[2019-03-12 17:51] mrange commented on #2419
I am not sure from the conversation if this kind of optimization is something you wish the jitter to handle but is there some way to change my code to get more optimized code without needing to manually inline every SIMD call?

[2019-03-12 18:03] vivmishra commented on #2432
Fixed

[2019-03-12 18:08] mikedn commented on #2419
@mrange I'm not aware of any other way that doesn't require manual inlining. The JIT should definitely learn to handle structs better, it has a rather long history of failing in this area and it doesn't have to be this way.

@AndyAyersMS I have a tentative 3 line fix in https://github.com/mikedn/coreclr/commit/2f79dfdd7af2858d52cbdd9d73d54771af5b5a05. But I need to read that code more carefully to

[2019-03-12 19:35] AndyAyersMS commented on #2419
There is a fair amount of overhead in passing and returning structs. You can minimize some of this in sources by using `in` and `ref`, but you may not like how your code looks that way either.

If you don't want to inline the basic operators then you might find it works better to use arrays (or perhaps spans) as your top level aggregates, though you will lose the convenience of being able to refer

[2019-03-12 19:41] mrange commented on #2419
`in` did seem to help. I was considering to try ref returns but then I think I have to switch from `+` to `+=` in semantics?

Part of the reason to use `struct` is to eliminate the need for heap objects as `+` etc will create new instances. If I use `array` wouldn't that imply more heap objects? Ofc if I need to go for mutating operators like `+=` maybe the heap overhead can be mitigated..

[2019-03-12 19:44] mikedn commented on #2419
Be careful with `+= ` operators. The C# compiler tends to generate code that the JIT can't handle well and leaves variables address exposed. Sometimes that's a lot worse than a few extra copies.

[2019-03-12 19:50] Nothing-Works opened #2435 "Dotnet download website info"
https://dotnet.microsoft.com/download/dotnet-core/2.2 this download page shows that the latest SDK is Included in Visual Studio 15.9. I just updated my VS, I only got 2.1.505 not 2.2.x. Is this my end problem?

[2019-03-12 19:52] Nothing-Works commented on #2432
https://dotnet.microsoft.com/download/dotnet-core/2.2 this download page shows that the latest SDK is Included in Visual Studio 15.9. I just updated my VS, I only got 2.1.505 not 2.2.x. Is this my end problem?

[2019-03-12 20:32] DanJ210 commented on #1829
Just to update, the Web Service Reference actually does work and it does generate .Net Core compatible code. .Net Core uses the .Net standard anyway so I'm guessing it shouldn't matter too much, it's all just C# code. The Web Service Reference does seem to wrap everything into async calls which I don't know if that can be turned off or not and I don't know if that's a .Net Core only thing. However

[2019-03-12 20:34] mrange commented on #2419
Tried a variant with methods like this:

[code]

The outcome was worse than the OP version. The disassembly indicated that operations were never register to register but rather register to memory. So that doesn't seem like a fruitful alternative.

(Perhaps obvious, but it wasn't to me)

[2019-03-12 20:55] leecow commented on #2435
Sorry for the confusion on this. 2.2 is not included "in-box" with 15.9. When you install it separately, it will show up in the Target Framework drop down of the Project Options dialog.

cc @vivmishra

[2019-03-12 20:56] leecow commented on #2430
Need a bit more information to know how to help. What version of Windows? What steps did you perform leading up to the error message?

[2019-03-12 20:58] leecow commented on #2432
@Nothing-Works - answered the question in https://github.com/dotnet/core/issues/2435. 2.2 is not included in 15.9 but if you update, it can be targeted.

[2019-03-12 20:58] #2435 closed

[2019-03-12 20:59] Nothing-Works commented on #2435
@leecow Ahhhh I see So I need to download the latest SDK separately, and then I can choose from VS when I File>new>new project ? is that right?

[2019-03-12 21:00] leecow commented on #2429
Not enough information to know what's being encountered.

[2019-03-12 21:00] #2429 closed

[2019-03-12 21:00] leecow commented on #2428
@livarcocc @KathleenDollard

[2019-03-12 21:04] leecow commented on #2423
Are you trying to install the update which released today? Are you using the rpms from our feed (packages.microsoft.com) or something else?

@dagood

[2019-03-12 21:13] leecow commented on #2423
Probably some environment differences so, grain of salt, I was able to install and run basic tests with the new 2.1 and 2.2 SDKs on a clean Amazon Linux Docker image.

[code]

[2019-03-12 21:14] femamipi opened #2437 ".NET SDK is not running in my Mac"
# Issue Title

.NET SDK is not running in my Mac

# General

I downloaded and installed the .NET SDK on my Mac. Once I've installed, I opened a new terminal and run the following command: ~$dotnet

I expected that the command runs, and printing out information about how to use dotnet. However, I got this: "command not found"

Could you please help me on this?
Thank you,

[2019-03-12 21:15] leecow commented on #2435
I believe it will default to targeting 2.2 after you install. The only time you would need to re-target is if you needed to build for something older.

[2019-03-12 21:17] dagood commented on #2423
@wfurt, it sounds like this is specific to your spec file in https://github.com/dotnet/core/issues/930#issuecomment-404296184?

[2019-03-12 21:27] wfurt commented on #2423
That spec file only creates fake dependencies so our package would install without much wrestling. From what distro did you get RPM @leecow ? I did quick check with Centos7 and it still asks for openssl-libs (missing on AWS)

[code]

note for @ptdel that the fake spec does not build anything. If it hangs you will need to debug it on your system.  Make sure you don't have other processes holding rp

[2019-03-12 21:32] leecow commented on #2423
https://packages.microsoft.com/rhel/7/prod/

[2019-03-12 21:50] wfurt commented on #2423
what do you get from: `rpm -qi openssl-libs`. Maybe there is standard provider now.
I don't have access to any AMI Linux to check.

[2019-03-12 21:55] chaim1221 opened #2438 "But it's not on the path!"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/debian9/runtime-2.1.1
Operating System: Linux Debian 9

I followed these instructions to add the runtime, but I end up with the problem that `dotnet` isn't on the PATH.

[2019-03-12 22:08] leecow commented on #2438
That's correct, .NET Core installs don't alter the path. We create a symlink which points to the dotnet host location. `ls -al /usr/bin/dotnet` should show you if this happened correctly.

Are you looking to build an application, then run it or do you already have an application? If the former, then you need to start with the SDK. `sudo apt-get install dotnet-sdk-2.2` will get you the latest chann

[2019-03-12 22:09] leecow commented on #2437
How did you install? Using the SDK installer from https://dotnet.microsoft.com/download is the preferred method.

[2019-03-12 22:17] femamipi commented on #2437
I have reinstalled it through the link you shared. I still get the same comment "command not found" for ~$dotnet!

[2019-03-12 23:22] 0xd4d commented on #2437
Try `dotnet` and not `~$dotnet`

[2019-03-13 00:49] ptdel commented on #2423
@wfurt doesn't appear to be any official packages via yum or rpm for openssl-libs still.  not able to see anything under /var/lib/rpm that would cause issues like .rpm.lock or .dbenv.lock. @leecow I've been grabbing it from https://go.microsoft.com/fwlink/?LinkID=835019 I'll try re-running bootstraps fetching dotnet sdk from the rpm and see if that helps.  This is for Jenkins workers I might just

[2019-03-13 01:13] chaim1221 commented on #2438
It just so happens that I had commented out the line
`    apt-get install -yq aspnetcore-runtime-2.1 && \`
to troubleshoot something, and my problem was due to not having the runtime installed at all.

PEBKAC

[2019-03-13 01:13] #2438 closed

[2019-03-13 01:58] femamipi commented on #2437
Yay 😀 It worked, thank you.

On Tue, Mar 12, 2019 at 6:23 PM 0xd4d <notifications@github.com> wrote:

--
--​
Fereshteh Emami
Assistant Professor of Analytical Chemistry
Department of Chemistry & Physics
Southeastern Louisiana University 10878
127W Pursley Hall
Hammond, LA 70402
Email: *f*ereshteh.emami@selu.edu
Phone: *985-549-2335*

[2019-03-13 03:00] wfurt commented on #2423
BTW you should be also able to use rpm -i --nodeps --force dotnet-runtime-deps*.rpm.
With that, rest should install as well.

[2019-03-13 03:20] KathleenDollard commented on #2428
@wli3

[2019-03-13 05:44] wli3 commented on #2428
Filed https://github.com/dotnet/corefx/issues/36003

And apparently you can run an exe in WSL (!!!)

[2019-03-13 06:42] ehhnwidex commented on #2428
@leecow Yes i have only tested on a windows subsystem, but other console applications using System.IO.Path to handle directories, does not seem to have the same problem

[2019-03-13 06:58] Dresel opened #2442 ""...\15.0\Microsoft.Common.props" was not found when using 3.0.100-preview3"
# Issue Title

"...\15.0\Microsoft.Common.props" was not found when using 3.0.100-preview3

# General

Using a custom MSBuild task fails with the message

On my local machine I could work around this issue by creating a symbolic link from Current -> 15.0 or changing the Import declaration of Sdk.props to Current.

If you need some [logs](https://dresel.visualstudio.com/Automaty/_build/results?buil

[2019-03-13 07:55] pavlexander opened #2443 "Wrong assembly is being referenced in solution"
# Wrong assembly is being referenced in solution

When trying to reference 1.0.4. version of an assembly - 1.0.1 version of file is being used.. Despite the fact, that project settings are pointing to the correct DLL. As the result - the solution is still compiled with 1.0.1 version.

# General
## Specs

OS:

* OS Name	Microsoft Windows 10 Enterprise
* Version 10.0.16299 Build 16299

VS:

* Micros

[2019-03-13 10:46] niconico49 opened #2444 "core 3 SDK 3.0.100-preview3-010431 JsRuntime.Current doesn't exist"
Before this update were possible to do something like:

[code]

saved in MyClass.cs file

and from the .cshtml file

[code]

all "static"!!!!
but now you have removed .Current from JSRuntime!!!!
why? is inside some other static class or where?

I know that is possible to use

[code]

but the class will became not static and I must create the constructor for every call
for me in that situation "sta

[2019-03-13 11:05] benaadams commented on #2444
Probably want to raise in https://github.com/aspnet/AspNetCore

Though announcement issue for it https://github.com/aspnet/Announcements/issues/347 and discussion on change https://github.com/aspnet/AspNetCore/issues/8117

[2019-03-13 13:24] smpeters opened #2445 "Tutorial examples fail due to invalid command line option"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-microservice-tutorial/create
Operating System: macos

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

I ran the command `dotnet new webapi -o myMicroservice --no-https` which failed.  Based on the errors displayed

[2019-03-13 15:55] dreamerNcoder commented on #2418
Perfect 👍 Can we update the same in [documentation ]( https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/sdk-current) it will help some facing this issue.

[2019-03-13 15:55] #2418 closed

[2019-03-13 16:58] leecow commented on #2428
Closing this issue in favor of dotnet/corefx#36003

[2019-03-13 16:58] #2428 closed

[2019-03-13 17:45] denniske commented on #2186
Same issue here. Deployed self contained application into google/cloud-sdk:slim.

[2019-03-13 18:56] andrewwebber commented on #2186
My workaround was to edit the generated runtimeconfig.json after folliowing this documentation
https://github.com/dotnet/core/blob/master/Documentation/build-and-install-rhel6-prerequisites.md

[code]

[2019-03-13 19:46] leecow commented on #2445
Did a quick successful test on my Mac using the 2.2.104 SDK so need to dig a little deeper to try and understand what you have going on.

- What version of macOS
- What version(s) of .NET Core on the machine (dotnet --info will provide all of this)?
- What is the exact error?

[2019-03-13 19:53] #2437 closed

[2019-03-13 19:54] leecow commented on #2442
@livarcocc

[2019-03-13 19:58] livarcocc commented on #2442
@Dresel can you tell us more about your setup? Do you happen to have MSBuildToolsVersion as an environment variable set to 15.0 for some reason? Or have it set as a property somewhere in your build?

cc @rainersigwald

[2019-03-13 20:14] rainersigwald commented on #2442
From the logs, it looks like the failure isn't coming from the custom task but from your tool that's running inside it (that uses the MSBuild API to load a project).

@Dresel Can you reproduce that failure in a smaller test case and file a bug at https://github.com/Microsoft/msbuild/issues/new, please? I think I'm beginning to understand the problem--I suspect a mismatch between the MSBuild assemb

[2019-03-13 20:38] Eilon commented on #2445
@ryanbrandenburg - any idea on this particular template option? Did anything change regarding it in some version?

[2019-03-13 20:43] Dresel commented on #2442
Yes I can do that.

[2019-03-13 20:51] itonlytakeswon opened #2446 "[FromRoute] not working with controller-level route parameters"
# [FromRoute] not working with controller-level route parameters

# General
Using the [Route] attribute at controller-level and method-level in Web API to concatenate the routes. There are 2 parameters in the route at the controller level, and 0-3 parameters in the route at the method level.

# Issue
When using [FromRoute] for parameters defined in the [Route] attribute at the controller level, th

[2019-03-13 21:35] AndyAyersMS commented on #2419
@mikedn we're ok with fixes going into 3.0 for the next few weeks, so put up a PR when you have something you feel good about.

[2019-03-13 21:52] n-alex-white commented on #2301
@jigarce I notice you closed this - did you find out what the problem was? I’m experiencing the same problem right now...

[2019-03-13 21:58] itonlytakeswon commented on #2446
Apparently I missed this statement in the documentation:

[2019-03-13 21:59] #2446 closed

[2019-03-13 22:18] ryanbrandenburg commented on #2445
No extra info here, so far as I know --no-https hasn't changed since March of last year. The info @leecow requested would be very helpful.

[2019-03-13 22:23] denniske commented on #2186
This solved my problem. Instead of modifying the generated runtimeconfig.json, I created a **runtimeconfig.template.json** in the project folder which is used automatically by `dotnet publish` to generate the runtimeconfig.json:
[code]

[2019-03-13 22:36] Dresel commented on #2442
You were right, this has nothing todo with the custom MSBuild task.

See the minimal [repro](https://github.com/Dresel/Repro-2442):

- ~~dotnet info is called via `ProcessStartInfo` to get the MSBuild location~~
- ~~MSBUILD_EXE_PATH is set to previous retrieved MSBuild location~~
- Using MSBuildLocator to register MSBuild
- ProjectCollection.LoadProject is called

[2019-03-14 00:47] ptdel commented on #2423
@wfurt would this be to just skip openssl-libs during the dotnet runtime install?  I gave it a go, but it appears the lack of openssl-libs is a show stopper:
[code]
I switched rpmbuild's flags from `--bb` to `--bi` thinking maybe I could skip the clean step, but its just stopping at the previous step of
[code]
looking again under the rpm directories I still don't see anything to indicate that yum

[2019-03-14 06:30] kaisernayan opened #2448 "COPY failed: stat /var/lib/docker/tmp/docker-builder492837088/myMicroservice.csproj: no such file or directory"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-microservice-tutorial/docker-image
Operating System: windows

Following the tutorial I am on step Create Docker image. I run the command "docker build -t mymicroservice ." from PowerShell. Then I got Copy Failed message that says "COPY failed: stat /var/lib/docker/tmp/docker-builder492837088/myMicroservice.csproj: no such file or

[2019-03-14 07:16] jigarce commented on #2301
Yes,

It was website publish issue.

Select Deployment Mode : Self-Contained

![image](https://user-images.githubusercontent.com/8125778/54338175-1f230a80-4657-11e9-9381-0f5ecef8c34c.png)

[2019-03-14 07:25] pavlexander opened #2449 "Assembly built with "Portable" debugging information - contains source information"
# Assembly built with "Portable" debugging information - contains source information

## Description

When referencing an assembly that was build with "Portable" debugging information - it is possible to step into the source code, while in debug mode. According to documentation - "Portable" debugging information ensures that a "pdb" file is created. It says **nothing** about the fact that the DLL

[2019-03-14 07:44] FreeXiaoSuYu opened #2450 "linux 下载问题"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/centos/runtime-current
Operating System: Linux CentOS / Oracle

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-03-14 07:58] Dresel commented on #2442
Updating `Microsoft.Build` and `Microsoft.Build.Utilities.Core` to `16.0.452` from the `https://dotnet.myget.org/F/msbuild/api/v3/index.json` feed seems to solve this problem.

Thanks for your time and help.

[2019-03-14 07:58] #2442 closed

[2019-03-14 08:42] PeterPann23 opened #2451 "boxing in struct HashCode"
# Issue Title
The implementation in public struct System.HashCode perhaps should be less boxing

# General
The code does not follow the general guidlines in regards to boxing. Perhaps one could reconsider refactoring the internals of the code to get a better heep vs stack execution.

[2019-03-14 10:39] kishorkabadi opened #2452 "Date Conversion format mismatch"
I have a .Net 4.5 website on IIS 6 running on Windows Server 2012 R2.
 When converting a date in  format MM/dd/YYYY ,c# converted into MM-dd-YYYY format
with en-IN culture.

code is:

CultureInfo culture = new CultureInfo("en-IN");

DateTime dt = Convert.ToDateTime("02-01-2019", culture);

string result dt.ToString("dd/MMM/yyyy");

result is 02-Jan-2019

Expected result is 02/Jan/2019

when i tryi

[2019-03-14 10:54] Gopigovin opened #2453 "Hi Guys,"
# Issue Title

Be as descriptive as you can with your title.

# General

Provide details on the problem you are experiencing including the .NET Core version, operating system version and anything else that is relevant.

Please provide a code sample for your issue if it is relevant, either inline, link to a gist (or similar) or add it as a zipped attachment.

For some issues, you will get a quicker

[2019-03-14 10:54] Gopigovin opened #2454 "Hi Guys,"
# Issue Title

Be as descriptive as you can with your title.

# General

Provide details on the problem you are experiencing including the .NET Core version, operating system version and anything else that is relevant.

Please provide a code sample for your issue if it is relevant, either inline, link to a gist (or similar) or add it as a zipped attachment.

For some issues, you will get a quicker

[2019-03-14 10:54] Gopigovin opened #2455 "Hi Guys,"
# Issue Title

Be as descriptive as you can with your title.

# General

Provide details on the problem you are experiencing including the .NET Core version, operating system version and anything else that is relevant.

Please provide a code sample for your issue if it is relevant, either inline, link to a gist (or similar) or add it as a zipped attachment.

For some issues, you will get a quicker

[2019-03-14 10:54] Gopigovin opened #2456 "Http response custom header not working properly asp.net core 2.2 web api response."
Hi Guys,

Http response custom header not working properly asp.net core 2.2 web api response.

We used the html upload box in our project. While upload fails, we will pass the custom message through httprequest to client side. Our server side section is in .net core project (2.1). So we have used the below code to send custom message

Response.Headers.Add("status", "File processed correctly");

It

[2019-03-14 10:56] khellang commented on #2451
This would probably be better suited for https://github.com/dotnet/corefx?

[2019-03-14 11:01] Gopigovin commented on #2240
Hi Guys,

Http response custom header not working properly asp.net core 2.2 web api response.

We used the html upload box in our project. While upload fails, we will pass the custom message through httprequest to client side. Our server side section is in .net core project (2.1). So we have used the below code to send custom message

Response.HttpContext.Features.Get<IHttpResponseFeature>().Reaso

[2019-03-14 12:05] AhmetAymed opened #2457 "Package not found on set up .net Core"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/debian9/runtime-current
Operating System: Linux Debian 9

I did sudo apt-get update after set up Os.

Os name : Raspbian
Os Language : Turkish
I did the insructures but ı have
E: aspnetcore-runtime-2.2 paketi bulunamadı. (package not found)
exception when i type, `$sudo apt-get install aspnetcore-runtime-2.2`

Any h

[2019-03-14 15:53] farlock85 opened #2458 "Dependency injection limitations?"
Our new application suddenly started throwing StackOverflow exceptions, which were impossible to pinpoint because of the missing stack trace. After spending some time commenting out code I found that there is an issue with dependency injection, specifically when you do a lot of it.

One service had about 500 generic classes injected (think IQueryContext<T> concept), which in turn had 5 other servi

[2019-03-14 16:57] karelz commented on #2454
Duplicate of #2456

[2019-03-14 16:57] #2454 closed

[2019-03-14 16:57] karelz commented on #2453
Duplicate of #2456

[2019-03-14 16:57] #2453 closed

[2019-03-14 17:50] karelz commented on #2451
@PeterPann23 if you have suggestion what to change, please create PR in CoreFX, thanks!

[2019-03-14 17:50] #2451 closed

[2019-03-14 17:55] karelz commented on #2419
@AndyAyersMS should we close the discussion here and let new PRs be created in CoreCLR, or is it worth moving this issue to CoreCLR repo?

[2019-03-14 19:55] pbsamsung opened #2459 "unable to instal sdk"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: Linux Ubuntu 18.04

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-03-14 20:27] mikedn commented on #2419
@CarolEidt has a pending PR in the same area, not sure if that fixes this issue or not.

IMO this should be moved to coreclr, it's a typical JIT issue.

[2019-03-14 20:29] lab7734 opened #2460 "Build error GenerateDepFiles .NET 3.0.100-preview3-010431 [OSX]"
# Build error GenerateDepFiles .NET 3.0.100-preview3-010431 [OSX]

IDE:
Visual Studio for Mac 2019 (Preview 8.0 build 2624)

PKGS:
com.microsoft.dotnet.hostfxr.3.0.0-preview3-27503-5.component.osx.x64
com.microsoft.dotnet.sharedframework.Microsoft.NETCore.App.3.0.0-preview3-27503-5.component.osx.x64

Project:
netstandard 2.0 library

After install preview3, I'm unable to build any of my netstandar

[2019-03-14 21:13] smpeters commented on #2445
[code]

[2019-03-14 21:14] smpeters commented on #2445
[code]

[2019-03-15 03:23] aaronmbos opened #2461 "Build Error VS2019 for Mac Preview 3 'The "ResolvePackageAssets" task failed unexpectedly.'"
# Issue Build Error VS2019 for Mac Preview 3 'The "ResolvePackageAssets" task failed unexpectedly.'

# General
.NET Core SDK Version: 3.0.100-preview3-010431
IDE: Visual Studio 2019 for Mac (Preview 3)

After installing .NET Core 3.0 sdk I am no longer able to build my WebAPI project through Visual Studio.  It seems to build fine using "dotnet build" with CLI.  Prior to installing and updating the

[2019-03-15 05:56] prathmesh9090 opened #2462 "dot net not installing on debian 9 parrot linux error E: Unable to correct problems, you have held broken packages."
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/debian9/sdk-current
Operating System: Linux Debian 9

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-03-15 07:14] prathmesh9090 commented on #2462
So here i find a fix now went to this link
    https://dotnet.microsoft.com/download/thank-you/dotnet-sdk-3.0.100-preview3-linux-x64-binaries
and installed dotnet core 3.0
after that open a terminal in download folder and follow the commands
    mkdir /usr/share/dotnet   (if available alredy then ignore)
    sudo tar -zxf dotnet-sdk-3.0.100-preview3-010431-linux-x64.tar.gz -C /usr/share/dotnet

[2019-03-15 07:14] #2462 closed

[2019-03-15 13:09] svick commented on #2452
This is because the `/` character does not represent the literal `/`, but is instead a [custom format specifier for the date separator](https://docs.microsoft.com/en-us/dotnet/standard/base-types/custom-date-and-time-format-strings#the--custom-format-specifier-1).

As the documentation says, if you want a literal `/`, you can use `'/'` in the format string.

Also, you're not using the `culture` va

[2019-03-15 14:39] SolidSoft-Lda opened #2463 "How to share assembly memory between copies of the same App ?"
How to implement a shared memory strategy for .NET Core assemblies like this:
https://visualstudiomagazine.com/articles/2017/11/29/improve-startup-time.aspx ?

[2019-03-15 15:46] Eilon commented on #2444
Yup, what @benaadams said. Thanks, @benaadams !

[2019-03-15 15:46] #2444 closed

[2019-03-15 16:02] NextTurn opened #2464 "Update GitHub topics"
I created some PRs to update GitHub topics. You may want to review them.

.NET github/explore#612
C# github/explore#613
VB github/explore#617
F# github/explore#621
Nuget github/explore#622

I don't know when C# was "for web deployment" and .NET was "to share information between websites".

[2019-03-15 16:04] PeterPann23 commented on #2451
lots of casts to uint that are not usefull

[2019-03-15 16:21] khellang commented on #2451
Casting to `uint` isn't boxing.

They're not just useful, they're necessary. You don't want to be bit-shifting signed integers like that.

[2019-03-15 16:59] Ruben2015 opened #2465 "dotnet on cmd won't do anything"
Problem encountered on https://dotnet.microsoft.com/learn/machinelearning-ai/ml-dotnet-get-started-tutorial/install
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-03-15 17:05] leecow commented on #2465
@Ruben2015 - We'll need more information to attempt to help. Operating system and did the install appear to complete correctly will be a good start. Please re-open the issue with this information if you're still have troubles.

[2019-03-15 17:05] #2465 closed

[2019-03-15 17:17] #2449 closed

[2019-03-15 17:17] leecow commented on #2449
Issue moved to [dotnet/cli #10982](https://github.com/dotnet/cli/issues/10982) via [**ZenHub**](https://www.zenhub.com/)

[2019-03-15 17:19] leecow commented on #2459
We need to know some details in order to try and help. If you are still having trouble, reopen this issue and please provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-03-15 17:19] #2459 closed

[2019-03-15 17:21] leecow commented on #2450
We need information about what you are seeing in order to try and help. If you are still having troubles, reopen this issue and please provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-03-15 17:21] #2450 closed

[2019-03-15 17:36] leecow commented on #2464
Thanks @NextTurn - I have added a few comments to the PRs.

[2019-03-15 17:36] #2464 closed

[2019-03-15 17:38] leecow commented on #2456
@dougbu @Eilon

[2019-03-15 17:40] leecow commented on #2457
We do not provide native installers for ARM devices yet. You will need to follow the guidance for installing from tar.gz found in the [Linux Setup](https://github.com/dotnet/core/blob/master/Documentation/linux-setup.md) document.

[2019-03-15 17:41] leecow commented on #2458
@danmosemsft and @jaredpar for possible insights.

[2019-03-15 17:52] dougbu commented on #2456
@Tratcher @anurse @muratg any ideas?

[2019-03-15 17:55] leecow commented on #2460
Since you can build outside of VS for Mac using the CLI, I'm suspicious that it may be something on the VS for Mac side. Adding a few folks @livarcocc @sayedihashimi @mhutch ?

[2019-03-15 17:56] leecow commented on #2461
Possibly related to https://github.com/dotnet/core/issues/2460?

[2019-03-15 18:03] leecow commented on #2427
@picrap - we currently do not have plans to officially support Synology at this time. If it's a glibc-based distro, you may be able to use .NET Core from our tar.gzs to get up and running though, no promises :-). Is Synology provided support for [Snaps](https://snapcraft.io/), that would be another option as we do provide Snap installers for the SDK and Runtimes.

- [Linux Prereqs](https://github.

[2019-03-15 18:04] #2427 closed

[2019-03-15 18:34] Eilon commented on #2456
This issue was moved to aspnet/AspNetCore#8567

[2019-03-15 18:34] #2456 closed

[2019-03-15 21:22] leecow commented on #2445
Thanks @smpeters - I believe `--no-https` was added in the 2.1 release so you should upgrade to at least that channel. It looks like you are running 2.0 and that went end of life October 2018.

[2.1 (our LTS release)](https://dotnet.microsoft.com/download/dotnet-core/2.1)
[2.2 (a bunch of ASP enhancements)](https://dotnet.microsoft.com/download/dotnet-core/2.2)

[2019-03-15 21:28] ryanbrandenburg commented on #2445
@smpeters let us know if that doesn't solve your issue, otherwise we'll close this out.

[2019-03-15 21:29] smpeters commented on #2445
Hmmm... it looks like it was installed with Visual Studio when I installed it in December 2018.  OK, well, I updated Visual Studio and that command works now.

[2019-03-15 21:31] #2445 closed

[2019-03-15 23:22] MrM40 commented on #1632
Quick guide to get dotnet core runtime **2.2.3** on Debian Buster:
(You cannot use MS's Debian9 install guide. You have to install it manually, the good thing is you don't have to add MS's repository to your installation :-))

1. Download library files:
`wget -O /tmp/dotnet_runtime_2.2.3.tar.gz https://download.visualstudio.microsoft.com/download/pr/28271651-a8f6-41d6-9144-2d53f6c4aac4/bb29124818f

[2019-03-16 11:44] juniormayhe commented on #2308
Yes, I understand this might be hard. Every benchmark will care more or less about some aspects. I picked a [sample](https://github.com/juniormayhe/BenchmarkAndSpanExampleNetcore) of Steve Gordon to evaluate netcore performance on string manipulation and first runs on 3.0 were slower but after couple of executions it got similar to 2.2 and 2.1. Hope netcore 3.0 performance won't decrease!

Thanks

[2019-03-16 13:13] Deilan commented on #82
Here's the corresponding issue in that repo: https://github.com/dotnet/corert/issues/6402

[2019-03-16 15:14] Tratcher commented on #2240
Are you sure it's not using Http/2 a like discussed above?

[2019-03-16 16:52] MrM40 commented on #2406
Manual installation of runtime 2.2.3 on Debian Buster:

1. Download binaries:
`wget -O /tmp/dotnet_runtime_2.2.3.tar.gz https://download.visualstudio.microsoft.com/download/pr/28271651-a8f6-41d6-9144-2d53f6c4aac4/bb29124818f370cd08c5c8cc8f8816bf/dotnet-runtime-2.2.3-linux-x64.tar.gz`

2. Make dir
`mkdir /usr/share/dotnet/`
3. Unpak
`tar zxf /tmp/dotnet_runtime_2.2.3.tar.gz -C /usr/share/dotnet/`
4

[2019-03-17 00:32] hezhijun80 opened #2467 "hezhijun"
# Issue Title

Be as descriptive as you can with your title.

# General

Provide details on the problem you are experiencing including the .NET Core version, operating system version and anything else that is relevant.

Please provide a code sample for your issue if it is relevant, either inline, link to a gist (or similar) or add it as a zipped attachment.

For some issues, you will get a quicker

[2019-03-17 01:00] sergiotapia commented on #2461
Same

[2019-03-17 05:11] sergiotapia commented on #2460
On a simple `dotnet new console -o MyApp`, I can successfully:

[code]

But if I open the .csproj file in Visual Studio preview, I get build errors like OP.

[2019-03-17 05:50] manojshingare opened #2468 "Assets file '/src/myMicroservice/F:/TechStuff/myMicroservice/obj/project.assets.json' not found. Run a NuGet package restore to generate this file. [/src/myMicroservice/myMicroservice.csproj]"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-microservice-tutorial/docker-image
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-03-17 14:33] ovicrisan commented on #2461
Same thing here, but also for VS 2017 targeting ASP.NET Core 2.2, not only for 3.0 preview. My previous projects don't work anymore in VS after installing .NET Core 3.0 preview. Very annoying.

[2019-03-17 16:34] bclanton40 opened #2469 "C# tutorial command fails"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/create
Operating System: windows

Ran this command provided from the tutorial.

`dotnet new webApp -o myWebApp --no-https`

Received this  output
`No templates matched the input template name: webApp.`

[2019-03-18 00:54] danmosemsft commented on #2458
Codegen.
[code]

[2019-03-18 00:54] danmosemsft commented on #2458
This issue was moved to dotnet/coreclr#23309

[2019-03-18 00:54] #2458 closed

[2019-03-18 14:25] lmgagne commented on #1541
We're analyzing the possibility to enable .net core on all our servers in order to ease migration of apps to Azure. Seeing all the (manual) work required this component in the field is quite significant. Is there any update on this?

[2019-03-18 17:18] leecow commented on #2469
what version of .NET Core do you have installed? The `--no-https` flag requires 2.1 or newer. Run `dotnet --info` for complete installed version information.

[2019-03-18 17:18] leecow commented on #2468
Need details on what you're experiencing in order to try and help.

[2019-03-18 17:18] #2468 closed

[2019-03-18 17:19] #2467 closed

[2019-03-18 17:38] #2457 closed

[2019-03-18 17:38] #2452 closed

[2019-03-18 17:40] leecow commented on #2422
We do not provide native installers for ARM devices yet. You will need to follow the guidance for installing from tar.gz found in the [Linux Setup](https://github.com/dotnet/core/blob/master/Documentation/linux-setup.md) document.

[2019-03-18 17:40] #2422 closed

[2019-03-18 17:44] leecow commented on #2420
Did you `cd myApp` before `dotnet run`?

[2019-03-18 17:45] #2414 closed

[2019-03-18 17:47] leecow commented on #2461
@ovicrisan - you need to use the VS 2019 Previews in order to work with .NET Core 3.0 Previews. 3.0 will not be supported from VS 2017.

[2019-03-18 17:51] Inathi-Gqola commented on #2469
To addto what @leecow said above.  If you are using a version lower thab 2.1, you can use the template name 'webApp' with 'razor'.

[2019-03-19 00:49] PhantomXL commented on #2420
Yes. I followed the instructions carefully.

?p??t?ste t? Outlook ??a Android<https://aka.ms/ghei36>

________________________________
From: Lee Coward <notifications@github.com>
Sent: Monday, March 18, 2019 7:46:42 PM
To: dotnet/core
Cc: PhantomX; Author
Subject: Re: [dotnet/core] dotnet run error in powershell, after .NET SDK installation. (#2420)

Did you cd myApp before dotnet run?

—
You are

[2019-03-19 00:52] PhantomXL commented on #2420
Yes. I followed the instructions carefully.

Από: Lee Coward
Eστάλη: Δευτέρα, 18 Μαρτίου - 19:46
Θέμα: Re: [dotnet/core] dotnet run error in powershell, after .NET SDK installation. (#2420)
Προς: dotnet/core
Κοιν.: PhantomX, Author

Did you cd myApp before dotnet run?
—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/dotnet

[2019-03-19 00:56] karelz commented on #2354
Likely bad download ... closing

[2019-03-19 00:56] #2354 closed

[2019-03-19 00:57] karelz commented on #2349
No response, not enough info. Closing. Feel free to reopen if there is actionable info.

[2019-03-19 00:57] #2349 closed

[2019-03-19 00:58] karelz commented on #2311
Not enough information yet. Closing. Feel free to reopen once clarified. Thanks!

[2019-03-19 00:58] #2311 closed

[2019-03-19 00:59] karelz commented on #2294
Not actionable. Closing. Feel free to reopen when there is minimal repro.

[2019-03-19 01:02] karelz commented on #2226
Any update @ygoe?

[2019-03-19 01:04] karelz commented on #2124
Do you have isolated repro we can investigate?

[2019-03-19 01:09] karelz commented on #2425
Looks like corrupted installation.
Can you try it on clean machine/VM?

[2019-03-19 01:11] karelz commented on #2374
@richlander @martinwoodward @terrajobst @leecow ping?

[2019-03-19 01:14] karelz commented on #2382
Do you have a minimal repro which reproduces on multiple machines/VMs? Thanks!

[2019-03-19 01:15] karelz commented on #2383
Which platform do you run it on?

[2019-03-19 01:18] karelz commented on #2384
What do you mean .NET Core 1.1 app which targets net452?
.NET Core 1.1 targets .NET Core. net452 can be targeted only by .NET Framework 4.5.2+ app.

That said, System.Wed is not available on .NET Core. You need to remove that dependency, or stay on .NET Framework.

[2019-03-19 01:20] karelz commented on #2385
This is weird. Are you able to reproduce it repeatedly? Always?
Can you reproduce it with another project?
Can you try it on another machine/VM?

[2019-03-19 01:21] karelz commented on #2394
Duplicate of https://github.com/dotnet/core-setup/issues/4388

[2019-03-19 01:21] #2394 closed

[2019-03-19 01:22] karelz commented on #2430
Duplicate of https://github.com/dotnet/core-setup/issues/4388

[2019-03-19 01:22] #2430 closed

[2019-03-19 01:24] karelz commented on #2405
Looks like weird machine setup.
Are you able to reproduce it on clean machine/VM?

[2019-03-19 01:25] karelz commented on #2417
Did you try to delete the file manually? Looks like some weird OS hiccup?
Are you able to reproduce it on another machine/VM?

[2019-03-19 01:28] karelz commented on #2421
@ajcvickers @divega is it something specific to EF?

[2019-03-19 01:29] karelz commented on #2463
What kind of shared memory do you expect? (skimming the article didn't clarify it)

[2019-03-19 01:35] karelz commented on #2420
It looks like something weird happened on your machine.
Can you please try to reinstall .NET Core?
Or try another machine or VM?

[2019-03-19 03:02] ovicrisan commented on #2461
I wasn't explicit enough: beside VS 2019 not working after installing .NET Core 3.0 preview 3, also my previous (side-by-side) VS 2017 targeting .NET Core 2.2 doesn't work any more.
Building and running it from CLI works fine, but not from VS. This is from VS 2017 w/ .NET Core 2.2 project:

![Screen Shot 2019-03-18 at 11 00 45 PM](https://user-images.githubusercontent.com/41134790/54577361-ddd1888

[2019-03-19 06:23] netroby opened #2470 "Not found ubuntu 18.10 install instruct document"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: Linux Ubuntu 18.04

Not found ubuntu 18.10 install instruct document

[2019-03-19 07:06] #2384 closed

[2019-03-19 07:20] divega commented on #2421
@karelz It looks like this.

@rexyque I am not able to understand the issue. If you can provide a complete code listing (including entity types) that repros the behavior you are seeing, please create a new issue with that information at https://github.com/aspnet/EntityFrameworkCore/issues/new.

[2019-03-19 09:21] PhantomXL commented on #2420
I tried reinstalling it numerous times even before I sent my initial error message. Ok, I will try through a VM and another device and keep you posted.

?p??t?ste t? Outlook ??a Android<https://aka.ms/ghei36>

________________________________
From: Karel Zikmund <notifications@github.com>
Sent: Tuesday, March 19, 2019 3:36:09 AM
To: dotnet/core
Cc: PhantomX; Author
Subject: Re: [dotnet/core] dotne

[2019-03-19 09:24] PhantomXL commented on #2420
I tried reinstalling numerous times before I sent my initial error report, although I haven't tried a VM or through another device. I will keep you posted, once I try those.
________________________________
From: Karel Zikmund <notifications@github.com>
Sent: Tuesday, March 19, 2019 3:36:09 AM
To: dotnet/core
Cc: PhantomX; Author
Subject: Re: [dotnet/core] dotnet run error in powershell, after .NE

[2019-03-19 09:34] SolidSoft-Lda commented on #2463
When one have several ASP.NET (.NET Framework) apps replicated and based on the same assemblies, each one consumes memory for load his assemblies, so there are repetition of this process.
.NET Framework provides at least 2 options:
1. Deploy this applications on the same application pool;
2. Starting .NET 4.5, use the tool aspnet_intern to create a symbolic link and the framework will reuse the lo

[2019-03-19 10:56] michael-x commented on #2432
The announcement post still says ".NET Core 2.1.9 and .NET Core SDK 2.1.**503**" where the SDK version should be "2.1.**505**".

[2019-03-19 12:24] tkstanczak opened #2471 "deps.json referencing missing packages in a published app."
We have released a self-contained version of our app for Linux
[code]

User reported:

Looking at the generated deps.json we can see:

[code]

Publish script was running on a Windows machine with:

[code]

mscorlib published
![image](https://user-images.githubusercontent.com/498913/54606048-9c2cf600-4a42-11e9-807b-11ae362513af.png)

[2019-03-19 12:40] tkstanczak commented on #2471
this may be related:
https://github.com/dotnet/cli/issues/6516

[2019-03-19 14:20] karelz commented on #2432
@michael-x which post? Can you provide link? This issue and [the blog post](https://devblogs.microsoft.com/dotnet/net-core-march-2019/) both seem fine.

[2019-03-19 14:24] michael-x commented on #2432
@karelz the original announcement at https://github.com/dotnet/announcements/issues/103.

[2019-03-19 14:29] karelz commented on #2432
@michael-x thanks! Fixed ;)

[2019-03-19 14:30] karelz commented on #2421
Thanks @divega! Closing here as it will be filed in EFCore repo.

[2019-03-19 14:30] #2421 closed

[2019-03-19 14:35] karelz commented on #2470
@leecow it seems we have tutorial instructions only for Ubuntu 18.04, 16.04 and 14.04, while we support also 18.10 in .NET Core 2.2: https://github.com/dotnet/core/blob/master/release-notes/2.2/2.2-supported-os.md#linux
But only .NET Core 2.1 supports 14.04: https://github.com/dotnet/core/blob/master/release-notes/2.1/2.1-supported-os.md#linux

It seems like the samples are refering to .NET Core 2

[2019-03-19 15:55] leecow commented on #2470
Thanks for bringing this up. I have a PR out for the website to add 18.10 to the dropdown. In the meantime, 18.10 instruction can be found in the [linux-setup](https://github.com/dotnet/core/blob/master/Documentation/linux-setup.md) doc.

[2019-03-19 15:56] #2469 closed

[2019-03-19 16:02] northsideauto opened #2472 "Issue Installing dotnet on Virtual Machine"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

The error says "Windows can't open this file...    To open this file, Windows needs to know what program you want

[2019-03-19 16:03] Eilon commented on #2463
Dup of https://github.com/aspnet/AspNetCore/issues/8552. Please try not to open the same exact bug in 2 places because it creates duplicate work.

[2019-03-19 16:37] brennfoster opened #2473 "Error response from daemon: Dockerfile parse error line 1: unknown instruction: ��F R O M"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-microservice-tutorial/docker-image
Operating System: windows

Getting this error: "Error response from daemon: Dockerfile parse error line 1: unknown instruction: ��F R O M" when attempting to run this command: "docker build -t microservice ."

[2019-03-19 17:40] karelz commented on #2473
@leecow who can help troubleshoot Docker problems? This one seems general - maybe corrupted Docker install?

[2019-03-19 17:43] karelz commented on #2463
Duplicate of https://github.com/aspnet/AspNetCore/issues/8552

[2019-03-19 17:43] #2463 closed

[2019-03-19 17:48] karelz commented on #2472
Does only the tutorial fail, nothing else?
Can you try another machine/VM?

[2019-03-19 18:54] gortok commented on #2473
@brennfoster I copy and pasted the Dockerfile into a hex editor and didn't see those characters in the beginning. What did you copy the sample dockerfile into?  It's possible it left in a BOM or some other artifact when you copied the text.  Can you upload your sample repo and link us to it?

[2019-03-19 18:55] gortok commented on #2473
To resolve your issue, I'd open the dockerfile into a text editor capable of showing it in hex (I use notepad++ with HexEditor plugin); and manually removing those non characters.  The first hex addresses you should see are 46 52:
![Hex](https://user-images.githubusercontent.com/699891/54633673-0ea7d100-4a57-11e9-9c87-3af41b850baf.PNG)

[2019-03-19 18:59] loic-sharma opened #2474 "Update supported scenarios for portable PDBs"
This documentation seems to be out of date: https://github.com/dotnet/core/blob/master/Documentation/diagnostics/portable_pdb.md#supported-scenarios

It states that "Symbol server (ex: SymbolsSource.org)" do not support portable PDBs. This should be updated as nuget.org's symbol server (`https://symbols.nuget.org/download/symbols`) does support portable PDBs. For more information, please refer to:

[2019-03-19 19:09] taori commented on #2124
@karelz Sorry for the delay. I'm afraid i no longer have access to the source code in question to reproduce the issue.

[2019-03-19 19:42] leecow commented on #2473
@karelz - the illegal characters snuck in during the OP's copy/paste when creating the Dockerfile. Clean those out and it should build fine.

[2019-03-19 20:18] terriblespl opened #2475 "Certificate not signed"
received the error when trying to deploy microservice to Azure. I was following the example found
here : https://dotnet.microsoft.com/learn/web/aspnet-deploy-microservice-tutorial/deploy

C:\myMicroservice>kubectl apply -f deploy-myMicroservice.yaml
Unable to connect to the server: x509: certificate signed by unknown authority

Any ideas on how to resolve would be appreciated.

[2019-03-19 20:45] karelz commented on #2475
@glennc can you help with this one? (or help route it?)

[2019-03-19 20:46] karelz commented on #2124
OK, let's close it then.

[2019-03-19 20:46] #2124 closed

[2019-03-19 21:41] Eilon commented on #2405
The NuGet error is a known NuGet issue: https://github.com/NuGet/Home/issues/7341

Unfortunately I don't know of a workaround to it.

[2019-03-19 21:41] #2405 closed

[2019-03-19 21:48] leecow commented on #2472
The error you quote usually happens which you double-click or download and run and file which Windows doesn't know about. Can you describe the steps you take to get the error?

[2019-03-19 21:49] leecow commented on #2471
@livarcocc - any ideas?

[2019-03-19 21:53] livarcocc commented on #2471
@tkstanczak is there a repro that you can share with us? Perhaps a binlog for the failed build? Do keep in mind that in a binlog secrets and other sensitive information may be capture in the log. If that's the case, let us know and we can share an email that you can use to share the log directly to us instead of through a file attachment on github.

@peterhuene to help take a look.

[2019-03-19 22:09] yanbu0 opened #2476 "AddJsonOptions setting SerializerSettings.DateTimeZoneHandling to Local Causes Problems in Alaskan Timezones"
# MVC's Json Parser Assigning Old Dates to Incorrect Timezone in Alaska

Prior to 1983 Alaska was primarily in -10, currently it is -8.  MVC does not take this into account but Javascript's Date object does.  This only comes into play when DateTimeZoneHandling is set to local.

[code]

The problem is a date stored in the database as `1981-04-23 00:00:00` will be serialized into this:
![image](http

[2019-03-19 22:41] karelz commented on #2476
Is it ASP.NET Core deserialization or .NET Core deserialization? cc @tarekgh

[2019-03-20 01:03] Eilon commented on #2476
This is Json.NET deserialization but I'm not sure where the DateTime / timezone issue comes in. In other words, is this an issue with time zone data, or how Json.NET is using that info?

cc @JamesNK as well

[2019-03-20 01:15] SFTSM1L3 opened #2477 "this happened, no idea what to do I'm a beginner"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

dotnet : The term 'dotnet' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the
spelling of the name, or if a path was included, verify that the path is correct and try again.
At line:1 char:1
+ dotnet
+ ~~~~~~
    + CategoryInfo

[2019-03-20 02:55] JamesNK commented on #2476
The logic Json.NET uses when converting an existing `DateTime` to local:

[code]

[2019-03-20 06:00] netroby commented on #2470
See it，already had 18.10 list in the dropdown
Thanks for help.

[2019-03-20 06:01] #2470 closed

[2019-03-20 14:12] tkstanczak commented on #2471
Repo is here (tag v0.9.6):
https://github.com/NethermindEth/nethermind

This is the publish process:

this is what user did:

Waiting for the user to provide their distro details

[2019-03-20 14:58] harissg commented on #2477
I believe this can be fixed by doing the following assuming you have installed dotnet sdk.

- Head over to Environment Variables
- Select Path under "System Variables"
- Click Edit
- Click New
- Add C:\Program Files\dotnet\
- Exit "OK"
- Close terminal/cmd
- try dotnet now

[2019-03-20 16:22] leecow commented on #2474
@noahfalk

[2019-03-20 16:44] DanielLaberge commented on #1968
.net core cold start time is forcing us to use Python or Go in all our microservices.

This has been #1 wish for .net for over a year now.

Any new development?

[2019-03-20 17:06] adamsitnik commented on #2308
@juniormayhe you can also run all the benchmarks we have for testing .NET Runtimes performance in the dotnet/performance repository

the docs that explain how to do it:
https://github.com/dotnet/performance/blob/master/docs/benchmarkdotnet.md#Multiple-Runtimes
the benchmarks: https://github.com/dotnet/performance/tree/master/src/benchmarks/micro

it's more or less **a single command**:

[code]

[2019-03-20 17:16] tarekgh commented on #2476
This is Windows TZ data problem.

[code]

Looks the data is not matching whatever JavaScript is using for time zone (I guess on Linux the data more accurate for Alalska). I would say send this issue to Windows team.

[2019-03-20 18:27] ygoe commented on #2226
@karelz Sorry, I didn't get to it yet. I don't understand the details you found out anyway so I could just provide other test code but no analysis on that level. I modified that program on my side already so I need to create something that works on a fixed (maybe smaller) set of files.

[2019-03-20 19:16] amercehic opened #2480 "Resource group could not be found."
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-deploy-microservice-tutorial/azure-resources
Operating System: windows

I am following tutorial for deploying microservice to Azure and I run into a problem.
When I run this command: 'az aks create --resource-group myMicroserviceResources --name myMicroserviceCluster --node-count 1 --enable-addons http_application_routing --gener

[2019-03-20 20:45] lucasborer1 opened #2481 "General"
# Issue Title

Be as descriptive as you can with your title.

# General

Provide details on the problem you are experiencing including the .NET Core version, operating system version and anything else that is relevant.

Please provide a code sample for your issue if it is relevant, either inline, link to a gist (or similar) or add it as a zipped attachment.

For some issues, you will get a quicker

[2019-03-20 21:37] rowanmiller commented on #2362
@dagood I'm far from an expert in this area, so just making sure I understand. Are these the first set of commands that someone should try in order to resolve the `Unable to locate package dotnet-sdk-2.2` issue?

[code]

[2019-03-20 21:39] jpfreyen opened #2482 "macOS: undocumented errorCode for IOException thrown on FileInfo(path).Open(FileMode.Open)"
# Issue Title

macOS: undocumented errorCode for IOException thrown on FileInfo(path).Open(FileMode.Open)

# General

Environment: MacOS Mojave 14.3
.NetCoreApp-v2.1

when using FileInfo(pathname).Open(FileMode.Open)) and an IOException is thrown, errorCode reported is 35 regardless if Marshal.GetHRForException(e) or e.HResult is used to retrieve the error code.  error code 35 is undocumented in y

[2019-03-20 21:44] dagood commented on #2362
I believe so. What's currently recommended by https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/sdk-current has some steps that don't look necessary to me:

[code]

I think some people might be interpreting "re-attempt the install" too far the other way, and _only_ running the last command, `sudo apt-get install dotnet-sdk-2.2`.

Just adding the apt-get update and apt-get ins

[2019-03-20 22:17] rowanmiller commented on #2362
Changes are pushed to the site https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/sdk-current

Updated instructions for 18.04 and added a note to earlier versions.

Let me know if you think anything else needs updating.

[2019-03-20 22:21] jpfreyen commented on #2482
Looks like this should have been filed under https://github.com/dotnet/corefx/issues.  I can do that.

[2019-03-20 22:21] #2482 closed

[2019-03-20 22:44] karelz commented on #2481
No info, closing

[2019-03-20 22:44] #2481 closed

[2019-03-20 22:57] n-alex-white commented on #2301
Great advice, worked for me too.

Thanks

[2019-03-20 23:11] Eilon commented on #2480
@glennc - can you have a look?

[2019-03-21 01:08] noahfalk commented on #2474
Thanks! Does [this update]( https://github.com/dotnet/core/commit/c1317f1cf475a59fed6b3f6d7cfcb18aa99bf189#diff-ce42d92d63cfc4f4ca357357ab902ceb) look good?

[2019-03-21 01:24] tmat commented on #2474
LGTM

[2019-03-21 02:22] DweeberlyLoom opened #2483 "2.2.105.toolpath.sentinel directory missing ?"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-microservice-tutorial/create
Operating System: windows

[code]

It would appear that the SDK doesn't install what you think it installs ... ?

[2019-03-21 07:12] gnosticeinfotech commented on #2294
Sorry I was held up with something else and couldn't respond. Here is a simple solution and two projects that can be used to repro this. When you build ConsumerApp the License Compiler tries to obtain a license and fails.
[LicenseToolIssue.zip](https://github.com/dotnet/core/files/2991100/LicenseToolIssue.zip)

[2019-03-21 07:14] sansjunk commented on #2294
Sorry I was held up with something else and couldn't respond. Here is a simple solution and two projects that can be used to repro this. When you build ConsumerApp the License Compiler tries to obtain a license and fails.
[LicenseToolIssue.zip](https://github.com/dotnet/core/files/2991103/LicenseToolIssue.zip)

[2019-03-21 08:41] jamesomitron commented on #2284
This has been resolved. 2.0 is still supported. You just need to select the correct version in the dot net core tools. Also, remember to add .NET Core to your libraries through Nuget

[2019-03-21 14:23] svor opened #2484 "[question]Running Omnisharp-Roslyn on Alpine Linux"
I'm trying to run [omnisharp-linux-x64.tar.gz](https://github.com/OmniSharp/omnisharp-roslyn/releases/download/v1.32.11/omnisharp-linux-x64.tar.gz) on an Alpine Linux (3.8).
1. I've installed .Net Core SDK 2.2.105.
2. Trying to run Omnisharp-Roslyn:
![screenshot-che-che 192 168 99 100 nip io-2019 03 21-16-12-07](https://user-images.githubusercontent.com/1271546/54758293-8cedaa00-4bf4-11e9-9e44-18a

[2019-03-21 16:31] karelz commented on #2284
Just to clarify: .NET Core 2.0 is out of support. It does not get even security fixes. I'd highly recommend everyone to NOT use it.

[2019-03-21 17:12] karelz commented on #2477
How exactly did you install dotnet SDK, which steps did you follow? I would expect the steps to do the right thing ...

[2019-03-21 17:15] karelz commented on #1968
@DanielLaberge given the number of votes here and replies, I would not call this a number 1 pain point of .NET Core at this moment. That said, we do care about the scenario.
@brianrob were you able to make any progress?

[2019-03-21 18:11] rowanmiller commented on #2362
Closing as I think we've done everything needed now.

[2019-03-21 18:11] #2362 closed

[2019-03-21 20:11] DragonCityBreeder opened #2485 "Error in the command prompt"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

I have tried entering the command that the tutorial says to, but it keeps coming up as an error.
![Coding 1](https

[2019-03-21 20:25] jlindner commented on #2485
It is not docnet, it is DOTNET.  Try that and see if it fixes it.

[2019-03-21 20:26] DragonCityBreeder commented on #2485
@jlindner Thank you so much! I was wondering why it wouldn't work!

[2019-03-21 20:28] jlindner commented on #2485
No problem.  Sometimes, just having a second set of eyes looking at it helps.

[2019-03-21 20:29] DragonCityBreeder commented on #2485
@jlindner That's so true. I realized that I put in `docnet` instead of `dotnet' which I tend to misspell things easily.

[2019-03-21 21:03] terriblespl commented on #2475
it looks like its my company that is blocking the connection

[2019-03-21 23:35] karelz commented on #2475
@terriblespl can we close it then? Or is there something for us left to do?

[2019-03-21 23:37] brianrob commented on #1968
Unfortunately not yet.  I've not forgotten about this one, but have not had time for this.

[2019-03-22 01:10] RobSeder opened #2486 "Apt install on Ubuntu 18.10 not working"
## Overview:

Using the instructions from here: https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-10/sdk-2.2.105 on Ubuntu 18.10 - something isn't working. Receiving an error of:

## Steps to reproduce:

1. Created a new VM (in Hyper-V, on WIndows 10)
1. Install latest Ubuntu - specifically from `ubuntu-18.10-live-server-amd64.iso`
1. Update the OS with: `apt update && apt dist-

[2019-03-22 01:16] terriblespl commented on #2475
Yes, it can be closed. Thanks.

On Thu, Mar 21, 2019 at 4:35 PM Karel Zikmund <notifications@github.com>
wrote:

[2019-03-22 04:22] ovicrisan commented on #2461
I've just uninstalled .NET 3.0 preview3 as described here https://docs.microsoft.com/en-us/dotnet/core/versions/remove-runtime-sdk-versions?tabs=macos and everything works fine now:

$ dotnet --list-sdks
[...]
3.0.100-preview3-010431 /usr/local/share/dotnet/sdk
$ sudo rm -rf /usr/local/share/dotnet/sdk/3.0.100-preview3-010431

$ dotnet --list-runtimes
[...]
Microsoft.AspNetCore.App 3.0.0-preview3-

[2019-03-22 10:08] tommy86r opened #2487 "Self-contained asp.net core application gives the error “This executable is not bound to a managed DLL to execute”"
# Self-contained asp.net core application gives the error “This executable is not bound to a managed DLL to execute”

When I publish my asp.net core application as self-contained I succesfully get the myproject.exe. This exe file doesn't work if I double click on it and doesn't work if I try to run it from the cmd console. The project has been update from .net core 2.0 to 2.2
The exception is:

I

[2019-03-22 11:26] #2474 closed

[2019-03-22 19:58] jimigrunge opened #2489 "'DataTime' does not exist in Hello world"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/modify
Operating System: macos

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

### Details

On step 4 `Edit your code`. After entering the supplied code into Pages/Index.cshtml, I received th

[2019-03-22 20:05] peterhuene commented on #2489
Hi @jimigrunge.

I believe your code contains a typo.  The sample has this:

[code]

And your error message suggests you copied this as `... @DataTime.Now...`.

Correcting `@DataTime.Now` to `@DateTime.Now` should resolve your issue.

[2019-03-22 20:07] jimigrunge commented on #2489
AH, a Fat Finger issue. Thank you

[2019-03-22 20:07] #2489 closed

[2019-03-23 09:23] lucdaodainhan opened #2490 "[fail]: OmniSharp.MSBuild.ProjectManager Attemped to update project that is not loaded"
# Issue Title

[fail]: OmniSharp.MSBuild.ProjectManager
        Attemped to update project that is not loaded

# General
im try using .net core 3 to work with winform , after following instruction from githup page, im enter some comand such as : dotnet new winforms -o 'my-name-app', dot net run, and finally , i got this output from output tab in VS code

Starting OmniSharp server at 3/23/2019, 4:2

[2019-03-23 11:49] 1devill opened #2491 "Dotnet run unhandled error"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/run
Operating System: windows 10

Необработанное исключение типа "System.BadImageFormatException" в Неизвестный модуль.
Could not load file or assembly 'C:\Windows\System32\myWebApp\bin\x86\Debug\netcoreapp2.2\myWebApp.dll'. Была сделана попытка загрузить программу, имеющую неверный формат.

[2019-03-23 12:15] anlarini opened #2492 "Service unavailable."
# Issue Title

Be as descriptive as you can with your title.

# General

Provide details on the problem you are experiencing including the .NET Core version, operating system version and anything else that is relevant.

Please provide a code sample for your issue if it is relevant, either inline, link to a gist (or similar) or add it as a zipped attachment.

For some issues, you will get a quicker

[2019-03-23 13:06] ashilshah opened #2493 ".Net installation"
I successfully installed .Net Core SDK of 64 bit on my windows system.

Then I typed command **_dotnet_** in command prompt but it says dotnet is not recognized as an internal or external command, operable program or batch file.

Please let me know how can I check whether my dotnet installation has been successfully done?

[2019-03-23 14:01] git-gone opened #2494 "Higher version of libicu (6x) installed on OpenSuSE Leap than accepted by dotnet-runtime"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: Linux openSUSE Leap

installing as per instructions on page above fail at step to install .net SDK,  Added all Microsoft public keys and downloaded _repo_ files as recommended on the web page whose URL appears above
[code]
In OpenSuSE, there appears to be**no** RPM package that provides

[2019-03-23 21:03] ygoe commented on #2226
I can't provide another code than I did. I tried to make a test case but whatever I tried has the same performance on Windows and Linux. I tried with a small set of large input files, where each file was processed several times. I tried with more large files, each processed once. I tried with 500 tiny files. Nothing could reproduce the observed behaviour of the original program. So I'm sorry, I ca

[2019-03-24 01:30] SimonCropp commented on #1541
@richlander

please do not do this via a blog post. Blog posts rapidly get out of date and pollute search results. In some cases this is acceptable, but not for content like this. this content should be a first class citizen in the MS owned doco, and maintained/versioned over time

[2019-03-24 01:55] nanaaprewa opened #2495 "bash: dotnet: command not found"
# Issue Title

Be as descriptive as you can with your title.

# General

Provide details on the problem you are experiencing including the .NET Core version, operating system version and anything else that is relevant.

Please provide a code sample for your issue if it is relevant, either inline, link to a gist (or similar) or add it as a zipped attachment.

For some issues, you will get a quicker

[2019-03-24 07:29] rakesh4951 opened #2496 "i try to publish on vm"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/run
Operating System: Linux Ubuntu 18.04

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

This site can’t be reached 104.211.99.0 refused to connect.
Search Google for 104 211 5000
ERR_CONNECT

[2019-03-24 09:10] BigBoss2011 opened #2497 "error creating new .net core project on ubuntu 18.04"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: Linux Ubuntu 18.10

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

on executing the commande "dotnet new console -o myApp"
I'd received the error bellow
Failed to load �D

[2019-03-24 10:49] yilmazdurmaz commented on #2389
for v3, "dotnet add package" does not respect the cache folders while offline, and halts the process after trying to connect a repo.

funny thing is out of 3, that repo does not even have the package I try to add while others have the cached version already.

open a command prompt and use the following commands to reproduce
[code]
after this the package and dependencies should be available in cach

[2019-03-24 13:11] salahrzzaz opened #2502 ".Net core ubuntu service stopped when any exception come"
.Net core ubuntu service stopped when any exception come

I have website .net core 2.0  the service is crash when any exception come hot to disable this scenario when error come the service didn't crash

[2019-03-25 05:28] NicolasDorier opened #2503 "Why can I see support for ARM64 on 2.1.9?"
The [release page of 2.1.9](https://github.com/dotnet/core/blob/master/release-notes/2.1/2.1.9/2.1.9.md) shows that ARM64 binaries are available. I started jumping from my seat out of joy, but then could not find the docker images.

I thought that ARM64 support was only coming for .NET Core 3.0, so why are the binaries available?

[2019-03-25 08:45] JTSek opened #2504 "Cannot run the dotnet command on windows 8.1"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

After installing the .Net Framework on Windows 8.1, I ran the dotnet command but I got an error mesage that Progr

[2019-03-25 12:57] svick commented on #2504
This almost certainly means that your Windows 8.1 installation is not up to date and you need to install a specific update. See [this document](https://docs.microsoft.com/en-us/dotnet/core/windows-prerequisites?tabs=netcore2x#net-core-dependencies) for more details.

[2019-03-25 18:00] antonioortizpola commented on #2253
Same here @Kirides , we are hitting this issue also in a site with a lot of traffic requests (10-15 per second, maybe more), It worked fine in 2.1, the issue has been happening since we update to 2.2, it is happening with our HttpClients, but we are already using IHttpClientFactory.

We have to restart our docker containers to fix the problem, and it is happening at least once a day. I am also afr

[2019-03-25 20:09] johnkors commented on #1968
+1.

Tried to use .NET Core 2.1 on AWS lambda as a backend for the Slack Event API, but Slack will fail (or re-try delivery) on any request taking 3s or above. This rules out .NET Core for my scenario, unfortunately.

[2019-03-25 21:12] #2484 closed

[2019-03-25 21:39] benaadams commented on #1968
Any more details on what type of workload and what type of environment?

Looking at the ASP.NET Benchmarks https://aka.ms/aspnet/benchmarks (page 4)

On .NET Core 3.0 Plaintext Middleware has a cold start to first request of 350ms

![image](https://user-images.githubusercontent.com/1142958/54955694-e8e26680-4f45-11e9-83e3-9b9d3fbfafd4.png)

MVC DB EF Multiquery has a cold start to first request of

[2019-03-25 22:41] johnkors commented on #1968
Me? My setup is:

*  .NET Core 2.2 (using the [new custom runtime support in AWS lambda](https://github.com/aws/aws-lambda-dotnet/tree/master/Libraries/src/Amazon.Lambda.RuntimeSupport)
* A handler that executes a couple of http requests (back to Slack APIs).
* First execution of lambda:
- Init Duration: 197.45 ms
- Total Duration: 6099.22 ms
* After warmup: usually between 1000-1200ms.

If I mock

[2019-03-26 03:26] gordon-matt opened #2505 "Windows Services on .NET Core 3.0?"
I'm not sure if this is the right place to ask this, but will **.NET Core 3** support windows services like it is supporting WinForms and WPF? At the moment, I am using a regular **.NET Framework 4.7.1** windows service with the **Microsoft.AspNetCore.Hosting.WindowsServices** NuGet package. That app is the host and then the rest of my code is in a library that targets **.NET Standard 2.0**. It ha

[2019-03-26 04:41] GreenYun opened #2506 "I am running Debian buster and I am in trouble installing dotnet due to the dependent packages not installable"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/debian9/sdk-current
Operating System: Linux Debian 9 - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

root@debian:~# apt install -f dotnet-runtime-deps-2.2 aspnetcore-runtime-2.2 dotnet-runtime

[2019-03-26 05:25] TruJan34 opened #2507 "Error while creating webapp from console "ASP.NET Tutorial - Hello World in 10 minutes""
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/create
Operating System: windows 10

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

I got following error.

C:\Users\trushartj>dotnet new webApp -o myWebApp --no-https --force
The template "A

[2019-03-26 11:18] saxenark opened #2508 "C++/CLI migration to .Net core on Linux"
Hi,

I have a managed C++ component that references a C# assembly based on .net 4.7.2. We are considering our software on Linux and hence are evaluating .Net core as an option.

What is not clear to me from all the docs is how to proceed with migration of the managed C++ component (/clr) over to .Net core.  How do I reference my C# based .net core classes from the C++ code migrated to Linux (g++)

[2019-03-26 14:16] EvilBeaver commented on #2253
I'm doing the same. I set docker container mode "restart=always" and in my app I'm catching this SocketException. If it's caught - i'm killing the app and docker engine restarts it. Works fine, but for complex apps it should be fixed properly at dotnet level.

[2019-03-26 15:23] karelz commented on #2508
C++/CLI support is coming in .NET Core 3.0 - @richlander can you please provide details?
cc @leecow

[2019-03-26 15:30] karelz commented on #2507
Do you have the same problem from multiple machines? (you can try clean VM)
Looks like a network hiccup.

[2019-03-26 15:37] mhutch commented on #2460
+ @mrward

[2019-03-26 15:44] Merberg opened #2509 "Failed to fetch https://packages.microsoft.com/debian/9/prod/dists/stretch/main/binary-amd64/Packages Received HTTP code 403 from proxy after CONNECT"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/debian9/sdk-current
Operating System: Linux Debian 9 - x64

After following the steps for the Register Microsoft key and feed, the next step appears successful:
$ sudo apt-get install apt-transport-https
Reading package lists... Done
Building dependency tree
Reading state information... Done
apt-transport-https is a

[2019-03-26 15:49] mrward commented on #2460
.NET Core 3 preview 3 is not supported with Mono's MSBuild currently. .NET Core 3 preview 2 should be OK.

Mono's MSBuild is currently using NuGet v4 which does not support .NET Core 3 preview 3. NuGet v5 is needed.

https://developercommunity.visualstudio.com/content/problem/481018/resolvepackageassets-task-failed.html

[2019-03-26 17:12] Merberg commented on #2509
Never mind - discovered that I had a proxy in /etc/apt/apt.conf.d.  Removing that enables the SDK to install.

[2019-03-26 17:12] #2509 closed

[2019-03-26 17:15] brianrob commented on #2226
@ygoe one thing that you might try is to run the app and confirm the behavior.  Then, make the app just use the set of files that were downloaded over and over, rather than downloading a new set of files.  This should allow you to not materially change that amount of work that's happening and still repro the problem.  We're going to have a lot of difficulty tracking this down otherwise, as each ti

[2019-03-26 17:44] RobotJulia opened #2510 "libssl wants 1.0.0 when newer libssl versions are available; breaking installation"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/sdk-current#ubuntu18-04-issue
Operating System: Linux Ubuntu 18.04 - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Hello,
I am trying to install on a Debian system which has libssl

[2019-03-26 21:30] omajid opened #2511 "Better package for installing just the runtime on RHEL 7"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/rhel/runtime-current
Operating System: Linux RHEL - x64

The website currently suggests installing `rh-dotnet22` for both the sdk and the runtime. That is correct and it works. However, we should tell users how to install only the runtime if they want:

    yum install rh-dotnet22-dotnet-runtime-2.2

This is the scl

[2019-03-27 08:35] Alkaris opened #2512 "Build fails on Linux"
Running the build script ends in errors.

<details>

[code]

</details>

it was downloaded using `git clone`

[2019-03-27 13:43] saxenark commented on #2508
Hi, please also do suggest what would be the equivalent of the C++/CLI (/clr) on the Linux world! from .NET core porting perspective from Windows to Linux.

[2019-03-27 13:55] HamdaouiJ commented on #2430
Thanks for your email:
Windows 7 HomePremiumIntel i3 CPU M380 @ 2.53 GHz 2.53 GHz64 Bit Operating System

Sincerely yours,Chokri Jack Belgacem Hamdaoui
c.hamdaoui@aol.com

-----Original Message-----
From: Lee Coward <notifications@github.com>
To: dotnet/core <core@noreply.github.com>
Cc: HamdaouiJ <c.hamdaoui@aol.com>; State change <state_change@noreply.github.com>
Sent: Tue, Mar 12, 2019 9:57 pm

[2019-03-27 14:50] v8n3t commented on #2448
has there been any update to this? I am having the exact same problem and cannot find the fix for it.

[2019-03-27 15:39] justintoth opened #2513 "No support for System.Web.DataVisualization in .NET Core"
# Issue Title

Our application relies on the System.Web.DataVisualization assembly to generate our charts (System.Web.UI.DataVisualization.Charting namespace.) However, this only exists in .NET Framework and not .NET Core.

# General

We're moving all of our applications over to .NET Core and our class libraries to .NET Standard, and the charting is the last bit of .NET Framework code that we're h

[2019-03-27 16:47] #2475 closed

[2019-03-27 16:48] Eilon commented on #2411
@halter73 - any further ideas on this?

[2019-03-27 20:46] #2485 closed

[2019-03-27 21:02] leecow commented on #2486
I don't see `https://packages.microsoft.com/ubuntu/18.10/prod cosmic InRelease` reported in the 2nd apt-get update output so the repo is not being found.

Could you let us know the output of `cat /etc/apt/sources.list.d packages.microsoft.list`? It should be something like `deb [arch=amd64] https://packages.microsoft.com/ubuntu/18.10/prod cosmic main`

[2019-03-27 21:03] leecow commented on #2492
We'll need some specific information on what you're experiencing in order to help. Feel free to re-open this issue with additional details.

[2019-03-27 21:03] #2492 closed

[2019-03-27 21:07] jslang25 commented on #2486
##:~$ cat /etc/apt/sources.list.d packages.microsoft.list
cat: /etc/apt/sources.list.d: Is a directory
cat: packages.microsoft.list: No such file or directory
##:~$

Sent from Mailspring<https://link.getmailspring.com/link/2C9F2E59-DB5D-4419-BBED-17BF41FE9B51@getmailspring.com/0?redirect=https%3A%2F%2Fgetmailspring.com%2F&recipient=cmVwbHkrMDJlYjVlY2IyZDJiN2EwMmUyN2Q1NzFjYTgwNTk5OTc3YzEyOTBlYWIyYT

[2019-03-27 21:15] leecow commented on #2495
Need some details in order to try and help. How did you install, what distro, etc. Feel free to re-open this issue with the additional information.

[2019-03-27 21:15] #2495 closed

[2019-03-27 21:23] leecow commented on #2506
Can you share the output of `cat /etc/apt/sources.list.d/microsoft-prod.list`?

[2019-03-27 21:23] #2504 closed

[2019-03-27 21:30] leecow commented on #2510
Which installer are you trying to run? Is this a debian system or an Ubuntu system? You mention both. Please share the output of `cat /etc/os-release`, then we'll have a good starting point.