[2021-05-24 14:40] clairernovotny commented on #5864
This also enables private fixes, either for bugs or security patches.

[2021-05-24 15:36] JoeRobich commented on #6278
@rainersigwald Happy to get this updated.

[2021-05-24 16:26] criticalbh commented on #4262
@bhardwajs can you show full dockerfile please?

[2021-05-24 16:44] jwilson-proag commented on #2802
System.Text.Json is riddled with limitations. Just look at Microsoft's own documentation.

https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to?pivots=dotnet-5-0

Much of expected functionality is not offered out of the box. The offer workarounds, but those are not solutions, those are hacks. So more performance (which is usually meaningles

[2021-05-24 17:46] JoeRobich commented on #6278
@GeorgeFlorian Merged in an update of OmniSharp's included build tools. If you set `omnisharp.path` to `"latest"`, is it able to locate the SDK for you?

[2021-05-24 18:01] marcpopMSFT commented on #6278
Do we know when this fix will be available on VSCode and should we mention it in the .NET 6 preview 4 release notes if the fix won't be out before then?

[2021-05-24 18:48] josalem commented on #6098
## .NET Diagnostics: Improved EventPipe Performance

#45518

EventPipe is .NET's cross-platform mechanism for egressing events, performance data, and counters. Starting with .NET 6, we've moved the implementation from C++ to C. With this change, Mono will be able to use EventPipe as well! This means that both CoreCLR and Mono will use the same eventing infrastructure, including the .NET Diagnostic

[2021-05-24 21:10] JoeRobich commented on #6278
@marcpopMSFT We are in the middle of validating a new release. Happy to bring this change in.

[2021-05-24 21:44] #6268 closed

[2021-05-24 21:44] #6270 closed

[2021-05-24 22:44] #6242 closed

[2021-05-25 03:27] richlander commented on #6201
The breaking changes have calmed down. I was talking to an internal team at Microsoft today. They were telling us "moving .NET 6 was straightforward." There were lots of challenges moving to .NET Core 3.1. The experience is better after that.

We are getting close-ish to having our build produce source tar balls. We're also thinking about establishing a maintainer network for .NET. That will enabl

[2021-05-25 05:35] richlander commented on #6278
What's process (including tests) that we can use to avoid this in future. It has happened before.

[2021-05-25 09:49] sharmakarish opened #6293 "'donet' is not recognized as an internal or external command, operable program or batch file."
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-05-25 09:49] sharmakarish commented on #6293
'donet' is not recognized as an internal or external command,
operable program or batch file.

[2021-05-25 11:42] svick commented on #6293
The correct command is `dotnet`, not `donet`. Did you make a typo when typing the command?

[2021-05-25 12:17] binate-lab commented on #6245
Hi Maira

thank you for help; it is working; but I deleted  the "C:\Program Files (x86)\dotnet" folder before

Thanks again

________________________________
De : Maira Wenzel ***@***.***>
Envoyé : vendredi 21 mai 2021 20:35
À : dotnet/core ***@***.***>
Cc : keita ***@***.***>; Author ***@***.***>
Objet : Re: [dotnet/core] Dotnet sdk for 3.1 and 5.202 installation (#6245)

And your machine is a Wi

[2021-05-25 12:17] binate-lab commented on #6245
yes my machine is a Windows x64

________________________________
De : Maira Wenzel ***@***.***>
Envoyé : vendredi 21 mai 2021 20:35
À : dotnet/core ***@***.***>
Cc : keita ***@***.***>; Author ***@***.***>
Objet : Re: [dotnet/core] Dotnet sdk for 3.1 and 5.202 installation (#6245)

And your machine is a Windows x64, correct?

If so, the following instructions should help you to make this work:
#5

[2021-05-25 13:01] ManickaP commented on #6293
Thanks @svick for noticing the typo, seems like the culprit of the problem.
Closing the issue, @sharmakarish if your problem was not the typo, feel free to reopen with more info.

[2021-05-25 13:01] #6293 closed

[2021-05-25 14:30] rbhanda opened #6295 ".NET 6 Preview 4"
[Release Notes](https://github.com/dotnet/core/blob/main/release-notes/6.0/preview/6.0.0-preview.4.md)

Please report any issues you find with .NET 6, either responding to this issue, creating a new issue or creating a new issue in one of the following repos:

* [dotnet/aspnetcore](https://github.com/dotnet/aspnetcore/issues) - for ASP.NET Core questions
* [dotnet/efcore](https://github.com/dotnet

[2021-05-25 15:22] ernstscheithauer commented on #5013
Thanks for sharing that @jamshedd

One question to make sure I got it right: So I can install the hosting bundle and after this, the two components that usually get changed are patched using Windows Update? I just don't see the version number of "Microsoft .NET Core 3.1.14 - Windows Server Hosting" change in Control-Panel - "Programs and Features"?

I ask this because I only see one of the 3 insta

[2021-05-25 15:22] ncorreia opened #6298 "Socket dual mode not working on Unix systems"
### Description

When opening a socket in dual mode and receiving data with ReceiveFrom method (cannot use Receive as I need to capture the sending endpoint), I get the following exception on Unix systems:

[code]

This runs fine on Windows machines.

Here's the code I'm using:

[code]

### Configuration

Tried on macOS 11.3 as well as on Ubuntu 18.04 and saw the exception above on both systems.
I

[2021-05-25 16:09] bachratyg commented on #5013
Does this include the older v1 module? If I change the handler in web.config to point to the v2 module for a legacy app (aspnetcore2.1 on net48, out of process hosting) would it work? Or should I still use the 2.1 hosting bundle?

[2021-05-25 16:23] rbhanda opened #6302 ".NET Core May 2021 Update - .NET 5.0.300 SDK"
Today we are releasing .NET 5.0.300 SDK as a supported SDK with the release of [Visual Studio 16.10](https://docs.microsoft.com/visualstudio/releases/2019/release-notes#16.10.0)

Release Notes
[5.0.300 SDK](https://github.com/dotnet/core/blob/master/release-notes/5.0/5.0.6/5.0.300-sdk.md)

Please report any issues you find with .NET 5.0.300 SDK, by responding to this issue.

-----
Status of availa

[2021-05-25 16:38] jamshedd commented on #5013
@bachratyg The latest ANCM always works with older runtimes, for eg. if you have 2.1, 3.1 and 5.0 installed then the 5.0 hosting bundle always has the latest ANCM and that works with all 3 runtimes. So you can install the hosting bundle corresponding to the highest runtime you plan to use.

[2021-05-25 16:41] jamshedd commented on #5013
@ernstscheithauer, that's exactly right. Once run the hosting bundle it will run 3 internal installers - for the .NET Core runtime, ASP.NET Core runtime, and ANCM. Once these 3 are installed they can be individually updated via MU. We have shipped updates for both the .NET Core runtime and ASP.NET Core runtime and those would get offered and installed.

You can check the version of the .NET Core r

[2021-05-25 16:56] #6281 closed

[2021-05-25 16:57] leecow commented on #6281
That was a bit of an archeology project ;-) @nash2k - should be good to go now.

[2021-05-25 17:12] nash2k commented on #6281
Thanks for digging! You're the best!

[2021-05-25 18:17] KamranShahid commented on #2802
What i believe is in .net core 3 it was the first step to at-least use within framework implementation of simpler thing rather then using newtonsoft or other third party libraries. in 5.0 early feedbacks about shortcoming were address  (as 5.0 is not LT release) and possibly expecting more improvement by the time of .net core 6.0 finalized.
moreover writer of newtonsoft library was even full time

[2021-05-25 18:48] jwilson-proag commented on #2802
Good call.  I have been doing a little research into the topic and what I found is that the major reasons for moving towards System.Text.Json is because Newtonsoft releases updates on a pretty regular schedule, much faster than Microsoft.  This opened the door to runtime errors if there were version mismatches within the .net core framework and the implemented version in a given software.  Impleme

[2021-05-25 19:42] mthalman commented on #5646
Runtime platform dependency model for .NET 6 has been defined: https://github.com/dotnet/core/pull/6170

[2021-05-25 20:53] deathchurch commented on #5013
So for the ANCM package is the best place to check for updates to that on the get dotnet download page?

[2021-05-25 20:59] jamshedd commented on #5013
ANCM doesn't ship stand-alone, it ships only as part of the hosting bundle. We've not had any ANCM fixes since we started shipping on MU back in Dec 2020. So if you were to take the latest hosting bundle it will install the same version as 6 months ago.

[2021-05-25 21:03] marcpopMSFT commented on #6278
Every time the SDK updates it's minimum MSBuild required version number, O# will have to update the version of MSBuild.  They can query directly in the SDK branch or we can have someone on the breaking change email track this.  Open to suggestions.  We will do this 1-2 times a year.

[2021-05-25 22:51] rbhanda commented on #6284
@mairaw Can you help us here?

[2021-05-25 23:10] delneg commented on #6295
Hello, it seems that there's a dead link in the blog post (https://devblogs.microsoft.com/dotnet/announcing-net-6-preview-4/):

https://github.com/dotnet/core/blob/master/release-notes/6.0/6.0-supported-os.md

it's in the 'support' section near the end, on the 'platform matrix' hyperlink

[2021-05-26 00:17] mairaw commented on #6295
@richlander can you take care of that broken link on the blog post?

[2021-05-26 01:37] mattsonlyattack commented on #6191
for me `dotnet nuget list source` was empty, added nuget and I was good..

[2021-05-26 01:41] cartermp commented on #6191
Hmmm, yeah, that would point towards some kind of setup error. FSharp.Core is just in the regular old NuGet feed, so I wonder if there's an SDK install issue?

[2021-05-26 01:54] mattsonlyattack commented on #6191
fyi

[code]

[2021-05-26 04:01] richlander commented on #6278
Is this just a missing checklist item then?

[2021-05-26 04:17] richlander commented on #6295
Fixed. Thanks.

[2021-05-26 05:54] uffebjorklund commented on #2802
We removed Newtonsoft in favor of System.Text.Json in our products when we moved to .net 5.
Sure, we had to implement some custom converters, but we get less allocations and more control.
Can see why some would like to continue using Newtonsoft, but the move to System.Text.Json was an easy decision for us.

[2021-05-26 06:02] potsy2602 commented on #5962
Thanks for posting mairaw :)  Fixed my issue

[2021-05-26 08:39] GeorgeFlorian commented on #6278
Where can I find `omnisharp.path` ? What .json file should contain it ?

![where](https://user-images.githubusercontent.com/39895513/119629742-f7bf4f00-be16-11eb-86e0-95f4bb77ab50.png)

[2021-05-26 09:43] MagicAndre1981 commented on #6016
The Release Notes from the Releases here on github still point to master

![image](https://user-images.githubusercontent.com/8274816/119639003-7c11d200-be17-11eb-8ada-7b416ee309d8.png)

@mairaw @terrajobst

[2021-05-26 09:46] MagicAndre1981 commented on #6295
As [written in the older issue](https://github.com/dotnet/core/issues/6016#issuecomment-848628214), the release notes still point to master branch and not main, which results in showing the message "Branch master was renamed to main."

![image](https://user-images.githubusercontent.com/8274816/119639456-eb87c180-be17-11eb-978e-bc948f8e2916.png)

[2021-05-26 10:29] bairog commented on #5567
**.NET Hot Reload** [was announced today ](https://devblogs.microsoft.com/dotnet/introducing-net-hot-reload/) and it is stated that

@LyalinDotCom maybe you clear MS intentions: does .NET 6 (I mean final version, not preview) development will be available **exclusively** in Visual Studio 2022 or it will be also possibe in future versions of Visual Studio 2019?
Thank you in advance.

[2021-05-26 10:37] Ofisayomi commented on #3487
Changing **bin/Debug/netcoreapp2.2** to **bin/Debug/netcoreapp3.1** in **.vscode/launch.json** on ubuntu with vscode fixed it for me

[2021-05-26 12:14] Sourabh721992 opened #6304 "Tag Helper is generating the empty link"
I am trying creating link using tag helper but that is creating the empty link. I have included Tag helper reference as well. PFB the code:

@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
<a asp-controller="home" asp-action="details" asp-route-id="@emp.Id" class="btn btn-primary">View</a>

Output
<a class="btn btn-primary" href="">View</a>

[2021-05-26 13:12] ManickaP commented on #6304
Hi @Sourabh721992 could you please specify in more detail what you're doing and what you're trying to achieve? Could you share a minimal reproduction (source code) of the problem so we can help.

[2021-05-26 13:16] Ao-2 opened #6305 "> Thanks for this addition in the documentation! That will clearly help some developers!"
Thanks @Ellerbach!

_Originally posted by @pjgpetecodes in https://github.com/dotnet/core/issues/6258#issuecomment-840011464_

[2021-05-26 14:14] timheuer commented on #5567
@bairog Yes the current plan is that Visual Studio 2022 will be the supported tool version for .NET 6 development (when final as you note).

[2021-05-26 14:17] julesrx opened #6307 "Solution item not included with CopyToPublishDirectory"
### Description
I'm having a difference in behavior when using CopyToPublishDirectory with a Solution item.

I want to copy my `cnxstrings.json` file in the publish output.
Here is my solution structure :
[code]

My csproj item :
[code]

When running `dotnet publish` (the folder defaults to `src/Web/bin/Debug/net5.0/publish`):
- from the solution root : the `cnxstrings.json` is present in the publ

[2021-05-26 14:47] bairog commented on #5567
I think Microsoft should reconsider that plan and make .NET 6 (final version) available **both** for Visual Studio 2019 and 2022 (latter may have more rich tooling).
Many companies recently invested in the purchase of Visual Studio 2019 due to the long lack of news about Visual Studio VNext.
Thank you in advance.

[2021-05-26 14:48] deathchurch commented on #5013
@jamshedd thanks for the replies and additional info, I think I am almost there, but for this last query.

If MU takes care of .NET Core and ASP.NET Core runtimes, that is fine, but as you say it does not currently take care of the hosting bundle which is the only way that the ANCM is updated, there could be a false pretence that you are feeling you are keeping up to date with MU but maybe once a

[2021-05-26 17:11] ManickaP commented on #6305
This was probably created accidentally, closing.

[2021-05-26 17:11] #6305 closed

[2021-05-26 17:41] ManickaP commented on #6307
I'd suspect that `$(SolutionDir)` will be null/empty/undefined when you run the command from the project dir. Relative path to the project file (`$(ProjectDir)..\cnxstrings.json`) might work better in this case.

[2021-05-26 18:20] Ao-2 opened #6308 "pjgpetecodes:add-pete-codes-remote-debug"
### Description

### Configuration

### Regression?

### Other information

[2021-05-26 18:20] Ao-2 commented on #6308
pjgpetecodes:add-pete-codes-remote-debug

[2021-05-26 18:21] Ao-2 opened #6309 "pjgpetecodes:add-pete-codes-remote-debug"
pjgpetecodes:add-pete-codes-remote-debug

_Originally posted by @Ao-2 in https://github.com/dotnet/core/issues/6308#issuecomment-849014350_

[2021-05-26 18:34] asymmetricblue commented on #5013
@jamshedd in your blog post last November, you wrote:
"The third component not independently serviced outside the hosting bundle – ASP.NET Core Module (ANCM) does not need frequent servicing, **and we plan to enable MU updates for the hosting bundle before we need to service this.**"

Given that the hosting bundle will need to change for .NET 6 this fall, is it safe to assume that this is still a

[2021-05-26 18:38] JoeRobich commented on #6278
@GeorgeFlorian We've published an updated version 1.23.12 which contains the latest toolset. Please let us know if it resolves the issue you are seeing.

[2021-05-26 20:18] rpavlik commented on #4235
I also have interest in this - I normally use the https://reuse.software tool's `reuse spdx` command, but that doesn't include assemblies I'm pulling in via NuGet (because the files extracted from nuget packages are gitignored, and the reuse tool doesn't understand nuget metadata).  Even just a way to extract dependencies' declared licenses would be useful - there are those "deps" files in the out

[2021-05-26 21:10] sschultze commented on #6278
I had the same problem and I can confirm that upgrading to version v1.23.12 solved it.

[2021-05-26 23:57] jamshedd commented on #5013
@asymmetricblue , the bug blocking delivery of the hosting bundle via MU is being tracked by this issue:

https://github.com/dotnet/aspnetcore/issues/28537#issuecomment-838772912

[2021-05-27 03:08] #6280 closed

[2021-05-27 03:54] putraokta160195 opened #6310 "NHOS"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-05-27 06:16] Sourabh721992 commented on #6304
Hi,

I am using a tag anchor link to go from view, Index.cshtml to view, Details.cshtml. Both views are linked to HomeController in the solution. But what is happening is tag helper is creating empty link for me. I am attaching all the files.

[Index.txt](https://github.com/dotnet/core/files/6551521/Index.txt)
[Details.txt](https://github.com/dotnet/core/files/6551522/Details.txt)
[_ViewImports.tx

[2021-05-27 10:13] ManickaP commented on #6308
It looks like automation generated content, perhaps your account has been hacked? ... Please try to address that and don't post issues without content, otherwise we might have to block your account / report it to GitHub. Thank you!

[2021-05-27 10:13] #6308 closed

[2021-05-27 10:13] ManickaP commented on #6309
It looks like automation generated content, perhaps your account has been hacked? ... Please try to address that and don't post issues without content, otherwise we might have to block your account / report it to GitHub. Thank you!

[2021-05-27 10:13] #6309 closed

[2021-05-27 10:16] ManickaP commented on #6310
Can you please provide details about the problem you're experiencing? Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-05-27 10:33] ManickaP commented on #6304
Are you following any example or documentation?
https://docs.microsoft.com/en-us/aspnet/core/mvc/views/tag-helpers/intro?view=aspnetcore-5.0 might help you, there are also some samples here: https://github.com/dpaquette/TagHelperSamples

Unfortunately, this is beyond my knowledge. @Pilchie is this something you can help with?

[2021-05-27 11:25] Sourabh721992 commented on #6304
Yes I have followed the documentation but I am not sure why the link is href is not getting generated.

[2021-05-27 13:36] #6282 closed

[2021-05-27 13:42] julesrx commented on #6307
This works in both cases. Thank you 👍

[2021-05-27 13:47] ManickaP commented on #6307
Great to hear it helped. Closing the issue as it's resolved.

[2021-05-27 13:47] #6307 closed

[2021-05-27 14:27] tjscience opened #6311 "Uing Ctrl+R while running dotnet watch run command no longer works."
When running "dotnet watch run" command for a project, if the code is not a supported edit, we must press Ctrl+R to reload the running app manually. This is no longer working in .net6 preview 4. Nothing happens.

[2021-05-28 06:27] Haseeb420 opened #6312 "dotnet is not recognized as an internal or external cammand, operable program or batch file."
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

when I run the "**dotnet**" command on the command prompt the following error has occurred.
    **"**dotnet is not

[2021-05-28 06:56] ManickaP commented on #6312
Hi @Haseeb420,

have you installed .NET? https://docs.microsoft.com/en-us/dotnet/core/install/windows?tabs=net50

[2021-05-28 07:57] ManickaP commented on #6312
But have you installed .NET? If you look into `C:\Program Files` do you see directory `dotnet` and does it contain other subdirectories and `dotnet.exe`?

[2021-05-28 08:04] Haseeb420 commented on #6312
yes. It contains dotnet.exe file along with the following directories host, packs, SDK,  shared, swidtag, templates.
 dotnet only works when I uninstalled node js. It is conflicting with npm.

[2021-05-28 08:16] ManickaP commented on #6311
Hi @tjscience,
I just quickly tried a simple MVC app in .NET 6.0 preview 4 (specifically Microsoft.AspNetCore.App 6.0.0-preview.4.21207.16 runtime), run it with `dotnet watch` and made a simple change in code. The app reloaded the change on it's own and it worked like charm.

Could you please specify in more detail under what conditions it doesn't work for you?
- operating system
- exact version o

[2021-05-28 08:22] ManickaP commented on #6312
Then few more things to check:
- Did you close and open a new command prompt after installation?
- Is the directory where dotnet.exe is in the system PATH (`echo %path%`)?

[2021-05-28 08:28] Haseeb420 commented on #6312
Yes, I reopened my command after installation.
My problem is resolved its system path variable problem.
Thanks for the help.

[2021-05-28 08:37] Haseeb420 commented on #6312
@ManickaP thanks for your help and support.

[2021-05-28 12:14] tjscience commented on #6311
Hi, can you please try with a blazor webassembly app? I just created a new project from the template in visual studio and it does not work.

- operating system => Windows 10
- .NET version => 6.0.100-preview.4.21255.9
- source code => the source code generated from creating a new blazor webassembly app in visual studio
- not working => I have not gotten any change to work that is a supported edit

[2021-05-28 14:17] shrinidhi111 opened #6313 "Thought process behind why a lambda function value cannot be assigned to const variable?"
I wrote a lambda function to generate repeated dashes and assign to a variable (I later understood this could be achieved with `new String('=', 20)` but thats another story).

Code looks like this.

[code]

This works as expected but if I change `public static string Dashes` to `public const string Dashes` it will throw the error `The expression being assigned must be constant`

I understand if th

[2021-05-28 14:56] tjscience commented on #6311
I change the browser from Brave to Chrome and it started to work.

[2021-05-28 14:56] #6311 closed

[2021-05-28 15:01] svick commented on #6313
The keyword `const` is a bit different in C# than in other languages. In C#, `const` requires the *the compiler* understands what the value is and that it never changes. And since the compiler is very limited in this regard, `const` fields are very limited in what you can assign to them. Instead, you should mark the field as `readonly`.

[2021-05-28 21:58] andreiZi opened #6314 "Error MSB4019: The imported project was not found - Arch Linux Manjaro"
### Description
I got an issue when building and running my dotnet core application on a different partition. I have multiple hard drives and partitions on my system and have no issues running dotnet apps on my partition where I have installed my operating system. However, I use a different partition for my development projects. Now if I want to run my application I get the following error message

[2021-05-28 22:39] #6275 closed

[2021-05-28 22:39] #6283 closed

[2021-05-28 22:39] #6287 closed

[2021-05-28 22:39] #6288 closed

[2021-05-29 15:22] PhilT commented on #6191
Oh my! This was driving me mad! Just tried to restore a project I haven't used on my laptop and was getting the same error message.

As suggested by @mattsonlyattack `dotnet nuget list source`  was empty so doing  `dotnet nuget add source https://api.nuget.org/v3/index.json -n nuget.org` then `dotnet restore` sorted it.

[2021-05-29 18:45] Gabriel-Tavares-GB commented on #6144
When Microsoft released version 1.0 it rated it stable for production. So we can objectively and officially say that yes, it is ready to be used in commercial applications.

In fact, a lot of people are already using it under these conditions.

Some people complain about some things. Including the lack of some components. Some that will never be implemented because it doesn't make sense in the .NE

[2021-05-30 04:03] oddonet opened #6315 "The counter on index page continue to increment by 1"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/modify
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

The parameter for incrementAmount did not work. The counter on index page is still incrementing by 1 after the change

[2021-05-30 18:00] securylight commented on #6247
I need to remove hosting bundle and no matter what I tried I can't remove it.

The following items will be removed:
  Microsoft .NET Core 3.1.15 - Windows Server Hosting

To avoid breaking Visual Studio or other problems, read https://aka.ms/dotnet-core-uninstall-docs.

Do you want to continue? [y/n] y
Uninstalling: Microsoft .NET Core 3.1.15 - Windows Server Hosting.
The uninstallation operation

[2021-05-30 18:42] ruiseixasm opened #6316 "winmm.dll MidiInStart call fails on .Net Core"
### Description

I develop a code for receiving Midi input messages and always had an error concerning the `MidiInStart` function of the winmm.dll, always returned the value 5. This happen for C# and VB code.

### Code in C#

[code]

### Code in VB

[code]

### Conclusion

I don't know id this is relevant or not, but it may also happen with other DLL Imports and thus my submission.

[2021-05-31 03:27] manpaiboy opened #6317 "我可以直接升级webform到.NET6吗"
我在2013年创办了 asp.net源码 网站 使用的是webform
现在想升级到.NET6 ，可行吗？

[2021-05-31 03:27] manpaiboy commented on #6317
网站的地址是 [www.myaspx.com](url)

[2021-05-31 03:28] manpaiboy commented on #6317
www.myaspx.com

[2021-05-31 03:28] manpaiboy commented on #6317
网站的地址是 www.myaspx.com

[2021-05-31 05:39] expcat commented on #6317
Cannot, .Net 6 doesn't support webform.

You can try [blazor](https://docs.microsoft.com/zh-cn/aspnet/core/razor-pages/?view=aspnetcore-6.0&tabs=visual-studio) or razor [pages](https://docs.microsoft.com/zh-cn/aspnet/core/blazor/?view=aspnetcore-6.0).

[2021-05-31 10:48] ManickaP commented on #6314
Hi @andreiZi,
I don't think the problem is related to the code being on a different partition. I think the problem resides in having `L:` in the path. `:` is, in general, allowed character on *NIX systems, but it has a special meaning in Windows.

Could you try to rename your mount points and retry your running project?

Note that supporting `:` in file path is something that is not currently supp

[2021-05-31 11:01] ManickaP commented on #6315
Hi @oddonet,
can you confirm that the change doesn't propagate even after:
- reloading the page
- restarting the process

This might be an issue with hot-reload and blazor, but let's confirm that first.

[2021-05-31 11:14] ManickaP commented on #6317
Hi @manpaiboy,
I see that @expcat tried to answer your question and I hope it helped. Unfortunately, we cannot help unless you ask your question in English. I'll close this for now, since there's nothing we can do for you at the moment. If you have further questions, please feel free to reopen.

[2021-05-31 11:14] #6317 closed

[2021-05-31 11:18] ManickaP commented on #6316
Hi @ruiseixasm,

could you share more info about your environment. Which version of Windows you're using (`winver` from command line)? Which version of dotnet core you're using (`dotnet --info` in command line)? And with which version of .NET Framework did it work?

[2021-05-31 12:41] andreiZi commented on #6314
Hi @ManickaP,
it was indeed the colon (:) that caused the issue. It works fine after I removed it.

Thank you very much!

[2021-05-31 12:41] #6314 closed

[2021-05-31 13:06] Just-a-Unity-Dev commented on #5962
thank you so much, i've been trying different solutions for so long!

[2021-05-31 15:13] ruiseixasm commented on #6316
Hi @ManickaP,

My Windows 10 version is the 1909 (compilation 18363.1474).

The return of the `dotnet` command is the following:

[code]

Concerning the **.Net Core** where the above code fails is the 3.1, however it fails too on the version 5.0! The version **.Net Framework** where the code above runs successfully is the 4.7.2.

[2021-05-31 22:07] BillEisenman opened #6318 "Problem running Blazor Tutorial on Windows 10 (x64)"
A problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/run
Operating System: Windows 10 - 64-bit Pro

Unable to load - The connection for this site is not securelocalhost sent an invalid response.
Try running Windows Network Diagnostics.
ERR_SSL_PROTOCOL_ERROR

on running BlazorApp using dotnet watch run

[2021-06-01 12:19] ManickaP commented on #6318
Hi @BillEisenman,

have you used `--no-https` when you created the project? https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/create There shouldn't be any SSL involved.

[2021-06-01 12:21] ManickaP commented on #6313
I hope the question is answered here, closing the issue.

[2021-06-01 12:21] #6313 closed

[2021-06-02 00:18] mairaw commented on #6284
Thanks for reporting this and apologies for the delay. I was out for the last couple of days. I'll get that fixed.

We enabled globalization in our site and apparently introduced some bugs with it.

[2021-06-02 01:07] CypherCrow opened #6319 "I installed dotent, opened a new command prompt, and prompt is still not recognizing dotent"
As it says on the issue title, I tried to open a new command prompt after it did not recognize dotent. After doing so, I typed `dotent` again, and the command prompt is not recognizing it still.

[2021-06-02 01:08] mairaw commented on #6318
/cc @danroth27

[2021-06-02 01:09] mairaw commented on #6319
The name of the command is dotnet. Are you sure you're typing the command name correctly?

[2021-06-02 04:48] CypherCrow commented on #6319
Yes. I typed the command as it is. No misspellings.

[2021-06-02 05:31] danroth27 commented on #6318
Please try either creating the site without HTTPS enabled using the `--no-https` switch, or run `dotnet dev-certs https --trust` to trust the ASP.NET Core development certificate.

[2021-06-02 07:22] vangitech opened #6320 "asp.net"
Open Pages/Index.cshtml in any text editor and replace all of the code with the following, then save the file.

[2021-06-02 09:23] vangitech opened #6321 "i need help to complete this"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/modify
Operating System: windows

Open Pages/Index.cshtml in any text editor and replace all of the code with the following, then save the file.

[2021-06-02 10:44] Kla3mus opened #6322 "Custom launchSettings.json profile causes "Unable to configure HTTPS endpoint. No server certificate was specified""
### Description

When creating a new standard blazor serverside (with docker) project, and adding the following to launchSettings.json:

[code]

I basically copied the entry for Docker, renamed Docker to DockerTest and added the environmentVariables

Then selecting that particular profile and run it, I get the following exception:
![image](https://user-images.githubusercontent.com/6784123/12046649

[2021-06-02 13:06] ManickaP commented on #6321
@vangitech could you add more info in the original issue #6320? I asked you there few specific questions to answer. Closing this as a dupe.

Duplicate of https://github.com/dotnet/core/issues/6320

[2021-06-02 13:06] #6321 closed

[2021-06-02 15:14] ManickaP commented on #6322
I did some experimenting and since you're switching the environment to one that is not from the predefined 3: Development, Staging, Production; it's somehow not able to pick up the trusted cert. I assume there's some piece of configuration that needs to be done for the new environment.

Is using your custom environment something that's necessary for you? I assume that if you switch back to "Develo

[2021-06-02 16:06] #6284 closed

[2021-06-02 17:23] Pilchie commented on #6322
@javiercn any ideas here?

[2021-06-02 17:26] #6289 closed

[2021-06-02 17:29] mairaw commented on #6172
Is your problem solved @avikdutta111191?

[2021-06-02 17:30] javiercn commented on #6322
@Pilchie It's a combo between the custom environment and Docker.

The way docker works from VS requires the environment to be `Development`. Otherwise we don't try to probe the filesystem for the developer certificate (for security reasons).

When you use a custom environment you need to setup the certificate explicitly via config.

We have docs [here](https://docs.microsoft.com/en-us/aspnet/core/

[2021-06-02 19:06] mairaw commented on #6320
You can open that file in VS Code or Notepad. That file will be under the Pages directory inside the myWebApp folder.

[2021-06-02 19:07] mairaw commented on #6319
Can you paste a screenshot for us?

[2021-06-02 22:43] AaronRobinsonMSFT commented on #5156
We want to thank everyone for their comments and votes on this. We have also received this feedback on other forums and wanted to provide you with an update.

The VSTO/COM Add-Ins platform is very important to Microsoft, and we plan to continue to support it in Office with .NET Framework 4.8 as the last major version. If you have existing .NET Framework solutions that you are maintaining, there is

[2021-06-02 22:43] #5156 closed

[2021-06-03 00:25] CypherCrow commented on #6319
![dotent-screenshot](https://user-images.githubusercontent.com/57231486/120567883-93c4f980-c3c7-11eb-9c41-f7d7b2dc0bc2.PNG)

[2021-06-03 00:39] mairaw commented on #6319
The name of the command is `dotnet` not `dotent`. See if typing `dotnet` will work for you.

[2021-06-03 07:51] pinnaclepools opened #6324 "unable to install.NET"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

C:\Users\pinna>dotnet
'dotnet' is not recognized as an internal or external command,
operable program or batch fil

[2021-06-03 08:03] ManickaP commented on #6324
Hi @pinnaclepools,

have you restarted the command line after installing the dotnet?

[2021-06-03 10:39] #6310 closed

[2021-06-03 11:24] chriss2401 commented on #5070
Hi, I am seeing the same issue in .Net 5 on ubuntu 20.04. Are there any updates on how to solve having a console app/ test project with this bug ?

[2021-06-03 16:26] leecow opened #6325 "What's new in .NET 6 Preview 6 [WIP]"
# What's new in .NET 6 Preview 6

This issue is for teams to highlight work for the community that will release .NET 6 Preview 6.

To add content, use a new conversation entry. The entry should include the team name and feature title as the first line as shown in the template below.

[code]
Preview 1: https://github.com/dotnet/core/issues/5853
Preview 2: https://github.com/dotnet/core/issues/5889

[2021-06-03 18:24] mairaw commented on #5070
@chriss2401 I suggest you open a new issue at https://github.com/dotnet/wpf/issues.

[2021-06-03 19:29] Pochpro opened #6326 "dotnet"
![cmd_MGloUJe9ob](https://user-images.githubusercontent.com/53707272/120701116-abda6d00-c4dc-11eb-9b24-cc6f74b2a433.png)
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relev

[2021-06-03 19:32] mairaw commented on #6326
In that page, you can see some guidance around this specific error:
![image](https://user-images.githubusercontent.com/12971179/120701393-a0009380-c467-11eb-822b-66c523eee08c.png)

Change your directory to one that you have permissions to create a folder, such as `c:\users\<username>`, where `<username>` is your user name on Windows.

[2021-06-03 19:35] mairaw commented on #6121
Any other suggestions @shirhatti?

[2021-06-03 19:37] mairaw commented on #6117
@snlinfo2 can you please paste the contents from your `.vscode/launch.json` file?

[2021-06-03 19:46] mairaw commented on #5985
Do you still need help here @Ellie-Yen?

[2021-06-03 21:10] leecow commented on #5995
Yes, the AWS instance (container?) will need to be configured to open a port through which the local browser can connect to the running MVC application. Unfortunately, I don't know off the top of my head how to set this up though something like `docker run -p 8080:80 -it amazonlinux` should set up an interactive instance with an open port. Hopefully that's enough to get you started.

[2021-06-03 22:58] Haack79 opened #6327 "Cube didn't rotate"
Problem encountered on https://dotnet.microsoft.com/learn/games/unity-tutorial/run
Operating System: windows

there was no error given, it's just when i hit run build , the image came up but was not rotating.

[2021-06-03 23:00] #6327 closed

[2021-06-04 00:12] JoshTefay opened #6328 "Add support for .NET Core and .NET Framework side-by-side in same process"
Currently, it's not possible for applications to host both .NET Framework and .NET Core CLRs together in the same process. This creates an impediment for applications that need to load components that can use either runtime. Having support for this would be particularly useful in COM scenarios.

The recent announcement that VSTO will not be updated to support building Office add-ins using .NET Cor

[2021-06-04 00:38] tannergooding commented on #6099
Parsing of BigIntegers from both decimal and hexadecimal strings was improved: https://github.com/dotnet/runtime/pull/47842

We saw improvements of up to 89%: https://github.com/DrewScoggins/performance-2/issues/5765

[2021-06-04 00:42] tannergooding commented on #6099
Inlining of certain methods involving SIMD or HWIntrinsics should now have improved codegen and perf.

We saw improvements of up to 95%: https://github.com/DrewScoggins/performance-2/issues/5581

[2021-06-04 00:43] tannergooding commented on #6099
`Vector<T>` now supports the `nint` and `nuint` primitive types added in C# 9: https://github.com/dotnet/runtime/issues/50832

This should make it simpler to SIMD code involving pointers or platform dependent lengths.

[2021-06-04 04:33] RussKie commented on #6099
Windows Forms has received a new API `Application.SetDefaultFont` that allows setting an application-wide default font: https://github.com/dotnet/winforms/pull/4911

[2021-06-04 05:14] AaronRobinsonMSFT commented on #6328
@JoshTefay This is a long standing limitation for NET Core and .NET 5+ and at present considered "by-design". I would recommend moving this to the [dotnet/runtime](https://github.com/dotnet/runtime) repo where we have a few issues discussing the topic. The latest is https://github.com/dotnet/runtime/issues/49686. I realize trying to determine where to file these issues is very confusing, but in th

[2021-06-04 05:19] AaronRobinsonMSFT commented on #6328
Another discussion with more technical details can be found at https://github.com/dotnet/runtime/issues/12018.

[2021-06-04 06:09] CypherCrow commented on #6319
Oh, silly me. Thanks!

[2021-06-04 06:09] #6319 closed

[2021-06-04 06:29] arknu commented on #6328
The same issue also happens with multiple versions of .NET 5+ in the same process, see https://github.com/dotnet/runtime/issues/49686#issuecomment-809221630

[2021-06-04 08:20] JoshTefay commented on #6328
@AaronRobinsonMSFT thanks. Could you please move this issue to the recommended repo? I don't see an option to do this.

[2021-06-04 11:45] palashshrote opened #6329 "error in printing date and time"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/edit
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

//
Can't able to figure out the date and time
![Screenshot (2742)](https://user-images.githubusercontent.com/62279315

[2021-06-04 12:10] anatolybolshakov commented on #5989
We affected also while updating of Azure pipelines agent to use last patch version of SDK 3.1 (related PR: https://github.com/microsoft/azure-pipelines-agent/pull/3432)
@georgevanburgh @sfoslund do you know if it's expected that there are no RHEL binaries with security updates shipped, so we need to rework our flow according to it? Or there are any plans to include it?

[2021-06-04 12:52] omajid commented on #6329
It's `DateTime.Now`. Note the capital `N` in `Now`.

[2021-06-04 13:59] ManickaP commented on #6329
@palashshrote was your question answered? Can we close this now.

[2021-06-04 15:31] sfoslund commented on #5989
I'm not sure, @leecow are you the right person to comment?

[2021-06-04 15:52] bartonjs commented on #6099
.NET Cryptography on Linux supports using OpenSSL 3 as the native provider.  The any-distro "portable" builds will try OpenSSL 3 before the previous versions.

[2021-06-04 16:17] bartonjs commented on #6099
The ChaCha20/Poly1305 algorithm now has representation in System.Security.Cryptography via the new ChaCha20Poly1305 class. OS support is required for this type (check the static `IsSupported` property).  Windows: build 20142 or higher (currently requires the Dev "insider" channel).  Linux: requires OpenSSL 1.1 or higher.

https://github.com/dotnet/runtime/pull/52030 (Windows).  Linux support was e

[2021-06-04 19:04] dleeapho commented on #5989
The [.NET Core 3.1 - Supported OS versions](https://github.com/dotnet/core/blob/main/release-notes/3.1/3.1-supported-os.md) states that .NET Core 3.1 support ended with RHEL6 EOL on 11/30/2020
@georgevanburgh @anatolybolshakov do you have extended service programs with Red Hat for RHEL 6?

[2021-06-04 19:12] leecow commented on #5989
Dan is correct, our last update for RHEL 6 was 3.1.10 (3.1.404 SDK) on 11/10/2020.

[2021-06-04 20:03] joperezr commented on #6325
Added TLS support for System.DirectoryServices.Protocols in Unix, which was one of the biggest gaps between the Windows and new Windows implementation. PR: https://github.com/dotnet/runtime/pull/52904

Provided by community member @iinuwa

[2021-06-04 22:35] AaronRobinsonMSFT commented on #6099
## Interop: Objective-C interoperability support

API: https://github.com/dotnet/runtime/issues/44659
Feature flag for [`NSAutoreleasePool` support](https://docs.microsoft.com/dotnet/core/run-time-config/threading#autoreleasepool-for-managed-threads).

The .NET Interop team worked with the Xamarin owners to enable the Xamarin.MacOS libraries to run on top of CoreCLR. Along with providing an explic

[2021-06-04 22:51] marcpopMSFT commented on #6099
.NET SDK Optional Workload improvements
---
Building on the work that released in [preview 4](https://devblogs.microsoft.com/dotnet/announcing-net-6-preview-4/#cli-install-of-net-6-sdk-optional-workloads) for optional workloads, we've added two additional features.
`dotnet workload list` will let you see what workloads you have installed in the .NET SDK you are using
`dotnet workload update` will

[2021-06-05 10:13] ppoinfotech opened #6331 "ubuntu 20.04"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: linux

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

stack smashing terminated

[2021-06-05 10:55] peirens-bart opened #6332 "Type.GetMethod different behaviour then dotnet core 2.2"
I'm migrating code from dotnet core 2.2 to .Net 5.0, Here i have code that doesn't work anymore with breaks a core feauture off our app.

The code is getting the count off items per team where the user has reading wrights. for doing this I create a list of types off aggregates types and then gets the met Set<T> on the Entity framework DbContext so I can invoke a query on that set.
This code is wor

[2021-06-05 16:34] Richbward commented on #6256
I'm getting the same problem using VS2019 Preview (I'm on Windows 10).  When I click on Help/Check for Updates it comes back with, “Visual Studio is up to date”.

Per your response above I then went to https://dotnet.microsoft.com/download/dotnet/5.0 and chose SDK 5.0.300 for Windows x64.  When finished it reported:
.NET SDK 5.0.203
.NET Runtime 5.0.6

I tried running the same command again that o

[2021-06-06 09:45] cpmeena14 opened #6333 "Hello World in .net"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/modify
Operating System: windows
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Hello, world!</h1>
    <p>The time on the server is @DateTime.Now</p>
</div>

Provide details about the problem you're experiencing. Include your operating system version, exact er

[2021-06-07 07:42] ajithvallabai opened #6334 "Is there any internal command line parser in dotnet"
Hi,
Is there any internal command line parser in dotnet that doesnt create a .dll file while execution ?

[2021-06-07 08:24] ManickaP commented on #6332
`contectType.GetMethod(nameof(_context.Set), Type.EmptyTypes);` should work for you.
See: https://docs.microsoft.com/en-us/dotnet/api/system.type.getmethod?view=net-5.0#System_Type_GetMethod_System_String_System_Type___

I hope the question is answered here, I'll close this. If you have more questions, please feel free to reopen.

[2021-06-07 08:24] #6332 closed

[2021-06-07 08:35] ManickaP commented on #6333
Hi @cpmeena14,

The edits from the tutorial should go in `Index.cshtml` file not `Index.cshtml.cs` as your compilation errors show.

I'll close this as the question should be answered. Feel free to reopen if not.

[2021-06-07 08:35] #6333 closed

[2021-06-07 08:53] ManickaP commented on #6334
I assume you could easily find multiple libraries and check if some of them fit your requirements.

Note that this is my personal recommendation and not an official one from Microsoft, but I've seen this https://github.com/dotnet/command-line-api used for instance here:
https://github.com/dotnet/runtime/blob/5c0a1faf8fc3c8e9d4596b31ac0fbc3173a1915e/src/libraries/System.Net.Http/tests/StressTests/H

[2021-06-07 11:56] #6315 closed

[2021-06-07 13:18] ajithvallabai commented on #6334
@ManickaP  i checked those libaries (Commandlineparser, System.CommandLine ) they are prodcing a .dll file when i am building it . Is there any libariry that i can use from references(Assemblies or COM objects) for command line parsing

[2021-06-07 13:31] ManickaP commented on #6334
What do you mean by "prodcing a .dll file when i am building it"? Do you mean that there's an extra dll in the output for the referenced library? Like `System.CommandLine.dll`? Or do you mean something else?

If yes, there's not baked-in support for command line parsing in .NET AFAIK.

BTW, this is normal behavior for referenced packages. If you'd prefer more compact output you can check out `-p:P

[2021-06-07 13:47] ajithvallabai commented on #6334
yes there is a extra dll file(System.CommandLine.dll) in the "Release"(output) folder. if i want to use only .exe file in a separate place i need to include .dll file along with it , my target is to elimiate the need to .dll file .      I will look into the link you gave . also another question Is there any library for commandline parser avaliable here (https://ibb.co/Hgcy2mk ) in Assemblies or CO

[2021-06-07 14:18] ManickaP commented on #6334
If your goal is to have a single exe to deploy than what I linked should help you, there's some more detailed documentation about it: https://docs.microsoft.com/en-us/dotnet/core/deploying/single-file

What you are linking is .NET Framework, that's out-of-scope for this repository, but AFAIK there isn't framework support for command line parsing. You could use one of the linked libraries (as a nug

[2021-06-07 14:18] #6334 closed

[2021-06-07 14:39] ajithvallabai commented on #6334
@ManickaP  thanks

[2021-06-07 16:12] rainersigwald commented on #6256
@Richbward

These parts of that output

indicates that you're using .NET Core SDK 3.1.409, rather than .NET SDK 5.0.xxx, which is required to target .NET 5.0.

I tried using your Dockerfile and it seems to work fine to me--the `dotnet/sdk:5.0` container has `5.0.300` installed.

One difference I find interesting is that the step number is 7/7 instead of 6/6 as you posted:

[code]

Is that your ful

[2021-06-07 21:07] CarnaViire commented on #6099
## Networking: WebSocket Compression

User Story: https://github.com/dotnet/runtime/issues/20004
API: pt.1 https://github.com/dotnet/runtime/issues/31088#issuecomment-754854011 pt.2 https://github.com/dotnet/runtime/issues/31088#issuecomment-810509834

This is an implementation of `permessage-deflate` extension for WebSockets, [RFC 7692](https://tools.ietf.org/html/rfc7692). It allows compressing

[2021-06-08 02:09] chillNZ commented on #2001
This fixed my issue:

[code]

See https://stackoverflow.com/questions/54010365/how-to-see-what-is-reserving-ephemeral-port-ranges-on-windows and https://github.com/microsoft/WSL/issues/5306.

[2021-06-08 10:36] Bonuspunkt commented on #5713
which version of Windows Server is required?

[2021-06-08 11:58] bishal93-stack-ux opened #6335 "Syntax error"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/modify
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-06-08 12:29] #6318 closed

[2021-06-08 17:00] rbhanda opened #6337 ".NET June 2021 Update - .NET 5.0.7 and .NET Core 3.1.16"
Release Notes
[5.0.7](https://github.com/dotnet/core/blob/main/release-notes/5.0/5.0.7/5.0.7.md)
[3.1.16](https://github.com/dotnet/core/blob/main/release-notes/3.1/3.1.16/3.1.16.md)

Please report any issues you find either by responding to this issue, creating a new issue or creating a new issue in one of the following repos:

* [dotnet/aspnetcore](https://github.com/dotnet/aspnetcore/issues) -

[2021-06-08 18:12] pgovind commented on #6099
The [RequiresPreviewFeatures] attribute was created in S.P.CoreLib.

User Story: https://github.com/dotnet/designs/blob/main/accepted/2021/preview-features/preview-features.md

While the story is not complete yet, work is underway to implement the analyzer and sdk work needed to fully flesh out the feature. This brings dotnet 1 step closer in allowing developers to ship preview features in the app

[2021-06-08 18:31] rbhanda commented on #6247
closing in favor of https://github.com/dotnet/core/issues/6337

[2021-06-08 18:31] #6247 closed

[2021-06-08 18:51] Warmzzz opened #6339 "Dotnet is not recognized"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

![Capture d’écran 2021-06-08 205058](https://user-images.githubusercontent.com/84672573/121240990-333c2d80-c89b-11

[2021-06-08 19:25] MagicAndre1981 commented on #6295
thanks, this is now fixed in 5.0.7/3.1.16 release

[2021-06-08 19:33] tarekgh commented on #6099
## System.Diagnostics Metrics support

User Story: https://github.com/dotnet/runtime/issues/44445
Design Document: https://github.com/dotnet/designs/blob/main/accepted/2021/System.Diagnostics/Metrics-Design.md

The new exposed APIs is implementing the [OpenTelemetry APIs specification](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md). The Metric

[2021-06-08 19:51] mairaw commented on #6339
Can you confirm whether you're system is x86 or x64?

[2021-06-08 19:53] mairaw commented on #6339
I have some suspicions that you're running into this problem with the PATH:
https://github.com/dotnet/core/issues/5962

[2021-06-08 21:51] JulieLeeMSFT commented on #6099
## CodeGen

### Community contributions (@SingleAccretion)
-  Delete the unused dummyBB variable https://github.com/dotnet/runtime/pull/52155
- Delete unused functions reading integers in big-endian format https://github.com/dotnet/runtime/pull/52154
- Pass TYP_FLOAT to gtNewDconNode instead of creating a new scope https://github.com/dotnet/runtime/pull/51928

### Dynamic PGO https://github.com/do

[2021-06-08 22:15] mairaw commented on #6295
Thanks for the feedback @MagicAndre1981. I went through the repo links and found a few more to be fixed: https://github.com/dotnet/core/pull/6340

[2021-06-08 23:37] element109 opened #6341 "NAudio broken with the latest update."
https://github.com/naudio/NAudio

NAudio 2 was working in version Core 5 until this update. It still works under Core 3.1 with its' latest update and in the .Net 4.8.

The error is an access violation in native Win32.

[2021-06-08 23:58] mairaw commented on #6341
Then please file an issue at their repo.

[2021-06-09 00:01] michaelgsharp commented on #6335
Hi @bishal93-stack-ux could you please share more about your problem? Did you made any changes to the source code from the tutorial? Could you share them if so? Could you also share the version on .NET you're using? Also print screen of the error could help as well.

[2021-06-09 00:56] Cheeseless opened #6342 "Tutorial Project attempts to use reserved port"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/run#
Operating System: windows

I was getting the following error when running `dotnet watch run`:

`Unable to bind to http://localhost:5000 on the IPv4 loopback interface: 'An attempt was made to access a socket in a way forbidden by its access permissions.'.`

I found this SO reply: https://superuser.com/a/1504618

[2021-06-09 01:37] #5995 closed

[2021-06-09 01:42] mairaw commented on #6191
@lc9er did you check your NuGet sources as suggested?

[2021-06-09 01:52] KevinRansom commented on #6191
@PhilT --- sometimes, and I really have no idea why the root nuget.config can be empty:

The file can be edited by notepad using:
[code]
It should look like this:
[code]

[2021-06-09 01:53] element109 commented on #6341
The behavior suggests a regression or the bug that was fixed may still exist in 2 other products.

[2021-06-09 02:11] lc9er commented on #6191
No - I'm sorry. I missed this thread. I had reverted to the previous
version, just to get up and running and have installed the latest version,
which is working as expected.

On Tue, Jun 8, 2021 at 9:42 PM Maira Wenzel ***@***.***>
wrote:

[2021-06-09 02:13] skoal90 opened #6344 "Bugs"
### Description

### Configuration

### Regression?

### Other information

[2021-06-09 03:12] bishal93-stack-ux commented on #6335
I run hello world app of asp.net through windows terminal but there are
many error ,why is that?

On Wed, Jun 9, 2021 at 5:46 AM Michael Sharp ***@***.***>
wrote:

[2021-06-09 04:39] mairaw commented on #6335
A screenshot of the errors would help us to provide any guidance on why this is happening.

For the ASP.NET tutorial, it's common for folks to edit the .cs file, instead of the .cshtml file because Windows by default hides the file extension and that would generate a lot of errors.

[2021-06-09 04:40] #6344 closed

[2021-06-09 04:41] mairaw commented on #6191
No worries. I'll close the issue then.

[2021-06-09 04:41] #6191 closed

[2021-06-09 04:43] mairaw commented on #6341
Do you work on the naudio project? We'd need more information to be able to investigate the issue. Do you have different sources targeting the different TFMs?

[2021-06-09 08:14] #6320 closed

[2021-06-09 12:56] Anipik commented on #6099
## Package Validation

User Story: https://github.com/dotnet/core/issues/5700
Blog Post: https://aka.ms/packageValidationPreview5

Package Validation tooling will allow library developers to validate that their packages are consistent and well-formed. It involves validating that there are no breaking changes across versions.  It will also validate that the different runtime implementations have th

[2021-06-09 13:46] element109 commented on #6341
I prepared a sample for you. The first solution is .Net Core and the second is .Net Framework the same code will run on .Net Core 3.0, 3.1, 5.06 but not 5.07. The code will also run on all versions of the .Net Framework. I created the projects and solutions in the same directory and Visual Studio 2019 does not behave well in this scenario. The workaround is to delete the obj folder when switching

[2021-06-09 15:44] Cheeseless opened #6346 "Blazor Tutorial Project attempts to use reserved port"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/run#
Operating System: windows

I was getting the following error when running `dotnet watch run`:

`Unable to bind to http://localhost:5000 on the IPv4 loopback interface: 'An attempt was made to access a socket in a way forbidden by its access permissions.'.`

I found this SO reply: https://superuser.com/a/1504618

[2021-06-09 15:45] rakeshkgsg opened #6347 "Blazor with razor pages not working in preview 4"
Hi there,

I am excited about the latest .net 6 preview 4 and would like to share somw issues i encountered. I will troubleshoot more tomorrow and post my results here, but if these are known issues then please revert.

 I have a blazor web app (.razor) with razor pages (.cshtml) that is modularised using the abp.io framework. The razor portion uses areas to route and currently does my login thru

[2021-06-09 15:48] danroth27 commented on #6346
@Cheeseless As far as I know, port 5000 and 5001 are not in any reserved ranges by default on Windows. Of course, something can always decide to use or reserve those ports, which results in the issue you are seeing. If we see more reports of users hitting port conflicts we may decide to change the default port used by ASP.NET Core, but that doesn't appear to be necessary at this time.

@mairaw Per

[2021-06-09 16:49] mairaw commented on #6346
Assigning this to myself. The troubleshooting steps in in our backlog.

[2021-06-10 06:51] Naveenhillard opened #6349 "Unable to install .NET Framework 3.5 ( Windows 10)"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

while installing the .Net 3.5, getting the below error message, kindly help.

Error Code 0x80080005 installation failure

[2021-06-10 08:24] #6324 closed

[2021-06-10 08:33] aurax opened #6350 "new CultureInfo instance with culture identifier parameter throws the CultureNotFoundException exception when the Globalization Invariant Mode is enabled"
### Description

new CultureInfo instance with a culture identifier parameter throws the CultureNotFoundException exception when the Globalization Invariant Mode is enabled

steps to reproduce:
- create new .NET 5 project, for example a "WPF Application" (a .NET Core WPF Application)
- enable InvariantGlobalization option in the project
- create new CultureInfo with a culture identifier

i.e.

the

[2021-06-10 10:11] mathabane opened #6351 "Buid Failed"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/modify
Operating System: windows

A beginner:
Code sample

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Hello, world!</h1>
    <p>The time on the server is @DateTime.Now</p>
</div>

Error sample

watch : Exited with error code 1
watch : Waiting for a file to chang

[2021-06-10 12:57] lateralusX commented on #6099
# Diagnostics (EventPipe/DiagnosticsServer) - MonoVM

A lot of diagnostics features have been added into MonoVM since beginning of .net6, enabling features like managed EventSource/EventListener, EventPipe and DiagnosticsServer, opening up capabilities to use diagnostics tooling like `dotnet-trace`, `dotnet-counters`, `dotnet-stackwalk` targeting apps running on mobile devices (iOS/Android) as wel

[2021-06-10 15:21] tbandtg commented on #5746
annot stat '/mnt/nfs_share/edm_yocto/build-xwayland-edm-g-imx8mp/tmp/work/aarch64-poky-linux/dotnet/5.0.300-r0/dotnet-5.0.300/host/fxr/gnu': No such file or directory

Is happening on  a fresh install with no dotnet packages

[2021-06-10 15:29] georgevanburgh commented on #5989
@dleeapho @leecow - thanks for getting back to me on this. I'd clearly missed that documentation - but that makes it clear.

Per [`dot.net`](https://dotnet.microsoft.com/download/dotnet/3.1), I can see RHEL6 binaries were produced for 3.1.11 (3.1.405) on 2021-01-12 - which I think is what caused some of the confusion in the first place (given it didn't match with the RHEL6 EOL date).

Possibly - a

[2021-06-10 16:14] lbaralgeen commented on #89
Because .NET - list of methods. It cannot be backward  compatible.

[2021-06-10 16:17] MihaZupan commented on #6099
## Networking: Socks proxy support

Issue: dotnet/runtime#17740
PR: dotnet/runtime#48883

Adding support for socks proxies (Socks4, Socks4a, Socks5) has been a long-standing feature request from the community (issue is 5 years old). Among other things, it enables users to test external connections via SSH or connect to the Tor network from .NET directly.

The implementation came from a community c

[2021-06-10 18:39] aaron-pedigo-eii opened #6354 ""docker build -t mymicroservice ." returned error message"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/docker-image
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Hello,

So far I had went through each step without issues and when I got to the "docker build -t mymicroser

[2021-06-10 19:20] michaelgsharp commented on #6350
Still occurs in .NET 6 preview 3 and happens on console apps as well.

[2021-06-10 19:21] maryamariyan commented on #6099
## Microsoft.Extensions.Hosting

Prior to Preview 5, configuring the host options, (e.g. configuring the shutdown timeout) would looks like this:

[code]

to make this setup less convoluted, in Preview 5, we added a new ConfigureHostOptions API on IHostBuilder:

[code]

## Microsoft.Extensions.DependencyInjection

### Dependency Injection - CreateAsyncScope APIs
You might have noticed that disposa

[2021-06-10 19:23] michaelgsharp commented on #6351
What version of dotnet are you using? x86 or x64?

Can you share the whole Index.cshtml and Index.cshtml.cs files?

[2021-06-10 19:57] michaelgsharp commented on #6354
If you run `docker --version` what happens?

[2021-06-10 20:00] aaron-pedigo-eii commented on #6354
I switched back to the Linux containers, and now when I try to start the *Docker Desktop* from the desktop shortcut it actually starts up.  I have not rebooted in between switching to Linux and starting the *Docker Desktop*.

When I run `docker --version` I get `Docker version 20.10.7, build f0df350`

[2021-06-10 20:01] michaelgsharp commented on #6354
Now that docker desktop starts up, can you try running the build command again?

[2021-06-10 20:01] aaron-pedigo-eii commented on #6354
I am now retrying the `docker build -t mymicroservice .` command to see what it does this time.
So far it has been on `Step 4/10 : RUN dotnet restore` for a couple minutes.

[2021-06-10 20:13] michaelgsharp commented on #6354
I would try a couple different things.

1 - Rerun it. the CreateComputeSystem call it is doing is an Async call. Could just be a transient error.
2 - Restart the computer, then make sure that docker is running and run the command again.

Let me know what happens.

[2021-06-10 20:23] #5985 closed

[2021-06-10 20:24] #6107 closed

[2021-06-10 20:24] #6117 closed

[2021-06-10 20:24] #6147 closed

[2021-06-10 20:24] #6326 closed

[2021-06-10 20:27] aaron-pedigo-eii commented on #6354
Re-running the command had the same effect.
After rebooting my PC and running `Docker Desktop`, it seems to have 2 things listed in `Containers / Apps` and two things listed in `Images`.

Both `Containers / Apps` have strange names with a sha256 hash next to them and they say created under them.
The `Images` have the following:
<none>, IN USE, <none> .....
mcr.microsoft.com/dotne..., , 5.0

Should

[2021-06-10 20:31] aaron-pedigo-eii commented on #6354
I just noticed that when I right click on the whale icon in system tray it lists `Switch to Linux containers...`.  Could that be causing problems?

[2021-06-10 20:31] michaelgsharp commented on #6354
So docker likes to give their containers strange names. I believe you can manually name them at creation time if you want, but if you don't they do it for you.

I would delete the 2 in `Containers / Apps`. That is where all the created docker images go. Images you can leave.

It doesn't look like it switched correctly back to the linux containers last time. I would switch back to linux and then tr

[2021-06-10 20:35] aaron-pedigo-eii commented on #6354
I deleted the 2 in `Containers / Apps`, then did the switch to Linux thing.
I had a toast message saying it was switching and would take some time.
The whale icon in the lower left of the docker dialog went orange then red and the following appeared in an error dialog:

[2021-06-10 20:47] michaelgsharp commented on #6354
What version of WSL are you running? In powershell run ` wsl -l -v`

[2021-06-10 20:48] dave-comfort opened #6356 "Problems with packages on https://packages.microsoft.com/debian/10/prod/dists/buster/"
**Our builds just started failing today (2021-06-10) because of the following problem**

Errors encountered while downloading packages:

Selecting previously unselected package packages-microsoft-prod.
(Reading database ... 12610 files and directories currently installed.)
Preparing to unpack packages-microsoft-prod.deb ...
Unpacking packages-microsoft-prod (1.0-debian10.1) ...
Setting up packages

[2021-06-10 20:52] aaron-pedigo-eii commented on #6354
If I go to that URL it opens the Microsoft Store and shows an option to get Ubuntu, openSUSE, Kali, Debian, and Alpine.
Should I get one of those and try to restart the docker desktop?

[2021-06-10 21:05] michaelgsharp commented on #6356
Do you have a rough time for when they started today?

Can you run another build and see if it keeps occuring?

[2021-06-10 21:06] aaron-pedigo-eii commented on #6354
The same thing happened when I tried again.
Does it matter which version of Linux I get?

[2021-06-10 21:08] dave-comfort commented on #6356
MS just pushed out new packages this afternoon (2021-6-10).  Our builds have been failing since.  We just tried again (4:00pm CT).

[2021-06-10 21:08] michaelgsharp commented on #6354
I use the Ubuntu one, so I know that one works. It probably doesn't matter too much is my guess. Though I am not positive about that.

[2021-06-10 21:16] aressler38 commented on #6356
I am having the same problem, and it has been ongoing for about 3 hours.

[2021-06-10 21:23] aaron-pedigo-eii commented on #6354
I installed the Ubuntu one, and then ran `wsl -l -v` in powershell and it still shows that I have no installed distros.
I even rebooted then ran the command.
But the Windows store says `This product is installed.`
There is a Launch button though now instead of install in the store.
Should I click that to make it really install or something?

[2021-06-10 21:25] michaelgsharp commented on #6354
You may have to restart your current powershell session.

[2021-06-10 21:29] Immich commented on #6356
I am also having the same problem 👀

[2021-06-10 21:44] dleeapho commented on #5989
@georgevanburgh .NET is already available directly from Red Hat via their RHEL Software Collections. More information including supported versions is available at Red Hat's .NET page: https://developers.redhat.com/products/dotnet/overview

[2021-06-10 21:50] dave-comfort commented on #6356
They just pushed out a new release (10-Jun-2021 21:28) and no our builds are working again.

[2021-06-10 21:54] michaelgsharp commented on #6354
Try launching it once.

[2021-06-10 21:54] aaron-pedigo-eii commented on #6354
I decided to try clicking on the `Launch` button for Ubuntu in the Windows Store and a command prompt appeared and had this error message:

That is the same error message when I try to flip docker to use linux instead of windows...

[2021-06-10 21:56] michaelgsharp commented on #6354
See if this thread helps https://github.com/Microsoft/WSL/issues/3815

[2021-06-10 22:00] aressler38 commented on #6356
Yep. It's working for me too.

[2021-06-10 22:14] aaron-pedigo-eii commented on #6354
Before following guidance on that link, I ran `sc query LxssManager` and it showed the service as not running.
I then ran the `sc config LxssManager start=auto` and it succeeded.
I then rebooted and reran the `sc query LxssManager` and it showed the following:

I then tried to switch docker back to WSL from Windows and got this again:

[2021-06-10 22:17] aaron-pedigo-eii commented on #6354
I then ran `wsl -l -v` in a command prompt again and got this again:

I then went to the store, clicked the Launch button and still got this:

[2021-06-10 22:25] aaron-pedigo-eii commented on #6354
I am not sure what this means, but I did find I have 2 of the LxssManager services installed on my PC.
They have the same description, but different names:

- LxssManager
- LxssManagerUser_37a6ce

The normal one is Running with a startup type of automatic.
The "user" one is not running and has a startup type of Manual (Trigger Start)

I don't know if this stuff matters, but this web page showed th

[2021-06-10 22:38] michaelgsharp commented on #6356
Perfect. I'll go ahead and close this issue then.

[2021-06-10 22:38] #6356 closed

[2021-06-10 23:40] michaelgsharp commented on #6351
Yeah, looking at the stack trace you provided it looks likes the Index.cshtml.cs file was edited and not the Index.cshtml.

[2021-06-11 00:32] aaron-pedigo-eii commented on #6354
I found the last reply on this page, and since I used to have VMWare on this PC I tried `bcdedit /set hypervisorlaunchtype off`.
That did not help.
https://answers.microsoft.com/en-us/windows/forum/windows_other-winapps/wslregisterdistribution-error-0x80370102/e51a15f1-1f60-445e-b15a-8a6a0562cea9

[2021-06-11 01:28] HTONG-9 opened #6357 "dotnet new console -o myApp 失败"
Could not execute because the application was not found or a compatible .NET SDK is not installed.
Possible reasons for this include:
  * You intended to execute a .NET program:
      The application 'new' does not exist.
  * You intended to execute a .NET SDK command:
      It was not possible to find any installed .NET SDKs.
      Install a .NET SDK from:
        https://aka.ms/dotnet-download

[2021-06-11 01:29] #6357 closed

[2021-06-11 11:01] anatolybolshakov commented on #5989
@sfoslund @georgevanburgh got it, thanks for clarifying! No, we don't have any

[2021-06-11 11:03] georgevanburgh commented on #5989
Closing this out since it's clear not publishing RHEL6 binaries for SDK v3.1.12 and above was intentional. Thanks all 🙂.

[2021-06-11 11:03] #5989 closed

[2021-06-11 11:52] mathabane commented on #6351
I sorted it out, thank you. I was using the Index.cshtml.cs instead of the
Index.cshtml.

I even had to re create a new project as the Index.cshtml.cs was cleared.

On Fri, 11 Jun 2021 at 01:40, Michael Sharp ***@***.***>
wrote:

[2021-06-11 14:38] #6329 closed

[2021-06-11 15:05] layomia commented on #6099
### Compile-time source generation for System.Text.Json

User stories: https://github.com/dotnet/runtime/issues/1568, https://github.com/dotnet/runtime/issues/45441

Dedicated preview 5 blog post: https://aka.ms/JsonSourceGenPreview5

#### Background

Source generators allow developers to generate C# source files that can be added to an assembly during the course of compilation. Generating source

[2021-06-11 18:36] #6351 closed

[2021-06-11 18:45] mairaw commented on #6349
I'm also curious on how you landed on that tutorial when you're trying to install .NET Framework 3.5.

The installation guide for 3.5 is found at https://docs.microsoft.com/dotnet/framework/install/dotnet-35-windows-10

[2021-06-12 08:51] bishal93-stack-ux commented on #6335
Ok, I will do that.

On Wed, Jun 9, 2021 at 10:24 AM Maira Wenzel ***@***.***>
wrote:

[2021-06-12 08:51] bishal93-stack-ux commented on #6335
[image: Screenshot (50).png]

On Sat, Jun 12, 2021 at 2:36 PM Bishal GC ***@***.***> wrote:

[2021-06-12 16:17] GioviQ opened #6358 "RegionInfo NativeName Unknown"
.NET 5.0.7

Running my web app from Visual Studio, I have

new RegionInfo("it-IT").NativeName -> "Italia"
new RegionInfo("it-DE").NativeName -> "Germania"

My deployed web app on Windows Server 2019 (en-US + it-IT language) with .NET 5.0.7 Hosting bundle

new RegionInfo("it-IT").NativeName -> "Italia"
new RegionInfo("it-DE").NativeName -> "Unknown Region (DE)"

What is missing on Windows Server?
I

[2021-06-13 05:17] Avishek023 opened #6359 "failed to load dll error"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-06-13 10:34] MeghanaAnkam opened #6360 "Could not execute because the specified command or file was not found. Possible reasons for this include: * You misspelled a built-in dotnet command. * You intended to execute a .NET program, but dotnet-program does not exist. * You intended to run a global tool, but a dotnet-prefixed executable with this name could not be found on the PATH."
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-06-13 13:28] fdariano opened #6361 "SyncToy installation error."
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

OS: Windows 10 Pro
Version: 20H2

In trying to install Microsoft SyncToy in Windows 10, I got a popup to install .

[2021-06-13 16:29] VARUN46 commented on #6098
Is there any way to understand how Remove() works for JsonNode.

[2021-06-13 16:51] Vlastimilstanik opened #6362 "dotnet run"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-06-13 22:50] qnetvova opened #6364 "999"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-06-13 22:51] qnetvova opened #6365 "55"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/modify
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-06-13 23:34] Ellwia opened #6366 "dotnet dll program files"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-06-14 07:38] sughosneo commented on #6063
Hi @sklau228, thank you for reaching out.
Is your docker daemon running? You can verify that in your Docker Desktop Dashboard.
If you face any issue while starting the docker instance itself, then you can try the following in the mentioned sequence.

- Try to do `Reset to factory defaults` in the docker desktop `Troubleshoot` tab.
- Try running docker desktop as an Administrator.
- Uninstall the d

[2021-06-14 07:48] sughosneo commented on #4865
Hi @hemanthgattu, thank you for reaching out.

Can you verify if your Docker instance is running? You can verify that in your Docker Desktop dashboard.
If yes, you can run your PowerShell window as Administrator and then try to execute the steps and see if it helps.

[2021-06-14 08:59] #6331 closed

[2021-06-14 13:16] myshon opened #6367 "Can I list all available cultures/languages from localization resources?"
In my .NET Core application, I keep localization data as EmbeddedResource restext files

[code]
I would like to list dynamically all available files or their languages (in the case above: en - default, pl, de, fr). When I try to list resources by

`var files = executingAssembly.GetManifestResourceNames();`

I receive only one item `MyLocalization.resources`. It is possible to list dynamically avai

[2021-06-14 19:55] browneye43 opened #6370 ".NET Tutorial"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
{
    class Program
    {
        static void Main(string[] args)
        {
            Console.WriteLine("Hello Wor

[2021-06-14 19:57] browneye43 commented on #6370
I'm not sure if I did it right

[2021-06-14 19:59] mairaw commented on #6370
Hi @browneye43! That page is just showing the code of the Program.cs file. I'm adding some improvements to that page to make that more clear.

Try to go to the next step to see if you can continue the tutorial.

[2021-06-14 20:00] aukesj opened #6371 "packages.microsoft.com issue"
I know this is the .NET team, but since there seems to be no public contact for the packages.microsoft.com repo I don't know where to address this. Please forward this issue for me.

### Description

I'm using CentOS with Foreman / Katello to offer patches to our servers. The Ubuntu patches are served as well. Now for Ubuntu Focal (20.04) the repo seems fine, but for Bionic (18.04), I get checksum

[2021-06-14 20:02] browneye43 commented on #6370
came back return error
'}dotnet' is not recognized as an internal or external command,
operable program or batch file

[2021-06-14 20:05] mairaw commented on #6370
Make sure you typed dotnet run, not donet

Since it seems you were able to create the myApp folder

[2021-06-14 20:14] mairaw commented on #6366
Can you provide more information about your issue?

[2021-06-14 20:14] mairaw commented on #6365
Can you provide more information about your issue?

[2021-06-14 20:15] mairaw commented on #6364
Duplicate of #6365

[2021-06-14 20:15] #6364 closed

[2021-06-14 20:16] mairaw commented on #6362
Can you provide more information about your issue?

[2021-06-14 20:42] mairaw commented on #6361
Hi @fdariano!

Can you paste where the yes button takes you? You shouldn't need to do the coding tutorial to be able to install .NET Framework. So, I'm trying to understand how you landed on the tutorial.

But to install .NET Framework 2.0 on Windows 10, you have to enable .NET Framework 3.5 (which also includes 2.0):
https://docs.microsoft.com/dotnet/framework/install/dotnet-35-windows-10

[2021-06-14 20:44] mairaw commented on #6360
Can you paste a screenshot of the error? Did just `dotnet` run fine?

[2021-06-14 20:44] mairaw commented on #6359
Please provide more information about yout issue

[2021-06-14 20:47] mairaw commented on #6335
@bishal93-stack-ux GitHub unfortunately doesn't let you add screenshots when you're replying via email. Can you come to the site to attach the screenshot? Or maybe copy and paste the text of the command window here. That would work too.

[2021-06-14 20:55] michaelgsharp commented on #6371
So this happened last week to a different linux distro. Turns out that after some packages were updated on our end, took about 4 - 6 hours or so for this error to go away. Has to do with mirror syncing, or something like that.

I just checked and we updated the packages for Bionic about 2.5 hours ago, so this should be the same issue as last week and should clear up on its own in another couple of

[2021-06-14 20:59] RobertoMachorro commented on #4879
I'm curious as to why this issue is closed? Has it been resolved?

[2021-06-14 21:02] mairaw commented on #4879
@richlander has listed the tracking issues for this work above.

[2021-06-14 21:48] dagood commented on #6371
It looks like you've hit the same issue as https://github.com/dotnet/core/issues/5860. (January!) The https://packages.microsoft.com maintainers weren't able to reproduce the problem at the time. 😕

The time limit for .NET packages before escalation is only 30 minutes: https://docs.microsoft.com/en-us/dotnet/core/install/linux-ubuntu#failed-to-fetch. IIRC it's actually not expected to happen at al

[2021-06-14 21:54] michaelgsharp commented on #6371
And here is the similar one that just happened last week. https://github.com/dotnet/core/issues/6356 on Debian.

[2021-06-14 22:00] dagood commented on #6371
That's unfortunate. It's definitely possible that things regressed. I don't actively work in this area anymore (the issue just caught my eye) so I'm not necessarily up to date.

[2021-06-14 22:41] buyaa-n commented on #6099
### Add platform guard attributes to allow custom guards in Platform Compatibility Analyzer
User story: https://github.com/dotnet/runtime/issues/44922
API https://github.com/dotnet/runtime/issues/51541
Analyzer update https://github.com/dotnet/roslyn-analyzers/pull/5087

The CA1416 Platform Compatibility analyzer already recognizes platform guards using the methods in OperatingSystem/RuntimeInform

[2021-06-14 23:43] michaelgsharp commented on #6341
This has been reported in NAudio as well. see https://github.com/naudio/NAudio/issues/789. The code works fine in the preview version of .net 6. Still trying to determine exactly what is causing this to direct it correctly.

[2021-06-15 00:37] mairaw commented on #6371
Do you know who does @dagood?

[2021-06-15 00:38] alanma75 opened #6372 "calling jsinterop to cleanup clientside before disposing page causes memory leak in page close/refresh"
### Description
while developing a custom blazor component, some clientside object need to be cleared before the component being disposed. below sample is a simplified version taken from blazor-university:
https://blazor-university.com/javascript-interop/calling-dotnet-from-javascript/lifetimes-and-memory-leaks/

Dispose method on the page tries to invoke a js method to clear its clientside object

[2021-06-15 00:52] dagood commented on #6371
@rbhanda may be able to help with this.

[2021-06-15 03:57] mairaw commented on #6083
@richlander is there something we can improve in the experience? There's no version indicator on this dialog.

[2021-06-15 04:14] richlander commented on #6083
That looks like a .NET Framework dialog. It looks like this app. https://github.com/mburbea/koar-item-editor/releases/tag/v2.1.189.

I'll find a machine without .NET Framework 4.8 to test this.

[2021-06-15 04:30] mburbea commented on #6083
This is indeed the application in question, however the release that was used for testing came from my .net 5 branch.
https://github.com/mburbea/koar-item-editor/pull/93

The prompt does indeed come up and give you the version if you have .net core installed, but if you never installed .net core or .net 5/6, it just says you need .net.

Unfortunately, due to some personal life events, I have not h

[2021-06-15 04:38] richlander commented on #6083
I just built your branch. Took like <10s. I just need a machine with no .NET 5 on it to test.

[2021-06-15 04:54] wzchua commented on #6341
The issue is being tracked in the runtime repo https://github.com/dotnet/runtime/issues/54132

[2021-06-15 05:08] mairaw commented on #6341
Thanks @wzchua. Closing as dupe then.

[2021-06-15 05:08] #6341 closed

[2021-06-15 05:26] richlander commented on #6083
OK. I see now. When no runtime is installed at all, you get that screen you displayed above. I understand why. There isn't much logic in the apphost. It's all in a binary that ships with the runtime, which we don't have in this scenario.

In the case of your app on a machine with no runtime, the following link is generated: https://aka.ms/dotnet-core-applaunch?missing_runtime=true&arch=x64&rid=win

[2021-06-15 06:32] aukesj commented on #6371
I checked again just now, but unfortunately the mismatching checksum still exists.

[2021-06-15 12:02] vitek-karas commented on #6083
There are several existing issues covering this topic:
https://github.com/dotnet/runtime/issues/36765 is about the target page the link goes to
https://github.com/dotnet/runtime/issues/3811 discusses improvements to the console output in the case of the same error
https://github.com/dotnet/runtime/issues/3816 discusses using better UI in this case

The problem with versions is that at the point of

[2021-06-15 14:26] qadir1020 opened #6373 "Unable to run your project. Ensure you have a runnable project type and ensure 'dotnet run' supports this project. A runnable project should target a runnable TFM (for instance, netcoreapp2.0) and have OutputType 'Exe'. The current OutputType is 'Library'."
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-06-15 14:28] qadir1020 opened #6374 "dotnet run command givs error."
### Description

### Configuration

### Regression?

### Other information

[2021-06-15 14:34] dagood commented on #6371
@aukesj for some diag info, could you try the commands in https://github.com/dotnet/core/issues/5860#issuecomment-763087279 to get the IP of the mirror you're using?

[2021-06-15 15:05] rbhanda commented on #6371
I am following up on this with the packages.microsoft.com team.  I will keep the thread updated once I hear back from them.

[2021-06-15 15:15] aukesj commented on #6371
$ ping packages.microsoft.com
PING csd-apt-weu-d-4.westeurope.cloudapp.azure.com (13.81.215.193): 56 data bytes
Request timeout for icmp_seq 0
Request timeout for icmp_seq 1
^C
--- csd-apt-weu-d-4.westeurope.cloudapp.azure.com ping statistics ---
3 packets transmitted, 0 packets received, 100.0% packet loss
$ wget https://packages.microsoft.com/config/ubuntu/18.04/packages-microsoft-prod.deb
--202

[2021-06-15 15:49] aukesj commented on #6371
Furthermore, my Foreman (repo) server which tries to mirror the Microsoft packages for Ubuntu says:

DEBSYNC002: Unable to sync 42044737-20ba-4567-89b1-ab531887e734 from https://packages.microsoft.com/ubuntu/18.04/prod: mismatching checksums for adutil-preview_0.7.022_amd64.deb: expected f657b73dd8d6c1486a0862f53010a4562e287cb5, actual 89283b83f411664e29b3dffc649d63b4c9f0596c

When I browse to htt

[2021-06-15 15:57] aukesj commented on #6371
Because I thought the version difference was quite suspicious, I decided to remove the Ubuntu Bionic repo from the Foreman product "Microsoft Packages", recreated it and synced it succesfully! So, this was a Foreman issue and is now solved.

[2021-06-15 15:58] rbhanda opened #6375 "Add support for Alpine 3.14"
This issue is created to track progress for the work to enable Alpine 3.14 support for .NET Core 2.1, 3.1 and .NET 5.

### Product and Test updates
- [ ] [All teams] Do a compatibility check for the product with the new OS
- [ ] [CoreCLR/CoreFX] Runtime / RID Support update
- [ ] [Infra] Ensure that the correct Docker images used by teams are built in the dotnet-buildtools-prereqs (if applicable)

[2021-06-15 15:59] #5687 closed

[2021-06-15 16:50] michaelgsharp commented on #6373
This error is because of a console app, a library app was created instead.

Can you try again and make sure in the `Create your app` section you use `console` as the type for `dotnet new`

[2021-06-15 16:50] michaelgsharp commented on #6374
What error does it give? Can you provide a stack trace or a screenshot?

[2021-06-15 16:52] michaelgsharp commented on #6371
Awesome. Thanks everyone for your help. I'll go ahead and close the issue since its been resolved.

[2021-06-15 16:52] #6371 closed

[2021-06-15 19:01] brickyosu opened #6376 "is there a way to download .net on school laptop without admin?"
i know how to run scripts in powershell but they disabled scripts, so im here to say that is there even a way to get .net sdk portable?

[2021-06-15 19:42] richlander commented on #6376
There are a variety of instructions at https://github.com/dotnet/core/blob/main/release-notes/6.0/install.md. Can you tell me if that helps.

[2021-06-15 20:25] #6339 closed

[2021-06-15 23:01] iMonZ commented on #6099
its released?

[2021-06-15 23:22] richlander commented on #6099
No. It was supposed to release today. We're hoping for Thursday.

[2021-06-15 23:23] iMonZ commented on #6099
That’s strange
Currently I’m downloading the preview 5 update on my Windows 11 machine with Maui-check tool

[2021-06-15 23:31] Varorbc commented on #6099
Windows 11 ？？where to download?

[2021-06-15 23:57] iMonZ commented on #6099
Check your emails

[2021-06-16 06:34] CUTFYSH1101 opened #6377 "dotnet new console error when edit environment"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

I was trying to create a hello world in vs code.
But it failed.

`PS D:\公用\01.暫存\新增資料夾 (2)> dotnet new console -o myApp
即將就緒...
Object reference not set to an instance of an object.
   at Microsoft.TemplateEngine.Edge.Settings.SettingsLoader.Save(TemplateCache cacheToSave)
   at

[2021-06-16 13:04] qwer987654321aazz opened #6378 "C:\Windows\System32\myApp>dotnet run Hello World! C:\Windows\System32\myApp> C:\Windows\System32\myApp>dotnet run Hello World! C:\Windows\System32\myApp> C:\Windows\System32\myApp>Hello World! 'Hello'은(는) 내부 또는 외부 명령, 실행할 수 있는 프로그램, 또는 배치 파일이 아닙니다. C:\Windows\System32\myApp>The current time is 6/16/2021 12:53:58 PM"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-06-16 13:36] rbhanda opened #6379 "Add Support for CBL-Mariner"
This issue is created to track progress for the work to enable CBL-Mariner support for .NET Core 2.1, 3.1 and .NET 5.

### Product and Test updates
- [x] [All teams] Do a compatibility check for the product with the new OS
- [ ] [CoreCLR/CoreFX] Runtime / RID Support update
- [x] [Infra] Ensure that the correct Docker images used by teams are built in the dotnet-buildtools-prereqs (if applicable)

[2021-06-16 13:39] rbhanda commented on #6379
https://github.com/dotnet/aspnetcore/pull/33388
https://github.com/dotnet/dotnet-buildtools-prereqs-docker/pull/453
https://github.com/dotnet/dotnet-docker/pull/2881

[2021-06-16 14:48] Hewertonbsb opened #6380 "erro ao executar o como dotnet new console"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-06-16 17:24] michaelgsharp commented on #6377
When you were editing your path what were you trying to change?

[2021-06-16 17:25] michaelgsharp commented on #6378
What is the error you ran into?

[2021-06-16 17:29] mairaw commented on #6378
You just need to type `dotnet run`, not `dotnet run Hello World!`

[2021-06-16 20:36] mairaw commented on #6380
Você pode fornecer mais informações de qual erro está ocorrendo quando você executa o comando? E o comando `dotnet` executou direitinho?

Você pode tb dizer o que o comando `dotnet --info` retorna?

[2021-06-16 20:41] mairaw commented on #6377
And if you run the same command outside of VS Code, do you get the same error?

[2021-06-16 20:56] stefanjarina opened #6381 "Ubuntu repositories broken"
Hello,

Ubuntu repositories seems to be broken, specifically I am getting '404 not found' for any .deb

from `apt update`

[code]

Tried to re-download the repository package, however it seems to be simply not there:

[code]

This issue seems to be there only for .deb files though, as others can be downloaded without issues, e.g.

[code]

This is true for ALL Ubuntu versions

[2021-06-16 21:00] bquantump commented on #6381
Broken here too

 wget https://packages.microsoft.com/config/ubuntu/20.04/packages-microsoft-prod.deb -O packages-microsoft-prod.deb
--2021-06-16 20:58:37--  https://packages.microsoft.com/config/ubuntu/20.04/packages-microsoft-prod.deb
Resolving packages.microsoft.com (packages.microsoft.com)... 13.66.21.183
Connecting to packages.microsoft.com (packages.microsoft.com)|13.66.21.183|:443... connec

[2021-06-16 21:26] charliemenke commented on #6381
Seeing similar issue for:
Failed to fetch https://packages.microsoft.com/debian/10/prod/pool/main/m/msodbcsql17/msodbcsql17_17.7.2.1-1_amd64.deb  404  Not Found [IP: 13.84.47.71 443]

[2021-06-16 22:21] akiehl2000 commented on #6381
Same here:
<img width="1228" alt="Screen Shot 2021-06-16 at 4 19 58 PM" src="https://user-images.githubusercontent.com/20071048/122302056-d1914a00-cebe-11eb-8d78-982d1453717e.png">

[2021-06-16 22:39] michaelgsharp commented on #6381
@rbhanda are you able to help here? This seems similar to the situation we saw the other day #6371

[2021-06-16 22:41] rbhanda commented on #6381
Thanks for letting me @michaelgsharp . I am following up on this with our infrastructure team.

[2021-06-16 23:12] rbhanda commented on #6381
Update: Our infra team is working on this. There is an issue with some of the mirrors on packages.microsoft.com so as per them, the current ETA to resolve this issue is in next two hours or so.

[2021-06-17 01:11] SudhirNune commented on #6381
@rbhanda - can you please provide me an update ?

[2021-06-17 01:42] iamCristYe commented on #6381
https://github.com/microsoft/vscode/issues/126543

[2021-06-17 02:07] rbhanda commented on #6381
Update: our infra team is still working to resolve this issue. They ran into some space issues but this issue should be resolved quickly. Unfortunately, I do not have an ETA yet.

[2021-06-17 03:45] Sealthe opened #6382 "Cant run the dotnet because the api-ms-win.dll is missing, how do i fix this?"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-06-17 06:06] jackie82422 opened #6383 "Could not found packages-microsoft-prod.deb file."
Problem encountered on https://docs.microsoft.com/zh-tw/dotnet/core/install/linux-ubuntu
Operating System: ubuntu 18.04

When I wget "https://packages.microsoft.com/config/ubuntu/18.04/packages-microsoft-prod.deb -O packages-microsoft-prod.deb" get 404 not found.

and use apt-get install -y dotnet-sdk-3.1 get 404 not found too.

[2021-06-17 06:13] Maheshg8761 opened #6384 "json not refresh"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/add
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

hi i have change on weather.json but is not reflect in front end

[2021-06-17 06:18] kitsuyui commented on #6381
I also understand this is little-bit off-topic for this project.

But let me just say this; I think the problem is not only package repository was broken. Another side of the problem is about communication.

It might be there some progresses on some task tracking system ore some collaboration tools at Microsoft. But we can't see it.

Following issues were opened and some issues were closed so quic

[2021-06-17 06:37] Suvynas opened #6385 "BlazorApp"
I made a Blazor App with click me button and counter but its not counting
[Counter.razor.txt](https://github.com/dotnet/core/files/6667911/Counter.razor.txt)
[Index.razor.txt](https://github.com/dotnet/core/files/6667918/Index.razor.txt)

[2021-06-17 06:41] jljordaan commented on #6383
I am experiencing the same issue for Ubuntu 16.04.

[2021-06-17 06:59] maxoptimate commented on #6383
Same for [https://packages.microsoft.com/config/ubuntu/20.04/packages-microsoft-prod.deb]

[2021-06-17 07:13] akihiro-inui opened #6386 "Can not install msodbcsql17 package distribution"
### Description
Hi, I am trying to download the driver for MSSQL database 17 on Ubuntu 18.04.
The following command used to download the driver but it can not find the package anymore and I am getting 404 status code.

[code]
and I am getting

[code]

### Configuration
OS: Ubuntu 18.04

[2021-06-17 07:18] zpqrtbnk commented on #6383
Same, even though https://packages.microsoft.com/config/ubuntu/20.04/ does list the packages-microsoft-prod.deb file, one cannot retrieve it (404)

[2021-06-17 07:29] jlyshoel commented on #6386
Also experiencing the same problem here. We're running debian stretch in a docker container. Starting from a clean init of the container, we had it working yesterday.

Same error

[code]

[2021-06-17 07:37] tdesmet commented on #6383
same for https://packages.microsoft.com/config/ubuntu/21.04/packages-microsoft-prod.deb

[2021-06-17 07:43] Niek commented on #6381
FYI the Edge repo is broken as well, the whole pool directory is gone: https://packages.microsoft.com/repos/edge/pool/

[2021-06-17 07:44] attrib commented on #6386
Seems like the complete pool directory with all deb packages is gone? I can't find any deb package anymore on packages.microsoft.com. So not a problem with the index file, all packages are gone.

[2021-06-17 07:52] jlyshoel commented on #6386
These might be related or the same issue: https://github.com/dotnet/core/issues/6383 https://github.com/dotnet/core/issues/6381

[2021-06-17 08:23] Lucario95 commented on #6386
I have the same issue

[2021-06-17 08:37] Mikhail1234 commented on #6383
The same thing here
https://packages.microsoft.com/config/debian/10/packages-microsoft-prod.deb

[2021-06-17 08:50] Youssef1313 commented on #6383
This is being reported in dotnet/docs as well:

https://github.com/dotnet/docs/issues/24718
https://github.com/dotnet/docs/issues/24717
https://github.com/dotnet/docs/issues/24716
https://github.com/dotnet/docs/issues/24713
https://github.com/dotnet/docs/issues/24711

[2021-06-17 09:03] phknot commented on #6381
Same problem for the Teams repo

[2021-06-17 09:05] gdams commented on #6381
We've also had the bug raised against our Microsoft build of OpenJDK repo https://github.com/microsoft/openjdk/discussions/74

[2021-06-17 09:31] dazfuller commented on #6383
Having the same issues outside of dotnet. Trying to install the SQL ODBC driver on a Databricks cluster (running Ubuntu 18.04)

https://packages.microsoft.com/ubuntu/18.04/prod/pool/main/m/msodbcsql17/msodbcsql17_17.7.2.1-1_amd64.deb

[2021-06-17 09:34] lastseenjustnow commented on #6383
Same:

Step 20/25 : RUN ACCEPT_EULA=Y apt-get -y install msodbcsql17 --fix-missing
 ---> Running in ea24424f2562
Reading package lists...
Building dependency tree...
Reading state information...
The following additional packages will be installed:
  libodbc1 multiarch-support odbcinst odbcinst1debian2 unixodbc unixodbc-dev
Suggested packages:
  unixodbc-bin
The following NEW packages will be insta

[2021-06-17 09:37] daguito81 commented on #6383
Same problem here. If you look at the link (for ubuntu in my case but I think it's the same) It's looking at distro/version/prod/pool...
but going to their repository https://packages.microsoft.com/ubuntu/18.04/prod/
There is no "pool" directory anymore. This happens in all ubuntu versions, debian as well.

[2021-06-17 09:38] LennyBEL commented on #6383
You can temporarily use Snap to install dotnet, it seems to still work:
https://docs.microsoft.com/en-us/dotnet/core/install/linux-snap

[2021-06-17 09:40] zpqrtbnk commented on #6383
The funny thing is, https://packages.microsoft.com/config/ubuntu/20.04/ *does* list the file, along other files which you *can* retrieve - only the `.deb` file cannot. Has someone messed with the configuration and the `.deb` extension is not recognized anymore?

[2021-06-17 10:00] p--b commented on #6381
This of course affects everyone who uses GitHub Actions' Ubuntu image and hasn't already binned off any repositories that include the word "microsoft" (that are included by default) in their apt config as part of their pipeline.

@kitsuyui is correct that the communication from MS/GH around reliability of these servers is somewhat lacking. To add to the list of knock-on issues, a while ago I filed

[2021-06-17 10:00] daguito81 commented on #6383
Yes, when you update the repo it does include msodbcsql17 for exampe. The error  doesn't show "can't find a package by that name" but it actually tries to download it and get a 404 error.
![image](https://user-images.githubusercontent.com/14969458/122373925-318cfc80-cf62-11eb-9804-bd2fada74c6d.png)

It's like someone simply deleted the folder but kept the index the same

[2021-06-17 10:03] daguito81 commented on #6383
Different package but same repository
![image](https://user-images.githubusercontent.com/14969458/122375935-f8ee2280-cf63-11eb-96e2-b6c0487e9790.png)
Seems like in some parts of the world the repository is back to how it was. Europe still seems to be affected

[2021-06-17 10:07] dazfuller commented on #6383
I just connected over VPN to an endpoint in India and this is what I'm seeing now for the packages I'm looking for

![image](https://user-images.githubusercontent.com/204848/122376568-2c2cb380-cf5c-11eb-91df-27f95c17440c.png)

[2021-06-17 10:13] vkuehn commented on #6386
And related to https://github.com/dotnet/core/issues/4122

[2021-06-17 10:21] r3volver commented on #6381
I can confirm this issue. 404 in every debian or ubuntu .deb I search.

In the meantime, is there a mirror where we could find the packages?

`Get:1 http://deb.debian.org/debian buster/main amd64 multiarch-support amd64 2.28-10 [215 kB]
Ign:2 https://packages.microsoft.com/debian/10/prod buster/main amd64 odbcinst amd64 2.3.7
Ign:3 https://packages.microsoft.com/debian/10/prod buster/main amd64 un

[2021-06-17 10:24] hussaynv commented on #6381
Some people suggesting its an issue isolated to Europe, other regions as able to build
https://docs.microsoft.com/en-us/answers/questions/439491/pyodbc-install-error-in-azure-databricks-file-not.html

[2021-06-17 10:24] rdzotz opened #6387 "Failed to fetch https://packages.microsoft.com/ubuntu/18.04/prod/pool/main/u/unixodbc/libodbc1_2.3.7_amd64.deb 404 Not Found [IP: 104.214.230.139 443]"
### Description

Failed to fetch  https://packages.microsoft.com/ubuntu/18.04/prod/pool/main/u/unixodbc/libodbc1_2.3.7_amd64.deb

Occurs after installing this package and running apt-get update.
https://packages.microsoft.com/config/ubuntu/14.04/packages-microsoft-prod.deb

Started getting this error when building a docker file in the last 24hours. Looks like this has happened before [https://gith

[2021-06-17 10:52] sciyako commented on #6381
14 hours! this is blocking us in the production environment right now. as we can't build new machines/vms in Azure.

[2021-06-17 10:58] th0mk commented on #6387
Dupe of #6381

[2021-06-17 11:00] GiaNTizmO commented on #6381
same too with Debain10 and Ubuntu 20.04LTS

[2021-06-17 11:01] chelnak commented on #6381
Same here - this is going to be a killer

[2021-06-17 11:02] gmemstr commented on #6381
Might be worth holding off on the "me too!" or "+1" comments unless there's some new information to make the issue easier to follow.

[2021-06-17 11:15] Albonycal commented on #6381
Space issues?
LOL

[2021-06-17 11:23] tomas-forsman commented on #6381
Ask Bill to buy some disks from Amazon :-P

[2021-06-17 11:34] svick commented on #6383
This is a duplicate of https://github.com/dotnet/core/issues/6381, which contains more information about the current status.

[2021-06-17 11:34] zpqrtbnk commented on #6383
this is tracked in #6381 - this issue is now a duplicate

[2021-06-17 11:34] zpqrtbnk commented on #6383
sorry @svick we collided

[2021-06-17 11:36] SudhirNune commented on #6381
I started seeing issue with  **Certificates** (https://packages.microsoft.com/keys/microsoft.asc) too

[2021-06-17 11:43] Anmol007 commented on #6381
I can confirm this issue too. We noticed this today morning and the releases are blocked because of this.

command in DockerFile:
`RUN apt-get update && apt-get install -y --no-install-recommends \
    g++ \
    unixodbc-dev `

  Error in azure pipelines:
`Err:1 https://packages.microsoft.com/debian/9/prod stretch/main amd64 unixodbc-dev amd64 2.3.7
  404  Not Found [IP: 137.135.134.16 443]`
`E: F

[2021-06-17 11:45] aashu-kumari-by commented on #6381
I have also started seeing this issue from 17th june morning IST timezone,
Need to get 210 MB of archives.
After this operation, 0 B of additional disk space will be used.
Get:1 https://packages.microsoft.com/repos/microsoft-ubuntu-focal-prod focal/main amd64 azure-functions-core-tools-3 amd64 3.0.3568-1 [210 MB]
It has got stuck here and not able to get the response. Kindly help in resolving the

[2021-06-17 11:55] rohitmishraatshell commented on #5574
Issue seems to occur again!

[2021-06-17 12:01] m17kea commented on #6381
@rbhanda any update on this, this is blocking production server builds for us

[2021-06-17 12:05] KarFan-FS commented on #3995
Just got this error:
"Failed to fetch https://packages.microsoft.com/debian/9/prod/pool/main/u/unixodbc/unixodbc-dev_2.3.7_amd64.deb  404  Not Found [IP: 13.79.173.94 443]"

Steps in my dockerfile:
`RUN apt-get update &&\
    apt-get -yq update`
`RUN apt-get install -y python3-dev && \
    apt-get install -y g++ && \
    apt-get install -y unixodbc-dev`

[2021-06-17 12:09] SudhirNune commented on #6381
@rbhanda  - its same here and I hope a lot of processes / projects are impacted, is there any update ETA, and any MSFT official status page having the details and update ?

[2021-06-17 12:14] AymanAlneser commented on #6381
any updates on this
this is affecting Production environment and we need some ETA to communicate to our Stack holders

[2021-06-17 12:33] HeavyKid commented on #6386
Same issue here.

[2021-06-17 12:47] rvResolving commented on #6381
for people who need, snap installation is working, i know it is not apt but it can be a temporary solution

[2021-06-17 12:48] Kyle2123 commented on #6381
14 hours later and this is still broken - prevents rolling new builds.  Can we get an update on this please???

[2021-06-17 12:55] tappoz commented on #6381
@rvResolving can you please provide some context with commands around what works for you?

I am using the `apt` repositories (on Debian) for the SQL Server integration, so I tried this:

[code]

It does not find anything

[2021-06-17 12:56] coding-liki commented on #6381
All deb-based repos at packages.microsoft.com are broken. I suggest, that they hid the "pool" folder for some reason.

[2021-06-17 12:58] rpyndus commented on #6381
I tried to use proxy in US, but unfortunately no success in doing that, pool folder does not exists. Also snap wont help for packages aziot-edge and moby-engine

[2021-06-17 13:03] oising commented on #6381
No need! His 5G vaccine is turning everybody with a phone into supplementary Azure bio-blob storage! I wonder what files I'm infected with? Exciting!

[2021-06-17 13:06] rvResolving commented on #6381
@tappoz i don't know for msodbcsql17 i need the donet-sdk

and  I just do `sudo snap install dotnet-sdk --classic --channel=3.1`

[2021-06-17 13:16] tappoz commented on #6381
There seems to be a common root cause to all the Microsoft `apt` repos. People is cross-referencing different GitHub issues in different `git` repositories.

[2021-06-17 13:18] schoolytics-dev0 commented on #6381
Similar issues here trying to use Ubuntu packages

[2021-06-17 13:32] felipeschneider88 commented on #6381
I was able to get the package using Invoke-WebRequest

`PS C:\Users\felipe> iwr https://packages.microsoft.com/config/ubuntu/20.04/packages-microsoft-prod.deb -OutFile packages-microsoft-prod.deb`

[code]

[2021-06-17 13:35] DLewisEndeavor commented on #6381
This seems to be the most active thread on the issue, does anyone know if this is being tracked elsewhere by Microsoft, this is affecting our production systems and we need some sort of ETA.

[2021-06-17 13:39] aashu-kumari-by commented on #6381
@rbhanda Could you let me know when this issue will get fixed, Below is the script i am using to download the package

        curl https://packages.microsoft.com/keys/microsoft.asc | gpg --dearmor > microsoft.gpg
        sudo mv microsoft.gpg /etc/apt/trusted.gpg.d/microsoft.gpg
        sudo sh -c 'echo "deb [arch=amd64] https://packages.microsoft.com/repos/microsoft-ubuntu-$(lsb_release -cs)-pro

[2021-06-17 13:40] Jamaxack commented on #6381
Just making some noise here 😄

[2021-06-17 14:06] hasanmanzak commented on #6381
Seems to be fixed..

[2021-06-17 14:09] timvisee commented on #6381
Yes, deb's such as [dotnet-host-5.0.7-x64.deb](https://packages.microsoft.com/ubuntu/20.04/prod/pool/main/d/dotnet-host/dotnet-host-5.0.7-x64.deb) are available again.

[2021-06-17 14:11] jostFT commented on #6381
I can confirm that it is fixed now 👍 ❤️

[2021-06-17 14:14] GiacomoNasiVarGroup commented on #6381
.deb packages available again!

[2021-06-17 14:21] Youssef1313 commented on #6383
This should have been fixed now per https://github.com/dotnet/core/issues/6381#issuecomment-863274298

[2021-06-17 14:25] Lucario95 commented on #6386
This should now be resolved as stated by #6381

[2021-06-17 14:28] rafaelcaviquioli commented on #6381
Finally! Everybody on their way doing build and deployments :)

[2021-06-17 14:35] rolero commented on #4734
FYI. Happening again. Not able to connect to packages.microsoft.com

[2021-06-17 14:36] tmikaeld commented on #6381
I'm sure there'll be no congestions when hundreds or maybe thousands of machines pull large packages at the exact same time ;-)

[2021-06-17 14:46] aashu-kumari-by commented on #6381
Now i am getting this error -
Get:21 https://releases.jfrog.io/artifactory/jfrog-debs xenial/contrib amd64 Packages [3634 B]
Ign:22 https://packages.microsoft.com/ubuntu/20.04/prod focal InRelease
Err:23 https://packages.microsoft.com/ubuntu/20.04/prod focal Release
  Could not connect to packages.microsoft.com:443 (40.74.238.15), connection timed out [IP: 40.74.238.15 443]
Reading package lists..

[2021-06-17 14:46] khandelwalankit04 commented on #6381
Still seeing an issue : The repository 'https://packages.microsoft.com/ubuntu/18.04/prod bionic Release' does not have a Release file.

[2021-06-17 14:47] kilobyte commented on #6381
Well, the speed was 58KB/s, now it's nown to 22KB/s as more machines noticed the repos are up.  But I hope a few more acoustic modems will be added to the cloud. ☺

(That's in jest — thanks for making it work again!)

[2021-06-17 14:51] rbhanda commented on #6381
Hello,
As per our infra team, you may see degraded performance but the packages should be available as of now. The original cause of this issue was because there was a regression in APT Linux repos during some feature migration work that resulted in the APT repo packages becoming unavailable on the mirrors.

[2021-06-17 14:51] dagood commented on #5574
When you see this happening, please open a new issue (feel free to include a link back to this issue as a reference) or look for an issue currently tracking it--commenting on a closed issue isn't likely to ping the right person.

The current problems are tracked by https://github.com/dotnet/core/issues/6381.

[2021-06-17 14:54] Moskovych commented on #6381
Does anybody have some mirrors?

[2021-06-17 15:09] kilasuit commented on #6381
In my bathroom, yes.
For this, unfortunately not 🙁

[2021-06-17 15:13] kilobyte commented on #6381
`apt install apt-cacher-ng` then point all machines on your site to it.  Should help if you download the same package multiple times; and it'll be good to leave the cache running even after the current performance degradation is resolved.

[2021-06-17 15:17] dagood commented on #3995
When you see this happening, please open a new issue (feel free to include a link back to this issue as a reference) or look for an issue currently tracking it--commenting on a closed issue isn't likely to ping the right person.

The current problems are tracked by https://github.com/dotnet/core/issues/6381.

[2021-06-17 15:30] kevin-olbrich commented on #6381
This package is broken and has lots of bugs. Better use this:
https://packages.debian.org/buster/squid-deb-proxy

We were using apt-cacher-ng for CI and such and index files broke multiple times per week. This has also been acknowledged by the maintainers. After the switch to squid-deb-proxy, cache worked better and we never had to do any maintenance again.

[2021-06-17 15:36] NiklasGustafsson commented on #6381
I'm still seeing problems:

[code]

[2021-06-17 15:38] iconics-pavels commented on #6381
I had the same issue two hours ago with Moby. But at this moment I am able to install it. The installation was very, very slow but at the end it was completed. I am working with Ubuntu 18.04.

[2021-06-17 15:38] AlekSi commented on #6381
One can also use https://www.aptly.info for mirroring

[2021-06-17 15:46] ygrenzinger commented on #6381
Hello, at my step,  i now have:

Err:1 https://packages.microsoft.com/ubuntu/21.04/prod hirsute/main amd64 dotnet-host amd64 5.0.7-1
  Could not wait for server fd - select (11: Resource temporarily unavailable) [IP: 40.65.182.21 443]
E: Failed to fetch https://packages.microsoft.com/ubuntu/21.04/prod/pool/main/d/dotnet-host/dotnet-host-5.0.7-x64.deb  Could not wait for server fd - select (11: Res

[2021-06-17 15:50] SudhirNune commented on #6381
seems like now the Azure devops is having issue - https://status.dev.azure.com/_event/246136621

[2021-06-17 16:16] omalleyk85 commented on #6381
also seeing issues downloading azure-cli content from microsofts yumrepos:
azure-arm: [MIRROR] azure-cli-2.25.0-1.el7.x86_64.rpm: Curl error (28): Timeout was reached for https://packages.microsoft.com/yumrepos/azure-cli/azure-cli-2.25.0-1.el7.x86_64.rpm [Operation too slow. Less than 1000 bytes/sec transferred the last 30 seconds]

[2021-06-17 16:17] HeatherLDoughty commented on #6381
We are still having issues
https://packages.microsoft.com/debian/10/prod buster/main amd64 aspnetcore-runtime-2.1 amd64 2.1.28-1
[8 aspnetcore-runtime-2.1 3768 kB/21.9 MB 17%]        8183 B/s 3h 43min 46s30% [8 aspnetcore-runtime-2.1 3784 kB/21.9 MB 17%]        8183 B/s 3h 43min 44s30% [8 aspnetcore-runtime-2.1 3784 kB/21.9 MB 17%]       10.9 kB/s 2h 47min 50s30% [8 aspnetcore-runtime-2.1 3784 kB/

[2021-06-17 16:24] Coding-Enthusiast commented on #6381
The servers seem to be overloaded for now but the files are indeed back when checked manually. Our [Travis-ci build](https://travis-ci.com/github/Autarkysoft/Denovo/builds/229423656) is now failing with a timeout.

[2021-06-17 17:17] michaelgsharp commented on #6382
What version of dotnet are you using and where did you install it from?

[2021-06-17 17:19] michaelgsharp commented on #6383
This issue is being tracked with #6381. It should be fixed now (as Youssef1313 said), but some are still seeing slowdowns since everyone is trying to download it. Closing this issue.

[2021-06-17 17:19] #6383 closed

[2021-06-17 17:19] troglodytto commented on #6381
Microsoft ran in an overload situation. Maybe try GCP?

[2021-06-17 17:20] michaelgsharp commented on #6384
What were you trying to do? Can you share your code and what your steps were?

[2021-06-17 17:21] michaelgsharp commented on #6385
Were you following a tutorial? If so, which one? What version of dotnet are you using?

[2021-06-17 17:22] michaelgsharp commented on #6386
This issue is being tracked with #6381. It should be fixed now (as Lucario95 said), but some are still seeing slowdowns since everyone is trying to download it. Closing this issue.

[2021-06-17 17:22] #6386 closed

[2021-06-17 17:23] michaelgsharp commented on #6387
This issue is being tracked with #6381. It should be fixed now, but some are still seeing slowdowns since everyone is trying to download it. Closing this issue.

[2021-06-17 17:23] #6387 closed

[2021-06-17 17:27] m17kea commented on #6381
@rbhanda will there be an incident report in response to this? I'd be particularly interested in why mirror sites were not available or if available, why there is a single point of failure affecting them all.  We've faced issues in the past where packages would fail when a deployment was running but a cataclysmic failure of this nature would have affected many production workloads today. Package m

[2021-06-17 17:32] mairaw commented on #6382
What version of Windows are you running?
For a couple of older versions, you need to install additional dependencies:
https://docs.microsoft.com/dotnet/core/install/windows?pivots=os-windows&tabs=net50#additional-deps

[2021-06-17 17:45] ra-om commented on #6381
Have This Issue, I Also +1

[2021-06-17 18:11] mikevo13 commented on #6381
Agree, this is the 3rd time we have encountered this issue, and Microsoft does not seem care.

[2021-06-17 18:16] kevin-olbrich commented on #6381
That's nothing new and has always been working like that. This applies to many of their products and services.
You always need an alternative handy (which is always a good idea, not just when working with MS).

[2021-06-17 18:23] rbhanda opened #6389 ".NET 6 Preview 5"
[Release Notes](https://github.com/dotnet/core/blob/main/release-notes/6.0/preview/6.0.0-preview.5.md)

Please report any issues you find with .NET 6, either responding to this issue, creating a new issue or creating a new issue in one of the following repos:

* [dotnet/aspnetcore](https://github.com/dotnet/aspnetcore/issues) - for ASP.NET Core questions
* [dotnet/efcore](https://github.com/dotnet

[2021-06-17 18:36] satyamravindra commented on #6381
We had an incident with packages.microsoft.com that resulted in packages being unavailable. Our engineering team has mitigated the issue and our internal data shows improvement in the availability. If you still have problems, please provide us more information (output of "apt-get update|install") and we can investigate it further.

[2021-06-17 18:41] Uter1007 commented on #6381
Install azure-cli is also very slow when downloading it via official scripts: curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash

[2021-06-17 19:14] leecow commented on #6295
Preview 5 released so closing this issue.

[2021-06-17 19:14] #6295 closed

[2021-06-17 19:38] #6349 closed

[2021-06-17 19:43] aaronfranke commented on #606
@Petermarcu Where are the instructions for setting this up? I wasn't able to figure it out by just blindly poking around.

[2021-06-17 21:11] stromcon commented on #6381
![image](https://user-images.githubusercontent.com/6690149/122472796-549ac900-cfc1-11eb-8178-2bf81b1025fa.png)

Same for me, downloads are very slow from packages.microsoft.com

[2021-06-17 21:21] dazfuller commented on #6381
This is what I'm seeing at the moment

[code]

[2021-06-17 21:27] leecow commented on #6381
Sorry for all of the issues and inconveniences this has caused! I just saw a report from the team that owns packages.microsoft.com and here's a summary of where they're at:

* West US mirrors will be up very soon (if not already done), which should begin to alleviate some of the performance issues.
* Mirrors in Europe online in ~5 hours (currently replicating), which will address the latency in Eu

[2021-06-17 21:55] Mlocik97 commented on #6381
Don't spy on users (I'm looking on You Win10) and You will have a lot of free space on disks.

[2021-06-17 22:13] bb980701 commented on #6381
From Europe behind a proxy impossible to download   few byte/s
![image](https://user-images.githubusercontent.com/71716559/122478583-f9210900-cfc9-11eb-97a3-86a4987436ff.png)

[2021-06-17 22:48] stromcon commented on #6381
Using a VPN and `ipconfig /flushdns` i was able to download azure cli since europe still down

[2021-06-17 22:53] nssidhu opened #6392 "Integrity Error after publishing when upgraded to use VS 2019 Preview 1.0"
I am using blazor wasm hosted app with .NET 5

I have been publishing it on daily basis without any error to Azure App Service (windows).
I have been using VS 2019 Version 16.10.1

Today when i instead started using using Microsoft Visual Studio 2019 Preview Version 16.11.0 Preview 1.0,  (Installed side-by-side on same machine)

Everything worked fine on the development box, but after publishing I

[2021-06-18 04:25] abhishek179 commented on #6381
apt-get fails to get the package from this repo.
Get:1 https://packages.microsoft.com/ubuntu/18.04/prod bionic/main amd64 blobfuse amd64 1.3.7 [7,195 kB].

Is this a known issue that is getting worked upon?

[2021-06-18 05:22] thedimas3007 commented on #6381
Now it works

[2021-06-18 05:40] abhishek179 commented on #6381
yeah it is still slow(intermittently) but working..

[2021-06-18 05:42] aashu-kumari-by commented on #6381
Yeah ours is running only from last 2 hours not sure when it will complete :( @rbhanda  Please let me know when we can expect this to be completely working.

[2021-06-18 05:44] dimanchezzz commented on #6381
This solution helped for me
`snap install dotnet-sdk --classic`

[2021-06-18 07:12] ramprudvi commented on #4371
I am having same issue any useful link would be great
Steps to reproduce:
1. Simple Worker Service project
2.  Worker Code
 public class Worker : BackgroundService
    {
        private readonly ILogger<Worker> _logger;

        public Worker(ILogger<Worker> logger)
        {
            _logger = logger;
        }

        protected override async Task ExecuteAsync(CancellationToken stoppingToken

[2021-06-18 07:14] ramprudvi commented on #4371
Please suggest

[2021-06-18 07:28] m17kea commented on #6381
I don't think it is appropriate for Microsoft to proclaim to the world in their own [health dashboards](https://status.dev.azure.com) and [event trackers](https://status.dev.azure.com/_event/246136621) that all is well, when these services are still clearly degraded.

[2021-06-18 07:57] azizkazdal commented on #4371
@ramprudvi
I have changed the release model of application that time and all worker background service was successfulyy worked. So I have not tried self contained release yet. Now I am on Net 5 an still not using self contained application.

[2021-06-18 08:01] aashu-kumari-by commented on #6381
Now i can confirm its running fine, but yeah we need to monitor it for few more times.
Thanks

[2021-06-18 08:08] ramprudvi commented on #4371
Hi Dotnet/Core,

May I know release model suited for you

On Fri, Jun 18, 2021, 1:27 PM S.Aziz Kazdal ***@***.***>
wrote:

[2021-06-18 09:41] rusuly commented on #6389
Hi, I'm blocked by the [JWT Handler](https://github.com/dotnet/aspnetcore/issues/33634) issue which occurs after migrating from preview 4 to preview 5

[2021-06-18 11:12] Mlocik97 commented on #6381
I'm just downloading code update and it's ~500kbps so slow.....

[2021-06-18 12:07] vahpetr commented on #6389
Hi. After migration from preview 4 to preview 5 `builder.WebHost.UseWebRoot("wwwroot")` break application.
Unhandled exception. System.ArgumentException: The path must be absolute. (Parameter 'root')

[2021-06-18 13:18] huipingli2009 opened #6393 "Unable to connect to the server: dial tcp [::1]:8080: connectex: No connection could be made because the target machine actively refused it."
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/deploy-microservice-tutorial/deploy
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-06-18 13:19] huipingli2009 commented on #6393
I am learning deploy my first microservice to azure but got this error:
Unable to connect to the server: dial tcp [::1]:8080: connectex: No connection could be made because the target machine actively refused it.
Please help.

Thanks.

[2021-06-18 14:12] nssidhu commented on #6392
Found out that Error are also appearing for the VS 2019 (non Preview Version as well)

[2021-06-18 14:23] khurshidmalik opened #6394 "Got compile error while build the app"
Severity	Code	Description	Project	File	Line	Suppression State
Error	MSB3644	The reference assemblies for framework ".NETFramework,Version=v5.0" were not found. To resolve this, install the SDK or Targeting Pack for this framework version or retarget your application to a version of the framework for which you have the SDK or Targeting Pack installed. Note that assemblies will be resolved from the

[2021-06-18 15:13] nssidhu commented on #6392
Since the error only happens for the version published to Azure App Service(Local one works fine), i suspect there are some reminent files on the Azure App Service.
What is the correct way to clear the files on Azure App Service (Windows) ?
Also i noticed that in the properties
(Stack settings
Stack
.NET version )
 of Azure App Service, after publishing it reverts it back to 3.1
FYI: I upgraded my

[2021-06-18 15:44] Uter1007 commented on #6381
60kb/sec for the azure-cli :( Still hope that microsoft will fix their slow connection for ubuntu repositories.

[2021-06-18 16:55] brennankapollock opened #6395 "Zsh Shell: Cannot check if install was successful?"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: macos

I'm trying to check if my install succeeded but when i type dotnet it says the command cannot be found.

[2021-06-18 17:48] michaelgsharp commented on #6393
What version of dotnet are you using? What command were you running when you got that error?

[2021-06-18 18:26] huipingli2009 opened #6397 "After I ran deployment: kubectl apply -f deploy.yaml, I got this error: Unable to connect to the server: dial tcp [::1]:8080: connectex: No connection could be made because the target machine actively refused it."
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/deploy-microservice-tutorial/deploy
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-06-18 18:48] huipingli2009 commented on #6393
V5.0.202

Command I used is from a learning online: kubectl apply -f deploy. yaml

Thanks.

Sent from my iPhone

[2021-06-18 19:00] michaelgsharp commented on #6394
So NetFramework version 5 does not exist. You were probably meaning just .NET5 instead. Is this for a tutorial? Or what?

In your project file, you should switch the `TargetFramework` tag to look like this:
`<TargetFramework>net5.0</TargetFramework>`

[2021-06-18 19:05] michaelgsharp commented on #6395
Did you open a new terminal window?

[2021-06-18 19:05] michaelgsharp commented on #6395
And what version of Mac are you on?

[2021-06-18 19:07] michaelgsharp commented on #6397
This is a duplicate of your other issue #6393, closing this one so we can track the issue in place.

[2021-06-18 19:07] #6397 closed

[2021-06-18 22:24] paigeweber13 commented on #6278
Omnisharp is giving me this error in visual studio code on Ubuntu 20.04, despite using v1.23.12 of the csharp extension. I'm afraid this is because I have a snap installation of dotnet sdk instead of using microsoft's apt repo... is it possible to point the extension to my install location? Or will I have to switch to the apt install?

[2021-06-18 22:51] JoeRobich commented on #6278
@paigeweber13 Many users report that running `ln -s /snap/dotnet-sdk/current/dotnet /usr/local/bin/dotnet` makes their snap install discoverable.

[2021-06-18 23:54] ravindrabhartiya commented on #6381
Confirming the incident resolution at 10:17PM PST last night. We have restored the service in all regions, been monitoring the results since resolution and got confirmation from multiple customers that they no longer observe the issue. Thank you for reporting this issue.

[2021-06-19 00:11] arakieu commented on #6376
so uhh i did `curl -o dotnet.zip https://download.visualstudio.microsoft.com/download/pr/74448616-c6d2-40bf-b6da-aa3a6c1009ab/62702150054089e2961aaf32e8ab3ffc/dotnet-sdk-6.0.100-preview.5.21302.13-win-x64.zip`

and it worked

but when i did `tar -C dotnet -xf dotnet.zip` then it said: `tar: could not chdir to 'dotnet'`

[2021-06-19 00:19] corey7754 commented on #6237
Corey7754

[2021-06-19 03:20] #6378 closed

[2021-06-19 19:42] hmsca commented on #6389
Hi, I'm getting this error "error NU1102: Unable to find package System.ComponentModel.Annotations with version (>= 6.0.0-preview.5.21217.1)" after upgrading from preview 4 to 5.

[2021-06-19 21:08] ryancdotnet commented on #6098
## dotnet/sdk: Preserve destination folder option for File System publish (https://github.com/dotnet/sdk/pull/15494)

When using **dotnet** or **msbuild** to publish a project or website using the File System option, and the "**Delete existing files**" option is enabled, the target destination folder is deleted and recreated after deleting any existing files inside. This can have unwarranted side

[2021-06-19 21:31] nssidhu commented on #6392
Found the problem, after i opened in VS 2019 preview 2 and published it. did not change anything related to version it is still .NET 5
No matter, even if open in the prevision VS 2019 (non Preview Version) it would still published .NET 6 preview version of .js files under the _framework.

Not sure that change go applied, I uninstalled VS 2019 Preview and an the regular VS 2019.
Later just installe

[2021-06-19 21:31] #6392 closed

[2021-06-20 07:04] tksrc commented on #6381
Hey guys,

I am still having issues interacting with the repo...

`#10 6.790 deb [arch=amd64] https://packages.microsoft.com/repos/azure-cli/ hirsute main
#10 6.961 Hit:1 http://archive.ubuntu.com/ubuntu hirsute InRelease
#10 7.009 Hit:2 http://archive.ubuntu.com/ubuntu hirsute-updates InRelease
#10 7.070 Hit:3 http://archive.ubuntu.com/ubuntu hirsute-backports InRelease
#10 7.096 Hit:4 http://sec

[2021-06-20 07:13] tksrc commented on #6381
My bad... I was using ubuntu 21.04 (hirsute). I noticed that version is not yet supported (doesn't exist) in the repo: https://packages.microsoft.com/repos/azure-cli/dists/

Switched back to 20.04 (focal) and it worked.

Thanks

[2021-06-20 10:39] gdar91 commented on #6389
Web API server fails to start when you have more than 3 hosted services registered. Error message: System.InvalidOperationException: Server has already started.

Steps to reproduce:

1. Create an empty solution.
2. Create a new Web API project inside the solution directory.
3. Create at least 4 background services (or create a generic one and add it at least four times.)
4. From the command prompt

[2021-06-20 17:03] Turksyker opened #6398 "nerede eksiğim var bilen varmı"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-06-20 21:54] LightBender commented on #5851
Hi @omajid, I have been trying to install .NET Core on FC34 and I get this error from DNF:
[code]
But when I try to install a runtime:
`
[root@BUILD-LINUX2 ~]# dnf install aspnetcore-runtime-5.0
Last metadata expiration check: 0:46:02 ago on Sun 20 Jun 2021 02:07:03 PM PDT.
Package aspnetcore-runtime-5.0-5.0.4-1.fc34.x86_64 is already installed.
Dependencies resolved.
Nothing to do.
Complete!
`

T

[2021-06-21 09:00] matteotrapani commented on #2933
Hi all,

I'm sorry to write under this closed issue, but I have a similar issue which I can't come over with.

I'm working on a ASP.NET Core 3.1 solution which references Nuget packages from the client feed.
These nuget packages are using .Net Framework 4.7 and are referenced in projects targeting .NetStandard 2.0.

The problem is that the client nuget packages use some code from namespace System.

[2021-06-21 16:10] Pilchie commented on #2933
As @Anipik said [above](https://github.com/dotnet/core/issues/2933#issuecomment-514719334), that type is not available in .NET Core.  You'll need to update that dependency to a version which supports .NET Core 3.1.

[2021-06-21 16:58] michaelgsharp commented on #6381
Closing since the issue has been resolved.

[2021-06-21 16:58] #6381 closed

[2021-06-21 20:15] #6365 closed

[2021-06-21 20:15] #6366 closed

[2021-06-21 20:15] #6370 closed

[2021-06-21 21:15] #6335 closed

[2021-06-21 21:15] #6359 closed

[2021-06-21 21:15] #6360 closed

[2021-06-21 21:15] #6361 closed

[2021-06-21 21:15] #6362 closed

[2021-06-21 21:32] xtqqczze opened #6400 "Support for Ubuntu 16.04 in .NET 6"
Support for Ubuntu 16.04 was apparently [removed](https://github.com/dotnet/core/blob/06bc572c921014dc77c0d1217861ce10d1cd382b/release-notes/5.0/5.0-supported-os.md) in .NET v5.0.6, not long after it reached end-of-life on 2021-04-30.

Currently [.NET 6 Support](https://github.com/dotnet/core/blob/main/release-notes/6.0/supported-os.md) still shows support for Ubuntu 16.04. Will this be the case o

[2021-06-21 21:33] mairaw commented on #6398
We'd need more information about what is happening to tell you what you might be missing.

[2021-06-21 21:34] mairaw commented on #6400
We typically don't support EOL versions. @leecow @rbhanda should the .NET 6 support doc be updated too?

[2021-06-21 21:36] mairaw commented on #6393
@nishanil @shirhatti can you help here?

[2021-06-21 21:37] mairaw commented on #6389
Adding @danroth27 and @LadyNaggaga to see if these issues are already being tracked

[2021-06-21 21:46] mairaw commented on #5816
My bad, yeah. 64-bit is coming with VS 2022.

I'll close the issue since you resolved the problem, even though I find it odd that you'd need to install the 32-bit version of the SDK. You didn't install the SDK through the VS installer, then?

[2021-06-21 21:46] #5816 closed

[2021-06-21 21:48] mairaw commented on #6394
Sometimes you also get this error if you don't have the .NET 5 SDK installed on the machine. Are you trying to build via CLI or VS? If VS, what version of VS are you on?

[2021-06-21 21:49] mairaw commented on #6376
We also have this option for you to use a coding pack with VS Code:
https://dotnet.microsoft.com/learntocode

It shouldn't require admin rights.

[2021-06-21 22:13] richlander commented on #6400
I believe that change to .NET 5 was a mistake. We had intended to continue to support Ubuntu 16.04.

Absolutely true. We believe that we still have sizable usage on Ubuntu 16.04. I believe we intend to keep Ubuntu 16.04 as a test leg to ensure we don't break it.

[2021-06-21 22:55] danroth27 commented on #6389
@hmsca See https://github.com/dotnet/announcements/issues/190. System.ComponentModel.Annotations is now part of the shared framework in .NET 6, so you should remove the package reference.

[2021-06-21 22:58] danroth27 commented on #6389
Unhandled exception. System.ArgumentException: The path must be absolute. (Parameter 'root')

@BrennanConroy @shirhatti Was this an intentional change in behavior?

[2021-06-21 23:07] BrennanConroy commented on #6389
@halter73 This looks like they're using `ConfigureWebHostBuilder`, anyone known issues/changes from preview4 to preview5 around this area?

[2021-06-21 23:18] jamshedd commented on #6400
@richlander is correct - for 5.0, we got buyoff from the directors based on the usage stats so we do support 16.04 for 5.0. Once we have current stats for 16.04 we can probably make a similar case for 6.0.

[2021-06-21 23:22] mairaw commented on #6400
So should we add 16.04 back to the .NET 5 document @jamshedd?
https://github.com/dotnet/core/blob/main/release-notes/5.0/5.0-supported-os.md

[2021-06-22 00:37] jamshedd commented on #6400
Yes please.

[2021-06-22 01:15] #6400 closed

[2021-06-22 07:19] DevHamza-Core opened #6403 "dotnet watch run blazor application error"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/run
Operating System: windows

![bApp](https://user-images.githubusercontent.com/73877190/122880875-f3be1880-d353-11eb-8cd0-d4db07b9d8dd.png)
This issue occured on first run. Please look into it and provide the solution.

[2021-06-22 07:44] Sharique-dotnet commented on #5925
Hi @sinisteralex ,
Can u explain how did u solved the problem? Because I'm also getting the same problem.
![error](https://user-images.githubusercontent.com/60686493/122884390-b9f11000-d35b-11eb-8691-ba341c0f4536.png)

[2021-06-22 08:31] #4865 closed

[2021-06-22 13:13] krwq commented on #6403
cc:@Pilchie

[2021-06-22 14:30] RightTechGit opened #6404 "Learning GuideLine"
Good day Sir/Maa I am RIghtTech by Name. I am a beginner in Learning ASP. NET but it takes to times to understand from the video at microsoft.com because those video are for experts pls what way can you advise me on how to be expert in the fields. Thanks in anticipation.

[2021-06-22 14:52] krwq commented on #6404
Depending on your experience, you will need to learn C# and .NET first (you can't run before you learn to walk). Once you become relatively comfortable then you should start watching/reading tutorials in the technology you're interested in (i.e. ASP .NET). Once you're comfortable following tutorials then try to change something on your own. It all comes down to the experience and determination, th

[2021-06-22 15:25] danroth27 commented on #5925
@NTaylorMullen Looks like these are Razor tooling issues in VS Code.

[2021-06-22 17:09] Betaminos opened #6405 ".Net 6p5, Trimming apps versus Windows Forms"
### Description

I am currently building a very basic application using Windows Forms.

My initial code looks like this (unchanged from template):
[code]

Whenver I try to run it, while trimming (regardless of trimming mode) is activated in the .csproj, my Debugger will instantly run into an unhandled exception when hitting the last line of code:
[code]

My expectation would have been that Windows

[2021-06-22 17:36] #6374 closed

[2021-06-22 17:36] #6373 closed

[2021-06-22 18:19] Pilchie commented on #6403
@karelz @Tratcher does this socket error look familiar?

[2021-06-22 19:09] Tratcher commented on #6403
Port conflicts. Things like docker and WSL can reserve port ranges. You can stop those services, change their reservations, or change the application's port in launchsettings.json
https://github.com/dotnet/aspnetcore/issues/25562

[2021-06-22 19:57] NASIM537 opened #6406 "modify setup"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

hi
I have windows 10 Home on my computer.
When I download  .NET SDK ,  I get a modify setup which has three altern

[2021-06-22 21:37] omajid opened #6407 "dotnet-runtime-deps has broken dependencies on Fedora 34"
Originally reported by @m-ghaoui on
https://github.com/OmniSharp/omnisharp-vscode/issues/4360#issuecomment-864365758

### Description

The `dotnet-runtime-deps-5.0.7` package for Fedora 34 on packages.microsoft.com has broken dependencies.

You can see that by following the steps on the issue described above:

[code]

The last command shows the error:

[code]

You can see the dependency informatio

[2021-06-22 21:40] mairaw commented on #6406
That usually indicates you already have it installed. You can confirm by going to Add or remove programs.

Can you post the output of `dotnet --info`?

[2021-06-22 21:52] omajid commented on #5851
Hey @LightBender. It looks like you have a mix of .NET-related packages. Some from Microsoft (packages.microsoft.com) and some from Fedora.

Could you share the output of `dnf repolist`?

Have you seen https://docs.microsoft.com/en-us/dotnet/core/install/linux-package-mixup#solutions ? That has a couple of solutions on what you can do to solve this issue. In my case, I removed the Microsoft packag

[2021-06-23 10:21] DevHamza-Core commented on #6403
@Pilchie @krwq @Tratcher Thanks. I changed the port which might be occupied by the docker and it runs fine now. Need to dig into docker to understand it's working.

[2021-06-23 11:17] krwq commented on #6405
cc: @eerhardt

[2021-06-23 11:23] krwq commented on #6403
Thanks @DevHamza-Core! Sounds like your issue is fixed. Feel free to re-open this issue if you think we should do anything more here.

[2021-06-23 11:23] #6403 closed

[2021-06-23 11:25] krwq commented on #6407
@bartonjs do you perhaps know any easy workarounds?

[2021-06-23 11:53] eshorr-cyber commented on #3943
In order to install Package.dmg on Big Sur, you have to do it by the command line.

1) Open the Package.dmg
2) Open the console and type:
sudo /usr/sbin/installer -pkg <Path to Packages.pkg> -target /

[2021-06-23 14:12] eerhardt commented on #6405
WinForms isn't trim compatible. See

https://github.com/dotnet/winforms/issues/4649
https://github.com/dotnet/sdk/pull/16892

You should have gotten a warning saying:

@agocke @LakshanF @vitek-karas @merriemcgaw @JeremyKuhne  @RussKie - maybe we should change this from a warning to an error, since it is basically guaranteed not to work?

[2021-06-23 14:45] vitek-karas commented on #6405
@Betaminos Did you see the warning "Windows Forms is not supported or recommended with trimming enabled."?

We didn't want to completely disable it - and the current idea is that showing the warning is "enough" to notify the developer. Developer can choose to ignore the warning.
If it were an error, we would have to introduce some other mechanism (probably a new property) how to say "I know, but I

[2021-06-23 15:15] vitek-karas commented on #6405
There's an issue that the warning is not reported when building the app - so it's possible for users to never see the warning, but the app is still broken. Filed an issue for that: https://github.com/dotnet/sdk/issues/18474

[2021-06-23 15:18] Otter1479 opened #6408 "Hello World"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/edit
Operating System: windows

I have been successful to the point of Hello World.  I am not receiving that prompt response

[2021-06-23 15:18] vitek-karas commented on #6405
Playing with this a bit more - I agree that we should actually fail the build in this case - since it's pretty much guaranteed to break the app (simple text box does that). But that means we need to have a way to override the error (or turn it into a warning instead).

Going to move this to the SDK repo where all these changes would take place.

[2021-06-23 16:59] omajid commented on #6407
All recent versions of .NET/.NET Core support OpenSSL 1.1..

Thinking out loud here:

- We could switch the dependency to `openssl` instead of `compat-openssl10`. But that might have an impact on existing deployments that are not prepared for OpenSSL 1.1. If both OpenSSL 1.0 and 1.1 are installed, older versions prefer OpenSSL 1.0, but newer versions (3.1 and later, I think) will use OpenSSL 1.1.

[2021-06-23 18:01] mairaw commented on #6408
@Otter1479 can you give more information about this? What prompt response you're not receiving?

Did you at least see Hello World on your screen?

[2021-06-23 18:23] #6377 closed

[2021-06-23 21:21] halter73 commented on #6389
Thanks for the report @hmsca! This is being tracked by #33795.

For anyone wanting a workaround, you could do something like the following to get an absolute path:

[code]

[2021-06-23 21:23] #6380 closed

[2021-06-24 00:10] NASIM537 commented on #6406
Hi and thank you for your comment.
I wonder if man can use  . Net without having visual studio.?
Kind regards nasim

[2021-06-24 01:04] mairaw commented on #6406
You don't necessarily need Visual Studio. Here are some options:
https://dotnet.microsoft.com/platform/tools

It will depend the kind of app you're trying to build.

[2021-06-24 01:19] NASIM537 commented on #6406
Thank you so much again
Kind regards nasim

[2021-06-24 08:48] leonkleiboerstrukton opened #6409 "Application crash when using empty statement (semicolon) in Startup.cs"
### Description
I was trying to make an API in Visual Studio, using net 5.0.7 and the APS.NET Core Web API template.
My application keeps crashing, before even hitting the first line of code in Program.cs In the output window, the only information shown was:

'xxx.exe' (CoreCLR: clrhost): Loaded 'C:\Program Files\dotnet\shared\Microsoft.NETCore.App\5.0.7\System.Runtime.dll'.
The program '[0x254C]

[2021-06-24 09:04] smjltd commented on #6389
.NET 6 Preview 5, Blazor Webassembly has issue's with some of the Chrome Client, Here is the Console Print
`dotnet.6.0.0-preview.5.21301.5.js:1 Uncaught (in promise) Error: Microsoft.JSInterop.JSException: Could not find 'Blazor._internal.endInvokeDotNetFromJS' ('endInvokeDotNetFromJS' was undefined).
Error: Could not find 'Blazor._internal.endInvokeDotNetFromJS' ('endInvokeDotNetFromJS' was undef

[2021-06-24 09:16] vonamord opened #6410 "The build failed. Fix the build errors and run again."
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/create
Operating System: windows

I've tried to run the app as it is described in the tutorial (I am running on dotnet 5.0.301 in WSL Ubuntu):
1) dotnet new blazorserver -o App --no-https
2) cd App
3) dotnet watch run
4) The build failed. Fix the build errors and run again.

watch : Exited with error code 1
watch : Wa

[2021-06-24 09:16] #6410 closed

[2021-06-24 13:02] svick commented on #6409
The problem is that the application is *not* crashing, it's doing exactly what you told it to do, which is nothing. C# 9 introduced [top-level statements](https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-9#top-level-statements), which means you can have statements outside of a class and those take priority over `Program.Main`. So your program executes the empty statement and then im

[2021-06-24 13:49] KamranShahid commented on #2802
same here

[2021-06-24 14:51] WeihanLi commented on #6389
When I upgrade .NET 6 preview 4 to preview 5, I'm using a new `JsonNode` API introduced in preview 4, I got an error like follows:

[code]

You can find my sample code [here](https://github.com/WeihanLi/SamplesInPractice/blob/master/notificationSample/NotificationSample/WechatCorpNotification.cs#L27) if needed

[2021-06-24 14:52] hmsca commented on #6389
@danroth27, the comment you left here https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-6-preview-5/#comment-3439 solved my issue. Upgrading Microsoft.VisualStudio.Web.CodeGeneration.Design from 6.0.0-preview.5.21313.1 to  6.0.0-preview.5.21321.1 did the job! Thank you 👍

[2021-06-24 15:01] WeihanLi commented on #6389
Namespace changed from `System.Text.Json.Nodes` to `System.Text.Json.Nodes`

[2021-06-24 16:13] mairaw commented on #6406
Anything else we can assist you?

[2021-06-24 16:34] shrinidhi111 opened #6411 "Will .Net 6 come pre-installed in Windows 11?"

[2021-06-24 16:37] shrinidhi111 commented on #6389
Does anyone know whether this comes pre-installed in Windows 11?

[2021-06-24 17:31] #6382 closed

[2021-06-24 17:31] #6385 closed

[2021-06-24 17:31] #6384 closed

[2021-06-24 18:27] MinzigesTV commented on #6381
[code]

It somehow does not work...

[2021-06-24 19:37] NASIM537 commented on #6406
It is very nice of you to want to help me.
Nothing so far.
best regards Nasim

[2021-06-24 21:42] NASIM537 commented on #6406
Hi, I found a page on internet about getting started with .NET  .
To create an application first you need to download   .NET SDK  and then open a termial like power shell and enter these commands.
dotnet new console -- output sample1
dotnet run-- project sample 1
The output should be hello world !
What  I got was that I had to rerun the command and pass -- force to accept and create. The resource

[2021-06-24 21:52] danroth27 commented on #6389
@shrinidhi111 .NET 6 is not installed with Windows 11.

[2021-06-24 21:53] danroth27 commented on #6389
@smjltd Thanks for reporting this! Could you please open an issue in the https://github.com/dotnet/aspnetcore/issues/new with details on how to reproduce the error you're seeing?

[2021-06-25 05:38] leonkleiboerstrukton commented on #6409
thx

[2021-06-25 05:38] #6409 closed

[2021-06-25 06:41] nainesh21 opened #6412 "Error not being solved"

[2021-06-25 09:42] krwq commented on #6411
cc: @terrajobst

[2021-06-25 09:44] krwq commented on #6406
@NASIM537 can you please:
- share output of `dotnet --info`
- share exact instructions you have run
- copy & paste error message or warning you are concerned about

[2021-06-25 09:46] krwq commented on #6411
My guess is no, according to: https://github.com/dotnet/core/issues/6389#issuecomment-867975347

[2021-06-25 09:48] krwq commented on #6412
Hi @nainesh21 can you be more specific about the issue you're seeing? Can you share repro steps?

[2021-06-25 10:04] NASIM537 commented on #6406
I have written exakt instruction I have run and the output too. But unfortunately I don't know how to copy and paste the error message.

[2021-06-25 16:43] shrinidhi111 commented on #6411
It'll great if so though, many clients are unhappy with installing additional runtimes so we are forced to limit our development to whatever framework is most common

[2021-06-25 19:46] #6394 closed

[2021-06-25 19:46] #6395 closed

[2021-06-25 20:22] terrajobst commented on #6411
No. We don't have any plans to bundle .NET into the OS and we're trying really hard to avoid this.

[2021-06-25 20:22] #6411 closed

[2021-06-25 20:23] terrajobst commented on #6411
Consider doing a self-contained deployment.

[2021-06-25 20:39] NASIM537 commented on #6406
Hi ,  I have just succeded to copy and paste instructions I have run.
Could you please help me how to get the right output which is hello world!
kind regards nasim
soft Windows [Version 10.0.19041.1052]
(c) Microsoft Corporation. Med ensamrätt.

C:\Users\Nasim Khatibi>dotnet new console --force
The template "Console Application" was created successfully.

Processing post-creation actions...
Runnin

[2021-06-25 20:54] mairaw commented on #6406
The SDK will usually tell you if you already have a project on the location you're trying to run `dotnet new console`. That's why it's telling you to run with the `--force` option. To avoid that, I'd run with the `-o` option like we show here: https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create

If you already have a folder called myApp, give it a new name. I'd try to start over

[2021-06-25 21:08] Sebazzz commented on #6411
Then make a self contained deployment. Then it is not a runtime, but part of the program.

Just like you can static link a Visual C++ runtime.

[2021-06-25 21:27] NASIM537 commented on #6406
I think I have succeeded .
Thank you so much for your help.
best regards nasim

Microsoft Windows [Version 10.0.19041.1052]
(c) Microsoft Corporation. Med ensamrätt.

C:\Users\Nasim Khatibi>dotnet new console -o myApp
The template "Console Application" was created successfully.

Processing post-creation actions...
Running 'dotnet restore' on myApp\myApp.csproj...
  Determining projects to restore.

[2021-06-25 23:15] mairaw commented on #6406
Yay! Yep, it looks good. I'll close the issue for now but let us know if you have more issues on your .NET learning journey.

[2021-06-25 23:15] #6406 closed

[2021-06-25 23:35] rizamarhaban commented on #6411
@shrinidhi111

If you haven't know, and you don't use command line to build the app, you can add `RuntimeIdentifier`, `PublishSingleFile` and `SelfContained` in your `.csproj`, example:

[code]

This will bundle all of what's needed for your WinForms or WPF to run without the Runtime, or SDK installed. In WinForms or WPF, you will just see a single `.exe` file and several `.pdb` files (_you can de

[2021-06-26 08:36] poke commented on #6411
@terrajobst

The usual reasoning I hear behind this is that shipping it with the OS means that it is bound to the same update cycles as the operating system. However, there are multiple examples that contradict this. For example the Calculator app and notepad which are both bundled with Windows but were somewhat recently announced to receive updates through the Windows Store.

There also is a sepa

[2021-06-26 09:07] Szer commented on #6411
Does it mean that even .NET 4.X won't be bundled in Win11?

[2021-06-26 09:18] davidfowl commented on #6411
This is about .NET (5/6, etc), not .NET Framework. .NET Framework will ship with windows as usual.

[2021-06-26 17:33] kunaldas1997 opened #6413 "Error 404: Fresh project"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/create
Operating System: windows
Created the project as stated on the website. but returns error 404.

Net 6.0 preview

[2021-06-27 17:58] SamuelCox commented on #5852
Really excited to see this. I have heard of one organisation that is moving to node over .net because .net's graphql offerings does not have feature parity with the apollo implementation in node.

[2021-06-28 00:44] NASIM537 opened #6414 "Is cd a command or not?"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Hi, I wonder if cd is a dotnet command?
What does it stand for?
best regards nasim

[2021-06-28 07:41] krwq commented on #6414
No, `cd` stands for "change directory". It's command line equivalent to opening a folder. In this specific tutorial:
- `dotnet new console -o myApp` creates a folder `C:\Users\Ana\myApp` with a new .NET console project
- without `cd` command all commands would execute from `C:\Users\Ana` so the tutorial tells you to go to `myApp` folder so that commands become simpler

[2021-06-28 07:46] krwq commented on #6414
I'll mark this question as answered and close the issue. Please go ahead and re-openor create a new issue should you have any more quuestions.

[2021-06-28 07:46] #6414 closed

[2021-06-28 07:52] krwq commented on #6413
Hello @kunaldas1997 can you please share `dotnet --info`?

Where are you getting 404? In the command prompt or you're seeing that in the browser when you try to navigate to your web app?

[2021-06-28 22:17] #6398 closed

[2021-06-28 23:42] mangod9 commented on #6325
# crossgen2 is the only option for PublishReadyToRun starting preview6

As we continue the journey of enabling crossgen2, we have now removed crossgen from the ` Microsoft.NETCore.App` package. As part of this change the SDK doesnt support using crossgen for PublishReadyToRun. You still have the ability to choose composite or non-composite.
[code]

[2021-06-29 00:38] amygeorge opened #6415 "Can't make Blazor tutorial inside VS 2017 CMD prompt"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

I followed the tutorial and then decided to try it again but instead build it within VS 2017 where I could explore the f

[2021-06-29 07:57] krwq commented on #6415
Hey @amygeorge please make sure to read the remark on the bottom of that page:

[code]

Simple solution is to change directory into something you can access. I.e.: `cd %USERPROFILE%`

[2021-06-29 11:19] #6063 closed

[2021-06-29 12:24] RonHeck opened #6416 ".NET5 Forms: Cancel edit on ListView triggers event AfterLabelEdit with args.Label is "" instead of null"
The behavior of entering the label edit mode and leaving it without change or escape button was changed. In .NET-Framework and .NET-Core 3.1 the event "AfterLabelEdit" provides "LabelEditEventArgs" where the property "Label" is "null". In .NET5 the empty string is returned. So for now it is not possible to detect edit operation cancelation any more. The previous behavior should be established as i

[2021-06-29 22:04] JulieLeeMSFT commented on #6325
## CodeGen
### Dynamic PGO https://github.com/dotnet/runtime/issues/43618
- Add option to choose guarded devirt class randomly https://github.com/dotnet/runtime/pull/53399
- pgo/devirt diagnostic improvements https://github.com/dotnet/runtime/pull/53247

### LSRA https://github.com/dotnet/runtime/issues/43318
- Refactor LSRA's heuristics selection https://github.com/dotnet/runtime/pull/52832
-- No

[2021-06-30 00:35] adegeo commented on #6379
@rbhanda  What should I do for docs on this?

[2021-06-30 00:36] rbhanda commented on #6379
Adding @leecow who can help guide for the docs.

[2021-06-30 02:51] hillin commented on #4419
I had the same problem when building in azure pipeline (building locally on my Windows box had no problem). Changing the vm image to windows from ubuntu solved the problem. I guess the Windows related frameworks are simply not available on non-Windows systems.

[2021-06-30 08:50] krwq commented on #6416
Hey @RussKie, can you transfer please?

[2021-06-30 13:59] nbarnwell commented on #6389
Just a little thing I noticed - if you use Add/Remove programs to uninstall the SDK, it actually leaves the folder behind with a zero-byte file in it in C:\Program Files\dotnet\sdk. This confuses dotnet.exe into thinking the SDK is installed, yet doesn't have a dotnet.dll in it. I deleted the folder by hand and now dotnet.exe --info lists only the real SDKs I have installed, and has started workin

[2021-06-30 16:18] markusmobius opened #6418 "Samba file share - File.Move not working"
After upgrading from 3.1 to 5 a program stopped working on ubuntu (both 18 and 20.04) that relies heavily on File.Move to move files across two different CIFS shares (with Windows as the host).

I upgraded cifs-utils but to no avail: the file seems to have been copied all right but then it throws the following error:
System.UnauthorizedAccessException exception - Access to the path is denied.

I a

[2021-06-30 16:34] Jay991 opened #6419 "No"
I'm trying to compile the onlyoffice Community server code on an Ubuntu droplet. After installing .NET 5.0 with runtime, I'm having difficult installing the .NET Developer pack version 4.8. As the the below shows that the pack is much needed:

`# dotnet run
/usr/share/dotnet/sdk/5.0.301/Microsoft.Common.CurrentVersion.targets(1216,5): error MSB3644: The reference assemblies for .NETFramework,Versi

[2021-06-30 17:41] mairaw commented on #6419
I think this error message might be misleading. You can't run .NET Framework on Ubuntu. @rainersigwald any tips?

Can you run `dotnet --info` and paste the output here? I'm thinking you might be missing the .NET 5 SDK.

[2021-06-30 18:31] #6408 closed

[2021-06-30 18:50] rainersigwald commented on #6419
That's true, though you should be able to _build_ for it, because the reference assembly package should be automatically referenced by the SDK since dotnet/sdk#10981.

That said, this error message is misleading. Filed https://github.com/dotnet/msbuild/issues/6647 to track.

I'm going to move this to the SDK repo since I think the reference should be added automatically by the SDK and that doesn't

[2021-06-30 19:59] Jacksondr5 opened #6420 "5.0 release.json doesn't contain 5.0.7"
### Description
Note sure if this is the right place to put this issue or not, but the [5.0 specific releases.json on windows.net](https://dotnetcli.blob.core.windows.net/dotnet/release-metadata/5.0/releases.json) doesn't have 5.0.7 listed in it even though both the [releases-index.json](https://github.com/dotnet/core/blob/main/release-notes/releases-index.json) and [5.0 specific releases.json](ht

[2021-06-30 20:14] mairaw commented on #6420
@rbhanda @leecow can you check this? I don't know how the windows.net location gets updated.

[2021-06-30 20:22] kalaskarsanket commented on #6420
The file has been corrected.

[2021-06-30 20:23] mairaw commented on #6420
Thanks @kalaskarsanket. Closing the issue then.

[2021-06-30 20:23] #6420 closed

[2021-06-30 22:50] kouvel commented on #6325
## Threading

### Improved the rate of thread injection for blocking due to sync-over-async (https://github.com/dotnet/runtime/pull/53471)
- [Sync-over-async](https://devblogs.microsoft.com/pfxteam/should-i-expose-synchronous-wrappers-for-asynchronous-methods/) is a common type of blocking work. When it happens on thread pool worker threads it can lead to starvation, and the slow thread injection

[2021-07-01 09:48] Seabizkit commented on #2001
HI

This works:
Select Kesteal as the project Run instead of IIS express from drop down.
      Website project (Start up)
            => Starts another Owin project hosting API

**This does not work:**
Select IIS express as the project Run instead of Kesteal from drop down.
      Website project (Start up)
            => Starts another Owin project hosting API

Throws and error saying it cant bind

[2021-07-01 09:55] duthEvo commented on #4795
yeah thanks for concern but issue resolved

On Wed, Jun 10, 2020 at 8:47 AM Maira Wenzel ***@***.***>
wrote:

[2021-07-01 10:44] ShikaiHuang opened #6421 "failed to compute cache key: "/MyMicroservice.csproj" not found: not found"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/docker-file
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-07-01 10:44] #6421 closed

[2021-07-01 12:16] krwq commented on #4795
Closing per comment above

[2021-07-01 12:16] #4795 closed

[2021-07-01 13:32] mvdmolen opened #6422 "intellisense error on SurveyPrompt"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-07-02 00:02] LeviantCoder opened #6423 "Didnt work"
Pointing out that this step does work unless you directly copy and paste the code you have an example of. editing this file as mentioned did not result in the product mentioned.

[2021-07-02 00:02] #6423 closed

[2021-07-02 09:54] #6412 closed

[2021-07-02 10:24] krwq commented on #6422
Hey @mvdmolen, Can you please provide more details on the error you're seeing?

[2021-07-02 14:09] sibylm opened #6424 "my network dignostics cannot be run without the diagnostics policy services it is not running"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/edit
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-07-02 14:33] coderb opened #6425 "Enhance DataGridView to support non-destructive (multi column) Sort"
`DataGridView.Sort` seems to be implemented via the quick sort algo in `DataGridViewRowCollection.RowArrayList`.

I would like to be able to sort the DataGridView in a non-destructive way when changing the sort column (clicking the header to sort).  Eg.  If I sort on the first column and then sort on the second, the rows remain sorted by column 1 for equal values of column 2.

[2021-07-02 16:47] joombler opened #6426 "Synology DSM 7 - MONO"
Dear team, just switched to DSM7 on my synology NAS. In the update list @ https://github.com/SynoCommunity/spksrc/issues/4524 for Mono is written: **avoid mono for DSM7, migrate related packages to dotnet instead**
Can you hint me on how to handle this (for me confusing) statement ? Thanks!

[2021-07-02 18:27] razaahmad42 opened #6427 "irun into issu"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-07-03 00:14] nevets95 opened #6428 "change your current directory to one where you have permissions to create a new folder"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-07-03 00:15] nevets95 commented on #6428
change your current directory to one where you have permissions to create a new folder

[2021-07-03 20:59] vahpetr commented on #6389
Appsettings do not merge.

Example:
appsettings.json { "Logging": { "LogLevel": { } } }
appsettings.Development.json { "Logging": { "LogLevel": { "Microsoft.AspNetCore.SignalR": "Trace" } } }

export ASPNETCORE_ENVIRONMENT=Development
dotnet run

Result: { "Logging": { "LogLevel": { } } }

[2021-07-04 13:46] divyajyotisingh01 opened #6429 "Problem while installing asp.net"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

dotnet new console -o myApp (after installing when I write this in cmd.

![image](https://user-images.githubusercon

[2021-07-04 21:14] xtqqczze opened #6430 "Support for Ubuntu 16.04 in .NET 3.1/2.1"
Release notes documenting support for Ubuntu 16.04 in .NET 3.1 was removed in https://github.com/dotnet/core/commit/0ba0707d9c989c3d8f209325f5241aa262b39603.

Since Ubuntu 16.04 in still supported in .NET 5.0, it is likely this removal was a mistake,

_Follow-up to #6400._

[2021-07-04 21:16] xtqqczze commented on #6430
Also removed in .NET 2.1 release notes: 432e8ce0329d75e60c1d333dd1ccbbe2d06e6455

[2021-07-04 21:17] xtqqczze commented on #6400
See also: #6430

[2021-07-04 21:34] xtqqczze opened #6431 "Drop support for Fedora 32"
Fedora 32 is end-of-life since 2021-05-25, should we drop support as per lifecycle policy?

https://fedoraproject.org/wiki/End_of_life

[2021-07-05 08:12] #6413 closed

[2021-07-05 08:30] Vaibhavking8 opened #6432 "Creating web page using C#"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/modify
Operating System: windows

I opened Index.cshtml
and replaced the code with:
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Hello, world!</h1>
    <p>The time on the server is @DateTime.Now</p>
</div>

But it is showing error.
please send full sample co

[2021-07-06 06:42] krwq commented on #6432
Hey @Vaibhavking8 I'm not sure I understand the problem, can you please elaborate? What error are you seeing?

Are you seeing the error in the browser or in the command prompt where you've run `dotnet run`?

[2021-07-06 06:50] krwq commented on #6424
Hey @sibylm can you please provide more details? I'm not seeing correlation between title of this issue and link to the tutorial.

[2021-07-06 06:54] krwq commented on #6425
@RussKie could you please transfer?

@coderb not sure if this will help but it sounds similar to your problem https://social.msdn.microsoft.com/Forums/vstudio/en-US/8fc635e2-9994-4214-9c89-43b3acf528e1/c-sorting-a-datagridview-by-one-column-then-by-another?forum=winformsdatacontrols

[2021-07-06 06:58] krwq commented on #6426
@joombler I think it will make more sense to ask this question in https://github.com/SynoCommunity/spksrc/ repo. If you have specific issues with mono you'd like to get fixed to get that package to work then open issue in the mono repo: https://github.com/mono/mono/issues

[2021-07-06 06:59] krwq commented on #6427
@razaahmad42 can you please provide details on what issue are you seeing?

[2021-07-06 07:03] krwq commented on #6428
@nevets95 the issue you're seeing is telling you the solution. Example solution would be to run this before any steps in the tutorial:

[code]

[2021-07-06 07:09] krwq commented on #6429
Hi @divyajyotisingh01 have you read the note in the bottom of the tutorial? You need to run the tutorial steps from the directory you have access to. Example solution is go to your user profile before running any steps of the tutorial:

[code]

[2021-07-06 07:11] krwq commented on #6430
cc: @jamshedd @leecow @rbhanda

[2021-07-06 07:12] krwq commented on #6431
cc: @jamshedd @leecow @rbhanda

[2021-07-06 07:46] Rahul24041999 opened #6433 "dot net issue"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-07-06 09:03] joombler commented on #6426
Hi Krzysztof,
Thanks for your reply. Will follow up!

Best regards,
Jos

From: Krzysztof Wicher ***@***.***>
Sent: dinsdag 6 juli 2021 8:59
To: dotnet/core ***@***.***>
Cc: Joombler ***@***.***>; Mention ***@***.***>
Subject: Re: [dotnet/core] Synology DSM 7 - MONO (#6426)

@joombler <https://github.com/joombler>  I think it will make more sense to ask this question in https://github.com/SynoCommu

[2021-07-06 09:49] krwq commented on #6426
Thank you! I'll close the issue since there is nothing to do on our side, feel free to reopen if you feel there is something we should do on our side.

[2021-07-06 09:49] #6426 closed

[2021-07-06 09:49] krwq commented on #6433
Hi @Rahul24041999, can you please provide details on the issue you're seeing?

[2021-07-06 16:53] jamshedd commented on #6430
@mairaw, we need to add this back for 3.1 too. I don't think we need to do the same for 2.1 since that will reach end of support by next month, so even if Ubuntu 16.04 were supported 2.1 itself will not be.

[2021-07-06 16:57] rbhanda commented on #6430
https://github.com/dotnet/core/pull/6436 is created to resolve this.

[2021-07-06 16:57] #6430 closed

[2021-07-06 19:08] mairaw commented on #6432
Also make sure you edit the cshtml file and not the cs file. Sometimes Windows will hide the extension and you might end up editing the wrong file.

[2021-07-06 19:23] moliveto opened #6437 "ASP.NET CORE 5.0 TLS 1.2 issue on linux but on asp.net core 3.1 are working"
### Description

**I have a problem with TLS 1.2 in asp.net core 5.0 and linux. It's happening only in asp.net core 5.0, the same code run on asp.net core 3.1**

SSL connection using TLSv1.2 / AES256-GCM-SHA384

Issuer: C=GB; ST=Greater Manchester; L=Salford; O=COMODO CA Limited; CN=COMODO RSA Organization Validation Secure Server CA

[code]
I am sharing a console app bellow that you should see to

[2021-07-06 20:16] leecow commented on #6431
We can update the support docs during the July update releases.

[2021-07-07 10:06] chriskarma opened #6440 "dotnet error"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/intro?sdk-installed=true
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-07-07 11:15] sughosneo commented on #4794
Hi @leeroyrdsouza, thank you for reaching out.

Could you please check if the service is up and running? You can do that by using the following steps:

- Check the status of the deployment:
  `kubectl get deployment`

- Check the status of the service:
  `kubectl get svc`

You can also check the log of the pod by using the following steps.

- Fetch pod name :
  `kubectl get pods`

- And fetch the

[2021-07-07 12:42] sughosneo commented on #4549
Hi @hemantwithu, thank you for reaching out.

Yes, you'll need to install .NET SDK as per instructions mentioned in [Install .NET SDK](https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/install) section to test the API locally. Then you'll need [Docker Desktop for Mac](https://hub.docker.com/editions/community/docker-ce-desktop-mac) to dockerize your service.

Could you please share t

[2021-07-07 13:06] Despa22 opened #6441 "Uri (TryCreate, IsWellFormedUriString)"
### Validating URL Input

* I'm trying to validate a URL input using a predefined methods (TryCreate, IsWellFormedUriString)
* Please find the below code snippet

![Uri (TryCreate, IsWellFormedUriString)](https://user-images.githubusercontent.com/25004309/124763930-2152b680-df3d-11eb-867e-51b663a880ca.png)

[2021-07-07 14:06] sughosneo commented on #4529
Hi @Dalasa-ab, thank you for reaching out.

Looking at the error message it seems like docker file is not present in the directory from where you are trying to build the image. Are you running this command `docker build -t mymicroservice .` from the directory `MyMicroservice` ?

[2021-07-07 15:07] sughosneo commented on #4479
Hello All,

The steps in the tutorial have been updated to use .NET 5. Could you please try executing again and see if the error still exists? Closing the issue due to inactivity. Feel free to open them again if the issue persists.

Thank you.

[2021-07-07 15:07] #4479 closed

[2021-07-07 15:12] sughosneo commented on #3983
Hello @Pahadsingh,

The steps in the tutorial have been updated to use .NET 5. Could you please try executing again and see if the error still exists? Closing the issue due to inactivity. Please feel free to open it again if the issue persists.

Thank you.

[2021-07-07 15:12] #3983 closed

[2021-07-07 15:15] sughosneo commented on #3706
Hi @laxmikanth-d, just checking if you are still facing this issue. If yes, could you please share some more details? Thank you.

[2021-07-07 16:30] wfurt commented on #6441
What is the problem @Despa22 ?
cc: @MihaZupan

[2021-07-07 16:40] bartonjs commented on #6441
Both comma and colon are legal characters in a URL, so as strange as it looks, that URL _is_ a valid URL.

For example, the oldest capture of www.microsoft.com by archive.org is https://web.archive.org/web/19961020014044/http://www.microsoft.com:80/

web.archive.org is one of the few places I've seen where a URL is used as part of a bigger URL, so your test case is probably not locating a valid ta

[2021-07-07 16:46] wfurt commented on #6440
can you fill in more details @chriskarma

[2021-07-07 17:39] wfurt commented on #3706
Support for Windows 7 ended. I'm wondering if we can just add vague note about supported OS @mairaw. Adding and maintaining full list seems excessive.

[2021-07-08 06:39] Despa22 commented on #6441
Thanks @bartonjs for your reply
Do you have any suggestions that I can apply here?

[2021-07-08 07:34] RiadKatby commented on #6441
I think you need not to reject this kind of URL because how you going to deal with URL that have commas like in google map location?

[2021-07-08 17:11] JulieLeeMSFT commented on #6325
## CodeGen

### LSRA https://github.com/dotnet/runtime/issues/43318
- Refactor LSRA's heuristics selection Refactor LSRA's heuristics selection runtime#52832
  - Now, DEBUG mode includes a COMPlus variable that LsraOrdering will let the user set the heuristics ordering.
  - Tune the heuristics for register to select optimal register candidate to spill.
  - More details: [windows x86 improvements](

[2021-07-08 18:45] Vaibhavking8 commented on #6432
I was opening cs file that's why I was getting error.
But now I have resolved it

On Wed, 7 Jul 2021, 00:38 Maira Wenzel, ***@***.***> wrote:

[2021-07-08 18:46] Vaibhavking8 commented on #6432
I was opening the wrong file.
But now the issue is resolved

On Tue, 6 Jul 2021, 12:13 Krzysztof Wicher, ***@***.***>
wrote:

[2021-07-08 19:09] mairaw commented on #6432
Thanks for letting us know. I'm glad you resolved it.

[2021-07-08 19:09] #6432 closed

[2021-07-08 20:54] marcpopMSFT commented on #6325
.NET SDK Optional Workload improvements
---
Building on the work that released in [preview 4](https://devblogs.microsoft.com/dotnet/announcing-net-6-preview-4/#cli-install-of-net-6-sdk-optional-workloads) for optional workloads and the new features of list and update that we added for preview 5, we have added three new commands for preview 6
`dotnet workload search` will show the list of workloads

[2021-07-08 23:09] leecow opened #6444 "What's new in .NET 6 Preview 7"
# What's new in .NET 6 Preview 7

This issue is for teams to highlight work for the community that will release .NET 6 Preview 7.

To add content, use a new conversation entry. The entry should include the team name and feature title as the first line as shown in the template below.

[code]
Preview 1: https://github.com/dotnet/core/issues/5853
Preview 2: https://github.com/dotnet/core/issues/5889

[2021-07-08 23:19] YoungSkuna opened #6445 "csproj error"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/modify
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
The problem I am getting is when I try to run the changes within the above link this error shows:C:\Users\Nathan\myA

[2021-07-08 23:24] YoungSkuna commented on #6445
im using windows 10

[2021-07-08 23:26] wfurt commented on #6445
What is Index.cshtml.cs? It seems like the project is trying to build it as c# source but it may be html?
Could you include the failing files and perhaps output from `dotnet --info`?

[2021-07-08 23:27] YoungSkuna commented on #6445
can u elaborate

[2021-07-08 23:27] YoungSkuna commented on #6445
the project should be html if that helps

[2021-07-08 23:32] wfurt commented on #6445
So why does it have `.cs` extension? I think the project will pick it up and try to treat it based on the extension.

[2021-07-08 23:33] YoungSkuna commented on #6445
idk, i was just following the tutorial thing tbh and that error came up

[2021-07-08 23:34] YoungSkuna commented on #6445
im really new to coding if u cant tell so just need help to get this setup properly and then I can teach myself

[2021-07-08 23:37] wfurt commented on #6445
Why don't you start from begging. Create/download the project and try to build it and run it without modifications.
And do not rename any files and don't change the file extensions.
If you run to problem zip whole folder and attach it to the issue.

[2021-07-08 23:38] YoungSkuna commented on #6445
ok ill do that, i dont think i changed anything but its possible

[2021-07-08 23:43] YoungSkuna commented on #6445
it still has .cs at the end of some of the files

[2021-07-08 23:44] YoungSkuna commented on #6445
C:\Users\Nathan\myWebApp\Pages\Index.cshtml.cs(9,25): error CS1514: { expected [C:\Users\Nathan\myWebApp\myWebApp.csproj]
C:\Users\Nathan\myWebApp\Pages\Index.cshtml.cs(11,18): error CS1002: ; expected [C:\Users\Nathan\myWebApp\myWebApp.csproj]
C:\Users\Nathan\myWebApp\Pages\Index.cshtml.cs(12,1): error CS1646: Keyword, identifier, or string expected after verbatim specifier: @ [C:\Users\Nathan\my

[2021-07-08 23:45] YoungSkuna commented on #6445
thats the error this time

[2021-07-08 23:46] wfurt commented on #6445
Then run the `dotnet --info` and provide your content.

[2021-07-08 23:47] YoungSkuna commented on #6445
C:\Users\Nathan\myWebApp>dotnet --info
.NET SDK (reflecting any global.json):
 Version:   5.0.301
 Commit:    ef17233f86

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.19041
 OS Platform: Windows
 RID:         win10-x86
 Base Path:   C:\Program Files (x86)\dotnet\sdk\5.0.301\

Host (useful for support):
  Version: 5.0.7
  Commit:  556582d964

.NET SDKs installed:
  5.0.301 [C:\Prog

[2021-07-08 23:47] YoungSkuna commented on #6445
is that what u wanted

[2021-07-08 23:49] wfurt commented on #6445
yes. and compress your project and post it so I can look at it.

[2021-07-08 23:49] YoungSkuna commented on #6445
compress?

[2021-07-08 23:50] YoungSkuna commented on #6445
using System;
using System.Collections.Generic;
using System.Linq;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Mvc;
using Microsoft.AspNetCore.Mvc.RazorPages;
using Microsoft.Extensions.Logging;

namespace myWebApp.Pages
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Hello, world!</h1>
    <p>The time on the server is @DateTime.Now

[2021-07-08 23:50] YoungSkuna commented on #6445
thats the code if it helps

[2021-07-08 23:51] YoungSkuna commented on #6445
well minus the <h> and that type of stuff

[2021-07-08 23:51] YoungSkuna commented on #6445
oh i see what u mean by compress now I think

[2021-07-08 23:52] YoungSkuna commented on #6445
`using System;
using System.Collections.Generic;
using System.Linq;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Mvc;
using Microsoft.AspNetCore.Mvc.RazorPages;
using Microsoft.Extensions.Logging;

namespace myWebApp.Pages
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Hello, world!</h1>
    <p>The time on the server is @DateTime.No

[2021-07-08 23:52] wfurt commented on #6445
https://support.microsoft.com/en-us/windows/zip-and-unzip-files-8d28fa72-f2f9-712f-67df-f80cf89fd4e5
And then you attach it to this issue.

[2021-07-08 23:53] YoungSkuna commented on #6445
[myWebApp.zip](https://github.com/dotnet/core/files/6787810/myWebApp.zip)

[2021-07-09 00:16] #5851 closed

[2021-07-09 00:17] rbhanda opened #6446 "Add support for Fedora 35"
This issue is created to track progress for the work to enable Fedora 34 support for .NET Core 3.1, .NET Core 2.1 and .NET 5.0.

### Product and Test updates
- [ ] [All teams] Do a compatibility check for the product with the new OS
- [ ] [CoreCLR/CoreFX] Runtime / RID Support update
- [ ] [Infra] Ensure that the correct Docker images used by teams are built in the dotnet-buildtools-prereqs (if ap

[2021-07-09 02:59] John0King commented on #5567
I can't understand why  the dotnet team  interested in  Drop OS(eg. Devs, Enterprise, customers)  ,  why can not you guys make thin native layer to make OS support easier ?   I mean look at Java,  they never try to drop any OS  in the past/ now / future  !!!!

[2021-07-09 05:57] tziemek commented on #6445
You are mixing the *cshtml* with the *cs* file. See **Privacy.cshtml** and **Privacy.cshtml.cs** for reference. HTML (`@page` `<div>` etc.) should be in your `cshtml` file. The `namespace` und `using` declarations should be in your `cs` file. That is very basically what the compiler is telling you with these errors.

[2021-07-09 06:19] John0King commented on #6099
I'm confusing of how to Diagnostics .net anymore .
there are
- `EventSource` and `EventListener`
- `DiagnosticListener` and `DiagnosticSource`

and now there is a new `InstrumentListener` and `MeterListener`,

what should be use for  libraries ?
should we  use them all ?   shouldn't here is a standard and powerfull api  for we to use ,   and  other collect use consume this standard source ,  and p

[2021-07-09 09:19] Pussyeater007 opened #6447 "C:\Users\user>dotnet new console -o myApp Creating this template will make changes to existing files: Overwrite ./myApp.csproj Overwrite ./Program.cs Rerun the command and pass --force to accept and create."
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-07-09 10:42] #6422 closed

[2021-07-09 12:41] mthalman commented on #6446
We don't produce official .NET Docker images for Fedora so I've crossed out the related tasks for that.

[2021-07-09 13:24] omajid commented on #6446
RID support for Fedora 35 has been merged into all supported branches:

- main: https://github.com/dotnet/runtime/pull/48200
- 5.0: https://github.com/dotnet/runtime/pull/48203
- 3.1: https://github.com/dotnet/corefx/pull/43032
- https://github.com/dotnet/corefx/pull/43033

[2021-07-09 16:21] tarekgh commented on #6099
@John0King there is docs https://docs.microsoft.com/en-us/dotnet/core/diagnostics/ which is helpful to understand which class to use in which scenario.

Where are you seeing `InstrumentListener`?
For `MeterListener`, we started to support the [OpenTelemetry Metrics](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md). You can read more there to get

[2021-07-09 17:11] wfurt commented on #6446
On similar note, Fedora 32 is out of support if I read it correctly: https://fedoraproject.org/wiki/Releases
Should we stop building old containers @mthalman ?

[2021-07-09 17:20] John0King commented on #6099
@tarekgh   The library or framework must write code to support those "check points",  and now there have 3 choice：
1.  use `EventSource`
2.  use  `EventCounter`
3.  use `DiagnosticSource`
4.  use this new `Meter`
5. use logging

the problem is that  you are not asking the library author to use  them all right ?    and this is what I confusing !
I expect there is a standard api  I can use  instead

[2021-07-09 17:35] mthalman commented on #6446
Related to https://github.com/dotnet/core/issues/6431. There needs to be an os-support issue for coordinating all the changes necessary for dealing with an out of support OS. cc @rbhanda

[2021-07-09 18:11] adegeo commented on #6446
@omajid At what time would the packages be ready to run and install? This way I can coordinate updating the install article with 35

[2021-07-09 19:44] PersyJack opened #6448 "Object reference not set to an instance of an object."
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[code]

Sample app via command `dotnet new blazorserver -o BlazorApp`

Open app in VS 2019 or 2022, hit F5. Browser opens h

[2021-07-09 19:58] wfurt commented on #6448
cc: @lewing

[2021-07-09 20:12] omajid commented on #6446
Thanks, @adegeo ! [The packages for Fedora 35 were ready back in May](https://github.com/dotnet/docs/pull/24119#discussion_r630250968). But Fedora 35 itself doesn't get released until [end of October](https://fedorapeople.org/groups/schedule/f-35/f-35-key-tasks.html). From our discussion, I think we want to hold off on updating docs until Fedora 35 is much closer to release?

[2021-07-09 21:13] lewing commented on #6448
It isn't clear to me if this is a trimming issue or an aspnetcore issue

cc @mkArtakMSFT @SteveSandersonMS

[2021-07-10 05:41] b1tn3tw0rk opened #6449 "dotnet is not recognized in command prompt"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

![image](https://user-images.githubusercontent.com/80435427/125153157-cfb65180-e11f-11eb-9238-90eab87dc202.png)

[2021-07-10 05:48] wfurt commented on #6449
did you install the SDK?
https://dotnet.microsoft.com/download/dotnet/5.0

[2021-07-10 12:00] ivwivw opened #6450 "Imports.razor error on using the Shared folder."
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Following the guide and starting the app with dotnet watch run. In Visual Studio code in _imports.razor there is a namespac

[2021-07-10 14:10] WeihanLi commented on #6429
Seemed access denied from the error, try to execute the command in another folder with permission or try to execute  with admin permission

[2021-07-10 15:17] mairaw commented on #6449
Did you open a new terminal after you installed the SDK?

[2021-07-10 16:58] logcorner opened #6451 "failed: HTTP Authentication failed; no valid credentials available when Authenticating and authorizing in ASP.NET Core SignalR"
Hi , I'm facing the following error when authenticating asp.net 5 signalr hub using angular following the document here https://docs.microsoft.com/en-us/aspnet/core/signalr/authn-and-authz?view=aspnetcore-2.1#bearer-token-authentication
![token](https://user-images.githubusercontent.com/5066547/125170688-59adfb00-e1b0-11eb-902d-b04c6e15503a.png)

**Hub Server**
`
       services.AddAuthentication(

[2021-07-10 22:28] wfurt commented on #6451
any clue @Tratcher or at least pointer to right person?

[2021-07-11 00:58] JunTaoLuo commented on #6444
## .NET SDK: C# Implicit Namespace Imports for C# Projects

Doc issue: https://github.com/dotnet/docs/issues/25066

We added support for implicit namespace imports for C# projects to reduce the amount of boilerplate in project templates by reducing the using statements needed in each C# file.

For example, an empty web app looked like this:
[code]

but now it's simplified to:
[code]

[2021-07-11 03:52] wfurt commented on #6447
What is the problem @Pussyeater007? If you want to you should create new project or not use 'new' on existing one.

[2021-07-11 18:17] arocholl commented on #6337
Hi, I get this error while trying to install dotnet-sdk-5.0 in Centos 7

https://packages.microsoft.com/rhel/7/prod/dotnet-runtime-deps-5.0.7-centos.7-x64.rpm: [Errno 14] HTTPS Error 404 - Not Found

Is that the [Centos 7] knwon issue?

[2021-07-12 01:39] mairaw commented on #6447
This error message usually means you have already created a project on that same location. You can delete the myApp folder and start over or pass the --force option to recreate the project from scratch.

[2021-07-12 03:28] rbhanda commented on #6446
I updated the original issue. Since .NET Core 2.1 will be EOL by August, Fedora 35 will not be a supporting OS on it,

[2021-07-12 03:29] #6133 closed

[2021-07-12 03:29] #5850 closed

[2021-07-12 03:41] rbhanda opened #6452 "Ubuntu 20.10 "Groovy Gorilla" reaches end of life on 22 July 2021"
[Ubuntu 20.10 reaches end of life on July 22, 2021](https://fridge.ubuntu.com/2021/06/18/ubuntu-20-10-groovy-gorilla-reaches-end-of-life-on-july-22-2021/)
This issue is created to track progress for the remove support for Ubuntu 20.10 from .NET Core 2.1, .NET Core 3.1 and .NET 5.0

### Repos team to update:

- [ ] Remove installers for the outdated distro
- [ ] Stop building Official Docker™ image

[2021-07-13 07:02] #6424 closed

[2021-07-13 07:02] #6427 closed

[2021-07-13 08:02] #6429 closed

[2021-07-13 08:02] #6428 closed

[2021-07-13 10:03] #6433 closed

[2021-07-13 11:44] rss74 opened #6455 "getting an error while exposing in browser"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/run
Operating System: linux

showing 'This page isn’t working'

[2021-07-13 13:19] sughosneo commented on #4077
Hi @ldotreed, just checking if you had a chance to perform the further test?

[2021-07-13 16:27] rbhanda opened #6459 ".NET July 2021 Update - .NET 5.0.8 and .NET Core 3.1.17"
Release Notes
[5.0.8](https://github.com/dotnet/core/blob/main/release-notes/5.0/5.0.8/5.0.8.md)
[3.1.17](https://github.com/dotnet/core/blob/main/release-notes/3.1/3.1.17/3.1.17.md)

Please report any issues you find either by responding to this issue, creating a new issue or creating a new issue in one of the following repos:

* [dotnet/aspnetcore](https://github.com/dotnet/aspnetcore/issues) -

[2021-07-13 17:00] rbhanda commented on #6337
closing in favor of https://github.com/dotnet/core/issues/6459

[2021-07-13 17:00] #6337 closed

[2021-07-13 17:53] richlander commented on #6452
FYI: We only produce official docker images for the Ubuntu LTS releases (as it relates to Ubuntu). So, you can delete that task for this release.

We produce container images for:

- All Alpine releases.
- All Debian releases.
- Ubuntu LTS releases.

[2021-07-13 17:56] duke7553 commented on #6459
Does .NET 5.0.8 include the WinForms ARM64 backport from .NET 6?

[2021-07-13 18:06] wfurt commented on #6455
Do you get any other errors? Look also at the app output.

[2021-07-13 20:04] allenatdecisiv commented on #6407
Based on the comment from @omajid re: OpenSSL 1.1, I did an rpm install with --nodeps. The 5.0 runtime does appear to work for my use case of being able to run the utility "genie" to get systemd as pid 1.

[2021-07-13 20:36] mchandschuh opened #6463 "typeof({primitive}).GetMethods() does not return operator overloads"
### Description

In the full netframework, calling

[code]
would contain all of the operator methods, such as  `op_Addition`. Currently in netcoreapp3.1, this same call comes back without **any** operator methods. What's _really_ confusing me is that I can get the operators for all custom types and a handful of primitives. It seems to be **_all_** integral primitives (including bool) aren't exposi

[2021-07-13 23:01] teo-tsirpanis commented on #5473
Related: dotnet/sdk#12328

[2021-07-14 03:44] TenacityAdmin opened #6464 ".net issue windows 10"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

C:\Users\leigh>dotnet

Usage: dotnet [options]
Usage: dotnet [path-to-application]

Options:
  -h|--help         Di

[2021-07-14 05:07] John0King commented on #6464
@TenacityAdmin  Maybe you only install runtime in your pc ,  you should install sdk.

and you can use `dotnet --info`   to see the sdk section or `dotnet --list-sdks`

[2021-07-14 05:51] wfurt commented on #6463
any idea @jkotas ?

[2021-07-14 06:12] jkotas commented on #6463
It is not what I see. Here is output of `foreach (var m in typeof(int).GetMethods()) Console.WriteLine(m);`

for .NET Framework:

[code]

for .NET Core 3.1:

[code]

No operators in either one.

[2021-07-14 06:14] jkotas commented on #6463
The operators are not exposed as methods for primitive integral types. One reason behind that is that the C# compiler has checked and unchecked variant of these operators, but there is no syntax to capture this difference in an explicit implementations.

You cannot. These methods do not exist and never existed.

[2021-07-14 06:14] #6463 closed

[2021-07-14 08:52] saul commented on #6459
Should we expect 5.0.205 SDK Docker images to be released too? I can't find any here: https://mcr.microsoft.com/v2/dotnet/sdk/tags/list

[2021-07-14 09:10] mitchello commented on #4845
Any news on this issue ?

[2021-07-14 10:08] marcoteodoro commented on #6459
Hi Guys, can you let me know if installing the [.net5 runtime ](https://dotnet.microsoft.com/download/dotnet/thank-you/runtime-aspnetcore-5.0.8-windows-hosting-bundle-installer ) will require a server reboot?

[2021-07-14 12:12] #4794 closed

[2021-07-14 13:12] #4549 closed

[2021-07-14 14:12] #4529 closed

[2021-07-14 15:34] rbhanda opened #6467 ".NET 6 Preview 6"
[Release Notes](https://github.com/dotnet/core/blob/main/release-notes/6.0/preview/6.0.0-preview.6.md)

Please report any issues you find with .NET 6, either responding to this issue, creating a new issue or creating a new issue in one of the following repos:

* [dotnet/aspnetcore](https://github.com/dotnet/aspnetcore/issues) - for ASP.NET Core questions
* [dotnet/efcore](https://github.com/dotnet

[2021-07-14 16:14] #3706 closed

[2021-07-14 17:14] #6440 closed

[2021-07-14 17:23] eerhardt commented on #6444
## ZipFile Respects Unix File Permissions

We added support to `System.IO.Compression.ZipFile` to capture Unix file permissions during create and set the file permissions when extracting zip archives on Unix. This allows for executable files to be "round tripped" through a zip archive, and it means you no longer have to modify the file permissions to make files executable anymore after extracting

[2021-07-14 21:43] rbhanda commented on #6389
closed in favor of https://github.com/dotnet/core/issues/6467

[2021-07-14 21:43] #6389 closed

[2021-07-14 21:57] lselector opened #6468 "dotnet: command not found"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: macos

dotnet: command not found

[2021-07-15 03:18] wfurt commented on #6468
do you have `/usr/local/share/dotnet/dotnet` and if so can you execute it directly? The installer should add `/usr/local/share/dotnet/' to a search PATH but there can be some issue. You can try to close and re-open terminal and check if the PATH is set.

[2021-07-15 07:00] KoFrank commented on #6459
Hi everyone, after installing these Updates the previous versions (.NET June 2021 Update - .NET 5.0.7 and .NET Core 3.1.16) are again showing up in the update list and of course they fail to install as they would downgrade the current update. As it presents itself these updates do not replace the older versions. Please advise on how I can proceed with this.

[2021-07-15 09:29] saitarun-5 opened #6470 "'dotnet' is not recognized as an internal or external command"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-07-15 11:05] lselector commented on #6468
Right,

I added this to the PATH - and it works now.
Thank you.

--
Warm Regards
Lev Selector
+1-917-310-0088
(voice, text, whatsapp)

Tomas Weinfurt wrote on 7/14/21 11:18 PM:

[2021-07-15 13:15] bhavishaymankani opened #6471 "watch : Could not find a MSBuild project file in 'C:\Users\bhavi'. Specify which project to use with the --project option."
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

watch : Could not find a MSBuild project file in 'C:\Users\bhavi'. Specify which project to use with the --project opt