[2017-08-22 22:25] leecow commented on #873
@divega @danroth27

[2017-08-22 22:27] leecow commented on #875
@danroth27

[2017-08-23 00:08] randolfrf opened #885 "publish command with -o directive creating directories nested recursively"
# Publish command with -o directive creates nested directories at the -o target

I have a brand new asp.net core 2 mvc web project. When I run:

`$dotnet publish -c release -o ./app/compiled`

App is built in release mode and published to /app/compiled. Everything works fine. I have the following structure:
..
/app
/app/compiled/
/app/wwwroot/
/app/wwwroot/css
/app/wwwroot/images
/app/wwwroot/js
/

[2017-08-23 00:11] randolfrf commented on #885
Just to be clear, If I try again with another project (of another type) the behavior is the same.

[2017-08-23 00:29] akoeplinger commented on #862
xbuild is deprecated in Mono now that we have msbuild. I'd encourage everyone to switch over to it :)

[2017-08-23 03:10] jkotas opened #886 "Builing under windows bash fails due to non-executable stack"
_From @sk-havok on August 22, 2017 14:14_

Repro: run dotnet.bootstrap.py
During the configuration phase, the following error is encountered.
This seems like a shortcoming of the linux subsystem, but perhaps there is some workaround?

Running: /home/stkenned/core/tools/dotnet-bootstrap/ubuntu.16.04-x64-dotnet/src/coreclr/Tools/dotnetcli/dotnet /home/stkenned/core/tools/dotnet-bootstrap/ubuntu.16.0

[2017-08-23 03:10] jkotas commented on #886
This was fixed in #4048. The problem is that the dotnet.bootstrap.py script is using very old build (Microsoft.NETCore.App/1.0.0-rc3-002733).

[2017-08-23 03:12] jkotas commented on #886
dotnet.bootstrap.py should be updated to use more recent .NET Core build to fix this.

[2017-08-23 09:02] atifmir commented on #884
Closing this issue as Installing latest package for Microsoft Composition 1.0.31 resolved the warning

[2017-08-23 09:02] #884 closed

[2017-08-23 11:11] MBODM opened #887 "Visual Studio 2017 15.3.2 Default Template - Dependencies broken"
Since i can not found anything related on the interwebz, nor an issue here, i open one.

If you just select the default WebApplication(MVC) template in VS2017 15.3 with AspNetCore 2.0 chosen, you get a template with one Package:

PackageReference Include="Microsoft.AspNetCore.All" Version="2.0.0"

Thats all fine. But inside this package there is a dependency conflict. VS shows a warning sign on th

[2017-08-23 11:49] guylando opened #888 "Pdf generation and manipulation library in Net Core 2 with permissive license"
The ITextSharp library has the AGPL license which is problematic for commercial use.
The pdfsharp library does not have a maintained support for net core yet: https://github.com/empira/PDFsharp/issues/6

Are there any plans to build some pdf handling package by the core team or by the net foundation team?

Anybody is aware of some pdf manipulation library in net core 2 with permissive license for

[2017-08-23 12:56] richlander commented on #888
We don't have any plans to provide a PDF library. I'm also not aware of one to recommend. Hopefully the community will work more of PDFSharp.

[2017-08-23 13:00] #888 closed

[2017-08-23 13:15] mokeyish commented on #858
@ghd258 哥们，现在谁还用Web Form啊?构建大型项目一点都不方便，反而Angular不错，像堆积木一样，构建Web项目。

[2017-08-23 16:04] stevewoj opened #889 "RSAParameters not serializable in 2.0"
in netcore1.x when serializing the RSAParameters with private parameters to JSON it would serialize all fields after upgrade to netcore2 we only get the Exponent and Modulus serialized. Is this change intended?

[code]

Currently working around this passing the RSAParameters to a custom struct before serializing but would like to avoid doing that.

[2017-08-23 17:58] stanuku commented on #872
@wfurt Thank you, I'll try and let you know soon.

[2017-08-23 18:14] lawrencejohnston commented on #877
Is anybody able to take a look at this? It's preventing us from upgrading to netstandard-based libraries.

CC @weshaggard

[2017-08-23 19:29] stanuku commented on #872
@wfurt This the output

[code]

[2017-08-23 20:34] stanuku commented on #872
Ok, I deleted the /Users/myusername/.nuget/NuGet folder and /Users/myusername/.nuget/packages folder and recreated empty ones by the same names. This seemed to fix the 'dotnet run' crash.

[2017-08-23 20:35] weshaggard commented on #877
@lawrencejohnston I took a look at your sample project and figured out what is happening. You aren't consuming a ProjectReference like I first thought you are consuming a PackageReference to Lextm.SharpSnmpLib which doesn't correctly identify its full dependency set.

You can work around this but opt-ing in to netstandard in your project by setting `<DependsOnNETStandard>true</DependsOnNETStandard

[2017-08-23 20:58] wfurt commented on #872
good to know. I don't know why the .nuget would get polluted with incompatible version but at least you have some path to 2.0 now. You do not need to recreate the directories. "dotnet restore" should take care of all dependencies for your project.

[2017-08-23 21:20] #872 closed

[2017-08-23 21:38] pableess opened #890 "WaitHandle.WaitAny on named global Mutex in Linux is blocking forever"
# Issue Title

WaitHandle.WaitAny on named global mutex in Linux is blocking forever in .NET Core app 2.0

# General

Ubuntu Server 16.04

WaitHandle.WaitAny on a named global mutex in Linux does not seem to ever return.
The WaitAny call is blocked forever in linux, but is not in windows.  I was under the impression that cross process Mutex's were now fully supported in 2.0.

The following program

[2017-08-23 22:01] karelz commented on #880
The PR was merged, it is now up to date: https://github.com/dotnet/core/blob/master/roadmap.md

[2017-08-23 22:01] #880 closed

[2017-08-23 23:10] divega commented on #873
@Luis-DdlFG from the same documentation page:

It seems you are trying to use the ASP.NET meta-package in a project that targets .NET Framework 4.6.1, which isn't supported.

[2017-08-23 23:13] Luis-DdlFG commented on #873
Thank you, divega.

I eliminated that part and made sure I had SDK versión 2.0 and also Visual Studio up to date.

Issue was solved with those steps.

Thanks

[2017-08-23 23:13] #873 closed

[2017-08-24 06:42] chwebdude commented on #829
+1 for chocolatey

[2017-08-24 11:05] JasonMKane commented on #767
@GuruprasadYellappaK   The later versions have changed the .vscode\extensions\ms-vscode.csharp-<version>\bin\omnisharp to
.vscode\extensions\ms-vscode.csharp-<version>\.omnisharp.  Create this directory, and extract the zip into here.  This resolved the same issue for me.

[2017-08-24 12:10] JRBonnema commented on #831
I managed to solve the problems I had. Part of my installlation of VS 2017 had become corrupt, especially the .Net4.7 part. I solved this by using the Repair option in Visual Studio. I experimented with using project template Class Library (.Net Standard). When just created such a project references Microsoft.NETCore.platforms ( 1.1.0), which is confusing, but I think it's not wrong. It's easy to

[2017-08-24 15:52] dotnetgator opened #891 "The cached _graphClient instance in GraphSDKHelper is not used"
# General
The _graphClient field in GraphSDK helper appears to be there in order to cache the reference between executions of the GetAuthenticatedClient method.  Except that the private field is *only* ever referenced from this function, and is generated new for every single function call.  Either the call needs to be changed to check it against null and *then* create the instance if null, or the

[2017-08-24 15:53] darewreck54 commented on #833
Thanks, I'll try it out.  I think It's is actually asp.net core specific since it deals with the params passed into the configure method.  In asp.net core 1.1, it was passed in the params.  With asp.net core 2 it changed.  Didn't know you can add it back.

[2017-08-24 16:15] patridge opened #893 "`dotnet new --uninstall` not working for folder templates"
# Unable to uninstall folder-based templates

This could be an issue with the `dotnet net --uninstall` (or `dotnet new -u`) command, or just an issue with [uninstall documentation](https://docs.microsoft.com/en-us/dotnet/core/tools/custom-templates#to-uninstall-a-template-from-a-file-system-directory), but it doesn't seem possible to uninstall a template via a folder template.

See also this [Stac

[2017-08-24 16:31] #877 closed

[2017-08-24 17:04] mattcanty opened #894 "Running any command in 2.0 causes trackpad to switch to 'scroll history'"
I am - albeit experimentally - using Cloud9 IDE. I have just installed the latest version of .Net Core, and pulled down a repository I know works locally.

When I run any `dotnet` command, the terminal settings change. The trackpad begins scrolling through the command history instead of _normal_ scrolling.

Not sure if this is a problem with .Net Core or Cloud9 so I'll be posting over on their for

[2017-08-24 17:15] ratidzidziguri commented on #831
@JRBonnema  Did not get your point. do you mean that this issue will be fixed if i do VS installation rep or u say that this behavior is normal and there is nothing to worry about?

[2017-08-24 17:17] JRBonnema commented on #831
It's confusing, but not wrong

[2017-08-24 23:11] Petermarcu commented on #711
@JeffreyMcBride thanks for providing the feedback. I was off the grid for the past couple of weeks and didn't get a chance to respond. Looks like your first issue is now understood. @barrytang and @Eilon who is the best person to take a look at the other two issues? Should we get them filed in a difference repo to make them easier to track?

2) IsolatedScopes=true did not append the extra logging

[2017-08-25 01:52] palodequeso opened #895 "Importing the FedEx WSDL as a WCF Connected Service has some issues..."
This is on .net core 1.1.2, and on Windows 10 Pro 64-bit. I'm using Visual Studio 2017 and this is a C# project.

It's a dotnet core asp.net MVC app that connects to UPS and FedEx and provides a unified shipping service. UPS has a JSON API, easy enough. But FedEx distributes WSDLs. So I learned that with WCF and dotnet core, you have to use a Connected Service. So I imported the WSDL for Address V

[2017-08-25 06:48] Monns commented on #843
@karelz  Thanks for translating.
This legacy has been a long time. Here is a detailed description of the problem.

[https://blogs.msdn.microsoft.com/webdav_101/2008/06/02/system-net-mail-with-ssl-to-authenticate-against-port-465/](https://blogs.msdn.microsoft.com/webdav_101/2008/06/02/system-net-mail-with-ssl-to-authenticate-against-port-465/)

[https://support.microsoft.com/en-us/help/950260/you-

[2017-08-25 08:21] onematchfox commented on #857
@TimoBohl, FYI, after further investigation (i.e. discussion with far more knowledgeable folk), it seems that this issue actually lies with msbuild not correctly running the conflict resolution logic (see https://github.com/dotnet/corefx/issues/23436#issuecomment-324694287 and comments below it). IN case you do need to reference libraries like Microsoft.AspNetCore.All or any others that result in

[2017-08-25 08:57] TimoBohl commented on #857
@onematchfox Thank you, I've reported this already in the [developer network - VS2017 15.3 Net Core 2.0 publish a self-contained app for Linux fails in VS](https://developercommunity.visualstudio.com/content/problem/101502/vs2017-153-net-core-20-publish-a-self-contained-ap.html).
Hope they can fix it.

[2017-08-25 09:00] onematchfox commented on #857
👍  You can also follow https://github.com/dotnet/sdk/issues/1502 for progress on the issue.

[2017-08-25 09:32] torhovland opened #896 "Setup of .NET Core SDK 2.0.0 x64 is hanging"
The progress is simply stuck about one third in. Even cancelling the setup is hanging now.

Is there a log file anywhere I can check?

Anyway, when I rebooted the machine the installer restarted automatically and was able to complete successfully.

I did close VS before I started the setup the first time, but I did not close VS Code.

[2017-08-25 09:47] scheshan opened #897 "How to debug the source code using Visual Studio 2017?"
This question is related to [this one](https://stackoverflow.com/questions/42769369/debugging-nuget-packages-using-visual-studio-2017).

Is it possible to debug the .NET Core and ASP.NET Core source code in my projects?

[2017-08-25 12:33] Katulus opened #898 "p"
# Issue Title

Be as descriptive as you can with your title.

# General

Provide details on the problem you are experiencing including the .NET Core version, operating system version and anything else that is relevant.

Please provide a code sample for your issue if it is relevant, either inline, link to a gist (or similar) or add it as a zipped attachment.

For some issues, you will get a quicker

[2017-08-25 12:34] sonphnt commented on #788
Actually I have the same problem with error 502.5 in IIS when migrating from core 1.1 to core 2.0 final.
Has anyone have the official document about how to deploy .net core 2.0 webapp to IIS?

Thanks

[2017-08-25 13:08] johanskoldekrans opened #899 "Asp-controller and asp-action attributes order"
If a make an a-tag in html on the view and put asp-* tags (for example asp-controller, asp-action and asp-route) after a @(some code)-section and a class-attribute it breaks the interpretation of the asp-* attributes.

Below example doesnt pick up the route-id:
`
<a asp-controller="Some" asp-action="Something" class="@(x == y ? "something" : "")" asp-route-id="1">Click me</a>
`
if I put all after

[2017-08-25 13:58] johanskoldekrans commented on #899
This is probably closer to what I did IRL that didn't work, if there is a difference:

`<a @(x == y ? "class=\"something\"" : "")" asp-controller="Some" asp-action="Something" asp-route-id="1">Click me</a>`

[2017-08-25 14:37] palodequeso commented on #895
Here's a stack-trace from the cmd line:
[code]

[2017-08-25 17:31] eerhardt commented on #787
The 1st case of

is a duplicate of https://github.com/dotnet/coreclr/issues/10037.  In short, the scenario wasn't supported in the 1.1 time frame.  It only worked in 1.0 because of a bug in the dotnet host.  We only supported Project-to-Project references and NuGet references.

The 2nd case of

Is tracked by https://github.com/dotnet/core-setup/issues/2981.  Basic console and WebAPI apps work in t

[2017-08-25 22:46] danroth27 commented on #875
@Eilon @mlorbetske Can you guys take a look?

[2017-08-26 09:03] #756 closed

[2017-08-26 18:34] fahadash opened #901 "32-bit binaries don't work"
Regardless of what app type (Console, MVC Web, etc), you compile a 32-bit binary and it crashes.

I have tried the following steps in Windows 7, 10, VS2015 CE and VS2017 CE.

I have Windows 10, Visual Studio 2017. .NET Core App (any kind) will certifiably crash. Here is what you have to do: Start VS2017, Start a new .NET Core Console App, change the build settings to compile x86, hit play button.

[2017-08-27 10:58] haf commented on #862
Ping, this needs fixing.

[2017-08-27 14:27] galodoido794 opened #902 "NET CORE 2.0 - Ubuntu 14.04 - Could not load file or assembly System.Runtime.Extensions or"
I was trying to migrate my solution of NET CORE 1.1 to NET CORE 2.0 as a linux server.
When I run dotnet xxx.DLL in Ubuntu 14.04 x64 the following problem occurs:

[code]
Follow some configurations of my project:

**Project.csproj**
[code]

I tried to place the missing package in Nuget and the same thing did not work.

Linux server owns NET CORE 2.

Updated VS 2017 (15.3.2)

I checked if the DLL w

[2017-08-27 19:29] lilpug commented on #647
this does not seem to be an issue any longer in the future versions so i will close this down.

[2017-08-27 19:30] #647 closed

[2017-08-28 06:47] Drasius2 commented on #711
Using latest .NetCore:
[code]
Code compiles, but  when I try to run it throws an error:
[code]

I want to implement/use Log4Net logger (v2.0.8).
VS version 15.3.2.
Please help how to resolve this.

[2017-08-28 07:14] CFlatWouldbeMinor commented on #758
Same issue here.
It seems to me static code analysis is very fuzzy, or I just used to the existing full framework FxCop solution

[2017-08-28 09:12] MBODM commented on #887
Why is nobody also having this problem (seems so, because Inet nothing reflects). On every (clean) machine i install Visual Studio 2017 15.3 i can not build a totally standard .net core 2.0 app from the template, cause Visual Studio shows this errors:

1>C:\Users\marcel\Desktop\WebApplication1\WebApplication1\WebApplication1.csproj : error NU1202: Package Microsoft.ApplicationInsights.AspNetCore 2

[2017-08-28 10:26] wantaotao1994 opened #903 "MD5 class get 31 length hash code"
# Issue Title

When I use Md5 for .net core2.0 , I found  it get errors
# General
This is my source string:
`C21BFBF13E7607FCF5268BA9D1C3EA47{"access_token":"JM7XaNP0prjHoRTHOy6HRMuVCbESLTe7","address":"长宁bbbbl","city":"上海市","county":"徐汇区","invoice_content":"办公用品","invoice_name":"李四","invoice_state":"1","invoice_type":"C","mobile":"11909090900","name":"万涛涛是够11","order_id":"123213213123","phone":"0

[2017-08-28 11:27] svick commented on #903
You pasted two versions of `GetMd5Hash`:

* The first one is the same as the one on MSDN (with `data[i].ToString("x2")`) and gives the correct result (`a29960f4bb180c4598c419ef7482386c`, 32 characters).
* The second one is different (with `data[i].ToString("X")`) and indeed gives incorrect result (`A29960F4BB18C4598C419EF7482386C`, 31 characters).

Was your intention to change the output to upperc

[2017-08-28 11:54] chick-fil-a-21 opened #904 "win7 installer"
# Issue Title

win7 installer fails

# General

[8B40:E65C][2017-08-28T07:46:45]i001: Burn v3.10.2.2516, Windows v6.1 (Build 7601: Service Pack 1), path: C:\Users\labadmin\AppData\Local\Temp\{4208F6BA-39FE-49FD-8745-E07D150BA889}\.cr\dotnet-sdk-2.0.0-win-gs-x64.exe
[8B40:E65C][2017-08-28T07:46:45]i000: Initializing string variable 'DOTNETHOME' to value '[ProgramFiles6432Folder]dotnet'
[8B40:E65C][

[2017-08-28 11:58] nguerrera commented on #711
@Drasius2 That error is from nuget restore, which happens before compilation, not after it. It is saying that there are indirect references to both v4.0.0 and v4.3.0 of System.Net.NameResolution, and the lower v4.0.0 was chosen because it is "nearer" to your project. Similarly for v4.0.11 and v4.1.0 of System.Net.Primitives. In previous versions of the .NET Core SDK, this would have been treated a

[2017-08-28 11:59] chick-fil-a-21 commented on #904
Just realized it's because the download is bringing in the x64 instead of the x86 installer.

[2017-08-28 12:57] wantaotao1994 commented on #903
Duplicate of #Thanks a  @lot~

[2017-08-28 13:12] #903 closed

[2017-08-28 15:33] ericstj commented on #862
@haf we might be able to workaround it if someone could actually point out what the problem is.  As I've already mentioned this isn't a bug in our targets but a bug in XBuild and @akoeplinger has mentioned not to use xbuild...

One thing you could try is the following:
Locate  NETStandard.Library.targets inside the package.

Modify this line:
https://github.com/dotnet/standard/blob/d2b6c46ce1fa1d7

[2017-08-28 16:17] sylveon commented on #898
p

[2017-08-28 17:41] Eilon commented on #875
@pranavkm - any idea on this? Why does the filename look weird in the MSBuild error?

@gregbradley - can you upload your app to GitHub so we can see if something got generated incorrectly by the template?

[2017-08-28 18:15] pranavkm commented on #875
This seems like csc is trying to compile the _ViewStart.cshtml. Could you verify that you haven't accidentally included it to in the `Compile` itemgroup in your csproj?

[2017-08-28 23:13] barrytang commented on #711
Error: Microsoft.VisualStudio.Web.CodeGeneration.Design package targeting v2.0.0 (final release)
Downgrading to v2.0.0-preview fixes issue and eliminates error
Warning: Microsoft.Composition 1.0.27 is targeting .NET Framework
Upgrading to 1.0.30 (or now 1.0.31) targets Core and eliminates warning

@prafullbhosale , can you take a look?

[2017-08-28 23:20] prafullbhosale commented on #711
Error: Microsoft.VisualStudio.Web.CodeGeneration.Design package targeting v2.0.0 (final release)
Downgrading to v2.0.0-preview fixes issue and eliminates error
Warning: Microsoft.Composition 1.0.27 is targeting .NET Framework
Upgrading to 1.0.30 (or now 1.0.31) targets Core and eliminates warning

I did comment about this earlier : https://github.com/dotnet/core/issues/711#issuecomment-322364947
T

[2017-08-28 23:39] gregbradley commented on #875
@Eilon - I have uploaded the app to GitHub https://github.com/gregbradley/Core20Razor

@pranavkm, @Eilon - This is just a new project I created with `dotnet new razor` and then tried to build it without changing anything.

`D:\DP\Core20Razor>dotnet --version
2.0.0

D:\DP\Core20Razor>dotnet new razor
The template "ASP.NET Core Web App" was created successfully.
This template contains technologies f

[2017-08-29 10:44] evil-shrike opened #907 "Build error NU1605 "Detected package downgrade" while adding a netstandart13 library"
Given a project which targets netcoreapp2.0. And a package which targets netstandard13 - [Devart.Data.PostgreSql](https://www.nuget.org/packages/Devart.Data.PostgreSql/) (ado.net provider for Postgres).

# Installing in VS
The package cannot be installed in VS2017.3. It silently fails.

# Installing via cli
[code]
installs the package, but build fails (it's only a excerpt from full output):
[code]

[2017-08-29 11:25] sy-ing opened #908 "FormOptions not work"
In  .net core 2.0
I want to upload a file that size maybe 1G or more

I  modify the  FormOptions  like

   services.Configure<FormOptions>(x =>
            {
                x.ValueLengthLimit = int.MaxValue;
                x.MultipartBodyLengthLimit = int.MaxValue;
                x.MultipartHeadersLengthLimit = int.MaxValue;
            });

But it is invalid

I still can't upload files over 10

[2017-08-29 11:42] Katulus commented on #898
Damn, how did this happen? So embarrassing. Consider this issue fixed. :-D

[2017-08-29 11:42] #898 closed

[2017-08-29 13:44] patridge commented on #893
[Migrated to dotnet/templating#1226 and closing this one, per [tweets with @sayedihashimi](https://twitter.com/sayedihashimi/status/901533518957694976)]

[2017-08-29 13:44] #893 closed

[2017-08-29 16:19] Eilon commented on #711
@muratg - who can look at the logging BeginScopes issue mentioned at https://github.com/dotnet/core/issues/711#issuecomment-324781916 ?

[2017-08-29 16:21] Eilon commented on #875
This issue was moved to aspnet/Mvc#6725

[2017-08-29 16:21] #875 closed

[2017-08-29 17:13] muratg commented on #711
@pakrym, could you take a look at that issue and file a bug for tracking it further?

[2017-08-29 17:40] pakrym commented on #711
@muratg  I suspect `IsolatedScopes=true ` is `IncludeScopes=true` if so it's https://github.com/aspnet/Logging/issues/643

[2017-08-30 07:00] sibvic opened #912 "SmtpClient throws NullReferenceException on Dispose()"
I'm using:
    <TargetFramework>netcoreapp2.0</TargetFramework>

    <PackageReference Include="Microsoft.AspNetCore.All" Version="2.0.0" />
    <PackageReference Include="Microsoft.EntityFrameworkCore.Tools" Version="2.0.0" PrivateAssets="All" />
    <PackageReference Include="Microsoft.VisualStudio.Web.CodeGeneration.Design" Version="2.0.0" PrivateAssets="All" />

The next code throws an excepti

[2017-08-30 09:44] MBODM commented on #887
7h after my issue was closed (with a hillarious answer) by MS, they "magically" released 15.3.3. Which fixes the above problem (Release Notes show a slightly another problem, but obviously it also do some fixing stuff for my problem).

No communication by MS. Just a fucked up support closing my issue withou even reading it or asking something, just to silently work on a fix (15.3.3). MS just becam

[2017-08-30 11:36] galodoido794 commented on #902
I'm not trying to migrate, but I've created a new project. All packages are NET CORE 2.0.

[code]

I posted an image of the project on this [link] (http://imgur.com/a/9KvB1)

[2017-08-30 12:06] onematchfox commented on #902
@galodoido794 how are you publishing your application? Are you making use of the command line option  "dotnet publish" or are you using VS (folder profile) to publish?

[2017-08-30 13:15] galodoido794 commented on #902
In my NET CORE 1.1 application (which works) I use the same command I tried for the new NET CORE 2.0 application;

`dotnet publish -c release -r ubuntu.14.04-x64`

[2017-08-30 14:16] onematchfox commented on #902
OK. I had a similar issue publishing for ubuntu.16.04-x64 which turned out to be a msbuild issue (see https://github.com/dotnet/corefx/issues/23436 and https://github.com/dotnet/sdk/issues/1502) . I can, however, get around it by using "dotnet publish". But if that doesn't work for you then I'm not sure what is going on.

[2017-08-30 16:30] leecow commented on #896
@wli3 for log file existence and location.

[2017-08-30 16:34] Petermarcu commented on #912
@Priya91, can you copy this over to corefx and maybe take a look?

[2017-08-30 16:35] Petermarcu commented on #908
@Eilon

[2017-08-30 16:36] Petermarcu commented on #907
@ericstj can you give any guidance here?

[2017-08-30 16:38] Petermarcu commented on #901
@nguerrera you had some context on this. Can you share any info.

@fahadash do you need the image to be marked as 32-bit or can you just run it with the 32-bit `dotnet.exe` which will cause it to be jitted as 32-bit?

[2017-08-30 16:38] eyccli commented on #723
@danroth27 We are also encountering a similar issue using Core 2.0 (not preview).  Web.config is never generated using the "dotnet publish -o etc -c "path"".  Are you saying it should?  If so, it is not.  Right now I have to manually copy the Web.config file using the IDE's Publish method.

[2017-08-30 16:40] Petermarcu commented on #897
@noahfalk can you give guidance here?

[2017-08-30 16:40] leecow commented on #894
@nguerrera , can you have a look?

[2017-08-30 16:42] Petermarcu commented on #902
@ericstj in case he has any ideas.

[2017-08-30 16:44] Petermarcu commented on #887
Glad the issue got resolved. I'll close this.

[2017-08-30 16:44] #887 closed

[2017-08-30 16:44] leecow commented on #483
@tannergooding - with the 2.0 release we've produced and will maintain a comprehensive release metadata file. Have a look at let me know if this will help with your use case and any suggestions for improvements.

https://github.com/dotnet/core/blob/master/release-notes/releases.json

[2017-08-30 16:50] Petermarcu commented on #904
Yes, thats because you are on a 32-bit Win7 machine. Were you successful when using the links for 32-bit here? https://www.microsoft.com/net/download/core

I opened an issue against the installers to make sure a better error message gets added. https://github.com/dotnet/core-setup/issues/3123

I'm going to close this issue for now as its understood. Let us know if there is anything else we should

[2017-08-30 16:50] #904 closed

[2017-08-30 16:53] Petermarcu commented on #850
Yes, there are two options.

1) is self contained which gets you an experience much more like .NET Framework where you can have "Myapp.exe".

2) There is really early work in the dotnet/corert repo to enable compiling into a single file native executable.

I'm going to close this issue for now because 1 is the current solution to not have to call dotnet.exe and 2 is the longer term work and doesn'

[2017-08-30 16:53] #850 closed

[2017-08-30 17:03] richlander opened #915 "Introducing .NET IL Linker"
# Introducing .NET IL Linker

The .NET Core team has been working on a linker in collaboration with the Mono team. It is based on the [Mono Linker](https://github.com/mono/linker) project, and by extension, on the [Cecil](https://github.com/jbevain/cecil) project.

The goal of the .NET IL Linker project is two part:

* Provide a capable linker for .NET Core to make it easy to significantly reduce

[2017-08-30 17:13] tannergooding commented on #483
@leecow, this still isn't as "simple" as I (or some others) would probably like it because, for official RTM or Preview releases, this still requires parsing some external data file in order to determine what to download.

At this point, the azure blob URL is the closest to what I would think is "ideal". That is, a URL where all I need to replace is the version and it will continue downloading the

[2017-08-30 17:29] ericstj commented on #902
Yes, as @onematchfox mentioned this is likely https://github.com/dotnet/sdk/issues/1502.  You'll hit it if you ever publish from VS or msbuild.exe on windows for a non-Windows RID when old packages are in the graph.  If you use dotnet publish (to a new folder) you shouldn't hit it.  If you are hitting it while using dotnet publish and you have a clean publish folder then I'd like to see a log `dot

[2017-08-30 17:53] Petermarcu commented on #848
I've thought about this a bit more. There is a hacky option and a good option. The hacky option is that there is a tool that can be run to extract the msi's out of the exe. Those could then be chained together in puppet or anything else.

The better option would be to make this first class and generate everything as part of the builds where we build the exe's to also give other types of definition

[2017-08-30 17:56] kordeviant opened #916 "Microsoft .NET Core SDK requires OS X 10.12 or later"
# Microsoft .NET Core SDK requires OS X 10.12 or later
![image](https://user-images.githubusercontent.com/22198402/29886779-85b9cc3e-8dd0-11e7-95d6-a0dfabb23e85.png)

this clearly is an issue because OS X 10.12 version is not supported for all Apple's currently working products and leads to Apple's income increase, not being a support act for open movement.

[2017-08-30 18:01] svick commented on #916
https://github.com/dotnet/core/issues/732 has some information about why 10.11 is no longer supported.

[2017-08-30 18:05] Petermarcu commented on #916
Yes, this was a requirement to get rid of the OpenSSL dependency that was a bit of an acquisition nightmare to say the least. Closing this because it was an intentional decision.

[2017-08-30 18:05] #916 closed

[2017-08-30 18:06] ericstj commented on #907
Firstly, It seems NuGet made a breaking change around downgrades warnings in the latest release see https://github.com/NuGet/Home/issues/5594.  @emgarten

Secondly,  `Devart.Data.PostgreSql` *does* downgrade that package so NU1605  is correct.  To get rid of that by default the package owner needs to remove the downgrade.  I'd recommend an issue in that owning package's repository to get this fixe

[2017-08-30 18:07] Petermarcu commented on #854
@rakeshsinghranchi can you help with verbose logging instructions. After installation, `dotnet` should be on the path.

[2017-08-30 18:09] Petermarcu commented on #874
@danmosemsft can you get this moved over to dotnet/corefx to be tracked as an issue there?

[2017-08-30 18:11] onyxmaster commented on #848
I'm still all up for first-class option, workarounds tend to break in the long run.

[2017-08-30 18:15] Petermarcu commented on #848
What is your primary focus? Do you need the SDK or really just the runtime that includes .NET Core and the ASP.NET Runtime Store?

Would you be interested in helping on the first-class solution?

[2017-08-30 18:19] Petermarcu commented on #848
The cheapest first step I think would be to add links somewhere to just the msi's with instructions on how to chain them together. All those msi's I believe are available on public url's.

[2017-08-30 18:19] #874 closed

[2017-08-30 18:19] danmosemsft commented on #874
Issue moved to [dotnet/corefx #23686](https://github.com/dotnet/corefx/issues/23686) via [**ZenHub**](https://www.zenhub.com/)

[2017-08-30 18:21] onyxmaster commented on #848
I've got a bunch of Windows 2012/2012R2/2016 Servers that I would like to continue to be managed by our puppet installation when we move to .NET Core. Currently they are provisioned semi-automatically and then are never logged into unless a production-level PerfView recording is needed. With MSIs we (and probably other shops with similar setups) can do this easily and without fear of breaking some

[2017-08-30 18:23] onyxmaster commented on #848
If I can be of any help -- sure, by my MSI knowledge is mostly limited to building service deployments with WIX.

[2017-08-30 18:25] Petermarcu commented on #848
@joeloff do you know of a link to the runtime store msi's that a doc could point to? I can try to get the links for the runtime msi's.

@onyxmaster I don't think msi knowledge would be needed. I was more thinking someone like you could contribute anything that would take the msi's and wrap them in puppet so other folks could also use puppet to install the msi's.

[2017-08-30 18:28] onyxmaster commented on #848
The best part with puppet on Windows is its native MSI support. It's basically one line, where you specify the package source and, optionally the product id (to verify if the specific version is installed).

[2017-08-30 18:31] wli3 commented on #896
@torhovland  add `/l*v log.txt` to the end of execution in command line can generate the log ex `dotnet-sdk-2.0.0-win-x64.exe /l*v log.txt`

However, I think in this case you should just wait for it. The "hanging" is extracting packages for offline scenario, on my machine, SSD, it will take about a minute, for HDD it could take 4 minutes.

[2017-08-30 18:31] joeloff commented on #848
We have a separate bundle for just the runtime stores or for the hosting bundle (which contains the runtime, runtime package store and ANCM). We don't ship the MSI individually because of reference counting.

There are links on https://www.microsoft.com/net/download/core#/runtime for the hosting bundle and on https://github.com/dotnet/core/blob/master/release-notes/download-archives/2.0.0-download

[2017-08-30 18:34] Petermarcu commented on #848
@joeloff doesn't reference counting happen with CA's in the installers or is it all at the bundle level? For people managing their own deployments using puppet, I'm not sure they care if we enforce reference counting.

@onyxmaster can you confirm that in your use case, you just rebuild the images rather than uninstall a bunch of stuff to clean things up?

[2017-08-30 18:36] onyxmaster commented on #848
Also, Ansible (we're considering moving to, also considered more modern among the configuration management systems) has the same level of MSI support, along with Chef. Excluding containers, these three are, as far as I know, the most widely used CM systems.

[2017-08-30 18:37] Petermarcu commented on #848
@richlander as well as FYI

[2017-08-30 18:37] joeloff commented on #848
@Petermarcu the reference count is done through a CA in the MSI, but it's done at the bundle level. We currently ship the MSIs for the stores in three bundles: SDK, Server Hosting and a standalone store only bundle. When you install the MSIs directly in environment where these bundles are present.

[2017-08-30 18:38] AlgorithmsAreCool commented on #915
Is the end goal here smaller deployments or does this get us closer to being able to ship single file self contained applications executable?

[2017-08-30 18:40] onyxmaster commented on #848
We rebuild machines when we repurpose them, with Windows machines it happens rarely, because the only software we install after provisioning is updates to the Windows itself and updates to our monitoring agents.

[2017-08-30 18:40] Petermarcu commented on #915
@AlgorithmsAreCool The primary goal is smaller deployments that only have the code you need in them (better pay-for-play). The self contained executable scenario will definitely benefit from this but I don't think they are neccessarily tied.

[2017-08-30 18:42] onyxmaster commented on #848
We're not looking to integrate .NET core into installer WIMs though, we prefer base installer to be as unchanged as possible.

[2017-08-30 18:49] Petermarcu commented on #848
@onyxmaster Would another option here be for us to provide puppet classes that do the right things for the exe's we already provide?

[2017-08-30 18:51] galodoido794 commented on #902
I will read the articles and test those possibilities later.

[2017-08-30 18:55] Petermarcu commented on #848
It looks like if there was a chocolatey module, then it would be easy to include our exe's in puppet. https://forge.puppet.com/puppetlabs/chocolatey

Do you use chocolatey for anything else?

[2017-08-30 19:19] Petermarcu commented on #848
Looks like there are community packages for .NET Core 2.0 runtime and ASP.NET Core 2.0 Runtime store available in chocolatey.

https://chocolatey.org/packages/dotnetcore-runtime.install
https://chocolatey.org/packages/aspnetcore-runtimepackagestore/2.0.0

[2017-08-30 19:21] Petermarcu commented on #848
Seems like we should just help make those packages work well :) https://github.com/jberezanski/dotnetcore-chocolateypackages

@jberezanski :)

[2017-08-30 19:23] emgarten commented on #907
You can also work around this by clearing `WarningsAsErrors` in your project. By default netcoreapp2.0 projects have `<WarningsAsErrors>NU1605</WarningsAsErrors>`.

[2017-08-30 19:50] galvesribeiro commented on #915
I wonder if after _linting_ we could leverage something like `ILMerge` as a secondary (and optional) build step for a single executable scenario.

[2017-08-30 19:50] rakeshsinghranchi commented on #854
Here are the details :

**.NET Core 2.0.0 x64 installer bundle:**
 http://dotnetcli.blob.core.windows.net/dotnet/Runtime/2.0.0/dotnet-runtime-2.0.0-win-x64.exe

**Inner MSIs of the installer:**
http://dotnetcli.blob.core.windows.net/dotnet/Runtime/2.0.0/dotnet-host-2.0.0-win-x64.msi
http://dotnetcli.blob.core.windows.net/dotnet/Runtime/2.0.0/dotnet-hostfxr-2.0.0-win-x64.msi
http://dotnetcli.blob.c

[2017-08-30 20:00] Eilon commented on #908
This issue was moved to aspnet/HttpAbstractions#930

[2017-08-30 20:00] #908 closed

[2017-08-30 20:19] richlander commented on #915
@galvesribeiro Yes. ILMerge (or something like it, like [mkbundle](http://docs.go-mono.com/index.aspx?link=man%3amkbundle(1)) would be step 2.

We will probably build a single file toolchain at some point, but it is a ways off right now.

As @Petermarcu suggests, the primary goal is smaller deployments.

[2017-08-30 21:20] masonwheeler commented on #915
13 years.  Better late than never, I suppose...

[2017-08-30 22:01] joeloff commented on #848
I took a quick peek. The current package checks for IISExpress, which is not supported by the hosting bundle. We only redist ANCM for IIS in the hosting bundle. IISExpress ANCM is supported in VS for development.

Having IIS is also not a requirement, only if you want to use ANCM. If IIS is absent, the bundle will just skip the ANCM package and install the rest: the runtime and package store

[2017-08-30 22:22] fahadash commented on #901
I need image to be 32 bit. I am referencing a com interop 32 bit assembly.

[2017-08-30 23:35] vancem commented on #897
Yes.  These instructions are for windows (since we are talking about Visual Studio which only runs on windows.    It is also important that we are talking about V2.0 (or later) .NET Core (e.g. what you get from https://www.microsoft.com/net/core#windowscmd)

1.  Uncheck the (Tools -> Options -> Debugging -> Just  My Code) checkbox.
2. Insure that the (Tools -> Options -> Debugging -> Symbol Settin

[2017-08-31 00:31] Phrohdoh commented on #915
Does this mean the linker will eventually support .NET Framework / Mono, or is it planned to be Core-only?

[2017-08-31 01:56] rubberduck203 opened #917 "How to run tests against IL Linked assemblies?"
The IL Linker announced in #915 is fantastic.
I'm seeing a 71% reduction in final size!

The [Linker Instructions](https://github.com/dotnet/core/blob/master/samples/linker-instructions.md) mention that the final executables need to be tested after linking.

This makes complete sense, but I can't find any information on how to run my tests with `dotnet test` against an already compiled executable.

[2017-08-31 04:52] SunnyWar commented on #915
nit: I bet, or rather, I _know_, if you look at the MS internal distribution group discussions back about the time C# was released you will find others that asked for this also.

I'm incredibly happy this is finally becoming a reality.

[2017-08-31 05:04] hjc4869 commented on #915
My project has references to some (large) libraries but only a small part of them are actually used. (No reflection is used)

According to the docs, non-framework assemblies are all root assemblies by default. Can I remove some of them from LinkerRootAssemblies without adding the ILLink to the csproj?

[2017-08-31 06:33] scheshan commented on #897
@vancem Thank you for your detailed introductions. And I still have some advises.
1. It seems people can easily debugging the nuget packages' source code if the authors add the 'SourceLink information'. Is there any documents about the SourceLink?
2. Can we directly view the source code by the 'go to the definition' button? Other languages' IDEs(Java, Python, Go) have this feature and I think it w

[2017-08-31 06:34] Parth6288 opened #918 "Failed to initialize CoreCLR, HRESULT: 0x80131500 on Linux Docker container"
Hi,

Developing the app on Windows, it runs fine on Windows. When trying to run the published release build on CentOS7, it works fine. However running it on Linux container, it throws this error:Failed to initialize CoreCLR, HRESULT: 0x80131500

Creation of a new app inside the container and running it works, but I want to build on Windows and host on Linux container.

Dotnet info:
Product Informa

[2017-08-31 07:23] maikebing commented on #850
thinks! @Petermarcu

[2017-08-31 09:05] haf commented on #862
@ericstj I followed your heavy-handed, non-community discussed, deprecation and moved away from xbuild and onto the unproven and for F#-untested v5.2 of Mono, but the problem is still there, as described https://github.com/fsharp/FSharp.Compiler.Service/issues/795

So no, it's not xbuild that's at fault.

I'll try changing that line, be right back with how it goes.

[2017-08-31 09:10] haf commented on #862
Unfortunately that didn't make a difference. Here's the output from ionide.

[code]

[2017-08-31 09:54] haf commented on #862
Ping

[2017-08-31 11:42] msmolka opened #919 "System.IO.Packaging 4.4.0 in .NET Framework depends on .NETStandard.Library"
# System.IO.Packaging 4.4.0 in .NET Framework depends on .NETStandard.Library

I'm trying to upgrade System.IO.Packaging in my old project .NET Framework 4.6.2  from version 4.3. However it tries to install a lot of useless dependencies already available inside framework, because it depends on  .NETStandard.Library 1.6.1+

[2017-08-31 11:53] svick commented on #919
Interesting. That package has two variants: one for .Net Standard 1.3 and one for .Net Framework 4.6. But both depend on `NETStandard.Library`. I don't think that's a common pattern and I don't know why does that dependency exist.

On the other hand, those "useless" packages should not cause any issues. And they're even less visible if you use the new `<PackageReference>` instead of `packages.conf

[2017-08-31 11:57] galodoido794 commented on #902
Using the _**dotnet publish -c release -r ubuntu.14.04-x64 /flp:v=diag**_ command generated the following error:

[code]

And I noticed that in the build it generates many conflicts:

[code]

I did not have time to see all the articles to test other solutions, but I'll keep trying later.

[2017-08-31 12:44] omajid commented on #918
Can you install `strace` in your container and run `strace` on `dotnet`? If your original command is:

     dotnet /path/to/dll

The strace version becomes

    strace -o logfile dotnet /path/to/dll

And please upload `logfile` from the container to somewhere public.

[2017-08-31 12:51] msmolka commented on #919
@svick `<PackageReference>` is not a option. I have old not Core project. I need this reference to use OpenXml nuget package which relies on Packaging one. Also it is problem because I have a lot duplicate dependency errors.

[2017-08-31 14:28] NikasZalias opened #920 ".NET Core 2 does not work...."
Can't find the issue... I've installed dotnet core 2 SDK and Runtime from here https://github.com/dotnet/core/blob/master/release-notes/download-archives/2.0.0-download.md

Restarted my PC (Windows 10 Pro x64 (Latest Version))

Ran my Visual Studio 2017 Enterprise 15.3.3.

Started new project (Console App (.NET Core)) and then this happened...

![error](https://user-images.githubusercontent.com/10

[2017-08-31 14:36] ericstj commented on #862
I'm not the one telling you this, you'll need to take that up with @akoeplinger and in the appropriate repo (presumably mono).

I'm sorry you're hitting this issue and feeling frustrated, I do want to help do what we can to improve this.

Now you appear to be hitting some different NullReference in Microsoft.FSharp.Compiler, but I suspect the same root cause (perhaps we're missing an inner stack).

[2017-08-31 14:54] vancem commented on #897
@scheshan - Visual Studio does have a Edit.GotoDefinition (usually bound to the F12 key), which if activiated will find the symbol the cursor is on.    However for code that is not part of the project, it takes you to a 'standin' that represents the interface (what can be determined without the source code).  This is because it is more the exception than the rule that you want to debug through cod

[2017-08-31 15:26] msmolka commented on #919
@svick are you sure:
based on that: [Microsoft Docs](https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files)

About the error I cannot reproduce it right now

[2017-08-31 15:28] Petermarcu commented on #920
That all seems correct to me. Can you try opening a command window and typing dotnet run in the project folder? That would help determine if its something wrong with the SDK install or something wrong with Visual Studio.

[2017-08-31 15:34] ericstj commented on #862
Ok, in the office.  I have a repro.  Working on the theory that XBuild + these targets was the only thing required I took a file>new project, net461 console app and installed the netstandard.library 2.0 package in it.  That was enough to make xbuild null-ref.  I'll debug it and get back to you.

[2017-08-31 15:47] Petermarcu commented on #917
That is a great question. @ManishJayaswal can you give any advice on how someone can run their tests against a published output?

[2017-08-31 15:56] svick commented on #919
@msmolka Yes. If I set PackageReference as the "Default package management format", then I'm able to use `<PackageReference>` in a brand new .Net Framework project in VS 15.3.

I think the docs are out of date, so I opened https://github.com/NuGet/docs.microsoft.com-nuget/issues/443.

[2017-08-31 15:58] Petermarcu commented on #848
@joeloff do you want to try to make a PR to their repo to fix that?

[2017-08-31 16:33] ericstj commented on #862
Ok, for me it was enough to simply make the change I mentioned above.

Through trial and error I found the XBuild is null-ref'ing when processing this
https://github.com/dotnet/standard/blob/d2b6c46ce1fa1d7d76a7f8f34b96da1d1053583e/netstandard/pkg/targets/NETStandard.Library.targets#L12 and https://github.com/dotnet/standard/blob/d2b6c46ce1fa1d7d76a7f8f34b96da1d1053583e/netstandard/pkg/targets/NET

[2017-08-31 16:39] russellhadley commented on #915
@Phrohdoh The Core linker shares the same base linking tool with Mono (so good news, that already works).  We've started to think about bringing ILLinker to .NET Framework but we don't have a concrete plan yet - so stay tuned.

[2017-08-31 17:01] sbomer commented on #915
@hjc4869, if you don't want to specify all of the inputs to ILLink by using the task in your .csproj, you should be able to do this by inserting your own target that removes these assemblies from LinkerRootAssemblies, like this:

[code]
This relies on the private target _ComputeLinkerRootAssemblies, so consider this unsupported. :) We should probably make the default behavior more configurable to

[2017-08-31 18:35] mqudsi opened #922 ".NET Core 1.x is no longer in the apt repos for Ubuntu 16.04"
[code]

(This is actually WSL, but that shouldn't matter).

After following the official installation instructions:

[code]

It seems that only version 2.0 of the .NET Core SDK is available:

[code]

[2017-08-31 18:38] Petermarcu commented on #922
@rakeshsinghranchi @leecow

[2017-08-31 19:12] svick commented on #922
It looks like the packages.microsoft.com repository that's now in the instructions indeed contains only .Net Core 2.0. The one that was there previously, apt-mo.trafficmanager.net, contains both 1.x and 2.0.

[2017-08-31 20:49] Petermarcu commented on #922
@leecow , should we get the 1.X packages all up in the new repository?

[2017-08-31 20:50] noahfalk commented on #897
@gregg-miskelly may know more about the behavior/limitations of goto definition in VS.

[2017-08-31 21:02] leecow commented on #922
Pushing the latest makes sense. Reasons for doing all?

[2017-08-31 21:04] mqudsi commented on #922
So long as they can be installed side-by-side and running a .NET Core 1.x project is not possible without user action when only version 2.x is installed, both should be provided.

[2017-08-31 21:07] Petermarcu commented on #922
Lee, I think you meant latest of 1.0.X and 1.X right?

[2017-08-31 21:11] leecow commented on #922
@Petermarcu right, the latest 1.0 and 1.1

[2017-08-31 21:13] Petermarcu commented on #922
I think that would be a fine place to start.

[2017-08-31 22:56] nelsonmorais commented on #758
Same issue here.

[2017-08-31 23:16] gregg-miskelly commented on #897
Could go-to-definition be made to work with SourceLink?

*For CoreFX/CoreCLR -- this is probably the wrong approach as the dll that your project references isn't what you are going to running against, and I believe Roslyn already has solutions for indexing select open source projects anyway.
*For more normal NuGet packages where the implementation assembly is the same as what you compile against -

[2017-08-31 23:20] gregg-miskelly commented on #897
To be clear, if the question is "can 'Go To Definition' be made to work with source link **today**", then the answer is 'no'.

[2017-08-31 23:21] davidfowl commented on #897
/cc @tmat

[2017-08-31 23:35] tmat commented on #897
/cc @nguerrera
At some point we had an idea that we could recreate a source project from information stored in the PDBs -- it would require the compiler to add a bit more information to the PDB (such as unique ids of referenced assemblies and the compilation options used to build the assembly). But the idea hasn't been implemented yet.

Re reference assemblies vs. implementation assemblies -- I co

[2017-09-01 00:13] ManishJayaswal commented on #917
I don't think we have a good solution at this time other than to publish the tests as apps and then run them.
@codito - do you know if you guys are thinking about this?

[2017-09-01 05:37] itanex commented on #920
I have not been able to reproduce this issue. I removed all core frameworks and put just 2 into my VM and nothing seems to be wrong.

I have seen VS behave like this before though with various other things and it usually has to do with a number of language services crashing or locking up. Have you tried a hard reset of your computer?

[2017-09-01 05:41] Parth6288 commented on #918
Attached is the log file.

[dotnetstracelog.txt](https://github.com/dotnet/core/files/1269238/dotnetstracelog.txt)

[2017-09-01 06:46] NikasZalias commented on #920
@Petermarcu I've just tried with CMD and here's what I got...

![image](https://user-images.githubusercontent.com/10243209/29958249-67f574e8-8efa-11e7-8ffd-094efed2c434.png)

[2017-09-01 06:48] NikasZalias commented on #920
@itanex no I have not tried hard reset my computer and it would be nice to stay that way...

[2017-09-01 17:39] Petermarcu commented on #920
Can you create a diag log `dotnet build /flp:v=diag`? It will put an msbuild.log file next to your project. Can you zip that up with your project and share it? Something unexpected is going on and that should give us the info we need to understand it.

[2017-09-02 01:56] KelsonBall opened #928 "process "dotnet" crashes when creating opentk texture (unsafe, fixed ptr)"
# Dotnet crashes when creating texture

I am trying to render an image in dotnet core 2.0 using opentk and imagesharp and ran into a situation where the dotnet process crashes.

Here is the specific snippet where the issue occurs

[code]

[code]

Here is the resulting windows error box

![image](https://user-images.githubusercontent.com/7193540/29992015-b82bc772-8f46-11e7-9f4d-7e6e6d25c3ad.png)

S

[2017-09-02 06:37] NikasZalias commented on #920
So i made diag log, zipped my entire project and added it to Google Drive. Here is the link:

https://drive.google.com/drive/folders/0Byw8_OcVom5XWFl4SXNJN1hOYXc?usp=sharing

Hope you'll find the problem, because I'm desperete...

[2017-09-02 06:41] Petermarcu commented on #920
@ericstj to also take a look to see if he can see what's wrong.

[2017-09-02 10:15] goforgold opened #929 "Where from I can download Preview 2 Final Version"
I didn't yet updated my project to .NET Core 2.0 yet. I need to install `.NET Core 2.0 Preview 2 Final` release on my MAC OSX.

I found a link
https://github.com/dotnet/core/blob/master/release-notes/download-archives/2.0.0-preview2-download.md

but this doesn't seem to be for Preview 2 Final version.

Can someone help me?

[2017-09-02 10:24] svick commented on #929
That should be the final version .Net Core 2.0 Preview 2. What makes you think it's not?

Though I don't see any reason why you should use that version, the final version of .Net Core 2.0 should be better in every way.

[2017-09-02 12:39] goforgold opened #930 "Cannot install .NET Core 2.0 on Amazon Linux AMI"
I am trying to update from .NET Core 2.0 Preview 2 Final to 2.0 Final Release on the Amazon EC2 instance due to some dependency issue.

When I run install command `sudo yum install dotnet-sdk-2.0.0` it produces following error.

[code]

And, when I try to install `openssl-libs` using package manager with command `yum install openssl-libs`, it says `No package openssl-libs available`.

I've checked

[2017-09-02 12:43] goforgold commented on #929
Hi @svick

At your recommendation, I tried migrating from Preview 2 Final to Latest Stable but facing issues.

I've posted detailed in a separate issues #930 for this.

[2017-09-02 14:07] torhovland commented on #896
Thank you. It was hanging for a lot longer than 4 minutes (and I use SSD), so it was truly hanging. But as I said, a reboot fixed it.

[2017-09-02 16:29] Petermarcu commented on #920
Adding @nguerrera and @dsplaisted as well.

[2017-09-02 17:02] KelsonBall commented on #928
Memory beyond the array was being accessed (gl parameter PixelType doesnt describe the type of the whole pixel, only the type of each rgba element)

[2017-09-02 17:02] #928 closed

[2017-09-02 17:58] KirillOsenkov opened #931 "Can't find symbols for 5 modules when debugging ASP.NET Core 2 web app"
After creating a new .NET Core ASP.NET Core 2 web site in VS 2017 Update 3 and debugging it the symbols for these 5 modules aren't loading. This significantly slows down debugging start time and causes friction. When the VS debugger can't find symbols it goes through a very expensive resolution process every time (many seconds) and it doesn't cache the binding failure, so it repeats that every tim

[2017-09-02 19:11] #862 closed

[2017-09-02 19:12] haf commented on #862
Thank you so much! 😍

[2017-09-03 06:29] xingzhougmu opened #932 "cannot import X509Certificate from file in .net core 2.0"
# Issue Title

cannot import X509Certificate from file in .net core 2.0

# General

The following code works perfectly in .net core 1.0, however, does not in .net core 2.0.
`X509Certificate clientCert = new X509Certificate(Directory.GetCurrentDirectory() + "/Certs/Production/CN_Certificate.crt");`

Under .net core 2.0, the exception is as below:

[2017-09-03 10:24] KshitizGIT opened #933 "System.IO.FileNotFoundException when using PrivateAssets = "All""
I have a project layout like this.

Assembly A -> Assembly B -> Assembly C.

Program lives in Assembly A.
ClassB lives in Assembly B.
ClassC lives in Assembly C.

I don't want AssemblyC to be directly accessible in AssemblyA. So I added   PrivateAssets = "All" in the ProjectReference element in the AssemblyB.csproj file

ClassB creates a instance of ClassC.

Program creates a instance of ClassB.

[2017-09-03 11:14] chintan3100 opened #934 ".net core 1.1 IFormFileCollection files Performance issue"
public async Task<bool> Put(IFormFileCollection files)
        {
            return await UpdateFile(file);
        }

I have hosted application in azure PAAS and analysis log of server. 6 second are taking to get file on server. file size 10 MB.
Ref Link:http://weblogs.thinktecture.com/pawel/2017/03/aspnet-core-webapi-performance.html

[2017-09-03 11:18] chintan3100 opened #935 ".net core 1.1 Performance issue with Load: Azure PAAS"
I have hosted my api on Azure with Web app S1 to S3 plan.

API taking a long time to respond. This issue will get when I have tried to run load test script with multiple users.

Any setting Should we consider for multiple users or when load increase for 1.1
http://weblogs.thinktecture.com/pawel/2017/03/aspnet-core-webapi-performance.html

like
Kestrel ThreadPool
Or
[code]

[2017-09-03 15:54] Petermarcu commented on #935
@Eilon

[2017-09-03 16:03] davidfowl commented on #935
@chintan3100 That's hard to know without more data. Are you talking about the time to communicate with an external api via HTTP? Or the time it takes your API itself to respond. Do you have any more specific data (Have you tried using application insights to measure?).

[2017-09-03 20:13] MaklaCof commented on #812
@nicksav
How did you solve problem with Error code 0x80004005:
[code]

[2017-09-04 03:46] cglong commented on #840
+1 for Homebrew; also FYI there's a very active discussion already at dotnet/cli#533.

I'm far from an expert on Homebrew, but I have made [a number of contributions](https://github.com/Homebrew/homebrew-core/pulls?utf8=%E2%9C%93&q=author%3Acglong) and would be glad to help write one for .NET Core 😄

I work at Microsoft, so feel free to ping me here or offline if there's anything I can do to help!

[2017-09-04 06:00] antonellil commented on #871
@halter73 great find, yes this seems to be related

[2017-09-04 06:00] #871 closed

[2017-09-04 06:16] vijayshinva opened #937 "typeof(System.Threading.Tasks.Task).GetTypeInfo().Assembly.Location returns Assembly Path='C:\Program Files\dotnet\shared\Microsoft.NETCore.App\2.0.0\System.Private.CoreLib.dll'"
# typeof(System.Threading.Tasks.Task).GetTypeInfo().Assembly.Location returns Assembly Path='C:\Program Files\dotnet\shared\Microsoft.NETCore.App\2.0.0\System.Private.CoreLib.dll'

# Description
- .NET Core 2.0.0
- Windows 10 Version 1607

I am trying to use the Emit API from Roslyn from a dotnet core 2.0 console app on Windows 10. For this I have to pass Metadata References to the CSharpCompilati

[2017-09-04 06:35] chintan3100 commented on #935
Thanks @davidfowl
Yes I am using application insights.  The Same API will take 2-3 second to response and some time it takes 30second - 60 seconds.
Some API communicate with blob storage for upload and download file.
Upload file: we are using IFormFile file to get file.
Download file: we are using FileResult

Note: All API and DB Operation are async. FIle upload, download Async, We created an inde

[2017-09-04 10:04] markrendle commented on #915
Will this be chainable with the `/t:LinkNative` target from [CoreRT](https://github.com/dotnet/corert)? So I can trim down my assemblies before AOT compilation?

[2017-09-04 11:06] hugobritobh commented on #902
I tested some possibilities and I did not succeed. I did the same process I do in NET CORE 1.1. Compile on windows and copy the files to Ubuntu 14.04 x64 and it works. NET CORE 2.0 does not work. I tested publishing with MSBuild and with dotnet publish -c release -r ubuntu.14.04-x64 /flp: v = diag.

Will only I have a problem with ASP CORE 2.0 on ubuntu 14.04? To test it is very simple, create a C

[2017-09-04 11:37] galodoido794 commented on #902
I tested some possibilities and I did not succeed. I did the same process I do in NET CORE 1.1. Compile on windows and copy the files to Ubuntu 14.04 x64 and it works. NET CORE 2.0 does not work. I tested publishing with MSBuild and with dotnet publish -c release -r ubuntu.14.04-x64 /flp: v = diag.

Will only I have a problem with ASP CORE 2.0 on ubuntu 14.04? To test it is very simple, create a C

[2017-09-04 12:25] Idanby opened #938 "Memory leak in Ubuntu 16.04"
I am running .net core 2.0 app on Ubuntu 16.04.
I have a small memory leak. The leak growing ~1 percent every one hour.
I was created a dump but I cant find the source of the leak. I see huge amount of Byte[],SQLClient and threads but still i can't find the source even I run the GCRoot on byte[] objects (after DumpHeap on byte[]).
The mostly used components are: EF Core,Quartz,AWS..
When I run the

[2017-09-04 12:35] mikedn commented on #915
@markrendle Why would you do that? AOT compilation does this by default.

[2017-09-04 15:56] jberezanski commented on #848
Hi all,

The `dotnetcore-windowshosting` Chocolatey package is designed to install the ANCM (and only the ANCM).

1. If the user requests Chocolatey to install the `dotnetcore-windowshosting` package, the expected result after the installation is that the ANCM gets installed on the machine. That is the reason for the IIS/IIS Express precondition check in the package installation script: because th

[2017-09-04 16:26] heathhey commented on #930
You might have better luck following the instructions here:

https://github.com/dotnet/core/blob/0b1a1631593d6d379fbdfe2b23597a5c25ea4fc9/Documentation/build-and-install-rhel6-prerequisites.md

Amazon Linux already has a later version of curl, so you might need libcurl-devel installed as well.

[2017-09-04 23:36] Luis-DdlFG opened #939 "Packages are not compatible with netcoreapp2.0"
Hello,

Today this error ocurred again. Visual Studio does not recognize most of the packages instaled in **Microsoft.AspNetCore.All** but I'm also getting problems with:

- Microsoft.Extensions.Logging.Debug
- Microsoft.VisualStudio.Web.CodeGenerators.Mvc
- Microsoft.EntityFrameworkCore.Tools.DotNet

The error message is like this for every package:

I got pass this issue before doing the followi

[2017-09-05 00:56] Luis-DdlFG commented on #939
Solved by updating Visual Studio to version 15.3.3

[2017-09-05 00:56] #939 closed

[2017-09-05 08:39] chintan3100 opened #940 "Performance issue with stream download"
I am downloading 400 MB file on local machine with 7 MB/Second (.net core 2.0) same code run with .net framework 4.6 download speed 100 MB/Second.

  public IActionResult DownloadDocument(Guid documentUniqueId)
        {
            var bytes = System.IO.File.OpenRead(@"D:\home\site\wwwroot\file\Organizer01_2017-09-03 (14) (3).zip");
            return File(bytes, "application/octet-stream");

}

[2017-09-05 10:34] hypercodeplace opened #942 "TypeScript breakpoints don't work"
# TypeScript breakpoints don't work

I use .NET Core 2 and create new project by knockout template.

    dotnet new knockout
    npm install

The project is created correctly and works perfect.
But when I try to set breakpoints, only part of them work properly (launch by VS 2017 15.3.3 and IIS Express). Tried to launch by Chrome Version 60.0.3112.113 (Official Build) (64-bit) and IE 11.540 as well

[2017-09-05 14:11] adailsonfilho opened #943 "Where is .NET CORE 1.1 SDK?"
# Where is .NET CORE 1.1 SDK?

Can't find/install .NET CORE SDK 1.1 again.

# General
In august 22th I've downloaded and installed _.NET CORE 1.1 SDK_ and _2.0_ in my development environment. As can be seen in the following image: https://pasteboard.co/GIXVFkN.png ...

Now I'm trying to install it into my build environment (TFS agents build machine): I explored all the .NET CORE download pages and

[2017-09-05 15:08] joeloff commented on #848
The check for IIS is definitely good to have since ANCM will fail if IIS isn't present. However, the bundle doesn't carry ANCM for IISExpress so that check is not necessary. We only carry ANCM for IISExpress as part of Visual Studio.

As for the commandline flags, there is a bug tracking to update them for 2.1.0. In 2.0, we don't currently have an LTS/FTS stream, there's only a single runtime.

[2017-09-05 15:25] Petermarcu commented on #943
You can find all the major historical releases here: https://github.com/dotnet/core/blob/master/release-notes/download-archive.md

That said, you should be able to build a .NET Core 1.1 application with the .NET Core 2.0 SDK.

[2017-09-05 15:33] Petermarcu commented on #940
@JeremyKuhne can we get this tracked in dotnet/corefx?

[2017-09-05 15:59] ericstj commented on #920
Something is wrong with the assets file.  Perhaps your NuGetFallBack folder (`C:\Program Files\dotnet\sdk\NuGetFallbackFolder`) is corrupt?  If you are able to reproduce this perhaps @emgarten could find out why NuGet is returning partial results.

In the project.assets.json, I see the following:

[code]

Note that System.Runtime is absent.

Now, if I look at the log file, I see RAR is finding Sys

[2017-09-05 16:28] solankin23 opened #944 "Asp.net core 2 deployment to IIS10 (Windows Server 2016)"
I am getting following error when i tried to publish Asp.net core 2 application to IIS10 on Windows Server 2016.

I build asp.net core 2 project using `dotnet publish -c release` and that works with `dotnet PriceCore.dll`

Following is Program.cs file

[code]
And following is web.config generated by publish output

[code]

And i am getting following error page.
<img src="https://i.stack.imgur.com/

[2017-09-05 17:44] asandoval4wall opened #945 "[UWP] Could not load file or assembly System.IO.FileSystem"
# [UWP] Could not load file or assembly 'System.IO.FileSystem

# General

I'm creating a UWPjs app with a C# UWP runtime and it fails to create files because it fails to find System.IO.FileSystem. I get no errors at build time, only at runtime. Any info helps, thanks.

- Target Version - Windows 10 Creators Update (10.0, Build 15063)
- OS - Win 10 Pro, Version 10.0.15063 Build 15063

# Code
![imag

[2017-09-05 18:21] emgarten commented on #920
@NikasZalias try removing all obj folders also and restoring again, this will force restore to read the package directory again for the file list.

[2017-09-06 02:55] JeremyKuhne commented on #940
This issue was also opened as: https://github.com/aspnet/Performance/issues/246

@chintan3100 We need to know exactly how the FileStream is being written. What is the `File` class you're using? If you're writing via ASP.NET apis it would probably be better to start on that end.

[2017-09-06 06:06] wh1sp3r opened #946 ".NET Core 2.0 SDK Build fail"
Hello,
I updated my SDK to version 2.0 and I am not able to build my project for Framework 4.6.
I am using Microsoft.AspNetCore libraries in version **1.1.3**.

Output:
[code]

Well, my app.config is not used and is almost empty
`<configuration>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
</configuration>
`

Worked fine before installing 2.0 SDK.

[2017-09-06 10:36] gregkalapos commented on #915
Great idea, but unfortunately it can potentially break our product, so I’d like to describe our scenario:

My team works on an APM product which is basically a Profiler with IL Rewriting. We use the profiler API to inject our code with AssemblytRefs and TypeRefs to existing types into the customers application. Now these references can be trimmed, which leads to crashes.

Until this point our appr

[2017-09-06 10:39] skorunka commented on #758
Same problem.

[2017-09-06 13:32] naveedahmed1 commented on #689
@Eilon so for the sake of clarity, suppose we have a repository class, that neesd access to HttpContext.Current , we would first inject HttpContextAccessor  in the controller calling that class, and then pass reference to context to the class from controller correct?

[2017-09-06 15:34] nathanaeljones opened #947 "No script for Ubuntu install of SDK"
For 1.0, we were given a scriptable install for Trusty/Xenial, but not for 2.0 (gpg dependency was added).

Moving from 1.0 to 2.0 in the Dockerfiles has proven very difficult. I wasted most of a day on it, and I can't find any other Ubuntu Dockerfiles on github where others have succeeded in moving from 1.0/1.1 to 2.0.

[2017-09-06 16:35] Petermarcu commented on #915
It seems like providing a convenient way to root .NET Standard types would be pretty straight forward.

[2017-09-06 16:39] Eilon commented on #689
@naveedahmed1 yes that sounds like it would work. However, I think in common/popular app architectures a "repository" class generally doesn't need access to `HttpContext.Current`. There would usually be some other app/scenario-specific interface that you'd create that the "repository" would depend on, and the implementation of that interface would use something like `IHttpContextAccessor` to get t

[2017-09-06 17:52] jberezanski commented on #848
Indeed, the bundle does not install the ANCM for IISExpress. Honestly, I have no idea what made me believe otherwise back when I made the package for 1.0.0. I will remove all IISExpress related code.

Would it be possible for you to publish ANCM MSIs for packaging purposes? This would save people some bandwith - they would not have to download the entire hosting bundle (containing components which

[2017-09-06 17:54] joeloff commented on #848
I'll raise this with the ANCM owners. In the past we refrained from doing that because it breaks the reference counting for ANCM when installing the hosting bundle. But if ANCM were to create a separate bundle we could use that. FYI @shirhatti

[2017-09-06 18:17] naveedahmed1 commented on #689
Thank you so much @Eilon for quick reply, sorry I meant a utility class but got your point.

[2017-09-06 20:53] sindamnataraj commented on #758
same issue here.

[2017-09-07 04:29] asandoval4wall commented on #945
I've come to the conclusion that I've misunderstood how I should have approached this problem. I assume the exception I get is by design. You get limited ability to do IO operations for a reason. (may not be a good enough reason for me but it's a reason nonetheless).

See https://docs.microsoft.com/en-us/windows/uwp/files/file-access-permissions for doing limited IO operations with UWPjs projects,

[2017-09-07 04:29] #945 closed

[2017-09-07 08:06] foo-baar opened #948 "Port localhost:5000 not released causing error System.IO.IOException: Failed to bind to address http://127.0.0.1:5000: address already in use."
Hi,

I installed dotnet core on Mac Sierra in order to build .net mvc application & while build a project I learned that donet\kestrel doesn't release the port 5000 after I stop a project causing port already in use error on next run.

I couldn't find any command\manual way to release\stop the port 5000 or localhost:500.

Please enlighten me if any such commend exists or any other possible solutio

[2017-09-07 08:10] davidfowl commented on #948
How did you run the application?

[2017-09-07 08:12] foo-baar commented on #948
@davidfowl hey, using vscode, 'Start Debugging' command, and stopped the same way: Ctrl + C o 'Stop Debugging'

[2017-09-07 08:16] gregkalapos commented on #915
@Petermarcu thanks for the feedback. That's good news. Of course the question is: does mono linker make sense with that setup? I mean, if with that setup the application only gets a few percent smaller, then the idea isn't so good. Anyway, this was just my first suggestion... Maybe somone comes up with another solution.

And please don't forget the other part: it would still be nice if a profiler

[2017-09-07 08:31] ForkBug commented on #889
I encountered the same problem.
After followed the Json.net code, I found that this problem was caused by RSAParameters.GetType();

RSAParameters.GetType(); return a type, which has a field DeclaredFields	{System.Reflection.FieldInfo[8]}.
FieldInfo has a field called Attributes	.
The Attributes for RSAParameters.D,DP,Q.. are  Public | NotSerialized.
Json.net will ignore NotSerialized fields.

It s

[2017-09-07 08:50] ForkBug commented on #889
After a second thought, this should be a bug. I open a new one for corefx https://github.com/dotnet/corefx/issues/23847

[2017-09-07 10:47] hugobritobh commented on #948
It has happened to me and what I did was change the port. Try using the command

[code]

[2017-09-07 12:05] foo-baar commented on #948
@hugobritobh I don't think your understood the issues: Port has not been released by Kestrel, irrespective of whichever one you use.

[2017-09-07 12:15] FarisFAhmed commented on #758
I have Visual Studio 2017 (15.2) and a .NetStandard core library project.
* If the project is targeted for 1.4 and I run MSBuild.exe then everything works
* If the project is targeted for 1.5 and I run MSBuild.exe then I get this error:
MSBUILD : error : CA0055 : Coult not identify platform for "...dll path..."

[2017-09-07 15:38] banjouuid opened #949 "Faster Any() Linq query"
# Issue Title

Could Any() query be faster?
# General

Currently the Any() Linq query as shown in the [source](https://source.dot.net/#System.Linq/System/Linq/AnyAll.cs) calls a using and then gets the enumerator.

I'm just guessing if it makes sense to add this extension to ICollection that could be faster:

` public static bool Any<TSource>(this ICollection<TSource> source)
        {

[2017-09-07 15:45] Petermarcu commented on #948
@Eilon

[2017-09-07 15:48] Petermarcu commented on #915
It definitely takes away some of the value. The only other way I can think of is to come up with a good way to be explicit about the dependencies that could be added by your rewriter. You said that wasn't feasible but it may be worth digging into that a little more.

[2017-09-07 17:09] wfurt commented on #948
Did you check with netstat -an| grep 5000 what state the port is in @foo-baar

[2017-09-07 22:14] Petermarcu commented on #947
@richlander

[2017-09-08 05:21] foo-baar commented on #948
@wfurt: I try with `lsof -i:5000` it shows occupied by dotnet, so I kill it manually and then continue.
![screen shot 2017-09-08 at 10 51 30 am](https://user-images.githubusercontent.com/13655874/30197175-b6248ab2-9483-11e7-975c-498a978086c3.png)

[2017-09-08 06:17] wfurt commented on #948
Thanks @foo-baar It really looks like the dotnet process is hogging the port.
I wanted to make sure this is not a race condition closing the port.

[2017-09-08 06:22] davidfowl commented on #948
It's likely something to do with how the process is being launched. `dotnet run` doesn't forward control + c to the child process.

[2017-09-08 06:45] foo-baar commented on #948
@wfurt : Welcome man, I have tested most of the basic features rest all happens to work fine, its my first time with core on mac, will check in case I face anything else.

@davidfowl : Hey, I have been launching it via vscode (not manually) However running kestrel server has no stop command, besides general `Ctrl + C`.
On a separate note I have posted it to kestrel team however I believe since its

[2017-09-08 11:26] ViRb3 opened #950 "Using a .NET Core library from C++ or Delphi"
I have my backend as a .NET Core library and I want to build a cross-platform GUI with either Qt (C++) or Delphi. Is there any way I could build a proper self-contained library and expose certain methods to use from those GUI frontends?

Thanks

[2017-09-08 17:12] NightWatchman commented on #897
Stepping into core source code doesn't work at all for me. I'm trying to figure out why my custom authentication service isn't working properly but I can't step into the ControllerBase.Challenge() method in the following code (which was created by the default project template).

[code]
If I set a breakpoint at `return Challenge(properties, provider);` it gets hit when I debug, but when I click "st

[2017-09-08 17:24] kostyamy opened #951 "Core 2.0 CORS api doesn't work in IIS 8.5"
# Issue Title

Having some troubles with hosting .NET Core 2.0 MVC bases api (not views but pure api) on Windows 2012 R2: IIS 8.5 -> Kestrel on dynamic port.

Client is Chrome both kinds - "fetch" and "XHR" but i don't think it makes any difference

- "same origin" requests work fine
- locally on my dev machine Surface , Windows 10 same origin and cross-domain (faked via system32\drivers\etc\hosts

[2017-09-08 17:32] kostyamy commented on #944
I had similar issue when IIS AppPool allows 32 bit apps on 2012 x64 server. I saw a bunch of URL Redirect fails in system event log while trying to access my site.
as far as i recall (at least in mine case) URL rewrite was 32 bit and for some reason it didn't like it i'm guess. so oddly enough disabling 32bits support in the app pool fixed it.

but i'm still seeing issues with MVC + CORS. it simpl

[2017-09-08 17:51] omajid commented on #948
Ah, sounds like the old `Ctrl-C` is killing parent but not `dotnet` children: https://github.com/dotnet/cli/issues/7426

[2017-09-08 18:39] foo-baar commented on #948
@omajid What is documented there makes sense, but I havn't had a chance to loot into the dohet processes hence can't comment anything on that.

[2017-09-08 19:42] brockallen commented on #951
My guess is that IIS is eating OPTIONS requests. Do you have anything configured in IIS to process those?

https://brockallen.com/2012/10/18/cors-iis-and-webdav/

[2017-09-08 21:53] kostyamy commented on #951
all clean. no filters of any kind. looks like my original post is missing content of the web.config
but it's actually a default one produced by the dotnet publish -c <config> command
so only AspDotNetModule entry and that's it

[2017-09-09 00:35] gregg-miskelly commented on #897
@NightWatchman a few questions:
1. Do you have symbols downloaded for whatever dll contains the implementation of 'Challenge'? (check the modules window)
2. If so: what happens if you try and step into that function via the disassembly window?
3. If not: why is downloading symbols failing? (Check symbols information)

[2017-09-09 02:58] chintan3100 commented on #940
I am using .net core. Please refer below code

public IActionResult DownloadDocument(Guid documentUniqueId)
{
var bytes = System.IO.File.OpenRead(@"D:\home\site\wwwroot\file\Organizer01_2017-09-03 (14) (3).zip");
return File(bytes, "application/octet-stream");

}

[2017-09-09 03:06] chintan3100 commented on #935
@davidfowl @eilon @Petermarcu
Can you please look for this issue

[2017-09-09 03:17] #944 closed

[2017-09-09 05:07] JeremyKuhne commented on #940
Presumably you're talking about [System.Web.Mvc.Controller.File](https://msdn.microsoft.com/en-us/library/system.web.mvc.controller.file(v=vs.118).aspx#M:System.Web.Mvc.Controller.File(System.Byte[],System.String)). You should probably start with https://github.com/aspnet/Mvc/issues. The ASP.NET team is the right starting point.

[2017-09-09 12:48] AlexBander commented on #649
I have the same problem.
logically as `dotnet -o hwapp`  dont work -> `Unknown option: -o`.

it dont work on default settings

`dotnet new
Wird vorbereitet...
Speicherzugriffsfehler
`

[code]

[code]

[code]

[2017-09-09 18:50] githubgitgit opened #952 "Serialization/Deserialization/untrusted data transforms and proactive mitigation measures against potential zero-days"
In the news: Apache Struts2 malformed XML deserialization leads to RCE
https://arstechnica.com/information-technology/2017/09/exploit-goes-public-for-severe-bug-affecting-high-impact-sites/

Even though that's on the Java-side of the world. This is an industry-wide wake up call to strengthen security from the ground-up. .Net Core is relatively new and I think this is the right time to put a strong

[2017-09-09 19:03] Wraith2 commented on #901
I've just hit the same problem. I need a 32 bit image for interop as well.
The problem is that visual studio is using the 64 bit version of dotnet.exe to try and debug which results in a BadImageFormatException. I've verified that I have both x86 and x64 builds installed and that invoking the 32 bit dotnet exe with the project output does work so the compilation if fine but visual studio isn't att

[2017-09-09 20:55] benaadams commented on #952
Binary Serialization (using `BinaryFormatter`) is problematic and wasn't included in .NET Core originally. However, has come back with 2.0 as part of matching the .NET Standard 2.0 api set.

However all help pages about [Binary Serilization](https://docs.microsoft.com/en-us/dotnet/standard/serialization/binary-serialization) carry this warning

And suggest always using a different type of serializ

[2017-09-09 22:34] nguerrera commented on #901
By default, VS will just use the dotnet.exe that comes first on your PATH to run the application. So, one (very inconvenient, ugly) approach is to make sure c:\Program Files (x86)\dotnet comes before c:\Program Files\dotnet on PATH before launching VS. But since that's global, it will give you the opposite problem: failure to run x64 apps.

Better option: you can override the default `$(RunCommand

[2017-09-10 00:05] blowdart commented on #952
In .NET Core 1 we dropped a lot of dangerous stuff, and, well, customers complained bitterly, so they all came back in 2.0 to enable people to migrate. It's more complicated by the fact that you can use these things securely. Take for example encryption. Encrypting without adding an HMAC is problematic, but we have to expose the crypto primitives because that's what people want, the low level prim

[2017-09-10 09:57] pandazzurro opened #953 "Net Core 2 not install on Raspberry PI 3 with Debian 9 (Stretch)"
# Net Core 2 not install on Raspberry PI 3 with Debian 9 (Stretch)

I have installed last Raspbian on my Raspberry PI 3.
I format my SD card and use instruction at this link: [Install](https://www.microsoft.com/net/core#linuxdebian)
and [this](https://github.com/dotnet/core/blob/master/samples/RaspberryPiInstructions.md)

# SSH session

pi@raspberrypi:~ $ **sudo apt-get update**
Get:1 http://mirro

[2017-09-10 11:59] MGuerra7007 commented on #915
What about something like anotations? Maybe some kind of attribute that specifies to the linker which types to consider as roots. The linker then would mark those types as roots and combine that information with the other channels (like creating your own target).
Finally, the linker would remove from the final assembly the references to the attributes used to annotate.

I think that would be a ver

[2017-09-10 13:11] adamsitnik commented on #901
@nguerrera thanks for help!

[2017-09-10 13:52] pandazzurro commented on #953
Sorry, dotnet-sdk-2.0.0 must not install on Raspberry.
"dotnet publish -r linux-arm" for Linux running on Raspberry Pi

[2017-09-10 13:52] #953 closed

[2017-09-10 15:09] evgshk commented on #902
@galodoido794 got exactly the same problem with .NET Core 2.0.0 runtime:

And similarly to you my project works fine with .NET Core 1.1.2 runtime (LTS).

p/s Just in case, I use Windows Server 2012.

[2017-09-10 15:27] Wraith2 commented on #901
I think that's the wrong link, did you mean [MSBuild .Targets Files](https://docs.microsoft.com/en-us/visualstudio/msbuild/msbuild-dot-targets-files)? Using that I've added a specific x64 override as well do no matter your environment variable order it'll pick the right version for the platform if you specify the platform. AnyCPU will use the default.

[code]

[2017-09-10 19:34] nguerrera commented on #901
Both links have info about Directory.Build.targets/props

[2017-09-10 19:58] nguerrera commented on #901
Glad that worked for you. Having the symmetric case for x64 handled is goodness. Thanks for sharing that improvement.

[2017-09-11 03:46] goforgold commented on #930
I managed to install .NET Core 2.0 using the source code as instructed [here](https://github.com/dotnet/core/blob/master/release-notes/download-archives/2.0.0-download.md).

I didn't find any complexity in that way. It hardly took 10 minutes to get everything setup.

[2017-09-11 04:52] Eilon commented on #935
@chintan3100 can you share more info about the logs and data you've collected? It's nearly impossible to say what's going on without knowing where the time is spent. If you turn on detailed logging and/or Application Insights, hopefully you can at least see what part of the request is taking so long. Once you find that out, we can try to figure out why the slow part of the request is being slow.

[2017-09-11 05:22] hchungi commented on #930
I was almost desperate.
I tries many ways, none of them can work for me.

Afterwards, I download the .NET Core 2.0 runtime directly with following link:

And, use the old fashion way like installing .net core 1.1 with commands:
[code]
It worked. Very simple like you used to do.

[2017-09-11 13:13] robert-j-engdahl opened #954 "NuGet for System.Collections.Immutable has unresolved dependency towards netstandard"
# Issue Title

Installing the NuGet package System.Collections.Immutable v1.4.0 targeting .Net 4.6.1 does not include its dependency towards netstandard.

# General
After

    install-package System.Collections.Immutable -ProjectName SomeProject

And using ImmutableHashSet<long> in some class, Visual Studio is fine, but my TeamCity build fails with the following errors:

    Analysis\Recalculation

[2017-09-11 13:15] foo-baar opened #955 "dotnet run MVC error: Can not find compilation library location for package 'Microsoft.NETCore.App'"
Hello Team,

I am trying to execute the dotnet mvc project, (created too using mvc) and after fixing all the build error I get this error in browser at run:

[code]

Scanned the complete web to find a possible solution but no luck.
I am using on Mac Sierra dotnet sdk 2.0.0.

Please point me to the solution ✌️

[2017-09-11 13:42] robert-j-engdahl commented on #954
This could be caused by my test projects being 4.6.1 and my production being 4.6.

It did, however, not help to

    Install-Package NETStandard.Library -Version 2.0.0

There might be issues that concern the backwards compatibility of 4.6.1 that I am not aware of.

[2017-09-11 16:08] danielgerlag opened #956 ".Close() on TcpClient & Socket missing for some platforms"
# .Close() on TcpClient & Socket missing for some platforms

.Close() on TcpClient & Socket (System.Net.Sockets) is available in .net standard 2.0, only if compiling on a Windows machine... if I try compile on a Mac, these methods are missing.
Also, have to explicitly reference `System.Net.Sockets` when building from the Mac.

# General

.NET Standard 2.0
Windows 10 vs. MacOS

[2017-09-11 16:56] AnisAli opened #957 "dotnet build is not ignoring contentFiles/any/any in Linux under nuget package"
# Different behavior in Windows and Linux for ignoring content files in NuGet package during dotnet build

dotnet not ignoring contentFiles/any/any in linux, I do have some binaries in contentFiles/any/any folder under .nupkg file.  I am getting error
`CSC : error CS2015: '/root/localnuget/mcd.basicmodule.contracts/1.0.0.1/contentFiles/any/any/MyPackages/BasicModule.zip' is a binary file instead o

[2017-09-11 17:52] #957 closed

[2017-09-11 18:23] Kiritsu opened #958 "dotnet sdk 2.0.0 unable to install it correctly"
Hello,

I'm trying to install dotnet-sdk-2.0.0 as written in https://www.microsoft.com/net/core#linuxdebian on my linux server.

After the "installation", it still say "dotnet no such file or directory"

Anyone knows how to fix this please ? :v

[2017-09-11 21:39] chintan3100 opened #959 "Serialization error in .net core 2.0, same code was working in .net core 1.1"
public class CustomClass
    {
        [Required]
        public System.Guid? clientId { get; set; }
}

`"\"bb2f3da7-bf79-4d14-9d54-0a1f7ff5f902\""`

system.argumentexception Could not cast or convert from System.String to System.Guid. newtonsoft.json

   at Newtonsoft.Json.Serialization.JsonSerializerInternalReader.EnsureType(JsonReader reader, Object value, CultureInfo culture, JsonContract cont

[2017-09-11 21:40] chintan3100 commented on #959
I can not change client call who calling API with `"\"bb2f3da7-bf79-4d14-9d54-0a1f7ff5f902\""`

[2017-09-12 03:55] AnisAli opened #960 "Invalid .csproj.nuget.g.props file generated on dotnet restore on Linux"
# invalid csproj.nuget.g.props file generated by dotnet restore on Linux

I do have binary zip file and want to pack that zip file in nupkg as content therefore I am adding my binary file as content in csproj file

**basicmodule.csproj**

[code]

after packing basicmodule.csproj  getting nuget package "basicmodule.1.0.1.nupkg and used this nuget package in another project called advancemodule.cspr

[2017-09-12 06:58] chintan3100 commented on #959
Hi
.net core 1.1 : When we return string from api it like
"bb2f3da7-bf79-4d14-9d54-0a1f7ff5f902"
.net core 2.0
"\"bb2f3da7-bf79-4d14-9d54-0a1f7ff5f902\""

[2017-09-12 08:06] ststeiger opened #961 "Is there a difference between win-gs-x64 and win-x64 ?"
# Confusing download file names

I have a question regarding the download of .NET Core:
If I want to download .NET Core 2.0 SDK, I can do it either
here: https://www.microsoft.com/net/download/core
or here: https://www.microsoft.com/net/core#windowscmd

Now, one link downloads dotnet-sdk-2.0.0-win-gs-x64.exe, the other downloads dotnet-sdk-2.0.0-win-x64.exe.
Is there any difference between win-gs-

[2017-09-12 10:40] warriorfenix26 opened #962 "Repository Doesn´t Works"
I try download .net sdk 2.0 follow the instructions in Raspberry and i can't it. The terminal show me: impossible found the package. I try in ubuntu and its the same.

[2017-09-12 11:21] papanito opened #963 "Segfault with donet 2.0.0 on Debian (Kernel 4.4.67) in a docker container"
I get a segfault when running ```dotnet restore``` or ```dotnet build```
[code]
I am using dotnet 2.0.0 which is running in a docker container.
[code]

Host system is a Proxmox LInux (Debian, Kernel 4.4.67)
[code]

[2017-09-12 14:31] omajid commented on #962
There is no SDK for arm platforms (including raspberry pi). Please see https://github.com/dotnet/core/blob/master/samples/RaspberryPiInstructions.md#net-core-on-raspberry-pi which says:

If you want to use .NET Core on Raspberry Pi, you should use the SDK on a x64 (or `x86_64`/`amd64` as it called by most linux distros) machine and publish for `arm` and run it on the Raspberry Pi. Please see the d

[2017-09-12 14:38] omajid opened #964 "Documentation/prereqs.md is obsolete"
core/Documentation/prereqs.md is incomplete and old:

- Doesnt point to any Linux distro-specific packages.
- Only mentions dependencies for .NET Core 1.x on Ubunut and CentOS.
- Refers to mostly 1.0 stuff
- Suggests using openssl on mac

 The docs site has better docs:

- https://docs.microsoft.com/en-us/dotnet/core/windows-prerequisites?tabs=netcore2x
- https://docs.microsoft.com/en-us/dotnet/co

[2017-09-12 14:53] chintan3100 opened #965 ".net core 2.0 Authentication"
I have upgrade code 1.1 to 2.0.

We have used app.UseJwtBearerAuthentication and app.UseCookieAuthentication both Authentication.

How i can set both authentication in 2.0. It's looks like only one authentication working at a time.

    services.AddAuthentication(CookieAuthenticationDefaults.AuthenticationScheme)
             .AddCookie(options =>
             {
                 options.Cookie.Nam

[2017-09-12 15:17] blowdart commented on #965
This issue was moved to aspnet/Security#1418

[2017-09-12 15:17] #965 closed

[2017-09-12 15:43] Petermarcu commented on #959
@ViktorHofer @danmosemsft can you take a look?

[2017-09-12 16:48] ViktorHofer commented on #959
@chintan3100 I spent some time trying to reproduce your issue but I don't have enough information to understand what's going on here.

Please post a small reproduction code. I don't know which APIs you are using (even it they aren't .NET Core related but Json.NET).

[2017-09-12 18:06] Tealons commented on #812
@leecow : Any indication if running dotnet.exe will be possible in x64 in the near future?

[2017-09-12 18:44] #958 closed

[2017-09-13 12:46] #962 closed

[2017-09-13 13:58] wijays commented on #954
Running into the same issue on 4.6.2.

[2017-09-13 16:16] diegofalciola commented on #860
@qqbuby this didn't work for me, and I am still being asked to add a reference. Is anybody still experiencing this during upgrade?

[2017-09-13 19:00] qqbuby commented on #860
Should we provide two versions, 1.0 and 2.0?

Best, Regards
Roy Xu

[2017-09-13 20:01] roozbehid-ic commented on #838
@karelz Is there a plan to port it? It seems Xamarin already has it, so shouldn't be that hard to port it to different oses?

[2017-09-14 01:49] navimondo commented on #829
+1 4 chocolatey

[2017-09-14 09:46] ststeiger commented on #961
Strange.
Installed win-gs-x64, and it didn't show in visual studio.
installed win-x64, and it showed in visual studio.
Maybe it was the restart.

[2017-09-14 14:29] softeering opened #966 "System.Data.SqlClient throwing System.PlatformNotSupportedException when loaded via reflection"
#  System.Data.SqlClient throwing System.PlatformNotSupportedException when loaded via reflection

System.Data.SqlClient does not work when loading the external library (.NET Standard DLL) at runtime through reflection except if the library has been published for a specific platform (rid).
Trying to execute a SQL query against a SQL Server instance throws "System.PlatformNotSupportedException: Sys

[2017-09-14 16:58] joehoeller opened #967 "LDAP/AD Group +JWT Authentication"
# LDAP/AD Group +JWT Authentication

I feel an integral piece of the roadmap should incorporate a way to access LDAP and Windows AD groups, and issue a JWT, as well as place restrictions or filters on what data gets sent to the UI based on a group.

[2017-09-14 18:53] tpluscode opened #968 "Cannot target portable or sl5"
# Issue Title

It's impossible to target some framework version (in my case portable or sl5) without adding a full framework too.

# General

In one project I multi-target for a wide variety of frameworks including Silverlight 5, .NET 3.5 and portable. It worked fine in .NET 1.1 SDK. Here's an example project file.

[code]

Not sure why I need the PropertyGroups with conditions but it worked.

Aft

[2017-09-14 19:53] randomizedthinking commented on #649
Encountered the same issue on debian stretch, when following the instruction on . Also, `libssl.1.0.2` are installed, but it does not solve the problem.

[2017-09-15 08:18] hakonrossebo commented on #920
I had the same issue. A new class library build failed. The issue was fixed by renaming C:\Program Files\dotnet\sdk\NuGetFallbackFolder and deleting obj/bin folders for the project.

[2017-09-15 14:16] rahulmistry25425 opened #969 "No IAuthenticationSignOutHandler is configured to handle sign out for the scheme: oidc in .net core with identity server 4"
Hello,

I am migrating my identity server based project from .net core 1 to 2, i am facing this issue while i am trying to logout

Here is screen shot of error.
![image](https://user-images.githubusercontent.com/15902578/30479439-d9e6cf28-9a32-11e7-8fa1-fb1d3f6214cb.png)

In ConfigureService in **client**

[code]

also used
`app.UseAuthentication();`
 in configure method.

Here is my logout action

[2017-09-15 14:38] joehoeller commented on #967
One suggestion is to ditch the immature Kestrel server completely and have .NET Core run on NGINX, and use NGINX's JWT modules and LDAP features for authentication via RESTful services.

[2017-09-15 14:43] rahulmistry25425 commented on #969
i also posted same issue in Identity server

Here : https://github.com/IdentityServer/IdentityServer4/issues/1531

[2017-09-15 20:26] CarlosOnline opened #970 "System.IO.FileNotFoundException System.DirectoryServices.AccountManagement"
# System.DirectoryServices.AccountManagement won't load from asp.net Core 2.0 (netcoreapp2.0) website
Referencing .net 4.5.1 framework class library from asp.net Core 2.0 (netcoreapp2.0), where class library references System.DirectoryServices.AccountManagement leads to receives FileNotFound exception.

**System.IO.FileNotFoundException** occurred
  HResult=0x80070002
  Message=Could not load file

[2017-09-17 20:30] BrendanGrant opened #971 "Debugging dotnet core app on Raspberry Pi & Linux?"
Nope.

*grumble* I see the problem, there does not look to be a linux-arm debug package at present (at least where I would expect it).

Over SSH the remote device accesses https://aka.ms/getvsdbgsh and runs the script, on the Ubuntu machine, it looks something like:

GetVsDbg.sh -r linux-x64 -v vs2017u1

which results in a download of https://vsdebugger.azureedge.net/vsdbg-15-1-10630-1/vsdbg-linux

[2017-09-18 05:22] rahulmistry25425 commented on #969
i got my solutions

await HttpContext.SignOutAsync(IdentityConstants.ApplicationScheme);

[2017-09-18 05:22] #969 closed

[2017-09-18 09:54] eriawan opened #972 "Creating .NET Standard 2.0 class library project will always have reference to Microsoft.NETCore.Platforms 1.1.0 by default"
# Summary

Creating a .NET Standard 2.0 class library project should have correct reference to Microsoft.NETCore.Platform 2.0.0, but actual reference points to version 1.1.0 by default.

# Detail description

Environments:

- Windows 10 Anniversary Update
- Visual Studio 2017 Enterprise with update: 15.3.3 and .NET Core workload installed (also tested with Visual Studio 2017 15.3.1 and using Commu

[2017-09-18 09:56] eriawan commented on #972
My bad, I think this is not a correct place for this issue. I'll recreate this on dotnet/standard.

[2017-09-18 10:00] eriawan commented on #972
Close this, because I have created the issue on dotnet/standard/#497.

[2017-09-18 10:02] #972 closed

[2017-09-18 17:48] ierpe opened #973 "Debian - segmentation fault dotnet new console"
Hi, just followed [the official guide](https://www.microsoft.com/net/core#linuxdebian) to install dotnet on debian.

Install went fine, but when I tried to launch the tutorial example, I get :

`
$ dotnet new console -o hwapp

Getting ready...

[1]    18216 segmentation fault  dotnet new console -o hwapp
`

[2017-09-18 19:50] omajid commented on #973
Can you run an `strace` and upload the log file (`logfile` below) somewhere?

    strace -f -o logfile dotnet new console -o hwapp

[2017-09-18 20:26] karelz commented on #843
BTW: Forgot to post it last time: We do not plan to evolve System.Net.Mail. We recommend users to use other modern libraries, e.g. MailKit: https://github.com/dotnet/platform-compat/blob/master/docs/DE0005.md

[2017-09-18 20:26] #843 closed

[2017-09-18 20:57] ierpe commented on #973
Here you go :

[code]

The strace also returns a segmentation fault :

[code]

[2017-09-18 21:01] redwards510 commented on #860
What is the solution for this? I'm getting it in lots of projects now.  For example, https://github.com/Arch/UnitOfWork is supposed to work with netcore 20. When I clone and build that repo, it complains about references to System.Data and System.Text.RegularExpressions as well as DbConnection. ex:

Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0012	The type 'DbConnection'

[2017-09-19 00:00] nguerrera commented on #901
You can simplify handling both x86 and x64 by using a single property group and moving the PlatformTarget condition to the RunCommand:

[code]

[2017-09-19 06:48] 3ronco commented on #649
Same here, segfault on Debian Stretch when using
`dotnet new ...`
Temporary fix:
`export DOTNET_CLI_TELEMETRY_OPTOUT=1`
Although not nice to disable telemetry but works for now [link](https://www.mattbutton.com/2017/07/10/dotnet-new-causing-segmentation-fault-on-debian-linux)

[2017-09-19 17:20] lt72 commented on #971
@sywhang @gregg-miskelly for investigation.

[2017-09-19 17:31] gregg-miskelly commented on #971
This issue tracks supporting ARM debugging for the vsdbg side: https://github.com/OmniSharp/omnisharp-vscode/issues/1562

The .NET Runtime likely also has work, but I don't know if they have an issue tracking it.

[2017-09-19 17:49] BrendanGrant commented on #971
After my second post I did eventually find that OmniSharp ticket.

At the very least, the owners of GetVsDbg.sh & Visual Studio need to have a little chat and allow one to tell the other "No compatible debugger packages could be located." Better yet, also adding "In the mean time, please try debugging against a supported platform, here is a list..."

In the end, I deployed my app to the Ubuntu VM

[2017-09-19 23:59] nguerrera commented on #901
Closing this as a duplicate of https://github.com/dotnet/cli/issues/7532

[2017-09-19 23:59] #901 closed

[2017-09-20 00:07] SurferJeffAtGoogle opened #974 "I can't find dotnet core 1.1.0 LTS"
On 9/11/2017 (Last week), I visited https://www.microsoft.com/net/download/core and clicked the 1.1 LTS download link for Windows 64-bit.  The resulting sdk was 1.1.0:

[code]

Now, I need to install that same SDK on a new machine.  The link is gone, so I visit the archive page:
https://github.com/dotnet/core/blob/master/release-notes/download-archive.md
I click on the download link in this row:

[2017-09-20 00:09] SurferJeffAtGoogle commented on #974
Here's the sdk info on the new machine after downloading and installing:
[code]

[2017-09-20 04:58] xLabel opened #975 "about dotnet core 2.0 OS support"
according this : https://github.com/dotnet/core/blob/master/roadmap.md
dotnet core 2.0  support CentOS7.3+ ,

but our product environment is CentOS7.2 , can it run on CentOS7.2 without any linux kernel update ?

[2017-09-20 05:14] Petermarcu commented on #975
It should run fine. I don't know of any technical blocker. 7.2 is definitely a min.

[2017-09-20 05:44] jmecosta opened #976 "Restore fails if feed is protected by user name and password"
# Cannot restore when a feed is protected

we have many feeds, some of them are protected. in non dotnet core applications, we can proceed if permissions are not set for the feed since it try to restores from the next configure feed. Now it just fails,

D:\prod\proto\diffplex>dotnet restore
  Restoring packages for D:\prod\proto\diffplex\WebDiffer\WebDiffer.csproj...
  Restoring packages for D:\pr

[2017-09-20 12:53] papanito commented on #963
Downgrade of libcurl solves the problem for me as well. Thanks to https://github.com/dotnet/corefx/issues/8951#issuecomment-299793545

[2017-09-20 13:13] xLabel commented on #975
@Petermarcu
Thank you for your reply .
: )

what is mean "technical blocker" ?  for example .

[2017-09-20 14:10] pableess commented on #890
This is invalid.  I realized that wait operations on multiple handles which include a named mutex is not supported on non windows platforms.

The inner thread actually throws a System.PlatformNotSupportedException: Wait operations on multiple wait handles including a named synchronization primitive are not supported on this platform.

I would suggest improving the documentation.

[2017-09-20 14:10] #890 closed

[2017-09-20 16:17] SurferJeffAtGoogle commented on #974
Fortunately, sdk version 2.0.0 also works with my project, but I'm still confused about all these version numbers.

[2017-09-20 16:22] Petermarcu commented on #974
What .NET Core Runtime version are you trying to build for? You should always be able to use the latest SDK. The SDK will be optimized for building for the latest version of .NET Core that shipped with it but it works for targeting any version.

[2017-09-20 16:40] ierpe commented on #973
Hi, any news on this ? Anything else I can do to help debug?

[2017-09-20 16:43] Petermarcu commented on #973
@livarcocc is this the one people have been working around by disabling the first run experience?

[2017-09-20 16:46] Petermarcu commented on #973
Looks like this one: https://github.com/dotnet/core/issues/649#issuecomment-330445968

@livarcocc do you have an issue tracking fixing this in the cli?

[2017-09-20 16:49] ierpe commented on #973
export DOTNET_CLI_TELEMETRY_OPTOUT=1

removed the segmentation fault for me

[2017-09-20 16:49] Petermarcu commented on #973
👍

[2017-09-20 16:51] ierpe commented on #973
should I close the issue or you want it left open until a real fix has been issued?

[2017-09-20 16:53] Petermarcu commented on #973
Lets leave it open until @livarcocc confirms that there is an issue somewhere tracking the fix. Once we have that, this can be closed. Thanks @ierpe!

[2017-09-20 17:29] livarcocc commented on #973
@Petermarcu @steveharter can you help debug this and understand why the telemetry code is causing a seg fault? If this were in native code, I would expect a stack trace somewhere. But we will investigate.

[2017-09-20 17:34] SurferJeffAtGoogle commented on #974
Got it.  I thought global.json served the purpose of selecting the target runtime, but in fact it's this line in the project file:
[code]

[2017-09-20 17:34] #974 closed

[2017-09-20 17:40] omajid commented on #973
Could this be an incompatibility via libcurl? See https://github.com/dotnet/core/issues/963#issuecomment-330842070 and https://github.com/dotnet/corefx/issues/8951#issuecomment-299793545

[2017-09-20 17:58] brooksyott opened #977 "NetCore 2.0 - Ubuntu 16.04.3 System.IO.FileLoadException System.Threading Version=4.1.0.0"
# Issue Title

I'm looking to heavily use dotnet/core,
When doing a simple HelloWorld_NetCore tutorial, I've tried to deploy it to an Ubuntu server.

Unhandled Exception: System.IO.FileLoadException: Could not load file or assembly 'System.Threading, Version=4.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. The located assembly's manifest definition does not match the assembly reference.

[2017-09-20 19:20] brooksyott commented on #977
The issue appears to come up when I add newtonsoft 10.0.3. It isn't present if newtonsoft is not there.

[2017-09-20 19:55] ierpe commented on #973
@Petermarcu you're welcome!

@omajid For info my version of libcurl is : libcurl 7.55.1

[2017-09-20 21:58] steveharter commented on #973
@livarcocc I'm installing fresh debian now, will report back tomorrow.

[2017-09-20 22:32] steveharter commented on #973
I couldn't repro. I used debian stretch. One difference is that `dotnet --info` reports the RID as Linux-x64 instead of debian-x64.
[code]

@ierpe what is the contents of your /etc/apt/sources.list.d/dotnetdev.list file? I have:
[code]

[2017-09-21 01:01] icedfish commented on #973
the same issue @Mac
the official guide says:
[code]

I checked the dotnet help (dotnet core sdk 2.0)

[code]

all the guide shuold be update to :
[code]

[2017-09-21 06:49] ierpe commented on #973
@steveharter /etc/apt/sources.list.d/dotnetdev.list file :

 deb [arch=amd64] https://packages.microsoft.com/repos/microsoft-debian-stretch-prod stretch main

[2017-09-21 13:48] bubert commented on #920
I had the same issue, a new console application build failed. I've tried the fix that @hakonrossebo did, but it didn't work for me. I've also tried to reinstall .NET Core SDK 2.0 and to repair my VS 2017, but without any success.

[2017-09-21 13:51] daningalla commented on #937
Assembly explorer shows that the Task type is defined in System.Private.CoreLib and not System.Threading.Tasks. Does the code you are trying to compile have the 'using System.Threading.Tasks' directive?

[2017-09-21 14:36] mig42 opened #978 "IL Linker issue with asp.net core"
I've followed the instructions on how to apply the mono IL linker to a .NET core 2.0 application (an ASP.NET core project), but I'm getting runtime exceptions telling me there's no parameterless constructor for one of my model classes

**_TL;DR_**
I can't make the IL linker include the parameterless constructor of one of my model classes in my ASP.NET Core 2.0 app, even if I specifically include i

[2017-09-21 15:03] Petermarcu commented on #978
@sbomer @russellhadley

[2017-09-21 15:10] steveharter commented on #973
FWIW here's my Debian Stretch environment (no repro, clean install)
[code]

[2017-09-21 15:15] steveharter commented on #973
@icedfish

So you're also getting the seg fault during `dotnet new console`?

Does `export DOTNET_CLI_TELEMETRY_OPTOUT=1` prevent the seg fault?

[2017-09-21 15:37] steveharter commented on #973
@ierpe have you tried to debug the seg fault, or look at any dumps in order to determine the crashing module\stack? I can send you gdb instructions.

[2017-09-21 17:20] sbomer commented on #978
@mig42, thank you for the write-up and the detailed repro info. I haven't been able to reproduce this yet. Here are the sources I'm using: [tts2.zip](https://github.com/dotnet/core/files/1322166/tts2.zip).

Repro steps I'm trying:
- `dotnet publish -r <RID>`
- `./bin/Debug/netcoreapp2.0/<RID>/tts2`

Could you let me know whether you see the issue with these sources?

[2017-09-21 18:01] omajid commented on #973
@icedfish

Can you confirm this? What does `dotnet --version` say? What does `dotnet --info` say?

That looks like the older 1.0 Preview SDK. `-t` does not work with the 1.x or 2.x SDKs.

[2017-09-21 18:24] leecow opened #980 ".NET Core September 2017 Update (1.0.7 and 1.1.4 with SDK 1.1.4)"
.NET Core September 2017 Update is available. This release updates .NET Core 1.0.7 .NET Core 1.1.4 and SDK 1.1.4

You can read about the update in the [release notes](https://github.com/dotnet/core/blob/master/release-notes/1.0/1.0.7.md).

Please report any issues you find with September 2017 Update here, either responding to this issue or creating a new issue.

Please note that this repo (dotnet/

[2017-09-21 18:27] ierpe commented on #973
@steveharter nope I haven't, don't know how actually...

[2017-09-21 18:36] steveharter commented on #973
@ierpe probably the easiest way is to catch the seg fault with gdb if you can. You'll likely need to be root to install that. So
[code]

and then run dotnet:
[code]
after seg fault
[code]

hopefully you get a crashing module (libcurl?) and stack.

[2017-09-21 19:13] dsplaisted commented on #920
@bubert Can you provide the same information we asked Nikas for?  IE, what errors you're seeing, whether you can successfully build from the command line, and a zip of your project with a log?  You can create a [binary log](http://msbuildlog.com/) with the `/bl` argument, which is easier for us to investigate than an `/flp:v=diag` log.  You might want to create a separate issue for all this, since

[2017-09-21 19:25] Coder3333 opened #983 "Cannot use DBDataReader as Structured SQL Parameter with 2.0 Update"
This article details how to use a DBDataReader as a Structured input parameter to a SQL query:

https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/sql/table-valued-parameters

This worked just fine with Core 1.1, but since I updated to Core 2.0, it no longer works.  If I use DataTable as input, instead of a DBDataReader, the exact same code works.

The error I get is:
"Specified method

[2017-09-21 21:46] leecow commented on #975
@xLabel - a technical blocker would be an issue which prevented .NET Core functioning correctly.

[2017-09-21 22:01] leecow commented on #964
Thanks @omajid. Quick and dirty fix for now ... I've added a note to the existing document redirecting to the docs site.

[2017-09-21 22:03] leecow commented on #961
They're the same. We needed an easy way to track downloads from either the 'getting started' pages versus downloads that came from other places. Copy and rename to the rescue :-)

[2017-09-21 22:03] #961 closed

[2017-09-21 22:12] leecow commented on #943
The 1.1.0 SDK first shipped with Visual Studio. Today was the first standalone .NET Core release which included the 1.1 SDK and you can see details and download links in the [release notes](https://github.com/dotnet/core/blob/master/release-notes/1.1/1.1.4.md).

[2017-09-21 22:12] #943 closed

[2017-09-22 01:56] shalaka198 commented on #912
Is there any update on this issue? I am facing the same.

[2017-09-22 02:30] icedfish commented on #973
@omajid sorry , I checked my system, find that I used to install the old 1.0RC SDK before install the new 2.0 sdk.

after uninstall the old version by [the cli script](https://github.com/dotnet/cli/blob/rel/1.0.0/scripts/obtain/uninstall/dotnet-uninstall-pkgs.sh)
and reinstalled the sdk 2.0, It's ok now.

But it's really puzzle, the the 2.0 sdk not remove the old sdk automaticlly or even notify me

[2017-09-22 04:07] vijayshinva commented on #937
Thanks @daningalla it turned out to be an issue with the using directive. One of my base classes was missing the directive and that was causing the compile issue.

[2017-09-22 05:52] bubert commented on #920
@dsplaisted I've got exactly the same errors in IDE and when called `dotnet restore` as a Nikas, `dotnet --version` also returned 2.0.0. However, completely removing the IDE and .NET Core 2.0 SDK and installing them from scratch fixed the error, but now I can't reproduce it and provide the logs, sorry.  Anyway, thank you for your response!

[2017-09-22 06:33] ststeiger commented on #961
OK, I see the why - thanks for the response.
I think it's superfluous to say this, but it would be more professional to use the refer(r)er for that purpose.

[2017-09-22 09:29] mig42 commented on #978
Thank you for your quick answer @sbomer! I can't reproduce the issue with your attached sources 😕 There might be something else I'm doing in my project that causes the issue... Let me build a sample project to reproduce it (I can't share the whole project with you right now 😞) and I'll attach it here!

[2017-09-22 10:32] huting0211 commented on #975
What's the difference between bug and technical blocker?

[2017-09-22 10:54] ierpe commented on #973
@steveharter is that what you wanted ?
[code]

[2017-09-22 14:28] spidduz opened #987 "Unhandled Exception: System.IO.FileLoadException: Could not load file or assembly 'Microsoft.Extensions.Configuration.Abstractions"
Hi
Running `dotnet publish` on my windows 10 it generates DLLs and it runs without issues.
With the same codebase on a linux container (FROM microsoft/dotnet:2.0.0-sdk) if I run `dotnet publish` and try to start my application (`dotnet mydll.dll`) it returns the following error:

[code]

I have also tried to copy the compiled dll manually from windows to the linux container and the application wor

[2017-09-22 15:01] steveharter commented on #973
@ierpe yes thanks. It is likely crashing when calling into OpenSsl.

Can you run a couple commands please:
`$ openssl version`
and
` ls /usr/lib/x86_64-linux-gnu/libssl.so.*`

You should get back
`OpenSSL 1.1.0f  25 May 2017`
and
`/usr/lib/x86_64-linux-gnu/libssl.so.1.0.2  /usr/lib/x86_64-linux-gnu/libssl.so.1.1`

If not, and you're getting the 1.0.0 version you can give this a try:
[code]

[2017-09-22 17:37] neyromant opened #989 "Unhandled Exception: System.IO.FileNotFoundException: Could not load file or assembly mscorlib, Version=4.0.0.0"
# An error occurred when run a self-contained .net core  application on CentOs 7.3.

Hi, I tried to create small application:

[code]

[code]

I compiled this and tried running on centos 7.3 ( CentOS Linux release 7.3.1611 (Core) ) (without the installed .net core sdk on this machine, but with installed dependencies libunwind libicu).
I got an error
[code]

[2017-09-22 17:40] neyromant commented on #989
I tried to turn off the DisableImplicitFrameworkReferences.
Now got another error:
[code]

[2017-09-23 02:46] leedavi commented on #966
I have the same problem with different code base.

[2017-09-23 20:27] neyromant opened #990 "Long answer from HttpClient when I make a request using a domain name"
Hi, I tried to create small Self-contained .net core application:
Program.cs:
[code]

TestHttpClient.csproj:
[code]

urls.txt:
[code]

I compiled this and tried running on centos 7.1 ( CentOS Linux release 7.1.1503 (Core)) (without the installed .net core sdk on this machine, but with installed dependencies libunwind libicu).

Results:
[code]

It is clear that when we use an IP address, we get a r

[2017-09-23 21:07] Petermarcu commented on #990
@neyromant, Glad you are trying this! You have the choice in .NET Core 2.0 to carry the native linux dependencies with your application. This is documented here: https://github.com/dotnet/core/blob/master/Documentation/self-contained-linux-apps.md

If you hit any problems, @janvorli may be able to help.

[2017-09-23 21:21] neyromant commented on #990
@Petermarcu, Thank you very much for the answer!
This documentation will be very useful to me!

[2017-09-23 21:31] neyromant commented on #990
I have yet another issue with self contained application and .net core 2.0.
@Petermarcu, @janvorli could you please look at https://github.com/dotnet/core/issues/989 ?

[2017-09-24 07:17] Idanby commented on #938
apparently, MARS in SqlClient caused the memory leak. In my connection string MultipleActiveResultSets was set to true.I still don't know why this is affected just in Ububntu and not Windows too but when I set it to false, memory back to be stabled.

[2017-09-24 07:17] #938 closed

[2017-09-24 10:43] ierpe commented on #973
@steveharter
[code]

[2017-09-24 14:34] FireFighter92 opened #991 "After creating new ASP.NET Core 2.0 project Nuget could not restore packages"
**My tools:**

And of course I have the latest SDK and Runtime installed

Just downloaded VS 2017 and tried to build new ASP.NET Core 2.0 project and unfortunately got an error with the best impression :)

**Error:**

[2017-09-24 18:31] arunprasathv opened #992 "VS 2017 Installation - Facing Multiple issues"
@davidfowl @shanselman   Installed VS 2017 15.3.5/Core SDK 2.0 and see multiple issues, not able to run web api project, getting "**The project doesn’t know how to run the profile IIS Express**" (same error for for core 1.1 and 2.0)  **Not seeing .Net Standard 2.0 option for libraries**.  **dotnet --version shows 1.0 though i have 2.0 installed**. attached errors below for each. Appreciate your he

[2017-09-24 20:39] softeering commented on #966
FYI, I opened the same issue in dotnet/corefx repository:
https://github.com/dotnet/corefx/issues/24229

[2017-09-24 21:26] msvprogs commented on #912
+1, I have the same problem. OS CentOS 7, .NET Core 2.0

[2017-09-25 01:04] brooksyott commented on #977
Any idea what could be wrong?
This is very simple, so it must be something I'm doing wrong.
A simple .netcoreapp HelloWorld that is fine until I add Newtonsoft.Json 10.0.3.

[2017-09-25 14:07] steveharter commented on #973
@ierpe since you have the 1.0.0 version, that is likely conflicting and has been a problem for others. You can remove that by doing an `apt-get remove ssl1.0.0`

Typically the 1.0.0 version is there due to an upgrade to stretch or buster, and not a clean install. It could have come from another app's dependency as well.

cc @bartonjs is there an issue to address this in some manner? Like if 1.0.2

[2017-09-25 15:47] ViktorHofer commented on #989
cc @janvorli

[2017-09-25 18:40] Petermarcu commented on #989
Do you actually need those Package References? They should all be automatic.

[2017-09-25 18:44] neyromant commented on #989
I wanted to compile a minimal application that depends only System.Console.
For this I set <DisableImplicitFrameworkReferences>true</DisableImplicitFrameworkReferences>

[2017-09-25 18:47] Petermarcu commented on #989
What is the version of your SDK? `dotnet --version`?

[2017-09-25 18:49] Petermarcu commented on #989
I don't think the approach of referencing individual packages is going to work in .NET Core 2.0. The way to get a smaller app in .NET Core 2.0 + is to reference the platform but use the linker. Instructions for that are here: https://github.com/dotnet/core/blob/master/samples/linker-instructions.md

[2017-09-25 18:55] neyromant commented on #989
dotnet --version
2.0.0

[2017-09-25 18:57] neyromant commented on #989
It's a pity. This approach worked for .net core 1.0.
Ок, Thank you so much.

[2017-09-25 18:57] #989 closed

[2017-09-25 18:59] #990 closed

[2017-09-25 21:14] serkantkaraca opened #994 "ArraySegment null check is throwing ArgumentNullException"
SDK 2.0 breaks null check on type value contract for ArraySegment.

            var arraySegment = new ArraySegment<byte>(new byte[10]);

            // This throws as below. Should be False as per C# spec. Works on 4.6.2
            var isNull = arraySegment == null;

System.ArgumentNullException occurred
  HResult=0x80004003
  Message=Value cannot be null.
  Source=<Cannot evaluate the exception

[2017-09-26 05:13] anubhutiK opened #995 "Is .NET Core supported on zLinux ?"
Is .NET Core supported on zLinux ?

Hello Team,

I saw the supported OS page for .NET Core. It does not mention anything about zLinux or power Linux. Are  these architectures supported ? Is there a plan in future to support them ?

Thanks

[2017-09-26 07:02] borisdj opened #996 "Unable to resolve service for type 'Core.Data.CoreContext' while attempting to activate 'Core.Data.Repositories.UnitOfWork'"
I have part of WebAPI application that I want to move to separate project as class library.
It is common base structure that almost every app has so idea is to make it easy shareable.
Application type is:
ASP.NET Core Web Application / .NET Framework - ASP.NET Core 2.0 / Web API

What I have done in that direction is created a project named Core and moved those shared elements there, including Bas

[2017-09-26 10:21] ierpe commented on #973
@steveharter removing ssl1.0.0 fixed it for me, thanks for the support!

[2017-09-26 10:21] #973 closed

[2017-09-27 01:38] alexzaytsev-newsroomly commented on #839
Any updates on this?

[2017-09-27 08:00] johanskoldekrans opened #1000 "DisplayFormatAttribute not used while rendering control"
We have two datecontrols (startdate and enddate) that we used the attribute DisplayFormatAttriute with a DataFormatString("{0:d}") as well as ApplyFormatInEditMode = true. This was rendered as an input with type date in the past but now is rendered as a datetime-local input. So the user has to enter the time as well.

Code from View:
[code]

Code From Class (ViewModel):
[code]

Usings in the ViewM

[2017-09-27 12:10] leecow commented on #812
@Tealons - working with the App Services team on on how that would play out. Stay tuned!.

[2017-09-27 17:42] Tealons commented on #812
@leecow Thanks for the reply! Would be nice to have access to more memory in my application :)

[2017-09-28 04:19] zl4bv commented on #930
Does not work with Amazon Linux when following [these](https://github.com/dotnet/core/blob/master/release-notes/download-archives/2.0.0-download.md#rhel-and-fedora-based-systems) instructions.

[code]

[2017-09-28 04:34] wfurt commented on #930
If you already have openssl you can try to run yum with  --skip-broken (as the message suggests)
All what dotnet needs is to find dynamic libraries from openssl. (and libcurl)

[2017-09-28 04:39] wfurt commented on #930
BTW AMI Linux is NOT one of the supported and test platforms. There should be no surprise that there are some bumps. This is one reason for publishing the tar file so you do not need to fight package dependencies.

[2017-09-28 04:59] h3smith commented on #930
If you want to use AWS, drop it in Docker and use ECS.

[2017-09-28 22:23] agr opened #1004 "System.Uri handles '%' characters in local path incorrectly"
.NET Core 2.0, Windows 10:

[code]
produces the following output:
[code]

while the expected output would be:
[code]

[2017-09-29 14:52] joeseggie commented on #920
@ericstj thank you, saved my week. I got the same problem. Renaming the NuGetFallbackFolder, deleting the bin and obj folders from the project, running `dotnet restore` from command prompt with elevated privileges resolved the problem.

[2017-09-29 15:19] maroallegro opened #1005 ".kill() on single process kills all solution console apps"
It would be faster to read mine StackOverflow post and few comments there ;)

https://stackoverflow.com/questions/46488212/kill-only-one-console-app-when-multiple-are-started

[2017-09-30 00:33] robertbaker commented on #992
This is not an issue with this project.

To fix your issue, open the visual studio installer, click modify. Under workloads, scroll all the way to the bottom, under Other Toolsets you will see .NET Core cross-platform development. Check the box and click the modify button. See image: https://imgur.com/a/QPfFA

[2017-09-30 00:40] robertbaker commented on #954
You will need to install the VS 2017 (MSBuild 2017) on your team city server. Additionally 4.6.0 won't work, you need at least 4.6.2.

https://www.visualstudio.com/thank-you-downloading-visual-studio/?sku=BuildTools&rel=15

Additionally, I would recommend changing your nuget's to package reference if you haven't already. Look for packages that were installed using an older .net framework version,

[2017-10-02 14:55] tanmaymandal commented on #996
I am getting same issue with configuration :(

[2017-10-03 09:19] the-super-coder opened #1006 ".Net Core v2.0 - Nuget Packages are not getting restored"
.Net Core v2.0 - Nuget Packages are not getting restored

Any application that is targeting .Net Core v2.0 framework, will not build as NugetPackages are not restored successfully. I have tried with both the Console Apps and Web Apps.

**Error Messages I am getting:**
Restoring NuGet packages...
To prevent NuGet from restoring packages during build, open the Visual Studio Options dialog, click on

[2017-10-03 09:26] the-super-coder commented on #1006
One of the web apps, I got a lot of errors similar to the following:
C:\Users\Super.Coder\source\repos\WebApplication8\WebApplication8\WebApplication8.csproj : error NU1202: Package Microsoft.AspNetCore 2.0.0 is not compatible with netcoreapp2.0 (.NETCoreApp,Version=v2.0). Package Microsoft.AspNetCore 2.0.0 supports: netstandard2.0 (.NETStandard,Version=v2.0)

[2017-10-03 12:03] philippgille commented on #1006
Which dotnet CLI commands have you tried?

I'm running Windows 10 and have .NET Core SDK 2.0 installed and for me the following works fine:
[code]
Where the `dotnet new console` already contains a `dotnet restore` (since .NET Core 2.0).

[2017-10-03 12:47] philippgille opened #1007 "netcoreapp2.0 SCD console app targeting osx-x64 doesn't work on Mac OS X 10.10.4"
# Issue Title

netcoreapp2.0 SCD console app targeting osx-x64 doesn't work on Mac OS X 10.10.4

# General

I created a simple "Hello World!"-app with .NET Core 2.0 like this (in a PowerShell command line window):

[code]

Download the file on the Mac (in my case a Mac Mini), extract the archive, right click on the file `hwapp` and select "Open with...", then choose "Terminal".

The following erro

[2017-10-03 14:18] Darker opened #1008 "0x80070001 - Incorrect function"
# Issue Title

Installers from official [Download .NET Core](https://www.microsoft.com/net/download/core#/runtime) throw mysterious error.

# Platform
 - Windows server 2007 SP2 x64
 - IIS 7

# Installer log file

[code]

This happens for all installers designed for Windows Server.

[2017-10-03 16:01] sushihangover opened #1009 "Path is not added to `.zshrc` during the install of 2.0 (macOS: 10.13 (17A365))"
The **Install .NET and build your first app on macOS** instructions at:

*  https://www.microsoft.com/net/core#macos

State:

If you only a `.profile` and a `.zshrc` in your home dir, the path is not added during the install of 2.0 to either of these files and you must manually add `/usr/local/share/dotnet/` yourself.

OS: macOS: 10.13 (17A365)

[2017-10-04 09:50] spidduz commented on #987
I added the following line into my csproj for the api:
<PublishWithAspNetCoreTargetManifest>false</PublishWithAspNetCoreTargetManifest>
now using microsoft/dotnet:2.0.0-sdk and microsoft/dotnet:2.0.0-runtime all works!

[2017-10-04 09:50] #987 closed

[2017-10-04 17:33] Indyy66 commented on #305
I have an app using .net core 1.1.0 and having a hell of a time getting the polyfills.ts file to be picked up by webpack or any part of the compile system. The application is required to work with IE11 and is currently hindered because of this issue.  I would say that my biggest issue, is where to place the file polyfills.ts in the project so that it will be compiled and bundled with the rest of t

[2017-10-05 00:00] john1726 opened #1010 ""Unable to initialize the application (Could not load file or assembly 'System.Runtime, Version=4.1.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The System cannot find the file specified""
# General

Please note that when I attempt to perform a deployment using ClickOnce, I receive the above error when it tries to install the application.  Here is the batch file I use for publishing the app:

[code]

Please find attached the files generated by the above command.  The NuGet package manager says it is installing System.Runtime 4.3.3, but in app.config it also adds these lines:

[code]

[2017-10-05 01:26] Petermarcu commented on #1010
@john1726 what is bringing in the System.Runtime reference? Is that one you added explicitly? Do you know why?

There can often be a difference between package version and assembly version. Newer packages carry copies of older implementations that NuGet may select for you depending on your applications target.

/cc @dsplaisted

[2017-10-05 01:27] Petermarcu commented on #1009
@rakeshsinghranchi @livarcocc can you take a look?

[2017-10-05 01:29] Petermarcu commented on #1009
I actually moved this to another repo where it will get better traction. https://github.com/dotnet/core-setup/issues/3275. I'm going to close this copy.

[2017-10-05 01:29] #1009 closed

[2017-10-05 01:36] Petermarcu commented on #1008
The minimum Windows Server version that is supported is Windows Server 2008 SP1? I don't think the installer is the only thing thats going to fail on Windows Server 2007 SP2.

Here is the support list for 1.X:
https://github.com/dotnet/core/blob/master/release-notes/1.0/1.0-supported-os.md

Did you always try it on 2007 or were you seeing the same thing on newer OS's?

[2017-10-05 01:38] Petermarcu commented on #1007
.NET Core 2.0 supports OSX 10.12 and higher. The same binary will work on 10.12 and greater so you don't need to worry about 10.13. It doesn't change the minimum system requirements of the binaries and in the case of .NET Core 2.0, the product relies on things that just aren't there in 10.10. If you stay away from crypto you may be able to run it on 10.11 but its not a supported scenario.

[2017-10-05 01:39] Petermarcu commented on #1007
I'm going to close this because things appear to be failing in the expected way on an unsupported OSX version. Please reopen if I missed something.

[2017-10-05 01:39] #1007 closed

[2017-10-05 01:47] Petermarcu commented on #1005
@gregg-miskelly in case he has any insights. This isn't the best place to track this issue if there is anything to be done about it so I'll close this in a few days but I want to give folks a chance to decide if there is anything to fix and open a tracking issue for it elsewhere.

[2017-10-05 02:11] Petermarcu commented on #1006
@the-super-coder can you share what your project looks like?

/cc @rrelyea

[2017-10-05 02:13] Petermarcu commented on #1004
I opened this bug to track this. https://github.com/dotnet/corefx/issues/24439

[2017-10-05 02:13] #1004 closed

[2017-10-05 02:17] Petermarcu commented on #1000
Copied this issue to here: https://github.com/dotnet/corefx/issues/24440

[2017-10-05 02:17] #1000 closed

[2017-10-05 02:21] Petermarcu commented on #996
@borisdj , Any reason why you moved this here? I think the aspnet/home repo is actually the right place to start. @muratg can you confirm?

[2017-10-05 02:25] Petermarcu commented on #994
Thanks for reporting this. I've copied it here: https://github.com/dotnet/corefx/issues/24441

[2017-10-05 02:25] #994 closed

[2017-10-05 02:28] davidfowl commented on #996
Your code has is expecting to inject s CorecContext but you configured an AppContext in your code. Dependency injection doesn’t work that way. You need to specify the service type as CoreContext.

Yes this issue belongs on asp.net

[2017-10-05 02:32] Petermarcu commented on #977
Thats odd, I've seen plenty of others use Newtonsoft.Json with .NET Core 2.0.

Which of the bin folders are you deploying to the server? Are you publishing and copying from the appropriate publish folder?

@ericstj any ideas?

[2017-10-05 02:36] Petermarcu commented on #975
If you hit bugs, let us know what you hit. We expect it to work but we aren't covering it with a lot of our testing. I'm going to close this issue now.

[2017-10-05 02:36] #975 closed

[2017-10-05 02:38] Petermarcu commented on #995
/cc @richlander @leecow

Power PC isn't a currently supported architecture and we don't have any official plans to support it. That said, if there is community support for it, we'd be happy to engage with anyone that wants to work on bringing that support up.

[2017-10-05 02:40] Petermarcu commented on #978
Hi All, I'm going to close this issue for now to help with tracking. @mig42 if you get a repro of the issue, feel free to reopen this issue.

[2017-10-05 02:40] #978 closed

[2017-10-05 02:43] Petermarcu commented on #991
@barrytang @DamianEdwards @rrelyea is this a known issue?

[2017-10-05 04:41] philippgille commented on #1007
The [RID catalog](https://github.com/dotnet/docs/blob/c72b699eac962a330fcb4732cbea035a724d1bf1/docs/core/rid-catalog.md) contains:

It doesn't say anywhere that from that list, OSX 10.12 is currently the *only* supported OSX version for .NET Core 2.0. In contrary, another paragraph in the RID catalog says that the new portable RIDs make it easier to support multiple target operating systems, so of

[2017-10-05 10:51] maroallegro commented on #1005
@Petermarcu I do not know if I understand correctly...
My question here is: Why in .Net Core when I will start for instance 3 apps (with Start mode) i cannot kill only one of them. Isn't it a bug ? For comparison, when exactly the same process will be made in .Net 4.6 everything works as expected (only one app is closing).

Solution from stackoverflow is only workaround because changing mode of on

[2017-10-05 14:40] gregg-miskelly commented on #1005
Assuming this happens only when you are debugging - this is a known bug in the .NET Core project system in Visual Studio. I can't seem to find the bug to reference it at present. You can open or search for a problem through Visual Studio's Report a problem feature if you want to track it.

[2017-10-05 14:41] gregg-miskelly commented on #1005
Found it. Here is the issue: https://developercommunity.visualstudio.com/content/problem/88707/debugging-multiple-dotnet-core-applications-all-te.html

[2017-10-05 15:12] john1726 commented on #1010
If I remove the System.Runtime package, then I have to remove these packages:

[code]

Then when I try to deploy using ClickOnce, I get this error:

`System.Deployment.Application.InvalidDeploymentException (HashValidation) - File, has a different computed hash than specified in manifest. - Source: System.Deployment - Stack trace: at System.Deployment.Application.ComponentVerifier.VerifyFileHash(S

[2017-10-05 15:33] john1726 commented on #1010
Here are the full details on the error I get when I try to remove the Cryptography and Runtime libraries:

[code]

I've found a potential solution here https://blogs.msdn.microsoft.com/gauravb/2008/10/06/clickonce-filename-has-a-different-computed-hash-than-specified-in-manifest/, but I work in a corporate environment and don't have permission to modify that file.

[2017-10-05 15:58] JedatKinports opened #1011 "The appsettings.json was not found on Linux Debian."
The appsettings.json was not found on Linux Debian (jessie). On macOS everything works fine like this:

Program.cs file contents:

[code]
On Linux Debian i needed to do it like this:

[code]

I published my application using these two cli commands:

dotnet restore
dotnet publish -c Release -r linux-x64

And then copied all the contents inside the "publish" directory to my Linux machine and run the

[2017-10-05 16:10] maroallegro commented on #1005
@gregg-miskelly Thanks for your help Greg !

[2017-10-05 16:35] Petermarcu commented on #1010
In .NET Core 2.0, higher versions of all of those libraries are included which is likely why you were getting the downgrade problem. Does your application run fine now without ClickOnce in the picture?

[2017-10-05 16:36] Petermarcu commented on #1011
This is probably best files on http://github.com/aspnet/home

@muratg @Eilon @davidfowl

[2017-10-05 16:38] davidfowl commented on #1011
@Petermarcu is right.

@JedatKinports if you cd to the path where the DLL is it will work. The default content root (where configuration files are searched) is the current working directory, not the dll folder.

[2017-10-05 16:55] Petermarcu commented on #1007
I've made a PR here to clarify. https://github.com/dotnet/docs/pull/3324

[2017-10-05 17:07] john1726 commented on #1010
The application runs fine if I don't use ClickOnce, but that is not an acceptable solution, but the applications to be distributed to hundreds of inspectors via ClickOnce.

[2017-10-05 17:13] philippgille commented on #1007
Thanks a lot!

[2017-10-05 17:19] Eilon commented on #1011
Looks like this was moved to https://github.com/aspnet/Home/issues/2225.

[2017-10-05 17:19] #1011 closed

[2017-10-05 17:42] csano commented on #758
Are there any plans to address this? Any other options for running FxCop against .NET core projects?

[2017-10-05 18:11] Petermarcu commented on #1010
@terrajobst can you help here?

[2017-10-05 18:20] JedatKinports commented on #1011
Thanks for the move.

[2017-10-05 18:50] terrajobst commented on #1010
ClickOnce is broken and we have a tracking bug for that internally. Basically, the installer isn't correctly gathering your project dependencies into the setup, causing the app to miss files. I'm not aware of any workarounds besides either not using ClickOnce or not using .NET Standard dependencies.

Potentially, might be able manually deploy the necessary files, but I'm not a ClickOnce expert. I'

[2017-10-05 21:50] zvirja commented on #758
I have a feeling that Microsoft will not continue to support FxCop. Rather, it's expected that you install [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers/) NuGet package to your solution and it will run the code analysis via Roslyn API. Actually, they are cooler than FxCop as they:

- work quicker;
- provide feedback instantly (highligh

[2017-10-05 22:03] jahmai commented on #758
@zvirja Do you know if the Nuget package respects the CodeAnalysis MSBuild configuration settings like <RunCodeAnalysis>false</RunCodeAnalysis>, CodeAnalysis dictionarys and the ruleset files?

[2017-10-05 22:05] zvirja commented on #758
I've used this package in the [AutoFixture](https://github.com/AutoFixture/AutoFixture/tree/v4) project and it seems to respect everything you mentioned.

[2017-10-05 22:05] Petermarcu commented on #483
should have done this a long time ago but I moved this into the 2.1 milestone in the cli repo. https://github.com/dotnet/cli/issues/7769

[2017-10-05 22:05] #483 closed

[2017-10-05 22:14] Petermarcu commented on #758
@zvirja is correct. The path forward is the [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers/) NuGet package. A large portion of the rules have been moved over to analyzers. FXCop was a solution implemented before the richness of the new C# compiler existed.

[2017-10-05 22:16] jahmai commented on #758
Thanks all I'll give the package a try today.

[2017-10-05 22:21] Petermarcu commented on #549
I think the ask here is to be able do work on the IoT device, send the files up to a server to do the builds, and then get the resulting app back on the IoT device. This could totally be built on top of git or another DVCS where you can push your changes to the server, have that server build when it gets changes, and then have something on the device looking for new outputs and acquiring them. Its

[2017-10-05 22:23] Petermarcu commented on #561
This was done in .NET Core 2.0. Closing now. https://github.com/dotnet/corefx/blob/master/Documentation/architecture/globalization-invariant-mode.md

[2017-10-05 22:23] #561 closed

[2017-10-05 22:35] Petermarcu commented on #758
Sounds good. I'm going to close this for now but we can re-open this if it doesn't work.

[2017-10-05 22:35] #758 closed

[2017-10-05 22:37] Petermarcu commented on #968
@livarcocc @dsplaisted should this go to the cli or sdk repo for traction?

[2017-10-05 22:41] livarcocc commented on #968
Move it to the CLI please. The SDK repo will go away at some point and this is one less bug that we will have to move.

[2017-10-05 22:44] Petermarcu commented on #968
copied here: https://github.com/dotnet/cli/issues/7770

Closing this one now.

[2017-10-05 22:44] #968 closed

[2017-10-05 22:45] Petermarcu commented on #995
I'm going to close this issue for now. If there is community interest in doing a port, feel free to start a new issue in the dotnet/coreclr repo where the work would have to start.

[2017-10-05 22:45] #995 closed

[2017-10-05 23:47] Petermarcu commented on #956
@weshaggard, we use the same ref's in both cases don't we? Any idea what may be going on?

[2017-10-05 23:47] Petermarcu commented on #967
@danroth27 should this get tracked somewhere?

[2017-10-05 23:48] Petermarcu commented on #966
Closing because the issue in corefx is where this should be tracked.

[2017-10-05 23:48] #966 closed

[2017-10-05 23:57] Petermarcu commented on #959
@ViktorHofer can you move this issue over to dotnet/corefx to track it?

[2017-10-06 00:12] andremarcondesteixeira opened #1012 "dotnet: command not found after installing dotnet core 2 on ubuntu linux 16.04"
I followed the steps in [https://www.microsoft.com/net/core#linuxubuntu](https://www.microsoft.com/net/core#linuxubuntu) to install dotnet core 2 (dotnet-sdk-2.0.0) in my machine, which has an Ubuntu Linux 16.04.

Tried it 3 times, and certified that I was executing the commands for my distro and that any previous version was uninstalled, but no success.

**Expected Behavior:**
running `dotnet` in

[2017-10-06 01:23] Petermarcu commented on #1012
For this install issue, I'm going to move that elsewhere so it can be tracked.

Are you saying the docker instructions here: https://www.microsoft.com/net/core#dockercmd are giving you 1.X when you point to latest? @richlander any ideas?

[2017-10-06 01:26] Petermarcu commented on #625
VS 2015 isn't a supported environment for .NET Core. It was in the early beta's but not anymore. This has also had no response for 3 months so I'm going to close it.

[2017-10-06 01:26] #625 closed

[2017-10-06 01:27] Petermarcu commented on #971
@gregg-miskelly is there a place to file an issue for this comment?

For now I'm going to close this issue because it's tracked in a larger theme of enabling first class arm32 support.

[2017-10-06 01:27] #971 closed

[2017-10-06 01:30] Petermarcu commented on #950
@russellhadley do you know of any options for in process interop in this direction? I'm not sure I know of any good options...

Genrally what I've seen people do is run a local service as .NET Core and use IPC (over http or whatever other transport you choose) for the client to talk to.

[2017-10-06 01:31] Petermarcu commented on #947
@nathanaeljones are the images on dockerhub for .NET Core 2.0 no help?

[2017-10-06 01:33] Petermarcu commented on #946
Moved here: https://github.com/dotnet/cli/issues/7774

[2017-10-06 01:33] #946 closed

[2017-10-06 01:34] Petermarcu commented on #955
Can you share your project? Are you still stuck?

[2017-10-06 01:36] Petermarcu commented on #920
Looks like this issue can be closed as folks have identified a work around. @emgarten so you need an issue to track root causing this?

[2017-10-06 01:58] andremarcondesteixeira commented on #1012
@Petermarcu yes, it gives me the 1.x version

[2017-10-06 02:25] Petermarcu commented on #1012
I just did a clean install and got this:

[code]

[2017-10-06 02:33] Petermarcu commented on #1010
@NikolaMilosavljevic do you have any ideas on how this can be worked around?

[2017-10-06 02:34] Petermarcu commented on #677
At this point we've shipped updates to 1.X and fixed many issues before RTM of 2.0. I'm going to close this now and if anyone finds specific issues on 10.13, please open an issue about it.

[2017-10-06 02:34] #677 closed

[2017-10-06 02:35] Petermarcu commented on #711
I think this issue has run it's course. We've shipped RTM. Any new issues that come up should be opened in the appropriate repo and be focused on that issue.

[2017-10-06 02:35] #711 closed

[2017-10-06 02:37] Petermarcu commented on #848
@joeloff is there a repo where the issue of tracking a standalone ANCM installer should be. I don't think anyone is tracking issues here.

[2017-10-06 02:53] andremarcondesteixeira commented on #1012
Oh snap! It was some issue with the previous image I had. Removed the previous image and now it is working.

Anyway, I still can't properly install dotnet 2 in my machine.

[2017-10-06 02:53] nathanaeljones commented on #947
They are not for Ubuntu.

On Oct 5, 2017 7:32 PM, "Peter Marcu" <notifications@github.com> wrote:

[2017-10-06 03:04] emgarten commented on #920
@Petermarcu I've opened https://github.com/NuGet/Home/issues/5995 to track this

[2017-10-06 03:08] Petermarcu commented on #920
Thanks. I'll close this one then.

[2017-10-06 03:08] #920 closed

[2017-10-06 03:09] joeloff commented on #848
We had an internal email thread. @shirhatti might know if we have any other issues tracking it

[2017-10-06 03:10] Petermarcu commented on #1012
Yeah, I opened an issue in the core-setup repo linked above to track that. The more details you can provide there the better. I'm going to close this issue and we can make progress in https://github.com/dotnet/core-setup/issues/3278

[2017-10-06 03:10] #1012 closed

[2017-10-06 03:31] terrajobst commented on #1010
We have a workaround now. I'm working with @ericstj and @NikolaMilosavljevic to finish my draft of the guidance. Will post tomorrow at the latest.

[2017-10-06 03:48] foo-baar commented on #955
Hello @Petermarcu ,

I sorted most of the issues, this one gets sorted when you rather use dotnet core commands from terminal (instead of executing form IDE\vscode).

As the dotnet command points to the right location of libraries, so dotnet clean, build, run works fine.
We can close this issue.

Thanks much,
✌️

[2017-10-06 03:49] Petermarcu commented on #955
Thanks for confirming!

[2017-10-06 03:49] #955 closed

[2017-10-06 04:16] danroth27 commented on #967
I believe https://github.com/dotnet/corefx/issues/2089 tracks adding support for LDAP to .NET Core.

ASP.NET Core already provides support for validating [JWT tokens](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.dependencyinjection.jwtbearerextensions?view=aspnetcore-2.0) sent as bearer tokens. We support acquiring JWT tokens via [OIDC](https://docs.microsoft.com/en-us/dotnet/a

[2017-10-06 10:53] Darker commented on #1008
Thank you, I misread OS version number, I thought it's 2008. Aywais, I've updated to Windows Server 2012 RC2 and I still can't get .NET Core to run. [I asked a question on Superuser](https://superuser.com/q/1256820/194976), since I'm not even sure it's problem with .NET.

Specifically these are errors I face:

 - `api-ms-win-crt-runtime-l1-1-0.dll is missing` when running `dotnet.exe`
 - `Error 0x

[2017-10-06 12:03] ViktorHofer commented on #959
Issue moved to [dotnet/corefx #24473](https://github.com/dotnet/corefx/issues/24473) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-06 12:03] #959 closed

[2017-10-06 14:43] john1726 commented on #1010
Please note that I was able to get rid of this exception:

`Unable to initialize the application (Could not load file or assembly 'System.Runtime, Version=4.1.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The System cannot find the file specified`

By removing the following packages from all projects in the solution:

[code]

So now it runs no problem in debug

[2017-10-06 15:28] Petermarcu commented on #1010
You should be fine. You shouldn't have to reference any of those things individually and if you used them, the compiler would complain when you removed them. Those libraries would be for you to call and shouldn't have anything to do with your ability to sign your app.

[2017-10-06 16:00] Paschoali commented on #930
Like hchungi said, I just did:

Download .NET Core 2.0.0 runtime libraries (always check if URL is right, maybe it can be changed):
`wget https://download.microsoft.com/download/5/F/0/5F0362BD-7D0A-4A9D-9BF9-022C6B15B04D/dotnet-runtime-2.0.0-linux-x64.tar.gz`

Create folder to .NET Core and extract your tar.gz:

`mkdir -p $HOME/dotnet && tar zxf dotnet-runtime-2.0.0-linux-x64.tar.gz -C $HOME/dotne

[2017-10-06 16:03] goforgold commented on #930
This is exactly how I did this around a month ago.

Thank you very much to confirm the solution.

On 06-Oct-2017 21:31, "Bruno Paschoali Regis" <notifications@github.com>
wrote:

[2017-10-06 16:03] #599 closed

[2017-10-06 16:03] Petermarcu commented on #599
Issue moved to [dotnet/cli #7777](https://github.com/dotnet/cli/issues/7777) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-06 16:06] Petermarcu commented on #664
Issue moved to [dotnet/corefx #24477](https://github.com/dotnet/corefx/issues/24477) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-06 16:06] #664 closed

[2017-10-06 16:08] Petermarcu commented on #549
This is more of a developer experience/CLI feature request. I'm going to move this to the CLI repo.

[2017-10-06 16:08] #549 closed

[2017-10-06 16:08] Petermarcu commented on #549
Issue moved to [dotnet/cli #7778](https://github.com/dotnet/cli/issues/7778) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-06 16:10] Petermarcu commented on #1008
Rather than the RC2, is there a released version you can install? My guess is that the MSU that installs VS won't install on pre-release OS's.

[2017-10-06 16:11] Petermarcu commented on #1005
Issue moved to [dotnet/project-system #2874](https://github.com/dotnet/project-system/issues/2874) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-06 16:11] #1005 closed

[2017-10-06 16:13] Petermarcu commented on #1008
I'm now guessing you meant R2 and not RC2. If thats the case, its a released version of the OS. Have you tried installing this? https://support.microsoft.com/en-us/help/2999226/update-for-universal-c-runtime-in-windows

[2017-10-06 16:16] livarcocc commented on #599
I would say this belongs in core-setup, given that it is a native crash.

[2017-10-06 16:16] Petermarcu commented on #991
Moved this to the aspnet/home repo

[2017-10-06 16:16] #991 closed

[2017-10-06 16:16] Petermarcu commented on #922
@leecow, did this get fixed?

[2017-10-06 16:24] Petermarcu commented on #930
Sounds like people have found a good solution. I'm going to close this out now.

[2017-10-06 16:24] #930 closed

[2017-10-06 16:26] Petermarcu commented on #838
@DamianEdwards to speak to any plans to port any part of System.Web.

[2017-10-06 16:27] goforgold commented on #930
But I wish if I could install this simply using package manager on AWS AMI.

On 06-Oct-2017 21:55, "Peter Marcu" <notifications@github.com> wrote:

[2017-10-06 16:34] omajid commented on #930
Any chance you could try a distribution other than Amazon Linux? The .NET Core project publishes packages for several distributions (such as CentOS, Debian, Ubuntu) and several other distributions are now starting to carry .NET Core too (such as Arch, CentOS, Fedora, RHEL). I dont know if we have a way to contribute packages to Amazon Linux directly.

[2017-10-06 16:34] Petermarcu commented on #930
Yes, I've been told the Centos one works: https://www.microsoft.com/net/core#linuxcentos

[2017-10-06 16:35] Petermarcu commented on #930
I would assume that someone needs to work with AWS to get .NET Core into their package feed.

[2017-10-06 16:37] goforgold commented on #930
Yes, I thought about that and researched on that too.

But, many resources suggests that AWS AMI perofoms best in AWS
infrastructures.

On 06-Oct-2017 22:05, "Omair Majid" <notifications@github.com> wrote:

[2017-10-06 16:43] Petermarcu commented on #563
@PeterKottas , we debug into release binaries when we get issues reported from people using the contents of nuget packages. For now I'm going to close this issue because it's pretty old and I'm not sure there is still an issue but feel free to comment again if we should continue to explore this.

[2017-10-06 16:43] #563 closed

[2017-10-06 16:44] Petermarcu commented on #579
I think this is done and I'm going to close it.

[2017-10-06 16:44] #579 closed

[2017-10-06 16:47] Petermarcu commented on #600
@russellhadley is there someone @maikebing can watch to see progress in this direction?

I don't think we need to keep this issue open as we have it tracked here: https://github.com/dotnet/cli/issues/7737

[2017-10-06 16:47] #600 closed

[2017-10-06 16:49] Petermarcu commented on #663
I'm going to close this out now. We're actively working on dotnet/source-build which will be the solution for building the full stack.

[2017-10-06 16:49] #663 closed

[2017-10-06 16:50] weshaggard commented on #956
Yes we use the same ref everywhere when targeting netstandard20. @danielgerlag can you share more of how you are building?

Close should be available on both of those types when targeting netstandard20

[2017-10-06 16:52] Petermarcu commented on #604
It should be possible to reference it now in a .NET Core 2.0 project. I'm not sure if it will work, it depends on what those libraries do, but you can at least reference them now and see if they work for you.

I'm going to close this out for now.

[2017-10-06 16:52] #604 closed

[2017-10-06 16:53] Petermarcu commented on #589
Going to close this out now.

[2017-10-06 16:53] #589 closed

[2017-10-06 16:54] Petermarcu commented on #671
I believe this can be closed because the doc is here: https://github.com/dotnet/core/blob/master/Documentation/self-contained-linux-apps.md

[2017-10-06 16:54] #671 closed

[2017-10-06 16:55] Petermarcu commented on #679
@danmosemsft, following up on the conversation we had a couple days ago in email, can you create an issue tracking "Good error messages for all possible missing dependencies"?

[2017-10-06 17:15] Petermarcu commented on #947
I'm aiming to have us produce "deps" packages. So there is one thing that aggregates all the various dependencies into one things people can install. I've opened this issue to track it. https://github.com/dotnet/core-setup/issues/3280

I'm also going to try to get the instructions here updated to be the correct and minumal set. https://docs.microsoft.com/en-us/dotnet/core/linux-prerequisites?tabs=

[2017-10-06 17:17] #594 closed

[2017-10-06 17:17] Petermarcu commented on #594
Issue moved to [dotnet/corefx #24478](https://github.com/dotnet/corefx/issues/24478) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-06 17:19] Petermarcu commented on #672
Closing this as this similar issue has more traction. https://github.com/dotnet/core/issues/679

[2017-10-06 17:19] #672 closed

[2017-10-06 17:21] Petermarcu commented on #716
@richlander , how do you want to track this? I don't know that keeping this issue open is the best way.

[2017-10-06 17:22] Petermarcu commented on #606
This is now possible from a .NET Core 2.0 project. I am going to close this. It's expected to work so if you hit any issues, please open a new issue with the specific details.

[2017-10-06 17:22] #606 closed

[2017-10-06 17:24] Petermarcu commented on #742
@leecow @blowdart can you provide the guidance for @Rovastar

[2017-10-06 17:26] Petermarcu commented on #760
Going to assume this is resolved. Closing now.

[2017-10-06 17:26] #760 closed

[2017-10-06 17:27] Petermarcu commented on #802
Issue moved to [dotnet/corefx #24480](https://github.com/dotnet/corefx/issues/24480) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-06 17:27] #802 closed

[2017-10-06 17:29] blowdart commented on #742
There are no plans to publish on Windows Update unless it's an active 0-day exploit with a severity that requires such a process. That severity is decided by management.

.NET Core and ASP.NET Core are published as [advisories](https://technet.microsoft.com/en-us/security/advisories?f=255&MSPPError=-2147217396), not bulletins, because bulletins are linked to MSU patches.  The advisory is mirrored

[2017-10-06 17:29] john1726 commented on #1010
OK, thank you!

[2017-10-06 17:29] Petermarcu commented on #725
Closing as I opened it again in nuget/home so it actually gets tracked.

[2017-10-06 17:29] #725 closed

[2017-10-06 17:31] Petermarcu commented on #755
Is this still an issue?

[2017-10-06 17:31] Petermarcu commented on #829
Issue moved to [dotnet/cli #7779](https://github.com/dotnet/cli/issues/7779) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-06 17:31] #829 closed

[2017-10-06 17:34] Petermarcu commented on #674
I'm going to close this now because its been a while without a response. Please let us know if you can provide more details.

[2017-10-06 17:34] #674 closed

[2017-10-06 17:35] Petermarcu commented on #686
@terrajobst , did this happen? Can we close this issue now?

[2017-10-06 17:41] Petermarcu commented on #723
Is this still an issue?

[2017-10-06 17:55] leecow commented on #922
Yes, latest 1.0 and 1.1 are on all feeds. Here's 16.04

[code]

[2017-10-06 17:57] Petermarcu commented on #922
Great, closing this issue now.

[2017-10-06 17:57] #922 closed

[2017-10-06 17:58] DamianEdwards commented on #838
There is no plan to port any part of `System.Web` to .NET Core. Can you explain more of what the class library is doing so that we might recommend some different approaches?

[2017-10-06 17:59] Petermarcu commented on #825
@IssueWorld , were you able to open an issue on NewGuid performance? @stephentoub as FYI

I'm going to close this issue now because this one looks to be addressed...

[2017-10-06 17:59] #825 closed

[2017-10-06 18:01] Petermarcu commented on #854
Is anyone that is hitting this issue able to follow the logging instructions so we can try to figure out whats going on?

[2017-10-06 18:01] Petermarcu commented on #856
Issue moved to [dotnet/corefx #24481](https://github.com/dotnet/corefx/issues/24481) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-06 18:01] #856 closed

[2017-10-06 18:04] Petermarcu commented on #805
moved to: https://github.com/aspnet/Home/issues/2230

[2017-10-06 18:04] #805 closed

[2017-10-06 18:07] Petermarcu commented on #782
Issue moved to [dotnet/corefx #24482](https://github.com/dotnet/corefx/issues/24482) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-06 18:07] #782 closed

[2017-10-06 18:08] #876 closed

[2017-10-06 18:08] Petermarcu commented on #876
Issue moved to [dotnet/corefx #24483](https://github.com/dotnet/corefx/issues/24483) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-06 18:09] Petermarcu commented on #840
I"m going to close this in favor of the conversation continuing in the cli repo which is the correct place. https://github.com/dotnet/cli/issues/533

[2017-10-06 18:09] #840 closed

[2017-10-06 18:10] Petermarcu commented on #895
Issue moved to [dotnet/wcf #2333](https://github.com/dotnet/wcf/issues/2333) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-06 18:10] #895 closed

[2017-10-06 18:13] Petermarcu commented on #869
closing because I moved it to https://github.com/NuGet/Home/issues/5999

[2017-10-06 18:13] #869 closed

[2017-10-06 18:13] Petermarcu commented on #889
Closing this one because it looks like the bug was filed in corefx which is the right place.

[2017-10-06 18:13] #889 closed

[2017-10-06 18:14] #894 closed

[2017-10-06 18:14] Petermarcu commented on #894
Issue moved to [dotnet/cli #7781](https://github.com/dotnet/cli/issues/7781) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-06 18:22] Petermarcu commented on #768
@morrisjoe any other thoughts here? Can we get someone to help take a closer look?

[2017-10-06 18:23] #885 closed

[2017-10-06 18:23] Petermarcu commented on #885
Issue moved to [dotnet/cli #7782](https://github.com/dotnet/cli/issues/7782) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-06 18:28] Petermarcu commented on #831
How are you creating the .NET Standard 2.0 library? Are you using the .NET Standard Class library template or the Portable Class Library dialog? A clean .NET Standard 2.0 class library should not reference 1.1 to my knowledge.

@dsplaisted

[2017-10-06 18:31] Petermarcu commented on #932
Issue moved to [dotnet/corefx #24484](https://github.com/dotnet/corefx/issues/24484) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-06 18:31] #932 closed

[2017-10-06 18:33] Petermarcu commented on #742
Thanks @blowdart. I'm going to close this issue now. @Rovastar if you have any other questions, please let us know.

[2017-10-06 18:33] #742 closed

[2017-10-06 18:49] #854 closed

[2017-10-06 18:49] Petermarcu commented on #854
Issue moved to [dotnet/core-setup #3281](https://github.com/dotnet/core-setup/issues/3281) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-06 18:50] #912 closed

[2017-10-06 18:50] Petermarcu commented on #912
Issue moved to [dotnet/corefx #24485](https://github.com/dotnet/corefx/issues/24485) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-06 18:51] #844 closed

[2017-10-06 18:51] Petermarcu commented on #844
Issue moved to [dotnet/corefx #24486](https://github.com/dotnet/corefx/issues/24486) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-06 18:58] bbski opened #1013 "Debugging NuGet packages containing src and pdb"
# Visual Studio 2017 does not reference the **src** folder in my NuGet package that was packaged using MSBuild.

I packaged my NuGet to include pdb and source as follows with the **/p:IncludeSource=true**
_/t:pack myproj.csproj /p:Configuration=Debug /p:PackageOutputPath="." /p:IncludeSource=true /p:PackageVersion=$(Major).$(Minor).$(RevisionNumber)_

In VS, I set a reference to my package and I'm

[2017-10-06 19:03] Petermarcu commented on #1013
@gregg-miskelly @rrelyea is there a good place to track this?

[2017-10-06 19:06] rdzidziguri commented on #831
NET Standard Class library template no portable and I am doing this from VS 2017 update 3

[2017-10-06 19:15] Petermarcu commented on #679
I just made a PR to get the docs updated. https://github.com/dotnet/docs/pull/3344

[2017-10-06 19:20] #772 closed

[2017-10-06 19:22] Petermarcu commented on #833
How'd this go. As @karelz suggested, https://github.com/aspnet/home is the best place to track issues related to asp.net core.

[2017-10-06 19:49] Petermarcu commented on #907
Sounds like this one is "resolved" in that there is a workaround and the issue is in an external project. Closing.

[2017-10-06 19:49] #907 closed

[2017-10-06 20:05] Petermarcu commented on #937
Sounds like this is resolved. Closing.

[2017-10-06 20:05] #937 closed

[2017-10-06 20:06] Petermarcu commented on #956
Issue moved to [dotnet/standard #528](https://github.com/dotnet/standard/issues/528) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-06 20:06] #956 closed

[2017-10-06 20:07] Petermarcu commented on #956
Lets get further details and track this in the dotnet/standard repo https://github.com/dotnet/core/issues/956

[2017-10-06 20:11] Petermarcu commented on #899
moved here: https://github.com/aspnet/Home/issues/2231

[2017-10-06 20:11] #899 closed

[2017-10-06 20:13] Petermarcu commented on #917
Let's track this issue here and make sure folks have instructions on how to do it. https://github.com/dotnet/cli/issues/7570

[2017-10-06 20:13] #917 closed

[2017-10-06 20:26] livarcocc commented on #831
Can you share the contents of the created csproj?

[2017-10-06 20:26] Petermarcu commented on #996
Ok, I'm going go close this one here. @borisdj if you need more follow up, please file an issue in the aspnet/home repo.

[2017-10-06 20:26] #996 closed

[2017-10-06 20:31] rdzidziguri commented on #831
sure

`<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <TargetFramework>netstandard2.0</TargetFramework>
  </PropertyGroup>

</Project>
`

[2017-10-06 20:36] vijayrkn commented on #768
@sturlath @MovGP0
This issue is fixed in Visual Studio 2017 version 15.3

You can find the release notes with the list of issues fixed in this release.
https://www.visualstudio.com/en-us/news/releasenotes/vs2017-relnotes#15.3

VS download link - https://www.visualstudio.com/downloads

[2017-10-06 20:41] Petermarcu commented on #768
Thanks @vijayrkn

I'm going to close this issue now.  Let us know if you still see issues on the newer version of VS.

[2017-10-06 20:41] #768 closed

[2017-10-06 20:46] #970 closed

[2017-10-06 20:46] Petermarcu commented on #970
Issue moved to [dotnet/corefx #24488](https://github.com/dotnet/corefx/issues/24488) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-06 20:47] Petermarcu commented on #679
I'm going to close this issue here now because all the right follow up issues and PR's have been created.

[2017-10-06 20:47] #679 closed

[2017-10-06 21:23] Petermarcu commented on #951
closing in favor of continuing here: https://github.com/aspnet/Home/issues/2232

[2017-10-06 21:23] #951 closed

[2017-10-06 21:28] Petermarcu commented on #929
It looks like you already have the link to the Preview 2 final version and have filed a separate issue for your issues migrating from Preview2 to RTM. Any reason this issues needs to stay open?

[2017-10-06 21:30] Petermarcu commented on #787
Sounds like the open issue of fixing this in 2.0.X is tracked here: dotnet/core-setup#2981. I'm going to close this issue now.

[2017-10-06 21:30] #787 closed

[2017-10-06 21:34] Petermarcu commented on #891
Sounds like a bug in GraphSDKHelper. Is this what you are using?
https://developer.microsoft.com/en-us/graph/code-samples-and-sdks

If so, this issue is probably best opened here: https://github.com/microsoftgraph/msgraph-sdk-dotnet

Let me know if I'm missing something. I'm going to close this now as I don't see what the .NET Core platform can do to fix this.

[2017-10-06 21:34] #891 closed

[2017-10-06 21:49] #960 closed

[2017-10-06 21:49] Petermarcu commented on #960
Issue moved to [dotnet/cli #7784](https://github.com/dotnet/cli/issues/7784) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-06 21:52] Petermarcu commented on #858
This conversation is better had on the aspnet/home repo. I'm going to close this one here and if anyone wants to continue the conversation, please open an issue on aspnet/home.

[2017-10-06 21:52] #858 closed

[2017-10-06 21:58] Petermarcu commented on #931
@jaredpar @Eilon

[2017-10-06 22:01] dotnetgator commented on #891
I don't know how these wires got crossed, but yes - this was supposed to be an issue logged against the ASP.NET Core Graph SDK Sample code in the collection you lined to above. Apologies for the confusion.

[2017-10-06 22:03] Petermarcu commented on #891
Awesome, glad we uncrossed the wires :)

[2017-10-06 22:03] jaredpar commented on #931
CC @tmat for symol publishing

[2017-10-06 22:07] Petermarcu commented on #952
It goes without saying, we take security very seriously and have for decades in the .NET platform. Over the years we have taken many different strategies for helping people stay safe with respect to serialization. As mentioned above, that even included omitting certain parts of the stack in .NET Core.
We plan to continue to find ways to make things safer and mitigate categories of problems. If you

[2017-10-06 22:07] #952 closed

[2017-10-06 22:10] Petermarcu commented on #964
Should we just delete the rest of the page and just leave the pointers to the docs site? I'll make that PR now.

[2017-10-06 22:12] Petermarcu commented on #964
https://github.com/dotnet/core/pull/1014

[2017-10-06 23:46] terrajobst commented on #1010
For future reference: I've [documented the work around](https://github.com/dotnet/standard/issues/529) now as well.

[2017-10-07 00:02] Eilon commented on #931
I don't think any of these DLLs are owned by my team. Json.NET is of course 3rd party.

[2017-10-07 00:16] terrajobst commented on #686
No, it hasn't yet. I'll publish them next week, together with a blog post.

[2017-10-07 01:20] Petermarcu commented on #931
@eerhardt for dependency model. @Eilon I believe the others are brought in as dependencies for ASP.NET, can you follow up with those owners to ensure the end to end works?

[2017-10-07 01:26] gkingston commented on #1006
I'm having the same issue.  I just updated to VS 15.3.5 two days ago on the machine that is having the issue.  I can't build from command line or inside VS with just project defaults.  I've repaired both the 2.0.0 sdk and VS 2017 with no luck.  This is from just the hello world new console app(dotnet new console -o hwapp).
![image](https://user-images.githubusercontent.com/1885847/31303484-a3d86c6

[2017-10-07 02:25] Petermarcu commented on #1006
What happens when you explicitly run `dotnet restore`?

/cc @rrelyea @emgarten could this be related to the fallback folder or other corruption I've seen in different issues?

[2017-10-07 02:27] gkingston commented on #1006
Says the Restore completed, then the dotnet run fails in the same way though
![image](https://user-images.githubusercontent.com/1885847/31303985-ca7e2236-aad4-11e7-8d58-4dde154fb3b8.png)

[2017-10-07 02:32] Petermarcu commented on #1006
Just a guess but maybe you are in this state? https://github.com/dotnet/core/issues/920#issuecomment-327222033. See the workarounds in the next few comments.

[2017-10-07 03:07] gkingston commented on #1006
Thanks, deleting the C:\Program Files\dotnet\sdk\NuGetFallbackFolder (and deleting obj/bin folders of existing projects) fixed it for me.

[2017-10-07 03:43] Petermarcu commented on #1006
Awesome! Glad it worked.

[2017-10-07 03:43] #1006 closed

[2017-10-07 03:44] Petermarcu commented on #1006
I closed this because I think its another instance of this problem. https://github.com/NuGet/Home/issues/5995. If people continue to see this, go ahead and add more detaild there.

[2017-10-07 04:35] goforgold commented on #929
No.

On 07-Oct-2017 02:59, "Peter Marcu" <notifications@github.com> wrote:

[2017-10-07 05:19] Petermarcu commented on #929
Sounds good. Closing now.

[2017-10-07 05:19] #929 closed

[2017-10-07 05:56] Petermarcu commented on #762
Sounds like @svick has helped conclude there is nothing here to fix in .NET Core. If it gets root caused as an issue in the platform, let us know. I'm going to close this for now.

[2017-10-07 05:56] #762 closed

[2017-10-07 05:59] Petermarcu commented on #855
Which types of applications are you trying to share your app.xaml across? WPF and UWP? These are UI frameworks and a layer above .NET Standard. Just using a .NET Framework library would allow you to share across multiple WPF applications. Can you give more insight into what you are trying to share across?

[2017-10-07 06:02] Petermarcu commented on #918
@janvorli looks like there is a lot of probing for System.Globalization.Native.so. Any thoughts?

[2017-10-07 06:05] Petermarcu commented on #934
Issue moved to [dotnet/corefx #24495](https://github.com/dotnet/corefx/issues/24495) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-07 06:05] #934 closed

[2017-10-07 06:07] Petermarcu commented on #940
Moved this issue here: https://github.com/aspnet/Home/issues/2233

[2017-10-07 06:07] #940 closed

[2017-10-07 10:35] borisdj commented on #996
I wasn't sure where it belongs.
There no one replied so I thought it was wrong place, but now I guess not.

[2017-10-07 15:46] #726 closed

[2017-10-07 15:46] #933 closed

[2017-10-07 15:46] Petermarcu commented on #933
Issue moved to [dotnet/cli #7786](https://github.com/dotnet/cli/issues/7786) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-07 17:45] Petermarcu commented on #942
This is probably better opened on the TypeScript repo: https://github.com/microsoft/typescript

[2017-10-07 17:49] Petermarcu commented on #948
Is there anything else that needs to be done here or can we close this issue out?

[2017-10-07 18:01] Petermarcu commented on #800
We're trying to move away from dotnet.bootstrap.py and it's note really maintained anymore. The preferred approach is https://github.com/dotnet/source-build. Can you give that a try and see if it works for you?

[2017-10-07 18:02] Petermarcu commented on #896
I don't think we can do anymore here. Sounds like its resolved. Closing.

[2017-10-07 18:02] #896 closed

[2017-10-08 04:39] foo-baar commented on #948
@Petermarcu I think we can close the issue, though it continue to exists today workaround is how to execute the code, i.e doing dotnet clean\build\run form terminal just runs fine, but if someone tries from Vs Code, then it runs into these issues.

Thanks anyhow ✌️

[2017-10-08 13:47] nil4 commented on #983
Confirmed, same here.

[2017-10-09 00:55] Petermarcu commented on #983
Issue moved to [dotnet/corefx #24502](https://github.com/dotnet/corefx/issues/24502) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-09 00:55] #983 closed

[2017-10-09 01:00] Petermarcu commented on #723
I'm going to close this issue now. Let us know if its still a problem.

[2017-10-09 01:00] #723 closed

[2017-10-09 01:01] Petermarcu commented on #755
I'm going to close this issue for now. Please let us know if you still hit this issue and we can re-open.

[2017-10-09 01:01] #755 closed

[2017-10-09 01:04] Petermarcu commented on #833
I'm going to close this for now. If it still ends up being an issue. Please open one up on https://github.com/aspnet/home. Thanks!

[2017-10-09 01:04] #833 closed

[2017-10-09 01:06] Petermarcu commented on #948
@DustinCampbell any thoughts on where we could track making this experience better for VS Code users?

[2017-10-09 01:10] Petermarcu commented on #848
I opened this issue to make sure there is one to track the ANCM standalone installer. I'm going to close this one now and that work can be tracked here: https://github.com/aspnet/Home/issues/2236

[2017-10-09 01:10] #848 closed

[2017-10-09 01:11] Petermarcu commented on #855
/cc @kieranmo

[2017-10-09 03:38] richlander commented on #838
I'd suggest running API Port on your codebase so that we can get a better sense of your dependencies. Our [API Catalog](https://apisof.net/catalog/System.Web.Services) claims that we have no API Port information for these types.

I'm assuming that these soap exceptions are produced on the server. Yes? We don't have a SOAP server implementation on .NET Core. What would this code do in absence of th

[2017-10-09 06:34] dvm-2k1 commented on #758
Please let me know Is this **CA0055** and **CA0052** issues got resolved for .Net Core 2.0 (**netcoreapp2.0**) projects?

Asking this because I'm still getting these errors when enabled our .Net Core 2.0 projects to use code analysis ruleset which are defined for our projects and trying to build from Visual Studio 2017 (updated to 15.3.5 version) and by using MSBuild command.

As per this conversi

[2017-10-09 07:35] kgacova commented on #604
I couldn't get it to work with Core 2.0.

[2017-10-09 08:59] gyeesoft opened #1015 "KeyedHashAlgorithm.Create("HMACSHA1") Operation is not supported on this platform"
# Issue Title

Operation is not supported on this platform Exception

# General
.net standard 2.0 , The following code throw Operation is not supported on this platform exception。

  using (var algorithm = KeyedHashAlgorithm.Create("HMACSHA1"))
            {

            }

[2017-10-09 09:39] gyeesoft commented on #1015
using (var hashAlgorithm = new HMACSHA1(Encoding.GetBytes(key.ToCharArray())))

[2017-10-09 09:39] #1015 closed

[2017-10-09 09:53] LGinC commented on #977
Unhandled Exception: System.IO.FileLoadException: Could not load file or assembly 'System.Threading, Version=4.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. The located assembly's manifest definition does not match the assembly reference. (Exception from HRESULT: 0x80131040)

too.....

[2017-10-09 14:14] gitfortee opened #1016 "How to separate Dev and Production configuration files dotnet core 1.1 windows service"
# How to separate Dev and Production configuration files dotnet core 1.1 windows service

How do we separate configuration files (appsettings.json) for different environments in dotnet core 1.1 console applications such as a windows service.

Note: I am not looking for web applications which suggest using ASPNETCORE_ENVIRONMENT.. Is there a similar technique that applies to console applications su

[2017-10-09 16:17] Kurren123 opened #1017 "How do you pass a patch number into dotnet build and dotnet pack?"
Hi. I'm new to dotnet core, and I need the build system to generate a patch number when running `dotnet build` and `dotnet pack`, so that the assembly version, assembly file version and nuget package version are all the same. E.g. `dotnet build --version 1.0.1251923`.

Is this possible? So far I've only seen the number having to be entered by hand in the project file using `<Version>1.0.123</Versi

[2017-10-09 17:02] svick commented on #1017
`Version` is an MSBuild property, so you can specify it using the `/p:` syntax. E.g.:

[code]

Though 1.0.1251923 is not a valid version.

[2017-10-09 17:07] the-super-coder commented on #1006
@philippgille Sorry for late response, I was busy with some family work. Well, I am using .Net Core SDK v2.0

@Petermarcu Unfortunately, I cannot expose the personal project. However, I face the same issue with all the default templates for DotNetCore in VS2017 v15.3

[2017-10-09 17:29] DustinCampbell commented on #948
I think this is primarily a debugging question, yes? Including @gregg-miskelly in case he has any ideas.

[2017-10-09 17:29] Petermarcu commented on #1017
Closing because @svick is correct. It can be passed in on the command line.

[2017-10-09 17:29] #1017 closed

[2017-10-09 17:30] #1016 closed

[2017-10-09 17:30] Petermarcu commented on #1016
Issue moved to [dotnet/corefx #24516](https://github.com/dotnet/corefx/issues/24516) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-09 17:30] Petermarcu commented on #1010
I'm going to go ahead and close this issue now.

[2017-10-09 17:30] #1010 closed

[2017-10-09 17:47] Petermarcu commented on #604
Which part didnt work? Referencing the dll, or the dll working on .NET Core 2.0?

[2017-10-09 17:54] Petermarcu commented on #758
@dvm-2k1 I opened an issue for you here: https://github.com/dotnet/roslyn-analyzers/issues/1313

Thats is the best place to get help for that specific issue.

[2017-10-09 18:11] kgacova commented on #604
The working part didn't work.

[2017-10-09 18:16] Eilon commented on #931
@livarcocc does your team own `Microsoft.Extensions.DependencyModel.dll`? Do you have a plan for missing public symbols for this DLL?
@jaredpar re: `Microsoft.CodeAnalysis.dll`. Do you have a plan for missing public symbols for these DLLs?

Not sure who owns the AI DLL, I've never seen that one before.

[2017-10-09 18:16] livarcocc commented on #931
@eerhardt and @steveharter for the symbols question.

[2017-10-09 19:42] eerhardt commented on #931
`Microsoft.Extensions.DependencyModel.dll` is owned by the runtime team and ships out of the `dotnet/core-setup` repo.

@dagood - it looks like no symbols for the `dotnet/core-setup` repo were published for `2.0.0`.  Can we fix that?

[2017-10-09 21:54] Petermarcu commented on #604
Ok, that is always a possibility with pulling .NET Framework binaries into  :(  Running this on the binaries to get a report of what it needs that is missing may be a good net step. https://docs.microsoft.com/en-us/dotnet/standard/portability-analyzer

[2017-10-09 23:12] gregg-miskelly commented on #1013
@bbski As of VS 2017 version 15.5 you can embed sources in your PDB, and Visual Studio will automatically open them. Does this solve your issue?

https://stackoverflow.com/questions/42714352/embedding-c-sharp-sources-in-pdb-with-new-csproj

[2017-10-10 12:38] deanilvincent opened #1018 "System.Data.Sqlient isn't supported on this platform error in Update-Database"
# Title: System.Data.Sqlient isn't supported on this platform error

# General

**Environment specifications:**
Visual Studio 2017 15.3
Installed 2.0 .Net Core

I'm trying to use the command "update-database -context NameOfMyContext" but somehow I got this error message that says "System.Data.Sqlient isn't supported on this platform error"

Here's my connection string

`            services.AddDbC

[2017-10-10 13:46] BJMdotNET opened #1019 "DotNetCore.1.0.7_1.1.4-WindowsHosting.exe link does not work"
The page https://github.com/dotnet/core/blob/master/release-notes/download-archives/1.0.7-download.md contains a link to download DotNetCore.1.0.7_1.1.4-WindowsHosting.exe :

https://download.microsoft.com/download/B/0/D/B0D6D983-3188-4008-A852-94BCED5355E6/DotNetCore.1.0.7_1.1.4-WindowsHosting.exe

However, this link seems to be broken. When I click it (in Chrome) I get this error:

Internet Expl

[2017-10-10 14:07] carcarbe opened #1020 "Is not possible to create custom cultures in .Net Core"
Is not possible to create custom cultures in .Net Core

In .Net framework is possible to create custom cultures, e.g en-US-NY (English from New York). using CultureAndRegionInfoBuilder class  as is describe in this example http://www.c-sharpcorner.com/UploadFile/GemingLeader/creatingextending-a-culture/  .

Are there any plans to implement this in .Net Core?

In the project were I am working at th

[2017-10-10 14:53] jaredpar commented on #931
@Eilon these symbol should all be public today. I dont have a good explanation for why they arent showing up.

CC @jasonmalinowski. @tmat

[2017-10-10 19:23] laibulle commented on #977
I have the same issue

[code]
when I run `dotnet ef migrations add InitialCreate`

For my part I am using OSX High Sierra and `dot net core 2.0`

[2017-10-10 21:07] leecow commented on #964
Updates merged.

[2017-10-10 21:07] #964 closed

[2017-10-11 00:05] Petermarcu commented on #1020
Issue moved to [dotnet/corefx #24559](https://github.com/dotnet/corefx/issues/24559) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-11 00:05] #1020 closed

[2017-10-11 02:59] leecow commented on #1019
Thanks for the report @BJMdotNET! Link should be correct now.

[2017-10-11 02:59] #1019 closed

[2017-10-11 03:04] leecow commented on #947
@johnbeisner to look into updating dotnet-install.sh to account for gpg changes.

[2017-10-11 03:06] Petermarcu commented on #947
@johnbeisner @leecow would that be in the CLI repo? If so, we can move the issue there.

[2017-10-11 03:18] Petermarcu commented on #919
@terrajobst

[2017-10-11 04:24] alexzaytsev-newsroomly commented on #977
@brooksyott did you build on ubuntu also? or did you build on windows?

[2017-10-11 05:50] Petermarcu commented on #1018
@divega would this be an issue that should be in the EF repo or @saurabh500 should this issue go to corefx?

[2017-10-11 07:02] dinjonya opened #1022 "Failed to create prime the NuGet cache. new failed with: 5"
on macOs version is 10.13

dotnet core install 1.04 & 2.0
my prj use .net core 1.04
when restore or build or run    console print

Welcome to .NET Core!
---------------------
Learn more about .NET Core @ https://aka.ms/dotnet-docs. Use dotnet --help to see available commands or go to https://aka.ms/dotnet-cli-docs.

Telemetry
--------------
The .NET Core tools collect usage data in order to improv

[2017-10-11 08:57] saurabh500 commented on #1018
It should go to Corefx

[2017-10-11 09:42] cyroby commented on #930
I use the Aliyun ECS,The OS version is Centos 6.8. I also met this problem.The Information like this:
[root@iZwz9bh8rvZ ~]# sudo yum install dotnet-sdk-2.0.0
Loaded plugins: fastestmirror
Setting up Install Process
Loading mirror speeds from cached hostfile
Resolving Dependencies
--> Running transaction check
---> Package dotnet-sdk-2.0.0.x86_64 0:2.0.0-1 will be installed
--> Processing Dependenc

[2017-10-11 09:46] dinjonya commented on #1022
i tried delete global.json file.
it's ok. who can tell me why?

[2017-10-11 10:50] rohitshrivastava04 opened #1023 "How to default to WinHTTP proxy not the WinINet for a .Net core app"
# Issue Title
How to set proxy settings for a .Net Core application

# General

We have a .Net Core Windows Service which makes few calls to AWS or other internet services. For this, it needs to use proxy settings. There are two options either we configure each call to use proxy server or set proxy setting machine wide. Setting WinHTTP proxy configuration is easier than WinINet. However .net core

[2017-10-11 12:23] deanilvincent commented on #1018
What should I do now guys? Is there any option?

[2017-10-11 13:42] Paschoali commented on #930
Aliyun ECS? Whatever, did you read the comments? We suggested some solutions. Sure that of them will help you.

[2017-10-11 14:57] karelz commented on #1023
This issue was moved to dotnet/corefx#24574

[2017-10-11 14:57] #1023 closed

[2017-10-11 16:46] dagood commented on #931
I'm working on getting the Core-Setup 2.0.0 symbols indexed/archived.

[2017-10-11 16:48] jasonmalinowski commented on #931
Indeed, those should be archived. We'll figure out what's up but as a warning we're a bit slammed right now so might be a day or two.

[2017-10-11 17:02] #947 closed

[2017-10-11 17:02] leecow commented on #947
Issue moved to [dotnet/cli #7808](https://github.com/dotnet/cli/issues/7808) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-11 17:03] heathhey commented on #930
Is there a SRPM for the dotnet-runtime package? Or is there a spec file in the repo somewhere? I couldn't find one.

[2017-10-11 17:35] saurabh500 commented on #1018
What is your OS that you are running the above steps on @deanilvincent ?

[2017-10-11 17:36] saurabh500 commented on #1018
@deanilvincent From the screen shot it is Windows.

[2017-10-11 17:46] omajid commented on #930
We use [`fpm`](https://github.com/jordansissel/fpm) to produce RPMs (and debs) instead of using `rpmbuild`. There are no SPRMs or spec files because of that.

The configuration for `-runtime` and `-host` RPMs is available here: https://github.com/dotnet/core-setup/tree/master/src/pkg/packaging/rpm

Here is the source that reads that config files above to build command line for `fpm`: https://githu

[2017-10-11 20:50] dagood commented on #931
It seems that the problem for `Microsoft.Extensions.DependencyModel.dll` was that the PDB wasn't converted from Portable PDB to Windows PDB. (This is automated in CoreCLR and CoreFX, but not Core-Setup yet.) I've created a converted copy myself and submitted a new request for archiving. So far, it's available on `symweb`, and we can expect it to be on the public Msft symbol server within a week. U

[2017-10-11 21:51] guld3n commented on #902
Not sure if this is related, but I just got this error trying to run a project inside visual studio on windows:
An unhandled exception of type 'System.IO.FileNotFoundException' occurred in Unknown Module.
Could not load file or assembly 'System.Runtime, Version=4.2.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.

Apparen

[2017-10-11 22:36] Petermarcu commented on #1018
Issue moved to [dotnet/corefx #24586](https://github.com/dotnet/corefx/issues/24586) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-11 22:36] #1018 closed

[2017-10-11 22:36] Petermarcu commented on #1018
Issue moved to [dotnet/corefx #24587](https://github.com/dotnet/corefx/issues/24587) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-11 22:45] Petermarcu commented on #1022
@dinjonya are you saying that after deleting the global.json file, it fixed the issue?

[2017-10-11 22:49] Petermarcu commented on #1022
I opened this issue to track this in the NuGet repo. https://github.com/NuGet/Home/issues/6017

[2017-10-11 22:49] #1022 closed

[2017-10-12 01:22] eerhardt commented on #931
@dagood - it wasn't listed here, but PlatformAbstractions has the same problem. It is built from core-setup and its symbols are not on the symbol server. I wasn't aware of the manual nature, I thought the whole repo would be taken care of in one shot.
We also have native assemblies - dotnet host, fxr, policy.

Did you just do this single .dll?  Or did you upload all the symbols for this repo?

[2017-10-12 02:44] bbski commented on #1013
@gregg-miskelly This is awesome.  Let me play with SourceLink a bit and see what comes of it.  I'll update with my findings.  Much appreciated.

[2017-10-12 05:43] Petermarcu commented on #798
Closing as we plan on keeping these open for about 30 days.

[2017-10-12 05:43] #798 closed

[2017-10-12 05:43] Petermarcu commented on #812
Closing as we plan on keeping these announcements open for about 30 days.

[2017-10-12 05:43] #812 closed

[2017-10-12 05:43] Petermarcu commented on #980
Closing as we plan on keeping these announcements open for about 30 days.

[2017-10-12 05:43] #980 closed

[2017-10-12 05:44] Petermarcu commented on #915
Closing as we plan on keeping these announcements open for about 30 days.

[2017-10-12 05:44] #915 closed

[2017-10-12 05:47] Petermarcu commented on #767
@DustinCampbell @gregg-miskelly where should this issue be tracked?

[2017-10-12 05:50] Petermarcu commented on #788
Moved this issue to aspnet/home to get more traction. https://github.com/aspnet/Home/issues/2238

[2017-10-12 05:50] #788 closed

[2017-10-12 05:51] Petermarcu commented on #800
@chcosta

[2017-10-12 05:52] Petermarcu commented on #838
@richlander, should we move this to corefx or to an aspnet repo so its better on the radar?

[2017-10-12 05:52] #855 closed

[2017-10-12 05:52] Petermarcu commented on #855
Issue moved to [dotnet/standard #533](https://github.com/dotnet/standard/issues/533) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-12 05:54] Petermarcu commented on #950
I'm going to close this issue now as I think that's the best high level guidance we have at the moment. If you want to have a deeper conversation we can open an issue for discussion on the dotnet/coreclr repo where all of the code and knowledge is for interop.

[2017-10-12 05:54] #950 closed

[2017-10-12 05:56] Petermarcu commented on #942
Moved this to typescript. https://github.com/Microsoft/TypeScript/issues/19124

[2017-10-12 05:56] #942 closed

[2017-10-12 05:57] Petermarcu commented on #967
I'm going to close this now. Let us know if there are still more questions.

[2017-10-12 05:57] #967 closed

[2017-10-12 05:58] Petermarcu commented on #1013
Going to close this issue now. Go ahead and open new issues specific to whatever you hit as you go down that path.

[2017-10-12 05:58] #1013 closed

[2017-10-12 06:03] Petermarcu commented on #954
There are some issues with 4.6.1's support of .NET Standard 2.0. For example netstandard.dll version 2.0.0 isn't there and needs to be present with the application (or test in this case). I'm going to move this issue to dotnet/standard because I do think there could be a problem here that we need to look into.

[2017-10-12 06:03] #954 closed

[2017-10-12 06:03] Petermarcu commented on #954
Issue moved to [dotnet/standard #534](https://github.com/dotnet/standard/issues/534) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-12 06:06] Petermarcu commented on #935
@chintan3100 since we haven't heard from you in over 30 days, I'm going to close this issue. If you still need help I think the best thing to do would be to open an issue with more of the details @Eilon asked for on the http://github.com/aspnet/home repo.

[2017-10-12 06:06] #935 closed

[2017-10-12 06:06] #918 closed

[2017-10-12 06:07] Petermarcu commented on #918
Issue moved to [dotnet/coreclr #14444](https://github.com/dotnet/coreclr/issues/14444) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-12 06:10] Petermarcu commented on #902
@bogdan-st , probably not related. Do you want to open a new issue in the dotnet/cli with more details of how your project is configured?

[2017-10-12 06:11] Petermarcu commented on #886
@chcosta

[2017-10-12 06:13] Petermarcu commented on #963
Glad you found the solution. Closing now.

[2017-10-12 06:13] #963 closed

[2017-10-12 06:14] Petermarcu commented on #897
I'm going to close this issue now as its been over 30 days without a response. Let us know if you need more assistance.

[2017-10-12 06:14] #897 closed

[2017-10-12 06:20] Petermarcu commented on #831
Shot in the dark but perhaps your NuGet cache is corrupt. Can you try:

`dotnet nuget locals all –clear`

[2017-10-12 06:28] Petermarcu commented on #831
I get similar output as you in my project.assets.json with that simple project. I don't think the problem. It builds just fine for me. It's got to have something to do with the state of your machine. @emgarten in case he has ideas.

[2017-10-12 06:29] Petermarcu commented on #948
@gregg-miskelly any thoughts? I'm going to close this issue here now but if there is a followup for the debugger, we can open an issue in the right repo.

[2017-10-12 06:29] #948 closed

[2017-10-12 06:32] davidfowl commented on #948
@foo-baar if you hit stop debugging it works fine.

[2017-10-12 09:35] anthonywanted opened #1025 "Is System.Net.Sockets a Implement Of NIO?"
# Issue Title

Is System.Net.Sockets an Implement Of NIO?

# General

Just few questions.
Is System.Net.Sockets an Implement of NIO?
In windows, is it an implement of IOCP?
In Linux, is it an implement of epoll?

How about aspnet core?

[2017-10-12 14:43] dagood commented on #931
I ran the conversion tool on all Core-Setup symbol packages, which gave me these to archive: https://gist.github.com/dagood/9237921c06cc37970913bbc89ca99e4d. (`Microsoft.DotNet.PlatformAbstractions`, `Microsoft.Extensions.DependencyModel`, `runtime.linux-arm.Microsoft.NETCore.App`.)

A few packages had portable PDBs in them to try to convert, but hit `The PDB doesn't match debug directory record i

[2017-10-12 14:51] gregg-miskelly commented on #948
@foo-baar does David's suggestion work for you?

If not - does the process you are debugging get killed when you stop debugging? (diff the process list before and after)
If the process you are debugging gets killed - does your process spawn child processes?

[2017-10-12 16:31] tmat commented on #931
Any chance the DLLs whose PDBs fail to convert are postprocessed by some IL rewriter (like ILLinker)?

[2017-10-12 17:14] DustinCampbell commented on #767
This is https://github.com/OmniSharp/omnisharp-vscode/issues/1712.

[2017-10-12 17:45] rdzidziguri commented on #831
https://github.com/dotnet/standard/issues/497
Here is the issue created over standard Repo. I think those are very similar and but that issue does not bring much light on this. so this is very annoying.

[2017-10-12 18:24] #1025 closed

[2017-10-12 18:24] Petermarcu commented on #1025
Issue moved to [dotnet/corefx #24610](https://github.com/dotnet/corefx/issues/24610) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-12 20:04] foo-baar commented on #948
@gregg-miskelly Well the thing is process never got killed by any vscode commands, I did it manually every time from terminal.

[2017-10-12 20:35] distomin opened #1026 "Two actions with same Http<Method> attributes result in ambiguity on ubuntu"
uname -a
Linux N46JV 4.10.0-37-generic #41-Ubuntu SMP Fri Oct 6 20:20:37 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
dotnet --version
2.0.0
dotnet new webapi

Add 2 actions in a controller with the same attribute (HttpGet for example)
[HttpPost]
public Product Action4([FromForm]Product product)
[HttpPost]
public Product Action5([FromBody]Product product)

build the project, run the project and make ht

[2017-10-12 20:38] Petermarcu commented on #1026
Moved to https://github.com/aspnet/Home/issues/2241

[2017-10-12 20:38] #1026 closed

[2017-10-12 20:58] ASalihov commented on #980
Why 1.x releases after 2.0??

[2017-10-12 21:00] Petermarcu commented on #980
Because we are still bug fixing 1.1 for people that are using it.

[2017-10-12 21:52] gregg-miskelly commented on #948
@foo-baar Thanks. In that case can you file a bug at https://github.com/omnisharp/omnisharp-vscode/issues and we can see why you are running into this problem.

[2017-10-12 21:52] dagood commented on #931
I'm putting discussion about `runtime.linux-x64.Microsoft.NETCore.App` and `runtime.osx-x64.Microsoft.NETCore.App` to https://github.com/dotnet/core-eng/issues/1771, since those won't help with the problem in the issue description.

[2017-10-13 00:07] FerHenrique opened #1028 "ackage System.Net.Security 4.0.0 is not compatible with netcoreapp2.0 (.NETCoreApp,Version=v2.0)"
Hey all!

I'm trying to install Microsoft.Azure.DocumentDB.Core on my project, and the error messages are:
- Package System.Net.Security 4.0.0 is not compatible with netcoreapp2.0 (.NETCoreApp,Version=v2.0)
-  Package System.Security.SecureString 4.0.0 is not compatible with netcoreapp2.0 (.NETCoreApp,Version=v2.0)

If I try to install the same package on the project using another machine, it work

[2017-10-13 02:02] Petermarcu commented on #1028
@dsplaisted @terrajobst @emgarten any ideas. This looks like it should work and it works for me in my simple repro:

[code]
on
[code]
succeeds.

[2017-10-13 02:14] Petermarcu commented on #1028
@FerHenrique can you try `dotnet nuget locals all –clear` on the machine in a bad state?

[2017-10-13 02:58] emgarten commented on #1028
I was not able to repro this either, this package should be compatible due to the netstandard1.3 support.

[code]

@FerHenrique would you make a copy of the obj folder for the project including project.assets.json before trying to fix the problem.

After that
1. Clear the caches as @Petermarcu mentioned
1. Delete the obj folder for the project to force restore to create a new project.assets.json f

[2017-10-13 03:08] Mds92 commented on #374
Does Microsoft .NET team has a plan to bring .Net WinForm in .Net Core?

[2017-10-13 03:28] Petermarcu commented on #374
Still focused on services and command line applications.

[2017-10-13 06:07] nigurr opened #1029 "Misleading information shown when the dotnet command is passed duplicated arguments"
`C:\Tests> dotnet test --logger trx --logger trx`
`MSBUILD : error MSB1009: Project file does not exist.
Switch: trx`

The same one works
`C:\Tests> dotnet test --logger trx`
`Build started, please wait...`

The error message is misleading or the duplicated arguments should be skipped

[2017-10-13 09:06] luckyhappy opened #1030 ".NET Core 2.0 Invoke .so file (c++) on Centos"
on windows, i can user DllImport  call .dll file(c++).
on linux ,how  i do?

[2017-10-13 16:10] omajid commented on #1030
Same way! For example, see https://github.com/dotnet/corefx/blob/dce54eac6369631bf9e0af274cb0abd484edb331/src/System.Drawing.Common/src/System/Drawing/LibX11Functions.cs#L14

[2017-10-13 17:45] #1029 closed

[2017-10-13 17:45] Petermarcu commented on #1029
Issue moved to [dotnet/cli #7836](https://github.com/dotnet/cli/issues/7836) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-13 17:46] #1030 closed

[2017-10-13 17:47] Petermarcu commented on #1028
@emgarten do you think this is a NuGet issue and we should move it to nuget/home?