[2021-01-18 19:36] scalablecory commented on #5752
Thanks for the follow-up! Closing out the issue now.

[2021-01-18 19:36] #5752 closed

[2021-01-18 22:33] ycrumeyrolle commented on #5787
I am trying to reproduce the issue with your sample application. Without success for the moment...

[2021-01-19 05:39] mairaw commented on #5857
@sandeepkumarkasaudhan can you provide more information about your problem? Are you trying to install .NET Framework? This tutorial is for you to learn about how to code with .NET 5.

[2021-01-19 06:55] pjmlp commented on #5478
So UWP wouldn't be considered for modern .NET, am I reading future roadmap plans?

[2021-01-19 08:21] rtssrl commented on #5856
OK, Thanks!
Now error seems to be with aspnetcore-runtime-3.1.11-x64.rpm

![error_aspnetcore_runtime](https://user-images.githubusercontent.com/46020480/105004589-7d2f8e80-5a34-11eb-80cd-e022b0014d48.png)

I've tried to removed packages, cleared zypper cache and re-run zypper in aspnetcore-runtime-3.1

aspnetcore-runtime-3.1.11-x64.rpm looks a bit smaller than aspnetcore-runtime-3.1.10-x64.rpm

[2021-01-19 09:31] Tseko commented on #4636
After all Can I Build Forms Application for Linux or Not? If so with .NET 5 or to be expected with .NET 6 ?

[2021-01-19 11:24] svick commented on #4636
@Tseko I'm not aware of any plans to port Windows Forms to Linux.

[2021-01-19 12:46] RussKie commented on #4636
I think this should be closed as by design.

[2021-01-19 14:17] sam-cogan commented on #5838
Any update on this? Installing any version dotnet core 3.1 using Yum seems broken:

`Total download size: 68 M
Installed size: 184 M
Is this ok [y/d/N]: y
Downloading packages:
dotnet-sdk-3.1.405-x64.rpm

[2021-01-19 16:20] dagood commented on #5017
`dotnet-sdk-2.1` now installs fine for me in an Ubuntu 20.10 container. There are still checkboxes open in the original issue so leaving it to @rbhanda to close if this is done.

[2021-01-19 17:30] rbhanda commented on #5017
This issue can be closed now.

[2021-01-19 17:30] #5017 closed

[2021-01-19 18:09] rbhanda commented on #5856
hi @rtssrl thanks a lot for reporting this. I am trying to get to the root cause of these files getting corrupted. I will keep this thread updated with the progress.

[2021-01-19 19:09] rbhanda commented on #5856
The aspnetcore-runtime-3.1.11-x64.rpm corruption issue should be resolved now.

[2021-01-19 19:35] ogreenz opened #5860 "Ubuntu 18.04 (Bionic) MS repo contains hash mismatches"
While I was trying to sync my repository from ```https://packages.microsoft.com/ubuntu/18.04/prod``` it seemed to fail because there are md5 hash mismatches.

Error message:

[code]

The file ```https://packages.microsoft.com/ubuntu/18.04/prod/dists/bionic/main/binary-amd64/Packages``` was changed at January 16th, 2020, and seems to contains now a wrong hash. I was able to sync a week ago.

I also

[2021-01-19 19:49] dagood commented on #5860
This package is unrelated to .NET and I'm not familiar with it--it would be ideal if you can report this to whoever maintains that package so they are alerted to the problem and can get the packages.microsoft.com team to fix it.

That said, if we can help (@rbhanda), the next piece of info we need is which mirror you're hitting.

@ogreenz Can you provide the full output of one of these commands (i

[2021-01-19 20:22] beanotj commented on #5856
Don't know if this is related, but:
![image](https://user-images.githubusercontent.com/1418261/105088586-b6322800-5a61-11eb-8166-febd1e4831b2.png)

[2021-01-19 21:34] ogreenz commented on #5860
Sure here's the output I'm getting:

[code]

[2021-01-19 21:40] dagood commented on #5860
Thanks, that looks like the right info. I still think you should try contacting support for that package (SQL Server, Azure?) in case we're not able to help.

[2021-01-19 21:44] rbhanda commented on #5856
Thanks a lot for reporting @beanotj . I have updated the file and it should get reflected on packages,microsoft.com in some time (~20 mins)

[2021-01-19 22:03] tannergooding commented on #5853
### System.Numerics - New math APIs

New math APIs which may be hardware accelerated if the underlying hardware supports it:
* `SinCos` for simultaneously computing `Sin` and `Cos`
* `ReciprocalEstimate` for computing an approximate of `1 / x`
* `ReciprocalSqrtEstimate` for computing an approximate of `1 / Sqrt(x)`

New math API overloads:
* `Clamp`, `DivRem`, `Min`, and `Max` supporting `nint` an

[2021-01-19 22:16] beanotj commented on #5856
@rbhanda: Everything looks good, thanks!

[2021-01-19 22:18] JamesNK commented on #5713
Added https://github.com/grpc/grpc-dotnet/issues/1176. Is it ok that it is not in a dotnet repo? I can create an issue in dotnet/aspnetcore if it is.

PR to support .NET standard 2.0 is already mostly done - https://github.com/grpc/grpc-dotnet/pull/1118. I wanted it to verify that WinHttp changes actually work end-to-end. Interop tests show that they do 🍰

[2021-01-19 23:07] rbhanda commented on #5860
Hi @ogreenz I checked with our packages.microsoft.com team and they are not able to repro this issue including the mirror. They are suggesting to try to clear the cache and retry to see if that works.

[2021-01-19 23:27] ogreenz commented on #5860
Hi @rbhanda I don't think it's a cache issue. I just tried this from a US server and got the following address:
[code]
The exact same issue is happening there too.

[2021-01-19 23:38] danmosemsft commented on #5713
@JamesNK it's probably a good idea to make a proxy issue in aspnetcore so it shows up in themesof.net.

[2021-01-19 23:47] JamesNK commented on #5713
The grpc/grpc-dotnet issue shows up on the website.

![image](https://user-images.githubusercontent.com/303201/105107776-aaa43700-5b1d-11eb-9deb-2bc023b88b22.png)

[2021-01-19 23:50] danmosemsft commented on #5713
what wizardry is this? I guess we query that repo too. Great.

[2021-01-20 02:45] jzabroski commented on #5482
This is great. An inspiring book early in my career was Accelerated C++, which dove straight into STL without bothering explaining a lot of technical things. It was the book recommended to me by the guy who wrote Dinkum Libraries.

[2021-01-20 05:58] sandeepkumarkasaudhan commented on #5857
Plz provide NET FRAMEWORK 2.0 LINK FOR WINDOWS 10 64BIT

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Maira Wenzel <notifications@github.com>
Sent: Tuesday, January 19, 2021 11:10:10 AM
To: dotnet/core <core@noreply.github.com>
Cc: sandeepkumarkasaudhan <sandeepkumarsdr@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/core] NET Frame

[2021-01-20 06:16] AndyDentFree commented on #5465
Speaking mostly from the Xamarin Forms space, it users should **never** be confronted by an unbuildable new project.

If they install an IDE or upgrade it, then the New Project templates within that IDE should always work. If there is additional installation work to be done, eg: updates to Android libraries, it should be clearly communicated as a secondary installation step.

It is a disruptive an

[2021-01-20 07:53] rtssrl commented on #5856
Hi @rbhanda, now zypper in aspnetcore-runtime-3.1 is OK, thanks!

[2021-01-20 08:18] govert commented on #5396
One frustrating aspect of migrating to .NET 5+ is the handling and state of documentation for PlatformNotSupported APIs. As an example, I use the API `CodeDomCompiler.CompileAssemblyToSource`. This API is not supported under .NET Core (see  https://github.com/dotnet/runtime/issues/18768). I understand this and have no problem that the API is not supported in .NET Core.

However, the development ex

[2021-01-20 11:36] nithin-raj123 opened #5862 "unable to run in server getting local page connot be fined"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/create
Operating System: windows

Provide details about the problem yo
![Capture](https://user-images.githubusercontent.com/77476662/105169647-d2a59180-5b41-11eb-86be-ac879e0e62ab.PNG)
u're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-01-20 11:41] #5862 closed

[2021-01-20 14:36] terrajobst opened #5863 "As a developer, I get compile time diagnostics for unsupported APIs"
In .NET 5, we introduced a built-in platform analyzer that will check whether you call platform-specific APIs. However, this doesn't cover APIs that always throw `PlatformNotSupportedException`. We should mark those APIs in some fashion as well, for example, by applying `ObsoleteAttribute`.

An example of an unmarked APIs is [CSharpCodeGenerator.CreateFromBatch()](https://github.com/dotnet/runtime

[2021-01-20 15:05] govert commented on #5396
@terrajobst added a user-story that covers most of my suggestions above https://github.com/dotnet/runtime/issues/47228 , so that issue might be one of the user stories here too (considering Framework -> Core as a kind of cross platform scenario).

[2021-01-20 19:09] terrajobst opened #5864 "User Story: As a package consumer, I can replace a package in my graph with a different ID and version"
The scenario is:

* App developer uses package `Foo` that is supported on Windows and Linux
* Another developer added support for macOS and iOS. They uploaded the package under the name `Bar.Foo`.
* App developer changes some configuration that instructs NuGet to replace `Foo, Version=X` with `Bar.Foo, Version=Y`.
* This would assume that the `Bar.Foo` package contains binaries that are binary/run

[2021-01-20 20:17] Chardrazle commented on #5856
We're still seeing issues trying to acquire a non-corrupted version of: _dotnet-sdk-3.1.405-x64.rpm_
The corrupted version appears to have spread around the Azure nodes.
Sometimes we've got lucky and acquired the correct package, but most times not.  Depends on which mirror we ultimately hit, I guess.

For example:
`wget http://csd-apt-weu-d-4.westeurope.cloudapp.azure.com/yumrepos/microsoft-rhel7

[2021-01-20 20:58] mairaw commented on #5857
You should install .NET Framework 3.5 (which includes .NET Framework 2.0) on a Windows 10 machine:
https://docs.microsoft.com/en-us/dotnet/framework/install/dotnet-35-windows-10

Let me know if this helps!

[2021-01-20 21:42] NikolaMilosavljevic commented on #5446
Related issue for musl arm32v7: https://github.com/dotnet/runtime/issues/46954

[2021-01-20 22:14] eerhardt commented on #5864
Another scenario where this could help:

* Package `Foo, v1` ships.
* Package `Dependee1` references `Foo, v1`
* Package `Foo, v2` ships with a breaking change from `Foo, v1`.
* Package `Dependee2` references `Foo, v2`
* App `MyApp` references `Dependee1` and `Dependee2`, and the application is broken because `Dependee1` needs `Foo, v1` but it gets `Foo, v2`.

The developer of `MyApp` has the abil

[2021-01-20 22:49] joeloff commented on #5865
@rahku could you take a look?

@Clifra-Jones have you tried using a different feed, e.g. https://packages.microsoft.com/fedora/32/prod/?

[2021-01-20 23:09] joeloff commented on #5865
@rbhanda, @leecow

[2021-01-20 23:15] rbhanda commented on #5865
Hi, Fedora 31 is no longer supported as per our [supported OS document](https://github.com/dotnet/core/blob/master/release-notes/3.1/3.1-supported-os.md).

[2021-01-21 00:07] shirhatti commented on #5713
@karelz @JamesNK Based on our conversation today supporting unary + server streaming calls with WinHttpHandler will happen in 6.0. As such I'm marking this as P1.

[2021-01-21 00:24] #5724 closed

[2021-01-21 00:37] rbhanda commented on #5865
Hello, we found an issue with dotnet-sdk-3.1.405-x64.rpm  and updated the file. This issue should be resolved now

[2021-01-21 09:18] FreeTimeWorker opened #5866 ".net 5.0 SqlClient Connect SqlServer failed Operating environment:CentOS7"
[code]

errors:

 ---> System.IO.EndOfStreamException: End of stream reached
   at System.Data.SqlClient.SNI.SslOverTdsStream.ReadInternal(Byte[] buffer, Int32 offset, Int32 count, CancellationToken token, Boolean async)
   at System.Data.SqlClient.SNI.SslOverTdsStream.Read(Byte[] buffer, Int32 offset, Int32 count)
   at System.IO.Stream.Read(Span`1 buffer)
   at System.Net.Security.SslStream.Fill

[2021-01-21 09:22] FreeTimeWorker commented on #5866
sqlConnection.ServerVersion=11.00.2100

[2021-01-21 09:45] donhuvy opened #5867 "Cannot download .NET SDK 5.0.2 , only download 5.0.102 ."
Cannot download .NET SDK 5.0.2 , only download 5.0.102 .

https://dotnet.microsoft.com/download/dotnet/5.0

![501](https://user-images.githubusercontent.com/1328316/105333137-f59a7900-5c07-11eb-8fee-a635a89cdd55.png)

![image](https://user-images.githubusercontent.com/1328316/105333588-7c4f5600-5c08-11eb-9cf8-99cfb0389e7b.png)

![image](https://user-images.githubusercontent.com/1328316/105333576-7

[2021-01-21 11:34] tomtom1992 opened #5868 "Template "Blazor WebAssembly App" could not be created."
I have the following issue when running

dotnet new blazorwasm

or any other template:

Template "Blazor WebAssembly App" could not be created.
Error while processing file /content/ComponentsWebAssembly-CSharp/Client/App.razor
System.IO.FileNotFoundException: Could not find file 'C:\Users\Thomas\Documents\Projects\CMSTest\App.razor'.
File name: 'C:\Users\Thomas\Documents\Projects\CMSTest\App.razor

[2021-01-21 11:35] tomtom1992 commented on #5868
I already tried to:

- Repair my Installation of .NET 5 SDK

[2021-01-21 17:01] pappasa opened #5869 "Is there a migration path for System.EnterpriseServices?"
We have a lot of code in .NET 4.0 using System.EnterpriseServices. Can you suggest a migration path to .NET 5?

[2021-01-21 17:21] ycrumeyrolle commented on #5787
@vcsjones @bartonjs we are able to reproduce the issue:
https://github.com/nohwnd/macOSTestIssue/runs/1742981935?check_suite_focus=true
It seems to be related to AES-GCM only. Other cryptography algorithms were tested successfully (AES, SHA256, RSA, ECDH).
AES-GCM trigger an error `No usable version of libssl was found`.
This error occured exactly at: https://github.com/actions/virtual-environment

[2021-01-21 17:37] vcsjones commented on #5787
`AesGcm` and `AesCcm` rely on the presence of OpenSSL on macOS, which is not installed by default. Other algorithms like AES, SHA2, RSA, ECDSA, etc. all rely on SecurityTransforms / CommonCrypto, which is built in to macOS. That at least explains why `AesGcm` is singled out.

This looks similar to https://github.com/dotnet/runtime/issues/46071.

[2021-01-21 18:41] mairaw commented on #5867
There are two different versions at play here.

5.0.2 is the runtime version.
5.0.102 is the SDK version. There is no 5.0.2 SDK yet.

/cc @rbhanda

[2021-01-21 20:15] anatolybolshakov commented on #5717
@scalablecory thanks! We will try to disable redirect for the case when there's no input indented.

[2021-01-21 20:16] ycrumeyrolle commented on #5787
According to https://github.com/actions/virtual-environments/blob/macOS-10.15/20201212.1/images/macos/macos-10.15-Readme.md, OpenSsl is installed by default on the GitHub MacOS image.
When running the command `openssl version`: `OpenSSL 1.1.1i  8 Dec 2020`

Maybe because of the openssl location ? ((/usr/local/opt/openssl -> /usr/local/Cellar/openssl@1.1/1.1.1i))

[2021-01-21 22:09] ycrumeyrolle commented on #5787
Just tried to add the environment variable for overriding the openssl path :
`    CLR_OPENSSL_VERSION_OVERRIDE: /usr/local/Cellar/openssl@1.1/1.1.1i`
or
`    CLR_OPENSSL_VERSION_OVERRIDE: /usr/local/Cellar/openssl@1.1/1.1.1i/lib`
Without success.

[2021-01-21 22:50] bartonjs commented on #5787
`CLR_OPENSSL_VERSION_OVERRIDE` only allows for controlling the (for macOS) version infix.  e.g. `CLR_OPENSSL_VERSION_OVERRIDE=1.1.1i` would look for libssl.1.1.1.i.dylib in the default library path.

Instead the problem is likely that the dylibs aren't in any default search path, so something like `DYLD_FALLBACK_LIBRARY_PATH =$DYLD_FALLBACK_LIBRARY_PATH:/usr/local/opt/openssl@1.1/lib` would be wha

[2021-01-21 22:52] leecow commented on #5867
To clarify further, there never will be a 5.0.2 sdk. the 5.1.102 SDK is the SDK that corresponds to the 5.0.2 release.

[2021-01-21 22:52] #5867 closed

[2021-01-22 07:15] Ranjanaongit opened #5870 "run command"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-01-22 20:55] doyle123 opened #5872 "how to open a new file"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-01-22 22:32] AmandaCaglioni opened #5873 "I keep getting the same error"
Everything was working well until I have to replace the code.

"Open Pages/Index.cshtml in any text editor and replace all of the code with the following, then save the file."

Once I replace it with the code provided and I run the app again it gives me this error:

/Users/myname/myWebApp/Pages/Index.cshtml.cs(2,8): error CS1003: Syntax error, ',' expected [/Users/myname/myWebApp/myWebApp.csproj]

[2021-01-23 00:08] mairaw commented on #5872
Hi @doyle123, you don't want to open a new file. You'd want to open an existing file on the edit step.

You can open the Program.cs file with notepad or a tool like Visual Studio Code.

Does that help?

[2021-01-23 00:25] mairaw commented on #5873
Hi @AmandaCaglioni! Is this related to https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/modify?

If so, it looks like you replaced the contents of the Index.cshtml.cs and not the Index.cshtml. You can perhaps delete your project and start over. It will probably be easier.

And I'm planning to add a note about this.

/cc @danroth27

[2021-01-24 14:28] maxima120 opened #5874 "PublishReadyToRun with target linux-64 is not working"
Problem is with .net 5.0.102 console app. trying to publish on linux-64.

(works fine without `<PublishReadyToRun>true</PublishReadyToRun>`)

dotnet --info:
[code]

error:
[code]
![image](https://user-images.githubusercontent.com/10121753/105633285-004b4d00-5e58-11eb-8bfa-66bcf1dae603.png)

[2021-01-24 19:15] ycrumeyrolle commented on #5787
The variable DYLD_FALLBACK_LIBRARY_PATH is set to  /usr/local/opt/openssl@1.1/lib (this folder contains the file libssl.1.1.dylib)
https://github.com/nohwnd/macOSTestIssue/runs/1758078565?check_suite_focus=true#step:9:5

The variable CLR_OPENSSL_VERSION_OVERRIDE is set to  1.1.1i
https://github.com/nohwnd/macOSTestIssue/runs/1758078565?check_suite_focus=true#step:9:6

But the test is still failing

[2021-01-24 21:25] Nonelela-Hlati opened #5875 "Page Loading..."
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/run
Operating System: linux

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Browser showing Loading...

[2021-01-24 22:30] maxima120 opened #5876 "Odd behaviour calling HttpWebRequest multiple times"
I need to understand whether it's a bug or a feature.

I send 3 HttpWebRequest from .net 5.0.2 console app to the same host in this fashion:

- get /fake.file (receive 404 as expected)
- sleep 500ms
- get /good.file
- sleep 500ms
- get /good.file

First takes 600ms, second takes 300ms and third 50ms.

I understand first stalls on jit and WebException handling. That's fine.

However I cannot reconc

[2021-01-25 03:09] InCerryGit commented on #2778
I agree

[2021-01-25 07:51] marwalsch opened #5877 "Documentation is unclear about TokenValidationParameters.ValidateIssuerSigningKey"
I am setting up Basic AuthN for a JWT issued by the Windows STS. However, I am unsure about the correct way to do so and the Documentations are somewhat lacky about the correct way. These are my `AddJwtBearer `-options and the simplified Token:

[code]

[code]

Validation works as far as to deprecated Tokens or those lacking a signature partition entirely being rejected.
I am unsure about the most

[2021-01-25 09:50] karelz commented on #5713
@shirhatti I am a bit puzzled. You told us the priority is P2. Yes, we plan to do it, but that should be orthogonal to priority. Shouldn't priority be based on scenario importance relative to other scenarios? That way it can be effectively used in future if plans change, more things are discovered, or higher priorities come in ...

[2021-01-25 14:10] igoventura commented on #5875
Can you provide more details? Like some logs and the step You took to this screen.

[2021-01-25 14:13] igoventura commented on #5876
Maybe because the first request got a 404 response the DNS was not cached.

[2021-01-25 14:16] igoventura commented on #5870
Please provide more details.

[2021-01-25 14:16] maxima120 commented on #5876
Ok. then if I send 1st request to same host but different document (which does exist and returns 200) - the subsequent call to the target document within 500ms triggers name resolution on the 2nd call anyway. Why and how to avoid it?

[2021-01-25 14:27] Nonelela-Hlati commented on #5875
Its a Blazor project, this happend when running the project, like "dotnet run"
I even created a new one but no luck.

![image](https://user-images.githubusercontent.com/71264012/105717796-386e9080-5f29-11eb-9322-575f73245429.png)
![image](https://user-images.githubusercontent.com/71264012/105718724-378a2e80-5f2a-11eb-9a9d-918fb3e5c927.png)

[2021-01-25 16:24] jrmeland opened #5878 "Odd non-sensical repeated folder structure"
### Description

During build I get these odd repeated folder structures e.g.
[code]

The actual folder structure is like so:
[code]

I know my solution organization is somewhat atypical but I don't believe this as always been an issue. I've also been seeing some large build times and am wondering if this contributes to that.
### Configuration

[code]

Solution:
[code]

Projects:
[code]

[code]

#

[2021-01-25 18:03] ChayoteJarocho commented on #5853
## .NET Libraries: System.Threading.AccessControl - Ported Windows ACL APIs

Ported from .NET Framework the `OpenExisting` and `TryOpenExisting` method overloads for `EventWaitHandle`, `Mutex` and `Semaphore` that take a "security rights" instance as an argument.

These APIs are Windows specific and available via the `System.Threading.AccessControl` assembly.

[code]

[2021-01-25 19:41] carlossanlop commented on #5853
## .NET Libraries: System.Threading.AccessControl - Ported Windows ACL APIs

New overloads were added to the `OpenExisting` and `TryOpenExisting` methods for `EventWaitHandle`, `Mutex` and `Semaphore`. By accepting "security rights" instances, the overloads enable users to open existing instances of threading synchronization objects that were created with special Windows security attributes.

Thes

[2021-01-25 20:11] JamesNK commented on #5853
## ASP.NET Core: appsettings.json autocomplete

appsettings.json now has autocomplete in Visual Studio and VSCode (with C# extension).

The JSON schema for appsettings.json was updated to include commonly used configuration in ASP.NET Core, including configuring logging, host filtering and Kestrel.

![appsettings-schema](https://user-images.githubusercontent.com/303201/105759968-fe979b80-5fb5-11eb

[2021-01-25 20:13] wfurt commented on #5876
there is no DNS cache at .NET layer. Any caching would happen at OS layer.

I would strong ly discourage usage of HttpWebRequest. It has performance problems and it is going to be marked as obsolete (hopefully) soon. Use HttpClient instead.

 ServicePointManager is deprecated in .NET Core and not used as it was in Framework.

[2021-01-25 20:17] wfurt commented on #5866
This looks like SSL negotiation issue. Do you know if server supports TLS1.2? (TLS 1.0 and 1.1 are off by default in .NET 5) https://docs.microsoft.com/en-us/dotnet/core/compatibility/cryptography/5.0/default-cipher-suites-for-tls-on-linux
If this is root cause, runtime repo has several related issues with hints how to resolve it.

[2021-01-25 20:23] wfurt commented on #5717
cc: @tmds

[2021-01-25 20:30] maxima120 commented on #5876
I timed all experiments for 3 methods using HttpWebRequest, webcient and httpclient - same figures..

Call to host/a.txt and then to host/b.txt takes a lot longer than 2 calls to host/a.txt

Tried both Windows and linux

[2021-01-25 20:37] wfurt commented on #5876
Did you use same HttpClient instance @maxima12? Unless either client or server explicitly close connection, subsequent request should re-use existing TCP (and TLS) and avid any lookup.

[2021-01-25 22:05] maxima120 commented on #5876
yes the HttpClient is a single instance.

[2021-01-25 22:47] tmds commented on #5717
Can you get the stacktraces from all threads? That will give us some information about where `Process.Start` is blocked, and maybe what other thread is blocking it.

I'd generally recommend to redirect streams of apps you don't want the user to interact with directly.  After redirecting, you should close the input stream, and consume the output/error streams.

[2021-01-25 23:36] benukhanov opened #5880 "The framework 'Microsoft.AspNetCore.App', version '5.0.0' was not found"
Hi, what is wrong here? docker build works. Another netcore app works fine.

![image](https://user-images.githubusercontent.com/13782467/105778399-097e0c00-5f75-11eb-9bae-341d529339de.png)

This open source code is available [here](https://github.com/benukhanov/maple-fighters/tree/develop/src/auth-service).

---

I also opened this issue in [dotnet/aspnetcore](https://github.com/dotnet/aspnetcore/

[2021-01-26 03:31] #5429 closed

[2021-01-26 03:31] #5114 closed

[2021-01-26 03:31] #5034 closed

[2021-01-26 03:32] #5352 closed

[2021-01-26 07:21] tmds commented on #5717
Can you also try using the latest 3.1 patch version?

[2021-01-26 13:01] benukhanov commented on #5880
Sorry. Needed to change from mcr.microsoft.com/dotnet/runtime:5.0 to mcr.microsoft.com/dotnet/aspnet:5.0 :)

[2021-01-26 14:38] vsafonkin opened #5881 "Nuget restore is failed in Windows build."
### Description

* Sometimes `dotnet build` command is failed on Nuget restore step. The error:
[code]
* repro: https://github.com/vsafonkin/ualbion/runs/1726489951?check_suite_focus=true

### Configuration

* Which version of .NET is the code running on? 5.0.101
* What OS and version, and for Linux, what distro? Windows
* What is the architecture (x64, x86, ARM, ARM64)? x64

It can be fixed eithe

[2021-01-26 15:11] erikeldh opened #5882 "Anti-virus warning on built apps with 5.0.102"
### Description
Applications built with 5.0.102 result in a warning from ESET anti-virus for a trojan called WIN64/Trojan.Patched.U

This detection is also on MSBuild.exe when trying to build applications using the latest available SDK (5.0.102)

### Configuration
dotnet --version
5.0.102

### Regression?
Building with any other version of the SDK doesn't result in the binaries being detected as m

[2021-01-26 18:29] GrabYourPitchforks commented on #5882
Related: https://github.com/dotnet/runtime/issues/35167, https://github.com/dotnet/runtime/issues/33745

I'll see if anybody here has some contact information for ESET so that we can resolve this with them. Thanks for the report!

[2021-01-26 18:35] GrabYourPitchforks commented on #5882
Looks like this was already reported to ESET. This should be resolved as of their latest AV definitions. See https://github.com/NuGetPackageExplorer/NuGetPackageExplorer/issues/1218 for some further discussion.

[2021-01-27 04:49] mairaw commented on #5870
Hi @Ranjanaongit! As @igoventura said, we'll need more details to try to help you. Maybe screenshots of the commands you ran and what's the problem you're experiencing.

[2021-01-27 04:51] mairaw commented on #5877
@Rick-Anderson @scottaddie can you help here? Should this issue be transferred to a different repo?

[2021-01-27 05:15] Rick-Anderson commented on #5877
Moved to https://github.com/Azure/azure-sdk-for-net/issues/18217

[2021-01-27 05:15] #5877 closed

[2021-01-27 12:24] darkguy2008 opened #5884 "[FAIL] Nuget crashing on restoring all packages, was working 30 minutes ago. SSL error!!! (The author primary signature's timestamp found a chain building issue: UntrustedRoot: self signed certificate in certificate chain)"
### Description

It all boils down to these errors coming from https://api.nuget.org/v3/index.json . I can't build or even work anymore. **HELP!**

The author primary signature's timestamp found a chain building issue: UntrustedRoot: self signed certificate in certificate chain

The author primary signature validity period has expired.

### Configuration

.NET 5

### Regression?

It worked 30 minu

[2021-01-27 13:29] TomyCesaille commented on #5884
Same, this is related to <https://devblogs.microsoft.com/nuget/microsoft-author-signing-certificate-update/>

It seems the official docker images aren't signing the new certificate.

[2021-01-27 13:31] dasMulli commented on #5884
Duplicate of https://github.com/NuGet/Home/issues/10491

[2021-01-27 13:36] maxima120 commented on #5874
didnt realise you can publish from linux..

[2021-01-27 13:36] #5874 closed

[2021-01-27 14:34] Wadkarmanoj opened #5885 "I install dotnet-sdk-3.1.405 but my setup required the .NET Framework version 3.5 is it ok for my set up or I should Install it also ?"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-01-27 14:36] Wadkarmanoj commented on #5885
I install dotnet-sdk-3.1.405 but my setup required the .NET Framework version 3.5 is it ok for my set up or I should Install it also ?
![1234](https://user-images.githubusercontent.com/78091581/106006311-f1d47f80-6069-11eb-91d7-2462e3b69377.JPG)

[2021-01-27 14:40] Wadkarmanoj opened #5886 "I install dotnet-sdk-3.1.405 but my setup required the .NET Framework version 3.5 is it ok for my set up or I should Install it also ?"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
![1234](https://user-images.githubusercontent.com/78091581/106006900-92c33a80-606a-11eb-9294-630bd53a723c.JPG)

[2021-01-27 17:51] ignasi-1943 opened #5887 "api-ms-win-crt-runtime-l1-1-0.dll missed to install dotnet-sdk-5.0.10"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-01-27 18:24] mairaw commented on #5887
Hi @ignasi-1943! What version of Windows are you running? It seems that maybe you missed the additional dependencies as noted here:
![image](https://user-images.githubusercontent.com/12971179/106036139-c792ba00-6089-11eb-8b1f-7734a0097d56.png)

[2021-01-27 18:34] mairaw commented on #5886
Hi @Wadkarmanoj! May I ask you how you ended up in the tutorial if you were trying to install .NET Framework 3.5?

Here's the article that explains how to install .NET Framework 3.5:
https://docs.microsoft.com/en-us/dotnet/framework/install/dotnet-35-windows-10

You can remove the .NET SDK if you're not going to be developing applications.

[2021-01-27 18:35] mairaw commented on #5885
Duplicate of #5886

[2021-01-27 18:35] #5885 closed

[2021-01-27 18:37] mairaw commented on #5884
Closing since there's another issue for this in the nuget org.

[2021-01-27 18:37] #5884 closed

[2021-01-27 21:03] #5857 closed

[2021-01-27 21:23] ignasi-1943 commented on #5887
Tks. W7. The main reasson of all trouble is due that suddently I could not scan through my printer (god job done along 8 years) HPOfficejet Pro L7480) with no explanatios at all. So I had to start guessing everywhere about problem. Apologies

[2021-01-27 21:23] #5887 closed

[2021-01-28 00:01] darkguy2008 commented on #5884
Thanks, managed to fix it by switching my build from `buster-slim` to `focal`. Great support! :)

[2021-01-28 03:04] mairaw commented on #5887
Interesting, I'd love to learn how you ended up in that tutorial given you were trying to solve a printer problem.
What did you search for and where did you land?

That tutorial is only for folks that are trying to learn how to develop applications.

[2021-01-28 05:23] stonezhao28 opened #5888 "docker build -t mymicroservice . run fail"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/docker-image
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

<img width="763" alt="图片" src="https://user-images.githubusercontent.com/55523272/106093793-e9646d80-616b-11eb

[2021-01-28 05:31] mairaw commented on #5888
There's a problem going on with NuGet today. You can follow the latest status updates at https://github.com/NuGet/Announcements/issues/49

Apologies for the inconvenience.

[2021-01-28 05:42] stonezhao28 commented on #5888
@mairaw thanks for your replay. But I'm mac os version 11.1 Big Sur.Can This solution  work?

[2021-01-28 13:56] vaibhavrmore1 commented on #2448
Generated the docker file of my existing azure function project from the left menu Docker Support.

During the build in devops, it's throwing error as :
`##[error]COPY failed: stat /var/lib/docker/tmp/docker-builder173318253/SICDP.Functions.KlaviyoImport/SICDP.Functions.KlaviyoImport.csproj: no such file or directory
`

The docker file auto-generated is :
`#See https://aka.ms/containerfastmode to

[2021-01-28 14:05] anatolybolshakov commented on #5717
@tmds yes thanks, I will increase logs verbosity and we will try it with a customer also

[2021-01-28 16:34] xobob commented on #5838
Does the Hosting Bundle include the .NET Core runtime or does it not?

note 2 at https://github.com/dotnet/core/blob/master/release-notes/3.1/3.1.11/3.1.11.md says "2. For hosting stand-alone apps on Windows Servers. Includes the ASP.NET Core Module for IIS and _can be_ installed separately on servers **without** installing .NET Core runtime."

this seems to conflict with

the documentation on the

[2021-01-28 17:00] leecow opened #5889 "What's new in .NET 6 Preview 2 [WIP]"
# What's new in .NET Preview 2 [WIP]

This issue is for teams to highlight work for the community that will release .NET 6 Preview 2.

To add content, use a new conversation entry. The entry should include the team name and feature title as the first line as shown in the template below.

[code]
Preview 1: https://github.com/dotnet/core/issues/5853
Preview 2: https://github.com/dotnet/core/issues/5

[2021-01-28 17:00] leecow opened #5890 "What's new in .NET 6 Preview 3 [WIP]"
# What's new in .NET 6 Preview 3 [WIP]

This issue is for teams to highlight work for the community that will release .NET 6 Preview 3.

To add content, use a new conversation entry. The entry should include the team name and feature title as the first line as shown in the template below.

[code]
Preview 1: https://github.com/dotnet/core/issues/5853
Preview 2: https://github.com/dotnet/core/issues

[2021-01-28 19:57] JulieLeeMSFT commented on #5853
## CodeGen
### Dynamic PGO https://github.com/dotnet/runtime/issues/43618

- Enable guarded devirtualization by class profile and probes for class types https://github.com/dotnet/runtime/pull/45133
- Graphical dump of flow graph with profile data https://github.com/dotnet/runtime/pull/42657
- Redundant branch elimination https://github.com/dotnet/runtime/pull/46257
- Enable CSE of PGO introduced t

[2021-01-28 21:34] sdmaclea commented on #5853
## .NET CoreCLR Runtime: Support Apple Silicon dotnet/runtime#43313

### .NET Rosetta 2 Emulation https://github.com/dotnet/runtime/issues/44897

Apple release of Big Sur 11.2 Beta 2 has resolved most issue running .NET 5.0 under Rosetta 2 emulation.  Prior to Big Sur 11.2 Beta 2 there were significant issues with Rosetta 2 emulation, upgrade of `M1`'s to to Big Sur 11.2 is strongly recommended.

[2021-01-28 23:12] doubleyewdee commented on #2883
Longer variant of the tweet I randomly replied to: no choice is perfect and at this point I am begging you to just ride it out and stop changing the names. :) I agree with the assertion that existing ecosystem participants will be *much better positioned* to navigate the ambiguity between Core/Framework than a new user. `.NET 5` is clear and unambiguous in what it is, the plan for `.NET 6` is simi

[2021-01-29 01:55] mairaw commented on #5838
@rbhanda @leecow to help with the question from @xobob - maybe the note on the release notes is not super clear. Maybe it means you don't have to install the .NET Core runtime separately because it's already included in the bundle?

[2021-01-29 03:05] mairaw commented on #5888
I think it's because of the Docker containers. On https://status.nuget.org/, they suggest the following:
If using docker, change your base image from "FROM mcr.microsoft.com/dotnet/sdk:5.0" to " FROM mcr.microsoft.com/dotnet/sdk:5.0-focal" or " FROM mcr.microsoft.com/dotnet/sdk:5.0-alpine"

So maybe that change on the Dockerfile would help. @nishanil any other suggestions here?

[2021-01-29 04:12] Amondale commented on #2883
I know my web hosting provider, or at least the few that still regularly support the Windows/.NET platform, are completely unaware of the distinction between Core and dotnetFX (4.x and 3.x are my only choices with the Plesk interface).  This is all due to "branding-speak" and gradual migration of server admins to LAMP over Windows in the hosting world. OK, also a good shot of "Microsoft wants you

[2021-01-29 08:30] Patrick8639 opened #5891 "Add a LightList<T> class"
Hello,
Often, the `List<T>` class is only used to save incoming data (from database or client application) only to keep them in a place and to enumerate on them, without the need to remove items or to sort them. In these cases, often, the number of items to keep is unknown.

There are two problems when using `List<T>`:
1. If the list contains more than approximately 10K (64-bit) or 20K (32-bit) el

[2021-01-29 14:11] danmosemsft commented on #5490
@shirhatti both our open telemetry stories are children of this, but they are P0 and this is P1. Should they have their own, P0 rated Epic?
Cc @ericstj

[2021-01-29 16:02] #5677 closed

[2021-01-29 16:04] andreiuipath commented on #5746
I had a similar issue. I removed the Microsoft repos and all it's packages and got everything straight from Fedora repos. I run Fedora 33.
https://bugzilla.redhat.com/show_bug.cgi?id=1847206

[2021-01-29 16:46] erikeldh commented on #5882
Thanks for the reply, yes the issue was only for like 6 hours. Thanks for the swift reply.

[2021-01-29 22:42] j-hudecek commented on #3886
Still an issue on RHEL8.3, aspnetcore-runtime-2.1 installs into /usr/share/dotnet/shared/Microsoft.AspNetCore.All but dotnet lives in /usr/lib64/dotnet/shared/. Creating the symlinks makes it go brrr

ln -s /usr/share/dotnet/shared/Microsoft.AspNetCore.All/ /usr/lib64/dotnet/shared/Microsoft.AspNetCore.All
ln -s /usr/share/dotnet/shared/Microsoft.AspNetCore.App/ /usr/lib64/dotnet/shared/Microsoft.

[2021-01-30 00:46] #5873 closed

[2021-01-30 00:46] #5872 closed

[2021-01-30 00:51] marcpopMSFT commented on #5853
## SDK: .NET CLI adopting the [System.CommandLine](https://github.com/dotnet/command-line-api) libraries

Adopting System.CommandLine lights up three features in the .NET CLI

- Response files so you can save your command line arguments in a file or update them dynamically
`dotnet build @demo.rsp`
![DotnetResponseFiles](https://user-images.githubusercontent.com/12663534/106341278-83eaac80-6251-11e

[2021-01-30 07:19] saurabh-devloper opened #5893 "Unable to find image 'mymicroservice:latest' locally"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/run-docker
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
![Screenshot (84)](https://user-images.githubusercontent.com/66743448/106350126-8c96bd80-62f9-11eb-97f1-d4fd8e0

[2021-01-30 15:37] sguryev commented on #5884
https://github.com/NuGet/Home/issues/10491#issuecomment-769610324

[2021-01-30 17:24] zcy-729 opened #5894 "i finished typing when i created the application"
Creating this template will make changes to existing files:
  Overwrite   myApp.csproj
  Overwrite   Program.cs

Rerun the command and pass --force to accept and create

I finished typing when I created the application
dotnet new console -o myApp
When this happens, what should I do

[2021-01-31 12:49] gilmore1996 opened #5895 "Opening Visual studio 2019 from Unity opens blank visual studio screen not code file"
Problem encountered on https://dotnet.microsoft.com/learn/games/unity-tutorial/add
Operating System: windows

Using the tutorial, when double clicking the spin cube file to open the script in visual studio, visual studio opens but with a blank screen, not code file appears

[2021-01-31 12:58] gilmore1996 commented on #5895
Resolved, was requiring visual studio to run as administrator, stopped that and now file opens as expected if anyone encounters this same issue

[2021-01-31 12:58] #5895 closed

[2021-01-31 13:23] afr1983 opened #5896 "Managed Debugging Assistants"
Are there plans to bring the MDAs (Managed Debugging Assistants) to .NET Core / .NET 5?

I just spent an awful lot of time trying to pinpoint an issue that could have been easily fixed by having MDAs.

For those who don't know, in .NET Framework these assistants are extra checks done (when enabled) by the runtime  when dealing with unmanaged code. In my case, a .NET function was passed as a callba

[2021-02-01 06:36] silencej opened #5898 "libgdiplus import error with building environment dependency"
### TL;DR Cause

It turns out the latest libgdiplus.so is not working in alpine linux v3.10.4:

[code]

### Description

In Jenkins+Kaniko build environment, the built image when running complains about "libgdiplus not found".

While manually building the same Dockerfile and codes with `docker build`, the built image works well.

#### When it is working:

`strace`

[code]

[code]

**** When it's n

[2021-02-01 07:04] silencej commented on #5898
libgdiplus is in testing repo, so we'd better to stablize its version when building the docker image. Close the issue and hope it can help those bothered by the similar problems.

[2021-02-01 07:04] #5898 closed

[2021-02-01 10:17] nikhiltha opened #5899 "http://%2F%2F.%2Fpipe%2Fdocker_engine/v1.24/build?buildargs=%7B%7D&cachefrom=%5B%5D&cgroupparent=&cpuperiod=0&cpuquota=0&cpusetcpus=&cpusetmems=&cpushares=0&dockerfile=Dockerfile&labels=%7B%7D&memory=0&memswap=0&networkmode=default&rm=1&shmsize=0&t=hello%2Fdocker&target=&ulimits=null&version=1"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/docker-image
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-02-01 14:06] Gladskih opened #5900 "PLINQ: throwing empty AggregateException leads to ObjectDisposedException"
### Description
Being faced this unexpected behavior I found corresponding [thread on stackoverflow.com from 2013](https://stackoverflow.com/a/19392562/2336304)
[Reproducing on .Net 5: https://dotnetfiddle.net/zT8Djq](https://dotnetfiddle.net/zT8Djq)
[code]

The problem is caused by QueryTaskGroupState.QueryEnd() implementation.

[2021-02-01 16:06] mairaw commented on #5899
It’s not clear what’s the error you’re getting based on the title. Can you provide more information on the comments?

[2021-02-01 17:35] jonsequitur commented on #5853
In System.CommandLine, these `[ ]`-delimited tokens are called directives. You can see additional details on this syntax here: https://github.com/dotnet/command-line-api/blob/main/docs/Syntax-Concepts-and-Parser.md#directives. A little more info on the `[parse]` directive here: https://github.com/dotnet/command-line-api/blob/main/docs/Features-overview.md#parse-preview.

[2021-02-01 17:37] jonsequitur commented on #5853
Also worth mentioning that the `[suggest]` directive's main purpose is to provide tab completion using `dotnet-suggest`. More info here: https://github.com/dotnet/command-line-api/blob/main/docs/dotnet-suggest.md.

[2021-02-01 18:01] joewoess commented on #5465
The experience for beginners isn't that bad in my opinion, especially with top level statements and the online editors embedded on the tutorial pages, but the jump from learning what loops and classes are to bigger goals could use some work,

For people coming from different coding languages I personally miss a short and compact version of the docs (unless I'm missing something). As an example I'l

[2021-02-01 21:19] jaymie86 opened #5901 "API issue"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-02-01 21:41] cdmihai commented on #5699
I think that adding a new first class concept to MSBuild, that of arbitrary build dimensions, would solve these 'we want to add yet another dimension' types of issues once and for all. A build dimension could be defined as a key value map: `{foo:"bar", zoo:"roo"}` `{TargetFramework:"net472", RuntimeId:"win", Configuration="Debug", Architecture="x64"}`. In MSBuild they could be expressed via regula

[2021-02-01 21:49] mairaw commented on #5901
Can you describe what API issue you're having?

[2021-02-01 22:00] mairaw commented on #5894
Have you run the same command twice @zcy-729? The error message is telling you that you have already a project on that location. You can either delete the existing folder and start over, or pass the `--force` option as the error message is telling you. Is this related to one of the tutorials on the dot.net website?

[2021-02-01 22:04] mairaw commented on #5893
and what was the result of running `docker build -t mymicroservice .` on the previous step? It seems you only have an image that you created 10 days earlier.

[2021-02-01 22:05] mairaw commented on #5893
Tagging @nishanil and @shirhatti for suggestions as well

[2021-02-01 23:41] danmosemsft commented on #5699
We should get an engineering owner assigned to this, like every P0 story. It can always change later. Is that you @marcpopMSFT or someone on your team?

[2021-02-02 00:05] marcpopMSFT commented on #5699
My understanding is that the largest set of the work for this would be from NuGet so @aortiz-msft would probably be the M1 owner.

[2021-02-02 03:33] danmosemsft commented on #5699
@aortiz-msft thoughts?

[2021-02-02 11:19] karelz commented on #5713
@shirhatti @JamesNK ping?

[2021-02-02 13:45] errorsolve commented on #5884
All Possible Solution added At [[solved] The author primary signature’s timestamp found a chain building issue: UntrustedRoot: self-signed certificate in certificate chain](https://exerror.com/the-author-primary-signatures-timestamp-found-a-chain-building-issue-untrusted/)

[2021-02-02 13:59] qfyra opened #5902 "503 Service Unavailable / 500.30 ANCM In-Process Start Failure"
I'm here to tell you that deploying the latest Visual Studio 2019 version of the .NET Core 3.1 web API template to a brand new basic instance in Azure does not work, and neither does deploying the template to a previously known working instance, nor does deploying existing previously working code to an existing previously working instance.

And to be clear, my main issue is that my custom code doe

[2021-02-02 17:37] Flvame opened #5903 "I'm on a 64-bit operating system, x64-based processor. My error code message says error code 1. This is the code that i'm using @page @model IndexModel @{ ViewData["Title"] = "Home page"; } <div class= "text-center"> <h1>Hello, world!</h1> <p>The time on the server is @DateTime.Now</p> </div>"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-02-02 18:08] Flvame commented on #5903
I solved my problem, I was opening the Index.chstml.cs file in Pages when I should have been opening the Index file in Pages.

[2021-02-02 18:08] #5903 closed

[2021-02-02 20:56] lerichardson opened #5904 "Allow outside access [Blazor]"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/run
Operating System: CentOS 7 linux

I am trying to set up a Blazor environment on my VPS and I'm trying to access it from the port 8080 instead of 5000. I tried both answers on [This stackoverflow post](https://stackoverflow.com/questions/65689042/is-there-a-way-to-make-blazor-allow-outside-http-access) and it still

[2021-02-02 21:04] omajid commented on #5904
This program is using the `http://localhost:8080` URL. The `localhost` part means that it's only accessible from the same machine, not from anywhere else. Maybe you want to try changing it to this:

    "Urls": "http://0.0.0.0:8080"

[2021-02-02 21:09] lerichardson commented on #5904
Already tried that. Nothing changes. Same error from my browser.
[code]
I have looked at my firewall. Port 8080 is open.

[2021-02-02 21:13] lerichardson commented on #5904
I stand corrected. I am used to using Debian/Ubuntu Linux distros that have 8080 open by default.

I am very sorry for being such an idiot.

[2021-02-02 21:13] #5904 closed

[2021-02-02 21:17] mairaw commented on #5904
Don't be so harsh on yourself. Is there something we could add to the tutorial that would make this easier?

[2021-02-02 21:17] cassadichase opened #5905 "It's coming up as an error"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/edit
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
<img width="817" alt="Screen Shot 2021-02-02 at 4 17 42 PM" src="https://user-images.githubusercontent.com/78448074/1066

[2021-02-02 21:19] lerichardson commented on #5904
I'm not sure. I don't know if this is a common question/problem. I don't see why it wouldn't need to, but I also don't see why it would.

[2021-02-02 21:22] mairaw commented on #5904
Fair enough.

[2021-02-02 21:25] mairaw commented on #5905
@cassadichase you need to open the Program.cs file that is inside the myApp directory and then paste that content. Let us know if that helps.

[2021-02-02 21:57] terrajobst commented on #5725
@Rand-Random I'm not sure I understand. Is the concern merely around the version number? `net5.0-windows` is special in that it's the only TFM really where we allow developers to omit the version from the project file. For the others we'll generally push developers to specify the version number.

`net5.0-windows` is just a shorthand for `net5.0-windows7.0`.

[2021-02-02 22:06] AhmedAbdallah13 opened #5906 "Failed to load the dll from [C:\Program Files\dotnet\host\fxr\3.1.11\hostfxr.dll ], HRESULT: 0x80070057"
how to fix this error ???

Failed to load the dll from [C:\Program Files\dotnet\host\fxr\3.1.11\hostfxr.dll
], HRESULT: 0x80070057

this happened after i install .net skd 5.0.1 and when i type in cmd any thing after word " dotnet " like that the error happens
- dotnet new console
- dotnet --info

![5123](https://user-images.githubusercontent.com/78449243/106668972-a2cfa280-65b3-11eb-824c-c1a4a784d

[2021-02-02 22:09] AhmedAbdallah13 commented on #5906
I want an answer in the shortest time pleaseeeeeeee

[2021-02-02 23:06] mairaw commented on #5906
@AhmedAbdallah13 what's the version of your Windows? You might need to install some additional dependencies:
https://docs.microsoft.com/en-us/dotnet/core/install/windows?tabs=net50#additional-deps

Here is a thread related to this:
https://developercommunity.visualstudio.com/content/problem/805039/net-core-30-failed-to-load-dll.html

/cc @jeffschwMSFT @nguerrera

[2021-02-02 23:52] OliaG opened #5907 "WinForms developers have great experience with their .NET Core and .NET 5, 6 ,... apps"

[2021-02-03 00:58] jeffschwMSFT commented on #5906
@AhmedAbdallah13 can you collect a host trace for us?  Here are the instructions: https://docs.microsoft.com/en-us/dotnet/core/dependency-loading/default-probing#how-do-i-debug-the-probing-properties-construction

cc @vitek-karas @agocke

[2021-02-03 02:06] JamesNK commented on #5713
Last I heard it was P2 but I'm not involved in meetings where this gets decided 🤷‍♂️

[2021-02-03 05:17] #5870 closed

[2021-02-03 09:32] integral2dev commented on #2001
this worked for me. by changing the port

[2021-02-03 10:54] Rand-Random commented on #5725
@terrajobst
On this page you can see all the supported Operating Systems which net.5.0 supports (without any suffix).
https://github.com/dotnet/core/blob/master/release-notes/5.0/5.0-supported-os.md

My question is if the suffix further limits the supported Operating Systems or not.
eg. does "net5.0-windows" support the "Nano Server", or is there a possibility that the "windows" suffix limits the

[2021-02-03 11:36] kryptobi opened #5908 ".NET5 build crashes with BigSur (SIGABRT)"
when i try to build my .net5 solution the dotnet application crashes and i got following log message:

System Integrity Protection: enabled
Crashed Thread:        0  Dispatch queue: com.apple.main-thread

Exception Type:        EXC_CRASH (SIGABRT)
Exception Codes:       0x0000000000000000, 0x0000000000000000
Exception Note:        EXC_CORPSE_NOTIFY

The curious thing is, if i ignore the crash, the

[2021-02-03 13:04] efrainsteinbach opened #5909 "C# record types .ToString() doesn't detect circular references"
### Description

I ran into StackoverflowExceptions caused by infinite loops of ToString() calls in self-referencing record types. This is surprising, because to my understanding, record types should be immutable - so in theory circular references should not be possible. (I observed this with records used as EF entities, and the navigation properties often create circular references). I wondered h

[2021-02-03 18:38] #5886 closed

[2021-02-03 19:38] mangod9 commented on #5853
## Portable Threadpool is enabled by default.

This is a managed implementation of the runtime Threadpool. More details are included as part of this PR: https://github.com/dotnet/runtime/pull/38225. We dont expect any functional or performance impact as part of this change, but if there is any issue it can be disabled using `COMPlus_ThreadPool_UsePortableThreadPool=0`

[2021-02-03 21:25] omajid commented on #3886
Hey @j-hudecek! Thanks for pointing this out.

In case you are not aware, there's a workaround for this [documented here](https://access.redhat.com/documentation/en-us/net/2.1/html-single/getting_started_with_.net_on_rhel_7/index#publishing-asp-dotnet-apps_using-dotnet-on-rhel). The TLDR is to publish applications like this:

    dotnet publish -f netcoreapp2.1 -c Release -r rhel.8-x64 --self-cont

[2021-02-03 21:49] mangod9 commented on #5853
## System.Private.Corelib assembly now precompiled by crossgen2

We have started to roll broader crossgen2 based pre-compilation. In preview1 corelib is compiled using crossgen2. Going forward we expect all Framework assemblies would be compiled with it. We havent observed any performance differences, but there are a few differences with crossgen1 in terms of which methods are compiled.

The sdk s

[2021-02-03 22:54] shanieMoonlight opened #5910 "ClickOnce Publish Failure - library not found"
I'm having a problem publishing a WPF app.

It seems to be caused by the "Publisher" looking for the dll's (from referenced projects) in the wrong place.

I'm getting this error in the Output Window:

Metadata file 'C:\***\DeviceInfo\bin\Release\net5.0-windows\DeviceInfo.dll' could not be found
Metadata file 'C:\***\Helpers\bin\Release\net5.0-windows\Helpers.dll' could not be found

The referenced

[2021-02-03 22:58] zachrybaker commented on #5230
I am still reproducing this, fwiw, in the scenario of a solution with a mix of v2015 and v2015 (sdk-style) csproj formats, where the targetframwork is net472 on the sdk csprojs and v4.7.2 on the v2015 csprojs, with one of the final projects requiring a nuget package that has     <TargetFrameworks>netstandard2.0;net472</TargetFrameworks>

the restore solution will bring in the nuget package depende

[2021-02-03 23:20] carlossanlop commented on #5910
Since this is a Publish related issue, seems to belong to dotnet/sdk. Moving there.

[2021-02-03 23:27] carlossanlop commented on #5896
@terrajobst @richlander @danmosemsft do you know who can answer this question?

[2021-02-03 23:30] carlossanlop commented on #5881
Are you using Visual Studio? If yes, do you see nuget sources when you go to Tools -> Options -> NuGet Package Manager -> Package sources? I ask because your error message says `Microsoft Visual Studio Offline Packages`

@dagood is this something in your area?

[2021-02-03 23:40] carlossanlop commented on #5866
No response in 9 days. Closing.
@FreeTimeWorker feel free to reopen if you want to followup.

[2021-02-03 23:40] #5866 closed

[2021-02-03 23:41] carlossanlop commented on #5869
@jeffschwMSFT do you know who the best contact is for answering this question?

[2021-02-03 23:42] scalablecory commented on #5869
One library you might try is Polly, but it really depends on what features you were using in EnterpriseServices.

@Pilchie do you have any advice here?

[2021-02-03 23:43] carlossanlop commented on #5865
Closing since it seems to be resolved. Please create a new issue if you see this problem again.

[2021-02-03 23:43] #5865 closed

[2021-02-03 23:45] carlossanlop commented on #5834
No response in 20 days. Closing.

[2021-02-03 23:45] #5834 closed

[2021-02-03 23:47] carlossanlop commented on #5788
Hey @Pilchie do you know who the best contact for Blazor is?

[2021-02-03 23:50] carlossanlop commented on #5787
@jeffschwMSFT is this a problem with the host not finding the DLLs? Any chance you can help route this?

[2021-02-03 23:51] carlossanlop commented on #5781
Ping @joeloff

[2021-02-03 23:51] carlossanlop commented on #5753
Closing since the issue was routed to VS.

[2021-02-03 23:51] #5753 closed

[2021-02-03 23:52] #5736 closed

[2021-02-03 23:53] jeffschwMSFT commented on #5787
@carlossanlop I would start with our crypto experts first.

cc @GrabYourPitchforks

[2021-02-03 23:56] carlossanlop commented on #5714
No response in 21 days. Closing.

[2021-02-03 23:56] #5714 closed

[2021-02-03 23:57] carlossanlop commented on #5708
@scottadie can you please move this issue to https://github.com/dotnet/AspNetCore.Docs or https://github.com/dotnet/AspNetDocs ?

[2021-02-03 23:58] danmosemsft commented on #5896
@tommcdon can

[2021-02-03 23:59] carlossanlop commented on #5697
This seems to be a problem with the  https://github.com/natemcmaster/DotNetCorePlugins repo. Please open this issue in that repo.

[2021-02-03 23:59] #5697 closed

[2021-02-04 00:01] mairaw commented on #5788
I'd ping @danroth27 for Blazor issues

[2021-02-04 00:03] carlossanlop commented on #5689
The last comment seems to provide a potential solution. I'm closing this.
@maaroen feel free to reopen if you'd like to follow up.

[2021-02-04 00:03] #5689 closed

[2021-02-04 00:05] danroth27 commented on #5788
Adding @mkArtakMSFT to take a look from the engineering side for Blazor.

[2021-02-04 00:10] Pilchie commented on #5788
@kulashaker30 any chance you can get what the commandline of the `dotnet` process is?

Also tagging @sebastienros for advice on getting a trace so we can see where time is being spent.

[2021-02-04 00:11] Pilchie commented on #5869
Also tagging @glennc.  Unfortunately, I'm not very familiar with EnterpriseServices.

[2021-02-04 00:23] jeffschwMSFT commented on #5869
EnterpriseServices is COM+ (dynamic com with remoting).  There is not a straight equivalence in .NET Core.  I am seeking the right set of folks to include.

[2021-02-04 00:48] Decent1998 opened #5911 "Couldn't find a project to run. Ensure a project exists in C:\Users\Darlington, or pass the path to the project using --project."
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/edit
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-02-04 00:53] mairaw commented on #5911
Did you navigate to the project's directory as instructed in the previous step?
https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create

[2021-02-04 01:29] ckl881003 opened #5912 "multipe threads ui app get Hashtable insert failed. Load factor too high. The most common cause is multiple threads writing to the Hashtable simultaneously."
It always get the exception after start applicaion 6-24 hours.

Get the exception at CurrentDispatcher_UnhandledException event.

Hashtable insert failed. Load factor too high. The most common cause is multiple threads writing to the Hashtable simultaneously.

 at System.Windows.Markup.XamlReader.RewrapException(Exception e, IXamlLineInfo lineInfo, Uri baseUri)
   at System.Windows.FrameworkTempla

[2021-02-04 01:55] zxgamekingdom opened #5913 "When record implements an interface with events, the compiler throws exceptions."
In .Net 5, record can implement the interface, right? When record implements an interface with events, the compiler throws exceptions, not syntax error.
[code]
[code]

[2021-02-04 02:59] xt0rted commented on #5881
@carlossanlop this happened in a couple of my repos as well. It only happens when building on github actions with a windows vm while using the `setup-dotnet` action. I fixed it by adding a `nuget.config` even though I don't need one.

The issue popped up out of no where for me, and by the sound of it the same is true most of the people reporting the issue (and linking to it) in https://github.com/

[2021-02-04 03:59] dagood commented on #5881
I don't know what could cause this, especially with `dotnet nuget locals all --clear` being a way to fix it. That makes me think it can't be something as simple as a machine misconfiguration (a bad global or user-level NuGet.config file). However, it isn't my area.

I think https://github.com/NuGet/Home/issues would be the right place to get help debugging this.

[2021-02-04 04:31] rbhanda commented on #5748
https://github.com/dotnet/runtime/releases/tag/v5.0.2 - This issue should be resolved going forward.

[2021-02-04 04:31] #5748 closed

[2021-02-04 04:33] rbhanda commented on #5860
Hi @ogreenz  I followed up on this with our internal team but they were not able to repro this . Are you still seeing this issue?

[2021-02-04 06:38] Rezaclipper opened #5914 "Don't know if this is related, but I'm having a similar issue with dotnet-sdk-3.1-3.1.405-1.x86_64:"
Don't know if this is related, but I'm having a similar issue with dotnet-sdk-3.1-3.1.405-1.x86_64:
![image](https://user-images.githubusercontent.com/1418261/105088586-b6322800-5a61-11eb-8166-febd1e4831b2.png)

Same file size issue:
![image](https://user-images.githubusercontent.com/1418261/105090255-d19e3280-5a63-11eb-9544-f0923f5db5a9.png)

_Originally posted by @beanotj in https://github.com/d

[2021-02-04 07:19] maaroen commented on #5689
@carlossanlop You're right, that's a solution that works for now, I completely forgot about this issue, thanks for closing it!

[2021-02-04 08:09] RowlandShaw commented on #5642
Agree this is closed - when it was originally raised it was the case that installing (say) 2.0.10 would not remove 2.0.9, but I think that behaviour changed in 2019/early 2020

[2021-02-04 13:52] ogreenz commented on #5860
Hi @rbhanda, yes downloading the files again yield the exact same result.
Are you telling me you're downloading:
[code]
and getting MD5 of
```99722ef91df57fac1723ce50450ce029```
as written in the Packages file, line 928.

I think it's pretty binary either they are the same hash or they aren't.

[2021-02-04 14:20] mikhail-barg commented on #3769
Is there any progress on this issue? We are using `LoadAssembly` to load results of Roslyn compilation for thousands of small assemblies, and things get really ugly with all FD pool is wasted on /dev/zero (

[2021-02-04 14:24] mikhail-barg commented on #3769
Would you mind please reopening this issue for it does not seem to be aspnet-related? We are not using aspnet, but are affected by this problem still

[2021-02-04 15:25] rbhanda commented on #5860
Thanks for reporting @ogreenz . Since this package is not owned by .NET, I am not sure how else I can help here. Are you able to contact support for this package as suggested

https://github.com/dotnet/core/issues/5860#issuecomment-763158842

[2021-02-04 16:19] dagood commented on #5914
beanotj reported this issue was resolved in https://github.com/dotnet/core/issues/5856#issuecomment-763176708.

@Rezaclipper, Maybe you meant to copy @Chardrazle's comment from later in https://github.com/dotnet/core/issues/5856? It's the last comment in the thread (no resolution) and has to do with the same package:

I'm not able to reproduce the issue after 30 downloads from my machine, but you

[2021-02-04 19:55] adenurkamal opened #5915 "sistem error karena program api-ms-win-crt-runtime-11-1-0,dll"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-02-04 20:06] Chardrazle commented on #5856
To follow up, we've not had any occurrences of the corrupt version for at least a week now.  So it looks like the correct one has propagated.

[2021-02-04 20:42] dagood commented on #5914
I'm going to close this now: it looks like that other issue has also been resolved (at least, it appears to have been working ok for a week): https://github.com/dotnet/core/issues/5856#issuecomment-773572078

@Rezaclipper, if you're running into a similar issue, please open a new issue with some more details and make sure to include the IP address and/or specific server and URL you're downloading

[2021-02-04 20:42] #5914 closed

[2021-02-04 21:50] mairaw commented on #5915
What version of Windows are you running on? You might be missing some dependencies listed on the previous page
https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install

![image](https://user-images.githubusercontent.com/12971179/106959700-e3ccd180-66ef-11eb-90cd-e950a523941c.png)

[2021-02-05 10:07] fornever847 opened #5916 "Biggz a lot"
### Description
Auto raw nauseous, won't shut up

### Configuration

Won't shut up
### Regression?

### Other information

[2021-02-05 10:12] bosunoke opened #5917 "Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create Operating System: windows"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-02-05 17:28] dagood commented on #5860
It looks like the latest version of the package isn't affected, only the old one. (I don't have insight into what the packages.microsoft.com team did to try and fail to repro the problem, though.) Here's a simple repro using Docker for a fresh start:

[code]

[code]

This might be useful for a report to SQL/Azure to narrow it down.

[2021-02-05 18:08] Perezented commented on #5917
Does it look like this?
I was following the tutorial and have this issue. I cannot make a .NET program due to not having an application named 'new' when I want to create a new one. I have installed SDK 5.0102, ASP.NET Core Runtime 5.02, .NET Desktop Runtime 5.0.2, .NET Runtime 5.0.2, the .NET Core 3.1 as well. Nothing fixed this issue even though I went to the link in the error.

[code]

[2021-02-05 18:10] mairaw commented on #5917
@bosunoke we'll need a bit more information about the problem you're having in order to help you. Can you paste the error message or screenshots?

[2021-02-05 18:11] mairaw commented on #5917
@Perezented can you show the output of running `dotnet --info`? That would show us what SDKs you have installed.

[2021-02-05 18:13] Perezented commented on #5917
Thanks @mairaw
Here's what I have:

[code]

[2021-02-05 18:16] mairaw commented on #5917
It's saying you don't really have the SDK installed, just runtimes @Perezented. Have you downloaded the SDK directly from this page? https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install

We try to give you the direct link to download. Choose the 32-bit or 64-bit version depending on your Windows version.

[2021-02-05 18:19] mairaw commented on #5916
Doesn't seem related to .NET. Closing.

[2021-02-05 18:19] #5916 closed

[2021-02-05 18:22] Perezented commented on #5917
I had been installing from this source originally: https://dotnet.microsoft.com/download/dotnet-core
I found the tutorial and I did download it from your stated source.
I am about to uninstall and try to install it fresh

[2021-02-05 18:26] mairaw commented on #5917
It's fine to go to that page but then you need to be sure to download the SDK. Please let me know how the process goes for you. Also, if you don't mind telling me why you haven't used the download button directly from the tutorial, I'd love to understand the reasoning since we try to make as easy as possible for new developers.

[2021-02-05 18:31] Perezented commented on #5917
I know JS so I googled a download for C# and I got that download/dotnet-core page.

I found the tutorial today. Just trying to get it setup to learn C#.

The https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install does the installation but I do not get the .NET SDK in the dotnet --info still. Even the repair does not add it to that section.  The runtimes did not uninstall as well. V

[2021-02-05 18:33] Perezented commented on #5917
I have used that button a couple of times as well. I found the tutorial I attempted that download after I could not create a new project

[2021-02-05 18:34] mairaw commented on #5917
It shouldn't be required to reboot @Perezented. Did you open a new command prompt? And what do you see in Add or remove programs?

[2021-02-05 18:46] Perezented commented on #5917
I have been opening new command prompts as well as switched over to PowerShell at one point.

So the uninstall button on the installers.exe's did not uninstall it. I went through the Settings, App & Features to get it uninstalled. Here is what I have now

[code]
I will give that button another go from the hello-world-tutorial

[2021-02-05 19:00] Perezented commented on #5917
The hello-world-tutorial dotnet-sdk-5.0.102-win-x64.exe did not give any different results. I still do not have a .NET Core SDK installed.
I open up the installer afterwards and it acts as if though it is installed. Repair and Uninstall are options now.
![apps feats](https://user-images.githubusercontent.com/57721734/107077059-f3acea00-67b1-11eb-897c-3ac07d5755e3.PNG)
![sdk_exe](https://user-image

[2021-02-05 19:20] mairaw commented on #5917
@KathleenDollard @timheuer any suggestions here for @Perezented to try? See the thread above for context.

[2021-02-05 19:45] predavid commented on #5853
## Windows Presentation Framework (WPF) : ARM64 Support

WPF ARM64 support is now available in official .NET SDK builds, 6.0.100-preview.1.21072.23 or later

Build available here : https://aka.ms/dotnet/net6/dev/sdk/dotnet-sdk-win-arm64.exe

Please provide your feedback here : #1817

[2021-02-05 21:05] Perezented commented on #5917
@bosunoke
Are the sdk's installing correctly? I completely ignored the binaries on this page: https://dotnet.microsoft.com/download/dotnet/5.0

Solution: Pretty much download the binaries, delete everything in C:\Program Files (x86)\dotnet, paste zip contents(binaries) into C:\Program Files (x86)\dotnet

Source: https://stackoverflow.com/questions/63746838/net-sdks-not-installing-correctly

The in

[2021-02-05 21:55] mairaw commented on #5917
Glad to hear @Perezented. I'll take this feedback to the team. Thanks for sharing the Stack Overflow thread as well.

[2021-02-05 23:08] ogreenz commented on #5860
Hi @rbhanda, the package isn't owned by .NET but this repo is where you update .NET core from, and it's broken.
Another option here is just to remove the package if it's not used anywhere or, fix the hash file.

[2021-02-06 08:23] CalinBunea opened #5918 "Some functionalities are much slower on Linux compared to Windows"
### Description
Hi,
I'm working in BigData field and I have noticed that some functionalities (like String related methods) are extremely slow on .NET Core running on Linux Ubuntu 18.04 compared to Windows Server 2012. The performance difference is like 30X-50X. This issue is present in .NET Core 2.X, 3.X, 5.X. To me this is quite embarrassing and I am seriously thinking to quit working with .NET

[2021-02-06 18:51] MarcPhilippeJoly commented on #4758
Same issue for me (-bash: dotnet: command not found), and opening a new terminal window doesn't fix it.

Where is dotnet actually installed by the installer ?
What is the required context ?
Is it Intel Core 2 Duo compatible ? etc…

[2021-02-06 21:31] perlun commented on #5918
I don't question the issue you are seeing, but I strongly suggest you work a bit on the attitude with with you approach the .NET team on this. (I am not a part of this team myself, just happened to bump into this issue.)

I am 100% that _a lot_ of performance benchmarking has already taken place for .NET (Core), on all supported platforms.

Myself being completely unaware on how the GUID generatio

[2021-02-06 23:02] samarmohan opened #5920 "Change branch name from master to main."
The word main is more inclusive than master. Master refers to slavery and makes some people feel lesser. Changing the branch name is a small but important gesture.

[2021-02-07 01:05] rgwood commented on #5473
I _love_ this proposal and I hope it makes it for .NET 6!

One thing to add: as described, Simple Apps seem like they will also be popular for scripting purposes and ad-hoc coding. The potential audience is much broader than just “developers who are learning .NET.”

I could see myself using a Simple App in CI pipelines, to replace Python/Bash/PowerShell scripts. Similarly, I could see myself using

[2021-02-07 06:32] Lookman98 opened #5921 "cannot run dotnet --version"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

It was not possible to find any installed .NET Core SDKs. Did you mean to run .NET Core SDK commands? Install a .NET Core SDK from:
https://aka.ms/dotnet-download

![image](https://user-images.githubusercontent.com/29520080/107138764-30fbae00-6951-11eb-9595-b2cb07fc28de.png)

alr

[2021-02-07 09:41] abdulhakimMElrhumi opened #5922 "dotnet new webapp -o myWebApp --no-https"
Object reference not set to an instance of an object.
   at Microsoft.TemplateEngine.Edge.Settings.SettingsLoader.Save(TemplateCache cacheToSave)
   at Microsoft.TemplateEngine.Edge.Settings.SettingsLoader.Save()
   at Microsoft.TemplateEngine.Cli.Installer.InstallPackages(IEnumerable`1 installationRequests, IList`1 nuGetSources, Boolean debugAllowDevInstall, Boolean interactive)
   at Microsoft.T

[2021-02-07 10:59] CalinBunea commented on #5918
Work on my attitude you say... I've always defended .NET in debates with other people who claimed that Python is better for BigData what so ever. My philosophy was always that the language should not matter if you do your implementation correctly. But when such a basic functionality like string.IndexOf is about 50 times  slower than it should be, on a framework which is developed by 4+ years now,

[2021-02-07 15:20] Jdahir0511 opened #5923 "created myApp and cannot get program.cs to work"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-02-07 20:03] lucent-sea opened #5954 "ClickOnce - Are there similar APIs to those in `System.Deployment.Application` for .NET 5? Any plans to port them?"
I'm sorry if there's existing documentation or issues on this.  I couldn't find any.

Were any APIs from `System.Deployment.Application` namespace ported to .NET 5 with ClickOnce?  If so, could you link me the docs?  If not, are there any plans to bring them over?

[2021-02-07 21:17] perlun commented on #5918
Yes, please.

I am not in any way saying that `string.IndexOf()` couldn't be optimized, but such an operation is always and will always be an `O(n)` operation as I'm sure you're aware of. Depending on what specific problem you are working on (I'm not an expert in Big Data in any way), there could be other more suitable tree-oriented data structures that could be used such as a [trie](https://en.wi

[2021-02-08 08:59] rocky-mera-naam opened #5924 ".NET"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-02-08 09:57] sinisteralex opened #5925 "RZ10012 add a @using directive for its namespace"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/modify
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-02-08 09:58] sinisteralex commented on #5925
Found markup element with unexpected name 'Counter'. If this is intended to be a component, add a @using directive for its namespace.

[2021-02-08 16:19] matthisholleville commented on #4921
I had same issue... WTF is this issue.. HELP

[2021-02-08 16:22] simplicbe commented on #4921
@Crispried please let me know if you find some other solution, randomly this is happening in my deployments as well. Create a new container from the same codebase helps sometime.

[2021-02-08 16:38] #5899 closed

[2021-02-08 16:54] frankwwu opened #5926 "DataSet.ReadXml() throws exception"
Following C# code throws exception for .NET Core 3.1 and 5. However, it works for .NET Framework 4.8.

[code]

[data.zip](https://github.com/dotnet/core/files/5945263/data.zip)
[data.zip](https://github.com/dotnet/core/files/5945272/data.zip)

Exception message:

**XmlSchemaException: Type 'http://schemas.microsoft.com/sqlserver/2004/sqltypes:int' is not declared, or is not a simple type.**

The i

[2021-02-08 20:01] JerryLyvers opened #5927 "Watch not working for newly created project"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/add
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Changes to .razor files do not trigger a rebuild as stated in the tutorial.  Note that changes to the .csproj file will tri

[2021-02-08 21:42] mairaw commented on #5927
Hey @danroth27 can you help here?

[2021-02-08 22:42] #5893 closed

[2021-02-08 22:42] #5894 closed

[2021-02-08 22:42] #5901 closed

[2021-02-08 23:15] danroth27 commented on #5927
@JerryLyvers Thanks for sharing this feedback! To help us diagnose this issue, could you please share the following additional details:
- What version of Windows are you using?
- What is the full console output from `dotnet watch run` when you try to make these code changes?

@pranavkm

[2021-02-09 00:33] mairaw commented on #5924
Can you provide some details about the problem you're having?

[2021-02-09 01:20] smande00 commented on #5672
I'm also seeing this issue - I've even tried adding a global.json pointed to 3.1.404 with no luck.

[2021-02-09 10:12] kurtisane opened #5928 "CultureInfo in Dotnet Core"
Hi,
I'm quite confused regarding CultureInfo, Parallesism, Scopes etc.
When a CultureInfo is set, it is set for a thread. For my understanding all Tasks that run in a Thread get the CultureInfo of the Thread they run in and when any of the Task changes the CultureInfo it is changing the CultureInfo of the whole Thread and therefore all of the Tasks. I have the assumption that scopes don't run in s

[2021-02-09 14:49] RheaAyase commented on #5596
.NET 5 is in F33 and rawhide, soon to be in F32 as well. On that note I think that we can close this issue.

[2021-02-09 14:49] #5596 closed

[2021-02-09 17:29] shirhatti opened #5929 ".NET applications are observable and easily diagnosable"
By adding primitives to the .NET libraries for distributed tracing, metrics, and logging, .NET applications will be observable and easily diagnosable. These primitives will implement open standards defined the the OpenTelemetry project and will allow for instrumentations by multiple APM vendors.

## Work Items
- [x] dotnet/runtime#44445
- [x] dotnet/runtime#47313
- [ ] dotnet/runtime#22336
- [ ] d

[2021-02-09 17:50] smande00 commented on #5672
After killing the build and restarting several times I did get it to eventually build. For whatever reason subsequent builds (even clean builds) don't demonstrate the issue any more.

[2021-02-09 18:06] rbhanda opened #5932 ".NET Core February 2021 Update - 5.0.3, 3.1.12, 2.1.25"
Release Notes
[5.0.3](https://github.com/dotnet/core/blob/master/release-notes/5.0/5.0.3/5.0.3.md)
[3.1.12](https://github.com/dotnet/core/blob/master/release-notes/3.1/3.1.12/3.1.12.md)
[2.1.25](https://github.com/dotnet/core/blob/master/release-notes/2.1/2.1.25/2.1.25.md)

Please report any issues you find with .NET 5.0.3, .NET Core 3.1.12 or .NET Core 2.1.25, either responding to this issue, cr

[2021-02-09 18:07] rbhanda commented on #5838
Closing in favor of https://github.com/dotnet/core/issues/5932

[2021-02-09 18:07] #5838 closed

[2021-02-09 20:37] mairaw commented on #5921
I've seen an issue with this before if you installed two versions of the SDK or runtime: an x86 and an x64 version.
Do you think that could have happened?

Can you confirm first that you have an x86 or x64 machine first?

If you have an x64 machine and you want to see the x64 versions that you have installed, you might have to edit your system environment variables to point to C:\Program Files\dot

[2021-02-09 20:41] fillerd53 commented on #5921
Thanks I have a 64

On Tue, Feb 9, 2021, 3:37 PM Maira Wenzel <notifications@github.com> wrote:

[2021-02-09 20:48] mairaw commented on #5921
You can run the command `where dotnet` to figure out which order the host is picking up. In my machine, for example:

![image](https://user-images.githubusercontent.com/12971179/107426341-edca4800-6ad4-11eb-88be-936207480432.png)

If you have an x64, that would be the order you'd expect to see. If it's not, edit your system variables to make sure C:\Program Files\dotnet comes first.

[2021-02-09 21:57] fillerd53 commented on #5921
Thanks again sorta new to this stuff

On Tue, Feb 9, 2021, 3:48 PM Maira Wenzel <notifications@github.com> wrote:

[2021-02-09 22:04] #5905 closed

[2021-02-09 22:04] Alirezanet commented on #5672
I couldn't find the workaround  but solve the problem by removing all migrations from the project. not a great solution but I had no choice...
something is wrong with DotNet 5 build system.

[2021-02-09 22:23] Paddy613 opened #5934 "hello-world"
### Description

### Configuration

### Regression?

### Other information

[2021-02-09 22:27] mairaw commented on #5921
No worries @fillerd53. These things can be tricky!

I also posted this on SO to help other customers having similar problems: https://stackoverflow.com/a/66128116/5075671

[2021-02-09 23:00] mairaw commented on #5934
@Paddy613 did you mean to report an issue with .NET?

[2021-02-10 00:07] #5906 closed

[2021-02-10 01:14] WeihanLi commented on #5932
Could we keep the same nuget package version, seemed it's the same version when netcore3.1 release, but some are different in .NET5, for example:

the latest `Microsoft.Extensions.Http`/`Microsoft.Extensions.Options` is `5.0.0`
the latest `Microsoft.Extensions.Http.Polly` is `5.0.1`
the latest `Microsoft.AspNetCore.TestHost` is `5.0.3`

In .netcore 3.1 and the early .NET5, I use a variable for man

[2021-02-10 03:37] rdfhdgfyhtdtrtgruy555666 opened #5935 "Dotnet issue"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows 7 (x86)

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
![Capture](https://user-images.githubusercontent.com/78721708/107461004-29215100-6b7f-11eb-91c0-8a6a1de132d

[2021-02-10 03:37] #5935 closed

[2021-02-10 05:59] srvkmr130 opened #5936 "Unable to add workflow in .NET 5.0 even after installing uipath.workflow package ."
### Description :
Currently using .NET 5.0 and used uipath.workflow as it ports WF runtime to .NET 5 .Even after this I am unable to create a workflow in .NET 5.0 .

_System.ServiceModel and System.Activities cannot be referenced in any .NET 5.0 application_

**On opening the activity.xaml file:**
[code]

### Regression?
In Previous .NET Frameworks we are able to use this .

Is there any way to us

[2021-02-10 08:17] Jacko1394 commented on #5376
I'm getting this error now, MissingMethod exceptions are ruining Xamarin.Forms for iOS.
I get the same thing with System.Text.Json now...

[2021-02-10 08:37] anirugu opened #5937 "On Ubuntu machine I have .net 5 installed but VS code not able to find it."
I have installed the .net core 5 and I can see it by running dotnet command. I installed it using given instruction on docs on 20.10.

Suddenly today I see vs code not able to find it?. I  tried to create a azure function project. Now it's giving error like .net code is not installed.

![image](https://user-images.githubusercontent.com/35772421/107485027-3c491680-6ba9-11eb-9659-b937453e67e4.png)

[2021-02-10 09:05] dasMulli commented on #5937
This seems to be coming from the Azure Functions extension - https://github.com/microsoft/vscode-azurefunctions

[2021-02-10 13:31] gsscoder opened #5938 "Issue with Chocolatey package"
Dear DotNet Core Team,
I don't know if this the correct place to post the issue in object.

Anyway more and more times when Chocolatey upgrade `dotnetcore-sdk` package it disappears from `dotnet --info`.

Machine is Microsoft Windows 10 professional.

_At moment I'm really busy and unable to add more details. Sorry._

I've reinstalled all SDKs manually.

Have a nice day,
Giacomo S. S.

[2021-02-10 15:43] dasMulli commented on #5672
So for me this compiles in 31 seconds, most of that spent in the CSC task (disabled shared compilation server for now).
However it maxes out my 24 core CPU and uses 22 GiB of RAM (of my 128) while doing that so I assume it will be significantly slower on other machines.

<details>
<summary>Log</summary>
[code]
           13.301   91   Microsoft.EntityFrameworkCore.Analyzers, Version=3.1.9.0, Cultu

[2021-02-10 15:46] dasMulli commented on #5672
On a personal note: I also notice that migrations can become a pain to build. In our current project I've put the migrations in separate projects so they only ever need to build when a migration changes so most builds from IDEs or the CLI will not invoke the full compilation most of the time.

[2021-02-10 17:19] carlossanlop commented on #5938
@dagood is Chocolatey something in our radar?

[2021-02-10 17:21] samsonite98765 opened #5939 "error in dotnet"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/install
Operating System: linux chromebook crouton

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
it said `"/ has 'other' write 40777"`
![Screenshot 2021-02-10 12 10 46 PM](https://user-images.git

[2021-02-10 17:22] ViktorHofer commented on #5699
I think for this a decent amount of work needs to be done by MSBuild, NuGet and the SDK.

[2021-02-10 17:22] carlossanlop commented on #5937
@anirugu did you install the full SDK or just the runtime?

[2021-02-10 17:31] carlossanlop commented on #5936
uipath.workflow looks to be a third party tool. Please consider asking them for guidance. This seems to be their repo: https://github.com/UiPath/CoreWF

AFAIK WF is not officially supported in .NET Core.

[2021-02-10 17:31] #5936 closed

[2021-02-10 17:36] carlossanlop commented on #5925
@mairaw is this tutorial in your area, or should it be transferred to an aspnet repo? cc @Pilchie

[2021-02-10 17:39] carlossanlop commented on #5939
@samsonite98765 did you install dotnet via snap? Can you try reinstalling? Maybe it got corrupted.
cc @dagood

[2021-02-10 17:43] carlossanlop commented on #5920
Github already did that globally for new projects, and we plan on changing the master repo name to main soon in all our dotnet repos. Thank you for the reminder.

[2021-02-10 17:43] #5920 closed

[2021-02-10 17:44] dagood commented on #5938
The Chocolatey .NET SDK packages are maintained by the community: https://chocolatey.org/packages/dotnetcore-sdk. There are a few different ways to contact the maintainers on that page.

My understanding is that the Chocolatey packages do rely on the same installers you can get from https://dotnet.microsoft.com/download, so someone could potentially help out anyway. But, we would need a lot more i

[2021-02-10 17:44] #5938 closed

[2021-02-10 17:50] aortiz-msft commented on #5699
Yes, we discussed this in our Monday meeting last week, and this is not something we think we can deliver in NET 6.0. However, let's understand the customer feedback around this and start validating the problem and solution hypotheses.

[2021-02-10 18:51] stonstad opened #5940 "PerformanceCounter Throws Exception When Invoking for Current Process"
### Description

PerformanceCounter with category "Processor" and counter "% Processor Time"  fails when instance is specified as a process name.

[code]
var counter = PerformanceCounter("Processor", "% Processor Time", Process.GetCurrentProcess().ProcessName);
counter.NextValue();
[/code]

### Configuration

.NET 5.0.2
Windows 10 Professional 20H2 19042.746

### Regression?

Regression from .NET

[2021-02-10 20:02] Redmi456 opened #5941 "I am stuck at command prompt after receive message restore success. I use windows 7 64 bit."
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/edit
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-02-10 22:02] fillerd53 commented on #5923
I did everything then computer went nuts so I am noqw in the process of a reset Sent from Mail for Windows 10 From: Carlos SanchezSent: Wednesday, February 10, 2021 12:36 PMTo: dotnet/coreCc: SubscribedSubject: Re: [dotnet/core] created myApp and cannot get program.cs to work (#5923) Provide details about the problem you're experiencing. Include your operating system version, exact error message,

[2021-02-10 22:04] fillerd53 commented on #5672
I am very new to all of this but trying to learn doing a reset  Sent from Mail for Windows 10 From: Martin Andreas UllrichSent: Wednesday, February 10, 2021 10:46 AMTo: dotnet/coreCc: SubscribedSubject: Re: [dotnet/core] Build is not working after installing .Net5 (#5672) On a personal note: I also notice that migrations can become a pain to build. In our current project I've put the migrations in

[2021-02-10 22:31] bhuwan-agarwal commented on #5691
I'm facing the same error. Don't have sophos or eset but another anti-virus software. https://github.com/dotnet/msbuild/issues/6145

Not sure of the issues are related.

[2021-02-10 23:26] mairaw commented on #5941
Can you show a screenshot of where are you stuck? Did you run the app successfully?

[2021-02-10 23:42] paulmilbank commented on #5932
Hi
I'm trying to install dotnet core and asp.net core 2.1 on Debian 9 in a docker container with
[code]
This fails to be found.

Apt-cache agrees:
[code]
The package list at https://packages.microsoft.com/debian/9/prod/dists/stretch/main/binary-amd64/
and the aspnet core packages at https://packages.microsoft.com/debian/9/prod/pool/main/a/aspnetcore-runtime-2.1/ and https://packages.microsoft.com/

[2021-02-11 00:12] rbhanda commented on #5932
Hello @paulmilbank , I have republished these packages and they should be available now.

[2021-02-11 01:06] paulmilbank commented on #5932
Thanks heaps for the quick resolution @rbhanda.

[2021-02-11 01:45] #5911 closed

[2021-02-11 03:44] anirugu commented on #5937
Full sdk and runtime as well.  ---- On Wed, 10 Feb 2021 22:53:10 +0530  notifications@github.com  wrote ----
@anirugu did you install the full SDK or just the runtime?

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-02-11 08:42] balukantu opened #5942 ".NET 5 features"
Hi Team,

I have gone through .NET 5 features and looks like everything is understandable but I have few points. Can anyone please correct my points that are listed below?

1. .NET 5 has a single CLR for both Framework and Core

2. .NET standard is the way to share a library between .NET framework and .NET core

3. As per the documentation, the .NET 5 is the next version of .NET Core. If we instal

[2021-02-11 09:33] dasMulli commented on #5937
Judging from the Code of the Azure Functions SDK, you need a 2.* or 3.* SDK for this extension to work:
https://github.com/microsoft/vscode-azurefunctions/blob/68990431cae74f82b3cd3cc7e21f97f083f8cbf4/src/templates/dotnet/executeDotnetTemplateCommand.ts#L64-L77

I suggest moving this to the repo of this extension

[2021-02-11 11:41] iamsunny commented on #487
thanks @AustinWise for sharing the example code! The documentation is very scarce for [Open-XML-XDK](https://github.com/OfficeDev/Open-XML-SDK). 👍👍

[2021-02-11 11:44] schmitch commented on #5156
@richlander

unfortunatly outlook office-js addin does only work with EXO and Exchange Servers (https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/requirements-for-running-office-add-ins, https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/requirements-for-running-office-add-ins) until that is lifted, it's basically impossible to create **all** stuff with office-js.
We actually

[2021-02-11 12:05] srvkmr130 opened #5943 "<Question> Is there any alternative to System.ServiceModel.Activities in . NET 5.0 ?"
I am currently using .NET 5.0 , missing System.ServiceModel.Activities reference .
Is there any substitute for this ?

[2021-02-11 13:38] JSWorkspace1 commented on #5156
Just to cross-reference and show the importance of this. There is a Feature request over on the Visual-Studio Developer Community  Site  with close to 100 up votes and many lengthy developer stories  for wanting this feature: https://developercommunity.visualstudio.com/idea/757925/please-port-visual-studio-tools-for-office-vsto-to.html

[2021-02-11 14:42] ighristov opened #5944 "Graphics.MeasureString() incorrectly calculates charactersFitted when executed on Linux"
### Description

The call to MeasureString returns unexpected results for *fittedCharacters* out parameter, when the measured string contains \n and spaces.
In the code below, the first measured string is "Lorem ipsum", and the charactersFitted is set to 11, which is correct. The second iteration measures "\n \n" and the expected result is 1, but the charactersFitted is again 11. The same result i

[2021-02-11 15:15] amitpanwarIndia commented on #5932
Why below issue is not being fixed in .NET 3.1 (being LTS version) while this is fixed in .NET 5. It works fine in version SDK 3.1.302 but after that version issues starts appearing and not fixed yet.
**The "PackTask" task returned false but did not log an error.** https://github.com/NuGet/Home/issues/9786

[2021-02-11 16:47] jaredpar commented on #5672
@dasMulli

Can you try compiling with a 5.0.200 preview and see if that fixes the issue? There was a compiler bug in 5.0.100 that manifested in patterns that are common in migration files.

[2021-02-11 17:05] wizard1962 opened #5945 "Couldn't find a project to run."
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/edit
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-02-11 17:08] wizard1962 commented on #5945
Trying to install but no project,,??..trying to fix my: Unhandled Error Starting Application: 740:...Tks Evr1

[2021-02-11 17:08] #5945 closed

[2021-02-11 19:10] danmoseley commented on #5943
@mconnew do you know ?

[2021-02-11 19:16] danmoseley commented on #5942
Hellow @balukantu

1. .NET 5 is the future of .NET. Technically, it is the development of the .NET Core lineage , and as such is based on coreclr. .NET Framework is based on clr. .NET Framework continues to be supported, but the future is with .NET 5 and later, which is generally highly compatible.

2. Correct. [Here is more info](https://docs.microsoft.com/en-us/dotnet/standard/net-standard).

3.

[2021-02-11 19:28] mconnew commented on #5943
Take a look at the non-Microsoft owned project [CoreWF](https://github.com/UiPath/corewf). It's not Microsoft owned, but it's got a company behind it who is taking it seriously.

[2021-02-11 21:14] staffordsmitht opened #5946 "Problem"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/deploy-microservice-tutorial/azure-tools
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-02-11 21:21] staffordsmitht commented on #5946
Fixed! Nevermind, thank you.

[2021-02-11 22:19] #5915 closed

[2021-02-11 22:39] mairaw commented on #5946
Good to hear!

[2021-02-11 22:39] #5946 closed

[2021-02-11 22:45] stonstad opened #5947 "HttpClient Uses Incorrect Port (Not Port Specified in URL)"
### Description

Created an instance of HTTP client.  Specified a url, ala 192.168.1.32:5000 and client throws error stating that connection cannot be made on 192.168.1.32:**6000**.  How is this a thing?

### Configuration

string url = "http://192.168.1.32:5000/api/"
HttpResponseMessage response = await client.PostAsJsonAsync<dynamic>(url, fields);
dynamic result = await response.Content.ReadAsAs

[2021-02-11 23:01] stonstad commented on #5947
It's a .NET Core/Kestrel redirect.  Not sure why it is happening but this can be closed/rejected.

[2021-02-11 23:01] #5947 closed

[2021-02-11 23:06] staffordsmitht opened #5948 "Can't Deploy Azure"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/deploy-microservice-tutorial/deploy
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

**Sample Code**
taylorstafford-smith@taylors-MacBook-Pro myMicroservice % kubectl apply -f deploy-myMicroserv

[2021-02-11 23:06] staffordsmitht opened #5957 "Can't Deploy Azure"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/deploy-microservice-tutorial/deploy
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

**Sample Code**
taylorstafford-smith@taylors-MacBook-Pro myMicroservice % kubectl apply -f deploy-myMicroserv

[2021-02-12 09:05] dasMulli commented on #5672
Those numbers are already from a current preview (5.0.200-preview.21079.7) - maybe @Alirezanet can try if it makes a difference.

For me it's "only" the EF analyzer that makes a ~10s (~30%) difference.
I found it impossible to remove it via `PackageReference` to the analyzer package (ExcludeAssets=all,  IncludeAssets=none) so carving it out via target removed about 30% build time in the provided p

[2021-02-12 09:11] ilvarol commented on #4214
Hey, I have the same problem you have, Please share solution of this problem with me if you've solved the problem

[2021-02-12 12:33] Mchristos commented on #3444
I get the following permissions error, even when the project is not under `/mnt/...`:

[code]

[2021-02-12 13:55] ilvarol commented on #4214
I solved my problem that way;
https://stackoverflow.com/a/66173087/10995103

[2021-02-12 16:10] LewisWong opened #5949 "dotnet-svcutil.xmlserializer error with targetframework netstandard2.1"
### Description
I followed the readme on [here](https://github.com/dotnet/core/blob/master/samples/dotnet-svcutil.xmlserializer-instructions.md) which is slightly outdated as the current version of the dotnet-svcutil.xmlserializer is 1.2.0 and and 4.8.1.

However, when I try building the csproj file in both in VS and CLI (dotnet build) I'm getting compiler error:

### Configuration

.NET SDK 5.0.1

[2021-02-12 16:13] denniskrq opened #5950 "ClientWebSocket.State property still indicates "Open" after "The remote party closed the WebSocket connection without completing the close handshake.""
### Description

I have a WebSocket client using the ClientWebSocket class, it has a public Send method, a private Poll method that dispatches an event upon receiving something, and a private Connect method. Code fragment:
[code]

The problem... The WS server went down abruptly, so there was no close handshake, the WebSocketException ` The remote party closed the WebSocket connection without compl

[2021-02-12 18:38] #5917 closed

[2021-02-12 21:11] mairaw commented on #5949
@HongGit can you help route this issue about dotnet-svcutil.xmlserializer?

[2021-02-13 01:06] marcpopMSFT commented on #5440
https://github.com/dotnet/deployment-tools/pull/75

[2021-02-13 01:26] terrajobst commented on #5440
@joeloff should I schedule another API review?

[2021-02-13 05:36] joeloff commented on #5440
@terrajobst  Now that it's merged, wouldn't we want to get the preview package out first and get feedback from some customers before doing another API review?

[2021-02-13 07:49] anirugu commented on #5937
everything going good, suddenly one day I update my ubuntu and this problem start appearing and it was working earlier fine.

[2021-02-13 09:48] dasMulli commented on #5937
@anirugu it looks like you will need to install a 3.* SDK side by side for this to work again.

[2021-02-13 17:39] nycdotnet commented on #5485
I am greatly looking forward to this documentation.  I would request that you go down as low as 100 or 250 millicores for an app, as densely packing containers - especially with techniques such as vertical pod autoscaling in k8s - is an attractive cost saving measure when possible.  Also, especially for the resource constrained pods, I would love to see RPS figures for the first seconds and minute

[2021-02-13 23:01] kbnewlon opened #5951 "Trying to install .net"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-02-14 03:38] #5951 closed

[2021-02-14 04:38] spatrick195 opened #5952 "Build error when creating docker image from Microsoft tutorial"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/docker-image
Operating System: Windows 10 Version 1909

When running `docker build -t mymicroservice .` I receive the following build error:
<details>
<summary><b>Docker Build Output</b></summary>

[code]

</details>

I have tried:

- Clearing NuGet cache
- Cleaning project with dotnet CLI
- Clean / Purge data i

[2021-02-14 18:45] Dany-R opened #5953 ""dotnet version" command not found"
### Description

I just wanted to start a first-timer of Core development and ran into the following problem.
In a Windows 10 cmd console, when I enter `dotnet version` I first get a welcome and then a red "execution not possible / command not found" error.  All consecutive calls give only the red error message. The same happens in a VS Developer Command Prompt and in PowerShell.
When I run `dotne

[2021-02-15 07:38] danmoseley commented on #5952
@MichaelSimons

[2021-02-15 07:41] danmoseley commented on #5943
@srvkmr130  I'll close as answered but do reopen if not.

[2021-02-15 07:41] #5943 closed

[2021-02-15 07:41] danmoseley commented on #5942
@balukantu  I'll close as answered but do reopen if not.

[2021-02-15 07:41] #5942 closed

[2021-02-15 07:44] danmoseley commented on #5937
@anirugu are you working now?

[2021-02-15 07:49] danmoseley commented on #5925
@mairaw ?

[2021-02-15 07:52] danmoseley commented on #5881
@aortiz-msft  could you transfer to https://github.com/NuGet/Home/issues?

[2021-02-15 07:54] danmoseley commented on #5856
Ok good. Closing. Thanks for the report!

[2021-02-15 07:54] #5856 closed

[2021-02-15 08:12] danmoseley commented on #5787
Do any of the DYLD_PRINT environment variables help show what's happening?

https://stackoverflow.com/questions/51504439/what-environment-variables-control-dyld#51504440

[2021-02-15 08:18] danmoseley commented on #5787
Especially DYLD_PRINT_LIBRARIES

[2021-02-15 08:19] danmoseley commented on #5746
This seems answered. Please reopen if not.

[2021-02-15 08:19] #5746 closed

[2021-02-15 08:20] danmoseley commented on #5725
The Windows suffix does not exclude any versions of Windows that are among the supported list of Windows versions that we document. A few API do not work on Nano Server and will throw at runtime.

[2021-02-15 08:20] #5725 closed

[2021-02-15 08:21] danmoseley commented on #5682
Cc @richlander

[2021-02-15 08:21] danmoseley commented on #5671
Closing as we cannot help further.

[2021-02-15 08:21] #5671 closed

[2021-02-15 08:22] danmoseley commented on #5664
It seems this is covered by the vstest issue

[2021-02-15 08:22] #5664 closed

[2021-02-15 08:25] danmoseley commented on #5658
@terrajobst  can themesof.Net include the iot repo please? This can then move there.

[2021-02-15 08:27] danmoseley commented on #5641
We don't plan to do this (a far as I know) as 2.0 includes .NET Framework support, which is likely be be a target of many libraries. Thanks for the suggestion though.

[2021-02-15 08:27] #5641 closed

[2021-02-15 08:59] Rand-Random commented on #5725
@danmoseley
Isn’t that contradicting, to say there isn’t an exclusion but in the next statement to say that some APIs exclude support for Nano Server.

Also I mentioned Nano Server and Windows just as an example what about all the other flavors? And you didn’t comment about my initial question were I asked if the Page https://github.com/dotnet/core/blob/master/release-notes/5.0/5.0-supported-os.md

[2021-02-15 11:38] bairog commented on #5567
@davidortinau You've asked about user experience and MAUI expectations [The New .NET Multi-platform App UI](https://devblogs.microsoft.com/xamarin/the-new-net-multi-platform-app-ui-maui/) article. I've wrote you an email [almost a week ago]( https://devblogs.microsoft.com/xamarin/the-new-net-multi-platform-app-ui-maui/#comment-982 ) - still no reponse. Any uptades on this?

[2021-02-15 12:57] rspadim commented on #5465
I think the big entry point to beginners is python language, maybe improve ironpython3 could help a lot this, i'm talking about c# to beginners

The other big community is the kaggle community, maybe improving the c# jupyter notebook integration (or including it at kaggle
/ colab / etc), and increase ML.net examples could help

List and dict compression is something we should implement too, `var x

[2021-02-15 16:24] anirugu commented on #5937
I haven't tested it. You can close it for now. I will report here if It don't work for me.  ---- On Mon, 15 Feb 2021 13:15:01 +0530  notifications@github.com  wrote ----
@anirugu are you working now?

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-02-15 16:42] #5937 closed

[2021-02-15 17:22] VeronicaHex commented on #5921
I've just done a clean install of dotnet-sdk-5.0.103-win-x64.exe; I shouldn't have to be fiddling with Environment paths to get it working.

Running where Produces:
![image](https://user-images.githubusercontent.com/39120779/107976387-5f146a00-6fb1-11eb-8bd2-c263a610b608.png)

I've corrected the Order of Path
![image](https://user-images.githubusercontent.com/39120779/107976642-cd592c80-6fb1-11eb-

[2021-02-15 18:58] terrajobst commented on #5725
I think I understand the concern now.

The target framework name (TFM) is a .NET concept. It represents the set of **.NET** APIs provided by the .NET platform itself. It allows us to have different flavors of .NET where the API set differs. In the past this was a bit of a wild west situation. With .NET Standard we have formalized a common subset of APIs which we have then further formalized into t

[2021-02-15 19:07] Slm0n87 opened #5955 "rhel7 rpm mirror failed"
### Description
We try to mirror the rpm repository: https://packages.microsoft.com/rhel/7/prod/, but it fails.
Our company's security does not allow to contact an rpm mirror directly, we need to mirror the full repo internally.

Reproduce by:

1. Use a rhel7 or centos7 system
or just run
[code]
2. Configure the reposync:
[code]
[code]
3. Start the sync of the repository with reposync:
[code]
###

[2021-02-15 22:58] Flipper00 opened #5958 ".NET SDK is not installed"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
tried to execute "new console -o myApp" and it says"Could not execute because the application was not found or a com

[2021-02-16 00:00] staffordsmitht opened #5959 "Couldn't Run Deployment Step on "Deploy to Azure" Page"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/deploy-microservice-tutorial/deploy
Operating System: macos

<img width="1576" alt="Screen Shot 2021-02-15 at 3 56 50 PM" src="https://user-images.githubusercontent.com/74637380/108003089-769a2580-6fa6-11eb-81a6-e1c344c9dd17.png">

"Deploy to Azure" Page
-Couldn't run deployment step. Perhaps I did something incorrectly in the "long"

[2021-02-16 00:49] #5924 closed

[2021-02-16 01:29] flaviodcarmo commented on #5634
Hi!
I fixed the problem. In my case, I added an EntityFrameworkCore package to one of my solution projects, but it wasn't supposed to be added. I removed it and the error was corrected. Check the package references in your project.

[2021-02-16 02:12] mairaw commented on #5958
Can you check if the steps I added here help you?
https://stackoverflow.com/questions/63746838/net-sdks-not-installing-correctly/66128116#66128116

And what's your version of Windows? And is it 32-bit or 64-bit?

[2021-02-16 02:21] mairaw commented on #5957
That's what they did @Rick-Anderson.

@shirhatti @nishanil can you help?

[2021-02-16 04:06] Rick-Anderson commented on #5957
No, I transferred it per the request of  `@javiercn`

[2021-02-16 04:43] balukantu commented on #5942
@danmoseley , Thanks for the update. I have gone through the documentation observed that it is the next version of Core 3.1

Is there any difference between .NET Core 3.1 and .NET 5? in terms of features apart from adding framework API and libraries?

[2021-02-16 10:16] #5921 closed

[2021-02-16 13:42] candritzky opened #5960 "RSA.ImportParameters terminates Win32 service application at reboot"
### Description

We have an ASP.NET Core 3.1 application that is running as a Win32 service (`IHostBuilder.UseWindowsService`) using the Local System account. The Win32 service is configured to start automatically at system startup.

Our application calls `RSA.Create` followed by `RSA.ImportParameters` within the `Startup.ConfigureServices` startup code using a properly configured `RSAParameters`

[2021-02-16 17:47] John-Hart commented on #5954
+ @NikolaMilosavljevic can you please answer this?

[2021-02-16 19:27] Rikisaraiva opened #5961 "Why"
[Problem](url) encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.Microsoft Windows [Version 10.0.19041.804]
(c) 2020 Microsoft Corporation. All rights reserved.

C:\Users\Util

[2021-02-16 19:27] MichaelSimons commented on #5952
@spatrick195 - I suspect your issue is related to the casing of the `COPY myMicroservice.csproj` instruction in your Dockerfile.  I noticed the path you are building from is using a different casing - `D:\Dev\myMicroService`.  Notice the difference is the casing of the `s` in `service`.

By looking at the sha of the image you are using, I can see you are pulling a linux image which uses a case sen

[2021-02-16 19:37] Rikisaraiva opened #5962 "WINDOWS X64 CANT FIND .NET 5.0.10"
![Capture](https://user-images.githubusercontent.com/67883057/108112676-56459600-708e-11eb-9d54-83fedde00b88.PNG)

[2021-02-16 19:40] mairaw commented on #5962
Can you check if the steps I added here help you?
https://stackoverflow.com/questions/63746838/net-sdks-not-installing-correctly/66128116#66128116

And what's your version of Windows? And is it 32-bit or 64-bit?

[2021-02-16 19:41] mairaw commented on #5961
Duplicate of #5962

[2021-02-16 19:41] #5961 closed

[2021-02-16 19:49] Rikisaraiva commented on #5962
![CMD](https://user-images.githubusercontent.com/67883057/108113903-ffd95700-708f-11eb-9410-b1b1a66b4adc.PNG)

It doesnt work idk why i have done it all

[2021-02-16 19:51] Rikisaraiva commented on #5962
btw my version of windows is x64

[2021-02-16 19:53] mairaw commented on #5962
Can you paste the output of `where dotnet`?

[2021-02-16 19:54] Rikisaraiva commented on #5962
C:\Program Files (x86)\dotnet\dotnet.exe
C:\Program Files\dotnet\dotnet.exe

[2021-02-16 20:03] mairaw commented on #5962
So it seems you installed both versions 32-bit and 64-bit, and so the 32-bit was the first one added to the system's path.

Click on the windows key and start typing Edit the system variables and click on that option

![image](https://user-images.githubusercontent.com/12971179/108114587-d697d700-704d-11eb-924f-f00fcbcf5c18.png)

Click on the **Environment Variables** button

![image](https://user-

[2021-02-16 20:08] Rikisaraiva commented on #5962
Thank you so much apreciate you for real you are my hero xD

[2021-02-16 20:08] #5962 closed

[2021-02-16 20:09] mairaw commented on #5962
Did it work?

[2021-02-16 20:36] NikolaMilosavljevic commented on #5954
@lucent-sea those APIs are not available in .NET 5. We are tracking the following 2 issues for improvements that would bring some of the functionality, using different model:
https://github.com/dotnet/deployment-tools/issues/27
https://github.com/dotnet/deployment-tools/issues/53

[2021-02-16 20:42] Rikisaraiva commented on #5962
yes thx for real

[2021-02-16 21:00] mairaw commented on #5962
Great to hear. Thanks for reporting back.

[2021-02-16 21:28] mairaw commented on #5957
Yes, but it was originally transferred from dotnet/core where the "I ran into an issue" button takes you.

[2021-02-16 23:10] #5934 closed

[2021-02-16 23:43] mairaw commented on #5958
I also added the step by step here:
https://github.com/dotnet/core/issues/5962#issuecomment-780084535

[2021-02-16 23:55] wfurt commented on #5851
master and 5.0  https://github.com/dotnet/runtime/commit/19a0db47c8796d4e689d4fe8a698d74066cb7d05
3.1 https://github.com/dotnet/corefx/pull/42975
2.1 https://github.com/dotnet/corefx/pull/43024

[2021-02-17 00:00] wfurt commented on #5850
main & 5.0 https://github.com/dotnet/runtime/pull/37031
3.1 https://github.com/dotnet/corefx/pull/42928
2.1 https://github.com/dotnet/corefx/pull/42934

[2021-02-17 01:43] lucent-sea commented on #5954
Fantastic!  Thank you.  :)

[2021-02-17 02:42] spatrick195 commented on #5952
That does seem to be the issue. It has now been resolved.

[2021-02-17 02:42] #5952 closed

[2021-02-17 04:36] Cu2y opened #5963 "newissuesref"
https://github.com/dotnet/core/blob/87b2a9e5851536294931f24a57f64b55ebbc740c/.github/CODEOWNERS#L6

[2021-02-17 04:36] #5963 closed

[2021-02-17 08:20] freddyrios commented on #3989
This should be closed as resolved in both .net core 3.1.7 and .net core 5, no?

[2021-02-17 12:21] p3s opened #5964 "CORS not working"
### Description

when creating a new webapi project and enabling CORS, it does not work.
I followed the documentation
https://docs.microsoft.com/pt-br/aspnet/core/security/cors?view=aspnetcore-5.0#enable-cors

`using System;
using System.Collections.Generic;
using System.Linq;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Builder;
using Microsoft.AspNetCore.Hosting;
using Microsoft.AspN

[2021-02-17 17:05] gaborposz opened #5966 ".NET Core automatic patch updates are not working"
Hello,
Is it possible that the recently introduced [automatic .NET Core patch updates](https://devblogs.microsoft.com/dotnet/net-core-updates-coming-to-microsoft-update/) (via Microsoft Update) are only working if there is already a recent .NET Core version installed?

E.g.:
We noticed that if **ASP.NET Core 3.1.7** is installed (hosting bundle), then it's not updated automatically, but if **3.1.9

[2021-02-17 17:51] rbhanda opened #5967 ".NET 6 Preview 1"
[Release Notes](https://github.com/dotnet/core/blob/master/release-notes/6.0/preview/6.0.0-preview.1.md)

Please report any issues you find with .NET 6, either responding to this issue, creating a new issue or creating a new issue in one of the following repos:

* [dotnet/aspnetcore](https://github.com/dotnet/aspnetcore/issues) - for ASP.NET Core questions
* [dotnet/efcore](https://github.com/dotn

[2021-02-17 18:22] #5923 closed

[2021-02-17 18:38] lmcdougald commented on #5967
Not the most pressing issue -- is there a reason Linux repositories are x86_64 only? This has been the case for past releases, but there was talk that it could change for 6:
https://github.com/dotnet/runtime/issues/3298
(also https://github.com/dotnet/runtime/issues/3263 but doesn't mention 6.0 timeframe).

[2021-02-17 18:41] richlander commented on #5967
Great question/topic @lmcdougald. We are working on adding additional repositories (Arm64, Alpine, and previews). Thanks for raising this. The feedback legitimately helps.

[2021-02-17 19:22] dleeapho commented on #5967
@lmcdougald the work add additional packages for Arm64 is tracked with this .NET 6 issue: https://github.com/dotnet/core/issues/5446

[2021-02-17 19:34] lmcdougald commented on #5446
I assume this does not include ARM64 Alpine SDK packages, right? Obviously there isn't much need now, but with the eventual NativeAOT form factor it could help the build/test loop. Maybe not the right place, if such a build isn't possible (is it, just low demand?)

[2021-02-17 19:55] lmcdougald commented on #5446
Oh whew, this is more focused on the RPI than I expected. Should I add issues for platform targets I'm hoping for?

In particular, my use case is building packages that depend on the .NET 6 runtime package for the Linux-focused PinePhone. The upcoming "default" distribution for the PinePhone is Arch-based, which isn't a .NET target right now (that's fine, expected). However, Ubuntu and (obviously)

[2021-02-17 20:10] janakaw opened #5971 "On Fedora 32 Errors during downloading metadata for repository 'download.docker.com_linux_fedora_docker-ce.repp': - Status code: 404 for https://download.docker.com/linux/fedora/docker-ce.repp/repodata/repomd.xml (IP: 13.224.177.25)"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/create
Operating System: linux

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-02-17 21:01] SimonCropp commented on #5510
is this expected to break IL weavers like postsharp and fody?

[2021-02-17 21:03] SimonCropp commented on #5510
has a fast loop been considered for test execution? as in patching into a process that can run test?

[2021-02-17 22:31] itlackey commented on #4596
There is no overload for File.Exists to handle this issue. I am checking dynamic file paths and cannot (easily) use Directory methods for my use case.

Any one have suggestions for using File.Exists across platforms with dynamic (read: "case in-sensitive human" provided) file paths?

[2021-02-17 22:33] mairaw commented on #5971
@leecow @dagood can you help with this issue?

[2021-02-17 22:34] mairaw commented on #5959
Can you help with this issue @nishanil @shirhatti?

[2021-02-17 22:53] dagood commented on #5971
This doesn't seem to be related to .NET, it looks like you hit an error with a Docker CE repository set up on your machine:

With a quick web search I see that Docker has changed the layout of their repository at some point in the past. You might need to update your configuration to match. https://docs.docker.com/engine/install/fedora/ might help.

[2021-02-17 23:22] mairaw commented on #5966
@jamshedd can you help with this MU question?

[2021-02-17 23:26] jamshedd commented on #5966
The ASP.NET Core update should be offered via MU to any prior version of Core 3.1 (including 3.1.7). This is provided you're on a Client SKU of Windows and not a Server version. For server versions we do not "push" updates via MU, but they're available for you to "pull" via WSUS or the MU Catalog. Can you share more details including a list (or screenshot) of the relevant products from your ARP?

[2021-02-17 23:27] janakaw commented on #5971
I solved this by following below: Remove all dotnet packages installed including any older sdks `sudo dnf list installed 'dotnet*'`
Then, sudo dnf install dotnet-sdk-.5.0

[2021-02-17 23:29] #5971 closed

[2021-02-17 23:29] janakaw commented on #5971
Closed

[2021-02-18 00:27] #5941 closed

[2021-02-18 00:29] bachmannn commented on #4788
This issue needs more love, make it open source already!

*rant*
Why is .net core and the rest of the ecosystem like OmniSharp, coreclr, EntityFramework, etc open source but the debugger is proprietary?

* Jetbrains wrote their own C# debugger in a week and isn't really even a threat to Visual Studio Enterprise, they're not going to rewrite their IDE to use `vsdbg`.
* VS Code (also vs code-oss) is

[2021-02-18 00:38] bachmannn commented on #505
Issues like this need more love, make it open source already!

*rant*
Why is .net core and the rest of the ecosystem like OmniSharp, coreclr, EntityFramework, etc open source but the debugger is proprietary?

* Jetbrains wrote their own C# debugger in a week and isn't really even a threat to Visual Studio Enterprise, they're not going to rewrite their IDE to use `vsdbg`.
* VS Code (also vs code-os

[2021-02-18 03:49] ayman-d commented on #5468
Oh wow, I cannot tell you how much I wanted an opportunity to speak to you guys about things like this, it's amazing that you guys have this platform. I learn C# and .NET in school and on my free time because I love it!, however there is quite a bit of frustration at times because of the Docs. Don't get me wrong, the docs are really helpful and very clear when building the same type of app that is

[2021-02-18 09:30] manish41396 opened #5972 "Docker run | Could not find any compatible framework version"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/run-docker
Operating System: windows

On running command :
docker run -it --rm -p 3000:80 --name mymicroservicecontainer mymicroservice

Getting error:
It was not possible to find any compatible framework version
The framework 'Microsoft.AspNetCore.App', version '3.1.0' was not found.
  - The following framework

[2021-02-18 09:35] manish41396 commented on #5953
Hi, Correct command is dotnet --version. Try running that.
![image](https://user-images.githubusercontent.com/28561483/108337081-bf4a1c80-71fa-11eb-9b16-0445d9efa41c.png)

Thanks!!

[2021-02-18 10:52] sarathisam opened #5973 "Command 'dotnet' not found, but can be installed with: sudo snap install dotnet-sdk"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/install
Operating System: linux

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-02-18 13:06] gaborposz commented on #5966
Ok, most probably the problem is that we need it on server (e.g. Windows Server 2019).

By "MU Catalog" you mean a manual download from [https://www.catalog.update.microsoft.com](https://www.catalog.update.microsoft.com)?

And I don't understand the question regarding "relevant products from ARP" either. What does the ARP abbreviation mean?

Maybe it helps to understand our situation:
We preinstal

[2021-02-18 13:57] XieJJ99 commented on #5932
We failed to download symbol files for .net core 3.1.12.
Steps:
[root@clrtest clr]# **docker run --rm  -ti mcr.microsoft.com/dotnet/sdk:3.1.406**
root@d12b1686aa16:/# dotnet tool install -g dotnet-symbol

root@d12b1686aa16:/# **export PATH="$PATH:/root/.dotnet/tools"**
root@d12b1686aa16:/# **dotnet symbol --symbols /usr/share/dotnet/shared/Microsoft.NETCore.App/3.1.12/libcoreclrtraceptprovider.so*

[2021-02-18 16:18] Jozkee commented on #5889
## .NET Libraries: System.Text.Json - ReferenceHandler.IgnoreCycles

https://github.com/dotnet/runtime/issues/40099

Added a new ReferenceHandler option capable of ignore cycles on serialization in a simila fashion to Newtonsoft's [`ReferenceLoopHandling.Ignore`](https://www.newtonsoft.com/json/help/html/ReferenceLoopHandlingIgnore.htm). Notice that this new feature replaces reference loops with J

[2021-02-18 17:10] leecow commented on #5973
@sarathisam , the default command after installing with the snap is `dotnet-sdk.dotnet`. See details and instructions on how to alias the command in any of the install notes such as [this one](https://github.com/dotnet/core/blob/master/release-notes/6.0/preview/6.0.0-preview.1-install-instructions.md#install-net-on-linux).

[2021-02-18 17:53] bairog commented on #5567
@richlander According to [this](https://github.com/dotnet/core/blob/master/release-notes/6.0/6.0-supported-os.md) NET 6.0 will support  supports Windows 7 SP1 (Extended Security Updates EOL – January 10, 2023) but drops supporting Debian 9 (EOL is June 30, 2022) if compared to .NET 5. What is the reason for this decision?
And I still have no answer about OS support plans for MAUI for more than 3 m

[2021-02-18 18:10] mairaw commented on #5567
Adding @leecow to see if he can comment on support plans as well

[2021-02-18 18:14] mairaw commented on #5973
Let us know if that solves your issue!

[2021-02-18 18:17] mairaw commented on #5953
@manish41396 is correct. The right command is `dotnet --version` not `dotnet version`.

For more information about the syntax, you can check the reference doc: https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet.

[2021-02-18 18:17] #5953 closed

[2021-02-18 18:26] jamshedd commented on #5966
Since this is an ASP.NET app it is very likely the machines are Server SKUs of Windows and not client SKUs. For this case an IT administrator can use either WSUS or SCCM to deploy .NET Core updates to the machines.  We don't push updates directly to server machines ourselves because the majority of enterprise customers prefer to maintain direct control over when servers are updated based on intern

[2021-02-18 19:12] mairaw commented on #5972
If you're using .NET Core 3.1, some steps of the tutorial would have to be changed.
The Dockerfile on this step: https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/docker-file
would have to point to 3.1 and not 5.0.

Are you on Linux or Windows?

[2021-02-18 19:20] leecow commented on #5567
With respect to the Debian 9 decision, our general process is to exclude support for an OS version when that version will go EOL early in the new .NET version lifecycle. I haven't had any discussions with @davidortinau about MAUI OS support plans and expectations yet so can't offer anything on that topic.

[2021-02-18 19:30] mandalorianbob commented on #5967
Where do I go to find out more about .NET 6 and Windows Store Apps?

[2021-02-18 21:37] davidortinau commented on #5567
.NET MAUI will support what WinUI 3 offers for Windows. https://microsoft.github.io/microsoft-ui-xaml/about.html#controls

Additional platform and version information is available here https://github.com/dotnet/maui#xamarinforms-vs-net-maui

Linux support will not be part of the .NET 6 release for .NET MAUI. It is under consideration for a future release, so please connect with me so we can better

[2021-02-18 21:57] Genox2038 opened #5977 "Error while running tutorial"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/modify
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Hi running into error while trying the tutorial on Windows 10. I copied the code directly from tutorial and pasted

[2021-02-19 00:27] sharpninja opened #5978 ""System.UnauthorizedAccessException: Access to the path is denied." from Console.WriteLine on Ubuntu 20.10"
When writing to the Console on Ubuntu 20.04 from the latest Dotnet Core 5.0 SDK Snap Package, `System.UnauthorizedAccessException: Access to the path is denied.` is thrown.

You can find affected code at [sharpninja/FizzBuzz](https://github.com/sharpninja/FizzBuzz) (look in any of the Dotnet projects under `src`) and [compiled binaries](https://github.com/sharpninja/FizzBuzz/blob/478c87754f42290f2

[2021-02-19 01:08] mairaw commented on #5977
Can you make sure you edited the Index.cshtml file and not the Index.cshtml.cs file? Sometimes, Windows will hide the file extension.

So in the example below the Index.cshtml file is the first one and not the second.
![image](https://user-images.githubusercontent.com/12971179/108442395-d0e7f000-720b-11eb-8059-ff4d4e181304.png)

Let me know if that helps.

[2021-02-19 01:27] LarryC42 opened #5979 "Microsoft.Net.Sdk.Web could not be found"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

error MSB4236: The SDK 'Microsoft.NET.Sdk.Web' specified could not be found.

[2021-02-19 01:42] LarryC42 commented on #5979
Found a reference to someone setting the MSBuildSDKsPath environment variable.  Fixed it build work.  Removed it, build worked.

[2021-02-19 01:42] #5979 closed

[2021-02-19 01:43] mairaw commented on #5979
Ah was just going to refer to a similar issue discussing the MSBuildSDKsPath env variable. Thanks for confirming.

[2021-02-19 04:51] mairaw commented on #5567
Closing the issue since I believe all questions were answered. Please let us know otherwise @bairog.

[2021-02-19 06:26] manish41396 commented on #5972
Hi,

Thanks for your response.
I am on Windows machine. It worked now.
I changed Dockerfile as below to point it to .Net Core 3.1, same as of my machine:

![image](https://user-images.githubusercontent.com/28561483/108466191-435add80-72a9-11eb-89b5-c46417563d27.png)

Thanks!!

[2021-02-19 07:02] angelaki opened #5980 "FeatureRequest: Being able to set TimeZoneInfo.Local per thread"
Right now the property `TimeZoneInfo.Local` is readonly (haven't investigated further, propably it doesn't have a backing field), but being able to set a Threads timezone would be very great!

Right now we are able to set a threads culture what is widely used in AspNetCore environments, allowing the program to return "stringed" values based on the clients locale. I guess it would be great to allow

[2021-02-19 10:15] bairog commented on #5567
@mairaw my questions about Visual Studio IDE are still unanswered..

No support for Windows 7 SP1 with ESU - sad to hear, Uno project still supporting it..

You are talking about plans for .NET 7, right?
Is it planned that .NET 7 development will be supported by Visual Studio 2019?
What are MS plans for Visual Studio 2021/2022/etc.?

[2021-02-19 10:27] bairog commented on #5567
Debian 9 goes EOL (June 30, 2022) 7 month after .NET 6 planned release (November 2021). And it is considered as "will go EOL early".
Windows 7 SP1 with ESU goes EOL (January 10, 2023) 14 month after .NET 6 planned release and is still supported. So it is considered as "will NOT go EOL so early".
Am I understanded correctly that Windows 7 SP1 with ESU will be very unlikely supported by .NET 7?
Or m

[2021-02-19 14:10] przemo098 commented on #5510
I think development in C# should give good developer experience as in this talk: https://youtu.be/Yu9zcJJ4Uz0?t=416
In the end users will use languages which provide best development experience and other one will die.
And I think quick updating your code is critical in development like hot reloading of js in React / Angular...
I think in compilation should look like in https://www.snowpack.dev/ fo

[2021-02-19 14:37] leLeo24 commented on #2531
Hi Guys I can't seem to understand,  the section of the tutorial where it says, " Edit your code
Open Pages/Index.cshtml in any text editor and replace all of the code with the following, then save the file.", where do I even find that file,

[2021-02-19 14:53] Genox2038 commented on #5977
That was exactly the issue.  Thanks!  It works now.

[2021-02-19 14:53] #5977 closed

[2021-02-19 15:30] JasonJ387 opened #5981 "Unable to resolve package reference ''. on Ubuntu 20.04"
I'm using PowerShell with .net core 5.0 in Ubuntu 20.4; but I'm having an issue importing nuget libraries using the Install-Package command.

The machine is in a locked down environment with no access to the outside world so nuget pacakages are stored on a fileshare.

This works fine on Windows Devices, but the Ubuntu device is complaining.

The specific command I'm using is:
Install-Package -Sour

[2021-02-19 17:37] mairaw commented on #5977
Thanks for confirming. I’ll add something to the tutorial to make that more clear.

[2021-02-19 18:54] Girishbadi opened #5982 "the system cannot find the path"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-02-19 19:09] mairaw commented on #5982
Can you provide more details about your issue? Just by the title, it's not clear what the problem is.

[2021-02-19 19:11] danmoseley commented on #5725
@Rand-Random does this answer your question? we can reactivate if not.

[2021-02-19 19:12] danmoseley commented on #5942
@balukantu yes, a whole year's worth of improvements 🙂

https://docs.microsoft.com/en-us/dotnet/core/dotnet-five

[2021-02-19 19:31] mairaw commented on #2531
@leLeo24 we're going to try to make improvements to that tutorial to make that part easier to understand. But inside the `myWebApp` folder where the project was created, you should see a Pages subfolder where you should find the Index.cshtml page.

Also, be aware that Windows might hide the file extension. So, if that's the case, the cshtml file is the first one in the screenshot below.

![image](

[2021-02-19 19:46] mairaw commented on #5881
This issue was moved to NuGet/Home#10586

[2021-02-19 19:46] #5881 closed

[2021-02-19 19:49] mairaw commented on #5925
Yes, anything under dotnet.microsoft.com is my area.

We'll need more information @sinisteralex to help you debug this issue. Can you run `dotnet --info` to let us know which version you're running? Do you see a Counter.razor page under the Pages folder?

/cc @danroth27

[2021-02-19 19:55] mairaw commented on #5682
@spboyer has been working on improving that data. I also think it could be fun to add a search by the person's name so it's easier to check yourself.

An update was pushed this morning. Can you let us know if that looks accurate now?

[2021-02-19 20:19] vcsjones commented on #5682
@mairaw

Well, I see it was updated for .NET 5.0.3. I had one servicing PR merged for 5.0.3 in https://github.com/dotnet/runtime/pull/46713 and I don't see myself in the 5.0.3 notes.

Looking further in to 5.0.0 for myself:

[code]

That totals up to 33. That's _closer_ but still seems fairly off. The counts that do exist also seem a bit off, but that could be my own faulty memory. I don't feel li

[2021-02-19 20:31] tmds commented on #5682
The number is more correct, but why is it not the same? Are these websites counting something different?

I'd prefer to see the aggregated count for .NET x.y, and not have it split across patch and preview releases.

[2021-02-19 20:36] mairaw commented on #5682
Yes, we have plans to consolidate the data under major.minor. @spboyer can comment on the difference.

[2021-02-19 20:38] sungka opened #5983 "microsoft.aspnetcore.server.kestrel"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-02-19 20:55] mairaw commented on #5983
It's not clear what is the problem you're having. Can you provide more details?

[2021-02-19 20:59] sungka commented on #5983
Thank you. Will try another .NET 5.0 microservice tutorial that uses Visual Code on Windows.
--sung

    On Friday, February 19, 2021, 12:55:20 PM PST, Maira Wenzel <notifications@github.com> wrote:

It's not clear what is the problem you're having. Can you provide more details?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscri

[2021-02-19 21:00] spboyer commented on #5682
The most recent issue solved here was the contribution paging in the API was not implemented correctly.

moving forward these are plans to consolidate the releases to Major (maybe major.minor) and roll up the counts.

[2021-02-19 23:06] rgwood commented on #5967
@mandalorianbob Depends on what exactly you're interested in, but you may wish to check [the WinUI roadmap](https://github.com/Microsoft/microsoft-ui-xaml/blob/master/docs/roadmap.md) and [this Project Reunion thread](https://github.com/microsoft/ProjectReunion/issues/105). As of this time, I believe there is no public ETA for being able to run UWP apps in .NET 5 or 6.

[2021-02-19 23:50] mandalorianbob commented on #5967
Yeah I'm interested in being able to run UWP apps in .NET 6, so I guess that answers the question haha. I'm also posting inquiries to Project Reunion.

[2021-02-20 13:23] leLeo24 commented on #2531
@mairaw Okay thanks, I tried looking for the file and this is what I found, and I clicked on the first file, and it shows some codes, which I don't think is the one, I have attached a screenshot below, the 1st one is the files I found, and the 2nd one is the file when I open it.

And where do I find where the project was created because I just searched for it, in local disk?

![aspfile](https://us

[2021-02-20 19:14] Amaroq-Clearwater commented on #5967
On the subject of .NET 6, I think it might be a good idea to take a look at this for possible implementation. Should be relatively effortless of an upgrade: https://github.com/thpatch/win32_utf8

Additionally, I'd look into adding native support for things like Large Memory Pages, Ravioli Memory, and OpenACC/OpenMP. This way, people migrating to .NET 6 would get these features right out of the box

[2021-02-20 19:41] lmcdougald commented on #5967
Unless I’m mistaken the feature window probably won’t be expanding much at this stage.

Also, .NET 6 is supposed to be a clean recompile from .NET 5 supposedly (unless that promise is dead) so I’d expect the UTF8 change to be a non-starter as well.

[2021-02-20 21:41] Amaroq-Clearwater commented on #5967
I was more referring to the fact that it's a drop-in replacement for stdio.h / windows.h, which transparently turns ANSI and UTF-16 Win32 functions into UTF-8 versions... and as an added bonus, also helps troubleshoot various compatibility issues by giving you error messages that are actually helpful.

Also, because you're just importing a library, and swapping a couple of include lines... It real

[2021-02-21 11:18] DavidLJ opened #5984 "Microsoft BBL ("Big Brother Language") Continues Attack on English Language"
".NET appeals to net-new developers, students, and new technologists" marks a new advance in the progress of BBL against English.
Bogdan B. Bogdanovicovich. former People's Democratic Leading Leader of Bulgarian People's Department of People's Democratic Communication, has hailed the phrase above as clear evidence of Microsoft's "popular democratic linguistic communication-type democratic communic

[2021-02-21 15:25] Ellie-Yen opened #5985 "unable to create a webapp and execute KB3063858 (x64)"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/create
Operating System: windows 7 SP1 x64

Greeting, I've installed ASP.NET successfully, but got a wrong message while trying to create a webapp:
"""
Failed to load the dll from [C:\Program Files\dotnet\host\fxr\5.0.3\hostfxr.dll], HRESULT: 0x8007007E
The library hostfxr.dll was found, but loading it from C:\Pr

[2021-02-21 15:39] Paranjay-Sharma opened #5986 "Problem in downloading .net"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-02-21 21:18] rbhanda commented on #5986
Hello, Can you provide more details on what are you trying to achieve and more details on the problem you are encountering?

[2021-02-22 00:13] Luiz-Monad commented on #5423
Know what would be cool, if XAML worked in all platforms, including webbrowsers.

[2021-02-22 08:10] #5939 closed

[2021-02-22 09:10] Rand-Random commented on #5725
@danmoseley
I believe to have understand the difference, though it is more complicated than I thought it would be.

IMHO, I believe it would be better to mention in https://github.com/dotnet/core/blob/master/release-notes/5.0/5.0-supported-os.md that this list doesn't mean it is 100% supported but any Operating System could throw on any number of APIs a runtime exception.

Maybe it is just me, but

[2021-02-22 13:55] zhenlinyang opened #5988 "A bug in 'DateTime.ToString' appeared in v5.0.3"
### Description

DateTime dateValue = new DateTime(2021, 02, 22, 08, 00, 00);
Console.WriteLine(dateValue.ToString("yyyy/MM/dd HH:mm:ss"));

--------Output--------
2021-02-22 08:00:00

--------Normal version--------
2021/02/22 08:00:00

### Configuration

Which version of .NET is the code running on? v5.0.3
What OS and version, and for Linux, what distro? Windows 10 / Linux
What is the architectur

[2021-02-22 16:59] Eilon commented on #2531
@leLeo24 the project is created in whatever folder you ran the command in. Can you show how/where you ran the `dotnet new` command?

[2021-02-22 17:03] danmoseley commented on #5725
@Rand-Random have you tried this? https://docs.microsoft.com/en-us/dotnet/standard/analyzers/platform-compat-analyzer
It's intended to flag API's like this.

[2021-02-22 17:04] georgevanburgh opened #5989 "SDK 3.1.406 for RHEL6?"
Apologies if this is the wrong place to ask - but I was wondering if I could get some clarity on RHEL 6 support (sorry for being _that guy_).

SDK 3.1.406 was released a few weeks ago as part of #5932 (🎉). I'm aware of the fact that .NET 5 has now dropped support for RHEL6 - but was under the impression that Core 3.1 would continue support until it hits EOL next year. I'm not able to see a RHEL6 b

[2021-02-22 18:14] NejcBW commented on #5510
@przemo098 I think Vite.js is the new gold standard that all other tools will be compared with in the foreseeable feature.

[2021-02-22 18:57] hhatuey opened #5990 "dotnet watch run - failed to start"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/run
Operating System: linux 64-bit (Manjaro Nibia 20.2.1)
Kernel Version: 5.10.15-1-MANJARO
dotnet sdk: 5.0.103 [/var/lib/snapd/snap/dotnet-sdk/112/sdk]
dotnet runtime:
Microsoft.AspNetCore.App 5.0.3 [/var/lib/snapd/snap/dotnet-sdk/112/shared/Microsoft.AspNetCore.App]
Microsoft.NETCore.App 5.0.3 [/var/lib/snapd/s

[2021-02-22 19:26] 20vishwa opened #5991 "unable to create a .net 5 webapi project"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
![image](https://user-images.githubusercontent.com/5710146/108759047-dd54ab80-7571-11eb-9df3-bb87972eb307.png)

[2021-02-22 22:32] DrFisheur commented on #2524
I had the same problem, and, i'm throwing a wild guess here, it seems to me that some files are held by a cache of some sort. For my case, the files that i couldn't delete (even through FTP) were the main app dll and the first referenced view dll. Only after deleting all the files through FTP that i was able to delete the two faulty files.
After all that, i was able to republish the new build.
One

[2021-02-23 02:44] #5958 closed

[2021-02-23 06:03] mairaw commented on #5991
I’m a bit confused. What was the previous commands you ran? The tutorial linked here doesn’t create a web API project.

[2021-02-23 06:06] mairaw commented on #5990
I’m wondering if this error is because Manjaro is not one of the supported Linux distros:
https://github.com/dotnet/core/blob/master/release-notes/5.0/5.0-supported-os.md#linux

@leecow @dagood

[2021-02-23 06:47] mttchpmn commented on #5990
Having the same issue on Manjaro Nibia, after installing the dotnet-sdk via Snap

[code]

If i run `padman -Qi glibc | grep Version` the output is as follows:
[code]

Looks like it could be that the version of libc bundled with Snap is out of date with the libc version in Manjaro?
`ll /snap/core18/current/lib/x86_64-linux-gnu/ | grep libc` gives the following output:
[code]

So the version of libc

[2021-02-23 07:01] mttchpmn commented on #5990
@hhatuey `dotnet run` works without issue if you manually install the Linux x64 binaries from [here](https://dotnet.microsoft.com/download/dotnet/thank-you/sdk-5.0.103-linux-x64-binaries).  Have just confirmed this in my local environment.

Definitely seems like an issue with Snap

[2021-02-23 07:16] gregorylyons opened #5992 "Minimum requirements needs updating for recent versions"
The documentation for minimum requirements hasn't been updated for more recent releases. It would be helpful to know a similar set of information for .NET 5.

https://github.com/dotnet/core/blob/master/Documentation/minimum_requirements.md
(Created by #465)

[2021-02-23 09:44] norbertpfeifer opened #5993 "TLS cipher suites restriction does not work"
### Description
We are trying right now to restrict the TLS cipher suites in our environment.
[https://docs.microsoft.com/en-us/dotnet/core/compatibility/cryptography/5.0/default-cipher-suites-for-tls-on-linux](url)
Example: the SQL connection and service bus connection should be limited!

## Environment
* Microsoft Azure
* Kubernetes cluster
* Docker with .net 5 service
* SQL Azure
* Service Bus

[2021-02-23 10:02] Liero commented on #5510
On a related note:

When running `dotnet watch` in terminal I often
1. cannot see build errors/warning in VS error window
2. cannot run tests, because VS runs it's own build and obj/*.dll files are locked by the `dotnet watch`.

In other words, I either use `dotnet watch` and loose lot of VS tooling support, or I use run the app using VS (Debug or Run without debugging) and loose some of the live

[2021-02-23 12:13] 20vishwa commented on #5991
I ran the command "dotnet new webapi -o testConsole". Yes the tutorial creates the console application which is getting created without any issue but I am facing the issue when creating web api project. I am on SDK 5.0.103

[2021-02-23 14:23] JohnFasc opened #5994 "Blazor foreach not nullsave when using conditional ?: operator"
When I am using the conditional operator :? in an foreach loop and the list, i want to iterate through is null, the runtime throws an exception.

`@foreach(var tmp in condition ? consequent : alternative)
{
}
`

In my example the alternative was loaded and then the condition changed and the consequent was null.

### Configuration
We Use .net 5 v5.0.3

[2021-02-23 16:01] bartonjs commented on #5993
Your `sslscan.exe` command seems to be run from Windows, and you're scanning a SqlAzure server.  I don't see where your docker container running on Ubuntu Focal comes into play...

[2021-02-23 16:26] marcflohrer commented on #5993
Hi @bartonjs,
The application is running in kubernetes cluster running on Azure VM.
We have to ensure that the TLS ciphers configured in the configuration file ```/etc/ssl/openssl.cnf``` is having an effect on our TLS connections that our application opens towards the Azure SQL Database and Azure ServiceBus.

We thought the only way to prove that the TLS ciphers in ```/etc/ssl/openssl.cnf``` have

[2021-02-23 16:54] eiriktsarpalis commented on #5955
Hi @dagood, would it be possible to take a look?

[2021-02-23 17:02] bartonjs commented on #5993
Currently you have a `CipherString` value of `TLS_AES_128_GCM_SHA256`.  In OpenSSL's configuration, TLS 1.3 ciphersuites get configured in the CipherSuites property, and SSL 2 through TLS 1.2 ciphersuites get configured via the CipherString property.  Since you've specified a TLS 1.3 ciphersuite in the TLS 1.2 and below entry I think it ignores it, then decides you basically don't have a configura

[2021-02-23 17:05] eiriktsarpalis commented on #5981
Hi @rrelyea @nkolev92, is this related to the Nuget.Client repo?

[2021-02-23 17:07] eiriktsarpalis commented on #5984
Closing as off-topic.

[2021-02-23 17:07] #5984 closed

[2021-02-23 17:11] dagood commented on #5955
@rbhanda may be able to help.

[2021-02-23 17:21] jooheazy commented on #4332
I got this same error on Jenkins build. I changed the agent service's user and solved the problem.

[2021-02-23 17:35] eiriktsarpalis commented on #5989
hi @dagood, would you be able to take a look?

[2021-02-23 17:46] dagood commented on #5989
According to https://github.com/dotnet/installer/pull/9251, this was intentional:

I'm not super familiar with the RHEL support cycle, myself.

/cc @leecow @sfoslund @dleeapho

[2021-02-23 17:56] sfoslund commented on #5989
The linked PR removed the CI leg for RHEL 6 as the images were no longer supported but this should be unrelated to if RHEL 6 SDKs are produced. I'm not aware of any changes with RHEL SDK support.

[2021-02-23 17:58] sinisteralex commented on #5925
Hello.
Yes, i can see the Counter Razor Page
I did solve this problem after a while, but i think it is not a good sign when the demo for a new product/framework sends errors at first try :D
Alexander

[.net.png]

Sent from [ProtonMail](https://protonmail.com), Swiss-based encrypted email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Friday, February 19, 2021 8:49 PM, Maira Wenzel <notifications@github.com

[2021-02-23 18:10] nkolev92 commented on #5981
Nope, that's powershell's own Install Package.

We got a dup issue in https://github.com/NuGet/Home/issues/10583.

[2021-02-23 18:11] eiriktsarpalis commented on #5992
Hi @Petermarcu @dagood, do we maintain the documentation kept in this repo? What is the authoritative source w.r.t. minimal requirements?

[2021-02-23 18:16] eiriktsarpalis commented on #5994
Running foreach over null enumerables will invariably result in `NullReferenceException`, this is not particular to the `?:` operator. This is by design, I would recommend guarding with the null-coalescencing operator:

[code]

[2021-02-23 18:16] #5994 closed

[2021-02-23 18:18] eiriktsarpalis commented on #5954
It seems that this question has already been answered, so I'm going to close this issue. Feel free to reopen if that is not the case.

[2021-02-23 18:18] #5954 closed

[2021-02-23 18:24] logambigaik opened #5995 "Unable to get the result in aws linux instance."
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/run
Operating System: linux

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
![image](https://user-images.githubusercontent.com/54719289/108889490-73e8a180-7632-11eb-844a-7cabef631cb3.png)

[2021-02-23 18:28] mairaw commented on #5985
Did you install the  Microsoft Visual C++ 2015-2019 Redistributable as well?

@leecow any other suggestions?

[2021-02-23 18:29] eiriktsarpalis commented on #5981
In that case I'm going to close this issue in favor of the dup.

[2021-02-23 18:29] #5981 closed

[2021-02-23 18:35] dagood commented on #5992
@leecow @adegeo ideas? Should this go in the official docs?

[2021-02-23 18:41] mairaw commented on #5995
@leecow any suggestions here? Should the issue be filed with AWS directly?

The tutorial as written is supposed to be run locally.

[2021-02-23 18:43] mairaw commented on #5925
I cannot see the attachment since GitHub doesn't allow attached images when you're answering via email.

@sinisteralex do you have any suggestions on how we can improve the tutorial? I'd love to hear what was confusing or problematic.

[2021-02-23 19:30] sinisteralex commented on #5925
.NET SDKs installed:
  5.0.101 [C:\Program Files\dotnet\sdk]
  5.0.103 [C:\Program Files\dotnet\sdk]

.NET runtimes installed:
  Microsoft.AspNetCore.All 2.1.25 [C:\Program Files\dotnet\shared\Microsoft.AspNetCore.All]
  Microsoft.AspNetCore.App 2.1.25 [C:\Program Files\dotnet\shared\Microsoft.AspNetCore.App]
  Microsoft.AspNetCore.App 3.1.10 [C:\Program Files\dotnet\shared\Microsoft.AspNetCore.Ap

[2021-02-23 19:45] mairaw commented on #5925
Thanks for the info. I'll close this since you managed to resolve your issue but please let us know if there is anything that could make the experience better.

[2021-02-23 19:45] #5925 closed

[2021-02-23 19:53] shirhatti commented on #5713
Oops. I just accidentally marked this as P1 😢

[2021-02-24 02:06] JulieLeeMSFT commented on #5889
## CodeGen
### Dynamic PGO https://github.com/dotnet/runtime/issues/43618

- Allow CSE & hoisting of vtable lookups for the indirections https://github.com/dotnet/runtime/pull/47808
- Block counts in tiered compilation https://github.com/dotnet/runtime/issues/13672
- Allow Inlinee profile scale-up https://github.com/dotnet/runtime/pull/48280
- Efficient profiling scheme (e.g., spanning tree with e

[2021-02-24 05:19] Elie-Yen commented on #5985
@mairaw
No, I could not execute (install) Microsoft Visual C++ 2015-2019 Redistributable, either.
I installed it before, but when I want to download .NET, I found it's broken and couldn't be fixed automatically.
I was told to re-install it so I removed it and I can't use it again.

Here is my relevant programs:
![ms_programs](https://user-images.githubusercontent.com/60340631/108950031-7b469400-76

[2021-02-24 17:41] terrajobst opened #5998 "Default branch is now main"
On 2/24 we have renamed the default branch in this repository to `main`. For more details, see [our earlier announcement](https://github.com/dotnet/announcements/issues/172).

[2021-02-24 17:46] odomaf commented on #4260
I would love to know what the solution was, as I am having the same problem.

[2021-02-24 18:54] eiriktsarpalis commented on #5889
## .NET Libraries: PriorityQueue

https://github.com/dotnet/runtime/issues/43957

We have added a `PriorityQueue<TElement, TPriority>` collection to the `System.Collections.Generic` namespace. The type is similar to `Queue<T>` but associates each enqueued elements with a priority value. On dequeue the PriorityQueue returns the element with the smallest priority. It is implemented using an array-ba

[2021-02-24 21:58] BrayanKhosravian commented on #2933
I noticed this issue as well in net5.
Then I changed the target platform from net5 to core3.1.

I noticed that i get the following error in core3.1.
[code]

I wonder if this should be supported in net5 and if this error check is missing.

[2021-02-25 00:17] joeloff commented on #5440
Once we have feedback I think we can schedule another round.

[2021-02-25 00:17] #5440 closed

[2021-02-25 00:57] clairernovotny commented on #5699
As a head's up, the Extras supports this for the inner compile loop and building nuget packages:
https://github.com/novotnyllc/MSBuildSdkExtras#creating-per-runtimeidentifier-packages

It doesn't likely handle P2P references in an intelligent way.

[2021-02-25 02:15] caiogvcoliveira commented on #4360
@rogueco

Thanks !!!

[2021-02-25 07:19] norbertpfeifer commented on #5993
Hi @bartonjs,
I changed the config but it still doesn't work. Any idea?

openssl_conf = default_conf

[default_conf]
ssl_conf = ssl_sect

[ssl_sect]
system_default = system_default_sect

[system_default_sect]
Ciphersuites = TLS_CHACHA20_POLY1305_SHA256

[2021-02-25 14:50] weedkiller commented on #5238
Build in Drop in options for ASP web MVC & [cloud apps Identity with Tenant](https://github.com/dotnet/aspnetcore/issues/26625#issuecomment-704390630), Users, Groups (Like LDAP), Authentication and UI management.

### Multitenant Groups Management is _not_ trivial and still missing in .NET unlike JAVA JSR native support.

This complexity of this implementation leaves the apps on .NET framework vul

[2021-02-25 15:10] papyr commented on #5397
Feature Request: **`Drop-in component for ASP Identity Administration, Portals, UI, SSO, Claims, AD-Sync, Token, Multi.Tenant Management`** so that the Visual Studio templates don't require commercial licensed 3rd party components.

I have been watching/waiting few yrs. patiently, however some recent changes have forced me to request -- Microsoft revisit this for their developer community, keeping

[2021-02-25 15:15] papyr commented on #5465
Feature Request: **`Drop-in component for ASP Identity Administration, Portals, UI, SSO, Claims, AD-Sync, Token, Multi.Tenant Management`** so that the Visual Studio templates don't require commercial licensed 3rd party components.

I have been watching/waiting few yrs. patiently, however some recent changes have forced me to request -- Microsoft revisit this for their developer community, keeping

[2021-02-25 16:25] NickStrupat commented on #5634
This is the solution until the MySQL EF folks update their package. To be specific, add this package references to your `.csproj` file:

[code]

[2021-02-25 16:41] bartonjs commented on #5993
`CipherSuites` only modifies TLS 1.3+ ciphersuites, and SqlAzure doesn't support TLS 1.3

Assuming you're trying to get things to fail (with a no mutually available ciphersuites error)

[code]

[2021-02-25 18:24] rebeccapowell commented on #5884
The root cause of this error is that the root certificate that was tied to the intermediary CA, and thus the package signer, is missing from the machine and dotnet restore cannot validate the signer without it.

In order to establish which package and which root certificate is missing you can use `dotnet restore` in the following configuration, replacing your path and solution name (you can also t

[2021-02-25 18:32] BrennanConroy commented on #5889
## ASP.NET Core: SignalR - Nullable annotations

https://github.com/dotnet/aspnetcore/pull/29219

We added nullable annotations to the SignalR client packages, and modified some of the annotations on SignalR server. Please try it out and see if the annotations make sense or not. You will need to put `<Nullable>enable</Nullable>` in your csproj in order to use the nullable annotations.

[2021-02-25 19:04] #5973 closed

[2021-02-25 22:23] JwanKhalaf opened #5999 "On linux, the configuration should sit in ~/.config/aspnet"
Many of us are developing .NET Core application on Linux, it is awesome!

It would be even better if Linux standards/conventions were followed. For example, right now, in my home directory, I have a `.aspnet` directory.

This should really sit in the [XDG Base Directory](https://wiki.archlinux.org/index.php/XDG_Base_Directory), so it should be in `~/.config/aspnet`, this would avoid further clutte

[2021-02-26 01:13] sdmaclea opened #6000 ".NET Core tar.gz downloads are unsigned"
The tar.gz downloads on the .NET releases website are unsigned.

This causes usage of these to trigger malicious software warnings on some OSs.

On Apple Silicon, these binaries get silently killed by the kernel unless `System Integrity Protection` is disable and developer mode is enabled.

- The ideal fix would be to fix arcade to properly sign tar.gz binaries.  (Or rebuild the tar.gz from signed

[2021-02-26 09:14] marcflohrer commented on #5993
It worked, I with your latest proposal we get the expected TLS handshake error.

[code]

Thanks a lot!

[2021-02-26 09:33] #5993 closed

[2021-02-26 09:33] norbertpfeifer commented on #5993
Thanks a lot.

[2021-02-26 15:33] mmitche commented on #6000
@sdmaclea Do we have an exact set of binaries that need to be signed within those archives?

I think this is more easily fixed in 6 than 5, but should be possible in both. The post build signing in 6 means all the signing is running on a Windows machine. For 5.0, it may mean finding an appropriate spot to put in-build signing for mac (this may already exist though).

[2021-02-26 16:41] Amaroq-Clearwater opened #6001 "Add support for Decimal Floating Point arithmetic"
### Description
* There are too many problems with the IEEE 754 standard, especially when it comes to dealing with anything related to finances.
* The end goal should be to eventually phase out Binary Floating Point (but not immediately). The sooner a widely used programming language or framework adopts a Decimal-based alternative, the better.
* I am nor great at explanations, so I will instead li

[2021-02-26 17:16] dotMorten commented on #5469
The .NET Blogposts are recommending that for all new work, you should be using .NET Core/5, and not .NET Framework. I'd prefer the project templates clearly conveyed that recommendation.

Removing them completely might be too harsh, but what I would favor (we removed them from our own project template installer as well). Calling it legacy, or only having a single project template and have the wiza

[2021-02-26 17:28] mangod9 commented on #5889
## All Framework Assemblies Precompiled by Crossgen2

As mentioned in the Preview1 update, `System.Private.CoreLib` was being compiled using the new Crossgen2 toolset. As part of extending that functionality all framework assemblies are now compiled using Crossgen2. There shouldn't be any noticeable performance differences. There are some size optimizations so size on disk for `NetCoreApp` should

[2021-02-26 17:35] timmydo opened #6048 "Releases.json doesn't provide zip files for linux sdks/runtimes"
AB#1285371
We were previously consuming linux .NET SDKs using the pattern: $"https://dotnetcli.azureedge.net/dotnet/Sdk/{netSdkVersion}/dotnet-sdk-{netSdkVersion}-linux-{arch}.zip";

We aren't able to migrate to using releases.json/Microsoft.Deployment.DotNet.Releases since this doesn't have matches: netSdkVersion.Files.First(r => r.Rid == $"linux-{arch}" && r.FileName.EndsWith(".zip")).Address.To

[2021-02-26 17:38] sdmaclea commented on #6000
I personally do not have an exact list. @hoyosjs may have an idea how to get this.

For Apple Silicon, the native binaries need to be signed.  This would include `dotnet`, `createdump`, and all the `dylib` shared libraries.

The `apphost` template(s) are more unclear.  Ideally in my mind the template should be signed and we would remove the signature when publishing it as a users `exe`. @vitek-kar

[2021-02-26 17:46] sdmaclea commented on #6000
In case I answered the wrong question....

I also do not know exactly which platforms and releases were affected.  I only looked at the .NET 5 macOS x64 tar.gz release.  I would guess this would affect any release using the new signing mechanisms.

[2021-02-26 17:48] hoyosjs commented on #6000
Will check this later when I have an access to a macOS device.

[2021-02-26 17:49] mmitche commented on #6000
I don't believe we sign any *nix or OSX executable binaries today within the archives. Within nix zip files, the MSIL binaries are probably signed in 6.0 (based on post-build signing) and may be somewhat signed in 5.0 (based on where package signing happens).

[2021-02-26 18:03] pjmlp commented on #5469
Just don't forget those that do new projects with old libraries, not everyone is able to do everything from scratch, and as much as Microsoft would like it to happen, there are still plenty of corporate libraries without a .NET Core version.

. NET Core turned out into our version of Python 3, and will take just as long to move everyone forward.

Corporate developers also have beginners on their t

[2021-02-26 18:14] yezilife commented on #5713
We would love to see this as P1 if not P0 : )

[2021-02-26 18:28] dotMorten commented on #5469
I modified the WPF Project template to the below and could successfully use it for both .NET 3.1, 5.0 and .NET Framework.
Main trick was adding some entries to `Framework` and update the condition for `UseWindowsDesktopSdk`

![image](https://user-images.githubusercontent.com/1378165/109340009-50ce1580-781d-11eb-94b4-2acc05b5b83d.png)

[code]

[2021-02-26 18:44] blowdart commented on #6000
_The apphost template(s) are more unclear. Ideally in my mind the template should be signed and we would remove the signature when publishing it as a user's exe. @vitek-karas would know more here._

We've been through this before on windows. The app.exe on windows that is used to bundle into app distribution is deliberately not signed, because it would have a Microsoft signature, and thus would lo

[2021-02-26 19:01] hoyosjs commented on #6000
hmm, I'm surprised we don't for macOS and variants. It will definitely be needed if SIP is enabled. At least for the dotnet host and such. AppHost and SuperHost can't be signed given Barry's comment until they've been fully rewritten to point to the end-users application logic. In Azure Environments you do have a signing requirement, depending on the environment, and it does require 400's, but the

[2021-02-26 19:49] #5982 closed

[2021-02-26 20:49] #5972 closed

[2021-02-26 21:14] Shad-509 opened #6002 "Help Please!"
[Problem](url) encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, an
![2021-02-26 (8)](https://user-images.githubusercontent.com/79609151/109355686-90145a80-784d-11eb-8387-1140d3f47227.png)
![2021-02-26 (8)](ht

[2021-02-26 21:15] Shad-509 commented on #6002
when i put in dotnet i get what you see in the screen shot

[2021-02-26 22:08] mairaw commented on #6002
That seems to match the expected output as displayed in the tutorial. Did you try to continue and create your app in the next step?

[2021-02-26 22:34] mmitche commented on #6000
Wouldn't that mean that Azure is responsible for signing those binaries if they are distributing them?

[2021-02-26 22:50] hoyosjs commented on #6000
Those particular ones, yes (the hosts that were mentioned). But not the framework and the generic host. Those don't get modified once they leave our build pipeline. This will be particularly relevant for macOS on M1, just because of the level of protections required. Should this be in this repo? It feels like signtool and the release pipeline are the ones that require this modification. (I don't k

[2021-02-26 23:08] sdmaclea commented on #6000
I put it here because it affects our downloads website.  If nothing else the website need so track getting this fixed.

Yes this is ugly.  @richlander asked to get this fixed, so I opened this issue.

It feels like if we are releasing this binaries, we should be signing them.  The installer ones for macOS are signed, but the tar.g ones are not.  We should be signing the release binaries for all pl

[2021-02-27 00:35] Shad-509 commented on #6002
Thank you very much!!!!!!!1

On Fri, Feb 26, 2021 at 5:09 PM Maira Wenzel <notifications@github.com>
wrote:

[2021-02-27 02:39] MojoDaHacker commented on #948
Bingo lol, thanks man.

[2021-02-27 05:59] #6002 closed

[2021-02-27 05:59] mairaw commented on #6002
It seems you got your issue solved so closing.

[2021-02-28 08:43] k15tfu commented on #6000
BTW, I think that it causes https://github.com/dotnet/runtime/issues/38306.

[2021-02-28 14:08] bobtabor commented on #5468
I would just like to express that I'm happy to see this as part of the themes of .NET.

Two things:

- Microsoft Learn would be a great venue for some component of this larger effort.
- I'm less grumpy and tired than when we spoke w/ Golnaz a while back, so if there's any interest in revisiting a comprehensive set of bootcamp courses, I'd be happy to take that on.

[2021-02-28 19:16] Alaphine17 opened #6003 "Just says dotnet isnt found.."
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

when i type in dotnet new console in visual studio code i get this error message

 It was not possible to find any

[2021-02-28 21:35] #5986 closed

[2021-02-28 22:55] mairaw commented on #6003
Can you paste the results of running `dotnet --info`?

[2021-03-01 07:32] allycs commented on #701
core3.1 依然存在此问题

[2021-03-01 09:55] diana200 commented on #5932
Error on installing package for Visual Studio 2019. Processor was not recognised:
Intel(R) Core(TM) i7-4770S CPU @ 3.10GHz   3.10 GHz

[16B4:26DC][2021-03-01T11:48:38]i305: Verified acquired payload: AspNetCoreSharedFramework_arm64 at path: C:\ProgramData\Package Cache\.unverified\AspNetCoreSharedFramework_arm64, moving to: C:\ProgramData\Package Cache\{8DB7A5DD-24AE-38E4-A117-E678460DFF34}v5.0.3.

[2021-03-01 18:09] vsfeedback opened #6004 "Official support for .net on FreeBSD (or any other *BSD)"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Official-support-for-net-on-FreeBSD-or/1340213)._

---
**Official support for .net on FreeBSD (or any other *BSD)**
Just one step for "WORA". I think it is *BSD.

---
### Original Comments

#### Feedback Bot on 2/17/2021, 10:59 PM:

Thank you for taking the time to provide your suggesti

[2021-03-01 18:29] richlander commented on #5853
.NET 6 Preview 1 was released: https://devblogs.microsoft.com/dotnet/announcing-net-6-preview-1/

[2021-03-01 18:29] #5853 closed

[2021-03-01 20:58] elisavaladao opened #6005 "Donet não reconhecido"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

C:\Users\Dell>donet
'donet' não é reconhecido como um comando interno
ou externo, um programa operável ou um arqui

[2021-03-01 21:25] elisavaladao commented on #6005
Funcionou. Muito obrigada!

Em seg., 1 de mar. de 2021 às 18:24, Maira Wenzel <notifications@github.com>
escreveu:

--

[2021-03-01 21:27] mairaw commented on #6005
De nada! Vou fechar o issue então. Qualquer coisa, se você encontrar outros problemas, nos avise.

[2021-03-01 21:27] #6005 closed

[2021-03-01 23:45] mairaw commented on #5985
@leecow can you help here?

[2021-03-02 03:49] scott-nelson-olo commented on #4512
I was seeing this error consistently with `mcr.microsoft.com/dotnet/sdk:3.1-alpine` when `RUN dotnet publish`:

`#30 5.356 /usr/share/dotnet/sdk/3.1.406/Sdks/Microsoft.NET.Sdk/targets/Microsoft.PackageDependencyResolution.targets(241,5): error NETSDK1064: Package AWSSDK.S3, version 3.3.104.17 was not found. It might have been deleted since NuGet restore. Otherwise, NuGet restore might have only pa

[2021-03-02 11:45] pappasa commented on #5396
Please provide a path for migrating COM+ (System.EnterpriseServices) applications. Especially a path to migrate distributed transactions.

[2021-03-02 12:28] MarcoHuib opened #6006 "Data Annotations on record fails in unittest"
Currently we are setting up a new project and like to use the new records introduced in C# 9.
We encounter a problem with DataAnnotations inside the record (constructor) not being triggered during the unittest.

Now the DataAnnotation is triggered when calling the Controller, but when i try to simulate this in a unittest (see code below) it will never return any errors.

[code]

Currently we try d

[2021-03-02 12:46] IrakliLomidze opened #6007 "Can I open a Discussion on an Idea about the runtime free version of .net?"
Can I open a Discussion on an Idea about the runtime free version of .net?

Once managed code and runtime was an advantage of the java and .net. But as time is passed, now .net runtime is a big downside of the .net. Especially when we have to upgrade to the new version every 3 years, that is costly.

Many solution architects, including me, are seriously considering starting to migrate on native co

[2021-03-02 13:55] IngvarKofoed opened #6008 "Resource paths missing namespace part when compiled using symlinks on Linux"
I created a git repository with a description and code to reproduce the issue that I ran into: [https://github.com/IngvarKofoed/dotnet-resource-bug](https://github.com/IngvarKofoed/dotnet-resource-bug)

In short, the namespace part of resources are missing when build on Linux and where the resources are accessed (the path in csproj) through a symlink.

[2021-03-02 14:03] antonfirsov commented on #6007
Sure, feel free to open a discussion under the runtime repo, you have better chance to reach out to relevant people than here:
https://github.com/dotnet/runtime/discussions

[2021-03-02 14:03] #6007 closed

[2021-03-02 15:06] antonfirsov commented on #6008
Seems like a CLI/SDK issue. /cc @wli3 @dsplaisted

[2021-03-02 19:54] rbhanda opened #6010 ".NET Core March 2021 Update - .NET 5.0.200 SDK"
Today we are releasing .NET 5.0 200 SDK as a supported SDK with the release of [Visual Studio 16.9](https://docs.microsoft.com/visualstudio/releases/2019/release-notes#16.9.0)

Release Notes
[5.0.200 SDK](https://github.com/dotnet/core/blob/master/release-notes/5.0/5.0.3/5.0.200-sdk.md)

Please report any issues you find with .NET 5.0.200 SDK, by responding to this issue.

-----
Status of availabi

[2021-03-02 23:20] danielmeza opened #6012 "Official support for D-Bus on Linux systems"
Linux is one of the main supported OS for .NET but we have not a official D-Bus implementation.

We had a [D-Bus](https://github.com/tmds/Tmds.DBus) implementation that works very well but does not below to the .NET Foundation and had not the attention or the support required for a Linux first Citizen characteristics like D-Bus.

We can use the [@tmds](https://github.com/tmds) work as a starting p

[2021-03-02 23:27] nighby commented on #6010
This isn't a SDK issue per se, but the file path for the F# compiler changed between 5.0.103 and 5.0.200. /usr/share/dotnet/sdk/5.0.103/FSharp/fsc.exe and /usr/share/dotnet/sdk/5.0.200/FSharp/fsc.dll respectively.

This has not appeared in any documentation, and breaks some tooling (e.g. websharper) that used a hardcoded assumption (see [here](https://github.com/dotnet-websharper/core/issues/1123)

[2021-03-03 00:08] mairaw commented on #6012
@leecow can you check this request?

[2021-03-03 00:34] MaxHayman commented on #6010
typed conditional expressions now require casting? I couldn't find any mention this. Works fine in 103 but produces an error in 200.

[code]

[code]

[2021-03-03 00:56] vgist1 commented on #6010
Wo

Something interesting I noticed is that if I build that exact same code with Visual Studio it works out of the box and subsequently dotnet build also works, however, if I try to use dotnet build prior to building it from cli it will error not matter what.

[2021-03-03 03:38] baxtian7 commented on #5634
tenia el mismo problema, al verificar estaba instalando MySql.Data.EntityFrameworkCore el cual esta en desuso, descargue MySql.EntityFrameworkCore y mi problema se soluciono.

[2021-03-03 07:23] atmainvestments opened #6014 "atma 1972 ltd . com"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/edit
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-03-03 08:27] bairog commented on #5567
[Visual Studio 2019 16.9 is released](https://devblogs.microsoft.com/visualstudio/vs2019-v16-9-and-v16-10-preview-1/) and considered to be a new Servicing Baseline.
In [Servicing Baseline docs](https://docs.microsoft.com/ru-ru/visualstudio/releases/2019/servicing) there is an image:
![](https://docs.microsoft.com/ru-ru/visualstudio/releases/2019/media/16.9/servicing-baseline-2019-16.9.png)
Did I u

[2021-03-03 14:23] coldcloudgold commented on #5671
*PUSH*

```docker login```

```docker tag name_image:tag name_user_docker/name_image:tag```

```docker push name_user_docker/name_image:tag```

*DELETE*

```docker rmi name_user_docker/name_image:tag```

or

```docker rmi -f image_id```

[2021-03-03 16:11] danmoseley commented on #5671
@coldcloudgold if you have an issue can you please open a new issue? Probably directly in https://github.com/dotnet/dotnet-docker

[2021-03-03 16:11] mairaw commented on #6014
Please describe the issue you’re having

[2021-03-03 16:15] danmoseley commented on #6012
@danielmeza i am not familiar with DBus, but the first step would be to build a community that performs active development on it (if there is not one) then propose to the foundation to bring it on board.

[2021-03-03 16:16] danmoseley commented on #6012
Cc @glennc  in case this has been mentioned by other customers

[2021-03-03 16:18] MojtabaMoharami opened #6015 "problem"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-03-03 17:05] Youssef1313 opened #6016 "Update release notes link on dotnet.microsoft.com for correct branch"
In https://dotnet.microsoft.com/download/dotnet/5.0, the link there is master (it redirects automatically to `main` with a message saying "Branch master was renamed to main.").

It could be better to have the links point to main directly.

cc: @mairaw

[2021-03-03 17:05] kevinkoenig opened #6017 "dotnet run and other commands taking a long time to do anything"
[See this Link](https://www.screencast.com/t/sI6v4vGt36y)
executing any dotnet command takes for ever to start.  See link.  If I run dotnet outside my project directory it executes quickly

[2021-03-03 18:20] pentp commented on #6010
Upgrading from 5.0.103 to 5.0.200 SDK seems to downgrade/regress the runtime somehow, although the listed runtime versions are identical (Microsoft.NETCore.App 5.0.3). Tests that used to work fine are now failing with `InvalidProgramException: Common Language Runtime detected an invalid program`.

I've been unable to consistently repro it locally because of an unrelated issue with MSTest.TestAdapt

[2021-03-03 18:40] wimdevriendt commented on #6004
Any news for .net 5.0 core on FreeBSD ?

[2021-03-03 20:53] mairaw commented on #6016
This would be fixed by #5997.

[2021-03-03 20:55] mairaw commented on #6015
Please provide details about the problem you're having.

[2021-03-03 21:47] fabriciomurta commented on #6010
Here I upgraded both .NET 5.0.103 to 5.0.200 -and- VS from 16.8.z to 16.9.0. In fact, I just upgraded VS Community and .NET 5.0.200 came in the package (commandline dotnet says now 5.0.200).

The same problem is reproducible both in commandline and visual studio.

[2021-03-03 23:32] pgovind commented on #5889
## .NET Libraries: Numerics - Better parsing of standard numeric formats

1. https://github.com/dotnet/docs/pull/23046 (for the docs) and https://github.com/dotnet/docs/issues/22458 (for the description)
2. https://github.com/dotnet/runtime/issues/46827

We've improved the parser for the standard numeric types. Specifically, `.ToString` and `.TryFormat` will behave better when precision > 99 is sp

[2021-03-04 04:27] web-jeromejose opened #6018 "error during connect: In the default daemon configuration on Windows, the docker client must be run with elevated privileges to connect."
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/docker-image
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

error during connect: In the default daemon configuration on Windows, the docker client must be run with ele

[2021-03-04 04:28] web-jeromejose commented on #6018
![image](https://user-images.githubusercontent.com/1982297/109911487-25e43580-7ce5-11eb-8ce5-8320d347eaa7.png)
![image](https://user-images.githubusercontent.com/1982297/109911491-28df2600-7ce5-11eb-98be-8d4fdf710ab1.png)

[2021-03-04 09:44] svick commented on #6004
The issue to follow regarding that is https://github.com/dotnet/runtime/issues/14537.

[2021-03-04 11:03] antonfirsov commented on #6018
Assigning area owners of docker tutorials: @shirhatti @nishanil

[2021-03-04 11:12] wzchua commented on #6010
@MaxHayman https://github.com/dotnet/roslyn/issues/51597

[2021-03-04 13:12] mo-saeed commented on #226
Hello @markrendle I have this issue while using this lib `libicu52`

[code]

[2021-03-04 13:58] danielmeza commented on #6012
@danmoseley there is already a community implementation https://github.com/tmds/Tmds.DBus, I have opened an issue there to join it to the .NET Foundation, will be great if you or any on the team can contact to [@tdms](https://github.com/tmds) to accelerate the process.

[2021-03-04 15:31] nishanil commented on #6018
@web-jeromejose Hey! this looks like an issue similar to the ones reported here: https://github.com/docker/for-win/issues/1825

You may want to try running `docker run hello-world` first to make sure Docker is setup correclty.

[2021-03-04 16:36] ZephyrDogma opened #6019 "No SDK's were found"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

like i installed the SDK but when i create a project in Visual Studio Community it shows like this:
![image](https://user-images.githubusercontent.com/77338971/109996882-8dab7800-7d07-11eb-8d28-72bede1cda37.png)
and as u can see in the red box it isn't showing correctly, as in t

[2021-03-04 16:47] ZephyrDogma commented on #5154
Mairaw i did what u said and didnt work

[2021-03-04 16:48] ZephyrDogma commented on #5154
and yes i am using Visual Studio to edit the files

[2021-03-04 17:16] #6016 closed

[2021-03-04 17:41] mairaw commented on #5154
@ZephyrDogma can you paste the output of `where dotnet`? It would be better if you create a new issue since we don't typically keep an eye on closed ones.

[2021-03-04 17:45] ZephyrDogma commented on #5154
here is the new issue
https://github.com/dotnet/core/issues/6019

[2021-03-04 17:47] ZephyrDogma commented on #6019
mariaw here it is:
![image](https://user-images.githubusercontent.com/77338971/110006477-a02aaf00-7d11-11eb-8153-c0a85b8483a6.png)

[2021-03-04 17:53] ZephyrDogma commented on #5154
@mairaw the new issue is #6019 can u help?

[2021-03-04 18:24] ZephyrDogma opened #6020 "Issues Creating an app .NET Core"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
![image](https://user-images.githubusercontent.com/77338971/110010744-8b9ce580-7d16-11eb-91ba-93af513d894f.png)
And

[2021-03-04 18:57] mairaw commented on #6019
And your Windows is x64, correct?

It seems you encountered the same issue as described in this issue where I added a step-by-step on how to fix it:
https://github.com/dotnet/core/issues/5962#issuecomment-780084535

Me avisa se funcionou ok?

[2021-03-04 19:31] mairaw commented on #6020
Duplicate of #6019

[2021-03-04 19:31] #6020 closed

[2021-03-04 20:10] mairaw commented on #226
@mo-saeed it would probably be better to open a new issue given this one was closed due to the lack of response and it's almost 5 years old.

[2021-03-04 20:11] mairaw commented on #6004
Thanks @svick. Closing this one as a duplicate then.

[2021-03-04 20:11] #6004 closed

[2021-03-04 21:11] danmoseley commented on #6012
I think you have a typo in his user name -- it's @tmds.

it's a foundation decision what projects they support, but @tmds, let me know if you need anything from us.

[2021-03-05 04:29] Water261 opened #6022 "dotnet-sdk deps installing from Fedora 33 Updates repo instead of Microsoft repo"
### Description

When installing dotnet-sdk-5.0, only the sdk itself is being installed from the Microsoft repo, everything else from Fedora 33 update repo. I've tried changing priorities of the repos but it still is falling back on Updates repo.

### Configuration

OS: Fedora 33, x86_64
Unsure to whether it is specific to my config

### Regression?

Just a fresh install doesn't work

### Other in

[2021-03-05 04:41] RyanLiu99 commented on #2186
My .net core 3.1 Console app is doing Console.WriteLine("HI") and gave me this error in a windows container.
Why not set  System.Globalization.Invariant": true automatically by default if no setting.

Such a basic thing like  Console.WriteLine("") should always work with some defaults if necessary!

[2021-03-05 08:04] tmds commented on #6012
hi @danielmeza

The library should allow you to consume D-Bus services in a straight forward way, and there are no major issues I'm aware of. If you have an issue, you can create a ticket in the repo, cc me, and I'll do my best to support you.

I'd like to make some major changes to the library, like using `Span` and friends for protocol implementation, and change to generating code during build i

[2021-03-05 10:41] JJ-Niemi opened #6023 "dotnet nuget push --skip-duplicate generates error telling you that you need to use --skip-duplicate"
### Description
When you already have a nuget package in a private nuget repository, you will get an error when using --skip-duplicate option.

When running the following command:
dotnet nuget push "test-package.6.1.1.nupkg" -k "*******" -s "https://127.0.0.1/nuget/test-tools/" --no-symbols --skip-duplicate

The output generated is the following:
  Pushing test-package.6.1.1.nupkg to 'https://127.

[2021-03-05 11:29] danielmeza commented on #6012
Hi @tmds, first let me say tanks you for you excellent work whit the library, my intention is not to demerit you effort but help to spread it.

As the work you did is great, we will need call for maintainers to split the work load and  make the repository healthier, so you can be free four your own work.

I know that to become a .NET Foundation member some requirements should be meet, and that’s w

[2021-03-05 11:32] ZephyrDogma commented on #6019
thank u soo much @mairaw u solved my issue

[2021-03-05 13:24] omajid commented on #6022
I think it's a general issue and something that should be fixed in the docs: https://github.com/dotnet/docs/pull/22893

[2021-03-05 15:56] antonfirsov commented on #6023
@rrelyea @nkolev92 this looks like a NuGet issue, can you transfer this to https://github.com/NuGet/Home ?

[2021-03-05 17:20] valentasm1 commented on #5376
@Jacko1394 did you found any workarounds?

[2021-03-05 17:46] daniel-p-tech commented on #5510
When can developers expect hot reload of Blazor (WASM) to be available? This is such a huge productivity enhancement that is crucial in successful adoption of Blazor.

[2021-03-05 17:51] antonfirsov commented on #6022
Assigning area owner @dagood. (Davis let me know, if this shall be routed to someone else.)

[2021-03-05 19:04] dagood commented on #6022
Here are a few more tracking issues in this general area:
* Add instructions to diagnose/fix errors caused by mixing Microsoft and source-built Linux packages dotnet/docs#18347
* Microsoft and source-built Linux packages don't mix well dotnet/runtime#47500

Based on the convo in https://github.com/dotnet/runtime/issues/47500 I would have expected setting repo priority to work... but I don't know t

[2021-03-05 22:26] mairaw commented on #6019
Great to hear!

[2021-03-05 22:28] mairaw commented on #6023
This issue was moved to NuGet/Home#10633

[2021-03-05 22:28] #6023 closed

[2021-03-06 22:29] AliciaRaven opened #6024 "Console issues with multithreaded c# app only when run on Linux"
### Description
Standard design for a c# console application is for the main thread to start worker threads, in my case listening for network connections, and then enter a while loop blocking on Console.Readline waiting for any console input. The documentation supports this model as console should support multithreading and when running on windows it does as expected. When running on linux with do

[2021-03-07 03:46] shirhatti commented on #6018
Unless there's a regression in the Docker that I'm not aware of, that isn't the case. The Docker for Windows installer creates a new group `docker-users` and adds the user that ran the installer to that group.

Assuming you don't want elevation every time you run a docker command, considering adding yourself to that group.

Beyond that suggestion, we can't really help you with your current problem

[2021-03-07 03:46] #6018 closed

[2021-03-07 12:17] Karlkask019 opened #6025 "dotnet"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-03-07 12:18] #6025 closed

[2021-03-07 18:29] A1GyJ-Natq5DZdvSQE2NvCI commented on #6025
Help

[2021-03-07 18:58] jegasape commented on #5884
I'm having this same problem, when I try to run a **webapi** on my ubuntu machine and I get this error.

error NU3028: Package 'Microsoft.OpenApi 1.2.3' from source 'https://api.nuget.org/v3/index.json': The author primary signature's timestamp found a chain building issue: UntrustedRoot: self signed certificate in certificate chain

error NU3037: Package 'Microsoft.OpenApi 1.2.3' from source 'htt

[2021-03-07 23:21] SaculRennorb opened #6026 "TypeLoadException when storing struct with ArraySegment of own type"
### Description

Not necessarily instantiating, but **storing** a struct `A` with an `ArraySegment<A>` inside causes a TypeLoadException.

This seems to happen when placing a struct with a generic array of type `A` inside a struct of type `A`. This shouldn't be a problem tho, since the array is a 'pointer' and therefore takes up constant space inside the struct regardless of type.

Here is a mostl

[2021-03-07 23:32] #6003 closed

[2021-03-08 16:10] antonfirsov commented on #6026
@SaculRennorb the simplest repro of your issue looks like as following:

[code]

This is basically a duplicate of dotnet/runtime#6924, and unlikely to be fixed according to https://github.com/dotnet/runtime/issues/6924#issuecomment-547078135. If you think you have a good justification (real life use case) feel free to comment under that discussion.

[2021-03-08 16:10] #6026 closed

[2021-03-08 20:33] davidortinau commented on #5889
## .NET Multi-platform App UI

[link to the tracking issue or epic item for the work]

We have added .NET MAUI and single project developer experiences for Android, iOS, and Mac Catalyst. This release includes:

### Mac Catalyst SDK and target framework moniker (`net6) for compiling .NET MAUI apps for macOS desktop

[code]

### A single, multi-targeted application project

<img width="157" alt="si

[2021-03-09 02:16] Manoj525 opened #6027 "Hello-world-tutorial"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet hello-world-tutorial/modify
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-03-09 03:16] tefaye commented on #5156
This is a huge deal for us. We sell software that includes Office integrations built with VSTO. Unfortunately we are unable to use the OfficeJS APIs because they are too limited and, frankly, our customers expect an integrated solution that simply can't be delivered with OfficeJS.

We are seeing demand for our software on ARM-powered devices (e.g. Surface Pro X) and are looking to migrate to .NET

[2021-03-09 07:18] Maddydeep92 opened #6028 "dotnet command not available"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-03-09 07:47] vijayakumarpattanashetti commented on #2473
For mac users who face this issue:

Just edit/create your Dockerfile in Python IDLE and remove extension. This worked for me.

[2021-03-09 09:51] anandcta123 opened #6029 "Mutex with initial ownership not working."
Trying to execute below code in .NET Core 2.1, getting issue as "ThreadAbondonedException". Please resolve, existing .NET migrated code will break.

using System;
    using System.Threading;

    class Program
    {
        // Create a new Mutex. The creating thread owns the Mutex.
        private static Mutex mut = new Mutex(true);
        private const int numIterations = 1;
        private cons

[2021-03-09 12:11] paolini opened #6030 "tutorial program gives no output"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: linux

I have followed the tutorial as shown below. When executing `dotnet run` no output is given (not the expected "Hello World" nor any error")

[code]

[2021-03-09 13:00] Deilan opened #6031 "[NetCoreCheck] Provide a way to check a range of versions"
Currently NetCoreCheck could be used to check whether is specific version of runtime is installed.

Would be also convenient to check whether any version within provided range is installed, e.g.: `3.x`, `3.1.x`, `>=3.0.0`, `>=5.0.0 < 5.1`, etc.

[2021-03-09 14:50] touzas opened #6032 "libsystem.security.cryptography.native.openssl"
This error ocurrs in a Android Application.

When i try to create a AesCryptoServiceProvider with the CreateDecryptor(key, iv) method i receibe this exception:
System.DllNotFoundException: 'libSystem.Security.Cryptography.Native.OpenSsl'

I try using the PCL package and receive same error.

It's necesary compile OpenSSL to android?

Thanks

[2021-03-09 16:10] omajid opened #6033 "Missing EOL date in releases-index.json for 5.0"
All other entries have a `eol-date` key which is either a date (past or future) or even `null`. But 5.0 doesn't:

https://github.com/dotnet/core/blob/35cb36103c4caaf36f5203dd8e3d41ee0f01a733/release-notes/releases-index.json#L15-L25

[2021-03-09 16:56] antonfirsov commented on #6027
@Manoj525 can you please provide more detailed description about the problem you experienced?

[2021-03-09 16:58] Manoj525 commented on #6027
I cleared the problem myself and thanks for the response

[2021-03-09 16:58] #6027 closed

[2021-03-09 17:20] antonfirsov commented on #6030
@paolini what version of Ubuntu are you using? (Can't figure out from the log)

/cc @mairaw

[2021-03-09 17:27] ederbond commented on #5478
Make it optional.

[2021-03-09 17:34] antonfirsov commented on #6033
@rbhanda is this something we need to fix?

[2021-03-09 17:40] antonfirsov commented on #6022
Assigning to @NikolaMilosavljevic for now. (If it's not the right thing to do, area ownership and triage rules should be rediscussed offline.)

[2021-03-09 17:40] paolini commented on #6030
Ubuntu 20.04.2 LTS
(updated original message)

[2021-03-09 17:42] omajid commented on #6033
https://dotnet.microsoft.com/platform/support/policy/dotnet-core says the EOL date is "around February 2022".

[2021-03-09 17:44] antonfirsov commented on #6019
Closing, since the issue seems to be resolved. @ZephyrDogma feel free to reopen/open new issues if you encounter further problems!

[2021-03-09 17:44] #6019 closed

[2021-03-09 18:09] rbhanda opened #6035 ".NET March 2021 Update - 5.0.4, 3.1.13, 2.1.26"
Release Notes
[5.0.4](https://github.com/dotnet/core/blob/master/release-notes/5.0/5.0.4/5.0.4.md)
[3.1.13](https://github.com/dotnet/core/blob/master/release-notes/3.1/3.1.13/3.1.13.md)
[2.1.26](https://github.com/dotnet/core/blob/master/release-notes/2.1/2.1.26/2.1.26.md)

Please report any issues you find with .NET 5.0.4, .NET Core 3.1.13 or .NET Core 2.1.26, either responding to this issue, cr