[2019-06-05 03:42] karelz commented on #2826
How did you run the app? From command line? What is the output? Does it fail to bind to the port?
Did you check your firewall settings?
Here's similar troubleshooting: #2411

[2019-06-05 03:44] karelz commented on #2824
It looks like something is referencing .NETPortable ...
Do you have a minimal repro you can share?

@nguerrera @davkean can you please help route it? Thanks!

[2019-06-05 03:46] karelz commented on #2820
I think you should be able to run the DLL via dotnet run.
The EXE is just copy of dotnet host

cc @steveharter @jeffschwMSFT

[2019-06-05 03:46] #2820 closed

[2019-06-05 03:47] karelz commented on #2765
No response, not actionable. Closing

[2019-06-05 03:47] #2765 closed

[2019-06-05 03:50] karelz commented on #2813
Running .NET Framework libraries on .NET Core is on your own risk. You have to validate that the library uses only types available in .NET Core - you can use [.NET API Portability Analyzer](https://docs.microsoft.com/en-us/dotnet/standard/analyzers/portability-analyzer) for that.
OleDb is part of .NET Core 3.0 AFAIK - try our latest previews instead. cc @saurabh500

[2019-06-05 03:50] #2813 closed

[2019-06-05 03:51] karelz commented on #2811
Looks like you don't have compatible version of xcode ... @wfurt any idea?

[2019-06-05 03:52] karelz commented on #2122
@brianrob @billwert ping? cc @adamsitnik

[2019-06-05 03:54] karelz commented on #2443
@nguerrera @dsplaisted can you please help route it?

[2019-06-05 03:55] karelz commented on #2423
@wfurt @tmds @RheaAyase can you check what is left here?

[2019-06-05 03:56] karelz commented on #2547
@jeffschwMSFT @vitek-karas @sdmaclea can you please take a look and help me route it?

[2019-06-05 03:58] wfurt commented on #2811
not really. I did not experiment with single-file-executables at all.

cc: @safern @wtgodbe

[2019-06-05 03:58] davkean commented on #2824
This behavior is to be somewhat expected, dotnet SDK doesn't come with portable support.

[2019-06-05 04:00] karelz commented on #2664
The implementation seems to be ok:
https://github.com/dotnet/corefx/blob/a10890f4ffe0fadf090c922578ba0e606ebdd16c/src/System.Runtime.Extensions/src/System/Environment.Windows.cs#L99-L111

[2019-06-05 04:02] karelz commented on #2576
@leecow @dagood what is the next step here?

[2019-06-05 04:03] karelz commented on #2512
@Alkaris are you willing to experiment with private copy as @rainersigwald suggested?

[2019-06-05 04:04] karelz commented on #2508
@richlander 2 months old question ... can you please reply?

[2019-06-05 04:04] karelz commented on #2487
@nguerrera ping? cc @dsplaisted if he can help ...

[2019-06-05 04:05] karelz commented on #2471
@peterhuene amny udpate? It's been 2 months ...

[2019-06-05 04:05] karelz commented on #2373
@leecow any thoughts on it?

[2019-06-05 04:06] karelz commented on #2291
@ericstj ping again? It's been almost 4 months now ...

[2019-06-05 04:06] karelz commented on #2143
Looks like we do not have actionable information, closing.
Please let me know if I made a mistake. Thanks!

[2019-06-05 04:06] #2143 closed

[2019-06-05 04:07] karelz commented on #2213
@richlander ping ...4.5 months old question :(

[2019-06-05 04:08] karelz commented on #2824
Closing then, or is there anything left to track?

[2019-06-05 04:08] #2824 closed

[2019-06-05 04:10] wfurt commented on #2423
I lost track @karelz.
[code]

Since the SDK does not depend on openssl-libs, one could simple do `yum install   libicu krb5-libs` to get real dependencies and than use `rpm -i --nodep runtime-deps.rpm`

After that, rest should just work.
I don't have access to amazon linux so it is hard for me to test. I don't know if the docker image @leecow used is same as real AWS service.

[2019-06-05 04:19] davidfowl commented on #2695
Our in repo samples aren't really samples so no they shouldn't match. They are mostly for the team's own testing, more like a sandbox while the devs write code. We have a separate repository for samples and docs that we point at them.

[2019-06-05 04:30] peterhuene commented on #2471
@karelz this is not an SDK issue as the files that so far that have been reported missing by the host have existed in their releases (i.e. they were published by the SDK), albeit @tkstanczak now appears to be distributing the `Nethermind.Runner` application using [warp](https://github.com/dgiagio/warp) as a single file.  Perhaps there is some problem unpacking the application?

@tkstanczak if a us

[2019-06-05 04:38] karelz commented on #2695
@davidfowl so what is the action here? Close the issue? Or are there any follow ups/fixes/changes/investigation we should do first?

[2019-06-05 04:41] Alkaris commented on #2512
I could give it a shot, but I'm not sure if it'll be any different.

[2019-06-05 04:44] karelz commented on #2540
506 and 603 target different VS version: https://github.com/dotnet/core/blob/master/release-notes/2.1/2.1.603-SDK/2.1.603-SDK-download.md

[2019-06-05 04:46] karelz commented on #2512
I think the point was to get more actionable info - logs.
@rainersigwald how do you want to proceed now?

[2019-06-05 04:50] karelz commented on #2460
@leecow did it happen?

[2019-06-05 04:56] beeradmoore commented on #2540
Ah yep, that makes sense @karelz. When I was looking at the [download page](https://dotnet.microsoft.com/download/dotnet-core/2.1) 506 says it supports Visual Studio 2017 (v15.9) and 603 says it supports Visual Studio 2017 (v16). I now realise that VS for Mac is neither of these. I'll be sure to dig around more in the release notes in future to be sure I get the correct version.

[2019-06-05 05:10] ericstj commented on #2291
This behavior is defined by the host and the SDK.  @vitek-karas and @dsplaisted are better folks to answer these types of questions, but I'll do my best here.

That's what we call it in 2.0, in that case it's a effectively "higher version wins" where it examines assembly version first followed by file version.  Since this issue is discussing 1.x I'm not going to go into much detail on conflict res

[2019-06-05 05:55] nguerrera commented on #2443
This will be due to none item globbing and “candidate assembly files” winning over hint path.

Karel, you can move this to dotnet/sdk and I'll go over the options to avoid this tomorrow.

[2019-06-05 05:57] nguerrera commented on #2487
Karel, move this to dotnet/sdk

[2019-06-05 06:00] nguerrera commented on #2824
The path forward would be to convert the portable class library projects to target .NETStandard.

[2019-06-05 06:26] nguerrera commented on #2487
The error indicates that the apphost was not correctly customized. @peterhuene I think you worked through one or more issues like this not too long ago. Do you see if this is something we've seen before?

[2019-06-05 06:31] davidfowl commented on #2695
I tried to move it to asp.net but no go. Move it to aspnet

[2019-06-05 06:39] safern commented on #2811
I have no idea either. cc: @nguerrera @livarcocc any idea?

[2019-06-05 06:45] nguerrera commented on #2811
@swaroop-sridhar

[2019-06-05 07:00] peterhuene commented on #2487
I've only seen this before in https://github.com/dotnet/sdk/issues/2989 and the root cause of that was building from VirtualBox where the filesystem driver didn't support `MAP_SHARED` in the `mmap` system call, resulting in a failure that left an unmodified apphost in `obj/` which was subsequently used in following builds due to it being "up-to-date" with respect to the input dll.

It could be som

[2019-06-05 07:13] tmds commented on #2423
I'm not familiar with Amazon Linux either, afaik it is based on CentOS7.
@ptdel a Dockerfile that reproduces the issue would be helpful.

@omajid is our expert for packaging. @normj (from Amazon) may be able to help too.

[2019-06-05 07:18] nguerrera commented on #2678
Try adding `<RuntimeIdentifiers>win-x64;osx-x64<RuntimeIdentifiers>` to the referenced projects. Put all the runtime identifiers that you use in publish. There is code in the process of resolving references that decides whether to flow runtime identifier based on whether the referenced project has rids or not.

[2019-06-05 07:31] RheaAyase commented on #2721
The initial problem is with unclear versioning :P
I guess that the real question is whether it's documented sufficiently or we need to improve that.

[2019-06-05 07:33] swaroop-sridhar commented on #2811
The single-file bundler adds additional contents (the apps's dependencies) at the end of the host-binary. Looks like this is triggering an internal validation (__LINKEDIT  doesn't cover EOF) when running codesign.
I'll investigate further.

Related issue: https://github.com/dotnet/core-setup/issues/6518

[2019-06-05 07:58] karelz commented on #2487
@nguerrera BTW: You should be able to move it too now ... Transfer Issue is out of Beta :)

[2019-06-05 07:59] karelz commented on #2695
Which aspnet repo? I am using @Eilon's tool for cross-org moves btw: https://hubbup.io/Mover (Transfer issue is only in-org :()

[2019-06-05 08:37] vitek-karas commented on #2547
This belongs to the dotnet/samples repo, but it's probably easier to resolve it here... (and I can't transfer it anyway)

@lesomnus The problem is that the sample was written to not expect the plugins to live in the same directory as the app. Publishing the app the way it is will copy all of the files into the same location.

The real problem is the `PluginBase.dll`. When you just build the app (n

[2019-06-05 10:08] Manthan0599 opened #2829 "when i write dotnet command on my command prompt, it shows up the following error..."
![Screenshot (35)](https://user-images.githubusercontent.com/42907759/58948540-ed849000-87bc-11e9-9a83-fcb64f8ad2b2.png)
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is rel

[2019-06-05 10:48] viveknatarajan commented on #2829
@Manthan0599 : After installing donet core, did you close and open the command prompt?

[2019-06-05 10:55] locpv-ibl commented on #2666
I have the same issue :(

[code]

[2019-06-05 11:08] Manthan0599 commented on #2829
I'll try that now,  thanks

On Wed, 5 Jun 2019, 16:19 VivekNatarajan, <notifications@github.com> wrote:

[2019-06-05 13:03] dazinator opened #2830 "Trying to install dotnet core 2.1 sdk onto new debian 10 docker images"
Problem encountered on:
I'm running a docker image provided by microsoft for an sdk 3.0 environment: (debian 10)
here: https://hub.docker.com/_/microsoft-dotnet-core-sdk/

I noticed that I couldn't build a Blazor client csproj on this environment because one of the build targets seems to want dotnet core 2.0.9 and for some reason dotnet core 2.0 sdk isn't found on this environment.

So I embarked

[2019-06-05 13:42] josvernon opened #2831 ""incorrect format" error on Linux"
I'm running ASP.NET Blazor code referencing .NET Core 3.0.0-preview5-27626-15.

The base project works fine on both Windows and also Azure Linux

One of my references is to System.Configuration.ConfigurationManager.

    <Reference Include="System.Configuration.ConfigurationManager">
      <HintPath>..\..\..\..\Program Files\dotnet\shared\Microsoft.WindowsDesktop.App\3.0.0-preview5-27626-15\System

[2019-06-05 13:51] davidfowl commented on #2695
the AspNetCore one.

[2019-06-05 14:42] dagood commented on #2666
@locpv-ibl If you want some help looking at why this happened in your case, please open a new issue including the output of the diagnostic steps I mentioned:

[code]

[2019-06-05 15:05] leecow commented on #2460
Sorry, no. Scheduling some time with Rowan now.

[2019-06-05 15:11] rainersigwald commented on #2512
I started a branch that will hopefully emit more information: https://github.com/rainersigwald/msbuild/tree/MSB3554-stack

Here's a binary copy I just built: [MSB3554-stack_privates.zip](https://github.com/dotnet/core/files/3257790/MSB3554-stack_privates.zip)

@Alkaris, can you overlay those binaries onto the downloaded `dotnet` SDK (in your gist, this would be at `/home/user/cli/.dotnet/sdk/3.0.1

[2019-06-05 15:26] leecow commented on #2423
This is what I used and don't know if it's the same as what's available on AWS.

[code]

[2019-06-05 15:32] ptdel commented on #2423
@tmds @leecow I'm not sure the docker image is a totally accurate representation of the linux AMI, but I'd have to check.

We had to move on from this unfortunately due to the daily grind.  When it was working, the environment was tenuous, not necessarily because of the sdk, but the tools using it.  For example the Jenkins Powershell plugin _technically_ works on linux or windows, but I had to fen

[2019-06-05 15:35] leecow commented on #2423
@bartonjs for possible info on the openssl-lib dependency.

[2019-06-05 15:43] #2656 closed

[2019-06-05 15:51] leecow commented on #2373
I do like the idea and have heard this from another user. Will look at implementing it soon.

[2019-06-05 15:55] leecow commented on #2682
Yes, I'm not seeing any issues with the repo. @titan550 , let us know if you're still having the issue.

[2019-06-05 15:55] #2682 closed

[2019-06-05 15:56] bartonjs commented on #2423
Our crypto stack depends on OpenSSL provided by the system.  From what I can see, for CentOS 7 the package that provides the OpenSSL libraries is [openssl-libs](https://centos.pkgs.org/7/centos-x86_64/openssl-libs-1.0.2k-16.el7.x86_64.rpm.html).  (I chose CentOS 7 because of a previous comment suggesting that's what Amazon Linux is based on.)

If Amazon Linux gets libcrypto.so.{1.1, 1.0.2, 1.0.0,

[2019-06-05 16:02] sbomer commented on #2637
Good to know, thanks!

[2019-06-05 16:09] omajid commented on #2143
Just as an FYI: recent releases of .NET Core 2.x should support OpenSSL 1.1 (as well as OpenSSL 1.0) out of the box. If this issue still occurs, please re-open this bug.

[2019-06-05 16:16] ptdel commented on #2423
[code]
This is typically the most widely used image of Amazon Linux https://aws.amazon.com/amazon-linux-ami/2018-03-packages/ , but there is a newer revision https://aws.amazon.com/amazon-linux-2/faqs/

[2019-06-05 16:21] wfurt commented on #2423
The original issue I was trying to solve with fake package @bartonjs was lack of openssl-libs package. There was openssl on the system but the rpm would not install as it would see missing dependency. This was unrelated to actual crypto.

[2019-06-05 17:25] Eilon commented on #2695
This issue was moved to aspnet/AspNetCore#10902

[2019-06-05 17:25] #2695 closed

[2019-06-05 17:29] tarekgh commented on #2754
I'll take a look

[2019-06-05 17:38] bipinbce opened #2833 "Hi, I am facing issue with create docker image, it's giving error ERRO[0000] failed to dial gRPC: cannot connect to the Docker daemon. Is 'docker daemon' running on this host?: open //./pipe/docker_engine: The system cannot find the file specified. error during connect: Post http://%2F%2F.%2Fpipe%2Fdocker_engine/v1.39/build?buildargs=%7B%7D&cachefrom=%5B%5D&cgroupparent=&cpuperiod=0&cpuquota=0&cpusetcpus=&cpusetmems=&cpushares=0&dockerfile=Dockerfile&labels=%7B%7D&memory=0&memswap=0&networkmode=default&rm=1&session=es47k9sfq0wfym6t3nifniodz&shmsize=0&t=mymicroservice&target=&ulimits=null&version=1: open //./pipe/docker_engine: The system cannot find the file specified. In the default daemon configuration on Windows, the docker client must be run elevated to connect. This error may also indicate that the docker daemon is not running."
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-microservice-tutorial/docker-image
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-06-05 17:48] dagood commented on #2576
Waiting for:

[2019-06-05 17:56] dagood commented on #2670
This seems to be a duplicate of https://github.com/dotnet/core/issues/2381, where `dpkg` is out of date and has a bug that causes this.

Note that Ubuntu 14.04 is now EOL!

[2019-06-05 17:56] dagood commented on #2670
Duplicate of #2381

[2019-06-05 17:56] #2670 closed

[2019-06-05 18:01] dagood commented on #2675
Sounds like a question for NuGet folks. The content of the NuGet.Config, output of `dotnet --info`, and version of NuGet being used seem to me the necessary first steps to figure it out.

[2019-06-05 18:15] jvierrajrv opened #2834 "PowerShell 7 - fails to perform the coercion on all point assignments in WinForms controls"
The following works in WMF 5.1 and earlier:

**[system.drawing.Pont]'10,20'**

PowerShell 7 - fails to perform the coercion on all System.Drawing.Point assignments in WinForms controls (location,size, etc) fail to coerce the assignment.

This will break compatibility with earler scrips using System.Windows.Forms and System.Drawing.

Issue originally posted in PowerShell 7 "Issues" but was asked to

[2019-06-05 18:32] jpfreyen commented on #2721
Were I last commented was the idea of having a dotnet-lts named package.  Is that going to happen?

[2019-06-05 18:44] jstallm opened #2835 "latest link to release notes broken"
# Issue Title

Latest release notes link broken

# General
link on releases page for latest release leads to 404

https://github.com/dotnet/core/blob/master/release-notes/1.1/2.2.5/2.2.5.md

[2019-06-05 19:25] wfurt commented on #2423
I just realized I missed part of your response @ptdel
Yes, it is unfortunate to go through the extra steps. But Amazon linux is not on supported list: https://github.com/dotnet/core/blob/master/release-notes/2.2/2.2-supported-os.md so we do not run tests on it or build for it. That it makes it community supported. You can also check with distro vendor e.g.  Amazon to make packages for their Linux

[2019-06-05 19:49] sazar97 opened #2836 "Cannot install dotnet no matter what I try."
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: Linux Ubuntu 19.04 - x64

[code]

[2019-06-05 19:52] sazar97 commented on #2836
Note: I'm running Mint 19.1, and have tried all of the ubuntu packages, as well as Debian just to be sure. All ended up with this same error.

[2019-06-05 20:28] Maoni0 commented on #2673
we know on Linux there's a problem with the BGC thread affinity which would make memory usage go up because it would make BGC last a lot longer but that problem has been there. @janvorli recently fixed it: https://github.com/dotnet/coreclr/pull/24801. @janvorli do you think there could be some intermediate change from preview 3 or 4 that would make this problem not exist in preview 3 (eg, maybe se

[2019-06-05 20:54] tarekgh commented on #2754
@Jaygem the problem here is you are doing

[code]

Encoding is a class name and not part of the namespace. you just want to do:

[code]

And everything should work fine.

[2019-06-05 20:54] #2754 closed

[2019-06-05 21:01] LatentLag commented on #2423
I've been dealing with a similar issue on CentOS 7. I've been trying to run dotnet core app against runtime 2.1 or 2.2 (netcoreapp2.1 or netcoreapp2.2) but running into the issue. It seems that the runtime was built against openssl-libs 1.1 but CentOS 7 only has openssl-libs version 1.0.2k available.

Since it was mentioned the "SDK" doesn't have a dependency on openssl I'm trying to install that.

[2019-06-05 21:13] wfurt commented on #2423
That is different issue @LatentLag. Dotnet has portable shim to work with multiple versions of openssl. (and 1.0.2 is good enough) You may see probes for various functions as part of the process of what is available. Do you have any functional problem? If so, open separate issue.

[2019-06-05 21:29] wfurt commented on #2833
That seems like problem with your docker installation.  You may not have rights to access the daemon -> check your permissions.
You can check if you can install and run other docker images.

[2019-06-05 21:33] wfurt commented on #2831
You can try it with:
[code]

cc: @ericstj in case this is another weird packaging issue.

[2019-06-05 21:40] wfurt commented on #2825
as far as 19.04, and 18.04 - or may not be out stable at time when older sdks were built, right? Also 18.04 comes with openssl-1.1 and support for that was fixed and backported after initial 2.x went out.

[2019-06-05 21:41] omajid commented on #2831
It looks like you are trying to make use of `..\..\..\..\Program Files\dotnet\shared\Microsoft.WindowsDesktop.App\3.0.0-preview5-27626-15\System.Configuration.ConfigurationManager.dll` which looks a lot like a Windows path? I expect this contains crossgen'ed code, which might not work on non-Windows platforms. Will using a normal nuget package work here?

[2019-06-05 21:42] wfurt commented on #2817
also did you add do all the PGP steps?

[2019-06-05 21:45] wfurt commented on #2831
good point @omajid I did not expect anybody using Windows assemblies on Linux. If this is root cause,  COMPlus_ZapDisable=1  should make difference.

[2019-06-05 22:04] dagood commented on #2825
This is true, but the request isn't for *older* SDKs, rather the latest version in each feature band. (Feature band is the hundreds place in the SDK minor version. 2.2.300, 2.2.203, and 2.2.107 are the latest in each of those feature bands, and they were all built/released on 2019-05-14.)

I'm not sure what this means in this context, can you clarify?

[2019-06-05 22:13] wfurt commented on #2825
I'm not sure about 2.2 but back then new distributions had opensssl we could not work with. That was fixed in master and back-ported to 2.x branches.

[2019-06-05 22:15] josvernon commented on #2831
I would imagine that as a cross platform thing that the publishing would work whatever platform I pushed to. But yes thanks I will try the zap thing and let you know what I find. :-)

[2019-06-05 22:28] wfurt commented on #2831
The "cross platform" means that you can target different OSes but it does not give binary compatibility. Aside from crossgen (when we pre-compile to native some parts), some assemblies use different source code for different platforms.

[2019-06-05 22:37] dagood commented on #2825
It sounds like you're saying we can't run older runtimes on new distros, which is true, but SDK 2.2.300/2.2.203/2.2.107 all ship with Runtime 2.2.5, so I'm not sure how it's related.

[2019-06-05 22:38] wfurt commented on #2830
well, you mixing prerequisites for 3.0 with attempt to install 2.1. That will not work. If your goal is to get 2.1 sdk following Docker should work.

[code]

also note that the Debian instructions are written for install on "normal" running system. Wehn you building container you already have rights to create files  and you do not need sudo.

Also note that 2.0 is out of support. You really should

[2019-06-05 22:52] nickgravelyn commented on #2678
That did in fact do the trick. Is that documented? It doesn't seem unreasonable but I had no idea I had to list those for the identifiers to resolve correctly.

Please feel free to close this issue unless you internally want it for something. I'm more than happy to add that property to my projects to resolve the issue.

[2019-06-05 23:23] nguerrera commented on #2678
I think we are probably missing documentation on this. It's relatively obscure. You can file an issue on https://github.com/dotnet/docs/issues and link here.

I will close this out, but happy to help on a docs issue with the text.

[2019-06-05 23:23] #2678 closed

[2019-06-06 09:02] kamula opened #2837 "This revision of snap "dotnet-sdk" was published using classic confinement and thus may perform arbitrary system changes outside of the security sandbox that snaps are usually confined to, which may put your system at risk."
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: Linux RHEL - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-06-06 09:06] svick commented on #2831
@josvernon It should work as long as you do it correctly: by referencing the NuGet package, instead of a file on disk.

[2019-06-06 09:08] kamula commented on #2837
on Ubuntu 19.04

[2019-06-06 11:27] jorgenfhlarsen opened #2838 "Failure to install .NET dotnet-SDK.2.2 and"
Failure to install .NET dotnet-SDK.2.2 and Aspnetcore-runtime 2.2

Running:
RaspBerryPi 3 B+

PRETTY_NAME="Raspbian GNU/Linux 9 (stretch)"
NAME="Raspbian GNU/Linux"
VERSION_ID="9"
VERSION="9 (stretch)"
ID=raspbian

Following Microsoft instruction here:

**

https://dotnet.microsoft.com/download/linux-package-manager/debian9/sdk-2.2.300

With the following result:

pi@raspberrypi:~ $ sudo apt-get i

[2019-06-06 13:19] josvernon commented on #2831
In Azure I went to the configuration section, added an environment variable with the name COMPlus_ZapDisable and with a value of 1. Restarted the instance and tried again. No difference to the error.

I also removed the assembly reference and replaced it with a reference to the System.Configuration.ConfigurationManager NuGet package. That fixed the issue.

However that just shifts the problem over

[2019-06-06 17:16] DMGlion opened #2840 "bash not found after installing dotnet on macos"
Hi all

1. Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
2. Operating System: macos Mojave Version 10.14.3
3. dotnet version downloaded: dotnet-sdk-2.2.107-osx-gs-x64.pkg
4. Install succesful
5.  **Description**:
     When I try to run the command dotnet I am getting the following error:
    `-bash: dotnet: command not found`
    I reinstall and I go

[2019-06-06 17:29] DMGlion commented on #2840
I have close and open again the terminal and problem solved.

[2019-06-06 17:29] DMGlion commented on #2840
I have close and open again the terminal and problem solved.

[2019-06-06 17:29] #2840 closed

[2019-06-06 22:29] lp-brainspire opened #2842 "How to force include newer version of NuGet package that is part of the Microsoft.NETCore.App runtime meta-package"
We use Snyk to stay up to date and fix vulnerabilities in our dependencies as soon as possible.

Snyk is telling us there is a [vulnerability](https://snyk.io/vuln/SNYK-DOTNET-SYSTEMTEXTREGULAREXPRESSIONS-174708) with our version of `System.Text.RegularExpressions` and that we should upgrade to version `4.3.1`.

`System.Text.RegularExpressions` is part of the `Microsoft.NETCore.App` meta-package.

[2019-06-06 23:08] KathleenDollard commented on #2542
You can use both VS 2017 and VS 2019. Just install both versions.

VS 2017 will ignore 2.2.2xx use 2.2.1xx and VS 2019 will use 2.2.2xx.

[2019-06-07 00:25] karelz commented on #2829
Thanks @viveknatarajan for help! Closing ng as it is now answered.

[2019-06-07 00:25] #2829 closed

[2019-06-07 00:34] karelz commented on #2834
If it is not PowerShell problem, can you please create repro without PS? Eg in C#?

[2019-06-07 00:47] karelz commented on #2834
Oh, you probably meant to ask this: https://github.com/PowerShell/PowerShell/issues/9815#issuecomment-498736673
I recommend to create such specific issue, asking to bring back the attribute in CoreFx repo. O Will not nové this issue there as it is confusing, filed in terms of PowerShell, which is higher level concept and obscures what has to happen in lower levels.
I assume coercion is PowerShell

[2019-06-07 00:47] #2834 closed

[2019-06-07 00:51] karelz commented on #2675
@rrelyea can you help to route it please?

[2019-06-07 00:55] karelz commented on #2835
Where is the broken link? I checked top level and 2.2 main pages and they are both ok.

[2019-06-07 00:56] karelz commented on #2835
Also, would you mind submitting a OR with a fix? That may be easiest ... Thanks!

[2019-06-07 01:08] rrelyea commented on #2675
To support authenticated feeds via dotnet restore or msbuild /restore use 2.1.500 or 2.2.100 sdks (or later)
Then use this project
https://github.com/Microsoft/artifacts-credprovider

Some related docs:
 (https://docs.microsoft.com/en-us/Nuget/reference/extensibility/nuget-cross-platform-authentication-plugin)

Cc @alexmullans

[2019-06-07 01:29] jvierrajrv commented on #2834
"coercion" is a programmatic term or a reference to automatically forcing an object or value to a specific type.  It is similar to and a corollary of "cast".  It is an implicit cast during an assignment.  The basic PowerShell spec stated that PS would use coercion under the covers when parsing code.  Other languages and scripting systems have done this for decades; most notably VB.

Net Core is mi

[2019-06-07 04:02] hez2010 commented on #2508
Any progress on C++/CLI for .NET Core?

[2019-06-07 05:49] cremor commented on #2842
This is not related to your actual question, but why do you think version 4.2.1 of System.Text.RegularExpressions doesn't fix the bug? Have you tested it?

According to both the security advisory announcement (dotnet/announcements#111) and the [2.2.5 release notes](https://github.com/dotnet/core/blob/master/release-notes/2.2/2.2.5/2.2.5.md) the runtime 2.2.5 does fix it.

There is no package liste

[2019-06-07 08:28] Worthy7 commented on #897
Does anyone have some kind of definitive way to debug source dot net code... this is getting somewhat stressful - every time I need to do this I have to end up downloading the entire source from git and just referencing the assembly directly.

If the module window says "Symbols loaded", to me that means that anything function I try to step into which is within that assembly, should work. Is this t

[2019-06-07 09:08] noahfalk commented on #897
It is not the case. A second condition is that to ensure step-in always works, the code shouldn't be optimized. You can see in the window that it says "Yes" in the 'Optimized' column which is likely what is causing the problem. There are a number of extra challenges when debugging optimized code such as the call may have been inlined or optimized away entirely and recreating the abstraction that y

[2019-06-07 09:11] SychevIgor commented on #1495
In theory, microsoft create https://github.com/dotnetcore/AspectCore-Framework
but we need english version

[2019-06-07 09:13] jorgenfhlarsen commented on #2838
Feedback from Microsoft June 6th:

The only installation option available for arm at the moment is to use the tar.gz directly or with the dotnet install script.

https://github.com/dotnet/core/blob/master/Documentation/linux-setup.md#installation-from-a-binary-archive

https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-install-script

[2019-06-07 09:13] #2838 closed

[2019-06-07 10:52] rlundy opened #2843 "Debug.Print and Debug.Indent/Unindent don't work correctly in .NET Core."
# Issue

In .NET Core, Debug.Print, Debug.Indent, and Debug.Unindent don't behave as they did in previous versions of .NET, and the changes are for the worse.

When outputting to the Output window in Visual Studio 2019:

`Debug.Print(string)`: Formerly automatically produced a line break after the string; no longer does.

`Debug.Indent`: Does not appear to indent.

`Debug.Unindent`: Does not appea

[2019-06-07 15:08] fawdlstty opened #2844 "redirect process failed"
# Issue Title

redirect process failed

# General

.net core 2.1
os version: centos 7.5
build env: win10 x64 (cross compile, linux-x64 independent)

my program is a single http server, powered by HttpListener, it run well a long time. I have try to add a function that when it Git updates and restarts when a special HTTP response is received. code like this:

[code]

and the code run success for my

[2019-06-07 15:36] fawdlstty commented on #2844
If I save the git password, there is nothing wrong with this code.What I don't understand is the way the pipeline works, which is quite different from what I expected

[2019-06-07 16:25] Anipik commented on #2843
cc @maryamariyan

[2019-06-07 16:44] Pilchie commented on #2596
This issue was moved to aspnet/AspNetCore#10992

[2019-06-07 16:44] #2596 closed

[2019-06-07 16:45] Pilchie commented on #2604
@glennc / @davidfowl any ideas?

[2019-06-07 16:45] Pilchie commented on #2668
@joeloff do you know the answer to this one?

[2019-06-07 16:46] Pilchie commented on #2674
This issue was moved to aspnet/AspNetCore#10993

[2019-06-07 16:46] #2674 closed

[2019-06-07 17:24] joeloff commented on #2668
ACNM would remove and install a new copy of the ASP.NET Core Module into IIS along with schema updates. If the module is in use I'd expect that some app pools would need to restart at a minimum. And ANCM would actully stop and start some services during the upgrade as well.

@jkotalik is this correct?

[2019-06-07 17:49] jkotalik commented on #2668
The ANCM installers will start/stop some services, but it won't restart larger windows services like WAS. From my experience though, after the first installation, you usually don't need to restart IIS.

[2019-06-07 17:58] davidfowl commented on #2604
Contact azure support? This looks unrelated to anything .NET

[2019-06-07 20:43] dagood commented on #2836
Ubuntu 18.04's package seems like the one that will work for Mint 19.1. 18.04 has `libicu60`, which matches Mint 19.1's `libicu60`. Ubuntu 19.04 went on to `libicu63`.

(I used the `linuxmintd/mint19-amd64` Docker image to check what Mint has, not completely sure if that's correct.)

The install error you're getting unfortunately doesn't give enough info to do anything about this, you have to foll

[2019-06-07 21:08] maryamariyan commented on #2843
Looking...

[2019-06-07 22:06] wtgodbe opened #2845 "Add API Diffs for .Net Core versions earlier than 3.0"
We have API diffs for all previews of .Net Core 3.0, starting with `3.0-preview1` vs. `2.2`: https://github.com/dotnet/core/tree/master/release-notes/3.0/preview/api-diff. We should add diffs for versions earlier than 3.0, starting with 2.2 vs 2.1 and working backwards. Note that this is different from ApiCompat baselines, which exist in the Standard repo for compatibility of various frameworks (a

[2019-06-07 22:07] maryamariyan commented on #2843
Debug.Print should behave the same way as Debug.Write

If you want a new line you should be using Debug.WriteLine, rather than Debug.Write("...\n")

[2019-06-08 05:26] sazar97 commented on #2836
Hey thanks for your reply! Fortunately I was able to [fix it]https://stackoverflow.com/questions/54065894/cannot-install-net-core-2-2-on-ubuntu-18-04l) with this stack over flow answer and get  it installed! Thanks again!

[2019-06-08 08:25] yuthan opened #2846 "i tried installing dotnet core on ubuntu"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu16-04/sdk-current
Operating System:

Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.2 LTS
Release:	18.04
Codename:	bionic

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-06-08 08:26] yuthan commented on #2846
sudo apt-get install dotnet-sdk-2.2
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package dotnet-sdk-2.2
E: Couldn't find any package by glob 'dotnet-sdk-2.2'
E: Couldn't find any package by regex 'dotnet-sdk-2.2'

[2019-06-08 17:49] guftall commented on #2846
you should first run these two command
[code]

anyway, i suggest to install .net core with `dotnet-install.sh` script which you can find here:
`https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-install-script`
By using this, it's so easy to install different .net core or asp.net core sdk and runtime versions side by side.
Then using `global.json` to specify which version you want to use in

[2019-06-08 18:26] karelz commented on #2834
Ok, can you then file an issue (in dotnet/CoreFx repo) stating which types are missing and then for motivation explain how PS uses them to achieve what it needs? (That will help us assess the option to modify PS to use different scheme instead)

[2019-06-08 18:53] jvierrajrv commented on #2834
Ok - I give up.  The place that the error or deficiency surfaces is in PowerShell. PS blames it on Core. Core says no - go to fx, don't pass go, don't get a fix.

THis is one of the main issues of design-by-committee.   Everyone points at the next guy.

For me the place that I started is the consumer of Net Core(FX) and they are the ones to field the issue.  Only a collaboration between PS develop

[2019-06-08 20:01] EdoRguez opened #2847 "How to use Clipboard in .Net Core 3.0 MVC"
I have my ASP.Net Core 3.0 MVC web application on Visual Studio 2019 and I’m trying to use the clipboard as I can do in Windows Forms.

I have added `System.Windows.Forms` to references and it works, the problem is when I call it on the document by writting `using System.Windows.Forms;` but Visual Studio cannot find it.

In Windows Forms I am able to select and copy text on the clipboard inside th

[2019-06-08 20:20] karelz commented on #2834
@jvierrajrv I think you just misunderstood what I tried to say -- just to clarify, I am trying to help you here and route the issues efficiently.
The fact is that the bug report as is is going to get little attention (if any) in the place where it (maybe?) belongs - dotnet/corefx repo. If I didn't care, I would just move it there and then let it live its life. Because I care, I am trying to triage

[2019-06-08 20:32] jvierrajrv commented on #2834
I already posted over there.  Same issue.

[2019-06-08 20:38] karelz commented on #2834
I understand that you might feel dismissed and ignored. We will fix that. I am just asking for a little patience and perspective, because in large complex products, with multiple components involved, communication is key and it is extremely rarely ALWAYS perfect.
When communication is not working, it needs a fix and that is what we're working on - see my post on PS bug. It may take a while, some i

[2019-06-08 20:48] jvierrajrv commented on #2834
Karel - I know you are.  I am just pushing back a little.  I know this is a big multi-project and these things get up and running slowly.  Teme-to-team interaction has to be grown in as a project evolves.  I will say that the overall project has impressed the help out of me.  All groups have done more much faster than I expected.

I have worked on many large projects so I am very sensitive to what

[2019-06-09 07:38] bipinbce commented on #2833
thanks for response sir, I solved my problem !

On Wed, Jun 5, 2019 at 2:31 PM Tomas Weinfurt <notifications@github.com>
wrote:

[2019-06-09 08:37] davidfowl commented on #2847
Can you explain which clipboard you're trying to capture text from? Is it the browser clipboard? Or the clipboard on the server machine (which it sounds like you're doing...)

[2019-06-09 08:38] #2833 closed

[2019-06-09 08:39] davidfowl commented on #2828
In .NET Core 3.0 you can do this:

[code]

[2019-06-09 08:41] davidfowl commented on #2743
The t4 template is running in visual studio on .NET Framework and likely can't find the dependent assemblies being referenced by the template.

[2019-06-09 14:20] EdoRguez commented on #2847
@davidfowl I mean the clipboard on the server machine. The user uploads a .Doc file, this file has some bookmarks and I'm getting text between bookmarks. The way that I solved it in Windows Forms was using the clipboard when I'm reading the .Doc file.

Here is an example.

`// Demonstrates SetText, ContainsText, and GetText.
public String SwapClipboardHtmlText(String replacementHtmlText)
{
    Str

[2019-06-09 14:41] yuthan commented on #2846
Thanks  that resolved my issue :)

[2019-06-09 15:06] seriouz commented on #1668
Thanks for the tipp! Switching carriers did the trick for me, too!

[2019-06-09 15:35] syumaK commented on #2837
I am also getting the same error on Ubuntu 18.04.2 LTS

[2019-06-09 16:17] davidfowl commented on #2847
Can't you get the text of a range without copying? https://docs.microsoft.com/en-us/dotnet/api/microsoft.office.interop.word.range.text?view=word-pia#Microsoft_Office_Interop_Word_Range_Text

[2019-06-09 17:12] EdoRguez commented on #2847
@davidfowl It works perfectly for me. The problem is I need the text in HTML format with its styles. That's the reason why I'm using the clipboard to get the text in HTML format.

[2019-06-10 01:12] lichen19951127 commented on #2828
.net core 3.0 preview5 use autofac, ConfigureServices Unable to return IServiceProvider in Startup class

[2019-06-10 03:02] TempeBrennan opened #2849 "Serialize RuntimeType in .NET Core issue"
# .NetCore can not serialize RuntimeType

RuntimeType IsSerializable is marked as false.

# General
In .NET Framework, we use this code to serialize and works fine.
[code]

Now .NET Core will throw exception.
It seems RuntimeType is not support serialize anymore.

Is this a design?  Would you mind share your workaround?
Thanks a lot.

[2019-06-10 04:32] guftall commented on #2846
your welcome, i think we can close this issue now ^_^

[2019-06-10 05:59] davidfowl commented on #2847
https://docs.microsoft.com/en-us/dotnet/api/microsoft.office.interop.word.range.formattedtext?view=word-pia#Microsoft_Office_Interop_Word_Range_FormattedText

[2019-06-10 06:01] davidfowl commented on #2828
Right, and the above code snippet is the replacement.

[2019-06-10 06:04] lichen19951127 commented on #2828
I don't know how to write in Startup class

[2019-06-10 06:04] lichen19951127 commented on #2828
Do you have a web example?

[2019-06-10 06:15] davidfowl commented on #2828
You do not, this is what the web example looks like in 3.0:

https://github.com/dotnet/core/issues/2828#issuecomment-500195988

**Program.cs**

[code]

**Startup.cs**

[code]

[2019-06-10 06:27] lichen19951127 commented on #2828
Thank you,I succeeded

[2019-06-10 10:16] svick commented on #2849
From reading https://github.com/dotnet/corefx/issues/23213 and especially https://github.com/dotnet/corefx/issues/23213#issuecomment-378424343, this is intentional and is unlikely to change, because serializing `RuntimeType` is problematic.

That issue also has some discussion about workarounds, for example [this code](https://github.com/CXuesong/BotBuilder.Standard/blob/d77d50e/CSharp/Library/Mic

[2019-06-10 13:43] siimnelis commented on #1403
I'm using ASP.NET Core targeting .Net Framework and I can't seem to find anything that won't include istalling .Net Core runtime.

[2019-06-10 14:13] EdoRguez commented on #2847
Sorry @davidfowl but I used `Range.FormattedText` property, but there is still no way to get the HTML and its styles :(

The only method I could use was `Range.FormattedText.XML` but I need it as HTML format with styles.

This is what I've done.
[code]
Are you sure Interop contains a property to get the HTML of a .Doc document? I remember I had to use `Clipboard` in Windows Forms to solve this pro

[2019-06-10 15:35] davidfowl commented on #2828
Great!

[2019-06-10 15:35] #2828 closed

[2019-06-10 17:38] karelz commented on #1403
@siimnelis you can build self-contained applications on .NET Core, not on .NET Framework -- although .NET Framework is PART of the OS, so you should be fine.

[2019-06-10 18:46] omajid commented on #2842
This seems very similar to https://github.com/dotnet/core/issues/2291. The (relevant parts of the) summary from that discussion was that packages that are included with the latest `Microsoft.NETCore.App` are safe. Their nuget versions (like `4.2.1`) are irrelevant and any tooling that flags those packages is producing a false alarm.

[2019-06-10 18:59] ericis commented on #2213
Next will be the 2019 data hahah 👍

[2019-06-10 21:53] jjxtra commented on #1725
I'm getting this error from self contained Windows application on machines without .NET core installed. Any ideas?

[2019-06-11 03:34] lodhe54 opened #2850 "Build issue"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-microservice-tutorial/docker-image
Operating System: windows 10
Docker version 18.06.1-ce, build e68fc7a

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

U:\myMicroservice>docker build -t mymicroservice -f Dockerf

[2019-06-11 07:34] anto0ine commented on #2508
I am interested to. Any update on whether/when C++/CLI will be supported in .NET Core?

[2019-06-11 17:39] johnlarfour opened #2851 "PublishSingleFile with RuntimeIdentifiers fail to publish"
`linux/amd64 dotnet 3.0.100-preview5-011568`

Step to reproduce:
[code]
Replace csproj with:
[code]
[code]

Error:
[code]

[2019-06-11 20:10] CodeSwimBikeRunner commented on #2720
using the latest .net core 3.0 preview sdk. ran dotnet new console in a folder `console`
Here is the `.csproj`
[code]
This is the windows version btw. I run the command.
`dotnet publish -o output -c Release -r win10-x86 --self-contained`
This works, I get hello world.
So I would guess the windows version of the sdk is fine.

Here is the dockerfile, attempting to build the linux executable.
[code]

[2019-06-11 21:14] mfish0005 opened #2852 "Web API template doesn't run in WSL"
# Web API template won't run from WSL(Ubuntu) shell

# Environment
.NET Core SDK (reflecting any global.json):
 Version:   2.2.300
 Commit:    73efd5bd87

Runtime Environment:
 OS Name:     ubuntu
 OS Version:  18.04
 OS Platform: Linux
 RID:         ubuntu.18.04-x64
 Base Path:   /usr/share/dotnet/sdk/2.2.300/

Host (useful for support):
  Version: 2.2.5
  Commit:  0a3c9209c0

.NET Core SDKs inst

[2019-06-11 21:51] oguzhantopcu commented on #2746
Is it possible to re-open this issue since it is not resolved actually? @karelz

[2019-06-11 21:57] safern commented on #2746
@oguzhantopcu could you please run `find -name libgdiplus*` on your computer?

Try linking `/usr/lib64/` to `/usr/lib/`.

Also, it would be great if you could share `LD_DEBUG` output. That would really help me understand where the runtime is trying to load `libgdiplus` from.

[2019-06-11 22:07] oguzhantopcu commented on #2746
`find` gives nothing but `locate libgdiplus` gives following

[code]
what I have tried:

`export LD_LIBRARY=/usr/lib/; dotnet test Pompa.Business.Tests.csproj --filter "FullyQualifiedName~Invoice_Cast"`

`export LD_LIBRARY=/usr/lib64/; dotnet test Pompa.Business.Tests.csproj --filter "FullyQualifiedName~Invoice_Cast"`

`export LD_DEBUG=libs; dotnet test Pompa.Business.Tests.csproj --filter "FullyQ

[2019-06-11 22:48] safern commented on #2746
can you do the last one and grep for `libgdiplus`?

`export LD_DEBUG=libs; dotnet test Pompa.Business.Tests.csproj --filter "FullyQualifiedName~Invoice_Cast" | grep libgdiplus`

[2019-06-11 22:49] jpfreyen commented on #2721
Oh and a question of Fedora 28 EOL'ing brought up by @RheaAyase ...is .NETCore 2.1 LTS going to be updated for: RHEL8, Fedora 29, and Fedora 30 (and others like Linux Mint 19)?  Documentation doesn't mention any newer releases that 2.1 LTS supports:

https://github.com/dotnet/core/blob/master/release-notes/2.1/2.1-supported-os.md

[2019-06-11 22:54] safern commented on #2746
Also, do you have: `glibc-locale-source` installed?

Btw, I'd like to mention that we just found out that libgdiplus is not working on `Fedora30` because one of its dependencies did a breaking change making an API private which they use. So it fails with: `symbol lookup error: /lib64/libgdiplus.so.0: undefined symbol: GifQuantizeBuffer`

I've started a thread with them and also have tracking issue

[2019-06-11 23:17] oguzhantopcu commented on #2746
@safern `grep` is not working with `LD_DEBUG`. it gives all the output without any filtering, nor `>`, `| tee`

BTW I am using fedora 30 :).

[2019-06-12 00:39] safern commented on #2746
Ok, so I got a local repro, used LD_DEBUG=libs and then found the error. The loader is hitting a fatal error when trying to load `libgdiplus` because of the issue I pointed above that `GifQuantizeBuffer` no longer exists on `Fedora30`. So this is a `libgdiplus` issue, I've contacted them via email and also pinged them on the issue above. Sorry for the headaches, and your setup seems correct, howev

[2019-06-12 03:18] hongsirgithub opened #2853 "don't run the progress"
C:\Users\Administrator>dotnet run
找不到要运行的项目。请确保 C:\Users\Administrator 中存在项目，或使用 --project 传递项目路径。

[2019-06-12 03:39] hongsirgithub commented on #2853
have been solved,caused is path

[2019-06-12 07:40] jeffguorg commented on #2634
I found there is a [dotnet Special Interest Group](https://copr.fedorainfracloud.org/groups/g/dotnet-sig/coprs/) for fedora. is this official or not?

I think I'm gonna use it for a while

[2019-06-12 07:57] RheaAyase commented on #2721
Microsoft may be building and publishing the built product for some of the Linux distributions, that however isn't the preferred install source from Linux point of view. The release notes you link, or the packages that Microsoft publishes on the download website, are likely to not keep up with the life cycle that many Linux Distributions have.

* RHEL7 has everything currently supported.
* RHEL8 w

[2019-06-12 08:09] RheaAyase commented on #2721
Created [PR#2855](https://github.com/dotnet/core/pull/2855) to address the release-notes/supported-os issue.

[2019-06-12 08:33] SumitBajaj opened #2856 "Getting exception | No package rh-dotnet22-dotnet-runtime-2.2 available"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/rhel/runtime-current
Operating System: Linux RHEL - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-06-12 11:04] luipir commented on #2628
new dependency erro rin Ubuntu 18.04 (sorry in spanish... but dependencies are clear)... at the end can't find libicu55

***************

root@dev-laptop:/tmp# apt-get install dotnet-sdk-2.2
Leyendo lista de paquetes... Hecho
Creando árbol de dependencias
Leyendo la información de estado... Hecho
No se pudieron instalar algunos paquetes. Esto puede significar que
usted pidió una situación imposibl

[2019-06-12 11:06] luipir commented on #2628
cvhecjking if https://github.com/dotnet/core-setup/issues/4703

[2019-06-12 13:40] luipir commented on #2628
works!

[2019-06-12 16:27] micky9020 opened #2857 "dotnet run"
C:\Users\micky>dotnet run
No se ha podido encontrar un proyecto para ejecutar. Asegúrese de que exista uno en C:\Users\micky o pase la ruta de acceso al proyecto mediante --project.

[2019-06-12 17:32] leecow opened #2859 ".NET Core 3.0.0 Preview 6"
[Release Notes](https://github.com/dotnet/core/blob/master/release-notes/3.0/preview/3.0.0-preview6.md)
[Download](https://github.com/dotnet/core/blob/master/release-notes/3.0/preview/3.0.0-preview6-download.md)

Blog posts

[.NET Core](https://devblogs.microsoft.com/dotnet/announcing-net-core-3-0-preview-6/)
[ASP.NET Core](https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-n

[2019-06-12 17:35] leecow commented on #2837
This is expected as the SDK, by definition, needs additional access to system resources. To install using the Snap package, use the `--classic` flag as indicated by the warning.

[2019-06-12 17:35] #2837 closed

[2019-06-12 18:10] #2853 closed

[2019-06-12 18:11] #2846 closed

[2019-06-12 18:58] vitidev opened #2861 "WPF TextBox XamlParseException when culture is not "en-US" (.NET Core 3.0.0 Preview 6)"
# WPF TextBox XamlParseException when culture is "ru-RU" (.NET Core 3.0.0 Preview 6)

Empty netcore wpf project and window with textbox

    public MainWindow()
    {
         InitializeComponent(); // System.Windows.Markup.XamlParseException
    }

    <Window
        x:Class="WpfApp1.MainWindow"
        xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
        xmlns:x="http://sch

[2019-06-12 19:34] AnthonyM opened #2862 "Can't launch a .net core 3.0 WPF app from another .net core 3.0 app"
I have a .net core 3.0 WPF application, called client.exe.

I have a second .net core 3.0 application.

I'm trying to launch client.exe from the other application. I get the error,
[code]

The code is
[code]

[2019-06-12 19:39] mletterle commented on #2859
Should be Preview **6**, I assume :wink:

[2019-06-12 20:25] Nikolay-Simonov commented on #2859
Where can I post an issue with MS Build?

[2019-06-12 22:01] omajid commented on #2634
It's not official in the sense of being officially backed by Microsoft or by the .NET Foundation. It was started by some of us who are involved with Fedora as well as .NET Core here on github.

Please do! If you run into any issues, please let us know at https://pagure.io/dotnet-sig/packaging-issues/issues

[2019-06-12 22:12] 0xd4d commented on #2861
Could be https://github.com/dotnet/wpf/issues/913

[2019-06-13 02:58] leecow commented on #2859
:man_facepalming: ... fixed!

[2019-06-13 03:00] leecow commented on #2857
Assuming you have created a project, it looks like you need to navigate to that directory before attempting `dotnet run`.

[2019-06-13 04:39] #2851 closed

[2019-06-13 04:39] leecow commented on #2851
Issue moved to [dotnet/cli #11543](https://github.com/dotnet/cli/issues/11543) via [**ZenHub**](https://www.zenhub.com/)

[2019-06-13 04:41] leecow commented on #2835
I think I've cleaned up all instances of this.

[2019-06-13 04:41] #2835 closed

[2019-06-13 09:28] fschlaef commented on #2859
The link to this issue at https://github.com/dotnet/core/blob/master/release-notes/3.0/preview/3.0.0-preview6.md is incorrect (links to https://github.com/dotnet/core/issues/XXXX)

Also, the Hosting Bundle link is missing from https://dotnet.microsoft.com/download/dotnet-core/3.0

[2019-06-13 09:36] JeepNL commented on #2859
Need I install the Hosting Bundle with the additional command line parameters or the ASP.NET Core module? So, which executable ...

[See:](https://github.com/dotnet/core/blob/master/release-notes/3.0/preview/3.0.0-preview6.md#downloads)

"_Note, the Hosting Bundle has an issue with the ASP.NET Core Module. If you would like to install the ASP.NET Core Module, please install the 3.0 Preview 6 Hosti

[2019-06-13 13:39] fdesbrosses opened #2865 "VS2019 Mac (latest preview) and 3.0.0-preview6 : the "ResolvePackageAssets" task failed"
# General
I've just installed the latest VS2019 Preview update on Mac and the latest Core 3.0 Preview 6. When I wanna build an existing Preview5 project (or a new one for that mattter), I've got a
the "ResolvePackageAssets" task failed error (System.MissingMethodException: Method not found: System.Collections.Generic.IList`1<string> NuGet.ProjectModel.LockFileTargetLibrary.get_FrameworkReferences(

[2019-06-13 15:06] sldasilva opened #2866 "Entry option is not valid"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/create
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

On CMD
Microsoft Windows [versão 10.0.17763.557]
(c) 2018 Microsoft Corporation. Todos os direitos reservados.

[2019-06-13 16:14] sldasilva commented on #2866
Foi só criar uma pasta no local desejado que funcionou

[2019-06-13 16:14] #2866 closed

[2019-06-13 16:14] sldasilva commented on #2866
Foi só criar uma pasta no local desejado que funcionou

[2019-06-13 17:24] bryan5989 opened #2867 "Allow installation destination selection in Windows installer"
# Issue Title

Windows installer (x64) does not allow selection of installation destination for the SDK.

# General

Please allow the selection of the installation destination.

[2019-06-13 19:44] vinnikonduru opened #2868 "command not found"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/install
Operating System: macos

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-06-13 21:49] jjxtra opened #2869 "'Dotnet.exe publish' silently creates bad format for mis-matching architectures"
When using `dotnet.exe publish` for specific runtimes, say win-x86, if using the 64 bit dotnet.exe, this runs without error, but when running the result executable, a `BadImageFormatException `is thrown. Same with target win-x64 from 32 bit dotnet.exe

It should be an error to create a runtime with the wrong 32 bit or 64 bit dotnet.exe, there should be an exception clearly stating that you need to

[2019-06-13 22:32] wulveagfin commented on #2542
I always recommend not updating to the latest VS for a year and let everyone else work out the kinks.

I guess that now includes .netcore versions.

[2019-06-14 04:47] SonicGD commented on #2859
Hello. preview6 still missing from https://dotnetcli.blob.core.windows.net/dotnet/release-metadata/3.0/releases.json so Azure DevOps can't install it:

[code]

[2019-06-14 05:25] cwsheng opened #2870 "How to Call Registered COM Components in. net core？"
#  How to Call Registered COM Components in. net core

Call registered COM components in. net core WinForm program

# General

[2019-06-14 06:26] jayavardhanM20 opened #2871 "error Dotnet core sdk 2.2 installation on ubuntu"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu16-04/sdk-current
Operating System:  Ubuntu 18 x64

jayavardhan@jais-UDesk:~$ sudo apt-get install dotnet-sdk-2.2
Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages could not be installed. This may mean that you have
requested an impossible situation or if yo

[2019-06-14 08:21] fdesbrosses commented on #2865
It's been repaired with the latest VS update :)

[2019-06-14 08:21] #2865 closed

[2019-06-14 09:24] NichUK opened #2872 ".NET Core 3.0.100-preview6-012264 upgrade breaks Culture Comparison"
- .NET Core 3.0.100-preview6-012264
- Windows Server 2019

**Problem Description**
I upgraded a project to Preview 6 (from Preview 5) and started getting exceptions on a line of code that has been working for months...

`return _oeContext.ConfigItems.Where(c =>`
`                c.Name.Equals(key, StringComparison.CurrentCultureIgnoreCase));`

My current culture is "en-GB"

When replaced with:

`r

[2019-06-14 09:32] rrvenki commented on #2080
1. In App.xaml, remove the StartupURI element in <Application> tag.
2. Change App.xaml.vb as below.

[code]
3. Add "StartupObject" in the vbproj file as below.
[code]

Error BC30149 will go off and the project will compile fine.

[2019-06-14 09:54] sharbui opened #2873 "use .useSockets(), got many connection time out at Linux"
my Environment is
CentOS 7 latest
dotnet verion 2.2.105

i  use dotnet new web to create a project and use ab to test performance
when  i use default and dotnet run
![image](https://user-images.githubusercontent.com/16458001/59500557-47c3d600-8ecc-11e9-9460-aaf58a5bed28.png)
the ab result was
![image](https://user-images.githubusercontent.com/16458001/59500822-cb7dc280-8ecc-11e9-912b-a7dfb3fdea3b.

[2019-06-14 11:00] sanalpencere commented on #2859
Yeah. It is improtant. We are facing same problem.

And also there is no Azure Web Sites extension for 3.0.100-preview6-012264

[2019-06-14 12:08] Souky23 opened #2874 "Couldn't find any package by glob 'dotnet-sdk-2.2', Debian 9"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/debian9/sdk-current
Operating System: Linux Debian 9 - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Couldn't find any package by glob 'dotnet-sdk-2.2'
Couldn't find any package by regex 'dotn

[2019-06-14 13:30] Atacan-Celikkol commented on #2859
Same.

[2019-06-14 14:11] tremblaysimon commented on #2775
I observed a degradation of performance even in a Linux host environment (not only in a CI environment).

One of our test project (around 2800 tests)  took about 30 seconds (on 2.1.604) and now it takes about 1.87 minutes. We talk about a 4.5 times longer to run tests than previous SDK.

Do you know if the PR involved will fix that too?

[2019-06-14 14:55] ajcvickers commented on #2872
@NichUK Is `_oeContext` a `DbContext` from EF Core?

[2019-06-14 15:33] jabbera opened #2876 "3.0 preview 6 missing from CDN distribution json"
# Issue Title

3.0 preview 6 is not listed here: https://dotnetcli.blob.core.windows.net/dotnet/release-metadata/3.0/releases.json

only up to 5 is listed. This prevents Azure DevOps from being able to install preview 6 via the tools installer. It makes me sad😢

[2019-06-14 15:47] Pilchie commented on #2826
Closing due to lack of response.

[2019-06-14 15:47] #2826 closed

[2019-06-14 15:47] Pilchie commented on #2696
Closing due to lack of response.

[2019-06-14 15:47] #2696 closed

[2019-06-14 16:04] theaby commented on #2826
I actually got it working just now. I don't believe that I have done anything different but it works.

[2019-06-14 16:08] Pilchie commented on #2668
I think this is answered - let us know if you have further questions.

[2019-06-14 16:08] #2668 closed

[2019-06-14 16:09] Pilchie commented on #2604
Closing due to lack of response.

[2019-06-14 16:09] #2604 closed

[2019-06-14 16:47] NichUK commented on #2872
Yes, it's a `Microsoft.EntityFrameworkCore.DbContext`

[2019-06-14 17:02] MattSFT opened #2877 "System.Drawing.Common lower .netstandard version?"
Is it possible to downgrade the .netstandard requirement for https://www.nuget.org/packages/System.Drawing.Common?

I don't know enough about the specifics of this library so not sure it is possible, but I would like to use it in a project targeting .netstandard 1.3.

[2019-06-14 17:25] hez2010 opened #2878 "Broken reference to .NET Standard 2.1 library in .NET Core 3.0 preview 6"
# Broken reference to .NET Standard 2.1 library in .NET Core 3.0 preview 6

After upgrading to .NET Core 3.0 preview 6, .NET Core 3.0 apps cannot use .NET Standard 2.1 libraries anymore.

# General

For example, see https://github.com/hez2010/HLib. It won't build if I upgrade to .NET Standard 2.1.
Works fine on .NET Standard 2.0.

[2019-06-14 17:36] abahadirdogan opened #2879 "Install .NET Core 2.0 SDK on Linux Ubuntu 16.04 - x64 failed"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu16-04/sdk-2.1.4
Operating System: Linux Ubuntu 16.04 - x64

$ uname -a
Linux mahzen 4.15.0-24-generic #26~16.04.1-Ubuntu SMP Fri Jun 15 14:35:08 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

[code]

[2019-06-14 18:11] karelz commented on #2878
@joperezr @ericstj can you lease advice where to route it?

[2019-06-14 18:12] karelz commented on #2877
@safern I assume there is a reason we don't target lower .NET Standard. Can you please comment?

[2019-06-14 18:15] karelz commented on #2868
@vinnikonduru what exactly is the problem you have? You did not specify any details above.

[2019-06-14 18:16] karelz commented on #2685
Superseeded by Preview 6 - #2859

[2019-06-14 18:16] #2685 closed

[2019-06-14 18:17] karelz commented on #2862
@jeffschwMSFT does it belong to core-setup repo?

[2019-06-14 18:19] karelz commented on #2869
@livarcocc @nguerrera does it belong to CLI or core-setup?

[2019-06-14 18:20] livarcocc commented on #2869
CLI would be a good starting point. We can move it to core-setup if the issue was in the production of the apphost.

cc @peterhuene

[2019-06-14 18:21] safern commented on #2877
This is something no-one has ever asked before. When this library was ported back was on the 2.1 time-frame and since it is part of the Compatibility Package, that is the reason why it supports .NET Standard2.0, because that is the minimum the Compatibility Package should support. However, I've never tried to add support for an lower .netstandard and I don't know if all the APIs we use are availab

[2019-06-14 18:23] karelz commented on #2512
@Alkaris will you be able to help us get the logs above?

[2019-06-14 18:27] peterhuene commented on #2869
Issue moved to [dotnet/cli #11564](https://github.com/dotnet/cli/issues/11564) via [**ZenHub**](https://www.zenhub.com/)

[2019-06-14 18:27] dagood commented on #2879
How did you get to this page, @abahadirdogan?

I'm wondering if our download site is leading you on the wrong path. SDK 2.1.4 is very old and out of support: you can see in the download table that it's actually for .NET Core 2.0 which is end of life: https://dotnet.microsoft.com/download/dotnet-core/2.0.

If you go to https://dotnet.microsoft.com/download and click the "Install .NET Core SDK" butt

[2019-06-14 18:30] karelz commented on #2675
Looks like answered, closing.
Please let me know if I missed anything.

[2019-06-14 18:30] #2675 closed

[2019-06-14 18:32] karelz commented on #2817
Not actionable with the info above, closing.
Feel free to reopen once there is more info.

[2019-06-14 18:32] #2817 closed

[2019-06-14 18:34] karelz commented on #2818
No response, no info, closing.

[2019-06-14 18:34] #2818 closed

[2019-06-14 18:36] karelz commented on #2831
That maybe a good feedback for Visual Studio - please use "Send Feedback" from inside VS to provide that suggestion.
We do not track VS issues on GitHub. Thanks!

Closing as it has been resolved.

[2019-06-14 18:36] #2831 closed

[2019-06-14 18:37] karelz commented on #2836
Seems to be addressed, closing.

[2019-06-14 18:37] #2836 closed

[2019-06-14 18:39] vinnikonduru commented on #2868
Thankyou for the message. My problem has solved ..

On Fri, 14 Jun 2019 at 1:16 PM, Karel Zikmund <notifications@github.com>
wrote:

--
Thanks & Regards
Vinitha Konduru

[2019-06-14 18:47] maghis opened #2880 "dotnet test hangs on linux with dotnet 2.2.300"
`dotnet test` hangs at:
[code]

Both on my machine and in CI using Microsoft official sdk image.

Reverting to 2.2.202 seems to fix the issue.

Broken image is `mcr.microsoft.com/dotnet/core/sdk:2.2.300`

[2019-06-14 19:57] MattSFT commented on #2877
Does that mean we can't do this?

I'm using this library currently by the way https://www.nuget.org/packages/CoreCompat.System.Drawing/

[2019-06-14 20:07] godrose opened #2881 "Unable to dynamically load assemblies for exe .NET Core 3.0 apps"
# Issue Title

Unable to dynamically load assemblies for exe .NET Core 3.0 apps

# General

Repro steps:

-  Create a .NET Core 3.0 Desktop app - App-A
- Create a .NET Core 3.0 Console app - App-B
- Create a .NET Core 3.0 Class Library - App-C
- Create a .NET Standard 2.0 Class Library - Lib
- Add dynamic assembly loading code into each one of the apps:
`Assembly.Load(new AssemblyName(name))`
- Ex

[2019-06-14 20:12] safern commented on #2877
It doesn't mean we can't do this, we might be able to get away on doing it, however it might take more work than we would expect and complicate that package even more and I know that is not our priority now, so I can't promise it would be done on a close time frame unless we get someone from the community to contribute and do it. @ericstj do you have any strong opinion on this? I would push back u

[2019-06-14 20:13] ericstj commented on #2878
I was unable to reproduce any problem.
[code]

Can you share more information about what sort of failure you are seeing?

Do things like provide the dotnet --info output, and the error you are seeing.

[2019-06-14 20:18] joperezr commented on #2878
If this is a build-time failure that you are seeing, then can you please also attach a binlog file? to produce one, simply run the following on a developer command prompt: `msbuild yourProject.csproj /t:rebuild /bl` which will generate a msbuild.binlog file.

If this is a runtime failure, do you mind sharing either exact repro steps or at least failure/call stack details?

[2019-06-15 01:06] ipax77 commented on #2859
The new Javascript debug feature seems to disable some js-Plugins which is sort of annoying because you want to debug it and then it disables it ..
With JavaScript Debugging enabled it does not show the pictures in the Chart.
In my case it was the chartjs-plugin-labels https://github.com/emn178/chartjs-plugin-labels for Chart.js v2.8.0 https://www.chartjs.org

Environment:
3.0.0-preview6-27804-01

[2019-06-15 03:17] hez2010 commented on #2878
It works while using .NET Core cl tools, but if you use MSBuild, it will fail.

using dotnet command lines:
[code]

using MSBuild:
[code]

binlog: [msbuild.zip](https://github.com/dotnet/core/files/3292659/msbuild.zip)

[2019-06-15 12:06] hzexe opened #2882 "Requires packages.microsoft.com cdn of China"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/debian9/sdk-2.2.300
Operating System: Linux Debian 9 - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

Almost unable to download .net core package from China

[2019-06-15 15:10] svengeance opened #2883 ".NET 5.0, Names and the Future of .NET"
With the recent announcement of `.NET 5.0`, I feel a bit sour with the direction the framework naming scheme has taken.

Currently you can bisect the .NET world at large into either those running on `.NET Core`, or those running on the `.NET Framework`. There are clear naming semantics between the two - at a glance, anyone can tell you that `.NET Core` **sounds** like it's new, hip, and _fast_. It

[2019-06-15 22:27] deywit opened #2884 "https://dotnet.microsoft.com/download/linux-package-manager/rhel/sdk-current Operating System: Linux RHEL - x64"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/rhel/sdk-current
Operating System: Linux RHEL - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-06-16 03:04] gilsao opened #2885 "Fail for install dotnet-sdk-2.2 on Linux Mint 19.1"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu19-04/sdk-current
Operating System: Linux Ubuntu 19.04 - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Problem below:

sudo apt-get install dotnet-sdk-2.2
Reading package lists... Done
B

[2019-06-16 06:58] renecl opened #2886 "Restore packages failed"
# Issue Title

After update Mac vs, can not restore packages
# General

After update to the latest version. of vs, packages can not restored.
I updated sdk  to 2.2.300

After that I upgrade vs to preview 8.2 and 3.0.100-preview6-012264
Still the same issue

running Mac VS 8.2 Preview (8.2 build 732)

looking at the error:
....../Caches/VisualStudio/8.0/MSBuild/25821_1/Sdks/Microsoft.NET.Sdk/target

[2019-06-16 12:59] hieutran1 opened #2887 "Cannot build with .net core 3.0"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-microservice-tutorial/docker-file
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-06-16 17:15] shreya-sk opened #2888 "Cant open program.cs in notes"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/edit
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-06-16 23:36] lesomnus commented on #2547
Thanks for your help with the rich explanation.
The plugins are loaded well!

[2019-06-16 23:36] #2547 closed

[2019-06-17 03:29] zzstuzor opened #2889 "installing dotnet-sdk-2.2 fails due to missing dependencies"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: Linux Debian 9 - x64

Using Linux Mint Cinnamon 19.1, fresh install, followed the instructions in this link to install dotnet-sdk-2.2, but it doesn't work. It says

The following packages have unmet dependencies:
dotnet-sdk-2.2 : Depends: aspnetcore-runtime-2.2 (>= 2.2.5) but it is not g

[2019-06-17 03:29] zzstuzor opened #2890 "installing dotnet-sdk-2.2 fails due to missing dependencies"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: Linux Debian 9 - x64

Using Linux Mint Cinnamon 19.1, fresh install, followed the instructions in this link to install dotnet-sdk-2.2, but it doesn't work. It says

The following packages have unmet dependencies:
dotnet-sdk-2.2 : Depends: aspnetcore-runtime-2.2 (>= 2.2.5) but it is not g

[2019-06-17 04:06] #2890 closed

[2019-06-17 06:23] sujayvsarma opened #2891 "Info Request - Where is this file"
Hello,
Where is the actual source file where these changes have been done?

API DIFF:
https://github.com/dotnet/core/blob/master/release-notes/3.0/preview/api-diff/preview6/3.0-preview6_System.Collections.Generic.md

[2019-06-17 06:33] hiyadav opened #2892 "3.0.100-preview6 sdk and runtime information not available in releases.json for 3.0 version"
The version: 3.0.100-preview6 is available online for download but its download information is not updated in [releases.json for version 3](https://dotnetcli.blob.core.windows.net/dotnet/release-metadata/3.0/releases.json).

Users are failing in trying to download this version via Dot Net Core Installer Task in Azure DevOps, as the task gets download information from [releases-index.json](https://

[2019-06-17 12:05] jabbera commented on #2892
I open the same issue three days ago with exactly 0 comments from an owner:-) I thought maybe you guys/gals had the inside track and could fix this with an email or magic dust.

https://github.com/dotnet/core/issues/2878

[2019-06-17 13:58] Nevett commented on #2880
We've seen the same behaviour. For us it's happening on Ubuntu 16.04 (CircleCI image), running tests written in XUnit.

[2019-06-17 14:13] Nevett commented on #2880
Here's the relevant parts of the build script and output log from CI:

[code]

Our Cake build file just runs `dotnet test` for each test project in parallel.

[code]

Swapping for
```sudo apt-get install dotnet-sdk-2.2=2.2.204-1```
fixes it

[2019-06-17 15:17] ajcvickers commented on #2872
Moved to https://github.com/aspnet/EntityFrameworkCore/issues/16125 since this is an EF query.

[2019-06-17 15:17] #2872 closed

[2019-06-17 16:35] MattSFT commented on #2877
My project builds out a nuget that is used in a few older systems. Many of which I don't have control over and one of those refuses to upgrade beyond .netframework 4.6.

No technical limitations. I'll continue using the compat library until either my consumer upgrades or you folks downgrade.

[2019-06-17 16:46] joperezr commented on #2878
This is a wierd one, seems to be a problem with the sdk where it isn't copying metadata of transitive framework references. This is not something I'm super familiar with, @dsplaisted do you mind taking a look? It is very weird that this works fine when building with the CLI but doesn't work with MSBuild given that MSBuild still seems to be using the SDK. @hez2010 just wondering, have you tried upd

[2019-06-17 16:49] dsplaisted commented on #2878
This looks like [this bug](https://github.com/dotnet/cli/issues/11378), which should be fixed in the latest VS preview.

There is also a workaround [here](https://github.com/dotnet/cli/issues/11378#issuecomment-499988244)

[2019-06-17 17:03] mvr-devs opened #2893 "SDK ASp.Net Core 3 Preview 6 - Brand New Blazor hosted project fails with Could not load type '"
# Issue Title
Brand New Blazor hosted project fails with Could not load type 'Microsoft.AspNetCore.Http.Endpoints.EndpointHttpContextExtensions' from assembly 'Microsoft.AspNetCore.Http.Abstractions, Version=3.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'

Be as descriptive as you can with your title.

# General
Downloaded latest sdk Core 3.0 Preview 6
Downloaded latest VS 2019 Preview

[2019-06-17 18:29] joperezr commented on #2878
Given that there is a workaround and that the issue is fixed in latest version, I'll go ahead and close this one for now. @hez2010 if this still repros even after the workaround or updating VS, then please reopen and we will investigate further.

[2019-06-17 19:39] jeffnyman commented on #948
This currently happens to me all the time as well, with a fresh install of dotnet. The project is here:

https://github.com/jeffnyman/testing-aspnet-core

Running `dotnet run` works just fine with this project on Windows, not at all on Mac (either Sierra, High Sierra or Mojave).

It initially tells me port 5000 is in use. It's not; I've checked. But I did run the kill steps on anything on the port

[2019-06-17 19:41] jeffnyman commented on #2001
If people are still commenting on a closed issue, it's probably because it's what they are most directed to which likely means the issue shouldn't be closed in the first place. We have 948 (closed), this ticket (closed). I'm not sure opening yet another one makes sense.

For those who want another experience report: this exact same issue currently happens to me all the time as well, with a fresh i

[2019-06-17 19:42] wfurt commented on #948
run ` lsof -i`on Mac. That will tell you what ports are opened and what process holds them.

[2019-06-17 21:04] jabbera commented on #2892
This issue appears resolved.

[2019-06-17 21:04] jabbera commented on #2876
You fixed it.

[2019-06-17 21:04] #2876 closed

[2019-06-17 22:49] mvr-devs commented on #2893
This issue can be resolved following the steps in [11156](https://github.com/aspnet/AspNetCore/issues/11156)

[2019-06-18 01:13] terrymandin opened #2894 "Unable to locate package dotnet-sdk-2.2"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/debian9/sdk-current
Operating System: Linux Debian 9 - x64

I followed the instructions here: https://dotnet.microsoft.com/download/linux-package-manager/debian9/sdk-2.2.300

The very last step resulted in these error messages:

[code]
Here is my Debian version info:
[code]

[2019-06-18 04:14] #2892 closed

[2019-06-18 05:30] #2716 closed

[2019-06-18 05:46] Lelleflow opened #2895 "Wich version to choose?"
I tried to install synctoy and i ran in to problem.
The installationwizzard says that i need ".NET Framework version 2.0.50727?
Did not find this version on your downloadsite?

[2019-06-18 06:31] davidfowl commented on #2847
@EdoRguez are you running inside of IIS?

[2019-06-18 06:40] StevenThuriot commented on #2895
Hi,

Go to Microsoft and look in the Downloads center for MS software

.Net Framework 2.0
http://www.microsoft.com/en-us/download/details.aspx?id=6523

.Net Framework 2.0 SP 1
http://www.microsoft.com/en-us/download/details.aspx?id=16614

SyncToy is built upon the .NET Framework, not .NET Core.

[2019-06-18 07:04] chaos1908 opened #2896 "Unable to locate the package dotnet-sdk-2.2"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: Linux Debian 9 - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-06-18 07:04] chaos1908 opened #2897 "Unable to locate the package dotnet-sdk-2.2"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: Linux Debian 9 - x64

Unable to locate package dotnet-sdk-2.2

[2019-06-18 07:39] Lelleflow commented on #2895
Thanks. I'll try this

[2019-06-18 09:03] DerKiLLa opened #2898 ""System.DirectoryServices is not supported on this platform" on Win10"
Hi! I tried to use the package today with UWP and C# on Windows 10.

I used the NuGet-Package 2.1.1 and also tried the newest beta and only get the following error:
`System.PlatformNotSupportedException: "System.DirectoryServices is not supported on this platform."`

Any help?

Edit: Found it ... UWP is not supported and DirectoryService is also still in progress ... its just dissapointing, that u

[2019-06-18 12:54] #2893 closed

[2019-06-18 14:05] samueltorres commented on #2880
I'm having this issue also.

[2019-06-18 14:05] sgokul95 opened #2899 "Resources removed from System.Windows.Forms class in .NET core 3.0 preview 6"
# Issue Title

Resources removed from System.Windows.Forms class in .NET core 3.0 preview 6

# General

We are facing an issue in our application as blank.bmp has been removed from the System.Windows.Forms assembly. The below sample code was running fine in the earlier preview versions but with preview 6 we are facing the below exception.

`Bitmap bmp = new Bitmap(typeof(ToolStripButton), "blank.b

[2019-06-18 14:12] progsmile commented on #2889
@zzstuzor observing the same

[2019-06-18 14:16] yiyoMX commented on #2859
Throws this error: "The name 'code' does not exists in the current context", the new @code doesn't gets recognized. I've installed SDK 3.0.100-preview6-012264. If I change it back to @functions it works.

[2019-06-18 14:16] progsmile commented on #2871
@jayavardhanM20 the same

[2019-06-18 14:34] progsmile commented on #2889
@zzstuzor try to update everything in linux `Update manager`. It helped me

[2019-06-18 14:47] IvanovNiko opened #2900 "Can not to select .net core application instance in perfmon.exe"
Hi.

I am using perfmon.exe for view my custom performance counters. It's working fine for .net framework applications but for .net core applications, application instance for my custom counters always absent and i can not to view my custom counters in perfmon.exe.  I reference Windows Compatibility Pack for .NET Core but it is useless.

Is it performance counters limitations that they can use onl

[2019-06-18 15:22] iBeech opened #2901 "Process.HasExited does not return on Linux when run via reflection"
# Issue Title

Process.HasExited does not return when executing via reflection

# General

Running .NET Core 3.0 Preview 6. I have reproduced this issue on Windows / OS X / Linux.

When I execute the following method, the process executes and waits until complete, as expected:

[code]

However, when the same code is invoked via reflection, the process starts, as expected, but p.WaitForExit() never

[2019-06-18 15:57] LlewellynJones opened #2902 "Iaunch Program '' does not exist error"
# Issue Title

Iaunch Program '' does not exist error

# General

It was suggested I uninstall Core .Net 1.0 and the Core .Net 1.0 Tools to fix errors I was getting with Core EF working (Predefined type 'System.Object' is not defined or imported (CS0518)). I did that. Now I'm not getting the object errors but I'm getting launch Program '' does not exist when I start the debugger. When I build the

[2019-06-18 17:17] #2889 closed

[2019-06-18 19:12] edwarrt opened #2905 "instaling .aspnet core"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/rhel/runtime-2.1.0
Operating System: Linux Debian 9 - x64

E: Unable to locate package aspnetcore-runtime-2.1
E: Couldn't find any package by glob 'aspnetcore-runtime-2.1'
E: Couldn't find any package by regex 'aspnetcore-runtime-2.1'

[2019-06-18 19:14] SebHonorine opened #2906 "span context"
# Issue Title

Be as descriptive as you can with your title.

# General

Provide details on the problem you are experiencing including the .NET Core version, operating system version and anything else that is relevant.

Please provide a code sample for your issue if it is relevant, either inline, link to a gist (or similar) or add it as a zipped attachment.

For some issues, you will get a quicker

[2019-06-18 19:15] #2906 closed

[2019-06-18 20:16] Mosiuwa opened #2907 "ASP.NET Tutorial"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/run
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-06-18 20:18] Mosiuwa commented on #2907
I browsed to http://localhost:5000 and ran in to a "this site can not be reached" error, where as myWebApp was created successfully inside the c: path. Is there something I did wrong here?

[2019-06-19 01:05] KathleenDollard commented on #2213
@ericis We are working to update this data.

[2019-06-19 03:21] SonicGD commented on #2859
Ok, this is fixed now

[2019-06-19 07:28] lCoderbossl opened #2908 "would not download"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-06-19 07:43] sanalpencere commented on #2859
Yeap this one is fixed. But Azure Web App extension is still missing.

[2019-06-19 16:01] 4550155 opened #2910 "nothing provides compat-openssl10 needed by dotnet-runtime-deps-2.2-2.2.0-1.x86_64"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/fedora28/runtime-2.2.5
Operating System: Linux Fedora 28 - x64

nothing provides compat-openssl10 needed by dotnet-runtime-deps-2.2-2.2.0-1.x86_64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-06-19 16:21] rgause opened #2911 "Npgsql Client Certificates not working on Linux"
# Issue Title

Npgsql Client Certificates not working on Linux

# General

.Net Core version: 2.1 & 2.2

When making a PostgreSQL connection, I need to use a Client Certificate generated by the DBA’s.

The connection works successfully when run on Windows and Mac, but not on Linux. The error in Linux is “connection requires a valid certificate”. Same code & pfx file on all 3 platforms.

I’ve tried

[2019-06-19 17:26] terrymandin commented on #2894
Ah, I think I see the problem.  I am installing 64 bit on an ARM 32.

[2019-06-20 02:28] leecow commented on #2900
@brianrob - can you comment on this?

[2019-06-20 02:35] brianrob commented on #2900
If you are using the Windows Compatibility Pack to produce your own custom counters, then that should work.  The main limitation is that the .NET Framework performance counters were not ported to .NET Core.

@danmosemsft, can you help route this please?

[2019-06-20 02:43] rgause commented on #2911
I’ve attached a small console app that helps to demonstrate the issue. Runs fine on Windows - fails on Linux.

Here is the log I kept from building the Ubuntu 16.04 image for testing:

1. Install Base OS + SSH Server + Postgres
2. Add the secondary NIC so that we can connect with SSH & Postgres
  a. Use ifconfig -a to list out all the interfaces
  b. Add missing interfaces to /etc/network/interfac

[2019-06-20 03:58] jaswanth3014 opened #2913 "i am getting api-ms-win-crt-runtime-l1-1-0-dll is missing warning when typing dotnet in command prompt"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-06-20 04:56] leecow commented on #2908
I've confirmed the links on Windows for hello-world-tutorial/install are working fine so will need for you to elaborate on your system and exactly what you're doing and seeing.

[2019-06-20 04:56] #2895 closed

[2019-06-20 05:04] leecow commented on #2891
Most of the APIs will be found in the corefx repo. This particular library can be found at https://github.com/dotnet/corefx/tree/master/src/System.Collections/src/System/Collections/Generic.

[2019-06-20 05:04] #2891 closed

[2019-06-20 05:36] sujayvsarma commented on #2891
The API DIFF talks about changing the interface specs of `IDictionary` and `IReadonlyDictionary`. I don't see those objects at the [location](https://github.com/dotnet/corefx/tree/master/src/System.Collections/src/System/Collections/Generic) you mentioned.

[2019-06-20 05:37] sujayvsarma commented on #2891
@leecow Hopefully you will check if the response you provide is **actually** helpful before closing out the requests.

[2019-06-20 07:41] poorna106 opened #2914 ".net is missing"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-06-20 08:57] coderkush commented on #2026
I see that dotnetcore runtime works on linux arm64 hardware, but I still see there is no package available for installing aspnetcore runtime on linux arm64. Is aspnetcore supported for linux arm64. If not please suggest any alternative available?
I currently using NVIDIA Jetson Nano board(ARM64,Ubuntu 18.04 OS), trying to run aspnetcore service on this hardware. Please  let me know if there is any

[2019-06-20 11:46] vms20591 commented on #874
@Korporal, couldn't have said it any better.

This might be bit of rant, but I have to. We've been trying to migrate our code base from `.NET 4.5+` to `.NET Core 2.x` and we face issue after issue. When we use a .NET API that is no longer present/changed in .NET Core and we get a compile time error, I'm really glad, because now we know what to change.

But, it's issue like these, where the API sti

[2019-06-20 12:17] Keinkil commented on #2908
The download links do not work for me either using Mozilla Firefox 67.
However, Google Chrome 75 works fine.

System:
Win10 Pro N
i7 6700K
nVidia GTX 980Ti
16GB RAM

[2019-06-20 13:30] EdoRguez commented on #2847
@davidfowl Yes, I'm running inside of IIS.

[2019-06-20 13:39] davidfowl commented on #2847
Does it work outside of IIS? (I'm just trying to narrow it down).

[2019-06-20 14:00] EdoRguez commented on #2847
@davidfowl I've tried creating a Windows Forms app by creating a button and a textbox. When you press the button you get the text of the word document into the textbox using the previous code, but still with no styles and html format. :(

I think this is not possible with `Microsoft.Office.Interop.Word` but I cannot find out how to solve this problem without using the clipboard.

[2019-06-20 14:02] davidfowl commented on #2847
You may need to use the clipboard but I'm wondering if the API is broken only when running on ASP.NET Core on IIS or if it's broke in general. Try running your ASP.NET Core application outside of IIS with the clipboard API to see if it works.

[2019-06-20 14:08] dagood commented on #2913
This means you're missing required updates (prerequisites to run .NET Core), take a look at https://docs.microsoft.com/en-us/dotnet/core/windows-prerequisites?tabs=netcore2x#net-core-dependencies.

[2019-06-20 14:08] dagood commented on #2913
Duplicate of #2541

[2019-06-20 14:08] #2913 closed

[2019-06-20 14:11] dagood commented on #2871
It looks like you're trying to use 16.04 instructions to install on some 18.X version, which won't work. Can you make sure the dropdown is right for your distro and try again?

If you still hit the problem, if you can run these commands and give us the output it would help diagnose the issue:

[code]

[2019-06-20 14:20] dagood commented on #2874
The steps work fine for me in a fresh `debian:9` Docker container. Can you paste the output from all the commands as they happened on your machine? It's possible something went wrong in an earlier step without an obvious error message.

[2019-06-20 14:20] dagood commented on #2896
Duplicate of #2897

[2019-06-20 14:20] #2896 closed

[2019-06-20 14:22] dagood commented on #2897
I'm tentatively closing this as a duplicate of https://github.com/dotnet/core/issues/2874, because it seems to be the same error and the other issue has slightly more detail.

[2019-06-20 14:22] #2897 closed

[2019-06-20 14:23] dagood commented on #2897
Duplicate of #2874

[2019-06-20 14:29] dagood commented on #2885
You're using the Ubuntu 19.04 instructions, but actually the Ubuntu 18.04 instructions are more likely to work on Linux Mint 19.1. We don't have dropdown entries for some distros and there's no easy way to figure this out on your own, sorry about that. Someone else hit this problem earlier at https://github.com/dotnet/core/issues/2836.

(https://github.com/dotnet/core/issues/2576 is tracking makin

[2019-06-20 14:29] dagood commented on #2885
Duplicate of https://github.com/dotnet/core/issues/2836

[2019-06-20 14:29] #2885 closed

[2019-06-20 14:42] dagood commented on #2894
That would do it! We only produce Debian packages for x64. You'll have to install from binaries for now, see https://github.com/dotnet/core/blob/master/Documentation/linux-setup.md for more info. Binaries are in the "Advanced" button on https://dotnet.microsoft.com/download.

[2019-06-20 14:42] #2894 closed

[2019-06-20 14:57] dagood commented on #2910
The install steps work fine for me right now in a fresh `fedora:28` Docker container. I'm able to get `compat-openssl10` from the basic `fedora` repo:

[code]

Can you try to figure out why you aren't able to get `compat-openssl10` on your system?

[2019-06-20 15:02] leecow commented on #2891
Sorry about that. Again, all of that code should be in the corefx repo so let's move this question over there.

[2019-06-20 15:02] leecow commented on #2891
Issue moved to [dotnet/corefx #38726](https://github.com/dotnet/corefx/issues/38726) via [**ZenHub**](https://www.zenhub.com/)

[2019-06-20 15:06] carlossanlop commented on #2914
Hello @poorna106, can you please provide more details? What was the problem you encountered?

[2019-06-20 15:13] carlossanlop commented on #2911
Hello @rgause, thanks for taking the time to report this issue.

Would you mind sharing the exception your code is throwing?

I suspect this issue is caused by missing configuration for PostgreSQL or for the [npgsql library ](https://github.com/npgsql/npgsql)you are using to connect to the database.

I found this link with the same error message and a provided solution. Maybe you have the same iss

[2019-06-20 15:16] carlossanlop commented on #2911
Adding @divega who owns the System.Data area in case this is an actual issue on the .NET side.

[2019-06-20 15:34] carlossanlop commented on #2907
@Pilchie is this something you or your team can help with?

[2019-06-20 16:11] LlewellynJones commented on #2902
I solved it.

[2019-06-20 16:11] #2902 closed

[2019-06-20 16:18] Pilchie commented on #2907
@Mosiuwa - can you provide more details about the steps you took?  Did you start running the app?  What output did it have?  Can you give some screenshots?

[2019-06-20 17:53] rgause commented on #2911
Here is the stack trace:

6/20/2019 12:45:21 PM [APP/PROC/WEB/0] at Npgsql.NpgsqlConnector.<>c__DisplayClass161_0.<<ReadMessage>g__ReadMessageLong|0>d.MoveNext()
6/20/2019 12:45:21 PM [APP/PROC/WEB/0] Npgsql.PostgresException (0x80004005): 28000: connection requires a valid client certificate
6/20/2019 12:45:21 PM [APP/PROC/WEB/0] Connection id "0HLNLKPS5O2BT", Request id "0HLNLKPS5O2BT:00000001":

[2019-06-20 17:57] rgause commented on #2911
The stackoverflow link references an issue with psql - psql actually works fine, as does a Java app hitting the same database from all 3 platforms.

Again, the code attached runs fine on Windows & Mac, but fails on Linux. Exact same code, exact same config.

My guess is that it is either a bug, or that it was not implemented on Linux.

[2019-06-20 18:12] RaminderRandhawa91 opened #2915 "Need to check if .net core is installed for Inno setup installer"
For .Net frameworks it could be done easily by
RegQueryDWordValue(HKLM, 'Software\Microsoft\NET Framework Setup\NDP\v4\Full', 'Release', regVersion);

How to check the same for .NET Core ?

[2019-06-20 20:51] surudran commented on #2480
you may have multiple subscriptions.  set the subscription to default which you want to use in CLI.

https://docs.microsoft.com/en-us/cli/azure/manage-azure-subscriptions-azure-cli?view=azure-cli-latest

[2019-06-20 21:42] divega commented on #2911
cc @roji who is the Npgsql lead. Shay, does this ring any bells?

[2019-06-20 23:16] roji commented on #2911
Hmm, not really... Npgsql doesn't actually do much here - it simply passes the user-provided delegate to `SslStream.AuthenticateAsClient()`, [the code can be seen here](https://github.com/npgsql/npgsql/blob/68147c48df71206a96fed0e619237bc5855d80b4/src/Npgsql/NpgsqlConnector.cs#L548).

If this exact same code does work against the same database when running on Windows/MacOS, and only fails on Linux

[2019-06-21 03:49] groogiam opened #2916 "Is it possible to create WPF or WinForms Class Library"
I have a couple of .NET Framework class library projects which provide reusable functionality for WPF and Winforms. These projects currently do so by referencing the .NET Framework assemblies like WindowsBase.dll or System.Windows.Forms. I cannot figure out how to replicate this using .NET Core 3 Preview 6. I tried referencing the Microsoft.WindowsDesktop.App package but got the following error. I

[2019-06-21 05:42] brijeshkamani11 opened #2917 "cannot install dotnet in kali linux."
I run this following command and its givs error...
[code]
i also tried this which does't work....
`root@localhost:~# sudo apt-get install dotnet-sdk-2.2.5
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package dotnet-sdk-2.2.5
E: Couldn't find any package by glob 'dotnet-sdk-2.2.5'
E: Couldn't find any package by regex 'dotnet-sdk-2.2.5

[2019-06-21 12:59] bhaskar-majumder opened #2918 "SystemEvents.SessionSwitch event is not getting fired in macOs mojave"
# Issue Title

`SystemEvents.SessionSwitch` event is not getting fired in macOs mojave.
`SystemEvents.SessionSwitch += new SessionSwitchEventHandler(SystemEvents_SessionSwitch);` is working fine for Windows 10 but it is not working in Mac.

# General

Trying to listen to system events like lock/unlock, user sign in/out etc. for our dotnet core application which runs on both Windows and Mac.
To ach

[2019-06-21 13:11] janvorli commented on #2566
@Hondo2019 did you have a chance to try it with .NET core 3.0 Preview 5 or 6?

[2019-06-21 14:40] alexsandro-xpt commented on #1006
Thanks all!!!

[2019-06-21 15:29] dagood commented on #2917
Kali isn't a supported distro, there are ways to make it work though: https://github.com/dotnet/core/issues/2392.

[2019-06-21 15:29] dagood commented on #2917
Duplicate of https://github.com/dotnet/core/issues/2392

[2019-06-21 15:29] #2917 closed

[2019-06-21 19:03] dovholuk commented on #2312
Support for HTTP over arbitrary streams would be very much appreciated (by me any way).  I've left a comment on my SO post (https://stackoverflow.com/questions/56550481/parsing-raw-http-in-c-sharp-or-some-better-option)

Is this in-the-works? Any update?

[2019-06-21 19:16] CliffordOzewell opened #2919 "dotnet-sdk 2.2"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/sdk-current
Operating System: Linux Ubuntu 18.04 - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
OS:No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.2

[2019-06-21 22:55] tacko98 opened #2920 "can't find .net core on visual studio 2015"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-06-22 05:42] ishha100 opened #2921 "its not downloading"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/rhel/sdk-2.2.107
Operating System: Linux RHEL - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-06-22 08:46] NagalakshmiVJ opened #2922 "unmet dependencies in installing dotnet sdk 2.2 on ubuntu 16.04 LTS"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu19-04/sdk-current
Operating System: Linux Ubuntu 19.04 - x64

sudo apt-get install dotnet-sdk-2.2
Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages could not be installed. This may mean that you have
requested an impossible situation or if you are using the

[2019-06-22 09:36] Hondo2019 commented on #2566
Sorry, havent had the time to play with the newer releases yet. I will have to deal with this issue again when the final release is here.

[2019-06-22 14:08] lodhe54 opened #2923 "Docker issue"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-microservice-tutorial/run-docker
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant

docker run -it --rm -p 3000:80 mymicroservice
Unable to find image 'mymicroservice:latest' locally
docker:

[2019-06-22 14:09] lodhe54 commented on #2923
REPOSITORY          TAG                      IMAGE ID            CREATED             SIZE
<none>              <none>                   8aeda94bb0c5        45 minutes ago      1.84GB
<none>              <none>                   c98d6db1a0e8        About an hour ago   275MB
microsoft/dotnet    2.2-sdk                  155911c343f3        2 days ago          1.84GB
microsoft/dotnet    2.2-aspnetcore-

[2019-06-22 22:17] Gnbrkm41 opened #2924 "Consuming the latest nightly is impossible due to missing package Microsoft.AspNetCore.App.Ref"
# General
I've installed the nightly SDK for `3.0.100-preview7-012564`, however attempts to build projects with the preview SDK fails with the following error:
[code]

I have followed the [Dogfooding daily builds instruction on corefx repo](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md) and just created a new console project; I'm not sure if I'm missing any

[2019-06-23 06:30] lodhe54 opened #2925 "Issue"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-deploy-microservice-tutorial/deploy
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

myMicroservice>kubectl apply -f deploy-myMicroservice.yaml
Unable to connect to the server: dial tcp [

[2019-06-23 07:25] hiyjeain opened #2926 "Can not reach the packages.microsoft.com in China"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/centos/sdk-current
Operating System: Linux CentOS / Oracle - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-06-23 07:27] #2926 closed

[2019-06-23 18:42] jaggedjagged opened #2927 "apt-get install aspnetcore-runtime-2.2"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/runtime-current
Operating System: Linux Ubuntu 18.04 - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

# apt-get install aspnetcore-runtime-2.2
Paketlisten werden gelesen... Fertig
A

[2019-06-23 21:15] lodhe54 commented on #2925
For me,  I had to elevate the CLI to administrator context.  That solved it.

[2019-06-23 21:15] #2925 closed

[2019-06-23 21:17] lodhe54 commented on #2923
Switched the docker desktop network setting to static on DNS 8.8.8.8 and it worked.

[2019-06-23 21:17] #2923 closed

[2019-06-24 02:40] linhdivine opened #2928 "heloowwords"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/install
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-06-24 06:17] gnraju20411 opened #2929 "Dotnet core sdk installation on Ubuntu 18.04"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/sdk-2.1.300
Operating System: Linux Ubuntu 18.04 - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-06-24 06:18] gnraju20411 commented on #2929
sudo apt-get update
E: Malformed entry 1 in list file /etc/apt/sources.list.d/dotnetdev.list (URI)
E: The list of sources could not be read.

[2019-06-24 09:42] riker09 commented on #2880
I think I'm having the same issue when running tests inside a Docker container with Concourse CI.

Here's some of the output I see when watching the container with `fly watch`:

[code]

As you can see there is a lot of whitespace before the actual output.

This is the command I'm running inside the container: `dotnet test MySolutionFile.sln`

I can confirm that using the older version `:2.2.204` d

[2019-06-24 09:50] Evangelink opened #2930 "ResX generator - 'Type' does not contain a definition for 'Assembly'"
Hi there,

I have a library project with a multi target `<TargetFrameworks>net45;net47;netstandard1.3;netstandard1.6;netstandard2.0;netcoreapp2.0</TargetFrameworks>` and when I am trying to add a resx file to handle some translations I start having the following issue:

[code]

I have read on issue #595 that to get the `Assembly` we need to get through `GetTypeInfo()` but I would expect the `ResXF

[2019-06-24 15:10] Evangelink commented on #2930
I can confirm that if I create a new netstandard class library and add a resx (keeping only `<TargetFramework>netstandard1.3</TargetFramework>`) everything works fine but as soon as I add the `net45` as multi-target (`<TargetFrameworks>net45;netstandard1.3</TargetFrameworks>` I start having the designer generated properly only for net45.

[2019-06-24 17:01] Malkharji opened #2931 "Download SEAL library on MacOS Majove version (10.14.5) issue"
# Issue Title

Be as descriptive as you can with your title.

# General

Provide details on the problem you are experiencing including the .NET Core version, operating system version and anything else that is relevant.

Please provide a code sample for your issue if it is relevant, either inline, link to a gist (or similar) or add it as a zipped attachment.

For some issues, you will get a quicker

[2019-06-24 17:02] Malkharji commented on #2931
I am working on MacOs Mojave version 10.14.5 (18F132). I installed SEAL library from (cmake-3.13.5-Darwin-x86_64.dmg) from the link https://cmake.org/download/. Then, I built .NET apps from the link (https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install). I wrote in the terminal (dotnet command) as instructed but it didn't work.

[2019-06-24 17:22] rgause commented on #2911
Just had a successful run on OpenSuse Tumbleweed.

I’m going to try several others and see what I get - I thinking Ubuntu 18, then CentOS.

Ubuntu 16 is the latest I have available in the problem environment, but thinking 18 is coming down the road. I know we have some Red Hat, too, so trying Cent to get an idea on that.....

[2019-06-24 17:56] dagood commented on #2924
Looks like you're missing the NuGet feeds required by the SDK daily build: https://github.com/dotnet/core-sdk#installers-and-binaries.

[2019-06-24 18:14] Gnbrkm41 commented on #2924
Ah, thought I'd need only one of it... I believe that'd solve the issue.

[2019-06-24 18:14] #2924 closed

[2019-06-24 18:40] MoonStorm commented on #2811
It fails on windows too. I get an error saying it's looking for the main app's dll. Same setup though with unsigned files works fine.

[2019-06-24 18:59] swaroop-sridhar commented on #2811
@MoonStorm  the fix for Windows version is in this PR:
https://github.com/dotnet/core-setup/pull/6885

[2019-06-24 19:12] MoonStorm commented on #2811
Thanks, hopefully that will make it in the next preview (7)?

[2019-06-24 21:04] 0xd4d commented on #2930
Seems like it only happens if you have net45 as the first TFM, so move it to the 2nd position or later. Delete the *.designer.cs file and regenerate it (edit any field in the .resx file and save it)

[2019-06-24 21:18] #2931 closed

[2019-06-24 21:18] Malkharji commented on #2931
I just want to correct it

[2019-06-24 21:20] Malkharji opened #2932 "Download SEAL library on MacOS Majove version (10.14.5)"
Download SEAL library on MacOS Majove version (10.14.5)

I am working on MacOs Mojave version 10.14.5 (18F132). I installed SEAL library from (cmake-3.13.5-Darwin-x86_64.dmg) from the link https://cmake.org/download/. Then, I built .NET apps from the link (https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install). I wrote in the terminal (dotnet command) as instructed but it didn't w

[2019-06-24 21:30] roji commented on #2911
Thanks for testing and for the updates @rgause, please keep this issue up to date with your findings!

[2019-06-25 01:35] dungam commented on #2879
Here is how I got the same error message

I downloaded a project targeting .Net Core 2.1

[code]

Upon trying to build the project in Monodevelop 7.3.3 (build 5), I got an error asking me to install .Net 2.0 SDK

[code]
The url in error message redirects to https://dotnet.microsoft.com/download for latest versions.  This page has instructions for Monodevelop users to install NET Core SDK 2.2.107

[2019-06-25 02:16] ralmsdeveloper commented on #2878
@joperezr
I have the same problem with the most up-to-date version of VS 2019 Enterprise

[2019-06-25 02:41] singhkamall opened #2933 "System.TypeLoadException: Could not load type 'System.Diagnostics.Eventing.EventDescriptor' from assembly 'System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089'."
I used following code to execute commands on Exchange Online for creating a new mailbox

[code]

[code]

It works perfectly in .NET Framework application but when I try to execute it in a ASPNET Core application, it fails. It gives following error-

[code]

Any thoughts on how this can be resolved?

[2019-06-25 02:58] dagood opened #2934 "2.2.107 SDK is not available on Microsoft Debian package repository"
@dungam reported at https://github.com/dotnet/core/issues/2879#issuecomment-505241984 how our notice for MonoDevelop users points to instructions that don't work:

---

I see two problems here:

1. There is no `dotnet-sdk-2.2.107` package on the Microsoft package repository.
1. ~The command on the install instructions says to install `dotnet-sdk-2.2.107=2.2.107-1`, but I *think* it should say `dot

[2019-06-25 03:00] dagood commented on #2879
@dungam, that isn't the same, and actually much more clearly something we need to fix, so I filed https://github.com/dotnet/core/issues/2934 to expand on it. (That error message is unfortunately way too general to connect issues like these.) Thanks for the report!

[2019-06-25 03:50] ericstj commented on #2878
@ralmsdeveloper did you see the details in https://github.com/dotnet/cli/issues/11378?  Did you install the latest Preview6 SDK?

[2019-06-25 03:50] #2878 closed

[2019-06-25 04:02] ralmsdeveloper commented on #2878
@ericstj,

I've tried, but it does not work, I'm with VS2019 Enterprise and also the preview version, both do not work!
See the complete log.
https://github.com/aspnet/EntityFrameworkCore/issues/16230

[2019-06-25 06:40] tedyyu opened #2935 "netcoreapp2.2 windows : Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

c:\hands-on\\.NETCore\myConsoleApp>dotnet run

Unhandled Exception: System.BadImageFormatException: Could not load fi

[2019-06-25 07:19] alexander-miglis opened #2936 "I still ran in to an issue "Unable to locate package dotnet-sdk-2.2.203=2.2.203-1""
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/sdk-2.2.203
Operating System: Linux Ubuntu 18.04 - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-06-25 10:31] collinoswalt commented on #374
This comment didn't age well

[2019-06-25 14:33] fkhalikov opened #2937 ".net core does not install on ubuntu"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/sdk-2.2.203
Operating System: Linux Ubuntu 18.04 - x64

farid@farid-Virtual-Machine:~$ sudo apt-get install dotnet-sdk-2.2.203=2.2.203-1Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package dotnet-sdk-2.2.203
E: Couldn't find any package by g

[2019-06-25 16:03] shahzadc commented on #1968
This is a major issue for us. We're exploring Azure and Google Cloud functions but would rather stay in AWS.

[2019-06-25 17:15] mikeway1 opened #2938 "1st error"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/modify
Operating System: macos

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Attempting to open Index.cshtml as requested. I can see the directory but the files are greyed out and not able

[2019-06-25 17:31] mikeway1 commented on #2938
Just to clarify, ls -l showed they were nor readable. chmod 777 had no effect and they remained uneditable using viscode

[2019-06-25 17:31] #2938 closed

[2019-06-25 20:19] carlossanlop commented on #2937
Hello @fkhalikov,

According to the instructions in the link you provided, you need to register the Microsoft key and feed, then add the universe repository, install a dependency, and finally updating apt-get, before attempting to install dotnet. Were you able to complete all those tasks?

[2019-06-25 20:19] carlossanlop commented on #2936
@alexander-miglis, can you please provide more information about your problem?

[2019-06-25 20:22] nguerrera commented on #2937
cc @leecow

[2019-06-25 20:27] DRepinSLB opened #2939 "Can't install Dot Net Core on CentOS 7"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/centos/sdk-2.1.300
Operating System: Linux CentOS / Oracle - x64

[code]
As directed, I am trying to add the dotnet product feed, but see Failed dependencies: /bin/sh is neede
[code]
However
[code]

[2019-06-25 20:31] omajid commented on #2939
This is strange. `/etc/os-release` says you are using `ubuntu`. And Ubuntu (not CentOS) has `/bin/sh` as a symlink to `/bin/dash`. But the title says CentOS. And you are using the CentOS/RHEL package feeds. Can you double check what your OS is? CentOS/RHEL feeds are not going to work on Ubuntu. Have you tried following the steps for Ubuntu?

[2019-06-25 20:37] DRepinSLB commented on #2939
Sorry. User error. My VM is CentOS 7, while the build machine is Ubuntu, as you rightfully noticed. Please close the issue.

[2019-06-25 20:37] #2939 closed

[2019-06-25 20:37] carlossanlop commented on #2935
Sounds like this issue is related to the fact that you compiled your app in X86 but running it in X64, although I don't know why the exception would be thrown.
@nguerrera @livarcocc can you please help @tedyyu with this problem?

[2019-06-25 20:42] rgause commented on #2911
Sorry, OpenSuse Tumbleweed did not work. I had had issues with its local firewall and had added a line in pg_hba.conf to help with debugging that. Once I removed that line, the Linux run failed while the Windows run succeeded.

I also finished testing Ubuntu 18 today - it also fails on the Linux run.

CentOS 7 image build is in progress......

[2019-06-25 20:47] roji commented on #2911
Post back on the CentOS situation, but the tendancy seems clear :) I'll try to make time to repro this myself and investigate.

[2019-06-25 20:49] carlossanlop commented on #2933
@Pilchie the issue is happening in ASP.NET, is this something your team can address or should it be sent to another area?

[2019-06-25 20:51] carlossanlop commented on #2932
@Malkharji when you say "it didn't work", what was the exact problem you encountered? Please provide more details.

[2019-06-25 20:56] carlossanlop commented on #2930
@ericstj @joperezr since it's related to .NET versions, maybe it's your area of expertise. Can you help? If not, please let me know who can help with this.
Adding @adamsitnik as well, since he helped in the referenced issue https://github.com/dotnet/core/issues/595.

[2019-06-25 20:58] carlossanlop commented on #2929
What are the contents of that file? As the error states, the file does not have the correct format.

[2019-06-25 20:58] carlossanlop commented on #2928
Not enough information, @linhdivine. Can you please provide details of your problem?

[2019-06-25 21:00] nguerrera commented on #2935
I suspect something in your environment or directory structure is forcing the wrong architecture.

Can you provide a binary log? See https://aka.ms/binlog, in particular make note that this will share project contents and environment variables.

To generate it for this tutorial project, you can use `dotnet build /bl` and it will produce an msbuild.binlog file.

[2019-06-25 21:00] carlossanlop commented on #2927
Translation:

@Pilchie can you please take a look?

[2019-06-25 21:03] carlossanlop commented on #2927
Similar to this issue reported around the same time: https://github.com/dotnet/core/issues/2922

[2019-06-25 21:03] carlossanlop commented on #2922
Similar to this issue reported around the same time: https://github.com/dotnet/core/issues/2927

@Pilchie  can you please take a look?

[2019-06-25 21:04] carlossanlop commented on #2921
Can you please provide more information about your problem? What is the link that you could not download?

[2019-06-25 21:07] carlossanlop commented on #2920
VS 2017 is the minimum version required to run .NET Core, or you can use Visual Studio Code.
Here's more information: https://docs.microsoft.com/en-us/dotnet/core/windows-prerequisites?tabs=netcore2x

[2019-06-25 21:08] #2920 closed

[2019-06-25 21:12] carlossanlop commented on #2919
Hello @CliffordOzewell ,
The problem is that you are trying to download version 2.0, which has reached it's end of life and it no longer supported: https://dotnet.microsoft.com/download/dotnet-core
You should try downloading 2.2 instead.

[2019-06-25 21:12] carlossanlop commented on #2919
Closing as resolved, but feel free to reopen it if you have any more questions.

[2019-06-25 21:12] #2919 closed

[2019-06-25 21:15] carlossanlop commented on #2918
According to the area ownership page, @maryamariyan, @Anipik are the best contacts to answer this question.

[2019-06-25 21:15] ericstj commented on #2930
I believe this is a problem with the code-generator for the resources.designer.cs.  It's not handling multi-targeting.  It needs to consider all frameworks targeted by the project, not just the first.  @dmonroym  @davkean does the Designer.cs code generator live in the project system or winforms?

[2019-06-25 21:17] carlossanlop commented on #2916
@ericstj @joperezr is this an issue you can help with? It's related to .NET version. Let me know if we should instead transfer the issue to the wpf or winforms repos.

[2019-06-25 21:19] carlossanlop commented on #2915
@dagood seems to be related to install/setup. Is it possible to check the .NET Core installation in the registry?

[2019-06-25 21:20] carlossanlop commented on #2908
I can also confirm the download works fine. I'm closing the issue as resolved, but feel free to reopen it if you have any more questions.

[2019-06-25 21:20] #2908 closed

[2019-06-25 21:27] ericstj commented on #2916
You can create a class library that uses the WindowsDesktop SDK.

[code]

Essentially it's the same as `dotnet new winforms` or `dotnet new wpf` with `<OutputType>WinExe</OutputType>` removed.

@diverdan92 do you know if class-library templates are planned for WPF and WinForms?

[2019-06-25 21:32] ericstj commented on #2930
/cc @merriemcgaw @DustinCampbell

[2019-06-25 21:45] groogiam commented on #2916
That seems to do the trick. Thanks for the help.

[2019-06-25 22:03] mfish0005 commented on #2852
It's been a couple weeks and I was working on other stuff but I'm back to this.  I've discovered a couple things.  First, the Kestrel error never happens if you don't use the "Enable HTTPS" option when generating the project.

When you run the project from bash and navigate to localhost:5001 you get the same result though: `localhost refuses to connect'.

Only it's a silent error so I can't give y

[2019-06-25 23:33] #2869 closed

[2019-06-25 23:52] peterhuene commented on #2869
@nguerrera thanks for closing.  I didn't notice that the tool hadn't closed it 😞.

[2019-06-26 00:50] davkean commented on #2930
We don't have a lot of control over this - the relationship we have with the code gen doesn't give us the ability to say "factor in all these TFMs". @Tanya-Solyanik did the original hook for us and they own it in the Framework itself and that would be need to be extended. Once .NET Standard 1.x and portable usage is reduced, this issue will start going away.

[2019-06-26 00:52] techiechap opened #2940 "Dotnet cli installation error on WSL"
Problem encountered on while installing the dotnet cli on wsl ubuntu,
WSL:Ubuntu 18.04.1 LTS

 dotnet-sdk-2.2 : Depends: aspnetcore-runtime-2.2 (>= 2.2.5) but it is not going to be installed
Depends: dotnet-runtime-2.2 (>= 2.2.5) but it is not going to be installed
E: Unable to correct problems, you have held broken packages.

[2019-06-26 02:04] dagood commented on #2915
Yeah, here are a couple previous discussions:

https://github.com/dotnet/core-setup/issues/4904 mentions the plans for a registry key for 3.0, [install-locations.md](https://github.com/dotnet/designs/blob/master/accepted/install-locations.md).

https://github.com/dotnet/core-setup/issues/3381 is a bit old, but I still see recent versions in my registry where it mentions them:
`HKLM\SOFTWARE\WOW643

[2019-06-26 02:11] dagood commented on #2936
This has the same root cause as https://github.com/dotnet/core/issues/2934. Our download page is a bit broken right now. 😕

On the other hand, you shouldn't install 2.2.203, there's a newer security patch 2.2.204 available. The command that should work is:

[code]

However, if you don't need the `2.2.2xx` train for any particular reason, you can go with the highest-versioned `2.2.300`, which you d

[2019-06-26 02:13] dagood commented on #2937
Duplicate of https://github.com/dotnet/core/issues/2936

[2019-06-26 02:13] #2937 closed

[2019-06-26 02:16] dagood commented on #2940
What instructions were you following? The most common reason for this error is using a package repository that doesn't match your distro or release number.

If that doesn't help, can you run these diagnosis steps and share the results?

[code]

[2019-06-26 02:21] dagood commented on #2922
The title says you're on Ubuntu 16.04, but the issue description says Ubuntu 19.04. Can you try again with the 16.04 instructions? https://dotnet.microsoft.com/download/linux-package-manager/ubuntu16-04/sdk-current

[2019-06-26 03:02] sajemam opened #2941 "The system cannot find the path specified."
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/create
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-06-26 03:24] tedyyu commented on #2935
[msbuild.binlog.zip](https://github.com/dotnet/core/files/3328078/msbuild.binlog.zip)

@nguerrera Here is the binlog, please help.

[2019-06-26 03:48] James4real888 commented on #2922
I'm on Android Version 9, with a Huawei P20 Pro, CLT-L04 (Cellphone), build
number 9.0.0.283, EMUI Version 9.0.0

On Tue., Jun. 25, 2019, 7:22 p.m. Davis Goodin <notifications@github.com>
wrote:

[2019-06-26 07:38] kennethgodwin06 opened #2942 "Dotnet Installation Issue"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Operating System:Windows 7 ,64-bit
Error Message: The Application was Unable to Start Correctly (0xc000007b) .

[2019-06-26 09:06] jeroenlandheer opened #2943 "ResXFileCodeGenerator/StronglyTypedResourceBuilder generates classes without the 'partial' modifier"
When generating a class with from a resources (.resx) file, the resulting class in the .Designer.cs is either an internal or public class, without the 'partial' keyword.

If you want to implement some additional code in these files (i.e. make a few extra methods that are related to resources in that same project) they are overwritten whenever the resource file is changed, removing the changes.

If

[2019-06-26 09:10] chrfin opened #2944 "3.0.100-preview6/7/8 not working on Yocto ARM/ARM64"
We use .NET Core on a [Variscite DART-MX8M-MINI](https://www.variscite.com/product/system-on-module-som/cortex-a53-krait/dart-mx8m-mini-nxp-i-mx8m-mini/) SoM and it worked fine with 3.0.100-preview5.
With preview 6 .NET Core doesn't work at all, because as soon as a program is startet it gets stuck without any output (also nothing on the serial console) and needs to be killed. Even `dotnet --info`

[2019-06-26 12:15] Evangelink commented on #2930
Sorry to get back to you that late. I do confirm that by putting one of the `netstandard` first everything works well.

I still decided to create this ticket hoping you could find a way to improve the UX for others. Feel free to close if you don't think that you can have some easy win.

[2019-06-26 12:54] sksahotra opened #2945 ".net cmd issue"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-06-26 13:32] jose-solorzano commented on #1178
I got into this state by changing the applicationUrl in launchSettings.json. Changing it back didn't fix it, however, until I deleted the hidden .vs folder.

[2019-06-26 15:24] maryamariyan commented on #2843
closing as it got fixed through https://github.com/dotnet/corefx/issues/38359

[2019-06-26 15:24] #2843 closed

[2019-06-26 15:54] carlossanlop commented on #2905
Hello @edwarrt, can you provide more information? Did you follow the Red Hat Getting Started Guide before attempting to install?

[2019-06-26 15:56] carlossanlop commented on #2901
Thank you for reporting, @iBeech. I am moving the issue to the dotnet/corefx repo for further investigation from our team.

[2019-06-26 16:00] carlossanlop commented on #2898
Thank you for reporting, @DerKiLLa.
@tquerec, @josephisenhour, @bongiovimatthew-microsoft as the owners of System.DirectoryServices, do you have an answer for the question posted above?

[2019-06-26 16:02] carlossanlop commented on #2888
Can you provide more information about your issue?

[2019-06-26 16:02] carlossanlop commented on #2887
Can you provide more information about your issue?

[2019-06-26 16:06] carlossanlop commented on #2881
Thanks for reporting, @godrose .
@ericstj @joperezr  is this something you could help with, since it's related to usage of .NET Standard libraries?

[2019-06-26 16:15] joperezr commented on #2881
I'm not sure i fully understand what you mean by a .NET Core 3.0 Desktop app, do you mean an app that targets .net framework? Same question goes for the class library, is it an actual app or is that a library? If you could attach a minimal repro solution with all projects we can take a look.

[2019-06-26 17:05] techiechap opened #2946 "dotnet sdk installation error on WSL ubuntu"
Error thrown while installing dotnet for  linux
Operating System: Windows 10 WSL  Ubuntu 18.04 - x64

Below error is shown,however when i run dotnet.exe it seems showing the output.

2.1.505 [C:\Program Files\dotnet\sdk]
2.2.300 [C:\Program Files\dotnet\sdk]

while installing the dotnet sdks from [https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/sdk-current]   i get below er

[2019-06-26 17:27] zacharylanese opened #2947 "Cannot run dotnet on windows, exe file will not open when clicked on."
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-06-26 17:28] zacharylanese commented on #2947
I cannot open the exe file for dotnet. It will flash open and close very suddenly once, then never again.

[2019-06-26 17:28] techiechap commented on #2940
Thanks dagood,
NAME="Ubuntu"
VERSION="18.04.1 LTS (Bionic Beaver)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 18.04.1 LTS"
VERSION_ID="18.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPORT_URL="https://bugs.launchpad.net/ubuntu/"
PRIVACY_POLICY_URL="https://www.ubuntu.com/legal/terms-and-policies/privacy-policy"
VERSION_CODENAME=bionic
UBUNTU_CODENAME=bionic

[2019-06-26 17:32] dagood commented on #2940
Good start, a few questions you missed:

[2019-06-26 17:45] kburgoyne opened #2948 "System.IO.BufferedStream.ReadAsync() cancel response"
# Issue Title

System.IO.BufferedStream.ReadAsync() is responding to a cancellationToken cancel signal with System.AggregateException and not System.OperationCanceledException.

# General

The AggregateException does contain a single exception of OperationCanceledException.

docs.microsoft.com for Core, Standard, and Framework doesn't actually say any exception will be thrown on a cancel for Buffe

[2019-06-26 17:51] techiechap commented on #2940
My apologies,  below is the output,

Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages could not be installed. This may mean that you have
requested an impossible situation or if you are using the unstable
distribution that some required packages have not yet been created
or been moved out of Incoming.
The following information may help to resol

[2019-06-26 18:13] techiechap commented on #2940
ashish@Latitude7470:~$ dotnet --list-sdks
2.2.300 [/usr/share/dotnet/sdk]

I found the solution here  [github](https://github.com/dotnet/core/issues/1587)
wget http://security.ubuntu.com/ubuntu/pool/main/i/icu/libicu55_55.1-7ubuntu0.4_amd64.deb -P /tmp
sudo dpkg -i /tmp/libicu55_55.1-7ubuntu0.4_amd64.deb

[2019-06-26 18:14] techiechap commented on #2940
Thank you dagood,

[2019-06-26 18:56] #2940 closed

[2019-06-26 18:58] dagood commented on #2940
This source is unusual:

Xenial is Ubuntu 16.04, so I'm betting it's finding the 16.04 `dotnet-runtime-deps`, not the 18.04 `dotnet-runtime-deps`. This would explain why it's asking for `libicu55` rather than `libicu60`. If you removed that source, your install command would probably pick up the right packages from the correct source (which you also have installed):

You've already worked around i

[2019-06-26 18:59] dagood commented on #2946
Looks like a duplicate of https://github.com/dotnet/core/issues/2940, let me know if not.

[2019-06-26 18:59] dagood commented on #2946
Duplicate of https://github.com/dotnet/core/issues/2940

[2019-06-26 18:59] #2946 closed

[2019-06-26 21:11] MPorto1994 opened #2949 "Impossível corrigir problemas, você manteve(hold) pacotes quebrados."
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/install
Operating System: Linux Ubuntu 16.04 - x64

Eu tive problema no terminal ao instalar o dotnet. Apareceu a mensagem do título, e não consigo ir a frente.

[2019-06-27 00:39] janvorli commented on #2944
Would you be able to attach gdb to the hung dotnet process and then print stack trace of thread 1 and share it?
[code]

[2019-06-27 06:12] chrfin commented on #2944
Here the output:

[2019-06-27 08:45] joakimvf commented on #948
I got it to work again when I uninstalled "Visual Studio Build Tools 2017 (2)". I had the same problem where TCPView didn't even list the process using that specific port, I tried everything.

Why I tried to uninstall stuff was because my applications were able to start in safe mode (Windows 10). It made me think that something takes up the ports as soon as I log in.

[2019-06-27 11:26] MartinStrbak opened #2950 "Exception while running simple WPF application published with PublishTrimmed=true"
Steps to reproduce:

1. Create new WPF application (via CLI - dotnet new wpf).
2. Add Textblock element to MainWindow.xaml, so it contains
`
    <Grid>
        <TextBlock>Hello, world</TextBlock>
    </Grid>
`
3. Publish application with PublishTrimmed set to true (dotnet publish -c Release -r win-x64 -o C:\example /p:PublishTrimmed=true)

Application does not start and exception is logged in Even

[2019-06-27 11:57] MartinStrbak commented on #2950
Seems to be duplicate of https://github.com/mono/linker/issues/595.

[2019-06-27 11:57] #2950 closed

[2019-06-27 14:37] rukhsarahmad-gep opened #2951 "System.ServiceModel.OperationContext.Current null in .netstandard"
# Issue Title

System.ServiceModel.OperationContext.Current null in .netstandard

# General

We have converted the framework 4.6.1 C# project to .netstandard 2.0.  we have web roles and worker roles, sending a custom header in operation context in calling from web roles to worker roles in a service request and services are hosted on the net.tcp binding.

System.ServiceModel.OperationContext.Curren

[2019-06-27 17:29] bradleylandis commented on #2947
@zacharylanese what exe are you trying to click on?  the tutorial that you linked to doesn't say anything about clicking on an exe?

[2019-06-27 17:53] lesha-m opened #2952 ".NET is not installed correctly on macOS"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: macos 10.14.5

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

After installation and typing "dotnet" in terminal response is "dotnet: command is not found". Reopening te

[2019-06-27 19:55] Stiles-Micaiah opened #2953 "Microsoft key"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/sdk-current
Operating System: Linux Ubuntu 18.04 - x64

Permission denied to get Microsoft key

[2019-06-27 21:01] tquerec commented on #2898
I can answer for the DirectoryServices portion.  It's true that the Directory Services APIs in core are not supported on UWP.  This is because the underlying APIs the framework uses ( ADSI for example ) are not supported on UWP.

[2019-06-27 22:22] senrag opened #2954 "Feature ref extension methods not available in C# 7.0 though changed to C# Language in IDE VS 2017 to C# 7.3"
Problem Statement

I am trying to rewrite an application that is parsing hefty stream buffers by replacing with System.IO.Pipeline

Found this interesting piece of code hence downloaded it. Compiles fine but at runtime  while debugging this piece of code gives the problem and defaults to null. In Watch window shows this error.

https://github.com/davidfowl/tcpecho

Fails at this place - https://gi

[2019-06-27 22:51] n00j opened #2955 "Make license of binaries more clear"
# Issue Title

Make license of binaries more clear

# General

For binary files list on the official download page: https://dotnet.microsoft.com/download/dotnet-core/2.1
Its not clear what the license is for each download. Since these are a combination of multiple repositories its not easy to deduce what the actually license is for each file / Operating system.
In https://github.com/dotnet/coreclr

[2019-06-27 23:11] omajid commented on #2955
AFAIK, the download archives (at least the tar.gz versions) themselves include `LICENSE` and possibly `THIRD-PARTY-NOTICE` files to clarify the license of that download. The license is (or was, at least) different for different downloads.

[2019-06-27 23:14] omajid commented on #2955
Related issues include https://github.com/dotnet/cli/issues/8842, https://github.com/dotnet/core-setup/issues/676 and https://github.com/dotnet/core-setup/pull/4588

[2019-06-27 23:23] #2954 closed

[2019-06-27 23:23] senrag commented on #2954
My bad found the issue and is working now hence closing it.

[2019-06-28 04:29] TempeBrennan commented on #2849
Thank you so much.

[2019-06-28 08:55] tmds opened #2956 "daily builds don't include libsos"
I downloaded today's daily build:
[code]
It doesn't include any sos:
[code]

CC @mikem8361

[2019-06-28 09:47] mazharwhite opened #2957 "No new folder was created"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/create
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-06-28 10:07] RengarsRice opened #2958 "ResXResourceReader class in .NET Core 3.0 Preview 6 is unavailable"
# Issue Title
ResXResourceReader class in .NET Core 3.0 Preview 6 is unavailable
https://docs.microsoft.com/en-us/dotnet/api/system.resources.resxresourcereader?view=netcore-3.0
# General
We are building an app to help with management of .resx files in .NET Core.

The docs include the system.resources.resxresourcereader class in this version of .net core 3.0 preview 6, but in a console app using t

[2019-06-28 12:46] rlundy commented on #2843
@maryamariyan Do you know which version of .NET Core I should watch for this fix in?  Will it be 3.0.100-preview6, or something else?

[2019-06-28 14:27] sirjeppe opened #2959 "Not possible to get the executable path for self-contained executable"
When calling Assembly.Get*Assembly().CodeBase for a self-contained .NET Core 3 project, it reports a temporary directory rather than the folder where the executable actually is located.

[code]

Put the code above in a project with these settings:
[code]

Then publish the app to e.g. C:\AssemblyReflectionIssue and launch it. Something like this will be printed:

C:\Users\user\AppData\Local\Temp\.n

[2019-06-28 15:22] chrishellegrace opened #2960 "Dotnet Issue"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-06-28 15:42] #2960 closed

[2019-06-28 15:51] Pilchie commented on #2907
Closing due to no response - @Mosiuwa please give us some more information if you're still seeing problems here.

[2019-06-28 15:51] #2907 closed

[2019-06-28 15:52] Pilchie commented on #2922
@leecow can you help with this?

[2019-06-28 15:53] Pilchie commented on #2927
@leecow any ideas?

[2019-06-28 15:55] Pilchie commented on #2933
@carlossanlop This doesn't appear to have anything to do with ASP.NET?  It's Exchange automation using WMI...

[2019-06-28 16:25] techiechap commented on #2946
Yes, its duplicate Thanks

[2019-06-28 16:25] mikem8361 commented on #2956
Yes, SOS is not included in the runtime anymore.  It can be installed with these directions: https://github.com/dotnet/diagnostics#installing-sos.  Once it is installed, this SOS will work with 1.1, 2.x and 3.x runtimes.

[2019-06-28 16:28] techiechap commented on #2927
Hii It might be cause of the repos, pls check below url
https://github.com/dotnet/core/issues/2940

[2019-06-28 16:40] techiechap commented on #2927
You can open firefox, download the script [microsft](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-install-script)
and see if its getting installed, or you can refer the [git](https://github.com/dotnet/core/issues/2940)

[2019-06-28 18:06] omajid commented on #2956
Was this change made after preview 6? My source-build-based preview 6 builds have a `libsos.so` and I am trying to find out if I need to file a bug there.

[2019-06-28 18:58] mikem8361 commented on #2956
Yes. It will be in Preview 7.

[2019-06-28 19:01] Mapeis opened #2961 ".net SDK Tutorial doesn't work"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/create
Operating System: windows

Die Vorlage "ASP.NET Core Web App" konnte nicht erstellt werden.
Access to the path 'C:\Program Files\Microsoft SDKs\Azure\.NET SDK\v2.9\myWebApp' is denied.

[2019-06-28 19:45] omajid commented on #2956
Thanks!

[2019-06-28 20:20] mabead commented on #1968
With .NET Core 3 that is coming, will AWS lambdas support [ReadyToRun images](https://devblogs.microsoft.com/dotnet/announcing-net-core-3-0-preview-6/) that are supposed to improve startup performances?

[2019-06-28 22:04] #2956 closed

[2019-06-29 09:32] hakimio commented on #1968
@mabead I imagine you should be able to run those using [Lambda Custom Runtimes](https://aws.amazon.com/about-aws/whats-new/2018/11/aws-lambda-now-supports-custom-runtimes-and-layers/).

[2019-06-30 01:43] omajid opened #2962 ".NET Core 1.0 and 1.1 should be marked as EOL in releases-index.json"
They are EOL since a few days ago and should no longer be in maintenance mode:

https://github.com/dotnet/core/blob/310b169c26d79cd352c338d4a0532ce48af862b6/release-notes/releases-index.json#L59

https://github.com/dotnet/core/blob/310b169c26d79cd352c338d4a0532ce48af862b6/release-notes/releases-index.json#L71

[2019-07-01 07:43] christophedemey opened #2963 "Project properties page does not save on start debug session in visual studio 2019"
# Issue Title

I hope this is the right place to create this issue, if not please redirect me.

In visual studio when i right click a project and select properties, change something, then debug the application the project properties page does not automatically save like the source files.
I have to make sure i CTRL+S the project properties page (or menu item save/saveall).

# General

.NET Core 2.2

[2019-07-01 08:36] rukhsarahmad-gep commented on #2951
We are closing this email thread. to resolve the issue we have removed data member from each property of the class UserContext

[2019-07-01 08:36] #2951 closed

[2019-07-01 13:50] Antkeo1 opened #2964 "I downloaded .net on a mac but when I type dotnet in terminal, it says command cant be found"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/install
Operating System: macos

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-07-01 15:37] acerbill opened #2965 "dotnet runs but no output"
# Issue Title

Be as descriptive as you can with your title.

# General

Provide details on the problem you are experiencing including the .NET Core version, operating system version and anything else that is relevant.

Please provide a code sample for your issue if it is relevant, either inline, link to a gist (or similar) or add it as a zipped attachment.

For some issues, you will get a quicker

[2019-07-01 17:40] tijmenspeek opened #2966 "missing files"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: macos

i tried several things to get c# to work on my mac but i keep getting this error.
`"/myApp/obj/myApp.csproj.*.props"` was not found."

i created this project via: `dotnet new console -o myapp`
and when i do: `dotnet build` it does not show any errors but with `dotnet run` is gives thi

[2019-07-01 18:43] leecow commented on #2927
Confirmed again that all is well with the 18.04 repo. @techiechap's recommendation to follow the guidance in [#2940](https://github.com/dotnet/core/issues/2940) is a good next step.

[2019-07-01 18:47] praeclarum opened #2967 "Can't install global tools"
# Can't install global tools

When I try to install .NET global tools, the installation reports as OK, but I cannot execute the tool, it's not show in the path, and .NET doesn't even list it:

[code]

I gave an example for Falanx, but I cannot install any tools.

# General

[code]

[2019-07-01 19:04] leecow commented on #2922
19.04 repo confirmed good. Check your repo registration and make sure it's pointed to the correct endpoint. It should look like this.

[code]

[2019-07-01 19:27] dagood commented on #2922
Based on the submitter's post title edit, they're on Ubuntu 16.04, not 19.04, and this error is expected if someone tries to run 19.04 instructions on 16.04. I'm closing because we haven't heard back in about a week since I suggested running the instructions that match the distro version.

@NagalakshmiVJ, let us know if you're still running into this issue!

[2019-07-01 19:27] #2922 closed

[2019-07-01 19:53] praeclarum commented on #2967
The problem is that the botnet tools are not in the path.

I added this:

[code]

to **~/.config/fish/functions/fish_prompt.fish**.

The tool installation/update commands should probably verify that the tool path is in the environment.

[2019-07-01 21:35] #2967 closed

[2019-07-02 06:10] christophedemey commented on #2947
@zacharylanese you should open up a command prompt and then type something like this : "dotnet MyApplication.dll" where MyApplication.dll is the dll generated by your visual studio build output.
Good luck! :)

[2019-07-02 06:13] christophedemey commented on #2949
Nobody speaks you language ! :(

[2019-07-02 06:48] FailToFail opened #2968 "Unable to correct problems, you have held broken packages."
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: Linux Ubuntu 18.04 - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-07-02 09:24] pp1609 opened #2969 "Missing file information in stack trace with portable pdbs"
I am trying to get the line numbers and column numbers from stack trace in case of exception but if the debug type is selected as portable the file info is showing as unknown. If i changed the debugtype to pdbonly i can see the fileinfo details.

Kindly help.

[2019-07-02 10:08] EmperorAtlantis opened #2970 "Localization language"
# Issue Title

Localization language

# General

Can I have various localized language packages like the.net Framework? When I use vs, I want to see annotated descriptions of classes or methods in Chinese.

[2019-07-02 16:28] alexrp commented on #505
I'm the person who wrote [Mono's command line debugger client](https://github.com/mono/sdb). To me, it is very important for a language ecosystem to have a command line debugger, especially on non-Windows platforms where having a GUI is not a given.

I was a bit disappointed to learn recently that there's no command line debugger for .NET Core (other than LLDB with a plugin, but that's a pretty ba

[2019-07-02 16:38] heatherhodges opened #2971 "not printing information"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-07-02 16:57] omajid commented on #505
@alexrp Have you seen https://github.com/Samsung/netcoredbg? It sounds like non-open source debugging library can be re-implemented itself.

(But yeah, I personaly agree that it would be much better if everything was open source.)

[2019-07-02 17:59] kylepeters opened #2972 "Error response from daemon: driver failed programming external connectivity on endpoint [random name]"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-microservice-tutorial/run-docker
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Everything went well in the tutorial up to the point where I tried to access the Docker image via web bro

[2019-07-02 18:16] chrisaliotta opened #2973 "Using 'app' as a sub domain breaks authentication cookie persistence"
# Using 'app' as a sub domain breaks authentication  cookie persistence

We found in both our production and test environments that using 'app.yourdomain.com' breaks authentication cookie persistence (especially when the application pool resets). When testing with other sub domain names like 'test.youdomain.com' authentication cookie persistence worked even after application pool reset.

# General

[2019-07-02 18:42] kylepeters opened #2975 "Azure CLI login failure"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-deploy-microservice-tutorial/azure-resources
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Every time I attempt to use the >az login command, it launches a browser window for me to log

[2019-07-02 22:43] farlock85 commented on #2283
@karelz Took a while but eventually we found out why this error was happening. Turns out that the compiled would occasionally output an empty, 0 byte file, not sure why, but I have a process now that retries when it's 0 bytes.

But we I would read that file with `File.ReadAllBytes` it throws the Bad IL exception.

[2019-07-03 10:43] HADDADENICAR opened #2976 "Add a DataSource in Wpf Core"
Following a tutorial in Pluralsight about EF Core ,Julie Lerman the tutor used EF Core  with (.Net Framework) Wpf Project, I am trying to do the same but with Wpf (Core3).

I want to make my view fast with a dataSource, when i add a datasource from the domain model project , it's dosen't get added !

[2019-07-03 10:46] khanghyxda commented on #2746
Installed libc6-dev & libgdiplus but still error. Ubuntu 16.03. Please re open this issue.

[2019-07-03 10:47] khanghyxda commented on #2746
![image](https://user-images.githubusercontent.com/5491573/60585773-734f2780-9dcb-11e9-9737-56b202f37186.png)

[2019-07-03 11:51] gaudigde commented on #2880
I’m having the same problem with dotnet version 2.2.300, downgrading to dotnet version 2.2.204-1 fixed it.

[2019-07-03 11:53] oguzhantopcu commented on #2746
@khanghyxda

You can fix the problem by installing System.Drawing.Common 4.6.0-preview.

[2019-07-03 16:35] chrisaliotta commented on #2973
I am closing this issue here because it is more appropriate in the aspnetcore project.

For future lurkers see:
See: https://github.com/aspnet/AspNetCore/issues/11857

[2019-07-03 16:35] #2973 closed

[2019-07-03 17:45] mwpowellhtx commented on #1114
Running into this same issue *VS2017 15.9.13*, *NuGet Package Manager 4.6.0*, *NuGet 4.9.3.5777*. I had other *errors* (loosely, more like *MSBuild* ignored errors), but nothing like this. Now that I have published my CLI tools, which *MSBuild* targets want to download, in spite of my providing internal paths to the build pipeline assets, now receiving half a dozen or so of these incompatible pack

[2019-07-03 19:39] ricemeisterio commented on #2001
I just tried to create a new project on .net core 2.2 and had the same issue.
dotnet new mvc --auth Individual -o AspNetCoreTodo
dotnet run

making this change worked for me.

[2019-07-04 00:03] swaroop-sridhar commented on #2811
The Windows fix will be in Preview 7. I opened https://github.com/dotnet/core-setup/issues/7065 to track the MAC signing issue (better tracked in the core-setup repo).

Hence closing this issue.

[2019-07-04 00:03] #2811 closed

[2019-07-04 06:37] Jacquers commented on #1114
Nuget seems to pull in versions from a higher version of .net core that causes these compatibility issues. Maybe specifying the version you need manually / explicitly could help.

[2019-07-04 07:22] mwpowellhtx commented on #1114
I partially identified the issue in this case, I think. It was a typo in the version property I was using to inform the Roslyn packages. So it found blank, and defaulted to the actual project being built's package version, which was obviously incorrect. Will monitor that for further details.

[2019-07-04 12:22] Norc89 opened #2978 "SocketException: Permission denied +Questions"
# Issue Title

Socket Exception

# General

Hi,
I'm new at the programing for raspberry at the moment i'm porting code from netduino to raspberry and i ran on problem with socketException: Permission denined. What can be the reason for this? I have try to change port to other and stil get the same problem.

Just for info I'm running on dot net core 2.2.3.

I have also question if is there any opti

[2019-07-04 13:27] kewinbrand opened #2979 "Converting DateTime to localtime w/ ToLocalTime() always returns UTC"
I created a simple console app in docker with the following code:

[code]
The output is:
07/04/2019 13:13:50
GMT

Even tough my system local time is GMT-3 (with timedatectl):

Local time: Thu 2019-07-04 10:22:50 -03
  Universal time: Thu 2019-07-04 13:22:50 UTC
        RTC time: Thu 2019-07-04 15:22:45
       Time zone: America/Sao_Paulo (-03, -0300)
     NTP enabled: yes
NTP synchronized: yes
 RT

[2019-07-04 15:57] alarco-l opened #2980 "Fix latest.version file for 2.x and 3.x (outdated version)"
I'm  trying to automate the dotnet sdk installation on a docker based on Ubuntu `18.04`.
Our goal is to be sure to always have the latest version of the sdk.
With the help of the [documentation](https://docs.microsoft.com/fr-fr/dotnet/core/tools/dotnet-install-script) and the `--help` option of the `dotnet-install.sh` script
[code]

I tried
[code]

As you can see, I didn't got the `2.2.300` versio

[2019-07-04 16:34] zspitz opened #2981 "TypeLoadException when attempting serialization of value type defined in referenced .NET Framework class library"
I have the following project dependency structure:

* Entry (**.NET Core 2.2**)
  * Fx (**.NET Framework 4.7.2 class library**)

`Fx` contains two types:

* `struct EndNodeData`
* `class TestClass`

Serializing an instance of `TestClass` succeeds:

[code]

but serializing a value of `EndNodeType` fails:

[code]

with the following exception:

Commenting out the `string` properties doesn't help.

[

[2019-07-04 17:35] Nazarius1 opened #2982 "Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install"
#Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows 10
Error message:
'dotnet' is not recognized as an internal or external command,
operable program or batch file.

.net framework is installed with version 4.5 SDK
![Capture](https://user-images.githubusercontent.com/38841449/60682240-dfe12980-9e92-11e9-8af0-15c43793f57d.JPG)

[2019-07-04 18:01] 0xd4d commented on #2981
`System.Runtime.CompilerServices.IsReadOnlyAttribute` doesn't exist in .NET Core 2.2's mscorlib.dll (as a type forwarder), but it does exist in .NET Framework's mscorlib (net48, don't know about earlier versions)

workarounds:

- Don't use auto implemented properties: add your own backing fields or don't use properties, just public fields. The compiler adds `[IsReadOnly]` to the getters.
- Define

[2019-07-04 19:06] zspitz commented on #2981
@0xd4d Why does this happen only on `struct` and not on a `class` with auto-implemented properties?

[2019-07-04 19:07] #2981 closed

[2019-07-04 19:54] 0xd4d commented on #2981
I think it's the new 'readonly member' feature in C#8, and only structs can have readonly members. Seems like you're compiling your code with the latest Roslyn compiler.

[2019-07-04 20:03] zspitz commented on #2981
@0xd4d Even when I explicitly set the compiler version to 7.3, in both the .NET Framework and .NET Core projects, I still get the same error, and not while serializing the class, only when serializing the struct.

[2019-07-04 20:19] 0xd4d commented on #2981
Yes, you could report it to roslyn, I'm not sure if it's a feature or a bug. https://github.com/dotnet/roslyn/issues

[2019-07-05 01:26] cloudreyes opened #2983 "Incorrect Dockerfile line"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-microservice-tutorial/docker-file
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

The line:

COPY --from=publish /app .

Should be:

COPY --from=build /app .

We need to reference the pr

[2019-07-05 02:27] tedyyu commented on #2935
any findings? @nguerrera @livarcocc

[2019-07-05 03:39] pp1609 commented on #2969
Can anyone please help with this

[2019-07-05 06:21] Mondoshawa opened #2984 "I have not been able to run MonoDevelop in Linux Mageia 6.1"
I use the Linux Mageia X64 distribution, since it was created. It is a distribution of RPM packages
Currently I have installed the Mageia 6.1 x64 distribution, Cinnamon desktop.

Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/fedora28/sdk-current
Operating System: Linux Mageia 6.1 - x64

Provide details about the problem you are experiencing. Include your operat

[2019-07-05 09:10] JanePamela commented on #2982
verify whether the environmental variable contains C:\Program Files\dotnet\, if not there, include it and then try.
add ;C:\Program Files\dotnet\

[2019-07-05 10:28] SabersoftConsulting opened #2985 "Bring .Net Core to new Operating System"
I have been unable to find any documentation on porting .Net Core to a new Operating System.
I'm looking to bring .Net Core 3 across as well as focus on AOT.
What dependencies are required or can you point me to a sample targeting .Net Core 3 or to the relevant documentation.

[2019-07-05 11:32] LosManos commented on #1006
My solution was to do a `dotnet restore` from an elevated command prompt.
 (after deleting the `NuGetFallbackFolder`, but I am not sure that is necessary)

Here is what I did:
Failed compiling with the error of this issue.
Did a `dotnet restore` and failed with a `Permission denied to modify the 'C:\Program Files\dotnet\sdk\NuGetFallbackFolder' folder.`
Renamed the `NuGetFallbackFolder`
Asked VS20

[2019-07-05 11:36] Persik3D opened #2986 "HttpListener not work on Ubuntu, but work on Debian"
# HttpListener not work on Ubuntu, but work on Debian

I put a virtual machine which was debian. My little web server worked. After I was told that production was settled on ubuntu. I put the dotnet core there. It was established without errors. Then I launch my application and ...
It starts. No errors. All OK. But when I try to knock on this port, nothing happens. Nothing at all. No errors, no lo

[2019-07-05 12:54] goldenbull opened #2987 "Will DateTime.Parse be able to deal with nanoseconds?"
# Issue Title

`DateTime` can not deal with the fraction of second more than 7 digits.

# General

Scientific applications often need to handle timestamp with precision of nanosecond. Although the `DateTime` datatype do not need to actually save the nanosecond precision, it could be very helpful if `DateTime.ToString` and `DateTime.ParseExact (and other parser methods)` could generate and recogniz

[2019-07-05 13:15] benaadams commented on #2987
DateTime is represented by a 64bit `long` so it doesn't have the capacity to measure both the full date range and nanosecond precision; it only has 100-nanosecond precision.

https://docs.microsoft.com/en-us/dotnet/api/system.datetime?view=netcore-2.2#quick-links-to-remarks-topics

`TimeSpan` also has a similar issue as it can measure the full interval between two dates; so is also at 100-nanoseco

[2019-07-05 13:50] Pilchie commented on #2927
Closing due to lack of response.

[2019-07-05 13:50] #2927 closed

[2019-07-05 13:52] Pilchie commented on #2933
@carlossanlop This appears to be Exchange automation with WMI - nothing to do with ASP.NET>

[2019-07-05 15:30] sujayvsarma opened #2988 "Changes to dictionary throws "Collection was modified; enumeration operation may not execute." on unmodified dictionary."
I had this code block:

[code]
model and info are instances of **completely different** class objects. Both define `ExternalProfileVisibility` as a `Dictionary<string, CustomEnumType>` where `CustomEnumType` is an `enum`.

After the loop runs exactly once, it throws the below error:

![image](https://user-images.githubusercontent.com/7371750/60732433-a4fcf580-9f67-11e9-9e11-f2bc9d8754bf.png)

The

[2019-07-05 15:52] benaadams commented on #2988
Would suggest they both are the same dictionary so the data is already the same (as you are updating the dictionary with itself)?

Add a check to test this beforehand and see if it still errors
[code]

[2019-07-05 15:55] sujayvsarma commented on #2988
@benaadams As I already said in my original post, they are completely different class declarations.

`info` - is a business class in a different DLL
`model` - is a Model used in a View (a View Model)

The application is an ASP.NET Core MVC application.

[2019-07-05 15:59] sujayvsarma commented on #2988
[Sorry, I deleted the previous comment]

Thank you @benaadams  for pointing me in the right direction! Apparently, I had this line before the loop:

[code]

This was causing a reference equality that would have been the reason for the exception.

Closing the issue.

[2019-07-05 15:59] #2988 closed

[2019-07-05 16:15] mic3ael opened #2989 "It was not possible to find 3.0.0-preview6.19307.2"
# 3.0.0-preview6
I tried to use dotnet preview6 on my Arch Linux machine and I couldn't find the way to run it the info is attached below.

# The information
dotnet run
[code]

dotnet --info
[code]

[2019-07-05 17:33] rgause commented on #2911
CentOS also has a similar failure. Only difference was that CentOS7 could not seem to install lttng-ust. It only seems to be for user space tracing & I've had similar results with or without that lib on other distros, so I kept going.

Stacktrace is similar:

[rgause@centos-7 pg-test-console]$ dotnet run

Unhandled Exception: Npgsql.PostgresException: 28000: connection requires a valid client cert

[2019-07-06 05:29] mrunal77 opened #2990 "Couldn't find any package by glob 'dotnet-sdk-2.2.107' Ubuntu 19.04"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu19-04/sdk-2.2.107
Operating System: Linux Ubuntu 19.04 - x64

Not able to install 2.2.107 version
Not able to run projects on monodevelop

[2019-07-06 06:07] ChakritRakuang opened #2991 "Cannot install .NET Core on debian"
sudo apt-get install dotnet-sdk-2.2
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package dotnet-sdk-2.2
E: Couldn't find any package by glob 'dotnet-sdk-2.2'
E: Couldn't find any package by regex 'dotnet-sdk-2.2'

[2019-07-06 06:17] dagood commented on #2990
You have to install from binaries for this version at the moment, we don't have 2.2.107 available as a Debian package: https://github.com/dotnet/core/issues/2934.

[2019-07-06 06:17] dagood commented on #2990
Duplicate of https://github.com/dotnet/core/issues/2934

[2019-07-06 06:17] #2990 closed

[2019-07-06 06:23] dagood commented on #2989
Where did you get this build? (How did you install .NET Core?)

ASP.NET Core being missing might be because it's based on source-build, in which case this is a duplicate of https://github.com/dotnet/source-build/issues/1121.

[2019-07-06 06:25] dagood commented on #2991
What instructions did you use? What OS release are you running? This error is unfortunately very general. The most common cause is using instructions that don't match your distro or distro version.

[2019-07-06 08:56] LiuyangRY opened #2992 "Request finished in 404"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-microservice-tutorial/run
Operating System:Linux
I attempted to run my first Microservice with the tutorial, when I run the service and tried to get it, there was a info "Microsoft.AspNetCore.Hosting.Internal.WebHost[2]  Request finished in 55.0356ms 404", I don't know how to fix it.
Provide details about the problem you are expe

[2019-07-06 15:49] Heimdell opened #2993 "Cannot install dotnet-sdk-2.2.107 on Ubuntu 18.04"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/sdk-2.2.107
Operating System: Linux Ubuntu 18.04 - x64

On any branch on that page, i get this:
[code]

[2019-07-07 14:50] Eden-shisso opened #2994 "64 bit linux"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/debian9/sdk-2.2.300
Operating System: Linux Debian 9 - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-07-07 18:43] alighazi commented on #2993
same here

[2019-07-07 18:57] omajid commented on #2989
Given it's Arch, it's probably this build: https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=dotnet-core-preview

[2019-07-08 01:52] goldenbull commented on #2987
@benaadams I know the 64bit limitation of DateTime, I'm not asking for a longer binary format for DateTime, it will be a disaster like the migration from python2 to python3 😈. What I need is a more user-friendly string representation/parsing, just like double. When using `double.Parse`, users do not care about how many digits of the string, and the result will be rounded properly. Similarly, DateT

[2019-07-08 02:50] 1258943270 opened #2995 "发送到"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-07-08 06:53] techiedesu opened #2996 "Debian Buster broken deps"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/debian9/sdk-current
Operating System: Linux Debian 10 - x64. I'm using stretch repo, because buster doesn't exist.

[code]

[2019-07-08 08:42] SimonHeffer opened #2997 "no matching manifest for unknown in the manifest list entries"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-microservice-tutorial/docker-image
Operating System: windows

Error running docker build step:

No image was built.

docker --version

ver

Simon

[2019-07-08 08:47] #2985 closed

[2019-07-08 08:48] SabersoftConsulting commented on #2985
Found it at
https://github.com/dotnet/source-build/blob/master/Documentation/boostrap-new-os.md

[2019-07-08 15:19] dagood commented on #2989
Interesting, based on that, it looks like `aspnet-runtime-3.0` needs to be installed separately from the AUR, because that `dotnet-sdk-3.0` doesn't take a dependency on it.

(The Microsoft-built SDK packages, on the other hand, *do* depend on the ASP.NET Core runtime.)

[2019-07-08 15:20] SimonHeffer commented on #2997
Probably my version on Windows 10 is too old. Shall try Server 2019.

[2019-07-08 15:20] #2997 closed

[2019-07-08 15:27] SimonHeffer opened #2999 "Access to the path '...dgspec.json' is denied"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-microservice-tutorial/docker-image
Operating System: windows

Error from the docker build step:

sproj]

The only thing I changed in the tutorial was the name of the service.

dotnet --version
2.2.300
Windows Server 2019 Build 1809

I came across this but don't know if it's related (and no obvious soln:
https://github.com/NuGet/H

[2019-07-08 15:58] leecow commented on #2966
What do you see when you run `dotnet --info`? Are you in the application directory before trying `dotnet run`?

[2019-07-08 15:59] leecow commented on #2995
Can you describe the problem you're seeing?

[2019-07-08 16:01] parveen-kumar-1 opened #3000 "Asp.net core Microservices Tutorial - auth issue with dockerfile"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-microservice-tutorial/docker-image
Operating System: Linux Ubuntu 16.04 - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

When I ran below command:
$ docker build -t mymicroservice .

I got the following erro

[2019-07-08 16:05] leecow commented on #2996
The Debian 10 repo will be up in the next few weeks. In the meantime, you can install using either the Snap installer or tar.gz described in the [linux setup](https://github.com/dotnet/core/blob/master/Documentation/linux-setup.md) document.

[2019-07-08 16:06] leecow commented on #2994
Can you describe what issue you are seeing?

[2019-07-08 16:15] leecow commented on #2993
We are only releasing the latest major.minor SDK versions to the repo so 2.2.107 is not available there. If you need it, you can install using tar.gz described [here](https://github.com/dotnet/core/blob/master/Documentation/linux-setup.md).

Do you need 2.2.107 for MonoDevelop?

[2019-07-08 16:23] leecow commented on #2984
Mageia is not an officially supported distro for .NET Core so we won't be able to offer much in the way of specific assistance. Is .NET Core installed and working? What SDK and Runtime version are reported by `dotnet --info`? We don't do any testing around MonoDevelop but it's our understanding that you need to run the .NET Core SDK 2.2.107.

* Installing from tar.gz is covered [here](https://gith

[2019-07-08 18:40] enricoreich commented on #2991
Have you already done this: https://dotnet.microsoft.com/download/linux-package-manager/debian9/sdk-2.2.300 ?

[2019-07-09 03:01] shpsyte opened #3002 "Treat warning as error (.Net Core Project)"
Treat warning as an Error (.Net Core Project)

**General**
Is not an issue, but maybe a new feature when we were building

I would like to see an option that I can set a **warning as an error** in my .net core project.

Will be perfect!

[2019-07-09 03:41] omajid commented on #3002
Are you familiar with the `TreatWarningsAsErrors` msbuild property? Would that work for your use case?

[2019-07-09 12:02] JSkimming commented on #2775
@karelz this issue is still not resolved.

The fix I implemented was merged on the [28th May](https://github.com/microsoft/vstest/pull/2024#event-2371132166), and the NuGet package was released on the [30th May](https://www.nuget.org/packages/Microsoft.NET.Test.Sdk/16.1.1 "NuGet release 16.1.1 of Microsoft.NET.Test.Sdk"), but until there is a .NET Core SDK release where the latest version of [VSTe

[2019-07-09 13:28] notmanoj opened #3003 "broken package"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu19-04/sdk-current#ubuntu-package-issue
Operating System: Linux Ubuntu 19.04 - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-07-09 14:47] GmeduoyeClaymore commented on #2720
Seems like MSBuild barfs if it finds a .resx file with a path longer than a certain character limit (in any subfolder of your project)
IF you are using npm to install any dependencies there is probably something in there. Try deleting your node_modules folders or placing your project at a shorter path. Seems like it's a known issue.

https://github.com/dotnet/cli/issues/6561

[2019-07-09 14:54] zbeer opened #3004 "Unable to locate package: Linux Ubuntu 18.04 - x64 / sdk-2.1.401"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/sdk-2.1.401
Operating System: Linux Ubuntu 18.04 - x64

I attempted all three methods on the linked page.  All result in the same three errors:

[2019-07-09 15:29] dagood commented on #3004
I believe this was a doc bug that was coincidentally fixed very shortly after you hit it. 😄

The new command is `sudo apt-get install dotnet-sdk-2.1=2.1.401-1`, I believe the command that was on the page earlier had you try to install `dotnet-sdk-2.1.401-1=2.1.401-1`, which doesn't work.

Give the new step a try and let me know if it still doesn't work. (It works for me in an Ubuntu 18.04 Docker c

[2019-07-09 16:10] zbeer commented on #3004
Looks like that did the trick.  Thank you for the prompt reply!

[2019-07-09 16:10] #3004 closed

[2019-07-09 16:18] carlossanlop commented on #2743
I'm closing this issue due to lack of activity. @erictrigo feel free to re-open it if you have an update so we can assist you.

[2019-07-09 16:18] #2743 closed

[2019-07-09 16:20] carlossanlop commented on #2830
I'm closing this issue due to lack of activity. @dazinator feel free to re-open it if you have a follow up. We'll be happy to help.

[2019-07-09 16:20] #2830 closed

[2019-07-09 16:32] dagood commented on #3004
Awesome, thanks for confirming. 😄

[2019-07-09 16:41] carlossanlop commented on #2842
Since it's a nuget related question, I'm assigning it to @rrelyea. Rob, is this something you can help with?

[2019-07-09 16:48] carlossanlop commented on #2849
@bartonjs, @joperezr since you own System.Runtime.Serialization, can you assist with this question and confirm if it's intentional behavior or not?

[2019-07-09 16:50] bartonjs commented on #2849
Duplicate of https://github.com/dotnet/corefx/issues/23213

[2019-07-09 16:50] #2849 closed

[2019-07-09 16:56] carlossanlop commented on #2850
@lodhe54, the error message states:

"The system cannot find the file specified." -> Can you please confirm that the file exists in the expected location?
"In the default daemon configuration on Windows, the docker client must be run elevated to connect." -> Can you please verify if it's running elevated?
"This error may also indicate that the docker daemon is not running." -> Can you please verif

[2019-07-09 16:57] LiuyangRY opened #3005 "Docker image build error."
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-microservice-tutorial/docker-file
Operating System: Linux RHEL - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
I use "yum install docker" to install the docker on my CentOS 7.5 machine, and create a dockerfi

[2019-07-09 17:01] carlossanlop commented on #2852
@Pilchie is this something the ASP.NET team can assist with?

[2019-07-09 17:02] carlossanlop commented on #2856
@SumitBajaj can you please provide more details?

[2019-07-09 17:07] Pilchie commented on #2852
@anurse move to AspNetCore?

[2019-07-09 17:07] carlossanlop commented on #2857
Translated:

Closing due to lack of activity, and @leecow 's answer seems to be the right answer. @micky9020 feel free to reopen the issue if you have any additional questions.

[2019-07-09 17:07] #2857 closed

[2019-07-09 17:14] carlossanlop commented on #2867
@dagood is this something your team can assist with (install/setup)? Do we have an existing issue open for this kind of request, or should this issue be moved to another repo?

[2019-07-09 17:15] carlossanlop commented on #2868
Closing since the original issue was resolved.

[2019-07-09 17:15] #2868 closed

[2019-07-09 17:16] carlossanlop commented on #2870
@cwsheng can you provide more information? What are you trying to do? Can you provide a code example? What version of .NET Core are you using?

[2019-07-09 17:17] anurse commented on #2852
This issue was moved to aspnet/AspNetCore#12008

[2019-07-09 17:17] #2852 closed

[2019-07-09 17:18] carlossanlop commented on #2871
Closing due to inactivity. @jayavardhanM20 feel free to reopen the issue if you have more info, we will be happy to help.

[2019-07-09 17:18] #2871 closed

[2019-07-09 17:22] carlossanlop commented on #2873
@Pilchie does this sound like something the ASP.NET team can help with?

[2019-07-09 17:25] carlossanlop commented on #2874
@Souky23 do you have more information about your issue, as requested?
@chaos1908 since you reported the related issue #2897, do you have more information that could assist with this problem?

[2019-07-09 17:27] carlossanlop commented on #2877
@safern should we move this issue to the corefx repo + area-infrastructure?

[2019-07-09 17:35] carlossanlop commented on #2880
@livarcocc @nguerrera is this something you can assist with?

[2019-07-09 17:38] carlossanlop commented on #2882
Not sure if this is something our team controls. @dagood do you know if the install/setup area could assist with this request?

[2019-07-09 17:40] vivmishra opened #3007 ".NET Core July Update - 2.1.12 and 2.2.6"
Included fixes address security issues detailed in the release notes.

## .NET Core

* **.NET Core 2.1.12 and .NET Core SDK 2.1.508**
  [Release Notes](https://github.com/dotnet/core/blob/master/release-notes/2.1/2.1.12/2.1.12.md)
  [Download 2.1](https://dotnet.microsoft.com/download/dotnet-core/2.1)

* **.NET Core 2.2.6 and .NET Core SDK 2.2.108**
  [Release Notes](https://github.com/dotnet/core

[2019-07-09 17:40] carlossanlop commented on #2884
@deywit can you provide more information? What problem are you facing?

[2019-07-09 17:40] livarcocc commented on #2880
this should go to @singhsarab.

[2019-07-09 17:44] kimbaudi commented on #2608
Instead of creating a new issue, I thought I should mention here that I started receiving the following error this morning when I attempted to reinstall dotnet-sdk-2.1 after `sudo apt upgrade` caused the same exact issue (which is why I uninstalled dotnet and reinstalled dotnet-sdk2.2 and dotnet-sdk2.1).

[code]

[2019-07-09 17:45] monikadrone opened #3009 "Won't allow me to open to the program"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

I'm trying to install .net so I can use Synctoy, and it downloads, says the download is complete, but there is no

[2019-07-09 17:54] dagood commented on #2608
@kimbaudi The error you're receiving is also different, `404  Not Found` rather than `Hash Sum mismatch`. Can you open a new issue with the rest of the commands and output too? (`sudo apt-get update` in particular.)

[2019-07-09 17:55] carlossanlop commented on #2887
Closing due to inactivity. @hieutran1 feel free to reopen if you can provide more info, we will be happy to help.

[2019-07-09 17:55] #2887 closed

[2019-07-09 17:56] dagood commented on #2882
We don't control it, but @leecow may know if the Microsoft package repository owners have some plan here.

[2019-07-09 17:57] carlossanlop commented on #2886
@jeffschwMSFT not sure if this issue belongs to your area. Can you please take a look? If it's not for your area, it sounds like it should belong to VS for Mac, but I'm not sure who owns that.

[2019-07-09 17:57] carlossanlop commented on #2888
Closing due to inactivity. @shreya-sk if you have more information, feel free to reopen, we will be happy to help.

[2019-07-09 17:57] #2888 closed

[2019-07-09 18:00] carlossanlop commented on #2899
@sgokul95 is blank.bmp a file you added to your project or were you expecting it to come by default in a freshly created project? In which path were you expecting to find that file? Normally if you don't indicate the path, by default we would look in the same directory where the executable lives. Can you please check if the file lives in the same location as the executable?

[2019-07-09 18:01] carlossanlop commented on #2905
Closing due to inactivity. @edwarrt feel free to reopen if you have more info, we will be happy to help.

[2019-07-09 18:01] #2905 closed

[2019-07-09 18:02] carlossanlop commented on #2910
Closing due to inactivity. @4550155 feel free to reopen this issue if you have more information, we will be happy to help.

[2019-07-09 18:02] #2910 closed

[2019-07-09 18:03] kimbaudi opened #3010 "cannot install dotnet-sdk-2.1 on ubuntu (404 not found)"
# cannot install dotnet-sdk-2.1 on ubuntu (404 not found)

## TLDR;

`sudo apt install dotnet-sdk-2.1` is causing the following error:

[code]

## Detail of problem

This morning I updated my Ubuntu 18.04 machine (`sudo apt -y upgrade`) and received the following error:

[code]

So I uninstalled dotnet and reinstalled dotnet:

[code]

I then attempted to reinstall dotnet

[code]

However, `sudo ap

[2019-07-09 18:04] carlossanlop commented on #2914
Closing due to inactivity. @poorna106 feel free to reopen if you have more info, we will be happy to help.

[2019-07-09 18:04] #2914 closed

[2019-07-09 18:05] carlossanlop commented on #2915
Closing since the question seems to be answered.

[2019-07-09 18:05] #2915 closed

[2019-07-09 18:05] carlossanlop commented on #2921
Closing due to inactivity. @ishha100 feel free to reopen if you have more info, we will be happy to help.

[2019-07-09 18:05] #2921 closed

[2019-07-09 18:05] kimbaudi commented on #2608
@dagood yes, I just submitted [issue 3010](https://github.com/dotnet/core/issues/3010)

[2019-07-09 18:05] carlossanlop commented on #2928
Closing due to inactivity. @linhdivine feel free to reopen if you have more info, we will be happy to help.

[2019-07-09 18:05] #2928 closed

[2019-07-09 18:06] carlossanlop commented on #2929
Closing due to inactivity. @gnraju20411 feel free to reopen if you have more info, we will be happy to help.

[2019-07-09 18:06] #2929 closed

[2019-07-09 18:07] carlossanlop commented on #2932
Closing due to inactivity. @Malkharji feel free to reopen if you have more info, we will be happy to help.

[2019-07-09 18:07] #2932 closed

[2019-07-09 18:09] carlossanlop commented on #2941
@sajemam can you please provide more information about your problem?

[2019-07-09 18:11] carlossanlop commented on #2942
@kennethgodwin06 can you please provide more information about your problem?
What version of .NET Core did you use?
Do you have at least Win 7 SP1? According to [the requirements](https://docs.microsoft.com/en-us/dotnet/core/windows-prerequisites?tabs=netcore2x), that's the minimum Windows OS we support.

[2019-07-09 18:12] kimbaudi commented on #2682
Hi, I'm also facing this issue when updating Ubuntu 18.04 with using `sudo apt upgrade -y`. I opened a new issue [3010](https://github.com/dotnet/core/issues/3010).

[2019-07-09 18:15] dagood commented on #3010
Thanks for filing with the extra info!

@leecow, is it possible the recent release left the feed in an inconsistent state? Or is it not done yet, and this is unlucky timing? (If so, the order things are uploaded in is questionable.)

For example, in https://packages.microsoft.com/ubuntu/18.04/prod/dists/bionic/main/binary-amd64/Packages, I see:

[code]

But there is no such deb, per above: https:/

[2019-07-09 18:17] carlossanlop commented on #2944
@janvorli should this issue be moved to another repo to increase visibility? Maybe dotnet/iot?

[2019-07-09 18:18] carlossanlop commented on #2945
@sksahotra can you provide more info about your problem?

[2019-07-09 18:20] leecow commented on #3010
The repos are still updating so are in an inconsistent state at the moment.

[2019-07-09 18:20] carlossanlop commented on #2947
Usually a CLI app (like dotnet.exe), when double clicked, will open the command window, show the information message (I assume the help message) and then exit. This happens really quickly. The proper way to invoke dotnet.exe is directly from the command line interface.
@zacharylanese is this an accurate description of what you're experiencing? Can you please try following the tutorial again but ma

[2019-07-09 18:23] kimbaudi commented on #1657
I know this issue is kind of old, but I wanted to point out that I am currently facing a similar error of `E: Failed to fetch https://packages.microsoft.com/ubuntu/18.04/prod/pool/main/d/...` on Ubuntu 18.04 when I perform `sudo apt -y upgrade` or `sudo apt install dotnet-sdk-2.1`. I opened a [issue](https://github.com/dotnet/core/issues/3010)

Also, I tried @spartanetsru solution but it didn't wo

[2019-07-09 18:23] jeffschwMSFT commented on #2886
It is not my area, but adding @livarcocc and @mhutch

[2019-07-09 18:26] livarcocc commented on #2886
@renecl do you have a MSBuildSDKsPath environment variable set pointing to that location? That seems like a weird place for us to be looking for an SDK.

[2019-07-09 18:27] carlossanlop commented on #2948
@kburgoyne thanks for reporting this. We are actively working on improving our documentation.
@JeremyKuhne I can add this exception to our documentation after I investigate the situations in which it should be thrown.
I'll move this issue to the dotnet-api-docs repo and assign it to myself.

[2019-07-09 18:27] leecow commented on #3010
Just tested installing 2.1.701 on 18.04 and things look good there.

[2019-07-09 18:32] dagood commented on #3010
Works for me now in a fresh 18.04 Docker container.

Are the package repo maintainers aware of the service disruption this causes, any plans to mitigate? From the outside, it seems obvious that the deb packages should be uploaded before the index is updated, but there of course might be more to it.

[2019-07-09 18:33] carlossanlop commented on #2949
@MPorto1994 can you please provide more details about the issue you are facing? What error did you encounter? In which step did you get the problem?

[2019-07-09 18:35] carlossanlop commented on #2952
@lesha-m After you installed dotnet, did you close and reopen the command line window? The installation path is not automatically updated in the environment variables after installation, so you need to close and reopen all CLI windows to be able to run dotnet.

[2019-07-09 18:36] carlossanlop commented on #2953
@Stiles-Micaiah in which step did you get that error? Was it a step that required "sudo"?

[2019-07-09 18:36] carlossanlop commented on #2957
@mazharwhite can you provide details about your problem?

[2019-07-09 18:40] kimbaudi commented on #3010
oh wow, that is so strange. it is working now!

I entered the following command just now:

[code]

it is the same exact command as before... i guess just unlucky timing. 😅

[2019-07-09 18:40] #3010 closed

[2019-07-09 18:41] carlossanlop commented on #2964
@Antkeo1 If you kept the terminal open while you were installing, you need to close it and reopen it so the updated environment variables are used by the terminal, and the path to the dotnet executable is recognized. Can you please verify that was the issue?

[2019-07-09 18:43] carlossanlop commented on #2962
@leecow I see you normally modify this file. Can you please take a look?

[2019-07-09 18:44] carlossanlop commented on #2961
@Mapeis you created your web app inside Program Files. I think that's what's causing issues. Can you move the project location to another folder outside Program Files and see if that helps?

[2019-07-09 18:45] carlossanlop commented on #2965
@acerbill can you provide details about your issue?

[2019-07-09 18:47] omajid commented on #2962
Both https://github.com/dotnet/core/pull/2974/ and https://github.com/dotnet/core/pull/2998/ include a fix for this.

[2019-07-09 18:47] carlossanlop commented on #2968
@FailToFail can you provide more information about your problem? In which step did you encounter this issue? I think this is an ubuntu problem, I found [this thread ](https://askubuntu.com/questions/223237/unable-to-correct-problems-you-have-held-broken-packages)with some pointers that can help.

[2019-07-09 18:48] carlossanlop commented on #2949
After translating the message, I think you are facing a problem with Ubuntu packages. [This thread ](https://askubuntu.com/questions/223237/unable-to-correct-problems-you-have-held-broken-packages)has some pointers that may help.

[2019-07-09 18:48] carlossanlop commented on #2969
@pp1609 what .NET Core version are you using? Can you provide a code example of what you're trying to do?

[2019-07-09 18:50] carlossanlop commented on #2971
@heatherhodges can you provide more details about the problem you're facing?

[2019-07-09 19:04] rrelyea commented on #2842
No, please work with the asp.net team.
They should analyze the situation and determine the right thing to do to ensure their customers don’t need to use a security vulnerability.

[2019-07-09 19:13] willseward commented on #3007
@vivmishra Could you provide tags of the non-vulnerable Docker images?

[2019-07-09 19:29] Pilchie commented on #2873
This issue was moved to aspnet/AspNetCore#12017

[2019-07-09 19:29] #2873 closed

[2019-07-09 19:36] vivmishra commented on #3007
Windows Docker images are expected to be ready later in the day.

@MichaelSimons can you share the tags for others?

[2019-07-09 19:38] vivmishra commented on #2727
Replaced by #3007

[2019-07-09 19:38] #2727 closed

[2019-07-09 19:44] MichaelSimons commented on #3007
All of Docker images are currently being updated and will be available in a bit.

[2019-07-09 20:01] carlossanlop commented on #2972
@MichaelSimons I was told you'd be a good contact for docker related questions. Would you be able to help here? If not, do you know who would be a good contact?

[2019-07-09 20:02] alighazi commented on #2993
I actually tested with the exact same commands as the MS website https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/sdk-current ie. used `sudo apt-get install dotnet-sdk-2.2` and it didn't work (same error message)

[2019-07-09 20:04] carlossanlop commented on #2975
@Pilchie I am not sure if this is something for the ASP.NET team specifically, since the question is happening in Azure tools. Is this something your team would be able to address? If not, do you know who would be the best contact for this?

[2019-07-09 20:05] Pilchie commented on #2975
@Petermarcu any ideas?

[2019-07-09 20:06] carlossanlop commented on #2976
Can you provide more details like a code example of what you're trying to do?

[2019-07-09 20:11] carlossanlop commented on #2976
This issue was moved to dotnet/wpf#1196

[2019-07-09 20:11] #2976 closed

[2019-07-09 20:13] carlossanlop commented on #2978
Can you provide more details?  What operating system is your raspberry pi running? Can we see a code example of what you're trying to do?

[2019-07-09 20:14] carlossanlop commented on #2943
@davkean do you know if this is an issue that the project system team could help with?

[2019-07-09 20:19] carlossanlop commented on #2980
@dagood is this something you can help with since it's related to install/setup?

[2019-07-09 20:20] carlossanlop commented on #2982
@Nazarius1, as the tutorial states, you need to open a **new** terminal window after installing, so the environment variables get updated.

[2019-07-09 20:21] carlossanlop commented on #2982
Closing as resolved. @Nazarius1 if you still have questions, feel free to reopen the issue and we will be happy to help.

[2019-07-09 20:21] #2982 closed

[2019-07-09 20:22] carlossanlop commented on #2983
@Pilchie is this tutorial (and the related docker files) owned by the ASP.NET team If not, @MichaelSimons would you be the best contact for help with these docker containers in the tutorials?

[2019-07-09 20:24] carlossanlop commented on #2986
Can you show us the code you're trying to execute so we can better understand the problem you're facing?

[2019-07-09 20:33] carlossanlop commented on #2987
This request belongs to the dotnet/corefx repo. I'll transfer it there.

[2019-07-09 20:34] carlossanlop commented on #2992
@Pilchie let me know if this is something the ASP.NET team can help with.

[2019-07-09 20:39] carlossanlop commented on #3002
@shpsyte the suggestion given by @omajid is probably what you're looking for.
I'm closing this issue as resolved, but feel free to reopen it if you have more questions, we'll be happy to help.

[2019-07-09 20:39] #3002 closed

[2019-07-09 20:39] carlossanlop commented on #3000
@MichaelSimons would you be able to assist with this docker issue?

[2019-07-09 20:40] carlossanlop commented on #3003
Can you provide more information about the issue you are facing?

[2019-07-09 20:40] carlossanlop commented on #3005
@MichaelSimons would you be able to assist with docker related issues coming from the tutorial?

[2019-07-09 20:43] carlossanlop commented on #3009
@monikadrone this sounds like an issue with Synctoy, not with .NET. Please try downloading the installer using a browser, wget or a package manager like apt-get.

[2019-07-09 20:44] carlossanlop commented on #2999
@SimonHeffer if you use the default name for the service, do the tutorial steps work normally?

@MichaelSimons would you be able to assist with this docker issue from the tutorial?

[2019-07-09 20:50] MichaelSimons commented on #3005
@carlossanlop - I don't have anything to do with these tutorials.  I don't know who authored them.  It seems like there are some improvements that should be made to them.  I looked in https://github.com/dotnet/docs as well as https://github.com/aspnet/AspNetCore.Docs and can't find a reference.  I don't understand why the `I ran into an issue` brings the user to this repo.

[2019-07-09 20:53] Petermarcu commented on #2975
This is probably best opened here: https://github.com/Azure/azure-cli

[2019-07-09 20:54] carlossanlop commented on #3005
@MichaelSimons ok thank you. I'll investigate who owns these tutorials.

[2019-07-09 20:54] dagood commented on #2980
You may be interested in https://github.com/dotnet/dotnet-docker depending on your scenario.

For a typical user, apt-get, because `apt-get upgrade` works. There's no special commands needed to update the SDK vs. other packages.

If you're doing special automated upgrade stuff anyway, I believe either should be fine. But note that the script installs dotnet in a different way that's specifically s

[2019-07-09 20:57] Pilchie commented on #2975
This issue was moved to Azure/azure-cli#9898

[2019-07-09 20:57] #2975 closed

[2019-07-09 20:59] MichaelSimons commented on #3005
@LiuyangRY - I am not seeing where the `microsoft/dotnet:2.2.0-aspnetcore-runtime` reference came from?  The tutorial reference `FROM mcr.microsoft.com/dotnet/core/aspnet:2.2`.  Did you change the tutorial or did it change since you opened the issue?

[2019-07-09 21:05] MichaelSimons commented on #3005
@carlossanlop - if you find the owner, I'd be interested in knowing.  I have a couple suggestions to improve the tutorial.

[2019-07-09 21:09] MichaelSimons commented on #3000
@parveen-kumar-1 - It look like the sample was updated to use the official microsoft repository - `mcr.microsoft.com/dotnet/core/aspnet`.  Can you update your sample and try again?

[2019-07-09 21:10] MerkavaPL opened #3013 "Newest packages (2.2.6) are missing from package repo"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/runtime-current
Operating System: Linux Ubuntu 18.04 - x64
Asp 2.2.6 packages are missing from repo

![image](https://user-images.githubusercontent.com/16056142/60923194-a9dee380-a29e-11e9-81d8-6898b4b3cba0.png)

![image](https://user-images.githubusercontent.com/16056142/60923004-4785e300-a29e-11e9-9490

[2019-07-09 21:13] MichaelSimons commented on #2999
@SimonHeffer - Did you by chance build the project locally prior to building the Docker image?   This may explain the behavior you are seeing.  The sample should be including a `.dockerignore` which excludes any local `obj` and `bin` directories.

.dockerignore content
[code]

[2019-07-09 21:25] willseward commented on #3007
FWIW, it looks like the tags are present now:
* `mcr.microsoft.com/dotnet/core/sdk:2.2.301`
* `mcr.microsoft.com/dotnet/core/aspnet:2.2.6`

[2019-07-09 21:27] MichaelSimons commented on #3007
Correct, all tags were just updated.

[2019-07-09 21:29] mhutch commented on #2886
The location is expected - since VSMac uses the global installation of MSBuild, it copies MSBuild into a cache folder so it can patch in SDKs bundled with extensions (and a few workarounds too) https://github.com/mono/monodevelop/blob/7613d8065f06c8fd11b97dd27c0200b3d7ff50d2/main/src/core/MonoDevelop.Core/MonoDevelop.Projects.MSBuild/RemoteBuildEngineManager.cs#L463

@renecl are you still seeing t

[2019-07-09 21:37] carlossanlop commented on #3005
@scottaddie, @mvelosop, @cesardl I was told you may know who owns these tutorials. Can you please help us?

[2019-07-09 21:52] loneshark99 opened #3014 "Cannot install dotnet sdk 2.2 on Ubuntu 18.04"
I have same issue as reported before for 2.1 few hours ago where .NET sdk install fails. Can you please help take a look.

E:Failed to fetch https://packages.microsoft.com/ubuntu/18.04/prod/pool/main/dotnet-runtime-deps-2.2.....

[2019-07-10 00:03] ColinPM commented on #3010
Ubuntu 16.04 packages still broken?

[2019-07-10 00:16] kimbaudi commented on #3010
I was having this problem earlier (first time, with dotnet-sdk-2.1, then later with dotnet-sdk-2.2). It must have been about 2 hours ago. But I just ran `sudo apt upgrade` right now, and it just upgraded dotnet-sdk-2.2 without a problem. @ColinPM I suggest you wait it out.

[2019-07-10 00:34] ColinPM commented on #3010
Thanks kimbaudi, I saw your comments and that the ticket for your issue was closed :-)  Interestingly, I saw the server timestamps change this evening when I refreshed my browser so the team must still be updating the packages. Your advice to wait it out is appreciated and, I think, ultimately correct.

[2019-07-10 01:32] LiuyangRY commented on #3005
I searched the tutorial about docker in browser and then I finded this tutorial. I have tried my best to find it from the official tutorial again, but failed. The only thing I can confirm is that the tutorial really exist.
I wouldn't be able to find it if I haven't bookmarked the tutorial.
In addition, it will be better if the tutorial navigation can be improved, so that the low-level programmer s

[2019-07-10 01:51] LiuyangRY commented on #3005
Sorry, I closed this issue accidentally.

[2019-07-10 06:37] MerkavaPL commented on #3013
Working now...

[2019-07-10 06:37] #3013 closed

[2019-07-10 07:41] alarco-l commented on #2980
Thanks for your answers, do you want me to close this issue and open on it [https://github.com/dotnet/cli]( https://github.com/dotnet/cli) ?

[2019-07-10 14:46] karelz commented on #2955
@richlander @terrajobst who is the best person to address this concern?

[2019-07-10 14:52] ststeiger commented on #2540
Fails as well for mono 5.20.1.19 and dotnet 2.2.203

[2019-07-10 15:01] karelz commented on #2883
Thank you for your feedback @svengeance!
As you can imagine there is no way to please everyone. I have talked with dozens of customers at Build .NET booth and at customer visits -- this is the first time I hear such a strong dislike to the new name & versioning plan. Typically it requires a bit of explanation what it means, but vast majority of customers and developers are fine with it -- and it h