[2019-04-27 18:55] karelz commented on #2616
No response for 6 days, closing. Feel free to reopen once there is actionable info. Thanks!

[2019-04-27 18:55] #2616 closed

[2019-04-27 18:56] karelz commented on #2621
@tianamimix any update?

[2019-04-27 18:56] karelz commented on #2623
@luisa2011 @MarioLung were you able to try it again?

[2019-04-27 18:59] karelz commented on #2628
@sname any udpate?

[2019-04-27 19:05] karelz commented on #2283
OK, if you find out more in future, feel free to reopen / file new issue with more details. Thanks!

[2019-04-27 19:07] karelz commented on #2625
Seems like new command prompt with env var set ws not opened. Closing.

[2019-04-27 19:07] #2625 closed

[2019-04-27 20:12] cup commented on #1278
https://github.com/dotnet/cli/issues/7737

https://github.com/dotnet/core/issues/1278
https://github.com/dotnet/core/issues/2647
https://github.com/dotnet/coreclr/issues/17015
https://github.com/dotnet/coreclr/issues/20287
https://github.com/dotnet/corefx/issues/13329
https://github.com/dotnet/corert/issues/6819
https://github.com/dotnet/core-setup/pull/5286
https://github.com/dotnet/designs/pull/

[2019-04-27 20:12] cup commented on #2647
https://github.com/dotnet/cli/issues/7737
https://github.com/dotnet/core/issues/1278

https://github.com/dotnet/core/issues/2647
https://github.com/dotnet/coreclr/issues/17015
https://github.com/dotnet/coreclr/issues/20287
https://github.com/dotnet/corefx/issues/13329
https://github.com/dotnet/corert/issues/6819
https://github.com/dotnet/core-setup/pull/5286
https://github.com/dotnet/designs/pull/

[2019-04-28 03:09] dagood commented on #2646
That's correct, at the moment you have to install using a "Binaries" link.

[2019-04-28 03:09] dagood commented on #2646
Duplicate of #2622

[2019-04-28 03:09] #2646 closed

[2019-04-28 03:31] Tokens001 opened #2648 "HTMLBIGCRYPT9"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: Linux RHEL - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-04-28 03:32] #2648 closed

[2019-04-28 03:59] prajaybasu opened #2649 ".NET Core Nightly build links by version"
I wanted to test the fix to a known issue in .NET Core 3.0 Preview 4 which was supposed to be fixed in a specific daily build for Preview 5 (not yet announced as of now),  but I cannot find a list of the daily build SDK version numbers and their download links - it seems like the repository only has the link to the *latest* build - which is currently at Preview 6.

The CI link is private and it se

[2019-04-28 04:21] KexyBiscuit commented on #2649
See https://github.com/dotnet/core-sdk/tree/master/README.md

[2019-04-28 04:27] KexyBiscuit commented on #2649
Release/3.0.1XX (3.0.x Runtime) would be what you want.

[2019-04-28 04:38] #2649 closed

[2019-04-28 05:21] andybarzyk opened #2650 "Unable to locate package dotnet-sdk-2.2"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-10/sdk-current
Operating System: Linux Ubuntu 18.10 - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-04-28 05:23] andybarzyk commented on #2650
followed instructions on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-10/sdk-current
-----------------------------------------------------
~$ sudo apt-get install dotnet-sdk-2.2
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package dotnet-sdk-2.2
E: Couldn't find any package by glob 'dotnet-sdk-2.2'
E: Couldn't

[2019-04-28 05:25] andybarzyk commented on #2650
I had it working but wanted to upgrade and accidentally installed 3.0  for ARM 64. the command dotnet would only yield binary error. Tried removing and re-installing .net 2.2 --- this was the error...

[2019-04-28 07:17] dhanapandian opened #2651 "dotnet core isssue"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/edit
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-04-28 13:05] 15092368540 opened #2652 "Can not add rules to windows firewall"
![无标题1](https://user-images.githubusercontent.com/49462433/56864788-29c41400-69f9-11e9-97c7-4291e3fdafe0.png)
![无标题2](https://user-images.githubusercontent.com/49462433/56864789-38aac680-69f9-11e9-912f-5b89b8a96bd6.png)
[WindowsFormsApp1.zip](https://github.com/dotnet/core/files/3124987/WindowsFormsApp1.zip)

[2019-04-28 17:15] SimonD123 commented on #2642
![dotnet screen 1](https://user-images.githubusercontent.com/50017573/56867757-245acf80-69e1-11e9-9f53-b8a654f5fc56.PNG)
![dotnet screen 2](https://user-images.githubusercontent.com/50017573/56867759-26bd2980-69e1-11e9-8ef9-4c95050d5601.PNG)

Hi,

I have attached two screen shots.  One showing the instructions on the website and the other showing what happened when I tried to run the file.

Regard

[2019-04-28 18:08] Houuse commented on #2572
it's happened with once where i was deploying to azure (maybe a different reason from your case),
my case where my app was deploying targeting 64bit run-time whereas azure app instance(shared tier) were set to run 32bit apps , so you may deploy targeting 32 bit , or maybe upgrade your app instance in azure portal (and tweak it's settings)

[2019-04-28 21:00] svick commented on #2642
@SimonD123 "Run your app" is just one section of the tutorial, and does not make sense on its own. At the very least, it looks like you have not followed the ["Create your app"](https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create) section.

If you did, your command prompt would be `C:\Users\User\myApp>` (notice that it has `\` where you have `>`) and if you typed `dotnet run`, it

[2019-04-29 04:45] AgieAja opened #2653 "dotnet core not runing"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: macos

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-04-29 05:02] Eilon commented on #2640
@Raamyy can you show the output of `dotnet --info`?

@vijayrkn / @seancpeters - any idea on this?

[2019-04-29 06:55] adeel-raza-azeemi opened #2654 "Unable to install dotnet-sdk-2.2"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: Linux Ubuntu 19.04 - x64

sudo apt install dotnet-sdk-2.2
Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages could not be installed. This may mean that you have
requested an impossible situation or if you are using the unstable
distribu

[2019-04-29 07:24] akaylh opened #2655 "About dll filename with version info"
Java jar package, the file name is with version information, this is very intuitive, it is conducive to troubleshooting, although the nuget package has version information, but the final product is a dll file. You can see the version information through the file properties under windows. But it is very troublesome under linux. Is there a plan to support similar features?

jar:

<img width="157" al

[2019-04-29 08:18] Houuse commented on #2654
duplicate please take a look here [2526](https://github.com/dotnet/core/issues/2526)

[2019-04-29 11:01] svick commented on #2640
As far as I can tell, `dotnet new webApp` (which was added in https://github.com/aspnet/Templating/pull/467) requires a newer version of the .Net Core SDK. Of the SDKs installed on my machine, it works with 2.1.300, but doesn't work on 2.1.202.

@Raamyy Can you [install the latest version of the SDK](https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/install) and try again?

[2019-04-29 11:06] hiyadav opened #2656 "RID missing architecture for sdk version version: "1.1.12" in releases.json of channel 1.0"
# Issue Title

RID is missing architecture for version 1.1.12 sdk in file https://dotnetcli.blob.core.windows.net/dotnet/release-metadata/1.0/releases.json. This cause DotNetCoreInstallerTaskV2 version to fail as the matching os-arch RID "ubuntu.16.04-x64" could not be found.

Kindly update the same. and if more such anomalies are present.

# General

For some issues, you will get a quicker and be

[2019-04-29 15:35] dagood opened #2657 "packages-microsoft-prod.deb for Ubuntu 19.04 contains wrong component"
@fubar-coder commented on [Mon Apr 29 2019](https://github.com/dotnet/core-setup/issues/6175)

## Steps to reproduce

[code]

## Expected  behavior

Line in `/etc/apt/sources.list.d/microsoft-prod.list` should read:

[code]

## Actual behavior

Line in `/etc/apt/sources.list.d/microsoft-prod.list` is actually:

[code]

The distribution identifier ist wrong. It's `xenial` instead of `disco`.

## En

[2019-04-29 15:36] dagood commented on #2657
FYI @leecow, if this feed is meant to be set up, it isn't done correctly quite yet.

@fubar-coder, for more info about 19.04, check out https://github.com/dotnet/core/issues/2526. Even if this feed worked, we don't have .NET Core packages uploaded there yet.

[2019-04-29 15:38] dagood commented on #2657
Assigning based on this todo:

Might be closable as a duplicate but I don't know the current state of communications with the Msft repo owners.

[2019-04-29 16:00] Malavos commented on #2611
@mostafa-tag  will the PR be merged in the future?

@ebekker  what did you do to fix the problem?

[2019-04-29 16:08] karelz commented on #2654
Duplicate of #2526

[2019-04-29 16:08] #2654 closed

[2019-04-29 16:12] karelz commented on #2655
Is it developer scnario? Your project file has nuget versions baked in.
Or is it "I have random app installed on my computer and want to find details about its DLLs"-scenario? That would be best addressed by tools like ildasm and other to open the DLL and browse its custom attributes, assembly version, etc.

[2019-04-29 16:13] karelz commented on #2653
Did you restart your command line? You need to run the executable - path has to be set, etc.

[2019-04-29 16:13] #2653 closed

[2019-04-29 16:38] karelz commented on #2642
Answered above, thanks @svick!

[2019-04-29 16:38] #2642 closed

[2019-04-29 17:40] Ayanrocks commented on #2526
Whats the status of support?

[2019-04-29 17:49] dagood commented on #2526
Installing .NET Core on Ubuntu 19.04 using the binaries (`tar.gz`) is supported.

Ubuntu 19.04 Debian packages are implemented and expected to be built during the next servicing release, but we're waiting for an update from @leecow on the status of the 19.04 Microsoft package repository.

[2019-04-29 18:16] Ayanrocks commented on #2526
When using .net core with tar.gz and using it like ./dotnet create it says
dotnet-create command not found

On Mon, Apr 29, 2019, 23:20 Davis Goodin <notifications@github.com> wrote:

[2019-04-29 18:24] dagood commented on #2526
@Ayanrocks please open a new issue with what you expect to happen with that command and info about your environment. (Right now it seems like you might mean `dotnet new`, but I'm not familiar with the full set of SDK tools.)

Also note that the download page gives you some tips on how to set up `dotnet` on `PATH` so you don't need to specify the full path to execute it.

[2019-04-29 20:52] ARMAAN7139 opened #2658 "Can not configure the agent behind a proxy."
# Issue Title
The agent is failing to connect no matter how  I configure the proxy.

here is the agent logs:

[2019-04-29 20:36:15Z ERR  LocationServer] System.Net.Http.HttpRequestException: An error occurred while sending the request. ---> System.Net.Http.CurlException: Failed initialization
   at System.Net.Http.CurlHandler.ThrowIfCURLEError(CURLcode error)
   at System.Net.Http.CurlHandler.Easy

[2019-04-29 21:14] Slawson91gd opened #2659 "Can't follow .Net tutorial"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/edit
Operating System: windows

Was following along with the tutorial and was able to create my first app using the command prompt. Now the tutorial wants me to open the Program.cs file for editing. HOWEVER, When I try to open the program in Visual Studio 2019, this is what is says: "The following files were spec

[2019-04-29 21:29] stevepentland commented on #2659
Hi @Slawson91gd can you please provide the method you used to open the file in Visual Studio? Was it from the command prompt, or did you open VS first and navigate to find the file via the open dialog?

[2019-04-29 21:53] leecow commented on #2657
I've sent an email to them about the config deb error. Looks like prod.list is correct but, as you say, we don't have any files up yet. 19.04 install will be available for the May Update.

[2019-04-29 22:04] leecow commented on #2555
@matthid - this was a communication error on our part. The ever growing list of versions is making the story very hard to tell. The latest SDKs released for Linux are 2.1.603 and 2.2.203.

@vivmishra @jamshedd

[2019-04-29 22:24] leecow commented on #2619
No plans at this time to expand the list to include Gentoo.

[2019-04-29 22:24] #2619 closed

[2019-04-30 01:23] moadij opened #2660 "downloading .net core"
When I opened a new terminal and entered "~$ botnet" I got this response:

[code]

[2019-04-30 02:48] linqitai opened #2661 "lqtDemo"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/install
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-04-30 02:49] linqitai commented on #2661
lqtdemo

[2019-04-30 03:02] lcp3npedusg opened #2662 "Index.cshtml"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/modify
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
\myWebApp.csproj]
Pages\Index.cshtml.cs(8,13): error CS1002: ; expected [C:\Users\lcp3n\myWebApp\myWebApp.cspro

[2019-04-30 07:45] fubar-coder commented on #2657
I know that there are no packages (and didn't really expected any), but just wanted to report this error to avoid problems in the future (when packages are available) 😁

[2019-04-30 09:30] abhinayrg opened #2663 ".Net Standard class library not loading NuGet packages referenced"
# Issue Title
.Net Standard class library not loading NuGet packages referenced and getting file not found exception when .Net Standard dll is referenced in .Net Core projects.

# General
I have a class library created on .Net Standard. When I try to reference .Net standard dlls in .Net Core and try to execute the project, the NuGet packages referenced in .Net standard are not getting loaded and g

[2019-04-30 10:59] mostafa-tag commented on #2611
I believe it should be merged because the fix was made by @KonH<https://github.com/KonH> via a pull request on the master branch .

Mostafa Tag-

From: Malavos <notifications@github.com>
Sent: Monday, April 29, 2019 6:01 PM
To: dotnet/core <core@noreply.github.com>
Cc: Mostafa Tag <MTag@integrant.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/core] MongoDB Driver Exception in Prev

[2019-04-30 13:12] Malavos commented on #2611
@mostafa-tag  thank you. I have also made contact with one of the maintainers of the mongo driver. Let's wait for their input now.

[2019-04-30 14:14] ebekker commented on #2611
The fix in the PR looks like it will address the issue by referencing the missing `Serialization.Formatters` package.  For the time being I've reverted back to the preview 3 until the change is officially released in the MongoDB driver -- don't want to mess around with building my version, it would be overkill for my current needs.

[2019-04-30 14:31] amagrath opened #2664 "Environment.OSVersion"
The .NET Core property `Environment.OSVersion` is reporting my Windows 10 Professional PC as being:

`Microsoft Windows NT 6.2.9200.0`

I know that software version numbering is bizarre at the best of times, but I'm sure this is wrong.

That version corresponds to Windows 8 according to: https://en.wikipedia.org/wiki/List_of_Microsoft_Windows_versions

If I run:

`dotnet --info`

at the command li

[2019-04-30 14:55] 15092368540 commented on #2652
I've found a way to solve the problem.Follow these steps:
1. First, reference "FirewallAPI.dll" in the project.
![1](https://user-images.githubusercontent.com/49462433/56970177-249dcb00-6b99-11e9-846e-8344b6c4e7c2.png)
![2](https://user-images.githubusercontent.com/49462433/56970183-2bc4d900-6b99-11e9-94e0-c7a02a35fa84.png)
2. And then compile the project to build file "Interop.NetFwTypeLib.dll"
!

[2019-04-30 15:16] #2652 closed

[2019-04-30 16:32] Eilon commented on #2572
@shirhatti / @jkotalik - any thoughts on this? Should I move to the AspNetCore repo?

[2019-04-30 16:34] jkotalik commented on #2572
Just move to the aspnetcore repo.

[2019-04-30 16:39] Eilon commented on #2572
This issue was moved to aspnet/AspNetCore#9858

[2019-04-30 16:39] #2572 closed

[2019-04-30 17:19] dagood commented on #2650
Can you run this command to show your configured repositories?

[code]

Also, have you tried the workaround commands that show up in the 18.04 instructions? https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/sdk-current

(The workaround commands not being in the 18.10 instructions is, IMO, a bug: https://github.com/dotnet/core/issues/2486.)

[2019-04-30 17:21] dagood commented on #2486
@rowanmiller Any update on getting this added to the 18.10 page?

[2019-04-30 22:54] rowanmiller commented on #2486
Changes are live for 18.10.

[2019-05-01 00:36] dagood commented on #2660
`~$` is not part of the command, you only need to type `dotnet`. `~$` is just a common shell prompt shown as a way to indicate the command should be run in a terminal.

[2019-05-01 00:36] #2660 closed

[2019-05-01 16:15] dagood commented on #2486
Thanks! Looks good to me, closing as done.

(FWIW, the 19.04 page should also have it, once that goes up.)

[2019-05-01 16:15] #2486 closed

[2019-05-01 18:11] ARMAAN7139 commented on #2658
Adding the new curl lib worked for me.

[2019-05-01 18:11] #2658 closed

[2019-05-01 20:59] rowanmiller commented on #2511
I can make this change on the site.

This isn't my area of expertise, so couple of questions...

* For the package names, what are the names for 2.1 and 2.0? Is it `rh-dotnet20-dotnet-runtime-2.0` and `rh-dotnet21-dotnet-runtime-2.1`?
* Is the `scl enable ...` command required for the runtime?

[2019-05-01 21:08] omajid commented on #2511
IMO:

- 2.0 is EOL, so we can probably skip that
- The runtime package names are: `rh-dotnet21-dotnet-runtime-2.1` (for 2.1) and `rh-dotnet22-dotnet-runtime-2.2` (for 2.2).
- Yes, the `scl enable ..` is (unfortunately) required for all invocations of `dotnet` command. We put `dotnet` somewhere under `/opt/...` and without the `scl enable...`, `$PATH` never gets fixed up to search there. Without a

[2019-05-01 21:29] jkoritzinsky commented on #2540
This is also reproducing with the following version combination:

[code]

[2019-05-01 21:29] jkoritzinsky commented on #2540
Link to an Azure DevOps build with a consistent repro: https://dev.azure.com/dotnet/IronLanguages/_build/results?buildId=16441

[2019-05-01 22:47] rowanmiller commented on #2511
We have this page already for 2.0, so it will need to keep existing. We mark 2.0 as clearly EOL but still let folks install/download it if they need it. Do we have a package for it? If not, I can just leave it as-is, displaying the sdk instructions.

[2019-05-01 22:54] rowanmiller commented on #2511
Here are the staged changes. Currently I have the 2.0 instruction using the `rh-dotnet20-dotnet-runtime-2.0` package, but will hold off on publishing til I know if that is correct.

![image](https://user-images.githubusercontent.com/4741851/57048539-35961d00-6c29-11e9-8bdd-5ceee74017fc.png)

[2019-05-02 08:57] joshua-darby opened #2665 "Installation Error on Latest Kali Linux build for both .NET Core and SDK"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/debian9/runtime-current
Operating System: Linux Debian 9 - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

The message below was the error/issue I was running into. I have the latest version of

[2019-05-02 09:05] mercyforall opened #2666 "Unable to correct problems, you have held broken packages"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu16-04/sdk-current
Operating System: Linux Ubuntu 16.04 - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-05-02 09:40] bauca opened #2667 "AddRange doesn't throw System.InvalidOperationException if a collection was modified."
# AddRange doesn't throw System.InvalidOperationException if a collection was modified.

# Environment

Microsoft Windows 10 Pro
10.0.17763 N/A Build 17763
Visual Studio Professional 2017 - 15.9.10
**.NET Core 2.2**
Console Application

# Problem description and repro steps
Considering the following scenario and classes described:
[code]

[code]

**Found result:**
The application get stucked in th

[2019-05-02 10:38] mferraricloudsurfers opened #2668 "Update .NET Core hosting bundle requires IIS restart?"
# Issue Title

Update .NET Core hosting bundle requires IIS restart?

# General

I have a Windows Server 2016 with .NET Core 2.1 hosting bundle installed to host a web application on IIS.
I want to update the hosting bundle from version 2.1 to 2.2. What I need to understand is if the update requires an IIS restart like the first installation, or is not necessary for updating?

[2019-05-02 12:11] omnoms opened #2669 "How to remove RazorPages from (ASP) .net core"
# Issue Title

Using the current default Empty WebApp template (.net core) in VS2017 15.9.11 I wanted to create a pure webapi. It came with some razor pages which I am not interested in having around or loading/handling.

# General

Having removed the razor pages, and added an apicontroller, it works just fine with the api bit, however if you hit something that isn't supported/implemented, it trie

[2019-05-02 13:31] cloudrex opened #2670 "Unexpected failing install (Travis CI)"
I'm trying to setup continuous integration for a .NET core project using Travis CI on GitHub.

This is my `.travis.yml`:
[code]

However, I receive the following output:
[code]
Any ideas? Interestingly, `$ dotnet run/restore/build/test` still works, it just messes up my build because it returns non-zero code.

[2019-05-02 15:09] #2626 closed

[2019-05-02 15:09] fMichaleczek commented on #2626
Move here [dotnet/coreclr#24354](https://github.com/dotnet/coreclr/issues/24354)

[2019-05-02 15:53] dagood commented on #2665
Kali Linux isn't a supported distro, but there are ways to get this to work--see https://github.com/dotnet/core/issues/2392:

[2019-05-02 15:53] dagood commented on #2665
Duplicate of #2392

[2019-05-02 15:53] #2665 closed

[2019-05-02 17:26] omajid commented on #2511
Yes, it's named along the same lines: `rh-dotnet20-dotnet-runtime-2.0`

Oops. I think I see a mixup. The `scl` commands don't need to change from what they were before. Here's what the final commands should look like in each case:

2.2 SDK:

    yum install rh-dotnet22 -y     # No change from the currently live page
    scl enable rh-dotnet22 bash    # No change from the currently live page

2.2 R

[2019-05-02 19:58] farhan0 opened #2672 "edit code"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/edit
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-05-02 20:00] farhan0 commented on #2672
i edit program.cs from text editor but when i run it just shows the result of file i ran the first time.

![image](https://user-images.githubusercontent.com/19627008/57103311-d32f4080-6d3e-11e9-950f-3d66f488fdb9.png)

[2019-05-02 20:04] #2672 closed

[2019-05-02 20:27] markusmobius opened #2673 "memory on Ubuntu"
We have been running a server command line program that uses about 80GB of memory (scraping and data processing).

The programs run on both Ubuntu and Windows server under Netcore 3.0 preview (same size of VM on Azure). Until preview 3 everything worked flawlessly with similar resource consumption on both Windows and Ubuntu.

But with Preview 4 the Ubuntu version regularly runs out of memory while

[2019-05-03 00:00] voronoipotato commented on #505
As a Visual Studio pro license payer I'm not more happy about being able to use your tools in less environments with fewer editors. How does this translate into more money for Microsoft in any way? Open it up and sell support for Visual Studio and  VS Code if you want to bias towards your products.

[2019-05-03 00:16] bdonnahue commented on #505
Update: I have started moving back to Mono project and Java. I also started seeding cracked serials :p

[2019-05-03 00:20] voronoipotato commented on #505
@bdonnahue jokes like that can genuinely get you into trouble, even with the :p . In some countries that can be highly illegal so you might want to edit it to be more explicitly clear that it was a joke. While I know many of us are fired up, I would hate for you to have to deal with an expensive legal process over a goof.

[2019-05-03 01:02] bdonnahue commented on #505
@voronoipotato sad but true. op updated :)

[2019-05-03 06:35] NathanHannon commented on #2657
Hopefully the packages are released soon. I need this for school!

[2019-05-03 12:58] micgruber opened #2674 "Net core exception handler lambda creates duplicates"
I'm using a lambda function for the UseExceptionHandler method and .net core 2.2 with windows 10:

[code]
Now, I register the exception handler in the startup.cs

[code]

Now, if throw a exception in the proxymiddleware in the invoke method the exception gets logged twice, what I'm doing wrong? I only want to log the exception once.

ProxyMiddleware:

[code]

These are the exceptions logs from the

[2019-05-03 15:45] dagood commented on #2657
@NathanHannon what for? If you just need to get .NET Core set up, there's no need to wait, check out https://github.com/dotnet/core/issues/2526.

[2019-05-03 16:18] af4jm opened #2675 "unable to restore from command line/scripts"
# Issue Title

unable to restore from command line/scripts

# actual

(from either PowerShell or cmd)

[code]

*dotnet build* results in the same error, thus rendering build scripts useless

# expected
either it just works (with cached credentials), or it gives me a URL to authenticate

[2019-05-03 17:51] AlseinX commented on #2669
Have you tried `dotnet new webapi` ？

[2019-05-03 17:57] AlseinX commented on #2663
You need to pack your .net standard library as a nuget package and upload it into a nuget repository, which could be based on a file system if you want to use it on the local machine or host a nuget server for cooperation.

[2019-05-04 20:27] jtippet opened #2677 "Windows SDK installer is not accessible in High Contrast mode"
dotnet = Version 2.2.203 for Windows.
OS = build 18892, high contrast mode = enabled, theme = "High Contrast Black"

See screenshot.  There are, I think, some checkboxes, but their captions are white text on a white background.  This makes it unreadable.

When the OS is in high contrast mode, you should either:
* Use the OS theme colors for *every* UI element's foreground and background; or
* Hard

[2019-05-04 21:45] nickgravelyn opened #2678 "RuntimeIdentifier property not set for referenced projects"
I'm trying to make a project that is ultimately built using `dotnet publish` as a self-contained executable for multiple platforms (by specifying the runtime on the command line). This project has some different behavior (and native libraries) for each of my target platforms. I attempted to use the `RuntimeIdentifier` property as a condition in my csproj for DefineConstants as well as controlling

[2019-05-05 00:45] jnm2 commented on #2460
@karelz This is a really confusing error.

[2019-05-05 00:53] jnm2 commented on #2460
@karelz This is a really confusing error. I finally figured out the workaround for now:

[code]

It's also not obvious how to get from anywhere on https://dotnet.microsoft.com/download/dotnet-core/2.2 to the information needed to construct the terminal command above.

[2019-05-05 01:23] anthonyhollings commented on #2627
Any news on when we will get 2.1 and 2.2 working for Ubuntu 19.04?

[2019-05-05 14:53] lukeawarren opened #2679 "Error starting userland proxy"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-microservice-tutorial/run-docker
Operating System: windows

PS C:\scratch\myMicroservice> docker run -it --rm -p 3000:80 mymicroservice
C:\Program Files\Docker\Docker\Resources\bin\docker.exe: Error response from daemon: driver failed programming external connectivity on endpoint festive_fermat (cf2e3198bdafe2b4ccc08d98d0e6327ff8

[2019-05-05 15:01] lukeawarren commented on #2679
restarting Docker seems to have fixed it

[2019-05-05 15:01] #2679 closed

[2019-05-05 17:43] jomarca24 opened #2680 "domain work"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/edit
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-05-05 19:25] ouche22 opened #2681 "what does it mean by program.cs"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/edit
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-05-05 19:52] cup commented on #2208
https://github.com/dotnet/core/issues/2208
https://github.com/dotnet/coreclr/issues/24397
https://github.com/dotnet/winforms/issues/210
https://github.com/mono/linker/issues/428

[2019-05-05 20:59] #2681 closed

[2019-05-06 01:34] stevepentland commented on #2680
HI @jomarca24, can you please elaborate on the issue you encountered on the linked page?

[2019-05-06 06:20] titan550 opened #2682 "Resource Unavailable - https://packages.microsoft.com"
I cannot access the Microsoft repository for Ubuntu at https://packages.microsoft.com. I get connection failure errors. I could successfully access it when I last tried on 4/28.

Error:

[code]

Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/sdk-current
Operating System: Linux Ubuntu 18.04 - x64

Provide details about the problem you are experiencing

[2019-05-06 08:51] dewelloper commented on #2611
I am facing same problem in version 2.8 even i have downgrade project to 2.7.3 problem same but no problem with 2.7.2
What has been there :)

[2019-05-06 15:04] #2677 closed

[2019-05-06 15:04] dagood commented on #2677
Issue moved to [dotnet/core-sdk #1885](https://github.com/dotnet/core-sdk/issues/1885) via [**ZenHub**](https://www.zenhub.com/)

[2019-05-06 15:07] dagood commented on #2666
Can you run these diagnosis steps and share the results?

[code]

[2019-05-06 15:34] vivmishra opened #2685 ".NET Core 3.0.0 Preview 5"
[Release Notes](https://github.com/dotnet/core/blob/master/release-notes/3.0/preview/3.0.0-preview5.md)
[Download](https://github.com/dotnet/core/blob/master/release-notes/3.0/preview/3.0.0-preview5-download.md)
[Blog post](https://devblogs.microsoft.com/dotnet/announcing-net-core-3-0-preview-5/)

Please report any issues you find with 3.0.0 Preview 5, either responding to this issue, creating a n

[2019-05-06 16:49] karelz commented on #2603
See Preview 5 - #2685

[2019-05-06 16:49] #2603 closed

[2019-05-06 18:55] smiron commented on #2526
Ubuntu 19.04 is out and all of this is still happening. Don't know .. was this release of Ubuntu unexpected or something?

[2019-05-06 19:10] rowanmiller commented on #2511
@omajid perfect, that's exactly the list I was after. Many thanks.

Changes will be live later today.

![image](https://user-images.githubusercontent.com/4741851/57248720-ed477800-6ff7-11e9-90a4-023dcb83cb98.png)

[2019-05-06 19:27] stevepentland commented on #2526
@smiron I know it is not as convenient, but https://github.com/dotnet/core/issues/2526#issuecomment-486024705 works just fine in the meantime if you really need it on your machine. I'm sure they'll have a solution out in the near future and I believe there were some unforeseen package issues this time around

[2019-05-06 20:29] smiron commented on #2526
Thanks for the reply @stevepentland. I tried that yesterday. I get the below on build. And yes .. it is installed.

[code]

[2019-05-06 20:29] rowanmiller commented on #2511
Changes are live, so closing this issue out.

[2019-05-06 20:29] #2511 closed

[2019-05-06 20:39] stevepentland commented on #2526
@smiron well the only things I can think of in that particular case on 19.04 x64 would be either

- `openssl`
- `libssl-dev`

I currently only have `openssl` installed, without libssl-dev and I have not encountered the same issue as you. Aside from that, I'm not too sure except to ask if it was for sure [these binaries](https://dotnet.microsoft.com/download/thank-you/dotnet-sdk-2.2.203-linux-x64-b

[2019-05-06 20:47] dagood opened #2687 "linux-prereqs.md is missing Ubuntu 19.04 requirements"
https://github.com/dotnet/core/blob/master/Documentation/linux-prereqs.md doesn't have Ubuntu 19.04 requirements listed. It also doesn't have a column for 2.2, and has a column for the now-EOL 2.0.

@leecow Is this table out of date, or is there a better place to get this information?

[2019-05-06 20:48] dagood commented on #2526
Yeah, that would be a prerequisite library issue. One benefit to having Debian packages to install is that we build a runtime-deps package that takes care of it. Really unfortunate how long it's taking.

I found https://github.com/dotnet/core/blob/master/Documentation/linux-prereqs.md to point to, but... it doesn't have Ubuntu 19.04. 😕 Filed https://github.com/dotnet/core/issues/2687 about that.

[2019-05-06 20:52] stevepentland commented on #2526
Thanks @dagood! from my current setup, it looks like people can get away with:

- `libunwind8`
- `libicu63`
- `openssl`

Which are adapted from the provided link for 2.0. I notice that libunwind isn't in the 2.1 column, but I noticed that I have it locally anyway and figured it couldn't hurt :wink:

[2019-05-06 23:52] smiron commented on #2526
Turned out that I had all the packages installed but a slightly older version of the binaries. Re-downloaded dotnet and now it works - thanks for suggesting this @stevepentland

Thanks for all the help guys! Much appreciated.

[2019-05-07 05:59] michael-hawker commented on #2685
I can't seem to install preview 5?  I keep getting a message about another install occurring, but I'm not doing anything on my box, even after a clean boot:

![image](https://user-images.githubusercontent.com/24302614/57275112-47752700-7052-11e9-80b2-570c6e9cb41a.png)

WinOS: 17763.437

Log:
[Microsoft_.NET_Core_SDK_3.0.100_-_preview5_(x64)_20190506225432.log](https://github.com/dotnet/core/files/

[2019-05-07 06:02] michael-hawker commented on #2685
Actually, just tried preview 4 and had the same issue... 😐

Log looks similar.  Any ideas on error codes and what I can try to unblock install?

[2019-05-07 06:46] arphox commented on #2662
Please fix your title to be more detailed, "Index.cshtml" is not the title anyone wants to see.
To address your problem, you probably inserted code to the wrong place.
Please show us a screenshot of your IDE, or copy-paste your full code so we can help.

[2019-05-07 06:48] arphox commented on #2651
Please provide more information about your issue, this is basically zero information for us.

[2019-05-07 11:32] miaodadao commented on #2650
@dagood
[code]

[2019-05-07 11:58] AnharMiah opened #2689 "Ubuntu 19.04?"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/rhel/sdk-current
Operating System: Ubuntu 19.04 - x64

It doesn't appear that `Ubuntu 19.04` is listed yet, I don't want to use any wonky workarounds, what is the estimated date when 19.04 will be available?

[2019-05-07 13:38] csturm83 commented on #2618
@richlander, would such an experience address the enterprise scenarios described by @JaredShaver in [#1541](https://github.com/dotnet/core/issues/1541#issuecomment-440405941)?

If not, can mechanisms similar/same to what's available for .NET Framework enterprise deployments be made available for Framework-Dependent Deployments?

[2019-05-07 13:57] jorgenfhlarsen opened #2690 "Trouble installing .NET SDK 2.2 App Building for Raspberry PI 3+"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/debian9/sdk-current
Operating System: Linux Debian 9 - x64

The production list here:
https://packages.microsoft.com/config/debian/9/prod.list
point to an invalid directory.

Adjusting to the - assumed new - directory here: /debian/9/prod/dists/stretch/main/
Still gives trouble.

As a missing Issuing licence is miss

[2019-05-07 13:59] jorgenfhlarsen commented on #2690
Above shall be ARM 64 processor

[2019-05-07 14:47] dagood commented on #2650
Closing: no new info provided on the original issue for a week. The workaround instructions are now available on the 18.10 download page, so it's likely future instances of this problem will be mitigated by the workaround being easier to find.

---

@miaodadao if you're experiencing a similar issue, please file an issue including the commands you're running and error you're receiving and answer th

[2019-05-07 14:47] #2650 closed

[2019-05-07 14:51] dagood commented on #2689
I don't have an estimate for you, but #2526 has alternatives and will be up to date as we get more info. (If installing from a tarball isn't too wonky, that's an option. It's a valid/supported way to install at least.)

[2019-05-07 14:51] dagood commented on #2689
Duplicate of #2526

[2019-05-07 14:51] #2689 closed

[2019-05-07 14:57] dagood commented on #2690
The exact errors you're getting are a bit unusual, but in general, you can't use the x64 instructions to install on an ARM/ARM64 architecture like Raspberry Pi. For now, you need to install from the tarball.

Just to make sure, I tried the install instructions on a fresh (x64) `debian:9` Docker container and they seem to be working fine right now.

[2019-05-07 14:58] dagood commented on #2690
Duplicate of #2422

[2019-05-07 14:58] #2690 closed

[2019-05-07 15:48] filtration commented on #2526
[code]

[2019-05-07 17:06] vivmishra commented on #2685
@peterhuene @livarcocc

[2019-05-07 17:14] peterhuene commented on #2685
@johnbeisner Have you seen this MSI error before from our installer?

[code]

[2019-05-07 19:00] leecow commented on #2687
This is the right place - will update the doc today.

[2019-05-07 19:34] leecow commented on #2687
https://github.com/dotnet/core/commit/3cc9101c053a9ab319c6de5182a8448432f391ce

[2019-05-07 19:34] #2687 closed

[2019-05-07 19:38] stevepentland commented on #2687
@leecow I notice that the requirements of `libssl` and `openssl` frequently alternate. Is there a reason for this? I've noted that openssl1.1 on 19.04 works with prebuilt binaries, and I do not have libssl-dev itself installed

[2019-05-07 19:49] leecow commented on #2687
Unfortunately, I don't know the details. @bartonjs?

[2019-05-07 20:04] johnbeisner commented on #2685
I've installed the .Net core SDK 3.0.100-preview5-011568 from the bundle installer and could not reproduce the issue.

**_Can we look at the installation log for the dotnet_runtime_3.0.0_preview5_27626_15_win_x64.msi_**

It's name will be of the pattern:
Microsoft_.NET_Core_SDK_3.0.100_-_preview5_(x64)_20190507125005_000_dotnet_runtime_3.0.0_preview5_27626_15_win_x64.msi.log

Windows can be updati

[2019-05-07 20:33] felipealves opened #2691 "Can't using ServerManager.OpenRemote"
Hello Everybody, I need to manage IIS using Net Core, however when I use the ServerManager.OpenRemote it returns me the nullable objects, in the Net Core it is not possible to manage the remote IIS?

[2019-05-07 20:50] lusayosayo opened #2692 "COMMAND NOT FOUND"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: Linux Ubuntu 18.10 - x64

When I try to execute 'dotnet' on the terminal, it returns:
[code]
But, I've already installed it, and the problem is that in the /snap/bin/ folder, the binary installed is dotnet-sdk.dotnet instead of just dotnet.

Can I just rename this?

[2019-05-07 21:27] michael-hawker commented on #2685
![image](https://user-images.githubusercontent.com/24302614/57334203-ec841400-70d3-11e9-9d6c-c8b6b4c19925.png)

I've been trying again, but the installer just seems to be getting stuck now half-way through.  The most recent msi log is here:

[Microsoft_.NET_Core_SDK_3.0.100_-_preview5_(x64)_20190507141946_000_dotnet_runtime_3.0.0_preview5_27626_15_win_x64.txt](https://github.com/dotnet/core/files/

[2019-05-07 23:24] joeloff commented on #2685
I did notice: MsiSystemRebootPending is being set to 1 in the log, that could indicate a pending reboot due to a file rename that occurred. The log seems to just end, which make me wonder whether whatever is causing it to hang, is causing the bundle to timeout and retry, which would then explain the "another install in progress error" because the previous MSIEXEC is still active and haven't techni

[2019-05-08 13:28] rthacker02 opened #2693 "Problems installing dotnet on Mac OS 10.14.4"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: macos

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

I am running OSX Mojave 10.14.4. The dotnet core files install but when I attempt to run dotnet in terminal - messa

[2019-05-08 14:56] #2651 closed

[2019-05-08 15:33] michael-hawker commented on #2685
I just booted my machine this morning and the installer popped up right away, I clicked install and it went successfully... so confused, but unblocked?

[2019-05-08 15:48] joeloff commented on #2685
@michael-hawker that's probably because there was a pending reboot. As I mentioned previously, the MSI log seemed to show that there was a pending reboot. Once you restart it should resume (and sounds like it did).

[2019-05-08 15:56] Eilon commented on #2691
@shirhatti , any idea about Microsoft.Web.Administration, or who would know more about it?

[2019-05-08 16:16] shirhatti commented on #2691
@bariscaglar

[2019-05-08 17:02] bariscaglar commented on #2691
@felipealves when you say "nullable" objects, do you mean what is returned is null? ServerManager.OpenRemote is quite tricky to get working even in full framework because it uses DCOM and you need to change server settings to get it to work. It won't work out of the box. This [StackOverflow question](https://stackoverflow.com/questions/22458410/credentials-for-servermanager-openremote) has a good

[2019-05-08 17:22] #2640 closed

[2019-05-08 20:33] TW8B opened #2695 "SignalR JS client example doesn't work. (solution within)"
aspnetcore/signalr/javascript-client/sample/wwwroot/js/chat.js requires an iife around start to start.

The sample appears to be based off the [JS SignalR tutorial](https://docs.microsoft.com/en-gb/aspnet/core/tutorials/signalr?view=aspnetcore-2.2&tabs=visual-studio) or vice versa, but with substantive differences around things like use or not of async.

I'm happy to submit a pull request once I'm

[2019-05-08 22:08] dagood commented on #2692
This is normal for snaps, see https://github.com/dotnet/core/blob/8ff6a63bfe67b522714386ef2a48a2a6da88414b/release-notes/2.2/2.2.4/2.2.4-download.md#install-using-snap for more info.

To make it so you can just type `dotnet`, you can run:

[code]

[2019-05-08 22:08] #2692 closed

[2019-05-08 22:43] dagood commented on #2693
Is that the exact error messsage? This seems strange, usually the command name is in there. Like this:

[code]

Admittedly I'm on macOS 10.13.6, I'm not sure if this might have changed.

Also strange, that should definitely work. (Even without `export`.) To be specific, does running these commands in the same terminal results in `command not found`?

[code]

(I'm pointing out "in the same terminal

[2019-05-09 02:19] evhfla opened #2696 "Container restarts with exit code 137 when running .net core webapi on Linux Kubernetes Cluster"
# Container restarts with exit code 137 when running asp.net core webapi on Kubernetes

# General

Hi all, I have several microservices running on a Linux Kubernetes Cluster in Azure.  Half of my services are .net core grpc services and the other half are asp.net webapi services.  The issue is that whereas the gRPC never restarts, the asp.net core webapi eventually always get killed by Kubernetes

[2019-05-09 02:28] secwxx commented on #874
it works, thanks.
seems RSAParametersJson class is missing

[2019-05-09 10:07] aruntmenons opened #2697 "Handle leak in WCF communication"
Issue: Handle leak observed in WCF communication

In my C++ application, I have added CLR support((/clr) to use WCF communication.

Everything is working well, but i observed handle leak. When I analyze this with WinDbg(!htrace). Its shows handle leaks in .NET libs as shown below.

Handle = 0x0000000000003300 - OPEN
Thread ID = 0x0000000000004dbc, Process ID = 0x000000000000414c

0x000000007785a30

[2019-05-09 11:20] felipealves commented on #2691
@bariscaglar thanks for the info, using ServerManager.OpenRemote, all objects return nullable, I will implement a REST API.

[2019-05-09 11:20] #2691 closed

[2019-05-09 11:24] mechatrona opened #2698 "Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install Operating System: Linux Ubuntu 19.04 - x64"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: Linux Ubuntu 19.04 - x64

When I follow the tutorial provided to install dotnet sdk-2.2 after the last step I get the following error message:-
The following packages have unmet dependencies:
 dotnet-sdk-2.2 : Depends: aspnetcore-runtime-2.2 (>= 2.2.4) but it is not going to be installed

[2019-05-09 13:52] rthacker02 commented on #2693
I was trying to do this in the same session. I tried running the statements recommended and dotnet worked after clearing the bash profile. However, once I shutdown the terminal window/session no more joy. Possibly I am trying to add this to the PATH statement incorrectly. I would like for this to be permanent.

On May 8, 2019 at 4:44 PM, Davis Goodin <notifications@github.com> wrote:

The dotnet c

[2019-05-09 15:18] dagood commented on #2693
That was only a diagnosis step, not a solution. Now we know something in your shell configuration is preventing the normal configuration from working right.

If you're ok with posting your `~/.bash_profile`, `~/.bashrc`, `~/.profile`, etc. on Gist or something, maybe some line will stand out. Otherwise you're going to need to go through your shell's configuration to narrow down the cause.

[2019-05-09 15:20] dagood commented on #2698
Duplicate of #2526

[2019-05-09 15:20] #2698 closed

[2019-05-09 15:29] vijayakrishnans opened #2699 "how to install .net in ubuntu 19.04"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: Linux Ubuntu 18.10 - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-05-09 17:22] michael-hawker commented on #2685
Yeah, interesting, because I had tried a shut-down and restart in between at one point and had the same problem, so something else must have jumped in each time until they were all cleared out.

[2019-05-09 17:26] dagood commented on #2699
Duplicate of #2526

[2019-05-09 17:26] #2699 closed

[2019-05-09 18:40] cspital opened #2700 "How to retrieve ReleaseVersion property at runtime?"
My solution has 4 projects, that I'd like to lock to the same version. I've configured those projects to 'Get version from parent solution'. Doing so creates a ReleaseVersion property in those csproj files.

INFO:
.NET Core Version: 2.2.106
OS: macOS Mojave 10.14.4
Visual Studio for Mac: 8.0.5

PROBLEM:
In the API project, my entry assembly, I'd like to retrieve that ReleaseVersion number without

[2019-05-09 18:59] dasMulli commented on #2700
The `ReleaseVersion` seems to be specific to an app model, but I don't know which. It is not the one being used by .NET Core / the SDK used for building .NET Core applications.

As has been pointed out in the SO answer already, you should be using either `Version` or `VersionPrefix` (he latter one allows you too specify a suffix during build).

If you want to have multiple projects use the same nu

[2019-05-09 19:03] cspital commented on #2700
@dasMulli thank you for the quick reply.

Should the project versioning also be decoupled from the solution when pursuing the Directory.Build.props strategy? Or does it not matter since ReleaseVersion doesn't make it into the Assembly MetaData anyways?

[2019-05-09 19:09] #2700 closed

[2019-05-10 09:02] oceaneLonneux opened #2701 "Unable to locate package dotnet-sharedframework-microsoft.netcore.app-1.0.5 (Debian 9)"
Hello, I am trying to get the packages "dotnet-sharedframework-microsoft.netcore.app-1.0.5" and "dotnet-dev-1.1.0" on my Debian 9 Stretch server but it isn't going that well. I am running these commands:

`sudo apt-get install dotnet-sharedframework-microsoft.netcore.app-1.0.5`
`sudo apt-get install dotnet-dev-1.1.0`

I expected those packages to be downloaded and ready to use, but it returns

`Un

[2019-05-10 09:17] hez2010 opened #2702 "Add the ability to alias a reference"
# The ability to alias a referene
Sometimes if different assemblies use the same namespace, there will be conflict problems. And this problem will be wider and wider with .NET ecosystem growing up. We cannot guarantee that we can access code of all the references, for example some reference are packages so that we cannot modify their source code to resolve the problem. And also if some packages ar

[2019-05-10 12:35] Parcley opened #2703 "dotnet restore cannot download Package from case-sensitive nuget mirror"
# dotnet restore cannot download Package from case-sensitive nuget mirror

When using `dotnet restore` to resolve NuGet dependencies, NuGet fails when using a nuget registry, which has a case-sensitive API.

# General

used tools:
- .NET Command Line Tools (2.2.203) on Linux
- Ubuntu 18.04 x86_64
- private NuGet registry hosted on Artifactory 6.6.5

When specifying a dependency, which has a name w

[2019-05-10 15:26] zhang0peter opened #2704 "cannot install dotnet-sdk-2.2 on ubuntu 18.04"
i run following commands, but cannot install dotnet-sdk-2.2
[code]
error is:
[code]
i think it might be cpu version's problem:
[code]
so does dotnet-sdk-2.2 have arm64 version ?

[2019-05-10 15:27] svick commented on #2702
First, that error with `SixLabors.ImageSharp` looks like a bug somewhere to me and something that should be reported.

Second, you already can add an alias to an assembly that is part of a NuGet package: https://github.com/NuGet/Home/issues/4989#issuecomment-310565840. Though you could view that as a hack and so you might want to see a better supported solution.

[2019-05-10 15:42] hez2010 commented on #2702
@svick Thanks for your reply. This is a great solution: https://github.com/NuGet/Home/issues/4989#issuecomment-426666530
I think add the ability to alias reference is important.

[2019-05-10 16:00] hez2010 commented on #2702
In TypeScript we have
[code]
and also in python we have
[code]

This is necessary for project to avoid name conflicts, in addition, node.js has its method to avoid version conflicts through packages.lock.json.

Therefore, I think .NET Core project need a way to avoid name conflicts and version conflicts.
For example, use `<XXXReference Include="xxx" Alias="xxx" />` to avoid name conflicts, and use

[2019-05-10 17:51] nkolev92 commented on #2702
@hez2010

Regarding the PackageReference aspect, the right issue is the one in the NuGet repo.

A few notes:
NuGet already has packages.lock.json support.
https://blog.nuget.org/20181217/Enable-repeatable-package-restores-using-a-lock-file.html

NuGet packages can have more than 1 assembly reference. Do you want alias all of those?
I believe the design is not as straightforward as adding an alias

[2019-05-10 18:30] dagood commented on #2704
That's correct, we don't have a Debian package for arm/arm64 right now, you have to use the tarballs.

[2019-05-10 18:30] dagood commented on #2704
Duplicate of #2622

[2019-05-10 18:30] #2704 closed

[2019-05-10 20:31] jpfreyen opened #2705 "No SDK reported for 2.1 NETCore install on Fedora 28 despite installed"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/fedora28/sdk-2.1.505
Operating System: Linux Fedora 28 - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Here is the complete output:

[code]

[2019-05-10 21:07] omajid commented on #2705
It's not very obvious, but these are two different sets of packages from two different sources. The `packages-microsoft-com-prod` source includes packages built by Microsoft. The `group_dotnet-sig-dotnet` source includes packages built by Fedora volunteers. Both these packages work on Fedora 28, but mixing them is not going to work. As you have seen, they install files to different locations (`/us

[2019-05-10 21:56] jpfreyen commented on #2705
Huh, thanks for the response, I'll try this now.  Honestly, I'd rather have Microsoft's yum repo for dotnet .rpm packages because you'll do a better job keeping it up-to-date.

[2019-05-10 22:01] jpfreyen commented on #2705
Yep, that worked, thanks for the help!

[2019-05-10 22:10] roy-t opened #2706 "Task.ContinueWith not called when using Task.Run on an async action"
We've reduced the problem to the following few lines. Fails both in .net core 2.2 and .Net Framework 4.7.2 (using C# language level 7.3). On Windows 10 Pro 64bit (1809).

**Code:**
[code]

**Expected behavior:**
The task fails, and continues by writing the exception to the console. Then the application resumes normally.

**Actual behavior**
The task fails and immediately crashes with an Unhandled

[2019-05-10 22:12] SixFive7 commented on #2706
I can confirm this behaviour on our environment:
Windows 10
.NET Core 2.2
C# 7.3
C#  (Visual Studio 2017)
Console app and also .NET Web API template

[2019-05-11 11:08] roy-t commented on #2706
In hindsight this is probably an issue for CoreFX. So @SixFive7 has cross posted it to: https://github.com/dotnet/corefx/issues/37602

[2019-05-11 17:00] surajwate opened #2707 "Installation issue"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: Linux Ubuntu 18.10 - x64

I have run all the commands given in instruction still the system is showing following error.

@ubuntu:~$ sudo apt-get install dotnet-sdk-2.2
Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages could not be inst

[2019-05-11 18:56] arivoir commented on #2637
Same problem here

[2019-05-11 19:32] sindhuindurthi commented on #2616
Hello... Arijith sandbox..  thank you @Google

[2019-05-11 19:33] sindhuindurthi opened #2708 "What so ????"
# Issue Title

Be as descriptive as you can with your title.

# General

Provide details on the problem you are experiencing including the .NET Core version, operating system version and anything else that is relevant.

Please provide a code sample for your issue if it is relevant, either inline, link to a gist (or similar) or add it as a zipped attachment.

For some issues, you will get a quicker

[2019-05-11 19:34] sindhuindurthi commented on #2708
Can we all agree we love lord Krishna more than shiva at times ?????

[2019-05-11 21:16] jonahjameshills opened #2709 "dotnet"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Says it is not recognized as an internal or external command.

[2019-05-12 07:19] scottpage commented on #2047
It may, or may not, be short enough, but searching for "aspnet core", "asp.net core", "aspnetcore", etc produces blurry results that include the .NET Framework.  I come from several worlds were acronyms are king, the Marines, aerospace, and control systems.  Any misunderstood technology gets you into a heap of trouble.

There must a something that pins .NET Core down to it's own domain.

[2019-05-12 10:26] farazraj opened #2711 "dont net issue"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/install
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
![image](https://user-images.githubusercontent.com/49255964/57580974-b246b800-74c1-11e9-9ec7-ea69c4829f52.png)

[2019-05-12 11:07] BSp-r commented on #1621
The same for Debian9.7 x64
The verbose command returns that 'The certificate of 'packages.microsoft.com' is not trusted' and/or '...hasn't got a known issuer'.
![image](https://user-images.githubusercontent.com/7537770/57581370-3b102480-74bf-11e9-8e71-8bb1946fbf33.png)

[2019-05-12 11:52] AdvancedPowerArmor commented on #2711
I think you might not have installed required Windows' updates. You can also try to download Visual C++ Redistributable for Visual Studio 2015 update from here: https://www.microsoft.com/en-us/download/details.aspx?id=48145

I think it is easy to fix. Maybe try this tutorial: https://www.drivereasy.com/knowledge/api-ms-win-crt-runtime-l1-1-0-dll-missing-error-solved/

[2019-05-12 11:54] AdvancedPowerArmor commented on #2709
Can you reinstall .NET Core SDK? It looks like you didn't install it correctly.

[2019-05-12 11:57] AdvancedPowerArmor commented on #2707
I don't know what the problem is but can you update the Ubuntu?

[2019-05-12 13:14] atomLee1 opened #2712 "icore"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/create
Operating System: macos

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-05-12 14:24] dagood commented on #2711
Yep, here's the Microsoft page listing the required updates: https://docs.microsoft.com/en-us/dotnet/core/windows-prerequisites?tabs=netcore2x#net-core-dependencies.

[2019-05-12 14:24] dagood commented on #2711
Duplicate of #2541

[2019-05-12 14:24] #2711 closed

[2019-05-12 14:28] dagood commented on #2709
Another common issue is trying to use an old command prompt that was started before the install completed. A new prompt is required to get the change to `PATH` that includes the `dotnet` install directory.

@jonahjameshills can you make sure you opened a new command prompt?

[2019-05-12 14:32] dagood commented on #2707
Can you run these diagnosis steps and share the results?

[code]

This normally happens when the repository you're using doesn't match the distro or specific distro release.

[2019-05-12 14:37] dagood commented on #2705
omajid is actually part of the Fedora DotNet SIG. 😄 Thanks for the help, closing as resolved.

[2019-05-12 14:37] #2705 closed

[2019-05-12 14:50] dagood commented on #2701
Why are you trying to install such an old version?

2.2.x is the current recommendation, and if you're just starting off, you'll have a much easier time there. Take a look at https://dotnet.microsoft.com/download if you haven't yet.

---

For your specific issue, it's just a syntax error. 😄

[code]

When you plug in `[tar.gz filename]`, you have to leave out `[` and `]`. You'll find a lot of instr

[2019-05-12 18:12] danem32 opened #2713 "custom ui editor for microsoft"
Problem encountered on custom UI editor "access to the path is denied"
Operating System: windows

finish writing the code click on save "window came up Acess to the path is denied".  operating system version, window 10 excel 2016 and 2013exact error message, code sample,
[code]

[2019-05-12 23:41] JMan7777 opened #2714 "Environment.ProcessorCount wrong inside docker container"
Hi,

I have a project using .NET Core 3.0 Preview 4 which I just migrated to Preview 5.

I recognized that under .NET Core 3.0 Preview 5 the Environment.ProcessorCount variable value is 99% of the time wrong. It most of the time returning 1 instead of correct count but sometimes it reports the correct count (in 1% of the cases).

I'm running .Net Core in a Linux docker container using the followin

[2019-05-13 07:39] Parcley commented on #2703
This is the corresponding ticket in the JFrog Artifactory ticket system:
https://www.jfrog.com/jira/browse/RTFACT-18567

When using a NuGet API v2, I can resolve my dependencies with dotnet and Artifactory without any problems.

[code]

So to make my initial issue more specific: it only affects NuGet protocol version 3

[2019-05-13 07:46] chitranjan32 opened #2715 "Unable to access microservice hosted using docker image"
Operating System: windows 10

I was trying following tutorial from Microsoft Learning centre
https://dotnet.microsoft.com/learn/web/aspnet-microservice-tutorial/run-docker

while trying to run service using docker image , i gave following command

![image](https://user-images.githubusercontent.com/27756222/57604036-87825f80-75a6-11e9-9842-34b1bd121980.png)

Even though i can see the message that :

[2019-05-13 10:13] sujayvsarma opened #2716 "Build with "Generate serialization assembly: On" throws errors"
I have a pure C# class library - previously compiled, working and used on .NET Framework 4.8.  I was working on porting this code to .NET Core 3.0. I am using C# 8.0 as the language. I am using Visual Studio 2019 16.1.0 Preview 3.0 as my IDE environment.

When I compile the library project with the **Generate serialization assembly** set to `Auto` or `Off`, the project builds fine.

However, when

[2019-05-13 12:10] AdvancedPowerArmor opened #2717 "DOTNET_CLI_UI_LANGUAGE - Not all messages are in English"
# DOTNET_CLI_UI_LANGUAGE - Not all messages are in English

# Details

I set environment variable `DOTNET_CLI_UI_LANGUAGE` to `en` but not all messages are in this language. I would like to have everything in English (messages, comments and so on).

[code]

dotnet --info

[code]

dotnet new console -n ExampleApp

[code]

dotnet build

[code]

dotnet run

`Hello World!`

dotnet publish --configurat

[2019-05-13 12:16] emman2012 opened #2718 "localhosthost:5000 refused to connect after installing ASP.net sdk"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/run
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-05-13 13:59] spottedmahn opened #3236 "AspNetCore.App 2.1 not installing latest patch version"
I think this might be the same issue as dotnet/source-build#942 but I'm not 100% sure...

I removed the version from package reference as stated in the [ASP.NET Core 2.0 to 2.1 upgrade guide](https://docs.microsoft.com/en-us/aspnet/core/migration/20_21?view=aspnetcore-2.2#update-the-project-file-to-use-21-versions) but when I look in my project -> dependencies -> NuGet I see `Microsoft.AspNetCore.

[2019-05-13 14:52] tpallone opened #2719 "Local host did not send any data"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/run
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-05-13 16:44] ShawnRG opened #2720 "Resource file "**/*.resx" cannot be found. Ubuntu 18.04."
After cloning the project fresh from my repo and then running it in Rider 2019, everything works fine. After restarting the application my build failes and hits this error.

I am using the latest stable version of the .NET core 2.1 SDK

`  Microsoft.Common.CurrentVersion.targets(3054, 5): [MSB3552] /usr/share/dotnet/sdk/2.1.603/Microsoft.Common.CurrentVersion.targets(3054,5): error MSB3552: Resour

[2019-05-13 16:51] jpfreyen opened #2721 "Can't get LTS versions for Centos7, Fedora28"
From here:
https://dotnet.microsoft.com/download/dotnet-core/2.1

If I am interested in **LTS version** (v2.1.10, SDK 2.1.506) for Centos7 or Fedora28 and I follow the Centos7 or Fedora28 instructions how to get SDK 2.1.506:
https://dotnet.microsoft.com/download/linux-package-manager/centos/sdk-2.1.506
https://dotnet.microsoft.com/download/linux-package-manager/fedora28/sdk-2.1.506

I do **NOT** g

[2019-05-14 01:28] inabeel opened #2722 "Asp.net microservice issue with docker file"
![SolarEdge issue](https://user-images.githubusercontent.com/620829/57664264-e7adeb80-7610-11e9-8415-e511b5aa9b62.png)
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-microservice-tutorial/docker-file
Operating System: windows 10.

I am running Docker to create Micro service and following tutorial as it is. But after running command: docker build -t solaredgeservice .
results

[2019-05-14 08:50] n1schith opened #2723 "Run dotnet new --help for usage information. See https://aka.ms/dotnet-install-templates to learn how to install additional template packs."
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-05-14 10:43] balukantu opened #2724 "Unable to read localized key value from Resource file"
I am working on .NET Core Web API localization and I have done all configurations but I am unable to get local specific values.

1. Created 3 resource files for de-DE, fr-FR and English languages.
2. Created a common Middleware to set the current culture based on the query string value.
3. Trying to get the respective local key but it is always giving English value.

Can anyone suggest and tell di

[2019-05-14 15:07] periczeljkosmederevo opened #2725 "Microsoft .net core 2.2.203"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Hello,
When file downloaded from this URL :

https://download.visualstudio.microsoft.com/download/pr/c80334ce-82e

[2019-05-14 17:01] leecow opened #2727 ".NET Core May Update - 1.0.16, 1.1.13, 2.1.11 and 2.2.5"
Included fixes address security issues detailed in the release notes.

## .NET Core

* **.NET Core 1.0.16 and .NET Core SDK 1.1.14**
  [Release Notes](https://github.com/dotnet/core/blob/master/release-notes/1.0/1.0.16/1.0.16.md)
  [Download 1.0](https://dotnet.microsoft.com/download/dotnet-core/1.0)

* **.NET Core 1.1.13 and .NET Core SDK 1.1.14**
  [Release Notes](https://github.com/dotnet/core/

[2019-05-14 18:59] AdvancedPowerArmor commented on #2717
Does anyone have any idea how to solve problem?

[2019-05-14 19:47] leecow commented on #2721
@jpfreyen, there are a few confusing things at play - sorry about that.

The toolset (SDK) is not LTS; the Runtime is. The latest SDK can be used to target and build for any version of the .NET Core runtime. With the announcements which happened at //BUILD last week, we're working on our LTS policy language and will make sure this part is clear.

Most package managers give you the ability to speci

[2019-05-14 20:44] dagood opened #2728 "Package repository based install pages need Ubuntu 19.04 entries"
.NET Core has packages available for Ubuntu 19.04 as of 2.1.11 and 2.2.5, just released today. 🎉 However, the dropdown in the docs needs to be updated (SDK and Runtime):

https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-10/sdk-current

The "Ubuntu 19.04 - x64" page should be identical to the 18.10 page, but:

[code]

/cc @rowanmiller @leecow

[2019-05-14 20:46] dagood commented on #2526
We now have Ubuntu 19.04 Debian packages for 2.1 and 2.2 which work for me! I tried them out like this:

[code]

I filed https://github.com/dotnet/core/issues/2728 to track updating the download pages to include this information.

[2019-05-14 20:52] cwash commented on #1522
Looks like some package wiring was missing, but specifying a few transitive deps explicitly seemed to work for me...

[2019-05-14 21:01] leecow commented on #2728
I have submitted a pr for the site repo to make this update.

[2019-05-14 21:01] #2728 closed

[2019-05-14 21:15] arunprasathv opened #2729 "Running Net core 2.0 and .Net Core 2.2 on the same machine"
# Issue Title

Can I run .Net core 2.0 and .Net Core 2.2  on the same machine ? I will install 2.2.5 hosting bundle for runtime and have already .Net core 2.0 runtime running to support other apis which we dont want to upgrade.  so we need both runtimes to coexist on the same machine. is this possible?

[2019-05-14 21:22] stevepentland commented on #2526
Also worked fine locally for me on my Kubuntu 19.04 install. Thanks for the update!

[2019-05-14 21:48] RheaAyase commented on #2721
I do have a few notes here... First being that Fedora 28 is soon to be EOL'd and you should hop on 29 or even 30.

Then it's the whole question of using the right install sources. With Linux in mind, always use what's native to the distribution, it's repositories and things maintained by the people who know their distribution the best. In the case of Fedora the information is behind a handy alias

[2019-05-14 22:05] leecow commented on #2729
@arunprasathv - yes, no worries. The runtimes will live side-by-side in the dotnet/shared/Microsoft.NETCore.App/[version number] directory after installation and the runtime version dependency set in the application's csproj file. See details in the [Target frameworks](https://docs.microsoft.com/en-us/dotnet/standard/frameworks) document.

[2019-05-15 03:16] holtjonathan commented on #1675
@WriterOfCode  Did you ever figure this out?  I have the same problem...I can build locally without issue.  Azure pipeline throws errors for all of my NuGet packages:

Package GraphiQL 1.2.0 is not compatible with netcoreapp2.2
Package Microsoft.EntityFrameworkCore.SqlServer 2.2.4 is not compatible with netcoreapp2.2
So on and so forth....

[2019-05-15 05:51] jl0pd opened #2730 "PLinq Aggregate - wrong computation"
# Issue Title

Aggregate method from PLinq can't correctly collect results

# General

.Net Core: 2.2.203
Linux mint: 19.1
Linux kernel: 4.15.0-20-generic

When I try to find sum of some sequence using PLinq, I get wrong results.
Aggregate have problems when lambda is more complicated than ``x+y``. The more complex function it got, the less accurate result is.

For example, when fn(x) was ``return

[2019-05-15 05:56] jakkaj commented on #2608
I've started seeing this issue again today on a Dockerfile that worked yesterday.

`W: Failed to fetch https://packages.microsoft.com/ubuntu/14.04/prod/dists/trusty/main/binary-amd64/Packages  Hash Sum mismatch`

[2019-05-15 06:13] surajwate commented on #2707
Hi @dagood. I have updated the system a few days back. That may be the problem. I am sharing the result of the commands you have given to me.

suraj@ubuntu:~/Coding/codingit$ grep -r --include '*.list' '^deb ' /etc/apt/sources.list /etc/apt/sources.list.d/
/etc/apt/sources.list:deb http://es-mirrors.evowise.com/ubuntu/ disco main restricted
/etc/apt/sources.list:deb http://es-mirrors.evowise.com/u

[2019-05-15 07:23] svick commented on #2730
The problem with the code you posted is that since `ParallelEnumerable.Aggregate` performs the computation in parallel, it has to combine the results from different threads. And in this case, the only possible way to combine them is by invoking the provided function again, which will result in executing `fn` where it wouldn't be executed in `realSum`.

I believe the way to fix this is to use the m

[2019-05-15 07:56] shachar-av commented on #2608
Same here, issue happens again.

[2019-05-15 08:38] beldougie commented on #2608
We're also experiencing this issue since approximately 5pm UTC yesterday although we're trying to install msodbcsql17 and ms-tools, the symptoms are the same. I have also tried the suggested trick of clearing `/var/lib/apt/lists/*` but there was no change to the situation.

[2019-05-15 12:33] fearphage opened #2731 "Automated Repository Testing"
It's not uncommon for the (Debian?) repository to be broken (#2608).

Is there an automated (CI-able) way to confirm this is working so the owners don't have to find out from user-initiated bug reports?

[2019-05-15 13:27] #2724 closed

[2019-05-15 14:08] jl0pd commented on #2730
Thanks, that helped!

[2019-05-15 14:08] #2730 closed

[2019-05-15 15:24] dagood commented on #2707
Thanks @surajwate! That is indeed the problem. You're on Ubuntu 19.04, but have the 18.10 Microsoft repository installed:

[code]

Running the 19.04 instructions should upgrade your Microsoft repository and work:

[code]

(I filed https://github.com/dotnet/core/issues/2728 to track getting instructions for 19.04 on dot.net.)

The mismatched repository vs. distro causes a problem because some Ubunt

[2019-05-15 15:42] dagood commented on #2731
As far as I know, this has only happened twice, and only on the Ubuntu 14.04 repository. I'm asking about this in my mail about the recent instance to the repository owners, though--other Microsoft products depend on these feeds so it shouldn't be on .NET Core to set up some sort of health check.

[2019-05-15 15:43] dagood commented on #2608
Yeah... repros with a clean Docker container as well. Sending another mail to the Microsoft repo admins.

[2019-05-15 15:54] dagood commented on #2731
/cc @leecow

[2019-05-15 17:02] ketchums commented on #2526
Am I missing something?
`devmachine@heaven-master:~$  sudo apt-get install -y dotnet-sdk-2.1
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package dotnet-sdk-2.1
E: Couldn't find any package by glob 'dotnet-sdk-2.1'
E: Couldn't find any package by regex 'dotnet-sdk-2.1'
`

[2019-05-15 17:28] dagood commented on #2526
@ketchums, you may need to run the workaround steps on e.g. https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-10/sdk-current (instead of "18.10", use "19.04" of course.)

If that doesn't fix it, please open a new issue with the output of these commands to help us diagnose:

[code]

[2019-05-15 18:09] bonesoul commented on #2608
same here

[2019-05-15 18:39] yairyog commented on #2608
same...

[2019-05-15 20:05] jpfreyen commented on #2721
@leecow that is more clear, thanks.

@RheaAyase, sometimes it's not practical for a shipping project to always use what is available to the distribution, especially if the distro keeps moving up packages and there isn't a good way to get the previous package, that is hard on QA.  The dotnet-sdk-2.1.-lts idea is a Ubuntu thing in which they have package "aliases" that will go and get the specific p

[2019-05-15 20:33] dagood commented on #2608
They fixed it, and I confirmed it works for me now. Thanks for the reports!

[2019-05-15 20:33] #2608 closed

[2019-05-15 20:35] stevepentland commented on #2723
Hi @n1schith can you please provide some more details about the problem you encountered?

[2019-05-15 20:51] stevepentland commented on #2722
Hi @inabeel is the `SolarEdgeAPI.csproj` in the `C:\Code\Alexander\solaredgeapi` directory? Also I noted that you are on windows and that your directory name is `solaredgeapi` are the casings in your `Dockerfile` an exact match to those on your local file system? The build context is Linux which is a case-sensitive.

[2019-05-15 20:54] RheaAyase commented on #2721
Well, 2.1 is LTS and it doesn't need an alias for that. As it is described above doesn't make much sense. It would make sense to have `dotnet-lts` though.

Especially in Fedora we package everything so that you can stick to *any* minor and even any feature version of the SDK.

Here is slightly reduced list for `dnf list --showduplicates dotnet-sdk*`
[code]

[2019-05-15 21:06] stevepentland commented on #2722
As a follow up, here is an example I tried to check the contents of the Dockerfile on the site.

My working directory:
![image](https://user-images.githubusercontent.com/8147610/57808882-63538980-7732-11e9-894e-8eb6f94e8878.png)

The contents of `Dockerfile`:
![image](https://user-images.githubusercontent.com/8147610/57809358-479cb300-7733-11e9-9533-bd0bc4f07eff.png)

And the results of `docker bu

[2019-05-15 22:10] fearphage commented on #2731
That's one time too many in my opinion. That's the purpose of (regression) tests. When you find a bug, you write a test case for it and then at a minimum, you'll know the next time it becomes broken.

[2019-05-15 22:15] dagood commented on #2731
Agreed, just contrasting vs. "not uncommon".

[2019-05-15 22:46] jpfreyen commented on #2721
@RheaAyase I agree and think it's a great idea to have a "dotnet-lts" :-).

[2019-05-16 00:09] rsouthgate opened #2733 "Cannot load dot prefixed files using FileProvider"
Specifically reproducible if trying to use a rewriter with an mvc app... Take the following line:

`app.useRewrite(new Rewriteoptions().AddApacheModRewrite(env.ContentRootFileProvider, ".htaccess"));`

Fails with a CLR/System.IO.FileNotFoundException, yet file exists.

To check - copy file and call it tmp.htaccess and change line to

`app.useRewrite(new Rewriteoptions().AddApacheModRewrite(env.Con

[2019-05-16 04:10] surajwate commented on #2707
@dagood thanks for the help.

[2019-05-16 04:10] #2707 closed

[2019-05-16 08:51] spencercw opened #2734 "arm64 runtime hang on unhandled exception"
.NET Core version: 2.2.5 (official arm64 build downloaded from the Microsoft website)
Operating system: Yocto Linux 2.6.1

.NET Core 3.0.100-preview5-011568 is not affected by this issue.

On my Linux x64 dev machine, if my application encounters an unhandled exception, it prints a message that looks like this and exits:
[code]

But when I run it on my arm64 board, an unhandled exception causes th

[2019-05-16 09:51] balukantu opened #2735 "Stream is not a valid resource file"
I am uploading a file to Api and trying to read the resource key and values. I am getting below exception when I try to read the file.

`System.ArgumentException: Stream is not a valid resource file.
at System.Resources.ResourceReader._ReadResources()
at System.Resources.ResourceReader.ReadResources()
at System.Resources.ResourceReader..ctor(String fileName)`

Below is the code which I tried.

[co

[2019-05-16 13:23] lytico commented on #2540
same error  with update to .net core 2.1.604 , nothing changed

[2019-05-16 14:16] JaredShaver commented on #2618
@richlander how does this help Windows Server or enterprise desktops that have the store disabled.  Microsoft already has enterprise patching tools(WSUS/SCCM) ... please just support what already works.  A huge part of the .NET Core story has been not supporting a feature then backtracking and re-doing things that .NET Framework originally did.

[2019-05-16 15:29] csturm83 commented on #2618
Agreed. Please consider supporting an enterprise friendly (preferably familiar) deployment/update mechanism.

Also, please consider bringing full WCF to .NET 5 (or at least contribute the source to the .NET Foundation/community).

[2019-05-16 16:45] arunprasathv commented on #2729
Thanks @leecow

[2019-05-16 16:52] #2729 closed

[2019-05-16 16:54] KamalSaeidi opened #2736 "DateTime command running issue"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/edit
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

The following error encountered when running command:

[code]

[2019-05-16 17:39] shawnro commented on #1541
We have several issues tracking various aspects of this.  Reassigning to the folks who own this and related issues.

[2019-05-16 19:04] genifycom opened #2737 "dotnet publish on a project fails due to "Access to the path denied""
# Issue Title

dotnet publish on a project fails due to "Access to the path denied".

# General

I am publishing without Visual Studio running (to make sure that it was not a Visual Studio issue).

When I publish with dotnet publish -c Release -r linux-arm

I receive the error:

error MSB3021: Unable to copy file "obj\Release\netcoreapp2.1\MyUtilities.pdb" to "bin\Release\netcoreapp2.1\MyUtilities

[2019-05-16 19:07] genifycom commented on #2737
I can also delete the Release directory completely (indicated no locked files) and the dotnet publish still produces the "Access to the path denied"

[2019-05-16 19:58] lapisdecor opened #2738 "No .deb for Disco Dingo"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: Linux Ubuntu - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Ubuntu 19.04
When trying to install  .net sdk, couldn't find a package for ubuntu 19.04

[2019-05-16 20:26] guille31794 opened #2739 "Circular dependence"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: Linux Ubuntu 18.10 - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Circular dependence:
Los siguientes paquetes tienen dependencias incumplidas:
dotnet-sdk-2.2 : D

[2019-05-16 20:32] jimmiefingerz opened #2740 "the sdk downloaded will not run on my windows 10"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-05-16 21:30] Lukasavicus commented on #2183
Where?

[2019-05-17 01:20] zgpmc opened #2741 "无法定位软件包 dotnet-sdk-2.1.200"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu16-04/sdk-2.1.200
Operating System: Linux Ubuntu 16.04  -  x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-05-17 01:59] reader-man opened #2742 "creating the skasia UI to rule them all"
This is a suggestion to MS
https://readerman1.wordpress.com/2019/03/04/xamarin-vs-flutter-3rd-party/

to start a Flutter like, that will have all the power and feature rich UI, to work on all OSs, using .net core as its base.

[2019-05-17 11:26] erictrigo opened #2743 "Several FileNotFoundException using Newtonsoft.Json inside T4 template"
# Issue

I'm having the same issue described here: [FileNotFoundException (System.Runtime, Version=4.2.1.0) when reflecting in T4 template](https://github.com/dotnet/core/issues/2000). The issue specifically happens when trying to use Newtonsoft.Json inside a T4:

[code]

Following @lmcarreiro instructions (using `machine.config` instead of `devenv.exe.config`) I was able to get rid of the System.

[2019-05-17 11:36] saikeerthi12 opened #2744 "what we can place inplace of <repo>"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/rhel/sdk-current
Operating System: Linux RHEL - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-05-17 11:45] saikeerthi12 opened #2745 "The packages are broking unnecessarily"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-10/sdk-current#ubuntu18-04-issue
Operating System: Linux Ubuntu 18.10 - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-05-17 13:39] oguzhantopcu opened #2746 "Unable to load DLL 'libgdiplus': The specified module could not be found."
I can not use GDI+ related things on Fedora 30.
I am getting an error while calling `Image.FromStream(ms)`.

**Error & stacktrace:**

[code]

**My setup**
Fedora 30
.Net Core 2.2.204
libgdiplus-devel 5.6-3.fc30
libgdiplus 5.6-3.fc30
Linux x 5.0.13-300.fc30.x86_64 #1 SMP Mon May 6 00:39:45 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

[2019-05-17 16:29] karelz commented on #2460
@jnm2 do you have suggestion what to change where? (in code or in docs?)

[2019-05-17 16:51] jnm2 commented on #2460
This notification is good, but you could also mention MonoDevelop on Linux which has the exact same issue as VS for Mac:
![image](https://user-images.githubusercontent.com/8040367/57943367-d7606f80-78a1-11e9-8bcb-a2c6efdb7628.png)

Then when you click the link, it takes you here:
![image](https://user-images.githubusercontent.com/8040367/57943460-18f11a80-78a2-11e9-8ad1-1deb9464574a.png)

But the

[2019-05-17 18:29] bramdevylder opened #2747 "I can't open the program.cs file that contains the hello world command"
# Issue Title

Be as descriptive as you can with your title.

# General

Provide details on the problem you are experiencing including the .NET Core version, operating system version and anything else that is relevant.

Please provide a code sample for your issue if it is relevant, either inline, link to a gist (or similar) or add it as a zipped attachment.

For some issues, you will get a quicker

[2019-05-17 18:49] magi9 opened #2748 "Need help with .NET"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/install
Operating System: windows

Until I ve installed .NET SDK there was no new command promt

[2019-05-17 19:27] igoventura commented on #2746
You can try

[code]

or https://github.com/mono/libgdiplus

[2019-05-17 19:28] igoventura commented on #2748
Can you share more details about the problem?

Anyway have you restarted your cmd after installed the .net core SDK?

[2019-05-17 19:31] igoventura commented on #2747
Can you share more details about the problema?

[2019-05-17 19:33] igoventura commented on #2744
Can you share more details about the problem, like the "step-by-step"?

[2019-05-17 19:37] igoventura commented on #2741
This version don't exists. You can use the [SDK 2.1.604](https://dotnet.microsoft.com/download/linux-package-manager/rhel/sdk-2.1.604) or migrate to the [current 2.2 version](https://dotnet.microsoft.com/download/linux-package-manager/rhel/sdk-2.2.204).

[2019-05-17 19:38] igoventura commented on #2745
Can you share more details about the problem?

[2019-05-17 20:08] magi9 commented on #2748
so i have just installed .net sdk but no new command line have been
installed.
so i can not restart non existing cmd

pi 17. 5. 2019 o 21:29 Igo Ventura <notifications@github.com> napísal(a):

[2019-05-17 20:40] karelz commented on #2748
@magi9 I don't understand your question.
Did you follow these steps?
1. Install .NET Core SDK
2. Run new cmd window
3. Run `dotnet` command in that cmd window?

If that does not work, something really bad happened on your machine. Maybe you didn't install the .NET SDK correctly, or your machine is somehow in weird state.
If that's the case, try to restart, or try to install .NET Core SDK on brand

[2019-05-17 20:41] karelz commented on #2628
No response, closing.

[2019-05-17 20:41] #2628 closed

[2019-05-17 20:42] karelz commented on #2745
Not enough info, please provide additional details and reopen. Thanks!

[2019-05-17 20:42] #2745 closed

[2019-05-17 20:43] karelz commented on #2741
Thanks @igoventura for your answer. Closing.
@zgpmc feel free to reopen if there is more information available. Thanks!

[2019-05-17 20:43] #2741 closed

[2019-05-17 20:44] karelz commented on #2744
Not enough information, closing. Feel free to reopen if there is additional details available. Thanks!

[2019-05-17 20:44] #2744 closed

[2019-05-17 20:45] karelz commented on #2747
Find it on disk, open it in your favorite editor. Unless something truly bad happened, it should be there - maybe just in a subdirectory.

[2019-05-17 20:45] #2747 closed

[2019-05-17 20:46] karelz commented on #2746
Looks answered. Feel free to reopen if you need more help.

cc @safern

[2019-05-17 20:46] #2746 closed

[2019-05-17 20:46] karelz commented on #2746
Thanks @igoventura for your help on multiple issues here! It's appreciated!

[2019-05-17 20:51] safern commented on #2746
Thanks for replying @igoventura

[2019-05-17 20:54] karelz commented on #2460
@leecow that sounds like reasonable request - can you please help make it happen?

[2019-05-17 20:56] magi9 commented on #2748
I have installed the .NET Core SDK but it was installed without the cmd.I
can not find new cmd window in pc. And I have reinstalled it 3 times.

pi 17. 5. 2019 o 22:41 Karel Zikmund <notifications@github.com> napísal(a):

[2019-05-17 20:58] karelz commented on #2748
cmd is part of the OS - it is the "Command Prompt"

[2019-05-17 20:58] dagood commented on #2728
@leecow any idea how long it'll take to get it merged/deployed? Do you mind reopening the issue to track it?

[2019-05-17 20:59] dagood commented on #2738
The Debian package does exist, but the site lacks documentation for it at the moment. If you use the 18.10 instructions but replace 18.10 with 19.04, it should work for you.

[2019-05-17 20:59] dagood commented on #2738
Duplicate of https://github.com/dotnet/core/issues/2728

[2019-05-17 20:59] #2738 closed

[2019-05-17 21:00] magi9 commented on #2748
yeah i know but you said that any new cmd

pi 17. 5. 2019 o 22:59 Karel Zikmund <notifications@github.com> napísal(a):

[2019-05-17 21:02] genifycom commented on #2737
Process monitor shows that the locking process is C:\Program Files\dotnet\dotnet.exe
Command Line is
"C:\Program Files\dotnet\dotnet.exe" "C:\Program Files\dotnet\sdk\2.2.105\MSBuild.dll" C:\Program Files\dotnet\sdk\2.2.105\MSBuild.dll /nologo /nodemode:1 /nodeReuse:true

The event is a CreateFile, Result: ACCESS DENIED
Desired Access: Generic Read/Write, Delete, Write DAC

[2019-05-17 21:02] karelz commented on #2748
Yes, run new instance of cmd.
I start to be lost at what is unclear now :( ... maybe a snapshot would help?

[2019-05-17 21:03] aphex3k commented on #2540
I update .net sdk to 2.2.203 and .NET Core to 2.2.4 and the issue resolved for me...

[2019-05-17 21:06] karelz commented on #2540
@jkoritzinsky can you please help me understand what is wrong where and who should take care of it?
I am unable to parse the info here to route it :(

[2019-05-17 21:11] karelz commented on #2743
@joperezr can you please help here?
@erictrigo do you have a minimal repro you could share?

[2019-05-17 21:13] karelz commented on #2742
Thanks for letting us know. Closing as no follow up is necessary.

cc @richlander @leecow @terrajobst if they are interested

[2019-05-17 21:13] #2742 closed

[2019-05-17 21:15] karelz commented on #2183
@Lukasavicus check out these links: https://github.com/dotnet/core#net-core-releases-and-daily-builds

[2019-05-17 21:18] karelz commented on #2740
Do you have latest Win10 version? Or at least the minimal supported? (whichever the version is)
Try to download again to make sure it is not corrupted download ...
If that fails, try it on brand new VM/machine to see if it is some weird machine problem. Feel free to reopen if you have more info ...

[2019-05-17 21:18] #2740 closed

[2019-05-17 21:19] karelz commented on #2739
This is weird - @dagood did you see that before?

[2019-05-17 21:20] karelz commented on #2736
This is super weird. Are you able to reproduce it on clean VM/another machine?
It looks like something is hijacking the C# compiler, or bits on disk are horribly corrupt ...

[2019-05-17 21:22] karelz commented on #2735
Are you able to open the same file locally on disk? (aka remote the HTTP server part from your repro)
Are you able to send regular TXT file correctly this way?

[2019-05-17 21:24] karelz commented on #2734
BTW: Yocto is not officially supported distro

@wfurt any idea?

[2019-05-17 21:25] karelz commented on #2733
Can you please post a minimal repro demonstrating the problem?

[2019-05-17 21:33] karelz commented on #2723
Unclear what is the problem, closing. Feel free to reopen if there is more info/details. Thanks!

[2019-05-17 21:33] #2723 closed

[2019-05-17 21:36] karelz commented on #2717
@livarcocc @nguerrera any thoughts? It seems to be from msbuild ...

[2019-05-17 21:37] karelz commented on #2432
Fully replaced by #2727

[2019-05-17 21:37] #2432 closed

[2019-05-17 21:38] karelz commented on #2555
Fully replaced by #2727

[2019-05-17 21:38] #2555 closed

[2019-05-17 21:39] karelz commented on #2725
Can you try to download again? Or try on another VM/machine?

[2019-05-17 21:39] jkoritzinsky commented on #2540
@karelz I followed the chain down through the various referenced issues and ended up finding the solution for my case by following this chain:

https://github.com/NuGet/Home/issues/7956
https://developercommunity.visualstudio.com/content/problem/481018/resolvepackageassets-task-failed.html

and then to the internal ticket.

Looks like a combination of a .NET SDK that uses NuGet 5 and a VS for Mac

[2019-05-17 21:41] karelz commented on #2720
Which project did you clone? Does it happen for HelloWorld? Are you able to create minimal repro?
Did you check if there are any resx files in your project?

[2019-05-17 21:42] karelz commented on #2719
Check your firewalls and other restrictions. Try it on brand new VM without any antivirus / firewall settings first./
If you still have problems, please create full repro and share it here. Thanks!

[2019-05-17 21:42] #2719 closed

[2019-05-17 21:44] karelz commented on #2718
Most likely local machine setup - firewall or something like that in the way - check out similar closed issues for guidance, tips and tricks: https://github.com/dotnet/core/issues?q=is%3Aissue+localhost+is%3Aclosed

[2019-05-17 21:44] #2718 closed

[2019-05-17 21:45] karelz commented on #2716
Do you have a minimal repro you could share with us?

[2019-05-17 21:46] karelz commented on #2715
Did you check your docker settings, firewalls, etc.

[2019-05-17 21:48] karelz commented on #2703
@rrelyea can you please help route this issue?

[2019-05-17 21:49] karelz commented on #2714
@joperezr would you know if there were any changes in the area?

[2019-05-17 21:51] karelz commented on #2713
What is "Custom UI editor"? Is it part of VS?
Can you please add step-by-step repro how to reproduce the problem? (start with new VS project please)

[2019-05-17 21:51] karelz commented on #2701
No response, closing. Feel free to reopen when there is more info. Thanks!

[2019-05-17 21:51] #2701 closed

[2019-05-17 21:52] karelz commented on #2512
@nguerrera @livarcocc pinging for 1.5 month now ...

[2019-05-17 21:53] karelz commented on #2575
@joperezr @ericstj is it a known problem?
cc @divega

[2019-05-17 21:53] karelz commented on #2621
No update, closing

[2019-05-17 21:53] #2621 closed

[2019-05-17 21:54] karelz commented on #2623
No update/info, closing

[2019-05-17 21:54] #2623 closed

[2019-05-17 21:54] karelz commented on #2633
Not enough info, no reply for 3 weeks. Closing.

[2019-05-17 21:54] #2633 closed

[2019-05-17 21:55] karelz commented on #2662
No info for more than a week. Closing.

[2019-05-17 21:55] #2662 closed

[2019-05-17 21:55] karelz commented on #2666
No info, closing.

[2019-05-17 21:55] #2666 closed

[2019-05-17 21:56] karelz commented on #2693
No info - should we close it @dagood? Or is there any next step?

[2019-05-17 21:57] karelz commented on #2709
Should be addressed above, closing. Feel free to reopen if it does not help and you need more suggestions. Thanks!

[2019-05-17 21:57] #2709 closed

[2019-05-17 21:58] karelz commented on #2712
Unclear what the problem is, closing. If you have a problem, please provide a description and steps and feel free to reopen the issue. Thanks!

[2019-05-17 21:58] #2712 closed

[2019-05-17 21:59] joperezr commented on #2575
System.Data.SqlClient version 4.6.1 was shipped to NuGet 3 days ago. This probably means that somebody that depended on this package internally shipped to NuGet before it was supposed to, but I believe that this problem shouldn't be happening now.

[2019-05-17 21:59] karelz commented on #1621
@leecow any idea what is going on?

[2019-05-17 22:02] karelz commented on #2540
OK, nothing left to track here then. Thanks @jkoritzinsky! (and I really hope I did not misunderstand your reply :))

[2019-05-17 22:02] #2540 closed

[2019-05-17 22:03] karelz commented on #2637
@sbomer can you please help me route the issue? Should it be moved to https://github.com/mono/linker?

[2019-05-17 22:03] nguerrera commented on #2512
The original failure was in the test run.

The errors in the latest gist are:
[code]

@rainersigwald, @JeremyKuhne any ideas? This is an error to write to a path of length 200 on Linux!

[2019-05-17 22:05] ericstj commented on #2575
Yeah, dup of https://github.com/dotnet/corefx/issues/36902.

[2019-05-17 22:06] anurse commented on #2733
This is probably an issue for FileProviders (which are in Extensions). I'll move this issue and we'll investigate further there.

[2019-05-17 22:07] anurse commented on #2733
This issue was moved to aspnet/Extensions#1729

[2019-05-17 22:07] #2733 closed

[2019-05-17 22:12] dagood commented on #2739
I don't see the circle in the error output, can you clarify? The chain I see is this:

`dotnet-sdk-2.2` depends on `aspnetcore-runtime-2.2` depends on `dotnet-runtime-2.2`

(Note that the first package is the .NET Core SDK, and the last one is the .NET Core Runtime.)

* What happens when you run `sudo apt-get install dotnet-runtime-2.2`?
* The root of this problem is probably `dotnet-runtime-deps-

[2019-05-17 22:16] wfurt commented on #2734
ARM64 was never supported with 2.2 https://github.com/dotnet/core/blob/master/release-notes/2.2/2.2-supported-os.md

Fact, that we start making builds back than, does not change that. Yocto is not on supported list so we do not run tests on it. But it should work as long as you have proper dependencies.

[2019-05-17 22:16] #2734 closed

[2019-05-17 22:17] joperezr commented on #2714
I do see some changes on this area recently https://github.com/dotnet/corefx/commits/release/3.0/src/System.Diagnostics.Process so I would suggest logging a new 3.0 issue in corefx and mention that this seems to be a regression. @JMan7777 if you could provide a small repro that would be ideal.

[2019-05-17 22:19] dagood commented on #2693
Let's close it for now, I would love to help get to the bottom of this if you have some time to send more info though, @rthacker02.

[2019-05-17 22:19] #2693 closed

[2019-05-17 22:23] leecow commented on #1621
You can't run wget with quiet and verbose switches at the same time.

[2019-05-17 22:26] karelz commented on #2575
Duplicate of https://github.com/dotnet/corefx/issues/36902

[2019-05-17 22:26] #2575 closed

[2019-05-17 22:28] spencercw commented on #2734
Ok, understood. It might be worth a mention on the download page, since it's not apparent there that arm64 is an unsupported platform.

[2019-05-17 22:29] sbomer commented on #2637
Yes, could you please move it? I don't have permissions to use the GitHub issue move feature.

[2019-05-17 22:33] oguzhantopcu commented on #2746
libgdiplus is already installed on my computer. I have already shared my version numbers.

I have just tried compiling/installing libgdiplus from the source code. i did not worked. I still get the same error.

[2019-05-17 22:56] joelverhagen commented on #2703
Hey @Parcley, thanks for taking the time to report this.

The V3 protocol by design expects the "registration" (package metadata) JSON URLs to contain lowercase IDs. The official protocol is documented to expect `ID_LOWER`:
https://docs.microsoft.com/en-us/nuget/api/registration-base-url-resource#registration-pages-and-leaves

For a real-life example, nuget.org's V3 expoints expect the ID to be lo

[2019-05-17 23:02] joelverhagen commented on #2703
Here's the code in NuGet client that lowercases the ID:
https://github.com/NuGet/NuGet.Client/blob/46afef4bc537ef92559d543e1e013d6f37072812/src/NuGet.Core/NuGet.Protocol/Resources/RegistrationResourceV3.cs#L56-L57

In short, this is by design.

[2019-05-17 23:05] JeremyKuhne commented on #2512
Haven't seen anything that would clue me in on this. It appears that all of the characters are ASCII so it shouldn't be going over the normal 255 byte filename limit.

[2019-05-17 23:09] nguerrera commented on #2717
Duplicate of https://github.com/microsoft/msbuild/issues/1596

[2019-05-17 23:09] #2717 closed

[2019-05-17 23:24] safern commented on #2746
did you install libc6-dev as well? It is required by libgdiplus

Also could you please try setting: `LD_LIBRARY_PATH` env variable to point to the location of libgdiplus.

Also you can use `LD_DEBUG` to find out which library it is actually not finding, because even though you have `libgdiplus` you could be missing a dependency like `libc6-dev` which would cause the load to fail.

http://www.bniko

[2019-05-18 02:25] sunkaixuan opened #2749 ".NET CORE3"
Preview5 has a problem ，EMIT，Entity mapping error.Bad IL format

[2019-05-18 02:26] JMan7777 commented on #2714
Hi,

Thx for looking into this. It's easy to replicate. I attach you a Visual Studio 2019 project for testing.

I'm running in the following environment (for testing):

**Windows 10:**
`Version 1809 (OS Build 17763.503)`

**Visual Studio (Windows)**
`VisualStudioVersion = 16.0.4`

**Docker Desktop (Windows):**
`Version 2.0.0.3 (31259)
Channel: stable
Build: 8858db3`

**Docker Container (Linux) env

[2019-05-18 02:26] sunkaixuan commented on #2749
Old version is good.

[2019-05-18 02:47] rido-min commented on #2081
contracts have been shipped as nuget [Microsoft.Windows.SDK.Contracts](https://www.nuget.org/packages/Microsoft.Windows.SDK.Contracts) packages. Can we close this?

[2019-05-18 02:56] VidyaKukke opened #2750 "Server certificate validation failure on docker nanoserver-windows"
# Issue Title

I have a dotnet core app that is making httpclient requests to a service.
The service hosts a https endpoint and during connection presents its certificate.
Even though  i'm bypassing servercert validation my connection fails with the following error message:-

[code]

My httpClient is created with

[code]

I do see my message from callback so I know it is invoked  but still end up

[2019-05-18 03:03] rainersigwald commented on #2512
Yeah, not clear to me at all either. That's probably coming from [here](https://github.com/microsoft/msbuild/blob/0f3d8e94ac11dd892c0c2fadb28b1a42e0d45fb1/src/Tasks/GenerateResource.cs#L2810-L2811) but that's a fairly big catch block. We could try building a private copy of Microsoft.Build.Tasks.Core.dll that emitted the exception callstack?

[2019-05-18 03:41] sujayvsarma commented on #2716
@karelz - How do you prefer I share a repro with you?

[2019-05-18 04:56] danem32 commented on #2713
thanks for reply I got it working my security software was blocking it from exe.

[2019-05-18 05:55] dj2792 commented on #2749
The target version is preview5.

 :octocat: [From gitme iOS](http://flutterchina.club/app/gm.html)

[2019-05-18 09:25] guille31794 commented on #2739
So thats it!

I'm trying to install 18.10 sdk version and I forgot I'm running on 19.04 since a trouble a I got a few days ago that makes me reinstall and update.
So, by the moment I'm unable to install the sdk until a new update, isn't?
Thanks.

[2019-05-18 13:33] elvisbaugh commented on #2526
@ketchums Just a few weeks ago I was unble to install dotnet-sdk-2.2 on ubuntu 19.04. From what I have learnt during that time microsoft hadn't yet updated their packages so that dotnet-sdk-2.2  can be easily installed on 19.04. But now if you go on the microsft website here: https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-10/sdk-current

and follow their instructions to insta

[2019-05-18 16:13] periczeljkosmederevo commented on #2725
Hello Karel Zikmund,

I think that Microsofts operating system installed on my computer,
is not supported by this program.

It is WINDOWS XP HOME EDITION 32 BITS, with service pack 3.

All the best,
Perić Željko
periczeljkosmederevo@yahoo.com
home page

    петак, 17. мај 2019. 23:40:14 CEST, Karel Zikmund <notifications@github.com> је написао/ла:

Can you try to download again? Or try on another

[2019-05-18 18:00] grosch opened #2751 "dotnet command doesn't exist on macOS"
# Issue Title

dotnet command doesn't exist after installing SDK

# General

I just went to https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install and downloaded the SDK.  It installed without any errors.  I then closed all terminals and opened a new one, but the dotnet command doesn't exist.

I'm on macOS Mojave 10.14.4

[2019-05-18 19:53] omajid commented on #2714
cc @tmds

[2019-05-18 20:44] CPoffWebster commented on #2751
Have the same issue.

[2019-05-18 21:53] marceletchart opened #2752 "aspnetcore-runtime-2.2 not getting installed"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/sdk-current
Operating System: Linux Ubuntu 18.04 - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
I got an error after following the instructions on the above website.
The error mess

[2019-05-18 23:48] wfurt commented on #2734
note that debugging with visual studio should be ready soon. For now, lldb + sosplugin is only available option.

[2019-05-19 02:00] grosch commented on #2751
Their installer is screwy.  This will fix your issue:

[code]

[2019-05-19 02:03] CPoffWebster commented on #2751
Thank you this fixed the issue!

[2019-05-20 02:29] zegracia opened #2753 "No support for Ubuntu 19.04 yet - does not install because of broken dependencies"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/sdk-current
Operating System: Linux Ubuntu 19.04 - x64

After performing installation commands, I get the following output:

The following packages have unmet dependencies:
 dotnet-sdk-2.2 : Depends: aspnetcore-runtime-2.2 (>= 2.2.4) but it is not going to be installed
                  Depends: dotnet-r

[2019-05-20 07:22] zgpmc commented on #2741
I use the following address for the installation method: https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/sdk-2.2.204 . My system has been upgraded to 18.04 :The prompt cannot locate the package. Can offer some Suggestions .Thanks

[2019-05-20 07:52] tmds commented on #2714
@JMan7777 I'm trying to reproduce what you are seeing with a smaller application:

Program.cs:
[code]
Dockerfile:
[code]
Test:
[code]
The output is what is expected. Can you reproduce using this Program?

cc @luhenry @janvorli

[2019-05-20 10:11] Jaygem opened #2754 "System.Text.Encoding.CodePages could not be loaded"
# The System.Text.Encoding.CodePages namespace could not be loaded

I'm not sure if i should post the error here, so if it must be moved i'll move it

## Steps to reproduce

Through the cli :
[code]

In Program.cs :
[code]

(Translated) Error :
[code]

### Update

I was using the 3.0 preview 5 sdk to build the project.

sdk infos :

[code]

[2019-05-20 10:46] esmatullahmohabat opened #2755 "I downloaded the asp.net core sdk and installed and it doesn't appeare in my visual studio and even it doesn't response in cmd"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-05-20 11:50] Parcley commented on #2703
Thank you all for the clarification.

I have linked this issue in the mentioned JFrog issue.

- `dotnet restore` is working correctly and is NuGet protocol v3 compliant.
- JFrog Artifactory is case-sensitive with regard to IDs and thus not NuGet protocol v3 compliant.

[2019-05-20 11:50] #2703 closed

[2019-05-20 12:30] Aayush1008 opened #2756 "Dotnet issue in MS Visual Studio Code"
dotnet : The term 'dotnet' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of  the name, or if a path was included, verify that the path is correct and try again. At line:1 char:1 + dotnet + ~~~~~~     + CategoryInfo          : ObjectNotFound: (dotnet:String) [], CommandNotFoundException     + FullyQualifiedErrorId : CommandNotFoundExceptio

[2019-05-20 12:54] akempe commented on #1675
@holtjonathan I ran into this exact issue in an Azure Pipeline and fixed it by ensuring the pipeline got the latest version of nuget. I added the following before doing any builds. HTH you, anyone else who finds themselves here (and my future self debugging the same issue)!

`- task: NuGetToolInstaller@0`

[2019-05-20 12:59] JMan7777 commented on #2714
@tmds I will give it a try tomorrow.

Maybe you also can check the example project I gave to you.
As I mentioned earlier I have the same issue running my app in a Linux Docker container in Azure.

Will keep you updated.

Thx.

[2019-05-20 13:36] holtjonathan commented on #1675
Thanks for the suggestion @akempe.  Forgive my newb experience with these pipelines but what type of task would I add so that I can get the latest version of nuget?

[2019-05-20 13:49] holtjonathan commented on #1675
Nevermind...I see there is literally a task called "NuGetToolInstaller".  I added this task to the beginning of my build and everything built successfully!  Thanks @akempe!

[2019-05-20 14:49] odalet opened #2757 "Question: SxS install of SDK v2.2.204 and 2.2.107"
# SxS install of SDK v2.2.204 and 2.2.107

In various places I read that depending on the version of Visual Studio one uses, he should install preferably Version 2.2.107 (for VS2017) or Version 2.2.204 (for VS2019). In my case, I've installed both VS versions (specifically v15.8.2 and v16.0.0).

I wonder:
* Whether Side by side install of both SDKs allows seamless usage in both VS?
* In case SxS i

[2019-05-20 15:04] odalet commented on #2757
OK, answering (at least partially) my own question:
* After having installed SDK v2.2.107, then SDK v2.2.204,
  * VS 2019 can correctly build a netcoreapp2.2 project (just tested with the default generated console app, so it does nothing...)
  * VS 2017 cannot build anything targeting .NET Core >= 2.0 (in the Project Properties > Application tab > Target Framework combo, I can only see .NET Core 1

[2019-05-20 15:07] tkstanczak commented on #2471
seems that another user has a similar issue with the package that runs everywhere else (and was built as a self contained package)
https://github.com/NethermindEth/nethermind/issues/492

[2019-05-20 15:17] #2081 closed

[2019-05-20 15:58] leecow commented on #2460
Yes, I'll get with @rowanmiller to talk through how we might do cover this scenario.

[2019-05-20 16:03] directhex opened #2758 "releases.json missing 2.2.203 and 2.2.204 SDK"
DotNetCoreInstaller@0 uses https://github.com/dotnet/core/blob/master/release-notes/releases.json as its source of truth on SDKs which exist

That file was last updated on 2019-04-03, so is missing .NET Core 2.2.4 and 2.2.5 (and matching SDK versions) which were released after 2019-04-03

[2019-05-20 16:22] SurferJeffAtGoogle opened #2759 "E: Unable to locate package dotnet-sdk-2.2"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/debian9/sdk-current
Operating System: Linux Debian 9 - x64

I think my corp machine is locked down and prevents me from installing the microsoft key.  Is there another way to install?

[code]

[2019-05-20 21:27] joperezr commented on #2743
Can you either share a minimal repro or describe what is your app trying to do? Are you trying to use reflection to load or run some code in a specific assembly which targets .NET Standard? Are you running in .NET Framework?

[2019-05-21 04:30] JMan7777 commented on #2714
@tmds I did a small test with your example.

It works as it should. My Docker environment is configured to use 3 CPU's (Physically I have 4 CPU's).

The output is correct:

`C:\Temp>docker build . -t dotnet_app`
`Sending build context to Docker daemon  3.072kB`
`Step 1/5 : FROM mcr.microsoft.com/dotnet/core/sdk:3.0`
` ---> 1ff83de4bdba`
`Step 2/5 : RUN dotnet new console -o console`
` ---> Using c

[2019-05-21 05:10] tmds commented on #2714
@JMan7777 I can reproduce the issue.

The ProcessorCount 1 value comes from sched_getaffinity returning 1 cpu.
@janvorli maybe this is caused by changes in https://github.com/dotnet/coreclr/pull/23824?

[2019-05-21 06:48] karelz commented on #2725
XP is out of support on its own. Upgrade to supported OS version please.

[2019-05-21 06:48] #2725 closed

[2019-05-21 06:50] karelz commented on #2716
Ideally create steps to repro on new project. Post minimal code here as code block.

[2019-05-21 07:37] tmds commented on #2714
This reproduces also outside Docker.

Looking at the strace, it seems getaffinity with pid zero is returning the affinity of the current thread and not the process:
[code]
So if ProcessorCount is called on a thread that has affinity with a specific processor, it will return 1.

[2019-05-21 07:42] arthis opened #2761 "dotnet-sdk-3.0.100-preview5-011568-linux-x64 restore fails on ubuntu for private feeds"
# Issue Title

I am using ubuntu 16.04
when performing dotnet restore upon project that references nuget within private  feeds ( in my case , TFS 2017), it fails. The problem is a nuget related one that has been solved in the version 5.2.

Currrently the version of nuget included in the 3.0.100 version of the sdk include the 5.1 version.

When is it planned to include version 5.2 to solve the issu

[2019-05-21 12:56] tmds commented on #2714
@karelz @joperezr can you move this one to coreclr please?

[2019-05-21 14:28] leecow commented on #2758
@directhex, I'm seeing this content in the current [releases.json](https://raw.githubusercontent.com/dotnet/core/master/release-notes/2.2/releases.json). Do you have a fork or branch you're working from that needs a refresh?

[2019-05-21 14:37] directhex commented on #2758
It looks like a generic unversioned releases.json is used?

`Could not fetch download information for version 2.2.203. Please check if the version specified is correct. You can refer the link for supported versions => https://github.com/dotnet/core/blob/master/release-notes/releases.json. Falling back to creating convention based URL.`

It looks like the problem might be specific to `DotNetCoreIns

[2019-05-21 14:43] leecow commented on #2758
I'm not familiar with `DotNetCoreInstaller@0` or `DotNetCoreInstaller@1`. Where do they come from?

[2019-05-21 14:47] directhex commented on #2758
Various versions of the Azure DevOps tasks to install .NET Core. Which seems to have changed again since last week. https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/dotnet-core-tool-installer?view=azure-devops

[2019-05-21 15:07] leecow commented on #2758
Interesting, I didn't know about that. I can try to find the maintainers on this side to update their tool and perhaps you could drop a comment on the tool page. Between those, we'll find the right people.

[2019-05-21 15:07] smartdatasatyaranjannayak commented on #2495
after install don.net SDK not run dot.net command

[2019-05-21 15:19] restrellasosa opened #2762 "NO PUEDO CREAR CONTROLADORES EN LA VERSION SDK 3.0 PREVIEW. VS2019"
![Capture](https://user-images.githubusercontent.com/6253560/58108572-17816400-7bba-11e9-8a33-bcdd4e43629a.JPG)

# Issue Title

Be as descriptive as you can with your title.

# General

Provide details on the problem you are experiencing including the .NET Core version, operating system version and anything else that is relevant.

Please provide a code sample for your issue if it is relevant, eith

[2019-05-21 15:20] karelz commented on #2714
@tmds  given the back and forth, maybe it would be better to just file a new issue with clear repro in CoreCLR and then close this one as dupe ...

[2019-05-21 15:33] jorgenfhlarsen opened #2763 "Problems installing DOTNET on UBUNTU 19.04"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu19-04/sdk-current
Operating System: Linux Ubuntu 19.04 - x64

Hi

Trouble installing DOTNET on UBUNTU 19.04

pi@pi:~$ sudo apt-get install dotnet-sdk-2.2
Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages could not be installed. This may mean that you have
re

[2019-05-21 15:40] tmds commented on #2714
@karelz created https://github.com/dotnet/coreclr/issues/24686

[2019-05-21 15:48] MattGal commented on #2758
@leecow not something our team owns, but from skimming through their code at  https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/DotNetCoreInstallerV0 and V1, I'd ask folks like @hiyadav or @bishal-pdMSFT , who have touched it in functional ways recently for a redirection.

[2019-05-21 15:51] antoniomfc opened #2764 "WCF in my WPF .NET Core 3.0"
# WCF in my WPF .NET Core 3.0

Hi everyone, how can I import a WCF in my project developed in .NET Core 3.0?

[2019-05-21 16:11] karelz commented on #2764
Just use WCF client library: https://github.com/dotnet/wcf ... same way you do on .NET Framework.

[2019-05-21 16:11] #2764 closed

[2019-05-21 16:12] karelz commented on #2714
Duplicate of https://github.com/dotnet/coreclr/issues/24686

[2019-05-21 16:12] #2714 closed

[2019-05-21 16:12] karelz commented on #2714
Thanks @tmds

[2019-05-21 16:14] karelz commented on #2762
Quick search on internet leads to this: https://developercommunity.visualstudio.com/content/problem/431328/scaffolding-error-there-are-no-scaffolders-support.html

[2019-05-21 16:14] #2762 closed

[2019-05-21 16:16] karelz commented on #2753
Duplicate of #2526

[2019-05-21 16:16] #2753 closed

[2019-05-21 16:16] karelz commented on #2763
Duplicate of #2526

[2019-05-21 16:16] #2763 closed

[2019-05-21 16:18] karelz commented on #2713
Happy to hear it worked.

[2019-05-21 16:18] #2713 closed

[2019-05-21 17:11] hiyadav commented on #2758
@directhex
We have released 2.* version of DotNetCoreInstaller task, which uses the updated json file: [releases-index.json](https://github.com/dotnet/core/blob/master/release-notes/releases-index.json), to find out download URL. You can use 2.* version for all the new versions of .Net core sdk/runtime.

Both 1.* and 2.* versions were very recently released with some breaking changes in respect to

[2019-05-21 18:01] Grandy631 opened #2765 "dotnet 2.2 issue ubuntu"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: Linux RHEL - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

My terminal says dotnet is not installed ,whereas dotnet was installed and it can be refreshed by snap b

[2019-05-21 19:11] #2758 closed

[2019-05-21 19:12] directhex commented on #2759
Can you un-redact the `[Redacted]`?

[2019-05-21 20:03] Ihavenoideawhatido opened #2766 "Access denied to path C:\\windows\system32\file.resources"
# Issue Title

Be as descriptive as you can with your title.

# General

Provide details on the problem you are experiencing including the .NET Core version, operating system version and anything else that is relevant.

Please provide a code sample for your issue if it is relevant, either inline, link to a gist (or similar) or add it as a zipped attachment.

For some issues, you will get a quicker

[2019-05-21 20:04] Ihavenoideawhatido opened #2767 "Access denied to path C:\\windows\system32\file.resources"
I get this error everytime i try to bind files togetherer.

So i don't know much about computer and have searched for solutions but can't really understand how to fix this issue at hand. So i'm looking for someone to explain this to me like im five lol.

[2019-05-21 20:18] #2766 closed

[2019-05-21 21:32] SurferJeffAtGoogle commented on #2759
No.  That would leak confidential information.  The jist of it though is that microsoft's key isn't being added, and no microsoft package sources are looked at.  My corp config locks my machine down so I can't do that.

[2019-05-21 22:53] zegracia opened #2769 "dotnet-sdk-2.2 does not install because of missing libssl1.0 in Ubuntu 19.04"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu19-04/sdk-current
Operating System: Linux Ubuntu 19.04 - x64

Ubuntu 19.04 has libssl1.1, and not 1.0. This results in broken packages error, so dotnet-sdk-2.2 does not install.

[2019-05-22 00:05] directhex commented on #2759
Does 'apt-key list' show the key? This reminds me of Debian bug 733028

Sent from my iPhone

[2019-05-22 00:37] 15092368540 opened #2770 "How the error message is displayed by Chinese with .NET Core 3.0.0-preview5"
![Net Framework](https://user-images.githubusercontent.com/49462433/58139337-d007e000-7c6c-11e9-954c-345618c45402.png)
![Net Core 3](https://user-images.githubusercontent.com/49462433/58139338-d0a07680-7c6c-11e9-9194-3ea4027e5031.png)

[2019-05-22 07:54] johnny-intergreat opened #2772 "Cannot run dotnet in command prompt"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/install
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-05-22 09:09] AdvancedPowerArmor commented on #2755
I think you can try repair Visual Studio 2019 via Control Panel and then try to reinstall .NET Core.

[2019-05-22 13:07] hakimio commented on #1968
@seanfisher
According to some people who tried Lambda Native, it's not usable for anything more than a simple demo since CoreRT is very limited:

[2019-05-22 14:38] dmantilla9 opened #2773 "dotnet runing error"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-05-22 15:20] hrugani opened #2774 "Error when installing a dotnet App on my Windows 10 desktop (dev mode)"
Operating System: Windows 10

I am trying to install an app via ps script on my windows 10 desktop (dev mode).

**I am getting the following error:**

"Windows cannot install package XXXXX.com.op2b.smartax_1.0.1.0_x86__v1qg3v2068v1t because this package depends on a
framework that could not be found. Provide the framework "Microsoft.NET.CoreRuntime.1.0" published by "CN=Microsoft
Corporation, O=Mi

[2019-05-22 15:46] JSkimming opened #2775 "Massive xunit test performance degradation in .NET core 2.1.700 and 2.2.300"
FYI. I haven't raised this against xunit, because the only difference is the two releases of .NET Core.

# General

Operating System

* OS: Linux - specifically containers
* Versions: 2.1.700 and 2.2.300

I've found that the latest release .NET Core 2.1 & 2.2 have introduced a performance degradation when executing xunit tests via `dotnet test`.

I have found this with 3 different OSS projects I m

[2019-05-22 15:50] #2759 closed

[2019-05-22 15:56] karelz commented on #2775
Did you get a chance to collect traces and compare where the difference comes from?
Given that latest version is fast, is it worth investigation?

cc @adamsitnik @billwert @brianrob

[2019-05-22 15:57] karelz commented on #2773
Closing as there is no error description or anything else actionable.
Feel free to reopen if you have more details. Thanks!

[2019-05-22 15:57] #2773 closed

[2019-05-22 15:59] karelz commented on #2772
You need to start new cmd window. If that does not help, check your installation / try on another VM/machine.
Closing, feel free to reopen of it persists.

[2019-05-22 15:59] #2772 closed

[2019-05-22 16:00] JSkimming commented on #2775
@karelz It's the latest versions that are slow.

Not yet, how should I go about collecting traces?

[2019-05-22 16:02] karelz commented on #2774
Get the 1.0 download: https://dotnet.microsoft.com/download/dotnet-core

[2019-05-22 16:02] #2774 closed

[2019-05-22 16:06] karelz commented on #2775
oh, I didn't notice it is minutes, not seconds. That is bad.
@adamsitnik can you please take a look? This looks serious.

@livarcocc @nguerrera is it a known issue?

[2019-05-22 16:15] JSkimming commented on #2775
@karelz I'm unable to replicate it on my machine 😉

![worksonmymachine](https://user-images.githubusercontent.com/647706/58190565-b5595980-7cb4-11e9-928e-bfa95fceb3fc.png)

I've tried on Windows, WSL and Docker (there's a helper [Dockerfile](https://github.com/JSkimming/abioc/blob/43c6bd4700d8bd1658fc879d70b3550ba2178fd4/Dockerfile) in the root of the repo), but given it's happening on two differe

[2019-05-22 16:20] karelz commented on #2775
OK, that is interesting - I assume we will have similar problems to replicate it.
Are you able to reproduce it on similar machine setup in cloud? (similar VM used by the CI systems)

[2019-05-22 16:28] mcintyre321 opened #2776 "dotnet-sdk-2.2 has unmet dependencies"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu19-04/sdk-current
Operating System: Linux Ubuntu 19.04 - x64

I get an error when i install 2.2:
[code]

[2019-05-22 16:53] JSkimming commented on #2775
Quite possibly.

Nope, I haven't tried that. I'm not in a position to try that at the moment either.

[2019-05-22 17:54] brianrob commented on #2775
I'm going to try the [Dockerfile](https://github.com/JSkimming/abioc/blob/a2d062e/Dockerfile) out and see if I can reproduce the regression.

[2019-05-22 17:58] nguerrera commented on #2775
First I hear of it.

[2019-05-22 18:02] nguerrera commented on #2775
Strangely, the dotnet test runs are reporting mere seconds of total time while the overall job takes much longer. Is it possible to get timestamps at the start/end of each command?

[2019-05-22 18:09] nguerrera commented on #2775
CC @singhsarab

[2019-05-22 18:15] JSkimming commented on #2775
@brianrob I've just pushed an updated Dockerfile, and I'm experimenting with tweaking the following:

[code]

You need to keep changing CACHE_BUST and it will cache up to the test execution.

@nguerrera I've just pushed an update to display the dates, checkout the builds of this PR JSkimming/abioc#82

[2019-05-22 19:25] brianrob commented on #2775
It seems that I'm not able to reproduce this either.

[2019-05-22 20:16] karelz commented on #2737
This is usually caused by background processes running on the machine, like antivirus, file monitoring, etc.
Use tools like ProcessExplorer to see who is touching the file and keeping it in weird state. Or just exclude your output directories from antiviruses, etc.

[2019-05-22 20:16] #2737 closed

[2019-05-22 20:23] karelz commented on #2749
Please create minimal repro that is actionable.
Once you have that, feel free to reopen.

[2019-05-22 20:23] #2749 closed

[2019-05-22 20:26] karelz commented on #2750
Check that your certificate is correctly installed.
Try it on different box - maybe regular Windows OS.

[2019-05-22 20:28] karelz commented on #2750
Then try to create a simple repro, ideally something you can share.

[2019-05-22 20:29] karelz commented on #2751
@dagood any idea who could help fix this in our installers?

[2019-05-22 20:31] karelz commented on #2752
@dagood can you please help here? This looks like a familiar failure ...

[2019-05-22 20:45] karelz commented on #2776
Duplicate #2526

[2019-05-22 20:45] #2776 closed

[2019-05-22 20:47] karelz commented on #2775
@brianrob is there something we can ask @JSkimming to collect that we can then analyze?

[2019-05-22 20:48] karelz commented on #2770
Exceptions are not localized on purpose in .NET Core. We do not expect exceptions to be user-facing. They are for developers.

[2019-05-22 20:48] #2770 closed

[2019-05-22 20:49] karelz commented on #2769
Duplicate of #2526

[2019-05-22 20:49] #2769 closed

[2019-05-22 20:50] karelz commented on #2767
What is the minimal repro that runs into this problem?

[2019-05-22 20:51] brianrob commented on #2775
Yes.  If you're able to reproduce the issue, please follow the instructions at https://github.com/dotnet/coreclr/blob/master/Documentation/project-docs/linux-performance-tracing.md to create a trace for each of the good and bad cases.  You don't need to capture the whole thing - let's just start with 20 seconds for each.

[2019-05-22 20:51] karelz commented on #2767
Also, does it happen to you on more than 1 machine? (try a brand new VM/machine)
Also, specify OS version please.

[2019-05-22 20:52] karelz commented on #2765
@dagood can you please help?

[2019-05-22 20:55] karelz commented on #2761
@livarcocc @nguerrera is it something you can help with or help route?

[2019-05-22 20:56] karelz commented on #2757
@livarcocc @nguerrera can you please help with this one?

[2019-05-22 20:59] nguerrera commented on #2757
Make sure that your VS 2017 is updated to 15.9.x and things would work fine SxS with VS 2017 pickinh 2.2.1xx and VS 2019 picking 2.2.2xx+. We did some work in 15.9 to make this happen. The behavior you describe sounds like you have 15.8 or earlier. If not, there's an issue that will need more info and investigation.

[2019-05-22 21:00] karelz commented on #2756
Sounds like a good issue for VS Code as it seems to be integration related.
If you have troubles with command line, please let us know here. Thanks!

[2019-05-22 21:00] #2756 closed

[2019-05-22 21:01] karelz commented on #2755
First make it work from cmd - you need to stat new cmd. If that does not work, check the installation, or try on another VM/machine.

[2019-05-22 21:01] #2755 closed

[2019-05-22 21:03] JSkimming commented on #2775
@brianrob any tips on how to get that running in a hosted CI system?

So far I've only been able to replicate the issue on CircleCI and Travis.

There's a lot of `sudo` and having multiple shell windows open in those instructions, none of which I'm sure I can do easily. I believe I can configure Travis to be able to use `sudo`, though I think that will change it from container builds to VMs, which

[2019-05-22 21:04] nguerrera commented on #2761
Routing to NuGet folks: @nkolev92 @rrelyea

[2019-05-22 21:25] JSkimming commented on #2775
@nguerrera I've updated the main description with links to the builds with timings between the commands.

[2019-05-22 21:42] nkolev92 commented on #2761
Not sure what is different in 5.2 from 5.1 that'd make this behave differently. We really do anything special networking wise on NuGet side.

As far as 5.2 in 3.0 is concerned, it should have already made it in the latest nightly builds.

The only other time I remember seeing a similar issue was https://github.com/NuGet/Home/issues/6902#issuecomment-414952160.
Is it maybe related to https://github

[2019-05-22 23:45] karelz commented on #2775
@JSkimming sadly we are not familiar with those environments.
If it is related only to specific environment (special container in CI systems), it may be very well some problem in the environment setup ...

[2019-05-23 00:15] stnlylee commented on #2526
I have a solution
https://medium.com/@stnlyli/install-netcore-2-2-sdk-on-ubuntu-19-04-36173134a142

[2019-05-23 06:21] JSkimming commented on #2775
OK, I think I've found the issue.

## TL;DR

On a hunch, I changed the script to stop displaying the output of `dotnet test`, and things are back to normal. See here for [CircleCI](https://circleci.com/gh/JSkimming/abioc/946), and here for [Travis](https://travis-ci.org/JSkimming/abioc/builds/536105959).

## The Hunch

I noticed the test output flickered when displaying a message.

Here's an examp

[2019-05-23 07:33] maszulfi opened #2777 "help"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/install
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-05-23 07:41] odalet commented on #2757
Thanks for the reply! Indeed I'm using 15.8.2; I'll give a try to updating my VS2017.

[2019-05-23 07:41] #2757 closed

[2019-05-23 09:36] mfjiang opened #2778 "about support risc-v"
# Issue Title

about support risc-v

# General

Does .net have plans to support the RISC-V architecture?

[2019-05-23 10:05] windsOne commented on #2778
I am equally curious if I can support it.

[2019-05-23 10:57] arthis commented on #2761
Indeed my Bad, I just check using nuget version 5.02 , it works with this version so the issue might not be the version of nuget after all. But the issue still exists.
Whant I do not get is that I have both NuGet.Config  files (~/.nuget/NuGet/NuGet.Config, and ~/.config/NuGet/NuGet.Config) identical to this script:

[code]

I do perform these steps :

[code]
Msbuild is called and the nuget in the

[2019-05-23 13:11] Amine-Smahi opened #2779 "Cant install new template [ not compatible with netcoreapp1.0 ]"
I cant install the [Razor-Component-Template](https://www.nuget.org/packages/Razor-Components-Template/) from nuget.org

![image](https://user-images.githubusercontent.com/24621701/58255226-708cfb80-7d64-11e9-9ad4-ff512e70df0e.png)

[2019-05-23 13:46] jigarBiskitwala opened #2780 "Windows desktop application in .net core 3.0 preview version is not running with .net core 3.0 runtime version"
I have a windows desktop application in .net core 3.0 preview, when I publish it and run on different machine, it is not working with .net core 3.0 preview run time version.
As per my knowledge, sdk is for development. And to run on other machine it only need .net core run time version.

In my case on other machine, it is working only with  .net core 3.0 preview sdk but not with .net core 3.0 prev

[2019-05-23 15:00] cuvillier commented on #1622
My build just stuck beacuse of a "Bad IL format" .

I just clean up all the nuget caches (local & global) and restore everything.
Then, it works...

Hop this help.

[2019-05-23 15:23] fenriv commented on #2716
I have similar issues. In my case the message is following:

Environment:
Windows 10 Pro
Visual Studio 2019 (16.1.0)

Project:
SDK -> NETStandard.Library 2.0.3
NuGet -> "System.ComponentModel.Annotations" Version="4.5.0"

Class:
[code]

While the "Generate serialization assembly" is set to "on" project build fails with the error message above.
Removal of nuget reference resolves the issue. Usage o

[2019-05-23 15:24] karelz commented on #2775
Awesome to see we are closer to a root cause!
@nguerrera do you have an idea if CLI is responsible for too frequent text update in this case?

[2019-05-23 15:52] nguerrera commented on #2775
Looks like https://github.com/microsoft/vstest/pull/1964

@singhsarab

[2019-05-23 15:55] karelz commented on #2777
No details or problem description at all. Closing.
Feel free to reopen if you have a specific question/problem. Thanks!

[2019-05-23 15:55] #2777 closed

[2019-05-23 16:00] karelz commented on #2780
Are you able to reproduce it with HelloWold app? Is it UI app? WinForms or WPF?

[2019-05-23 16:01] JSkimming commented on #2775
@nguerrera Ahh, I misread the numbers. The earlier (working) release was 16.0.1, and those changes when into 16.1.0. So it is in vstest.

[2019-05-23 16:02] dbulic opened #2781 ".NET Core 3.0 WPF application not aware of display scaling"
# Issue Title

.NET Core 3.0 WPF application not aware of display scaling

# General

My desktop is scaled 150% as I have a 5k screen.
Using .NET Core 3.0 Preview 5 in Visual Studio Preview 2019 (16.2 Preview 1.0) - the latest of both. Created straight WPF applications via New Project, one for .NET Core, another one for .NET Framework 4.7.2. Added a single TextBlock to each.
Attached both sample s

[2019-05-23 16:04] leecow commented on #2752
This is caused by a system dependency not being found by the dependency package installer. Could you `sudo apt-get install dotnet-runtime-deps-2.2`? This will tell us exactly which package it's not finding in the Ubuntu repos.

[2019-05-23 16:04] BillHenning commented on #2781
This absolutely needs fixing prior to .NET Core 3.0 RTM.

[2019-05-23 16:08] leecow commented on #2751
The Mac installer does not create a symlink, it adds /usr/local/share/dotnet to PATH. We can discuss if changing the approach makes sense as well as try to figure out why PATH was not updated in this case.

[2019-05-23 16:11] leecow commented on #2765
Can you run `snap list` to confirm the dotnet sdk is installed? If so, try `dotnet-sdk.dotnet --info`. Our snap installer currently uses a different default namespace so commands start with `dotnet-sdk.dotnet` instead of just `dotnet`.

[2019-05-23 16:17] rynowak commented on #2779
@Amine-Smahi - this is a template you created right?

![image](https://user-images.githubusercontent.com/1430011/58269085-a2d63300-7d3b-11e9-866f-50bb87cd5342.png)

[2019-05-23 16:17] karelz commented on #2778
There are currently no plans to support additional processor architectures.
You can check Mono if it has that support.

[2019-05-23 16:17] #2778 closed

[2019-05-23 16:20] #2739 closed

[2019-05-23 17:44] grosch commented on #2751
@leecow Updating the PATH is *never* the right thing to do.  You have no idea how the system or the user's environment is configured.  Every time you add to the path, for example, the shell has to re-find everything.  The path should be set one and only one one time for performance reasons.

Regardless, you're making an assumption as well that I'm using Bash as my shell, for example.  I hate bash,

[2019-05-23 17:58] leecow commented on #2751
Thanks for that feedback @grosch. We'll have a look at making the change. Moving this issue to core-setup.

[2019-05-23 17:58] #2751 closed

[2019-05-23 17:58] leecow commented on #2751
Issue moved to [dotnet/core-setup #6521](https://github.com/dotnet/core-setup/issues/6521) via [**ZenHub**](https://www.zenhub.com/)

[2019-05-23 18:17] paillave opened #2782 "impossible to install not net core sdk 2.2 on linux ubuntu 19.04"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu19-04/sdk-current
Operating System: Linux Ubuntu 19.04 - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

I run into an issue trying to install .net core sdk 2.2 on linux ubuntu 19.04.
I fo

[2019-05-23 18:22] JSkimming commented on #2775
From a quick reading of the code I think I may have identified the issue.

The ProgressIndicator [clears](https://github.com/microsoft/vstest/blob/v16.1.0/src/vstest.console/Internal/ProgressIndicator.cs#L67-L73) and redisplays the progress message whenever it receives successive calls to [Pause()](https://github.com/microsoft/vstest/blob/v16.1.0/src/vstest.console/Internal/ProgressIndicator.cs#L8

[2019-05-23 18:23] nkolev92 commented on #2761
dotnet.exe should work mostly the same as nuget.exe. The only different is that dotnet.exe does not support packages config.

As far as config reading goes they should be the same.
If you enable normal or verbose logs you will be able to see which configs NuGet uses.

[2019-05-23 18:25] Amine-Smahi commented on #2779
Yes @rynowak

[2019-05-23 18:27] nguerrera commented on #2775
@karelz This should be moved to microsoft/vstest repo.

[2019-05-23 18:27] nguerrera commented on #2775
@JSkimming Awesome work tracking this down!

[2019-05-23 19:32] paillave commented on #2782
I finally got it installed running the following:
[code]

Still, it is not normal that the normal installation procedure doesn't work properly.

[2019-05-23 21:08] JSkimming commented on #2775
@karelz I've raised this PR microsoft/vstest#2024, all feedback is welcome.

Do you want to raise this as an issue in the [microsoft/vstest](https://github.com/microsoft/vstest) repo, I'm happy to do it if it helps.

[2019-05-24 02:08] marceletchart commented on #2752
@leecow
Running the install for dotnet-runtime-deps-2.2 yields the following:
The following packages have unmet dependencies:
 dotnet-runtime-deps-2.2 : Depends: libssl1.0.0 but it is not installable
                           Depends: libicu60 but it is not installable
E: Unable to correct problems, you have held broken packages.

[2019-05-24 04:16] martore opened #2783 "Package Microsoft.AspNetCore.Identity.EntityFrameworkCore is not compatible with netstandard2.1"
# Package Microsoft.AspNetCore.Identity.EntityFrameworkCore is not compatible with netstandard2.1

# General
Can not add Microsoft.AspNetCore.Identity.EntityFrameworkCore (v3.0.0-preview5.19227.1) to class library (netstandard2.1). The following error appears:

`Error NU1202 Package Microsoft.AspNetCore.Identity.EntityFrameworkCore 3.0.0-preview5-19227-01 is not compatible with netstandard2.1 (.NE

[2019-05-24 05:03] karelz commented on #2775
Awesome. Please open issue there if they need it, but maybe PR is enough. We can't move issues cross-org.
ZenHub would make just a copy.

Awesome work, thanks a ton!!!

[2019-05-24 05:03] #2775 closed

[2019-05-24 11:45] ruimaciel opened #2784 "Dotnet test hangs when running on a multi-project solution"
I've just upgraded to dotnet 2.2.300 and since the upgrade I've started experiencing a problem running unit tests.

I have multi-project solutions which store all unit tests in a dedicated subfolder, and when I run `dotnet test` in the solution directory the test project hangs with the following output:

[code]

Oddly enough, if I run `dotnet test` within the directory of each unit test, everythin

[2019-05-24 11:47] #2784 closed

[2019-05-24 13:18] ogauthier opened #2785 "Error installing .net core 2.2 in WSL with openSUSE Leap 42"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: Linux openSUSE Leap - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Running this command
sudo zypper install dotnet-sdk-2.2
gave this message:
Problem: dotnet-sdk-

[2019-05-24 13:42] ogauthier commented on #2785
I selected Solution 1, deinstallation of krb5-mini-1.12.5-25.1.x86_64 and the installation completed.
Dotnet seems to run fine now.

[2019-05-24 13:47] dagood commented on #2728
As a historical note, on ~May 20th we got 19.04 instructions available:
https://dotnet.microsoft.com/download/linux-package-manager/ubuntu19-04/sdk-current

[2019-05-24 13:53] dagood commented on #2526
As of ~May 20th, 19.04 shows up in the dropdown!

I hoped I was clear with [my earlier comment](https://github.com/dotnet/core/issues/2526#issuecomment-492403195) how to get the 19.04 packages installed without instructions, but it appears the work was duplicated a couple times. Sorry about that, I'm giving some thought on how to make that happen less often.

[2019-05-24 14:52] dagood commented on #2739
Cool, thanks for checking it out. 😄

Docs for 19.04 are up as of around May 20th, should be good to go. (https://github.com/dotnet/core/issues/2728)

(Maybe you saw this and that's why you closed the issue, but just making sure.)

[2019-05-24 16:01] guille31794 commented on #2739
Indeed! After the update in the official website all came back to normality and I was able to install the package as usual.
Thank you for your support! <3

[2019-05-24 16:48] ajcvickers commented on #2783
@martore ASP.NET Core Identity currently targets .netcoreapp3.0. However, see https://github.com/aspnet/AspNetCore/issues/3774

[2019-05-24 16:48] #2783 closed

[2019-05-24 17:21] mchenx opened #2786 "docker container (based on 2.1-runtime-apline) crashed with no logs/errors/exceptions"
I'm not sure if this is the right place to raise the issue...(or maybe it's not an issue at all)

I have an netcoreapp2.0 web application and it was compiled based on microsoft/dotnet:2.1-sdk-alpine, and then copied to the new image based on microsoft/dotnet:2.1-runtime-alpine.

The docker container of this new image runs fine on azure vm or vmware workstation on my laptop, or windows 10 (wsl). Ho

[2019-05-24 18:30] Pilchie commented on #2722
Closing due to lack of response. @inabeel Please let us know if you have more details here.

[2019-05-24 18:30] #2722 closed

[2019-05-24 18:31] Pilchie commented on #2715
Closing due to lack of response.  @chitranjan32 This sounds like an issue with your Docker setup.

[2019-05-24 18:31] #2715 closed

[2019-05-24 18:34] Pilchie commented on #2779
Should this issue be moved to a different repo then?

[2019-05-24 19:00] KhadayatShailendra commented on #2473
Thanks @gortok changing encoding in notepad++ to ANSI worked for me.

[2019-05-24 19:12] rynowak commented on #2779
This seems like a question about how to author templates. @Amine-Smahi - there's a tutorial [here](https://docs.microsoft.com/en-us/dotnet/core/tutorials/create-custom-template). I'm guessing that the problem is that you have a target for netcoreapp3.0.

@kevinpi As far as whether that's a bug in the templating system or not, I don't know the answer or where those bugs list. @natemcmaster @vijayrk

[2019-05-24 19:26] vijayrkn commented on #2779
If it an issue in the templating engine, then https://github.com/dotnet/templating is the right place. @SeancPeters - do you know if this is a template content issue or an engine issue?

[2019-05-24 20:03] seancpeters commented on #2779
The Razor-Components-Template nupkg on nuget.org contains .dlls in the lib\netcoreapp3.0 directory. Are these required to ship with the nupkg, or are these build artefacts that mistakenly got packaged into the nupkg?

I believe those .dlls are causing the netcoreapp3.0 dependency in the .nuspec, as @rynowak mentioned.

In general it is a problem for a template nupkg to contain both templates and .

[2019-05-24 23:12] NathanHannon opened #2787 "Ubuntu 19.04 instructions don't add repo to list"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu19-04/sdk-current
Operating System: Linux Ubuntu 19.04 - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

After following the instructions, the repo doesn't show up in my list or when I do

[2019-05-25 05:25] dagood commented on #2780
Overall, this is true, and it's called "[framework-dependent deployment](https://docs.microsoft.com/en-us/dotnet/core/deploying/#framework-dependent-deployments-fdd)" (FDD). The problem is there is no official standalone installer for the WindowsDesktop runtime available yet--it's only included as part of the SDK. Getting proper installers for WindowsDesktop runtimes is tracked by https://github.c

[2019-05-25 05:25] #2780 closed

[2019-05-25 07:49] totokliem opened #2788 "Run your app"
This site can’t be reached
localhost refused to connect.

[2019-05-25 14:24] xxl354424 opened #2789 "Problem"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/modify
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[code]

[2019-05-25 15:11] amitbhi opened #2790 "Creating this template will make changes to existing files:"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/create
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

I'm using windows 10 and installed .net
I'm new to this so was following instructions. I got the following err

[2019-05-25 19:08] karelz commented on #2790
Run the command in new directory, not in existing one and it should work.
It seems you ran the command twice in the same directory ...

[2019-05-25 19:08] #2790 closed

[2019-05-25 19:10] karelz commented on #2789
@xxl354424 it is unclear what the error is. Can you please post it in English? We do not have capability to reply to non-English bug reports. Thanks!

[2019-05-25 19:11] karelz commented on #2788
Check your machine settings - firewall, etc. which may block the port.
See other similar issues: https://github.com/dotnet/core/issues?q=is%3Aissue+localhost+is%3Aclosed

[2019-05-25 19:11] #2788 closed

[2019-05-25 19:12] karelz commented on #2787
Duplicate of #2526

[2019-05-25 19:12] #2787 closed

[2019-05-25 19:13] karelz commented on #2782
Duplicate of #2526

[2019-05-25 19:14] karelz commented on #2782
@dagood @leecow do we have some how-to for Ubuntu 19.04? Maybe entry in the issue template to avoid all these duplicates?

[2019-05-25 19:15] karelz commented on #2785
@dagood @leecow anything we should do here? Maybe better docs/instructions?

[2019-05-25 19:16] karelz commented on #2697
You're having problem with .NET Framework, not .NET Core. Please use Microsoft support channel, or VS Feedback - that's where we track .NET Framework issues. Thanks!

[2019-05-25 19:16] #2697 closed

[2019-05-26 06:00] dagood commented on #2785
Our package has a dependency on [`krb5`](https://software.opensuse.org/package/krb5) rather than [`krb5-mini`](https://software.opensuse.org/package/krb5-mini)--I'm guessing they conflict because they provide (mostly) the same functionality. I don't know if .NET Core requires any of the features that `krb5-mini` is intentionally missing.

If we support running on either package, we're unfortunatel

[2019-05-26 06:42] dagood commented on #2782
This isn't quite a duplicate. @paillave, I see `18.04` in your first attempt to apply a workaround, were you applying the workaround from https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/sdk-current?

If so, that's the right thing to try, and splicing in 19.04 like it looks like you did is the right fix. The 19.04 install page *should* have this workaround, but it's missing

[2019-05-26 08:32] johnlarfour opened #2791 "error MSB4019 .NET Core 3.0.100-preview5-011568 Linux"
I downloaded .NET Core 3.0.100-preview5-011568 SDK and I have installed on my system follow this guide https://dotnet.microsoft.com/download/thank-you/dotnet-sdk-3.0.100-preview5-linux-x64-binaries.
Then i use this command ```dotnet new winforms -o app```
and then `dotnet run`

This is the output:
[code]

Did I do something wrong?

[2019-05-26 08:32] McClean opened #2792 "3.0.100 - preview5 OAuth functions not found"
While attempting a Twitter login to via the native Twitter package **[Microsoft.AspNetCore.Authentication.Twitter" Version="2.2.0"]**

I received the following error upon successful callback:

Twitter login was configured using the following snippet as taken from the guide [here](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/twitter-logins?view=aspnetcore-3.0)

[2019-05-26 10:08] svick commented on #2791
Winforms apps are not supported on Linux, so I think it's expected that this does not work.

[2019-05-26 12:26] Angr1st commented on #2707
@dagood  is there an eta when (dotnet/core-setup#5812) will be released?

[2019-05-26 19:33] ankitpanwar9196 opened #2794 "'dotnet' is not recognized as an internal or external command, operable program or batch file"
# Issue Title

Be as descriptive as you can with your title.

# General

Provide details on the problem you are experiencing including the .NET Core version, operating system version and anything else that is relevant.

Please provide a code sample for your issue if it is relevant, either inline, link to a gist (or similar) or add it as a zipped attachment.

For some issues, you will get a quicker

[2019-05-26 20:06] Skedaddle011 opened #2795 "cannot install dotnet 2.2.107 osx"
# Issue Title

Be as descriptive as you can with your title.

# General

Provide details on the problem you are experiencing including the .NET Core version, operating system version and anything else that is relevant.

Please provide a code sample for your issue if it is relevant, either inline, link to a gist (or similar) or add it as a zipped attachment.

For some issues, you will get a quicker

[2019-05-27 04:16] aaronfjerstad opened #2796 "Unable to locate package dotnet-sdk-2.2 (Ubuntu 19.04, key present)"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu19-04/sdk-current
Operating System: Linux Ubuntu 19.04 - x64

Unlike other reported bugs, the key is installed:

[code]

I ran each command found in https://dotnet.microsoft.com/download/linux-package-manager/ubuntu19-04/sdk-current. I have updated and upgraded and rebooted in every conceivable way. On the las

[2019-05-27 04:18] sujayvsarma commented on #2716
@karelz Here you go (sorry for the delay):

**My environment:**
Windows 10 Pro + Visual Studio 2019 16.2.0 Preview 1.0 (Community Edition)

**Repro steps:**
1. Open Visual Studio
2. Create a new **Class Library** project, select **.NET Core** and **C#** language. Accept all defaults, click on **Create**.
3. Once the project is ready and loaded, you will have `Class1` loaded in your editor.
4. Ensu

[2019-05-27 09:57] mchenx commented on #2786
after a few hours testing, I find that it doesn't matter if the framework is netcoreapp2.0 or netcoreapp2.1, what matters is the package reference is 2.0.x or 2.1.x.
If the referenced packages are 2.0.x and with 2.1-runtime-alpine, it causes such issue on macOS and vm on vsphere, but it works fine on azure vm and windows 10 WSL
If the reference packages are 2.1.x and with 2.1-runtime-alpine, it wo

[2019-05-27 12:55] McClean commented on #2792
This was my fault. My nuget wasn't set to allow previews and so I didn't get the latest twitter and OAuth packages.

[2019-05-27 12:55] #2792 closed

[2019-05-27 16:28] lixiaodong opened #2798 "mac cannot run dotnet when i install dotnet"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: macos

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-05-27 19:25] 58789 opened #2799 "net"
# Issue Title

Be as descriptive as you can with your title.

# General

Provide details on the problem you are experiencing including the .NET Core version, operating system version and anything else that is relevant.

Please provide a code sample for your issue if it is relevant, either inline, link to a gist (or similar) or add it as a zipped attachment.

For some issues, you will get a quicker

[2019-05-27 21:43] craigdanforthHome opened #2800 "MSBUILD : error MSB1001: Unknown swith."
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/create
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-05-27 21:48] craigdanforthHome commented on #2800
when I ran new webApp -o --no--https
[error for #2800.txt](https://github.com/dotnet/core/files/3225034/error.for.2800.txt)

[2019-05-27 21:49] craigdanforthHome commented on #2800
I attempted to attach the command verbiage.

[2019-05-27 23:14] seba-i commented on #948
I had to kill all processes on the port, see [this link](https://til.hashrocket.com/posts/e4c8c665a8-find-and-kill-all-processes-listening-on-a-port).

[2019-05-28 07:57] dupr0n opened #2801 "Integrated terminal in vscode doesn't recognise dotnet"
![dotnet](https://user-images.githubusercontent.com/40289345/58460853-0dc4a700-814c-11e9-8e42-2acf7e005a43.JPG)
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

You'll find an image, attached to this post, which shows that dotnet is installed, but the integrated terminal in vscode doesn't pick up on it. I also tried using an e

[2019-05-28 08:17] sujayvsarma opened #2802 "System.Text.Json is a waste of time."
I don't get why the .NET Core Json module (`System.Text.Json`) is modelled after the old Xml DOM pattern with objects like `JDocument`, `JElement` and so on. Of course, the complete absence of samples [ref](https://twitter.com/sujayvsarma/status/1132969895505858562) makes it impossible to see if there is a better way around.

If I was doing this, I would simply merge the hugely popular (and only u

[2019-05-28 10:40] Szer commented on #2802
This is hugely opinionated because [problems](https://github.com/JamesNK/Newtonsoft.Json/issues/862#issuecomment-237539075) with Newtonsoft.Json are [well known](https://github.com/JamesNK/Newtonsoft.Json/issues/924) and plenty.
Performance is not that good too.

On the other hand, there are a bunch of popular serializers:
- https://github.com/neuecc/Utf8Json
- https://github.com/fsharp/FSharp.Dat

[2019-05-28 11:30] sujayvsarma commented on #2802
@Szer : ".NET Core" by itself is a hugely opinionated library. So yes, my post was opinionated.

Both the problems you have referenced are even issues. The first one is by design and the second one can be changed by a simple option flag. I use the library (Newtonsoft.Json) quite heavily across multiple projects, even enterprise and cloud-scale applications and have zero problems with it [I am voci

[2019-05-28 13:46] ableji opened #2803 "ToLocalTime() method in System.DateTime do not always produce correct result"
# Issue Title

ToLocalTime() method in System.DateTime do not always produce correct result;

# General

based on my researches tehran timezone is kind of dynamic,
first half of year is (+4:30) and second half (+3:30) but ToLocalTime() always add 3:30.

I think  ToLocalTime() must act dynamically in this case!

this is missing feature or not concern of ToLocalTime()?

[2019-05-28 15:01] dagood commented on #2707
It's merged for the next servicing updates, 2.1.12 (https://github.com/dotnet/core-setup/pull/6246) and 2.2.6 (https://github.com/dotnet/core-setup/pull/6247). The current plan has those releasing in July (although it may change).

[2019-05-28 15:57] Angr1st commented on #2707
I guess I could just build the dotnetcore-runtime-deps myself If I want
them sooner or would I then have to build everything myself?

Davis Goodin <notifications@github.com> schrieb am Di., 28. Mai 2019, 17:03:

[2019-05-28 16:00] karelz commented on #2802
System.Text.Json is still under construction. It is high-performance (no allocation) API. If you care primarily about dev usability, keep using other more user-friendly APIs like Newtonsoft.Json, etc.

cc @joshfree @ahsonkhan @steveharter

[2019-05-28 16:00] #2802 closed

[2019-05-28 16:03] karelz commented on #2801
Did you start new instance of vscode?
I assume this is more question for vscode terminal feature and how it picks up path settingsbfrom OS.

[2019-05-28 16:03] #2801 closed

[2019-05-28 16:12] karelz commented on #2800
What is the `--no--https` option is not present in `dotnet new -h`. Are you sure it is correct?

If you read the error output, that is exactly what dotnet is telling you - it used it as project name, but interpretted as option because it starts with `--`:
[code]

[2019-05-28 16:12] #2800 closed

[2019-05-28 16:14] Amine-Smahi opened #2804 "Ugly url in SPA template"
When requesting the fetch data component in any of the angular or react template without being authenticated we get back an ugly url

`https://localhost:5001/Identity/Account/Login?ReturnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Fclient_id%3DASP.NETCoreWebApplication2%26redirect_uri%3Dhttps%253A%252F%252Flocalhost%253A5001%252Fauthentication%252Flogin-callback%26response_type%3Did_token%2520token%26s

[2019-05-28 16:15] karelz commented on #2799
No problem description, closing.

[2019-05-28 16:15] #2799 closed

[2019-05-28 16:19] dagood commented on #2707
Since the `dotnet-runtime-deps` package doesn't contain anything (it's only used for the dependencies it declares), building it yourself should work fine.

Depending on your use case, it might be cleaner to make sure you have the dependencies installed yourself and ignore `dotnet-runtime-deps`. Or, it would arguably be the cleanest to just install from the tarball for now.

[2019-05-28 16:23] karelz commented on #2798
Make sure you run new shell. Check that your path contains dotnet.
If you still face problems, check your installation. Try it again.
If you can, try it on another machine to make sure it is not a one machine problem.
If you still have problems, please provide more details.

[2019-05-28 16:23] #2798 closed

[2019-05-28 16:31] RKDupron commented on #2801
Ok, got it. Restarting vscode didn't fix it, but restarting my laptop did... Thanks

[2019-05-28 16:59] dagood commented on #2782
The workaround is now displayed on the 19.04 package manager install page.

[2019-05-28 16:59] #2782 closed

[2019-05-28 17:51] viveknatarajan commented on #2794
@ankitpanwar9196 : Do you have entry for dotnet (exe path) in environment variable?

[2019-05-28 18:07] venkateshbelgaonkar7 opened #2805 "cannot install .net"

[2019-05-28 18:46] dagood commented on #2805
This usually indicates you're using a feed that doesn't match your distro release. Can you run these diagnosis steps and share the results?

[code]

Please copy and paste the text in the terminal rather than sending a screenshot.

[2019-05-28 18:48] dagood commented on #2796
Can you run these diagnosis steps and share the results? Hopefully it'll help determine what state your system's in right now:

[code]

[2019-05-28 19:16] zeus82 opened #2806 "Assembly Redirection For Plugin Framework"
# Issue Title

I've written an application in .Net Core 2.2 that is extensible with plugins. A plugin is a dotnet standard 2.0 DLL that has an implementation of my plugin base class. The plugin base class is defined in a shared dotnet standard 2.0 dll.

I have updated the dll that has the base class with some non-breaking changes. I have now updated my application to use the new version of the sha

[2019-05-28 21:09] svrooij commented on #2786
What you're describing is expected behavior.
The runtime images need to use the same version as the packages. So is you use dotnet core 2.2 you’ll need the 2.2 runtime image.

I cannot find the actual documentation page at the moment, but I’ve definitely seen this explained in the documentation. It has something to do with the asp dlls already being in the base image.

[2019-05-28 21:18] Angr1st commented on #2707
Which tarball so you mean? Could you please elaborate?

Davis Goodin <notifications@github.com> schrieb am Di., 28. Mai 2019, 18:20:

[2019-05-28 21:26] dagood commented on #2707
On https://dotnet.microsoft.com/download you'll see a table a bit lower on the page--I'm referring to the "Binaries" row. There's some instructions to follow after you click a download link, or you can also take a look at https://github.com/dotnet/core/blob/master/Documentation/linux-setup.md.

You can also check out if [Snaps](https://github.com/dotnet/core/blob/master/Documentation/linux-setup.m

[2019-05-28 23:50] dagood commented on #2752
`libicu60` and `libssl1.0.0` should be available in Ubuntu 18.04... can you run these diagnosis steps and share the results?

[code]

[2019-05-28 23:53] Pilchie commented on #2804
@ryanbrandenburg - any idea where this should be moved?

[2019-05-29 03:30] venkateshbelgaonkar7 commented on #2805
Issue solved! Thanku very much.

On Wed, May 29, 2019 at 12:17 AM Davis Goodin <notifications@github.com>
wrote:

[2019-05-29 06:26] Angr1st commented on #2707
Thanks I will try it. 👍

Davis Goodin <notifications@github.com> schrieb am Di., 28. Mai 2019, 23:27:

[2019-05-29 08:59] upretyrohan opened #2807 "Cant install .netcore 2.2 on Debian9 stretch"
cat /etc/os-release

PRETTY_NAME="Debian GNU/Linux 9 (stretch)"
NAME="Debian GNU/Linux"
VERSION_ID="9"
VERSION="9 (stretch)"
ID=debian
HOME_URL="https://www.debian.org/"
SUPPORT_URL="https://www.debian.org/support"
BUG_REPORT_URL="https://bugs.debian.org/"

grep -r --include '*.list' '^deb ' /etc/apt/sources.list /etc/apt/sources.list.d/

/etc/apt/sources.list:deb cdrom:[Debian GNU/Linux 9.3.0 _St

[2019-05-29 11:01] wind8147 opened #2808 "An assembly specified in the application dependencies manifest was not found"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/centos/sdk-2.2.300
Operating System: Linux CentOS / Oracle - x64
package: 'Microsoft.Extensions.Caching.Abstractions', version: '2.2.0'
    path: 'lib/netstandard2.0/Microsoft.Extensions.Caching.Abstractions.dll'

Provide details about the problem you are experiencing. Include your operating system version, exact er

[2019-05-29 14:00] genifycom commented on #2524
This is certainly not on one machine. All developers are getting it using this solution.

This is extremely difficult to isolate. It is 7 class libraries and one ASP.NET Core with dependencies between the class libraries and the ASP.NET

The problem here is dotnet publish verbose gives no additional information. Is there ANY other way to debug what is going on?

It happens seemingly randomly on di

[2019-05-29 14:47] #2805 closed

[2019-05-29 14:51] dagood commented on #2807
Thanks for including the output from some of the diagnostic commands! The output of those looks like what I'd expect. Can you show what the install error is? What's the output of these commands:

[code]

[2019-05-29 15:02] mchenx commented on #2786
but the interesting thing is this works fine on the vmware workstation player vm on my laptop and also runs fine on windows WSL ... I mean dotnet core 2.0 packages with 2.1 runtime image...

[2019-05-29 15:34] Padanian opened #2809 "No "User preview versions" checkbox in "projects and solutions" options tab"
While configuring a new WPF project via the start screen of VS2019, a dialog box appear informing that I have to select "User preview versions" under ".NET core" section of "Projects and solutions" option tab. Unfortunately such item does not exist.

Can be reproduced all times. Note: VS2019 in IT-it locale.

Further: creating a new WPF project via CLI: "dotnet new wpf" restores succesfully, but t

[2019-05-29 15:36] Padanian commented on #2809
Microsoft Visual Studio Community 2019
Versione 16.1.1
VisualStudio.16.Release/16.1.1+28922.388

[2019-05-29 20:48] ryanbrandenburg commented on #2804
https://github.com/aspnet/AspNetCore, with the tag "area-identity".

[2019-05-29 20:53] Pilchie commented on #2804
This issue was moved to aspnet/AspNetCore#10627

[2019-05-29 20:53] #2804 closed

[2019-05-29 20:53] BartoGabriel opened #2810 "Input of keys in another language"
When creating a new project from a template, in case there are possible actions to be executed, it does not take well the keys pressed in another language.

For example, in my machine in Spanish I am being asked to press S or N, and when I press S it says that it is incorrect and expects me to press Y (English).

Spanish:
![imagen](https://user-images.githubusercontent.com/5618170/58590488-928dee8

[2019-05-29 23:32] karelz commented on #2809
Seems like a bug in VS. Can you please use VS Feedback channel? (e.g. from inside VS - at the right top there is "Send Feedback" icon, or via Help menu)

[2019-05-29 23:32] #2809 closed

[2019-05-29 23:35] karelz commented on #2786
We do not support ASP.NET Core 2.0 applications to run on ASP.NET Core 2.1 without recompilation AFAIR.
Given all works after recompile, we should close it, unless there is some serious and wide-spread scenario that is broken by this.

[2019-05-29 23:35] #2786 closed

[2019-05-29 23:37] karelz commented on #2524
Process Monitor is your best hope: https://github.com/dotnet/core/issues/2524#issuecomment-478266485 ... as mentioned above.

[2019-05-29 23:38] karelz commented on #2808
What exactly did you do? Is it some tutorial? Real application?
Does it happen all the time?
Did you try it on another VM / machine?

[2019-05-29 23:41] karelz commented on #2794
You need to open new command line window after the installation. That is typically the problem.
Otherwise check your PATH settings.

[2019-05-29 23:41] #2794 closed

[2019-05-29 23:46] karelz commented on #2806
This is very end-to-end scenario. Can you please narrow it down to minimal repro?
Post the error. Ideally debug into it in CoreFX source code.

[2019-05-29 23:53] karelz commented on #2791
Correct, WinForms and WPF are Windows-only. Even build has to happen on Windows.

[2019-05-29 23:53] #2791 closed

[2019-05-29 23:53] karelz commented on #2795
What is the error? Did you try download it again?

[2019-05-29 23:55] karelz commented on #2785
Looks like there is nothing else to do here ... closing.
cc @wfurt

[2019-05-29 23:55] #2785 closed

[2019-05-30 00:13] wfurt commented on #2785
option `Solution 3: break dotnet-sdk-2.2-2.2.300-1.x86_64 by ignoring some of its dependencies` should work by brief look. We only need base library and only and only if app does Kerberos. (rare)

[2019-05-30 00:56] Angr1st commented on #2707
Tried installing dotnet via the tarball and it just worked. Just FYI I am
running PureOS(Debian 10(Testing)based distro). 👌 Thanks for pointing me
in the right direction.

Torben Clasen <torbenclasen@gmail.com> schrieb am Mi., 29. Mai 2019, 08:25:

[2019-05-30 02:29] snakeeye opened #2811 ".netcore single file executable codesign fail on macOS"
# Issue Title

netcore single file executable codesign fail on macOS

# General

1. Create a console "Hello world" executable on macOS.
2. Generate a single file executable followed: https://docs.microsoft.com/en-us/dotnet/core/whats-new/dotnet-core-3-0#single-file-executables
3. run codesign with this exe.
You will get error message: main executable failed strict validation
If you add --no-strict

[2019-05-30 02:57] hitesh1117 opened #2812 "There were some problems installing updates, but we'll try again later. If you keep seeing this and want to search the web or contact support for information, this may help: (0x80070422)"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-05-30 03:04] James4real888 commented on #2812
Who"s the [dotnet/core] people anyways....?
Now I'm all messed up...

On Wed., May 29, 2019, 7:58 p.m. hitesh1117 <notifications@github.com>
wrote:

[2019-05-30 03:18] karelz commented on #2812
No action required. Unclear what the problem was or what solution is ...

[2019-05-30 03:18] #2812 closed

[2019-05-30 03:19] karelz commented on #2767
No response. Feel free to reopen if/when there is additional info.

[2019-05-30 03:19] #2767 closed

[2019-05-30 03:20] karelz commented on #2750
No response, closing. Feel free to reopen when there is actionable info available. Thanks!

[2019-05-30 03:20] #2750 closed

[2019-05-30 03:20] karelz commented on #2736
No response, closing. Feel free to reopen when there is actionable info available. Thanks!

[2019-05-30 03:20] #2736 closed

[2019-05-30 03:20] karelz commented on #2735
No response, closing. Feel free to reopen when there is actionable info available. Thanks!

[2019-05-30 03:20] #2735 closed

[2019-05-30 03:20] karelz commented on #2720
No response, closing. Feel free to reopen when there is actionable info available. Thanks!

[2019-05-30 03:20] #2720 closed

[2019-05-30 03:22] karelz commented on #2636
No response, closing. Feel free to reopen when there is actionable info available. Thanks!

I assume the self-help guide is tracked elsewhere.

[2019-05-30 03:22] #2636 closed

[2019-05-30 06:04] wxf1223138295 commented on #2792
how to set the nuget to allow previews? Can you teach me?

[2019-05-30 09:59] Angr1st commented on #2396
Maybe try the tarball like suggested here-> https://github.com/dotnet/core/issues/2707#issuecomment-496696123

[2019-05-30 14:56] Padanian commented on #2809
It's a bug in .net core.
"User preview versions" under ".NET core" section of "Projects and solutions" option tab does not actually exist. It's been moved to "Preview features"

![74632-1](https://user-images.githubusercontent.com/7769348/58641658-e7de0480-82fb-11e9-80f2-b8bbd3de6006.jpg)

[2019-05-30 17:43] guillermo2007 opened #2813 "Project .Net Core Call to library 4.6.1 thats use System.Data.Ole"
# Issue Title

Project .Net Core Call to library 4.6.1 thats use System.Data.Ole

# General

I have a project in .Net Core 2.2 and i try to call a function in a library to .net framework 4.6.1. This library use System.Data.OleDb and when y try to call, throws a exception and cant load assembly.

is there any way this works?

Thanks

[2019-05-30 18:46] karelz commented on #2809
I am confused. Why is it .NET Core bug when .NET Core does not have any UI? UI part is VS.
What am I missing?

[2019-05-30 19:04] Padanian commented on #2809
Because the message is in english in a completely IT-it localised version of VS (the screenshot above is for your convenience, shot from an english version of VS), and because the VS team cannot know they moved the option to another tab, while leaving an unlocalised misleading text in a msgbox.

[2019-05-30 20:44] wpitallo opened #2814 "How to get only console logs in output?"
How to get only console logs in output?

Hi, currently I have set my logs to only log program output but I am still getting a lot of unwanted information. Is there a way to get just my logs and also none of the namespaces etc

![image](https://user-images.githubusercontent.com/12214559/58662970-abc29800-832b-11e9-99af-59b1ae7a98e8.png)

Also is there an easy way like in Node.js to log in color wit

[2019-05-30 21:11] ahlstart opened #2815 "Missing dll"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run#
Operating System: Microsoft Windows [Version 10.0.17134.799]

"dotnet run" command generated the following error message instead of expected greeting:
c:\program files\dotnet\sdk\2.2.300\Roslyn\Microsoft.CSharp.Core.targets(59,5): error : A fatal error was encountered. The library 'hostpolicy.dll' required t

[2019-05-30 22:31] PedroCavaleiro opened #2816 "ExtendedSocketException: nodename nor servname provided, or not known."
Hi,

I'm trying to send a mail using MailKit from my WebAPI but keep getting this error
On .NETCore 3:
ExtendedSocketException: nodename nor servname provided, or not known

And on .NetCore 2:
Device Not Configured

This error is what made me test the .NET Core 3
This is my current system configuration

OS: macOS Mojave (10.14.5)
.NET Core (SDK): 3.0.100-preview5-011568
.NET Core (Runtime): 3.0.0-

[2019-05-30 23:38] karelz commented on #2816
Are you able to isolate the problem without MailKit? We want to make sure it is not MailKit problem before we start investigating.

[2019-05-30 23:56] PedroCavaleiro commented on #2816
Tested with the following code that uses the import `using System.Net.Mail;`

[code]

I'm sure that the code works, I've tested on my Windows machine using .NET Core 2.0, also triple checked the credentials, port and host.

Still the same error occurs

<img width="1745" alt="Captura de ecrã 2019-05-31, às 00 55 27" src="https://user-images.githubusercontent.com/1993871/58672447-da963980-833e-11e9-

[2019-05-31 00:53] utsushimi opened #2817 "unable to locate package dotnet-sdk-2.1 on debian 9"
[code]

Have found through various similar threads, trying many workarounds, such as purging the packages, following steps of manual installation, updating my OS, probably whatever else was said as well... I'm very new to Linux, so this is all super confusing. Source list:

[code]

Tried adding `deb http://deb.debian.org/debian stretch main `as a source but didn't change anything. Not sure what ot

[2019-05-31 03:51] karelz commented on #2809
Now I am even more confused - which message box?

Nevertheless, I have no idea where to route it other than VS.

[2019-05-31 03:53] karelz commented on #2815
Looks like bad install. Can you try to reinstall or try on another machine/VM please?

[2019-05-31 04:20] tartdoccom opened #2818 "Can't install"
Original title: ติดตั้งไม่ได้
Translated: Can't install

Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: Linux Debian 9 - x64 [Original text: Linux เดเบียน 9 - x64]

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2019-05-31 05:38] karelz commented on #2818
There is not enough information to make it actionable.
Can you please try it on another VM/machine?

Also, please report problems in English - we don't scale to translate from other languages. Thank you!

[2019-05-31 06:12] Padanian commented on #2809
The msgbox of the first post in this thread. But never mind, I reckon you are not interested, as you closed the thread before understanding the issue. I already sorted it out anyway.

[2019-05-31 06:45] ahlstart commented on #2815
Will do when I get to that machine. I canceled out first attempt, that may have left things in a bad way. OTOH, the error message suggests that somewhere is a dependency of a file installed by previous version and it has been left as it was. Hold your bug hunting horse though until I have tried it again on the box where this occurred.

[2019-05-31 07:50] guillermo2007 commented on #2813
Tjis is the message when the program try to call any function

"Could not load type 'System.Data.OleDb.OleDbConnection' from assembly 'System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089'."

[2019-05-31 15:07] karelz commented on #2809
Oh, maybe I start to understand now what you were trying to report:
When you create new WPF project for .NET Core in VS 2019, there is dialog referencing incorrect category/tab in Options -- it says "User preview versions" but it should say "Environment -- Preview Features -- Use previews of the .NET Core SDK".

Is that what you were trying to report?
If yes, then this is indeed part of Visual Stu

[2019-05-31 15:16] Padanian commented on #2809
https://developercommunity.visualstudio.com/content/problem/576973/use-previews-of-the-net-core-sdk-checkbox-is-now-m.html

[2019-05-31 16:21] dagood commented on #2817
I can think of two extra commands to run for diagnosis:

[code]

Your list of sources looks reasonable to me, here's the similar list I end up with when I run through an install in a `debian:9` Docker container:

[code]

[2019-05-31 16:50] ahlstart commented on #2815
I uninstalled version *1.0.4* and then 2.2.300 and then reinstalled 2.2.300. I also removed all traces of myApp. When trying to run myApp again, I get the exact same error message. I tried it with another box.
Result: Self-built AMD Athlon X2 5000+ PC with Microsoft Windows [Version 10.0.17134.376] printed "Hello World!". So my main machine is just confused and unable to use dotnet Core. How nice,

[2019-05-31 17:29] karelz commented on #2815
OK, can you try to uninstall all .NET Core versions from your broken machine as first step?
Make sure the installation directory is empty, Windows installers, etc.
Then install .NET Core version again.

Another option is to try to use ZIP "install" from https://github.com/dotnet/core-sdk/blob/master/README.md#installers-and-binaries ... put it into different directory, then use environment variabl

[2019-05-31 17:54] Pilchie commented on #2814
This issue was moved to aspnet/Extensions#1773

[2019-05-31 17:54] #2814 closed

[2019-05-31 20:19] ahlstart commented on #2815
While I do not have an immediate need for .NET Core, getting it running would mean that this machine is not actually very broken. So I did a thorough clean-up and installed once more. AND IT WORKS. Thank you for caring and the sound advice.

[2019-05-31 20:19] #2815 closed

[2019-05-31 22:07] SirJosh3917 opened #2819 "[Request] Net Core 3 Preview apt-get based installation"
# Net Core 3 Preview apt-get based installation

I would really love if dotnet core 3 could be integrated with an apt-get based upstream, so I can globally update dotnet and maintain compatibility with the existing infrastructure I have (daemons to run asp net core applications). I got some help and was pointed in the direction of using snap for the dotnet sdk, but I tried to use snap, and I was a

[2019-05-31 22:10] tannergooding commented on #2819
CC. @leecow, @richlander

[2019-05-31 22:31] StreamingTodd opened #2820 "Framework-dependent deployment build behavior change between .Net Core 2.1 and .Net Core 3.0"
If I build something like this in .Net Core 2.1, I get a dll, no exe:

[code]

If I try to build something like this in .Net Core 3.0, I get a dll AND exe:

[code]

Is this expected? Why is this seemingly no longer a framework-dependent deployment? Is there another flag I need to add when building in .Net Core 3.0?

I am using 3.0.100-preview5-011568.

[2019-05-31 23:20] StreamingTodd commented on #2820
Actually, I found that there is a behavior change:

https://docs.microsoft.com/en-us/dotnet/core/whats-new/dotnet-core-3-0

Default executables

.NET Core now builds framework-dependent executables by default. This behavior is new for applications that use a globally installed version of .NET Core. Previously, only self-contained deployments would produce an executable.

So, this one executable ru

[2019-06-01 08:00] P4R4D0Gs opened #2821 ".NET Core 3.0.0 Preview 5 symbols on linux"
# .NET Core 3.0.0 Preview 5 symbols on linux
I have an app using .net core 3 preview that i want to profile/diagnose. For that purpose it would be handy to use symbols from [this](https://github.com/dotnet/core/blob/master/release-notes/3.0/preview/3.0.0-preview5.md#downloads) download page. How can I use them under linux?

# General
For older .net core framework i was using tool dotnet-symbol lik

[2019-06-01 17:28] dagood commented on #2821
This is a bug, it should work. The first place to look is whether the release process had any issues--I'll see if I can track it down. If that's all, we can get them uploaded.

The symbol zips you found are something we started creating a long time ago when the friendlier approaches missed scenarios and some of the symbols were inaccessible through symbol servers. The .symbol.nupkg files are simpl

[2019-06-01 21:17] fariz1992 commented on #2792
Installing and updating pre-release packages
By default, NuGet does not include pre-release versions when working with packages, but you can change this behavior as follows:

Package Manager UI in Visual Studio: In the Manage NuGet Packages UI, check the Include prerelease box:

The Include prerelease checkbox in Visual Studio

Setting or clearing this box will refresh the Package Manager UI and t

[2019-06-01 21:18] fariz1992 commented on #2792
Installing and updating pre-release packages
By default, NuGet does not include pre-release versions when working with packages, but you can change this behavior as follows:

Package Manager UI in Visual Studio: In the Manage NuGet Packages UI, check the Include prerelease box:

The Include prerelease checkbox in Visual Studio

Setting or clearing this box will refresh the Package Manager UI and t

[2019-06-02 15:56] 1arrywei opened #2822 "A template for generating resx files should have been added to the dotnet new command templates"
# Issue Title
A template for generating resx files should have been added to the dotnet new command templates

[2019-06-02 16:48] devlead opened #2823 "Serveral missing SDKs in releases.json causing failure on Azure DevOps"
Azure DevOps currently can't use SDKs released after April 2nd

Checking the json file used by the [.NET Core SDK Installer task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/dotnet-core-tool-installer?view=azure-devops)
https://github.com/dotnet/core/blob/master/release-notes/releases.json

At least the following SDKs are missing

* 2.1.700
* 2.1.604
* 2.1.507
* 2.1.603
* 2.

[2019-06-02 16:49] devlead commented on #2823
Found #2758, that releases.json no longer supported.

[2019-06-02 16:49] #2823 closed

[2019-06-02 17:52] manojmsrit opened #2824 "dotnet test gives me error while running tests"
Hello, I am getting below error when i try to use "dotnet test", can you please suggest me regarding this

dotnet test Test.kommmit.Offers/Test.kommmit.Offers.csproj
Build started, please wait...
/usr/local/share/dotnet/sdk/2.2.107/Microsoft.Common.CurrentVersion.targets(1179,5): error MSB3644: The reference assemblies for framework ".NETPortable,Version=v4.5,Profile=Profile259" were not found. To

[2019-06-03 03:44] beeradmoore commented on #2540
I just had this issue this morning after installing 2.1.603 so I can compile for 2.1.10 for AWS Lambda functions. Found a solution online which was to upgrade to VS for Mac 8.1 preview 2. That worked until VS for Mac started crashing. Reinstalled VS for Mac stable (8.0.9) I noticed it installed 2.1.506. Build fails. Uninstalled 2.1.603, build now works.

I don't get what the difference is between

[2019-06-03 07:27] #2822 closed

[2019-06-03 13:50] leecow commented on #2819
@SirJosh3917 - something that we're looking at enabling at some point but it's not likely to happen for 3.0. Based on another piece of customer feedback we will publish the deb/rpm which you can use locally. Hopefully, that will somewhat help your situation.

Regarding the Snap troubles. Could you provide more details? What's your environment?

[2019-06-03 14:26] dagood commented on #2821
Hmm, it works fine for me, trying it out in a Docker container. First, I installed 3.0 Preview 5 SDK from the `tar.gz`. Then I installed the symbol tool, and saw that it requires a 2.x runtime:

[code]

I installed the 2.2.5 Runtime to satisfy that requirement, using the `tar.gz` flow, to the same location I installed the 3.0 Preview 5 SDK. Then, the command worked:

[code]

@P4R4D0Gs what isn't w

[2019-06-03 15:26] bryanfarrell commented on #2542
So can you please clarify this MSFT?  Are you basically saying going forward that if you want to do ASP.NET Core 2.2+ development and your dev environment has projects in VS 2017 and VS 2019, that you have to choose either VS 2017 or VS 2019?  Is it possible to install both SDK versions so that both VS 2017 and VS 2019 can work on the projects correctly?

[2019-06-03 15:27] P4R4D0Gs commented on #2821
That is basically what I did, but I misunderstood that message. Thank you for your help.

[2019-06-03 15:31] dagood commented on #2821
Ah, cool. I see what you mean now by the tool not working with the preview SDK. No problem. 😄

[2019-06-03 15:31] #2821 closed

[2019-06-03 16:27] dagood opened #2825 "Not all latest 2.2.* SDKs are available on Microsoft Debian package feeds"
For example, for Ubuntu 19.04, only one version is available (as of writing):

https://packages.microsoft.com/ubuntu/19.04/prod/pool/main/d/dotnet-sdk-2.2/
* dotnet-sdk-2.2.204-x64.deb

For 18.04, there are more, but it's incomplete vs. the table at https://dotnet.microsoft.com/download/dotnet-core/2.2.

https://packages.microsoft.com/ubuntu/18.04/prod/pool/main/d/dotnet-sdk-2.2/
* dotnet-sdk-2.2.

[2019-06-03 16:31] SirJosh3917 commented on #2819
Debian 9 on an Azure VM `Standard B1ls (1 vcpus, 0.5 GiB memory)`, and the service looks like
[code]
(`/path/to/service.dll` and `x@y~z` are replaced in this snippit, they aren't the real values)

[2019-06-03 16:32] mmisztal1980 commented on #2825
`dotnet-sdk-2.2.107` is the highest available SDK version for MacOS,
if I introduce `global.json` which constrains usage to this version of the SDK, I can have 2 developers work on the solution using Windows & MacOS, however I can't have an Ubuntu build agent for it - which seems awkward

[2019-06-03 18:43] leecow commented on #2825
Including only the latest major.minor SDK in the Linux feed is deliberate. Because the SDKs are fully backward compatible with respect to targeting and building applications, can folks help me understand the benefit of having something like 2.2.1xx, 2.2.2xx and 2.2.3xx all available? Keep in mind that only the latest would be offered via apt-get update dotnet-sdk-2.2. To install a "downgrade" vers

[2019-06-03 18:54] dagood commented on #2825
https://github.com/dotnet/core-setup/issues/679 contains some discussion about `global.json` limitations causing this to be required, I'm not sure I have the full picture though.

[2019-06-03 19:47] theaby opened #2826 "Can't Connect to LocalHost After DotNet Setup"
Problem encountered on https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/run
Operating System: windows

I followed the instructions to set up .NET core and came across this in the tutorial:
Once the command completes, browse to http://localhost:5000

In my attempt to browse to the link provided, I kept receiving the following message (screenshot attached):
Hmmm… can't reach this p

[2019-06-04 07:00] ip75 opened #2827 "unable to install dotnet-sdk-2.1 / 2.2"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/opensuse/sdk-2.1.302
Operating System: Linux openSUSE Leap - x64

Provide details about the problem you are experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

fail.......  infinite loop

dotnet-sdk-2.2 is the same one....

[2019-06-04 12:15] irategenius commented on #2746
Hello, I am using Fedora 30 and .net core 2.1 and I have exactly the same issue. I can see you suggest to install libc6-dev, but it's not available for Fedora. What I have installed is: `glibc, glibc-devel, glibc-devel.i686, libgdiplus, libX11-devel`, but it still doesn't work. Which packages should be installed to make it work on Fedora?

[2019-06-04 17:03] oguzhantopcu commented on #2746
I have installed all libraries you have suggested. I also downloaded libgdiplus source then compiled/installed myself. did not work.

I set env variable as you specified. Same error.

![image](https://user-images.githubusercontent.com/2956166/58897438-fca60800-8700-11e9-83cf-b6ffb4dd581c.png)

I have tried to use LD_DEBUG, I could not investigate anything since it is giving an output like a matrix

[2019-06-04 18:21] slimbrd commented on #1367
@jamespettigrew do you mind sharing your .bbappend file showing the modification of curl?  I'd greatly appreciate it.

[2019-06-04 19:18] dagood commented on #2827
There was some discussion about this issue in https://github.com/dotnet/core-setup/issues/5628, and a fix was merged into the 2.1/2.2 branches for the next servicing release: https://github.com/dotnet/core-setup/pull/6246.

Basically, we're changing our RPM package to depend on `libicu` rather than a specific `libicu52_1` or `libicu60_2`. This way, the same RPM will work across releases of Leap. T

[2019-06-04 19:18] dagood commented on #2827
Duplicate of https://github.com/dotnet/core-setup/issues/5628

[2019-06-04 19:18] #2827 closed

[2019-06-04 20:38] janvorli commented on #2566
@Hondo2019 I am sorry, I've missed this issue. The exit code 0x80000003 means a breakpoint was hit.
Can you please try to check if that still repros with the .NET core 3.0 Preview 5?

[2019-06-05 01:40] lichen19951127 opened #2828 "The issue of using AUTOFAC in. NET Core 3.0 Preview 5"
Bing-translator: The issue of using AUTOFAC in. NET Core 3.0 Preview 5 cannot be returned IServiceProvider

## Original
Title: .net core 3.0 预览版5中使用autofac的问题

.net core 3.0 预览版5中使用autofac的问题  无法返回IServiceProvider

[2019-06-05 01:47] karelz commented on #2828
@lichen19951127 please use English, we do not scale to respond to reports in other languages. Thanks!

[2019-06-05 01:50] karelz commented on #2828
Please provide a minimal repro demonstrating the problem.
It is not clear what the problem is in the description above. Thanks!

[2019-06-05 01:51] lichen19951127 commented on #2828
.net core 3.0 preview5  use autofac,ConfigureServices Unable to return IServiceProvider

[2019-06-05 01:52] karelz commented on #2808
Not actionable, closing. Feel free to reopen if there is more info available.

[2019-06-05 01:52] #2808 closed

[2019-06-05 01:52] karelz commented on #2807
Not actionable, closing. Feel free to reopen if there is more info available.

[2019-06-05 01:52] #2807 closed

[2019-06-05 01:52] karelz commented on #2806
Not actionable, closing. Feel free to reopen if there is more info available.

[2019-06-05 01:52] #2806 closed

[2019-06-05 01:52] karelz commented on #2796
Not actionable, closing. Feel free to reopen if there is more info available.

[2019-06-05 01:52] #2796 closed

[2019-06-05 01:53] karelz commented on #2795
Not actionable, closing. Feel free to reopen if there is more info available.

[2019-06-05 01:53] #2795 closed

[2019-06-05 01:53] karelz commented on #2789
Not actionable, closing. Feel free to reopen if there is more info available.

[2019-06-05 01:53] #2789 closed

[2019-06-05 01:53] karelz commented on #2752
Not actionable, closing. Feel free to reopen if there is more info available.

[2019-06-05 01:53] #2752 closed

[2019-06-05 01:53] karelz commented on #2748
Not actionable, closing. Feel free to reopen if there is more info available.

[2019-06-05 01:53] #2748 closed

[2019-06-05 01:56] karelz commented on #2537
Seems to be answered. Feel free to reopen if I am wrong. Thanks!

[2019-06-05 01:56] #2537 closed

[2019-06-05 01:58] karelz commented on #2553
Duplicate of https://github.com/OmniSharp/omnisharp-vscode/issues/2965

[2019-06-05 01:58] #2553 closed

[2019-06-05 01:58] karelz commented on #2553
Thanks @dasMulli for your help!

[2019-06-05 02:02] karelz commented on #2577
Please file the bug on https://github.com/mono/linker repo - cc @sbomer

[2019-06-05 02:07] karelz commented on #2577
This issue was moved to mono/linker#603

[2019-06-05 02:07] #2577 closed

[2019-06-05 02:08] karelz commented on #2656
@leecow can you please take a look?

[2019-06-05 02:08] karelz commented on #2655
Not actionable, closing.

[2019-06-05 02:08] #2655 closed

[2019-06-05 02:09] karelz commented on #2637
This issue was moved to mono/linker#604

[2019-06-05 02:09] #2637 closed

[2019-06-05 02:09] karelz commented on #2637
@sbomer FYI: YOu can use ZenHub, or https://hubbup.io/Mover ... I don't have other magical powers either ;)

[2019-06-05 02:10] karelz commented on #2630
@Anipik any update?
@zhusheping are you still able to reproduce on latest Preview of 3.0?

[2019-06-05 02:12] karelz commented on #2598
@johnbeisner ping?

[2019-06-05 02:47] karelz commented on #2659
No response, not actionable.
BTWL Nothing should be created in system32, unless you ran cmd there when running dotnet.

[2019-06-05 02:47] #2659 closed

[2019-06-05 02:48] karelz commented on #2682
@dagood @leecow is it already addressed?

[2019-06-05 02:49] karelz commented on #2680
No response, not actionable.

Thanks @stevepentland for helping us push on bug reports!

[2019-06-05 02:49] #2680 closed

[2019-06-05 02:52] karelz commented on #2678
`RuntimeIdentifier` seems to be a question for project system: https://github.com/dotnet/project-system. cc @drewnoakes @davkean

I am not sure if interop will work cross-plat the way you plan to use it - @jeffschwMSFT @janvorli may know / help route ...

[2019-06-05 02:53] karelz commented on #2675
What do you need credentials for? Some proxy?
@dagood any thoughts?

[2019-06-05 02:55] davkean commented on #2678
RuntimeIdentifier would be an SDK question, cc @dsplaisted @nguerrera

[2019-06-05 02:57] karelz commented on #2673
@Maoni0 @brianrob @billwert @adamsitnik anything we should do here?
Looks like some change in P3->P4 changed (maybe) GC behavior ... is it interesting for us to track it down?

[2019-06-05 02:58] karelz commented on #2670
Are you able to reproduce it outside of Travis CI? On image which replicates its setup?
@dagood does it look familiar?

[2019-06-05 02:59] karelz commented on #2669
No response, closing. Feel free to reopen if you find out more ...

[2019-06-05 02:59] #2669 closed

[2019-06-05 03:02] karelz commented on #2663
Answered above - thank you @AlseinX!

[2019-06-05 03:02] #2663 closed

[2019-06-05 03:03] karelz commented on #2661
Unclear what kind of problem you are hitting. Closing.
Feel free to reopen with additional info. Thanks!

[2019-06-05 03:03] #2661 closed

[2019-06-05 03:24] karelz commented on #2761
No response, not actionable. Closing.
Feel free to reopen if there is more information available.

[2019-06-05 03:24] #2761 closed

[2019-06-05 03:26] karelz commented on #2754
Which version of `dotnet`? Are you able to reproduce it on clean VM/machine?
cc @tarekgh @krwq

[2019-06-05 03:30] karelz commented on #2754
The program above fails with this for me:
[code]

[code]

[2019-06-05 03:33] karelz commented on #2721
Is there still an outstanding question or follow up?

[2019-06-05 03:34] karelz commented on #2706
Duplicate of https://github.com/dotnet/corefx/issues/37602

[2019-06-05 03:34] #2706 closed

[2019-06-05 03:36] karelz commented on #2702
Seems to be answered, closing.

[2019-06-05 03:36] #2702 closed

[2019-06-05 03:38] karelz commented on #2696
Do you see similar memory usage outside of Kubernetes? Did you try to track down what consumes the memory?