[2018-12-13 11:51] WHK102 commented on #43
Official platforms supported are Windows, Mac, Android, iOS, but not Linux. https://nwjs.io/ is a better alternative but without .net core or c#.

[2018-12-13 13:31] vbondarev commented on #1822
Hello I had the same issue with dotnet-sdk-2.2.
Problem:
[code]

Solution:
Skip all instructions from https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/sdk-current
[code]

The command `sudo dpkg -i packages-microsoft-prod.deb` is renaming microsoft-prod.list to microsoft-prod.list.save

[2018-12-13 14:27] William201807 opened #2144 "How can run WPF in macOS?"
Run WPF in macOS.
I want to run WPF in macOS, but run error is "It was not possible to find any compatible framework version The specified framework 'Microsoft.WindowsDesktop.App', version '3.0.0-alpha-27128-4' was not found", I can't find this runtimes in macOS version.

[2018-12-13 14:52] William201807 commented on #2144
reopened

[2018-12-13 15:54] jfbueno commented on #2144
Basically, you can't.

Although .NET Core 3 supports WPF, WinForms and UWP XAML they're only for Windows. You can read about this topic in [.NET Blog](https://blogs.msdn.microsoft.com/dotnet/2018/05/07/net-core-3-and-support-for-windows-desktop-applications/).

I don't really know if there are any hacks that you can do to get WPF running on MacOS, but I suppose this is not the place to talk about

[2018-12-13 16:37] l0hn opened #2145 "Core 3.0 WPF module not found crash for non-Win10 machines"
Attempting to run a .net core 3.0 WPF app (the default hello .net core app) on any OS other than windows 10 causes a crash with the error "module not found" (c06d007e). Guessing due to attempting to use one of the newer dpi awareness methods that were added in win10 but not entirely sure.

output from crash dump below just incase it's useful to someone:

[code]

[2018-12-13 17:07] karelz commented on #2145
Do you have isolated repro?
Does it happen on more than 1 machine?

Once we have actionable information, we can move it to WPF repo: https://github.com/dotnet/wpf

[2018-12-13 17:10] karelz commented on #2144
@William201807 the blog post and [WPF repo](https://github.com/dotnet/wpf/blob/master/README.md) both contain information, that WPF is Windows-only. Currently there are no plans to make it cross-platform. See https://github.com/dotnet/wpf/issues/48

[2018-12-13 17:10] #2144 closed

[2018-12-13 17:16] Suchiman opened #2146 "EF Powershell fails to load hostpolicy.dll when RuntimeIdentifier is win7-x86"
With a csproj looking like
[code]

Trying to issue following command on the package Manager console
`Scaffold-DbContext "Server=..." Microsoft.EntityFrameworkCore.SqlServer -OutputDir Database -Force`
will result in this error being generated:
[code]

[2018-12-13 17:18] l0hn commented on #2145
This can be reproduced using any WPF .net core project ,the simplest way is to:
[code]
Then attempt to run the published app on any version of windows lower than win10. (making sure vc140 is installed on the target machine or copy the vc140 redist dlls to the publish folder)

[2018-12-13 17:20] Suchiman opened #2147 "Project with multiple RuntimeIdentifiers is missing exe in Self Contained deployment"
With a csproj looking like
[code]
and a publish definition looking like
[code]

Performing a publish will generate an self contained looking output except that the `Project.exe` is missing and there's only a `Project.dll`

Changing
[code]
to
[code]
fixes this but has https://github.com/dotnet/core-setup/issues/4865 as a side effect

[2018-12-13 17:34] muratg commented on #2125
@Eilon We do not know the current status, but last I heard from App Service folks is that they expect to be done on all public regions by the end of next week.

[2018-12-13 17:37] karelz commented on #2145
Which OS specifically? Is it fully patched?
I would recommend to clarify, then file a bug on WPF repo with that information (it even asks for `winver`).

[2018-12-13 17:37] #2145 closed

[2018-12-13 17:38] karelz commented on #2125
See https://github.com/dotnet/core/issues/2120#issuecomment-446693531

[2018-12-13 17:41] karelz commented on #2143
@tmds @bartonjs can you please help route the question?

[2018-12-13 19:35] rickrain opened #2149 ".NET Core SDK 2.2 on Linux Ubuntu 18.04: Unable to locate package"
# .NET Core SDK 2.2 on Linux Ubuntu 18.04: Unable to locate package

The install instructions [here](https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/sdk-current) don't work on Ubuntu 18.04.1.

[code]

I'm aware of issue #1522 pertaining to the earlier release.  What is the correct/current guidance for .NET Core SDK on Ubuntu 18.04?

[2018-12-14 01:38] tristanbarcelon commented on #2134
Thanks @leecow for your consideration.

[2018-12-14 02:59] tristanbarcelon commented on #2149
@rickrain I don't have linux myself, but could you try the instructions here? https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-install-script

[2018-12-14 04:40] rickrain commented on #2149
@tristanbarcelon, those instructions are to install the .NET Core CLI tools.  This issue is with installing the SDK.

[2018-12-14 04:42] leecow commented on #2149
I've confirmed on a clean 18.04 box that the sdk is available and installs correctly.

@rickrain - have you registered the feed as detailed at https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/sdk-current? This will properly register the feed with apt-get and enable installation from the native installers. If you're not sure, let me know what the output of the following comma

[2018-12-14 04:45] leecow commented on #2134
@tristanbarcelon - most of the changes have been implemented and you can see them from https://dotnetcli.blob.core.windows.net/dotnet/release-metadata/releases-index.json. We'll be using this azure storage rather than github to host the 'production' json files. Something will be added to the github files to make it clear they should not be used as the production endpoint for the data.

[2018-12-14 04:48] #2140 closed

[2018-12-14 07:45] damiand2 opened #2151 "Transaction.Current migrates to new threads even without using async"
when using TransactionScope with  TransactionScopeAsyncFlowOption.Enabled current transaction gets copied to new threads that were manually created/queued and have nothign to do with async. With TransactionScopeAsyncFlowOption.Suppress code works as intended (transaction does not propagate to other threads)

Sample code to reproduce issue (.net core 2.1):

       class Program
    {
        static

[2018-12-14 13:12] alexeyzimarev commented on #2149
I have the same issue and I am sure I completed all steps from the referenced page. I get the following error:
[code]

The output of `ls /etc/apt/sources.list.d/` is:

[code]

[2018-12-14 13:21] alexeyzimarev commented on #2149
It seems that the `packages-microsoft-prod.deb` tool doesn't properly handle third-party Bionic-based distributions. I use PopOS! from System76 and I have no issues installing any packages for Bionic.

I copied the list manually and it worked:

[code]

[2018-12-14 14:38] tristanbarcelon commented on #2149
@rickrain Hmm.. my apologies. I could have sworn the link I sent you could be used to install the sdk. If you don't pass the --runtime flag.

[2018-12-14 16:07] leecow commented on #2134
@tristanbarcelon

- added runtime-version to 2.1.100 so should be good there now.
- looks like I switched to sha512 last November.

2.0.3 was released with the 2.0.3 SDK in November then again with the 2.1.2 SDK in December. The minor version bump was lIkely due to updated toolset features for VS but would have to dig a little to know for sure. At any rate, toolset changes would not result in chan

[2018-12-14 18:50] tristanbarcelon commented on #2134
@leecow did something just change in https://dotnetcli.blob.core.windows.net/dotnet/release-metadata/releases-index.json? The 'releases.json' parameter now points back to github instead of the azure blob.

[2018-12-14 18:50] DrakeLambert commented on #2125
I had to do the same, use the x86 version. Now it's working

[2018-12-14 19:07] leecow commented on #2134
@tristanbarcelon ... sorry about that - fixed up.

[2018-12-14 21:47] vitek-karas commented on #2147
This issue was moved to dotnet/cli#10474

[2018-12-14 21:47] #2147 closed

[2018-12-14 23:09] rickrain commented on #2149
@tristanbarcelon and @leecow, I observed the exact same thing that @alexeyzimarev mentioned [above](https://github.com/dotnet/core/issues/2149#issuecomment-447323609).  Installing the `packages-microsoft-prod.deb` file as explained in the instructions did not result in `/etc/apt/sources.list.d/microsoft-prod.list` getting created.

However, after manually copying the file as @alexeyzimarev showed

[2018-12-15 12:00] damiand2 commented on #2151
sorry i wasnt clear - it is not doing what is it supposed to do, Transactions from one thread should not migrate 'automatically' to other threads (as happens when you use TransactionScopeAsyncFlowOption.Suppress or as when happened before 'async' was introduced to .net). Sample code does not use any async feature and therefore should get the same behavior as with TransactionScopeAsyncFlowOption.Su

[2018-12-15 18:13] atljoseph commented on #2099
install core3 preview1 on mac
mkdir -p myNewProject
cd myNewProject
dotnet new globaljson
dotnet new webapi
dotnet restore OR dotnet build OR dotnet run

==> BROKEN
AspNetCore not in the namespace Microsoft.

==> Attempted to install Microsoft.AspNetCore.App (version 3.0)
Version 3.0 was not even listed as an option

Is anyone else having problems?

I cannot even create a new solution using vs for

[2018-12-15 19:13] atljoseph commented on #2099
Last login: Sat Dec 15 14:04:07 on ttys000
/Users/joseph
EARTHING joseph @ ~ $ ls -la ~/Library/Logs/VisualStudio/7.0
total 288
drwxr-xr-x  7 joseph  staff    224 Dec 15 13:42 .
drwxr-xr-x  3 joseph  staff     96 Dec 15 13:41 ..
-rw-r--r--  1 joseph  staff   1299 Dec 15 13:41 AndroidTools.2018-12-15__13-41-55.log
-rw-r-----  1 joseph  staff  77052 Dec 15 14:05 Ide.2018-12-15__13-41-55.log
lrwxr-xr

[2018-12-15 22:04] karelz commented on #2151
@damiand2 I am not expert on transactions, so I don't understand why you think this is true:

Is it based on documentation? Or is it based on how you think it should behave (aka view point)?

[2018-12-15 22:38] karelz commented on #2099
@atljoseph I understand your frustration when basics things don't work. Regardless, I'd like to ask you to be polite, constructive and follow [.NET Foundation Code of Conduct](https://www.dotnetfoundation.org/code-of-conduct) (which we sadly don't have linked from this repo docs - something we should fix).

Note that 3.0 is in first Preview, so not all things work perfectly yet. We, however, welco

[2018-12-16 09:58] schotime commented on #2149
I'm seeing this issue too and @alexeyzimarev's suggestion doesn't work

[2018-12-16 14:54] atljoseph commented on #2099
I am being polite when I say your question about MonoDevelop is idiotic. If I am not using MonoDevelop, it is because Visual Studio for Mac uses MonoDevelop. I simply posted the contents of the Visual Studio for MAC error log. You should be able to see that the error log is for Mac and not Windows. Basics.

[2018-12-16 15:34] atljoseph commented on #2099
Yesterday, I downloaded the Core 3.0 preview 1 SDK onto a MAC, installed VS and SDK, then immediately ran dotnet new webapi. After that, opened the project in VS for MAC (again, it works great on Windows - It is just a piece of crap on a MAC - which is the usual state of Microsoft products for Mac). The IDE complained that AspNetCore was not in the namespace Microsoft. Also, the csproj file did no

[2018-12-16 15:41] atljoseph commented on #2099
If you don’t provide a link to such code of conduct, I will assume that the code of conduct does not exist. People do not know what they don’t know (or what you never told them in the first place). Again. DOCUMENTATION is crucial. Otherwise, the product might as well not even been built. You might think I am being mean, but that is just someone being Real with you! MS has put in a LOT of resources

[2018-12-16 20:32] leo2d opened #2155 "MSTest Unit Test Generators"
Currently has an alternative for intellitest on .Net core? I have Visual Studio 2017 enterprise and need to generate many unit tests with MSTEST on .NET CORE apps. But... The plugins i have found only works with xUnit/NUnit  and Visual Studio intellitest  only works with .Net Framework.

[2018-12-17 19:09] karelz commented on #2155
It seems that the feature IntelliTest supports only .NET Framework: https://docs.microsoft.com/en-us/visualstudio/test/generate-unit-tests-for-your-code-with-intellitest?view=vs-2017
@leo2d can you please provide feedback directly to Visual Studio? https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio-2017?view=vs-2017 ... that way it will find the right team

[2018-12-17 19:09] #2155 closed

[2018-12-17 21:50] kendrahavens commented on #2155
Thanks @karelz.

We are tracking adding Intellitest support for .NET Core on [developer community here](https://developercommunity.visualstudio.com/idea/359250/add-intellitest-support-for-net-corestandard.html). It is on the roadmap. (Please upvote if it's an important scenario to you. It does help us prioritize.)

Unfortunately, I don't have any recommendations for other .NET Core MSTest generati

[2018-12-17 21:58] leo2d commented on #2155
Thank you for the supporting.

[2018-12-17 22:24] montella1507 opened #2156 "Parent ViewModel is not bound (null) when error occurs in child VM"
# General
When error occurs in binding of child viewmodel, parent ViewModel is NULL.

#Desired behavior
Parent ViewModel should not be NULL, only Child VM.

How to simulate:
[code]

Result in controller is, VM is NULL:
![image](https://user-images.githubusercontent.com/10418323/50119343-c9ef7c80-0252-11e9-86c6-356a32326bad.png)

Version info:
Microsoft.AspnetCore.App (2.1.1)
Win 10 x64  .NET Core

[2018-12-17 22:35] karelz commented on #2096
@no1melman I am a bit confused - what exactly is it you're expecting vs. what happens today?

cc @janvorli @jeffschwMSFT

[2018-12-17 23:44] Eilon commented on #2156
This issue was moved to aspnet/AspNetCore#5681

[2018-12-17 23:44] #2156 closed

[2018-12-17 23:44] Eilon commented on #2095
This issue was moved to aspnet/Extensions#796

[2018-12-17 23:44] #2095 closed

[2018-12-18 00:37] atljoseph commented on #2099
Thanks @richlander. It was not working correctly _until_ all traces of previous dotnet SDK's were removed.

[2018-12-18 00:48] ColinM9991 commented on #1803
@DwiYI

I am also using systemd to host my ASP.NET Core + Angular app on Linux and have this issue.

Can you please confirm whether your index.html lives in the specified working directory? I'm quite unsure as to what's causing this issue as everything is configured as it should and the application does work just fine in production, but my logs are riddled with this error.

[2018-12-18 02:43] DwiYI commented on #1803
@ColinM9991

my _index.html_ is inside dist folder. and make sure `spa.Options.SourcePath = "ClientApp"`

this is my folder structure (inside `/var/www/helloapp`)
[code]

[2018-12-18 03:36] rakeshsinghranchi commented on #2149
@schotime , while problem related to packages-microsoft-prod.deb has been identified as per this issue.  Can you please share below details to further diagnose the issue you are encountering ?
1.	List the feeds runtime package is configured.
apt-cache policy dotnet-sdk-2.2
apt-cache policy dotnet-runtime-2.2
2.	OS details
cat /etc/os-release
3.	List which system package is failing to install
sudo

[2018-12-18 04:04] akaylh opened #2159 "How to get hardware"
# Issue Title

Be as descriptive as you can with your title.

# General

Provide details on the problem you are experiencing including the .NET Core version, operating system version and anything else that is relevant.

Please provide a code sample for your issue if it is relevant, either inline, link to a gist (or similar) or add it as a zipped attachment.

For some issues, you will get a quicker

[2018-12-18 04:08] karelz commented on #2159
Did you mean to ask a question? The text above is content of the template ...

[2018-12-18 04:43] nguyenminh-phuc commented on #2106
@richlander

[2018-12-18 06:44] godrose opened #2160 ".NET Core 3.0 Preview 1 makes app fail to start"
# Issue Title

Using latest version of .NET Core 3.0.0 SDK (009812) introduces regression into an existing app

# General

Upgrading to the preview version and using it instead of 2.2.0 results in the following exception during app start:
[code]

[2018-12-18 06:49] godrose commented on #2160
I'm using OpenId.Connect in my app
https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server/issues/210

[2018-12-18 06:54] godrose opened #2161 "Uninstalling .NET Core 3.0.0 preview1 leaves traces"
# Issue Title

Uninstalling .NET Core 3.0.0 preview1 leaves traces

# General

I removed .NET Core 3 SDK and still have `dotnet` CLI complaining about missing files in path that includes the words `3.0.0-preview`

[2018-12-18 08:22] codeex opened #2162 "I suggest to Create .net's "Spring Framework" by Microsoft."
# I suggest to Create .net's "Spring Framework" by Microsoft.

Because Dot Net Core Require Bussiness Framework to fly in the cloud world.

# General

Provide Framework 、Interface and Implement document, and then Many coder to implement this.

[2018-12-18 09:04] jskeet commented on #2099
Guidance on using the preview from Travis would be welcome. I've got a certain distance in NodaTime by downloading the tgz file and following the instructions, but then any tests that use the netcoreapp2.x fail because only the 3.0 preview runtime is discovered.
Unlike on Windows where the installer sets everything up happily to run side-by-side, the [instructions for Linux](https://dotnet.microso

[2018-12-18 11:05] LokiMidgard opened #2163 "Changing AssemblyName prevent app from starting"
I've created a project and want to rename the created Assembly.
OutputType: `WinExe`
TargetFramework: `netcoreapp3.0`
UseWPF: `true`

OS: `Windows 10`
dotnet core `3.0.100-preview-009812`

After renaming it I can no longer start the exe or debug it in Visual Studio.
Following error appears when I try to start debugging:
[code]
I try to set `<AssemblyName>DiceTool.Ui</AssemblyName>` to `<AssemblyNa

[2018-12-18 11:48] elhoir commented on #2088
No need! Just keep supporting Windows XP / Windows 2003 versions ;) ReactOS team will do the rest.

[2018-12-18 17:10] karelz commented on #2162
Look into ASP.NET Core - it has many parts of similar framework and other goodies.

[2018-12-18 17:10] #2162 closed

[2018-12-18 17:10] karelz commented on #2161
What exactly does `dotnet` CLI complain about?

[2018-12-18 17:11] karelz commented on #2161
@rakeshsinghranchi can you please help me route it?

[2018-12-18 17:12] godrose commented on #2161
ASOS scheme is already added. I feel like this issue should be transferred
to AspNetCore but can’t find how.

On Tue, 18 Dec 2018 at 19:11 Karel Zikmund <notifications@github.com> wrote:

--
Best Regards,
Gena

[2018-12-18 17:13] Nanook opened #2164 "30 Second pause when opening an NFS file for read or write"
Tested on **dotnet core 2.2 and 3.0 pre 1** - **ARM32**

Hardware: **Odroid XU4Q**
OS: Ubuntu **18.04.1** LTS (Kernel 4.14.87-153 armv7l)
NAS: **DLink 320L** with 2018 firmware

The NAS filesystems can be enumerated, but there is a 30 second pause when opening any and every subsequent file for read or write. I have not seen this pause with any other software. Even testing with .Net 4.5 and mono it

[2018-12-18 17:15] karelz commented on #2160
Do you have a minimal repro for ASP.NET team?

[2018-12-18 17:15] godrose commented on #2161
The folder 3.0.0 inside dotnet folder is left intact

[2018-12-18 17:39] karelz commented on #2161
What is `ark`?
Can you provide details about OS and how exactly you uninstalled?

[2018-12-18 17:43] mbearup commented on #2149
Obviously the failures are unexpected, thanks for bringing them to our attention. For those experiencing failures, could you respond back with the following.
1. OS (specifically if it is a derivative of Ubuntu, not stock Ubuntu).
2. Output of `dpkg -l | grep "packages-microsoft-prod"`
3. Output of `dpkg -L packages-microsoft-prod

There is a preinst script which checks for existence of the files,

[2018-12-18 17:52] godrose commented on #2161
it's a typo. I meant `sdk`
it's win10 x64.
The uninstall was executed via 'Add/Remove programs->Uninstall'

[2018-12-18 17:54] Eilon commented on #2160
This issue was moved to aspnet/AspNetCore#5700

[2018-12-18 17:54] #2160 closed

[2018-12-18 19:21] manish-panwar opened #2166 "Kestrel returns 415 if Content-Type header isn't provided for GET calls"
# Issue Title

Kestrel in net core 2.2 returns 415 if Content-Type header isn't provided for GET call

# General

I am using .net core 2.2 and created a web api. When we make GET call with "Accept" header then Kestrel is  returning 415, it works fine if I pass the Content-Type header. In dotnet core 2.1.x it used to work fine even if I didn't pass Content-Type header. I am wondering what has chang

[2018-12-18 19:41] mbearup commented on #2149
I'm unable to repro the issue in PopOS. The .list file installs successfully and the dotnet-sdk-2.2 package is discovered.
[code]

[2018-12-18 19:48] Eilon commented on #2166
This issue was moved to aspnet/AspNetCore#5707

[2018-12-18 19:48] #2166 closed

[2018-12-18 19:55] racheldelman commented on #2098
Hi, I have an app deployed on Azure and after updating to version 2.2 it is no longer working. Any idea when Azure will support netcoreapp2.2 ?

[2018-12-18 19:59] karelz commented on #2098
@racheldelman what do you mean by Azure in this context? What do you mean by "no longer working"?
First try to find out if it is problem of Azure service not supporting 2.2 (I would recommend to watch official communication channels for that particular service in such case) or if your app simply is broken by the upgrade (something you would need to investigate & isolate).

[2018-12-18 20:02] racheldelman commented on #2098
@karelz my application works perfectly fine locally so I assume it is an azure specific issue. Thanks!

[2018-12-18 20:14] mbearup commented on #2149
Same for Hyper-V Quick Create 18.04. The .list file gets created successfully and the dotnet-sdk-2.2 package is discovered. Your responses to the earlier question will be helpful in diagnosing this further.

[2018-12-18 20:43] muratg commented on #2098
@racheldelman Try West Central US region. I know 2.2 is there.

Though your issue could well be unrelated as well. So more info needed.

[2018-12-18 21:31] karelz commented on #2043
Looks like not actionable with current information, closing.
Let us know if there is more info and we can reopen.

[2018-12-18 21:31] #2043 closed

[2018-12-18 21:32] karelz commented on #2045
@John0King please file your question on WPF repo: https://github.com/dotnet/wpf

[2018-12-18 21:32] #2045 closed

[2018-12-18 21:33] wfurt commented on #2164
`strace -f -s 200 -e trace file dotnet XX`
Traditionally, I would look for any appearance of "sync" call. Some simple repro code would still be nice se I can get better idea what functions and calls are involved.

[2018-12-18 21:35] karelz commented on #2077
No more action is needed, closing.
If there is specific information how we can improve our tooling to be more resilient for long paths, please let us know. Thanks!

[2018-12-18 21:35] #2077 closed

[2018-12-18 21:47] karelz commented on #2085
Seems to be addressed, closing.

[2018-12-18 21:47] #2085 closed

[2018-12-18 21:48] wadebruce opened #2167 "Service runs on Windows and in Docker container but Mac has StackOverflowException"
Service runs on Windows and in Docker container but Mac has StackOverflowException

We have a web service that is developed on Mac machines, but we deploy via a Docker container. The service is consistently throwing a StackOverflowException when running locally on the Mac. All developers are experiencing this problem including those that run the service in Rider, through VS Code, and the command l

[2018-12-18 21:49] karelz commented on #2112
@sbomer @jeffschwMSFT can you please help route the issue?

[2018-12-18 21:50] richlander commented on #2106
I just talked to @vivmishra ... he is going to update the 2.2 release notes.

To explain ... we have an unwritten policy where we take a look at which distro versions will go out of support within 6 months of a new .NET Core release. We then subjectively decide whether to continue supporting it until the EOL date or not. It isn't a hard-and-fast rule. In this case, the last release before 2.2 was

[2018-12-18 21:52] karelz commented on #2104
Is there anything still to track / route out of here? Or can we close this issue @AaronRobinsonMSFT?

[2018-12-18 21:53] karelz commented on #2105
@vivmishra @leecow can you please take a look / comment?

[2018-12-18 21:54] richlander commented on #2167
Do you mean in your codebase or in the .NET Core codebase?

Can you share the signature of that one controller?

[2018-12-18 21:56] karelz commented on #2159
Closing for now. Please reopen if you update the top post with specific question.

[2018-12-18 21:56] #2159 closed

[2018-12-18 21:58] richlander commented on #2163
@livarcocc @vitek-karas

[2018-12-18 22:02] karelz commented on #2132
@Terricide I included your repro inline - it still references the library.
We need your help to figure out if it is problem with the library, or with .NET Core itself.

cc @jkoritzinsky if he can help ...

[2018-12-18 22:11] jkoritzinsky commented on #2132
@Terricide the library you're using is really unreliable. The Avalonia project (which I'm also a part of) previously used that for our macOS windowing subsystem. We realized that it was unreliable, crash prone, and didn't actually work half of the time. With Avalonia 0.7.0, we deprecated our usage (and stopped supporting) the `MonoMac.NetStandard` package and switched to using a native component a

[2018-12-18 22:51] karelz commented on #2132
Thanks @jkoritzinsky for your insights. Closing for now, until there is specific .NET Core problem sign.

[2018-12-18 22:51] #2132 closed

[2018-12-18 22:59] karelz commented on #2167
It might be interesting to post the important part of the callstack - the start which does not repeat and the end.

[2018-12-18 23:45] mbearup commented on #2149
This is truly confusing. I simply cannot repro what you're seeing....
1. Out of curiosity, could you do a sha256sum of the deb package? I get `54fb378267b8492f697a4d4f4ce3b339da750da00173f154d95701d81399aa6c`
2. Try getting the relevant logs via `$ grep "packages-microsoft-prod" /var/log/dpkg.log`. The package status is `ii` which means it's installed successfully, but maybe there's something in t

[2018-12-18 23:53] dasjestyr commented on #2149
Here's what I got for the sha:

[code]

Here is the last big block of logs in there. Not sure what "half installed" is all about:

[code]

[2018-12-19 00:18] richlander commented on #2122
This is what I see on my ARM64 Pinebook.

[code]

[2018-12-19 00:55] AaronRobinsonMSFT commented on #2104
I think at this point, we can close this issue.

[2018-12-19 00:55] #2104 closed

[2018-12-19 01:02] mbearup commented on #2149
The SHA256sum matches mine, which is a good sign.
`half-installed` and `half-configured` are regular steps for package installation. As long as they get to `installed` then it should be fine. Also surprised to see `upgrade` in your logs, but that would happen if you re-installed the package while it was already present.

1. Is this a **fresh install**, or a **reinstall/upgrade**? I've observed tha

[2018-12-19 02:10] yanrez opened #2169 "Need script to get crossgen for given dotnet runtime on linux"
I'm following instructions for resolving framework symbols for linux https://github.com/dotnet/coreclr/blob/master/Documentation/project-docs/linux-performance-tracing.md#resolving-framework-symbols

Current instructions require running 'dotnet publish --self-contained -r linux-x64' which is inconvenient in some cases when there is no dotnet sdk installed (e.g. when you are dealing with service de

[2018-12-19 04:12] schotime commented on #2149
Please find below

[code]

[code]

[code]

[code]

[code]

[2018-12-19 07:12] xoofx commented on #2122
@richlander could you try mono on ARM64? This is where I'm seeing a significant difference.

[2018-12-19 07:21] xoofx commented on #2122
On my Raspberry Pi, I'm getting the following for dotnet:

[code]
while with mono:
[code]

For some reasons, it is less dramatic than my earlier test (maybe I screwed up by using `dotnet run` instead of calling directly the `dotnet HelloWorld.dll`), but nonetheless, dotnet is still almost 2 times slower than mono, while usually, it is running faster. Running the same program on ARM32 and you will

[2018-12-19 08:40] thomasclaudiushuber commented on #2045
I just want to add here that you can control whether an entrypoint is generated or not with the App.xaml's Build Action. It's `ApplicationDefinition` by default, which will generate the Main-method. If you set it to `Page`, you won't get a Main method and you can implement your own file.

As linked above by @John0King: Discussion continued on https://github.com/dotnet/wpf/issues/192

[2018-12-19 10:02] vitek-karas commented on #2163
So far I've tried this from the command line (`dotnet run`) and it basically works.
On a hello world type of app this works without any issues.
On your DiceTool I can't rename it to `DiceTool` since that it collides with the DiceTool project. But I can rename it to `DiceToolU` and it works.

I'll try VS later on, but I would be surprised if it behaved differently.

What version of VS are you using

[2018-12-19 13:34] GodWarriorTigon commented on #2149
Update your current OS with Softwar Updater.After update, sudo apt-get install dotnet-sdk-2.2 is OK.

[2018-12-19 13:45] no1melman commented on #2096
I was using the kafka dotnet library, and it has to import the librdkafka dll using `[DLLImport(DllName, CallingConvention.Cdecl)]` however, due to some other issues it couldn't load the dll giving this error `dlopen(liblibrdkafka, 1): image not found` clearly that is incorrect `liblibrdkafka` it should just be `librdkafka` so I think there is a bug somewhere. The fact the dll wasn't loading is ir

[2018-12-19 13:48] dmitriy-shleht commented on #1668
Hi.
I have the same problem on windows 7

[code]

[code]

**Disable SocketsHttpHandler**

[code]

[2018-12-19 14:15] wadebruce commented on #2167
The merge commit is in our codebase. I'm struggling to understand how a code change would only break when running on the Mac host.

There is no stack trace provided when it quits. It just says StackOverflowException and then the Apple error report window pops open.

[2018-12-19 14:22] dvdme opened #2171 "Path.DirectorySeparatorChar and Path.DirectorySeparatorChar are the same causing a misbehaviour of Path.GetFileName()"
[Path.DirectorySeparatorChar](https://docs.microsoft.com/en-us/dotnet/api/system.io.path.directoryseparatorchar?view=netcore-2.1) and [Path.AltDirectorySeparatorChar](https://docs.microsoft.com/en-us/dotnet/api/system.io.path.altdirectoryseparatorchar?view=netcore-2.1) are both the '/' char in Ubuntu.

I think this is causing that `Path.GetFileName()`, running under Ubuntu, if supplied with an arg

[2018-12-19 15:01] wadebruce commented on #2167
One other thing we seemed to have learned - we have found that the code fails many layers deep in the dependency injection. We basically commented out all of the logic and we are able to reproduce the error just by calling the controller which then kicks off a series of injections.

Is it possible that there is a circular dependency? Does anyone know what depth the circular dependency reporting go

[2018-12-19 15:06] dvdme commented on #2171
I realized this is related to coreclr and not core directly.

I reopen the issue [here](https://github.com/dotnet/coreclr/issues/21597) and I'm closing this one.

[2018-12-19 15:06] #2171 closed

[2018-12-19 15:48] LokiMidgard commented on #2163
I wasn't able to reproduce it in an small project.

My Visual Studio Version is `16.0.0 Preview 1.1`
The [broken branch](https://github.com/LokiMidgard/Dice-Tool/tree/broken) is pushed.
Making a Clean and then Rebuild result in following error. (building a second time works)
[code]

Running from command line I get

[code]

You also said that the assembly name would collide. Maybe I'm misunderstand

[2018-12-19 15:50] ppumkin commented on #1949
This also fixed an intermittent issue for me.

NETCORE MVC 2.1 built to Linux backed Docker

I have an implementation of Rendering Razor to HTML so I can send it off to another service.
https://gist.github.com/ppumkin/9ca1ef2322f1390a6d5cda438e5e2319

Sometimes I got this error message.

[code]

By adding what @muriloecfaria suggestee actually fixed the problem.

`<MvcRazorExcludeRefAssembliesFrom

[2018-12-19 15:59] Terricide commented on #2132
I still think there is an issue here. If you take MonoMac out of the picture and just run

static void Main(string[] args)
        {
            Console.WriteLine("IsProcessTrustedWithOptions");
            Console.WriteLine("IsTrusted:" + IsProcessTrustedWithOptions());
        }

        [DllImport("/System/Library/Frameworks/ApplicationServices.framework/ApplicationServices")]
        private e

[2018-12-19 16:03] vitek-karas commented on #2163
Thanks a lot for the info.

You're seeing the same behavior as I did with the command line - so unfortunately it seems something in the build "combines" project and assembly names. That is definitely something we should look into as well.

You mention above that you can eventually build it (although with a two step build - which we also need to fix). Once it's built, can you run it, or do you get

[2018-12-19 16:56] kevindqc commented on #2134
The changes are here: https://github.com/dotnet/core/blob/master/release-notes/2.2/2.2.101-SDK/2.2.101-commits.md

[2018-12-19 17:58] karelz commented on #2167
There are dozens of potential explanations: There may be bugs in .NET, in the OS, in your app. There may be different allocation patterns, stack sizes, or on some configs you may just be lucky. Without full root-cause analysis, it will be just guess work. The key takeaway here is, it is possible and not that much rare to see platform/config differences.

Then attach a debugger, or run it under deb

[2018-12-19 18:01] karelz commented on #1668
@dmitriy-shleht the fact you're seeing the problem with and without SocketsHttpHandler hints it is likely some problem in your environment. Maybe misconfigured network, proxy, or something.
Try to isolate a repro (start with HelloWorld). Check accessibility of the endpoints, etc. Look at network capture traces (e.g. Wireshark/Fiddler) to see what's going on.

[2018-12-19 18:05] karelz commented on #2096
I believe there are a few prefixes and suffixes we try for `DllImport` on Linux, incl. "lib" prefix and ".so" suffix.
@janvorli @jeffschwMSFT may know more.

[2018-12-19 18:12] wfurt commented on #2164
The Activity.log does not have info I was looking for. It seems like the 'file' group has only subset of the system calls ;( Could you please re-run it with `strace -tt -f -s 200 -T -e trace=%file,%desc`

I run the code fragment you posed and I see openat, fstat, flock, ftruncate, lseek, write, flock and close sequence. It takes 3-4 ms on my system. There is also some timezone processing but I'm n

[2018-12-19 18:39] karelz commented on #2143
@bartonjs ping?

[2018-12-19 18:55] Eilon commented on #2127
This issue was moved to aspnet/AspNetCore#5970

[2018-12-19 18:55] #2127 closed

[2018-12-19 19:08] CumpsD commented on #2134
Thanks!

[2018-12-19 19:13] bartonjs commented on #2143
@xinschen .NET Core 2.1 doesn't use OpenSSL 1.1, so updating the 1.1 package wouldn't do anything.  Updating to the newest openssl-libs 1.0 package would be the thing to try; or to move from CentOS 7.3 (12 Dec 2016) to 7.5 (10 May 2018) or 7.6 (3 Dec 2018).

[2018-12-19 19:14] PeterJD commented on #2077
Hi you should specify that there is such an issue
Took me a very long time to figure this out
Some project are big and this may cause a lot of issues

[2018-12-19 19:18] Terricide commented on #2132
I don't know I'm trying to reach out to apple as well. Programs like dropbox and teamviewer are using this mechanism on mojave to get the correct permissions.

[2018-12-19 19:20] Terricide commented on #2132
But I logged a ticket last week with apple as well and haven't heard back from them.

[2018-12-19 19:35] jkoritzinsky commented on #2132
@Terricide Try adding a `[return: System.Runtime.InteropServices.MarshalAs(UnmanagedType.U1)]` to your P/Invoke declaration. I think the native bool size for Objective-C and Swift is 1-byte, but we marshal Booleans to a 4-byte bool by default.

[2018-12-19 22:04] ColinM9991 commented on #1803
@DwiYI

Thank you for confirming your structure.

The source path in the Startup.cs and angular.json files is correct for me, the application builds and runs successfully but my logs are plagued with this error regardless, I'm wondering if it's a Linux issue as I host on Ubuntu 18.04 with nginx as a reverse proxy as described here https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/linux-

[2018-12-19 22:37] xoofx commented on #2122
Just tested this on a new RockPro64 I received:

With latest dotnet:

[code]

With Mono:

[code]

So we can see that dotnet is 2/3 times slower than mono, so there is clearly an issue on arm64.

[2018-12-19 23:41] Nanook commented on #2164
I thought the timezone might have been the issue as I had noticed Mono had output the U.S. date format when calling ToString(). I checked the Language settings and the dialog had no format examples (dates, currency etc) and the dropdown lists were empty. I added English and set them all to British English, but it appears to have made no difference. I'm going to test that dotnet core has picked the

[2018-12-19 23:52] wfurt commented on #2164
yes, locking seems to be the problem.  You can try to mount your volume with `nolock` option.
I don't know if there is any option to do IO without locking.
cc: @JeremyKuhne

[2018-12-20 00:10] Nanook commented on #2164
x.x.x.x:/mnt/HD/HD_b2 on /media/nas2 type nfs (rw,relatime,vers=3,rsize=8192,wsize=8192,namlen=255,hard,nolock,proto=tcp,timeo=14,retrans=2,sec=sys,mountaddr=x.x.x.x,mountvers=3,mountport=60319,mountproto=udp,local_lock=all,addr=x.x.x.x)

Is the result from **mount** after adding nolock. Same 30 second pause unfortunately.

[2018-12-20 01:05] sseyalioglu commented on #1553
I tried both solutions and not working for me.
I've done Env Variable and the plist but no luck. I've been using mac in the past 1 year after several years with Windows so I may be not quite good in setting this up although this is the first ever thing didn't work for me so far.

[2018-12-20 02:40] xinschen commented on #2143
@bartonjs  Already upgraded, but not resolved
![image](https://user-images.githubusercontent.com/26127685/50260599-a3dcfe80-0443-11e9-9e78-6332bda3b3ad.png)

[2018-12-20 03:30] codeex commented on #2082
Thanks ！ @dasMulli

[2018-12-20 06:04] haiduc32 opened #2172 "Fail to build a .Net Core 2.2 project with Azure DevOps with on-premises agent"
We are using the Azure DevOps to host and build our code. We are starting to build new services on .Net Core and since 2.2 is out, decided to go that route. But after installing .Net Core SDK 2.2.101 on the build agent (on premises), creating a vanilla asp.net core empty project (New Project -> pushed to git, absolutely no changes), it looks like it wants to compile it against the 2.1, even though

[2018-12-20 06:04] haiduc32 commented on #2172
p.s. added here as seems like a .Net Core issue, rather than a Azure DevOps but I might be wrong...

[2018-12-20 07:03] foman opened #2173 "Doesn't dotnet core verify the strong named assembly ?"
For example, assembly A and B(1.0) are both strong named, and A reference B(1.0). If B(1.0) is replaced by B(2.0) which is also signed, It still work, but In .netframework, it will throw exception.
Is this by design?

[2018-12-20 09:03] Nanook commented on #2164
I'd be interested in knowing what people's opinions are of this. I feel like nolocks is bad and that I should be using locks. It's not too much of an issue for me as I mainly only use the NAS from this one system (which will be managing locks from itself).

It appears older NAS drives (NFS3?) don't support flock and lockf is preferred. I have very little experience with this so I thought I'd ask.

[2018-12-20 09:28] rtssrl opened #2174 "Fail to install dotnet core 2.2 on SLES 12"
Following instructions at https://dotnet.microsoft.com/download/linux-package-manager/sles/runtime-current:

[code]
Looks like dotnet-host-2.2 RPM is missing from https://packages.microsoft.com/sles/12/prod/

[2018-12-20 10:01] Ludogo commented on #2149
I had same problem when i wanted to update SDK. I have executed above instruction and then apt source list was successfully loaded when running sudo apt-get update. Then SDK  was reachable and SDK was update. thanks a lot !

[2018-12-20 14:35] TristanApc commented on #2134
In 2.2.101 I'm receiving a `System.ObjectDisposedException: 'The CancellationTokenSource has been disposed.'` exception from `System.Private.CoreLib`, resulting in a hard crash. The issue is intermittent. Full exception detail below:

[code]

[2018-12-20 17:50] wfurt commented on #2164
cc: @janvorli I'm still not sure why the flock() would take so long to fail.

[2018-12-20 18:47] wadebruce commented on #2167
OK - we did identify that it was a circular dependency deep in the graph. Maybe there is a bug in the .NET framework on Mac. I'll post a the Apple system report here for reference.

I am concerned that it wasn't able to identify the circular dependency itself.

[2018-12-20 18:56] wadebruce commented on #2167
Process:               dotnet [9082]
Path:                  /usr/local/share/dotnet/dotnet
Identifier:            dotnet
Version:               0
Code Type:             X86-64 (Native)
Parent Process:        rider [3494]
Responsible:           dotnet [9082]
User ID:               501

Date/Time:             2018-12-20 12:55:51.619 -0600
OS Version:            Mac OS X 10.14.2 (18C54)
Report Versio

[2018-12-20 19:08] karelz commented on #2167
@wadebruce are you able to create a small HelloWorld-style repro with a circular dependency that would demonstrate the problem and lack of our ability to detect it in a meaningful way?
It may be by design, but if there is small repro, we can at least pass it to the right team to make the call.

[2018-12-20 19:15] karelz commented on #2134
@TristanApc it is not clear from the callstack if it is a bug in your code, some 3rd party library or in .NET Core itself. You will likely need to root-cause it first or at least do deeper investigation, then file a bug.

[2018-12-20 19:21] karelz commented on #2174
@rakeshsinghranchi @leecow can you take a look please and help route it?

[2018-12-20 19:31] rakeshsinghranchi commented on #2174
This issue was moved to dotnet/core-setup#4890

[2018-12-20 19:31] #2174 closed

[2018-12-20 19:31] karelz commented on #2172
It seems that something in your Azure DevOps setting (or in the platform itself) decided to use wrong MS.AspNetCore.App package. If it compiles locally, I would dig into the differences of used SDKs and other tools. Contacting Azure DevOps support may be one of the ways to narrow it down.
This may be also helpful: https://www.hanselman.com/blog/AzureDevOpsContinuousBuildDeployTestWithASPNETCore22P

[2018-12-20 19:31] #2172 closed

[2018-12-20 19:37] karelz commented on #2173
@jkotas @jeffschwMSFT is there any official high-level documentation about assembly loading differences between .NET Core and .NET Framework?
I couldn't find anything except specific documentation on AssemblyLoadContext, etc. -- which already assumes I know what to look for.

[2018-12-20 19:54] venendroid opened #2177 ""dotnet publish" failed after core projects were upgraded to 2.1.6 SDK"
"dotnet publish" failed after core projects were upgraded to 2.1.6 SDK.
When we are able to build the projects or solution using Visual studio 2017, we don't see any issues. It is building fine with no errors. When we are running the repo for deployment using "dotnet publish", we are seeing this below error.
`**\.nuget\packages\stylecop.msbuild\5.0.0\build\StyleCop.MSBuild.targets(101,5): error MS

[2018-12-20 20:30] dasjestyr commented on #2149
@mbearup One of your steps worked but I'm not sure which. I forgot to update apt-get after each one so thought they were failing. Eventually, I remembered and the package installed correctly

[2018-12-20 22:02] Terricide commented on #2132
I tried that and it didn't help. If I tell my mac to trust Terminal and run my sample app within the terminal then it works and comes back true. So I believe the pinvoke method is working correctly. I just need to figure out how to get the mac to trust my .net core binary regardless of how it is run.

It feels hacky but I'm going to try and write native binary executable, add it to accessibility a

[2018-12-20 22:13] venendroid commented on #2177
Here is the bug which I was found. The projects which I am building or publishing doesn't have any reference of stylecop. After digging more, I found out that one of the internal project has a nuget package reference which has a dependency of stylecop reference.

To fix this issue, I removed stylecop reference completely from the internal project and published a new nuget package. And now I refere

[2018-12-20 23:14] Terricide commented on #2132
I just tried the same sample just using swift and it has the same behavior. If I trust terminal it is okay but if I specify the binary it doesn't work. It is clearly not a .net core issue.

[2018-12-21 06:54] dmitriy-shleht commented on #1668
Thank. The problem was in the internet provider. Began to use a proxy and everything is ok.
It is not clear why in the browser `api.nuget.org` worked, and through `dotnet.exe` there was an exception.

[2018-12-21 07:18] sepehr1014 commented on #2134
@TristanApc @karelz It might be related to https://github.com/aspnet/AspNetCore/issues/4422 which should be fixed in the next minor release https://github.com/dotnet/coreclr/pull/21417

[2018-12-21 12:10] ghost1372 commented on #2099
hi is there any news about wpf designer support?
Will it be available before 2019?
When will the next preview be released?
tnx

[2018-12-21 13:33] TristanApc commented on #2134
@sepehr1014 thanks! That definitively seems related since CoreLib directly throws the exception that I'm getting. The application is indeed ASP MVC using kestrel.

[2018-12-21 14:10] Jcouls29 commented on #1781
@leecow I have been trying to implement a custom solution to patch automatically for our IT group. However, I wanted to ask a simple question about the releases.json (actually releases-index.json). The url's presented in a number of these json files point to other files in the github repo. When these are downloaded, we will get the github html (which is expected). However, it means that using the

[2018-12-21 17:28] petttro opened #2179 "DI IHttpContextAccessor.HttpContext is null after upgrade to 2.2.0"
# DI IHttpContextAccessor.HttpContext is null after upgrade to 2.2.0

# General

After upgrade aspnet core nuget packages from version 2.1.0 to 2.2.0 I've got issue IHttpContextAccessor.HttpContext unexpectedly became null during dependency injection.
I've investigated problem and found the cause of the problem was override `HttpContext.TraceIdentifier` in middleware. For 2.1.1 it was working well

[2018-12-21 17:30] karelz commented on #2099
@ghogen it will be part of VS 2019 - see WPF repo for details: https://github.com/dotnet/wpf#status or https://github.com/dotnet/wpf/issues/188

[2018-12-21 17:30] petttro commented on #2179
@MarcoRossignoli thank you for quick response
Will do!

[2018-12-21 17:41] petttro commented on #2179
Moved here: https://github.com/aspnet/AspNetCore/issues/6080

[2018-12-21 17:41] #2179 closed

[2018-12-21 18:03] leecow commented on #1781
Hi @Jcouls29 - the 'raw' files can be found under https://raw.githubusercontent.com (for [example](https://raw.githubusercontent.com/dotnet/core/master/release-notes/releases-index.json)).

However, the 'production' files will be hosted in Azure storage and that's the location you should count on. The index available at https://dotnetcli.blob.core.windows.net/dotnet/release-metadata/releases-index

[2018-12-21 18:18] Jcouls29 commented on #1781
@leecow Perfect. I'll use this location instead. I appreciate it.

[2018-12-21 20:07] wadebruce commented on #2167
That _might_ be possible - I'm not sure if it's a width or depth issue with the DI graph. In theory, one could make an empty project where you just keep injecting endlessly with different classes and then create a circular dependency many layers down. That's probably not something I'll have time to do right now.

[2018-12-21 20:11] karelz commented on #2167
OK, given that it is resolved for you, I am going to close the issue now.
If you happen to be able to isolate the problem, we can then route it to the right people. Thanks!

[2018-12-21 20:11] #2167 closed

[2018-12-22 22:13] MarcoRossignoli commented on #2125
https://github.com/Azure/app-service-announcements/issues/151

[2018-12-22 23:33] Kikimora commented on #2019
I don't this this is a dup. Referenced issue solved by using createdump, but here I cannot attach to a running dotnet process.

[2018-12-23 16:48] zangxx66 opened #2180 "Publish winforms application miss file in .Net Core 3.0"
# Issue Title

Publish winforms  application miss file in .Net Core 3.0

# General

I set a icon,but it dont work atfer publish,expction is cant found icon file.

[2018-12-23 19:24] trondhindenes opened #2181 "Building with custom sources is unnecessarily difficult"
# Building with custom sources is unnecessarily difficult / dotnet cli is suboptimal / building is painful

# General
The .net core cli doesn't contain explicit options for managing nuget sources. There are several "wrappers" which allow implicit package restore, such as nuget publish, nuget build, etc. However, since only "nuget restore" contains the "s" parameter for specifying explicit sources,

[2018-12-23 21:41] GTANAdam commented on #2112
Duplicate of https://github.com/mono/linker/issues/405#issue-384591824
Additionally, this affects linux and windows as well as mentioned here: https://github.com/mono/linker/issues/405#issuecomment-449644906

[2018-12-23 22:39] GTANAdam opened #2182 "ASP.NET Core 2.2: Framework-dependent executable (FDE) refuses to work on Linux"
# ASP.NET Core 2.2: Framework-dependent executable (FDE) issue on Linux Ubuntu 18.04

Deployed [FDE](https://docs.microsoft.com/en-us/dotnet/core/deploying/) builds simply refuse to work on Linux, even with all the dependencies being installed.

the feature itself is a pretty good mix of SCD and FDD, gaining performance thanks to platform-specific build crossgen-ing as well as reduced package size

[2018-12-23 23:01] MrM40 commented on #571
madhav5589, did you succeed running dotnet in WinPE?

[2018-12-24 04:55] kamalkumar1 commented on #860
I having same issue while running uwp Xamarin project in windows emulator

Error	CS0012	The type 'Object' is defined in an assembly that is not referenced. You must add a reference to assembly 'netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'.

[2018-12-24 15:00] mammadkoma opened #2183 "is there dotnet core sdk portable?"
# Issue Title

dotnet core sdk portable
# General

Hi
We can not install any application in our PCs for our network policies.
I downloaded "dotnet-sdk-2.2.101-win-x64" but I do not have administrator user pass for installation.
Is there a way for have dotnet core sdk or standard dot net on my pc?
I only have VS Code Portable and "dotnet new -t web" command gives error:
_dotnet : The term 'dotnet'

[2018-12-25 14:53] Alexmitter commented on #1522
Had the same issue.
Removed 2.1 to update to 2.2. And the Repo was just gone.
I had to do the manual steps from https://github.com/dotnet/core/issues/1889#issuecomment-417092809 and it fixed it. But this seems to be a general problem with the way MS adds the repo with that deb package since i have the exact same issue with the pwsh repo.

[2018-12-26 03:13] karelz commented on #2183
I believe you can just unpack the ZIP file, set some env. vars. and run from a directory.
There also seems to be installation script for Windows: https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-install-script ... maybe it does not need admin priviledges if you do not install SharedFramework.

Standard is not something you can install. It is just spec (or think about it as interface) that

[2018-12-26 03:13] #2183 closed

[2018-12-26 03:23] #2112 closed, assigned to sbomer, jeffschwMSFT

[2018-12-26 03:27] #2181 closed, assigned to nobody

[2018-12-26 03:33] karelz commented on #2125
Thanks @MarcoRossignoli!
Closing as I assume it answers all the questions. If not, please let me know what remains and I can reopen. Thanks!

[2018-12-26 03:33] #2125 closed

[2018-12-26 03:34] karelz commented on #2120
FYI: https://github.com/Azure/app-service-announcements/issues/151 - .NET Core 2.2 availability on App Service.

[2018-12-26 05:39] karelz commented on #2083
@GanesanRengasamy your report mentions Android and Xamarin. The conclusion is that it is specific to Xamarin.Forms package specifically, so that's why starting there might be best.
If you have evidence it is not specific to that package or to Xamarin TFM, please provide that info and we can re-evaluate.

[2018-12-26 07:17] jsowndarrajan opened #2184 "Environment variable in web.config file get appended into system Environment variable"
# Issue Title

Environment variable in `web.config` file get appended into system environment variable

# General

Provide details on the problem you are experiencing including the .NET Core version, operating system version and anything else that is relevant.

Please provide a code sample for your issue if it is relevant, either inline, link to a gist (or similar) or add it as a zipped attachment

[2018-12-26 09:15] OpenGDBX opened #2185 ".net core 2.2 sdk install failed on windows 7 sp1"
# Issue Title

.net core 2.2 sdk install failed on windows 7 sp1

# General

 the cabinet file sfx_x64.cab has an invalid digital signature

[2018-12-26 10:14] olavt opened #2186 "Couldn't find a valid ICU package installed on the system?"
I have been running a .NET Core 2.2 application in a Docker container fine on Raspberry PI 3 (using Raspbian Stretch Lite November 2018) with no problems for several weeks.

But, today when trying to run a newly built container I get:

FailFast:
Couldn't find a valid ICU package installed on the system. Set the configuration flag System.Globalization.Invariant to true if you want to run with no gl

[2018-12-26 11:20] Lohnegrim opened #2187 "Almost all functions in Microsoft.VisualBasic.Strings cannot directly be used in NET Core 3.0.0 Preview 1, but can be used by Microsoft.VisualBasic and get linked by the compiler to Microsoft.VisualBasic.Strings"
.NET Core SDK (reflecting any global.json):
 Version:   3.0.100-preview-009812
 Commit:    e3abf6e935

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17763
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\3.0.100-preview-009812\

Host (useful for support):
  Version: 3.0.0-preview-27122-01
  Commit:  00c5c8bc40

Have you experienced this same b

[2018-12-26 14:15] mammadkoma commented on #2183
Could you explain how?
I opened powershell and wrote : PS C:\Users\sap-komaei.CII> ./dotnet-install.ps1 -Channel 2.0 -InstallDir C:\cli

But give error :
./dotnet-install.ps1 : The term './dotnet-install.ps1' is not recognized as the name of a cmdlet, function, script
file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is correct
and try again

[2018-12-26 14:40] MarcoRossignoli commented on #2183
@mammadkoma you need to download and run script "https://dot.net/v1/dotnet-install.ps1" from https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-install-script

[2018-12-26 15:20] robinwilson16 opened #2188 "Net Core 2.2 IFileProvider DirectoryNotFoundException Error on Debug As IIS Express look in C:\Program Files\IIS Express\wwwroot\FOLDER"
Net Core 2.2 IFileProvider DirectoryNotFoundException Error on Debug As Looks in C:\Program Files\IIS Express\wwwroot\FOLDER

I was able to debug in Net Core 2.1 but since updating the project to 2.2 I am now getting the following error on debug (Ctrl+F5 or just F5) and this happens in the latest version of Visual Studio 2017 as well as the latest 2019 beta. I just tried upgrading to the latest De

[2018-12-26 15:57] robinwilson16 commented on #2188
After further research I have now found a way to fix this.
Not sure if it is a bug or the functionality of ```Directory.GetCurrentDirectory()``` has changed but it seems the correct way to do this (which works in NET Core 2.2) is:

First amend the top part of Startup.cs as follows to make the environment variables accessible:
[code]

Then amend the code in the ConfigureServices section as follows:

[2018-12-26 15:57] #2188 closed

[2018-12-26 16:52] fdbva commented on #2125
I think it doesn't answer this question:

Changing the `AspNetCoreModuleV2` in web.config seems like an work around and not the root of the problem if I want to use the `Self-Contained` option. Does it have any unintended effect? Am I using an old version of `AspNetCoreModule` by doing that?

Thanks!

[2018-12-26 19:51] karelz commented on #2184
I think the behavior is fairly reasonable. You need to decide what to use - env vars or config file, not both.
I let ASP.NET experts to make final decision though.

[2018-12-26 19:56] karelz commented on #2186
Looks like this documented problem based on quick internet search: https://github.com/dotnet/core/blob/master/Documentation/build-and-install-rhel6-prerequisites.md#troubleshooting

[2018-12-26 19:56] #2186 closed

[2018-12-26 20:40] karelz commented on #2125
@fdbva looks like there is multiple questions - I have harder time to understand what your remaining question is about (as I am not expert on ASP.NET Core). Would it be more appropariate to ask the question on ASP.NET Core repo, or am I missing something?

[2018-12-26 21:08] olavt commented on #2186
How can the article you quoted be relevant to running .NET Core 2.2 in a Docker container using the Microsoft provided base image? Shouldn't the Docker image run with all the dependencies included on the Docker host? As I understand the above article is relevant for installing directly on the OS.

[2018-12-26 21:36] karelz commented on #2186
Does the Docket image contain the libraries referenced in the article? Given that Docker images try to be as small as possible (esp. --slim variants - see [Docker repo](https://github.com/dotnet/dotnet-docker/issues?q=is%3Aissue+ICU+is%3Aclosed)), I wouldn't be surprised if that's the case ...
Either way, I assumed, the docs are enough to point in the right direction. Is that not the case? If not,

[2018-12-26 22:18] olavt commented on #2186
I have been running .NET Core application in Docker images over the past 12 months without this kind of problems. Why should it surface out of the blue?

[2018-12-27 05:57] stdcppdev opened #2189 "Default WPF project self-contained application cannot run on a pure windows 7 SP1"
# Issue Title

Default WPF project self-contained application cannot run on a pure windows 7 SP1

# General

1. Install .NET Core v3.0.0-preview-27122-01
2. use the command line "dotnet new wpf -o C:\test_wpf" to create an WPF project.
3. use the command line "dotnet publish -c Release --self-contained" to publish.
4. copy the published folder to a new installed pure Windows 7 machine.
5. Install

[2018-12-27 06:07] ithinkso117 commented on #2189
Yes, I also encountered this shit! Please fix this big problem!

[2018-12-27 06:08] liuzhenyulive commented on #2189
I have the same problem

[2018-12-27 06:10] ithinkso117 commented on #2189
It's better to remove the KB dependence!

[2018-12-27 06:19] HanbGao commented on #2189
yeah,this is a good issue,please pay attention and fix it.

[2018-12-27 09:18] dsx12 opened #2190 "Architecture is not compatible?"
Greetings, I am using latest version of ubuntu (16.04.1). I was wondering if this program is compatible with x86 architecture or is it only compatible with 64bit systems?

If anyone can give me assistance it would be very nice, thank you.

[2018-12-27 09:37] mammadkoma commented on #2183
Thank you
I downloaded script "https://dot.net/v1/dotnet-install.ps1"
How to run it?

[2018-12-27 10:08] fdbva commented on #2125
@karelz
I don't know how to answer that. The question makes sense, but the whole issue from the beginning was `ASP.NET Core`, I think.
I didn't check, but I think the `Self-Contained` option exists for `.NET Core` as well. I could deploy as `Self-Contained` in `ASP.NET Core 2.1`, but in `2.2` it doesn't work.
We had to decide to not use the `Self-Contained` because of our deadlines, so I probably

[2018-12-27 10:17] MarcoRossignoli commented on #2125
@fdbva are you getting same issue?Can you share your detailed error log?

[2018-12-27 10:34] fdbva commented on #2125
I get the same error from the first post. Now we have the `2.2 Hosting Bundle` installed and it'll be hard to recreate because we need the IT team to change things like that here.

This solution by `krajek` worked:

But it feels like a work around, I suppose that when it's fixed, I wouldn't need to do something like that. I could just deploy with the `Self-Contained` option without having the `Hos

[2018-12-27 10:36] 0xd4d commented on #2189
Possible dupe of https://github.com/dotnet/wpf/issues/107

[2018-12-27 10:38] MarcoRossignoli commented on #2183
I use it in my builds(copied from .net core build repo)
[code]

Yes `To change the execution policy for the default (LocalMachine) scope, start PowerShell with the "Run as administrator" option`. It's a security setting.
https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.security/set-executionpolicy?view=powershell-6

[2018-12-27 11:15] MarcoRossignoli commented on #2125
@fdbva I try to explain better, sorry for my pool english.

AFIK you cannot run asp.net core inside IIS without "ASP.NET Core Hosting Bundle". This bundle allows asp.net core to run with/inside IIS, it implements so called handlers, IIS receive http request from network and "forward" these to asp.net engine (https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/aspnet-core-module?view=aspne

[2018-12-27 12:58] MarcoRossignoli commented on #2183
I mean, not really, with powershell you need powershell run script rights as all other scripts, but if you want you can download .net zip and unzip in some folder as non admin with custom tools. This scripts are done in powershell, the issue you are hitting is a powershell setting.
Here you can find links https://dotnet.microsoft.com/download/dotnet-core/2.2 for last zipped .net https://dotnet.mic

[2018-12-27 13:33] MarcoRossignoli commented on #2125
Yes, asp.net core is composed by some simple assemblies that run on .NET Core runtime. The same of ASP.NET MVC for .NET Desktop(i.e. classic 4.7.2). But web site needs a server and we've IIS that is "decoupled" from runtimes it hosts, so this "bundle" is the bridge between environments. `Self-Contained` works for asp.net core(it's .net core) but we need iis to expose our web site.

[2018-12-27 14:16] olavt commented on #2186
The image runs fine one another Raspberry PI 3 (using the OS image and components), so I suspect that something have went wrong with the platform the Docker image runs on.

[2018-12-27 14:53] fdbva commented on #2125
And with the `In process` option, would that paired with `Self-Contained` void the necessity of the `Hosting Bundle`? Or at least in the future, would that be possible or make sense?

ps.: is it ok to discuss like this in an issue? And again, thanks for the explanations =D

[2018-12-27 15:18] MarcoRossignoli commented on #2125
No `Self-Contained` is a runtime features not tied up with asp.net core hosting scenarios, I mean .Net runtime lives without asp.net core libs. `Hosting Bundle` is the piece of code that allow IIS to "launch and run" our asp.net core app. You could ask on asp.net channel on gitter aspnet/home for infos.
Info: https://docs.microsoft.com/en-us/aspnet/core/release-notes/aspnetcore-2.2?view=aspnetcore

[2018-12-27 18:04] DickBaker commented on #2098
wrong URL at conclusion of SDK 2.2.101 install

![2018-12-27_dotnet22101](https://user-images.githubusercontent.com/2774188/50489837-dc5f7800-0a01-11e9-8321-99b2ec9e883d.png)

[2018-12-27 18:13] DickBaker commented on #2098
the instruction to use dotnet to show correct installation of SDK 2.2.101 doesn't work if you had previously installed the SxS preview of 3.0.x as that shows thru instead (presumably PATH trumpted)
![2018-12-27 dn3pre](https://user-images.githubusercontent.com/2774188/50489991-aec6fe80-0a02-11e9-983f-892f7dceac2b.png)
![2018-12-27 dn2ok](https://user-images.githubusercontent.com/2774188/50490082-1

[2018-12-27 18:15] livarcocc commented on #2098
@DickBaker not really. The SDKs are side-by-side and installed next to each other. However, by default, we use the latest one available. So, if you have 2.2.101 and 3.0.100-preview, 3.0 being greater will be picked up. However, with the 3.0 SDK you should be able to target all the previous TFMs as well.

So, you can build a netcoreapp2.2 app using the 3.0 SDK.

[2018-12-27 19:47] karelz commented on #2186
I was about to suggest that I can see 4 possible reasons:
1. Change in OS,
2. Change in Docker image used,
3. Change in the app, or
4. The app took different code path.

Looks like you narrowed it down to option 1.

[2018-12-27 19:55] karelz commented on #2098
@DickBaker thanks for reporting the bad URL - it seems to come from here:
https://github.com/dotnet/core-setup/blob/b3b533c92fa1911767d382d174b6f2e6356cfae1/src/pkg/packaging/windows/sharedframework/bundle.wxl#L66

@rakeshsinghranchi do you own it in core-setup repo? cc @vivmishra @leecow

[2018-12-27 20:20] karelz commented on #2189
@italopessoa please review our [Code of Conduct](https://github.com/dotnet/wpf/blob/master/CODE_OF_CONDUCT.md). We expect everyone to be professional and respectful.
WPF is only in early previews. Bugs are expected at this stage. We welcome feedback and encourage community members to upvote top issues to help us prioritize (as few already did here).

[2018-12-27 22:05] karelz commented on #2177
Seems to be resolved ...

[2018-12-27 22:05] #2177 closed

[2018-12-27 23:40] MaxAkbar opened #2192 "Publish winforms application for Mac miss System.Windows.Forms"
# Using VS2019 Preview 1 on (Windows 10) to publish winforms (.NET Core 3.0) application for Mac generates error: System.IO.FileNotFoundException System.Windows.Forms

# General
On a Widows 10 using .NET core cli created a simple winform application. Then opened the projet
with Visual Studio 2019 preview 1. Next created a publish profile from VS2019 to deploy on a Mac. Deployed the published folde

[2018-12-27 23:44] livarcocc commented on #2192
WinForms applications (or WPF applications for that matter) are not supported crossplatform and only work on Windows.

This is by design.

[2018-12-27 23:44] #2192 closed

[2018-12-28 07:19] DickBaker commented on #2098
@livarcocc thanks for stating that the 3.0.100-preview would be used if present (I didn't know that). However I now have these points
1 how would I force using all 2.2.101 exclusively (ignoring the 3.0.100-preview) ?
2 surely the purpose of SxS is to isolate different SDK releases. Your way cross-contaminates?
3 your behaviour should be explicitly stated as warning/relnote instead of expected dotn

[2018-12-28 09:13] DickBaker commented on #2098
@livarcocc update to BTW in my last posting ..
I probably should have read&followed that welcome instruction to post to specific repos, i.e.
dotnet/core-setup - for installer issues
rather than this catch-all (#2098) issue
please move my postings to more focussed drops if appropriate [my bad]

[2018-12-28 17:43] johnkwaters commented on #2134
Still no ANCM for Azure App Services?

[2018-12-28 23:03] bartoszkp commented on #896
Happend to me as well. Unfortunately, also in my case running it again after a reboot with `/l*v log.txt` didn't allow to reproduce the issue and the package installed successfully,

[2018-12-29 09:01] mammadkoma commented on #2183
I downloaded .NET Core Binaries x64.
How to use it and run dotnet?

[2018-12-29 11:40] mammadkoma commented on #2183
I don't have any .net core version installed on machine.
I just downloaded VS Code portable and dotnet-sdk-2.2.101-win-x64 Zip File.
How to create a MVC project by these?

[2018-12-29 11:55] MarcoRossignoli commented on #2183
I don't use VS Code, here some infos https://code.visualstudio.com/docs/other/dotnet

[2018-12-29 12:00] mammadkoma commented on #2183
When I double clicked on dotnet.exe a command prompt open and close very fast.
And dotnet.exe not execute by powershell.
![image](https://user-images.githubusercontent.com/17564001/50538074-b90e0780-0b7e-11e9-910b-dfe6a87b07ed.png)

[2018-12-29 12:04] MarcoRossignoli commented on #2183
In powershell `.\dotnet.exe --info`
On double click it's correct...open and close windows, why would stay open?

[2018-12-29 12:06] MarcoRossignoli commented on #2183
I suggest to try with documentation sample https://dotnet.microsoft.com/learn to understand how .net core works, it's different from .net full framework if you come from there.

[2018-12-29 12:12] mammadkoma commented on #2183
After run .\dotnet.exe new -t web :
PS E:\My Pro\DotNetCore\zip> .\dotnet.exe new -t web

Welcome to .NET Core!
---------------------
Learn more about .NET Core: https://aka.ms/dotnet-docs
Use 'dotnet --help' to see available commands or visit: https://aka.ms/dotnet-cli-docs

Telemetry
---------
The .NET Core tools collect usage data in order to help us improve your experience. The data is anonymo

[2018-12-29 12:17] mammadkoma commented on #2183
oooooh
_.\dotnet.exe new mvc_ create a project
Thank you

[2018-12-29 13:13] MarcoRossignoli commented on #2183
glad to hear, happy conding!

[2018-12-29 16:53] Symbai opened #2193 "Linker - Failed to resolve assembly: 'System.Private.CoreLib'"
###  Issue
Linker thrown an exception when I tried to follow the docs building the sample.

Windows 10 64-Bit
<details>
  <summary>Click to expand</summary>

Host (useful for support):
  Version: 3.0.0-preview-27224-1
  Commit:  b9d9540371
.NET Core SDKs installed:
  2.1.202 [C:\Program Files\dotnet\sdk]
  2.1.403 [C:\Program Files\dotnet\sdk]
  2.1.500 [C:\Program Files\dotnet\sdk]
  2.1.600-prev

[2018-12-30 15:33] martore opened #2194 "Microsoft.AspNetCore.Hosting.Abstractions, Version=3.0.0.0 assembly is missing"
# Microsoft.AspNetCore.Hosting.Abstractions, Version=3.0.0.0 assembly is missing

I have created new .NET Core 3.0 project, and moved code from .NET Core 2.1 (so far only Startup.cs and Program.cs) to the new project. When started, the following exception is thrown:

NuGet package `Microsoft.AspNetCore.Hosting.Abstractions` version 3.0.0.0 is not available in NuGet Package Manager. There is only 2

[2018-12-30 21:21] leitocardoso opened #2195 "FileVersionProvider Class missing"
## Bug Description
FileVersionProvider Class missing.

In my code, under .NET Core 2.1, I used FileVersionProvider class in a TagHelper that calls the AddFileVersionToPath method without any problem.
Today, after upgrading to .NET Core 2.2.101 FileVersionProvider wasn't found in Microsoft.AspNetCore.Mvc.TagHelpers.Internal NS.

Any help will be much appreciated

[2018-12-31 10:58] HaidarZ commented on #2099
I'm having a project in progress , not yet released for production , is it somehow safe to go from **netcore2.2** to **netcore3.0**.
I'm seeking for the **efcore3.0** fix for m2m relations.
Advise?

[2018-12-31 19:36] githingeorge commented on #2149
I had the same issue. Lost all hope, deleted /usr/share/dotnet and followed steps from
https://dotnet.microsoft.com/download/thank-you/dotnet-sdk-2.2.101-linux-x64-binaries
worked like a charm

[2019-01-01 09:16] mammadkoma opened #2196 "dot net core path in VS Code"
My VS Code can not find dot net core cli because I can not install any program (for network policies reason) and I can not copy dotnet folder to _C:\Program Files_ because I have not the admin user pass.
I only downloaded _dotnet-sdk-2.2.101-win-x64.zip_ and VSCode portable file and extract dotnet to _C:\dotnet_.
I can create a mvc project and run it by command line but VS Code can not start debug

[2019-01-01 15:52] MarcoRossignoli commented on #2196
Better to ask here https://github.com/Microsoft/vscode/issues

[2019-01-01 20:33] mammadkoma commented on #2196
https://github.com/Microsoft/vscode/issues/65818

[2019-01-01 20:44] MarcoRossignoli commented on #2196
@mammadkoma actually c# vs code extension is provided by Omnisharp you could try to ask also here https://github.com/OmniSharp/omnisharp-vscode/issues
--

[2019-01-02 06:56] mammadkoma commented on #2196
https://github.com/OmniSharp/omnisharp-vscode/issues/2772

[2019-01-02 13:45] NathanYukai opened #2197 "can not have entries that the key contains column in appsettings.json"
# Detail
for an setting like the following:
{
  "settings":{
    "key:test-key" : true
  }
}
when reading the configuration.GetSection("settings").GetChildren(), it read "key" as the key , instead of "key:test-key"

I have this issue with .net core 2.0, haven't test on other version yet.

[2019-01-03 00:05] mbearup commented on #2149
Sounds like the issues are due to the package upgrade logic I described earlier. A new client package has been published which corrects the prerm logic during upgrade, and recreates the file if it was deleted by prerm.

[2019-01-03 08:01] haiduc32 commented on #2172
UPDATE: for the benefit of anyone having the same issues

found the problem, it was due to the NuGet restore task using the 4.3 version (because I cloned the build definition from another project, doh..). Updated to latest and it worked OK.

[2019-01-03 08:31] aussiearef opened #2198 "docker images for .net core not available"
# Issue Title

.Net core 3 preview is out and I am trying to use it in a home project to learn it properly. However docker images for .net core 3 are not available yet.

# General

I would expect that the .net core 3 preview would come out with some preview Docker sdk images too so developers could build their projects with the develop and build Docker images.

Any ETA as to when these images will

[2019-01-03 16:13] IvanJosipovic commented on #2198
They're available here, https://hub.docker.com/r/microsoft/dotnet/tags

[2019-01-03 16:18] DouglasDRF opened #2199 "Why IList does not have the method signature RemoveAll?"
public class List<T> : ICollection<T>, IEnumerable<T>, IEnumerable, IList<T>, IReadOnlyCollection<T>, IReadOnlyList<T>, ICollection, IList

public interface IList<T> : ICollection<T>, IEnumerable<T>, IEnumerable

IList only have Remove() and RemoveAt()... Wouldn't be more interesting put the RemoveAll() method signature in IList for access it?? Neither ICollection or IEnumerable has these methods

[2019-01-03 16:50] DouglasDRF commented on #2199
No. Clear deletes all whole list and RemoveAll removes all on a specific condition (empty strings, int values lower or greater, DateTime values lower or grater for exemple)

[2019-01-03 16:54] FellowsDevel opened #2200 "Scaffolding is generating wrong path"
# Issue Title

[https://docs.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity?view=aspnetcore-2.2&tabs=netcore-cli#scaffold-identity-into-a-razor-project-with-authorization](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity?view=aspnetcore-2.2&tabs=netcore-cli#scaffold-identity-into-a-razor-project-with-authorization)

Following the upp

[2019-01-03 17:17] MarcoRossignoli commented on #2199
IList is very old interface, you could write an extension method or propose new method on https://github.com/dotnet/corefx/issues following proposal guide https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md but I think that IList is implemented by a lot of class and could be a lot of work...maybe in future with default interface methods https://github.com/

[2019-01-03 20:54] rambotech commented on #2077
If an app is running when a NuGet package reference is changed, or even when the build process runs with a thread not closed from an execution of the app, the output from either can causes directories to be cascaded under the existing directories.  This may be from the VS code not honoring a file/folder lock by the OS.

[2019-01-03 21:42] toryb commented on #1929
I have a similar problem, only it shows up when attempting to add an assembly and its dependencies to the Runtime Package Store. The `dotnet store` command creates the error, but the solution can be successfully built and deployed without error.

I have tried 2.1 & 2.2.

[2019-01-04 01:16] madhav5589 commented on #571
@MrM40 Yes, I was able to run SCD console app in WinPE environment.

[2019-01-04 08:49] amansulaiman opened #2201 "Windows Hosting Bundle for dotnet 2.2 Failed to Install on Windows Server 2008 R2"
# Windows Hosting Bundle for dotnet 2.2 Failed to Install on Windows Server 2008 R2

dotnet-hosting-2.2.0-win.exe failed to install on Windows Server 2008 R2 with error0x80070570 The file or directory is corrupted and unreachable

# Log File

[2364:207C][2019-01-04T09:35:39]i001: Burn v3.11.1.2318, Windows v6.1 (Build 7601: Service Pack 1), path: C:\Users\spadmin\AppData\Local\Temp\3\{D4667C7F-4C3

[2019-01-04 09:31] k290 commented on #2195
I have the same issue

[2019-01-04 09:42] k290 commented on #2195
Based on the changes here: https://github.com/aspnet/Mvc/pull/8455/commits/00d6771f73394def3696e39d344a1de2212bc5d5

It seems like the FileVersionProvider was replaced with DefaultFileVersionProvider. This is internal so you can't use it directly. Seems to relate to the following issue. https://github.com/aspnet/Mvc/issues/6371

I will update here if I figure out how to make use of it.

[2019-01-04 10:05] k290 commented on #2195
Figured it out. Code should look like something like this now (if you're using a Razor page, for example for context):

Instead of:
[code]
It is now:

[code]

And you will need these namespaces:

﻿using Microsoft.AspNetCore.Mvc.Razor;
using Microsoft.AspNetCore.Mvc.ViewFeatures;
using Microsoft.Extensions.DependencyInjection;

[2019-01-04 11:14] FinchYang opened #2202 "sfx_x64.cab has an invalid digital signature"
# Issue Title

sfx_x64.cab has an invalid digital signature

# General

In the process of installing Microsoft .NET Core SDK 3.0.100-preview, error ocurred and prompted "A file that is required cannot be installed because the cabinet file C:\ProgramData\Package Cache\{849917F8-9A15-34CD-B971-A7478B010F70}V3.0.0.0\sfx_x64.cab has an invalid digital signature. This may indicate that the cabinet file

[2019-01-04 17:14] madhav5589 commented on #571
@MrM40  Yes, I could run .NET core console app in WinPE environment. But not WPF app. I installed .NET  core 3.0 preview version and created a sample WPF app using default template and published it using Self Contained Deployment. Couldn't run it in WinPE environment. It throws "an unknown software exception".  @Petermarcu @mellinoe  Any thoughts on this?

[2019-01-05 00:02] robinwilson16 opened #2203 "On Ubuntu Request.Scheme Returns http and Request.IsHttps Returns False When Connection is Secure"
In ASP .NET Core 2.2 you are supposed to be able to check whether the connection is secure or not by using:
```Request.Scheme``` (returns ```https``` or ```http```)

Or
```Request.IsHttps``` (returns either ```true``` or ```false```)

This is working fine on Windows servers but on my Ubuntu server running on Apache it is returning ```http``` and ```false``` even though the connection is showing as

[2019-01-05 20:40] karelz commented on #2195
@leitocardoso maybe it won't be needed, but in future, I recommend to report bugs with minimal repro steps / code.

[2019-01-05 20:42] karelz commented on #2201
Are you able to reproduce it on more than 1 machine?

[2019-01-06 00:18] braidenstiller commented on #2098
When will .Net Core 2.2 be added in the runtime stack for App Service's running Linux? It's currently not an option and since upgrading my project to 2.2, it won't deploy to Azure.

I.e: https://imgur.com/a/S50TMBa

[2019-01-06 07:12] MapleWithoutWords commented on #874
We hope to solve this problem as soon as possible.

[2019-01-06 17:12] bclothier opened #2204 "Type.IsEquivalent does not seem to work as per documentation"
According to the documentation for [Type.IsEquivalent](https://docs.microsoft.com/en-us/dotnet/api/system.type.isequivalentto?view=netframework-4.7.2) and the related article [Type Equivalence and Interop Types](https://docs.microsoft.com/en-us/dotnet/framework/interop/type-equivalence-and-embedded-interop-types?view=netframework-4.7.2), a pair of types should be considered equivalent given the fo

[2019-01-06 18:37] 0xd4d commented on #2204
Have you tried .NET Core 3.0 daily build? https://github.com/dotnet/core/blob/master/daily-builds.md

[2019-01-06 19:14] bclothier commented on #2204
No, and I don't think I can - from what I see, the .NET Core doesn't fully support COM interop - the above code is based on the framework 4.7. I may have posted this in wrong place.

[2019-01-07 01:13] bclothier commented on #2204
Ok, is there a guide on how to get 3.0 loaded? I downloaded and installed but couldnt go higher than 2.1 Furthermore, it did not recognize the member `GetTypeForItypeInfo`  on the `Marshal` class.

[2019-01-07 03:53] leitocardoso commented on #2195
@karelz thanks for your advice. I thought that my message was pretty self-explanatory and didn't require portions of code. Next time I'll do that.

[2019-01-07 03:53] #2195 closed

[2019-01-07 09:31] TobbeM commented on #2201
We have the same problem. Tried to install on both Win Server 2012 R2 and Win Server 2016 with the same result.
![image](https://user-images.githubusercontent.com/46441716/50760162-4f20ec80-1267-11e9-8b5f-678bfddc875e.png)

[2019-01-07 10:34] shouhujishu opened #2205 "arm64 Running slowly"
root@aml:# cd app
root@aml:/app# dotnet run
Hello World!

Get output after 7 seconds

Linux version 4.18.7-aml-s9xxx (root@aml) (gcc version 6.3.0 20170516 (Debian 6.3.0-18+deb9u1)) #1 SMP PREEMPT Thu Jan 3 06:41:31 UTC 2019

RAM:2GB
ROM：KLM8G1GEME，8GB eMMC
CPU:Amlogic S905，ARM Cortex-A53

[2019-01-07 17:32] Eilon commented on #2203
@Tratcher - thoughts on this?

@robinwilson16 - is there a reverse proxy in play here, such as nginx, something with Docker, ARR, etc.?

[2019-01-07 17:45] Tratcher commented on #2203
Right, Apache is acting as a reverse proxy. See the proxy setup instructions here:
https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-2.2

[2019-01-07 19:32] gsantopaolo commented on #874
Wondering why this issue is closed. The problem is still there, at least on UWP.
@myloveCc 's solution seems pretty neat, why don't implement it?

[2019-01-07 20:31] bartonjs commented on #874
dotnet/core isn't the right place for issues like this.  This one belongs in dotnet/corefx.

https://github.com/dotnet/corefx/issues/23686 is open, and marked for .NET Core 3.0.

[2019-01-07 23:05] 199621616 opened #2207 "Suggestion: .NET Core can be managed directly on the client using Winform/wpf/mono Blazor"
[**Translated**](https://www.bing.com/translator?ref=TThis&&text=%E5%A4%A7%E9%87%8F%E7%9A%84WinForm%EF%BC%8CWPF%E5%BA%94%E7%94%A8%E6%97%A0%E6%B3%95%E7%9B%B4%E6%8E%A5%E8%BD%AC%E5%9E%8B%E4%B8%BA%E4%BA%92%E8%81%94%E7%BD%91%E7%8E%B0%E4%BB%A3%E5%BA%94%E7%94%A8%E3%80%82%E8%AF%B7%E8%80%83%E8%99%91%E8%BF%99%E4%B8%AA%E8%B7%AF%E5%BE%84%EF%BC%9AAsp.NetCore%20WebApi%20%2B%20Blazor%20%2B%20WinForm%EF%BC%88WPF%

[2019-01-08 01:51] Symbai opened #2208 "Error MSB4044 - CheckEmbeddedRootDescriptor"
# Issue
I got this error in console when trying to publish:
`ILLink.Tasks.targets(451,5): error MSB4044: The CheckEmbeddedRootDescriptor task did not receive a value for the required AssemblyPath parameter.`

# General

Created a new .NET Core 3.0 WPF project
Added ILLink.Tasks nuget package
Ran this command:
`dotnet publish -c release -r win-x64 -o out`

[2019-01-08 01:56] Symbai commented on #2208
Is already reported in mono linker repo: https://github.com/mono/linker/issues/428

[2019-01-08 02:37] bclothier commented on #2204
I had another go at this - I seem to be able to install the 3.0 preview but I am unable to build a project for following reasons:

1) With a .NET core app, we cannot have a `COMReference` entry.
2) With a .NET core app, `Marshal.GetTypeForITypeInfo` is not defined.

I tried to build using .NET 4.7 via `dotnet build` which still fails due to the `COMReference` entry.

[2019-01-08 03:58] karelz commented on #2204
We do not track .NET Framework questions on GitHub, closing - please use community sites like StackOverflow or report it via [VS Developer Community Portal](https://developercommunity.visualstudio.com/) (although, I would not expect any change in the space, given the high bar for changes in .NET Framework).

[2019-01-08 03:58] #2204 closed

[2019-01-08 03:59] karelz commented on #2208
Duplicate of https://github.com/mono/linker/issues/428

[2019-01-08 03:59] #2208 closed

[2019-01-08 04:00] karelz commented on #2207
@199621616 please post questions and bug reports in English, we do not have capacity to support other languages

[2019-01-08 04:03] karelz commented on #2207
Sounds related to https://github.com/aspnet/Blazor - please ask there.

[2019-01-08 04:03] #2207 closed

[2019-01-08 04:04] karelz commented on #2203
@Tratcher should we close the issue here, or transfer it to ASP.NET repo?

[2019-01-08 04:06] karelz commented on #2205
Duplicate of #2122

[2019-01-08 04:06] #2205 closed

[2019-01-08 04:07] karelz commented on #2201
@rakeshsinghranchi is it a known issue? Should we move it to core-setup repo?

[2019-01-08 04:09] Tratcher commented on #2203
Closing, you can open a new one in AspNetCore if you have additional trouble.

[2019-01-08 04:09] #2203 closed

[2019-01-08 04:11] karelz commented on #2098
@braidenstiller please monitor App Service announcements, like this one: https://github.com/Azure/app-service-announcements/issues/151

[2019-01-08 04:13] karelz commented on #571
@madhav5589 WinPE is specific OS setup, which does not contain all components, so I would not be surprised if some parts of .NET Core or WPF/WinForms won't work.
Supporting WinPE for WPF is not on our backlog AFAIK.
BTW: Neither Peter nor Eric are on our team anymore ...

[2019-01-08 04:14] karelz commented on #2202
@FinchYang try it on another machine to avoid HW issues or bad download.

[2019-01-08 04:18] karelz commented on #1929
@toryb the issue has been moved ... check the replies above

[2019-01-08 04:21] karelz commented on #2199
Adding method to existing interface is a breaking change. As @MarcoRossignoli suggests above using extension method is likely the best option.
CoreFX is the right repo for BCL types like lists. Closing.

[2019-01-08 04:21] #2199 closed

[2019-01-08 04:30] karelz commented on #2182
@Eilon is it something you / your team knows about? Or is it more general?

[2019-01-08 04:32] karelz commented on #2134
@johnkwaters what is ANCM? In general, we recommend to watch Azure App Services announcement repo: https://github.com/Azure/app-service-announcements

[2019-01-08 04:37] karelz commented on #2196
Duplicate of https://github.com/OmniSharp/omnisharp-vscode/issues/2772

[2019-01-08 04:37] #2196 closed

[2019-01-08 04:40] karelz commented on #2149
There's lots of details here - can someone please help me summarize the problem, what needs to happen and where should we route the issue? Or is it ready to be closed?
In this repo it won't get much more traction I am afraid :(

[2019-01-08 04:43] karelz commented on #2164
@wfurt @janvorli anything we can do here? Or is it external OS problem?

[2019-01-08 04:43] karelz commented on #2173
@jkotas @jeffschwMSFT ping post holidays ...

[2019-01-08 04:46] karelz commented on #2094
Duplicate of https://github.com/dotnet/coreclr/issues/20657

[2019-01-08 04:46] #2094 closed

[2019-01-08 04:46] karelz commented on #2096
@janvorli @jeffschwMSFT post holidays ping ...

[2019-01-08 04:47] karelz commented on #2143
@bartonjs can you please help troubleshoot it further or route it appropriately? Thanks!

[2019-01-08 04:49] karelz commented on #2193
@sbomer @jeffschwMSFT should we move it to https://github.com/mono/linker?

[2019-01-08 05:07] wfurt commented on #2164
I think observed problem is specific to particular OS/NAS combination. it is clear from the trace that we spent time in OS call and I don't think there is much we can do about it. If anything, the question is why do we lock in such trivial cases.  It would be nice if there is some way how to choose. Perhaps question for IO experts.

[2019-01-08 08:05] madhav5589 commented on #571
@karelz Thanks for the update. It makes sense now to me.

[2019-01-08 09:12] rakeshsinghranchi commented on #2201
@natemcmaster  , @joeloff  - can you take a look into this issue ? Also,can you please move this issue to appropriate repo ?

[2019-01-08 10:12] amansulaiman commented on #2201
@karelz I resolved my issue by redownloading the exe file on a different network and a different Server. I observed my network breaks the downloaded file that's why I am getting the error.

@TobbeM Please, can you check your downloaded file and try reinstalling?

[2019-01-08 16:14] karelz commented on #2173
Thanks @jkotas! Closing as it is answered and docs are tracked in another issue ...

[2019-01-08 16:14] #2173 closed

[2019-01-08 16:17] karelz commented on #2201
OK, closing until it is confirmed that it is caused by something else than installer corruption.
Thanks @amansulaiman for the info!

[2019-01-08 16:17] #2201 closed

[2019-01-08 16:17] johnkwaters commented on #2134
Thanks @karelz - it is the new AspNetCoreModule. I had asked previously, and was also told to monitor for announcements,. but there have been none, and it was supposed to roll out in December. However I was told in another thread that it is out there now, and sure enough, it is - so maybe you should announce it?

[2019-01-08 16:21] karelz commented on #2134
@johnkwaters good idea to raise it to App Service team ...

[2019-01-08 17:38] natemcmaster commented on #2182
This looks like https://github.com/dotnet/sdk/issues/2722 which the SDK team closed as 'wontfix'.

[2019-01-08 18:15] leecow opened #2210 ".NET Core January Update - 2.1.7 and 2.2.1"
# .NET Core January Update - 2.1.7 and 2.2.1

Included fixes address security issues detailed in the release notes.

**Note:** The 2.2 SDK was re-released on 1/16/2019 to address an issue ([dotnet/source-build#942](https://github.com/dotnet/source-build/issues/942)) where developers targeting the 2.1 Runtime (LTS) will not get the latest release when building self-contained applications.

## .NET

[2019-01-08 21:24] karelz commented on #2182
Duplicate of https://github.com/dotnet/sdk/issues/2722

[2019-01-08 21:24] #2182 closed

[2019-01-08 22:58] robinwilson16 commented on #2203
Thanks for the response but I have already followed those instructions and it makes no difference whether I add those forwarding headers etc or not. The request always shows as not being https whether it is or isn't.
It must be something to do with Apache2 not passing on this information as the cert and everything are configured in Apache2 and not Net Core. Both run on localhost though. Maybe the

[2019-01-08 23:41] rowanmiller commented on #2149
It sounds like we need to update the instructions on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/sdk-current. We had a 8 people report an issue on that page thru our in site feedback mechanism. Several pointed to this issue as where they found a way to resolve the problem.

@leecow do you know what the change we need to make is?

[2019-01-08 23:57] leecow commented on #2149
Looks like this is the key line if folks encounter the issue `sudo dpkg --purge packages-microsoft-prod && sudo dpkg -i packages-microsoft-prod.deb`.

Certainly isn't needed if you're not having troubles.

[2019-01-09 06:40] ericis opened #2213 "Missing 2018 usage data"
# Missing 2018 usage data

https://github.com/dotnet/core/blob/master/release-notes/cli-usage-data.md

[2019-01-09 08:53] johnkors commented on #2210
The links to the CVEs in the releas notes of 2.2.1 are broken. Fix: https://github.com/dotnet/core/pull/2214

[2019-01-09 15:29] arsenhovhannisyan opened #2215 "System.Net.Http.HttpRequestException"
.Net Core 2.1 in docker , (microsoft/dotnet:2.1-sdk,microsoft/dotnet:2.1-aspnetcore-runtime) sometimes had this exception but after page reload it working . Can anyone help me about this ?

[code]

[2019-01-09 15:59] karelz commented on #2215
How often does it happen? Which OS versions?
Does it happen on more than 1 machine?
Are you able to isolate a standalone minimal repro?

[2019-01-09 16:15] karelz commented on #2210
@johnkors thanks for the fixes!

[2019-01-09 16:16] karelz commented on #2213
@richlander @leecow who handles the published CLI usage data? Do we have plans to keep publishing them?

[2019-01-09 16:33] arsenhovhannisyan commented on #2215
I can not say exactly how many times i get  exception , today o get 2 times . But service is working .

service is running on AKS (Azure Kubernetes Service) version 1.14.0 , Linux Ubuntu 16.04 .

i post full exception .

[2019-01-09 17:42] rowanmiller commented on #2149
I'll add a note to the step to run that command if needed.

@leecow is there a consistent error message that would suggest this command is needed?

[2019-01-09 20:12] martore commented on #2194
ConsoleApp.csproj
[code]

Program.cs
[code]
Startup.cs
[code]

These are installed on PC (beside .NET Core 2.2):
- .NET Core 3.0.0 Preview Build 18579-0056 - Windows Server Hosting
- ASP.NET Core 3.0.0 Preview Build 18579-0056 - Shared Framework
- .NET Core SDK 3.0.100

[2019-01-09 20:57] karelz commented on #2215
OK, 1 in 1K is quite high impact.
Can you please try to isolate a repro (with artifical load)?

@geoffkizer @davidsh does the call stack ring a bell. It seems to be missing parts of the stack ...

[2019-01-09 20:58] leecow commented on #2149
No it's a generic "I can't find what you asked for" message. From the o.p. -

[code]

Once the user has ensured  packages.microsoft.com was properly registered, this step would be worthwhile.

[2019-01-09 21:48] Eilon commented on #2194
Adding @natemcmaster who is an expert on this.

Two things I suspect:
1. This line: `<PackageReference Include="Microsoft.AspNetCore.App" Version="3.0.0-preview-18579-0056" />` I think shouldn't have the version specified - it's figured out automatically by the SDK based on other things. Or maybe it's not even needed at all anymore (@natemcmaster ?)
2. The project should be using the Web SDK inste

[2019-01-09 21:58] davidsh commented on #2215
I haven't seen this.  There is not enough information to diagnose. The callstack above doesn't even include the text of the HttpRequestException. So, it isn't clear what is going here.

Ideally, we need a repro we can run and debug.

[2019-01-09 22:10] natemcmaster commented on #2194
Here is the minimal change you need to make to fix this. cref https://github.com/aspnet/AspNetCore/issues/3612 and https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30

[code]

The preview 2 SDK should resolve this error automatically. https://github.com/dotnet/sdk/pull/2738

[2019-01-09 22:10] #2194 closed

[2019-01-09 22:57] ugurcemozturk opened #2218 "ReadAsAsync<T> Alternatives"
# ReadAsAsync method is not compatible with .NET Core2.2

# General

Hey, I'm working on an API. I want to map `HttpResponseMessage` object's `Content` field into a domain model. I know I can do by `ReadAsStringAsync` then deserialize it but I don't really want, that much work for simple mapping. I've couldn't found yet but are there any alternatives for that?
I can't suppress the warning since it

[2019-01-09 23:33] minaairsupport opened #2219 "System.Threading.Tasks.Extensions 4.5.2 not compatible with other libs"
when I update System.Threading.Tasks.Extensions to version 4.5.2 it conflicts with two libs
DotNetty.Transport
System.Reactive

could anyone help me with that
I solve it by a downgrade to  4.5.0

[code]

[2019-01-10 00:57] svick commented on #2218
The package [System.Net.Http.Formatting.Extension](https://www.nuget.org/packages/System.Net.Http.Formatting.Extension/) that you seem to be using is not from Microsoft. I believe you should use the [Microsoft.AspNet.WebApi.Client](https://www.nuget.org/packages/Microsoft.AspNet.WebApi.Client/) package instead, which should support .Net Core 2.x.

[2019-01-10 01:04] karelz commented on #2219
@marek-safar @ericstj who has the right expertise to analyze it?

[2019-01-10 01:15] karelz commented on #2218
Looks like problem with external 3rd party NuGet package, closing. Thanks @svick for your analysis.
If you find a repro without it, please let us know and we can reopen.

[2019-01-10 01:15] #2218 closed

[2019-01-10 06:40] martore commented on #2194
Changes suggested in https://github.com/dotnet/core/issues/2194#issuecomment-452887723 resolved the issue. Thanks.

[2019-01-10 09:41] disklosr opened #2220 "Specify custom probing folder for loading assemblies"
# Issue Title

Specify custom probing folder for loading assemblies

# General

How can I tell the runtime to look for assemblies in a custom folder of my choice, for example a "bin" folder located in app root?

[2019-01-10 13:07] ugurcemozturk commented on #2218
Super catch!
I thought it was a built-in class and didn't verify.
Thanks. @karelz @svick

[2019-01-10 16:01] karelz commented on #2220
Check out AssemblyLoadContext: https://github.com/dotnet/coreclr/blob/master/Documentation/design-docs/assemblyloadcontext.md

[2019-01-10 16:01] #2220 closed

[2019-01-10 16:04] karelz commented on #2215
Create a minimal HelloWorld-style repro that we can run locally. Either start from scratch, or chop off parts of your app one by one.
It is often time consuming to do so, but it should be not a surprise that it is often what we would have to do anyway.
If you are truly unsuccessful after significant effort, we can explore options to provide larger repro.

Makes sense?

[2019-01-10 17:45] leecow commented on #2134
@shirhatti for ideas on ANCM announcement channels.

[2019-01-10 23:35] virzak commented on #2085
I got latest daily build but can't resolve `System.Windows.Controls.Ribbon` when using `<TargetFrameworks>net40</TargetFrameworks>`.

Works properly with `<TargetFrameworks>net45</TargetFrameworks>`

[2019-01-10 23:54] ericstj commented on #2085
System.Windows.Controls.Ribbon was only introduced in .NET 4.5.  https://docs.microsoft.com/en-us/dotnet/api/system.windows.controls.ribbon.ribbon

[2019-01-11 00:00] virzak commented on #2085
@ericstj is there a way to prevent ribbon it from loading?

Trying to migrate a library to core which previously targeted 4.0

https://github.com/ejensen/toggle-switch-control/blob/master/WPF/ToggleSwitch/ToggleSwitch.csproj#L13

[2019-01-11 00:04] ericstj commented on #2085
I see, that sounds like a bug with the Microsoft.NET.Sdk.WindowsDesktop implicit references.  You can set DisableImplicitFrameworkReferences to true to disable that, then you have to list your references manually on net4x.  I'll file the bug in the WPF repo on the SDK targets.

[2019-01-11 11:40] marek-safar commented on #2219
This is known reported issue which has been fixed in the upcoming version (https://github.com/xamarin/xamarin-android/issues/2466)

For workarounds with existing versions please check https://github.com/dotnet/reactive/issues/803

[2019-01-11 11:40] #2219 closed

[2019-01-11 15:37] IanYates83 opened #2223 "ASP.NET SignalR project packaged against netcoreapp2.1 not running on machine with netcoreapp2.2 due to dependency version change"
Apologies if this is the wrong team, I don't know whether this issue is related to the CLR, Azure, ASP.NET Core, or me 😊

We have released a set of web projects to multiple environments as Azure Web Apps, compiled and packaged (Framework-Dependent) against netcoreapp2.1.
These projects pull in the `Microsoft.AspNetCore.App` project version 2.1.2 and make use of SignalR.

The package itself contain

[2019-01-11 20:06] caradong opened #2224 "401/403 returned from asp.net core Authentication middleware with a valid token"
# Issue Title
asp.net core Authentication middleware return 401/403 with a valid token

# General
Our api use built-in middleware from .net core to validate tokens. We have a valid token returned by AAD and service-to service call (JwtBearerAuthentication ) always return 401 while visit the app in a browser (CookieAuthentication) middle ware always return 403.

The exact same code is running on tw

[2019-01-11 21:11] Eilon commented on #2223
Hi @IanYates83 , sorry you are running into this issue. We have identified this as a recent bug and you can find workarounds and other discussion here: https://github.com/aspnet/AspNetCore/issues/3503

[2019-01-11 21:11] #2223 closed

[2019-01-11 21:26] #2224 closed, assigned to Eilon

[2019-01-13 00:18] Dhaya06 commented on #1555
You should install Visual C++ Redistributable. Also try to install dot net sdk or asp core runtime
[https://www.microsoft.com/en-us/download/details.aspx?id=48145]

[2019-01-13 17:46] IanYates83 commented on #2223
Thank you. That worked.

[2019-01-13 18:36] monokot opened #2225 "Why does DisablePrivateReflection attribute not work on .net core 2.1, but works perfectly on .net core 2.0?"
Hello!

Why does `DisablePrivateReflection` attribute not work on .net core 2.1, but works perfectly on .net core 2.0?

I have a class with private fields. The class is in assembly marked with a `DisablePrivateReflection` attribute.

The following test will be passed successfully on .net core 2.0

[code]

but on .net core 2.1, `FieldAccessException` will never be thrown

Thanks

[2019-01-14 02:14] karelz commented on #2225
That seems like the attribute actually does not work on 2.0, but works correctly ans as expected in 2.1.
That seems like by design technical breaking change to me.

@steveharter cc @joshfree

[2019-01-14 06:20] AdilTalkpool commented on #860
you are targeting different version of dll In my case the error was

Error	CS0012	The type 'Task<>' is defined in an assembly that is not referenced. You must add a reference to assembly 'netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'.	EboIotEdgeConnector.Extension	D:\projects\EboIoTEdgeConnector-master\EboIotEdgeConnector.Extension\RetainedMqttMessageHandler.cs

I

[2019-01-14 11:40] Ryszka commented on #2210
When can we expect 2.2.1 packages to be available on NuGet? I can see 2.1.x packages had been updated to 2.1.7, but newest 2.2.x packages are still at version 2.2.0.

[2019-01-14 15:07] FionaHolder commented on #2000
Also having this issue

[2019-01-14 15:07] Mani0811 commented on #874
@myloveCc  How This will be solved with extension method .? RSA have an implementation for hiding that we need to derive the class. According to my understanding .

`public abstract partial class RSA : AsymmetricAlgorithm
    {
        public override void FromXmlString(string xmlString)
        {
            throw new PlatformNotSupportedException();
        }

        public override string ToXm

[2019-01-14 16:57] karelz commented on #2000
Just a reminder that this is closed issue, not monitored or used for +1 votes. The main issue is tracked on VS Developer Community - see link above.

[2019-01-14 18:14] mbearup commented on #2149
I've only been able to repro the issue during an **upgrade** scenario. So my best guess is this what users are encountering - when they go to upgrade dotnet they first re-add the repo package which had the undesired effect of *removing* the repo.
- As Lee pointed out, `sudo dpkg --purge packages-microsoft-prod && sudo dpkg -i packages-microsoft-prod.deb` will ensure the package gets installed prop

[2019-01-14 18:23] steveharter commented on #2225
I verified that it did work in 2.0.

It appears that there used to be a call to `PerformVisibilityCheckOnField` which was removed with https://github.com/dotnet/coreclr/pull/13241. That PR appears to address part of CAS removal issue https://github.com/dotnet/coreclr/issues/9321.

In 2.0, the call stack would look like this:
[code]

@jkotas @danmosemsft is this expected per the removal of the CAS

[2019-01-14 18:36] JeremyKuhne commented on #2164
We need to make the call or the feature just doesn't make any sense. Your current process may not care about locking the file but it should care about it being locked by some other process.

@stephentoub Do you have any context to add here?

I'll note that locking of files on *nix is a known mess. A few links for reference:

https://loonytek.com/2015/01/15/advisory-file-locking-differences-between

[2019-01-14 19:00] stephentoub commented on #2164
Not really; like you say, we need to make the call, or else the FileShare is meaningless.

[2019-01-14 20:01] ygoe opened #2226 "Horrible performance on Linux compared to Windows"
I've written a program that decodes BUFR files that are used by met offices to describe weather observances. A big part of this format is using a bit stream rather than a byte stream to encode the data. Now this code works reasonably fast on my Windows PC. The available files of 2 days are processed in around 15 (HDD) to 20 (SSD) seconds. On my Linux web server (HDD but with sufficient RAM to cach

[2019-01-14 20:06] ygoe opened #2227 "Corrupt terminal state after execution"
After executing the program attached to #2226, the terminal is left in a corrupt state. It seems like the Control key is still pressed down. Pressing it once doesn't resolve the situation. It shows when back at the command prompt, entering a command, then pressing the left or right arrow keys: The cursor doesn't move a single character but always a full word to the left or right. Using the "Reset

[2019-01-14 20:46] jkotas commented on #2225
This was not expected. We should keep respecting the `DisablePrivateReflection` attribute.

[2019-01-14 20:56] karelz commented on #2226
@ygoe do you have a small isolated repro that demonstrates what is slower?
If you don't know which part of your app is slower, you can either experiment, or do perf analysis and compare what take where how much time.

[2019-01-14 21:00] karelz commented on #2227
@ygoe there is no repro attached anywhere.
Either way, can you please minimize the repro to small app and then share that?
Please make sure it reproduces on more than 1 machine to avoid chasing down weird 1 machine corruptions.

[2019-01-14 21:11] mattmili opened #2228 "MSBUILD : error MSB1025: An internal failure occurred while running MSBuild"
## Internal MSBuild Error: ContextID 63 should have been in the ID-to-project file mapping but wasn't!

I'm keep getting this error when running `dotnet build`. Anyone know what's happening here?

[code]

**Version:** Dotnet Core v2.2.0
**OS:** Mac OSX 10.14

[2019-01-14 21:23] karelz commented on #2228
Are you able to reproduce it 100%?
Are you able to reproduce it on more than 1 machine?
Are you able to create a small repro showcasing the problem?

BTW: We may need to move it to either msbuild repo or SDK.

[2019-01-14 22:45] sbomer commented on #2193
@karelz yes, please move it to mono/linker. Thank you!

[2019-01-14 22:55] karelz commented on #2193
This issue was moved to mono/linker#443

[2019-01-14 22:55] #2193 closed

[2019-01-15 06:11] bhwithun commented on #1555
It appears that the server is not at a supported version.  It has to be 2008 R2 SP1+.  Vanilla 2008 is not good enough.

[2019-01-15 06:15] bhwithun commented on #1008
This is the same as mentioned in Issue #1555.
The server OS must be 2008 R2 SP1+  (i.e. Release 2 - Service Pack 1)

Even Yura13's attempt with 2008 SP2 (Release 1 - Service Pack 2) was not a good enough OS.

[2019-01-15 10:09] ygoe commented on #2226
@karelz Unfortunately the BUFR format is very complex and I cannot leave any part of it away or it will fail completely. The WMO has done a great job at finding complicated solutions back in the 80s. So I cannot make it any smaller than it is.

[2019-01-15 10:12] ygoe commented on #2227
It's not there? Did you receive the code for the referenced issue? Not sure where it went. I'll have to recompile the archive, I don't have it here anymore.

And I've only got a single Linux machine, so I won't be able to test it on more of them.

[2019-01-15 11:57] benaadams commented on #2226
Isn't attached anywhere?

[2019-01-15 12:22] ygoe commented on #2226
Is it now?
[bufr.zip](https://github.com/dotnet/core/files/2759603/bufr.zip)

[2019-01-15 13:32] myrup opened #2229 "Can't attach lldb to running process on raspbian"
# Can't attach lldb to running process on raspbian
We are experiencing a deadlock on our fleet of raspbian jessie's running dotnet 2.2.102 self contained. I'm attempting to debug this using lldb but the debugger hangs when I attempt to attach to the running (deadlocked or not) process.

[code]
The last command hangs forever. `libmscordaccore.so` is present in `/path/to/scd-app/` as well as everyth

[2019-01-15 14:05] jkdmyrs commented on #2099
All the documentation I can find states .NET Core 3 will support EF6, but I do not see anything regarding EF6 in the release notes for Preview 1. Is EF6 support included in Preview 1? If not, when can we expect this?

[2019-01-15 14:33] ghost1372 commented on #2099
@jkdmyrs  ef6 not support in net core 3 but they work on ef core that work on net core 3 and its awesome
https://docs.microsoft.com/en-us/ef/core/
https://github.com/aspnet/EntityFrameworkCore

[2019-01-15 16:24] karelz commented on #2226
@ygoe What is WMO?
Did you reproduce the perf difference in 2 different environments as I suggested above?
Did you get chance to do some basic perf analysis and comparison which part of your app is slower? That will increase chance we will prioritize the investigation sooner.

[2019-01-15 16:50] ygoe commented on #2226
[Wikipedia says](https://en.wikipedia.org/wiki/WMO), WMO is the World Meteorological Organization. It's their standard format for international data exchange I'm parsing here.

Let's see when I find the time to track this down.

[2019-01-15 17:05] karelz commented on #2226
Alright, let us know what you find - it may help you find a smaller repro for the problem you're facing.

[2019-01-15 17:07] karelz commented on #2099
@ajcvickers @divega what's the word on EF6 plans?

[2019-01-15 17:31] ajcvickers commented on #2099
See https://github.com/aspnet/EntityFramework6/issues/271. Work has started, but it's unlikely anything will be ready to ship in the next preview.

[2019-01-15 17:42] mikem8361 commented on #2229
I have heard of various problems with lldb on arm. I recommend trying a later version of lldb. The same plugin should work.

/cc: @sywhang, @hoyosjs

[2019-01-15 18:37] hoyosjs commented on #2229
@myrup I'm sorry you hit this problem while trying to diagnose problems with your app. My experience on raspbian + lldb is that lldb 3.9 itself is severely unstable. There were often cases where running the process itself with no plugin loaded and trying to get the help messages from lldb ended up on a SIGSEGV. The [LLVM Status page](https://lldb.llvm.org/status.html) reports Linux ARM to be untes

[2019-01-15 18:45] karelz commented on #2229
@hoyosjs do we want to move this issue to better place, or just close it as non-actionable at this point?

[2019-01-15 18:59] hoyosjs commented on #2229
@myrup Also, might not be everyone's cup of tea, but a scenario that I've tried on other platforms and really helped out was be using the remote debugger. Say using [vscode](https://github.com/OmniSharp/omnisharp-vscode/wiki/Remote-Debugging-On-Linux-Arm), which I've previously used, or [visual studio](https://github.com/Microsoft/MIEngine/wiki/Offroad-Debugging-of-.NET-Core-on-Linux---OSX-from-Vi

[2019-01-15 19:00] #2229 closed

[2019-01-15 22:30] myrup commented on #2229
@mikem8361 LLDB 3.9 seems to be the latest for jessie.

@hoyosjs Thanks for elaborating. It would be really wonderful with debugging support straight on the ARM. Even more quick and useful would be a nu-get package that works across platforms to dump all thread stacktraces at any point (like MSE provided for .Net framework clients on windows for us in the past). But for now I will look into remote

[2019-01-16 04:50] mahisanka commented on #1235
@cgenin7 have you resolved this error ?

[2019-01-16 12:53] cgenin7 commented on #1235
There are still occasionnally problems when Azure is moving app services. We fixed this issue by having two occurrences of each app service.

[2019-01-16 23:56] karelz commented on #1594
I updated the link in above comment https://github.com/dotnet/core/issues/1594#issuecomment-404273623 to point to the original URL, which redirects to the new one you listed.

[2019-01-17 00:35] sidravi commented on #2112
Sorry for the dup.

Any update on when this will get resolved?

Also, are there any plan on releasing an official version of ILLink.Tasks nuget package? The current nuget package is a preview version only.

[2019-01-17 01:52] karelz commented on #2112
@sidravi the other repo would be a good place to ask these questions ;)

[2019-01-17 12:23] mclenney opened #2230 "Extending Shutdown Timeout Not Working"
# Extending Shutdown Timeout Not Working

I have a .NET Core 2.1.1 console application I am running in which I have a service that inherits from the BackgroundService class which kicks off a long-running service on a new thread. This service then hits a scoped service which reads from the database and sends some emails. I am attempting to test my handling of a graceful shutdown of the application

[2019-01-17 14:01] #2230 closed

[2019-01-18 06:43] rp0m opened #2232 "[Required] attributes lets empty strings get saved"
# Issue Title
Marking a model property with [Required] (System.ComponentModel.DataAnnotations.RequiredAttribute, Version 4.2.0.0) lets that model get saved into the database when the string property value is "" or string.Empty.

I can see that the DB column is marked as non-nullable and recognize that empty string is not NULL, however, according to the documentation, I expect this attribute to pro

[2019-01-18 07:48] riezebosch opened #2233 "releases.json 2.2: hashes 2.2.103 incorrect"
Source: https://github.com/dotnet/core/blob/master/release-notes/2.2/releases.json

Search for `2D42517E8C716E59A01C77D94C76F718916190B5A9A9318D17985AFDF34E1335997C7502AB1CFC43955BD8B8AD543BD554475BDAECC5F900F37AAE066F1423B1` and `A6EE0C079BA02AEE1A75179E3420D08486C0AB0D101B27E22F889D9A9E83A97BA6AAADD4F2221ADCF6DAA9E9B74CF5ED41B3DCA0B1F34F44405814F72FFDB8B3` and see that multiple versions share th

[2019-01-18 12:55] elangelo opened #2234 "TypeLoadException when using Nuget references"
# Issue Title

We are encountering a TypeLoadException on System.Security.Cryptography.Cng when we add a package reference to a project that contains that same PackageReference

# General

1. We have an internal library that uses System.Security.Cryptography.Cng to encrypt some strings for safe storage. That library is both net472 and netcoreapp2.1 compatible.
For netcoreapp2.1 apps we add the fol

[2019-01-18 14:12] elangelo commented on #2234
[code]

this is the change that somehow fixes this. don't really make sense to me though

[2019-01-18 16:55] Ryszka commented on #2210
@leecow I have checked again and they're in fact there. Must have been some caching issue or I just missed it before.

[2019-01-18 17:39] ajcvickers commented on #2232
@rp0m This looks like an Entity Framework issue. In the future, please file EF issue at https://github.com/aspnet/EntityFrameworkCore

In this case, the behavior is by-design. See https://github.com/aspnet/EntityFrameworkCore/issues/14279 for more details.

[2019-01-18 17:39] #2232 closed

[2019-01-19 01:00] tristanbarcelon commented on #2134
Hi @vivmishra @leecow, did anything change in the [dotnetcore release index](https://dotnetcli.blob.core.windows.net/dotnet/release-metadata/releases-index.json) yesterday or today? My script which was working just fine yesterday now gets an error when used today.

[2019-01-19 01:50] leecow commented on #2134
@tristanbarcelon - there was a refresh of the sdk yesterday. Looks like an errant comma slipped into the file. Fixed.

[2019-01-19 03:51] tristanbarcelon commented on #2134
Thank you @leecow

[2019-01-19 06:54] lee576 commented on #333
me too

[2019-01-19 19:01] algorythm opened #2235 "base64 in JWT tokens are not padded with '=' characters"
I am using dotnet core 2.2.100. In my API i generate JWT tokens using `System.IdentityModel.Token.Jwt`. The token returned however has invalid base64.

The length of the base64 should be a multiple of 4. If the length is not a multiple of 4, it should be right padded with '=' characters.

With the following code snippet

[code]

I get the following JWT Token:

The first part of the JWT token is fi

[2019-01-19 19:10] bartonjs commented on #2235
JWS's base64 is defined to NOT include the trailing padding characters.

https://tools.ietf.org/html/rfc7515#section-2:

<sub>(emphasis mine)</sub>

That said, https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet is where JwtSecurityToken (and all of JWT) lives.

[2019-01-19 19:14] algorythm commented on #2235
Oh well sorry for that, that explains a lot. I also couldn't understand why such an error would even exist.

[2019-01-19 19:14] #2235 closed

[2019-01-20 19:17] senyg1 opened #2237 "'AssemblyResourceStringProvider' could not be found (Are you missing a using directive or an assembly reference?)"
# Issue Title

I have upgrade my projet from dotnet ocre 1.1 to 2.1 and getting this error.
'AssemblyResourceStringProvider' could not be found (Are you missing a using directive or an assembly reference?)

# General

I have a project that is working fine in dotnet core 1.1.
I have decided to upgrade it to 2.1.
And I'm getting nthe above error on the following code bloc:

[code]

Can anyone help m

[2019-01-20 21:05] rp0m commented on #2232
Ahh okay - will do next time! Was 50/50 on where to raise this one..

Just to confirm - if this behaviour is by design, does that not go against the documentation? This seems like a bug to me. If such behaviour is not handled by EF - that's fine, but having a property that seemingly does nothing seems misleading.

[2019-01-20 21:15] pdavis68 opened #2238 "DateTime.Parse() doesn't work properly on arm (Raspberry Pi)"
### Describe the bug
DateTime.Parse() on Raspberry Pi doesn't parse dates that will parse in an x86/64 environment.

Unhandled Exception: System.FormatException: String '01/20/2019 13:41' was not recognized as a valid DateTime.
   at System.DateTimeParse.Parse(ReadOnlySpan`1 s, DateTimeFormatInfo dtfi, DateTimeStyles styles)
   at System.DateTime.Parse(String s)
   at DetaineeScraper.Program.Main(

[2019-01-21 10:14] hiramwu opened #2239 "configuration change to null"
# Issue Title

configuration change to null when reloadOnChange set to null

# General

configuration change to null when reloadOnChange set to null after running several days.

[2019-01-21 10:15] #2239 closed

[2019-01-21 12:36] synckarthik opened #2240 "Response.HttpContext.Features.Get<IHttpResponseFeature>().ReasonPhrase is not working in .net core 2.0 above versions"
# Issue Title

`Response.HttpContext.Features.Get<IHttpResponseFeature>().ReasonPhrase` is not working in .net core 2.0 above versions

# General

We used the html upload box in our project. While upload fails, we will pass the custom message through httprequest to client side.  Our server side section is in .net core project (2.0).  So we have used the below code to send custom message

`Response

[2019-01-21 15:27] devlead opened #2241 "releases.json for 2.2.103 missing properties compared to previous sdk versions i.e. 2.2.102"
Might be wrong but looks like the json blob format in [release-notes/releases.json](https://github.com/dotnet/core/blob/de61a2aabaed21018ec54327ce3caab1dac84590/release-notes/releases.json)for 2.2.103 differs quite a bit from previous versions, below compared to 2.2.102, causing issues in i.e. Azure Pipelines.
[code]

[2019-01-21 23:15] NeilMcKechnie commented on #1240
I also had the same problem and @tharmachandran 's fix worked for me too, thanks for chiming in @TrevorFradsham .

[2019-01-22 01:02] jsoques commented on #2210
I just installed **dotnet-sdk-2.2.103-win-x64.exe**. When I do a **dotnet new mvc** at the command line I get the error: **C:\Program Files\dotnet\sdk\2.1.500\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.TargetFrameworkInference.targets(137,5): error NETSDK1045: The current .NET SDK does not support targeting .NET Core 2.2.  Either target .NET Core 2.1 or lower, or use a version of the .NET SDK th

[2019-01-22 04:21] dovandap opened #2242 "Sometime .net core 2.0 deployed on IIS error 500"
# Issue Title

i using .net core 2.0 and deployed to IIS on server 2016 but sometime error 500.
# General

Provide details on the problem you are experiencing including the .NET Core version, operating system version and anything else that is relevant.

.net core 2.0

Please provide a code sample for your issue if it is relevant, either inline, link to a gist (or similar) or add it as a zipped att

[2019-01-22 07:19] jigarce commented on #860
Thanks

[2019-01-22 09:38] joesun99 commented on #2099
Hi everyone
I would like to ask how is net core 3 also supporting Windows Workflow Foundation?

Regards

[2019-01-22 13:48] lmcarreiro commented on #2000
Maybe it's because we have a .net core assembly calling a .net framework assembly.

The assembly `C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE\TextTransform.exe` are trying to load `System.Runtime` from my `bin/Debug/netcoreapp2.2`

[code]

[2019-01-22 14:01] lmcarreiro commented on #2000
Maybe some `assemblyRedirect` inside `C:\Users\<user>\AppData\Local\Microsoft\VisualStudio\15.0_29f8d23a\devenv.exe.config` could be a workaround, but I tried some things and can't get it working.

[2019-01-22 14:14] lmcarreiro commented on #2000
It works!!!

Just put this bindingRedirect inside the `C:\Users\<user>\AppData\Local\Microsoft\VisualStudio\15.0_29f8d23a\devenv.exe.config` inside `<configuration> -> <runtime> -> <assemblyBinding>` where are the other bindingRedirect's

[code]

[2019-01-22 17:01] elangelo commented on #2234
I have to reopen this issue again. Apparently this is still happening. Problem is I have no idea why the dotnet core runtime would try to find System.Security.Cryptography.AesCng in System.Core. That simply doesn't make sense to me.
I've tried to create a demo application that shows the same behavior but i have not been successful.

[2019-01-22 17:13] karelz commented on #2234
@elangelo I think we will need a repro to be able to help here.
I would first try to create an environment where you can always reproduce the problem, then chop off parts of the app, move it from NuGet library to local project library, simplify it, while still checking it fails. Once you have a reasonably small repro, please share it with us and hopefully we can help.

[2019-01-22 17:30] karelz commented on #2242
.NET Core 2.0 is out of support. Try it on .NET Core 2.1. If you still have the issue, please make sure it reproduces on more than 1 machine, then gather actionable information - ideally a repro, call stack, etc.

[2019-01-22 18:51] vjirovsky opened #2243 "X509Extension - OID 2.5.29.17 gives different format on Windows vs. Linux"
# X509Extension - OID 2.5.29.17 gives different format on Windows vs. Linux

If you parse X509 certificate extensions by X509Certificate2 object, there is difference between X509 certificate extension (Subject alternative name - SAN) output format on Windows .NET Core vs. Linux .NET Core.

# General

Tested .NET Core version: 2.1, 2.2
OS: Windows, Linux (that's the problem - it's not the same)

Sa

[2019-01-22 19:34] leecow commented on #2241
@devlead - this was an SDK-only refresh which is why the Runtime is not listed. I have corrected the property names and am looking at what went wrong with generator.

[2019-01-22 20:06] leecow commented on #2233
@riezebosch - these 2 files are identical except for the name. The *gs* files are referenced by the dot.net download pages so that we can get accurate telemetry of usage from those pages. The dupe situation will be for Win-x86/x64 and OSX installers and am looking into wrong values now.

[2019-01-22 20:51] bartonjs commented on #2243
Yep, the behavior of the Format methods is not guaranteed to be the same across the operating systems, it is deferred to the underlying provider for pretty-printing.

[2019-01-22 20:51] #2243 closed

[2019-01-22 21:19] devlead commented on #2241
Ok! Can confirm Azure Pipelines now work 👍

Looking at previous releases release notes seems to be missing too

| date       | version-sdk             | version-runtime          | release-notes                                                                           |
|--------------|---------------------------|----------------------------|---------------------------------------------------------

[2019-01-22 21:56] vjirovsky commented on #2243
ok, could be this information into method `public virtual string Format(bool multiLine)` documentation?

[2019-01-23 02:47] zsanhong commented on #2202
I have the same problem

[2019-01-23 08:43] WalterEbbers commented on #2099
When .net Core 3.0 was announced it was said it would have the ability to embed the runtime into the application executable. Yet no info is available how this can be done. Has the feature not been released or will it only be available in the final build for .net core 3.0?

As a side question, does the embedding also work for asp.net .net core hosted applications or only wpf based desktop applicati

[2019-01-23 08:58] synckarthik commented on #2240
Hi Guys,

I have attached the sample for HTML 5 uploader with xmlHttpRequest to send the form data.

Steps to reproduce:

Run the sample and select any file. Then click on uploadFile button,. Your file will be uploaded in to wwwroot folder now.
Upload the same file again, you will receive the custom message which we sent from server end 'File Already Exists' in load event.

But message jot receive

[2019-01-23 10:59] tactical-drone opened #2244 "Strange issues when possible code branches contain CPU hogging code. (linux?)"
# Sockets async/await thread pool type code

I have strange phenomena in my dotnet core 3.0 console program. It is probably some weird bug, but I cannot see it. What I see is the following:

My `C#` program receives data from another `java` program using `System.Net.Sockets.Socket` of the `ProtocolType.Tcp` kind. The protocol is simple, fixed size frames with a `crc32` attached. The `C#` side can

[2019-01-23 13:24] GeertvanHorrik opened #2245 ".NET Core 3.0.0 preview is no longer working with VS 2017 preview"
# Issue Title

See title

# General

I was using older builds (from december), but decided to try the latest bits (because I want to provide as much feedback as possible). Now suddenly I am getting errors:

[code]

*Luckily I was able to fix this* by using an older build from a setup I had stored on my build agents setup. This version still works fine:

![image](https://user-images.githubuserconte

[2019-01-23 14:24] WalterEbbers commented on #2099
Not exactly. When 3.0 was announced, the feature was announced as the dotnet runtime would be fully embaddable within the executable without having to install it. You could deliver your own current version within the application.
From what i can see with self contained, this is not really the exact way. I hope someone from the project could answer the question :)

Thnx for the reply though @jkdmyr

[2019-01-23 15:14] ghost1372 commented on #2099
@WalterEbbers  You can release your project by right click on solution and select publish, in this case There are 2 modes, first **self-contained** If you select it all the required requirements will be placed next to the executable file. second is Dependent Framework that To run, you need to install the pre-requisites on the system you want. But I think your intention is to put all the requiremen

[2019-01-23 15:34] #2244 closed

[2019-01-23 17:25] WalterEbbers commented on #2099
If self-contained has all the runtime abilities withouth having to install the runtime than that would be cool. Although 'm still confused what they meant by embeddint the framework when they announced 3.0 last year.

[2019-01-23 19:35] elangelo commented on #2234
While trying to reproduce the issue on a smaller code project i accidentally found what was wrong. Apparently our build process to build the nuget package of the internal library only withheld one .dll (net472) instead of 3 dll's (net472, netstandard20 and netcoreapp21) and somehow that net472 dll was distributed as the dll for the different frameworks. Obviously that could never work.
Just to mak

[2019-01-23 19:35] #2234 closed

[2019-01-23 19:45] JuliaLid commented on #2149
I was running into all kinds of installation issues on Ubuntu 18.04. Following the steps in this tutorial - https://www.ntweekly.com/2018/12/25/install-net-core-2-2-on-ubuntu-18-04-linux/  worked like a charm!

[2019-01-23 22:31] jamiegs commented on #2099
I've just migrated an ASP.NET from .NET 2.1 to 3.0 to test it out.. it doesn't appear that symbols are being created for the application any longer. Has there been any changes that would cause that?  The build is happening with in  a`microsoft/dotnet:3.0.100-preview-sdk-stretch` container..

[2019-01-24 07:09] karelz commented on #2245
@GeertvanHorrik updates to what were promised where?
@leecow can you help here?

[2019-01-24 07:14] karelz commented on #2202
@zsanhong are you able to reproduce the problem on 2 different machines? It feels like corrupted download ...

Closing due to no response to original question above.

[2019-01-24 07:14] #2202 closed

[2019-01-24 07:19] karelz commented on #2243
@vjirovsky would you mind submitting PR in docs repo? (edit button will lead you there - it is fairly simple) Thanks!

[2019-01-24 07:33] karelz commented on #2237
@krwq @tarekgh can you please help route the question?

[2019-01-24 08:57] irpg7 opened #2246 "Html Doesn't change on reload"
Hello,
With the .net core 3.0 preview which was released as first preview following daily builds also having this problem as i tried. When i am doing somechanges on cshtml files it was working fine and after i reload the page changes i was able to get on my running website when i was using .net core 2 version. but with the 3.0 prew. this feature isn't working anymore i am seeing that kestrel havin

[2019-01-24 09:18] GeertvanHorrik commented on #2245
@karelz the VS extension holding me back to start using VS 2019.

But again, why would support for VS 2017 (preview) be dropped, it's "just" an sdk?

[2019-01-24 09:18] KennyChen0909 opened #2247 "How can a .NET Core console app running on Ubuntu Linux access a file share using Windows Authentication?"
# Issue Title
How can a .NET Core console app running on Ubuntu Linux access a file share using Windows Authentication?

# General

We are able to get a file share directory using the below code in windows machines:

[code]

However, it is using CMD shell which is not available on Linux.

[2019-01-24 11:32] radwan92 opened #2248 ".NET Core 2.2 not available on Debian 8 (jessie)"
For some reason dotnet runtime 2.2 is not available on debian8 even though there are [official instructions](https://dotnet.microsoft.com/download/linux-package-manager/debian8/runtime-2.2.1) on how to install it.

After inspecting the [repository](https://packages.microsoft.com/debian/8/prod/pool/main/d/) we can see that indeed the packages for 2.2 are not there.

It seems that dependencies on de

[2019-01-24 12:02] synckarthik commented on #2240
Hi @karelz / @Eilon , Any ideas on this issue?

[2019-01-24 13:14] goobering commented on #2149
@JuliaLid That worked! Thanks so much.

I had to reset my Ubuntu install again though - the instructions at [https://www.ntweekly.com/2018/12/25/install-net-core-2-2-on-ubuntu-18-04-linux/](https://www.ntweekly.com/2018/12/25/install-net-core-2-2-on-ubuntu-18-04-linux/) originally failed with the same error message I'd had previously. The only thing I'd run on that reset was the instructions provi

[2019-01-24 14:20] rakesh-shrivastav opened #2249 "\"
# Issue Title

Be as descriptive as you can with your title.

# General

Provide details on the problem you are experiencing including the .NET Core version, operating system version and anything else that is relevant.

Please provide a code sample for your issue if it is relevant, either inline, link to a gist (or similar) or add it as a zipped attachment.

For some issues, you will get a quicker

[2019-01-24 14:57] vjirovsky commented on #2243
@karelz PR created here https://github.com/dotnet/dotnet-api-docs/pull/1681

[2019-01-24 15:11] gortok commented on #2247
@KennyChen0909 The deeper issue you're having is that you want a way for your Console program to access a Windows file share from an Ubuntu Server.  To make that happen, you'd need to mount that windows network share using [the instructions here](https://wiki.ubuntu.com/MountWindowsSharesPermanently).

What's your deployment scenario? Is this a console program in an environment you control (where

[2019-01-24 15:52] karelz commented on #2243
Thank you @vjirovsky!

[2019-01-24 15:54] karelz commented on #2249
@rakesh-shrivastav looks like a mistake - no original content in the bug report. Closing.

[2019-01-24 15:54] #2249 closed

[2019-01-24 15:55] karelz commented on #2240
@synckarthik no idea from me - when @Eilon is back, he can route it on ASP.NET team.

[2019-01-24 16:13] tarekgh commented on #2237
AssemblyResourceStringProvider is ASP.NET class. @muratg or @Eilon can help.

@karelz I think this can be moved to the asp.net repo.

[2019-01-24 16:14] karelz commented on #2237
Thanks @tarekgh for your help!

[2019-01-24 16:15] karelz commented on #2240
@muratg can you please help move it & route it on ASP.NET team while @Eilon is OOF?

[2019-01-24 16:21] karelz commented on #2246
@muratg can you please help route the report?

[2019-01-24 17:38] rakesh-shrivastav commented on #2249
Never opened anything. Details are definitely mine. 🤔😂

[2019-01-24 17:45] ajcvickers commented on #2249
@rakesh-shrivastav Do you have a :cat:?

[2019-01-24 18:47] muratg commented on #2237
@tarekgh What namespace is that in? I couldn't find it with a cursory search.

[2019-01-24 18:48] muratg commented on #2240
@Tratcher Can you take a look?

[2019-01-24 18:50] muratg commented on #2246
@mkArtakMSFT @rynowak  Could you guys take a look

[2019-01-24 19:02] tarekgh commented on #2237
https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.localization.internal.assemblyresourcestringprovider?view=aspnetcore-2.0

[2019-01-24 19:07] GeertvanHorrik commented on #2245
Because I can't use VS 2019 at the moment since required extensions have not been made compatible yet. Why should that block me from using the .NET Core 3.0 SDK?

[2019-01-24 19:17] muratg commented on #2237
Thanks! @mkArtakMSFT, seems like this is in Localization. Is this an area you own? Was there a change between 1.x and 2.x here?

[2019-01-24 19:23] tarekgh commented on #2237
@muratg the doc I sent link for saying this apply to 1.1 and 2.0 but it is not mentioning 2.1. I am not sure how we support such libraries especially it is listed inside a namespace Microsoft.Extensions.Localization.Internal (which kind indicating it is internal).

[2019-01-24 19:48] Tratcher commented on #2240
@synckarthik I was able to reproduce this with your samples and I see the difference. This is not caused by any code changes in the framework, it's caused by a project configuration change.

The 2.0 project templates did not have HTTPS enabled by default, the 2.1 templates do. When using HTTP the browser uses HTTP/1.1 and ReasonPhrase works as expected. When using HTTPS the browser uses HTTP/2 and

[2019-01-24 21:20] leecow commented on #2245
Sorry for the troubles here.

There are 3.0 features which have (or will have) dependencies on new Visual Studio and, given the scope, migrating this work back to Visual Studio 2017 isn't practical. This is the reason for blocking on VS2017. We chose to not block the use of 3.0 in 2017 on the first Preview because none of these features were yet available in 2019.

[2019-01-24 21:20] #2245 closed

[2019-01-24 22:00] dagood commented on #2149
I set up WSL with Ubuntu on my machine (which has never had WSL enabled before) and the Microsoft instructions worked fine: no hiccups, and no need to `purge` and reinstall.

I reset WSL Ubuntu (Searched for `Ubuntu` in start menu => clicked `App settings` option => clicked `Reset` button) and ran the Microsoft steps again, and they worked fine again. 😕

From my understanding of what `packages-mic

[2019-01-25 04:44] synckarthik commented on #2240
@Tratcher , Thank you for your detailed explanation. I will use custom header.

[2019-01-25 04:44] #2240 closed

[2019-01-25 08:47] Eilon commented on #2246
This issue was moved to aspnet/AspNetCore#7013

[2019-01-25 08:47] #2246 closed

[2019-01-25 08:48] Eilon commented on #2237
This issue was moved to aspnet/Extensions#1000

[2019-01-25 08:48] #2237 closed

[2019-01-25 11:14] rakesh-shrivastav commented on #2249
@ajcvickers Yeah, Schrodinger's cat

[2019-01-25 11:24] SolidSoft-Lda opened #2250 "In-Process support for multiple applications on the same application pool"
I finally be able to convert, compile and run my ASP.NET WebApi (.NET 4.7) to ASP.NET Core WebApi (.NET Core) and run both version exactly with the same performance thanks to In-Process finally added on the latest .NET Core 2.2,

However as soon I add a second application to the application pool, I got the following error:
HTTP Error 500.0 – ANCM In-Process Handler Load Failure

I know by now that

[2019-01-25 12:49] benaadams commented on #2250
Probably want to open issue in AspNetCore repo? https://github.com/aspnet/AspNetCore/issues

[2019-01-25 13:54] SolidSoft-Lda commented on #2250
Thanks.
Done !

[2019-01-25 16:10] karelz commented on #2250
Duplicate of https://github.com/aspnet/AspNetCore/issues/7019

[2019-01-25 16:10] #2250 closed

[2019-01-25 17:06] kurtisauc3 opened #2251 "Angular 7 Workspace + .netcore2.1 :: Breakpoint set but not yet bound? [Visual Studio 2017]"
When creating a dotnet new angular, it creates a ClientApp folder, which normally holds the source files for the spa.
If you follow this template, you can set breakpoints anywhere in the .ts files and chrome/vs play nice with the webpack source maps.
But if you create a workspace containing multiple projects, specifically a library and an application, the breakpoints never get set.
My folder struc

[2019-01-25 18:45] cleemullins opened #2252 "MSTest projects fail to build with .Net Core 2.2.102 on Azure Devops"
# Issue Title

An MS Test project (netcoreapp2.0, or netcoreapp2.1) fails to build on Azure Devops since the installation of .Net Core 2.2.102

# General
The error is this:
[code]

I have a [minimal repro here](https://github.com/cleemullins/DevOpsBuildFailureRepro), which is just an MSTest project based on netcoreapp2.1. There is a 3-step Azure Devops pipeline (using all default values) to go wit

[2019-01-25 20:20] yuezengms opened #2253 ""System.Net.Sockets.SocketException: Address already" in use on Linux"
# Issue Title

"System.Net.Sockets.SocketException: Address already in use" on Linux

# General

Our .net core(v 2.2.0) services are running on Azure Kubernettes Linux environment. Recently we experimenced a lot of error "System.Net.Http.HttpRequestException: Address already in use" while calling dependencies, e.g. Active Directory, CosmosDB and other services. Once the issue started, we kept gett

[2019-01-25 23:54] karelz commented on #2253
Duplicate of https://github.com/dotnet/corefx/issues/32027

[2019-01-25 23:54] karelz commented on #2253
Can you please try .NET Core 3.0? It was fixed there ...

[2019-01-26 00:04] yuezengms commented on #2253
I'll try upgrading. Thanks!

[2019-01-26 00:06] yanrez commented on #2253
@karelz do you plan to backport this fix to 2.2 ?

[2019-01-26 00:09] karelz commented on #2253
@yanrez not unless there is some good business justification - higher number of affected customers. Is that the case? (this is 2nd ask "only" so far)
Also, it would help to validate this is truly the root cause, e.g. by trying 3.0 preview/daily build.

[2019-01-26 00:14] yanrez commented on #2253
It is happening in some of the clusters. It doesn't seem to consistently repro, but some pods go into this state and stay in it until being terminated. I understand 3.0 is still few months away (I don't know actual timeline though), so my question about 2.2 was based on assumption that hotfix for 2.2 could come earlier than 3.0 release.
We will look into trying to upgrade and see if it solves the

[2019-01-26 00:15] karelz commented on #2253
BTW: It might be good for you to register as MS employees - at least by linking your accounts: https://github.com/dotnet/core/blob/master/Documentation/microsoft-team.md ... that allows other FTEs to see you are MSFT ;)

[2019-01-26 00:17] karelz commented on #2253
@yanrez what is the service? How large is it roughly? How often it happens? ... That may support the business justification (even if you were not MSFT ;)).
If you can verify on 3.0 that would be great. Either way, we may need to verify on early 2.1/2.2 build as part of "test signoff" to make sure we are fixing the real root cause here.

[2019-01-26 00:49] yanrez commented on #2253
I will follow up offline, but in some of the regions we see it happening more often - taking down several pods in our k8s cluster per day

[2019-01-26 02:19] Eilon opened #2254 "option to get CSC vs GCM mode using Sslstream"
_From @anushprabhu on Friday, 25 January 2019 01:55:57_

We are currently using TLS 1.2 and logging the cipher suite from SslStream in our service but there is no option to log the mode used.

Is it possible to expose this in SslStream or how we can get this information?

_Copied from original issue: aspnet/AspNetCore#7007_

[2019-01-26 02:19] Eilon commented on #2254
_From @Eilon on Friday, 25 January 2019 08:35:23_

@Tratcher / @blowdart - any idea on this? Is this an ASP.NET Core issue?

[2019-01-26 02:19] Eilon commented on #2254
_From @blowdart on Friday, 25 January 2019 14:45:10_

No, it's an SslStream issue. So .NET Core.

[2019-01-26 11:14] OnurGumus opened #2257 "Slow loop performance with 3.0 preview1 on Windows"
# Slow loop performance

I have the following code :

[code]
I ran above code on Windows 10 with .net core sdk 3.0 preview, and it runs in `1.56 seconds` whereas on .net core 2.2, it runs within `0.54 seconds`. Both compiled with release mode and 64 bit.

Here's my output for dotnet --info:
[code]

[2019-01-26 14:06] sweetpants commented on #2149
Still suffering from this issue. Tried every possible solution mentioned, still get the same error. I'm a noob on package managers, but the packages-microsoft-prod.deb packageversion is 1.0-ubuntu18.04.2. But 18.04.2 is due to come in feb 2019

[2019-01-26 17:05] danielpalme commented on #2252
I have the same problem

[2019-01-26 22:10] karelz commented on #2252
Are you able to reproduce the problem outside of Azure DevOps? (i.e. locally)
If it is specific to Azure DevOps environment then it would be best to start with them. Do you know if they have public facing feedback channel?

@kendrahavens you might be interested in this one.

[2019-01-26 22:33] cleemullins commented on #2252
@karelz, Our desktops all have 2.2.100 on them, not the .102 patch. Given that, yes, desktop builds work like a charm.

The repo on DevOps is 100%.

[2019-01-26 22:51] karelz commented on #2252
Can you try on .102 build locally too? That would make better comparison.
We need to find what is most likely at fault - regression in 2.2.102 against .100, or Azure DevOps environment?

[2019-01-26 23:32] drowhunter opened #2258 "input for checkbox always false"
# General

I just spent two days trying to figure out why this is not working
[code]
On Post value of check box is always false, and the user code is null
![wrongvalues](https://user-images.githubusercontent.com/2817488/51794044-7dc02200-2198-11e9-9fad-b279115cca66.png)
but if you look at the request the values are there
![requestform](https://user-images.githubusercontent.com/2817488/51794052-b19

[2019-01-27 00:20] karelz commented on #2257
@OnurGumus Stowatch can be misleading and could hide many things.
I would recommend to change the perf test into BenchmarkDotNet: https://benchmarkdotnet.org, then compare. It will also rule out statistical annomalies and show you disassembly.

cc @adamsitnik

[2019-01-27 15:47] 0xd4d commented on #2257
Tiered compilation is enabled by default. What happens if you disable it? (set `COMPlus_TieredCompilation=0`)

[2019-01-27 16:00] OnurGumus commented on #2257
@0xd4d
Yes when tiered compilation is off it is 3 times faster.

[2019-01-27 16:12] OnurGumus commented on #2257
I also tried with benchmarkdotnet, it is initially slow then the latter iterations were fast. Is this by design ?
[code]

[2019-01-28 07:07] KennyChen0909 commented on #2247
@gortok  Is there a way to access a Windows file share programmatically? We have been working around the issue by mounting a network share in the same way as the instructions you linked, but it doesn't scale if you have 10s or 100s of network shares to access with potentially different credentials as well.

Our deployment scenario is .NET Core deployed on Ubuntu base images as Docker containers. T

[2019-01-28 07:14] OnurGumus commented on #2257
@karelz info is provided.

[2019-01-28 09:09] adamsitnik commented on #2257
Hi @OnurGumus

Big thanks for your report!

In your benchmark we have a nested loop:

[code]

On my PC, it takes on average 1.5s (1,484,491.56 us) to execute this benchmark.

Let's remove the nested loop:

[code]

If we remove the nested loop, and initialize the array only, takes 36.99 us. `1,484,491.56 us / 10000` is `148 us`. Why the difference is so big?

Your micro-benchmark is an edge case fo

[2019-01-28 09:21] OnurGumus commented on #2257
@adamsitnik, thanks for the reply.  I understand, but this is a generic nested loops. It doesn't look like an edge case to me. Perhaps you should not consider nested loops as edge cases, because they are very common everywhere. Correct me if I am wrong but just because a method is not called 30 times, doesn't mean that it is not doing CPU intensive work.

If it will work as you mentioned I believe

[2019-01-28 10:04] sachinma commented on #2252
@karelz @cleemullins In Azure DevOps, the build fails with both 2.2.100 and 2.2.102. @cleemullins the difference from you Desktop could be that you are either not using Nuget.exe to restore the packages or you are using a version higher than 4.3.0.

In Azure DevOps, restore works with Nuget.exe 4.4.1 (you can update it in the 1st task in your sample pipeline) or when using "dotnet restore" command

[2019-01-28 10:37] adamsitnik commented on #2257
@OnurGumus  I understand your concerns.

We have validated that Tiered Jitting does not regress TechEmpower benchmarks, MusicStore app, AllReady app and few other real-world scenarios.

@kouvel can say something more about the details for nested-loop scenarios

[2019-01-28 17:03] cleemullins commented on #2252
Thanks @sachinma. I can confirm that updated to Nuget 4.4.1 in the Devops pipeline fixed the issue.

The default version when I add the step to the Pipeline is 4.3, but manually setting to 4.4.1 seems to fix everything.

[2019-01-28 17:31] kouvel commented on #2257
There is a balance to be struck and it's not perfect yet. Depending on whether you care about startup perf or steady-state perf, even without tiering there are modes to choose from. For startup perf, generating ReadyToRun (R2R) with crossgen is helpful. For steady-state perf, disabling ReadyToRun and tiering may yield the best perf at the moment. Each of those modes currently compromises perf of t

[2019-01-28 17:32] kouvel commented on #2257
Closing as duplicate, feel free to reopen if you have any other info to add, or add it to the other issue

[2019-01-28 17:32] #2257 closed

[2019-01-28 17:36] OnurGumus commented on #2257
@kouvel  Is it possible if we re-open this issue and treat it strictly targeting to nested loops ? Or I can open a new issue like "Tiered JIT should handle nested loops properly". What do you think ?

[2019-01-28 17:42] kouvel commented on #2257
The issue isn't specific to nested loops, any long loop would run into the same problem. Removing the nesting helps in the benchmark above only because the total number of iterations is much less than before and BenchmarkDotNet's pilot and warmup phases allow enough calls to the method to cause tiering to occur before measurement begins. The issue would occur again if the single loop were modified

[2019-01-28 17:44] OnurGumus commented on #2257
Understood. Well that's not an edge case at all :)

[2019-01-28 17:46] kouvel commented on #2257
Yes it is a concern and we're interesting in knowing real-world cases where the issue is problematic. I'm not aware of any significant cases at the moment. I'm also looking into whether there's a way to work around the issue until it can be fixed, for instance there is a possibility that we could skip tier 0 for methods containing loops, some data would have to be collected to see what kind of imp

[2019-01-28 23:07] bdonnahue commented on #505
Open source it already!! WTF. I am going to switch languages!

[2019-01-29 01:15] karelz commented on #2252
@sachinma thanks a lot for finding the root cause!
I thought that Nuget is part of .NET Core distribution and therefore there should not be problems like this one.
Does it mean that the default .NET Core installation on local machine won't work either? Or is Azure DevOps somehow downgrading nuget.exe?

@rrelyea @livarcocc can you shed some light here from SDK & used nuget.exe client side point of

[2019-01-29 08:20] martore opened #2259 "NuGet does not select the latest .NET Core version"
# NuGet does not select the latest .NET Core version

Take a look at https://stackoverflow.com/questions/54414482/what-am-i-missing-to-upgrade-asp-net-mvc-net-core-2-2-0-apps-to-net-core-2-2-1

# General
1. Uninstall all .NET Core SDKs and runtimes.
2. Install latest .NET Core SDK (2.2.103) and runtime (2.2.1.27207)
3. In VS 2019 create new .NET Core Web App project.

NuGet references `Microsoft.N

[2019-01-29 10:03] sachinma commented on #2252
@karelz in this case, the customer's pipeline was using a specific version of nuget.exe to do the restore. The default .Net core installation with "dotnet restore" or MSBuild /restore would work. The customer may choose explicit Nuget tasks for connecting to custom feeds with authentication.  The same functionality of connecting to custom feeds is available in .Net Core task in Azure pipelines whi

[2019-01-29 11:36] Feng-Bu-Jue commented on #860
the same problem with teamcity build

[2019-01-29 11:58] sonerguven opened #2260 "Get Metadata of Wcf Host from client on runtime"
Hi,

We've recently started to migrate our project from .net framework 4.5.1 to .net core 2.2 but our project in making will continue to consume wcf services of our legacy system developed on .net framework 4.5.1. There are hundreds of different services and dlls in the legacy system, which we don't want to add them in our new .net core project as a reference. In this point getting meta data of ho

[2019-01-29 13:34] zatanax commented on #2188
thanks work

[2019-01-29 14:08] hognevevle opened #2261 "HttpWebRequest hangs for certain endpoints in .Net Core 2.1 and 2.2"
Hello,

I'm trying to consume a third party API via .Net Core 2.2. I'm experiencing that the request will simply hang, using both .Net Core 2.2 and 2.1. The hang appears to be indefinite, and I have not yet reached any timeout.

Attempting the same in .Net Framework or .Net Core 2.0 works as intended.

Also, issuing the code below prior to executing the request, my request will also work in .Net C

[2019-01-29 17:57] leecow opened #2263 ".NET Core 3.0.0 Preview 2"
.NET Core 3.0.0 Preview 2

[Release Notes](https://github.com/dotnet/core/blob/master/release-notes/3.0/preview/3.0.0-preview2.md)
[Download](https://github.com/dotnet/core/blob/master/release-notes/3.0/preview/3.0.0-preview2-download.md)
[Blog post](https://blogs.msdn.microsoft.com/dotnet/2019/01/29/announcing-net-core-3-preview-2/)

Please report any issues you find with 3.0.0 Preview 2, either

[2019-01-29 18:34] cleemullins commented on #2252
@karelz, my GitHub account is linked. :) I'm part of all those teams. Not sure why it doesn't show up, or why you don't see it. I see @sachinma is also part of those teams.

[2019-01-29 19:01] MarcoRossignoli commented on #2125
FYI https://github.com/aspnet/Announcements/issues/339

[2019-01-29 19:18] betocollin commented on #2149
I had the same issue but ran the commands on the link below* step by step and it worked for me.
https://dotnet.microsoft.com/download/linux-package-manager/ubuntu16-04/runtime-2.0.5
* on the last command, instead of dotnet-hosting.... , type dotnet-sdk-2.2

[2019-01-29 20:39] leecow commented on #2099
[Preview 2 released](https://github.com/dotnet/core/issues/2263) so closing this thread. Please move any continuing conversations to the new issue.

[2019-01-29 20:39] #2099 closed

[2019-01-29 20:59] leecow commented on #2248
@radwan92 - Support for Jessie was dropped when it went EOL 6/17/2018. Running from binary should work but there will be no support if any issues are encountered.

https://github.com/dotnet/core/blob/master/os-lifecycle-policy.md

[2019-01-29 20:59] #2248 closed

[2019-01-29 22:23] leecow commented on #2241
updated release notes and going forward, will make sure to also update symbols for SDK-only releases. FYI - the symbols referenced are only needed for linux debugging. Windows will correctly pick up symbols published to nuget and symweb.

[2019-01-29 22:23] #2241 closed

[2019-01-29 22:47] dagood commented on #2149
@sweetpants, @betocollin, can you please gather the diag info mentioned in this thread? I'd really like to figure out how to fix this, but I can't figure out how to reproduce (or at least understand) what's going wrong.

Also to any future commenters, this is the list of information that I think will be useful to get any additional problems understood:

1. OS (specifically if it is a derivative of

[2019-01-29 23:14] leecow commented on #2226
Hardly a scientific test but a few data points -

MacBook Pro (i7 dual core/16gb RAM) - 85.5 seconds
Ubuntu 18.04 vm on the above machine - 416.5
Win10 vm with same specs - 375.9

[2019-01-29 23:18] leecow commented on #2210
@murat / @bradygaster, can you have a look at @jsoques issue above?

[2019-01-29 23:20] #2139 closed

[2019-01-29 23:24] #2105 closed, assigned to leecow, vivmishra

[2019-01-29 23:38] muratg commented on #2210
@jsoques You don't happen to have a global.json do you?

@leecow This looks like a CLI/SDK question to me.  @livarcocc any thoughts here?

[2019-01-29 23:55] mbearup commented on #2149
@sweetpants regarding the package version (18.04.2), it reflects the *second release of the client package for 18.04/bionic*. We do not release client packages specifically for  each 18.04.* release, though I understand how that would be confusing.
As @dagood indicated, answers to those 5 questions will help us determine the cause of your issue. I'm also curious what error you're getting. Unable t

[2019-01-30 00:14] livarcocc commented on #2210
@jsoques what happens when you run dotnet --info on the project folder?

[2019-01-30 01:18] TheFanatr opened #2264 ".NET CLI Blob's Release Metadata JSON for .NET Core 3.0 Links to Nonexistent File"
# The [Release Metadata JSON for .NET Core 3.0 Hosted on the .NET CLI Blob](https://dotnetcli.blob.core.windows.net/dotnet/release-metadata/3.0/releases.json) Links to Nonexistent Resources in this Repo
See images below; I don't know how official this ".NET CLI Blob" is but I see it being used a lot, and it is pointing to nonexistent files, so I thought it might be important to point out.
### Snip

[2019-01-30 02:14] jsoques commented on #2210
@muratg No global.json
@livarcocc This is the output:

[2019-01-30 02:42] jsoques commented on #2210
@livarcocc Ah, now that you've mentioned it, yes I have a MSBuildSDKsPath pointing to that version. I had created it because of an issue I had with VS Code/Omnisharp.
I removed MSBuildSDKsPath and it works now! <Facepalm>

Thanks,

[2019-01-30 11:53] bilalmalik777 opened #2266 "the symbol has no implementation visual studio 2017"
# Symbol has no implementation

It is very simple to reproduce. I have web API & class library in dot net core 2.0. From any function, which is implemented in the class library, API controller, whenever I press ctrl+F12, a pop up appears with the following text "the symbol has no implementation" but when I simply press F12 it takes me into the definition I mean into the interface. And interestingl

[2019-01-30 13:09] gavinmckay commented on #2247
@karelz do you need more information beyond what has been provided? The issue is currently marked as "needs more info".

[2019-01-30 13:19] gortok commented on #2247
@KennyChen0909 you’d have to write the code to programmatically access the shares. If they’re dynamic then your code would be the rules that determine the dynamic logic to use. If they aren’t dynamic you could always try to use the configuration provider in .NET Core to load them.

[2019-01-30 16:03] leecow commented on #2264
Fixed!

[2019-01-30 16:03] #2264 closed

[2019-01-30 17:02] fuocor opened #2267 "GenerateBuildDependencyFile is failing"
since upgrading the sdk to version 3.0.100-preview-010187 and then 3.0.100-preview-010189  the GenerateBuildDependencyFile build task is failing.

the build output is the following
[code]

# General

if I downgrade to 3.0.100-preview-010040 there is no error

[2019-01-30 19:06] incompletude opened #2268 "Serialization not working when loading related data"
.NET Core 2.2.0.

I have a controller like:

[code]

The method is something like:

[code]

If I remove the related data `.Include(e => e.Folder)`, the serialization works fine. Am I missing something? `Folder` is a public property and the object looks fine when I watch for its value.

---

I was able to solve using

[code]

[2019-01-30 19:34] #2268 closed

[2019-01-30 19:49] JC-85 opened #2269 "What's the intended behavior of Environment.CurrentDirectory"
I recently had some problem when I needed to read from a text file that was linked into the project from another place.

It seems that the default behavior of `Environment.CurrentDirectory` is to be set to the project root dir, at least when running the project with `dotnet run`. When running an asp.net core project in IIS Express from VS2017 the current working dir is set to the install path of I

[2019-01-30 21:31] gdhog1979 opened #2270 "dotnet quit unexpectedly mac"
# Issue Title
dotnet quit unexpectedly mac

# General

When I try to run the solution in Visual Studio for Mac I get this error: Attempt to connect to Node timed out after 60000ms.

```Application startup exception: System.AggregateException: One or more errors occurred. (Attempt to connect to Node timed out after 60000ms.```

Then I get the macOS error: dotnet quit unexpectedly.

.NET Core info:

[2019-01-30 23:16] YadominJinta opened #2271 "Can't create new project in proot system"
I am using fedora installed in termux on Android with [Atilo](https://github.com/YadominJinta/atilo). I fellow the instructions and installed the dotnet core 3.0 preview 2.

After solved the dependencies , it runed successfully,but when I run `dotnet new Hello`,it returned no enough storage error.

[code]
However,the space is enough.
[code]
Could you tell me why? I really want to use dotnet core o

[2019-01-31 01:40] agoni1212 commented on #2263
[https://github.com/dotnet/core/blob/master/release-notes/3.0/preview/3.0.0-preview2.md](url)

**.NET Core 3.0.0 Preview 2 - January 29, 2018**

2018 ??  hey guys, i'm in 2019 ^_^

[2019-01-31 05:51] nishant-newton opened #2273 "Feature Request - Porting Microsoft SQL Server Type dll to .net core"
Want to check whether MS has any plan to port Microsoft.SQLServer.Types library to .net core.

I could not see any plan for this library to be made available for .net core.

With the inbuilt support for Geo processing this is a very useful library but unfortunately can not be used in .net core / standard?

[2019-01-31 07:17] karelz commented on #2273
@divega can you please comment or route?

[2019-01-31 07:20] karelz commented on #2263
@agoni1212 [fixed](https://github.com/dotnet/core/commit/ccf89ea7c20d23c0bb4b0f58e5f76f979dd5571e), thanks for report!

[2019-01-31 07:32] karelz commented on #2269
I believe that `Environment.CurrentDirectory` is what the process sets it to at OS level - IIS chose one dir, `dotnet run` another dir.
If you need to find the project location, you need to use path of your main assembly, or something like that ...

cc @JeremyKuhne to double check my reply

[2019-01-31 07:32] #2269 closed

[2019-01-31 07:35] karelz commented on #2267
@nguerrera @dsplaisted @livarcocc can you please help me route it?

[2019-01-31 07:42] karelz commented on #2266
.NET Core 2.0 is not supported as of 2018/10/1: https://github.com/dotnet/core/blob/master/release-notes/2.0/README.md
Closing.

If you can reproduce it on supported .NET Core version on more than one machine (to avoid bad install problem), we can reopen. I can try to route it in such case (please include clear step-by-step instructions how to reproduce the problem from scratch and what is expecte

[2019-01-31 07:42] #2266 closed

[2019-01-31 09:48] Ramon-Balaguer commented on #2263
We have seen that CentOS is not on the compatibility list, yet RHEL is. I understand that CentOs 7 is also still supported?

[2019-01-31 12:58] andrew-boyarshin commented on #2263
@karelz @leecow <https://github.com/dotnet/core/blob/master/release-notes/3.0/README.md> 2018 here too.

[2019-01-31 14:07] nguerrera commented on #2267
This issue was moved to dotnet/sdk#2890

[2019-01-31 14:07] #2267 closed

[2019-01-31 15:08] omajid commented on #2271
If there's a chroot involved, a `strace` log of `dotnet new console` would be really nice to have. We have seen failures involving a chroot before, such as https://github.com/dotnet/coreclr/issues/18634

[2019-01-31 15:23] karelz commented on #2263
@andrew-boyarshin thanks! Fixed: 686dedfa18dcf58159f0b86abcdfae78bc34a063.
PS: We would take  and be thankful for PRs for typo fixes ;)

[2019-01-31 16:21] juniormayhe opened #2274 "Broken link for C# 8 preview 2"
Broken link in C# 8 Preview  at **C# 8 Preview 2 (see highlights in the blog post)**: https://github.com/dotnet/core/blob/master/release-notes/3.0/preview/dotnet-blog

Source page: https://github.com/dotnet/core/blob/master/release-notes/3.0/preview/3.0.0-preview2.md

[2019-01-31 16:23] Ramon-Balaguer commented on #2263
@karelz  not here https://github.com/dotnet/core/blob/master/release-notes/3.0/preview/3.0.0-preview2.md

[2019-01-31 16:33] karelz commented on #2263
@leecow how do those 2 pages relate to each other? It seems that the Preview 2 page has bunch of distros "merged" together. Maybe we should add link to the supported OS matrix?

[2019-01-31 16:35] #2274 closed

[2019-01-31 16:36] karelz commented on #2274
Fixed, thanks for report!

[2019-01-31 16:55] leecow commented on #2263
The download tables on https://github.com/dotnet/core/blob/master/release-notes/3.0/preview/3.0.0-preview2.md and are not meant to be used as a reference for supported distros. That's covered entirely by the docs linked from the [OS Lifecycle Policy](https://github.com/dotnet/core/blob/master/os-lifecycle-policy.md).

@karelz - Agreed that a link to the os policy will be helpful.

[2019-01-31 20:48] leecow commented on #2271
re termux support - there's no work planned to specifically support the environment.

[2019-01-31 21:54] divega commented on #2273
@nishant-newton Microsoft.SqlServer.Types is part of the SQL Server product. We have talked to SQL Server team about adding support for .NET Core but there isn't a concrete plan we can share at the moment.

In the meantime, for spatial data, we have implemented compatibility with other types that exist in .NET Core, called NetTopologySuite. In the comment at https://github.com/dotnet/corefx/issues

[2019-01-31 22:01] karelz commented on #2273
Duplicate of https://github.com/dotnet/corefx/issues/31775

[2019-01-31 22:01] #2273 closed

[2019-01-31 22:01] karelz commented on #2273
Closed as dupe. If the CoreFX issue is in wrong place, let's move it to the right place, or at least mark it as "external".

[2019-02-01 09:01] Ramon-Balaguer commented on #2263
Thank you! @leecow

[2019-02-01 13:12] OliverDjur opened #2275 "Segmentation fault (core dumped)"
Hi. I haven't been able to find any problem similar to mine - using the same platform with version 2.0+.

Simple webservice runs into segfaults at seemingly random moments. It can run for 2 days with no problems and then suddenly run into a segfault. Typically it occurs within an hour of "high" sustained load.

One major objective of this app was that it would run forever with no problems. For tha

[2019-02-01 18:06] syazdian commented on #2263
How can I use it in Visual Studio 2017, not Visual Studio Code!?

[2019-02-01 18:44] wsuhoey opened #2277 "System.Speech.Synthesis.SpeechSynthesizer Speak method throws Object reference not set to an instance of an object." in PowerShell 6.1.2"
# Issue Title

System.Speech.Synthesis.SpeechSynthesizer Speak method throws Object reference not set to an instance of an object." in PowerShell 6.1.2, but not in PowerShell 5.1.

# General

The below code works in PowerShell 5.1 (I hear "test"), but throws an error in PowerShell 6.1.2.

[code]
Error in PS 6.1.2:
[code]

`$psversiontable` results:

5.1:
[code]

6.1.2:
[code]

[2019-02-01 18:46] karelz commented on #2277
If it is PowerShell specific, I would recommend to file it on [PowerShell repos](https://github.com/powershell).
If you have evidence of changes between .NET Core versions, this would be the right place.

[2019-02-01 18:46] #2277 closed

[2019-02-01 21:17] AlgorithmsAreCool opened #2278 "Guidence on dotnet core RPC"
WCF (server) isn't coming to .NET Core. Great, but the workloads it enabled are mostly left out in the cold.

Specifically the convenient ability to have fast, .NET <-> .NET, low ceremony RPC.

We really need to start migrating our old WCF code to core and are not sure on what path to target. I know we can whip up a REST interface with ASP.NET, but that still isn't as simple for the client as the

[2019-02-01 23:21] ZeroPKI opened #2279 "Multidimensional Arrays on .NET Core on MacOS much slower than .NET 4.7"
# Performance issue with Jagged arrays

I'm testing the performance of Jagged and multidimensional arrays on various platforms and CLR versions.  I'm  using the code here (https://stackoverflow.com/a/597790/420003 ) to test the performance.

[code]

From what I've read the method of measuring performance may be different between the platforms.  In case this is simply a result of different underlyi

[2019-02-02 00:19] MrM40 commented on #1632
I just installed "dotnet-runtime-2.2.0-linux-x64.tar.gz" on a clean Debian Burster.
I get the error when trying to run a dotnet app:

Do I need to install additional dependencies?

[2019-02-02 00:44] karelz commented on #2279
What is .NET 4.7 on MacOS? Do you mean Mono? It might have entirely different performance characteristics.
I would suggest to change the perf test to [BenchmarkDotNet](https://benchmarkdotnet.org/) to get proper statistics, and avoid `Stopwatch` mistakes, then we can check further ...

cc @adamsitnik @billwert

[2019-02-02 12:06] OnurGumus opened #2280 "Is bounds check elimination removed from for loops with i < array.Length ?"
Using .net core 3.0 Preview 2

I have noticed the bounds check elimination is not happening any more. Is it removed from RYU JIT?
I have the following code:
[code]
My common sense expects Loop1 and Loop3 should be the same and Loop2 should be slower as with simple Length check RyuJIT was checking effectively eliminating the bounds check for array. However results say :
[code]

And again checking t

[2019-02-02 12:48] mikedn commented on #2280
The following should work as expected:
[code]
In general, the index and the array reference must be local variables. Range check elimination might work when they're not but a relatively recent JIT bug fix has made the JIT more conservative in this regard.

[2019-02-02 12:57] mikedn commented on #2280
FWIW cases like Loop2 may be better served by spans:
[code]
or the more compact
[code]

[2019-02-02 13:41] OnurGumus commented on #2280
@mikedn Thanks for clarifiying. Yes making it local variable works. I think I can live with it. So I will close the ticket. Strangy loop2 got also faster but from assembly code I can see it keeps the bounds check.

And Thanks for the span hint. That's a clever way to eliminate bounds check that I didn't think it was possible. And I would have avoided foreach for performance but that also runs as f

[2019-02-02 13:41] #2280 closed

[2019-02-02 14:59] mikedn commented on #2280
Not surprising, things tend to work better if you use local variables. The JIT can sometimes introduces such local variables by itself by CESing loads, but it doesn't always work as well.

Note that `foreach` always had special support in the C# compiler for arrays (and now spans) so that `foreach (var i in a)` is the same as `for (int i = 0; i < a.Length; i++)`. Bonus, if `a` is not a local varia

[2019-02-02 17:19] OnurGumus opened #2281 "Slow performance with System.Numerics.Vector"
I have benchmarked System.Numerics.Vector with a regular array as in below test:
[code]

According the below results AVX version runs the same time with non AVX:
[code]

[2019-02-02 22:19] karelz commented on #2281
@tannergooding any comments?
cc @adamsitnik

[2019-02-03 14:00] guardrex commented on #2263
I'm not able to get 3.0 Preview 2 entirely in place and working on macOS 10.13.6 ...

* I installed VS for Mac 7.7.4.
* I installed the current Preview 2 SDK for Mac.
* I restarted the system.

Two behaviors are of concern:

1. In VS for Mac when creating a new project, I do receive and can select **.NET Core 3.0** for the **Target Framework**. However when I move to the next step **Configure your

[2019-02-03 14:54] mikedn commented on #2281
Using `Vector<T>` with arrays is kind of problematic because the range checks are not eliminated and loop cloning is not performed. You basically go from:
[code]
to
[code]

[2019-02-03 16:47] mikedn commented on #2281
Well, unsafe won't work very well with `Vector<T>` because there's no way to load `Vector<T>` from a pointer. You could use `Span<Vector<int>>` and `MemoryMarshal.Cast`:
[code]
`unsafe` would work well with the SSE/AVX intrinsics:
[code]

But a quick test on my machine shows that all variants have basically the same performance. Shouldn't be too surprising, those arrays have 256 megabytes each. Th

[2019-02-03 16:53] OnurGumus commented on #2281
@mikedn , can you mention one case where using vectors will boost the speed compared to arrays? If there is none that means I would always use arrays instead and vectors are useless.

[2019-02-03 17:03] benaadams commented on #2281
Shorter arrays; accessing 256MB is going to dominate over the CPU instructions for that size of array as it can't fit into CPU cache

https://gist.github.com/jboner/2841832
[code]

[2019-02-03 17:06] tannergooding commented on #2281
This should be possible in the latest C# 8 preview, with the `unmanaged constructed types` feature. The new feature lets you take the address of and have a pointer to a generic struct, like `Vector<int>`, if the compiler can statically determine it is unmanaged.

It would probably have about the same perf as using `Unsafe.As` or `Unsafe.Read/Write`, however.

[2019-02-03 17:06] tannergooding commented on #2281
Probably a good case for HWIntrinsics and the `NonTemporal` store functions?

[2019-02-03 17:15] OnurGumus commented on #2281
Actually in the question arrays were 64 MB. I just changed the 64 KB still, no difference! This really doesn't sound right. I remember I have tested System.Numberics.Vector few years ago for a similar case. It was fast.

[2019-02-03 18:06] benaadams commented on #2281
At most ugly and using Unsafe
[code]
Give you an inner loop of
[code]

[2019-02-03 18:10] guardrex commented on #2263
My issues are resolved now. VS4Mac is on hold for 8.0 Preview, and the SDK is installed and working normally.

[2019-02-03 18:12] mikedn commented on #2281
Indeed. And that only if the array memory is already in cache (probably reasonable to assume, the data must have been written there previously and if you're not using tons of memory it's probably still in the cache).

And of course, another case is when you have more expensive computations, though you probably need quite a bit of computation to raise above memory access cost.

Yeah, they tend to b

[2019-02-03 18:30] OnurGumus commented on #2281
@tannergooding nope it is release. Benchmark Dot Net doesn't allow debug benchmarking anyway.

[2019-02-03 18:34] benaadams commented on #2281
Tried switching off `TieredCompilation`
[code]

[2019-02-03 18:34] tannergooding commented on #2281
Well, there is definitely something up there. Maybe tiering, but I had thought BDN took care of that as well...

[2019-02-03 18:39] OnurGumus commented on #2281
@tannergooding  yes my bad again. It was tiering. BDN would take care of it if you run it more than 30 times. I don't wait that much. I added aggressive optimization now it is fast!.

[2019-02-03 18:49] mikedn commented on #2281
Might be worth adding that the AVX version I posted doesn't generate ideal code:
[code]
Those LEAs should not be there, that's a limitation of the current JIT. But it's unlikely that it has any measurable impact. Other versions, such as:
[code]
have similar performance.

[2019-02-03 19:02] OnurGumus commented on #2281
Is it possible to do loop unrolling ? I tried hand unrolling the loop 4 times when used LoadVector256  all of them still uses YMM0, when I use Vector they use different YMM, though I have not observed any perf difference.

[2019-02-03 19:10] mikedn commented on #2281
The JIT doesn't do that today.

And as you already found, it doesn't help. I actually tried that too earlier and came to the same result. Though what I did
[code]
also suffers from that extra LEAs issue. Perhaps if that's fixed it would work better. But I don't expect wonders.

[2019-02-03 19:17] OnurGumus commented on #2281
I guess CPU renames registers anyway. Lol, Old CPU's were more predictable.

[2019-02-04 04:38] Leon99 commented on #2210
[Known Issues](https://github.com/dotnet/core/blob/master/release-notes/2.2/2.1-known-issues.md) points to a non-existing file

[2019-02-04 05:36] muratg commented on #2210
@Leon99 ANCM was deployed to Azure in late December. What's the exact issue you're having?

[2019-02-04 07:23] jjpepper opened #2282 "Channel for notifications of new releases"
# Notification of releases

Is there an official way for people to be notified via email (or something similar) when new dotnet core framework versions are released?  Visual Studio updates don't seem to keep the installed dotnet core framework up to date.

[2019-02-04 09:38] Leon99 commented on #2210
@muratg I had a problem described on https://stackoverflow.com/questions/53811569/using-netcore-2-2-and-using-the-in-process-hosting-model last week, solved by switching to OutOfProcess.

[2019-02-04 09:56] arsenhovhannisyan commented on #2253
I have same exception on AKS (ver. 1.11.4) , and container microsoft/dotnet:2.2-aspnetcore-runtime
, Region West Europe .

[2019-02-04 10:29] mkSanalogic opened #2283 "Bad IL format when loading assembly"
# Bad IL format error when loading assembly from memorystream

# General

About half a year ago, I created a project containing the following function:

[code]

Trying to reuse this code today, half a year later, I found it to no longer work.
When trying to load the assembly (the Assembly.Load in the return), the code throws a System.BadImageFormatException in System.Private.Corelib.dll.

I found

[2019-02-04 12:27] jamesomitron opened #2284 ".NET Core 2.0 Build Fails on Azure Devops"
Hello,

I keep getting this error in my Azure builds

2019-02-04T12:17:12.5957839Z C:\Program Files\dotnet\sdk\2.2.102\Microsoft.Common.CurrentVersion.targets(2110,5): warning MSB3245: Could not resolve this reference. Could not locate the assembly "Microsoft.AspNetCore.DataProtection.Abstractions". Check to make sure the assembly exists on disk. If this reference is required by your code, you may

[2019-02-04 12:49] pkese commented on #2149
I had the same issue.
In the end it turned out that the machine I had been dealing with was ubuntu 16.04 rather than 18.04.

I've changed `/etc/apt/sources.list.d/microsoft-prod.list` from

`deb [arch=amd64] https://packages.microsoft.com/ubuntu/18.04/prod bionic main`
to
`deb [arch=amd64] https://packages.microsoft.com/ubuntu/16.04/prod xenial main`

and then it worked.

[2019-02-04 16:37] dagood commented on #2149
Thanks for the info. The instructions are specific to a distro version, you shouldn't need to manually change the package's files if you use the right one:

https://dotnet.microsoft.com/download/linux-package-manager/ubuntu14-04/sdk-current
https://dotnet.microsoft.com/download/linux-package-manager/ubuntu16-04/sdk-current
https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/sdk

[2019-02-04 16:50] mbearup commented on #2149
I know that for the packages.microsoft.com repos the folders are structured so that you can programmatically determine the correct path. For instance the following works with Ubuntu, would need some refinement to work on more distros.
[code]

[2019-02-04 16:56] muratg commented on #2210
@Leon99 Ah, so you haven't deployed to Azure. Did you install the latest .NET Core SDK/runtime? (`dotnet --info` output would tell.)

[2019-02-04 17:40] hnviradiya opened #2285 "ConfigureApplicationCookie hangs application"
# Issue Title

Using ConfigureApplicationCookie stucks application forever.

# General

I am using .net core 2.2.103 (x64)
windows 10
visual studio 2017 community edition

I added vueclimiddleware (reference below link)

https://medium.com/software-ateliers/asp-net-core-vue-template-with-custom-configuration-using-cli-3-0-8288e18ae80b,

I added identityserver as mentioned in following.

https://gi

[2019-02-04 17:41] pwiens commented on #2261
I'm having the same issue with even simpler code:

`static void Main(string[] args)
        {
            var hc = new HttpClient();

            var r = hc.GetAsync("https://pypi.org/pypi/flake8/json").GetAwaiter().GetResult();

            var content = r.Content.ReadAsStringAsync().GetAwaiter().GetResult();

            Console.WriteLine(content);
        }`

This will eventually throw an Opera

[2019-02-04 21:34] mbearup commented on #2149
@betocollin The link you posted earlier has the correct steps, and it sounds like it's now working for you, is that correct?

The only error I'm currently aware of is that the bootstrap installer (`packages-microsoft-prod.deb`) had a bug where **upgrades/reinstalls** would result in the .list file being removed. I suspect that, since the install directions say to install it, people were reinstalli

[2019-02-04 21:58] betocollin commented on #2149
Hey @mbearup . Thanks a lot for this but it's been working fine for me since my first post above.

@dagood had asked me to give him some info that could help investigate the issue so I just added it in here.

[2019-02-04 22:04] mbearup commented on #2149
Thanks for clarifying, @betocollin. Will wait to see if anyone else is still having issues.

[2019-02-05 09:09] Leon99 commented on #2210
I did deploy to Azure (App Service).

[2019-02-05 16:53] AlgorithmsAreCool commented on #2278
👀

https://github.com/grpc/grpc-dotnet/pull/63#issuecomment-460698855

I disagree. Experimental means that we don't know if this is going to work, not that it's going to ship eventually but we're in the early phases right now. We use that experimental term for actual experiments that we're trying to figure out if it'll work out. I'd rather say something like this is under active development and th

[2019-02-05 16:56] muratg commented on #2210
@Leon99 could you please share your csproj file?

[2019-02-05 19:54] AlgorithmsAreCool commented on #2278
Perfect! I figured it was too early for firm commitments of direction, but acknowledgement of support from an architect is plenty good for me.

P.S.
Please don't forget about Bond over GRPC. It's not as popular as protobufs, but it brings some great features to the table that bring it pretty much up to parity with WCF on functionality.

...except the flexible transports like named pipes and such b

[2019-02-05 19:54] #2278 closed

[2019-02-06 09:17] OliverDjur commented on #2042
Did you find a solution to this?

[2019-02-06 11:15] cesna commented on #2042
@OliverDjur nope, but with core 2.2 version, crash count decreased significantly.

[2019-02-06 14:31] ZeroPKI commented on #2279
Thank you for this information. I'll update with the test results, but this does put me in the right direction.  I'll close this ticket so to not affect any SLA you may have. Thanks for again for the (knowledge) that I'll be digging into.

[2019-02-06 14:31] #2279 closed

[2019-02-06 14:53] gittadesushil opened #2288 "app.config not getting transformed after install and uninstall of nuget package"
# Issue Title

app.config not getting transformed after install and uninstall of nuget package

# General
I am having sdk project which is published as nuget package. My package name is Printer. This project has two config file App.config.xdt.install and App.config.xdt.uninstall. I want these file should modify the project original App.config who is going to consume this package.

I have another p

[2019-02-06 15:36] juniormayhe opened #2289 "wrong links"
# Issue Title

links to download 2.0.9 takes to 2.1.x

[2019-02-06 15:38] hnviradiya commented on #2285
This is related to vue cli middleware. so closing.

[2019-02-06 15:38] #2285 closed

[2019-02-06 17:16] vinothkhanna opened #2290 ".NET Core database connectivity"
Security Patches causing issues in database connectivity

All,

After installing the following security patches on our Database Server (Windows Server 2012), all .NET Core applications > 2.1 ceased to connect to database server. Any applications with .NET Core 2.0 or microsoft/aspnetcore images are working fine.

Patches :
![image](https://user-images.githubusercontent.com/20160888/52359847-b43352

[2019-02-06 17:21] omajid opened #2291 "How does inbox vs nuget System.Net.Http work?"
This is an attempt to understand how `System.Net.Http` which exists both as a nuget package and as an inbox dll in .NET Core is used by (ASP).NET Core. This is *not* to understand how the network code works.

The original motivation is trying to understand how `System.Net.Http` version `4.3.0`, which is supposed to be vulnerable to CVE-2018-8292 is a false positive for (ASP).NET Core applications.

[2019-02-06 17:23] bartonjs commented on #2291
@terrajobst Do we have a simple or technical explanation anywhere of "inbox + nuget" assemblies?

[2019-02-06 18:29] leecow commented on #2149
@dagood, @rowanmiller  -  folks who upgrade their distro in-place (eg 16.04 -> 18.04) after first setting up .NET Core will hit the problem and not necessarily return to https://dotnet.microsoft.com/download/linux-package-manager/. Likely something that we can add to be of help though.

[2019-02-06 23:40] Leon99 commented on #2210
I can't reproduce it now, InProcess seems to work fine once I put it back and re-deployed. There was nothing fancy about it when I encountered the issue, just a standard Core 2.2 API one generated by the latest VS.

[2019-02-07 02:36] antoinne85 commented on #2253
Just chiming in to say that my business is also experiencing this issue:
AKS (v1.9.6)
Region: Central US
Image: microsoft/dotnet:2.2-aspnetcore-runtime

[2019-02-07 03:02] yanrez commented on #2253
We applied automated mitigation to count number of these exceptions and report negative signal to k8s liveness check. It helped us mitigate the impact. We didn't verify yet if latest builds of net core 3 would resolve the issue

[2019-02-07 12:40] kizora commented on #1240
You can try to increase the size of request JSON.
Have a look at link below
https://www.talkingdotnet.com/how-to-increase-file-upload-size-asp-net-core/

[2019-02-07 15:58] antoinne85 commented on #2253
FWIW, we implemented the same liveness check but then subsequently manage to fix the issue altogether in our deployment.

For us, we had a service client that was using `HttpClient` internally. The class was getting instantiated for each incoming request by the DI container (resulting in a new `HttpClient` for each incoming request). We changed the way the client was registered such that it is onl

[2019-02-07 17:13] MattMcL4475 commented on #2149
Same issue on latest version of [Linux Mint](https://en.wikipedia.org/wiki/Linux_Mint); this solved it: https://github.com/dotnet/core/issues/2149#issuecomment-447323609

[2019-02-08 01:19] montella1507 opened #2292 ".NET Core Preview 3 corrupting Visual studio"
# General
We should be able to use several .NET Core versions side by side. Here is my last experience with that.

- Visual studio 2017 (no 2019 preview)
 - installed  3.0-preview-2 https://dotnet.microsoft.com/download/dotnet-core/3.0

# Result
- Visual Studio 2017 CANNOT open any Web project. It is "Load Failed". When you try to reload, you will get error "Obejct reference not set to an instance

[2019-02-08 01:24] montella1507 commented on #2292
Seversal logs in Event viewer:
[code]

[code]

[2019-02-08 01:26] montella1507 commented on #2292
[code]

[2019-02-08 08:25] ondrejspilka opened #2293 ".NET Core WebApp System.BadImageFormatException"
# Issue Title

App targeting .NETCore 2.2.1  deployed on Azure WebApps give error System.BadImageFormatException

# Description
========

x64 targeting .NET Core 2.2 in Publish profile.
Published from VisualStudio 2017
Locally runs fine.
Web app is exposing
`HTTP Error 502.5 - Process Failure`

In logs we see:
`Unhandled Exception: System.BadImageFormatException: Could not load file or assembly 'D

[2019-02-08 11:52] sansjunk opened #2294 "BadImageFormatException: System.Security.Permissions"
This exception is thrown during build when the LicenseCompiler is run to generate a license for the component. The project is multi-target and it works fine for net40 target, issue only happens for netstandard2.0 build. Below is the full error details.

[code]

[2019-02-08 14:26] GuitarLennon opened #2295 "DbSet.ToList() throwing Index Out of Range Exception"
Calling ToList on DbSet throwing ArgumentOutOfRangeException on .net core 2.2

working fine on 2.1

An unhandled exception occurred while processing the request.
[code]

[2019-02-08 16:59] ajcvickers commented on #2295
@GuitarLennon Can you please post a small, runnable project/solution or complete code listing that reproduces the behavior you are seeing so that we can fully investigate.

[2019-02-10 07:21] mammadkoma opened #2297 "error in dotnet aspnet-codegenerator razorpage -m Movie -dc AppDbContext -udl -outDir Pages\Movies --referenceScriptLibraries"
Hi

I run these commands:
dotnet add package Microsoft.EntityFrameworkCore.SQLite
dotnet add package Microsoft.VisualStudio.Web.CodeGeneration.Design
dotnet add package Microsoft.EntityFrameworkCore.Design
dotnet tool install --global dotnet-aspnet-codegenerator

My web app Project v 2.2.101 start correctly but _dotnet aspnet-codegenerator razorpage -m Movie -dc AppDbContext -udl -outDir Pages\Mov

[2019-02-10 07:33] mammadkoma commented on #2297
oooooooooooooooooooooooo
I deleted all files and folders in my user folder (C:\Users\sap-komaei.CII\.dotnet)
Then run _dotnet tool install --global dotnet-aspnet-codegenerator_ agin
Now scaffolding worked for movie.

[2019-02-11 06:12] JeremyCaney commented on #758
The idea of replacing the legacy FXCop tooling built into Visual Studio with the NuGet package makes good sense to me. That said, ideally, developers wouldn’t need to Google this error and find this thread to understand the problem. Instead, the tooing should detect the incompatibility and suggest the upgrade path to the user. (Fully recognizing that this level of tooling is likely outside the sco

[2019-02-11 07:24] MelbourneDeveloper commented on #758
This article seems pretty relevant:

https://docs.microsoft.com/en-us/visualstudio/code-quality/fxcop-analyzers-faq?view=vs-2017

[2019-02-11 08:47] MelbourneDeveloper commented on #758
@Petermarcu

I just added the FX Cop Analyzers NuGet package to my project, and I can see that it does add new errors to the build output. So, I promoted warning to errors, and I get similar errors to those that used to exist in the Visual Studio code rules in the old csproj format, but the issue at first glance is that I can't choose which errors to turn on or off. I have to type them in the supp

[2019-02-11 12:30] SCTIT opened #2298 "socket.Send() throw a socket exception ErrorCode:95 on linux"
I'm setting up a linux server,but my application always throw an exception "System.Net.Sockets.SocketException(95): Operation not supported.The same code can run on Windows Server perfectly.
Here is the part of my code :
private void OnClientReceive(IAsyncResult ar)
{
        try
        {
            Socket socket = ar.AsyncState as Socket;
            SocketError error;
            int size = th

[2019-02-11 14:59] dskow commented on #2263
Since it requires VS 2019 preview,  why isn't this in the visual studio Installer for VS2019 preview.  I'm using version 2.0.1184.128 of the visual studio installer.

[2019-02-11 21:22] ranjeshj opened #2299 "Build error on arm64 - BindingFlags not found"
# Issue Title

BindingFlags not found when building for arm64. CS7069: Reference to type 'BindingFlags' claims it is defined in 'System.Reflection', but it could not be found

# General

When building for arm64, we get a build error for BindingFlags
CS7069: Reference to type 'BindingFlags' claims it is defined in 'System.Reflection', but it could not be found

The same code builds find for other c

[2019-02-12 08:59] Gulcitai opened #2300 "Unstable behavior of calling SOAP Service"
# Issue Title

 Calling of SOAP Service from time to time fails with error "Async method is not suppported on this proxy"

# General
Hello
I've implemented a SOAP service client with .Net  Cor 2.1 . Proxy has been generated as connecte service
![image](https://user-images.githubusercontent.com/15212112/52623559-aac14400-2ebd-11e9-83ad-b19cb7d0aeef.png)

The client works mostly fine , but from time

[2019-02-12 11:12] jigarce opened #2301 "Cannot find compilation library location for package 'Microsoft.AspNet.WebApi.Client'"
# InvalidOperationException: Cannot find compilation library location for package 'Microsoft.AspNet.WebApi.Client'

I have uploaded .NET core 2.1 website on AWS .

Installed framework 4.7 and Dot net core framework 2.2 from https://dotnet.microsoft.com/download

Website URL : http://ec2-13-127-52-63.ap-south-1.compute.amazonaws.com/login

not able to found why it is giving error for the package

R

[2019-02-12 14:16] #2301 closed

[2019-02-12 14:35] jaydeept opened #2302 "Getting error in .Net Core 3 - preview while creating Form from Visual Studio 2019"
While creating a Form in Visual Studio 2019 with .Net Core 3 preview, I am getting below error:

[code]

[2019-02-12 14:59] WaqarAzeem commented on #1678
I created two projects

1. ASP.NET Core Web Application | Core 2.2
2. ASP.NET Web Application (.NET Framework) | .Net 4.6.1

In my test controller, I used an exported function from a 32-bit unmanaged DLL, using [DllImport("Testing.DLL")]
Copy that 32-bit native DLL file in both the project folders
Run as “Any CPU” on my Windows 64-bit Windows 10 with IIS Express

Only the project created in Core 2

[2019-02-12 17:49] ondrejspilka commented on #2293
If anyone is interested in the solution - cleanup the site from all .NET core 2.0.0 files, then publish.

[2019-02-12 17:49] #2293 closed

[2019-02-12 18:26] leecow opened #2304 ".NET Core February Update - 1.0.14, 1.1.11, 2.1.8 and 2.2.2"
Included fixes address security issues detailed in the release notes.

## .NET Core

* **.NET Core 1.0.14 and .NET Core SDK 1.1.12**
  [Release Notes](https://github.com/dotnet/core/blob/master/release-notes/1.0/1.0.14/1.0.14.md)
  [Download 1.0](https://dotnet.microsoft.com/download/dotnet-core/1.0)

* **.NET Core 1.1.11 and .NET Core SDK 1.1.12**
  [Release Notes](https://github.com/dotnet/core/

[2019-02-12 19:44] tjeason commented on #2304
On Ubuntu 16.04, _aspnetcore-runtime_ 2.1.8 is missing for the Debian apt package repository.

[code]
This is failing for the 2.1.8 .Net Core Release.

[2019-02-12 20:00] tjeason commented on #2304
This missing _aspnetcore-runtime_ for 2.1.8 release is resolved for Ubuntu 16.04. Mentioned in https://blogs.msdn.microsoft.com/dotnet/2019/02/12/net-core-february-2019/#comment-741405

[2019-02-12 21:47] leecow commented on #2210
Closing this release discussion issue in favor of https://github.com/dotnet/core/issues/2304

[2019-02-12 21:47] #2210 closed

[2019-02-12 21:48] leecow commented on #2134
Closing this release discussion issue in favor of https://github.com/dotnet/core/issues/2304.

[2019-02-12 21:48] #2134 closed

[2019-02-12 21:48] leecow commented on #2098
Closing this release discussion issue in favor of https://github.com/dotnet/core/issues/2304.

[2019-02-12 21:48] #2098 closed

[2019-02-12 21:49] leecow commented on #1990
Closing this release discussion issue in favor of https://github.com/dotnet/core/issues/2304.

[2019-02-12 21:49] #1990 closed

[2019-02-12 21:52] leecow commented on #2289
@juniormayhe - the corresponding SDK for this release is 2.1.202. Let us know if that's not what you're seeing.

[2019-02-12 21:52] #2289 closed

[2019-02-12 21:53] Rutix commented on #2304
@leecow Some links in the opening post are wrong. The link for .NET Core 2.1.8 release notes should be: https://github.com/dotnet/core/blob/master/release-notes/2.1/2.1.8/2.1.8.md and not https://github.com/dotnet/core/blob/master/release-notes/2.1/2.1.7/2.1.8.md

And for .NET 2.2.2:
https://github.com/dotnet/core/blob/master/release-notes/2.2/2.2.2/2.2.2.md and not https://github.com/dotnet/core/

[2019-02-12 22:02] leecow commented on #2304
Thanks @Rutix - fixed.

[2019-02-13 09:21] DMEvans commented on #2252
I had this same problem attempting to build a Roslyn analyzer solution which uses .NET Standard 1.3.  I was using the default NuGet version chosen by Azure DevOps, which was 4.1.0.

I added the "NuGet Tool Installer" task to the start of my build pipeline with and specified the version as "4.x" and ticked the box for "Always download the latest matching version".  My build is now working successfu

[2019-02-13 10:56] PolitovArtyom commented on #2304
Installing 2.1.8 hosting bundle or SDK breaks AspNetCore 2.1.7 apps

Application: dotnet.exe
CoreCLR Version: 4.6.27317.3
Description: The process was terminated due to an unhandled exception.
Exception Info: System.IO.FileLoadException: Could not load file or assembly 'Microsoft.AspNetCore, Version=2.1.7.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'. The located assembly's manifest definit

[2019-02-13 11:42] kieronlanning commented on #2304
Using 2.2.104 SDK in Azure DevOps .NET Core Tool Installer fails because it's not in the releases.csv.

When will that be added?

[2019-02-13 13:28] martincostello opened #2307 "Inconsistencies in releases.json format for 2.2.2?"
# Inconsistencies in releases.json?

We've recently wrote some automation as part of our EC2 AMI image provisioning to automate downloading the relevant versions of .NET 2.1 and 2.2 from the new `releases.json` files.

However, this automation has failed to find 2.2.2 this morning because the file names don't match the convention we assumed would be used that held true for 2.2.0 and 2.2.1.

For ex

[2019-02-13 13:47] martincostello commented on #2307
The same inconsistencies are in the older file format too:

2.2.1:

https://github.com/dotnet/core/blob/0a53ce5d8b0700dd8db0784c208bfb8db47a42d4/release-notes/releases.json#L353

https://github.com/dotnet/core/blob/0a53ce5d8b0700dd8db0784c208bfb8db47a42d4/release-notes/releases.json#L366

2.2.2:

https://github.com/dotnet/core/blob/0a53ce5d8b0700dd8db0784c208bfb8db47a42d4/release-notes/releases.js

[2019-02-13 15:22] omajid commented on #2291
Anyone have any pointers or answers? I can try and do a writeup for number 1, but I dont know about 2 and 3 at all.

[2019-02-13 15:41] ltworf commented on #1632
It depends on an old version of libssl that is not in debian buster and will not be part of the next stable release of debian.

Don't ask me why…

[2019-02-13 15:46] juniormayhe opened #2308 "Include Performance evolution of netcore versions on readme or related wiki/site"
Could we have in readme a table follow up the performance evolution of all netcore frameworks 1.x, 2.1.x, 2.2, 3.0?

This would provide a public overview of **netcore performance improvements**.
It can also help us justify a netcore migration in our companies and encourage IT to update netcore frameworks.

In this public readme we could show speed for some common use cases as presented by @stephen

[2019-02-13 15:47] leecow commented on #2307
Thanks for the report @martincostello. The versions in the field names was missed by my validation code. Will get that fixed up right away.

With respect to the Hosting installer, it includes both x86 and x64. Because there are no .NET Core rids which cover that situation, I couldn't decide on a route so left it empty. Perhaps 'win-x86-x64' would be appropriate?