[2021-07-15 14:58] shrinidhi111 commented on #6411
Anyhow, our company has moved onto GoLang. It has an absolutely killer feature that creates low level native binaries across all platforms without any additional runtime needed. Plus the experience of adding modern concurrency to the application has been a breeze. It's the best of both worlds imo.

Although personally, I don't care, management was really not happy making customers install addition

[2021-07-15 15:15] davidfowl commented on #6411
@shrinidhi111 out of curiosity, what types of applications are you building? Command line tools?

[2021-07-15 15:53] shailesh6498 opened #6472 "No templates matched the input template name: blazorserver."
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

No templates matched the input template name: blazorserver.

[2021-07-15 16:06] wfurt commented on #6471
Is there subdirectory with the project? When you create new project it would typically create subdiretory in the current project.

[2021-07-15 17:00] tannergooding commented on #6444
### NativeMemory

We added new native memory allocation APIs exposed via `System.Runtime.InteropServices.NativeMemory`: https://github.com/dotnet/runtime/pull/54006. These APIs represent equivalents to `malloc`, `free`, `realloc`, `calloc` and also includes an API for doing aligned allocations.

[2021-07-15 17:07] chegor0 opened #6473 "Assets/Scripts/GameManager.cs(8,65): error CS1002: ; expected"
// Unity said that i have a 1002 error when i created
// public void CompleteLevel () and Debug.Log("LEVEL WON!");

using UnityEngine;
using UnityEngine.SceneManagement;

public class GameManager : MonoBehaviour {

    bool gameHasEnded = false;

    public float restartDelay = 1f

    public void CompleteLevel ()
    {
        Debug.Log("LEVEL WON!");
    }

    public void EndGame ()
    {

[2021-07-15 18:57] wfurt commented on #6473
There should be ';' after  '1f'. the compiler gives you the line (8) and line position (65) where this should go.
Seems like you did not put in whole file so the numbering seems off in example above.

[2021-07-15 19:00] #6468 closed

[2021-07-15 19:04] wfurt commented on #6470
did you install the SDK? Does it work if you call it with full path from "Program Files" ?

[2021-07-15 23:04] terrajobst commented on #6411
@poke

No, the update speed isn't the problem. We service .NET Core via Microsoft Update.

The problem is that as soon as you bundle a .NET version with the OS, which version are you bundling? Say in Windows 10 we bundled .NET Core 3.1. Now let's say we want to bundle .NET 6 in Windows 11. Does this mean upgrading from Windows 10 to 11 would result in losing .NET Core 3.1? Does Windows 11 come wit

[2021-07-16 03:37] mr-robot01212 opened #6474 "Errors"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
It's showing some errors about Shared does not exists and namespace could not be found

[2021-07-16 03:46] wfurt commented on #6474
Can you provide more details @mr-robot01212? This is not sufficient to triage.

[2021-07-16 07:51] DavidSSL opened #6475 "System.BadImageFormatException: Bad IL Format"
### Description

First off, I am an absolute newbie in the following but here is the problem.

I am following the [example](https://github.com/JasonBock/CompilerAPIBook/blob/main/Chapter%201/Overview/CompileHelloWorld/Program.cs).

and here is the code reproduced to speed things up:

[code]

If the target compilation framework is .NET Framework, this will work no problem. However, if the target co

[2021-07-16 17:01] teromatos commented on #6467
In the [.NET 6.0.0 Preview 6](https://github.com/dotnet/core/blob/main/release-notes/6.0/preview/6.0.0-preview.6.md) page, under Visual Studio Compatibility is states "You need Visual Studio 2019 version 17.0 or later to use .NET 6.0 on Windows.". Is this correct, Visual Studio 2019? I was under impression that version [17.0](https://docs.microsoft.com/en-us/visualstudio/releases/2022/release-note

[2021-07-16 17:28] rbhanda commented on #6467
Thanks @teromatos https://github.com/dotnet/core/pull/6476 is created to fix this

[2021-07-17 00:32] babj57 opened #6478 "Tried the <Counter IncrementAmount="10" /> when following instructions given."
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/modify
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
I tried the instruction using <Counter IncrementAmount="10" /> and I received An unhandled error has occurred. When the c

[2021-07-17 00:41] wfurt commented on #6478
Can you share your code @babj57?

[2021-07-17 09:51] davidbuckleyni opened #6479 "[Spec] WebApi Project Template Add the ability to generate boiler plate code for authorization and Bearer Token"
Most apis cannot do without this day and age but to add a Bearer token to the structure of their web api.

I force an option to be added to the new project screen for webapi. It seems very mundan code having to recreate it each time in a web api project and would create more continuity for the api to be standard.

Checkbox for  Bearer  Tokens

Upon chosen this option the system should be smart eno

[2021-07-17 13:37] jvatec opened #6480 "Could not execute because the application was not found or a compatible .NET SDK is not installed"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows 10 - 21H1

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Command:
dotnet new console -o myApp
Could not execute because the application was not found or a compati

[2021-07-17 16:08] #6449 closed

[2021-07-17 22:29] wfurt commented on #6480
Did you also install dotnet SDK? Can you provide output of `dotnet --info` ?

[2021-07-18 11:00] jvatec commented on #6480
Thank you very much, it has already been solved, it was a mistake of mine, the console was in C: \ Windows \ system32> the years are not forgiving 😉

[2021-07-18 16:36] ShabanaParve opened #6481 "it cannot find the file mymicroservice"
error during connect: This error may indicate that the docker daemon is not running.: Post "http://%2F%2F.%2Fpipe%2Fdocker_engine/v1.24/build?buildargs=%7B%7D&cachefrom=%5B%5D&cgroupparent=&cpuperiod=0&cpuquota=0&cpusetcpus=&cpusetmems=&cpushares=0&dockerfile=Dockerfile&labels=%7B%7D&memory=0&memswap=0&networkmode=default&rm=1&shmsize=0&t=mymicroservice&target=&ulimits=null&version=1": open //./pi

[2021-07-18 19:26] #6480 closed

[2021-07-18 19:47] wfurt commented on #6481
what `docker ps` and `docker ps --all` gives you?

[2021-07-19 02:20] #6447 closed

[2021-07-19 12:45] sri-vathsa commented on #5326
I am facing the same issue. How do I fix this?

[2021-07-19 15:34] wfurt commented on #5326
What is your exact error @sri-vathsa? Do you have any special characters or symbolic links in the path? what `dotnet --info` gives you?

[2021-07-19 17:30] bairog commented on #5567
@JacquelineWiddis @madskristensen @timheuer @mikadumont @richlander .NET 6 Preview 6 [is announced](https://devblogs.microsoft.com/dotnet/announcing-net-6-preview-6/) and it is stated that

But what exactly does it mean? Visual Studio 2022 is tested and supported **in addittion** to Visual Studio 2019?
Is it still possible to develop applications for .NET 6 preview 6 with Visual studio 2019?
Thank

[2021-07-19 19:06] eiriktsarpalis commented on #6450
cc @mairaw

[2021-07-19 21:13] AngeloCresta opened #6482 "Animated Gif - division by zero"
### Description
Binding an animated gif to a picture box will cause a division by zero error

### configuration
VS 2022 P2,. Net Core 6 preview 6 on Windows 10 21H1 (x64)

### Regression?
Worked on. Net 5

### Other information - Stack Trace

CoreCLR Version: 6.0.21.35212
.NET Version: 6.0.0-preview.6.21352.12
Description: The process was terminated due to an unhandled exception.
Exception Info: S

[2021-07-19 21:24] wfurt commented on #6482
should we transfer this to runtime @safern?

[2021-07-19 22:11] safern commented on #6482
Yes. I'll transfer it and since it is a regression I will mark it as 6.0.0

[2021-07-19 22:54] Kikwaya opened #6483 "Le modèle « Console Application » ne peut pas être créé. Failed to create template. Details: Access to the path 'C:\Windows\system32\myApp' is denied.."
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-07-20 03:24] mairaw commented on #6415
Did that solution from @krwq help?

[2021-07-20 03:26] mairaw commented on #6483
This part is on that same page:

![image](https://user-images.githubusercontent.com/12971179/126257063-b574da13-9ca2-4ecd-b810-12d5f47f1fb3.png)

This error message means you cannot create the app on that directory. Try for example going to a different directory, like going to the users directory, and trying again `cd %USERPROFILE%`

Let us know if this worked.

[2021-07-20 05:31] mairaw commented on #5567
You can see in the download page @bairog what's the minimum version of VS supported:
https://dotnet.microsoft.com/download/dotnet/6.0

[2021-07-20 05:32] sri-vathsa commented on #5326
I am trying the hello world program [here](https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create). I get the following error on `dotnet run`
[code]
Just for reference:
logs on `dotnet new console -o myApp`
[code]
and I installed dotnet using the following command
[code]

[2021-07-20 05:47] sri-vathsa commented on #5326
Yes, I only have one dotnet installation.

On doing `cd myApp` and `dotnet build` I am getting a similar error

[code]

[2021-07-20 05:54] wfurt commented on #5326
one more thing:
try to set
[code]

[2021-07-20 06:01] sri-vathsa commented on #5326
The `DOTNET_ROOT` is already set. I set the `DOTNET_MULTILEVEL_LOOKUP` as suggested but I am getting the same error.

[2021-07-20 06:10] bairog commented on #5567
There for example **.NET 6.0.0-preview.5** has some strange VS version **Visual Studio 2019 (v17.0 latest preview)**. Misprint?

**P.S.** According to [Visual Studio 2019 16.11 Preview 2](https://devblogs.microsoft.com/visualstudio/visual-studio-2019-16-11-preview-2/) announce

Please make .NET 6.0 final available both for Visual Studio 2019 version 16.11 and Visual Studio 2022. Visual Studio 2022

[2021-07-20 06:12] wfurt commented on #5326
what is it set to? Can you check?

[2021-07-20 06:13] sri-vathsa commented on #5326
`DOTNET_ROOT` is set to `/home/gitpod/dotnet`

[2021-07-20 06:27] wfurt commented on #5326
I'm wondering @rainersigwald if process name for 'dotnet' gives wrong answer. But the DOTNET_ROOT should fix that, right?

can you please try to run `mount` on your system @sri-vathsa ?

[2021-07-20 07:47] sri-vathsa commented on #5326
What should I mount and at which location?

Btw I am running these commands inside a pod in a Kubernetes cluster(eks)

[2021-07-20 07:49] wfurt commented on #5326
running `mount` without parameters will show existing volumes/mount points.

[2021-07-20 08:08] sri-vathsa commented on #5326
@wfurt Here's the output of mount
[code]

[2021-07-20 10:38] th3rdjet opened #6484 "help"
my .net sdk file doesnt show up on command prompt or visual studio code

[2021-07-20 14:07] #3840 closed

[2021-07-20 14:07] #4077 closed

[2021-07-20 14:07] #4387 closed

[2021-07-20 16:31] wfurt commented on #5326
can you copy `dotnet` binary to /tmp, keep  `DOTNET_ROOT` as is and call `/tmp/dotnet build`?

[2021-07-20 19:10] mairaw commented on #6484
Can you let us know what the command `dotnet --info` shows?

[2021-07-20 19:43] mairaw commented on #5567
@rbhanda can you check on the VS version for .NET 6 preview 5? @bairog is right that there's a mismatch there.

I'll let others on the team chime in about future support plans re. Visual Studio and .NET 6.

[2021-07-20 20:11] rbhanda commented on #5567
https://github.com/dotnet/core/pull/6485 is created to correct the VS support version for .NET 6 Preview 5

[2021-07-20 23:24] mairaw commented on #6472
Can you let us know what's the output of the `dotnet --info` command?

[2021-07-21 00:30] azul29 opened #6486 "My problem: Error CS1525, error CS1002, CS1003."
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/modify
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-07-21 00:34] azul29 commented on #6486
when i  change in the file index.cshtml,cs, to output error CS!525, error CS1525.

[2021-07-21 01:52] mairaw commented on #6486
Can you make sure that you edited the Index.cshtml file and not the Index.cshtml.cs?

[2021-07-21 10:50] m00lecule commented on #6356
Hello, this issue appears again - to reproduce

`docker run mcr.microsoft.com/dotnet/sdk:5.0 sh -c " wget https://packages.microsoft.com/config/debian/10/packages-microsoft-prod.deb && apt-get install -y ./packages-microsoft-prod.deb && apt-get update -y"`

![image](https://user-images.githubusercontent.com/33501567/126477208-9db7f325-e0f4-464b-8922-3de665475ae7.png)

[2021-07-21 10:57] m00lecule opened #6487 "Problems with packages on https://packages.microsoft.com/debian/10/prod/dists/buster/"
### Description

Hello - I just found that issue with https://packages.microsoft.com/debian/10/prod/dists/buster/ on docker reappeared  #6356 #3995

`docker run mcr.microsoft.com/dotnet/sdk:5.0 sh -c "wget https://packages.microsoft.com/config/debian/10/packages-microsoft-prod.deb && apt-get install -y ./packages-microsoft-prod.deb && apt-get update -y"`

![image](https://user-images.githubusercon

[2021-07-21 11:08] m00lecule commented on #3988
reappeared #6487

[2021-07-21 11:56] Dave-EMIS commented on #6487
I'm getting the same issue:

[code]

[2021-07-21 12:26] Meinne1 opened #6488 "tt"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-07-21 13:13] pedropombeiro commented on #6487
+1 experiencing this too, and none of our CI pipelines are able to run anymore. Hoping we can get it fixed soon!

[2021-07-21 13:25] oSumAtrIX commented on #6488
Please provide more details

[2021-07-21 14:41] AGheller commented on #3988
Same problem.

`Err:6 https://packages.microsoft.com/debian/10/prod buster/main armhf Packages
  File has unexpected size (14648 != 14446). Mirror sync in progress? [IP: 104.214.230.139 443]
  Hashes of expected file:
   - Filesize:14446 [weak]
   - SHA512:dcde6b0120201ffd3ce98ccc67a941c82206af4c9f6edacb21dececab859d151b6b05ab9f59c1c7a0215912eccb319a632c26580371f84dfb723f6cfb64ab807
   - SHA256:81

[2021-07-21 14:42] AGheller commented on #6487
Same problem

`Err:6 https://packages.microsoft.com/debian/10/prod buster/main armhf Packages
  File has unexpected size (14648 != 14446). Mirror sync in progress? [IP: 104.214.230.139 443]
  Hashes of expected file:
   - Filesize:14446 [weak]
   - SHA512:dcde6b0120201ffd3ce98ccc67a941c82206af4c9f6edacb21dececab859d151b6b05ab9f59c1c7a0215912eccb319a632c26580371f84dfb723f6cfb64ab807
   - SHA256:812

[2021-07-21 14:44] steveharter commented on #6444
## Serialization notifications and property ordering for System.Text.Json
These features make it much easier to customize the behavior of JSON objects. Previously, this functionality required implementing a custom converter.

Notifications for (de)serialization are useful for defaulting values and validation. To use them, implement one or more of the interfaces `IJsonOnDeserialized`, `IJsonOnDeser

[2021-07-21 14:49] ajuch commented on #6487
I'm wondering why we download the armhf package feeds are downloaded. Since at least our buildserver is an amd64 machine, the armhf package feeds are not needed. Maybe the workaround is adding the apt keys and the amd64 repo only and not using packages-microsoft-prod.deb

But since this is the recommended way to do it, it should work.

[2021-07-21 15:02] AGheller commented on #6487
Yes the packages-microsoft-prod.deb add all architecture, even if the server is amd64.
I change the /etc/apt/sources.list.d/microsoft-prod.list like this
`
#deb [arch=amd64,arm64,armhf] https://packages.microsoft.com/debian/10/prod buster main
deb [arch=amd64] https://packages.microsoft.com/debian/10/prod buster main
`

[2021-07-21 15:40] Immich commented on #6487
Experiencing the same, CI pipeline broken since earlier today

[2021-07-21 16:33] Dave-EMIS commented on #6487
Looks to be an issue with the code in my docker container that is installing .NET 5 SDK, if I remove that I'm OK.

[2021-07-22 02:53] amro93 opened #6489 "Possiblity of supporting nested routing registeration"
Is it possible to implement nested routing registeration,
I believe it will improve the implementation of the Modular patterns, and will reduce the future conflicts

Example:
app.MapRoutes("prefix", (ctx, ...) => {
  ctx.MapGet("home", action);
  ctx.MapModuleRoutes(); // decouple module routes configuration
});

[2021-07-22 06:09] ajuch commented on #6487
Thanks @Dave-EMIS for fiddling with sed :-) On my docker image the microsoft.list file doesn't exist, so this works for me:

[code]

[2021-07-22 06:18] pedropombeiro commented on #6487
This seemed to have gotten fixed without any action on my part a few hours ago.

[2021-07-22 07:39] Dave-EMIS commented on #6487
Yep, same here.

[2021-07-22 11:55] karelz commented on #5713
@JamesNK all work items seem to be addressed now. Should we close it as done?

[2021-07-22 12:34] mprevot opened #6490 ".net core 6 and visual studio version compatibility discrepancies"
### Description
I observed discrepancies in the environment supporting/required for .net 6 development, in particular the preview 5 does not make sense: VS2019 is 16.x, and VS2022 is 17.0, there is not _VS2019 17.0_:

[Preview 4: Visual Studio 2019 version 16.9 preview 4 ](https://github.com/dotnet/core/blob/main/release-notes/6.0/preview/6.0.0-preview.4.md)
[Preview 5: Visual Studio 2019 version

[2021-07-22 12:52] da5407 commented on #200
reference this document

https://docs.microsoft.com/en-us/dotnet/core/additional-tools/dotnet-svcutil-guide?tabs=dotnetsvcutil2x

[2021-07-22 15:04] Jeyyu opened #6511 "[API Proposal]: Creating a platform independent GUI like Java Swing for CoreCLR"
### Background and motivation

**I think it would suit C# good. This feature is the best way to ensure a singlecodebase everywhere CoreCLR runs on. Its also way better to maintain this way. A lot of project where written in Java because of a feature like this.**

There are a lot of alternatives but most of them are wrappers that needs to be updated often/are platform dependent/ none of them are tr

[2021-07-22 16:31] mairaw commented on #6490
Thanks @mprevot. I've created a PR to fix this similar to the changes made in #6485

[2021-07-22 16:34] #6490 closed

[2021-07-22 16:52] #6471 closed

[2021-07-22 17:18] mprevot commented on #6490
I wonder: why was the environment upgraded from VS2019 to VS2022 from preview 4 to preview 5 ? Since net 6 is has long term support, it seems important to have it supported in VS2019 (and net 7, 8 for 2022).

[2021-07-22 17:37] mairaw commented on #6490
@leecow @rbhanda @jamshedd can one of you comment on that change of VS versions for .NET 6?

[2021-07-22 17:54] danmoseley commented on #6444
@tannergooding should there be something about https://github.com/dotnet/runtime/pull/55776 here? although it's a little special.

[2021-07-22 18:15] tannergooding commented on #6444
Yes. I will be adding it and working on the related blog post when I get back from vacation.

[2021-07-22 18:47] JamesNK commented on #5713
DONE

[2021-07-22 18:47] #5713 closed

[2021-07-22 19:52] #6470 closed

[2021-07-22 21:38] jmrfd opened #6492 "Build failed"
C:\Program Files\dotnet\sdk\5.0.302\Sdks\Microsoft.NET.Sdk\targets\Microsoft.PackageDependencyResolution.targets(241,5): error NETSDK1005: Assets file 'C:\myApp\obj\project.assets.json' doesn't have a target for 'net5.0'. Ensure that restore has run and that you have included 'net5.0' in the TargetFrameworks for your project. [C:\myApp\myApp.csproj]

The build failed. Fix the build errors and run

[2021-07-22 23:31] ChrisVicary opened #6493 "EnumConverter.ConvertToString() change in behavior between .Net Framework and .Net 5"
### Description

While upgrading a project from .Net Framework 4.7.2 to .Net 5 and I noticed a difference in behavior of the EnumConverter.ConvertToString() method when passing an integer value that could represent a combination of flags enum values. Here is come code that reproduces the problem:

`
using System;
using System.ComponentModel;

namespace EnumTest
{
	[Flags]
	public enum TestEnum { N

[2021-07-22 23:32] danmoseley commented on #6444
Oops, didn't realize you were on vacation. 😺

[2021-07-23 03:57] #6474 closed

[2021-07-23 04:24] mairaw commented on #6464
Can you let us know the output of `dotnet --info`? Did you install the SDK already?

If you did and it's still not showing when you run `dotnet --info`, I can provide some suggestions.

[2021-07-23 07:59] AKHILMELATH opened #6495 "'DISPLAY' is not recognized as an internal or external command, operable program or batch file."
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-07-23 12:11] jan-oratowski commented on #6487
Still have this problem, but answer from @ajuch fixed it for me.

[2021-07-23 13:30] wadebee commented on #5808
Roland, I am experiencing this same issue. Can you please share your solution?

[2021-07-23 15:10] michaelbuj opened #6496 ".net download issue"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

I click to download x64 .net and it gives me a 404 page

[2021-07-23 15:15] SaiKumar828089 opened #6497 "error while creating microservice"
Error: Invalid parameter(s):
-f net5.0
    'net5.0' is not a valid value for -f (Framework).

[2021-07-23 17:33] mairaw commented on #6496
Thanks for reporting the issue @michaelbuj. Is that still happening?

@rbhanda

[2021-07-23 17:34] mairaw commented on #6497
Can you share what's the output of `dotnet --info` and the entire command that you're using?

[2021-07-23 17:35] mairaw commented on #6495
Hi @AKHILMELATH.
Not sure how you're getting that error message. dotnet is the name of the command, not display. Can you share some screenshots?

[2021-07-23 18:07] mairaw commented on #6496
Also, can you let us know where are you located? We're trying to pin down if this is specific to certain regions.

[2021-07-23 19:52] michaelbuj commented on #6496
i live in north carolina usa.
i got it to work an hour ago but i just checked and it does the same thing, clicking download button takes me to a "404-not found" page.

https://download.visualstudio.microsoft.com/download/pr/474a078c-f415-4bae-8571-2fe8ea37ed51/a8ac1fe825f63411c375633bd98205c4/dotnet-sdk-5.0.302-win-x64.exe

that's the url of the 404

[2021-07-23 19:54] mairaw commented on #6496
Thank you. And I apologize for the inconvenience.

[2021-07-23 22:36] melomelo926 opened #6498 "MyApp is not found"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/edit
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

I follow the instruction and type in dotnet run in the terminal, but I get the error message below:

**Operating System

[2021-07-23 22:44] mairaw commented on #6498
Did you change your directory to your newly created project like we show in https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create? `cd myApp`

[2021-07-23 23:21] mairaw commented on #6445
Maybe delete the folder and start over? Pay attention to the file extension. Windows sometimes hides the file extensions, so it looks like you're editing the cshtml file, when in fact you're editing the .cs file.

[2021-07-24 01:03] #6478 closed

[2021-07-24 01:05] melomelo926 commented on #6498
Thank you, Mairaw!  It works now.  But the time doesn't show up in the terminal even after I save the file many times.  I copy and paste in the code and save the file again, the time still doesn't show up.

[2021-07-24 08:05] mattbrailsford opened #6500 "Problem with multi targeted dependency with code analysers"
### Description
I seem to be having problems with a multi targeted project which has a dependency on Lucene.net.

In the .NET Framework target it has a v3.x dependency on the library where as in the .NET Core target it has a v4.x dependency.

The issue is, the v4.x dependency contains code analysers within it but the v3.x version doesn’t. It seems however if one version has them it expects the oth

[2021-07-24 22:40] hknakata commented on #435
it seems the download links for 5.0.8 for mac is missing again. an HTTP 404 page is shown.

[2021-07-25 03:57] tonmoy1232 opened #6501 "Isp company"
[]( [[](]( @url) [@##Problem](url) encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/edit
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.) # #435 #6500 #435 )

[2021-07-25 07:08] janekska commented on #6381
+1
still the same problem for me too

Used these receipes:
https://docs.microsoft.com/en-us/dotnet/core/install/linux-ubuntu#2004-
and
https://docs.microsoft.com/en-us/dotnet/core/install/linux-ubuntu#apt-troubleshooting

[2021-07-25 07:12] sat1591 opened #6502 "404-Not Found when downloading .NET SDK"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/install
Operating System: windows

I am not able to download .NET SDK file from URL path. Error was 404-Not Found
![image](https://user-images.githubusercontent.com/64651715/126890900-e0be6ea2-34ff-4941-88ad-c39cc28a078d.png)
![image](https://user-images.githubusercontent.com/64651715/126890918-8234929c-e307-4495-90fe

[2021-07-25 07:25] mairaw commented on #6502
Hi @sat1591, our apologies for the incovenience. I'll close this as a duplicate of #6496. There's a team of engineers investigating the issue.

[2021-07-25 07:25] #6502 closed

[2021-07-25 11:08] mattbrailsford commented on #6500
In case it matters, I will point out that in my actual project, Lucene is a transitive dependency. My project has a dependency on Umbraco CMS (v8 for net framework and v9 for net core) which it in turn depends on Lucene.NET.

[2021-07-25 13:24] temur1ka opened #6503 "dear microsoft,i have big problem"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Failed to load the dll from [C:\Program Files\dotnet\host\fxr\5.0.8\hostfxr.dll], HRESULT: 0x80070057
The library h

[2021-07-25 14:25] Rorosemaryfrann opened #6504 "Stuck in spincube tutorial"
Problem encountered on https://dotnet.microsoft.com/learn/games/unity-tutorial/modify
Operating System: windows
Im using unity and visual studio

Im doing a tutorial and I cant seem to get past this one coding part, I keep trying but I cant seem to get the rotate amount to come up
This is what I have, where did I mess up? Im a beginner

[code]

[2021-07-25 16:55] StevenTCramer commented on #6346
After a recent windows update I too see the same thing.

[code]

[2021-07-26 07:15] titanix opened #6505 "IncludeNativeLibrariesForSelfExtract includes XML and other files into output binary"
### Description

I'm building a command line tool and want a single executable. Since `PublishSingleFile` does *not* publish a single file (seriously...), I found on the web that the additional `IncludeNativeLibrariesForSelfExtract` property is required.

The project has 4 data files in a `data` folder with property `CopyToOutputDirectory` set to `PreserveNewest`.

#### Issue

The problem is that

[2021-07-26 07:34] Nisden commented on #6496
We are seeing the same issue while downloading the latest .NET Core SDK on Azure DevOps using [Use .NET Core](https://docs.microsoft.com/en-gb/azure/devops/pipelines/tasks/tool/dotnet-core-tool-installer?view=azure-devops)

[code]

We started observing this issue Friday at 11:53 CEST

[2021-07-26 07:52] revanmj commented on #6496
Interesting thing, downloads works fine in Firefox for me, but fail with 404 in Chrome and Edge.

[2021-07-26 08:00] Nisden commented on #6496
Its an intermittent issue. About a third of our build's fail with this issue.

[2021-07-26 08:33] titanix commented on #6505
Problem does not arise on the following configuration:

Dotnet 5.0.203
MacOS Catalina (10.15.7)
x64

[2021-07-26 08:40] olumideo opened #6506 "Error code 1 during build"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/modify
Operating System: windows
Editor used: VSCode

Everything worked until the step where the index.cshtml file was to be updated:
![image](https://user-images.githubusercontent.com/6344318/126959736-ed6c4e4e-cb61-4f1e-bb8a-db86d98bc952.png)

[2021-07-26 09:04] ShabanaParve commented on #6481
Dear Tomas,

I have put that task on parked. So I cannot remember right now. However, I
really appreciate your prompt response.

Best Regards,
Shabana

On Mon, 19 Jul 2021 at 01:17, Tomas Weinfurt ***@***.***>
wrote:

[2021-07-26 09:39] Srikarjvgeico opened #6507 "Error while deploying docker image into AKS cluster"
HI Team,

I am getting below error in docker.yaml file while deploying docker image into AKS cluster.

**error: error parsing deploy.yaml: error converting YAML to JSON: yaml: line 14: did not find expected key**

[2021-07-26 10:05] maftieu commented on #6496
Same here on Azure DevOps pipelines, with 3.1.411 for Linux => https://download.visualstudio.microsoft.com/download/pr/c7afc344-acf0-4a6c-8e53-4455f2bcfc85/321418f6300e475f6c5d52849efa2e2e/dotnet-sdk-3.1.411-linux-x64.tar.gz
Sometimes download succeed; sometimes it fail.

This morning, from my laptop, I was having 404 on 2 browsers ; download OK on 1 other. I think one of the download server behin

[2021-07-26 16:38] #6464 closed

[2021-07-26 16:38] #6473 closed

[2021-07-26 16:38] tarekgh commented on #6444
## Introducing System.Diagnostics Propagators

[Developers will be able to control how distributed tracing information is propagated](https://github.com/dotnet/runtime/issues/50658)

Introduced `DistributedContextPropagator` abstract class which determines if and how distributed context information is encoded and decoded as it traverses the network.
The encoding can be transported over any network

[2021-07-26 18:16] danmoseley commented on #5658
@terrajobst ? I don't see the list of repos in the themesof repo, so I'm guessing it's local to your app.

[2021-07-26 18:37] bishal-pdMSFT opened #6508 ".NET download links in releases.json files are broken"
### Description
.NET SDK and runtime download links mentioned in [releases.json](https://github.com/dotnet/core/blob/main/release-notes/releases-index.json) are not working. For example: https://github.com/dotnet/core/blob/main/release-notes/releases-index.json fails with 404 error.
This is causing azure pipelines tasks to fail as it takes dependency on this file.

cc @leecow

### Regression?

Yes

[2021-07-26 18:39] bishal-pdMSFT commented on #6508
The **http** url seems to work fine: http://download.visualstudio.microsoft.com/download/pr/c7afc344-acf0-4a6c-8e53-4455f2bcfc85/321418f6300e475f6c5d52849efa2e2e/dotnet-sdk-3.1.411-linux-x64.tar.gz works

[2021-07-26 18:41] mairaw commented on #6508
We're investigating some 404 issues. I think it depends where the pipeline is configured. Some folks are also having trouble the link directly. This seems like a duplicate of #6496.

[2021-07-26 18:50] bishal-pdMSFT commented on #6508
I was wrong about http working fine. Even https works fine intermittently. So indeed looks like an issue with CDN servers.

@mairaw is there an ETA on this issue? This may potentially start impacting azure pipelines for large number of customers.

[2021-07-26 18:51] aressler38 commented on #6496
I am having the same problem on Azure DevOps pipelines.

[code]

If I try to go to the link in my browser, it downloads fine. https://download.visualstudio.microsoft.com/download/pr/c7afc344-acf0-4a6c-8e53-4455f2bcfc85/321418f6300e475f6c5d52849efa2e2e/dotnet-sdk-3.1.411-linux-x64.tar.gz

[2021-07-26 18:52] danmoseley commented on #6444
When mentioning the improvement to Globalization Invariant Mode above it might be an opportunity to note the breaking change https://github.com/dotnet/docs/issues/24849

[2021-07-26 19:09] tarekgh commented on #6444
@danmoseley the doc I linked is the published breaking change doc.

[2021-07-26 19:50] danmoseley commented on #6444
@tarekgh ah my bad, I had forgotten they were both in the same breaking change doc.

[2021-07-26 20:39] adrianwyatt commented on #6508
Dupe: https://github.com/microsoft/azure-pipelines-tasks/issues/15086

[2021-07-26 20:40] adrianwyatt commented on #6496
Dupe issue: https://github.com/microsoft/azure-pipelines-tasks/issues/15086

[2021-07-26 21:07] mairaw commented on #6508
I'll close this one then since we have at least two issues covering the same problem and the team is aware of this. Didn't get an ETA from this yet.

[2021-07-26 21:07] #6508 closed

[2021-07-26 21:09] mairaw commented on #6503
Hi @temur1ka, can you confirm what is your Windows version?
Depending on your version, you might need to install some additional dependencies:
https://docs.microsoft.com/en-us/dotnet/core/install/windows?tabs=net50#additional-deps

[2021-07-26 21:09] mairaw commented on #6501
Can you provide more details about your issue?

[2021-07-26 21:11] mairaw commented on #6498
make sure you're saving and running from the same folder. Maybe share some screenshots of the file location and you running the command for us to see what's going on.

[2021-07-26 21:11] mairaw commented on #6506
@danroth27 any suggestions here?

[2021-07-26 21:12] mairaw commented on #6506
@olumideo can you share what are the build errors?

[2021-07-26 21:48] sam-wheat commented on #4412
Like the person who wrote [this ticket](https://stackoverflow.com/questions/60741863/net-core-3-1-worker-service-set-environmentname-on-publish) I'm trying to publish a windows service and get the environment right.

I'm back where I was a year ago when I wrote [this issue](https://github.com/dotnet/aspnetcore/issues/21310).

With regard to the answer posted on the StackOverflow ticket cited above

[2021-07-26 22:58] kyeondiscord commented on #6496
Trying to download anything from https://dotnet.microsoft.com/download/dotnet/5.0 gives a 404 error

[2021-07-26 23:06] richlander opened #6509 ".NET Download Site Outage"
## .NET Download Site Outage

The .NET download site -- download.visualstudio.microsoft.com -- is currently experiencing a partial outage. There are reports from users from around the world who are experiencing 404 responses when downloading .NET installers (`.msi`, `.tar.gz`, ...). This includes downloading the .NET SDK with the [.NET Core Task](https://docs.microsoft.com/azure/devops/pipelines/t

[2021-07-26 23:19] mairaw commented on #6496
Announcement link: https://github.com/dotnet/announcements/issues/192

[2021-07-26 23:53] mairaw commented on #6496
Folks, let me know if you're still seeing the issue. The team has pushed a fix and I'd like to confirm things are working again for everyone.

[2021-07-27 00:30] BamboozeledFox commented on #6496
@mairaw when manually clicking on a link it works but my DevOps pipeline is still failing with a 404.

[code]

[2021-07-27 01:22] mairaw commented on #6492
Can you let us know what `dotnet --info` returns and the contents of your myApp.csproj file?

[2021-07-27 03:41] #6415 closed

[2021-07-27 03:41] #6483 closed

[2021-07-27 06:54] maftieu commented on #6496
I've tested to download multiple times the same file as yesterday, and all downloads were fine.

[2021-07-27 16:05] JVarga3 opened #6510 "WCF Debugger Issue with Client"
Hello,

[Reference issue](https://github.com/dotnet/wcf/issues/4363#issuecomment-734390712)
I linked to a comment on a referenced issue as its the only comment I could find that mentions the problem I am finding. Just like gmihaescu says, if I use the debugger to look at a created WCF client I get a Channel and InnerChannel error and the client is faulted. BUT if I don't look at the serviceClient

[2021-07-27 18:13] safern commented on #6481
@ShabanaParve thank you for the update. If you could provide us with more info that @wfurt requested, it would be very helpful to move this issue forward.

[2021-07-27 18:14] safern commented on #6484
also, it would be very helpful if you could share what `.NET SDK` you expected to show in that information vs what you actually see.

[2021-07-27 18:16] safern commented on #6487
@richlander seems to be fixed per some responses, but do you know who usually handles these kind of issues?

[2021-07-27 18:17] safern commented on #6489
cc: @Pilchie

[2021-07-27 18:18] safern commented on #6496
@mairaw this seems to have been mitigated, should we close this issue?

[2021-07-27 18:25] safern commented on #6500
Hello @mattbrailsford. Thanks for reporting the issue, this seems like a duplicate of: https://github.com/dotnet/sdk/issues/18148.

This issue was fixed on: https://github.com/dotnet/sdk/pull/18877 -- and the fix should be available with any .NET 6 Preview 7 SDK, the official Preview7 SDK will come out in a few weeks, however you can install one of our daily builds yourself if you would like to be

[2021-07-27 18:25] #6500 closed

[2021-07-27 18:30] safern commented on #6504
Thank you @Rorosemaryfrann for sharing you experience. @mairaw can you help here?

[2021-07-27 18:36] safern commented on #6507
Hello, @Srikarjvgeico thank you for reporting the issue. Would you mind sharing an example of your docker.yaml file? It seems like the YAML syntax is somehow wrong based on the error.

[2021-07-27 18:37] mattbrailsford commented on #6500
Ahh, fantastic!

Thank you for the clarification that it’s already been resolved. That’s great news. 🙌🏻

[2021-07-27 19:41] mairaw commented on #6504
Hi @Rorosemaryfrann!

I think there were some steps missed in the tutorial.

So the tutorial shows the initial script which should look like this:

[code]

Then the additional steps tell you to add a public field and update the Update() method. So your final code should look something like this:

[code]

Let me know if this works and if there's something we could change to make this more clear.

[2021-07-27 19:42] mairaw commented on #6496
Yes, we can close this now.

[2021-07-27 19:42] #6496 closed

[2021-07-27 19:43] mairaw commented on #6509
Should we close this now @richlander?

[2021-07-27 19:47] #6484 closed

[2021-07-27 21:48] #6509 closed

[2021-07-27 23:48] #6472 closed

[2021-07-28 01:59] melomelo926 commented on #6498
Hi Mariaw,

Thank you for your answer!!  I have another question.  If I cannot see the applications or the contents in the development, QA, and production environments, what impersonate user utilities I can use?  Is it a must to install SQL server management?

[2021-07-28 02:49] #6486 closed

[2021-07-28 09:06] nuno-barreiro commented on #3798
Same happened to me. Had Box installed. After uninstall and machine restart, it started working.

[2021-07-28 09:59] ycrumeyrolle commented on #6509
download.visualstudio.microsoft.com is still down from Europe

[2021-07-28 10:39] endepointe commented on #5052
![deliss](https://user-images.githubusercontent.com/30739491/127308482-1cfca6cd-48f1-4948-a6ee-f5d62a2da78e.png)
![deliss2](https://user-images.githubusercontent.com/30739491/127308490-d4077dd4-1d60-4639-bf01-d15d02fc59cf.png)
I am using windows 10, os build 19042.1110, Windows Feature Experience Pack 120.2212.3530.0

Visual Studio Code has the most up to date version yet warnings still appear wit

[2021-07-28 14:14] richlander commented on #6487
I'll ensure the right people are aware of this outage.

I apologize to anyone affected by the outage.

[2021-07-28 14:14] #6487 closed

[2021-07-28 14:22] janvorli commented on #6444
### W^X (write xor execute) support for all platforms and architectures
The runtime now has a mode in which it doesn't create any memory pages that are writeable and executable at the same time. All executable memory is mapped as read-execute only. This was already supported on macOS ARM64 before preview 7, because it is not allowed to create memory mappings that are writeable and executable at th

[2021-07-28 16:00] dleeapho commented on #6487
@NikolaMilosavljevic PTAL cc @jamshedd

[2021-07-28 16:18] bartonjs commented on #6444
### Simplified call patterns for cryptographic operations

The .NET encryption and decryption routines were designed around streaming, with no real concession for when the payload is already in memory.  The new Encrypt- and Decrypt- methods on `SymmetricAlgorithm` accelerate the already-in-memory case, and are intended to provide clarity to the caller and the code reviewer.  Additionally, they sup

[2021-07-28 16:22] mairaw commented on #5052
/cc @danroth27 for FYI

[2021-07-28 16:23] mairaw commented on #6509
Let me check with the team. What are you trying to download just so we can have a repro?

[2021-07-28 17:53] #6488 closed

[2021-07-28 18:38] steveharter commented on #6444
## System.Text.Json.Nodes.JsonNode support for `dynamic` is removed.

As discussed in https://github.com/dotnet/runtime/issues/53195, the "dynamic" feature in C# is considered somewhat stale and adding a dependency to a new `JsonNode` API (which was added in Preview 4) is not considered a good practice.

If a newer, more modern version of "dynamic" is introduced, this support will be reconsidered.

[2021-07-28 22:04] jamshedd commented on #6487
@rbhanda, have we seen any further reports of this?

[2021-07-28 22:47] danroth27 commented on #5052
@endepointe What version of .NET are you using and what version of the C# extension do you have installed?

[2021-07-29 00:12] endepointe commented on #5052
C# Extension version: 1.23.13
Host .NET version: 5.0.8

[2021-07-29 05:06] danroth27 commented on #5052
@endepointe If you update the C# extension to version 1.23.14 does it resolve the issue?

[2021-07-29 06:50] endepointe commented on #5052
Unfortunately, it did not.

![uddel](https://user-images.githubusercontent.com/30739491/127445164-046c0bcf-166c-4634-ac5f-37a950558bbf.png)

[2021-07-29 08:49] ycrumeyrolle commented on #6509
Looks good now.
I was trying to download http://download.visualstudio.microsoft.com/download/pr/acfc792d-506b-4868-9924-aeedc61ae654/0c9b1333f4e013af5cd3b7278e7d85a335d807467bec5ba9782f205af9f7e480/vs_Enterprise.exe
From https://visualstudio.microsoft.com/thank-you-downloading-visual-studio/?sku=enterprise&rel=16

[2021-07-29 12:22] bairog commented on #5567
I perfectly understand (at least it looks like this) that Microsoft plans to release Visual Studio 2019 version 16.11 (the last one) sometime in August-September, and then concentrate all its efforts on polishing Visual Studio 2022 and .NET 6 until their joint final release in November.
And most likely the final version of Visual Studio 2022 by November will have more features and tooling regardin

[2021-07-29 19:31] daniel2141locked2141outlook2141 opened #6514 "dotnet command does not work"
Problem encountered on dotnet command
Operating System: windows 10
It said 'dotnet' is not recognized as an internal or external command,
operable program or batch file.

[2021-07-29 19:35] mairaw commented on #6514
What error are you getting @daniel2141locked2141outlook2141?

[2021-07-29 19:37] daniel2141locked2141outlook2141 commented on #6514
The error says 'dotnet' is not recognized as an internal or external command,
operable program or batch file.

[2021-07-29 21:48] jbaez001 commented on #4758
Looks like "Summary" page of the installer tells you where it's being installed at. The 1st post for example, has a picture that shows that the installation was done in /usr/local/share/dotnet -- which matches what I have locally from a recent install. I added that locally to my PATH exports & good to go.

[2021-07-29 21:54] juliandivakaran opened #6516 "when try to install .net framwork on my ubuntu 20.04 i got this error! anyone can help me?"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: linux

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-07-29 21:58] safern commented on #6516
Hello @juliandivagaran12, could you please share the error you got and as much details as possible?

[2021-07-29 22:42] juliandivagaran12 commented on #6516
" 'dotnet' is not recognized as an internal or external command"
Sorry, I forgot to mention the problem. Now the problem is solved

[2021-07-29 23:20] safern commented on #6516
Thanks for confirming. Will close the issue.

[2021-07-29 23:20] #6516 closed

[2021-07-29 23:21] safern commented on #6514
@daniel2141locked2141outlook2141 could you check if `dotnet.exe` is installed under `C:\Program Files\dotnet\`?

[2021-07-29 23:23] juliandivakaran commented on #6516
Thanks for your support 🤝

[2021-07-30 00:57] danroth27 commented on #5052
@endepointe Thanks for checking that! To diagnose what's going on, please use the "Razor: Report an issue" command in VS Code and follow the instructions to collect the relevant diagnostic info and create a new issue so that we can investigate.

[2021-07-30 01:10] daniel2141locked2141outlook2141 commented on #6514
I don’t have it!

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Santiago Fernandez ***@***.***>
Sent: Thursday, July 29, 2021 7:21 PM
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [dotnet/core] dotnet command does not work (#6514)

@daniel2141locked2141outlook2141<https://github.com/daniel2141locked2141outlook2141> could you check if dotnet.exe

[2021-07-30 01:39] safern commented on #6514
So that is the reason why you are getting that error. You will need to install the dotnet SDK, you can do that from: https://dotnet.microsoft.com/download

[2021-07-30 04:03] mairaw commented on #6514
The tutorial points to the correct download you should get. Take a look at that.

[2021-07-30 08:18] vlada-shubina commented on #6444
## .NET 6 C# project templates use latest language idioms

https://github.com/dotnet/templating/issues/3359

We updated .NET SDK templates to use latest C# language idioms when creating the project targeting .NET 6 framework.
The following language features will be used or enabled by default in the SDK-included project templates as applicable:
- Top-level statements
- Global using directives (via

[2021-07-30 08:44] iRon7 opened #6517 "Change the return type of `IDictionary.Keys` to `IList`"
## [#15843 Ordered Dictionary keys are not numerically indexable](https://github.com/PowerShell/PowerShell/issues/15843)

Just to formalize a .Net request originated from a PowerShell issue (The impact is low and I do have several workarounds):

### Steps to reproduce

Indexing keys in a hash table does make much sense as the keys are unordered by design.
But are expected to work on an [`[ordered]

[2021-07-30 09:39] svick commented on #6517
This would be a significant [breaking change](https://github.com/dotnet/runtime/blob/main/docs/coding-guidelines/breaking-changes.md), i.e. any assembly that used this member would stop working on a newer version of the runtime. As such, I seriously doubt this change would be considered.

[2021-07-30 15:00] iRon7 commented on #6517
I was afraid of that and I am not able to oversee the impact here.
From my view (as a PowerShell scripter) the impact appears low. PowerShell is basically loosely language, the current implementation (returning a `OrderedDictionaryKeyValueCollection` type) is quite useless (in PowerShell). Besides, as PowerShell normally unrolls collections anyways, It probably won't break any existing PowerShell

[2021-07-30 15:26] svick commented on #6517
I'm not too familiar with PS, but would changing just the implementation, by making `OrderedDictionaryKeyValueCollection` implement `IList` help? Because that wouldn't be a breaking change at all, and so should have a much better chance of being accepted.

[2021-07-30 15:40] iRon7 commented on #6517
@SeeminglyScience, sorry for reaching out to you...
Can you confirm that making `OrderedDictionaryKeyValueCollection` implement `IList` fixes the issue in PowerShell?

[2021-07-30 16:14] jamshedd opened #6518 ".NET Core Runtime and SDK installations need to be easily detectable from third party apps/installers"
The only means of detecting whether a certain version of .NET Core (runtime or SDK) is installed is by running dotnet --info and parsing the output. This is also not reliable since it basically enumerates the folders that are present without answering whether the product itself is correctly installed.

We need a robust way for customers to detect in their apps or installers whether a certain minim

[2021-07-30 16:42] bartonjs commented on #6517
Changing the return type of `IDictionary.Keys` would make every existing compiled .NET program (C#, F#, VB, etc) that used it fail with a MissingMethodException (generally when the calling method gets JITted).  It's pretty much a "nope, not gonna happen".

It looks like OrderedDictionaryKeyValueCollection could be an IList without too much effort.  That would help in certain cases (such as the Sys

[2021-07-30 16:48] SeeminglyScience commented on #6517
Yep PowerShell that would enable indexing in PowerShell

[2021-07-30 18:25] #6495 closed

[2021-07-30 18:25] #6497 closed

[2021-07-30 23:25] #6445 closed

[2021-07-31 10:35] Khingss0209 opened #6519 "can't install c# in command prompt"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

can't go anywhere from "dotnet new console -o myApp"
it will pop up red word said
Creating this template will make

[2021-07-31 11:19] armin555 commented on #6519
It seems like you have already a Project created with the same name (or it created automatically). So you can just open that one, create one with another name instead or force to create a new one with same name by appending "--force" to the command.

[2021-07-31 15:17] RamuBeela opened #6520 "dotnet install error"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-07-31 15:59] safern commented on #6520
Hello, @RamuBeela could you please share the error you got?

[2021-07-31 19:49] samifares opened #6521 "samifares"
Problem encountered on https://dotnet.microsoft.com/learn/games/unity-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-07-31 23:35] Yuriccs opened #6522 "Failed to load the dll"
Failed to load the dll from [C:\Program Files (x86)\dotnet\host\fxr\5.0.8\hostfxr.dll], HRESULT: 0x800700C1
The library hostfxr.dll was found, but loading it from C:\Program Files (x86)\dotnet\host\fxr\5.0.8\hostfxr.dll failed
  - Installing .NET prerequisites might help resolve this problem.
     https://go.microsoft.com/fwlink/?linkid=798306

[2021-08-01 03:20] Pranshu-Desai opened #6523 "it shows not installed .net core SDK Even after I installed it"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
![Screenshot (46)](https://user-images.githubusercontent.com/84431499/127758070-652b9154-904f-4c6e-9104-5d26be3da5e3

[2021-08-01 14:56] endepointe commented on #5052
Hi, I am resuming my project on my days off today but I don't see the "Razor: Report an issue" command in VS Code. I do not get a lot of time to really work on my project and thus do not want to spend time doing this kind of debugging in vs code. It zaps all energy and motivation for things I actually care about.

If you could just get me the command or whatever it is that you need, that would be

[2021-08-02 09:00] Yz274419 opened #6524 "+ dotnet new blazorserver -o BlazorApp --no-https + ~~~~~~ + CategoryInfo : ObjectNotFound: (dotnet:String) [], CommandNotFoundException + FullyQualifiedErrorId : CommandNotFoundException"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-08-02 11:07] MuneebSaeed opened #6525 "Error MSB4019: The imported project "/Library/Frameworks/Mono.framework/Versions/5.18.1/lib/mono/xbuild/Xamarin/iOS/Xamarin.iOS.CSharp.targets" was not found."
<img width="573" alt="Screenshot 2021-08-01 at 4 20 55 PM" src="https://user-images.githubusercontent.com/27008579/127852408-19bca070-fff6-4acd-8af3-88f96af25455.png">
Please help me out!
Stuck with this error, no project is compiling. Even new solutions are not compiling.
 Everything was working fine i updated MacOS to 11.4 and now facing this issue.
Tried many solutions, updated VS to different

[2021-08-02 11:08] mprevot commented on #6490
@leecow @rbhanda @jamshedd @mairaw Any update about the VS-.net6 regression ?

[2021-08-02 12:01] danroth27 commented on #5052
@endepointe If you have the [C# VS Code extension](https://marketplace.visualstudio.com/items?itemName=ms-dotnettools.csharp) installed, then the "Razor: Report an issue" command should be available from the [VS Code Command Palette](https://code.visualstudio.com/docs/getstarted/userinterface#_command-palette) when you search for "Razor". You'll also need to turn on verbose logging for Razor, but

[2021-08-02 12:40] endepointe commented on #5052
The third party components are working yet there are still warning underlines. I deleted the default <NavLink/> components that contained the same warning lines.

[Client - 5:35:36 AM] -- Starting Issue Data Collection--
OmniSharp.Extensions.LanguageServer.Shared.LspRequestRouter: Finding descriptors for textDocument/hover | Method='textDocument/hover'
OmniSharp.Extensions.LanguageServer.Server.Ma

[2021-08-02 14:48] DaviehS opened #6526 "macOS dotnet 3.1/5 debug alternatively working, run without debug works always"
### Description
I started working with a macbook, installed latest Rider and mac VS, and also Rider EAP
When I try debuging it gets "stuck" running the service on some assembly, whereas when I click run it always works and launches the service

I'm experiencing the same issue with Rider, Rider EAP, mac VS

In the debug window it shows bunch of :
`
Loaded Assembly '/usr/local/share/dotnet/shared/Mi

[2021-08-02 15:53] landreyS opened #6527 "I can't find the mentioned file"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/add
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-08-02 15:56] landreyS commented on #6527
I can't find the mentioned file

[2021-08-02 18:59] safern commented on #6525
@akoeplinger do you know who should/can help with this issue?

[2021-08-02 19:14] akoeplinger commented on #6525
Mono 5.18 is very old, it shouldn't be used. Can you please try removing
- Mono (https://docs.microsoft.com/en-us/visualstudio/mac/uninstall?view=vsmac-2019#uninstall-mono-sdk-mdk)
- Xamarin.iOS (https://docs.microsoft.com/en-us/visualstudio/mac/uninstall?view=vsmac-2019#uninstall-xamarinios)

 and then reinstall via the Visual Studio for Mac installer from https://visualstudio.microsoft.com/en/vs

[2021-08-02 19:48] Coompt-King opened #6528 "dotnet new blazorserver -o BlazorApp --no-https Commmand Not Working"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/create
Operating System: linux
Distribution: Ubuntu

So, I started the tutorial from the beginning, but when I ran the command it didn't work. Instead I got: Segmentation fault (core dumped)

[2021-08-02 20:26] mairaw commented on #6528
Did you use snap manager to install the SDK?
Another post mentioned they tried an alternative method when they got this error:
https://github.com/dotnet/core/issues/6279#issuecomment-844515735

@leecow @rbhanda any other suggestions?

[2021-08-02 20:38] mairaw commented on #6528
@kouvel @dagood is this something you can help with?

[2021-08-02 20:40] mairaw commented on #6527
The file should be inside the new project directory called BlazorApp and then under Pages:
![image](https://user-images.githubusercontent.com/12971179/127920918-79361d78-bd15-44f6-8547-6ae3e180657c.png)

Does that solve your issue?

[2021-08-02 20:40] mairaw commented on #6524
I don't understand the symbols. Can you paste a screenshot of the error?

[2021-08-02 20:44] mairaw commented on #6523
Can you paste the output of `where dotnet.exe`? If your system is x64 and the x86 path is shown first, I'd recommend you follow the steps I explain here to fix the issue: https://github.com/dotnet/core/issues/5962#issuecomment-780084535

[2021-08-02 20:51] mairaw commented on #6522
So did you install the prerequisites? What version of Windows are you using?

[2021-08-02 20:51] mairaw commented on #6521
What is the issue you're having?

[2021-08-02 20:53] mairaw commented on #6519
@armin555 is correct. You can also delete the existing folder and start over if you don't need that project. If you run the same command twice, it will give you that error message.

Were you able to continue?

[2021-08-02 20:57] dagood commented on #6528
Maybe I'm missing some possibility, but it sounds like you already had the `dotnet-sdk` snap installed and had its alias set up, then also tried to install the `dotnet-runtime-50` snap and set up its alias, too. You should only need the SDK snap. (This section of the docs is about the difference between the SDK and Runtime snaps: <https://docs.microsoft.com/en-us/dotnet/core/install/linux-snap#sdk

[2021-08-02 21:05] safern commented on #6528
Yes this is definitely a dupe of: dotnet/runtime#51322. I still have to take a look at why we are crashing when initializing globalization.

[2021-08-02 21:54] #6506 closed

[2021-08-02 21:54] #6501 closed

[2021-08-02 21:54] #6503 closed

[2021-08-02 22:18] Coompt-King commented on #6528
Alright I'll try that

[2021-08-02 22:42] Coompt-King commented on #6528
So, I tried uninstalling the runtime and the sdk, then reinstalling the sdk, went through and ran every solution I could fine on the site (there were like 2), but it still gives me the same error. I also went to the other issue that was mentioned, but it didn't help

[2021-08-02 23:29] rbhanda opened #6529 "Add support for Debian 11 ("bullseye")"
This issue is created to track progress for the work to enable Debian 11 support for .NET Core 3.1 and .NET 5.0.

- [Debian 11 ("bullseye")](https://www.debian.org/releases/bullseye/)
- [Debian 11 ("bullseye") release announcement](https://lists.debian.org/debian-devel-announce/2021/07/msg00003.html)
- [Debian releases](https://www.debian.org/releases/)
- [.NET 6 Bullseye support](https://github.c

[2021-08-03 00:30] mairaw commented on #435
@hknakata we were having a download site outage that started on 7/23 and was resolved a few days later.
For more information, see https://github.com/dotnet/core/issues/6509.

[2021-08-03 01:55] #6492 closed

[2021-08-03 08:00] HenadziBaranau opened #6530 "Uri constructor different behavior on Unix/Windows"
### Description
Same path is handled differently on different platforms. For unix systems - it's treated as file path, so we have access to instance's props. For windows - it's relative path and exception is thrown. Would expect same behavior cross platforms.

[code]

### Configuration

* Which version of .NET is the code running on?
 .NET 5

* What OS and version, and for Linux, what distro?
Micr

[2021-08-03 09:46] Yuriccs commented on #6522
hello, i hope you are doing well, i don't really know which windows version
i am using but i think it's the latest version.

On Mon, 2 Aug 2021, 21:51 Maira Wenzel, ***@***.***> wrote:

[2021-08-03 09:56] Happer-programmer commented on #2183
be alive again

[2021-08-03 10:15] diamondyoutubxd3 opened #6531 "i cant to the > dotnet"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

how do i do the > dotnet
[dotnet.txt](https://github.com/dotnet/core/files/6923311/dotnet.txt)

[2021-08-03 12:05] #6524 closed

[2021-08-03 14:10] ryank425 commented on #6530
According to Docs, https://docs.microsoft.com/en-us/dotnet/api/system.uri?view=net-5.0

These implicit file paths are not compliant with the URI specification and so should be avoided when possible. When using **.NET Core on Unix-based systems, implicit file paths can be especially problematic, because an absolute implicit file path is indistinguishable from a relative path**. When such ambiguity

[2021-08-03 14:54] dagood commented on #6528
I didn't see any obvious workaround that would fix the `dotnet new` error with the snap when I poked through https://github.com/dotnet/runtime/issues/51322 and related issues. I'm not sure there's a way to get the snap version of .NET to work. (I didn't mean to suggest that you should try installing just the SDK snap, sorry for the wasted effort there. 🙁 I was trying to help clarify why you got an

[2021-08-03 16:44] buyaa-n commented on #6444
## Added APIs for exposing nullability information from reflection

Runtime Issue: https://github.com/dotnet/runtime/issues/29723

### API shape

[code]

### Usage

#### Getting top-level nullability information

[code]

#### Getting nested nullability information

[code]

[2021-08-03 17:42] dagood commented on #6528
Glad it helped! Thanks for letting us know.

[2021-08-03 19:09] #6507 closed

[2021-08-03 19:09] #6481 closed

[2021-08-03 19:09] #6455 closed

[2021-08-03 19:15] MihaZupan commented on #6530
That's correct, this is (sadly) by design.

In general, try to specify the desired `UriKind` to the constructor - `new Uri("/foo", UriKind.Relative)`.

[2021-08-03 20:09] #6504 closed

[2021-08-03 23:56] ryank425 commented on #6531
You do not seem to have dotnet installed. Install the dotnet, and type dotnet in the terminal to verify that it is installed.

[2021-08-04 04:13] Myckei-Myc opened #6533 "just got started"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/edit
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
![Screenshot (2)](https://user-images.githubusercontent.com/86807647/128121009-22d1ea81-ba1d-473c-9615-12b4e7dad6cd.pn

[2021-08-04 04:23] ryank425 commented on #6533
You have forgotten following steps, and it is indeed the case according to your second screenshot.

`cd myApp` in your terminal.

Your Program.cs resides in C:\Users\user\myapp, and you are trying to do

`dotnet run`

in parent folder of myApp which would not likely have your csproj to start from.

[2021-08-04 04:32] Myckei-Myc opened #6534 "just started another blockstop"
![Screenshot (13)](https://user-images.githubusercontent.com/86807647/128122405-389dd898-ac23-4695-98fa-07802748c9e1.png)
![Screenshot (14)](https://user-images.githubusercontent.com/86807647/128122464-58c6a9df-c9fb-4470-baf7-2af3c754302e.png)
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/modify
Operating System: windows

Provide details about the problem yo

[2021-08-04 04:37] mairaw commented on #6531
You should just type `dotnet`. Did you install the SDK? If so, did you open a new command window after the installation?

[2021-08-04 04:48] Myckei-Myc commented on #6533
Thanks alot

[2021-08-04 05:59] HenadziBaranau commented on #6530
Thank you for explanation! Then seems that issue can be closed.

[2021-08-04 05:59] #6530 closed

[2021-08-04 07:33] svick commented on #6534
I think the problem is that the file is named Index.cshtml.cs, when it should be just Index.cshtml. With the .cs extension, the file is treated as a regular C# file, which is why you're seeing all those errors.

[2021-08-04 08:39] MuneebSaeed commented on #6525
I have done all this, but end up with Plugins issue, some plugins in my project does not support on Mono 6x, so i have to use 5.18 in any case.

After reinstalling VS latest new projects are building with Mono 6x.

[2021-08-04 11:48] Kokujou opened #6535 "RijndaelManaged Decryption behaves different in .NET 6"
First: This Problem is breaking our whole backend because we're using an encryption using a crypto key for our encryption.
i sadly don't have much insight about why/how/what this actualy is, but i will try my best to describe the Problem.

[code]

this is the code which was just working fine even after migrating from .NET Framework 4.7.2 to .NET 5, but now in .NET 6 for some reason it omits 5 char

[2021-08-04 12:36] GYKgamer opened #6536 "Problem when trying to use dotnet"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

This is the 'dotnet' is not recognized as an internal or external command, operable program or batch file. problom I'm having

[2021-08-04 12:45] adamsitnik commented on #6525
Does it mean that the problem has been solved?

[2021-08-04 13:05] adamsitnik commented on #6533
@ryank425 thank you for your help! since the question has been answered, I am closing the issue.

[2021-08-04 13:05] #6533 closed

[2021-08-04 13:12] adamsitnik commented on #6536
Hi @GYKgamer

Did you install the SDK? If so, did you open a new command window after the installation?

[2021-08-04 13:16] GYKgamer commented on #6536
I did install the sdk version I've restarted I've opened a new cmd windows yet nothing works

[2021-08-04 13:26] adamsitnik commented on #6536
Could you please check if dotnet.exe has been placed in `C:\Program Files\dotnet` or `C:\Program Files (x86)\dotnet`?

To do that you can run following command from cmd:

[code]

If they exists, has the folder been added to `PATH`? You can print `PATH` by running the following command:

[code]

[2021-08-04 13:29] GYKgamer commented on #6536
It doesnt exist on the PATH so should I add the folder as a system variable or user variable

[2021-08-04 13:32] adamsitnik commented on #6536
User variable should be fine. After you add it, please start a new terminal (environment variables on Windows are not refreshed after terminal is started)

[2021-08-04 13:33] GYKgamer commented on #6536
ok thanks

[2021-08-04 13:33] akoeplinger commented on #6525
You can't use Mono 5.18 with current Xamarin, that won't work.

[2021-08-04 13:35] GYKgamer commented on #6536
Wait I just found out the dotnet.exe doesn't exist

[2021-08-04 13:37] GYKgamer commented on #6536
What should I do now?

[2021-08-04 13:40] adamsitnik commented on #6536
Could you try to re-install the SDK?

[2021-08-04 13:50] GYKgamer commented on #6536
![image](https://user-images.githubusercontent.com/41442793/128192341-91e78fd1-71fc-438f-8880-2cd70499b85b.png)
i get this error even though it exists

[2021-08-04 13:57] GYKgamer commented on #6536
I can't uninstall it

[2021-08-04 13:58] GYKgamer commented on #6536
and deleting the folder would give me another error telling me I have insufficient permissions
So I am giving myself owner to the folder

[2021-08-04 14:15] GYKgamer commented on #6536
Tried that but still have the same error about the insufficient permissions

[2021-08-04 15:20] adamsitnik commented on #6536
I am sorry to hear that. I've run out of ideas, @NikolaMilosavljevic could you please help us?

[2021-08-04 17:32] hoyosjs commented on #6526
@DaviehS Is there any particular repro project we can use to see the hang? I don't know of the implementation of the Rider debugger, but in general those messages just show you what has been loaded into the process, and then you can choose to load symbols. There's potentially an issue in the runtime, but without any more information it's hard to tell.

[2021-08-04 18:05] mairaw commented on #6534
Correct. Can you start over the tutorial and edit the .cshtml page and not the .cshtml.cs page?

[2021-08-04 19:45] mairaw commented on #6522
So is it Windows 10? If so, you should be able to type "This PC" on the search box and look at its properties

![image](https://user-images.githubusercontent.com/12971179/128245045-e0ca9ebc-96d3-478a-ad5e-6c7c89b9307b.png)

[2021-08-04 20:49] GrabYourPitchforks commented on #5357
We just posted our plan for cryptographic support in Blazor/wasm apps in .NET 7 and beyond. [See here](https://github.com/dotnet/designs/blob/main/accepted/2021/blazor-wasm-crypto.md) for full details. That document also includes sample code demonstrating how to interop with the JS layer to get support for other algorithms (like HMACSHA256) which aren't supported out-of-the-box in Blazor/wasm in .

[2021-08-04 20:58] NikolaMilosavljevic commented on #6536
I have no other suggestions to offer, @adamsitnik covered everything. @joeloff do you have any suggestions for repairing .NET SDK that were not tried before?

[2021-08-04 21:07] GYKgamer commented on #6536
jeez now a 3rd developer

[2021-08-04 21:20] joeloff commented on #6536
What does ```get-acl C:\programdata\Microsoft\NetFramework\BreadcrumbStore\ | Format-List``` tell you (run from powershell)?

Can you provide the full install logs? That error will only be generated if there's an inconsistency between the directory ACLs and the user's permissions associated with the SID making the changes.

[2021-08-04 21:24] Yuriccs commented on #6522
Windows edition: Windows 10 pro

On Wed, 4 Aug 2021, 20:45 Maira Wenzel, ***@***.***> wrote:

[2021-08-04 23:29] Kermoua opened #6537 "KawmASP"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-08-04 23:29] Kermoua commented on #6537
hi world

[2021-08-04 23:51] mairaw commented on #6537
Hi @Kermoua! Are you having issues with the tutorial? If so, can you give us more details?

[2021-08-05 07:02] adamsitnik commented on #6522
@Yuriccs could you please do the following:

1. Open "Event Viewer" app (just press the Windows button and type "Event Viewer" and hit enter)
2. Go to "Windows Logs -> Application"
![obraz](https://user-images.githubusercontent.com/6011991/128305900-5fca57bb-ae23-4aaa-a805-ea135bae7065.png)
3. Reproduce the problem by trying to run the dotnet app
4. Go back to Event Viewer and hit F5 to refresh th

[2021-08-05 07:04] adamsitnik commented on #6522
FWIW I've googled this error code and found [this](https://www.windowsphoneinfo.com/threads/error-code-0x800700c1.257850/)

When we have more data we should be able to say if you are hitting similar issue.

[2021-08-05 07:11] GYKgamer commented on #6536
Is the log from powershell or from like a file I should see?

[2021-08-05 07:12] GYKgamer commented on #6536
because i have lots of text from powershell

[2021-08-05 07:25] joeloff commented on #6536
The log from running the installer. It should get dropped into your %temp% folder. Typically it looks something like this: Microsoft_.NET_Core_SDK_3.1.412_(x64)_20210805002246.log

That's the primary log. There will be additional logs for each underlying MSI, but those will all start with the primary log filename as a prefix, e.g. Microsoft_.NET_Core_SDK_3.1.412_(x64)_20210805002246._X_Y_Z.msi.log

[2021-08-05 07:28] GYKgamer commented on #6536
[Microsoft_.NET_SDK_5.0.302_(x64)_20210804134634.log](https://github.com/dotnet/core/files/6936774/Microsoft_.NET_SDK_5.0.302_.x64._20210804134634.log)
[Microsoft_.NET_SDK_5.0.302_(x64)_20210804141427.log](https://github.com/dotnet/core/files/6936775/Microsoft_.NET_SDK_5.0.302_.x64._20210804141427.log)
[Microsoft_.NET_SDK_5.0.302_(x64)_20210804112205.log](https://github.com/dotnet/core/files/69367

[2021-08-05 08:23] joeloff commented on #6536
Access permissions don't look right. Once you're elevated, ACLs on that Breadcrumbstore folder will likely fail since you'll be running under NT AUTHORITY\SYSTEM which doesn't have access.

So the MSI log we need to see is this one, or one with a similar looking timestamp:

Microsoft_.NET_SDK_5.0.302_(x64)_20210804113830_000_dotnet_runtime_5.0.8_win_x64.msi.log

I suspect it will just show the ACL

[2021-08-05 08:30] GYKgamer commented on #6536
[Microsoft_.NET_SDK_5.0.302_(x64)_20210804141427_000_dotnet_runtime_5.0.8_win_x64.msi.log](https://github.com/dotnet/core/files/6937163/Microsoft_.NET_SDK_5.0.302_.x64._20210804141427_000_dotnet_runtime_5.0.8_win_x64.msi.log)
here

[2021-08-05 08:31] GYKgamer commented on #6536
[Microsoft_.NET_SDK_5.0.302_(x64)_20210804113830_000_dotnet_runtime_5.0.8_win_x64.msi.log](https://github.com/dotnet/core/files/6937166/Microsoft_.NET_SDK_5.0.302_.x64._20210804113830_000_dotnet_runtime_5.0.8_win_x64.msi.log)
Heres the correct file the other one was wrong

[2021-08-05 15:26] joeloff commented on #6536
Logs confirm, the permissions configured on that folder is causing the problem

```Error 1303. The installer has insufficient privileges to access this directory: C:\ProgramData\Microsoft\NetFramework\BreadcrumbStore.  The installation cannot continue.  Log on as administrator or contact your system administrator.```

[2021-08-05 15:29] jcdalton2201 opened #6539 "unknown shorthand flag: 'r' in -rm"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/run-docker
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

unknown shorthand flag: 'r' in -rm and
Could not execute because the application was not found or a compatible

[2021-08-05 16:08] tannergooding commented on #6444
## Generic Math

We are previewing several new interfaces which enable operators to be used with generics:
[code]

This is powered by a new feature which allows `static abstract` members to be declared in interfaces. This enables interfaces to expose operators and other static methods, such as `Parse` or `Create`, and for those to be implemented by a derived type. Please see our associated blog po

[2021-08-05 17:20] GYKgamer commented on #6536
Any fixes?

[2021-08-05 17:29] joeloff commented on #6536
Yes, fix the security changes applied to the folder. Based on what I'm seeing, folder ACLs were manually changed.

- If there are no files in the breadcrumbstore you can try to just delete the folder and let the installer create it and ACL it correctly.
- If there are files, you need to change it so that it looks like this

![image](https://user-images.githubusercontent.com/7409981/128394537-538f0

[2021-08-05 18:35] GYKgamer commented on #6536
![image](https://user-images.githubusercontent.com/41442793/128403061-6718cbcf-7745-4a0e-872e-0d67a209c563.png)
it had no files but after i deleted it I got this error
(The error you said)

[2021-08-05 18:40] joeloff commented on #6536
ok, the only option I can think of then is to create the folder and then set the permissions to match what's in my previous screenshot

[2021-08-05 21:03] GYKgamer commented on #6536
![image](https://user-images.githubusercontent.com/41442793/128420750-c5e59e58-379f-41de-a802-ab4d4b174f24.png)
i couldn't change the group but i changed the owner of the folder it but i still got an error saying
![image](https://user-images.githubusercontent.com/41442793/128420831-a96f819d-d189-4f4f-8678-e0d7452fdfd8.png)
even tho its created

[2021-08-05 22:50] mairaw commented on #6539
Can you paste the exact command you're trying to run? The command on that page is a `docker` command, not `dotnet`. The error message seems to indicate the dotnet command was used instead. Maybe try using the copy button to make sure the right command was used. Let me know if I'm missing anything.

[2021-08-05 22:52] mairaw commented on #3246
@nishanil @sughosneo is this something you can help with?

[2021-08-05 22:53] mairaw commented on #3585
Is this still an issue for .NET 5 or can this be closed? /cc @adegeo

[2021-08-05 22:55] mairaw commented on #3798
@shirhatti do we need to make updates to the tutorial or add a note about this?

[2021-08-05 23:01] mairaw commented on #4111
Given that it worked for eastus, I think we should close this issue.

[2021-08-05 23:01] #4111 closed

[2021-08-06 02:38] #6514 closed

[2021-08-06 05:53] joeloff commented on #6536
The accounts are not the right ones. From an admin powershell prompt, you can try the following 3 commands

[code]
That may not fix everything because there are inheritance rules configured on that directory that transfer permissions and access rights to child objects (sub directories and files).

[2021-08-06 06:23] sughosneo commented on #3246
Hi @cnolewajka, thank you for reaching out and sorry for the long delay.

Could you please try to validate the results of the following steps?

`STEP -1:` Are you able to see the external IP address of the `LoadBalancer` service? For e.g :

![image](https://user-images.githubusercontent.com/13281246/128464184-797f181e-36d0-4576-81f7-0da262f81b52.png)

`STEP-2:` If yes, then open a browser and brow

[2021-08-06 07:00] GYKgamer commented on #6536
I did this and it did fix the group section

[2021-08-06 07:02] GYKgamer commented on #6536
It finally finished the installation

[2021-08-06 07:05] GYKgamer commented on #6536
and dotnet works

[2021-08-06 07:05] GYKgamer commented on #6536
Thanks very much everything now works for me

[2021-08-06 07:05] #6536 closed

[2021-08-06 07:20] cnolewajka commented on #3246
Hi,

I greatly appreciate the reply and following up, but that was 2y ago.
I don’t even have the project anymore, and I totally don’t remember how to reproduce the issue.

Let’s just close the case. I am not interested anymore in following up.

Kindest regards,
Cezary Nolewajka

From: Sumit Ghosh ***@***.***>
Sent: 06 August 2021 07:23
To: dotnet/core ***@***.***>
Cc: Cezary Nolewajka ***@***.***>

[2021-08-06 07:34] joeloff commented on #6536
Glad it worked. Enjoy .NET

[2021-08-06 10:27] #3246 closed

[2021-08-06 12:03] GlowStone07 opened #6541 "Error on Windows 7 Ultimate"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-08-06 12:32] adamsitnik commented on #6541
Could you please provide more information? What error exactly are you getting?

[2021-08-06 12:54] PASTASGRAVA opened #6542 "Problems with .net"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

I have an error after installing .net and trying to give it any command it says this
  It was not possible to find any installed .NET Core SDKs
  Did you mean to run .NET Core SDK commands? Install a .NET Core SDK from:
      https://aka.ms/dotnet-download

[2021-08-06 13:00] adamsitnik commented on #6542
Hi @PASTASGRAVA

Could you please open a new terminal and run the following command and share it's output?

[code]

[2021-08-06 13:19] PASTASGRAVA commented on #6542
It was not possible to find any installed .NET Core SDKs
  Did you mean to run .NET Core SDK commands? Install a .NET Core SDK from:
      https://aka.ms/dotnet-download

Host (useful for support):
  Version: 3.1.12
  Commit:  0267ad09c6

.NET Core SDKs installed:
  No SDKs were found.

.NET Core runtimes installed:
  Microsoft.NETCore.App 3.1.12 [C:\Program Files (x86)\dotnet\shared\Microsoft.NET

[2021-08-06 13:23] adamsitnik commented on #6542
@PASTASGRAVA is there any chance that you have used the `Runtime` instead of `SDK` installer?

![obraz](https://user-images.githubusercontent.com/6011991/128516782-7d36591e-3f70-46e5-abf0-9b4ad3e01a5c.png)

Could you please try to download the SDK installer and run it? It can be found at: https://dotnet.microsoft.com/download/dotnet/3.1

[2021-08-06 13:28] PASTASGRAVA commented on #6542
I think i downloaded the right one the first time it is called dotnet-sdk-3.1.411-win-x64

[2021-08-06 13:32] adamsitnik commented on #6542
I've run out of ideas. @NikolaMilosavljevic joeloff could you please help us?

[2021-08-06 15:06] adegeo commented on #3585
I think this can be closed.

[2021-08-06 15:06] #3585 closed

[2021-08-06 15:49] layomia commented on #6444
### System.Text.Json

#### Utf8JsonWriter "write raw" APIs (https://github.com/dotnet/runtime/issues/1784)

There are scenarios where customers want to integrate existing, "raw" JSON payloads when writing new JSON payloads with Utf8JsonWriter.
- I have a blob which I think represents JSON content and which I want to envelope, and I need to make sure the envelope & its inner contents remain well-fo

[2021-08-06 16:04] NikolaMilosavljevic commented on #6542
@PASTASGRAVA, do you have the following log in your %TEMP% folder?

`Microsoft_.NET_Core_SDK_3.1.411_(x64)_20210805002246.log`

The date would be different, as the log name is unique but the log name would start with `Microsoft_.NET_Core_SDK`

Can you share all of those logs?

cc @joeloff

[2021-08-06 18:02] joeloff commented on #6542
Based on your output you have an x86 runtime install, so it's likely that the x86 copy of dotnet is on your path.

[code]

Run ```SET PATH``` and check if "Program Files (x86)\dotnet" is on your path first.

You can swap the PATH order if you go to the OS settings and change system environment variables

[2021-08-06 18:43] PASTASGRAVA commented on #6542
C:\Program Files (x86)\dotnet\ i have it in the set path

[2021-08-06 18:43] PASTASGRAVA commented on #6542
buuuuuuut how do in get to the os settings

[2021-08-06 18:45] PASTASGRAVA commented on #6542
i have a lot of that type of file in the temp folder too
![Microsoft_ NET_Core_SDK - Risultati ricerca in Temp 06_08_2021 20_45_11](https://user-images.githubusercontent.com/88540949/128557645-c8627b82-f315-477e-89f3-3131908ed0a0.png)

[2021-08-06 19:16] joeloff commented on #6542
Go to start, click on settings (the little gear icon) and search for system environment variables

![image](https://user-images.githubusercontent.com/7409981/128560889-10a25b41-6a51-4e94-923b-dc0d28825232.png)

[2021-08-06 19:18] PASTASGRAVA commented on #6542
on what option should i pick?

[2021-08-06 19:20] joeloff commented on #6542
The system environment variables. The problem you're running into is coming from the global PATH environment variable

[2021-08-06 19:22] PASTASGRAVA commented on #6542
![Uploading Variabili d'ambiente 06_08_2021 21_21_59.png…]()

[2021-08-06 19:24] PASTASGRAVA commented on #6542
![Uploading Variabili d'ambiente 06_08_2021 21_21_59.png…]()

[2021-08-06 19:26] PASTASGRAVA commented on #6542
and what should i do

[2021-08-06 19:30] joeloff commented on #6542
Your path likely contains two entries: Program Files (x86)\dotnet;Program Files\dotnet. You need to swap them around so that Program Files is first.

You can verify it another why by opening a command prompt and running "Where dotnet" and it's likely going to point you at the 32-bit host

[2021-08-06 19:31] PASTASGRAVA commented on #6542
C:\Users\Utente\AppData\Local\Programs\Python\Python38\Scripts\ this is my path directory

[2021-08-06 19:31] PASTASGRAVA commented on #6542
C:\Users\Utente>Where dotnet
C:\Program Files (x86)\dotnet\dotnet.exe
C:\Program Files\dotnet\dotnet.exe

[2021-08-06 19:33] PASTASGRAVA commented on #6542
so?

[2021-08-06 19:38] joeloff commented on #6542
the SDK you installed is 64-bit, it lives under Program Files, not Program Files (x86). When you run dotnet, the host is running against the 32-bit runtime you installed and there are no corresponding SDKs, that's why dotnet --info tells you there are no SDKs. The fix is to swap the dotnet paths on the global PATH environment variable.

[2021-08-06 19:56] PASTASGRAVA commented on #6542
can u write step per step how to do it?

[2021-08-06 20:05] joeloff commented on #6542
Open the environment variable settings like I previously described and select the Environment Variables button

![image](https://user-images.githubusercontent.com/7409981/128565394-cf3837eb-2d5d-4edb-b8cb-709b774a7914.png)

Select the the Path variable under System Variables and click on Edit

![image](https://user-images.githubusercontent.com/7409981/128565506-47f22791-31a6-41f5-9b2c-99515a78d067

[2021-08-06 20:08] PASTASGRAVA commented on #6542
idk why i cant hit the edit button

[2021-08-06 20:09] PASTASGRAVA commented on #6542
![Screenshot 06_08_2021 22_09_07](https://user-images.githubusercontent.com/88540949/128565932-1233d735-b93f-4271-b48d-5771ff89030b.png)

[2021-08-06 20:09] PASTASGRAVA commented on #6542
edit is modifica in italian

[2021-08-06 21:05] joeloff commented on #6542
You need to have administrator rights, or at least belong to the local administrators group usually

[2021-08-06 21:08] PASTASGRAVA commented on #6542
i am the only one using this pc

[2021-08-06 21:08] PASTASGRAVA commented on #6542
how can i have admin

[2021-08-06 21:30] joeloff commented on #6542
If you created the OS installation originally, it should have given you the option to create an administrators account or make the default account part of the administrators group. The latter seems true since you were able to install .NET and that would require additional permissions. You can try looking at your account settings and see if you can add your user account to other groups.

You might

[2021-08-07 00:47] SamUnimelb commented on #6523
Having exactly the same issue.

[2021-08-07 02:38] Calkines commented on #6523
related to #6542

[2021-08-07 08:23] sondt commented on #4260
Check null value properties

[2021-08-07 17:00] #6519 closed

[2021-08-07 17:00] #6520 closed

[2021-08-08 12:16] smjltd commented on #6389
faced same issue while updating the dotnet 6 preview 4 to preview 5 or 6.

i fixed by creating new blazor webassembly project using preview 6. and then replaced App.razor file

`<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1

[2021-08-08 12:16] smjltd commented on #6467
faced same issue while updating the dotnet 6 preview 4 to preview 5 or 6.

i fixed by creating new blazor webassembly project using preview 6. and then replaced App.razor file

`<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1

[2021-08-08 22:42] Kamntheph12 opened #6543 "path-to-application: The path to an application .dll file to execute. C:\Users\Tawat>dotnet new console -o myApp Getting ready... The template "Console Application" was created successfully. Processing post-creation actions... Running 'dotnet restore' on myApp\myApp.csproj... Determining projects to restore... Restored C:\Users\Tawat\myApp\myApp.csproj (in 90 ms). Restore succeeded. C:\Users\Tawat>cd myApp"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-08-09 06:53] Daybreakerflint opened #6544 "HttpClient and MultipartFormDataContent formatting issue"
### Description
I have been reverse engineering a Web Interface of a device and I am using the HttpClient class along with MultipartFormDataContent to replicate the upload of a new firmware.

![grafik](https://user-images.githubusercontent.com/45481353/128668339-75cdcc74-a80b-43ee-8e6e-c5f8c642993b.png)

This is how the headers looked`in the first tries. On the left is the one generated in dotnet

[2021-08-09 08:53] adamsitnik commented on #6543
Hi @Kamntheph12

From the output that you have provided it seems that you were able to succefully create and restore the project.
Could you please provide more infomation? What exactly does not work?

[2021-08-09 11:01] adamsitnik commented on #6525
@akoeplinger @marek-safar could you please transfer this issue to https://github.com/mono/mono?

[2021-08-09 19:10] mairaw commented on #6523
@SamUnimelb what is the output of `where dotnet.exe` for you? Did you try the steps outlined on https://github.com/dotnet/core/issues/5962#issuecomment-780084535?

@Calkines I try to help every customer reporting this issue since they're usually new to the platform. The actual duplicate issue is #5962 and you can see how many times I referred back to that issue from other dupes.

[2021-08-09 19:31] rsg-roberth opened #6545 "Aspnet core installation error on Cent OS7"
I'm following the documentation https://docs.microsoft.com/en-us/dotnet/core/install/linux-centos and I'm having an error installing on Cent OS 7.

There is indeed a problem with this walkthrough.

[2021-08-09 19:59] mairaw commented on #6545
@adegeo @leecow can you look at this?

[2021-08-09 20:02] rsg-roberth commented on #6545
![Error](https://user-images.githubusercontent.com/44393025/128766983-18ad9b2a-25a0-4849-a06c-437c616f4a75.jpg)

[2021-08-09 20:15] adegeo commented on #6545
Can you try again? The error indicates you can't talk to `mirrorlist.centos.org`. I just tried what it's trying to connect to and it worked fine for me: <http://mirrorlist.centos.org/?release=7&arch=x86_64&repo=os&infra=stock> Also, according to https://status.centos.org/ everything is working.

If you cant reach the centos website, you'll have to ask them for help :( sorry we can't be of more hel

[2021-08-09 20:29] rsg-roberth commented on #6545
The error is actually in the certificate and following the documentation this could not happen, as the installation was performed sudo rpm -Uvh https://packages.microsoft.com/config/centos/7/packages-microsoft-prod.rpm

That is, this installation should solve this problem.

[2021-08-09 21:38] #6523 closed

[2021-08-09 21:38] #6521 closed

[2021-08-09 21:38] #6527 closed

[2021-08-09 22:27] rsg-roberth commented on #6545
Estou na versão  7.6.1810, mas acredito que isso não seja o problema.

O que estou fazendo:

rpm -Uvh https://packages.microsoft.com/config/centos/7/packages-microsoft-prod.rpm

sudo yum install aspnetcore-runtime-5.0

![Error](https://user-images.githubusercontent.com/44393025/128782182-2f7a3884-34a7-40ce-b452-d1c9da0dbb68.jpg)

[2021-08-10 03:30] Gunjan-mishra88 opened #6546 "issue"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-08-10 03:34] mairaw commented on #6546
Can you provide more details about the issue?

[2021-08-10 08:52] rsg-roberth commented on #6545
@adegeo  I'm on version 7.6.1810, but I don't think that's the problem.

What am I doing:

rpm -Uvh https://packages.microsoft.com/config/centos/7/packages-microsoft-prod.rpm

sudo yum install aspnetcore-runtime-5.0

I believe the problem is with the certificate. What should not happen, because step by step this command is intended to solve: rpm -Uvh https://packages.microsoft.com/config/centos/7/

[2021-08-10 11:32] itsdragz opened #6547 "Creating a new .net app error"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

When I was trying to create a new console, I ran into an error stating this (using the command `dotnet new console`
![image](https://user-images.githubusercontent.com/68898630/128858999-53a2ef5f-71d7-4989-8351-d8a68266198b.png)
My .NET is already downloaded
![image](https://user-

[2021-08-10 11:41] burnyourmom opened #6548 "Can someone help me with this dotnet problem?"
Failed to load the dll from [C:\Program Files\dotnet\host\fxr\5.0.8\hostfxr.dll], HRESULT: 0x80070057
The library hostfxr.dll was found, but loading it from C:\Program Files\dotnet\host\fxr\5.0.8\hostfxr.dll failed
  - Installing .NET prerequisites might help resolve this problem.
     https://go.microsoft.com/fwlink/?linkid=798306

[2021-08-10 11:44] burnyourmom commented on #6522
geez we have the same problem....

[2021-08-10 11:48] adamsitnik commented on #6522
@burnyourmom is there any chance you could provide the information that I've asked in https://github.com/dotnet/core/issues/6522#issuecomment-893217907 ?

[2021-08-10 11:50] adamsitnik commented on #6548
@burnyourmom could you please do the following:

1. Open "Event Viewer" app (just press the Windows button and type "Event Viewer" and hit enter)
2. Go to "Windows Logs -> Application"
![obraz](https://user-images.githubusercontent.com/6011991/128305900-5fca57bb-ae23-4aaa-a805-ea135bae7065.png)
3. Reproduce the problem by trying to run the dotnet app
4. Go back to Event Viewer and hit F5 to refres

[2021-08-10 12:07] burnyourmom commented on #6522
@adamsitnik I checked it, I did what you said but it didn't show an error in event viewer.

[2021-08-10 12:20] burnyourmom commented on #6548
![dotnet](https://user-images.githubusercontent.com/88717631/128865622-e2fc9aa3-bad1-496f-ac62-55663aeddf15.PNG)

[2021-08-10 12:21] Yuriccs commented on #6522
still have the same problem even after watching hundreds of youtube videos
so i deleted vs code and installed visual studio code 2019 and it works
correctly

[2021-08-10 12:32] adamsitnik commented on #6522
correctly

Thank you for letting us know that you were able to workaround the problem. I am going to close the issue and help @burnyourmom  in #6548

[2021-08-10 12:32] #6522 closed

[2021-08-10 12:42] burnyourmom commented on #6548
![Capture](https://user-images.githubusercontent.com/88717631/128868639-166b05ce-4710-4b01-bae2-d7d78ab4d463.PNG)

[2021-08-10 12:44] burnyourmom commented on #6548
![asd](https://user-images.githubusercontent.com/88717631/128868822-2ea25204-1e6a-423e-a64f-5bc688d30de5.PNG)

[2021-08-10 12:46] adamsitnik commented on #6548
@burnyourmom what's the version of your Windows? You might need to install some additional dependencies:
https://docs.microsoft.com/en-us/dotnet/core/install/windows?tabs=net50#additional-deps

Here is a thread related to this:
https://developercommunity.visualstudio.com/content/problem/805039/net-core-30-failed-to-load-dll.html

The thread mentions that missing [KB2533623](https://support.microso

[2021-08-10 12:51] burnyourmom commented on #6548
@adamsitnik I'm using Windows 7 SP1

[2021-08-10 12:54] burnyourmom commented on #6548
![asdasd](https://user-images.githubusercontent.com/88717631/128870348-6df81676-c356-4410-9e10-428071a91b6c.PNG)

[2021-08-10 12:55] burnyourmom commented on #6548
I can't install KB3063858.

[2021-08-10 12:58] Joeshibha commented on #2794
This works for me!
Go to Settings->Apps and features->.net sdk->Uninstall->Repair

[2021-08-10 13:48] ibisystemsdev opened #6549 "AssemblyBuilder.GetDynamicModule does not return previously created dynamic modules"
### Description

The last variable in the following snippet will always be null instead of returning the ModuleBuilder:

[code]

### Configuration

.NET 5.0 Console Application

### Regression?

Module is returned as expected when target .NET 4.8

### Other information

FullyQualifiedName and ScopeName of the module also differ between the versions:

Under .NET 4.8
![NET48](https://user-images.git

[2021-08-10 14:31] adamsitnik commented on #6548
@burnyourmom how about the extra dependencies listed here: https://docs.microsoft.com/en-us/dotnet/core/install/windows?tabs=net50#additional-deps ?

![obraz](https://user-images.githubusercontent.com/6011991/128885663-f575afb3-2720-4b3e-bf58-183021864c7f.png)

[2021-08-10 14:45] adamsitnik commented on #6547
Hi @itsdragz

Have you installed .NET SDK or .NET Runtime?

![obraz](https://user-images.githubusercontent.com/6011991/128887918-1cf54bcc-a2c1-48e1-957e-176935d41e79.png)

[2021-08-10 14:50] GameOver61 opened #6550 "Error Install botnet"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: linux

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.When installing dotnet, when I enter the commands to be installed, this error is seen at the end of the work. Can anyone h

[2021-08-10 14:53] adamsitnik commented on #6550
Hi @GameOver61

Which Linux distro are you using?

[2021-08-10 14:56] burnyourmom commented on #6548
I already installed Microsoft Visual C++ 2015-2019 Redistributable, still won't work and I can't install this KB3063858.

[2021-08-10 14:59] rsg-roberth commented on #6545
The problem was in the machine/structure.

I had to change the ddns pointing to google and also to the machine's local ip.

I also changed the links from /etc/yum.repos.d/microsoft-prod.repo replacing https with http.

Thank you very much.

[2021-08-10 14:59] #6545 closed

[2021-08-10 15:19] adamsitnik commented on #6548
@jeffschwMSFT @vitek-karas @agocke PTAL

[2021-08-10 15:59] rbhanda opened #6551 "Unable to create an issue"
Test

[2021-08-10 15:59] #6551 closed, assigned to nobody

[2021-08-10 17:07] rbhanda opened #6553 ".NET August 2021 Update - .NET 5.0.9, .NET Core 3.1.18 and .NET Core 2.1.30"
Release Notes
[5.0.9](https://github.com/dotnet/core/blob/main/release-notes/5.0/5.0.9/5.0.9.md)
[3.1.18](https://github.com/dotnet/core/blob/main/release-notes/3.1/3.1.18/3.1.18.md)
[2.1.30](https://github.com/dotnet/core/blob/main/release-notes/2.1/2.1.30/2.1.30.md)

**Update**:
The .NET Core 2.1.29 August update did not include the correct fix for [CVE-2021-34532](https://msrc.microsoft.com/upd

[2021-08-10 17:08] rbhanda opened #6554 ".NET 6 Preview 7"
[Release Notes](https://github.com/dotnet/core/blob/main/release-notes/6.0/preview/6.0.0-preview.7.md)

Please report any issues you find with .NET 6, either responding to this issue, creating a new issue or creating a new issue in one of the following repos:

* [dotnet/aspnetcore](https://github.com/dotnet/aspnetcore/issues) - for ASP.NET Core questions
* [dotnet/efcore](https://github.com/dotnet

[2021-08-10 17:53] nbdinara opened #6556 "Issue with installing .Net 5.0.4"
### Description

I am getting this error when I run commands bellow:
Invoke-WebRequest -Uri "https://dot.net/v1/dotnet-install.ps1" -OutFile 'dotnet-install.ps1'
Unblock-File 'dotnet-install.ps1'
.\dotnet-install.ps1 -Channel 5.0 -InstallDir 'C:\Program Files\dotnet'

![image](https://user-images.githubusercontent.com/35890180/128910272-87581566-7662-4e28-942a-c227cf916b82.png)

Link is not workin

[2021-08-10 17:58] mairaw commented on #5567
Tagging @jamshedd to help with this question.

[2021-08-10 18:32] jamshedd commented on #5567
There were many questions in this thread so which one were you particularly thinking about :)

I will take the Win7 one - while this is by no means a final decision yet it is likely .NET 7 will not support Win7 since we would be shipping .NET 7 very close (Nov 2022) to when Win7 ESU ends (Jan 2023). But there are many factors that go into the decision including the portion of customers actively us

[2021-08-10 19:23] paulcastro1 opened #6558 "mywebapp cd commands"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-08-10 19:54] JulieLeeMSFT commented on #6444
## CodeGen
### Community PRs from @SingleAccretion:
-  Optimize CAST(int <- long) on 32 bit targets https://github.com/dotnet/runtime/pull/53040
- Eliminate chained casts to small types https://github.com/dotnet/runtime/pull/52561
- Optimize CAST(int <- long) on 32 bit targets https://github.com/dotnet/runtime/pull/53040
- Remove some unneeded code from division morphing https://github.com/dotnet/

[2021-08-10 20:02] danmoseley commented on #6444
Gosh @SingleAccretion did a lot!

[2021-08-10 20:13] filipnavara commented on #6444
One of them is listed twice but still hell of a job!

[2021-08-10 20:16] kunalspathak commented on #6444
@EgorBo - Feel free to add some performance improvement graphs for dynamic PGO/inline changes.

[2021-08-10 20:29] mairaw commented on #6558
Hi @paulcastro1! Can you give us more details about the issues you're having?

[2021-08-10 20:40] mairaw commented on #6547
The tutorial links to the SDK @adamsitnik. This might be a duplicate of #5962

@itsdragz can you post the results of running `dotnet --info` and `where.exe dotnet`

If your system is x64 and the x86 path returns first, you need to follow these steps to fix the issue:
https://github.com/dotnet/core/issues/5962#issuecomment-780084535

[2021-08-10 21:30] mairaw commented on #2794
@TristanKnox can you paste the output of `where.exe dotnet`?

[2021-08-10 21:41] rbhanda commented on #6459
closing in favor of https://github.com/dotnet/core/issues/6553

[2021-08-10 21:41] #6459 closed

[2021-08-10 21:42] rbhanda commented on #6467
closing in favor of https://github.com/dotnet/core/issues/6554

[2021-08-10 21:42] #6467 closed

[2021-08-10 22:35] rbhanda commented on #6556
Hello,
Can you retry and let us know if you are still facing this issue?

[2021-08-10 22:35] kreely opened #6559 "Problem with packages"
Err:2 https://packages.microsoft.com/debian/10/prod buster Release
  404  Not Found [IP: 52.230.121.169 443]

/etc/apt/sources.list.d/microsoft-prod.list

deb [arch=amd64,arm64,armhf] https://packages.microsoft.com/debian/10/prod buster main

Worked yesterday, seems to not be working today.

Reading package lists... Done
E: The repository 'https://packages.microsoft.com/debian/10/prod buster Relea

[2021-08-10 22:41] elmerreal98 commented on #6559
I'm facing the same issue. An hour ago everything was working fine in my ci cd pipeline. :(

[2021-08-10 22:43] edisnezir commented on #6559
Same issue with https://packages.microsoft.com/config/ubuntu/18.04/packages-microsoft-prod.deb

[2021-08-10 22:50] hayden-corney commented on #6559
Also https://packages.microsoft.com/ubuntu/20.04/prod/

[code]

[2021-08-10 22:52] xTEddie commented on #6381
I am having trouble install `az` package

![image](https://user-images.githubusercontent.com/8888565/128944903-61637744-eb54-48cd-9148-79243a2a6761.png)

[2021-08-10 23:02] adegeo commented on #6559
@rbhanda @leecow

[2021-08-10 23:09] rbhanda opened #6560 "packages.microsoft.com outage (including dotnet packages)"
Hello,
.NET Team is aware of an issue with packages.microsoft.com where several repositories seem to be broken.

Our teams are actively looking into this and will keep this issue updated.

Update: This is a total outage with packages.microsoft.com and our upstream team is trying to recover all regions one by one.

[2021-08-10 23:16] richlander commented on #6559
Tracking issue: https://github.com/dotnet/core/issues/6560

[2021-08-10 23:16] xTEddie commented on #6559
My CI pipeline is failing because of this as well

[2021-08-10 23:17] richlander commented on #6559
I'm closing this one in favor of https://github.com/dotnet/core/issues/6560.

I'm sorry about the outage! We'll talk to our upstream team.

[2021-08-10 23:19] richlander commented on #6560
The issue has been reported to the packages.microsoft.com team and we are actively working with them.

[2021-08-10 23:21] richlander commented on #6560
We are hearing that the west-us region should be back up but other regions are still failing.

[2021-08-10 23:23] matt-richardson commented on #6560
Would this error exhibit as
[code]
☝️ this is the error I'm facing.

"several repositories seem to be broken" might imply that it's not the same?

[2021-08-10 23:24] rbhanda commented on #6560
Update: This is a total outage with packages.microsoft.com and the team is recovering the regions one by one.

[2021-08-10 23:25] #6559 closed

[2021-08-10 23:26] richlander commented on #6560
@matt-richardson ... you are (sadly) affected by this outage. That error messages matches.

[2021-08-10 23:26] rbhanda commented on #6560
Update: packages.microsoft.com team are driving towards a 5:30 PM (PST) ETA. As per them, West US is recovered and now they are in the process of recovering East US now

[2021-08-10 23:29] itsdragz commented on #6547
Thank you!

[2021-08-10 23:29] #6547 closed

[2021-08-10 23:37] ijnek commented on #6381
@xTEddie That issue is probably related to the packages.microsoft.com outage that has happened today. See #6560.

[2021-08-10 23:42] rbhanda commented on #6560
Update:
•	West US region and East US region are recovered completely now
•	All regions have at least 1 Mirror back up. Hence PMC should work now with degraded performance.

[2021-08-11 00:00] dankwhackychan opened #6561 "i have followed the steps and it has not worked"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/edit
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-08-11 00:09] dankwhackychan commented on #6561
i get stuck on when it says to input the time. do i need to manually input the time it is righ then or does iut correct its self

[2021-08-11 00:09] #6561 closed

[2021-08-11 00:21] rbhanda commented on #6560
Hello,
We have the final update from packages.microsoft.com team. All the mirrors should be up with full capacity now.

[2021-08-11 00:46] rndev707 opened #6562 "Workload with id microsoft-maccatalyst-sdk-full is not recognized."
### Description
`$ sudo dotnet workload install microsoft-maccatalyst-sdk-full`

[code]

### Configuration
* Which version of .NET is the code running on?
6.0.100-preview.7.21379.14
* What OS and version, and for Linux, what distro?
macOS Big Sur Version 11.5.1

### Regression?

### Other information

[2021-08-11 00:50] ravindrabhartiya commented on #6560
Thanks for updates @rbhanda . Confirming we are back with full capacity worldwide.

[2021-08-11 02:43] ryank425 commented on #6562
It seems to be that all of those listed to be updated in the future actually got updated.

https://github.com/dotnet/maui-samples

**microsoft-android-sdk-full (changing to android in a future release)
microsoft-ios-sdk-full (changing to ios in a future release)
microsoft-maccatalyst-sdk-full (changing to maccatalyst in a future release)
microsoft-macos-sdk-full (changing to macos in a future rele

[2021-08-11 03:17] rndev707 commented on #6562
@ryalanms the problem is this error message appears even though I install with other id like `maui-windows`. I'm not sure how to avoid it.

[code]

[2021-08-11 03:41] ryank425 commented on #6562
Do you have correct urls for your NuGet.config? I am not seeing an request install microsoft-maccatalyst-sdk-full while I run your exact command in my MacBook to get maui-windows.

[2021-08-11 03:50] richlander commented on #6560
Closing as this is now resolved.

[2021-08-11 03:50] #6560 closed

[2021-08-11 04:40] rndev707 commented on #6562
Here is the content of NuGet.Config.

[code]

[2021-08-11 05:03] bairog commented on #5567
Very sad to hear. **.NET 6 preview 4** development was supported on **Visual Studio 2019 16.11**. Starting from **.NET 6 preview 5** onwards only Visual Studio 2022 is supported. It is not good practice to drop support of IDE between adjacent previews.

[2021-08-11 05:18] #6531 closed

[2021-08-11 06:46] nbdinara commented on #6556
Hello, it looks like that it is working now! Thank you!
It looks like that the installation process takes more time though. Can it be possible?

[2021-08-11 06:46] #6556 closed

[2021-08-11 06:50] NiftyRunner opened #6563 "Issues after installing dotnet"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

After installing dotnet I am facing the following issue.
![image](https://user-images.githubusercontent.com/87975379/128982558-bb07d749-c5d1-43f5-9cda-c90e67abd244.png)

[2021-08-11 07:33] adamsitnik commented on #6562
@steveisok @Redth could you please take a look?

[2021-08-11 08:08] Nezz commented on #4446
We're seeing this issue with .NET 5.0.400:
[code]
Downgrading the snap package resolved it.

[2021-08-11 08:15] adamsitnik commented on #6563
@NiftyRunner  could you post the results of running `dotnet --info` and `where.exe dotnet`?

If your system is x64 and the x86 path returns first, you need to follow these steps to fix the issue:
https://github.com/dotnet/core/issues/5962#issuecomment-780084535

[2021-08-11 09:21] JaroslavMajera opened #6564 ".Net sdk 5.0.400 docker image is not pushed"
Hello I would like to pull .net sdk 5.0.400 docker image, but image is missing. Could you push it?

manifest for mcr.microsoft.com/dotnet/sdk:5.0.400-alpine3.13 not found: manifest unknown: manifest tagged by "5.0.400-alpine3.13" is not found

![image](https://user-images.githubusercontent.com/8265465/129003836-165c9843-ce59-4b14-9147-fab8aeccd6b0.png)

[2021-08-11 09:42] Tasty213 commented on #4446
Also seeing this issue, but when i run snap revert is shows:
` sudo snap revert dotnet
error: cannot revert "dotnet": no revision to revert to`

[2021-08-11 09:57] mbxsuite commented on #4446
same here for .NET 5.0.400

[2021-08-11 11:02] adamsitnik commented on #6564
@MichaelSimons is there any chance you could help?

[2021-08-11 11:14] vsfeedback opened #6565 "DataView.RowFilter throws exception when the type of the corresponding column is a custom class"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/DataViewRowFilter-throws-exception-when/1444355)._

---
[severity:I'm unable to use this version]
Hi,

I have created a DataTable as shown below and used it as ItemsSource for a DataGrid.

[code]

In a button click, I have tried to apply RowFilter as shown below.

[code]

It throws excep

[2021-08-11 11:29] ildambek opened #6566 "hello"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-08-11 12:14] adamsitnik commented on #6566
@ildambek could you please provide more details? What problem exactly are you hitting?

[2021-08-11 13:10] FrenchTastic commented on #4446
@Tasty213
The package name is dotnet-sdk.

`sudo snap revert dotnet-sdk`

Should do the trick.

[2021-08-11 13:54] mwalczyk81 opened #6567 "Memory usage when using Mailkit in containers"
### Description
When using the Mailkit library for sending emails on containers we are seeing a drastic increase in memory consumed per email. This persists until the container runs out of memory and crashes. This issue was opened on the [MailKit repo](https://github.com/jstedfast/MailKit/issues/1105), but nothing was found in the library causing the issue.

I would expect the GC to free up the me

[2021-08-11 14:50] n84ck commented on #4446
Same issue here .NET 3.1.412. Snap revert worked. Can I hold the snap packages somehow?

[2021-08-11 14:52] merto-dvp commented on #4446
`snap info dotnet-sdk` to check versions.
[code]

After that you can remove the sdk with `snap remove dotnet-sdk` then install the version you want with `snap install dotnet-sdk --classic --channel=<insert_channel_here>`

[2021-08-11 15:21] saginadir commented on #4446
Worked for me. Thanks!

[2021-08-11 15:36] merto-dvp opened #6568 "dotnet-sdk (.NET 5.0.400 (latest)) installed with snap won't run"
### Description
**Issue:**
Tried to publish/build dotnet app and got this error message:

**Error:**
`cannot snap-exec: cannot exec "/snap/dotnet-sdk/137/snap/command-chain/snapcraft-runner": permission denied`

**Command:**
`dotnet publish Test/Test.WebAPI --configuration Release -o pkg`

### Configuration

App: .NET 5.0
dotnet-sdk Version:  (latest/stable: 5.0.400 2021-08-10 (137) 139MB classic)

[2021-08-11 15:43] JulieLeeMSFT commented on #6444
Thanks for catching it. Deleted the line.

[2021-08-11 15:53] leecow opened #6569 "What's new in .NET 6 RC1 [WIP]"
# What's new in .NET 6 RC1

This issue is for teams to highlight work for the community that will release .NET 6 RC1

To add content, use a new conversation entry. The entry should include the team name and feature title as the first line as shown in the template below.

[code]
Preview 1: https://github.com/dotnet/core/issues/5853
Preview 2: https://github.com/dotnet/core/issues/5889
Preview 3: ht

[2021-08-11 15:57] leecow opened #6570 "What's new in .NET 6 RC2 [WIP]"
# What's new in .NET 6 RC2

This issue is for teams to highlight work for the community that will release .NET 6 RC2

To add content, use a new conversation entry. The entry should include the team name and feature title as the first line as shown in the template below.

[code]
Preview 1: https://github.com/dotnet/core/issues/5853
Preview 2: https://github.com/dotnet/core/issues/5889
Preview 3: ht

[2021-08-11 15:59] merto-dvp commented on #6568
Command works with sudo. But previous versions worked fine without sudo.

[2021-08-11 18:22] #6534 closed

[2021-08-11 18:31] bfritz7 opened #6571 "I received build errors."
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-08-11 20:14] mairaw commented on #6450
Did you create that newclass file? That is not part of the tutorial.

[2021-08-11 22:20] rndev707 commented on #6562
How can be `microsoft-maccatalyst-sdk-full` detected though the workload id doesn't exist? Is there any way to remove the id from workload?

[2021-08-11 23:07] akoeplinger commented on #6525
I don't think there's much to transfer here, the issue is using an ancient mono.

[2021-08-11 23:07] #6525 closed

[2021-08-11 23:09] mairaw commented on #6571
What is the build error you got?

[2021-08-11 23:10] mairaw commented on #2373
@leecow any updates here?

[2021-08-11 23:10] mairaw commented on #2508
Any updates here @richlander?

[2021-08-11 23:11] mairaw commented on #2576
@leecow @adegeo can we close this one?

[2021-08-11 23:12] mairaw commented on #2882
@leecow @dagood any updates here?

[2021-08-11 23:12] mairaw commented on #2955
@terrajobst @richlander any updates here?

[2021-08-11 23:13] mairaw commented on #3241
@jaredpar can you give an update here?

[2021-08-11 23:13] leecow commented on #2576
Yes, I think things are generally cleaner but there are still some instances that will roll off over time.

[2021-08-11 23:13] #2576 closed

[2021-08-11 23:14] leecow commented on #2373
Still on the backlog for json updates.

[2021-08-11 23:14] mairaw commented on #3402
@suihanhbr is this still an issue for you?

[2021-08-11 23:15] mairaw commented on #3403
What are the next steps on this issue? Should we move this to a different repo?

[2021-08-11 23:20] mairaw commented on #3554
Given we have a tracking doc work item, I'll close this issue. Please let me know if I missed anything else.

[2021-08-11 23:20] #3554 closed

[2021-08-11 23:22] eerhardt commented on #3403
I think this issue can be closed. We have done a lot of work with PublishTrimmed in .NET 5 and 6. @kennymoto - can you try your app against the latest .NET 6 previews and see if you are still having problems? If so, please open a new issue in https://github.com/dotnet/runtime and upload an app that reproduces the problem. We can take a look there.

[2021-08-11 23:22] #3403 closed

[2021-08-11 23:22] mairaw commented on #3447
It seems solutions have been provided to solve this issue. I am going to close this. But please let me know if I missed anything.

[2021-08-11 23:22] #3447 closed

[2021-08-11 23:23] eerhardt commented on #3403
Also - please note that using `dynamic` in a trimmed application will produce a warning saying that it can break your application when trimming. In my experience, almost all usages of `dynamic` will result in a broken app - which is why we made it warn.

[2021-08-11 23:24] mairaw commented on #3441
.NET Core 3.0 is no longer supported but I'm wondering if this is still a valid question for preview and GA releases. @shirhatti

[2021-08-11 23:26] mairaw commented on #3572
Closing since both files have been updated since then. Please reopen if there are still issues with any of the files.

[2021-08-11 23:26] #3572 closed

[2021-08-11 23:27] mairaw commented on #3688
@saxenark we'd need you to try this on a more recent version.

[2021-08-11 23:31] richlander commented on #2508
We don't plan to enable C++/CLI on Linux (or any other OS other than Windows). It would require us to do one of two things:

- Enable the MSVC compiler on Linux. That would be a very large project since MSVC has only ever targeted and run on Windows.
- Enable the C++/CLI feature in Clang/LLVM or GCC. That, too, would be a very large project.

We haven't identified any reasonable cost version of th

[2021-08-11 23:32] richlander commented on #2508
We have worked with folks that have adopted P/Invoke or COM instead. This project could also help. https://github.com/AaronRobinsonMSFT/DNNE. Those kinds of approaches are our best guidance.

[2021-08-11 23:37] mairaw commented on #3675
@jamshedd @leecow do we need to make any updates here?

[2021-08-11 23:38] mairaw commented on #3728
Any updates here @dagood? is this still an issue? /cc @leecow @rbhanda

[2021-08-11 23:40] mairaw commented on #3765
Closing this since we added Windows ARM64 installers in .NET 5+.

[2021-08-11 23:40] #3765 closed

[2021-08-11 23:42] mairaw commented on #2508
Thanks @richlander for the pointers. I think we can close the issue then since we don't plan on doing this.

[2021-08-11 23:42] #2508 closed

[2021-08-11 23:46] jamshedd commented on #3675
No change is needed. Win7 SP1 continues to be supported for 3.1 until end of the ESU (Jan 2023).

[2021-08-12 00:16] richlander commented on #2955
This advice from Omair continue to be very good: https://github.com/dotnet/core/issues/2955#issuecomment-506543167.

I also added this file to help. https://github.com/dotnet/core/blob/main/license-information-windows.md.

Closing this issue, since I believe this is a satisfactory answer.

[2021-08-12 00:16] #2955 closed

[2021-08-12 00:23] #6537 closed

[2021-08-12 01:00] dagood commented on #3728
The page hasn't been changed, so it continues to get further out of date. 😄 I think it's still a problem.

[2021-08-12 01:49] #3675 closed

[2021-08-12 08:29] sharvari257 opened #6572 "Couldn't find a project to run. Ensure a project exists in D:\Blazor\WebServerApplication1, or pass the path to the project using --project."
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-08-12 08:46] cmenzi opened #6573 "Lastest SDK should be 5.0.400"
https://github.com/dotnet/core/blob/4473ec57ea95daf7f8cf24f86d2a3cf7d7d794e3/release-notes/releases-index.json#L21

[2021-08-12 09:05] adamsitnik commented on #6572
Hi @sharvari257

Could you please list the content of `D:\Blazor\WebServerApplication1` ?

[2021-08-12 09:49] burnyourmom commented on #6548
I also can't install it.

[2021-08-12 12:31] xtqqczze commented on #4668
Fixed in #6458.

[2021-08-12 13:53] jeffschwMSFT commented on #6548
@dleeapho

[2021-08-12 14:01] JackTheDvp opened #6574 "Unable to run asp.net program"
![cmd_zOuaZ2CIdP](https://user-images.githubusercontent.com/69467068/129210067-d920c51a-44eb-48b0-a3c5-969cc76ca15f.png)
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant

[2021-08-12 14:36] svick commented on #6574
Can you post the full exception info? Just part of its stack trace is not very useful.

Though as a guess, this could happen if you're trying to bind to a port that's already in use. So changing the port number or shutting down any previous instance of the app could help.

[2021-08-12 14:49] JackTheDvp commented on #6574
watch : Started
Building...
warn: Microsoft.AspNetCore.Server.Kestrel[0]
      Unable to bind to http://localhost:5000 on the IPv4 loopback interface: 'An attempt was made to access a socket in a way forbidden by its access permissions.'.
warn: Microsoft.AspNetCore.Server.Kestrel[0]
      Unable to bind to http://localhost:5000 on the IPv6 loopback interface: 'An attempt was made to access a socke

[2021-08-12 15:09] svick commented on #6574
Can you try another port? You can do that on the command line by running e.g. `dotnet run --urls http://localhost:5001` or by editing Properties/launchSettings.json and changing the line `"applicationUrl": "http://localhost:5000",` to a different number.

[2021-08-12 15:50] adamsitnik commented on #6572
For some reason your folder does not contain project file (should be  `webserverapplication1csproj` in your case). Could you please try to create a new solution and start from scratch?

[2021-08-12 16:01] sharvari257 commented on #6572
Sure, I will do that.
Thanks for your help btw.

On Thu, Aug 12, 2021 at 9:20 PM Adam Sitnik ***@***.***>
wrote:

[2021-08-12 16:18] JackTheDvp commented on #6574
Thank you very much. It magically worked. I did not have to change the port, rather I uninstalled the app I thought was occupying the port.

[2021-08-12 16:46] #6574 closed

[2021-08-12 17:20] rbhanda commented on #6573
https://github.com/dotnet/core/pull/6575 to fix this

[2021-08-12 17:20] #6573 closed

[2021-08-12 18:29] JustNrik opened #6577 "INumber<TSelf> shouldn't inherit IUnaryNegationOperators<TSelf, TSelf>."
### Description

I was fiddling around with the new `INumber<TSelf>` interface, but I found something that is definitely out-of-place.

`INumber<TSelf>` inherits `IUnaryNegationOperators<TSelf, TSelf>` which makes you implement this operator:

[code]

At first sight it looks completely fine, but this is actually NOT fine for unsigned numbers. There's a really valid reason why `uint` returns `long`

[2021-08-12 19:56] dagood commented on #2882
/cc @dleeapho

[2021-08-12 23:46] #6539 closed

[2021-08-13 04:40] luisao8788 opened #6578 "executing gunthy-macos error"
Hi I´m just having the error below when executing the gunthy-macos in my mac to start gunbot. I can not neither open localhost:5000 because I don´t know where to add the port 5000 to my mac to allow traffic in trough this port.

the error when i execute the gunthy-macos is the following:

luisramirez@MacBook-Pro-de-Luis ~ % /Users/luisramirez/OneDrive/Documentos/BTC/gunbot/gunthy_macos/gunthy-maco

[2021-08-13 06:14] adamsitnik commented on #6578
Hi @luisao8788

From the stacktrace that you have provided it seems that this particular product is implemented in Javascript, not in .NET. I am afraid we won't be able to help you.

Thanks,
Adam

[2021-08-13 09:55] Nezz commented on #6568
Any updates on this? We'd love to use the latest version with the security fixes but we can't do that currently.

[2021-08-13 11:04] angelaki opened #6579 "AssemblyDependencyResolver not using nuget package storage"
I'm using the `AssemblyDependencyResolver` for some kind of framework. With .Net 5.0 the `AssemblyDependencyResolver` based on my plugin's path `(new AssemblyDependencyResolver(plugInPath))` hold the nuget package storages `(e.g. C:\Users\[user]\.nuget\packages\microsoft.entityframeworkcore\6.0.0-preview.7.21378.4)` in it's internal `_assemblyPaths`. Now all assemblies point to the assemblies path

[2021-08-13 11:14] angelaki commented on #6579
If someone else is having this issue right now: adding a property ground `<CopyLocalLockFileAssemblies>true</CopyLocalLockFileAssemblies>` in the project currently solves this by actually copying all the packages in the output dir. But I'd rather like them to be linked correctly 👍

[2021-08-13 12:02] ivwivw commented on #6450
Yes. To show (test) the issue.
________________________________
From: Maira Wenzel ***@***.***>
Sent: Wednesday, August 11, 2021 8:14 PM
To: dotnet/core ***@***.***>
Cc: ivw ***@***.***>; Author ***@***.***>
Subject: Re: [dotnet/core] Imports.razor error on using the Shared folder. (#6450)

Did you create that newclass file? That is not part of the tutorial.

—
You are receiving this because you a

[2021-08-13 13:28] Zombot1000 opened #6580 ".net Turtorial error"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: windows

Error message: "error CS0017 program has more than one entry point defined. Compile with /main to specify the type that contains the entry point

The build failed. Fix the build errors and try again"

Apoligies if this is a obvious fix. I'm new to the .net

[2021-08-13 13:55] #6541 closed

[2021-08-13 17:14] #6580 closed

[2021-08-13 17:48] mairaw commented on #6450
So if you just run `dotnet new blazorserver -o BlazorApp --no-https` and try to run the app, you get an error?

[2021-08-14 04:10] ar0311 commented on #4446
Also getting this issue with .NET 6.0 preview 7 snap.

sudo snap revert dotnet-sdk worked, however it's no longer preview 7 but preview 6 which is a bit pointless

[2021-08-14 04:11] ar0311 commented on #6568
Also getting this issue with .NET 6.0 preview 7 snap.

sudo snap revert dotnet-sdk worked, however it's no longer preview 7 but preview 6 which is a bit pointless

[2021-08-14 06:36] muminfarooq190 opened #6581 "Segmentation fault"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-08-14 06:38] muminfarooq190 opened #6582 "Segmentation fault"
Hello i have downloaded 3.1 sdk on fedora 34 now i was trying to create a project using command sudo dotnet new console -o myapp
But it shows segmentation fault
Os:Fedora34
IDE : Visual Studio Code

[2021-08-14 07:52] humiraha opened #6583 "the command promate is showing that console-o not defined"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-08-14 09:32] qcjxberin opened #6584 "System.Drawing.Common is not supported on non-Windows platforms"
System.PlatformNotSupportedException: System.Drawing.Common is not supported on non-Windows platforms. See https://aka.ms/systemdrawingnonwindows for more information.
   at System.Drawing.LibraryResolver.EnsureRegistered() in System.Drawing.Common.dll:token 0x600058c+0x11
   at System.Drawing.SafeNativeMethods.Gdip.PlatformInitialize() in System.Drawing.Common.dll:token 0x6000b00+0x0
   at System

[2021-08-14 10:41] svick commented on #6584
The exception message is correct: System.Drawing.Common is no longer supported on .Net 6 on Linux and macOS. For more information, see [this document](https://github.com/dotnet/designs/blob/main/accepted/2021/system-drawing-win-only/system-drawing-win-only.md) and https://github.com/dotnet/docs/issues/25257.

As that document states, if you want to continue using it on .Net 6, you can provide a [r

[2021-08-14 11:18] mahdi-gnb commented on #5634
You need to install MySql.Data and MySql.EntityFrameworkCore.MySql.Data.EntityFrameWorkCore is a deprecated package and dont get updates i guess.

[2021-08-14 12:34] Sakshi3052 opened #6585 ".netframework installation issue"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-08-14 16:53] korahx64 opened #6586 "Issue on Edit You Code Section Of Tutorial"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/modify
Operating System: windows

After updating the Pages/Index.cshtml from (A) to (B) - I got (C) Errors in the command line.
### ( A )

using System;
using System.Collections.Generic;
using System.Linq;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Mvc;
using Microsoft.AspNetCore.Mvc.RazorPages;
usi

[2021-08-14 17:10] svick commented on #6586
@korahx64 You have updated the Index.cshtml.cs file, not the Index.cshtml file. Can you try again from the start, while making sure you edit the correct file?

@mairaw This mistake seems to happen fairly frequently. Would it make sense to update the tutorial to something like the following?

I couldn't find the code of the tutorial on GitHub, otherwise I would submit a PR.

[2021-08-14 17:30] mairaw commented on #6585
This tutorial is for people trying to learn how to code with .NET 5. How did you get to this page?

Also, can you give us more information about which version of .NET framework you need?

[2021-08-14 17:31] mairaw commented on #6586
Yes, I’m aware. I need to update it to mention the hidden file extensions in Windows.

[2021-08-14 17:33] mairaw commented on #6584
It seems @svick has answered your question, so I’m closing this issue. Let me know if I missed anything.

[2021-08-14 17:40] mairaw commented on #6584
Reopening since the link goes to our internal tool somehow.
Tagging @ericstj @danmoseley @terrajobst @safern who seem to own that link.

[2021-08-14 17:53] xtqqczze commented on #6431
Need to update https://github.com/dotnet/core/blob/main/release-notes/6.0/supported-os.md to bump supported Fedora to 33+.

[2021-08-14 18:41] safern commented on #6584
I'll work with @gewarren to post the doc ASAP on Monday and point the url to the doc.

[2021-08-14 19:07] mairaw commented on #6583
Did you type the command as instructed on the page?
`dotnet new console -o myApp`

[2021-08-14 19:32] mairaw commented on #6581
Duplicate of #6582

[2021-08-14 19:32] #6581 closed

[2021-08-14 19:34] mairaw commented on #6582
This seems like a duplicate of https://github.com/dotnet/runtime/issues/51322

[2021-08-14 19:36] mairaw commented on #6582
@NikolaMilosavljevic the dupe issue seems to be closed now. What’s the recommendation when customers face the snap problem?

[2021-08-14 22:31] Sakshi3052 commented on #6585
.netframwork 4.8 for Windows 7

On Sat, 14 Aug 2021, 11:00 pm Maira Wenzel, ***@***.***>
wrote:

[2021-08-15 07:40] sbhhdp commented on #3988
Err:1 http://mirrors.evowise.com/linuxmint/packages ulyssa/upstream amd64 firefox amd64 90.0+linuxmint1+uma
  File has unexpected size (610816 != 57055532). Mirror sync in progress? [IP: 104.17.98.61 443]
  Hashes of expected file:
   - SHA256:996c71120e45504b713c15490182dad7486d988906896a0df7ae7c921870af43
   - SHA1:327994ba213268c3098f0da7f4cc5ef9f69fd939 [weak]
   - MD5Sum:15a3f6993b0f1059a9d06

[2021-08-15 11:52] Wolfknight9 opened #6588 "Skyrim modding DepotDownloader.bat not working even with every step taken"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant. DepotDownloader.bat is still saying its not an internal or external file on the Win+r menu. I need help so I can co

[2021-08-15 12:15] slishnevsky opened #6589 "Could not execute because the application was not found or a compatible .NET SDK is not installed"
SDK is installed

Here is the link:

https://stackoverflow.com/questions/68791384/could-not-execute-because-the-application-was-not-found-or-a-compatible-net-sdk

[2021-08-15 12:41] #6589 closed

[2021-08-15 15:49] tbot1738 opened #6590 "Index.cshtml.cs(2,8): error CS1003: Syntax error, ','"
I know this error seems simple but it is so complicated for me at least. I just pasted the code
[code]
and then it restarted with an error. It says its an syntax error,i tried changing the syntax as shown in the error but still not working,in case error is required,here it is
[code]

[2021-08-16 00:53] abelsayed opened #6591 "Unable to sign console apps in macOS with .net 6 preview 7"
### Issue title
Unable to sign published single app executable in macOS using .net 6 preview 7
### OS
macOS 12 beta 4 running on Apple Silicon
macOS 11.5.2 running on Intel processor
macOS 10.15 (using Azure DevOps image)
### .NET Version
.NET SDK 6.0.100-preview.7.21379.14

### Issue Details
After publishing a console application using `dotnet publish` and generating a single file, whenever I try

[2021-08-16 07:03] adamsitnik commented on #6588
Hi @Wolfknight9

What is `DepotDownloader.bat` and how is it related to .NET Core?

[2021-08-16 08:42] adamsitnik commented on #6591
@wli3 @dsplaisted could you please take a look?

[2021-08-16 08:51] cnmade opened #6592 "Document: to declare the support timeline schedular"
Hello, would you please provide us the .net support timeline as detail as possible.
like Ubuntu release table

![image](https://user-images.githubusercontent.com/278153/129537356-53ab5419-d1e4-49e0-837a-df76665f7590.png)

[2021-08-16 09:06] adamsitnik commented on #6592
Hi @cnmade

Does https://dotnet.microsoft.com/platform/support/policy/dotnet-core answer your question?

[2021-08-16 09:15] #6543 closed

[2021-08-16 09:39] cnmade commented on #6592
Yes, looks forward .net 6, .net 7, .net 8 road map. any detail plan for that ? i can see the table for .net 5.

and https://github.com/dotnet/core/blob/main/releases.md  these page should update the same?

[2021-08-16 09:39] #6592 closed

[2021-08-16 09:41] adamsitnik commented on #6592
@richlander could you please answer this question?

[2021-08-16 10:40] ivwivw commented on #6450
Hi Maira.

I just tried reproducing the issue. By executing dotnet new blazorserver -o BlazorApp --no-https and making some changes.
The issue did not showed it self again. So I think it could have been caused by and extension and or my Visual studio code version.

[2021-08-16 11:05] Kokujou opened #6593 "NullReferenceException is not producing any helpful information for releases"
This issue is now persistent for a very long time and caused a lot of problems in a project i'm working on.
Everytime a NullReferenceException occurs it never says anything about the parameter name the exception was thrown on.
Dpeending on the quality of the code this can cause really huge issues for testing and reproducing reported errors.

i know when you're debugigng code the debugger tells you

[2021-08-16 12:34] NiftyRunner commented on #6563
![image](https://user-images.githubusercontent.com/87975379/129564411-c4fffd7e-6ae3-442a-8a53-a3211ae042a9.png)
![image](https://user-images.githubusercontent.com/87975379/129564496-3cae3c76-d999-4d92-bcb1-47b892d849a4.png)

[2021-08-16 12:36] NiftyRunner commented on #6563
![image](https://user-images.githubusercontent.com/87975379/129564632-7540138e-76d2-4a0e-a19e-9bbbdccc0d2a.png)
![image](https://user-images.githubusercontent.com/87975379/129564705-f6e0e4bb-3a0d-4cd8-b273-59f0de6c304f.png)

[2021-08-16 13:05] NiftyRunner commented on #6563
@adamsitnik Thank You the problem is now solved

[2021-08-16 13:05] #6563 closed

[2021-08-16 15:04] richlander commented on #6592
Yes, the [releases.md](https://github.com/dotnet/core/blob/main/releases.md) file is a good place to look. It includes .NET 6. We don't include releases we haven't started yet, which seems to match the Ubuntu table you shared.

That said, the future plan will be:

- Current release (like .NET 7), supported for 18 months.
- LTS release (like .NET 8), supported for 3 years.

Our plan is to continue

[2021-08-16 15:19] gewarren commented on #6584
@safern Here is the PR; it's ready for review: https://github.com/dotnet/docs/pull/25367

[2021-08-16 15:34] dsplaisted commented on #6591
The .NET SDK now codesigns by default: https://github.com/dotnet/sdk/pull/18216

You can set `_EnableMacOSCodeSign` to false to opt out.

@mateoatr @vitek-karas Is the experience described here expected?

[2021-08-16 15:50] mateoatr commented on #6591
Hi. Thanks for reporting this. We are already tracking the issue in https://github.com/dotnet/runtime/issues/57242 and working on a fix. Closing this as dup.

[2021-08-16 15:50] #6591 closed

[2021-08-16 17:38] bobleujr opened #6594 "dotnet restore giving: The repository primary signature validity period has expired"
### Description

### Configuration

### Regression?

### Other information

[2021-08-16 17:49] omajid commented on #6594
Sounds like https://github.com/NuGet/Home/issues/10712

What OS and .NET version are you using?

[2021-08-16 18:02] bobleujr opened #6595 "dotnet restore gives "The repository primary signature validity period has expired"."
### Description
It's been almost 3 weeks that my CI/CDs fail intermittently when restoring the nuget packages.  Here's one example

[code]

It fails with different packages in the retry restore right after, and eventually, it passes.

### Configuration
My .csproj / .sln files are very straightforward. I will paste an example .csproj from one of the projects failing here
[code]
I am using VSTS agen

[2021-08-16 18:25] safern commented on #6584
aka.ms/systemdrawingnonwindows should now resolve to the published docs. Thanks for the report.

[2021-08-16 18:25] #6584 closed

[2021-08-16 20:06] mairaw commented on #6595
@omajid posted this on the first issue:

[2021-08-16 20:07] mairaw commented on #6594
Duplicate of #6595

[2021-08-16 20:07] #6594 closed

[2021-08-16 20:09] mairaw commented on #6590
Are you doing one of the tutorials @tbot1738? If so, can you make sure that you're editing the cshtml file and not the cs file? Windows will sometimes hide the file extension.
See if you can start over and go past this problem by making sure you're editing the .cshtml file and not the .cshtml.cs file.

[2021-08-16 20:11] mairaw commented on #6588
Also, if you can paste what's the error message that you're getting.

[2021-08-16 21:31] mairaw commented on #6578
How does this relate to .NET @luisao8788?

[2021-08-16 21:32] mairaw commented on #6572
Did starting over work?

[2021-08-16 21:36] mairaw commented on #6498
Not sure if I understand the question @melomelo926. Do you have an ops person you can talk to in your company to see if they can grant you access? What kind of environment are you using for hosting your app? I'm also not exactly sure what exactly you're trying to access.

[2021-08-16 21:58] bobleujr commented on #6595
The agent running the job is specified as
<img width="310" alt="Screen Shot 2021-08-16 at 5 55 34 PM" src="https://user-images.githubusercontent.com/6935646/129634337-29d93a20-4abf-4fef-9527-c506471ac261.png">

Which should contain [these sdks](https://github.com/actions/virtual-environments/blob/main/images/win/Windows2016-Readme.md#net-core-sdk)

the agent OS is
<img width="715" alt="Screen Shot

[2021-08-16 23:37] vsfeedback opened #6597 "wpf net6 textbox: string literals get mangled using net 6 but not net 5"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/wpf-net6-textbox:-string-literals-get-ma/1503609)._

---
I've added the code files that produced this below. it's a practice exercise from a book called head first c#.

net6 output:

units of honey
25.0 units of nectar100.0Vault report:

0.0
Unassigned workers: 0.0
Egg count: 1 Honey Man

[2021-08-17 03:05] voronoipotato commented on #3765
I had noticed and had been using them, thank you! I forgot to comment on this.

[2021-08-17 04:24] #6546 closed

[2021-08-17 05:13] richlander commented on #6595
I cannot reproduce those errors using the 5.0.302 SDK (using docker) with the given project.

Are you using that the signature validation nuget.config file you shared? That's not clear from what you wrote.

[2021-08-17 06:16] Zadera85 opened #6598 "Couldnt Build Docker image"
![DockerError](https://user-images.githubusercontent.com/40142385/129673394-78d612ec-1810-4a48-993a-91ae928380a8.JPG)
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/docker-image
Operating System: windows

Please see attached image. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-08-17 09:53] sharvari257 commented on #6572
Yes, it worked.
Thanks for your help.

On Tue, Aug 17, 2021 at 3:02 AM Maira Wenzel ***@***.***>
wrote:

[2021-08-17 10:44] #6572 closed

[2021-08-17 12:32] bobleujr commented on #6595
thank you for the answer @richlander. In one of the projects, we don't have a nuget.config file. In the other, on the other hand, it looks like (it's also failing from time to time):

[code]
Do you think adding the certificate's fingerprint to a nuget.config explicitly could solve the problem? Shouldn't not having a nuget.config yield the same behavior?

[2021-08-17 13:07] santiagofigueroa commented on #4038
@lbphp Hi used these commands and it helped.
1st
sudo lsof -iTCP -sTCP:LISTEN -P | grep :5000

then kill it with

sudo kill -9 PID

Then restart your services as usual and should be fine.

[2021-08-17 13:56] jjmanton commented on #5396
@cathysull One of the biggest challenges we have is in the project system. Our ASP.NET Framework applications cant run on an SDK style project, and that hinders us from adopting all the new tooling. While on the surface this seems trivial, but we have 300+ projects in a solution, and are slowly trying to get our infrastructure and build CI on the latest tooling so we can slowly start porting more

[2021-08-17 15:21] richlander commented on #6595
For kicks, can you try moving to a later version of the SDK? 5.0.302 is now old.

[2021-08-17 15:24] richlander commented on #6595
Another thing I noticed is that you are using a VS2017 image with .NET 5. .NET 5 is supported with VS2019+. You should also upgrade your image to VS 2019. That may be the bigger issue at play.

[2021-08-17 16:01] jmegill62 opened #6599 "program.cs"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

MicrosoftWindows 10
Acccess is Denied is the error message
C:\Users\John\myApp>program.cs
Access is denied.

[2021-08-17 18:28] #6550 closed

[2021-08-17 21:08] mairaw commented on #6598
Can you show the contents of that folder and what it's in your Dockerfile?

[2021-08-17 21:09] mairaw commented on #6599
The command to run the app is `dotnet run`. Try that and let us know if that works.

[2021-08-17 21:33] paulcastro1 commented on #6558
Do not close

On Tue, Aug 17, 2021 at 3:30 PM no-response[bot] ***@***.***>
wrote:

[2021-08-17 22:01] YousefSaber commented on #4446
didn't work with me

[code]

also, the issue is still present with the latest stable `dotnet` app version
[code]
[code]

[2021-08-17 22:16] terrajobst commented on #5396
Two questions:

1. Have you considered moving your ASP.NET projects to ASP.NET Core on top of .NET Framework first?
2. What prevents you from porting your libraries from .NET Framework to .NET Standard (or multi-targeting them to .NET Framework & .NET Standard)? I'd think you can do this without porting the applications.

[2021-08-18 01:00] umer6016 opened #6600 "The build failed. Fix the build errors and run again"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/edit
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-08-18 06:34] km-hussain-in opened #6601 "string interpolation and dynamic object property"
This code

dynamic t = DateTime.Now;
Console.WriteLine($"Day = {t.Day}");

causes following exception

Unhandled exception. System.TypeLoadException: The generic type '<>A{00000002}`3' was used with an invalid instantiation in assembly 'Hello, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null'.

Work around
Replace
Console.WriteLine($"Day = {t.Day}");
by
Console.WriteLine("Day = {0}", t.Day);

[2021-08-18 12:50] ianbrian opened #6602 "Installing Docker on Windows 10 Home caused extra monitors"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/install-docker
Operating System: windows

I installed Docker, rebooted and my laptop and attached monitor showed same thing. I had had the displays extended before. I opened display settings and there were two extra monitors, so 4 in all. Uninstalled Docker to no avail. Searched internet for answers. Similar pro

[2021-08-18 12:54] MihaZupan commented on #6601
Hi. This is a bug in the Roslyn compiler for 6.0 when using the improved interpolated strings together with dynamic.
It is tracked by https://github.com/dotnet/roslyn/issues/55609.

[2021-08-18 12:55] #6601 closed

[2021-08-18 13:27] jmegill62 commented on #6599
Yes that worked.  Although I had to try it a few times but it finally registered.  Thankyou for your help.

[2021-08-18 16:30] jjmanton commented on #5396
@terrajobst Great questions. And we are definitely pursuing both!

- On the ASP.NET side, I have one of our smaller web projects that I am already working on. There will be more to come once we prove that there aren't any major hiccups in the pipeline and deployment. A few web applications will never make it to Core, and I think we are OK with that.
- On the library side, we have a number of APIs

[2021-08-18 17:39] mairaw commented on #6599
Great to hear.

[2021-08-18 17:39] #6599 closed

[2021-08-18 18:06] mairaw commented on #6600
What are the build errors you're getting?

[2021-08-18 18:07] mairaw commented on #6602
@shirhatti @nishanil would you know?

[2021-08-18 19:00] #6566 closed

[2021-08-18 20:25] terrajobst commented on #5396
The challenge is that we don't plan to ever support all of the .NET Framework tooling with dotnet.exe and the .NET SDK. There is a difference between allowing libraries to target .NET Framework and, for example, having support for the old WCF designer, workflow designer, or Web Forms designers. Part of this would require work in the project system, part of it would require work in the SDK.

At a h

[2021-08-18 20:44] Silvertower opened #6603 "Interpolated strings are garbled when concatenated"
### Description

When concatenating multiple interpolated strings in .NET 6.0 preview 7, the resulting text is garbled.

Example code to reproduce:

[code]

Expected output:

[code]

Actual output:

[code]

### Configuration

.NET 6.0 preview 7
Windows 10 21H1
x64

### Regression?

The example code above works as expected in .NET 5.0.

### Other information

No error messages; just unexpected beha

[2021-08-18 20:52] MihaZupan commented on #6603
Hi, this is a Roslyn bug that will be fixed in  .NET 6 RC 1, see https://github.com/dotnet/roslyn/issues/55493#issuecomment-895527098

[2021-08-18 20:52] #6603 closed

[2021-08-18 21:46] terrajobst opened #6604 "Main is now targeting .NET 7"
This is a heads up that the primary repos of the stack have branched for .NET 6 GA/servicing/RCs, and that the `main` branch for those repos has become .NET 7.

## Anything special to note about .NET 7?

The biggest difference between .NET 6 and .NET 7 flow is that the SDK repos will have their own channel (.NET 7.0.1xx SDK) from the very beginning. While .NET 6 had this channel, we never used it

[2021-08-18 22:31] yiyoMX commented on #6554
Im getting this error:
"System.ArgumentException: 'The path must be absolute.'" at Program.cs - CreateHostBuilder(args).Build().Run();
Im using docker support for linux containers.
Im on Visual Studio 2021 Version 17.0.0 Preview 3.1
This happens to projects running fine on the previous release of .net 6, and also to newly created blazor server side web apps.

[2021-08-18 22:51] RensDeMolay opened #6605 "A criação do aplicativo do .NET esta dando erro no prompt"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows10

A criação do aplicativo do .NET esta dando erro no prompt, quando eu executo o comando "dotnet new console -o myApp", dá erro

[2021-08-19 00:01] #3688 closed

[2021-08-19 00:01] #3402 closed

[2021-08-19 00:01] #6571 closed

[2021-08-19 00:20] mairaw commented on #6605
Você pode nos dizer qual o erro que vc está vendo?

[2021-08-19 01:35] mairaw commented on #4537
.NET Framework is a component of the Windows operating system, so that's why it's not shown on the control panel.

Hopefully that clarifies all your questions.

[2021-08-19 01:35] #4537 closed

[2021-08-19 01:35] mairaw commented on #4574
Is this still an issue for you?

[2021-08-19 01:48] mairaw commented on #5007
Do you still need help with this?

[2021-08-19 02:59] williambuchanan2 opened #6606 "Error in tutorial"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/docker-image
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

error during connect: This error may indicate that the docker daemon is not running.: Post "http://%2F%2F.%2

[2021-08-19 09:30] Parth1441 opened #6607 "If you succeed, you should see an output similar to the following not worring"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/edit
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-08-19 09:31] Parth1441 opened #6608 "were i save this file Program.cs"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/edit
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-08-19 10:14] VasiliyKapitanskiy commented on #6562
On Mac, fixed by manual removing old preview versions (I guess the ps1 script [here](https://github.com/Redth/dotnet-maui-check) should work as well) and running `maui-check  --force-dotnet`

[2021-08-19 10:16] MihaZupan commented on #6607
Hi, what is the error you are running into?

[2021-08-19 15:55] raband-cdw opened #6609 "Issue with "create your app" step"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Running through the steps on my windows 10 machine with the "dotnet-sdk-5.0.400-win-x64" install files the first st

[2021-08-19 17:17] mairaw commented on #6609
@raband-cdw You might be running into this issue: #5962

Can you let us know what is the output of `where.exe dotnet`?

[2021-08-19 17:20] mairaw commented on #6608
The Program.cs already exists inside the `myApp` folder. You should open that existing file and change its contents. Let us know if you can now find the file and continue the tutorial.

[2021-08-19 17:20] mairaw commented on #6606
Can you help with this issue @shirhatti @nishanil?

[2021-08-19 17:45] raband-cdw commented on #6609
![image](https://user-images.githubusercontent.com/62358395/130118364-3e04c5d2-9e57-4c33-92dc-f6da23df3302.png)

[2021-08-19 19:50] mairaw commented on #6609
It looks like you have both x86 and x64 versions installed. Fixing the path should fix your problem as outlined in https://github.com/dotnet/core/issues/5962#issuecomment-780084535

Let us know if that worked!

[2021-08-19 19:50] #6609 closed

[2021-08-19 22:11] rbhanda opened #6611 "Trouble downloading packages from download.visualstudio.com"
Hello,
We are aware of an issue where we are seeing a "504 - Gateway Timeout" for the downloads from https://dotnet.microsoft.com/download

We are following up on this and keep this issue updated as we drive to a resolution.

[2021-08-19 22:24] raband-cdw commented on #6609
That did it thanks!

[2021-08-19 22:25] mairaw commented on #6609
Great to hear!

[2021-08-19 22:59] rbhanda commented on #6611
The issue has been resolved. All the downloads are working correctly.

[2021-08-19 22:59] #6611 closed

[2021-08-20 02:17] wsbky opened #6612 "Unable to locate package dotnet-sdk-5.0"
### Description

I'm trying to install `dotnet-sdk-5.0` in my Ubuntu 20.04 docker container. Following [this document (installing dotnet core)](https://docs.microsoft.com/en-us/dotnet/core/install/linux-ubuntu) , I get an error `Unable to locate package dotnet-sdk-5.0`. I tried a manual install in [apt troubleshooting](https://docs.microsoft.com/en-us/dotnet/core/install/linux-ubuntu#apt-troublesh

[2021-08-20 05:03] klementi opened #6625 ".NET Core 2.1.30 release is missing release tags"
All repositories for .NET Core 2.1.30 release (https://github.com/dotnet/announcements/issues/193) are missing release tags
v2.1.30
v2.1.30-dependencies (where appropriate)
Please add release tags to enable local build

[2021-08-20 06:27] quanljh opened #6613 "The console window displays garbled characters when type"
### Description

When type "dotnet --info" in console window, it displays garbled characters in the output information. My computer language is Japanese.

### Configuration

You can find my configuration in the attachment
![image](https://user-images.githubusercontent.com/38105306/130189697-7cf34b82-043c-4158-87d2-ed344593b4d4.png)

[2021-08-20 06:28] quanljh opened #6614 "The console window displays garbled characters when type "dotnet --info""
### Description

When type "dotnet --info" in console window, it displays garbled characters in the output information. My computer language is Japanese.

### Configuration

You can find my configuration in the attachment
![image](https://user-images.githubusercontent.com/38105306/130189697-7cf34b82-043c-4158-87d2-ed344593b4d4.png)

![image](https://user-images.githubusercontent.com/38105306/13018

[2021-08-20 06:30] #6613 closed

[2021-08-20 06:31] quanljh commented on #6613
Duplicate of #6614

[2021-08-20 09:59] DennisSc commented on #6560
Hello,

is it normal to get data dripping in at only 104 kByte/sec when trying to download .NET Core SDK 3.1 on ubuntu?

Get:1 https://packages.microsoft.com/ubuntu/20.04/prod focal/main amd64 dotnet-host amd64 5.0.9-1 [52.6 kB]
Get:2 https://packages.microsoft.com/ubuntu/20.04/prod focal/main amd64 dotnet-hostfxr-3.1 amd64 3.1.18-1 [121 kB]
Get:3 https://packages.microsoft.com/ubuntu/20.04/prod f

[2021-08-20 14:58] MihaZupan commented on #6441
Closing this as by-design.

[2021-08-20 14:58] #6441 closed

[2021-08-20 16:19] ksvasuGIT opened #6615 "Got Error while creating Docker Image"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/docker-image
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
![DockerError](https://user-images.githubusercontent.com/61434434/130263495-3135f478-3ca1-4ae0-b6a2-5fb2c0a68

[2021-08-20 17:03] mairaw commented on #6612
@rbhanda @leecow can you help with this?

[2021-08-20 18:54] mairaw commented on #6615
@shirhatti @nishanil can you help with this issue?

[2021-08-20 19:58] MihaZupan commented on #6614
cc: @wli3 @dsplaisted

[2021-08-20 21:15] dsplaisted commented on #6614
This seems like a code page issue with the console.  Do any console programs correctly display Japanese characters?

[2021-08-21 02:12] quanljh commented on #6614
No, console program also displays ??.
![image](https://user-images.githubusercontent.com/38105306/130307329-b4c27534-c5f8-45fb-88e8-5dd95d3f9742.png)

[2021-08-21 19:37] #6583 closed

[2021-08-21 21:15] macakmujo opened #6616 "dotnet doesn't work on Darwin beros-Air.lan 16.7.0 Darwin Kernel Version 16.7.0: Sun J"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Darwin beros-Air.lan 16.7.0 Darwin Kernel Version 16.7.0: Sun Jun  2 20:26:31 PDT 2019; root:xnu-3789.73.50~1/RELEASE

[2021-08-21 22:01] EpikDarkMist opened #6617 "Im getting errors"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

When i try making the console file i get the error
It was unable to find any installed .NET Core .Skd

[2021-08-23 00:10] tpups opened #6618 "Localhost certificate used by Visual Studio to debug Blazor app cannot be trusted"
### Description
I have having some trouble debugging into Blazor WebAssembly apps, and I'm wondering if the issue is with my HTTPS certificate. I found when I create a template project without checking the HTTPS box in Visual Studio, I can debug into the client (WebAssembly) project. When I check the HTTPS box while creating a template project, I can't debug into the WASM project.

Which leads me

[2021-08-23 06:31] SimonCropp opened #6619 "Example usage of NullabilityInfoContext fails on preview.7"
* 6.0.100-preview.7.21379.14
 * Current Window10
 * VS2019 Preview

here https://github.com/dotnet/core/issues/6444#issuecomment-891999111 the following (slightly modified) example is used

    class Target
    {
        public (string?, object) TupleField;
    }

    [Fact]
    public void Test()
    {
        var type = typeof(Target);
        var tupleField = type.GetField("TupleField");

[2021-08-23 06:50] buyaa-n commented on #6619
@SimonCropp thank you for reporting, you are right, the example is supposed to have a `Tuple`, not `ValueTuple`, i have updated the example with:
`public Tuple<string?, object> TupleField;`

Though I think it should work for `ValueTuple` too, i will fix that

[2021-08-23 17:13] Rits333 commented on #6598
try this
**docker build -t imagename:version_number  .  **
and once shared the dockerfile image

[2021-08-23 17:40] leecow commented on #6612
I was able to successfully install and run the latest 5.0 SDK from the 20.04 distro. Can you confirm through a manual Docker run and search for the sdk? Something like the following.

In the Mac terminal run `docker run -it ubuntu:20.04 bash` then,  at the resulting Docker bash prompt -

[code]

[2021-08-23 19:44] mairaw commented on #6617
Can you paste the output of the following commands?
`dotnet --info`
`where.exe dotnet`

[2021-08-23 21:00] #6588 closed

[2021-08-23 21:00] #6590 closed

[2021-08-23 22:02] #6498 closed

[2021-08-23 22:02] #6578 closed

[2021-08-24 01:09] quanljh commented on #6614
This issue was solved, for more info please see https://github.com/dotnet/sdk/issues/19996

[2021-08-24 01:09] #6614 closed

[2021-08-24 05:26] wfurt commented on #6375
All the RID work should be done. 3.1 is [here](https://github.com/dotnet/corefx/pull/43099).

[2021-08-24 09:57] tahirkilic opened #6620 ".net core 3.1 DeflateStream is incompatible with .net framework 4.8 DeflateStream"
The following code snippet outputs different byte array in .net core 3.1 and .net framework 4.8. This can not be an optimization issue in the Deflate algorithm because an empty array is being compressed.

By the way, DeflateStream guarantees that the output is smaller or equal to input. When the input is an empty array, the output has to be an empty array.

.net core 3.1 :
Compress(new byte[0])

o

[2021-08-24 10:09] tahirkilic opened #6621 "DeflateStream as a base class causes infinite loop in async scenario."
DeflateStream in .net standard 2.0 does not have the method WriteAsync<T>(...). If a class derives from DeflateStream(.net standard 2.0) and used in .net core 3.1, then the WriteAsync<T>(..) goes to infinite loop because:

-Since DeflateStream(.net standard 2.0) does not have WriteAsync<T>(..), the Stream.WriteAsync<T> is used.
-Stream.WriteAsync<T>(..) internally calls BeginWrite(..)
-BeginWrite(

[2021-08-24 14:33] jeromelaban commented on #6595
I'm getting this error on CI on macOS specifically, since a few hours.

Here's an example: https://dev.azure.com/uno-platform/Uno%20Platform/_build/results?buildId=32328&view=logs&j=eb40ee8c-c15a-5b86-e8f8-c957f416d765&t=7b4a93a7-f0fb-5b1e-a9ea-609a25e9f0ec&l=17980

There are two errors, in fact:
[code]

and

[code]

[2021-08-24 17:22] sergiorpvn opened #6623 "Request QueryString keys became case-sensitive"
I'm testing my project on .net6-preview7 to do some tests (it was on .netcore 2.1), and some GET requests from my front-end are failing now.

The reason is that the query string parameters are now case-sensitive. In some requests, the front-end is sending the parameters with the first letter in uppercase and the parameter on my .net6 backend app is in lowercase, I changed the first letter to lower

[2021-08-24 21:08] TheHeksiii commented on #4446
Hope this gets resolved soon, but atleast the fix worked :)

[2021-08-24 21:22] #6598 closed

[2021-08-25 01:00] richlander commented on #6595
Your SDK is too old. I recommend jumping up to 5.0.400.

This is happening on Linux, macOS, and Windows for a series of reasons. If you upgrade to the latest .NET 5 or .NET 6 SDK, it will likely resolved. I'll explain.

- In [January](https://github.com/dotnet/announcements/issues/173) Debian made a certificate change to distrust Symantec certificates (which nuget.org uses pervasively). We asked D

[2021-08-25 01:18] dtivel commented on #6595
This is tracked via https://github.com/NuGet/Home/issues/11099.  Note that this is Windows only and intermittent.

[2021-08-25 11:41] jeromelaban commented on #6595
@richlander thanks for the update and explanations, upgrading to 5.0.400 fixed it for me.

[2021-08-25 15:23] fuocor opened #6624 "--interactive switch not displaying device flow in version '6.0.100-preview.7.21379.14'"
`dotnet restore --interactive` or `dotnet tool restore --interactive` is not outputting the device flow information for authenticating.

it hangs for the 90 second timeout to elapse.

downgrading the global.json file to '5.0.300' works

[2021-08-26 23:15] transdigiware opened #6626 "Download and install"
To start building .NET apps, download and install the .NET SDK (Software Development Kit).
Check everything installed correctly
Once you've installed, open a new command prompt, make sure the new command promt

Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your

[2021-08-27 17:12] #6625 closed, assigned to dsplaisted

[2021-08-27 22:20] rbhanda opened #6628 "Add support for Windows 11"
This issue is created to track progress for the work to enable Windows 11 support for .NET Core 3.1 and .NET 5.

### Product and Test updates
- [ ] [All teams] Do a compatibility check for the product with the new OS
- [ ] [CoreCLR/CoreFX] Runtime / RID Support update
~- [ ] [Infra] Ensure that the correct Docker images used by teams are built in the dotnet-buildtools-prereqs (if applicable)~
~- [

[2021-08-27 22:22] rbhanda opened #6629 "Add support for Windows Server 2022"
This issue is created to track progress for the work to enable Windows Server 2022 (Architecture: X64 only) support for .NET Core 3.1 and .NET 5.

### Product and Test updates
- [ ] [All teams] Do a compatibility check for the product with the new OS
- [ ] [CoreCLR/CoreFX] Runtime / RID Support update
- [ ] [Infra] Ensure that the correct Docker images used by teams are built in the dotnet-buildto

[2021-08-28 09:27] macakmujo opened #6630 "Unhandled exception. System.DllNotFoundException: Unable to load shared library 'System.Native'"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: macos

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-08-29 01:50] MYTA1802 opened #6631 "wer#123"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-08-29 01:51] MYTA1802 commented on #6631
When the application is ready to be released, you create a release version of the build. In a release version, you remove the code that's required for debugging. Again, in both the visual and the command-line tools, you can compile a release version.

To run the release version, you must install the .NET runtime on the destination computer. This computer will run your compiled .NET assembly.

[2021-08-29 01:59] MYTA1802 commented on #6631
.NET is popular in enterprises for various reasons. Advantages include its ecosystem and its integration with other Microsoft products, including Azure cloud services and on-premise server products. Further, .NET is a strongly typed system, so it avoids many of the bugs that can arise in loosely typed systems. Developers can choose to use an object-based paradigm in C# or a functional-based paradi

[2021-08-29 02:00] MYTA1802 opened #6632 "2344#sdr"
### Description

### Configuration

### Regression?

### Other information

[2021-08-29 02:00] MYTA1802 commented on #6632
.NET is also popular for small projects because of its long history of improvements to the design of languages, APIs, and tools based on customer feedback and telemetry. You can use it to develop full-featured software quickly for prototyping purposes. Furthermore, .NET can run on inexpensive hardware and cloud services. And it outperforms other popular platforms, so it's a great fit for start-up

[2021-08-29 02:01] MYTA1802 opened #6633 "er#1789"
### Description

### Configuration

### Regression?

### Other information

[2021-08-29 02:02] MYTA1802 commented on #6633
.NET can be used to build IoT applications for IoT devices and scenarios. IoT applications typically interact with sensors, displays, and input devices that require the use of general-purpose I/O (GPIO) pins, serial ports, or similar hardware. For example, you can find libraries that work with popular boards like Raspberry Pi and HummingBoard.

[2021-08-29 02:31] #6632 closed

[2021-08-29 02:32] #6631 closed

[2021-08-29 02:32] #6633 closed

[2021-08-29 07:08] ivmazurenko opened #6634 "Question: Is it possible to install android workload on linux?"
### Description

Hello, I have installed dotnet 6 preview  7 on fedora 34 virtual machine in order to check android development

After that i have entered command

    sudo dotnet workload search microsoft

And it returns empty list for me

	Workload ID      Description
	----------------------------

### Configuration

	[*@fedora ~]$ dotnet --version
	6.0.100-preview.7.21379.14

So, I can't instal

[2021-08-29 07:57] JobelAbella opened #6635 "Skynet"
The title of the folder that I run didn't change even I type Console.Title = "Skynet";

[2021-08-29 07:57] #6635 closed

[2021-08-30 01:45] ryank425 commented on #6634
https://github.com/dotnet/maui-samples/issues/187

It is just android without prefix or postfixes.

`dotnet workload search android
`
[code]

[2021-08-30 01:47] hellogutssss opened #6637 "dotnet new --install Reactor.Template"
dotnet new --install Reactor.Template
라 했는데 왜 이렇게 나오죠? .NET SDK 깔았는데

Could not execute because the application was not found or a compatible .NET SDK is not installed.
Possible reasons for this include:
  * You intended to execute a .NET program:
      The application 'new' does not exist.
  * You intended to execute a .NET SDK command:
      It was not possible to find any installed .NET SDKs.

[2021-08-30 02:01] ryank425 commented on #6637
Please make sure that you have .NET SDK installed on your machine.

NET Core 3.1  or NET 5 would work.
https://dotnet.microsoft.com/download

[2021-08-30 09:10] noxish commented on #6381
cannot install dotnet5 on ubuntu, is this still a problem?

[2021-08-30 09:17] janekska commented on #6381
Solved by manual install.

Brgds

Stefano Hämmerle ***@***.***> (šajā datumā: pirmd., 2021. g.
30. aug. 12:11) rakstīja:

[2021-08-30 12:36] mthalman commented on #6628
Windows Docker images are only being provided for Windows Server, not Windows client.  So I'm removing the Docker-related tasks.

[2021-08-30 14:59] MihaZupan commented on #6616
cc: @dsplaisted

[2021-08-30 15:01] MihaZupan commented on #6624
cc: @wli3

[2021-08-30 17:43] richlander commented on #6628
Please clarify (for this and other similar "Add support" issues) that we need to add support for x86, x64, and Arm64. In this particular case, we also need to support x64 emulation on Arm64. So, that's four architectural scenarios.

[2021-08-30 17:58] dsplaisted commented on #6616
What is the error that you're getting?  The StackOverflow post you linked to is from 3 years ago and has a solution.  Were you getting the exact same error?  Did you try the solution suggested?

[2021-08-30 18:10] macakmujo commented on #6616
dotnet doesn't support

[image: image.png]

On Mon, Aug 30, 2021 at 6:58 PM Daniel Plaisted ***@***.***>
wrote:

[2021-08-30 19:00] mairaw commented on #6637
@hellogutssss are you on a Windows machine? If so, can you let us know what's the output of `where.exe dotnet`?

[2021-08-30 20:34] #6617 closed

[2021-08-31 09:22] Sergio0694 commented on #6569
## `DependentHandle` is now public with streamlined APIs

Sharing this here as suggested by @GrabYourPitchforks, as it was missed in the previous posts for .NET 6 Preview 7. The `DependentHandle` type is public in .NET 6 (as per https://github.com/dotnet/runtime/pull/54246), with the following API surface:

[code]

It can be used by (advanced) developers to eg. implement custom caching systems, as

[2021-08-31 17:02] LunaBryan opened #6638 "Problema con la instalacion de RunTimeCompilation version 5.0.9 en Windows 10"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-08-31 17:12] mairaw commented on #6638
Can you provide more information about this issue? Any screenshots or error messages?

[2021-08-31 18:47] ivmazurenko commented on #6634
I have installed Ubuntu virtual machine in order to recheck again. The list always empty

	imazurenko@ubuntu-vm:~$ dotnet --version
	6.0.100-preview.7.21379.14
	imazurenko@ubuntu-vm:~$ dotnet workload search android

	Workload ID      Description
	----------------------------

	imazurenko@ubuntu-vm:~$ dotnet workload search maui

	Workload ID      Description
	----------------------------

[2021-08-31 19:58] schh commented on #5713
Pardon my ignorance here but i'm actually about to go insane trying to work out what this Windows 10 Build 19622 actually is, when it was released, was it even released, if so when. Any build history information like here:

[https://docs.microsoft.com/en-us/windows/release-health/release-information](url)

have no mention of this build number anywhere, and the only build number that looks like it

[2021-08-31 20:16] schh commented on #5713
Thank you for the swift reply, i guess that mean i'm sticking to Grpc.Core for now.

[2021-09-01 14:50] rbhanda opened #6640 ".NET Core 2.1 has reached end of life"
[.NET Core 2.1 reached end of life](https://devblogs.microsoft.com/dotnet/net-core-2-1-will-reach-end-of-support-on-august-21-2021/) on **August 21, 2021**. This means [.NET Core 2.1](https://devblogs.microsoft.com/dotnet/announcing-net-core-2-1/) is no longer supported and updates will no longer be provided. If your application uses NET Core 2.1, we strongly recommend you migrate your application

[2021-09-01 18:45] AbdelsalamDaif opened #6642 "I have created dotnot project and it is not work"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-09-01 19:43] mairaw commented on #6642
What is not working? Are you getting any error messages? If so, which one?

[2021-09-02 11:36] VengateshManiraj opened #6645 "Performance issue on for / loop in Blazor WASM"
I am facing a huge performance issue in Blazor WASM compare to Blazor Server.

      List<DateCollection<T>> events = new List<DateCollection<T>>();
 **events** having 3000 records.

            System.Diagnostics.Stopwatch watch1 = System.Diagnostics.Stopwatch.StartNew();
            for (int i = 0; i < events.Count; i++)
            {
                DateCollection<T> tempData;
                f

[2021-09-02 12:31] Maechto opened #6646 "Problem with .net"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

So I downloaded the .net core SDK, also tried many different versions, but when I type  --list-sdks it says ´´Der Befehl "--list-sdks" ist entweder falsch geschrieben oder konnte nicht gefunden werden.´´(this is in german). I also tried it in vs code and it didnt work either. Al

[2021-09-02 14:45] BDisp commented on #4446
The @nikonthethird workaround fix the "permission denied", thanks. Nonetheless, when I do a "`dotnet clean`" and then "`dotnet build`" I receive the following error randomly. Anyone know why? On `WSL2` I never get this error, regardless of the times I repeat it. Will it be related to the snap bug?

`/snap/dotnet-sdk/137/sdk/5.0.400/Sdks/Microsoft.NET.Sdk/targets/Microsoft.NET.Sdk.targets(464,5): e

[2021-09-02 15:48] rajasekarshanmugam opened #6647 "In .NET 6, Preview 7, having a property name with space and using JsonSourceGenerationOptions causes errors in generated files"
Was trying to move a legacy integration system - unfortunately the specific JSON has a space in the property name.Equivalent property has been decorated using JsonPropertyName attribute. However when trying to move to using the new source generator, there are errors in the generated code files.

For e.g. to reproduce the error, include the below snippet in a new .NET 6 console app.

	[JsonSourceGe

[2021-09-02 16:29] Anipik commented on #6646
you need to do dotnet --list-sdks, also verify if the dotnet path is present in your environment variables.

[2021-09-02 18:10] mairaw commented on #6646
You might be running into the same issue as #5962. Can you let us know what's the output of `where.exe dotnet`?

[2021-09-02 18:42] bvsrvaibhav opened #6649 "'dotnet' is not recognized as an internal or external command error"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-09-02 18:43] bvsrvaibhav commented on #6649
Im using a windows 7 professional. ANd im using a dotnet 32 bit framework

[2021-09-02 18:43] #6649 closed

[2021-09-02 18:50] DivineKorey opened #6650 "VSC"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

When I put in code dotnet then I put in dotnet new console -o myApp It will say Could not execute because the application was not found or a compatible .NET SDK is not installed. but I have .Net installed but it stills say that

[2021-09-02 19:09] mairaw commented on #6650
You might be running into the same issue as #5962. Can you check what `where.exe dotnet` returns?

[2021-09-02 20:37] Const-me opened #6651 "Missing binaries for ARM32 Alpine Linux, despite declaring the support"
### Description

1. Open this web page: https://github.com/dotnet/core/blob/main/release-notes/6.0/supported-os.md#linux At the time of writing, under supported architectures of **Alpine** Linux it says "x64, Arm64, Arm32" .
2. Open that web page: https://dotnet.microsoft.com/download/dotnet/6.0 While the x64 and Arm64 binaries are present, Arm32 is missing for Alpine Linux.

[2021-09-02 20:59] mairaw commented on #6651
Thanks @Const-me!

@rbhanda @leecow was that a new arch that was added? I need to be informed when that happens.

[2021-09-02 21:18] jwillbrandt opened #6652 "Docker won't run dotnet restore."
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/microservice-tutorial/docker-image
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Whenever I try to run the docker build command it fails on the restore, I've attached the error being thrown

[2021-09-02 21:43] Const-me commented on #6651
@mairaw I have checked the similar page for .NET 3.1 and 5.0 — they both only declare the support for x64 and Arm64 architectures for Alpine. I think that’s indeed a new architecture.

If you wonder why I would want to run .NET on that exotic Linux, it’s because of that OS: https://postmarketos.org/ Their latest v21.06 release is based on Alpine 3.14.

[2021-09-02 22:18] Const-me commented on #1133
@richlander Fairly important. A cloud server written in C# which exposes HTTP-based RPC to the Internets, and couple other protocols (e.g. UDP server) to the in-cloud virtual LAN.

There were a few SELinux-related issues with other components of the system, but nothing related to the .NET-based server. To fix, I only needed a few of these magic `firewall-cmd`, `semanage`, and `restorecon` commands

[2021-09-03 01:58] #6626 closed

[2021-09-03 09:08] hhao01-becls opened #6654 "Different number decimal separators for the culture fr-CH in different environments"
### Description

I find a weird thing, and I'm not sure this is a bug or not.
Our code needs to convert the number from string to double for different culture. But when we handle the culture **fr-CH**, we find the inconsistent behavior between local development environment (Win10 x64, VS 2019 with .NET Core 5.0.400) and Azure App Service environment (Windows x64, .NET Core 5.0.204).

You can find

[2021-09-03 10:57] Maechto commented on #6646
its this: C:\Program Files (x86)\dotnet\dotnet.exe
C:\Program Files\dotnet\dotnet.exe

[2021-09-03 14:10] mairaw commented on #6646
So try following the steps I laid out at https://github.com/dotnet/core/issues/5962#issuecomment-780084535 and let us know if that solved your issue (I’m assuming you have a x64 Windows - let me know if you don’t)

[2021-09-03 16:07] #6651 closed

[2021-09-03 18:27] paskes718 opened #6655 "exited with error code 1 watch : Waiting for a file to change..."
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-09-03 18:52] paskes718 opened #6656 "error code 1"
atch : Started
Building...
C:\Users\User\myWebApp\obj\Debug\net5.0\Razor\Pages\Index.cshtml.g.cs(49,71): error CS0246: The type or namespace name 'IndexModel' could not be found (are you missing a using directive or an assembly reference?) [C:\Users\User\myWebApp\myWebApp.csproj]
C:\Users\User\myWebApp\obj\Debug\net5.0\Razor\Pages\Index.cshtml.g.cs(50,81): error CS0246: The type or namespace name

[2021-09-03 19:00] mairaw commented on #6651
Thank you for your feedback @Const-me. We've fixed the website now.
https://dotnet.microsoft.com/download/dotnet/6.0

[2021-09-03 19:04] mairaw commented on #6656
Were you following the asp.net tutorial at https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/intro? Can you show the contents of your Index.cshtml.cs file? Perhaps you edited the .cs file and not the .cshtml as instructed?

[2021-09-03 19:05] mairaw commented on #6655
Duplicate of #6656

[2021-09-03 19:05] #6655 closed

[2021-09-03 19:16] paskes718 commented on #6656
attached

On Fri, Sep 3, 2021 at 3:04 PM Maira Wenzel ***@***.***>
wrote:

[2021-09-03 19:21] mairaw commented on #6656
Files need to be attached via the website unfortunately. It doesn't work through email response.

[2021-09-03 19:22] BDisp commented on #4446
This also happens on a `Debian` distro at `/usr/share/dotnet/`. Only on the second time doing `dotnet build`, builds successfully. I'm using `VirtualBox` shared folders.

`/usr/share/dotnet/sdk/5.0.400/Sdks/Microsoft.NET.Sdk/targets/Microsoft.NET.Sdk.targets(464,5): error NETSDK1029: Unable to use '/usr/share/dotnet/packs/Microsoft.NETCore.App.Host.linux-x64/5.0.9/runtimes/linux-x64/native/apphost

[2021-09-03 19:25] mairaw commented on #6652
Can you help with this @nishanil @shirhatti?

[2021-09-03 22:27] BDisp commented on #4446
@tznind I also having the same issue on `Debian`, but instead of the snap, is with the `/usr/share/dotnet/`. Only on the second time doing `dotnet build`, builds successfully. I'm using `VirtualBox` shared folders.

`/usr/share/dotnet/sdk/5.0.400/Sdks/Microsoft.NET.Sdk/targets/Microsoft.NET.Sdk.targets(464,5): error NETSDK1029: Unable to use '/usr/share/dotnet/packs/Microsoft.NETCore.App.Host.linu

[2021-09-03 23:08] HarutD opened #6657 ".NET Core runtime causing Windows Explorer Taskbar to become garbled and unresponsive."
### Description

### Configuration

### Regression?

### Other information

[2021-09-04 01:12] Santibianucci opened #6658 "'dotnet' is not recognized as an internal or external command, operable program or batch file."
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-09-04 03:06] edision opened #6659 "dotnet new webApp failed,can't load assemblies error"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

System.BadImageFormatException: Could not load file or assembly 'System.Security.Cryptography.Primitives, Version=6

[2021-09-04 20:02] tfaller commented on #6582
I face also a segmentation fault at `dotnet test`, `dotnet build`, ....
Systemd Journal:

`.NET ThreadPool[9789]: segfault at 38 ip 00007f79a28c5c78 sp 00007f798d6162b0 error 4 in ld-2.27.so[7f79a28b9000+29000]`

- Ubuntu 21.04
- snapd  2.51.1+21.04
- dotnet-sdk  5.0.400

[2021-09-05 00:03] Spiralis commented on #4819
I don't think this is working any longer, is that correct?
I just tried `dotnet-sdk-5.0.400-win-x64.exe DOTNETHOME_X64="D:\dotnet\x64" DOTNETHOME_X86="D:\dotnet\x86"`
and it still installed to `C:\Program Files\dotnet`

[2021-09-05 04:03] Const-me commented on #6651
@mairaw Thanks for your help.
I can confirm that 6.0.0-preview.7 runtime indeed works on Alpine arm32. At least on my particular device with Qualcomm Snapdragon 800 MSM8974 CPU, and Alpine Linux OS kernel 5.13.
Not just hello world, I have a non-trivial test suite and my tests completed OK on that device.

[2021-09-05 12:55] Dorantn opened #6661 "app won't load"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows
win 10
Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.
file was not found and keeps asking to download it again

[2021-09-05 14:51] MichaeIDietrich commented on #6411
That's the way to go.

But unfortunately publishing a WPF application still does not support trimming, so even the most basic WPF application will be at least 150MB of data. That's really a shame. :/

[2021-09-05 16:20] mrbeeru commented on #6658
I believe you either:
1) Don't have NET SDK installed
    Download and install the SDK
2) Don't have the SDK's path added to user or system environment variables
    Locate SDK installation path (for me it's `C:\Program Files\dotnet`) and add it to env variables to be recognized by cmd

[2021-09-05 16:48] AbanoubIbrahim98 commented on #5379
ctAttribute' attribute [E:\ITI\Projects\Day7Lab\Day7Lab.csproj]
E:\ITI\Projects\Day7Lab\obj\Debug\net5.0\Day7Lab.AssemblyInfo.cs(18,12): error CS0579: Duplicate 'System.Reflection.AssemblyTitleAttribute' attribute [E:\ITI\Projects\Day7Lab\Day7Lab.csproj]
E:\ITI\Projects\Day7Lab\obj\Debug\net5.0\Day7Lab.AssemblyInfo.cs(19,12): error CS0579: Duplicate 'System.Reflection.AssemblyVersionAttribute' att

[2021-09-05 17:09] mrbeeru commented on #6658
Also check out #5962

[2021-09-05 18:17] vitek-karas commented on #5379
@AbanoubIbrahim98 - in general please create a new issue if the failure doesn't look like the one described in this issue.

As for your problem - please try to delete the `obj` and `bin` folders and try again. Also - can you can that your project has only one `Main` method in it (it also seems that the `Program` class is duplicated).

[2021-09-05 18:35] joeloff commented on #4819
The log files will tell if those properties were reset. If you have any previous install, e.g. 2.1 where this wasn't supported, it will set the default location and everything else will start using that. It only really works well when you start with a clean machine and start with 3.1 and later versions.

[2021-09-05 20:04] BDisp commented on #4446
I already figured out how to fix this issue:

[code]

[2021-09-05 22:35] natery2000 opened #6662 "Dynamic variables used in string interpolation throwing unhandled exception starting .NET 6"
### Description

When utilizing dynamic variables inside of a string interpolation while trying to load the method scope into memory it throws the unhandled exception in the image below. I tried the sample code below in Core 3.1 and .NET 5.0 and neither experience this issue, so it seems to be introduced in 6.0.

![image](https://user-images.githubusercontent.com/11493433/132143105-fc9cd2ee-9d8b-4

[2021-09-06 09:39] riddzzo6 opened #6664 "tanulo"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-09-06 13:23] svick commented on #6662
This is a duplicate of https://github.com/dotnet/roslyn/issues/55609, which has already been fixed. You should see the fix in the next preview.

[2021-09-06 19:52] #6637 closed

[2021-09-06 22:41] teo-tsirpanis commented on #6569
## HMAC one-shot methods (dotnet/runtime#40012)

Like the previous entry, this was missed for .NET 6 Preview 6.

The `System.Security.Cryptography` HMAC classes got some static methods that allow one-shot calculation of HMACs without allocations, similar to the one-shot methods of hashes that were added in a previous release.

[code]

[2021-09-07 08:00] psychoslave commented on #4446
Same issue on an Ubuntu 21.04 with snap 2.51.4.

@merto-dvp solution seems to work, but of course you have to be okay with an edge version:
[code]

[2021-09-07 11:39] Ghyath-Serhal opened #6665 "AddJsonFile with reloadOnChange set to true not working on azure linux app service"
I am trying to change the configuration at runtime using the below code.
config.AddJsonFile("appsettings.json", optional: false, reloadOnChange: true);

It is working normally on a windows app service, however it is not working working on a linux app service

[2021-09-07 18:06] #6638 closed

[2021-09-08 05:42] Majdi8 commented on #6444
الغاء

[2021-09-08 07:29] sunildotnet opened #6666 "Run Error"
dotnet watch run
watch : Could not find a MSBuild project file in 'C:\Users\sunil.AFCONSINFRA\myWebApp\Pages'. Specify which project to use with the --project option.

C:\Users\sunil.AFCONSINFRA\myWebApp\Pages>index.cshtml

C:\Users\sunil.AFCONSINFRA\myWebApp\Pages>dotnet watch run
watch : Could not find a MSBuild project file in 'C:\Users\sunil.AFCONSINFRA\myWebApp\Pages'. Specify which project t

[2021-09-08 07:30] sunildotnet commented on #6666
I could not get the error

[2021-09-08 09:08] vsfeedback opened #6667 "NET5.0.9 ListView BackgroundImage GDI object leakl"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/NET509-ListView-BackgroundImage-GDI-ob/1523781)._

---
[severity:I'm unable to use this version]
When a win forms app shows a form with a ListView Control that has its BackgorundImage set it does not release 3 GDI objects each time it is disposed and Garbage collected, this is causing ma

[2021-09-08 09:22] Marie-Shi commented on #6667
**More info:**
1.	This is not a regression issue, it can repro in .Net Framework, also can repro in .NET 3.1, 5.0& 6.0.
2.	This issue cannot repro in imageList.

**Repro Steps:**

1.	Extract the attachment “BackGroundImageIssue.zip” and open it in VS.
2.	Open Task manger, select the 'Details' tab and add GDI objects column if not already visible.
3.	Build and run the application, click ‘Open Form

[2021-09-08 09:27] Marie-Shi commented on #6667
It is a Winforms issue, dup of https://github.com/dotnet/winforms/issues/5717, please help to close it.

[2021-09-08 12:11] murbanowicz commented on #4446
Same issue with NET 6 preview 7 on Fedora 34

[2021-09-08 12:33] gustavf opened #6668 ""dotnet-dump analyze" throws exception"
dotnet-dump analyze sometimes doesn't work for me but returns following exception:

root@xxxx:~# dotnet-dump analyze outputdump
Loading core dump: outputdump ...
Ready to process analysis commands. Type 'help' to list available commands or 'help [command]' to get detailed help on a command.
Type 'quit' or 'exit' to exit the session.
Unhandled exception: System.Reflection.TargetInvocationException:

[2021-09-08 16:11] Cowlephant commented on #6554
There is a bug with interpolated strings that get rearranged unexpectedly when split out onto new lines. This issue doesn't appear on .NET 5, only .NET 6 Preview 7.

[code]

![image](https://user-images.githubusercontent.com/13950486/132545603-47e935ae-9399-4ca9-ae48-645834df0dd8.png)

[2021-09-08 18:57] #6667 closed

[2021-09-08 19:01] mairaw commented on #6666
Try running the command `cd..` to go one level up and then running the command again from the myWebApp folder.

[2021-09-08 20:21] #6642 closed

[2021-09-09 08:14] sayajin101 commented on #2186
What sorted this error out for me on CentOS 7 was running the following command `yum install icu`

[2021-09-09 19:51] #6650 closed

[2021-09-10 06:05] jenifermary opened #6671 "I want to make chemical structures in my MS Word But I can't"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-09-10 14:57] #6646 closed

[2021-09-10 18:24] kouvel commented on #6569
## .NET 6 compatibility with Intel CET shadow stacks (early preview on Windows)

[.NET 6 compatibility with Intel CET shadow stacks](https://github.com/dotnet/runtime/blob/release/6.0/docs/design/features/intel-cet-dotnet6.md) is available to try as an early preview from RC1 on Windows for x64 applications. Interested early adopters are encouraged to try it out by opting in at an application level

[2021-09-10 19:27] BrayanOvalle16 opened #6674 "I just downloaded .net sdk, and the installation was successful. However, when I try to download some tools on the cmd, it just says " It was not possible to find any installed .NET Core SDKs Did you mean to run .NET Core SDK commands? Install a .NET Core SDK from: https://aka.ms/dotnet-download""
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-09-10 20:04] #6656 closed

[2021-09-10 20:19] svick commented on #6674
That error message is usually shown when you install the .Net *Runtime*, but not the .Net *SDK* (yes, it can be confusing). Can you try installing it again, this time making sure it's the SDK?

[2021-09-10 22:23] EzequielYa commented on #6553
Att net

[2021-09-10 22:26] mairaw commented on #6674
This might also be the same problem as issue #5962

Check the output of `where.exe dotnet` and if your system is x64 and the x86 path returns first, please follow the steps highlighted on that issue to fix the problem.

Let us know if that helps.

[2021-09-11 01:11] BrayanOvalle16 commented on #6674
It worked! Thank you.

[2021-09-11 08:29] BoNorah opened #6675 "dotnet' is not recognized as an internal or external command"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/create
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-09-12 10:06] reesaam commented on #2083
The Packages Versions of Android and iOS Projects remain! I don't know why!
You can go to the Android and iOS Project Root Folder, which couldn't be seen in the Solution Explorer in the VS, So you should modify it by Notepad. You will see the Previous versions, edit them to the new desired version.

[2021-09-12 16:38] eduardarn opened #6676 "error MSB3552"
Hello, I'm a beginner when it comes to c#, so I was just doing some exercises when I ran into an issue:
error MSB3552, resource file **/*.resx couldn't be located.
I'm using macOS (Big Sur 11.4), .net 5.0
This is not allowing me to run the codes on Visual Studio Code

[2021-09-12 22:22] davidbuckleyni opened #6677 "Issue Scaffolding Identity source generators."
### Description

When I am using Visual Studio 2022 I want to sometimes scaffold Identity pages so that I can override the themes. In my .NET 5 project I go to Root Node Right Click and select New Scaffolding Item, I get  dialog with options to overide the files

### Configuration

### Regression?
![image](https://user-images.githubusercontent.com/5619229/133004649-a22370a0-6a44-4a9e-b29d-7904670a

[2021-09-13 15:55] CaioLucioRodrigues commented on #6676
Hello, see this topic, maybe will help you.
https://stackoverflow.com/questions/45607039/resource-file-resx-cannot-be-found-msb3552-on-vs-for-mac

[2021-09-13 17:27] basavg009 opened #6679 "docker daemon is not running"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/deploy-microservice-tutorial/docker-hub
Operating System: windows

Below is the error when I issue docker login and provide my docker credentials

error during connect: This error may indicate that the docker daemon is not running.: Post "http://%2F%2F.%2Fpipe%2Fdocker_engine/v1.24/auth": open //./pipe/docker_engine: The system canno

[2021-09-13 17:59] mairaw commented on #6674
Great to hear. Closing the issue then.

[2021-09-13 17:59] #6674 closed

[2021-09-13 19:34] BennyH14 opened #6680 "Log in issues and download issues"
Problem encountered on https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.